[2017-12-27 15:26] sswapnesh commented on #20119
Hello @sle-odoo
Give me few minutes. I am checking it on runbot.

[2017-12-27 15:29] sswapnesh commented on #20119
Just generated on Runbot.

[Here](http://288639-11-0-754c73.runbot8.odoo.com/web?#id=1&view_type=form&model=mrp.bom&action=767&menu_id=511) is the Bom.

You should get traceback for this [Order.](http://288639-11-0-754c73.runbot8.odoo.com/web?#id=40&view_type=form&model=mrp.production&action=759&menu_id=)

[2017-12-27 15:30] sle-odoo commented on #20119
@sswapnesh ok, found the issue. it's due to the fact that the cost analysis should not be printed on a not yet done MO, indeed
- the cost method is applied when validating a move so it doesn't make sense to display it at this time (you probably want to see the bom cost report)
- the view expects to work on move where the quantity cannot be 0, and if you use an optional bom line, the quantity is 0

[2017-12-27 15:41] lap-odoo commented on #18563
@eLBati : I agree but it is not officially supported and maintained by Odoo SA. If features are included into official Odoo SA modules, we take care of the bug fixing, of the updates that may be necessary and we upgrade the module from one version to the other. That being said, It's your choice to decide if you want to help or not knowing that, as explained, all the features/data related to invoic

[2017-12-27 15:44] sswapnesh commented on #20119
One more thing I noticed when I copied [MO/00021](http://288639-11-0-754c73.runbot8.odoo.com/web?debug#id=40&view_type=form&model=mrp.production&action=759&menu_id=511) (It is done State), It created MO/00022 (In Confirmed state) but I didn't get Buttons to Produce MO.

![](https://image.prntscr.com/image/J0up8tavRLiGJoi11nf_Xw.png)

Correct me If I am missing something.

[2017-12-27 19:59] wguerram opened #21882 "Point of Sale not loading javascript files defined in custom modules"
Impacted versions:
11

Steps to reproduce:
Create a new module, add template under views, js and xml under static/src. I'm loading some fields and a new model using load_fields and load_models. See attached screenshots.

If further details are needed I can provide them.

Current behavior:
My code works when I run in development mode with assets but doesn't work when I run in user mode.

I've tryin

[2017-12-27 20:45] oerp-odoo commented on #21764
@Yenthe666
Hm, it seems this was my misunderstanding of when wire transfer is showed as a payment.

It collects acquirers by checking what kind of payment flow they have. This part is important for wire transfer:

[code]

For wire transfer it must be `form`, so it would be included in website shop (using standard settings). Though confusing part was how those different flows are labeled:

There ar

[2017-12-27 20:45] #21764 closed

[2017-12-27 23:31] fmdl opened #21883 "[BUG] Report : print date&time is not in user format"
**Impacted versions:**
11,10,9 (and other)

**Steps to reproduce:**
Print a report with internal_layout (exemple : Accounting/PDF report/Journal audit
In the top left corner the date&time are not in the current user lang format, in some case it could be an issue (american/europe format).

**Current behavior:**
![image](https://user-images.githubusercontent.com/16716992/34396011-2caaad4a-eb66-11e7-

[2017-12-28 03:02] libukoshy opened #21886 "Payment Difference Amount is not updated correctly"
Impacted versions: v 11

Steps to reproduce: Create a sale order, create Invoice for that order ,register payment then choose down payment with fixed amount ,it showing this behavior.

Current behavior: In Register payment popup wizard generate with a unknow value as payment due.

Expected behavior:

Video/Screenshot link (optional):

![sc1](https://user-images.githubusercontent.com/4153342/343990

[2017-12-28 03:55] auyeung112002 commented on #21886
Different Currency? Bank(INR)

[2017-12-28 04:56] auyeung112002 opened #21888 "[Account] Payment wrongly generated entries when there is payment difference and exchange difference"
# Impacted versions:
V10 impacted, V9, V11 not tested

# Steps to reproduce:
## 1. Login to V10 runbot
## 2. Accounting->Settings, Change Default Company Currency to EUR, and Allow Multiple Currencies and set exchange rate diffence journal
## 3. Accounting->Multiple Currencies->Currencies, Set USD Exchange as 0.895@2017-11-01 and 0.88@2017-12-01
![image](https://user-images.githubusercontent.com/8

[2017-12-28 05:04] auyeung112002 commented on #21888
@Yenthe666 Would you please help to convey this issue to odoo responsible staff?

[2017-12-28 05:13] auvipy commented on #8530
isn't this fixed?

[2017-12-28 06:26] shashishekhar1001 commented on #13482
Same thing happening in Odoo v 11.0. I hope this bug is fixed.

[2017-12-28 06:35] shashishekhar1001 opened #21889 ""Label on Invoices" option is not showing when option Group of Taxes is selected"
Impacted versions: 11.0

Steps to reproduce:

1) Go to Accounting -> Configuration -> Accounting -> Taxes
2) Open or Create any tax.
3) Change field Tax Computation to Group of Taxes
4) Click on Advanced Options tab
5) No field for Label on Invoices is shown

Current behavior:
When printing, the value that the localization has on this field is the one that is going to show, some localizations have

[2017-12-28 06:55] auyeung112002 commented on #21888
https://github.com/odoo/odoo/issues/15000

Not sure if it is related?

[2017-12-28 07:00] Yenthe666 commented on #8530
Hi @auvipy,

Good catch actually. Odoo 11 now has full Python 3 support. Some things aren't implemented (yet) such as async but I'd say overall that this wishlist item is handled.

[2017-12-28 07:00] #8530 closed

[2017-12-28 07:00] Yenthe666 commented on #21888
@qdp-odoo is already assigned and it is labeled for accounting so this should be handled as soon as he has some spare time.

[2017-12-28 07:09] Yenthe666 commented on #21882
Hi @wguerram,

Thank you for your report.
Your `templates.xml` file looks quite weird though. Why are you putting your custom JS in through an xpath after `tests.js`? You should do something like this:
[code]

Can you try this first please?

[2017-12-28 07:35] Yenthe666 commented on #7696
Hi @lepistone,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-28 07:35] #7696 closed

[2017-12-28 07:37] Yenthe666 commented on #7701
Hi @SanathT,

Thank you for your report - this is no longer the case in newer versions. You can now go forward and backwards for roughly 100 years.

Regards,
Yenthe

[2017-12-28 07:37] #7701 closed

[2017-12-28 07:38] Yenthe666 commented on #7631
Hi @falinwa,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to crea

[2017-12-28 07:38] #7631 closed

[2017-12-28 07:39] Yenthe666 commented on #7689
@anajuaristi is that really a problem though? I find it a bit logical that it gets set to null?

[2017-12-28 07:40] Yenthe666 commented on #7592
Hi @etsinko ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-12-28 07:40] #7592 closed

[2017-12-28 07:45] Yenthe666 commented on #7475
Hi @netdur,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-28 07:45] #7475 closed

[2017-12-28 07:46] Yenthe666 commented on #7469
Have a look at the documentation for these kind of things. See https://www.odoo.com/documentation/11.0/

[2017-12-28 07:46] #7469 closed

[2017-12-28 08:18] Yenthe666 commented on #7494
Yep - this was a wkhtmltopdf issue. Either the package had an issue or your OS had IO problems.

[2017-12-28 08:18] #7494 closed

[2017-12-28 08:20] Yenthe666 commented on #14205
@sle-odoo any update? 😉

[2017-12-28 08:21] Yenthe666 commented on #14139
Hi @yboujraf,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-28 08:21] #14139 closed

[2017-12-28 08:23] Yenthe666 commented on #14090
Thanks for answering this @yostashiro!
I believe you're correct with your answer and that this is intended behaviour.

[2017-12-28 08:23] #14090 closed

[2017-12-28 08:50] sle-odoo commented on #14205
@Yenthe666 I'm pretty sure we won't change that in 10/11 as in our core apps these kind of buttons are always in a wizard, where it make sense to not disable the button to allow the user updating the values and re-render the report. I also don't think making the button inactive only if the form view has no inputs is clean nor user friendly (the user won't understand why sometimes the button is cha

[2017-12-28 08:50] #14205 closed

[2017-12-28 09:28] Yenthe666 commented on #18817
@jco-odoo perhaps it is nice to have this working?

[2017-12-28 09:29] Yenthe666 commented on #18805
Hi @vicky198609,

Could you please let us know which card reading you are using and how you've connected it?

[2017-12-28 09:31] Yenthe666 commented on #18792
@mart-e I've noticed this one before too actually. Could you have a look?

[2017-12-28 09:38] Yenthe666 commented on #18669
@femioz any update?

[2017-12-28 09:48] Yenthe666 commented on #18679
@nim-odoo any update please?

[2017-12-28 09:49] Yenthe666 commented on #18639
As mentioned by intero this is not a bug. If the amount is 0.00 and you validate it there is literally nothing to invoice.

[2017-12-28 09:49] #18639 closed

[2017-12-28 10:10] Yenthe666 commented on #18477
Hi @Fuchur777,

Thank you for your report.
I've just tested this on the latest Odoo 10 and it has been fixed in the meanwhile:
![image](https://user-images.githubusercontent.com/6352350/34407633-af92aede-ebbf-11e7-82be-7b2dc9ff363d.png)
Please update your Odoo to the latest source code to fix this.

Regards,
Yenthe

[2017-12-28 10:10] #18477 closed

[2017-12-28 10:13] Yenthe666 commented on #18430
@JKE-be can you give feedback on this one when you're back from your vacation?

[2017-12-28 10:14] Yenthe666 commented on #18418
@d-fence maybe for you?

[2017-12-28 10:22] Yenthe666 commented on #18116
@nim-odoo and @ged-odoo any update here?

[2017-12-28 10:27] auyeung112002 opened #21897 "[Enterprise] [Account] Wrong Net Profit Margin in Executive Summary"
# Impacted versions:
All Enterprise since executive summary is introduced

# Steps to reproduce:
## 1. Create a demo database on odoo.com
## 2. Install Account Module and input some data.
![image](https://user-images.githubusercontent.com/8391358/34407897-c0e517da-ebfb-11e7-9b2c-d0303ca10207.png)

# Current behavior:
![image](https://user-images.githubusercontent.com/8391358/34407941-f3f72e88-ebfb

[2017-12-28 10:31] #17942 closed

[2017-12-28 10:31] Yenthe666 commented on #17942
Initial problem was fixed in https://github.com/odoo/odoo/commit/404033daf3e6828c2e0645a71f7da9bd2a80bf40 so this can be closed.

[2017-12-28 10:37] eLBati commented on #21119
Meanwhile I made a module https://github.com/OCA/social/pull/223 to get anyway notified about bounced emails

[2017-12-28 11:12] auyeung112002 commented on #21897
Asked my friend who is an accountant, other income should not included in calculating net profit margin. Please check with odor in house accountant.

[2017-12-28 12:28] Yenthe666 commented on #7306
Fixed way back but never closed. Locky lock!

[2017-12-28 12:28] #7306 closed

[2017-12-28 12:28] Yenthe666 commented on #7744
Hi @alangwansui,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-28 12:28] #7744 closed

[2017-12-28 12:29] Yenthe666 commented on #8360
Hi @a0c,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-28 12:29] #8360 closed

[2017-12-28 12:29] Yenthe666 commented on #8127
Hi @jlaloux,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to crea

[2017-12-28 12:29] #8127 closed

[2017-12-28 12:30] Yenthe666 commented on #8534
Yep - if you'd like to have this you can do it with some custom code. This was/is intended behaviour 😉

[2017-12-28 12:30] #8534 closed

[2017-12-28 12:31] Yenthe666 commented on #8493
Hi @meswapnilwagh,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-28 12:31] #8493 closed

[2017-12-28 12:32] Yenthe666 commented on #8469
This has been fixed in the meanwhile. 😉
![image](https://user-images.githubusercontent.com/6352350/34410899-95f43740-ebd3-11e7-9d55-0a91b8044eb2.png)

[2017-12-28 12:32] #8469 closed

[2017-12-28 12:33] Yenthe666 commented on #8400
Hi @saimon69,

Please update your Odoo to the latest version. For more information have a look at https://www.odoo.com/documentation/11.0/
This problem can't be reproduced on the latest Odoo anymore.

[2017-12-28 12:33] #8400 closed

[2017-12-28 12:34] Yenthe666 commented on #8381
@sle-odoo can you give an update / feedback here please?

[2017-12-28 12:34] Yenthe666 commented on #8299
Hi @kartikdanidhariya,

Thanks for the bug report.
Please update your whole Odoo, do a `-u all` and recompile all assets. A lot has been improved since this bug report to prevent these kind of issues.

Regards,
Yenthe

[2017-12-28 12:34] #8299 closed

[2017-12-28 12:37] Yenthe666 commented on #8976
Hi @falinwa,

Thank you for your bug report.
I've just tried this on the latest Odoo 9.0 and it has been fixed in the meanwhile. Please update your Odoo and try again.

Regards,
Yenthe

[2017-12-28 12:37] #8976 closed

[2017-12-28 12:46] Yenthe666 opened #21898 "[9.0] Deinstalling and reinstalling marketing campagne makes it impossible to choose website theme"
Impacted versions: 9.0 (I've seen similar behaviour on 10.0 and 11.0 but haven't found a reproducable way yet)

Steps to reproduce:
1. Deinstall `marketing_campaign`
2. Reinstall `marketing_campaign`
3. After a few seconds you'll see the page to select your theme but it simply shows `False` and you can't choose a theme. You're also 'stuck' on this page:
![image](https://user-images.githubuserconte

[2017-12-28 12:48] Yenthe666 commented on #21898
OPW 802936

[2017-12-28 13:09] sle-odoo commented on #8381
Hi,
You also have to edit [this view](https://github.com/odoo/odoo/blob/8.0/addons/report/views/layouts.xml#L146) by adding the font's link.

In recent Odoo versions, there's a pdf assets which is loaded in header/body/footer, so you don't have to add the font in two different views.

Regards

[2017-12-28 13:09] wguerram commented on #21882
Hi @Yenthe666, thanks for taking the time to review this, I really appreciate it. I have no words.

Your solution worked, looks like odoo doesn't like the <script> </script> tag but this <script/>. that did the trick.

Quick question, I see the id label says assets_backend but you'r not including _backend in the inherit_id, is that the standard way?

[2017-12-28 13:15] sle-odoo commented on #17093
@tahirlanre could you try the suggestion of gdgellatly and see what's the embedded font in the pdf and replace it in your system?

[2017-12-28 13:32] Yenthe666 commented on #21882
Hi @wguerram,

No problem, happy it helps.
As for the id label having `assets_backend` and the `inherit_id` not having it: I usually add `_backend` or `_frontend` so that I know if the assets are for the backend or the Odoo frontend (website). This is a bit personal I guess.

[2017-12-28 13:32] #21882 closed

[2017-12-28 14:36] #20119 closed

[2017-12-28 14:49] Yenthe666 commented on #21686
Fix on the way at https://github.com/odoo/odoo/pull/21900

[2017-12-28 14:49] d-fence commented on #18418
@Yenthe666 Not the packaged version (10.0 is an .exe) and was not able to reproduce.

[2017-12-28 14:51] Yenthe666 commented on #18418
@maksym-synkevych can you still reproduce this issue on the latest Odoo 10?

[2017-12-28 15:20] nim-odoo commented on #21686
@ged-odoo this one is going to be open to discussion. The issue arises when a float field has the `widget='monetary'` attribute. If the float field has a decimal precision of 6 and the currency has a precision of 2, things gets a bit messed up.

At the moment, when setting `widget='monetary'`, we round to 2 decimals, i.e. the widget option has the priority over the field precision. That works for

[2017-12-28 15:24] ycherniavsky commented on #21877
After some investigation of this issue, I found that method `message_process` of `mail.thread` model (`MailThread` class) return `False` instead if `id` of the created model instance (in my case `crm.lead`). And if dig dipper in method `message_process` it gets its return value from method `message_route_process`, which correctly create the new model instance, but does not return `id` of this inst

[2017-12-28 15:41] valer9n commented on #21877
I have the same trouble

[2017-12-28 15:43] Yenthe666 commented on #21877
@tde-banana-odoo perhaps for you?

[2017-12-28 15:52] Yenthe666 commented on #17226
@jco-odoo is there any update on this one? The PR has been quiet for quite a while.

[2017-12-28 15:52] Yenthe666 commented on #17122
@spacegoing are you using any non-standard Odoo modules? Can you reproduce it on an official runbot (runbot.odoo.com)?

[2017-12-28 15:53] Yenthe666 commented on #17102
@sbidoul what response did you get on ticket 744362?

[2017-12-28 15:56] Yenthe666 commented on #16893
@aisopuro could you give more feedback for jco?

[2017-12-28 16:26] wtaferner opened #21903 "[10.0] Inherited view is not working with Many2one on itself"
**Impacted versions:**
10.0 and above

**Steps to reproduce:**

[code]
[code]
**Current behavior:**
Error while valildating the view as the field is not found although it is registered and working...easily tested by adding it to the main view which should be inherited in the database

**Expected behavior:**
Validation should not block if the field is available and ready to use

@rco-odoo @nim-odoo

[2017-12-28 18:16] sswapnesh opened #21904 "Invalid Status (Locked/Unlocked) of Manufacturing order"
Impacted versions: 11.0

Steps to reproduce: Go to [runbot](http://289107-11-0-012682.runbot8.odoo.com/web?debug#view_type=list&model=mrp.production&menu_id=487&action=680) --> Create new Manufacturing order --> It will create new MO in Locked state (Unlock button is also visible)

Current behavior: MO is created in the Locked state.

![](https://image.prntscr.com/image/-8cZ_9CqTuy4k6KnEsIjGw.png)

[2017-12-28 18:19] sswapnesh commented on #21904
@sle-odoo
This has been introduced from this [Commit](https://github.com/odoo-dev/odoo/commit/94b673dd293c3889c41b026e98dcab5033a72250#diff-b62e2447dcdf46e87d838527e24dc866R163)

[2017-12-28 18:31] sle-odoo commented on #21904
it's the expected behavior, isn't it? if i'm not wrong, the unlock is only visible to the mrp manager and allows to edit the reserved quantities and other things.

[2017-12-28 18:50] sswapnesh commented on #21904
Those buttons Lock/Unlock are only visible to MRP manager.
But what I am thinking is "`Unlock`" should unlock (`set is_locked= False`) the MO and should be visible if MO is locked and "Lock" should be visible and it should (`set is_uocked= True`).

So when we create MO, `is_locked` should be set to `False` and Lock button should be visible.

[2017-12-28 18:55] sswapnesh commented on #21904
@jco-odoo I am not sure If I should ping you or not but you have added this [here](https://github.com/odoo/odoo/commit/94b673dd293c3889c41b026e98dcab5033a72250).

[2017-12-28 19:01] sle-odoo commented on #21904
the mo should be locked by default, and then if a manual change is needed, the manger unlock it, change the quantities and lock it again

what's the usecase you cannot do with the current implementation?

[2017-12-28 19:06] sswapnesh commented on #21904
I agree with this use case also but the Same works differently for Sale order, So it is Confusing.

You can close this If you believe the current scenario for MO is more usable.

[2017-12-28 19:30] sswapnesh opened #21905 "Uninstalling website module blocks general settings"
Impacted versions: 11.0

Steps to reproduce: Just test on [Runbot](http://289106-11-0-b95622.runbot13.odoo.com/web?debug=1#id=&view_type=form&model=res.config.settings&action=110&menu_id=4) --> Uninstall website module --> Go to the Configuration page for any module > Make any changes and save it.

Current behavior: [Odoo Server Error - Validation Error]

![](https://image.prntscr.com/image/Gx3lGx

[2017-12-28 20:04] sle-odoo commented on #21904
i get your point... it is however consistent with the pickings and also with the sale order if you enable the "auto lock" mechanism.

i consider it the expected behavior and we cannot change this in 11 anyway.

thank you for the reports though, if you stumble on others issues feel free to ping me

[2017-12-28 20:04] #21904 closed

[2017-12-28 23:17] qdp-odoo commented on #21452
Indeed. We, at R&D, aren't bound to any customer satisfaction, SLA or delay-to-reply things. It's fine if you're not in a hurry 'cause we're having our own priorities ^^

@csnauwaert can you have a look at this, please?

[2017-12-28 23:19] qdp-odoo commented on #20924
@nim-odoo can you dispatch to one of your guys?

[2017-12-29 06:12] yasii1991 commented on #15220
I'm getting the following error while trying stripe payment in enterprise 10:

22] "GET /payment_stripe/static/src/js/stripe.js?_=1514526130959 HTTP/1.1" 200 -
2017-12-29 05:42:24,542 7843 ERROR walkintours_data_import odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/home/www/odoo/odoo/Walkintours/odoo/http.py", line 646, in _handle_exception
    retur

[2017-12-29 07:34] develetham commented on #19814
Same here but with something different
2017-12-29 07:32:04,816 1766 ERROR Omnibus odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 677, in dispatch

[2017-12-29 07:40] Yenthe666 commented on #21905
Hi @sswapnesh,

Thank you for the bug report.
I've just tested this and I can confirm that this is a bug.
I've made an official bug report with ticket number 803018

Regards,
Yenthe

[2017-12-29 07:59] astirpe commented on #21347
It seems to me that this issue was fixed with commit https://github.com/odoo/odoo/commit/1f09312bde9c61e8626f563fcda803272572c4b6 made by @jem-odoo.

@ThijsvOers could you please check whether the issue still occurs on runbot?

[2017-12-29 08:20] jem-odoo commented on #21347
Yes, indeed. Sorry, I forget to tell you.
If you confirm the problem is solved, we can close this issue.
Thanks ;)

[2017-12-29 08:25] Yenthe666 commented on #21686
@nim-odoo I saw you've just merged in https://github.com/odoo/odoo/commit/88afd055cfc96f6505eec7547419ad96e37ab28d but there is no response on your previous comment. Could you summarize what was concluded please?
@oerp-odoo https://github.com/odoo/odoo/commit/88afd055cfc96f6505eec7547419ad96e37ab28d should fix your issue probably.

[2017-12-29 08:41] nim-odoo commented on #21686
88afd055cfc96f6505eec7547419ad96e37ab28d is not related to this issue

[2017-12-29 08:52] Yenthe666 commented on #21686
I've been too fast here, just another rounding issue but then for the frontend (and without the widget). My apoligies!

[2017-12-29 10:16] Yenthe666 commented on #21765
Hi @davidgomezq,

Thank you for your bug report.
Where exactly is the URL placehold.it in your comment coming from? Can you reproduce this problem on an official Odoo instance at runbot.odoo.com? We'll need more information to handle this one.

Regards,
Yenthe

[2017-12-29 10:18] Yenthe666 commented on #21711
Hi @JADCO5692,

Can you confirm that activating the "Customer Information Manager" option solves your issue ? If you can provide us with feedback we can make a fix.

[2017-12-29 10:21] Yenthe666 commented on #21650
Hi @sergeiruzkiicode,

Thanks a lot for the report.
All the cases that you describe are actually intended behaviour and work as expected. There is no intention to change this at this point plus these kind of changes wouldn't even be possible in a stable version.
Nevertheless I've labeled it with functional review so somebody else can still look at it eventually (if wanted).

Regards,
Yenthe

[2017-12-29 10:21] #21650 closed

[2017-12-29 10:22] Yenthe666 commented on #21331
@mart-e you gave feedback on https://github.com/odoo/odoo/issues/21117 and closed it but we have another bug report about this. Perhaps this gives you a better idea?

[2017-12-29 10:26] Yenthe666 commented on #21027
Hi @habin201291,

Thank you for your bug report.
Could you please try to update your whole Odoo and try again? Do you have custom development in this environment?

Regards,
Yenthe

[2017-12-29 10:32] Yenthe666 commented on #20822
@mohitg1213 just a sanity check: did you update your Odoo to the latest codebase?

[2017-12-29 10:39] Yenthe666 commented on #20714
Hi @goutoudis,

Thank you for your bug report.
What exactly do you mean with "then link change from www.odoo.com to http://192.168.1.3/www.odoo.com"? There is nothing that changes the link in the email to contain the IP too. As for the https: the Odoo website will automatically redirect HTTP calls to HTTPS so that shouldn't be any issue.

Regards,
Yenthe

[2017-12-29 10:58] Yenthe666 commented on #20439
@gustavovalverde can you confirm you where talking about the general ledger?

[2017-12-29 11:04] Yenthe666 commented on #20395
Hi @asmendez,

Thank you for your bug report.
I'm not really sure that I get you right though. If you fill in 5 in the field execute every and save it will save 5. If you fill in 0 it will save 0.
If you want to run it continously you can set the execute every very shirt (for example 1 minutes) but it will cost you resources - which is logical. If you want to use less resources and want your Odoo

[2017-12-29 11:21] Yenthe666 commented on #20625
Hi @dmldima,

Thank you for your report.
What exactly do you mean with "choose sales order item"? Can you please add more information and/or a screenshot?

Regards,
Yenthe

[2017-12-29 11:33] Yenthe666 commented on #20765
Hi @dxepitropov,

Thank you for your bug report.
I've just tested this and I can confirm that this is a bug.
I've made an official bug report with the number 803051 and it should be handled soon.
OPW 803051

Regards,
Yenthe

[2017-12-29 12:26] Yenthe666 commented on #20366
@august434 have you tried the proposal from @W360S? (Thanks @W360S)

[2017-12-29 12:27] Yenthe666 commented on #20327
Hi @guesmihela,

Thank you for your report.
The Github tracker is only for bugs in the official code though, it is not the place to ask questions about implementation. You might want to ask this on the official help forums (help.odoo.com) or have a look at the official documentation at https://www.odoo.com/documentation/user/11.0/index.html

Regards,
Yenthe

[2017-12-29 12:27] #20327 closed

[2017-12-29 12:29] W360S commented on #20366
you're welcome :)

[2017-12-29 12:33] Yenthe666 commented on #20234
Hi @prakashkumar163,

Thank you for your report.
We do not have enough information to test / validate this though.
Can you please try to reproduce this on a runbot instance (runbot.odoo.com) and add more information about the steps you've followed?

Regards,
Yenthe

[2017-12-29 12:36] #20234 closed

[2017-12-29 12:49] Yenthe666 commented on #19648
Hi @gdgellatly,

Thanks for the report - you're actually correct.
I made a PR to fix this minor thing at https://github.com/odoo/enterprise/pull/1724 😉

Regards,
Yenthe

[2017-12-29 12:52] sergeiruzkiicode opened #21919 "Ref.Question. Automatic Currency Rates updates"
Impacted versions:
11e

Exchange rates automatically update functionality is hardcoded in currency_rate_live module for 4 sources.

Will it be refactored for more common API usage or we sholdn't wait and rewrite module for our purpose?

[2017-12-29 12:55] Yenthe666 commented on #20049
Hi @auditum-sfr,

Thank you for your bug report but this is actually intended behaviour.

Regards,
Yenthe

[2017-12-29 12:55] #20049 closed

[2017-12-29 12:57] antonylesuisse commented on #21686
I would suggest <field name="pouet" widget="monetary" widget_options="{'digits': 'Product Price'}" /> or at least an attribute that is literal evaluable/json parsable.

[2017-12-29 13:08] odoosns commented on #21872
Hi All,
If anyone is having any solution for my problem, please suggest me. It will be great help for me.

Thank you

[2017-12-29 13:17] Yenthe666 commented on #21919
Hi @sergeiruzkiicode,

Please do link all the places you're talking about - it'll help Odoo!

[2017-12-29 13:22] Elkasitu commented on #21919
What do you mean by "a more common API usage"? what is your use case? If you want to do your own queries from another module you can just query the APIs yourself, they're all free iirc

[2017-12-29 13:27] Yenthe666 commented on #19535
Closing as there has been no feedback.

[2017-12-29 13:27] #19535 closed

[2017-12-29 13:28] Yenthe666 commented on #19424
@d-fence not sure if it is for you but it only happens on Windows

[2017-12-29 13:40] nim-odoo commented on #21686
Working on it at #21920, should works with:
`<field name="pouet" widget="monetary" options="{'digits': 'Product Price'}" />`

[2017-12-29 13:45] Yenthe666 commented on #19387
Hi @celm1990,

Thanks a lot for your bug report.
This does indeed look like a correct bug. In V11 this is fixed but not in V10.
OPW 803068 - You'll hear back from Odoo soon.

Regards,
Yenthe

[2017-12-29 13:48] Yenthe666 commented on #19355
Hi @vcloud9ray,

Could you try this again please?
It looks like it has been fixed in the meanwhile. I've tried to create a calendar item for a part of the day and one for the full day - both on the 27'th. Result:
![image](https://user-images.githubusercontent.com/6352350/34438441-419c4e42-eca7-11e7-9eb5-ff03e8d87735.png)

P.S: Tested on V11.

Regards?
Yenthe

[2017-12-29 13:50] Yenthe666 commented on #19328
Hi @bigmillz,

Thank you for your bug report.
I've just tried this on the latest Odoo 9 and it works fine out of the box. Please update your Odoo codebase, update your database and try again.

Regards,
Yenthe

[2017-12-29 13:50] #19328 closed

[2017-12-29 13:54] Yenthe666 commented on #19318
Hi @auditum-sbl,

I've just tried this on the latest Odoo 10 but it seems to work fine out of the box?
![image](https://user-images.githubusercontent.com/6352350/34438568-0efe9ed0-eca8-11e7-9c60-8ad6c3a5cf93.png)
After double clicking on the image:
![image](https://user-images.githubusercontent.com/6352350/34438577-1b26458c-eca8-11e7-8078-2f9b47c34c0b.png)

@qsm-odoo perhaps there is room for a us

[2017-12-29 13:58] gustavovalverde opened #21922 "POS Test Workflow should work with a "required" partner on sale"
**Impacted versions:**
10.0, 11.0

**Steps to reproduce:**
Test in Odoo.sh with a POS module that makes the partner a requirement for every sale.

Current behavior:
POS Workflow fails as the partner is required.

Expected behavior:
Most continental (anglo-saxon) countries require a partner on the point of sale; which makes the tests to fail when this is the case.

[2017-12-29 14:09] Yenthe666 commented on #19307
Hi @audit01,

Thanks a lot for your report.
I've just tested this and I can confirm that this is an issue, both in V10 and V11.
OPW 803071.

Regards,
Yenthe

[2017-12-29 14:10] Yenthe666 commented on #21922
Hi @gustavovalverde,

Thanks for your report.
Am I correct that by adding custom development you're breaking the test because you're requiring a customer?

Regards,
Yenthe

[2017-12-29 14:12] Yenthe666 commented on #19266
Hi @auditum-sbl,

After a second check this would actually be against the stable policy. New features or backports of new features are not allowed in older versions. Sorry!

Regards,
Yenthe

[2017-12-29 14:12] #19266 closed

[2017-12-29 14:16] qsm-odoo commented on #19318
Hello,
I indeed never saw the bug reported here... maybe need more information.
And yes, this of course needs usability improvements and we are currently working on it (at least, we are working on making the link and media dialog better and making them interact with each other in a more intuitive way).

[2017-12-29 14:21] Yenthe666 commented on #19318
@qsm-odoo thanks for the fast response. I guess that'll be all for V12? 😉

[2017-12-29 14:22] sbidoul commented on #17102
It has been resolved. Closing.

[2017-12-29 14:22] #17102 closed

[2017-12-29 14:22] wtaferner opened #21923 "[10.0] account_tax_cash_basis: does not take into account if a tax is directly coded in the payment reconciliation"
**Impacted versions:**
10.0 and maybe above

**Steps to reproduce:**
- Define a tax and use tax cash basis by defining the two accounts normally needed
- Go into a bank or cash journal statement and do reconciliation
- In case there is no invoice with the proper intermediate account move lines for the tax not yet and you try to apply this tax on the payment itself it does take the wrong (intermedi

[2017-12-29 14:23] qsm-odoo commented on #19318
Probably, yes :smile:

[2017-12-29 14:27] Yenthe666 commented on #19136
Hi @XtremXpert,

Thank you for your report.
This bug has been fixed in the meanwhile. Please update your local Odoo and try again.

Regards,
Yenthe

[2017-12-29 14:27] #19136 closed

[2017-12-29 14:35] Yenthe666 commented on #19132
Hi @esmairi,

Thanks a lot for your report.
This does indeed give a security error that shouldn't go off. However, if this would be fixed you would get another error though as you haven't saved the record yet. Example:
![image](https://user-images.githubusercontent.com/6352350/34439307-36ffae10-ecad-11e7-94a1-7d7097742f5e.png)
Nevertheless I believe the first dialog (from your report) shouldn't be

[2017-12-29 14:47] Yenthe666 commented on #19068
Hi @WeeDom,

Thank you for your report.
This may seem a bit strange but this is actually intended and normal behaviour. When you're navigation up and down the projects/tasks the breadcrumb just keeps track of where you went. When you keep going back and forth to the same views it'll keep stacking just like you did.
Odoo doesn't consider this a bug.

Regards,
Yenthe

[2017-12-29 14:47] #19068 closed

[2017-12-29 14:48] asmendez commented on #20395
Hi,

I saved in 5 but it didn´t take this value and was changed to 0 by itself.
That´s my problem. After that If I modify some other field like Number of
executions is also saved as 0, by itself, even if i put 5 as the value.

2017-12-29 6:04 GMT-05:00 Yenthe V.G <notifications@github.com>:

--
Ing. Alelí Sánchez Méndez
Especialista en Ciencias Informáticas
Analista de sistemas

[2017-12-29 14:58] Yenthe666 commented on #18963
Hi @reilco,

Thank you for your report but we really need more feedback.
What do you do to get this? Can you reproduce this on an official Odoo test instance at runbot.odoo.com?
Have you tried updating your Odoo first?

Regards,
Yenthe

[2017-12-29 15:02] Yenthe666 commented on #18959
Hi @elsafdama,

Thank you for your report.
I was no longer able to reproduce this. Could you please try this again on an official Odoo test instance at runbot.odoo.com?
Have you tried updating your Odoo codebase to the latest version?

Regards,
Yenthe

[2017-12-29 15:06] gustavovalverde commented on #21922
That's correct @Yenthe666

[2017-12-29 15:09] Yenthe666 commented on #18987
Hi @robin1922,

Thank you for your report.
This is however default behaviour and is in fact the desired behaviour.
If a user has no create permissions the "Add an item" will not be shown, otherwise it will.
In short: not a bug - you'll need to give the users correct access rights.

Regards,
Yenthe

[2017-12-29 15:09] #18987 closed

[2017-12-29 15:16] Yenthe666 commented on #20395
Hi @asmendez,

Thanks for the feedback.
This problem is no longer in the latest update from Odoo. Can you please download all updates, update your Odoo and try again? Your issue should be gone then.

Regards,
Yenthe

[2017-12-29 15:18] Yenthe666 commented on #21922
Hmm doesn't sound like a very big problem to me but perhaps the test can be slightly altered.
CC @jorenvo (sorry for the ping Joren I forgot the other guy his name that does the POS now)

[2017-12-29 15:20] asmendez commented on #20395
OK, Thank you very much

[2017-12-29 15:26] #20395 closed

[2017-12-29 15:27] Yenthe666 commented on #20395
Let me know if that fixed it. If you can still reproduce it afterwards just respond back here and I'll reopen.

[2017-12-29 15:37] Yenthe666 commented on #18652
Hi @sachinbanugariya,

The administrator user can see every record on any model. You can see all timesheets from the app Timesheets under the menuitem Timesheets > All Timesheets:
![image](https://user-images.githubusercontent.com/6352350/34440608-790f3556-ecb6-11e7-8b86-fa53de122d6a.png)

P.S: Notice that only those users that actually have timesheets in the selected period are shown. If you've g

[2017-12-29 15:37] #18652 closed

[2017-12-29 15:37] Yenthe666 commented on #18553
Closing as there has been no response in a few months.

[2017-12-29 15:37] #18553 closed

[2017-12-29 15:44] Yenthe666 commented on #18293
Hi @grzekru,

Thank you for your report.
I've just tested this on the latest Odoo 10 with a file that is 369MB and it now gives a proper warning:
![image](https://user-images.githubusercontent.com/6352350/34440725-6438ef86-ecb7-11e7-9176-8dc3b3af7eaa.png)
Please update your Odoo to the latest codebase and you'll have this fixed too.

Regards,
Yenthe

[2017-12-29 15:44] #18293 closed

[2017-12-29 15:47] #17333 closed

[2017-12-29 15:48] Yenthe666 commented on #17368
Indeed @raycarnes - good catch. This looks like you have custom development. If you want to show the SO depending on the confirmed date you should add more custom development.

[2017-12-29 15:48] #17368 closed

[2017-12-29 15:52] Yenthe666 commented on #17128
Hi @raycollazo,

Thank you for your report.
Are you talking about the report for the expense? Because that looks fine:
![image](https://user-images.githubusercontent.com/6352350/34440890-9f5b2894-ecb8-11e7-8316-0897a3880aff.png)
Please do add more feedback (ideally a video) if I'm wrong.

Regards,
Yenthe

[2017-12-29 15:53] Yenthe666 commented on #17079
@d-fence this might be something for you to check on RedHat?

[2017-12-29 15:56] Yenthe666 commented on #17006
Hi @tarpediem,

Thanks a lot for your bug report.
I've just tested this on the latest Odoo 10 and it works fine out of the box.
Can you please update your Odoo codebase and database and try again? If you can still reproduce it on an official runbot (runbot.odoo.com) then please respond back here.

Regards,
Yenthe

[2017-12-29 15:56] #17006 closed

[2017-12-29 16:04] goutoudis commented on #20714
Hi.
The steps to produce the issue:
1)	Odoo is installed at my computer with IP-URL: 192.168.1.3
2)	From Settings/Dashboard I invite some user with email e.g. user@example.com
3)	The user receives the email
4)	The user click at Odoo link from email footer
5)	The browser (Chrome in my case) try to load the page: http://192.168.1.3/www.odoo.com instead of http://www.odoo.com

This happens because th

[2017-12-29 16:15] Yenthe666 commented on #16802
Hi @aisopuro,

Shouldn't you just simply search on the quantity on hand in this case?
![image](https://user-images.githubusercontent.com/6352350/34441389-c9e7733a-ecbb-11e7-86a0-ba2c1059cb84.png)

Regards,
Yenthe

[2017-12-29 16:17] Yenthe666 commented on #20714
Hmm I see. @mart-e should we change this?

[2017-12-29 16:31] tahirlanre commented on #17093
Ok, thanks @sle-odoo. Can you quickly guide me on how to create a separate less file for all reports on odoo?

[2017-12-29 16:56] vcloud9ray commented on #19355
My original problem is resolved, but I now have another one:

I can create an all day meeting by clicking in the ALL DAY area (works fine NOW)

I can create a partial day meeting by clicking BELOW the ALL DAY area (works fine and did when I first posted this issue)

Where I have a problem is this:

1. Click in the ALL DAY area of the Calendar:

![image](https://user-images.githubusercontent.com/31

[2017-12-29 20:39] hydrosIII opened #21927 "Extended Addresses module creating useless fields."
Impacted versions:

11

Steps to reproduce:

Install extended address module and create a new partner

Current behavior:

2 fields are added House number and Door number. The problem is you can only see one digit in any of the fields. If you tipe you can only see 1 number.

Expected behavior:

See at least 3 or 4 digits, if not the extra fields are useless. This is a view error.

Video/Screenshot

[2017-12-29 21:06] celm1990 commented on #19387
Tanks,

On V11 and master is same error.
For more information, this bug is introduced on  [this commit](https://github.com/odoo/odoo/commit/0c618d79ff9ecc8ffaea1404931a62695890d6d2)

[2017-12-29 23:08] gdgellatly commented on #17093
@tahirlanre You need to do it for each report format.  It's pretty easy.

an assets file with something like

[code]

Then a less file with something like for the problematic classes
[code]

But your problem at the moment is more the font files.  Check the embedded fonts, and replace them in Windows.   See the last post here https://answers.acrobatusers.com/When-I-print-Adobe-PDF-strange-symbols-d

[2017-12-30 01:04] jorenvo commented on #21922
Are you proposing to modify the tests to set a partner on every POS order? I don't think that's a good idea, the standard POS doesn't need that. Modifying the tests should be done by the custom module. Maybe the easiest way is to patch the `pos.order` `create` function in the test code to set some default partner. You'd have to monkey patch the POS test classes, here's an example of how you can pa

[2017-12-30 05:09] lukebranch opened #21932 "[10.0] POS Orders - POS Stock Picking Stuck in Available State: Validate Picking >> Record does not exist or has been deleted"
<h1>Impacted versions:</h1>
10.0

<h1>Steps to reproduce:</h1>
Unable to provide at this point in time (will update this ticket with more information when I am able to provide steps to reproduce). <br/>

<h1>Current behaviour:</h1>
Periodically the Odoo service will crash while using the POS (this may or may not be related), and the link between stock move, and stock pack operation is lost, leavin

[2017-12-30 05:25] tahirlanre commented on #17093
Many thanks @gdgellatly

[2017-12-30 11:15] gdgellatly commented on #21922
If you make a field required in an extension module then in general it is best practice to give a default.

Forget the tests.  What about the existing data before you install said extension?

[2017-12-30 12:52] hanyelbanna commented on #20682
@mart-e Could I go throw (#19892) and try to fix another bugs like all the contents go very right with big scrollbar and the page displayed as empty and the user have to scroll the bar to right to see the screen (I sent the details on Enterprise PR).

Or it will be a lot of headache and you advice we to wait for v12?
Will your solution be with Bootstrap 3 or you will upgrade to Bootstrap 4 or we s

[2017-12-30 14:11] sum1201 opened #21938 "chinese input error"
Impacted versions:
11.0
Steps to reproduce:
I input Chinese code, log output a error. but screen not throw exception

Current behavior:
` _sql_constraints = [
        ('name_uniq', 'unique (name)', "Tag name already exists !"),
    ]`
Expected behavior:

`2017-12-30 13:49:04,496 11499 INFO j-well werkzeug: 127.0.0.1 - - [30/Dec/2017 13:49:04] "POST /longpolling/poll HTTP/1.1" 200 -
Traceback (most

[2017-12-30 15:46] bjkim47 commented on #3712
When I click Monday on calendar to make leaves request, web browser pops up error message even though following process can be done without autonomous day count. I am using community version 11.

[2017-12-30 16:29] fredericgermain commented on #21331
I had what seems is this exact error on odoo 11 when I have a crash at init because of a broken python dependency (https://apps.odoo.com/apps/modules/11.0/auto_backup/ needs paramiko)

did you check your odoo log at init ?

[2017-12-30 16:35] Yenthe666 commented on #3712
@bjkim47 please make a new bug report for this and add in detail how you can reproduce it.

[2017-12-30 18:32] minos84 opened #21941 "[11.0] Export pivot table into Excel"
Impacted versions: 11.0

Steps to reproduce:
In a pivot table view, when I click on vertical arrow icon for exporting Excel, I got an error.

Current behavior:
The pivot table is not exported and this error is displayed:
Erreur:
Uncaught SyntaxError: Unexpected token T in JSON at position 0

http://my-odoo-url/fr_FR/web#view_type=pivot&model=sale.order&menu_id=67&action=405:1
Retraçage :
SyntaxErr

[2017-12-30 19:36] Ark74 commented on #21941
Hi!
Two questions,
How many lines are you trying to export?
Are you using a reverse proxy with your odoo instance?

Cheers!

[2017-12-30 19:43] minos84 commented on #21941
**How many lines are you trying to export?** ==> I have used it for 1, 2 or more lines. I got the same error

**Are you using a reverse proxy with your odoo instance?** ==> No, I am using an apache 2 server

Thanks!

[2017-12-30 19:55] Ark74 commented on #21941
Since there is only so few lines, then it must be something else that I was suspicious of.
You might wanna check it on a [runbot](http://runbot.odoo.com/runbot) and confirm you can reproduce it there.

Since you are using apache then **you are** using apache as a reverse proxy.

I got a similar issue but it was because I was exporting 65k lines, and it was related to a timeout between the proxy (a

[2017-12-30 20:10] Ark74 commented on #21941
Finally, you could check that your proxy is well configured.

[2017-12-30 22:28] vcloud9ray commented on #18995
AUTHENTIFIED (another word that does not exist) is showing in the DOWNLOAD SECURITY dropdown when publishing website document (v9, v10 and v11).

https://github.com/odoo/odoo/blob/11.0/addons/website_slides/models/slides.py#L284

download_security = fields.Selection(
        [('none', 'No One'), ('user', '**Authentified** Users Only'), ('public', 'Everyone')],
        string='Download Security',

[2017-12-30 23:21] minos84 commented on #21941
Thanks Ark74, in ubuntu nightly odoo 11 package version, the tool "xlwt" is not pre-installed. The installation of this tool solved my issue.

Thanks to "Shameem Babu" in this thread:

https://www.odoo.com/fr_FR/forum/aide-1/question/uncaught-syntaxerror-unexpected-token-t-in-json-at-position-0-104689

[2017-12-30 23:21] #21941 closed

[2017-12-31 01:32] newander13 opened #21942 "error when installing module"
I have a problem with odoo 11.0 in Xubuntu.

The next error when installing any module

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/newander13/odoo-11.0/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/newander13/odoo-11.0/odoo/http.py", line 307, in _handle_exception
    raise pycompat.rerai

[2017-12-31 01:41] gdgellatly commented on #21942
Its a python error in a custom module.  Nothing to do with Odoo really.
Fix the error at line 5 of your own module.

On Sun, Dec 31, 2017 at 2:33 PM, newander13 <notifications@github.com>
wrote:

[2017-12-31 02:07] newander13 commented on #21942
I corrected it and now the following error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/newander13/odoo-11.0/odoo/models.py", line 967, in _validate_fields
    check(self)
  File "/home/newander13/odoo-11.0/odoo/addons/base/ir/ir_ui_view.py", line 338, in _check_xml
    self.postprocess_and_fields(view.model, view_doc, view.id)
  File "/home/newander13/odoo-11.0/odo

[2017-12-31 02:42] gdgellatly commented on #21942
Again its an error in your code, not in Odoo.  You would be better off
following a basic tutorial/ asking questions on the forums/ googling the
errors.  These are all simple problems in the learning curve, but github
issues is for bugs not support.

On Sun, Dec 31, 2017 at 3:07 PM, newander13 <notifications@github.com>
wrote:

[2017-12-31 09:03] sbglive commented on #21872
Hello everyone,

I am trying to attempt a similar setup on V11, odoo with muti master replication over BDR, with similar issues.
Does anybody have a workaround ?

Thank you

[2017-12-31 12:21] satriani-vai opened #21943 "[11.0] Calendar - wrong time format"
Exactly the same issue es this [#9977](https://github.com/odoo/odoo/issues/9977)
Version 10.0 does not have this problem

[2017-12-31 22:19] #21942 closed

[2018-01-01 13:34] ruifranco opened #21948 "sale_timesheet (v11) - quantity not updated (bug found?)"
Impacted versions: v11

Steps to reproduce:

Create a SO and confirmt it. Then, add an expense to it. Again, add an expense of the same kind.

Current behavior:

When two expenses of the same kind are added, the quantity in the sale order line will not update.

Expected behavior:

Quantity in the sale order line should update.

Video/Screenshot link (optional):

MOTIVE:

This has to do with the "_

[2018-01-01 15:33] fiee commented on #19912
I got stuck by the same error, trying v10, until I got the idea to install an account system. I.e.
* new database, English/Germany (the same with German/Germany), no demo data
* installed Contacts app – works
* installed Invoicing (with or without Sales) – can’t save Contacts anymore; the required account fields aren’t visible. There was no hint to install an account system.

[2018-01-01 19:54] jorenvo commented on #21922
Indeed, if this is meant to be a reusable module then it might be a good idea to consider what to do with pre-existing `pos.order` records. Regardless, I don't think this is an issue in standard Odoo so I'm closing this. If you have any further questions you can still reply.

[2018-01-01 19:54] #21922 closed

[2018-01-01 21:34] rvalyi commented on #6995
I suggest closing this bug as it is related to an unsupported Odoo version and fixed in recent versions
cc @Yenthe666

[2018-01-01 21:35] rvalyi commented on #6970
I suggest closing this bug as it is related to an unsupported Odoo version
cc @Yenthe666

[2018-01-01 21:40] rvalyi commented on #4151
I think is clean in recent Odoo versions and this can be closed, right?
cc @Yenthe666

[2018-01-01 21:41] rvalyi commented on #7001
related to an unsupported version of Odoo. Can this be closed?
cc @Yenthe666

[2018-01-01 21:44] rvalyi commented on #7106
this is a support question. Please use forums instead.
@Yenthe666 can we close it?

[2018-01-01 21:46] rvalyi commented on #8447
not a bug, can it be closed?
cc @Yenthe666

[2018-01-01 21:46] rvalyi commented on #8446
not a bug, can it be closed?
cc @Yenthe666

[2018-01-01 21:47] rvalyi commented on #8119
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:48] rvalyi commented on #8896
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:49] rvalyi commented on #9224
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:50] rvalyi commented on #9215
this is fixed in recent versions. Can it be closed?
cc @Yenthe666

[2018-01-01 21:50] rvalyi commented on #9161
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:51] rvalyi commented on #9348
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:52] rvalyi commented on #11263
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:53] rvalyi commented on #12631
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 21:54] rvalyi commented on #13305
related to an unsupported Odoo version. Can it be closed?
cc @Yenthe666

[2018-01-01 22:16] tomeyro opened #21951 "[11.0] [enterprise] TypeError when opening the import statement wizard in the accounting dashboard"
Impacted versions:
- `11.0` (enterprise)

Steps to reproduce:
- Go to the accounting dashboard.
- Select "Import Statement" from a Bank Journal.

Current behavior:
- A TypeError is raised and the wizard is still loaded in the background.

Expected behavior:
- The wizard should pop up without any errors.

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/8657959/3

[2018-01-02 04:04] jeffery9 opened #21956 "[translation] add translators list to odoo.com website."
Impacted versions:
all

Steps to reproduce:

Current behavior:
no translator contributor listed in odoo.com website.

Expected behavior:

Video/Screenshot link (optional):

[2018-01-02 06:51] wangsamas commented on #21783
Hi Yenthe666,
when I install I get this

The directory '/home/wangsamax/.cache/pip/http' or its parent directory is not owned by the current user and the ca
che has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you ma
y want sudo's -H flag.
The directory '/home/wangsamax/.cache/pip' or its parent directory is not owned by the current user and

[2018-01-02 07:28] wangsamas commented on #21783
I try to follow the installation script and then I go to browser and this is what I get

This site can’t be reached

what should I do?

[2018-01-02 07:32] Yenthe666 commented on #21783
@wangsamas I believe you've ran the script without `sudo`? Please do run it with `sudo`

[2018-01-02 07:33] Yenthe666 commented on #13305
Hi @farinoire ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-01-02 07:33] #13305 closed

[2018-01-02 07:33] Yenthe666 commented on #12631
Hi @farinoire ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-01-02 07:33] #12631 closed

[2018-01-02 07:34] Yenthe666 commented on #11263
Hi @johnsh,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2018-01-02 07:34] #11263 closed

[2018-01-02 07:35] Yenthe666 commented on #9348
Hi @nuncjo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2018-01-02 07:35] #9348 closed

[2018-01-02 07:35] Yenthe666 commented on #9161
Hi @mrvdb,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2018-01-02 07:35] #9161 closed

[2018-01-02 07:35] Yenthe666 commented on #9215
Hi @nuria-opusvl,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2018-01-02 07:35] #9215 closed

[2018-01-02 07:35] Yenthe666 commented on #9224
Hi @miguelparaiso,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2018-01-02 07:35] #9224 closed

[2018-01-02 07:36] Yenthe666 commented on #8896
Hi @jlaloux,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2018-01-02 07:36] #8896 closed

[2018-01-02 07:36] Yenthe666 commented on #8119
Hi @be-cloud-js,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2018-01-02 07:36] #8119 closed

[2018-01-02 07:37] Yenthe666 commented on #8446
@rvalyi,

Usually wishlist items are kept open, no matter how old they are and if it is a bug or not. I'll leave this open for now anyways as it is a good suggestion. 😉

[2018-01-02 07:37] Yenthe666 commented on #8447
Hi @rvalyi,

Same response as on the other report. As it is wishlist and a good suggestion I'll keep it open. 😉

Regards,
Yenthe

[2018-01-02 07:40] Yenthe666 commented on #7106
Hi @gemchand,

This should have been placed on the official help forum (help.odoo.com) so I'm closing this bug report.

Regards,
Yenthe

[2018-01-02 07:40] #7106 closed

[2018-01-02 07:40] Yenthe666 commented on #7001
Hi @bud-e,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2018-01-02 07:40] #7001 closed

[2018-01-02 07:40] Yenthe666 commented on #4151
@xmo-odoo your final call but I think it could be closed?

[2018-01-02 07:41] Yenthe666 commented on #6970
Hi @deepa4lok,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2018-01-02 07:41] #6970 closed

[2018-01-02 07:41] Yenthe666 commented on #6995
Hi @agb80,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2018-01-02 07:41] #6995 closed

[2018-01-02 07:43] Yenthe666 commented on #20682
@hanyelbanna as for the Bootstrap question: Odoo V12 will use bootstrap 4, V11 should keep Bootstrap V3.

[2018-01-02 07:45] Yenthe666 commented on #21331
@fredericgermain the auto_backup module should give an error when you click on install if the dependency is not on your operating system. I've built this in at https://github.com/Yenthe666/auto_backup/blob/11.0/auto_backup/models/db_backup.py#L23-L27

[2018-01-02 07:48] Yenthe666 commented on #21956
@jeffery9 is there any reason why you would like this or find that it should be added?
@mart-e this is absolutely for you!

[2018-01-02 07:48] wangsamas commented on #21783
I ran it exactly as in the instruction (copy paste)
I'm sure I do it with sudo.
The third time I try, I use sudo su before ran the script and the warning is gone

[2018-01-02 07:54] Yenthe666 commented on #21943
@satriani-vai please add steps and details on how to reproduce it on V11 again.
What language? Any specific settings?

[2018-01-02 07:57] wangsamas commented on #21783
but i still unable to make it on air.
I try sudo service odoo-server restart but nothing happen

[2018-01-02 09:00] abdallamohamed1992 opened #21960 "[11.0] General Holiday in Leave Request Calender"
Impacted versions:
11.0
Steps to reproduce:
1. Add general holiday in Working Time.
2. Create new user
3. Assign "Related User"  in employee and choose "Working Hours"
4. Create new contract and choose same "Working Hours"
5. Login with user and open Leave Request screen

Current behavior:
There is no general holiday appear in his calender
Expected behavior:
Appear general holiday as in "Working H

[2018-01-02 09:09] fredericgermain commented on #21331
I'm an odoo newbie... I didn't install auto_backup the right way... Thanks for the extra checks here!

I meant this error is maybe related to many different kinds of error at init, maybe by some other addon modules.

[2018-01-02 09:23] #20112 closed

[2018-01-02 10:06] mart-e commented on #21331
Please, give the errors in asset debug mode (going to `/web?debug=assets` page on your Odoo instance, e.g. http://localhost:8069/web?debug=assets)

[2018-01-02 10:07] mart-e commented on #21331
Please, give the errors in asset debug mode (going to `/web?debug=assets` page on your Odoo instance, e.g. http://localhost:8069/web?debug=assets)

[2018-01-02 10:13] mart-e commented on #21956
Hello,

While a credit page could be a nice idea, it is not something we have at the moment, sorry.

[2018-01-02 10:13] #21956 closed

[2018-01-02 11:07] Ark74 commented on #13545
@timdlm did you fid the apache configuration?

Seems like odoo prefer very much nginx over apache u_u since seems there is no documentation to configure apache with longpolling correctly.

 Cheers!

[2018-01-02 11:13] jeffery9 commented on #21956
do you have any plan for this?

发自我的华为手机

-------- 原始邮件 --------
主题：Re: [odoo/odoo] [translation] add translators list to odoo.com website. (#21956)
发件人：Martin Trigaux
收件人：odoo/odoo
抄送：Jeffery CHEN Fan ,Mention

Hello,

While a credit page could be a nice idea, it is not something we have at the moment, sorry.

―
You are receiving this because you were mentioned.
Reply to this email directly, view

[2018-01-02 11:17] jeffery9 commented on #21956
this option should attracting more people to improving the website

发自我的华为手机

-------- 原始邮件 --------
主题：Re: [odoo/odoo] [translation] add translators list to odoo.com website. (#21956)
发件人：Martin Trigaux
收件人：odoo/odoo
抄送：Jeffery CHEN Fan ,Mention

Hello,

While a credit page could be a nice idea, it is not something we have at the moment, sorry.

―
You are receiving this because you were mentioned

[2018-01-02 11:19] mart-e commented on #21956
I will report the feedback for improving the website

[2018-01-02 14:05] fgi-odoo commented on #21671
Building new dashboards with custom dashlets is advanced. At first we would like to introduce a new generic "Dashboard" view that most users won't even need to customize. We tested the dashboards of lots of systems and no one seems better to us than Google Analytics in terms of easiness and flexibility. You don't even have to build or customize your dashboard. That's what we expect to reach. We kn

[2018-01-02 14:13] alexweggs commented on #19885
@malexgp46 nope it's too bad i have to use another tool !

[2018-01-02 14:13] Ashley-Allan opened #21970 "Checks have wrong payment amount"
Impacted versions: v11.0

Steps to reproduce: Select multiple vendor bills in list view and pay them. Then go into any of the payments created and print check.

Current behavior: The amount that is typed out on the check is the total amount of all payments, not the amount for the specific vendor.

Expected behavior: The amount typed out on the check is the amount paid to that individual vendor

Vi

[2018-01-02 15:25] mart-e commented on #20714
Hello,

We can change that in master but it would break the translations of the email templates in stable

[2018-01-02 15:35] wangsamas commented on #21783
Hi Yenthe, your installscript is great. it do its job.
But I really frustrate with odoo...
I'm using google cloud and I couldn't even make it online.
so I don't know the odoo installation is working or not.
I've read the tutorial in https://www.odoo.com/documentation/11.0/setup/deploy.html and I don't understand. I've try to follow it but still can't make it online.
Are there any easy step by step

[2018-01-02 15:55] #21462 closed

[2018-01-02 15:55] OGGonzalezM commented on #21800
I have the same problem, when i print a invoice there is no header. I've done all that i could and i get this error:
File "/odoo/odoo-server/addons/base_setup/models/res_config_settings.py", line 93, in edit_external_header
    return self._prepare_report_view_action('web.external_layout_' + self.external_report_layout)
TypeError: Can't convert 'bool' object to str implicitly

I'd like how to solv

[2018-01-02 15:56] tandrieuxx opened #21975 "Website Event Sale : registrations with wrong data"
Impacted versions: 11.0

Steps to reproduce:
website_event_sale needs to be installed.
Log in Odoo and go the website. Buy tickets (at least 2) for an event. Provide the attendees' information in the popup, in this example their name will be : "Attendee 1", "Attendee 2". Validate and you should be redirected to the cart (No need to go further).

![attendees](https://user-images.githubusercontent.c

[2018-01-02 16:08] JKE-be commented on #21943
@adr-odoo

[2018-01-02 16:29] #19318 closed

[2018-01-02 16:32] JKE-be commented on #17195
You need to update the sale module.

The error is because you deleted a base price list, that e-commerce tries to update to add the new default value.

[2018-01-02 16:32] #17195 closed

[2018-01-02 16:46] mart-e commented on #18679
@Yenthe666 @taifu we are going to remove the distinct in master at #21472 but we can not do that on a stable version, would not be very safe.

Still need more testing before merging.

[2018-01-02 16:48] mart-e commented on #21870
Thanks, fixed at abf0e355222

[2018-01-02 16:48] #21870 closed

[2018-01-02 16:56] mart-e commented on #19912
@fiee this issue is for v11 where the accounting modules have changed, please open a new one if you have an issue on v10.
As said above, if you set the country, the chart of account should be installed automatically. Otherwise, you can just to the accounting settings.

[2018-01-02 16:56] #19912 closed

[2018-01-02 17:18] mart-e commented on #20682
Bootstrap v4 does not support RTL either. bootstrap-rtl can be a solution but adding such libraries will definitely be for master.
I am not confident #19892 will lead anywhere so I advise you to wait for v12 instead (where we will migrate to bootstrap v4)

[2018-01-02 17:26] mart-e commented on #18995
Thanks, fixed at f8e38a6a0ca

cc @d-fence @tde-banana-odoo

[2018-01-02 17:51] Yenthe666 commented on #21462
Thanks a lot @Elkasitu!

[2018-01-02 18:44] Kazebayashi commented on #17195
Thank you!
Since then I worked on a fresh install of 10.0, installing eCommerce from the beginining and I had no problem, but it's good to know this was the cause of the issue.

[2018-01-02 19:30] sswapnesh opened #21979 "[10.0/11.0] Traceback during creating meeting from Calendar"
Impacted versions: 10.0/11.0

Steps to reproduce: Just tested on [Runbot](http://289916-11-0-3fe946.runbot14.odoo.com/web?#view_type=calendar&model=calendar.event&menu_id=147&action=177) --> Go to Calendar menu --> Create meeting

Current behavior: Traceback on Screen

![](https://image.prntscr.com/image/Wo2Tix-CSBeGf_DK7YZP7w.png)

![](https://image.prntscr.com/image/9fo7Cg3oR3Kx6b1bHqhG2Q.png)

[2018-01-02 19:32] sswapnesh commented on #20121
@Yenthe666 Closing this issues as same was handled in #20637.

[2018-01-02 19:32] #20121 closed

[2018-01-03 07:23] yostashiro opened #21985 "[11.0] PayPal setting documentation is outdated/incorrect"
### Impacted versions:

11.0

### Issues:

*I creating this issue here as I wasn't sure if my understanding was correct.  Would be nice to get insight from Odoo's developer in charge of this area.*

There are probably some parts that are outdated/incorrect in this doc https://www.odoo.com/documentation/user/11.0/ecommerce/shopper_experience/paypal.html. It at least lacks enough explanation for the

[2018-01-03 07:40] yostashiro opened #21986 "[11.0] PayPal IPN settings do not seem to work"
### Impacted versions:

11.0

### Steps to reproduce:

1. Configure PayPal business account and Odoo's PayPal acquirer as explained in this doc (set the acquirer to test mode): https://www.odoo.com/documentation/user/11.0/ecommerce/shopper_experience/paypal.html

2. Buy something on online shop with PayPal.  Confirm payment in PayPal and immediately close the browser tab.  As a result, the transac

[2018-01-03 07:53] Ottunger opened #21988 "[11.0] Parsing CSV uses wrong format"
Impacted versions: 11.0

Steps to reproduce: Import CSV and set custom date or datetime format

Current behavior: The frontend sends %%w whereas %d format was asked

Expected behavior: The frontend should send %d

Video/Screenshot link (optional): http://hpics.li/b247400

[2018-01-03 08:12] gdgellatly commented on #21988
What happens if you use a valid date?  i.e not the 24th month of the year.

[2018-01-03 08:14] Ottunger commented on #21988
Nvm in my screenshot I used a wrong date but I did try both, and same result.

[2018-01-03 08:57] mart-e commented on #18792
Hello,

Could you please give me a way to reproduce it? I suspect a loss of context so I need a scenario to reproduce and trace it.

[2018-01-03 09:22] JKE-be commented on #21988
Hu,

You need to specify the format with this syntax: YYYY-MM-DD HH:mm

[2018-01-03 09:22] #21988 closed

[2018-01-03 09:27] JKE-be commented on #21979
Hi, thanks for the report, but i cannot reproduce:
![image](https://user-images.githubusercontent.com/4848797/34515032-8e071380-f070-11e7-8d76-227b62688bb4.png)

Required field are well caught.

tested on: http://289999-10-0-36e784.runbot8.odoo.com

[2018-01-03 09:59] rdeodoo commented on #19488
I am closing this since some fixes have been made about language issues very recently, specially about browser lang conflict.

[2018-01-03 09:59] #19488 closed

[2018-01-03 10:01] Elkasitu commented on #21711
@JADCO5692 the traceback is fixed in commit 864ca50 for 11.0, we can backport to 10.0 if necessary

@tbe-odoo You might want to use this error-checking to notify the user that he needs to enable Customer Information Manager with something like ```python3if err_code == 'EXXXXXX':`

[2018-01-03 10:22] qdp-odoo commented on #21923
mmh unfortunately, given that, for cash basis taxes, the said intermediate accounts have to be set on the "regular" account fields, I don't see how we could fix that. BTW, the journal items created are also set as tax_exigible=False...

I suppose, we don't have any solution but to say that this use case is not supported: you've selected a cash bases tax, and that's what Odoo is doing. If you don't

[2018-01-03 10:33] wtaferner commented on #21923
Hmm, the work around sounds reasonable (an extra tax which is directly put on the right account).

The domain is a bit difficult for the taxes which should be deducted from the intermediate accounts if you are writing-off  an invoice for the cash discount or other payment relevant tax reductions.
But maybe you could add a checkbox to activate and deactivate the domain in Javascript which would hel

[2018-01-03 10:38] rdeodoo commented on #21975
Hello, thank you for your issue.

I couldn't reproduce the issue locally as you can see on this video: https://youtu.be/XfZJf3opyU8
Any steps I forgot or didn't reproduce like you mentioned?

[2018-01-03 11:20] qdp-odoo commented on #21923
Well, no. if you think it has still some meaning to allow the use of cash basis taxes in the bank statement reconciliation widget then we'll just leave as it.

Since the workaround proposed is the only valid option, I'm closing the issue.

thanks for your understanding

[2018-01-03 11:20] #21923 closed

[2018-01-03 11:22] sergeiruzkiicode commented on #21919
@Elkasitu
more common - it's like:

currency_provider can be a function, list of providers goes to the db.
update_currency_rates() can be rewrited and call separate function for currency_provider code:

[code]
rates_dict should have common structure.
so then we can have update_currencies(rates_dict) function to store data in db.

so we can inherit ResCompany model with functions like update_curren

[2018-01-03 11:50] wtaferner commented on #21923
Hmm, not soo much understanding this time as it seems a nasty usability bug, but thank you anyway for the feedback and the suggested workaround. I hope you think about this in master and future versions as usability is not clearly communicated and should be improved. Would you accept a PR on the suggested usability fix in the module (not saying I will do it, but asking helps to categorize your No)

[2018-01-03 11:57] JADCO5692 commented on #21711
I have asked client to enable it.
Kindly add a message instead of showing such errors to customer

[2018-01-03 12:18] Yenthe666 commented on #21711
@Elkasite the new error message is not wrapped with the translation tag _(). Can you still add it in please? Otherwise it'll always be in English.

[2018-01-03 12:31] rdeodoo commented on #18390
Hello,

As @odony [pointed out here](https://github.com/odoo/odoo/pull/18392#issuecomment-336386853), it is intended to work that way.

Even if theses fields appear empty in your browser source code, they will be filled afterward when the user will click on the "Pay Now" button, before requesting paypal.

As you can see on Paypal checkout, the SO reference is there
![ch4t](https://user-images.gith

[2018-01-03 12:31] #18390 closed

[2018-01-03 12:31] andreassalix commented on #20715
Any news on this? Have same issue. Any log files I can check?

[2018-01-03 12:46] qdp-odoo commented on #21923
actually, I personally don't see any real use case where you would choose deliberately to use a cash basis tax in the statement reconciliation widget, so I will double check that and probably add the said domain [('use_cash_basis', '=', False)] in the widget. That way, the usability issue will be "fixed" (well, kinda).

I'm against your proposal since it would make a more complex fix (# lines of c

[2018-01-03 12:50] #17762 closed

[2018-01-03 12:50] Elkasitu commented on #21711
@Yenthe666 It's not needed as the error message is only displayed in debug mode and the authorize.net error message is returned in english anyway.

Or did you mean the snippet of code I posted above? if so, it's just a PoC

[2018-01-03 13:02] simongoffin commented on #21883
Hello @fmdl

This format of date is the ISO 8601, it's an international standard format to avoid any format issue.

https://en.wikipedia.org/wiki/ISO_8601

[2018-01-03 13:02] #21883 closed

[2018-01-03 13:08] prakashjain commented on #7384
We are  facing same issue in Version 9 Please let me know if any possible solutions.
default filter doens't work for Inbox and Archive menus

Impacted versions:

    7.0
    8.0

Steps to reproduce:

    make some search in Inbox (or in Arhive). E.g. "Content: asdf"
    save that search and tick "Use by default"
    Click on "Inbox" (or "Arhive") menu.

Current behavior:

    You see your filter n

[2018-01-03 13:21] fmdl commented on #21883
Hi @simongoffin

I understand your point of view. I think I have don't explain very well this little issue: when print a document with an date field, the date format is differente than the top right ISO date of the document, it can be confuse (exemple on a production order):

![image](https://user-images.githubusercontent.com/16716992/34522052-238094ca-f091-11e7-977c-307d892e509d.png)

Regards

[2018-01-03 13:36] danger89 commented on #21951
Off-topic but: How can you go fast to the Accounting Dashboard in Odoo v11? When I click on 'Accounting' I go by default directly to 'Customer invoices' (first menu item)...

[2018-01-03 13:44] wtaferner commented on #21923
Ok, so you don't see the use case...well, I can guarantee you that there is one as this was found together with an accountant I work with ;-)

It is common that not all invoices are put into the invoicing model as small bills and amounts are sometimes coded directly in the T account view instead of having the overhead of creating an invoice for each of them as they were directly paid...you might u

[2018-01-03 13:45] judaa11 commented on #21117
After some workaround, this error occur when there is some borken python/Java dependancies. But, I'm not really sure why those errors are been the reason of qweb crashes (instead of 500 INTERNAL SERVER ERROR + Log-Error).

P.S.: when this bug occur, even _/web?debug=assets_ will crash.

[2018-01-03 13:53] #21905 closed

[2018-01-03 14:02] danger89 commented on #21951
Uhmm I just created my own menu item (manually too bad), since I couldn't find it otherwise.

When you enable 'Developing mode', you can go to Settings -> Technical -> Menu items. Create a new menu item.

And fill in your name for the menu, eg; Dashboard. As sub-menu I selected 'Accounting/Reports'. And as action you need to select 'ir.actions.act_window' and search for the action "Accounting Dash

[2018-01-03 14:06] sswapnesh commented on #21979
Could you please try same from Calendar view it self?

On Jan 3, 2018 2:58 PM, "JKE-be" <notifications@github.com> wrote:

[2018-01-03 14:22] danger89 commented on #21951
So you only see the Dashboard when you enable 'Technical settings / Show all accounting options'..

[2018-01-03 14:33] sswapnesh commented on #21979
Just tested on same runbot instance, Can reproduce Issue there too.

[2018-01-03 15:28] Yenthe666 commented on #21711
Okay, all good then! Thanks.

[2018-01-03 15:48] jlaloux opened #21994 "[10.0] Error when trying to read multiple records using xmlrpc"
Impacted versions: 10.0

Steps to reproduce: Create a database on last 10.0, install accounting modules for example and create a few invoices and validate them. After that, try to read account.move with a few existing ids using xmlrpc script like this:
![image](https://user-images.githubusercontent.com/7678583/34527312-7d41c254-f0a5-11e7-8b5c-08122d59f1d4.png)

Current behavior: If one id, it work

[2018-01-03 16:24] giordano-ch opened #21995 "[BUG][10.0][11.0] There is no option to link tax code on each account.move.line"
Impacted versions:
9, 10, 11 (Community and Enterprise)

Steps to reproduce:
1. Create Invoice with random tax code and validate it
![1-1-rechnung-mit-mwst](https://user-images.githubusercontent.com/15436224/34528434-3f9ee32e-f0a9-11e7-930d-72b0d7c9c1c7.JPG)
![1-2-journal_entry](https://user-images.githubusercontent.com/15436224/34528462-4f50d9a8-f0a9-11e7-9cd8-50043d5f54db.JPG)

2. After Validati

[2018-01-03 16:54] yelizariev opened #21996 "[11.0] Regresion: Download button for binary fields doesn't work in tree view"
**Impacted versions:**

* works in 10.0
* doesn't work in 11.0

**Steps to reproduce:**

* add field ``datas`` to tree view of ``ir.attachment`` model

**Current behavior:**

Shows base64 representation of the file

**Expected behavior:**

Show Download button

Similar question at odoo forum: https://www.odoo.com/forum/help-1/question/problem-with-tree-view-and-file-field-125752

**Screenshots:**

[2018-01-03 17:06] JKE-be commented on #18430
Landed in v9. Will be fwd-ported asap. already applied on prod

[2018-01-03 17:06] #18430 closed

[2018-01-03 17:25] JKE-be commented on #21994
maybe ...` 'read', [[1,2,3], ['id', 'name']]) `

please provide your sample in plain text.

[2018-01-03 17:31] yelizariev commented on #7384
@prakashjain create new issue with proper description

[2018-01-03 17:38] Yenthe666 commented on #21996
@mart-e this is framework related. Can you check please?

[2018-01-03 17:54] tandrieuxx commented on #21975
After further investigations, the problem comes from our module. Thank you and sorry for bothering you.

[2018-01-03 17:54] #21975 closed

[2018-01-03 18:52] fernandotmt commented on #7028
+1

[2018-01-03 20:10] odoo-mastercore commented on #20157
Hi There!

@dbo-odoo

I have the same code

[15:58, 3/1/2018] +58 426-5752512: Action: failed
Final-Recipient: rfc822;odoo@tecnicanet.odoo.com
Status: 5.0.0
Remote-MTA: dns; ampp1.odoo.com
Diagnostic-Code: smtp; 550 Requested action not taken: mailbox unavailable

The project is deployed on America production server.

[2018-01-03 20:26] Yenthe666 commented on #7384
Indeed. Please do create a new bug report and we'll try to look into it as soon as possible.

[2018-01-03 21:40] fmdl commented on #21994
Replace `[1,2,3]` by `[[1,2,3]]`.

Infomation for  Xml RPC: https://www.odoo.com/documentation/10.0/api_integration.html

[2018-01-03 22:20] odoo-mastercore opened #21998 "Odoo.sh report PDF version not showing/loading image/logo"
**Impacted versions**: Odoo 11.0+e on odoo.sh production environment

**Steps to reproduce**:

Set Company logo and,

Go to _Settings_ -> _Users & Companies_ -> _Companies_

then select Company and in the _Print_ menu:

_Print_ -> _Preview External Report_

All Styles appears in the PDF report but logo don't.

**Current behavior**:

All Styles appears in the PDF report but logo don't.

**Expected

[2018-01-04 02:47] gustavovalverde opened #22002 "[11.0] Performance impact when changing the qty on the Inventory Adjustments"
### Impacted versions:
11.0

### Steps to reproduce:
Start an inventory adjustment for all the products

### Current behavior:
If you have more than 3,000 products, changing the real quantity calls an onchange that takes between 12 - 23 seconds; making it almost impossible to use the first option on an inventory adjustment.

### Expected behavior:
Doing the quantity change without triggering that

[2018-01-04 03:53] mattolden commented on #20857
Had the same issue, changed line 207 as indicated in the fix at odoo-dev/odoo@dde5547 posted by Yenthe666

Retested with 'fetch now' and again only the log shows any error but it is now different than before.  See new error below, my emphasis.

  File "/odoo/odoo-server/addons/fetchmail/models/fetchmail.py", line 207, in fetch_mail
    **(header, messages, octets) = pop_server.retr(num)**

[2018-01-04 04:50] prakashjain opened #22005 "Favorites Filters Default not working in Inbox Menu"
Impacted versions:
Version 9.0c (Community Edition)

Steps to reproduce:
    Menu: Discuss --> Inbox Menu
    make some search in Inbox . E.g. "Content: @username"
    save that Favorites search and tick "Use by default"

Current behavior:
"Inbox" form You can see your filter name default saved in search box, but default filter is not applied and all messages are shown. (When user click favorites

[2018-01-04 06:31] Yenthe666 commented on #20857
@nim-odoo this is relevant for your fix.

[2018-01-04 06:42] Elkasitu commented on #21994
API misuse

[2018-01-04 06:42] #21994 closed

[2018-01-04 07:32] Yenthe666 commented on #21883
@fmdl looks like one keeps track of the timezone and another one doesn't.
@simongoffin can you double check?

[2018-01-04 07:44] Yenthe666 opened #22009 "[9.0] Inventory valuation doesn't show total valuation"
Impacted versions: 9.0

Steps to reproduce:
1. Open up a V9 runbot and go to inventory
2. Go to Reports > Inventory Valuation
3. Let the Odoo generate all the data and look at the bottom of the view:
![image](https://user-images.githubusercontent.com/6352350/34554066-4b9f4448-f12b-11e7-833d-d767b265499b.png)
There is no total shown, while this is pretty much what the inventory valuation report is

[2018-01-04 07:46] Yenthe666 commented on #22009
OPW 803786

[2018-01-04 07:54] Yenthe666 commented on #21951
Hi @tomeyro,

Thanks a lot for your bug report.
I've just checked this and I can confirm that this is a bug in the official code.
Since I'm also facing this bug for a customer I've made an official bug report too. Ticket number is 803789

Regards,
Yenthe

[2018-01-04 07:57] Yenthe666 commented on #21979
Hi @sswapnesh,

I've just tested it too but I couldn't reproduce it either.
You're doing this from the app `Calendar` from the agenda/treeview right?
![image](https://user-images.githubusercontent.com/6352350/34554445-3993a954-f12d-11e7-9346-f4149dde2917.png)
Could you make a little movie please?

Regards,
Yenthe

[2018-01-04 08:00] xabispacebiker commented on #20273
I have the same problem installing some modules. It happens with mrp_repair, sale_management, above the debug trace:

[code]

[2018-01-04 08:01] Yenthe666 commented on #22002
Hi @gustavovalverde,

Thanks a lot for your report.
I've actually reported bugs like this with inventory adjustments too. Performance is quite a lot slower than V9/V10 for adding lines, removing them etc.
We've also got a ticket regarding performance (ticket number 785425) where they also found major impact on performance with translations - coming from https://github.com/odoo-dev/odoo/commit/0cc7

[2018-01-04 08:02] Yenthe666 commented on #21960
@mart-e perhaps this check should be done when the employee is created? What do you think?

[2018-01-04 08:06] Yenthe666 commented on #22005
Hi @prakashjain,

Thanks a lot for your bug report!
I've just tested this and it does look like a bug. @aab-odoo could you have a look at this please?

Regards,
Yenthe

[2018-01-04 08:09] jlaloux commented on #21994
Thx for your help

[2018-01-04 08:10] Yenthe666 commented on #21998
Hi @odoo-mastercore,

Thanks for the report.
When looking at the code it does exactly what it should though
 (see https://github.com/odoo/odoo/blob/1df6f4c74151d012f9ff784cef6eea58a5ac3b9e/addons/web/views/report_templates.xml#L374-L391)
@mart-e or @sle-odoo could one of you confirm that this is absolutely not a bug and that this is default behaviour?

Regards,
Yenthe

[2018-01-04 08:12] Yenthe666 commented on #21995
Hi @giordano-ch,

Thanks a lot for your report.
@qdp-odoo could you have a look please?

Regards,
Yenthe

[2018-01-04 08:19] fgi-odoo commented on #21671
@adekock11 To answer your question, indeed a share button would be great. Also I'm not saying that we aim to remove the Dashboard app. No, the idea for now is to keep it for advanced users.

[2018-01-04 08:19] Yenthe666 commented on #21986
Hi @yostashiro,

Thanks a lot for your report!
@tde-banana-odoo could you please have a look?

Regards,
Yenthe

[2018-01-04 08:27] Yenthe666 commented on #19355
@vcloud9ray,

I've just tested this and indeed this is a bit odd.
The calendar item seems to ignore the timezone part when doing this case. @JKE-be could you have a look?

Regards,
Yenthe

[2018-01-04 09:30] JKE-be commented on #19355
Timezone is ignored because when you select 29/12 as all day event, we ignore by design the time zone. An event all-day have no timezone, it is a date and not a datetime ! Christmas will be always the 25 December for everybody.

It is more an improvement that a fix.
In reality, when you create 29/12 allday, after that you untick, you have 29/12 00:00:00 UTC as datetime

If you untick allday, you n

[2018-01-04 09:53] prakashjain commented on #22005
Hi Yenthe,
Below steps followed:-
-- Inbox menu number of message available from different user content field contains @username
-- Inbox default favorite filters saved Example: Filter Name: **Chat** Conditions: **content=@User1**
-- Inbox form loading favorite filers saved but record not showing based on filters, it showing all record,
Once user select and click favorite filters name then only wo

[2018-01-04 09:56] Yenthe666 commented on #16802
Hi @aisopuro,

The official response from Odoo S.A:

In this case, the behavior that you have mentioned is expected within Odoo. When using variants in some business cases, it would be important to know the quantity on hand based on different attributes. For example, search for stock of specifically the black iPhone X. Additionally, you can use the Product Variants listing for searching for differ

[2018-01-04 09:56] #16802 closed

[2018-01-04 09:58] sle-odoo commented on #21998
maybe you're missing rev https://github.com/odoo/odoo/commit/1df6f4c74151d012f9ff784cef6eea58a5ac3b9e#diff-a48de36bdafe346387b4eb7347aa2144 ? try to upgrade base

[2018-01-04 10:16] lukebranch commented on #22002
I've experienced this as well, it's a major point of annoyance for those customers with large inventories. I wonder if this would be better handled when the save function is triggered.

[2018-01-04 10:16] Yenthe666 commented on #19307
Hi @audit01,

In fact, this is because the user is not attached to any sales teams. After adding the user to a team he/she can create new opportunities without any problems.
[This video](https://youtu.be/uSs9pDa7S74) shows how it works.

Regards,
Yenthe

[2018-01-04 10:16] #19307 closed

[2018-01-04 10:29] lukebranch commented on #22009
A printed report is also a commonly requested requirement here as well.

[2018-01-04 10:32] #21686 closed

[2018-01-04 10:35] Yenthe666 commented on #22009
@lukebranch agreed - I was missing that too. That would be a new feature and would be for master though. Perhaps we should make a wishlist item for this.

[2018-01-04 11:11] adr-odoo commented on #21876
Hello,

I recently made some fixes:
https://github.com/odoo/enterprise/commit/51a4651173aa8ffd3328858cf04ac184c93639bf
https://github.com/odoo/mobile/commit/1c45f7f606c38281e7ab22ec8058db63bd166220

Now, iOS notifications should work.
But you also need to update the Android app because we changed how we send FCM messages.

So, for on-premise deployments, you need to go to
'General Settings' -> 'Mo

[2018-01-04 11:58] sle-odoo commented on #22002
When i made some tests, v11 is quicker than v9 and v10 on large inventory adjustment when not using the barcode scanner nor the special view (fullscreen editable list where onchanges are bypassed). It is still really too slow though. Is it not your experience?

[2018-01-04 12:13] Yenthe666 commented on #22002
@sle-odoo our performance tests are all done with V11 and a barcode scanner. The barcode scanning on inventory adjustments was quite a bit slower in V11 than V11.

[2018-01-04 12:26] Yenthe666 commented on #21686
@nim-odoo,

Thanks for the fix!
This improves things quite a lot. Shouldn't we do this for the cost price too? See the formview:
![image](https://user-images.githubusercontent.com/6352350/34563409-ceb26122-f152-11e7-8da7-e26b547c0a93.png)
See the treeview:
![image](https://user-images.githubusercontent.com/6352350/34563425-e0ffbcbc-f152-11e7-87b6-7037fc15a969.png)

There is still a difference ther

[2018-01-04 13:03] nim-odoo commented on #21686
@Yenthe666 crap, that's because of an inherited view: https://github.com/odoo/odoo/blob/11.0/addons/stock_account/views/product_views.xml#L44
I didn't see that testing locally.

[2018-01-04 13:03] Yenthe666 commented on #21246
Official Odoo ticket number is 803837.

[2018-01-04 13:05] Yenthe666 commented on #21196
@Elkasitu is there any update here? (thanks for self assigning it)

[2018-01-04 13:06] Yenthe666 commented on #21120
@JKE-be could you check?

[2018-01-04 13:06] Yenthe666 commented on #21106
@yostashiro any update on OPW 783552?

[2018-01-04 13:08] nim-odoo commented on #21686
Fixing on #22015, already working on http://290478-11-0-cf32a2.runbot13.odoo.com/web

[2018-01-04 13:12] sle-odoo commented on #22002
@Yenthe666 yes we still need to bypass the onchanges if they're not needed in v11, so that's expected. but the onchange are quicker.

[2018-01-04 13:13] JKE-be commented on #21120
I let it for @nim-odoo

He introduce this behaviour with commit 7d72a72905ce9e13b7be4239aa67eece9140dcb8

IMHO, it was maybe a bug to have several email (why several write ? ) but don't receive mail is another bug!

[2018-01-04 13:24] Yenthe666 commented on #21686
Yep looks fine on the runbot, so if this is merged in everything should be good!
P.S: What about the kanban view? shouldn't we apply it there too? Then the formview, the treeview and the kanban view would be consistent. Example of the kanban:
![image](https://user-images.githubusercontent.com/6352350/34565382-f321b3b6-f15a-11e7-94d6-7a23a601f8da.png)
Example of the form:
![image](https://user-imag

[2018-01-04 13:29] JKE-be commented on #21106
@Yenthe666 Issue is still opened on Yodlee

[2018-01-04 13:33] Yenthe666 commented on #21970
Hi @Ashley-Allan,

Thanks for the report!
I've just tested this but I don't really see the bug?
An example of the vendor bills I started with:
![image](https://user-images.githubusercontent.com/6352350/34565694-1d20c07a-f15c-11e7-9f67-6d299f2ca64b.png)

The payment for those three vendor bills:
![image](https://user-images.githubusercontent.com/6352350/34565615-ccb10366-f15b-11e7-980a-6fc3fef7a39b

[2018-01-04 13:37] Yenthe666 commented on #21876
@lukebranch could you update your Odoo and try the mobile apps to see if it is working fine at your end now?

[2018-01-04 13:43] nim-odoo commented on #22009
We only fix critical issues for v9... This is more an improvement. So we won't fix this.

[2018-01-04 13:43] #22009 closed

[2018-01-04 13:48] gustavovalverde commented on #22002
@sle-odoo we compared two databases, one in v10 with ~2,300 products and a v11 database with ~3,100 products, it was a bunch slower in v11 when making changes to an inventory line.

Even doing manual product selection got slower and slower as more products were added in the inventory lines.

[2018-01-04 13:50] sle-odoo commented on #22002
@gustavovalverde thanks, is it possible you made this test a few weeks ago? we made some changes to cache the name_get in the meantime and it improved a lot

[2018-01-04 13:54] gustavovalverde commented on #22002
Yesterday, on commit 8e181c99c233f1a0e068f9218449add174a9a2b6.

[2018-01-04 13:56] Ashley-Allan commented on #21970
Hello Yenthe,

Your cheques don’t look like they have the amount printed out at all, do they? Basically the cheque has to have the amount numerically at the right of the cheque and also the amount typed out on the cheque. I have attached the one of the cheques I generated to the e-mail, with the 2 amounts circled. They don’t match each other. The correct number is the $4,121.11 on the right, and t

[2018-01-04 13:57] sle-odoo commented on #22002
okay :( i will have a look

[2018-01-04 13:58] Yenthe666 commented on #19387
Hi @celm1990,

The bug has been fixed in https://github.com/odoo/odoo/commit/deb00a703b6c2f676a551bcff45ddbd3225f8fb8

Regards,
Yenthe

[2018-01-04 13:58] #19387 closed

[2018-01-04 14:05] Yenthe666 commented on #22009
As I've responded on the official ticket:

I don't agree with this one. The whole point of that view is to get the total of your inventory valuation. What use does this view ever have if I cannot see the total of the inventory valuation? I can only see the total per line.
You could say "why don't you export those lines?" and get the sum in Excel right? Nope, because I would have to unfold every si

[2018-01-04 14:06] Yenthe666 commented on #22002
Thanks a lot @sle-odoo

[2018-01-04 14:07] Elkasitu commented on #21898
@Yenthe666 I can't seem to reproduce your issue, even on a clean local install, however I did notice that upon installation or reinstallation of marketing_campaign I get redirected to an empty page (non-blocking though, the installation happens anyway) and the outcome is different in community and enterprise:

Community: An error is logged to the console saying 'Menu no action found web test 04 wi

[2018-01-04 14:08] JKE-be commented on #22009
The group by was the easy way to do the sum without update the code.
The change to do in the code will be to add sum=' ' into the field inventory_value from the tree view.

[2018-01-04 14:09] Yenthe666 commented on #21970
Hi @Ashley-Allan,

Thanks a lot for the feedback.
Ideal would be a video where you can reproduce this on a runbot, this would be the easiest to reproduce and confirm.
Otherwise more details & screenshots would be great. Thanks!

Regards,
Yenthe

[2018-01-04 14:16] Yenthe666 commented on #21898
@Elkasitu,

Thanks for the feedback.
Some things seem to have changed in the meanwhile indeed. Just tested on V9 ENT runbot and it now actually throws a JS error.
Runbot: http://289383-9-0-093470.runbot14.odoo.com/web?#menu_id=156
Error:
![image](https://user-images.githubusercontent.com/6352350/34567297-002ccaf8-f162-11e7-82e6-236b1bc32ec3.png)

V9 community gives a white page now:
![image](https

[2018-01-04 15:17] #21246 closed

[2018-01-04 15:20] Ashley-Allan commented on #21970
Hello Yenthe,

The video is in the zip folder below. I think it is self-explanatory when you see it, but I can answer any questions you have. I recreated the problem on the online demo.

[Video.zip](https://github.com/odoo/odoo/files/1603720/Video.zip)

Ashley

[2018-01-04 15:32] mart-e commented on #21099
Removed in master at e7f76783b638ffcab3ee2c4cf37f75cfc1135511

[2018-01-04 15:32] #21099 closed

[2018-01-04 16:19] ccandito commented on #20564
Dear All,
any news on it?
thanks in advance
Claudio Candito

[2018-01-04 16:21] zeroheure opened #22022 "[Odoo.com website] wrong link to Mailing List in footer"
This bug is redated to Odoo website.
Despite the reworked page on Mailing Lists (https://www.odoo.com/groups), the footer in each web page still point to the old one (https://www.odoo.com/page/odoo-community)

[2018-01-04 16:23] sswapnesh commented on #21979
Hello @Yenthe666
Just test on [Runbot.](http://290681-11-0-6a481d.runbot9.odoo.com)

Here is the Video [https://youtu.be/pvyFepay-ik](https://youtu.be/pvyFepay-ik)

[2018-01-04 17:14] nle-odoo commented on #21812
Hi, this should be solved in saas-16 with https://github.com/odoo/odoo/commit/bc8f7a44d6e2c4153dbca9c06d3e5ecfea5a9855 and will be available in the next forward-port in version 11. Thanks.

[2018-01-04 17:14] #21812 closed

[2018-01-04 17:48] danger89 opened #22023 "[11.0] Exporting to PDF doesn't work (qweb_pdf)"
Impacted versions: 11

Steps to reproduce: Using the OCA Financial reports add-on. Go to Reports->Aged Partner Balance. Press the button 'Export PDF'.

Current behavior:
It crashes hard. The report_fillpdf add-on which uses the **Odoo core feature** render_qweb_pdf function.

For some reason I get: PdfFileWriter object has no attribute 'appendPagesFromReader'.

[code]

I do have PyPDF2 installed:

[2018-01-04 17:52] danger89 opened #22024 "[11.0] pip install requirements doesn't work"
close issue again. I was running an old pip version OWNED by the Os, which didn't upgrade.

[2018-01-04 17:55] #22024 closed

[2018-01-04 18:20] danger89 commented on #22023
Maybe I'm running a too old version of python 3 or?

[2018-01-04 19:27] gustavovalverde opened #22026 "[10.0][11.0] product_uom: Wrong UoM conversion completely halts PoS communication to server"
### Impacted versions:
11.0 10.0

### Steps to reproduce:
- Create Product A with UoM "Units"
- Create a BoM containing product A, with UoM Units

2 Options:
- Change Product A UoM in the product template (if it has not been used) to "Fl oz"<-- this mainly happens in implementation phase.
- Change Product A UoM in the product template uploading a new UoM ("Fl oz") through a CSV.

### Current behav

[2018-01-04 19:29] gustavovalverde commented on #22026
cc: @JKE-be as you've already changed a few messages, @simongoffin as you're working with one of this same issues; and @sle-odoo as this also has plenty of impacts in the inventory behavior.

[2018-01-04 19:41] celm1990 commented on #19387
@Yenthe666, tanks you, but this commit will ported to V11???, [on V11 is same error ](https://github.com/odoo/odoo/blob/11.0/addons/purchase/views/account_invoice_views.xml#L62)

[2018-01-04 19:57] sswapnesh opened #22027 "[11.0] "Record has been modified" warning after duplicating record."
Impacted versions: 11.0

Steps to reproduce: Tested on [Runbot](http://290723-11-0-e441f3.runbot11.odoo.com)  --> Go to Sale Order --> Create or Duplicate Sales order

Same Issue for Purchase/Manufacturing Orders

Current behavior: Warning on Screen
`The record has been modified, your changes will be discarded. Do you want to proceed?`

![](https://image.prntscr.com/image/y-2Ev8UuSBq6ZwxRdcg2Pg.pn

[2018-01-04 19:58] sswapnesh commented on #22027
@gde-odoo
Not sure if this relates to #20699 or not.

[2018-01-04 20:20] taifu commented on #18679
@mart-e GREAT! This is the first step. Thanks a lot for your effort. Really

[2018-01-04 20:33] adr-odoo commented on #19355
@JKE-be : I'm agree. the start_datetime could be 7am (local time) with a duration of 12 hours.
It's the default values when all_day="false".
So we would have consistent behavior...

Could we discuss about it to decide if this is a fix or an improvement?

[2018-01-04 20:37] sswapnesh commented on #21889
@Yenthe666  I can confirm this behavior (Same in v9 and v10) but cannot consider this as a bug, But will be good to give the option to use different tax name in odoo and Label on Invoice. (As It is there for other types of tax computation.)

It has been introduced from this [commit.](https://github.com/odoo/odoo/commit/c04065abd8f62c9a211c8fa824f5eecf68e61b73)

[2018-01-04 21:50] blaggacao opened #22028 "[BUG] Configuring warehouses infers from user company instead of warehouse company"
Impacted versions:
10.0

Steps to reproduce:
1. Beeing logged in into a holding company
2. Adapt warehouse configuration of child companies

Current behavior:
1. Routes will be created with the holding company set
2. Therefore, routes will never apply for the warehouse of the respective child company.

Expected behavior:
1. It has it's logic (create a route for the holding company doing movements

[2018-01-05 02:07] lukebranch commented on #21876
@adr-odoo ,

Thanks for the update.
Are there any additional steps to use FCM behind a reverse proxy setup like Odoo + Nginx? I have been doing some reading and it wasn't entirely clear from the information and documentation I could find online and on stackexchange.

@Yenthe666 ,

Yes, i'll definitely update this as soon as possible and test and confirm. Unfortunately it might not be till the week

[2018-01-05 06:29] burhanghee opened #22035 "Bug: While making a return from Picking"
Impacted versions:
11
Steps to reproduce:
1) Create a one line Sales Order with Qty 1 and UOM Dozen.
2) Confirm the order and complete the Picking.
3) Make a return from the completed picking.
Current behavior:
The return order will be created with Qty 12 and UOM Dozen
Expected behavior:
The return order should have created with Qty 1 and UOM Dozen
Video/Screenshot link (optional):

[2018-01-05 07:01] KurtHaselwimmer commented on #12527
A fascinating discussion but one which misses the new aspect that V11 now contains the website.redirect module which allows you to create all the short human-friendly URLs that you wish to which can avoid customers having to use the longer URL with the suffix ID.

We have used this feature to seamlessly transfer page references from an existing website based in wordpress over to a new one based in

[2018-01-05 07:05] Yenthe666 commented on #19387
@celm1990 yes, usually the forward porting is done about once every 1-2 weeks so you should see it being fixed in a few weeks in V11 too.

[2018-01-05 07:10] Yenthe666 commented on #21979
Hi @sswapnesh,

Thanks a lot for the video! This is indeed a bug and I was able to reproduce it now too:
![image](https://user-images.githubusercontent.com/6352350/34598909-b6597d5c-f1ef-11e7-914b-1b205342e15f.png)
@JKE-be can one of your guys look at it?

Regards,
Yenthe

[2018-01-05 07:14] Yenthe666 commented on #21970
Hi @Ashley-Allan,

Thanks a lot for the video.
I simply forgot to do one setting (check on check instead of default) which resulted in me this not noticing this.
This is indeed wrong. @qdp-odoo could you fix this when you've got some time please?

Regards,
Yenthe

[2018-01-05 07:20] Yenthe666 commented on #19132
Hi @esmairi,

I was facing this 'issue' too so I've asked feedback from Odoo itself and I really thought it would qualify as a bug. The official response:

Thank you for your inquiry. In order to view your Lead Automation Campaign in diagram view, you will first need to save the campaign. Once the campaign has been saved, you should be able to view it as a diagram without error. In order to furthe

[2018-01-05 07:20] #19132 closed

[2018-01-05 07:22] Yenthe666 commented on #21951
Hi @tomeyro,

The bug has been fixed in the meanwhile (at https://github.com/odoo/enterprise/commit/525ff12c29a1c78d8f9a836888432fe6a7e4f9f2)!
When you update your Odoo instance it'll be working fine.

Regards,
Yenthe

[2018-01-05 07:22] #21951 closed

[2018-01-05 07:26] sle-odoo commented on #22035
Hello,
I just tried your steps and the return is 60 units. Is your code up to date? This issue was solved by rev https://github.com/odoo/odoo/commit/0322f6e51f41f92b3531942b0923dfe74cfcd26a#diff-fc6cef81fac5ca3c30afb09ccb60ff4c4

[2018-01-05 07:29] mart-e commented on #18679
The performances should be improved in master at 160d657704037fd22051f4101e9b477ae1ff0340
Let us know if you find corner cases where the constraint is raised.

[2018-01-05 07:29] #18679 closed

[2018-01-05 07:30] Yenthe666 commented on #18679
@mart-e thanks a lot for the great job! I'll try to test it a bit in the master soon.

[2018-01-05 07:36] Yenthe666 commented on #22035
@burhanghee please update your Odoo instance and try again.
Alternatively you can try this on an official Odoo test instance at runbot.odoo.com (username and password are both admin).

Regards,
Yenthe

[2018-01-05 07:43] burhanghee commented on #22035
Hi,

Yes, it fixed.

Thanks all. Cheers

[2018-01-05 07:43] #22035 closed

[2018-01-05 07:49] Yenthe666 commented on #22022
@mart-e or @JKE-be for one of you to fix in the official Odoo website. 😉
Perhaps we should also make some redirects?

[2018-01-05 07:49] Yenthe666 commented on #20564
Hi @ccandito,

The Github bug tracker is on a best effor basis. If you have an enterprise license you can report a ticket at odoo.com/help - where response rates are way better.

Regards,
Yenthe

[2018-01-05 07:53] mart-e commented on #22022
Please report the odoo.com bugs to the support team, github is for bugs on the software Odoo.
Nevertheless, I have fixed it as an easy one :-)

[2018-01-05 07:53] #22022 closed

[2018-01-05 08:13] Yenthe666 commented on #21200
@Gorash is there any update on this? It seems to have been laying still for a bit?

[2018-01-05 08:19] Yenthe666 commented on #21243
@qsm-odoo I see the docs are still wrong. Did you have time to look at this yet? Even just removing `page=True` in the doc example would already be a neat improvement.

[2018-01-05 08:34] Yenthe666 commented on #21031
Hey all,

This seems to have been fixed in the meanwhile:
![image](https://user-images.githubusercontent.com/6352350/34601311-a5b61710-f1fb-11e7-9cca-d0225e284cb6.png)
Please update your Odoo @TimLai125 and it'll be fixed.

Regards,
Yenthe

[2018-01-05 08:34] #21031 closed

[2018-01-05 08:37] Yenthe666 commented on #20963
@qsm-odoo could you have a look?😉

[2018-01-05 08:39] Yenthe666 commented on #20914
@edsersolis could you answer the question from Martin please? Otherwise we can't help really.

[2018-01-05 08:45] jco-odoo commented on #22028
I think this is solved by ecaf5f6

[2018-01-05 08:45] #22028 closed

[2018-01-05 08:47] Yenthe666 commented on #20862
Hey all,

The `mediaDialog` has indeed been changed in the meanwhile. The dialog now closes when the image is uploaded and the JS error no longer goes off.
Please update your Odoo codebase and it'll be fixed.

Regards,
Yenthe

[2018-01-05 08:47] #20862 closed

[2018-01-05 08:48] Yenthe666 commented on #20804
@vcloud9ray did you make an OPW for this one?

[2018-01-05 08:54] JKE-be commented on #21979
Ok, thanks we can reproduce it !

Maybe @adr-odoo could take a look in the same time of issue 19355... thanks

[2018-01-05 08:57] Yenthe666 commented on #20763
Hi @flotho,

Thanks for the report.
I've just tried this on the latest V10 but it seems to work fine.
The user:
![image](https://user-images.githubusercontent.com/6352350/34602034-9c15f1b4-f1fe-11e7-80c7-e57a738d47e2.png)
The related contact that has no e-mail:
![image](https://user-images.githubusercontent.com/6352350/34602046-ac3110ba-f1fe-11e7-9261-d8605d251fb8.png)
The POS order I've made with

[2018-01-05 09:01] Gorash commented on #21200
Code in review. We must wait

[2018-01-05 09:01] Yenthe666 commented on #20659
@ward-ye could you give us feedback and more information please?

[2018-01-05 09:12] oerp-odoo opened #22038 "[11.0] Meeting Activity: due date is confusing (is it intended?)"
Impacted versions:
11.0
Steps to reproduce:
Create Meeting Activity (e.g. from opportunity) and then actual meeting that would have some future date (not today).

Current behavior:
meeting activity due date is not related with actual meeting date at all.

Expected behavior:
Meeting activity due date should be related with what was selected as meeting date. Because if you make meeting to be after o

[2018-01-05 09:16] #20914 closed

[2018-01-05 09:18] smetl commented on #22023
Hello,

After some investigations:
- PDF export on Runbot 11.0 is working fine
- PDF export is working using PyPDF2 1.26.0 that contains the 'appendPagesFromReader' method, see https://pythonhosted.org/PyPDF2/PdfFileWriter.html

Make sure you are using 'PyPDF2' and not 'Pypdf' on addons/base/ir/ir_actions_report.py:

`from PyPDF2 import PdfFileWriter, PdfFileReader`

Regards,

Laurent

[2018-01-05 09:18] mart-e commented on #21996
@ged-odoo looks like new views-related ;-)

[2018-01-05 09:21] ged-odoo commented on #21996
@alexkuhn could you have a look when you have some time?

[2018-01-05 09:22] TimLai125 commented on #21031
@Yenthe666 Thank for the update. I have checked and confirmed the fix

[2018-01-05 09:30] Yenthe666 commented on #21200
Okay - thanks for the feedback!

[2018-01-05 09:57] blaggacao commented on #22028
Wow, nice, thanks! I definitely need to rebase :wink:

[2018-01-05 10:20] danger89 commented on #22023
Aha, I see that I have some issue with pip, installing into the wrong location.
[code]

[2018-01-05 10:33] qsm-odoo commented on #21243
Sorry, I do not have the time to properly do that yet.

[2018-01-05 10:37] qsm-odoo commented on #21031
Sorry I forgot to reply here, it was indeed fixed a month ago with https://github.com/odoo/odoo/commit/41d2470093a5e18ecebc86f2f878813f1879462d

[2018-01-05 10:38] Yenthe666 commented on #21243
No problem, we understand that! Best of luck and thanks for the update.

[2018-01-05 10:39] Yenthe666 commented on #21031
Thanks for linking the right commit.

[2018-01-05 10:45] Yenthe666 commented on #7003
Hi @zbik2607,

Thanks for the report and sorry that there has been no response.
As this was against the trunk (master) version it isn't relevant anymore. If you can still reproduce it in newer versions then do create a new bug report please.

Regards,
Yenthe

[2018-01-05 10:45] #7003 closed

[2018-01-05 10:53] Yenthe666 commented on #7010
Hi @fjbatresv,

Thank you for your report and sorry for the late reply!
@mart-e when you activate the language Spanish and duplicate a group when you're in spanish you'll get this warning:
![image](https://user-images.githubusercontent.com/6352350/34606248-f4d72786-f20e-11e7-86a9-38d2e5c429e3.png)
In English it would just duplicate and add (copy) behind it. Shouldn't something similar happen in an

[2018-01-05 10:59] rmu-odoo commented on #20377
@davidtranhp In this PR  You have updated all the terms or text in English, instead of Vietnamese. but for any localisation , text or terms must be in local language. either made it in Vietnamese again or provide local Vietnamese translation for all term you have used.
Thanks.

[2018-01-05 10:59] Yenthe666 commented on #6987
@JKE-be any update on this one? 😉

[2018-01-05 11:07] davidtranhp commented on #20377
@rmu-odoo I did provide Vietnamese translation with the commit 761c8f1 in the PR

[2018-01-05 11:13] JKE-be commented on #6987
Meantime, the notion of "flag" has been introduced, and new user needs to wait for the validation.
So that block a lot of spammers already!

[2018-01-05 11:20] Yenthe666 commented on #6987
Yep, that is a fact. I guess if you want to you can always cheat but the forum has improved. I guess a close is fine here.

[2018-01-05 11:20] #6987 closed

[2018-01-05 11:50] blaggacao opened #22041 "[FUNCTIONAL] Procurements in the context of active inventory management"
I was just playing around in demo.odoo.com and did realize that the request procurement on the product is not available anymore.
How the use case, that the inventory person goes through the inventory and requests a procurement (where no automatic rule is set) is managed from now on?

[2018-01-05 11:53] blaggacao commented on #22041
Especially when doing manual resupply of another warehouse, without beeing able to rely on rules, this becomes a potentially complicated situation, as the 2 necesary automatic moves (delivery to intercompany location, and reception from intercompany location are not created automatically...)

[2018-01-05 12:01] blaggacao commented on #22041
I tried to do a move,
`WH1 <- Intercompany transit`
but as in a move you cannot specify the procurement method, and it will be "take from stock", so the other move will not be created...

@jco-odoo Not sure if this is to be alarmed... :wink:

[2018-01-05 12:08] blaggacao commented on #22041
For an manual / active inventory management (let's say reordering rules would change that frequently so they are just impractical and stock is managed "at sight" for certain products), this change might be critical / blocking, provided I did get it right.
Otherwise you would assume, that the inventory guy can anticipate routes (bought, resupplied, manufactured), in order to trigger those actions h

[2018-01-05 12:43] jco-odoo commented on #22041
You could make a planned transfer (settings of the picking type vignette) and add the procure_method in the view of the moves.  It is true that the request procurement wizard disappeared, but the mechanism stays.  So, it is not that difficult to create a wizard (or even a stored object) with all the information and pass its values to the function that will create all the moves/purchases/mos as bef

[2018-01-05 13:17] blaggacao commented on #22041
Thanks a lot! I'll figure out a practical solution when I migrate then! And as usually, will share it with you! :smile:

[2018-01-05 13:27] danger89 commented on #22023
Yea we can, even so I was using the current stable version of python in Debian Jessie which is 3.4.2 currently. However, Odoo advise us to use Python 3.5+.

[2018-01-05 13:30] Yenthe666 commented on #22041
@blaggacao I guess you've got the answer you need & that this can be closed?
@jco-odoo thanks a lot for the terrific response rate!

[2018-01-05 13:30] Yenthe666 opened #22047 "[Wishlist] Ability to expand all records in treeview in one click"
Impacted versions: All

Steps to reproduce: Go to a treeview which has grouped lines and try to unfold the times. You'll have to do this line by line. A good example of this can be found in V9 under inventory > Reports > Inventory valuation:
![image](https://user-images.githubusercontent.com/6352350/34611116-73d290a6-f224-11e7-9d30-0b523bba97ab.png)
If you want to unfold there is no option to unfo

[2018-01-05 13:31] Yenthe666 commented on #22047
@ged-odoo: I believe this would be a great addition to build for your team?
@wtaferner: for your interest.

[2018-01-05 13:58] pedrobaeza commented on #22047
This module was made for that: https://github.com/OCA/web/tree/8.0/web_group_expand, but not migrated yet.

[2018-01-05 14:02] blaggacao commented on #22041
I would prefer to keep this open, as it is a functional blocker in some cases... I'll rename and follow up once I have a solution. The ball is in my hands.

[2018-01-05 14:03] Yenthe666 commented on #22047
@pedrobaeza neat - thanks for the link! Nevertheless, wouldn't it be great to have it by default in Odoo?

[2018-01-05 14:03] Yenthe666 commented on #22041
Okay, sounds good!

[2018-01-05 14:03] blaggacao commented on #22041
@jco-odoo Yea, thank you Josse! I'll try to keep the quality as high as possible so your commitment will be worthwhile...

[2018-01-05 14:06] ccandito opened #22049 "refund option in PO return movement"
Impacted versions: 10

Dear All,
I've noticed in the version 11 the refund option in return movement with reference to a PO is avalable.
could it be implemented in version 10 also?
Regards
claudio candito

[2018-01-05 14:10] Yenthe666 commented on #22049
Hi @ccandito,

Thanks for the report/feedback.
However adding new features (even if they exist in newer versions) to an older version is against the stable policy of Odoo.
You can find more information at https://github.com/odoo/odoo/wiki/Contributing#what-does-stable-mean

Regards,
Yenthe

[2018-01-05 14:10] #22049 closed

[2018-01-05 14:10] pedrobaeza commented on #22047
Yeah, indeed, but the good thing is that you can always complement vanilla Odoo with OCA modules for having a great deployment on current versions. And now with new v11 JS architecture, is even easier!

[2018-01-05 14:15] ccandito commented on #22049
Dear Yenthe,
before disregarding it, please consider the following thread also
received and billed qty in PO form are not updated properly #13642
regards
claudio

[2018-01-05 14:18] Yenthe666 commented on #22049
@ccandito no matter what.. a new feature or option is never allowed in a stable version, only in the master. Those are the rules (which I didn't come up with).
Anyways, I'll leave the final call to @mart-e

[2018-01-05 14:26] Yenthe666 commented on #22047
Indeed, something that we'll probably start doing more in the future. 👍

[2018-01-05 14:30] mart-e commented on #22049
Sorry but as said Yenthe, we do not add new features in stable versions, it is too dangerous for the users running in production with it.

[2018-01-05 14:44] ges7 opened #22050 "[11] Odoo Client Error on updating Many2Many via Onchange"
Impacted versions: 11

Steps to reproduce: Make an onchange on any field of a model, then from the onchange return values like { 'value' : { 'order_line': (6, 0, [ids]) } }. One of the ids is a record that was created via model.new(), so the thing works on a not created record (NewId).

Current behavior: Line gets added fine to the Many2Many, the widget updates fine, and even saves fine. But if yo

[2018-01-05 14:45] Yenthe666 commented on #22050
@ged-odoo related to the new views?

[2018-01-05 14:55] ccandito commented on #22049
Dear All,
in the screen there is already this indicator;
so it is not a new feature, but a missing  one
Regards
claudio

[2018-01-05 14:59] mart-e commented on #22049
Nevertheless, it is a feature.
I am sorry but if we backport changes like that, we introduce the risk of regressions (which is not acceptable). We release new versions every year that, hopefully, is more complete than the previous one.

In stable versions, we fix bugs but do not change the behaviour of the system.

Regards

[2018-01-05 15:01] aab-odoo commented on #22005
Hello,

The issue is fixed by https://github.com/odoo/odoo/commit/35c829f12b28615351cb306397b1a3dfbfdeaccb.

Regards

[2018-01-05 15:01] #22005 closed

[2018-01-05 15:13] vcloud9ray commented on #20804
No.   I have nobody using Payment matching in v11 yet.

[2018-01-05 15:28] mart-e commented on #7010
I made a patch at #22052 to change that but I am not convinced it is the right way.
Maybe we should just drop the unique constrain (not sure it is very important)

[2018-01-05 15:29] Yenthe666 commented on #22005
Tested and it does fit it. Thanks a lot @aab-odoo

[2018-01-05 15:32] Yenthe666 commented on #7010
Hmm I'm not entirely convinced by that PR either. I would think that removing the unique constraint shouldn't be a problem as the real value that needs to be unique is the id and so on. What was the motivation to add the unique constrain?

[2018-01-05 15:34] Yenthe666 commented on #20804
Hmm, neither do I so can't make a ticket there. @qdp-odoo could you check whenever you have time please?

[2018-01-05 15:34] mart-e commented on #7010
I guess if you two groups with the same name in your user configuration it starts to be messy and don't know which one is related to which group. I would definitely not advise to have two groups with the same name.
To be discussed

[2018-01-05 15:40] Yenthe666 commented on #7010
Fair point, although that you know that if you copy a record that this is possible. Ideal is to have (copy) in there somewhere probably though. Keep me updated.

[2018-01-05 15:57] Yenthe666 commented on #7424
Hi @fleurykoyo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to c

[2018-01-05 15:57] #7424 closed

[2018-01-05 16:54] tomeyro commented on #21951
Thanks @Yenthe666

[2018-01-05 17:49] sle-odoo commented on #21417
following the merge of https://github.com/odoo/odoo/commit/47e2521d94f090e4dc2035be2ce36c43842609ed this should now be fixed

thanks for the report

[2018-01-05 17:49] #21417 closed

[2018-01-05 18:51] Yenthe666 commented on #21951
You're welcome!

[2018-01-05 18:52] Yenthe666 commented on #21927
Hmm that is a usability thing but quite annoying.. @mart-e can you pass this through?

[2018-01-05 20:15] wtaferner commented on #2714
Fixed with commit https://github.com/odoo/odoo/commit/73e2ba991c0e74654f3c2e2ae02485196d25fe1e and others around this one :-)

[2018-01-05 20:15] #2714 closed

[2018-01-05 21:45] gustavovalverde opened #22054 "[11.0] Invoicing App should change its name when accounting module is installed"
#### Impacted versions:
11.0

#### Steps to reproduce:
Install Invoicing Module
Then install Accounting Module

#### Current behavior:
The App still shows "Invoicing" even after the accounting module is installed.

#### Expected behavior:
Change the App name to Accounting when accounting is installed.

cc: @qdp-odoo @mart-e

[2018-01-05 21:46] gustavovalverde commented on #22054
This is mainly because companies that work with the accounting app (and v10 or older clients) find it very confusing that the Accounting functionalities are inside the "Invoicing" App

[2018-01-05 22:03] celm1990 commented on #22054
I agree

[2018-01-06 01:37] hugho-ad commented on #21200
Also replicated in account bank statement lines

[2018-01-06 03:40] gustavovalverde commented on #7010
Hmmm, now that I'm seeing this issue (came from the PR), I realize that this has been happening to me in multiple models (with Spanish), like taxes, journals, etc (mainly accounting) also when duplicating a record.

[2018-01-06 08:50] Ark74 commented on #3156
@mohitg1213
I'm sad to inform that mobile devices will skip untrusted content (selfsigned certs) so even when the issue of Mixed content is fixed, this won't solve the overall problem.

@mart-e
I believe that one of the "features" of SSL is to keep the renewing the security, issuing new certs every once in a while. I believe that the simplest way to implement valid SSL certs is by running a revers

[2018-01-06 09:25] Yenthe666 commented on #7010
Yep, this is something that is happening on multiple places and languages. Odd that this never came up more.

[2018-01-06 09:53] prakashjain commented on #22005
Thanks a lot @Yenthe666, @aab-odoo

[2018-01-06 11:50] bizzappdev commented on #19140
I have also the same issue. The following line keeps appearing in the odoo-server.log
virtual memory limit (2155655168) reached. In v9.
I have xmlrpc calls coming from external php side and this memory problem is causing the problem for slowing down the odoo and every call is taking a very long time.
after a restart of odoo service, it gets normal.

[2018-01-06 12:20] Ark74 commented on #3156
LE ssl certs with DNS API validation. That could be a start :)
Now to get the local dns for mobile devices.

[2018-01-06 13:20] lem8r commented on #22002
We have similar issue with PO containing 2749 lines.
Changing quantity in single line takes about 3 minutes.

Frontend profiling:
![onchange-3min](https://user-images.githubusercontent.com/5942291/34639994-3c18cf66-f2f3-11e7-9174-dc54e26e1f70.png)

Backend (release 2018-01-06) python process takes 100% CPU while handling `/call_kw/purchase.order/onchange`
Stack trace with `kill -3`

[code]

[2018-01-06 15:11] yostashiro opened #22059 "[11.0] translation of res_company.overdue_msg cannot be imported"
### Impacted versions:

11.0

### Steps to reproduce:

- Install Japanese language
- Install account module

### Current behavior:

Odoo does not import translation record of this message from Transifex: https://github.com/odoo/odoo/blob/25943696ea00b140ea19de1c6ee6a42d97d8e2f7/addons/account/models/company.py#L43-L50

In Transifex, this string appears to belong to stock module which is strange: h

[2018-01-06 15:22] gustavovalverde opened #22060 "[11.0] Product Category not translating on product.template"
### Impacted versions:
11.0

### Steps to reproduce:
Create a new Product

### Current behavior:
It shows "All" as the default category
![image](https://user-images.githubusercontent.com/16890942/34640988-77db4a9e-f2d3-11e7-98e2-36cf6f351da4.png)

But the category name is Todos (in spanish, the only installed language in this case)

![image](https://user-images.githubusercontent.com/16890942/34641

[2018-01-06 15:23] gustavovalverde commented on #22060
This might be one for you @mart-e

[2018-01-06 15:48] sle-odoo commented on #22002
@lem8r sadly there's often (always?) performance issues when running an onchange on a one2many containing thousands of lines

you can run a pyflame during the call and analyze where most of the time is spent, if it's outside the orm fixing the code could help, if it's in the orm then well it's more tricky and you should ping @rco-odoo

if you don't care about the onchanges i think you can also dis

[2018-01-06 15:58] gustavovalverde opened #22061 "[10.0] [11.0] The field available_in_pos should be set to False if sale_ok is False"
### Impacted versions:
10.0 11.0

### Steps to reproduce:
With the point_of_sale module installed, create a New product (Product A) and remove the Salable option (`sale_ok` will be false), and save the product.

### Current behavior:
Product A will be available in the Point of Sale, as the `available_in_pos` is hidden in the product.template, but it's still set as `True`, but hidden.

This causes

[2018-01-06 17:48] gustavovalverde opened #22062 "[10.0] [11.0] point_of_sale: Some terms are not translatable"
Impacted versions:
10.0 11.0

Steps to reproduce:
Install point_of_sale
Go to sessions

Current behavior:
![image](https://user-images.githubusercontent.com/16890942/34642366-2d2e1098-f2e8-11e7-8f4a-71be794cd930.png)

Term does not appear in Transifex

Expected behavior:
Translatable term

[2018-01-06 17:48] gustavovalverde commented on #22062
cc: @mart-e

[2018-01-06 18:13] ahizongo opened #22063 "Odoo do not show information after installing Backend theme"
Impacted versions:
v11
Steps to reproduce:
installed web resposive and backend theme
Current behavior:
onlyside bar appears after log in no other information appear
Expected behavior:
![odoo issue](https://user-images.githubusercontent.com/35151738/34642586-ff9a011c-f2da-11e7-8639-5d5de37192dc.JPG)

Video/Screenshot link (optional):

[2018-01-06 21:18] danger89 commented on #20822
Same problem. Running odoo server version **11.0-20180106**.

[code]

I can confirm this problem.

[2018-01-07 00:11] #22063 closed

[2018-01-07 01:53] vadermemo commented on #16706
This bug again,
now in CentOS 7 distribution
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/addons/report/controllers/main.py", line 96, in report_download
    response = self.report_routes(reportname, docids=docids, converter='pdf')
  File "/usr/lib/python2.7/site-packages/odoo/http.py", line 506, in response_wrap
    response = f(*args, **kw)
  File "/usr/lib/py

[2018-01-07 02:09] vadermemo commented on #15969
Same issue on CentOS 7,
the shyjuk's workaround don't work for last version of centOS and odoo

[2018-01-07 14:39] ThijsvOers commented on #21347
I have tested the fix on runbot and it works fine, thank you.

You also might want to know that we are currently working on a new module which should be the replacement of Odoo 8 module hr_timesheet_invoice.

The reason for creating this module is that we want to have control over the invoicing of timesheets (they should be validated first AND we want to have the option to partial invoice hours).

[2018-01-07 15:38] macdelacruz opened #22064 "Missing selection for two-step PO validation in Odoo 11"
Impacted versions: 11.0

Steps to reproduce:
1. Install **Purchase Management**
2. Go to **General Settings**
3. Configure company data

Current behavior:
There is only Order Approval checkbox under Purchases > Cofiguration > Settings.

Expected behavior:
There needs to be a selection for levels of PO validation: one_step and two_step. I can't seem to get the instructions here: [https://www.odoo.c

[2018-01-07 18:57] sadasant opened #22065 "[11] abstract_field's _setValue isn't properly handling exceptions."
Impacted versions: 11.0

Steps to reproduce: Build a new field with a new formatType, but don't extend `field_utils.parse`.

Current behavior: When saving the new field, the value doesn't get sent to the server, but the form behaves as if it succeeded (it doesn't break or shows an error).

Expected behavior: Having a new field with a new formatType but not having `field_utils.parse` causes an exce

[2018-01-07 19:21] nehemiascr opened #22066 "[11.0] db connection error when trying to get interactive shell"
I am trying to get into an interactive shell with odoo 11 but when using the **-d** option it gives me an error, I can get into the interactive shell without **-d** option but then I have no environment object, when trying to connect to the database from this environment-less shell I get the same db connection error, I am trying this using the official _odoo 11 docker image_ and also tried with _b

[2018-01-07 21:29] seckt0r commented on #20822
Me too. Just installed fresh the 20180107 build and get exactly the same error.

[2018-01-07 21:39] sadasant opened #22067 "[11] Documentation | Automate lead assignation | Define rules for a salesperson"
Impacted versions: 11.0

Steps to reproduce: Cloning the project and starting up Odoo, then creating a sales team and a salesperson.

Current behavior: The `Domain` field visible in the documentation is missing.

Expected behavior: Either the `Domain` field in the documentation should be removed, or the field should be added back.

The documentation page [Automate lead assignation](https://www.odo

[2018-01-07 23:46] danger89 commented on #21765
@davidgomezq Did you set your `web.base.url` to https address? Enable developer mode, go to settings->system parameters->`web.web.url` change it to a domain starting with https instead of http.

[2018-01-08 02:12] gustavovalverde opened #22069 "[11.0][10.0] Field job_id is in the module hr_recruitment but it should be in hr"
### Impacted versions:
11.0 and 10.0, maybe others.

### Steps to reproduce:
Make a mass employees upload
Try to upload their job position (`job_id`)

### Current behavior:
Job positions can't be created from import as this menu is just available in `hr_recruitment
`
### Expected behavior:
The job positions view, for importing, should be (also?) available with just the `hr` module, as most employe

[2018-01-08 02:39] gustavovalverde opened #22070 "[11.0] Odoo.sh: Random phantom_poll TEST Fail"
### Impacted versions:
11.0

### Steps to reproduce:
In Odoo.sh upload a commit

### Current behavior:
The build can upload successfully or not, if not it's with the error:
[code]
### Expected behavior
Consistency on this FAIL, or otherwise treat it as a Warning.

[2018-01-08 02:45] gustavovalverde commented on #22070
By the way, this happens when installing ln10_do as a dependency, even tried once with l10n_us and had the same result.

[2018-01-08 02:54] gustavovalverde opened #22071 "[Odoo.sh]: No way to update Odoo source"
Impacted versions:
All

Steps to reproduce:
Try to update the source code with a `git pull`

Current behavior:
`error: cannot open .git/FETCH_HEAD: Read-only file system`

Expected behavior:
Option to update the source code, as there might be a new fix which we'd like to test on **dev stage**. Right now I'm working on source code outdated 20 days.

[2018-01-08 02:59] danger89 commented on #22071
I think you have some mount problem, right issue. Either your system is failing or your storage is full. Maybe you incorrectly mount your disk..

[2018-01-08 03:02] danger89 commented on #22023
**UPDATE:** Running under Debain Stretch now without issues.

[2018-01-08 04:15] flyingL123 opened #22073 "New SSL error occurring accessing Odoo via XML-RPC API"
I've been accessing Odoo regularly for months via the XML-RPC API. I use a php script I wrote that makes use of [darkaonline/ripcord](https://github.com/DarkaOnLine/Ripcord) library.

All of a sudden, in the last day or so, I have been seeing this error in my logs:

Nothing has changed on my server in the last few days, so I'm wondering if anything has changed with Odoo that might be causing this.

[2018-01-08 06:36] shajal8015 opened #22076 "Exception: bus.Bus unavailable in odoo 10"
Dear All, I have facing problem when workers >0:
I am using odoo 10 and ubuntu 16.04 with nginx
The following error display:
------------------------------------------
return self.method(*args, **kw)

File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 509, in response_wrap
response = f(*args, **kw)
File "/usr/lib/python2.7/dist-packages/openerp/addons/bus/controllers/main.py", line 34,

[2018-01-08 06:51] Yenthe666 commented on #20822
Hmm @odony or @xmo-odoo does one of you have an idea?

[2018-01-08 06:53] Yenthe666 commented on #22054
Hmm, it can get confusing I guess. This call should be up to @mart-e.

[2018-01-08 06:55] Yenthe666 commented on #22070
@dbo-odoo could you have a look and answer this one please?

[2018-01-08 06:57] Yenthe666 commented on #22076
Hi @shajal8015,

Please ask this question on the official help forums (help.odoo.com) where plenty of people can help you.
The Github tracker is for bugs in the official code, it isn't used for asking questions about deployment.
You might also want to look at the deployment docs at https://www.odoo.com/documentation/11.0/setup/deploy.html

Regards,
Yenthe

[2018-01-08 06:57] #22076 closed

[2018-01-08 06:58] Yenthe666 commented on #22073
Hi @flyingL123,

Thanks for the report.
I don't think anything specific has changed on the Odoo SaaS side but @mart-e can answer this for you to be sure.
The error itself seems to be coming from the `Ripcord` client anyways so you might want to make a bug report over there.

Regards,
Yenthe

[2018-01-08 07:00] Yenthe666 commented on #22071
Hi @gustavovalverde,

Thank you for the report.
@dbo-odoo could you have a look at this one too?
@danger89 this is the Odoo.sh hosting platform so there is nothing he can about the issue, the shell user is very restricted.

Regards,
Yenthe

[2018-01-08 07:02] Yenthe666 commented on #22069
@mart-e can you have a look and see what you think about this?

[2018-01-08 07:05] Yenthe666 commented on #22065
Hi @sadasant,

Thank you for your report.
@qsm-odoo or @ged-odoo could one of you two have a look at this JS suggestion please?

Regards,
Yenthe

[2018-01-08 07:07] Elkasitu commented on #22071
@beledouxdenis @amigrave

[2018-01-08 07:21] Yenthe666 commented on #22062
@mart-e for your interest - this is coming from this line:
https://github.com/odoo/odoo/blob/25943696ea00b140ea19de1c6ee6a42d97d8e2f7/addons/point_of_sale/views/point_of_sale_dashboard.xml#L74

It doesn't seem to be translatable indeed.

Regards,
Yenthe

[2018-01-08 07:25] #21347 closed

[2018-01-08 07:35] Yenthe666 commented on #22064
@mart-e the "configure your company" part does seem to have moved in V11. Perhaps we need a little doc update here too?

[2018-01-08 07:58] dbo-odoo commented on #22071
Hello,

It is currently not possible to pull the Odoo code - this is done by the Odoo.sh team on a regular basis and shared amongst all containers on the same physical serve. It appears it was not the case for some time, surprisingly. I have notified them of the issue, the code should be updated today or tomorrow at most.

I'll close this issue since it's more a feature request (of which they are

[2018-01-08 07:58] #22071 closed

[2018-01-08 08:05] mart-e commented on #22054
Hmm could you specify what modules you install exactly (technical names) in which order?
I tested and the name of the menu changed.
(but IMHO, I find it more confusing to rename menus and would like to avoid it in the future ;-))

[2018-01-08 08:09] aisopuro commented on #16802
@Yenthe666 note that in the picture you posted earlier, you have searched for quantities greater than 70, not 100. This means that it will find the template, because at least one of it's variants has more stock than 70 (they both have 75 in my example). With a 100, it will not find it.

The main problem here is that there is a mismatch between what the UI tells the user and how the search works. T

[2018-01-08 08:12] Yenthe666 opened #22078 "[Wishlist] Ability to use developer tools in dialogs to get technical details"
Impacted versions: All

Steps to reproduce:
- Open up a V11 runbot and activate developer mode.
- Behold the developer tools icon:
![image](https://user-images.githubusercontent.com/6352350/34662802-870abf14-f453-11e7-99df-09e3196ac6c5.png)
- Go to Sales > Quotations and create a new quotation. Click on "Add an item" to add a product to the quote. You'll now see this dialog:
![image](https://user-

[2018-01-08 08:16] dbo-odoo commented on #22071
FIY, the code was pulled a few minutes ago :)

[2018-01-08 08:18] lukebranch commented on #22078
Great idea.

[2018-01-08 08:20] wardm95 commented on #22078
+1

[2018-01-08 08:21] aisopuro commented on #16893
If you cannot replicate this @jco-odoo then I suppose it has been fixed, or was never really a problem in the first place.

One problem that I have encountered is that if you after step 7 create another picking that moves the same products from warehouse A somewhere else, and force availability on it, the original picking will return to "Waiting for another Operation", even though that operation h

[2018-01-08 08:21] #16893 closed

[2018-01-08 08:25] lukebranch commented on #16893
@aisopuro ,

I was experiencing something very similar in 10.0 here:
https://github.com/odoo/odoo/issues/21932

It is still happening once every now and then, however I have not yet been able to find the steps to reproduce.

Out of interest did you happen to be using OCA/server-tools/dbfilter_from_header and loading it by means of server_wide_modules = dbfilter_from_header?

[2018-01-08 08:28] aisopuro commented on #16893
No @lukebranch, to my knowledge we did not have anything like that in use.

[2018-01-08 08:30] ged-odoo commented on #22065
@sadasant good catch. this is definitely a problem we need to look at.

[2018-01-08 08:33] ged-odoo commented on #22050
@Yenthe666 probably the new views.  We do not have many bugs lately, it is finally getting quite stable (yay for tests), but there may still be some bugs, obviously.

[2018-01-08 08:38] lukebranch opened #22081 "[Master/12.0e] Promo Rules: Buy 2 Get 1 Free, In Increments of 2 (So Buy 4 Get 2, Buy 6 Get 3, etc.)"
<h1>Impacted Versions:</h1>
All
<h1>Steps to reproduce:</h1>
Try to setup buy 2, get 1 free rule in promotional rules, based on QTY increments of 2.

<h1>Current behavior:</h1>
There is no way to setup this sort of QTY increment promotional rule in Odoo without custom development.

<h1>Expected behavior:</h1>
I should be able to create a rule that does not base on min QTY, but based on incremental

[2018-01-08 08:44] lukebranch commented on #22081
@Yenthe666 ,

If you don't mind, could you put a wishlist tag on this? It would be a useful function to have, however there is no current way to implement it reliably based on QTY increments.

For example if I have a rule, Buy 5 get 1 free I want to reliably execute this discount, or rule every time the 5 units increment is reached. So If they buy 9 units, it would apply the rule only once, but if

[2018-01-08 08:46] lukebranch commented on #16893
@aisopuro ,

Good to know, thanks.

[2018-01-08 09:01] d-fence commented on #22066
The problem seems that the Unix socket file is isolated in the Postgresql conatainer and the Odoo container cannot reach it.
I'm not sure that there is an easy solution to that.

[2018-01-08 09:09] lem8r commented on #22002
Thank you for your reply.

At first I thought that this is related to PO's onchange methods so I started to disable them or place break points to see what happening.

In my case it looks like ORM related issue.

Here is an example of events:
1. I edit PO's line qty and press enter to fire onchange
2. call_kw/purchase.order/onchange takes most time (3 minutes)
3. call_kw/purchase.order.line/onchang

[2018-01-08 09:25] aisopuro opened #22082 "Suggestion: When changing a task's project, the stage should not change if it is one of the possible stages of that project"
Impacted versions: 10.0 at least

Steps to reproduce:
1. In the general tasks Kanban view, group tasks by stage. Make sure more than one lane is visible
2. Add a new task in some lane that is not the leftmost lane. Make sure to use the +-menu associated with the lane.
3. A new task will be created, though it will not a have an associated project. You will need to change the project by opening the

[2018-01-08 09:39] Elkasitu commented on #22082
Here is a counter-example to your request:

I have a task called "potential client 23555"

I have 2 project: pre-sales and sales

pre-sales have the stages "talk with client about custom features, custom features quotation, done"

sales have the stages "talk with client about his needed standard features, standard features quotation, done"

The task would first go through pre-sales until done, the

[2018-01-08 09:46] smetl commented on #18572
Hello,

I have a little problem with the CBS report. The following line use a field that is defined in the `report_intrastat` module but this one has a dependency to `stock`, `sale` and `purchase`. It means it add a lot of extra dependencies for the `l10n_nl` module.

https://github.com/odoo/odoo/compare/master...odoo-dev:master-l10n_nl-2-las#diff-235af30a89dbfc57519e4866147ed013R65

Could you che

[2018-01-08 10:24] mart-e commented on #22064
Thanks, we will fix the doc  at odoo/documentation-user#259 !
Closing as an issue of doc, not of Odoo

[2018-01-08 10:24] #22064 closed

[2018-01-08 10:28] alexkuhn commented on #21996
Hello, this commit fixes the issue: https://github.com/odoo-dev/odoo/commit/6247d44721908043adbef149bde1c593966a6dcb

By default, a binary field in a list view displays its estimated size (e.g. 2.92 Bytes).
If you would like this field to display a download link, you should use the widget `download_link`.

For instance, with attachments, add the binary field as follow:

`<field name="datas" widget

[2018-01-08 10:33] aisopuro commented on #22082
Good point @Elkasitu, you're right in that we mainly assume projects to be standardised, and we don't want to mov tasks from project to project, because it messes with the analytic accounting. You're right in that there isn't really any good way of determining which of our ways is "better" necessarily, so I think that it might just be better to forget about this.

[2018-01-08 10:33] #22082 closed

[2018-01-08 10:46] #22062 closed

[2018-01-08 10:58] amigrave commented on #22071
Hi @gustavovalverde, in the future may I ask you not to use the `github/odoo` issue tracking for Odoo.sh specific issues/feedback?

For **issues** concerning the Odoo.sh platform, you can use the [Odoo ticketing system](https://www.odoo.com/help) (specifying your project name and the url of the concerned instance in the ticket will increase the reactivity of the support team) and for **feedback**

[2018-01-08 11:21] Yenthe666 commented on #22050
That is good to hear and it was all worth it! Could you have somebody have a look?

[2018-01-08 11:37] Gyuri77 commented on #13164
Inherit the current view to a new one, modify it for your taste, and use that on that menu.

[2018-01-08 12:00] Gyuri77 commented on #9532
We have ~100 000 products, and a lot of pricelists.
I modified the search_read for products (only for POS querys), and instead of odoo style object based search and browse, i write a big sql query,  so its fast as lightning. The downloaded data grows more than 80 MB, so we set in apache to send data compressed. Some of our pos uses mobileinternet sticks with pay per GB, so its a must have.
For man

[2018-01-08 12:22] JKE-be commented on #22081
already the case... not ?

[2018-01-08 12:27] rdeodoo commented on #22081
Yes, it is working that way currently. Every X product, you get Y free product. X and Y being defined in the promotion program.
Note that you might experience some bugs related to quantities or minimum threshold that will be fixed in the upcoming days.

[2018-01-08 12:45] litnimax commented on #6326
The same issue is wuth Odoo 10.0.
Here is my view:
[code]
When doing odoo -u barrier I get:
[code]

Actually I am surprised as I expected noupdate="1" to ignore changes.  Current database has another value and the same key but this is how it was supposed to be - initial setup and after that customer changes value and it's not reset on every update.

[2018-01-08 12:50] Yenthe666 commented on #6326
@l-arnold this means there is no longer support for this version but it is still available.
@litnimax `barrier` is not a default Odoo app so this is an issue with your custom development.

[2018-01-08 13:11] rousseldenis commented on #18679
@mart-e Could you provide a blocked PR for our OPW on 10.0 branch ?

[2018-01-08 13:17] lem8r commented on #22002
Here is 60 seconds pyflame chart of odoo process(multi workers mode) handling PO's onchange

![po-line-onchange](https://user-images.githubusercontent.com/5942291/34672270-80a8866e-f486-11e7-96db-bcc83847a71b.png)

After that I got CPU time limit exception with stacktrace
[code]

[2018-01-08 13:30] mart-e commented on #18679
@rousseldenis sorry but what do you need? You should be able to apply 160d657704037fd22051f4101e9b477ae1ff0340 and ad3b28fd8957a717b4a5ba7292068276925495ee on your 10.0 branch if needed but we can not backport it.

[2018-01-08 13:39] litnimax commented on #6326
Yenthe666, the problem is in algorithm Odoo uses to update records.
It has nothing to do with a particular module.

[2018-01-08 13:39] rousseldenis commented on #18679
@mart-e No, that's ok if I can apply these commits to 10.0 directly

[2018-01-08 13:45] auditum-sbl opened #22087 ""Unsubscribe" in Massmail doesn't work"
Impacted versions:
Odoo 10

Steps to reproduce:
Click in a Massmail on "Unsubscribe"

Current behavior:
Redirect to a 404 error page called "/ unsubscribe_from_list"

Expected behavior:
User should be removed from the Massmail Recipient list and redirected to a page that confirms the logout

Video/Screenshot link (optional):
![bildschirmfoto 2018-01-08 um 14 40 30](https://user-images.githubuserco

[2018-01-08 13:53] sadasant commented on #22065
@Yenthe666 @ged-odoo heeey :) thanks for the replies! Have a wonderful day!

[2018-01-08 13:56] flyingL123 commented on #22073
Thanks @Yenthe666. I'm struggling to see what else could possibly cause this. Nothing has changed on my server or with the `Ripcord` package. I keep getting referred to this issue on Stack Overflow: https://stackoverflow.com/questions/14078182/openssl-file-get-contents-failed-to-enable-crypto. I don't fully understand it, but I think it indicates that there is some sort of mismatch between ssl ver

[2018-01-08 13:59] treviser opened #22089 "[11.0]Bug: snippet_latest_posts crashes the web page (500: Internal Server Error)"
Impacted versions:
11.0
Steps to reproduce:
Insert the "Latest Post"-Snippet on a web page

Current behavior:
From time to time, the corresponding web page crashes and can not be recovered. It is necessary to delete the snippet code manually in the backend.

Traceback:
[code]

Expected behavior:
The snippet works as expected.
Video/Screenshot link (optional):

[2018-01-08 14:05] mart-e commented on #22073
Hello,

Sorry but I am not aware of main changes.
Maybe the SSL certificates have been updated, I am not really aware of the infrastructure changes.

For issues on Odoo Online, please contact the [Odoo support](https://www.odoo.com/help). github is to report issues on the software Odoo.

Seeing your errors makes a timeout, it may just mean that the server was unavailable at that time.
If you give

[2018-01-08 14:05] #22073 closed

[2018-01-08 14:24] mart-e commented on #22069
Hello,

Isn't it the same than account vs account_accountant? The hr module set all the basic models for underlying logic and hr_recruitment handles the part with the job positions.
It looks like it was always the case (I stopped to search when was in 2012)

[2018-01-08 14:59] mart-e commented on #22060
Yes, you don't show the same field on both screen. In the first it is the hierarchy of categories

![screenshot-2018-1-8 e-com10 apple draadloos toetsenbord - odoo](https://user-images.githubusercontent.com/564822/34675248-4b3c30f4-f489-11e7-8ac6-aade9bf9e063.png)

and the second is the name of the category

![screenshot-2018-1-8 all saleable physical - odoo](https://user-images.githubusercontent.

[2018-01-08 15:13] mart-e commented on #3156
Interesting the way Plex works, thanks for the sharing !

[2018-01-08 15:45] intero-chz commented on #22060
What about recomputing the field after translation change?

[2018-01-08 16:13] gustavovalverde commented on #22054
@mart-e It's still saying Facturar (Invoicing) after installing `account_accountant`

[2018-01-08 16:20] mart-e commented on #22060
No, otherwise, you would store a translated value. You store the computed result (here the list of parent categories), and use it. But if you store the translated result, other users will see it in the language of user that executed the computation.
We have the same issue with stock location I think.

[2018-01-08 16:22] mart-e commented on #22054
@gustavovalverde ok, so you are not working in English! Indeed, the term does not change then.

This is one of the reason why I don't think it is a good idea to rename the menus :  it is not possible to efficiently translate a record that you rename with some module installation.

We chose to keep Invoicing as it is what most of the people will probably see (Invoicing is in CE).

[2018-01-08 16:23] rim-odoo commented on #19160
The CSS of the report causes wkhtmltopdf to eat too much RAM. Either you can upsize your memory limit (if your server can handle it), either you must change the text at the bottom of the page in order to change a bit the number of pages. This issue is very nasty since wkhtmltopdf crashes without indicating the real source of the problem that seems to be the evaluation of some CSS rule

[2018-01-08 16:44] yelizariev commented on #6326
Workaround: remove you parameter via ``[[ Settings ]] >> Technical >> Parameters`` before upgrading.
Recommendation for custom modules: use function instead of record, e.g. ``<function model="ir.config_parameter" name="set_param" eval="('auth_signup.allow_uninvited', True)"/> ``
Mor information http://odoo-development.readthedocs.io/en/latest/odoo/models/ir.config_parameter.html

[2018-01-08 17:42] aliencrash commented on #19160
The actual problem is with openssl library, verify with version you are using and install openssl 1.0. This is an issue with QT

[2018-01-08 18:07] yelizariev commented on #21996
Thank you @alexkuhn, but I still have few concerns:

* ALL Binary data are downloaded when tree view is opened. It decreases performance on server side as well as client side. There is special option to download  only size of the files from the server, check it please: [bin_size](https://github.com/odoo/odoo/search?l=JavaScript&q=bin_size&type=&utf8=%E2%9C%93)

![s1](https://user-images.githubuser

[2018-01-08 18:15] Yenthe666 commented on #21996
Both suggestions sound very good to me honestly.

[2018-01-08 19:29] gustavovalverde commented on #22054
@mart-e I can agree with you and the dynamic terms, it would also make it harder for translators having the same word in the same context.

Then, targeting the actual issue, in the Americas (aside from USA, where I don't have much experience) there's not an existing ERP use case without `account_accountant`. Maybe for Spanish speakers the best way would be to consider this translation as Accountin

[2018-01-08 21:43] gustavovalverde commented on #22060
So a "workaround" would be not to use the premade categories that comes with `base`, but instead use others created from scratch?

[2018-01-08 21:53] gustavovalverde commented on #22062
Thanks for the fix @mart-e. Is this also an issue or is it just me? https://github.com/odoo/odoo/issues/22062#issuecomment-355763683

[2018-01-08 23:38] hugho-ad opened #22097 "[11.0] timesheet_grid: Unable to set not null on Column 'name'"
Impacted versions:
11.0
Steps to reproduce:
-Install timesheet_grid module
- Create some lines in the timesheet with null description
- Stop the instance and made -u all
Current behavior:
It triggers next error
![image](https://user-images.githubusercontent.com/10233975/34697794-5d1be09c-f49a-11e7-92f6-edb2e3811d85.png)

Expected behavior:
-Remove the requiere attribute from name field in account.

[2018-01-09 01:53] lukebranch commented on #22081
@rdeodoo ,

Thanks for looking into this. Let me check again, perhaps i'm missing something.

[2018-01-09 02:14] jbeltranarens opened #22099 "[10.0] Bixolon srp 350 plus not working!!"
Impacted versions:
10.0

Steps to reproduce:

1. odoo in ubuntu 16.04 with posboxless

-$ odoo/odoo-bin --pidfile=posbox.pid --db-filter=posbox -d posbox --log-level=error --load=web,hw_posbox_homepage,hw_escpos

2018-01-09 01:55:15,856 28735 ERROR ? odoo.addons.hw_escpos.controllers.main: Can not get printer description: The device does not support the specified langid
2018-01-09 01:55:15,874 287

[2018-01-09 04:31] prakashjain opened #22101 "Sale Order PDF report Order lines changed Variant product name value not display in PDF"
Impacted versions:
Version 9.0c (Community Edition)

Steps to reproduce:
Create New Sale Order with order lines Product variant and save record.
Edit record and Change Product variant value to other variant and save.
Finally, Generate PDF report for this Sale Order.

Current behavior:
Changed Product variant should not reflected in PDF report, old value displayed.

Expected behavior:
Product varia

[2018-01-09 05:06] webtekindo opened #22102 "Procurement (Buy) still "Running" after cancel related Receipts"
**Impacted versions:**

10.0

**Steps to reproduce:**

- Create Stockable Product (route Buy)
- Create Reordering Min/Max = 1.0
- Run Reordering Rules
- Confirm PO
- Cancel Receipt (picking)

**Current behavior:**

The related procurement state is still "Running". If we try to cancel manually the procurement then we get the error "Can not cancel a procurement related to a purchase order. Please ca

[2018-01-09 07:20] Yenthe666 commented on #22102
@sle-odoo for interest of you.

[2018-01-09 08:49] yung-wang opened #22107 "[11.0] When you duplicate a blog, the view count is also copied."
Impacted versions:
V11

Steps to reproduce:
Go to the website editor and select an existing blog (if not there, create one first). Make sure there is already a view count. Duplicate the blog using the option on the top right. Once you save your copy, you will see that the blog has the same view count.

Current behavior:
see above

Expected behavior:
The view count should not be copied.

Video/Scre

[2018-01-09 08:50] rousseldenis commented on #22041
@rvalyi You could see also at https://github.com/OCA/stock-logistics-warehouse/pull/352

[2018-01-09 09:06] yung-wang opened #22109 "[11.0] A duplicated blog with the snippet Text-Image, when you change the image (double-click) the image is not saved"
Impacted versions:
V11

Steps to reproduce:
1. Make sure you have a blog with a Text-Image snippet block. For our example we will change the image to a youtube video. Edit the image by double clicking on it and change the video url to: https://www.youtube.com/watch?v=EkbBFmIWoTE
2. Save this blog. Now we duplicate this blog by choosing the option in the top-right menu.
3. Edit the Text-Image again

[2018-01-09 09:28] Yenthe666 commented on #22107
Hi @yung-wang,

Thanks a lot for your bug report.
I've just tested this on the latest Odoo 11 and I can confirm that this is happening:
![image](https://user-images.githubusercontent.com/6352350/34713830-ba6268ba-f527-11e7-86db-ff93939ea2c9.png)
@JKE-be can you have a look when you have time? The counter shouldn't be copied.

Regards,
Yenthe

[2018-01-09 09:31] JKE-be commented on #22107
Just a copy=False missing (in v9 probably)

I try to take a look tomorrow ;)

[2018-01-09 09:47] rousseldenis commented on #18679
@mart-e https://github.com/odoo/odoo/commit/160d657704037fd22051f4101e9b477ae1ff0340 cannot be applied on 10.0 directly.

Can you provide the patch ? Thanks

[2018-01-09 09:54] mart-e commented on #22062
@gustavovalverde where do you see that? I just see "Punto de Venta" which is from here https://www.transifex.com/odoo/odoo-11/translate/#es/point_of_sale/119297951?qt=Punto%20de%20Venta

[2018-01-09 10:12] mart-e commented on #18679
Well it applies but the file was renamed 😉  try with odoo-dev/odoo@f227d9877d069fb7e07d74cb2a5cdc6ad5e0ef8b

[2018-01-09 10:35] rousseldenis commented on #18679
Function 'create_unique _index' does not exists in v10...

[2018-01-09 10:47] mart-e commented on #18679
Right, but it is not too complex to backport too
https://github.com/odoo/odoo/blob/4637bdf9bf1fa2644a048d5e586fc1b655a2940e/odoo/tools/sql.py#L192-L198

[2018-01-09 10:50] sandhya834 commented on #19908
Point of sale for odoo11 generates error while configuration.Please help.I am new to odoo.just installed odoo11 and its throwing these errors.
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/cache.py", line 84, in lookup
    r = d[key]
  File "/usr/lib/python3/dist-packages/odoo/tools/func.py", line 68, in wrapper
    return func(self,

[2018-01-09 11:00] gustavovalverde commented on #22062
@mart-e, indeed. But as you can see in the image it actually says "Terminal Punto de Venta", it should be "Punto de Venta", as it says in Transifex.
![image](https://user-images.githubusercontent.com/16890942/34717829-c4495040-f50a-11e7-86f2-38fa3d89afb5.png)

[2018-01-09 11:06] mart-e commented on #22062
Not in the latest v11 on the runbot
![screenshot-2018-1-9 punto de venta - odoo](https://user-images.githubusercontent.com/564822/34717990-468973f8-f535-11e7-906f-6c9a6c7ce69c.png)

Make sure your translations are up to date

[2018-01-09 11:33] Yenthe666 commented on #22062
@gustavovalverde those are probably old terms that are still saved in your local Odoo.

[2018-01-09 12:14] davidgomezq commented on #21765
Now works well! Thanks @danger89

[2018-01-09 12:14] #21765 closed

[2018-01-09 12:19] #21766 closed

[2018-01-09 12:29] jbeficent commented on #22041
@blaggacao @rvalyi the modules 'stock_request' and 'stock_request_purchase' have just been merged in OCA. See https://github.com/OCA/stock-logistics-warehouse/tree/11.0.

I created them to satisfy precisely this need. And IMHO the quality of the modules is good.

[2018-01-09 12:30] jbeficent commented on #22041
@jco-odoo If you like the idea we could propose them to odoo core!

[2018-01-09 12:48] Yenthe666 commented on #22041
@sle-odoo this might be of interest for you too.

[2018-01-09 12:55] sle-odoo commented on #22041
@Yenthe666 at the moment i just create a planned picking and add the move_type in the view to chose the procure_method. I don't know if we want the "request procurement" feature back, @lap-odoo for a feedback.

[2018-01-09 13:06] danger89 commented on #21765
You are welcome.

[2018-01-09 13:12] kiattipong commented on #18553
Hi @Yenthe666 ,

please help, this issue still be opened
pgtune already set but it's not working

There are 2 Servers for App and DB
App: CPU 16 Core RAM 32 GB
DB: CPU 24 Core RAM 64 GB

Database Size : ~50 GB

[2018-01-09 13:34] mart-e commented on #22069
I have reported the feedback to see if we can improve that. If agree, it will land in master.

[2018-01-09 13:36] adr-odoo commented on #21876
Hello @lukebranch ,

I think that it should work without any additional steps.
I would advise you to test and once done, kindly ask you to get back to me.

[2018-01-09 14:13] rohitramnani1994 opened #22114 "Sale warning issues OdooV11"
Impacted versions: [11.0]

Steps to reproduce:
1 > Go to Sales - > Configuration -> allow Warning in orders for products or customers
2> Go to Customer menu - > open any customer form view -> click on edit button - >go to internal notes tab

Current behavior:

when you select Warning in "Warning on the Sales Order"  field then show the one more required field is called "sale_warn_msg" and again  s

[2018-01-09 14:15] rohitramnani1994 commented on #22114
Hello @Yenthe666

hope you are doing well !

can you please check it

Many thanks in advance :)

[2018-01-09 14:18] mart-e commented on #21927
This is due to the size of the window, too much information on a column.
I agree it can be improved. Changed that in master at 98580ed7301b651f4f592b078eeb946d766812fc

[2018-01-09 14:18] #21927 closed

[2018-01-09 14:31] Yenthe666 commented on #22114
Hi @rohitramnani1994,

Thank you for the bug report (and the video!)
I can confirm that this is a bug and a quite annoying one. @mart-e perhaps something you could take a look at?

Regards,
Yenthe

[2018-01-09 15:38] bradrust opened #22117 "[11.0] Unable to delete a Company, Warehouse, and Procurement Rule"
Immediately after creating a new Company (and it's subsequently auto-created Warehouse, Routes, and Procurement Rule) you can't immediately delete it.   There have been no operations (moves, business logic, etc...) against this Company, Warehouse or related entities.

Impacted versions:

community 11.0 (11.0 branch from Jan 1)

Steps to reproduce:

Configure Sales, Point of Sale, Inventory, Invoic

[2018-01-09 15:51] Vartkat commented on #17912
Hi,

Why nobody is merging this ? I’m using it since September and seems to work for me.

[2018-01-09 16:03] litnimax commented on #6326
Thanks! YML solution is the only acceptable.
P.S. But  anyway, how it is possible? How noupdate="1" tries to overwrite a record with same same xmlid??

[2018-01-09 16:03] #21274 closed

[2018-01-09 16:39] yelizariev commented on #6326
YML support is removed in master, so it's recommended to avoid that

[2018-01-09 16:40] yelizariev commented on #6326
Instead of yaml you can create method in python and call it via ``<function ...`` in xml

[2018-01-09 16:42] yelizariev commented on #6326
noupdate="1" means that record is not updated **if it already exist**. In you case record with *external id* ``pub_addr`` doesn't exist), but manually created record does exist (without *external id*)

[2018-01-09 16:52] janbec commented on #15629
@hex2a @aduijs
If you are still having trouble with this, I wrote a small application for us available [here.](https://github.com/janbec/odoo/tree/master/sale_order_amount_to_invoice)

I had to put in some extra logic because we have a customization running for unit_price which can be easily removed. Had to replace the Sale to invoice view because view id was the same as for the regular sale order

[2018-01-09 17:16] #7010 closed

[2018-01-09 17:17] mart-e commented on #22114
cc @ged-odoo looks like a funny bug (but not blaming the new view, was not present in saas-16)

[2018-01-09 17:45] luistriana28 opened #22119 "[10.0][11.0]-DateTimes in Attachments"
Impacted versions: 10.0

Steps to reproduce: Accounting > Sales > Customer Invoices > Create > Save the Invoice > Add an Attachment > Click on attachments > Mouse over the Attachment the hour is 6 hours later than my pc hour.

Current behavior: It sums 7 hours to all the attachments uploads.

Expected behavior: Get the user timezone and upload the attachment as the user local time.

Video/Screensh

[2018-01-09 19:29] sswapnesh opened #22120 "[10.0] Issue with float_time widget"
Impacted versions: 10.0

Steps to reproduce: Tested on [Runbot](http://291817-10-0-1ad886.runbot13.odoo.com) --> Go to View Containing float field with float_time widget on it --> Create a new record and Save it. (Eg. Project --> Task)

Current behavior:
 Warning on Screen
`The record has been modified, your changes will be discarded. Do you want to proceed?`

Expected behavior: Warning should not

[2018-01-09 20:19] sylwek845 commented on #17912
@Vartkat I'll try to merge it ASAP

[2018-01-09 22:46] ivanporras commented on #14750
I have the same error, Any solution??

Thank you!!

[2018-01-09 23:27] frederic-meyrou commented on #6776
Dear all,

Do you know how to fix the problem while the framework patch is not published?
I have the same problem on Odoo V9 latest revision.

Tks a milion

./Frédéric

[2018-01-09 23:30] JKE-be commented on #6776
You can reactivate public user
Add public user into public group
And désactivate the public user

That should fixes your problem

[2018-01-09 23:30] JKE-be commented on #6776
Or just tick checkbox on public user should be enough !

[2018-01-09 23:52] edsersolis opened #22122 "[11.0][QUESTION] What does this line mean? Haven't found an answer nor code producing it"
Impacted versions: 11.0

Steps to reproduce: Don't know. Some journals have it others don't (seems that only sales and purchase).

Current behavior: A purple line is shown at the left of some journals in the accounting dashboard. Haven't found a condition in the code that creates it.

Expected behavior:

Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/6585110/

[2018-01-10 00:02] edsersolis commented on #22054
Invoicing is such a small term for the Accounting module. And I can already hear customers complaining for it, and yes, I know it's just a word but we must keep attention to details. SOTA.

USA, Canada and LATAM use the concept of Accounting, these will also complain if you just call it Invoicing.

[2018-01-10 00:11] edsersolis commented on #19990
All products where consumed on the first production. The thing here is that if when the MO is executed and the components have ZERO cost by the time that a partial production is passed to stock than these stock units will have a ZERO cost, it doesn't even take into account the OEEs for these units costs. Not even after completing the production these units will have their cost.

So if for example

[2018-01-10 05:57] jzaburunov commented on #3749
Hi, @smorele

Is it available to see your progress with fullcalendar 2.x ? I will very love it.

[2018-01-10 06:55] Elkasitu commented on #22119
Hi,

This is normal behavior as attachment time is saved as *server* time, which for the runbot is UTC time.

[2018-01-10 07:43] fmdl commented on #22122
Dear

Just click on the menu and choose a color :-)

![image](https://user-images.githubusercontent.com/16716992/34761001-50cde134-f5e2-11e7-811e-1e4626df8570.png)

[2018-01-10 07:57] mart-e commented on #22059
Fixed at ff0abd214c89dce19984ed0f3c72ea556e23da01, thanks

[2018-01-10 07:57] #22059 closed

[2018-01-10 08:04] wangsamas opened #22130 "(Odoo 11) Scheduled actions don't work for sub domain multi database"
Impacted versions: 11

Steps to reproduce:
https://docs.bitnami.com/installer/apps/odoo/#how-to-find-the-database-credentials

@ installdir/apps/odoo/conf/odoo-server.conf
  db_name = False
  dbfilter = ^%d$
  proxy_mode = True

@  installdir/apps/odoo/scripts/odoo_background_worker.sh
  SCHEDULER_START="$ODOO_HOME/bin/odoo-bin -c $ODOO_HOME/conf/odoo.conf --max-cron-thread 1 --db-filter=^%d$"

@

[2018-01-10 08:07] yostashiro commented on #22059
@mart-e Thanks!  Out of curiosity, what is the implication of using lambda for default strings?

[2018-01-10 08:10] mart-e commented on #22059
@yostashiro it just mean I can call the translation method `_(...)` at execution time.
If I did something like `fields.Char(default=_('Default Value'))`, it would not work because the method would be evaluated when the server is started. It needs to be re-evaluated for each create as every user is probably not in the same language.

[2018-01-10 08:12] yostashiro commented on #22059
@mart-e Ah, I see.  Thanks a lot for the explanation.

[2018-01-10 08:13] Yenthe666 commented on #22122
Exactly - as answered by @fmdl (thanks for the answer!)

[2018-01-10 08:13] #22122 closed

[2018-01-10 08:17] Yenthe666 commented on #14750
Hey all,

Has anybody found  a clear way to reproduce this? Can you reproduce this on an official runbot (runbot.odoo.com)?

Regards,
Yenthe

[2018-01-10 08:20] Yenthe666 commented on #22120
@ged-odoo could this be triggered at the JavaScript side?
@sswapnesh yep - that doesn't look right 😆

[2018-01-10 08:41] Yenthe666 commented on #20203
@mart-e can we remove this? I do believe it shouldn't be there.

[2018-01-10 08:42] Yenthe666 commented on #20044
@mart-e can you have somebody with a Mac check this?

[2018-01-10 08:49] Yenthe666 commented on #20030
Hi @sswapnesh,

Thank you for the bug report. This does look wrong, the enterprise label should be shown.
@mart-e the odd part is that the label is set there in the view:
https://github.com/odoo/odoo/blob/ff0abd214c89dce19984ed0f3c72ea556e23da01/addons/account/views/res_config_settings_views.xml#L176

Can you have a look?

Regards,
Yenthe

[2018-01-10 08:51] Yenthe666 commented on #19947
Closing as there has been no feedback in months.

[2018-01-10 08:51] #19947 closed

[2018-01-10 08:52] Yenthe666 commented on #19927
This is an implementation / configuration issue. Both the Odoo 11 and Odoo 11 should have a different user and those databases should be assigned to the correct user too.

[2018-01-10 08:52] #19927 closed

[2018-01-10 08:57] Yenthe666 commented on #19863
Closing as there has been no feedback.

[2018-01-10 08:57] #19863 closed

[2018-01-10 09:13] Yenthe666 commented on #19609
@d-fence perhaps something to check for you?

[2018-01-10 09:14] Yenthe666 commented on #19599
@ged-odoo could you give an update? 😄

[2018-01-10 09:19] Yenthe666 commented on #19140
@KangOl and @xmo-odoo any update please?

[2018-01-10 09:41] d-fence commented on #19609
I agree with @rcastro-tyc that did a good explanation. I'm not sure about the "sudo pip --user", are the files installed for the root user ? Probably. So, that could explain why the module could not be found for the current user. I think that the virtualenv way is far easier.

[2018-01-10 09:50] Yenthe666 commented on #19609
Yeah indeed but can we conclude that this 'bug' is simply an implementation issue and that you should run a virtualenv if you want to do this? Or do we want to improve/change the behaviour?

[2018-01-10 10:23] Yenthe666 commented on #17661
@nim-odoo and @ged-odoo still relevant in V11 too. Is there any fix planned for this?

[2018-01-10 10:31] Yenthe666 commented on #18234
Hi @collex100,

It looks like your email templates got destroyed by somebody/something along the line.
You might want to update your Odoo, delete the default e-mail templates and reload them to fix this.
This issue is no longer present in the latest Odoo 10. If you still face this problem then please try to reproduce it on an official runbot (runbot.odoo.com) and post back here.

Regards,
Yenthe

[2018-01-10 10:31] #18234 closed

[2018-01-10 10:43] Yenthe666 commented on #18204
Hi @wpichler,

Thank you for your report.
I've just tested this on the latest Odoo 10 (starring and unstarring without refreshing) and it works fine out of the box.
Please update your Odoo codebase and try again.

Regards,
Yenthe

[2018-01-10 10:43] #18204 closed

[2018-01-10 10:44] Yenthe666 commented on #18201
Hi @anaghjose,

Thank you for your report.
I've just tried this on the latest Odoo 10.0 but was not able to reproduce this. Can you reproduce this problem on an official Odoo runbot instance (at runbot.odoo.com)?
CC @JKE-be

Regards,
Yenthe

[2018-01-10 10:53] mart-e commented on #22060
The solution would be not to store it but implies restoring the beautiful methods @tde-banana-odoo removed at b1a8cf2e270195516b2729f4c88a3db0f01b7811...
Creating new categories in mono-language would do it too

[2018-01-10 10:54] lap-odoo commented on #20497
@feketemihai Thanks ! We will have a look at your PR once it will be ready (taxes part finished). #22105

[2018-01-10 11:03] collex100 commented on #18234
I found the problem. It was associated with a wrong translation in email templates because of which the sending template broke. Thank you!

[2018-01-10 11:04] JKE-be commented on #18201
It has been fixed meanwhile.

Thanks for the report !

[2018-01-10 11:04] #18201 closed

[2018-01-10 11:24] JKE-be commented on #21675
Sale order is created for the company_id set on the website and not the portal user.
![image](https://user-images.githubusercontent.com/4848797/34770358-360270a8-f601-11e7-9628-477a779768af.png)

![image](https://user-images.githubusercontent.com/4848797/34770362-3a8ee80e-f601-11e7-8c9b-f1a1965d192a.png)

[2018-01-10 11:24] #21675 closed

[2018-01-10 11:26] zeroheure opened #22138 "debian package removal shouldn't remove /var/lib/odoo"
Impacted versions: 7.0 to 11.0

Steps to reproduce: `apt-get remove odoo`

Current behavior: ODOO_LIB_DIR (/var/lib/odoo) is deleted.

Expected behavior: ODOO_LIB_DIR (/var/lib/odoo) shouldn't be deleted, deletion is required only whith `apt-get purge odoo` command. /var/lib/ store important datas that are not expected to be deleted with package removal. /var/lib/odoo contains customized modules,

[2018-01-10 11:27] zeroheure commented on #22138
RPM package should be checked also

[2018-01-10 11:33] JKE-be commented on #19650
Purpose of this is to allow the user to have 1000 variants (eg: size of cable 5m/10m/15m/20m/...) without creating 1000 real variants that will slow the flow.

I think that you are using a wrong concept. If the user doesn't need to select between one of your 3 languages, you should only create one product_attribute_value with 3 languages into 1 attribute_value!

[2018-01-10 11:33] #19650 closed

[2018-01-10 11:34] JKE-be commented on #22107
Merged in v9 and will be forward ported to next versions asap. (some days expected)

[2018-01-10 11:34] #22107 closed

[2018-01-10 11:54] xmo-odoo commented on #4151
Indeed, thanks for the ping @rvalyi

[2018-01-10 11:55] #4151 closed

[2018-01-10 12:01] Yenthe666 commented on #22107
You can apply the fix at https://github.com/odoo/odoo/commit/eeea6e8667cfafc18e4966170d5dd6a6312aa40c or update your whole Odoo to fix this.

[2018-01-10 12:02] Yenthe666 commented on #18234
Awesome - you're welcome!

[2018-01-10 12:04] Yenthe666 commented on #22138
@d-fence package / system related.

[2018-01-10 12:06] d-fence commented on #22138
I agree.

[2018-01-10 12:18] JKE-be commented on #18771
@nle-odoo

Could you check it? it is related to the _.omit that you show me yesterday ;)

[2018-01-10 12:18] yung-wang opened #22140 "[11.0] Unlink generated timesheets when leave is set back to draft or refuse"
Impacted versions:
11.0

Steps to reproduce:
Make sure you have a leave type that generates timesheets. (debug mode). Ask a leave for 10 working days. The system will generate timesheets for each day, which will result in 10 lines. Refuse and set the leave back to draft. Now change the leave to another date with 10 days and approve it again. The system will generate another 10 lines.

Is it possib

[2018-01-10 12:19] zeroheure commented on #22138
Additionally, /usr/lib/python2.7/dist-packages/odoo/ is not purged. IMHO it should be removed in the 2 cases.

[2018-01-10 12:41] yung-wang commented on #22107
I applied the fix on our server and it works. Thanks for the quick fix.

[2018-01-10 13:18] #20203 closed

[2018-01-10 13:19] mart-e commented on #20203
Hi, I have corrected the source of this action but actually, it should be removed in master as we now have a hr_org_chart module that does that in a better way.

[2018-01-10 13:35] Yenthe666 commented on #17184
Hi @sylvainvh,

Thanks a lot for your bug report.
I've just tested this and it is still the case.
@JKE-be can you have a look?

Regards,
Yenthe

[2018-01-10 13:39] JKE-be commented on #17184
It is a framework's bug, I think that it's into the pipe of @adr-odoo ...

[2018-01-10 13:40] Yenthe666 commented on #17145
Closing this bug report as it has been answered by jco.

[2018-01-10 13:41] Yenthe666 commented on #17183
Also relevant for @xmo-odoo and @odony

[2018-01-10 14:03] Yenthe666 commented on #16434
@paulius-sladkevicius,

If I'm not mistaking this has been corrected in the meanwhile?
https://github.com/odoo/odoo/blob/10.0/addons/mail/models/mail_thread.py#L1640
https://github.com/odoo/odoo/blob/10.0/addons/mail/models/mail_thread.py#L1648

This should be OK now, no?

Regards,
Yenthe

[2018-01-10 14:04] Yenthe666 commented on #16414
Hi @m3asmi,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2018-01-10 14:04] #16414 closed

[2018-01-10 14:07] Yenthe666 commented on #16342
Well those questions are not for the Github issue tracker as it is a question about implementation/configuration.
Have a look at the docs (https://www.odoo.com/page/docs) or ask this question on the help forums (help.odoo.com).
In short: You'll always have a very minor downtime unless you create advanced systems for this.

[2018-01-10 14:07] #16342 closed

[2018-01-10 14:09] Yenthe666 commented on #16285
Indeed. This behaviour is still relevant at this point though. So, do we consider it something to fix or as desired behaviour? (CC @ged-odoo as it is JS related really).

[2018-01-10 14:13] Yenthe666 commented on #16272
Yep that did change & everything is answered so I guess a close is fine. 👍

[2018-01-10 14:13] #16272 closed

[2018-01-10 14:15] Yenthe666 commented on #16267
@mart-e and @xmo-odoo I believe this is handled all fine in V10 and up so I believe we can close this?

[2018-01-10 14:22] ged-odoo commented on #16285
looks like a bug, low priority i would say. i suppose that the search view should also listen to the 'change' events, but we need to avoid doing 2 searches... I think that, unless a PR is submitted, it has a low chance of being fixed in 10.0. But we may do that in 11.0, or more likely in master, when we rework the controlpanel/search view

[2018-01-10 14:32] Yenthe666 commented on #16285
Alright! Let us keep it wishlist for now then.

[2018-01-10 14:32] Yenthe666 commented on #16434
Ah yes, I totally missed that one.
@mart-e shouldn't we remove the sudo?

[2018-01-10 14:44] mart-e commented on #16434
I would not dare removing the sudo, most likely there for access right reason.

[2018-01-10 14:45] Yenthe666 commented on #16262
Hi @SiviBu,

This bug seems to be resolved already.
Please update your Odoo to the latest source code and try again.

Regards,
Yenthe

[2018-01-10 14:45] #16262 closed

[2018-01-10 14:51] litnimax commented on #6326
Thanks Ivan!

[2018-01-10 14:52] litnimax commented on #6326
I also found a solution for me:
[code]
It is ```forcecreate="0"```.

[2018-01-10 15:02] Yenthe666 commented on #16115
@adr-odoo this might be of interest for you?

[2018-01-10 15:03] Yenthe666 commented on #16114
Sorry for the late reply. No, there is no good alternative for wkhtmltopdf that works out of the box.

[2018-01-10 15:03] #16114 closed

[2018-01-10 15:06] Yenthe666 commented on #16113
Hi @Nikhilkrishnan0101,

I've just tried this but it works as expected. I did the following:
- Create a product ExampleProduct
- Save the product
- Edit the product
- Create an attribute 'Color' and set two attribute values on it (White and Black in my example)
This is the wanted & desired behaviour:
![image](https://user-images.githubusercontent.com/6352350/34779313-2064405e-f620-11e7-89fe-4441e0

[2018-01-10 15:06] #16113 closed

[2018-01-10 15:07] Yenthe666 commented on #16084
Hi @daramousk,

In the meantime this has been added in the docs (at https://www.odoo.com/documentation/11.0/setup/enterprise.html)
![image](https://user-images.githubusercontent.com/6352350/34779414-66c865f2-f620-11e7-8a67-a8c365ed2b63.png)

Regards,
Yenthe

[2018-01-10 15:07] #16084 closed

[2018-01-10 15:09] Yenthe666 commented on #16072
@nle-odoo if I'm not mistaking this has all been handled & fixed in V11, no? I believe this can be closed.

[2018-01-10 15:15] Yenthe666 commented on #16045
Hi @daramousk,

Thanks for the report.
This behaviour is actually still present in V11 too. @ged-odoo could we handle this on the JS side too perhaps? (neatpick)
Video showing this at https://youtu.be/agaH_GZG-vo

Regards,
Yenthe

[2018-01-10 15:18] Yenthe666 commented on #16041
@tde-banana-odoo could you check? Not sure if it is desired behaviour for Odoo or not.

[2018-01-10 15:20] Yenthe666 commented on #16003
@sle-odoo friendly reminder 😊

[2018-01-10 15:22] Yenthe666 commented on #15988
Hi @mayurvartak74,

Can you please try the latest installer and try this again? Alternatively @yeremia-rainier can you try this?
CC @d-fence it is not about the packages but related to the OS, so might be of interest for you to double check.

Regards,
Yenthe

[2018-01-10 15:26] Yenthe666 commented on #15953
@mart-e perhaps something to check?

[2018-01-10 15:27] JKE-be commented on #15974
You are wrong. _get_search_order should do the job. Please, describe what seems wrong for you in the order !

[2018-01-10 15:32] Yenthe666 commented on #15917
Hi guys,

This means one of the attachments that is added to your database was so big that the base64 line exeeded the data limit.
If you do a restore of your database from the command it should work fine though.

Regards,
Yenthe

[2018-01-10 15:32] #15917 closed

[2018-01-10 15:35] Yenthe666 commented on #15895
Hi @ncliam,

Thanks for the report.
Do you do those two clicks at the exact same time though?

Regards,
Yenthe

[2018-01-10 15:37] sle-odoo commented on #16003
using report.url fixes the issue, right? i guess we should just adapt the documentation

[2018-01-10 15:42] sle-odoo commented on #22041
@blaggacao we plan to bring back the feature in master, this task is now in the pipe. right now i would prefer to make a simple wizard that asks for the warehouse, location and quantity. confirming the wizard would create the picking + the move and confirm it. should be quite simple. we'll keep you updated. thanks for the tip on this topic

[2018-01-10 15:43] Yenthe666 commented on #15894
Hi @aduijs,

Thank you for your report.
The idea is that you handle the costprice based on the variant as variant X may have another purchase price as variant Y. You can set the costprice on the variant:
![image](https://user-images.githubusercontent.com/6352350/34780923-bf0be578-f624-11e7-8244-c26405d0f0af.png)
However, on the purchase order it doesn't seem to take the price from the product thou

[2018-01-10 15:44] Yenthe666 commented on #16003
Yeah the reminder was for updating the documentation on https://github.com/odoo/docker really 😉

[2018-01-10 15:48] Yenthe666 commented on #15860
This was fixed & handled at https://github.com/odoo/odoo/commit/fe8668e509d36b48a6be0c82f46a44a0f553cbb6

[2018-01-10 15:48] #15860 closed

[2018-01-10 15:48] mart-e commented on #17183
Have you been able to reproduce this bug? I wasn't.
And reading the code, I don't think it should be an issue as the `check` is called before the `_file_delete`.

[2018-01-10 15:50] Yenthe666 commented on #15757
@nim-odoo could you give feedback about how this changed in V11? It would take me ages to figure out while you most likely know it out of your head. 😆

[2018-01-10 15:51] Yenthe666 commented on #15900
@adrienpeiffer could you give feedback about OPW 725360 please? Is this indeed considered a bug or not?

[2018-01-10 15:54] Yenthe666 commented on #15659
Hi @tejastank,

Could you add more information about how to reproduce it or how you've gotten this please?

Regards,
Yenthe

[2018-01-10 15:56] Yenthe666 commented on #15658
Closing as duplicate of https://github.com/odoo/odoo/issues/15659

[2018-01-10 15:56] #15658 closed

[2018-01-10 16:04] danger89 commented on #14127
@jj3666 libjpeg8 is replaced by libjpeg62-turbo. I try to make it build but it's very hard due to incompatible  backwards changes in OpenSSL 1.1.
https://github.com/danger89/wkhtmltopdf/blob/stretch-0.12.1/INSTALL.md

[2018-01-10 16:04] Nikhilkrishnan0101 commented on #16113
Hai Yenthe.,
You create a product with out any variants. then add only one attribute with one value.
like color : red,
please try ones more for me. do not two values like red and black.

[2018-01-10 16:14] mart-e commented on #15953
Indeed, looks like there is an issue when `--dev` option is enabled.
@JKE-be any idea?

[2018-01-10 16:18] luistriana28 commented on #22119
Even tho my personal server is with UTC -6 ?? America/Mexico_City??

[2018-01-10 16:50] JKE-be commented on #15953
@mart-e  know issue

just a missing replace in read xml file... that don't escape the %% into %

%% once in sql will be %
But in dev mode, we read the xml file, so %%

a replace('%%', '%') should fix the problem

[2018-01-10 16:52] vkanev commented on #15974
The thread is really old. I forgot to close it as it's not relevant anymore.

Anyway, thanks for the answer!

[2018-01-10 16:52] #15974 closed

[2018-01-10 16:52] sle-odoo commented on #22002
@rco-odoo is now working on improving the performance in the purchase's onchange, i'm confident the performance gains will also improve the inventories.

[2018-01-10 17:00] Yenthe666 commented on #22002
Good to hear! Best of luck.

[2018-01-10 17:04] eLBati opened #22148 "[10.0] TransactionRollbackError while deleting outgoing email"
**Impacted versions:**
[10.0]

**Steps to reproduce:**
I am not able to reproduce it systematically, it happens sometimes while sending emails by SMTP server.
See the error below.
The effect is the email is sent twice.
Maybe the error message can help to understand the problem or somebody else already got into this...

[code]

**Expected behavior:**
No error message and the email is sent once

[2018-01-10 19:11] ofrmax opened #22149 "Error Cannot compute cost price with product_extended on variants product and standard products"
Impacted versions:

 I'm using odoo v10 and the product_extended version is the last one from GitHub

I know that someone as already "fix" this issue but it doesn't seem to work for me.

Steps to reproduce:

-install the addons
-go on the product and click on compute BOM cost

Current behavior:

here is the error I get when i try to compute the cost from a product without variant but with a BOM

T

[2018-01-10 19:41] maitaoriana opened #22150 "[11.0] Generate payslip only employees with running contract"
**Impacted versions:**
11.0
**Steps to reproduce:**

1. Create an employee  with an expired contract
2. Create payslips Batches
3. Generate Payslip

**Current behavior:**

All employees are listed, even those who no longer have a contract with the company

**Expected behavior:**

Only employees who have an in-force contract should be listed because the payroll should only be generated for employee

[2018-01-10 19:47] maitaoriana commented on #22150
@luistorresm

[2018-01-10 20:05] JKE-be commented on #15953
Fixed with 8fb203f7c692c0262a579575127b429e858ff3a2

[2018-01-10 20:05] #15953 closed

[2018-01-10 20:21] Halex21 opened #22151 "Cannot install odoo"
Hello, i am new in this and i have a problem installing the odoo dependencies.

When i try to install the python necessary dependecies i get the followin error:

The python-pypdf package does not have a candidate for installation.

I dont know what can i do. anyone can help me please?

[2018-01-10 21:33] kaerdsar opened #22152 "Widget many2onebutton missing in v11"
The widget many2onebutton is missing in the version 11 or at least I can not find it.

In version 10, it can be found as ColumnMany2OneButton (addons/web/static/src/js/views/list_view.js line 1927).

Is it removed? Is it removed on purpose?

[2018-01-10 21:33] kaerdsar commented on #22152
@Yenthe666

[2018-01-10 21:42] Yenthe666 commented on #22152
@ged-odoo did this get lost in the views and JS rewrite? Could you or one of the guys have a look please?

[2018-01-10 21:50] ged-odoo commented on #22152
yes, it looks like it was lost, probably because we do not use it at all. we'll have a look

[2018-01-10 21:54] alexis-via commented on #13974
For me, the real-life scenario is the following:

1. Install purchase and sale_stock.
2. Create purchase order of 20 iPad mini for ASUSTek.
3. Confirm order.
4. Recieve products.
5. Validate the stock.picking.
6. Create supplier invoice from PO. It creates an invoice for 20 ipads. Validate it.
7. On the confirmed incoming picking, click on the button "Return" and set the wizard to 5 ipads and make

[2018-01-10 22:35] dhannyz commented on #16072
@Yenthe666 I believe it has been fixed in 11, so this can be closed, I will check in the coming days and if not I'll report any issues.
But what about support for v10 users who have not made the move to v11?

[2018-01-10 22:35] naglis commented on #11802
As a workaround I do this:
[code]

Inside the shell:
[code]

[2018-01-11 04:04] auyeung112002 commented on #21252
Any updates? dummy_account_id should be read-only by design anyway.

[2018-01-11 06:45] Yenthe666 commented on #15953
Thanks for the quick responses and fixes guys. @blaggacao this should be fixed now!

[2018-01-11 06:50] Elkasitu commented on #22119
[It would seem it is so](https://stackoverflow.com/questions/38801527/timezone-incorrect-in-odoo-log-file)

[2018-01-11 06:54] Elkasitu commented on #22151
What OS are you using? what version? are you installing from source or from a packaged installation?

[2018-01-11 07:34] Yenthe666 commented on #16113
@Nikhilkrishnan0101,

Result:
![image](https://user-images.githubusercontent.com/6352350/34813412-42b763f4-f6aa-11e7-8192-26b005a08955.png)
I don't see any issue?

[2018-01-11 07:40] Yenthe666 commented on #16072
@dhannyz thanks for the feedback. In short: I don't think they'll fix this in V10 as it can break quite some things & they have to think about the stable policy. If you really want to figure it out I guess you can make a ticket at odoo.com/help to get an official response.

[2018-01-11 07:40] #16072 closed

[2018-01-11 08:10] Yenthe666 commented on #22149
@sle-odoo could you have a look? The field `costs_hour` does exist on `mrp.workcenter` though.

[2018-01-11 08:12] yelizariev commented on #6326
[According to code](https://github.com/odoo/odoo/blob/cd48a806ac636806130efcf5c055f73758cb0902/odoo/tools/convert.py#L604) forcecreate means ``# if it doesn't exist and we shouldn't create it, skip it``. So, in your case it seems to be the same as just removing whole node, isn't it?

[2018-01-11 08:48] adr-odoo commented on #16115
Hello,

We have already looked at doing this but many of our users are using their own domain.
It's hard to know if it's an Odoo link or not.

I know YouTube is doing something similar but the domain name is always the same.

So, sorry but we don't plan to do this.

[2018-01-11 08:49] #16115 closed

[2018-01-11 09:32] Cedric-Pigeon opened #22164 "[10.0] Vendors Bills: changing the invoice date reset all prices and taxes changes"
Impacted versions:
10.0

Steps to reproduce:

Take a Vendor Bill created based on a purchase order.
Change a price
Change the invoice date

Current behavior:

The price is reset to the purchase order line value.

Expected behavior:

The price should stay at the value set by the user.

**Please note that the taxes are also reset.**

Video/Screenshot link (optional):
https://youtu.be/B6FastTxSWc

[2018-01-11 09:33] odony commented on #17183
Removed the plus sign from "9.0+" in the description, as even if the issue gets confirmed in 9.0, it is very unlikely that the phenomenon happens in 10.0, as file deletion is now [based on a deferred GC](https://github.com/odoo/odoo/blob/8fb203f7c692c0262a579575127b429e858ff3a2/odoo/addons/base/ir/ir_attachment.py#L120-L122).

[2018-01-11 09:35] Cedric-Pigeon commented on #22164
OPW-804894

[2018-01-11 10:01] dbo-odoo commented on #19140
Hello,

As @xmo-odoo explained, there is no memory leak. The problem is simply that OS X allocates ~2Go of VMem by default, and if your soft-memory-limit is lower than that, the worker will be killed automatically and be respawned pretty much after every request. Unfortunately we can't really do anything about it, since this is done by the OS itself. The solution is either to disable resource mana

[2018-01-11 10:01] #19140 closed

[2018-01-11 10:34] adekock11 commented on #17183
@odony thanks for the link to version 10.0. That is indeed a well thought out way of doing it - much better.

[2018-01-11 10:57] Yenthe666 commented on #17183
I guess we can conclude that this is fixed/handled in 10.0 and up.
I tried this on V9 but wasn't able to reproduce it right away either.

[2018-01-11 10:57] #17183 closed

[2018-01-11 11:24] rdeodoo commented on #19468
Fix landed [here](https://github.com/odoo/odoo/commit/cca12fbb08626094c24a245c5bf54dad2696fae7)
Thank you for reporting this issue

[2018-01-11 11:24] #19468 closed

[2018-01-11 11:26] Nikhilkrishnan0101 commented on #16113
OK thanks, now its work fine. Thanks for your time.

On Thu, Jan 11, 2018 at 1:05 PM, Yenthe V.G <notifications@github.com>
wrote:

[2018-01-11 12:06] Yenthe666 commented on #16113
No problem, best of luck.

[2018-01-11 12:11] Yenthe666 commented on #21686
All fine now - what do you think about the kanban view that shows another rounding @nim-odoo?

[2018-01-11 12:13] gelo-landoo commented on #18565
@lap-odoo Where can we test the latest versions of the l10n_es?

[2018-01-11 12:20] lekhnath commented on #18002
Experiencing similar kind of issue here. I've dependency on 'product' addon only so that I could add some products from xml file but I've installed the whole 'sale' addon. When I tried to add some product records from xml I get error that says **null value in column "sale_line_warn" violates not-null constraint**. Even if I provide some value for that column(sale_line_warn) I get another error mes

[2018-01-11 12:25] Yenthe666 commented on #21632
Hey @giordano-ch,

This has been fixed in https://github.com/odoo/enterprise/commit/68478f10249894be9ccf5e2367109cb06133f699 and should all work fine now. Everything looks fine at my end!

[2018-01-11 12:25] #21632 closed

[2018-01-11 12:33] Yenthe666 opened #22171 "[10.0/11.0] rte and and rte_inline tour creating cluttered output and locks user in page"
Impacted versions: 10.0, 11.0

Steps to reproduce:
- Open up a runbot, activate developer mode and run the tour `rte` or `rte_outline`:
![image](https://user-images.githubusercontent.com/6352350/34825647-9fed1284-f6d3-11e7-8324-e776e7e54aeb.png)
- Look at where you end when the tour is done. The whole page is garbled with nonsense and ugly lay-outs and there is no way for an enduser to leave this

[2018-01-11 12:33] aisopuro commented on #20903
I can confirm that this also extends to the file `addons/base_import/tests/test.xlsx`, which in the debian package should reside in `/usr/lib/python2.7/dist-packages/odoo/addons/base_import/tests/test.xlsx`. It is missing from at least the 10.0 version and 11.0 version of the Debian package. These packages were downloaded from the nightly repository at https://nightly.odoo.com/. We would also be v