[2019-11-15 11:22] mart-e commented on #40318
The problem of using a different collation is that you will lose the benefit of indexes for filtering and sorting. Doing so will greatly deteriorate the performances:

[code]
vs
[code]

You could still benefit from the indexes using a collate but it means recomputing the indexes in each collation present on the server (we have ~15 languages on odoo.com, and our index table is already in Gb)

[2019-11-15 11:24] ruifranco commented on #40326
All users had an email, their employee records, too, and so did the contacts.
Only admin didn't but I don't think that if user X sets an activity as done, an email is going to be sent by admin.

[2019-11-15 11:28] pedrobaeza commented on #40326
It's not a question of sending the email or not, but a pre-requisite for the involved actors. Please put it and solved!

[2019-11-15 13:18] Yajo commented on #40318
:thinking: Hmm I see. However the results orders as they appear now are really very unexpected. OK, some ideas:

How about allowing to choose in which collation(s) will the indexes be made? Or, more specifically, which would be the default language of those installed, and if other ones are to be indexed too.

Also when a database is created, user is asked to provide a default locale. Can't that on

[2019-11-15 14:05] akselon opened #40348 "Recuring costs generated on Fleet Module have roday's date"
Impacted versions:
Odoo 13
Steps to reproduce:
1. Go to Fleet App,
2. Open a vehicle and a Contract (model: fleet.vehicle.log.contract) that begins on 01.01.2019 and ends on 31.12.2019 with some monthly recurring costs,
3. Wait until the Scheduler "Fleet: Generate contracts costs based on costs frequency" will run or run it manually.

Current behavior:
All generated costs have today's date.

Expec

[2019-11-15 14:39] #40328 closed

[2019-11-15 14:40] Tjones787 opened #40354 "Adding Existing Field to Forms using Website Form Builder V13."
Impacted versions: 13.0

Steps to reproduce:

1. Install **website_crm** module.

2. Navigate to website builder on the front end and create a new form using the form builder widget.
![Screenshot (14)](https://user-images.githubusercontent.com/6373037/68950618-d068da00-07bc-11ea-85ac-e82d2178a87a.png)

3. Select **Create an Opportunity** from the Action Drop down then saved the record.

4. Edit th

[2019-11-15 15:41] pedrobaeza commented on #40354
It's not very logic to add that field to the form, because you don't want to disclose your customer list, but any way, it shouldn't fail.

@JKE-be something for you?

[2019-11-15 15:53] OnePoi opened #40365 "Multi site product - not possible to choose part of sites."
Impacted versions: 11(?),12, 13

Current behavior:
Now it is only possible to either not assign a site to a product and it will be shown on all, or it is possible to select single. So if you have three sites and want it visible on two it is not possible.
Expected behavior:
Sites should be selectable in same way "Accessory Products" is selected and added to selected websites.
Video/Screenshot link

[2019-11-15 16:39] andrewukegbu commented on #40354
The customer field for previous versions allows you to only input text information(customer name), it doesn't give you a drop down with your customer list.

[2019-11-15 16:39] pedrobaeza commented on #40365
This is something not allowed in standard, so it's not a bug. It can be a wishlist, but not sure if Odoo itself wants that behavior.

@JKE-be can this be something to be considered in the future?

[2019-11-15 16:40] andrewukegbu commented on #40354
Thank you Pedrobaeza but, the customer field for previous versions allows you to only input text information(customer name), it doesn't give you a drop down with your customer list.

[2019-11-15 16:42] pedrobaeza commented on #40348
This is an expected behavior, because this is not intended for doing things in the past: all the pending costs are posted with the date where it's examined. If not, there's the risk of doing operations in closed periods.

Closing this as expected behavior.

[2019-11-15 16:42] #40348 closed

[2019-11-15 16:43] pedrobaeza commented on #40354
@andrewukegbu I would say that's the "Customer's Name", not "Customer", but I haven't tried.

[2019-11-15 16:51] Feyensv commented on #40365
The generic multi behavior (company, website, ...) does only allow to publish a record on one or all instances ...  It has been chosen that way for performance purposes (less tables and query complexity for many2one than many2many because of the intermediary table needed).
If you want to share a product only on some websites, the only clean way would be to duplicate it IMO.

The current behavior s

[2019-11-15 18:58] blaggacao opened #40380 "FR: FIDO2 support"
@odony User side security is probably way more problematic than server security if I look at the average number of keys my clients' users stroke when they logon with their Odoo Password.
Side note: this prevents identity sharing and might increase by seat license revenue for Odoo. :wink:

[2019-11-15 19:56] andrewukegbu commented on #40354
@pedrobaeza Customer name is not part of the fields. Do you know any other way I can capture customer names when they fill the forms? I could easily do this with Version 11.

[2019-11-15 21:39] JKE-be commented on #40365
No we don’t plan to change it for now.

You can use a bom to sell the same product in a second site ... and avoid to duplicate it and manage distinct stock and co !

As explain it is for performance reason and it is a rare usecase ...

[2019-11-15 21:39] #40365 closed

[2019-11-16 05:27] mom988 commented on #40306
thank you ,i will try it again

[2019-11-16 14:19] pedrobaeza commented on #40354
I can't say. Let's wait for an Odoo stuff answer.

[2019-11-16 14:28] pedrobaeza commented on #38107
Can we consider this as answered and close it?

[2019-11-16 14:40] #38107 closed

[2019-11-16 16:46] Yenthe666 opened #40386 "View statistics are too positive & give invalid insights"
Impacted versions: All

Steps to reproduce: As runbot instances have multiple databases it is easier to test this on an Odoo.sh instance.

1. Create a new 13.0 instance on Odoo.sh
2. Install the app `website_forum`
3. Go to the website and create a new forum post with a title/description
4. Open up your Odoo instance in a second tab, go to the backend of Odoo and check the number of views on this

[2019-11-16 16:51] Yenthe666 commented on #40386
OPW `2125382`. I'm curious about the official response/ideas about this :)

[2019-11-16 19:02] wpdigital commented on #40078
Hi!

I've launched new version where multiple languages seems to work fine.

But with the new version now the page is not editable, new pages cannot be created and template cannot be customised.

It is another error, but maybe connected to this thread as well.

I use Google Cloud on Bitnami
Odoo 13.0-20191110 (Community Edition)
Have tried to reinstall the instance and the Website app.
Website is

[2019-11-16 19:10] pedrobaeza commented on #35799
@RomainLibert maybe you can take a look to this

[2019-11-16 19:17] wpdigital commented on #40078
Everything works fine with direct installation from Bintnami and not from GC Console.

Maybe this information will be useful.

Thank you!

[2019-11-16 19:27] wpdigital commented on #40078
Unfortunately after installing new language it keeps giving the errors (listed above) again.
Will be grateful for fix, thank you!

[2019-11-17 08:13] mart-e commented on #40248
Hi,

Thanks for the report, it was due to a bad translation.
I have fixed it at https://www.transifex.com/odoo/odoo-13/translate/#fr/purchase/180739865?q=text%3A'request+for+q'
It will be included in the [next translation synchronisation](https://github.com/odoo/odoo/wiki/Translations#when-will-my-translations-appear-in-the-software-or-in-github)
Best,

[2019-11-17 08:13] #40248 closed

[2019-11-17 08:52] joyshmitz opened #40387 "Замість "in" - "у""
@
https://github.com/odoo/odoo/blob/c1d25b9be61a97d4280797445f069af79db5634e/addons/purchase/i18n/uk.po#L31

Помилка:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo13/odoo/addons/web/controllers/main.py", line 2031, in report_download
    report_name = safe_eval(report.print_report_name, {'object': obj, 'time': time})
  File "/opt/odoo13/odoo/odoo/tools/safe_eval.py", line

[2019-11-17 11:50] pedrobaeza commented on #40387
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-11-17 15:35] Elkasitu commented on #40380
Since https://github.com/odoo/odoo/pull/22351 it is possible to set up password policies for your users and I also know that @xmo-odoo has a WIP PR for 2FA although I don't think FIDO2 will be supported out of the box.

[2019-11-17 17:20] alensaqe opened #40388 "Multi Company PoS Customer filter by company ID"
Impacted versions: 12/13

Steps to reproduce: Open a PoS from one company in Odoo and click "Customer". The list of the customers will load from an rpc call /web/dataset/call_kw/res.partner/search_read the model is as res.parnter label and the function is on line load_new_partners.

Current behavior: When you have multiple companies with different customer the PoS loads all the customers from all

[2019-11-17 18:23] ykozize opened #40389 "Unable to update QTY in manufacturing Order V13"
Impacted versions:
13

Steps to reproduce:
Routing of 2 steps
Bill of material for lot controlled product and the components also lot control.
Routing of 2 operations and user can start next operation after 1 qty.

Create order with like 10 QTY and proceed with first work order with only 5 of 10 qty.
Back to the order and try to update the order QTY, you will receive error:

You cannot update the

[2019-11-17 18:44] ShopNix commented on #18637
There was a feature "cash basis taxes" (which is relevant in Germany up to 500.000 EUR annual sales) at least in Odoo 11 and 12. Today I did my first trial with v13, and could find this feature. According to the docs it should also be available in v13.

As a rule, tax liability takes effect in the month in which deliveries or services are provided (imputed taxation) or, in the case of taxation acc

[2019-11-17 23:11] pedrobaeza commented on #36439
I don't see this as a bug. The other way around would be the bug indeed (and it was that behavior on v11).

[2019-11-17 23:12] pedrobaeza commented on #29014
I'm not able to reproduce this problem in my side. Can you please try on runbot and specify all the steps to reproduce it?

[2019-11-18 00:48] creichhardt commented on #40231
Ya lo arregle. Era un problema de configuración de fechas. Ya no tengo ese problema.

[2019-11-18 00:48] #40231 closed

[2019-11-18 01:05] blaggacao commented on #40380
Federated login is always an option, too. But to give Odoo some shoeshine, it would be nice... Just to show off how Odoo is caring about data integrity and security :wink:

[2019-11-18 01:14] pedrobaeza commented on #40388
Just unmark the proper checks ;)

![Selección_018](https://user-images.githubusercontent.com/7165771/69017727-269a7080-09a9-11ea-8e8f-f27eaf1e99dc.png)

Closing as no issue, but misconfiguration.

[2019-11-18 01:14] #40388 closed

[2019-11-18 07:29] aaronsaquing opened #40392 "TypeError: Cannot read property 'type' of undefined"
Impacted versions: 13
Resume Module

Steps to reproduce:
1. Create Menu Item > Resume under Employees
2. Create Window Action to show Resume on Employee Menu

Current behavior:
Return a Traceback:
TypeError: Cannot read property 'type' of undefined

Expected behavior:
Go to Resume Tree View

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/42097911/69032719-45dc

[2019-11-18 07:31] Yenthe666 commented on #40387
Besides this actually looks like an issue in the translations term then.

[2019-11-18 08:48] pedrobaeza commented on #40392
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2019-11-18 08:48] #40392 closed

[2019-11-18 09:30] qdp-odoo commented on #18637
If you select the tax as 'due on payments', you'll have 2 accounts to select: one for the tax and one for the base (income/expense). I don't see any lack there ?

[2019-11-18 10:14] ShopNix commented on #18637
Please see the docs. On the first Tab you can set an account for temporary tax, which is posted with the sale. On the second tab there is another account, which is posted with the payment.
On the last view lines of the [docu](https://www.odoo.com/documentation/user/13.0/accounting/others/taxes/cash_basis_taxes.html#what-is-the-impact-of-cash-basis-taxes-in-my-accounting) you see as a result the co

[2019-11-18 10:21] The-macharia commented on #27447
worked after forcing it with the -i init.
Also remember to start your postgresql database with the command  service postgresql start

[2019-11-18 10:22] The-macharia commented on #15043
clone this repository instead : $ git clone https://www.github.com/odoo/odoo --depth 1 --branch 12.0

i followed the tutorial at https://linuxize.com/post/install-odoo-12-on-centos-7/#install-and-configure-odoo-12 and the error was gone

[2019-11-18 11:01] qdp-odoo commented on #18637
That's the first time I hear the income/expense had to be recognized only when the invoice was effectively paid. In other countries, I believe only the tax information had to be delayed.

Anyway, v13 has now other tools to help you deal with that: check for the 'create accrual' action in the list of journal items:
*  go in the sale journal view
* select one or severl entries
* click on 'action > c

[2019-11-18 11:03] jalzaga opened #40410 "[13] email template tools bar missing"
Impacted versions: 13

Steps to reproduce: edit email template

Current behavior: Tools bar is not shown only the html view is available

Expected behavior: Show tools bar and have the possibility to edit html in developer mode

Video/Screenshot link (optional):
In version 13:
![image](https://user-images.githubusercontent.com/7764079/69047426-5eca9f00-09fb-11ea-9539-6ce2a582fbd4.png)

In other ve

[2019-11-18 11:10] Yenthe666 commented on #40410
@jalzaga thanks for the report. I've already reported this one to Odoo a few days ago actually, under the OPW `2123730` and it is in bugfixing

[2019-11-18 11:26] nle-odoo commented on #40410
Hi,

The feature of having only source editor if there is multiline template directive (if there is a `% if` or `% set` line inside the template) was introduced in 12.3 version and some changes of 12.3 were reverted in 13.0 version.

This was done because often people would make things like changing the color / size of text or some other things around the directive which would break the template a

[2019-11-18 11:33] ShopNix commented on #18637
I asked my tax consultant in this case. As a work around I can post the total of the "Base Tax Received Account" against income/expense account as a year end booking to correct the difference.
In so far, it would be nice to have a second account according to my former explanation, but is not really necessary.

Thank you for your patience.

[2019-11-18 11:36] flotho commented on #35485
@vvolas ,
I'm interested in what you proposed.

Regards

[2019-11-18 11:46] CasVissers commented on #39070
@len-odoo Any update on this?

[2019-11-18 12:23] Yenthe666 commented on #39070
@CasVissers he means Odoo weeks, not real weeks. Multiply the number by a random number between 8 and 52 and you're close. :trollface:

[2019-11-18 12:36] qdp-odoo commented on #18637
you're welcome. Thanks for your feedback anyway :wink:

[2019-11-18 12:41] pedrobaeza commented on #18637
Should we close this issue?

[2019-11-18 12:49] Yenthe666 commented on #40077
I've now been bitten by this one too for a customer in production. @CasVissers what is the state of the ticket?

[2019-11-18 12:51] ShopNix commented on #18637
For my case: This could move to a feature request with low priority. Don't take me to serious, I am a newbie with odoo.

[2019-11-18 12:58] CasVissers commented on #40077
@Yenthe666

[2019-11-18 13:07] Yenthe666 commented on #40077
Thanks for the update! Good to know that it is acknowledged and work in progress.

[2019-11-18 13:36] #40233 closed

[2019-11-18 14:56] corradopagliarini-bikm commented on #40077
We opened a ticket to Odoo.
The Odoo Support Team is aware of the issue and has already prepared a refactored version of the Tracking functionality.
The fix is undergoing testing by the RD Team – instead of the BugFix Team – given its severity.
Thus, deployment could take longer than usually expected than for a normal BugFix.
By the time, the Support Team is suggesting to use a server action to be

[2019-11-18 15:57] reinaldoramosarxi opened #40450 "[12.0/13.0] Invoice fonts redimensioning when inserting several sources"
Hello,

A client noticed that, whenever an invoice is created from several sale orders, the invoice text will shrink until most (not even all) sources fit in one line.

And not just the text from that line, all text from address to payment terms: dates, invoice lines, subtotals, taxes, totals...

We've tested it on a staging server, but also on demo.odoo (which is v13) and on runbot v12, and it ha

[2019-11-18 16:19] pedrobaeza commented on #40450
I have just been hit by this right now, so perfect timing, hehe.

This should be something related to used classes that are resized according context.

@mart-e although I have tagged accounting, this is not accounting per se, as it's something related with BS4. How can handle this?

[2019-11-18 16:47] Yenthe666 commented on #40450
I assume @qsm-odoo as he did the BS3/4 tips etc too (https://github.com/odoo/odoo/wiki/Tips-and-tricks:-BS3-to-BS4)

[2019-11-18 18:19] gustavovalverde commented on #39825
I got answer from support that deployment questions are out of scope for an Enterprise tickets. I'll start gathering information and using some hours from a success pack to start testing a few scenarios for a PR in the documentation.

Too bad this will take the long road.

[2019-11-18 18:41] Yenthe666 commented on #39825
Don't bother with the Succes packs if you don't get someone good there. They're a waste of money at times. Just letting you know from personal experience. If you can get Olivier you're off way better but he's not responding to me. :(

[2019-11-18 19:27] #38904 closed

[2019-11-18 19:27] #40410 closed

[2019-11-18 19:39] odony commented on #39825
Let me try to give some rough info about those settings. But keep in mind that the final settings heavily depend on the kind of workload you have, and the only definitive answer lies in realistic load-testing [1].

### limit_memory_soft

Applies per process, in both modes (multi-process and multi-thread). Should be large enough to hold the VM size between requests. It is used to determine the size

[2019-11-18 21:27] kimasplund opened #40460 "Multi website not compatible with dbfilter = %h"
Impacted versions: 12 (13?)

Current behavior:
Setting dbfilter = %h in config will cause the second site to show the default create new database window instead of the configured second website.

Expected behavior:
Perhaps have odoo check websites configured.
Or Maybe even add a new flag to config to check websites instead of database name?
Or something.

Video/Screenshot link (optional):

[2019-11-18 22:06] jaredkipe opened #40461 "[13.0] Mail reply does not go back to thread (and looks bad)"
Impacted versions: 13.0 ce/ee

Steps to reproduce:
Setup and send mail on a thread, e.g. helpdesk.ticket, and reply to it externally (and fetch mail).

Current behavior:
New object, e.g. ticket, or just drops the email. Also the email looks bad/is plain text in Apple Mail.

Expected behavior:
New reply on original object.

The reason this behavior is not working is because the headers used to make

[2019-11-18 22:08] jaredkipe commented on #40461
@Julien00859 You are the author on the linked commit, do you need any additional information?

[2019-11-18 22:43] aaronsaquing commented on #40392
Hi Pedro, this issue is reproduce not doing any code that just through the developer mode GUI Menu Items and Windows Actions. On the Skills there have no problem. So it can be assumed that the Resume can also be placed on Employee Menu without any errors.  I am referring to the new hr_skills module which contains Resume and Skills models.

I am just saying that this happen on the standard Odoo mod

[2019-11-18 23:04] pedrobaeza commented on #40460
Why do you say it's not compatible? We have several working without problem. The requirement is to have a reverse proxy + config properly configured.

[2019-11-18 23:20] #40460 closed

[2019-11-18 23:21] odony commented on #39825
### number of workers (multi-process mode)

*Disclaimer: this is for self-hosted multi-process mode. For Odoo.SH a "worker" is actually a multi-threaded task queue, and the numbers are different.*

So the documentation states that a single worker can handle 6 users. What it means to say is that a worker can handle on average ~ 6 heavy read transactions / second (150ms each) = 6 web requests/s.  If

[2019-11-18 23:23] kimasplund commented on #40460
Ooh my bad then.
perhaps you can shed abit of light on the reverse proxy config. Cos i cant seem to get it working
closed this issue if its just me that cant get it configured correctly thats the issue :D

[2019-11-19 04:37] blaggacao opened #40462 "Unify write and create"
Now that create has become a table ("model") method, rather than an instance ("row") method, consider merging `create` and `write` into `flush`.

Regarding final state as the objective of both methods, there should be no reasonable need to expose insert vs update logic to state driven business logic.

Those bits that need the distinction (eg. for taxonomy: "Administrator created X" log), should be

[2019-11-19 04:48] blaggacao commented on #40462
That would probably catch quite a few subtle bugs around...

[2019-11-19 04:51] blaggacao commented on #40462
... while we're at it please.simllofy the field data lifecycle:
- why a cache format?!?
- and why the heck multi-path routing through the *very* obscure `fields.covert_*` stack?!?

[2019-11-19 06:04] blaggacao opened #40464 "Simplify Odoo inheritance model"
`odoo.modules.Registry` is what makes odoo code, as a chain of consequences, utterly unappealing.

Consider unwrapping the registry primitives (cache, model-db-subscription) into true code verticals.

As registries are just container that inflict deployment concerns I to the code base, not even forked processes, there is no reason not to flatten this out a bit.

- Global cache
- Plain python model

[2019-11-19 07:18] Yenthe666 commented on #38904
@nle-odoo would have been an even better message if it said where from it should be created then. ;)

[2019-11-19 07:21] Yenthe666 commented on #40460
@kimasplund have a look at https://www.odoo.com/documentation/13.0/setup/deploy.html#https - it might help you get you started. ;)

[2019-11-19 07:45] Yenthe666 commented on #40036
This was actually fixed in https://github.com/odoo/odoo/commit/c32126da5ac55a03637d82cf520b8655be8546e6

[2019-11-19 07:45] #40036 closed

[2019-11-19 07:46] Yenthe666 commented on #39487
@odoongr hi, could you give me some feedback? I'm pretty curious.

[2019-11-19 08:18] Yenthe666 commented on #39406
@jcarlosmontoya this has been fixed in https://github.com/odoo/odoo/pull/40432 at https://github.com/odoo/odoo/commit/b7f32e6451da75a9583d28686641fc328ab661da

[2019-11-19 08:18] #39406 closed

[2019-11-19 08:28] mart-e commented on #40387
Indeed, so please check the [translation documentation](https://github.com/odoo/odoo/wiki/Translations), the translations are handled on [Transifex](https://transifex.com/odoo/public), not Github.

Please submit your changes there and let me know if you have issues.

Thanks

[2019-11-19 08:30] mart-e commented on #40387
To be precise, it is probably this translation that needs to be fixed
https://www.transifex.com/odoo/odoo-13/translate/#uk/purchase/180739865?q=translation_text%3A'%D0%BD%D0%B0+%D0%BA%D0%BE%D0%BC%D0%B5%D1%80%D1%86%D1%96%D0%B9%D0%BD%D1%83+%D0%BF%D1%80%D0%BE%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D1%96%D1%8E'

[2019-11-19 09:00] odoongr commented on #39487
Hello @Yenthe666
Even though I can see why sorting the 'optional fields dropdown' by importance/relevance could be relevant, I do not think it is worth addressing for now.
Users will most likely only interact with this dropdown a few times to set up their desired set of fields depending on their needs/role anyway.
Thank you for your feedback!

[2019-11-19 09:04] Yenthe666 commented on #39487
Thanks for the feedback @odoongr, I really appreciate it. I've had a few customers asking it already and it would be handy for me as a developer to influence this for my endusers too. I think it just takes a few lines of extra code and barely any maintenance costs, right? If you'd like I can even try to make a PR for the upcoming V14 but I'd just need some pointers :)

[2019-11-19 09:43] Danisan commented on #39825
Hello guys. It would be good to understand how to manage these parameters in a Docker Swarm or Kubernetes deployment also.

[2019-11-19 09:54] kimasplund commented on #40460
@Yenthe666
That is pretty much the config i have working, and it works fine for first domain.
But what should i change to get it working with second domain? If i make a second one like that for second domain it will give me a create new database.

[2019-11-19 10:15] andriisem opened #40479 "[IMP] add phone number to partner name"
Impacted versions:
All

Current behavior:

method _name_get does not have options to display a phone number

Expected behavior:

add option features show number

like this:
[code]

is it make sense? the second client asks me about this

[2019-11-19 10:31] Yenthe666 commented on #40479
Hi @andriisem,

Thanks for the suggestion but `_name_get` should really just return the name of the contact. If you'd like to customize this I'd suggest you to do this in a custom module by inheriting the model. It looks like a rather specific request, which I didn't get from over 60 projects honestly.

Regards,
Yenthe

[2019-11-19 10:31] #40479 closed

[2019-11-19 10:50] Julien00859 commented on #40461
@jaredkipe the linked commit in not in v13

[2019-11-19 11:23] caihongsoft opened #40488 "Cannot import bom in v13"
Impacted versions:enterprise 13

Steps to reproduce: import bom with the bom sample file

Current behavior:
Missing required value for the field 'product_id' at 2 different rows:
Between rows 2 and 8
Between rows 9 and 17
Expected behavior:

Video/Screenshot link (optional):

[2019-11-19 11:25] pedrobaeza commented on #40488
Can you specify which bom sample file?

[2019-11-19 11:27] khalidtkl commented on #39702
Is there anything I can help with to figure out the problem??

[2019-11-19 12:44] Julien00859 commented on #40461
I cannot reproduce your problem on v13. Make sure your email configuration is right and that you're effectively running v13.

[2019-11-19 12:49] Yenthe666 commented on #39702
@khalidtkl as long as there is no response it means nobody had time to look at this issue yet. The Github tracker is based on a a best effort so you'll need some patience.

[2019-11-19 12:57] caihongsoft commented on #40488
Now I can import bom. because of wrong bom line field map.

[2019-11-19 12:57] #40488 closed

[2019-11-19 13:10] Julien00859 commented on #40461
It is working on master too.

My setup:
1) Enable the external email servers (General Settings > Discuss > External Email Server)
2) Setup the alias domain on that email server (`domain.tld`)
3) Setup a catchall incoming email (`catchall@domain.tld`)
4) Setup a bounce outgoing email (`bounce@domaine.tld`)
5) Setup the email alias for helpdesk (`support@domain.tld`)

My test:
1) Send an email to `s

[2019-11-19 13:43] CakJuice opened #40507 "[13.0] eLearning wrong total contents of the course"
Impacted versions: 13 CE

Steps to reproduce:

1. Install module eLearning
2. Create a new course
3. Create some contents for the course

Current behavior: The total contents of the course = 0

Expected behavior: The total contents of the course must be the same as the contents of the course

Video/Screenshot link (optional):
![Screenshot_20191119_203604](https://user-images.githubusercontent.com/

[2019-11-19 13:56] mart-e commented on #24461
Actually, even adding default in SQL would not solve it.
With your suggestion, we would be fixing the cases like
[code]
but these are actually the easy scenario.

Now, let say we have a field like:

[code]

The problem stays the same, we execute the tests with a subset of the code in the registry but the database is in a different state, with more fields and constraints. You have an inconsistency

[2019-11-19 13:56] #24461 closed

[2019-11-19 14:05] vedler commented on #7024
Still present, I'll give another associated example regarding prices.

We have a system where we have for example a 750 ml bottle of wine on sale in eCommerce and would like to show the liter price of the product as well.

For that, we divide the sale price by the bottle size (in liters) and round the price to "Product Price" precision of 2 decimal places.

Now if the product price happens to be 4

[2019-11-19 14:15] mart-e commented on #7024
@vedler the problem in this issue is that you can not make proper float comparison in a view declaration (where the comparison is done client side, in javascript).
For the server side, you should use `float_compare` when doing float operations.

[2019-11-19 14:20] vedler commented on #7024
Yes, comparisons are fine, but when using the intended rounding methods, I do not have a way to get rid of decimal imprecision if any external source needs to query for the values directly and instead have additionally use normal Python round() on top of it.

[2019-11-19 14:30] sum1201 commented on #39070
A month has passed, the problem has not been solved.........the speed of the snail... @CasVissers @len-odoo

[2019-11-19 14:32] mart-e commented on #40318
This kind of changes are not worth the effort. Tricky to implement for a niche usecase for a small benefit.

See also 276ea817f4675a7357 and the full discussion at #25196 using C by default and the commit message:

Using C is a good default but admin-system that know the implications can change it.

We have this problem since forever but users can live with it because of how users behave, most of

[2019-11-19 14:32] #40318 closed

[2019-11-19 14:35] Yenthe666 commented on #39070
It seems to be going really slow for an OPW though? 😕

[2019-11-19 14:39] mart-e commented on #7024
You can use also the `float_repr` method when you need to have a representation without the extra digitst
[code]
But this is intended to be used at the last step of your processing, when you want to render the value. Use raw float numbers and float operations in your business code.

[2019-11-19 14:50] vedler commented on #7024
I don't think this should be regarded as a minor issue. If one of the most commonly used utils in floating point operations throughout the code has these bugs, then in the end its hard to rely on it. In that customer's staging instance we have 2161 products they sell at their store imported (with prices, volumes etc.) out of which 138 products (6.38%) had this exact rounding issue present, where w

[2019-11-19 14:57] vedler commented on #7024
Another problem is using Monetary field itself, which applies this rounding automatically. If the value of the field is inputted as the correctly rounded value of 6.39 for example, the field's automatic rounding from the currency_id (currency.round(...)) "unrounds" it again to 6.390000000000001

[2019-11-19 14:59] andriisem commented on #40479
Thank you @Yenthe666

another question

[code]
https://github.com/odoo/odoo/blob/13.0/addons/purchase/views/purchase_views.xml#L159:L160

why `partner_id` on `purchase.order` without option `{'always_reload': True}`?

not working `show_vat`

how should it be right?

[2019-11-19 15:29] reinaldoramosarxi opened #40521 "[13.0] Duplicate field declaration"
Hello,

We've noticed that the user_id field on the new account/models/account_move.py file is duplicated, with a minor difference (help string on the second one).

https://github.com/odoo/odoo/blob/13.0/addons/account/models/account_move.py#L125

https://github.com/odoo/odoo/blob/13.0/addons/account/models/account_move.py#L191

Thank you.

[2019-11-19 16:05] jaredkipe commented on #40461
You are correct, I must have some left over master stuff that didn't make it into 13 in my 13 branch.

That said, the issue will happen with that commit's odoo/addons/base/models/ir_mail_server.py  file.  The issue isn't sending mail or receiving it if you're receiving a known email.  The problem is that the "Message-ID" header is malformed in some way that the receiver will modify the contents of

[2019-11-19 16:05] #40461 closed

[2019-11-19 17:39] sswapnesh commented on #40521
https://github.com/odoo/odoo/blob/13.0/addons/account/models/account_move.py#L125 should be removed in master.

Cc @qdp-odoo

[2019-11-19 17:56] Yenthe666 commented on #40479
It shouldn't always reload/update, especially not when confirmed :) It gets the VAT from the customer anyways so nothing needed?

[2019-11-19 18:02] captivea-tja opened #40534 "[12] Unable to Filter by Location or Warehouse"
Impacted versions:
12
Steps to reproduce:
Inventory -> Master Data -> Products -> Filters -> Add Custom Filters -> Inventory Location
Current behavior:
Inventory Location field gives same result for is set and is not set.
Expected behavior:
To be able to filter by Inventory Location
Video/Screenshot link (optional):

[2019-11-19 18:04] sswapnesh commented on #38009
Issue still exists.

OPW 2127010

[2019-11-19 18:29] pedrobaeza commented on #40450
#40528 can be a possible solution

@qsm-odoo are you the suitable person for it?

[2019-11-19 18:55] milekium commented on #40078
I get same error, I use English language for admin but I have not install english on the website. I guess admin languages different from website languages gives this error when editing website configs, just a guess.

[2019-11-19 19:24] simongoffin commented on #39147
Closed with https://github.com/odoo/odoo/commit/87f2aae6c91e70f4f4102bf7ea41858db7dee16f

[2019-11-19 19:24] #39147 closed

[2019-11-19 19:25] andrenaught opened #40537 "[13.0] Clicking a product's "On Hand" prompts an error after using "Products" breadcrumb"
Impacted versions: 13.0
Known Impacted Modules: `stock`, `stock_account`

Steps to reproduce:
1. Go to Inventory -> Master Data -> Products
2. Click "Group By" to group the view, choose a grouping (you can just choose "Product Category", but any should work), the view should change.
3. Click "Favorites" -> Save Current Search -> Check "Use by default" -> Save
4. Open a new tab (or refresh). Go to

[2019-11-19 20:48] odooerpdevelopers commented on #39406
@Yenthe666 thank you, but, what happen with access error in payment transaction record?
https://github.com/odoo/odoo/blob/13.0/addons/payment_paypal/controllers/main.py#L68

[2019-11-19 22:35] richard-willdooit commented on #7024
I just had to help a client who has 3 months of data, and their trial balance differs debits to credits by 4 cents.  Yes, insignificant, but to him, concerning, as how can they ever be different....

[2019-11-19 23:07] gustavovalverde commented on #39825
Adding more related information: https://github.com/odoo/odoo/issues/25790#issuecomment-406082718

This is for my own sake when testing.

[2019-11-20 00:18] pedrobaeza commented on #40534
I think this a limitation of property fields search.

[2019-11-20 05:55] ravindragullapalli commented on #20681
Still I am getting an error. I created a new database and tried to add new page (Add to menu) as well as new menu. Here is the Traceback

  File "/opt/odoo/odoo/addons/base/ir/ir_http.py", line 208, in _dispatch
    result = request.dispatch()
  File "/opt/odoo/odoo/http.py", line 832, in dispatch
    r = self._call_function(**self.params)
  File "/opt/odoo/odoo/http.py", line 344, in _call_functi

[2019-11-20 07:41] o2deepak opened #40538 "[13.0] UnboundLocalError"
Impacted versions: 13.0

Current behavior:
odoo/13.0/addons/hr_recruitment/models/hr_recruitment.py", line 249, in _onchange_job_id_internal
    'company_id': company_id,
UnboundLocalError: local variable 'company_id' referenced

[2019-11-20 07:47] Moussatassia commented on #40507
@Yenthe666 You are the best thanks

[2019-11-20 07:55] mom988 opened #40540 "[13.0] Improve Or Bug？ Bom ：A variant of the same product template cannot be used in the bom details of the finished product (variant)"
Impacted versions:
ODOO 13 Enterprise
Steps to reproduce:

1. Create the product as A1000 with attributes of color (red, black) and length (100, 200);
2 Create BOM, produce product 1000 (red, 100), BOM detail is black 200*1
3 This operation can be saved in odoo12
   But Tips in Odoo13:
**BoM line product A1000 should not be the same as BoM product.**
Current behavior:
Cannot be stored as Odoo12
Ex

[2019-11-20 07:59] Yenthe666 commented on #40507
Thanks :) @tde-banana-odoo for you to check.

[2019-11-20 08:01] Yenthe666 commented on #39406
Maybe @Abridbus or @nim-odoo can check/give feedback on this one.

[2019-11-20 08:30] pedrobaeza commented on #40540
You can't put as a raw material the same as the final product, or you will create infinite recursion, so the message error is correct.

Closing as no issue, but expected behavior.

[2019-11-20 08:32] pedrobaeza commented on #40538
Already fixed in 47d2cc94009c6cfd7f1528b45602d56b7c17ed2e

Please always update your source code before posting things.

[2019-11-20 08:32] #40538 closed

[2019-11-20 08:36] Yenthe666 commented on #40521
I made a quick PR for this at https://github.com/odoo/odoo/pull/40542

[2019-11-20 08:59] pedrobaeza commented on #40389
As this involves enterprise modules, please report it to odoo.com/help.

[2019-11-20 09:20] cbcoutinho opened #40546 "Enterprise addons no longer exist (docs)"
Impacted versions:

- Current documentation on [odoo.com](https://www.odoo.com/documentation/master/setup/install.html#git) states that the enterprise addons are available at [https://github.com/odoo/enterprise](https://github.com/odoo/enterprise)

Steps to reproduce:

- Go to the documentation

Current behavior:

- Documentaion is incorrect, or enterprise addons are somewhere else

Expected behav

[2019-11-20 09:23] pedrobaeza commented on #40546
The problem is that you don't have access to that repo as is only available to partners or enterprise customers.

Closing as no issue.

[2019-11-20 09:23] #40546 closed

[2019-11-20 09:27] mom988 commented on #40540
@pedrobaeza

[2019-11-20 09:38] cbcoutinho commented on #40546
Ah gotcha, thanks for the explanation.

[2019-11-20 09:43] mom988 commented on #40540
product.tmpl A0001
product_id A0001_1 & A0001_2 in product.tmpl A0001
the final product : A0001_1
raw material : A0001_2

[2019-11-20 09:45] pedrobaeza commented on #40540
Apart from the screenshots that are in foreign language, you don't have variants activated in that DB (or seems so).

[2019-11-20 09:54] mom988 commented on #40540
![图片](https://user-images.githubusercontent.com/6219061/69228428-828a1280-0bbe-11ea-96b8-38fbac6aacc1.png)
![图片](https://user-images.githubusercontent.com/6219061/69228458-8f0e6b00-0bbe-11ea-9138-39f1b23f1c56.png)
![图片](https://user-images.githubusercontent.com/6219061/69228522-afd6c080-0bbe-11ea-917d-978985f9dad7.png)
![图片](https://user-images.githubusercontent.com/6219061/69228583-c8df7180-0bbe-

[2019-11-20 10:05] pedrobaeza commented on #40540
OK, now seems clearer. I reopen.

[2019-11-20 10:05] pedrobaeza commented on #40540
@amoyaux can you please take a look to this?

[2019-11-20 11:10] #39814 closed

[2019-11-20 11:28] Moussatassia commented on #40507
Thanks God bless you brother

Le mer. 20 nov. 2019 à 09:01, Yenthe Van Ginneken <notifications@github.com>
a écrit :

[2019-11-20 11:30] Moussatassia commented on #40507
So what can I do , I want to be official partner with Odoo, I am finally
student

Le mer. 20 nov. 2019 à 12:28, Maman na <moussa90020523@gmail.com> a écrit :

[2019-11-20 11:40] meyer-jan opened #40554 "VAT number check failed for valid spanish VAT number starting with ESB"
Impacted versions: Enterprise 12, 13

Steps to reproduce:
Use a VAT Number like ESB27471977 for partner VAT

Current behavior:
error message that VAT number is not valid against VAT number scheme

Expected behavior:
spanish VAT number ares validated against the valid scheme and you can use vat number for spain  starting with ESB

Video/Screenshot link (optional):
![image](https://user-images.githu

[2019-11-20 11:46] Yenthe666 commented on #40507
See https://www.odoo.com/become-a-partner for all info

[2019-11-20 12:17] RodmanII opened #40556 "[13.0] Missing product.price.history table"
Impacted versions: 13.0

Current behavior:
In odoo 13.0 the table product.price.history that used to contain the cost of product as result of its valuation method is gone and has been replaced with the stock valuation layer as mencioned in the commit

https://github.com/odoo/odoo/commit/0477bdb75afafa62b204f29e9dbfc3fc5fd012d4

the new table doesn't contain the same values, it doesnt have the cost

[2019-11-20 12:40] EwetoyeIbrahim commented on #22117
I guess the new contraints are:
* ```Model: Stock Rule (stock.rule), Field: Destination Location (location_id)``` when trying to delete the warehouse
* ```Model: Warehouse (stock.warehouse), Constraint: stock_warehouse_reception_route_id_fkey```: When trying to delete the receive routes.
* ```Model: Warehouse (stock.warehouse), Constraint: stock_warehouse_delivery_route_id_fkey```: When tring to d

[2019-11-20 12:46] sle-odoo commented on #40556
in practice this table was used to get the value at date in standard and avco, now we have the same results with the valuation layers so business wise this table didn't make sense anymore with the introduction of the layers.

now i don't really get what you want, your usecase doesn't concern fifo right? and if it concerns avco or standard, the unit_cost on the layers contains what you want. The on

[2019-11-20 13:06] pedrobaeza commented on #40554
NIF has a control digit for avoiding incorrect ones, and yours is incorrect, as you can check for example in https://comunidadhorizontal.com/utiles/validar-cif-nif-nie/

Closing as no real issue.

[2019-11-20 13:06] #40554 closed

[2019-11-20 14:52] sum1201 opened #40567 "[BUG] Server_id cannot prevent the creation of duplicate order"
Impacted versions:
13
Steps to reproduce:

https://github.com/odoo/odoo/blob/cdc09f5b70ad200014ac38f314bf1ec53cd5b8ca/addons/point_of_sale/models/pos_order.py#L408-L428

https://github.com/odoo/odoo/blob/cdc09f5b70ad200014ac38f314bf1ec53cd5b8ca/addons/point_of_sale/static/src/js/models.js#L946-L957

Current behavior:

If the order is synchronized to the background process, the front end does not g

[2019-11-20 15:06] pedrobaeza commented on #40567
@switch87 do you get the possible problem. I'm not able to see it.

[2019-11-20 15:26] kimasplund opened #40572 "Translation 500 error"
Impacted versions: 13

Steps to reproduce:
Having several languages installed on backend but not active on website seems to sometimes cause a 500 error from website.language_selector if you have profile set to language that is not installed on webpage.

Video/Screenshot link (optional):
![Skärmavbild 2019-11-20 kl  17 24 56](https://user-images.githubusercontent.com/13152668/69251864-bc591a00-0bb

[2019-11-20 15:27] sum1201 commented on #40567
@pedrobaeza @switch87
I set a breakpoint on the backend, pause the run, and the frontend waits for a timeout, and then the sync fails.
At this point I continue to run the backend code, which will result in duplicate orders.

[2019-11-20 15:53] pimodoo commented on #40567
@sum1201 It looks you are right, because in 12.0, we were checking for the pos_reference to see if a pos_order, already exists or not, and now we are using the server_id which cannot work if the request had time out. I'll check fix this issue in 13.0

[2019-11-20 16:36] sswapnesh commented on #39397
Fixed in https://github.com/odoo/odoo/pull/40344 at https://github.com/odoo/odoo/commit/a355bea5ec7863ae0eefa2c385aa0246cd8098a2

[2019-11-20 16:36] #39397 closed

[2019-11-20 17:53] pedrobaeza commented on #32763
Any news on this? What happened to OPW?

[2019-11-20 18:44] sswapnesh commented on #39885
This can be closed in that case. I couldn't reproduce either.

[2019-11-20 18:45] pedrobaeza commented on #39885
Closing then. Thanks for the followup.

[2019-11-20 18:45] #39885 closed

[2019-11-20 20:00] Jerther commented on #29449
If that can be of any help to anyone, I just realized the JSONRPC mechanism has changed in 12.0, or at least the way we used to use it back in 8.0 has. In short, the `session_id` is not needed anymore, but the logged user ID (`uid`) has to be provided instead.

[Here is the official documentation](https://www.odoo.com/documentation/12.0/howtos/backend.html#json-rpc-library). It's in Python but it'

[2019-11-20 20:09] hugho-ad opened #40591 "[12.0] helpdesk: Customer message arrives as an internal ticket note"
Impacted versions:
v12.0

Steps to reproduce:
- Configure incoming, outgoing mail servers
- Configure a support team on helpdesk app
- From a Customer email, send an email to the support team email alias
- Once ticket is created and received the automatic ack mail send a second mail
![image](https://user-images.githubusercontent.com/10233975/69273299-bacd2900-0b9d-11ea-8b4a-f69f6d0ada06.png)

Curr

[2019-11-20 21:35] ahukkanen commented on #33545
Yes, this seems to work now as expected. Tested it locally in few instances and with different UI languages enabled.

It could have been some missing dependency issue or something but hard to say from the error message.

[2019-11-20 22:59] RodmanII commented on #40556
I think i got the impression the values werent the same because, after checking in both 12 and 13,
using average cost, in 12 the calculation is made with the value without taxes, while in 13, it uses
the value with taxes from the purchase, ¿Is this correct?, ¿Is this the normal behavior or could be due to misconfiguration?

Asuming is the correct behavior in 13, getting the cost as it was done in

[2019-11-20 23:35] sum1201 commented on #40567
It looks you are right, because in 12.0, we were checking for the pos_reference to see if a pos_order, already exists or not, and now we are using the server_id which cannot work if the request had time out. I'll check fix this issue in 13.0

[2019-11-20 23:40] sum1201 commented on #40567
@pimodoo Thank you very much. I spent another month in another issue and I have not solved it. I hope this will be resolved as soon as possible.

[2019-11-21 06:09] AmitBista commented on #39885
Hello Folks,

Still faced the same issue on latest build runbot. please check attached screen for info.
Traceback should not be accept. instead of that we can give warning to user OR give access rights  of "Inventory/User on product.template".

![screenshot-13 57 66 77-8069-2019 11 21-11-02-45](https://user-images.githubusercontent.com/13360865/69311847-5ff60900-0c53-11ea-896a-ad5281ca8436.png)

[2019-11-21 07:52] mart-e commented on #24440
Hello,

Sorry for the late reply. I am not sure what you mean by "after the latin display is written". Have you made the name field translatable through a custom module?

[2019-11-21 08:14] pedrobaeza commented on #39885
And the steps to reproduce the problem?

[2019-11-21 08:36] len-odoo commented on #39070
Well yeah it's going pretty slow for a bunch of reasons, most of them being that [my reply above](https://github.com/odoo/odoo/issues/39070#issuecomment-550239096) essentially holds.
The official response from the JS framework team (GED to be precise) concurs with most of the points I raised, including the fact that it is not very reliable (attesting by the number of related fixes). To sum up some

[2019-11-21 09:11] Yenthe666 commented on #39070
Thanks a lot for the detailed information and the insights @len-odoo! Perhaps it would be nice to document this in the technical docs somewhere?

[2019-11-21 09:12] mart-e commented on #29018
Hi there,

It was fixed in 12.0 at 59d154dcc1524c8f08c6a1e7aee18c722ab2e0ad
Thanks for the report

[2019-11-21 09:12] #29018 closed

[2019-11-21 10:22] sebastienhasa opened #40603 "Qweb template and translation: Some translatable terms not detected"
Impacted versions:
Odoo 11.0-20190128 (Community Edition)

Steps to reproduce:
- Create a Qweb template to be used with core.qweb JS module
- Inside this Qweb template, add some 1 char short terms
- Use this template from a website page by loading it from JS code,
  like described here:
  https://www.odoo.com/documentation/11.0/reference/javascript_reference.html
- Generate translatable terms from

[2019-11-21 10:22] sebastienhasa commented on #40603
I also tried to manually create a translation for my short term.

I take another term, one who is detected as translatable and near my
short term, and I copy its record on the table "ir_translation". Of
course, I adapted its fields to correspond to the missing translation
term.

But, the term are still not translated on the web page.

However, if I look at the network calls from the frontend, and

[2019-11-21 10:49] o2bubble opened #40606 "Translation errors"
https://github.com/odoo/odoo/blob/d8bc17d5f79a96c3f5ad928075387751e96cb7e4/addons/mail/i18n/zh_CN.po#L250

'or' and 'and' is python keywords,  can't translate it！

[2019-11-21 11:46] pedrobaeza commented on #40606
Please fix translations in Transifex:

https://github.com/odoo/odoo/wiki/Translations

[2019-11-21 11:46] #40606 closed

[2019-11-21 11:52] pedrobaeza commented on #40603
I don't think it's the short term, but not being enclosed in a proper tag. Can you include the template or try with a longer word as is to see if it's translatable in that case?

[2019-11-21 11:54] sum1201 commented on #39070
@len-odoo I think there are fixes for all code that uses active_id, not just the ones I mentioned above. Because it produces erroneous data and is not easily found.

[2019-11-21 13:19] bhaveshselarka opened #40630 "[11.0] Sales: User: Own Documents Only"
Impacted versions: 11.0

Steps to reproduce

    Create a user
    Set permission to only Sales and group: See Own Documents

Current behavior:

Can see all orders and quations.

Expected behavior:

Only can see his orders.

Video/Screenshot link (optional):

http://696035-11-0-896127.runbot27.odoo.com/web

user : sales@gmail.com
pass : sales@gmail.com

[2019-11-21 13:20] bhaveshselarka commented on #40630
@pedrobaeza @Yenthe666 @edsersolis @gustavovalverde

[2019-11-21 13:21] pedrobaeza commented on #40630
Please specify which other permissions have you set in which user.

[2019-11-21 13:24] bhaveshselarka commented on #40630
<img width="1680" alt="Screenshot 2019-11-21 at 6 53 58 PM" src="https://user-images.githubusercontent.com/7733043/69341835-550d9980-0c90-11ea-90f9-16bfcfda0708.png">
![Uploading Screenshot 2019-11-21 at 6.54.09 PM.png…]()

[2019-11-21 13:24] bhaveshselarka commented on #40630
<img width="1680" alt="Screenshot 2019-11-21 at 6 54 09 PM" src="https://user-images.githubusercontent.com/7733043/69341862-622a8880-0c90-11ea-8230-252b9f603ff4.png">

[2019-11-21 13:26] pedrobaeza commented on #40630
Please see my comment about the other permissions.

[2019-11-21 13:28] bhaveshselarka commented on #40630
Have not updated any of the default access rights or modify any group aceess.

[2019-11-21 13:36] bhaveshselarka commented on #40630
<img width="1673" alt="Screenshot 2019-11-21 at 6 52 10 PM" src="https://user-images.githubusercontent.com/7733043/69342660-06f99580-0c92-11ea-8047-6b1843657dcf.png">

[2019-11-21 13:45] bhaveshselarka commented on #40630
#40565

[2019-11-21 13:50] pedrobaeza commented on #40630
That record rule change is correct, as the field is the same. Have you really tried with real data? Maybe demo data are not computing that field and that's why it fails in runbot.

[2019-11-21 13:58] res-odoo commented on #38024
Fixed in: https://github.com/odoo/odoo/pull/40240

[2019-11-21 13:58] #38024 closed

[2019-11-21 14:02] bhaveshselarka commented on #40630
Yes tried with new records as well. its seems buggy.

[2019-11-21 14:12] ocanal2015 opened #40636 "Odoo13 Internal server error when process to pay an online order"
Hello,
I use a community Odoo13 and I have an Internal server Error when I want to pay an order via Paypal !
Can you help me?
Below my logs:

 2019-11-21 13:56:14,116 1 INFO Ping werkzeug: 173.0.82.126 - - [21/Nov/2019 13:56:14] "POST /payment/paypal/ipn/ HTTP/1.1" 500 - 6 0.007 0.016
 2019-11-21 13:56:14,124 1 ERROR Ping werkzeug: Error on request:
 Traceback (most recent call last):
   File "/us

[2019-11-21 14:20] Yenthe666 commented on #39070
@sum1201 good luck with going through that, it is used in hundreds of places :/

[2019-11-21 14:32] jeroen7s opened #40641 "readonly doesn't work on priority widget"
Impacted versions:
13.0

Steps to reproduce:
add priority widget to field on tree or form view
set readonly flag to True or 1

Current behavior:
Hovering over the widget highlights stars
Clicking on the widget makes it look like the priority has changed
*stars stay highlighted after moving away
*refreshing browser resets the stars back to normal

Expected behavior:
Hovering over priority widget do

[2019-11-21 14:59] pollarolas opened #40644 "Wrong rounding"
Impacted versions: 12.0 CE

Steps to reproduce: Out of the box add two taxes to a product A, B and C. One for 18% and the other for 8%. Product A price is 36 including taxes. Product B price is 34 including taxes. Product C price is 14 including taxes. Sell 1 product A, 1 product B and 3 products C. The subtotal and second tax have a rounding problem.

Current behavior: Total is 112 including taxe

[2019-11-21 15:13] pedrobaeza commented on #40636
This is a configuration problem: the payment acquirer is not available somehow on your system. Please verify how it's configured.

Closing this meanwhile as it's not an Odoo issue per se.

[2019-11-21 15:13] #40636 closed

[2019-11-21 15:16] pedrobaeza commented on #40644
First of all, you need to simplify your example, or it's very difficult to track the exact problem (if exists). Focus on only one line and what do you expect and you get.

Secondly, that seems something in the PoS. Please specify all steps and all configuration (it isn't valid to say "out of the box". That may change depending on the installed modules).

[2019-11-21 15:19] pedrobaeza commented on #40630
@bhaveshselarka the mentioned PR has nothing to do with this potential issue, as it modifies the `sale.order.line` record rule, not the `sale.order` one which you are mentioning.

[2019-11-21 15:20] h4818 commented on #24713
This is still an issue in version 12.0
The [docs](https://www.odoo.com/documentation/user/12.0/manufacturing/management/kit_shipping.html) suggest setting kits as **consumable** product type

When the kit's product type is `consu` - the anglo saxon COGS accounting entries are missing but everything else works fine.
When the kit's product type is `product` - the accounting is correct, but the user

[2019-11-21 15:22] pollarolas commented on #40644
I think the example its very clear, grab a calculator and do it manually and you will see the results. Do i need to tell you in wich line of code is the the problem?.

[2019-11-21 15:23] pedrobaeza commented on #40630
The problem comes from rule "Expense Employee can read confirmed SO" and it was tracked for 12.0 in  #34131. The same fix should be applied for 11.0. Can you please do a PR with it?

[2019-11-21 15:28] pedrobaeza commented on #40644
@pollarolas well, if you don't want this to be handled, leave it as is. The issue will remain opened forever without no response, as this is a voluntary effort and no one wants to check unneeded complex cases with brief attached information.

[2019-11-21 15:35] pollarolas commented on #40644
But what else do you need?. The picture speak for itself. Please be patient, this is my first attempt.

[2019-11-21 15:39] pedrobaeza commented on #40644
I have already told you: simplify the case at maximum with only one line involved if possible, include all the configuration (rounding globally or by line), PoS config as seems to be there where you are doing it, taxes full configuration, is it happening the same on sales orders?....

[2019-11-21 15:57] pollarolas commented on #40644
Ok, make a sell on POS for 112.00. All prices included on POS that is the configuration. and the results arent as espected. Same situation on invoicing a sale order.
Tax configuration is percentage over the price.
Tell me if you need more information.

[2019-11-21 20:14] pedrobaeza commented on #40644
What is your expected result and which one do you get? Base amount in 112? Taxes included or not in the price?

[2019-11-21 23:28] sum1201 commented on #39070
Not only that, it also involves multiple versions.  I think the best way to do this is to fix the code and make sure it's as reliable as active_ids, not so shameless, too irresponsible.  ￼@len-odoo @Yenthe666

[2019-11-22 06:38] AlfiiKazii opened #40668 "Viewing Quotation Template through mail always requires Odoo Login"
Impacted versions:
Odoo 12 Community
Steps to reproduce:

Current behavior:
When a Sales Ordrer Quotation Template is sent to the customer through an email,the customer is unable to view the template the very first time ,if the user is not logged into Odoo.
However,if before opening the link sent through an email,if user has logged into Odoo even once through the browser,it does allow.
Once cookie

[2019-11-22 07:17] mart-e commented on #26891
Hello,

I believe this was fixed at odoo/enterprise@2a92c30d6f7a74b62f40f3521a9da947080e41f2
Thanks for the report

[2019-11-22 07:17] #26891 closed

[2019-11-22 08:14] aliencrash opened #40673 "Invoice report breaking number with space as a thousand separator, and tax showing nbsp."
From our country numbers have spaces, in Odoo reports when the invoice have spaces it break the line in the numbers.  So to overcame this issue, we added in the language as a thousand separator the  **`&nbsp;`** This solved the problem for all number except for the tax resume that show the nbsp. this is due to the fact that its treating as char.

Impacted versions:
12.0
Steps to reproduce:
In Sett

[2019-11-22 08:24] mart-e commented on #40572
Hello,

Could you give your configuration or languages and website? It looks like you have zero languages on the website which should not be possible.

[2019-11-22 08:36] pedrobaeza commented on #40673
`&nbsp;` is not a proper thousand separator. That's why this is not working. So I don't consider this an Odoo issue, as you try to hack the system and it doesn't work.

Any way, I let @mart-e the final decision on this.

[2019-11-22 08:38] pedrobaeza commented on #40668
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-11-22 08:41] mart-e commented on #40673
Why not add "` `", `chr(160)`) as thousand separator (not to be confused with "` `", `chr(32)`)?
This is what we do for the French language and it works pretty well.

[2019-11-22 08:48] jlegido commented on #40055
Hi there.

First of all many thanks everybody involved in maintaining Odoo for your time.

I'm facing same issue with Odoo 13 and Firefox (68.2.0esr-1+b1) but it's working fine with Chromium (76.0.3809.100-1).

I think worth investing some time to check error:

[code]

My point is that I don't consider, for instance, 68.x an outdated version of Firefox, thus there are more chances that people are

[2019-11-22 08:49] aliencrash commented on #40673
Because it will break like this (look to the unit price)
![imagem](https://user-images.githubusercontent.com/10322162/69411461-5204be80-0d0d-11ea-97d3-8b5245b25391.png)

[2019-11-22 09:38] aliencrash commented on #40673
I Was able to use the char(160) after lot of trails, and it's working.

[2019-11-22 09:38] #40673 closed

[2019-11-22 09:40] mart-e commented on #40673
Indeed, in your picture above you were using a regular space because the same example with a nbsp works fine.

[2019-11-22 09:56] hoangpq commented on #28764
I created a simple **[Gist](https://gist.github.com/hoangpq/16139539a3783e9b532604db06ad3c65)** to use Python asyncio in Odoo controller

Odoo route will take less than `2s` to complete 2 requests to [Nodejs Server](https://gist.github.com/hoangpq/16139539a3783e9b532604db06ad3c65#file-server-js) which take 1s responding to client for each request.

In my case:
![image](https://user-images.githubus

[2019-11-22 10:05] tivisse commented on #38568
Hi. The ribbons have been developed by @pko-odoo , even if I merged a skeleton of it to use it in another feature branch before him.

@pko-odoo Could you please check this issue ?

Thanks.

[2019-11-22 10:08] AlfiiKazii commented on #40668
Hello Pedro M. Baeza,
Thanks for your reply.I emulated the issue at runbot as well,the issue is
replicated.I am hereby attaching the video to better understand the
issue.Sales Order Quotation is sent through email,Before opening the link
the user has not logged in into Odoo.Now when I click on Sign & Pay
online,it shows URL not found,as user has not logged in into Odoo.

Thanks,

*Kazi Alfiya*
Jr.

[2019-11-22 10:14] AlfiiKazii commented on #40668
Hello,
Please have a look over the video attached,Quotation Template  Link does not open up as user is not logged in with Odoo.Issue persists on runbot as well.
![url_unaccessible](https://user-images.githubusercontent.com/48550902/69417492-c60b8a80-0d3e-11ea-9221-b90fdb10de7f.gif)

Thanks

[2019-11-22 10:22] Yenthe666 commented on #40668
Well, the runbot has two db's and the unique link does not keep track of the db's. Odoo cannot differantiate those so the request gives a 404.
You just need a db-filter / one db ;)

[2019-11-22 10:39] ctringham commented on #21120
Will this be fixed?  I can understand why using drag and drop could generate multiple emails, but not sending **any** notification when changing the date / time of an event is a problem!

[2019-11-22 10:41] seb-odoo commented on #40095
I can't reproduce the issue on the latest master.

Do you have a specific version and scenario that I can use to reproduce it?

I tried 2x -i on mail itself, portal, website, website_sale and didn't have the issue with any of them.

[2019-11-22 10:46] AlfiiKazii commented on #40668
I wanted to convey that we have Production server with muti database
environment,and there it is not possible to add db filter.
Can you suggest any other solution in order to resolve this?

Thanks,

*Kazi Alfiya*
Jr. Software Engineer
Certified Python Developer
Python for Data Science
<https://courses.cognitiveclass.ai/certificates/1db4cf138d954098a53f6c62cbf5cc0b>
Data Analysis with Python
<https

[2019-11-22 11:02] JKE-be commented on #40095
ok, we close... I will reopen if reprodctible

[2019-11-22 11:11] sebastienhasa commented on #40603
This is an extract of the template, the part that have problem:
[code]

The short term not translated is "à".

I tried to replace the "à" with "a", but it didn't fix my problem.

But, if I replace the "à" with, for example, "banana", the term is
detected as translatable. And if I translate it, its translation is
shown on the final web page. So, apparently, the problem is the
translatable terms det

[2019-11-22 11:13] #40095 closed

[2019-11-22 11:47] MEmmanuel commented on #17997
Hi @satyakishores, did you find where the problem came from or a solution ?
I'm in a totally different situation but I have the same traceback coming from nowhere.

@Yenthe666 I think, although the error probably come from custom development, that the error message should be more meaningful to allow debug. This traceback arise for me after some merges and keeps coming even if I rollback. I'm lost.

[2019-11-22 12:03] sle-odoo commented on #40556
the value with taxes from the purchase, ¿Is this correct?,

i don't think so, just made the test in v13 and v12 and the values are the same: without taxes. So you can use the valuation layer to get the standard price at date.

regards

[2019-11-22 12:03] #40556 closed

[2019-11-22 12:55] Yenthe666 commented on #40668
There simply isn't. You'll need a db-filter or separated databases or it will keep giving 404's as far as I'm aware. @pedrobaeza anything you can add?

[2019-11-22 12:59] kimasplund commented on #40572
On this one i created db in finnish then added swedish to backend but not to website.

[2019-11-22 13:06] mart-e commented on #40572
Thanks for the information, indeed I was able to reproduce it this way
@rdeodoo could you have a look? Visiting the website with the user in a language not present in the website languages crashes.

[2019-11-22 13:12] kimasplund commented on #40572
Seems someone else had same problem.

https://github.com/odoo/odoo/issues/40078

[2019-11-22 13:15] mart-e commented on #40078
Hello,

Thanks for the report, we confirm the issue.
I am closing this issue in favour of #40078 where there is a bit more details.
You can follow the progress there

[2019-11-22 13:15] #40078 closed

[2019-11-22 13:16] yankinmax commented on #40246
Can anybody say, what should be done next, after creating the issue? Will somebody from Odoo fix this?

[2019-11-22 13:18] Yenthe666 commented on #40246
@yankinmax you basically have to wait untill somebody from Odoo S.A checks it. This can be in days, weeks, months or even years. If you have an enterprise license I'd enourage you to create an issue at odoo.com/help as the Github issue tracker is based on best efforts.

[2019-11-22 13:24] yankinmax commented on #40246
@Yenthe666 thank you very much for your answer, I suggested, that all these issues are considered to be fixed. I was wrong. I will definitely write to my Manager in Odoo.

[2019-11-22 13:36] pedrobaeza commented on #40668
Yeah, clearly the problem is a not proper deployment, as an URL should be unique to only one DB, doing through DB filter or having only one DB in that Odoo instance. That's a requirement and you should change your deployment method to comply with it.

Closing by the stated above.

[2019-11-22 13:36] #40668 closed

[2019-11-22 13:49] gustavovalverde commented on #39825
@odony As far as I've tested, there's no way (with python > 3.6) to have `limit_memory_soft` lower than 2/2.5 GB, because workers recycling happens several times in a minute.

So I could state that this should be the **minimum** for this value. And taking into consideration:

The minimum _recommended_ RAM for a server should be around **20GB** and the `limit_memory_hard` around 18GB.

[2019-11-22 13:53] pedrobaeza commented on #40603
You have to wrap the term around a `<span>` element.

[2019-11-22 13:56] gustavovalverde commented on #39825
I'm also having a hard time figuring out the right **ratio** for longpolling. I even had to use a dedicated server for longpolling because after a few hours (and in peak hours) the longpolling port just stopped answering new requests; even doing a `curl` inside the server didn't give an answer after several seconds/minutes.

When the longpolling was in the same server than the HTTP Server, this ca

[2019-11-22 14:02] gustavovalverde commented on #39825
@Danisan

We've been using Kubernetes for the last 3 months, and this thread came up to be because of this. So far the best approach (for us) using Kubernetes has been this design:

- HTTP Server for clients (workers > 8 & cron_workers = 0)
- Gevented longpolling server (workers = 0 & cron_workers = 0)
- Cron server (workers = 0 y cron_workers > 5 [depending on load])

[2019-11-22 15:54] akselon commented on #32801
@Yenthe666 Is it possible, that it also affects Odoo 13? I added following code to my module, that exdends the Fleet app:
`class FleetServiceType(models.Model):
    _inherit = 'fleet.service.type'

    category = fields.Selection(selection_add=[
        ('contract-leasing', 'Leasing contract'),
        ('contract-insurance', 'Insurance contract'),
        ('contract', 'Other contract'),
    ], hel

[2019-11-22 15:59] pollarolas commented on #40644
The expected result sould be
Base = 88.89
Tax one 18% = 16
Tax two 8% = 7.11
Total Amount 112 taxes included

[2019-11-22 16:06] Yenthe666 commented on #32801
Yeah it is and I've seen it happen before. Nothing I can do though, Odoo has to check it.

[2019-11-22 16:11] rdeodoo commented on #40572
Working on it.
Was introduced quite recently with https://github.com/odoo/odoo/commit/3408c4dd1eb197bdded6e87577ff71d7ffeca267
So basically before the mentioned commit, we would only try to find a nearest lang among the website ones but since this commit, we will check all the installed langs.

[2019-11-22 18:07] pedrobaeza commented on #39771
@nhomar any news about this?

[2019-11-22 18:18] wpdigital commented on #40572
I've tried without installing any new language and website editor is not working.

The error appears after installing clean Odoo instance with only one Website app installed.

Traceback:
Error: QWeb2: Template 'website.editorbar' not found

Odoo 13.0-20191115 (Community Edition)

[2019-11-22 18:35] nicomacr commented on #27021
Someone have any idea if there are some workaround to solve this issue?

[2019-11-22 19:13] antonylesuisse commented on #28764
Not that easy, when processing a "longpolling" request any odoo business code could run, so the semantics of those non async code should be maintained (opening a file, socket operation, sleep, ...).

Gevent is a hack but it has the merit to look just like plain simple threaded code, context switches happens magically at io calls whenever needed.

[2019-11-22 19:52] luistorresm opened #40739 "[v13] Point of Sale: Closing session with error"
Impacted versions:
v13

Steps to reproduce:
1. Configure the point of sale to `Invoicing`
2. Open the session and make a sale with the invoice option
3. Go to the order generated in step 2
4. Return the products
5. Make the payment to the return
6. Generate the invoice of that return
7. Make the payment
8. Try to close the session

Current behavior:
When trying to close the session I get the next

[2019-11-22 20:48] luisg123v opened #40740 "SQL constraints trigger warnings after they're redefined"
Impacted versions:
- 12.0

Steps to reproduce:
- Redefine an SQL constraint on your module
- Update your module
- Create a record that violates the old constraint, but not the new one
- Update your module again

Current behavior:
The following warning is shown:

!

That's because the way Odoo tries to drop old constraints and apply new ones. If the constraint present in BD differs from the one bei

[2019-11-22 20:51] pedrobaeza commented on #40740
I tag about this for waiting an official answer, but I'm telling you that this is not possible due to the modularity of update process.

[2019-11-22 22:11] luisg123v commented on #40740
@pedrobaeza I was looking into it a bit, and I'd say it's possible and not so hard to acomplish. SQL constraints are inserted on DB after all models from all installed modules are loaded. So, if I'm not mistaking, the solution should be as simple as not processing certain constraints if there is one in the list with the same name that will be processed afterwards.

https://github.com/odoo/odoo/blo

[2019-11-22 22:20] pedrobaeza commented on #40740
Good to hear that. Then maybe there's a solution to this.

[2019-11-22 22:23] BusinessAgilityMasters opened #40741 "[V13] Purchase: Adding a note or section to Purchase order gives error (Forbidden values on non-accountable purchase order line)"
Impacted versions: 13 Purchase

Steps to reproduce:
- Install only purchase application, no stock application
- Add Product and a note or section to a Purchase order
![image](https://user-images.githubusercontent.com/39414107/69463975-5ec0fb00-0d7d-11ea-97d2-0dd72a29df4a.png)

- Save the Purchase Order
- Edit the Purchase Order and change the **"Receipt date"** in the Other information tab.
![imag

[2019-11-22 22:35] pedrobaeza commented on #40741
@amoyaux can you take a look to this?

[2019-11-22 23:44] luistorresm opened #40742 "[V13] PoS: Invoice created without UoM from PoS"
What are the steps to reproduce your issue?
1. Configure your session to allow generate the invoice from the PoS
2. Start a session and make a sale with invoice

What is the current behavior that you observe?
The invoice line is generated without UoM

What would be your expected behavior in this case?
The UoM is assigned in the invoice generated (This could be required in some process)

https://yo

[2019-11-23 08:12] arsow opened #40744 "uom"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-11-23 08:15] #40744 closed

[2019-11-23 10:12] zeroheure commented on #24810
up
AFAIK, this is still the case in current Odoo 13 (tested).

[2019-11-23 11:38] BusinessAgilityMasters commented on #40741
Great, thanks, seems to work 👍

[2019-11-23 13:56] arsow opened #40745 "[13.0]Reference Unit Error: External ID not found in the system: uom.product_uom_kgm"
**Impacted versions:**
     13.0
**Steps to reproduce:**
     Delete the wight reference unit "kg" by mistake. Or change the wight reference unit from "kg" to "g". The following error occurs when create a new product.
**Current behavior:**
     Error occurs when create a new product. It won't resolve the problem even create the same reference unit again:

Odoo Server Error

Traceback (most recent

[2019-11-23 14:22] physiii opened #40746 "[Odoo 13] Can not install website theme"
Following instructions [here](https://www.odoo.com/documentation/13.0/howtos/themes.html).

First I download a new [theme](https://apps.odoo.com/apps/themes/13.0/theme_kea/) and extract theme_ folders into the addons directory.

I navigate to the Website module and go to Configuration > Settings > Chooose a theme.

However the theme I put in addons folder does not appear even after restarting odoo

[2019-11-23 15:30] #40741 closed

[2019-11-23 15:45] #31376 closed

[2019-11-23 16:39] keshrath commented on #13683
The limitations caused by the transformation of binary data to base64 are really a problem and unfortunately deeply anchored in the odoo orm. There are even a lot of places in the odoo code that convert the base64 back into a binary to do for example image operations. It would be such a big step forward to work with binary streams instead of base64 in the backend.

[2019-11-23 16:40] keshrath commented on #13683
@rmmr have you open sourced your solution somewhere?@rmmr have you open sourced your solution somewhere? I'm afraid however that such a change can only happen in Odoo itself there are too many places that rely on a binary field to return base64.

[2019-11-23 16:55] sswapnesh commented on #40745
Upgrade the `uom` module and try again

[2019-11-23 17:00] sswapnesh commented on #40746
You have to Update your app list
![screenshot-699344-13-0-b115bc runbot14 odoo com-2019 11 23-22_29_47](https://user-images.githubusercontent.com/16624719/69482399-cdb35800-0e40-11ea-936c-01c298ccc3e8.png)

![screenshot-699344-13-0-b115bc runbot14 odoo com-2019 11 23-22_30_21](https://user-images.githubusercontent.com/16624719/69482408-e0c62800-0e40-11ea-90b8-6aff591071f9.png)

[2019-11-23 17:12] sswapnesh commented on #29944
@manney  Did you checked if the same solution worked for you or not ?

[2019-11-23 17:17] sswapnesh opened #40748 "[13.0] Default filter is not working on Messaging screen"
Impacted versions: 13.0
tested on http://699344-13-0-b115bc.runbot14.odoo.com/web?debug=1#action=129&active_id=mailbox_inbox&cids=1&menu_id=99

Steps to reproduce: Add Custom filter with **Use by Default**
![screenshot-699344-13-0-b115bc runbot14 odoo com-2019 11 23-22_10_50](https://user-images.githubusercontent.com/16624719/69482570-2257d280-0e43-11ea-882a-884cc213a2f4.png)

Current behavior:  O

[2019-11-23 17:26] sswapnesh commented on #40745
Cc @mart-e  (Based on https://github.com/odoo/odoo/issues/31087#issuecomment-468578681)

[2019-11-23 18:10] sswapnesh opened #40749 "[13.0] hr_holidays: Issue with computation of leave_date_to"
Impacted versions: 13.0
Tested on http://699344-13-0-b115bc.runbot14.odoo.com/web?debug=1#id=3&model=hr.employee&view_type=form&cids=1&menu_id=314 with Correct Timezone

Steps to reproduce: Add an Leave for Employee which include Current Date and Confirm
Eg, Added and Confirmed Leave for 23rd Nov
![screenshot-699344-13-0-b115bc runbot14 odoo com-2019 11 23-23_35_07](https://user-images.githubuserc

[2019-11-23 18:19] sswapnesh commented on #39075
I think we can close this based on @mart-e  's https://github.com/odoo/odoo/pull/39403#issuecomment-554963412

[2019-11-23 18:19] #39075 closed

[2019-11-23 19:43] pedrobaeza commented on #40748
Not sure if that is actionable, so it can be stored for being restored later as default filter. I don't know nobody that applies a filter and save it as default on this screen, but well, it can be refined for putting an error message if not possible to be done or fix it for being applied.

[2019-11-23 22:35] Hamza-Talibi opened #40751 "Can't save custom model's field in account.move.line"
Impacted versions:
13.0
Steps to reproduce:
At Odoo runbot:
Create new model
Add a Many2one field with custom model in account.move.line
Fill the field
Save The invoice
Current behavior:
The field hasn't saved
Expected behavior:
The many2one field saved

Video/Screenshot link (optional):

![move_line_custom_field](https://user-images.githubusercontent.com/25642031/69486227-e2e0b480-0e49-11ea-8530-

[2019-11-24 01:07] 159820 opened #40752 "mrp_subcontracting error"
closed
due to my config error

[2019-11-24 01:08] 159820 commented on #40752
![1](https://user-images.githubusercontent.com/4311043/69487738-029fc900-0e9a-11ea-8d90-106e598fed2a.JPG)
![2](https://user-images.githubusercontent.com/4311043/69487739-029fc900-0e9a-11ea-988a-eed6e7d8d659.JPG)
![3](https://user-images.githubusercontent.com/4311043/69487740-029fc900-0e9a-11ea-9dfe-4b7c3c42cde4.JPG)
![5](https://user-images.githubusercontent.com/4311043/69487741-029fc900-0e9a-11ea

[2019-11-24 01:49] pedrobaeza commented on #40751
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2019-11-24 01:49] #40751 closed

[2019-11-24 01:50] pedrobaeza commented on #40749
I think this depends on the timezone.

[2019-11-24 03:46] sswapnesh commented on #40748
This works well on v12.

[2019-11-24 03:49] sswapnesh commented on #40749
I have checked and it's due to Timezone + Work hours defined on Resource calendar of Employee.(Fields with time are used in the domain)

I will check if it's easy to do a PR.

[2019-11-24 06:39] 159820 commented on #40752
![1](https://user-images.githubusercontent.com/4311043/69490844-3bef2d80-0ec8-11ea-8b5a-a4e549a78af4.JPG)
![2](https://user-images.githubusercontent.com/4311043/69490845-3bef2d80-0ec8-11ea-8d18-1b632cc007e7.JPG)
![3](https://user-images.githubusercontent.com/4311043/69490846-3c87c400-0ec8-11ea-980c-3e275cc61097.JPG)
![4](https://user-images.githubusercontent.com/4311043/69490847-3c87c400-0ec8-11ea

[2019-11-24 07:59] bahram-css opened #40753 "[12.0] A template id is not correct"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

This template ID (search count) is not correct. I think for id, underline must be used not space, like this "search_count"

File address: addons/website_sale/views/templates.xml

Video/Screenshot link (optional):
![Screenshot from 2019-11-24 11-17-04](https://user-images.githubusercontent.com/51145639/69491606-a4c8ac80

[2019-11-24 08:49] #40752 closed

[2019-11-24 09:05] Yenthe666 commented on #40753
A PR is welcome for the master version ;)

[2019-11-24 09:08] Yenthe666 commented on #40745
Yeah this is one of those cases that is default behaviour in Odoo and only resolvable by reloading the module(s)..

[2019-11-24 09:09] Yenthe666 commented on #40746
Hi there,

The issue tracker is for issues in Odoo itself, this is not the right place to ask questions about custom development or features you don't know.
You can ask these kind of questions on the official help forums at https://www.odoo.com/forum/help-1 (and @sswapnesh has answered it anyways).

Regards,
Yenthe

[2019-11-24 09:09] #40746 closed

[2019-11-24 15:19] pedrobaeza commented on #40745
Yes, but I don't consider it an Odoo issue: some data mustn't be deleted, and if so, the simply update mechanism will restore it. To include code for avoiding that deletion is to bloat the number of lines without too much benefit.

Closing this by the stated reasons.

[2019-11-24 15:19] #40745 closed

[2019-11-24 15:23] pedrobaeza commented on #40753
External identifiers (XML-ID) can be any string, including spaces, but it's true that if it corresponds to a data that can be translatable (which is not the case, as this a QWeb template), it would be converted untranslatable. As said by @Yenthe666, it's good that this is avoided, but only for master version, as in stable branch this change can break inherited behaviors in third-party modules.

Cl

[2019-11-24 15:23] #40753 closed

[2019-11-24 18:31] Hamza-Talibi commented on #40751
Hello @pedrobaeza ,

I reproduced this bug on odoo runbot:
In odoo runbot, I've created a new model, with their access right.
I 've created a new many2one field in account.move.line related to this new model.
I've created a new invoice and I've added a invoice line, I've filled this field, saving the invoice, the data of this new field can't be saved.
Attached you fill find my test in odoo runbot.

[2019-11-24 22:19] pedrobaeza commented on #40751
The question is that you are doing a modification in the standard, and thus that may require extra code like this special case for the invoice/move duality, so you should add that code for making it work, but it's not an Odoo issue itself.

[2019-11-24 22:19] pedrobaeza commented on #37554
Is this still happening?

[2019-11-25 07:46] Yenthe666 commented on #40753
It has been fixed in V13 actually:
https://github.com/odoo/odoo/blob/91551ae962cadc9dc258e5ffdafe5d6100b780c7/addons/website_sale/views/templates.xml#L119-L123
so nothing to do here.

[2019-11-25 07:52] rosenvladimirov commented on #24440
Hi,
I all ready fixed the all problems with multilang and ISO 9 support hire is module, inside is included 3-language support [l10n_bg_multilang](https://drive.google.com/file/d/16r_Br9b7Q8f4unn0U_4cer46gFIATQZW/view?usp=sharing)

[2019-11-25 08:04] Yenthe666 commented on #36168
To give an update: using a `Many2one` ID seems to work just fine now! For example:
[code]

This makes map views less complex and easier to implement. Thanks guys.

[2019-11-25 08:04] #36168 closed

[2019-11-25 08:08] #24440 closed

[2019-11-25 08:12] sebastienhasa commented on #40603
@pedrobaeza : Tried, didn't work

[2019-11-25 08:13] Yenthe666 opened #40755 "[13.0/wishlist] map views do not support widgets"
Impacted versions: 13.0 and master

Steps to reproduce:
1. Create a new map view, for example for sale orders:
[code]
This will work fine.
2. Now add a widget on one of the fields, for example the `monetary` widget on the `amount_total` field to show the currency.

Current behavior: Tracebacks once you add widgets. In this example:
[code]

Expected behavior: You're able to add and use widgets in t

[2019-11-25 08:14] pedrobaeza commented on #40603
@mart-e can you help here?

[2019-11-25 08:18] pedrobaeza commented on #40753
OK, I suppose they have decided is too soon for someone to have inherited that template yet.

[2019-11-25 08:22] mart-e commented on #24440
Ok thanks for the update, so this was not a request for odoo but for customisation. Doing it in a custom module is indeed the right way to do it.

[2019-11-25 08:26] Yenthe666 commented on #40755
OPW `2144329`.

[2019-11-25 08:27] mart-e commented on #40603
Unfortunately it is expected to skip the small terms, we only keep a few hardcoded ones as listed there

https://github.com/odoo/odoo/blob/b96e9e895b85c91b459df640306b3c33b3b6e331/odoo/tools/translate.py#L119-L120

but even that, it is not great as translating small words is usually not practical and out of context. In addition, it won't work in many languages (where the order of the words is diff

[2019-11-25 08:27] #40603 closed

[2019-11-25 08:35] Elkasitu commented on #40740
Hi, I must be missing something as I cannot seem to reproduce your issue:

1. I install `sale_management`
2. I edit the `date_order_conditional_required` constraint on model `sale.order` to allow sale orders with `state='sale'` to have `date_order=NULL`
3. I update `sale_management`
4. I create a sale order, confirm it, then set the `date_order` to `NULL` in postgres (this would've broken the prev

[2019-11-25 08:36] Yenthe666 opened #40756 "[13.0] Map view does not show all addresses in Google & does not filter duplicates"
Impacted versions: 13.0

Steps to reproduce:
1. Go to the latest 13.0 runbot instance and take the base database (so with nothing installed)
2. Install the `contacts` app
3. Switch to the map view and you'll see this:
![image](https://user-images.githubusercontent.com/6352350/69524284-f84b0100-0f65-11ea-8ed5-a41c73053824.png)

As you can see there are 36 records:
- 5 have no address / cannot be lo

[2019-11-25 08:38] pedrobaeza commented on #40740
@Elkasitu I think the main difference is that you are not using inheritance and overwrites the constraint on the inherited model. Or is something not explained in your steps?

[2019-11-25 08:46] Elkasitu commented on #40740
Ah that makes more sense, the original issue didn't mention inheritance so I didn't think of it being the problem, thanks, I'll try to reproduce again

[2019-11-25 09:05] msdeek opened #40760 "odoo.addons.base.models.assetsbundle: You need https://rtlcss.com/ to convert css file to right to left compatiblity. Use: npm install -g rtlcss"
i installed rtlcss and all assets converted except :
base.models.assetsbundle

Log:
odoo.addons.base.models.assetsbundle: You need https://rtlcss.com/ to convert css file to right to left compatiblity. Use: npm install -g rtlcss

[2019-11-25 09:12] pedrobaeza commented on #40760
If that message appears, it's because you haven't installed rtlcss correctly, so nothing to do with Odoo itself. Please ask on forums for help on deployment questions.

Closing as no Odoo issue.

[2019-11-25 09:12] #40760 closed

[2019-11-25 09:13] msdeek commented on #40760
dear i installed rtlcss correct
2019-11-25 09:11:56,561 847 DEBUG ghazy odoo.modules.registry: Multiprocess signaling check: [Registry - 52 -> 52] [Cache - 57 -> 57]
2019-11-25 09:11:56,566 847 DEBUG ghazy odoo.api: call ir.ui.view().check_access_rights(operation='write', raise_exception=False)
2019-11-25 09:11:56,567 847 DEBUG ghazy odoo.modules.registry: Multiprocess signaling check: [Registry -

[2019-11-25 09:15] rosenvladimirov commented on #24440
I think the multi-language is need to be more flexible when used for many languages, at moment The res partner support only one-language names when show on display and sorting and searching. My offer is to check the module and to see inside. And in some in account module, there is lot of wrong logic for EU deals.

[2019-11-25 09:16] tde-banana-odoo commented on #34777
Integrated in 11.3 forward port of https://github.com/odoo/odoo/commit/e40f3ccad627af5f74be4fe9f73c201447cb6eb1 at https://github.com/odoo/odoo/commit/3aa26ed078f46345ffff4cd7136309ccfc600f28 .

[2019-11-25 09:17] tde-banana-odoo commented on #39783
Integrated in 11.3 forward port of https://github.com/odoo/odoo/commit/e40f3ccad627af5f74be4fe9f73c201447cb6eb1 at https://github.com/odoo/odoo/commit/3aa26ed078f46345ffff4cd7136309ccfc600f28 .

[2019-11-25 09:17] #39783 closed

[2019-11-25 09:17] Yenthe666 commented on #40756
OPW `2144374`

[2019-11-25 09:33] Elkasitu commented on #40740
Still can't reproduce, here's my inherited model:
![2019-11-25-102122_563x187_scrot](https://user-images.githubusercontent.com/4931545/69527849-6b0baa80-0f6d-11ea-8019-0a9a5f7d7af7.png)

Then created an SO with `state ='sale'` and `date_order=NULL` which would've broken the original constraint and then updated the module: no warning.

And frankly I am not sure how this could happen since `_sql_con

[2019-11-25 09:34] Yenthe666 opened #40763 "Parts of map view are not translatable"
Impacted versions: 13.0

Steps to reproduce:
1. Login to the latest Odoo 13.0 enterprise and activate developer mode.
2. Go to Settings > Translations > Languages and activate a second language, for example Ukrainian as it has been fully translated in 13.0
3. Switch to the Ukrainian language, go to contacts and open the map view:
![image](https://user-images.githubusercontent.com/6352350/69528267-

[2019-11-25 09:36] Yenthe666 commented on #40763
OPW `2144401`

[2019-11-25 09:43] pedrobaeza commented on #40740
Great, thanks for taking the time to check that. Thus, closing this as not reproducible. Maybe it was some kind of mangling on your test environment, @luisg123v. If not, please specify the missing steps to reproduce the problem and we'll reopen this.

[2019-11-25 09:47] Yenthe666 commented on #40756
Besides of these two there is another improvement if you create map views in other records. Let us say we create a map view on the sale orders and that you've solved multiple orders to this customer. It'll show up like this:
![image](https://user-images.githubusercontent.com/6352350/69529642-f6d30600-0f70-11ea-9d01-e44d6c733265.png)

SO 34, 35, 37 and 38 are all to the same customer (Administrator

[2019-11-25 10:58] #40172 closed

[2019-11-25 12:05] nafex commented on #39783
When this will be ported to 13.0? I found only your forward port to 12.0...

[2019-11-25 12:56] cmayo opened #40784 "Onchange methods don't be executed in existing records on form load"
Impacted versions:

13.0

Steps to reproduce:

For example, in the crm module:

- Create new lead in the crm module using the form.
- Set the `country_id` and the `_onchange_country_id` will be executed to set the domain for the `state_id` field and show only the states for that country.
- Save the lead
- Open again the previously created lead
- The `_onchange_country_id` method is not executed an

[2019-11-25 14:02] mart-e commented on #29254
Hi,

The route `/api/job_states` is not a standard route.
Sorry but this looks like a deployment issue, we don't really know how your server is deployed.
Please check the documentation about it
https://www.odoo.com/documentation/13.0/setup/deploy.html

[2019-11-25 14:02] #29254 closed

[2019-11-25 14:31] Reechee88 commented on #29254
Hi,

it is solved already. The problem was that this custom route changed the
static Reponse module's status code. It was a deployment issue but it is
good to know not chaniging this variable.

Martin Trigaux <notifications@github.com> ezt írta (időpont: 2019. nov.
25., H 15:03):

[2019-11-25 14:52] MindaugasPaul opened #40798 "v13 Inventory"
Impacted versions:13

Steps to reproduce:
multi warehouse (1 warehouse and 2 warehouse). multi location. product tracked by lot.
you receive "product A" to 1 warehouse 2qty ("LOT1").
So we have in 1 warehouse product A LOT1 2 qty.
We create internal transfer. source location (1 warehouse), destination location (2 warehouse) - we put product A. we have no possibility to check availability, only ent

[2019-11-25 14:53] MindaugasPaul commented on #40798
on odoo sh, runbot, local version 13 (no custom modules).

[2019-11-25 15:09] sle-odoo commented on #40798
when creating your internal transfer, use a "planned transfer"

<img width="839" alt="Screenshot 2019-11-25 at 16 07 43" src="https://user-images.githubusercontent.com/7601090/69551909-cc4b7200-0f9d-11ea-8d7a-c761ef4d512d.png">

[2019-11-25 15:09] #40798 closed

[2019-11-25 15:21] MindaugasPaul commented on #40798
you closed it, but you making print screen from delivery order (operation type).
<img width="905" alt="444" src="https://user-images.githubusercontent.com/49023902/69552891-e7bb7a80-0fa7-11ea-9b42-45fb7cf61073.png">
and you will receive the same behaviuor. why you close if problem really still is?!

[2019-11-25 15:25] MindaugasPaul commented on #40798
and all normal(regular) users-for e.g. in company is 50users of odoo. So do not go to internal->create->because you will make mistake is not bug?

[2019-11-25 15:59] sswapnesh commented on #39069
Improved in master at https://github.com/odoo/odoo/pull/39072 at https://github.com/odoo/odoo/pull/39072/commits/385bf79b9ae91bdd1b7ae14301767fa4b4cd48d8

[2019-11-25 16:28] retbconsulting commented on #39602
@Yenthe666  how can we solve it please?

[2019-11-25 16:40] luisg123v commented on #40740
@Elkasitu @pedrobaeza

For the record:
Now I see the problem. This was fixed for v13 on https://github.com/odoo/odoo/pull/30334. That's why @Elkasitu wasn't able to reproduce it.

In addition, I wrongly mentioned this applies also for v13, withhout testing it extensibely enough under that version.

So, this should be left closed.

[2019-11-25 17:25] Yenthe666 commented on #39602
@retbconsulting you could add the test_enable option on the XML

[2019-11-25 18:41] maitaoriana opened #40826 "[11.0] Payment error not translate in website"
**Impacted versions:**
11.0
**Steps to reproduce:**
1. Load a language other than English.
2. Select the downloaded language.
3. Add product to cart
3. Perform payment process, but do not select any payment method.
4. The error is displayed, but it is not translated into the selected language, even if the translation is done.

**Current Behavior:**
The error message is not translate
**Expected Beh

[2019-11-25 20:23] pedrobaeza commented on #38178
I think these questions should go to the forum, not here. What do you think, @Yenthe666?

[2019-11-25 20:24] pedrobaeza commented on #28116
Was this finally performed? Can this be closed?

[2019-11-25 20:31] pedrobaeza commented on #40784
This is a known limitation of the current framework, and although I agree it's not the best thing, solving this will require much more load on the form time, and worst, possible conflicts depending on the applied onchange order.

The only workaround with standard for this is to have a domain with `[('id', 'in', computed_field_ids)]`, and have a computed field `computed_field_ids` that gets the cor

[2019-11-25 20:31] #40784 closed

[2019-11-25 20:33] pedrobaeza commented on #40826
@JKE-be can you please take a look?

[2019-11-25 21:08] grzekru opened #40829 "[13.0] Html field - Odoo Client Error when using table"
**Impacted versions:**

13.0 (CE current commit)

**Steps to reproduce:**

1. Create note (or project task - something with html field)
2. Add 1x2 table
3. Add text to cell 2
4. Go to cell 1 and press backspace
5. Error 1

1. Create table
2. Remove table
3. Try to add new table (may require several attempts)
4. Error 2

**Video/Screenshot link (optional):**

Error 1
![image](https://user-images.gi

[2019-11-25 21:36] #38178 closed

[2019-11-25 23:13] zazula opened #40832 "ODOO 13.0 - "Transient module states were reset" error on restart"
I'm new to ODOO but an experienced computer-type.  I'm installing from the Docker images and simply trying to run and restart the service using default configurations.   It's not working and I can't seem to figure out what is going on.  Note that the app seems fine if I simply install and run it but it goes downhill (see attached) if I restart it.  No exported volumes, no custom modules, just stoc

[2019-11-25 23:41] ahmadio opened #40833 "UnicodeEncodeError while open POS or SO while the active language is non-latin"
Impacted versions:
10.0
Steps to reproduce:
1. log in as a non-admin user
2. change the user language to a non-latin language (Arabic in my case)
3. try to open new POS session, or save SO
4. the error message will show up

Current behavior:
This error message modal shows up
[code]
and this shows up in browser console:

[code]

Expected behavior:
No errors show show up

This line of code is the so

[2019-11-26 02:43] zazula commented on #40832
Note, I repeated the process on a completely different machine and received the same errors.

Installing Odoo 12 works fine, so maybe it is something with the latest rev of 13.

[2019-11-26 02:54] zazula commented on #40832
Installing 13 from the Dockerfile also produces:

2019-11-26 02:53:30,300 1 CRITICAL odoo-khome odoo.service.server: Failed to initialize database `odoo-khome`.

when restarting the application.

[2019-11-26 07:42] mart-e commented on #12532
Closing as fixed at #35852

[2019-11-26 07:42] #12532 closed

[2019-11-26 08:32] Yenthe666 commented on #38178
I was a bit divided one this one for two reasons. It's about version 13 and I don't think there are a lot of people with detailed knowledge on the help forums. I estimate that only a few dozen people could potentially answer these questions. I think that an official response would be great but I assume the guys from Odoo are too busy for this too.

[2019-11-26 09:05] rco-odoo commented on #28764
Adapting Odoo to async/await requires to make almost every method asynchronous.  That's a damn huge work.  But it will not make Odoo faster when most of its time is spent waiting for PostgreSQL.  It might reduce a bit the server's memory footprint.  It will inevitably come with new bugs, and really really subtle bugs!

You should have a look at [Some thoughts on asynchronous API design in a post-a

[2019-11-26 09:09] pedrobaeza commented on #28764
Thanks for your statements. Then it seems clear: there's not too much benefit on adding that, so closing this issue.

[2019-11-26 09:09] #28764 closed

[2019-11-26 09:21] pedrobaeza commented on #40832
It seems you are installing over a previous DB installation and some data overlaps. Please check with latest code and it not, please put the issue in Docker project (odoo/docker), not here.

[2019-11-26 09:21] #40832 closed

[2019-11-26 09:22] pedrobaeza commented on #40833
10.0 is not a supported version anymore, as only last 3 versions are. Please check if the problem still happens in these versions, and if so, you can post a new issue with it. You should check also in runbot, not in your custom installation.

Closing due to this.

[2019-11-26 09:22] #40833 closed

[2019-11-26 09:23] pedrobaeza commented on #40829
@qsm-odoo you are still referred in the wiki for this kind of things, but I remember you told me that you are not in this. Can you point me to the right person?

[2019-11-26 09:55] qsm-odoo commented on #40829
I still work on the website editor (snippets and options) so I may still have a look once in a while but the right person for an editor bug when editing the **text** (+ top bar options, like the table here) would be:
- for <= 12.0: our bug fix team with @nim-odoo
- for >= 13.0 only: our editor team with @dmo-odoo

Correct me if I am wrong guys... :)

[2019-11-26 10:05] pedrobaeza commented on #40829
Thanks for the references, so it seems @dmo-odoo can be the right person for this one, although not sure if this is happening as well on v12.

[2019-11-26 10:08] pimodoo commented on #40567
@sum1201 Hello, your issue has been fixed in https://github.com/odoo/odoo/pull/40600

[2019-11-26 10:08] #40567 closed

[2019-11-26 10:25] #39069 closed

[2019-11-26 11:16] tsteenbergen96 opened #40858 "[13.0] error when activating terms&conditions e-commerce"
Impacted versions:
Odoo 13
Steps to reproduce:
- login as admin or employee
- add something to basket
- go to checkout
- select the option "accept terms&conditions" ((that means that customer has to accept the conditions before he can is able to pay the order". The company could disable this option so customer does not have to accept the terms but I prefer to have it.)
- error occurs every time wh

[2019-11-26 11:21] Yenthe666 commented on #40858
@tsteenbergen96 please update your Odoo instance. This has been fixed recently in https://github.com/odoo/odoo/commit/2741f3d9ab7833e3d777d87206537eca6894ef79

[2019-11-26 11:21] #40858 closed

[2019-11-26 12:46] Adham-Bakry commented on #30006
could you please send me the addon for this solution because when i sold product with different lot number it create one lot but it surplus the quantity in the picking order

[2019-11-26 13:32] pooja-zakhariya opened #40881 "Duplicate Reconcile boolean in Chart of Accounts"
Impacted versions:
Odoo enterprise 13

Steps to reproduce:
Install account_accountant module

Current behavior:
Reconcile checkbox appearing two times

Expected behavior:
It should appear only once

The reason could be same code is in two views: account.view_account_form and account_accountant.view_account_form

![duplicate_reconcile](https://user-images.githubusercontent.com/4104012/69637637-0f31

[2019-11-26 14:29] fractalf commented on #28808
Came across this while searching for what I think is a bug regarding `--dev reload` ([issue](https://github.com/odoo/docker/issues/286)).

Is there any relation to what is discussed here and the fact that if I use `--dev reload` (using 5 workers) the *Event Service (longpolling)* won't start?

The log when **not** using `--dev reload`
[code]

The log when using `--dev reload`
[code]

[2019-11-26 17:22] zazula commented on #40832
It appears that the --init and --update flags can only be run once for a given database.  This is not clear from the docs located here:

https://www.odoo.com/documentation/11.0/reference/cmdline.html

The problem is that my Docker container included the --init flag and so the modules were being newly installed each time.

I wanted to install a long list of modules during the setup process rather t

[2019-11-26 20:39] tsteenbergen96 opened #40912 "[13.0] Error 500 bank transfer payment method e-commerce & PayPal render error"
Impacted versions:
13.0
Steps to reproduce
**Bank transfer error:**
- add something to basket
- go to the last page of the checkout
- select option 'bank transfer'
- complete order and error 500 occurs
YouTube link:
https://youtu.be/pWLx69CeAX4

**PayPal error**
- add something to basket
- go to the last page of the checkout
- select option 'PayPal'
- do payment successful through paypal
- when Pa

[2019-11-26 23:16] BlommaertsEdwin opened #40914 "[13.0] Error on compute readonly=False store=True when adding store=True afterwards"
Impacted versions:
V13 c.e. latest pull from repo

Steps to reproduce:

[code]

- Create the above model.
- Test functionality where it will recalculate the hourly rate each time the record is saved
- save the record
- Add a store=True

[code]

- And alter the record and attempt to save again.

Current behavior:
When saving the second time following error gets thrown.
`psycopg2.errors.UndefinedCol

[2019-11-26 23:57] BlommaertsEdwin commented on #40914
Tested it on fresh DB works now, for some reason the field did not get created,

[2019-11-27 00:54] pedrobaeza commented on #40912
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-11-27 01:04] #40914 closed

[2019-11-27 04:11] CakJuice opened #40915 "[13.0] New field in account.move.line cannot be saved when create"
Impacted versions: 13

Steps to reproduce:
- Install new odoo 13
- create new module that depends on 'account'
- create new model inherit from 'account.move.line', like code below
[code]
- inherit view account.move and add all new fields

Current behavior: all new fields cannot be saved when creating a new account.move.line. These fields can only be saved when we edit the account.move.line

Expect

[2019-11-27 07:01] mart-e commented on #30855
I guess we can close as sale_renting has been merged in 13.0

[2019-11-27 07:01] #30855 closed

[2019-11-27 07:48] dmo-odoo commented on #40829
Hello @pedrobaeza,

I was able to reproduce the bug you encountered on v12. This means your guy is @nim-odoo and, basically, the standard Odoo support.

Best regards,
David

[2019-11-27 08:12] pedrobaeza commented on #40829
Thanks for checking, David.

@nim-odoo do you need an OPW ticket for this or are you going to check it?

[2019-11-27 09:39] #38014 closed

[2019-11-27 12:27] Feyensv commented on #40912
Is maybe related and fixed by https://github.com/odoo/odoo/pull/39408

[2019-11-27 13:22] MathAndrews commented on #39678
It's seem I can't do PR

[2019-11-27 13:23] pedrobaeza commented on #39678
You can always do a PR. What you can't do is to create the branch in odoo/odoo, so you need to first fork the project, but the rest is git stuff.

[2019-11-27 13:54] pedrobaeza commented on #40784
FYI, Odoo is changing the approach for not having that dynamic domains in PRs like #40957

[2019-11-27 14:04] cmayo commented on #40784
Thanks a lot for the help and the information, I'm going to take a look to this PR

[2019-11-27 14:12] Yenthe666 commented on #39678
I've discussed this with the guys from Odoo but this proposal won't be accepted. The reason is that these pages would create an SEO backlink after this change, which Odoo doesn't want (CC @JKE-be).

[2019-11-27 14:12] #39678 closed

[2019-11-27 14:49] MathAndrews commented on #39678
@Yenthe666 So Odoo want to generate a 500 Server Error due to a error in the python code rather than generate a 404 for people who don't want to display the list of application installed in there Odoo???

[2019-11-27 15:05] Yenthe666 commented on #39678
Yes. It's not my call, it was the call from somebody very high up the chain ;)

[2019-11-27 17:13] pedrobaeza commented on #30128
Is this reproducible with latest code?

[2019-11-27 17:36] bhaveshselarka opened #40987 "[13.0] Wrong lot wise inventory Valuation with Costing Method : FIFO and Inventory Valuation : Automated"
Impacted version: 13.0

Make a new product with inventory Valuation with Costing Method: FIFO and Inventory Valuation: Automated.

Makes purchase order with qty 1 price 10. and received it in lot: 001.

Makes second purchase order with qty 1 price 20. and received it in the same lot: 001.

The inventory report should show two lines with the exact lot with correct pricing.

Currently, it shows an a

[2019-11-27 17:52] bhaveshselarka commented on #40987
@pedrobaeza @nim-odoo

[2019-11-27 17:59] bhaveshselarka commented on #40987
<img width="1680" alt="Screenshot 2019-11-27 at 11 28 51 PM" src="https://user-images.githubusercontent.com/7733043/69748166-c2786900-116d-11ea-836b-e89ce64f440f.png">
<img width="1680" alt="Screenshot 2019-11-27 at 11 29 01 PM" src="https://user-images.githubusercontent.com/7733043/69748168-c310ff80-116d-11ea-94aa-51cc588cf3bd.png">
<img width="1680" alt="Screenshot 2019-11-27 at 11 29 07 PM" src

[2019-11-27 19:43] lilee115 opened #40995 "[13.0] customized context will be overridden for variant"
/website_sale_stock/controllers/variant.py
`kw['context'] = {'website_sale_stock_get_quantity': True}`
will override other custom context in another customizing module
[FIX:]
[code]

[2019-11-27 19:46] pedrobaeza commented on #40995
Can you please propose the PR with that change?

[2019-11-27 20:35] lilee115 commented on #40995
never did any PR in Github yet... but sure, will have a try

[2019-11-28 04:50] 159820 opened #41002 "attachment_indexation not work"
Impacted versions:
13
Steps to reproduce:
1: install attachment_indexation module
2: open one product, no 'ATTACHMENT'  button in use interface
Current behavior:
no 'ATTACHMENT'  button in use interface

Expected behavior:
should have a button fo use to upload attachment.
this function works well in version 12.
i checked directory : /odoo-server/addons/attachment_indexation
seems no view defined i

[2019-11-28 08:12] binueda opened #41009 "[13]Adding Section in Quote, Invoice fail to generated"
Impacted versions: 13

Steps to reproduce:
New Quote
Add Section -->  provide a name
Add  products for quote and save
Confirm sale
Generate invoice
invoice fail -- "Forbidden unit price, account and quantity on non-accountable invoice line"

Current behavior:
invoice fail -- "Forbidden unit price, account and quantity on non-accountable invoice line"
Expected behavior:
Invoice should be created wi

[2019-11-28 08:21] mart-e commented on #21119
Since 12.0, the user is notified of emails that are not sent in the chatter (sorry I don't have examples to provide a screenshot).

[2019-11-28 08:21] #21119 closed

[2019-11-28 10:03] pedrobaeza commented on #41002
This module is not for that, it's for attachment indexation!!

Attachments are handled from the chatter.

Closing as no issue.

[2019-11-28 10:03] #41002 closed

[2019-11-28 10:55] nafex commented on #39783
@tde-banana-odoo is the forward port for 13.0 in progress or has it been forgotten?

[2019-11-28 13:55] Martronic-SA opened #41051 "'not like' and 'not ilike' in views raises an unsupported error"
Impacted versions:
10.0 11.0 12.0

Steps to reproduce:
create a view with a domain using 'not like' or 'not ilike' operator
Current behavior:
Throws an javascrit error "Domain %s uses an unsupported operator" (/web/static/src/js/core/domain.js on line 110 (in v11) or 111 on v12 or 116 in v13
Expected behavior:
the 'not ilike' domain shoud be supported on the javascript side as long as it's support

[2019-11-28 14:18] Yenthe666 commented on #40755
Odoo has given the feedback that this will become an internal task and that this will be most likely added in the future version.

[2019-11-28 14:18] #40755 closed

[2019-11-28 14:19] vedler commented on #7024
What I'd also propose is to figure out how to lose the rounding errors at least when requesting data over XML-RPC for non-stored, computed fields. Precision problems are not an issue if the convert_to_column (which uses float_repr) has been used on the value at some point, but they are very common if they are requested directly from the cache.

In the end I guess it comes down to the question why

[2019-11-28 14:38] pedrobaeza commented on #41009
You must update your code, as it seems outdated. I have been able to do invoice a SO with sections:

![Selección_009](https://user-images.githubusercontent.com/7165771/69814728-1d08d800-11f5-11ea-83c4-858fe5a9f51b.png)

Closing meanwhile you don't provide more info if still reproducible.

[2019-11-28 14:38] #41009 closed

[2019-11-28 15:06] janverb opened #41060 "[13.0] [auth_ldap] LDAP login fails if it creates a new user"
**Impacted versions:** 13.0

### Steps to reproduce:
- Set up LDAP authentication with *Create User* enabled
- Log in with an LDAP identity that doesn't have an account yet

### Current behavior:
One of three things happens:
1. Usually Odoo shows a 403 page. Refreshing gives the same page. After a few minutes it's possible to log in again and everything works as usual. It's also possible to log in

[2019-11-28 15:16] blaggacao commented on #28808
@fractalf I'm writing github.com/xoe-labs/doDoo to empower myself of disecting Odoo complexity quirks away from the server.

[2019-11-28 15:21] blaggacao commented on #28808
Specifically: https://github.com/xoe-labs/dodoo/blob/master/dodoo/README.md

[2019-11-28 15:22] blaggacao commented on #28808
@fractalf this is not a bug.

[2019-11-28 15:22] retbconsulting commented on #39602
@Yenthe666 I try like that:
<field name="analytic_tag_ids" groups="analytic.group_analytic_accounting" widget="many2many_tags" options="{'test_enable':True}"/> ,but it does not work!
Can you please correct me if I am wrong.

[2019-11-28 15:39] Yenthe666 commented on #39602
Give it a try on the action definition then. :)

[2019-11-28 16:37] sherpya commented on #29449
so what is the point of having a response with a bad session_id to an authenticate api call?

[2019-11-28 17:32] Jerther commented on #29449
To my knowledge, I'd say there's no point anymore. But let's hear it from @pedrobaeza  ;)

[2019-11-28 17:52] sherpya commented on #29449
@Jerther also misleading better to not have such wrong value

[2019-11-28 19:56] hbrunn commented on #41060
can you trace this on a request level? Just to verify that this is caused by transactions within one request to ``/web/login``, or if - and the indeterminism might point into this direction - this is a timing issue and while we create the user something else happens. So when you debugged the call to `_compute_session_token`, did you inspect the `odoo.http.request` object?

The [`pg_locks`](https:/

[2019-11-28 20:30] zbik2607 opened #41079 "[13.0] changed pdf content despite attachment_use"
Impacted versions: 13.0

Steps to reproduce:

1. Enable attachment_use for invoice report - for example account.report_invoice
2. Enable factur-x module
3. Print Invoice (printed include facturx.xml)
4. Stored attachment include facturx.xml, too
5. Print again invoice (theoreticaly from attachment if attachment_use)

Current behavior:
Printed again invoice NOT include embeded facturx - PDF changed

[2019-11-28 20:41] pedrobaeza commented on #41079
@smetl you were the original author of FacturX. Maybe you can check this.

[2019-11-28 20:47] zbik2607 commented on #41079
This is not facturx problem. Base ir.action.reports rebuild in this case PDF -call _merge_pdfs. Issue is in base.

[2019-11-28 20:49] pedrobaeza commented on #41079
Well, as you have specified in your steps to reproduce factur-x explicitly...

Then remove it if it's the same with or without the module.

[2019-11-28 20:52] zbik2607 commented on #41079
factur-x only  gives an example of using _post_pdf when an error occurs. merge_pdf should never be called if attachment_use.

[2019-11-28 20:56] fractalf commented on #28808
@blaggacao can you please explain why this is not a bug? Why won't the longpolling service start when using --dev ?

[2019-11-29 05:46] crtmneric opened #41081 "[12.0] Raises warning "Compute field depends on itself; please fix its decorator @api.depends()" while there is no depending on itself"
Impacted versions:
12.0
Steps to reproduce:

1. Make a compute field depends on it self
2. Build Once
3. Delete own dependency from api decorator
4. Build Again
5. Warning still Raises
6. Change Method name
7. Warning gone

Current behavior:
Raises warning  "Compute field depends on itself; please fix its decorator @api.depends()" while there is no depending on itself

Expected behavior:
No warnin

[2019-11-29 06:54] blaggacao commented on #28808
Or is it? :-) I have spent too much time with Odoo quirks, something better is being conceived.

So, let's make it a cli spec:

- `dodoo run bus <socket>`
- `dodoo run http <socket>`

[2019-11-29 08:09] pedrobaeza commented on #41081
It's not enough with "building": you should update the module. Any way, this is a circumstantial consequence of doing bad things, and only in your development environment.

Closing as no real issue, but temporary condition while not updating.

[2019-11-29 08:09] #41081 closed

[2019-11-29 08:16] pedrobaeza commented on #24746
As the referred PR was merged, I close this.

[2019-11-29 08:16] #24746 closed

[2019-11-29 08:55] tivisse commented on #38568
@mart-e Concerning:

ribbon?

What do you mean ? ``widget="foo"`` only works for ``<field/>`` tags if I'm not wrong.

[2019-11-29 10:48] Yenthe666 commented on #38568
Guys, can we just come to a conclusion/fix? It's been almost two months.

[2019-11-29 11:06] FlyingPigSolutions opened #41102 "[Odoo 11] Blank Page after server restart - Ubuntu 16.04"
Impacted versions: **Odoo 11 Community**
Server Ubuntu 16.04
Original Odoo 11 install from [@chris001](https://github.com/Yenthe666/InstallScript/issues/58) which I thank
Not in `Nginx` (nor `apache` which @Yenthe666 recommend not to use as outdated)

![image](https://user-images.githubusercontent.com/36439846/69861454-ade4bf80-1298-11ea-9558-83200b1060ef.png)

**Steps to reproduce**: (or more lik

[2019-11-29 11:24] FlyingPigSolutions commented on #19627
did you find a solution in the end? I have opened a similar issue I believe for ODOO 11 [there](https://github.com/odoo/odoo/issues/41102)

[2019-11-29 11:31] janverb commented on #41060
`odoo.http.request` is the same object at the time the user is created and at the time the session token is generated.

It already has a cursor allocated to it before the user is created. There are a couple of environments in `env.all` while the user is being created, but they have only three distinct cursors (when I looked). One of them is used for creating the user, one of them is bound to `odoo

[2019-11-29 12:08] FlyingPigSolutions commented on #41102
7. Remove all last modules installed
`rm -r MODULE_NAME` should be avoided
To remove module from terminal, prefer following steps:
step-1: `sudo su postgres`
step-2: `psql database_name`
step-3: `update ir_module_module set state='to remove' where name='module_name' and state='installed';`

[2019-11-29 12:16] pedrobaeza commented on #41102
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2019-11-29 12:16] #41102 closed

[2019-11-29 13:23] smetl commented on #41079
@zbik2607 Print 2 invoices with `attachment_use`, you also need to merge the pdf. I will have a look on this issue.

[2019-11-29 14:53] zbik2607 commented on #41079
Invoices example.  First original, next printed again.
[FV_2019_0014_DEMO.pdf](https://github.com/odoo/odoo/files/3905640/FV_2019_0014_DEMO.pdf)
[FV_2019_0014_DEMO(1).pdf](https://github.com/odoo/odoo/files/3905642/FV_2019_0014_DEMO.1.pdf)

[2019-11-29 15:18] zbik2607 commented on #41079
PS. The original invoice should never be rebuilt. A PDF attachment can, for example, be permanently digitally signed

[2019-11-29 16:18] smetl commented on #41079
@zbik2607 I will produce a fix for that

[2019-11-29 17:55] Yenthe666 commented on #40077
I've decided to log an OPW under my account too as it is affecting multiple of my customers and it is becoming a very annoying problem.
The second OPW is `2148683`

[2019-11-29 18:38] pedrobaeza commented on #39789
Closing this as answered and belongs to custom code, so this fits better on forums.

[2019-11-29 18:38] #39789 closed

[2019-11-29 21:01] Yenthe666 commented on #40077
This is the PR for this issue https://github.com/odoo/odoo/pull/40199

[2019-11-29 21:02] Yenthe666 commented on #40301
This is actually a duplicate that should be closed in favor of the other issue.
PR https://github.com/odoo/odoo/pull/40199 will become the fix and should be merged in a few days.

[2019-11-29 21:02] #40301 closed

[2019-11-30 06:40] blaggacao opened #41145 "https://pendulum.eustace.io/"
A _suck-less_ `datetime`.

... write-up, bla ...

@xoe-labs

[2019-11-30 06:48] tanghulu0608 commented on #39360
Hello everyone, will this feature be added to odoo ?

[2019-11-30 09:26] #40572 closed

[2019-11-30 10:57] marcinkuk opened #41147 "[13.0] Users e-mail signature code view disappeared"
Impacted versions:
13.0

Steps to reproduce:
Go to user preferences and try to edit signature

Current behavior:
Switch to code view is not visible like in v12.0

Expected behavior:
Switch to code view should be visible

Video/Screenshot link (optional):

[2019-11-30 12:25] kajal789 opened #41148 "Compute function not working when normal user loggedIn and works fine when admin user loggedIn"
Impacted versions: 13

Steps to reproduce:
1) Add new any compute field in hr.employee model and add to form view of employee (hr.view_employee_form)
2) Create two users one with admin access (Access Rights/Settings)  and second with normal internal user (Not a access Access Rights/Settings).
3) Now login with admin and go to Employee > any employee > compute function works well (compute function

[2019-11-30 12:43] pedrobaeza commented on #41147
I have been able to do it from the user form with debug mode:

![Selección_018](https://user-images.githubusercontent.com/7165771/69900725-52d5ca00-1377-11ea-8394-ad1ae653a63f.png)

Closing as no real issue.

[2019-11-30 12:43] #41147 closed

[2019-11-30 12:44] pedrobaeza commented on #41148
Unless you put full code, this is to assume the problem is in your code.

[2019-11-30 14:13] ged-odoo commented on #39360
we discussed about this. The main issue is that if we save the column width, then it could happen that a user choose a specific layout, with a browser page opened on a large monitor, then close it, then later, reopen Odoo in a smaller browser window.  Then, the layout of the tree view would be restored and probably completely messed up, with no easy way of making it right, except by manually redoi

[2019-11-30 14:14] ged-odoo commented on #39360
Maybe we could save it, along with the current width of the browser window, and when we restore the tree view later, we can check if the width has changed. If it is the same, then we restore, otherwise, we use the default layout

[2019-11-30 14:15] pedrobaeza commented on #39360
Yeah, not bad idea!

[2019-11-30 14:30] Yenthe666 commented on #39360
Sounds like a good plan @ged-odoo :)

[2019-11-30 14:32] jeroen7s commented on #40641
@pedrobaeza You might also want to add the 13.0 label to this, as that is the version I've used. But the 11.0 and 12.0 probably have the same issue.

[2019-11-30 14:43] pedrobaeza commented on #40641
Yeah, bad label assigning

[2019-11-30 15:09] drmedrme opened #41149 "Payment Reference on Invoice has additional numbers"
Impacted versions: 12

Steps to reproduce:
  1. Create Invoice
  2. Look at invoice reference.
Current behavior:
  1. Invoice number is INV/XXXX/XXXX
  2. Reference number is INV/XXXX/XXXX/XX
Expected behavior:
  1 Reference number should not have trailing /XX
Video/Screenshot link (optional):

![reference](https://user-images.githubusercontent.com/23726500/69902264-58d1a800-1383-11ea-95f7-0d1b6b2

[2019-11-30 15:31] Yenthe666 commented on #41149
That's actually default & desired behaviour as far as I know. @pedrobaeza can you confirm?

[2019-11-30 15:57] marcinkuk commented on #41147
Is debug mode the same as developer mode? I switched to developer mode and don't see this button.

[2019-11-30 16:41] MohsenWaleed commented on #25656
Hi @nguyenducthuanuet

I'm getting the same error, how did you solve it?

[2019-11-30 17:11] pedrobaeza commented on #41147
Yes, developer mode. You should have something different in your end: outdated code, custom code, etc

[2019-11-30 18:09] marcinkuk commented on #41147
Any modifications applied. Clear installation - only CRM module installed.

Odoo version: Odoo 13.0-20191106
Environment: docker composed from https://hub.docker.com/_/odoo/

Developer mode: ON.
No code preview button.

![Przechwycenie obrazu ekranu_2019-11-30_19-02-45](https://user-images.githubusercontent.com/5391645/69904260-dbb72a80-13a4-11ea-86da-6468a46adea3.png)

[2019-11-30 18:22] Yenthe666 commented on #41147
Possible also related to https://github.com/odoo/odoo/pull/40421 which was fixed 12 days ago

[2019-11-30 18:50] pedrobaeza commented on #41147
I'm doing it from user form view, not the popup.

[2019-11-30 18:51] pedrobaeza commented on #41149
It's the behavior that we can find in the code, but TBH I don't like it and I don't know what is the reason for putting two random numbers after the invoice number when you don't have a structured reference. Some customers have reported this to me as well.

[2019-11-30 18:57] pedrobaeza commented on #19990
Is there any news about this? @edsersolis maybe you can report it through OPW.

[2019-11-30 20:00] marcinkuk commented on #41147
Checked from user form view - problem still exist.

[2019-11-30 20:20] pedrobaeza commented on #41147
As said, the problem is in your side. Try on runbot and you'll see it works.

[2019-11-30 23:57] EarthJEE opened #41150 "odoo13 lost "master password" when restart the odoo13 service;"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-12-01 02:06] tanghulu0608 commented on #39360
good idea!😀

[2019-12-01 07:05] Earthzhu commented on #41150
yes I found that the some issue, BUG BUGBUGBUGBUGBUG

[2019-12-01 07:07] Earthzhu opened #41152 "odoo13 lost "master password" when restart the odoo13 service;"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-12-01 08:41] Yenthe666 commented on #41149
@qdp-odoo can maybe give some extra insights here.

[2019-12-01 09:49] GeertSurkijn commented on #39825
Hello @gustavovalverde ,

I luckily bumped into this issue. I followed @odony findings on my Azure load balanced setup. Where I have separated the setup into 3 servers, 2 Odoo servers, and one Postgresql server. All 3 with 4GB of RAM and 2 cores (Yes I know, the cheapest you can get there which "feel as", should work.)

I had it working, but every 3 or 5 moves in Odoo was giving me the waiting scr

[2019-12-01 12:37] pedrobaeza commented on #41152
Duplicated

[2019-12-01 12:37] #41152 closed

[2019-12-01 12:38] pedrobaeza commented on #41150
There's no such but, or the steps to reproduce it are missing, so closing unless you provide them. I'm using Odoo 8 years and I haven't lost any master password.

[2019-12-01 12:38] #41150 closed

[2019-12-01 12:56] EarthJEE commented on #41150
My friends also found the some issue . I don't know which step cause it .  It was still cause the issue , I had testing many times on different cloud virtual computers.  the new odoo 13 may cause the issue , I didn't find the issue on odd12 .

[2019-12-01 12:57] EarthJEE commented on #41150
My friends also found the some issue . I don't know which step cause it .  It was still cause the issue , I had testing many times on different cloud virtual computers.  the new odoo 13 may cause the issue , I didn't find the issue on odd12 .

[2019-12-01 12:57] EarthJEE opened #41153 "There's no such but, or the steps to reproduce it are missing, so closing unless you provide them. I'm using Odoo 8 years and I haven't lost any master password."
There's no such but, or the steps to reproduce it are missing, so closing unless you provide them. I'm using Odoo 8 years and I haven't lost any master password.

_Originally posted by @pedrobaeza in https://github.com/odoo/odoo/issues/41150#issuecomment-560102947_

[2019-12-01 12:57] EarthJEE commented on #41150
My friends also found the some issue . I don't know which step cause it .  It was still cause the issue , I had testing many times on different cloud virtual computers.  the new odoo 13 may cause the issue , I didn't find the issue on odd12 .

[2019-12-01 12:59] pedrobaeza commented on #41153
Why are you still opening new issues without steps to reproduce? As said, while you don't provide them, there's nothing that can be done.

[2019-12-01 12:59] #41153 closed

[2019-12-01 17:30] sswapnesh commented on #40829
Seems duplicate of https://github.com/odoo/odoo/issues/33472

[2019-12-01 17:39] pedrobaeza commented on #40829
Yes, quite similar, although I prefer to leave both for now to see if someone of the pinged persons answer.

[2019-12-01 17:58] pedrobaeza commented on #35605
Closing due to the feedback given in #34604

[2019-12-01 17:58] #35605 closed

[2019-12-02 03:01] tanghulu0608 commented on #38568
web_ribbon widget is very cool. It's better to make the text can be translated.

[2019-12-02 06:17] mushereme commented on #40077
SAME HERE

[2019-12-02 06:45] m-kamran3a opened #41156 "Odoo 13 Accounting Invoice Analysis Report Bug"
I have found a bug in Odoo 13 Invoice Analysis report. you can check this bug in all Odoo previous version too.

Accounting >Reporting > Under Management > Invoices

Group by Customer and select the "Total" and "Untaxed Total" under ''MEASURE''

Now check the both Value   4,610.00 and 9,220.00

Here 4,610.00 is the corrected while 9,220.00 is doubling the amount as there are two(2) product lines i

[2019-12-02 06:46] mushereme commented on #40077
After running UPDATE query (upper below) server is going to down. and trace back said:
`Error to render compiling AST
AttributeError: 'res.users' object has no attribute 'chatter_position'
Template: web.webclient_bootstrap
Path: /t/t/t[3]
Node: <t t-set="body_classname" t-value="'o_web_client' + ' o_chatter_position_' + (request.env.user.chatter_position or 'normal')"/> - - -
`
and

**Internal Ser

[2019-12-02 07:33] Yenthe666 opened #41159 "Odoo POS doesn't comply with rounding of payments in Belgium"
Impacted versions: All

Steps to reproduce:
1. Install the point of sale app and Belgian accounting (`l10n_be`)
2. Open the point of sale and create a transaction for an uneven amount (for example 16.57€)
3. Choose the payment method "Cash"

Current behavior:
The total shown and to be paid for the customer is 16.57€:
![image](https://user-images.githubusercontent.com/6352350/69938709-44ee8900-14de

[2019-12-02 07:35] Yenthe666 commented on #41159
OPW `2149290`

[2019-12-02 07:40] Yenthe666 commented on #38201
OPW `2149293`

[2019-12-02 07:41] Yenthe666 commented on #32866
@qsm-odoo @Gorash could you guys give some feedback here please?

[2019-12-02 07:43] Yenthe666 commented on #41150
I've got multiple V13's running in production without this issue though. Please add reproducable steps ;)

[2019-12-02 10:57] lap-odoo commented on #19990
@edsersolis I haven't been able to reproduce your issue. What's the valuation method of your products? Here I've produced my MO in two steps, that's a new finished product that hasn't been delivered yet, however, the valuation is well correct :

https://nimb.ws/kKmhgC
https://nimb.ws/602x9Y
https://nimb.ws/CgYjvy
https://nimb.ws/LCna9p

[2019-12-02 11:21] Yenthe666 commented on #41145
I assume you're still going to add info here & that this is just a placeholder? :)

[2019-12-02 11:31] raviprasadmr commented on #39381
@jinnko Did you solve this issue? Even I am facing this issue now. Could you give pointers?

[2019-12-02 11:48] jinnko commented on #39381
@raviprasadmr - After raising this ticket I learned Odoo don't support major version upgrades in the community edition as it's a very complicated effort.  I did however find [OpenUpgrade](https://doc.therp.nl/openupgrade/) which is a community project aimed at handling this.  Unfortunately it doesn't yet fully support the upgrade from 12 to 13, and I haven't had an opportunity to help improve Open

[2019-12-02 11:49] rjay1018 opened #41173 "V11.0 - Not reflecting PO uom in Stock receiving uom"
I use pc(s) on PO but on receiving of products it still uses the default unit of measure of the product in this case Unit(s)

![Screenshot(90)](https://user-images.githubusercontent.com/5526244/69957280-4f8c3b00-153d-11ea-905e-aeebe398fa5c.png)

![Screenshot(89)](https://user-images.githubusercontent.com/5526244/69957192-19e75200-153d-11ea-9f7a-0f3164afcd5a.png)

[2019-12-02 12:23] EarthJEE commented on #41150
1. Warning, your Odoo database manager is not protected.
Please set a master password to secure it.
2.Set Master Password
3.test password is  ok:(Master password update error: Access denied)
4.service odoo13 restart (Ubuntu 18.04.3 LTS)
5.Warning, your Odoo database manager is not protected.
Please set a master password to secure it.
LOOK ,it comes again !!!

[2019-12-02 12:39] sle-odoo commented on #41173
Hello,
By default we do not propagate the UoM, but you can set the ir.config_parameter "stock.propagate_uom" to "1" if you want this behavior.

Regards

[2019-12-02 12:39] #41173 closed

[2019-12-02 13:53] kolmano opened #41187 "Required Html field could be empty"
Impacted versions: tested on 12.0 but may affect other versions

Steps to reproduce:
Create html field with required=True, show it on form view, create new record but don't put anything in this html field and save it.

Current behavior:
Could save empty html field

Expected behavior:
Field validation should raise warning about required field

Tested on chrome 78.0.3904.108  and mozilla firefox dev

[2019-12-02 14:01] pedrobaeza commented on #41187
That's because HTML field always puts a minimum content, so not null constraint is not triggered. Not sure if this should be consider a bug or simply a limitation of the current framework.

[2019-12-02 14:03] Yenthe666 commented on #41187
I was thinking exactly the same. :) @nle-odoo or @len-odoo can probably confirm this

[2019-12-02 14:04] kolmano commented on #41187
Surely it's kind of limitation, I try to change JS in /addons/web_editor/static/src/js/backend/fields.js on line 63 to

 ` return this.value && this.value !== "<p><br/></p>" && this.value !== "<p><br></p>"  && this.value.match(/\S/);`

and this will at least show warning to user. I know it's not bullet proof but still better than nothing

[2019-12-02 14:57] jeffery9 opened #41192 "wrong type for comparsion"
https://github.com/odoo/odoo/blob/3abe39e785d28d1e0b1a18eb9b98c1d341e5a116/addons/web/static/src/js/views/pivot/pivot_view.js#L100

`this.fields_view.arch.attrs.disable_linking` is string, need to convert to bool first.

[2019-12-02 15:08] Yenthe666 commented on #41192
@jeffery9 why don't you create a PR right away? 😄

[2019-12-02 16:58] tsteenbergen96 commented on #40912
Hi, sorry for my late reply. But on, I am not able to reproduce the problem there because I don't know how the Runbot works. If you can explain it to me then I give it a try, otherwise I can make some more videos and upload it to YouTube. By the way, I updated the code from #39408 but doesn't make any sense... :(

[2019-12-02 17:02] Yenthe666 commented on #40521
This has been fixed in https://github.com/odoo/odoo/commit/3cf3c2dbd40a8725284608f7b9cdffd65b0c7cc0

[2019-12-02 17:02] #40521 closed

[2019-12-02 17:48] hugosantosred opened #41202 "Read_group on product.product with product_tmpl_id raises an Unable to use a closed cursor exception"
Impacted versions: 12.0, 13.0

Steps to reproduce:
If I try to do a read_group over product.product, using the product_tmpl_id field an exception is raised.
(I am connected to Runbot using Erppeek library with the jsonrpc path for test this behaviour)

For example:

[code]
Throws the following exception:

[code]

Expected behavior:
Return the results of read_group without any errors.

I've also te

[2019-12-02 18:06] #40077 closed

[2019-12-02 19:36] gustavovalverde commented on #39825
@GeertSurkijn

How is that even possible? :sweat_smile: If I set the soft limit under 2GB, the workers starts recycling like crazy.

[2019-12-02 21:34] GeertSurkijn commented on #39825
Hi, My Bad,

I meant MB. But the data is not a real case. When loading data to a real case scenario and then workload with users. I guess I will end up the same.

But if you set yours to 2GB, what do they actually consume? Currently, mine don't go over 460MB. Again, not fully loaded with real data, only a few basics like about 1000 contacts and a few products...

[2019-12-03 01:37] deivislaya opened #41204 "[11.0] Outstanding balance on paid invoices"
**Impacted versions:** 11.0 e

**Steps to reproduce:**

1. Configure currency rates for two days
2. Create an invoice with the date for the first currency rate
3. Create a statement bank in foreign currency  with the date for the second currency rate
4. Apply reconciliation on the invoice

**Current behavior:**

The invoices in open state with an outstanding balance after the full reconciliation

[2019-12-03 07:16] pooja-zakhariya opened #41207 "System raise error when install account_accountant module"
Impacted versions:
Odoo 13 Enterprise

Steps to reproduce:
Install Odoo 13 account_accountant module. i will raise error
ValueError: Element '<xpath expr="//div[@id='sale_purchase_refund']">' cannot be located in parent view

Current behavior:
System will raise error

Expected behavior:
System should allow installation without any error.

Video/Screenshot link (optional):
![Screenshot from 2019-12

[2019-12-03 07:47] Yenthe666 commented on #41207
@pooja-zakhariya can you reproduce this on the latest runbot instances? I've tested this on the latest V13 builds but the module is working fine. If you can reproduce it on a runbot can you then please add the steps in detail?

[2019-12-03 07:48] Yenthe666 commented on #36695
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:48] #36695 closed

[2019-12-03 07:49] Yenthe666 commented on #36249
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:49] #36249 closed

[2019-12-03 07:49] Yenthe666 commented on #13941
Hi there,

Since there has been no response in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information or with a PR to resolve this.

Regards,
Yenthe

[2019-12-03 07:49] #13941 closed

[2019-12-03 07:50] Yenthe666 commented on #29014
Hi there,

Since there has been no extra information in a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:50] #29014 closed

[2019-12-03 07:50] Yenthe666 commented on #29042
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:50] #29042 closed

[2019-12-03 07:51] Yenthe666 commented on #35304
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:51] #35304 closed

[2019-12-03 07:53] Yenthe666 commented on #36037
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:53] #36037 closed

[2019-12-03 07:53] Yenthe666 commented on #36732
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:53] #36732 closed

[2019-12-03 07:54] Yenthe666 commented on #36811
Hi there,

Since there has been no extra information in quite a while I'm closing this issue.
Don't hesitate to respond back with detailed information and then we'll reopen this issue.

Regards,
Yenthe

[2019-12-03 07:54] #36811 closed

[2019-12-03 07:54] Yenthe666 commented on #37151
@Feyensv hi is there any update about this one?

[2019-12-03 07:59] Yenthe666 commented on #38133
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 07:59] #38133 closed

[2019-12-03 08:04] Yenthe666 commented on #39137
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 08:04] #39137 closed

[2019-12-03 08:04] Yenthe666 commented on #39202
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 08:04] #39202 closed

[2019-12-03 08:04] Yenthe666 commented on #39554
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 08:04] #39554 closed

[2019-12-03 08:05] Yenthe666 commented on #39745
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 08:05] #39745 closed

[2019-12-03 08:21] Yenthe666 commented on #40061
@VincentSchippefilt @guohuadeng any update from both of you?

[2019-12-03 08:22] Yenthe666 commented on #40068
I don't see any step that says your updating the terms though?

[2019-12-03 08:36] Yenthe666 commented on #40083
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 08:36] #40083 closed

[2019-12-03 08:36] Yenthe666 commented on #40088
Hi there,

Since we haven't gotten any feedback in a while I'm closing off this issue.
Don't hesitate to respond back with more information. We'll reopen the issue if there is enough information to explain this issue.

Regards,
Yenthe

[2019-12-03 08:36] #40088 closed

[2019-12-03 09:47] mom988 opened #41232 "[13.0] Shipping Methods / Only Value of countries displays when choose the States Value"
Impacted versions:
13.0
Steps to reproduce:

Model：Shipping Methods
In the setting of destination validity, the province/state option cannot be placed directly at the value of the province/state if the province/state is not selected.

Current behavior:
1\ Choose the States"Amazonas(PE)"
2\ Only countries "Peru" displays the Countries' Values,not both

Expected behavior:
      Choose the States"Ama

[2019-12-03 11:26] smetl commented on #41079
Landing on 13.0 at revision:
https://github.com/odoo-dev/odoo/commit/8cb094850604bb5ffe9c322b662569d7f0237784

[2019-12-03 11:26] #41079 closed

[2019-12-03 11:28] smetl commented on #41079
@zbik2607 Thank you for having reported this bug

[2019-12-03 12:14] Feyensv commented on #37151
No change is currently planned for this.
It could be "easily" solved, but would lead to a huge performance loss which isn't worth this minor case.

A more advanced solution would need to be tested with regards to performance and code complexity to verify its worth.  But this is not planned in the short term...

[2019-12-03 13:33] yucer commented on #32801
There is a new instance of this error after the merge of this [commit](https://github.com/odoo/odoo/commit/5db13a3a61f722447365b28feab1daff6cbd2578).

It is from three days ago and introduce conflicting translations to the temporary translation import table: **tmp_ir_translation_import**.

The **PostgreSQL** statements **ON CONFLICT** ... **DO_UPDATE** doesn't allow the same row to be updated twic

[2019-12-03 13:41] pedrobaeza commented on #41232
I'm not getting the specific problem giving the explanations of the steps. Are you, @Yenthe666 ?

[2019-12-03 13:46] yucer commented on #32801
I did a [patch](https://gist.github.com/yucer/0c68310f8ce282fbbd3f61db545478c9) for debugging such duplicated import rows.

[2019-12-03 14:22] Yenthe666 commented on #41232
Not quite. @mom988 can you explain it a bit more? As I see it this works correct. If you select a country it only shows the states for that country, right?

[2019-12-03 14:25] erplabz-odoo opened #41271 "[13.0] Wrong Reconciliation of payment with secondary currency."
Impacted versions: 13.0

Steps to reproduce: Please check reference video

Current behavior: reconciliation of payment with invoice is not proper.

Expected behavior: It should make proper reconciliation of payment on invoice.

Video/Screenshot link (optional):
https://filebin.net/9o1sultzudk22psf/aaa.mp4?t=qsnhk72m

Runbot Link: http://715818-13-0-d240c4.runbot26.odoo.com/

[2019-12-03 14:26] erplabz-odoo commented on #41271
@Yenthe666 can you please assign label.

[2019-12-03 15:43] Greentash opened #41279 "odoo 12 css error after choosing database"
Impacted versions:
Odoo 12

Steps to reproduce:
I just ran the script from https://github.com/Yenthe666/InstallScript/tree/12.0

Current behavior:
![odoo_error](https://user-images.githubusercontent.com/5729518/70065738-7c932900-15e3-11ea-9fc9-aee320c4e767.png)
![odoo_error_1](https://user-images.githubusercontent.com/5729518/70065742-7dc45600-15e3-11ea-95f0-f76937a668c7.png)

Expected behavior:
i

[2019-12-03 15:44] pedrobaeza commented on #41279
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2019-12-03 15:44] #41279 closed

[2019-12-03 15:44] Frakenz commented on #23891
Doing this calls on the write function twice, once for the `onchange` (on edit) and one for the `inverse` (on save).
This doesn't solve my issue because the second call is overwriting some of my changes. Maybe it's my fault because my `inverse` function is not trully the f<sup>-1</sup> of my `compute` function.
Am using v13.

[2019-12-03 15:53] Greentash commented on #41279
Thanks dear @pedrobaeza
I have ubuntu 18.04, odoo12 and postgresql 10. Except the choosing database view, everything is crash from login to all whole rest.
i try to solve the problem by following this l[https://www.odoo.com/zh_CN/forum/help-1/question/how-to-install-sassc-139497](url)
but nothing much despite dependencies installed
![libsass](https://user-images.githubusercontent.com/5729518/70066

[2019-12-03 15:57] pedrobaeza commented on #41279
Sorry, but that guide, although valuable, it's not official, and even being that, I assure you that it works, so something in your side is not correct. Any step or similar. But you have to ask for help in other place, as here it's for problems in Odoo code, not deployment things.

[2019-12-03 16:05] sswapnesh commented on #38009
2 weeks and still no update on OPW

[2019-12-03 16:07] Greentash commented on #41279
"The style compilation failed, see the error below. Your recent actions may be the cause, please try reverting the changes you made."
This is the first line of error in frontend.
Isn't here a problem of deployment. The issue comes from web module that i didnt install. Moreover no module, neither customized nor native

[2019-12-03 16:17] Yenthe666 commented on #38009
Hmm that's pretty long :/ I saw the issue counter going up very fast so I assume they're behind on tickets a bit right now.

[2019-12-03 20:25] seb-odoo commented on #38009
There seem to be quite a few tickets open at the moment indeed... If it doesn't move in the next days I guess I'll see what I can do for this.

[2019-12-03 21:44] Yenthe666 commented on #38009
@seb-odoo wins the awesome Odoo employee badge of this week! And sorry for my part in those tickets, I made you a good 10 the last few days. 😅

[2019-12-04 01:10] mom988 commented on #41232
In its odoo12 and odoo11, if you select states, the selected states and country are displayed on the screen at the same time, without having to select states again.

[2019-12-04 01:22] ydw18 commented on #41156
I got this issue too in demo database
![Screenshot from 2019-12-04 08-21-07](https://user-images.githubusercontent.com/48075930/70103940-1b189c00-166f-11ea-90a0-dde997c34db3.png)

[2019-12-04 03:16] 3DOeste opened #41296 "[**¨PÑ[_:^\_:;LÑÑ["
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-12-04 03:19] 3DOeste opened #41297 "[12.0] Error when uploading supplier invoice"
When trying to upload a supplier invoice a server error occurs because of a missing field which is not present in the wizard.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 314

[2019-12-04 03:21] #41296 closed

[2019-12-04 08:45] pedrobaeza commented on #41297
Which invoice are you trying to upload? The error indicates that what you are uploading doesn't have that information.

[2019-12-04 09:20] jcarlosmontoya opened #41305 "[13.0] Payment Transaction Draft after Customer Paid Invoice from portal"
Impacted versions: 13.0

Steps to reproduce:
Install Sale and Website sale modules
1 Create a sale order and confirm it
2 Create an invoice from sale order and validate it
3 Send to customer by email

Current behavior:
4 When customer paid the invoice (Paypal, Stripe), payment transaction is draft state, but amount its charged (Paypal or Stripe)
5 invoice is left unpaid and not reconciled

Expecte

[2019-12-04 09:43] Yenthe666 commented on #41156
@qdp-odoo this is worth a check ;)

[2019-12-04 09:47] pedrobaeza commented on #41305
I think this is something of configuration of the return URL / proxy stuff.

@dbo-odoo can you confirm?

[2019-12-04 09:57] jcarlosmontoya commented on #41305
@pedrobaeza thank you, but I  have everything set up as recommended by Odoo, in fact when the order from e-commerce works correctly, the problem is when the customer pays an invoice from the portal

[2019-12-04 09:58] jcarlosmontoya commented on #41305
I will try upload an image later with error

[2019-12-04 09:59] yucer commented on #32801
I have updated the [patch](https://gist.github.com/yucer/0c68310f8ce282fbbd3f61db545478c9), it reports the duplicated rows that cause the error and also delete the duplicated rows.

The cases I have found are conflicts between the **.po** and **.pot** files, mostly in translation for models.

Anybody is free to use that code as an start to propose a solution.

[2019-12-04 10:56] Armitxes opened #41313 "Odoo 11+ incompatible with new Python Versions (3.8+) due to requirements.txt"
Impacted versions: All new Python 3.5+ Versions (11, 12, 13, etc.)

Steps to reproduce: Install python 3.8.0 or higher

Current behavior:
[code]

Expected behavior: No issues at all, as all python versions >=3.5 are supported according to docs

Solution:
The issue is solved by psycopg2 (see https://github.com/psycopg/psycopg2/issues/854 or https://github.com/psycopg/psycopg2/commit/c929f200484f5a2

[2019-12-04 10:59] pedrobaeza commented on #41313
@d-fence I would say that official documentation should point that P3.8 is not compatible.

[2019-12-04 11:23] jcarlosmontoya commented on #41305
@GuilleGuevara can you tell us your experience with this issue please?

[2019-12-04 11:45] 3DOeste commented on #41297
A suplier invoice, in PDF format. But the wizard doesn't specify any kind of format or file requirement,
I'm also new to odoo and I'm learning the system, but shouldn't it return a warning and not a sever error?

[2019-12-04 11:47] pedrobaeza commented on #41297
Then that's the problem. It should have a valid Factur-X XML embedded on the PDF for being importable, or have it other kind of complement (like enterprise ones) that are able to be interpreted. Of course a more friendly error would be desirable, but the question is that you are doing something incorrect, so the result is the same: you are not able to import it.

Closing due to no issue as explain

[2019-12-04 11:47] #41297 closed

[2019-12-04 11:50] #38568 closed

[2019-12-04 13:08] GuilleGuevara commented on #41305
The transaction shown an error making the payment with credit card:
_"Error: Waiting to approve the payment, we send you back an email" ._

But the bank sent an email that the transaction has been done immediately.

[2019-12-04 13:55] lilee115 commented on #40995
A couple of days ago I have proposed a PR with this change, will it be merged? @pedrobaeza

[2019-12-04 13:56] pedrobaeza commented on #40995
It doesn't depend on me. I'm not an Odoo employee. I only give a hand handling issue tracker.

[2019-12-04 15:07] erplabz-odoo commented on #41271
any update ???
its very critical issue.

[2019-12-04 15:26] grindtildeath opened #41353 "onchange with 'length' field is broken"
Impacted versions:
12.0, but probably any other versions

Steps to reproduce:
 - Install `delivery` and `stock` modules
 - Go to Inventory > Configuration > Settings
 - Mark 'Delivery Packages' and 'Product Packagings'
 - Implement a basic onchange method on model `product.packaging` to change the field `length` (this is only a dummy example, but let's assume we want to update `length` according t

[2019-12-04 15:35] pedrobaeza commented on #41353
This is a problem with JS itself, as `length` is a reserved word there. The module with that field is Odoo core or is in your custom code? We have a linter in OCA for avoiding this field name as someone (I think it was @gdgellatly) was hit by this problem in the past.

[2019-12-04 15:36] erplabz-odoo commented on #41271
@pedrobaeza can you please look into it.

[2019-12-04 15:37] grindtildeath commented on #41353
@pedrobaeza The field is defined in `delivery` module: https://github.com/odoo/odoo/blob/12.0/addons/delivery/models/product_packaging.py#L12

[2019-12-04 15:38] pedrobaeza commented on #41353
Ouch, that's a deeper problem.

@ged-odoo are you aware of this problem with the reserved word `length`?

[2019-12-04 15:43] pedrobaeza commented on #41271
@erplabz-odoo both Yenthe and me are community members, not Odoo employees, that we can only label or occasionally ping if there's certain person suitable for this. If you have an enterprise contract, you can open a bug report in odoo.com/help for assuring an SLA in the answer.

[2019-12-04 15:44] ali-darakjian opened #41355 "Selling Serlialized Consiment Stock Thru POS Generate Negative Quants"
Impacted versions:
12.0 and 13.0

Steps to reproduce:

Activate Consignment (Owner)  In Inventory Settings
![Consignment](https://user-images.githubusercontent.com/47788806/70156763-72743780-1682-11ea-8e15-5139d4d7334c.png)

Create Product (Track By Unique Serial Number)
![Item Created](https://user-images.githubusercontent.com/47788806/70156762-72743780-1682-11ea-967f-fc983fe3b612.png)

Recive Th

[2019-12-04 15:45] pedrobaeza commented on #41355
Have you indicated the partner in PoS?

[2019-12-04 15:46] erplabz-odoo commented on #41271
i know, thanks for your contribution to odoo.

if possible can you ping any certain person so it can be resolve faster.

[2019-12-04 15:50] ali-darakjian commented on #41355
Yeep
Please check the attached images

![pos orders](https://user-images.githubusercontent.com/47788806/70157587-d3e8d600-1683-11ea-88c0-3515a5ac2cbd.png)
![On hand](https://user-images.githubusercontent.com/47788806/70157589-d3e8d600-1683-11ea-8e96-2c101b665f1f.png)
![Picking](https://user-images.githubusercontent.com/47788806/70157591-d3e8d600-1683-11ea-9fa9-2a707f47d3c2.png)

[2019-12-04 15:51] pedrobaeza commented on #41355
OK, labelled, although not sure if this feature is officially supported

[2019-12-04 15:51] pedrobaeza commented on #41271
Well, not sure who is the responsible of this.

[2019-12-04 16:00] ali-darakjian commented on #41355
Thanks for your fast response , is there any way or workaround to make it work ?
actually it causes a lot of inventory issues at the moment and finally i think since this feature is there it should be supported and fully functioned work.

[2019-12-04 16:04] pedrobaeza commented on #41355
I can't say anything more without an official response.

[2019-12-04 16:28] Yenthe666 commented on #41271
I think @william-andre has been responsible of this the last few months actually. Perhaps he can give this a look.

[2019-12-04 16:29] Yenthe666 commented on #41355
@switch87 could you give an official response please? I'm not sure either if this is officially supported.

[2019-12-04 16:32] Yenthe666 commented on #41353
Interesting that nobody got hit by this one before. That's indeed because the JS interprets it as a built-in. @pedrobaeza maybe we should create an official OPW for this one?

[2019-12-04 16:33] pimodoo commented on #41355
Hello, the consignment stock is not handled yet in point_of_sale. We've added your issue in our feedbacks,

Thank you

[2019-12-04 16:33] #41355 closed

[2019-12-04 16:37] pedrobaeza commented on #41353
Well, it has difficult solution except renaming the field, and that's not going to happen on stable. You can raise an OPW if you think it helps.

[2019-12-04 16:52] marcelsavegnago opened #41364 "[12.0] ON CONFLICT DO UPDATE command cannot affect row a second time"
Impacted versions: 12

Steps to reproduce: Load pt_BR language.
(I simulated the problem within an instance of Odoo in Runbot)
[code]

[2019-12-04 17:04] Yenthe666 commented on #41353
I think we should at least try to avoid it for the future 14 to start with :) I've made an OPW because I know this one will get burried otherwise. OPW `2151196`

[2019-12-04 17:05] Yenthe666 commented on #41364
Pretty much a duplicate of https://github.com/odoo/odoo/issues/32801 and since somebody mentioned the translation issue there too I'm closing this one in favor of https://github.com/odoo/odoo/issues/32801

[2019-12-04 17:06] Yenthe666 commented on #32801
@mart-e could you have an extra look? I'm being hit by this one every once in a while on new runbot instances too. Loading the Dutch language on a runbot seems to cause it quite often.

[2019-12-04 19:05] nidhishjain commented on #25743
@mga-odoo @sswapnesh @Yenthe666 @xrg @rvalyi

But what about this Python Based calculation in POS, no taxes showing in POS ticket. When base is wrong then? POS receipt too display the taxes.

[2019-12-04 19:08] pedrobaeza commented on #35782
@xmo-odoo @odony do you know something about this topic?

[2019-12-04 19:08] sswapnesh commented on #25743
Have a look at https://github.com/odoo/odoo/issues/25829#issuecomment-405812763

[2019-12-04 20:05] gdeb commented on #41353
wow, that's interesting. I was aware that `length` is handled in a weird way by the JS language, but I was not aware that `_.each` was not treating it properly.

We are moving to ES6 in the future, and new code will not use `_` that much. Still, we need to be careful when manipulating object with arbitrary keys.

[2019-12-04 20:05] ged-odoo commented on #41353
dammit, I always have the wrong user...

[2019-12-04 20:29] pedrobaeza commented on #17960
I'm going to close this issue in favor of the opened PR, although that one is still debatable.

[2019-12-04 20:29] #17960 closed

[2019-12-04 20:31] pedrobaeza commented on #19245
This is not happening anymore AFAIK, so closing. If you are still facing this, please scream ;)

[2019-12-04 20:31] #19245 closed

[2019-12-04 20:31] pedrobaeza commented on #19396
I think this is not relevant anymore, isn't it?

[2019-12-04 20:32] pedrobaeza commented on #19098
I think this is not relevant anymore, isn't it?

[2019-12-04 21:35] Yenthe666 commented on #19396
I'm pretty sure this changed with the V13 ORM rewrite?

[2019-12-04 23:18] pedrobaeza commented on #19396
Yes, let's close it for now and if it's not correct, we reopen or reissue.

[2019-12-04 23:18] #19396 closed

[2019-12-05 03:30] tanghulu0608 commented on #38568
@nim-odoo  Good job.

[2019-12-05 10:30] Yenthe666 commented on #38568
Here's the other commit https://github.com/odoo/odoo/commit/924b63c1abe8bc8696b4b22dedcaca4b398c10b6 that updates all the widgets.

[2019-12-05 11:39] tanghulu0608 commented on #38568
@Yenthe666  Thanks

[2019-12-05 12:44] omalbastin opened #41405 "[website_sale_delivery]Issue in selecting delivery method and applying coupon"
Impacted versions:all

Steps to reproduce:
Activate multiple delivery methods on website.Set a promotional code for a pricelist. Now in website show select products and select a delivery method  other than the default deliverymethod set in the customer. Then apply the coupon. Delivery method changes to default

Current behavior:
While applying coupon delivery method changes to default delivery met

[2019-12-05 13:50] VentuzTechnology opened #41413 "[12.0/13.0] account.invoice / account.move defaults for partner_bank_id are harmful if company has multiple bank accounts"
Impacted versions: 12, 13

Steps to reproduce: Have multiple bank accounts on your company.

Current behavior: Invoices are created using _get_partner_bank_id which just takes the first bank found on the company.

Expected behavior: Select the bank by matching the currency of the invoice and respect the order of the banks of the company. Or select none at all (like before pull #34558) if it is not

[2019-12-05 14:37] pedrobaeza commented on #41413
I agree that value is not good at all. We have disabled the behavior in an OCA module in https://github.com/OCA/bank-payment/pull/655, as it also breaks payment order flows.

[2019-12-05 15:17] qdp-odoo commented on #34317
fixed in v12.0 at revision https://github.com/odoo/odoo/commit/fdbabfdc59d2d8deb62d08c7bd132a93a5f2f738

thanks for the contribution @remi-filament

[2019-12-05 15:19] #34317 closed

[2019-12-05 15:51] VentuzTechnology opened #41427 "[12.0/13.0] missing items in list view when sorting by identical fields"
Impacted versions:
12, 13

Steps to reproduce:
* Create a new odoo instance having the contacts app.
* Go to contacts.
* Import attached csv-file containing contact names 000 to 199 all with phone number 1234.
* View Contacts in List-Mode (we need to sort).
* Order by "Phone" (arrow points downwards).
* You won't find all items just by browsing since some items will show up twice.

Current behavio

[2019-12-05 18:53] Yenthe666 opened #41438 "[13.0] framework: XML-RPC calls raise ValidationError with sql_constraints even if no input"
Impacted versions: 13.0 atleast

Steps to reproduce: Let's go for a long ride to test this. Steady your horses. 🐴
1. Create a new module, inherit product.template and create a new `_sql_constraints` item:
[code]
This constraint will make sure that if a user enters the same `default_code` twice that he/she gets a `ValidationError`.
2. Install the custom module you've built
3. Create a new product "

[2019-12-05 20:06] pedrobaeza commented on #41438
Why don't you put `'default_code': False`?

[2019-12-05 20:08] pedrobaeza commented on #30350
@xmo-odoo @beledouxdenis maybe you can check this

[2019-12-05 21:00] Yenthe666 commented on #41438
Euhh I tested both of them (both cases fail) and to me '' was more logical as it is a char field! Any reason why you'd prefer False?

[2019-12-05 21:06] pedrobaeza commented on #41438
Well, all fields are nullified through `False`, and I remember some inconsistency with NULL/'' in database.

[2019-12-06 03:04] guohuadeng commented on #40061
I  do report the issue.

if u try debug in window.
u destiny meet the problem.

[2019-12-06 07:05] mart-e commented on #37962
Closing as given workaround and as we are not going to modify the constraint.

[2019-12-06 07:05] #37962 closed

[2019-12-06 07:32] Yenthe666 commented on #41438
Hmm, doing `False` instead of `''` seems to work in some cases actually. @pedrobaeza do you usually set char fields as `False` in XML-RPC then?

[2019-12-06 07:32] cviacmob opened #41442 "E/ConnectorClient: ERROR: **** Session expired ****"
i run the backround run process to table but some time getting this error odoo mobile integeration.
 @Override
    public boolean onStartJob(JobParameters job) {
        AmtPref.init(this);
        client = new OdooClient.Builder(this)
                .setHost(ServiceConstants.BASE_URL)
                .setSession(AmtPref.getInstance().getSessionId())
                .build();

        Thread thre

[2019-12-06 07:33] Yenthe666 commented on #41353
This issue has been confirmed by Odoo. Official feedback from the ticket:

Indeed, we should rename this field for a future version. Thanks for the feedback.

I've now asked if this will become a PR right now or an internal task. This won't be changed/fixed before V14 for sure though.

[2019-12-06 09:23] Abridbus commented on #40157
Had to be a little bit more complete
Here is the PR https://github.com/odoo/enterprise/pull/7090 for v12

Thanks for your input!

[2019-12-06 13:50] pedrobaeza commented on #41438
I'm not using XML-RPC lately, but it was just I remember that kind of things when I use to do it. There are 2 factors here:

- The XML-RPC protocol itself, that doesn't allow for example to transfer `None` values.
- The Odoo bridge from XML-RPC to ORM.

[2019-12-06 14:19] Yenthe666 commented on #41438
I've also find a side-effect with barcodes and archived products so let's wait for the OPW but I appreciate your feedback @pedrobaeza :)

[2019-12-06 15:23] Yenthe666 commented on #41353
Hi guys,

The Odoo team has made an internal task and this will be fixed for the upcoming V14 by the logistics team. As this cannot be changed in a stable we can close this ticket.

Regards,
Yenthe

[2019-12-06 15:23] #41353 closed

[2019-12-06 15:32] pedrobaeza commented on #41353
@grindtildeath a workaround you can do is:

- Create a related non readonly field to this field with other name (for example `length_alt`).
- Hide the `length` field in the view and show this one.
- Do the onchange stuff in this related field.

[2019-12-06 16:50] alzubairy opened #41496 "Interface problem"
Odoo 13.0 CE
Windows 10

When you choose the Arabic language, errors appear in the system

Link:
https://drive.google.com/drive/folders/1y9wgxg6xWulTiUrEkJzRdeWLh_acskV2

[2019-12-06 19:40] pedrobaeza commented on #41496
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions about RTL languages.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproduci

[2019-12-06 19:40] #41496 closed

[2019-12-06 20:07] pedrobaeza commented on #16315
Closing this as this is something in your end and it has not directly involved with Odoo itself, and the original target version is out of support (although other reports are newer, but the question is the same: it's something in the environment, not in Odoo).

[2019-12-06 20:07] #16315 closed

[2019-12-07 20:27] jeej62 commented on #15279
Thanks so much Wpichler. I just found the error in Odoo v12. It was driving me crazy for the hole day. I follow your suggestions and found where to add 'type': 'binary' 👍 It was located in /addons/base/models/ir_attachements_report.py. The function was:

def postprocess_pdf_report(self, record, buffer):

attachment_vals = {
            'name': attachment_name,
            'datas': base64.encodestr

[2019-12-08 10:15] lithint opened #41510 "Error on installing Accounting module"
Impacted versions: 13.0 Enterprise

Steps to reproduce:
Try install Accounting Module

Current behavior:
giving error when installing accounting module,
<img width="961" alt="image" src="https://user-images.githubusercontent.com/7326014/70387965-33691d80-19c5-11ea-92f0-564eeb46474f.png">

Expected behavior:
should get install with out errors

Video/Screenshot link (optional):
<img width="961" alt=

[2019-12-08 10:44] GSLabIt opened #41511 "[12.][l10n_it_edi] Wrong Untaxed, Tax, Total calculation?"
Impacted versions: 12.0

Importing Electronic invoice we get wrong `Untaxed Amount`, `Tax` and `Total` values.

Steps to reproduce:
1. Upload attached file from Invoicing -> Bills -> UPLOAD

Current behavior:
If set `Round per line`, you get:
<img width="1206" alt="Schermata 2019-12-08 alle 11 30 07" src="https://user-images.githubusercontent.com/11652845/70388140-19701080-19ae-11ea-8eba-8f09c5694

[2019-12-08 13:58] pedrobaeza commented on #41510
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/13.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2019-12-08 13:58] #41510 closed

[2019-12-08 14:33] GSLabIt commented on #37896
@qdp-odoo any chance to double check? It seems to happen on v 12.0 as well.

Could https://github.com/odoo/odoo/issues/41511  be related to this?

[2019-12-08 16:44] Yenthe666 commented on #41159
Let's already close this one off as Odoo will handle it in https://github.com/odoo/odoo/pull/41327

[2019-12-08 16:44] #41159 closed

[2019-12-08 16:45] Yenthe666 commented on #40386
Odoo will look for a possible solution in the latest versions but it will most likely become an improvement in the master version. It has become an internal task at Odoo and the acknowledge statistics are wrong.

[2019-12-08 16:45] #40386 closed

[2019-12-08 16:46] Yenthe666 commented on #15636
@qdp-odoo would love to hear back from you buddy ;)

[2019-12-08 16:47] Yenthe666 commented on #30932
@mart-e so what do you guys think about this? It would be great if we got an official statement.

[2019-12-08 16:48] Yenthe666 commented on #38201
While it is possible by default by changing the role it doesn't feel very naturally. Odoo has logged this as an improvement for the master version to see if they'd like to change this or make it more clear.

[2019-12-08 16:48] #38201 closed

[2019-12-08 16:48] Yenthe666 commented on #40763
Confirmed by Odoo - it is now in the bug fixing stage.

[2019-12-08 16:49] Yenthe666 commented on #40756
This is confirmed by Odoo and the OPW is in the bug fixes stage now.

[2019-12-08 16:50] Yenthe666 commented on #41145
@blaggacao can you add extra info to the ticket please?

[2019-12-08 16:52] Yenthe666 commented on #40881
Hi @pooja-zakhariya,

Thanks a lot for your report. I've just tested this on the latest Odoo 13.0 instance but I can no longer reproduce it. See the screenshot:
![image](https://user-images.githubusercontent.com/6352350/70392740-7fc35600-19e3-11ea-8066-ed8256e099d0.png)

Could you test this on the latest Odoo 13.0 test instance at runbot.odoo.com and let us know if the issue is still reproducable

[2019-12-08 16:55] Yenthe666 commented on #40537
Hi @andrenaught,

Thanks a lot for your bug report. I've tested this on the latest Odoo 13.0 test instance and was able to reproduce this bug:
![image](https://user-images.githubusercontent.com/6352350/70392818-ee081880-19e3-11ea-9d11-1c5731fa704c.png)

@sle-odoo maybe somebody from your team can have a look?
Regards,
Yenthe

[2019-12-08 16:56] Yenthe666 commented on #40354
@JKE-be can somebody from the web team have a look please?

[2019-12-08 16:57] Yenthe666 commented on #40304
@tde-banana-odoo kind reminder, could you check this please?

[2019-12-08 18:00] JKE-be commented on #40354
@fja-odoo can you take a quick look since you are working on it for now. Thx

[2019-12-08 18:21] wpichler commented on #15279
@rrahir It seems the "bug" still does exists - so what about my small fix to get around it ? Any side effects ?

[2019-12-08 20:44] jibe-b opened #41513 "[feature] drag&drop to change lines order in invoice"
Current behavior:

Lines in an invoice you are creating cannot be reordered, implying lots of cut-pasting if you want to reorder them.

Expected behavior:

Ability to reorder the cells via drag&drop.

Video/Screenshot link (optional):

![Screenshot from 2019-12-08 21-42-17](https://user-images.githubusercontent.com/6146483/70395871-a5605780-1a03-11ea-9a21-06ba1fe480f7.png)

Thanks a lot for your a

[2019-12-08 20:52] pedrobaeza commented on #41513
Uhm, which program the screenshot belongs to? That's not Odoo...

[2019-12-08 21:09] jibe-b commented on #41513
@pedrobaeza That's Odoo, but with a custom CSS.

But it's true that it's very different from the last version available in trial version :

![Screenshot from 2019-12-08 22-08-16](https://user-images.githubusercontent.com/6146483/70396231-54526280-1a07-11ea-9ce3-d9d49591e6e8.png)

[2019-12-08 21:10] pedrobaeza commented on #41513
Lines are dragglable in standard Odoo, so closing this as invalid.

[2019-12-08 21:10] #41513 closed

[2019-12-08 21:10] jibe-b commented on #41513
And there is drag&drop in this version.

![Screenshot from 2019-12-08 22-09-31](https://user-images.githubusercontent.com/6146483/70396248-7350f480-1a07-11ea-98e4-2703450599bd.png)

So let's close my feature request as already available.

Thanks for your quick answer @pedrobaeza!

[2019-12-09 05:51] tanzilkhan commented on #40231
If I create MO from SO then this error occurs.

Runbot: http://729626-13-0-8108ef.runbot11.odoo.com/

Error:

_File "/data/build/enterprise/mrp_workorder/models/mrp_production.py", line 13, in button_plan
    res = super(MrpProduction, self).button_plan()
  File "/data/build/odoo/addons/mrp/models/mrp_production.py", line 694, in button_plan
    order._plan_workorders()
  File "/data/build/odoo/ad

[2019-12-09 06:46] GSLabIt commented on #41511
@pedrobaeza i think issue could be related to tax calculation in account, rather than localization itself

[2019-12-09 07:24] Yenthe666 opened #41516 "[Wishlist] make hr_skills and hr_resume widget global widgets"
Impacted versions: 13.0

Steps to reproduce:
1. Open the latest runbot 13.0 and create a new model with Studio (for example `x_test`) with atleast two datetime fields.
2. Add a `Many2one` from this model to `res.partner`
3. Go to contacts and create a `One2many` from `res.partner` to `x_test` and add the widget `hr_skills` or `hr_resume`
4. Save your changes and try to add a record

Current behavi

[2019-12-09 07:25] obayit opened #41517 "oe_no_button has no class defined but used in sales module"
Impacted versions:
12 enterprise. not sure about community

oe_no_button is used here:
odoo/addons/sale/views/sale_views.xml:328

[code]

[2019-12-09 08:14] pedrobaeza commented on #41517
Well, that can be dead code but it doesn't provoke any problem AFAIK, so closing this as no issue, but "enhancement". You can propose to master branch to remove it if it still remains. If there's any problem associated to have this dead class, just tell.

[2019-12-09 08:14] #41517 closed

[2019-12-09 08:16] pedrobaeza commented on #41516
I suppose there are missing steps in your description saying that you assign that widget. The applicable bug then is to restrict the usage of that widgets outside the involved model.

[2019-12-09 08:19] Yenthe666 commented on #41516
Yes and no @pedrobaeza. These kind of widgets should be created with multiple purposes instead of just one model/module. You can use these kind of widgets in a lot of options and it would be a pity if you'd have to reinvent the wheel / create a new one :)

[2019-12-09 08:21] pedrobaeza commented on #41516
Yes, but they are separated things: you are putting some steps to reproduce a problem with Odoo studio: that's a bug that must be fixed in current version.

For the wishlist, that's something for master and of course desirable, but if you check the problem, it needs a field called res_id for working, so you probably will be able to use it on other models, but with certain data structure.

[2019-12-09 08:21] ap-wtioit commented on #35463
Also ran into this issue with an odoo 12.0 migration, closing it does not really help.

Can we remove order_lines_layouted() in odoo 12.0 (it is not working and never called in official odoo code)? Currently in migrations i think a better error would be having order_lines_layouted() missing instead of it throwing an error that a field is missing.

[2019-12-09 08:22] pedrobaeza commented on #35463
As said, don't use that code. I know it's not the best option, but can't qualify to a bug if it's not being used in any place in standard Odoo.

[2019-12-09 08:26] ap-wtioit commented on #35463
https://cwe.mitre.org/data/definitions/561.html

[2019-12-09 08:45] Yenthe666 commented on #41516
@pedrobaeza the same will happen in Python/XML code ;)
And of course this is an idea for master/desirable. I just like to put out ideas if I think they have some extra value for upcoming versions.

[2019-12-09 09:01] unwasted opened #41522 "Unable to select default fi language on website"
Impacted versions: 13.0

Steps to reproduce:
1) install website with several languages and set fi_FI as default
2) change language to anything other than fi
3) try to change language back to fi

After some modification to:
https://github.com/odoo/odoo/blob/4ca265faeaa503dc26432f7f3e3ca1cfa87a76f4/addons/website/views/website_templates.xml#L420
t-att-data-url_code="lg[1]"> ----> t-att-data-url_code

[2019-12-09 09:04] tde-banana-odoo commented on #30932
Hello,

Good news, we are working on this in master. We finally get rid of the hard "mono-sales team" constraint (unless you install website_crm_score which is not the easiest module to handle). This is still an ongoing task with no ETA. Here are the main ideas: basically in crm you can choose between single-sales team or multi sales team for sales people, with warnings when you try to change some

[2019-12-09 09:10] tde-banana-odoo commented on #40304
Hello,

Indeed it is a known limitation. If you have a PR to give I would gladly have a look (or if you open an OPW for this). Currently an improvement of the template rendering lies in a backlog to handle in master, no ETA currently as usual for master tasks.

Cheers,

[2019-12-09 09:29] rrahir commented on #15279
@wpichler  @jeej62 Could you provide a more in-depth example on how to reproduce this issue in your case? The idea of adding a key 'type'='binay' should not be necessary if the context is properly managed since it is the default value of an attachment.

[2019-12-09 09:40] sle-odoo commented on #40537
hello,
thanks for the report

to me, it looks more like a webclient issue: you set a default filter on a model A (product.product in this case) and it gets applied to a model B (stock.quant in this case) while it shouldn't. I thinks this is a generic issue due to the way the default filters work and the context is passed in odoo.

we could erase the `group_by` context key when clicking on the on h

[2019-12-09 09:51] obayit commented on #41517
I was just in a training session, and the tutor tried to use the class after he saw it in the documentation. Then searched for an example in the code, and found it in the sales form!
We all got confused. So I think removing it from the documentation is more important.

[2019-12-09 09:53] pedrobaeza commented on #41517
Can you point where in the documentation is?

[2019-12-09 09:59] YuraPotapov opened #41528 "message_track"
Impacted versions: 13.0

Steps to reproduce: call message_track, for example call  message_subscribe() for send email.

line was removed where gets model object , after that calls method "exists" from str object(should be model obj)

calling str obj "if not subtype.exists():"  instead of the model obj

[2019-12-09 10:03] pedrobaeza commented on #41528
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2019-12-09 10:03] #41528 closed

[2019-12-09 10:13] Yenthe666 commented on #30932
🎉 wooh, awesome! Would you like to close this off as it'll be handled in the upcoming V14 and you guys probably have an internal task?

[2019-12-09 10:14] #30932 closed

[2019-12-09 10:18] Yenthe666 commented on #40304
@tde-banana-odoo OPW `2153127` 😉

[2019-12-09 10:53] mart-e commented on #32801
@Yenthe666 what you are reporting is a different problem.
The reported problem is exporting terms of several modules in the same translation file will crash when importing. This is not a scenario we handle at the moment.

Issues like #41364 are bugs where we must correct the source of the problem (e.g. bad .pot file). Don't report them here.

We could remove duplicates as I did at #32826 but I don

[2019-12-09 10:53] mart-e commented on #41364
No not a duplicate. This should never happen when loading translations. It means a .pot or .po file is incorrect and must be fixed.

[2019-12-09 11:54] YuraPotapov commented on #41528
Sorry, more details for reproduce, module odoo/addons/mail/models/mail_thread.py:648
Method _track_subtype must return browse object to consider e61286ecd4ab0ff969f91aff1dc63859f7245852 commit, but returns str object

[2019-12-09 13:51] Yenthe666 commented on #40756
Related PR is https://github.com/odoo/enterprise/pull/7001
Fixed in https://github.com/odoo/enterprise/commit/0a1a7aeda2297f989fc06e7d8a6d1d7033eac23a
The downside now is that it used coordinates instead of address names so now there is no more human readable content in the views. I've asked if this can be changed.

[2019-12-09 14:25] qdp-odoo commented on #15636
right, as requested, we will discuss that topic with @avw-odoo . I'll keep you informed

[2019-12-09 14:49] Yenthe666 commented on #41522
@mart-e for your interest.

[2019-12-09 16:21] nle-odoo commented on #41438
The fact that in database we can have empty string or NULL that are different falsy values has been a fact for a long time.

In a 9.0 shell:

[code]

In a 13.0 shell:

[code]

The javascript framework will always send `false` (at least since 9.0,) so by normal usage writing empty string in database should not happen.

But if you use `write` yourself (by RPC or code) you can save the empty string `

[2019-12-09 16:31] llacroix commented on #28764
Well no, you can't make it all async. Even Node.js has sync methods and obviously sync methods don't work the same way as async ones. You can't go from one to the other transparently without causing issues somewhere else. Even javascript now has async/await keywords to make the code easier to write in order to await a Promise instead of explicitely write `.then(promise)` which in returns makes it

[2019-12-09 16:58] kos94ok-3D opened #41581 "[11.0][12.0][product] Wrong vendor code"
Impacted versions: 11.0, 12.0

Steps to reproduce:
1) Create two Vendor pricelists for the same product and vendor with different Vendor product code
2) Try to add a purchase order line by Vendor product code

Current behavior:
The description in the purchase order line is not correct.

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/33932458/70475293-ef693c00-

[2019-12-09 16:59] kos94ok-3D commented on #41581
Someone have any ideas about how I can set correct description?

[2019-12-09 17:39] jeej62 commented on #15279
Hello.

I am working on an accounting localization for Ecuador. The system generates electronic XML and PDF receipts from the different billing forms: out_invoice, out_refund and in_invoice withholdings. There were no problems in the attachments generation for out_invoice tests and in_invoice retentions. The code generate the attachments to the forms without problem. However, when I proceeded to t

[2019-12-09 17:45] Yenthe666 commented on #41438
Thanks for the feedback @nle-odoo. Do I get you right that you recommend to always send `False` through XML-RPC instead of `''` then?

[2019-12-09 17:56] nle-odoo commented on #41438
Yes, `False` or `None`.

As a side note, this is not related to RPC, if you do in python code:

record.textfield = ''

the behavior is similar.

[2019-12-09 18:23] blaggacao commented on #41145
https://pendulum.eustace.io/

Fortunately, it's self explanatory.

[2019-12-09 18:34] cw-mswanson commented on #40157
This has been merged

[2019-12-09 18:34] #40157 closed

[2019-12-09 19:51] pedrobaeza commented on #41581
Please specify more how do you set up vendor pricelists.

[2019-12-09 20:11] pedrobaeza commented on #32752
Any news on the bugfix part?

[2019-12-09 21:40] kos94ok-3D commented on #41581
@pedrobaeza I update sceenshots in description.

[2019-12-10 01:29] ray-odoo commented on #39007
sudo pip3 install firebase-admin

[2019-12-10 02:39] tanghulu0608 commented on #39360
Hello everyone, any solution to this?

[2019-12-10 03:27] mmotahar-ia commented on #25029
I do see this in Odoo.sh too

[2019-12-10 03:28] mmotahar-ia commented on #25029
I do see this in Odoo.sh too

[2019-12-10 03:32] mmotahar-ia opened #41597 "[12.0] sending timesheet reminders manually doesn't work"
Impacted versions:
Odoo.sh version 12.0 latest

Steps to reproduce:
https://github.com/odoo/enterprise/blob/6a8f053cbe6fcb0454b1ffe62b5c516c39d8b569/timesheet_grid/models/res_company.py#L134

Create an employee with a user linked to it and a working day of 40hpw
Create only one entry for that employee for his last week.
Go to scheduled action and open timesheet reminder for the employee
click on t

[2019-12-10 03:34] mmotahar-ia commented on #41597
#https://github.com/odoo/odoo/issues/25029

[2019-12-10 06:48] #39702 closed

[2019-12-10 06:49] khalidtkl commented on #39702
@qle-odoo Thank you. It does work right now.

[2019-12-10 07:11] JulioSerna opened #41601 "[11.0] Journal items of the payment is not adding the secondary currency when created payment from invoice in secondary currency"
Impacted versions:
* 11.0

Steps to reproduce:
* Create invoice in secondary currency
* Create payment from invoice in company currency

Current behavior:
The journal items created from payment is not adding the amount currency

Expected behavior:
The journals items created from payment should add currency usd into currency field and amount currency into amount currency

Video/Screenshot link (opt

[2019-12-10 07:46] mart-e commented on #29752
Hello,
Sorry but as explained by Romain on #29750 this is not the direction we want to go. We want to keep the leave requests simple and easy.

[2019-12-10 07:46] #29752 closed

[2019-12-10 08:14] pedrobaeza commented on #39360
This is not going to be "solved" in stable. It's only an idea for future versions.

[2019-12-10 08:16] pedrobaeza commented on #41597
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-12-10 08:17] tanghulu0608 commented on #39360
OK. Thanks.

[2019-12-10 08:52] Yenthe666 commented on #41145
Well I'm pretty sure this'll be denied but lets call @mart-e to decide :)

[2019-12-10 09:05] Yenthe666 commented on #41581
@sle-odoo for your team to check :)

[2019-12-10 09:05] mart-e commented on #41145
Hi,

If you search a bit in the history of PRs, you will find #24125 where we made an experiment using pendulum (the Research part in "R&D") but we dropped it in the end as we wanted to be still compatible with naive datetime objects.
A bit sad because pendulum was an interesting option but too much drawbacks as explained on the PR.

[2019-12-10 09:05] #41145 closed

[2019-12-10 10:46] obayit opened #41615 "Odoo created a view without installing its module"
Impacted versions:
12 enterprise
Steps to reproduce:
still unknown
Current behavior:
Some views are created in database without its module being installed.
Expected behavior:
A view shouldn't be created unless its module is installed.
Video/Screenshot link (optional):
![Screenshot from 2019-12-10 12-43-43](https://user-images.githubusercontent.com/20386024/70522996-bf588200-1b4a-11ea-9607-3c24e48d

[2019-12-10 10:48] SimoRubi opened #41617 "[web] domain on *2many fields"
**Impacted versions**
13.0

**Steps to reproduce**
1. Open a tree view containing a *2many field (say it is called `o2m_field`),
2. add a new field (`my_invisible_field`) in the tree view,
3. in the `field` tag of `my_invisible_field`, add an attribute `attrs={'invisible': [('o2m_field', '!=', False)]}`

**Current behavior**
`my_invisible_field` is always invisible in the tree view.

**Expected be

[2019-12-10 10:53] lem8r commented on #26667
This happens to any long running request like closing POS session or module install/upgrade.
It is recommended to use Cloudflare with Odoo.sh for https termination, so it looks like we need to have this solved.

[2019-12-10 11:08] PismennyiIgor commented on #40055
The same problem with odoo 13 and Firefox (68.2.0esr-68.3.0esr).
Firefox 68.3.0 ESR isn't old version. Release date - December 3, 2019
From official website mozilla.org.
(Firefox offers an Extended Support Release (ESR) for organizations, including schools, universities, businesses and others who need extended support for mass deployments. The ESR release is based on the regular release cycle of F

[2019-12-10 11:13] kos94ok-3D commented on #41617
Hi @SimoRubi
I think you need use [] instead of False for *2many fields

[2019-12-10 11:17] BT-nstuder opened #41618 "[13.0] onchange with many2many changes doesn't work with widget many2many_tags and readonly"
**onchange with many2many changes doesn't work with widget many2many_tags and readonly**

Impacted versions:

 - 13.0

Steps to reproduce:

 1. Install module `stock`
 2. Enable `Storage Locations` in the technical settings
 3. Add an `onchange` function which changes the values of any many2many (displayed as `many2many_tags`) field `location_ids`:
[code]
  4. Add `readonly` attribute to the `many

[2019-12-10 11:45] pedrobaeza commented on #41615
Sorry, but unless you have clear steps to reproduce the problem, this seems something in your end, so closing this meanwhile.

[2019-12-10 11:45] #41615 closed

[2019-12-10 12:19] SimoRubi commented on #41617
Thanks, it works :)
closing
I was concerned because in backend the domain works with `False` as I described..

[2019-12-10 12:19] #41617 closed

[2019-12-10 13:01] vipvalen opened #41634 "[12.0] products archived in inventory"
Impacted versions:
v10 / v11 /v12 /v13
In the Inventory / reporting / inventory report menu, when a product is archived, it should not go out in the inventory, this inventory is distorted.

In version 13, when the stock quantity is archived it returns to 0, but it also continues to appear in the inventory report.

Archived Product
![imagen](https://user-images.githubusercontent.com/18347857/705314

[2019-12-10 14:57] blaggacao commented on #41145
@mart-e Thanks for your explanation. Yes a bit sad. Maybe you bother to comment: why are external dependencies considered so much of inconvenience? It seems like a repeating design guideline. Theoretically, Odoo could just offer to take over maintenance, if it's really a good library maintained by a Singleton and earn the banana of beein a good open source ecosystem player.  My 2 cents.

[2019-12-10 15:05] mart-e commented on #41145
@blaggacao I can not really comment because I have not participated in the decision but I think the main problem was to no longer work with standard date objects. My don't take my word for credit.

[2019-12-10 15:09] yankinmax commented on #40246
This issue was fixed with commit
https://github.com/odoo/odoo/commit/99b23da7c5ebd0ae2f1816d5db659ac026a7ef9c
Have a nice day!

[2019-12-10 15:10] #40246 closed

[2019-12-10 15:36] Yenthe666 commented on #40246
🎉 thanks for the update!

[2019-12-10 16:11] #38009 closed

[2019-12-10 17:15] ErMaqui commented on #21351
I've detected the same behavior on Odoo 12 (dockerized). If you put a nonexistent route on addons_path, server starts but got 404 on every asset who try to load. Even if you put the "general" addons path on the config, they continue giving 404.

[2019-12-10 18:38] pedrobaeza commented on #23404
It seems this hasn't arrived in v13, isn't it?

[2019-12-10 18:57] enricostano commented on #31044
Use case with `state: object_create` would also be helpful. You can generally find examples only with `state: code`.

[2019-12-10 20:04] Yenthe666 commented on #23404
Sadly I think it didn't :( Erwin can probably confirm this. @qdp-odoo is there anything planned or in the pipeline? I know it's pretty important for the Dutch.

[2019-12-10 23:23] zeroheure opened #41678 "[Wish] website_sale easier tool for upsell strategy (alternative products)"
This is a usability problem in product form, eCommerce tab :
In alternative_product_ids fields we are supposed to suggest more expensive alternative products, but the many2many_tags widget shows only the product name (display_name field).
Furthermore, the search widget suggest to open a search window, but its list view doesn't shows the website categories.

It would help a lot to show the price in

[2019-12-11 02:46] ctringham opened #41679 "User-defined defaults not set if a company is specified"
Impacted versions: **13EE**

Steps to reproduce: **Create a user-defined default and specify a company**

Current behavior: **Default is not applied**

Expected behavior: **Default should be applied**

Workaround: **Set company to blank and default is applied**

Note: **if a user-default is setup through debug mode, the company is set, but it can be removed through the Settings menu**

[2019-12-11 05:15] usmanfarzandali opened #41680 "Done Qty column is disable when multi-warehouse option activated"
Impacted versions:
Odoo V13 CE

Steps to reproduce:
Go to Inventory ---------------->Click on Overview----------->Click on Receipts

Current behavior:
Done Qty column is disable
Expected behavior:
 Done Qty column is should be open
Video/Screenshot link (optional):
![Screenshot from 2019-12-11 10-10-46](https://user-images.githubusercontent.com/22232100/70593479-14ee6680-1bff-11ea-9aea-78843459789

[2019-12-11 06:41] mart-e commented on #34768
Hi,

I just tested (now with firefox 72) but did not get the issue. Does this still happens or can we consider it is fixed?

[2019-12-11 07:55] ctr-subteno-it opened #41684 "[12.0] Downloading of signed PDFs does not store the data in the correct places (or at all)"
Impacted versions: 12.0 (maybe more) - module sign

Steps to reproduce:
1) Create a new document template and add some fields:
![image](https://user-images.githubusercontent.com/14540572/70601643-cc30b080-1bf2-11ea-8252-5a29d24a1da6.png)
2) Sign the document yourself:
![image](https://user-images.githubusercontent.com/14540572/70601733-0306c680-1bf3-11ea-8206-78ea182e006b.png)
3) Validate and send

[2019-12-11 07:56] matmicro opened #41685 "Serialize error, regeneration of assets css"
Impacted versions: 10, 11

Steps to reproduce:

Current behavior:
I can see a lot of issues likes the below error message. This occurs very often per second. My odoo then looks slow, i presume this comes from this.

Logs:
2019-12-11 07:04:56 UTC [5939-18] odoo@prod STATEMENT:  DELETE FROM ir_attachment WHERE id IN (346787, 346786)
2019-12-11 07:05:30 UTC [5811-17] odoo@prod ERROR:  could not seria

[2019-12-11 08:16] qdp-odoo commented on #23404
@jco-odoo Is the localization man. If something started regarding that, he'd know it...

[2019-12-11 08:20] pedrobaeza commented on #41685
I don't think it's due to the db-storage, but multiple simultaneous concurrent writes (assets are not written several times). Any way, there's not too much sense to write that to the DB, and the problem is in your deployment configuration, as this is not reproducible in other end, so closing meanwhile you don't give hints that suggest that this is an Odoo problem.

[2019-12-11 08:20] #41685 closed

[2019-12-11 08:21] pedrobaeza commented on #41684
As this is something of an enterprise module, please report it instead to odoo.com/help, not here.

[2019-12-11 08:26] pedrobaeza commented on #41680
This is because you have to click on the icon next to the done field or activate "Detailed operations" on the picking type for direct access to that field.

Closing as no real issue.

[2019-12-11 08:26] #41680 closed

[2019-12-11 08:27] pedrobaeza commented on #41679
That's because the company is not set as well as default, but derived from other business logic, so it can't be deduced in the context of the default.

Closing as no issue, but working way.

[2019-12-11 08:35] yucer commented on #41364
@mart-e Do you think that an error loading a different translation for a term it is so important to stop one update. I mean it should be one STOP error ?

It sound like a warning to me. If the translation of a `.pot` is different to the one in `.po` I would make one of them to prevail and report it as warning.

I think it depends on the quality level that needs to be ensured. Some implementations

[2019-12-11 08:43] mizohamza opened #41686 "One2many field attribute inverse_name NOT WORKING."
Impacted versions: 12.0 and 13.0.

Steps to reproduce:
Define a One2many field on a model (for exemple **sale.order**) like this exemle:

    class SaleOrder(models.Model):
    _inherit = 'sale.order'

    warehouse_ids = fields.One2many(
        comodel_name='stock.warehouse',
        inverse_name='user_id',
        string='Warehouses')
- As you see in the exemple above, we are pointing to stock

[2019-12-11 08:47] yucer commented on #32801
@mart-e Nevertheless we might be able to log them before deletion right ? They can be even shown in the UI wizard.

But I guess that a new translation is not so important to stop the update.

[2019-12-11 08:49] pedrobaeza commented on #41686
`inverse_name` only serves for filtering the values in the other table, without semantic about "what's correct". It can work if the IDs pointed in user_id field exists in table `sale_order`, or gives an error if not, but this is not any error, but how the SQL behind ORM works.

Closing as explained above.