[2017-09-26 21:53] vonpupp commented on #8446
I second this also. Bitpay seems to be the way to go.

[2017-09-26 22:17] luistorresm commented on #19388
FYI @nhomar

[2017-09-26 22:48] gdgellatly commented on #19600
@aab-odoo I left you another comment over at the bugfix branch you commented on, however I have tested on saas18 and a fresh database just now as it seems more up to date than master.  I think part of the issue I had with initial testing was that while the commits are clean, before the first commit I may have spun up a non working environment - which may have led to some incorrectly created record

[2017-09-26 23:02] llacroix commented on #8029
Really? Why store the password in the session in the first place. If your session is authenticated you can simply mark it as authenticated and trust that the session is authenticated for that session id. If you add the password in the session it will always allow you to authenticate yourself so it doesn't really matter if the password is present or not in the session.

If the password changes, you

[2017-09-26 23:24] lasley commented on #8029
I tried hard to work around this. The main blocker I ran into is how the JavaScript client uses RPC under the hood, which requires the password.

I’ve created some malicious browser plugins and XSS PoCs that grab the password from the client as well. Basically a giant security hole that is insanely difficult to work around while still keeping RPC for JavaScript. The real solution is reimplementing

[2017-09-27 00:01] llacroix commented on #8029
@lasley From my point of view, the problem could be fixed by odoo itself. Right now, storing the password inside the session is pretty much the same thing as providing the password along with an oauth token.

The problem as I see it is that if we can store information that the session is authenticated, there is no point to keep a password. It's redundant. The only thing that is required is prevent

[2017-09-27 00:33] lasley commented on #8029
Honestly the only difference in OAuth is that the tokens rotate, so they aren’t replayable.

I’m not denying this is an issue that Odoo should fix, but we see their standpoint on this above. Take it from someone that’s tried to solve the issue - it’s more complex than it seems. My real solution is provide an additional encryption layer for confidential data (https://github.com/OCA/server-tools/iss

[2017-09-27 03:32] gdgellatly opened #19727 "Usability - input types"
Impacted versions: Master

Steps to reproduce:
Access runbot using a mobile device - preferably a tablet.
Find an editable numeric field. - Starting an inventory should do
Watch normal keyboard pop rather than numeric.

I know it isn't strictly a bug in a technical sense, but in a usability sense - (such as entering an inventory quantity in a mobile warehouse) its a nightmare.

Current behavior:
A

[2017-09-27 07:41] Yajo commented on #10954
One funny thing is that Odoo decided it is better to have [a script that converts all your css styles into inline styles](https://github.com/odoo/odoo/blob/10.0/addons/web_editor/static/src/js/transcoder.js) instead of putting all css styles into inline `<style>` tags inside a proper `<head>` (which would have been _much easier_ to do).

Besides the maintainability problem of such approach, there'

[2017-09-27 09:46] bharatkhandelwal opened #19745 "Not able to Create Product variant without Product Template"
Impacted versions: 11 (community)

Steps to reproduce:
Sale Price Currency and Cost Price currency fields are mandatory in Product Template and those fields  are directly set in  product variant but in case in attempt of  product variant  creation directly from Product variant form view system will raise warning of 'Sale Price Currency and Cost Price currency fields'.

Current behavior: Raising Fi

[2017-09-27 10:57] aab-odoo commented on #19689
Closed by https://github.com/odoo/odoo/commit/ca258b8691c3581f0ec4d203b591c2279cc7a6a2

[2017-09-27 10:57] #19689 closed

[2017-09-27 11:06] gdgellatly commented on #19727
Note: I was a bit bored so I thought I'd give it a go myself as an extension module.  Its the first javascript I've ever written so no way I'd propose here, but if you decide to do it, thats how I've done it and tested on a tablet.

Integer as a telephone field
Float as a number field
Char accepts an options dict entry of input_type.  It doesn't do any validation there, but if you get a field type

[2017-09-27 11:52] aab-odoo commented on #19600
Hello,

Commit https://github.com/odoo/odoo/commit/f49d758665938ed7cbb9f46221ba8f0663def514 (in saas-18) closes the issue. The onchange specs weren't correctly computed, and thus the onchange RPC returned unexpected commands erasing your changes.

Regards

[2017-09-27 11:52] #19600 closed

[2017-09-27 11:57] loveismyside commented on #16451
I have some problem please how to solve thanks
Traceback (most recent call last):
  File "./odoo-bin", line 5, in <module>
    __import__('pkg_resources').declare_namespace('odoo.addons')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 2081, in declare_namespace
    declare_namespace(parent)
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 2097, i

[2017-09-27 13:59] pedrobaeza commented on #19689
Thanks!

[2017-09-27 14:14] ploegvde commented on #18572
Ok, but isn't in confusing for the enduser that there are now 2x P&L. 1 for Netherlands and 1 generic. If NL localisation is installed i would rader see the generic hidden. It is confusing.

For the balance sheet, we will collect the information for you.

[2017-09-27 14:33] krijn1981 opened #19754 "Not option for bank account of thirdparty"
Impacted versions:
V9 / V10

Steps to reproduce:
xxx

Current behavior:
Currently is not possible to add a bank account lets say on Vendor A that is from a other company.
Many companies are using factoring (selling there receiveables) to other company. So in that why the bill needs to be paid to other "bank account" instead of the vendors account.

The option to create a thirdparty vendor is no op

[2017-09-27 15:00] llacroix commented on #8029
I'm not really arguing with you, it's the Odoo team's standpoint that is scary. Technically, the sessions are also rotated and have and have an expiry date. One other analogy would be to store the refresh token in the session on the server... This way any use that has access to your session can create himself a new session/token with the refresh token. Unfortunately, it's even worse than that beca

[2017-09-27 15:08] lasley commented on #8029
Oh yeah totally. My plan was to use Odoo as an EMR until I found this (and a few other glaring security issues). The plan is still there, but it because obvious earlier on that an out-of-the-box installation is not good.

An interesting side-effect to the passwords being plain text here is that if you are integrating with an authentication provider, such as Active Directory, the attack surface of

[2017-09-27 15:34] llacroix commented on #8029
I discovered that while trying to print pdf from a cron job. It appears that we must provide a valid session to the wkthtmltopdf process. The wkhtmltopdf process needs this to find which database to look for and possibly access private resources. In this case, I'm not sure it's possible to work around this with a different authentication or the session can be authentified differently with somethin

[2017-09-27 15:37] lasley commented on #8029
Well technically it's still Odoo authentication, it's just using an [external OAuth provider](https://github.com/odoo/odoo/tree/10.0/addons/auth_oauth). I haven't run into any issues with reports or the JS client yet. I haven't checked the session to see what is stored for the password, but I don't see how it could be the actual password given the way that OAuth works.

By then disallowing the use

[2017-09-27 15:57] pedrobaeza opened #19756 "[10.0] account_asset: Incorrect behavior with "widgetonbutton" on assets"
Impacted versions: 10.0

Steps to reproduce:

* Create an asset type with default values, filling a random journal and account, but leave "Auto-confirm Assets" unchecked.
* Create an asset with that type and any gross value.
* Confirm the asset.
* On the depreciation board, all depreciation lines have a red circle on the right.
* Clicking on the circle, the journal entry is created, and it appears

[2017-09-27 16:01] PeterAlabaster commented on #14160
I just came across this exact issue. Turns out it was due to a module containing an accented e character in the` __manifest__.py`: `é`. Took it out and db was happy to be created again.

[2017-09-27 22:05] gustavovalverde commented on #19086
Ok, after adding an `outbound_payment_method_ids` this also generates an unwanted behavior on the Backend, as I could use the same payment method for refunds, but this does not mean that we're going to use this method as an outbound payment method in the **backend** (it's only for refunds in the POS).

### Context:
We use a **Credit Cards** journal in the POS as an _inbound method_, and if we make

[2017-09-28 02:07] andreasdsp opened #19761 "OperationalError: could not obtain lock on row in relation "ir_sequence""
Impacted versions: Odoo 9c

i try to make stock picking with some transaction at the same time.
scenario 1 :
create 3 PO with 20 line on each order line which each product will generate stock journal. make stock picking on them and then open them in seperate tab (1 tab 1 picking) and at the same time validate it.
result : 3 picking are success

scenario 2 :
in this scenario i duplicate PO from sce

[2017-09-28 03:22] bimajatiwijaya commented on #19761
We can reproduce only for sequence with implementation "No Gap"

[2017-09-28 03:48] gdgellatly commented on #19761
It's a desirable behaviour.  The system is waiting until it can be
guaranteed not to mess up a sequence.  After retrying 5 times, it quits
with that error.

Your choices are:
Segment sequences (i.e. multiple stock journals with different sequences)
Use standard sequences (i.e. tolerate gaps)
Use faster hardware, better tuning etc (i.e. transactions complete faster
so less chance of retry failure)

[2017-09-28 08:03] jvOrsouw commented on #18572
I get an error when trying to run the XAF auditfile:
![image](https://user-images.githubusercontent.com/19901265/30955454-fccef30c-a433-11e7-8f23-beb274761fcd.png)
apparently, something is not quite right with rounding the numbers.

[2017-09-28 09:11] bimajatiwijaya commented on #19761
@gdgellatly : Thank you for quick response and your advice.

[2017-09-28 09:19] labcrm opened #19769 "Bug pdf font rendering, not readable after install wkhtmltopdf"
_Impacted versions:_
Odoo 10 OCA (2017-08-15)
Linux Centos7 version on Bitnami stack
![odoo10_pdf_report_font_error](https://user-images.githubusercontent.com/31368648/30958900-d4c14a4e-a43e-11e7-8609-70beecef9974.PNG)

_Steps to reproduce:_
Print a pdf report on Odoo client

_Current behavior:_
The pdf is generated but **## the pdf font is not readable !**

_Expected behavior:_
Standard font when

[2017-09-28 10:54] juan131 commented on #19140
I just want to mention that increasing those limits worked for me within the last month. But now.. After upgrading to MacOS High Sierra, I found the same problem again.

@xmo-odoo is there anyway to disable those memory limits on OS-X?

[2017-09-28 11:40] lap-odoo commented on #18572
@jvOrsouw Thanks Julia, @smetl will take care of fixing this

@ploegvde : Well, as currently we don't have a specific BS and P&L for each accounting localization, I think it makes sense to always show the generic reports too.  Moreover, we have clear submenus (the first one with the localization specific reports and then the generic ones). We will see what's the feedback from the users and change

[2017-09-28 11:44] zeroheure commented on #17002
@dhiru1602 it is not that simple, Odoo code still depends on te old unmaintained python-pypdf

However, there is an easy workaround : create a fake python-pdf package and install python-pyPdf from Pipy (Python repository). All of this will be done as root.

- install `equivs` to create fake packages and `python-pip`to install package from Python repository
- run `equivs-control python-pypdf`, this

[2017-09-28 12:13] lem8r commented on #19017
Removing timeout parameter here https://github.com/odoo/odoo/blob/master/addons/hw_escpos/escpos/printer.py#L86
fixes this issue.

[2017-09-28 12:21] lem8r commented on #15679
@mart-e I think I have fix for this issue

[2017-09-28 13:05] treviser commented on #8820
Current Year Earnings and legal statements - My observations and conclusions - Your comments?

I would like to amend @bistaray 's write-up to make even more understandable what happens behind the scene and make it compatible with plain Odoo CE.

Observations (might be obvious, but important for the understanding):

1. The Current Year Earnings (CYE) account 999999 is not contained in the Profit an

[2017-09-28 14:58] gelo-landoo commented on #18565
Hi @oco-odoo @lap-odoo
I´m not an expert on this subject, @pedrobaeza  knows way more than me and he can correct me. In OCA was made a PR on the module that is used to generate SEPA operations. And in the file "Readme" it  was said:
"Account Banking PAIN Base Module
This module contains fields and functions that are used by the module for SEPA Credit Transfer (account_banking_sepa_credit_transfer)

[2017-09-28 14:59] ata2001 commented on #19017
@lem8r It may have worked for you, but that's not the correct solution. The `interface` argument was dropped, if you remove timeout, `self.interface` is going to get parsed as timeout.

[2017-09-28 15:01] pedrobaeza commented on #18565
All of this discussion should be placed on enterprise branch, as Odoo SEPA support is enterprise.

[2017-09-28 15:50] xmo-odoo commented on #19140
@juan131 not currently no.

[2017-09-28 16:30] fmdl opened #19781 "[Master][OE] Accounting : Partner ledger report"
Impacted versions:
Master entreprise

**Steps to reproduce:**
Create an invoice A in 2017, register a payement in 2017.
Create an invoice B in 2017, register a payement in 2018.
Select "Show Only Unreconcilied Entry"
Select year 2017.

Invoice A and B are not show (because they are reconcillied).

**Issue :**
If you need to know wich invoice is not reconcillied in 2017 (you have select 2017), the

[2017-09-28 17:15] robindierckx commented on #19468
+1

I managed to remove the issue by overwriting `addons/payment_stripe/static/src/js/stripe.js` with an earlier version.

The problem comes from this line (and maybe other lines as well) :
https://github.com/odoo/odoo/blob/808c0e5dde61027241ff59b1674b159067da0d7e/addons/payment_stripe/static/src/js/stripe.js#L70

As in earlier version, this line should get `currency_id` instead of `currency`. Des

[2017-09-28 17:24] rcastro-tyc commented on #19609
Hi @abbood !

It's much better if you use python through [virtualenv](https://virtualenv.pypa.io/en/stable/).

You can use [Homebrew](https://brew.sh). With Homebrew you can install packages in the console as you can in the most Linux distributions. To install you have to run this command in your console  and follow the instructions:

`# ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Home

[2017-09-28 23:51] danger89 commented on #17897
wkhtmltopdf 0.13.0-alpha-7b36694
OS: Debian Jessie

Actually it's working fine when I execute the commands on the command-line. So /usr/bin/wkhtmltopdf is just working fine, using this bash wrapper. **HOWEVER**.

As @TeroK [wrote here](https://github.com/odoo/odoo/issues/364#issuecomment-251347550) I pipe the stdout & err to a file. And when Odoo executes this script via xvfb ("Virtual" X), I get

[2017-09-29 04:27] manisho2b commented on #14075
do anyone have update on this

[2017-09-29 08:22] be-cloud-js opened #19790 "Graph Label Values on Selection Fields are not translated"
Impacted versions:

9.0

Steps to reproduce:

Create a bar graph using a selection fields to group the records.

Current behavior:

The label are not translated and the "value" is displayed rather than the "label".

Expected behavior:

Display the Label Translated in the user language.

Video/Screenshot link (optional):

[2017-09-29 10:55] #16910 closed

[2017-09-29 10:56] #13674 closed

[2017-09-29 12:37] csnauwaert commented on #18571
Hello @tv-openbig

We've made the change on the accounts type for fixed assets. Thanks a lot for the precision
We've also fixes the typos in the P&L report
Both fixes are already deployed.

Unfortunately I did not understand what you meant by changing the Balance Sheet report.

We used the following document that were given to us to write the Balance sheet and P&L (see attachment)
[skr3_4-BS-PL.zi

[2017-09-29 12:57] lmignon commented on #19536
@rco-odoo @xmo-odoo
### Context
Following the disappointment of users complaining about a very large performance degradation following the migration of Odoo 8 to Odoo 10, I decided to quantify this difference by simulating the behavior of an exchange on a sale order line in Odoo 10 and in Odoo 8 and to measure the time needed in both versions.

In my script I simulate the call to the onchange with

[2017-09-29 14:19] #9266 closed

[2017-09-29 14:20] rosenvladimirov opened #19801 "Critical fixes in odoo 8.0 - res_currency"
Impacted versions: 8.0, 10.0

Steps to reproduce: res_currency

Current behavior: Currency rate is only from central EU Banka.

Expected behavior: In SO, PO and BS is different way for The money. When made SO and PO, you need to understand what is real price of The deal, after recalculate with currency rate. When make SO in different currency you when calculate, and you wand money, need to recalcu

[2017-09-29 14:52] blaggacao opened #19803 "[Accounting] Dependent Subsidiary Support"
## Affected items

- [OK] Currency -> Synchronize with the accounting company (by construcction, as there are 81 occurences of `company_id.currenty_id` throughout the code) / Keep it open for further discussion. Asjust config accordingly
- [OK] currency_exchange_journal -> Individual Registry is good, because we might have independent international business operations of different subsidiaries, an

[2017-09-29 15:04] arafatx opened #19805 "We want to help translating Odoo 10.0 in Malay Language."
Me and my team at Maxibi (maxibi.com) want to help translating odoo 10.0 in Malay Language (Bahasa Melayu). I guess the correct ISO code is ms_MY, file name-> "ms.pot". We have not seen this this language enabled in Odoo. I have read in the odoo documentation, that in order to contribute I can use Transifex or other software. I prefer using Transifex but the Malay language is not available yet to

[2017-09-29 15:14] BT-mkramer commented on #18571
Hi
The structure looks very good.
I suggest the following changes for SKR04 as marked in the attached document. In column A is described what can be changed.
As basic for my suggestion I used the official Kontenrahmen from datev about structuring skr04.
https://www.datev.de/web/de/datev-shop/material/kontenrahmen-datev-skr-04/

[Balance-Sheet and Profit and Loss - SKR04_Update290917.xls.tar.gz](ht

[2017-09-29 18:10] jigar1859 commented on #16949
Failure Reason: Error without exception. Probably due do sending an email without computed recipients.

When using GMail SMTP server... any help or ideas?

[2017-09-29 18:54] vcloud9ray commented on #19671
See https://www.odoo.com/page/editions

Online = Hosted
Enterprise = Subscription Shared Source (source code to those who license)
Community = Free in the traditional sense of Open Source

Where you can ask questions (this is a place for logging issues):

https://www.odoo.com/groups

[2017-09-29 19:26] rosenvladimirov opened #19807 "Critical fixes in odoo 8.0 - account"
Impacted versions: 8.0

Steps to reproduce: account, account_move_line

Current behavior: When make Intercommunity dial EU taxes rate is 0%, Account movement is one monolite record, one movement for dial + taxes. This is not correct in some situations is possible to change rules, and to lose tax credit for VAT, when lose tax credit, taxes is added to total amount of deal. Now is not possible to co

[2017-09-29 19:38] rosenvladimirov opened #19808 "Critical fixes in odoo 8.0 - account_tax"
Impacted versions: 8.0

Steps to reproduce: account_tax

Current behavior: Current philosophy of odoo is to work b2b situations, but in many law in Europe all dial is negotiated and makes with model b2c. All public prices is need to offer, negotiate and scribe with included taxes. The problem in account_tax is d'not have calculations take price with taxes and return without taxes. This problem ref

[2017-09-29 19:50] rosenvladimirov opened #19809 "Critical fixes in odoo 8.0 - account_account"
Impacted versions: 8.0

Steps to reproduce: account_account

Current behavior: Pricelist in manual invoice. Special field price_vat. This is need in special situations when calculate customs taxes and same deal with buildings. When make import price in Invoice is a dial price, but price for calculations of duty taxes is recalculated price with statistics currency rate. After if add in landed cost

[2017-09-29 20:17] rosenvladimirov opened #19810 "Critical fixes in odoo 8.0 - stock_account"
Impacted versions: 8.0

Steps to reproduce: stock_account

Current behavior: When the product have scrapped and robbed you need to calculate taxes. There is no option to configure fiscal positions in configurations of warehouse places. The other problem when sell the materials or take for producement have two models for accounting movement, now if configure product like materials to possible to se

[2017-09-29 22:06] blaggacao commented on #19803
@qdp-odoo While working on this, I saw that a lot of places where accounting stuff (eg accounts) is referenced with no selection domain to assure the same company. It looks to me as if this is not by choice, but rather by chance and might here and there affect UX. If this is something that is looking for a fix, I can do a PR (a part from the one I'm preparing here), if you want...

[2017-09-30 04:11] retailscm commented on #13633
I have the same error. But the duplicate job still finished.

[2017-09-30 07:55] qdp-odoo commented on #19803
@blaggacao ok, why not? thanks!

[2017-09-30 07:59] qdp-odoo commented on #19756
mmh no, I don't agree to one-click-post journal entries: if you didn't thick the auto-confirm option it means that it's not likely what you want to do when clicking on the orange bullet.

It should maybe open the journal entry in a popup... Anyway, that can't be considered as a bug, I'm afraid

[2017-09-30 07:59] #19756 closed

[2017-09-30 08:54] rossigee commented on #19668
So I spent some time seeing if I could move decimal_precision into base as cleanly as possible. I learned a bit more about Odoo's code along the way, but I'm still stuck with an error on running up 'odoo-bin' with a fresh database.

https://github.com/odoo/odoo/compare/master...rossigee:decimal-precision-for-currency

The output I'm getting is now...

[code]

I can't figure out for the life of me

[2017-09-30 10:54] ausl opened #19814 "Odoo 10 ERROR odoo.http: Exception during JSON request handling"
Impacted versions: Odoo 10 Community with latest update

Steps to reproduce: Start Odoo Server/Login

Current behavior: Show error as following:

Traceback (most recent call last):
  File "/home/odoo/parts/odoo/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/parts/odoo/odoo/addons/base/ir/ir_http.py", line 177, in _d

[2017-09-30 12:26] Vartkat commented on #17912
@sylwek845 issue #17912

Hi,

I’ve replaced the hr_expense.py on a test config and sent some mails. Seems to work for me. If someone able to merge listens…

:-)

Thanks a lot

Regards

V.

[2017-09-30 12:47] nhomar opened #19816 "[STOCK] stock: Stock user should not see all the sales orders by default"
Impacted versions:

saas-18

Steps to reproduce:

- Create an user with only "Inventory User" ACL.
- Login with It.

Current behavior:

- This user see Sales and Inventory
- Including all sales orders.

Expected behavior:

- Only Inventory app should be seen and all sales should be retrieved from the inventory app if necessary

Video/Screenshot link (optional):

![image](https://user-images.github

[2017-09-30 13:08] sle-odoo commented on #19816
@lap-odoo i think this makes sense, we can merge this one if you agree

[2017-09-30 13:51] Yenthe666 commented on #19536
@odony and @mart-e this is relevant for you too. Perhaps we could pick this up after Odoo Experience? The benchmarks show a huge difference in performance.

[2017-09-30 13:58] Yenthe666 commented on #19805
Hi @arafatx,

First of all a big thank you for your interest to collaborate! You can create an account on Transifex and then request a language. One of the guys from Odoo can accept this and then you can start translating on Transifex.
It is better not to create the .po files through Transifex as this would make it difficult to maintain the language.
@mart-e can you follow up on this please?

[2017-09-30 21:55] danger89 opened #19821 "Small typo in Dutch language (Accounting module)"
Impacted versions:
All (up and including Odoo 10.0-20170930)

Steps to reproduce:
In Accounting app go to:
 - Step by step guide (right top menu)
 - Welcome pop-up opens
 - Dutch translation is wrong 'Welko' instead of 'Welkom' (Welcome).

Current behavior:
Welko

Expected behavior:
Welko**m** (note: the 'm' is missing here)

Screenshot link:
![welko](https://user-images.githubusercontent.com/6289

[2017-10-01 10:17] gorozcoh opened #19822 "Odoo 10.0 Error 500 on website_portal_sale"
It seems like a fancy use case but it just happened to one of my clients.
**Impacted versions**: 10.0
**Steps to reproduce:**
1. Create customer invoice for partner A, comercial partner CPA
2. Process invoice.
3. Cancel invoice, return to draft
4. Change invoice partner to partner B, comercial partner CPB
5. Process invoice.
6. Enable portal access for partner A
7. Partner A logged in portal clic

[2017-10-01 11:47] mohamedhagag opened #19823 "@api.onchange always expect res to be dictionary"
https://github.com/odoo/odoo/blob/682b2c0985463a740b5126b06858339af0297205/odoo/models.py#L5372

@odony

This causes an error with functions that return a list - error code below:
File "odoo/odoo/models.py", line 5372, in process
    if res.get('value'):
AttributeError: 'list' object has no attribute 'get'

the function that gives this error is like below:
@api.onchange('field_A','field_B')
def my

[2017-10-01 12:06] Elbagoury commented on #18565
"We never considered Odoo Community as an accounting software... "
I don't agree with that in the Arab countries especially in Egypt we are using Odoo / OpenERP as accounting software and  this way of thinking will make Odoo SA lose thousands of customers

[2017-10-01 16:09] Yenthe666 commented on #19821
Hi @danger89,

Thank you for the report. There was indeed a typo in this translation and I've fixed it:
![image](https://user-images.githubusercontent.com/6352350/31056532-777d35cc-a6d3-11e7-9e44-f1d7a924e5e8.png)
The easiest way to find a wrong string is to open the correct version on Transifex (Odoo 10), then choose to translate everything and then search for "Translation text" with the value yo

[2017-10-01 16:09] #19821 closed

[2017-10-01 16:12] Yenthe666 commented on #19671
Hi @bboalimoe,

Thanks for your report.
The Github issue tracker is only for bugs or problems in the official code though. Please do feel free to ask this on the official forums (help.odoo.com) or on the groups (https://www.odoo.com/groups).
To answer in short: yes Odoo is 100% free if you take the community version and host it on your own server.

Regards,
Yenthe

[2017-10-01 16:12] #19671 closed

[2017-10-01 16:14] Yenthe666 commented on #19468
@nim-odoo could you have a look?

[2017-10-01 16:16] Yenthe666 commented on #19769
@sle-odoo any idea? A setup that isn't done quite a lot I guess (bitnami on Centos 7)

[2017-10-01 16:17] Yenthe666 commented on #19754
@qdp-odoo could you give feedback? This is beyond my knowledge. 😉

[2017-10-01 16:18] Yenthe666 commented on #19727
Hi @gdgellatly,

Thank you for the report & the concept. I'm sure @ged-odoo can give feedback and/or a fix.

[2017-10-01 16:20] Yenthe666 commented on #19790
Hi @be-cloud-js,

Thank you for your report.
Could you add a screenshot and/or an example where we can see this by default on a runbot perhaps?

Regards,
Yenthe

[2017-10-01 16:21] Yenthe666 commented on #19672
Hi @KurtHaselwimmer,

Thanks for your report.
Could you give a bit more information about this please? What exactly would you like to achieve with this? I'm not sure I'm understanding what you mean.
CC @JKE-be

Regards,
Yenthe

[2017-10-01 16:22] ged-odoo commented on #19727
@gdgellatly @Yenthe666 did not really read the code, but the concern is obviously sound. We should definitely take that into account

[2017-10-01 16:35] danger89 commented on #19821
@Yenthe666 Thanks, but initially I really tried that.
I admit I don't know transifex at all.

My search kinda stopped here:
![no_results](https://user-images.githubusercontent.com/628926/31056751-4defc752-a6d7-11e7-98bd-1b10c179865f.png)

[2017-10-01 17:03] Yenthe666 commented on #19821
@danger89,

Yep, this has been hidden quite well. It took me some time to figure that out too to be honest. 😉
This will be automatically fixed in the new Odoo 10 minor updates - usually it takes a good week for translations to synchronise back into Odoo.
If you do an update of your Odoo in two weeks it should be fixed!

Regards,
Yenthe

[2017-10-01 17:06] Yenthe666 commented on #14075
Nothing for doing this by default no. @manisho2b no update here.

[2017-10-01 17:07] Yenthe666 commented on #19745
@mart-e can you have a look? I believe the idea is that a product template is made which creates a variant (automatically) and not the other way around?

[2017-10-01 17:12] Yenthe666 commented on #19698
Hi @gdgellatly,

Thank you for your report.
This is indeed bugged:
![image](https://user-images.githubusercontent.com/6352350/31057034-55c5e812-a6dc-11e7-8100-416bf445a63b.png)
@jco-odoo could you look into this? It seems to render only one page.

[2017-10-01 17:13] Yenthe666 commented on #19761
This is indeed desired behaviour. @gdgellatly gives a lot of good tips & ideas about how to overcome this. Best of luck!

[2017-10-01 17:13] #19761 closed

[2017-10-02 03:41] gdgellatly opened #19826 "Editing Error when creating records with editable="top""
Impacted versions:
Saas18

Steps to reproduce:
Witnessed adding attribute values so:
enable product variant,
create an attribute
go to attribute values and click create.

Start entering attribute values like so
Attribute -> Tab -> Value -> Tab etc.

Current behavior:
Notice on the third and subsequent entries that rather than give you a new entry you must tab all the way through the existing ones

[2017-10-02 04:55] canaan-yz commented on #16451
I install another py2.7 via brew.  The same error occurred when run odoo with "python odoo.bin " .Because this Python owns to MacOS,not brew's. "passlib" happened to be the first to detect,so package is not installed, either other packeges.It worked when adjust command with" python2 odoo.bin".check path of "python -V ,pip -V ,python2 -V, pip2 -V",make sure use the correct python&pip interpreter.

[2017-10-02 05:25] blaggacao commented on #19803
Did it, works like a charm... I'll prepare a PR tomorrow. If you are willing to make a small adaption to `fields.py` and `ir_property.py`, then I think I've found a really great and generic way to solve that business problem. It's so lean, I wouldn't even mind forking, to avoid using some second best option.

For the synchronization of accunting_company fields, I adopted the mechanism that we find

[2017-10-02 06:02] lap-odoo commented on #19816
@sle-odoo Yes, I'm ok with this

[2017-10-02 07:14] gdgellatly commented on #19823
@mohamedhagag onchange has expected to return a dictionary since at least v5 (or None in new API).  If its working to return a list on v8 then you might be best to raise a bug on v8 saying that onchange allows you to return a list as it shouldn't.

https://www.odoo.com/documentation/10.0/reference/orm.html#module-odoo.api
https://www.odoo.com/documentation/8.0/reference/orm.html#module-odoo.api

"

[2017-10-02 07:38] jvOrsouw commented on #18572
Hi,
Again, I have an issue with the XAF-report. Tested it today on saas-18. The suppliers and customers are not mentioned:
 <country>NL</country>
                </streetAddress>
                <customersSuppliers>

                </customersSuppliers>
                <generalLedger>

Another small issue is the company-street. With the new split of the street into streetname, house-name and door

[2017-10-02 08:00] Yenthe666 commented on #19661
Hi @GustavoSchuler,

Thank you for your report.
Did you reproduce this on an official runbot (runbot.odoo.com)? How did you trigger it? Are you talking about the mast version of Odoo? I was able to create a new point of sale without any issues:
![image](https://user-images.githubusercontent.com/6352350/31068503-91979a94-a758-11e7-9340-e7a2575a26c5.png)

Regards,
Yenthe

[2017-10-02 08:04] Yenthe666 commented on #19388
Hi  @luistorresm,

Thank you for your report.
@mart-e was this done with a specific reason or? Looks like a usability thing we have to check.

[2017-10-02 08:06] Yenthe666 commented on #19627
Hi @ilyasProgrammer,

Thank you for your report.
This looks like an issue with the compilation of your assets. Do you have all requirements installed for Odoo? See https://github.com/odoo/odoo/blob/10.0/requirements.txt
CC @ged-odoo another asset related issue perhaps?

Regards,
Yenthe

[2017-10-02 08:07] #3786 closed

[2017-10-02 08:08] Yenthe666 commented on #19826
@ged-odoo I believe this is for you?

[2017-10-02 08:17] Yenthe666 commented on #6489
Hi @bjoliveau,

Thank you for your report.
You're mixing up two concepts though. Setting the colour in report for a legal type is for the PDF report "Leaves summary". It has nothing to do with the colour of the agenda items, it is only for in the PDF. The leave category:
![image](https://user-images.githubusercontent.com/6352350/31068990-ba8ba326-a75a-11e7-8f8b-6fb6c6b87efe.png)
The agenda:
![imag

[2017-10-02 08:17] #6489 closed

[2017-10-02 08:36] gdgellatly opened #19828 "Saas18 Product Product name search messed up"
Impacted versions: Saas18

Steps to reproduce:
The below code is cut and paste from product module name search.  I suspect this is a hangover from when specific variants could not be specified on the supplierinfo record (although even then, this is questionable).

[code]

This response is nonsense.  Lets say I pass the arguments name='ABC', operator='=' knowing it will search product code of suppl

[2017-10-02 08:39] Yenthe666 commented on #19828
I'm all for what you're suggesting! @mart-e one for you.

[2017-10-02 08:59] simahawk commented on #16641
@Yajo there we go https://github.com/OCA/OCB/pull/654

[2017-10-02 09:01] KurtHaselwimmer commented on #19672
Yenthe,

I would like to adjust all the forum karma posting requirements in a single place. I discovered that this setting and this setting along was the only one missing from the forum control panel. When you change some of the karma setting values you can end up with problems due to changing the forum setting values but not being able to change karma_answer from its default value of 3.

Dr. Kurt

[2017-10-02 09:10] tv-openbig commented on #18571
@csnauwaert
Indeed the .xls templates you have used are OK.
There was just a bit mismatching in the tree you have created
on the passive site of the balance sheet.

Just some lines have to be changed. Furthermore
one position change is needed after the suggested
line modifications (see screenshot below)

<img width="672" alt="bildschirmfoto 2017-10-02 um 10 52 30" src="https://user-images.githubus

[2017-10-02 09:36] gdgellatly commented on #19828
@mart-e

Just a follow up, it was a little bit tricky to get corrrect behaviour for me, and I'm still not sure its right.  My actual use case is scanning a barcode, but not an EAN one necessarily, it might just be supplier internal partcodes.

[code]

[2017-10-02 09:40] roccocesetti opened #19832 "open mail alerts"
Impacted versions:8.0

Steps to reproduce:Send emal mass-mailing

Current behavior:
It does not indicate how many mails have been opened

Expected behavior:
odoo should indicate how many mails have been opened
Video/Screenshot link (optional):
![schermata del 2017-10-02 11 52 24](https://user-images.githubusercontent.com/4387127/31071940-4391e63e-a766-11e7-8f2d-ed887e98b606.png)

[2017-10-02 09:43] Yenthe666 commented on #19832
Hi @roccocesetti,

Thank you for your report.
This functionality does work fine though. The reason that this is not working for you is because you have multiple Odoo databases and no database filter or anything. Because of this Odoo cannot know for which database the openings / clicks are and it cannot keep track of it. Have a look at https://www.odoo.com/documentation/10.0/setup/deploy.html for e

[2017-10-02 09:43] #19832 closed

[2017-10-02 10:41] inteslar opened #19833 "URL Rewrite"
Impacted versions:10.0

Steps to reproduce:i want to change url

Current behavior:https://mydomain.com/page/contact-us

Expected behavior:https://mydomain.com/contact-us

Video/Screenshot link (optional):

[2017-10-02 11:00] Yenthe666 commented on #19833
Hi @inteslar,

The Github tracker is only for bugs in the official code, it is not the place to ask questions about custom development. Please do ask this question on the official help forums (help.odoo.com).
You might want to look at slug URL rewrites by the way.

Regards,
Yenthe

[2017-10-02 11:00] #19833 closed

[2017-10-02 11:13] mohamedhagag commented on #19823
@gdgellatly  Thanks.

[2017-10-02 11:13] #19823 closed

[2017-10-02 12:15] be-cloud-js commented on #19790
Sure, a simple example by using the graph view on invoices in the accounting module,

![capture d ecran 2017-10-02 a 14 11 28](https://user-images.githubusercontent.com/12003829/31076741-f32980ce-a77b-11e7-98d8-6962a6b10c6d.png)

As you can see, despite my local is French, the graph shows draft,open,... while the tree view shows the translated labels

![capture d ecran 2017-10-02 a 14 13 13](https

[2017-10-02 12:20] smetl commented on #18572
Hi,

@jvOrsouw I'm doing a branch with the right street formatting. About the `<customersSuppliers/>`, I don't get the problem. I tested some XAF exports, every partner is present with the tag `<customerSupplier/>`, Can you give me the url of the runbot having this issue plz? Thanks!

[2017-10-02 12:28] Yenthe666 commented on #19790
Yep, this is correct. @ged-odoo I believe the labels and their translations are handled in the JS side? CC @mart-e

[2017-10-02 12:35] jvOrsouw commented on #18572
@smetl I've been testing on saas-18:
http://268826-saas-18-8d4b9b.runbot11.odoo.com/web#action=661&menu_id=228

[2017-10-02 12:42] smetl commented on #18572
@jvOrsouw They are not present in the XAF report because they are declared with another company "YourCompany". Is it wrong?

[2017-10-02 12:45] jvOrsouw commented on #18572
invoices were created in company 'nederland'

[image: Odoo Experts] <https://www.odooexperts.nl/>

Met vriendelijke groet,

Julia van Orsouw
06 - 28 43 20 82

Odoo Experts
088 - 377 40 00
Vredeweg 1s1505 HH Zaandam
https://www.odooexperts.nl

[image: Twitter] <https://twitter.com/odooexperts> [image: Facebook]
<https://www.facebook.com/Odooexperts> [image: Google +]
<https://plus.google.com/+Odooe

[2017-10-02 13:19] jvOrsouw commented on #18572
there is a sort of company-lock on the partners, on the sales&purchase tab. If I remove it, or set it to company 'nederland', the partners appears on the XAF-report. I see the company is automatically assigned when a partner is created. I understand the multi-company use. So for regular users, they only see the partners of the current company. So it only could be a problem when a user uses the adm

[2017-10-02 14:47] mamcode commented on #17860
@jeffery9 Did you find a way to solve this error?

[2017-10-02 16:38] ploegvde commented on #18572
There is a problem in the intrastat ICP. Transport costs are added a product lines in sale orders. These products are set as type 'service' so that the transport is not created i as delivery order line. It is a service, but for ICP it is part of the product price. Or you include the transport in the sale price or you leave it out and invoice separate, but product + transport is the total exported

[2017-10-02 16:55] reyelts3101 opened #19843 "Quotation/Sales Order print has duplicate address"
Impacted versions: 10

Steps to reproduce:
1. Open a Quotation or Sales Order.
2. Click the Print button.

Current behavior:
If the invoice and shipping addresses are the same, the heading "Invoice and Shipping Address" is printed following two copies of the address.

Expected behavior:
If the invoice and shipping addresses are the same, only one address should be printed with the heading "Invoice

[2017-10-02 20:41] MaitreDede commented on #18942
Hi,
As a simple quick fix that @flotho suggested, my updated `posbox_download_images.sh` :

[code]

[2017-10-02 22:49] Ark74 commented on #14391
@wtaferner So this won't let (re)print a passed ticket from the order archive?
I got lost.

[2017-10-02 23:31] alexweggs opened #19846 "[11.0] Documentation links give 404 page"
Hi,
Links for documentions in master branch are in 404 error :/

Can you put good links in the project ?
Thanks a lot !!!

[2017-10-03 03:01] bnjroos commented on #18618
Sorry Yenthe for the late answer, it was on a fresh Odoo 10 CE install on ubuntu server on which I installed apps.

[2017-10-03 05:53] Yenthe666 commented on #19846
Hi @alexweggs,

Thank you for your report.
Which ones are you referring too? Can you link an example please?

Regards,
Yenthe

[2017-10-03 05:56] alexweggs commented on #19846
Hi,
The links in the master branch, in the readme.md file :

https://www.odoo.com/documentation/master/setup/install.html
https://www.odoo.com/documentation/master/tutorials.html

Alex

[2017-10-03 06:44] help-me-project opened #19848 "Redirection from https make http links with 443 port"
Impacted versions: 10

Steps to reproduce:

Just press create web page on Odoo web site with enabled SSL mode by Nginx or Apache.
On Odoo erp with enabled https mode by Nginx any redirects like page creation make links like:

_http://help-me-24.com:443/page/test-2?enable_editor=1_

Without https but with 443 port.

[2017-10-03 06:57] Yenthe666 commented on #19846
Hi @alexweggs,

Thank you for the update.
If I'm not mistaking these will be changed to 11.0 after Odoo 11 is launched (should be tommorow).
@mart-e can you confirm? Let us keep this open as a reminder.

[2017-10-03 07:25] wtaferner commented on #14391
@Ark74
Nope, not out of the box, it will let you reprint the last order also on a local printer (this is what Joren fixed)

[2017-10-03 07:35] mart-e commented on #19790
Not exactly, it is not really a translation issue.
The issue comes actually from the ORM, the grouping method returns the technical labels instead of the display name of the fields.
For instance if you try to group by type, you will see "out_invoice" instead of "outgoing invoice".

This is still a bug but it requires a bit more change.
We will definitely not change the return format of the `read_g

[2017-10-03 07:48] mart-e commented on #19846
Hi !

Indeed, we will publish the 11.0 documentation in a few days but we should first update it to apply all the changes (e.g. python3).
Thank you for your patience.

[2017-10-03 08:13] mart-e commented on #19745
I doubt it, as it is not released yet 😉 I guess you mean the saas-18? Which modules installed?

Yes, indeed. It is intended to work only with templates creating variants.
I tried on a runbot it worked for me but depending of options or installed module, you may get an error.

[2017-10-03 08:19] lap-odoo commented on #18572
@ploegvde Hi Erwin, I agree this could be improved but a quick fix is simply to change the delivery product into a consumable (instead of service).

[2017-10-03 08:40] aisopuro opened #19852 "[10.0] UnicodeEncodeError if partner email contains non-ascii characters"
#### Impacted versions:
10.0. Tested on http://269067-10-0-1aa8de.runbot8.odoo.com, which was latest at time of writing.

#### Steps to reproduce:
1. Start creating a new partner
2. Enter an email-address that contains non-ascii characters (I used `Lärry@gmail.com`)
3. Save

#### Current behavior:
An error popup is shown with a traceback (traceback is at the bottom of this description)

#### Expec

[2017-10-03 08:44] aisopuro commented on #19852
The code that produces the error was originally committed by @dbu-odoo and @tde-banana-odoo in 66d4de7a0f99555e8d13fcd52d7fe4d3b92cc9fd. Maybe one of them could take a look?

[2017-10-03 08:45] yostashiro opened #19853 "[10.0e] UnicodeEncodeError when trying to drill down to General Ledger from Trial Balance Report"
### Impacted versions:

10.0 Enterprise (haven't checked other versions)

### Steps to reproduce:

- Install Japanese language and change your language to Japanese.
- Go to *Accounting > Reports > Legal Statements >Trial Balance*, and try to drill down to General Ledger from an account.

### Current behavior:

[code]

### Expected behavior:

No such error because of the date format.

The issue com

[2017-10-03 08:58] Yenthe666 commented on #19852
Hi @aisopuro,

This is indeed a bug:
![image](https://user-images.githubusercontent.com/6352350/31117317-b0b30978-a829-11e7-928b-e4b70ca3c22e.png)
Encoding needs to be added.

Regards,
Yenthe

[2017-10-03 08:59] bharatkhandelwal commented on #19745
Hello @mart-e

i have checked in runbot odoo master brach and i found this issue as mentioned previously.
in odoo -8 to odoo 10  whenever we create product variant it will automatically create product template

[2017-10-03 08:59] Yenthe666 commented on #19853
@mart-e this is languages related. Could you have a look when you've got some free time?

[2017-10-03 09:05] mart-e commented on #19745
So you are not even testing on the (yet unreleased) version 11 (saas-18 branch) but on the future version 12 (master branch).

Sorry but the master branch is the development version, it is changing a lot frequently and the sale form will change quite a lot before the release in a year.
Closing as we want to focus on the stable versions report.

[2017-10-03 09:05] #19745 closed

[2017-10-03 09:19] bharatkhandelwal commented on #19745
hello @mart-e

i will be waiting to release  version 11 and  later on i will check it and let you inform if there will be an issue.
thanks for your time

[2017-10-03 10:35] bnjroos commented on #18994
I had the same problem and found the solution:

Go to your odoo installation folder
`cd /addons/web_calendar/static/src/js`
edit web_calendar.js line 57 by replacing moment._locale._week.dow by moment()._locale._week.dow

And this should fix your issue.

[2017-10-03 10:37] bnjroos commented on #18618
Found the solution myself:

- Go to your odoo installation folder
- `cd /addons/web_calendar/static/src/js`
- edit web_calendar.js line 57 by replacing moment._locale._week.dow by moment()._locale._week.dow

This should fix the issue. I don't know why it was not working before.

[2017-10-03 10:38] #18618 closed

[2017-10-03 10:43] oliverzgy opened #19863 "The auto_install of this module would make l10n_cn_standard unable to be selected in setup Chinese COA"
https://github.com/odoo/odoo/blob/597ee1c58118bdba5238b4d25cd20467f73d02bd/addons/l10n_cn_small_business/__manifest__.py#L30

There're two modules: l10n_cn_standard and l10n_cn_small_business standing for different sets of COA in China, both of the modules depend on l10n_cn module. If the auto_install of 10n_cn_small_business is set to True, when you install l10n_cn, 10n_cn_small_business will be

[2017-10-03 11:05] Yenthe666 commented on #18994
Hmm, I've made a PR with what you suggested. This needs to be checked by somebody from Odoo. 😉

[2017-10-03 11:13] Yenthe666 commented on #19863
Please do add more information / background / a case / ...
This is a very short report 😉

[2017-10-03 12:01] oliverzgy commented on #19445
the code is there, please do read the code

https://github.com/odoo/odoo/blob/236a24de964d4fb4cdcab9bc2f43f29b2bbe47fe/addons/account/models/account_move.py#L1293

[2017-10-03 12:09] oliverzgy commented on #19445
The credit of a partner is specific to the company where the accounting journals are recorded with this partner. If not specify the company in the query, it would be a big issue in a multi-companies instance, not only one company might have business with this partner.

[2017-10-03 13:13] ploegvde commented on #18572
@lap-odoo The problem with changing to consumable, but then the warehouse people get all the transport cost lines in there picking and that is unwanted and confusing for these employees. Als a negative stock on transport cost looks strange.

[2017-10-03 13:59] help-me-project commented on #19848
Here probably a question for system administration and Nginx configuration.
I'm find variable wsgi.url_scheme, with hardcoding by:
_environ['wsgi.url_scheme'] = 'https'_
Production system runing normal. But this variable must be self detected,  as I can see.

[2017-10-03 15:16] Hyperthinkk commented on #15119
I am still having this error. Please reopen this thread

[2017-10-03 15:43] Yenthe666 commented on #15119
Can you guys reproduce it on a runbot? Can you add more info and a screenshot please?

[2017-10-03 16:33] Yajo opened #19871 "Broken python 3 support in master (tomorrow v11!!)"
Impacted versions: master/11.0

Steps to reproduce:

    PYTHONOPTIMIZE=2 python3 -m compileall -q $PATH_TO_ODOO_CODE

Current behavior:

[code]

Expected behavior: Compiled. Maybe those sections don't really need python3 yet, but they should be forwards-compatible to not breaking optimization pipelines.

[2017-10-03 16:58] pedrobaeza commented on #19871
master is not v11. Please check on saas-18

[2017-10-03 17:10] Yajo commented on #19871
same problem

[2017-10-03 17:11] Yajo commented on #19871
actually I checked OCA/OCB:11.0

[2017-10-03 17:29] pedrobaeza commented on #19871
OCB 11.0 was created yesterday from saas-18. Maybe it has been fixed today.

[2017-10-03 17:48] carlinux opened #19874 "auth_ldap doesn't search users in nested OUs"
Impacted versions:
ODOO v8 ,
python-ldap 2.4.10-1
auth_ldap 8.0.1.0
Debian Jessie

Steps to reproduce:
set up in LDAP AUTH module base DN:  "OU=USERS, DC=domain,dc=com"
it doesn't find users in (for example) "OU=good_Users,OU=USERS, DC=domain,dc=com"
Just in the exact path
Current behavior:
Above explained
Expected behavior:
Recursively search for users in the nested OUs of a domain.

[2017-10-03 18:47] roccocesetti commented on #19832
thank you very much

[2017-10-03 18:48] ged-odoo commented on #19790
@mart-e @Yenthe666 Actually, it looks like a JS bug to me.  The JS code should have a way of doing the mapping between the technical name and the label.  In this case, I assume that it is a selection field.  So, the issue may be that in version 9.0, we did not have the field_get which contains the necessary information. To be sure, I would need to have a look at the code, and I think that I should

[2017-10-03 19:02] Yenthe666 commented on #19790
Don't worry, we can look at this later on. Let us get back to it when it is a bit calmer.
Best of luck on your presentation @ged-odoo!

[2017-10-03 20:48] zeroheure opened #19875 "Misaligned contact informations on contactus page (fix included)"
Misaligned contact informations on contactus page because of missing fa-fw icons attribute in `odoo/addons/base/ir/ir_qweb.xml`

Impacted versions: 8, 9 , 10, 11 and all Saas versions.

Steps to reproduce: add Website application, then add company address, add phone, fax number and email address (mobile phone  can be added through Contacts application). Then, go to `[your website]/page/contactus`

[2017-10-03 21:20] zeroheure opened #19876 "Some mandatory informations missing on invoices from french company (l10n_fr)"
Impacted versions: all

According to french law , invoices should obey to strict rules :

- Total including tax must be labeled at least "Total TTC"
- Companies not using VAT (exo-0 tax) must include "TVA non applicable, article 293 B du Code général des impôts"

Reference
https://www.service-public.fr/professionnels-entreprises/vosdroits/F31808
See also https://www.cabinet-antoine.fr/spip.php?art

[2017-10-03 23:30] adrienpeiffer opened #19877 "[11.0] Impossible to generate an expense sheet"
Impacted versions:

11.0

Steps to reproduce:

See https://youtu.be/9jYY_XV2RrQ

Current behavior:

It's not possible to generate an expense sheet from expenses

Expected behavior:

We should be able to generate an expense sheet.

Video/Screenshot link (optional):

See https://youtu.be/9jYY_XV2RrQ

[2017-10-04 04:55] be-cloud-js commented on #19316
I would definitively vote for this PR as I did the same patch on my install.

@qdp-odoo any idea why it was done this way ?

[2017-10-04 05:00] be-cloud-js opened #19878 "Many2many Tree View Security Issue"
Impacted versions:

9.0

Steps to reproduce:

I have a classic Many2Many model

ModelA --- A_B_rel --- ModelB

and I would like some users to be able to create ModelA instances and to link them to ModelB while not having the righ to create/delete ModelB instances.

Current behavior:

Using the standard tree widget, a user that only have access right to ModelB cannot add/remove items from the tree,

[2017-10-04 06:11] badiatarigan commented on #17093
I have some problem..
how to change negetive simbol?
please advise..
thanks

[2017-10-04 07:49] lininac commented on #18166
From my installation, I found problem cause on in hr_leave_hours/models/hr_holidays.py
dt = dt - reference_date.tzinfo._utcoffset
from IMO this is double implemented, because datetime saved in DB is UTC

[2017-10-04 08:02] mart-e commented on #19790
I agree, this is what I intended by

[2017-10-04 09:11] explanar opened #19882 "[10] Wizard Checkout: Extra-Step Option freezes "oe_sale_acquirer_button""
Impacted versions:
10 Community

Steps to reproduce:
Install eCommerce, Delivery options by zip, Frontend Add Extra Step Option,
Translate something in Frontend when Checkout process "Extra information" is active

Current behavior:
oe_sale_acquirer_button "pay now", "Jetzt kaufen" does nothing by being clicked.

Expected behavior:
As before the Extra-Step was activated

Video/Screenshot link (opti

[2017-10-04 09:26] explanar commented on #19882
Must be another reason....

[2017-10-04 09:26] #19882 closed

[2017-10-04 09:31] tejastank commented on #6207
Same issue yet found with latest odoo 10 version, was exist in 9.0.

[2017-10-04 10:40] #17207 closed

[2017-10-04 11:21] alexweggs commented on #19846
Hi,

Thanks mart-e, any idea when the 11 will be launched ?

[2017-10-04 11:33] Yenthe666 commented on #19846
It is launched earlier today.

[2017-10-04 11:35] alexweggs commented on #19846
Yes, good news, but links still in 404 :/

[2017-10-04 11:36] Yenthe666 commented on #19846
The docs aren't updated yet. Give it a few days.

[2017-10-04 12:21] alexweggs opened #19883 "No module named 'PyPDF2'"
Hi,
Try to launch odoo-bin in 11.0v but always same error of
No module named 'PyPDF2'

But module is install, got his error on a ubuntu 17.04
Any ideas ?

Thanks a lot!

[2017-10-04 12:26] gdgellatly commented on #19883
Without stating the obvious, install pypdf2

On Thu, Oct 5, 2017 at 1:21 AM, alexweggs <notifications@github.com> wrote:

[2017-10-04 12:52] Ark74 commented on #14391
Ohh!
Ok. I'll try again with v10.

[2017-10-04 13:49] alexweggs commented on #19883
ok, sorry for that one, i missed the fact it was python3....

[2017-10-04 14:37] alexweggs opened #19885 "[11.0] Pdf layouts issues"
Hi,
When i print a quote or invoice, the pdf has no logo, and not same structure as the chosen template (wront typo, backgournd color and borders)

I had last wkhtmltopdf version and i tried with the 0.12.1, i've got the same problem.
I tried to add the report.url parameters (http://localhost:8069) but it doesn't solved my problem.

Thanks a lot !

[2017-10-04 15:15] yostashiro opened #19886 "[10.0] Payment acquirer automatic payment reconciliation does not support multiple currencies"
### Impacted versions:

10.0 (haven't checked other versions)

### Steps to reproduce:

- Install eCommerce app.
- Set default company currency to JPY.
- Set exchange rate.  e.g. 1 EUR = 130 JPY
- Configure Stripe payment acquirer with "Authorize & capture the amount, confirm the SO and auto-validate the invoice on acquirer confirmation" for Order Confiration, and Bank (JPY) for Payment Journal.
-

[2017-10-04 20:19] fabioluna opened #19887 "[11.0] PDF report print"
Hi,

I'm trying to implement a new report type, because I need to generate a pdf on the fly without wkhtmltopdf, I've created the following code.
https://github.com/Trust-Code/odoo-brasil/blob/11.0/br_boleto/reports/report.py#L16

But when it executes it throws the following error.

Erro:
Odoo Server Error

Traceback (most recent call last):
  File "/home/fabio/projects/odoo/addons/web/controllers

[2017-10-04 23:59] augustosamame opened #19888 "[11.0] account_cancel module does not activate cancel option in journal"
Impacted versions:

11.0 (works fine in version 10.0)

Steps to reproduce:

Install Accounting app.
Install account_cancel app.
Activate debug mode
Navigate to Accounting Settings - Journals
Edit a Journal (ex. Cash)
Click on Advanced Configuration Tab

Current behavior:

Advanced Configuration Tab does not show checkbox to enable Account Cancel

Expected behavior:

Advanced Configuration Tab shou

[2017-10-05 03:00] flyingL123 opened #19889 "'TypeError: cannot marshal None unless allow_none is enabled' when action_cancel called for a sales order"
I'm using `Odoo 10.saas~14+e (Enterprise Edition)`. When I call `action_cancel` on a `sale.order` via the XMLRPC api, I get the following error response:

[code]

My call to the API looks like this:

[code]

Is there anyway to fix this? Is this response intentional behavior?

[2017-10-05 06:23] wtaferner commented on #14391
@Ark74
You need to backport first to v10 does not support it at the moment.

[2017-10-05 07:23] #19883 closed

[2017-10-05 08:00] Yenthe666 commented on #19885
@mart-e it does seem off under some circumstances. Logo's don't always come true, not the whole templates comes through, ... can you test it please?

[2017-10-05 08:02] Yenthe666 commented on #19887
Hi @fabioluna,

Please note that the Github issue tracker is only for bugs or problems in the official code. This isn't the right place to ask questions about custom development really. Please do post this on the official help forums (help.odoo.com) - plenty of people can help you there!

Regards,
Yenthe

[2017-10-05 08:02] #19887 closed

[2017-10-05 08:23] Yenthe666 commented on #19888
Uhm it is there? Same for "Show journal in dashboard".
V10:
![image](https://user-images.githubusercontent.com/6352350/31217384-15846eee-a9b7-11e7-981b-8c2861ef950d.png)

V11:
![image](https://user-images.githubusercontent.com/6352350/31217402-25cd1ae4-a9b7-11e7-87b5-559ac2881c35.png)

Can you reproduce it on the latest runbot (runbot.odoo.com)? Have you tried updating your Odoo codebase?

[2017-10-05 08:28] Yenthe666 commented on #19886
Hmm that looks off indeed. @qdp-odoo and @nim-odoo could one of you look at this?

[2017-10-05 08:31] Yenthe666 commented on #19889
Hi @flyingL123,

Thank you for the report.
The XMLRPC protocol doesn't allow `None` values to be passed on though. You would have to filter out the `None` values and replace those by `False` statements.
Alternatively you can add `allow_none=True` to the parameters of `rpc.py` but I would go with converting them to be honest.

Regards,
Yenthe

[2017-10-05 08:35] Yenthe666 commented on #19877
Hi @adrienpeiffer,

Thank you for your report!
I can confirm that this is a bug:
![image](https://user-images.githubusercontent.com/6352350/31217905-cfe49be6-a9b8-11e7-8345-8c10732491b9.png)
@KangOl perhaps from one of your forward ports?

Regards,
Yenthe

[2017-10-05 08:43] bluemix commented on #16463
this helped fix the problem
`sudo apt-get install node-less`

[2017-10-05 08:46] #16463 closed

[2017-10-05 09:17] F3000 opened #19890 "Odoo 11 repo missing"
Hello together ,

where I can find the Odoo 11 repo ,that I can install on CentOS ?

Under nightly.odoo.com -> 11 , i can’t see it

[2017-10-05 11:01] Yenthe666 commented on #19890
![image](https://user-images.githubusercontent.com/6352350/31224187-3baf5d8e-a9cd-11e7-9394-845c685aeae2.png)
Am I missing something or is it just there? CC @mart-e

[2017-10-05 11:08] F3000 commented on #19890
I see only that when I click on 11.0 Stable .

But when I follow the instructions to install 11.0 , there is one line where I have to add the repo .

Under nightly 10.0 there is another entry Odoo.repo. Do you have an idea ?

[2017-10-05 11:10] F3000 commented on #19890
![aa5824bb-8204-4642-be08-a4cba6ac4d27](https://user-images.githubusercontent.com/8161283/31224509-80f1c4da-a9ce-11e7-96f3-c3f687679249.png)

[2017-10-05 11:34] Yenthe666 commented on #171
Hi @yelizariev ,

Again a bit thank you for the report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:34] #171 closed

[2017-10-05 11:34] Yenthe666 commented on #579
Hi @yostashiro ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-05 11:35] Yenthe666 commented on #874
Hi @RoelAdriaans-B-informed,

As there has been no response and the support for Odoo 8 has stopped I'm closing this issue.
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:35] #874 closed

[2017-10-05 11:35] Yenthe666 commented on #1010
Hi @kodemi ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-05 11:35] #1010 closed

[2017-10-05 11:35] #579 closed

[2017-10-05 11:36] Yenthe666 commented on #1080
Hi @antillia,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:36] #1080 closed

[2017-10-05 11:36] Yenthe666 commented on #1088
Hi @ethanfurman,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-05 11:36] #1088 closed

[2017-10-05 11:37] Yenthe666 commented on #1093
Hi @kihiuho ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: It should be fixed in newer versions.

Regards,
Yenthe

[2017-10-05 11:37] #1093 closed

[2017-10-05 11:37] Yenthe666 commented on #1109
Hi @benrolsen,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-05 11:37] #1109 closed

[2017-10-05 11:38] Yenthe666 commented on #1135
Hi @TheTesla,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:38] #1135 closed

[2017-10-05 11:38] Yenthe666 commented on #1136
Hi @mrawi,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-10-05 11:38] #1136 closed

[2017-10-05 11:38] Yenthe666 commented on #1139
Hi @miihir9898,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-05 11:38] #1139 closed

[2017-10-05 11:39] Yenthe666 commented on #1193
Hi @hbto,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:39] #1193 closed

[2017-10-05 11:40] Yenthe666 commented on #1198
Hi @user,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
I can see in the thread that there are multiple statements and/or issues so please do create new reports if multiple are still open

[2017-10-05 11:40] #1198 closed

[2017-10-05 11:43] Yenthe666 commented on #1499
Hi @dskarataev,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-05 11:43] #1499 closed

[2017-10-05 11:43] Yenthe666 commented on #1512
Hi @houssine78 ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:43] #1512 closed

[2017-10-05 11:43] n37r06u3 opened #19891 "Odoo11 ImportError: No module named web_kanban"
Impacted versions:
odoo11

[2017-10-05 11:44] Yenthe666 commented on #1240
Hi @PCatinean,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-05 11:44] Yenthe666 commented on #1266
Hi @YogiYang,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:44] #1266 closed

[2017-10-05 11:45] #1240 closed

[2017-10-05 11:46] Yenthe666 commented on #1305
Hi @thomas-willdooit,

Thank you for your report.
This bug has been handled and fixed before but nobody ever closed this issue.
Closing this one. 😉

Regards,
Yenthe

[2017-10-05 11:46] #1305 closed

[2017-10-05 11:46] Yenthe666 commented on #1310
Hi @wtebbens,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 11:46] #1310 closed

[2017-10-05 11:46] Yenthe666 commented on #1334
Hi @javierjcf,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-05 11:46] #1334 closed

[2017-10-05 11:52] Yenthe666 commented on #1414
There is indeed only one sub-level at the moment. This is desired behaviour (in V8) 😉

[2017-10-05 11:52] #1414 closed

[2017-10-05 11:53] Yenthe666 commented on #1425
Hi @nbessi,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: A lot changed in 9.0, 10.0 and 11.0 so I assume this is now better 😉

Regards,
Yenthe

[2017-10-05 11:53] #1425 closed

[2017-10-05 11:54] Yenthe666 commented on #19891
Hi @n37r06u3,

Thank you for your report.
Please follow the template and add in more information about the problem.
How did you get it? Can you reproduce it? Can you trigger it on an official instance at runbot.odoo.com?

Regards,
Yenthe

[2017-10-05 12:25] Yenthe666 commented on #1331
Hey all,

I'm closing this issue as this is no longer relevant for V8 (as Odoo 8.0 reached the end of life).
This will keep popping up as it is labeled wishlist though!

Regards,
Yenthe

[2017-10-05 12:25] #1331 closed

[2017-10-05 12:25] Yenthe666 commented on #1375
Hi @yueming,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 12:25] #1375 closed

[2017-10-05 12:27] Yenthe666 commented on #1446
Hii @Bonwon88 ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-05 12:27] #1446 closed

[2017-10-05 12:27] Yenthe666 commented on #1398
Hi @parthivgls,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-05 12:27] #1398 closed

[2017-10-05 12:27] Yenthe666 commented on #1495
Hi @chrisludwig ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 12:27] #1495 closed

[2017-10-05 12:28] Yenthe666 commented on #1516
Hi @luismve,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-05 12:28] #1516 closed

[2017-10-05 12:29] Yenthe666 commented on #1539
Hi @youring,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-05 12:29] #1539 closed

[2017-10-05 12:30] Yenthe666 commented on #1479
Hi @pedrorgil ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: As it is labeled wishlist it will keep popping up though - don't worry.

Regards,
Yenthe

[2017-10-05 12:30] #1479 closed

[2017-10-05 12:31] Yenthe666 commented on #1560
Hi @mrawi,

Thank you for your suggestion.
It has been quite a while though and in the meanwhile almost the whole framework has been rewritten, including the website client.
I believe it has been improved 😉

Regards,
Yenthe

[2017-10-05 12:31] #1560 closed

[2017-10-05 12:32] #1664 closed

[2017-10-05 12:32] Yenthe666 commented on #1664
Hi @kenvac ,

Thank you for your bug report.
At this point Odoo 7 & 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 12:34] Yenthe666 commented on #1385
Hi @NicolasRigo,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-05 12:34] #1385 closed

[2017-10-05 12:34] l-arnold commented on #766
One comment on this is that most of this discussion focuses on payments from the Website.  My issue is that I have been having this error using "backend payments" where I have "show payment aquirers" enabled for my user.  The effect of this is, if I confirm a Quotation to become a Sales Order, I am presented with the "Pay with PayPal Button".  This is quite convenient to then go through the proces

[2017-10-05 12:34] Yenthe666 commented on #1574
Hi @thanhchatvn,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-05 12:34] #1574 closed

[2017-10-05 12:35] Yenthe666 commented on #1608
Hi @GoodERPJeff,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-05 12:35] #1608 closed

[2017-10-05 12:36] Yenthe666 commented on #1652
Hi @user,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: As it is labelled wishlist it will keep popping up.

Regards,
Yenthe

[2017-10-05 12:36] #1652 closed

[2017-10-05 12:36] Yenthe666 commented on #1654
Hi @svenpetersen,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo Odoo 6, Odoo7 and Odoo 8 are no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we e

[2017-10-05 12:36] #1654 closed

[2017-10-05 12:38] augustosamame commented on #19888
It seems the Community v11 I got yesterday from the v11 branch is not the latest one?

git clone https://github.com/odoo/odoo.git -b 11.0

This is what I see. Even the UI is different so I will check my Odoo download and report back:

![image](https://user-images.githubusercontent.com/16038063/31227635-2833cbdc-a9a0-11e7-80d5-d8d27c48653e.png)

[2017-10-05 12:41] Yenthe666 commented on #19888
Hi @augustosamame,

Please do try to update the Odoo instance or install a new one - it looks like something went wrong there. 😉
Keep me updated!

[2017-10-05 12:47] augustosamame commented on #19888
This is so weird:

![image](https://user-images.githubusercontent.com/16038063/31227865-055f3654-a9a1-11e7-91a1-b80fa13620ac.png)

![image](https://user-images.githubusercontent.com/16038063/31227884-13dbcb5c-a9a1-11e7-9aeb-3d627ed2f707.png

Sorry for such a basic question, but how can I get the latest (stable) version 11 community code, preferrably via git?

I used this yesterday:

git clone http

[2017-10-05 12:56] Yenthe666 commented on #19888
Hmm that all looks fine really, including your git command. @mart-e do you see anything off?

[2017-10-05 13:16] n37r06u3 commented on #19891
It was my odoo.conf error, odoo11 no need web_kanban~
server_wide_modules = web,web_kanban

[2017-10-05 13:16] #19891 closed

[2017-10-05 13:28] murtadakarjikar commented on #19681
There are two types of reconciliations in Odoo –

One is payment reconciliation – This happens when a payment is processed and the vendor or customer account is reconciled. This reconciliation ID can be seen when we drill down in the payment entry eg. A223 etc.

Second is the accounting term generally termed as Bank Reconciliation. The issue you are reporting is this type of reconciliation. When y

[2017-10-05 13:50] bharatkhandelwal commented on #19681
@murtadakarjikar

I  have  checked as per step and i clarified  its not bug . thanks for help and clarification

[2017-10-05 13:50] #19681 closed

[2017-10-05 14:48] fernandoparada18 opened #19895 "[I18N] Error in content translation using es_VE"
Impacted versions: 8.0

Current behavior: When installing the es_VE translation, translate the word "or" in English for the following content in Spanish "¡el módulo base no puede ser cargado! (consejo: verifica el addons-path)".

Expected behavior: With the installation of the es_VE translation you should translate the word "or" from English to "o" in Spanish.

Screenshot link:

https://www.dropbo

[2017-10-05 15:19] Ark74 commented on #14391
Ohh. Then it makes sense why I keep getting those errors.

Thanks for the heads up :)

El 5 de octubre de 2017 1:25:09 AM CDT, Wolfgang Taferner <notifications@github.com> escribió:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2017-10-05 15:22] vimit opened #19897 "[11.0] odoo v11 developer mode installation error < No module named packages >"
i had this bug , i have all python packages installed
![bug1](https://user-images.githubusercontent.com/32547704/31235302-139ad136-a9e9-11e7-8aa0-f0e8c18f70c2.jpg)

![bug2](https://user-images.githubusercontent.com/32547704/31235301-13974ab6-a9e9-11e7-967d-f2dccb75f7c0.jpg)

[2017-10-05 15:47] hbto commented on #1193
Oh thanks for your reply

Quien suscribe,

*Hbto*

On Thu, Oct 5, 2017 at 7:39 AM, Yenthe V.G <notifications@github.com> wrote:

[2017-10-05 15:55] simahawk commented on #16641
@gorash any chance we can talk about this at OdooExperience ? :)

[2017-10-05 16:03] flyingL123 commented on #19889
Thanks @Yenthe666. Just to clarify, I am calling the API from a PHP script on my own server. We're using a hosted version of Odoo Sass, so we don't have access to the actual Odoo source code. Does this mean I have no way around this issue since I can't access the actual XMLRPC code?

Or is there some way to convert `None` to `False` before this error gets thrown?

[2017-10-05 16:20] libukoshy opened #19898 "[11.0] l10n_in_stock uninstallable"
Impacted versions:
Odoo 11
Steps to reproduce:

Current behavior:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "D:\Program Files\odoo-11.0\odoo\http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\Program Files\odoo-11.0\odoo\http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), e

[2017-10-05 16:25] totalard commented on #19898
Yeah... Me too Same

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/models.py", line 971, in _validate_fields
    check(self)
  File "/usr/lib/python3/dist-packages/odoo/addons/base/ir/ir_ui_view.py", line 316, in _check_xml
    view_def = view.read_combined(['arch'])
  File "/usr/lib/python3/dist-packages/odoo/addons/base/ir/ir_ui_view.py"

[2017-10-05 16:26] totalard commented on #19897
I got the same

[2017-10-05 16:50] xabitrigo opened #19900 "Odoo 11 debian nightly repository missing signature"
**Impacted versions:**
Odoo 11

**Steps to reproduce:**

Ubuntu 16.04 machine, setup following https://nightly.odoo.com/

[code]
**Current behavior:**
[code]
It seems `Release.gpg` is missing from the repository

**Expected behavior:**

Installation complete

[2017-10-05 16:51] matt454357 commented on #18084
Hello @tivisse
Please reopen this issue.  It still is not working properly, as shown in the following screenshots.  Before confirming, the tax rate is 6.88% for both lines.  Confirming changes the tax rates to 6.87% and 6.85%.  The real tax rate in Chester NJ is 6.875%.

![draft](https://user-images.githubusercontent.com/7604932/31238049-d953a2a6-a9b5-11e7-8078-054ab9d72459.png)

![confirmed](http

[2017-10-05 19:36] grzegorz-openglobe opened #19903 "[10.0] readonly access to product and no possibility to create lot"
Impacted versions: 10

Steps to reproduce: Build user rights to not allow write, create records in product.product and in product.template. I seem quite reasonable customer requirement. Try to create a lot with such user rights.

Current behavior:
 You get "Odoo Warning - Access Error"
with "(Document model: product.product)" at the end.
After deeper investigation I noticed that when you create ne

[2017-10-05 22:39] danimaribeiro commented on #19887
@Yenthe666 Indeed is a bug:
This piece of code does not make sense anymore:
https://github.com/odoo/odoo/blob/11.0/odoo/http.py#L116

As odoo/service/report.py was completely removed.

[2017-10-05 23:25] fmdl opened #19904 "[Master,11,10,9,8][Security] model.transient : read_group() and read() have access of all records of all user"
Impacted versions:
master, 11, 10, 9, 8

Steps to reproduce:

- use SQL code to generate lines on transient model, with create_uid = 1.
- connect with an other uid
- go on the tree view of this model
- you see no record
- BUT group by and pivot works

Current behavior:
any other user can see with pivot or group by some information

Expected behavior:
any other user cannot see data

Start of soluti

[2017-10-05 23:40] edsersolis opened #19905 "[11.0] Inventory doesn't work"
Impacted versions:
v11e

Steps to reproduce:
1. Create a Product.
2. Click on "Update Qty on Hand".
3. Input a quantity and click apply.

Current behavior:
1. Quantity is not being really updated, product will still show zero (0) quantity.
2. Movement is shown on inventory but isn't really affecting the product.
3. Other modules like MRP keep waiting for the quantity to become available, meaning i

[2017-10-06 04:25] edsersolis commented on #19905
I changed the title because I now notice that nothing from inventory actually works, moves show in the Stock Moves report.

But I tried receiving stock through the Update Qty on Hand, through Purchases, through Inventory Adjustments and nothing work.

Trying to do an inventory adjustment always shows this error (note: there are no custom modules only oem):

`Error:
Odoo Server Error

Traceback (mo

[2017-10-06 04:34] khishigbat opened #19907 "[10.0] Translation string missing from .po file"
Impacted versions: 10.0

Steps to reproduce:
Deleting an employee on HR module.

Current behavior:
The strings "The operation cannot be completed, probably due to the following:\n- deletion: you may be trying to delete a record while other records still reference it\n- creation/update: a mandatory field is not correctly set" and "object with reference:" on file  odoo/odoo/service/model.py are not

[2017-10-06 05:22] Yenthe666 commented on #1727
Hi @nicoclavier,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-06 05:22] #1727 closed

[2017-10-06 05:22] Yenthe666 commented on #2403
Hi @feketemihai,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-06 05:22] #2403 closed

[2017-10-06 05:23] Yenthe666 commented on #2282
Hi @houssine78 ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: As this is labelled wishlist it will keep popping up.

Regards,
Yenthe

[2017-10-06 05:23] #2282 closed

[2017-10-06 05:23] Yenthe666 commented on #2255
Hi @jjscarafia,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-06 05:23] #2255 closed

[2017-10-06 05:24] Yenthe666 commented on #2240
Hi @imjaypatel,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-06 05:24] #2240 closed

[2017-10-06 05:24] Yenthe666 commented on #2221
Hi @haufes,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-10-06 05:24] #2221 closed

[2017-10-06 05:25] Yenthe666 commented on #2195
Hi @kenvac,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-06 05:25] #2195 closed

[2017-10-06 05:25] Yenthe666 commented on #2167
Hi @kevin3274,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-06 05:25] #2167 closed

[2017-10-06 05:26] Yenthe666 commented on #2166
Hi @rruebner,

Thank you for your bug report and the alternative way around the bug.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-06 05:27] Yenthe666 commented on #2151
Hi @rven,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-06 05:27] #2151 closed

[2017-10-06 06:19] Yenthe666 commented on #19907
Hi @khishigbat,

Thank you for your report.
Can you reproduce this on an official Odoo instance (at runbot.odoo.com)? Have you tried updating your Odoo? An example from the latest Odoo 10 in Dutch:
![image](https://user-images.githubusercontent.com/6352350/31265428-116e544c-aa6f-11e7-8a49-4ff4b3a56f0f.png)

Regards,
Yenthe

[2017-10-06 06:21] peterhoth opened #19908 "[11.0]: Point of sale configuration generates error"
Impacted versions:
version 11 (source dated: 3 Oct 2017)

Steps to reproduce:
Point of Sale > Configuration > Point of Sale create a record, check either "Is a Bar/Restaurant" or "Global Discounts" and then save.

Current behavior:
[code]

[2017-10-06 06:25] Yenthe666 commented on #19905
Hi @edsersolis,

Thank you for your report.
Something does look off here and I also found another bug.
1. Create a product
2. Open the tab "inventory"
3. Check and uncheck the different routes for the product
4. Behold, a  JavaScript traceback:
![image](https://user-images.githubusercontent.com/6352350/31265589-ea1dff4a-aa6f-11e7-9923-a05dbd087ddb.png)

[2017-10-06 06:26] Yenthe666 commented on #19905
@mart-e and @nim-odoo could one of you look at this? It tends to break very fast on one of the most used Odoo features 😉

[2017-10-06 06:28] Yenthe666 commented on #19908
Hi @peterhoth,

Thank you for your report.
I've just checked this on the latest 11.0 and it works without any problems:
![image](https://user-images.githubusercontent.com/6352350/31265676-4fc08ae8-aa70-11e7-92a1-c7df62873cc8.png)
Could you try it again on an official Odoo instance (at runbot.odoo.com) or after updating your own Odoo?

Regards,
Yenthe

[2017-10-06 06:31] Yenthe666 commented on #19904
Hmm perhaps something for you to check @odony?

[2017-10-06 06:31] Yenthe666 commented on #19903
@nim-odoo could you have a look?

[2017-10-06 06:34] Yenthe666 commented on #19898
Hey @libukoshy,

Please add a bit more information, such as a flow to do for triggering this error. Otherwise it'll be hard to help you 😉

[2017-10-06 07:08] peterhoth commented on #19908
Hi @Yenthe666,

I downloaded the latest source (4 oct 2017) and this seems to fix the issue. Will do further test. Thanks!

[2017-10-06 07:08] #19908 closed

[2017-10-06 07:23] saeugetier opened #19909 "[11.0] Website cart setting - Promo is settable in community version"
Impacted versions: V11c

Steps to reproduce: When opening the cart view on eCommerce website there is a menu "customize". The option "Promo code" can be activated. The promotion code feature is an enterprise feature.

Current behavior: With activated promotion code option there is a server error 500 when viewing the shopping cart.

Expected behavior: Promotion code should not be selectable in comm

[2017-10-06 07:38] Yenthe666 commented on #19908
You're welcome - best of luck!

[2017-10-06 07:55] Yenthe666 commented on #19909
Hi @saeugetier,

Thank you for your report.
I've just tested this on the latest Odoo 11.0 without any problems:
![image](https://user-images.githubusercontent.com/6352350/31268395-5fcf0714-aa7c-11e7-908a-2e462b78e18d.png)
Can you reproduce this on an official Odoo instance (at runbot.odoo.com)? Have you updated your Odoo to the latest codebase?

Regards,
Yenthe

[2017-10-06 07:59] Yenthe666 commented on #19897
Hi @vimit,

Can you give more information please?
Is this on a community version? How does your config file look? Did you customize anything?

Regards,
Yenthe

[2017-10-06 08:03] gdgellatly commented on #19897
Use python 3.

On Fri, 6 Oct 2017, 8:59 PM Yenthe V.G, <notifications@github.com> wrote:

[2017-10-06 08:12] Yenthe666 commented on #19897
Ohh good catch @gdgellatly.
@sle-odoo I guess your question is already answered - it looks like 2.7 won't work out of the box anymore. 😉

[2017-10-06 08:15] vimit commented on #19897
I'm using community version, and i didn't change any thing in config file
I changed to python 3 and i get this message
![bug3](https://user-images.githubusercontent.com/32547704/31269049-c4bf8096-aa76-11e7-96f4-73151306ec9a.jpg)

[2017-10-06 08:17] Yenthe666 commented on #19895
Hi @fernandoparada18,

Thank you for your report.
As mentioned on the PR the support for 8.0 has ended so I'm closing this because of that. Sorry.

Regards,
Yenthe

[2017-10-06 08:17] #19895 closed

[2017-10-06 08:18] saeugetier commented on #19909
@Yenthe666 thanks for the quick reply. Obviously I wasn't using the latest version. Right after my git pull there was a commit which fixes the problem: https://github.com/odoo/odoo/commit/ea51b6b06f33fa97ace9c55bb86fceaeb60bb18a

[2017-10-06 08:18] #19909 closed

[2017-10-06 08:18] gdgellatly commented on #19897
It's pretty unlikely you are using python 3, that's a python 2.7 traceback.

On Fri, 6 Oct 2017, 9:15 PM vimit, <notifications@github.com> wrote:

[2017-10-06 08:22] vimit commented on #19897
![python version](https://user-images.githubusercontent.com/32547704/31269327-e1912d72-aa77-11e7-8430-b5aa64426c8e.jpg)

[2017-10-06 08:33] Yenthe666 commented on #19897
@vimit you have version `3.4.3` installed (and `2.7`). It is not because you have Python `3.4.3` installed that Odoo will automatically use Python 3.4.3.

[2017-10-06 08:33] Yenthe666 commented on #19909
Awesome - best of luck!

[2017-10-06 08:35] gdgellatly commented on #19897
In any case, python 3.5 is minimum version. I'm running 11 on Ubuntu just
fine and have for a couple months so it isn't likely a bug, just deployment
issues.

On Fri, 6 Oct 2017, 9:22 PM vimit, <notifications@github.com> wrote:

[2017-10-06 08:44] vimit commented on #19897
the same with python 3.5
is it problem with PYTHONPATH in my system ?

[2017-10-06 09:34] mart-e commented on #19888
Click on the "Activate the developer mode" link in your last screenshot and you should see it 😉

[2017-10-06 09:46] mart-e commented on #19888
The difference is that Yenthe is looking at the enterprise version and you are looking at the community version.
In version 11, the accounting is an enterprise version, so this is why you don't see all the options.
To see it you need to active the full accounting feature group in the settings.

[2017-10-06 10:14] #19846 closed

[2017-10-06 10:35] hanyelbanna opened #19911 "[11.0]: Translated Terms synchronize Error"
Impacted versions:
11.0
Steps to reproduce:
Translations -> Synchronize Terms -> Language : Arabic
Current behavior:
Error:
Odoo Server Error
[code]
Expected behavior:
Do Synchronize Terms

[2017-10-06 10:42] HNaga commented on #19900
still not signed
W: The repository 'http://nightly.odoo.com/11.0/nightly/deb ./ Release' is not signed.

[2017-10-06 10:52] ddfs opened #19912 "[11.0] Create or edit contact / company: "Account Receivable, ..." missing"
Impacted versions:
11

Steps to reproduce:
-- create a contact / company from contacts manager
or
-- create a new sale order create customer

Current behavior:
Account Receivable, Account Payable fields are not visible to set any information.

Expected behavior:
Make fields visible for editing data

Video/Screenshot link (optional):
![screenshot from 2017-10-06 13-50-45](https://user-images.github

[2017-10-06 11:05] Yenthe666 commented on #19900
@sle-odoo can you correct this?

[2017-10-06 11:08] Yenthe666 commented on #19912
Hi @ddfs,

These fields are available under the tab "Invoicing":
![image](https://user-images.githubusercontent.com/6352350/31275440-7b2bc20c-aa97-11e7-9e77-b51e09d6d0e9.png)

Regards,
Yenthe

[2017-10-06 11:14] ddfs commented on #19912
@Yenthe666 this is related to res.partner.

[2017-10-06 11:24] Yenthe666 commented on #19912
Hi @ddfs,
Okay I've been a bit to fast. Do you mean this (taken from V10)?
![image](https://user-images.githubusercontent.com/6352350/31275923-99a81670-aa99-11e7-9bd5-290cfcad709d.png)
![image](https://user-images.githubusercontent.com/6352350/31275934-a7b424c0-aa99-11e7-821c-4a3b923907e8.png)

[2017-10-06 11:28] nim-odoo commented on #19701
This is caused by https://github.com/odoo/odoo/commit/7dd344129e2ae30a857f72fdf61dca6e40768983
The context is changed here:
https://github.com/odoo/odoo/blob/saas-14/odoo/addons/base/res/res_partner.py#L52

However, `Partner` is not returned, so the context key `no_address_format` is never set in the context at this point:
https://github.com/odoo/odoo/blob/saas-14/addons/base_address_city/models/r

[2017-10-06 11:31] ddfs commented on #19912
from V11 and this warning pops up when no i10n_xx is installed but sale, invoicing etc all installed.
in earlier versions installation of i10n_xx packages were prompted to install. i guess that is the issue.

[2017-10-06 11:45] Yenthe666 commented on #19912
Gotcha, sorry for the confusion. @mart-e perhaps we have to prompt this again?

[2017-10-06 13:33] Yenthe666 commented on #19911
Hi @hanyelbanna,

Thank you for your report.
I can confirm that there is a bug here:
![image](https://user-images.githubusercontent.com/6352350/31279958-24da821c-aaab-11e7-881e-74c0cf098bbe.png)
On a sidenote: it is in every language, so it is the method itself that is broken. The error is coming from https://github.com/odoo/odoo/blob/11.0/odoo/tools/translate.py#L1034
@mart-e could you have a loo

[2017-10-06 13:37] Yenthe666 commented on #19874
Hi @carlinux,

Thank you for your report.
Odoo 8 is no longer supported officially and we're no longer fixing bugs in Odoo 8.
If you still face this in 9.0, 10.0 or 11.0 please do create a new report and we'll look into it!

Regards,
Yenthe

[2017-10-06 13:37] #19874 closed

[2017-10-06 13:41] augustosamame commented on #19888
Thank you for clarifying it in part. However, I don't understand the proposed solution: "you need to active the full accounting feature group in the settings". Where is this option located in the v11 community version? Can't find it anywhere.

[2017-10-06 13:54] augustosamame commented on #19888
Ok. Got it! The solution is to give extended Accounting permissions to the user. In debug mode, go to Users, Access Permissions Tab, Technical Configuration, and select the Accounting checkbox. After refreshing/relogging user will have access to Accounting Dashboard and the missing Journal Advanced Settings.

[2017-10-06 13:54] #19888 closed

[2017-10-06 13:56] Derter commented on #19897
I have the same error as OP. I have installed python 3.5 ontop of my python 2.7 environment. Its a VS and it has dependencies on python 2.7. How can I make it work? Thanks for any advice.

![bildschirmfoto 2017-10-06 um 15 55 23](https://user-images.githubusercontent.com/14194754/31281164-f636d56a-aaae-11e7-81fa-7b8a0c9f4287.png)

[2017-10-06 14:21] Yenthe666 commented on #19908
As a sidenote: fixed by https://github.com/odoo/odoo/commit/94cddf69e453ff4cb80a070d1d8b301b0a4b9298 on 04/10/2017.

[2017-10-06 14:53] edsersolis commented on #19912
Haven't tried it on CE but on EE it works just fine. Did you make sure that you have installed your corresponding localization?

[2017-10-06 15:05] Jerther commented on #14689
Looks like it did not make it to 11.0. Same as 10.0: no add, no delete, no nothing :(

![image](https://user-images.githubusercontent.com/5856745/31284312-2dfc1b50-aa86-11e7-93d6-ab0ef2f2ce69.png)

[2017-10-06 16:29] taxcloud commented on #18084
Looks like the only issue is display rounding. But cannot explain the variety of rounding results (6.88, 6.87, 6.85) unless it is averaging across multiple factors.

[2017-10-06 19:26] jreed63119 opened #19918 "Google Analytics Not Tracking Ecommerce Revenue Accurately"
Impacted versions: 11?

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

FYI NOT a developer. This seems like it should be easy. Google Analytics is not tracking revenue accurately. Some of the revenue is being tracked. I added my Google Analytics UA number to Odoo. Where can I add the JS to track ecommerce?

[2017-10-06 19:46] matt454357 commented on #18084
Upon further review of the code, I believe we should revert your fix.
Rounding the tax rate to the 2nd decimal place could introduce a significant error on the total tax amount.  This will guarantee perfect accuracy on the tax amount.  We need to use full float precision.

The final tax rate is based on the rounded amount from TaxCloud.  Many sales tax rates in the US have 4 significant figures (e

[2017-10-06 19:58] jco-odoo commented on #14689
You can do it when you unlock.  (by default without reserving as the To Consume is 0)

[2017-10-06 20:22] Jerther commented on #14689
Yes! FInally :') Thank you!!!

And to remove, I guess we just set the quantity to 0?

![image](https://user-images.githubusercontent.com/5856745/31297022-6fbdd124-aab2-11e7-9b7f-f0bdc3144588.png)

[2017-10-06 20:49] bazemoreb commented on #18084
Hi @matt454357  - yes, definitely agree this is still broken.  I had made some notes on this in a different thread also i'm looking for.  It looks to me like on the validation step, the code is looking to reverse calculate the taxes as a means of checking.  the rounding comes from that.

[2017-10-06 20:51] bazemoreb commented on #18084
Here was my testing/example:
Create a partner with the address of 1521 S Burr St, Mitchell, SD 57301 (tax rate should be 6.5% - confirmed on taxcloud's website). Now create a product with price of $25 and a product with price of $19.95. Add those to either a quotation or an invoice (it seems to follow same steps and same result). You will see that a tax is created of 6.5%. Now confirm quote or val

[2017-10-06 21:05] matt454357 commented on #18084
Your calculations are correct.  The tax rate is obviously wrong, but it still gives an accurate total because the amount error is in fractions of pennies (which get dropped by the decimal precision setting).  The effect of the python code is to use the **AMOUNT** from TaxCloud, and so the **RATE** is not important.

There's an easy fix: don't show the rate in the sales order report.  This assumes

[2017-10-06 21:12] Ark74 opened #19919 "MRP: Product Cost Structure decimal precisions"
**Impacted versions:**
Odoo CE - 10.0

**Steps to reproduce:**
Setup MRP, Product BOM, on database decimal precision set 3 digit on cost price.

**Current behavior:**
The decimal precisions for the quantities, cost/supplier price per unit of measure were not respected. It was always set to 2 digits, whatever the configuration in the database decimal precisions.

**Expected behavior:**
Use the defi

[2017-10-06 21:21] matt454357 commented on #18084
The reason the rate changes from quotation to confirmed sales order:

Quotations estimate the tax rate based on a $100 purchase.  That pushes the rounding error beyond the 2nd decimal place, where Odoo rounds the tax name (e.g. 6.88% for a rate of 6.875%).

When confirming the sales order, the code get's the actual tax amount from TaxCloud.  If the price of an individual item is less than $100, th

[2017-10-06 21:32] hugho-ad commented on #16926
fixed in https://github.com/odoo/odoo/commit/d7f84c273b6584606451d09bc4f0f7e091c4096c

[2017-10-06 21:32] #16926 closed

[2017-10-06 21:32] bazemoreb commented on #18084
Hmm - would have to look through code, but I'm not sure why it would make sense to get the tax amount and use an arbitrary number to calculate the tax percentage.  I would think that taxcloud would be returning an actual tax percentage (also - as you say, this should be three decimal rounding, as this is common).  My assumption was we pass the address to taxcloud, and are returned a decimal repres

[2017-10-06 21:33] hugho-ad commented on #18363
This fix causes the following problem

keeping  lang es-419 in chrome browser
First Open the live chat from website , be sure  you are not logged in (guest user)
- Second, Sign up/ Sign in
**- The live chat channel is not displayed**
- Finally logout and you will be able to see the live chat channel
![image](https://user-images.githubusercontent.com/10233975/31291974-3697eb52-aa97-11e7-9464-a1de27

[2017-10-06 22:29] categulario commented on #19511
As mentioned here https://github.com/psycopg/psycopg2-wheels/issues/2, try installing the no-binary version of psycopg2

[2017-10-06 22:44] hugho-ad opened #19920 "[10.0] website_live_chat: Chrome lang spanish Latin America (es_419), channel_fetch_meesage- Faild Expected Singleton"
Impacted versions:
10.0

Steps to reproduce:
At https://github.com/odoo/odoo/issues/18363 was reported issue related with es-419 lang
And were applied this fix
https://github.com/odoo/odoo/commit/6879409723184ed360043b7a2da11fcd725e5c4f

But that fix tiggers the next

This fix causes the following problem

keeping  lang es-419 in chrome browser
- First Open the live chat from website , be sure  yo

[2017-10-06 22:47] matt454357 commented on #18084
TaxCloud returns a tax **amount**, not a tax **percentage rate**.  That's explained by David Campbell, of TaxCloud, in his post above.  Unfortunately, the entire Odoo system was designed to use percentage rates.

TaxCloud is making some very complex computations (rounding rules, tax holidays, extended price considerations, regressive rates, product categories, etc.).  A simple percentage rate woul

[2017-10-07 00:04] categulario commented on #19511
As mentioned here https://github.com/psycopg/psycopg2-wheels/issues/2, try installing the no-binary version of psycopg2

[2017-10-07 06:26] lukebranch opened #19924 "[11.0] Does Odoo 11.0 Support PostgreSQL 10.0 (Released 05/10/2017)?"
<h1>Impacted Versions:</h1>
Odoo 11.0

<h1>Steps To Reproduce:</h1>
N/A

<h1>Current Behaviour:</h1>
Odoo 11.0 appears to support PostgreSQL 10.0.

<h1>Expected Behaviour:</h1>
There are a number of major improvements included in PostgreSQL 10.0, listed in the release notes here:
https://www.postgresql.org/docs/10/static/release-10.html

It would be great to hear from the Odoo SA team if Odoo 11.0

[2017-10-07 06:40] lukebranch commented on #10357
Further to this thread, has anyone played around with PostgreSQL 10.0 yet with Odoo 11.0 (or any previous Odoo releases)?:
https://github.com/odoo/odoo/issues/19924

Release notes for PostgreSQL 10.0 (released on the 5th) are here if anyone is interested:

https://www.postgresql.org/download/linux/ubuntu/

[2017-10-07 08:04] Yenthe666 commented on #10357
It is on my wishlist to do as fast as possible. I'm curious about performance. When I find some free time I will :)

[2017-10-07 08:08] Yenthe666 commented on #19920
Hmm @mart-e this is a follow up of the previous one you fixed. Perhaps you can look at this one too?

[2017-10-07 08:12] gdgellatly commented on #19924
@lukebranch While I'm not odoo, this is how it has gone for every single release in the past.

Yes it will work (obviously test first, and wait a few weeks for the inevitable minor bugfix release/issue reports), but only those **database** features that are present in the minimum recommended version and that the ORM actually uses.  The ORM -> psycopg2 -> postgres really is just generating very sim

[2017-10-07 10:07] FilippoIOVINE opened #19927 "[11.0] Previously logged on an Odoo 10 db then logging in always stops on 500 error."
Steps to reproduce:
- version 11 just installed
- several odoo 10 DBs were already installed
- before installing odoo 11 I was logged to an odoo 10 db
- when tried to login then stop on 500 error loops (because incompatible odoo 10 db was chosen)

Forcing url /web/session/logout didn't fix (db is not forget), check file: odoo-11.0/addons/web/controllers/main.py to see code involved when logging ou

[2017-10-07 10:57] wtaferner opened #19928 "[FIX/IMP] Non-updateable module maintained objects (like templates)"
**Impacted versions:**
All

**Steps to reproduce:**
Have a database starting in version 8. Install your mail module and do nothing to the templates at all.
Migrate to version 10 and test if the mail modules work properly. Well, they don't b/c templates are marked in the module as non-updateable...so basically it is a one-time shot to create production data which seems to be maintained in a module

[2017-10-07 11:01] wtaferner commented on #19928
@olilau
This is probably also interesting for you as you are the Odoo developer hero who is/was ready to take the unliked job of taking care of maintaining migration processes or work on a smooth migration over time...feel free to ping anyone else who needs to be involved in such a mechanism.

[2017-10-07 11:18] aspcsharp9 opened #19929 "Responisve theme odoo 11"
Impacted versions: 11

Steps to reproduce:

Current behavior: Is it available responsive backend theme in community odoo 11?

Expected behavior:

Video/Screenshot link (optional):

[2017-10-07 11:19] wtaferner opened #19930 "[FIX/IMP] Non-updateable views based on changes in frontend editor are not properly maintained via module"
**Impacted versions:**
All

**Steps to reproduce:**
In the frontend it is possible to change module maintained views in edit mode or via the HTML Editor. These views are marked as non-updateable and therefore will not be updated when the responsible module is upgraded. This is not fun for the same reason why the web studio does create a proper inheritance on the view in the backend.

**Current beh

[2017-10-07 11:21] gdgellatly commented on #19927
That's weird? How would the v11 database user even see the v10 database?

On Sat, 7 Oct 2017, 11:07 PM Filippo Iovine, <notifications@github.com>
wrote:

[2017-10-07 11:21] wtaferner commented on #16468
@rco-odoo
Just found this issue where @mart-e was asking for you input. It is still appreciated and maybe @Yenthe666 can tag this as framework and wishlist? As it is about mixins I also ping @tde-banana-odoo :-) Mention party for everyone ;-)

[2017-10-07 11:23] wtaferner commented on #10500
As @treviser is now able to review himself and probably no one else is aware of this issue I close it.

[2017-10-07 11:23] #10500 closed

[2017-10-07 11:26] injazllc opened #19931 "Website Builder Installation Failed odoo 11 Enterprise Edition"
Try to install website builder but it shows error on odoo 11 Enterprise Edition

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), excep

[2017-10-07 11:27] FilippoIOVINE commented on #19927
here you can see first two DBs are from v10.

![image](https://user-images.githubusercontent.com/5149320/31307343-ef89bb9c-ab62-11e7-9b6c-fe39050a3f49.png)

[2017-10-07 11:31] wtaferner commented on #2714
@ged-odoo
As we had an interesting talk at the Odoo experience I just ping you on the issue with the widget handle that you might want to assign it to someone in the team to get things moving in the future. A first step would be to take care that the increase of sequences is not done by a gap of 0 but leave some space that the chain of operations is massively shorter than the propagation over all

[2017-10-07 11:41] gdgellatly commented on #19927
I think if you run same port and I'm assuming same db user for postgres for
2 different versions thats asking for trouble. I actually did that once by
accident, and it upgraded the database for me with a -u base. Was a lot of
manual database edits to fix that one.

On Sun, 8 Oct 2017, 12:27 AM Filippo Iovine, <notifications@github.com>
wrote:

[2017-10-07 11:59] Yenthe666 commented on #16468
Ofcourse I can! Let us wait what on what @rco-odoo suggests.

[2017-10-07 12:02] Yenthe666 commented on #19928
Hmm, I've never noticed this before or thought about it honestly. It would be nice if we can tackle this eventually, although just a small group is hit by this. I'm sure @odony has a good opinion and feedback on this actually.

[2017-10-07 12:05] FilippoIOVINE commented on #19927
I just updated my local version of Odoo to v11 (v10 has gone) and db selector was giving me list of local postgres DBs (including v10 ones).
So quite common case IMHO.
Just considering that if you wrongly select a v10 DB you got stuck in the 500 error loop if you do not delete its cookie.

[2017-10-07 12:07] Yenthe666 commented on #19930
So I did.
I've actually been hit by this a few times before too and it can be annoying.
In my opinion it should have a checkbox or two step flow to be sure.

[2017-10-07 12:09] wtaferner commented on #19928
@Yenthe666
Thx, well, it actually hits a huge group but only a small group might realize ;-)

[2017-10-07 12:10] Yenthe666 commented on #19929
Hi @aspcsharp9,

Thanks for your report.
While Odoo tries to look at responsiveness and flexibility I believe we can conclude that the community version is not fully responsive and mobile. The enterprise version is though!

Regards,
Yenthe

[2017-10-07 12:10] #19929 closed

[2017-10-07 12:11] Yenthe666 commented on #19928
You might be right there. It is not something you notice right away. ;-)

[2017-10-07 12:13] Yenthe666 commented on #19924
Hmm this is a good question. I think we should ask an official statement from either @mart-e or @odony here. I'm quite sure it'll work though. If I have time I'll try this out too. ;-)

[2017-10-07 12:16] Yenthe666 commented on #19919
Hi @Ark74,

Thank you for your report!
@jco-odoo could you have a look at this? I believe we should look at the decimal precision.

Regards,
Yenthe

[2017-10-07 12:18] Yenthe666 commented on #19918
Hi @jreed63119,

Thank you for your report. Could you please add more information and details about what exactly doesn't work or is wrong according to you?

[2017-10-07 14:06] psdhatti707 opened #19932 "Cross Site Scripting Vulnerability"

[2017-10-07 14:09] #19932 closed

[2017-10-07 15:34] Yenthe666 commented on #1746
Hi @gigidn,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-10-07 15:34] #1746 closed

[2017-10-07 15:35] Yenthe666 commented on #1763
Hi there,

Jco-odoo has handled this report pretty much and Odoo 8.0 is no longer supported as a long term version.
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-07 15:35] #1763 closed

[2017-10-07 15:35] Yenthe666 commented on #1786
Hi @antoniocanovas,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-07 15:35] #1786 closed

[2017-10-07 15:36] Yenthe666 commented on #1816
Hi @flotho,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-10-07 15:36] #1816 closed

[2017-10-07 15:37] Yenthe666 commented on #1887
Hi @anderswallenquist ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cr

[2017-10-07 15:37] #1887 closed

[2017-10-07 15:37] F3000 commented on #19890
Can nobody help me ?

[2017-10-07 15:38] Yenthe666 commented on #1884
Hi @csrocha,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-07 15:38] #1884 closed

[2017-10-07 15:38] ofssetpr opened #19934 "project_issue was dropped on Odoo 11?"
I just found the 'project_issue'(Issue Tracking) module is missing on 'Odoo 11 Community Edition'. So, how to handle issues on this version?

Thanks.

[2017-10-07 15:39] Yenthe666 commented on #1854
Hi @antonybrugger,

Thank you for your report.
This issue shouldn't be relevant anymore and Odoo 8 has reached the end of life.
Because of these things I'm closing this issue.

Regards,
Yenthe

[2017-10-07 15:39] #1854 closed

[2017-10-07 15:40] Yenthe666 commented on #1965
Hi @feketemihai,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-07 15:40] #1965 closed

[2017-10-07 15:40] Yenthe666 commented on #1966
Hi @feketemihai,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-07 15:40] #1966 closed

[2017-10-07 15:41] F3000 opened #19935 "Installation Guide Odoo 11"
I search a installation guide for version 11 on CentOS .

Can somebody help me ?

[2017-10-07 15:42] Yenthe666 commented on #1892
Hi @inetplus ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: Sorry it wasn't ever handled fully.

Regards,
Yenthe

[2017-10-07 15:42] #1892 closed

[2017-10-07 15:42] Yenthe666 commented on #1923
Hi @feketemihai,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-07 15:42] #1923 closed

[2017-10-07 15:44] Yenthe666 commented on #2098
Hi @blaggacao,

Thank you for your report.
I believe JCO handled some of these cases and as 8.0 is no longer supported I'm closing this issue.
If you still face this in 9.0, 10.0 or 11.0 then please create a new bug report.

Regards,
Yenthe

[2017-10-07 15:44] #2098 closed

[2017-10-07 15:44] Yenthe666 commented on #1924
Hi @feketemihai,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-07 15:44] #1924 closed

[2017-10-07 15:45] Yenthe666 commented on #2003
Hi @mvercruysse,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-07 15:45] #2003 closed

[2017-10-07 15:46] Yenthe666 commented on #2040
Hi @rvalyi,

I'm closing this as Odoo 8.0 is no longer supported.
I'll label this bug report as wishlist though so it will keep popping up.

Regards,
Yenthe

[2017-10-07 15:46] #2040 closed

[2017-10-07 16:32] Yenthe666 commented on #19934
Hi @ofssetpr,

The project_issue module has been removed in V11.
It has moved to the 'Helpdesk' module, under which you can create issues (tickets):
![image](https://user-images.githubusercontent.com/6352350/31309868-d0fda14a-ab8d-11e7-9f03-95e6c85b961c.png)

Regards,
Yenthe

[2017-10-07 16:32] #19934 closed

[2017-10-07 16:33] Yenthe666 commented on #19935
Hi @F3000,

You can find the official installation guides at https://www.odoo.com/documentation/10.0/setup/install.html

Regards,
Yenthe

[2017-10-07 16:33] #19935 closed

[2017-10-07 16:35] F3000 commented on #19935
That is for version 10 . 11 is a little bit different . There is no repo to add

[2017-10-07 16:42] Yenthe666 commented on #19935
True, as you'd need Python 3 support too. I'm afraid the 11.0 docs and guides are not yet released at the moment. Alternatively if you're fine with running Odoo on Ubuntu instead of centOS I have an installation script for Ubuntu 16.04 at https://github.com/Yenthe666/InstallScript/blob/11.0/odoo_install.sh
If you really need help I'd suggest you to ask this on the official help forums (help.odoo.c

[2017-10-07 16:47] F3000 commented on #19935
Thanks for that :)

Ubuntu is no option for me because the company use CentOS on all servers .

Did you know a date when you will publish the new docs ?

[2017-10-07 16:55] Yenthe666 commented on #2144
Hi @jaymaniar ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-07 16:55] #2144 closed

[2017-10-07 16:57] Yenthe666 commented on #2419
Hi @shingonoide,

This bug should be no longer in V8.
As V8 is no longer an official supported version I'm closing this issue.
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-07 16:57] #2419 closed

[2017-10-07 16:57] Yenthe666 commented on #2417
Hi @dattah,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-10-07 16:57] #2417 closed

[2017-10-07 17:01] Yenthe666 commented on #2480
Hey everybody,

This problem can no longer be reproduced on the latest source code of Odoo 8.

Regards,
Yenthe

[2017-10-07 17:01] #2480 closed

[2017-10-07 17:02] Yenthe666 commented on #2511
Hi @litnimax ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-07 17:02] #2511 closed

[2017-10-07 17:04] Yenthe666 commented on #2517
Hi everybody,

At this point Odoo 7 and Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-07 17:04] #2517 closed

[2017-10-07 17:04] Yenthe666 commented on #2606
Hi @Nick-OpusVL,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some. Sorry for this.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage

[2017-10-07 17:04] #2606 closed

[2017-10-07 17:06] Yenthe666 commented on #2628
Hi @tsabi,

This is not possible to do through data files (for as far as I know atleast).
The example from rvalyi should help you though.
If you ever face something like this I'd suggest you to ask it on the official help forums, plenty of people can help you there. You can find it at help.odoo.com

Regards,
Yenthe

[2017-10-07 17:06] #2628 closed

[2017-10-07 17:07] Yenthe666 commented on #2651
Hi @scperkins,

This has been fixed in the meanwhile and shouldn't be a problem anymore.

Regards,
Yenthe

[2017-10-07 17:07] #2651 closed

[2017-10-07 17:08] Yenthe666 commented on #2740
Hi @scosist,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-07 17:08] #2740 closed

[2017-10-07 17:09] #2747 closed

[2017-10-07 17:10] Yenthe666 commented on #2769
Indeed, fixed in the commit mentioned by Stefan.

[2017-10-07 17:10] #2769 closed

[2017-10-07 17:16] Yenthe666 commented on #19935
Hmm I don't, sorry.
@mart-e as you usually fix this, do you have any idea how long it'll take or what the progress it?

[2017-10-07 17:23] Yenthe666 commented on #19931
Hi @injazllc,

Thank you for your bug report.
I can confirm that this is a bug in Odoo:
![image](https://user-images.githubusercontent.com/6352350/31310245-e000402e-ab94-11e7-85d2-31ae8d032161.png)

@JKE-be could you please have a look? Quite a big breaker.

Regards,
Yenthe

[2017-10-07 22:08] JKE-be commented on #19931
Hi,

Thanks for the reporting. But I cannot reproduce

Are you sure that you have the last code (community et enterprise pulled) ?
or that your don't install the database before the 2 octobre?

This code has been deleted in commit: https://github.com/odoo/enterprise/commit/08c2180da71e237bcde6d4e3bc02c8eab073ef82

Best regards

ps @Yenthe666 : your traceback is not the same, if you arrive to repro

[2017-10-07 22:08] #19931 closed

[2017-10-07 22:11] JKE-be commented on #19918
@jreed63119

Hello, you just need to provide de UA,

The tracking code is already implemented by default.
(https://github.com/odoo/odoo/blob/11.0/addons/website_sale/static/src/js/website_sale_tracking.js)

Best regards

[2017-10-07 22:29] JKE-be commented on #19898
@sle-odoo @qdp-odoo

Uninstallable module since xpath is no more valid
`<xpath expr="//span[@t-field='pack_operation.product_id.description_picking']" position="after">`

[2017-10-07 22:33] JKE-be commented on #19897
@rrahir urllib3 not compatible python 2, can you check alternative plz

[2017-10-08 02:27] gdgellatly commented on #19931
odoo-bin -u base -d mydb --workers=0 --stop-after-init

Standard stuff, when models are in change prerelease.

On Sun, Oct 8, 2017 at 11:09 AM, JKE-be <notifications@github.com> wrote:

[2017-10-08 06:00] milanpatel1519 opened #19942 "[11.0] Logo missing in all reports"
Impacted versions: 11.0

Steps to reproduce: Print Invoice report and check company logo in header.

Current behavior: Just square box is printing.

Expected behavior: Has to print image of logo.

Video/Screenshot link (optional):

Also check in runbot.

Link : http://269483-saas-18-iap-al-cd48a8.runbot9.odoo.com
[Invoice - INV-2017-0007 (1).pdf](https://github.com/odoo/odoo/files/1366654/Invoice.

[2017-10-08 07:26] ashish-webkul opened #19945 "Error while updating image inside Odoo product"
Impacted versions: 11.0

Steps to reproduce: Update image of any product which already has an image from "**Product Variants**" Section.

Current behavior:
Error which i am getting `"Traceback (most recent call last):
  File "/usr/lib/python3.4/base64.py", line 519, in _input_type_check
    m = memoryview(s)
TypeError: memoryview: str object does not have the buffer interface

The above exception

[2017-10-08 09:09] peterhoth opened #19947 "[11.0] : ValueError: <class 'NameError'>: "name 'context' is not defined" when installing app"
Impacted versions:
version11 (odoo-11.0-20171007)

Steps to reproduce:
NOTE: using CentOS 7.3, Python 3.5.4, Postgresql 9.2.18
1. Fresh install : unzip source
2. ./odoo-bin -c demo.conf
3. Create database "odoo11_demo" and check "Load Demonstration Data"
3. Install "CRM" App
4. vi /var/log/odoo/demo.log
:

:

[2017-10-08 09:36] peterhoth opened #19948 "[11.0] : TypeError: this.editor.snippetsMenu is undefined when adding a new Point of Sale"
Impacted versions:
version11 (odoo-11.0-20171007)

Steps to reproduce:
NOTE: using CentOS 7.3, Python 3.5.4, Postgresql 9.2.18

1. Fresh install : unzip source
2. ./odoo-bin -c demo.conf
3. Create database "odoo11_demo" and check "Load Demonstration Data"
4. Install "Point of Sale" App (Internal Error: #19947. Not sure if the error is related)
5. Point of Sale > Create > Enter "test" for "Point of

[2017-10-08 11:49] HNaga opened #19950 "Employees screen bug"
Impacted versions: odoo community 11

Steps to reproduce: duplicate admin
update the new employee name to x

Current behavior:
all employees are updated  to x

Expected behavior:
only current record updated
Video/Screenshot link (optional):

[2017-10-08 13:02] thegunshow opened #19951 "Odoo.sh 11 - Enterprise"
Impacted versions: 11

Steps to reproduce: Set custom domain in odoo.sh>settings

Current behavior: Error: %2A.odoo.com’s server DNS address could not be found.

Expected behavior: Odoo web interface should be shown at my own   ##domain

Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/16087167/31317014-727e5040-ac39-11e7-98f5-ae2eeebbebe5.png)

[2017-10-08 13:11] arafatx opened #19952 "[Odoo 10.0c] Address field width too small. Cannot fit one line address. How to resize?"
Impacted versions:
Odoo 10.0c

Step to reproduce:

1) Put a company first address line with this:
    No 43, Jalan Rambai Jaya 29
2) Test viewing the external header report

The result (the number 29 goes into new line)
https://s1.postimg.org/2r0qac8fzz/oneline.png

I have no more clue after digging into the source code, I still cannot find a way to resize the width of the address. I tried changin

[2017-10-08 13:25] Yenthe666 commented on #19951
@antonylesuisse this one is for you - Odoo.sh related.

[2017-10-08 13:34] Yenthe666 commented on #19942
Hi @milanpatel1519,

Thank you for your report. I've just tested this on the latest Odoo 11.0 and this does seem to be broken:
![image](https://user-images.githubusercontent.com/6352350/31317212-529bcb14-ac3d-11e7-8485-f2d7e2d21cc8.png)
@sle-odoo could you have a look?

[2017-10-08 13:43] Yenthe666 commented on #19948
Hi @peterhoth,

Thank you for your report.
I've just tested this on the latest Odoo V11 (20171008) without any problems. Can you reproduce this on an official Odoo instance at runbot.odoo.com? Can you update your source code and try this again?

Regards,
Yenthe

[2017-10-08 13:47] Yenthe666 commented on #19945
Hi @ashish-webkul,

Thank you for your bug report.
I've just tested this on the latest Odoo 11 and I can still reproduce it:
![image](https://user-images.githubusercontent.com/6352350/31317365-e6ab6fe2-ac3f-11e7-9b46-b68a4a999f17.png)
This looks like a problem with encoding and the conversion from P2 to P3. @xmo-odoo could you have a look?

[2017-10-08 13:53] peterhoth commented on #19948
Hi @Yenthe666,

I tried http://runbot.odoo.com/runbot/1/11.0 but i can only login as demo and demo user cannot create Point of sale.

[2017-10-08 13:55] Yenthe666 commented on #19948
Hi @peterhoth,

Yep, somebody has changed the password sadly. You can try the exact same thing on a V11 enterprise runbot though (http://269491-11-0-e7156a.runbot11.odoo.com/web?db=269491-11-0-e7156a-all)

[2017-10-08 14:02] lukebranch commented on #19924
@gdgellatly ,

Thanks for the valuable advice. I have moved a test instance of Odoo 11.0e over to PG 10.0 and will run some automated testing. I believe PG 10.0 should work with Odoo 11.0 (and probably previous versions). It looks like there were some significant work done on parallel execution among other things in  PostgreSQL 10.0, so if we're able to take advantage of the performance improvemen

[2017-10-08 14:06] peterhoth commented on #19948
runbot enterprise seems ok but i am testing using the community. I assume they are using the same base code, but i have tried many times re-installing and still getting the same error. However, when i install the point of sale app (or other app), odoo has an internal error which i reported #19947. Not sure if that error is causing this error. Looks like you tested using the new source 20171008. I

[2017-10-08 14:06] haconsult commented on #18571
Hi all,
To my knowledge LIFO is the only valid costing method for tax balance sheets since the new legislation (BilMoG). See EStG § 6 (1) 2a:

_"[...] Steuerpflichtige, die den Gewinn nach § 5 ermitteln, können für den Wertansatz gleichartiger Wirtschaftsgüter des Vorratsvermögens unterstellen, dass die zuletzt angeschafften oder hergestellten Wirtschaftsgüter zuerst verbraucht oder veräußert word

[2017-10-08 14:09] gdgellatly commented on #19924
@lukebranch just be aware parallel execution is disabled by default in postgres (at least it was in 9.6 and I never heard it changed).  It needs setting in the conf file.  That said, I really don't think that parallel execution of index/heap scans and merge joins is going to be that much impact, compared to what parallel execution did for seq scans in 9.6.

[2017-10-08 14:27] Yenthe666 commented on #19948
Thank you - please do keep me updated! 😄

[2017-10-08 14:40] OSevangelist commented on #18571
Hi, although i am not an tax expert, i would read the cited legal text

"können für den Wertansatz gleichartiger Wirtschaftsgüter des
Vorratsvermögens unterstellen, dass die zuletzt angeschafften oder
hergestellten Wirtschaftsgüter zuerst verbraucht oder veräußert
worden sind, [...]"

as follows

"..., you MAY select LIFO"

for the tax report or AVCO as this should be allowed as well, at least
acc

[2017-10-08 14:55] haconsult commented on #18571
Hi, thanks for the quick response!

To my understanding (and I am quite sure here), real ("Einzelbewertung") is the default costing method. It is defined in section above:

_"EStG § 6 (1) 2:
[...] Umlaufvermögen) sind mit den Anschaffungs- oder Herstellungskosten oder dem an deren Stelle tretenden Wert, vermindert um Abzüge nach § 6b und ähnliche Abzüge, anzusetzen [...]"_

You **MAY** select LIFO

[2017-10-08 15:06] haconsult commented on #18571
PS:
I understand AVCO is no longer allowed, neither in commercial balance sheets, nor in fiscal, since it is not mentioned any more in the legislation.

[2017-10-08 15:10] OSevangelist commented on #18571
Yes, you are right about the default. That's how i also read it and it is written in the law. However, it depends very much on the business case whether somebody is eligible for an "alternate" approach. I think most real cases could (and actually will) opt such an "alternate" approach for simplicity, as explained in the link i attached above.

[2017-10-08 15:16] OSevangelist commented on #18571
Well it is still written here

http://einkommensteuerrichtlinien.de/EStR-6-8-Bewertung-des-Vorratsverm%C3%B6gens.html

under Gruppenbewertung. Unless this hasn't been replaced by something newer it should still be valid.

KR Frederik

[2017-10-08 15:20] danger89 commented on #19821
'Memoriaa' and 'Welko' is still part of the latest daily: 10.0.20171008. How long does it take to apply the new translations or do I need to do something special?

[2017-10-08 15:32] Yenthe666 commented on #19821
The translations have been synced today (https://github.com/odoo/odoo/commit/19eb19b92d6e28630fe62ca3e93c9c4e5bc89ee5) so if you do a git update now it should be fine as the Dutch fix should be in there.

[2017-10-08 15:55] yhugir opened #19953 "SBError: [Errno None] couldn't opendir(): No such file or directory"
Impacted versions:
10
Steps to reproduce:
i have installed odoo on docker on Fedora 26
i have installed hw_proxy and escpos
this haben with or without PosBox
Current behavior:

2017-10-08 15:24:45,424 1 INFO ? odoo.addons.hw_escpos.controllers.main: error : [Errno None] couldn't opendir(): No such file or directory
2017-10-08 15:24:45,424 1 ERROR ? odoo.addons.hw_escpos.controllers.main: ESC/POS E

[2017-10-08 16:22] totalard commented on #19898
I just commented Out.... So ok..

How can i fix it permenantly?

[2017-10-08 17:02] a-da commented on #5353
still the same thing in 2017
this is happening with Phantomjs only
@bidossessi which browser have you used ?

[2017-10-08 20:09] celm1990 opened #19954 "account, invoice analysis: Refunds are sum instead rest"
**Impacted versions:**
10, 11, master, tested on runbot today
**Steps to reproduce:**
Customer and Vendor Credit Note  on invoice analysis are not rest, total is incorrect on analysis. [This commit](https://github.com/odoo/odoo/commit/ecc75092776ca11089772a970fba9638071322d9) is wrong. Field price_subtotal_signed is correct signed with invoice type(in_refund, out_refund signed negative, other sign

[2017-10-08 20:18] jboilesen opened #19955 "[Odoo 11.0] Google Calendar sync broke Odoo Calendar"
Impacted versions:
Odoo 11.0-20171004 (Community Edition)

Steps to reproduce:
1. Configure Google Calendar Integration through Google API
2. Create future event on Calendar
3. Sync it with google and authorize it
4. Try to delete event and sync with google calendar
5. It should appear an "Odoo server error" message with this stack trace:
Erro:
Odoo Server Error

Traceback (most recent call last):

[2017-10-08 21:57] haconsult commented on #18571
True, AVCO may be an option. Thanks for the hint.
However, would still be good to have LIFO as an other option since FIFO is not compliant.

Regards. Helge

[2017-10-08 22:44] rafaelbn commented on #10954
Let's try again after Odoo Experience... 😄 Please @odony could you solve this for next year please? 🙏

[2017-10-08 23:31] fouasha opened #19957 "HR Expenses record"
Impacted versions:10

Steps to reproduce:
1-create expense to submit.
2-save.
3-edit and change employee.
Current behavior:
The expense disappear

Expected behavior:
Change the employee

[2017-10-08 23:49] peterhoth commented on #19948
Hi @Yenthe666,

I was using the code from https://nightly.odoo.com/11.0/nightly/src/odoo_11.0.latest.zip

I just tried using the developers version but it failed:
[code]
print is a function in Python 3 and requires parenthesis. May i know how did you install the new odoo 11 ?

[2017-10-09 00:11] peterhoth commented on #19948
I just tested the latest code from https://nightly.odoo.com/11.0/nightly/src/odoo_11.0.latest.zip and it seems to fix the problem. Thanks.

[2017-10-09 00:11] #19948 closed

[2017-10-09 05:17] Yenthe666 commented on #19948
Awesome, thank you.

[2017-10-09 05:41] Yenthe666 commented on #19898
@totalard one of the Odoo developers should fix this soon enough in the official Odoo.

[2017-10-09 05:42] Yenthe666 commented on #10954
Oh man, too bad that didn't make it.. 😢

[2017-10-09 05:42] Yenthe666 commented on #19955
@JKE-be this looks like one for you.

[2017-10-09 06:03] Yenthe666 commented on #19957
Hi @fouasha,

This is desired behaviour. You're simply not seeing the expenses since they do not belong to you or you do not have enough rights. You can test this by creating an expensive for another user, clicking save, clicking edit and then changing it to your name. You'll then see it pop up under your expenses, so this proves there is no problem.

Regards,
Yenthe

[2017-10-09 06:03] #19957 closed

[2017-10-09 06:04] Yenthe666 commented on #19954
@qdp-odoo and @kebeclibre could you two have a look? You guys introduced this commit and merged it.

[2017-10-09 06:15] ror-odoo commented on #19950
Hi @HNaga
Thank you for your bug report.

[2017-10-09 06:21] dmo-odoo commented on #19897
Fixed with 6f6f3a44e63213a9d812fc480ac37a537efa5a05.

[2017-10-09 06:21] #19897 closed

[2017-10-09 06:25] khishigbat commented on #19907
Hello @Yenthe666,

Thank you for your fast reply,
I'm unable to reproduce this on runbot.odoo.com, because my account is portal. (I signed in with my odoo.com account. And I'm not familiar with runbot, sorry.)
![portal](https://user-images.githubusercontent.com/29530738/31326844-6ab133a4-acfd-11e7-8348-5db1d5ceab77.png)

Here is the screenshot of the term search result from all mongolian odoo10 re

[2017-10-09 06:33] JKE-be commented on #19900
@Yenthe666

It is now @d-fence that manage this now ;)

[2017-10-09 06:34] Yenthe666 commented on #19900
Oh right! @d-fence could you do that please? 😉

[2017-10-09 06:37] nim-odoo commented on #19905
@Yenthe666 : you should better ping @sle-odoo for logistic issues for the time being.

[2017-10-09 06:44] bidossessi commented on #5353
@a-da That was [Qutebrowser](https://www.qutebrowser.org/). I've not pursued Odoo development after that.

[2017-10-09 06:46] Yenthe666 commented on #19905
Alright, thank you for letting me know!

[2017-10-09 06:48] d-fence commented on #19900
Sure, it's on its way.

[2017-10-09 07:03] Yenthe666 commented on #19907
Hi @khishigbat,

You can login with the user `admin` and the password `admin` on any runbot instance.

[2017-10-09 07:10] mncoon commented on #18571
@lap-odoo I created two pull request to correct the errors / mistakes on the reports I found so far:
https://github.com/odoo/odoo/pull/19959
https://github.com/odoo/enterprise/pull/1487

If there are questions or some need to discouss feel free to do it.

[2017-10-09 07:15] khishigbat commented on #19907
Thanks @Yenthe666 ,

Here's the runbot screenshot of the issue:
![runbot](https://user-images.githubusercontent.com/29530738/31327874-82f9a1d8-ad04-11e7-9a77-2c6aa0bd3a1e.png)

[2017-10-09 07:34] mart-e commented on #19924
Hello,

As said @gdgellatly the new release of postgresql is mostly backwards-compatible. As psycopg 2.7 supports the version 10, we do support it officially as well, now that it is released.

It's unlikely to require PG 10.0 is a close future. We tend to stick to the PG releases on the latest Debian stable/Ubuntu LTS, as a way to simplify deployments. Xenial (Ubuntu 16.04 LTS) has 9.5 Stretch (De

[2017-10-09 07:34] #19924 closed

[2017-10-09 07:45] rimusz opened #19960 "[11.0] deb nigtly buils"
Impacted versions: v11.0

There are no more new nightly build for `deb` packages.
The last one is `20171004`

[2017-10-09 08:04] smetl commented on #19887
Mistake fixed on 11.0 at revision https://github.com/odoo/odoo/commit/c23ef9a9b6e2c7a43b3f98bdbd85e6c7b2b0ba74

Thanks!

[2017-10-09 08:07] lukebranch commented on #19924
@mart-e,

Thanks for the confirmation.

[2017-10-09 08:15] a-da commented on #5353
Based on https://www.odoo.com/documentation/10.0/setup/deploy.html#supported-browsers

Odoo 8: IE9, Mozilla Firefox, Google Chrome, Safari, Microsoft Edge

It seems that there is no support for Phantomjs and  Qutebrowser.

@bidossessi can you close this issue ?

[2017-10-09 08:18] mart-e commented on #19890
It should be published soon.
However, I am afraid CentOS will not work, the packages provided in the repositories are too old. We advise the latest Fedora version for minimum packages.

[2017-10-09 08:31] dbo-odoo commented on #19951
Hello,

This one's my fault, I'll have a look at it.

BTW, we will soon deploy a more direct way to send odoo.sh issues, please avoid using the Odoo Community github issues for that as it doesn't have a lot to do with it (but I understand you did with what you find, it's our job to make it easier to contact us).

We'll add an odoo.sh option in the support page and a feedback form on the platform i

[2017-10-09 08:48] pimodoo commented on #19898
Hello,

This bug has just been fixed in rev: https://github.com/odoo/odoo/commit/e7e37c70e7b71adf6bf51a54202a262b4a2ce68d in 11.0

Best regards

[2017-10-09 08:48] #19898 closed

[2017-10-09 08:57] xmo-odoo commented on #19889
@flyingL123 these have been fixed in 9.0 (as it's the oldest supported version where they appear), the fix should be forward-ported soon-ish.

[2017-10-09 09:01] svantesuominen opened #19962 "Odoo10C allows to update the produced quantity on a cancelled MO, which leads to false stock moves"
Impacted versions:
Found on 10C

Steps to reproduce:
1. Create a manufacturing order and cancel it.
2. UPDATE Quantity To Produce.
3. Click the Inventory Moves of current MO, you see the false stock moves that even reserve some quants (Status = Available / Waiting Availability).

Current behavior:
UPDATE link is visible and operational even if the MO is in cancel state (updating leads to false sto

[2017-10-09 09:09] pimodoo commented on #19942
@smetl I think this one is for you

[2017-10-09 09:13] houssine78 commented on #1512
Hi @Yenthe666

I won't still losing my time make a new bug report for an issue that hasn't been takled for 3 years. And that won't be toke into account neither.

Thanks for closing this.

[2017-10-09 09:33] fouasha commented on #19957
Hi @Yenthe666

Kindly be noted that the user I was testing with was that admin user and no filter was used.
The same issue occurred on 11 too.

[2017-10-09 09:36] aisopuro commented on #19962
Seems like the relevant line in here: https://github.com/odoo/odoo/blame/10.0/addons/mrp/views/mrp_production_views.xml#L92

Last updated in the big 10.0 refactor by @jco-odoo and @tde-banana-odoo: https://github.com/odoo/odoo/commit/2ddc35a5300e89981c0572ae6749aee946f34e9d

[2017-10-09 09:37] sle-odoo commented on #19905
@edsersolis Hello, i tried reproducing your steps and it worked at my end. Could you be more specific? Did you work on a database with demo data or an empty one? What are the installed modules? Did you enable the multi locations options?

This error happens when you create an inventory adjustment on a disabled location (the first step is to make a child_of with the orm, if the location is disabled

[2017-10-09 09:39] JKE-be commented on #1512
Hi @houssine78

I have just tested again and it seems to work as expected.

![image](https://user-images.githubusercontent.com/4848797/31332225-c5ef08da-ace5-11e7-8d36-d0ca3e827b05.png)

Problem with this old thread of 3 years old is that:
    you don't explain really a step to reproduce it.
    you propose a fix, without providing a PR

So for me, there are no bugs, and so nothing to do while we

[2017-10-09 09:59] #19816 closed

[2017-10-09 10:00] rco-odoo commented on #19536
@lmignon the problem should be fixed now.

For the record, here are the timings I measured before the fix:

    On change with 10 lines (10 new, 0 existing) took 0.504
    On change with 20 lines (10 new, 10 existing) took 0.996
    On change with 30 lines (10 new, 20 existing) took 1.206
    On change with 40 lines (10 new, 30 existing) took 1.440
    On change with 50 lines (10 new, 40 existing)

[2017-10-09 10:00] #19536 closed

[2017-10-09 10:02] rco-odoo commented on #19536
@lmignon by the way, thanks for the scripts. I really made my job easier for finding the root cause of the problem!

[2017-10-09 10:14] F3000 commented on #19890
Is there no way to support CentOS like with version 10 ?
We use only CentOS in the company  :(

[2017-10-09 10:22] #5353 closed

[2017-10-09 10:24] mart-e commented on #19890
You can always make a source install or make sure to have the minimum [requirements](https://github.com/odoo/odoo/blob/11.0/requirements.txt) but I think CentOS does not ship python 3.5 (to check)

[2017-10-09 10:32] Yenthe666 commented on #19957
@fouasha,

Yes this happens to any user, as you'll only see your own reports from that screen.

[2017-10-09 10:34] Yenthe666 commented on #19907
@mart-e could you double check this? 😕

[2017-10-09 10:35] Yenthe666 commented on #19887
Sorry for the confusion @danimaribeiro.
Thanks a lot for the fix @smetl!

[2017-10-09 10:57] tivisse commented on #18084
Thanks to all for the different feedbacks and replies.

We're working on this issue. It's mainly coming from the fact that we work with a tax amount (already rounded) and we work in odoo with tax percentages. I personally think that the proposal by @matt454357 is legit. I still have to discuss this with @antonylesuisse about it.

The other issue (different tax rates before and after confirmation)

[2017-10-09 10:57] Yenthe666 commented on #19960
@sle-odoo could you check this? I don't see new ones.

[2017-10-09 11:02] sle-odoo commented on #19960
@d-fence

[2017-10-09 11:22] d-fence commented on #19960
That's right, we are updating nightly and that should solve this issue.

[2017-10-09 11:24] tivisse commented on #18084
Hello @taxcloud

In fact, I think that it could be possible to solve our issue here if it was possible to retrieve the taxed amount from the call to 'Lookup' without rounding. This way we do not create a lot of taxes in the database (like 6.5 and 6.52) due to rounding errors from the inverse computation.

Should it be possible to have a mode raw to get the taxed amount without rounding ?

[2017-10-09 11:26] simmatica opened #19967 "mail_thread: _find_partner_from_emails fail if more than 1 email address in partner"
Impacted versions:
10, 11

Steps to reproduce:
Assign 2 email address in a partner (es. john@acme.com, john@acme.eu)
Send an email to sales team alias from john@acme.com and then send another email from john@acme.eu.

Current behavior:
Opportunities created from emails are not linked to the partner/customer
The problem is the exact match
partners = Partner.search([('email', '=ilike', email_address

[2017-10-09 11:46] cdasadiya74 opened #19968 "[11.0] Error on Sale Quotation Cancel in CE"
Impacted versions:11.0

Steps to reproduce:

Current behavior :

I have downloaded the latest build from the today morning from the nightly and use Odoo-11 in my local system.

[ downloaded nightly source ](http://nightly.odoo.com/11.0/nightly/src/)
Please review below attached screens

Expected behavior: No Need to Raise Error

Video/Screenshot link (optional):

![so032 odoo_cancel_button](https:

[2017-10-09 11:49] sle-odoo commented on #19968
Hello,
This issue was fixed today with rev c7ca783e242ba7963fbb847cb53c3b9be9203936.

The packages will be rebuild tonight with the latests fixes.

Regards

[2017-10-09 11:49] #19968 closed

[2017-10-09 11:49] Yenthe666 commented on #19968
Phew - sle was just ahead of me. It has indeed been fixed in the meanwhile. 😄

[2017-10-09 11:56] Yenthe666 commented on #19947
Hi @peterhoth,

Could you try this again? I believe this has been fixed in the meanwhile too.
I can't reproduce it on a runbot anymore (which has demo data checked on)

[2017-10-09 12:03] cdasadiya74 commented on #19968
Ok thank you @sle-odoo let me download the latest build and check

[2017-10-09 12:15] F3000 commented on #19890
Ok . Python 3.5 is the minimum ?

I can install it Woche EPEL Release etc. .

[2017-10-09 12:18] Gorash commented on #16641
I discussed it again, and the decision made by the manager is that the commit will not apply in v10

[2017-10-09 12:22] qdp-odoo commented on #15573
Well, this issue seems a bit complicated to get:
* you need to have defined 2 accounts that would overlap if the number of digits set was respected
* you need to change something in the settings
* you need to be in debug mode

It's unlikely something people will face in real life, although I recon that it's quite annoying. On the other hand, I do not want to restrain people from creating their acc

[2017-10-09 12:22] #15573 closed

[2017-10-09 12:26] qdp-odoo commented on #19701
@smetl can you link your PR/bugfix here please?

[2017-10-09 12:30] DhirajPalekar commented on #19898
Yeah.. it just fixed the issue.Thanks pimodoo!
Just to be clear:
Step1: Go To -> addons/l10n_in_stock/views/report_stockpicking_operations.xml
Step2: Find and Replace all 'pack_operation' with 'move'  (Total 4 Times)
Step3. Save the file.
Step4: Restart The Odoo Server

Hope this helps. Cheers!

[2017-10-09 12:30] naglis commented on #19942
Seems it happens because the [`'%s' % record.binary_field`](https://github.com/odoo/odoo/blob/c7ca783e242ba7963fbb847cb53c3b9be9203936/addons/web/views/report_templates.xml#L145) produces artifcats, eg. `"b'base64data'"` and due to these `b''` the image can not be rendered properly.

Possible fixes:
[code]
[code]
Less nice:
[code]

[2017-10-09 12:34] rha-odoo commented on #19898
Well, Step4 is not required!

[2017-10-09 12:49] smetl commented on #19701
Fixed on saas-14 at revision:
https://github.com/odoo/odoo/commit/13b25fedbfb817726ac92674c7386c76c23c8c3c
https://github.com/odoo/odoo/commit/165d13bdb5439e4ad78f31dc97ab99a314352d65

[2017-10-09 12:49] #19701 closed

[2017-10-09 13:12] smetl commented on #19942
@xmo-odoo I think it's due to P3, can you have a look plz? Thanks!

[2017-10-09 13:14] pimodoo commented on #19698
@KangOl It's up to you, problem since saas-14

[2017-10-09 14:08] F3000 opened #19978 "Odoo Website german translation"
The German translation from the Odoo homepage is not the best .

Is the translation also done with Transifex ?

[2017-10-09 14:20] Yenthe666 commented on #19978
Hi @F3000,

Yes, this is done with Transifex.
You can view (and edit) them at https://www.transifex.com/odoo/odoo-com/dashboard/

Regards,
Yenthe

[2017-10-09 14:20] #19978 closed

[2017-10-09 14:25] F3000 commented on #19978
thanks for the link :)

[2017-10-09 14:27] Yenthe666 commented on #19978
You're welcome. 😉

[2017-10-09 14:38] Cedric-Pigeon commented on #19536
@rco-odoo

Unfortunatly, it seems that the fix is not enough. I deployed it on production and the onchange time still increase.
For a sale order with 150 lines it takes more than 15 sec per lines.

[2017-10-09 14:42] qsm-odoo commented on #19698
@KangOl Any reason you assigned this issue to me ?

[2017-10-09 14:47] Yenthe666 commented on #19698
Hmm nobody seems to like this issue. 😉

[2017-10-09 14:48] F3000 opened #19980 "Odoo 11 documentation missing"
See title

[2017-10-09 14:49] Yenthe666 commented on #19980
Hi @F3000,

There was already a report for this at https://github.com/odoo/odoo/issues/19846
PR is on the way at https://github.com/odoo/odoo/pull/19964

Regards,
Yenthe

[2017-10-09 14:49] #19980 closed

[2017-10-09 15:05] taxcloud commented on #18084
Hey all.

- First, if storing a rate, it should stored to 5 decimal places, not 3 (Click around [our find a rate map, particularly in New Mexico](https://taxcloud.net/#Find-a-Rate)).
- Second, we stopped returning TaxAmount with fractions (decimals) of pennies last year because some developers were truncating after 2 decimal places. I would generally agree that the rate is not necessary for displa

[2017-10-09 15:20] lasley commented on #10954
Any idea how much effort would be required to just make this a module? I don't think we should hold our breath on this, and I kind of want it in v10

[2017-10-09 15:30] KangOl commented on #19698
It's look like a css problem as each `page` of the report are rendered at the same position (absolute), overwriting previous one.

By adding the following snippet in the report qweb view, the html report is ok, but not the pdf version.
[code]
I don't know if it's safe to have this for all reports.

Note: bug present since saas~14

[2017-10-09 15:38] dbo-odoo commented on #19951
@thegunshow
Fixed. You might have to flush your DNS cache though (in chrome, go to chrome://net-internals/#dns and click on "clear host cache").

[2017-10-09 15:38] #19951 closed

[2017-10-09 15:53] qdp-odoo commented on #19316
we didn't really need it before but it has been improved in v11 to go up to level 9.

Because of this and also because the original bug report concern only a cosmetic change that appears rarely (and I don't even talk about the fact 'view' accounts aren't existing anymore outside any OCA module), I'm closing this issue

[2017-10-09 15:53] #19316 closed

[2017-10-09 16:51] celm1990 commented on #19954
Posible solution here #19975

[2017-10-09 17:57] Yenthe666 commented on #2654
Hi @StefanKlatt ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment). This tool is no longer supported in later versions so you shouldn't ever run into it again.

Reg

[2017-10-09 17:57] #2654 closed

[2017-10-09 17:58] Yenthe666 commented on #2678
Hi @lepistone ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-09 18:04] Yenthe666 commented on #2791
Hi @ferdiga,

I'm closing this report as Odoo 8 is no longer officially supported (Odoo only goes back three versions).
As this is labelled wishlist it will keep coming up though!

Regards,
Yenthe

[2017-10-09 18:04] #2791 closed

[2017-10-09 18:04] Yenthe666 commented on #2797
Hi @lepistone ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-09 18:04] #2797 closed

[2017-10-09 18:05] Yenthe666 commented on #2807
Hi @lepistone,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-09 18:05] #2807 closed

[2017-10-09 18:05] lepistone commented on #2678
@Yenthe666 of course! Thanks for your cleanup efforts!

[2017-10-09 18:05] Yenthe666 commented on #2835
Hi @svenpetersen,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-09 18:05] #2835 closed

[2017-10-09 18:07] Yenthe666 commented on #2892
Hi @jeffery9 ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-09 18:07] #2892 closed

[2017-10-09 18:08] Yenthe666 commented on #2908
Hi @serkia,

Thank you for your report.
This should have been fixed in https://github.com/odoo/odoo/commit/cec7a02fdda1f0ccf856b99841a209c1f15e9c83 and as a sidenote Odoo 8.0 is no longer officially supported.
There have been improvements and expansions on this subject in V10 + V11 too.

Regards,
Yenthe

[2017-10-09 18:08] #2908 closed

[2017-10-09 18:08] Yenthe666 commented on #2909
Hi @TheCloneMaster ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to creat

[2017-10-09 18:08] #2909 closed

[2017-10-09 18:09] Yenthe666 commented on #2866
Hi guys,

This problem is no longer presented in newer versions of Odoo (V9, V10 and V11). As Odoo 8 is no longer officially supported I'm closing this report.

Regards,
Yenthe

[2017-10-09 18:09] #2866 closed

[2017-10-09 18:11] Yenthe666 commented on #2678
@lepistone you're welcome! I hope this will 'push' the Odoo people to start doing better starting from Odoo 11.0 and to clean up the old & unmanaged bug reports. Let us see what this gives. 😉

[2017-10-09 18:11] #2678 closed

[2017-10-09 18:21] elgow commented on #19390
Does Odoo 11 fix this severe design flaw in the kanban view, or is it still a free pass to modify any field?

[2017-10-09 20:14] thegunshow commented on #19951
Hi

This is still a problem even after flushing the cache

Thanks
Brendan

On Mon, Oct 9, 2017 at 5:40 PM, Damien Bouvy <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2017-10-09 21:26] taifu commented on #18679
@odony wrote:

I see that this isn't yet true: https://github.com/odoo/odoo/blob/11.0/odoo/models.py#L3545

Please, add the constraint. Don't leave this huge performance problem also in Odoo 11 :-/

[2017-10-10 02:05] elgow commented on #19390
Just tried it out on Odoo 11. Bad news. It seems that though they extensively re-wrote the kanban view they didn't bother to fix this glaring problem. You can still use group-by + kanban view to change the value of pretty much any model field, whether you should be able to see it or not. Wow.

[2017-10-10 02:43] gdgellatly commented on #19390
@ged-odoo can you take a look at this please.  I don't agree with the original report, but still moving actual real readonly records on kanban shouldn't happen.  The best way I found to replicate is

On Runbot
- Go to Sales
- Group By Customer on Kanban.
- Cool I can move quotes to different customers (nice, I like it).
- Not so cool, I can move confirmed sales to different customers (although the

[2017-10-10 03:37] mhdsyarif opened #19989 "[11.0] File "/usr/lib/python3/dist-packages/odoo/addons/base/ir/ir_qweb/qweb.py", line 341, in _compiled_fn"
Impacted versions:
Error view Agenda in event
![selection_292](https://user-images.githubusercontent.com/5978109/31368278-f1b761f8-ada6-11e7-86a1-e39abe988341.png)

[2017-10-10 03:51] edsersolis commented on #19905
@sle-odoo empty DB. All 46 stock applications (plus all dependencies that give a total of 150). No multi-locations.

Everything is set up correctly, I enabled the multi-locations to make sure the selected location was enabled and still not working.

Then I tried with multi-warehouse but when trying to create a new warehouse I get the following error:

`Error:
Odoo Server Error

Traceback (most rec

[2017-10-10 03:55] bazemoreb commented on #18084
Hi All - looks like I should have read the whole thread before replying above, but it all makes sense now.  Glad to hear that 2.0 will have the ability to get the actual tax rate as that seems like a good option for sure.

WRT the showing of the amount on the sales orders/invoices etc., maybe makes sense to leverage the "description" field and just set the name to the default (we use "Sales Tax" f

[2017-10-10 04:16] omalbastin commented on #2866
Great. This issue was reported 3 years back and now because of the new release of odoo v11, it is no longer supported... Hopefully v11 will also have many issues and some one will report them also.. So officials can hold the issue till ODOO v14 so that they can close it because its no logner officially supported

[2017-10-10 04:28] edsersolis opened #19990 "Wrong stock cost on partial production"
This is an interesting scenario that happens a lot and probably only a few consider into testing it. I got into testing this only after a customer asked what happened in this case.

The scenario that was presented was: "What happens to the cost of a stock if I haven't finished my manufacture order but I ship out a part of those already manufactured units?"

ie. I'm manufacturing 1,000 bags but a c

[2017-10-10 05:46] Yenthe666 commented on #18679
@nim-odoo can I ask for you a feedback on this issue please? Sorry for the ping.

[2017-10-10 05:50] Yenthe666 commented on #19990
Hi @edsersolis,

If I understand this correctly (I'm a bit nooby in production) the stock cost is now shown based on the last cost but not the actual cost of all the items thus there is a difference in the stock analysis result?
@jco-odoo could you double check this?

Regards,
Yenthe

[2017-10-10 05:52] Yenthe666 commented on #19989
Hi @mhdsyarif,

Thank you for your report.
I can't reproduce this on the latest Odoo source code (from 20171010). Can you reproduce this on an official instance (at runbot.odoo.com)? Have you updated your source code to the latest version?

Regards,
Yenthe

[2017-10-10 05:55] Yenthe666 commented on #19390
@gdgellatly actually, moving the record seems to update the customer too. Anyways I don't really like that you can move an already readonly record, that shouldn't really be the case. 😄
I guess (@)ged-odoo will give us feedback.

[2017-10-10 05:56] Yenthe666 commented on #2933
Hi @lepistone,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-10 05:56] #2933 closed

[2017-10-10 05:57] Yenthe666 commented on #2938
Hi @mvercruysse,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-10 05:57] #2938 closed

[2017-10-10 05:58] Yenthe666 commented on #2945
@xmo-odoo @odony and @gdgellatly could somebody give feedback or can we lock this one?

[2017-10-10 05:58] Yenthe666 commented on #2975
Hi @fclementic2c ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-10-10 05:58] #2975 closed

[2017-10-10 06:00] Yenthe666 commented on #3232
Hi @user,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
@be-cloud-js I don't believe there is at the moment, there is another report about this somewhere too.

Regards,
Yenthe

[2017-10-10 06:00] #3232 closed

[2017-10-10 06:05] thegunshow opened #19991 "[11.0 e] Cant load general settings"
Impacted versions:11.0 e

Steps to reproduce:Install accounting app

Current behavior:Cant access the Settings > General Settings page

Expected behavior: General settings page should be displayed

Video/Screenshot link (optional): Nothing happens, page doesnt load

[2017-10-10 06:10] milanpatel1519 opened #19992 "[11.0] Partner form view messed up while city selection"
Impacted versions: 11.0

Steps to reproduce: Turn on debug mode. After **base_address_city** module install go to United States country (if demo data for same user company country) and make one city of it. Enable **Enforce Cities**. In **Input View** select **res.partner.form** with sequence 2 id. Then go to **Contacts** and create one.

Current behavior: Address view is messed up as screen shot.

[2017-10-10 06:26] Yenthe666 commented on #19992
Hi @milanpatel1519,

Thank you for your bug report.
The contacts view is indeed bugged when you have this configured:
![image](https://user-images.githubusercontent.com/6352350/31372136-ade077d8-ad94-11e7-9fa4-95f4f986679b.png)
@xmo-odoo and @qdp-odoo the last two commits are from you guys - can one of you have a look?

[2017-10-10 06:27] mhdsyarif commented on #19989
Hi @Yenthe666

I have used the latest version odoo-11.0-20171009 from [http://nightly.odoo.com/11.0/nightly/src/](http://nightly.odoo.com/11.0/nightly/src/)

Thanks,
Syarif

[2017-10-10 06:30] Yenthe666 commented on #19989
Hi @mhdsyarif,

Thank you for the extra info. Can you try to reproduce this on a runbot (at runbot.odoo.com) please?
Did you install all dependencies too? (from https://github.com/odoo/odoo/blob/11.0/requirements.txt)

Regards,
Yenthe

[2017-10-10 06:32] be-cloud-js commented on #19316
Hello,

I would favor this if we were speaking of v8 or v9, but we still have some time before everyone migrate to v11.

My question is simple, if we prepare a PR (or a backport of v11 in that matter) will it be accepted.

Jerome

[2017-10-10 06:40] mhdsyarif commented on #19989
Hi @Yenthe666

I tried to access the event on [http://269880-11-0-9d5c18.runbot8.odoo.com/event/open-days-in-los-angeles-2017-10-11-2017-10-15-1/agenda](http://269880-11-0-9d5c18.runbot8.odoo.com/event/open-days-in-los-angeles-2017-10-11-2017-10-15-1/agenda)
the same error in local.
![selection_293](https://user-images.githubusercontent.com/5978109/31372533-5bd5dfc4-adc0-11e7-907c-262d1e6a7b66.png

[2017-10-10 06:43] Yenthe666 commented on #19989
Thanks a lot for the extra information - I was able to reproduce this now. I was looking in the back-end, not the front-end, sorry 😉
Confirmed:
![image](https://user-images.githubusercontent.com/6352350/31372622-019a37fe-ad97-11e7-9c5b-e63b2bb1a6fb.png)
@JKE-be this is for you.

[2017-10-10 06:52] Yenthe666 commented on #3704
Hi @joaoalf,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-10 06:52] #3704 closed

[2017-10-10 06:53] dbo-odoo commented on #19951
I just tested it again with both your project on the platform, and it works as expected - I get redirected from http to https normally when I use the odoo.com domain and I land on the homepage when I visit your custom domain.

Could you try with another browser or device (a device that did not yet visit these URLs)?

We normally don't allow naked domains (they won't work with CNAME redirections),

[2017-10-10 07:06] mhdsyarif commented on #19989
Hi @Yenthe666

Error in front-end, according to my question at the beginning :wink:

Reqards,
Syarif

[2017-10-10 07:08] JKE-be commented on #19989
@mhdsyarif  thanks, i'm on it ;)

[2017-10-10 07:08] ged-odoo commented on #2866
@omalbastin I understand you frustration, but you should know that we have a finite amount of resources.  Some issues takes a long time to fix, and the fix may be risky. The editable list view is one of the trickiest part of the web client, and until recently, our javascript team was extremely small. So, of course, we had to focus on higher priority issues/features.

I want to say that we actually

[2017-10-10 07:10] Yenthe666 commented on #19989
Yup, I missed that, apoligies. It'll be fixed in no time. 😄

[2017-10-10 07:12] mncoon commented on #15573
@qdp-odoo On your plan, I think it will be good to have a data-field in the xml of the accounting charts to set the standard-digits, on installing the chart.

[2017-10-10 07:15] qdp-odoo commented on #15573
this is already the case https://github.com/odoo/odoo/blob/11.0/addons/account/models/chart_template.py#L94

[2017-10-10 07:16] sswapnesh opened #19995 "[11.0 e] Cannot open Dahsboard"
Impacted versions: 11.0 e

Steps to reproduce: [http://269855-11-0-0dd370.runbot8.odoo.com](http://269855-11-0-0dd370.runbot8.odoo.com) --> Go to Main Dahsborad

Current behavior: Throws traceback.

Expected behavior: Should open Dahsboard.

Video/Screenshot link (optional): https://prnt.sc/gvhxl3

[2017-10-10 07:18] qdp-odoo commented on #19992
@smetl can you check this bug report please?

[2017-10-10 07:19] Yenthe666 commented on #19995
Hi @sswapnesh,

Thank you for your report. I can confirm that this is a bug:
![image](https://user-images.githubusercontent.com/6352350/31373883-03f760e4-ad9c-11e7-80e7-f2c7a47e5704.png)
@ged-odoo could you assign somebody on it?

Regards,
Yenthe

[2017-10-10 07:20] mncoon commented on #15573
Yes I know, but here in Germany we have always 4 digits as standard, which means on your plans, we always need to export import the charts on each customer....

[2017-10-10 07:22] qdp-odoo commented on #15573
ok that will be fixed to 6 by default

[2017-10-10 07:50] Yajo commented on #10954
The problem is that this stripping does not happen in an addon, but in a tool. Possibly here or around it:

https://github.com/odoo/odoo/blob/cd48a806ac636806130efcf5c055f73758cb0902/odoo/tools/mail.py#L28-L29

So I imagine fixing this in an addon without monkey patching would be quite hard.

Besides, once fixed, you'd need to create an addon that uses a mail template framework (see https://github

[2017-10-10 07:55] Yenthe666 commented on #19991
Hi @thegunshow,

Thank you for your report.
Have you installed the `Invoice management` (technical name `account_invoicing`) too? This installs the views, menus and settings.

[2017-10-10 07:55] sswapnesh opened #19997 "[10.0][11.0] Tax computation throws traceback in Sale order line/Invoice Line."
Impacted versions: 10/11 Community and Enterprise

Steps to reproduce: Go to [http://269855-11-0-0dd370.runbot8.odoo.com](http://269855-11-0-0dd370.runbot8.odoo.com) --> Accouting -->Taxes --> Change Tax Computation method to "Group of Taxes" --> Add taxes same tax in group taxes.
Create new sales order or Invoice and select same tax, It will throw tarceback.

Current behavior: It is allowing to a

[2017-10-10 07:55] gdgellatly commented on #2945
@Yenthe666 funnily enough I saw a duplicate or near enough of this the other week, where it caused different issues other than performance so was resolved.  Personally I'd close it. I don't think there was an actual bug reported was there, more just a chat.

[2017-10-10 08:00] #2945 closed

[2017-10-10 08:01] Yenthe666 commented on #2945
Thanks for the feedback!

[2017-10-10 08:02] qdp-odoo commented on #15573
@csnauwaert

[2017-10-10 08:03] Yenthe666 commented on #19997
@qdp-odoo could you check please?

[2017-10-10 08:07] simahawk commented on #10954
A "light patch" could be to make those tags params overridable via server cfg (and w/ server_environment then). This could be a 1st step w/out hacking too much the existing machinery.

The 2nd step could be: propose to move those tools calls to an abstract model to ease override. I'm not sure we have an `env` in every possible hook tho.

[2017-10-10 08:10] sswapnesh commented on #19997
Resolution: Need extend domain on field `children_tax_ids`

Add new field `<field name="id" invisible="1"/>`

Extend domain on field `children_tax_ids` -->` domain="[('type_tax_use','in',('none',type_tax_use)), ('amount_type','!=','group'),('id','!=',id)]"`

[2017-10-10 08:16] tivisse commented on #18084
Thanks for the reply @taxcloud Could you already estimate a release date ? That 2.0 version would be very welcome :)

@bazemoreb I've also thought about something like this, but there's an unique constraint on a tax name (Which I can understand if we want to avoid to taxes with the same name and different rates).

I'm gonna clear the situation with @fpodoo and @antonylesuisse and come back to you

[2017-10-10 08:23] nhomar commented on #19388
Hello @Yenthe666

Some points.

1. This issue is affecting not from an usuability PoV but technical one.
The Address management should be done consistently with the address when "Is company" is enabled.

[2017-10-10 08:26] Yajo commented on #10954
Hmm yeah, neat idea. The 1st option should be just enough I think (in case @Odoo still wants to have no responsive emails, at least the community shouldn't be locked just for that reason).

[2017-10-10 08:30] thegunshow commented on #19991
Hi

Yes, it has been installed.

The settings link does work for any of the apps, for example Sales >
Configuration > Settings. You cant access the general settings from any app
now.

Thanks

On Tue, Oct 10, 2017 at 9:55 AM, Yenthe V.G <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2017-10-10 08:32] thegunshow commented on #19951
Hi Damien

You are correct, it is working, my chrome browser must still be caching the
old link.

Thanks
Brendan

On Tue, Oct 10, 2017 at 8:53 AM, Damien Bouvy <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2017-10-10 08:38] thegunshow commented on #19951
Hi Damien

I am also trying to link the Odoo app (Android) to the odoo instance. It
says the database does not exists. using credentials "deepdivedata.odoo.com
".

Thanks
Brendan

On Tue, Oct 10, 2017 at 10:32 AM, Brendan Gunn <brendan@gunn.co.za> wrote:

--
Kind regards
Brendan Gunn

[2017-10-10 08:39] tivisse commented on #18084
@taxcloud Could you confirm that we're speaking about the same precision.

In Odoo, a tax rate is encoded like 3.568, we suppose that it is in percent. (instead of storing 0.03568)

[2017-10-10 08:39] Hamza-Talibi opened #20000 "Add dependencies for odoo11:"
Hello everybody,
After downloading Odoo 11, I got this error when I was  trying to add dependencies with this commande ./odoo/setup/setup_dev.py setup_deps:
E: Impossible de trouver le paquet python3-vobject
https://github.com/odoo/odoo/blob/c7490671659293b984793ba68406698ceface67c/setup.cfg#L46

Any help please!

Thank you

[2017-10-10 08:45] mart-e commented on #19540
Fixed at 1df6f4c7
Unfortunately it implied changing all reports but it is due to the python3 migration and we had not much other choices

[2017-10-10 08:45] #19540 closed

[2017-10-10 08:48] sswapnesh opened #20002 "[11.0] Traceback on duplicating user"
Impacted versions: 11e

Steps to reproduce: Go to[http://269855-11-0-0dd370.runbot8.odoo.com] http://269855-11-0-0dd370.runbot8.odoo.com --> Users --> Duplicate any user

Current behavior: Throws traceback
![duplicate_user](https://user-images.githubusercontent.com/16624719/31377510-e502f746-adc5-11e7-9eb5-e10f8620ab34.png)

Expected behavior: Should duplicate user

Video/Screenshot link (optional

[2017-10-10 08:54] luistorresm commented on #19388
This issue was fixed in 11.0

[2017-10-10 08:54] #19388 closed

[2017-10-10 09:00] Yenthe666 commented on #20000
@sle-odoo another dependency report. Can you check this?

[2017-10-10 09:04] thegunshow commented on #19991
Hi

Is it important to tell you that it is running on odoo.sh?

It is the second time this has happened, last time it happened it wasnt
with the accounting app that caused the problem but it was the exact same
effect.

Thanks
Brendan

On Tue, Oct 10, 2017 at 11:00 AM, Yenthe V.G <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2017-10-10 09:09] #19989 closed

[2017-10-10 09:11] Yenthe666 commented on #20002
Hmm there seems to be more off here. Simply clicking on create:
![image](https://user-images.githubusercontent.com/6352350/31378317-2ba51668-adab-11e7-9c92-44a08627edcb.png)
@mart-e for you 😉

[2017-10-10 09:15] Yenthe666 commented on #19991
Hmm, maybe @dbo-odoo could it be? Can you check too?

[2017-10-10 09:16] smetl commented on #19992
It's totally normal to have this kind of view because you are using the **res.partner.form** itself as the address view.

For more details, see the helper of **Input View**:

 _Use this field if you want to replace the usual way to encode a complete address. Note that the address_format field is used to modify the way to display addresses (in reports for example), while this field is used to modif

[2017-10-10 09:16] #19992 closed

[2017-10-10 09:19] sle-odoo commented on #20000
@Hamza-Talibi Hello, on which distribution are you running this command? python3-vobject is packaged since debian stretch, so it shouldn't be an issue.

@d-fence

[2017-10-10 09:21] Yenthe666 commented on #19992
Wait, how can this ever be functionally fine? This is messed up from an usability point of view..

[2017-10-10 09:26] Hamza-Talibi commented on #20000
@sle-odoo Hello, I 'am on Ubuntu 16.04

[2017-10-10 09:28] mart-e commented on #20002
Ok, next question : why do you want to duplicate a user? 😕  While it seems like a strange idea, it should nevertheless work.

However, testing on a runbot is always tricky because many people do a lot of testing operation and you got all possible modules while some are not compatible.

I will however reject your issue without additional information. In your runbot example, it seems some people wer

[2017-10-10 09:28] #20002 closed

[2017-10-10 09:32] smetl commented on #19992
This feature is very flexible because it allows the user to define (in xml) its own address block formatting. However, an high degree of freedom is risky because it allows the user to break a lot of things.

_With great power comes great responsibility!_

[2017-10-10 09:35] Yenthe666 opened #20005 "[11.0] Updating company doesn't reflect back on contacts"
Impacted versions: 11.0 (Enterprise)

Steps to reproduce:
1. Edit the default company, change all details and add a logo:
![image](https://user-images.githubusercontent.com/6352350/31379175-db55380c-adad-11e7-8691-5c0a6d55da0b.png)
2. Check the contacts and see what company the users `Administrator` or `Demo User` are mapped too:
![image](https://user-images.githubusercontent.com/6352350/31379232-

[2017-10-10 09:38] Yenthe666 commented on #20002
Both cases work on the newest runbot that where just generated. 😉

[2017-10-10 09:56] dbo-odoo commented on #19951
Good catch, actually. The mobile app assumes that if a domain ends in odoo.com, it's hosted on the saas and it tries guessing the database name from that... and fails miserably.

We'll have to fix that one as well, but it will take some time + an update in the app itself most probably. Not exactly sure how we'll do this one yet.

In the meantime, a possible workaround is to use a custom domain and

[2017-10-10 09:59] sle-odoo commented on #20000
@Hamza-Talibi Ok, the python3-vobject is only available in debian stretch and that's why it's not available in your distribution. If it's the only issue to make Odoo 11 run on Ubuntu 16.04, we could make this dependency not required, as it's only used in of calendar to handle ics file. @JKE-be

But at the moment, you won't be able to install Odoo 11 on your distribution.

[2017-10-10 10:08] Hamza-Talibi commented on #20000
@sle-odoo It's Ok. So until when can I install Odoo 11 on my distribution.

Thank you

[2017-10-10 10:21] jbeficent commented on #19357
@cantecim The fix is now being proposed.

[2017-10-10 10:28] yostashiro opened #20008 "[11.0] unsupported format character '?' (0xa) at index 53"
### Impacted versions:

11.0

### Steps to reproduce:

- Create a new DB with language English, country **Japan** and "Load demonstration data" selected.
- Install `website_event` module.
- Open an event under /event in website.

### Current behavior:

500: Internal Server Error

Error message:
[code]

The same error shows at several different places in website as you install more website modules.

[2017-10-10 10:44] arafatx commented on #19952
I know I can set the width manually in the report template. Like Style="width: 400px" but I don't know why. The previous update didn't have this problem.

I just set width: 400px for now.

[2017-10-10 10:44] #19952 closed

[2017-10-10 10:58] Yenthe666 commented on #20008
Hi @yostashiro,

Thank you for your report. It was actually fixed earlier today in https://github.com/odoo/odoo/commit/45085d3685998080abc24bd57d3d4426530729d6 😉

Regards,
Yenthe

[2017-10-10 11:07] yostashiro commented on #20008
@Yenthe666 Thanks for the follow-up, however, I'm afraid this is a different issue.  I use the latest code from Github as of now and the issue reproduces.  Can you please reopen this.

[2017-10-10 11:16] d-fence commented on #20000
@Hamza-Talibi actually, there are three missing dependencies for Ubuntu Xenial (16.04):
python3-vobject , python3-pyldap and python3-qrcode.
python3-vobject is only used in the calendar module to generate ical files.
python3-pyldap is used when we want ldap authentication.
python3-qrcode is only used in ESC/POS hardware driver.

So, those three dependencies can be moved to the recommends section o

[2017-10-10 11:23] Yenthe666 commented on #20008
@yostashiro,

Actually I tried this on a completely clean database with:

- Language English
- Country Japan
- Demo data selected

The problem doesn't happen on all records, that is why I was sure it was fixed. There is indeed still an issue when you click on "Functional Webinar" for example. 😉

[2017-10-10 11:34] thegunshow commented on #19951
My pleasure

I have started using it and running some instances, so I am sure I will
help you with your beta bug fixes😂

The shell is greyed out for production databases.

[image: Inline image 1]

The other problem that I am having is that the "Settings > General
Settings" button doesnt work. Nothing happens. This is the 2nd time I have
seen this happen on 2 different instances.

Thanks

On Tue, O

[2017-10-10 11:42] Hamza-Talibi commented on #20000
Hi @d-fence ,
It works.
Thank  you so much.

[2017-10-10 11:44] d-fence commented on #20000
Thanks to you. I'll close this issue when the patch will be pushed.

[2017-10-10 11:47] jco-odoo commented on #19905
update module maybe first for recalculating parent_left/right

[2017-10-10 11:48] sswapnesh opened #20015 "[11] Traceback during installation of sale_management (With demodata)"
Impacted versions: 11 c

Steps to reproduce: Create new database and Install sale_management module

Current behavior: Thorws traceback during installation. (During installation of demo data from sales_team)

Expected behavior: Should install module

Video/Screenshot link (optional):
![](https://image.prntscr.com/image/V9mksPQ3QuSyek_EenOn4w.png)

[2017-10-10 11:54] sswapnesh commented on #20015
Solved: Demo user is not present in database.

[2017-10-10 11:54] #20015 closed

[2017-10-10 11:55] Yenthe666 commented on #20015
Yup - it works by default. 😉

[2017-10-10 11:59] wtaferner commented on #19905
@jco-odoo
I got a similar issue that the parent_left/right was not calculated properly from the start (fresh db), probably with an incomplete install or issue during the installation, but mainly b/c the columns are created and not recalculated later...so the solution is to delete the columns and upgrade the module again to let them be computed.

I had this before and it is very difficult to spot..

[2017-10-10 12:17] tivisse commented on #18084
The issue should now be solved with these fixes:

1/ Store tax rate amount with 3 digits instead of 2
https://github.com/odoo/enterprise/commit/a1c808df853ee7ed5ac56dd57cb7004dff2e2c7c

2/ Stop magic guessing tax rates before SO/inv confirmation
https://github.com/odoo/enterprise/commit/e0a97bdc44fb88c767e4ef53ac55ddfd9775a1a5

This will avoid the tax rate to pass from 6.5 to 6.52% on the confirma

[2017-10-10 12:17] rco-odoo commented on #19536
@Cedric-Pigeon @lmignon I have found a prefetching issue in related fields. In your use case, the target of the related field (`virtual_available` on `product.product`) was never computed in batch. I rewrote the computation of related fields in order to fix this #20017.

[2017-10-10 12:17] #18084 closed

[2017-10-10 12:24] #19871 closed

[2017-10-10 12:25] sbidoul commented on #19536
@rco-odoo cool! Does this bring the test script to near constant time as in v8?

[2017-10-10 12:30] rco-odoo commented on #19536
@sbidoul alas no, it does not fix all performance issues in this case. But it's another step forward. I will keep analysing what the test script shows.

[2017-10-10 13:03] sswapnesh opened #20020 "[11] UI issue for widget "upgrade_boolean""
Impacted versions: 11 c

Steps to reproduce: Go to Inventory --> Setting and find Shipping Connectors.

Current behavior: upgrade_boolean is applied three times as same fields are defined in three XMLs.
(Is has been defined in sale,stock and website_module)

Expected behavior: Widget should be applied only once.

Video/Screenshot link (optional):

![](https://image.prntscr.com/image/3RhDHz6kRvmUtN

[2017-10-10 13:10] Yenthe666 commented on #20020
Hi @sswapnesh,

Thank you for your report - this is indeed a bug.
@mart-e if you tell me from which two you want to remove them I'll make a PR to fix it right away.

Regards,
Yenthe

[2017-10-10 13:24] mart-e commented on #20020
Thanks for the report but the analysis is not correct. It is defined 3 time because it appears in three different settings. This is a bug in the widget.
We will fix it.

[2017-10-10 13:27] Yenthe666 commented on #20020
Something for @ged-odoo perhaps? 😉

[2017-10-10 13:28] Ehrenstein opened #20021 "Website link for product drops "https://" portion of the link, thus resulting in failed redirect"
Impacted versions: 10

Steps to reproduce:
- have your Odoo installation "behind" a proxy redirect so that you can access it via https://myodooexample.com/ instead of http://myodooexample.com:8069/
- install Sales, Website, and eCommerce modules, if not installed yet
- create any arbitrary product
- click on the button with the globe symbol in the upper right corner, reading "Published On Website"

[2017-10-10 13:31] mhdsyarif opened #20023 "[11.0] Event : odoo.addons.website.models.ir_ui_view: Could not find view object with xml_id"
Impacted versions: 11.0

Steps to reproduce:
- Create Event
- Input Event Name
- Save and Publish on Website

Current behavior:
If the name of the character event is too much then an error.
link : [http://270110-11-0-60a207.runbot11.odoo.com/event/erp-run-business-transformation-in-organization-2017-10-28-16/page/introduction-erp-run-business-transformation-in-organization](http://270110-11-0-60a2

[2017-10-10 13:33] sswapnesh commented on #20020
@mart-e  Yes, Excatly it appears in three different settings but widget has been applied three times on each view.

[2017-10-10 13:43] thegunshow commented on #19991
Hi

This is the error I found in the log file...

Error context:
View `n/a`
[view_id: n/a, xml_id: n/a, model: n/a, parent_id: n/a]
2017-10-10 13:41:02,582 4 INFO deepdivedata-master-staging-764 werkzeug:
105.184.166.139 - - [10/Oct/2017 13:41:02] "POST
/web/dataset/call_kw/res.config.settings/load_views? HTTP/1.1" 200 -

On Tue, Oct 10, 2017 at 11:16 AM, Yenthe V.G <notifications@github.com>
wrot

[2017-10-10 14:19] mart-e commented on #19911
@hanyelbanna thanks for the report, we will look at it.
But just wondering: what do you think this button does? I believe we should remove it because it does not what people think.

[2017-10-10 14:24] lmignon commented on #19536
@rco-odoo Thank you for your work. @Cedric-Pigeon will test your change and give you some feedback.

[2017-10-10 14:50] #19889 closed

[2017-10-10 14:50] #19962 closed

[2017-10-10 14:50] #19954 closed

[2017-10-10 15:06] Yenthe666 commented on #20023
Ahh, yes, thank you for the extra info!
@JKE-be another one in the website 😉

[2017-10-10 15:10] mhdsyarif commented on #20023
Welcome, I wait for the good news  :wink:

[2017-10-10 15:12] xmo-odoo commented on #20008
Indeed, it's a typo in the Japanese address format field, so it should blow up whenever a "complete" address is displayed.

[2017-10-10 15:17] #20008 closed

[2017-10-10 15:38] qdp-odoo commented on #10538
Hello guys,

just to let you know that the above PR (https://github.com/odoo/odoo/pull/18275) is about to be merged in v9.
It would be great if you could test it and give us a feedback wether it is solving your issue (without breaking any of your use cases) before.

Thanks

[2017-10-10 15:41] edsersolis commented on #10538
@qdp-odoo will it come to v10 also?

[2017-10-10 15:44] sswapnesh opened #20030 "[11] Missing upgrade_boolean widget or Allow to check "Automatic Currency Rates" in Invoicing Configuration."
Impacted versions: 11 c

Steps to reproduce: [http://270205-11-0-bfba2c.runbot13.odoo.com](http://270205-11-0-bfba2c.runbot13.odoo.com) Go to Invoicing -->Configuration --> Settings --> Check "Automatic Currency Rates"

Current behavior: It asks to Upgrade odoo.

Expected behavior: "upgrade_boolean" widget should be there or It should allow to install module (If included in community version)

Vid

[2017-10-10 15:44] qdp-odoo commented on #10538
of course, it will follow the regular forward port process.

[2017-10-10 16:01] pedrobaeza commented on #18972
Quentin, has this finally been improved in v11? I hadn't got yet enough time to check.

[2017-10-10 16:03] edsersolis commented on #19905
After updating the module as @jco-odoo suggested I now get the quantities updated but still they don't get displayed on the Qty Available nor Forcasted buttons:

![image](https://user-images.githubusercontent.com/6585110/31396548-ab63aaa8-adb1-11e7-917f-5012e7f79033.png)

![image](https://user-images.githubusercontent.com/6585110/31396579-bf441db4-adb1-11e7-807d-7432dcaef055.png)

But when I try t

[2017-10-10 16:03] dbo-odoo commented on #19991
Odoo.sh does not change anything on the running instance - it behaves like an on-premise installation (or runbot).

I've been unable to reproduce the issue as well... Do you have a surefire way to reproduce it?

[2017-10-10 16:04] dbo-odoo commented on #19951
I'll leave this issue closed, we'll continue this discussion in issue #19991 if you don't mind.

[2017-10-10 16:09] jco-odoo commented on #18714
Indeed, this can speed up some things.

[2017-10-10 17:10] elgow commented on #19390
@gdgellatly I can see your point about invisible=True not necessarily ruling out groupby, but the notion of readonly=True in a view is precisely that the field should not be editable from that view. I don't see why kanban should be an exception to the need for that. In particular, in kanban you can only set the value in a field to a value held by another record. A field for a personal identifier m

[2017-10-10 17:12] edsersolis commented on #19905
After uninstalling and reinstalling the Inventory module everything is working fine. **I would suggest to have a check on the installation process when multiple modules are selected and mass installed.**

[2017-10-10 17:12] #19905 closed

[2017-10-10 17:45] elgow opened #20032 "11.0 mail thread widget not showing up inside notebook page"
Impacted versions: 11

Steps to reproduce: Define a view with an arch that has the following structure
[code]
Current behavior:  The oe_chatter div will not be rendered on the page.  If the oe_chatter div is moved outside of the notebook then it does show up normally.

Expected behavior:  In Odoo 10.0 and 9.0 the oe_chatter div would be rendered in a notebook page, allowing the notebook pages to g

[2017-10-10 17:50] edsersolis commented on #19990
I can confirm that the same behavior is present on v11.

Here I manufactured product ABC and separated the production in three partial deliveries:

![image](https://user-images.githubusercontent.com/6585110/31400273-fe713f3e-adbc-11e7-934a-445c75a0ed10.png)

On the stock valuation side we have this:

![image](https://user-images.githubusercontent.com/6585110/31400347-44aaafa8-adbd-11e7-9496-365fdd

[2017-10-10 17:50] elgow commented on #20032
I should note that one of my notebook tabs has a document editor in it and showing the mail thread on that tab is quite damaging to the UI. The pre-11.0 behavior had great value.

[2017-10-10 18:04] XeJames commented on #15071
I am not certain that this is the "same" problem, but it certainly indicates a possible solution...

Problem:
1. AWS and other online companies charges their OWN magical (about 1% too high) exchange rate if they do the exchange for you.
2. Every bank charges you a DIFFERENT "exchange rate" on multi-currency banking transactions - it is actually a hidden fee that is never itemized.
3. Banks publish

[2017-10-10 18:08] sswapnesh commented on #19997
Same Issue in version 8 and 9.

[2017-10-10 19:25] bhollowa opened #20034 "Statusbar widget shows status that aren't included in statusbar_visible"
Impacted versions:10

Steps to reproduce:

1. Create a selection field with 2 (or more) pairs so the value of one is included in the value of the other, for example, hello and hello_world:
`hello = fields.Selection([
                       ('hello', 'Hello friend'),
                       ('hello_world', 'Hello friends of all the world')
])`
2. Add the field to a view with attributes widget="statu