[2016-06-10 01:07] eronlloyd commented on #10215
I'm having the same exact issue on Fedora 23; clean, fresh new install of everything, pulled down Odoo from nightly. The install went completely smooth with no errors, but the web interface is still rending like above.

[2016-06-10 01:12] eronlloyd commented on #7951
I'm confirming that I have the same errors in #10215 on Fedora 23. Also, someone just posted similar problems with Ubuntu in #12365. Am I hearing correctly that building from source is the only way around this? I'm setting up the enterprise version for a client on RHEL this week and really hope this is fixed ASAP.

[2016-06-10 01:26] eronlloyd commented on #12365
Thanks for the notes here. Could you elaborate a bit more on your workaround? I've installed nodejs-less and python-lesscpy but still nothing. Issue #7951 seems to be part of the issue.

[2016-06-10 06:41] tejastank commented on #7634
@Yenthe666 Please look at https://github.com/odoo/odoo/issues/2594 and try to fix and close it too.

[2016-06-10 07:54] Yenthe666 commented on #2594
@qdp-odoo could you look at this and give a response?

[2016-06-10 09:09] qdp-odoo commented on #2594
hi there,

not sure when it has been fixed, but it has: I cannot reproduce the bug on runbot v8

![screenshot from 2016-06-10 10 15 40](https://cloud.githubusercontent.com/assets/7628598/15958236/8ff2cfac-2ef4-11e6-86a9-900047649d76.png)

Thanks for the contribution

[2016-06-10 09:09] #2594 closed

[2016-06-10 09:12] wtaferner commented on #2594
@qdp-odoo
Not sure if this issue was ever a bug, but I think I have found one during my efforts to support.

Maybe you could also take a look to the dedicated PR https://github.com/odoo/odoo/pull/8427?

[2016-06-10 09:26] #12236 closed

[2016-06-10 09:27] qdp-odoo commented on #12261
not a bug, indeed: you never want to delete an invoice that has an internal number because it would make a gap in your invoice numbering... which is wrong.

So if you really don't want that invoice anymore, replace the partner and all information with the next invoice to be encoded... But, you know that's totally forbidden in many (all?) countries, right?

[2016-06-10 09:27] #12261 closed

[2016-06-10 12:18] JKE-be commented on #12364
It's not because the channel is public that the slide is public...
![image](https://cloud.githubusercontent.com/assets/4848797/15963950/02b2901a-2f16-11e6-8938-d2e4ecaa8763.png)

[2016-06-10 12:30] JKE-be commented on #12353
Hello,

"URL seems to be an unsupported one" is an OpenOffice error when it cannot be find the file (eg: special char, space in url, ...).

Can you check that your file is always present.
Delete all reports (*.swx) from your cache (local/temp) and do an update of the report list.

Can you reproduce it on another computer? Seems to be an error with your install and not with Odoo code.

[2016-06-10 12:54] sle-odoo commented on #4854
Hi,
Do you have an example where the traceback is not useful at all?

[2016-06-10 12:56] sle-odoo commented on #7173
Closing as we won't change the database structure and the issue is fixed in the next version.
Regards

[2016-06-10 12:56] #7173 closed

[2016-06-10 13:01] lslaz1 commented on #12364
😮 you just blew my mind. I don't understand why that's basically impossible to search for.

[2016-06-10 13:01] #12364 closed

[2016-06-10 13:01] sle-odoo commented on #12341
It seems you are right, [this](https://github.com/odoo/odoo/blob/9.0/addons/mrp/views/report_mrporder.xml#L36) should use the context_timestamp like in the [report_layout](https://github.com/odoo/odoo/blob/9.0/addons/report/views/layouts.xml#L144)

[2016-06-10 13:02] JKE-be commented on #6340
Hello @ddfs,
Could you make a pr for master with your code ?

Until now, the only way is to use noindex in header.

[2016-06-10 13:03] PCatinean commented on #4854
Hi,
It has been over a year since the issue I can't remember for sure where the issue was. The qweb views have a good stack trace in the client but I think reports still do not.

For example when printing a report and messing up a t-field, it does not tell you which element it failed rendering, and if you have a huge report it's pretty nasty.

[2016-06-10 13:28] TheNiceGuy commented on #12363
Thanks for replying. Do you know when theses pull requests are going to get merged in master?

[2016-06-10 13:31] JKE-be commented on #12363
no idea... The last limit is the V10...

[2016-06-10 13:34] sle-odoo commented on #12341
Actually my comment is wrong, this will only fix the timestamp and not the format. The only option you have is to hardcode the format in the report with datetime.format. In v10, t-esc will have a format value that will solve this kind of issue more elegantly.

[2016-06-10 13:34] stefatronik opened #12375 "pricelist in SO is only applied after changing the amount fo the article"
Impacted versions:
ODOO9 nightly from 2016-06-10
Steps to reproduce:
When writing a Sales Order I need to change the order quantity to apply the chosen pricelist. Even the actualize button at the bottom of the SO doesn't calculate the correct price.
If I change the pricelist it will not change the prices until I change the order quantity.

[2016-06-10 13:42] quiero commented on #2572
I encountered a very similar one with the latest code.. v9c
Please contact me if you need any more information (like a database backup)

2016-06-10 13:34:22,599 4490 ERROR v9 openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  Fi

[2016-06-10 13:51] JKE-be commented on #12375
@tivisse @bst-odoo  King of usability... No onchange('pricelist_id') implemented...

Should be implemented or not ? already a task on it or not ? thx

[2016-06-10 13:54] bst-odoo commented on #12375
That would be nice to do it, but isn't there any technical limitation to it ? Or is it a historic decision ?

[2016-06-10 13:58] quiero opened #12377 "Error on creating a warehouse"
Impacted versions: V9 (Debian Jessie, Python 2.7.9 (default, Mar  1 2015, 12:57:24)  [GCC 4.9.2] on linux2

The last commit I can see in my log:
vnc@jessie:/opt/odoo$ git log
commit 4ffd2fdd81aad675194f9c21c097abdc99a0d3c0
Author: Damien Bouvy <dbo@odoo.com>
Date:   Thu May 26 10:27:44 2016 +0200

Steps to reproduce:
Go to Inventory \  Warehouse Management  \  Warehouses \ Create
Fill up the field

[2016-06-10 14:40] JKE-be commented on #12377
Cannot reproduce in last 9.0
Pull the last code and retry ...

[2016-06-10 15:24] #11785 closed

[2016-06-10 16:18] ddfs commented on #6340
@JKE-be if you copy paste all the code i have in repo, and include in your module, it should work without any problem.

[2016-06-10 16:24] JKE-be commented on #6340
hello,  after some discussions internally...

- you can do it in robots.txt without add anything in Odoo code. Robots.txt priority is bigger than sitemap.xml
- Route like /web/databases... should be by default removed from sitemap.
- And if you really want one /page/xxx not indexed, you can always add header noindex.

I hope, that we will improve it for v11...

[2016-06-10 17:07] sle-odoo commented on #4854
I think the issue you're referring was fixed in rev https://github.com/odoo/odoo/commit/08604812d81c42904f2eebd7f453bcdcbf060642

With this patch, the whole stacktrace is shown in the webclient.
If you're still facing it, feel free to comment and i'll reopen.

[2016-06-10 17:07] #4854 closed

[2016-06-10 17:22] jco-odoo commented on #2572
Are you sure that parent_left and parent_right were calculated in your database?  (that the current location has values for the parent_left/parent_right fields?)

[2016-06-10 17:28] #1682 closed

[2016-06-10 17:29] #5906 closed

[2016-06-10 17:29] #4238 closed

[2016-06-10 17:30] #2978 closed

[2016-06-10 18:52] quiero commented on #2572
Hello, Josse,

no, not at all,
though I just started exploring this part of functionality. Supposedly they
should be in place by default, right? Where can I check up on that?
(I'm familiar with the shell mode and can explore database directly if
needed) so you can tell me in plain language, lol )

Thanks for a prompt reply,
Paul

On Fri, Jun 10, 2016 at 8:23 PM, Josse Colpaert <notifications@githu

[2016-06-10 21:11] JKE-be commented on #12375
hello @stefatronik
It is already like that since the first version.
It is a historic but also an actual decision.

If you have updated manually unit price, or discount, you don't want to lose all your changes when you change the pricelist.

It is questionable, but the actual position of Odoo about this use case.

The 'actualize button' (save and reopen in edit mode) recomputes tax, subtotal, ...,

[2016-06-10 21:11] #12375 closed

[2016-06-11 06:58] sle-odoo commented on #9113
So, the removal of clean-css has been merged in stable. I'm closing this issue as i just tested in Ubuntu Xenial and it's working, and it should be the same for Debian >= Jessie.

Regards

[2016-06-11 06:58] #9113 closed

[2016-06-11 09:37] sle-odoo commented on #7951
@eronlloyd hi, i just tested on Fedora 23 with the latest build and everything is working as expected, even the less compilation. what i did:
[code]

[2016-06-11 09:40] ddfs commented on #6340
-- true robots.txt priority is higher than sitemap.xml. proper way will be excluding them from there.

i was considering adding a parameter in the controller method parameters like:

``
    @http.route('/sitemap.xml', type='http', auth="public", website=True, sitemap=False)
    def sitemap_xml_index(self):
``

-- another problem during the sitemap generation when running in proxy mode with https,

[2016-06-11 09:41] sle-odoo commented on #10215
Please try again with the latest build.
[code]
These commands on Fedora 23 are working at my end.
Regards

[2016-06-11 09:41] #10215 closed

[2016-06-11 22:25] blaggacao opened #12380 "[BUG] STOCK :: Terribly Erroneous Stock Calculation in Edge Case"
**Impacted versions:**
9.0

**Steps to reproduce:**

I think it can be reproduced by doing a no-operation, that is accidentally validating an internal move within the same stock location, for example MY/Stock -> MY/Stock.

**Current behavior:**
Source and Destination Calculation does show different value (actually it is just the double of the above mentioned no-operation.) Please see attached PDFs

[2016-06-11 22:40] blaggacao commented on #12380
2nd proof:
[Proof2 Cants - Felicity.pdf](https://github.com/odoo/odoo/files/310546/Proof2.Cants.-.Felicity.pdf)
Stock Valuation: 607
[Poof2 Movimientos de Existencias - Felicity1.pdf](https://github.com/odoo/odoo/files/310544/Poof2.Movimientos.de.Existencias.-.Felicity1.pdf)
Outgoing: 1653
[Proof2 Movimientos de Existencias - Felicity2.pdf](https://github.com/odoo/odoo/files/310545/Proof2.Movimien

[2016-06-11 23:17] aek commented on #12227
Hi @Yenthe666
After select the value "Reconcile Payment Balance" in the field "Payment Difference", the field "Counterpart Account" have a domain to only allow you to select  accounts of type "Regular". You cannot select any Payable or Receivable accounts to be able to do the described behavior. Exactly this code in 3 different places(views: view_vendor_payment_form, view_vendor_receipt_dialog_for

[2016-06-12 09:52] 474416133 opened #12382 "a question about build module in odoo 9.0c"
Impacted versions:odoo 9.0c

Steps to reproduce:thanks @JKE-be , @Yenthe666 again,I run odoo complete with their help,now I do step by step from document https://www.odoo.com/documentation/9.0/howtos/website.html.
firstly，i run command ./odoo.py  scaffold academy  my-modules[the server had stoped]
then  i run the server, ./odoo.py --addons-path addons,openerp/addons,my-modules.in my odoo account,

[2016-06-12 10:15] 474416133 commented on #12382
in my table ir_module_module had no record about academy, someone can help me?

[2016-06-12 20:36] JKE-be commented on #12382
You néed to activate the developer mode and you Will have a menu 'update module list'.
Next you will see your app in the list!

But for this kind of question, please use the forum. (Forum.odoo.com)

[2016-06-12 20:36] #12382 closed

[2016-06-13 05:49] stefatronik commented on #12375
Good morning JKE. Thanks for your explanation on this.
Let me suggest an "apply" or "recalculate using current pricelist" button next to the pricelist selection box that makes it possible to apply the chosen pricelist. A hover-text over this button could explain what you wrote above...

[2016-06-13 05:58] Yenthe666 commented on #12380
@jco-odoo could you look at this one please?

[2016-06-13 06:02] Yenthe666 commented on #12377
Hi @quiero,

I've just tested this on another runbot and can't reproduce this either. A newly created warehouse example:
![image](https://cloud.githubusercontent.com/assets/6352350/15998233/e0216b74-313c-11e6-8ca6-87059afaf85d.png)

Please update your Odoo to the latest codebase and this issue should be resolved.
Closing this issue since it can't be reproduced anymore (neither on the community and

[2016-06-13 06:02] #12377 closed

[2016-06-13 06:32] Yenthe666 commented on #366
Hi @gurneyalex,

I can't reproduce this issue either. I'm closing this since it cannot be reproduced and @pna-odoo also pointed out to the possible fix.
If you can still reproduce this please respond and I'll reopen this issue.

Regards,
Yenthe

[2016-06-13 06:32] #366 closed

[2016-06-13 06:35] Yenthe666 commented on #289
Hi @PCatinean,

I recently imported over 1.000 records in one go for a customer without any problems.
I'm closing this since I cannot reproduce this issue anymore. If you still face this issue please post a message here and I'll reopen it. Be sure to add an example CSV file then.

Regards,
Yenthe

[2016-06-13 06:35] #289 closed

[2016-06-13 06:36] Yenthe666 commented on #105
@xmo-odoo is this here for you to remember what to do or can it be closed?
This will all be handled in V10 anyway.

[2016-06-13 06:56] Yenthe666 commented on #11399
Hi @grexe,

This looks partially changed / fixed. When you now click on a module to uninstall and then click the cancel button the dialog will be closed and the button "Cancel uninstall" will be shown:
![image](https://cloud.githubusercontent.com/assets/6352350/15999235/7c6a48dc-3144-11e6-9ccd-283e9c179387.png)
The module isn't uninstalled or anything however, the buttons are just invalid.
The can

[2016-06-13 07:04] Yenthe666 commented on #11033
Hi @DidierLACOMBE,

The module `Inter_company_rules` was available for anybody under V8 but since version 9 it has been moved to the Enterprise part.
You can see the commit that does this here: https://github.com/odoo/odoo/commit/846e206182eacc936ea8762c6341629312e20bf6
And some more information about the versions here: https://www.odoo.com/nl_NL/editions
If you buy the enterprise version you can

[2016-06-13 07:04] #11033 closed

[2016-06-13 07:33] Yenthe666 commented on #11195
Hi @hip-odoo,

The filter 'Expected Date' is not present in V9:
![image](https://cloud.githubusercontent.com/assets/6352350/16000001/bd52da76-3149-11e6-8c62-8f4abfa2df8f.png)

In the master version the filter is there but it works fine by now:
![image](https://cloud.githubusercontent.com/assets/6352350/16000027/e1a5684e-3149-11e6-86fd-651a646bb474.png)
Closing this issue since it has been fixed in

[2016-06-13 07:33] #11195 closed

[2016-06-13 07:34] Yajo commented on #7722
This should get fixed in Firefox 50

[2016-06-13 07:35] Yenthe666 commented on #11149
This won't be in Odoo before V10 and might even be for V11.
The earliest possible time this is added is after october this year.

[2016-06-13 07:40] Yenthe666 commented on #11045
Hi @Anhlq87,

As stated by @joolsr this is not an Odoo issue but you're facing problems with your wkhtmltopdf application. It looks like Odoo cannot find your Wkhtmltopdf.
Github issues are only for problems with Odoo itself though, not installations and configurations of dependencies.
If you still face this issue your best option is to post this on the official Odoo help forums (help.odoo.com) wh

[2016-06-13 07:40] #11045 closed

[2016-06-13 07:45] Yenthe666 commented on #11096
Hi @ayazmansuri,

When the country field shows None it means the contact has not yet had a country set.
The selection field however is filled up if the customer already has a country filled in or after you fill it in. An example:
![image](https://cloud.githubusercontent.com/assets/6352350/16000251/85214a5a-314b-11e6-895a-70cf5cfd466a.png)
Closing this since this is not a bug.

Regards,
Yenthe

[2016-06-13 07:45] #11096 closed

[2016-06-13 07:46] Yenthe666 commented on #7722
@Yajo so this was a bug by Firefox itself or?

[2016-06-13 07:49] JKE-be commented on #12375
Ok, thank you for your feedback.
I tag this issue as a wishlist.
Have a nice day.

[2016-06-13 07:51] Yenthe666 commented on #11146
Hi @flotho,

I can no longer reproduce this issue on the latest runbot.
Please update your Odoo codebase and it should be fixed. If you still face this problem please add some more details about how to trigger the bug but note it should be reproducable on the latest code.
Closing this since the bug has been fixed in the meanwhile.

Regards,
Yenthe

[2016-06-13 07:51] #11146 closed

[2016-06-13 07:52] xmo-odoo commented on #105
Yes, to an extent. At least to remember some of the issues and concerns.

[2016-06-13 07:52] Yenthe666 commented on #11120
@mart-e and @odony this is an issue that I've faced before too. Is there anything we can do about this to fix it?

[2016-06-13 07:59] Yenthe666 commented on #105
Alright I'll leave the issue open then.

[2016-06-13 08:00] mart-e commented on #11399
As said Yenthe, when you close the popup, you see the "cancel uninstall" button.
The explanation is that the cross and cancel button do not do the same things.

When you click on uninstall button ob a module, it will change its state from "installed" to "to uninstall" waiting for your confirmation. Clicking on confirm will pass from "to uninstall" to the "uninstalled" state and cancel will go back

[2016-06-13 08:00] #11399 closed

[2016-06-13 08:08] gfcapalbo commented on #11120
I had a evening of debugging to figure out your problem:
https://github.com/nbessi/odoo_new_api_guideline/pull/38

As you can see in models.py Just add size=-1 to your field definition and the ORM will interpret it .

It is now in the unofficial Odoo documentation of N.Bessi.

[2016-06-13 08:10] lem8r commented on #11120
What if function is passed into selection instead of list?

def _get_my_list(self)
    return [(0, '0-3'), (4, '4-6')]

fields.Selection(_get_my_list)

[2016-06-13 08:12] Yenthe666 commented on #10887
Hi @katsele,

I can no longer reproduce this bug on the latest code. An example product:
![image](https://cloud.githubusercontent.com/assets/6352350/16000868/312fb09a-314f-11e6-817b-b848ef58b51a.png)
An invoice where I've added the product:
![image](https://cloud.githubusercontent.com/assets/6352350/16000885/468cd99a-314f-11e6-9fc7-ba7f1b3dcaf0.png)
After clicking on save the tax is also applied o

[2016-06-13 08:12] #10887 closed

[2016-06-13 08:13] gfcapalbo commented on #11120
Should work the same, test.    the function will return your selection. when the ORM interprets it, if it finds attribute SIZE =-1 it will correctly interpret integer selections.
should still work. I believe that was exactly my case.

[2016-06-13 08:14] Yenthe666 commented on #11120
Alright so starting from Odoo V10 it'll be fixed then? :+1:

[2016-06-13 08:15] gfcapalbo commented on #11120
don't know. There is no particular reason to believe so. possibly.

[2016-06-13 08:19] Yenthe666 commented on #10810
Hi @ddfs,

If you find a specific bug or issue you're free to report this and add a detailed description about it.
This post however is just a list of things that you label as issues, but are most likely not considered as bugs.
If you really feel some functionality is not good please create a separate issue for it and add as much information as you can. With the current list you've put here there

[2016-06-13 08:19] #10810 closed

[2016-06-13 08:20] lmignon commented on #105
@xmo-odoo Since you are moving from openerp to odoo, It would be nice to properly declare `odoo` and `odoo.addons`as namespace packages. https://github.com/odoo/odoo/pull/8758.

[2016-06-13 08:23] fghhfg opened #12385 "How to open odoo after installing it?"
How to open odoo after installing it on win7?

first time it auto open dashboard. now I restart my computer, I am not should how to go into dashboard

[2016-06-13 08:36] JKE-be commented on #3116
Thanks for the reporting.
It has been merged in 8.0: commit odoo/odoo@d43d1ddf4b038ca0500770793b9153f82d1aa257

[2016-06-13 08:36] #3116 closed

[2016-06-13 08:36] JKE-be commented on #8883
Thanks for the reporting.
It has been merged in 8.0: commit odoo/odoo@d43d1ddf4b038ca0500770793b9153f82d1aa257

[2016-06-13 08:36] #8883 closed

[2016-06-13 08:41] Yajo commented on #7722
So it seems, see https://github.com/odoo/odoo/issues/7722#issuecomment-221268808

[2016-06-13 08:42] Yajo commented on #7722
I'd keep this open until FF50 hits stable anyway, to check that out.

[2016-06-13 08:47] Yenthe666 commented on #7722
Hmm interesting! Alright hope this is fixed in FF50.

[2016-06-13 08:56] Yenthe666 commented on #12385
Hi @fabienmorin,

Your Odoo is available under `http://localhost:8069/` by default. The dashboard can be reached by logging in on Odoo and clicking on 'Dashboards'.
Closing this since it is not an issue but a question. If you still face issues with this or are not sure on how to use Odoo you can ask your questions on the official Odoo help forums (help.odoo.com).

Regards,
Yenthe

[2016-06-13 08:56] #12385 closed

[2016-06-13 09:01] fabienmorin commented on #12385
I don't see any reason why my github account is associated to this thread. I think @Yenthe666 you made a mistake.

[2016-06-13 09:23] Yenthe666 commented on #12385
@fabienmorin my apoligies, I've accidentally pinged you, I was a bit to fast there. Sorry!

[2016-06-13 10:13] brauers opened #12390 "openerp.service.web_services: Exception: tostring() has been removed. Please call tobytes() instead."
Impacted versions: openERP 7

Steps to reproduce: dump database from affected system and restore it on a differenten Synology DS
as well as on a VM running in Docker Environment on DS716+II
Current behavior: Newly created customer bills can't be emailed or printed out

Expected behavior: customer bill's should be able to print (export to pdf) or send by email

Video/Screenshot link (optional):
![b

[2016-06-13 10:25] liebana commented on #9906
Any news regarding this?

[2016-06-13 10:52] Anhlq87 commented on #11045
Thank you for your support to me. Your answer help me to solved it. thank you so much. :)

[2016-06-13 11:03] #5830 closed

[2016-06-13 11:05] sle-odoo commented on #5868
Closing as PR #6010 has been merged.
Regards

[2016-06-13 11:05] #5868 closed

[2016-06-13 11:09] sle-odoo commented on #6158
Closing as i cannot reproduce with the latest 8.0.
Regards.

[2016-06-13 11:09] #6158 closed

[2016-06-13 11:09] Yenthe666 commented on #11045
Great to hear you've maneged to solve it! You're welcome.

[2016-06-13 11:12] sle-odoo commented on #6334
Closing as i reproduce the issue at my end. I suggest you to turn on the workers mode, which will most probably prevent these kind of issues. If you have a way to reproduce this issue i'll be happy to try it and try to fix the real issue.

Regards

[2016-06-13 11:12] #6334 closed

[2016-06-13 11:13] sle-odoo commented on #6307
We changed it in 9.0 but please note that you can customize the menu the way you want in every Odoo version.

Regards

[2016-06-13 11:13] #6307 closed

[2016-06-13 11:14] sle-odoo commented on #9201
Closing as it seems to be a [deployment issue](https://github.com/odoo/odoo/issues/9201#issuecomment-210378303).

Regards

[2016-06-13 11:14] #9201 closed

[2016-06-13 11:22] sle-odoo commented on #4358
Closing as this issue was fixed with https://github.com/odoo/odoo/commit/be33912a2580779d747c504e16580065e496c884

Regards

[2016-06-13 11:22] #4358 closed

[2016-06-13 11:24] sle-odoo commented on #4353
Closing as i cannot reproduce this issue. Feel free to comment if you're still facing it with an updated codebase and we'll have a deeper look.

Regards

[2016-06-13 11:24] #4353 closed

[2016-06-13 11:33] #12303 closed

[2016-06-13 12:02] diezcode opened #12392 "Question : How can I duplicate the searchbar and make it searching attributes?"
How can I duplicate this search view in odoo8 ?
http://i.imgur.com/49iKseW.png

I need it a second time this searchbar, and it should search the attributes of products, with the AND Operator and not or.

How can I do that, I pay for it .

[2016-06-13 12:07] Yenthe666 commented on #12392
Hi @diezcode,

Github issues are only for issues regarding the default code of Odoo. This is not the place for custom development or questions.
I'd suggest you to create a question on the official Odoo help forums, where I'm sure somebody can help you! (see help.odoo.com).
Closing this issue since it is not a bug.

Regards,
Yenthe

[2016-06-13 12:07] #12392 closed

[2016-06-13 12:28] JKE-be commented on #5867
It is generated by bot which one know the url via the sitemap.
A normal flow should not arrive on this page with an empty cart.

If you add this route in your robot.txt, that should solve your problem for bot.
You can also add a cron which clean empty sale order from public user with state draft.
We are looking for a solution in standard, by default, in the next version.

Thanks for the reporting

[2016-06-13 12:28] #5867 closed

[2016-06-13 12:29] JKE-be commented on #12390
Hello,
Same answer than on the forum...
What is the version of your pillow library ?
thanks

[2016-06-13 12:38] #12390 closed

[2016-06-13 12:41] brauers commented on #12390
Hi,
Metadata-Version: 1.1
Name: Pillow
Version: 3.2.0
Summary: Python Imaging Library (Fork)
Home-page: http://python-pillow.org

thanks, sorry for double opened

[2016-06-13 12:45] JKE-be commented on #12390
you can remove it or downgrade it ...
Thanks for the reporting

[2016-06-13 12:46] JKE-be commented on #12390
https://github.com/python-pillow/Pillow/pull/71
https://github.com/python-pillow/Pillow/issues/63

[2016-06-13 13:08] Yenthe666 commented on #10498
Hi @sswapnesh,

In the meanwhile the forum has been updated and the speed has been improved. A few days ago I've personally got a new badge so I think this has been fixed by now.
If this issue still persist don't hesitate to comment and I'll reopen it.

Regards,
Yenthe

[2016-06-13 13:08] #10498 closed

[2016-06-13 13:11] Yenthe666 commented on #10472
Hi @lrazov,

The Github issues are only for bugs on the official Odoo, not for custom development or help.
I'd suggest you to create a new question on the official Odoo forums (help.odoo.com) if you still face this issue, I'm sure somebody can help you!

Regards,
Yenthe

[2016-06-13 13:11] #10472 closed

[2016-06-13 13:12] Yenthe666 commented on #10480
@tde-banana-odoo any update on this? :gem:

[2016-06-13 13:17] Yenthe666 commented on #10468
Hi @ahmedfh,

I can't reproduce this error on the latest code anymore. An example:
![image](https://cloud.githubusercontent.com/assets/6352350/16008787/e1bda686-3179-11e6-8600-889d8081afa2.png)
Please update your Odoo codebase, your issue should be resolved then.

Regards,
Yenthe

[2016-06-13 13:17] #10468 closed

[2016-06-13 13:27] aetna-softwares commented on #12288
@odony , I again get the case on my server. This time on a very simple call to /web/session/get_session_info and again with a relatively short stacktrace :
[code]
Please note the little difference on error wording "while calling a Python object"

As there is only 50 recursion in this trace, I think there is a problem somewhere with the python configuration.
I checked `sys.getrecursionlimit()` from

[2016-06-13 13:40] Yenthe666 commented on #11723
Hi @csz,

Your true issue is coming from this:

Exception: Versioning for this project requires either an sdist tarball, or access to an upstream git repository. Are you sure that git is installed?

This issue is not related to Odoo itself, but is a faulty configuration.
Closing this issue since I can't reproduce it and it doesn't seem to have anything to do with Odoo itself.

Regards,
Yenthe

[2016-06-13 13:40] #11723 closed

[2016-06-13 14:19] brauers commented on #12390
how to remove/downgrade pillow from Syno NAS

[2016-06-13 14:47] sle-odoo commented on #12390
Hello,
You are asking questions about Synology on the Odoo bug tracker. Anyway AFAIK python is not installed by default on synology so if you have pillow installed either you installed it manually or another application installed it. If you don't care about the other applications then open a shell to your synology and make a source install. There is an installation guide on the [odoo documentation

[2016-06-13 14:49] joolsr commented on #12049
I'm still having same issues even with trying other setups with NGINX. Its quite important to get this right as otherwise the browsers ban/do not show the content ie slides that you expect.

@mart-e How do you have your nginx set-up? I also use http2, but I dont believe this is affecting things

[2016-06-13 14:51] joolsr commented on #12049
@mart-e, I have got the headers you describe all correct.

[2016-06-13 14:52] sle-odoo commented on #9270
fixed at rev efe37469e9d6741403829e9d64fd67a2d8bb2e66

Thanks

[2016-06-13 14:52] #9270 closed

[2016-06-13 14:57] jco-odoo commented on #9877
@sle-odoo I know, would be good for master.

[2016-06-13 14:58] mart-e commented on #6211
Hello,

Sorry but the github issues are for bug reports, not to ask questions. Please check on the support or forum.
https://www.odoo.com/page/community

[2016-06-13 14:58] #6211 closed

[2016-06-13 14:59] sle-odoo commented on #1053
Closing as https://github.com/odoo/odoo/issues/1053#issuecomment-104391309 answered the actual position of Odoo on this matter.
Regards

[2016-06-13 14:59] #1053 closed

[2016-06-13 15:02] mart-e commented on #98
As mentioned on [GitHub Transition](https://github.com/odoo/odoo/wiki/GitHub-Transition) page, everything has been migrated now

[2016-06-13 15:02] #98 closed

[2016-06-13 15:03] mart-e commented on #1242
As mentioned on [GitHub Transition](https://github.com/odoo/odoo/wiki/GitHub-Transition) page, everything has been migrated now

[2016-06-13 15:03] #1242 closed

[2016-06-13 15:06] mart-e commented on #12049
@joolsr  check my comment at [10363#223286990] with details on the configuration.
Closing this one to focus the discussion on one topic.

[2016-06-13 15:06] #12049 closed

[2016-06-13 15:06] sle-odoo commented on #1397
The base edition is correctly working on Firefox. If you're still facing this issue with an updated codebase feel free te comment and i'll reopen.
Regards

[2016-06-13 15:06] #1397 closed

[2016-06-13 15:10] sle-odoo commented on #1836
Cannot reproduce in the latest runbot, this issue was probably fixed in the meantime.

Regards

[2016-06-13 15:10] #1836 closed

[2016-06-13 15:10] mart-e commented on #10457
ec005af [FIX] anonymization: default anonymization fields - Simon Leblanc
45483b9 [FIX] anonymization: allow anonymization on HTML fields - Simon Leblanc
42aa79d [CLA] Sign CLA of leblanc-simon - Simon Leblanc

[2016-06-13 15:10] #10457 closed

[2016-06-13 15:12] sle-odoo commented on #2379
Hi,
I can't reproduce this issue with the latest code. It was probably fixed in the meantime.

Regards

[2016-06-13 15:12] #2379 closed

[2016-06-13 15:12] brauers commented on #12390
Hi guys,

I apologize asking this question in Odoo bug tracker.
However, installing OpenERP 7.0 will automatically include python module installation - at least on a Syno DS. There is no way using the GUI to remove  python modules keeping OpenERP 7.0  installed.

dpkg -r pillow is returning pillow is not installed on Syno (not your problem, correct)

Conclusion: After automatic update happened to

[2016-06-13 15:15] sle-odoo commented on #4928
Hello,
The right place to ask questions is on the support or the forum.
https://www.odoo.com/page/community

Regards

[2016-06-13 15:15] #4928 closed

[2016-06-13 15:18] sle-odoo commented on #9204
Yeah this is a deployment issue. You probably have to tweak the ``` --db-maxconn ``` argument.

Regards

[2016-06-13 15:18] #9204 closed

[2016-06-13 15:19] sle-odoo commented on #9255
Hi,
It is the Odoo bug tracker and your issue is in the ```woocommerceerpconnect/model/product_combination.py```which is not part of the standard Odoo addons, so it's not the right place for this bug report.

Regards

[2016-06-13 15:19] #9255 closed

[2016-06-13 15:20] sle-odoo commented on #9235
Closing as @bistaray said everything.

Regards

[2016-06-13 15:20] #9235 closed

[2016-06-13 15:55] joolsr commented on #12049
ok

[2016-06-13 15:59] pscomp commented on #9543
Changed the "Administration" access to configuration and now I lost the "Settings" menu to admin. How do I fix this?

[2016-06-13 16:08] mart-e commented on #9543
@pscomp update your base module

[2016-06-13 16:18] adrienpeiffer commented on #9279
OPW 680795

[2016-06-13 16:23] pscomp commented on #9543
@mart-e Thanks
I used this url http://localhost:8069/web?#page=0&limit=80&view_type=list&model=res.users&action=69
and I was able to edit the access for administrator. Now I got the settings back

[2016-06-13 16:55] JKE-be commented on #12353
Cannot reproduce on runbot.
Please use https://help.odoo.com for this kind of question.

If you can reproduce it, don't hesitate to re-open an issue with the step 'how to reproduce'...

[2016-06-13 16:55] #12353 closed

[2016-06-13 21:01] mmalorni commented on #3753
Same issue. The database name is not part of the URL for the image or anything else making it unique so the image is cached and doesn't change until you have cleared your cache. The link to retrieve the image should be unique per database and per company.

[2016-06-14 03:59] spadae22 commented on #12060
Any word on this @mart-e ?

[2016-06-14 07:15] Yenthe666 commented on #11482
Hi @RoelAdriaans-B-informed,

I've just tested this on the latest runbot and it all works fine.
This issue has probably been fixed in the meanwhile. Closing this since I can't reproduce it anymore.

Regards,
Yenthe

[2016-06-14 07:15] #11482 closed

[2016-06-14 07:19] Yenthe666 commented on #10814
Hi @tejastank,

I just tested this on the latest code and can install all CRM related apps without any problem.
If you still face this issue please update your Odoo to the latest codebase and install the apps again.
Closing this issue since I cannot reproduce this.

Regards,
Yenthe

[2016-06-14 07:19] #10814 closed

[2016-06-14 07:20] Yenthe666 commented on #10803
@mart-e another ping for you :gem:

[2016-06-14 07:22] Yenthe666 commented on #10795
I've noticed this 'problem' before too, when you update the project module it will create 1 project with 12 tasks. @dreispt it is also on live databases, not on demo only.
@mart-e could we please change this? This has bothered me a few times already.

[2016-06-14 08:36] aisopuro opened #12406 "[9.0] Product variants are not available in Inventory (prev. Warehouse) view"
Impacted versions: 9.0 mainly, but I would extend this to 8.0 as well. Tested on `demo.odoo.com` just now.
#### Steps to reproduce:
1. In the settings, select "Products can have multiple attributes"
2. Open the Sales view.
3. In the Sales view, open the Sales dropdown: you will see menu options for both Products and Product Variants:

![image](https://cloud.githubusercontent.com/assets/2587901/160

[2016-06-14 08:43] mart-e commented on #10795
Are you using the command line?
[code]

[2016-06-14 08:46] Yenthe666 commented on #12406
Hi @aisopuro,

Thanks a lot for the detailed report, nicely written.
I for one would be for this idea, I personally think that a new menuitem could be useful here and the person that doesn't need it doesn't use it, it is as simple as that.
I however am not the one to make this decision, so I can only throw in my opinion.
@mart-e what do you think about this?

[2016-06-14 08:50] Yenthe666 commented on #10795
@mart-e through the interface you have the same issue and you can reproduce it on the latest runbots.
 1. Delete the project 'Start here to discover Odoo'
 2. Update your apps list
 3. Update the project module
 4. Go back to the project views and you'll see the project 'Start here to discover Odoo' will be back, with 13 tasks linked to it.

[2016-06-14 09:05] mart-e commented on #10795
Oh ok your bug is not that demo data got installed, it is that data that should have been in demo end up in production.
I agree these tasks should have never been in data but indeed when you update the module, deleted data will be back again. You need to archive the project, not remove the data.

It's unfortunately not something we can change in stable but we have a branch to improve that in maste

[2016-06-14 09:05] #10795 closed

[2016-06-14 09:14] Yenthe666 commented on #10795
@mart-e alright, so in V10 we will no longer face this behaviour?

[2016-06-14 09:28] macdelacruz opened #12407 "Message Composition Wizard in Portal shows annoying dialog when clicking Send"
Impacted versions: Odoo 9 latest version

Steps to reproduce: Install _portal_ and _project_ modules. Then create a portal user and add this user to a project. Then log in as portal and open the project's form view. In the project's thread, start a new message by clicking on the new composition icon (next to paperclip and insert emoticon icons). Type in a message and click Send.

Current behavior:

[2016-06-14 09:38] aristobulo-eezee opened #12408 "[9.0/10.0] product.pricelist.item using deprecated decorator @api.one"
Impacted versions:
9.0

It's strongly recommended by Odoo to avoid using `api.one` decorator, BUT, it's used in `product` module.
https://www.odoo.com/documentation/9.0/reference/orm.html#openerp.api.one

Affected code:
https://github.com/odoo/odoo/blob/9.0/addons/product/pricelist.py#L359

Please fix this method based on your on **own recommendation** about this **deprecated** decorator

[2016-06-14 09:47] Yenthe666 commented on #12408
@mart-e could this be fixed in the stable? I also agree that those @api.one decorators shouldn't be here, I've seen more of them in the past.
I don't think this can be done in the stable though?

[2016-06-14 09:53] mart-e commented on #12408
It is not recommended but do you get a real issue with this method?
I also remind you our [stability guidelines](https://github.com/odoo/odoo/wiki/Contributing#what-does-stable-mean)

Pull request welcome for master though

[2016-06-14 09:54] Yenthe666 commented on #12408
@mart-e a pull request for the master is useless though? All modules are migrated to the new API anyways, so this should be replaced by V10 too.

[2016-06-14 09:59] aristobulo-eezee commented on #12408
@mart-e

We are working with pricelists, so we came with two basic options:
1. use this deprecated decorator in our code
2. use multi, iterate on self and call super on each element

What I don't like is that in the future Odoo will have to fix this, leaving our code in bad shape, either with a non-working iterator or with spaghetti code just for this small thing.

I agree, is not a big problem, b

[2016-06-14 10:01] JKE-be commented on #12407
Thank you for the reporting.
@ged-odoo will take a look asap...

[2016-06-14 10:07] rim-odoo commented on #12408
Feel free to improve master code, indeed.

[2016-06-14 10:55] aristobulo-eezee commented on #12408
What about 9.0?

[2016-06-14 10:57] Yenthe666 commented on #12408
@aristobulo-eezee as Martin stated:

So I guess this won't be merged in 9.0, only in the master.

[2016-06-14 10:58] nim-odoo commented on #12254
Hello,

Your field is not correctly defined. For a computed field, you should define the dependencies thanks to `@api.depends`. In your case, this should probably be the solution:
[code]

Please read https://www.odoo.com/documentation/9.0/reference/orm.html#computed-fields

Regards,

[2016-06-14 10:58] #12254 closed

[2016-06-14 11:09] dreispt commented on #10795
@mart-e I agree with @Yenthe666 : a fix should be provided for some version

[2016-06-14 11:30] Yenthe666 commented on #12408
@rim-odoo I wouldn't really label this invalid, technically his bug report is correct. The @api.one should have been removed before V9.
@mart-e could you atleast fix this in the master? :gem:
@aristobulo-eezee that downvote is not cool, don't shoot the messenger. :cactus:

[2016-06-14 11:38] aristobulo-eezee commented on #12408
@rim-odoo it's kind of irresponsible to label this as invalid, it was odoo who deprecated the decorator and still continued using in a standard module.

@Yenthe666 don't take it personal

[2016-06-14 11:43] #10803 closed

[2016-06-14 11:44] tesserB commented on #12288
@blaggacao @elicoidal @kanderson450

Gentlemen:
    Hate to bother, but have any of you ran into a "RuntimeError: maximum recursion depth exceeded..." while using Odoo's docker image? If you haven't, feel free to ignore this. Odony's on the case, otherwise, but it probably wouldn't hurt to have an extra set of eyes.

Sincerely,
Cody K.

[2016-06-14 11:47] rim-odoo commented on #12408
Ok guys, if a label is greatly offending you, I remove it.

But actually... even if this code is quite ugly, **do you have a real problem**? Something that breaks your business? Or are we, all of us, losing our time on a detail?

I can agree, we shouldn't use our own deprecated methods, but sometimes... sh**t happens. People are not perfect, sometimes they ship ugly code :( But it works.
As @mart-

[2016-06-14 11:50] adrienpeiffer commented on #9279
To summarize simply, it's not possible to add x2many fields on hr.analytic.timesheet.

[2016-06-14 12:20] aristobulo-eezee opened #12415 "[9.0] website: not able to remove a created website"
Impacted versions:
9.0

Steps to reproduce:
Go to website admin and create a new website.

There is no way for an user to delete a website, either because is not needed anymore or if it was created by mistake.

Please provide a standard way to delete a website.

[2016-06-14 12:32] Gorash commented on #8699
look https://github.com/odoo/odoo/pull/12416

[2016-06-14 12:39] jholze commented on #8699
@rruebner can you please check. Thanks @Gorash

[2016-06-14 13:58] cyrilgdn opened #12418 "[V9] Product status (state) can't be filled."
In product.template tree view, there is a [Status (field name: state) field displayed](https://github.com/odoo/odoo/blob/9.0/addons/product/product_view.xml#L62) but this  field was removed in form view in [this commit](https://github.com/odoo/odoo/commit/af9d21b379f1dd42e83dcfa164af489c9261542d#diff-ff82cb73c72dabaf570b0e9bad939b0eL110)

So the product state can't be filled.

Expected behavior: E

[2016-06-14 14:08] holdenrehg commented on #12306
@Xpiva are you able to consistently reproduce?

[2016-06-14 14:19] aristobulo-eezee opened #12419 "[9.0] website: /logo.png displays wrong company logo"
Impacted versions:
9.0e

Steps to reproduce:
- Create two companies: Company A, Company B (they are not related)
- Set different logos for Company A and Company B
- Go to users, select inactive users and duplicate Public user. Set login as public2, set company to Company B and allowed companies only to Company B.
- Now public user has access to company A, and public 2 to company B
- Go to website

[2016-06-14 16:52] blaggacao commented on #9279
Ok, you might want to close this issue as part of the shared housekeeping efforts. Best

[2016-06-14 17:10] blaggacao commented on #12288
https://www.odoo.com/es_ES/forum/ayuda-1/question/maximum-recursion-depth-exceeded-while-calling-python-object-41701

[code]

[2016-06-14 17:11] adrienpeiffer commented on #9279
@blaggacao What do you mean exactly ?

[2016-06-14 17:18] blaggacao commented on #9279
As the reporter of the issue, you can close it here directly in github by clicking on the close button. If I understand you correctly, it is an expected/known behaviour. This means that without further and detailed reasoning, why this is still not correct behaviour, one should be generally in favor of closing issues.

[2016-06-14 17:25] #3173 closed

[2016-06-14 17:25] #6644 closed

[2016-06-14 18:50] spadae22 commented on #12060
@Yenthe666 @mart-e Based upon the answer from support, this should be closed.
Here it is: This is not expected to mark the invoice as paid when paying an invoice with the Paypal link included in the email sent. This must be done manually.

The only thing which is done automatically is confirming the sale order coming from the ecommerce when the paypal payment is received.

Regards,

Denis Ledoux

[2016-06-14 19:21] dansanti commented on #12229
Well apparently there are no chance to change public user_id, then, with each new site,  user_id and company_id is the same..   https://github.com/odoo/odoo/blob/9.0/addons/website/models/website.py#L178

[2016-06-14 20:11] greanie opened #12422 "[8.0] Accounting, Create Account, Possible parent accounts list not populated"
Impacted versions:
8.0
Steps to reproduce:
Accounts->Accounts->Create : Set the parent
Current behavior:
Upon selecting the 'Parent' edit box, no list of existing analytical accounts comes up, only 'Create & Edit'
Expected behavior:
Upon selecting the 'Parent' edit box, a list of existing analytical accounts comes up as well as 'Create & Edit'
Video/Screenshot link (optional):

[2016-06-14 23:55] kanderson450 commented on #12288
@tesserB I have not encountered that error but I've only used the Odoo 9 Docker image.  Can't speak to Version 8.

[2016-06-15 00:10] eronlloyd commented on #7951
I removed `/bin/lessc` and then called `sudo npm install -g less less-plugin-clean-css` and it worked. I followed nearly exact instructions, as well, but ran into those less issues (along with `wkhtmltopdf`). I'll assemble my notes for further follow up if necessary. The good news is I had no issues installing on RHEL 7.3 today, so perhaps there's discrepancies between that and Fedora that I'm mis

[2016-06-15 02:02] elicoidal commented on #12288
@tesserB we run several instances in v8 on docker and did not encounter such issue.

[2016-06-15 06:57] thejunaidhashmi opened #12425 "Unable to Install he_recruitment module"
Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-06-15 07:14] michaelkarrer81 commented on #7024
+1 for decimal.Decimal

[2016-06-15 07:14] #12060 closed

[2016-06-15 07:26] JKE-be commented on #12425
Need more details...

Which version ? 7, 8, 9c, 9e ?
Online or on promise ?
What is the error ? A traceback ?

We are not on twitter, you can type more than 140 characters !

[2016-06-15 07:26] #12425 closed

[2016-06-15 07:54] #12418 closed

[2016-06-15 07:56] mart-e commented on #12418
Thanks for the report, indeed the field state is deprecated and we chose to remove it from the standard views. The tree view was forgotten.

[2016-06-15 08:10] aristobulo-eezee commented on #12415
Only when A/B versioning is activated Websites are accesible in a list view. A/B versioning is only available in 9.0e, while `website` is a standard object included in 9.0c

It should be better to move 'Website Domain' menu to Website > Configuration

Also, it doesn't make much sense having Website Domain only after installing versioning.

[2016-06-15 08:20] kenneth-vkd commented on #12178
Ok. That is then the issue.
But what should I name this file that updates the COA with the taxes.
If I just put in a file with some name like account.account.template.tax_ids then it fails with this error:

`Traceback (most recent call last):
  File "I:\Program Files (x86)\Odoo 9.0e\server\.\openerp\http.py", line 643, in _handle_exception
  File "I:\Program Files (x86)\Odoo 9.0e\server\.\openerp\

[2016-06-15 08:37] Ben17000 opened #12427 "addon delivery action_confirm @api.multi"
Impacted versions: all

Steps to reproduce:

in file  odoo/addons/delivery/models/sale_order.py
we have

1    @api.multi
2   def action_confirm(self):
3        res = super(SaleOrder, self).action_confirm()
4       for so in self:
5            self.invoice_shipping_on_delivery = all([not line.is_delivery for line in so.order_line])
6    return res

as action_confirm is @api.multi decorated we shoul

[2016-06-15 08:54] Yenthe666 commented on #12415
@mart-e what do you think about this?

[2016-06-15 09:10] thejunaidhashmi commented on #12425
hey'
 its version 8 i'm accessing

  I'm not able to Install the "Recruitment" Module in Human Resource even
though i have ticked the "manage the recruitment process" in
setting>Configuration>Human Resources>

On Wed, Jun 15, 2016 at 12:57 PM, JKE-be <notifications@github.com> wrote:

[2016-06-15 09:25] JKE-be commented on #12425
ok, and what did you mean by 'not able'...
You have a popup with a warning message ?
You have some logs in your console ?

Because, if you check on the runbot, it works...
So there are something on your install which block and without more details, we cannot help you...

And because it is at first view not an issue in Odoo but with your install/configuration, you should post your question on the f

[2016-06-15 09:37] aristobulo-eezee opened #12429 "[9.0] website_sale: Multi website + multi company shows wrong payment methods"
**Impacted versions:**
9.0, probably 8.0 also.

**Steps to reproduce:**

1. Create two companies: Company A, Company B (they are not related)
2. Go to Invoicing > Configuration and activate Paypal and Ogone acquirers.
3. Go to Invoicing > Configuration > Payment Acquirers and set PayPal's company to Company B, set Ogone's company to Company A.
4. Set both acquirers to be published on website, set

[2016-06-15 09:40] mart-e commented on #12415
Hello,

Sorry but in 9.0 the multi-website is not supported for website alone. Adding a menu for website configuration would give a false sense of giving this feature while it would not work (e.g. trying to configure one website per company and getting issues with static files).
In case you created an extra website by mistake, you will need to create a new menu to delete it.

[2016-06-15 09:40] #12415 closed

[2016-06-15 09:44] aristobulo-eezee commented on #12415
@mart-e are you 100% sure?

In 9.0e you can create as many domains as you want without installing `website_version` and they will work as different websites.

[2016-06-15 09:46] sle-odoo commented on #11739
Hi,
You better ask suppor for the angular-odo library ont he angular-odo bug tracker.

Regards

[2016-06-15 09:46] #11739 closed

[2016-06-15 09:49] aristobulo-eezee commented on #12429
This also affects customer creation.

New eCommerce customers will be created for the wrong company if using the configuration described before.

[2016-06-15 09:53] aristobulo-eezee commented on #12429
I have found a fix for wrong payment methods and wrong company in quotation.

Check here: https://github.com/eezee-it/odoo/commit/9def13bd97a9a0184f48850e4461fb8d5eba7b18

[2016-06-15 10:02] Yenthe666 commented on #10263
Hi @KCITSindia,

As @jeffery9 stated you're missing the barcode fonts on your system.
When you install the Python package report_lab it'll be fixed.
Closing this since it is not a bug / issue but because the implementation is not correctly done.

[2016-06-15 10:02] #10263 closed

[2016-06-15 10:02] aristobulo-eezee commented on #12429
@Yenthe666 you might wanna have fun with this one

[2016-06-15 10:03] Yenthe666 commented on #10257
Hi @ausl,

I can no longer reproduce this on IE 11 with the latest Odoo code.
On a sidenote: please add more information on your next reports, we have no idea where this bug is or how it is reproduced.
Closing this since I'm missing more information and since I cannot reproduce it anymore.

Regards,
Yenthe

[2016-06-15 10:03] #10257 closed

[2016-06-15 10:05] Yenthe666 commented on #10248
Hi @tanerhasret,

Migration problems don't fall under the Github issues, they are reserved to bugs only, not migration and implementation issues.
That being said @adekock11 is correct that the module `crm_voip` has the ability to hold this data.

Regards,
Yenthe

[2016-06-15 10:05] #10248 closed

[2016-06-15 10:07] Yenthe666 commented on #10246
Hi @PortCities,

Thanks for your report but you're mentioning a line on a file that has been edited after your report, so I have no way to check this.
I can't reproduce any issues in the latest Odoo code either.
I'm closing this since I have not enough information and cannot reproduce this.
If you still face this issue please create a new report with more details about the issue (and I'd love scre

[2016-06-15 10:07] #10246 closed

[2016-06-15 10:15] Yenthe666 commented on #12429
@aristobulo-eezee what a nicely detailed report, thanks!
@fwi-odoo, @mart-e and @odony could you guys look at this one? There is indeed something wrong there.

[2016-06-15 10:15] lukebranch opened #12431 "[8.0/9.0/10.0/Master] website_livechat, im_livechat"
<h1>Impacted versions:</h1>
8.0/9.0/10.0/Master

<h1>Steps to reproduce:</h1>
<ol>
<li>Settings >> Website Live Chat >> How to use the Website Live Chat widget? >> [your head tags code here]</li>
<li>Copy and paste this into the header of a website including the jQuery library. Many functions will be broken due to the fact it is being included twice.</li>
<li>Create an empty HTML file and include

[2016-06-15 10:22] Yenthe666 commented on #10266
Hi @eneldoserrata,

Thanks a lot for the report and for the video, that is very handy.
I can't reproduce this issue anymore on the latest code so this is fixed in the meanwhile.

Regards,
Yenthe

[2016-06-15 10:22] #10266 closed

[2016-06-15 10:28] Yenthe666 commented on #10237
Hi @OmniaGit,

I can no longer reproduce this issue on the latest runbots. An example:
![image](https://cloud.githubusercontent.com/assets/6352350/16076635/87239380-32f4-11e6-94f4-040d46866b81.png)

Regards,
Yenthe

[2016-06-15 10:28] #10237 closed

[2016-06-15 10:32] Yenthe666 commented on #10180
Hi @tomisweet,

This issue can no longer be reproduced so it is probably fixed in the meanwhile.
If you still face this problem please let me know and add more information about how to trigger it step by step.

Regards,
Yenthe

[2016-06-15 10:32] #10180 closed

[2016-06-15 10:36] Yenthe666 commented on #10206
Hi @awpeters,

Please submit such changes as a pull request, with detailed information about what it does and why you want to change it.
I see no problem with the current way and this is not an issue so I'm closing this.

Regards,
Yenthe

[2016-06-15 10:36] #10206 closed

[2016-06-15 10:41] Yenthe666 commented on #10145
Hi @rgeromegnace,

Thanks a lot for your report! I've just checked this on the latest Odoo V9 and this is still the case and is actually the behaviour around Odoo.
@mart-e could you throw in an official statement here? Not sure where Odoo stands about this one.

[2016-06-15 10:43] Yenthe666 commented on #10128
Hi @InfernalLV,

This issue is no longer present on the latest Odoo codebase / browser version.
Closing this since it has been fixed already.

Regards,
Yenthe

[2016-06-15 10:43] #10128 closed

[2016-06-15 10:52] Yenthe666 commented on #10079
Hi @diezcode,

I've just tested this on the latest codebase and this issue has been fixed in the meanwhile.
If you still face this problem please update your Odoo to the latest codebase and it'll be fixed.
Closing this since it can no longer be reproduced.

Regards,
Yenthe

[2016-06-15 10:52] #10079 closed

[2016-06-15 10:55] Yenthe666 commented on #9963
Hi @monami7000,

This issue is no longer present with the latest Odoo code.
If you still face this issue please add some more information on how to reproduce this.
I'll close this issue, in case you have more information just post it here and I'll look at it again.

Regards,
Yenthe

[2016-06-15 10:55] #9963 closed

[2016-06-15 10:56] Yenthe666 commented on #10067
@sle-odoo any update on this one?

[2016-06-15 10:57] Yenthe666 commented on #10086
Hi @lukebranch,

Do you still face this issue?

[2016-06-15 11:00] mart-e commented on #10145
Yes it's because the duplicate button is not opening a new window with suggestions, it is really creating a copy. As people usually wants to modify it after duplication, we open the new in edit mode but really it has already created a copy.
Works as expected.

[2016-06-15 11:00] #10145 closed

[2016-06-15 11:03] Yenthe666 commented on #9868
Hi @8cells,

I'm not sure what you mean with backend theme, since there are no backend themes by default in Odoo. There is only the front-end theme, you can't (by default) change the look of the backend.
I'm quite sure you're talking about a module that is not made by Odoo itself.

Regards,
Yenthe

[2016-06-15 11:05] aristobulo-eezee commented on #12429
And a fix for the wrong company at customer creation: https://github.com/eezee-it/odoo/commit/ef94d887095bb1c977130b0d36f8974b1c4285ed

[2016-06-15 11:07] Yenthe666 commented on #10145
Alright, I was already thinking that. Thanks. (and sorry for mislabelling)

[2016-06-15 11:08] Yenthe666 commented on #12429
@aristobulo-eezee maybe you could make a PR for this? :smile:
I can't promise you it'll be accepted though, that is not my call.

[2016-06-15 11:15] mart-e commented on #12415
Sure you can create multiple website, the system allows you to do so but we don't recommend it, it's still experimental. #12429 is an example of problem that occurs.

[2016-06-15 11:23] Yenthe666 commented on #9345
Closing this since there has been no response in over 3 weeks.
As stated, just update the base.

[2016-06-15 11:23] #9345 closed

[2016-06-15 11:26] aristobulo-eezee commented on #12415
@mart-e wait a minute, having multiple domains doesn't imply having multi-company websites.
Scenario:

1. A 9.0e user installs website builder.
2. Goes to Website admin, clicks on create and edit.
3. Oops, I have changed my mind.
4. How the hell do I delete it?

Of course you can recommend to install website_version but isn't really necessary.

Is just an usability issue. An user can create many d

[2016-06-15 11:26] Yenthe666 commented on #9298
Hi @falinwa,

The displaying and image and using it is expected and wanted behaviour by Odoo.
There is no different image uploaded for every single record.

Regards,
Yenthe

[2016-06-15 11:26] #9298 closed

[2016-06-15 11:29] Yenthe666 commented on #9274
Hi @schmidtwastl,

This issue is no longer present in the latest Odoo codebase.
If you still face this issue please update your local Odoo installation and it'll be fixed.

Regards,
Yenthe

[2016-06-15 11:29] #9274 closed

[2016-06-15 11:45] rim-odoo commented on #8747
I think it could be easy to fix... 2 lines in https://github.com/odoo/odoo/blob/9.0/addons/payment/views/res_config_view.xml

[2016-06-15 11:47] Yenthe666 commented on #8747
@rim-odoo perhaps we can just add it? :smile:

[2016-06-15 11:49] Yenthe666 commented on #12431
@aab-odoo and @jem-odoo could you guys have a look at this one?

[2016-06-15 11:52] rim-odoo commented on #8747
@Yenthe666 I think that the mighty @mart-e and his minions are working on it...

[2016-06-15 11:59] Yenthe666 commented on #8747
Excellent work guys, thanks!

[2016-06-15 12:05] treviser commented on #12429
@aristobulo-eezee Are you talking about the Enterprise Edition?

[2016-06-15 12:30] habfast commented on #8170
This would be very welcome indeed.

[2016-06-15 12:32] Yenthe666 commented on #8170
@mart-e I'd like this option too. I've labelled it as wishlist for now.

[2016-06-15 12:37] aristobulo-eezee commented on #12429
@treviser to have multiple website, yes. But it will also the case on 9.0c if you hack it a little to show the fields at `website` object

[2016-06-15 13:18] lukebranch commented on #12431
@Yenthe666 ,

Thanks for taking a look at this.

I will post back a bit later with clear steps to reproduce with another framework.

[2016-06-15 13:25] hadd0ck commented on #12390
Hi guys,
Did you find a solution yet ? Same error had occured on my NAS. Should we talk directly to Synology ?

Best,

[2016-06-15 13:28] JKE-be commented on #12390
hello @hadd0ck
Which verison are you using ?

[2016-06-15 13:34] hadd0ck commented on #12390
Hi JKE-be,

I have my own NAS with this infos below

DS214 with DSM 6.0.1-7393
openERP Version 7.0-20130226-002110

thanks for your interest

[2016-06-15 13:43] tvibliani commented on #8170
Hello @mart-e,
what about filestore? The command you mention should restore only database, it's not a proper equivalent of "Backup" and "Restore" options at `/web/database/manager`, as filestore location config is available inside odoo, than it should be more convenient to include some routine into the odoo for restore option of command line

[2016-06-15 13:50] mart-e commented on #8747
Well, it is more complicated than it seems. In stable version we can not add a field and adding it in the `res.config` of `payment` would be very bad for the people not updating the module (you would end up with a revert and useless field like at dd84e612d0a5e509c25c4f0823b90649ffc74aff ).
Unfortunately to work, the config page needs to have fields stored in the database (I tried to circle that us

[2016-06-15 13:50] #8747 closed

[2016-06-15 13:54] #7984 closed

[2016-06-15 13:59] mart-e commented on #8170
Filestore is also just moving a folder inside the localstorage directory. Of course you needs to be aware where it is as it may change between Odoo deployment but hopefully the system administrator knows this.

So still a wishlist, I am not against it if somebody makes a nice PR with a clean code.

[2016-06-15 14:13] #9868 closed

[2016-06-15 14:16] adrienpeiffer commented on #9279
Currently, if you add an x2many field on hr.analytic.line the javascript widget for timesheet encoding causes crash. This is not an expected behavior. (See the crash at the end of the video that you can find just above). I don't really understand why I should close this one.

[2016-06-15 14:19] kenneth-vkd opened #12437 "[9.0] Multi domain websites are not working as expected"
Impacted versions:
9.0
Steps to reproduce:
Create a new Odoo installation with the website module enabled and only one database.
Enable multi company and create a second company.
Assign website localhost to the first company and change the domain name to match the domain name of this site. Fx. domain1.com
Create a second website and assign domain2.com to this and assign the website to the second c

[2016-06-15 14:20] aristobulo-eezee commented on #8747
@mart-e wait wait, what? How is that it works for others acquirers but it can't work for sips? It works for paypal and sips was done using paypal acquirer as template. It should be possible.

[2016-06-15 14:36] lukebranch commented on #12431
@Yenthe666 ,

I've updated the issue to include an example HTML file to allow you to reproduce the issue with your own odoo instance.

If the livechat widget is included along with the jQuery library, it breaks both the jQuery functions on the target website, and the live chat widget itself.

[2016-06-15 14:54] brauers commented on #12390
the Solution needs to be provided by Synology afai

[2016-06-15 14:58] JKE-be commented on #12390
@sle-odoo (@The_package_manager) I know your affection for this issue ... Could you confirm that it should be fixed in the package from Synology directly ? And so by Synology themselves... ?

[2016-06-15 15:01] mart-e commented on #8747
What I was trying to explain is that to add the option, you must add a field in payment configuration. You can not add a field in stable version as people doing a code update without upgrading the payment module would get an error (try applying fe4f8405f6b4034ac55cb180323f996c773107c7 in 9.0, go to Accounting > Settings, press "Apply" -> traceback).

The others payment providers have it as these w

[2016-06-15 15:02] dansanti commented on #12429
well, i thinks there are many troubles with multi company + multi website, because, public user is only one for all new instances and then ie, recruitment process , when search for jobs, search width public user company domain , and that user is associated to first company created.
https://github.com/odoo/odoo/issues/12229

[2016-06-15 15:13] jholze commented on #12437
Because of the multiple themes stuff. This will be a big change. We already tried it. But i think you can manage different layout themes within one with some tricks, even if this isn't a clean way.

[2016-06-15 16:07] hadd0ck commented on #12390
Thanks @JKE-be and hello @sle-odoo , glad if you can help to solve our common problem ;-)

[2016-06-15 17:02] charyorde commented on #6551
@ravishekharco Cool hack.

[2016-06-15 17:13] frankmiao2015 commented on #11740
I confirm I have the same issue which almost driver to crazy!

[2016-06-15 18:01] JulioSerna opened #12441 "[account] Trace Error must be handle when there is not account in journal"
Impacted versions:
* 8.0

Steps to reproduce:
* Create one journal of type `cash` from importation without `accounts`
* Create bank statement
* Reconcile

Current behavior:
* It shows `Odoo server Error`

Expected behavior:
* The `Odoo server Error` must be handle with `raise exceptions`

Video/Screenshot link (optional):
https://youtu.be/wkSEXU_t7qc

[2016-06-15 20:03] greanie commented on #5759
I am having the same issue on an unmodified install.  Can you tell me which directory you had to rename and why?

[2016-06-16 02:42] lukebranch commented on #10086
@Yenthe666 ,

I believe this is resolved after a forward port of Holger's patch from 8.0.

I'll close it for now and re-open it again if I find this isn't the case. Sorry, I forgot about this one.

[2016-06-16 02:42] #10086 closed

[2016-06-16 05:53] Yenthe666 commented on #10086
No problem, thanks for closing it!

[2016-06-16 06:28] kenneth-vkd commented on #12437
What about just the issue with a unique frontpage per website? The theme issue might hopefully get fixed at some point or maybe be an enterprise subscription only feature.

[2016-06-16 07:18] Gorash commented on #3401
fvdsn was the lead developer on the project in v8, I just propose changes but I have not followed this issue. The project was taken over by @jorenvo he would know if this change in the next versions.

[2016-06-16 07:18] #3401 closed

[2016-06-16 07:21] Gorash commented on #3500
I was not the lead developer on the project in v8, I just propose changes but I have not followed this issue. The project was taken over by @jorenvo he would know if this change in the next versions. Normally it was fixed.

[2016-06-16 07:21] #3500 closed

[2016-06-16 07:29] Gorash commented on #11998
The QWeb don't change the order of the browse record. May be an other order define in the search, context or controller.
@rco-odoo you have another idea that could alter the order?

[2016-06-16 07:57] lukebranch commented on #10086
no worries!

[2016-06-16 08:00] alaa9jo opened #12446 "[9.0] Cannot validate invoice with purchased assets if it was cancelled before"
Impacted versions:
9.0c (latest version JUNE 16)

Steps to reproduce:
1) Create a product or two and make sure you set `Asset Type`
2) Create a PO with the products your created earlier
3) `Validate` PO then `Receive Products`
4) After receving products and they are in stock, click on `Invoices` then `Create` to create a new invoice
5) Click on `Validate` to validate invoice

6) Let's say you made

[2016-06-16 08:16] antonylesuisse commented on #12429
Multi website is not supported and we wont fix bug related to it.

We have technical layer (in ir http) to select a website based on the domain and to attach different public users to the different website but that feature is hidden and unsupported. We laid those technical fundation as we plan to support it in the future, but it's still need a lot of work (i.e. one user logged on the 2 website wil

[2016-06-16 08:16] #12429 closed

[2016-06-16 08:22] JKE-be commented on #3286
When you declare your many2many, you can choose/force yourself the tbl with the key relation.

More info here... http://odoo-new-api-guide-line.readthedocs.io/en/latest/fields.html#many2many

[code]

Eg:

[code]

=>

[code]

== Will solve your issue...

[2016-06-16 08:22] #3286 closed

[2016-06-16 08:24] aristobulo-eezee commented on #12429
@antonylesuisse what you say is not completely true, why? because after you activate website versioning the fields to change websites company/user are there, so no, it's not hidden.

[2016-06-16 08:30] odony commented on #12408
@antonylesuisse @rco-odoo Actually, perhaps we should reconsider the wording of our documentation for `@api.one`, as it seems to be brought up pretty often, and generally confuses people.

That decorator seems useful when implementing computed fields, and generally for any method that does not return anything. It only gets awkward and confusing for methods that return a value (because callers may

[2016-06-16 08:35] JKE-be commented on #12437
Hello @kenneth-vkd

I do not often play with multi website, and I know that all is not possible/working 100% and sometime it is painful to set it in place...

All page (and so view) create before the setup of the 2th website are shared between all websites.

So your homepage is share by default, if you go on the form ir.ui.view you should be able to limited this view to One website and create a ne

[2016-06-16 09:45] antonybrugger commented on #12429
@antonylesuisse I can understand that if the multi-website feature is not supported officially, so bug related to this functionality are not fixed.

Could be good to have an official list of supported functionality, especially for Odoo Enterprise, cause when you see in the official 'stable' version following menu entries:
![image](https://cloud.githubusercontent.com/assets/2707881/16112272/eecd96c

[2016-06-16 09:59] beledouxdenis commented on #12441
Dear Julio,

We do not consider this issue as a blocking issue, and it therefore won't be solved in a stable release such as 8.0.

This is not considered as a blocking issue, because:
- This behavior could not happen using the regular interface to create the journal. Users using the import are supposed to know what they are doing.
- In this case, replacing the traceback by a warning message is con

[2016-06-16 09:59] #12441 closed

[2016-06-16 10:09] JKE-be commented on #12427
Hello @Ben17000
Could you make one pr with this fix. ?
thanks

[2016-06-16 10:15] Yenthe666 commented on #12408
@odony in generale I'd like to propose a more detailed documentation with examples and what happens for the most used api methods. The info is to short at this point.

[2016-06-16 11:04] adnanalali commented on #8465
@FernandoAzuaje How can you solve that? how to access the DB?

[2016-06-16 11:19] nim-odoo commented on #12179
Hello,

In this case, this is a standard behavior of babel which uses a numbering depending on the locale used:
[code]

This is consistent with what was done in the calendar view: https://github.com/odoo/odoo/pull/11522

[2016-06-16 11:19] #12179 closed

[2016-06-16 11:35] Gorash commented on #9749
Could I get more information: browser used? The model / action? In order to reproduce it. (It's can be a js/framwork or a python/model error)

To analyze the problem:
Can you test with google chrome and display dev informations?
* In Google chrome (the others browser have also a dev mode I need the 'write' 'Headers' result)
* Open the dev console (F12)
* Perform the actions listed
* Go to the Netw

[2016-06-16 12:29] 474416133 opened #12455 "in dev mod , database structure>modle>create>in add field item panel>advance setting tag>first input occur an error"
Impacted versions:odoo 9.0c

Steps to reproduce:

error msg:
Uncaught Error: NameError: name 'model_id' is not defined
http://127.0.0.1:8069/web/static/lib/py.js/lib/py.js:370
追溯
Error: NameError: name 'model_id' is not defined
    at PY_ensurepy (http://127.0.0.1:8069/web/static/lib/py.js/lib/py.js:370:19)
    at Object.py.evaluate (http://127.0.0.1:8069/web/static/lib/py.js/lib/py.js:1340:20)

[2016-06-16 13:35] deepa4lok opened #12459 "Odoo 9C: Overriding the method & its "depends" decorator [Bug]"
Impacted versions: Odoo 9 C

Am trying to override a standard method, which involves adding an another dependency field into the api decorator.

However, I noticed, newly added field in the depends decorator is not taken into consideration while saving the record.

Ex: Say in Purchase Order, the method called "**_amount_all**" has **@api.depends** on **"order_line.price_total"**. Now in my custom

[2016-06-16 13:38] deepa4lok opened #12461 "Odoo 9C: "Add an item" of One2Many behaviour is crazy. [BUG]"
Impacted versions:  Odoo 9 Community version

One2Many record gets created only when a value to any of M2O field is set. Until unless it is not set then odoo doesn't allow you to create that record.

For Instance: Consider the below example:

Line Object has only 3 fields (plus link to its parent object)

1. name (text - non mandatory)
2. qty (float - non mandatory)
3. comment (text - non mandator

[2016-06-16 13:44] dreispt commented on #11998
@Josecanalla what is the "row" value?

[2016-06-16 14:44] treviser commented on #9711
@sle-odoo  It can be reproduced when you install the module CRM before you have installed the website builder/e-commerce. Workaround after you have installed the website builder: uninstall CRM and install it again.

[2016-06-16 18:13] lescobarvx opened #12464 "[8.0][stock] Only show products serial numbers availables for sale related to the stock location"
**Impacted versions:**
- 8.0

**Steps to reproduce:**

**1.-** Create stockable product with Full Lots Traceability
![issue_01](https://cloud.githubusercontent.com/assets/16093067/16124095/857cb904-33bb-11e6-9978-58c5f707b435.png)
![issue_02](https://cloud.githubusercontent.com/assets/16093067/16124099/89552840-33bb-11e6-82d8-4fbf20015f89.png)

**2.-** Add a serial number in WH/Stock Location
![is

[2016-06-16 19:22] SarathkumarJ opened #12465 "The Manufacturing Order got stuck in Awating for Raw Materials state when the products in the bom have procure method make to order and buy and Propose a call for tenders"
Impacted versions:
currently running demo versions
Steps to reproduce:
Place an order with procure method MTO manufacture,
The bom should be of procure method make to order ,buy and Propose a call for tenders enabled
Current behavior:
Mo is generated , Even if the entire process of tendering purchase, and reception of product get completed the Mo got stuck in a Awaiting for raw material state even

[2016-06-16 19:33] Josecanalla commented on #11998
@dreispt I refer to this: http://prntscr.com/bh8scs in the xml file

[2016-06-16 21:44] mlaitinen opened #12468 "[9.0] All files in .tar.gz and .deb packages aren't up-to-date"
Impacted versions: 9.0

Steps to reproduce: Install Odoo later than 9c007ac375f5ac34c911030bbedfe6f8a2a57a48 (June 3, 2016) from .tar.gz or .deb. Or [download them](http://nightly.odoo.com/9.0/nightly/deb/) and check their contents.

Current behavior: Not all files are up to date. For example [openerp/tools/misc.py](https://github.com/odoo/odoo/blob/9.0/openerp/tools/misc.py) isn't. I found this o

[2016-06-16 23:14] esciara commented on #12289
Hi,

Changed the code on my instance exactly the same way you did, restarted Odoo, still the same issue... Am I missing something?

[2016-06-17 02:28] spadae22 commented on #11998
@Josecanalla I had this issue last week, we needed to print invoices in alpha order, so I used the sorted method. I am sure there is a better way, but works.
[code]

[2016-06-17 05:43] Khwunchai opened #12469 "[9.0] Incorrected plural form of the word "Active Users" in Settings, resulting in wrong translation"
Impacted versions: 9.0

Steps to reproduce:
1. Load a translation, choose Thai language for example
2. Switch to the new language from User Preferences menu
3. Navigate to Settings Dashboard

Current behavior:
In case of multiple active users, The word "Active Users" is translated into "ผู้เข้าใช้งานs" (with an extra letter "s") in Active User panel. This issue also persist with almost all languag

[2016-06-17 06:05] Yenthe666 commented on #12468
@mart-e could you have somebody that creates the .tar.gz and .deb packages have a look at this?

[2016-06-17 06:07] Yenthe666 commented on #12469
@mart-e since you're all about languages and translations, this is something for you. If I understand this correctly we should have the ability to translate in a plural and singular form for Thai.

[2016-06-17 06:18] elicoidal commented on #12469
I have seen a similar report days ago.
Current implementation is not correct. In Chinese we have the same issue: adding a "s" does not make sense at all in many languages.

[2016-06-17 06:20] JKE-be commented on #12468
@sle-odoo
Could you take a look asap?
It is not the first people...
Same issue on the forum about login redirect ...
Thanks

[2016-06-17 06:52] Yenthe666 commented on #12446
@qdp-odoo could you have a look at this?

[2016-06-17 06:56] Yenthe666 commented on #12431
@JKE-be this sounds like something for you!

[2016-06-17 07:07] sle-odoo commented on #12468
I just downloaded the latest 9.0c zip, tgz and deb and extracted them: str2bool is in place, line 569 of every misc.py.

[2016-06-17 07:09] 474416133 commented on #12455
![1-5](https://cloud.githubusercontent.com/assets/17959465/16143145/693f76c2-349d-11e6-8c8e-fb2d2c9b7218.png)

[2016-06-17 07:18] sle-odoo commented on #12468
@mlaitinen you're pointing to the author date of rev 9c007ac375f5ac34c911030bbedfe6f8a2a57a48, but this patch was committed yesterday:
[code]

Also your bug report is from 10 hours ago, when today's packages were not build yet, so this change was not part of the builds. I checked that these changes are in the today's packages and they are, so i don't see any issue here.

Regards

[2016-06-17 07:18] #12468 closed

[2016-06-17 07:18] mlaitinen commented on #12468
@sle-odoo If you download this: http://nightly.odoo.com/9.0/nightly/deb/odoo_9.0c.20160616.tar.gz and see `openerp/tools/misc.py`, line 569 is empty.
![screenshot from 2016-06-17 10 17 19](https://cloud.githubusercontent.com/assets/1525066/16143348/cead66aa-3474-11e6-8bf9-6297a926172a.png)

[2016-06-17 07:20] sle-odoo commented on #12468
@mlaitinen see my last message, the packaging are build the night so the changes in rev 9c007ac375f5ac34c911030bbedfe6f8a2a57a48 could not possibly be part of the package from yesterday (16) but they are in the packages from today (17).

[2016-06-17 07:20] mlaitinen commented on #12468
Ok. Thanks for the clarification.

[2016-06-17 08:05] Khwunchai commented on #12469
#12470 This pull request should fix the problem.

[2016-06-17 08:19] #12469 closed

[2016-06-17 08:19] elicoidal commented on #12469
Indeed

[2016-06-17 08:22] mart-e commented on #12469
Hello,

You are right, making these plurals is wrong. Thanks for the report and the patch, it has been fixed at a9ea4e7cab244f2a6527b9ea5bef4aefa4e486cf
The new translation will soon be available on Transifex

[2016-06-17 08:46] qdp-odoo commented on #12446
I cannot reproduce it, and that error is very strange since it is supposed to be solved since https://github.com/odoo/odoo/commit/9d14230d (Apr 25).

Are you <i>very</i> sure your code is up-to-date?

[2016-06-17 08:55] Yenthe666 opened #12471 "[8.0] Installing new chart of accounts results in error"
Impacted versions: 8.0

Steps to reproduce:
 1. Go to settings > Accounting
 2. Choose a chart of account and try to install it.

Current behavior:
A major error happens and you're unable to install a chart of account. Full stacktrace:
`Traceback (most recent call last):
  File "/home/odoo/runbot/extra/runbot/static/build/154378-8-0-bdf939/openerp/http.py", line 543, in _handle_exception
    retur

[2016-06-17 08:56] Yenthe666 commented on #12471
@qdp-odoo another one for you I'm afraid :smile:

[2016-06-17 09:11] alaa9jo commented on #12446
Of course I'm very suremy code is up to date with branch 9.0 ,I even pulled latest update and the issue still occurs

[2016-06-17 09:17] Yenthe666 commented on #12446
@alaa9jo could you perhaps make a video? Then we can see the exact way to reproduce this and try again.

[2016-06-17 09:17] qdp-odoo commented on #12446
ok, the problem is that you had already several assets related to the same invoice. So when it tries to set the supposed only one to inactive it raises the error because you've already 2, which is not supposed to happen.

  File "/odoo/odoo-server/addons/account_asset/account_asset_invoice.py", line 22, in action_move_create
    asset_ids.write({'active': False})

So, you won't have that problem a

[2016-06-17 09:17] #12446 closed

[2016-06-17 10:15] #12455 closed

[2016-06-17 10:23] dreambits commented on #10377
Hello

I am also facing this issue.
I am trying odoo 9 on docker and i tried putting "?debug=" in url

Now browser console is showing

Uncaught TypeError: Cannot read property 'base' of undefined in session.js on Line 256

[2016-06-17 12:01] nim-odoo commented on #12307
Hi,
As mentioned by @orchidinfosys , the stock move unit price is calculated at the creation, i.e. when you confirm the SO. Therefore, to solved the issue, one should do something like: http://pastebin.com/yVwdkk1K Which doesn't seem very clean...
Is there actually a use case where this is an issue? It just seems to me that it makes more sense to configure your product in 'Real Price' when it come

[2016-06-17 12:03] nim-odoo commented on #12307
@jco-odoo what do you think?

[2016-06-17 12:44] qdp-odoo commented on #12471
It was a weird one, but should be fixed since revision https://github.com/odoo/odoo/commit/ba49172929559aeff0be5e59fd95b5562fab3224

Glad we don't have that next-numbering-thing in v9....

[2016-06-17 12:44] #12471 closed

[2016-06-17 14:04] LeartS opened #12474 "[8.0] Accessing request.env in ir_http.dispatch method seems to break environment"
**Impacted versions:**
At least current 8.0, probably others. Website module installed and public user enabled.

**Steps to reproduce:**
Add `print request.env` in the `_dispatch` method of `ir_http` in `addons/website/models/ir_http.py`
I assume it actually happens everytime one evaluates `request.env`

**Current behavior:**
The environment "breaks" and never has an user attached (doing `request.

[2016-06-17 14:30] bodedra commented on #12060
@spadae22  Thanks for your information.

How about we don't have E-commerce website ?

Is there any way to handle it ? It would be great.

[2016-06-17 14:47] spadae22 commented on #12060
@bodedra We do not use odoo for our ecommerce, we use Volusion. I created a connector the imports all the orders as sales orders in odoo, we also import (create in odoo) the voucher for type of payment with a reference to the SO and customer as well as the REF from Paypal. So after the transfer and invoice creation. We run the auto reconsiliation and it pays all of the invoices.

We only use "PayP

[2016-06-17 15:35] roadtripguy opened #12477 "[9.0]Several Major Issues with Tenders"
There are several pretty major issues with tenders.

Reproduced this in several different configurations using both 9 Enterprise installed on my server and using your demo server at https://demo2.odoo.com

This is a very confusing bug, because the Tender DOES ultimately create incoming delivery orders.  However those Delivery Orders do not work.  I don’t know what would cause this.

Video: https:/

[2016-06-17 15:40] bodedra commented on #12060
@spadae22 that's what currently I am doing but in another way. I have made a scheduler which will run once in a day and check mentioned process.

Good to know about that.

[2016-06-17 15:44] Yenthe666 commented on #12471
Great job, thanks!

[2016-06-17 15:55] bistaray commented on #3850
Also having the problem with workers > 1 on v9.

Webkit installed is wkhtmltopdf 0.12.1 (with patched qt)

[2016-06-17 18:28] avanzella opened #12479 "Language setting not properly applied on email notification"
Impacted versions: 9 Enterprise

Steps to reproduce:
Send a message via basic composer

Current behavior:
The language setting defined in the advanced tab (using an ISO code) is not properly working with the notification email template.
If an email is sent via the basic composer, the translation is not applied to the`record_name`.
If the email is sent via the full composer, the translation is prop

[2016-06-18 01:21] frankmiao2015 commented on #11740
Is there any fix on this issue? I really need the dbfilter to work normal. I reinstalled many many times and encountered the same problem with jl2035. Why there is so few people reporting it?

[2016-06-18 11:49] Yenthe666 opened #12482 "[9.0E] Unable to archive contacts without developer mode activated"
Impacted versions: 9.0 Enterprise

Steps to reproduce:
1. Go to Contacts and open up a contact (without having developer mode on.) There is no "Archive" option available:
   ![image](https://cloud.githubusercontent.com/assets/6352350/16170641/ac072316-355a-11e6-8a1e-2ef1a88648cb.png)
2. Now activate developer mode and look at the exact same form:
   ![image](https://cloud.githubusercontent.com/ass

[2016-06-18 11:49] Yenthe666 commented on #12482
@mart-e pinging you for this one, nothing to major.

[2016-06-18 13:20] lucode commented on #9201
Maybe this issues could be related to this forum post [https://www.odoo.com/de_DE/forum/hilfe-1/question/v9-menu-disappears-and-logout-after-activating-developer-mode-95289]. I'm wondering why it gets closed despite of no evidence which the source of the error is?

[2016-06-18 19:48] treviser commented on #10265
@Yenthe666 Could you have a look at this?

[2016-06-18 19:57] Yenthe666 commented on #10265
@treviser sure thing, I'll have a look at this on monday. Think you could make a little example video please? That would make it easier for me.

[2016-06-18 20:09] nicholas-itpedia commented on #11259
We are also experiencing this behavior on our Odoo 9 Enterprise AND Odoo 9 Community Edition databases.

We confirmed this on Odoo Runbot as well.

[2016-06-18 20:37] eronlloyd opened #12483 "Provide option to display company name of contact in parentheses or hide altogether"
Impacted versions: 9.0c

Steps to reproduce: Add a contact/customer as an individual, then add them to a company.

Current behavior: The contact will have their name displayed many places as "Company, Individual" (see screenshots below).

Expected behavior: The contact would be more readable having either the format "Individual (Company)" or hiding the company name when possible, especially when i

[2016-06-18 21:22] eronlloyd commented on #11419
This discussion is very helpful, but it should be clearer to new developers/integrators on how best to manage Odoo installations. The concept of nighly builds is still very much assumed to be unstable, development releases for testing, **not** production-ready.

[2016-06-19 10:47] JKE-be commented on #12483
Thank you for the reporting.
Because it is not really an issue, I tag this 'issue' as a wishlist and close this issue.

We will review later wishlist requests... and take the good idea for the next versions.

[2016-06-19 10:47] #12483 closed

[2016-06-19 10:50] JKE-be commented on #12482
@Yenthe666
It has been already discuss in internal.
I don't remember the arguments... but when I got it, I ping you with more details.

[2016-06-19 11:30] eronlloyd commented on #1059
Is this still an issue with the "Generate a new database uuid" option on DB restore in 9.0?

[2016-06-19 18:22] yuntux commented on #10855
Up !

[2016-06-19 18:56] Yenthe666 commented on #10855
@qdp-odoo can you have a look at this?

[2016-06-19 19:27] sdalexander commented on #4028
Hi Jordi
did anything happen with this Issue?
as I am getting the same issue at a client of mine who has real time accounting set on the product but does Drop ship as well.
The customer invoice does a move from the output account on the category to the Expense account,
but as the stock does not come into his locations , no entry is made from from stock to the output account to balance it out.

I a

[2016-06-20 02:49] royaladmin opened #12485 "patched hw_escpos/escpos/printer.py to support escpos printers with embedded thumb drives"
Impacted versions: 9.0

Steps to reproduce: posbox

Current behavior:

hw_escpos/escpos/printer.py correctly detaches any current kernel driver from the interface before claiming the device.  On our printer, vendor 0x6868 product 0x0600, there is an embedded thumb drive which holds the product windows driver and documentation.  The thumbdrive uses interface 1 while the printer uses interface 0.  F

[2016-06-20 03:39] royaladmin commented on #12485
The EscPosDriver.connected_usb_devices.FindUsbClass() already does much of what is necessary to auto-detect the interface, just a question of passing it reasonably into printer.Usb().  I'm satisifed with my workaround for now and am not trying to be involved with changing calling sequences....
Gratitude again for your excellent software.

[2016-06-20 07:37] Gorash commented on #8699
@rruebner Is this appropriate behavior ?

[2016-06-20 08:01] mart-e commented on #12461
Hello,

Sorry but I am not sure to get your issue. I just tested and it works fine.

the model:
[code]
and the view
[code]

As you can see, I have no many2one in my view (I have one on the model obviously to have a working o2m) but if you test, you can add records.

[2016-06-20 08:22] mart-e commented on #12459
You should not override a method to change it's triggers, it is not the expected behaviour.
If you want to add other checks, create a new `api.depends('myfield')` method (that may call another constraint method if needed).

[2016-06-20 08:22] #12459 closed

[2016-06-20 08:36] aristobulo-eezee commented on #12419
@mart-e could you check this one?

[2016-06-20 08:47] treviser commented on #12419
FYI: this is an old issue, concerning also 8.0 and 9.0c, see this for a possible solution:
https://github.com/it-projects-llc/misc-addons/issues/194

[2016-06-20 09:05] alaa9jo commented on #12446
@qdp-odoo that's it, this is exactly the cause of the problem, when invoice is validated,odoo add assets related to the invoice automatically,but when invoice is cancelled and returned to draft,I expected odoo to remove related assets automatically, and add them after invoice is validated, or maybe I expected odoo to detect what exactly has changed; did I change info related to my invoice or relat

[2016-06-20 10:26] Yenthe666 commented on #12485
@jorenvo what do you think about this?

[2016-06-20 10:41] atchuthan commented on #10799
@Yajo any update on this issue

[2016-06-20 10:48] Yenthe666 commented on #12422
Hi @greanie,

I'm not sure what you mean. I get to see them all right away?
![image](https://cloud.githubusercontent.com/assets/6352350/16191592/51efae0c-36e5-11e6-9f50-f2d2a2e1961c.png)

[2016-06-20 10:58] odony commented on #11419
I think we can close this issue as an "answered question" :-)

[2016-06-20 10:58] #11419 closed

[2016-06-20 11:03] PagliucaElisa opened #12492 "Unit price in Suggested products tab doesn't take the customer pricelist"
Impacted versions: Odoo 8.0

Steps to reproduce:
1) Create a sale pricelist based on product cost price ;
2) link the pricelist to the customer;
3) create a quotation;
4) insert a product into "order lines "tab
5) insert the same product into "suggested products"tab

Current behavior:
 Product Unit price into "suggest products" tab doesn't take customer pricelist rule.
Expected behavior:
Product U

[2016-06-20 11:43] jorenvo commented on #12485
Hi,

I'm glad you where able to make your particular hardware work with our driver. However, we currently only officially support the printers listed on the Odoo POS page [1]. We are forced to limit what printers we support because unfortunately there are quite a lot of differences between them, as demonstrated by the behavior of your printer. Currently none of the officially supported printers be

[2016-06-20 11:43] #12485 closed

[2016-06-20 12:28] JonathanNEMRY opened #12494 "[8.0] Impossible to change stage of an hr.applicant coming from hr.job"
Impacted versions:
8.0
Steps to reproduce:
* Go to runbot and connect as admin user
* Into Human Resources/Recruitment/Stages assure that stage has an associated template. For this exemple, take "First Interview"
* Into Human Resources/Applications delete all job Applications
* Click on Job Positions and click on the first hr.job and create an hr.applicant for it (+ keep in mind the related hr.job

[2016-06-20 12:35] dansalsero commented on #6437
Hi, there is any update on this regard?, I'd like to know if it's available for V9.

Thanks a lot for your answer.

Have a nice day.

[2016-06-20 12:36] JonathanNEMRY commented on #12494
OPW 681349

[2016-06-20 14:36] Gorash commented on #8699
I don't have this issue :-/ but I try to fix... you can try
(when you have jinja code you have the editor in text mode and without jinja you can use preview mode, they are no other solution)

[2016-06-20 14:57] Yajo commented on #10799
What do you want me to update?

[2016-06-20 15:10] florimond83 commented on #12304
FYI, just in case I have tried to escape as described in some thread, the issue stays:
Within the template:
[code]
Results with:
http://odoo.example.com/%5C$%7Bobject.website%7D?&
http://odoo.example.com/%5C$%7Bobject.website%7D%5C?&
http://odoo.example.com/%5C$%7Bobject.website%7D?&

[2016-06-20 18:52] elevationO opened #12504 "Quant value does not change when invoice is different than SO."
Impacted versions:
9.0e
Steps to reproduce:
Create PO, receive invoice for PO at higher price than PO.  Receive products, check inventory valuation.
Current behavior:
Quant value is generated from PO.
Expected behavior:
Quant value should be what the invoice states.
Video/Screenshot link (optional):

[2016-06-20 19:10] alambike opened #12505 "nightly.odoo.com SSL cert expired"
Impacted versions:
all

Steps to reproduce:
visit https://nightly.odoo.com

Current behavior:
Certificate expired

Expected behavior:

Video/Screenshot link (optional):
![captura de pantalla de 2016-06-20 21 09 11](https://cloud.githubusercontent.com/assets/1025564/16207008/59655fe2-372b-11e6-86c0-c870d2d1fcd9.png)

[2016-06-20 23:10] elevationO opened #12506 "Treeview on Accounting Customer Invoices shows total including cancelled invoices"
Impacted versions:
9.0e
Steps to reproduce:
Accounting-> customer invoices-> group by (partner)
Current behavior:
Total for customer includes invoices that have been cancelled
Expected behavior:
Cancelled invoices should not be counted in total for the customer
Video/Screenshot link (optional):
![screen shot 2016-06-20 at 4 09 12 pm 2](https://cloud.githubusercontent.com/assets/8355352/16213063/71

[2016-06-20 23:21] fpodoo commented on #12506
We think it's normal that the "group by" feature analyse all lines according to the filter you applied on the screen or not. If you do not want the cancelled invoices, add a filter to not include invoices having state==cancelled. (you can even set this filter as a default for all users if you prefer working like this)

[2016-06-20 23:21] #12506 closed

[2016-06-20 23:33] JKE-be commented on #12505
Hello,

Thanks for the reporting
I have just updated the certificate.

[2016-06-20 23:33] #12505 closed

[2016-06-21 06:15] Yenthe666 commented on #12482
@JKE-be alright let me know when you know more. I'd find it a bit strange but I'm sure there is a good reason.

[2016-06-21 08:08] ged-odoo commented on #6437
same answer as before, we are not working on it, but a short module could implement this in less than 50 lines of JS.

[2016-06-21 08:12] aftabnaveed opened #12509 "Odoo Javascript Error when it minified"
Impacted versions: 8.0

Steps to reproduce: Remove the debug mode

Current behavior: Only Top navigation menu is visible rest is white page, any subsequent click won't work either.
Expected behavior:

Video/Screenshot link (optional):

Odoo version is throwing` 40af15c:3 Uncaught SyntaxError: Unexpected end of input error` when not in debug mode,  but when I turn on the debug mode the error goes a

[2016-06-21 08:28] Yenthe666 commented on #6437
Since a lot of people seem to be looking for an option to refresh a view / views I made a little raw JS concept to refresh a view:
[code]

[2016-06-21 08:32] eronlloyd commented on #12437
It would be great to clear this up. I have client use cases around this that I'm stuck on because of uncertainty on how to implement multiple sites.

[2016-06-21 09:21] qupro commented on #1950
This work for me [http://stackoverflow.com/a/37869043/5103424](http://stackoverflow.com/a/37869043/5103424) on a Odoo 9.0c-20160428 (Community Edition)

[2016-06-21 09:59] JKE-be commented on #12509
Seems a problem with your own install.
That is not reproducible in runbot at first view.

Please check the char at 40af15c:3 which raise the error.
(probably a missing ; in your own code... )
Maybe you have a syntax error in a customization ?

If the root cause is one customization, please use forum (help.odoo.com)

else don't hesitate to reopen an issue with more détail...: Gist with code, module

[2016-06-21 09:59] #12509 closed

[2016-06-21 11:54] effelle commented on #6437
@Yenthe666: yes, to work globally the script needs some work, especially if a custom module doesn't have a js inside like the majority of mine. I'm pretty weak on JS too, so didn't implement in my modules for now. An help from @JKE-be would be really nice here.

[2016-06-21 12:00] JKE-be commented on #6437
Thanks @Yenthe666 for the POC.
As @gde-odoo said, Odoo don't work on it, and will not add the support for it.
But you can implement it in your own instance if needed.

[2016-06-21 12:54] deepa4lok commented on #12459
@mart-e I guess you didn't understand my concept very well thoroughly and certainly not fair marking the issue as invalid, I never mentioned I wanted to override a method just to add an additional trigger, my requirement is such a way that I needed one of the parent component to calculate the monetary details.

Let me repeat the same with an Example: along with the sum of **price_subtotal (purchas

[2016-06-21 13:23] deepa4lok commented on #12461
@mart-e Well you had understood my issue correctly, indeed I was unable to save the record in the version which I was working last week. However couple of days back I have pulled the latest version from Github, now it seems to work fine. Anyways appreciate your effort, Thanks.

[2016-06-21 13:23] #12461 closed

[2016-06-21 13:25] LeartS opened #12519 "Calling browse with an obviously invalid argument should raise an error"
**Impacted versions:**
8, didn't test with 9

**Steps to reproduce:**
* Call `somemodel.browse()` with invalid ids, for example `self.env['res.country'].browse([('id', '=', 2)])` which could happen if by mistake you call `browse` instead of `search`
* Before accessing a field of the recordset, call `samemodel.search` or `samemodel.browse` with correct parameters
* Try to access a field of the reco

[2016-06-21 13:46] jholze commented on #6437
@Yenthe666  Sounds very useful. We also checked the addon web_auto_refresh. I think its something we can implement maybe in our next sprint. Its already on the list. Maybe you will join the development as we already discussed via twitter :)

[2016-06-21 14:09] xmo-odoo commented on #12519
A deep validation of the arguments was implemented early on, its impact on overall performance was too large to be acceptable (relative to its effective utility over the odoo codebase, there are *lots* of implicit browse calls the old/new API interface) and lead to its removal.

What *could* happen is an alternate and deep-validating implementation of `_normalize_ids` being used when running in a

[2016-06-21 14:09] #12519 closed

[2016-06-21 14:12] deepa4lok commented on #12459
Code:

Note: In my requirement, Lines also will have a currency which may be different from Parent Object i.e PurchaseOrder. Hence my calculation is depended solely on currency, and yes I have overridden the line currency field by nullifying the related property.

I hope this gives the full insight of what am trying to achieve.
Any thought on this is appreciated. Thanks

[2016-06-21 14:23] LeartS commented on #12519
Thanks for the answer, I guess it makes sense considering that often the list of ids passed to a query is relatively large. The debug-only check seems a nice compromise.
And I don't think a deep validation is really necessary, a simple

[code]

Could catch most cases, and takes ~10 microseconds for a list of 1000 elements

[2016-06-21 14:25] jholze commented on #6437
@kaerdsar lazy sprint !

[2016-06-21 14:30] aisopuro opened #12520 "[9.0] Term "Lot" for field 'restrict_lot_id' is misleading in move reports"
### Impacted versions:

9.0 and above. Tested on our own 9.0 deployment running the 20160318 build and on demo.odoo.com just now.

The field `restrict_lot_id` on `stock.move` is defined as having the `string` "Lot": https://github.com/odoo/odoo/blob/9.0/addons/stock/stock.py#L1991.

This causes confusion in the stock reporting view for moves. Since Odoo 9 is able to allow the user to group by any

[2016-06-21 14:32] ricpelo opened #12521 "Product price gets broken when I edit it from Web Shop and press Enter key"
Impacted versions: 9.0c

Steps to reproduce:

1. Go to http://localhost:8069/shop
2. Click on any product
3. Edit
4. Click on the product price to edit it.
5. Press Enter key one or two times.

Current behavior:

The price gets "broken". I can separate the digits on several lines and I'm unable to join them back again (BackSpace and Delete keys doesn't work).

Expected behavior:

If I press Enter

[2016-06-21 14:36] Yenthe666 commented on #6437
@jholze I'm not the best JS developer though, more of a Python / connector guy :gem:
@JKE-be why can't we add it as an extra module in Odoo for V10? I think the length of this topic and the number of people already proves it is a like to have feature by quite some people.

[2016-06-21 14:46] fpodoo commented on #6437
Hello,

We don't want to implement this feature. I personally don't think it's good in terms of UI and it might leads to non desirable effects. e.g. if you loose connection you will have a loading grey screen even if you did not clicked anywhere, what happens if it auto-refresh just when the user is going to do something, ...

However, a good PR for master would be to remove all references to the

[2016-06-21 14:50] mart-e commented on #12459
Ok thanks for the example. Indeed this scenario should be covered, sorry about that.

However I just made a quick test and it seemed to work fine
[code]

The amount_total field was correctly recomputed when either `order_line.price_total` or `additional_fee` was modified.

[2016-06-21 15:00] dansalsero commented on #6437
Thanks for your answers, I'd like it to create a live stream of pos orders in the kitchen when using the pos in a restorant so the chef can prepare the food.

We don't want to use the printer for this as we want to have a register of the time each plate needs to be prepared.

Any suggestions?

Daniel.

[2016-06-21 15:02] Yenthe666 commented on #6437
@dansalsero sounds like a perfect question for the Odoo help forums. Post it at help.odoo.com, I'm sure somebody will give you more pointers.

[2016-06-21 15:17] dansalsero commented on #6437
@Yenthe666 thanks for your suggestion.

[2016-06-21 15:31] xmo-odoo commented on #12519
1. that would *triple* the existing runtime of _normalize_ids, some of the optimisations in that method (e.g. swapping out `isinstance`) were considered worth implementing at significantly lower gain than that
2. would behave very oddly (and slowly) on string ids and would not work for NewId

[2016-06-21 16:11] LeartS commented on #12519
Sorry, my previous messages were ambiguous and I didn't make the point/my problem clear: if it's not possible or convenient to prevent the error, I think it's important to suggest what the source of the error could be to facilitate debug.

We are now discussing after having confirmed that the cause of the problem was an incorrect `browse` call, but for someone who is developing normally and finds

[2016-06-21 16:17] fpodoo commented on #6437
For the record, a PR has been made to clean the auto_refresh code to avoid confusion in the future:
https://github.com/odoo/odoo/pull/12522

[2016-06-21 16:17] #6437 closed

[2016-06-21 16:56] beledouxdenis commented on #9279
Dear Adrien,

We do not consider this issue to be solved in Odoo 8.0, because this specific widget was just not designed for the use you want from it.

This widget just does not support *2many fields, and we won't add the support in as stable release such as Odoo 8.0, as this could obviously lead to new bugs, in a stable release, which we do our best to avoid.

Besides, it doesn't lead to any issu

[2016-06-21 16:56] #9279 closed

[2016-06-21 18:11] lslaz1 opened #12523 "Theme howto snippet xpath is wrong"
In the "Snippet" section of doc/howtos/themes.rst is says to add
`<xpath expr="//div[@id='snippet_structure']" position="inside">`
However, this will only add the content of the snippet into the Website Builder.
The code should read
[code]
so that the drag&drop thumbnail is inserted instead of the content.

[2016-06-21 18:44] adrienpeiffer commented on #9279
Hi Denis,

Thanks for your answer.

The usage the widget is not related to the functionality that I want added. I just want to add a x2many field on the hr.analytic.line model without considering the widget.

And, when using this widget (Without using the new field), there is a crash.

To summarize simply, this mean that it is not possible to add a x2many field on hr.analytic.timesheet model (Rega

[2016-06-21 20:34] cycleuzb commented on #12390
Hi,

i have same problem may some people help me how to resolve it ?

[2016-06-21 20:39] cycleuzb opened #12524 "(<type 'exceptions.Exception'>, Exception('tostring() has been removed. Please call tobytes() instead.\nidentity=[ImageReader@0x7f9772051190]\n handle_pageBegin args=()',), <traceback object at 0x7f9773431878>)"
Hi all,

have a big real problem when want to print on pdf not work and no emails to send here is the problem 👍

tostring() has been removed. Please call tobytes() instead.
identity=[ImageReader@0x7f9772051190]
handle_pageBegin args=()

(<type 'exceptions.Exception'>, Exception('tostring() has been removed. Please call tobytes() instead.\nidentity=[ImageReader@0x7f9772051190]\n handle_pageBegin ar

[2016-06-21 21:24] Josecanalla commented on #11998
@spadae22 in the qweb reports the records are returned by a cr.execute command. How can I implement the sorted method in that case?

[2016-06-21 23:23] aek commented on #6437
I do this for Odoo 8 some time ago, it works for List, Form, Calendar, Graph and Kanban views. It's based on what Odoo do for load views data and unfortunately it's using the field auto_refresh field in act_window that will be removed but it's just a matter of add in again. I don't use it for a while but it should be working.

[2016-06-21 23:53] effelle commented on #6437
@fpodoo: even understanding that we are speaking about a no longer working option I think you are underestimating the benefits of a refresh triggered by an event. But ok, you're the boss, your call... :)
@Yenthe666 : Let me see what I can do this weekend, then I'll send you some code.
@aek: Thanks, for let us know your work! Is your refresh module triggered by an event or is just based on time?

[2016-06-22 04:42] aek commented on #6437
@effelle it's based on time, seconds configured in the auto_refresh field of the action of the views.
I saw an event based refresh in a video of anybox using longpolling services based on odoo bus. Here is the video
https://www.youtube.com/watch?v=y3Rv8ZPAk6g

[2016-06-22 06:41] Yenthe666 commented on #12521
Hi @ricpelo,

Thanks for your report. The reason for this is that when you enter inside the `span` element and move out of it, it'll create a new `span` for the 00, which is then considered another element in Odoo.
I do think this is expected behaviour and not considered as a bug though. @JKE-be what do you think about this?

[2016-06-22 06:42] Yenthe666 commented on #12523
@JKE-be another one that might be for you. Can you have a look at this?

[2016-06-22 06:43] Yenthe666 commented on #12520
@fhe-odoo I believe you're the EN police here, what do you think about this?

[2016-06-22 06:45] Yenthe666 commented on #12479
@mart-e what do you think about this?

[2016-06-22 06:58] Yenthe666 opened #12526 "[8.0, 9.0] Impossible to apply non-deductible taxes"
Impacted versions: 8.0, 9.0 community, 9.0 Enterprise

Steps to reproduce:
At this point there is no option in Odoo to create an invoice that has non-deductible taxes on the product lines. I'll try to explain this in a usecase.
Let us say we buy a product for 100€ without taxes and that there are 21% taxes that need to be applied on the product. This means the product will cost 121€ (100€ without

[2016-06-22 07:04] Yenthe666 commented on #12526
@qdp-odoo could you have a look at this?
@mart-e FYI. This is the issue I was talking about yesterday.

[2016-06-22 07:05] fczaja opened #12527 "SEO improvements Odoo: The 6 important SEO features should be improved in Odoo 9 or Odoo 10"
# The fundamental goal

So that Odoo websites and online shops are successful in the search engines, must possess Odoo very good SEO standards. For this reason, the following things should be changed or introduced in Odoo CMS.

**List improvements:**
1. Insert Robots meta tag
2. Separating H1 and URL
3. Remove URL suffix ID
4. Short URLs
5. Online Shop: wrong category linking to products
6. pictur

[2016-06-22 07:14] Yenthe666 commented on #12527
Hi @fczaja,

Thanks a lot for this report and for making such a detailed one. Really appreciated!
I agree on some things that you've written down and this is something that Odoo should really look in to.
@JKE-be, @mart-e, @odony and @xmo-odoo pinging you all since this is probably one of the best reports in ages and let us face it, the website can stilll use quite some neat improvements.
I hope th

[2016-06-22 07:17] fczaja commented on #12527
@jholze, @parthivgls, @rafaelbn, @rruebner
I have summarized important improvements for ODOO CMS. It would be nice if the subject of ODOO and the community would be discussed and implemented. Thanks @Yenthe666

[2016-06-22 07:21] parthivgls commented on #12527
:+1: @fczaja , these are kind of much needed improvements in order to increase Odoo CMS adaptability compare to other CMS like Wordpress or ecommerce solutions like Magento & Prestashop.

[2016-06-22 07:27] fhe-odoo commented on #12520
@Yenthe666 Yes but this is not a terminology/wording/vocabulary/grammar question. We all agree on what a lot and a serial number are and that it's the right word. It is more a business&technical question especially considering it's refering to a technical field. Usability team is better suited for this: @bst-odoo or @tivisse

Also, we don't make string changes in stable versions to avoid erasing t

[2016-06-22 07:28] Yenthe666 commented on #9514
There has been no response in a month so I'm closing this issue.

[2016-06-22 07:28] #9514 closed

[2016-06-22 07:29] lukebranch commented on #12527
agreed, these would be very useful. I really think it would be a good idea to de-couple some of the fixed designations like:

/page
/forum
/shop
/shop/category

and many others to allow for a more flexible URL slug, for example (allowing the inclusion of .html would also be a good thing as well):

example.com/your-product-name.html

example.com/your-category-name/your-product-name.html

example.co

[2016-06-22 07:29] Yenthe666 commented on #9296
@aab-odoo could you have a look at this?

[2016-06-22 07:30] jholze commented on #12527
@fczaja Good, so i think a google doc (like we already discussed in the kitchen :) ) will be a good starting point. From this we should create specific tickets for each change / fix instead of a ticket / thread for all topics like this one. Guys, what do you think ?

We already started a very big project some month ago (see repo link above) but its really a big point. Maybe we can share the develo

[2016-06-22 07:30] Yenthe666 commented on #9034
Hi @bringsvor,

I'm closing this issue since there has been no response in 30 days.
You're free to comment on this if it is still present or to create a new issue.

Regards,
Yenthe

[2016-06-22 07:30] #9034 closed

[2016-06-22 07:38] jholze commented on #12527
@lukebranch we already tried this way i think in our repo above. We build a basic SEO addon and added the changes for each addon like website_sales or website_blog in different small addons to have it more structured. The Website http://supernova-lights.de/en/ is the first site we integrated the first version of our SEO changes. The complexity here was the handling of the different languages with

[2016-06-22 07:38] aisopuro commented on #12520
OK, thanks for the input @fhe-odoo. Should I change the issue name prefix to `[master]` or just leave it empty?

It's too bad that this can't make it into 9.0, but you're right, it is a string change, so merging it into `9.0` is a no-no. We'll just have to overwrite the `string` attribute in our own environments.

[2016-06-22 07:44] fczaja commented on #12527
I will now add the 6 tasks in Github

[2016-06-22 07:56] fczaja opened #12528 "SEO: Insert Robots meta-tag"
## Impacted versions
- 9.0
## Goal

Each side must individually via meta-tags as "noindex, follow" and "index, follow" to control his at the search engines to index the permit or prohibit.
## Reason

The most important reason for the manual change the meta-tags is that unimportant pages are not intended to enter the index of search engines. Furthermore, so difficult subject can also be excluded fr

[2016-06-22 08:04] fczaja opened #12529 "SEO: Separating H1 and URL"
## Impacted versions
- 9.0
## Goal

Independent work of H1 and URL must be possible.
Both elements must not be influenced by changes.
## Reason

It is normal that changes the H1 for various reasons.
The change of H1 but may not lead to change in the URL because it is very important for search engine optimization. Changes have a 404 error or a 301 Redirect result. Both should be avoided if possible

[2016-06-22 08:16] fczaja opened #12530 "SEO: Remove URL suffix ID"
## Impacted versions
- 9.0
## Goal

The ID should be removed from the URL.
## Reason

The URL is one of the most important SEO criteria.
Unimportant things should not stand in the URL, so that a page is relevant for important searches.
An ID can distort the meaning of the URL.
The URL should not be unnecessarily long, so they can be seen complete on the search results page of Google.
## Current be

[2016-06-22 08:22] mart-e commented on #12479
I am thinking that I don't understand the issue. What do you call basic and full composer ?
I guess by "basic composer" you mean the chatter on a record but I don't see how email templates come into the picture.
Please elaborate.

[2016-06-22 08:24] fczaja opened #12531 "SEO: Short URLs"
## Impacted versions
- 9.0
## Goal

Directories in the URL as (shop/product/) or (page/) there should not be.
Second directory as (help-1) or (our-blog-1) should not exist:
forum/help-1
blog/our-blog-1

## Reason

URLs should never contain unnecessary directories.
Sites that are deeper in the directory level appear unimportant for search engines.
The important URL should be visible in the search r

[2016-06-22 08:28] fczaja opened #12532 "SEO: Online Shop wrong category linking to products"
## Impacted versions
- 9.0
## Goal

Linking all navigation must always refer to the original URL of a product. This concerns the category links in the online shop.
## Reason

If there are multiple URLs for a product, we have duplicate content.
It may be that a product page can be reached at multiple URLs in the search engines. For this reason, duplicate content by search engines is very poor rates

[2016-06-22 08:29] JKE-be commented on #12521
As @Yenthe666 explains, the enter is the behavior of web editor.
So it is normal that enter do a return line.
In your case, it because you are in a specific case, editing a t-field and of type numeric that you would like ignore this behavior... but it is the desired behavior in most case... (even if we could improve it to avoid return line for t-field of type numeric, monetary, ... but it's is a s

[2016-06-22 08:29] #12521 closed

[2016-06-22 08:30] #12523 closed

[2016-06-22 08:31] fczaja opened #12533 "Website: Pictures Organisation"
## Impacted versions
- 9.0
## Goal

Images should be better organized. For this purpose it must be possible to create folders in which the images can be saved. The image name is also the alt text.
## Reason

Working with images should be facilitated. These include that they can be better organized to find images fast.
## Current behavior

Currently, all images are stored in a folder.
## Expected b

[2016-06-22 08:35] fczaja commented on #12527
The 6 tasks are created and linked on this document. It would be very good if we could now enable all contacts for the tasks.

[2016-06-22 08:51] mart-e commented on #12523
Thanks, fixed at cecc12ffc6a26ae61319b358f69d9fc5e0ad5bcc

@lslaz1 as you already had the correction, don't hesitate to create a pull request for next time

[2016-06-22 08:52] JKE-be commented on #12527
Thanks all for the reporting,

We could add 2 others recurrents issues about seo:
    robot.txt editable
    and urllang_prefix.

I will take a look with managers and select/discuss what Odoo will/could change for the next version.

But if it is developed internally, it will be available only for the v11... We already have so many things to finish before v10...

[2016-06-22 09:56] Gorash commented on #11782
The fix has been merged

[2016-06-22 09:56] #11782 closed

[2016-06-22 10:00] fczaja commented on #12527
Thanks @JKE-be,
remember that online shops can be successful in the long term only with these SEO features. It should not be forgotten that Ecommerce agencies can recommend only with these improvements Odoo as an excellent online shop software.

[2016-06-22 11:39] effelle commented on #6437
Yes, I know this module and I have used on V8. Last time I've checked it wasn't work on V9.
Anyway, I think an event trigger via bus it's the way to go.

[2016-06-22 11:49] blutec-ma opened #12537 "[8.0]How to set all fields in form view to read-only after setting state to confirmed [WORKFLOW]"
Hello all,

I need to know what command to add to the transition of DRAFT > CONFIRMED state of a document in ODOO-8 to make all fields READ ONLY.
I've attached an image below to see the fields that can be edited even though the state is confirmed.

I'm new to GITHUB, thanks alot and i await replies

Impacted versions:8.0

Steps to reproduce:

Current behavior:

![capture22-06-2016](https://cloud.g

[2016-06-22 12:14] mart-e commented on #9253
Hello,

The analysis was correct, fixed at 9d6b9cc
Thanks

[2016-06-22 12:14] #9253 closed

[2016-06-22 12:29] Gorash commented on #8699
Fxed, tested by some people, merged :+1:

[2016-06-22 12:29] #8699 closed

[2016-06-22 12:57] Yenthe666 commented on #12527
I've labelled all seperate issues with wishlist so they don't get lost along the lines.
@JKE-be I really agree with @fczaja here though, a truely succesfull webshop has to have good SEO features. The ones described here are really key features and things that should be implemented. The website / webshop has amazing tools to build them already, it now just lacks the great tools for SEO, which would

[2016-06-22 12:59] Yenthe666 commented on #12537
Hi @blutec-ma,

Github is only used for issues with the source code from Odoo, this is not considered the place to ask questions regarding development. If you have such questions in the future please post them on help.odoo.com, where a lot of people can help you!
To answer your question: you can do this with attributes on a field. A raw example:
`<field name="example_field" attrs="{'readonly': [('

[2016-06-22 12:59] #12537 closed

[2016-06-22 13:26] rafaelbn commented on #12527
:+1:
Let's show this issue to OCA's contributors list.
cc @kaerdsar @Benniphx @rruebner @Yajo

[2016-06-22 13:47] blutec-ma commented on #12537
Thanks a lot @Yenthe666 ,

[2016-06-22 13:57] blutec-ma commented on #12537
By the way: the correct code is: (state instead of type)

<field name="field_name" attrs="{'readonly': [('state', '=', 'confirmed')]}"/>

[2016-06-22 13:57] blutec-ma commented on #12537
`<field name="field_name" attrs="{'readonly': [('state', '=', 'confirmed')]}"/>`

[2016-06-22 14:01] andreparames commented on #10047
We have the same issues, and actually implemented the same fix before finding this bug report.

@rr-clearcorp can you submit your fix as a proper PR? If not, I'll do so to see if we can get the attention of Odoo devs.

[2016-06-22 14:17] jholze commented on #12527
@JKE-be maybe possible to tag all the SEO related tickets ?

[2016-06-22 14:23] lslaz1 commented on #12523
Thanks, I will definitely do that next time

[2016-06-22 14:28] jholze commented on #8699
@Gorash fixed where ? here #12416 ?

[2016-06-22 15:01] fhe-odoo commented on #12527
I read only 1 point (Remove URL suffix id) and I don't agree with it for the 2 following reasons:
1. You don't explain why. You say what you would like to see changed but you don't say why it makes a difference from an SEO standpoint.
2. You will break the URL aliasing mechanism, increasing the risk of dead links, which is ironically really bad from an SEO standpoint.

[2016-06-22 15:05] leemannd commented on #12341
@sle-odoo Hello, so is there no plan to change this behavior in V9 & Enterprise version?

[2016-06-22 15:09] hurrinico opened #12541 "Checkout's Company name write on wrong field"
Impacted versions: 8.0, 9.0

Steps to reproduce: Create a user,
                                In user's related partner associate a parent_id and set street and street2,
                                 Make an order on website with created user,
                                 On Checkout as Company's name i see parent_id name,
                                 Validate Checkout

[2016-06-22 15:23] Diftraku commented on #6852
The `psycogreen` Python dependency has been packaged on Ubuntu since Wily (see http://packages.ubuntu.com/search?keywords=python-psycogreen&searchon=names&suite=all&section=all ) as `python-psycogreen`. Installing the package manually and then restarting Odoo brings up the polling server (if it doesn't spawn itself after installation of the python package).

This should be listed as an additional

[2016-06-22 15:36] hbto commented on #12307
@nim-odoo

The use case was already presented to you

Solution cannot change Costing Method from STD to REAL at will.

Regards.

[2016-06-22 15:56] nim-odoo commented on #12307
@hbto I read the use case, but I'm still convinced that it makes more sense to configure your product in 'Real Price' when it comes to appropriate accounting and stock valuation.

Moreover, the solution I provided works only if you create a SO for a product which is not available in stock. If the product is available, then the stock move is already linked to quants, and you obviously cannot change

[2016-06-22 15:57] nim-odoo commented on #12307
@beledouxdenis

[2016-06-22 16:00] houssine78 commented on #11177
Hi @jorenvo

For what I've been experienced the record rule also apply to the pos manager which is a bug AFAIU...

[2016-06-22 16:10] nhomar commented on #12307
@nim-odoo You are sugesting that I change 100% of the valuation methodology of a company just because you do not want to solve a clear issue?.

Without even considere that when I move to another valuation method, then it will bring MORE problems unknown (remember in odoo real time is new Standard exists since well.... always and it is almost brainless, and BTW for production Odoo's real time does

[2016-06-22 16:14] beledouxdenis commented on #12307
@qdp-odoo @jco-odoo Can you have a look at this issue ? I am not expert at all regarding this.

[2016-06-22 16:16] nhomar commented on #12179
@nim-odoo

I made my tests and actually babel has a "problem" try to compute any date and only fr_FR works properly.

Said this: Can you dedicate to solve babel's problem? or wire the behavior in odoo and fix the babel's version?

This is an issue (no matter who is the gulty) and IMHO Odoo's should solve it inside its space or fix the lib.

I can dedicate time but considering we have a Licence I t

[2016-06-22 16:30] pedrobaeza commented on #12527
We have already performed one of the approaches with this v8 module: https://github.com/OCA/website/tree/8.0/website_seo_redirection

[2016-06-22 16:32] lslaz1 opened #12543 "Theme howto javascript function not updated"
Hey guys, I've got another one for you in the docs.

In the "Javascript Options" section of the theme howto it seems that the function is outdated. It seems that the openerp global has been removed to the console spits out a ReferenceError. I'm pretty sure that odoo.define should be used here but I can't make it work. if I adapt the old function to the odoo.define the console gives me this error:

[2016-06-22 16:40] nim-odoo commented on #12307
@nhomar : no. I'm first suggesting a fix (http://pastebin.com/rtXPTHtn), which works for what I have tested. As you point out, "Standard" valuation exists since always, and the use case you describe has never been taken into account since then. Therefore, considering the obviously intrusive nature and limited scope of the fix, and the fact that this behavior has (to my knowledge) not been reported

[2016-06-22 16:43] nim-odoo commented on #12179
@odony : since we agreed on this, could you expose you point of view?

[2016-06-22 17:19] odony commented on #12179
@nhomar could you explain how babel is broken? Can we see your test code? What is the locale you used to test, and what did you get as the result, vs the expected result?
Do you have a reference for a babel bug report mentioning that it is somehow broken?

It's difficult to verify if indeed babel as a "problem" without any test data/scenario.. And babel seems to work fine for our tests, including

[2016-06-22 17:34] dsabrinarg commented on #12179
@odony sure, this is the current result for es_MX

![analisis compra odoo](https://cloud.githubusercontent.com/assets/7597456/16276651/eca63912-3874-11e6-8ed8-8b1e69228412.png)

![user settings odoo](https://cloud.githubusercontent.com/assets/7597456/16276654/f2e31ec6-3874-11e6-9c67-d7d5b4e0799d.png)

I was expecting W25 for June 22, 2016

[2016-06-22 17:49] nhomar commented on #12179
@odony, @moylop260 has a better understanding of the [problem](https://trac-hacks.org/ticket/8175), then he will extend the explanation in order to fit the situation.

Here an Old Babel Issue (not solved yet) and Odoo need a parameter (@moylop will explain in other message the rationale).

[2016-06-22 18:02] fpodoo commented on #12527
Be sure to read this document about the Odoo SEO before proposing changes:
  https://www.odoo.com/documentation/user/9.0/website/seo.html

The following features have NO negative impact on SEO and are actually very useful/a good practive:
- suffix ID in URLs: allows clean 301 redirect when renaming, and short URLs
- namespaces (/page, /shop): avoids conflicts in URL on bigger website or with commu

[2016-06-22 18:06] moylop260 commented on #12179
This is a very old and polemic matter.

You can see the same discuss from java, excel, python, php...
Example: Babel discuss 6 years ago - https://trac-hacks.org/ticket/8175

The main issue is that the people use the country standard for number, date normal format... but not for the week number.

We can define `Use the week number format of you country`
But the real global situation is'nt it.

`MS

[2016-06-22 19:52] hbto commented on #12307
@nim-odoo

Yes, you can, as it has already been done on Landed Cost:
https://github.com/odoo/odoo/blob/8.0/addons/stock_landed_costs/stock_landed_costs.py#L264-L270

The thing is that you have only focused the right behaviour on REAL,

Other Costing Methods have been _slightly_ overlooked

With your proposal what you can do is apply it and provide strong testing on the costing method.

Regards.

[2016-06-22 20:01] dreispt commented on #11782
But the #12248 is still open...

[2016-06-22 21:11] greanie commented on #12422
Ni, that list is not coming up for me so I can't set a hierarchy.

[2016-06-22 21:40] JKE-be commented on #12543
Thanks for the reporting. The js documentation is not already updated...
But don't hesitate to open an existing module in github to see the changes and adapt the code.
https://github.com/odoo/odoo/blob/7682760dcad232829fbb5d4221f66a1ebb9d6c91/addons/website/static/src/js/website.snippets.gallery.js

[2016-06-22 22:29] rr-clearcorp commented on #10047
Sure @andreparames, I can submit the PR this weekend

[2016-06-22 23:34] andreparames commented on #10047
Thanks!

[2016-06-23 02:06] oliverzgy opened #12545 "[8.0] No wizard pop up for invoicing after installing stock_invoice_directly"
Impacted versions:
8.0 (latest as of today @runbot)

Steps to reproduce:
1. Enable Invoice Picking Directly(stock_invoice_directly)
2. Book a sales order with invoice based on delivery
3. Transfer the delivery order generated from this SO

Current behavior:
No Wizard for invoicing

Expected behavior:
Wizard pop up for invoicing

Video/Screenshot link (optional):

[2016-06-23 05:31] Khwunchai commented on #11420
Just to be sure, do you mean setting Amount Type to percentage (%) in salary rule?

[2016-06-23 06:09] wtaferner commented on #12179
@moylop260
I like your explanation and I think using libs is always a good thing, but giving the administrator the possibility to influence the standard of a lib and the rest of the software is always a good thing if it could be applied consistently :-)

[2016-06-23 06:14] Yenthe666 commented on #12541
@JKE-be can you give @hurrinico a little bit more information about why it won't be fixed?
Also, if it is not fixed we can probably close the issue too?

[2016-06-23 07:02] fczaja commented on #12527
Hi @fhe-ODOO,
The URL is after the content and title-tag one of the most important SEO criteria and a very strong ranking signal. The following is what I call the reasons why the ID has no place in the URL.

### The URL contains the main keywords
If for example we have a generic keyword like "gold", the URL can not be called "domain.com/gold-1678". Here reads Google from the URL that the theme of

[2016-06-23 07:39] lukebranch commented on #12527
Further to fczaja's post above, here's an excerpt from Moz.com (one of the most respected names in SEO today):

<h4>Go static</h4>

<p>The best URLs are human-readable and without lots of parameters, numbers, and symbols. Using technologies like mod_rewrite for Apache and ISAPI_rewrite for Microsoft, you can easily transform dynamic URLs like this https://moz.com/blog?id=123 into a more readable s

[2016-06-23 07:46] Gorash commented on #8699
Yes. Sorry for not having put the reference of the commit : https://github.com/odoo/odoo/commit/f38f8930f0436a40f675fa1d054a9d46f550d440
Having done after test. Since this is a big change, if there is an issue contact me with the full traceback version of the browser ... I can take into account with my computer because I have not been able to reproduce the rruebner bug (is via colleagues tests tha

[2016-06-23 08:13] gurneyalex opened #12550 "Automated actions can't trigger on all writes to a record"
Impacted versions: all

Last autumn when v9 was released and the sale order / purchase order workflows, @fpodoo advocated the use of Automated Actions to implement workflow customization (the thread is https://www.odoo.com/groups/community-59/community-13922152?mode=thread&date_begin=&date_end=)

I tried that approach does not work.

The problem is that a given automated actions can only trigger o

[2016-06-23 08:57] JKE-be commented on #12541
Because it is a duplicate of https://github.com/odoo/odoo/issues/2541

[2016-06-23 08:57] #12541 closed

[2016-06-23 09:49] Gorash commented on #8699
I revert the commit for internal choice.
Odoo want to use qweb in template and remove jinja support on next version. If users want to use jinja they can change the view to use text widget instead of html widget. We are going to create task to convert template who use jinja into qweb template.

[2016-06-23 10:27] fczaja commented on #12527
Hallo @fpodoo,
for companies operate an online shops, search engine optimization is essentially important in the tough business of Ecommerce.

For this reason SEO should not be regarded as a secundary matter, but as a guarantee of a successful Ecommerce Business. Here there is also a responsibility that should be compared with customer satisfied.

**Decision for an online shop**
The decision for a

[2016-06-23 10:49] deepa4lok commented on #12459
@mart-e Yes this is the perfect example,appreciate your effort, can please you add currency_id and check as well...

As I mentioned earlier,
case 1: When I change xyz_charges amount_total gets recomputed well,
case 2: When I change xyz_charges & currency_id, works fine.
**case 3: When only currency_id is changed, the amount_total doesn't change,**

i.e. amount_total should be calculated based on t

[2016-06-23 11:52] qdp-odoo commented on #12307
My personal opinion is: changing the standard price of a product is something you should only do with precaution. If you're use to change that twice a week, then you don't use the system as it is intended.

So when you do that, you have to manually make adjustments in your accounting, I'd say, as it is somehow an exceptional case and we don't want to put exceptions in the code for exceptions in re

[2016-06-23 12:03] dcrocco opened #12555 "Bug on @api.constrains v8"
Impacted versions: 8.0

Steps to reproduce:
- Create a function with an api constrains
- Do a search that has the same requirements than the actual object
- Validate with the search.

eg:
@api.constrains('my_field')
def check_my_field(self):
    if self.search([('my_field', '=', self.my_field)]):
        raise Warning('My field already exists for another record')

Current behavior:
    Will raise

[2016-06-23 12:12] rruebner commented on #8699
Hi @Gorash,

I tested it again in latest runbot v9 after you revert your fix. It works now but I don't know what commit fixed it at the end. To add conditions in email templates you have to follow these steps:

1. go to Settings -> Technical -> Email -> Templates
2. open any mail template and click on edit
3. click on the **Code View** icon in the body html icon bar, it doesn't work in the default

[2016-06-23 13:36] odony commented on #12179
Thanks for the comments!
Our goal is not to reinvent the wheel to display a calendar in Odoo, especially not by adding more columns/settings. Usability is not about adding more config options, it's about simplifying the UI and doing things right by default.

A summary of the problem might help keep things straight.

---
The problem of week numbers boils down to this: our **calendar view** displays

[2016-06-23 14:22] mlatre opened #12560 "[9.0] web: lessc gives a "ParseError" while compiling web.assets_backend"
Impacted versions: Odoo9 - Ubuntu 12.04 - Python 2.7.3

Steps to reproduce:
Hi, I just installed Odoo9 and to enter for the first time after putting my username and password , the following error appears

ParseError: Syntax Error on line 460 in -:460:33
459              .o-caret-right;
460              .o-position-absolute(@top: 50%, @left: 12px);
461               margin-top: (-@caret-width-base)

[2016-06-23 14:30] hbto commented on #12307
Hello @qdp-odoo

You are right, though as you could know Standard Price does change in real life process, and
that is something that should be taken into account,

but here we are not discussing the frequency rate at which a customer is changing the standard price
of a product, we are discussing the _issue_ posted by @JulioSerna, which is a real case scenario
that do happen to everybody no matter

[2016-06-23 14:30] mart-e commented on #12459
Do you mean you change the currency of the line or of the order?
You are adding a field `currency_id` on the `purchase.order.line` and your trigger of `_amount_all` is on the field `currency_id` of the `purchase.order`.

[2016-06-23 14:30] moylop260 commented on #9296
I use dialy the database wizard in our runbot based on docker without problem.

Your main issue is

Try `with` filestore.

Or copy the filestore path from source.

We had this issue in our CI
https://github.com/OCA/maintainer-quality-tools/issues/299

And was fixed copying filestore
https://github.com/OCA/maintainer-quality-tools/pull/304

Could you try?

[2016-06-23 14:50] sbidoul opened #12561 "[9.0] non-deductible taxes not going to the correct account in some cases"
Impacted versions: 9.0 (this bug is not present in 8.0)

Steps to reproduce:

On runbot 9.0.

Create a non-deductible taxe:

![image](https://cloud.githubusercontent.com/assets/692075/16307329/23afbef0-3961-11e6-8bb1-f841470dd306.png)

(this is a simple case of a fully non-deductible tax, the same applies to partially deductible taxes such as the car taxes in Belgium)

Create an invoice with two l

[2016-06-23 14:50] sbidoul commented on #12561
@qdp-odoo can you please have a look into this one?

cc/ @chrisdec @adrienpeiffer

[2016-06-23 14:52] sbidoul commented on #12526
@Yenthe666 in my experience it is possible to have non-deductible taxes in 8.0 and 9.0.

But in 9.0 there is a nasty bug that appear when you have complex invoices: #12561

[2016-06-23 15:44] hindbenessy opened #12562 "French amount letter report invoice"
Odoo version 8
i want to display amout total text with french like this
3600: trois mille six cent
this 's my code
// __openerp__.py

{
    'name': 'Recu facture',
    'version': '1.0.0',
    'category': '',
    'sequence': 1,
    'author': '',
    'website': 'http://www.openerp.com',
    'depends': ['base','account','report'],
    'data': ['recu_facture.xml',
    'recu_facture_views.xml',

    ],

[2016-06-23 16:24] lslaz1 commented on #12543
Thanks for the quick response. I have actually looked at other modules to adapt my function. The problem comes when I add the `options.registry.snippet_testimonial_options = options.Class.extend` line. When I add it the console gives me this error: `error: Some modules could not be started Failed modules: ["theme_tutorial"]`

[2016-06-24 01:56] OpenERPJeff commented on #2919
Same here, no solution and no odoo staff care about this?

[2016-06-24 05:03] Yenthe666 commented on #2919
@mart-e quite some people seem to be reporting this. Any idea?

[2016-06-24 06:15] Yenthe666 commented on #12526
@sbidoul could you explain me how to create non-deduductible taxes? Up untill now we haven't found a way to do it properly.

[2016-06-24 06:22] Yenthe666 commented on #12562
Hi @hindbenessy,

Github issues are used for tracking bugs that are found in the official code. Custom development and questions regarding this should be posted on the official Odoo help forums (help.odoo.com).
I'm sure somebody can help you there!
Closing this since it is not an issue but a question.

Regards,
Yenthe

[2016-06-24 06:22] #12562 closed

[2016-06-24 06:23] sbidoul commented on #12526
@Yenthe666 Just leave the tax account empty in the tax configuration. Such as this:

![image](https://cloud.githubusercontent.com/assets/692075/16329779/e6e5352a-39e4-11e6-8312-cc12d6060a3c.png)

[2016-06-24 06:38] treviser commented on #12526
In Switzerland we do have flat tax regimes for companies with particular qualifications. This means that a company has to pay a flat VAT rate on all sales, but is not allowed to deduct any VAT on purchases, which is more or less the same issue.
I do not leave the tax acount empty in this case, instead I assign the corresponding base expense account. I did not investigate it indepthly,  but wouldn'

[2016-06-24 07:06] doanvanthien commented on #8678
Thank you.

[2016-06-24 07:12] deepa4lok commented on #12459
On change of currency present in the Order.

Try the below Scenario:
Company Currency is EUR,

POL: price_total is 1000 INR.   (_as mentioned earlier POL currency is no more related to PO_)
PO : Currency is USD
Hence PO Total will be **14.70 USD.**

Save this record. (_this is needed in order to face the scenario_)

Again re-edit & change the Order Currency alone to GBP.   (_Note: do not change an

[2016-06-24 07:24] ricco386 commented on #11236
thanks @dansanti your fix seems to work for this issue. Hope your MR will be accepted soon.

[2016-06-24 07:49] mart-e commented on #2919
The query indicates that the presence status (online, away or offline) failed to be updated. It's not a big deal, it happens when you have two tabs open for instance and the two tries to set the user as online.
In 9.0 we have [muted these errors](https://github.com/odoo/odoo/blob/5ca8f087309b16f4527a91fbb490b4a8f804e7f9/addons/bus/models/bus_presence.py#L53) but really it's just the process trying

[2016-06-24 07:49] #2919 closed

[2016-06-24 07:54] JKE-be commented on #12560
Are you sure that you correctly install all required packages (less, ....) ?https://www.odoo.com/documentation/9.0/setup/install.html#installing-dependencies

[2016-06-24 08:08] mart-e commented on #9296
As said Moises, if you dump the database without the filestore, don't be surprised to get errors regarding the filestore.
You will want to use this option if you move the filestore manually (e.g. too big to be used via web interface so will be copied manually).

If you want to fix this, you will need to delete the attachments linked to the assets (or go in debug mode).

[2016-06-24 08:08] #9296 closed

[2016-06-24 08:23] mart-e commented on #12459
Sorry but github is not the right place to ask development advises.
If you can show (a scenario clear with a small POC) there is something wrong on the trigger mechanism, I can reopen but here it's more the logic of the calls than the depends mechanis.
I advise to check on [forum](https://www.odoo.com/forum/help-1/), [mailing lists](https://www.odoo.com/groups) or contact the support/partner.

[2016-06-24 09:55] qdp-odoo commented on #12526
yes it's totally possible to do that in Odoo, v8 or v9. Just install l10n_be and look at the tax "Frais de voiture - VAT 50% Non Deductible"

[code]

[2016-06-24 09:55] #12526 closed

[2016-06-24 09:55] rousseldenis commented on #12555
I think this is not a bug, your check is not correct.
If you want to add unique constraint, maybe add a sql one (if your field is not company dependent).

If you want a python one, change your domain in search :

self.search[('my_field', '=', self.my_field), ('id', '!=', self.id)]

[2016-06-24 10:03] bplancher opened #12566 "[9.0] Gevent server fail to launch with --i18n-overwrite and --update options"
**Impacted versions:** V9

**Steps to reproduce:**
- Install python module gevent
- Launch Odoo using odoo.py --i18n-overwrite -u module -d database

**Current behavior:**
- the server is correctly updated, but the gevent server (`long_polling_spawn()`) is not started, having this error:

[code]
Probably due to the `stripped_sys_argv()` which removes --update option

**Expected behavior:**
The ope

[2016-06-24 11:34] zamberjo opened #12568 "[8.0][mrp] Propagate restrict_lot_id when consuming lines"
Impacted versions: 8.0

Steps to reproduce: Create MO with restrict_lot_id set on - at least - one move line and call `do_produce` with partial product_qty.

Current behavior: The created move line does not have the value restrict_lot_id set.

Expected behavior: The process should propagate the value to any created move line.

Video/Screenshot link (optional): -

[On this line](https://github.com/

[2016-06-24 12:11] Yenthe666 commented on #12479
@avanzella could you give some more input please? Just to be sure we're talking about the same thing here.

[2016-06-24 12:38] bplancher commented on #12524
Hello,

I may be wrong but the tobytes() instead of tostring() make me think about python 2 and 3 conflict (but not sure). Have you updated PIL / pillow to newer version (>3) ?

Hope it helps in some way,
Regards

[2016-06-24 13:20] cycleuzb commented on #12524
Hello,

How i may update it maybe some helps to me ??

Thank you

Envoyé de mon iPhone

[2016-06-24 13:24] bplancher commented on #12524
No sorry,

do not update this module !
I asked this to see what you did to reach this bug, but don't do this ^^

Did you do something special before having this bug ?
Have you ever try to print a PDF before ? (did it work before ?)
Have you changed anything in your Odoo installation just before this bug ?

Regards

[2016-06-24 18:20] COTIGA commented on #1657
Him
I have the same problem since one week when I emit an invoice.
Did you find a solution?

[2016-06-24 20:04] cycleuzb commented on #12524
Hello,

No i alredy print with pdf with now problem. But after maybe its update who have a problem....

I try to create a new base and pdf work with it fine....

Thnks

Envoyé de mon iPhone

[2016-06-24 21:06] dkrimmer84 opened #12573 "Google Calendar: Bad Request (400)"
Impacted versions: 9.0

**Module**: google_calendar

**Current behavior:**
Sync with Google Calendar throws error: HTTPError: HTTP Error 400: Bad Request
Did not change anything in the calendar settings. Worked perfect a day before. ONLY happens with my (admin) user. Other users can sync with the same credentials.

It seems that this module has a bug as it sends a wrong json. Error must be user re

[2016-06-24 21:34] greanie commented on #12422
I tried updating the parent_id in the database table but that cause the chart of accounts to crash so that isn't a viable work around in and of itself.  Anyone have any ideas?

[2016-06-24 21:55] greanie commented on #12422
When I tail -f the log file, edit an account and click on the pull down arrow inside "Parent Id" box, in the log I see

POST /web/dataset/call_kw/account.account/name_search HTTP/1.1" 200

But no list comes up.

When I try to edit or create a record that requires an account reference and click to pull down the list of available accounts, the log file also shows

POST /web/dataset/call_kw/account.a

[2016-06-24 22:55] eronlloyd opened #12574 "Email case-sensitive for user authentication"
Impacted versions: 9.0

Steps to reproduce: Attempt to log in using your user email, but in a different case.

Current behavior: With the correct email, but in a different case, and the correct password, the login will fail.

Expected behavior: Odoo compares the email in a case insensitive way, since this is true generally with email, and accepts the authentication if the characters and password o

[2016-06-24 23:06] eronlloyd commented on #12574
After some further research, I came across PR #9378, which seems like it's solving a similar issue, but not in authentication. I'm not familiar enough with the code yet to know where to look, but I'll keep exploring. This should be a relatively easy, obvious fix for something that can trip up and confuse new users right from the start. The first sign-in experience should be as positive as possible

[2016-06-24 23:14] eronlloyd commented on #12483
I will try to provide a patch for this in the near future, once I'm more familiar with the codebase. It looks like it might be in a view template somewhere.

[2016-06-25 07:22] hassoon3 opened #12575 "iframe same origin issue on chrome"
Impacted versions:
8.0.20160617 on Chrome Version 51.0.2704.103 m

Steps to reproduce:
Using HTTPS and Using a demo database, generate the General Ledger PDF report

Current behavior:
Error from Odoo Client : Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "https://www.###.com" from accessing a cross-origin frame.

Error b

[2016-06-25 08:09] hassoon3 commented on #12575
Solved! Turned out I had set the X-Frame-Options header to DENY in my NGINX reverse proxy. I had to reset it to SAMEORIGIN instead.

[2016-06-25 08:09] #12575 closed

[2016-06-25 10:20] diggy128 commented on #8237
@qtheuret
This is just WRONG!
Since product.packaging model includes EAN codes, every single packaging holding a different product MUST have a different EAN that "describes" the items within.

GS1 guidelines are very clear and simple about this.
Implementing packaging without obeying global, universally used standards all over the products' chain (from warehouse to retail) simply means poor code r

[2016-06-25 18:13] JKE-be commented on #12573
Hello
Can you check the event that raise this error.
Seems to be an error where field start > stop in calendar.event model...

[2016-06-25 18:24] dkrimmer84 commented on #12573
Hi @JKE-be

Thanks for the fast reaction :-)

I deleted all events of the admin user and the error still occurs.
This is the JSON request the applications sends, which seems to be equal to a correct request:

[code]

There is no way to correct start / stop in calendar.event as there is no interface where I could modify this data, right?

[2016-06-25 18:30] JKE-be commented on #12573
In mode list, you see the start and end in list view.

The request that you post is not the google request :/
You didn't see the request in your network because it is done server side.

Do you have access to the log ?
Are you hosted on Odoo Server ?

[2016-06-26 00:17] vuducnamcs opened #12577 "Odoo v8 bugview One2many (tree view editable mode in One2many only)"
Impacted versions: Odoo v8

Steps to reproduce: When click to edit item on One2many field with tree view (editable on). Content is broken and duplicate information.

Current behavior:

Expected behavior: No broken line when select item (select to edit)

Video/Screenshot link (optional):
<img width="1173" alt="screen shot 2016-06-26 at 7 10 24 am" src="https://cloud.githubusercontent.com/assets/183

[2016-06-26 10:47] JKE-be commented on #12543
Uses forum for this kind of question ...
But without your code, not easy to help you...
Probably a dépends in __openerp__.py from this module, but this module is not loaded...

[2016-06-26 10:47] #12543 closed

[2016-06-26 22:50] aryaadiputra opened #12579 "Readonly button on Field one2many field wizard"
Impacted versions: 9.0

I got issue when create one2many wizard with button, the button not able to click.

Anyone help?

[2016-06-27 05:46] deepa4lok commented on #12459
@mart-e well I never asked for development advises, infact I have achieved this particular functionality in my custom module, I have given the step by step procedure to re-create the issue, am sure you could have seen the bug yourself if you had followed it...

Anyways No issues, Thanks for your effort, yes please re-open the issue, possibly somebody might find a way.

[2016-06-27 06:05] Yenthe666 commented on #12579
Hi @aryaadiputra,

The Github issues are only for official bugs in Odoo, not for asking questions.
Please post a question on help.odoo.com, I'm sure somebody can help you there!

Regards,
Yenthe

[2016-06-27 06:05] #12579 closed

[2016-06-27 07:26] qtheuret commented on #8237
Thanks @diggy128 for you reply. You're right about the packaging with EAN. Thanks to mentioning that.
So, I'm ok to put product.packaging in product.product instead of product.template.

[2016-06-27 07:34] PieterPaulussen opened #12583 "Event_sale module: Double attendee ticket registration issue after attending event"
Impacted versions: v9.0 && v9.0e

Steps to reproduce:
Please see video for steps to reproduce.
https://youtu.be/sVCyPmn72nY

Current behaviour: When a attendee registration is completed and a sale order is linked to the attendee record, there is a new attend record created with the status 'attended'.

Expected behaviour: The original attendee registration should be updated, not create a new one.

[2016-06-27 07:37] Yenthe666 commented on #12583
@mart-e could you assign somebody on this one?
On a sidenote: the events flow is really tedious and confusing, you need to do way to many double clicks / entries to register somebody.

[2016-06-27 08:14] ctrlaltdelete007 commented on #12390
Hi,
same problem here, is there any solution?

[2016-06-27 08:22] JKE-be commented on #12390
@brauers Any news from Synology ?

[2016-06-27 08:29] brauers commented on #12390
not yet, I ll keep u up

Mit freundlichen Grüßen
Stephan Brauer
015164619440

[2016-06-27 08:55] #12561 closed

[2016-06-27 08:58] treviser commented on #12583
@Yenthe666 Well said. And too much unnecessary communications to the attendee. And accessory products do not work.

[2016-06-27 09:01] JKE-be commented on #12583
About the initial issue and not the refactoring discuss...
Have you tested :
![image](https://cloud.githubusercontent.com/assets/4848797/16374373/6e170604-3c56-11e6-8895-9894adce4a94.png)

[2016-06-27 09:23] PieterPaulussen commented on #12583
Just tested it now. The 'Skip' function does not change anything. Still 2 attendee registrations get created.

[2016-06-27 09:58] diggy128 commented on #8237
Definitely OK. If you code a module that implements this change I'll be happy to review as I'm still a bit far away from implementing this myself. Maybe even suggest push to OCA?

[2016-06-27 10:02] treviser commented on #9711
@antonylesuisse @sle-odoo It happened again after I have installed an additional module. I can't access my website again, this is urgent.

[2016-06-27 10:08] aek opened #12587 "Odoo CDN is broken"
Impacted versions: Online
Steps to reproduce: Open the Odoo Forum at https://www.odoo.com/forum/help-1
Current behavior: A lot of errors in the browser console related to the load of the odoocnd resources, due to those errors you couldn't see a lot of icons and the user experience is drastically affected.
Errors in the browser console tested with chrome says for example:

Expected behavior:
No err

[2016-06-27 10:14] aek commented on #12587
I noticed that odoocdn.com is using cloudflare-nginx. I had a similar case once and I solved adding this to my nginx server block, for your case

[2016-06-27 10:25] aek commented on #3460
Sorry that miss this thread, I use to fight with those spammers too. My steps are downvote and close the answer and also open the spammer profile to quickly downvote and open to close as spam all their questions. But these days seems that Odoo block the access for the profile link that used to be on the username of who posted. Should I open an issue for that? to allow anyone to be able to open the

[2016-06-27 11:35] odony commented on #12587
@aek The problem should be fixed, we forced a refresh of CloudFlare's cache, the Cross-Origin headers were missing in some regions. If you force a refresh in your browser (ctrl+F5) the fonts should work.

[2016-06-27 11:35] #12587 closed

[2016-06-27 12:35] treviser commented on #9711
website_booking_calendar is the culprit in my case. Sorry for the hassle.

[2016-06-27 12:47] chrisdec opened #12589 "[8.0] Partial reconciliation and automatic reconciliation"
Impacted versions: 8.0

Steps to reproduce:
------------------------------

1.Open runbot

2.Create a customer invoice

- Customer : Asustek
- Taxe : None
- Total : 200

3.Validate the customer invoice

4.Create a refund

- Click on **Refund Invoice**
- Refund Method : Create a draft refund
- Reason : Test

5.Change price of the refund from 200 to 50

6.Validate the refund

7.Make a partial reconc

[2016-06-27 12:54] aek commented on #12587
Still not working after a refresh with ctrl+F5(already tested), not even in an incognito window and confirmed in firefox too

[2016-06-27 13:04] Yenthe666 commented on #12587
It is all fine at my side now.

[2016-06-27 13:10] vijayant1234 opened #12590 "BUG: Company Name goes in street name in backend when Checkout from shop"
Impacted versions: 8.0 , 9.0, Master

Steps to reproduce:

- add to cart and checkout from shop page

https://drive.google.com/file/d/0ByGXYBRKsz2laFpkRTdyekYxbkU/view?usp=sharing

Current behavior:

- Company name fill up in street field

https://drive.google.com/open?id=0ByGXYBRKsz2lVm5SQlR0SUZacHM

Expected behavior:
- That Should not Fill in Street field Company field is already there in Partn

[2016-06-27 13:12] sbidoul commented on #11269
@qdp-odoo this one is till present in latest 9.0 enterprise. Can you check? This very annoying not being able to create a credit note. Thanks in advance.

[2016-06-27 13:13] sbidoul commented on #12561
@qdp-odoo thanks a lot for the fast reaction.

Can you add the analytic account in the key too, and put that in a method that we can override, similar to `inv_line_characteristic_hashcode()` that is used for invoice line grouping?

[2016-06-27 13:14] bst-odoo commented on #12590
Might be fixed with the new e-commerce refactoring but very touchy because of the migrations.

[2016-06-27 13:16] vijayant1234 commented on #12590
@bst-odoo
What about 8.0 and 9.0 it should also fix in older versions ?

[2016-06-27 13:36] wecole commented on #5077
I get this error KeyError: u'search.business.category' in odoo 9.0. but the model exists.what can be the issue?

[2016-06-27 14:05] Yajo opened #12594 "Signup link for portal fails on multidatabase installations"
Impacted versions: 8, 9.

Steps to reproduce:

0. Log in any runbot.
0. Go to your customers and pick one.
0. Manage portal access and grant portal access to him.
0. Go to settings > users, pick that user.
0. You see the login link? Right button > Open in new private window.

Current behavior:

[code]

Expected behavior: User goes to password reset page.

Additional information: If you go to the r

[2016-06-27 14:19] Yenthe666 commented on #12594
I've seen this issue in Odoo for ages, probably over 1.5 year.
@mart-e any input on this? I bet you'll say this is handled with `--db-filter`.

[2016-06-27 14:42] Yenthe666 commented on #12550
@odony could you give your opinion / feedback on this one please?

[2016-06-27 14:50] bst-odoo commented on #12590
We decided not to fix it because it is not a blocking bug and it could break all our customers e-commerces.

[2016-06-27 15:17] mart-e commented on #12594
@Yenthe666 you know me well! Indeed, you can reproduce this on runbot because you are on a multi db instance with no filter based on the domain.
So you will get this in dev mode but in production you are supposed to use [`db-filter`](https://www.odoo.com/documentation/9.0/reference/cmdline.html#cmdoption-odoo.py--db-filter)

[2016-06-27 15:17] #12594 closed

[2016-06-27 15:51] odony commented on #11619
Closing, this seems to be a duplicate/consequence of #2541, #12541 and many other similar issues.
There is work-in-progress by @JKE-be to improve this in Odoo 10, but it's not a trivial change.

[2016-06-27 15:51] #11619 closed

[2016-06-27 15:51] odony commented on #12590
Closing, this seems to be a duplicate/consequence of #2541, #12541 and many other similar issues.
There is work-in-progress by @JKE-be to improve this in Odoo 10, but it's not a trivial change.

[2016-06-27 15:51] #12590 closed

[2016-06-27 16:21] #9711 closed

[2016-06-27 21:25] aek commented on #12587
Still nothing, the issue remains at my end

[2016-06-28 02:05] dkrimmer84 commented on #12573
Hi,

Sorry for the late answer.
I checked all the events in list mode but no one had start_date after end_date. Nothing strange. And then I tried to delete all the events. Error still occured. And as said, other users have no problem.

I have Odoo running in a Docker Container. So I see the log with all the INFO stuff. But it's basicly what I already wrote:

[code]

Or do I understand you wrong?

[2016-06-28 04:49] n37r06u3 commented on #11018
Same for me also...

[2016-06-28 07:33] mart-e commented on #12583
Hello,

This is because you are not making the flow by the expected flow. If you wish to use sale orders to register attendee, you should create sale orders directly and not manually create an attendee that is linked to a sale order you just create.

Let me explain why you got two attendees. This is what happens:
1. hit create button on attendee and fill the contact and event info
=> record not cr

[2016-06-28 07:40] jeffery9 commented on #10410
@elicoidal  account type is used for financial report, and internal type use for application only. for example, payable  account can be used in supplier invoice

[2016-06-28 08:03] StefanRijnhart opened #12600 "[9.0] l10n_nz and l10n_au cannot be installed at the same time"
Impacted versions: 9.0

Steps to reproduce: install both modules. No need to install the COA on a company.

Current behavior:

[code]

Expected behavior: Installation succeeds.

cc @richard-willowit, @nim-odoo (as per https://github.com/odoo/odoo/pull/12244)

[2016-06-28 08:04] StefanRijnhart commented on #12600
This breaks tests over at https://github.com/oca/ocb because our Travis setup installs all localizations.

[2016-06-28 08:09] nim-odoo commented on #12600
@richard-willowit : Could you suggest a fix? Thanks!

[2016-06-28 08:48] PieterPaulussen commented on #12583
Then again it's strange that this flow does work correctly when a person registers through the website.
The current flow is very open and prone to errors then. Shouldn't this be more streamlined into a monkey proof system so attendees can be registered through the back end correctly? The amount of required fields practically demands that you use the workflow as suggested in the movie...

[2016-06-28 08:58] mart-e commented on #12583
@PieterPaulussen why is it strange? I explained what was wrong in the way you register the attendees. The point is that:
- if you only use event, adding attendees is very simple, only specify the contact
- if you only use event & sale, adding attendees is done via sale order
- if you only use event & website, adding attendees is done via the website
- if you only use event & sale & website, adding

[2016-06-28 09:02] Yenthe666 commented on #12583
@mart-e as stated by @PieterPaulussen it does work fine from the website, so it is strange (from a user/usability perspective) that it doesn't work the same from the back-end. I know it technically works different but that is no concern to the end user.
So, what if you want to create an event, add an attendee **and** want to create a sale order? I understand your statement about having to first sa

[2016-06-28 09:05] #12422 closed

[2016-06-28 09:05] mart-e commented on #12583
Would putting the sale order field on the attendee readonly make you feel better about this?
We are not going to change the way odoo works but we can improve the usability to make it clear that this flow is not supported.

[2016-06-28 09:16] Yenthe666 commented on #12583
@mart-e Making the sale order field a readonly untill you've saved the record? After saving the record you can then add the sale order so you can complete the flow (without the issue of two attendees).
It would avoid us from having this problem.

[2016-06-28 09:19] mart-e commented on #12583
No it's making it readonly or not. There is no `attrs` 'until it's saved' in Odoo (or just some hacky computed field maybe).
So this is why I said I don't like the idea of making it readonly. It's restricting an advanced flow, the usual usability vs features.

[2016-06-28 09:34] gdgellatly commented on #12600
Hmmm a couple of comments.

Having multiple localizations for a single company is not really a real
world use case is it? And if it is then surely it is the constraint, not
the localizations issue.

But anyway there is no such tax rate as zero (export) sale in NZ. There is
zero rated supplies, however it covers more than just exports, although not
a lot more. That is the question on your tax retur

[2016-06-28 10:50] Yenthe666 commented on #12583
Hmm I don't think that a full `readonly` is a good idea, especially not in an active version. It would confuse / bother too many people for this benefit.
Is there any rewrite planned for V10 of this module? I'd like to see this changed in the master.

[2016-06-28 11:37] Yenthe666 commented on #12589
@qdp-odoo this looks like one for you. :gem:

[2016-06-28 11:58] ramsodev commented on #12390
For me the only solution is downgrade pythonmodules and OperEpr7 to 106. Review this  https://forum.synology.com/enu/viewtopic.php?t=105036#p397451

[2016-06-28 12:04] bora89 commented on #924
Did you figure out how to solve it?

[2016-06-28 12:22] #12315 closed

[2016-06-28 14:01] PieterPaulussen opened #12609 "Glyphicons not available"
Impacted versions: v9.0 & v9.0e

Steps to reproduce:
1. Open a runbot.
2. Edit website page
3. Insert code: `<a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>`
4. Save page

Current behavior: The bootstrap icon is not displayed.

Expected behavior: The bootstrap icon should be displayed.

[2016-06-28 14:05] Yenthe666 commented on #12609
@JKE-be could you give feedback on this? I've tested this too and they don't render correctly (404).

[2016-06-28 14:13] PieterPaulussen commented on #12609
My bad 👎

[2016-06-28 14:49] asantos82 commented on #3156
Hi @harkx

I have created my PosBox image on virtualbox.
In http everything works OK.
With https the POX does not work.
If I access https://domain.com:8069/hw_proxy/status the status page is displayed OK, and the https certificate is also OK
I have apache on 8069 rederecting to the posbox running on 8869 (I have changed the file odoo/openerp/tools/config.py for the service to start on 8869 instead

[2016-06-28 16:19] bkgunderson commented on #5030
Also encountered this in Odoo v9 after uninstalling a custom module. Upgrading the `sale` app fixed the view for me.

[2016-06-28 23:35] aek commented on #12587
The issue continue, I cannot see the font icons. I tried everything but not sucess

[2016-06-29 00:23] aek commented on #12587
It's working finally, thanks

[2016-06-29 07:19] Yenthe666 commented on #12609
@PieterPaulussen you might actually be right.
When adding an icon to an HTML page in a custom module the following console output is thrown up:
![image](https://cloud.githubusercontent.com/assets/6352350/16443547/c5faf0ea-3dd9-11e6-9224-abd6731d3ffd.png)
When you look at `/website/static/src/less/` there is no folder `fonts` and neither is the `.ttf` file.

[2016-06-29 07:25] Yenthe666 commented on #12609
@Gorash this might be something for you too.

[2016-06-29 07:53] alexis-via commented on #4857
AFAIK, the bug is still present. The patch that I proposed in my PR is still applied on the odoo for my customers that are impacted by this issue. I didn't test recently without my patch to confirm that the bug is still there... but it's easy to test with the simple scenario that I posted above.

[2016-06-29 07:53] JKE-be commented on #12609
@Yenthe666
It because Odoo use Font Awesome icon and not GlyphIcon.
Use fa fa-star and it will works !

[2016-06-29 07:59] Yenthe666 commented on #12609
@JKE-be yeah I thought so, just wanted to make sure it was the case.
Alright too bad the Glyphicons aren't supported.

[2016-06-29 07:59] #12609 closed

[2016-06-29 11:04] JonathanNEMRY commented on #12494
Any news about this issue?

[2016-06-29 11:09] #12583 closed

[2016-06-29 13:00] tafaRU commented on #11314
@paolovalier, you need to thick **Activate the customer portal** on Settings >> General Settings menu.
This will imply the installation of the portal module. In this way the error shouldn't be raised again.
Please have a look at it.

[2016-06-29 13:30] bene1505 opened #12620 "not possible to allocate leaves by employee tags"
Impacted versions:9.0

What are the steps to reproduce your issue?
Go to leaves, Leaves to approve/Leaves
create a new Department leave

What is the current behavior that you observe?

I can't select the mode "By employee tag" because in the code, I should be in the draft stage;

[code]
but I'm directly into 'To approve' stage.

What would be your expected behavior in this case?

I should be able

[2016-06-29 13:30] Nick-OpusVL opened #12621 "Blocking warnings on a customer don't prevent automatic generation of pickings and invoices"
The warnings on sales order, picking, invoice etc. on the customer and supplier
only show if the sales order/delivery order/invoice is raised manually from the
relevant form. If a sales order is raised and then moved through to
picking the warning does not show to the picker.

Below is an example for sales orders raising pickings, but it also happens raising invoices from sale orders.

## Impacted

[2016-06-29 13:35] Nayan12 opened #12622 "how can i change "Batches" Field name?"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-06-29 13:53] jappie11 commented on #12390
@brauers  @JKE-be Just to let you know I had the same issue and resolved it as follows:

Steps to take:
1. **Download the previous version (0106) of the "Python Modules" package** from the Synology download repository ([](http://download.synology.com/download/spk/PythonModule/0106/)) as per your box' processor (login to your box using SSH and type "`uname -m`" on the CLI to find the processor of y

[2016-06-29 13:57] Yenthe666 commented on #12622
Hi @Nayan12,

Github issues are used for tracking issues within the official code, not for asking questions.
Please post a new topic on help.odoo.com, where I'm sure somebody can help you!

Regards,
Yenthe

[2016-06-29 13:57] #12622 closed

[2016-06-29 14:20] brauers commented on #12390
@jappie11
can u share the Ticket ID, I have a direct contact and might be able to escalate the issue
thanks for the WA I will try it out :)

[2016-06-29 14:24] jappie11 commented on #12390
@brauers Synology Support Ticket: #851229

[2016-06-29 15:13] BzJB opened #12626 "[9.0] Website cart disappearing on homepage"
Impacted versions: 9.0

Steps to reproduce:
1. Create a demo odoo 9 enterprise database with demonstration data.
2. Install website_sale.
3. Go to the website as the public user.
4. Add an item to the cart.
5. Then go back to the homepage.

Current behavior:
When you go back to the homepage the cart isn't visible but when you go to the shop it is.

Expected behavior:
The cart should be visible thr

[2016-06-29 15:22] Yajo opened #12627 "Allow to use SVG images like bitmap ones"
Impacted versions: 8, 9.

Steps to reproduce:
1. Go to any partner, company, product.
2. Edit.
3. Press pencil on image.
4. Choose an SVG image from your drive.

Current behavior:
![captura de pantalla de 2016-06-29 17-19-57](https://cloud.githubusercontent.com/assets/973709/16458028/f41e4b0e-3e1d-11e6-9d3e-4013f6b5550e.png)

Expected behavior:
SVG attached like normal image.

Especially useful fo

[2016-06-29 16:09] Nick-OpusVL opened #12629 "[sale_stock] Quantities in "Not enough stock" warning don't honour rounding precision on Unit of Measure"
We have a customer whose base unit for selling stuff is in thousands.  However stock can be as low as 0.001 thousands, but that last decimal place isn't displayed in the stock warning.

As you'll see from the example of "actual behaviour" below this is confusing.

Impacted versions:
* 8.0

Steps to reproduce:

* Install product and sale
* Create a unit of measure with:
  * Name: Thousand(s)
  * Pr

[2016-06-29 18:23] soleluna commented on #12390
My OpenERP7 on DS716+ showed the same error on printing.
This was the second time, SYNOLOGY broke OpenERP7 by Update.
I am very scared, using Update furthermore.
It is a pitty, that there is no UNDO / RESTORE via DSM User Interface.
SYNOLOGY should think on BACKUP and RESTORE the station installation.
With the new filesystem BTRFS, it should be easy.

The described 7 steps worked for me - I can pr

[2016-06-29 20:07] paolovalier commented on #11314
@tafaRU you all right
but we wouldn't like to use the portal, I mean we don't need it and don't want the customer to be redirected there when he signup.
when the customer register a new user during the checkout process he gets redirected to the checkout page (as a logged user) and that's fine, but when he registers from domain.com/web/signup he gets redirected to the portal and that's our problem,

[2016-06-29 21:10] JKE-be commented on #12626
Cannot reproduce...
Can you confirm that you have the bug on runbot ?  http://runbot.odoo.com/runbot/7/9.0 ?

[2016-06-29 23:16] aek commented on #12587
And now it's not working again. Sorry for posting in a closed issue but I can't reopen it and I don't wanna create another one for the same. Maybe this is helpful to alert about something that it's missing or need a fix in the CD workflow of Odoo or something

[2016-06-30 02:55] royaladmin commented on #12485
Makes sense to me.  As a final note in case others return here, I had to change my patch so it would function with both kinds of printers, standard ones or the one I found with the storage drive:
    try:
        cfg = self.get_active_configuration(self.device)
        for intf in cfg:
            if self.device.is_kernel_driver_active(intf.bInterfaceNumber):
                self.device.detach_ker

[2016-06-30 05:48] lmignon commented on #12609
@PieterPaulussen For one of my modules I've fixed the same issue by adding in `my_module/static/src/css` a new file named `bootstrap_font_fix.css` with the following content.
[code]

This new file is loaded as usual for custom css
[code]

[2016-06-30 06:12] lmignon commented on #12609
@JKE-be I agree Odoo don't use Glyphicon but odoo use Bootstrap and these styles are available in Odoo even if theses are not used by Odoo. It would be nice to include the missing fonts in Odoo's css.

[2016-06-30 07:17] alexis-via opened #12631 "7.0 sale_mrp using a field defined in project_mrp, but it doesn't depend on it !"
Impacted versions: 7.0

On an up-to-date Odoo v7, in the sale_mrp module, the code writes on the sale_line_id field of procurement.order :
https://github.com/odoo/odoo/blob/7.0/addons/sale_mrp/sale_mrp.py#L82

But the sale_line_id field of procurement.order is defined in the module project_mrp, cf https://github.com/odoo/odoo/blob/7.0/addons/project_mrp/project_procurement.py#L30

and the sale_mrp

[2016-06-30 07:31] JKE-be commented on #12609
@lmignon you have right..., we should also remove the glyphicons css from bootstrap and not only the font.

Bootstrap is like jQuery...
They offers a lot of feature, and the 'users/developers' take what is needed for their project.
So when you download bootstrap, you have a 'Customize' where you can chose if you want each component or not.

Odoo decides to don't support Glyphicon but add the simil

[2016-06-30 08:14] elicoidal commented on #10761
also impacted

[2016-06-30 08:16] odony commented on #12587
@aek we haven't changed anything on our side since my last comment, you are perhaps experiencing glitches in CloudFlare's cache servers, or problems in your browser's handling of CORS.
In order to verify this, please look at the headers you receive when your browser loads the fonts, as shown in this picture. It is worth trying in different browsers/computers/internet providers if you have access t

[2016-06-30 08:16] BzJB commented on #12626
I was able to to reproduce on run bot.
I went to the website, logged out.
Then went to the shop, selected an item.
Clicked Add to Cart, then Proceed to Checkout.
Then when I click Home from the checkout the cart disappears from the menu.

[2016-06-30 08:21] lukebranch commented on #12626
@BzJB ,

I've just tried this on the runbot's and i'm not able to reproduce the error either.

Would you mind giving more information about your environment (ie. what browser and version you're using, what OS, etc.), and perhaps post a link to an animated screengrab using something like licecap:

http://www.cockos.com/licecap/

It is often useful to submit these reports with an animated screengrab

[2016-06-30 08:31] collex100 commented on #9774
Guys, help me in this matter. These modules do not work properly.
https://github.com/treytux/odoo-website/tree/master/website_blog_url_friendly
https://github.com/treytux/odoo-website/tree/master/website_sale_url_friendly
https://github.com/treytux/odoo-website/tree/master/website_url_friendly

In these modules after installation, I can not change the field:
_Add keyword
Title
Description_

Works

[2016-06-30 08:36] pedrobaeza commented on #9774
Try https://github.com/OCA/website/tree/8.0/website_seo_redirection

[2016-06-30 09:19] BzJB commented on #12626
I've recreated the issue but this time instead of not displaying the cart it displays the quantity of the previous order. I did this by creating and order then clearing the cart and creating a new order.

![cart](https://cloud.githubusercontent.com/assets/20208782/16483350/eee134c4-3eab-11e6-8465-fe47ceba6fa4.gif)

[2016-06-30 09:39] JKE-be commented on #12626
Are you sure that you don't have 2 tab open on the same chrome session ?

[2016-06-30 10:18] odoosin commented on #11177
Here I see we have to give access to accounting module to Pos users in order to open session. I think Pos and Accounting user accessibility should be separated from each other.

A Pos user can see records created by all other users. It looks like POS wasn't designed by considering multiple shops.

[2016-06-30 10:27] collex100 commented on #9774
Thank you! Pages become seo. But on the page references are old. So the search engine bot can not find SEO page. He sees the old links. This solution, but by half. If there is some experience, I will be happy if you share! Thank you!

[2016-06-30 10:39] Yajo commented on #9774
This is not the place for those bugs, please submit them on their respective repositories.

[2016-06-30 11:34] rafaelbn commented on #9774
Solved.

[2016-06-30 11:39] collex100 commented on #9774
I'm sorry but that solved?
All three modules have a problem, tell me where you can discuss it? After all, someone use these solutions. Tell me how you decide your issue, please.

[2016-06-30 11:44] pedrobaeza commented on #9774
You have to put the issues in the corresponding repo: https://github.com/treytux/odoo-website/issues/new

[2016-06-30 11:46] intero-chz opened #12640 "[9.0] Access problem when creating action.base.rule"
Impacted versions: 9.0 (not tested on other versions)

**Steps to reproduce:**

1. Login as Admin and create a base.action.rule for sale.order
    On tab "Conditions" choose "On Update", for Filter create a new one with default values
2. Login as Demo and try to create a sale.order

**Current behavior:**

Access Error on ir.filters, read

**Expected behavior:**

No Access Error and creation of sal

[2016-06-30 11:52] rafaelbn commented on #9774
This issue is for Odoo. In the OCA module we did is solved this issue.

Furthermore:

The main debate about this is: https://github.com/odoo/odoo/issues/12527

[2016-06-30 11:53] rafaelbn commented on #9774
Ok, reopen as this is a Wishlist referenced.

[2016-06-30 11:54] rafaelbn commented on #12529
:+1:

[2016-06-30 11:54] collex100 commented on #9774
A lot thanks!

[2016-06-30 11:56] rafaelbn commented on #12527
Hi @fczaja could you add in the goal Multi-Website support? Check https://github.com/odoo/odoo/issues/9745#issuecomment-205395765

[2016-06-30 14:17] #8064 closed

[2016-06-30 14:22] mvercruysse opened #12644 "[8.0] Delivery method - Invoices"
Impacted versions:
8.0

Steps to reproduce:
1. Go to a runbot instance
2. Activate the following options
** Settings > Warehouse > Products > Manage different units of measure for products
** Settings > Accounting > Accounting & Finance > Analytic accouting
3. Desactivate the following option
** Settings > Accounting > Analytic accouting > Sale > Use multiple analytic accounts on sales
4. Create a

[2016-06-30 14:42] mvercruysse commented on #12644
OPW 682284

[2016-06-30 14:56] treviser opened #12646 "[9.0CE]Forum Text Editor: default preset for paragraph layout: centered instead of left"
Impacted versions: 9.0 CE, nightly build 2016-06-29

Steps to reproduce:

Enter a new question or an answer in the editor.

Current behavior:

The default paragraph layout is centered. This makes no sense and is annoying.

Expected behavior:

The default paragraph layout should be left adjusted.

Video/Screenshot link (optional):

[2016-06-30 15:28] rayer91 opened #12648 "[8.0] Current Currency Rate"
Impacted versions: 8.0

Steps to reproduce:
Add new Currency Rate  with date and exact time.

Current behavior:
The current currency rate is not a current currency rate. Because in the SQL query the parameter is the current date and not a Datetime and show the yesterday's currency rate and not today's currency rate .

Expected behavior:
Show today currency rate.

Fixing:

Replace or override in th

[2016-06-30 15:35] paolovalier commented on #11314
we are gonna install the oca module website_portal_sale
this way we have the informations we usually get in portal (like orders, payments and so on, except the discussion feature) presented in the website at the page domain.com/my/home

[2016-06-30 15:35] #11314 closed

[2016-06-30 15:37] spadae22 commented on #12648
I can confirm this issue.

[2016-06-30 18:05] aek commented on #12587
I done those steps that you suggested and the interesting part is that I can't see any access-control-allow-origin response header but also there is some requests against odoocdn.com that returns ok, but others like in the image have errors
![screenshot from 2016-06-30 10 54 50](https://cloud.githubusercontent.com/assets/404966/16498740/f77b9902-3eb1-11e6-867e-9a1a1c4ac0cc.png)
![screenshot from 2

[2016-06-30 18:27] odony commented on #12587
@aek Thanks for the screenshots. The very reason you can't load the fonts is because of the missing "access-control-allow-origin" response header. So now I have more questions for you ;-)

1. You didn't show/say if the "Origin" header is indeed passed in the "Request headers" (otherwise the Response cannot have the "access-control-allow-origin" header). Is that what you meant with "no coors header

[2016-06-30 19:53] carrasquel2016 opened #12649 "Problemas con Zxpath> EN ODOO V8, USADO EN WINDOW 7."
Impacted versions: ODOO V8

Steps to reproduce:
Mi código acá no quiere generar la vista de mi reportes report_pickorder.xml

<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    <plantilla id="external_layout_header" inherit_id="report.external_layout_header">
            <xpath expr="//div[@class='header']" position="replace">
            </xpath>
        </template>
    </data>
</ope

[2016-06-30 22:56] suniagajose opened #12650 "[8.0][9.0] Kernel modules not loaded when run posbox create image script"
Impacted versions: [8.0][9.0]

Steps to reproduce:
- Dowload posbox tools from:
https://github.com/odoo/odoo/tree/8.0/addons/point_of_sale/tools/posbox
- Open posbox directory in terminal
- Run script: `sudo ./posbox_create_image.sh`
- When finish script, [write the image](http://elinux.org/RPi_Easy_SD_Card_Setup) **posbox.img** to the SD card
- Connect a Ethernet cable to the Raspberry­.
- Ensure

[2016-06-30 23:00] richard-willowit commented on #12600
Ooh, I will definitely look in to it one way or another.  I am on holidays
at the moment and it is hard to look at / sort out on a smart phone :S

I will be back in the office on the 11th July.

On 28 June 2016 at 18:34, Graeme Gellatly <notifications@github.com> wrote:

--
Richard deMeester
www.willowit.com.au
ph: +61 3 8506 0393
mob: +61 403 76 76 76
*2013, 2015 Odoo Best Partner Asia/Pacific*

[2016-07-01 00:23] a0c commented on #6037
Still getting the issue. Reopen it.

[2016-07-01 00:40] gbisheimer commented on #10377
I had the same issue with a new installation using Docker. I found out that the problem was I haven't created the odoo user in the server. After creating the user and assigning it admin privileges the problem went away.

Hope it helps.

[2016-07-01 03:55] s2d4theworld commented on #12568
This also should impact v9.0

[2016-07-01 09:06] colmeirin opened #12654 "[8.0] decimal_precison not configurable by company as module describes"
Impacted versions: 8.0

Steps to reproduce: Install decmial_precision module. Go to Settings / Technical  / Database Structure / Decimal Accuracy and change any value.

Current behavior: It applies the change for all the companies

Expected behavior: Be able to configure it by company or edit the module description to remove the text "The decimal precision is configured per company"

Video/Screens

[2016-07-01 09:31] a0c commented on #6141
I solved a similar problem by eliminating the cycle in the aggregating field (`other_option_ids` in your case).

I didn't use the `related=...` field, but a computed one (`compute=...`) and just explicitly skipped `self` from the aggregated values.

As for your case, does it solve the issue if you add this domain to `other_option_ids` field declaration?
[code]
and add this to the form view:
[code]

[2016-07-01 09:46] a0c commented on #6037
Solved a similar problem this way:
[code]

[2016-07-01 09:52] tchigy opened #12658 "Propagate no_create from relational widget in 'search more' popup"
Impacted versions:
 Odoo 9.0

Steps to reproduce:
i created a  many2one field in my form view with    widget="many2many_tags" and  options  like this:

   `<field name="groups_id"
   widget="many2many_tags"
   create="0"
   options="{'no_create_edit': True,'no_quick_create':True,'no_create':True,'no_open':True}"/>`

Current behavior:
 because res.goups have more than 7 records a Search More ... ap

[2016-07-01 11:27] tchigy commented on #12658
I think i fixed the problem can any one tell me if my answer is currect i'm not good in javascript
`
odoo.define('web.form_common', function (require) {
"use strict";

var core = require('web.core');
var data = require('web.data');
var Dialog = require('web.Dialog');
var ListView = require('web.ListView');
var pyeval = require('web.pyeval');
var SearchView = require('web.SearchView');
var session

[2016-07-01 11:45] ke-real opened #12660 "[9.0][IMP] optimize workflow execution"
Impacted versions:
9.0 (and versions before this too probably)

Steps to reproduce:
* craete any model instance

Current behavior:
1. On create: A new workflow query is executed every time even if that model has no workflows. Cache is being ignored due to incorrect null check (null/empty check is used insted).
2. On write: A query for existing workflow instances is executed on each write even if t

[2016-07-01 12:21] aristobulo-eezee commented on #12429
You should decide if multi-website is supported or not, saying that is not supported and will not be fixed and then pushing fixes to 9.0e, is the complete opposite.

[2016-07-01 12:43] aristobulo-eezee commented on #12437
Just FYI, the official Odoo response for bugs on Multi-domain-website related issues is: won't fix, unsupported
Read it by yourself: https://github.com/odoo/odoo/issues/12429#issuecomment-226418351

[2016-07-01 12:45] aristobulo-eezee commented on #11638
@avanzella take a look on this issue https://github.com/odoo/odoo/issues/12429

[2016-07-01 14:01] JonathanNEMRY commented on #12494
Any news about this issue?

[2016-07-01 14:51] Yenthe666 commented on #12494
@mart-e and @JKE-be can you guys give some feedback to @JonathanNEMRY please?

[2016-07-01 18:15] blutec-ma opened #12665 "ODOO-8: Cannot write FLEET_ID field to invoice (from MRP REPAIR)?"
Ok so the update now is that i dont receive any more errors (500-error and null value)

But the invoice doesn't get updated with the vehicle[fleet_id] from MRP repair when the button is clicked

=

The code i've added so far - MRP_REPAIR.PY

    def action_invoice_create(self, cr, uid, ids, group=False, context=None):

        print "action_invoice_create---------------",ids, group, context

		con

[2016-07-01 20:03] Yenthe666 commented on #12665
Hi @blutec-ma,

The Github issues section is used to manage issues directly coming from the official code, this is not the Place to ask custom development questions.
Please post this on the official Oddo help forum (help.odoo.com), I'm sure somebody can help you there!
Closing this as its not a bug report.

Regards,
Yenthe

[2016-07-01 20:03] #12665 closed

[2016-07-01 20:59] ToBeReplaced commented on #11946
While I agree it would be nice for the user to configure the scheme, you might consider setting the `ldap_tls` option if that is appropriate in your environment. ldaps is deprecated in favor of ldap + start tls.

[2016-07-02 02:52] lukebranch commented on #11638
@Yenthe666 ,

Would you mind taking a look at this?

I am getting the same paypal issue on a single domain, single database setup.

I've just received an email back from PayPal regarding the issue, and here's their reply:

[code]

[2016-07-02 03:12] lukebranch commented on #12627
+1

This would be a very useful feature.

[2016-07-02 03:18] lukebranch commented on #11638
@Yenthe666 ,

Would you mind taking a look at this?

I am getting the same paypal issue on a single domain, single database setup.

I've just received an email back from PayPal regarding the issue, and here's their reply:

[code]

The return URL results in a 'Method Not Allowed' error page as shown in the screenshot below:

<img src="https://cloud.githubusercontent.com/assets/2337666/16537868/8ef6

[2016-07-02 16:54] yogurtnaturalny opened #12666 "No https in sitemap after 24 hours"
Impacted versions:
odoo community 9 02/06/2016 ( EU date stamp so 2nd July )
Steps to reproduce:
Nginx with TLS 1.2 as a proxy to separate server on port with 8069 where I set up proxy_set_header X-Forwarded-Proto https, also I enable web.base.url with https and remove old site map. Nginx got "if" config to redirect to https and that slow down whole odoo and performance.

Current behavior:
site ma

[2016-07-02 19:31] JKE-be commented on #12666
Hello,

Sitemap don't use web.base.url but `request.httprequest.url_root`.

I have just checked, and the redirection from http to https is done with a 301, so it should work.
Can you check the content of the attachment in db and be sure that it is not the cache of CF which are not updated... ?

[2016-07-02 19:58] yogurtnaturalny commented on #12666
Hi, thank you for quick response. `web.base.url ` I found after some googleing. I would like to know where i can  find `request.httprequest.url_root` in ui or do I have to get look into code? This looks a little like a Django framework so this might be easier to find for me.

[2016-07-02 20:15] JKE-be commented on #12666
**request.httprequest.url_root** is a werkzeug variable... not computed/configured by Odoo...
(http://werkzeug.pocoo.org/docs/0.11/wrappers/)
https://www.posesja-on.com/ in your case...
Have you checked your sitemap content in the attachment directly ?

[2016-07-02 20:32] JKE-be commented on #12666
If you add a new page, and delete ir.attachment with name sitemap*.xml...

Is the new page in your sitemap ?

[2016-07-02 20:34] yogurtnaturalny commented on #12666
Hello

Thx, mate. Just give me a few sec, I'm just new with odoo and werkzeug so that is little bit harder for me.

[2016-07-02 20:41] JKE-be commented on #12658
The 'no create' is for the ui in widget only... It is not a security way to forbid a user to create a group !

It should be used only for usability and not for security !

[2016-07-02 20:41] #12658 closed

[2016-07-02 20:45] JKE-be commented on #12649
Use help.odoo.com for your question ... and in English
It is a tracker issue... And your error seems to be a customization ...

[2016-07-02 20:45] #12649 closed

[2016-07-02 20:49] yogurtnaturalny commented on #12666
Hi

Yes, I can confirm that I remove from database line about site map, I removed flush memory, restart server and still nothing... still http, and test page show up in in sitemap... :-( :-1:

[2016-07-02 20:57] JKE-be commented on #12666
Semmes that your alternate languag is wrong also... (use http and not https)

What is the output of : <t t-esc='request.httprequest.url_root'/> ?

[2016-07-02 20:59] JKE-be commented on #12666
Have you launched your server with **--proxy_mode** ?

[2016-07-02 21:05] yogurtnaturalny commented on #12666
Hey

I set up proxy mode in odoo .conf on true ( before that I had internal IP in site map), is something what I missing here ?

Website is build in Polish ( and I do not set up other lang on frontend ) and for my employees back end is in polish too, but for me as admin I keep back end in English.

[2016-07-02 21:30] yogurtnaturalny commented on #12666
Hi

Nginx, is setup to support a little bit more then this tutorial

location / {
	#root /var/www;
	#index index.php index.html;

        proxy_pass http://my_lxc_internal_ip:8069;
        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarde

[2016-07-02 21:38] yogurtnaturalny commented on #12666
I thing this might be related to this issue sort of... https://github.com/odoo/odoo/pull/10363

[2016-07-03 14:43] Yenthe666 commented on #11638
@mart-e looks like another PayPal issue. Can you assign somebody on this please? Not sure who is responsible for PayPal.

[2016-07-03 19:56] MatthiasVets opened #12667 "XmlRcp error: dictionary key must be string"
Hi,

when fetching lunch.order via XmlRcp I get this error:

File "C:\Program Files (x86)\Odoo 9.0-20160629\server\.\openerp\service\wsgi_server.py", line 57, in xmlrpc_return
  File "xmlrpclib.pyc", line 1091, in dumps
  File "xmlrpclib.pyc", line 638, in dumps
  File "xmlrpclib.pyc", line 660, in __dump
  File "xmlrpclib.pyc", line 741, in dump_struct
  File "xmlrpclib.pyc", line 660, in __dump

[2016-07-04 00:40] jmankiewicz commented on #7028
+1 from me too.

[2016-07-04 06:36] aab-odoo commented on #11863
Closed by 1ec2e4b22dee726f0e255bb8a1c84ea2ce6a4f4b

[2016-07-04 06:36] #11863 closed

[2016-07-04 08:15] BzJB commented on #12626
Yes, this was the only session open.

[2016-07-04 11:17] Yajo commented on #12594
But then the `&db=155848-9-0-322962-all` part of the URL what's for?

[2016-07-04 11:28] mart-e commented on #12594
Probably could be dropped. The point is that in v8 we stopped trying to guess the db (there were a lot of issues/hack with that) and made the db-filter mandatory for multidb environment.
See #2039 for the whole debate, 2 years ago.

[2016-07-04 11:38] lukebranch commented on #12310
For anyone following this thread, it looks like there is a PR here:

https://github.com/odoo/odoo/pull/12668

Hopefully this lands in 10.0, it would be a very useful feature to have.

[2016-07-04 11:41] Yenthe666 commented on #12310
@lukebranch I saw it popping up this morning too, looks neat!

[2016-07-04 11:49] Yajo commented on #12594
Ah nice, that's what was misleading me.

[2016-07-04 12:15] atchuthan commented on #10799
@Yajo: when I tried to test product_multi_image with new api for fields, it seemed to work fine.  So, I had a doubt whether this issue does not affect version 9.0 or not?

[2016-07-04 12:24] dreispt commented on #12640
In the `ir.filter`, make sure you leave the `User` field blank.

[2016-07-04 12:31] engelant opened #12674 "My Pull request does not get accepted"
I signed the CLA
https://github.com/odoo/odoo/pull/12551

My pull request still does not get accepted
https://github.com/odoo/odoo/pull/12598

Thanks

[2016-07-04 12:36] dreispt commented on #12674
The best approach is to comment this on the PR you made.
A comment makes the PR bubble up in the notification list.

[2016-07-04 12:36] #12674 closed

[2016-07-04 13:09] intero-chz commented on #12640
I'm aware of that, now, as i wrote under "Extra Info". But i don't think that others will be aware of this, too. So creating an `ir.filter` within an `action.base.rule` should set the `User` blank as default.

[2016-07-04 13:25] carrasquel2016 commented on #12649
Excuse me I did not realize my practice not translated to English what happens is I'm a little desperate first time working with this tool and my job depends on the result you get with it:

My question is this: I require to get a PDF PickupOrder which will be a report that will contain all the data load travez .xml views which store information in databases Odoo therefore this report is diseñano i

[2016-07-04 14:57] mart-e commented on #11638
The multi-domain is not something supported as it is known to get this kind of issues. It's something we have to work on but now a lot of modules uses indeed the web.base.url.

@lukebranch your issues looks different so please open another issue with the given steps to reproduce. And the request `/payment/paypal/dpn/` will only work in POST request, so it's paypal that must make this request in PO

[2016-07-04 17:37] joolsr commented on #12666
Hi. I had some issues same as #10363. I had my nginx config same as yours ie proxy_set_header    X-Forwarded-Proto https; but mart-e actually has his as proxy_set_header    X-Forwarded-Proto $scheme

In the end to get it to work (and my sitemap does show https links), i used mart-e's 3 proxy-set headers, and no others and ensured that the web.base.url did have https://webaddress as before (for rea

[2016-07-04 18:40] yogurtnaturalny commented on #12666
Hi

Thx, mate. I will try with $scheme and we will see. Also Can you post how do you redirect to https please on nginx ?

[2016-07-04 21:32] aftabnaveed commented on #8645
I don't think you can reset a purchase order to Draft state.

[2016-07-04 23:55] yogurtnaturalny commented on #12666
Hello

Thank you for all your help, this is fantastic that we can share our knowledge in community. I notice that my sitemap is for some rezon odd. Till now is not https also test page what I have delete more then 12 hours ago is till there, so I would like to say is very odd. Or my system is caching some were files, or is a bug, or I cant turn proxy mod in right way. When I turn on odoo in conf f

[2016-07-05 01:00] lukebranch commented on #11638
@mart-e ,

Thanks. In that case once i've got clear steps to reproduce i'll open a new issue.

[2016-07-05 01:26] lukebranch commented on #12649
@carrasquel2016 ,

Github issues are not the place for getting help, they are for reporting bugs and issues with the core platform. I'd highly recommend asking for advice in the community mailing list here:

https://www.odoo.com/groups

specifically the 'Community' mailing list, and also try the help forums as suggested above (help.odoo.com).

I'd suggest closing this issue and trying in the maili

[2016-07-05 07:18] JonathanNEMRY commented on #12494
Is there something done about this one? sadly I have no feedback at all

[2016-07-05 07:20] Yenthe666 commented on #12494
@JonathanNEMRY usually when nobody replied on and nobody is being assigned there is nothing done with the issue, so I'm afraid not.. I can't do much more either, sorry.

[2016-07-05 07:31] JKE-be commented on #12494
If you have an OPW that is open, you will have an answer from the Support Team... don't worry about it.

[2016-07-05 08:01] qdp-odoo commented on #11269
Sorry, but I'm not able to reproduce... It seems that either I'm missing a step in the use case or you are being confused by the fact that the refunds now, by default, share the same numbering as the invoices within the same journal.

[2016-07-05 08:01] #11269 closed

[2016-07-05 08:23] qdp-odoo commented on #12561
@sbidoul here you are fb6a05d

[2016-07-05 08:32] mart-e commented on #12494
Hello,

The issue is not with the propagation of the active_id (which is correct I think, it represent the record you were coming from, the hr.job).
The problem was that it was not taken care of during the composer, where we already did something for active_id**s** but not active_id.
Done at 64b0e67a3869df3ffd112c2bcbc40d69b3f03c35

Thanks for the detailed report and analysis