[2017-11-27 13:32] #2236 closed

[2017-11-27 13:32] Yenthe666 commented on #2171
Hi @echeverrifm,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-11-27 13:32] #2171 closed

[2017-11-27 13:33] Yenthe666 commented on #2147
@jco-odoo could you give an update on this one? Can't we close this one by now?

[2017-11-27 13:34] #2126 closed

[2017-11-27 13:35] Yenthe666 commented on #2094
Hi @litnimax ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-11-27 13:35] #2094 closed

[2017-11-27 13:35] Yenthe666 commented on #2097
Hi @maxcmoi89,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-11-27 13:35] #2097 closed

[2017-11-27 13:36] Yenthe666 commented on #2182
Hi @user,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
As this cannot be reproduced in upper versions (it changed) this is no longer relevant.

Regards,
Yenthe

[2017-11-27 13:36] #2182 closed

[2017-11-27 13:36] Yenthe666 commented on #2160
Hi @tarsoman,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-11-27 13:36] #2160 closed

[2017-11-27 13:36] Yenthe666 commented on #2077
Hi @blaggacao,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-11-27 13:36] #2077 closed

[2017-11-27 13:37] Yenthe666 commented on #3252
Hi @nimeshcontractor ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-11-27 13:37] #3252 closed

[2017-11-27 13:37] Yenthe666 commented on #3241
Hi @pja-odoo ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cr

[2017-11-27 13:37] #3241 closed

[2017-11-27 13:38] Yenthe666 commented on #3225
Hi @bikalexander,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-11-27 13:38] #3225 closed

[2017-11-27 13:56] inspireaman opened #21262 "Odoo 10 in Ubuntu 16.04: blank page on localhost:8069"
Impacted versions:odoo 10 on ubuntu 16

We installed odoo 10 on ubuntu 16.04.

when we login  to demo db as admin from local server,after login it's showing only odoo logo..nothing else.
then, we are try to login from remote system, after login, odoo page was loading ...........but, nothing comes to view.

we checked this post also,
https://github.com/odoo/odoo/issues/14581#issuecomment-329473903

[2017-11-27 14:23] adr-odoo commented on #21173
Hello,

Merged: https://github.com/odoo/odoo/commit/d2e1a1deb3c5caaaa99a3e06122035349d440b35
Thank you for reporting.
Regards,

[2017-11-27 14:23] #21173 closed

[2017-11-27 14:31] flyingL123 commented on #21238
Apologies, I just realized I am going about this the wrong way. I should be creating the `stock.immediate.transfer` myself, then calling the `process` on it. This works, however, I now see that it has the same issue as mentioned in #19889. The `process` method does not have a return value. I will bring this up in the other issue.

[2017-11-27 14:31] #21238 closed

[2017-11-27 14:34] flyingL123 commented on #19889
Hi @Yenthe666, I just came across this same problem in another location. If I call the `process` method on a `stock.immediate.transfer` object, I get the same "Cannot marshal None` error. I can see in the source code that `process` does have a return value:

https://github.com/odoo/odoo/blob/saas-14/addons/stock/wizard/stock_immediate_transfer.py#L22

Can this be fixed?

[2017-11-27 14:43] mart-e commented on #12001
We have discussed this some time ago internally. It is still not something we can do easily and requires some changes on how we manage this view.
So kind reminder for @ged-odoo, but nothing is the pipe as far as I know.

[2017-11-27 14:46] flyingL123 opened #21264 "'TypeError: cannot marshal None unless allow_none is enabled' when 'process' called for a 'stock.immediate.transfer'"
I'm using `Odoo 10.saas~14+e (Enterprise Edition)`. When I call `process` on a `stock.immediate.transfer` via the XMLRPC api, I get the following error response:

[code]

This is the same issue that I reported previously for a `sale.order` in issue #19889. The error is a result of there being no return value for the `process` method:

https://github.com/odoo/odoo/blob/saas-14/addons/stock/wizard/s

[2017-11-27 14:47] Danultimate opened #21265 "odoo 8.0 crash after update crm module"
I have been using my odoo 8.0 on ubuntu 14.04 for a long time.

Today I tried to to update the crm module and I started to got this error

XmlHttpRequestError INTERNAL SERVER ERROR 500

On the terminal Im getting this:

    `ERROR formativa-restore openerp.addons.base.ir.ir_ui_view: El elemento '<search string="Leads Analysis">' no puede ser localizado en la vista padre

    Error de contexto:

[2017-11-27 14:53] nim-odoo commented on #21246
Maybe use AlmostEqual :)

[2017-11-27 14:55] mge-odoo commented on #19790
Hi @be-cloud-js

Thanks for reporting the issue. It has been fixed in 9.0

Regards,

Martin

[2017-11-27 14:55] #19790 closed

[2017-11-27 15:10] sswapnesh opened #21267 "[10.0/11.0] Can not edit Sequence (Traceback on Screen)"
Impacted versions: 10.0/11.0

Steps to reproduce: go to [http://281537-11-0-12c7d3.runbot8.odoo.com](http://281537-11-0-12c7d3.runbot8.odoo.com/web?debug=1?#id=12&view_type=form&model=ir.sequence&menu_id=38&action=22) --> Settings --> Sequences --> 'Account reconcile sequence'

Current behavior: Traceback during Saving record

![](https://image.prntscr.com/image/G4x_oq6xQr2HduZQiUPDdA.png)

Change

[2017-11-27 15:15] est-odoo opened #21268 "Automated next activities"
Dear Odoo Partners,

We're currently working on our Next Activities tool. The main idea of the specification is adding automated activities to help users in their daily work.

What we would like to implement:
- A feature to add a reminder for yourself (not related to an object, it's only a kind of to do list)
- Some automated activities that will remind you the next step on your documents: for exa

[2017-11-27 15:43] mge-odoo commented on #9297
@Yenthe666 I don't think that this is a bug in the Odoo framework.

This error message is the usual error message displayed when an Odoo JS module (with `odoo.define('...', function (require) { ... });`) can't be loaded (see `boot.js`). There may be several reasons, like an error in the module definition, a `require` for a module that doesn't exist, a circular dependency, etc. but it's usually a g

[2017-11-27 15:43] #9297 closed

[2017-11-27 16:22] Ark74 commented on #14621
Ohh, I guess I forgot about it. :smile:
I'll test again sometime in the future.

Thanks for closing this down.
Cheers! :beers:

[2017-11-27 16:27] mge-odoo commented on #10428
Hi @invitu ,

The issue you mentioned was a severe limitation of the previous list view implementation and this couldn't be fixed in a stable version w/o a complete rewriting.

The views have been completely rewritten from saas-16 (just before 11.0) and the behavior you describe now correctly works.

Regards,

Martin

[2017-11-27 16:27] #10428 closed

[2017-11-27 16:32] hirenraval77 commented on #21268
Hello,
in the accounting side need to add the separately realized and un realized  forex exchange gain loss as well as forex re valuation process.

also  there should be a functionality where in the multi currency we should able to get the partner ledger in both currency local as well foreign currency.

thanks,
Hiren

[2017-11-27 16:46] jam-odoo commented on #20912
@nim-odoo Thanks, for expediting this (cheers).

[2017-11-27 17:54] dreispt commented on #13058
🎯 For the record, work: has been started to port the 8.0 module to 9.0:
https://github.com/OCA/hr/pull/345

[2017-11-27 17:57] dreispt commented on #13136
Not perfect, but it is much improved in v11.

[2017-11-27 17:57] #13136 closed

[2017-11-27 18:21] KurtHaselwimmer opened #21274 "Website_forum - error if karma_flag is less than karma_edit_all"
Impacted versions: All

Steps to reproduce: Set karma_flag to 200 so that it is less than the default value of karma_edit_all of 300. Then create a user and set his karma to 201. Log in as that user and try flagging a post or an answer from another user

Current behavior: error 403 is produced

..Log...
File "/odoo/odoo-server/addons/website_forum/models/forum.py", line 628, in flag 'flag_user_id'

[2017-11-27 18:39] cuijinlin commented on #20713
@goutoudis thanks!

i get the same error"The email subject is empty" in chinese with v11..
and then i change to:
msg['Subject'] = encode_header_param(subject)
The email subject is work well now.

[2017-11-27 19:33] fmdl opened #21275 "[BUG] ir.model.field : manual create with inherit model doesn't set the good type"
Impacted versions:
Master, 11, 10 (maybe 9)

Steps to reproduce:
- go to Technical/Fields
- create a new field on `product.template`
- save

The system create automatically a field in `product.product` model, but the type is "Base" instead "Custom field".

![image](https://user-images.githubusercontent.com/16716992/33284825-a648c04c-d3b0-11e7-88dd-13e892ea9192.png)

[2017-11-27 19:36] stellaf commented on #8170
wget --post-data 'master_pwd=ADMIN_PASSWORD&name=DB_NAME&backup_format=zip' -O back_up_filename.zip http://localhost:8069/web/database/backup
works for backup.

What is the command for restore then?

[2017-11-27 19:55] stellaf commented on #8170
find out from other web, https://www.odoo.com/forum/help-1/question/restore-takes-at-least-4-arguments-4-given-error-in-restore-odoo-9-via-web-front-end-using-curl-cli-109204

syntaxc for restore database in commandline is
$ curl -F 'master_pwd=password' -F backup_file=@/home/user/test.zip -F 'copy=true' -F 'name=dbname' http://localhost:8069/web/database/restore

[2017-11-27 20:14] gdgellatly commented on #21255
@Elkasitu My suggestion would be to evaluate and follow these 2 projects.  Both would allow the reports to remain largely untouched as at their core they are htmltopdf converters.

Simpler, with better layout, could use some help and support from an interested editor - https://github.com/xhtml2pdf/xhtml2pdf
- It is pure python with early P3 support.
- Supports Django report generation.
- More prin

[2017-11-27 20:32] vcloud9ray commented on #13139
@max3903 - Hola/Bonjour - was this resolved?

[2017-11-27 20:45] max3903 commented on #13139
@vcloud9ray I don't remember. I can check on friday at the earliest.

[2017-11-27 20:48] Danultimate commented on #21265
Solved

[2017-11-27 20:48] #21265 closed

[2017-11-27 21:30] fmdl commented on #21268
Hi Eloïse

Next activities, is very great !

**Notifications**
Today, the main issue that there no notifications when you receive a new activity. A badge like with iPhone or the list of notification is way to use a lot the Next Activities.
I have made a module to see the next activities when you start odoo:
![image](https://user-images.githubusercontent.com/16716992/33287730-eedc3bfa-d3b9-11e7-9f4

[2017-11-28 00:08] yucer commented on #11647
Just to note. I did specify:

Because those were the one who I tested.

Do this 9.0 tag means that this problem is solved for 10.0+ ?

Or did you took what the issue description says ?

[2017-11-28 00:12] yucer commented on #11648
Do you see a relation with that issue ?

I did note that odoo already implemented the 1. option.

Cheers, Y

[2017-11-28 00:27] jlzhou commented on #20620
@daimengmeng good! thank everybody!

[2017-11-28 02:25] ealonzo7 commented on #15719
Same issue here, just Uninstall Discuss module and now all modules not working and i cannot install or re-install any module.
Im using Odoo 11 on Ubuntu server 14.4

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http

[2017-11-28 03:50] auyeung112002 commented on #21252
@Yenthe666 Confirm that https://github.com/auyeung112002/odoo/pull/2 will solve the problem

[2017-11-28 03:55] auyeung112002 commented on #17510
Created another PR https://github.com/auyeung112002/odoo/pull/3

[2017-11-28 04:06] auyeung112002 commented on #16219
Created another PR https://github.com/auyeung112002/odoo/pull/4

[2017-11-28 04:17] auyeung112002 commented on #21252
Correct PR https://github.com/odoo/odoo/pull/21282

[2017-11-28 04:38] gdgellatly commented on #21244
@sle-odoo @Yenthe666 Note this is not urgent or a priority for me, but it seems it is left over code in both the js side of webclient and python that was ultimately replaced by the ReportsController class.  Its a ton more effort to add a ReportController route converter override and create new js actionmanager code, but its done now.

[2017-11-28 05:47] omalbastin opened #21285 "Issue in many2many without widget specified when loading records from onchange and saving."
Impacted versions:10.0

Steps to reproduce:Add a many2many field in the view.(say Products). Don't specify the widget many2many_tags or similar widgets. Then from a onchange load records to this many2many(say when changing product template, load its products). Then click save. Boom!!Everything loaded from onchange disappears. Upon checking the data coming to the create method, I found that many2ma

[2017-11-28 07:23] tooone opened #21289 "internal server error after restart odoo server"
Hello all,

After I restart odoo server, the server is throw error:

2017-11-28 07:16:08,297 20345 INFO odoo_db openerp.modules.loading: loading 1 modules...
2017-11-28 07:16:08,762 20345 INFO odoo_db openerp.modules.loading: 1 modules loaded in 0.46s, 0 queries
2017-11-28 07:16:08,949 20345 INFO odoo_db openerp.modules.loading: loading 72 modules...
2017-11-28 07:16:11,275 20345 INFO odoo_db open

[2017-11-28 07:58] Elkasitu commented on #21289
Looks like you have a studio customization for the view `hr.employee.leave.form.inherit` which needs to anchor to an element named `x_graduated_from` which it can't find, therefore the view rendering crashes.

You should contact tech support if you need more help, this is not the place for technical support :)

[2017-11-28 07:58] #21289 closed

[2017-11-28 08:01] tooone commented on #21289
ok, I see, Thanks!

[2017-11-28 08:21] jalena opened #21291 "odoo有DTD文件么"
I am now using pycharm development Odoo，and I'm a programmer from JAVA。。

In JAVA development, I use the DTD as IDE code hints.

I now know that Odoo uses RNG files as xml validators.

Will Odoo have provided tips to pycharm tool it.

Thank you!

[2017-11-28 08:23] sle-odoo commented on #21244
@aab-odoo we talked about the js part yesterday, as you're cutting on leftover code there maybe this issue will be of interest to you

[2017-11-28 08:52] brychmilan commented on #20743
Hi, we had deploy your changes to both instances and now all works as a charm. Thank you very much for support and debugging!

[2017-11-28 08:52] #20743 closed

[2017-11-28 09:14] qdp-odoo commented on #14059
no.

Btw this is more a missing feature than a bug, actually. I'm closing the issue for the sake of clarity on our position

[2017-11-28 09:14] #14059 closed

[2017-11-28 09:39] tienhieuD commented on #14581
@inspireaman you should try this https://m.facebook.com/story.php?story_fbid=1927479740907670&id=1858655611123417

[2017-11-28 09:57] est-odoo commented on #21268
@hirenraval77 Thanks for your feedback, for general accounting Feedback you can check this issue, created by my colleague Laura Piraux (LAP): https://github.com/odoo/odoo/issues/18637 : )

@fmdl Thanks it's indeed a good Feedback, we'll take this into account during our reflection,
and good luck with your CSS! : )

[2017-11-28 10:28] elicoidal opened #21295 "[10.0EE]Cannot import company_type field in Enterprise"
Impacted versions:
10.0EE
Steps to reproduce:
1. Demo database
2. Go to Sales / Sales / Customer
3. List view / select Agrolait
4. More / Export, select field Company Type
5. In Excel change field value from Company to Individual
6. Import the file back in Odoo
Current behavior:
The field Company Type is still Company for Agrolait
Expected behavior:
The field Company Type should be Individual
(NB:

[2017-11-28 11:02] yostashiro commented on #21295
I guess this is related to https://github.com/odoo/odoo/issues/20623.

[2017-11-28 12:27] airitos commented on #16781
Hi again
Dears @janbec @janbec and @nim-odoo is there any knows solution to deal with this issue???
This this issue got solved in any nightly build in the meanwhile?

[2017-11-28 12:28] mge-odoo commented on #19239
Hi guys,

It appears that the revision https://github.com/odoo/odoo/commit/36b4d78a2678806b25aaa5650b64496f9da9d205 fixes this issue.

@gdgellatly thanks for reporting the bug.

@simahawk no chance to do it in v10 unfortunately, it requires way too much refactoring for a stable version. Refactoring that has been done in saas-16 (just before v11).

Regards,

Martin

[2017-11-28 12:28] #19239 closed

[2017-11-28 12:41] mge-odoo commented on #19241
Hi @gdgellatly

Thanks for reporting the issue.
However it seems to be fixed in master ; I can't reproduce your traceback.
Probably by one of the innumerable commits to fixes the new view refactoring.
Do not hesitate to re-open it if this issue still applies.

Regards,

Martin

[2017-11-28 12:41] #19241 closed

[2017-11-28 12:48] mge-odoo commented on #19240
Hi,

The issue seems to be fixed in master. Probably by the same revision (https://github.com/odoo/odoo/commit/36b4d78a2678806b25aaa5650b64496f9da9d205) I mentioned in your other issue.

Again, thanks for the time you have taken to report these issues.

Regards,

Martin

[2017-11-28 12:48] #19240 closed

[2017-11-28 13:38] mart-e commented on #21264
Hello,

You know that is a bad idea, right? This version is not officially supported.
As this one is easy, no problem to merge your PR but to be sure you are aware 😉

[2017-11-28 13:56] flyingL123 commented on #21264
Nope I had no clue this was a bad idea. I am an Odoo online user, not on-premise. When I created a new database through the Odoo UI, this was the version that I was given. I didn't have a choice.

Anyway, thanks for merging and for the information.

[2017-11-28 14:01] mart-e commented on #21264
Oh right, I understood you were on premise :)
We ensure migrations for our online customers, don't worry about it.
Thanks for the patch

[2017-11-28 14:02] JKE-be commented on #20743
Nice to read you again and see that it works.

Just for your information, some test fails with this path due to this line:
https://github.com/odoo-dev/odoo/commit/73b8709a0e67a7b7f97b0b3fe2d5c6cf3fae8742?w=1#diff-fbc4825cc5f9fbcd44a55994c7a8d953R85

request.website = request.website
should be
request.website = request.website.with_context(context)

Without it, website_id is not set in the context

[2017-11-28 14:12] #20956 closed

[2017-11-28 14:24] brychmilan commented on #20743
Thank you for this info and for try merge also. Thank you

[2017-11-28 17:19] benmbark opened #21307 "le play store"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-11-28 17:50] dataprojects commented on #21243
I followed the tutorial
https://www.odoo.com/documentation/11.0/howtos/themes.html#create-a-specific-page-layout

I tried both versions. None worked for me
Version 1:
`<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <template name="Services page" id="website.services" page="True">
      <h1>Our Services</h1>
        <ul class="services">
          <li>Cloud Hosting</li>
          <li>Support</

[2017-11-28 19:37] mikifus opened #21308 "Survey print not showing results on print"
Impacted versions: 11.0

Steps to reproduce:
Make a survey, fill it, go to the answer and click print.

Current behavior:
When trying to print a single survey (or only see its results), survey.js can't load the values of each field.

Expected behavior:
Fields display the previously answered data.

**I've actually fixed it** but I was lazy to do the whole thing for pull requests.
Here's the fix: ht

[2017-11-28 20:26] Yenthe666 commented on #19889
@KangOL couls you handle this one too?

[2017-11-28 20:28] Yenthe666 commented on #21307
Hi @benmbark,

Please do add more information to a bug report then just a title.
We really can't help you like this. Feel free to create a new and more detailed report.

Regards,
Yenthe

[2017-11-28 20:28] #21307 closed

[2017-11-28 20:49] flyingL123 commented on #19889
@Yenthe666 I think this is already being addressed. I submitted #21266  for it.

[2017-11-28 21:08] Yenthe666 commented on #19889
Indeed. This should all be handled. :)

[2017-11-28 22:23] ethanfurman commented on #531
Thank you, funkring!  I added your patch to my copy of v7.

[2017-11-28 22:28] matt454357 opened #21309 "[10.0e] TaxCloud error: The destination zip must be 5 numbers"
**Impacted versions:** 10.0e (TaxCloud module)

**Steps to reproduce:**
1. Create customer with 9 digit zip code (address must be invalid according to USPS)
1. Create and confirm a sales order with this customer

Here's a sample address, which is valid with most carriers, but not with the USPS:

**Current behavior:**
An error message is returned from the TaxCloud Lookup api:

**Expected behavior:*

[2017-11-29 00:19] elicoidal commented on #20623
@Yenthe666 has it been backported to v10.0?

[2017-11-29 01:02] lmstephenson commented on #11468
@NicolasWebDev Thank you for sharing. Adding the location in the .conf file fixed the issue for me as well. I used the upstream syntax for readability. E.g. at the top of `/etc/nginx/conf.d/mydomain.com.conf` I now have two upstream definitions.

[code]

Then lower in the .conf file, near the rest of the location blocks, I added:

[code]

[2017-11-29 01:05] aalonzolu commented on #15719
Same here i'm triying to re-install mail module but i'm getting the same error.
I'm executing this command `./odoo-bin -u mail -d databasename`
raceback (most recent call last):
  File "/odoo/odoo-server/odoo/service/server.py", line 924, in preload_registries
    registry = Registry.new(dbname, update_module=update_module)
  File "/odoo/odoo-server/odoo/modules/registry.py", line 84, in new
    o

[2017-11-29 01:45] elicoidal commented on #21295
Solved with newest code

[2017-11-29 01:45] #21295 closed

[2017-11-29 02:49] sswapnesh commented on #21308
Duplicate of #20836

[2017-11-29 03:46] yostashiro opened #21312 "[10.0e] subscription plan change does not take quantity from original subscription"
### Impacted versions:

10.0 Enterprise

### Steps to reproduce:

- Install website_contract
- Create two subscription templates **with different products**, both with quantity 1 with the same plan change tag.
- Create a subscription for a template for quantity 2.
- Change plans in frontend through My Account > Your Contracts > (select the subscription) > (click on "Change plan" button) > (select

[2017-11-29 03:52] yostashiro commented on #21312
If the behavior is as intended, I'd like to know the rationale behind it.  Not sure what business scenario the current design has in mind.

[2017-11-29 03:55] yostashiro commented on #21312
OPW-785532

[2017-11-29 06:49] rajeeshknambiar commented on #16580
Any update on this?

[2017-11-29 07:21] CakJuice opened #21316 "Cannot change attribute decoration-* on tree"
Impacted versions: 10

Steps to reproduce:
[code]

Current behavior: tree color still black (default) when state == 'confirm'

Expected behavior: tree color should be colored like "decoration-info color"

[2017-11-29 07:21] 423230557 commented on #20784
Setting When to reserve sold products: Manually or based on automatic scheduler    ,now  everything is good,

[2017-11-29 08:34] mikifus commented on #21308
Thanks @sswapnesh, I didn't find it before. Shall I move my fix proposal there?

[2017-11-29 09:36] khoapn102 opened #21319 "Odoo 10 Installation Menu not display Bug"
Impacted versions: 10.0

Steps to reproduce:
- Install Odoo 10 Nightly Builds
- Open Odoo on Chrome

Current behavior:
    - No menu display, JS display Error:  `Refused to execute script from: http://localhost:8069/../web.assests common.js because its MIME type ('text/plain') is not executable, and strict MIM type checking is enabled`

Expected behavior:
    - display and work normally

Video/Scr

[2017-11-29 09:46] #20365 closed

[2017-11-29 09:49] Karsten-77 opened #21321 "[11.0] cannot read property of undefined"
Impacted versions: 11.0

Steps to reproduce:
Something like https://www.odoo.com/de_DE/forum/hilfe-1/question/odoo-js-error-typeerror-cannot-read-property-include-of-undefined-121226
I create a custom module and include a js file which should overwrite payment.payment_form

[code]
in that file:
[code]

Current behavior:
Console log prints out: undefined

Expected behavior:
defined object of paymen

[2017-11-29 09:57] d-fence commented on #19219
Fixed here: https://github.com/odoo/odoo/commit/77ca51f0892ec62d357e099d5c2a91e580e35383

[2017-11-29 09:57] #19219 closed

[2017-11-29 09:59] d-fence commented on #20441
Fixed here: https://github.com/odoo/odoo/commit/77ca51f0892ec62d357e099d5c2a91e580e35383

[2017-11-29 09:59] #20441 closed

[2017-11-29 10:02] dek-odoo commented on #21129
Thank you @jorenvo .

This may be a different issue on `Customer Screen Searchbox`.
The replace function [here](https://github.com/odoo/odoo/blob/11.0/addons/point_of_sale/static/src/js/db.js#L304), will only replace the first occurence of space ` `  with `.+` (for regexp), so user may not be able to search for `Name Address Phone` together like `agro namur 588`. Probably `query.replace(' ','.+')`

[2017-11-29 10:06] gdgellatly commented on #21316
You definitely can - see

https://github.com/odoo/odoo/blob/e56d91be29bdd7baca0bf003db8bc50e8ea7b3c3/addons/stock/views/product_views.xml#L29

and

![image](https://user-images.githubusercontent.com/5093264/33369610-ee761888-d559-11e7-9eb2-84dcdd5387cd.png)

[2017-11-29 10:07] d-fence commented on #21319
@khoapn102  May I ask you if are using Windows as operating system ?
A fix was made for 11.0 here: https://github.com/odoo/odoo/commit/77ca51f0892ec62d357e099d5c2a91e580e35383

[2017-11-29 10:20] JKE-be commented on #20829
@nle-odoo can we close it ?

[2017-11-29 10:26] nle-odoo commented on #20829
I have 3 PR (9.0, 11.0 and master):

- 9.0 https://github.com/odoo/odoo/pull/21004
- 11.0 https://github.com/odoo/odoo/pull/21006
- master https://github.com/odoo/odoo/pull/21035

9.0 and 11.0 are hackish but should be near ready to merge.

master is what @ged-odoo prefer but I still have work to do.

I will probably merge 9.0 and 11.0 next week after doing last tests.

[2017-11-29 10:35] Karsten-77 commented on #21098
Yes I can reproduce on a brand new database.
1. starting my intance with:
/opt/Envs/Odoo11Python3/bin/python /opt/workspace/ide/pycharm-2017.2.4/helpers/pydev/pydevd.py --multiproc --qt-support=auto --client 127.0.0.1 --port 37145 --file /opt/workspace/odoo11/odoo-bin -c /opt/workspace/odoo11/odoo-server.conf
2. I go to database/manager and create a testdb with flag for demo data
3. After login I

[2017-11-29 10:50] #20032 closed

[2017-11-29 10:53] mge-odoo commented on #20032
Hi @elgow

Thanks for reporting this issue. It has been solved in 11.0

Note that the chatter style is only meant to be used as a direct child of `<form>` so it might be a bit ugly if displayed inside a tab for example. But if you want to do so, you will probably fix this layout issue in a few css rules in your custom module.

Regards,

Martin

[2017-11-29 11:01] Elkasitu commented on #21098
@Karsten-77 Can I have a look at your conf file? Also are you using the packaged version of Odoo or from source code? Windows or Linux/MacOS?

[2017-11-29 11:05] rdeodoo commented on #19488
Could you please reproduce the issue on [runbot theme](http://runbot.odoo.com/runbot/repo/git-github-com-odoo-design-themes-3?search=)?
As you can see on [this runbot](http://281373-10-0-602fbc.runbot12.odoo.com/), I have installed graphen theme, then installed french and german language (in that order).
I have set my browser language to french, but I can't reproduce your issue.

[2017-11-29 11:11] khoapn102 commented on #21319
any patch for Odoo 10.0 ?

[2017-11-29 11:28] zouine commented on #20836
Thank you @sswapnesh
I did edit the surveys.js and it worked

[2017-11-29 11:28] #20836 closed

[2017-11-29 11:33] #21222 closed

[2017-11-29 12:06] Karsten-77 commented on #21098
[code]

karsten@tomws01:/opt/workspace/odoo$ git rev-parse HEAD
6c996723b212b8ea85aa7b5d6e935d80e37b83a9

[2017-11-29 12:24] JKE-be commented on #19499
It will be wrong to use web.base.url to generate a sitemap.

Works as expected.

I add mydomain.ext in /etc/host
and the sitemap is correct:
![image](https://user-images.githubusercontent.com/4848797/33373511-89f1d0de-d502-11e7-8c60-f70d37bfd21e.png)

[2017-11-29 12:24] #19499 closed

[2017-11-29 12:26] JKE-be commented on #19918
No news !

Don't hesitate to complete with more information and ask to reopen the issue if needed.
But while we have no news, we consider that all is working fine now.

See here what we watch about the e-commerce api: https://github.com/odoo/odoo/blob/11.0/addons/website_sale/static/src/js/website_sale_tracking.js)

[2017-11-29 12:26] #19918 closed

[2017-11-29 12:34] rdeodoo commented on #20482
Fix landed [in 9.0](https://github.com/odoo/odoo/commit/82bde85030b58959bba8efddb13746e5dc3e4601)

[2017-11-29 12:34] #20482 closed

[2017-11-29 12:35] JKE-be commented on #9566
If you find this issue because your javascript is not more loaded after adding custom JS code.

You can find all the view from the html_editor into the backend in debug mode and remove the broken code (enable developer mode in settings dashboard _or_ about us top right menu _or_ add ?debug in url):
    For views, in: Settings / Technical / User interface / views
    For static file modified at fly

[2017-11-29 12:35] #9566 closed

[2017-11-29 13:16] christophlsa commented on #8993
This is related to https://github.com/odoo/odoo/pull/21007

[2017-11-29 13:48] mge-odoo commented on #21056
Hi,

The views using `list` in `view_mode` have been fixed in master.

Regards,

Martin

[2017-11-29 13:59] sswapnesh commented on #21308
@mikifus It was handled in #21325.
@JKE-be You can close this issue.

[2017-11-29 14:04] qdp-odoo commented on #21085
I confirm we were taking the invoice date in v8, so we probably should do the same in v9 and onward

[2017-11-29 14:07] sle-odoo commented on #20780
@phuongnguyen3108 Hello, sorry but i'm not able to reproduce this issue. Could you try it on the latest runbot and tell me the exact steps you followed? Thank you

[2017-11-29 14:10] sle-odoo commented on #17357
@engmahmoud Hi, we need more steps to handle your issues. Which odoo version did you try to install and what steps did you followed to install it?

[2017-11-29 14:19] sle-odoo commented on #13670
Hello,
This was fixed in rev f4715350549568003d5015fe87e6520e4797d465

Regards

[2017-11-29 14:19] #13670 closed

[2017-11-29 15:18] #21156 closed

[2017-11-29 15:18] xmo-odoo commented on #21156
Should be fixed in latest 11.0, check if it now works properly.

[2017-11-29 15:31] ernesto-telematel opened #21330 "[11.0] write off in payment from invoice, when the amount to payment is higher than of amount due from invoice"
**write off in payment from invoice, when the amount to payment is higher than of amount due from invoice**
Impacted versions:
- 11.0

Steps to reproduce:
 1.- Create a new customer invoice or supplier invoice.
 2.- Added a product and set the field unit price=10 and remove the taxes of invoice line.
 3.- Save and validate the invoice.
 4.- Into invoice, register a payment with amount 12, and sele

[2017-11-29 15:35] go4site commented on #21156
Thanks a lot. I will check and confirm asap. Thanks again!

On Wed, Nov 29, 2017 at 6:18 PM, xmo-odoo <notifications@github.com> wrote:

[2017-11-29 15:37] jshah4015 opened #21331 "QWeb2: Template 'ActionManager' not found"
-Impacted versions:
Odoo 10.0Community

-Steps to reproduce:
Installed Odoo 10.0 on Windows from Scratch
Created new Db
Logged in and it does not show Menu
[Note : on other Node it works fine, but doesn't work on my server. I had installed Odoo 11.0 and Odoo 10.0, due to some issues, I uninstalled all versions and then installed Odoo 10 latest version on 25/11/2017]

-Current behavior:
After Loggi

[2017-11-29 15:43] JKE-be commented on #7375
any feedback? @nhomar @Yenthe666

[2017-11-29 15:45] #21308 closed

[2017-11-29 16:11] Yenthe666 commented on #7375
Not in the office this week. I'll try to make some test instance as soon as possible. Remind me again in like a week if you had no response. ;)

[2017-11-29 16:28] l327253678 opened #21332 "[11.0]Template report_stock_inventory translate failed."
Impacted versions:
* 11.0

Steps to reproduce:
1. Active Lots & Serial Numbers.
2. Create PO and done with a Lots.
3. Inventory -> Master Data -> Lots/Serial Numbers -> Upstream Traceability.
4. User langue is zh_CN.

Current behavior:
The report header translate falied.

Expected behavior:
The report header should present in chinese.

In /stock/static/src/js/stock_traceability_report_backend.js i

[2017-11-29 16:53] sswapnesh commented on #21285
Related to #14761

[2017-11-29 17:12] elgow commented on #20032
Hi @mge-odoo

Many thanks to you, Martin, for fixing this so quickly. Selective display of the chatter really helps to de-clutter my UI tabs.

  Ed

[2017-11-29 17:14] Yenthe666 commented on #21331
@ged-odoo does it ring any bell to you?

[2017-11-29 17:19] jshah4015 commented on #21331
No, I've no idea of this error. Can you explain me through this, why am I getting this error?

[2017-11-29 17:24] ernesto-telematel commented on #21330
Hello @fpodoo,
is possible send this issue to OPW from here?, If this is possible, what are the next steps?

Regards

[2017-11-29 17:35] sswapnesh commented on #21316
Hello @CakJuice
Could please try this?

[code]

![](https://image.prntscr.com/image/DDrmNJ5uTq2RnoSaRilAfA.png)

[2017-11-29 18:25] sswapnesh commented on #21331
Related to #21117 (Both refers to installation on Windows)

[2017-11-29 18:28] sswapnesh commented on #21331
@jshah4015 You can try this module [Fix Error Blank Page
](https://apps.odoo.com/apps/modules/10.0/web_fix_blank_page/).

[2017-11-29 18:32] jshah4015 commented on #21331
@sswapnesh I have already done the modification related to Mimetype issue, after that I get this error message on Action manager

[2017-11-29 19:03] ploegvde commented on #18572
Hi, to do a good test, can you add information from where you are getting the values for the report. Otherwise it will me a real puzzle to test this.

[2017-11-30 00:35] GavyMG opened #21335 "[REF] point_of_sale: avoid relating order with not complete invoice"
Impacted versions:
10.0

Steps to reproduce:
On point of sale module:
- Create automated action on update pos.order, and for paid orders. This action execute a server action who (for example) validate invoice related with the order.
- In a new session create one order without invoice.
- From the order view try to invoice the order.

Current behavior:
![captura de pantalla de 2017-11-29 20-24-16](h

[2017-11-30 00:42] GavyMG commented on #21335
Possible solution https://github.com/odoo/odoo/pull/21334

[2017-11-30 04:03] omalbastin commented on #14761
if we apply many2many_tags widget, it is working fine

[2017-11-30 06:24] CakJuice commented on #21316
@gdgellatly @sswapnesh thanks for your help. today i was updated my odoo then my code works normally. maybe there is any bug in my previous version.
i still use code:
'''
<xpath expr="//tree" position="attributes">
	<attribute name="decoration-info">state=='confirm'</attribute>
</xpath>
'''

[2017-11-30 06:25] #21316 closed

[2017-11-30 09:34] elperrofarelo opened #21343 "[11.0] Hr_Payslip: Error when contract.resource_calendar_id has declared a "Global Leaves""
Impacted versions:
[11.0]
Steps to reproduce:
1- Introduce a Global Leave in contract.resource_calendar_id and fill up the contract. Create a pay slip, then in Worked Days the name for this global leave is empty. When we tray to save the pay slip comes following error:
ERROR: null value in column "name" violates not-null constraint
2 - As well the Number of days calculated for a holiday period are

[2017-11-30 09:36] rruebner commented on #21146
@tejastank I tried to reproduce the error in odoo 11 enterprise runbot and if you mean what you see in the image below I confirm the bug.
![change_field_attribute_readonly_error](https://user-images.githubusercontent.com/2195663/33423789-245800d2-d5ba-11e7-88c2-f5b6394e16fa.png)

[2017-11-30 09:37] TimLai125 commented on #20665
@tde-banana-odoo May I have your reply please?

[2017-11-30 09:41] rruebner commented on #21321
@Yenthe666 Can you check please?

[2017-11-30 09:48] rruebner commented on #21267
@Yenthe666 I can confirm the issue.

[2017-11-30 10:07] rruebner commented on #21127
@Yenthe666 Is the case "adds a new record created from the provided value dict" changed now that it also works with "(0, record.id.ref or 0, vals)"? Because the documentation says "(0, _, values)".

[2017-11-30 10:15] rruebner commented on #21065
I can confirm the issue. We "fixed" it in one of our projects in version 8.
@Yenthe666 Can you confirm this as bug or is it designed to work in this way? If it is a bug we can provide a solution.

[2017-11-30 10:23] rruebner commented on #21029
@boumboum Tested in runbot and it works fine. Maybe a Windows problem?

[2017-11-30 10:40] mart-e commented on #21335
Hello,

Sorry but this seems to be an issue with your server action that does not handle this scenario properly, not with Odoo core code.

[2017-11-30 10:40] #21335 closed

[2017-11-30 11:15] #18943 closed

[2017-11-30 12:51] mart-e commented on #21291
Hello,

Thank you for your report but please keep github only for bugs reporting on the standard Odoo. Not for questions or development help.

For help, you may try the [mailing lists](https://www.odoo.com/page/odoo-community), the [forum](https://www.odoo.com/forum/help-1) or the [support page](https://www.odoo.com/help) (for paying users).

Regards

[2017-11-30 12:51] #21291 closed

[2017-11-30 14:35] ThijsvOers opened #21347 "[11.0] Delivered qty on sale orderline incorrect after deleting timesheet line"
Impacted versions: 1, tested on odoo.runbot

Steps to reproduce: create a salesorder and add a service product (with options: 'Timesheet on task' and 'create new project and task')

- add a timsheetline entry (1 hour). After saving the task on the sale orderline the number of delivered hours is 1 (this is correct)
- Go back to the task and delete the timesheet line

I would expect that the total n

[2017-11-30 14:46] d3stozaur opened #21348 "[BUG][10] Orm creates bad sql query for fields with capital letters in name"
Impacted versions:
10.0
Steps to reproduce:
add field with capital letter to model for example x_Test type integer
then go to sale order tree view and add to that view our newly added field, then add some group by to the view and try to sort by our new field
Current behavior:
we get an error:
Traceback (most recent call last):
  File "/home/odoo/runbot/extra/runbot/static/build/282732-10-0-ba73fd/

[2017-11-30 15:13] lionel-deglise opened #21351 "[11.0] Bad addons path in conf makes server not to load assets"
Impacted versions:
Odoo 11.0 community

Steps to reproduce:
Give invalid addons path in odoo.conf (ex: non existent directory)

Current behavior:
Serveur start, no error logged but nos assets can be retreived from browser (even database manager). We get HTTP 404 status for JS, CSS and IMG (log as INFO, no other log or stacktrace)

Expected behavior:
- An error is logged
- Server starts
- Assets ca

[2017-11-30 16:19] peterhoth commented on #21242
1. Disable nginx
2. Change config file:
[code]
3. run odoo11 as a service. No more 502 error but `Exception: bus.Bus unavailable` generated
![image](https://user-images.githubusercontent.com/7699250/33441178-0364430e-d62d-11e7-81d8-2cd37a24d332.png)

[2017-11-30 17:16] alexis-via opened #21353 "[10.0] Due Payment report wrong with partial payment"
Here is the scenario to reproduce the bug on runbot v10:
1) login as admin on runbot v10
2) create a new customer TOTO
3) create a new invoice for TOTO for the total amount of 1000$
4) On this invoice, register a partial payment of 200$ -> the residual of the invoice should now be 800$
5) On the form view of partner TOTO, click on "Print > Due Payments"
-> In the letter, the balance is 1000$ (inst

[2017-11-30 17:23] alexis-via commented on #21353
The bug is also present on v9 and v11.

[2017-11-30 17:43] #20897 closed

[2017-11-30 17:43] #20913 closed

[2017-11-30 17:43] #21129 closed

[2017-11-30 17:43] #21264 closed

[2017-11-30 18:24] jorenvo opened #21357 "[POS] allow searching customers on >2 fields"
Reported by @dek-odoo in https://github.com/odoo/odoo/issues/21129#issuecomment-347811031:

The replace function here, will only replace the first occurence of space with .+ (for regexp), so user may not be able to search for Name Address Phone together like agro namur 588. Probably query.replace('  ','.+') can be replaced with query.split(' ').join('.+')

[2017-11-30 20:19] Yenthe666 commented on #21267
Thanks for the report and the confirmation guys.
@qdp-odoo is for the accounting sequence. Couls you check?

[2017-12-01 08:05] jjordaan79 commented on #20140
Hi,

Is there perhaps any fix for this issue yet? I have searched all over but was unable to find any.

[2017-12-01 08:21] dek-odoo commented on #21357
:+1:

[2017-12-01 09:28] guewen commented on #19396
I could trace down this one. `inspect.getmembers()` will use `getattr` on each attribute to check if it's a method, thus it will also evaluate the `property` and `lazy_property`. This one:

https://github.com/odoo/odoo/blob/42264d8dcb7f8d0795c84718d1fc9a5fd1aefd32/odoo/models.py#L4671-L4674

Will try to create an instance of `RecordCache` with a "empty" `self`, which is not supported by the `Recor

[2017-12-01 09:46] zdarova opened #21371 "Compute field in Advanced Properties requires always at least one value in Dependencies"
**Impacted versions:**
Odoo 11

**Steps to reproduce:**
1. Create new char x_text_field,
2. Add code:
[code]
3. Leave Dependencies empty

**Current behavior:**
No error is shown, and the Compute script is not working

**Expected behavior:**
Error raised OR The value of x_text_field is updated with "ciao" value

[2017-12-01 10:13] d3stozaur commented on #21348
Hi i recorded how to reproduce it on runbot runbot.odoo.com 10.0 branch
http://webm.land/media/kU9m.webm

[2017-12-01 11:19] sardylan commented on #14485
I confirm that the proposed solution works on Odoo version 11.0

[2017-12-01 13:49] xmo-odoo commented on #21127
@dhannyz

Looking further into it, this specific bit was implemented in 6cf98c4c87d644928897a76b9985947ab2ebc607 which added a `ref` attribute on `NewId()`, which *should* be what's present for "falsy" record ids (ids of records which have not yet been saved to the database).

Could you indicate how you reached this error? Apparently you managed to have a record with an id of `0` somehow, which sh

[2017-12-01 14:23] Elkasitu commented on #21348
@d3stozaur Thanks, very helpful, I'll take a look at it

[2017-12-01 15:03] adriencombourieu commented on #6692
I agree completely !
Any news on that topic since 2015 ?

[2017-12-01 15:22] tejastank commented on #21146
Not this one.

[2017-12-01 15:22] eLBati commented on #21119
In my case, ```odoo@mydomain.com``` is a gmail mailbox. Thus, it seems gmail ignores the ```Return-Path``` set by odoo.

Indeed, odoo correctly sets it to something like ```odoo+128-crm.lead-34@mydomain.com``` and sends the message to smtp.gmail.com.

At line
https://github.com/odoo/odoo/blob/0783318f9745c4e213016b825e9bbd8e1e9bd546/odoo/addons/base/ir/ir_mail_server.py#L456
```message._headers[11

[2017-12-01 16:55] odony commented on #21119
@eLBati I think you're testing with the default GMail SMTP server. This is not suitable for use as a generic outgoing SMTP server by any application.
It only provides a "portable SMTP server" for personal use by the owner of a GMail account. This service has strict limitations:
- it can only send messages "From" one of the verified aliases of the user (the ones in the "Send mail as" section of the

[2017-12-01 17:36] cuijinlin commented on #20713
@goutoudis @Yenthe666
it seem  "64    Header(header_text, 'utf-8')"  change to " return Header(header_text, 'utf-8')", work well now...

[2017-12-01 19:51] vcloud9ray commented on #21309
I also have this issue and have had to tell my Customers to not use ZIP+4 - which is not desirable.  @matt454357 - did you log this with Odoo support with an Enterprise Contract# so it can get higher up on the list of Issues?

[2017-12-01 20:38] vcloud9ray commented on #21261
It would be helpful to explain what you have tried and what happened.

How far did you get?
What steps worked?
What errors or unexpected behavior did you encounter?

Questions should really be asked on the Odoo Forum at http://help.odoo.com as this is a place for Issues  that are straight forward to understand and replicate.  I don't see any steps that can be tested.

You should adhere to the temp

[2017-12-01 20:46] robertallanroker commented on #20857
I have the identical problem.  What is the issue?

[2017-12-01 21:38] max3903 commented on #13139
@vcloud9ray Nope.

[2017-12-01 22:00] celm1990 commented on #20713
I get same error, the email subject is empty. Language spanish Ecuador

[2017-12-01 22:39] vcloud9ray commented on #13139
@max3903 - UGH - thanks for checking!!

[2017-12-01 23:50] dan18fan opened #21388 "Can't add a new time @workOrder"
Impacted versions:
10.0e
Steps to reproduce:
Open a "in process-finished" work order
Go to time tracking
Open odoo studio
Select time tracking and disable "Read only"
Close odoo studio
Click "Edit"
Go back to time tracking
Add a new field with the dates-hours and loss reason
Save and Close
Save
Current behavior:
The operation cannot be completed, probably due to the following:
- deletion: you may

[2017-12-01 23:50] dan18fan commented on #21388
https://imgur.com/j4Zhp8w

[2017-12-02 04:16] jeffery9 opened #21391 "[11.0] multi-worker mode is slower than single worker mode when hitting memory limits"
Impacted versions:
11-ce, 11-ee

Steps to reproduce:

run odoo with workers= 10 [any number bigger than 1]
you should notice odoo is very slow

Current behavior:

 multi-worker mode is the same fast like single worker mode

Expected behavior:

Video/Screenshot link (optional):

[2017-12-02 04:50] taxcloud commented on #21309
Agreed. Plus4 zip code extensions should be passed in using the zip4 parameter. ;)

[2017-12-02 10:47] elicoidal opened #21395 "[11.0] Incorrect reconciliation entry via Bank statement"
Impacted versions:
v11.0
Tested the same process in v10.0 and result is correct

Steps to reproduce:
1. Create a new customer (set as company)
2. Create a new bank statement
<img width="1036" alt="1bst" src="https://user-images.githubusercontent.com/7600613/33514548-f2b33816-d790-11e7-9720-a79a42cf7441.png">

3. input 600 payment received from customer
4. reconcile with open balance
<img width="10

[2017-12-02 10:48] elicoidal commented on #21395
@qdp-odoo

[2017-12-02 16:18] Yenthe666 commented on #20857
@robertallanroker the exact issue is coming from not correctly parsing. Fix at https://github.com/odoo-dev/odoo/commit/dde554726b301e42aaa297f899e6fcb83d9e9e63

[2017-12-02 16:47] KomarovAlea opened #21396 "Two identical conditions in L288 and L290"
https://github.com/odoo/odoo/blob/f03437ae001622fd58e6029203fa679841dc4499/addons/mail/models/mail_message.py#L288

Two identical conditions in L288 and L290. You can rewrite:

[code]

[2017-12-02 16:51] KomarovAlea opened #21397 "The condition needs to be removed."
https://github.com/odoo/odoo/blob/f03437ae001622fd58e6029203fa679841dc4499/addons/mail/models/mail_message.py#L332

The condition needs to be removed.  It is necessary to rewrite like this:

[code]

[2017-12-02 23:04] mah007 commented on #20099
File "/home/odoo/odoo/addons/bus/controllers/main.py", line 37, in poll
    raise Exception("bus.Bus unavailable")
Exception: bus.Bus unavailable

i have the same error and i have no firewall and proxy server

[2017-12-03 00:34] matt454357 commented on #21309
@vcloud9ray,
I just submitted a support ticket.

[2017-12-03 05:16] vcloud9ray opened #21400 "Cost of Product with Kit type BoM and REAL PRICE / PERP. INVENTORY not updated --> Invoice has (incorrect) $0.00 Cost of Sales"
**Impacted versions:**

v10 EE - testing with Dec 1st builds:

Community:
commit 3d1e23aaba2e220c7a92fb4323746a08a5a1b7ed
Author: Adrian Torres <adt@odoo.com>
Date:   Fri Dec 1 14:15:42 2017 +0000
[FIX] *: Reset module states on registry init error

Enterprise:
commit 1bfcdce65aadbf8c88d467260c14f8105c97b5b2
Merge: 1db11a5 7dc0d38
Author: Christophe Simonis <chs@odoo.com>
Date:   Tue Nov 28 13:52:

[2017-12-03 05:20] vcloud9ray commented on #21309
@matt454357 :thumbsup:

[2017-12-03 05:22] vcloud9ray commented on #21400
Enterprise Support Ticket logged: #786268

[2017-12-03 07:26] nhomar opened #21401 "[11.0] analytic default is using partner_id instead commercial entity."
Impacted versions:

11.0

Steps to reproduce:

Create a default analytic:

![image](https://user-images.githubusercontent.com/338634/33523292-706b0b6c-d7c8-11e7-829e-f3d2673eda6c.png)

Create an invoice with Agrolite properly.

![image](https://user-images.githubusercontent.com/338634/33523299-bc3ef1e8-d7c8-11e7-923a-3d2fe2cb8174.png)

But then try to use a contact from Agrolite (not agrolite itse

[2017-12-03 10:39] AjawadMahmoud commented on #6026
I got the printer to work and got rid of those errors which are mainly related to difference in types within the same argument from byte to str.
I had to follow the errors one by one until I got the printer working, basically it was never a hardware issue.

However, now the printer is coming up with some funny output decoded as byte-string: https://1drv.ms/i/s!AvKi6gfQw0mwiAuwWzg6K0HTqFEg. I've ne

[2017-12-03 15:15] eng-eslam-a-y opened #21403 "Wrong To Do value in stock picking"
Impacted versions:
9.0

Steps to reproduce:
1.Create two unit of measure under the same category bottle= 120 * Ml (reference)
2.create a new product  set its UOM as bottle and Purchase UOM as bottle
3.let us assume there 10.00 bottles in inventory
4.create a delivery order and choose to delivery 1 Ml

Current behavior:
after reserving the order the to do qty is set to 2 ml

Expected behavior:
to d

[2017-12-03 22:58] dhannyz commented on #21127
@xmo-odoo
Right, so an onchange creating values in a o2m by
[code]
Or any other falsy middle value would cause an error?

Can the usage of this new reference be clarified, the (0, 0, vals) arrangement is referenced many times online, and this addition of the ref seems to break it?

[2017-12-04 07:48] Yenthe666 commented on #20829
Awesome! Keep up the good work

[2017-12-04 07:50] Yenthe666 commented on #20713
@xmo-odoo probably for you as it is encoding related.

[2017-12-04 08:05] Yenthe666 commented on #21321
Hi guys,

If I'm not mistaking you're simply doing this wrong as the JS framework changed in Odoo 11.
@ged-odoo could you check & give feedback please?

Regards,
Yenthe

[2017-12-04 08:09] Yenthe666 commented on #21262
Duplicate of https://github.com/odoo/odoo/issues/19627
Please update your whole Odoo and regenerate all your assets.

Regards,
Yenthe

[2017-12-04 08:09] #21262 closed

[2017-12-04 08:10] Yenthe666 commented on #21274
@JKE-be this is one for you. 😉

[2017-12-04 08:11] Yenthe666 commented on #21403
@jco-odoo could you check this please?

[2017-12-04 08:12] Yenthe666 commented on #6026
Hi @effelle ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-04 08:12] #6026 closed

[2017-12-04 08:14] Yenthe666 commented on #21401
@qdp-odoo could you have a look? I believe this should be changed.

[2017-12-04 08:15] Yenthe666 commented on #21400
Hi @vcloud9ray,

Thanks a lot for the response!
Please do let me know what the official response is on the ticket. Odoo doesn't really check their enterprise bugs against Github sadly.

[2017-12-04 08:16] Yenthe666 commented on #21309
@tivisse we have another TaxCloud issue to handle. This'll probably end up at you through the ENT ticket I guess.

[2017-12-04 08:16] Yenthe666 commented on #21261
Indeed. Google Drive is integrated in Odoo so not a bug report.

[2017-12-04 08:16] #21261 closed

[2017-12-04 08:19] Yenthe666 commented on #21388
Hi @dan18fan,

Could you make a recording of this so we can reproduce it please? I believe I'm missing something.

[2017-12-04 08:20] ged-odoo commented on #21321
@Karsten-77 The problem is not in your code, but in https://github.com/odoo/odoo/blob/11.0/addons/payment/static/src/js/payment_form.js

That module does not export its value (it should do a return PaymentForm at the end).

The correct way to do what you need to do (and I assume that this is exactly what you had in mind) is to import the widget with a require statement, then to 'include' it (inclu

[2017-12-04 08:20] #21321 closed

[2017-12-04 08:21] Yenthe666 commented on #21396
Hi @KomarovAlea,

Thanks for the report.
The conditions are not identical though. The first says if it has a `subtype_id` and `partner_ids`, the other one says when it does <b>not</b> have these.

[2017-12-04 08:21] #21396 closed

[2017-12-04 08:26] Yenthe666 commented on #21391
@odony as this is worker and performance related I think you're probably the best guy to answer this.

[2017-12-04 08:34] odony commented on #21391
@jeffery9 with so little information, we can't really help you ;-)

You'll have to provide much more information:
- your deployment architecture
- your hardware
- your configuration files for Odoo and PostgreSQL and your web server
- if multi-server, how are you sharing the sessions, source and filestore
- logfiles showing the system running
- and as much other info you can provide..

[2017-12-04 09:11] rco-odoo commented on #21127
@dhannyz since Odoo 11, the web client may invoke `onchange()` with field values that contain a *reference* for new one2many lines:
[code]
The line references (the strings `'line1'` and `'line2'` in this case) are hidden inside the `NewId` instances of the corresponding records in the server. These special record identifiers are falsy, and provide identities to records that do not exist in the dat

[2017-12-04 09:13] gdgellatly commented on #21396
@yenthe either he's right or there is a bug caused by unexpected behavior
because one of the branches is wrong.

On Mon, 4 Dec 2017, 9:21 PM Yenthe V.G, <notifications@github.com> wrote:

[2017-12-04 09:19] Yenthe666 commented on #13139
Hey guys,

I've labelled it so it atleast pops up to the right guys.
If one of you can still reproduce it and has an enterprise license I suggest to report it there.

Regards,
Yenthe

[2017-12-04 09:26] gdgellatly commented on #21391
@odony I have noticed this behaviour over the past week, possibly fortnight as well in dev.  Like really noticeably slow, 10-100x slower than usual to start and load a worker.  Like maybe 40 seconds from launch to load compared to couldn't even switch to browser screen and it was ready before.

I'll update this tomorrow with exact details, left laptop at work, but the setup has not changed in 3 mo

[2017-12-04 09:28] Yenthe666 commented on #14485
@adr-odoo could you give feedback on this? It has been open for quite a while.

[2017-12-04 09:29] Yenthe666 commented on #21371
@mart-e could you check?

[2017-12-04 09:30] Yenthe666 commented on #11468
@sle-odoo any update? Since you've assigned yourself quite a while ago.

[2017-12-04 09:32] Yenthe666 commented on #21029
Hi @boumboum,

Thanks for the report.
Just like @rruebner I tried to reproduce it but it works fine at my side. Can you reproduce it on an official runbot (at runbot.odoo.com) or can you show a detailed report on how to reproduce it on a windows please?

Regards,
Yenthe

[2017-12-04 09:33] Yenthe666 commented on #21242
@mart-e do you have any idea? I believe the issue is local and not in Odoo itself though.

[2017-12-04 09:34] Yenthe666 commented on #21351
@ged-odoo could you have a look?

[2017-12-04 09:36] Yenthe666 commented on #21330
Hi @ernesto-telematel,

If you have an enterprise license you can create a ticket at https://www.odoo.com/help and add the link to this bug report in the ticket.

Regards,
Yenthe

[2017-12-04 09:37] sle-odoo commented on #11468
Hi,

It all seems like configuration issues. Please make a backup of your configuration files and be sure to follow [this guide](https://www.odoo.com/documentation/10.0/setup/deploy.html#id7) with the mentionnent configuration files and it should work. Then you can add your own configuration on top.

Please answer on this ticket if you've followed exactly the steps of the guide and it doesn't work

[2017-12-04 09:37] #11468 closed

[2017-12-04 09:39] Yenthe666 commented on #20780
No problem at my side either.

[2017-12-04 09:40] Yenthe666 commented on #16781
Hi @gitdrcsystems ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-04 09:40] #16781 closed

[2017-12-04 09:46] adr-odoo commented on #14485
Hello,

Merged: @e15e6fe
Thanks for the feedback and the fix!

Regards,

[2017-12-04 09:46] #14485 closed

[2017-12-04 09:47] Karsten-77 commented on #21321
Thanks ged-odoo - I was suggesting, that this module not follows the odoo pattern like a few other core modules.
Should not the documentation be adapted slowly?

[2017-12-04 09:48] Yenthe666 commented on #11647
Hi @yucer,

As the Odoo V8 is no longer supported I've tagged it 9.0 and added this label. If Odoo agrees on this and changes this it will be handled in V9 and forward ported to version 10 and 11 too.

Regards,
Yenthe

[2017-12-04 09:50] Yenthe666 commented on #21275
@mart-e for you.

[2017-12-04 09:51] mart-e commented on #21371
Hello,

If you leave all the defaults (which I guess you did), meaning stored and readonly, it actually makes sense.

If you do not ask to compute the value (no dependencies to trigger the computation, not writeable), the method will not be called.
Sorry but this is the way the ORM works

[2017-12-04 09:51] #21371 closed

[2017-12-04 09:57] omalbastin opened #21417 "Not going to do_transfer method in delivery method"
Impacted versions:v11 I believe for v11  enterprise also

Steps to reproduce:Install delivery module and validate a delivery order.Check the call to do_trasnfer method is coming or not

Current behavior:Not coming to the do_transfer method when a delivery order is processed.

Expected behavior: When transfering a delivery order, it should call do_transfer method defined in delivery module

Video/S

[2017-12-04 10:01] airitos commented on #16781
HI @Yenthe666
Thank you for get in touch. Actually my customers use V9 and I wrote to community just asking people to share opinion and yes, there is people using v10 and also complaining of the same issue. And it is very normal because the code that generates the supposed "unique reference" remains unchanged.

So, if you want I can reopen another bug report for version V9, no problem.
Once again,

[2017-12-04 10:03] Yenthe666 opened #21418 "[10.0] Expected singleton when deactivating language"
Impacted versions: 10.0

Steps to reproduce:
- Install a new language
- Open the language and click on "Deactivate"
![image](https://user-images.githubusercontent.com/6352350/33546866-7b2a9412-d8e2-11e7-818e-6a5be3801dc0.png)

You'll now get a traceback:
![image](https://user-images.githubusercontent.com/6352350/33546831-5ec2581e-d8e2-11e7-8887-08c0443bb1d8.png)

The issue is coming from https://g

[2017-12-04 10:06] oliver633 opened #21419 "Strange behavior when adding addresses with own address model"
**Impacted versions: 11**

**Steps to reproduce:**
- Create own address model
- add several Many2one fields for different kinds of addresses to res.partner, like this:
[code]
- Extend base.view_partner_form at two places to be able to manage the addresses in one page of the contact directly and when navigating to the contact via the child objects of a company, like this:

[code]

**Current behavio

[2017-12-04 10:09] Yenthe666 commented on #16781
Hmm let us wait for feedback from @nim-odoo for a bit. Feel free to ping me if there has been no response in 7 das.

[2017-12-04 10:11] Yenthe666 commented on #21417
@jco-odoo or @sle-odoo could you guys check this please?

[2017-12-04 10:17] Yenthe666 commented on #4775
Hi @Cedric-Pigeon ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-04 10:17] #4775 closed

[2017-12-04 10:20] Yenthe666 commented on #4699
Hi @pablocm-aserti,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-04 10:20] #4699 closed

[2017-12-04 10:20] Yenthe666 commented on #4759
Hi @angeliyuu ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-04 10:20] #4759 closed

[2017-12-04 10:21] Yenthe666 commented on #4751
Hi @ccandito ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-04 10:21] #4751 closed

[2017-12-04 10:22] Yenthe666 commented on #4766
Hi @galtys ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-04 10:22] #4766 closed

[2017-12-04 10:24] Yenthe666 commented on #4700
Hi @adrienpeiffer,

This was fixed at https://github.com/odoo/odoo/commit/aac5c4798018e17fcd2d21cc56be381a1cd219b6 but the issue itself was never closed.

Regards,
Yenthe

[2017-12-04 10:24] #4700 closed

[2017-12-04 10:26] Yenthe666 commented on #4624
Hi @gaultp ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-04 10:26] #4624 closed

[2017-12-04 10:28] Yenthe666 commented on #4497
Hi @yostashiro ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-04 10:28] #4497 closed

[2017-12-04 10:28] Yenthe666 commented on #4576
Hi @hansw1 ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-04 10:28] #4576 closed

[2017-12-04 10:29] Yenthe666 commented on #4490
Hi @ajayjaviya,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-04 10:29] #4490 closed

[2017-12-04 10:29] jco-odoo commented on #21417
Indeed, needs to be action_done as do_transfer disappeared.

[2017-12-04 10:30] Yenthe666 commented on #4484
Hi @sheltonfreddy,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you t

[2017-12-04 10:30] #4484 closed

[2017-12-04 10:33] ged-odoo commented on #21321
@Karsten-77 the documentation should definitely be updated.  The JS doc is not good. Just need some resources to do it :)

[2017-12-04 10:36] Yenthe666 commented on #21417
@jco-odoo if I'm not mistaking the PR https://github.com/odoo/odoo/pull/21420 is what is proposed and should fix it?

[2017-12-04 10:38] peterhoth commented on #21242
I just did another fresh install:
- CentOS Linux release 7.4.1708
- Postgresql 9.2.23
- Python 3.5.4
- Odoo 11 [odoo-11.0.post20171204]
- Firewall allow for ports 8069 and 8072
- Created a service to run odoo11 with the following configuration
[code]
typed message in channel appears immediately maybe because workers=0 ?

When i change the configuration to add this line :
[code]
typed message does

[2017-12-04 11:10] burmesepythis opened #21421 "Email Bcc not working as expected after customization."
Impacted versions:
9.0
Steps to reproduce:
Add a new field email_bcc and customize the functions impacted with model mail template, and mail. mail model and mail template model will have the new field email_bcc, and while generating mail emai_bcc field is added. sending mail including email_bcc field as a dict is success and on gmail window the recieved mail shoes bcc mail ids under the field bcc.

[2017-12-04 12:02] Karsten-77 opened #21423 "[11.0] website and website_sale cant be debug"
Impacted versions: 11

Steps to reproduce:

1. Install new database
2. Install website_sale
3. Go to settings and activate developer mode
4. Go to website frontend, param ?debug=assets is on homepage
5. Go to another link like shop, ?debug=assets is not in as parameter anymore

Current behavior:
?debug=assets is not in as parameter anymore
Expected behavior:
?debug=assets is in every link at front

[2017-12-04 13:05] peterhoth commented on #21242
I re-installed a fresh server with Odoo 11 and the channel message seems to be working. I will do further test on my side to find out the cause. I will close this issue for now. Thanks.

[2017-12-04 13:05] #21242 closed

[2017-12-04 13:38] phuongnguyen3108 commented on #20780
I could not re-produce it either. You can close it. Thank you.

[2017-12-04 13:44] #20780 closed

[2017-12-04 13:48] lap-odoo commented on #18561
Hi,

You can test the l10n_hk localization on this enterprise branch on runbot : master-l10n_hk-localisation-rmu (admin, admin). Please let me know if anything is incorrect or incomplete. The l10n_hk should be merged soon.

Thanks for your help

[2017-12-04 14:06] xmo-odoo commented on #21396
@KomarovAlea You could even remove the condition entirely and unconditionally add `message.partner_ids` to `partners`, according to @tde-banana-odoo it's even possible that the entire thing could be removed as `needaction_partner_ids` *should* be a superset of `partner_ids` (though he wouldn't stake his salary on it).

It's correct, but not exactly considered an issue.

[2017-12-04 14:14] #21397 closed

[2017-12-04 14:39] qdp-odoo commented on #21395
@csnauwaert oops

[2017-12-04 14:45] Yenthe666 commented on #7020
Hi @fclementic2c,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-04 14:45] #7020 closed

[2017-12-04 14:48] lap-odoo opened #21427 "l10n_id"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-12-04 14:52] jeffery9 commented on #21391
your deployment architecture
as a cluster, with 6 server. 2 node db cluster, 2 node odoo cluster, 1 nfs and 1 nginx

your hardware
2 postgresql with pgpool, each one is 72 core and 512 G RAM, with 10G bond network card.
2 odoo server with 24 core and 128G ram
1 nginx server with 8 core and 128G ram
1 nfs server with 8 core and 256G ram, this one act as redis server for session store too.

your con

[2017-12-04 14:55] qdp-odoo commented on #21395
Cédric is working on that, thanks for reporting that bug.

[2017-12-04 14:57] qdp-odoo commented on #21267
actually, it is not related to the accounting, but it's generic to all sequences...

[2017-12-04 14:57] Yenthe666 commented on #7022
Hi @rven ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-04 14:57] #7022 closed

[2017-12-04 14:58] Yenthe666 commented on #7011
Hi @CyborgDroid,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-04 14:58] #7011 closed

[2017-12-04 14:59] #20713 closed

[2017-12-04 15:00] xmo-odoo commented on #20713
Wow thanks for the ping @Yenthe666

Yeaaah looks like @cuijinlin was on point here, `encode_header` would probably work better if it actually returned its value rather than encode it in the aether. Should be fixed in v11.

[2017-12-04 15:04] Yenthe666 commented on #21267
Hmm yeah I wasn't sure how to handle it. I guess it is framework and as it is about sequences it might be @odony - he has done some changes to it recently.

[2017-12-04 15:20] kebeclibre commented on #20862
I was not able to reproduce on runbot from 10.0 to 11.0. Apparently the behavior has changed in the meantime: the mediaDialog closes when the image is loaded.

I might be missing something though.

[2017-12-04 15:20] Gyuri77 commented on #20980
Thank you for your answers.
 I checked again, and in our pilot, the users are created  rescue session yet,  so i hope it will  be good.

[2017-12-04 15:22] #20980 closed

[2017-12-04 15:23] sswapnesh commented on #21267
@Yenthe666 It is not due to any recent changes I believe, I can reproduce same on [8.0](http://283354-8-0-837bd7.runbot9.odoo.com/web#id=11&view_type=form&model=ir.sequence&menu_id=38&action=21) and [9.0](http://283628-9-0-62fcf6.runbot13.odoo.com/web?debug#id=276&view_type=form&model=ir.sequence&menu_id=37&action=21)

[2017-12-04 15:29] odony commented on #21267
As the error indicates, you can't create/alter a sequence to make it generate "0" as the first number for a "Standard" sequence. We should add a constraint to provide a more user-friendly message. ([PR welcome](https://github.com/odoo/odoo/wiki/Contributing#making-pull-requests) ;-))
@sswapnesh  If you change the "Next number" to 1 it should work, and that's probably what you want, too :-)

[2017-12-04 15:30] Yenthe666 commented on #21267
Ohhhh... right, that makes sense. Wow, that indeed just needs a little user-friendly message. 😆 :man_facepalming:

[2017-12-04 15:39] wtaferner commented on #21267
@Yenthe666
Are you heading for this? if you do change the default of the field to 1 as well ;-)

[2017-12-04 15:43] rco-odoo commented on #21275
@fmdl I agree that it seems buggy, but making it a custom field would be worse.

The point is: the field on `product.product` is **inherited**, and its definition may **not** be changed.  In particular, one cannot remove the inherited field from `product.product`.  So, making the inherited field look like any custom field would open the door to configuration nightmares.  Making the field look like

[2017-12-04 15:46] wtaferner commented on #21267
@odony
Yenthe is not going to make it so I will do this little PR for you guys...would you accept the user message and the new default in 10.0 or should I target 11.0?

[2017-12-04 15:48] sswapnesh commented on #21267
@odony @Yenthe666 It won't work If I change it to 1 as well.It is taking value from `number_next` (it will be 0 in this case) not `number_next_actual`

To resolve this I must save it with value 1 and then change it to Change Implementation to Standard.

[2017-12-04 15:50] mreficent commented on #21275
And what do you think of changing that view to show the `type` as "Inherited from Custom Field"?

[2017-12-04 15:50] Elkasitu commented on #21348
Fixed in rev. c338e24, you can cherry-pick it locally or wait for the forward-port

[2017-12-04 15:50] #21348 closed

[2017-12-04 16:13] Karsten-77 commented on #21321
@ged-odoo Would you please provide, how I can call a method at server side?
web.DataModel seems not to exist anymore.

[2017-12-04 16:15] csnauwaert commented on #21395
Hello,

The problem was introduced by this commit https://github.com/odoo/odoo/commit/2f3b469dee6f18cbccce1cdf2a81cfe57960c533 and only happens when trying to validate a reconciliation without any lines.

It has been fixed in Saas-16 at rev: https://github.com/odoo/odoo/commit/3549688b21eb65e16b9c3f2b6462eb8d8b52cd47 and will be available in version 11 in a few days when the forward port will be d

[2017-12-04 16:15] #21395 closed

[2017-12-04 18:12] ged-odoo commented on #21321
you can use the method _rpc, which is defined in all widgets.  For example, https://github.com/odoo/odoo/blob/11.0/addons/web/static/src/js/views/basic/basic_model.js#L227

[2017-12-04 22:44] dhannyz commented on #21127
@rco-odoo
I simply encountered the issue when explicitly using integer `0` in the ref position. `(0, 0, vals_dict)`
Hence the error `'int' object has no attribute 'ref'`

If for some reason `record.id` is equal to  `0`, `0.ref` would cause this error

However after pulling new commits and retesting, this issue seems to have been resolved for me. If it happens I'll send a script that reproduces it

[2017-12-05 01:05] elicoidal commented on #18561
Who validated the CoA? Numbering of the accounts is a mess.
* Some expense / income accounts are in the middle of the BS
* Some non current assets are after the banks
* why having intermediate accounts if no hierarchy (eg: 100000/110000 etc.)
* 7 digits for bank should be avoided

[2017-12-05 01:11] elicoidal commented on #18561
Other details:
* I would activate the currency CNY

[2017-12-05 01:17] elicoidal commented on #21395
@qdp-odoo @csnauwaert Thanks for your quick feedback

[2017-12-05 04:41] ruter commented on #15860
Related pr #21432

[2017-12-05 07:54] lap-odoo commented on #18561
@elicoidal The CoA is coming from here https://github.com/grimmette/odoo/tree/9.0/l10n_hk/data, it has been shared by @lukebranch on this issue.

The bank accounts numbering will be corrected as well as the number of digits. CNY will also be activated. I'll let you know when it's done.

But for the expense/income accounts in the BS sheet, I don't see which ones you're talking about. Is the numberi

[2017-12-05 08:31] mart-e commented on #21275
In master, we could add a new field type "inherited". For stable we won't change the behaviour.

[2017-12-05 09:20] eng-eslam-a-y commented on #21403
Can any please replay , it's getting messy in the production environment

[2017-12-05 09:24] jco-odoo commented on #21403
This has to do with rounding on the UoM.  Everything is stored in the main UoM, which is bottles.  So if the rounding of the bottle UoM is e.g. 0.01, it might round 1 ml to 2.  (as there is 120ml in a bottle).  You might e.g. change to 0.00001.

[2017-12-05 09:24] #21403 closed

[2017-12-05 09:44] tde-banana-odoo commented on #20665
Hi @TimLai125

Assignation email is the same for all models. If there is a responsible field, an email is sent whatever the user preferences. In 11.0 this is the intended behavior and it cannot be prevented. It is about to change in master, meaning for v12 it will be a standard notification following user choice.

Current behavior is not considered as a bug. The feature is not very smart and that

[2017-12-05 09:57] Yenthe666 commented on #4620
Hi @OEGEM,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-05 09:57] #4620 closed

[2017-12-05 09:58] Yenthe666 commented on #4618
Hi @fotiDim ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 09:58] #4618 closed

[2017-12-05 10:00] Yenthe666 commented on #4536
Hi @kvdb ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-05 10:00] #4536 closed

[2017-12-05 10:00] Yenthe666 commented on #4487
Hi @jsh-odoo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:00] #4487 closed

[2017-12-05 10:01] Yenthe666 commented on #4479
Hi @imjaypatel,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 10:01] #4479 closed

[2017-12-05 10:02] Yenthe666 commented on #4273
Hi @hbrunn,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:02] #4273 closed

[2017-12-05 10:03] Yenthe666 commented on #4246
Hi @yvaucher ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: I think odony gave quite a good answer too.

Regards,
Yenthe

[2017-12-05 10:03] #4246 closed

[2017-12-05 10:04] Yenthe666 commented on #4436
Hi @jeffery9,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:04] #4436 closed

[2017-12-05 10:05] Yenthe666 commented on #4237
Hi @aliomattux,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:05] #4237 closed

[2017-12-05 10:09] Karsten-77 commented on #21321
@ged-odoo Sorry for pinging you again, buts really hard to understand the processes and a lot of things confusing me.
As example, https://github.com/odoo/odoo/blob/11.0/addons/payment/static/src/js/payment_form.js#L151
Here we are trying to get the action_url from data-actionUrl attribute, but that can never happen, cause all I find out, all submodules like Ogone https://github.com/odoo/odoo/blob/

[2017-12-05 10:13] Yenthe666 commented on #4229
Hi @ztsiklauri ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to

[2017-12-05 10:13] #4229 closed

[2017-12-05 10:14] Yenthe666 commented on #4225
Hi @LeenSonneveld ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:14] #4225 closed

[2017-12-05 10:15] Yenthe666 commented on #4127
Hi @leio ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-05 10:15] #4127 closed

[2017-12-05 10:16] Yenthe666 commented on #4095
Hi @jookeng,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:16] #4095 closed

[2017-12-05 10:16] Yenthe666 commented on #4080
Hi @zuher83,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:16] #4080 closed

[2017-12-05 10:22] Yenthe666 commented on #4028
Hi @jbeficent,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 10:22] #4028 closed

[2017-12-05 10:23] Yenthe666 commented on #4058
Hi @treviser,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:23] #4058 closed

[2017-12-05 10:23] Yenthe666 commented on #4004
Hi @joshuajan ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
As this is about the old API, which is dropped in the newer versions, this won't be a problem in t

[2017-12-05 10:23] #4004 closed

[2017-12-05 10:24] Yenthe666 commented on #3934
Hi @Parker27,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:24] #3934 closed

[2017-12-05 10:25] Yenthe666 commented on #4018
Hi @intero-chz,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to c

[2017-12-05 10:25] #4018 closed

[2017-12-05 10:25] simongoffin commented on #18825
@deivislaya In fact, this is not a bug. To avoid this problem, you have to define a journal with type purchase in EUR. The currency of a bill is always in the currency of its journal.

[2017-12-05 10:25] #18825 closed

[2017-12-05 10:26] Yenthe666 commented on #3929
Hi @kuhnnl ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:26] #3929 closed

[2017-12-05 10:26] Yenthe666 commented on #3904
Hi @nicomacr,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:26] #3904 closed

[2017-12-05 10:26] yostashiro commented on #18561
@lap-odoo I made comments on the PR.  Why don't you have the accountant/functional consultant at Odoo Limited review the content? :D

[2017-12-05 10:27] Yenthe666 commented on #3885
Hi @blaggacao,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 10:27] #3885 closed

[2017-12-05 10:27] Yenthe666 commented on #3856
Hi @feiyu4581,

This indeed seems like a misconfiguration of rights for the user.
As Odoo 8 is no longer supported this can be closed.

Regards,
Yenthe

[2017-12-05 10:27] #3856 closed

[2017-12-05 10:28] Yenthe666 commented on #3855
Hi @feiyu4581,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 10:28] #3855 closed

[2017-12-05 10:29] Yenthe666 commented on #3852
Hi @dannyadair,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:30] Yenthe666 commented on #3849
Hi @franckbret,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 10:30] #3849 closed

[2017-12-05 10:32] Karsten-77 commented on #21321
Another thing:
Odoo offers to use render_values also for the sale_button
https://github.com/odoo/odoo/blob/11.0/addons/sale_payment/models/payment.py#L199
but the controllers like https://github.com/odoo/odoo/blob/11.0/addons/website_sale/controllers/main.py#L827 doesnt parse through.
Should it not be return tx.render_sale_button(order, '/shop/payment/validate', render_values=kwargs) ?

[2017-12-05 10:39] Yenthe666 commented on #3835
Hi @msh-odoo ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:39] #3835 closed

[2017-12-05 10:41] Yenthe666 commented on #2781
Hi @bishamontn,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:41] #2781 closed

[2017-12-05 10:42] Yenthe666 commented on #5062
Hi @atuljain,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:42] #5062 closed

[2017-12-05 10:43] Yenthe666 commented on #5026
Hi @williammead,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-05 10:43] #5026 closed

[2017-12-05 10:44] Yenthe666 commented on #5023
Hi @dreispt ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
As tde-banana-odoo mentioned it has been improved in 9.0 and up so it shouldn't be a real issue anymore.

Regards,
Yenthe

[2017-12-05 10:44] #5023 closed

[2017-12-05 10:45] treviser commented on #4058
@Yenthe666 You are a funny guy ;-)

[2017-12-05 10:45] Yenthe666 commented on #5010
Hi @FlorianO,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:45] #5010 closed

[2017-12-05 10:45] Yenthe666 commented on #4987
Hi @jjscarafia,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 10:45] #4987 closed

[2017-12-05 10:46] Yenthe666 commented on #4974
Hi @Sameer1990,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 10:46] #4974 closed

[2017-12-05 10:48] Yenthe666 commented on #4961
Hi @bakhtout,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:48] #4961 closed

[2017-12-05 10:48] Yenthe666 commented on #4920
Hi @niecw ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-05 10:48] #4920 closed

[2017-12-05 10:48] Yenthe666 commented on #4914
As answered - user itself found a solution.

[2017-12-05 10:48] #4914 closed

[2017-12-05 10:50] Yenthe666 commented on #4910
Hi @ernesto-gm,

Thanks for the response. The official statement was made at https://github.com/odoo/odoo/pull/6485. Quote:

See this with tde, apr or qdp, but I am almost sure.

[2017-12-05 10:50] #4910 closed

[2017-12-05 10:50] Yenthe666 commented on #4893
Hi @mgorny,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-05 10:50] #4893 closed

[2017-12-05 10:51] Yenthe666 commented on #4869
Hi @ludwiktrammer,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:51] #4869 closed

[2017-12-05 10:52] Yenthe666 commented on #4857
Hi @alexis-via ,

Thank you for your bug report.
At this point Odoo 7 and Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 10:52] #4857 closed

[2017-12-05 10:52] Yenthe666 commented on #4856
Hi @10537,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-05 10:52] #4856 closed

[2017-12-05 10:53] Yenthe666 commented on #4853
Hi @lepistone,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 10:53] #4853 closed

[2017-12-05 10:53] Yenthe666 commented on #4845
Hi @emagma,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-05 10:53] #4845 closed

[2017-12-05 10:53] Yenthe666 commented on #4842
Closing as Odoo 8.0 is no longer supported.

[2017-12-05 10:53] #4842 closed

[2017-12-05 10:54] Yenthe666 commented on #4813
Hi @haroldtamo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 10:54] #4813 closed

[2017-12-05 10:54] Yenthe666 commented on #4807
Hi @ccarly ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:54] #4807 closed

[2017-12-05 10:54] Yenthe666 commented on #4789
Hi @R1k0ita,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:54] #4789 closed

[2017-12-05 10:55] Yenthe666 commented on #4788
Hi @scosist,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:55] #4788 closed

[2017-12-05 10:55] Yenthe666 commented on #4781
Hi @alejandroperezcosio ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to

[2017-12-05 10:55] #4781 closed

[2017-12-05 10:55] Yenthe666 commented on #4696
Hi @jobe451,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 10:55] #4696 closed

[2017-12-05 10:56] Yenthe666 commented on #4653
Hi @tafaRU,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-05 10:56] #4653 closed

[2017-12-05 10:56] Yenthe666 commented on #5389
Hi @xrg,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug

[2017-12-05 10:56] #5389 closed

[2017-12-05 11:07] TimLai125 commented on #20665
@tde-banana-odoo Thank you for the reply. I believe it will be better for Odoo to clarify the behavior in the  "Email and Notification" settings, perhaps a help text.

[2017-12-05 11:45] JKE-be commented on #9880
WIP for v9

thx for the patch.

Import picture is not supported by default in Odoo.

[2017-12-05 12:01] Yenthe666 commented on #4058
Haha, I hope that is positive 😄
Feel free to make new bug reports though!

[2017-12-05 12:04] mreficent opened #21440 "psycopg2.IntegrityError"
**Impacted versions:** 11.0 (but possibly all the others)

**Steps to reproduce:**
- Install `account` and `purchase` modules.
- Have a test that creates a partner or a company, and put that test in `account` module, just to be able to execute it after clicking "upgrade" on `account`.
- Click "upgrade" on `account`.

**Current behavior:** During the creation of the partner, as mentioned before, th

[2017-12-05 12:07] pedrobaeza commented on #21440
That's something that can be avoided due to Postgres constraints. The solution is to put your test with
`
from odoo.tests import common

@common.at_install(False)
@common.post_install(True)
class Test(common.*Case)
[code]

[2017-12-05 12:09] Yenthe666 commented on #21440
@pedrobaeza I'm actually curious about this - could you enlighten this a bit please? Why exactly wouldn't this be possible? (feeling nooby here)

[2017-12-05 12:12] ruifranco commented on #21065
Say, rruebner, perhaps you could share your fix anyway. ;)

[2017-12-05 12:12] pedrobaeza commented on #21440
Because the not null constraint is set at DB level. Changing this would need to remove all the constraints at the beginning of the update process, and imagine what this means with partial updates and so on...

[2017-12-05 12:20] Yenthe666 commented on #21065
I believe this was done by intention but I'll let somebody from Odoo itself answer this officially. 😉
@mart-e can you do the honours?

[2017-12-05 12:20] tde-banana-odoo commented on #20665
Well technically it already tells your it handle Chatter notifications. Assignation email is a real email and not a Chatter notification. But I agree it is not clear enough and require a deep understanding of the chatter and mailing mechanism. That is why we are changing the behavior to simplify it as a lot of people have the same question.

[2017-12-05 12:36] #20046 closed

[2017-12-05 12:36] ebirbe opened #21442 "AttributeError: 'JsonRequest' object has no attribute 'website' on odoo.http request"
### Impacted versions:
11.0

### Steps to reproduce:

* Run a database containing `website_sale_stock` module
* `browse()` and `read()` a `product.product` object

### Current behavior:

When the `read()` method is called it throws next error:

[code]

### Expected behavior:

It should return the field values of the record browsed.

### Video/Screenshot link (optional):

I did a PoC with next code

[2017-12-05 12:40] lap-odoo commented on #18561
@yostashiro Thanks for the comments ;-)

For all accounting developments related to specific countries, we ask the help of the partners for different reasons. First, if there are more people to check, there should be less mistakes. Then, they often better know the peculiarities of the country than we do. Moreover, it allows us to work on several localizations at the same time and to bring improvem

[2017-12-05 13:22] xmo-odoo commented on #21440
@pedrobaeza is correct. The issue, if you want to call it that, is global, structural and long-standing: a module A can modify the DB schema such that it becomes incompatible with a module B ('s tests, or the module itself). Until somebody thinks of and implements a workable solution, developers will have to work around the issue somehow.

[2017-12-05 13:22] #21440 closed

[2017-12-05 13:35] #21442 closed

[2017-12-05 13:38] #21127 closed

[2017-12-05 14:08] nehemiascr commented on #21243
I am experiencing the same issue, I have a website that works in odoo 9 but it's not working on odoo 11, same same error
[code]

my .xml file:
[code]

I have other files that load properly, the only difference with this one is that I am making use of qweb template directives, any help is appreciated :)

[2017-12-05 14:29] mreficent commented on #21440
@xmo-odoo well, I opened the issue (yes, I think it's an issue) just to remind everyone reading the issues that this should be fixed someday (without haste). To remind that somebody should think of and implement a workable solution.

With the issue closed, it's not working as a reminder as intended 😕

[2017-12-05 14:38] zdarova commented on #21371
Clear, where can I find the ORM guide with all the python objects and @api I can use with Odoo 11?

The majority of the examples I found are resulting in permission execution lambda error...
On both Odoo 11 Community on-premise and Odoo 11 Enterprise in Cloud.
Thank you

[2017-12-05 14:40] mart-e commented on #21371
You can check the ORM documentation at
https://www.odoo.com/documentation/11.0/reference/orm.html
The backend tutorial also gives some nice tips for beginners to Odoo development
https://www.odoo.com/documentation/11.0/howtos/backend.html

[2017-12-05 14:48] Yenthe666 commented on #21440
Let us atleast label it wishlist so it keeps coming up and functions as a reminder then. 😉

[2017-12-05 14:49] Yenthe666 commented on #21243
@mart-e looks like one for you to handle in the docs.

[2017-12-05 14:53] nehemiascr commented on #21243
I think it may have to do with the [import_xml.rng](https://github.com/odoo/odoo/blob/11.0/odoo/import_xml.rng) file, for instance, [v9](https://github.com/odoo/odoo/blob/9.0/openerp/import_xml.rng) of the file has
[code]
while [v11](https://github.com/odoo/odoo/blob/11.0/odoo/import_xml.rng) of the same file doesn't.
Still, after deleting the `page="True"` property, still getting the same error.

[2017-12-05 15:20] Yenthe666 commented on #17249
@nim-odoo you might want to look at this as it might have broken this because of your commit. (no offense obviously)

[2017-12-05 15:20] icf20 commented on #21261
@Yenthe666 so what it does ?

[2017-12-05 15:21] Yenthe666 commented on #16566
Hi @NL66278,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:21] #16566 closed

[2017-12-05 15:26] Yenthe666 commented on #17515
Hi @xubiuit,

Thanks for your report.
When I look at your screenshot it is doing exactly what it should do though. You're passing along some text as an `EAN13` barcode, while it is not mathematically correct.
Example with text:
![image](https://user-images.githubusercontent.com/6352350/33614863-c3f2f44a-d9d8-11e7-9486-228d574fe489.png)
Doing the same with a valid EAN13 (for example "0075678164125"

[2017-12-05 15:26] #17515 closed

[2017-12-05 15:26] qsm-odoo commented on #21243
Hello,

`page="True"` is indeed not the correct way to define pages in 11.0 anymore and will prevent loading `<template/>` data correctly. We should update the doc about that.

In 11.0, website pages have their own model (`website.page`) and are not simple `ir.ui.view` records anymore. To define a page, there are two ways:
[code]
or:
[code]

Both ways are fine. The first one has the advantage to d

[2017-12-05 15:34] Yenthe666 commented on #5619
Hi @santiago-orozco,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to creat

[2017-12-05 15:34] #5619 closed

[2017-12-05 15:35] Yenthe666 commented on #5597
Hi @dsabrinarg,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 15:35] #5597 closed

[2017-12-05 15:35] Yenthe666 commented on #5594
Hi @NicolasWebDev,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-05 15:35] #5594 closed

[2017-12-05 15:36] Yenthe666 commented on #5458
Hi @clb-openfire ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you t

[2017-12-05 15:36] #5458 closed

[2017-12-05 15:36] eng-eslam-a-y commented on #21403
thanks

[2017-12-05 15:37] Yenthe666 commented on #5469
Hi @gurneyalex,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:37] #5469 closed

[2017-12-05 15:38] Yenthe666 commented on #5457
Hi @Sameer1990 ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
I've just tested this on V9 and it seems to work fine. If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report though!

Regards,
Yenthe

[2017-12-05 15:38] #5457 closed

[2017-12-05 15:39] Yenthe666 commented on #5440
Hi @Yajo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug

[2017-12-05 15:39] #5440 closed

[2017-12-05 15:40] Yenthe666 commented on #5435
Hi @hugho-ad,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-12-05 15:40] #5435 closed

[2017-12-05 15:40] Yenthe666 commented on #5437
Hi @tanmaysathe ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-05 15:40] #5437 closed

[2017-12-05 15:40] Karsten-77 commented on #21423
@rdeodoo Why you tag as wishlist. I would say it undermines the odoo pattern, when the param is not appended, when the developer mode is activated. Its an important feature for odoo for its customization, when submodules not does, the feature breaks and isnt complete anymore.

[2017-12-05 15:41] Yenthe666 commented on #5442
Hi @imjaypatel,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to c

[2017-12-05 15:41] #5442 closed

[2017-12-05 15:41] Yenthe666 commented on #5430
Hi @RaffaeleT,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 15:41] #5430 closed

[2017-12-05 15:41] Yenthe666 commented on #5421
Hi @rachkulik,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 15:41] #5421 closed

[2017-12-05 15:41] Yenthe666 commented on #5574
Hi @diddlboy,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:41] #5574 closed

[2017-12-05 15:42] Yenthe666 commented on #5557
Hi @maljac,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-05 15:42] #5557 closed

[2017-12-05 15:43] Yenthe666 commented on #5492
Hi @tuomoaura,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 15:43] #5492 closed

[2017-12-05 15:44] Yenthe666 commented on #5483
Hi @tafaRU,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:44] #5483 closed

[2017-12-05 15:44] Yenthe666 commented on #5413
Hi @ccandito,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:44] #5413 closed

[2017-12-05 15:45] Yenthe666 commented on #5407
Hi @fclementic2c,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-05 15:45] #5407 closed

[2017-12-05 15:45] Yenthe666 commented on #5402
Hi @alexis-via,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 15:45] #5402 closed

[2017-12-05 15:45] Yenthe666 commented on #5397
Hi @a0c,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:45] #5397 closed

[2017-12-05 15:46] Yenthe666 commented on #5396
Hi @Elghard,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:46] #5396 closed

[2017-12-05 15:46] Yenthe666 commented on #5385
Hi @rizaldim,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:46] #5385 closed

[2017-12-05 15:46] Yenthe666 commented on #5381
Hi @pablocm-aserti,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-05 15:46] #5381 closed

[2017-12-05 15:47] Yenthe666 commented on #5372
Hi @funkring ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 15:47] #5372 closed

[2017-12-05 15:47] Yenthe666 commented on #5371
Hi @clonedagain,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:47] #5371 closed

[2017-12-05 15:48] Yenthe666 commented on #5363
Hi @funkring ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 15:48] #5363 closed

[2017-12-05 15:48] Yenthe666 commented on #5357
Hi @bidossessi,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 15:48] #5357 closed

[2017-12-05 15:48] Yenthe666 commented on #5344
Hi @alexis-via,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-05 15:48] #5344 closed

[2017-12-05 15:49] Yenthe666 commented on #5336
Hi @ccandito,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:49] #5336 closed

[2017-12-05 15:51] Yenthe666 commented on #5332
Hi @moylop260,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
As Odoo 9 and newer have the new API it shouldn't be any problem anymore.

Regards,
Yenthe

[2017-12-05 15:51] #5332 closed

[2017-12-05 15:51] Yenthe666 commented on #5313
Hi @missilefish,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:51] #5313 closed

[2017-12-05 15:52] Yenthe666 commented on #5256
Hi @coleste,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-05 15:52] #5256 closed

[2017-12-05 15:52] Yenthe666 commented on #5248
Hi @tvibliani,

Thank you for your bug report.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:52] #5248 closed

[2017-12-05 15:52] Yenthe666 commented on #5247
Hi @lepistone,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-05 15:52] #5247 closed

[2017-12-05 15:55] Yenthe666 commented on #5237
Hi @moylop260,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-05 15:55] #5237 closed

[2017-12-05 15:56] Yenthe666 commented on #5225
Hi @n1b0r,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-05 15:56] #5225 closed

[2017-12-05 15:57] Yenthe666 commented on #21423
I do agree it can be annoying honestly. @JKE-be for interest of you too.

[2017-12-05 16:01] JKE-be commented on #21423
We agree that it's an annoying behaviour and that it will be a nice feature to keep the params from form to form. But because IMHO it was not supported before, it is not really an issue.

When we will have some time to implement this feature, we will do it.
Meanwhile, PR is welcome ;)

[2017-12-05 16:56] Karsten-77 opened #21448 "[11.0] website_sale with caching problems"
Impacted versions: 11

Steps to reproduce:
1. Create a fresh new database with demodata
2. Install website_sale
3. Use another browser or logout and delete all cockies and sessions
4. Buy something and process checkout -> first time will work without any issue
5. After first buying, make another buying and process checkout

Current behavior:
seems as that the partner_id is not stored for session,

[2017-12-05 19:45] vcloud9ray commented on #21400
@Yenthe666 - understood.  I logged all the details via GITBUG because it was easier than using the Enterprise Bug submission form.

[2017-12-05 20:35] Yenthe666 commented on #21400
I know right? I do exactly the same. Keep up the good work.

[2017-12-05 22:18] kazacube-ahmed commented on #4914
Hi #pvanthony,

I didn't use any feature. we bought G-suit acount and had configur gmail smtp relay as outgoing server (note that you shoold configur odoo ip server in g-suit white list ).
I had tested the ko_mail_smtp_per_user feature, it was helpful too 👍
https://www.odoo.com/apps/modules/8.0/tko_mail_smtp_per_user/

Thanx

[2017-12-05 22:22] JKE-be commented on #21448
Hi

Could you details:

the address informations from first buying is used, when not doing a force refresh

Thx

[2017-12-06 00:38] barry1955 commented on #16828
I am new to Odoo.
We are using the bitnami odoo stack.
I do not get the setting page described in most of the answers I have seen online.
I have checked on the server and while I can find the Etherpad python files, I am at a loss at hoe to use it.
What I want is to use the same text editor as we use for internal notes. It works and is good look and feel.
Can I reset Odoo to use only one text edito

[2017-12-06 03:19] gdgellatly opened #21452 "[Enterprise 11.0] Account Reports - incorrect company name on report in multicompany"
Impacted versions: 11.0e

Sorry, just easier to raise here than the ticket thing. @qdp-odoo ?

Steps to reproduce:
Tested in runbot on General Ledger Report but its fairly inherited so I imagine all reports affected.
Add admin user to MyCompany.
Go to General Ledger Report
Deselect your company, select mycompany

Current behavior:
Report still says YourCompany

Expected behavior:
Report says MyCom

[2017-12-06 03:36] mhamra opened #21453 "_search method with one2many with auto_joins field shows wrong results"
Impacted versions: 8 (i don't know if this problem ocurs in higher versions)

Steps to reproduce: trying to search on a one2many relation field marked with auto_join produces duplicated ids in search result list. For example using a class.search([('one2many_field.foreign_field', '>', 1)], order_by='class_field ASC') makes duplicated class.id field

Current behavior: duplicated ids are eliminated f

[2017-12-06 04:54] infinity-solutions commented on #4920
Hi @Yenthe666, the same construct is used in v9.0 as well: https://github.com/odoo/odoo/blob/ce038f5d1531107a1e45fd867de42e82940babdb/openerp/osv/expression.py#L833, so I guess it is still the case for v9.0.

It does seemed to be handled more properly starting from v10.0 (https://github.com/odoo/odoo/blob/dc5755698cc41e0c5f51ab5dccee1356a0f23a3f/odoo/osv/expression.py#L857) but unfortunately I hav

[2017-12-06 04:57] niecw commented on #4920
Hi @Yenthe666, the same construct is used in v9.0 as well:
https://github.com/odoo/odoo/blob/ce038f5d1531107a1e45fd867de42e82940babdb/openerp/osv/expression.py#L833
So I guess it is still the case for v9.0.

It does seemed to be handled more properly starting from v10.0:
https://github.com/odoo/odoo/blob/dc5755698cc41e0c5f51ab5dccee1356a0f23a3f/odoo/osv/expression.py#L857
Unfortunately I have not

[2017-12-06 06:04] pakiza-asim opened #21456 "Error while installing Inventory Module Odoo 11"
Impacted versions:
11
Steps to reproduce:
app -> Inventory Module ->install
Current behavior:
display Error message after some processing.
Expected behavior:
Setup Inventory Module
Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/26475715/33647127-1e2d021a-da75-11e7-8615-796050add48a.png)

Error:
Odoo Server Error

[2017-12-06 07:22] Yenthe666 commented on #4920
@mart-e I see the context isn't passed along for example, should we still have a look at this for V9?

[2017-12-06 07:34] Yenthe666 commented on #21452
Hi @gdgellatly,

Thanks for the report.
What I usually do is create a bug report here and then simply paste the URL in the official bug report. The thing is that nobody is obligated to answer / fix these bug reports, while they are with the official bug reports. (no offense to the guys from Odoo obviously).
Anyways, (@)qdp-odoo will answer when he comes around I guess.

Regards,
Yenthe

[2017-12-06 07:41] Yenthe666 commented on #21456
Hi @pakiza-asim,

Thanks for your report.
I've just tried this on a fresh install from today and installing the modules work just fine.
Are you doing this with the latest source code? Have you tried updating your source code? Can you reproduce it on a runbot (runbot.odoo.com)?

Regards,
Yenthe

[2017-12-06 07:48] Yenthe666 commented on #21453
Hi @mhamra,

Thanks for your report.
Odoo 8 is no longer a long term stable version though. Odoo 9, Odoo 10 and Odoo 11 are the only stable versions that are supported at the moment.

Regards,
Yenthe

[2017-12-06 07:48] #21453 closed

[2017-12-06 07:48] ntttue commented on #10566
2017-12-06 14:32:29,496 14588 ERROR Quiz odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "D:\Odoo10\quizmanagement\odoo\odoo\http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\Odoo10\quizmanagement\odoo\odoo\addons\base\ir\ir_http.py", line 177, in _dispatch
    rule, arguments = cls._fin

[2017-12-06 08:02] nim-odoo commented on #21418
I can't reproduce this on latest runbot. Anyway, this traceback means that there would be more than one default value for a partner's lang... which should not be the case.

[2017-12-06 08:16] Yenthe666 commented on #21418
Hi @nim-odoo,

Nope - it seems to be fixed in the meanwhile. Tested it on two runbots two days ago and both failed. Today I've tested on two new runbots and now it is working. Thanks.

[2017-12-06 08:27] Karsten-77 commented on #21448
When you doing the second buying, then at the position where you have normally to enter your address, is still filled with the address of the first buying. I think cause its cached from browser.
We are talking about a guest. Means the buying user is not logged in.

[2017-12-06 08:30] Yenthe666 commented on #21418
Actually, no the bug is still there. We just figured out there is another step. You first need to set the just installed language to a customer and then try to deactive the language.
Latest runbot 10:
![image](https://user-images.githubusercontent.com/6352350/33651958-dd14b8f2-da67-11e7-8497-a268b1785000.png)

Customer:
![image](https://user-images.githubusercontent.com/6352350/33652026-1b8c9de8-d

[2017-12-06 08:34] nim-odoo commented on #21418
Should be fixed with #21460

[2017-12-06 08:38] Yenthe666 commented on #21418
@nim-odoo great, thanks! On a sidenote: If you do the same behaviour in V11 it does it a bit different:
- Install new language
- Add this new language to a user
- Deactivate language
It will work but the language is still set on the customer. What will happen from a functional point of view with this though? Is this absolutely intended?

[2017-12-06 09:01] ntttue commented on #15830
I have the same error! in odoo 10.
1- Create dabase.
2- activate developer mode
3- install Material module
4- Go to localhost:8999/web
![screenshot_9](https://user-images.githubusercontent.com/6711997/33653136-8edc3912-da9e-11e7-8f3b-2edcc5006a95.png)

[2017-12-06 09:12] fardnia commented on #19627
this problem occurred after install some add-on s or apps or modules . for solving this problem go to odoo  add-on s directory in server  and remove folder of your last installed apps or modules . after this work restart odoo service and then all things is  true . :)

[2017-12-06 09:15] Yenthe666 opened #21462 "[10.0] Deinstalling and reinstalling MRP in demo database causes constraint error"
Impacted versions: 10.0

Steps to reproduce:
- Install an Odoo 10 with demo data and MRP (default runbot)
- Deinstall the `MRP` module
- Reinstall the `MRP` module
You'll be greated by a traceback:
![image](https://user-images.githubusercontent.com/6352350/33653606-d9b314d2-da6d-11e7-8c11-95d450e9979d.png)

Current behavior: Traceback about a constraint

Expected behavior: Succesfull installation

[2017-12-06 09:18] nim-odoo commented on #21418
That'll still be the case in v10 after the fix. This part of code simply removes the deactivated language as the default value. From a functional PoV, it will switch to English since the language set on the user cannot be found.

[2017-12-06 09:25] Yenthe666 commented on #21418
Thanks for the feedback. I believe that from a functional PoV this is probably not great.

Imagine that I have a database with five languages and 3.000 customers. From those 3.000 customers 500 of them are using Dutch, the language that I wish to deactivate.
After I've deactivated the language I have 500 customers with a language set to Dutch which I, as an enduser, still believe is correct. Howev

[2017-12-06 09:30] mart-e commented on #4920
Sorry but we are very unlikely to correct a corner case issue in expression.py in 9.0. Too risky for a stable version.

[2017-12-06 09:34] pakiza-asim commented on #21456
I am sorry I forget to mention that I am using
"bitnami-odoo-11.0.20171118-2-linux-debian-8-x86_64"  on virtual box.

Regards,

Pakiza Beenish Rana
Senior Web Developer
Skype: pakiza.rana

On Wed, Dec 6, 2017 at 12:41 PM, Yenthe V.G <notifications@github.com>
wrote:

[2017-12-06 09:49] Yenthe666 commented on #21456
Hi @pakiza-asim,

Please do answer the other questions too. We really need some more info.

[2017-12-06 10:04] pakiza-asim commented on #21456
Thanks for your quick response.
I am working with fresh install. I have done following changes to acess db from pgadmin.

Edit the file /opt/bitnami/postgresql/data/pg_hba.conf and add the following at the end
host all all all md5
Edit the file /opt/bitnami/postgresql/data/postgresql.conf and replace this line
listen_address='127.0.0.1'
with:
listen_addresses = '*'

I have installed eCommerce app,

[2017-12-06 10:08] Yenthe666 commented on #21357
Handled in https://github.com/odoo/odoo/commit/b2f0af4543293350365a43893f9184e0a8669b48

[2017-12-06 10:08] #21357 closed

[2017-12-06 10:31] Yenthe666 commented on #21462
@Elkasitu OPW 786790 by the way. 😉

[2017-12-06 10:44] nim-odoo commented on #21418
Nope, it will appear as "Unknown" in the partner form view.

[2017-12-06 10:55] jlzhou opened #21465 "[11.0] Blank screen after reloading activities document page"
**Impacted versions:**
11.0 CE

**Steps to reproduce:**
Install an arbitrary module which uses new activity feature in mail module.
Create an activity record in the module assigning to current user with other arbitrary values.
Click the activity notification icon at right top corner in the page to drop down the activity menu.
Click the sub item in the menu that showing activities counter.
The page

[2017-12-06 11:01] qsm-odoo commented on #20778
@Yenthe666 For editor errors, you can ping me instead of @ged-odoo, most of the time I will handle those bugs anyway :wink:

There were some bug fixes concerning that media dialog recently. I think the traceback bug is gone. I also already know about the two-steps problem and can confirm it is a regression as it did not happen in previous versions. I will try to fix this as soon as possible.
@kebe

[2017-12-06 11:03] #21418 closed

[2017-12-06 11:07] qsm-odoo commented on #19577
@nle-odoo

[2017-12-06 11:19] jlzhou opened #21466 "[11.0] Activities counter doesn't refresh after deadline changed"
Impacted versions:
11.0

Steps to reproduce:
Change an activity deadline date from future to today.

Current behavior:
The counter on the top right corner doesn't change except clicking on it.

Expected behavior:
The counter on the top right corner should +1.

[2017-12-06 11:45] Elkasitu commented on #21462
@Yenthe666 Bug seems unrelated to MRP, all modules inheriting from mail.thread seem to have the same behaviour... Unlucky, will investigate further :^)

[2017-12-06 11:48] pakiza-asim commented on #21456
Thanks Yenthe,  I found the solution. Virtual box will break the connected port when system get idle so the server did not respond correctly and could not complete the install process. I start with a fresh copy of ODOO Server if system get idle I logout from server then restart the server from virtual box. so it works seamlessly. Hope it help others.

[2017-12-06 12:03] nle-odoo commented on #19577
I had a trial solution for this issue in this pull request to remove "wrong" things from editor if it was set on phrasing element (eg. `<p t-field="..."/>`) : https://github.com/odoo/odoo/pull/20230

But after discussions, something similar has happend previously and currently the way to solve issue like this is:

* on the instance with the issue: edit the view to transform the phrasing element in

[2017-12-06 12:03] #19577 closed

[2017-12-06 12:07] #21456 closed

[2017-12-06 12:08] Yenthe666 commented on #21456
Thanks for the feedback & answering yourself!

[2017-12-06 12:12] Karsten-77 commented on #21448
@JKE-be This caching problems also exist, when you force reload "Billing&Shipping". After enter a new Address, you cannot reach payment, cause /shop/confirm_oder and /shop/payment are cached too.

Request URL:http://dev.tomws.ddnss.de/shop/confirm_order
Request Method:GET
Status Code:302 FOUND (from disk cache)
Remote Address:91.13.107.191:80
Referrer Policy:no-referrer-when-downgrade
Response Hea

[2017-12-06 12:17] flotho opened #21468 "[10.0]negative values are not interpreted in wkhtml reports"
Impacted versions:
latest v10 release up to date from git

Steps to reproduce:
add a negative unit price in a quotation
print the pdf

Current behavior:
negative values don't appear in the report

Expected behavior:
negative symbol must appear

[2017-12-06 12:23] gaelTorrecillas commented on #21468
hello,

we have two screens:
- view in Odoo, we have the negative values :
![view](https://user-images.githubusercontent.com/16572874/33661489-6d38c944-da88-11e7-83f2-42ece22ab92f.png)

- PDF, we don't have our negative values
![quote](https://user-images.githubusercontent.com/16572874/33661488-6d1982d2-da88-11e7-805a-1b2d7c98a490.png)

[2017-12-06 12:26] Yenthe666 commented on #21468
Duplicate of https://github.com/odoo/odoo/issues/17093

[2017-12-06 12:26] #21468 closed

[2017-12-06 12:27] Yenthe666 commented on #17093
@sle-odoo could you give an update please?

[2017-12-06 12:28] flotho commented on #17093
Hi @Yenthe666 thanks for pointing this one.
@sle-odoo , any special font could be needed ?

[2017-12-06 12:40] Karsten-77 commented on #21448
I have observed, that there is also a problem with logged in user.
Try to buy 2 or more times the same product with same quantity, you will everytime land on same order confirmation. No new order is created, also not when payment is confirmed from order before. You will every time stay in same order.

[2017-12-06 12:41] Karsten-77 commented on #21448
When you only change the payment method, you will get as result one order with multiple transactions.

[2017-12-06 13:00] qsm-odoo commented on #18465
@kebeclibre

[2017-12-06 13:01] Yenthe666 commented on #20667
Hi @htr-odoo,

Thank you for your report. I've just tried the exact same thing on the latest Odoo 10 and it worked without any issues.
Original adress in the backend:
![image](https://user-images.githubusercontent.com/6352350/33662897-ed3a6ff8-da8d-11e7-92a1-ecc87c28c77d.png)

New frontend shipping address:
![image](https://user-images.githubusercontent.com/6352350/33662863-cc38c5fc-da8d-11e7-8da5

[2017-12-06 13:01] #20667 closed

[2017-12-06 13:02] qsm-odoo commented on #20778
I guess we can keep this opened while the upload behavior is not fixed :)

[2017-12-06 13:02] Yenthe666 commented on #18465
@qsm-odoo could you check the ENT ticket at 760279? Perhaps it has been handled but hasn't this been closed here?

[2017-12-06 13:02] Yenthe666 commented on #20778
Alright! Thanks for the feedback.

[2017-12-06 13:09] Yenthe666 commented on #20877
@qsm-odoo probably for you.

[2017-12-06 13:09] sle-odoo commented on #17093
I don't have any update for this sadly, as i'm not able to reproduce the issue. Could you please share with us your deployment's detail? It seems like a fontconfig issue, but with a classical install of any recent debian or ubuntu it should work properly.

[2017-12-06 13:09] qsm-odoo commented on #18465
That's why I pinged Lucas just before, I think he solved this :wink:

[2017-12-06 13:10] Yenthe666 commented on #20887
Friendly reminder @tde-banana-odoo 😄

[2017-12-06 13:12] Yenthe666 commented on #18465
Awesome - thank you!

[2017-12-06 13:15] benwillig commented on #18465
This has been fixed in https://github.com/odoo/odoo/commit/ac3bfee8f387a43dea00dc9054fc744152922261

[2017-12-06 13:17] Yenthe666 commented on #21243
Actually quite the same as https://github.com/odoo/odoo/issues/20772 although the other report is not about the documentation.

[2017-12-06 13:18] Yenthe666 commented on #20772
Hi @dantvalan,

I'm closing this bug report in favour of https://github.com/odoo/odoo/issues/21243
It has been confirmed there and it is desired behaviour.
In short: don't use `page=True` and the documentation will be adjusted accordingly.

[2017-12-06 13:18] #20772 closed

[2017-12-06 13:18] #18465 closed

[2017-12-06 13:21] Yenthe666 commented on #20924
@qdp-odoo could you check please?

[2017-12-06 13:27] Yenthe666 commented on #20405
OPW 786866

[2017-12-06 13:31] KomarovAlea commented on #21396
I'm sorry, I explained it wrong. The word "condition" is inappropriate here.
Of course, this is not a mistake.
That's what I meant.
[https://ibb.co/bvfsxw](url)

[2017-12-06 13:35] KomarovAlea commented on #21396
[code]
0_o

[2017-12-06 13:38] Yenthe666 commented on #20786
No longer a bug - it has been fixed in the meanwhile.

[2017-12-06 13:38] #20786 closed

[2017-12-06 13:39] #13870 closed

[2017-12-06 13:47] Yenthe666 commented on #20005
OPW 786869

[2017-12-06 13:47] Yenthe666 commented on #17337
Yep - agreed.

[2017-12-06 13:47] #17337 closed

[2017-12-06 13:54] Yenthe666 commented on #21351
On a sidenote: it seems to work fine out of the box on V11 ENT.
Probably relevant to @JKE-be too.

[2017-12-06 13:57] qsm-odoo commented on #9451
In 9.0, the issue is solved individually in some themes. In 10.0, this bug should be solved automatically everywhere. Not sure this is still worth a fix in 9.0... I will see.

[2017-12-06 13:57] Karsten-77 commented on #21448
@JKE-be Could you set this to high priority and critical, cause would like to roll out odoo11 with website_sale, but for production and also  developing website_sale seems unusable.

[2017-12-06 13:58] mart-e commented on #21065
I assume it is indeed posted as the admin as it is usually done for automated actions.
But what which notification email are you talking about? Sent in which context?

[2017-12-06 14:00] Yenthe666 commented on #21448
@Karsten-77 if you do have an enterprise license I suggest you to make a an official ticket. You can escalate bug reports there. If it is for the community and you don't have an enterprise version it is a best effort from the developers.

[2017-12-06 14:04] Karsten-77 commented on #21448
@Yenthe666 Sorry, iam not the owner of an enterprise licence, but when the enterprise module is in same condition, it will effect it too. I reporting this to help any user independent of any licence.

[2017-12-06 14:06] Yenthe666 commented on #21448
I understand. @JKE-be always does his best to help as fast as he can though.

[2017-12-06 14:17] flotho commented on #17093
Maybe this one could help : https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3017

[2017-12-06 14:22] ruifranco commented on #21065
@mart-e , this happens with the emails sent using chatter (no template chosen).

A company I work for gets spam alerts because, rather than using the "from" address they've defined in the default template, odoo uses the user's email as "from". They've managed to overcome this with some server-side email configurations but all would have worked in the first place should the chatter emails be sent u

[2017-12-06 14:25] JKE-be commented on #21448
Hi @Karsten-77

Just to be sure that it is not your own nginx server that add the cache header...
Could you reproduce your bug on runbot: http://runbot.odoo.com/runbot/1/11.0 (and record it if possible plz). We don't touch the cache recently, so it is strange that it appears suddenly)

Waiting for your feedback

Thanks.

[2017-12-06 14:39] qsm-odoo commented on #6540
Hello,
Sorry we could not handle this bug when it was reported. Unfortunately, we are so late that the 8.0 version is now unsupported. If you still have a similar issue in 9.0 or higher, please do not hesitate to report it and ping me.

[2017-12-06 14:39] #6540 closed

[2017-12-06 14:41] qsm-odoo commented on #7126
Hello,
Sorry we could not handle this bug when it was reported. I cannot reproduce this in supported versions. If you still have a similar issue in 9.0 or higher, please do not hesitate to report it and ping me.

[2017-12-06 14:41] #7126 closed

[2017-12-06 14:42] Yenthe666 commented on #2583
Hi @tv-openbig ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-06 14:42] #2583 closed

[2017-12-06 14:42] Yenthe666 commented on #2592
Hi @richard-willdooit,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-12-06 14:42] #2592 closed

[2017-12-06 14:42] JKE-be commented on #21351
I cannot reproduce.

[code]

Please provide more information

[2017-12-06 14:42] Yenthe666 commented on #2577
Hi @litnimax,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 14:42] #2577 closed

[2017-12-06 14:42] Yenthe666 commented on #2578
Hi @tv-openbig,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-06 14:42] #2578 closed

[2017-12-06 14:43] Yenthe666 commented on #2564
Hi @infomate ,

This was made like this, it simply wasn't added.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report. We could then label it as wishlist and might add it.

Regards,
Yenthe

[2017-12-06 14:43] #2564 closed

[2017-12-06 14:43] qsm-odoo commented on #7275
Hello,
I hope you were able to solve the issue. As I see that the bug appeared in 8.0 which is now unsupported, I am closing the issue. If you still have a similar issue in 9.0 or higher, do not hesitate to report it and ping me.

[2017-12-06 14:43] #7275 closed

[2017-12-06 14:47] qsm-odoo commented on #7872
Hello,
Sorry we were not able to look at this issue at the time. As I see that the bug was reported for the 8.0 version which is now unsupported, I am closing the issue. Do not hesitate to report any similar issue if happening in 9.0 or higher and ping me.

[2017-12-06 14:47] #7872 closed

[2017-12-06 14:49] Yenthe666 commented on #2521
Hi @fclementic2c,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-06 14:49] #2521 closed

[2017-12-06 14:50] Yenthe666 commented on #2479
Should have been handled (as beledouxdenis said) and as V8 is no longer supported this can be closed.

[2017-12-06 14:50] #2479 closed

[2017-12-06 14:53] Yenthe666 commented on #3255
Hi @davidbru,

I don't believe there is one in Odoo (sorry for the very late reply).
You're better of asking these kind of questions on the official help forums at odoo.com/help in the future. The Github issue tracker is only for bugs in the code really.

Regards,
Yenthe

[2017-12-06 14:53] #3255 closed

[2017-12-06 14:53] Yenthe666 commented on #3226
This has been handled in https://github.com/odoo/odoo/commit/4bf9dc4078a5ca413539a6fd16400fd5aad46907 but nobody ever closed this.

[2017-12-06 14:53] #3226 closed

[2017-12-06 14:55] qsm-odoo commented on #18973
Hello,
Sorry it seems that I forgot about this issue. I recently did some website_sign related fixes, do you still have the issue with an updated installation ?
Again, sorry for the delay.

[2017-12-06 14:58] flotho commented on #19769
Hi @labcrm , it looks like you're missing a font

[2017-12-06 14:59] Yenthe666 commented on #3206
Hi @sbuttgereit,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-06 14:59] #3206 closed

[2017-12-06 14:59] Yenthe666 commented on #3215
Hi @rba-odoo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 14:59] #3215 closed

[2017-12-06 15:00] Yenthe666 commented on #3202
Hi @foutoucour,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-06 15:00] #3202 closed

[2017-12-06 15:00] Yenthe666 commented on #3166
Hi @oliverzgy,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cr

[2017-12-06 15:00] #3166 closed

[2017-12-06 15:03] flotho commented on #17093
Hi,
Installing the fonts dejavu solve my issue :
[code]

[2017-12-06 15:03] Yenthe666 commented on #3180
Hi @mhapponen,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-06 15:03] #3180 closed

[2017-12-06 15:03] Yenthe666 commented on #3163
Hi @jeffery9,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:03] #3163 closed

[2017-12-06 15:04] Yenthe666 commented on #3154
Hi @pja-odoo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:04] #3154 closed

[2017-12-06 15:04] sbuttgereit commented on #3206
Quite OK.  I stopped using Odoo ages ago.

[2017-12-06 15:04] Yenthe666 commented on #3077
Hi @mcassuto,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:04] #3077 closed

[2017-12-06 15:04] Yenthe666 commented on #3063
Hi @rainberg,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:04] #3063 closed

[2017-12-06 15:06] Yenthe666 commented on #3206
Sorry to hear - you might want to look at V11, it has grown quite a bit. 😉

[2017-12-06 15:06] Yenthe666 commented on #17093
@nmeen could you try this too please?

[2017-12-06 15:07] Yenthe666 commented on #3012
Hi @ccandito,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:07] #3012 closed

[2017-12-06 15:11] Yenthe666 commented on #2697
Hi @rdeheele,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:11] #2697 closed

[2017-12-06 15:12] Yenthe666 commented on #2690
Hi @ferdiga ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-12-06 15:12] #2690 closed

[2017-12-06 15:12] Yenthe666 commented on #2687
Hi @ferdiga,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to crea

[2017-12-06 15:12] #2687 closed

[2017-12-06 15:14] Yenthe666 commented on #2665
Hi @LeartS,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to creat

[2017-12-06 15:14] #2665 closed

[2017-12-06 15:15] Yenthe666 commented on #2641
Hi @santosrody,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-12-06 15:15] #2641 closed

[2017-12-06 15:15] Yenthe666 commented on #2675
Hi @jlaloux,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-06 15:15] #2675 closed

[2017-12-06 15:15] Yenthe666 commented on #2629
Hi @tsabi,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-12-06 15:15] #2629 closed

[2017-12-06 15:16] RealJaJaAdmin commented on #16949
This issue still exists in the latest odoo 10

[2017-12-06 15:16] Yenthe666 commented on #2553
Hi @jni-odoo,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:16] #2553 closed

[2017-12-06 15:17] Yenthe666 commented on #2545
Hi @leotran,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-06 15:17] #2545 closed

[2017-12-06 15:18] Yenthe666 commented on #2466
Hi @infomate,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:18] #2466 closed

[2017-12-06 15:18] Yenthe666 commented on #2465
Hi @infomate,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:18] #2465 closed

[2017-12-06 15:19] Yenthe666 commented on #2457
Hi @bringsvor,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-06 15:19] #2457 closed

[2017-12-06 15:19] Yenthe666 commented on #2455
Hi @ftribrunn,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-12-06 15:19] #2455 closed

[2017-12-06 15:19] Yenthe666 commented on #2456
Hi @roccocesetti,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-06 15:19] #2456 closed

[2017-12-06 15:22] RealJaJaAdmin commented on #16949
Fixed it by running `pip install Jinja2` and restart the odoo server

[2017-12-06 15:25] Yenthe666 commented on #16949
Hi @kortibu and @RealJaJaAdmin,

Which OS are you using? Is this a preconfigured installer? The dependency is in the `requirements.txt` so if you install it yourself it is your responsibility.
CC @d-fence

[2017-12-06 15:25] Yenthe666 commented on #2782
Hi @santiago-orozco,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-06 15:25] #2782 closed

[2017-12-06 15:26] F3000 opened #21473 "Language refresh"
I have translated some strings in transifex. when i can see them in the build ?

[2017-12-06 15:26] Yenthe666 commented on #2751
Hi @litnimax,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:26] #2751 closed

[2017-12-06 15:27] Yenthe666 commented on #2984
Hi @amsys ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new b

[2017-12-06 15:27] #2984 closed

[2017-12-06 15:27] Yenthe666 commented on #2986
Hi @xaquinrosales,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-06 15:27] #2986 closed

[2017-12-06 15:28] Yenthe666 commented on #2995
Indeed - not a bug but a setting. Closing as this was already answered.

[2017-12-06 15:28] #2995 closed

[2017-12-06 15:28] F3000 opened #21474 "Apps overview page"
Odoo 11 latest build

some of the app introduction pages are only filled with one sentence . Not very nice

![contacts](https://user-images.githubusercontent.com/8161283/33669321-6a32ca64-daa2-11e7-9f3d-0c47ba1aec40.PNG)

And where i can find the strings to translate the phrases on every app information page ?

[2017-12-06 15:30] Yenthe666 commented on #21473
Hi @F3000,

Synchronisation of the terms happens every once in a while. For V11 this should be about once a week and normally this is on a sunday.
More info at https://github.com/odoo/odoo/wiki/Translations#when-will-my-translations-appear-in-the-software-or-in-github
(@mart-e we should update the wiki as it doesn't mention 11.0 yet)

Regards,
Yenthe

[2017-12-06 15:30] #21473 closed

[2017-12-06 15:31] ruifranco commented on #21065
@mart-e , yes: if the chatter messages follow a default template, than, they should be sent using the "from" email address in the template rather than the user's (that's the way email templates work).

[2017-12-06 15:32] Yenthe666 commented on #21474
Hi @F3000,

By default these pages can't be translated at the moment. For more information you can find the whole topic at https://github.com/odoo/odoo/issues/11721
As for the text.. while it doesn't look great it is not really a bug.
FYI @mart-e

Regards,
Yenthe

[2017-12-06 15:32] #21474 closed

[2017-12-06 15:33] Yenthe666 commented on #3004
Hi @jobiols,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to crea

[2017-12-06 15:33] #3004 closed

[2017-12-06 15:33] Yenthe666 commented on #3003
Hi @alexis-via,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-06 15:33] #3003 closed

[2017-12-06 15:34] Yenthe666 commented on #2956
Hi @matt454357,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to c

[2017-12-06 15:34] #2956 closed

[2017-12-06 15:35] qsm-odoo commented on #6776
Hello,
Thank you for your bug report, sorry we did not handle it earlier. The issue is in fact a general issue of our framework and will so be fixed as soon as possible.

cc @JKE-be @ged-odoo @aab-odoo

[2017-12-06 15:35] Yenthe666 commented on #2935
Hi @fclementic2c,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-06 15:35] #2935 closed

[2017-12-06 15:36] Yenthe666 commented on #2911
Hi @jeffery9,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:36] #2911 closed

[2017-12-06 15:36] F3000 commented on #21474
Thanks for the answer. Also i see every time there is an update "Aktualisieren" . But when i want to install ist , there isnt an update.

cam you fix that ?

[2017-12-06 15:37] RealJaJaAdmin commented on #16949
@Yenthe666 this is a preconfigured installer, followed the installation instruction on the odoo website

[2017-12-06 15:37] Yenthe666 commented on #21474
@F3000 not really a bug. You first have to fetch the updates and then update the module(s). 😉

[2017-12-06 15:38] Yenthe666 commented on #2778
Hi @hengkysipocs,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-06 15:38] #2778 closed

[2017-12-06 15:41] Yenthe666 commented on #21474
@F3000 this depends on what OS and how you've installed the Odoo. Usually this is done with a `git fetch origin` and then the Odoo is usually updated from the terminal with `./odoo-bin -u all -c /etc/odoo-server.conf` for example. Have a look at the docs (for example https://www.odoo.com/documentation/10.0/setup/install.html)

[2017-12-06 15:41] F3000 opened #21475 "modern looking"
odoo 11 latest build

![view](https://user-images.githubusercontent.com/8161283/33669963-2163595a-daa4-11e7-98eb-d1696fe68c71.PNG)

where can i chage the optic of the site ?

At the moment my odoo is looking like this
![view2](https://user-images.githubusercontent.com/8161283/33670035-5210b0de-daa4-11e7-883e-8cffd31faaa7.PNG)

[2017-12-06 15:43] qsm-odoo commented on #6541
Hello, same as #6540,
Sorry we could not handle this bug when it was reported. Unfortunately, we are so late that the 8.0 version is now unsupported. If you still have a similar issue in 9.0 or higher, please do not hesitate to report it and ping me.

[2017-12-06 15:43] #6541 closed

[2017-12-06 15:44] Yenthe666 commented on #21475
Hi @F3000,

The difference is that you have an Odoo community version while the screenshot you show is an Odoo enterprise version.
If you want the 'beautiful' layout you will need to buy an enterprice lisence at https://www.odoo.com/nl_NL/pricing#pl=66&num_users=1&hosting=online&implementation_service=self&pack=25&force_country=BE&integrating_partner_id=0&price_by=yearly and then need to upgrade y

[2017-12-06 15:44] #21475 closed

[2017-12-06 15:45] F3000 commented on #21474
i use fedora . ok thanks

[2017-12-06 15:45] Yenthe666 commented on #2780
Hi @ludwiktrammer ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-06 15:45] #2780 closed

[2017-12-06 15:46] qsm-odoo commented on #5665
Hello,
I am closing this issue, alt and title attributes are editable in supported versions (9.0 and higher).

[2017-12-06 15:46] #5665 closed

[2017-12-06 15:46] Yenthe666 commented on #2842
Hi @ferdiga,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-06 15:46] #2842 closed

[2017-12-06 15:46] Yenthe666 commented on #2112
Hi @lepistone,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cr

[2017-12-06 15:46] #2112 closed

[2017-12-06 15:49] Yenthe666 commented on #2452
Hi @tsabi,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-06 15:49] #2452 closed

[2017-12-06 15:52] Yenthe666 commented on #2439
Hi @majeedid,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-12-06 15:52] #2439 closed

[2017-12-06 15:53] Yenthe666 commented on #2430
This has been fixed in https://github.com/odoo/odoo/commit/c4339e0cec330e5ad29c9b7607d56b3af745b561 and https://github.com/odoo/odoo/commit/56f3f01491f3c682f3604c6d0011d7ecfbbaa210 but it was never closed.

[2017-12-06 15:53] #2430 closed

[2017-12-06 15:55] Yenthe666 commented on #2115
Hi @TheCloneMaster,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-12-06 15:55] #2115 closed

[2017-12-06 15:59] flotho commented on #17093
@nmeen , maybe you could also check in your general settings which fonts are available

[2017-12-06 16:01] Yenthe666 commented on #2093
Hi @orchidinfosys,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you t

[2017-12-06 16:01] #2093 closed

[2017-12-06 16:09] RealJaJaAdmin commented on #16949
followed this intallation: https://www.odoo.com/documentation/10.0/setup/install.html#packaged-installers

used `yum-config-manager --add-repo=https://nightly.odoo.com/10.0/nightly/rpm/odoo.repo`

[2017-12-06 16:11] qsm-odoo commented on #9289
Hello,
Sorry I was not able to help you at the time. There is actually no plan to support conditional assets' parts but I think that is not really what you wanted: you still have the possibility to create new assets and link them conditionally on your page (basically, the `t-if` would be in the page template but not in the assets' one). We will also probably improve our multi-website features in t

[2017-12-06 16:11] #9289 closed

[2017-12-06 16:24] qsm-odoo commented on #11337
Hello,
Sorry for the delay, I will try to fix this once I can. Know that this bug is already fixed in 10.0 though as blog covers have been entirely reviewed.

[2017-12-06 16:26] #8195 closed

[2017-12-06 16:38] qsm-odoo commented on #7563
Hello,
Sorry we did not answer you at the time. Was your question about setting the homepage of your website ? If I remember well, in 8.0, you had the possibility to set it by organizing your menu. The first menu is basically your homepage. In 11.0, there is a more complex system:
- You can choose the homepage in the page management system.
- If none is chosen, then this fall-backs to the first me

[2017-12-06 16:38] #7563 closed

[2017-12-06 16:43] qsm-odoo commented on #4883
Hello,
Sorry we did not reply to you at the time. The bug seems to be solved in current 9.0.

[2017-12-06 16:43] #4883 closed

[2017-12-06 16:46] qsm-odoo commented on #10564
Hello,
Sorry we did not reply to you at the time. I cannot reproduce your error so it has probably been fixed since then. I will close the issue but do not hesitate to ping me if any similar issue is still occurring.

[2017-12-06 16:46] #10564 closed

[2017-12-06 19:37] JKE-be commented on #21448
@Karsten-77  any news ?

[2017-12-06 20:57] Karsten-77 commented on #21448
@JKE-be My in development active nginx conf:
[code]
../sites-enabled/odoo
[code]

I cannot reproduce on runbot, but that looks also different to my demo database. Do you have any recommend settings for nginx? My discribed problems, exist with param
      #add_header Cache-Control private; and also without.

[2017-12-06 21:05] JKE-be commented on #21448
have you try to overidde the 301/302 cache via `proxy_cache_valid <statusCode> <delay>` ?

[2017-12-06 21:44] raarts opened #21479 "Feature Request: CockroachDB Support"
Impacted versions:

All

Steps to reproduce:

Replace PostgreSQL with CockroachDB. It is wire compatible.

Current behavior:

Does not work.

Expected behavior:

Would like it to work. Note that CockroachDB has some great advantages over PostgreSQL especially in docker environments.

Video/Screenshot link (optional):

[2017-12-07 00:56] lukebranch commented on #21479
FWIW: here's information on some of the key differences between CockroachDB and PostgreSQL:

https://www.cockroachlabs.com/docs/stable/porting-postgres.html

It looks like an interesting proposition for perhaps introducing CockroachDB support in the ORM in addition to PostgreSQL, but I would suggest providing more information on what you propose.

https://www.cockroachlabs.com/
https://www.cockroa

[2017-12-07 01:14] lasley commented on #21479
Odoo ORM uses the [psycopg](http://initd.org/psycopg/) library for interaction with Postgres, so it's not as simple as just making sure db queries are correct.

IMO if something like this were to be taken on, my recommendation would be to replace Psycopg with [SQL Alchemy](http://initd.org/psycopg/) instead, which supports multiple DB engines as long as they're Python DB-API compliant. I would ass

[2017-12-07 01:37] lukebranch commented on #21479
@lasley ,

Here's a blog post i've just found on SQL Alchemy and CockroachDB:

https://www.cockroachlabs.com/blog/building-application-cockroachdb-sqlalchemy-2/

Definitely an enormous undertaking, but perhaps one worth some discussion IMO.

@mart-e , @odony , @gdgellatly, @Yenthe666 , @spadae22  what are your thoughts on this?

[2017-12-07 02:30] gdgellatly commented on #21479
@lasley Cockroach uses psycopg2 and postgres dialect by design.

@lukebranch I think the main issue would not be the day to day crud, mostly sequences, postgres database queries, and the like, the low level stuff.  Also its lack of good text indexing would be an issue, and most people build that in over top of standard odoo, usually GIN pg_trgm composites.  However it's still missing some features

[2017-12-07 02:39] lukebranch commented on #21479
@gdgellatly ,

Thanks for the valuable insight!

[2017-12-07 04:45] dsabrinarg opened #21485 "[10.0] Wrong customer invoice unit of measure with COGS affectation"
Impacted versions:
**10.0**

Steps to reproduce:
With group "Some products may be sold/purchased in different units of measure (advanced)" active and a product for example with the following unit of measure setting:
    Unit of Measure | Unit(s)
    Purchase Unit of Measure | Dozen(s)
1. Go to a POS sales window.
2. Create a POS order with invoice for the example product.

Current behavior:
1. The

[2017-12-07 07:26] Karsten-77 commented on #21448
I have to apologize searching the problem with odoo, that must be really something strange with nginx. Cant reproduce when serving the port directly without nginx. So I close this. Sorry. No idea why I have that not checked first. We all improve ourself.

[2017-12-07 07:26] #21448 closed

[2017-12-07 07:29] Yenthe666 commented on #21448
It is good that you've found it yourself and gave feedback. Thanks for that.

[2017-12-07 07:32] Karsten-77 commented on #21448
Do you recommend to make different settings for location / and /shop in nginx? Would be really interrested how your nginx config looks like in a website_sale production.

[2017-12-07 07:40] Karsten-77 commented on #21448
@JKE-be  No have not override 301/302. Until now I have not known that I have to do. Will search for an example. My Nginx conf has worked so far, first time that I recognize that cache problem with my conf. For any tip to improve nginx thanks in advance.

[2017-12-07 08:41] #21039 closed

[2017-12-07 09:29] mart-e commented on #21479
Hello,

Thank you for the proposal but PostgreSQL is a robust technology we know we can rely on.
While CockrachDB seems a promising solution, it is a relatively new (3 years old) and unknown technology.
We already got complains that PostgreSQL is not as known/deployed as MySQL or Oracle, so suggesting a db engine that is not even in the Debian repositories is unlikely to make it.
As said @gdgellat

[2017-12-07 09:29] #21479 closed

[2017-12-07 09:38] sathieu opened #21495 "Ability to insert blank page in PDF export for pro"
Impacted versions: latest

Steps to reproduce:

- Select several *Sale Orders*:
  - ORDER-1 with 2 pages
  - ORDER-2 with 1 page
  - ORDER-3 with 3 pages
- Click "Print" (i.e export to PDF)
- Print the PDF with duplex

Current behavior:
- Page 1 has ORDER-1 duplex
- Page 2 has ORDER-2 on one side, and ORDER-3 on the other side :disappointed:
- Page 3 has the end of ORDER-3

Expected behavior:
- Pa

[2017-12-07 09:45] labcrm commented on #19769
Yes that's right, we've resolved the issue by installing these package :
$ sudo apt install libxrender1 fontconfig

=> with 0.12.1 of wkhtmltopdf version

Thank you.

[2017-12-07 10:20] JKE-be commented on #21448
You don't need to do...

By default, you don't have 301/302 cache...

I know some e-commerce that runs with the default Nginx configuration from the documentation and it works as expected :/ Nothing to do...

[2017-12-07 10:28] #19769 closed

[2017-12-07 10:28] Yenthe666 commented on #19769
@d-fence not sure but can we add this in the preconfigured package too for CentOS?

[2017-12-07 10:33] Karsten-77 commented on #21448
So any idea, why that behavior changed with my posted nginx conf? As I said, I recognize this problem first time and roll out a few website_sale shops with odoo version 9 and that problem never has exist. That was the reason, Ive searched the issue in odoo and not in nginx.

[2017-12-07 10:42] JKE-be commented on #21448
Maybe on line into this:
        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;

[2017-12-07 11:07] Karsten-77 commented on #21448
[code]
with
[code]
it works like expected, but that will avoid caching of any content in that location :-(

[2017-12-07 11:13] fmdl commented on #21465
Hi there an other issue in Enterprise:

-Open purchase for exemple
-Click on systray next activities
-Open click on an next activity (exemple sale)
—> this open the sale, but the top menu is the menu of the purchase app.

-open purchase for exemple
-on systray open a next activity for exemple sale
-on systray open a next activity for exemple recrutement
—> you see under the top menu Purchase Order

[2017-12-07 11:16] JKE-be commented on #21448
301/302 should have 0 min of cache
301 should be cached by the browser anyway.

[2017-12-07 11:19] Karsten-77 commented on #21448
Changed that. Thanks for your help.

[2017-12-07 11:49] Karsten-77 commented on #21321
How to using
[code]
I cant find any position where it is called, only
[code]
But its integrated in most submodules. Is this important?

[2017-12-07 12:13] sathieu commented on #21495
Note that wkhtmltopdf supports this:
[code]

[2017-12-07 12:25] Yenthe666 commented on #21495
I really don't see the issue in this though.. If you'd want this you can add a `<p style="page-break-after:always;"></p>` through your own module.
@mart-e do you agree? I don't see why we would want to change this.

[2017-12-07 12:40] sathieu commented on #21495
@Yenthe666 The problem is that ```page-break-after:  left``` is not working (i.e it is working as ```always```).

[2017-12-07 12:44] sathieu commented on #21495
This is a Chrome missing feature. See https://caniuse.com/#search=page-break

[2017-12-07 14:20] Karsten-77 opened #21504 "[11.0] "No exception to reraise""
Impacted versions:11
My IDE(pycharm) says "No exception to reraise" and marked as error.
https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/ir/ir_http.py#L180

Could be rely more on style and not harmful. Just for the next who works on it.

[2017-12-07 14:24] sathieu commented on #21495
The problem in qtwebkit [Source/WebCore/css/CSSComputedStyleDeclaration.cpp](https://github.com/qt/qtwebkit/blob/30af5bd74a1c035f0b3efc73767c0d2bef21333a/Source/WebCore/css/CSSComputedStyleDeclaration.cpp#L2089):
[code]

[2017-12-07 14:50] Yenthe666 commented on #21495
So not an Odoo bug.

[2017-12-07 14:50] #21495 closed

[2017-12-07 15:01] sathieu commented on #21495
Submitted upstream: https://bugreports.qt.io/browse/QTBUG-65045

[2017-12-07 15:41] Yenthe666 commented on #20266
Friendly reminder for more information.

[2017-12-07 15:42] Yenthe666 commented on #20224
@gustavovalverde did you get any feedback on the ticket yet?

[2017-12-07 15:43] Yenthe666 commented on #20186
Hi guys,

Closing as there has been no response in over a month and it was no longer reproducable.
@injazllc please do post back if you can still reproduce this issue.

[2017-12-07 15:43] #20186 closed

[2017-12-07 15:45] Yenthe666 commented on #3363
Hi @pedrorgil,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cr

[2017-12-07 15:45] #3363 closed

[2017-12-07 15:45] Yenthe666 commented on #3415
Hi @u8621011,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-07 15:45] #3415 closed

[2017-12-07 15:45] Yenthe666 commented on #3372
Hi @apprique,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-07 15:45] #3372 closed

[2017-12-07 15:47] Yenthe666 commented on #3371
Hi @apprique,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-12-07 15:47] #3371 closed

[2017-12-07 15:48] Yenthe666 commented on #3350
Hi @etsinko,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-12-07 15:48] #3350 closed

[2017-12-07 15:49] Yenthe666 commented on #3359
Hi @wredwan ,

Thank you for your suggestion and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some. You could have done this with custom development.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).

Regards,
Yenthe

[2017-12-07 15:49] #3359 closed

[2017-12-07 15:50] Yenthe666 commented on #3330
Hi @anajuaristi,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-12-07 15:50] #3330 closed

[2017-12-07 15:51] Yenthe666 commented on #3327
Hi @codeback,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to cre

[2017-12-07 15:51] #3327 closed

[2017-12-07 16:27] jlzhou commented on #21465
I think "Purchase Order/Sale order/recruitment/.../..." is definitely a framework issue.

[2017-12-07 19:16] deivislaya commented on #18825
@simongoffin Thanks you

[2017-12-07 20:42] deivislaya opened #21509 "[10.0] Outgoing shipments in pos order, skip the warehouse's configuration for two or more steps"
**Impacted versions:** 10

**Steps to reproduce:**

- Configure the warehouse, related to the outgoing delivery steps

![yourcompanyshipment](https://user-images.githubusercontent.com/5775695/33736463-15058848-db69-11e7-8257-c5434edd5b91.png)

- Set the point of sale, with the corresponding warehouse

![setpointsale](https://user-images.githubusercontent.com/5775695/33736529-4a02c15a-db69-11e7-93c

[2017-12-07 21:55] travish2 commented on #15635
Thank you for posting the answer, I had this exact issue in v10.

Should this not be considered a bug?

[2017-12-07 22:04] arionkosturi commented on #15635
Yeah basically. If it needs an email format it shouldn't validate on user creation or in login auth.

[2017-12-07 22:21] celm1990 opened #21510 "Methods onchange, variable _origin and self are same recordset"
**Impacted versions:**
11
**Steps to reproduce:**
Variables.
X = 10(quantity sold)
Y = 5(quantity dispatch)
Z =7(new quantity on sales order after dispatch)
**Steps are explain on new issue referenced here.**
On sale order, specific on [this method](https://github.com/odoo/odoo/blob/11.0/addons/sale_stock/models/sale_order.py#L191) when sold X quantity and dispatch Y quantity less than X(create ba

[2017-12-07 22:24] celm1990 opened #21511 "variable _origin on methods onchange is lost when call super method with_context."
[MODULE test_onchange.zip](https://github.com/odoo/odoo/files/1540816/test_onchange.zip)
**Impacted versions:**
11
**Steps to reproduce:**
On database with data demo installed

1.  Please Install module attached.
2. Create New Product, type Almacenable
3. Update Quantity to 10 Units on stock Location
4. Create New Sales Order, 10 Units for New Product
5. Confirm Sales Order
6. Go to Picking and tr

[2017-12-07 22:25] celm1990 commented on #21511
Complementary to #21510

[2017-12-07 22:26] celm1990 commented on #21511
ping @xmo-odoo

[2017-12-07 22:49] rgeromegnace opened #21512 "[10.0]Cannot update standard_price on product.template when it contains more than one variant!"
**Impacted versions:** 10.0 and **test on runbot**

**Steps to reproduce:**
1) Create a product with two variants. For example color: reg and yellow
2) Modify Cost price

**Current behavior:**
**The cost price is not update and return to value 0**

**Expected behavior:**
The cost price must update to the set value.

Video/Screenshot link (optional):

[2017-12-07 23:06] gdgellatly commented on #21512
Probably more a usability issue.  Field should be invisible when variant_count > 1 so it shouldn't be possible to even set once yo have variants.  Is definitely set that way in v11, and all standard_price for all product_templates with > 1 variant is 0.  Maybe that fix needs backporting.

Once you use variants, the cost must be managed on each individual variant.  When there are no variants Odoo t