[2016-05-23 12:14] Yenthe666 commented on #10807
Hi @WalterFalla,

If you still face this issue: this report has been moved to product variants, it is no longer under products.
This issue tracker is however for reporting issues, not asking questions. Should you still face this issue or do not know enough with my response please create a question on the official Odoo help forum (help.odoo.com).

Regards,
Yenthe

[2016-05-23 12:14] #10807 closed

[2016-05-23 12:25] Yenthe666 commented on #10803
Hi @gurneyalex,

Agreed that this is not consistent with other dialogs around Odoo.
@mart-e could you forward this to the correct person? It would be a nice extra to have this fixed.

Regards,
Yenthe

[2016-05-23 12:28] Yenthe666 commented on #10577
Hi @tejastank,

I can (no longer) reproduce this issue.
I'm closing this since I cannot reproduce this, the report is a few months old and because I have no sample.
If you'd have an example module (or still face this problem) please let em know, I'll re-open this issue then.

Regards,
Yenthe

[2016-05-23 12:28] #10577 closed

[2016-05-23 12:30] Yenthe666 commented on #10522
Hi @samica31,

The Odoo issues are used for issues with the official code (the code you fetch from Github, no custom development).
If you would still face this issue please create a question on the official Odoo help forum (help.odoo.com), I'm sure somebody can help you there.
I'm closing this issue since I don't have any example code and because it involves custom development.

Regards,
Yenthe

[2016-05-23 12:30] #10522 closed

[2016-05-23 12:32] Yenthe666 commented on #10500
Hi @treviser, @wtaferner and @mart-e is this issue still open and active or can it be closed? :smile:

[2016-05-23 12:33] Yenthe666 commented on #10457
Hi @mart-e and @odony this issue is still present in the latest runbot from today:
Apparently nobody tried anonimyzing the database in a few months? :wink:
![image](https://cloud.githubusercontent.com/assets/6352350/15470862/3e0b469c-20f3-11e6-9264-3bea54f352e3.png)

[2016-05-23 12:33] wtaferner commented on #10500
@Yenthe666
It is a helper issue, so please keep it open...in case the issues are down to 1.000 I will close it myself personally to celebrate 999 ;-)

[2016-05-23 12:36] Yenthe666 commented on #10500
@wtaferner ok I'll keep it open. Also, is this a challenge? :wink:

[2016-05-23 12:37] treviser commented on #10500
Leave it open, soon I'll start again flooding it :-)

[2016-05-23 12:39] Yenthe666 commented on #10371
Hi @tanerhasre,

There are three options here:
1) You tried to export an Odoo 8 database and import it in Odoo 9, which will not work.
2) You've used OpenUpgrade to migrate your database (https://github.com/OCA/OpenUpgrade)
3) You've bought an upgrade from Odoo and used their services.

If you've used case 1 it is simply not possible.
If you've used case 2 then there is an issue with OpenUpgrade,

[2016-05-23 12:39] #10371 closed

[2016-05-23 12:41] Yenthe666 commented on #10331
Hi @2016LQ,

You're trying to run the Odoo process under an incorrect system user, this should be done with the user that is dedicated to the Odoo service.
In any case, this is not an issue for Github, since you've configured something wrong regarding users (or running the service)

Regards,
Yenthe

[2016-05-23 12:41] #10331 closed

[2016-05-23 12:44] Yenthe666 commented on #10305
Hi @klepallec,

Could you try a new update and see if this issue is still present?
It should be fixed by now.

[2016-05-23 12:44] wtaferner commented on #10500
@Yenthe666
Well, it is :wink:

Although I doubt you and Daniel can make the difference but maybe an army of devs might be able to clean up the issue pile together with Odoo SA. It is like always a matter of priority :wink:

So, keep on fighting and good luck! :+1:

@treviser
As long it makes it easier to communicate you are my most important ally to improve quality this way...

[2016-05-23 12:45] Yenthe666 commented on #10243
As @eneldoserrata has pointed out, this is only for the Enterprise version.
Closing this issue since it has been answered.

[2016-05-23 12:45] #10243 closed

[2016-05-23 12:47] Yenthe666 commented on #10500
@wtaferner well, atleast it is going in the right way:
![image](https://cloud.githubusercontent.com/assets/6352350/15471233/35e0b4e6-20f5-11e6-8a7b-2b8115c6ad4c.png)
That is probably about the first time more issues are being closed than opened. :smile:
But yes just me and Daniel can't handle the mass influx of reports on our own I'm afraid. Just trying to keep it from going out of proportion. :sm

[2016-05-23 12:52] Yenthe666 commented on #12128
Hi @mart-e and @odony could you two have a look at this please? I'm not sure if this is something that Odoo would want to implement or not, but this one deserves some attention / feedback. :smile:

[2016-05-23 12:58] treviser commented on #10500
@Yenthe666 : Good job!

[2016-05-23 12:58] Yenthe666 commented on #9990
Hi @joolsr,

This issue is not longer present in the latest V9:
![image](https://cloud.githubusercontent.com/assets/6352350/15471548/c5790cce-20f6-11e6-937a-e7ec1a42c80e.png)

Regards,
Yenthe

[2016-05-23 12:58] #9990 closed

[2016-05-23 13:01] Yenthe666 commented on #9985
Hi @Sameer1990 and @yostashiro,

This is now shown in the chatter (atleast I think you're talking about this):
![image](https://cloud.githubusercontent.com/assets/6352350/15471614/29b1eac6-20f7-11e6-88a4-62a3ada73da1.png)

Can one of you two confirm that this is fixed / OK now?

[2016-05-23 13:01] treviser commented on #10500
@wtaferner : I'm glad to help, in many areas the translation is in a miserable shape :-(

[2016-05-23 13:04] Yenthe666 commented on #10500
@treviser and @wtaferner are you guys talking about missing translations? As in source terms that are not available to translate on Transifex?
If that is the case please post them all at this topic and I'll make sure somebody from Odoo handles all of them.

[2016-05-23 13:08] treviser commented on #10500
It is less the problem of missing translations, but more of a mysterious mistake when transporting translations to 9.0 and after that many terms were translated disastrously wrong but nevertheless reviewed and now we have quite a mess.

[2016-05-23 13:11] Yenthe666 commented on #9956
Hi @rgeromegnace,

As stated by @JayVora-SerpentCS this is already in the record, you should update to the latest code base.

Regards,
Yenthe

[2016-05-23 13:11] #9956 closed

[2016-05-23 13:12] Yenthe666 commented on #10500
Why don't one of you guys fix them on Transifex? It would take at most 7 days for the correct translations to be merged in Odoo 9.

[2016-05-23 13:13] wtaferner commented on #10500
@Yenthe666
Everything is under control here...read the topic and you know what it is about...it is a working issue nothting to do with Odoo code here...

[2016-05-23 13:13] treviser commented on #10500
I'm not a reviewer, so I have to report wrong translations, and the reviewers only believe me if I deliver the proof by documenting screenshots... :-)

[2016-05-23 13:17] Yenthe666 commented on #10500
Hmm when you don't have the reviewer rights it is a bit annoying yes.. :-)
Well I'll leave this open, too bad somebody has merged in so many bad translations.

[2016-05-23 13:19] Yenthe666 commented on #9816
Hi @bringsvor,

I can no longer reproduce this issue on the latest Odoo 9.0.
If this issue still persist please add a workflow in order for me to test / find the bug.
Closing this, since there is no way to reproduce this at the moment.

Regards,
Yenthe

[2016-05-23 13:19] #9816 closed

[2016-05-23 13:24] Odew opened #12136 "[8.0][BUG] Marketing Menu access right"
Impacted versions: 8.0

Steps to reproduce:
- on runbot with database with all modules installed.
- create a new user with only the 'Human Resources/Employee' group access right
- connect with this new created user.
- this user can see the "Marketing" menu, create a new mass mailing, ...

Current behavior:
- a user with no marketing access right can see the "Marketing" menu and do everything with

[2016-05-23 13:24] Yenthe666 commented on #9761
Hi @dsu-odoo and @andreparames,

I've just tested this and this issue is still present in the latest Odoo 9.0.
@mart-e can you assign this issue to somebody please? You can even reproduce this by just filling in 'test' as a bill of material:
![image](https://cloud.githubusercontent.com/assets/6352350/15472231/4d42dcd6-20fa-11e6-99d6-8370696185cf.png)

On a sidenote: there might be another issue to

[2016-05-23 13:28] Yenthe666 commented on #12136
Hi @Odew,

Thank you for creating an issue (that is also nicely explained)!
I can confirm this issue and the fact that you get full access to marketing with only HR rights.

@mart-e please assign somebody to this?

Regards,
Yenthe

[2016-05-23 13:34] Danisan commented on #4495
How do I configure it to share the cost?

[2016-05-23 13:47] jl2035 opened #12137 "Cannot get wkhtmltopdf working"
I'm running an instance of Odoo 9 and I'm having huge problems with wkhtmltopdf package. First it needed a higher version than my ubuntu box was able to install. Then I downloaded from official website and installed 0.12.1 version, as required by Odoo. That went fine.

user@ubuntu: wkhtmltopdf --version
wkhtmltopdf 0.12.1 (with patched qt)

But now the problem with pdf continues. I'm getting this

[2016-05-23 13:48] Yenthe666 commented on #9546
Hi @almas,

This should be handled by the paper format and margins.
The paper format can be configurred under `Settings > Reports > Paper format`.

Closing this, since this is not really a bug.

[2016-05-23 13:48] #9546 closed

[2016-05-23 14:29] mart-e commented on #10457
Fixed at #11806

[2016-05-23 17:30] joolsr commented on #9990
Thanks. I think i remember it was fixed about 5 months back but not closed
here.

Julian
On 23 May 2016 13:59, "Yenthe" <notifications@github.com> wrote:

[2016-05-24 00:43] blaggacao opened #12142 "[9.0][BUG] Client Returns wrong sequence order in onchange calls and breaks sequence sensitive tax calculation"
**Impacted versions:**
9.0c

**Steps to reproduce:**
Create an invoice with a product which has following configuration:
1. has a tax with low sequence and starts with "X" (don't know if that's relevant, but I observed this alphabetical pattern in my setup)
2. has a second tax which has a high sequence and starts with "A"
3. has the second tax configured to be incorporated in the in the base value

[2016-05-24 00:46] blaggacao commented on #12142
strange thing at the client server interface, so
cc/ @KangOl @odony

fyi @kurkop

[2016-05-24 01:24] blaggacao commented on #12142
@qsm-odoo maybe this relates to you, too as of 3abe93715af1

[2016-05-24 01:27] blaggacao commented on #12142
/cc @ged-odoo @qsm-odoo @mge-odoo for the frontend part, maybe you get a clue when reading this error description?

[2016-05-24 06:31] Yenthe666 commented on #9514
Hi @Douwe10,

You're facing this issue because you've created a product with another Unit of Measure than the purchase Unit of this product is. For example: Your unit of measure is in kg but your purchase unit is in pieces.
The access error might be a bug but since this report is rather old I think this should be fixed by now. I can't reproduce this in any way.

Can you let me know if this is stil

[2016-05-24 06:41] Yenthe666 commented on #9446
Hi @jni-odoo,

I can no longer reproduce this bug on the latest Odoo 9:
![image](https://cloud.githubusercontent.com/assets/6352350/15494526/32e9e348-218b-11e6-857c-2e8b3ba58298.png)

If you can still trigger this bug please let me know, I'll re-open this issue then. Closing this since it seems fixed.

Regards,
Yenthe

[2016-05-24 06:41] #9446 closed

[2016-05-24 06:43] Yenthe666 commented on #9431
Hi @mart-e,

Is this something that we could still add / allow or wouldn't this be allowed? We already have it for 8.0 and 9.0 so why not for 7.0? I don't see any problems with this?

[2016-05-24 06:45] Yenthe666 commented on #9365
Hi @mge-odoo,

Any update on this one?

[2016-05-24 06:46] Yenthe666 commented on #9356
Hi @diezcode,

The module website_sale_digital is only available for Odoo 9, it hasn't been made for Odoo 8.
Closing this topic since it is a question, not an issue, and well it is answered now. :smile:

Regards,
Yenthe

[2016-05-24 06:46] #9356 closed

[2016-05-24 06:48] Yenthe666 commented on #9355
Hi @falinwa,

Restarting an Odoo server does not upgrade the modules. You can either update the module through Settings > App > Update modules list and then updating the correct module or through the terminal with `./odoo.py -u yourModuleName`.
This should fix your issues. If this issue still persist or if I understood this wrongly please comment on this and I'll re-open it.

Regards,
Yenthe

[2016-05-24 06:48] #9355 closed

[2016-05-24 06:51] Yenthe666 commented on #9351
Hi @dialna,

This issue can no longer be reproduced in Odoo 9. An example customer with the language on French:
![image](https://cloud.githubusercontent.com/assets/6352350/15494792/a6eb55d2-218c-11e6-8d4e-38124f69a3d8.png)

Printing the quotation for this customer (which is French):
![image](https://cloud.githubusercontent.com/assets/6352350/15494808/bd7674a8-218c-11e6-8241-ef273b90259b.png)

Rega

[2016-05-24 06:51] #9351 closed

[2016-05-24 06:53] Yenthe666 commented on #9345
Hi @arkhan as @mart-e said you should try updating base again, this should fix your issue.
@mart-e can we close this issue? Its very old and you did provide the answer to this issue.

[2016-05-24 06:55] Yenthe666 commented on #9301
Hi @lizebin,

@adekock11 gives some great information regarding this.
Github issues are technically only for issues with a default Odoo setup, not for custom development or configuration.
If you'd still face this issue please post it at help.odoo.com and I'm sure somebody can help you further with this! The community is always there to help.

Regards,
Yenthe

[2016-05-24 06:55] #9301 closed

[2016-05-24 06:57] Yenthe666 commented on #9300
Hi @lisandi;

I can no longer reproduce this issue. I've opened the website, changed the background color from an item and saved this right away, without any other changes:
![image](https://cloud.githubusercontent.com/assets/6352350/15494943/82790a54-218d-11e6-9f04-a28452a97d98.png)

Don't hesitate to respond here if the problem still persist or if I should've missed something.

Regards,
Yenthe

[2016-05-24 06:57] #9300 closed

[2016-05-24 06:59] Yenthe666 commented on #9295
Hi @falinwa,

I can no longer reproduce this issue, the zip (including filestore) works fine now. I've just tested this on a database from 2GB with over 10.000 records.
If you should still face this problem please update your Odoo and test again. If you still have this problem don't hesitate to re-open this issue or create a new one with a bit more details!

Closing this one since there is no way

[2016-05-24 06:59] #9295 closed

[2016-05-24 07:00] Yenthe666 commented on #9296
Hi @falinwa and @aisopuro,

Could one of you test this again with the latest codebase please?
I couldn't reproduce this. I will leave this issue open for now, please let me know if this has been fixed or not.
In case it is not fixed: could you please give detailed information about how to reproduce this?

[2016-05-24 08:22] gurneyalex opened #12144 "[9.0] stored computed field depending on non stored computed / related fields are not saved"
Impacted versions: 9, probably 8 too

Steps to reproduce:

Define a module with the following models

[code]

Add the following actions and menus for easy reproduction:

[code]

Install the addon.

Create 2 record of Test Field2, one with value 10 and the other with value 100

Create 1 record for Test Field, with field 1 = 1, and other_id = first record of test field2. Save the record.

Edit the r

[2016-05-24 08:26] #11902 closed

[2016-05-24 08:35] gurneyalex commented on #12144
@rco-odoo your feedback on this issue is very welcome.

[2016-05-24 08:40] mge-odoo commented on #9365
Hi @Yenthe666
We actually looked at it some times ago but it is way more complex that it seems to be because of CoA. The resolution of it is still in discussion but no easy solution has been found yet.

[2016-05-24 08:44] mart-e commented on #9431
If somebody writes it, I am fine to merge it :) (7.0 is still supported until the release of v10)

[2016-05-24 09:07] cundi opened #12145 "[8.0] Use Odoo with Docker , can't open file '/opt/project/custom_addons/sf.py':"
All my problem is here:
 http://stackoverflow.com/questions/37213139/when-i-use-pycharm-and-odoo-errno-2-no-such-file-or-directory-process-finishe

because , a couple of day I put the question at stack overflow.

Impacted versions: 8.0

Steps to reproduce: use python interpreter in the docker's

Current behavior: can't open file '/opt/project/custom_addons/sf.py

Expected behavior: working as norm

[2016-05-24 11:44] Yenthe666 commented on #9061
Hi @falinwa,

This issue is no longer present in the newest version of Odoo 9 on Windows!

Regards,
Yenthe

[2016-05-24 11:44] Niklas1994 opened #12150 "Odoo9: Checkboxes are not checked, but seem to have Value"
Impacted versions: Version 9.0e-20160524 (Enterprise Edition), on Windows 7 x64

Steps to reproduce: I login into Odoo and go for example to Configuration -> General Settings. I change a setting somewhere, which is changed by a checkbox.

Current behavior: The "check" is not showing. The Value seems to be changing, but there is no check visible. In Google Chrome (Console) I dont see a 404 Error -

[2016-05-24 11:45] Yenthe666 commented on #9034
Hi @bringsvor,

Do you still face this issue or did you manage to resolve this?
In case you still have this problem: please download the latest Odoo version and try again.

Regards,
Yenthe

[2016-05-24 11:47] Yenthe666 commented on #12150
Hi @Niklas1994,

This might actually be the same report as https://github.com/odoo/odoo/issues/9061. (Which I actually closed a minute ago).
@mart-e could you let somebody check this out?

Regards,
Yenthe

[2016-05-24 11:47] Niklas1994 commented on #12150
Im not sure, because i just downloaded the newset Odoo Version 2 hours ago... Or was there a new release in between?

[2016-05-24 12:29] mart-e commented on #12136
Hello,

We have made improvements in the default groups for 9.0 (for instance at 6375a4bcf4041f898830762ac892c75ab689ce15 ) but the point is that the access to the model mass mailing is quite open 8.0. However it is not something we can change in stable version (may break flow of existing users).

The security rules are default values that may be customized by the users, it depends a lot of the or

[2016-05-24 12:29] #12136 closed

[2016-05-24 12:40] Hojalab opened #12152 "xml parse error"
I2016-05-24 12:30:51,314 13000 ERROR data openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/home//odoo/openerp/http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/openerp/http.py", line 680, in dispatch
    result = self._call_function(**self.params)
  File "/home//odoo/openerp/

[2016-05-24 13:11] Yenthe666 commented on #12150
@Niklas1994,

The other report is from october 2015, but they seem to be talking about the same thing so it might be the same issue.

[2016-05-24 13:30] Yajo commented on #7722
FTR https://bugzilla.mozilla.org/show_bug.cgi?id=1275261

[2016-05-24 13:36] be-cloud-js opened #12157 "[9.0] List View - if editable and create="0" - Save/Cancel buttons are missing"
Impacted versions: 9

Steps to reproduce: create a tree view with editable="top" create="0"

Current behavior: while editing a line, there is no Save/Cancel buttons

Expected behavior: having a Save/Cancel buttons but no Create/Import ones.

Video/Screenshot link (optional):

[2016-05-24 13:40] be-cloud-js commented on #12157
I think there is an issue here, the t-if should only apply to the create button

https://github.com/odoo/odoo/blob/3b234a23cb3cf8b659f849c231fa3b2e160213b5/addons/web/static/src/xml/base.xml#L414

Jerome

[2016-05-24 13:42] be-cloud-js commented on #12157
And then here, the extension should be done another way.

https://github.com/odoo/odoo/blob/3b234a23cb3cf8b659f849c231fa3b2e160213b5/addons/web/static/src/xml/base.xml#L456

I will try to make a Pull Request as soon as I have got some time.

Jerome

[2016-05-24 13:53] Yenthe666 commented on #12157
@mart-e can you give your input on this? I don't think this is something Odoo wants to change or am I wrong here?

[2016-05-24 14:19] OrlandoMalaquias commented on #9193
thanks alot, its working for me now too

[2016-05-24 14:26] be-cloud-js commented on #12157
The Fix is not difficult,

<t t-name="ListView.buttons">
    <div class="oe_list_buttons">
        <t t-if="!widget.no_leaf and widget.options.action_buttons !== false and widget.options.addable and widget.is_action_enabled('create')">
        <button type="button" class="btn btn-sm btn-primary o_list_button_add" accesskey="C">
            <t t-esc="widget.options.addable"/>
        </button>

[2016-05-24 14:34] jco-odoo commented on #12037
It was like that initially, but it would lead to too many negative quants that keep hanging around in the system.  The purpose of negative quants is to solve them asap (the logic would really get overcomplicated if you compensate for negative quant behaviour).  If you sell something from the PoS and it is not in the system's stock, you either create the purchase you forgot to encode after it or do

[2016-05-24 14:34] #12037 closed

[2016-05-24 14:34] amynous commented on #12055
im trying to install odoo in windows and i got that error message first download and install was successful then i uninstalled it and deleted the postgresql too but the install of the second time didnt work and show that msg and also the service of postgresql can not be activated  , any one have a solution for that ?

[2016-05-24 15:50] yucer commented on #8585
We got this error also with a long running transaction that uses a similar import mechanism.
I have tested yesterday and our error doesn't happen with the lastest postgres docker image https://hub.docker.com/_/postgres/ (version 9.5.3).

We need to try your test case.

[2016-05-24 16:25] lukebranch commented on #8585
@yucer ,

It looks like PG 9.5.3 has just been pushed to Xenial stable. I'll update and run some tests tomorrow. Thanks for the heads up.

[2016-05-24 17:26] maryguirola commented on #4146
Hi, @pedrobaeza  I renamed the second abstract class and inherit from the first one but It doesn't work. Any idea?

[2016-05-24 19:53] pedrobaeza commented on #4146
I didn't remember well the exact code, but I got it that way.

[2016-05-24 20:49] sle-odoo commented on #12137
Hi,
What's your browser?

[2016-05-24 20:52] sle-odoo commented on #12045
This report does not tell much about what you're trying to do and what issue you're facing. Please complete this with more information about your setup and a scenario of what you're trying to do so we can try to reproduce it.

[2016-05-24 20:52] #12045 closed

[2016-05-24 22:15] odony commented on #12077
@dreispt thanks for the heads up, I agree that something has to be done.
The thing is, regulations vary a lot from country to country, and the employee directory is a valuable tool for all employees in most companies. So globally blocking access to it sounds too drastic to me. I'd rather let admins selectively choose to restrict this feature in their company specific ACLs if they want to fully blo

[2016-05-24 22:28] manney opened #12161 "[9.0][9.0e] Crash When Grouping Purchase Orders By 'Expected Date'"
**Impacted versions:**
9.0 and 9.0e

**Steps to reproduce:**
1. Go in to Purchases App
2. Go to the Purchase Orders view
3. Then group by 'Expected Date'

**Current behavior:**
Crashes with this error:
[code]
I also have this from my local install of Odoo 9 Community:
[code]

**Expected behavior:**
Groups purchase orders by expected date.

[2016-05-24 22:39] tesserB commented on #12104
@krmagnaye I'm asking because some add-ons—such as "Stylish" and "Color that site"—inject JS and CSS.  I can't see the attached photo, but it's possible that one of them is to blame.

Can you try reproducing the error with the add-ons disabled?

[2016-05-25 05:45] richard-willowit opened #12163 "[9.0] wrong value used in average cost if exchange rate has moved"
Impacted versions:
9.0

Steps to reproduce:
- Create a product with costing method set to average
- Create a purchase order for the product in a foreign currency, and validate
- Change the exchange rate for the currency in question
- Receive the product

Current behavior:
- Stock quants get the correct cost behind the scene (PO value at current rate)
- Accounting journals get the correct value
- S

[2016-05-25 06:11] Yenthe666 commented on #12161
Hi @manney,

Thank you for your report! I've tested this and can confirm this is a bug.

Regards,
Yenthe

[2016-05-25 06:17] nim-odoo commented on #12161
This is fixed in 41759e8e4080d9003a41b8ecab229c7b67dedcfd. Unfortunately we can't easily fix it in a stable version, so the only solution would be to remove the filter.

[2016-05-25 06:17] #12161 closed

[2016-05-25 06:24] Yenthe666 commented on #12161
Oh man, looks like a broken filter until V10. Too bad..

[2016-05-25 06:27] Yenthe666 commented on #12152
Hi @Hojalab,

In order to find / fix a bug like this we need more details. How does it happen, how can we trigger it? Next time also post the full stack trace please, this is just a part of the log.
I'm closing this since we have no way of reproducing this or finding out what you did, sorry.

Regards,
Yenthe

[2016-05-25 06:27] #12152 closed

[2016-05-25 06:42] Yenthe666 commented on #12060
@nim-odoo could you have a look at this one? I don't know this part of Odoo well enough.

[2016-05-25 06:45] Yenthe666 commented on #8836
Hi @treviser,

I believe this problem is no longer present?

[2016-05-25 06:49] Yenthe666 commented on #8770
Hi @mart-e and @odony is this something that you guys would consider as wishlist or is this something that you guys don't want at all?

[2016-05-25 06:54] Yenthe666 commented on #8710
Hi @ftribrunn,

Can you please give us more details / information regarding this issue?
With just this we have no way of finding your problem and if there is a possible bug.
I'll leave this report open for a bit longer but if I get no comment I will have to close it.

Regards,
Yenthe

[2016-05-25 06:56] jl2035 commented on #12137
Firefox and Chrome

[2016-05-25 07:00] Yenthe666 commented on #8703
Hi @afimage,

I can no longer produce this issue on the latest version of Odoo.
It is now possible to create new e-mail templates without getting this error!

Regards,
Yenthe

[2016-05-25 07:00] #8703 closed

[2016-05-25 07:06] Yenthe666 commented on #8681
Hi @jbeficent,

This issue isn't present in the latest version anymore and as said above this was probably a cache problem.
I'm closing this issue since there has been no more comment in months and everything works fine on the latest runbot.
Should you be able to reproduce this issue again or if you think this is not fixed don't hesitate to comment on this.

Regards,
Yenthe

[2016-05-25 07:06] #8681 closed

[2016-05-25 07:08] Yenthe666 commented on #8669
Hi @mrmango,

This issue is no longer present in the newest Odoo 9.0 version.
Closing this issue for that reason!

Regards,
Yenthe

[2016-05-25 07:08] #8669 closed

[2016-05-25 07:10] Yenthe666 commented on #8648
Hi @zenntrix,

I believe jni-odoo has answered your question.
Should you still have this question and need more details I'd suggest you to post a new topic on the official Odoo help forums (help.odoo.com), there are plenty of people that can help you there.
Closing this one, since it is not a real issue.

Regards,
Yenthe

[2016-05-25 07:10] #8648 closed

[2016-05-25 07:17] bodedra commented on #12060
@Yenthe666 Thanks for you comment. May you please give insight on these, where something missing ?

I have followed Odoo documentation as mentioned in question.

Which might the case to not getting Customer invoice paid ?

[2016-05-25 07:19] Yenthe666 commented on #8614
Hi @mariepizzer,

This looks like you did something wrong in your custom code. I only see a part of the code but usually you don't even need `cr` to create raw queries.
I'm closing this since only issues with the official code from Odoo are tracked and solved here, custom development doesn't fall under this.
I'd suggest you to open a new topic on the official Odoo help forums if you would still fa

[2016-05-25 07:19] #8614 closed

[2016-05-25 07:20] Yenthe666 commented on #12060
Hi @bodedra,

No problem. I'm not sure about this one, I don't ever work with the PayPal module myself but the issue looks correct to me and since @spadae22 also reports this I'd love somebody from Odoo to look at this.
I hope @nim-odoo can give an answer on this one. :+1:

[2016-05-25 07:34] yostashiro commented on #9985
@Yenthe666 I believe this commit https://github.com/odoo/odoo/commit/d349584f9d281ea955f4a46235747c9b9866daa6 has fixed the issue.

Haven't studied how it's done for SO and PO in v9 (now that workflow has been removed, I guess similar logic should be applied) but the patch here appears rather cumbersome.  Anyway, I think this issue can be closed.

[2016-05-25 07:42] Yenthe666 commented on #8545
Hi @salahzidi,

Thank you for reporting this issue. This issue still seems to be present in Odoo 8.
My goal definition:
![image](https://cloud.githubusercontent.com/assets/6352350/15531842/d912d94c-225c-11e6-8a3b-15ebcce3352d.png)

My challenge configuration:
![image](https://cloud.githubusercontent.com/assets/6352350/15531828/c39eec90-225c-11e6-9598-bbb0e3bf31e2.png)
![image](https://cloud.github

[2016-05-25 07:45] Yenthe666 commented on #9985
@yostashiro,

Thanks for the reply! I'll close this. Should you ever encounter this again or find a problem with this just create a new report or post on this one.

Regards,
Yenthe

[2016-05-25 07:45] #9985 closed

[2016-05-25 07:46] Sameer1990 commented on #9985
Yes fixed it, thanks .

[2016-05-25 07:46] treviser commented on #8836
I assume so, but to be honest, as I'm setting up my servers step by step using stepwise created system images, I'm not really sure. I tried to look at https://nightly.odoo.com/9.0/nightly/deb/ but I don't know exactly what to look out for.

[2016-05-25 07:52] Yenthe666 commented on #8836
@antonylesuisse could I ask your input on this one please? :+1:

[2016-05-25 08:04] Yenthe666 commented on #8326
Hi @mart-e,

Should I label this as wishlist or is this something Odoo wouldn't want to build?

Regards,
Yenthe

[2016-05-25 08:04] Yenthe666 commented on #8325
Hi @mart-e,

Should I label this as wishlist or is this something Odoo wouldn't want to build?

Regards,
Yenthe

[2016-05-25 08:07] Yenthe666 commented on #8301
Hi @auyeung112002,

@ddfs is correct. You should configure your `system.url` parameter in HTTPS in order to have this in HTTPS.

Regards,
Yenthe

[2016-05-25 08:07] #8301 closed

[2016-05-25 08:21] dreispt commented on #8326
@LorbusChris That kind of connector can be perfectly implemented as a Community module. The https://github.com/OCA/l10n-germany would be a great place to host it.

[2016-05-25 08:32] Yenthe666 commented on #8326
@dreispt I agree with you, could be a neat community module. But, who knows, Odoo perhaps wants to add it to the wishlist? I don't think they will but just checking with Martin to be sure.

[2016-05-25 08:38] antonylesuisse commented on #8836
Yes fixed in a7a7bc3c2a40a65e99659c9453d60787ace1c221

[2016-05-25 08:38] #8836 closed

[2016-05-25 08:39] antonylesuisse commented on #8836
But anyways @sle-odoo could you add it to debian/control ?

[2016-05-25 08:51] antonylesuisse commented on #8836
Actually ofxparse was missing in ubuntu, it's now present since 16.04 so we will add it in debian/control in master.

[2016-05-25 08:55] #12163 closed

[2016-05-25 09:02] mattisx commented on #8585
@odony @lukebranch @yucer Thanks for giving this issue some love, having troubles too.

[2016-05-25 09:20] JKE-be commented on #8545
Hello @Yenthe666,

I just take a look on it.
The problem is because you should not be able to create Goals with some functional/computed fields which are not stored (Read_froup cannot work with un-stored field).
This module was developed by @mart-e, so I will let him choose the fix, but I think that the best patch in stable version is to add domain on field and only display stored field 'field_id'

[2016-05-25 09:22] Yenthe666 commented on #8545
Alright thanks @JKE-be! I agree that a domain would probably be the cleanest and easiest fix for this.

[2016-05-25 09:23] ahmedsliman opened #12168 "Error while installing pip requirements.txt step"
Impacted versions:  9.0 source version, install on windows

Current behavior:
While this step in installing docs.
`C:\YourOdooPath> C:\Python27\Scripts\pip.exe install -r requirements.txt`

i get message in log file after a lot of warning:

Expected behavior:
installing all packages in requirements.txt

[2016-05-25 09:34] roccocesetti opened #12169 "odoo 8.0 stock warehouse product exchange internal location"
Impacted versions:odoo 8.0,9.0

Steps to reproduce:
odoo does not allow the exchange between two indoor location that are at the same level pyramid:
stock-> PointA stock-> PointB no exchange
Point A to PointB does not exchange
Current behavior:

Thanks for the attention

[2016-05-25 09:46] Niklas1994 commented on #12150
Is it possible to say when there is a solution available?

[2016-05-25 10:03] roccocesetti commented on #12169
In the in out function stock warehouse:if we move a product between two internal locations, when we save the line disappears

[2016-05-25 10:46] dvrles001 commented on #9113
@daniel-adb-fa Thanks your solution worked for us

[2016-05-25 10:50] aisopuro commented on #9296
We run our build of Odoo inside Docker, and I unfortunately do not have the time right now to build a fresh image. The one we use is based on the nightly build for 18th of March 2016 (20160318). It is entirely possible this is based on some Docker weirdness.

I did however just copy over a database to my local environment and have been given the same errors again. Here are the steps I took:

1. Ha

[2016-05-25 11:06] Yenthe666 commented on #9296
@mart-e who could I assign to look in to this? I don't know who the Docker expert is at Odoo. :+1:

[2016-05-25 12:07] Yenthe666 commented on #8226
Hi @sandeepksrana,

These kind of topics should be posted on the official Odoo help forum (help.odoo.com). There are plenty of people who can help you there!
Since this is no bug I'm closing this.

Regards,
Yenthe

[2016-05-25 12:07] #8226 closed

[2016-05-25 12:53] odony commented on #8770
Hmm, I don't think we'll add that. The auto-completion system is already quite complicated, adding more stuff will only make it even harder to use.
Perhaps this will be mitigated by the fact that we plan to make the search filter feature smarter, so that you can restore/re-edit a saved filter. When we do that we might be able to also save the current filter in the URL as well, so that it persists

[2016-05-25 12:59] Yenthe666 commented on #8770
Alright as stated by @odony this will probably not be added as wishlist but an alternative might the smarter search filter.
Closing this issue.

[2016-05-25 12:59] #8770 closed

[2016-05-25 12:59] mart-e commented on #8545
Fixed at 97492a12a9f0975b80ebd43422aeebfb315dacb2
Thanks

[2016-05-25 12:59] #8545 closed

[2016-05-25 13:05] Hojalab commented on #12152
Thanks I Solved It

[2016-05-25 13:09] mart-e commented on #8326
Hello,

As stated in [target version table](https://github.com/odoo/odoo/wiki/Contributing#against-which-version-should-i-submit-a-patch), we are open to submissions of new localizations, payment and shipping providers.
For connectors outside of these (looks like it is the case for DATANORM), we prefer to avoid for now on. So indeed, I advise you to check with the OCA.

[2016-05-25 13:09] #8326 closed

[2016-05-25 13:12] mart-e commented on #8325
same as #8326

[2016-05-25 13:12] #8325 closed

[2016-05-25 13:26] Yenthe666 commented on #8005
Hi @odooopen,

This looks like an issue in the configuration / settings of your pg_path or pg server settings.
Issues are however only for the default code, not for questions and / or configurations.
If you still face this problem you can create a topic on the official Odoo help forums (help.odoo.com), where I'm sure somebody can help you!

Regards,
Yenthe

[2016-05-25 13:26] #8005 closed

[2016-05-25 13:37] Yenthe666 commented on #7903
Hi @duanyp1991,

This issue is no longer present in the latest Odoo versions, it has been fixed a while ago.
Closing this issue because of that.

Regards,
Yenthe

[2016-05-25 13:37] #7903 closed

[2016-05-25 13:39] Yenthe666 commented on #7890
Hi @Emad-Eddin,

As explained by @msh-odoo this is handled by the configuration of your date and time format under settings.
Closing this since it is wrongly configured.

Regards,
Yenthe

[2016-05-25 13:39] #7890 closed

[2016-05-25 13:41] Yenthe666 commented on #7833
Hi @tejastank,

I can no longer reproduce this issue on the newest Odoo versions.
If you should still face this issue please update your codebase and it will be fixed!
Closing this since it can no longer be reproduced.

Regards,
Yenthe

[2016-05-25 13:41] #7833 closed

[2016-05-25 13:45] Yenthe666 commented on #7719
Hi @dreispt,

This issue still seems to be present after almost a year.
@mart-e could you assign somebody to this please?

[2016-05-25 13:48] kenneth-vkd opened #12178 "[9.0][BUG] Constraints conflict with COA import"
While trying to create a module that iincludes csv-files with COA, tax and account tags, we discovered an issue when having references to account tags and tax records in the COA.
Since account tags have to be imported first so that they can be used with the taxes this has to go first, but we are importing the COA with references to taxes, taxes can however not be imported without having the COA.

[2016-05-25 14:14] manney commented on #12161
Thanks for your help guys.  I was going to show this to a customer, but I guess we'll have to figure out a way around this.

[2016-05-25 14:37] dsabrinarg opened #12179 "[8.0] Wrong week number on Purchase Analysis report, it is advanced by one week."
Impacted versions: 8.0

Steps to reproduce:
1.- Go to Reporting >> Purchase >> Purchase Analysis
2.- Group by Order Date >> Week

![20160525_092305 jpg 4032x3024](https://cloud.githubusercontent.com/assets/7597456/15543507/cb1bdee4-225a-11e6-9353-9bb25cd85a26.png)

Current behavior:
The report indicates W22 in place of W21, it is advanced by one week.

![purchase analysis odoo](https://cloud.githu

[2016-05-25 14:43] Yenthe666 commented on #12179
@mart-e another one regarding weeks and how they're shown (such as https://github.com/odoo/odoo/issues/12068 and https://github.com/odoo/odoo/issues/9629).
Should this one be closed? Quoting from the other topic:

!)

[2016-05-25 14:53] Yenthe666 commented on #12104
@tesserB that is correct, I'm trying to handle the huge influx of bugs when I have some spare time.
Added this one to my 'to check up on' list.
@krmagnaye please disable all add-ons and check again, I bet it is one of those.

[2016-05-25 14:58] #12169 closed

[2016-05-25 14:59] roccocesetti commented on #12169
solved

[2016-05-25 15:09] antonybrugger opened #12181 "[9.0][BUG] Subscription Application access rights"
Impacted versions: 9.0e

Steps to reproduce:
Create a user with HR/Employee Access rights => Contracts/See Contracts are automatically added:
![image](https://cloud.githubusercontent.com/assets/2707881/15545156/9cf53cb8-229b-11e6-8777-32a62ad75bd6.png)

Current behavior:
Contracts/See Contracts are automatically added

Expected behavior:
Contracts/See Contracts should not be automatically added if

[2016-05-25 17:40] dfang commented on #12045
steps to reproduce this bug:

1. install from odoo source code 9.0 branch
2. open /web/database/manager, do nothing, just watch odoo logs

[2016-05-25 18:14] tesserB commented on #12168
Good Afternoon Ahmed:
     I assume you've added "pypiwin32" to the requirements.txt. Try re-running the above command―pip install -r requirements.txt―as an administrator:
right click "Command Prompt" icon > "Run as administrator" > "cd C:\Python27\Scripts\"...

Also, as a friendly reminder, don't forget to:
"remove psycopg2 as you already have it.
remove the optional python-ldap, gevent and psuti

[2016-05-25 18:39] CarlesAntoli commented on #8545
With the last commit 8e7ad61 of archive goal.py i get the following error:

"File "/opt/odoo/server/addons/gamification/models/goal.py", line 160, in _check_model_validity
    raise UserError(_("The model configuration for the definition %s seems incorrect, please check it.\n\n%s not found") % (definition.name, e.message))
ParseError: "global name 'UserError' is not defined" while parsing /opt/odo

[2016-05-25 18:49] tesserB commented on #12145
Good Afternoon Cundi:

- Right Click "sf.py", within PyCharm...
- Select "Copy Path", from the context menu...
- Run ./odoo.py -u [COPIED PATH]...

With that being said, I understand your frustration but the GitHub issues section is reserved for bugs. If you should need additional help, please try using one of the resources listed below.

Mailing Lists:
https://www.odoo.com/groups

Help Forum:
htt

[2016-05-25 19:57] Yenthe666 commented on #12168
@tesserB Loving your input and help, thanks man!
@ahmedsliman can you let me know if this got you going please?

[2016-05-25 19:58] krnkris commented on #9113
@daniel-adb-fa Thanks your solution worked
FYI:
I reinstalled ubuntu 16.04
in this case all differ conflicted system files cleared out.
/I was upgraded from 14.04 before/

Thank you again.

[2016-05-25 20:00] Yenthe666 commented on #12145
Well this looks like an issue/problem that is not really related to the official Odoo code.
Closing this since @tesserB gave a nice overview for asking for help / getting help.

Regards,
Yenthe

[2016-05-25 20:00] #12145 closed

[2016-05-26 06:03] Yenthe666 commented on #12181
Hi @antonybrugger,

Just tested this in the latest runbot and I can confirm this is a bug.
@mart-e can you put somebody at this one?

[2016-05-26 06:11] Yenthe666 commented on #12114
@rco-odoo could you have a look at this?

[2016-05-26 06:34] mart-e commented on #8545
Hello,

Yes there were an error in my 8.0 commit a4687c6e42a7b0ec6b8d98dc2af7fe2d1c3272d0, it is fixed at a4687c6e42a7b0ec6b8d98dc2af7fe2d1c3272d0 and 37bbe87d5792c879130e5f1e491f743cbc50dc1e
Thanks for the report

[2016-05-26 08:15] #8710 closed

[2016-05-26 08:54] ahmedsliman commented on #12168
@tesserB  @Yenthe666

I remove the temp files and reinstall after installing psycopg2 manually "windows installer" and it works right now

Thanks

[2016-05-26 09:04] yannprada opened #12187 "[8.0] Website sale order change price unit on confirm"
### Impacted versions:
8.0

### Steps to reproduce:

- on the website, add some products to the cart
- on the backend, change the unit price of one sale.order.line
- back on the website, at /shop/confirm_order, confirm the order

### Current behavior:
Unit price reverted to product price

### Expected behavior:
Unit price should not change

### Notes:
Not entirely sure if this is a feature or a bu

[2016-05-26 09:06] Yenthe666 commented on #12168
Alright closing this since you've fixed it. Thanks!

[2016-05-26 09:06] #12168 closed

[2016-05-26 09:55] aab-odoo commented on #8249
Hello,
This has been fixed by e18660c3308e7fb17590e72e6b5e9aadc8ca0517
Regards

[2016-05-26 09:55] #8249 closed

[2016-05-26 09:57] mart-e commented on #7719
As the public already have these access rights, I guess it make sense to give it to the employees and portal. Moreover the list of grades is not so much confidential.
Done at 66221968b8024f589d361ead74312a24ae02cd99

[2016-05-26 09:57] #7719 closed

[2016-05-26 10:18] JKE-be commented on #12187
Hello, like you specify in your 'Notes', it's not a bug ... but a whihlist...
We force to recompute price on confirm order to be sure to apply the right fiscal position and co.
Best way to do it is to do a product Donation with unit price 1 and change the quantity !
1 x 99$ or 99 x1$... it's the same :)

[2016-05-26 10:18] #12187 closed

[2016-05-26 10:23] yannprada commented on #12187
I though of the qty trick. But it's very ugly IMO. Oh well,  thanks ^^

[2016-05-26 11:41] NL66278 opened #12192 "Updating database with demo data and crm module fails because of wrong references to xmlid field_crm_lead_create_date"
Impacted versions: 8.0

Steps to reproduce: Update a database with demo data

Current behavior: Error is thrown and database update remains incomplete

Expected behavior: No error and complete update
Error:
[code]

[2016-05-26 11:45] NL66278 commented on #12192
I think the problem is that currently when fields are registered within ir,model.data, they do get the res_id also appended to the name. This invalidates the old references:
openeyedev@laptop:odoo$ grep -nr field_crm_lead_create_date * | grep -v Bina
addons/crm/crm_action_rule_demo.xml:25:            <field name="trg_date_id" ref="field_crm_lead_create_date"/>
addons/gamification_sale_crm/sale_crm

[2016-05-26 13:06] sharkutz opened #12196 "Uncaught SyntaxError: Failed to execute 'matches' on 'Element': '[ng:cloak]' is not a valid selector."
Impacted versions:
V9.0c

Steps to reproduce:
Clicked on Preference button for user

Current behavior:
Uncaught SyntaxError: Failed to execute 'matches' on 'Element': '[ng:cloak]' is not a valid selector.

Expected behavior:
User preference tab should open

Video/Screenshot link (optional):

[2016-05-26 14:27] tejastank commented on #7833
@Yenthe666 Thanks for quick update on issues.

[2016-05-26 14:33] Yenthe666 commented on #12196
Hi @sharkutz,

Thank you for this report. Are ou talking about this preferences button?
![image](https://cloud.githubusercontent.com/assets/6352350/15578095/70e6b6fa-235f-11e6-98a8-960753fcfb0e.png)

This no longer gives an issue on the latest codebase. If this is the menu you're talking about you should an update from your local Odoo installation.

[2016-05-26 19:11] Yenthe666 commented on #12066
@mart-e and @odony what do you think about this one?

[2016-05-27 04:10] vx0532 commented on #3481
do you have resolve this porblem?
I encounter this to stop my learning odoo8

[2016-05-27 04:13] vx0532 opened #12197 "shall I get some materials about learning odoo?"
Impacted versions:odoo8 / odoo9(better)

Steps to reproduce:want help.

Current behavior:learning odoo

Expected behavior:get some material to learn odoo if I just have some experience about Python.
Thanks a lot

Video/Screenshot link (optional):

[2016-05-27 05:53] Yenthe666 commented on #12197
Hi @vx0532,

There are plenty of learning resources around the internet, such as the official Odoo tutorials and docs.
You can find an overview of available tutorials / docs at this URL: https://www.odoo.com/nl_NL/forum/help-1/question/fyi-initiatives-from-odoo-to-help-train-and-educate-the-community-102341

I'm closing this since this is not a real issue, it is a question. You might want to post

[2016-05-27 05:53] #12197 closed

[2016-05-27 07:01] Yenthe666 commented on #12178
@qdp-odoo could you have a look at this one? My experience doesn't go far enough for this one. :sweat_smile:

[2016-05-27 07:21] Yenthe666 commented on #7019
Hi @tejastank,

This bug can no longer be reproduced in the latest Odoo 8 build.
If you still face this issue please update your Odoo and this issue will be fixed!

Regards,
Yenthe

[2016-05-27 07:21] #7019 closed

[2016-05-27 07:24] Yenthe666 commented on #7012
Hi @tfossoul,

This issue is actually still present in the last 8.0.
@nim-odoo can you have a look at this? The reason is that because you fill in an amount and click on save the on_change does not go off, since it is not triggered.
Its more of an usability issue in my opinion.

Regards,
Yenthe

[2016-05-27 07:32] Yenthe666 commented on #7571
Hi @hengkysipocs,

This issue is related to the configuration of your postgreSQL / configuration and doesn't fall under the Odoo issues. Github issues are only used for bugs in the official code, not for implements and other software issues.
If you still face this problem I'd suggest you to create a topic on help.odoo.com (the official Odoo help forum) where there are plenty of people that can hel

[2016-05-27 07:32] #7571 closed

[2016-05-27 07:37] Yenthe666 commented on #7526
Hi @odony and @mart-e I'd like your input on this one. Is this something that we can add to the wishlist or is there a technical downside to this? The concept / idea is nice.

[2016-05-27 07:40] Yenthe666 commented on #7491
Hi @JKE-be,

I believe this issue is no longer present in the latest Odoo versions?
Can we close this one?

Regards,
Yenthe

[2016-05-27 07:54] JKE-be commented on #7491
Hello @Yenthe666
Yes, we can close it... No news since  Aug 7, 2015 and I cannot reproduce it !

Thanks

[2016-05-27 07:54] #7491 closed

[2016-05-27 07:56] tvibliani commented on #8770
Hi @Yenthe666, now you have write access to odoo repo? That's cool!

[2016-05-27 07:58] Yenthe666 commented on #8770
Hi @tvibliani I have the same rights as developers from Odoo but I'm technically not allowed to merge PR's. This does give me the ability to manage and maintain bugs here. :smile:

[2016-05-27 08:09] Yenthe666 commented on #7440
Hi @kosuke1103,

I've just tried this with the latest V8 build from Odoo and I can no longer reproduce this error:
![image](https://cloud.githubusercontent.com/assets/6352350/15602022/1adaa8e0-23f3-11e6-9487-af2c5cf4e589.png)
Closing this since it is fixed.

Regards,
Yenthe

[2016-05-27 08:09] #7440 closed

[2016-05-27 08:11] Yenthe666 commented on #7479
Hi @duranyoel,

I've labelled this as wishlist as this is a request, but this is probably not something that Odoo wants to implement in the future.
There are community modules that allow this though (such as http://webkul.com/blog/point-of-sale-stock/)

Regards,
Yenthe

[2016-05-27 08:11] #7479 closed

[2016-05-27 08:59] Yenthe666 commented on #12027
Hi @andytorres,

Github issues are only for bugs / issues with the official code, not for custom development or configuration.
I'd suggest you to create a topic on the official Odoo help forums (help.odoo.com), there are plenty of people that can help you there!
Closing this since it isn't an issue with the Odoo code.

Regards,
Yenthe

[2016-05-27 08:59] #12027 closed

[2016-05-27 09:04] Yenthe666 commented on #7058
Hi @yboujraf,

This looks like some custom report? I cannot reproduce any issues with the default invoice report and since you link to a tutorial this looks like custom development.
Closing this issue since it is not about the default Odoo code and I think you've also solved your own problem.

Regards,
Yenthe

[2016-05-27 09:04] #7058 closed

[2016-05-27 09:07] klepallec commented on #10305
Hello,

I resintall Odoo, so i can't test sorry :/

[2016-05-27 09:08] Yenthe666 commented on #10305
Hi @klepallec,

No problem. Do you mind me closing this issue?
Since we have no way to reproduce this or find out what was wrong.

Regards,
Yenthe

[2016-05-27 09:09] Yenthe666 commented on #7067
Hi @oerp-odoo,

I'm closing this issue since it is not about the default Odoo code, but custom development. @fevxie gives a nice example too, so you should be fine.
I'd suggest you to create a topic on the official Odoo help forum (help.odoo.com) when you're facing custom development issues, this forum is dedicated to these kind of questions.

Regards,
Yenthe

[2016-05-27 09:09] #7067 closed

[2016-05-27 09:10] klepallec commented on #10305
Yes no pb you can please.
thks

[2016-05-27 09:13] Yenthe666 commented on #7061
Hi @sergueikp,

I can no longer reproduce this issue on the last Odoo 8 code.
If you still face this issue please update your local Odoo and it should be fixed!

Regards,
Yenthe

[2016-05-27 09:13] #7061 closed

[2016-05-27 09:13] #10305 closed

[2016-05-27 09:31] #12096 closed

[2016-05-27 09:32] Yenthe666 commented on #6954
Hi @diezcode,

This feature isn't available by default in Odoo.
If you would want this you would have to do some custom development that doesn't allow adding working hours after they're consumed.

Regards,
Yenthe

[2016-05-27 09:32] #6954 closed

[2016-05-27 09:50] qdp-odoo commented on #12178
hello,

you need to define the objects you reference first, but without the full definition of it. Just the required fields. Then you load the csv files normally, by making sure that your referenced objects are now fully defined with the same XML ID (will be overwritten).

so, in your example, you can do:
1. account tags (account.account.tags.csv)
2. COA (account.account.template.csv) but without

[2016-05-27 09:50] #12178 closed

[2016-05-27 09:51] qdp-odoo commented on #12178
ho and yes: that's not a bug at all... It was more a question actually.

[2016-05-27 10:19] odony commented on #12066
As @jorenvo explained on the ticket, this is basically a consequence of how many2many relationships work. When reading a m2m, the `active` flag of the target table is taken into account. This may be desirable in some cases, and less in others (like here), but we can't suddenly change it.
For instance for a m2m to a "tag" or "category" model, you'll want the tag to disappear from all places where i

[2016-05-27 10:25] wtaferner commented on #12066
@odony
What about the more severe issue that deleted m2m will be lost forever until you restore them? Not a big deal with non-critical values and models but for taxes it is highly critical I would say, right?

[2016-05-27 10:39] joolsr commented on #12049
I'm having the same exact issue with v9, ie with slides and live chat with some files being blocked as they are http and not https. I'm using nginx and ssl. I've asked @Yenthe666 to have a look at this as AFAIK the v8 patch referenced should be the same as for v9. But others far more knowledgeable than I need to push for this fix as you cant use the slides properly and live chat without a fix.

[2016-05-27 11:05] JKE-be commented on #12150
Hello @Niklas1994

I have just tested with a win7 x64 (runbot version) and I cannot reproduce your bug.

Do you have the bug on the runbot ? Can you reproduce the problem here: http://runbot.odoo.com/runbot/7/9.0

I don't say that it is not Odoo the problem, i'm just tying to understand if the problem is in Code Odoo, or in the packaging of Odoo for Windows or maybe fixed meanwhile ?

Thank for yo

[2016-05-27 11:22] Niklas1994 commented on #12150
The Problem still occurs on my system.

I cant reproduce the problem on the runbot - its working fine there. I will download the newest build from today and install it again! :)

[2016-05-27 11:27] JKE-be commented on #12150
We don't change anything meanwhile (I think) concerning the packaging.
So I have some doubts that reinstall will fix the problem.

I ping you when I have more news about this issue.
I will test and fwd if needed to the packaging responsible.

Thanks

[2016-05-27 11:41] Niklas1994 commented on #12150
I dont have this problem with a community version by the way. I downloaded the community version to another Server one week ago - i didnt have the problem there.

[2016-05-27 12:28] JKE-be commented on #12150
Community version dont use new webclient and new checkbox.

I have installed an Odoo 9 on new windows and I don't have the problem.
So it's seems that it is a problem in your installation :(

Could you check that you can load in your browser: yourname:8069/web/static/img/checked.svg
And what is the dom of your checkebox. it should appear in the clostest span below the input.
Can you check that it

[2016-05-27 12:35] Niklas1994 commented on #12150
The ressource cant be found! I get a 404 Error...
I had ta closer look on the path, where my checked.svg is saved. The path is:

C:\Program Files (X86)\Odoo 9.0-20160524\server\openerp\addons\web\static\src\img

There is an extra "src" folder... is that correct?

Interesting fact: If i change the background PNG File. The change is shown in Firefox, but not in Chrome. But the checked.svg is not sho

[2016-05-27 12:37] JKE-be commented on #12196
Hello @sharkutz
It sound like a bug of AngularJS which one is not used in Odoo v9c in standard.
Don't hesitate to reopen an issue if you arrive to reproduce this bug in the runbot version (without any extra module) and with a browser without extra addons which could try to bind your click and co...

[2016-05-27 12:37] #12196 closed

[2016-05-27 13:41] mart-e commented on #12181
Hello,

The automatic addition is due to the inheritance defined on the `Employee` group
![screenshot from 2016-05-27 15-29-28](https://cloud.githubusercontent.com/assets/564822/15609544/dc8004a4-2420-11e6-81ca-a54c214550af.png)

The default value is maybe not optimal but we tends to have by default permission security rules that users can restrict depending on the organisation structure.
However

[2016-05-27 13:41] #12181 closed

[2016-05-27 13:45] sharkutz commented on #12196
Yes you ar right, an update fixed the issue

[2016-05-27 13:49] JKE-be commented on #12150
hello,
yes sorry It is a typo, you should have yourname:8069/web/static/src/img/checked.svg
It is very strange behavior...

Maybe you could change the less to load a red square in png just to test...
Have you updated recently your chrome ? which version do you have ?

[2016-05-27 13:55] mart-e commented on #7526
With the evolution of the web client that may be the case one day (the idea comes up on the table from time to time) but no plan to do it at the moment. You can use qweb in kanban view though.

[2016-05-27 13:55] #7526 closed

[2016-05-27 14:25] Niklas1994 commented on #12150
If i call the URL from the SVG File, it shows me this:
`<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="15px" height="15px" viewBox="0 0 15 15" enable-background="new 0 0 15

[2016-05-27 15:02] dansanti commented on #11236
same problem here, in odoo9:
steps:
1.- create a one2Many field into order_line
2.- set default context to order
'default_order_line': [[5],[0,0,{ 'one2many_field':[[0,0,{'field_1':value1}],[0,0,{'field_1':value2}]], rest_order_line_fields...}]]

this make 2 empty lines in one2many_field,with ie.:

[[4,"one2many_v_id_443"],[4,"one2many_v_id_444"]]

 but if you add a onchange('some_value'), and tri

[2016-05-27 15:08] #11999 closed

[2016-05-27 15:12] JKE-be commented on #11976
Seems to be a problem during installation and not an issue in Odoo.
Meanwhile I suppose that you have fixed your problem. Else use the forum for this type of question.

[2016-05-27 15:12] #11976 closed

[2016-05-27 15:16] reggievaldez commented on #1135
Hi! I am also experiencing this error:

Steps to replicate:
1.) Install Odoo via the V8 repo (May 27, 2016)
2.) Run Odoo via:
/opt/odoo/server/openerp-server --addons-path=/opt/odoo/server/openerp/addons,/opt/odoo/server/addons,/opt/odoo/custom -u all -d dbname_test
3.) Import warehouses
4.) Sample file content for import:
![snip20160527_4](https://cloud.githubusercontent.com/assets/6396381/156122

[2016-05-27 15:25] mart-e commented on #12192
Hello,

Thank you for the analysis. It looks like your external ID was generated through [this scenario](https://github.com/odoo/odoo/blob/0413a4ab083e8e1e1b7d4e616c2de89edcfd12e4/openerp/models.py#L446) where we add the id of the field to avoid name clash.
However it is strange that you do not have an external id `field_crm_lead_create_date` in the first place.

Is your database migrated or have

[2016-05-27 15:29] JKE-be commented on #11899
That can arrive if the field is defined with sanitize=True in code.
So you can override the field with a sanitize=False in custom module.

I let the issues open in 'wishlist'. Because it could be interesting to add a new feature (in next version) to update it via the setting ir.model.field.

[2016-05-27 18:59] krueger80 opened #12203 "[9.0e] Search More on carrier_id field gives error and shows no result"
### Impacted versions:
9.0e

### Steps to reproduce:
1) Start a new DB with demo data
2) Create a new sale order
3) Select "Pizza Inn" as Customer
4) Select "[A1232] iPad Mini" as product
5) Save
6) Edit
7) Click the Delivery Method drop down field and select "Search More..."

### Current behavior:
An error occurs and no results are shown:

If you search for one or many specific carriers you know

[2016-05-27 19:32] krueger80 opened #12204 "[9.0e] Search More on carrier_id field shows no price when done before saving sale order"
### Impacted versions:
9.0e

### Steps to reproduce:
1) Start a new DB with demo data
2) Create a new sale order
3) Select "Pizza Inn" as Customer
4) Select "[A1232] iPad Mini" as product
7) Click the Delivery Method drop down field and select "Search More..."

### Current behavior:
All carriers are listed, with price all 0.00

They're all 0.00 because the data not saved yet isn't taken in account

[2016-05-27 20:10] douwma opened #12205 "[9.0] POS: Priced barcodes and Weight barcodes from Barcode Nomenclatures not working"
**Impacted versions:**
9.0
**Steps to reproduce:**
Use the following instruction from the manual:
Let us now assume that we want to write a barcode for a given Weighted Product, say oranges. We first have to define in product oranges a barcode that will match the Weighted Product rule. This barcode must start with '21' and be a correct EAN-13 barcode (i.e. the 13th digit must be a correct checksum

[2016-05-27 21:43] mmalorni commented on #6075
@collinssolutions Old mail clients that do not support the message-id fields are also causing issues. They are stripping the message-id header and then the email gets stuck in the mailbox and there are no warning that they are sitting there. There should be a way to identify those emails that are missing the message-id and warn the recipient or the destinator that the email was not integrated in O

[2016-05-27 21:49] krmagnaye commented on #12104
Hello!
This case has been resolved by myself after I change the IE version 11 to 9.

Thank you!

[2016-05-28 04:06] #12104 closed

[2016-05-28 09:30] Yenthe666 commented on #12203
Hi @krueger80,

I've just tested this case and I can confirm this is a bug:
![image](https://cloud.githubusercontent.com/assets/6352350/15626550/7a6e0a66-24c7-11e6-897f-31736f6f8994.png)
On a sidenote: your issue says it is for 9.0, but it is only the case for 9.0 Enterprise, not community.
@nim-odoo this one is for you.

[2016-05-28 09:33] Yenthe666 commented on #12204
@nim-odoo can you have a look at this one? Not sure what the expected behaviour is from Odoo their side with this one.

[2016-05-28 09:36] Yenthe666 commented on #4774
Hi @maduong,

As stated by @kevin8909 you should use compute='_your_function') instead of fields.function, which is from V7.
Closing this one since it is a not an issue, concerns custom development and since it has already been answered.

[2016-05-28 09:36] #4774 closed

[2016-05-28 09:39] Yenthe666 commented on #4595
@dreispt is this one still the case? Not absolutely sure how to test it. :smile:

[2016-05-28 09:43] Niklas1994 commented on #12150
There seems to be a problem rendering SVG Files.
I tried exchanging the SVG File, to make sure, the given SVG File is not broken. It didnt help anything. Then I downloaded a checked PNG Image and replaced "checked.svg" with "checked.png" In Chrome developer Tools --> A wonder, the checked Icon is showing up.

[2016-05-28 09:49] Yenthe666 commented on #4492
@rba-odoo this issue has been fixed and is no longer present in the newest Odoo version!

[2016-05-28 09:49] #4492 closed

[2016-05-28 09:51] Yenthe666 commented on #4424
Hi @max3903,

This issue doesn't seem to be present in the latest 7.0 version?
Could you confirm this so I can close this bug report?

Thanks,
Yenthe

[2016-05-28 09:55] Niklas1994 commented on #12150
Funny Fact - Ans sorry for those many Posts, but If i have a look at the header from the response of getting the checked.svg, I see following:

Content-Type:text/plain

Shouldn't that be

Content-Type:image/svg+xml

When its used in a background-image or img Tag context?

[2016-05-28 10:43] jholze commented on #4424
--
Jens Holze
Sent with Airmail

Am 28. Mai 2016 um 11:52:35, Yenthe (notifications@github.com) schrieb:

Hi @max3903 <https://github.com/max3903>,

This issue doesn't seem to be present in the latest 7.0 version?
Could you confirm this so I can close this bug report?

Thanks,
Yenthe

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHu

[2016-05-28 14:45] rafaelbn commented on #7722
OMG!

[2016-05-29 05:19] ecwashburn commented on #9528
Please let me know if you found a solution to this problem.  I have the same problems.  Thanks

[2016-05-29 07:44] tesserB commented on #12150
@Niklas1994
"Shouldn't that be... Content-Type: image/svg+xml"
That's 100% correct, sir, and explains why replacing the file works within Chrome's dev tools...

And can you save me some typing and upload "checked.svg" for me?

[2016-05-29 09:11] tesserB commented on #12137
@jl2035 Can you give me a little more context and tell me what you were attempting to print?

"How come this was never fixed[?]"

["Then saith he unto his disciples, The harvest truly is plenteous, but the labourers are few; Pray ye therefore the Lord of the harvest, that he will send forth [more programmers]" ](https://www.biblegateway.com/passage/?search=Matthew%209:37-38)

[2016-05-29 14:15] alaa9jo opened #12207 "[9.0] Recurring document cannot be stopped nor deleted if Cron job is deleted"
Impacted versions:
9.0
Steps to reproduce:
1)Create a new purchase order then create an invoice and pay it with cash
2)Create a new recurring type, type any name you want, and set Object to "Invoice"
3)Create a new recurring document, name it anything, set Source document to the recurring type you created earlier,then select the Bill number you created in first step
4)Save and your changes and not

[2016-05-29 14:35] alaa9jo opened #12208 "[9.0] Issue: Odoo allows deleting recurring type even it's used in recurring document"
Impacted versions:
9.0

Steps to reproduce:
1) Create a new recurring type and name it anything you want,set it's type as invoice
2) Create a new recurring document and name it anything,set source document to the recurring type you created earlier then choose an invoice from the list,save your changes
3) Delete recurring type
4) Go back to the recurring document you created earlier and click on ed

[2016-05-29 16:57] LeDistordu commented on #11565
it's not customisation, i think logo must be center by default no ? Everybody is looking how to get around it made did not..

[2016-05-29 19:07] lsqtzj opened #12209 "TypeError: CleanCSS is not a function\A at Object.toCSS"
TypeError: CleanCSS is not a function\A at Object.toCSS (/usr/lib/nodejs/less/lib/less/parser.js:620:32)\A at /usr/lib/nodejs/less/bin/lessc:357:32\A at Object.finish [as _finish] (/usr/lib/nodejs/less/lib/less/parser.js:669:28)\A at Object.subFinish [as _finish] (/usr/lib/nodejs/less/lib/less/import-visitor.js:63:47)\A at Object.subFinish [as _finish] (/usr/lib/nodejs/less/lib/less/import-visitor

[2016-05-29 20:31] dansanti opened #12210 "[9.0] website_hr_recruitment public user can't view job list"
Impacted versions: 9.0

Steps to reproduce:
1.- make a new recruitment process
2.- set as public
3.- Set not required login
4.- log out , an go to /jobs
5.- list is empty
6.- login
7.- now you can see new entries

Current behavior:
 Public user can't see new recruitment entries

Expected behavior:

Public user can see it

Video/Screenshot link (optional):

[2016-05-29 20:53] JKE-be commented on #12210
Hello,
I cannot reproduce your bug ... I hae just tested on v9 now.
What do you mean by step 3: '3.- Set not required login' ???

Else when you specify '2.- set as public', be sure that you are redirect on website and need to click again on the red button "not published'.

Could you confirm that when you are connected as admin you see the button green 'Published' and that when you are unlogged, yo

[2016-05-29 21:01] JKE-be commented on #12150
Hello, yes it should be svg+xml and it wwhy you see xml code instead of icon when you specify the static url in your browser.

Can you force you server to serve these files as image/svg+xml ?

Eg:

```image/svg+xml svg svgz;```

[2016-05-29 21:14] dansanti commented on #12210
Hello! here the video:
https://dl.dropboxusercontent.com/u/15378442/out-5.ogv

[2016-05-30 05:49] Yenthe666 commented on #12209
Hi @lsqtzj,

We really need a bit more information to handle this report. Can you please provide us with steps about how to trigger this error, the full stacktrace and which Odoo version you've used? This is just a part of it.
Can you reproduce this issue on the latest runbot?

Regards,
Yenthe

[2016-05-30 06:32] Yenthe666 commented on #11083
This issue is no longer present in the latest Odoo 9.

[2016-05-30 06:32] #11083 closed

[2016-05-30 06:36] nim-odoo commented on #12203
@Yenthe666 :  @rim-odoo has a better knowledge on that topic.

That said, I don't think we want to mute the error, otherwise the user is not aware that something is going wrong.

[2016-05-30 06:37] nim-odoo commented on #12204
@rim-odoo

[2016-05-30 06:41] Yenthe666 opened #12213 "[9.0 & 9.0E] Internal server error when posting comment on existing help topic"
Impacted versions: 9.0 community & 9.0 Enterprise

Steps to reproduce:
 - Open up one of the latest runbots
 - Go to the website and open up an existing help topic
 - Post a comment on a reply:
  ![image](https://cloud.githubusercontent.com/assets/6352350/15641561/18a8a990-2642-11e6-8b55-649a6a1f74e4.png)
 - Click on post and you will get the following internal server error:
  ![image](https://clo

[2016-05-30 06:41] Yenthe666 commented on #12213
@JKE-be can you have a look at this one?

[2016-05-30 06:49] Yenthe666 commented on #12207
@mart-e could you let somebody have a look at this one?

[2016-05-30 07:10] odony commented on #12066
Fix landed in 8.0 at cd3f52ba1064000483f1a4cd781cf576767b4e01, will be forwarded shortly in 9.0.

[2016-05-30 07:10] #12066 closed

[2016-05-30 07:21] rim-odoo commented on #12204
If you have an efficient fix, in stable, that does not hide the errors, I will be happy

[2016-05-30 07:22] rim-odoo commented on #11873
Please make a branch for Odoo 8.0 and I will review&merge it

[2016-05-30 07:38] Niklas1994 commented on #12150
Hey Guys,
Thanks very much. I would know where to place htaccess File on linux - but I have it Installed on Windows - where is the folder on Windows to place the .htaccess file?
Cheers

[2016-05-30 07:42] wtaferner commented on #12066
Should I do an own ticket/issue for my additional and related comment or do you consider it as invalid?

[2016-05-30 07:43] aetna-softwares commented on #11873
Hi,

I just created the pull request on branch 8

[2016-05-30 08:33] eLBati commented on #8300
It seems this is now correctly handled.
See the MIS builder example
https://raw.githubusercontent.com/OCA/account-financial-reporting/9.0/mis_builder/README.rst

[2016-05-30 08:33] JKE-be commented on #12210
Ok, So the post is well published. You got a 403 and not a 404.
It seems to be a access right error, could you check in your log and give us the traceback ?
Thank you for the reporting

[2016-05-30 09:03] lmignon commented on #8300
@eLBati Indeed this issue seems to be solved even if the description is not in sync with what you can read on githob

[2016-05-30 10:10] #12213 closed

[2016-05-30 10:26] JKE-be commented on #12210
Can you reproduce the bug on runbot ?
http://150450-9-0-be91fa-base.runbot.odoo.com/ admin/admin

Do you have some customization (custom model) in your instance?

Sorry, I cannot reproduce your bug on a fresh db and without log that not easy to guess the model which have access right misconfigured.

[2016-05-30 11:42] blaggacao opened #12221 "[KNOWLEDGE] PyPy Support"
Not a bug, just an attempt to gather knowledge, info:

Having scanned: http://packages.pypy.org/, the following packages are the only ones, which are not listed as "explicitly compatible".

`psycopg2==2.5.4`, use of https://pypi.python.org/pypi/psycopg2cffi is recommended which comes with a nice compatibility patch:
[code]
`gevent==1.0.2` -> version 1.1 is tagged as compatible, a bump could be con

[2016-05-30 11:53] fadeldamen opened #12222 "[8.0] point of sales model pos.order no sum in group by"
Impacted versions: 8.0

Steps to reproduce: go to pos.orders and group by some field not sum (agregation) in total field

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-05-30 13:37] rgeromegnace opened #12223 "cannot delete content of fields description for quotations, description for vendors, description for pickings"
**Impacted versions:**
9

**Steps to reproduce:**
Create a new article

Set content in Note sheet in "description for quotations, description for vendors, description for pickings"

**Current behavior:**
When we update the new article in order to remove the description, if we save the article the description is always displayed

**Expected behavior:**
When we update the new article in order to rem

[2016-05-30 13:38] ke-real opened #12224 "[9.0] point_of_sale cash.box _compute_values_for_statement_line renamed in 9.0"
Impacted versions:
9.0

Steps to reproduce:
method _compute_values_for_statement_line has been renamed to
_calculate_values_for_statement_line so overloads in point_of_sale module are not applied.

[2016-05-30 15:14] rim-odoo commented on #12203
It is a well known bug, but hard to fix in a clean way...

[2016-05-30 16:05] odony commented on #12066
@wtaferner I would prefer a PR ;-) For 9.0 I suppose the fix is as trivial as setting ondelete=restrict on account.invoice.tax (just tried that at 10f1cae877d611b4f967f2a46ed5625530a249cf). For 8.0 I suspect it will be more complicated because no record actually holds a mandatory m2o to account.tax, so ondelete=restrict will not cut it. Perhaps the easiest will be to handle it specifically in acco

[2016-05-30 16:27] dansanti commented on #12210
Seems, that only admin user can create a new recruitment process, my demo was create without admin account,  today i create a new recruitment called demo2  with admin account, and  i can see only demo2 , demo1 still hidden for public,

This is the log when try to access with public to demo1 http://pastebin.com/2NJGgP9T

[2016-05-30 17:52] ddiazpinto commented on #5030
I have had the same issue in Odoo v9 after uninstall `stock` application. Re-installing the `sale` app fixes the problem.

[2016-05-30 18:04] dansanti commented on #12210
Ok, i found the problem, if you ave activated multicompany,  and ie. 2 company, every time take jobs from last company in list, on link1, and link2 show the same result, and if i manual change company_id in hr.job on db, and put the id of last company, jobs was showed in both links.
 In website_admin i have 2 sites configs with those links

[2016-05-30 18:05] aek opened #12227 "Wrong domain for account type regular for Reconcile Payment Balance"
Impacted versions: Tested in v8

Steps to reproduce: Create an invoice, validate it and register a Payment with more than the expected total of the Invoice. Select "Reconcile Payment Balance" in the field "Payment Difference" and you could only select an account of type Regular in the field "Counterpart Account".

Current behavior: This cause that you couldn't directly use the difference of the pa

[2016-05-30 20:12] dansanti opened #12229 "[9.0] Wrong site company_id for public user"
Impacted versions: [9.0]

Steps to reproduce:
1.- Set multicompany
2.- Create a new company
3.- Go to website_admin
4.- Create a new website with new link
5.- Add new company for new website
6.- Create a recruitment or website chat for only one site config
Current behavior:
Public user take company_id context of last webiste config, and recruitment or website chat, take those configs, for all webs

[2016-05-30 20:13] dansanti commented on #12210
https://github.com/odoo/odoo/issues/12229

[2016-05-30 20:13] #12210 closed

[2016-05-30 20:19] JKE-be commented on #12210
Thank you for your analyze and you new issue !

[2016-05-30 20:21] krueger80 commented on #12203
Maybe have always the error message written in a new field "estimate_error" (store=False) on delivery.carrier model. This field could be shown in the search more view.

In the get_price method, first remove the @api.one to allow looping in all carriers. Now every error can be catch and be saved in "estimate_error" field. The function get_price shouldn't throw any error from my understanding, other

[2016-05-30 20:53] krueger80 commented on #12042
I still don't understand why this is happening, but for sure I need to loop through self in _compute_available_carrier_ids(self).

[2016-05-30 20:53] #12042 closed

[2016-05-30 21:15] dansanti commented on #11782
you must, click in upgrade on Sales  plugin

[2016-05-30 21:31] JKE-be commented on #12150
If you have just installed the package, static file should be serve directly by odoo.

Can you 'temporarily' patch the file /openerp/http.py
    Add at line 1379
    ```mimetypes.add_type('image/svg+xml', '.svg')```

And restart the service Odoo-9 please.

Let us know.

[2016-05-30 21:34] dreispt commented on #4595
It's quite simple: just go to any document with chatter, such as Quotations, "Send a message", click the icon to open a composer and write a message.
I rechecked 8.0 and 9.0 and it works correctly now.

[2016-05-30 21:34] #4595 closed

[2016-05-30 21:36] dreispt commented on #11782
This is not a SO specific issue - that was just an example. The issue is generically with One2many fields.

[2016-05-30 21:52] dansanti commented on #11782
well, i modify addons/sale/sale_view.xml  line 182 and add required="1" then reload with f5 and works fine
<field name="order_line" required="1" mode="tree,kanban"

[2016-05-30 22:21] dreispt commented on #11782
I just tested on Runbot 8.0: edited the Sales Order view to make order lines mandatory, F5, created a new SO without lines, and it didn't error as expected.

[2016-05-30 22:29] max3903 commented on #4424
@Yenthe666 Will do when I get some time. Probably next week.

[2016-05-31 02:12] dannyadair commented on #12077
@odony thank you. How could I allow an employee to maintain some fields for their own Employee instance but not access these fields at all on others? For example they might want to update their personal phone number.

[2016-05-31 05:43] wtaferner commented on #12066
Hehe, too many PR's were already rejected so I dare to suggest a PR on such a "difficult" topic as I am short in time too ;-)

Restricting (creating a lock model where I create stored relations automatically and restrict them via m2o fields) or teaching the user to not touch or delete tax for v8 is easier than to resolve this on a framework level and monkey patching is lame and especially you don'

[2016-05-31 06:03] Yenthe666 commented on #12222
Hi @fadeldamen,

I can't really reproduce this issue, can you supply me with a bit more details please?
Can you reproduce this on the latest Odoo 8 (runbot)?

Regards,
Yenthe

[2016-05-31 06:07] Yenthe666 commented on #12227
Hi @aek,

What exactly do you mean with "Select "Reconcile Payment Balance" in the field "Payment Difference" and you could only select an account of type Regular in the field "Counterpart Account"."?
I can select any value in the field "Counterpart Account"?
![image](https://cloud.githubusercontent.com/assets/6352350/15664761/bb9df7c6-2706-11e6-9a2c-01cf83c1885d.png)

[2016-05-31 06:43] tejastank commented on #7019
@Yenthe666 Ohh, Awesome for quick actions, after a year!!!, thanks for slow perfect fixes.

Thanks from:
me, @shingonoide @sergueikp

[2016-05-31 06:52] Niklas1994 commented on #12150
Wonderfull - its working now!

[2016-05-31 06:58] diezcode opened #12234 "Odoo8 Shop Email sending when confirm order , not working."
Hi, I try to send an email to the user when he order a product from the odoo shop. The Email is working normal with smtp, but when a user buy a product, he doesn't get an email.
I try to do this with automatic workflows, but then the user get4 emails after ordered an product.

How can I fix that? and why is there not a standard way to send a normal email when a user buy a product in the website sh

[2016-05-31 07:20] treviser opened #12235 "Odoo Help Forum: Force english language if the forum rules demand english language only"
More and more people post in different languages in the Odoo help forum. I suppose this is also propagated by the fact that the Odoo forum website and related content such as the forum guidelines etc. itself is displayed in different languages.

As a first step: Please add an additional remark when posting a new question about using english language only.
Otherwise moderators are forced to strictl

[2016-05-31 07:31] joshbindels opened #12236 "[9.0] Qweb report not rendering with multiple barcodes in threaded mode"
When printing a report with multiple barcodes Odoo freezes seemingly on a GET call for assets, but this varies

Qweb used for the barcodes is:
`    <img t-att-src="'/report/barcode?type=Code128&amp;value=%s&amp;width=325&amp;height=130&amp;humanreadable=1'%(barcode_data)" />`

The /report/barcode  route function is called twice back to back (before any return value).

this function is called once

[2016-05-31 07:34] Yenthe666 commented on #7019
@tejastank,

Odoo has had way too many issues in the past and not enough people to handle all of them.
You're welcome though!

Regards,
Yenthe

[2016-05-31 07:35] Yenthe666 commented on #12150
Seems like we have a fix that can be made by @JKE-be then? :smile:

[2016-05-31 07:37] Yenthe666 commented on #12235
Hey @treviser,

I agree that this is bit of an issue at the moment, I've seen a lot of new help topics in other languages these days..
@mart-e can you throw in your opinion on this one? It is indeed a bit annoying. People don't seem to read the rules. :+1:

[2016-05-31 07:46] Yenthe666 commented on #12236
@Gorash and @sle-odoo could you guys have a look at this one?

[2016-05-31 07:47] treviser commented on #12235
This leads to a suggestion for improvement of website_forum: It should be possible to define a default language for a particular forum independent of other languages settings for the rest of the website.

[2016-05-31 08:19] Yajo opened #12237 "HttpCase test cursor is not shared with the created session's test"
Impacted versions: 9.0

Steps to reproduce:

Create this test for `auth_signup` module:

[code]

Run the test.

Current behavior: Test fails because the cursor is not the same in the running test and in the request that gets opened with `self.url_open`, and thus `auth_signup.allow_uninvited` still remains `False` and the `/web/signup` controller raises a 404 error.

Expected behavior: The cursor f

[2016-05-31 09:52] JKE-be commented on #9118
@callco
Related & Fixed Issue #12150

[2016-05-31 10:33] qndi commented on #7527
same Problem here

[2016-05-31 11:15] rim-odoo commented on #12204
I don't think this is critical and for some technical reasons, it is hard to fix that in stable.

[2016-05-31 11:20] rim-odoo commented on #12203
Actually, I don't think it is a good idea to display this "search more" (in stable at least).
(The original plan was to disallow the "search more", I don't know why it is still there.)

-> With this "search more", you can get the price of every shipping according to your current sale order.
-> If you have an integration with an external shipper (like Fedex or UPS), it means that displaying the lis

[2016-05-31 11:25] rim-odoo commented on #12204
Actually, this is due to the original architecture choices of the "price" field... it is a computed-stored field relying on context hacks and having a saved sale order. Fixing it would mean some refactoring.

I agree that some refactoring should be done for a next version, but in a stable version, I think it is a minor inconvenient. People can still save their sale order at least once.

[2016-05-31 11:27] rim-odoo commented on #12203
I agree that all the code could be refactored and cleaned in a next version. Feel free to submit a PR against odoo/odoo:master branch.

[2016-05-31 12:26] #9061 closed

[2016-05-31 12:26] #12150 closed

[2016-05-31 12:32] jl2035 commented on #12137
Basically anything that I want to print causes that json/jquery error.

In point of sale app for example: I go to an Order and click Print -> Receipt. It looks like "Loading" for quite some time, and then the error.

[2016-05-31 12:45] JKE-be commented on #12235
Hello,
I'm agree that 'additional remark when posting a new question about using English language only.' can help to avoid this behavior.
Moderator should not accept post in moderation_queue that are in another lang that English. But it's a fact, that if the user have karma, he bypass the moderation_queue.

[2016-05-31 12:49] gdgellatly commented on #12137
1 check logs, that js error is useless.
2 you probably have 2 versions of wkhtml2pdf installed. Normally you need
to symlink the new version on Ubuntu to make it work. Do a search you'll
find it.

On Wed, 1 Jun 2016 12:32 AM jl2035 <notifications@github.com> wrote:

[2016-05-31 12:52] #12235 closed

[2016-05-31 12:54] JKE-be commented on #12234
Hello @diezcode ,
It is not an issue, please use the forum for this kind of question... (And yes it should be possible to do it...)
https://www.odoo.com/forum/help-1

[2016-05-31 12:54] #12234 closed

[2016-05-31 14:10] intero-chz opened #12245 "[WISHLIST] Make date group by formats extendable/overridable"
Could you guys please make it easier to extend/override the [date formats](https://github.com/odoo/odoo/blob/9.0/openerp/models.py#L1927) for "new" group by date feature?

I don't see problems with extending the [intervals](https://github.com/odoo/odoo/blob/9.0/openerp/models.py#L1943), too.

[2016-05-31 14:18] krueger80 commented on #12203
In our use case we can have tens of delivery carriers. Not being able to show the entire list is kind of extreme. At least, you should show the list with the name only.

[2016-05-31 14:23] bene1505 opened #12246 "[9.0c][9.0e] [BUG] all stages for new job position not displayed"
Impacted versions:9 e

Steps to reproduce:go to recruitment, create a new job offer, click on applications
![screenshot at may 31 15-41-21](https://cloud.githubusercontent.com/assets/12964307/15676755/cf143748-2747-11e6-90a9-4786b4d307ed.png)

Current behavior: the different stages does not appear for new created job position, but appear for the others

Expected behavior:it should display all the

[2016-05-31 14:45] mart-e commented on #12128
Hello,

I agree the SEO can be improved and we should probably working on that in the future. The easy fix is to add the `nofollow` attribute on your qweb views.

[2016-05-31 15:09] JKE-be commented on #12246
Hello @bene1505
Thank you for the reporting.

In V9, the stage are not shared by default.
So you need to specify for the new job positions, the stages available.
(in V10, it has been updated to be common by default)

The only problem, ... the field ("stage_ids") is not displayed in form view :/
I just add this field in v9, but it will require to make an update of your module to have the new view.

[2016-05-31 15:09] #12246 closed

[2016-05-31 16:16] jholze commented on #12128
We have done a lot of fixes and improvements, except this :) but maybe we
can talk about to overtake all the Seo fixes we did forces pages, blogs and
website sale. Who is the responsible ?

Regards,Jena

Am Dienstag, 31. Mai 2016 schrieb Martin Trigaux :

--
Jens Holze
CEO & Founder

bloopark systems GmbH & Co. KG

Sternstraße 8, 39104 Magdeburg

Telefon   +49 391 563069-10
Email      jholze@bloop

[2016-05-31 17:11] nbj-microcom commented on #11566
Hi @junem-ingenuity ,

we have the exact same issue as we refresh the form view of an opportunity.
We noticed also that the item from the left menu disappear and the menu_id parameter from the URL as well ..

We are wondering if there's a solution for this issue or Odoo is working on it  @rco-odoo @nim-odoo

[2016-05-31 18:22] dansanti commented on #11236
Hi! check if with this pr can solve your problem https://github.com/odoo/odoo/pull/12249

[2016-05-31 20:54] sle-odoo commented on #12236
It looks like you are running your Odoo in worker mode, is this the case?

[2016-05-31 21:14] JKE-be commented on #12128
Hello @fczaja

Technically, you can do it with a inherited view of 'blog posts'

[code]

[2016-06-01 03:01] tesserB commented on #12137
Yeah... I was looking for it using grep and wasn't sure that was the actual traceback...
@jl2035 can you check your logs?

"2 you probably have 2 versions of wkhtml2pdf installed. Normally you need
to symlink the new version on Ubuntu to make it work. Do a search you'll
find it."

I know you said you ran "wkhtmltopdf --version", but check and make sure there's only one reference for:
$ whereis wkh

[2016-06-01 03:06] tesserB commented on #12221
@Yenthe666 Hate to take you away but do you have any thoughts on this, sir?

[2016-06-01 05:52] Yenthe666 commented on #12221
Well I like the idea of adding the PyPy support in and bumping gevent up too.
The thing is that I'm not allowed to decide on such topics so all I can do for now is ping @mart-e and @odony.
If this topic doesn't get a response within a few days just ping me again and I'll see what I can do for you guys.

[2016-06-01 05:57] Yenthe666 commented on #11566
Hi @mart-e could you give your input on this one?

[2016-06-01 06:31] JKE-be commented on #12222
@Yenthe666
![image](https://cloud.githubusercontent.com/assets/4848797/15700165/a9b6352e-27d2-11e6-80dd-223c8a4c9ffe.png)

@fadeldamen
Probably because the field total_amount of pos.order is not stored in database
To fix it, it required to store the field and so change the database structure... what can not be done in stable version.
I add wish list maybe for the v10.

[2016-06-01 06:35] Yenthe666 commented on #12224
@JKE-be could you have a look at this one please?

[2016-06-01 06:36] jl2035 commented on #12137
That must be weird, but there's nothing in the logs.

@tesserB you might be on to something. I'm getting this:

[code]

[2016-06-01 06:36] mayankvara opened #12251 "Website Language Translate"
Impacted versions: `8.0`, `9.0`, `master`

Steps to reproduce:
- Load Arabic language in website
- Enable Product's Attribute Filter in which we got Color filters

Current behavior:
- In English language the color property is proper - Black & White
- But in other language it also translate its color property.

Expected behavior:
- In other language (for ex. here Arabic) It should not translate its

[2016-06-01 06:39] Yenthe666 commented on #12251
@JKE-be since you're all about the website, this might be something for you.

[2016-06-01 06:48] JKE-be commented on #12224
Maybe @mart-e which one is familiar with the POS

[2016-06-01 06:51] Yenthe666 commented on #12224
@jorenvo pinging you too for this one.

[2016-06-01 06:53] joshbindels commented on #12236
I am running Odoo with 0 workers

[2016-06-01 07:10] n1b0r opened #12252 "[8.0] Uncorrect payment line name in invoice form view"
Impacted versions:
- 8.0

Steps to reproduce:
- go to runbot 8.0 odoo instance
- validate a draft invoice using **Validate** button
- register a full payment using **Register Payment** button
- go to "Payments" tab in invoice form

Current behavior:
The related payment line is named "/"

Expected behavior:
The related payment line is named with the invoice number

Other information:

In odoo 7.0 t

[2016-06-01 07:20] Yenthe666 commented on #11643
@mart-e could you give your feedback on this? I might be wrong with this one.

[2016-06-01 07:21] Yenthe666 commented on #12050
Hi @Yajo,

Could you make me a GIF / vid for this? I'm not sure what you mean with the extended compose wizard and drag and drop. If I see this I can simulate this and when it is a bug I can assign somebody on the issue. :smile:

Regards,
Yenthe

[2016-06-01 07:50] Yajo commented on #12050
https://youtu.be/qA6gTojOQ78

[2016-06-01 08:04] JKE-be commented on #12251
Fixed in odoo/odoo@b49818e1ee03205cbef1cc70c21c424ca1a9b436

[2016-06-01 08:04] #12251 closed

[2016-06-01 08:07] Yenthe666 commented on #12050
Thanks a lot for the video, this is indeed a bug!
@JKE-be another one for you, CRM functionalities.

[2016-06-01 08:22] JKE-be commented on #12050
Maybe not a bug...
Not sure that we support base64 img in message, there are sanitized proabably.
Even if the scren 'drag an image here' let suppose it...

[2016-06-01 08:27] Yajo commented on #12050
If it says "drag here" and you drag and it does not work, then it's a bug, without any kind of doubt: Either the message is wrong or the functionality is missing.

Probably removing that sanitizing would work just fine.

[2016-06-01 08:32] joolsr commented on #12050
Hi

I also noticed on a similar note that if you go to pictogram and add one
icon to your signature that tge puctogram icon isnt saved. This may not be
related but could be.

Julian
On 1 Jun 2016 9:27 am, "Yajo" <notifications@github.com> wrote:

[2016-06-01 08:36] #12224 closed

[2016-06-01 08:36] Yenthe666 commented on #12050
I agree with @Yajo, this is clearly a bug. Either the ability to drag and drop in the view is fully removed or it is fixed so you can drag and drop. Either way, something has to change regarding this functionality.

[2016-06-01 08:51] JulioSerna opened #12254 "[8.0] functions fields in tests are not computed with new api"
After this [commit](https://github.com/odoo/odoo/commit/6f29bfc181d23d70d29776d96b4318e9ee2c93a9) some of our tests that are validating the distinct values of the functions fields into process are failing

Impacted versions:
* 8.0

Steps to reproduce:
* Create functions field with new api like this [invioced2](https://github.com/odoo/odoo/blob/8.0/addons/sale/sale.py#L107)
* Create tests to valida

[2016-06-01 12:11] rim-odoo commented on #12254
@rco-odoo Can you have a look at this issue?

[2016-06-01 13:09] mart-e commented on #11643
Hello,

It looks like you are mixing portal and public users. Portal are the one that connect on the `/web` url with a very restricted access while public is for the frontend website ("My Account" page).

[2016-06-01 13:11] Yenthe666 commented on #11643
@mart-e I was just under the impressions that a customer attached to a project could see all the tasks of this project on his portal. This doesn't seem to be the case? Just like you can see all project issues as a customer.

[2016-06-01 13:16] mart-e commented on #11643
We don't have a public project page (we have `website_project_issue` for the "Your issues" section).
We had a crappy `website_project` in 8.0 not really usable but then https://github.com/odoo/odoo/commit/60514d0d0d7254c17ecebad99423f26fd4138d8e happened and we no longer have this.
Maybe it will be back in the future but we don't have this now. Tagging as wishlist.

So what you are looking for is

[2016-06-01 13:16] #11643 closed

[2016-06-01 13:17] Yenthe666 commented on #11643
Ahh yes, I was talking about `website_project ` from 8.0.
Alright thanks for the information. It would be very neat to have this in the website too though, just like project issues but then for tasks.

[2016-06-01 13:23] mart-e commented on #11566
Indeed, the lead and opportunity are the same objects so only the menu you clicked is the way we know which view should be displayed.
When you refresh a page, we lose all the history and context so we try our best and display the first view we find.

So Odoo is not really "refresh-proof" (I find no valid reason to refresh the page anyway). Maybe @ged-odoo has an idea of improvement for that but I

[2016-06-01 13:32] mart-e commented on #12221
That kind of decision would be @antonylesuisse's call.

[2016-06-01 13:42] antonylesuisse commented on #12221
ok to accept non intrusive patches to make odoo run under pypy, such as #7839 however it's low priority.

[2016-06-01 13:42] #12221 closed

[2016-06-01 14:23] Yenthe666 commented on #11627
Hi @odoosin and @mywave82,

I can no longer reproduce this issue on the latest Odoo code.
If you still face this issue please update your Odoo codebase and it should be working.

Regards,
Yenthe

[2016-06-01 14:33] mart-e commented on #12237
Well the ugly and error-prone is what was done at c64a762d06de76ee47356922479eea70694712d9 in auth_signup.
@KangOl an idea to avoid it?

[2016-06-01 14:44] alaa9jo opened #12261 "[9.0][Cancel Journal Entries] Cannot delete cancelled Invoice after validation"
Impacted versions:
9.0c Latest update ( 1 JUN 2016)

Steps to reproduce:
1) Make sure you Allow cancelling entries for journal Vendor Bills
2) Create a PO then Confirm it
3) Click on PO's invoice button and create a new invoice
4) Validate invoice
5) Click on button "Cancel Invoice"
6) Try to delete invoice,notice that a warning box appears "You cannot delete an invoice after it has been validated

[2016-06-01 17:12] max3903 commented on #4424
:+1:

[2016-06-01 17:12] #4424 closed

[2016-06-01 19:16] ged-odoo commented on #11566
The problem is an old one: the state of the application is not serialized in the url, so it cannot be deserialized with only the url as information.  Serializing the state in the url is not really doable, since the state contains all the filter in the search views, all the actions, possibly many, with their context.

Another solution is to use the local storage to serialize the state, but then the

[2016-06-01 20:38] edsersolis opened #12262 "[9.0] Calendar event error when adding attendee"
Impacted versions: 9.0c-20160528

Steps to reproduce: Create new event in calendar, add an attendee (other than yourself), click on save.

Everything else works fine, the error only happens when you add an attendee other than your user. (URL/IP has been omitted).

Error showing:

Odoo Warning - Warning
Failed to render template <Template memory:7f878c825890> using values {'format_tz': <function <l

[2016-06-02 00:03] edsersolis commented on #12262
Fixed it. It was because of the FROM field for the template which was changed by some other user:

It had this value in it: ${(object.user_id.email and '%s <%s>' % (object.user_id.name, object.user_id.email) or '')|safe}

Just removing this line and leaving it empty solved the problem.

[2016-06-02 00:03] #12262 closed

[2016-06-02 01:34] tesserB commented on #12137
This is why I [use /opt/] (https://www.centos.org/docs/5/html/5.1/Deployment_Guide/s3-filesystem-opt.html), per the LSB standard lmao

@jl2035 Can you give me the output for:
$ file /usr/local/bin/wkhtmltopdf
$ file /urs/bin/wkhtmltopdf

And confirm /usr/bin/X11/wkhtmltopdf is just a symbolic link
$ file /usr/bin/X11/wkhtmltopdf

@Yenthe666 I use RHEL distros and I'm thinking this is easy points f

[2016-06-02 06:53] #11566 closed

[2016-06-02 09:45] Yenthe666 commented on #5023
@tde-banana-odoo and @dreispt any update on this one?

[2016-06-02 09:50] Yenthe666 commented on #4864
Hi @ccandito I'm closing this issue. The issue made by @LeartS (found at https://github.com/odoo/odoo/issues/4868) has more details and information, which makes the whole topic more clear.
Both are about exactly the same so I'm closing this one as a duplicate in favour of https://github.com/odoo/odoo/issues/4868 due to more information.

Regards,
Yenthe

[2016-06-02 09:50] #4864 closed

[2016-06-02 09:51] Yenthe666 commented on #4868
Hi @mart-e,

Could you give your input on this one please? I agree that the document module is not as clear as it should be and, well, it lacks some neat features. Could we label this as wishlist and could you give @LeartS some more feedback please?

[2016-06-02 09:56] Yenthe666 commented on #4858
Hi @JosefKaser,

The issue that you're facing is because you have multiple databases. When you have multiple databases and want to use features such as mass mailing you should configure a `dbfilter`.
You can find the documentation regarding dbfilter at https://www.odoo.com/documentation/8.0/setup/deploy.html.
Without this dbfilter the URL that is created (and e-mailed to the customer) will not hav

[2016-06-02 09:56] #4858 closed

[2016-06-02 09:57] Yenthe666 commented on #4857
Hi @alexis-via,

Do you still face this issue?

[2016-06-02 10:01] Yenthe666 commented on #4842
Hi @jco-odoo,

Could you please have a look at this one and fix it? Note that it is fixed in V9 so a backport might be available.
Thanks.

[2016-06-02 10:25] krmagnaye opened #12266 "OpenERP Warning: Erreur 131"
Impacted versions: version 7

Steps to reproduce: Create patients information

Current behavior: cannot open the patients record recently even if i didnt make any changes. Its not working in webpage (any browser) but its working properly to localhost

Expected behavior: View the list of the patients record

Video/Screenshot link (optional):

![erreur131](https://cloud.githubusercontent.com/assets/

[2016-06-02 10:33] jalzaga opened #12268 "Repair invoice error when product uses real cost mrp_repair"
Module: mrp_repair
Impacted versions: 8

Steps to reproduce: Create an MRP repair order for a product that uses Real cost

Current behavior: When repair order is invoiced an error comes up. See error detals below
If the product cost valuatin is changed to standard the error is not produced at invoicing

Expected behavior: Correct invoicing

Video/Screenshot link (optional):

Error details:
Traceba

[2016-06-02 10:48] #12207 closed

[2016-06-02 10:49] mart-e commented on #12207
Thanks for the report, indeed there was an issue, fixed at 440c5d6e443add49018b4615afe5a08613284bc3

[2016-06-02 10:49] tde-banana-odoo commented on #12050
What does it do ? CIDs or inlined base64 content ?

[2016-06-02 10:52] JKE-be commented on #12050
@tde-banana-odoo base64 content

[2016-06-02 11:10] Yenthe666 commented on #12266
Hi @krmagnaye,

What do you mean with patient? There is no such thing as patient in Odoo.
Is this custom development or? We'll need more info and it has to be reproducable on a runbot (v7).

[2016-06-02 11:18] krmagnaye commented on #12266
Yes this is a custom development. I just wanna know why I get that error even if i didnt change anything. its working before and then after an hour there's an error already. Only happened in webpage but in using the localhost its working properly

[2016-06-02 11:22] Yenthe666 commented on #12266
Hi @krmagnaye,

The Github issues for Odoo are limited to the default Odoo code, so custom development is not accepted as a bug.
I'd suggest you to post a new topic on the official Odoo help forums (help.odoo.com) and add in the code so users can have a look at it. You should get help quite fast there!

Regards,
Yenthe

[2016-06-02 11:22] #12266 closed

[2016-06-02 11:22] lem8r opened #12269 "[9.0][regression] account: Reconciled invoice can't be opened"
Impacted versions: 9.0

Steps to reproduce: Reconcile invoice before this commit https://github.com/odoo/odoo/commit/5f9ca1b89becb6867d0755cf7cb3d7f9c533e7af and try to open form view after applying this commit

Current behavior: Stack trace when trying to open form view of invoice which was created and paid before commint:

[code]

Expected behavior: Invoice should be opened without errors

Video

[2016-06-02 11:26] Yenthe666 commented on #12269
@qdp-odoo you've made this commit, perhaps you can shed some light on this one? @mart-e pinging you for this one too.

[2016-06-02 12:14] qdp-odoo commented on #12269
cannot reproduce... and I don't see any point where it could theoretically fail with the given error message  !

[2016-06-02 12:17] qdp-odoo commented on #12269
geez, guys... >_<

https://github.com/odoo/odoo/commit/272c7b26f

[2016-06-02 12:17] #12269 closed

[2016-06-02 12:18] lem8r commented on #12269
I don't know how to reproduce it too. I just have list of paid invoices, some of them can't be opened after this update. Database is not broken

[2016-06-02 12:19] Yenthe666 commented on #12269
@lem8r the commit that @qdp-odoo linked should fix your issue. It was added four days after the commit that broke things. Do another Odoo update and it should be fixed!

[2016-06-02 12:19] lem8r commented on #12269
Yeah, I'll try it. Thanks)

[2016-06-02 12:27] #10654 closed

[2016-06-02 12:27] #12192 closed

[2016-06-02 12:31] lem8r commented on #12269
Just updated Odoo and problem is gone
Thanks again!

[2016-06-02 12:33] mart-e commented on #4868
Hello,

Actually for the document module, we went the other way around, in 9.0, (done at 3ced0ff61bd5b48e8846c30dc8a972a81f1688f4) we removed these incomplete/confusing features to leave only the core of attachment management.
Sorry but it was decided that Odoo would not focus on document management at this time.

[2016-06-02 12:33] #4868 closed

[2016-06-02 12:34] Yenthe666 commented on #4868
@mart-e just wondering, is this somewhere on the roadmap for V11 or something? I really miss good document management.

[2016-06-02 12:35] Yenthe666 commented on #12269
Great to hear! Best of luck with Odoo.

[2016-06-02 12:35] mart-e commented on #4868
Sorry but no, as said above, no plan to focus on document management at the moment.

[2016-06-02 12:57] jl2035 commented on #12137
@tesserB Looks like all three are identical.

[code]

[2016-06-02 13:16] mart-e commented on #12049
@eneldoserrata could you check my comment at [10363#223286990](https://github.com/odoo/odoo/pull/10363#issuecomment-223286990)? We are using NGINX with a proxy on [our own website](https://www.odoo.com/slides) and don't have this mixed content errors.

[2016-06-02 13:25] Yenthe666 commented on #3737
Hi @mart-e and @JKE-be,

This issue is still present in Odoo and in all honesty it is really annoying, especially on the Odoo help forum.
Could we  improve the current parser in order to be able to allow this? At this point posting code is quite hard.

[2016-06-02 14:14] jlaloux commented on #8393
Up. Same issue

[2016-06-02 14:47] jlaloux opened #12272 "[8.0][BUG]Multiple document attached for the same report"
Impacted versions: 8.0

Steps to reproduce:
1. Create a fresh database with sale and document modules installed
2. Change the "save as attachment prefix" of the sale order report to have something in it:
![image](https://cloud.githubusercontent.com/assets/7678583/15748513/83b39d90-28df-11e6-9409-32e17e32fd13.png)
3. Create a QWeb heriting the original sale order qweb to add a page after the sale o

[2016-06-02 15:00] mart-e commented on #3737
Hi,

Thanks for the report, we have fixed it at 30f06fd39e856a97c5aed7cff461e1bb207232bc

[2016-06-02 15:00] #3737 closed

[2016-06-02 15:58] sle-odoo commented on #12272
Hello,
You should not use the "page" class because it is used internally to split the pages. What you want to do is add a page-break-after css rule to force a page-break.

[2016-06-02 15:58] #12272 closed

[2016-06-02 16:09] Petrievn opened #12275 "Unable to create DB backup within docker container"
Impacted versions:
9.0

Steps to reproduce:

- Install docker container (default installation)
- Try to make a backup

Current behavior:

Gives error:

[code]

Expected behavior:

Must succeed

Video/Screenshot link (optional):

[2016-06-02 18:12] gustavocel commented on #9270
I could install python-support in Ubuntu 16.04 using the “llxdev” team package available at:
https://launchpad.net/~llxdev/+archive/ubuntu/xenial/
copying the following line and adding it to my system's software sources:
`deb http://ppa.launchpad.net/llxdev/xenial/ubuntu xenial main`
After that, odoo was installed successfully.
Before reinstalling odoo, I had to (re)create the directory /var/lib/o

[2016-06-02 19:20] JKE-be commented on #8393
Duplicate of #12272

[2016-06-02 19:20] #8393 closed

[2016-06-03 00:40] #3467 closed

[2016-06-03 00:40] spadae22 commented on #4890
Fixed on my repro

[2016-06-03 00:40] #4890 closed

[2016-06-03 00:53] spadae22 commented on #6028
@nolanzandi THANKS! Here is the response for the current code on git:
Denis Ledoux (dle) - 2 months ago
Dear E.R. Spada II,

I just tried to reproduce your use case using the latest build 8.0 on runbot, but coudln't.

See the below video for illustration:
https://drive.google.com/file/d/0B5GVjjwUC-ygcFVSb1N6LXB4dzg/view?usp=sharing

Please check your server log to make sure this error "Cannot read

[2016-06-03 02:57] lukebranch commented on #3737
@Yenthe666 , @mart-e ,

Thanks for the fix!

[2016-06-03 03:01] #4508 closed

[2016-06-03 03:02] #1232 closed

[2016-06-03 06:05] treviser commented on #12049
I don't know if it helps, but I remember that in addition to properly forwarding the scheme as pointed out by mart-e I had to reload some images/PDFs in the website which I had moved by dump backup from the unsecured test server to the secured production server.

[2016-06-03 06:11] Yenthe666 commented on #12275
@aab-odoo could you have a look at this one please?

[2016-06-03 07:32] Yenthe666 commented on #3500
@Gorash any update on this one? The issue has been open for 1.5 year so I assume this can be closed?

[2016-06-03 07:34] Yenthe666 commented on #3497
Hi @jeffery9,

I can no longer reproduce this bug on the latest Odoo 8.
If you still face this problem please update your Odoo and everything should work fine.
If you still face an issue (after updating your Odoo) please create a new issue or comment on this one and I'll reopen it.

Regards,
Yenthe

[2016-06-03 07:34] #3497 closed

[2016-06-03 07:34] sle-odoo commented on #12236
Well i can't reproduce this at all...
Could you detail your setup (OS, are you using a reverse proxy, ...)

[2016-06-03 07:37] Yenthe666 commented on #3495
Hi @sus-odoo,

This issue is no longer present in Odoo 8. Example:
![image](https://cloud.githubusercontent.com/assets/6352350/15771985/bfabc1da-296e-11e6-8628-cac59f875a25.png)
Closing this issue since it has been fixed.

Regards,
Yenthe

[2016-06-03 07:37] #3495 closed

[2016-06-03 07:52] Yenthe666 commented on #3401
@Gorash and @fvdsn could you guys give your input on this one? Is this bug report still active or can it be closed?

[2016-06-03 07:53] Yenthe666 commented on #3384
Hi @cod-odoo,

This issue is no longer present in the latest 8.0 (and neither in 9.0).
Closing this issue since it has been fixed somewhere along the line.

Regards,
Yenthe

[2016-06-03 07:53] #3384 closed

[2016-06-03 07:56] Yenthe666 commented on #3351
Hi @jlaloux,

I've just tested this and this issue is no longer present in the latest Odoo 8.
I've created a new contact, created a new lead, converted it to prospect with the option "Link to an existing customer" and it is correctly linked:
![image](https://cloud.githubusercontent.com/assets/6352350/15772452/6e69cb3e-2971-11e6-9b03-e5c546bbe036.png)
If you still face this problem please update yo

[2016-06-03 07:56] #3351 closed

[2016-06-03 07:57] Yenthe666 commented on #3340
@ged-odoo can you give an update on this one?

[2016-06-03 07:58] Yenthe666 commented on #3305
Hi @loslolos,

As stated by @maclarensg you should click on the pictogram then select customize > change.
After doing this you can choose the size you'd like and it will be followed up by Odoo.

Regards,
Yenthe

[2016-06-03 07:58] #3305 closed

[2016-06-03 08:01] Yenthe666 commented on #3288
Hi @jeffery9,

I'm closing this issue since Martin gave a very good response that explains everything.
I believe this answers your question(s).
RML is deprecated and in Odoo 10 there will be nothing left of RML either.
Don't hesitate to comment on this topic if you do not agree with this.

Regards,
Yenthe

[2016-06-03 08:01] #3288 closed

[2016-06-03 08:31] Yenthe666 commented on #3239
@sle-odoo can this one be closed or should it still be improved?

[2016-06-03 08:41] tde-banana-odoo commented on #5023
The behavior has been improved in v9. We did it as explained in my message of 2015. We won't change the behavior in 8, because it is not considered as a bug; the behavior is that several messages can be produced, one for each trigerred subtypes. So for me, nothing to do here.

[2016-06-03 08:47] joshbindels commented on #12236
I'm running on Ubunut 14.04

Here's a copy of my config file: [git.txt](https://github.com/odoo/odoo/files/297237/git.txt)

Here's a copy of the report I've been testing it with:

[code]

Once in a while the issue won't occur, (when the stars align and the first barcode is returned before the second one is called).
Also the issue doesn't seem to occur when you're creating the same barcode twice, (

[2016-06-03 08:48] Yenthe666 commented on #3232
@mart-e there still seem to be some problems with this in 8.0.
I've created a recurring meeting like this:
![image](https://cloud.githubusercontent.com/assets/6352350/15773588/02bd106a-2978-11e6-9959-b099fa60beae.png)

When I look in the treeview:
![image](https://cloud.githubusercontent.com/assets/6352350/15773604/23a0b08e-2978-11e6-9d2e-0adaf21989a7.png)
All of a sudden (starting at 04/11/2016)

[2016-06-03 08:50] Yenthe666 commented on #3232
@mart-e this problem is also in V9.

[2016-06-03 08:51] Yenthe666 commented on #5023
I guess this can be closed then. @dreispt are you fine with this?

[2016-06-03 09:00] Yenthe666 commented on #3186
Hi @pji-odoo,

This issue is no longer present in the latest code so I'm closing this one.

Regards,
Yenthe

[2016-06-03 09:00] #3186 closed

[2016-06-03 09:01] Yenthe666 commented on #3173
@tde-banana-odoo any update on this one?

[2016-06-03 09:04] Yenthe666 commented on #3108
Hi @kitsunde,

This issue is no longer present in the latest codebase from Odoo.
If you still face this issue please update your Odoo codebase and it will be resolved!

Regards,
Yenthe

[2016-06-03 09:04] #3108 closed

[2016-06-03 09:11] dreispt commented on #3173
This is a deep problem: emails are sent even if the transaction is not finished/ is rolled back.
I find the same problem with validations that abort a Stage change, but the Stage changing notification email is sent the same, generating user confusion.

[2016-06-03 09:20] Yenthe666 commented on #3173
Hmm fair point there.. Perhaps we should atleast label this issue? @mart-e asking your input here.

[2016-06-03 09:27] Yenthe666 commented on #3005
@lukebranch and @aftabnaveed this is indeed correct, a portal user has the ability to enable the developer mode.
@mart-e and @odony is this something you guys would want to change or not? I find this a bit too much access rights for a portal user but that is my personal opinion.

[2016-06-03 09:38] Yenthe666 commented on #2997
Hi @amartinf,

I can no longer reproduce this issue on the latest Odoo code.
If you still face this issue please update your codebase to the latest version.
Closing this issue since I cannot reproduce this anymore.

Regards,
Yenthe

[2016-06-03 09:38] #2997 closed

[2016-06-03 09:46] Yenthe666 commented on #2899
Hi @sraps,

Odoo 10 should be dropping the support from the old API and at the moment Odoo developers are migrating all the code to the new API (against the master version).
All these inconsistency problems will be fixed in the next version. Since the rules for our versions are quite strict to guarantee correct behaviour of live versions this won't be fixed any earlier.
Closing this since this wil

[2016-06-03 09:46] #2899 closed

[2016-06-03 09:47] Yenthe666 commented on #2876
Hi @ali611,

I can no longer produce this issue on the latest codebase from Odoo 8.
If you still face this issue please update your Odoo codebase.
Closing this issue since I can no longer reproduce this issue.

Regards,
Yenthe

[2016-06-03 09:47] #2876 closed

[2016-06-03 09:48] Yenthe666 commented on #2834
Hi @dreispt,

Could we close this one? I can't reproduce it anymore. :smile:

[2016-06-03 09:53] Yenthe666 commented on #2841
Hi @mojowebs,

Please update your codebase again and this problem will be fixed. You've probably had an update that contained one fault that wasn't fixed at the point that you've updated.
A new update will fix all your issues.

Regards,
Yenthe

[2016-06-03 09:53] #2841 closed

[2016-06-03 09:54] Yenthe666 commented on #2831
Hi @vivekbics,

This issue can have a lot of reasons. The reason is because of a missing action in a part of the code.
Odoo issues should have a clear step-by-step proces to follow.
Since I have no way to reproduce this issue I'm closing it.

Regards,
Yenthe

[2016-06-03 09:54] #2831 closed

[2016-06-03 09:55] Yenthe666 commented on #2813
Hi @mojowebs,

As stated by @tmotyl this issue should be fixed with an update of the latest version.
I'm closing this issue since I can no longer reproduce this.

Regards,
Yenthe

[2016-06-03 09:55] Yenthe666 commented on #2798
Hi @mojowebs,
I'm closing this issue since I can no longer reproduce this.
Looks like a duplicate of https://github.com/odoo/odoo/issues/2813 too.

Regards,
Yenthe

[2016-06-03 09:55] #2798 closed

[2016-06-03 09:57] sle-odoo commented on #12236
Ok i reproduced it. I'll investigate.
FYI i made the test with 4 barcodes and with 3 workers it's not locked, so you can start your Odoo in workers mode to workaround this issue at the moment.

[2016-06-03 10:01] Yenthe666 commented on #2782
Hi @hsom1988,

I can no longer reproduce this issue. Could you double check this on the latest Odoo code?

Regards,
Yenthe

[2016-06-03 10:04] hindbenessy opened #12279 "Display total amount"
version : odoo8
hello , i want to display total amount in check with French language
thanks
![capture du 2016-06-03 11 04 37](https://cloud.githubusercontent.com/assets/17640313/15775657/fd365248-297a-11e6-946e-e462c116d833.png)

[2016-06-03 10:04] Yenthe666 commented on #2638
Hi @bishamontn,

Do you still face this issue? A newer version of the PosBox image should have fixed this.
Please let me know if it is fixed and if I can close this issue.

Regards,
Yenthe

[2016-06-03 10:06] Yenthe666 commented on #12279
Hi @hindbenessy,

Are you actually asking how to add the total of all lines in this report or?

[2016-06-03 10:08] Yenthe666 commented on #2586
Hi @tv-openbig,

This was indeed not yet changed in the older versions.
Starting from the next version, V10 (currently master), all descriptions will be "Odoo" instead of "OpenERP".
This is not something that will be changed in older versions.

Regards,
Yenthe

[2016-06-03 10:08] #2586 closed

[2016-06-03 10:08] hindbenessy commented on #12279
i want to translate the text amount to french

[2016-06-03 10:10] Yenthe666 commented on #2574
Hi @davshafik,

I can no longer reproduce this issue on the latest codebase from Odoo 8.
Please update your Odoo environment and it should be fixed now.
I'm closing this issue since I can no longer reproduce this. If anybody still faces this problem (after updating the code) just post on this (with more information) and I will re-open this issue.

Regards,
Yenthe

[2016-06-03 10:10] #2574 closed

[2016-06-03 10:12] Yenthe666 commented on #2554
Hi @dbi-odoo,

I can no longer reproduce this issue with the latest codebase.
This bug has been fixed!

Regards,
Yenthe

[2016-06-03 10:12] #2554 closed

[2016-06-03 10:14] Yenthe666 commented on #12279
Hi @hindbenessy,

All translations regarding Odoo should be done on Transifex (transifex.com/odoo/).
After you've translated the terms it will be in the Odoo code within two weeks. Please do all your translations there and then update your Odoo environment in two weeks.
Another option that you have is to translate it yourself under settings > translations > translated terms.
Closing this since thi

[2016-06-03 10:14] #12279 closed

[2016-06-03 10:15] SarathkumarJ opened #12280 "default argument missing"
Impacted versions: Present revision in git

Steps to reproduce: creating   PO the  draft purchase lines ,the newly created PO's won't have the requestion reference

Current behavior: As  explained above

Expected behavior: Newly created  PO's will have requisition reference set properly

The reason for this overriding  of copy method is not done properly  Screenshot Attached
![odoo 2016-06-03 15-4

[2016-06-03 10:16] Yenthe666 commented on #2531
@mart-e  could you give your input here?

[2016-06-03 10:19] Yenthe666 commented on #2483
@ploegvde,

I'm really missing some context / info on how to reproduce this.
Could you confirm the issue is still present or not? If it is still present please provide some extra information / screenshots.

[2016-06-03 10:20] Yenthe666 commented on #2476
@pna-odoo and @mart-e, pinging you guys again.

[2016-06-03 10:22] Yenthe666 commented on #2393
Hi @gurneyalex,

This issue is no longer present in the latest Odoo codebase.
This bug has been around for quite a while though. :smile:

Regards,
Yenthe

[2016-06-03 10:22] #2393 closed

[2016-06-03 10:25] Yenthe666 commented on #2399
Hi @imjaypatel,

This issue is no longer present in the latest codebase.
Please update your Odoo codebase if you still face this issue, it will be solved then.
Closing this issue since it can no longer be reproduced!

Regards,
Yenthe

[2016-06-03 10:25] #2399 closed

[2016-06-03 10:27] Yenthe666 commented on #2316
Hi @bringsvor,

Just like @jco-odoo I could no longer reproduce this issue on the latest code from V8.
I'm closing this issue since I cannot reproduce this.
Please update your Odoo environment and it should be fixed. If you still face this issue please post on this thread and give us some more information on how to reproduce this.

Regards,
Yenthe

[2016-06-03 10:27] #2316 closed

[2016-06-03 10:28] Yenthe666 commented on #2313
Hey @nbessi,

I can't reproduce this issue anymore so I'm closing this one.

Regards,
Yenthe

[2016-06-03 10:28] #2313 closed

[2016-06-03 10:29] Yenthe666 commented on #2286
@mart-e this is actually still the same up until today.
Do you think we could add in an option for this? It would be handy.

[2016-06-03 10:32] Yenthe666 commented on #2252
Hi @OSguard,

The PHP scripts have been removed in 9.0 (and also in the master).
I bet a backport will never happen, there is no reason to at this point either, since its a stable version.
Closing this since the new versions no longer have the PHP code.

Regards,
Yenthe

[2016-06-03 10:32] #2252 closed

[2016-06-03 10:37] Yenthe666 commented on #2226
Hi @vquochao and @davidtranhp,

I can no longer reproduce this issue on the latest codebase:
![image](https://cloud.githubusercontent.com/assets/6352350/15776448/d5243ee8-2987-11e6-8609-f0172aa3bb09.png)
Closing this issue since it has been fixed. If you still face this issue please update your Odoo to the latest codebase.

Regards,
Yenthe

[2016-06-03 10:37] #2226 closed

[2016-06-03 10:37] Yenthe666 commented on #2140
Hi @tejastank,

I'm closing this issue since you've managed to solve this yourself. Good job!

Regards,
Yenthe

[2016-06-03 10:37] #2140 closed

[2016-06-03 10:40] Yenthe666 commented on #2092
Hi @amiryousefi,

This is not something that'll be added in Odoo.
I don't really see the problem either. You either drop the database through the database manager (pgadmin) or you delete and install the module again to clear the data.
If you miss customizations it means you didn't add them by code, so you should then.

Regards,
Yenthe

[2016-06-03 10:40] #2092 closed

[2016-06-03 10:42] Yenthe666 commented on #1950
Hi @DiegoLelis,

I cannot reproduce this issue anymore, this has been fixed somewhere along the line.
If you still face this issue please update your Odoo codebase and it should be fixed.
Closing this since I can no longer reproduce the problem.

Regards,
Yenthe

[2016-06-03 10:42] #1950 closed

[2016-06-03 10:43] Yenthe666 commented on #1949
Hi @nhomar,

Thanks for your suggestion. As stated by @jholze there is a current live version of the page and the ability to update / change pages.
@sle-odoo can this one be closed?

Regards,
Yenthe

[2016-06-03 10:46] Yenthe666 commented on #1894
Hi @ddico,

This issue is no longer present in the latest Odoo 8.0 (runbot):
![image](https://cloud.githubusercontent.com/assets/6352350/15776598/21a0b4f8-2989-11e6-920b-28fdac5931a5.png)
Closing this since it has been fixed.

Regards,
Yenthe

[2016-06-03 10:46] #1894 closed

[2016-06-03 11:02] #12280 closed

[2016-06-03 11:03] xmo-odoo commented on #12280
Thanks for the report, although a link to the source code (click on the line number in github) or even just the name of the file is really more convenient than a screenshot.

[2016-06-03 11:40] Yajo commented on #12237
FTR I had to remove tests in https://github.com/OCA/server-tools/issues/442 because of this.

[2016-06-03 11:45] Yenthe666 commented on #3190
Hi @roberto-barreiro,

Am I correct this module is made by the community or some developer? There is no such module in the default Odoo code.
Github issues are only for the official Odoo code though, no other modules. I'd suggest you to contact the developer(s) of this module so they can help you.

Regards,
Yenthe

[2016-06-03 11:45] #3190 closed

[2016-06-03 11:45] Yenthe666 commented on #3189
Hi @roberto-barreiro,

Am I correct this module is made by the community or some developer? There is no such module in the default Odoo code.
Github issues are only for the official Odoo code though, no other modules. I'd suggest you to contact the developer(s) of this module so they can help you.

Regards,
Yenthe

[2016-06-03 11:45] #3189 closed

[2016-06-03 12:51] ploegvde commented on #2483
Haha, you realy want to close all. You're great. I just tested only in v8 and it is ok now. Issue can be closed.

[2016-06-03 12:51] #2483 closed

[2016-06-03 12:51] odony commented on #3005
Well, you know how the security model works in Odoo: it's implemented at the ORM level, per-model, and not in the view/UI. The "developer mode" is a "debug mode" that displays technical fields and technical info, and provides a few shortcuts mostly useful for developers.
So having it for portal users is not a security issue, in the sense that it only shows you what you could have obtained through

[2016-06-03 12:51] #3005 closed

[2016-06-03 12:52] fpodoo commented on #2531
We should remove this field, as it is not used. That way, anyone can
customize and add the type he wants.
On Jun 3, 2016 12:17, "Yenthe" <notifications@github.com> wrote:

[2016-06-03 13:00] mart-e commented on #2286
Hello,

These settings are done [based on](https://github.com/odoo/odoo/blob/def824682edc770a79128ee7ed80661dfb68140f/openerp/addons/base/res/res_lang.py#L51) the local installed on the machine you are running. The fallback is done on the main locale of the server. So if you want another language, you need to install it on your server first.

The good news is that we have changed that in master (a

[2016-06-03 13:00] #2286 closed

[2016-06-03 13:03] Yenthe666 commented on #2531
Sounds good to me. @fpodoo can you assign somebody on this or create a task for it?

[2016-06-03 13:05] Yenthe666 commented on #2483
I do want to get a lot of them cleaned out! Thanks for the quick reaction and closing the issue!

[2016-06-03 13:18] fpodoo commented on #3005
Actually, we should remove the backend access to portal users and implement
the portal features in the front-end only. (Not because of security issues,
but more for usability)
On Jun 3, 2016 14:52, "Olivier Dony" <notifications@github.com> wrote:

[2016-06-03 13:25] Yenthe666 commented on #3005
Yep, that is a very good idea. I hope somebody writes this down as to do? Would be neat to have it available in Odoo 10.

[2016-06-03 13:33] tde-banana-odoo commented on #2531
@fpodoo actually we kept that field a few months / years ago because we used it internally. It is still a char field because we did not want to put constraints on what to type in it. For me it should totally be a custom field. So if you agree, let's remove it !

[2016-06-03 15:08] Yenthe666 commented on #12121
Hi @hindbenessy,

There is no way for us to test this or see what is wrong with just a screenshot.
This doesn't really falls under a bug either, since there is just something wrong with your CSV import.
If you still face this issue please post a question on the official Odoo forums (help.odoo.com) and provide some more details there. There are a lot of people there that can help you.

Regards,
Yen

[2016-06-03 15:08] #12121 closed

[2016-06-03 17:04] lukebranch commented on #3005
thanks for looking into this. I definitely agree on moving all portal features to the frontend only.

[2016-06-03 17:53] bishamontn commented on #2638
Yes, working now @Yenthe666. Close the thread without problem. Thank you.

[2016-06-03 17:59] #2638 closed

[2016-06-04 03:04] iamloivx commented on #4682
From ODOO 9.0, I have to replace `section_id` by `team_id`
[code]

[2016-06-04 18:19] tesserB commented on #12275
@blaggacao I know you're pretty familiar with developing within docker... Any suggestions, sir?

[2016-06-04 19:27] tesserB commented on #12137
@jl2035  I know this might sound silly, but this is an installation issue and the GitHub "issues section is reserved for bugs". Still, if you don't mind doing me a favor and closing this issue, I would be more than happy to help you get sorted through email.

You can also try to reinstall wkhtmltopdf and see if that works for you:

1. Uninstall wkhtmltopdf.

2. Confirm it's been removed using the

[2016-06-04 19:53] blaggacao commented on #12275
We are working in an alpine linux implementation at the moment, we don't use odoo's official images.
However, this error doesn't seem docker specific.

I have had errors with pg_dump as it resides in the distribution's postgres packages. However as the official odoo image uses `curl -o odoo.deb -SL http://nightly.odoo.com/${ODOO_VERSION}/nightly/deb/odoo_${ODOO_VERSION}c.${ODOO_RELEASE}_all.deb` i

[2016-06-05 00:19] elicoidal commented on #12275
Since the Postgres client version to use is dependent of the Postgres server version, one of our developers created Python scripts that connect to a Postgres docker and use the Postgres client hosted inside.
Please find it at: https://github.com/ajite/docker-postgres-client
1. To install and use it type the command below:
$ pip install docker-postgres-client
2. All the bash command have -C (contai

[2016-06-05 00:44] blaggacao commented on #12275
@elicoidal I was also wondering if @Petrievn is using a separate postgres, but as he mentions, he is using the official image, which does no separation of concern and just packs the postgres into the dockerfile. I agree, that this is not even satisfying for development, but that's probably something that should be tackled apart. Here we have another issue, which merits attention.

[2016-06-05 00:48] blaggacao commented on #12275
There is also:
https://github.com/odoo/docker/issues/49
https://github.com/odoo/docker/issues/54

[2016-06-05 01:21] elicoidal commented on #12275
@blaggacao whether the images are together or not is important.
The point here is that it seems that the proposed official docker doesnot provide all the necessary tools.
Adding them in the image is probably the best option

[2016-06-05 01:23] blaggacao commented on #12275
@elicoidal actually, I wa a bit out of date concerning the official image... :smile:

[2016-06-05 01:34] blaggacao commented on #12275
@Petrievn If those replies helped, consider closing this. I consider it more a "user error", than a design bug.

[2016-06-05 02:03] tesserB commented on #12275
@Petrievn I doubt this will be open for much longer, as the GitHub issues section is reserved for bugs, and so I want you to know that you're more than welcome to pick this up with us on one of the resources listed below:

Mailing Lists:
https://www.odoo.com/groups

Help Forum:
https://www.odoo.com/forum/help-1

Respectfully,
Cody K.
ckitterm@gmail.com

@elicoidal and @blaggacao - Thank you very m

[2016-06-05 11:23] davidtranhp opened #12286 "[9.0] Wrong plural form of "active users" in Vietnamese language"
**Steps to reproduce**:
Navigate to Settings and look at Active User panel:

1. When Only one user:
English string: "1 Active User"
Vietnamese string: "1 Người dùng tích cực"

2. When more than one user:
English string: "1 active user**s**"
Vietnamese string: "1 Người dùng tích cực**s**"

**Expected behavior** when there are 2 users or more:
- Vietnamese string: "1 Người dùng tích cực". There is n

[2016-06-05 14:27] Yenthe666 commented on #12286
Hi @davidtranhp,

Thanks a lot for your report!
Translations do not fall under Odoo issues though, these should be made on Transifex, the online translation platform used for Odoo. You can find all the information regarding this on the wiki (https://github.com/odoo/odoo/wiki/Translations)
When you've translated this on Transifex it will be available in the official Odoo within 7 days.

Regards,
Ye

[2016-06-05 14:27] #12286 closed

[2016-06-05 14:42] Yenthe666 commented on #12275
Hi @Petrievn,

As stated by @blaggacao and @tesserB this is not really something related to the Github issues. I've kept this open in favor of the fact that you where talking about the official Odoo image for Docker. Since other people confirm this is not related to just this docker image I'm closing this one.
If you're still stuck with this and are facing issues have a look at the mailing lists a

[2016-06-05 15:20] medined opened #12287 "[9] Please add link from /web/database/backup page to other pages."
Impacted versions:

9

Steps to reproduce:

Visit /web/database/backup

Current behavior:

There are no links to provide options

Expected behavior:

Provide link back to login page. Provide links to Help pages.

Video/Screenshot link (optional):

<img width="302" alt="database-management" src="https://cloud.githubusercontent.com/assets/43589/15806352/73b2b430-2b0f-11e6-9624-fa9852cb6bab.PNG">

[2016-06-05 19:56] aetna-softwares opened #12288 ""RuntimeError: maximum recursion depth exceeded" after running for sometime"
Impacted versions:
V8.0 (maybe 9.0)

Steps to reproduce:
I never find a way to reproduce the problem but I seen it many time on several installation

Current behavior:
After some time of running without problem (can be a day or a month...), Odoo suddently fail on all HTTP requests with the error "RuntimeError: maximum recursion depth exceeded"

After restarting Odoo, everything come back to normal

[2016-06-05 20:50] esciara opened #12289 "XMLRPC response "TypeError: cannot marshal None unless allow_none is enabled" despite using "allow_none=True""
Impacted versions:
9.0c and 9.0e

Steps to reproduce:
Here is the code I used on a locally installed and running Odoo 9: (even more details on https://github.com/tinyerp/erppeek/issues/87)
[code]
Current behavior:
Throws `xmlrpclib.Fault: <Fault cannot marshal None unless allow_none is enabled: 'Traceback [..]'>` when calling `delivery_set` on `sale.order`.

Expected behavior:
No exception thrown

[2016-06-05 22:53] dreispt commented on #12289
That's a known limitation of XMLRPC.
The solution is to make sure that the method returns a value; at least `return True`.
Confirm that and make a PR adding the needed return value,

[2016-06-05 23:22] esciara commented on #12289
Won't be able to do that soon, but will eventually.

[2016-06-06 06:19] Yenthe666 commented on #12287
Thank you for your report @medined.
This sounds like a wishlist item to me. @mart-e what do you think about this?

[2016-06-06 06:20] jeffery9 opened #12291 "[8.0] stock barcode interface could not find picking with number contains ' \'"
Impacted versions:

odoo 8.0

Steps to reproduce:

setup the sequence of picking type contain '\' in prefix, like this 'WH\INT\ '

Current behavior:

input int\00037  in search box of barcode interface, it can not find the picking,
if input 00037, it can find it.

Expected behavior:

need to search picking use barcode that contains any code.

Video/Screenshot link (optional):

![animation](https:/

[2016-06-06 06:23] blaggacao commented on #9113
@sle-odoo What do you think of an independently callable "compile" script for lessc and css-clean do it's work so we can drop those dependency completely at runtime. nodejs/npm are beasty candidates in their footprint...

[2016-06-06 06:40] Yenthe666 commented on #11901
@nim-odoo could you have a look at this one please?

[2016-06-06 07:03] blaggacao commented on #9113
Best answer: https://github.com/odoo/odoo/issues/9113#issuecomment-217795632
`apt-get install -y --no-install-recommends npm && npm install -g less less-plugin-clean-css`

I could drop step 3 through 5 entirely. And if not so, why use `--prefix=/usr` after the `-g` flag?

[2016-06-06 07:34] sle-odoo commented on #9113
@blaggacao we are going to remove the clean-css dependency by minifying ourselves the css. Replacing lessc is not trivial.

[2016-06-06 07:44] blaggacao commented on #9113
@sle-odoo I meant not replace it entirely, I mean make it a *buildtime* dependency, rather than a *runtime*. In a docker it would look like that you would just compile all `.less` files to `.css` files and then elegantly move node out of the way so that the shipped image has the finished `.css` files but no beasty node.
Or would this conflict with app store loaded modules? However I think on the a

[2016-06-06 07:45] xmo-odoo commented on #12289
As @dreispt notes that's a limitation of "standard" XML-RPC, for the current RPC API Odoo doesn't enable the `nil` extension, and it won't be enabled as that would be a backwards-incompatible change (existing client may not have enabled this extension and would thus break). As a result, model methods callable over RPC *must* return a value of some sort, usually `True` or `False` if there's nothing

[2016-06-06 07:45] #12289 closed

[2016-06-06 07:49] xmo-odoo commented on #1055
Seems to not be an issue anymore.

[2016-06-06 07:49] #1055 closed

[2016-06-06 07:54] sle-odoo commented on #9113
Lessc is a runtime dependency: when you install a new addon, it's possible that this new addon extends the bundle and then we need to invalidate and recompile the bundle. It is also possible to invalidate the bundle by creating an xpath manually in the webclient, etc. So you cannot do it this way.

[2016-06-06 08:30] Yenthe666 commented on #12291
@jco-odoo could you have a look at this one?

[2016-06-06 08:33] JKE-be commented on #12291
@jco-odoo should help :8ball:  https://github.com/odoo/odoo/commit/599355e#diff-bfe8870b62ee8d50866944d2dd8a4666R459

[2016-06-06 08:34] jl2035 commented on #12137
I think I successfully reinstalled using your instructions.

I can close the issue, but I'm still getting that same error..

[2016-06-06 08:45] intero-chz commented on #12261
As long as i know, the invoice number will be saved on an extra field (v7 internal_number). So when you've canceled the invoice, you can't delete it until this field is empty.

[2016-06-06 08:56] tesserB commented on #12288
@odony I assume this will hit your email and so:

R/S
Cody K.

P.S.
Trying to use the assignation table on the [github wiki](https://github.com/odoo/odoo/wiki/BugManagement), here, and so I apologize if I pinged the wrong person. I thought maybe gde-odoo or aab-odoo, but they're listed as maintaining the 9.0 web client.

[2016-06-06 10:20] odony commented on #12288
First time I hear about such an issue, even though we have hundreds of Odoo processes running 24/7 on  Odoo Online. It will be very difficult to diagnose/help if there is no way to reproduce it easily. Are you using the multi-process mode (`--workers=X`) ? If this is indeed related to some sort of leak, the automatic recycling of worker processes should take care of the problem.

[2016-06-06 10:44] alaa9jo commented on #12261
@intero-chz If this is correct, then if I click on "Reset to draft", shouldn't this field become empty? OK...maybe some people want to use the same number and edit the invoice,maybe it was cancelled to fix it with correct data , but at least the system should allow deleting an invoice if it's in draft,even if it has an internal number, if this is by design,it would be great if someone can explain

[2016-06-06 11:02] Gorkygd opened #12297 "img tag replaced with href making email servers block the image"
**Impacted versions:**
9.0
**Steps to reproduce:**
Attach an image to an email and try to send it.
**Current behavior:**
The image is not shown to the client. Tested with gmail.
**Expected behavior:**
The image should be shown
Video/Screenshot link (optional):

[2016-06-06 11:41] sebytza05 commented on #4884
Hey,

How did u fix it?

Thanks

[2016-06-06 11:52] aetna-softwares commented on #12288
I was not using the workers parameters. I'll add it and give you feeback if it happens again.

[2016-06-06 12:32] rousseldenis commented on #9449
+1

[2016-06-06 12:44] Yenthe666 commented on #9449
@odony and @xmo-odoo this might be something for you guys. There does seem to be something wrong with the call methods if the field is company dependent.

[2016-06-06 13:51] Yenthe666 commented on #12209
@sle-odoo I just got this issue on a live server too, with the latest installation (which is from the Odoo source code of today).
The issue seems to happen when you install a new module. Every once in a while the lessc seems to invalidate throwing up lots of issues.

[2016-06-06 14:11] sle-odoo commented on #12209
When you install a module, the bundle may be invalidated. You have this error because your installation is not correct, which is the case by default with the latest ubuntu and debian stable. Uninstall the system packages and install lessc and clean-css with npm at the moment.

[2016-06-06 14:12] sle-odoo commented on #12209
duplicate of #9113

[2016-06-06 14:12] #12209 closed

[2016-06-06 14:21] Yenthe666 commented on #12209
@sle-odoo what exactly do you mean with:

Are you literally saying that all default Ubuntu and debian installations are incorrect regarding `lessc` and `clean-css` installations? I've seen numerous of reports and issues about this.

[2016-06-06 14:22] sle-odoo commented on #12236
@joshbindels could you apply the patch and see if it fixes the issue? It seems to be the only workaround.

[2016-06-06 14:23] ferluk commented on #8465
You are absolutely right @FernandoAzuaje

[2016-06-06 14:24] sle-odoo commented on #12209
yes, debian jessie broke the clean-css package when upgrading the lessc one.

[2016-06-06 14:29] JKE-be commented on #12297
Need more details about step to reproduce.
From which screen, which method...

I have just tested by:
 - partner
 - send a message
 - use composer
 - add image

and it works...

[2016-06-06 14:33] Gorkygd commented on #12297
Edit the Sales Order - Send by Email (Portal) template. Upload a png image from your local machine. Mine is 670x280 pixels but I do not think it changes anything. Attach it to your template.

Go to Sales -> Quotations, open a quotation and click Send by email.

Send the email as it it on a gmail account.

On the gmail account the image does not appear.

[2016-06-06 15:31] JKE-be commented on #12297
Can you post the source of email.
or can you sent your email (directly form odoo) to jke@odoo.com ?
What is the link in url ... What is your base url ? Is is right ? You need to use a public url...

[2016-06-06 16:05] ysantiago opened #12303 "Image code base64 does not shown in wizard and email server"
Impacted versions: 8.0 b9a006c1c02a06cf3cd34828860125e6d6aa3fb4

Steps to reproduce:
- Press button 'Send by mail'
- Edit the template and add code line with an image
`<img src="data:image/png;base64,/*Base64CodeImage*/">`
- Save the template
- Send mail

Note: In preview of the template if it works but in the wizard not.

Current behavior:
- When press button Send the image in wizard disappears a

[2016-06-06 16:12] florimond83 opened #12304 "Attributes in links not rendered in mass mailing"
Impacted versions:9.0

Steps to reproduce: Within a mail template in mass mailing, insert an object attribute such as a user website:
 `<a href="${object.website}">Your website</a>`

Current behavior: When sent, Odoo won't transform the objet and the link will transform to
http://www.mywebiste.com/$%7Bobject.website%7D?&

Expected behavior: Odoo should generate the given website set in the user's

[2016-06-06 16:48] holdenrehg opened #12306 "Bank Reconcilation Line Item - 'has_no_partner' undefined"
**Impacted versions:**

9.0 Enterprise

**Steps to reproduce:**

I cannot consistently reproduce the error, but on some bank statement imports when reconciling the line items.

**Current behavior:**

Throws a js error:

`Uncaught TypeError: Cannot read property 'has_no_partner' of undefined`

This is happening in the render function of `bankStatementReconciliationLine` in `account/static/src/js/ac

[2016-06-06 17:09] kanderson450 commented on #12275
## Problem
This most definitely isn't "_User Error_".  The Odoo Docker image instructions are broken since they completely ignore this postgres version incompatbility.

The instructions tell users to start up a postgres database:

`$ docker run -d -e POSTGRES_USER=odoo -e POSTGRES_PASSWORD=odoo --name db postgres`

Since this line omits the version tag, it defaults to latest which points to versio

[2016-06-06 17:38] JulioSerna opened #12307 "[account_anglo_saxon]Incongruence of price_unit in journal items"
Impacted versions:
- 8.0

Steps to reproduce:
- Create Product in real time with Costing Method **Standard Price** and Cost Price **$ 120**
- Create Sale Order and confirm
- Change Cost Price to **$ 110**
- Transfer Picking of sale order
- Create invoice from picking
- Validate invoice

Current behavior:
- The journal items by transfer picking are make by **$ 110** this is the `price_unit` from th

[2016-06-06 18:06] PCatinean opened #12308 "Design broken by recent commits"
Impacted versions:

9.0

Steps to reproduce:

Navigate to any list view / form view

Current behavior:

Fonts enlarged and design disrupted

Expected behavior:

Video/Screenshot link (optional):

Screenshots taken from runbot latest build at the time of posting

![Odoo Bug](http://i.imgur.com/obZh9di.png)

![Odoo Bug 2](http://i.imgur.com/F3A1krn.png)

[2016-06-06 19:01] tesserB commented on #12275
@kanderson450 Well, I'm not going to fault you for your persistence—"closed mouths don't get fed"—but have you thought to submit a PR implementing any of your proposed solutions? And what about blaggacao' response to you?

"You need an manually updated odoo image, as it seems currently not covered by the odoo debian package, you could modify the apt-get install section and include postgres-client-

[2016-06-06 20:20] kanderson450 commented on #12275
@tesserB I could absolutely submit a PR and would have already but this is the first time I've seen any real response to this issue on any of the open/closed issues.  It would be nice to have the Odoo guys on the same page before writing a PR that will never be merged.

Do you work for Odoo or have write permissions to the repo?  Let's all agree on the best approach to take.

This is tangentially

[2016-06-06 21:30] #9800 closed

[2016-06-06 21:31] #3033 closed

[2016-06-06 21:32] #2014 closed

[2016-06-06 22:46] esciara commented on #12289
@xmo-odoo thanks for the details. You closed the ticket though and I have not created a PR yet... Shall I still create one for this?

[2016-06-07 00:11] orchidinfosys commented on #12307
Check the cost in stock move lines. This will not be updated at the time of
real transfer. It's calculated at move creation. Also check quant to know
the stock value of the transfer.

On Mon, Jun 6, 2016, 9:39 PM Julio [Vauxoo] <notifications@github.com>
wrote:

[2016-06-07 01:29] 474416133 opened #12309 "Uncaught Error: QWeb2: Template 'mail.chat.InboxItem' not found"
Impacted versions: 9.0c

Steps to reproduce:
http://0.0.0.0:8069/web/content/341-c687218/web.assets_common.js:2444
追溯
Error: QWeb2: Template 'mail.chat.InboxItem' not found
    at Object.QWeb2.tools.exception (http://0.0.0.0:8069/web/content/341-c687218/web.assets_common.js:2444:7)
    at Engine.QWeb2.Engine.QWeb2.tools.extend._render (http://0.0.0.0:8069/web/content/341-c687218/web.assets_common.

[2016-06-07 01:29] 474416133 commented on #12309
help me pls.

[2016-06-07 02:06] lukebranch opened #12310 "[10.0/Master] Feature Request: Allow Restriction of Payment Methods to Countries and Regions (ie. like Delivery Methods)"
I would like to request a feature to allow for restricting payment methods per country and region in a similar manner to how delivery methods can be restricted at the moment in 8.0/9.0/Master.

In my use case I need to allow direct bank transfers, cheque payments and C.O.D. for domestic orders, however I need to be able to not allow these payment methods for international orders.

<h1>Impacted ver

[2016-06-07 02:08] lukebranch commented on #12310
@Yenthe666 ,

Do you have any thoughts/comments on this feature request? I think it would make a really useful addition to 10.0/Master.

[2016-06-07 03:46] poing opened #12311 "JPY: Can Not Edit Decimal Places"
Impacted versions: 9

Steps to reproduce:
Install Japanese Currency
Accounting/Settings/Currency

Current behavior: Decimal Places = 2

Expected behavior: Decimal Places Should be editable

Video/Screenshot link (optional):

[2016-06-07 04:32] lukebranch opened #12312 "[9.0] Semi-critical /web formatting issue after latest commit (Reproducible on Runbots)"
<h1>Impacted versions:</h1>
9.0

<h1>Environment:</h1>
All Major Browsers (latest versions of Chrome, Safari, Firefox)
Runbot - latest 9.0 commit
<h1>Steps to reproduce:</h1>
<ol>
<li>Login to backend</li>
<li>View Sale Order List View (fonts and some formatting have been lost)</li>
<li>View inside a Sale Order - massive formatting problems, sale order document/page view is corrupted</li>
</ol>

<

[2016-06-07 04:35] lukebranch commented on #12312
@Yenthe666 ,

I've just noticed an issue after running an update this morning (my last update was two days ago). It looks like something was committed that has broken some parts of the /web module. Fonts and formatting are affected.

I can't seem to pinpoint the commit it was merged in, however I think this one needs to be looked at as soon as possible.

[2016-06-07 05:06] Petrievn commented on #12275
Hi there. Thank you for the replies. I am a layman in this field, hence
figuring out the comments take longer than usual.

On Mon, 06 Jun 2016, 22:21 kanderson450 <notifications@github.com> wrote:

--
Kind regards/Vriendelike groete,

Petrie

[2016-06-07 05:07] Yenthe666 commented on #12312
Hi @lukebranch,

This indeed looks like quite a bug, thanks for reporting.
Its a duplicate of https://github.com/odoo/odoo/issues/12308 but yours shows way more details so I'll keep it open for that reason.
@mart-e and @jke-be can you guys look at this please?

[2016-06-07 05:09] jeffery9 opened #12313 "[8.0] stock barcode interface need to use exists package"
Impacted versions:
odoo-8

Steps to reproduce:

Current behavior:

we can create new package in barcode interface, but can not use the existing one.

Expected behavior:

need to use existed package.

Video/Screenshot link (optional):

[2016-06-07 06:01] Yenthe666 commented on #12275
@kanderson450 thanks a lot for the detailed answer, one of the best answers I've seen in a long time here. I've reopened this issue since this is indeed something that should be fixed by Odoo.
@mart-e, @odony and @aab-odoo can somebody please look at this? It has been reported by 4 people and looks like quite a big problem at this point.

[2016-06-07 06:04] lukebranch commented on #12312
@Yenthe666 ,

Thanks for looking into this so quickly.

[2016-06-07 06:06] Yenthe666 commented on #12310
Hi @lukebranch,

Thanks a lot for the suggestion. I personally like the idea that you can configure in which countries you want to allow specific payment methods. It is a feature that could be added since we know from where the visitor comes and the framework can handle this (with some extra development).
That being said I only have rights to arrange issues and PR's, I'm not allowed to make such b

[2016-06-07 06:11] Yenthe666 commented on #12311
Hi @poing,

You can configure the decimal places under `Settings > Technical > Database Structure > Decimal Acurrancy` (you need to have developer mode enabled), they are splitted up per part in the application there:
![image](https://cloud.githubusercontent.com/assets/6352350/15847591/7e196792-2c87-11e6-8fc4-171467e5065f.png)
Is this what you're looking for?

[2016-06-07 06:12] Yenthe666 commented on #12309
Hi @474416133,

I really need more information to reproduce this issue. On which screen is, what do you do to get this error?
Please give more details or I won't be able to reproduce your issue and I'll eventually have to close it..

[2016-06-07 06:14] Yenthe666 commented on #12308
Hi @PCatinean,

Thank you for your report. There is another bug report for this issue (https://github.com/odoo/odoo/issues/12312) which contains more information.
I'll keep them both open for now but keep a look on the other one, since this will probably be used to comment on etc.

[2016-06-07 06:16] Yenthe666 commented on #12304
Thanks for your report @florimond83. I'm not exactly sure what you try to say with the problem though. Could you give a bit more details please? What is wrong with the URL?

[2016-06-07 06:17] Yenthe666 commented on #12306
Hi @holdenrehg,

Thanks for your report! Are you facing this issue on the latest code from Odoo? Can you reproduce this on the runbot too?
@qdp-odoo pinging you, this might ring a bell for you.

[2016-06-07 06:19] Yenthe666 commented on #12303
@Gorash could you have a look at this one please?

[2016-06-07 06:20] Yenthe666 commented on #12268
@jco-odoo could you have a look at this one? I'm not sure how to test it. :small_blue_diamond:

[2016-06-07 06:20] Yenthe666 commented on #12313
@jco-odoo could you have a look at this one too? I'm not sure if there is a reason why Odoo didn't make this available?

[2016-06-07 06:55] joshbindels commented on #12236
This works!

Tested it with 4 different barcodes on a report after restarting my odoo server multiple times

[2016-06-07 07:07] 474416133 commented on #12309
ok，
version：OpenERP version 9.0c which fork from https://github.com/odoo/odoo
then: pip install requests.txt,some depends upgrade...
in my side  which is pycharm[ce] debug odoo.py,...i build the test module before, and when i debug again,the console msg, as follow:
2016-06-07 02:56:28,987 1448 INFO ? openerp: OpenERP version 9.0c
2016-06-07 02:56:29,741 1448 INFO ? openerp: addons paths: ['/Users/

[2016-06-07 07:10] Yenthe666 commented on #12223
Hi @rgeromegnace,

Do you mean that if you create a product with a warning and then change the type from Warning to none that the value is still in the field?
Product with warning:
![image](https://cloud.githubusercontent.com/assets/6352350/15848834/74893a9c-2c8f-11e6-88b2-4f5ee6691fdf.png)

Setting the warning off in the product view:
![image](https://cloud.githubusercontent.com/assets/6352350/15

[2016-06-07 07:13] Yenthe666 commented on #12309
Hi @474416133,

The issues you're facing are with less:

This error occured while compiling the bundle 'web.assets_common' containing:
- /web/static/src/less/mimetypes.less
- /web/static/src/less/animation.less
- /web_planner/static/src/less/web_planner_common.less
- /web_editor/static/src/less/web_editor.less

It looks like your Odoo cannot find it or that you've incorrectly installed it.
Have a

[2016-06-07 07:18] mart-e commented on #3232
@Yenthe666 what you show looks like a daylight saving shift. The issue reported in the first post looks like a problem of configuration between the user and browser timezone.

[2016-06-07 07:22] Yenthe666 commented on #3232
I actually forgot the daylight saving shift as an option, thanks for pointing that out. Well, I did try with another timezone on the user to simulate the major time difference but I couldn't reproduce that one.

[2016-06-07 07:34] xmo-odoo commented on #12289
@esciara

Nah I'm going to fix it right now, it was actually already fixed in dc043cf1 back in January but @rim-odoo only fixed it in saas-10 onwards. I'll backport the change to 9.0.

[2016-06-07 07:42] Yenthe666 commented on #12068
@JKE-be any update on this one?

[2016-06-07 07:46] alaa9jo opened #12315 "[9.0] Duplicate Product doesn't have the same Accounting inputs"
Impacted versions:
9.0c , Latest update ( 7 JUN 2016)

Steps to reproduce:

1) Create a product and set all of it's accounting fields ,make sure you change every field from the default,then save
2) Click Action -> Duplicate
3) Go to tab Accounting of the duplicated product and check all fields
Current behavior:
Some/all of accounting fields are different from the original product
Expected behavior

[2016-06-07 07:54] Yenthe666 commented on #12315
Hi @alaa9jo,

This is indeed the case, not all settings are copied from a product. An example of a newly made product:
![image](https://cloud.githubusercontent.com/assets/6352350/15849940/71d805de-2c95-11e6-81d0-4ab189eb4f51.png)
An example of the duplicated product:
![image](https://cloud.githubusercontent.com/assets/6352350/15849949/7ad9210e-2c95-11e6-9d8f-0e67af2eb2d2.png)
So it just copies the

[2016-06-07 07:55] poing commented on #12311
No, I want to change the currency specific setting.
JPY = ¥10,000
USD = $1,000.00

![Company Currency](https://cloud.githubusercontent.com/assets/11417007/15849968/44ef141e-2cd0-11e6-885e-be5a11409b4a.png)
![Account Currency](https://cloud.githubusercontent.com/assets/11417007/15849969/44f21fb0-2cd0-11e6-9b9c-103d5d5e556e.png)

[2016-06-07 07:58] lukebranch commented on #12310
@Yenthe666 ,

Thanks for looking into this. I think it would be a very useful feature in 10.0.

[2016-06-07 08:03] poing commented on #12311
<img width="1216" alt="odoo01" src="https://cloud.githubusercontent.com/assets/11417007/15850179/ab5dc960-2cd1-11e6-9079-3a286d6380e2.png">
<img width="1266" alt="odoo02" src="https://cloud.githubusercontent.com/assets/11417007/15850191/b8b5cb58-2cd1-11e6-80d2-4dbe4a71acb0.png">

[2016-06-07 08:07] JKE-be commented on #12312
@Gorash is working on this issue.
Meanwhile, you can temporarily ignore commit a4c1e10ae6705216a06275cf0f7defed1e06bbe3

[2016-06-07 08:09] Yenthe666 commented on #12311
Hi @poing,

This is a calculated field with the following formula behind it: `int(math.ceil(math.log10(1/currency.rounding)))` as you can see here: https://github.com/odoo/odoo/blob/9.0/openerp/addons/base/res/res_currency.py#L51
Depending on the rounding on the settings (that I've previously explained) it should also look at the rounding on the currency, based on the formula.

[2016-06-07 08:39] Yenthe666 commented on #11748
@nim-odoo could you have a look at this one? I'm not sure if I'm pinging the right guy here though. :smile:

[2016-06-07 08:59] poing commented on #12311
Ah, I see the problem.  The field name was changed to something misleading.  In version 8, it was called 'Computational Accuracy'    I suggest you change it back!

<img width="909" alt="odoo3" src="https://cloud.githubusercontent.com/assets/11417007/15851553/34fa3ac2-2cd8-11e6-8bc2-3403eaa03aa3.png">

The expected behavior of a field named 'decimal places' would control the decimal places shown fo

[2016-06-07 09:02] Yenthe666 commented on #12311
Hmm it might be a bit confusing yes. @mart-e could you give your feedback on this? Since it concerns usability / translations. Is this something we should change back in V10?
@poing is it fine to close this issue since it is answered now?

[2016-06-07 09:04] poing commented on #12311
Yes, you can close it.  Thanks!

[2016-06-07 09:05] #12311 closed

[2016-06-07 09:06] elicoidal commented on #12311
@poing you might want to try this: https://github.com/OCA/account-financial-tools/pull/337

[2016-06-07 09:13] mart-e commented on #12311
Hmm was the 'Computational Accuracy' accuracy doing anything back them? It is not the same as 'Decimal Places' as in the above screenshot you see it's 4 while it should be 2 with a rouding of 0.01.

As said Yenthe, it's computed based on the rounding where you can set the precision.

By the way setting the rounding factor is useful to match the coins of a currency, for instance setting 0.05 if you

[2016-06-07 09:33] mart-e commented on #12310
I agree it could be useful. I will submit the feature request, hopefully it will be accepted/developed.

[2016-06-07 09:45] lukebranch commented on #12310
@mart-e @rim-odoo ,

Thank you for considering my request. Hopefully this will be accepted and land in 10.0. It would be very useful to have this kind of control over the payment methods.

[2016-06-07 09:51] rgeromegnace commented on #12223
Hello,

My product screen is not like yours. My problem appear in « Note » sheet. I have no « Warnings » sheet in my Odoo version.
I use Odoo 9.

Regards,
Le 7 juin 2016 à 03:11, Yenthe <notifications@github.com<mailto:notifications@github.com>> a écrit :

Hi @rgeromegnace<https://github.com/rgeromegnace>,

Do you mean that if you create a product with a warning and then change the type from Warni

[2016-06-07 10:03] Yenthe666 commented on #12223
@rgeromegnace can you post a screenshot of your screen here please? It is hard to find an issue if you have little details.

[2016-06-07 10:07] mart-e commented on #2531
Done at 7b2ab482f3a06fadf4cdd3b566701611aaadd9b1

[2016-06-07 10:07] #2531 closed

[2016-06-07 10:15] rgeromegnace commented on #12223
[cid:FB0F78F6-1463-460B-8C23-95498F0B9022@home]
Le 7 juin 2016 à 06:04, Yenthe <notifications@github.com<mailto:notifications@github.com>> a écrit :

@rgeromegnace<https://github.com/rgeromegnace> can you post a screenshot of your screen here please? It is hard to find an issue if you have little details.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it o

[2016-06-07 10:45] JKE-be commented on #12068
I'm ok that we need to use the same week computation for title and calendar view.

Now, for the IsoWeek or not, it is according to people / format lang / preference / ... anyway it can be easily customized with an override of get_fc_defaultOptions.

https://github.com/odoo/odoo/pull/11522 introduce this bug, because that change only the computation week and not the title. So I suggest to keep this

[2016-06-07 11:05] Yenthe666 commented on #12068
Sounds good to me, looks like a neat way to make it coherent.
Let me know when it is added in 9.0, then we can close this issue.

[2016-06-07 11:12] florimond83 commented on #12304
Hi @Yenthe666,
I've got a list of contacts (partners as you call them).
I'm using mass mailing to send them information in which I use standard attributes from odoo:
`Hi ${object.name}, your account is still active, please go to <a href="${object.website}">your website</a> to complete your information`

The issue is that when it is sent, ${object.name} shows up perfectly within the text.
But ${obj

[2016-06-07 11:27] mart-e commented on #12287
Hello,

To go back on the login page, just click on the database you want to access, I am not sure what you want more (keep in mind that you can get many databases).

[2016-06-07 11:27] #12287 closed

[2016-06-07 11:34] mart-e commented on #3173
I agree, an email should not be sent if there is a chance of rollback. A commit should be made when the mail is sent.

[2016-06-07 11:48] #12275 closed

[2016-06-07 12:10] #12068 closed

[2016-06-07 12:14] JKE-be commented on #12309
`sudo npm install -g less less-plugin-clean-css`

Take a look in documentation: https://www.odoo.com/documentation/8.0/setup/install.html#installing-dependencies

Let us know...

[2016-06-07 12:16] odony commented on #12275
Upstream PR to update the docker doc and explicitly pin the postgres docker image to 9.4: docker-library/docs#595
This is the simplest solution and since Odoo 9 is meant to be deployed with PG 9.4, it's in fact the correct one.

Regarding the other proposed solutions:
- Our docker image is built (on purpose) on top of debian stable (currently debian:jessie), which does not have postgres 9.5. Our d

[2016-06-07 12:17] #12312 closed

[2016-06-07 12:23] qdp-odoo commented on #12315
the reason why the accounts aren't copied is because they are properties and property fields aren't copied by default I suppose.

Not a big deal, though, as we're only talking about default values. Men should always double check their duplicated object's values before starting to use it for real.

[2016-06-07 12:24] JKE-be commented on #12308
#12312 has been fixed / closed

[2016-06-07 12:24] #12308 closed

[2016-06-07 12:28] Yenthe666 commented on #3173
@mart-e could we assign somebody to this one? It has been open for quite a while so I'd really like this one fixed in V10.

[2016-06-07 12:38] Yenthe666 commented on #12315
Pretty much what I was thinking. What do you prefer @qdp-odoo a close or a wishlist?

[2016-06-07 12:47] alaa9jo commented on #12315
I'm not sure...are you saying Income account and expense account are properties,but what about Customer/Vendor Taxes? aren't these properties as well? but they are copied just fine

[2016-06-07 13:12] sle-odoo commented on #5648
Closing as it's functionally working, although unintuitive: the modal doesn't grow to display the selection but is scrollable, so you can see all of it. Fixing this will probably add a few other css glitches elsewhere so we won't do it. Also please note that this is fixed in >= 9.0.

[2016-06-07 13:12] #5648 closed

[2016-06-07 13:13] Yajo commented on #3173
Well really mailing should be inhibited when validating import, instead of committing. Maybe setting test mode when validating would disable mailing just like when unit testing.

[2016-06-07 13:14] sle-odoo commented on #4515
Closing as it's kind of out of scope and some workaround have been brought at https://github.com/odoo/odoo/issues/4515#issuecomment-68994637

[2016-06-07 13:14] #4515 closed

[2016-06-07 13:17] sle-odoo commented on #10470
Closing as it's most probably fixed in 52f55ed4936bcbab733ecbc999cb6b6bff16bb3c

[2016-06-07 13:17] #10470 closed

[2016-06-07 13:17] #5258 closed

[2016-06-07 13:32] aetna-softwares commented on #12288
I get again a "maximum recursion" error but the behaviour is quite different and the stacktrace too.

This time,  have workers set and only 1 HTTP request failed (other requests worked as usual). the stack is :
[code]

It is a read of res.users but I can't see anything wrong with it. I tried many time and it keep failing.
Note that this request get all users fields, another request which get only

[2016-06-07 13:59] lukebranch commented on #12312
@Gorash @JKE-be ,

Thanks for the fix!

[2016-06-07 14:26] #11722 closed

[2016-06-07 14:38] sle-odoo commented on #1346
This is working in >= 8.0 so i'm closing.
Regards.

[2016-06-07 14:38] #1346 closed

[2016-06-07 14:41] kanderson450 commented on #12275
@odony Your [PR](https://github.com/docker-library/docs/pull/595) should do the trick.  Thanks.

[2016-06-07 14:46] sle-odoo commented on #9002
fixed at rev https://github.com/odoo/enterprise/commit/789e3c547201a22a3527f671077ed4b9fab0a3ff

[2016-06-07 14:46] #9002 closed

[2016-06-07 14:49] blutec-ma opened #12322 "Cannot install PostgreSQL 9.3 (ODOO 8.0-20160420) with exe"
Impacted versions:8.0

Steps to reproduce:
Cannot install postgreSQL 9.3 that comes with ODOOv8 after uninstalling them both

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
![capture](https://cloud.githubusercontent.com/assets/19782436/15862301/c792cde6-2cbe-11e6-9fd9-7822ce59de44.PNG)

[2016-06-07 14:49] mart-e commented on #3173
Actually there is an option for that!
![screenshot from 2016-06
-07 16-46-36](https://cloud.githubusercontent.com/assets/564822/15862356/b6dbee68-2ccf-11e6-8168-0ed500198696.png)

[2016-06-07 14:51] sle-odoo commented on #9711
Closing as i cannot reproduce this issue anymore, it has probably been fixed in the meantime.
Regards

[2016-06-07 14:52] holdenrehg commented on #12306
@Yenthe666, I am on the latest code but cannot reproduce on runbot. It does seem pretty inconsistent so this may not be something that can be easily fixed by the community, but wanted to report it and see if anyone has seen similar issues.

[2016-06-07 14:59] blutec-ma commented on #12322
#PROBELM SOLVED

Technical note: after investigation it seems that the PostgreSQL 9.x uninstaller does not cleanup the registry keys in the same fashion as the 8.3 did, and the following keys remain after a complete uninstall:

 - HKLM\Software\PostgreSQL
  `+- HKLM\Software\PostgreSQL\Installations
  `+- HKLM\Software\PostgreSQL\Services

Currently our installer just checks for the presence of th

[2016-06-07 14:59] #12322 closed

[2016-06-07 15:59] Yajo commented on #3173
Then disable that for validation and you have it.

[2016-06-07 16:03] odony commented on #12288
@aetna-softwares thanks for the update!

Some questions/remarks:
- That new traceback looks quite strange and short, is it the full trace? If not, were does it repeat?
- You say the other workers were working as usual - does this mean that only a single worker was repeatedly producing this particular error? If yes, did it happen only for that specific search_read, and other requests sent to the br

[2016-06-07 16:20] aetna-softwares commented on #12288
@odony here is some information on your questions :

- yes it is the full stack-trace, I am also puzzled about is shortness and it does not seems to recurse a lot
- I think that other request worked normally, regardless about the worker. It seems to be specific to this search_read with all fields because the same search_read on the same user but with less fields worked OK
- I have many database bu

[2016-06-07 17:13] #2476 closed

[2016-06-07 19:51] alexis-via commented on #6696
I made a new test today on runbot v8, and I am still able to cancel an account move in a closed fiscal year. The scenario is still valid with a small modification:
on step 6: Go to Accounting > Journal Entries > Journal Entries, select an account move attached to the Sale Journal (test) (or any journal that allows cancelling entries) and click on the button "Cancel Entry".

@qdp-odoo I think this

[2016-06-08 03:31] feketemihai commented on #6696
@alexis-via @qdp-odoo It's the same in a opened fiscalyear and closed period, you can cancel the move and can't repost it...

[2016-06-08 05:57] Yenthe666 commented on #12205
@jorenvo I think this might be something for you. Is this not implemented / working for a reason or?

[2016-06-08 06:02] Yenthe666 commented on #11998
@Gorash and @sle-odoo could you guys have a look at this please?

[2016-06-08 06:42] Yenthe666 commented on #11936
@mart-e could you give your input on this one? I honestly think it would be neat if we could make an hour interval. It may improve usability for some people / companies and it is not much extra code.

[2016-06-08 06:45] Yenthe666 commented on #11973
@qdp-odoo what do you think about this one? Would love your input.

[2016-06-08 07:17] douwma commented on #12205
The issue was solved in the following commit:

https://github.com/odoo/odoo/commit/526c38cdb145143407cc0e5504574e72f7e720a0

I've tested and it's working now!

[2016-06-08 07:17] #12205 closed

[2016-06-08 07:19] Yenthe666 commented on #12205
:+1: thanks for pointing that out yourself @douwma!

[2016-06-08 07:32] Yenthe666 opened #12327 "[8.0, 9.0C, 9.0E] track_visibility does not respect datetime formats"
Impacted versions: 8.0, 9.0 community, 9.0 Enterprise

Steps to reproduce:
 1. Go to Calendar > Meetings and open a calendar appointment in the form view.
 2. Change the start date of an appointment. The field has track_visibility set to True so it posts in the chatter.
 3. Look at the chatter:
  ![image](https://cloud.githubusercontent.com/assets/6352350/15886165/b853653c-2d5b-11e6-8ff7-a1f9438aa

[2016-06-08 07:35] Yenthe666 commented on #12327
@rco-odoo I'm pinging you since I think this is something for you. Correct me if I'm wrong.
@JKE-be since this is CRM it might belong to you too.

[2016-06-08 07:40] Yenthe666 commented on #10149
@odony and @xmo-odoo could I ping you guys again on this one please? I'd like to have this fixed in V10 atleast.

[2016-06-08 08:10] mart-e commented on #11936
I agree, it could be useful and it shouldn't be too hard to implement.
Submitting request to R&D

[2016-06-08 08:20] tde-banana-odoo commented on #10149
Hello,

Supporting the m2m field could be an interesting feature for the messaging module, indeed. However we cannot ensure it will be done for v10.

[2016-06-08 08:24] 474416133 commented on #12309
thanks, @JKE-be @Yenthe666 help me a lot ,so warming。

[2016-06-08 08:24] #12309 closed

[2016-06-08 08:29] Yenthe666 commented on #10149
Hi @tde-banana-odoo,

Is there a reason why this cannot be made by V10?
it would be quite an improvement to the system and otherwise it will take another year atleast to introduce this, since it cannot be added in a stable release.

[2016-06-08 08:35] tde-banana-odoo commented on #10149
Well the basic reason is time. If you have a PR to submit, feel free to do it, I can review it. But currently we have other priorities, like the new MRP, migrating the modules to the new API, ... I would like to have a look at this feature, but I am not sure I will have time to do it. We have to carefully implement it to avoid a costly feature, and I think it will take some time. That's why I cann

[2016-06-08 08:41] Yenthe666 opened #12330 "[9.0C & 9.0E] Legally binding fiscal position notes are not printed on reports"
Impacted versions: 9.0C & 9.0E

Steps to reproduce:
 1. Create a sales order with a fiscal position that is intra-community.
 2. Print the report out.
At this point the report prints to message from the fiscal position, while this is legally binding in Belgium.
It is in the royal decree for Belgium, see http://www.ejustice.just.fgov.be/cgi_loi/change_lg.pl?language=nl&la=N&table_name=wet&cn=201212

[2016-06-08 08:42] Yenthe666 commented on #12330
@qdp-odoo I've already discussed this with @mart-e and he asked me to ping you. Could you look in to this please?

[2016-06-08 09:02] #10920 closed

[2016-06-08 09:04] sle-odoo commented on #12236
@joshbindels we made a better patch (without explicit lock) at rev 6aba3a6f94d99d0e00791ca3a3d9deb44e69fd1d, can you please try it and see if it fixes your issue too?

Also, is it possible for you not to restart your server for a few hours and see if it's still working? We don't know when reportlab decide to invalid its fonts cache and it's possible that the initial issue occurs again when it does

[2016-06-08 09:45] Yenthe666 commented on #11512
@bluestingray is this issue still relevant or can you still reproduce it?
It would be great if you could give us more information and/or an example CSV.

[2016-06-08 09:50] dreispt commented on #12303
Is this a duplicate of #12050 ?

[2016-06-08 10:31] dreispt commented on #5023
The point here is not to consolidate several notification into a single one, that's an enhancement.

The point is that an "on change" event shouldn't be triggered on a record creation.
The "onchange" tracked fields are really triggered "always".
That's what the proposed fix tried to do.

[2016-06-08 10:36] davidtranhp commented on #12286
This can not be solved by translation. It's coding problem. Here is the orginal code in addons/web_settings_dashboard/static/src/xml/dashboard.xml
`<t t-if="active_users">
                    <t t-esc="active_users"></t> Active User<t t-if="active_users > 1">s</t>
                </t>`
This does not respect the nature of language. In English, plural form of 'Active User' is 'Active Users'. But in

[2016-06-08 10:55] sle-odoo commented on #6809
Closing as it is a deployment issue, Odoo cannot contact your postgres server.
Regards

[2016-06-08 10:55] #6809 closed

[2016-06-08 11:02] sle-odoo commented on #9186
This package is only used during test in an obscure method. I won't add it in the packages dependencies. I'm not sure it's even installed on the runbot.

Thanks for the report though.
Regards

[2016-06-08 11:02] #9186 closed

[2016-06-08 11:09] sle-odoo commented on #12237
Hello,
I did not carefully read your test but you can see [here](https://github.com/odoo/odoo/blob/9.0/openerp/addons/test_assetsbundle/tests/test_assetsbundle.py#L289) that i made an httpcase sharing its cursor with the one in the phantomjs session.

Hope it helps,
Regards

[2016-06-08 11:30] Yajo opened #12333 "website_form is insecure"
Impacted versions: 9.0

Steps to reproduce: Use `website_form` to create any record.

Current behavior: Always created with superuser permissions.

Expected behavior: Only create record if current user has rights. If current user is public user, then the ACL must be added.

[2016-06-08 11:41] #2485 closed

[2016-06-08 11:45] sle-odoo commented on #4806
@tejastank it's a well known deployment issue and the answers are everywhere on this bug tracker and even in the documentation.

- use wkhtmltopdf 0.12.1
- use a db-filter
- if wkhtmltopdf cannot contact your odoo server it is because it cannot join web.base.url system parameter, tweak this value or set report.url to a joinable one

[2016-06-08 11:45] #4806 closed

[2016-06-08 11:47] sle-odoo commented on #10802
Closing as i cannot reproduce. This is probably linked to a custom addon. Also, your bug report is really not clear.

[2016-06-08 11:47] #10802 closed

[2016-06-08 11:48] sle-odoo commented on #9263
Closing as i cannot reproduce.
Feel free to comment with a clear way to reproduce this issue if you are still facing it.
Regards.

[2016-06-08 11:48] #9263 closed

[2016-06-08 11:49] sle-odoo commented on #9106
Closing as i cannot reproduce.
If you are still facing the issue, please detail a lot more. I tried this scenario on runbot and everything is working fine.

Regards

[2016-06-08 11:49] #9106 closed

[2016-06-08 11:51] #4107 closed

[2016-06-08 11:52] Yajo commented on #12237
Can the problem be that I'm using self.env while you use self.registry?

[2016-06-08 11:56] sle-odoo commented on #9079
Closing as it looks like fixed deployment issues.

[2016-06-08 11:56] #9079 closed

[2016-06-08 12:38] sle-odoo commented on #10769
Closing, as it's a deployment issue. Please note that this issue only concern 8.0 and in this version lessc is not mandatory. Starting from 9, we embed lessc in the windows executable for ease of deployment. To use it in 8.0, you have to install lessc and make the lessc.cmd executable available in the PATH.

Regards

[2016-06-08 12:38] #10769 closed

[2016-06-08 12:39] sle-odoo commented on #11649
The default lessc in your path is not the nodejs one. You have to fix that either by removing the ruby one or by changing the path priority.

Regards

[2016-06-08 12:39] #11649 closed

[2016-06-08 12:40] sle-odoo commented on #11313
Closing as the bug report is incomplete. Feel free to comment with more steps to reproduce your issue.
Regards

[2016-06-08 12:40] #11313 closed

[2016-06-08 12:43] sle-odoo commented on #11871
Cannot reproduce, i'm on osx and never faced this. `plugin-clean-css` works as well with lessc 1.4.2 and 2.5.3. Please pull the code and give me more steps to reproduce the issue. The version of `plugin-clean-css` could help.

Regards

[2016-06-08 12:43] #11871 closed

[2016-06-08 12:46] sle-odoo commented on #3405
Closing the issue as i cannot reproduce. If you're still facing it feel free to comment with complete steps so that i can help you.

Regards

[2016-06-08 12:46] #3405 closed

[2016-06-08 13:19] #10609 closed

[2016-06-08 13:20] sle-odoo commented on #9809
Closing because of lack of response from the OP.
Regards

[2016-06-08 13:20] #9809 closed

[2016-06-08 13:24] yelizariev commented on #3405
Probably the issue related to low **limit_memory_hard** value

[2016-06-08 13:27] sle-odoo commented on #9354
We have introduced coding [guidelines](https://www.odoo.com/documentation/9.0/reference/guidelines.html) and internally we have a process of review. Some times ago we added PEP checks with comments on pull requests but there was too much noise so AFAIK we won't use these kind of tools at the moment.

Thanks for your contribution though

[2016-06-08 13:27] #9354 closed

[2016-06-08 13:27] JKE-be commented on #12333
Take the example of crm_lead...

We don't want to give access to all field from the model... but we allow you to create on lead with some fields.

It is why we use sudo() to create, but with preprocess field to be sure that there are in whitelist.

But if you take your PR #12334 , you allow anybody, to update any crm.lead with your code !

[2016-06-08 13:27] #12333 closed

[2016-06-08 13:35] sle-odoo commented on #11293
Hello,
Could you please use official installers on nightly.doo.com? Also, odoo.py --update does not work if you do not specify a database with the -d argument.

[2016-06-08 13:38] sle-odoo commented on #1881
Closing as fixed in the meantime.

[2016-06-08 13:38] #1881 closed

[2016-06-08 13:38] sle-odoo commented on #1882
Closed as fixed in the meantime.

[2016-06-08 13:38] #1882 closed

[2016-06-08 13:40] sle-odoo commented on #7642
Closing as the issue was fixed in the meantime i suppose.
Regards

[2016-06-08 13:40] #7642 closed

[2016-06-08 13:40] Yenthe666 commented on #11967
I can no longer reproduce this error on the latest Odoo 9 code.
Please update your Odoo codebase and it should be fixed. If you still face this issue please give me more details on how to reproduce it.

[2016-06-08 13:40] #11967 closed

[2016-06-08 13:41] Yenthe666 commented on #11598
I can no longer reproduce this issue on the latest Odoo 9.0.
If you still face this issue please update your Odoo codebase. If the issue still persist please post back with more details.

[2016-06-08 13:41] #11598 closed

[2016-06-08 13:42] Yenthe666 commented on #11594
I cannot reproduce this issue anymore. If you can reproduce this on the latest runbot please post back and I'll re-open this.

[2016-06-08 13:42] #11594 closed

[2016-06-08 13:43] Yenthe666 commented on #4481
I can no longer reproduce this issue. This has probably been fixed in the meanwhile.

[2016-06-08 13:43] #4481 closed

[2016-06-08 13:45] Yenthe666 commented on #6955
There is no way for me to reproduce this on the latest V8/V9.
Please update to the latest codebase and try again. If you can still reproduce this bug on the latest runbot please post back.

[2016-06-08 13:45] #6955 closed

[2016-06-08 13:46] Yenthe666 commented on #7215
Hi @tejastank,

This is custom development and doesn't fall under reported issues for Odoo.
If you still face this issue please create a topic on the official Odoo help forums (help.odoo.com) and I'm sure somebody can help you there.

Regards,
Yenthe

[2016-06-08 13:46] #7215 closed

[2016-06-08 13:48] Yenthe666 commented on #8514
As luke pointed out this looks like an implementation / configuration issue. None of the latest Odoo codebases reproduce this issue and I personally have 40+ Odoo's running without any of these issues.
Closing this since Luke gave quite some nice pointers and I can't reproduce this in any way.

[2016-06-08 13:48] #8514 closed

[2016-06-08 13:51] Yenthe666 commented on #7085
Hi @tejastank,

I'm not quite sure what you want to say. You can create a project, duplicate it, rename it and the new name is shown. The old name is shown in the chatter but this is due to `track_change` on this field, that is expected behaviour. Example:
![image](https://cloud.githubusercontent.com/assets/6352350/15896480/d6dd5cd0-2d90-11e6-9d2d-6d65d414c1dd.png)

Regards,
Yenthe

[2016-06-08 13:51] #7085 closed

[2016-06-08 13:52] Yenthe666 commented on #7351
I have no way of reproducing this since your information is way too short. I do not know on which view you are, what you are doing, if this is custom development, ...
I'm closing this since this is probably fixed by now too. You're free to submit more information if you still face this issue and I'll be glad to look further look in to this.

[2016-06-08 13:52] #7351 closed

[2016-06-08 13:54] Yajo commented on #12333
But wouldn't it be better to grant create access to crm.lead objects to public users? If that is done that way, with a PR as simple as #12334 (but removing sudo), you'd get this module to next level giving it edit capabilities.

This module checks permissions in a clunky way to forget about them later calling `sudo()`, don't you think Odoo's permissions system is good enough?

[2016-06-08 13:56] mart-e commented on #12245
Closing as in favour of #11936 instead.
Allow to override the formats is quite technical and not enough as you will probably need to change `_read_group_format_result` (so you can already override `_read_group_process_groupby`).

[2016-06-08 13:56] #12245 closed

[2016-06-08 14:02] #11973 closed

[2016-06-08 14:02] fpodoo commented on #11973
taxes_ids are company dependant, since every tax is company dependant. It's
not a property field as it's a many2many, but the expected behaviour is the
same.

Your use case is wrong. You have to put both taxes on the product (company
A and B) and it will work for fine.
On May 9, 2016 08:21, "Jose Maria Alzaga" <notifications@github.com> wrote:

The product taxes ids are not company dependant (prop

[2016-06-08 14:04] Yenthe666 commented on #12327
The latest commit from @JKE-be handles this perfectly. An example in English:
![image](https://cloud.githubusercontent.com/assets/6352350/15896881/7beb4380-2d92-11e6-996c-8839ad247eac.png)

In Dutch:
![image](https://cloud.githubusercontent.com/assets/6352350/15896949/ba259e52-2d92-11e6-8113-720849dad292.png)

Will be available in Odoo 10.

[2016-06-08 14:04] #12327 closed

[2016-06-08 14:05] JKE-be commented on #12327
:postal_horn:

[2016-06-08 14:13] JKE-be commented on #12333
No, as in my previous comment, we only allow some fields... we don't want that a guy change information like expected revenue or state or saleman assigned...
So we decide to blacklist all by default (no access for public user), and allow the webmaster to choose himself the list of field that visitor can change (white list the field at drop) !

You can always make an override yourself if you want t

[2016-06-08 14:21] Yajo commented on #12333
I was thinking on doing some model-agnostic controller to ease form creation, but unless ACLs are followed and edit access granted, seems like this will not be useful to that project. A shame, it was so close.

Thanks anyway.

[2016-06-08 14:26] #12297 closed

[2016-06-08 14:27] Gorkygd commented on #12297
The src attribute of the img tag had the wrong host address. I fixed that by changing the url under Settings -> System parameters

[2016-06-08 14:29] JKE-be commented on #12297
Thanks for the feedback...

That confirm my previous comment ``` You need to use a public url... ``` :8ball:

[2016-06-08 14:38] #6633 closed

[2016-06-08 15:10] leemannd opened #12341 "[9.0] Date in mrp production order is not formatted right"
Impacted versions:
[9.0]
Steps to reproduce:
Print a "Production Order"

Current behavior:
The date 'Printing date:' is hardcoded. So it cannot fits to the user's formatting.
Second point, this date is not like the "Scheduled Date:"

Expected behavior:
- The date should be formatted following the user's formatting.
- To be more consistent, 'Scheduled Date' & 'Printing date' should be the same type

[2016-06-08 15:10] moylop260 commented on #12303
@dreispt
Yes this one is duplicated
Thank you!

[2016-06-08 15:17] moylop260 commented on #12050
Same issue here:
https://youtu.be/32vqfsrSQ5w

FYI If you use the preview of the template it works 😃 ! but from the wizard not works 😢

We don't want a support for base64 from `send_email` method.
We want that don't delete the image from the wizard.

We are processing the base64 image here:
https://github.com/OCA/server-tools/pull/441/files#diff-03bc4849ad186489620f60927ff919d0R72

[code]

This wo

[2016-06-08 15:24] intero-chz commented on #12245
I don't see why `_read_group_format_result` has to be changed, too. I just want an easy possibility to change date formats and add some new intervals. Perhaps it is already possible by overriding `_read_group_process_groupby`, but i think thats "too much" for just adding intervals or changing date formats. Where is the problem to instead of assigning a dictionary just to get the dictionary from ov

[2016-06-09 05:51] tejastank commented on #7085
Thanks, after a year you got time to review it.

[2016-06-09 05:53] tejastank commented on #10802
No customize addons used, only office addons,

Thanks for quick close it.

[2016-06-09 05:59] tejastank commented on #4806
Note: right wkhtmltopdf lib, already done well configuration.

I  appreciate you close it, but with each latest code issue their.

Issue till exists

[2016-06-09 06:05] Yenthe666 commented on #7085
@tejastank don't forget that I'm not a person working at Odoo itself, I'm doing this on a voluntary basis and I don't get paid for this. Just trying to help and improve Odoo.

[2016-06-09 06:19] tejastank commented on #7085
In that case @Yenthe666 If you don't have solution then why you can't wait for official response to close it. Seems they externally paid you to close it.

It Seems like black marketing !!!  You don't have a solution so you close all odoo bugs !!

Thanks to close it. But issue till date exists.

[2016-06-09 06:23] Yenthe666 commented on #7085
@tejastank there is no issue in the first place, so there is no need for a 'solution'.
The thing you're talking about is a feature in Odoo and allows you to keep track of the history of what happend with the project. There is nothing wrong with this.
If there is no bug there is no solution and that means an issue is being closed.

[2016-06-09 06:43] tejastank commented on #7085
@Yenthe666 You not official guy of odoo, only your positive suggestion acceptable in case only it fix the bug/issue/usability/problem to use odoo.

In case you don't found issue personally to you, please close all 2000+ bugs. Also add their your 1+1/5 advice their.

In context to your personal opinions and you voluntary please check erpnext open source bugs too, Same python based framework,

As yo

[2016-06-09 06:44] Yenthe666 commented on #10931
Since there has been no valid way to explain the bug in several months, while @dmo-odoo asked this multiple times, I'm closing this issue.
If you ever feel like writing down a step by step procedure I'll check it but I bet it has been fixed by now.

[2016-06-09 06:44] #10931 closed

[2016-06-09 06:57] mart-e commented on #12245
We have already a lot of hook method to allow to extend and change the behaviour, it usually adds little interest for a few people while making it harder to maintain and debug. The method `_read_group_process_groupby` is not very long here so it could be overriden in your custom module.
My point with `_read_group_format_result` was if you try something like grouping by hour, you will see that you

[2016-06-09 07:28] intero-chz commented on #12245
OK, I'm fine with that.

[2016-06-09 08:06] #11919 closed

[2016-06-09 08:18] qdp-odoo commented on #12330
Hello,

I've fixed that in revision 09bf8b4.

Actually, the note was still printed on invoices, so I just made it visible again in fiscal position form view. Thanks for pointing us that issue.

best regards

[2016-06-09 08:18] #12330 closed

[2016-06-09 08:23] Yenthe666 commented on #12330
Thanks a lot, great job! :tada:

[2016-06-09 08:32] tde-banana-odoo commented on #7085
Just to close the subject: the behavior is effectively intended. @Yenthe666 explained it correctly, we track the change history. We never rewrite history, so even old message subjects will keep the old record name. Sorry it took one year to review your issue.

[2016-06-09 08:57] qdp-odoo commented on #12306
I've no idea, but this doesn't seem urgent at all.

Cédric can you check if the proposed patch fix the error or simply hides the symptoms?

[2016-06-09 09:00] nafex commented on #2693
Still not possible? Even on v9 and master? Any new on this? Anyone knows a workaround?

[2016-06-09 09:14] Yenthe666 commented on #2693
Alright since this has been confirmed quite a while ago I'll ping around some people again.
@rco-odoo, @mart-e and @odony could you guys give some input on this please? It has been confirmed and open for 9 months. Will this be added for V10 or what is the plan?
Thanks guys!

[2016-06-09 09:55] mart-e commented on #2693
It's currently not supported by the web client. To give you an idea, we gave it a try at #10557 (should not be merged in 9.0 by the way, too risky).
So it's not trivial and there is no easy workaround now, sorry

[2016-06-09 10:58] krmagnaye opened #12353 "OpenERP Report Designer Cannot download the existing report"
Impacted versions: Odoo Version 7.0-20140804-231303
OpenOffice Report Designer Version 1.0
OpenOffice 4.1.2 on Windows 7 64Bit

I cannot modify some existing report. but other reports are working properly.

ERROR:
The report could not be downloaded
Details: URL seems to be an unsupported one.

![test](https://cloud.githubusercontent.com/assets/19465728/15927419/2e661ea4-2e74-11e6-94cb-6502092772e7

[2016-06-09 11:05] Yenthe666 commented on #7634
Closing this one since it is a duplicate of https://github.com/odoo/odoo/issues/2594.

[2016-06-09 11:05] #7634 closed

[2016-06-09 11:06] Yenthe666 commented on #11126
I can no longer reproduce the issue on the latest Odoo code, this has been fixed in the meanwhile.
If you still face this issue please update your Odoo codebase to the latest code.

[2016-06-09 11:06] #11126 closed

[2016-06-09 11:06] Yenthe666 commented on #6462
I can no longer reproduce this issue and you've written an own fix, as stated in your above comment.
Closing this for both those reasons.

[2016-06-09 11:06] #6462 closed

[2016-06-09 11:08] Yenthe666 commented on #8087
You can simply create your own module and add a new report header in XML there. Looks like an implementation / code bug you've made.
Odoo issues are however only for the official code, not for custom development (plus you didn't provide any sample code either). If you still face this issue you can create a new topic on the Odoo help forums and I'm sure somebody can help you there!

[2016-06-09 11:08] #8087 closed

[2016-06-09 11:11] Yenthe666 commented on #6479
I can't reproduce this bug, could it be you've downloaded the V8 before it was stable and tried to upgrade it later on? In this case a model change is possible as error, but that only happens if you downloaded a non-stable version before.
This cannot be reproduced anymore so closing this one.

[2016-06-09 11:11] #6479 closed

[2016-06-09 11:58] nafex commented on #2693
Are there any chance that this will be resolved in v10?

[2016-06-09 11:59] mart-e commented on #2693
There is chances yes but it is not a priority

[2016-06-09 14:24] sle-odoo commented on #10987
Fixed at https://github.com/odoo/odoo/commit/8703d8c11d810a39f14426d9d34a49a9fcdf4b1c

Regards

[2016-06-09 14:24] #10987 closed

[2016-06-09 14:31] sle-odoo commented on #9754
It is due to wkhtmltopdf. It'll automatically move the cells across pages so that printing a table doest not cut it right of a middle of a sentence like google chrome does, but if a cell is too big too fit on a page, strange things happen. Not much we can do. Regards.

[2016-06-09 14:31] #9754 closed

[2016-06-09 14:33] sle-odoo commented on #9517
Yes, is is intended.

Regards.

[2016-06-09 14:33] #9517 closed

[2016-06-09 14:42] sle-odoo commented on #9324
Not much we can do, Wkhtmltopdf does not compute the header's height according to the content. You can tweak the value easily in the company settings > report configuration > paper format though.

Regards

[2016-06-09 14:42] #9324 closed

[2016-06-09 14:42] sle-odoo commented on #8707
duplicate of #8707

[2016-06-09 14:42] #8707 closed

[2016-06-09 14:43] sle-odoo commented on #8502
Closing as this seems to be fixed now.
Regards!

[2016-06-09 14:43] #8502 closed

[2016-06-09 14:44] #7801 closed

[2016-06-09 14:45] #7431 closed

[2016-06-09 14:47] sle-odoo commented on #7327
Please refer to [the documentation](https://www.odoo.com/documentation/8.0/reference/reports.html)

Regards

[2016-06-09 14:47] #7327 closed

[2016-06-09 14:48] #6888 closed

[2016-06-09 14:53] sle-odoo commented on #6904
Fixed at 2e16296099d76b38cab30cf1a968147233d9d462
You only see the rml and webkit one in technical features.
Regards

[2016-06-09 14:53] #6904 closed

[2016-06-09 14:54] #6884 closed

[2016-06-09 14:55] #6743 closed

[2016-06-09 14:56] sle-odoo commented on #6139
Closing as i don't understand anything of this issue.
Regards

[2016-06-09 14:56] #6139 closed

[2016-06-09 14:59] #2813 closed

[2016-06-09 15:34] intero-chz commented on #12050
Maybe there is a correlation to https://github.com/odoo/odoo/issues/4047 ?

[2016-06-09 15:39] intero-chz commented on #12261
@qdp-odoo maybe can explain it.

[2016-06-09 16:23] avanzella commented on #6800
This issue is still present in v9c+E.
Is there any solution available ?
Regards.

[2016-06-09 16:59] joolsr commented on #8707
have you closed the wrong one ? 8707 is referenced but is this bug report.
Which is the other one then ?

Julian

On 9 June 2016 at 15:43, Simon Lejeune <notifications@github.com> wrote:

[2016-06-09 17:12] TheNiceGuy opened #12363 "Porting a module to Odoo 9 API"
Hi, this isn't much of an issue and I'm not sure where to discuss this.

I need to extend the `Membership` module, but it uses the old API and the code is a mess. I'm thinking about porting it to Odoo 9 API (shouldn't be complicated) and cleaning the code. In order to maintain my own modifications easier, I'd like to pull request the ported version first. Would it be a great thing that I port the

[2016-06-09 18:41] munawar050 commented on #11795
Solved with commit

[2016-06-09 18:41] #11795 closed

[2016-06-09 19:00] Xpiva commented on #12306
I am having the same issue, and have the latest updates.

[2016-06-09 20:09] JKE-be commented on #12363
Hello @TheNiceGuy

It seems that this task has been already done by Odoo but not already merged.
Eg: https://github.com/odoo/odoo/pull/8141/files and https://github.com/odoo/odoo/pull/11811/files

In any case, we should/try to drop the old api in V10, so all modules will be converted (or are currently migrating)

Thanks for your proposition, I close this issue... And you should be able to extend w

[2016-06-09 20:09] #12363 closed

[2016-06-09 20:27] lslaz1 opened #12364 "website_slides download_security always == 'user'"
Impacted versions: I'm on V9.0

Steps to reproduce: Download website_slide, upload a document to a public channel, try to download while not logged in.

Current behavior: When a slide is uploaded and there is a 'public' user, the download button prompts the user to log in.

Expected behavior: Since the if statement says:
`if slide.download_security == 'public' or (slide.download_security == 'user'

[2016-06-09 20:52] oddbjornkvalsund opened #12365 "lessc not installed when running HEAD on Ubuntu 14.10"
Impacted versions: HEAD

Steps to reproduce: run "wget -O- https://raw.githubusercontent.com/odoo/odoo/9.0/odoo.py | python", start "odoo.py", browse to http://localhost:8069 and create new database.

Current behavior: DIsplays http://localhost:8069/web with garbled layout and top of page says "Could not execute command 'lessc'.

Fix: Installing node-less and python-lesscpy manually resolves the p

[2016-06-09 21:48] Yenthe666 commented on #12363
@JKE-be and @TheNiceGuy yes you can extend a module that is written in old API with the new API.