[2017-08-02 00:22] 7Eleven1995 commented on #18507
@odony Hi Sir, thank you for your explanation. I now understand the difference between the Current Inventory Valuation and Current Stock.

Please correct me if I'm wrong since I'm still a bit confused and this is for clarification. Based on my understanding,  the default source location (reserved quants in the delivery order) is because of FIFO method (default). I tried to reproduce the issue agai

[2017-08-02 02:18] bnjroos opened #18618 "Odoo 10.0 CE - Calendar view Uncaught TypeError: Cannot read property '_week' of undefined"
Impacted versions: 10.0

Steps to reproduce: Installed Odoo on VPS and few Apps

Current behavior: When going to "Calendar View" I am getting the following error:
[code]
It seems to come from the following line in the JS code:` firstDay:moment._locale._week.dow`

Any idea on how to resolve that ?

TIA

[2017-08-02 03:57] ed29 commented on #18512
@lap-odoo Yes,in english is best,but sorry for that i don't find infomation in english,maybe google translate would help,that are texts in the page.

[2017-08-02 04:45] lvx5013 commented on #18512
First of all,

Chinese accrual basis:

Accrual basis (accrual basis), also known as accrual basis, refers to the right to receive cash or to pay cash, responsibility, the occurrence of power and responsibility as a sign to confirm the current income and expenses, and claims and liabilities.

That is, revenues are recognised as cash receipts and future cash receipts, claims, and expenses are recogn

[2017-08-02 05:16] fmdl commented on #18497
Other methode to update after the issue find by @matt454357

[code]

[code]

[2017-08-02 05:42] lvx5013 commented on #18512
According to the accrual principle, all the existing income and has occurred or shall bear the costs, regardless of whether the money has been cash income and expenses should be as treatment period; all income and expenses not attributable to the current period, even if the money had been received pay in the current period, should not be recognized as income and expenses. Therefore, accrual basis

[2017-08-02 05:48] lvx5013 commented on #18512
Fixed assets purchase valuation

- China stipulates that fixed assets are usually priced at their historical cost or net value. Change the depreciation method as an accounting policy change.

- According to international accounting standards, fixed asset pricing should consider the effects of fair value, including revaluation and discounting. Change depreciation method as a change in accounting es

[2017-08-02 05:54] lvx5013 commented on #18512
Short-term investment

China's guidelines specify that short-term investments are measured at the lower of cost and market price, and are only included in profit or loss for loss of value.
International accounting standards provide that short-term investments are measured at fair value and are subject to profit or loss changes in market and cost.

Long term investment goodwill

- China standards o

[2017-08-02 05:59] Yenthe666 commented on #18618
Hi @bnjroos,

Thank you for your report.
I've just tested this on the newest Odoo 10 CE without any problems.
Can you reproduce this on an official Odoo instance? (runbot.odoo.com) from when is this Odoo installation? Have you updated it to the latest source code yet?

Regards,
Yenthe

[2017-08-02 06:01] Yenthe666 commented on #18497
@jco-odoo could you give feedback here and look at this? Multiple issues/points seem to be handled here.

[2017-08-02 06:09] zitycard commented on #18600
I was using at first the 0.12.1, but I read on https://github.com/odoo/odoo/issues/9487 that on 0.12.4 it would work good. But in fact I have the same result with both versions

[2017-08-02 06:33] Yenthe666 commented on #18600
Hmm is there custom development (on the reports)? Have you tried updating your Odoo to the latest source code?

[2017-08-02 07:00] liuqinfalinwa commented on #18512
@lap-odoo
Refer to tax system from the government(updated in 2015)
[](http://www.chinatax.gov.cn/eng/n2367731/index.html)
you can check all the tax used in China.

Based on that link（update in 2015）, we have some reforms in 2016 and 2017
VAT Pilot Reform in 2016: Business Tax to VAT Rolled Out Comprehensively, after that selling goods and services in China, we mainly use VAT and no more business t

[2017-08-02 07:10] passboltUser commented on #18598
(Not a bug indeed.)
Ah, ok, thanks. Yes, indeed, certain letters seem to be perceived more pleasant (I think e.g. l and g are such letters). If I remember correctly, it goes so far, that when a company is created, they choose these letters more frequently. Unfortunately I could not find how this thing is called or more informations on it.
Now with so many 'o's, you should be able to buy Google soo

[2017-08-02 07:12] oco-odoo commented on #18565
@pedrobaeza @js-landoo Alright, I'll update the taxes to reflect the ones on the branch Pedro gave. Thanks for your help !

[2017-08-02 07:37] pedrobaeza commented on #18565
@oco-odoo Thanks! Let me know when you have it if you want me to check it.

[2017-08-02 07:40] zitycard commented on #18600
[Vista previa Reporte Externo.pdf](https://github.com/odoo/odoo/files/1193004/Vista.previa.Reporte.Externo.pdf)
That is what I get with the preview, so no custom develpment. Odoo installation has like 2 - 3 months.

[2017-08-02 07:56] Yenthe666 commented on #18600
Hmm can you first try to update your source code and do a `-u all` please?

[2017-08-02 08:25] zitycard commented on #18600
I think I have update everything (I just click the Update option on the Applications module). If there is another way, please told me.
What I get from the -u all is:
2017-08-02 08:13:47,808 23836 INFO ? odoo: Odoo version 10.0
2017-08-02 08:13:47,808 23836 INFO ? odoo: addons paths: ['/root/.local/share/Odoo/addons/10.0', u'/odoo/odoo-server/odoo/addons', u'/odoo/odoo-server/addons']
2017-08-02 08

[2017-08-02 09:01] jem-odoo commented on #18532
Hi,

thanks for reporting. This is now fix at https://github.com/odoo/odoo/commit/04c5aa31259b9e2d8d52f21f9ccde1d0b93d24e8, and will be forward ported in a few days.

Regards,

  Jem

[2017-08-02 09:01] #18532 closed

[2017-08-02 09:44] Yenthe666 commented on #18532
Great clean-up, thanks!

[2017-08-02 09:51] Yenthe666 commented on #18600
Hi @zitycard,

You need to update your Odoo environment with a `git fetch origin` and `git reset` (if you're on linux). You're not updating to the latest source code the way you mentioned above. On a sidenote: your `[Errno 98]` is going off because you haven't stopped your Odoo service first. You can do this with `sudo service odoo-server stop`

[2017-08-02 10:15] zitycard commented on #18600
Thank you for the information about how to update.
After that, what I get from -u all is:
2017-08-02 10:15:27,237 24722 INFO ? odoo: Odoo version 10.0
2017-08-02 10:15:27,238 24722 INFO ? odoo: addons paths: ['/root/.local/share/Odoo/addons/10.0', u'/odoo/odoo-server/odoo/addons', u'/odoo/odoo-server/addons']
2017-08-02 10:15:27,238 24722 INFO ? odoo: database: default@default:default
2017-08-02 1

[2017-08-02 10:18] Reddconnect-Maarten commented on #18572
1.	Reconciliation of journal items in regards to “relations”:
In the functionality of reconciliation of journal items, Odoo does not allow reconciliation of journal items which a linked to different relations (read Partner-Id’s). This constrain should be removed. Often, reconciliation on items from different relations is highly desired.

2.	Bank reconciliation receivables and payables:
Odoo does n

[2017-08-02 11:30] aario commented on #10667
I posted here how I fixed it here:
https://www.odoo.com/forum/help-1/question/sale-invoice-cannot-find-chart-of-accounts-for-the-company-121384#answer_122279
The only bugs/lack of features I could find were:

- The error message should tell customer that there is no chart of account for company AND there is no account receivable and payable for customer and also Income account for the product in t

[2017-08-02 12:33] lap-odoo commented on #18572
@ploegvde : Hi Erwin,

Regarding the ICP & CBS, indeed we think these are important reports. However, we will try to improve the l10n_nl step by step. So we will first finish what we have started and merge it before starting to work on other requirements. I've taken note of the fact we still need to work on the ICP and CBS.

[2017-08-02 12:34] lap-odoo commented on #18572
@Reddconnect-Maarten

Reconciliation of journal items in regards to “relations”:
In the functionality of reconciliation of journal items, Odoo does not allow reconciliation of journal items which a linked to different relations (read Partner-Id’s). This constrain should be removed. Often, reconciliation on items from different relations is highly desired.

Bank reconciliation receivables and payab

[2017-08-02 12:47] Yenthe666 commented on #18572
For all you guys: There is a PR for this now. See https://github.com/odoo/odoo/pull/18636

[2017-08-02 12:48] pedrobaeza commented on #18572
Indeed, that mustn't be allowed. It must be performed through an intermediate journal entry which transfers the balance from one partner to another. Maybe an action to perform this in standard would be good, or an specific option on reconciliation widget, but not directly.

No, it's not legal in several countries (in Spain is restricted according several conditions), and again, it should be done w

[2017-08-02 13:05] lap-odoo opened #18637 "Generic Accounting Feedback"
Dear Partners,

Could you please use this issue for generic accounting feedback (by generic, I mean not linked to a specific localization)? I would prefer to keep l10n_xx issues only for country-specific remarks to make it easier to manage.

Thank you.

[2017-08-02 13:06] lap-odoo commented on #18572
@pedrobaeza @Reddconnect-Maarten : Indeed, it would be easier to only discuss country-specific issues on the l10n_xx issues. I've just created the following issue for the rest : https://github.com/odoo/odoo/issues/18637.

Thanks

[2017-08-02 13:28] oco-odoo commented on #18565
@pedrobaeza, some additional question : in mod 303 report, your module splits casilla 14 (Modificación bases y cuotas) in two parts, one for purchases and the other for sales. Is it some design choice (if so, what's the reason ?), or I am missing some part of the regulation instructing to do so ?

[2017-08-02 13:35] qdp-odoo commented on #15781
Hello Florent, these 2 PR being now merged, I suppose we can close the issue.

Thanks again for the contribution

[2017-08-02 13:35] #15781 closed

[2017-08-02 13:41] Yenthe666 commented on #18637
@lap-odoo I see there is no issue for `l10n_be` yet? Is this still coming?

[2017-08-02 13:47] juhk opened #18639 "Incorrect Invoice Status in Sales Order"
Impacted versions:
Odoo 10.0

Steps to reproduce:
1. Create a new sales order with order line having unit price > 0.00
2. Create a invoice from the sales order
3. Add a new invoice line with unit price equal to 0.00
4. Validate the invoice
5. Check invoice status of the sales order

Current behavior:
Invoice Status is 'Nothing to Invoice'

Expected behavior:
Invoice Status is 'Fully Invoiced'

Vid

[2017-08-02 14:10] oerp-odoo opened #18641 "[10] Alternative products related with product.template, but not product.product?"
Impacted versions:
10.0
Steps to reproduce:
Look up source or open interface with debug mode and open product.product form or product.template form.
Current behavior:
As you can see in this code (in module `website_sale/models/product.py`):
[code]

`alternative_product_ids` has a relation to `product.template`, but `accessory_product_ids` to `product.product`. Why is that? If we have `product.temp

[2017-08-02 15:21] pedrobaeza commented on #18565
@oco-odoo that's because the formula for getting the amounts varies depending if they are sales or purchases. As our tax calculation engine only allows one type of computation by line, we thought it was better to allow multiple lines with the same number and sum them than to create a submodel for specifying this.

Any way, this is very important: __you can't get the 303 report using only tags and

[2017-08-02 15:48] xmo-odoo commented on #18511
@Cedric-Pigeon can you give #18644 a try? It should fix the issue.

[2017-08-02 16:08] lap-odoo commented on #18637
@Yenthe666 : It will come ;-) I first would like to move on with the localizations we are currently working on before creating the next l10n_xx issues.

[2017-08-02 17:45] hbto commented on #18637
Now that anglo_saxon accounting is a feature company-aware, that is, it
depends on the company you are logged in,

Is there any approach being sketched to deal with localizations made
company-aware, that way making it easy to
deploy multi-company / multi-localization odoo instances.?

Regards

Quien suscribe,

*Hbto*

On Wed, Aug 2, 2017 at 12:09 PM, Laura Piraux <notifications@github.com>
wrote:

[2017-08-02 17:50] pedrobaeza commented on #18637
@hbto you already have the chart account assigned for each company, so I don't understand what is the problem. Look at some code we have made localization company dependent:

https://github.com/OCA/l10n-spain/blob/07441c88e73d2b35f10e805977d00a5f9aecacdb/l10n_es_account_invoice_sequence/models/account_chart_template.py#L18

[2017-08-02 17:56] hbto commented on #18637
@pedrobaeza that is far from making Odoo localization aware,

wouldn't it be nicer if you could develop module/method that could be wrapped around some decorators and the decorator being fed with some parameter takes care if that piece of code
applies to some operations or not.

Even the case with AngloSaxon being made company-aware it is far from being the best option
to avoid mistakes.

[2017-08-02 18:01] pedrobaeza commented on #18637
You can make a decorator easily based on the same logic. At the end, a decorator is syntactic sugar, but basically what you have to do is:

* Get company associated to the operation.
* Check the chart account associated to that company.
* If it's one of the one you are interested in, perform the operation.

Anyway, you can propose to master a PR with this decorator and I'll support you.

[2017-08-02 18:05] hbto commented on #18637
Here there is a lengthy chat in the subject:

https://www.odoo.com/groups/community-59/community-25701715

@dcorio Your input would be wonderful here.
cc: @nhomar @moylop260

[2017-08-02 23:22] fmdl commented on #15781
Yes we can close. Thank, my account expert will be happy.

[2017-08-02 23:37] gregimagines commented on #11627
I just started having this issue. We ended up reinstalling Odoo and our database and can't get rid of it. I've tried disabling custom addons and has not helped. Using Enterprise 10 nightly build for August 1. Tried using another nightly build and did not help.

[2017-08-03 00:39] gustavovalverde commented on #14502
It seems something was forgotten here. Even though this is being seen as an usability thing, and it's a part of it. There's also a huge issue as I pointed out in the issue:

Disappearing the journal items without further logging or tracking could cause serious fraud and auditing problems. I don't even know how this is being handled right now.

[2017-08-03 00:43] gustavovalverde commented on #18637
This issue seems interesting, I have a few generic feedbacks for localizations and for accounting:
- https://github.com/odoo/odoo/issues/14059
- https://github.com/odoo/odoo/issues/14763
- https://github.com/odoo/odoo/issues/14502 (this is one prone to fraud)
- Maybe: https://github.com/odoo/odoo/issues/17983

**Adding:**
1. PoS don't have an Anglo-Saxon behavior (this would also "break" the offli

[2017-08-03 02:37] gustavovalverde opened #18648 "Can't inherit "Customer:" from XmlReceipt"
Impacted versions:
10.0
Steps to reproduce:
1. Inherit XmlReceipt with `t-extend`
2.  Change the whole ticket part-by-part with `t-jquery`

Current behavior:
![image](https://user-images.githubusercontent.com/16890942/28903360-7169e6d8-77d2-11e7-884e-7ceb4b29e895.png)
Just as this image shows, `Customer:`, which is shown in the printed receipt is not in the XML. I don't even know where this is com

[2017-08-03 02:39] gustavovalverde commented on #18648
@jorenvo @Yenthe666, this is very similar to https://github.com/odoo/odoo/issues/17704 but it's strange as the code is not even there but it's showing in the printed receipt and I can't even find it 😅

[2017-08-03 03:33] gustavovalverde commented on #18648
Also those two `<br /><br />` should be inside something inheritable

[2017-08-03 05:16] piyushgohel opened #18651 "can not access webpage with my machine IP"
Hello,

I have created one page with odoo website addon. I will properly work when I select database.If I have not select database, it will return 404 error. In log, i will see following line.

"2017-08-03 05:14:04,265 19930 INFO ? werkzeug: 192.168.0.102 - - [03/Aug/2017 05:14:04] "GET /test HTTP/1.1" 404 -"

I am access webpage with http://myIP:8069/test

give me solution about this error

Best

[2017-08-03 06:05] Yenthe666 commented on #18648
I guess  that `<br /><br />` could be moved up one line (so it falls within the div).
As about the customer, this is weird I guess? not really time to look further into that at the moment, sorry. 😉

[2017-08-03 06:23] sachinbanugariya opened #18652 "Timesheets to Validate not seems any timesheet of any user admin side"
hello,

timesheet validation approvals is not seems admin side,
approvals only seems on perticular manager account,

we must also need to see all timesheet on admin account.
how can i delete or refused timesheet which is approved,

thanks.

[2017-08-03 06:47] Yenthe666 commented on #18651
Hi @piyushgohel,

If I understand you correctly you have two (or more) databases? If you haven't selected a specific database Odoo simply doesn't know which database it should take. If you have two databases for example the webpage will exist in database 1 but this same page will not be known in database 2. So, how should Odoo be able to handle that? If you've selected the database where the page

[2017-08-03 07:07] Cedric-Pigeon commented on #18511
@xmo-odoo I made some quick tests and it looks very promising. I will do further indeep tests today and will keep you informed.

[2017-08-03 07:13] piyushgohel commented on #18651
But normally there are more than one database, at that time how to select default database?

[2017-08-03 07:28] lap-odoo commented on #18571
@intero-chz : Regarding the Datev Export, you can already test it on the master-l10n-de-new-skr-csn enterprise branch on our runbot. There is a button for the Datev Export on the general ledger report.

@OSevangelist : For the FERD/FNFE e-invoicing, I'll have a look at this. Apparently, that's quite new and from what I know it has not been requested by any of our users until now. That's not our bi

[2017-08-03 07:38] oco-odoo commented on #18565
@pedrobaeza Ok, now I see. Thanks. As for the fact using only tags in the usual way will not work as expected, I was aware of that and indeed already developed a "home-made" solution therefore. So, no worry ;)

[2017-08-03 07:42] pedrobaeza commented on #18565
OK, let me know any other doubt.

[2017-08-03 07:56] vostokbike opened #18656 "Email send failure in Helpdesk due to \u200 character in user emails"
Impacted versions:
10 Enterprise
Steps to reproduce:
1. Create a user (customer) in Users
2. Create contact for the above user and copy-paste the email address
3. Create a ticket in Helpdesk for the newly created customer
4. Send email from the helpdesk ticket
Current behavior:
The email is not sent with the following error:
Error without exception. Probably due do sending an email without compute

[2017-08-03 07:58] jco-odoo commented on #18497
It is ok for me to improve it, because functionally, you can be blocked for no reason.  I would always show all the quality checks because it is possible you do this first before you give the quantity.  But for the validation of the picking, you should not be blocked if you are going to put the rest in backorder and the backorder should only have the quality checks related to its products.

[2017-08-03 08:00] Yenthe666 commented on #18651
@piyushgohel have a look at the deployment documentation from Odoo https://www.odoo.com/documentation/10.0/setup/deploy.htm
If you still face this issue please continue this on the official help forums (help.odoo.com).

Regards,
Yenthe

[2017-08-03 08:00] #18651 closed

[2017-08-03 08:03] piyushgohel commented on #18651
Link not open

[2017-08-03 08:11] Yenthe666 commented on #18651
The 'l' was missing for '.html'. URL: https://www.odoo.com/documentation/10.0/setup/deploy.html

[2017-08-03 08:12] Yenthe666 commented on #18497
@fmdl I encourage you to make a PR in this case. 😉

[2017-08-03 08:20] OSevangelist commented on #18571
Hello Laura, yes FERD/FNFE is still quite new but it will be legally binding for all those who want to make bid on public offers and for the public organisations by 2019 (see http://www.kommunal-edv.de/wissen/it-technik/schnittstellen/zugferd/). However, the matter is covered in an OCA Modul and might better reside there for the time being. According to yours and the hint of @mncoon i didn't check

[2017-08-03 08:34] mart-e commented on #18447
Hello,

What do you expect exactly?
The mail template is in no update so it is expected that the translations are non-updated either. This was the point of my commit 26627391.

Or is the issue that you have changed the content of a master record (the invoice mail template) in a custom module and want to handle properly the translations?
I have a bad news on this, it does **not** work to have a tra

[2017-08-03 08:37] Cedric-Pigeon commented on #18511
@xmo-odoo For many2one, one2many and simple fields this fix is perfect. Unfortunatly I still have some issues with many2many. For some reasons it doesn't prefetch.

[2017-08-03 08:40] fmdl commented on #18497
I will make a PR, the Odoo Team give me the acces to enterprise reposit today.

[2017-08-03 08:47] mart-e commented on #6535
Fixed (some time ago) at 91aa012ed030c9927f49fd1d799321744729ef83

[2017-08-03 08:47] #6535 closed

[2017-08-03 11:45] passboltUser opened #18661 "Which connector would you recommend for Magento v1.9.3.4?"
Impacted versions: 10.0

Which connector would you recommend for Magento v1.9.3.4?

[2017-08-03 11:52] intero-chz commented on #18639
The calculation is based on the invoiced quantity not the invoiced amount. I see no Bug/Error here.

[2017-08-03 11:52] Yenthe666 commented on #18661
Hi @passboltUser,

Thank you for your report.
The Github tracker is only for bugs in the official code though. It is not the place to ask questions.
Please ask this question on the official help forums (help.odoo.com) where plenty of people can help you.
P.S: Odoo itself does not support connecting to Magento, but there are some apps in the app store for this.

Regards,
Yenthe

[2017-08-03 11:52] #18661 closed

[2017-08-03 12:05] passboltUser commented on #18661
It doesn't allow my to ask a question and I get: "3 Karma-Punkte sind erforderlich um diese Aktion auszuführen. Sie können Karma-Punkte erwerben, wenn Ihre Antworten durch die Community positiv bewertet werden."

[2017-08-03 12:33] aab-odoo commented on #18525
Hello,

What do you mean by group operators?

Regards

[2017-08-03 12:34] aab-odoo commented on #18525
Ok got it, never mind.

[2017-08-03 12:36] Yenthe666 commented on #18661
Hi @passboltUser,

This means you haven't verified your account (your e-mail) yet. If you do this you'll get more karma and you will be able to create a new questions.

Regards,
Yenthe

[2017-08-03 12:37] passboltUser commented on #18661
I can't anwser any Odoo related questions to collect Karma-Points since I'm totally new to it..

[2017-08-03 12:44] passboltUser commented on #18661
When I wanted to ask a question, there was a message saying that I need to verify my email. I clicked on the link, but got a "500: Internal Server Error", but when I refreshed the tab, the message disapeared. Where can I find the resending link to my email in my account profile settings, can't find it.

[2017-08-03 14:05] mart-e commented on #18544
Thanks for the report.
The issue is that the symbol is one the currency instead of the language. I believe it was set on after as correct for the French speakers. However, you say it is not true.

@dufresnedavid @jbchouinard @Ehtaga (or others from Québec), could you confirm?

[2017-08-03 14:08] juhk commented on #18639
The same thing happens if you add a delivery method with 0.00 unit price (Free delivery charges) to a sales order. It will create a sales order line for the delivery with 'invoice_status' equal to 'no'. The invoice status of the sales order will be 'Nothing to Invoice' although invoice has been created and validated for the sales order.

[2017-08-03 14:14] dufresnedavid commented on #18544
In French (CA), I confirm that the symbol is always shown after the amount.

[2017-08-03 14:15] Ehtaga commented on #18544
@GasparYYC @mart-e Sorry but in French, the currency symbol must be after the number (for CAD and USD).
See http://bdl.oqlf.gouv.qc.ca/bdl/gabarit_bdl.asp?id=1584 (Quebec government)

[2017-08-03 15:04] ddico commented on #18559
Hi Laura,

Thank you for your effort

You have all details about cheques here:
https://github.com/odoo/enterprise/pull/429
Including link to Canadian Payment Association specifications

.

[2017-08-03 15:10] mart-e commented on #18544
Thanks for the answer, this is what I thought.

We already had this discussion with @qdp-odoo, we had not a clear rule for the currency position and we chose not to move it and let the user configure it depending on their usecase.

[2017-08-03 15:15] dufresnedavid commented on #18544
@mart-e the symbol position should not depend on the currency. It should depend only on the language.

In en_US, the symbol is always before the amount whatever the currency.

Just take a look at Word and Libreoffice.
Also, take a look at http://babel.pocoo.org/en/latest/api/numbers.html.

[2017-08-03 15:23] GasparYYC commented on #18544
Thank you all for your comments.
@mart-e Sounds like you're pushing for a binary solution. In my opinion this is a language setting, in my case we are planning to have operations in English (Canada) and French (Canada).

How can we have both? Its the same currency and the same country.

[2017-08-03 17:23] Haven1999 commented on #13498
can any one solve this, please?

[2017-08-03 17:41] mrzingo commented on #6680
Same issue here

[2017-08-03 22:50] femioz opened #18669 "[Odoo 10.0] User with [Inventory/Manager] access rights cannot validate internal transfer"
Impacted versions:
10.0
Steps to reproduce:

1. Installed Inventory module..

2. Configured 4 warhouses and locations

3. Configured Routes so that there is one step in between internal transfers using a transit location.

4. Installed Warehouse restrict module from Odoo app market place.. (Everything looks fine) https://apps.odoo.com/apps/modules/10.0/warehouse_stock_restrictions/

5. Configure r

[2017-08-03 23:41] fmdl commented on #18497
I have made the PR.

But for me it is an issue because it is no sens to do the quality of check of product which are not in your hand.

[2017-08-04 03:26] nhomar opened #18675 "[SAAS-17] lead automation diagram view totally broken"
Impacted versions:

saas-17 and above

Steps to reproduce:

- Install lead automation demo module.
- Go to the record created.
- Open one item (the second one).
- Try to see the diagram view.

Current behavior:

An error occurred:

[code]

Expected behavior:

Show properly the diagram view.

Video/Screenshot link (optional):

Runbot tested:

Record open.

![image](https://user-images.githubusercon

[2017-08-04 05:55] gustavovalverde commented on #18648
Just to have a better graphical understanding. I've modified the whole ticket, but the Customer part can't be inherited or modified; it's not even inside the whole https://github.com/odoo/odoo/blob/10.0/addons/point_of_sale/static/src/xml/pos.xml
![customer](https://user-images.githubusercontent.com/16890942/28955856-58f2bfe0-78b7-11e7-8671-7b0e1dd5f31e.jpg)

[2017-08-04 07:09] lap-odoo commented on #18559
@ddico : Thanks Daniel !

@d-fence : can you take care of this please ? Thanks ;-)

[2017-08-04 07:14] taifu opened #18679 "Hugely degraded performance for the translation subquery injection in _generate_translated_field"
The injection of the subquery in _generate_translated_field causes a performance degradation that is unacceptable. A flag environment variabile to skip the injection is necessary (https://github.com/odoo/odoo/blob/10.0/odoo/models.py#L4091)

Impacted versions: 10.0

Steps to reproduce: use an intensive query on stock_quant

Current behavior: hugely degraded performance (from 1 seconds to 90)

Expe

[2017-08-04 07:18] Yenthe666 commented on #18679
@odony another performance report. Could you comment please?

[2017-08-04 07:49] mart-e commented on #14479
Please share code or a least a traceback. Failing to remove a field will not crash as [the error is catched](https://github.com/odoo/odoo/blob/7cd2f63705f8c4ddfd05c70d79aa6261ae191d18/odoo/addons/base/ir/ir_model.py#L1330-L1338). Maybe it will fail later but that is what needs to be investigated.

[2017-08-04 08:06] taifu commented on #18679
A workaround we found is to use with_context({"lang": ""}) in our queries. But I'd prefer an explicit flag variable to prevent any subquery injection at all

[2017-08-04 08:37] oco-odoo commented on #18565
@pedrobaeza , the L10n_es_aeat_mod115 module of your 10.0 branch still uses v8 API, and the tax codes it uses to find the move lines for casillas 02 and 03 do not seem to be linked to any actual tax in taxes_common.xml (from l10n_es), so I can't tell which taxes should be taken into account for these two. Can you help me ?

[2017-08-04 08:50] esciara commented on #18579
Hi @JKE-be . Any progress/more comments on this?

[2017-08-04 09:01] nle-odoo commented on #17445
Hi @nafex

I have changed the PR, after a lot of errors and other test, it seem better that way.

There is a lot of use case and making a change could add issue to other use case and:

- enter can still be entered by pressing shift + enter
- this part is also editable in the backend

[2017-08-04 09:04] pedrobaeza commented on #18565
That's because is not yet ported. See in the manifest that the key `installable` is set to `False`. FYI, we have opened issues for tracking the progress on the migrations. This one is for v9: https://github.com/OCA/l10n-spain/issues/225, and this one is for v10: https://github.com/OCA/l10n-spain/issues/401. On v9, the module is already migrated to new API and new tax system, and merged: https://gi

[2017-08-04 09:07] oco-odoo commented on #18565
Ok, thanks !

[2017-08-04 09:36] nafex commented on #17445
Hi @nle-odoo

I'm still having the copy paste issue. When you select all with ctrl-a and paste something or select all and write something it deletes everything and you cannot edit the input anymore...

Copy and paste is a very important feature. I think no one writes all descriptions by hand... The most descriptions are copied and pasted from other documents e.g. from a manufacturer documentation

[2017-08-04 09:40] mart-e commented on #18544
I am not looking for a binary solution but now (in v8-10), it is defined on the currency and that is not possible to change in stable.

However, on, "should we change or not in master", it was an old debate we had already at least 2 years ago (I can no longer find the thread). We can discuss that again but, at that time, we chose not to change it.

[2017-08-04 09:54] lukebranch opened #18682 "[10.0] adding product attributes reset variant customizations"
<h1>Enterprise Support Ticket Reference:</h1>
<h3>762743</h3>

<h1>Impacted Versions:</h1>

- 10.0
- Master

<h1>Steps to Reproduce:</h1>

1. Create an attribute with create_variant boolean un-ticked (ie. don't create variants from these attributes). For example 'Test Attribute'
2. Create attribute values related to the above attribute. For example 'Test 1', 'Test 2', etc
3. Create a product (prod

[2017-08-04 09:57] lukebranch commented on #18682
@Yenthe666 ,

Sorry to tag you on this one, i'm not sure who to talk to about this issue. It seems like a rather critical bug if create_variants is to be used on attributes. Any help would be appreciated.

Once I have added a video i'll submit a support ticket with my customer's enterprise subscription code.

[2017-08-04 10:16] sylvain-garancher commented on #14493
We also have this issue.

I just tried it on a test database to set `_parent_store = False`, and it seems to work... But this doesn't.
Doing this will not the columns from the database, and the `child_of` operator still uses these columns, which will never be updated again.

After I really remove the `parent_left` and `parent_right` columns from the database, using the `child_of` operator in a sea

[2017-08-04 10:57] nim-odoo commented on #14493
I guess the fields have been removed from the database, but they are sill defined at the model level, right? If you are about to remove the fields anyway, you might simply apply the complete patch: https://github.com/odoo/odoo/pull/14694

[2017-08-04 11:29] odony commented on #14493
@sylvain-garancher setting `_parent_store` to False should be sufficient as a workaround for an existing database. The framework [can handle](https://github.com/odoo/odoo/blob/8749410b1033ddec1207ce1db42d1889a0d2ea33/openerp/osv/expression.py#L718) `child_of` operator on models where `_parent_store` is `False`, it will simply do multiple queries for traversing the hierarchy. The `parent_left` and

[2017-08-04 11:51] zitycard commented on #18600
Hi @Yenthe666,
I will appreciate some answer as soon as possible.
Thank you in advance

[2017-08-04 11:54] sylvain-garancher commented on #14493
I wanted to check that the fields were not used anymore when calling search with the child_of operator, but I forgot to remove them from the python, as @nim-odoo said :)

I just retrid with the full patch, and I confirm that it works as expected.
Sorry for the noise.

[2017-08-04 12:13] Yenthe666 commented on #18600
@zitycard can you give the last part of the stacktrace? I believe the real error is there 😉

[2017-08-04 13:05] nle-odoo commented on #17445
I modified the fix again for this use case.

I was trying to reproduce it but in my tests it did not happen since I had:

[code]

and in this instance (having a <br/> at the end) the issue did not happen.

[2017-08-04 13:25] alnslang commented on #14493
@nim-odoo and @odony Is-it possible to merge this patch in v10 ?

[2017-08-04 13:34] nafex commented on #17445
Tried again on your latest runbot build:
http://251544-9-0-web-editor-opw-751360-nle-e87a56.runbot5.odoo.com

The issue still there:
CTRL + A  ->  ENTER or CTRL + V don't work.

Here a video:
https://drive.google.com/file/d/0B2CIGeDDt1gKdmQyNmEtTDRiemM/view

I am on holiday for a week now. Will not be able to test in this time.

[2017-08-04 14:21] menagabara opened #18686 "does odoo 9 support ubuntu 17.04?"
I installed odoo 9 from [link](https://github.com/odoo/odoo/tree/9.0) and each time i try to run it, this error appears:
`raise ValueError('External ID not found in the system: %s' % (xmlid))
QWebTemplateNotFound: External ID not found in the system: web.login
`
All the modules in requirements.txt were installed including passlib,i also tried to clear history and kill servers. I've created the db

[2017-08-04 14:24] menagabara commented on #18686
I managed to install all the requirements including pypdf, but it raises error about web.log each time i try to run it, so i thpught my ubuntu version is the problem, is it?

[2017-08-04 14:36] yelizariev commented on #14812
mrp_bom.py was fixed at https://github.com/odoo/odoo/commit/c0ec09e9d56485f3c6a24593bbc0240f54e433c3

One who faced the same problem without understanding what is going on (like I did), here is quick tip:
use ``u`` prefix before strings with none-ascii characters, e.g. https://github.com/it-projects-llc/misc-addons/pull/453/commits/3ca4fcdc021099e4fce4aa93fa8cac0ab59afa27
[code]
(dash is non-assci

[2017-08-04 14:42] pedrobaeza commented on #14812
One clarification:

`-` is an ASCII char
`–` isn't (I think it's called stylish dash or similar)

[2017-08-04 15:09] Gyuri77 commented on #5721
@mart-e

You linked  an example of the problem, not the solution. The standard odoo way does not work for many2one fields, because if you use the default_model attrib on the field as the documentation said, and the ir.values set_default function needs as you can see it in res.config, it gives you an ugly pickle error.

On your linked example, you see a workaround, which is not the odoo way of usin

[2017-08-04 17:21] Yenthe666 commented on #18686
Hi @menagabara,

Odoo should be working on Ubuntu 17.04 (if I'm not mistaking @sle-odoo fixed an issue for this a while ago).
How did you install it / which guide did you follow?
Could you post the traceback please?

Regards,
Yenthe

[2017-08-04 17:23] Yenthe666 commented on #18682
No problems on tagging me in. This looks like one for @mart-e to me. 👍
Also, no feedback on the ticket yet?

[2017-08-04 17:28] Yenthe666 commented on #14812
Yep exactly, this can be closed. Good catch guys!

[2017-08-04 17:28] #14812 closed

[2017-08-04 21:19] maitaoriana commented on #18447
@mart-e Hi, thank you for you answer

Yes, I have changed the content of a master record (the invoice mail template) in a custom module, but before your commit we added [this translation](https://github.com/Vauxoo/mexico/blob/10.0/l10n_mx_base/i18n_extra/es.po#L1168) and the translation worked. As you can see in [the video](https://www.youtube.com/watch?v=PUSkD_dJfEQ&feature=youtu.be).

[code]

In

[2017-08-04 23:30] invitu opened #18688 "[10.0-pos_restaurant] name is cut on the kitchen printer if it does not fit on 1 line"
Impacted versions:
10.0
Steps to reproduce:
- Setup a Product with a long name (ie. Chicken with Barbecue Sauce and French Fries)
- Setup a posbox with kitchen printer

Current behavior:
- on the kitchen ticket, the name is cut. The whole name is not printed

Expected behavior:
- on the kitchen ticket, the name should not be cut and be printed on several lines

[2017-08-05 04:31] osvalr commented on #15279
also tested in branch `10.0`

[2017-08-05 09:22] lukebranch commented on #18682
Thanks Yenthe. No response on the ticket so far, however I submitted it at the same time I submitted created the github issue.

[2017-08-05 12:01] chchow opened #18696 "Uncaught TypeError: Cannot read property 'off' of undefined"
Impacted versions: 10.0

Steps to reproduce:
1. Installed Odoo on Linode VPS with Apache2 using the instruction mentioned here: https://www.linode.com/docs/websites/cms/install-odoo-10-on-ubuntu-16-04
  - Git clone version: commit 2cd63aa2dc2ab0706922a660242b2132694e41a8
  - Ubuntu version: Distributor ID: Ubuntu
                               Description:    Ubuntu 16.04.3 LTS

[2017-08-05 13:07] #13586 closed

[2017-08-05 15:57] yostashiro opened #18697 "[10.0] Cancelling bank reconciliation does not clear move_name field"
### Impacted versions:

10.0 (and maybe others as well)

### Steps to reproduce:

Here we assume there was an inter-bank transfer from Bank A to Bank B, and user has already input such transfer through Accounting > Sales > Payments (with "Internal Transfer" payment type).

1. Create a bank statement for Bank A with a line for outgoing payment (to Bank B)
2. Reconcile the statement line by creating

[2017-08-05 15:58] yostashiro commented on #18697
Here is a related PR: https://github.com/odoo/odoo/pull/15715

[2017-08-05 16:13] menagabara commented on #18686
@Yenthe666 updated.

[2017-08-05 17:37] Yenthe666 commented on #18686
Will look at it next week and give you feedback, don't have computer access at the moment. :)

[2017-08-06 01:00] cjlpowers opened #18698 "Unable to print full receipt using EOM-POS thermal printer when receipt markup includes font='b'"
Impacted versions:
Odoo 10
PosBox v16 (patched to commit 40197b38e550acc5ad9091096bbefd8a5291858d)

Steps to reproduce:
Use [EOM-POS (EOM-200) thermal printer](https://www.amazon.com/dp/B00WTTYP42/ref=twister_B01LMF1RGW?_encoding=UTF8&psc=1) with Odoo (via PosBox) and try printing a receipt via **Print Receipt** button.

Current behavior:
Printed receipt is not complete, it only contains the heade

[2017-08-06 01:16] yostashiro commented on #18669
@femioz I suggest you report the issue to the module author and not here if the behavior is caused by the 3rd party module.

[2017-08-06 01:56] cjlpowers commented on #18698
I now believe this is a limitation of the EOM-POS printer. The [printer specifications](http://eompos.com/wp-content/uploads/2016/02/EOM-200-manual-2-16-2016.pdf) only mention font A in the supported character set. So that may be why **font='b'** was causing a problem.

[2017-08-06 01:56] #18698 closed

[2017-08-06 09:37] yostashiro opened #18699 "[10.0] Cancelled (reversed) payment entries appear in bank reconciliation screen"
### Impacted versions:

10.0 (and maybe others)

### Steps to reproduce:

1. Create a customer payment.
2. Create a reverse journal entry for the journal entry generated from Step 1 (upon realizing that there was a mistake).
3. Create a new customer payment (with correct content).
4. Go to bank statement reconciliation screen.

### Current behavior:

Journal items from above Steps 1-3 show and can

[2017-08-06 09:42] odoouser2 opened #18700 "United state Cart of account for multi company"
Impacted versions: 10 Community

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
Hello,
Greetings,

I use odoo V10 Community edition.I use multi company features. I have installed "United States - Accounting" but it does not appear in the Account >>setting>> Chart of Account template

Please suggest the process to assign it to other company too...
Atta

[2017-08-07 05:53] lukebranch commented on #18682
I believe this issue is related to:

https://github.com/odoo/odoo/issues/16806

[2017-08-07 05:58] Yenthe666 commented on #18682
@lukebranch,

Making the field attribute_value_ids in the front-end readonly wouldn't be the right way. We have plenty of customers that use it from there for example.
As to the other issue you've linked, this is from my collegeau Ward. What it comes down to is if you create a new attribute after you've already had one or more it'll automatically delete all the 'old' records and re-create them. I'

[2017-08-07 06:11] skalyanapu-mtuity opened #18704 "Re :: werkzeug Issue , unable to start the application !!"
Impacted versions: v 10.0

Steps to reproduce: Just try hit main odoo server url for instance:: http://localhost:8069

Current behavior: Error on the main screen::  "Internal Server Error"
Note: The installation, I followed in my local machine (Ubuntu 16.04) was tried in cloud instance (Ubuntu 16.04), everything was working fine in local instance but unable to access the application cloud instance

[2017-08-07 06:13] Yenthe666 commented on #18704
@skalyanapu-mtuity the last part of your log says exactly what is wrong: you don't have enough rights to make directories in `/var/lib/odoo`. This is basically an implementation error, just rectify the rights so you can write in the directory.

[2017-08-07 06:24] lukebranch commented on #18682
@Yenthe666 ,

I wholeheartedly agree, it's incredibly confusing for the end-user. I believe the behaviour of this function needs to be revisited, as it makes using attributes to generate product variants incredibly fragile from a user's point of view.

In my use-case it's useful to have attributes such as 'Gender', 'Collection', etc. as create_variant == False, as this allows users in the website

[2017-08-07 06:25] Yenthe666 commented on #18700
Duplicate of https://github.com/odoo/odoo/issues/18428 and https://github.com/odoo/odoo/issues/18373 please stop doing that and give people the time to give feedback. We can't be on every issue all the time and duplicating issues only makes it worse.

[2017-08-07 06:25] #18700 closed

[2017-08-07 06:26] Yenthe666 commented on #18373
@mart-e and @qdp-odoo could you give feedback? If I'm not mistaking he wants to assign different chart of accounts to multiple companies, which I think is not possible? Or am I wrong? 😟

[2017-08-07 06:29] Yenthe666 commented on #18682
Yep I feel your point there. Sadly we face some of these issues too and we had to do custom development eventually to by-pass this problem.. (read: don't drop all attributes in production.)

[2017-08-07 06:32] Yenthe666 commented on #18669
Hi @femioz,

Thank you for your report. Can you reproduce this on a runbot (runbot.odoo.com)? I tried this on a V10 (without the third party app) but didn't seem to find an issue. Please try this on a runbot and if you can reproduce it then do let me know. It looks like an issue from the third party app to me.

[2017-08-07 06:36] zitycard commented on #18600
The lines that appear when I generate the external report preview.

[code]

[2017-08-07 06:51] Yenthe666 commented on #18600
@zitycard no problem there. What is your `report.url` and `web.base.url` parameter by the way? Does it match the Odoo including the port number?

[2017-08-07 06:53] nle-odoo commented on #17445
ok, [http://251544-9-0-web-editor-opw-751360-nle-e87a56.runbot5.odoo.com](build 251544) was the previous change: https://github.com/odoo-dev/odoo/commit/e87a56267e2, so it's normal the ctrl + V still not work in some instances.

In the last build (with https://github.com/odoo-dev/odoo/commit/773829005) I have tried what's done in the video and for me it works.

[2017-08-07 07:12] lap-odoo commented on #18520
@dominiquekonsuntack :

Regarding the cash flow statement, do you have documentation/guidelines explaining how you created the cash flow statement based on the indirect method ? Thanks.

Regarding UOB and DBS, it seems that Yodlee already offers a synchronization with these banks so it should work with Odoo (https://drive.google.com/a/odoo.com/file/d/0B0ITmdw6h3ZrMzJpVVdSdWV3ajA/view?usp=drivesdk

[2017-08-07 07:16] zitycard commented on #18600
Yes, both of them match with the values they should have.

[2017-08-07 08:24] mart-e commented on #18682
Hello,

Indeed, it is +/- the same issue. Adding product attributes afterwards will mix up existing variants.
It is a known limitation and I agree we should improve this.
You should get an answer soon on the ticket.

[2017-08-07 08:25] Yenthe666 commented on #18682
@mart-e is this something that'll be handled in V11 or is it not yet determined when/what will happen to change this?

[2017-08-07 08:41] lukebranch commented on #18682
@mart-e ,

Thank you for looking into this. I'll keep an eye out for the response on the ticket.

Should I mark this one as closed in favour of #16806?

[2017-08-07 09:12] odony commented on #14493
@alnslang @nim-odoo yes, we could consider turning off the _parent_store feature on `stock.quant.package` in 10.0, as the system should gracefully fallback to recursing through the hierarchy.
It's not very pretty on the "stable" scale, but I don't think it should cause any issue, and should not affect performance negatively, given the depth of typical "package" hierarchies. Good testing of the sea

[2017-08-07 09:34] gustavovalverde commented on #18648
@jorenvo, any updates here?

[2017-08-07 09:46] BT-astauder commented on #18571
The bank data of all banks can be found here:
https://www.bundesbank.de/Redaktion/EN/Standardartikel/Tasks/Payment_systems/bank_sort_codes_download.html?https=1

There are two things to mention:
- Disclaimer, that official bank sort code update service for payment service providers is available via secure download (not needed in my eyes).
- Data only valid for 3 months. There are already changes s

[2017-08-07 10:05] nim-odoo commented on #14493
@odony
Well, what surprises me is that removing the field from the DB caused an error:

I would have thought that if `_parent_store = False`, this shouldn't happen. I would have expected that in this case, we never explicitly require this field to exist in the DB. I will dig into it.

[2017-08-07 10:14] odony commented on #14493
@nim-odoo `parent_{left,right}` are `integer` fields so they are prefetched

[2017-08-07 11:42] mart-e commented on #18373
No it is possible. You switch company go to Accounting > Settings > Install more chart templates as whon in the screenshot.

[2017-08-07 12:37] lukebranch opened #18710 "[Master] (Stripe) Feature Request: Phase Out The Use of Checkout.js in Stripe in Favour Of Stripe.js"
<h1>Impacted Versions:</h1>

- 11.0
- Master

<h1>Steps to Reproduce:</h1>

- Enable Alipay as a payment method in Stripe

- Enable alipay: true, in included JS to enable alipay with checkout.js

<h1>Current Behaviour:</h1>

- Outside of the USA Stripe will not accept Alipay and many other offered payment methods, despite supporting them.

- After many discussions with Stripe (support@stripe.com)

[2017-08-07 12:42] Yenthe666 commented on #16730
Hi @Buffoon1989,

I'm closing this report as there has been no feedback in almost two months.
If you still face this issue and can reproduce it on a runbot don't hesitate to reopen or comment here.

Regards,
Yenthe

[2017-08-07 12:42] #16730 closed

[2017-08-07 12:44] Yenthe666 commented on #15897
Hi @pytechqudra,

I'm closing this issue as there has been no response in months.
Don't hesitate to reopen or comment if you still face this issue and can reproduce it on a runbot.

Regards,
Yenthe

[2017-08-07 12:44] #15897 closed

[2017-08-07 12:48] Buffoon1989 commented on #16730
Hi，Sorry,later to replay.I find the problem that is amap api  problem.they cut dowm the return jsion.

[2017-08-07 12:50] Yenthe666 commented on #16730
@Buffoon1989 so this is no longer a problem for you or is it?

[2017-08-07 12:57] Buffoon1989 commented on #16730
@Yenthe666  Yes,I put this problem to Amap. Thank you !

[2017-08-07 13:15] Yenthe666 commented on #16730
Awesome - Thanks a lot for the feedback!

[2017-08-07 15:06] jbaudoux opened #18714 "[10] Procurements run one by one instead of batch"
Impacted versions: 10
Steps to reproduce: confirm multiple moves (with pick/ship setup)
The current code run all the procurement one by one at creation as they are not created with context option to not do a "run" at creation. Afterwards, procurements.run() does nothing anymore.
While this does not raise any traceback, this slow down the sale order confirmation.
Here is a fix:
Current behavior:
[c

[2017-08-07 17:59] jorenvo commented on #18648
@gustavovalverde Are you running standard Odoo? I checked the value of `receipt` in `print_xml` in v10 via runbot but couldn't find a 'Customer:' line.

[2017-08-07 18:03] Yenthe666 commented on #18688
@jorenvo I think this is one for you? (sorry if I bother you)

[2017-08-07 19:22] gustavovalverde commented on #18648
Yes, I'm running standard and couldn't find it, but it's getting printed
when using the PosBox.

On Aug 7, 2017 2:00 PM, "jorenvo" <notifications@github.com> wrote:

[2017-08-07 20:24] jorenvo commented on #18648
I cannot reproduce your issue on v10 runbot. Could you give me exact steps you are following for it to print the 'Customer:' line?

[2017-08-07 20:29] Yenthe666 commented on #18648
@gustavovalverde are you absolutely sure that nobody did custom development or that somebody altered the record in the database? I've never seen the customer line either & can't reproduce it either.
On a sidenote: as a neatpick the `<br/> <br/> ` could be moved in the div to improve things.

[2017-08-08 01:20] femioz commented on #18669
Thank you both for your response. Will try and reproduce on runbot and see how that goes.

[2017-08-08 04:12] odoouser2 commented on #18700
This issue is not closed. So please just comment and don't close it.

[2017-08-08 04:19] odoouser2 commented on #18373
Hello,
Greetings,

I switched the company, went to accounting settings. I am able to get other chart of account that I install but is unable to get the United state chart of Account.
Please assist me.

Thank you.

[2017-08-08 04:21] odoouser2 commented on #18373
Hello,

Greetings,

I switched the company, went to accounting settings. I am able to get other chart of account that I install but is unable to get the United state chart of Account.

Please assist me.

Thank you.

Possibilities : Unlimited;

Shivendra Thakur
Kathmandu, Nepal
M: 9844297010

From: Martin Trigaux [mailto:notifications@github.com]
Sent: Monday, August 7, 2017 5:28 PM
To: odoo/odoo
C

[2017-08-08 07:48] Yenthe666 commented on #17719
Hi @ksiadz,

Thank you for your report. This is indeed a bug:
![image](https://user-images.githubusercontent.com/6352350/29061547-99fdd870-7c1e-11e7-897f-1b304da9a4c7.png)
@nim-odoo I believe you recently made some other patches for corner cases too. Could you look at this one too perhaps?
P.S: Using a few soft enters or ctrl+shifts after having entered text does weird things too.

Regards,
Yenthe

[2017-08-08 08:04] Yenthe666 commented on #17520
Hi @ccandito,

Thank you for your report.
To which module & menuitem are you referring? Could you add more information please?

[2017-08-08 08:06] Yenthe666 commented on #17407
Hi @emanuelezambrano,

Thank you for your report.
In my opinion this is desired behaviour. Why? Imagine having a database named "Live" and "live". With your database filter changes the first one wouldn't show up while you might need it. I do believe that it is not a best practice to create database that are so similar with just a capital letter as a difference but it is possible.
@mart-e to change

[2017-08-08 08:29] septiadevica commented on #16722
hello, may I know the solution for this issue ? cause I got the same issue
thankyou

[2017-08-08 08:47] nim-odoo commented on #17719
@nle-odoo

[2017-08-08 09:04] mart-e commented on #6216
Hello,

Sorry but I will reject this. The "Difference Amount" field represent actually the exceeding amount, the label is a bit unclear, I admit. In this case, you have not fully paid the invoice yet, so there is no difference to report to an account.
The 8.0 is now in end of life cycle and will soon be unsupported. We are only patching critical or security issues. The risk of regressions or intro

[2017-08-08 09:04] #6216 closed

[2017-08-08 09:10] sachinbanugariya opened #18726 "stop auto kanban emails"
hello,

using odoo version 8.
we need to stop auto  generated emails from kanban when drag-drop applications from recruitment process job application.

can you please explain from where i can stop to send auto emails(like Application Approved, Application refused) to applicant from kanban.
need to send mails to applicant if we click on send messages and applicant mail.

not want to send any auto g

[2017-08-08 09:19] zitycard commented on #18600
@Yenthe666 any idea of what can cause that error?

[2017-08-08 09:20] Marnoel commented on #17747
I'm facing the same issue, in my case i have duplicated move with huge quants, did you managed to find a solution?
![image](https://user-images.githubusercontent.com/14309209/29065120-013e4bc4-7c23-11e7-92a7-e21f2193726f.png)

[2017-08-08 09:49] Yenthe666 commented on #18600
Hmm, no, not directly anymore. @mart-e do you have another idea?

[2017-08-08 10:06] mart-e commented on #18600
I do not know for the 0.12.4 but please check your version of wkhtmtopdf, see our warning about it [in the documentation](https://www.odoo.com/documentation/10.0/setup/install.html#enterprise).
If you are on Debian, we have published a binary.

Sorry but without errors, it is hard to help more, it is a guess game.

[2017-08-08 10:09] mart-e commented on #18373
Oh I see. No you can use the configurable chart of accounts. There is no specific chart for the US, it is the default one.

[2017-08-08 10:09] tv-openbig commented on #18571
I have created a sheet with a quick compliance Check of german "GoBD" accounting rules :
https://docs.google.com/a/big-consulting.net/spreadsheets/d/1IB00J882mZCpWASsTLyAs-M1u5AXxlQCSQYaHprlGQg/edit?usp=sharing

Most improvements described by @lap-odoo seems to go in the right direction
(especially proper reports).

As a result of my personal compliance check above i also see a gap to
fulfill the

[2017-08-08 10:09] invitu commented on #18181
@gustavovalverde could you please check this ? https://github.com/odoo/odoo/pull/17865

[2017-08-08 10:13] Yenthe666 commented on #18726
Hi @sachinbanugariya,

Thank you for your report.
The Github tracker is however for bugs in the default code. It is not the place to ask questions about custom development or how to do things functionally (as you're asking).
Please post this question on the official help forums (help.odoo.com).

Regards,
Yenthe

[2017-08-08 10:13] #18726 closed

[2017-08-08 10:22] mart-e commented on #5721
@Gyuri77 thank you for the report, now I see your point. Indeed it was broken for relation fields.
We have fixed that in master at f5df7c60029d9496f82a67be13e6df43f1ff7c9f and 81352d47c5fd4f5b5c59a4614082510f2c05ca42.
I will backport it.
you are running a 9.0 right?

[2017-08-08 11:11] zitycard commented on #18600
Okey, I delete and reinstall the 0.12.1 version of wkhtmltopdf.
What I get from -u all is:

[code]
And what I get on the log file when I generate the external preview is

[code]

[2017-08-08 11:55] lap-odoo commented on #18512
Hi All,

We have tried to regroup the information we received and what we already have in Odoo to build a more complete CoA. We end up with the result attached. What do you think of it ? Is it complete enough ? If yes, we would need help for the translations, account type, ... µ

Thanks
[import_odoo_accounting_chinese.zip](https://github.com/odoo/odoo/files/1207918/import_odoo_accounting_chinese.z

[2017-08-08 11:56] Yenthe666 commented on #10149
@tde-banana-odoo any update?

[2017-08-08 11:57] Yenthe666 commented on #15567
I guess we can close this because of the commits + the feedback.

[2017-08-08 11:57] #15567 closed

[2017-08-08 11:59] mart-e commented on #15567
Yes, it would have been closed automatically when we release the version 11 😉

[2017-08-08 12:00] Yenthe666 commented on #15567
I'm always to impatient hmm? 😉

[2017-08-08 12:59] qdp-odoo commented on #18571
I quite don't get the question, sir

[2017-08-08 13:25] OSevangelist commented on #18571
@initos we have made a couple of modules for an old Odoo v7 customer that does read only (for L1 and L2 access) as well as an export that exports everything in IDEA XML syntax. We did not update that to V8+ so far but we created it in a way that it is easily portable. I am thinking of putting this into the OCA but I suggest to have a narrow l10n standard Odoo module and than something that is more

[2017-08-08 14:51] lap-odoo commented on #18558
@inspiredbusiness : Would you have a file with all these taxes ?

[2017-08-08 15:06] tv-openbig commented on #18571
@qdp-odoo
My question is about the DATEV export you plan to integrate in l10n_de
1. ) Which DATEV format do you plan to support ?
As some different formats exist:
DATEV-format (.ascii)
DATEV XML

2.) How is the coverage of the datev export ?
- Invoices (Customer, Supplier, Refunds) ?
- Cash Accounting (Account moves in cash journal) ?
- Attachments to Invoices ?

3.) How is it possible to test dev

[2017-08-08 15:08] lap-odoo commented on #18637
@gustavovalverde : Regarding your remarks about the PoS, I let my colleague @fgi-odoo have a look at your remarks.

For point n°4, I agree, it's a good suggestion, we will probably start to work on that after the Odoo Days (we will be quite busy until then).

For point n°5, as it's more technical, I let @qdp-odoo have a look at this.

I'll check the other points in details and answer on the issues

[2017-08-08 17:19] mncoon commented on #18571
@tv-openbig I had the chance to check and think can answer your questions:
1. the format is ASCII (not DATEV Standard, must be configured)
2. the export covers all moves in an easy export. For more details please have a look on my above comment:

3. at the moment there is no possibility for a check. I think @lap-odoo will inform us if there is a new test

[2017-08-08 18:09] Vartkat commented on #17912
Same situation here. When emailed expense don't get account nor tax from the expandable product. I thought these products were meant to act as template for emailed expenses.

Thanks for your help
Regards

V.

[2017-08-08 22:51] JulioSerna opened #18742 "[SAAS-17] saving template of fields to export"
Impacted versions:
master, saas-17

Steps to reproduce:
try to save template of fields to export in any model

Current behavior:
It is not allowed

Expected behavior:
Allow save template

Video/Screenshot link (optional):
https://youtu.be/Ew7m8SB1DmE

[2017-08-09 02:54] 601939654 opened #18746 "Front-end question"
Impacted versions:10

Steps to reproduce:

Current behavior:

Expected behavior:hello，i am a Front-end engineer，i just want to know Can officials provide front-end technology development documentation?

Video/Screenshot link (optional):

[2017-08-09 04:53] gazerooni opened #18747 "Invoice content covered by header"
Impacted versions: Cloud version

Steps to reproduce:  Using the BOLD template with custom colours, font size 9

Current behavior:  When line items exceed a single page,  the content on page 2 is hidden by the header - as the BOLD template contains a solid colour in the header, the invoice content is not visible in the PDF

Expected behavior:  The header should not overlay the content of the invoi

[2017-08-09 05:08] blaggacao commented on #18637
@gustavovalverde Good wrap up, thanks.

**Anglos Saxon Accounting is a myth**
A side mark: If you search "anglo saxon accounting" on google, the first thing that pops up is Odoo, the second (or so) one is this article: http://www.sciencedirect.com/science/article/pii/S0020706300000789 (Which unmtyhs supposed "anglo saxon accounting")

**IFRS support is abysmal**
There is no IFRS - Multi Standard a

[2017-08-09 06:19] Yenthe666 commented on #18742
Hi @JulioSerna,

Thank you for your bug report.
I've just tested this and I can confirm this is a bug in SaaS-17:
![image](https://user-images.githubusercontent.com/6352350/29107659-73b73f72-7cdb-11e7-9c55-fc878060e91e.png)

@mart-e can you let somebody look at it?

Regards,
Yenthe

[2017-08-09 06:26] Yenthe666 commented on #18746
Hi @601939654,

You can find all the Odoo documentation at https://www.odoo.com/page/docs
If you have additional questions you can always ask them on the official help forums (help.odoo.com).

Regards,
Yenthe

[2017-08-09 06:26] #18746 closed

[2017-08-09 06:28] Yenthe666 commented on #17912
@nim-odoo could you perhaps have a look at this (or ping somebody else)?

[2017-08-09 06:50] 601939654 commented on #18746
just have  no ront-end technology development documentation...

[2017-08-09 06:54] Yenthe666 commented on #18746
Yes there is. For example:
https://www.odoo.com/documentation/10.0/howtos/themes.html
https://www.odoo.com/documentation/10.0/howtos/website.html

Regards,
Yenthe

[2017-08-09 07:46] 601939654 commented on #18746
Hello, the two page links you gave me, I have seen it, and it has no effect on the odoo front end.
At present, I want to modify the event of the save button in odoo, but I can't find a method in the source of event source, can you help me?
Trigger (' form_view_saved ', self);
Where can I find the "form_view_saved" method?

[2017-08-09 08:06] #18600 closed

[2017-08-09 08:12] mart-e commented on #18742
Why do you use saas-17? It has just been freezed and is still in stabilisation process, nobody runs on it at the moment (we have saas-15 at most on our SaaS). Please report issues on stable versions.

[Against which version should I submit a patch?](https://github.com/odoo/odoo/wiki/Contributing#against-which-version-should-i-submit-a-patch)

[2017-08-09 08:14] wtaferner commented on #18742
@mart-e
Will saas-17 be future 11.0?

[2017-08-09 08:14] mart-e commented on #18742
@wtaferner there will probably have saas-18 before that 😉

[2017-08-09 08:15] wtaferner commented on #18742
ok, great, so saas-18 is the branch to look at if I want to give it a little headstart :-) thx

[2017-08-09 08:17] nhomar commented on #18742
@mart-e remembe in vauxoo we are following your stabilization process due to l10n_mx_xx stuff, we are testing all early because once it is stable enough then it is too late to propose proper patches...

Then we have a chicken-egg problem here... What can we do with that?

[2017-08-09 08:18] Yenthe666 commented on #18742
@wtaferner or the master version? 😄
@nhomar that sounds like a lot of hassle..

[2017-08-09 08:20] nhomar commented on #18742
well... that's odoo's live if not we can not follow you! you know your "stable policy" better than me ;-)

We are using saas-15 on our prods but we started prepare all new stuff on saas-17 (and yes it is anoying but it is a dirty job that somebody must do) ;-)

[2017-08-09 08:21] mart-e commented on #18742
@wtaferner The saas branches are published to give a preview of the future release (and because there is no reason to hide them) but I do not advise to use them on production as they have a very short lifetime and we do not really communicate on which is supported or not.

@nhomar I am not sure what was the agreement you made for the l10n_mx modules, this should probably be checked with the accoun

[2017-08-09 08:25] nhomar commented on #18742
@mart-e do not worry about this, if you reported already, nice, confirm it and that's it! .

we are working on saas versions and I can not wait until our customers receive an explosion on the face on a saas environment because obvious reasons.

I do not have a patch now, if you are aware of this, nice, but PLEASE do not close it just because it is saas....

I am ok with the fact you know the issue

[2017-08-09 08:58] #16324 closed

[2017-08-09 11:17] guanhuan commented on #18510
Hi Laura,

since Odoo is improving its localisation for UK recently, I am wondering if Odoo deals with VAT late claims.

Please find the following links regarding how Xero deals with it:
https://help.xero.com/uk/Report_VATReturn$BK_LateClaims
https://help.xero.com/uk/VAT-LateClaims
https://help.xero.com/uk/Report_VATAudit

We can provide some detailed spec if needed.

Please let me know if you hav

[2017-08-09 11:51] fredsonphiri commented on #8170
You can backup from command line or using cron with:
wget --post-data 'master_master_pwd=actual_password&name=actual_data_base_name&backup_format=zip' -O back_up_filename.zip http://localhost:8069/web/database/backup

Credits to:http://www.garasiku.web.id/web/joomla/index.php/odoo-openerp/97-odoo-9-backup-using-wget

[2017-08-09 12:01] mart-e commented on #18742
Ok reopening until it is fixed, sorry about it :-)

[2017-08-09 12:26] seacom opened #18764 "email_from in template"
Impacted versions: 10

Steps to reproduce: Create an incoming mailserver, then select "Create new recors" inserto project.issue, and and as action select send email, in the email template in the to field put: ${object.email_from}

Current behavior: Some email address show escape char: for example instead of
Lorenzo Fascì <lorenzof@seacom.it>, it the email I see  Lorenzo Fascì &lt;lorenzof@seacom.i

[2017-08-09 12:57] smetl commented on #18572
The first part of the Dutch Localization is finally ready and available on runbot:
http://252840-master-l10n-nl-reports-2-las-a4d770.runbot11.odoo.com/web/login
logs: admin/admin

It contains:

**New tags:** New account tags are available to have a more detailed P&L. The COA has been updated accordingly.
**P&L:** A new Profit & Loss report is available under the Netherland section is Accounting ->

[2017-08-09 13:06] lap-odoo commented on #18571
For the read-only data access, I agree, that's a good suggestion. I've added this in our backlog.

@tv-openbig : I've rebuilt the branch master-l10n-de-new-skr-csn on odoo runbot (odoo-dev/enterprise). It's still in testing, once it will be done you should be able to test the Datev export (there is a button on the general ledger).

Once everything will be ready, you will all be informed that it ca

[2017-08-09 13:09] thomas-work opened #18766 "Many ir.attachment are unprotected available from the internet"
Impacted versions:
ODOO10

Steps to reproduce:
Add an attachment for a public readable model.

For example the module event has the model security rule.
access_event_event_portal | event.event.portal | model_event_event |   | 1 | 0 | 0 | 0

It means, that the event is readable without any restriction by any user. It's needed for event confirmation. If someone adds an attachment to the event with t

[2017-08-09 13:16] webtekindo opened #18767 "[10.0] Replenishment and Fulfillment workflow confusion"
I just want to take a simple use case of an eCommerce B2C company that doesn't involve any manufacturing.

**Replenishment** is totally clear in Odoo, we have to use "Buy" method, default "Make to Stock"  (no "Make to Order" route selected) and configure an Order Points. And it's working perfect!

**Fulfillment** is still unclear to me, for example in the simple use case of a Sale Order containing

[2017-08-09 14:51] ploegvde commented on #18572
Wil je anders een interne taak maken voor jezelf. Dank je.

------------------------------

[image: Odoo Experts] <https://www.odooexperts.nl/>

Met vriendelijke groet,

Erwin van der Ploeg
06 - 14 60 12 42

Odoo Experts
088 - 377 40 00
Vredeweg 1s
1505 HH Zaandam
https://www.odooexperts.nl

[image: Twitter] <https://twitter.com/odooexperts> [image: Facebook]
<https://www.facebook.com/Odooexperts>

[2017-08-09 18:09] krijn1981 commented on #18572
The dutch P&L looks more into what the dutch customer expect. (many thanks for this).

What are we still missing?
**Anglo-Saxon Accounting G/L "goods to invoice account"**
In the past we saw the every quant within a movment is making a financial transaction.
This can lead to multiple transactions.
Goods to invoice
a/ Stock
When the invoice is created the this will be counterentried as in.
COGS
a/

[2017-08-09 18:21] krijn1981 commented on #18572
almost forgat

** Goods versus way of invoicing **
Normally a customer dictates how the invoice shall be done.
Based on delivery (after invoicing)
or based on ordering (invoicing before delivery).
If a customer is customer that has a bad reputation of payment, from finance perspective I want to receive money before the goods are sended. In the currenctly the product provides us the method of invoi

[2017-08-09 22:29] MarwenCH opened #18771 "Problem translating fields.Char in website editor"
Impacted versions: 9.0

Steps to reproduce:

**Create a database by choosing Arabic as the default language.
**Install the website_blog module.(or any website module)
**Add the English language to the site and choose the Arabic language as the default language
**Create a new blog.

Current behavior:
**The blog title can not be translated by the translation feature in the site editor.
(cant transla

[2017-08-10 00:25] elicoidal commented on #18637
:+1: (for the 3 points from @blaggacao )
Aussie customers I have are indeed laughing at "Anglo-saxon accounting"... (as I suppose any UK or US accountant).
That is a major change ... in wording only for starter

[2017-08-10 00:28] elicoidal commented on #18637
I know that historically Odoo is born in Europe and was built accordingly but actually it would probably be advisable to talk reversely about "Continental Accounting": have all standard feature set the "Anglo-saxon" way and have a checkbox to allow Odoo to work for the continental approach.

[2017-08-10 11:11] shamilithiru commented on #13273
sir,
 i want to know the xpath method for adding a new field into  existing one2many field on (sale -> quotations) . please answer me...

[2017-08-10 11:45] nhomar opened #18790 "[saas-16] On debug mode buttons are not showing the popover properly"
Impacted versions:

Steps to reproduce:

Open Any wizard with debug mode enabled, put the mouse on the button nothing shown.

Current behavior:

Nothing shown.

![image](https://user-images.githubusercontent.com/338634/29168811-3935d97e-7d96-11e7-80b1-ac9aa451b548.png)

Expected behavior:

Works as oldest version works.

![image](https://user-images.githubusercontent.com/338634/29168909-bfe28b48-7

[2017-08-10 12:04] jeffery9 opened #18792 "[Translations] IntegrityError message not tranlsted"
Impacted versions:
 10.0CE

Steps to reproduce:

Current behavior:

[code]

this message is not translated.

Expected behavior:

should translated.

Video/Screenshot link (optional):

[2017-08-10 12:51] #18511 closed

[2017-08-10 13:13] Yenthe666 commented on #18790
Hi @nhomar,

Thanks for the response. This is indeed gone in SaaS-16.
@mart-e another one 😉

Regards,
Yenthe

[2017-08-10 14:46] lap-odoo commented on #18572
@krijn1981 : Hi Krijn, my answers are below

The dutch P&L looks more into what the dutch customer expect. (many thanks for this).

What are we still missing?
Anglo-Saxon Accounting G/L "goods to invoice account"
In the past we saw the every quant within a movment is making a financial transaction.
This can lead to multiple transactions.
Goods to invoice
a/ Stock
When the invoice is created the th

[2017-08-10 14:48] lap-odoo commented on #18572
@ploegvde : Do you know if your colleague Julia will have the time to test the branch ? Thanks a lot

[2017-08-10 14:55] yvaucher opened #18798 "[9.0] [10.0] CSV export with extra quote on negative values"
**Impacted versions:**

- 9.0
- 10.0
- 11.0
- 12.0

**Steps to reproduce:**

Login on runbot, go in Inventory stocks.
Edit a stock move to give it a negative value

Not the best example but you can do that on any object with a float or int value.

For Integer value this can be tested with seats_min on `event.event` object.

**Current behavior:**

An extra `'` is added before the negative sign. (yo

[2017-08-10 15:12] yvaucher commented on #18798
This is due to https://github.com/odoo/odoo/blob/10.0/addons/web/controllers/main.py#L1384

Unfortunately this makes exported values not importable.

For instance:

![2017-08-10-171046_567x348_scrot](https://user-images.githubusercontent.com/4158438/29177441-01da96e6-7def-11e7-8ab2-a8c3acce664c.png)

[2017-08-10 18:44] Fenkiou commented on #5721
@mart-e Could you backport the fix on 10.0 too ?

[2017-08-10 19:25] Fenkiou commented on #14127
@sle-odoo, is it still the case ? Because I tried to install wheezy version form wkhtmltopdf website and jessie version from yours, I always have a dependency problem like this:
[code]

[2017-08-11 01:01] gdgellatly commented on #14127
If you are a sucker for punishment then you can install those libs and
eventually get it to work.  Most people give up.

Otherwise I'd say most people (except Odoo themselves of course) use 12.4.
It works just fine, with a proviso that it handles smart-shrinking
properly, so you need to handle that if you want to exactly replicate the
12.1 behaviour.  There is a thread on the OCA contributors mail

[2017-08-11 02:25] tienhieuD commented on #14581
Go to PGAdmin and run this script.
[code]
Then F5 your browser.
![temp](https://user-images.githubusercontent.com/16768170/29199376-a671c288-7e76-11e7-9e92-b5343f34095c.png)

![temp](https://user-images.githubusercontent.com/16768170/29199413-04edacb4-7e77-11e7-8871-55ab028105a6.png)

[2017-08-11 05:08] Yenthe666 commented on #18798
@mart-e is there any reason why this was done? I don't see the logic in this.

[2017-08-11 05:38] vicky198609 opened #18805 "POS Mercury Module of version 10 is not functioning properly"
Impacted versions: version 10

Steps to reproduce: Install https://www.odoo.com/apps/modules/10.0/pos_mercury/ this module and try swapping  different card. It will neither give you fronted error nor it say anything in logs.

Current behavior:Install https://www.odoo.com/apps/modules/10.0/pos_mercury/ this module and try swapping  different card. It will neither give you fronted error nor it say a

[2017-08-11 06:32] Yenthe666 commented on #18696
@ged-odoo JS related issue.

[2017-08-11 06:57] jlzhou opened #18808 "[10.0]The channel member list of mention menu was not updated while new member was joined."
Impacted versions:
10.0
Steps to reproduce:
Login as Administrator, create a new private channel in Discuss module, then invite a new member to join the channel, at the chat composer textarea, type '@' char to activate mention list menu.
Current behavior:
No new joined member was appeared in the mention list menu, except manually reload the Discuss page.
Expected behavior:
The new joined member ap

[2017-08-11 07:52] Yenthe666 opened #18811 "[Wishlist] master: upgrade Bootstrap from 3.4 to 4.0"
Impacted versions: master

Currently Odoo is using bootstrap 3.x (https://github.com/odoo/odoo/tree/10.0/addons/web/static/lib/bootstrap) but today the beta for V4 came out. You can find all information here: http://blog.getbootstrap.com/2017/08/10/bootstrap-4-beta/
It would be great to ship Odoo 11 with bootstrap 4.

Regards,
Yenthe

[2017-08-11 09:17] ploegvde commented on #18572
Yes we have planned to test today.

[2017-08-11 09:20] ploegvde commented on #18572
Runbot version is broken ;(

http://252840-master-l10n-nl-reports-2-las-a4d770.runbot11.odoo.com/web/login

[2017-08-11 09:23] lap-odoo commented on #18572
Should work with: http://253706-master-l10n-nl-reports-2-las-a4d770.runbot11.odoo.com/web/login

Can you confirm ? Thanks

[2017-08-11 09:25] nim-odoo commented on #18682
I think this can be partially solved with #18813

As long as you add an attribute with only one value, the products should not be unlinked/archived. However, if you add an attribute with more than one value, that won't change anything: the products will be unlinked/archived.

[2017-08-11 09:26] ploegvde commented on #18572
Yes is working. Tnx

[2017-08-11 09:28] lukebranch commented on #18682
@nim-odoo ,

Thank you for the quick response. I'll test and provide feedback on this issue as soon as possible.

[2017-08-11 09:35] Yenthe666 commented on #18682
@nim-odoo thank you for the (partial) fix.
However, the line of code `variant.unlink()` is still being triggered so what if I add a new attribute **and** new attribute values? The unlink will still be triggered and I still lose my data (as they are reappended).

[2017-08-11 09:52] nim-odoo commented on #18682
@Yenthe666 : My fix only filters out attributes which are not supposed to create variants, which makes sense since we are in the variant creation part. Other than that, yeah, that is still the same logic. The only advice I can give is to NOT modify attributes as soon as the product has been used.

[2017-08-11 10:08] gdgellatly commented on #18682
@nim-odoo I was thinking a similar thing in terms of ultimate resolution.  A bit like product uom's that can't be changed.  In essence (pseudo logic)

as soon as a product has been used -
attribute line becomes edit only, no new attributes can be added.
attribute_id on attribute_line also becomes readonly.

That way attribute values can still be freely added and removed, and this works well (curre

[2017-08-11 10:40] xmo-odoo commented on #18798
@Yenthe666 comment in the first line of the snippet

[2017-08-11 10:49] shyjuk commented on #15969
Had the same issue on CentOS 7. Following solution worked.

1. Downloaded the new [wkhtmltopdf](https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz).
2. Extracted . (tar xf wkhtmltox-0.12.4_linux-generic-amd64.tar.xz)
3. Backup old one. ( mv /bin/wkhtmltopdf /bin/wkhtmltopdf_old) Or /usr/bin/
4.  Copy the new file. (cp wkhtmltox/bin/wkhtm

[2017-08-11 10:56] Yenthe666 commented on #18682
@nim-odoo it is a great advice but what if your product gets a new type of attributes or a new range? You can't product which attributes will follow or what will change on some products so there is no way for you to know that before the moment is there. As stated in the other topic, I still find this a bug / real world problem.

[2017-08-11 11:00] srokatonie commented on #18579
There's a chance your system doesn't have Wkhtmltopdf.
Can you try pay by Stripe and post browser's console output if any errors?

[2017-08-11 11:01] Yenthe666 commented on #18798
Oh, totally missed that, thanks.

[2017-08-11 11:20] kebeclibre commented on #14761
Although the bug is confirmed, repairing it in versions < saas-16 would be too sensitive to the rest of the code.

Above Saas-16, the client does send commands 6 and 1, hence the issue doesn't exists in versions above.

I'm therefore closing this issue

[2017-08-11 11:20] #14761 closed

[2017-08-11 11:22] xmo-odoo commented on #18798
Note that the intent was clearly to only do that for strings (though I don't know that it's handled on the import side either) *but* the historical `_export_rows` thing converts *everything* to strings by default.

The Excel exports opts into "raw" export in order to generate proper values (e.g. numbers, dates, …) instead of typing everything as strings, the CSV export does not and thus prefixes p

[2017-08-11 12:14] jvOrsouw commented on #18572
The totals in the P&L report are not correct: EBITDA:  balance = NL_PCOST.balance - NL_PROFIT.balance
and NET result = NL_EBITDA.balance + NL_OTC.balance.
I've added 2 lines in the report to show the subtotal EBITDA and to make the correct Net result. I also deleted these terms from the 'cost' and 'other cost' lines, because a summary of the cost is not the same as the (sub)total of the result.

I

[2017-08-11 12:38] lap-odoo commented on #18572
@jvOrsouw : Thank you !

@smetl : Can you please update the code ? Thanks ;-)

[2017-08-11 12:50] nim-odoo commented on #18682
@gdgellatly I think our main issue is to silently unlink or archive products. I would say that the unlinking might still be acceptable, since it probably means that the products hasn't been used. `product_id` is a field required on many object, so unlinking it will raise an error. However, that is not 100 % true, and issues may arise.
But falling back on archiving means that products will suddenly

[2017-08-11 12:50] jvOrsouw commented on #18572
Why is there still a check on country of a customer in the ICP report? Can we see the code for this report?
The report seems to be doing what it is supposed to do, so no comments on that.
But we would like all the numbers to be shown as rounded to whole euro's, because that is also the way the dutch tax authorities want the numbers.

Does anyone know if the 'aangifte omzetbelasting' also has to be

[2017-08-11 13:26] jvOrsouw commented on #18572
1. On the XAF general ledger report: if the company info is not filled in completely, it generates an error a regular user cannot understand:
<string>:16:0:ERROR:SCHEMASV:SCHEMAV_ELEMENT_CONTENT: Element '{http://www.auditfiles.nl/XAF/3.2}taxRegIdent': This element is not expected. Expected is ( {http://www.auditfiles.nl/XAF/3.2}taxRegistrationCountry ).
It would be very helpful if the error says

[2017-08-11 13:31] #5721 closed

[2017-08-11 13:32] mart-e commented on #5721
Yes, I backported to 10.0 at d7c248e3c05 (backporting to 9.0 is not possible as still using both API version)

[2017-08-11 14:37] edsersolis opened #18817 "[10.0] MRP not filtering by Internal Reference nor Barcode"
Impacted versions:
10.0, maybe others.

Steps to reproduce:
- Go to Manufacturing -> Master Data -> Bill of Materials.
- Create a new BoM.
- Look for product by its internal reference or barcode.

Current behavior:
- Product not found by internal reference.
- Only those shown are the ones that contain the searched characters within its name.

Expected behavior:
- Be able to filter products by its

[2017-08-11 14:56] gdgellatly commented on #18682
@nim-odoo all this time i've been misunderstanding how that function worked with new attributes.  This is a bit long, but a real use case that may give you some ideas.  You are correct.  However I still think silently inactive makes no more or less sense than unlinking, at least in the case of adding or removing attribute values.  Afterall, if its no longer available in Red its no longer available

[2017-08-11 18:04] omalbastin commented on #18564
Is there any developments going on for ireland localisation l10n_ie

[2017-08-11 18:28] bistaray commented on #14955
`is_company = fields.Boolean(default=True) `  will cause ALL new res.partner records to be Companies, even CONTACTS and ADDRESSES you add on the tab on the Form View.

NOT what you want I think (since I just ran into this myself)

My requirement:  Default the creation of all new partners to COMPANY, except those added from the res.partner form view on the Contacts and Addresses tab - which should

[2017-08-11 18:42] Yenthe666 commented on #14955
@bistaray passing it along in the context?

[2017-08-11 18:48] bistaray commented on #14955
Tried this and it isn't working:

[code]

[2017-08-11 19:14] bistaray commented on #14955
Hmm.  I can see that context is setting the value correctly and BEFORE write the record has the correct values.  Not sure how is_company is getting changed back to COMPANY.  I can't see to create CONTACTS as 'person' records using the TAB on the FORM VIEW.

[2017-08-11 19:23] bistaray commented on #14955
Figured it out - the is_company field isn't on the popup form view, so setting context won't make any difference.  Once I added it (hidden), setting context as above worked.

[2017-08-11 19:26] bistaray commented on #14955
IMHO it isn't user friendly to allow a user to do something that doesn't work (set a default value for a field that can't have a default value) - the solution expects the user to know somehow that this field in the list given to them is not stored in the database - can't that list be filtered with store = False so that these kinds of fields are never shown to the user?

[2017-08-11 22:50] gdgellatly commented on #14955
can't you just set company_type to 'company' as default in UI.  Thats the
field that determines the function.

On Sat, Aug 12, 2017 at 7:26 AM, Ray Carnes <notifications@github.com>
wrote:

[2017-08-11 23:43] bistaray commented on #14955
No. This issue was created after someone tried that exact thing.

First post in this thread:

Steps to reproduce:

* Login to Odoo as admin and activate developer mode
* navigate to contacts and open form "create new contact"
* select "is company" radio-button
from the developer dropdown select "set defaults"
* choose 'company_type' = 'Company' and save
* when creating a new contact you see that c

[2017-08-12 08:50] lukebranch commented on #18579
I think workers > 0 is the key here, especially if you have them enabled for live chat. Are you using live chat at the moment?

If you give yourself an extra core on that server (ie. two cpu cores) and add this to /etc/odoo-server.conf:
workers = 1
max_cron_threads = 1

and restart your odoo service I think your issue will be resolved. Alternatively if you don't need live chat and discuss features

[2017-08-12 11:16] mohitg1213 commented on #3156
Hi,
If someone still facing this issue, please go through this blog:
https://webkul.com/blog/serve-odoo-posbox-over-https

I have also create ODOO POSBOX Image having nginx installed in it, which can be easily connects with ODOO served over https.
Download Link : https://drive.google.com/file/d/0B1dx-UuV9AOYbWZSNG1GVjBPOTQ

I hope it will help someone.

[2017-08-12 13:09] wanwhai opened #18822 "odoov10 on Centos7 500: Internal Server Error"
Impacted versions:unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

Steps to reproduce:Traceback

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/addons/website/models/ir_http.py", line 273, in _handle_exception
    response = super(Http, cls)._handle_exception(excep

[2017-08-12 15:55] deivislaya opened #18825 "[11.0] Supplier Currency when creating invoice in purchase order"
**Impacted versions:** 11.0

**Steps to reproduce:**

To reproduce it is necessary to select a supplier with a different currency than the main currency

- Create a sales order with a product that triggers a purchase order

![so094 odoo](https://user-images.githubusercontent.com/5775695/29241855-4dba0fee-7f50-11e7-8979-101e7a268f07.png)

- Look for the related purchase order and receive the produc

[2017-08-12 18:51] fmdl commented on #18497
Fix here : https://github.com/odoo/enterprise/commit/6eb56ef10441c7662478dd8a0bb6ac5c98bb0ef0

[2017-08-12 18:51] #18497 closed

[2017-08-12 18:51] #18498 closed

[2017-08-12 19:54] fmdl opened #18826 "[BUG][OE] account_report : only one account 999999 in general ledger with multicompany"
Impacted versions:
10 Enterprise (and maybe other)

Steps to reproduce:
- Create two company with two chart of account
- Generate the generale ledger in 01-01-2018 to 31-12-2018

Current behavior:
During the report the account 99999 (unaffected_earnings_account) is select without context of the company.
If your selecte two company, You must see two account 99999 (one for each company).
![image](ht

[2017-08-12 19:56] fmdl commented on #18637
Issues of account 999999 with multicompany : https://github.com/odoo/odoo/issues/18826

[2017-08-13 03:05] blaggacao commented on #18637
Best thing, "continental" approach (I'm continental European), neither is an relevant identifiable subset of accounting practices after IFRS. Everything else is just none sense... :smile_cat:

[2017-08-13 04:32] Danisan commented on #15095
I'm having this problem while installing website_partner module. If I cancel itss installation I get rid of the error.

[2017-08-13 05:02] Danisan commented on #15095
The workaround I could do, was to comment the records in following file:

website_partner/data/website_partner_demo.xml

commenting from  all the records, I could install.

[2017-08-13 12:44] wanwhai commented on #14753
@antonellaandreoni Thank you very much!

[2017-08-13 13:34] cpipero commented on #17002
I did install Stretch too (I should have read carefully before) and now I'm stuck too...

[2017-08-13 15:21] sylwek845 commented on #17912
I fixed the issue (I hope) you can get it from my github profile. I never submitted the fix to official odoo project yet. You need to update the module hr_expense (or just hr_expense.py) and it should work.

[https://github.com/sylwek845/hr_expense](url)

Let mi know (on my project if possible) if you have any issues. Hope it's gonna work for yous.

[2017-08-13 17:52] messakali commented on #487
Thanks niecw facing same issue on V8.0, @Yenthe666 still existing on V8.0 on runbot:
1- add fr_FR language
2- Change format date like this "%a %dd/%MM/%yyyy"
3- Choose Fr_FR as language for admin user
4- Refresh the page and try to create any document with date (sale order, invoice, ...)

[2017-08-13 19:41] triplustri opened #18828 "Error in query outside http request"
When I try select records from (for example) res.user like this:

    with api.Environment.manage():
        registry = RegistryManager.get(db_name)
        with registry.cursor() as cursor:
            environment = api.Environment(cursor, None, {})
            environment['res.user'].search([])

I get an exception

    Traceback (most recent call last):
      ...
      File "/opt/odoo10/odoo/mod

[2017-08-14 01:05] dansanti opened #18829 "[9.0] Can't set False as default on Many2one"
Impacted versions:
9.0
Steps to reproduce:
1.-  Create a new  module
2.- create a new field type m2o
3.- set default=function_get_default,
4.- def function_get_defult(self):
           if some_condition:
              return register.id
           elif return_false:
                return False

Current behavior:
1.- on case some_condition for exists record work fine, and return id
2.- on case we

[2017-08-14 01:08] gdgellatly commented on #18829
return self.env['register']

On Mon, Aug 14, 2017 at 1:05 PM, Daniel Santibáñez Polanco <
notifications@github.com> wrote:

[2017-08-14 02:55] dansanti commented on #18829
@gdgellatly works!, thanks

[2017-08-14 03:07] ovnicraft commented on #14955
Write a method to est default value in company_type, in this method evaluate parent_id field, if this field is empty is not a contact.

[2017-08-14 03:37] herohat commented on #15031
Hi,

I have the same problem in "Sales Order - Send by Email" template.   But my problem can't be fixed removing the translation or sending the email in english.   I tested removing everything from the template and doesn't work.

I am On branch 10.0.    Any advice?

Thank you

[2017-08-14 03:50] gdgellatly commented on #14955
Oh yeah, I noticed that the other day when trying to default the contact
type as well after adding a new type to the selection.  So much intertwined
functions and onchanges in that part of code.

On Sat, Aug 12, 2017 at 11:44 AM, Ray Carnes <notifications@github.com>
wrote:

[2017-08-14 05:11] CakJuice opened #18833 "http.route url just work on browser"
Impacted versions: 10c

Steps to reproduce: I created controller.py then add route like
[code]

Current behavior: When i called from browser it works properly, but when i call from other python code like:
[code]

it gives me error 404

Expected behavior: call from python requests should works properly

Video/Screenshot link (optional):
![screenshot from 2017-08-14 12-05-06](https://user-images.git

[2017-08-14 05:48] CakJuice commented on #18833
it's not work properly because i have multiple database on my server. Then i delete other database, it works done.

[2017-08-14 05:48] #18833 closed

[2017-08-14 06:32] #18829 closed

[2017-08-14 07:14] seyyah commented on #8849
# Ubuntu 16.04 LTS

You need to have the development files (headers) in order to compile the Python module. So,

[code]

It's work.

References: https://stackoverflow.com/questions/4768446/i-cant-install-python-ldap

[2017-08-14 07:42] xmo-odoo commented on #18833
Yeah if you have multiple databases you'll need to either run in mono-db mode (`--db-filter=<a database>`) or add sessions support and first select one of the dbs so that it's associated with your client.

[2017-08-14 07:49] CakJuice commented on #18833
@xmo-odoo thanks for your explanation

[2017-08-14 09:12] #18682 closed

[2017-08-14 11:49] yung-wang commented on #18572
When you use an accounting date with for ex. vendor invoices, the Generic TAX eports shows the VAT in the wrong period /date.

You receive an invoice in the month aug, but you want the cost to be in the month jul. So the invoice date = 14-aug and the accounting date  = 14-jul.
When you look at the Tax report it shows the vat in jul.
According the dutch law, the VAT should always look at the invoic

[2017-08-14 11:55] goliveirab opened #18841 "[saas-14] enterprise: "Error to render compiling AST" when document is generated in test execution with QR image using keep_query()"
Execute a test where:
- Generate a document which has a QR image using keep_query like:
[code]

When the document is generated, the following message is throw and the test fail:
![image](https://user-images.githubusercontent.com/5191766/29270800-6c07c0a0-80c6-11e7-999a-794db4c920cb.png)

Referencing the QR image.

So:
1) When the previous code is present, the test does not pass, but the document i

[2017-08-14 12:18] #17407 closed

[2017-08-14 12:34] mart-e commented on #17407
Thanks, this is not a usual case so we don't want to add it in the command. Regex _are_ case sensitive, it makes sense to add the option if needed.
I have added your example in the documentation.

[2017-08-14 14:23] WohthaN opened #18845 "[10.0][l10n_it] Failing reconciliation test"
Impacted versions:
10.0 @ 08886028 (and at least 4 weeks back in time...)

Steps to reproduce:
[code]
where test is a not-yet-created database.

Current behavior:
Test fails with:
[code]

Expected behavior:
Test passes.

[2017-08-14 16:07] ozel1978 opened #18847 "install addon for hotel module"
Impacted versions:
odoo 9
Steps to reproduce:
download addon hotel zip file
place to path /usr/lib/python2.7/dist-packages/openerp/addons
update at odoo portal
Current behavior:
but hotel module still not appear.
Expected behavior:
suppose to appear with other module addon

i am not sure if path odoo addon in different location but i check many path it still refer to path mention above.
Hope anyon

[2017-08-14 17:15] jorenvo commented on #18805
@vicky198609 what card reader are you using and how have you connected it?

[2017-08-14 18:29] goliveirab commented on #18841
FYI @luistorresm @moylop260

[2017-08-15 07:52] krijn1981 commented on #18572
@ yung-wang,

I think i would a great benefit against other programs (they can you do this auto posting).
The fact there a 2 types of systems in the Netherlands, know as:

1. Kas stelsel
2. Factuurstelsel

Where you speaking about is Factuurstelsel. So we also should somewhere a boolean which system is used.
Note we also need to make a transit account to transfer the VAT to a the other period.

No

[2017-08-15 07:55] krijn1981 commented on #18637
Hi Guys,

Previous I was into the Dutch locatization.
My was adviced to post some items into this thread. So hereby..

@krijn1981 : Hi Krijn, my answers are below
I comes from https://github.com/odoo/odoo/issues/18572
The dutch P&L looks more into what the dutch customer expect. (many thanks for this).

Thanks ! Did you check it in details ? No error according to you ?
What are we still missing?
A

[2017-08-15 12:14] yung-wang commented on #18572
@krijn1981
Thanks for the feedback. I agree with you that to make this functionality complete we need to have kasstelsel too. But I think there is already an option in de accounting settings (Allow Tax Cash Basis).

Its a good workaround to book the VAT to an another period, but most of the accountants are not happy to make manual entries. So I think it is best that the report look at the right in

[2017-08-15 13:26] daloro opened #18857 "Odoo 10: "InternalError: no such savepoint" error when importing data model field"
Impacted versions:
10
Steps to reproduce:
Import a data model field
Current behavior:
"Odoo Internal error message"

The following entries in the odoo-server.log

2017-08-15 00:15:05,369 8962 INFO eydsys_mysol werkzeug: 187.140.253.132 - - [15/Aug/2017 00:15:05] "POST /web/dataset/call_kw/base_import.import/do HTTP/1.1" 200 - 2017-08-15 00:15:49,050 8962 INFO eydsys_mysol werkzeug: 187.140.253.132

[2017-08-15 13:51] aspcsharp9 opened #18859 "Define Holidays"
Impacted versions: 9

Steps to reproduce: Is it possible and where define Holidays in odoo 9?

Current behavior:

Expected behavior: I want add non working days (christmas, easter, 1 januar)....

Video/Screenshot link (optional):

[2017-08-15 14:42] nafex commented on #17445
Hi @nle-odoo

I'm back. Could you please rebuild the branch on runbot for me to test? Thank you.

[2017-08-15 18:01] jvOrsouw commented on #18572
@lap-odoo : can you give us a new branch to test on? The last one is also broken.
Factuurstelsel is the most commonly used in the Netherlands, and if odoo wants to be taken seriously as having a decent accounting module, taxes, accounts payable and receivable should always be posted automatically in the invoicing date. Only the expenses or revenue is posted in the accounting period. This all in ca

[2017-08-15 18:47] #18859 closed

[2017-08-15 22:54] tebanep commented on #15458
We are having similar problems with the reporting system in Odoo as well. @odony do you know if running multiple processes with gunicorn and its gevent type worker processes, behind nginx, cause any problems in Odoo? This is a solution we are exploring just as @aek did, so the python processes don't block while large PDF reports are being rendered by wkhtmltopdf.

[2017-08-16 06:48] nle-odoo commented on #17445
Hi,

I have updated the branch so it will be available [here](http://runbot.odoo.com/runbot/repo/git-github-com-odoo-dev-odoo-2?search=9.0-web-editor-opw-751360-nle).

[2017-08-16 06:59] lap-odoo commented on #18572
@jvOrsouw I've just launched the rebuild of the branch. It should be ready in +/- 30 minutes.

@smetl will take care of correcting the issues you reported.

Regarding the difference between factuurstelsel and Kas stelsel, I'll have a look at this but if we do changes, it'll be done in a second phase. We first would like to merge the changes that have already been implemented.

[2017-08-16 07:10] lvx5013 commented on #18512
Translated Version, working on account types now.

[import_odoo_accounting_chinese_translated_v_0_9.zip](https://github.com/odoo/odoo/files/1227304/import_odoo_accounting_chinese_translated_v_0_9.zip)

[2017-08-16 07:56] nafex commented on #17445
Thank you. The edition works fine now, but when you paste some content with CTRL + V you cannot save the field. Clicking on save will color the field red and show a hint saying "None"

[2017-08-16 08:40] yung-wang commented on #18572
@lap-odoo Just like @jvOrsouw I agree we should make sure that Factuurstelsel works perfectly in the Dutch localization and if you want Odoo to be taken seriously in the Netherlands. It is really a showstopper, because it is common practise to have the expenses / reveneu in a different accounting period. I think this is really a let down to wait for a second phase. I hope you can still fix this. T

[2017-08-16 09:56] aab-odoo commented on #18525
Hello,

This is not a bug, the feature has been dropped in 9.0 because it didn't work correctly (the values weren't updated correctly).

Regards.

[2017-08-16 09:56] #18525 closed

[2017-08-16 12:06] lap-odoo commented on #18572
@jvOrsouw : Regarding the ICP, it only takes intra-communautaire operations, that's why there is a check on the country. What is the issue ?

Also, for the XAF export, we are well able to see the transactions that have been made. Maybe it was due to a wrongly defined filter on the general ledger ? Thanks

We are working on the other issues and will let you know when there are solved.

[2017-08-16 14:00] raj15feb commented on #6270
Hi, I have created a compute field in sale order form and updating the values in order line. But when I changed the product or qty or price value is not calculated correctly after refresh more than two times value corrected. Please help.
Thanks

[2017-08-16 14:33] oerp-odoo opened #18875 "[10.0] analytic tags access group for sale.order.line?"
Impacted versions:
10.0
Steps to reproduce:
If no analytic group is set for user, I can still see analytic tags field from sale order line form.
Current behavior: (form ID: `sale.view_order_form`).
[code]

Expected behavior:
[code]

Other references to this field in sale.order.line uses that access group. So it does not make sense that in form, that group is not used for that field.

[2017-08-16 14:49] oerp-odoo opened #18876 "[10.0] sale.order method action_cancel multi is broken"
Impacted versions:
10.0
Steps to reproduce:
Call `action_cancel` method on multiple sale.order records.
Current behavior (extended in `sale_stock` module):

[code]
As you can see this extension, breaks `multi` call, because if `self` has more than one record, it will crash.

Expected behavior:
It should be something like this.

[code]

[2017-08-16 14:51] nle-odoo commented on #17445
I should check it further, but as of 10.0 in fact I have neither issue with CTRL + A then CTRL + V with or without the fix.

I think at one point, the "CTRL + V" functionality was rewritten (I guess between 9.0 and 10.0) and so I guess either the new way it is done doesn't have this issue, or I was not able to reproduce it.

[2017-08-16 15:45] janbec commented on #16781
@gitdrcsystems Thanks a lot for describing a way to reproduce! We have issues with this for months and now I was able to reproduce on our v10 database. However, I hardly doubt that we run two browsers at the same time, so I suppose there might be another way to reproduce which I was not able to find.

I totally agree with your assessment of the POS. We are having cash differences >1000 Euro and we

[2017-08-16 16:31] hugho-ad opened #18878 "[10.0] product: Display variants name with a single or multiple possible attribute values"
Impacted versions:
10.0
Steps to reproduce:
In v9.0
![image](https://user-images.githubusercontent.com/10233975/29373928-5497db52-8275-11e7-8754-0ee108c96a7d.png)
![image](https://user-images.githubusercontent.com/10233975/29374015-8e9c89ec-8275-11e7-8512-734f3fd71bf4.png)

Current behavior:
v10.0
![image](https://user-images.githubusercontent.com/10233975/29374021-9978de7e-8275-11e7-827d-948d4a7e

[2017-08-16 16:57] dreispt opened #18879 "Access Security loophole: user can create Project Tags without "create" access for that Model"
Impacted versions:
10.0

Steps to reproduce:
Log in as "demo" user, edit a Task, type some text in the "Tags" field and select "Create ...".

Current behavior:
The new Tag is created.

Expected behavior:
Only the Project Manager has access to "Create Tags".
User Demo should no be able to create a new Tag.

This seems a generic issue with x2x fields.
Might be related to https://github.com/odoo/odoo

[2017-08-16 17:02] flotho opened #18880 "[10.0] missing foreign keys"
Impacted versions:
Latest git pulled on the community edition

Steps to reproduce:
create a fresh deb

Current behavior:
in the tables (ir_ui_view) no more foreign key is referenced for inherit_id

Expected behavior:
Foreign keys to be kept

[2017-08-16 17:37] gustavovalverde commented on #1677
@Yenthe666, I see this as a real issue that should be reopened.

[2017-08-16 17:55] fmdl commented on #18637
Expenses :

Taxs :
- It is not possible to use multi-tax when you add an expense.
In France, for the restaurant there are several tax (20% for alcool, 10% for food). At the end the percent of taxe is not an integer value.
- Some time we can collect the tax, some time not. It is difficul for the employee to know if it is collected or not. A system for the account (like a check box) to manage that d

[2017-08-16 18:28] Yenthe666 commented on #1677
Hmm all these options / issues are fixable by command though? So I don't see huge problems?

[2017-08-16 18:42] YnievesDotNet opened #18882 "[10.0] Overriding computed field value"
Impacted versions:
10.0

Steps to reproduce:
1 - adding in custom module the field
`display_name = fields.Char(compute='_compute_display_name', store=True, index=True)`

2 - redefining the function _compute_display_name in the custom module
[code]
3 - editting one funtion working and adding the line self.display_na......
[code]

Current behavior:
Doing any step along, dont work.
The step 1 and 2,

[2017-08-16 22:11] hugho-ad commented on #18363
Sure, it's `Spanish/Español` I think is the generic one, but I think the problem is that odoo itselft does not support  lang spanish Latin America( es_419)

My chrome lang configuration looks like the follow
![image](https://user-images.githubusercontent.com/10233975/29387362-63d4cee2-82a5-11e7-9f30-b827f218bc4c.png)

When trying to open the live chat, next error is shown and the chartter is not d

[2017-08-16 22:24] hugho-ad commented on #18363
Just for the record, this issue could be solved when we add the languege es_419
![image](https://user-images.githubusercontent.com/10233975/29387761-41256008-82a7-11e7-8d08-2a8353287f14.png)

[2017-08-16 23:15] esciara commented on #18579
@srokatonie : as you can see in the `Vagrantfile` I mentioned in my previous post, I have a `sudo apt-get install -y wkhtmltopdf`. However, looking at the console, I could find the following error message, which is related to Wkhtmltopdf:
[code]

On a side note, I also had the following warnings:
[code]
[code]
Here is a screenshot:
![image](https://user-images.githubusercontent.com/1336689/2938861

[2017-08-17 01:28] esciara commented on #18579
Ok... I googled on the error message "`Wkhtmltopdf failed (error code: -6). Message: The switch --header-spacing, is not support using unpatched qt, and will be ignored. [..]`" and I came accross this article: https://discuss.erpnext.com/t/wkhtmltopdf-error-erpnext-v7/14673 .

Indeed the version installed by default on Ubuntu 16.04 has an issue:
[code]
And when I look again at the installation gui

[2017-08-17 01:28] #18579 closed

[2017-08-17 02:12] herohat commented on #15031
Hi,

After of hours and hours debugging, I found the error for my issue.

In Settings => Email -> Templales => Sale Order Notification Email.   Then in tab "Advanced Settings"   I set the value for language field:  ${object.partner_id.lang},  that in order to get this template multi-language, just as the help tooltip for this field said, but this throw the error.

Tooltip Screenshot:  `https://one

[2017-08-17 03:58] NothingCtrl commented on #2944
Yup, field `invoiced_target` is fields.Interger() so maximum is: 2147483647
In my country (VN), this number not enought to set Team target.

Reference: #8437

[2017-08-17 04:23] gdgellatly commented on #18579
You are confounding 2 things. Wkhtmltopdf version and whether it has been
built using patched qt. Different versions have issues but whichever
version must always be built using patched qt. Your initial error was
because it wasn't built using patched qt not due to version specifically.

On Thu, 17 Aug 2017, 1:29 PM Em <notifications@github.com> wrote:

[2017-08-17 06:07] Yenthe666 commented on #18363
@mart-e could you look at this?

[2017-08-17 06:52] Yenthe666 commented on #2944
Hmm this one is still open. @mart-e couldn't we just change this by changing the field to float in master?

[2017-08-17 07:45] mart-e commented on #2944
@Yenthe666 actually the field `invoiced_forecast` no longer exists in 9.0. We can not change a field type as it would have impact on the database (but it is true, it should have been a float).
Closing as, not going to patch the 8.0 for this for stability reason.

[2017-08-17 07:45] #2944 closed

[2017-08-17 08:22] lap-odoo commented on #18510
@guanhuan : Thanks for the suggestion. It's not in our pipe for now but we may included this in the future versions. If I need additional information I'll come back to you.

But first, we would like to make sure that the basic requirements are correctly fulfilled : CoA, Taxes, Fiscal Positions, Legal Reports (P&L, tax, BS, Etc.). Do you think that what we currently have is complete ?

[2017-08-17 08:39] passboltUser commented on #18661
Thanks.

[2017-08-17 08:46] nafex commented on #17445
Yes on v10 CTRL + A -> CTRL + V is working fine now :-)
But CTRL + A -> BACKSPACE or DELETE removes the entire field. So you cannot edit it anymore...

https://drive.google.com/file/d/0B2CIGeDDt1gKM2NJNGpERDJlcnM/view

[2017-08-17 08:48] NothingCtrl commented on #2944
Hello,

I'm just test on runbot v9c, v10c, menu **Sales >> Dashboard**, when setup a team target lager than **2147483647** the error occurred.

For version 9:
[code]

For version 10:
[code]

[2017-08-17 08:57] rco-odoo commented on #18879
There is no security issue: the user Demo belongs to the group "Project Manager"...

[2017-08-17 08:57] #18879 closed

[2017-08-17 09:04] dreispt commented on #18879
Sorry @rco-odoo - I created a "test" user with Project User access, and indeed was unable to create a Tag.

[2017-08-17 09:53] lap-odoo commented on #18572
Regarding Factuurstelsel and Kasstelsel, from what I've read (here: https://www.succesvolboekhouden.nl/kasstelsel-en-factuurstelsel) :
- Kasstelsel : this corresponds to cash basis accounting, which is supported in Odoo
- Factuurstelsel : we record the income and expenses based on the invoice date, not based on the date at which they are paid. This is well how Odoo works in standard. So I don't re

[2017-08-17 10:03] flotho commented on #18880
Hi @nim-odoo , @mart-e ,

Could we have a review on this. I made additionnal tests and comparison on the same machine
I'm working for all my tests with :
* psycopg2 (2.7.3)
* psql (9.6.3, serveur 9.4.12)

I tested with a odoo v9 to create a fresh DB and there was FK in the tables.
I tested with 10.0 08886028317 and I have this in the logs :
[code]
yet no FK in the tables. The behaviour is not the

[2017-08-17 10:08] astirpe commented on #18572
@lap-odoo Factuurstelsel: the issue occurs when you create an invoice with an accounting date of a period different than the one of the invoice date. In comment https://github.com/odoo/odoo/issues/18572#issuecomment-322170029 there is an example of use case.

[2017-08-17 10:22] mart-e commented on #18880
[code]

Sorry but I have foreign key on all my databases.

[2017-08-17 10:25] yung-wang commented on #18572
@lap-odoo Thanks for researching the problem. I'm glad the Cash Basis is fulfilling the kasstelsel.

For the Netherlands it is very common to register the revenue and cost in another period. The solution that Odoo provides is using the 'accounting date' field. This is what Odoo advised me to use. But using this is exactly creating the problem.

Let's say you get an invoice for the rent of **July**

[2017-08-17 10:25] flotho commented on #18880
I also checked my "older version" of db created in v10 and I have some with foreign keys in it.
really strange that new DB for v10 only are not creating FK
@mart-e what is your server version?

[2017-08-17 10:33] yostashiro opened #18897 "[10.0] server error when trying to download attachment whose file name includes non-ascii characters"
### Impacted versions:

10.0.  Probably other versions as well.

### Steps to reproduce:

1. Install website_sale_digital
2. Attach a file with name "テスト" to a product that is sold on website
3. Purchase the product and make a payment.  Go to My Orders under My Account, open the order, and try to download the file "テスト".

### Current behavior:

Odoo throws server error and nothing is downloaded.

[2017-08-17 11:12] flotho commented on #18880
@mart-e , you're right, I'm suspecting additionnal repos and let you know

[2017-08-17 12:16] benwillig opened #18900 "[10.0] Received quantities are not getting updated on a PO when returning products"
**Impacted versions:**
8.0, 9.0, 10.0

**Steps to reproduce:**
- Create a Purchase order
- Add stockables products
- Confirm the PO
- Receive all products (received quantity is updated)
- Go on the previously validated picking, return some products to the provider and validate the new picking

**Current behavior:**
After returning products from a picking linked to a purchase order, received quanti

[2017-08-17 13:34] blabllavita opened #18903 ""for...each" doesn't work in mail.template"
Impacted versions:
odoo 10 Enterprise

Steps to reproduce:
I'm customizing the existiing mail template "Sales Order - Send by Email".

Current behavior:
I can use some variables e.g. ${object.amount_total} ${object.pricelist_id.currency_id.name} or ${object.amount_tax} ${object.pricelist_id.currency_id.name} . But there is no possibility to print the order lines in the mail template. The syntax "f

[2017-08-17 14:12] lvx5013 commented on #18512
**Chinese accrual basis accounting**

Question 1: A sales order has been created, but goods not yet shipped, should we count this as Income?
Answer: No. Only when shipment has been made, customer has received this shipment, this amount can be counted as income.

Question 2: Received cash for a sales order, but shipment hasn't been made, should this be counted into  Income?
Answer: No. Only when sh

[2017-08-17 14:20] Yenthe666 commented on #18897
@mart-e encoding issue?

[2017-08-17 14:36] esciara commented on #18579
@gdgellatly thanks for this clarification. So that means that the version distributed on ubuntu 16.04 and installed through `sudo apt-get install -y wkhtmltopdf` has not been built using patched qt and that is it better to install it through another mean (one of which is described in the article cited in my previous comment).

[2017-08-17 16:59] paprika27 commented on #16283
the error went away once I changed my reverse proxy to also send /mail to the odoo stack

[2017-08-17 16:59] #16283 closed

[2017-08-17 20:23] fmdl commented on #18900
It is fix for the V11.

For V10, I made a PR to fix, but it is still in waiting : https://github.com/odoo/odoo/pull/17674

[2017-08-17 21:29] flotho commented on #18880
Hi @mart-e , this one was tricky but really don't seems to be an Odoo core one but a conflict with an OCA repos

[2017-08-17 21:29] #18880 closed

[2017-08-17 22:16] chris001 opened #18905 "Eliminate upgrade migration pain by using facade pattern microservices API"
Impacted versions:
All 10.0 and lower.

Steps to reproduce:
Upgrade migration is painful because just running new module code breaks on old version database.

Current behavior:
Semi automatic scripted migration upgrade, plus manual coding upgrade.

Expected behavior:
Use microservices for python and/or "facade pattern" (API) for all modules.  No direct calling of implementation functions.  Module

[2017-08-17 22:24] deivislaya opened #18906 "[saas-17] Erroneous view of dates in analytic account lines"
**Impacted versions:** saas-17

**Steps to reproduce:**

- Configures the user's time zone to mexico city

![agrolait agrolait odoo 1](https://user-images.githubusercontent.com/5775695/29435889-f16a04c6-8376-11e7-8221-40afbdd02af9.png)

- Edit an analytic account

![agrolait agrolait odoo](https://user-images.githubusercontent.com/5775695/29435897-f8fce9ec-8376-11e7-876b-e4d4a39fc3f4.png)

**Curre

[2017-08-18 00:53] taifu commented on #17945
A problem living since version 7.0 is a shame :-(

[2017-08-18 01:53] adammagestore opened #18909 "[10.0] ParseError: "null value in column "categ_id" violates not-null constraint""
I got problem when I tried to install module **delivery**:
ParseError: "null value in column "categ_id" violates not-null constraint
DETAIL:  Failing row contains (45, null, 1, null, 1, null, 1, 1, null, null, 2017-08-18 01:47:20.610438, 1, t, t, null, 1, 1, null, null, null, 2017-08-18 01:47:20.610438, t, null, Free delivery charges n\u0103m 2017, f, consu, none, null, null, 0, null, no-message,

[2017-08-18 07:01] lap-odoo commented on #18572
@yung-wang Thank you for the explanation.

As explained by @krijn1981, a transfer account should then be used and two entries should be generated at the validation of the invoice (if Factuurstelsel is active and if the invoice date is different than the accounting date), right ?

Let's take your example :
Invoice Date = 17 August
Accounting Date = 1 July

Journal entry 1 July
D

[2017-08-18 07:39] #18905 closed

[2017-08-18 08:10] dreispt commented on #18905
@chris001 The problem  with migrations is not with the programming API - it is mostly about changes in the business login and underlying data models.
I'm afraid the facade pattern wouldn't be of much help.
You might want to have a look at [OpenUpgrade](https://github.com/OCA/OpenUpgrade).

[2017-08-18 08:11] Yenthe666 commented on #18909
Hi @adammagestore,

Thank you for your report.
Have you already tried to update your Odoo to the latest source code and update all your modules?

Regards,
Yenthe

[2017-08-18 08:27] yung-wang commented on #18572
@lap-odoo Hi Laura, the solution by @krijn1981 is a workaround to use a transfer account. It's not how Dutch accountant usually book invoices.

In V10 the accounting module is changed to remove bookingperiods and it is now date based. Previously you could create an invoice with invoice date 17-aug and book it in period 2017/07. When I asked some consultants at Odoo, they propose to use accounting

[2017-08-18 08:30] ThijsvOers commented on #18909
Hi @adammagestore ,

I had the same error, but with an other module. The error occured while installing the POS module, but the cause of the error was the third party module product_dimension.

I investigated the problem with my colleague Andrea and the error occurred because a not-null constraint was set when installing the product_dimension module. When I tried to install the POS module after in

[2017-08-18 09:00] gdgellatly commented on #18909
You've deleted the default category (All Products I think).  Or else you've
changed it to a view type, rather than normal.  If you've changed it, just
change it back, install module, and change back.  Otherwise update product
module.  Common issue with required fields that use xmlids for defaults
that users subsequently delete.

On Fri, Aug 18, 2017 at 8:30 PM, Thijs van Oers <notifications@github

[2017-08-18 09:15] mart-e commented on #18880
Thank you for the update, don't worry, we have not removed the foreign key 😉

[2017-08-18 10:24] Yenthe666 commented on #18897
Hi @yostashiro,

Thanks for the report.
It has been fixed by @nim-odoo in https://github.com/odoo/odoo/commit/110bf158f68cc3066dc8cd1f6e47b1dd04ae7fac

Regards,
Yenthe

[2017-08-18 10:24] #18897 closed

[2017-08-18 11:13] ThijsvOers commented on #18767
Hi @webtekindo ,

After reading you're case I think what you are looking is not MTS or MTO but a third solution which I think is not yet available in Odoo.

In the software company I worked before starting with Onestein we had created the following solution:
On the product card we had three options for reordering:
- 1. order on stock rules (MTS)
- 2. order per customer (MTO)
- 3. everything that i

[2017-08-18 12:01] CybroOdoo opened #18926 "Fiscal position not considerd on onchange partner in invoice"
Impacted versions:10.0

Steps to reproduce:
1-Setup a fiscal position with tax mapping
2- Specify this fiscal position for a customer/vendor
3-Create a draft invoice for any customer except the one who has fiscal position specified
4-Add some Invoice lines
5-Change the customer to the one we specified the fiscal position

Current behavior:
You can see the taxes remains same.
in step 3, if you sele

[2017-08-18 12:04] lap-odoo commented on #18564
@omalbastin Hi, we are currently working with Target Integration to collect the specifications but we haven't started the development yet. We will when we'll have available resources to do it.

I should be able to give you more information about what we plan to implement in 1 or 2 weeks.

Anyway, the specifications will be shared here before we start implementing them

[2017-08-18 12:14] CybroOdoo opened #18927 "Can create products under 'View' type category"
Impacted versions:10.0

Steps to reproduce:
1-Create a product category with Type 'View'
2-Click on the smart button 'Products'
3-Create products (No validation of product category type)

Current behavior:
Works fine when creating products directly. We cannot select product categories with 'View' type due to the domain.
Domain will not work in this case

Expected behavior:
Need a validation on cre

[2017-08-18 12:34] ThijsvOers commented on #18878
Hi @hugho-ad,

Installing the (free) third party module (from Pledra) product_configurator_base may solve this problem. I found it a very powerful module to make better use of product variants. Reasons;
- after configuring the attributes and attributes values not all the variants are created immediately. This only occurs when the configurable product is sold.
- You can add restraints to steps.
- l

[2017-08-18 14:05] ThijsvOers opened #18929 "Entry of Deposit incorrectly allowed for Quotation"
Impacted versions: 10.0

Steps to reproduce:
Generate a new quotation (state of the quotation is 'not confirmed').

Current behavior:
- I can make a deposit on a quotation. This is not desirable, normally you will only make a deposit if the quotation is a sales order.

Expected behavior:
Do not allow a deposit to be made for a quotation. Deposits are only allowed for sales orders with status confi

[2017-08-18 14:10] ThijsvOers opened #18930 "Deposit is not removed when deleting the coupled sales order"
Impacted versions: 10

Steps to reproduce:
create a sales order, make a deposit on the sales order and then remove the sales order.

Current behavior:
- I can remove the sales order if a deposit has been made. The order is removed, but the deposit remains. The source document mentioned on the deposit does not exist anymore. If I remove an order with an unpaid deposit, the deposit should also be re

[2017-08-18 14:40] fpodoo commented on #18572
@yung-wang It's NOT POSSIBLE to report the VAT at the invoice date. Example: "Let's say you get an invoice with date July 31, but you received and record it in Aug 22. In this case, the invoice date must be July 31 (the one on the document) but you need to report in the tax of August as you probably already filed the July tax statement --> you can not modify a statement you already filed".

So, by

[2017-08-18 15:44] hugho-ad commented on #18878
@ThijsvOers  thanks for your input!, But the module product_configurator_base adds extra behaviors that are not desired to only change the product display name, I think we can accomplish this by only changing this line
https://github.com/odoo/odoo/blob/master/addons/product/models/product.py#L371
s/len(l.value_ids) > 1)/len(l.value_ids) **>=** 1)

Or make this [function](https://github.com/odoo/od

[2017-08-18 15:51] yostashiro commented on #18897
@Yenthe666 @nim-odoo Thank you!  I have confirmed that the issue has been fixed.

[2017-08-18 15:59] Yenthe666 commented on #18897
Great to hear that. Good job guys!

[2017-08-18 16:37] chris001 commented on #18905
@dreispt
* When I say API what I mean is the internal API.  There should be no direct access to data or database.  Data access should all be done via an abstracted data model microservices API which cannot break because it adapts dynamically at runtime to the version of the db schema which currently exists in the database.
* Same with business logic.  Business logic should be written in such a way

[2017-08-18 17:11] dreispt commented on #18905
While it is possible, I believe that it would be far from practical in an ERP-like system.
In practice that would require to never remove code from previous versions - similar to the Git version history. The code base would just grow. You would have to keep support for old ORM APIs, deprecated methods, tables , fields, etc.

Regarding teh core, I personally see more harm than good in this.
Now, re

[2017-08-18 17:15] jvOrsouw commented on #18572
Afas profit reports tax based on the invoice date, as dutch law requires, even when the accounting period, thus the period of the expense/revenue, is not the same period.
If taxes have already been reported and an invoice is received for that period, the tax is reported the next time, or by a separate 'suppletie'-report, depending on the total amount of tax that was not reported in time. If this (

[2017-08-18 17:56] fpodoo commented on #18572
@jvOrsouw Odoo and Exact actually comply with the law by requesting users to set the accounting date to the one you'd like to report your tax to.

[2017-08-18 17:57] chris001 commented on #18905
* Only current code is running and installed, old code lives in github.
* The core code must be aware of only the old-stable schema and the current schema, and auto detect which schema is currently installed in the database.  When core detects old-stable schema installed, because the code was upgraded offline or live, it waits until transactions complete, and installs upgrade to current schema.
*

[2017-08-18 18:05] pedrovagner opened #18933 "Automated Tests Failed with `--init account --test-commit`"
Impacted versions: `Odoo version 10.0-20170207`

Steps to reproduce:

[code]

Current behavior: Tests should pass

Expected behavior:

[code]

If `--test-commit` isn't passed, tests run successfully.

[2017-08-18 18:42] jvOrsouw commented on #18572
That is a way of using the accounting date. But then you loose the possibility of reporting the expenses or revenue in the period they mention. Most dutch accountants are only looking for ways to have costs (and revenue) in the period the invoice mentions, and tax in the invoice period. And if the cost period is different from the invoice period, they'll use the accounting date to get the cost in

[2017-08-18 19:02] Erphappy commented on #18559
Hi Laura,
Have you set up province-specific rules such as the VAT in Quebec?
In termes of sales and purchases, the customer pays 5% for the TPS (french-speaking acronym) tax and a 9.9975% TVQ (french-speaking acronym).
Have you set that up in Odoo standard?

[2017-08-18 19:07] augustosamame commented on #15949
I can confirm this same bug affects current stable version of Community edition 10.0 as well

[2017-08-18 23:19] taifu commented on #18679
Moreover you can't inject it in the code base

[2017-08-19 00:38] #18688 closed

[2017-08-19 01:20] a741424975game commented on #18903
Same problem

[2017-08-19 16:43] flotho opened #18942 "[PosBOX]Image failed on python babel since stretch is the latest raspbian"
Hi,

I've tested to create an brand new image and it failed on the package list installation saying that python-babel has no candidate.
I observed that the latest raspbian image return strecth version since a few days .
maybe could be usefull to precise/force jessie intergration instead?

regards

[2017-08-19 17:00] deivislaya opened #18943 "[11.0] Shared fields in accounting account settings"
**Impacted versions:** 11.0

**Steps to reproduce:**

- Configures a user with access to several companies

![administrator odoo](https://user-images.githubusercontent.com/5775695/29488651-46b4cec2-84dd-11e7-9495-e8518e93d336.png)

**Current behavior:**

- In the accounting configuration there is shared field displayed by defects for the sales tax account and purchase tax account
![configure accou

[2017-08-19 21:31] bistaray commented on #18930
It is best practice to cancel and/or archive documents once entered.

If you delete things that the Customer has a copy of, you lose the record of the actual conversation and/or agreement that happened in the real world.  Months later when there is a dispute, you won't have all the documents to re-create what actually happened.  Even documents created as the result of user error should be kept.

I

[2017-08-19 21:33] bistaray commented on #18929
"Normally" for you and others isn't the same.

Not every company requires an order confirmation before they will take a deposit.

Some companies require a deposit BEFORE they will confirm an order.

I have several Customers who would be upset if they could not ask for payment before they confirmed an order which kicked off associated purchase orders and manufacturing orders (things they don't want

[2017-08-20 01:56] lvx5013 commented on #18512
@lap-odoo

**Problem 1:** Odoo Accounting types is different from Chinese Standard accounting types.
Financial reports in Odoo rely on Accounting types to determine the sum.

Therefore: Standard Chinese Chart of Account needs to be tweaked to obtain a correct financial report in Odoo.

* Some of our Chart of Account are forced to be marked as DO NOT REFLECT ON FINANCIAL REPORT category. In order t

[2017-08-20 09:56] ThijsvOers commented on #18929
Thank you for replying. I understand that there are situations where a payment is required before creating a purchase order. The way I look at it , the quotation in Odoo is a non-confirmed sales order.

My point is that there could be multiple quotations before the customer decides. There will also be quotations that will not go through or where the client has not decided yet. These quotations are

[2017-08-20 13:49] alpham opened #18944 "[10.0] when running on Windows on Cygwin ImportError is raised"
Impacted versions:
10.0
Steps to reproduce:
Run `odoo-bin` on Cygwin on Windows 7
Current behavior:
Raises ImportError from block at line 23 file: odoo/service/server.py
Expected behavior:
on errors

[2017-08-20 14:02] Yenthe666 commented on #18942
@jorenvo this is for you I assume.

[2017-08-20 16:43] sanaldavis-12 opened #18947 "Stock Landed Cost validation Issue"
Impacted versions: Could not complete the landed cost  validation button functionality

Steps to reproduce: Create a landed cost with Valuation Adjustments lines more than 500. Apply validate button. Could not complete the function. scrolling screen appears,  after that nothing happened.

Current behavior: Scrolling window appears

Expected behavior: Journal Entry created and Current landed cost,

[2017-08-20 20:15] blaggacao commented on #1677
As Odoo aims at usability, something like a purge option (@dreispt) would drastically reduce cost of confusion on an average of let's say 100.000 odoo admins (20users / admin, 2M users).

Add to that, that unpurged modules give WARNING log messages, and may cause false positive push alerts by your favorite log analysis solution.

@Yenthe666 Fixing by command implies eg remote session, which is mor

[2017-08-20 20:26] blaggacao commented on #18637
## Localization framework
#### A powerful implementation detail:

1. suffix your fields with ISO-CODE
2. decorate your methods with ISO-CODE
2. get this field and all it's dependent logic and methods only applied/shown on a localized context
3. establish defaults for localized context by either partner or company, depending on the model
4. therefore, specify the localization context by a `_localiz

[2017-08-20 21:28] zeroheure opened #18948 "[10.0] can't checkout on mobile browser, CSS problem in checkout wizard"
Impacted versions:
10.0 CE
Saas version is not impacted.
Tested on Firefox, Chromium, webkit, and 2 mobile Android browsers.

Steps to reproduce:
install ecommerce demo, use a mobile phone or resize your browser window, add something in cart, try to checkout.

Current behavior:
Can't click on Checkout button unless cursor (or finger) is on top of the button ; same behaviour for every right button

[2017-08-20 21:36] zeroheure commented on #18948
Same behaviour as previously fixed #15551 and #13805

[2017-08-21 00:37] herohat commented on #9941
The solution provided by @Derter doesn't work for me with numbers like 9000,  but this worked for me:

(You should get prices like:  9,000.00  )

`${'{:,.2f}'.format(object.amount_total)}`

[2017-08-21 02:18] krijn1981 commented on #18637
I think what we also missing is budget versus monthly spend. Many customers are asking for a tool where they can see the actual data versus budget in a monthly overview

[2017-08-21 06:29] Yenthe666 commented on #18875
@qdp-odoo I believe this makes sense. Okay for you? I'll make you a PR then.

[2017-08-21 06:39] Yenthe666 commented on #18947
@jco-odoo could you have a look?

[2017-08-21 06:41] fananimi opened #18954 "KeyError: 0 while call method name_search"
Impacted versions:
Odoo version 10.0

Steps to reproduce:
Call method [name_search](https://github.com/odoo/odoo/blob/8cb991c7725e25654db47a8d656bc462309ff889/addons/product/models/product_template.py#L313 ) with the following parameters:

[code]

Current behavior:
Returning an error
[code]

Expected behavior:
Return product list.

[2017-08-21 06:45] Yenthe666 commented on #18954
Hi @fananimi,

Thank you for your report.
Could you add your whole code too please?

Regards,
Yenthe

[2017-08-21 06:51] fananimi commented on #18954
Hi @Yenthe666 ,

Here's my code,

[code]
It's actually my custom code  from [Odoo Mobile Framework](https://github.com/Odoo-mobile/framework).

[2017-08-21 06:58] yung-wang commented on #18572
Hi @fpodoo, thank you for your comment. I'm glad you mention Exact Online, since I used to work at Exact Software in a team responsible for introducing Exact Online to the Accountancy branche in the Netherlands. I will check this on Exact Online using a trial version. I also know that SAP R3 and AXI works exactly the way I described (previous work experience as an ERP consultant too)

Sorry to say

[2017-08-21 07:04] qdp-odoo commented on #18875
yes fine for me

[2017-08-21 07:15] rajeeshknambiar opened #18956 "Reverse Charge in India GST"
Impacted versions: 10 CE

Steps to reproduce: Look for option to handle ‘Reverse Charge’ applicable on Vendor Bills when buying goods or services from unregistered vendors, according to India GST.
Background information: Reverse Charge applies when purchasing from a vendor without 'GSTIN' (vat) number. In this case, _the applicable tax must be paid by the buyer_. Example of correct journal entries

[2017-08-21 07:20] Yenthe666 commented on #18876
@mart-e do you agree with this? I'm happy to make a PR for this if you wish.

[2017-08-21 08:02] Yenthe666 commented on #17923
Hi @lescobarvx,

Thank you for your report.
I've made a PR on which some people from Odoo gave feedback, you can find it here: https://github.com/odoo/odoo/pull/17943

Regards,
Yenthe

[2017-08-21 08:02] #17923 closed

[2017-08-21 08:03] Yenthe666 commented on #17749
@ged-odoo any update on this?

[2017-08-21 08:10] hmo-odoo commented on #17749
this issue is fixed at revision: https://github.com/odoo/odoo/commit/378efa14449baeb19a8fb6a810b8db148971c0c1

[2017-08-21 08:10] #17749 closed

[2017-08-21 08:17] mart-e commented on #18876
@oerp-odoo thanks for the report and proposed fix. Do not hesitate to submit it directly in a PR if you already have the patch.

@Yenthe666 thanks but the time consuming part was to review the patch, not to write it (already given)

Fixed in 9.0 at 85a360eeaec84524a4a5180ec06af49fb564d465

[2017-08-21 08:17] #18876 closed

[2017-08-21 08:20] Yenthe666 commented on #18876
Great job!

[2017-08-21 08:21] qdp-odoo commented on #18826
Hi Florent,

thanks for this bug report and the preliminary analysis you made.

However, I think that issues 1) and 2) are not occuring since in query_get() function we should filter correctly https://github.com/odoo/odoo/blob/10.0/addons/account/models/account_move.py#L1310 as we pass the company_ids in the context (https://github.com/odoo/enterprise/blob/10.0/account_reports/models/account_gener

[2017-08-21 08:55] Gyuri77 commented on #5721
@mart-e

Thank you for the answer and patches.
I use 9.0, so i use the  workaround you linked before.  We have a lot of time and code in 9.0 so we stay. The next project will be in 10 or 11 I hope.

[2017-08-21 09:59] elsafdama opened #18959 "[BUG] Issue on button Save timesheet when filtering mandatory fields"
Impacted versions:
10 CE

Steps to reproduce:
if i add new line on timesheet and there are some mandatory fields (analytic account, description and project)
if I fill on analytic account and project and then I click button save (warning to fill mandatory can display)
but if i click edit on the same line and then  i click save again, no warning returned and the record suddenly disappeared

Current

[2017-08-21 10:23] houssine78 commented on #11286
@janbec as odony said this not the purpose of the mail composer.

Knowing that you could add a new button or overidding the existing one to by pass the mail composer and directly sent the email through the mail template function.

[2017-08-21 11:56] reilco opened #18963 "Odoo 9.0 error to validate customer invoices"
Impacted versions:
I'm getting error for some invoices which are in draft status for some customers and products which they have been invoiced before without any problems, but few invoices

Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/openerp/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/od

[2017-08-21 12:05] #18875 closed

[2017-08-21 14:03] gustavovalverde opened #18968 "[10.0] point_of_sale: Cashier is changed if browser is refreshed"
Impacted versions:
10.0, maybe olders too.

Steps to reproduce:
- Log in to Odoo with Cashier A
- Open a new POS Session
- Cashier A goes to eat and Cashier B replaces it.
- Cashier B inputs its PIN and takes the session

Current behavior:
- If Cashier B refreshes the Browser, it will be able to make transactions with Cashier A
- After ending doing illegal transactions on Cashier A's behalf, it go

[2017-08-21 14:38] lap-odoo commented on #18512
@lvx5013 :

We've discussed Chinese accrual basis accounting internally.

Question 1: A sales order has been created, but goods not yet shipped, should we count this as Income? Answer: No. Only when shipment has been made, customer has received this shipment, this amount can be counted as income.

Question 2: Received cash for a sales order, but shipment hasn't been made, should this be counted in

[2017-08-21 14:42] lap-odoo commented on #18512
@lvx5013 : Thank you for your answer about the CoA.

If the issue is that some accounts shouldn't appear in the reports (Balance Sheet, P&L, ...), we can create a new account type for that.

Would that be enough?

If you don't want to use the Standard P&L and BS from Odoo (GAAP reports), we can create reports specific for China. In that case, these reports should be based on the tags defined on th

[2017-08-21 15:26] zaoral opened #18971 "More than one ir.logging record when a ir.ui.view is updated"
**Impacted versions:**

10.0

**Steps to reproduce:**

1. Create an automated action that will be trigger every time a ir.ui.view record is updated. The server action related will write at ir.logging model which view and how edit it
[code]

   ![image](https://user-images.githubusercontent.com/7593953/29481164-36d95540-844c-11e7-9265-ddd6db841c3d.png) | ![image](https://user-images.githubuserconte

[2017-08-21 15:31] zaoral commented on #18971
OPW 767070

cc @rdmachadog @nhomar

[2017-08-21 15:48] pedrobaeza opened #18972 "[10.0] account: Statement reconcilation of already manually reconciled entries"
Impacted versions: 10.0

Steps to reproduce:

1. Go to runbot
2. Create one invoice for any customer and validate it.
3. Create a manual journal entry with a line for the bank account (101401) and another with the partner account, with the amount of the invoice.
4. Reconcile manually both partner lines (invoice and manual one).
5. Create an statement with the same amount.

Current behavior:

There

[2017-08-21 16:12] dan18fan opened #18973 "Uncaught TypeError: Cannot read property 'name' of null [website_sign model]"
Impacted versions: 10.0e

Steps to reproduce: In the eSignature app: Uploaded pdf, sending worked, reinstalled (to delete the testing stuff i did in the app), started to fill database with contacts and stuff, after a while the error appeared out of nowhere.

Current behavior: When I click "Send" to request someone to sign any document it gives me this error:

`Uncaught TypeError: Cannot read prope

[2017-08-21 21:44] bistaray commented on #18929
I understand - for most of my Customers a Quotation and Un-confirmed Sales Order are the same - but I can see why you would want to think of them differently.  Perhaps just add a boolean flag to separate them from each other.

[2017-08-22 03:55] robertallanroker commented on #10566
I have this same problem.

[2017-08-22 04:06] lvx5013 commented on #18512
@lap-odoo

[Chinese_Chart_of_Account_2017.zip](https://github.com/odoo/odoo/files/1240725/Chinese_Chart_of_Account_2017.zip)

Wonderful!

I have attached a Top Rated Government accepted SME CoA lay into the six Chinese Government Accredited account types:

Type 1: Assets;
Type 2: Debts;
Type 3: Common;
Type 4: Owner's Equity;
Type 5: Cost;
Type 6 a:   Income;
Type 6 b:  Expense;

Cheers! Look forw

[2017-08-22 04:44] lvx5013 commented on #18512
@lap-odoo

A standard Chinese SME income statement is attached (used for Quarterly Government Financial Declaration in China), which differs from the GAAP financial reports. Thank you a lot! Look forward into it!

[Chinese_Income_Statement.pdf](https://github.com/odoo/odoo/files/1240774/Chinese_Income_Statement.pdf)
[Chart_of_Account_2017_English_Income_Statement.pdf](https://github.com/odoo/odoo/

[2017-08-22 06:29] ThijsvOers commented on #18929
Yes. I have already tried your 'boolean' solution. I think it will work as long as I can group or report on this boolean.

There is one another thing that I will have to check: is it possible to recalculate price and/or delivery lead times at the moment the quotation is 'upgraded' to  salesorder?

Met vriendelijke groet / Kind regards,

Thijs van Oers

Open Source ERP Consultant

Onestein B.V.  /

[2017-08-22 07:55] FlimFlam commented on #7028
+10 Needed

[2017-08-22 08:52] Yenthe666 commented on #18973
@ged-odoo the error itself seems JS related atleast. Could you have a look?

[2017-08-22 09:16] michaelkarrer81 commented on #7028
+1

[2017-08-22 09:40] xmo-odoo opened #18985 "TypeError in image_resize_image"
[Reported by @dhannyz](https://github.com/odoo/odoo/commit/3824b5dcc13678d3985ad45ac21dcf9ac9202c20##commitcomment-23787602):

[2017-08-22 10:02] oco-odoo commented on #18565
@pedrobaeza : Small question about the balance sheets in your module. Some of their lines are created without any way of computing a value for them, and will hence always be 0. Is it some legal requirement or so ? I suppose I must do the same ? As an example, see line with code 11700 ("VII. Deudores comerciales no corrientes") in l10n_es_account_balance_report/data/balance_abreviado.xml

[2017-08-22 10:23] pedrobaeza commented on #18565
Yeah, that one is a special case. If you see the comment, it refers to a section of the documentation, as there was not an specific accounts for computing it. They are barely used (I don't have any customer that needs that section). Check this link https://www.iberley.es/temas/norma-6-balance-neca-6-59373 the 8th point to decide if you want to fix an account for checking this or leave it un-comput

[2017-08-22 10:54] robin1922 opened #18987 ""Add an Item" doesn't showing in the many2many field.(odoo 9)"
I have wizard containing a man2many field to product.product. those users who have the create permission in product.product object can see the "Add an Item" link.the users don't have the create permission are unable to see the mentioned link.

![picking](https://user-images.githubusercontent.com/3063320/29562038-60a4ab70-8755-11e7-8f6d-5c43a4160ea4.png)

[2017-08-22 11:15] lap-odoo commented on #18512
@lvx5013 I'm a bit lost. You also sent me this CoA.

[2017最新会计科目及代码表_2017_Chinese_accounting_subjects (1).zip](https://github.com/odoo/odoo/files/1241784/2017._2017_Chinese_accounting_subjects.1.zip)

I know there are two CoA for l10n_CN, the standard one and the one for the SMEs.

Concretely, what we need now is one csv for Standard CoA and one csv for SME CoA. In these csv, we need :
- The accou

[2017-08-22 11:47] smetl commented on #18572
New database available:
http://256282-master-l10n-nl-reports-2-las-70f534.runbot11.odoo.com/?db=256282-master-l10n-nl-reports-2-las-70f534-all
logs: admin/admin

Regarding your comments, I fixed the code:

- P&L:
* Totals have been fixed by adding a new section for the EBITDA.
- XAF:
* Error regarding the company data not filled fixed.
* Periods number are now unique.

[2017-08-22 12:29] ged-odoo commented on #18973
@qsm-odoo looks like the code expects a res.partner, but the query returns nothing. I'll let qsm have a look at this one

[2017-08-22 14:35] dan18fan commented on #18973
Thanks for the replies guys, I did something to see if its a problem with the local installation or the database, I installed odoo enterprise in my personal laptop cleanly, I did a fresh new database and installed this app, worked as intended, then I went to databases manager, restored a database with the database I have in my job's local server (the one that throws me this error) and boom... the

[2017-08-22 15:17] Fenkiou commented on #17855
@nle-odoo, any news on this ? I didn't test your last changes though.

[2017-08-22 16:38] rafaelbn commented on #18972
Video reproducing the issue: https://youtu.be/bdp8ZbHZg4M

[2017-08-22 16:58] Nucleardragon88 opened #18994 "moment._locale & moment._locale._week"
Hello,
in my ODOO 10 when I try open calendar APP I am getting different errors in different web browsers:
Mozilla:
TypeError: moment._locale is undefined
Safari:
TypeError: undefined is not an object (evaluating 'moment._locale._week')
Chrome:
Uncaught TypeError: Cannot read property '_week' of undefined

but in odoo.log no any errors, what is happened?

[2017-08-22 19:56] leorochael commented on #13264
This also happens on at least v8.0 and up to v10.0, and the documentation links for [both](https://www.odoo.com/documentation/8.0/reference/views.html) of [them](https://www.odoo.com/documentation/10.0/reference/views.html) still report `readonly` as a valid attribute that should disable the button.

[2017-08-22 20:38] farzeni commented on #11627
Same here. We made a fresh installation on a new database with Enterprise modules but without other custom modules and the problem is still there.
We are using odoo 10.0.

[2017-08-22 22:17] gdgellatly opened #18995 "[TERMINOLOGY] Authentification is not the usual English word"
Impacted versions: Master - probably all

Steps to reproduce:
Go to Settings Screen

Current behavior:
You'll see Authentification written twice.  In English, and especially in English technology speak the usual word is Authentication.

The only real issue it causes is that when searching for docs, you would search for Authentication (e.g. "How do I setup Oauth Authentication with provider x?"

Ex

[2017-08-22 23:36] gdgellatly opened #18996 "UI Master - Invoice numbers"
Impacted versions: Only Master

Steps to reproduce:
Install Account or Invoicing - whatever you just need to be able to create an invoice.

Current behavior:
Notwithstanding the wisdom of being able to edit the number here, it should at least display correctly.  Currently it will display only 4 digits in edit mode.  A touch limiting for anyone with over 10,000 invoices in a period.

Expected behav

[2017-08-22 23:42] gdgellatly commented on #18996
As an aside I notice this width is hard coded in the invoice view <field name="sequence_number_next" class="oe_inline" required="1" style="width: 80px !important;"/>  Seems a bit of a work around so it looks nice with the standard sequence which uses INV/2017/xxxx but very few companies would choose such a sequence unless it was legally required.  (Because it would allow competitors to estimate th

[2017-08-23 05:55] tibong commented on #3035
clear cache

[2017-08-23 07:06] leio commented on #7024
This breaks (now?) even with computed fields that conditionally set the computed value to a database backed value (where it's correctly entered by user to e.g a 3.00000 value), e.g with simplified code (in reality the precision 5 comes from Product UoM decimal accuracy configuration and the computation isn't always this simple assignment):

[code]

Results in shell debug session:

[code]

[2017-08-23 07:37] oco-odoo commented on #18565
Ok, thank for your help again. I think we will manage the variation of code definitions for those accounts with tags, so that they still do appear clearly into the balance sheet if defined.

Some more question: here https://github.com/OCA/l10n-spain/blob/10.0/l10n_es/data/account_type.xml , you define several account types, but you do not seem to explicitly use them anywhere else in your code. So,

[2017-08-23 07:58] adrienpeiffer opened #19008 "[10.0] Automatic reconcile doesn't work"
Impacted versions:

10.0

Steps to reproduce:

See https://youtu.be/f24uIcjf8B0

Current behavior:

There is no possiblity to do automatic reconciliation

Expected behavior:

Have the possibility to do automatic reconciliation like in version 8

![capture du 2017-08-23 09-58-09](https://user-images.githubusercontent.com/8035793/29604991-9fc5c368-87e9-11e7-83f5-d04312ccc1e9.png)

Video/Screenshot l

[2017-08-23 08:01] adrienpeiffer commented on #19008
OPW 767309

[2017-08-23 08:35] jbeficent commented on #18565
@lap-odoo is this going to land on Odoo CE or Enterprise? I think that it is fair to be clear here. @pedrobaeza and the spanish localization team has been promoting an open version for years, and if you accept their feedback it is fair that the resulting work should be in CE

[2017-08-23 09:24] dreispt commented on #18903
AFAIK Python does not have the "for each" specific syntax. if the template engine is QWwb, shouldn't it be "for X in ITERABLE"?

[2017-08-23 12:40] pedrobaeza commented on #18565
@jbeficent Indeed I'm a bit disappointed with the move of certain account features to enterprise (https://github.com/odoo/odoo/pull/18589), - which seems to be only the first step (assets and budgets will be next) -, and I have mixed feelings about continuing contributing to this issue.

But I think that `l10n_es` will continue being in community. If not, of course Odoo should warn us. This module

[2017-08-23 12:47] nim-odoo commented on #18697
As explained in the related PR, that's a standard behavior in order to make sure that there is no gap. So nothing can be done in a standard version.

[2017-08-23 12:47] #18697 closed

[2017-08-23 12:58] nim-odoo commented on #18699
Closed in https://github.com/odoo/odoo/commit/7544c22de9a4cea028ff8fe63931bf68573e0821 and https://github.com/odoo/odoo/commit/df755ef6d4b470b4083a2d0556c809e78627e4db , but from SaaS-14 since it is a major change in behavior.

However, this can be applied on a local v10 installation without problem.

[2017-08-23 12:58] #18699 closed

[2017-08-23 13:47] ndemoreau commented on #11627
Same here...

[2017-08-23 14:50] ata2001 opened #19017 "odoo.addons.hw_escpos.controllers.main: write() got multiple values for keyword argument 'timeout'"
Impacted versions:

10.0

Steps to reproduce:

Connect usb printer, enable hw_escpos.

Current behavior:

Odoo fails with error.

Log:

[code]

Expected behavior:

Odoo successfully connects to the printer and prints status message.

---------------------------------------------------------------------------------------------------------

The pyusb API has changed in 1.0.0b2. `write()` dropped the

[2017-08-23 18:04] fmdl commented on #18826
Dear @qdp-odoo
I have just see this commit https://github.com/odoo/enterprise/commit/ead41a32bdbf3c907ecc9f4d412b403ff9485807 about the issue 3. For me it is just a beginning of solution, it only solve if you select only one company.

I don't see in the code some think like that (maybe I'm wrong) :

[code]

[2017-08-23 18:07] aduijs opened #19019 "V10 - Sitemap generates hundreds of non existing URLS (jobs and products)"
[sitemap.txt](https://github.com/odoo/odoo/files/1246503/sitemap.txt)
Impacted versions: V10

Steps to reproduce:
install recuitement module
install ecommerce module

Current behavior:
- 1) the sitemap generates a /jobs/country/<insert country>/department/somedepartment  for every single country in the world. while there is no job listed.. there is only wwwdomain/jobs

- 2) As well the sitemap gen

[2017-08-23 18:23] fmdl commented on #18826
@nim-odoo  Test on runbot with commit https://github.com/odoo/enterprise/commit/ead41a32bdbf3c907ecc9f4d412b403ff9485807 : works for one company, but not when you select two or more company.

![image](https://user-images.githubusercontent.com/16716992/29631463-024a1088-8840-11e7-8699-8ef9f1046dba.png)

![image](https://user-images.githubusercontent.com/16716992/29631498-1cbdc31a-8840-11e7-8fd0-7b6

[2017-08-23 22:32] anajuaristi commented on #18565
+1 @pedrobaeza. I agree everything you say. I feel same way.
@jbeficent It should be on CE but I'm afraid it will be not. Our several years work will be privaticed. I hope I'm mistaken.  It would be great that I had to recognice my mistake.

[2017-08-23 22:41] lasley commented on #18565
I don't see any reason for the community to put forth effort into a solution that is not available to them. They can legally use our code for inspiration, but I don't see a reason to feed it to them personally.

[2017-08-24 01:47] jj3666 commented on #14127
New install ... missing some dep's altogether.

dpkg: dependency problems prevent configuration of wkhtmltox:
 wkhtmltox depends on libpng12-0; however:
  Package libpng12-0 is not installed. --> libpng16-16 is current
 wkhtmltox depends on libjpeg8; however:
  Package libjpeg8 is not installed. --> only libjpeg62-turbo present, libjpeg-dev is deprecated ie dummy packaged
 wkhtmltox depends on lib

[2017-08-24 04:53] rowemoore opened #19026 "BOM Cost report not linking to BOM Cost View"
Impacted versions:10, 9 both enterprise and community

Steps to reproduce:  Go to Technical - Reports - BOM Cost and click on "searach associated views" (QWeb views in 10)

Current behavior: Nothing
Expected behavior:Link to BOM Cost view

The problem seems to be that the name in **mrp_report_views_main.xml** for the BOM Cost view doesn't match the name in **mrp_bom_cost_report_templates.xml** (BT

[2017-08-24 05:58] lvx5013 commented on #18512
[中国会计-中小企业-CoA.zip](https://github.com/odoo/odoo/files/1247875/-.-CoA.zip)

Great!

I've attached the SME-CoA with:

- The account code
- The account name (+ translation in English)
- The account type (the account types that already exist in Odoo)
- The account tags (Chinese Account Types)

Cheers

[2017-08-24 06:33] lap-odoo commented on #18565
Hi all,

You can find below an explanation of the reasons for these changes and their implications :

Odoo 11: Community-Enterprise Boundaries

From a product point of view, we make a difference between the Invoicing App  (invoices,
payments, taxes, reconciliation) and the Accounting App (journal entries, bank interfaces,
reporting, legal statements, budgets, assets).

We consider that the Invoici

[2017-08-24 07:00] iecompattest opened #19030 "edge compa"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-08-24 08:26] #19030 closed

[2017-08-24 08:27] Yenthe666 commented on #19030
Hi @iecompattest,

Please create an issue with a clear title and description. I hope you can understand this is too little info for us to continue with.
Don't hesitate to create a new report with more info!

Regards,
Yenthe

[2017-08-24 08:38] Yenthe666 commented on #19019
@JKE-be this looks like one for you. Was this done by purpose?

[2017-08-24 08:39] Yenthe666 commented on #18994
Hi @Nucleardragon88,

Have you installed all Odoo dependencies (https://github.com/odoo/odoo/blob/10.0/requirements.txt) and followed the official installation guidelines (https://www.odoo.com/documentation/10.0/setup/install.html) ?

Regards,
Yenthe

[2017-08-24 08:40] Yenthe666 commented on #18995
Hmm I agree Authentication is better then Authentification.
@mart-e do you agree? Can we change it in the master?

Regards,
Yenthe

[2017-08-24 08:42] Yenthe666 commented on #19017
Hi @ata2001,

Thank you for your report and the detailed information.
@jorenvo perhaps we have to change this?

Regards,
Yenthe

[2017-08-24 08:44] Yenthe666 commented on #18996
@qdp-odoo could you have a look please?

[2017-08-24 08:44] Yenthe666 commented on #13264
@ged-odoo could you confirm this one?

[2017-08-24 08:49] anajuaristi commented on #18565
Simply a couple of point I don't agree at all
When you say:
 "We never considered Odoo Community as an accounting software... This created the false expectation that Odoo Community can be used as an accounting software (and created frustration has it does not have the quality/features expected by accountants)."
It could be true for several countries but in SPAIN we are using Odoo / OpenERP as acco

[2017-08-24 08:51] Yenthe666 commented on #18972
Hi @pedrobaeza and @rafaelbn,

Thank you for the report and the video. Videos are really handy to see the problem and reproduce.
To me this does indeed look like a bug that has to be fixed.
@qdp-odoo could you have a look and give feedback?

Regards,
Yenthe

[2017-08-24 08:53] JKE-be commented on #19019
For recruitment, and route with controller of type ModelConverter that is not precise (eg. country):
the issue is known, here a begin of improvement https://github.com/odoo/odoo/pull/15317/files

For the product, it should never show unpublished product by default.
The sitemap is generated in Public user
`locs = request.website.with_context(use_public_user=True).enumerate_pages()`
which one don't

[2017-08-24 08:54] Yenthe666 commented on #19026
@jco-odoo could you give feedback?

[2017-08-24 08:55] pedrobaeza commented on #18972
The fix is very simple: revert back the domain to what it was, which is removing `('payment_id','<>', False)` condition.

[2017-08-24 08:56] JKE-be commented on #19019
FYI, we have a task to allow to specify in the controller a function that generates itself the locs without using enumerates_page, we can hope to got it after the v11 :/

[2017-08-24 08:57] Yenthe666 commented on #18972
@pedrobaeza yes but I'm not sure if there was another reason why qdp introduced it so I'll wait for some feedback. If this is the case he can revert it for you guys 👍

[2017-08-24 09:00] JKE-be commented on #18822
Duplicated of https://github.com/odoo/odoo/issues/14753

[2017-08-24 09:00] #18822 closed

[2017-08-24 09:05] mirfan786 opened #19033 "Odoo Server Conf SyntaxError Centos 6.9"
Yesterday I installed Odoo in Centos 6.9
PostgreSql Successfully Installed and running
Odoo successfully Installed but when I start odoo service Error Occured

[root@inj ~]# service odoo start
Starting Odoo Server Daemon (odoo-server):                 [  OK  ]
[root@inj ~]#   File "<string>", line 1
    /etc/odoo-server.conf
    ^
SyntaxError: invalid syntax

and here is my conf File
admin_passwd

[2017-08-24 09:10] mart-e commented on #18995
Shouldn't be too much. I remember correcting all a few years ago but this kind of [Frenglish](https://en.wikipedia.org/wiki/Franglais) tends to come back from time to time.

@Yenthe666 sure, now is the perfect time to fix all of these before the release of v11 and freeze of terms

[2017-08-24 09:22] ged-odoo commented on #13264
@Yenthe666 I confirm the issue and the lack of documentation.  It comes from the fact that readonly modifiers are currently only defined for fields.  There is some confusion, most likely because the 'invisible' modifier can be applied to any node, not only fields.

Clearly, the 'required' modifiers only makes sense for fields.  But for 'readonly', this is an example of non-field where we have a de

[2017-08-24 09:28] rousseldenis commented on #18679
@taifu @Yenthe666 @odony Same here. Impact in two projects. Investigating

[2017-08-24 09:46] Lioncode commented on #4622
Hi,
i am facing this issue on odoo v8.0 and i cant decrypt your message "OPW 622203". I imagine this is the code of a commit made by someone but i cannot find it. I would appreciate it if you could help.

[2017-08-24 10:01] ged-odoo commented on #13264
our CTO, which is apparently a complete usability expert, and whose opinion is worth more than everyone else, says that it is useless and it does not make sense and noone sane should use this...

so, I guess I'll close this...

[2017-08-24 10:01] #13264 closed

[2017-08-24 10:06] Yenthe666 commented on #13264
Hmm I was happy for a minute it got confirmed there. No matter what the usability expert says, it would be a great addition to be able to set `readonly` on buttons in specific cases.
I see you don't fully agree either. Ohwell, that is what you have superiors for. Thank you for the feedback @ged-odoo!

[2017-08-24 10:07] Yenthe666 commented on #18679
@wardm95 and @vincentadriaensen might be somewhat related to our issue too? 😕
@mart-e adding you in the chain too.

[2017-08-24 10:08] Yenthe666 commented on #4622
@Lioncode it refers to the enterprise ticket under which this was reported. So you can't access that ticket or see the info, only what is here.
@adrienpeiffer can you enlighten?

[2017-08-24 10:13] pedrobaeza commented on #13264
Ouch, it's a pity not to have this. Although Antony says it's useless and not sane to use it, now I don't see any other way of presenting some information in the cool smart-button form without requiring to attach an action to that button, or better, disable that action on certain conditions. We have a legitimate case with our product_bundle module: https://github.com/OCA/product-attribute/pull/180

[2017-08-24 10:19] taifu commented on #18679
This is a huge, huge problem if you have a lot of data translation (we have 500.000 translations). The number of subqueries injected is abominable

[2017-08-24 10:50] yostashiro commented on #18565
It's sad that we can no longer promote Odoo as open-source ERP...  And @lap-odoo probably should have clearly explained the intention/background from the beginning when these localization threads are created.

[2017-08-24 11:10] Yenthe666 commented on #18565
I agree with @anajuaristi and @yostashiro here.
This somewhat feels (atleast to me) like tricking the community into sharing knowledge, helping and testing the development. I was under the assumption that this would still be for the community too and this made me tweet with false assumptions too. I honestly believe that Odoo will be stepping on quite some toes with this one, this could have been h

[2017-08-24 11:13] sle-odoo commented on #13264
The problem is that @antonylesuisse does not see any usecase where you want to have a non clickable stat button. Maybe yours is legitimate though: using a stat button to present an information which does not lead to any actual action.

[2017-08-24 11:15] msteinfeld commented on #13264
@pedrobaeza i have unproved idea to use t-att-* with standard html button tag disabled maybe that would be a way?

[2017-08-24 11:19] Yajo commented on #13264
AFAIK no `t-*` is available in backend views, which are not handled by Qweb.

[2017-08-24 11:23] pedrobaeza commented on #13264
For clarifying this, the use case is the following:

- We define some products as "bundles". It has a list of contained products.
- Available stock is then computed as the number of bundles we can have with the available stocks of the contained products, and this information is shown on the same stat button as for normal products.
- But we don't want to be clickable, as the resulting action will b

[2017-08-24 11:25] Yajo commented on #13264
I guess this would be the only "sane" option now then... 😕

[2017-08-24 11:42] nhomar commented on #13264
It is insane just think you can not give a readonly thing (which exists since the beginning of times in the more basic frameworks) to a button.

The more common use case is:

You have a button and no result to show, instead annoyingly send the user to a blank list (current behavior) or hide the button (then user will not know it exists) put the f#%$&&/g button readonly read only that' it.

Honestl

[2017-08-24 12:21] qdp-odoo commented on #18972
Hello,

we are aware of this issue but unfortunately, as Yenthe sensed, we can't just remove that part of the domain since the problem isn't just that simple.

Indeed, this part of the domain is also important for hiding lines in case of an accounting being imported in Odoo: you don't want to see in the bank statement reconciliation widget all the lines of past years.

Moreover, all bank operation

[2017-08-24 12:21] #18972 closed

[2017-08-24 12:45] qdp-odoo commented on #18996
fixed by https://github.com/odoo/odoo/commit/fff4d41da24c8fcd228477ead34794317e9db15a

thanks

[2017-08-24 12:45] #18996 closed

[2017-08-24 13:13] rim-odoo commented on #18971
Looks highly specific to `ir.ui.view`... probably some `write()` are triggered

Does this _really_ prevent you from working?

[2017-08-24 13:16] leorochael commented on #13264
The rationale for not allowing buttons to be disabled is well argued here:

http://www.uxbooth.com/articles/who-killed-the-inactive-button-state/

But we should also consider that, as far as Odoo is concerned, buttons made invisible change the layout drastically, and as argued by others, in the case of buttons that display actual information, removes an important information placeholder.

As a con

[2017-08-24 13:21] rousseldenis commented on #18679
After investigation, we reproduced the issue within a script :

1/ Install a database with stock module

2/ Run the following code through shell command:

[code]

3/ Run this python code:

[code]

In the second script, I call the same kind of read group than those in stock computation.

As you can see, if we don't disable lang in the context, the query is 6x time slower (in this case and degrading

[2017-08-24 13:21] WeeDom opened #19039 "[10.0] "undefined" stage cannot be deleted or renamed"
Impacted versions: 10.0

Steps to reproduce: create project from Sales Order, with a product where the unit of measure is hours, and invoicing has "Ordered quantities" as the Invoicing Policy, Track Service is"Create a task and track hours", and Project is blank.

Current behavior: create Sales Order from Quotation. Project is created, with a single task in the column "Undefined". This "Stage" can

[2017-08-24 13:22] rim-odoo commented on #18971
Do you have website_version installed, as this method could be the cause of the trouble? https://github.com/odoo/enterprise/blob/10.0/website_version/models/ir_ui_view.py#L36-L62

[2017-08-24 13:26] WeeDom commented on #19039
ah - so the "workaround" is to create a new column/stage, move the task into that, and either refresh the page or leave/re-open the project. The "undefined" column then disappears

[2017-08-24 15:04] celm1990 commented on #18217
Hello,

Any solution???.

Fix  #13568 must be ported to V10, it work fine

[2017-08-24 15:11] adrienpeiffer opened #19044 "[10.0] It's possible to delete a paid expense report ..."
Impacted versions:

10.0

Steps to reproduce:

See https://youtu.be/HvD6gblBKxA

Current behavior:

It's possible for a simple employee to remove a paid expense report. After that, the related expenses return in "To submit" status.

Expected behavior:

It shouldn't be possible the remove expense report in this state (and other !)

Video/Screenshot link (optional):

See https://youtu.be/HvD6gblBKxA

[2017-08-24 15:13] adrienpeiffer commented on #19044
OPW 767549

[2017-08-24 15:32] Yenthe666 commented on #1325
Hi @rdeheele,

Thank you for your report.
This report is against an Odoo version that is no longer supported (Odoo supports back untill three versions).
As this bug is for an old Odoo and I can't reproduce it anymore I'm closing this.
Please do feel free to create a new issue if you face this for V8, V9 or V10.

Regards,
Yenthe

[2017-08-24 15:32] #1325 closed

[2017-08-24 15:33] Yenthe666 commented on #1317
Hi @ghost,

Thank you for your report.
This bug cannot be reproduced anymore and has probably been fixed ages ago, just nobody closed it.
Closing as this is no longer the case.

Regards,
Yenthe

[2017-08-24 15:33] #1317 closed

[2017-08-24 15:34] Yenthe666 commented on #1315
Hi @JulioSerna,

Thank you for your report.
It looks like nobody has looked into this issue before but it shouldn't be here anymore in the newer versions (8.0, 9.0, 10.0).
Do feel free to create a new bug report if you can reproduce it in newer versions though!

Regards,
Yenthe

[2017-08-24 15:34] #1315 closed

[2017-08-24 15:37] Yenthe666 commented on #1311
Hi @martinauger03,

Thank you for your report.
This bug has been fixed quite a while ago and is no longer present in Odoo V8 and up.
If you can still reproduce it on V8, V9 or V10 then please don't hesitate to create a new bug report!

Regards,
Yenthe

[2017-08-24 15:37] #1311 closed

[2017-08-24 15:42] Yenthe666 commented on #8187
@sle-odoo any update on this one? It would still be handy! 😄

[2017-08-24 15:43] Yenthe666 commented on #1386
Hi guys,

First of all, sorry for the very late reply on this.
as @cyrilgdn has pointed out this is hardcoded in Odoo and is done for performance reasons. You could bypass this by simply searching something and removing the filter again, or expanding it. This has been done on purpose.
This might eventually be changed to a configurable setting but is not the case up untill now (V10)

Regards,
Yenth

[2017-08-24 15:43] #1386 closed

[2017-08-24 15:44] sle-odoo commented on #8187
I think this is actually a wanted behavior. I'm pretty sure we won't patch that in v8 but maybe @ged-odoo can give you insight?

[2017-08-24 16:03] Yenthe666 commented on #8187
@sle-odoo against the master would be a perfect moment though. Curious about the feedback from ged-odoo. Perhaps there is a good technical reason not to.

[2017-08-24 16:05] pedrobaeza commented on #13264
I can agree with the rationale of part of the article, but it also let some cases that are not covered and the use case I expose can be a good example, and it also don't take into account a factor that happens on a transactional system (multi-record) like Odoo: it's very annoying to navigate through records and have notebook pages, smart-buttons, fields that appear and disappear according each rec

[2017-08-24 18:28] JKE-be commented on #19039
Yes, it is a solution.

Undefined is not a stage, so it cannot be updated, on each model you will have it when you group by a field that is undefined on some record.

[2017-08-24 18:28] #19039 closed

[2017-08-24 18:50] JKE-be commented on #18948
@Cocographique can you check it plz

Wraps both button into a row should fix the problem

[2017-08-24 20:00] Yenthe666 commented on #19039
To be extra clear: this is desired and wanted behaviour. :)

[2017-08-24 23:18] odony commented on #18679
There was a bugfix (see 6a366b216b3d119cd5546c877a2f77b5342cb452) behind this specific subquery. Having a flag to deactivate the fix would be incorrect, and would soon backfire.
Having a flag that goes back to using postprocessing for translations instead of JOINs would be a step back, with its own performance problems too.

But perhaps the upfront cost of the subquery can be reduced on the Postgr

[2017-08-24 23:23] antonylesuisse commented on #13264
I dont think we have many use cases for those disabled buttons, but I wont block the feature if it's implemented cleanly. My point was:
- there is a workaround  you can generate the same html as a stat button with a simple char field.
- there are more important improvements in the pipe in terms of usability i.e. attrs for invisible in o2m list view based on a domain instead of context  (badly need

[2017-08-25 00:46] aduijs commented on #19019
double checked everything, we do have a build that includes that commit you mentioned

to show you an example the links below show up in the sitemap but none of these are published:
<url>
<loc>https://www.sapelli.pe/shop/product/pandora-2818</loc>
</url>
<url>
<loc>
https://www.sapelli.pe/shop/product/panel-metalico-4053
</loc>
</url>
<url>
<loc>https://www.sapelli.pe/shop/product/panel-pd-3899</l

[2017-08-25 01:01] taifu commented on #18679
We already implemented all of your (good) advices. Unfortunately this doesn't help. With this image, adding a row to an order increased from subsecond delay to unacceptable 5 seconds. I try to implement a monkey patch that leaves the subquery injection only for ui_* tables and this helps. Which are the problem you fear will backfired us? Thanks a lot @Odony

[2017-08-25 01:02] taifu commented on #18679
We logged every query and there are tenths of them that increased from 20 milliseconds to 200. This was the real problem. Using English as the interface language, solved the delay problem so it's surely this fix the culprit @Odony

[2017-08-25 01:10] taifu commented on #18679
Looking 6a366b216b3d119cd5546c877a2f77b5342cb452
I see it's only a workaround to prevent problem with double translation for the same term and language. I find this really strange: such a degrading fix only to prevent a wrong situation. A unique key would be enough. Or a task that send an alarm for double translations. But this fix is a nightmare :-(

[2017-08-25 01:35] odony commented on #18679
Well, the problems that were fixed by the patch: incorrect numbers of results in SELECT queries in the presence of duplicate translations. You'll need to protect against that in a some way.
Having a unique constraint might work for you, but you'll need to care for adding it, and handling the cases that will possibly be broken by the constraint. This is not something we can do [in a stable version]

[2017-08-25 01:38] odony commented on #18679
@rco-odoo @antonylesuisse @beledouxdenis Given the focus on performance in Odoo 11, it might be time to replace 6a366b216b3d119cd5546c877a2f77b5342cb452 in master by something smarter and faster, like a unique constraint.

[2017-08-25 01:40] taifu commented on #18679
@Odony thanks a lot. Reading again my messages,  I find them a little bit too rude. It was not my intent. Thanks again.

[2017-08-25 01:41] fhe-odoo commented on #18565
@anajuaristi, I'm pretty certain that @lap-odoo was exclusively talking about the official modules contained in the Odoo Community edition and not about the community modules.
She even wrote "The above explanation is for the official Odoo distribution only."

Also, she wrote "it's still possible for third-party community apps to implement
accounting features based on the official Odoo code".
- Who

[2017-08-25 04:44] gdgellatly opened #19052 "JS Error setting taxes on accounts - master"
Impacted versions: master

Steps to reproduce:
In runbot, master go to Sales Orders
Edit or create a sales order - whatever you need to do be able open a product from a Sale Line
Open a product
Open its Category
Open the income account
Set a default tax
Click Save

Current behavior:
Error:
Uncaught TypeError: Cannot read property 'type' of undefined

http://257501-master-4eb83c.runbot5.odoo.com/we

[2017-08-25 05:38] gdgellatly opened #19053 "Master - create="0", create="false" does not work"
First @odony do we want issues reported on master?  Is hard when it is WIP, but close to release to know and its not like it is a short list of open issues to look for PR's or duplicates.

Steps to reproduce. (Sorry this was easiest way to explain, as stock.picking validation is broken on master atm)

1. On runbot create a draft invoice and add a product line.
2. Save it and in debug mode edit the

[2017-08-25 07:27] be-cloud-js commented on #11973
Hi Fabian and all,

I do have the same use case and I tested your proposal and encountered an issue.

Impacted versions: Version 9.0e-20161014 (Enterprise Edition)

Steps to reproduce:
Create two companies A and B and a product that can be sold by both, eg VAT for both shall be set as explained by Fabian.

Try to create an invoice for each company including using the same product.

Current behavio

[2017-08-25 07:30] fpodoo commented on #18565
I confirm what Fabrice said: "Laura's message is purely about the official
distribution". It's not a critic of the community, or community modules.

I actually wrote this message myself in another context; to explain why we
removed the account_accountant module from master to OCA, not related to a
specific country.

We consider that the official distribution "Odoo Community", in standard,
doesn't

[2017-08-25 07:36] Yajo commented on #13264
How?

[2017-08-25 07:46] rousseldenis commented on #18679
@odony

Maybe it's the delay to have installed instances and populated DB with a sufficent amount of translations...

I regret the index (or another way was not found before launching v10 and when the https://github.com/odoo/odoo/commit/6a366b216b3d119cd5546c877a2f77b5342cb452 was developped.

So, after having created index, performances are better. A gap lasts with lang declared and not (0,5 seco

[2017-08-25 07:52] taifu commented on #18679
That's a 500% performance impact. From 0.1 to 0.5 second is negligible. From 2 seconds to 10 is devastating (at least looking at our customers reactions)

[2017-08-25 07:52] ged-odoo commented on #13264
@Yajo he means writing a div or something with a char (or other) field inside, and style it to look like a real stat button (by using as much as possible the same html structure)

However, this is not really a workaround.  It allows you to display readonly information, but it does not allow you to have a button which is active or not, depending on the current record (like a modifier would)

[2017-08-25 07:54] lmignon commented on #18679
@odony We already have fine tuned our database (pg 9.6)
[code]
Even if the patch is more than 1.5y old, we are seriously impacted on 2 large projects with a lot of records and translations into the database (multilingual context).
The tree view and the kanban view of products are unusable (minimum 8 seconds to display the first 80 items). Indeed as mentioned by my colleague @rousseldenis https://g

[2017-08-25 07:55] Yenthe666 commented on #19052
Hi @gdgellatly,

Thank you for your report. I've just tested this and can confirm it is a bug:
![image](https://user-images.githubusercontent.com/6352350/29704780-7fe17392-897b-11e7-92ff-795b0a28d2aa.png)
@ged-odoo and @qdp-odoo could you guys have a look at it?

Regards,
Yenthe

[2017-08-25 07:56] Yajo commented on #13264
Indeed

[2017-08-25 07:58] Yenthe666 commented on #13264
That is rather a 'hackish' way than a solution though. @sle-odoo perhaps we can atleast reopen the issue and label it wishlist? By the amount of responses it is clear that multiple people could use it or want it.

[2017-08-25 08:00] rousseldenis commented on #18679
@taifu Agree.

After further tests, no significant changes on interface.

Waiting for a real solution for this.

[2017-08-25 08:02] Yenthe666 commented on #19053
Hi @gdgellatly,

Thank you for your report.
I've just tested this on the master version and this indeed works:
![image](https://user-images.githubusercontent.com/6352350/29705006-7608e7d2-897c-11e7-907f-86b824b79271.png)

@ged-odoo if I'm not mistaking you're the right person to ping for this?

Regards,
Yenthe

[2017-08-25 08:06] taifu commented on #18679
@rousseldenis You could add a constraint to prevent double translation and monkey patch the method _generate_translated_field reverting it at the previous version. I already did it

[2017-08-25 08:12] JKE-be commented on #19019
It is possible that the filter on 'sold' is missing, but the product in the sitemap is only the list of product template that the user linked to the website is able to read.

Are you using multi-website? Do you have updated the ACL or record rules? Do you have custom modules ?

I cannot reproduce your problem on runbot, and without more pieces of information, I cannot help you more...

Best regard

[2017-08-25 08:32] WeeDom commented on #19039
I can *kinda* see the point, and I do understand about not being able to group by something that doesn’t yet exist, but it's very clunky and a horrible ux. It’s something that I’ll need to clearly highlight to my client, and all their staff who might come into contact with this area, to avoid multiple bug reports to me.

[2017-08-25 08:33] JKE-be commented on #19019
About the sale_ok, it is not missing, it is the desired behavior.

You can use e-commerce as catalog and don't want to sell it!

So the only criteria to be visible in the sitemap is the 'website_published' field.

[2017-08-25 08:38] gatbeaumont opened #19059 "Problem with uploading of delivery receipt for boxes"
Hi all,
I am creating a delivery with different boxes and I would like to have one delivery receipt for each box.
Anyway, everything is going well until I tried to upload the delivery receipt, I got this error message:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/addons/report/controllers/main.py", line 96, in report_download
    response = self.report_routes(r

[2017-08-25 08:48] rousseldenis commented on #18679
@taifu That's a workaround. I would prefer having a more durable and global solution

[2017-08-25 09:22] gdgellatly commented on #18679
I've ummed and ahhed about whether to comment on this for a couple of days as I don't want to hijack so sorry in advance but if we are looking at it I was wondering why we use ir_translation table at all?

Translation performance is a major production issue, not just for this report.  There are lots of modules out there to disable various translatable fields for either performance or usability rea

[2017-08-25 09:36] taifu commented on #18679
@rousseldenis I agree. The problem is that our customers don't 😁

[2017-08-25 09:40] taifu commented on #18679
@gdgellatly wow! Great idea. I think that ir_translation has its "raison d'etre" for UI data, but for customer's data this is great!

[2017-08-25 09:51] taifu commented on #18679
@gdgellatly wow! Great idea. I think that ir_translation has its "raison d'etre" for UI data, but for customer's data this is great!

[2017-08-25 09:51] taifu commented on #18679
@gdgellatly wow! Great idea. I think that ir_translation has its "raison d'etre" for UI data, but for customer's data this is great!

[2017-08-25 09:52] taifu commented on #18679
Damn cellphone! I didn't want to close it!!

[2017-08-25 10:22] gdgellatly commented on #18679
@taifu thx.  There is one other opportunity for this datatype as well that I see and that is certain ir.property fields (the non relational ones mostly) which also suffer performance issues.

e.g. 'SELECT name, company_cost_price -> '9' FROM product WHERE ...;' where 9 is the company_id of the company.

[2017-08-25 10:26] taifu commented on #18679
Yup! Also ir.property fields would benefit a lot. Hope Odoo is listening here 😉

[2017-08-25 10:45] WeeDom opened #19068 "[10.0] breadcrumbs in Project module go mental"
Impacted versions: 10.0

Steps to reproduce:
1. create project with a task
2. click task title
3. click project title in task-view
4. click "1\nTasks" icon (takes you back to kanban tasks-view)
5. click task title
6. click Project title in task-view
7. click "1\nTasks" icon
 repeat ad infinitum

Current behavior: breadcrumbs are incorrect, as per attached image

Expected behavior: breadcrumbs shou

[2017-08-25 12:02] pedrobaeza commented on #18565
Thanks all for clarifying, although answers being bitter, so coming back to the issue itself, as stated I will continue giving advise/review for free on the Odoo community part.

@oco-odoo About the account types, they were kept for legacy reasons (although I clean/merge some of them in one of the refactoring), but there's no real reason for keeping them as they are. The use of that types given by

[2017-08-25 12:05] smetl commented on #18572
**/!\ The branch will be merged at the end of the next week.**

Thank you very much to test it before this date, otherwise I will not have time to fix the issues regarding your comments.

[2017-08-25 13:51] Yenthe666 commented on #18995
@mart-e just double checking. Does this mean I also have to change the translations for every language it's `.po` file? not only `.pot`?

[2017-08-25 14:10] ged-odoo commented on #19053
looks like a bug with the new views. I added this issue in our team's internal todo list

[2017-08-25 14:10] ged-odoo commented on #19053
@Yenthe666 yep, most likely a bug coming from the new views...  I added this issue in our team's internal todo list

[2017-08-25 14:11] ged-odoo commented on #19052
looks like a bug with the new views. I added this issue in our team's internal todo list

[2017-08-25 14:54] GavyMG opened #19076 "[8.0] Search field for pricelists"
**Impacted versions:**
8.0

**Steps to reproduce:**

- Go to the pricelists view
![image](https://user-images.githubusercontent.com/19410285/29717068-da70a58a-897b-11e7-81b6-cc2c16267195.png)

- Search a pricelist
![image](https://user-images.githubusercontent.com/19410285/29717516-6d475862-897d-11e7-8f82-8e5c7d2d813e.png)
- In English
![image](https://user-images.githubusercontent.com/19410285/29

[2017-08-25 17:58] aduijs commented on #19019
It seems a git pull solved the problem, the commit you mentioned earlier indeed wasnt applied. which is kind of strange because the last time i pulled git was in may.
anyway, that's solved.
As for the original question, the recruitment links. ill guess ill have to wait for the solution then.

[2017-08-25 18:01] JKE-be commented on #19019
Nice to hear it!

About the recruitment, the patch will probably don't come before the v11.

What you can already do to decrease it, is to remove unused country :/
For the department, there are not really hack except cherry pick my commit.

[2017-08-25 18:01] #19019 closed

[2017-08-25 18:08] gustavovalverde commented on #17983
@wtaferner for example:

Informal sellers in most LATAM countries have some kind of retention, but just when you're buying from those kind of "companies"/persons.

That same, let's say "informal seller", which is Partner X, has a different behavior when I'm selling him, And yes, I could use that same fiscal position, but from a user point of view it could get really confusing and messy to actually

[2017-08-25 20:04] prassannajohnpaul commented on #8514
Any update on the same?

[2017-08-25 20:33] XeJames commented on #15308
@sle-odoo  Thanks Simon.  I paid for Enterprise and was getting kinda frustrated at my failure to do a simple install... I was using Sid.

I am now downloading Jessie and hope that all will install as advertised :-)

[2017-08-25 20:58] bistaray commented on #18929
We wrote a refresh button for this.

[2017-08-26 01:58] jj3666 commented on #17002
Coming up on two months. Also with the wkhtmltopdf issue on the new platforms. Please state LTS support only if you do not plan on intermediaries for Ubuntu. But Debian is a NEW release. Please, give this some attention.

[2017-08-26 02:10] gdgellatly commented on #17002
IMHO the issue with wkhtmltopdf is more old/safe documentation for issues
that never affected or now no longer affect Linux. Lots of community have
used stretch for a long time with 12.4.

Wkhtmltopdf 12.4 is just fine, however for it to produce exact same output
as 12.1 or whatever the recommended version is you need to disable smart
shrinking, due to a bug in old version of wkhtmltopdf.

On Sat,

[2017-08-26 03:11] wtaferner commented on #17983
@gustavovalverde
You are right, I finally got your use case and indeed something which is difficult at the moment, although I could think of quite some workarounds to manage the use case mentioned as you did yourself as well. I would probably tackle this by some customization.

But anyway, if it would be possible that this use case is tackled by Standard Odoo with fiscal positions it would definit

[2017-08-26 10:32] natoine opened #19083 "needs examples of XMLRPC requests with javascript"
Hello Guys,

I'd like to make XMLRPC requests on Odoo using node.js
And I was wondering why don't you give an example of XMLRPC requests using javascript in your API documentation ?
http://www.odoo.com/documentation/10.0/api_integration.html

I've tried these node modules but still don't get any satisfying result :
https://github.com/baalexander/node-xmlrpc
https://github.com/faisalsami/odoo-xmlrp

[2017-08-26 10:54] gustavovalverde commented on #17983
@Yenthe666 could I get some _tagging love_ here?😸

[2017-08-26 11:04] Yenthe666 commented on #17983
Ofcourse! I do believe it'll fall under wishlist eventually though 😉

[2017-08-26 11:05] Yenthe666 commented on #19083
@mart-e perhaps a nice addition to the docs?

[2017-08-26 12:14] pedrobaeza commented on #18438
Any news on this?

[2017-08-26 14:34] cvinh opened #19084 "[10.0/11.0-point_of_sale] account mapping is wrong with fiscal position"
Impacted versions:
10.0/11.0

Steps to reproduce:
- Setup a fiscal position with account mapping for income account and receivable account
- Make a pos_order with the fiscal position

Current behavior:
- When pos is closed, account mapping is not done and the account_move does not take the mapped income account nor receivable account

Expected behavior:
- The account_move should take the mapped in

[2017-08-26 14:47] Yenthe666 commented on #18396
@JKE-be any update for this one?

[2017-08-26 14:48] Yenthe666 commented on #18207
Hi @Derter,

Do you have any additional info?

[2017-08-26 16:53] JKE-be commented on #18396
Imho, it has been fixed...

[2017-08-26 17:04] gustavovalverde opened #19086 "[10.0] point_of_sale: Can't close the POS Session if a "not allowed" refund is done"
### Impacted versions:
All

### Steps to reproduce:
1. Set the **Cash** journal with just an `inbound_payment_method_ids`. (do not set an `outbound_payment_method_ids`)
2. Set `journal_user` to True, so it can be used on the POS.
3. Start a POS Session.
4. Sell a product of $100 using Cash journal.
5. Refund the product of $100 using the Cash Journal
6. Close the Session
7. Validate

### Current b

[2017-08-26 17:16] Yenthe666 commented on #18396
@vishmehra can you update your Odoo and try again please?

[2017-08-26 18:50] Nothenn opened #19087 "[10.0] Cursor not entering text in the correct place"
Impacted versions: Encountered issue in 10.0 and 9.0 but haven't used other versions

Steps to reproduce: Currently no exact steps but after using the website builder's HTML editor the cursor will not function properly after certain lines, but no pattern found on why it occurs after those lines.

Current behavior: The HTML editor enters text anywhere from 1-8 position to the left of where the curs

[2017-08-26 20:27] blaggacao commented on #17983
What I did: I took inspiration in the tax cloud module, and overrode the map_tax method, just to deviate it for my specially marked "colombian" fiscal positions, there I apply the free-form logic based on ADDITIONAL partner attributes. Additional attributes, because in Colombia it is not always just on quality, but can be a wired combination of potentially a large table of fiscal qualities, which

[2017-08-26 20:39] gdgellatly commented on #19087
I can confirm this for a vanilla v10, it is really confusing.  Everything
works fine, you then edit another block, go back to original and cursor is
either elsewhere or non existent.  Sometimes you get no cursor, sometimes
its where you last edited, sometimes its where you place it.  I guess I
kind of got used to it so never reported.

On Sun, Aug 27, 2017 at 6:50 AM, Nothenn <notifications@github

[2017-08-26 21:21] blaggacao opened #19088 "[BUG / Inconsistency] In PO, dest location of move differs from dest location of operation, when a push rule applies"
Impacted versions:
10.0 from last week approx.

Steps to reproduce:
1. Create a location WH/Stock/RawMat
2. Create a route with a push strategy WH/Stock -> WH/Stock/RawMat
3. Put that rute on a (stockable) product, that can be bought
4. Create a PO with that product and confirm this PO

Current behavior:
Developer-Mode = on

1. If you review the move, that has been created (Initial Demand Tab), yo

[2017-08-26 21:27] blaggacao commented on #19088
/cc @jco-odoo

[2017-08-26 22:29] jorenvo commented on #17963
Thank you for reporting the issue. It has been fixed in 9.0 at b5aaf0d527cdab794058ccbbf3cd5d215fd9a5af. This patch will be forward-ported to all supported later versions of Odoo.

[2017-08-26 22:29] #17963 closed

[2017-08-27 00:20] gustavovalverde opened #19089 "[10.0] Wrong UoM Factor exported and imported"
### Impacted versions:
10.0

### Steps to reproduce:
Export a UoM that's **bigger** than the unit of reference by a `factor` of 2.0

### Current behavior:
Exported factor is 0.5 instead of 2.0

### Expected behavior:
Depending on the `uom_type` the factor should be correctly computed for import or export, otherwise different fields should be used. Right now it's very confusing to make imports or m

[2017-08-27 01:18] seancallahan88 opened #19090 "[10.0] Suggestion for AccountAnalyticLine in Sales module, function _get_sale_order_line"
Impacted versions:
10.0
Steps to reproduce:
When a quotation template has a contract associated with it, and both service and stockable items, when the sale is confirmed it will start as state 'done' instead of state 'sale'. This causes issues when the template was made in v9e and has gone through an upgrade.

Current behavior:
Any invoice made from above template will raise
'raise UserError(_('Th

[2017-08-27 05:11] wtaferner commented on #17983
@blaggacao
Sounds like a good plan or input for @qdp-odoo and others ;-) Having a clear entry point for sophisticated application via inheritance is crucial for almost all processes in Odoo.

As stated I had no big issues yet for the fiscal position mapping part.
I am still waiting and hoping for the use case specific rounding method (global vs. per line) based on the fiscal position (b2c vs. b2b)

[2017-08-27 06:55] cmsalmeida commented on #18565
@pedrobaeza I hope this doesn't seems to be only the beginning...
Of course all code customised and developed by the community should remain CE. But more than that receive the proper merit and respect they deserve by at least avoid paths that would create incompatibilities as much as possible. Share is free, but development and maintenance costs a lot of time, money and effort from all of us. A si

[2017-08-27 16:00] blaggacao commented on #17983
@wtaferner Maybe this (rounding) would be overloading FISCAL positions, don't you think? But why not on the partner directly? It varies indeed per partner for example in Colombia, as both rounding to 1 and rounding to 0.01 are usual, but once chosen, stubbornness on accepting invoices is infinite on this topic.

[2017-08-27 17:22] blaggacao commented on #19088
Please find linked as PR my suggestion for a fix.

[2017-08-27 17:34] blaggacao commented on #18637
## Check Printing
Let the code speak:
`# TODO: merge, refactor and complete the amount_to_text and amount_to_text_en classes`

[2017-08-27 17:35] wtaferner commented on #17983
Hmm, not really agree on that one as someone could argue, sometimes I need to use tax included prices and sometimes I use tax excluded prices for the same partner or what if the partner is providing tax included invoices to you as a buyer and you are selling with tax excluded prices to the partner? ;-)

Actually it would be perfect if it is more explicitly possible to be chosen directly on the inv

[2017-08-27 17:44] blaggacao commented on #18637
## MRP piecework payment

- Right now, you can configure a work-center to represent a hourly cost, which is nicely summoned upon the COGS value in inventory.
- Tomorrow, it will be nice, to be able to set a piecework cost on the work-center to achieve the same thing, but piece- not time-based (small adoptions needed to the cost analysis report, as well)

[2017-08-27 19:57] blaggacao commented on #18637
## map_tax call signature consistency
As elaborated here: https://github.com/odoo/odoo/issues/17983#issuecomment-325160029

[2017-08-27 20:08] blaggacao commented on #18637
## Better stateful guarantees to _set_additional_fields

#### PO Workflow

1. account.invoice: onchange on `purchase_id` triggers setting of partner
2. rather direct call afterwards to `_set_additional_fields` (even before `account.invoice create`)

As a result, the only promise about the invoice object itself, that `_set_additional_fields` receives is that we have a partner, a company and a `purc

[2017-08-27 22:37] ymazal commented on #6219
Wow ! That documentation is very confusing.... And if you put the attribute store to true, to get into another complicated problem: when should the field be computed ?

In that case, you have to provide the field that its based on, but some times, there is not simple field... Imagine a case where the first element of many to many is taken and checked...

[2017-08-27 23:05] cpintofonseca commented on #16269
I can confirm this issue.

The error is self explanatory, the field costs_hour doesn't exist in the mrp.workcenter object in Odoo CE because it's being created in mrp_account OE module.

[2017-08-28 03:02] gdgellatly opened #19094 "Error introduced by bad SQL query in 6f39672eb686f07ca3941a878c24895c79f2c889 master"
Impacted versions: master
@tde-banana-odoo made the commit.
Steps to reproduce:
Pull the version with any existing invoices.
Update account
Watch error.

In the function L496 of account/model/account_invoice.py
[code]
It uses the model rather than table name, so you get an error UPDATE account.invoice ... Relation does not exist.

Current behavior:
Server won't start
Expected behavior:
Server star