[2018-03-28 14:18] gustavovalverde commented on #23814
As update based on the ticket:

My problem is not oriented to salary structures but to salary rules, as their use in multi-company is completely confusing and error prone, because:

1- If a salary rule has **Company A** set, the rule can still be **seen** through **Company B**.

2- If a salary rule has **Company A** set, it still allows to set **Company B accounts**. (which causes major confusions

[2018-03-28 14:39] rco-odoo commented on #23891
@pedrobaeza the `onchange` method never calls inverse methods on fields. It simply was not meant to be that way. Therefore your proposal is clearly a behavior change.

To be more complete, doing what you propose is generally not a good idea. I have thought about that idea before, you know :wink:. There is a fundamental difference between compute methods and inverse methods:
* Compute methods shoul

[2018-03-28 14:39] #23891 closed

[2018-03-28 14:48] Yenthe666 commented on #23909
@mart-e it shouldn't persé show the RAM and server specs. It should give a clear indicator that this is the problem or a graceful fail.
@Elkasitu you're a bit fast with closing here, no? 😉

[2018-03-28 14:58] chris001 commented on #23909
* One thing to keep in mind, many users self-install this Odoo app, and don't have a dedicated sys admin to monitor the system, so they're counting on the Odoo app itself to communicate clearly and quickly to them, of serious system failures.
* If you don't want to show a detailed technical popup/toaster to the user, and just blame the sys admin, fine, but there are alternative solutions to this p

[2018-03-28 15:10] sswapnesh commented on #23817
@hugho-ad
Try to open URL where Database is preselected or start the server with `--db-filter`.

[2018-03-28 15:20] pedrobaeza commented on #23891
Thanks for the tip about the `onchange` on the field. Indeed, we can make several operations in inverse methods, like creating extra records, modify other records in other models... so it's logical to not call that inverse methods on the fly. Now I understand that my case was a very limited one for inverse method.

In v10 any way it was working that way, so we can consider this an improvement for

[2018-03-28 15:29] krueger80 commented on #23771
We had the same reasoning as you @maitaoriana. We had open a ticket with Odoo (1807735). Here is a copy and paste of the discussion we had with support: https://docs.google.com/document/d/11SYhobpUiBfcsHZnOAObG4l6BaPnkMqrh1rW-4HVS04/edit?usp=sharing

In the end, this a how they designed it... as confusion as it can be with multi-currencies. I personally think the design is bad. Pricelist should be

[2018-03-28 15:53] osamaIT opened #23926 "heloo odoo develpoer in need help " i need to show related and relation fields in Qweb report when i use " o.myfields i see just the name of relations in my report"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-03-28 16:12] max3903 opened #23927 "Stock move state when purchase request (line) is deleted or cancelled"
Impacted versions:

11.0

Steps to reproduce:

* Configure your warehouse with 2 steps receiving
* Create a MTS product with a reordering rule and a vendor
* Run the scheduler
* Cancel the purchase request
  * or delete the purchase request
  * or delete the purchase order line

Current behavior:

* The stock move from input to stock is in state 'Waiting for another operation'

Expected behavior:

[2018-03-28 16:12] krueger80 commented on #23756
Filed a ticket for that too (1777705). Since Odoo has a frontend website, this can be particularly dangerous as the users aren't aware the change will impact recent and old orders. Their argument is that it can be useful to correct address :/ Here is a copy/paste of our exchange with support: https://docs.google.com/document/d/1EKLQHK2-d0d7KrvyGSrCKY1edEALdBOgKrTRQv_dAq4/edit?usp=sharing

Ticket c

[2018-03-28 16:15] maitaoriana commented on #23771
@cecchip I agree with you, it is a design problem. But i do not think that a problem like that can be solved in a stable version of odoo (11.0), but maybe in a next version.

FYI: A temporary solution could be add wizard to change currency and updated the lines.

[2018-03-28 17:15] salmankh334 opened #23928 "AssertionError: Ran out of data to read in odoo.sh"
Impacted versions: v11

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
![odoo_sh](https://user-images.githubusercontent.com/22784513/38045280-fd8065a8-32d9-11e8-9b76-746805e9b650.png)

[2018-03-28 17:22] pedrobaeza commented on #23928
Please provide more information about how to get the error.

[2018-03-28 17:27] salmankh334 commented on #23928
We have created a custom module for brand based pricelist. After the development in our local system we tried to push it  to the odoo.sh and got some error in the query which we have used in the pricelist model. After correcting that we again tried to push it and it is showing like this.

[2018-03-28 17:30] pedrobaeza commented on #23928
Well, this is about odoo.sh, so this issue tracker is not exactly for that. @Yenthe666 do you know how to proceed here?

[2018-03-28 17:52] Yenthe666 commented on #23928
Hi @salmankh334,

Thanks for the report. You should report these through the official support channel at Odoo.com/help though.
Judging by the traceback I'm assuming that your module is failing one of the tests. Usually this happens when you miss a module dependency or when you're working with website themes.
@dbo-odoo perhaps you could have a look though?

Regards,
Yenthe

[2018-03-28 17:52] #23928 closed

[2018-03-28 18:31] Yenthe666 commented on #23926
Hi @osamaIT,

Thanks for the issue but Github is only for bugs in the official Odoo code.
You can ask questions on the official forum at help.odoo.com

Regards,
Yenthe

[2018-03-28 18:31] #23926 closed

[2018-03-28 19:01] osamaIT commented on #23926
i need to ask but i cant do it , what is karma requirment in help.odoo.com

[2018-03-28 20:13] Yenthe666 commented on #23926
Hi,

You need to verify your email in order to get enough karma for posting questions. This I to combat spam users.

[2018-03-29 00:56] jlzhou opened #23930 "[11.0] The whole forecasted digital doesn't show in Chinese or Japanese."
Impacted versions:
11.0
Steps to reproduce:
Convert to Chinese or Japanese Lang, go  product page.
Current behavior:
See below picture.
Expected behavior:
Show whole digital when the display space is sufficient.
Video/Screenshot link (optional):
English is OK
<img width="722" alt="forecast4" src="https://user-images.githubusercontent.com/1243299/38064174-37ea01ae-332f-11e8-9569-27beede2bffd.png">

[2018-03-29 02:03] voldedore commented on #23756
Well, that argument is not quite convincing to me. I even think about the contrary. The address correction should not affect the order once the order has been created, _even if it's really a typo_.

If it's the case, the customer is invited to contact the CS in order to modify the address, or, simply cancel the order, and redo another one.

Thanks for your info, @krueger80,  and good to know that

[2018-03-29 07:00] mart-e commented on #23909
Maybe the marketing department will make you think Odoo is as easy to install as any desktop application on your computer but this is a bad idea to consider you can just "install and leave it". Sorry to disagree, but I believe you need some minimal technical knowledge to manage an Odoo installation (but I know this is not a opinion everybody agrees on).

Showing a clear error instead of a tracebac

[2018-03-29 08:10] lukebranch opened #23931 "[Odoo.com] QUESTION/WISHLIST: ReactJS Use in Odoo User Documentation. Are there plans on using ReactJS in Odoo Website?"
<h1>Impacted versions:</h1>
Master/Odoo.com
<h1>Steps to reproduce:</h1>
In chrome, visit:<br/>
<a href="view-source:https://www.odoo.com/documentation/user/11.0/index.html">view-source:https://www.odoo.com/documentation/user/11.0/index.html</a>
<h1>Current behavior:</h1>
Line 31 of index.html includes react.js:<br/>
```    <script type="text/javascript" src="_static/react.min.js"></script>```
<h1

[2018-03-29 08:31] Yenthe666 commented on #23931
Hi @lukebranch,

I don't think there is any idea for this.
@JKE-be can answer this though.

[2018-03-29 08:40] JKE-be commented on #23931
Hello,

No, actually there is no plan to use react.js

Best regards

[2018-03-29 08:40] #23931 closed

[2018-03-29 09:10] amoyaux commented on #23552
Hi,

Currently the capacity is only used in planning and report.
If you want to have multiple users working on the same operation for different finished product at the same time. The solution is to create duplicate work orders instead of creating a MO of 4 create 4 MO of 1 products. That will create 4 work orders of 1 and you users will be able to work in parallel.

(Same behaviour if you are usin

[2018-03-29 09:12] Yenthe666 commented on #23552
@amoyaux in short: this is the desired behaviour for Odoo and it will not be fixed/changed?

[2018-03-29 09:14] amoyaux commented on #23552
@Yenthe666 Yep

[2018-03-29 09:24] Elkasitu commented on #23808
Hi @chienandalu,

I talked with @rco-odoo and unfortunately this bug is not fixable in a stable branch, it practically requires a whole refactoring of the `osv.expression` module as the `_auto_join` feature is improperly implemented, the code in `osv.expression` is very old and even if we could devise a nasty hack to fix it in stable branches, it would probably break business code everywhere (not

[2018-03-29 09:24] #23808 closed

[2018-03-29 09:28] #23552 closed

[2018-03-29 09:28] Yenthe666 commented on #23552
Thanks for the feedback, I guess this can be closed then. Sorry guys.

[2018-03-29 09:39] pedrobaeza commented on #23808
Can you tell us a possible hack for performing the expression in 10/11?

[2018-03-29 09:59] sergeiruzkiicode opened #23934 "No messages in inbox until lead is opened"
Impacted versions:
11.0E

I see in my email notification about new incoming message in one of the leads I follow. I open browser, login in Odoo.
Discuss --> Inbox - empty
Click on Conversations - nothing new
![2018-03-29 12-52-56](https://user-images.githubusercontent.com/34267807/38082874-b380d43e-3350-11e8-8c27-4c548cca4821.png)

But I know - there is something. I go to CRM, find lead, open in a

[2018-03-29 10:04] Yenthe666 commented on #23808
Hmm, good question @pedrobaeza. I'm amazed that I haven't been bitten with this one before (or I don't know yet). Quite a big one.

[2018-03-29 10:30] Elkasitu commented on #23808
@pedrobaeza You would have to modify https://github.com/odoo/odoo/blob/4c08b98c8a7ed43a6ef65f5a1eda9c0bb71901ec/odoo/models.py#L3682-L3731

So as to parse the `WHERE` clause and find the part that currently creates a cartesian product of two tables:

[code]

and convert it to the appropriate JOIN for the type of field (potentially different for o2m, m2o, m2m)

[code]

but I wouldn't advise this as

[2018-03-29 10:34] pedrobaeza commented on #23808
Yeah, I see... Well, we'll find an alternative domain expression.

One last thing: is there any possibility of detecting this situation and throw a log alert for at least being aware of the problem (the same way you have alerts for writing non-existing fields for example)?

[2018-03-29 11:05] rdeodoo commented on #22081
Hello @lukebranch

Sorry for the late reply, kinda forgot about this one.
That can totally be done as you can see in this video: https://drive.google.com/file/d/1NIyRphWHQL3sc96y9uI5KnTD9ePTjqb6/view

You can tell that `x` product `A` give `y` product `B`. (B could be A, the same product like the example on the video and the ones you mentionned)

In my case, 5 Can of Coke give you access to 1 free

[2018-03-29 12:02] pimodoo commented on #23927
fuxed in rev https://github.com/odoo/odoo/commit/7560bb7f42e82da0bd6f7ca8b0f4bc02979157b8

[2018-03-29 12:02] #23927 closed

[2018-03-29 13:25] nim-odoo commented on #22540
The feature was indeed removed in v11.

[2018-03-29 13:25] #22540 closed

[2018-03-29 14:52] zbik2607 opened #23946 "Qweb-html exceptions raised as Internal Server Error"
Impacted versions: 11

Steps to reproduce:

1. create report with report_type="qweb-html"
2. customize method get_report_values() like this

[code]
Current behavior:

**Internal Server Error**

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

Expected behavior:

Message wizard: "Odoo Server E

[2018-03-29 14:56] pedrobaeza commented on #23946
At that level the exception can't be processed the way you want, so you will need to find another way of popping up a message to the user, like a wizard or similar.

[2018-03-29 14:56] #23946 closed

[2018-03-29 15:11] sum1201 commented on #23910
@Yenthe666  Why no man reply me ?

[2018-03-29 15:13] mlaitinen opened #23947 "[11.0] Authentication broken after update for existing users"
Impacted versions: 11.0

Steps to reproduce:
1. Create a database in Odoo `v11.0e-20180128`
2. Log in (get session id to your browser as a cookie)
3. Upgrade the database to Odoo `v11.0e-20180329`

Current behavior:
Users that have logged in will see the following page in their browser:

[code]

Expected behavior:
The login works.

Workaround:
Empty browser cookies or use incognito mode.

This pro

[2018-03-29 15:14] Yenthe666 commented on #23910
@sum1201 community bug reports are handled in a best effort. There are even bug reports that have been open for over 2 years. If you have an enterprise license you can escalate your issue through odoo.com/help

[2018-03-29 15:15] Yenthe666 commented on #23947
Oh hey, I've had this today too! I thought I broke something myself.
Tip: You can bypass this issue by running Odoo in incognito mode, it will work for now.

[2018-03-29 15:22] mlaitinen commented on #23947
I had to monkey patch that function because I didn't want to explain our client why I broke the production environment. Of course I didn't notice this in staging because I didn't have an existing session in that database.

[code]

[2018-03-29 15:28] zbik2607 commented on #23946
But ... when report_type="qweb-pdf" exception is processed ok.

[2018-03-29 15:33] pedrobaeza commented on #23946
Yeah, but it's something inherent the way this is done internally.

[2018-03-29 16:00] #22081 closed

[2018-03-29 18:26] zbik2607 commented on #23946
Is a big problem at least raise werkzeug.eceptions.HTTPException in web/controller/main.py, in method report_routes?

[2018-03-29 18:27] pedrobaeza commented on #23946
Well, I haven't dug enough on this, but if you want that, try to do it and propose a PR improving that part.

[2018-03-29 20:48] mohamedhagag opened #23949 "Why we have this restriction on Product UoM change in accounting?"
https://github.com/odoo/odoo/blob/1631889e917b29066e4fb8f2d851723927bd35ff/addons/account/models/product.py#L40

https://github.com/odoo/odoo/blob/1631889e917b29066e4fb8f2d851723927bd35ff/addons/account/models/product.py#L51

Hi @fpodoo @odony

Sorry for interruption, but I wonder why we overridden the write function to put such restriction ??
BTW there's a comment by odoo developer asking the sam

[2018-03-29 21:55] sergeiruzkiicode opened #23950 "[Question]Proper way to start web listener with Odoo?"
Impacted versions:
11.0
I've asked on odoo-forum, on stack, but became no answer. So I'll ask here - sorry if it bothers you.

We use a python library, that is a listener for external web events(python-telegram-bot).
So we wrote some functions, that can be called, make stuff and so.
So what is the proper way to start this job with odoo11(as worker?) without bunch of third party apps?

[2018-03-29 23:17] icoro opened #23951 "How to cancel a sales order after products have been delivered and returned?"
Impacted versions: V11

If I create a sales order and deliver the product. Then I can return the product in which case I should be able to cancel the sales order but it won't let me even after returning the product.  Odoo should be able to recognise that the product was returned (there is another stock picking) so that I can cancel the sales. The reporting of the sales are wrong because of this. S

[2018-03-29 23:32] jlzhou commented on #23930
I think it is not about translation, but about style sheet setting.

[2018-03-29 23:51] dudeunix67 commented on #23297
No results in chasing this one down.  I am going to close this issue.

[2018-03-29 23:51] #23297 closed

[2018-03-29 23:55] sum1201 commented on #23910
@Yenthe666  enterprise ticket : 1832796
thanks

[2018-03-30 00:32] Ark74 opened #23952 "POS Mercury Module - Partially Approved"
**Impacted versions:**
Odoo v10CE

**Steps to reproduce:**
1. Install Odoo 10 (latest commit)
2. Install _Mercury Payment Services_ (10.0.1.0)
3. Setup Mercury and Credentials as described here:
a) https://www.odoo.com/documentation/user/10.0/point_of_sale/advanced/mercury.html
b) https://www.odoo.com/forum/help-1/question/step-by-step-guidelines-to-accept-credit-card-payments-in-odoo-pos-92896#an

[2018-03-30 03:35] Ark74 commented on #23952
Seems like something here is not completely right,

https://github.com/odoo/odoo/blob/10.0/addons/pos_mercury/static/src/js/pos_mercury.js#L422

Thanks.

[2018-03-30 05:53] Ark74 commented on #23951
Please try to use https://www.odoo.com/forum/help-1 for this kind of questions.
GitHub is more related to issues at code level and development.

Cheers!

[2018-03-30 07:50] Yenthe666 commented on #23910
Awesome, thanks for the feedback!

[2018-03-30 07:51] Yenthe666 commented on #23951
Hi @icoro,

As mentioned by @Ark74 the Github tracker is only for issues/bugs in the official code. Questions can be asked on the help forum at https://www.odoo.com/forum/help-1

Regards,
Yenthe

[2018-03-30 07:51] #23951 closed

[2018-03-30 07:51] Patrickar opened #23954 "[10.0] Adding item (sale.order.line) on sale.order on mobiel devices only shows quantity & price"
Impacted versions:

Odoo 10 APP or mobile device (thus small screen)

Steps to reproduce:

1. Create a sale.order
2. Click on "add item" on sale.order
3. Select product
4. "save" ==> results in error

Current behavior:

Error when clicking save when selected right product

Expected behavior:

Just the standard functionality as on normal screen ps/laptop

Video/Screenshot link (optional):

[2018-03-30 07:53] Yenthe666 commented on #23954
Hi @Patrickar,

Thanks a lot for your bug report.
I've just tested this and it seems to work fine out of the box. Could you please try to reproduce it on an official runbot at runbot.odoo.com? Can you replicate it there?

[2018-03-30 07:54] Yenthe666 commented on #23930
@jlzhou its the best matching label I have for this, basically. The source is because of the text (terms), so I guess it is related to translations (although it is coming from stylesheet)

[2018-03-30 07:56] Yenthe666 commented on #23949
@simongoffin or @mart-e why is this restriction there? Could you guys elaborate?

[2018-03-30 07:58] Yenthe666 commented on #23950
Hi @sergeiruzkiicode,

Please ask these questions on the official help forums at help.odoo.com only.
The Github tracker is only for issues in the official code, not for custom development. We basically can't handle/filter out all the issues well if we allow loads of questions here too. Sorry.

Regards,
Yenthe

[2018-03-30 07:58] #23950 closed

[2018-03-30 08:00] Patrickar commented on #23954
Hmm I tested it on 2 different Odoo 10 installation, and in both cases it does not work as it should be in my opinion.

I will check on official rubot

[2018-03-30 08:04] Patrickar commented on #23954
Ok tested it, and indeed there is no error or whatssoever, What is in my opinion not correct is that there is no information available in the screen. See image. Is that the standard functionality?

![image](https://user-images.githubusercontent.com/36632285/38130028-b03b5d92-3401-11e8-97eb-dc034405dd24.png)

[2018-03-30 08:15] Yenthe666 commented on #23954
Hi @Patrickar,

Just tested and it indeed it doesn't show any info except for the amount and price when you're in edit mode of new sale order.
I believe you have an enterprise license? You should report this through odoo.com/help in order to escalate this then.

[2018-03-30 08:18] mart-e commented on #23949
Why not asking the guy who wrote the code instead of pinging random people? :wink:

@qdp-odoo is it a port of the infamous 8.0 constraint on product?

https://github.com/odoo/odoo/blob/8.0/addons/product/product.py#L763-L768

[2018-03-30 09:01] qdp-odoo commented on #23949
@mart-e Well, considering that I was the one who wrote that
```#TODO: really? i don't see the reason we'd need that constraint.. ``` I don't know what to answer, except that I still have the feeling this constraint is useless.

[2018-03-30 09:02] Yenthe666 commented on #23949
So can we conclude it can be removed?

[2018-03-30 09:12] mart-e commented on #23949
Yes but it was not present before v9 accounting, so is the reason lost in the development limbos?
https://github.com/odoo/odoo/commit/c04065abd8f62c9a211c8fa824f5eecf68e61b73#r20844972

If I recall correctly, in 8.0 we had the constraint on product (the above link). It was kind of painful (preventing to modify the category just after creating it, even if never used) and we tried to move it to the

[2018-03-30 09:15] Yenthe666 commented on #23949
I'm going to go ahead and guess that we can remove this whole function but in the master version? 😉

[2018-03-30 09:18] wtaferner commented on #23949
@mart-e @qdp-odoo @Yenthe666 @sle-odoo
I am pretty sure it had/has something to do with the stock modules and some assumptions which are probably now not existent anymore, but maybe @jco-odoo has some memory?! I was not checking the history but I know that there was from now and then confusion between the po_uom and the uom of a product...

[2018-03-30 09:48] jco-odoo commented on #23949
I think it is indeed something very old and there must have been a reason behind.  Maybe just because this way it did not let you change the UoM category on a product just like that.

[2018-03-30 09:55] Yenthe666 commented on #23949
@jco-odoo would you too be fine with a removal though? If we do this in `master` and if there would be an issue with this it would come up before it lands in a stable version. To me it looks like unuseful code (at this point).

[2018-03-30 10:04] rostisslav opened #23959 "odoo 10.0 import contact Error"
Good afternoon.
Odoo:10
Os: Debian 4.9.5
When importing contacts from EXCEL into your funnel, import the file.
I get an error

--------------------------

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", li

[2018-03-30 10:05] jco-odoo commented on #23949
Check at least we can not set inconsistent uoms of different categories, ...

On Fri, Mar 30, 2018 at 11:56 AM, Yenthe V.G <notifications@github.com>
wrote:

[2018-03-30 11:29] grzegorz-openglobe opened #23961 "11c - Calculation of due amount when partial payment in third currency"
Impacted versions: 11c

Steps to reproduce: Set database with home currency PLN. Turn on multicurrency. Enter rates:
EUR
24.10.2017  - 0.236077
8.02.2018 - 0.240425
29.03.2018 - 0.237547

USD
24.10.2017  - 0.277308
29.03.2018 - 0.294499

Create Vendor bill (purchase invoice) in EUR for 94100 EUR for date 24.10.2017
Pay 50000 EUR on 8.02.2018
Pay 16102.01 USD on 29.03.2018

Current behavior:
Invoic

[2018-03-30 12:25] eternalharvest opened #23963 "[11.0] Uncaught TypeError: Cannot read property 'type' of undefined"
Impacted versions:
11.0 Ubuntu nightly build

[code]

Steps to reproduce:
1. Enter debug mode
2. Click the menu 'Open View' from Developer Tools
3. Search **tree** view (e.g. 'sale.order.tree') and click on it.

Current behavior:

The view is not displayed due to the following error.

[code]
[code]
Expected behavior:

The view specified is displayed without any error.

Video/Screenshot link (optio

[2018-03-30 12:28] Yenthe666 commented on #23963
Hi @eternalharvest,

Thanks a lot for your bug report.
I've just tried this on an Odoo 11.0 from today and it works fine out of the box:
![image](https://user-images.githubusercontent.com/6352350/38137725-a13b10ce-3426-11e8-8ba4-155438012f09.png)
Can you reproduce this on an official Odoo instance at runbot.odoo.com?

Regards,
Yenthe

[2018-03-30 12:39] Yenthe666 opened #23965 "[11.0] ORM test fails when user language is not English"
Impacted versions: Atleast 11.0

Steps to reproduce:
1. Set the administrator his language preferences to another language than English, for example Dutch
2. Run Odoo with `--test-enable` to trigger all Odoo tests

Current behavior: The test `test_copy` from the ORM tests fails on this line:
https://github.com/odoo/odoo/blob/ea6e7379a35e91f9ad064e5ad1e87c5177ea067b/odoo/addons/base/tests/test_orm.

[2018-03-30 12:43] Yenthe666 commented on #23965
OPW 1832972

[2018-03-30 12:51] #23649 closed

[2018-03-30 14:02] eternalharvest commented on #23963
@Yenthe666 thank u for ur quick reply.

The tree view with title "Select a view" itself is no problem.
But when I search the tree view such as 'sale.order.tree' and click on it, the error occurs that I mentioned.
I can open any view from the Developer tools with Odoo version 10 (nigtly build).
So, I think this is a bug related to the Odoo version 11.

Thank u.

[2018-03-30 14:09] Yenthe666 commented on #23963
Hey @eternalharvest,

Indeed, just managed to reproduce it. I just didn't click on a view that is why I didn't get it. Result:
![image](https://user-images.githubusercontent.com/6352350/38140578-abdeb02c-3434-11e8-84a1-c9c6d561a91a.png)

Regards,
Yenthe

[2018-03-30 14:16] eternalharvest commented on #23963
it stuck on line 235 of view_manager.js (in `ViewManager#get_default_view()` method)
and it seems `this.views` is empty object, and `this.view_order` is empty array.
But I'm not sure why...

![error](https://user-images.githubusercontent.com/1128403/38140740-12798876-3470-11e8-8240-05ae944f3fae.png)

Thanks a lot.

[2018-03-30 15:04] Yenthe666 commented on #23965
Apparently this is normal and desired behaviour. Feedback from Odoo:

[2018-03-30 15:04] #23965 closed

[2018-03-30 15:27] Yenthe666 commented on #23965
It is not just one test by the way. Have four others:
[code]

[2018-03-30 15:29] newodoo opened #23970 "Changes in view report_invoice_document are not reflecting in Invoice PDF report"
Impacted versions:
odoo 11

Steps to reproduce:
from settings-> technical-> User Interface -> View modify view **report_invoice_document** and comment an existing line (for example "vat" line 9)

Current behavior:
the field vat  (TIN) is still visible in invoice pdf report

Expected behavior:
the field (TIN) should be removed from the invoice pdf report

Video/Screenshot link (optional):
the image

[2018-03-30 15:31] pedrobaeza commented on #23970
You have to delete the attachment in the invoice because the report is reloaded from it.

[2018-03-30 15:31] #23970 closed

[2018-03-30 15:45] newodoo commented on #23970
the invoice has not attachment... the only attachment is just the pdf to be printed

[2018-03-30 17:13] newodoo commented on #23970
@pedrobaeza The invoice has not attachment... the only attachment is just the pdf to be printed, and also the Advanced property of the Report-> "Reload from attachment" is not set... can you please explain why the issue was closed?

[2018-03-30 18:11] pedrobaeza commented on #23970
Please try to reproduce the problem in runbot. I don't think there's any bug here. Maybe you haven't refreshed the browser or the attachment thing.

[2018-03-30 18:38] newodoo commented on #23970
@pedrobaeza the Image I've posted is taken from runbot... You can verify test data.
INV/2008/0005
Can you please try to modify invoices pdf report in runbot?

[2018-03-30 18:44] pedrobaeza commented on #23970
The problem is that you need to modify the view `report_invoice_document_with_payments`.

[2018-03-30 19:04] caesarcxiv opened #23972 "Active Directory - Actual LDAP Base does not work - V11"
Impacted versions: 11

Steps to reproduce: set ldap base dn to DC=demo,DC=local

Error when using base only: 2018-03-30 18:57:59,039 4016 ERROR odoo odoo.addons.auth_ldap.models.res_company_ldap: An LDAP exception occurred: {'desc': 'Operations error', 'info': '000004DC: LdapErr: DSID-0C0907C2, comment: In order to perform this operation a successful bind must be completed on the connection., data

[2018-03-30 22:25] iblys opened #23973 "timezone not affecting report view"
Impacted versions:

- 11.0+e-20180326

Steps to reproduce:

Make some account moves after midnight. Goto reporting view balance sheet.

Current behavior:

The balance sheet report doesn't show the moves you just did as the today date is still yesterday. As in the attached screenshot you can see the actual date on the calendar widget.

Expected behavior:

Today should be today.

Video/Screenshot li

[2018-03-30 22:34] ChienDesEnfers commented on #11740
Hello everybody,

I had exactly the same issue. I edit my `/etc/hosts` file to add my domain, I edit my `dbfilter `from the `odoo.conf` file, I also edit my nginx configuration file but nothing fix this issue.
I have 2 databases
- 1 for example.com (db = example)
- 1 for demo.example.com (db = demo)
When I log in, I'm directly disconnected because my session expired... Into the logs, I have the me

[2018-03-31 05:33] eternalharvest opened #23974 "[11.0] Height of Drop-down input field is bit shorter than other type of fields"
Impacted versions:
11.0 Ubuntu nightly build
[code]
Steps to reproduce:
* Just open the view which includes Drop-down input field

Current behavior:
Though it is a trivial issue, the height of Drop-down input fields is bit shorter than other type of fields.
I found this issue when I was writing some code with inherited view, but it seems this issue affect all of the Drop-down fields.

Expected beh

[2018-03-31 07:27] tpa-odoo commented on #11740
If we use dbfilter = ^%d$

and we are running two domains abc.com and abc.in  same issue happens.

even if both are in different version abc.com is on v9 and abc.in on v11

[2018-03-31 07:50] newodoo commented on #23970
@pedrobaeza
the
**report_invoice_document_with_payments** (below) inherit the **report_invoice_document** where I need to insert the new field to the pdf, but even changing it, the pdf will not show the changes
[code]

[2018-03-31 08:07] ChienDesEnfers commented on #11740
@tpa-odoo If you have 2 different versions of Odoo, you must have 2 instances.
The way to fix this issue (with 2 instances) is to use a different Postgres user on your `odoo.conf`
But if you have 1 instance and 2 Databases (in the same Odoo version of course), we have the same issue =/

[2018-03-31 12:49] ChienDesEnfers commented on #11740
I fix this problem.
It was my Nginx configuration.
I didn't include some `set-headers` into the `odoo-chat` (with the port 8072).
I did it for statics files but not for this chatter.

[2018-03-31 14:46] mohamedhagag commented on #23949
Hi all,
As I can see, we all agree that the constraint should apply only on inconsistent UoMs.
Then we should restrict not on journal entries existence but on stock moves, so if we have stock moves for this product, then we can not change the UoM to one out of the category.
Regards,

[2018-03-31 20:11] gdgellatly commented on #23949
From memory I can't remember why it applies to uom_po_id, but doesn't account move line record quantity without UoM and then use it in certain reports.

[2018-04-01 00:26] nhomar commented on #23949
I remember like yesterday.

There was a full discussion about some constraints, but several of them where anoying and incorrectly done (like the uom_po_id) I do not knwo why they were removed (and I realize too late).

Specifically the uom_po_id should not be blocked only the uom_id.

[2018-04-01 00:27] arafatx opened #23975 "Warning. Security Issue!"
Steps to reproduce

Use this script (end of this post) to obtain the random token from a victim from here: https://example.com:8069/web?debug=/domain.com/navigation?ajax_request=1. The success rate is less than 30 seconds!

The script is in python and consider the array [0-n+1] and [n-1] where the script can inject a malicious code into the phpmyadmin and gain the victim login details.

The loopho

[2018-04-01 01:44] pedrobaeza commented on #23975
Do you know https://www.odoo.com/page/responsible-disclosure?

[2018-04-01 01:52] mohamedhagag commented on #23949
Dears,
I was going to ask for a way to override this function because normal override will still raise an error and rewriting the write() function will remove other overrides .

But I remembered the product_uom_change_fix module and searched for it which is made by odoomrp here:
 https://github.com/odoomrp/odoomrp-utils/blob/9.0/product_uom_change_fix/models/product.py

I will port to 10.0 and try

[2018-04-01 02:53] mohamedhagag commented on #23949
Here's a fast fix based on the mentioned @odoomrp 's module that's tested and works fine.
https://github.com/mohamedhagag/dvit-odoo/tree/10.0/dvit_product_uom_change_fix

I'm waiting for a suggestion to the best repo to make the PR.

[2018-04-01 02:58] mohamedhagag opened #23976 "Consider reconcilable accounts in AR/AP reports"
Impacted versions: 9, 10, 11

Steps to reproduce:
set an account as reconcilable and create a transaction with a credit or debit party

Current behavior:
when printing partner ledger or other AR/AP reports the amount of credit/debit on the other party will not show in the report.

Expected behavior:
the debit / credit amount should show in the report of partner_ledger even though the account type

[2018-04-01 03:11] nhomar commented on #23976
Hello.

I am agree in the way it works now, "reconciliable" is used to join or glue some moves for several reasons (one is payable and receivable, but you can use it for i.e: Accrual) on that case show it in the reports that I understand you are asking for in problematic.

We live that on past versions and the current behavior is a positive evolution I think.

Can you point which use case do you w

[2018-04-01 03:11] nhomar commented on #23976
Fill free to reopen if not answered.

[2018-04-01 03:11] #23976 closed

[2018-04-01 03:12] gustavovalverde commented on #23975
@arafatx this is not the place for that. Send the report to security@odoo.com plz. If possible remove this post.

[2018-04-01 03:27] nhomar commented on #23949
odoo/odoo#10.0 can be a good place, but I recomend check your change do not need anything to be forward ported to 11.0 if yes, then try to make 1 PR and beware to propose the change in 11.0.

[2018-04-01 03:40] mohamedhagag commented on #23949
AFAIK, Odoo will not accept such PR in released stable versions like 9, 10, 11 and they will only for master .

[2018-04-01 03:45] nhomar commented on #23976
Well actually it IS a payable (even for few minutes between the computation and the payment itself), the concept of reconcilable and payable type is a technical concept for odoo itself, you should not have problems with that (I think).

I recommend to do that exactly as you said (payable + reconciliable for salaries to pay) and the counterpart will be normal expenses (or costs depending of your bu

[2018-04-01 03:47] nhomar commented on #23949
This do not change the current datamodel and do not need update the data structure, and this make sense from a technical and functional perspective, try the PR and then we discuss there (the stable policy is other story and you are maybe right) but let's try.

[2018-04-01 08:01] Yenthe666 commented on #23949
@nhomar this will not make it in 9.0/10.0 or 11.0. This will only make it in master, 99% sure. See also my earlier comment about the whole function:

[2018-04-01 08:38] sswapnesh commented on #23973
@iblys  Did you configured user's timezone correctly?

[2018-04-01 08:45] nhomar commented on #23949
@Yenthe666 Then go for master, What I am sure of is that "remove it all" is not the way, I am worried left unclean verification, but at least for uom_po_id it should be in the same category of unit of measures.

BUt , nice, master is ok for me (even if I am pretty sure it can be done on >v10)

[2018-04-01 11:54] sum1201 opened #23977 "[bug] PurchaseRequisition had canceld ,but procurement order not cancel"
Impacted versions:
10.0
Steps to reproduce:

- create a product :test,
      routes: buy
      Procurement: Propose a call for tenders
- I create  a sale order , run mrp ,system can create  a procurement order , a purchase requisition..
     procurement order: OP/00006  state:running
     purchase requisition: TE00006 state :draft
-  i cancel this purchase requisition, but procurement order not ca

[2018-04-01 11:56] sum1201 commented on #23977
enterprise ticket 1833290

[2018-04-01 12:41] sum1201 opened #23978 "[bug] when manufacuring order had canceled,it's procurment order had not canceled"
Impacted versions:
10.0
Steps to reproduce:
- I create  a product :test,
      routes: Manufacture
- I create a sale order ,run mrp ,create a procurement order and a Manufacturing Order
    procurement order: OP/00006 state:running, quantity:30
   manufacturing order: MO/00018 state: confirmed,quantity:20
**- I canceld manufacturing order , it's procurement order throw exception.
    procurement o

[2018-04-01 12:45] sum1201 commented on #23978
enterprise ticket :1833292

[2018-04-01 15:50] GillPotter commented on #21639
This was still an issue on my 1st March 2018 Odoo V11 community build, but is now working as expected on my 30th March 2018 build. Don't know when it was fixed but I think it was!

[2018-04-01 16:11] arafatx commented on #23443
Solved this problem. This is related to configuration server in nginx.  I'm not sure which one but I just follow back the deployment instruction.

[2018-04-01 16:11] #23443 closed

[2018-04-01 16:12] gralet commented on #19912
Just to confirm in my case : I had the problem (with just CRM and Project installed) probably because I did not choose the country when creating the database.   I recreated a new database with a country choosen (Belgium) and no more problem.    I guess the other solution would be to install account module and set a chart of account.

[2018-04-01 16:17] arafatx commented on #18137
@mstuttgart It's related to the configuration server on the SSL. If you follow the rule then it's gonna work.

[2018-04-01 19:47] iblys commented on #23973
Yes, on the user preference its set correctly.

[2018-04-02 01:41] sum1201 opened #23979 "[11.0]How should I manually specify procurement rule?"
Impacted versions:
11.0
Steps to reproduce:

I don't found procurement order in odoo 11.
I found activity about product template,but i can't manually specified procurement rule.
If I need 20 products, 10 purchases, 10 manufactures.

How should I manually specify.

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-04-02 02:05] sum1201 commented on #23979
enterprise ticket 1833314

[2018-04-02 04:53] tpa-odoo commented on #11740
@ChienDesEnfers we have two different instances. but same Db user. will try ith 2 different db users also if it helps.

[2018-04-02 06:28] dipsshah42 opened #23980 "Odoo v11E Studio : Error when adding / updating 'Help Tooltip' for any field."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

**FYI > Error Showing under Console is as follows :**
**------------------------------------------------------------------------------------------------------------------------------------------**
Server application error {"message":"Odoo Server Error","data":{"exception_type":"valida

[2018-04-02 06:43] KhichadiyaVK commented on #22694
I don't think it's a real bug from odoo. I also have same issue but only when I use it in debug mode.
At last I found library problem of python3.5 in the module that is not installed yet and odoo is not show actuall error while compiling that module.

[2018-04-02 09:10] shaneebkhan opened #23981 "invoicing"
Impacted versions:11

Steps to reproduce:invoicing -->sales-->documents-->payments-->internal transafer

Current behavior:Transfer account not defined on the company.

Expected behavior: tranasfer one head to anther

odoo error on internal transfer (payments invoicing )

wher i can set transfer account

Odoo Server Error - Warning
Transfer account not defined on the company.

Video/Screenshot link

[2018-04-02 09:13] shaneebkhan commented on #23981
odoo error on internal transfer (payments invoicing )

wher i can set transfer account

Odoo Server Error - Warning
Transfer account not defined on the company.

[2018-04-02 10:08] MeetKD opened #23982 "[11.0] Kanban: Drag and Drop Pipeline throws trace back."
Impacted versions:
11.0
Steps to reproduce:
Click on CRM > Pipeline Kanban view.

Remove My Pipeline filter.

Select group by **Country** and open any one pipeline from kanban card.

Edit record and remove country value from record and save the form.

Redirect to previous kanban view and new undefined column will be displayed with record.

Drag and drop to any country and again drag and drop to un

[2018-04-02 10:24] SmithLin0618 commented on #19627
hi @Yenthe666
I am having a big problem with that.
I have try a long time but i can't fix it.

May I ask you how to do that on database level by running an SQL to remove all the assets?
What command should I do on psql?

[2018-04-02 10:33] osamaIT opened #23983 "relation fields and related fields in report i can't see it"
relation fields and related fields  in report  i can't see it in Qweb report just i can see the name of relation
i use to see the fields in Qweb    o.fieldName

[2018-04-02 10:38] osamaIT commented on #23983
i use Qweb report

[2018-04-02 11:08] MeetKD opened #23984 "[11.0] Wrong Position of list view sort handler."
Impacted versions:
11.0
Steps to reproduce:

1. Install Sales Module.
2. Click on Sales > Quotations list view.
3. Open one of the record.
4. Observe that there is a dropdown of sort handler which is in wrong position.

Current behavior:

Wrong position of list view sort handler.

Expected behavior:

Sort handler should display in correct position.

Video/Screenshot link (optional):

![wrong_posit

[2018-04-02 12:58] giannio opened #23985 "Problem with button vista odoo"
Impacted versions:9.0

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

![error1](https://user-images.githubusercontent.com/20817262/38196990-f2ad97d6-3653-11e8-9787-9cf9cc6a96cd.png)

[2018-04-02 13:01] giannio commented on #23985
With the database restoration, I deleted all the contents of the ir_attachment table, and some buttons do not appear the figure, how can I solve this?

[2018-04-02 14:37] sswapnesh commented on #23983
Related to #23926

[2018-04-02 14:46] Yenthe666 commented on #23983
@osamaIT please add more information and details (and don't duplicate issues).
What version? How do you reproduce it? Can you reproduce it on an official Odoo instance at runbot.odoo.com?

Regards,
Yenthe

[2018-04-02 14:48] Yenthe666 commented on #23985
@giannio,

The ir_attachment table contains your attachments and it looks like you've also deleted your assets.
Please recompile your assets and restore your ir_attachment table in order to fix this.
Closing as you've simply dropped a table of a database

Regards,
Yenthe

[2018-04-02 14:48] #23985 closed

[2018-04-02 14:49] Yenthe666 commented on #23981
Hi @shaneebkhan,

This is not a bug. You've simply didn't define a transfer account for your Odoo environment. Without this account Odoo does not know where to book your internal transfer too.
Please configure the module.

Regards,
Yenthe

[2018-04-02 14:49] #23981 closed

[2018-04-02 14:52] Yenthe666 commented on #23982
Hi @MeetKD,

Thanks a lot for your bug report.
I've just tried this on the latest Odoo 11.0 but it seems to work fine. Can you reproduce it on an official Odoo test instance at runbot.odoo.com?
Could you make a video of it please?

Regards,
Yenthe

[2018-04-02 14:55] giannio commented on #23985
How do I recompile my assets? and my table restore from where?

[2018-04-02 15:19] Yenthe666 commented on #23985
from your original backup / old database.
Compilation can be done by updating your whole Odoo its sources (`-u all`) and using `?debug=assets`

[2018-04-02 18:02] giannio commented on #23985
odoo.py -c /etc/odoo-server -s --update=all ?debug=assets  ????? would it be this?

[2018-04-02 20:33] sswapnesh commented on #23982
@Yenthe666  I can reproduce on Runbot.
[https://youtu.be/V9sCOsQ_Q5s](https://youtu.be/V9sCOsQ_Q5s)

[2018-04-02 20:38] sswapnesh commented on #23985
@giannio
odoo.py -c /etc/odoo-server -d=db_name -u=all
Access odoo using: [http://localhost:8069/web?debug=assets ](http://localhost:8069/web?debug=assets)

[2018-04-02 21:15] giannio commented on #23985
thanks...

[2018-04-02 21:24] giannio commented on #23985
pg_restore: [archiver (db)] could not execute query: ERROR:  column "id" of relation "ir_attachment" does not exist
    Command was: COPY public.ir_attachment (id, create_date, write_date, res_model, write_uid, res_name, db_datas, file_size, create_uid, com...
WARNING: errors ignored on restore: 1

[2018-04-02 21:25] giannio commented on #23985
When I tried to restore a table from the ir_attachment database,

[2018-04-03 01:23] nhomar opened #23988 "Importing module with odoo studio is not updating the version"
Impacted versions:

11.0 (saas)

Steps to reproduce:

- Create a simple module, ser version to 1.0
- Import it using odoo studio.
- Check the version (11.0.1.0)
- Change the version.
- Import it again (or even un-install it and install it again if you wish)

Current behavior:

- Version is yet 11.0.1.0

Expected behavior:

- Take the proper version from the module itself

Video/Screenshot link (op

[2018-04-03 02:40] rafaelbn commented on #15445
Thanks  @simongoffin ! Bravo! :smile:

[2018-04-03 04:14] Yenthe666 commented on #23988
@aab-odoo could you have a look at this studio bug please?

[2018-04-03 04:21] fhe-odoo commented on #23344
@fgi-odoo When exporting, it would be really convenient if I could see an example of the value of the field I selected for export. The reason for this is that sometimes I export a field and I either get something different than what I wanted because the functional name in the export list was different than the one in the view, or I get some reference or id instead of the actual string I expected.

[2018-04-03 04:45] Jaffri1 commented on #19627
hi @Yenthe666,

Which version you are using?
Jaffri

[2018-04-03 04:53] nhomar commented on #23344
completing what @fhe-odoo the column of the exported fields should have technical name [Huma readable name] - Example

[2018-04-03 06:56] SteveQi opened #23991 "Many2ManyListView operation of multiple inputs can not be saved at the same time in then form view"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-04-03 07:20] #22027 closed

[2018-04-03 07:20] #23596 closed

[2018-04-03 07:54] shaneebkhan commented on #23981
i am asking you how i can define a transfer account for your Odoo environment
please show me the way clearly

[2018-04-03 08:25] mart-e commented on #23721
Sorry but I need more information than that.

Could you detail your bug report? I understand you try to export and reimport BoM.
Which fields are your exporting?

I have tested and got no problem.
Can you reproduce it on [runbot](http://runbot.odoo.com/)?

[2018-04-03 10:51] TimLai125 commented on #21639
@GillPotter Thank you for the information. Then it should be a commit within March that fixed the issue, please let me know if you find the corresponding commit. =]

[2018-04-03 11:50] xmo-odoo opened #24003 "O2M/Onchange trigger on line creation (before saving)?"
Investigating #23620 and looking at the behaviour of the web client, it *looks* like when creating a new line in an o2m the web client immediately calls the parent's onchange, before the line is even saved (the sequence of RPC calls I see being default_get -> line onchange -> parent onchange), and if *that* adds a new line it focuses the second line (added by the onchange) rather than the first (a

[2018-04-03 13:07] Patrickar commented on #23954
Hi Yenthe V.G.,

Ok, thanks. I'll do!

Met vriendelijke groeten,

*Patrick Ariëns*
Consultant | Odoo Gold Partner

+31 (0) 6 30 30 34 56
patrick@alpiek.nl

Alpiek BV
www.alpiek.nl
Odoo Gold Partner

2018-03-30 10:15 GMT+02:00 Yenthe V.G <notifications@github.com>:

[2018-04-03 13:36] AlanBell opened #24008 "searching on tags does not find matches in the parent tag name"
Impacted versions:

11 and earlier

Steps to reproduce:

In the default data on runbot there is a vendor Camptocamp which is tagged as "Partner / Gold"
in Purchases/Vendor view search the tag field for "Partner" and try also searching for "Gold"

Current behavior:

"Partner" finds nothing, "Gold" finds the company.

Expected behavior:

Both should work. Searching for "Partner" should find "Partner

[2018-04-03 13:43] pedrobaeza commented on #24008
I see this more like an improvement than a real bug. It's just that labels are only search by their label name, not the complete path name.

[2018-04-03 13:54] AlanBell commented on #24008
Arguably so, but it came to me to investigate from a user saying that it wasn't working as expected. It also affects the HR module https://www.odoo.com/forum/help-1/question/how-can-i-search-hr-employee-via-parent-category-10097 from a user perspective, they are searching for some text that is in the tag and it isn't working.

It is a bit hard to see what the point is of having hierarchical tags i

[2018-04-03 13:57] pedrobaeza commented on #24008
Yeah, let's see if someone from Odoo team can say something about the roadmap in this.

[2018-04-03 15:54] mart-e commented on #23836
Hello,

Should be fixed at https://github.com/odoo/enterprise/commit/0c6dde7f32084293bdccc8ec7974c8192e01af4b

[2018-04-03 15:54] #23836 closed

[2018-04-03 15:54] Yenthe666 commented on #23982
Aha, I didn't do that last redrag, which was the difference.
@ged-odoo another JS traceback. Could one of your guys have a look please?

[2018-04-03 16:09] shaneebkhan opened #24016 "HOW DEFINE TRANSFER ACCOUNT IN INVOICING"
where i can define transfer account
am asking how define the transfer account

Impacted versions:11

Steps to reproduce:invoicing -->sales-->documents-->payments-->internal transafer

Current behavior:Transfer account not defined on the company.

Expected behavior: tranasfer one head to anther

odoo error on internal transfer (payments invoicing )

where i can define transfer account

Odoo Server

[2018-04-03 16:29] sswapnesh commented on #24016
Duplicate of #23981

[2018-04-03 16:30] #24016 closed

[2018-04-03 16:31] pedrobaeza commented on #24016
And this is not for asking for help, only for reporting issues, sorry. Use forums for that.

[2018-04-03 16:42] shaneebkhan commented on #24016
am asking how can i set transfer account?
please answer me not close the issue
i known  this is not bug but i want to known how set or define transfer account

[2018-04-03 17:13] sswapnesh commented on #24016
This is because of field `transfer_account_id` is not set in Company, Maybe because COA is not Installed for that Company.
@pedrobaeza  However, I agree that field should be in views as mentioned [here](https://github.com/odoo/odoo/blob/11.0/addons/account/models/company.py#L15).

@shaneebkhan, For now, you can add  `transfer_account_id` in company's form view and set account there.

[2018-04-03 17:40] sswapnesh opened #24017 "[11.0] Issue with filtering records in Window Actions"
Impacted versions: 11.0

Steps to reproduce: Tested on Runbot, Go to Contacts Tree Views --> Select Few of them --> Actions --> Invoices

![](https://image.prntscr.com/image/oO1yvlaSTYi6uI7KxPLS8g.png)

Current behavior: It will show Invoices of First Selected Partner Only

![](https://image.prntscr.com/image/1D3F6e_jQlqmWBVUmDDySQ.png)

Expected behavior: It should show Invoices for all Selected

[2018-04-03 18:06] sswapnesh commented on #24017
Same Issues where `client_action_multi` is used.
Related Issue #20124

[2018-04-03 18:53] sswapnesh opened #24018 "[11.0] Invalid Quantity in Order line when adding from Suggested Products"
Impacted versions: 11.0

Steps to reproduce:
Create SO with Some Product (Basic Computer) with Quantity 1.

![](https://image.prntscr.com/image/ZrHa2UArRq6zsNXRdbmiaw.png)

Add Same Product (Basic Computer)  in Suggested Products with Different Quantity (I have added 5).

![](https://image.prntscr.com/image/iqmmsaoyQ1_VVAEtManuIw.png)

Current behavior: Adding that Product adds only [1 quantity](h

[2018-04-03 19:25] sswapnesh opened #24019 "[11.0] Issue With Sorting Products based on Name in Website/Backend."
Impacted versions: 11.0

Steps to reproduce: Shop --> `Sorting by : Name - Z to A`

Current behavior:
Invalid Sorting of Products

![](https://image.prntscr.com/image/1WUO0GRjRhua44qDnFlLhw.png)

Expected behavior: Should be sorted Correctly.

Video/Screenshot link (optional):

[2018-04-03 19:28] sswapnesh commented on #24019
Same behavior in Backend. (Maybe I am missing something here)

![](https://image.prntscr.com/image/8hdwO8mNStq-EyH6boa4OA.png)

[2018-04-03 19:55] sswapnesh opened #24020 "[11.0] Enabling Analytic Accounting should not activate Payroll Entries Feature in Community Edition"
Impacted versions: 11.0

Steps to reproduce: Enable Analytic Accounting and Show Full Accounting Features --> Invoice Settings --> Trigger Onchange for Analytic Accounting

![](https://image.prntscr.com/image/UCeqAqbnQSi0rB8XnZekAA.png)

Current behavior: It enables Payroll Entries feature (Even module account_accountant is not installed. Which is not in the community addons.)

![](https://image.p

[2018-04-03 19:57] sswapnesh commented on #19997
Probably from v9 I believe.

[2018-04-03 21:35] gigidn commented on #16003
@sle-odoo it's partialy fix the issue, we can't set db_filter becouse it is incomplatible whit report.url, any advice how fix it??

BTW until now on v11 work fine, report.url is not necessary

[2018-04-03 22:50] pedrobaeza commented on #23890
You can see the record rule here: https://github.com/odoo/odoo/commit/275234c06796ababf5bfb5356e8d216c8aea81c7#diff-f1c7d6b4c3ff3a5faa7953f53afe6e4bR52

If it doesn't fit your needs, you can adapt it, as it's a noupdate record.

[2018-04-03 22:52] pedrobaeza commented on #23970
Please check again, because there are more views involved, for example `sale.report_invoice_document_inherit_sale`, and one of them is putting that field there.

[2018-04-03 22:55] pedrobaeza commented on #22304
It seems that this view is not going to be available anymore. See the related issues referenced here.

[2018-04-03 22:55] #22304 closed

[2018-04-03 22:56] pedrobaeza commented on #7024
@mart-e has this been handled already?

[2018-04-03 22:57] pedrobaeza commented on #6835
This has been addressed in latest version (v12) with the uninstalling wizard that informs of the documents being removed, so I close it.

[2018-04-03 22:57] #6835 closed

[2018-04-03 22:58] pedrobaeza commented on #6776
No further answer, so I close this issue.

[2018-04-03 22:58] #6776 closed

[2018-04-03 22:59] pedrobaeza commented on #7041
This is not a bug in Odoo itself, but a development question, so I close it. Please ask on forums/mailing list.

[2018-04-03 22:59] #7041 closed

[2018-04-03 23:02] pedrobaeza commented on #6994
The field has disappeared since v10 (and you have PLM in enterprise), so I think you have your answer ;)

Closing this.

[2018-04-03 23:02] #6994 closed

[2018-04-03 23:03] pedrobaeza commented on #6737
This was fixed since v9, and for v8, you have the OCA module https://github.com/OCA/server-tools/tree/8.0/base_concurrency, so I close this.

[2018-04-03 23:03] #6737 closed

[2018-04-03 23:04] pedrobaeza commented on #6692
This has been discussed in other issues, and some moves have been done lately (like the aggregations in `read_group` method). I'm preparing an RFC for improving this, so I'm closing this issue for not having several ones about the same topic.

[2018-04-03 23:04] #6692 closed

[2018-04-03 23:06] pedrobaeza commented on #6648
I'm afraid this is how the framework works on this. You should avoid to declare fields that you don't want to be visible in your pivot/graph.

For now there are no plans to change this AFAIK. I close this issue for triaging old ones.

[2018-04-03 23:06] #6648 closed

[2018-04-03 23:08] pedrobaeza commented on #6500
Any news about this, @odony. See also #21845 for something similar.

[2018-04-03 23:09] pedrobaeza commented on #5480
@xmo-odoo is there any move about this?

[2018-04-03 23:12] pedrobaeza commented on #9072
This has been already addressed, so I close.

[2018-04-03 23:12] #9072 closed

[2018-04-03 23:13] pedrobaeza commented on #9055
This seems pretty old and the way hierarchy is handled has even changed to another method in master, so I close this.

[2018-04-03 23:13] #9055 closed

[2018-04-03 23:15] pedrobaeza commented on #9024
This is pretty old and the module has been totally revamped (in `base_automation`). This for sure is not happening anymore.

[2018-04-03 23:15] #9024 closed

[2018-04-03 23:17] pedrobaeza commented on #9051
I'm seeing the problem right now, even in 11.0:

![seleccion_004](https://user-images.githubusercontent.com/7165771/38280501-f184ad42-37a5-11e8-988d-d735f1ce295b.png)

[2018-04-03 23:24] pedrobaeza commented on #8952
This one is a bit old. Please try to reproduce the problem on latest v11 runbot, and if the problem remains, please explain how to reproduce it (which entries to add and what do you expect to see). Meanwhile, I close this.

[2018-04-03 23:24] #8952 closed

[2018-04-03 23:26] pedrobaeza commented on #8934
Closing as there's already a PR addressing this. I have pinged some people in the PR to see if we can move this.

[2018-04-03 23:26] #8934 closed

[2018-04-03 23:27] pedrobaeza commented on #8879
This is an install issue, but not a bug. I close it then.

I suggest you to see the way Odoo is installed in OCA CI, or go for other deployment solutions like Docker. Install scripts are in https://github.com/OCA/maintainer-quality-tools/blob/master/travis/travis_install_nightly

[2018-04-03 23:27] #8879 closed

[2018-04-03 23:28] pedrobaeza commented on #8863
This is in part due to the design of the widget. Please check latest v11 where all the UI has been reworked to see if there are still problems. If so, feel free to open a new issue.

[2018-04-03 23:28] #8863 closed

[2018-04-03 23:29] pedrobaeza commented on #8862
This behavior has been changed in latest versions and I think they are in very good shape right now. There's also a work for enabling even more the use of the keyboard, so I close this issue.

[2018-04-03 23:29] #8862 closed

[2018-04-03 23:30] pedrobaeza commented on #8751
This is not possible anymore since a while, so closing.

[2018-04-03 23:30] #8751 closed

[2018-04-03 23:31] pedrobaeza commented on #8727
This is not happening anymore, so I close. It was an invalid domain in the view.

[2018-04-03 23:31] #8727 closed

[2018-04-03 23:33] pedrobaeza commented on #8246
@JKE-be do you consider this can be closed? I think some of these things are already handled in latest versions. Others are not, but I don't see easy to get them or even if they are really needed for a good SEO.

[2018-04-03 23:34] pedrobaeza commented on #8237
As this is a feature request, and can be handled via an extension module (OCA or community), I close this.

[2018-04-03 23:34] #8237 closed

[2018-04-03 23:34] pedrobaeza commented on #8267
Is this still happening in latest versions, @DiegoLelis ?

[2018-04-03 23:35] pedrobaeza commented on #8285
This is because that symbol is not part of the charset of the printer. I close, as this is not a POS issue itself.

[2018-04-03 23:35] #8285 closed

[2018-04-03 23:36] pedrobaeza commented on #8671
@apr-odoo is this solved? Any way, this is enterprise. Shouldn't they fill an OPW ticket instead of this?

[2018-04-04 00:42] aduijs commented on #8879
wow this was 2,5 years ago.. we are running 11 now . but yeah please close,
cant even remember how it solved it back then

2018-04-03 18:28 GMT-05:00 Pedro M. Baeza <notifications@github.com>:

[2018-04-04 00:59] pedrobaeza commented on #8879
Yeah, I'm triaging some of the old issues. Cleaning the house we will have only the proper issues opened.

[2018-04-04 01:01] eternalharvest commented on #24019
@sswapnesh

I'm not expert of odoo but I think the order is rely on the database locale or collation configuration.
When u click column header, `product.template#search_name()` is called by json rpc.
If you have not overriden the method, it is the cause is database configuration I think.

[2018-04-04 02:20] 7Eleven1995 opened #24021 "Reverse Transfer Issue [V8]"
Steps to reproduce:
1. I have a picking record (e.g. WH/IN/1127) and I'm going to return a specific product (e.g. T-Shirt) with 6 quantities.
2. I clicked on the [Reverse Transfer] button, and the pop up wizard appears. The quantity indicated for product T-shirt was 0 quantity, so I manually indicate 6 quantities.
3. I clicked on the [Return] button and the system automatically created an outgoing

[2018-04-04 02:50] blaggacao opened #24022 "Voucher lines do not pass product_id to aml"
V10

_Apparently_, creating accounting entries via `account.voucher`, the `product_id` is _not_ copied over to the account.move.line. This is impractical if the `product_id` has been set on purpose in order to do filters / analytics or even tax reports based on the product's characteristics.

- Is this a behavior we _do_ want?
- Or would we rather have the `product_id` copied over to the aml just

[2018-04-04 05:59] #8246 closed

[2018-04-04 06:13] pooja-zakhariya commented on #22357
Hello Swapnesh,
Did you get any solution as I am facing same issue while importing Employees with Arabic data?

Thanks,

[2018-04-04 06:55] CakJuice opened #24023 "PDF report header and style missing when call via scheduller or shell"
Impacted versions: 10 CE

Steps to reproduce:
I create some qweb-pdf report attachment which the method can call via button and scheduled action.

Current behavior:
When i call the method from button, everything works great. But when the method called from scheduled action, header not appear and some style is missing. I tried to call the method via odoo shell, but still have error.
Wkhtmltopdf ver

[2018-04-04 07:47] #23963 closed

[2018-04-04 08:33] snomes opened #24028 "Landed Cost not include in COGS"
Impacted versions:
Odoo Version 10.0

Current behavior:
I purchase one product 10$ with 3$ custom duty and 2$ insurance, total cost of item is 15$. I sold this item 20$ but Odoo post in COGS 10$ instead of 15$. Please can you help me how can i able to fix this problem.

[2018-04-04 08:35] carlosdauden opened #24030 "Error access right when validate invoice"
https://github.com/odoo/odoo/blob/7fd27b371348ee1eca7a8f562368d11c43538d94/addons/sale_timesheet/security/sale_timesheet_security.xml#L14

When validate an invoice, if you are timesheet
user and billing user, it is forbidden for you
to **read** an analytic line without a project set

¿Why read=0 in this commit?:
https://github.com/odoo/odoo/commit/81218a833c3c2a2f4db99489eb09843d8b203167

@Tecnati

[2018-04-04 08:54] TimLai125 opened #24032 "Inventory / Manager get "Access Error" when updating the "Images" of the products"
Impacted versions:
11.0c

Steps to reproduce:
1. Enable "Multi-Images" settings.
2. Create an user that only have "Inventory / Manager" access right.
![image](https://user-images.githubusercontent.com/27185427/38297928-721661bc-3828-11e8-8f32-0a427c560bd3.png)
3. Login as the created user and try to add a picture to the "Images" of a product.

Current behavior:
1. The "Images" cannot be updated.
2

[2018-04-04 09:17] pedrobaeza commented on #24030
@jem-odoo you were the commiter, so can you explain why not adding read permission?

[2018-04-04 11:03] nhomar commented on #24028
Hello.

Odoo put the cost set into the product itself, can you check if you manually set the cost on the product, or created the sales order before you applied the landed?

Those are the 2 reasons I see this can happen.

Regards.

[2018-04-04 11:19] gandalfsag opened #24034 "[11.0] - enable_editor not working on html reports"
Impacted versions: 11

Steps to reproduce:
Print a report. Report is set to html.

Current behavior:
It shows the linked qWeb Code as HTML in an embedded space on the page. But there is no possibility of changing anything once there. No font change or possibility to add a letter or even sentences.
Adding a "...?enable_edit=1" does not help. The Web Editor App is installed.

Expected behavior:
In O

[2018-04-04 11:35] lukebranch commented on #21932
We've had this issue crop up again with a group of 7 orders all within the space of one day.

Here's an explanation from our developer:

1. stock.pack.operation
2. stock.move
3. stock.move.operation.link

object 1 and 2 link each other via object 3
on object 3, we have 2 fields: move_id and operation_id.
Example: in this case, object 3 have 1 record: move_id=110 and operation_id=100
in object 2, w

[2018-04-04 11:59] treviser opened #24037 "[11.0] Swiss Localization: l10n_ch/i18n_extra/de_CH.po: Please rename the file to "de.po""
Impacted versions:

Odoo 11.0

Current behavior:

German translations are only available when selecting de_CH as language. According to @mart-e cd_CH is not a true language but inherited from de_DE. This works fine as long as terms are translated using Transifex, but all german translations in modules containing de.po files in the folder i18n are then neglected and the source terms are used, as th

[2018-04-04 12:01] pedrobaeza commented on #24037
@mart-e can you shed some light about this?

[2018-04-04 12:04] gandalfsag commented on #24034
Thanks for your quick answer.
Argh, this is annoying with Odoo. On each new Version: 2 improvements for 1 feature that doesn't work, is buggy or is not available anymore.

[2018-04-04 12:17] carlosdauden opened #24038 "expresion.OR result is not expected"
https://github.com/odoo/odoo/blob/0bde7aa106b74e793bec69fe7f388cc1d4a5deca/addons/sale_timesheet/models/sale_order.py#L179

domain
[('so_line', 'in', [91]), ('amount', '<=', 0.0)]

timesheet_domain
['&', ('so_line', 'in', []), ('project_id', '!=', False)]

expresion.OR(domain, timesheet_domain)
['|', ('so_line', 'in', [91]), ('amount', '<=', 0.0), '&', ('so_line', 'in', []), ('project_id', '!=', F

[2018-04-04 12:36] antillia commented on #19942
**This issue is still very active!!!!!!** Please reopen it as databases created before the bug fix are still being displayed without logos.

If you don't want to reopen, at least look at the issue and give a reason for not reopening.

[2018-04-04 12:41] Yenthe666 commented on #24032
@sle-odoo for you 😉

[2018-04-04 12:43] Yenthe666 commented on #23991
Hi @SteveQi,

Please follow the template and gives us reproducable steps when you make a bug report. You didn't even mention the version.

[2018-04-04 12:43] #23991 closed

[2018-04-04 12:46] tivisse commented on #19942
Hi @antillia

There's 2 ways to handle your issue:
- Update the ``base`` module. That implied to update all your modules. That could have some problematic side effects.
- Update the related templates by hand in the concerned modules (``event``, ...).

Having the code up-to-date in not sufficient as the templates have to be modified on the database.

Please open a ticket at https://www.odoo.com/en_

[2018-04-04 12:49] Yenthe666 commented on #24028
@nhomar to be honest, questions shouldn't be asked on the Github issue tracker.
@snomes please do ask these questions on the official help forums at help.odoo.com.
The Github issue tracker is only for bugs/issues in the default Odoo and is not the right place to ask questions.

Regards,
Yenthe

[2018-04-04 12:49] #24028 closed

[2018-04-04 13:11] snomes commented on #24028
Sure Mr. Yenthe

[2018-04-04 14:01] pedrobaeza commented on #24021
v8 is not supported anymore, and this is not a bug, but the reservation can't be done because the quants moved on that picking has been moved or reserved in another one.

I close this due to the reasons above.

[2018-04-04 14:01] #24021 closed

[2018-04-04 14:12] sle-odoo commented on #22041
see 438006b56d66175923c3795c666f07245358ade3

[2018-04-04 14:34] sswapnesh commented on #23599
@Elkasitu  This has been fixed in b6c962e62a7a47240d0091f88fc2ad4359179845

[2018-04-04 14:45] Yenthe666 commented on #21639
Hi guys,

As @GillPotter mentioned it was fixed I'm closing this. If there should still be a problem just respond and I'll reopen.

Regards,
Yenthe

[2018-04-04 14:45] #21639 closed

[2018-04-04 15:02] Yenthe666 commented on #23599
Indeed - thanks for the headsup @sswapnesh

[2018-04-04 15:02] #23599 closed

[2018-04-04 15:06] Yenthe666 commented on #16828
@mart-e this is actually unclear. Why is it under `Settings > Technical settings > Calendar > API credentials` in 10.0?
@miqmago this has been fixed in 11.0 though:
![image](https://user-images.githubusercontent.com/6352350/38316215-7dff0b6c-382a-11e8-931f-5290b68ee4a7.png)

[2018-04-04 15:08] Yenthe666 commented on #24019
I think there is actually an easier answer. iPod starts with a small character, Warranty with a big one. I believe by default small characters win over capital characters, but I might be wrong here.
@JKE-be can answer this one.

[2018-04-04 15:09] Yenthe666 commented on #8671
@pedrobaeza as you can see in the screenshot it is a community version though. I'm actually going to guess this is an Odoo 8, which is EOL.
Anyways, either if it is community or enterprise you can always report it here. If you have an enterprise license you're better off using it though. 😉

[2018-04-04 15:11] pedrobaeza commented on #8671
Yeah, right, but then he is talking about the community module, not Odoo, because currency update feature is only enterprise. Then I close this, because it's out of scope.

[2018-04-04 15:11] #8671 closed

[2018-04-04 15:13] Yenthe666 commented on #8671
Yes. It will either be a community app or a V8. 😉

[2018-04-04 15:24] sswapnesh commented on #24019
I thought same after posting this Issues but If you look at First screenshot, Warranty should come first as sorting is Z to A.

[2018-04-04 15:52] sswapnesh commented on #23612
This will be fixed in fd148c8d5e969a98c1f065e29e5b33dac8501d1a
Cc: @Yenthe666

[2018-04-04 15:54] Yenthe666 commented on #23612
Hi @antsjr,

This should indeed be fixed in https://github.com/odoo/odoo/commit/fd148c8d5e969a98c1f065e29e5b33dac8501d1a
Thanks for the tip @sswapnesh

Regards,
Yenthe

[2018-04-04 15:54] #23612 closed

[2018-04-04 16:17] JKE-be commented on #24019
That will depend from your collation in your psql config.
Odoo uses the default order by.

[code]

Psql compares strings according to your locale and collation.

[2018-04-04 16:17] #24019 closed

[2018-04-04 16:20] sswapnesh commented on #24019
Thanks for Review.

[2018-04-04 17:09] miqmago commented on #16828
Thanks, yes I'm using 10.0 from docker image (maybe it is not updated?)

(Sorry I've read my post again and realised that it could be misunderstood: I think it is not intuitive but of course I was joking... finally I was really happy to have found it after several trials navigating through settings ;)

[2018-04-04 17:15] eternalharvest opened #24049 "Decimal precision seems not applied in footer of List view"
Impacted versions:
[code]

Steps to reproduce:
* Configure the digits of "Product Price" decimal precision set to 0
* Open a List view which includes price fields

Current behavior:

Decimal precision seems not applied in footer of List view

Expected behavior:

Decimal precision applied even if the price fields is in the footer

Video/Screenshot link (optional):

<img width="354" alt="screenshot"

[2018-04-04 17:57] Yenthe666 commented on #16828
It is the same in the last 10.0 ;) It should be like in V11 under the project settings which is logical honestly. Won't be changed in 10.0 because of stable policy I believe though :(

[2018-04-04 18:29] sswapnesh opened #24050 "[11.0] Wrong Calculation of Quotation/Opportunities in Sales Channels Reporting"
Impacted versions: 11.0

Steps to reproduce: CRM --> Reporting  --> Sales Channels --> Go to Quotation for Any Sales Team

Current behavior: Different total on Dashboard and List view
For America Channel, it is  315.00.

![](https://image.prntscr.com/image/2rLpH6NaQjqcsFp7EjN-1Q.png)
In List view, Total is 405.00

![](https://image.prntscr.com/image/9k3DSW4fQ6yFy1K8nS2DNQ.png)

Expected behavior:

[2018-04-04 19:12] sswapnesh commented on #24017
Came across one more Use case:

Select Few Customers --> Action --> Send SMS

![](https://image.prntscr.com/image/GA15xL0uSQOSjr29iEHN0g.png)

[2018-04-04 20:42] Pereiral01 opened #24051 "[11.0] - WRONG LEAVES MODULE - hr_holidays"
Impacted versions: ODOO 11 - installed in UBUNTU - with PYTHON 3.5

I have a problem in the LEAVES (ausencias) module  since a few days ago, I explain:
When I try to create an employee's LEAVE (for example with 16 days of vacations available) when choosing the type of leave (for example, Holidays with 16 days available, the following occurs:

1º They do not charge the 16 days, in the "DAYS" sectio

[2018-04-04 20:56] zeroheure commented on #16828
Documentation and help should at least be updated. It will not break compatibility in a stable version but hel admins to find the config.

[2018-04-04 22:25] pedrobaeza commented on #24051
Can you reproduce this in runbot?

Please explain all the steps with detail to get to the error.

[2018-04-04 22:31] pedrobaeza commented on #7464
@elicoidal maybe you can prepare a similar patch for v10/v11 or master. Any way, I see you are covering only IMAP, but not POP3.

[2018-04-04 22:32] pedrobaeza commented on #7462
You are not indicating the rest of the parameters, so it's difficult to say. Any way, this is very old, so I triage this, sorry.

[2018-04-04 22:32] #7462 closed

[2018-04-04 22:33] pedrobaeza commented on #7457
I'm afraid this can be a normal time for that volume and depending on the type of calculations. Of course, everything can be optimized, but this is not something feasible for a stable version, and not in the top of the priorities IMO.

I close this issue in a triage operation.

[2018-04-04 22:33] #7457 closed

[2018-04-04 22:34] pedrobaeza commented on #7423
The BoM hierarchy has been removed in latest version and 8.0 is no longer supported, so I'm afraid I have to close this.

[2018-04-04 22:34] #7423 closed

[2018-04-04 22:38] pedrobaeza commented on #7413
I'm closing this as no more feedback and seems to be something wrong on the user side.

[2018-04-04 22:38] #7413 closed

[2018-04-04 22:40] pedrobaeza commented on #7374
Well, although it seems strange, that's the intended behavior and it's logical in its way: not receiving by email things is to not send anything. As there is the possibility of having a portal, that recipient can see also things in Odoo messaging, so it's coherent.

I close this.

[2018-04-04 22:40] #7374 closed

[2018-04-04 22:41] pedrobaeza commented on #7266
This is solved AFAIK. If not, please comment or open a new issue, adding screenshots or similar to illustrate the problem.

[2018-04-04 22:41] #7266 closed

[2018-04-04 22:42] pedrobaeza commented on #7218
Triaging this with the answers given.

[2018-04-04 22:42] #7218 closed

[2018-04-04 22:44] pedrobaeza commented on #7180
Closing as this module is no longer present in recent versions of Odoo.

[2018-04-04 22:44] #7180 closed

[2018-04-04 22:45] pedrobaeza commented on #7137
I think this is not happening in latest versions. If so, please reopen another issue showing some example and screenshots.

[2018-04-04 22:45] #7137 closed

[2018-04-04 22:46] pedrobaeza commented on #7078
You have to delete the record rule.

[2018-04-04 22:46] #7078 closed

[2018-04-04 22:48] pedrobaeza commented on #7043
This is something inherent in how it works that command, so better to not use it in XML, or you won't be able to avoid the warning message. In recent versions, you can use hooks for doing the job of removing things.

[2018-04-04 22:48] #7043 closed

[2018-04-04 22:55] pedrobaeza commented on #8194
The workaround solution is the expected one in the framework, so use that one instead of the string. Closing this.

[2018-04-04 22:55] #8194 closed

[2018-04-04 22:55] pedrobaeza commented on #8170
As there are workarounds provided, I close this.

[2018-04-04 22:55] #8170 closed

[2018-04-04 22:56] pedrobaeza commented on #8088
That is not happening anymore, but master is expected to fail sometimes.

[2018-04-04 22:56] #8088 closed

[2018-04-04 22:57] pedrobaeza commented on #8068
ORM is constantly improving for better performance. Any way, there are operation that you don't probably know that are needed, so please provide a concrete patch for an operation if you have it, or rely on the best effort on performance on the ORM.

[2018-04-04 22:57] #8068 closed

[2018-04-04 22:58] pedrobaeza commented on #8043
That's the expected behavior, as you need to define that account, although not being used in that concrete operation. Any way, vouchers are not used any more for paying, so I close this.

[2018-04-04 22:58] #8043 closed

[2018-04-04 22:59] pedrobaeza commented on #8039
Sorry, but this is very old and imprecise, so I'm closing it.

[2018-04-04 22:59] #8039 closed

[2018-04-04 23:00] aek commented on #23811
Today I realize that the images src of the mail.template inserted using the HTML editor are not using the CDN configuration. I know that CDN stuffs are added with the website module but perhaps this could be something that fits better into website_mail module
I think that the CDN URL could be used and inserted for generated emails like here:
https://github.com/odoo/odoo/blob/11.0/addons/mail/model

[2018-04-04 23:00] pedrobaeza commented on #8021
This is not an Odoo issue itself, but a configuration question, so I close for triaging it.

[2018-04-04 23:00] #8021 closed

[2018-04-04 23:01] pedrobaeza commented on #7940
This has been improved in >v9. In fact, there's no more "Reconcile ref" column, but links to the reconcile itself. Closing this.

[2018-04-04 23:01] #7940 closed

[2018-04-04 23:02] pedrobaeza commented on #7835
I never face this on latest versions. It can be happening also due to custom modifications. I'm closing this. If you are still facing it on latest versions, please open a new issue report explaining the problem with latest code.

[2018-04-04 23:02] #7835 closed

[2018-04-04 23:03] pedrobaeza commented on #7792
The PR was merged, although there are reports that says that it's not enough (a timeout on connection it's also needed). Any way, this issue can be closed.

[2018-04-04 23:03] #7792 closed

[2018-04-04 23:04] pedrobaeza commented on #7784
This is not a question of the template, but the editor itself. Using latest versions code editor shouldn't happen anymore, so I close.

[2018-04-04 23:04] #7784 closed

[2018-04-04 23:05] pedrobaeza commented on #7760
I don't understand the question and this is not an issue, so I close it.

[2018-04-04 23:05] #7760 closed

[2018-04-04 23:06] aek commented on #15648
@Yenthe666 Could you ping someone with this one to see if there is something new that mitigate this issue?

[2018-04-04 23:07] pedrobaeza commented on #7752
Latest versions of Odoo are able to create several bank statements. You have to use that feature for implementing your custom parser with the case you are commenting, so I consider this as solved.

[2018-04-04 23:07] #7752 closed

[2018-04-04 23:07] aek commented on #23892
@Yenthe666 Could you ping someone with this one too?
@odony could you share your thoughts?

[2018-04-04 23:08] pedrobaeza commented on #7748
AFAIK, this is not happening on latest versions. If so, please open a new issue, but explaining in detail all the steps done for having the problem.

[2018-04-04 23:08] #7748 closed

[2018-04-04 23:09] pedrobaeza commented on #7728
Sorry, but I don't understand the issue or what do you want to get. Any way, this is not a proper issue explanation, so I close it. If you want to communicate a problem, please use the template with the information to provide.

[2018-04-04 23:09] #7728 closed

[2018-04-04 23:10] pedrobaeza commented on #7689
I also see this behavior reasonable. Generate another purchase order from the bid if you want to keep that field. Closing this for triaging it.

[2018-04-04 23:10] #7689 closed

[2018-04-04 23:11] pedrobaeza commented on #7676
Is this still happening? Syntax of the `digits` has changed in latest versions, so maybe the problem has been solved.

[2018-04-04 23:12] pedrobaeza commented on #7670
It depends on the timezone of the "Public user" AFAIK. Closing for triaging this.

[2018-04-04 23:12] #7670 closed

[2018-04-04 23:13] pedrobaeza commented on #7612
Yeah, this is the current limitation of the widget, but no easy solution IMO. As a workaround, you can add an extra constraint for checking the comply of the domain.

Closing this as triage operation.

[2018-04-04 23:13] #7612 closed

[2018-04-04 23:15] pedrobaeza commented on #7589
I think this has been solved lately with latest templates, so we can close it. If not, @fv-clearcorp please open a new issue without problem.

[2018-04-04 23:15] #7589 closed

[2018-04-04 23:15] pedrobaeza commented on #7506
8.0 is no longer supported and the invoicing has been improved on later versions, so I close this.

[2018-04-04 23:15] #7506 closed

[2018-04-04 23:16] pedrobaeza commented on #7480
As the API has changed and the compatibility layer with old one has been removed in latest versions, this doesn't apply anymore. If the problem is still present in new version, please open a new issue.

[2018-04-04 23:16] #7480 closed

[2018-04-04 23:17] pedrobaeza commented on #7466
You shouldn't remove any currency, and now in later versions, there's an activation mechanism, so this is not a problem anymore. Closing this.

[2018-04-04 23:17] #7466 closed

[2018-04-04 23:24] pedrobaeza commented on #9094
This is not happening anymore deploying correctly. As this is a generic error, some of the "same problem here" can be due to other reasons, but all of them will be probably on the deployment, not on Odoo itself.

[2018-04-04 23:24] #9094 closed

[2018-04-04 23:25] pedrobaeza commented on #9091
Everything is processed in the ORM in UTC. Only things presented in the UI are converted to the corresponding timezone.

[2018-04-04 23:25] #9091 closed

[2018-04-05 00:38] paolodina commented on #9094
if you say so, happy ending then. close because "probably" it's generic.

[2018-04-05 00:56] adaptivdesign commented on #23559
I have looked into this issue myself, and it seems this is not a bug but a decision to strip out this functionality.

The abstract model 'resource.mixin' defines a method 'get_work_days_data'. This returns both hours and days between two given dates according to the schedule of a resource. The days value is rounded in increments of 0.25.

This data is used in 2 places:

- Holiday duration (this is

[2018-04-05 02:52] elicoidal commented on #7464
@seb-elico could you have a look to propose a patch.
@pedrobaeza patch on v8 was not accepted: do you have any idea why? If we redo similar patch we might end up in the same situation

[2018-04-05 04:44] kalway-tony commented on #23672
Yes, I got this situation, I found value need a Moment object, but i got a string , so "Uncaught TypeError: value.format is not a function"

[2018-04-05 05:26] tejastank commented on #7466
@pedrobaeza  Thanks, we keep enjoy #odoobugs in current version ;)
Will be in future version with future bugs too :)

[2018-04-05 05:39] nhomar commented on #7466
@tejastank

Odoo is a ["Data Driven" system](https://en.wikipedia.org/wiki/Data-driven_programming) that means in few words that "Data matters" to have the correct behavior, and one of such data is the list of currencies and the proper currencies, you have also a auto-update mechanim, and the message is a controlled one telling you that "you do not hav the rate", once you have that understood prop

[2018-04-05 05:59] Yenthe666 commented on #7464
@elicoidal the PR was denied & automatically closed because at that point Odoo 8 was no longer official supported.
In short: nobody really looked at your PR (automated message) and somebody should have a look when you make it against 9/10/11. Sorry for that closure 😞

[2018-04-05 06:00] Yenthe666 commented on #23559
Hi @adaptivdesign,

Sorry no update. For an official response about it being done on purpose or not we'll have to wait from a comment from somebody within Odoo itself. I'm only here to help as much as I can on issues, I do not work for Odoo.

[2018-04-05 06:01] Yenthe666 commented on #8446
@pedrobaeza if we follow that logic we can close off a ton of issues honestly. There are loads of wishlist items open.

[2018-04-05 06:02] nhomar commented on #8446
@Yenthe666 I feel the labl wishlist is enough to filter them, but manage those internally in some moment in the future, I am agree to close them... But let's see what @mart-e says.

[2018-04-05 06:04] Yenthe666 commented on #8300
Hmm, I see. @mart-e can't we handle this one?

[2018-04-05 06:06] Yenthe666 commented on #8446
Yes. I think we might want to change our policy. I'll send out an e-mail to all of you to discuss this.

[2018-04-05 06:12] Yenthe666 commented on #23892
Hmm, this is a quite technical and deep core issue so @odony or @xmo-odoo are the best guys to answer I believe.

[2018-04-05 06:13] Yenthe666 commented on #15648
@xmo-odoo could you have a look at this please? I believe you're one of the onchange and call masters.

[2018-04-05 06:15] wtaferner commented on #8435
@pedrobaeza
It does, so it is only possible to have one active session with OAuth (Google is tested by myself) at a time...

[2018-04-05 06:27] #23418 closed

[2018-04-05 06:30] nhomar commented on #8435
@pedrobaeza

This is yet happening, but I think Odoo is not willing to fix this isue, the oauth implementation is pretty straight forward and simplistic, this use cases should not be necessary for more than developrs (which can use login with password).

 @odony this is opinionated comment on my side, it is a nice to have, but I do not know if critical enough for you, I will mark it as wishlist on

[2018-04-05 07:08] elicoidal commented on #7464
@Yenthe666 Well noted. We will have a look for v10 for the moment which is our running version

[2018-04-05 07:21] antsjr opened #24053 "[11] [L10N] language context breaks for order_lines when creating po/so and printing pdf"
Impacted versions:
11 Ent

Precondition:
- Odoo has 2 distinct languages activated, one can be default English
- There is a product that has been translated into language X
- There is a partner that uses English pdf templates
- User language is set to language X

Steps to reproduce:
1. Create a vendor PO/SO with given product to the given vendor
2. Print PO/SO and Observe
3. Create Bill from SO/PO

[2018-04-05 07:34] mart-e commented on #16828
Hello,

Why searching so far in sub-menus? ;-)
It is available in Settings > General Settings menu. No need to be in debug mode.
The API Credentials menu is actually useless since affb77e (doing the same than General Settings) and can probably be removed in master.

[2018-04-05 07:38] MouTio opened #24054 "[9.0] Report of Request for Quotation doesn't show the Vendor Product Name and the Vendor Product Code."
Impacted versions:
9.0

Steps to reproduce:
1. Go to a Product -> Inventory -> Vendors, add a vendor with Vendor Product Name and Vendor Product Code.
2. Create a request for quotation with the vendor and the product configured previously.
3. Print the Request for Quotation.

Current behavior:
The report of Request for Quotation doesn't show the Vendor Product Name and the Vendor Product Code.

Ex

[2018-04-05 07:47] Elkasitu commented on #24038
@jem-odoo for stable you should either explicitly add the `&` or pass the domain to `osv.expression.normalize_domain`

In master `expression.OR` and `expression.AND` will automatically perform the domain normalization.

[2018-04-05 07:56] nhomar commented on #24054
Hello @MouTio

You can inherit the report itself and make a custom change if you want to be mandatory on that behavior.

The current behavior is print what you see (which is taking propely what you write in the line).

This is not a bug it is a customization very easily done.

Tested on 11.0:

- Printed what you see.

![image](https://user-images.githubusercontent.com/338634/38353428-03510b52-387c

[2018-04-05 07:56] #24054 closed

[2018-04-05 07:56] Yenthe666 commented on #16828
@mart-e you know what I say, if we can fix it in master right away we should. 😉

[2018-04-05 07:57] Yenthe666 commented on #7464
Perfect. Let me know when you've made a PR. 😉

[2018-04-05 08:10] Yenthe666 commented on #24054
Great answer @nhomar - good job!

[2018-04-05 08:13] MouTio commented on #24054
@nhomar Thanks for the answer.

I updated and reinstalled the purchase module and now it works as expected (I installed it around 2 years ago).

Sorry for the inconveniences

[2018-04-05 08:30] zeroheure commented on #16828
@mart-e  Because the documentation indicate a wrong place ("Settings > General Settings > Configure your company data"). It is  a small but very annoying bug that **should** be fixed, it will not break the stable.

[2018-04-05 08:33] mart-e commented on #14985
By the way, we are working to refactor the leave management in v12. I have reported the feedback and hopefully, it will be possible.

[2018-04-05 08:47] Yenthe666 opened #24057 "[Wishlist] Don't reload website menuitems after they're manually deleted from the frontend"
Impacted versions: 9.0, 10.0, 11.0, master

Steps to reproduce:
1. Install the `ecommerce` module
2. Remove the `Shop` menu from the top menuitems through the web editor:
![image](https://user-images.githubusercontent.com/6352350/38355795-3b17336c-38be-11e8-9f56-af5ab5b5e5f5.png)
3. Update the `ecommerce` module from the terminal or backend (to reload data).

Current behavior: The `Shop` menuitem

[2018-04-05 08:57] nhomar commented on #24057
@Yenthe666

What I do is remove the parent_id from the menu in the backend when they are no-update=1.

I hope it helps to you!

[2018-04-05 09:06] miqmago commented on #16828
I've went crazy looking for `Settings > General Settings`. Can't find where it is!

![captura de pantalla 2018-04-05 a les 11 04 52](https://user-images.githubusercontent.com/1849488/38356878-5477baae-38c1-11e8-8552-dfa165d751eb.png)

[2018-04-05 09:09] miqmago commented on #16828
OMG!!! there it is!! right now I've found... The problem is that as you can see, when a menu has no submenus, it is clickable, but when it has submenus, it is not... But the color and look like is the same!!

My mistake it was in front of mine, but have to repeat myself that this is not intuitive... Maybe it is not the right place to post this, but having the same look and feel for a menu that is

[2018-04-05 09:12] zeroheure commented on #16828
Good point

[2018-04-05 09:25] zeroheure commented on #16828
@mart-e I understand that, but this is a message for admin, yet admins speak english. And more : what is the most ennoying : a translation problem or a wrong instruction ?

[2018-04-05 09:30] zeroheure commented on #16828
@mart-e  sorry, my mistake, I wrongly read your post.

[2018-04-05 09:31] Yenthe666 commented on #11899
Hi there,

I'm closing this bug report. This does not mean it will not be handled but we close them to keep a good and structured overview of the Github issues. If at some point we still want to change this behaviour we'll come back to this.
P.S: As mentioned, you could work around it with `sanitize=False` for now.

Regards,
Yenthe

[2018-04-05 09:31] #11899 closed

[2018-04-05 09:31] Yenthe666 commented on #11936
@mart-e could you tell us what happend with the R&D request?

[2018-04-05 09:31] mart-e commented on #16828
No, instance administrators do not necessarily speak English. The majority of our new instances on odoo.com are created in another language than English.
It is not because developers are expected to speak English than we should expect end users to speak it too.

If you want to adapt the text in another language, please join our [translation effort](https://www.transifex.com/odoo/public/) (it was a

[2018-04-05 09:32] Yenthe666 commented on #11149
@odony or @mart-e could one of you two give feedback on this one? Will it be done, will we close it and keep it in the internal backlog, ?

[2018-04-05 09:35] nhomar commented on #24057
Actually.

IMHO edit the website need that the people understand the very basic principles of how administer such data (at least understand how a menu works).

In a saas environment any module is updated with -u all (and should not be done) the update is explicit, then on the saas for example it is not a problem, if somebody triggers the "update" button I supose he/she has basic technical knowledg

[2018-04-05 09:43] mart-e commented on #11149
Hi,

We never backport never features to older versions:

To quote the [deployment documentation](https://www.odoo.com/documentation/10.0/setup/deploy.html#db-manager-security):

In v11, you can use the `list_db=False` configuration parameters.

[2018-04-05 09:43] #11149 closed

[2018-04-05 10:10] tejastank commented on #7466
@nhomar thanks for your philosophy and collecting wounderful words... technically it did not works ;)
Just don't get fear of Bugs.... when such no bugs or issues. keep in mind poeple had alternative...

So instead to doing flattery and fabrication of odoo over technical part. provide solution or patch or guide how technically overcome in that situation.

I don't mind in case you not understand.

[2018-04-05 10:39] nhomar commented on #7466
I think I gave you the information you need.

Just in case I can compliment something.

**Create at least 2 rates for your currency with a date before the one you need, no patch need just a little willing to do the job and understand the other part.**

**Option 2** Set active == False to the one you want to delete.**

**Option 3** Delete it... < THIS IS NOT AN OPTION THAT'S WHY YOU AR RECEIVING TH

[2018-04-05 11:13] odony commented on #8435
When logged in via OAuth, the oauth token is used in place of the normal password. And of course, the password/token invalidates existing sessions when you change it. So it's easy to understand why doing a second OAuth authentication will disconnect previous sessions. And why this does not occur when you login using a normal password that does not change from one connection to the next.

Now, afte

[2018-04-05 12:35] mart-e commented on #7466
Due to the repeated aggressive tone (https://github.com/odoo/odoo/issues/16056#issuecomment-309340823, https://github.com/odoo/odoo/issues/8514#issuecomment-194826027, https://github.com/odoo/odoo/issues/1880#issuecomment-52903140, https://github.com/odoo/odoo/issues/7019#issuecomment-222604898, https://github.com/odoo/odoo/issues/7085#issuecomment-224809626...) or failing to give useful informati

[2018-04-05 12:38] karsapapp commented on #21671
@fgi-odoo any updates on the project?

[2018-04-05 12:58] mvaled commented on #7835
Hi @pedrobaeza

Indeed, I haven't seen this anymore.  From the date of the issue I suspect I saw it in OpenERP 7.

[2018-04-05 13:28] Yenthe666 commented on #21146
Hi there,

I'm closing this bug report as @tejastank has been blocked from the Odoo repository.
An official response can be found on the thread https://github.com/odoo/odoo/issues/7466#issuecomment-378920731, to quote @mart-e:

I was hoping we could manage a solution but, after almost 4 years, it seems sadly that we can not discuss constructively with him.

[2018-04-05 13:28] #21146 closed

[2018-04-05 13:30] Yenthe666 commented on #11401
Hi there,

I'm closing this bug report as @tejastank has been blocked from the Odoo repository and as I was no longer able to reproduce this bug report.
An official response can be found on the thread https://github.com/odoo/odoo/issues/7466#issuecomment-378920731, to quote @mart-e:

I was hoping we could manage a solution but, after almost 4 years, it seems sadly that we can not discuss construct

[2018-04-05 13:30] #11401 closed

[2018-04-05 13:30] Yenthe666 commented on #15264
Hi there,

I'm closing this bug report as @tejastank has been blocked from the Odoo repository.
An official response can be found on the thread https://github.com/odoo/odoo/issues/7466#issuecomment-378920731, to quote @mart-e:

I was hoping we could manage a solution but, after almost 4 years, it seems sadly that we can not discuss constructively with him.

[2018-04-05 13:30] #15264 closed

[2018-04-05 13:30] Yenthe666 commented on #15339
Hi there,

I'm closing this bug report as @tejastank has been blocked from the Odoo repository.
An official response can be found on the thread https://github.com/odoo/odoo/issues/7466#issuecomment-378920731, to quote @mart-e:

I was hoping we could manage a solution but, after almost 4 years, it seems sadly that we can not discuss constructively with him.

[2018-04-05 13:30] #15339 closed

[2018-04-05 13:38] kebeclibre commented on #23910
@sum1201
Hi,

I couldn't reproduce the issue
The database I use in the video has been made with /web/database/manager with language Chinese/CN

https://drive.google.com/file/d/1VbH63x_HHus_iv9AaTBIpwC5n462Tete/view

[2018-04-05 15:15] Yenthe666 opened #24067 "[10.0] Custom financial report actions/menu's are deleted after updating Odoo"
Impacted versions: 10.0 atleast

Steps to reproduce:
1. Create a new database and install an accounting chart, for example `l10n_nl`
2. Make sure the option "Get dynamic accounting reports" is checked on under `Accounting > Configuration > Settings`
3. Go to `Accounting > Configuration > Management > Financial reports`
4. Create a new financial report, for example `P&L 2018`:
![image](https://user

[2018-04-05 15:16] Yenthe666 commented on #24067
Official ticket created. OPW 1834222

[2018-04-05 15:19] mart-e commented on #7024
@pedrobaeza no, so far, nothing has been developed to do so on the client side AFAIK

[2018-04-05 15:25] sum1201 commented on #23910
@kebeclibre
https://youtu.be/e2Rbt_CxMgY

[2018-04-05 15:29] pedrobaeza commented on #7024
And do you think we should keep it opened or it should be something "Won't fix"?

[2018-04-05 15:35] mart-e commented on #7024
@ged-odoo your call! Do you think we could have a `float_compare` at the client side level? e.g. a rule in the tree view `red:product_uom_qty > reserved_availability`

[2018-04-05 15:46] Pereiral01 commented on #24051
Many thanks Pedro, the runbot is:

- Access to Odoo> Leaves
- Go to LEAVES  (ausencias para aprobar > Ausencias)
- CREATE> choose Employee and Leaves type (Ex: Holidays with 32 free days)
- Usually when I choose it days´ field show the days to use (ex: 32 free days), but now it hold in "0"
- Go to Star date and then End date ... when I choose end date, the wrong goin on.
Attached a Video File in Z

[2018-04-05 18:55] #23508 closed

[2018-04-05 18:56] arafatx commented on #23508
This is configuration problem. Solved.

[2018-04-05 18:58] Yenthe666 commented on #23508
Thanks a lot for the feedback @arafatx!

[2018-04-05 18:59] Yenthe666 commented on #20631
Hi @lukebranch,

Thanks a lot for your suggestion.
I'm closing this issue as we're going to work a bit differently from now on. We will close older issues that are labelled wishlist but they will still keep popping up and will still be looked at.
The idea is to keep the 'real' issues open and to search through wishlist items no matter of the open/closed state.

Regards,
Yenthe

[2018-04-05 18:59] #20631 closed

[2018-04-05 19:57] travs-w commented on #16583
@jco-odoo Then, I guess my biggest question is: what are Working Days used for? It doesn't seem to have any real functionality other than a reference for a user to look at.

[2018-04-05 19:58] remcowillekus commented on #21800
This has to do with the web.url, you have to change these in the parameter settings.
You have to place the port you use behind the web.url adres: http://domein.com:8069

You can find the parameter setting when you visit the developer mode.

If you need more informetiin let me no!

Kind regard,

[2018-04-05 20:34] D4N commented on #19276
Nice find, thanks!

I haven't touched odoo for a while and started developing again with version 11. There I had no problems, although I also had no browser window open. I'll try that too.

Is there a way how to prevent that from happening? Maybe launch odoo on a different port during testing, so that the browser cannot accidentally grab the connection? (Although that is incredibly hacky and can f

[2018-04-05 20:37] sswapnesh opened #24071 "[10.0/11.0] Expected singleton: res.users error for wrong username/password during authenticating session"
Impacted versions: 11.0

Steps to reproduce: Create POST request with following data

Host:
`http://domain/web/session/authenticate`

Header:
`{'Content-Type': 'application/json'}`

Body:
[code]
Current behavior:
If it has wrong Login or Password
[code]
If login and password is correct:
[code]
Expected behavior: It should be Valid Response.

Video/Screenshot link (optional):

[2018-04-05 20:55] hugho-ad opened #24072 "[11.0] Unable to import 'readonly' fields if field is set readonly from py"
Impacted versions:
11.0

Steps to reproduce:
By hr.payslip importation the state of the payslip is not available for importation.
Current behavior:
Can't import readonly fields

Expected behavior:
Can import readonly fields values

Video/Screenshot link (optional):
https://bugs.launchpad.net/openobject-client/+bug/648114

[2018-04-05 22:10] Selectsolution commented on #16463
The  Same Proplem Here
Select Solution , Is a Specialist Team working on odoo enhancement , for more info visit :+1:
www.select-online.net

[2018-04-05 22:20] blaggacao opened #24073 "BUG pricelist_id is not taken from parent company"
https://github.com/odoo/odoo/blob/9a9da5763b38a3bce54e9c4870af0032e38cacc3/addons/sale/models/sale.py#L230

It should be:
[code]

Same for payment terms.

[2018-04-05 22:21] blaggacao commented on #24073
@nim-odoo You last touched this, it seems.

[2018-04-06 00:06] pedrobaeza commented on #24073
There's no need for that, as both are "commercial fields", and the values are synced between parent/children:

https://github.com/odoo/odoo/blob/9a9da5763b38a3bce54e9c4870af0032e38cacc3/addons/product/models/res_partner.py#L43

[2018-04-06 00:06] #24073 closed

[2018-04-06 00:10] pedrobaeza commented on #19276
What you have to do is first to install your module without `--test-enable` for installing it and all of its dependencies.

Once installed, put the same command with `--test-enable`, and only your module will be tested.

Closing this as answered. Please use the forums for more doubts like this one.

[2018-04-06 00:10] #19276 closed

[2018-04-06 00:17] pedrobaeza commented on #9338
I have just tried on latest runbot 9.0 version, and it seems is working properly:

![seleccion_012](https://user-images.githubusercontent.com/7165771/38397961-a2adb5d2-3940-11e8-937c-5082c03af878.png)

So I'm closing this. If you experiment more this problem, please feel free to open a new issue with all the details to reproduce the problem.

[2018-04-06 00:17] #9338 closed

[2018-04-06 00:30] pedrobaeza commented on #9321
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-06 00:30] #9321 closed

[2018-04-06 00:32] pedrobaeza commented on #9316
This is because the compatibility layer between old and new API, and its a trade-off we have to pay for having that compatibility. As starting with v10, the old API is removed, we don't have anymore this problem, so I'm closing this issue.

[2018-04-06 00:32] #9316 closed

[2018-04-06 00:33] pedrobaeza commented on #9299
Can you specify which color are you talking about? Where do you choose that color? Is this still reproducible in latest version?

[2018-04-06 00:33] pedrobaeza commented on #9294
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-06 00:33] #9294 closed

[2018-04-06 00:35] pedrobaeza commented on #9268
@mart-e are there any plans to include something about this? Maybe to have into account DST corrections?

[2018-04-06 00:35] pedrobaeza commented on #9207
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-06 00:35] #9207 closed

[2018-04-06 00:37] pedrobaeza commented on #19863
@oliverzgy That's because he expected to have more information as a new comment, not editing your first comment. Any way, although the auto-install makes the module to install, you can still install the other one manually and configure the CoA you want, isn't it?

[2018-04-06 00:40] pedrobaeza commented on #9200
Hi, @Maurice67205, standard reversal wizard in Odoo doesn't perform that operation, but it's a missing feature, not a bug. If you want that feature, you can use the OCA module account_reversal in:

https://github.com/OCA/account-financial-tools/tree/9.0/account_reversal

[2018-04-06 00:40] #9200 closed

[2018-04-06 00:42] pedrobaeza commented on #9177
@fclementic2c AFAIK, the propose invoice to be reconciled is the oldest one, so where's the problem?

[2018-04-06 00:42] pedrobaeza commented on #9168
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-06 00:42] #9168 closed

[2018-04-06 00:43] pedrobaeza commented on #9158
This is a feature not yet considered in standard, but not a bug itself. There's an OCA module that can help you in getting this:

https://github.com/OCA/account-invoicing/tree/9.0/sale_timesheet_invoice_description

[2018-04-06 00:43] #9158 closed

[2018-04-06 00:43] pedrobaeza commented on #9155
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-06 00:43] #9155 closed

[2018-04-06 00:44] pedrobaeza commented on #9154
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue. I think the problem is on translations, but that part was already handled.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update

[2018-04-06 00:44] #9154 closed

[2018-04-06 00:47] pedrobaeza commented on #9120
From version 9, you invoice for purchase orders, but nothing prevents you to select the purchase order, adding that to the invoice full order, but then remove some lines or reduce the quantity in other lines, and then create another invoice, select again the purchase order, and the rest of the received stuff will be added, repeating this operation the times you want.

I'm closing this as answered

[2018-04-06 00:47] #9120 closed

[2018-04-06 00:48] pedrobaeza commented on #9114
It seems so that it's something similar to the other mentioned issue. If this is still reproducible in latest version, please feel free to open a new issue or a PR with the proposed code that fixes the problem.

[2018-04-06 00:48] #9114 closed

[2018-04-06 00:51] pedrobaeza commented on #9111
This is being added on v11 (at last!) in the field `tax_exigibility`, so closing this issue.

[2018-04-06 00:51] #9111 closed

[2018-04-06 00:52] pedrobaeza commented on #9097
What I see is that you are reusing the same External ID in the partner, and that's why it's overwritten, so this is not an Odoo bug. Closing this then.

[2018-04-06 00:52] #9097 closed

[2018-04-06 00:53] pedrobaeza commented on #9096
Is this still reproducible in latest v11 version?

[2018-04-06 00:57] pedrobaeza commented on #9080
Although this is not an Odoo problem, I can say you a trick for this, but please for next questions like this one, use the forums or mailing lists. Add `options="{'reload_on_button': true}"` on the one2many field.

[2018-04-06 00:57] #9080 closed

[2018-04-06 01:06] oliverzgy commented on #19863
Easy to close an issue without looking into it! That time once the small business COA installed automatically, you couldn't switch to another COA. @pedrobaeza, thank you for your kindness, indeed

[2018-04-06 01:59] jx2y commented on #18084
@tivisse @taxcloud, did this thread die or move? We have an implementation of Odoo11 online and are experiencing the same issues as everything above, showing the wrong sales tax due to the rounding factor involved. Any insight on when a fix will be implemented for the online version of Odoo? Thank you!!

Jason

[2018-04-06 03:25] jx2y opened #24074 "Taxcloud not computing on Quotation"
Impacted versions: v11 online

Issue: we have Odoo V11 online and when we create a quotation taxcloud is not reporting the tax. Only when the quote is moved to a sales order will the tax appear.

Thanks for any help!

[2018-04-06 05:15] mohdshoaib04 opened #24075 "Not able to convert Belgi\xc3\xab to België in odoo11 python3.5"
Impacted versions: odoo 11 python3.5

Steps to reproduce: UTF-8 string Belgi\xc3\xab

my_str = "Belgi\xc3\xab"
encoded_str = my_str.encode('latin1').decode('utf8')
print(encoded_str)

Current behavior: Unable to convert latin chars.

Expected behavior: Should be able to convert to latin chars.

Video/Screenshot link (optional):
https://d.pr/free/i/bbmbip

[2018-04-06 05:31] Yenthe666 commented on #9154
Good answer @pedrobaeze!

[2018-04-06 05:56] remcowillekus commented on #21800
Dear Oscar,
How did you solved it? Please let my no.

So maby I Can learn something from your way!

Kind regards,
Groetjes Remco Willekus

[2018-04-06 06:02] Elkasitu commented on #24075
Not an Odoo issue, I suggest you read up on python's [Unicode HOWTO](https://docs.python.org/3.5/howto/unicode.html)

[2018-04-06 06:02] #24075 closed

[2018-04-06 06:12] Yenthe666 commented on #19863
@oliverzgy my apoligies, I was indeed expecting to get a new response and didn't look at the original post again. Sorry for that. Thanks for reopening @pedrobaeza

[2018-04-06 06:56] mart-e commented on #9268
@kujiu is it something you are working on in your work on timezones ?

[2018-04-06 08:03] mart-e commented on #24008
It is actually easy to do, something like odoo-dev/odoo@9ecc60396ff
Now I am wondering on the performance impact.
cc @odony what do you think?

PS: I am not sure to understand the problem with employee categories, there is no hierarchy in [hr.employee.category](https://github.com/odoo/odoo/blob/3f975f97693dfe046dba0d88aaf2bbf2bafa62b6/addons/hr/models/hr.py#L16)

[2018-04-06 08:10] kujiu commented on #9268
I didn't do anything on rrule field. It just serializes as always, but all datetimes will be timezoned in python code. The timezone is not encoded when serializing and the datetime is converted to UTC, so this problem is not solved. I think the fix will be minor as a different format for datetime can be store, and the convertion to cache use a smarter from_string method (it can convert more format

[2018-04-06 08:14] taifu commented on #18098
See https://github.com/odoo/odoo/issues/16635#issuecomment-379181538 for a solution

[2018-04-06 08:25] odony commented on #24008
@mart-e that patch does not work in terms of limits, plus I don't think the spec is correct. What we typically want is to have name_search() symmetrical with name_get(). In the case of hierarchies like tags or stock locations, this requires storing the `complete_name` or simulating it fully when searching. Storing it and searching on the stored version works, but it breaks translations.
So either

[2018-04-06 08:27] D4N commented on #21794
This would be very nice to have indeed, for modules too. Unfortunately currently you cannot install modules with typing hints in odoo. Shameless plug: should be fixed by #24069.

[2018-04-06 08:28] #21794 closed

[2018-04-06 08:44] AlanBell commented on #24008
@mart-e yeah, looks like "Parent Employee Tag" was dropped from the HR employee category between version 8 and 9 https://github.com/odoo/odoo/blob/8.0/addons/hr/hr.py#L56 so that doesn't matter now.

[2018-04-06 08:54] oliverzgy commented on #19863
I don't want to blame anyone, fix the issue is the right thing  to do. In the latest commits, we can switch from the automatically installed small business to the standard COA. This may solve the issue, but still mislead the user that when the use select the standard COA to install, but the small business one is installed.

[2018-04-06 08:54] mart-e commented on #24008
I was thinking about the scenario where you filter partners based on the tag, not the CSV import.

To do what you are looking for, the easiest is then probably to add a filter on your search view
[code]

[2018-04-06 08:56] pedrobaeza commented on #19863
@qdp-odoo what do you think about this?

[2018-04-06 09:45] leio commented on #7024
Please keep in mind that this issue was initially about server-side float_round not actually rounding with some precision. But if that is not fixed (it boggles my mind why not; it's trivial by going through decimal.Decimal, at least temporarily inside float_utils if not using it throughout the codebase), then this is causing issues for not being able to get same results on clientside, as can't rep

[2018-04-06 09:51] pedrobaeza opened #24084 "[10.0] stock: Inventory adjustments doesn't restrict lots/serial numbers"
Impacted versions
===============

10.0

Steps to reproduce
===============

* Create an stockable product, with Tracking = By lots / By Unique Serial Number
* Press button "Update Qty on hand" (or create an inventory adjustment of that product)
* Introduce a quantity, but not a lot.
* Apply.

Current behavior
==============
The quantity is introduced in the system without the lot.

Expected behav

[2018-04-06 10:02] tivisse commented on #18084
Hi @jx2y

Still no new about the release Taxcloud 2.0. We don't have any other choice than deal with it. (Means having small rounding factor errors on the tax rates BUT having the correct taxed amount).

Thanks for your understanding.

[2018-04-06 10:15] oliverzgy commented on #23721
This issue is not related with Odoo at all. It's a common issue when you editing the exported csv and save it in MS Excel in Chinese. It turns the encoding of the csv file from utf8 to gbk. The good practice is to export or import using excel format or using Libbre office to process the csv file.

[2018-04-06 11:28] gurneyalex commented on #7024
please don't close this, this serves as a reminder that the issue exists, and it is a real issue. Otherwise you will get people opening similar issues.

[2018-04-06 11:40] naitikvithlani opened #24089 "Server Config For 2K Users"
Hello Team,

I just want to know the which server configuration will work for 2K users in odoo ?

Or any one have idea for how to design the server for 2K users in odoo

[2018-04-06 11:40] gustavovalverde commented on #20804
Hi, is there an update on this issue? This is becoming a bit overwhelming on implementations that have to reconcile a payment with a bunch of invoices, as the user has to go to each invoice and apply the payment manually instead of  using the reconcile function.

[2018-04-06 11:41] sle-odoo commented on #24084
Actually, it is possible to have tracked quants without any lot in the system. You can achieve by playing with the create lot and use existing lot in the picking type, i think by disabling both.

[2018-04-06 11:46] pedrobaeza commented on #24084
So we should restrict that option too?

[2018-04-06 11:50] sle-odoo commented on #24084
If you want to forbid the "tracked quants without lot" presence, then no. Some business only track products at the delivery step for instance.

We have an ongoing task to display a warning in the use case you pointed-out. I don't think there's something more to do in v10 though.

[2018-04-06 11:54] Yenthe666 commented on #24089
Hi @naitikvithlani,

Sorry but the Github issue tracker is only for bugs in the official code.
This is not the place to ask for custom development, deployments or any other questions.
Please do ask this question on the help forums at help.odoo.com

P.S: A lot of this depends on if all those users will login at the same time or not, if you will have custom development that does heavy interactions e

[2018-04-06 11:54] #24089 closed

[2018-04-06 11:55] Yenthe666 commented on #24074
@tivisse taxcloud so probably of interest to you.

[2018-04-06 12:07] pedrobaeza commented on #24084
Yeah, but that's something totally strange. So you put the lot on delivery and quants are overwritten with lot?

Any way. this shouldn't be the default IMO, and even that there should be an option for strictly forbidden it I think. I remember that this was forbidden in v8.

I have opened an enterprise ticket with number 1834389 because this is a problem directly reported by our customer, so the fi

[2018-04-06 12:15] sle-odoo commented on #24084
You can wait for an answer by the support team, but for me there's nothing to do. For the record, i don't like it either functionally and it makes the code trickier (try to reserve on a lot/fallback on a quant without lot).

[2018-04-06 12:28] tivisse commented on #24074
Yes.

The taxes are computed on the sales order confirmation.

If you want to compute the taxes before that, you can call Taxcloud manually with the action under the "Action" menu.

Thanks for the feedback.

[2018-04-06 12:28] #24074 closed

[2018-04-06 12:34] #21898 closed

[2018-04-06 13:27] Yenthe666 commented on #21898
Yup, looks good. Thank you!

[2018-04-06 13:43] ap-wtioit opened #24092 "[11.0] Bar chart not working in dashboard with multiple actions in Firefox"
Impacted versions:
Odoo 11.0
Firefox 59.0.2 (64-bit)

Steps to reproduce:
- Use Firefox on runbot (db all)
- Go to Sales > Orders > Quotations
- Show graph view
- Extend searchbar to geht "Favourites" Button
- Favourites > Add to my Dashboard > Add
- Go to Repairs
- Favourites > Add to my Dashboard > Add
- Go to Dashboards
- If rendered correctly click on "My Dashboard" again

Current behavior:
Qu

[2018-04-06 13:50] wtaferner commented on #24092
@ged-odoo @nim-odoo
Maybe you can put someone of your team on this issue whoever feels responsible...clearly reproducible and probably an easy win fix IMHO

@Yenthe666
Thx for tagging ;-)

[2018-04-06 13:50] pedrobaeza commented on #24073
I haven't found any problem there, because first the lead is created, and then you link it to the company and propagation is done. Any way, if you find reproducible steps for getting the problem, please open a new issue about that problem, which is not linked with this issue.

[2018-04-06 13:54] matt454357 commented on #18084
I customized the invoice report to hide the rate and show only the tax amount.  Let the customer do their own math. No complaints yet.

[2018-04-06 14:18] pedrobaeza commented on #24051
Thanks for the information, @Pereiral01.

@Yenthe666 who can check this?

[2018-04-06 14:33] blaggacao commented on #24073
Thanks Pedro! Now this becomes interesting indeed, I'll have a deeper look asap!

[2018-04-06 14:34] Yenthe666 commented on #24051
@pedrobaeza see https://github.com/odoo/odoo/wiki/BugManagement#issues for the best list.
@tde-banana-odoo @jem-odoo or @tivisse basically.

[2018-04-06 14:37] pedrobaeza commented on #24051
OK, thanks. As I didn't see a direct entry, in the table, that's why I asked.

[2018-04-06 14:38] Yenthe666 commented on #24051
Yeah I know, some are not very clear (yet) as there are some cases where there is no specific "owner" of a module. This happens to be one of those.

[2018-04-06 14:47] OGGonzalezM commented on #21800
Great! i've just added the report.url.

2018-04-06 0:57 GMT-05:00 remcowillekus <notifications@github.com>:

--
Oscar González Martínez
Soluciones4G
Odoo Silver Partner

[2018-04-06 15:11] Yenthe666 commented on #9096
Or in the latest 9.0 😉

[2018-04-06 15:12] Yenthe666 commented on #9294
@pedrobaeza duplicate on a runbot? 😉 Hmm 😉

[2018-04-06 15:17] pedrobaeza commented on #9294
Agh, I modify the template, but not all. Not on runbot, but directly on my local instance. In fact, it's something I do everyday. That's why I have it very clear.

[2018-04-06 15:26] vincentbeland opened #24096 "Drag and drop CRM cards doesn't work on a tablet"
Impacted versions: 11.0 (I have only tried on this version, but i know it doesn't work either in odoo 8.0) see issue #1605

Steps to reproduce: On any tablet, try to drag and drop a CRM card from one column to another.

Current behavior: It does nothing

Expected behavior: The card should switch to the desired column

It is an important feature we need to have since our salespersons are always on

[2018-04-06 17:53] dominiquekonsuntack commented on #20044
Work around:
- I had the same issue on MacOS: Chrome/ Firefox
- However, it worked in Safari

[2018-04-06 17:56] pedrobaeza commented on #20044
Is this still happening with latest code? @dominiquekonsuntack have you update your code? I have just tried in Linux/Firefox and everything works correctly.

[2018-04-06 18:24] Yenthe666 commented on #20044
@pedrobaeza it only happens on Mac with Firefox 55.0.3, nowhere else.

[2018-04-06 18:25] pedrobaeza commented on #20044
OK, waiting for the PR to be merged.

[2018-04-06 18:34] Yenthe666 commented on #24096
Hi @vincentbeland,

Thanks a lot for the report. This seems to be the case on mobile phones to actually.
@ged-odoo or @aab-odoo could any of you have a look perhaps?
@vincentbeland you could do it (for now?) by opening the record and changing it from within the record instead of from the main view I guess?

Regards,
Yenthe

[2018-04-06 20:10] ivantodorovich commented on #2166
It's still a bug on `9.0`

[2018-04-06 20:44] flotho commented on #20761
Hi @pimodoo , I'm not sure to understand.
Opening a session is only possible online as far as I know. Better is to say starting a session, with all the control stuff before running the POS. Only the open button on the POS dasboard allow to start the session.
On the other hand I totally understand that POS could work offline (even if it became a problem regarding to the french law) and you added re

[2018-04-06 21:41] jx2y commented on #24074
Thank you @tivisse! Are you referring to the action menu on the quotation screen? We only see delete, duplicate, invoice. Do we need to manually add that somehow? Thank you so much!

[2018-04-06 23:17] hbto commented on #22655
@lap-odoo @Yenthe666 could you give us some updates on the task in backlog for v12 on this issue?

[2018-04-06 23:26] gustavovalverde opened #24101 "[10.0][11.0] products: If products are not shared, products category shouldn't be shared"
#### Impacted versions:
All

Steps to reproduce:
1. Create a Service Company
2. Create a Manufacturing Company
3. Create a Food Company

Don't share products between companies as they all have different business models

#### Current behavior:
Complete product category chaos

#### Expected behavior:
Each company can have their own product categories

[2018-04-07 03:06] flyingL123 opened #24102 "Strange behavior with datetime fields in domain"
I'm using `saas-14`. My database contains a `purchase.order.line` with an `id = 98` and `create_date = 2018-04-07 01:04:32`. The create date for this object is the most recent create date for any `purchase.order.line` in the system. In other words, there are no other `purchase.order.line` objects in the system where `create_date > 2018-04-07 01:04:32`.

I have the following code in an server actio

[2018-04-07 05:27] sswapnesh commented on #24074
@jx2y  It is there in Quotation - -> Action
![screenshot_20180407-105523_01](https://user-images.githubusercontent.com/16624719/38451708-7a53639e-3a52-11e8-916d-f558e267b004.png)

[2018-04-07 06:32] Elkasitu commented on #24096
Just to be clear, are you using the mobile app on your tablet or are you experiencing this from your mobile browser?

[2018-04-07 07:31] nhomar commented on #24102
Hello.

We only give support to stable versions (saas-** are not stable ones), can you try it in v11 and confirm if the wrong behavior is there then please let's know to help you properly.

In the meanwhile, I will left open the issue marking it as need information.

Regards.

[2018-04-07 15:03] fmdl commented on #9955
Fix by https://github.com/odoo/odoo/commit/16631338739c5cea1f7bc7abaea8c9a0f6f0790b

[2018-04-07 15:05] #9955 closed

[2018-04-07 16:15] clampcn opened #24104 "some worng in the theme of the 10 version"
There are some worng in the theme of the 10 version. This is my order number.(SO2018/285292). I sent you  email(noreply@odoo.com), but reject !. Please contact me as soon as possible.
thanks!

[2018-04-07 16:24] clampcn commented on #24104
Pedro M. Baeza <notifications@github.com>于2018年4月8日 周日上午12:18写道：

My email is reject! I can’t find the way.

[2018-04-07 16:26] pedrobaeza commented on #24104
But what do you want? If you don't express clearly your problem, anyone can't help you. Theme? Which theme? What is that Sales Order Number? I recommend you to read this:

http://www.catb.org/esr/faqs/smart-questions.html

[2018-04-07 16:32] clampcn commented on #24104
Pedro M. Baeza <notifications@github.com>于2018年4月8日 周日上午12:27写道：

Please check the order  SO2018/28529 on odoo apps. Then replay to me
according to the order email. I’ll give you the detail of my problem.
Thanks!

[2018-04-07 16:35] pedrobaeza commented on #24104
I'm not an Odoo employee, but again, this is not the way to notify problems with App Store. Write to apps@odoo.com.

[2018-04-07 18:03] sswapnesh opened #24105 "[11.0] Internal Server Error on /hw_proxy/status page"
Impacted versions: 11.0

Steps to reproduce: Install Hardware Proxy module --> open  `host/hw_proxy/status`

Current behavior: Internal Server Error

[code]
Expected behavior:

![](https://image.prntscr.com/image/LZU3JHnhQ6aX8NLs4zl2ww.png)

Video/Screenshot link (optional):

[2018-04-07 19:09] sswapnesh commented on #24102
Hello @nhomar
I can confirm this Issue and can reproduce in v11 too.
I have tested this using dummy button not server action.

[code]

[2018-04-07 19:14] jaredkipe commented on #9096
It is reproducible in every version of Odoo I have ever used including 9-11.  **But I don't think it should be 'fixed'...**

The issue here is about expectation more than a defect in implementation.
If you have a salary rule and you give it a debit account AND a credit account then:

1. If your rule evaluates to a positive result, then the debit account is debited and the credit account is credite

[2018-04-07 23:10] hbto opened #24108 "[v11] (purchase_requisition) Product to `make call for tenders` will keep creating Purchase Agreements"
Impacted versions:
v11
Steps to reproduce:
1. Create a Product:
- Stockable Product.
- Routes:
** Buy
** Make to Order
- Procurement
** Propose a call for tenders

2. Create a Quotation with product.
- Approve it.
3. Check the Agreements.
- There is a Purchase Agreement for the Sales Order.
4. Run Scheduler from Inventory.
- Do the run scheduler procedure several times,

5. Check again the Purchas

[2018-04-08 02:49] jx2y commented on #24074
@sswapnesh is that for an online order through the website or is that with a quotation done through the backend? We dont have those options under action....

![quote](https://user-images.githubusercontent.com/37647186/38462485-7c5f314e-3aad-11e8-9071-e5aa7f56df89.PNG)

[2018-04-08 03:54] sswapnesh commented on #24074
I have check it on Runbot. It is for the quotation created in the backend.

[2018-04-08 08:22] fmdl opened #24111 "[PERF][11.0] access to related field with very bad performance when use self.env.norecompute()"
Impacted versions: 11

**Steps to reproduce:**
install sale, sale_stock
create a wizard to import sale.order.line
[code]
Create 10000 lines.

**Current behavior:**
For the first line the time to create is 20ms
Above the 1000 line, the time to create is 200ms. (and much more after ...)

if you apply : https://github.com/odoo/odoo/pull/24110, the max time is 50 ms.

**Why:**
I think there an issue w

[2018-04-08 08:36] wtaferner commented on #24111
@fmdl
Why do you create an extra issue for the talks? Please keep the talks with the PR.

Hmm, 1000 records sounds like a [limitation in prefetching](https://github.com/odoo/odoo/blob/11.0/odoo/models.py#L187).

Try to increase this and test again...but as the state is related and stored (which normally helps), I do not see a reason why we should prefetch sale order lines after creation instead of

[2018-04-08 10:02] sswapnesh opened #24112 "[11.0] Uncaught SecurityError - Cannot load/view Order Confirmation from email/message itself"
Impacted versions: 11.0

Steps to reproduce: Sales Order --> Send by Email --> Send It
Go to Messages --> Open Particular Message --> View order confirmation

![](https://image.prntscr.com/image/mt__JWpwTqetJS4pVHwmgA.png)

or click on the button in any Email

![](https://image.prntscr.com/image/ugKCBksNTqSdXcf4EtrEPA.png)

Current behavior: Traceback on Screen

![](https://image.prntscr.com/image

[2018-04-08 10:09] sswapnesh commented on #24112
Maybe related to #13658

[2018-04-08 10:29] sswapnesh opened #24113 "[11.0] Do not remove attachment from Webpage on Re-Select"
Impacted versions: 11.0

Steps to reproduce: Create a Web page with having Binary field in it.
Ex.Job Application Form

1:`Choose File` --> Select an File
![](https://image.prntscr.com/image/7S-hMoqUSq2IHqhMYU8vdw.png)

2: Click on `Choose File` Again
3: It will Open Default file Explorer
4: Cancel/Close it.

Current behavior: Selected attachment is Removed on Closing File explorer.

Expected beha

[2018-04-08 10:37] sswapnesh commented on #23397
Adding more,
Enable Product Attribute's Filters

![](https://image.prntscr.com/image/LaCwFkdZRtuBW3ecSDAmaQ.png)

[2018-04-08 12:04] JKE-be commented on #23397
This last behavior is the expected one about the filter.
Wishlist add the first variant of the product template that you see.
While the filter show all products where a least one variant match your filter.

It could be improved, and use the first variant that match the current filter... but it is a nice to have ... PR is welcome

About the previous bug, I try to take care this week :) sorry for de

[2018-04-08 12:16] fmdl commented on #24111
@wtaferner the PR is just a POC.
The time to compute increase a lttle at each created line, I just take a value at the 1000th line. It is not from the PREFETCH_MAX.

[2018-04-08 12:32] wtaferner commented on #24111
@fmdl
I see, I thought it was directly related to line 1000 and I stumbled already a lot over prefetching mechanisms, but then I am curious how it can be explained and moreover resolved (always hoping for big conclusions and solutions which would mean performance will become better on a framework level ;-) but let's wait for @rco-odoo. Thank you for taking the time to research this and share your

[2018-04-08 13:31] fmdl commented on #24111
I have find a lead.

It is the issue with computed field.

**When the ORM determine value,**
1- it check if we need to recompute by `record._recompute_check(self)`:
https://github.com/odoo/odoo/blob/11.0/odoo/fields.py#L1024

If find the record in `self.all.todo`, it return all the recordset in cache (`return recs`), and not only the record. https://github.com/odoo/odoo/blob/11.0/odoo/api.py#L878

[2018-04-08 14:44] buzzy3 commented on #22579
Sorry for lack of my response. I can not reproduce it always and I think it was related to an JS Error sometimes poped up with the template. Close it

[2018-04-08 15:07] gustavovalverde opened #24116 "[11.0]: l10n_do: Commit 3fb4159 broke fiscal standards for l10n_do"
### Impacted versions:
11.0

### Steps to reproduce:
- Install v11

### Current behavior:
- Tax Groups do not comply with fiscal requirements

### Expected behavior:
In invoices, we have fiscal requirements on how to show taxes information on invoices, those are:
- VAT
- Withholdings
- Other Taxes
- Selective Taxes (new)

This change was made 10 months ago, so Odoo could be accepted by local autho

[2018-04-08 15:14] gustavovalverde commented on #24116
I'm making this issue mainly for two things:
1. I'll be making a PR to add the old ids (plus an extra one), as this has our community localization stalled https://github.com/odoo-dominicana/l10n-dominicana

2. As a `heads up`, as I consider that this kind of changes should be done with the consent of the groups working with each localization, because the impact of this changes might be greater tha

[2018-04-08 15:36] Yenthe666 commented on #7464
@seb-odoo don't forget the guidelines. If its a big you can create a PR for the lowest supported version where you have it in. If it is a new feature or addition in Odoo it should be only against master.

[2018-04-08 16:19] gustavovalverde opened #24117 "[11.0] account.fiscal.position.template should have an 'active' field"
Impacted versions:
11.0

Steps to reproduce:
- Reconfigure an account.fiscal.position.template for any of the l10n_xx
- Maybe some fiscal positions changed based on legal requirements

Current behavior:
- There's no way to deactivate this fiscal positions from the template

Expected behavior:
- Same behavior as account.tax.template, as Fiscal Positions and Taxes depend on each other.

[2018-04-08 17:36] fmdl opened #24119 "[PERF][11.0] access to related field with very bad performance"
Impacted versions: 11.0 (and maybe more)

Steps to reproduce:
- create a model : `perf_max`
- create a field : `name`
- create a field computed (or related) and stored : `compute_name`, with depends `name`
- create 2000 record of `perf_max`
- execute :
[code]
--> it is so long inside the loop. Because
- during the write, alls record are flaged in the `todo recompute list`. And by the fact we are o

[2018-04-08 17:37] #24111 closed

[2018-04-08 18:54] chris001 opened #24120 "Security audit needed. Crypto miner virus discovered in odoo directory."
Impacted versions: 11.0

Steps to reproduce:
Install odoo from github source, to publicly accessible vm, with nginx ssl front end reverse proxy.

Current behavior:
Hackers are able to break into system and upload crypto miner virus, consuming 100% of one CPU core.

Expected behavior:
Impervious to hackers. Detect if/when system broken into by hackers.
Video/Screenshot link (optional):
The hacker c

[2018-04-08 19:28] Yenthe666 commented on #24120
@chris001 please don't post these things publicly and create a new email to the security team. See https://www.odoo.com/page/responsible disclosure
You can report at security[at]odoo.com.
Cc @odony and @mart-e

[2018-04-08 19:53] chris001 commented on #24120
OK.  Mail sent.

[2018-04-08 20:44] odony commented on #24120
There can be many causes for attackers getting into any system. A security bug is one of them, and we'll be happy to assist in your investigation, but there are many other possible causes (much more frequent!), such as insecure deployments, the use of default passwords, etc.
In this era, deploying an internet-facing service requires great care and a skilled admin, one who can follow all security b

[2018-04-08 20:44] #24120 closed

[2018-04-08 21:26] adnredwan77 opened #24121 "In warehouse --> Inventory Control --> Inventory Adjustment --> when trying to press "Start inventory" I got the following error message"
Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 546, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 583, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line

[2018-04-09 02:56] seb-elico commented on #7464
@Yenthe666 Thanks for the reminder. I'm not the one to judge if not having a timeout is a bug though. IMO, adding a timeout is a new feature. Even if, in this case, it's to avoid having the cron run indefinitely, which could be considered as a bug. It's a question of interpretation. I would appreciate to see this patch back-ported obviously!

[2018-04-09 05:49] Yenthe666 commented on #24120
@odony & @chris001 can you please give us a small conclusion here too when this topic is done?

[2018-04-09 06:14] Yenthe666 commented on #24121
Hi @adnredwan77,

Thanks for the report.
Please follow the provided template though. On which version did you get this? How exactly do you reproduce it? Can you reproduce it on the latest code? Can you reproduce it on an official test instance at runbot.odoo.com?

Regards,
Yenthe

[2018-04-09 06:15] Yenthe666 commented on #24112
@ged-odoo probably another one for your team.

[2018-04-09 06:16] Yenthe666 commented on #24117
@qdp-odoo for your interest.

[2018-04-09 06:51] fmdl commented on #22282
OPW-1834876

[2018-04-09 07:26] pedrobaeza commented on #24117
I don't think this is needed:

* There's no relation between fiscal position and fiscal position template. The latter serves for generating the first one, but nothing more.
* While fiscal position is a live data that belongs to the company, and thus must be deactivated when it has reached its end on life cycle, the templates can be removed/added on demand for reflecting the latest needed chart tem

[2018-04-09 07:43] nle-odoo commented on #19698
hi,

this should be solved in saas-14 with https://github.com/odoo/odoo/commit/ef2646ae9d9 and will be fixed soon.

[2018-04-09 07:43] #19698 closed

[2018-04-09 07:43] sle-odoo commented on #24121
Hi,
It looks like the parent_left, parent_right is not correctly computed. You'll have to upgrade the stock module to recompute them.

Regards

[2018-04-09 07:43] #24121 closed

[2018-04-09 09:02] Elkasitu commented on #24102
Ok so it turns out this is not a bug with domain resolution but it's specific to `create_date` and other datetime fields which use postgres' `NOW()` function.

The search you perform is technically correct, the problem is that the `NOW()` function returns a datetime with floating-point precision, so in the database your datetime will look like `2018-04-07 01:04:32.45642`, which is indeed greater t

[2018-04-09 09:09] treviser commented on #24037
@mart-e I know it costs you less than 30 seconds to review this, and it is really causing tremendeous problems for proper deployments. Please help :-)

[2018-04-09 09:41] nim-odoo commented on #23734
Hello,

Can you please elaborate the use case? From what I can see, the piece of code you point to is used in case of "Other Inputs" are added in the payslip. However, when creating a refund, these lines are not copied on the refund (v10 & v11). So I don't really see the problem... (or maybe the problem is that the "Other Inputs" should be copied as well on the refund and then we need to manage th

[2018-04-09 09:54] pedrobaeza commented on #9096
Thanks for the huge explanation, @jaredkipe. Based on this, I think we can close the issue.

[2018-04-09 09:54] #9096 closed

[2018-04-09 10:09] sylvain-garancher commented on #24119
I can confirm that by applying the patch of [this PR](https://github.com/odoo/odoo/pull/24110/files), importing ~3000 sales order lines on my computer goes from more than 10 minutes (I stopped it before it finishes) to less than 4 minutes. My import script only calls `order.write({'order_line': [long list of (0, 0, data) order lines]})` once.

I tried with and without the `with self.env.norecomput

[2018-04-09 10:14] zfarahani opened #24133 "Hello,,As odoo 11 does not support hierarchical tree view is ther another way to have hierarchical tree view in odoo 11?"
Impacted versions: 11

Steps to reproduce:

Current behavior:odoo 11 does not have hierarchical tree view.

Expected behavior:

Video/Screenshot link (optional):

[2018-04-09 10:17] pedrobaeza commented on #24133
Hello, but you shouldn't use issues for asking things. Use the forums or mailing lists for that.

[2018-04-09 10:17] #24133 closed

[2018-04-09 10:18] Yenthe666 commented on #24119
@xmo-odoo for your interest.

[2018-04-09 10:27] nhomar commented on #24117
Hello @gustavovalverde as @pedrobaeza says, and completing what he said.

Templates** are for the initial configuration only, the generation of the change of the rules is not supposed to be done automatically.

To deactivate them, simply set the field active=False.

![image](https://user-images.githubusercontent.com/338634/38493109-9a42be7e-3bb6-11e8-9695-968ca5c7ff93.png)

The faster way to do it

[2018-04-09 10:32] zahra97 commented on #24133
sorry

[2018-04-09 10:36] vincentbeland commented on #24096
I did it in the web browser on a tablet. Thanks for the quick answer guys! I didn't even know there was a mobile app. I will take a look at it.

[2018-04-09 10:43] seifyba opened #24134 "cannot edit/open/create contact on odoo 11.0"
Impacted versions:11.0

Have you any idea how to solve this error ?
I can not edit or add new contact ?

Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\fields.py", line 947, in __get__
    value = record.env.cache.get(record, self)
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\api.py", line 960, in get
    value = self._dat

[2018-04-09 10:52] pedrobaeza commented on #24134
The module that causes the error is not an Odoo core module. You should contact original authors of that module for fixing the problem.

[2018-04-09 10:52] #24134 closed

[2018-04-09 11:50] gustavovalverde commented on #24117
I have a case were some fiscal positions were deprecated in l10n_do, the old ones shouldn't show on new installs. For my clients @nhomar approach is the best, but for people who I can't reach (Odoo Online for example) how can I deal with this Fiscal Position deprecation if I can't remove the ids from l10n_do.

[2018-04-09 12:04] fmdl commented on #24119
@sylvain-garancher have you test with https://github.com/odoo/odoo/pull/24118 ?

[2018-04-09 12:10] Yenthe666 opened #24136 "[11.0] Producing products with tracing and MRP byproducts configured results in cumbersome batchnumber configuration"
Impacted versions: 11.0

Steps to reproduce:
1. Configure your Odoo to use traceability and make sure you have the configuration set to generate byproducts.
2. Create a sale order with a product, for example `testproduct`, and a quantity:
![image](https://user-images.githubusercontent.com/6352350/38496414-c31462d4-3bfd-11e8-81e4-c95ce56b84f0.png)
3. Configure the sale order and go to the manufactu

[2018-04-09 12:15] Yenthe666 commented on #24136
OPW 1834993.
CC @jvOrsouw

[2018-04-09 12:24] nhomar commented on #24117
@gustavovalverde do not forget to explain the rationale of your changes on the PR, it can not be a full refactor because is "nice" you need to try minimal change required by law only.

[2018-04-09 12:38] mart-e commented on #24037
@treviser there is no such thing as "quick review" :wink:
It is not as easy as we want to cover both sceanrio:
- de_CH is installed -> currently translated
- de_DE is installed -> currently not translated

If we change the `spoken_language` [value](https://github.com/odoo/odoo/blob/90da0f5a64cda087a3487cfae52d416e314fae6b/addons/l10n_ch/data/l10n_ch_chart_data.xml#L21) to `de_DE`, the one using de

[2018-04-09 12:53] oco-odoo commented on #20804
@gustavovalverde I'm currently working on it ;)

[2018-04-09 13:00] gustavovalverde commented on #20804
Thanks for the ping @oco-odoo 👍

[2018-04-09 13:05] gustavovalverde commented on #24117
In others l10n_do PRs I've been told that I can't remove External IDs in stable, that's why I proposed to add this field, this way the external ID is kept and the fiscal position is deactivated on new installs.

But I could add an automated action to the PR so it can deal with it (but not sure it will be accepted).

[2018-04-09 13:36] pedrobaeza commented on #24117
Can you point where that has been said? It can be a general rule, but not applicable with chart of accounts. I have removed several records from l10n_es when needed by changes in law. Example: https://github.com/odoo/odoo/pull/8453

[2018-04-09 14:06] jvOrsouw commented on #23344
What i'm missing is the possibility to clear fields by import: f.e. if by mistake on a product the field 'property_cost_method' has a value, the product no longer follows the cost method of the category it is in. I'd like to empty this field on the product, but can't do it manually (field not visible), but also not by import because 'false' is not a correct input, and by clearing the field, the in

[2018-04-09 14:26] mart-e commented on #24037
But why is it an issue for deployment to have your users use de_CH? I am not convinced the current behaviour is that bad.

[2018-04-09 14:42] Nick-OpusVL commented on #21214
I can confirm in 10.0

[2018-04-09 15:08] khoaphandct commented on #21248
@Yenthe666 : The step to reproduce is:
1. Install web_gantt (migrating module 9.0 to 10.0)
2. Code Gantt view for Project Task in my custom module as following code:
[code]
3. Click on Gantt Button in Task View as following picture
![screenshot from 2018-04-09 22-06-58](https://user-images.githubusercontent.com/34157654/38505843-62198f1e-3c42-11e8-946e-f2c16d8e7417.png)
4. Error pop as @batzaya 's

[2018-04-09 15:24] gustavovalverde commented on #24117
I might misunderstood something here: https://github.com/odoo/odoo/pull/13787#issuecomment-261448165, but I understood in that moment that xml-ids can't be touched.

[2018-04-09 15:29] pedrobaeza commented on #24117
Well, that are tags, that don't have templates, so you are mixing things. Tags can't be removed indeed in stable, as they are shared in the templates and in the companies CoAs.

[2018-04-09 15:32] Yenthe666 commented on #21248
@khoaphandct migrating a module is at own risk though, that doesn't fall under default odoo

[2018-04-09 15:40] gustavovalverde commented on #24117
Well, thanks for the clarification, I got confused with those. If that's the case, the field is not needed and this can be closed.
Thanks @pedrobaeza and @nhomar

[2018-04-09 15:40] #24117 closed

[2018-04-09 15:43] treviser commented on #24037
@mart-e Sorry for my rushing :-)
Up to Odoo 10.0, the translation file was de.po, only now with Odoo 11.0 it suddenly is de_CH.po. This is something I can not understand, why changing that? There is no reason to use de_CH, because there is only one german translation of the Swiss chart of accounts. According to my understanding, it should only be de.po as before, not de_CH and not de_DE. I do not

[2018-04-09 16:03] flyingL123 commented on #24102
Very interesting thanks @Elkasitu. As a workaround for now I am just including an additional condition that the IDs are not equal `[('create_date', '>', record.create_date), ('id', '!=', record.id)]`, but it would of course be great to not have to do that.

[2018-04-09 16:04] sswapnesh commented on #24102
@Elkasitu What about domains already applied in odoo?
I would prefer adding (id,|=, record.id)

[2018-04-09 16:16] treviser commented on #24037
@mart-e You may check it in version 10.0: There is spoken_languages it_IT and de_DE (https://github.com/odoo/odoo/blob/10.0/addons/l10n_ch/data/l10n_ch_chart_data.xml#L21 )

[2018-04-09 16:16] Yenthe666 commented on #21214
@d-fence could you check please?

[2018-04-09 17:33] sswapnesh commented on #24121
@adnredwan77  Is odoo v8?

[2018-04-09 18:32] sswapnesh opened #24142 "[11.0] Traceback on closing Import Bank statement Wizard"
Impacted versions: 11.0

Steps to reproduce: Tested on [Runbot](http://318824-11-0-b85656.runbot9.odoo.com/web?debug#view_type=kanban&model=account.journal&menu_id=287&action=385) --> Invoicing --> Dashboard --> Import Statement

Current behavior: On Cancel Button on Footrt or Pressing escape Button

![](https://image.prntscr.com/image/VqLAcwo4QBaNZZ2k2PtHag.png)

![](https://image.prntscr.com/ima

[2018-04-09 18:45] Ark74 opened #24143 "Paypal transaction status pending"
**Impacted versions:**

10CE

**Steps to reproduce:**

1. Install eCommerce
2. Set products
3. Enable Paypal & configure following,
https://www.odoo.com/documentation/user/10.0/ecommerce/shopper_experience/paypal.html
* Return URL: /shop/confirmation
* PDT : On
* IPN (Enabled): /payment/paypal/ipn
* Set encoding to UTF-8
* Paypal Account Optional: On
* Set email & Merchant ID
* Set Payment system

[2018-04-09 18:46] Ark74 commented on #24143
I've noticed that even when changing the
UTF-8 option it still uses the

` 'charset': u'windows-1252',`

Could this be related to this behaivor?

[2018-04-09 20:53] collex100 commented on #23770
http://www.serpentcs.com/web/content/1980
13 page

2). Jasper Reports With Workers (multi process) :
When you wan't to use –workers (multi process) in jasper reports in V8 , then you faces errors like
“ EXCEPTION: [Errno 111] Connection refused (111, 'Connection refused') ” or
“ Exception: bus.Bus unavailable “ .
Solution:
At first install psycogreen python library. And after that uninstall im_cha

[2018-04-09 21:06] fhrancis commented on #13698
Hi @Yenthe666 , and anyone who can help me with this
I have this same problem but with a variation.
Already configured my report.url to:
http://127.0.0.1:8069
and
http://0.0.0.0:8069
The slow generation of the PDF, only occurs when there is NO internet . When I have connection it works perfect.
I need to generate it even if there is no Internet in the Server.
Testing on:
Ubuntu Server 16.04
Odoo 1

[2018-04-09 22:42] cormaza opened #24145 "Export Issue with many workers"
Impacted versions:
11.0
Steps to reproduce:
Export whatever data, with relational data, without external identificator
Current behavior:
Show error message:

Error:
Odoo Server Error
[code]
Expected behavior:
Export correctly
Video/Screenshot link (optional):

[2018-04-09 22:50] pedrobaeza commented on #24145
Are you able to reproduce this in runbot (http://runbot.odoo.com/runbot)?

[2018-04-10 00:28] pedrobaeza commented on #8473
That view was conflicting and now it has been removed in latest version, the same as the foundation for it in v11: hierarchy mode view, so this issue has no more meaning.

The good news are that I think something new is being prepared a new BoM structure view, but I can't find right now the reference.

[2018-04-10 00:28] #8473 closed

[2018-04-10 00:29] pedrobaeza commented on #8472
@mart-e is there any roadmap for this?

[2018-04-10 00:35] pedrobaeza commented on #8471
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-10 00:35] #8471 closed

[2018-04-10 00:37] pedrobaeza commented on #8470
Hi, invoicing system has changed for being done from sales orders for sales workflow, and adding purchases orders to vendors bills, but it has been a change of approach that doesn't mean that it's a bug to not have the picking invoicing. Please check new flows and ask of forums for doubts about them.

[2018-04-10 00:37] #8470 closed

[2018-04-10 00:39] pedrobaeza commented on #9503
What you are trying to get is the inverse rate, but you are interpreting the contrary the way rates are handled. Please check it deeper.

[2018-04-10 00:39] #9503 closed

[2018-04-10 00:40] pedrobaeza commented on #9499
Sorry, but this is something not very used and simplified for the shake of good, and no alternative mechanism has been put, but you can always recreate the v8 field in a community module.

[2018-04-10 00:40] #9499 closed

[2018-04-10 00:41] pedrobaeza commented on #9494
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue. This in concrete was something that I suffered in the past until it got solved.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module u

[2018-04-10 00:41] #9494 closed

[2018-04-10 00:43] pedrobaeza commented on #9457
This is not directly an Odoo issue, but some misuses abusing of the ORM system, that it's logical that can fail from version to version or when major refactorings, so I close.

[2018-04-10 00:43] #9457 closed

[2018-04-10 00:46] pedrobaeza commented on #9448
I have seen the video, and also don't consider a bug. Both approaches have their cons:

* If you move the dropdown list, then the selection can get complicated, specially on small devices.
* If you don't move the dropdown list (as now), it seems a bit uglier when scrolling on background, but it's not critical.

Thus, I close.

[2018-04-10 00:46] #9448 closed

[2018-04-10 00:46] pedrobaeza commented on #9440
Closing as kindly answered several times by @gdgellatly

[2018-04-10 00:46] #9440 closed

[2018-04-10 00:47] pedrobaeza commented on #9427
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-10 00:47] #9427 closed

[2018-04-10 00:47] pedrobaeza commented on #9426
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-10 00:47] #9426 closed

[2018-04-10 00:47] pedrobaeza commented on #9394
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-10 00:47] #9394 closed

[2018-04-10 00:49] pedrobaeza commented on #9299
Closing as no answer. Feel free to open a new one with more information if the problem persists.

[2018-04-10 00:49] #9299 closed

[2018-04-10 00:49] pedrobaeza commented on #9339
From v9, reconciled items can be shown from the account move, so this is not a problem anymore.

[2018-04-10 00:49] #9339 closed

[2018-04-10 00:51] pedrobaeza commented on #9375
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-10 00:51] #9375 closed

[2018-04-10 00:55] pedrobaeza commented on #9268
So maybe you can plan a task for this?

[2018-04-10 00:56] pedrobaeza commented on #9177
No answer, so I close.

[2018-04-10 00:56] #9177 closed

[2018-04-10 00:57] pedrobaeza commented on #9051
@sle-odoo maybe you can check this?

[2018-04-10 00:58] pedrobaeza commented on #8620
There are already community and OCA modules for this, but it's not a core feature. I close this.

[2018-04-10 00:58] #8620 closed

[2018-04-10 00:59] pedrobaeza commented on #8626
For allday events, the hours part is ignored, and thus it's saved in UTC for convenience, so there's no real problem with this, unless you want to get the proper date from only that fields. You will need to check also the allday flag and act properly when set.

[2018-04-10 00:59] #8626 closed

[2018-04-10 01:00] pedrobaeza commented on #8627
Is this still happening?

[2018-04-10 01:01] pedrobaeza commented on #8646
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-10 01:01] #8646 closed

[2018-04-10 01:03] pedrobaeza commented on #8665
The currency used is the one from the pricelist, so if you set the pricelist as EUR, the conversion is done. Closing as no real issue.

[2018-04-10 01:03] #8665 closed

[2018-04-10 01:04] pedrobaeza commented on #9542
Well, although it's not the best, you always have the residual amount for checking the remaining, so I close this.

[2018-04-10 01:04] #9542 closed

[2018-04-10 01:05] pedrobaeza commented on #8691
This has been solved in latest 9.0 versions:

![seleccion_003](https://user-images.githubusercontent.com/7165771/38530663-116fb884-3c6c-11e8-8720-f19190ceb5d3.png)

Thus, I close the issue.

[2018-04-10 01:05] #8691 closed

[2018-04-10 03:06] foxinstone opened #24147 "Odoo11‘s live chat not work"
Impacted versions:
odoo11
Steps to reproduce:
Follow the official documents

Current behavior:
Odoo11‘s live chat not work
Expected behavior:
Fix it.
Video/Screenshot link (optional):

Hi,
I have successfully installed the software on Ubuntu16.04，The site looks very good work except the online chat feature does not work.
I checked the error log, found these :

[error] 15035#15035: *68 connect() fa

[2018-04-10 03:15] lukebranch commented on #24147
You need workers > 0 in /etc/odoo-server.conf and you need a reverse proxy like Nginx for the longpolling on 8072.

I'd suggest closing this issue and reading the deployment documentation examples, they provide examples on how to do this:

<a href="https://www.odoo.com/documentation/11.0/setup/deploy.html">https://www.odoo.com/documentation/11.0/setup/deploy.html</a>

[2018-04-10 03:24] foxinstone commented on #24147
Of course I have this set，In my config file(/etc/odoo.conf), workers=3.
And Please note that this is a log file from nginx，this seems to indicate that it has reverse proxy, but the port declined. also, the site work is ok...

![image](https://user-images.githubusercontent.com/35874666/38534630-a1f07f02-3cb1-11e8-84a2-b94bc9110b8d.png)
![image](https://user-images.githubusercontent.com/35874666/385

[2018-04-10 03:39] foxinstone commented on #24147
Please believe that I have read this Document carefully, and follow the instructions to configure it.

[2018-04-10 04:50] sburns90 commented on #14226
@Reechee88
Thanks, clearing the browser cached fixed the problem for me as well.

[2018-04-10 05:06] foxinstone commented on #24147
All right, have been repaired!
The problem is that I didn't notice the path to the ’conf‘ file.
Thanks for your work.

[2018-04-10 05:06] #24147 closed

[2018-04-10 05:52] Yenthe666 commented on #13698
@fhrancis having internet or not should make no difference (locally) as far as I know. It should work just as fine if you've set the `report.url` to `0.0.0.0:8069` or `127.0.0.1:8069`.

[2018-04-10 05:54] Yenthe666 commented on #9051
Hmm indeed, that looks off. Good catch.

[2018-04-10 06:02] gdgellatly commented on #9051
@pedrobaeza @Yenthe666 I think this is a duplicate.  From memory, available qty with variants shows total of all variants, but the inverse search doesn't consider variant quantities  (or something like that).

[2018-04-10 06:37] Yenthe666 commented on #9177
@pedrobaeza perhaps 4 days is a bit fast, no? I usually wait 1 month. Just my five cents!

[2018-04-10 06:42] fclementic2c commented on #9177
@pedrobaeza no problem. a bit of cleanup is ok when it is that old.
My comment was due to a change of behavior between 8 and 9. I live with it.

[2018-04-10 07:06] pimodoo commented on #20952
Hello @gdgellatly , your feedback has been applied in commits:
- https://github.com/odoo/odoo/commit/f483d6cc87b0e3e35bd23abd41af444c98df8812
- https://github.com/odoo/enterprise/commit/9625b690c0507d59e4e57fcfaa089339db423e34

Thanks

[2018-04-10 07:07] pimodoo commented on #22187
Hello @trcarden your feedback has been applied in master in commit: https://github.com/odoo/odoo/commit/3ae9dde258303b8212ae47654edf00e5879e8bab

Thanks

[2018-04-10 07:26] foxinstone opened #24150 "Odoo 11's live chat can't pop up"
Impacted versions:
11.0

Hi
Prior to this, my live chat not functioning properly, then i fix it.
But now, i delete all channels in demo and add a new channel, the auto popup not functioning properly.
However, i use a static window, can talk .
Just pop up functioning...

![image](https://user-images.githubusercontent.com/35874666/38542090-87119b0e-3cd3-11e8-8efa-7444ed5bd119.png)

[2018-04-10 07:39] Mchizan commented on #19627
hi @SmithLin0618

I am having a big problem with that.
I have try a long time but i can't fix

i faced the same issue twice on a win 7 machine with version odoo version 11.
To fix it,i installed node js and restarted the machine. That fixed the blank page issue.
ps i had errors loading java script .
I hope that helps you

[2018-04-10 07:42] JKE-be commented on #17508
The message needs to be improved, but that makes sense that we will be not able to make payment with wire_transfer into this form ;)

[2018-04-10 07:51] mart-e commented on #24037
At the time of the development of l10n_ch, the de_CH language was not available. We got some requests and added the language.
As people with the de_CH did not get the Swiss CoA translated, we switched the language as well.

Not exactly, we are talking about the `code` column on the `res.lang` record. There is no `de` language but the `de_DE` is the "reference" German (the translations are stored i

[2018-04-10 08:08] foxinstone commented on #24150
Hi,
I uninstalled the livechat Application，then installed it, The pop up function became OK.
You know, actually, when the new channel, in addition to the name, didn't have any other operation,So i think there is a little bug in the program。
Now i am going to modify the old channel to make it ok.
Thanks!

[2018-04-10 08:08] #24150 closed

[2018-04-10 08:45] pedrobaeza commented on #9177
Yeah, I'm the cleanup man :yum:

No, seriously, I think it's a good technique aligned with GTD methodology: you consider this done until further notice. If someone complains or there are more details/explanations, it's easy to reopen.

[2018-04-10 08:46] pedrobaeza commented on #9051
Yeah, but in this case I consider that it should be consistent or rename the filter for avoiding confusions.

[2018-04-10 08:55] tivisse commented on #24074
Hi @jx2y

It seems that your module is not up-to-date. Could you please go to "Apps" and update the module 'account_taxcloud" (You have to remove the filter).

It should appear after that.

Thanks.

[2018-04-10 09:07] MeetKD opened #24154 "[11.0] Drag and Drop Issue"
Impacted versions:
11.0
Steps to reproduce:
Click on Project Menu.

Go to Task Menu.

Open one of the task.

Drag and Drop Kanban state or Priority field on description field.

it will show the link with element in description iield.
Current behavior:

While drag and drop the kanban state or priority field it is showing link with image.

Expected behavior:

It should not allow to drag and drop on

[2018-04-10 09:11] treviser commented on #24037
@mart-e Thank you very much for your patience. Let me summarize:

If the user language preference is set to German(CH):
- the user gets translated terms from de_CH.po, if available, otherwise from de.po (if available).
If the user language preference is set to German(DE):
- the user gets translated terms from de.po (or de_DE.po), but not from de_CH.po.

And that would mean that we could safely ren

[2018-04-10 09:27] mart-e commented on #8472
After almost 3 years, we still did not considered it as needed so no, sorry

[2018-04-10 09:27] #8472 closed

[2018-04-10 09:31] pedrobaeza commented on #24154
This is something inherit to the browser and how it handles the images, so I don't consider this an Odoo bug. Any way, just don't drag the element. Others will consider this a blessing, as you get the URL of an image easily...

Closing as no real bug.

[2018-04-10 09:31] #24154 closed

[2018-04-10 09:58] kharbat opened #24156 "[V11.0] hr_payroll: Issue with "other input" in Payslip computation"
Impacted versions: 11.0

**Steps to reproduce:** In a Payslip Batch, try to enter values for "Other Inputs" and click Compute Sheet

**Current behavior:**  Values of other inputs are being saved to the database, but not retrieved when the popup reloads. Might be something with the JS code.

**Expected behavior:** The user input values should remain after clicking Compute Sheet and be reflected on

[2018-04-10 10:00] kharbat commented on #4438
I was able to reproduce this issue on v11.0 and I also uploaded a video to show the behavior on this issue #24156

[2018-04-10 11:26] mart-e commented on #22945
Fixed at 4e061d8c51f92fd8dde626bb8ddbdd867db84046

[2018-04-10 11:26] #22945 closed

[2018-04-10 11:29] mge-odoo commented on #24034
@nim-odoo same as in opw-1826599

[2018-04-10 12:54] kharbat commented on #4438
@diassynthesis were you able to fix this issue? can you give me any suggestions? I would really appreciate it

[2018-04-10 14:10] LofbergValentin commented on #24113
It's standard behaviour for input file. We can't get the file path for security reason and therefore  can't override the current way the input behave.

[2018-04-10 14:50] manney opened #24167 "[11.0] Creating an internal transfer with multiple lines of same product causes error"
**Impacted versions:**
Only tested on 11.0

**Steps to reproduce:**
1. Go to the Inventory App
2. From a 'Internal Transfers' Kanban card, click on the title or 'x Transfers' button
3. Click the 'Create' button in the tree view
4. Under the 'Operations' tab, create 2 or more lines that contain the same product, changing nothing else
5. Click the 'Save' button
6. An error (below) will appear

**Cur

[2018-04-10 15:26] manney commented on #24167
An external module is being loaded (but is not installed) and causing the issue.  Sorry to waste anyone's time.

[2018-04-10 15:26] #24167 closed

[2018-04-10 15:27] #24113 closed

[2018-04-10 15:36] AlexZhangY opened #24168 "SalesManager can't confirm quotation"
Impacted versions:
Odoo 8
Steps to reproduce:
The sales create a quotation(permission:see owner),when salesManager（permission:Manager) confirm the quotation, appear odoo warning,access reject:because safe limit,request operation can't complete,please connect the system manager, document type Sales Order, operation:write.
So

1. I check the User->group -->sales/salesManager,  both ‘see all leads’ a

[2018-04-10 17:28] treviser opened #24170 "[Odoo Forum]: The forum is under spam attack again!"
@Yenthe666 @JKE-be @odony Since days the well known spam attacks from korean IP origins are growing again, at the moment with a rate of 1 spam message per minute.
Our measures taken a longer time ago (https://github.com/odoo/odoo/issues/12803 )seem not to be sufficient anymore. We should introduce a closing reasing which does not only delete the karma of spammers, but which additionally also block

[2018-04-10 18:55] Yenthe666 commented on #24170
@treviser,

Yeah I've noticed so too. I think we should create an IP filter of some sorts on the forums. We should catch the user IP and only allow x posts per x time. If this threshold is passed there should be a redirect page saying that you cannot create so many topics at such a short interval.

I think this is one of the only long term and good fixes to prevent this from happening. :)

Regards

[2018-04-10 19:58] fhrancis opened #24173 "Odoo 11 PDF generation extremly slow only when NO Internet connection on the Server"
Impacted versions: Odoo 11

Steps to reproduce: Block Internet connection to the Odoo Server. Now Print a Quotation or Invoice.
The parameter "report.url" is already set to: "http://127.0.0.1:8069"

Current behavior: The PDF generation takes like 2 minutes.

Expected behavior: The PDF generation should take between 2 - 3 seconds.

Video/Screenshot link (optional): https://www.youtube.com/watch?v=Q

[2018-04-10 20:10] sswapnesh commented on #24173
I have faced similar behavior on live server too where it has limited access and other ports are already disabled.

[2018-04-10 22:24] pedrobaeza commented on #10146
No more feedback, so I close.

[2018-04-10 22:24] #10146 closed

[2018-04-10 22:25] pedrobaeza commented on #10103
This is old API, so it doesn't apply anymore and it's not an Odoo issue itself, but something specific to the custom module being developed. Thus I close.

[2018-04-10 22:25] #10103 closed

[2018-04-10 22:28] gdgellatly commented on #9051
@pedrobaeza I wasn't disagreeing that it is a bug.  I think it only makes sense to search based on the sum of available variants.  The functional logic is straightforward.  I want to know if I have (any) Iphones (of any variant) in stock (or over any summed qty), yes I do.  Now what configurations are available means look at individual variants.

[2018-04-10 22:29] pedrobaeza commented on #10101
This has changed in latest versions, so I invite you to check new rules, and put a new issue if you still find problems.

[2018-04-10 22:29] #10101 closed

[2018-04-10 22:29] pedrobaeza commented on #10067
@Yajo is this still applying?

[2018-04-10 22:32] pedrobaeza commented on #10047
Is this still happening in latest code version?

[2018-04-10 22:44] pedrobaeza commented on #9972
Is this still happening in latest code version?

[2018-04-10 22:44] pedrobaeza commented on #9947
Closing as solved with the dbfilter option, that's the proper deployment method.

[2018-04-10 22:44] #9947 closed

[2018-04-10 22:49] pedrobaeza commented on #10003
This is a known issue due to the default being applied in the sequence field, but on latest version (v11), with the view refactoring, there has been a little improvement of this: when you add the line and the sales order popups the form view, when saving, the line gets automatically ordered. It doesn't happen that when the tree is editable unfortunately.

@ged-odoo is any improvement planned for t

[2018-04-10 22:50] pedrobaeza commented on #9943
@xmo-odoo is there any advance with this? Is there now a new pyeval.js version that covers it?

[2018-04-10 22:51] pedrobaeza commented on #9941
Closing as 8.0 is now a non supported version and several workarounds have been provided.

[2018-04-10 22:51] #9941 closed

[2018-04-10 22:53] pedrobaeza commented on #9899
This has been fixed meanwhile in any moment of 9.0, so I close.

[2018-04-10 22:53] #9899 closed

[2018-04-10 22:55] pedrobaeza commented on #9860
Is this still happening? Please specify all the steps and data you input.

[2018-04-10 22:57] pedrobaeza commented on #9825
Sorry, but this is how everything ties together, having a common decimal precision that serves for all. If it's not correct, please change it, but in some places, the representation in screen will still be in only 2 decimal places, but that doesn't mean that the value is rounded.

[2018-04-10 22:57] #9825 closed

[2018-04-10 22:58] pedrobaeza commented on #9818
This is not an Odoo issue per se, and although interesting, I have to close. Please have this type of conversation on forums or mailing lists.

[2018-04-10 22:58] #9818 closed

[2018-04-10 23:01] pedrobaeza commented on #9795
This is because there's no default action configured on incoming mail server, like create a lead. Closing as no real bug.

[2018-04-10 23:01] #9795 closed

[2018-04-10 23:02] pedrobaeza commented on #9771
AFAIK, this is not failing, but there's not enough information, so I'm going to close it. If the problem persists, please open a new issue giving more information, and not stripping traceback.

[2018-04-10 23:02] #9771 closed

[2018-04-10 23:03] pedrobaeza commented on #9761
@adr-odoo is this still happening?

[2018-04-10 23:05] pedrobaeza commented on #9751
This has been improved in latest v11 version with the view rewritten, and now pager and current record is updated properly after deleting a record, so we can consider this solved by this enhancement.

[2018-04-10 23:05] #9751 closed

[2018-04-10 23:07] pedrobaeza commented on #9732
It seems that you have manipulated somehow the stock.location table, but this is not reproduced in normal conditions, so I close this issue as no real bug appreciated.

If you reproduce in the runbot infrastructure, that are DBs automatically deployed with all the standard modules installed, accessible in http://runbot.odoo.com/runbot, then please open a new issue with all the steps done before ge

[2018-04-10 23:07] #9732 closed

[2018-04-10 23:07] gadLinux commented on #17129
@thedextazlab can you post your scripts, please?

[2018-04-10 23:08] pedrobaeza commented on #9570
Sorry, but this is a feature that has been removed as it was very consistent and not valid with newest refactoring. Please search for a community module replacing that feature.

[2018-04-10 23:08] #9570 closed

[2018-04-10 23:09] pedrobaeza commented on #9532
@sle-odoo is there any news about this? I think some work has been done for improving load time, but I don't know if specific to this.

[2018-04-10 23:10] pedrobaeza commented on #9531
Same answer as in https://github.com/odoo/odoo/issues/9503

[2018-04-10 23:10] #9531 closed

[2018-04-10 23:12] pedrobaeza commented on #17129
Use a dockerized solution like https://github.com/Tecnativa/docker-odoo-base and you will forget all of these problems as everything is already packed.

[2018-04-11 00:28] gadLinux commented on #17129
@pedrobaeza That's a nice solution. Thank you a lot for the link. But I think, at least in my case. I prefer to resolve the problem and see how can I get it working on my developing machine.

For example I tried an integration today, and because this (I think) the integration broke, then it started automatically again, and then broke again. The problem is that it created a high load in the dev mac

[2018-04-11 02:16] pancks commented on #6149
anybody got the solution for this?

[2018-04-11 05:03] Yenthe666 commented on #10149
@mart-e and @tde-banana-odoo could you give an update please?

[2018-04-11 07:14] #23561 closed

[2018-04-11 07:27] Yajo commented on #10067
No idea, long time since I don't use RPM to install Odoo :roll_eyes:

[2018-04-11 07:53] pedrobaeza commented on #10067
OK, let's close it then.

[2018-04-11 07:53] #10067 closed

[2018-04-11 08:05] nim-odoo commented on #19997
Fixed in master at https://github.com/odoo/odoo/commit/ac0ac23cdcc3072607894086d88c610bb9159af4

[2018-04-11 08:05] #19997 closed

[2018-04-11 08:10] mart-e commented on #10149
I guess same answer as before, nothing was done and it is not on our roadmap at this time but if somebody got a PR, we can review it.

[2018-04-11 08:14] guewen commented on #10149
We've made some work in the OCA for 10.0: https://github.com/OCA/social/pull/170 and 11.0: https://github.com/OCA/social/pull/254

[2018-04-11 08:17] pedrobaeza commented on #10149
@guewen maybe you can propose the change on master branch

[2018-04-11 09:00] sle-odoo commented on #9532
@pedrobaeza Now that pricelists are implemented client-side, this specific issue should be solved. @pimodoo

[2018-04-11 09:03] #9532 closed

[2018-04-11 09:04] Yenthe666 commented on #9532
Hi @Zoe9a,

This problem should be fixed with the latest version of Odoo.
If you can still reproduce these problems on the latest Odoo then please don't hesitate to respond back with more details.

Regards,
Yenthe

[2018-04-11 09:11] Yenthe666 commented on #10047
@pedrobaeza sadly the user @ghost has deleted his account, so he won't respond anymore.
I'll close this off. @andreparames can you confirm if it still happens on the latest code or not?

[2018-04-11 09:11] #10047 closed

[2018-04-11 09:16] Yenthe666 commented on #19385
Hi there,

Closing as there has been no feedback in almost a month.

Regards,
Yenthe

[2018-04-11 09:16] #19385 closed

[2018-04-11 09:17] Yenthe666 commented on #20659
Closing as there has been no feedback on this issue from the creator.
Indeed, the hierarchical tree view has been removed in V11.

[2018-04-11 09:17] #20659 closed

[2018-04-11 09:18] Yenthe666 commented on #17097
Hi there,

I'm closing this bug report as there has been no feedback in almost a year.

Regards,
Yenthe

[2018-04-11 09:18] #17097 closed

[2018-04-11 09:31] andreparames commented on #10047
@Yenthe666 I can't reproduce it anymore, and the code was significantly changed, so I agree with the closing.

[2018-04-11 09:35] intero-chz commented on #10003
@ged-odoo sorting afterwards by using the handle widget isn't the point here (@Garywei1314 please correct me if necessary). The point is the default sequence which is always the same instead of increasing it with every creation of an order line.

[2018-04-11 09:35] Yenthe666 commented on #10047
Perfect, thanks a lot!

[2018-04-11 09:49] ged-odoo commented on #10003
well, the sequence number is in theory 'invisible' to the user, and as soon as a reordering operation is performed, every records will be assigned, if necessary, an appropriate sequence number, in such a way that the user sees what he expects.  At the end of the day, what matters is that the records are always displayed in the correct order.  Before our fixes, it could jump randomly, not anymore.

[2018-04-11 09:49] Yenthe666 commented on #24168
Hi @AlexZhangY,

Thank you for your bug report.
The Odoo 8 version is no longer supported though as it is end of life. Odoo only supports the last three versions (at this point 9.0, 10.0 and 11.0).
For this reason I'm closing this bug report.

Regards,
Yenthe

[2018-04-11 09:49] #24168 closed

[2018-04-11 09:56] aab-odoo commented on #24096
Hello @vincentbeland

The drag&drop feature isn't supported on touch devices (tablet or mobile). There was a task to make it work but we faced several technical limitations. It will maybe be supported in future versions, but not in v11 or before.

Regards.

[2018-04-11 09:56] #24096 closed

[2018-04-11 09:56] sylvain-garancher commented on #24119
@fmdl No, because unit tests are broken in your PR.

[2018-04-11 10:00] aab-odoo commented on #23672
Hello @kalway-tony

Could you precisely explain the scenario and/or provide a video to reproduce the issue (ideally on a runbot if the problem occurs in standard versions: http://runbot.odoo.com/runbot/repo/git-github-com-odoo-enterprise-7). If it doesn't, could you provide a minimal addon which allows to reproduce it?

Regards

[2018-04-11 10:01] intero-chz commented on #10003
So IIRC the issue is fixed in v11? Is there any good solution for v10 (without rewriting JS code if possible)?

[2018-04-11 10:03] pedrobaeza commented on #10003
@intero-ch No, this is for future v12, and no, there's no possible solution before.

[2018-04-11 11:27] gustavovalverde commented on #19722
Referencing two main pulls closing the GAP to local legal requirements:
https://github.com/odoo/odoo/pull/24123
https://github.com/odoo/odoo/pull/24124

[2018-04-11 11:44] gustavovalverde commented on #19722
@lap-odoo we're working on an external localization; as we're doing changes that I'm aware won't be accepted in stable. But we'd like to subtract  a few things and include them in Odoo's core.
https://github.com/odoo-dominicana/l10n-dominicana

Initially we would like to have the legal fields included in l10n_do, mainly the ones needed in the invoices, journals and taxes:
- sale_fiscal_type
- purc

[2018-04-11 12:33] Yajo opened #24183 "Not possible to access the current request on XML-RPC calls"
Impacted versions: 8-11

## Current behavior:

If during an XMLRPC call you try to get anything from `http.request`, you'd get a `RuntimeError` such as this one:

[code]

This renders imposible in practice to fix issues such as https://github.com/OCA/server-tools/issues/1125 or to implement https://github.com/odoo/odoo/pull/22212#issuecomment-380425764.

## Expected behavior:

XML-RPC calls should

[2018-04-11 12:54] #24092 closed

[2018-04-11 12:54] lreficent opened #24185 "[11.0] Odoo Stock MTO scenarios"
We have been recently exploring the Stock application of Odoo (v11) in purely Make-to-Order scenarios. What we found is that there are some issue when the demand changes and how these changes synchronize throughout the supply chain.

Imagine the simplest scenario in which a MO was generated per the requirements of a MTO SO. Some examples of issues we see are:

* Cancelling the SO does not cancel M

[2018-04-11 13:05] alexkuhn commented on #24092
Dear,

The bug is caused by the graph that was rendered too soon, i.e. before its container was visible in the page. As a result, bad rendering parameters were used, such as a height of 0 pixels.

The fix guarantees that the rendering of the graph is done at the correct time.

Kind regards,

[2018-04-11 13:27] wtaferner commented on #24185
Hi @lreficent
I was tackling a lot of these issues in core and have published a lot of PR in order to get it working and moreover are using it in production quite heavily for all of my 11.0 customers...some were merged, others are not as we are in a stable version or the solution was not good enough, etc.

@jbeficent
Drop me a note and I will share my fork commits and we can join forces (same code

[2018-04-11 13:40] jco-odoo commented on #24185
We discussed this internally.  Propagation can be as confusing and complex
to the user and it is not always exactly what he wants to achieve.  That is
why we decided to let the user know about the changes through notfications
(so, on that MO, you should be notified when e.g. quantities decrease)
while we let him change manually.  And for multiple MOs: why not create a
small function that merges th

[2018-04-11 13:46] JKE-be commented on #24057
The idea is just to archive menu (maybe only if xml_id ?)  instead of deleted it.
That will allow keeping the xml_id and so don't recreate it.

[2018-04-11 13:55] #23984 closed

[2018-04-11 13:56] mge-odoo commented on #23984
Hi @MeetKD

Thanks for reporting the issue.
It has been fixed in 11.0.

Regards,

Martin

[2018-04-11 14:10] Yenthe666 commented on #24057
Okay you couldn't explain that more easy. I'd love this in V12 😉

[2018-04-11 14:29] jbeficent commented on #24185
@jco-odoo Thanks for your input. I understand that this is a complex topic, and it can be confusing to users.

But there exists a simple and powerful business rule. You do not want to introduce any changes in demand, for which your supply chain have no time to react. And if these changes are mandatory, perhaps they should be allowed only to users with special permissions.

The business rule is sim

[2018-04-11 14:32] wtaferner commented on #24092
@alexkuhn
Great, thank you for fixing and adding a test :wink:

[2018-04-11 14:33] lap-odoo commented on #23394
@Yenthe666 Hi Yenthe, I'm transferring the followup of the accounting app to a new colleague : @avw-odoo . I'll try to update him on this task as soon as possible and then he should be able to give you some feedback about it

[2018-04-11 14:35] lap-odoo commented on #19722
@avw-odoo for you to check when you'll have some time ;)

[2018-04-11 14:38] Yenthe666 commented on #23394
Hi @lap-odoo,

Thanks for the feedback! Does this mean you'll no longer be on Github/accounting here? Where are you going? 💔
Welcome to the club @avw-odoo - best of luck!

[2018-04-11 14:49] Linekio opened #24189 "[11.0] Can't refresh One2many field on popup after action"
Impacted versions:
11.0
Steps to reproduce:
Try the following code or this test module :
[mymodule.zip](https://github.com/odoo/odoo/files/1902209/mymodule.zip)
[code]
[code]
Current behavior:
on click 'Add Param' button, the 'comment' field is updated, but not the 'param_ids' field
Expected behavior:
All field should be updated
Video/Screenshot link (optional):

[2018-04-11 14:56] #23610 closed

[2018-04-11 16:07] qpeyramale opened #24190 "[11.0] Can't change code digits for chart of account"
Hello,

In v10 we were able to change the code length in the settings of accounting (debug mode).

![image](https://user-images.githubusercontent.com/7935472/38628862-b7aacd82-3db2-11e8-98c6-9cb9bde9668d.png)

In v11, this option was erased: https://github.com/odoo/odoo/commit/23ddd7d0faa4b9c29f3a3a81dfd95fd4daa13f87

Is there an other way to do it?
Thanks

[2018-04-11 16:21] webgourou opened #24191 "Unable to create database relation does not exist"
Impacted versions: odoo 11.0

Steps to reproduce:
Create database with interface http://localhost:8069/web/database/manager
language french

Current behavior:
2018-04-11 16:13:28,247 27587 ERROR lesa odoo.sql_db: bad query: SELECT "res_partner"."id" as "id","res_partner"."comment" as "comment","res_partner"."active" as "active","res_partner"."website" as "website","res_partner"."commercial_partner

[2018-04-11 16:31] pedrobaeza commented on #24190
Not in standard, as it's not a real need (only old accounting uses), and it was removed for simplifying the setup.

[2018-04-11 16:31] #24190 closed

[2018-04-11 16:36] pedrobaeza commented on #24191
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-04-11 16:36] #24191 closed

[2018-04-11 16:46] pedrobaeza commented on #10003
@ged-odoo I have tried runbot on master and I'm afraid it still continues the same on the main problematic: new lines added after reordering existing ones. They are added at the end, but when saving, due to the default sequence value, they are reordered to other place. See the screencast for illustrating the problem:

![peek 11-04-2018 18-43](https://user-images.githubusercontent.com/7165771/38630

[2018-04-11 17:26] andrewdhastings commented on #17374
I had the same issue, but just updated odoo to the latest nightly and issue was resolved.

[2018-04-11 17:28] pedrobaeza commented on #17374
Yeah, this should be solved already in latest code. Closing.

[2018-04-11 17:28] #17374 closed

[2018-04-11 20:51] fmdl commented on #24119
After the study of the code, the use of a field reported in calculations is globally slower than the access to the field directly because there are more operations:

`field_A = fields.Char(related='parent_id.field_B')`
**When get self.field_A :**
1. resolve depth
2. by the fact that this a compute field, Odoo check in the cache the un-computed field (and take time when you are lot of record).
3. g

[2018-04-11 21:54] pedrobaeza commented on #10381
Closing to track this on the PR

[2018-04-11 21:54] #10381 closed

[2018-04-11 21:59] pedrobaeza commented on #10377
Closing as this should be solved now and there's a workaround any way.

[2018-04-11 21:59] #10377 closed

[2018-04-11 22:03] pedrobaeza commented on #10354
This has been solved meanwhile, so I close:

![seleccion_011](https://user-images.githubusercontent.com/7165771/38645591-e27867cc-3de4-11e8-8023-85e2eec81a7c.png)

[2018-04-11 22:03] #10354 closed

[2018-04-11 22:04] pedrobaeza commented on #10316
Is this still reproducible in latest code? If so, please specify all the needed steps (create the rule with this value, go to this place, etc) for being able to reproduce the problem.

[2018-04-11 22:05] pedrobaeza commented on #10301
Hi, I'm not able to reproduce this problem, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it can be due to a third party module or indeed an Odoo bug. For disca

[2018-04-11 22:05] #10301 closed

[2018-04-11 22:07] #10289 closed

[2018-04-11 22:09] pedrobaeza commented on #10287
You can choose a theme or a template, so I don't see the problem, and thus I'm closing the issue:

![seleccion_012](https://user-images.githubusercontent.com/7165771/38645816-ba3c4458-3de5-11e8-9534-5ff153bfee3a.png)

[2018-04-11 22:09] #10287 closed

[2018-04-11 22:14] pedrobaeza commented on #10265
This has been fixed in v10 and later versions with the switch to the new API and `@api.depends` declaration (in this version is still in old API):

https://github.com/odoo/odoo/blob/eb84a309992cb6545180294ab51f51d7eefbafc3/addons/hr_attendance/models/hr_attendance.py#L42

So if you are still in this version and have an enterprise contract, you can submit an OPW for solving the problem in this vers

[2018-04-11 22:14] #10265 closed

[2018-04-11 22:25] pedrobaeza commented on #10427
Right now, that's not the expected behavior (that's why the button doesn't change it icon). You can remove the upper level group, and expand again for obtaining a similar result.

[2018-04-11 22:25] #10427 closed

[2018-04-11 22:27] pedrobaeza commented on #10448
This has been changed in this version to avoid problems when setting manually the date, as you can easily generate invoices and validate them in an incorrect chronology, so by default the date is empty. If you still want this dangerous behavior, you can always program a community module for having it back.

[2018-04-11 22:27] #10448 closed

[2018-04-11 22:32] pedrobaeza commented on #10450
On invoices, no pricelists are used, neither for customers nor vendors, but the only price that is taken from the list price or cost price respectively:

https://github.com/odoo/odoo/blob/73425edfe9e03c8ea7e97ab9d7cd6eddec718849/addons/account/models/account_invoice.py#L1522-L1527

So this is correct in latest versions with its constraints.

[2018-04-11 22:32] #10450 closed

[2018-04-11 22:32] pedrobaeza commented on #10699
See the same explanation as in https://github.com/odoo/odoo/issues/10450#issuecomment-380616751

[2018-04-11 22:32] #10699 closed

[2018-04-11 22:33] pedrobaeza commented on #10471
Sorry, but this is not a problem itself of Odoo, but something about development. Please ask in the forums or mailing lists.

[2018-04-11 22:33] #10471 closed

[2018-04-11 22:34] pedrobaeza commented on #10492
This is not a problem in Odoo itself, but something derived of a bad manipulation or deployment, so I close the issue. If this is reproducible in an standard environment, please open a new issue with the detailed steps for reproducing the problem.

[2018-04-11 22:34] #10492 closed

[2018-04-11 22:35] pedrobaeza commented on #10493
This is not a problem of Odoo itself, but a deployment problem. It's not the first time someone reports problem with the Bitnami image, so it seems something on their side.

[2018-04-11 22:35] #10493 closed

[2018-04-11 22:37] pedrobaeza commented on #10664
Closing as duplicate of #10499

[2018-04-11 22:37] #10664 closed

[2018-04-11 22:39] pedrobaeza commented on #10499
That field has been removed in latest 9.0 code, so the problem should be gone now.

[2018-04-11 22:39] #10499 closed

[2018-04-11 22:42] pedrobaeza commented on #10512
@falinwa the vendor reference is not propagated from purchase order to vendor invoice because both are supposed to be different references: the first one is the number the vendor has given to you purchase order, and the second one is the number of the invoice your supplier has issued to you, so the behavior you want to achieve is somehow a deformed flow. Any way, if you want to implement that, you

[2018-04-11 22:42] #10512 closed

[2018-04-11 22:44] pedrobaeza commented on #10541
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-11 22:44] #10541 closed

[2018-04-11 22:44] pedrobaeza commented on #10572
@nim-odoo any news about this?

[2018-04-11 22:46] pedrobaeza commented on #10601
Please, you should report the issues in English. Any way, that problem should be solved. If not, please open a new one in English with all the detailed steps to reproduce the error.

[2018-04-11 22:46] #10601 closed

[2018-04-11 22:47] pedrobaeza commented on #10636
That's not possible. You have to perform several payments in respective journals for each currency.

[2018-04-11 22:47] #10636 closed

[2018-04-11 22:47] pedrobaeza commented on #10653
@jco-odoo any news about this?

[2018-04-11 22:48] pedrobaeza commented on #10667
This is because you haven't created the chart of accounts for the company, so it's not a real Odoo problem. and thus I close this issue.

[2018-04-11 22:48] #10667 closed

[2018-04-11 22:49] pedrobaeza commented on #10671
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-11 22:49] #10671 closed

[2018-04-11 22:49] pedrobaeza commented on #10674
Please explain a bit more your problem with detailed steps for reproducing the problem. Meanwhile, I close this.

[2018-04-11 22:49] #10674 closed

[2018-04-11 22:50] pedrobaeza commented on #10696
@yvaucher is this still happening?

[2018-04-11 22:52] pedrobaeza commented on #10693
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

![seleccion_013](https://user-images.githubusercontent.com/7165771/38647294-ce7bc528-3deb-11e8-992a-d3108b2111fa.png)

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart y

[2018-04-11 22:52] #10693 closed

[2018-04-12 06:17] aditya-sharma185 commented on #13856
This was not found in Odoo 8 because Odoo started maintaining partner cache from Odoo 9 onward.
When a customer's record is edited, it updates the record at backend but does not clear the node in the cache. Now since the view is created from the cached data, the updated information does not reflect unless you refresh the POS.

Solution that worked for me:
File: **point_of_sale/static/src/js/screen

[2018-04-12 06:28] ged-odoo commented on #20963
Hey @Gorash could you have a look at the qweb thing?

[2018-04-12 07:13] Ark74 commented on #24143
After spending some time with tech support from Paypal (kudos for them!) we realized that there were some issues with the configuration. And made some adjustments as described here: https://github.com/odoo/documentation-user/pull/277/commits/d43b0b42d1371bc4587d1a323304fda79accaa8f
This is already fixed.

Closing. \o/!

[2018-04-12 07:13] #24143 closed

[2018-04-12 07:42] mge-odoo commented on #23980
Hi @dipsshah42

Thanks for reporting the issue. It has been fixed in odoo/enterprise@c9baa37

Regards,

Martin

[2018-04-12 07:42] #23980 closed

[2018-04-12 07:43] Yenthe666 commented on #24143
Thanks for the update and followup @Ark74! Happy to hear it is working fine.

[2018-04-12 07:52] Yenthe666 commented on #13856
@pimodoo any update here or could you answer this?

[2018-04-12 07:52] Yenthe666 commented on #12407
@JKE-be and @ged-odoo any update?

[2018-04-12 07:55] Yenthe666 commented on #9761
Hey,

I just tried this again and in the meanwhile it seems to be fixed and working.
Don't hesitate to respond back if I missed something or if you can still reproduce it on the latest 9.0.

Regards,
Yenthe

[2018-04-12 07:55] #9761 closed

[2018-04-12 07:59] jco-odoo commented on #10653
Group by location was an optimization done probably for forecasted
quantities.  Although I like the solution of the LLC, it is not that easy
to implement overall.  I see it as a feature we could implement in the
future, but not as an issue we are going to solve now.

On Thu, Apr 12, 2018 at 12:48 AM, Pedro M. Baeza <notifications@github.com>
wrote:

[2018-04-12 08:00] Yenthe666 commented on #12780
Hey all,

This issue has been fixed and seems to work fine in the meanwhile. An example of a calendar item I made in English and I then switched to Persian:
![image](https://user-images.githubusercontent.com/6352350/38663837-468c8e34-3e38-11e8-9417-1ea6012e6208.png)

Regards,
Yenthe

[2018-04-12 08:00] #12780 closed

[2018-04-12 08:02] pedrobaeza commented on #10653
OK, then please take note about this in a task or whatever you use, hehe, and I'm closing the issue for cleaning up the GitHub tracker.

[2018-04-12 08:02] #10653 closed

[2018-04-12 08:08] lreficent commented on #24185
@jco-odoo thanks a lot for your answer!

why we decided to let the user know about the changes through notifications

That's true for pickings and POs, but in the case of MO they are totally disconnected. Not even a msg is posted on the MO's chatter when we cancel the SO or we decrease the qty on the SO.