[2019-05-01 13:55] pedrobaeza commented on #11891
v9 is no longer supported by Odoo. Only last 3 versions are (10.0, 11.0 and 12.0).

[2019-05-01 15:54] litnimax opened #33082 "Incorrect padding on v12 (ir_http.py guess_mimetype)"
Many times per day I can see in my error log:

[code]

I have no idea what can cause this. May be somebody knows.

[2019-05-01 18:34] sswapnesh opened #33085 "[12] Traceback on closing "Link to" wizard on HTML editor"
Impacted versions: 12

Steps to reproduce:

![](https://image.prntscr.com/image/utq3333LQZCY_V0JssmM5Q.png)
![Screenshot - 2019-05-01T235727 748](https://user-images.githubusercontent.com/16624719/57034343-e540ae80-6c6c-11e9-968b-ea31db027a7b.png)
![Screenshot from 2019-05-02 00-03-34](https://user-images.githubusercontent.com/16624719/57034663-c2fb6080-6c6d-11e9-856c-44f90b2e0d01.png)

Current be

[2019-05-01 18:50] sswapnesh commented on #29807
@lap-odoo
I am not sure what's wrong on master branch but I never get By Product under Finished Products. (or I am missing something here)

[2019-05-01 18:52] fmdl opened #33086 "[Idea] optionable Quick Create"
Quick Create is a good idea for senior user or to make demo,. But for beginer user, intensive user or for a database in production from longtime, this feature is horrible.

I find some different solution to implement this.

Solution 1:
merge this PR https://github.com/odoo/odoo/pull/32013 to remove Quick Create by inherit

Solution 2:
create a group : `base.no_quick_create`

Solution 3:
add a fiel

[2019-05-01 18:57] pedrobaeza commented on #33086
OCA modules for the same:

- https://github.com/OCA/server-ux/tree/11.0/base_optional_quick_create
- https://github.com/OCA/web/tree/12.0/web_m2x_options

[2019-05-01 19:28] fmdl commented on #33086
Yes, but is not user dependant.

[2019-05-01 21:10] gustavovalverde commented on #33086
It would be great if this could be an option on Odoo

[2019-05-01 21:39] gustavovalverde opened #33088 "[11.0] Changing a translatable field doesn't change the 'source' term"
**Tested on Runbot**
**OPW-1981683**

#### Impacted versions:
11.0, 12.0
#### Steps to reproduce:
- Create a database in Spanish (main language)
- Add a new language (English for example)
- Create a product with the `name`: **Product A** (while being in spanish)
- Change the field `name` to: **Product B**
#### Current behavior:
- The `source` field in the translation stays as **Product A**
#### Ex

[2019-05-01 21:45] gustavovalverde commented on #33088
This comment is also an unexpect behavior:
https://github.com/odoo/odoo/issues/22060#issuecomment-414671042

cc: @mart-e

[2019-05-01 23:05] NobodyIII opened #33089 "[11.0] sales_timesheet: project.task.write() writes to nonexistent field 'so_lines'"
Impacted versions: 11.0 CE

addons/sales_timesheet/models/project.py has the following code in ProjectTask.write():
`

        # reassign SO line on related timesheet lines
        if 'sale_line_id' in values:
            # subtasks should have the same SO line than their mother
            self.sudo().mapped('child_ids').write({
                'so_line': values['sale_line_id']
            })

[2019-05-02 04:55] wtaferner commented on #33088
@gustavovalverde
This is expected behavior as you are translating in the current language of your user...there is even a blue not after saving. In case you deactivate English as a language and only Spanish is available for the users it will do what you expect.

[2019-05-02 06:14] Yenthe666 commented on #33085
I actually just ran into this one. Reported under OPW 1981751

[2019-05-02 06:14] Yenthe666 commented on #33082
@pedrobaeza do you know the real reason? I've seen some of those lately too

[2019-05-02 07:25] lap-odoo commented on #29807
@sswapnesh I've tested in 12.3 and it works fine :
https://nimb.ws/cx8CYr
https://nimb.ws/jHGufm

But there is well an issue in master for the moment.

[2019-05-02 07:45] nikul-serpentcs opened #33096 "Blur Menu: When We used Google Chrome Browser"
Impacted versions:
* When I Used Version 12 server in Google Chrome Browser.

Steps to reproduce:
* Run Server In Google Chrome Browser after Zoom 90%, Odoo menu is Blur.

Current behavior:
* If Zoom 100% work Fine, But If Zoom Out and 90% or 80% Menu did not appear Good, It's Like as Blur.

Expected behavior:
* If we Zoom In 100% or Zoom out 90% Menu screen look like as it's.
* Look Like FireFox

[2019-05-02 08:05] mart-e commented on #33088
Hi,

Keep in mind that English is always the master version and another language are translations. When you are modifying a record in Spanish, you are modifying translations. If you modify in English, it will modify the master version (in your example, directly on the product.template record)

Also, aren't you mixing the fields `src` and `source`?
The `source` is not stored and should always refle

[2019-05-02 08:34] WillyKaze commented on #1602
This is still the case in Odoo 11.

Oddo tries to match the `To:` header but fails to find the correct alias set in Odoo
Maybe it could try to match the `Delivered-To:` as a fallback ?

[2019-05-02 08:49] mmcalea commented on #20603
This seems to happen in 11 as well, even when you put self.registry.enter_test_mode()/self.registry.leave_test_mode() around the offending function.

[2019-05-02 09:00] #31024 closed

[2019-05-02 10:09] #33000 closed

[2019-05-02 10:14] gustavovalverde commented on #33088
So what would be the expected use for a **final user** that always uses the system in a non-english language? Considering that they have multiple language installed for the sole purpose of sending Quotes and RFQ in the client/supplier language:

(a) Change the product name, then going to the translation and also changing the source term (because we don't want the old value there for any of the oth

[2019-05-02 10:59] gdgellatly opened #33104 "Bank Statement Line accepts empty string as meeting required=true requirement"
Impacted versions: 12.0

Steps to reproduce:
You can't do this in UI, but you can in shell.
Create a bank statement with all relevant fields set, setting name to `''`. Example
[code]
(add a partner_id if you want in create, also set journal to allow cancelling entries to ease things)
So what you say. Well the impact of this is huge.

Then go to reconcile, add a partner if needed, and press validat

[2019-05-02 11:17] #32755 closed

[2019-05-02 11:52] xmo-odoo opened #33107 "Doc doesn't build using Sphinx 2.0"
Sphinx 2.0 was released a few days ago (and is now the default when pip install-ing sphinx).

It drops a bunch of deprecated API and alters others, apparently including some we're still using, so building the doc breaks. Probable items of interest:

[2019-05-02 12:38] mart-e commented on #33088
The (b) is the simple cases but see #31090 where we are developing a better way to manage translations without accessing the technical view with the list of translations.

About setting a different language than English as the reference, this is a frequent feedback. Hopefully we will have this one day but at the moment, this is not the case. There is still [too many](https://github.com/odoo/odoo/s

[2019-05-02 12:38] #33088 closed

[2019-05-02 12:46] gustavovalverde commented on #33088
Thanks for your answers @mart-e, I'm at ease knowing that there's a WIP for this matter.

[2019-05-02 13:58] hamzaaboufirass commented on #16151
@switch87 For some reason I am still losing orders and they are not being pushed to new pos session. Was the fix pushed to the 12.0 branch or not yet? Thanks for all your help!

[2019-05-02 18:14] #27696 closed

[2019-05-02 18:19] #30970 closed

[2019-05-02 20:40] fmdl commented on #27413
@Yenthe666 you are right you could archive ADMIN (uid = 2).

[2019-05-03 03:21] gdgellatly commented on #33086
Personally I'd just extend `web_m2x_options` to support both model and user level options. It's 90% there already.

To do for users in `web_m2x_options` is really just a case of one security group, and editing one function. Although I wouldn't do as a security group. I'd create a Selection field called `use_quick_create` on the user with options

`false`: Never
`default`: Default (e.g. use web_m2x

[2019-05-03 05:13] GauswamiSaumil opened #33126 "QR code scanner with odoo"
i am scanning the QR code  with QR code scanner machine...

i attached it with my machine but when my record is fetched .. it is in <?xml format ....

i want to store that data into a string ..how i can do that?

[2019-05-03 06:01] switch87 commented on #16151
@hamzaaboufirass The pr for 12.0 is still being reviewed (see the reference higher in this threat). At the moment Odoo does not support this use-case, all orders should be closed in their original session.

[2019-05-03 06:06] Yenthe666 commented on #33126
Hi,

Are you sure you did not misconfigure your scanner or your custom development? I can assure you scanning barcodes works just fine in Odoo. We have dozens of customers working with scanners.
Can you reproduce it in runbot?

[2019-05-03 06:43] boris-burgos commented on #24173
Hi.

Our problem with this was fixed adding the Odoo server name (i.e. odoo.mycompany.com) to the /etc/hosts pointing to 127.0.0.1.

Regards.

[2019-05-03 06:51] GauswamiSaumil commented on #33126
sir,it's working correctly but i want the fetched data into a string  or some temp variable ..

it's returning the data but with code ..and than i save it than it's fine...but when i click on the field and fetch data from machine their i can see like ....<?xml name="xyz" ....etc.

[2019-05-03 07:13] rgo-odoo commented on #20498
@hdinsen I hope information I shared would have helped. If you are fine with usage of tags in reports then would you please share your views on financial reports here http://511644-3157-f65b2a.runbot18.odoo.com/web?db=511644-3157-f65b2a-base ?

[2019-05-03 07:23] Yenthe666 commented on #33126
Hi,

So you're talking about custom development & want to alter it yourself or? The descriptions are really vague.

[2019-05-03 07:26] GauswamiSaumil commented on #33126
yes sir exactly...
data is coming from QR code scanner right?...after that data came i want to store it in some variable before it go to the database..

[2019-05-03 08:05] Yenthe666 commented on #33126
Hi,

The Github tracker is only for issues in the official code though. You should ask this on the official help forums (at https://www.odoo.com/forum/help-1) where people can help you.
In short: you can create a Python variable and do whatever you like with the value there.

[2019-05-03 08:05] #33126 closed

[2019-05-03 09:42] Julien00859 commented on #25136
Happens on v10 too

[2019-05-03 11:07] khalyomede opened #33135 "XSS on the chatter"
**Impacted versions:**

earlier?
11.0
12.0

**Steps to reproduce:**

Go to [https://github.com/odoo/odoo/blob/11.0/addons/mail/static/src/xml/thread.xml#L215](https://github.com/odoo/odoo/blob/11.0/addons/mail/static/src/xml/thread.xml#L215)

**Current behavior:**

Emails saved with malicious HTML tags like `<base target="_self" href="https://malicious.com" />` could redirect traffic to another en

[2019-05-03 11:21] pedrobaeza commented on #33135
Please see https://www.odoo.com/security-report

[2019-05-03 11:28] ncarro commented on #24173
We fixed our issue upgrading odoo 11 to the latest version. It was a link to an external font that genereted the problem.
The file that contained the link was:
addons/web/views/report_templates.xml

The latest version doesn't have external links.

[2019-05-03 11:37] elarapuntsistemes opened #33136 "[11.0] [base_vat] Country code not checked"
**Impacted versions:**
11 and above

**Steps to reproduce:**
    1. Install base_vat module.
    **2. Create a new partner and select a country. I.e.: Belgium**
    3. Write a vat number without country code. I.e.: 0477472701
    4. Save.

**Current behavior:**
As you can see in the image, Odoo allows to save the partner without the country code.

![imagen](https://user-images.githubusercontent.co

[2019-05-03 11:43] PabloRC1985 commented on #19918
Hi There,

We cannot track any conversion in this website https://www.reketec.com/ with Odoo 11.0 (Versión Community). We can track everything except conversions. Any idea of where could I start trying to debug this?

Thank you very much in advance

[2019-05-03 11:52] pedrobaeza commented on #33136
Already answered in https://github.com/OCA/OCB/issues/848#issuecomment-489064351

[2019-05-03 11:52] #33136 closed

[2019-05-03 12:01] gdgellatly commented on #33082
@Yenthe666 upload a png file as favicon is how I fix it. I think there is an issue with default one.

[2019-05-03 12:02] pedrobaeza commented on #33082
No idea by my part, sorry.

[2019-05-03 13:04] Yenthe666 commented on #33135
I'd rather close this issue off honestly. Feel free to report security issues through the responsible channels, which are not publicly available (as @pedrobaeza has mentioned).
CC @odony

[2019-05-03 13:04] #33135 closed

[2019-05-03 13:36] pedrobaeza commented on #33096
I don't have that problem in my Firefox. Is it maybe due to your fonts?

[2019-05-03 16:01] gustavovalverde opened #33148 "[11.0] mrp: Products can be multicompany shared, but their BoMs aren't"
**opw-1984901**

#### Impacted versions:
11.0, 12.0
#### Steps to reproduce:
- Create Product A, which is shared between 8 companies
- Create a BoM of type Kit that could be used between companies
#### Current behavior:
The BoM requires a single company
#### Expected behavior:
We must be able to use a single BoM for multiple-companies. Otherwise each time a company/product is created a BoM has to

[2019-05-03 16:01] oerp-odoo opened #33149 "[12.0] group by does not work for multiple fields (via filter context)"
**Impacted versions:**
12.0
**Steps to reproduce:**
Have a search view that groups by more than one field. For example:

[code]
**Current behavior:**
Throws error when loading view:

[code]

**Expected behavior:**
Should group by multiple items.

Additional Notes. This syntax used to work on 11.0 and I just noticed it during one of our module's migration to Odoo 12.0. Was this feature dropped and

[2019-05-04 01:41] gdgellatly commented on #33148
@gustavovalverde It just isn't that simple in practice.

Quality Control
Routings are typically location specific
Revisions

I had a similar thought to you, but in the end, it just got too complicated even for simple manufacturing. Now for Kits maybe you have an argument, but that argument probably is they shouldn't be BoM's at all.

Beyond the obvious, its the little things that get you. e.g. com

[2019-05-04 04:38] sswapnesh commented on #27994
OPW - 1985039

Ps:Shortcuts for menu works with `Alt` + `Shift` + `Number`

[2019-05-04 07:28] jayo2005 opened #33157 "Printing product Attributes (Variant)"
Impacted versions:10

Steps to reproduce:Great product Variants

Current behavior:When printing it does not print the product variant attribute. Only Product name. This happens for Purchase order and sales orders. Supplier does not know what I want to order as Its not printed.

Expected behavior: Print Attribute

Video/Screenshot link (optional):
![12](https://user-images.githubusercontent.com/701

[2019-05-04 07:29] ayapanamichael commented on #25078
Hi guys,

I am new to GitHub and Odoo and I have experienced the problem wherein website builder module fails to be reinstalled after uninstalling it. Is there a way to reinstall the website builder using the same database? Thank you.

[2019-05-04 08:44] JKE-be commented on #25078
@ayapanamichael

Are you sûre it is exactitude thé same error message?

If not, pléase use a new thread or check on our forum: forum.odoo.com

Good luck

[2019-05-04 08:47] i-lifei opened #33158 "golang"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-05-04 08:50] i-lifei commented on #33158
odoo未来的规划是怎么样的？随着大量Python项目转向Golang（Drobox，Zhihu...），odoo未来有没有这样的计划 （比如为了性能的提升，部署的方便等）？

[2019-05-04 08:50] i-lifei opened #33159 "odoo未来的规划是怎么样的？随着大量Python项目转向Golang（Drobox，Zhihu...），odoo未来有没有这样的计划 （比如为了性能的提升，部署的方便等）？"
odoo未来的规划是怎么样的？随着大量Python项目转向Golang（Drobox，Zhihu...），odoo未来有没有这样的计划 （比如为了性能的提升，部署的方便等）？

[2019-05-04 08:50] ayapanamichael commented on #25078
Hi Sir,

Yes, it is the same error message.

Prompt says:

Odoo Server Error - Validation Error
The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

Logs:

2019-04-29 04:13:34,542 2024 INFO C4L werkzeug: 127.0.0.1 - - [29/Apr/2019 04:13:34]

[2019-05-04 08:56] sswapnesh commented on #25078
You have to login into your database.
Eg, psql database_name;

On Sat, 4 May 2019 at 2:22 PM, ayapanamichael <notifications@github.com>
wrote:

--

-Regards

Swapnesh

[2019-05-04 09:02] i-lifei commented on #33159
What’s the development goal of Odoo in the future? Today countless Python projects like Dropbox, Zhuhai, YouTube etc. start to use Golang as their programming language, does Odoo have this idea in mind in short/long terms, so as to improve the performance?

[2019-05-04 09:03] i-lifei opened #33160 "What’s the development goal of Odoo in the future? Today countless Python projects like Dropbox, Zhihu, YouTube etc. start to use Golang as their programming language, does Odoo have this idea in mind in short/long terms, so as to improve the performance?"
What’s the development goal of Odoo in the future? Today countless Python projects like Dropbox, Zhuhai, YouTube etc. start to use Golang as their programming language, does Odoo have this idea in mind in short/long terms, so as to improve the performance?

[2019-05-04 09:06] #33158 closed

[2019-05-04 09:14] pedrobaeza commented on #33160
No plan for using Go in the short term.

[2019-05-04 09:14] #33160 closed

[2019-05-04 09:14] #33159 closed

[2019-05-04 09:44] Yenthe666 commented on #33149
@rco-odoo any chance you can shed some light on this?

[2019-05-04 12:33] yakthungba opened #33161 "Install third party apps on odoo 12 CE"
Hello,

 Just installed odoo 12 CE on Debian 9.  I have no patience to score 3 karma points on odoo forum, so I came here with my newbie question. Hope you guys won't mind.
I have extracted some v12 apps inside the addons directory I have set in /etc/odoo/odoo.conf. None of those extracted apps are showing up inside apps list, also tried enabling developer's mode. Please give me some hint on how t

[2019-05-04 13:43] Yenthe666 commented on #33161
Hi,

The Github tracker is for bugs in the official code and it is not the place to ask help questions.
You should really do this on the help forums 😉
To answer your question:

1. Make sure the custom app directory is inside your Odoo configuration file
2. Make sure you've restarted your Odoo so that the new directories are load
3. Make sure you update your apps list before searching for the app

[2019-05-04 13:43] #33161 closed

[2019-05-04 14:25] sbidoul opened #33162 "Wrong import of bank statement file for multiple accounts"
Impacted versions: 12.0, 11.0, 10.0

The current `bank_statement_import` `_parse_file()` api can return multiple statements but all for the same account number.

Some bank statement files (eg CAMT) can contain statements for multiple accounts.

It is therefore impossible to correctly import such bank statements, and some parsers incorrectly return the account number of the last statement found in

[2019-05-04 14:53] ChristopheLux commented on #32786
Hello Guys

I think it would be great to have Odoo working on Azure and other Cloud with PaaS offerings (Platform as a Service) for the PostgreSQL part
And I would really appreciate you consider investigating and making it a Request For Enhancement
So I spent some time in order to make a comparison
Case A: Odoo v11 with PostgreSQL on a separate Ubuntu VM
Case B: Odoo V11 with PostgreSQL on Azure P

[2019-05-04 22:15] luisiniguezh commented on #9268
@pedrobaeza I can confirm that it is still happening on v12, can the `12.0` label be added to this issue?, I can work on the solution

[2019-05-04 22:52] gdgellatly commented on #33162
@sbidoul I actually found this a couple of weeks ago, because the primary NZ format has multiple accounts in one file as well. However my problem was a little bit more difficult because statements were multiple companies as well.

What we ended up doing was creating a second import frontend, putting some security around that, and then overriding the import button to call the new frontend, which sp

[2019-05-05 05:38] bennals commented on #25078
I have also just encountered what I think is the same problem on my local machine which I had updated Odoo code on about three weeks ago.

2019-05-05 05:28:54,577 9489 ERROR prodcopy4 odoo.sql_db: bad query: b'ALTER TABLE "website_page" ADD FOREIGN KEY ("view_id") REFERENCES "ir_ui_view"("id") ON DELETE cascade'
ERROR: insert or update on table "website_page" violates foreign key constraint "websi

[2019-05-05 06:24] thuaniwebsite commented on #33096
Firefox works normal as pedrobaeza stated. I tested on my machine.

Chrome and Brave has this problem.

It's the dropdown that's causing it.

Class: dropdown-menu show >
border-radius: 3px;

If you change it to 0px, it's clear

.dropdown-menu
/web/content/661-031de62/web.assets_backend.0.css

[2019-05-05 08:29] pedrobaeza commented on #33096
Thanks for the extra information. Tries on Chrome and confirms the problem. @mge-odoo are you the responsible for handling this?

[2019-05-05 08:32] pedrobaeza commented on #9268
Isn't #29293 handling it?

[2019-05-05 09:26] pedrobaeza commented on #33157
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-05 09:28] pedrobaeza commented on #33148
I agree. Enabling that feature would provoke a lot of misunderstandings. Closing then.

[2019-05-05 09:28] #33148 closed

[2019-05-05 10:21] aitalinassim opened #33164 "Problem during new module installation"
Impacted versions:
**12**

Steps to reproduce:
Install the module Project timeline downloaded from https://apps.odoo.com/apps/modules

Current behavior:
Error when installing
**Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/models.py", line 1108, in _validate_fields
    check(self)
  File "/opt/odoo12/odoo/odoo/addons/base/models/ir_ui_view.py", line 35

[2019-05-05 10:29] hoangtrann opened #33165 "Import product using csv with new added attribute and attribute value"
Impacted versions: Odoo 11.0

Steps to reproduce:

- Check `Attribute and Variants` in Inventory settings.
- Click `Attributes`, pick an attribute and export fields `id, name, value_ids/id, value_ids/name`
- Add a new name into `value_ids/name` with a given external ID in `value_ids/id`.
- Import .csv file, click **Test Import** and receive an error `No matching record found for external id`

Curr

[2019-05-05 12:27] gustavovalverde commented on #33148
@gdgellatly as my argument is based on Kits, what would be your proposal to solve this problem?

I'm mainly dealing with a client selling franchises, each being a new company that inherits all the logic from the headquarters (another company, which is not a parent company). An they sell kits, which are all the same for all the franchises.

As we can't **copy** the configurations from one company t

[2019-05-05 12:43] gustavovalverde opened #33166 "[11.0] product: Attribute is not shown in many2one if there's just 1 value"
**opw-1985180**
**Tested on Runbot**

#### Impacted versions:
11.0, 12.0
#### Steps to reproduce:
- Choose the iPad Retina Display in the demo database
- This product has a **Wi-Fi** attribute with just one value
- It's even shown on each variant of the product (expected)
- Go to the sales app
#### Current behavior:
- On the sales order lines it doesn't show the **2.4 Ghz** Wi-fi **attribute value

[2019-05-05 13:15] gustavovalverde opened #33167 "[11.0] stock_account: Journal entries are not including the Amount currency"
**opw-1985181**

#### Impacted versions:
11.0, 12.0
#### Steps to reproduce:
- Set product valuation in perpetual
- Create a purchase order or sales order in another currency
- Validate it
- Validate the transfer
#### Current behavior:
- The journal entries (of the transfer) are not showing the amount currency which was used in the PO/SO
#### Expected behavior:
From an accounting point of view (wh

[2019-05-05 15:40] luisiniguezh commented on #9268
@pedrobaeza that's for `v10.0` I'm working on fixes for `11.0` and `12.0`

[2019-05-05 16:52] MohsenWaleed commented on #25105
@sswapnesh Thanks for raising this issue. I'm facing this issue in Odoo 11. Is that commit applied to 11 as well.

[2019-05-05 17:04] sswapnesh commented on #25105
Fix is not applied  in v11.
It has been fixed master and v12 at https://github.com/odoo/odoo/pull/32056

[2019-05-05 17:18] MohsenWaleed commented on #25105
@sswapnesh thanks for reply, what about v11?

[2019-05-05 17:25] MohsenWaleed commented on #25105
@sswapnesh thanks for reply, what about v11?  The issue which I'm getting now if I uninstalled any custom app and then install it again (Module not have a translation PO file for my Language) and tried to Generate Missing Terms it will not create anything and I have to delete the orphan translation to be able to generate missing terms for this custom module.

[2019-05-05 17:26] sswapnesh commented on #25105
Maybe @mart-e  can answer this.

[2019-05-05 17:31] blaggacao commented on #28549
ping @fpodoo this is popping up again for highly transversal features which currently would have to patch quite an amount of modules.

[2019-05-05 17:47] blaggacao commented on #28549
@rco-odoo I guess you maybe might also spent a thought on this. :wink:

[2019-05-05 20:34] pedrobaeza commented on #9268
OK, I assume then the fix is not the same.

[2019-05-05 20:35] pedrobaeza commented on #33164
Incorrect place for this.

[2019-05-05 20:35] #33164 closed

[2019-05-06 01:12] gdgellatly commented on #33148
Export/import works for initial loading. 4000 is not so much especially if they don't change a lot.

Sorry I wasn't proposing anything, just merely observing that using boms to define bundles conflates 2 different things. One is a recipe with lots of complexity. The other is just a list of products that get sold together.

[2019-05-06 01:41] nagwagabr commented on #14335
This error is due to openerp-server.conf
in path C:\Program Files (x86)\Odoo 9.0-20190415\server\openerp-server.conf

settings: edit the value of this parameter as:
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_request = 8192
limit_time_cpu = 60
limit_time_real = 120

then restart the service from computer manage for odoo and for postgresql

[2019-05-06 04:16] nikul-serpentcs commented on #33096
Yes Firefox Is Good but Problem in `Chrome`

Also, I Added `Steps to reproduce`

[2019-05-06 06:31] mart-e commented on #25105
In 12.0 we could reproduce with a traceback, it is a bit risky to backport 112bd835d80619a0337dca10b21aa6ca68e3303d in previous versions if you don't have a blocking issue

[2019-05-06 07:35] jayo2005 commented on #33157
It works as expected on runbot

[2019-05-06 07:51] mge-odoo commented on #33096
@pedrobaeza not anymore but @aab-odoo can maybe take a look?

[2019-05-06 08:03] pedrobaeza commented on #33096
Thanks for the ping.

[2019-05-06 08:36] #32541 closed

[2019-05-06 08:39] Elkasitu commented on #25078
Hi,

I tried this multiple times, with and without demo data and the reinstall worked fine, it may be caused by something else on your system but unless we can reproduce there's not much we can do.

Let me know if you can reproduce on a fresh database and the steps to do so, thanks

[2019-05-06 09:33] PabloRC1985 commented on #19918
I checked in google analytics community, and they say the code should be much higher:
https://support.google.com/analytics/thread/5397441?hl=en
I´ll try to change the xpath expresion to insert google script before the wrap wrap ID instead of after and I´ll update with the results

[2019-05-06 10:04] Byloth commented on #33006
Well, @fclementic2c...
I understand what you're saying.

But... Ya' know... I'm simply reporting a bug. 🙃

---

Odoo allows (in some cases) to do the same thing in multiple ways.
If you'd follow the case I described step by step, you'll see that this cause a bug.

That's it.

---

I know that I could do the same thing in another way (as you described) and that probably is the correct way to do thi

[2019-05-06 11:03] intero-chz commented on #32541
@dbo-odoo what was the reason for closing this issue?

[2019-05-06 11:09] ntihomir opened #33182 "Getting error when try to download multiple invoices"
Impacted versions:12.0

Steps to reproduce:Select more than 6 invoices to print

Current behavior: Getting error when try to print multiple invoices

Expected behavior:

Video/Screenshot link (optional):

![Invoices   Odoo](https://user-images.githubusercontent.com/40853383/57221586-153ad980-7000-11e9-8d2e-fc61705ff0da.png)

[2019-05-06 11:50] Yenthe666 commented on #33182
Hi @ntihomir,

I've just tested this on the latest 12.0 but this issue was no longer reproducable.
Can you reproduce it on the latest runbot (at runbot.odoo.com) or after updating your Odoo source code to the latest version?

Regards,
Yenthe

[2019-05-06 11:51] gustavovalverde commented on #19722
@jco-odoo which **field** would be the best to use for our fiscal number in `account.invoice`: `name `or `reference`?

[2019-05-06 11:52] #29387 closed

[2019-05-06 11:57] dbo-odoo commented on #32541
Hi @intero-chz
see msgs from @Yenthe666 @gdgellatly from a few days ago - issue was raised before, this is a conscious choice, etc. etc.

[2019-05-06 12:19] intero-chz commented on #32541
@dbo-odoo thanks for the answer, but i had hoped that with this new feature a "new" discussion for at least Odoo13 is worth it.

[2019-05-06 13:05] jco-odoo commented on #19722
@gustavovalverde reference is for what the vendor gave as reference to the invoice.  (name is almost not used)

I am working on similar cases with other localizations.  (and hope to come back to you with that after a while) If you don't use the names given by the default sequences on the journal, why not set the number-field?

[2019-05-06 13:24] guidev224 opened #33189 "backorder_id field not filled"
Impacted versions: 11.0 and 12.0 (These are the ones I tested upon even on runbot)

Steps to reproduce:

1. Create a stock picking (Delivery, Receipt, Internal Transfer)

2. Validate the picking

3. Return products by clicking the button Return. The backorder gets created but its field has no value

Current behavior:
Field backorder_id not filled
Expected behavior:
The created return picking's fie

[2019-05-06 13:26] DavideSavoneEVE opened #33190 "invoice advance"
Impacted versions:
10
Steps to reproduce:
Make and adavance invoice - fixed -
Current behavior:
The line generated on the final invoice has negative quantity that block forward steps, like fatturapa_out for the electronic invoice
Expected behavior:
The generated line should be with negative amount but positive quantity
Video/Screenshot link (optional):

[2019-05-06 13:29] Yenthe666 commented on #33190
Hi,

Please fill in all the fields on the Github issue. Otherwise we cannot help you.

[2019-05-06 13:30] DavideSavoneEVE commented on #33190
v10

problem. on make_invoice_advance
The problem is related to the generated when we do the total invoice.
On the final invoice, the line recalling the advance invoice has -1 quantity, that means the next export to xml will fail for the Agenzia Entrate rules . For that xml we can only have 0 or more quantity and a price_subtotal that can be negative.

[2019-05-06 13:32] DavideSavoneEVE commented on #33190
I changed the description, quite clear now .

[2019-05-06 13:37] Axel-G commented on #32871
i cant reproduce the problem :-(

[2019-05-06 13:37] #32871 closed

[2019-05-06 13:46] pedrobaeza commented on #33189
Backorder is for other thing: When you delivered half of the picking, and you decide that want to delivery the rest of the remaining goods in another picking. That's a backorder and the field is filled in that case.

Closing as no valid.

[2019-05-06 13:46] #33189 closed

[2019-05-06 13:51] pedrobaeza commented on #33157
Then it should be an outdated source code in your end or a conflict with another third party module. Check these things.

Closing meanwhile if you don't find that is due to something in Odoo core.

[2019-05-06 13:51] #33157 closed

[2019-05-06 14:03] gustavovalverde commented on #19722
Actually, we do use the short codes of the journals for the invoice number.
Once (in the past) we didn't, we replaced it with our fiscal number, but
that raised an audit issue as the invoices didn't had a continuity in their
sequence. So we dropped that behavior.

Now we're using the reference field, but as there's a bunch of logic now
being done with that field in the core, maybe the name could b

[2019-05-06 14:32] luisiniguezh commented on #9268
I still haven't checked the code on v11 and v12 to see if it is the same

[2019-05-06 15:14] #33096 closed

[2019-05-06 16:16] #33107 closed

[2019-05-06 16:37] sswapnesh commented on #25078
At the moment the only way to Reproduce this issue is `To Uninstall Website module before applying this patch`

[2019-05-06 19:25] celm1990 commented on #15022
Hi, Today I wanted posted new question and get 403 Forbidden, any solution?

![image](https://user-images.githubusercontent.com/7775116/57249494-b6c72880-700a-11e9-94e1-b594ae285fb7.png)

![image](https://user-images.githubusercontent.com/7775116/57249504-be86cd00-700a-11e9-8845-0215b590ae05.png)

[2019-05-06 20:02] litnimax opened #33198 "odoo requires postgres database to exist"
Trying to use Digital Ocean PostgreSQL databases service.
Cannot overcome the fact Odoo trying to connect to postgres database that is not available.

[code]

As we can see -d arg is used but it does not help. Also tried to set db filter arg but also no help.
May be Odoo should not require postgresql db to exist?

[2019-05-06 20:33] JeremyOL opened #33199 "[10.0] Disconnections through public ip/nginx"
Hi, I have a problem when connected to my odoo instance through port forwarding, the problem comes when I put workers > 0.
I don't have this problem with workers = 0

- Impacted versions:

   10

- Steps to reproduce:
  1. Set a port forward from my router IP to my server IP.
  2. Configure workers > 0
 This is my workers configuration:

[code]
  3. Run server
  4. Enter to Odoo from outside the L

[2019-05-06 21:43] tomeyro opened #33200 "[12.0]Permissions error trying to update partner with subscription"
**Impacted versions:**

12.0

**Steps to reproduce:**

On a multi-company environment where the companies are not under one another.
1. Create a partner without company and without country.
2. On company 1, create a subscription for partner.
3. On company 2, create another subscription to the same partner.
4. Try to edit partner  and set its country.

**Current behavior:**

An error is raised sayi

[2019-05-07 01:22] goliveirab opened #33201 "[12.0] Wrong Amount Due in Credit Note for Vendor"
**Impacted versions**: 12.0

**Steps to reproduce**:
- Create a Product Category with the following configuration:
   * Costing Method:  Average Cost (AVCO)
   * Inventory Valuation: Automated
   * and set the Price Difference Account, with an Income Type Account

- Create a Storable Product and set the Product Category just created, and set the Cost as 56.04
- Create a Credit Note for Vendor with

[2019-05-07 01:24] goliveirab commented on #33201
FYI

@moylop260 @luistorresm

[2019-05-07 04:12] junmin commented on #15271
@mart-e

We are a Odoo SaaS customer, still no sign of supporting ethernet(network) printer?

For us, it's important because we have multiple printers (ticket, bar, kitchen etc), as you said earlier in this thread, one posbox per printer, we really don't want to maintain so many posbox ...

it's better to keep things simple.

[2019-05-07 05:01] mady143 commented on #5759
I was unable to get the installed app in the menu bar i had created a new module called school and i created all requirements needed such as
__init__.py,
__manifest__.py
student.py
student_view.xml and
ir.model.access.csv

and later i open the developer mode in odoo environment and upadated the apps list and upgraded the school app but i was unable to find that app in the main menu in the odoo env

[2019-05-07 05:11] aimejules commented on #15271
@arifmarias  and @junmin
I think that you can use theses modules and don't need PosBox. You can use UNLIMITED network printer
Pos retail : https://www.odoo.com/apps/modules/12.0/pos_network_printer
Pos restaurant : https://www.odoo.com/apps/modules/12.0/pos_restaurant_network_printer

If you want to use theses modules with Odoo Saas, you add theses :
Pos retail : https://www.odoo.com/apps/modules/

[2019-05-07 05:44] junmin commented on #15271
@aimejules

Thanks. We saw it before, and we have some concerns about the module

1. It's not official, how well will its support in next versions of Odoo. Cause we use Odoo in real production environment, we don't want to have problems later.
2. Can we test it before buying it?

[2019-05-07 05:56] aimejules commented on #15271
@junmin

I support it for next version. Theses modules are already available for Odoo 9,10,11,12 Community or Enterprise edition. You can test of course. Join me on Skype (aimejules01) or email me (aimejules1@gmail.com) for details.

Thanks

[2019-05-07 06:17] gdgellatly commented on #33201
@goliveirab this is a duplicate, mine is under OPW for a couple of weeks now, and also on this issue tracker. It is literally an 8 character fix, but support is now saying that it is somehow related to another issue (I presume the one I showed could in no way be related) so they can't do anything.

[2019-05-07 06:28] mart-e commented on #15271
@junmin I am not in the pos team so did not follow the development very closely but I think this feature has been implemented in the new [IoT Box](https://www.odoo.com/page/iot) (the replacement of the posbox). Maybe @qle-odoo can confirm that?
As you are a SaaS customer, feel free to [get in touch](https://www.odoo.com/help) with the support to have more information.

[2019-05-07 06:29] gdgellatly commented on #33198
`template1` is guaranteed to exist. Maybe we should use that instead of `postgres` for this operation.

@odony

[2019-05-07 06:32] Yenthe666 commented on #33198
Hmm I've had multiple Odoo's running on DigitalOcean without this problem though. I wonder how you've got it. :D

[2019-05-07 06:32] ElisevanM opened #33202 "Document Management taks rename and remove task v12"
Impacted versions: v12

2 problems

Steps to reproduce:
problem 1
Create a task with the action button
the task is created
Rename the task
Go to My task
You can see the renamed task and the attached documents.

When you go back to the document management and the document, you can see the task has the initial task name and not the renamed task.

Problem 2
When you remove the task, the document is a

[2019-05-07 06:34] litnimax commented on #33198
Do u use new DO Databases service?

[2019-05-07 06:35] ntihomir commented on #33182
Hi @Yenthe666 ,

I upgraded to new version, and that resolved the issue.
Thx.

Regards,
Tihomir

[2019-05-07 06:35] #33182 closed

[2019-05-07 06:41] Yenthe666 commented on #33198
Ahh no I don't, I use 'normal' droplets.

[2019-05-07 06:41] litnimax commented on #33198
Using template1 is not  a solution:
[code]

[2019-05-07 06:43] Yenthe666 commented on #33182
Good to hear, thanks a lot for the feedback.

[2019-05-07 06:44] litnimax commented on #33198
I did a test. The resume is the following - Digital Ocean Databases services does not accept connections to any database except user's.
By default this is defaultdb.

[code]

[2019-05-07 06:45] litnimax commented on #33198
No this is a new offer from them.

So I suppose the correct patch would be connecting to database specified in --database parameter and when no database is specified only then connect to postgresql or template1.

[2019-05-07 06:47] Yenthe666 commented on #33202
@ThanhDodeurOdoo probably for you to check.

[2019-05-07 06:51] ThanhDodeurOdoo commented on #33202
@Yenthe666 Hey, it seems to be the same problem as: https://www.odoo.com/fr_FR/my/task/1943295

[2019-05-07 07:24] gdgellatly commented on #33198
@litnimax that is absolutely not correct to use `-d` arg. One reason for specifying the database name is in order to create it if it doesn't exist. The only simple answer is an odoo.conf parameter similar to `dbtemplate`.

Otherwise `createdb` in `psql` only requires credentials, so an `os call` could do it. I'm not a fan of shell calls, but this is one place it would make sense as it doesn't have

[2019-05-07 07:34] pedrobaeza commented on #33199
Sorry, but this is something of your deployment, not of Odoo. You should query about this on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-05-07 07:34] #33199 closed

[2019-05-07 07:47] odony commented on #33198
This is addressed by #12885 which proposed to introduce a `--maintenance-db` option. Not too sure about the parameter name, but we should probably refresh this PR for master, if there is enough interest.

That said, for production deployments it is actually dangerous to let Odoo create the database for you - this stuff is meant for development. Instead you should be provisioning the database with

[2019-05-07 07:58] litnimax commented on #33198
Yes #12885 addresses the same issue.
Thanks.

[2019-05-07 07:58] #33198 closed

[2019-05-07 08:04] litnimax opened #33207 "Fix WorkerHTTP timeout message log level"
I use Sentry to track errors.
And it is annoying to get a new issue every time a timeout happens.
Especially when there is no requests at all (at night for example).
So I have 2 proposals:
1) Set WorkerHTTP timeout message level from ERROR to at least WARNING or INFO
2) If a timeout happends during call execution level should be WARNING, if timeout is due to lack of activity level should be INFO (

[2019-05-07 08:21] Yenthe666 commented on #33202
@ThanhDodeurOdoo thanks for the feedback! I don't think you know but I don't have internal task rights :) I only have nearly full Github access as I'm a contributor. I basically do this to help Odoo. Can you share the main feedback/info from the task here maybe?

[2019-05-07 10:09] pedrobaeza commented on #33207
IMO you should filter out that one or don't let the timeout to happen. I don't have that timeouts in my system normally.

[2019-05-07 10:11] Yenthe666 commented on #33207
I can agree it is being annoying being shown in Sentry however if your workers have long enough times you shouldn't get these in the logs in the first place. Right?

[2019-05-07 12:01] mart-e commented on #27311
Hello,

Does this issue is still valid? As I understand, it is a problem of bad translations that needs to be fixed on Transifex but not really on Odoo side.
I did not know the `--test=xmltags`, thanks for the share

[2019-05-07 12:01] #27311 closed

[2019-05-07 12:48] litnimax commented on #33207
This is IoT app. So RPC calls are short.
Only "hang" calls last more then a few seconds.
So I set worker timeout to 30 seconds to restart and reset these hang requests.
And I noticed that I get this error even when there is no requests.
Ok guys I can easily live as is.
Just decided to get this up to make a better Odoo :-)
As I think worker restart deserves a warning and not error :-)
You can close

[2019-05-07 13:24] mart-e commented on #27311
By the way, you can check #33220 where I add a check to detect bad translations

[2019-05-07 13:32] ThanhDodeurOdoo commented on #33202
@Yenthe666 hey, sure:

the field displayed there is just a related to the res_name field of the ir.attachment; the problem seems that it is a stored computed field that depends on res_model and res_id, so it doesn't seem to be recomputed if the name (display_name, which in the case of invoice should indeed be based on invoice.name and invoice.number) of the record (res_model/id) changes.

[2019-05-07 13:44] Yenthe666 commented on #33202
Aha, that makes sense! I guess in that case we can confirm this as a bug. Is there a related OPW for it or a task for somebody internal to change this?

[2019-05-07 13:54] jo541 opened #33221 "Update module bug with deleted field"
Impacted versions:12.0
more version information:
ODOO_RELEASE=20190424
ODOO_SHA=3885be6791b9b8c2a74115299e57213c71db4363
I used odoo docker version

Steps to reproduce:

1. Create a new field in Python
2.  Add it in inherited view of res.partner
3. Update odoo with -u "./odoo-bin -u "your_module"
4. Remove the field in python file and xml file in same time
5. Update odoo again with -u
6. Error mes

[2019-05-07 13:56] ThanhDodeurOdoo commented on #33202
I don't think there are active tasks to fix this

Here was the PR for a potential fix: https://github.com/odoo/enterprise/pull/3765
 @jpp-odoo probably knows more than me on the current state of the matter.

[2019-05-07 14:18] pedrobaeza commented on #33221
This is supported by default. If you don't put the exact error, it's difficult even to know the problem.

[2019-05-07 14:31] jo541 commented on #33221
An exemple of message.

[code]

[2019-05-07 15:01] gdgellatly commented on #33221
I think if you read the full error message you will find you've left that field in a view somewhere. Maybe a dependent module even. But if you are using docker, then you have all sorts of new problems which are hard to diagnose. Like did you restart, did you rebuild, re-up what's the orchestrator.

I use docker quite widely, but default Odoo docker image is hardly a development image. And generall

[2019-05-07 15:11] Yenthe666 commented on #33221
As @gdgellatly has answered you've forgotten a field in an XML definition somewhere.
I can assure you this works fine out of the box. Our whole team does this on a daily basis without issues.

[2019-05-07 15:11] #33221 closed

[2019-05-07 15:18] jo541 commented on #33221
I created a specific field and this field are only in one place in XML. I'm sure I removed all xml definition of this field. Because when I update in first time in xml and after I update python . I don't have a error message .

[2019-05-07 15:57] jo541 commented on #33221
I found the real bug. It's because I inherit "sale.res_partner_view_buttons" before  "base.view_partner_form". and when I try to updated module with modification in "base.view_partner_form" in same time removed field in python file and XML.

[2019-05-07 19:46] bnisevic commented on #6784
And try to update decimal.precision by csv or xml using "decimal_price" or 1. Simply it doesn't go even demo data is switched off and removed from the DB. This is one sorry ass feature.

[2019-05-07 19:57] Alexandre-Bernardes opened #33225 "base_automation error "'<=' not supported between instances of 'datetime.datetime' and 'bool'""
Impacted versions: 11

Steps to reproduce: run base action rule

Current behavior: error

Expected behavior:

Video/Screenshot link (optional):

after setting up some automatic actions I got this error:

Erro:
Odoo Server Error

Traceback (most recent call last):
  File "w:\odoo\Odoo 11.0\server\odoo\tools\safe_eval.py", line 350, in safe_eval
    return unsafe_eval(c, globals_dict, locals_dict)

[2019-05-07 20:03] nhomar commented on #33225
This is not a bug, it is a check in the framework to avoid compare pears with apples.

[2019-05-07 20:03] #33225 closed

[2019-05-08 05:51] johanehnberg opened #33228 "Upgrade fails on hw_blackbox_be/controllers/main.py"
Impacted versions:
Nightly 8 May 2019 DEBs from
deb http://nightly.odoo.com/11.0/nightly/deb/ ./

Steps to reproduce:
The addon seems to be included by default so the error is triggered on all default installs with a normal upgrade:
`sudo apt-get update && sudo apt-get upgrade`

Current behavior:
Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0

[2019-05-08 07:00] StarV5s commented on #16315
i have same question on odoo11, if there's an anwser, plz let me know.

[2019-05-08 07:30] argltuc commented on #16315
Well in my case the solutions was to extend timeouts of `limit_time_cpu` and `limit_time_real` to a couple of minutes.
But it seems my problem was not in odoo then more a crappy slow connection between my systems. So the upload of my backup file tooks to long and one of these timeouts canceled final processing.

[2019-05-08 07:43] pedrobaeza commented on #33228
@nle-odoo can this be due to https://github.com/odoo/odoo/commit/b87454ee1b4538834afc20c78c68b37ad39114a8?

Is it because it's being executed in Python 2?

[2019-05-08 08:07] Yajo opened #33234 "Anybody can subscribe other people's emails"
Impacted versions: 8-12

Steps to reproduce:

1. Install any module that lets you subscribe to something in odoo publicly. Examples:

   - website_mass_mailing
   - website_blog
   - website_slides

   There are possibly others, but these come to my mind now.

1. Make sure a subscription widget exists. I.e. for `website_mass_mailing` you have to drag it to a web page.

1. Go to the website in a pr

[2019-05-08 08:10] pedrobaeza commented on #33234
@odony what do you think?

[2019-05-08 08:10] sle-odoo commented on #24207
internal task to fix this: 1986294

[2019-05-08 08:32] Yenthe666 commented on #33234
I get what you guys mean but to put it simply: how would you intent to prevent this or be sure that somebody is not spam adding? You could add a limit on the amount of requests/registers maybe but thats about it, no?

[2019-05-08 08:37] Yajo commented on #33234
A good workflow would be:

1. You subscribe someone (usually you).
1. The subscription is in `state=unconfirmed`.
1. A verification email is sent: "You have been subscribed to X. Was it you? Confirm it clicking here: BUTTON. Otherwise, just ignore this email"
1. When confirmed, `state=confirmed` and starts getting emails.

The limits is another good option, although complementary IMHO.

[2019-05-08 08:42] pedrobaeza commented on #33234
Well, one reasonable measure is to have a pool of unconfirmed emails, for at least not flooding/spamming an email without that confirmation when being subscribed to several lists.

[2019-05-08 08:42] Byloth commented on #33228
Same problem for me. 👍

I don't think so the problem is related to the Python version in which it runs...
Actually, I'm pretty sure it's a syntax problem.

Unlike other languages, Python doesn't allow you to return the result of an assignment.

---

Here the problem: https://github.com/odoo/odoo/commit/b87454ee1b4538834afc20c78c68b37ad39114a8#diff-fe98190785f16b4bdc799cd481fd657eR178

[2019-05-08 08:44] Yenthe666 commented on #33234
Ahh I misunderstood your initial issue. I assumed you wanted to stop people from even entering/sending it. An extra verification check with an e-mail sounds like a good addition to me, along with being able to subscribe and unsubscribe on different mailing lists too.

[2019-05-08 08:46] Yajo commented on #33234
@pedrobaeza Yes, although `website_mass_mailing` is a specific case for mass mailings. Other models like blog posts or website slides just inherit from `mail.thread` and leverage its features. Maybe a good solution there would be to create partners with `opt_out=True` until confirmed from that email, so even if subscribed, they wouldn't get mails until confirmed. :thinking:

[2019-05-08 08:51] Yenthe666 commented on #33234
@tde-banana-odoo might like to join the opt-in/opt-out discussion too probably.

[2019-05-08 08:55] nle-odoo commented on #33228
yes, sorry, I tested in local and with blackbox with the right code, but a test of syntax change got in the merged commit somehow

should be solved with https://github.com/odoo/odoo/pull/33239 that should be merged in following hours

[2019-05-08 09:07] tde-banana-odoo commented on #33234
We already has this discussion last year. It is indeed a good practice according to me. However it is not mandatory and Odoo choose not to develop it. What we did is that you are not subscribed by default to any newsletter / channel available in Odoo; you have to manually choose each spam source to follow. You can also easily blacklist your email, meaning you don't receive any mass email anymore w

[2019-05-08 09:15] reinaldoramosarxi opened #33241 "[12.0] Bank account onchange working for direct invoices but not invoices created by sale orders"
Impacted versions: 12.0

Steps to reproduce:
- Assign a Bank Account to a company
- Using that company, create a sale order and turn it into an invoice

Current behavior: The bank account field in the invoice will not have the company's default bank account.

Expected behavior: Directly creating an invoice will fill in the bank account field, so supposedly so would creating one from a sale order.

[2019-05-08 09:22] ccysfn commented on #20158
cant link it

[2019-05-08 09:32] ccysfn commented on #20158
update workers=0 then solve the issue, but why?the same environment with python3.6.7 ,ubuntu18.04,12 community

[2019-05-08 10:05] nim-odoo commented on #32954
Hello,

That's not possible if partners are not shared, unless you:
- share the partners
- invoice in 2 companies
- do not share the partners

Which doesn't seem to be a valid use case.

That one I can understand it, but I can't reproduce it. Could you please provide an example of statement file? By the way, I think the issue comes from: `OR bank.acc_number = st_line.account_number`

There is an a

[2019-05-08 10:29] #33228 closed

[2019-05-08 14:20] Tardo opened #33258 "List view inline creation have issues when change view filters"
Impacted versions:
View on 11.0

Steps to reproduce:
Got to list view (with inline creation), press "Create" button and remove an filter.

Current behavior:
New record line disappear and view buttons doesn't change... Press the "discard" button has no effect.

Expected behavior:
Warning or ignore creation record and restart buttons to the original state.

Video/Screenshot link (optional):

cc @Tec

[2019-05-08 14:20] jcr-odoo commented on #20498
@hdinsen Hello, is i clear now why we use the account tags instead of groups?
Groups are only usefull for a hirachical presentation and for estehtical purposes.
If you could test our PR and oprove what has been done, we can merge it.
Kind regards.

[2019-05-08 14:22] pedrobaeza commented on #33258
@Tardo I would say that is an editable tree view as extra data. I added also the cc for indexing this issue.

@ged-odoo we have found this problem. Are you aware of it?

[2019-05-08 15:46] MartinAavastik opened #33263 "[11.0][Enterprise] Entering WorkOrder tablet view through tree view adds save/discard header"
Impacted versions:
Enterprise 11.0
Steps to reproduce:
This in enterprise WO tablet view. I used runbot to check.

1.On Manufacturing dashboard,
click with workcenter with WOs(workorders)
2. Next change from kanban view to tree view.
click on the work order.

**Current behavior**:
![Selection_101](https://user-images.githubusercontent.com/8569032/57388406-c7210400-71c0-11e9-90d6-2c2d000ffefc.png)

[2019-05-08 16:00] PabloRC1985 commented on #19918
Unfortunately this didn´t did the trick, it still doesn´t track conversions... Anyone has more ideas?

Best Regards,

Pablo

[2019-05-08 17:09] pkrulz commented on #23864
Has this issue been fixed in v12 ? The live version does not show categories or attribute filter in mobile view yet

[2019-05-08 18:24] JKE-be commented on #19918
1. be sure to not use ublock / adblock /...
2. be sure to have the UA-xxx configured in your website (I just checked, it is ok)
3. check on the confirmation page after the payment, that you have a element that math the selector:
`.oe_website_sale div.oe_website_sale_tx_status`
4. check that the json controller /shop/tracking_last_order/ return a 200

You can check in your debugger, if the vpv and

[2019-05-08 18:56] sswapnesh commented on #33258
Duplicate of https://github.com/odoo/odoo/issues/31827

[2019-05-08 18:59] pedrobaeza commented on #33258
Indeed, closing this one in favor of the other.

[2019-05-08 18:59] #33258 closed

[2019-05-08 18:59] pedrobaeza commented on #31827
Friendly reminder. @aab-odoo are you aware of this?

[2019-05-08 19:19] sswapnesh commented on #33234
if I am not mistaken [Odoo](odoo.com) is using same workflow.

[2019-05-08 19:21] sswapnesh commented on #33085
Hello @Yenthe666
Did it passed through their Functional Analyst ?

[2019-05-08 21:13] zaoral opened #33265 "Computed field does randomly update/no update"
### Impacted versions:

11.0 and 12.0

### Steps to reproduce:

1. Go to Customer Invoices
2. Duplicate an invoice and save
3. Edit the invoices lines

### Current behavior:

Some times the Total of the invoice is updated (before save) and sometimes don't.

### Expected behavior:

When we update the invoice lines both line subtotal and Invoice Total should be be update without needed to save and t

[2019-05-08 22:34] hugho-ad commented on #23354
I don't know if is the same error, but it's happening in two of our customer's instances

Error:
Odoo Server Error

Traceback (most recent call last):
 File "/home/odoo/instance/odoo/odoo/fields.py", line 927, in __get__
   value = record.env.cache.get(record, self)
 File "/home/odoo/instance/odoo/odoo/api.py", line 967, in get
   value = self._data[key][field][record._ids[0]]
KeyError: 12996

Dur

[2019-05-08 22:49] alexkuhn commented on #23864
@pkrulz It hasn't been fixed in v12.
There's a 1 year-old PR (https://github.com/odoo/odoo/pull/24193) that fixes this issue in master, but it hasn't been approved until now.

[2019-05-09 02:12] NobodyIII commented on #33089
The other possibility that I see is that it should write to `sale_line_id` for the child tasks, rather than the nonexistent `so_line`. So should the write be to `sale_line_id`, or should it be removed entirely?

[2019-05-09 04:58] msh-odoo commented on #31827
@Tardo @pedrobaeza @sswapnesh Should be fixed with https://github.com/odoo/odoo/pull/32817

[2019-05-09 06:00] Yenthe666 commented on #33085
@sswapnesh yeah, it is in the bug fixing state!

[2019-05-09 07:13] pedrobaeza commented on #31827
Great, thanks, @msh-odoo !

[2019-05-09 07:16] pedrobaeza commented on #33089
@jem-odoo what do you think about this?

[2019-05-09 07:25] Julien00859 commented on #23354
@hugho-ad it doesn't seem to be the same error

@hw-aka I am not aware we fixed the bug, let me verify

[2019-05-09 07:26] Yajo commented on #33234
I currently don't have any code to share. It would be best to have the design first. The closest thing we have developed is the [`privacy_consent`](https://github.com/OCA/data-protection/tree/10.0/privacy_consent) module, which asks for acceptance and records user actions.

I'm not aware of such pieces, could you specify? :thinking:

[2019-05-09 10:43] lreficent commented on #20603
Same issue happening in v12 testing an extension for partner merge wizard.

[2019-05-09 10:45] lreficent commented on #20603
BTW, there is a "todo" comment in the commit line for my case:
https://github.com/odoo/odoo/blob/12.0/odoo/addons/base/wizard/base_partner_merge.py#L521

:wink:

[2019-05-09 11:27] nim-odoo commented on #32954
@gdgellatly It should be fixed with #33245 Let me know what you think about it.

[2019-05-09 12:19] zeroheure opened #33277 "purchase price miss purchase UOM information"
When setting purchase price (vendor price) on products with various UOM, users have difficulties to remember if purchase price should be set on _one_ product only or on _purchase UOM_ products.
The help doesn't help here see the reference :
https://github.com/odoo/odoo/blob/f1d6a6108e40569d4716cf45feb2b30cabf547bd/addons/product/models/product.py#L750

I don't know if the help should be rewrited,

[2019-05-09 12:28] bunhin commented on #25055
very bad and very sad, all cost information and history fields are gone in quant, just don't understand why such a bad move just happen,  the higher version become more shiny in the skin but lesser in essential capability?

[2019-05-09 13:11] smurf-U opened #33281 "Odoo V12 CE Segmentation fault (core dumped) facing this issue at the time of login after database restore"

[2019-05-09 13:46] pedrobaeza commented on #33281
Please use odoo/docker for reporting these issues, and without more information, I don't think it can be solved.

[2019-05-09 13:46] #33281 closed

[2019-05-09 14:38] hugho-ad commented on #23354
@Julien00859

It's to me, just that I couldn't get the full error log
This part seems to be the same, but a different key value

[code]
[code]

[2019-05-09 14:47] eLvErDe commented on #27447
Hello,

There's is clearly something broken in the startup script of the container, it does not bootstrap itself correctly.

I used this simple script to force database init based on replies above:

[code]

Imho messing up with environment variable does not make any sense, the only thing happening here is that odoo docker startup script does not try to apply database models update before starting

[2019-05-09 14:58] Julien00859 commented on #23354
Yes, we changed the cache structure around February, the error looks different but it is the same. We didn't find a way to reproduce the bug our side yet...

Our best guess is an invalid cache invalidation on multi-worker when the user discard and re-edit the sale order lines and that both request end up on the same worker. That's by looking at the logs, as I said, we haven't reproduced it in a te

[2019-05-09 15:24] PabloRC1985 commented on #19918
Thank you very much JKE-be for your answer.
1. Good
2. Good
3. We are currently checking this. Our confirmation page is:
https://www.reketec.com/payment/redsys/result/redsys_result_ok
4. We are not familiar with runbot and we don´t know how you checked that.

Thank you very much in advance

[2019-05-09 15:25] Yenthe666 commented on #19918
@PabloRC1985 you can find the runbots at runbot.odoo.com - it holds builds of all major Odoo releases and you can login on any build with "admin" as password and username.

[2019-05-09 15:39] luisg123v commented on #26680
@hbto
Could you edit the PR description to perform the following?:
- Specify this issue also affects 12.0
- Provide steps to reproduce

CC @tomeyro

[2019-05-09 15:42] hbto commented on #26680
@luisg123v Steps are in the video.

[2019-05-09 16:02] PabloRC1985 commented on #19918
According to Analytics help the code should be INSIDE the head tag. I wonder how that could affect, but i´ll try it putting inside in the position of the xpath expression:
https://support.google.com/analytics/thread/5397441?hl=en
![Captura](https://user-images.githubusercontent.com/18579062/57468366-95717100-7284-11e9-9e83-7247566fe5c9.PNG)

[2019-05-09 16:06] meigallodixital commented on #27953
This bug is patched except in the list of employees. You see all the employees of all the companies although you can not access them. But I think it's a new issue. This issue can be closed imo.

[2019-05-09 16:08] pedrobaeza commented on #27953
Yes, yours is another thing.

[2019-05-09 16:08] #27953 closed

[2019-05-09 16:15] JKE-be commented on #19918
It will no change anything for you to change where you insert this code.

Double check that your flow go to the /shop/confirmation page.
If not you need to have the class .oe_website_sale div.oe_website_sale_tx_status on your own custom confirm page.

I dont try a full flow, but I just going on the link that you provide and you don't use this class.

[2019-05-09 16:21] PabloRC1985 commented on #19918
JKE-be thank you very much, we´ll try that with our developer since that´s out of my reach...

[2019-05-09 17:00] sswapnesh commented on #24207
Is is it going to Improve or Can we just make it required there ? (than it will be an easy task for sure)

[2019-05-09 17:11] jaredkipe opened #33286 "[12.0] finish refactor of stock.warehouse._get_all_routes()"
Impacted versions:
12.0

Steps to reproduce:
Try to implement advanced routes in code like MTS+MTO

Current behavior:
Practically all implementations/overrides of `stock.warehouse._get_all_routes()` call their parent's implementation of `get_all_routes_for_wh()` which is a reference to `stock.warehouse._get_all_routes()` but that means that the route 'mixin' behavior can be skipped. (the reference

[2019-05-09 17:16] sswapnesh commented on #28118
` "last 365" days means the "LAST" and not the last 365 days including today. `

and at other Place it includes today's records as well.
![Screenshot from 2019-05-09 22-45-59](https://user-images.githubusercontent.com/16624719/57472934-4f300800-72ac-11e9-9a88-ad6a44c0f773.png)

Here It counts today's order as well.

PS: Similar situation in https://github.com/odoo/odoo/pull/29803 as well where AM/

[2019-05-09 17:17] pedrobaeza commented on #33286
Why don't providing a PR with the fix instead?

[2019-05-09 17:54] jaredkipe commented on #33286
@pedrobaeza Sure thing!

[2019-05-09 17:55] sswapnesh commented on #23405
Hello @TimLai125
Added OPW-1986957 (It is for Invoice)
I tested this and It is same behaviour across all.

[2019-05-09 20:05] zaoral commented on #33265
opw-1986570

[2019-05-09 20:32] sswapnesh commented on #33265
Reported Similar situation at (Duplicate of) https://github.com/odoo/odoo/issues/30989 and https://github.com/odoo/odoo/issues/29620 (and it says it was working well till https://github.com/odoo/odoo/issues/29620#issuecomment-448661788)

[2019-05-10 07:22] Yajo commented on #20603
Thanks pals, I updated the description with the affected versions. Could you update the tags @Yenthe666 please?

[2019-05-10 07:57] litnimax opened #33292 "Magic fields have no index"
From odoo/models.py:
[code]

IMHO they must be created with index=True by default.
What senior developers think?

[2019-05-10 08:27] Yenthe666 commented on #20603
Done :)

[2019-05-10 09:31] guidev224 opened #33295 "Enterprise Edition features do not have upgrade_boolean widget in invoice settings"
Impacted versions:
V11

Steps to reproduce:

1. Go to invoicing > settings > Bank & Cash
2. Check one of the available options

Current behavior:
Once  a feature is checked the Odoo EE upgrade wizard prompts

Expected behavior:
Add the upgrade_boolean widget beside options' labels (as in v10 and v12) so that the user will know that those options are only available in the EE

Video/Screenshot link

[2019-05-10 09:33] pkrulz commented on #23864
Can we do the changes ourselves in the CSS and HTML. When I tries changing the category id tag in HTML  ... saving it caused a server error

[2019-05-10 11:15] gdgellatly commented on #33292
Why? I've optimized postgres indexes in Odoo a long time and never once has these fields been the culprit.

Thats a lot of overhead for rarely used fields in most models. Lets face it 90% of indexes are rarely used for most models anyway. I doubt for example any index on res_company is ever used by anyone.

What common orm read/select queries are using these? what is the performance impact, both i

[2019-05-10 12:36] lili94 opened #33297 "import journal entry in odoo v 11"
hi i am trying to import journal entry in odoo v 11 with excel file i have one journal entry with 6 record in journal item but i got 6 record in journal entry not one i don't have any error but result is false can anyone know how to import

[2019-05-10 13:30] pedrobaeza commented on #33297
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-05-10 13:30] #33297 closed

[2019-05-10 13:54] pedrobaeza commented on #33295
Can you add a PR with that?

[2019-05-10 14:42] PabloRC1985 commented on #19918
Ok, We have added the class in https://www.reketec.com/payment/redsys/result/redsys_result_ok, now we have to wait and see if it worked. We´ll update with the results.

Thanks again for your support.

[2019-05-10 14:51] dtn-world commented on #27423
Hello.
I am using Odoo 12 CE using the script of @Yenthe666 and having the same issue with two modules installed:
- account_bank_statement_import
-account_bank_statement_import_paypal

"bank_statements_source" is still not set to "file_import" and remains undefined. Tried the answer of @alexis-via but got no solution.
How can I execute the wizards or solve my problem? Any ideas? Maybe I am doing t

[2019-05-10 14:53] sswapnesh commented on #33295
Duplicate of https://github.com/odoo/odoo/issues/20030 (Closed but not solved at all place)

[2019-05-11 00:11] sixtyfive commented on #21255
Pleeeeeeeeeeeeeeeeease let this happen, dear gods!

[2019-05-11 02:29] hzh0292 opened #33309 "[12.0]The time of traceability report of product is not the correct local time."
Version: 12.0
The time of traceability report of product is uct time.
It should be transformed into local time.
![](https://i.bmp.ovh/imgs/2019/05/30abd9f26524be15.png)

[2019-05-11 05:15] sswapnesh commented on #20030
Hello @mart-e
 In v12
`grep -r "widget=.upgrade_boolean" -3 | grep "label.*string" | wc -l`
`19`

[2019-05-11 06:22] sswapnesh commented on #33309
Added Fix at https://github.com/odoo/odoo/pull/33310

[2019-05-11 07:25] ayapanamichael commented on #25078
Hi guys, sswapnesh helped me in reinstalling the website module in my database. What he did was he deleted the website_id column of ir_ui_view table and added the base.default_user record on website_data.xml under Odoo 11.0\server\odoo\addons\website\data. Thank you sswapnesh!

[2019-05-11 09:00] tsabi opened #33311 "Python 3.7: AttributeError: module 'signal' has no attribute 'SIGXCPU'"
I run Odoo 12.0 (latest version from GIT) on Windows 10 in a terminal (with the odoo-bin sript) using Python 3.7 (for installed packages see below), and when i hit Control+C it throws this error:
[code]
Impacted versions:
12.0

Steps to reproduce:
just run odoo 12.0 in a console in windows 10 using Python 3.7

I use Python 3.7.3 x64 and my virtualenv installed modules:
algoliasearch==1.20.0
appdir

[2019-05-11 09:28] litnimax commented on #33292
Ok seems it's just my case.
Thanks for your attention.

[2019-05-11 09:28] #33292 closed

[2019-05-11 09:42] #33207 closed

[2019-05-11 13:39] sswapnesh commented on #21554
I don't think there is way to manage this .
What do you think @pedrobaeza  ?

[2019-05-11 13:41] sswapnesh commented on #22431
We can close this now.
What do you think @Yenthe666  ?

[2019-05-11 13:43] sswapnesh commented on #22797
I believe we can close this as Related Issue was solved after Code update.

[2019-05-11 13:45] sswapnesh commented on #23169
Should be fixed in https://github.com/odoo/odoo/commit/262be78957dc8f7d9db87e49ee36fe9b5e735fbd
Cc: @kebeclibre

[2019-05-11 13:47] sswapnesh commented on #22923
Should be fixed in https://github.com/odoo/odoo/commit/262be78957dc8f7d9db87e49ee36fe9b5e735fbd (Along with https://github.com/odoo/odoo/issues/22360 and https://github.com/odoo/odoo/issues/23169)

[2019-05-11 13:49] sswapnesh commented on #23203
Hello @sle-odoo,
I know its too late but Could you please verify ? (Not sure If this was handeled already)

[2019-05-11 13:54] pedrobaeza commented on #21554
You have to use same full XML-ID (`base.BYN`) for example, although it has a side effect of the currency not being removed on uninstallation.

Any way, this is not an Odoo issue, but programming question, so I close.

[2019-05-11 13:54] #21554 closed

[2019-05-11 13:56] pedrobaeza commented on #21554
About manual addition: you have to remove that currency also by hand prior to install the module or assign manually the same XML-ID as the one being installed. Constraints are for preventing inconsistencies, so if an inconsistency is raised, you have to solve it.

[2019-05-11 13:58] sswapnesh commented on #23246
I am able to Reproduce this on v12 too.

[2019-05-11 14:04] sswapnesh commented on #23527
Fixed in https://github.com/odoo/odoo/pull/25023
Cc @len-odoo

[2019-05-11 14:07] sswapnesh commented on #23973
Hello
@iblys  Is it still same Behaviour ?
Could you please Check ? (As I didn't got same at other places)

[2019-05-11 14:15] sswapnesh commented on #24789
Tried same on latest v11(http://517403-11-0-0bf5ad.runbot13.odoo.com/web?debug=#id=25&view_type=form&model=project.task&menu_id=368&action=511)  and seems working well now

[2019-05-11 14:17] Yenthe666 commented on #22431
Agreed. & you can update a module in the terminal with `./odoo-bin -u sale -c /etc/your-odoo-server.conf`

[2019-05-11 14:17] #22431 closed

[2019-05-11 14:18] sswapnesh commented on #24860
Fixed in #25419

[2019-05-11 14:19] sswapnesh commented on #22431
I am not sure but `-u` should come after `-c` as `-u` requires database first. (Just Saying not Tried this)

[2019-05-11 14:21] sswapnesh commented on #25585
@Yenthe666  We can close this as there is no Response (and also It seems it is because of custom `gait_do_scan` module or )

[2019-05-11 14:22] #25585 closed

[2019-05-11 14:22] Yenthe666 commented on #22431
Other way around works just fine, I use it all the time 😄

[2019-05-11 14:23] Yenthe666 commented on #24860
Yep, done at https://github.com/odoo/odoo/commit/2e4a75cbee162381c814ccc3e07d61c35dc88485

[2019-05-11 14:23] #24860 closed

[2019-05-11 14:24] Yenthe666 commented on #23527
I think you're right @sswapnesh (https://github.com/odoo/odoo/commit/5242380b4ee0deb8e35cef6783ba2af891e14835). If you can still find issues then please don't hesitate to respond again.

[2019-05-11 14:24] #23527 closed

[2019-05-11 14:25] sswapnesh commented on #25917
Seems same behaviour on v12 too.
Cc: @tde-banana-odoo

[2019-05-11 14:28] sswapnesh commented on #26061
How can we hide that in List view ?

[2019-05-11 14:40] sswapnesh commented on #26890
I don't think this will be solved in v10. (Already Improved in Newer versions)

[2019-05-11 14:42] Yenthe666 commented on #26890
Nope, that won't be changed in such an old stable version. As it works in V11/V12 I suggest closing.

[2019-05-11 14:42] #26890 closed

[2019-05-11 14:42] #22923 closed

[2019-05-11 14:42] sswapnesh commented on #25515
Ping @qle-odoo  (Not tested again but just Ping incase you have any reference)

[2019-05-11 14:42] Yenthe666 commented on #22797
@sswapnesh it is already closed 😉

[2019-05-11 14:42] #23169 closed

[2019-05-11 14:47] sswapnesh commented on #22797
Right My bad. But actually I was asking to close related Open Issues. (Was too fast)

[2019-05-11 14:51] sswapnesh commented on #27439
Would be good to have new Button (or Enterprise Upgrade Widget) in future versions

[2019-05-11 14:55] Yenthe666 commented on #22927
Hi there,

I'm closing this issue as it should have been solved in the meanwhile and as we recieved no feedback.
Please update your local instance and try again. Don't hesitate to respond back if you can still reproduce it on the latest 11.0

Regards,
Yenthe

[2019-05-11 14:55] #22927 closed

[2019-05-11 14:56] Yenthe666 commented on #23066
Hi there,

I'm closing this issue as it should have been solved in the meanwhile and as we recieved no feedback.
Please update your local instance and try again. Don't hesitate to respond back if you can still reproduce it on the latest 11.0

Regards,
Yenthe

[2019-05-11 14:56] #23066 closed

[2019-05-11 14:56] Yenthe666 commented on #22797
Done 😄

[2019-05-11 15:02] fanstar commented on #18704
Test start "./odoo-bin" by root user is work!

[2019-05-11 15:41] icf20 commented on #23527
i tested this on version 12 changing the email work and so on but login does not

[2019-05-11 16:00] sswapnesh commented on #23527
Any tracback or It is saying about Invalid Id/Password?

[2019-05-11 16:06] icf20 commented on #23527
is just the default "error" you get when wrong password is inserted

[2019-05-11 16:22] icf20 commented on #23527
runbot **http://517403-11-0-0bf5ad.runbot13.odoo.com/web/login**

![image](https://user-images.githubusercontent.com/17784575/57572370-70623700-7419-11e9-8e7b-a6ca84a9aa49.png)

![image](https://user-images.githubusercontent.com/17784575/57572376-8d970580-7419-11e9-8ab3-9d7a7759894d.png)

[2019-05-11 16:24] sswapnesh commented on #23527
I would suggest you to create new Issue in this case.

[2019-05-12 11:27] utshavghimire opened #33313 "File "lxml.etree.pyx", line 2767, in lxml.etree._Validator.assert_ (src/lxml/lxml.etree.c:113500) AssertionError: Did not expect element record there, line 4"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-05-12 11:29] utshavghimire commented on #33313
here is my code.
### sale_order_xls.py
import xlwt
import base64
import calendar
from io import BytesIO
from xlsxwriter.workbook import Workbook
from openerp.osv import fields, osv
# from openerp.exceptions import UserError, ValidationError, Warning
from datetime import date

class SaleOrderReport(osv.Model):
    _name = 'sale.order.report'

    start_date = fields.date(string='Start Date', requir

[2019-05-12 12:13] #33313 closed

[2019-05-12 16:00] abdallamhafeez opened #33314 "[12.0] account: Group accountant can not create cash / bank statement"
Impacted versions:
12.0

Steps to reproduce:
1- Login with user have group "Accountant" only
1- Open Accounting dashboard
2- Click on "New Transaction" for journal "Cash" or "Bank"
3- Save transaction

Current behavior:
Appear access error for "account.journal"

Expected behavior:
 The accountant can save cash/bank statement
Video/Screenshot link (optional):

![image](https://user-images.githubuse

[2019-05-12 18:13] manabendra commented on #20653
Hi,

I am using odoo 12. When I am trying to edit the view. I am getting this error

Error:
Uncaught TypeError: Cannot read property 'tooltip' of undefined

http://localhost:8069/web/content/635-48ed65a/web.assets_backend.js:1559
Traceback:
TypeError: Cannot read property 'tooltip' of undefined
    at Class._addFieldTooltip (http://localhost:8069/web/content/635-48ed65a/web.assets_backend.js:1559:

[2019-05-12 18:15] manabendra opened #33315 "Uncaught TypeError: Cannot read property 'tooltip' of undefined"
Hi,

I am using odoo 12. When I am trying to edit the view. I am getting this error

Error:
Uncaught TypeError: Cannot read property 'tooltip' of undefined

http://localhost:8069/web/content/635-48ed65a/web.assets_backend.js:1559
Traceback:
TypeError: Cannot read property 'tooltip' of undefined
at Class.addFieldTooltip (http://localhost:8069/web/content/635-48ed65a/web.assets_backend.js:1559:735)

[2019-05-12 20:16] pedrobaeza commented on #33315
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-12 20:16] pedrobaeza commented on #33314
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-12 21:19] abdallamhafeez commented on #33314
I tested it in runbot (http://518105-12-0-754ba4.runbot17.odoo.com) with user "account" and password "123456789" and appear the same issue. I try to add access to write for "account.journal" to group "Accountant" and it works.

[2019-05-13 02:16] seancallahan88 commented on #32763
This occurs in in my 10.0E as well.

[2019-05-13 03:25] hzh0292 commented on #33309
It works.[#33310](https://github.com/odoo/odoo/pull/33310)

[2019-05-13 03:28] hzh0292 commented on #33309
It works.[#33310](https://github.com/odoo/odoo/pull/33310)

[2019-05-13 03:35] sswapnesh commented on #33309
Better to leave it open till that PR or similar  solution is getting merged.

[2019-05-13 03:38] hzh0292 commented on #33309
OK

[2019-05-13 03:39] hzh0292 commented on #33309
reopen

[2019-05-13 04:39] gdgellatly commented on #33314
I had a bit of this lately. I think it's to do with first time a statement is created it writes details to journal like import method, bank account, default debit credit.

[2019-05-13 07:22] mart-e commented on #20030
@sswapnesh my point stands ;-)

[2019-05-13 09:20] len-odoo commented on #23527
The support for international domain names was never merged.
Anthony himself disliked the idea; approximate quote is "we shouldn't support this, anyone with such an address is looking for trouble".
The argument is, it creates the possibility to have 'unicode similar looking characters confusion' and the problem with the confusion IDNA2003/8.
However I've tested the given example, and had no proble

[2019-05-13 10:28] switch87 commented on #25515
Hi @sswapnesh can you test it again? I did not manage to reproduce the error.

[2019-05-13 11:38] tejasthakar333 opened #33329 "Zero valuation error while trying to update qty after processing Manufacturing order."
Impacted versions: Odoo 11, Odoo 12

Steps to reproduce: Create a stockable product with any cost and sale price make sure you use Costing Method as **Average Cost** and Inventory Valuation as **Automated**. Create a **stockable component** with **14.999 qty** on hand and set any cost and sale price(in my case cost is 3.24$ and sale price is 1$). Create a manufacturing order with 15 qty and proces

[2019-05-13 12:29] gregory-moka opened #33331 "POS Virtual Keyboard : Switch to AZERTY"
**Impacted versions:**
12

**Steps to reproduce:**
Using POS interface

**Current behavior:**
When using keyboard, no way to switch it to AZERTY (default mode is QWERTY)

**Expected behavior:**
Possible to use correct disposition based on user language or on OS configuration

**Video/Screenshot link (optional):**
![image](https://user-images.githubusercontent.com/45974412/57621274-4c266780-758b-11

[2019-05-13 13:23] PabloRC1985 commented on #19918
JKE-be you were completely on point, that fixed the problem and now analytics tracks conversions.

Thank you very much.

Take care,

Pablo

[2019-05-13 13:53] sswapnesh commented on #20030
Why not an Internal Odoo task?🤔

[2019-05-13 14:21] aitorbouzas opened #33341 "[11.0] Anyone can unsubscribe followers"
Impacted versions:
11.0
I don't know if this a bug, or a expected behaviour.

Steps to reproduce:
Connect as an "Employee" permission user. Enter any document and start deleting followers.

Current behavior:
It let's you delete any follower if you have write permission in the document. For example: if you can write on a ```sale.order``` it will let you delete or modify any follower.

Expected beha

[2019-05-13 15:12] Yousskill opened #33342 "[12.0] Search favorites not working in some tree views"
Impacted versions:
- Odoo 12.0+e

Steps to reproduce:
- Go to Accounting > Overview
- Click in a kanban record and it will take you to a tree view
- Save a filter in favorites as default
- step out the tree view and come back

Current behavior:
- The tree view search Bar is empty

Expected behavior:
- I expect to see my default filter

[2019-05-13 15:35] #33311 closed

[2019-05-13 15:35] sswapnesh commented on #33341
Cc @odony

[2019-05-13 16:57] sswapnesh commented on #27173
Seems working well now. (Tried with new Config + Sessions, along with Steps mentioned in video)

[2019-05-13 16:57] sswapnesh commented on #25515
Hello @switch87,
Seems working well now. (Tried with new Config + Sessions)

[2019-05-13 16:57] #25515 closed

[2019-05-13 17:23] pedrobaeza commented on #33341
I would say this is a feature, not a bug, but it can be largely discussed.

[2019-05-13 17:25] pedrobaeza commented on #33342
This is expected as default filters are only expected to work through different menu items, not through clicks over kanban records.

Closing as won't fix due to technical restrictions.

[2019-05-13 17:25] #33342 closed

[2019-05-13 17:25] sswapnesh commented on #33342
Hello @Yousskill
In order to see Default filters to be applied to you have to go to Invoice from Propper menu.

[2019-05-13 19:31] Alexandre-Bernardes opened #33346 "Favorites messages count 1 but no one favorite message"
Impacted versions: v11

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

![Opera Instantâneo_2019-05-13_162520_jarvis](https://user-images.githubusercontent.com/12830044/57648681-851b0800-759c-11e9-9baf-273b91a50a3b.png)

[2019-05-13 19:34] Alexandre-Bernardes opened #33347 "Record not existe or deleted when I click on chat icon"
Impacted versions: v11

Steps to reproduce: when I click on chat error occurs

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
![Opera Instantâneo_2019-05-13_163221_jarvis](https://user-images.githubusercontent.com/12830044/57648814-e04cfa80-759c-11e9-825b-ad488384bb22.png)

[2019-05-13 22:03] pedrobaeza commented on #33347
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-13 22:03] pedrobaeza commented on #33346
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-14 07:05] aitorbouzas commented on #33341
I'm afraid that, as you say Pedro, this is a feature. The thing is that, in my opinion, the unlink shouldn't be done with sudo. This way you first check if the user can write on the parent model, then check if the user can edit/unlink the followers.
I kwow that sudo must be there for a good reason, but let's see if someone can throw some more light on this.

[2019-05-14 07:08] Yenthe666 commented on #33341
@tde-banana-odoo can probably give us good feedback about the reason. :)

[2019-05-14 07:09] Yenthe666 commented on #27173
I'll close it now then, since you where able to reproduce it first and not again now. @andrewyova can you please update your Odoo, try again and can you confirm that it is solved for you now too?

[2019-05-14 07:09] #27173 closed

[2019-05-14 07:11] Yenthe666 commented on #33331
@pimodoo could you give us some insight/thoughts about this?

[2019-05-14 07:13] pooja-zakhariya commented on #26531
Hello,
It does not continue summary when converting to mail.message so subject/summary will be lost once mail.activity will be removed.

[2019-05-14 07:15] Yenthe666 commented on #26531
@msanchezceb "mail_activity_done" is a third party app right? Ideally this is handled better in default Odoo.

[2019-05-14 07:19] msanchezceb commented on #26531
Hi @Yenthe666, this module is from the OCA if I'm not wrong...

![image](https://user-images.githubusercontent.com/39948914/57678363-5139f400-7629-11e9-8031-1d238efaf1c1.png)

[2019-05-14 07:29] Nikunja-Maharana commented on #29644
Is there any solution that how to fix that issue ??
Because i am also facing that situation on V12 while creating a custom-module and before that i installed the Discuss module and again uninstalled it.After that the error arrise.
Please give any solution how to fix ??

[2019-05-14 07:38] Yenthe666 commented on #33085
Fixed at https://github.com/odoo/odoo/commit/6843e4d5eb33768d11151ffa98be1d13f43129a4

[2019-05-14 07:38] #33085 closed

[2019-05-14 08:02] pimodoo commented on #33331
@gregory-moka @Yenthe666 Hello, it is currently not possible to choose the layout of the keyboard.

[2019-05-14 08:05] #32954 closed

[2019-05-14 08:09] Yenthe666 commented on #33331
@pimodoo nah we knew that. I'm rather curious if we can put this on the todo/wishlist or if you really don't want to support it.

[2019-05-14 08:12] tde-banana-odoo commented on #33341
Hello,

Modifying followers is considered as modifying the document. Indeed if you are allowed to update a document it makes sense to be able to manage its followers. It is considered as part of the document. Communication history (chatter) is managed the same way. Rights on followers do not come from the model itself but from its "holder".

You should consider mail.followers model as technical. S

[2019-05-14 08:15] aitorbouzas commented on #33341
Sweet! Thanks for clarifying this.

[2019-05-14 08:15] #33341 closed

[2019-05-14 08:20] Yenthe666 commented on #33341
Thanks a lot for the detailed feedback! Appreciate it.

[2019-05-14 09:29] Yenthe666 commented on #30877
Hi there,

I'm closing this issue as there has been no feedback in over a month.

[2019-05-14 09:29] #30877 closed

[2019-05-14 10:15] soward42 opened #33355 "Changing the invoice's sender mail"
Impacted versions: 12

Steps to reproduce:
1. Create a template for your invoice
2. In email configuration change the sender field. (personally i did set it with object.company_id.email)
3. Create an invoice
4. Save it and validated it
5. Send it with send & print

Current behavior:
The mail is send but it's using the user email.

Expected behavior:
I expect that the mail is sent with the company

[2019-05-14 10:56] E4O opened #33357 "Quotation/Sales order view doesn't show correctly product lines, optional products or other information tab"
Impacted versions:
Odoo v12 modules:
* sales_management 12.0.1.0
* account 12.0.1.1
* purchase 12.0.1.2

Steps to reproduce:

1. Open Google Chrome or Firefox and go to Odoo.
2. Go to Sales module.
3. Create quotation.

or

1. Open Google Chrome or Firefox and go to Odoo.
2. Go to Accounting module.
3. Select Customers -> Invoices.
4. Create an invoice.

or

1. Open Google Chrome or Firefox and go

[2019-05-14 12:06] gustavovalverde commented on #33086
I've just tested `web_m2x_options` and I must say that's the best module **ever** 😄

[2019-05-14 12:19] MathAndrews commented on #31429
Hi,

[2019-05-14 12:38] Alexandre-Bernardes commented on #33346
Hi Pedro,
I can not reproduce on runbot.
Log file has no info on this error that just appeared out of nowhere!
I'll check out custom modules and try debugging.
Thank you.

[2019-05-14 12:38] #33346 closed

[2019-05-14 12:42] Alexandre-Bernardes commented on #33347
Hi Pedro,
I can not play on runbot.
Log file has no info on this error that just appeared out of nowhere!
I'll check out custom modules and try debugging.
Thank you.

[2019-05-14 12:42] #33347 closed

[2019-05-14 13:24] reinaldoramosarxi opened #33366 "[12.0] No company domain on sale_order_template_id"
Impacted versions: 12.0

Steps to reproduce:
- On a multi-company context, set the common product catalog to false
- Create a quotation template on one company
- Change companies and create a quotation
- Try to change the quotation template

Current behavior:
- The quotation template created on the other company will show up, even if it doesn't allow you to set it (different company access rights)

[2019-05-14 14:04] #32611 closed

[2019-05-14 14:45] pedrobaeza commented on #33357
This is something specific of the enterprise interface, so please report it at odoo.com/help. Closing here for not very relevant at community level.

[2019-05-14 14:45] #33357 closed

[2019-05-14 14:46] pedrobaeza commented on #33355
This is something that depends on your outgoing mail server that allows to have mail relay possibilities, being able to replace the sender by any inside the domain.

Closing as no Odoo issue, but mail environment condition.

[2019-05-14 14:46] #33355 closed

[2019-05-14 15:39] blaggacao opened #33373 "# and @ mentions do not force notifications (though being push, intentionally)"
**Impacted versions:**
- 12.0

**Steps to reproduce:**
- Create a picking
- Create an internal note
- Validate that internal notes by default are not followed on this model (they aren't!)
- Mention the general channel with #general in that note

**Current behavior:**
- Go to the general channel. No note is shown

**Expected behavior:**
- A user tagging with # or @ intentions a message push emissio

[2019-05-14 15:56] sswapnesh commented on #27643
Fixed in https://github.com/odoo/odoo/commit/c13298fdacf52aedb2d2fee4db98203247c5e523

[2019-05-14 15:56] #27643 closed

[2019-05-14 15:58] sswapnesh commented on #29910
This can be closed once related commit is forward ported.
 Cc @switch87

[2019-05-14 16:38] sswapnesh commented on #33341
https://github.com/odoo/odoo/pull/31292/commits/bec1ede3cbc4f87431f1df6d8e6ee181890af4cc This one ?

[2019-05-14 17:59] alexey-pelykh commented on #29752
Addressed via OCA https://github.com/OCA/hr/pull/547

[2019-05-14 19:14] andrp92 commented on #33148
@pedrobaeza please review what @gustavovalverde said after you closed the ticket. It makes sense to do something when it comes to kits. What would be the best solution ?

[2019-05-14 19:17] pedrobaeza commented on #33148
Too much overhead for that residual feature. And kits will probably have another treatment in v13, according Odoo's roadmap, so this continues as won't fix.

[2019-05-15 08:32] Gumaa opened #33378 "Private projects is visible to all Users or Managers"
Impacted versions: 12.0

Steps to reproduce:
- Create projects with _Visible by following customers_ setting
![firefox_BWpfQOKvNu](https://user-images.githubusercontent.com/16503469/57760271-8282f480-76fb-11e9-9902-8dd718a76d10.png)
- Create user with Project Manager or Project User group and add him as follower to only one project
![firefox_2P8JGXTdVd](https://user-images.githubusercontent.com/16

[2019-05-15 10:13] Yousskill commented on #33342
Thank you

[2019-05-15 12:25] switch87 commented on #16151
the issue will only be fixed in master, but it can easily be cherry-picked on own branches in older versions.
https://github.com/odoo/odoo/pull/33395

[2019-05-15 12:25] #16151 closed

[2019-05-15 12:42] cod-odoo commented on #29298
@pedrobaeza your solution is right and its seems working perfectly, but it's cause security issue because any user can see messages from contact's chatter. so how can solve this so any user can not read message of other user from chatter.

[2019-05-15 13:16] pedrobaeza commented on #29298
The approach of Odoo is to not have "private" messages this way, as this is not corporate expected behavior. Anyone that can access the contact should see that messages for following the possible discussions. Any way, it's also an error in my opinion to generate a discussion around the contact itself. Use the proper document for that: lead, sales order, purchase order, task...

[2019-05-15 13:26] pedrobaeza commented on #33378
This is not how it works. That option only applies to portal users, not regular users. The rest of the employees will see all projects, regardless of the rest.

You need to tweak record rules + adding some fields for controlling these.

Closing as no Odoo issue.

[2019-05-15 13:26] #33378 closed

[2019-05-15 13:36] cod-odoo commented on #29298
@pedrobaeza In real case e.g  we have 10 users and all can access contact.
all user have its own alias set. so if anyone  send email to alias like user1@mycompnay.com that will directly goes to contact's chatter and that can be read by all users and its not right as concern of security.
as you propose solution like "Use the proper document for that: lead, sales order, purchase order, task..." but

[2019-05-15 13:40] pedrobaeza commented on #29298
Then use chat for internal users.

[2019-05-15 13:44] simongoffin commented on #29551
Closed with https://github.com/odoo/odoo/commit/9ed9710b2b9ad685f4f09e42930e212d3cec71e5

[2019-05-15 14:01] Yenthe666 opened #33405 "[Wishlist] web_tour: ability to prioritize tour on main screen"
Impacted versions: All

Steps to reproduce:
Create any custom tour in Odoo that starts from the main apps screen.

Current behavior:
There is no way to set or make sure that your tour pops up as a first. As Odoo has multiple tours starting on the homepage (for different apps) and as only one is shown at a time there is no option for you 'push' your tour to the first.

Expected behavior:
The abilit

[2019-05-15 14:02] Yenthe666 commented on #33405
@aab-odoo could you be to kind to give feedback/insight on this one? As far as I know there is not a single way to make sure some specific tour pops up first before all other tours on the main screen.

[2019-05-15 14:46] gdgellatly commented on #31777
I just got stung again by this. `default_type` set on creating credit notes, then affecting creating attachments.

[2019-05-15 15:32] purnendu03 commented on #23354
I faced this issue on one of my client database. The strange thing is that if i access the same database using different port then i am able to delete the sale order line.

Actual setup is on 8069 port and it's running as service. If i manually run the odoo server and access the database using 8888 port then i can delete sale order line with non admin user.

[2019-05-15 17:32] sswapnesh commented on #27700
This is still happening on Latest v12.

[2019-05-15 17:33] sswapnesh commented on #27912
Not actually related to POS but maybe @switch87 can add thoughts.

[2019-05-15 17:38] sswapnesh commented on #28452
I don't think this will be handled in currency arch.
Maybe @odony  can add reviews.

[2019-05-15 17:41] sswapnesh commented on #28671
Hello @mart-e ,
I believe we should improve this in master.
https://github.com/odoo/odoo/blob/7eab8e26d3d46c53f4be924d6a34e80a66e74960/openerp/addons/base/res/res_lang.py#L156

[2019-05-15 17:47] sswapnesh commented on #29550
It has been fixed meanwhile. (Couldn't find commit)

[2019-05-15 17:47] #29550 closed

[2019-05-15 17:53] sswapnesh commented on #25136
Related Issue https://github.com/odoo/odoo/issues/29694

[2019-05-15 17:56] odony commented on #28452
Indeed, it is an implementation constraint for security reasons, and we don't plan to change the way it is done. Besides the auto-delete flag, several other sensitive fields of the Password Reset template are enforced by the system, and will be reset before use.
Making those fields read-only for a single case (that particular template) would require a significant amount of (elatively ugly code, fo

[2019-05-15 17:56] #28452 closed

[2019-05-15 18:07] sswapnesh commented on #29845
Hello @tivisse @RomainLibert,

Could you please add you thoughts on this ? (or Maybe Adding PR would help)

[2019-05-15 18:10] sswapnesh commented on #30317
Tried again and seems working well.
This can be closed now.

[2019-05-15 18:14] pedrobaeza commented on #30317
Closing. Please comment if still with the problem.

[2019-05-15 18:14] #30317 closed

[2019-05-15 18:14] sswapnesh commented on #31087
Hello @mart-e
Do we have any plan to Prevent Unlink of these types of records linked to specific xml-ids ? (Similar to `noupdate="1"` )

[2019-05-15 18:18] sswapnesh commented on #23771
Hello All,
Adding PR https://github.com/odoo/odoo/pull/31535 for reference (For future versions)

[2019-05-15 18:22] pedrobaeza commented on #23771
Install OCA module `sale_order_price_recalculation` for having a button to recompute.

Closing as wishlist not possible on v11 and with the PR for new versions referenced.

[2019-05-15 18:22] #23771 closed

[2019-05-15 18:24] sswapnesh commented on #32100
Hello @tivisse @RomainLibert ,
Could please add your thoughts on this if this is expected behaviour or not ?

[2019-05-15 18:27] sswapnesh commented on #27628
@pedrobaeza
Can we close this now based on https://github.com/odoo/odoo/pull/32550#issuecomment-481672276 ?

[2019-05-15 18:28] pedrobaeza commented on #27628
Yes, as it's said that is an incorrect configuration.

[2019-05-15 18:28] #27628 closed

[2019-05-15 18:47] sswapnesh commented on #33329
I am not sure but it seems it was handled in https://github.com/odoo/odoo/pull/32951 before few days.
Cc @pedrobaeza

[2019-05-15 23:42] HYROPES commented on #28452
Thanks @odony for the explanation , I will keep it in mind.

[2019-05-16 00:03] gdgellatly opened #33408 "URGENT: REgression - Invalid Date"
Impacted versions: 12.0

Steps to reproduce:
In a latest build with this PR #33362 and custom language settings for date as shown in screenshot. Just switch the %m and %d.
Create a sales order

Current behavior:
Invalid date
Invalid date

error boxes x 2

Expected behavior:
no errors

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/5093264/57817025-a6b10500-77d

[2019-05-16 00:10] gdgellatly commented on #33408
opw-1998971

[2019-05-16 01:06] ccysfn opened #33409 "http_port"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-05-16 01:06] #33409 closed

[2019-05-16 05:55] blaggacao commented on #31115
@odony I beleive this is related to a failing restore in the upgrade platform.
Reported under task: 1999043

[2019-05-16 06:20] Yenthe666 commented on #33408
Haven't looked far but probably related to https://github.com/odoo/odoo/commit/9ed9710b2b9ad685f4f09e42930e212d3cec71e5 ?
@simongoffin has introduced this fix two weeks ago.

[2019-05-16 06:21] Yenthe666 commented on #33329
@tejasthakar333 could you update, test and confirm please?

[2019-05-16 06:47] mart-e commented on #31087
@sswapnesh this is a recurring discussion. We often talk about adding this at  the ORM level but in the end, it is often weak functional code that should be improved and not rely on master data.

[2019-05-16 07:58] switch87 commented on #27912
I guess it's for @jke-be or @qdp-odoo? As I understand the Point of Sale part is how you think it should work everywhere?

[2019-05-16 08:00] RomainLibert commented on #32100
https://github.com/odoo/odoo/commit/90731ad170c503cdfe89a9998fa1d1e2a5035c86#diff-4b74c5cd47565e7fbe2a526d12a577c4
This should partially fix that problem, it is already merged in 12.0.
There is probably little more that we can do to fix this in a stable release.

[2019-05-16 09:10] #29804 closed

[2019-05-16 09:10] #33408 closed

[2019-05-16 10:16] danypr92 opened #33424 "[11.0] l10n_es for Cooperatives"
Hi!

We are looking for the chart of accounts and other required accounting stuff for cooperatives related to the Spanish legislation.

We are following the @acysos repository with the content that we need, but they told that are migrating it to Odoo 11.0 and will open a PR to the official Odoo repository: https://github.com/acysos/odoo-addons/tree/11.0/l10n_es_coop

Any knows another repository w

[2019-05-16 10:35] pedrobaeza commented on #33424
This is not the best place for this kind of questions, as this is for issues with current code.

Any way, the answer is short: there isn't any known.

[2019-05-16 10:35] #33424 closed

[2019-05-16 10:40] danypr92 commented on #33424
ok. thanks.

[2019-05-16 11:52] icf20 commented on #23527
quite the opposite, no spam, no newsletters and ads-crap via email, the only people who email you are those that you contact first

if that is the final decision there is no other option that to obey the overlords or start a fork over this :(

[2019-05-16 12:50] mady143 opened #33433 "I want save the state names in the students table"
Hi every one , i need a help from you guys i am working odoo created a module called teachers in that i created a form with the following fileds
--name
--age
--dob
--gender
--email
--blood group
--country -->this country is coming from res_country table followed by a many2one relation in my model as well as state
--state

now my problem is when i selecting the country from my countries drop down s

[2019-05-16 12:51] nicomacr commented on #23354
We are facing the same issue in some customers. More information:

- the error also appears without using workers (workers=0)
- Most of times it's fixed by a restart but sometimes we have restart the instance and the issue persists
- We can only replicate with none admin users (it seams working ok with admin)

[2019-05-16 13:34] Linekio opened #33435 "Button into Note (how to hack an HTML field)."
Hi, a user copied pasted something in a note and it has weird effects.

Impacted versions: 11.0, 12.0, more ?

Steps to reproduce:
Copy / paste an Odoo button into an HTML field, and click on it.

Current behavior:
Client error
Expected behavior:
Nothing
Video/Screenshot link (optional):
Vidéo : http://www.k-upload.fr/afficher-video-2019-05-16-164f4b6a8out.mp4.html

[2019-05-16 13:38] pedrobaeza commented on #33435
That's logical, as you are copying elements that has interactions in full web client. Simply don't copy that...

[2019-05-16 13:38] pedrobaeza commented on #33433
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-05-16 13:38] #33433 closed

[2019-05-16 13:53] thomas15v commented on #32883
Is there any more news about this issue? Or can there be given some clues to where exactly the problem lies?

[2019-05-16 14:41] Yenthe666 commented on #33435
Exactly. I really don't consider this an issue. How on earth do you expect copying half a page of source code with links in it to work dynamically in another page?

[2019-05-16 14:48] Linekio commented on #33435
I think you can't tell your customer "do not do that".
Especially that it would be enough to catch the events on each HTML fields to prevent this error message.

[2019-05-16 14:49] pedrobaeza commented on #33435
That's an overhead that doesn't worth IMO.

[2019-05-16 14:50] goyanipankaj opened #33447 "Widget Selection Issue"
Impacted versions: Odoo-12.0

Steps to reproduce:
1) Create payments and try to select journal, But i am not able to see all the journals.
(Problem is widget selection).
Odoo Runbot link:
http://521272-12-0-39e05c.runbot15.odoo.com/web?#id=&action=485&model=account.payment&view_type=form&menu_id=502
Current behavior: Widget selection have not displaying all the data

Expected behavior: Show all th

[2019-05-16 14:52] pedrobaeza commented on #33447
That's because you have a very huge number of journals, which is not expected. Is that number real? :scream:

The only solution in that case is to change through a view the widget type to regular one.

@ged-odoo any way, why selection widget is limited in the number of results?

[2019-05-16 15:01] Yenthe666 commented on #33435
That would create a technical debt and would be focusing on non-essential things.

[2019-05-16 15:02] goyanipankaj opened #33448 "Pos Fiscal Position Issue"
Impacted versions: Odoo-12.0

Steps to reproduce:
- Configure fiscal position in Pos and replace accounts.
- After create the pos order, close and validate session.
- After check the Journal entries but no replace the accounts.

Current behavior:
Not able to replace the account based on fiscal position.
Only taxes can replace.
Odoo Link; http://521272-12-0-39e05c.runbot15.odoo.com/pos/web/?debug=t

[2019-05-16 15:04] goyanipankaj commented on #33447
Yes, I also want to know any limits on widget selection, same like tree view(default=80)?

[2019-05-16 15:08] khalyomede opened #33449 "Bug on fields "Delay Field" and "Duration Unit" when creating a Gantt view on Odoo Studio"
**Impacted versions:**
11.0

**Steps to reproduce:**

- Go to this odoo/enterprise runbot: [http://521119-11-0-adc60c.runbot11.odoo.com/?db=521119-11-0-adc60c-all](http://521119-11-0-adc60c.runbot11.odoo.com/?db=521119-11-0-adc60c-all)
- Go to the "Attendances" app
- Go to "Manage Attendances" > "Attendances"
- Click on Odoo Studio
- Create a Gantt view and choose whatever date field you want
- Ch

[2019-05-16 16:26] mromdhane commented on #5130
Is resoved here:
https://stackoverflow.com/a/39466498

[2019-05-16 20:52] pedrobaeza commented on #33449
As this is something for enterprise, please report it in odoo.com/help.

[2019-05-17 02:01] jtmoniker opened #33451 "[12.0] Monetary widget not applied on website_sale_delivery checkout"
Impacted versions:

12.0

Steps to reproduce:

1. Go to yourdomain/shop and add a product to your cart.
2. Go through the checkout process, once you reach /shop/payment route, look at delivery methods.

Current behavior:

shipping methods are being displayed as a non-monetary float (ex. 10.0)

Expected behavior:

Shipping methods should be a monetary field (ex. $10.00)

Video/Screenshot link (opti

[2019-05-17 03:32] ghs-raqeem opened #33453 "Postgresql & psycopg2 ports does not match"
Impacted versions: 12.0

Steps to reproduce:
Postgresql listens on port 5433, The reason is a previous installation on the same machine, so it listens on 5433 instead of 5432. While the psycopg2 connects to 5432 by default; so connection do not initiate.

Current behavior:
odoo could not connect to postgresql and could not create any database nor install modules to it. Port could not be changed in

[2019-05-17 06:49] Yenthe666 commented on #33451
@JKE-be

[2019-05-17 06:53] #27225 closed

[2019-05-17 07:00] TimLai125 commented on #33265
@sswapnesh I also agree this should be related to ORM/Framework, and I think it is quite hard to find a way to reproduce as it happens randomly.

As in #30989 I am still facing a similar issue which happens in Sales Order.

[2019-05-17 07:07] mady143 commented on #33433
hi @pedrobaeza  actually i couldn't understand your reply i ma new to odoo so can you explain me clearly what i have to do for my  issue that i have posted

Thanks in Advance...
Happy Codding

[2019-05-17 07:37] pedrobaeza commented on #33433
This is not the place for doing questions, sorry.

[2019-05-17 07:37] gdgellatly commented on #33453
So change the psycopg2 port.

[2019-05-17 07:40] keshrath opened #33456 "Attachment '_inverse_datas' override"
Impacted versions:

12.0

Steps to reproduce:

Override the method `_inverse_datas` to add ,for example, a new storage type.

Current behavior:

It is currently not possible to cleanly overwrite the `_inverse_datas` method. This is because in `write` the two fields `file_size` and `checksum` are automatically set to False. This makes it impossible to call write of super from the overwritten `_inve

[2019-05-17 07:45] Yenthe666 commented on #33453
Yeah this is out of the scope of Odoo and is a deployment/configuration issue.

[2019-05-17 07:45] #33453 closed

[2019-05-17 07:51] pedrobaeza commented on #33456
Sorry, but the method you are mentioning is an internal method (prefixed with `_`), and thus, it's not expected to be overridden. You must find another way to perform what you want, or propose a patch (to master) easing the inheritance.

Closing as no Odoo issue, but internal coding wishlist.

[2019-05-17 07:51] #33456 closed

[2019-05-17 07:52] Yenthe666 commented on #33433
Ask it on the help forums, there are plenty of people who can help you there :)

[2019-05-17 07:53] Yenthe666 commented on #33456
There is already a PR against master Pedro (https://github.com/odoo/odoo/pull/33392). This could be closed anyways as PR's go over issues. :)

[2019-05-17 07:55] pedrobaeza commented on #33456
OK, then we have a possible path, but the issue is a no-go.

[2019-05-17 07:57] pedrobaeza commented on #33448
@switch87 it sounds to me that this is handled in master. Isn't it?

[2019-05-17 07:58] keshrath commented on #33456
`write` is the reason for this problem and it is not an internal method

[2019-05-17 08:00] telesoho opened #33458 "Import addons/sale/i18n/ja.po got error"
Impacted versions:
odoo 12

Steps to reproduce:
1. From menu select "Settings\Translations\Load a Translation"
2. Select Japanese Language
3. Check "Overwrite Existing"
4. Press load button.

Current behavior:

Throw the following exeption:
[code]

When I remove "addons/sale/i18n/ja.po" file, all things ok.

[2019-05-17 08:01] pedrobaeza commented on #33456
Well, any way, the procedure for changing that is the same: via PR.

[2019-05-17 08:08] keshrath commented on #33456
I'll add the change to the PR. Thanks for the feedback.

[2019-05-17 08:22] mart-e commented on #33458
Hello,

Is your code up to date?
I believe we have fixed similar issue not long ago at 6afec6b6b8d2a95264f1a775f8dcee9a90d3fda7
Can you reproduce it on a 12.0 [runbot](http://runbot.odoo.com/) ?

[2019-05-17 09:35] telesoho commented on #33458
It's work, thank you!

[2019-05-17 09:35] #33458 closed

[2019-05-17 10:11] sbidoul commented on #33162
OPW 1999593

[2019-05-17 10:21] #1493 closed

[2019-05-17 10:21] #29909 closed

[2019-05-17 10:21] #29910 closed

[2019-05-17 11:04] rizagokay commented on #29644
This problem also occured on my environment. A workaround would be nice if possible

[2019-05-17 13:09] bhaveshselarka opened #33469 "'Cannot create unbalanced journal entry.' while Import"
Impacted versions: v10, v11

http://521675-10-0-4039fc.runbot11.odoo.com/web?debug=1#model=account.move&action=import
http://521681-11-0-daf976.runbot17.odoo.com/web?#model=account.move&action=import

[account.move (4).csv.zip](https://github.com/odoo/odoo/files/3191603/account.move.4.csv.zip)

Simply trying to import Journal entries. Here I have attached the sample file as well.

[2019-05-17 13:12] gdgellatly commented on #33469
No you can't, its well known you can't import journal entries via the standard csv import. Plenty of other solutions exist. Odoo themselves has a tool somewhere, and OCA too.

[2019-05-17 13:12] bhaveshselarka commented on #33469
@sswapnesh @Yenthe666 Any Idea about this? Please let me know if you have.

[2019-05-17 13:19] bhaveshselarka commented on #33469
@gdgellatly  I have found this one.

https://apps.odoo.com/apps/modules/10.0/account_move_csv_import/

[2019-05-17 13:49] gdgellatly commented on #33469
@bhaveshselarka I don't them so well. When I hit this we just used odoo shell scripts to connect to a remote system, transform the data and create the entries. But if all your data is in csv's with correct column headings, it would be easy to use a shell script to do the creation.

Alternatively, you could just disable the constraint for import if you are sure your data is correct.

[2019-05-17 14:16] goyanipankaj opened #33472 "Issue on HTML type field"
Impacted versions: Odoo-12.0

Steps to reproduce:
Prepare table and try to delete table 1st cell, But get the issue of childnode.

Current behavior: Get the issue of nod, This issue is on all HTML type field.

Expected behavior: Please fix it.

Video/Screenshot link (optional):
[HTML Issue.mp4.tar.gz](https://github.com/odoo/odoo/files/3191821/HTML.Issue.mp4.tar.gz)
![Issue-HTML field](https://use

[2019-05-17 14:30] pedrobaeza commented on #33472
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-17 14:36] goyanipankaj commented on #33472
Hi Pedro,
I have given link in issue of Runbot and given video also try in Runbot.

Link Odoo Runbot: http://522043-12-0-39e05c.runbot13.odoo.com/web?#id=5&action=869&model=payment.acquirer&view_type=form&menu_id=502

Step:
Try to prepare table and from 1st cell to remove it try to table.

[2019-05-17 14:49] pedrobaeza commented on #33472
Screenshot shows `localhot:1212`, so it's not easy to guess you have tried on runbot also.

[2019-05-17 14:50] pedrobaeza commented on #33472
I have seen the video now, and it's not very clear what you do to provoke the error. Where are you clicking? Maybe your capture utility is not showing all the elements in your screen?

[2019-05-17 15:20] sswapnesh commented on #33469
Or Create Python function which reads and Creates move (and AML).
Ps: It would be faster than debugging this error on Import..

[2019-05-17 15:42] sswapnesh commented on #33447
BTW, What is the benefit of using selection widget? (We can use options on m2o field to prevent additional operations on that)

[2019-05-17 16:31] sswapnesh commented on #33448
Seems like this was Handled in https://github.com/odoo/odoo/pull/29433

[2019-05-17 16:33] pedrobaeza commented on #33448
Yeah, that was what I remember.

Then, the answer is that this is not going to be fixed on 12.0, but solved on master.

[2019-05-17 16:33] #33448 closed

[2019-05-17 17:24] sswapnesh commented on #33472
![Screenshot - 2019-05-17T225213 810](https://user-images.githubusercontent.com/16624719/57945051-70b97100-78f6-11e9-9f72-e288b10415b0.png)

Ps: I am able to reproduce same on Runbot, Better to add Video including Key-mon

[2019-05-17 17:27] pedrobaeza commented on #33472
OK, tagged.

@aab-odoo I think this is for you.

[2019-05-17 21:36] grzekru commented on #29505
@pedrobaeza
Both issues are closed but the issue still exists in Odoo 12.
![image](https://user-images.githubusercontent.com/5862658/57957412-77e37d80-78fc-11e9-87cd-0b843b26fd30.png)

[2019-05-17 21:53] pedrobaeza commented on #29505
#28370 is still opened

[2019-05-18 05:14] goyanipankaj commented on #33472
I will send video again with key moment.

On Fri 17 May, 2019, 10:58 PM Pedro M. Baeza, <notifications@github.com>
wrote:

[2019-05-18 07:39] treviser commented on #30932
<rant on>
This is one of several restrictions by design I will never understand. They are not necessary from a conceptional data modeling perspective nor from a business perspective. They are a true PITA especially for small enterprises. Same is the constraint on bank accounts per partner, which does not allow married couples in family businesses to pay their salary to the same bank account.
And n

[2019-05-18 07:42] Yenthe666 commented on #30932
I just think it should be changed in master so it will atleast be more dynamic from V13 and on :)

[2019-05-18 07:46] treviser commented on #30932
And no, I do not need notifications about it, my cardiologist has forbidden it :-)

[2019-05-18 09:00] gg2003love opened #33477 "odoo could not access"
Impacted versions:  odoo12 for windows

expert,

i installed the odoo12 latest in windows server 2012r. But when i started to access the localhost:8069 with chrome, the result was could not connected and open the web page. My firewall was closed. I installed with default all in one and the procedure was not error.

   Please give me some guide. Thank you!

[2019-05-18 09:27] treviser commented on #30932
Just for the sake of completeness: here is the one with the bank accounts: https://github.com/odoo/odoo/issues/15636
@Yenthe666 Maybe we should try to reopen that one also in the same context?

[2019-05-18 09:28] Yenthe666 commented on #17887
Still relevant to be documented :)

[2019-05-18 09:59] Yenthe666 commented on #15636
@qdp-odoo after relooking at this.. why don't we expand the constraint so this is possible?

[2019-05-18 12:17] switch87 commented on #33448
@yenthe666 @pedrobaeza @sswapnesh thank you for your help and research 👍

[2019-05-18 20:12] elementgreen opened #33479 "Odoo in a virtual environment does not restart with correct Python executable"
Impacted versions: Odoo 12.0 on Ubuntu Linux

Steps to reproduce:
1. Configure Odoo in a Python virtual environment and modify systemd init script to use virtual environment Python to start Odoo. Example line in etc/systemd/system/odoo12.service:
`ExecStart=/srv/odoo12/odoo/odoo-venv/bin/python3 /srv/odoo12/odoo/odoo-bin -c /srv/odoo12/odoo.conf
`
2. If server restarts (from reaching a CPU or memo

[2019-05-19 10:41] altoch opened #33481 "[12.0] Can't create address on contact(res.partner) neither link contact to a contact company"
Impacted versions:
12.0
Steps to reproduce:
Create an  address or link a contact to an existing contact
Current behavior:
Create an  address or link a contact to an existing contact
Throws error

Expected behavior:

Crate the address or link the contact.

Video/Screenshot link (optional):

[code]

[2019-05-19 14:06] pedrobaeza commented on #33481
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-19 14:09] pedrobaeza commented on #33479
@Elkasitu not sure if this is for you.

[2019-05-19 15:29] altoch commented on #33481
Just found the conflicting module, it's sale_stock_picking_blocking from OCA.
Closing, not related.

[2019-05-19 15:29] #33481 closed

[2019-05-20 04:15] TimLai125 opened #33482 "[12.0] view_users_form does not generate strings in English"
**Impacted versions:**
12.0

**Steps to reproduce:**
When Creating Database
1. Create a Database and select a language other than English
2. Upgrade the `base` module

When Disable English Language
1. Changing all users' language to language other than English
2. Upgrade the `base` module

The main cause of the behaviour is the language setting of the `System` user, if you change the language sett

[2019-05-20 06:40] aab-odoo commented on #33472
@Gorash Could you take a look?

[2019-05-20 07:02] mady143 opened #33486 "How to create a text filed based on the selection value from the drop down list"
Hi Everyone,

Actual i am having a States table in that i added the "Others" as one of the value when i was select the others immediately an empty text field appears bellow and when ever i added a new into that the text filed it must be save into the db in odoo

Can any one help me ...

Thanks in Advance...

Happy Codding...

[2019-05-20 07:28] simongoffin commented on #33200
Closed with https://github.com/odoo/enterprise/commit/c2696065d7c967c25c92c5cc504a76d636195880

[2019-05-20 07:28] #33200 closed

[2019-05-20 07:35] wpichler commented on #24746
There is also an other tax related problem in this report. If you do use gross price in your system (tax included in price option) - then you will get the gross price + taxes applied again in the price_total ! in price_subtotal there is the gross price.

This two lines are only correct if using tax excluded prices: https://github.com/odoo/odoo/blob/418babf7af7b52ba3aef120de9be49dea9669b74/addons/p

[2019-05-20 08:09] wpichler commented on #24746
Why is the calculation here so complex ? This does not seem to be necessary - because the calculation is already done - and the values are already in the database. So this calculation is only a point of failure !

in pos.order.line you do have price_subtotal and price_subtotal_incl - so simple using this:
`sum(l.price_subtotal_incl) / MIN(CASE COALESCE(pos.currency_rate, 0) WHEN 0 THEN 1.0 ELSE po

[2019-05-20 08:24] Elkasitu commented on #33479
You can make a PR against master, I don't think it's a necessary change for stable

[2019-05-20 09:02] jvargass opened #33491 "[11.0] 'Attendances > Reporting' permissions."
**Impacted versions:**
11.0 (community and enterprise)

**Steps to reproduce:**
User only with permissions:
- Employees: Employee
- Attendance: Manual Attendance

**Current behavior:**
If I am this user and I have the url to access to 'Attendances > Reporting' (for example, http://url-example/web#view_type=graph&model=hr.attendance&action=474&menu_id=326) I can see all the info in this report.

**

[2019-05-20 10:55] sherpya commented on #31893
@AntonioMalatesta8 it was a non closed <b> tag in the translation of website Italian po (text_block and tabs), fixed in 4ccdddc, I suggest you to manually load it.po of website addon because update module did not work for me

[2019-05-20 10:58] Gokulakannanaj commented on #6577
Hi @odony and @Yenthe666 ,

Getting following error while navigating.

Sorry, you are not allowed to access this document. Only users with the following access level are currently allowed to do that:
- CN Projects Custom
- LATAM CRM/Tickets Custom
- Administration/Settings
- User types/Internal User

(Document model: ir.ui.menu)

[2019-05-20 11:01] AntonioMalatesta8 commented on #31893
ok @sherpya, thanks a lot!!! :+1:

[2019-05-20 12:00] odony commented on #6577
@Gokulakannanaj somehow you've been redirected to odoo.com/web in error.  You can simply go back to the homepage or https://www.odoo.com/my to find your way back.

[2019-05-20 12:20] Gokulakannanaj commented on #6577
@odony There is no option to change profile picture in that page. It shows only Address info not profile picture and Karma info.

[2019-05-20 13:28] Yenthe666 commented on #33486
Hi @mady143,

The Github issue tracker is only used for bugs in official code, it is not the place to ask custom development questions.
You can ask these on the official help forums at https://www.odoo.com/forum/help-1

Regards,
Yenthe

[2019-05-20 13:28] #33486 closed

[2019-05-20 16:29] eddybc opened #33511 "pos_sale session can't be closed"
Impacted versions:
11.0
Steps to reproduce:
1. Set the company Rounding Method as "Round Globally"
2. Create the next taxes for sales:
- 0%
- 8% - Price included
- 16% - Price included
3. Configure 14 products with the next prices and taxes:
https://drive.google.com/file/d/1Bp_BgR-HR6lbVSev07KtV_yHfeyOBIgO/view?usp=sharing
4. Make a PoS order with those products
5. Try to close the session

Curren

[2019-05-20 17:26] sswapnesh commented on #33511
Duplicate of https://github.com/odoo/odoo/issues/32667 (Same behaviour but different place)

[2019-05-20 18:18] sswapnesh commented on #23405
From Odoo Support team:

_The technical team had confirmed that the behavior is expected._

IMO this is not desired behaviour as we are not changing product here.

Hello @pedrobaeza  @Yenthe666
What do you think on this one ?

[2019-05-20 19:00] sswapnesh commented on #32763
Hello @gustavovalverde
It seems fix for this is at https://github.com/odoo/odoo/pull/33483 (For master and don't refer to your opw reference)

[2019-05-20 19:38] Yenthe666 commented on #23405
Hmmm I find this an odd choice as there is no price changed?

[2019-05-20 19:50] sswapnesh commented on #23405
This happens when you change anything on Product. (Even a Space on name/description)

Ps: This is happening all over the Places/for all onchange in odoo. :disappointed:

[2019-05-20 19:54] sswapnesh commented on #32954
Mybad, I was talking in general terms not this one.

[2019-05-20 22:45] mbaena opened #33512 "[12.0] POS refund+lot -> sign error in stock.move.line"
https://github.com/odoo/odoo/blob/659ff0da13951d0b940c24a070a4a7e51b0897bb/addons/point_of_sale/models/pos_order.py#L870

qty should be positive:

[code]

[2019-05-21 06:20] Yenthe666 commented on #23405
I don't really like it but as Odoo has gave an official response saying it won't be changed / is expected there is not much we can do. It is their final call so I guess I can only close this one :(

[2019-05-21 06:20] #23405 closed

[2019-05-21 06:25] Yenthe666 commented on #33511
Not really a duplicate if it is in another place 😉 @switch87 for you.

[2019-05-21 06:30] Yenthe666 commented on #33512
@switch87 another one for you

[2019-05-21 09:25] AMhadhbi commented on #8021
@gdgellatly while trying to add new outgoing Mail server SMTP Port : 465 and SSL/TLS I found message *Connection Test Failed! Here is what we got instead:1 [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:847)"** do you think also the issue related to wrong configuration? Thank you

[2019-05-21 10:13] #32911 closed

[2019-05-21 10:13] #33201 closed

[2019-05-21 11:06] smurf-U opened #33523 "[12.0] HTML widget Video URL not work well"
**Impacted versions:** 12.0 and older

**Steps to reproduce:** Refer below file...

**Current behaviour:** Refer below file. Video load at time link set... after save it not visible

**Expected behaviour:** Video should be visible after save... in read only mode

**Video/Screenshot link (optional):**

[html_widget.zip](https://github.com/odoo/odoo/files/3202173/html_widget.zip)
![image](https://us

[2019-05-21 11:43] gdgellatly commented on #8021
I don't know. Why use port 465? Does anyone still use that? Did anybody ever actually use that? Normally you would use 587.

[2019-05-21 11:44] DimaDevOps commented on #22355
@Yenthe666  Hi,

I'm having the same issue with restoring a database in 8.0, it's 500mb and i'm getting Memory Error.  I have a 4gb server. I tried to increase  the memory in odoo config file but without succes, i'm still geting error. Any advice? Thank you!

[2019-05-21 12:07] Julien00859 commented on #27994
Working fine on my Linux Mint Tara running Firefox 66

![TheExtermelyRareCircumstancesBug](https://user-images.githubusercontent.com/8208953/58094799-c7160080-7bd1-11e9-9462-97ebaf95d34e.png)

[2019-05-21 12:08] Julien00859 commented on #27994
@sswapnesh what OS/browser are you using ?

[2019-05-21 12:12] switch87 commented on #33511
@eddybc I can't reproduce this problem. I tried on 11.0 and 12.0

[2019-05-21 12:25] switch87 commented on #33512
@mbaena can you motivate this with an example where it gives errors or wrong results? I tested a refund in the PoS and it works.

[2019-05-21 12:34] switch87 commented on #33512
@mbaena  never mind my previous answer. I could reproduce the error.

[2019-05-21 12:45] Julien00859 commented on #27994
Changes are your key is intercepted by your *operating system*, *desktop environment* or *browser* before it reaches the application thus the key is simply not detected by odoo and there is nothing we can do our side.

[2019-05-21 12:45] Julien00859 commented on #27994
Try it yourself: https://codepen.io/anon/pen/WBXwPO

[2019-05-21 13:10] fa-odoo opened #33532 "ODOOBOT"
Impacted versions:
12.0
Steps to reproduce:

Current behavior:
Some purchase /sale orders are canceled by odoobot.
Expected behavior:

Video/Screenshot link (optional):

[2019-05-21 13:12] pedrobaeza commented on #33532
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-21 13:15] fa-odoo commented on #33532
I can't reproduce the issue cause i don't understand how does it happen... i was surprised by several purchase and sale orders canceled by odoobot.

![image](https://user-images.githubusercontent.com/42148719/58099119-ed886b80-7bd2-11e9-81d2-d470d8bdf776.png)

[2019-05-21 13:41] Ojooluwaseun commented on #21882
Thanks...worked for me

[2019-05-21 13:59] Floaterz opened #33536 "Odoo 11 JS load_fields problems with browsers"
**Impacted versions:** Odoo 11

**Steps to reproduce:**
- Create a new field in inherited class "product.template" named product_type ( Selection )
- Create JS file inheriting from POS.
- Try to load new field:
-- var models = require('point_of_sale.models');
-- models.load_fields("product.product", "product_type");

**Current behavior:**
Using 2 browsers to test this ( Firefox & Chrome ).
On Fire

[2019-05-21 14:11] switch87 commented on #29696
closed by: https://github.com/odoo/odoo/pull/33059

[2019-05-21 14:11] #29696 closed

[2019-05-21 15:10] sswapnesh commented on #27994
Chromium Version 63.0.3239.84 (Official Build) Built on Ubuntu , running on Ubuntu 17.04 (64-bit)

Btw, This works well on most of the Browser/OS. you can also ask functional analyst (assigned on ticket) as they have confirmed same Behavior.

You can go ahead and close this issue/opw if this is related to specific Browser/OS.

[2019-05-21 15:13] aitorbouzas opened #33541 "[11.0] mail.activity calendar view"
Impacted versions:
11.0

Steps to reproduce:
Get inside calendar view for mail.activity. It shows create_uid instead of user_id.

Current behavior:
Shows the user that created the activity.
https://github.com/odoo/odoo/blob/7237b8f2a223204792b1a9ff3a12719675fbc558/addons/mail/views/mail_activity_views.xml#L158

Expected behavior:
Show the user that's assigned to the activity
[code]

Video/Screensh

[2019-05-21 15:34] luistorresm commented on #32320
Closed with https://github.com/odoo/odoo/commit/b7f4ff4b540042b57454d2f2ef199141ed59ada6#diff-a283a6063269532e4b284942e6b5a171

[2019-05-21 15:34] #32320 closed

[2019-05-21 15:46] frankmiao2015 commented on #32376
@rdeodoo Sorry for the late reply. I found the issue was raised by the following oca module. I uninstalled it and the issue was gone. You can remove this issue of mark it as solved. Thank you.

https://github.com/OCA/website/tree/12.0/website_js_below_the_fold

[2019-05-21 15:49] #32376 closed

[2019-05-21 17:40] Yenthe666 commented on #33541
Hmmm. There is something to be said about both choices honestly.
@tde-banana-odoo could you be so kind to give your final call on this?

[2019-05-21 17:57] Julien00859 commented on #27994
I went and ask her myself earlier today. If it is just the T key on Chrome/Ubuntu then you understand I close this ticket

[2019-05-21 17:57] #27994 closed

[2019-05-21 18:03] sswapnesh commented on #33511
You are right (and also Both are for different Versions, My bad)

I have tried to Reproduce same with all steps (Taxes including Prices/ Rounding as well) and It seems working well

[2019-05-21 18:43] keshrath opened #33543 "[12.0] Attachment uploaded by non admins get incorrect mimtype"
Impacted versions:

12.0

Steps to reproduce:

Upload an XLSX attachment as admin
Upload the same file as demo user

Current behavior:

The Upload for the admin works as expected and the attachment has the right mimetype.
For the demo user the mimetype for the attachment, which was created from the same file is set to text/plain.

Expected behavior:

Both admin and demo user should be able to crea

[2019-05-21 20:43] ahukkanen opened #33545 "[12.0] Validation error (Document is empty) when trying to save customized SCSS"
Impacted versions: 12.0

Steps to reproduce:

- Create an Odoo instance with the website and eCommerce modules installed.
- Go to the home page
- Click "Customize"
- Click "HTML/CSS Editor"
- Change the mode to "SCSS (CSS)"
- Pick *any* asset
- Click enter and backspace anywhere in the opened SCSS file (you don't have to do any actual customizations, just do any change)
- Click "Save"

Here is a l

[2019-05-21 20:45] ahukkanen commented on #33545
For further information, this only happens with the CSS/SCSS customizations, the view customizations all work properly.

[2019-05-21 20:52] amrdesign opened #33546 "rtl error"
Impacted versions: 12

when i change langues to "RTL" i got error
[code]

[2019-05-21 21:19] celm1990 commented on #24746
This changes are made in PR #33304

[2019-05-21 21:43] #32694 closed

[2019-05-21 22:07] pedrobaeza commented on #33543
This is a known problem. A possible fix is in #31849

@odony do you have an idea when any of the possible fixes will be merged for solving this?

[2019-05-21 22:24] pedrobaeza commented on #33536
Sorry, but this is not an Odoo fault, but custom development issue.

You should make your development questions on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-05-21 22:24] #33536 closed

[2019-05-21 22:42] pedrobaeza commented on #33482
Are you by chance using `--dev` parameter? If so, that can be the root cause.

[2019-05-22 01:02] elblasy33 commented on #15271
dose  jposbox work on odoo 12 ?
if yes how?
do you have selution
thanks

[2019-05-22 02:18] TimLai125 commented on #33482
Hi @pedrobaeza , I don't think so. I can reproduce  the issue by changing the language of `__system__` user manually in both Odoo bot and my customer's environment.

[2019-05-22 02:21] chupavn opened #33549 "Create Purchase order fail: index row size 3352 exceeds maximum 2712 for index"
Impacted versions: 11, 12

Steps to reproduce: Create PO with  long value in Description field and click Confirm Order
Current behavior: Show odoo server error

Expected behavior: Create PO successful

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/31997780/58142756-8ae6ac80-7c72-11e9-8028-da7d92304a60.png)

[2019-05-22 06:33] gdgellatly opened #33553 "Emailed invoices created in wrong company"
Impacted versions:

Steps to reproduce:
Good luck trying this on runbot.
However, have a purchase journal in company A with an email alias.
As admin user (2) set your company to unrelated Company B
Email invoice from an email address not in the system, to email alias (in this case it is routed via a catchall)

Current behavior:
Invoice will be created in Company B.

Logs show correct route match o

[2019-05-22 06:36] gdgellatly commented on #33553
opw-2001179

[2019-05-22 07:12] Elkasitu commented on #33549
Can you reproduce on [runbot](http://runbot.odoo.com/runbot)? Also how much is "long value"? I tried in a 11.0 runbot with ~20 paragraphs of Lorem ipsum and didn't run into any issues.

What's more, I checked the code and that field does not seem to have an index by default

[2019-05-22 07:26] pedrobaeza commented on #33482
OK, let's hear comments from @mart-e. Maybe `__system__` language is not expected to be changed.

[2019-05-22 07:29] gdgellatly commented on #33553
I'm kind of torn on whether this is an issue now or not. The workaround seems to be you need to assign a single company user to the alias, or no user, but the problem is you never manually create the alias, you just add an email to the journal and Odoo goes and gets it wrong automatically for you in multicompany.

[2019-05-22 07:57] mart-e commented on #33482
Hi,

Thanks for the report, this happens only for the specific user view `base.user_groups_view`.
The translations seems actually on purpose, cf the following comment, introduced at #3921

https://github.com/odoo/odoo/blob/90dec44a286c69f31b3fbcf3302f16fdf90d4a5d/odoo/addons/base/models/res_users.py#L995-L998

The fact that it is not translated at database install is a side effect (the code is exe

[2019-05-22 08:14] qle-odoo commented on #15271
@junmin
In the next version of Odoo you will be able to use all the printers present in the network with only one IoT Box.
All printers will be installed automatically but configurable if you want. (if you need specific driver for a printer)

[2019-05-22 08:31] wpichler commented on #24746
Thanks - i've commented on the PR

[2019-05-22 08:43] chupavn commented on #33549
In code, name of  "stock.move" have index
![image](https://user-images.githubusercontent.com/31997780/58160230-41b14f80-7ca8-11e9-9e12-c7b7377e16f6.png)

Any help?

[2019-05-22 10:25] Mephysto666 opened #33565 "I can not select vehicles from combobox for new contracts"
Impacted versions: 12

Steps to reproduce: Create more than one vehicle and try to create a new contract from Vehilces application menù, not from specific vehicle

Current behavior: When I try to create a new vehicle contract, I can not select any vehicle from combobox (it is empty, but I have four vehicles)

Expected behavior: I can select vehicles from relative combobox

Video/Screenshot link (o

[2019-05-22 10:58] #29806 closed

[2019-05-22 12:10] bista-nimesh commented on #29958
Facing RTL issue with following scenario.
OS Ubuntu
1) Create database and install modules
2) install RTLCSS after database creation.
3) load the Arabic Language.

Log is showing following warning

"You need https://rtlcss.com/ to convert css file to right to left compatiblity. Use: npm install -g rtlcss' RTLCSS https://rtlcss.com"

[2019-05-22 12:20] mart-e commented on #29958
How have you installed your odoo server?
Have your restarted the odoo services after installing rtlcss?
With the same user as the one executing the odoo code, run `rtlcss --version` to see if it works

[2019-05-22 12:43] bista-nimesh commented on #29958
@mart-e Thank you for your prompt response.

Please find attached screenshot.

![rtlcss](https://user-images.githubusercontent.com/12413451/58175232-50eec800-7cbd-11e9-8188-ee0182976e73.png)

[2019-05-22 13:15] mart-e commented on #29958
Sorry but if you see the error, it means that your Odoo service is not able to access rtlcss

https://github.com/odoo/odoo/blob/9db8497a995720384334b63dfc43ce689fa98712/odoo/addons/base/models/assetsbundle.py#L541-L546

Check your deployment with what I asked above but it is a bit hard to understand with so little information.

[2019-05-22 14:17] #24207 closed

[2019-05-22 15:18] carlositurri opened #33587 "POS Odoo11- New versión chrome"
Hello,
In the latest version of chrome, the odoo POS 11, when selecting a product several times either manual or barcode, the quantity of the product does not increase only, instead it adds several lines of the same product. Anyone know of an update of Odoo or Fix to avoid problems with the latest version of Chrome?

[2019-05-22 16:05] rdc02271 commented on #33565
Hello,

Did you specify a driver on the Vehicle form?
 I am able to replicate your situation if I don't specify a driver on the Vehicle form.

However, I am a newbie to Odoo so I don't know if this is a bug or not.

[2019-05-22 17:09] EyCas commented on #24112
Hi,

What is the solution for version 12?
I have the same problem

[2019-05-22 17:19] sswapnesh commented on #24112
Still there is no Solution.

[2019-05-22 17:43] pedrobaeza commented on #33565
That's indeed the problem.

Closing as no issue.

[2019-05-22 17:43] #33565 closed

[2019-05-22 17:53] luistorresm commented on #33511
Hello @switch87 @sswapnesh

With the same products?

OPW #1998831

[2019-05-22 18:08] sswapnesh commented on #33511
Hello @luistorresm

No, I have tried with other Product but setting up Correct Tax/Config.

[2019-05-22 18:17] luistorresm commented on #33511
I understand.

This not fail in all the cases, only with some values.

Like the case in the initial video.

Regards

[2019-05-22 18:20] sswapnesh commented on #33511
I didn't found any Video shared here. (Maybe you have added this on OPW)

[2019-05-22 18:26] celm1990 opened #33592 "[12] Fields invisible on tree view, not load value on form view"
**Impacted versions:**
12, tested on runbot
**Steps to reproduce:**
When for any reason a field type many2many with widget="many2many_tags" is present on tree view as invisible="1", at open form view not load/show value.

Case of use: In the example I take invoice lines and field `invoice_line_tax_ids`, but I really have error on custom module, but issue is reproducible on any view with fields man

[2019-05-22 18:31] umontiel commented on #33511
Hello @sswapnesh  @luistorresm

You can try with these orders:

![image](https://user-images.githubusercontent.com/50925754/58199105-62bc7500-7c95-11e9-9788-836b0182491a.png)

I copy a video

https://youtu.be/H0ppYrZd2Wo

[2019-05-22 19:23] sswapnesh commented on #33592
Hello @celm1990

Is it happening even if you are not adding `many2many_tags` there? (and What is the use case for adding  many2many_tags on a invisible field ? )

I have checked and removing '`many2many_tags`' from tree with `invisible="1"` works well there. (At Least It can solve your Issues)

[2019-05-22 20:53] celm1990 commented on #33592
Of course, without widget `many2many_tags` worked fine, but think is error of framework with widget `many2many_tags`.

[2019-05-22 21:08] GeorgeIvlev opened #33594 "Leaves module. Activity default assignee user"
Hi! I have a question about "Leaves" module. When i create a leave in calendar by any user the leave itself has an "Leaves Approval for OdooBot" in "Planned activities" section and our HR does not retrieve any email notification until i press edit button in "Planned activities" section and manually change "Assigned to" field from OdooBot to our HR. So question is, can i somehow change the default

[2019-05-22 21:51] pedrobaeza commented on #33587
@carlositurri can you specify the exact Chrome version? Are you able to reproduce this in runbot?

@switch87 are you aware of this?

[2019-05-22 21:57] carlositurri commented on #33587
My version of chrome is Version 74.0.3729.169 (Official Build) (64 bits) before I worked correctly with Version 68.0.34 thanks @pedrobaeza

[2019-05-23 00:09] Kashifaziz123 commented on #12001
Download this module it will increase record limits from 160 https://apps.odoo.com/apps/modules/10.0/fix_searchmany2one_limit/

[2019-05-23 08:15] intero-chz commented on #33594
That looks like a `sudo()` problem:

https://github.com/odoo/odoo/blob/086b9ad879664448d8a4c9102b2cf158def04444/addons/hr_holidays/models/hr_leave.py#L789-L819

[2019-05-23 08:54] vinayakybhatt opened #33600 "odoo not starting"
Impacted versions:
odoo12

i was following this document for downloading odoo12 on ubuntu
https://www.getopenerp.com/install-odoo-12-on-ubuntu-18-04/
i reached upto 13th step and got an error on doing ./odoo-bin

odoo not starting up showing internal error(500)

Video/Screenshot link (optional):
![Screenshot_2019-05-23_14-22-32](https://user-images.githubusercontent.com/38060145/58239282-69ff8380-

[2019-05-23 09:01] switch87 commented on #33587
@carlositurri I tested with the exact same chrome version as you but didn't notice any strange behaviour. maybe there wend something wrong in the browser cache with updating? you could try ctrl+F5 for a forced reload of the cache for odoo.

[2019-05-23 09:51] Yenthe666 commented on #33600
Hi,

Your user "vinayak" does not have a postgreSQL user / access rights which is causing this.
This is because of an invalid deployment and has nothing to do with Odoo itself. You could alternatively try my script too (https://github.com/Yenthe666/InstallScript)

[2019-05-23 09:51] #33600 closed

[2019-05-23 10:01] GeorgeIvlev commented on #33594
@intero-chz thanks! So i see only one way, rewrite this section of code to automatically assignee to our HR.

[2019-05-23 10:05] chupavn commented on #33549
If you get self.name[:2000] then server error not show, but name of "stock.move" will be lack of information

[2019-05-23 10:39] Yenthe666 commented on #33549
@chupavn something very similar was actually done on the communication size of payments too at https://github.com/odoo/odoo/commit/c545783b95b15f65a9798003b614f75685dc434e

[2019-05-23 10:54] qsm-odoo commented on #28370
Fixed in 11.0 with https://github.com/odoo/odoo/commit/886967766965f7781d8b7c5d87d8505bb6881747

[2019-05-23 10:54] #28370 closed

[2019-05-23 11:15] intero-chz commented on #33594
@GeorgeIvlev yes and no, it should be fixed in Odoo ;-)

I don't know why this was implemented with `sudo`, but it obviously has something to do with access rules. That was always a pain in the ass in the holiday app.

[2019-05-23 11:48] vinayakybhatt commented on #33600
Thank you so much for your help

On Thu, May 23, 2019, 3:23 PM Yenthe V.G <notifications@github.com> wrote:

[2019-05-23 11:50] Yenthe666 commented on #33600
No problem, best of luck with Odoo!

[2019-05-23 11:50] aitorbouzas commented on #33541
Do you think there's a reason to keep `create_uid`?
I'm trying to watch this from a sales team manager perspective, trying to check what activities his team is planning and if they are up to date...

[2019-05-23 11:50] Yenthe666 commented on #33594
@RomainLibert for your interest

[2019-05-23 11:52] aitorbouzas commented on #29648
Any news about this?

[2019-05-23 12:06] Yenthe666 commented on #29648
@mge-odoo could you please be so kind to check this?

[2019-05-23 12:07] Yenthe666 commented on #33541
Yeah because then you know who created the activity and who is assigned. That way you can figure out who has assigned which person for an activity.

[2019-05-23 12:39] mge-odoo commented on #29648
Hi guys :) I apologize on behalf of my fellow colleague @JKE-be who made a silly joke, I have nothing to do with the calendar view. Maybe @aab-odoo could take a look?

[2019-05-23 13:06] Yenthe666 commented on #29648
You trolls! :-)

[2019-05-23 13:32] carlositurri commented on #33587
@switch87 Thank you for your response, I did what you recommended but without success.
This problem is replicated in all my users who use the latest version of chrome (Version 74.0.3729.169), they select more than once a product to sell in the POS and not only adds the quantity of the product, but also adds new ones lines what is not its correct functioning, I'm using odoo11.

I attach the image o

[2019-05-23 13:33] Yenthe666 commented on #32480
Hi,

As you've said yourself it is not reproducable on runbot I'm closing this report. Try to update your local instance to solve it there too.

[2019-05-23 13:33] #32480 closed

[2019-05-23 13:33] Yenthe666 commented on #32319
Hi there,

As there has been no additional feedback or reaction in over a month I'm closing off this bug report.
Feel free to respond with more details and we'll reopen it then.

Regards,
Yenthe

[2019-05-23 13:33] #32319 closed

[2019-05-23 13:34] Yenthe666 commented on #33546
@mart-e did you see this one before?
@amrdesign can you please add steps on how to reproduce this error? Can you reproduce it on one of the latest Odoo instances at runbot.odoo.com?

[2019-05-23 13:35] Yenthe666 commented on #30180
@arshad-momin could you give us feedback? Otherwise this report will be closed soon.

[2019-05-23 13:35] Yenthe666 commented on #30125
@switch87 could you have a look maybe?

[2019-05-23 13:36] Yenthe666 commented on #29345
@ged-odoo and @aab-odoo could you give feedback please? 🙏

[2019-05-23 13:37] Yenthe666 commented on #29714
@alexey-pelykh I'm actually pretty sure it has been fixed in https://github.com/odoo/odoo/commit/c7b6fcb9f23671847f7e3a3ccd1b7b781a7b51ca

[2019-05-23 13:37] #29714 closed

[2019-05-23 13:37] mart-e commented on #33546
Please give the error in debug=assets more, otherwise it is not very infromative.
Access it your odoo instance at `http://<yourdomain>/web?debug=assets`

[2019-05-23 13:41] Yenthe666 commented on #32292
@aliencrash can you please add the additional info in? Otherwise we cannot help you further and this issue will soon be closed.

[2019-05-23 13:42] Yenthe666 commented on #31391
Hi there,

As there has been no feedback since the last questions from my colleague I'm closing off this ticket.
Don't hesitate to respond back with more info and we'll reopen it then.

Regards,
Yenthe

[2019-05-23 13:42] #31391 closed

[2019-05-23 14:02] pedrobaeza commented on #33587
@carlositurri please try to reproduce the problem in runbot (http://runbot.odoo.com/runbot - admin/admin)?
If not reproducible, then this is something in your end (outdated code, custom modifications...).

[2019-05-23 14:10] carlositurri commented on #33587
@pedrobaeza thank you, I try to login to odoo runbot admin / admin but it tells me Wrong login / password can help me enter and perform the test?
I am looking forward to your response

[2019-05-23 14:12] pedrobaeza commented on #33587
A not respectful person has changed the admin password. Please try in an older build in the same line.

[2019-05-23 15:09] switch87 commented on #30125
@BrayhanJC I tried to reproduce this but didn't manage to do so. Is this still happening?

[2019-05-23 15:55] carlositurri commented on #33587
@pedrobaeza thank you very much, the problem was solved when updating my odoo with git pull, I appreciate your time, thanks

[2019-05-23 15:57] #33587 closed

[2019-05-23 17:28] Elkasitu commented on #33549
Unfortunately this is the best we can do for a stable version, for master it should be checked with the logistics team to see whether the index on that specific char field is necessary or not

[2019-05-23 17:28] #33549 closed

[2019-05-23 17:42] sswapnesh commented on #33594
Hello @GeorgeIvlev

For now you can Prevent this by setting Correct Manager on Leave/ or Employee/Department's manager. (If this suits your workflow) OR Just edit activity and set correct user.

Hello @intero-chz

See commit message on https://github.com/odoo/odoo/commit/21430a4d027f9b3e5a83b078477a77bdb17e61a0

Cc: @tbe-odoo based on https://github.com/odoo/odoo/commit/21430a4d027f9b3e5a83b078477

[2019-05-23 18:13] GeorgeIvlev commented on #33594
@sswapnesh Thanks for your help!

[2019-05-24 07:11] intero-chz commented on #33594
@sswapnesh interesting commit (21430a4), but why should someone from the "wrong" company be allowed to confirm/validate a leave. IMO that is wrong, because it's bypassing the multi company rule...

[2019-05-24 07:14] hzh0292 commented on #33479
Yes,this problem should be solved asap.
I have met this problem many times.
And now I used the /usr/bin/python3 instead of python virtualenvironment such as python3-venv, virtualenv, pipenv, pyenv.

[2019-05-24 07:21] mgpolinn commented on #27483
pip3 install libsass==0.12.3

[2019-05-24 09:01] rousseldenis opened #33641 "[12.0] Cache seems to be the same even with context change"
Impacted versions:

12.0

When iterating on object with context change, the cache has to be invalidated to have good results.

Something like :

[code]

produces same result for all warehouses even if they are different.

You have to do :

[code]

Code was working in v10.

Can someone confirm this ?

@mreficent @rco-odoo @mart-e

[2019-05-24 09:14] mart-e commented on #33641
Hi,

Why do you think so? I made a very simple test adding a print statement in the compute method,

[code]

[2019-05-24 09:34] rousseldenis commented on #33641
product quantities are different in several warehouses, but the result dict contains same values.

I will try to do it on a fresh v12 env and let you aware of my result

[2019-05-24 09:36] switch87 commented on #33511
@umontiel I see they are already testing it at Odoo support. Since they can test on duplicate databases of the enterprise db in the video I think it's best to try to solve it with them.

cc: @sswapnesh @luistorresm

[2019-05-24 10:11] Yajo commented on #13710
I'm migrating a complex theme from Less to Scss and the situation is definitely worse than ever. It's being very frustrating. Are there any docs on the matter, at least?

[2019-05-24 10:37] bnisevic commented on #8585
This is still present in v12?

[2019-05-24 13:55] litnimax opened #33651 "Odoo response during workers restart"
Using Odoo 12.0

I use nginx:

[code]

and
[code]
I see in my graylog collector the following sequence of error messages:

[code]

And my odoorpc client gets the following error:

[code]

I am sure this error is caused by worker restart.

Does anybody has an idea about this?

[2019-05-24 16:59] rousseldenis commented on #33641
It was not exactly as described: it's on a model that inherit**s** on 'product.product'.

The inherited model seems to have that problem.

I'm currently writing test shell script to show it

[2019-05-25 15:54] goliveirab opened #33656 "[11][enterprise] account_bank_reconciliation_report: TypeError"
**Impacted versions:** v11

**Steps to reproduce:**
Video: https://drive.google.com/file/d/1FeOuPGiaK_Hwfhz0q6gyA7bnK5f81fR0/view
Tested in http://526923-11-0-debc7a.runbot16.odoo.com

**Current behavior:**
The following error is shown

[code]

**Expected behavior:**
Display the Conciliation report

--------------------------------------
![image](https://user-images.githubusercontent.com/5191766/5

[2019-05-25 15:57] goliveirab commented on #33656
FYI @luistorresm

[2019-05-26 08:44] treviser commented on #14667
It happens again!
![Selection_124](https://user-images.githubusercontent.com/1814941/58379414-3a898a80-7fa3-11e9-8b82-906e0eb1c0a6.png)

@JKE-be

[2019-05-26 12:22] gurneyalex opened #33657 "[12.0] [stock] quants with qty == 0 in the Stock location"
**Impacted versions:**

12.0

**Steps to reproduce:**

1. install the sales and stock application

2. create a stored product tracked with unique serial numbers

3. create an initial inventory for this product with 2 SN 001 and 002 and validate it

4. create a sale order for 1 unit of the product, and deliver it using SN 001

5. Display the product form view

**Current behavior:**

In the form vie

[2019-05-26 12:47] alzubairy opened #33659 "Barcode doesn't appear"
Hello,,
Ubuntu Server 18.04.2 LTS

I have used the following instructions, But the barcode doesn't appear
https://www.odoo.com/documentation/12.0/setup/install.html#prepare.

![image](https://user-images.githubusercontent.com/45852699/58382034-af71ba00-7fcd-11e9-979c-f1f84dc6d281.png)

[2019-05-26 12:48] alzubairy commented on #33659
![image](https://user-images.githubusercontent.com/45852699/58382028-a7197f00-7fcd-11e9-8a45-d3eb06693c87.png)

[2019-05-26 18:18] sswapnesh commented on #27266
Fixed in https://github.com/odoo/odoo/pull/33570/commits/ee38015143c98c878d394942df9a2655a3e18302

[2019-05-26 18:18] #27266 closed

[2019-05-27 00:57] Jerry6869 commented on #24361
Yes. I have same issue. Btw, is this one help? https://gitlab.merchise.org/merchise/odoo/commit/69e38dcf356c8142544d360c8ac332fd8dd51b2b

[2019-05-27 05:28] tejasthakar333 commented on #33329
@Yenthe666  I checked commit @sswapnesh mention in the previous comment. I can't find any configuration for **allow_zero_cost ** .
I already checked my issue in Odoo runbot that include this commit.

[2019-05-27 06:29] mxz19901102 opened #33664 "制造里主生产排程没做是吗？"
制造---配置---计划---主生产排程

[2019-05-27 06:30] refana77 commented on #32100
Can anyone please explain is it an expected behavior or not

[2019-05-27 06:30] Yenthe666 commented on #14667
Yeah indeed. There are a few more issues after upgrading to 12.2. Such as converting a comment to an answer

[2019-05-27 08:40] telesoho opened #33672 "Label website_id cannot be translated"
Impacted versions:

Odoo origin/12.0
commit b24e0441b9ae3859dbec17535e5c964b40fa1d46

Steps to reproduce:

![image](https://user-images.githubusercontent.com/10979091/58397854-bfe96980-808d-11e9-813c-b5ae3ea123e3.png)

The label "Website" cannot been translated. The field be defined in model 'website.multi.mixin':
odoo/addons/website/models/website.py (899)

[code]
And the view id 'product_templat

[2019-05-27 08:44] hzh0292 commented on #33664
企业版才有这个功能，不过好像也很简陋，没啥用处。

[2019-05-27 09:50] qsm-odoo commented on #13710
@Yajo

You can find some information about the way assets are split for scss generation here: https://github.com/odoo/odoo/wiki/SCSS-coding-guidelines#styling (which is basically what is explained and done by my commit https://github.com/odoo/odoo/commit/6e4db7d13a926845bf82f5b035afede42d6d5a89). This should definitely have some more detailed doc.

Basic migration was done here https://github.com/

[2019-05-27 10:05] Yajo commented on #13710
Thanks for the tips @qsm-odoo!

I think that wiki should be linked in the docs at least. It would have saved me some hours and hairs...

Also thanks for the improvements in v13. Definitely `!default` should be used everywhere in Odoo (and BTW `!important` should be avoided).

Looking forward for the source maps... They keep becoming more important as assets keep getting more complex.

[2019-05-27 10:32] blaggacao opened #33678 "Bad performance on _compute_matched_percentage account.move"
`migration.recompute_fields(cr, 'account.move', ['matched_percentage'])`

[code]

Looks like `_compute_matched_percentage` is running at 2-3 seconds per record...
Am I missing something?

[2019-05-27 10:36] blaggacao commented on #33678
Oops, I guess it's 779 buckets of 256 = 199.424
Makes more sense. Closing.

[2019-05-27 10:36] #33678 closed

[2019-05-27 12:15] Elbagoury opened #33684 "Longpolling 503 Error"
Impacted versions:
V12 EE and V12 CE
Steps to reproduce:
1- open runbot.odoo.com
2- open any app and wait, it will start appearing
![longpolling](https://user-images.githubusercontent.com/9639673/58418937-eb6e5300-8091-11e9-80ae-5d811dad5a9b.png)

[2019-05-27 12:36] Elbagoury commented on #33684
I tested it on odoo.com the Error not appearing so there is a problem in runbot server configuration
![longpolling2](https://user-images.githubusercontent.com/9639673/58420128-376ec700-8095-11e9-9ed3-00612f2f5dfe.png)
s.

[2019-05-27 12:52] johnny-longneck opened #33688 "Qty on Hand wrong calculated"
In hope that 10.0 is still supported - We are struggling heavily with this issue:

**Impacted versions:**
Odoo 10.0 CE

**Steps to reproduce:**
Set Inventory to Multiple Warehouses with multiple locations
Add multiple warehouses for example: Vendor Location

**Current behavior:**
Qty on Hand counts all locations except  base virtual locations like "production".

**Expected behavior:**

QTY on Hand

[2019-05-27 13:24] rousseldenis commented on #33641
Here is an example script in shell (I miss a part to correctly build the registry, but this is the idea):

`

import logging

from odoo import models, fields

_logger = logging.getLogger(__name__)

class ProductInherit(models.Model):

    _name = 'product.inherits'
    _inherits = {'product.product': 'record_id'}
    _description = 'Product Inherits'

    record_id = fields.Many2one('product.produ

[2019-05-27 13:32] paulius-sladkevicius opened #33691 "[12.0] CRM lead missing followers from a team"
Impacted versions: 12.0
Tested on a latest runbot.

Steps to reproduce:

You should have a sales team with followers.
1. Open CRM lead/opportunity kanban view via activities menu (clock icon) on the top right.
2. Create a new lead and set sales team that has followers.

Current behavior:
Lead doesn't get followers from a sales team

Expected behavior:
Lead gets all followers from a sales team

Vid

[2019-05-27 13:44] pedrobaeza commented on #33691
This has probably something to do with passed context.

[2019-05-27 14:34] william-andre commented on #31380
This was fixed by https://github.com/odoo/odoo/pull/31991

[2019-05-27 14:34] #31380 closed

[2019-05-27 14:35] luistorresm commented on #33656
@goliveirab

Could you make the PR with the fix, please?

Regards

[2019-05-27 15:29] sswapnesh commented on #33657
Fixed in https://github.com/odoo/odoo/pull/33687

[2019-05-27 15:49] #33657 closed

[2019-05-27 15:57] JKE-be commented on #14667
Oups, sorry, you are no more employee of Odoo.

It has been updated

[2019-05-27 16:11] rousseldenis commented on #33641
And the good one that works :

[code]

[2019-05-27 16:20] celm1990 commented on #14667
@JKE-be when I search a user on forum get error, can be related or not??

![image](https://user-images.githubusercontent.com/7775116/58430962-59565280-8071-11e9-879e-f490d4698379.png)

![image](https://user-images.githubusercontent.com/7775116/58430968-607d6080-8071-11e9-96e2-6b86cf6df195.png)

[2019-05-27 17:52] nemobis opened #33698 "Add publiccode.yml"
Would you be interested in a patch to add a metadata file like https://github.com/globaleaks/GlobaLeaks/blob/master/publiccode.yml ? It's necessary to be included in https://developers.italia.it/en/software/ , the list of free software which the Italian state will heavily advertise to the public sector in Italy.

[2019-05-27 18:05] sswapnesh commented on #33691
Missing `default_team_id` in context

`default_team_id` not available when we create from Activities
![Screenshot from 2019-05-27 23-33-29](https://user-images.githubusercontent.com/16624719/58434167-f0ee8c00-80d7-11e9-8587-6e114e8b229e.png)

From Main menu
![Screenshot from 2019-05-27 23-33-42](https://user-images.githubusercontent.com/16624719/58434187-05328900-80d8-11e9-931f-b5dbc67b46ff.png)

[2019-05-27 18:09] sswapnesh commented on #33329
Create new System Parameter and try again

![Screenshot - 2019-05-27T233837 312](https://user-images.githubusercontent.com/16624719/58434286-8ee25680-80d8-11e9-8207-ea7a7821dcc6.png)

[2019-05-27 19:09] #33286 closed

[2019-05-27 19:49] isserver1 opened #33699 "Odoo11 Mail Compose Message onchange_template_id_wrapper error"
Impacted versions:
Odoo 11.0-20190527 (Community Edition) from odoo nightly
Highly likely after this commit (because version 20190515 still working fine): [](https://github.com/odoo/odoo/commit/95f8eb410e81e11f1bd40800714fc0f585724916)

Steps to reproduce:
1. Open CRM Lead, Task or any record with Chatter
2. Open message in full-composer mode.

Current behavior:
Error occurs but wizard still opens

[2019-05-27 23:10] pedrobaeza commented on #33699
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-27 23:14] pedrobaeza commented on #33329
Closing as answered

[2019-05-27 23:14] #33329 closed

[2019-05-28 03:45] kdc-ft3 commented on #26531
@tde-banana-odoo -

Activities can be a very powerful feature.  I would like to add my voice to those requesting this enhancement.

@jbeficent makes a powerful point.  I assumed that tracking customer contact activities - done and undone - would simply be a matter of exporting the activities on customers... and it's been a sad surprise that this is not the case.

My humble perspective and desire i

[2019-05-28 06:49] Yenthe666 commented on #33698
@mart-e can you give feedback?

[2019-05-28 06:50] Yenthe666 commented on #33684
@mart-e FYI

[2019-05-28 07:04] erkie24 opened #33704 "[12.0] Double record inserted"
Impacted versions: 11, 12

Steps to reproduce: When creating record on some form, sometimes it will create duplicate record.

Video/Screenshot link (optional):
- https://user-images.githubusercontent.com/16965539/58457549-2be0d600-8151-11e9-8a6e-1905da86749d.jpg
- https://user-images.githubusercontent.com/16965539/58457689-7eba8d80-8151-11e9-909c-fb69051fdff9.jpg

[2019-05-28 07:15] Yenthe666 commented on #33704
Hi @erkie24,

Can you reproduce this on an official Odoo instance at runbot.odoo.com? Are  you sure it is not custom development or that you have some scheduled actions causing this?

Regards,
Yenthe

[2019-05-28 07:56] Yenthe666 commented on #33664
@mxz19901102 can you please make the report in English and add more information?

[2019-05-28 07:57] Yenthe666 commented on #33659
Did you install the extra Python libraries for barcodes though?

[2019-05-28 08:00] mxz19901102 commented on #33664
I have already know this problem,thank you very match.normal version odoo is not having this function.

------------------ 原始邮件 ------------------
发件人: "Yenthe V.G"<notifications@github.com>;
发送时间: 2019年5月28日(星期二) 下午3:57
收件人: "odoo/odoo"<odoo@noreply.github.com>;
抄送: "楚&轩"<1140936353@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [odoo/odoo] 制造里主生产排程没做是吗？ (#33664)

@mxz19901102 can you ple

[2019-05-28 08:10] #33664 closed

[2019-05-28 08:10] Yenthe666 commented on #33664
Okay, thanks for the feedback!

[2019-05-28 08:11] mart-e commented on #33698
Is this used by other countries or is only for Italia? While it is nice to be listed on the public list of open source software for Italia, I don't want to have each country adding its own file and having a long list of outdated manifest files.
@odony @antonylesuisse what do you think?

[2019-05-28 08:21] johnny-longneck commented on #33688
Okay I tested it again with the demo database. It works there.
Maybe some extension which is bringing the bug.

Never mind. Sorry. Odoo is great! :D

[2019-05-28 08:21] #33688 closed

[2019-05-28 08:44] zbik2607 opened #33709 "Odoo Help Forum - problems"
Impacted versions: master

My Browsers: Firefox 67.0, Google Chrome 74.0

1) Impossible to add image
2) Impossible copy and paste code - tags are removed
3) 'User rank' is not set - see image rank_0.svg on page https://www.odoo.com/profile/users
4) Ranks are confused - see 1,2,3 on page https://www.odoo.com/profile/ranks_badges

Wishlist:
5) Preview

[2019-05-28 08:49] isserver1 commented on #33699
Hi, this is how to reproduce it on runbot (http://528620-11-0-c868da.runbot15.odoo.com):
1. Go to Sales
2. Open SO046
3. Go to chatter.
4. Open Mail Composer in full screen
![image](https://user-images.githubusercontent.com/2234999/58464538-89b7f280-813e-11e9-874a-a7aa0691f2e2.png)

[2019-05-28 09:04] reinaldoramosarxi opened #33712 "[12.0] Full composer throws unhashable list error since last update"
Impacted versions: 12.0, latest update

Steps to reproduce:
- Get latest 12.0 update (all Odoo.sh servers and our local updated servers are behaving this way)
- In any document with send message/log note, click "Full composer"

Current behavior: Odoo throws a TypeError: unhashable type: 'list'

Traceback:

[code]

[2019-05-28 09:15] Yenthe666 commented on #33712
Hi @reinaldoramosarxi,

Thanks for the report! I can confirm that this has been broken:
![image](https://user-images.githubusercontent.com/6352350/58466378-da791c80-8139-11e9-902e-93c2a8c89286.png)

Regards,
Yenthe

[2019-05-28 09:16] Yenthe666 commented on #33709
@JKE-be for you. Also related issues:
- Converting a comment to an answer fails
- Adding code in a code block that is QWeb fails (for example: `<t t-foreach="invoice_lines" t-as="invoice_line">`)

[2019-05-28 09:23] Yenthe666 commented on #33699
Same report as https://github.com/odoo/odoo/issues/33712.
I'm closing this one in favour of the other one as it is more transparant.

[2019-05-28 09:23] #33699 closed

[2019-05-28 09:23] Yenthe666 commented on #33712
Issue is also present in V11.

[2019-05-28 09:42] mart-e commented on #33672
Hi,

Indeed you are right.
@rco-odoo the field `website_id` is added by `website.multi.mixin` (module `website`)

https://github.com/odoo/odoo/blob/ddabee78e1954764cbc2bee0af99ead63f115cb8/addons/website/models/website.py#L896-L899

The `website.published.multi.mixin` inherit from `website.multi.mixin` (module `website`)

https://github.com/odoo/odoo/blob/ddabee78e1954764cbc2bee0af99ead63f115cb8/a

[2019-05-28 10:06] #33482 closed

[2019-05-28 10:12] mart-e commented on #33684
Hi,

Thanks for the report but I would not worry very much about it.
The runbot is a test instance where many people connect to it simultaneously and are quickly discarded. You may get temporary issues. It is not always reliable but it is not the purpose of the runbot either. I just tested on a community and enterprise runbot and it worked fine. Your issue was probably due to a concurrent transact

[2019-05-28 10:12] #33684 closed

[2019-05-28 10:40] erkie24 commented on #33704
It's not always happened, intermittent. so I can't reproduce it, but sometimes it happened.
There's a week when bugs doesn't occur, and then the next day, it create double record again.
I'm sure its not custom development, I have 1 instance odoo version 11 at AWS, and 1 instance odoo version 12 at AWS, and I have 1 instance at local PC. All three instance doesn't have any extra module installed, b

[2019-05-28 11:37] nicomacr commented on #23354
opw-2003583

[2019-05-28 12:07] Elbagoury commented on #33684
@mart-e  but it is not a temporary issue it appears for 3 weeks now and appears on my production servers on GCP and AWS, In your opinion, what may be causing this issue..?

[2019-05-28 12:23] tde-banana-odoo commented on #33712
It seems a "bug fix" changed the returned result of default_get, making a lot of crash within the composer. Reads like a super nice bug fix :face_with_head_bandage:

[2019-05-28 12:30] #26018 closed

[2019-05-28 12:38] mart-e commented on #33684
503 means "Service Unavailable". Check your server logs to see why the request failed.
Have you checked the deployment documentation, we have a section about livechat configuration
https://www.odoo.com/documentation/12.0/setup/deploy.html#livechat
Do you have enough workers?

[2019-05-28 12:48] Yenthe666 commented on #33712
Otherwise you'd be bored and wouldn't have any work besides of some e-learning anyways, right? 😉
Looking forward to the fix! Or do you want an OPW escalation?

[2019-05-28 12:49] Yenthe666 commented on #33704
Hmm odd, haven't heard this one before. Can you try to reproduce it on an official runbot instance?

[2019-05-28 12:50] jtunez90 opened #33718 "Odoo Search"
Hi all!
I need to perform a search for a field in a table that has the following relationship:

class AiHrEmployee (models.Model):
     _inherit = ['hr.employee']

    collaborations_ids = fields.One2many ('hr.employee.collaboration.line', 'employee_id', "Collaboration activities")

class AiCollaborationActivityLine (models.Model):
     _name = "hr.employee.collaboration.line"

     employee_id =

[2019-05-28 12:51] tde-banana-odoo commented on #33712
There are already branches working on it (https://github.com/odoo/odoo/pull/33707#issuecomment-496500986 for example). Bugfix team is hard at work on it.

[2019-05-28 13:45] Yenthe666 commented on #33718
Hi @jtunez90,

The Github tracker is only used for reporting issues in the official code, it is not the right place to ask questions.
I saw you already opened up a question on the help forum too so I'm closing this one.

Regards,
Yenthe

[2019-05-28 13:45] #33718 closed

[2019-05-28 13:48] nim-odoo commented on #33712
Hot fix ongoing at https://github.com/odoo/odoo/pull/33706 and https://github.com/odoo/odoo/pull/33707

[2019-05-28 13:49] alzubairy commented on #33659
Yes you have installed it.
After searching it turns out that the problem is in the company's servers
I moved to another company and the barcode works well.

thank you for your reply

[2019-05-28 14:13] Yenthe666 commented on #33659
Good to hear, best of luck with Odoo!

[2019-05-28 14:13] #33659 closed

[2019-05-28 15:13] rawatrahul321 opened #33726 "Restriction in odoo"
I have created security file as that the user who is logged in can only able to seen his data. The domain force is correct and working. But from some users, while creating any lead in crm_lead model, I am finding such error:
 The requested operation cannot be completed due to security restrictions. Please contact your system administrator.
(Document type: res.users, Operation: read).

    And, in

[2019-05-28 15:15] pedrobaeza commented on #33726
Sorry, but the error you are mentioning corresponds to custom code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if someone can help

[2019-05-28 15:15] #33726 closed

[2019-05-28 16:54] nemobis commented on #33698
Martin Trigaux, 28/05/19 11:12:

AFAIK only Italy so far. I understand the concern.

[2019-05-28 17:23] zeroheure opened #33729 "[13] duplicated social sharing code (website and website_blog)"
Website and website_blog both has JS functions and CSS classes to display social sharing links. Two similar functions are loaded where one would be  enough.

- website/static/src/js/website.share.js
- website_blog/static/src/js/website_blog.js

Impacted versions: all

[2019-05-28 17:27] #33641 closed

[2019-05-28 17:56] mcassuto commented on #25055
We have the same issue at our customer.... Multi-stores and unable to provide the values...

[2019-05-28 18:52] MarkingSC opened #33730 "Confusing breadcrumbs for Inventory and Valuation Reports."
Impacted versions:
11.0 & 12.0

Steps to reproduce:
Go to _Inventory/Master data/Products_ (Select one), then without leaving the page, get an inventory report in _Reporting/Inventory Report._

Current behavior:
The breadcrums appear like _Products / [E-COM11] Cabinet with Doors / Inventory_ , which may indicate the Cabinet with doors inventory, not all inventory.

Expected behavior:
I think the I

[2019-05-28 20:11] jeffryjdelarosa commented on #25055
We are looking forward to solve this issue,  it so important to us to get the this solved.

[2019-05-29 03:02] gustavovalverde commented on #32763
Thank you @sswapnesh

[2019-05-29 07:07] Gokulakannanaj opened #33737 "[11.0] Form not closed after click a button"
Impacted versions:
11.0

Steps to reproduce:
Open a form like wizard [By Setting target is new], That form contains a Custom Button and particular action(It navigate to another model [From Sales to Customers]).

Current behavior:
When i click a custom button, Current form not closed.

Expected behavior:
When i click a custom button, Current form need to be closed.

[2019-05-29 07:45] pedrobaeza commented on #33737
Yes, this behavior won't be fixed in 11.0, but it has been changed in 12.0.

Closing as solved in newer versions.

[2019-05-29 07:45] #33737 closed

[2019-05-29 10:45] misnedtech commented on #33082
Me too got same error on server. This happens after updating odoo with latest code from github (76131748f9e492a0ebe751481f952dda30bca1f7). Now I am not able to use ERP, displaying nothing on browser but white screen.

...
...
...
  File "/home/erp/workspace/odoo_12e/odoo/http.py", line 517, in response_wrap
    response = f(*args, **kw)
  File "/home/erp/workspace/odoo_12e/addons/web/controllers/m

[2019-05-29 11:05] gustavovalverde commented on #29714
@Yenthe666 I'm experiencing this behavior on the last commit when importing leave allocations (_hr.leave.allocation_). And I'm actually stuck with an import because of it

Error:
[code]

[2019-05-29 12:07] #32309 closed

[2019-05-29 12:07] #33512 closed

[2019-05-29 12:19] bnisevic opened #33750 "Defaulting to string en_US"
Impacted versions: 12

Steps to reproduce:
- Save a transaction programmatically with its create method without explicitly stating values for partner fields and with --load-language other than 'en_US'. I use odoo-bin with --load-language de_DE. 'en_US' is not active on my system.

E.g. of transaction being created:
[code]
- If just a `partner_id` is provided, following lines are supposed to fill-o

[2019-05-29 12:43] alvarosalinero opened #33752 "[10.0] Problem with refund/order returns without cash payment method in POS"
Impacted versions: 10.0

We have a Point Of Sale (POS) terminal configured only with the "Card payment method" and we can not make refunds/order returns.

The error we get when trying to do it is the following:

"There is no cash payment method available in this point of sale to handle the change.\n\n Please pay the exact amount or add a cash payment method in the point of sale configuration"

We

[2019-05-29 14:23] bnisevic commented on #33750
Actually `default=lambda self: self.env.lang` won't work for `partner_lang` field in transaction model. For some reason self.env.lang returns 'en_US' even when my active language is 'de_DE'.

[2019-05-29 15:51] sswapnesh commented on #33712
This has been fixed.

[2019-05-29 18:20] sswapnesh commented on #27702
Seems working well now. (On v11 and 12)
![Screenshot from 2019-05-29 23-49-41](https://user-images.githubusercontent.com/16624719/58581152-7e62e500-826c-11e9-8e42-400a50060aca.png)
![Screenshot from 2019-05-29 23-50-17](https://user-images.githubusercontent.com/16624719/58581165-86bb2000-826c-11e9-9a2c-f9ee07a141bc.png)

[2019-05-29 18:26] sswapnesh commented on #26509
Still same Issue on v11

[2019-05-29 18:55] hugho-ad commented on #27702
yeah, it's must be an enterprice bug, did you tried at enterprice?

[2019-05-29 19:00] sswapnesh commented on #27702
Tried and works well there too.

http://530080-11-0-b35417.runbot11.odoo.com/web#view_type=list&model=sale.order&menu_id=570&action=829
![Screenshot from 2019-05-30 00-29-49](https://user-images.githubusercontent.com/16624719/58583625-0eeff400-8272-11e9-95aa-0da67f64c737.png)

![Screenshot from 2019-05-30 00-28-50](https://user-images.githubusercontent.com/16624719/58583573-f5e74300-8271-11e9-8141

[2019-05-29 19:00] carolang opened #33769 "[12.0] Black screen when accessing the POS UI"
Impacted versions: 12.0

Steps to reproduce:
In the POS screen, open a session in a POS Terminal
Click in "Continue selling"

Current behavior:
The loading screen appears normally but then it freezes there (it never shows the screen to select products and sell them)

Expected behavior:
To show the screen to sell products after the loading screen

[2019-05-29 20:42] fmdl opened #33771 "[IDEA] web: add header in the tree view"
Today actions is only in a dropdown menu in the tree view.

For some process (like account reconciliation), it is long to click on action, then "Reconcil".

The idea is to add header in the tree view, like for a form view :

[code]

the methode `action_reconcil` is excecuted with only select records.

the header is only show if records are selected.

Expected behavior:

Video/Screenshot link (opti

[2019-05-30 04:37] Gokulakannanaj commented on #33737
@pedrobaeza Can you provide the location of modified file ?

[2019-05-30 06:24] pedrobaeza commented on #33737
No, sorry. You can check on runbot for trying this feature in version 12.0

[2019-05-30 06:35] pedrobaeza commented on #33769
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-05-30 07:30] pedrobaeza commented on #33752
@switch87 what do you think about this?

[2019-05-30 11:23] DConzy opened #33777 "Odoo v11 dms files not appearing"
Impacted versions: odoo 11

Steps to reproduce: install odoo 11 and dms module. create access groups and directories. link access group to directories. upload files into directory

Current behavior:when  a user of an access group logs onto the system, user can't see files in individual folders when there are over 100 files in folder but directories with less than 100 files in it, the files appear.

[2019-05-30 14:39] Yenthe666 commented on #33712
V11 at https://github.com/odoo/odoo/pull/33706/commits/78a87e3663fd4417d47ff8bf1c945828f056c699
V12 at https://github.com/odoo/odoo/pull/33707/commits/0e6d6f02497c76fb2df4ce9453a1ccb57344166e

[2019-05-30 14:39] #33712 closed

[2019-05-30 15:36] Yenthe666 commented on #33709
@JKE-be another one: you cannot remove the 'mark as answered' option from an answer, this was possible in the past.

[2019-05-31 07:26] Yenthe666 commented on #33730
Hmm I don't really find this odd and I don't think it'll be changed. @lap-odoo or @antonylesuisse can probably confirm this.

[2019-05-31 07:28] Yenthe666 commented on #33729
@JKE-be

[2019-05-31 08:51] bjccdsrlcr opened #33788 "[10.0] ondelete attribute is not correctly shown on field form"
Impacted versions: 10

Steps to reproduce: any many2one field define fields.Many2one("item.sales", string="2 hours sales", ondelete='cascade')

Expected behavior:
the form of ir.model.fields should show the correct value in ('cascade', 'set null', 'restrict') . now is all null

Video/Screenshot link (optional):
please check and repair it
![image](https://user-images.githubusercontent.com/30322340/

[2019-05-31 09:19] sle-odoo commented on #33730
hi,

this won't do what you think, it'll open the report in a wizard

we would need to be able to set a flag in an action to clear the breadcrumb, and afaik id is not possible at the moment, maybe @VincentSchippefilt can confirm?

regards

[2019-05-31 10:07] forvas opened #33793 "[v11] Default group by day does not work in the search view of Kanban view"
Impacted versions:
- 11.0

Steps to reproduce:
- Create a new group filter in a search view, which groups by the day of a `Datetime` field:
[code]
- Create an action (called by a menuitem) which opens a kanban view and uses this search view with the group filter activated by default:
[code]
- Click on the menuitem which opens the Kanban view with the Search view.

Current behavior:
- When clicking

[2019-05-31 12:56] bjccdsrlcr commented on #33788
I think I have found the problem. seems here when to reflect models and fields not add the key "on_delete"
![image](https://user-images.githubusercontent.com/30322340/58707093-7a5ad280-83e6-11e9-9be2-5314e57eabf6.png)

[2019-05-31 12:57] bjccdsrlcr commented on #33788
so if I made this change, will there be other bugs?

[2019-05-31 15:58] aelmanaa commented on #21520
Is it normal that this is not tackled as high priority? Actually , this is really problematic in a milti-tenancy setup: we are not supposed to see our client passwords.

[2019-05-31 15:58] sswapnesh commented on #33594
Should be fixed in https://github.com/odoo/odoo/pull/33804

[2019-06-01 19:55] Elkasitu commented on #33788
requires backport of https://github.com/odoo/odoo/pull/27906

[2019-06-02 04:05] bjccdsrlcr commented on #33788
I have seen this, but the version is 12. since version 10 and 12 exists much differences, I haven't found the solution of 10

[2019-06-02 04:26] zubaer93 commented on #21238
@flyingL123 you said " I should be creating the stock.immediate.transfer myself, then calling the process on it. ". may i ask how are you creating that. In my case when i am trying to create the same error "cannot marshal <class 'odoo.tools.misc.frozendict'> objects" is showing

[2019-06-02 05:59] Dester05 commented on #23401
change the version of your postgresql database to a higher version (9.6 up) and reinstall Odoo

[2019-06-02 08:08] lem8r opened #33807 "Slugify lib is called with None instead of 0"
Impacted versions: 11.0, 12.0, master

Steps to reproduce:
Slugify lib is never user because most of the time it is called with wrong default parameter.

When `slugify` is [called](https://github.com/odoo/odoo/blob/fef49061ead4a437bac922d9d32270f76addd014/addons/http_routing/models/ir_http.py#L61) with `max_length=None` there is an exception.

[code]
It has to be called with `max-length=0` accordi

[2019-06-02 13:28] jonmercarpio commented on #33546
Duplicate of #31653

[2019-06-02 17:13] flyingL123 commented on #21238
@zubaer93 I'm happy to help, but can you provide a code sample of what you're trying to do?

[2019-06-02 18:56] zubaer93 commented on #21238
@flyingL123 sure
this is my function
 public function validate($model, $action, $id)
    {
        $response = $this->getClient('object')->execute_kw(
            $this->database,
            $this->uid(),
            $this->password,
            $model,
            $action,
            [ $id ]
        );
        return $response;
    }

and i am calling it like this
                $buttonValidat

[2019-06-02 20:18] pedrobaeza commented on #33546
Closing as seems to be the same missing library and no other answer.

[2019-06-02 20:18] #33546 closed

[2019-06-02 20:22] pedrobaeza commented on #33807
Can you please indicate the places in code where this happens or even better, propose a PR changing it?

[2019-06-02 20:24] pedrobaeza commented on #33788
@Elkasitu then I suppose we should close this as won't fix in 10, but fixed on v12, isn't it?

[2019-06-02 22:48] flyingL123 commented on #21238
@zubaer93 thanks for the code. The `button_validate` method simply returns an action which instructs the Odoo UI to open a wizard window which then allows the creation of a new `stock.immediate.transfer` for the given picking.

It doesn't really make sense to call this method via the API unless you're building your own UI or something like that. Instead, your code should simply create the `stock.i

[2019-06-03 04:26] zubaer93 commented on #21238
@flyingL123 I just implemented your process. But the problem is there is a 'stock_picking_transfer_rel' table which maintain the many to many relation between  stock_immediate_transfer AND stock_picking. SO when I follow your process an Id is returned from the stock_immediate_transfer model, but there is no relation created between stock_immediate_transfer AND stock_picking in 'stock_picking_trans

[2019-06-03 06:14] Elkasitu commented on #33788
I will let @mart-e judge whether the fix is backportable to v10 or not

[2019-06-03 07:48] flyingL123 commented on #21238
Are you passing in the pick_id field as I show? For me it works as expected. The state changes to done and the stock moves are completed. You must be doing something differently.

[2019-06-03 07:52] flyingL123 commented on #21238
Also the pick_id field is many2one, so there is no relation table needed. Are we using different versions of Odoo? I’m still using 10.

[2019-06-03 08:54] manuelviejo opened #33819 "[10.0][purchase] Purchase order final pric"
Impacted versions: 10

Steps to reproduce:

1. Create purchase order:
   1.1 1 product, with product uom kg
2. Confirm purchase order
4. Receive products (Create picking)
5. Validate picking
6. Return picking
   6.1 Check to refund so
   6.2 Change the quantity
   6.3. Confirm return
7. Validate return picking

Current behavior:
When generating the invoice, it takes the new quantity correctly, but

[2019-06-03 09:32] zubaer93 commented on #21238
@flyingL123 yes i am passing the pick_id. And I am using odoo 12. maybe that is causing the trouble

[2019-06-03 11:19] flyingL123 commented on #21238
Yea in 12 it's many2many, and it's called `pick_ids`, so just change the field name to `pick_ids`. You will probably need to make it an array too:

[code]

There may be other small changes needed to work for Odoo 12, but that should be a start. You just need to populate whatever fields are needed to get this method to work correctly:

[code]

[2019-06-03 12:19] lem8r commented on #33807
`slugify` is called without `max_length` param https://github.com/odoo/odoo/blob/fef49061ead4a437bac922d9d32270f76addd014/addons/http_routing/models/ir_http.py#L95 so it is `None` by default.

`slugify` is calling `slugify_one`
https://github.com/odoo/odoo/blob/fef49061ead4a437bac922d9d32270f76addd014/addons/http_routing/models/ir_http.py#L77-L78

which is calling `slugify_lib.slugify`
https://git

[2019-06-03 12:24] Yenthe666 commented on #33807
Lowest version where you encounter it. CC @JKE-be

[2019-06-03 12:57] JKE-be commented on #33807
PR in version 11 is ok.
The bug only appear with python3

Thank you

[2019-06-03 14:18] yostashiro commented on #25055
It looks like this issue is going to put me into trouble. It puzzles me why the valuation has been removed from quants.

[2019-06-03 14:28] sle-odoo commented on #25055
@yostashiro https://github.com/odoo/odoo/issues/25055#issuecomment-396646533

[2019-06-03 14:46] luisiniguezh commented on #24454
@pedrobaeza can we reopen this issue for v10 I can confirm it's happening on v10 and am willing to make a PR porting the code of https://github.com/odoo/odoo/commit/dbe6aa4292dc3190987855f4b59a737503d1f7f6

[2019-06-03 14:48] Yenthe666 commented on #24454
@luisiniguezh if you really want it you can backport it to 10.0 and make a PR here. Please don't reopen the issue for this :)

[2019-06-03 16:29] taxuannam opened #33847 "error when run odoo"
Impacted` versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

vesinhminhthuy360@odoo:/opt/odoo/odoo$ ./odoo-bin
Traceback (most recent call last):
  File "./odoo-bin", line 5, in <module>
    import odoo
  File "/opt/odoo/odoo/odoo/__init__.py", line 73, in <module>
    import babel
ModuleNotFoundError: No module named 'babel'

[2019-06-03 16:57] sswapnesh commented on #33847
Install requirements.txt using

`sudo pip3 install -r requirements.txt` or  `sudo pip install -r requirements.txt` based on odoo version.

Refer to https://www.odoo.com/documentation/12.0/setup/install.html#id4 for more details.

[2019-06-03 17:00] sswapnesh commented on #33594
This has been fixed in 691dc424a1d04c7ea4fb87663b17922efd5bcaf5

[2019-06-03 17:00] pedrobaeza commented on #33847
Yes, this is not an Odoo issue itself, so closing.

[2019-06-03 17:00] #33847 closed

[2019-06-03 18:10] sswapnesh opened #33848 "[11/12] CRM: Inconsistency b/w Salesperson and Sales Team on lead"
Impacted versions: 11 / 12

Steps to reproduce:

- Create new lead (Open Form view)
![Screenshot from 2019-06-03 23-38-52](https://user-images.githubusercontent.com/16624719/58824040-c614b280-8658-11e9-93af-0d2741cdc093.png)

- Remove or Change Sales Team
- Save

Current behavior:  Default Sale team will be there (From commit https://github.com/odoo/odoo/commit/4e8ebc7a724802e955ee9c44ec3c30f9388d

[2019-06-03 18:13] pedrobaeza commented on #33848
I think this has been discussed other times, isn't it?

[2019-06-03 18:18] sswapnesh commented on #33848
I didn't found any reference here. (or even this is discussed I believe we shouldn't set sales team forcefully from constrains, Specially when user doesn't want to set one)

[2019-06-03 19:36] Axel-G opened #33850 "[12.0] No access to technical access rights"
I installed a fresh odoo from github.
And i get now access to technical access rights in user view, not with debug and not with debug=assets.

Its this a new feature?

[2019-06-03 19:39] pedrobaeza commented on #33850
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

A little tip: nothing has changed about this.

Closing this by the reason above.

[2019-06-03 19:39] #33850 closed

[2019-06-04 05:35] deepak-ksolves opened #33854 "[12.0] After yesterday's Chrome update, on debug assets mode, bootstrap js file is not being loaded."
Impacted versions: 12.0

Steps to reproduce: System - Ubunutu 16.04.
1. Update chrome to latest update.
2. Activate debug assets mode.
3. On console, bootstrap file will give error (popover.js file error).

Current behavior: All pop up menu stops working.

Expected behavior: All pop up menu work like default.

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/459

[2019-06-04 06:16] #33594 closed

[2019-06-04 06:58] yostashiro commented on #25055
@sle-odoo #25055 doesn't sound to me like a valid reason for the change - it's just one of the passive reasons if anything. Yes, many small companies probably find no issue with the current design, but I doubt it accommodates the requirements of companies with larger logistical settings. To me the previous design was conceptually easier to understand, and provided much better visibility and flexib

[2019-06-04 07:11] sle-odoo commented on #25055
There's a really valid reason, you can only justify using the old real price cost method to your financial institution if all your products are tracked by serial number (ie you can always be sure this unit should be valued to this price, and prove it). As it could only be of use to a low, low number of companies and dropping this feature would allow merging quants and get rid of a lot of performan

[2019-06-04 07:28] yostashiro commented on #25055
@sle-odoo Thank you for the explanation. I understand that merging quants is a good point.

I think this is not so uncommon for manufacturing companies, though.  I wish the previous design could have kept even for this particular use case, although I understand the cost of maintaining it.

[2019-06-04 08:45] mart-e commented on #33788
Hi,

Sorry but I prefer not to backport it in 10.0. The 10.0 is in end of life and changing the behaviour in ir.model is never without risks. As this is not a blocking bug, lets not change it now.

[2019-06-04 08:45] #33788 closed

[2019-06-04 09:20] mart-e commented on #33750
Hi,

Thanks for the report and analysis.
I agree I don't think the `or en_US` part is useful. The `partner_lang` is not required no value is better that a wrong one,

@dbo-odoo I think this code is from a long time ago (382829686def6cd1cc6a09f8cf61a7c6ba55a9c0) when en_US was not deactivable. Could you confirm it is fine to remove it?

This is odd, could you elaborate that part please?

[2019-06-04 11:49] dbo-odoo commented on #33750
The field should probably be required, since some payment providers expect to find a value in the payment form (IIRC this is why the falback to en_us was added in the first place)
another possibility would be to add the fallback to en_US during the form rendering

in any case, i'm pretty confident a fallback is necessary; either the one from the current user somehow or the first active res.lang or

[2019-06-04 14:04] MarkingSC commented on #33730
@sle-odoo , what about "main" window?

[2019-06-04 20:06] carlositurri opened #33884 "POS card payment method"
Impacted versions:
odoo v 11
Steps to reproduce:
Payment at the point of sale by bank card
Current behavior:
The field to enter the card code and cancel and apply buttons are displayed in disorder
Expected behavior:
The fields are in correct order
Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/11946302/58910098-b5108380-86e2-11e9-85b3-dd6114052315.png)

[2019-06-04 21:07] hugho-ad opened #33885 "[v11.0] Account: overdue_msg on Company no translated"
Impacted versions:
11.0

Steps to reproduce:
- Load a second lang
- Create new customer with the new lang
- Create an invoice with overdue payments

![image](https://user-images.githubusercontent.com/10233975/58913550-0bc98d80-86e2-11e9-990f-55f94e036fdf.png)

![image](https://user-images.githubusercontent.com/10233975/58913558-0ec47e00-86e2-11e9-9025-abf08e9de447.png)

Go to Overdue Report:
![ima

[2019-06-05 06:34] telesoho opened #33889 "New field cannot be shown correctly before standard_price."
Impacted versions:

origin/12.0 bd3a78847998d117ebb32b303eaa3886f00c50ba

Steps to reproduce:

I create a view in a new module  add a new field sku_price before standard_price like this:

[code]
Then install this new module, but the sku_price cannot be shown correctly.

![image](https://user-images.githubusercontent.com/10979091/58934267-e8b3e200-87a4-11e9-9743-1c45b4f87425.png)

I found standard_

[2019-06-05 07:17] pedrobaeza commented on #33889
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2019-06-05 07:17] #33889 closed

[2019-06-05 07:18] Yenthe666 commented on #33889
Just change your xpath expression and you'll have it working too.

[2019-06-05 08:50] DEVANGISHINDE66 opened #33895 "Odoo12 Enterprise- Contract Templates - hr_contract_salary - error in New Contract Document Template - cannot create new sign.template"
Impacted versions: odoo 12 Enterprise

Steps to reproduce:
-  Contract Templates Menu
-  New Contract Document Template Field
-  Create  new document template
-  Get Error
![erroe_sign_template](https://user-images.githubusercontent.com/51401154/58943438-5825d380-879d-11e9-9dac-8c7a1dcc58c2.png)

![attach](https://user-images.githubusercontent.com/51401154/58943508-84415480-879d-11e9-9af5-d6b27b5c

[2019-06-05 08:56] rdeodoo commented on #33729
Hello, could you please provide a link to the code you are referring to?
I can't find `website/static/src/js/website.share.js`, are you talking about `website_forum/static/src/js/website_forum.share.js`?

Also, could you precise if you experience any bug related to that?