[2016-09-22 08:07] woei66 commented on #13560
sorry, it doesn't work on others' pc

[2016-09-22 08:13] JKE-be commented on #13509
Please us the forum for this kind of question. https://forum.odoo.com
This tracker is for issue only...

You can do it easily with an automated action on crm.lead - on_create - send_mail

[2016-09-22 08:13] #13509 closed

[2016-09-22 08:18] ed29 commented on #13509
OK,thank you

[2016-09-22 08:47] JordyRitzen commented on #13425
Thanks for the fix in the Odoo codebase.
We've applied the patch a day after you've made the commit and it's working.

[2016-09-22 11:07] woei66 commented on #13560
it fixed after I reinstalled

[2016-09-22 11:07] #13560 closed

[2016-09-22 20:20] flotho opened #13569 "[9.0]Purchase Invoices causing major permorfance issues when line number is important"
Impacted versions:
Latest from github

Steps to reproduce:
Create a PO with 300 lines
validate multiple picking in multiple times thanks to backorders
create an invoice for this PO

Current behavior:
The invoice creation takes about 3.5 minutes
Unlinking a line in the Invoice create some exclusivelocks on DB that causes all the instance freezing
25 Users are running in the same time on the db and

[2016-09-23 04:18] hoanguyenpt opened #13570 "Sale Order - After deleting some products in Quotation, I get error message whenever creating new quotation, confirming sale or doing other actions"
Impacted versions: Odoo 9

Steps to reproduce:
0. The internet connection is poor.
1. Access Sales > Create new Quotation
2. Add some products
3. Try to remove two products continuously

Current behavior:
- Right after step 3, there is an error message (see attached file)
- Can't do other actions --> get this error
  [OdooServerError.txt](https://github.com/odoo/odoo/files/488858/OdooServerError.t

[2016-09-23 05:51] flotho commented on #13569
Hi @rco-odoo ,

I made some little analysis and here is what I observe once the invoice is being created and lines unlinked :
 - Until This part everything is fast : https://github.com/odoo/odoo/blob/9.0/addons/purchase/invoice.py#L74
- This part seems to be very slow
What I also observe is that field_name and field values passed are representing all the object and all the fields. Maybe this could

[2016-09-23 07:06] Yajo commented on #13537
This affects community edition too.
So, combined with #10954 this proves IMHO mail editor needs a massive refactoring if it wants to compete with the big ones like Mailgun, etc...

[2016-09-23 08:08] JKE-be commented on #13570
I cannot reproduce it.

I have tester with gprs connection and no error.

Can you reproduce it on runbot ?

[2016-09-23 09:49] tesserB commented on #13435
I've got it, ladies and gentlemen ―and it's glorious lmao I've still got some refactoring/documentation to do, but I'll have the PR in ASAP...

![m2m_related_field](https://cloud.githubusercontent.com/assets/14143175/18781838/7dbb70f0-8151-11e6-8caf-c8aee70e9bb0.png)

[2016-09-23 10:30] flotho commented on #13569
Hi @rco-odoo , any chance to be read on this?
Regards

[2016-09-23 13:12] yelizariev opened #13578 "[9.0] Bug on adding private channel to followers"
Impacted versions:

9.0+

Steps to reproduce:
- Login as admin
- Create private channel
- add the channel to follower of some record (e.g. ASUSTeK partner)
- Login as demo
- open the record (e.g. ASUSTeK partner)

Current behavior:

Demo user is not able to see\modify subscription (no access to Followers button, button Following\Unfollow is not visible)

Expected behavior:

Following buttons has t

[2016-09-23 14:09] omalbastin opened #13580 "xml error when installing stock module - v9"
Impacted versions:v9 - LATEST

Steps to reproduce: create a new database and install stock module

Current behavior: not able to install stock module

Expected behavior:should be able to install stock module

Video/Screenshot link (optional):

[2016-09-23 14:15] m3asmi commented on #4237
same issue here
did you solve it ?

[2016-09-23 14:18] #13580 closed

[2016-09-23 14:19] yelizariev commented on #13578
Probably, new ``ir.rule`` has to be added for ``mail.followers`` to hide followers with private channel for non participants

@tde-banana-odoo you work on this update https://github.com/odoo/odoo/commit/e6f038a8216c249a3ce7d9f490010d9f666f3375
, could you check this issue

[2016-09-23 14:26] omalbastin commented on #13580
Sorry everyone. A v8 module with auto_install=True was there in my custom addons folder which cause the issue.

[2016-09-23 20:42] joolsr commented on #13545
I use Nginx with a multi-process on ie workers is greater than 0 (i have this set to 2 or 3 AFAIR).

Getting exactly the right config with a proxy is a pain especially with things like this and/or getting the https:// working for everything like slides where odoo sometimes goes back to providing http data.

All I can suggest is try looking at the odoo docs as they are best and look at a few other

[2016-09-24 08:35] NL66278 opened #13582 "After rename of openerp directory to odoo, setup.py no longer functions"
Impacted versions: master (v10)

Steps to reproduce: Create an anybox buildout recipe for installation of master and do a buildout

Current behavior: Crash occurs with following message:
While:
  Installing odoo.

An internal error occurred due to a bug in either zc.buildout or in a
recipe being used:
[code]
Expected behavior: Odoo can be installed with buildout

Video/Screenshot link (optional):

[2016-09-24 08:37] NL66278 commented on #13582
Diagnose:
line 11 of setup.py refers to the openerp directory, that is now the odoo directory:
 11 execfile(join(dirname(__file__), 'openerp', 'release.py'))  # Load release variables

[2016-09-24 09:41] sitimawaddah opened #13583 "delivery slip status not correct"
Impacted versions:
v9
Steps to reproduce:
- create a delivery order with several state is partial available
- reserve, so you have operations list
- print deliver slip

Current behavior:
- status of each line is taken from state of move lines sequentially, so if for example there 3 lines operations and 7 initial demands (move lines) with 2nd line state is waiting available, the dliver slip will pr

[2016-09-24 09:50] lmignon commented on #13582
See https://github.com/odoo/odoo/pull/13413

[2016-09-24 18:43] gpothier opened #13585 "Better product search in POS"
I have implemented an improved search feature for the POS, based on the Lunr full-text indexer (http://lunrjs.com/). The advantages over the current search functionality are:
- Ignores diacritics (eg. é, è, ê, etc. are considered the same as plain e)
- Ignores word ordering (eg. searching for "powder coffee" yields the same results as "coffee powder")
- It can be easily refined even more (eg. usin

[2016-09-24 19:32] gpothier commented on #13585
Here is the diff, for reference.
[1661c8a59194fb8452ae2c5e963f1b3e1e3dc0e8.txt](https://github.com/odoo/odoo/files/491293/1661c8a59194fb8452ae2c5e963f1b3e1e3dc0e8.txt)

[2016-09-25 07:22] Kici3jsc opened #13586 "[Odoo 9]- Error send oder email, quotation email: KeyError: 'body'"
Impacted versions: odoo 9 nightly

Steps to reproduce:

Current behavior: send a quotation email

Expected behavior:

Video/Screenshot link (optional):

when i send a quotation email from sales>quotation, error:
"Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/openerp/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_

[2016-09-25 08:56] treviser commented on #13450
@Yenthe666 Could you have a look at this?

[2016-09-25 10:15] amrnegm opened #13588 "Journal Items are reconciled the most recent due date first."
Impacted versions:
Docker version odoo:9.0
Image ID: 2765898f2e47

Steps to reproduce:
- Create Invoice with any payment terms, and add some services
- Make a payment(s) that reconciles at least one journal item

Current behavior:
The most recent due-date journal item is reconciled

Expected behavior:
The earliest due-date journal item is reconciled

Video/Screenshot link (optional):
![screenshot

[2016-09-25 15:10] urquilla commented on #13140
+1
Same issue here with odoo from docker image v9.

Loaded with demo data and just the inventory installed.

Clicked the link on the implementation assistant for inventory at "Plantilla Excel"
![Uploading odoo.png…]()

[2016-09-25 20:20] daramousk opened #13589 "No validation on the email entered by external users when sign up occurs."
Impacted versions:
9.0c (possibly others)

Steps to reproduce:
Install website_sale, activate debug mode and go to settings -> General Settings and tick Allow external users to sign up. On a new incognito window sign up as an external user type any email you want, there is no regular expression evaluation happening on the email address typed.

Current behavior:
User can enter invalid emails

Expec

[2016-09-26 03:51] lasley commented on #13589
This is expected behavior. I recommend the OCA module [auth_signup_verify_email](https://www.odoo.com/apps/modules/9.0/auth_signup_verify_email/)

[2016-09-26 05:45] Yenthe666 commented on #13585
Hi @gpothier,

First of all, thanks a lot for the suggestion! I personally do not think this will be accepted, because it uses another library and Odoo already has a lot of dependencies.
However, improving search abilities is always nice, so I'll leave the decision to somebody else. @mart-e and @jorenvo. Can you guys give feedback please?

Regards,
Yenthe

[2016-09-26 05:46] Yenthe666 commented on #13582
@mart-e can you have a look at this one? @lmignon already provided a fix at https://github.com/odoo/odoo/pull/13413

[2016-09-26 06:20] lmignon commented on #13582
@sbidoul  already provided a fix at #13413

[2016-09-26 06:56] Yenthe666 commented on #13589
@mart-e what do you think about this one?

[2016-09-26 07:17] JKE-be commented on #13586
Hello,

Can you produce your issue on runbot ?
I have just try, and I cannot reproduce...

[2016-09-26 07:19] wpichler commented on #9977
Take a look at
https://github.com/odoo/odoo/pull/11234/files
This does work for me - so vote for it to get it in main v9.0 branch

[2016-09-26 07:27] jorenvo commented on #13585
Hi,

As @Yenthe666 already mentioned we prefer to not add extra dependencies if possible. I don't disagree with the functionality, but only if it can be added without introducing too much extra complexity in the code. In master we actually have a fuzzy search library that has recently been added called fuzzy [1]. Perhaps we could reuse that in the POS to achieve something similar?

[1] https://git

[2016-09-26 07:54] Yenthe666 commented on #13450
@mart-e this is something for you. :smile:

[2016-09-26 07:55] qdp-odoo commented on #12306
We're not able to reproduce that at our side, please open a ticket and provide us a database where this error occurs if you want us to fix it..

[2016-09-26 09:43] legalsylvain commented on #3156
Yes, I think you can use your own ssl cert, changing [nginx web configuration](https://github.com/akretion/pywebdriver/blob/master/debian/pywebdriver.nginx#L8).
A) once pywebdriver installed on your raspberry ;
B) forking pywebdriver project, and setting your own ssl cert in the pywebdriver package ; (if you deploy for many raspberries)

I don't know. It works, but indeed, this warning is not very

[2016-09-26 09:55] fclementic2c opened #13591 "[9.0] Purchases order currency is not propagated to supplier invoice"
What are the steps to reproduce your issue?
- set your company to use currency = EUR
- create a PO using a pricelist set in USD

What is the current behavior that you observe?
- the invoice created from that PO has a currency = EUR

What would be your expected behavior in this case?
- the invoice created from that PO should use a currency = USD

[2016-09-26 09:55] fclementic2c commented on #13591
Frederic Clementi just now
coding... For us it is feasible but for your saas customers...
ok we'll do a module then... as usual.

Nicolas Martinelli (nim) on 09/26/2016 11:46:20
The different behavior lies in the different point of view when creating an invoice. When you create an invoice from sale, the invoice is created and saved. In purchase, the invoice is only "pre-filled", and expects potent

[2016-09-26 10:25] anaghjose opened #13593 "what is 'stored' attribute for state field in purchase.py file of purchase module"
Impacted versions: odoo:9.0
Current behaviour: 'state' field of purchase order line is not getting stored in database.

 odoo/addons/purchase/purchase.py     **line538**
 state = fields.Selection(related='order_id.state', **stored**=True)

isn’t it supposed to be **store**=True instead of **stored**=True ????

[2016-09-26 10:29] flotho commented on #13569
Hi and ping @rco-odoo , @mart-e ,
Any chance to have a feedback on this? Do you need additionnal infos?

[2016-09-26 12:22] xmo-odoo commented on #13593
Yes it should be and was fixed in 3451ac525475dafbae96fe62861499e4d096832c but as noted in #12260 changing this in 9.0 would mean a (postgres) model change which is not considered acceptable.

[2016-09-26 12:22] #13593 closed

[2016-09-26 12:36] gpothier commented on #13585
Hi, I just had a look to the Fuzzy library's demo (
http://htmlpreview.github.io/?https://github.com/mattyork/fuzzy/blob/master/examples/disney.html),
and as far as I am concerned it doesn't fit the bill, as it is sensitive
both to diacritics and to word order, which are the two main limitations I
had to eliminate.
I perfectly understand that you don't want to add extra dependencies, but
just to p

[2016-09-26 12:43] cdavbb commented on #13423
@lukebranch ,

Thanks for sharing your solution, but moving `proxy_redirect off` did not help in my case. Could you please share your full nginx conf file ?

[2016-09-26 12:47] Yenthe666 commented on #12550
@mart-e also pinging you on this one. This should be landing in V10 before it is frozen.

[2016-09-26 12:59] nim-odoo commented on #13473
Hello,

The issue in your video comes from the fact that after changing the invoice date, you should click again on "update" to trigger a recomputation of the taxes at the corrected date. We cannot trigger this automatically, otherwise we would erase the potential manual modifications.

So it's not a bug in itself, and we cannot solve it without risking to break the workflow of existing users.

[2016-09-26 13:14] adrienpeiffer commented on #13473
Hi Nicolas,

The manual modification of the invoice date in the video is just to simulate that the invoice was validated at a different time compared at the time that the invoice is created.
So if today, I create an invoice with currency and if I'll validate this invoice tomorrow (Probably with a currency rate change) or if you change the currency rate on the same day between creation and validati

[2016-09-26 14:05] adekock11 opened #13596 "[9.0] Graph view popup remains"
**Impacted versions:**
9.0 Community and Enterprise

**Steps to reproduce:**
1) Open Sales -> My Pipeline
2) Go to the graph view
3) Click on the tree view and immediately hover over the graph view so that it shows the small popup window with the value inside
4) By the time the tree view loads, the small popup window with the value inside is still showing and it won't go away

**Current behavior:*

[2016-09-26 14:34] simahawk commented on #13264
looks like setting `readonly="1"` onto any buttons in forms does not have any effect on them, you can still click on them.

[2016-09-26 15:36] cyrilgdn commented on #1386
Same problem in V9... There is a limit 160 hard-coded here https://github.com/odoo/odoo/blob/9.0/addons/web/static/src/js/views/form_common.js#L213 .

And the behaviour is worse if you defined a default filter for the comodel.
In my case, when I click on Search More, the popup list is empty because the 160 ids passed to the popup don't match my default filter so I have to remove it and select it a

[2016-09-26 16:18] nim-odoo commented on #13473
Ok, I'll have a look at it again. Although, what you say is surprising since at the move creation, the tax lines are not recomputed, but fetched from the previous calculation (i.e when you clock on "update"):
https://github.com/odoo/odoo/blob/8.0/addons/account/account_invoice.py#L838
https://github.com/odoo/odoo/blob/8.0/addons/account/account_invoice.py#L1616

[2016-09-26 16:36] nim-odoo commented on #13473
OK, I got it: https://drive.google.com/file/d/0BwqtJFE-javCQmFqZ3NKQ2pqb1E/view?usp=sharing
It occurs when you validate the invoice, but the invoice date is not set. In this case, it will automatically be set to today. It implies that:
- the account invoice line linked to the product is recomputed with the invoice date (i.e, today)
- the account invoice line linked to the tax is not recomputed (se

[2016-09-26 19:07] daramousk commented on #13589
Thank you for your replies, one question though,

The field specifically requests an email address, shouldn't there be a validation out of the box for the input given there? Why do I have to install a different module and why is this expected behaviour (since the field indirectly maps to the `email` field of the `res.partner` model?

[2016-09-26 19:21] vdittgen commented on #9297
+1

[2016-09-26 20:39] bistaray commented on #11512
What is the list of Python packages you have installed?  Also, do you get the same error when importing an XLS file?

[2016-09-27 00:03] joanbarros commented on #1493
@gregpm sorry, got sidetracked and have not worked with Odoo in a while. For some reason I missed the notification for your comment, sorry about that as well.

I'll be working on it this week and probably could take a look at this issue. But no promises. :/

Let you know if I ever get around working on this.

[2016-09-27 04:07] Rona111 opened #13602 "The display of attributes not in a fixed order"
Impacted versions:　V9 Enterprise

Steps to reproduce:
import attributes by odoo import function
import attributes values by odoo import function
import variant products by script

Current behavior:
check from product->variant->attributes
the attributes display order like below, for example:
first line: brand origin color style material
second line: brand color style material orign
third line: bran

[2016-09-27 05:47] Yenthe666 commented on #13596
Hi @adekock11,

Thanks a lot for your report. I've just tested this and this is indeed the case.
While it is not a major bug or problem it should be fixed. @nim-odoo this might be something for you?

Regards,
Yenthe

[2016-09-27 05:50] Yenthe666 commented on #13586
Same from my side, I cannot reproduce it either.
Can you try again on a runbot please? (runbot.odoo.com)

[2016-09-27 05:50] Yenthe666 commented on #13588
@nim-odoo could you give feedback on this one? I'm not sure if this is expected behaviour.

[2016-09-27 06:15] fjbatresv commented on #7010
I am not really sure if there is someone checking that....

[2016-09-27 06:21] Yenthe666 commented on #10954
@odony and @mart-e give this bug some love please. This should land in master before V10 is locked.

[2016-09-27 06:27] Yenthe666 commented on #13442
@sle-odoo and @odony the nightly is still down.

[2016-09-27 07:07] Nowheresly commented on #1664
This bug is still here in version 8.0 and 9.0.

[2016-09-27 07:07] Leif0 opened #13603 "Analytic account not imported with journal entries"
Impacted versions: 8

Steps to reproduce:
- Import a journal entry which contains items with analytic account.

Current behavior: Does not import the analytic account for the journal items

Expected behavior: Import the analytic account for the journal items

Here is the .CSV I'm trying to import into the journal entries which contains all the analytics informations :
http://pastebin.com/3tu6p7dW

[2016-09-27 07:11] Yajo commented on #10954
FTR, There are already projects that have [almost] full mail client compliance, such as [mailgun/transactional-email-templates](https://github.com/mailgun/transactional-email-templates), nice for the pros, but impossible to integrate as long as Odoo emails have no proper `<html>`, `<head>` and `<body>` tags. Nothing can be 100% fixed until then.

[2016-09-27 07:13] mart-e commented on #13589
Hello,

Checking email address via regex [kind of sucks](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html) and [should be avoided](https://davidcel.is/posts/stop-validating-email-addresses-with-regex/).
IMHO, the only acceptable verification is to send a confirmation email. I believe it's what the auth_signup_verify_email does (I did not fully check the code). It is good but it requires a pr

[2016-09-27 07:13] #13589 closed

[2016-09-27 07:18] sle-odoo commented on #13442
[we are working on it](https://github.com/odoo-dev/odoo/commits/saas-13-packaging-sle)

[2016-09-27 07:21] lukebranch commented on #10954
Apologies in advance if this is off topic for this thread. I have noticed there also seems to be no way to add the preview/pre-header text into the mass mailing templates easily as an end user. What I mean by preview text can be found here:

https://www.campaignmonitor.com/blog/email-marketing/2011/12/a-practical-guide-to-email-preheaders/

It is simply the first div after the opening <body> tag i

[2016-09-27 07:37] Kici3jsc commented on #13586
i can't run this on runbot.
This error have when edit a template email!

2016-09-27 12:50 GMT+07:00 Yenthe <notifications@github.com>:

--
*        Trần Quốc Toàn*

                    Giám đốc

*         CÔNG TY CỔ PHẦN KICI3*
Trụ Sở      :  758/2 Hương Lộ 2, P. Bình Trị Đông A, Q. Bình Tân, Tp.HCM
VPGD       :  819/11/28 Quang Trung, P. 12, Q.Gò Vấp, Tp.HCM
ĐT            :  +84 8 7106 7

[2016-09-27 07:52] lukebranch commented on #13423
@cdavbb ,

Sure, I will update this thread with my full nginx config later today.

Are you only seeing your reverse proxy IP (ie. 127.0.0.1)?

[2016-09-27 08:03] lukebranch commented on #13589
Out of interest for anyone else reading this thread I came across this the other day:

https://github.com/mailgun/validator-demo

http://mailgun.github.io/validator-demo/

It works rather well for email validation.

[2016-09-27 08:05] lukebranch commented on #13589
@daramousk ,

Out of interest you may want to check out this:

http://mailgun.github.io/validator-demo/
https://github.com/mailgun/validator-demo

It sounds like it might be useful in your case.

[2016-09-27 08:09] daramousk commented on #13589
@mart-e Thank you for the clarification Martin.

@lukebranch Thank you for the resources Luke.

Have a nice day.

[2016-09-27 08:35] tony-elico opened #13605 "tax calculation bug in MTO mode (Maxmore)"
Impacted versions: V9 Enterprise

Steps to reproduce:
make to order and buy
Current behavior:
A.  We set purchase tax 15% included in price for this product.
when the sales order (quantity is 1)is confirmed , a draft PO is generated, and the system automatically calculated the unit price to $100 without tax.
But in the PO, the tax shows '0'，which it should be $15.
Then when I confirmed the PO, and

[2016-09-27 08:47] #13446 closed

[2016-09-27 08:57] KrilleGH opened #13607 "Stock moves created by a push rule are not cancelled when cancelling their procurement"
Impacted versions: 8.0, probably 9.0 as well

Steps to reproduce: Setup a route with a pull and a push rule. When the rule is applied by a procurement it creates two stock moves. Then cancel the procurement.

Current behavior: While cancelling the procurement the stock move created by the pull rule is cancelled automatically. The move created by the push rule isn't cancelled since its procurement_

[2016-09-27 12:28] dreispt commented on #11512
Are you using a reverse proxy on top of the Odoo server (Nginx, Apache)?
My guess is that is is a response timeout from the reverse proxy.
You can tweak it's configurations to increase the timeout limit.

[2016-09-27 13:31] iksweliwita commented on #13484
I am sorry but I am new to Odoo and I am not aware on how to get the runbot running. However, I agree to what you said. It seems that the issue is occurring with some configure issue.

[2016-09-27 14:09] JKE-be commented on #13484
Maybe a un-standard module that you have installed that try to launch one ?

Are you sure that it happend everytime that you click on the accounting menu ?
Or it is another thing that oculd trigger it...

[2016-09-27 16:01] cdavbb commented on #13423
@lukebranch , thanks. Yes I see the local IP of my reverse proxy (in my case 192.168.1.4)

[2016-09-27 17:09] lasley commented on #10954
Oops I missed this. We do experience this issue on our end as well & had to do some ghetto monkey patching to inject the proper tags. We are using [Foundation templates](http://foundation.zurb.com/emails/email-templates.html) if it matters. Our use case is exactly what @Yajo pointed out in the first comment - client specific styling.

AFAIK the second example for color styling goes against best pr

[2016-09-28 00:25] bistaray commented on #9363
@qdp - is this OK to merge?  This is an issue for my Customer who pointed out to me that the entries were reversed. @pedrobaeza FYI

[2016-09-28 00:37] pedrobaeza commented on #9363
Thanks for the ping, Ray. I'll check it out ASAP.

[2016-09-28 02:45] #13605 closed

[2016-09-28 02:46] tony-elico commented on #13605
Sorry, this is not ODOO standard issue, caused by special development

[2016-09-28 05:11] scosist opened #13616 "New time sheet item not saved in hr_timesheet_sheet.sheet view"
Impacted versions:
9.0

Steps to reproduce:
1. Edit an `hr_timesheet_sheet.sheet` view that has at least one or more tasks
2. Click `Add an item`
3. Choose an `Analytic Account`
4. Press Tab until you hit the `Hours` field or just click on the `Hours` field to select it
5. Press Shift+Tab to return to the `Description` field (although it seems this may not be the intended shortcut in Odoo for this

[2016-09-28 05:32] scosist commented on #11295
@krueger80 I haven't had a chance to test this in v9.0 recently so I can't say whether I would still experience the same behavior there but this is not working for me in master. Perhaps this fix has not yet been applied to master?

I had to resort to the workaround described by @pedrobaeza [here](https://www.odoo.com/fr_FR/groups/community-59/community-13935621) to resolve the behavior you describ

[2016-09-28 06:51] purnendu03 opened #13617 "Decimal Places Not proper on Purchase and Sales"
**Impacted versions:**
V9 and Enterprise

**Steps to reproduce:**
Update Currency Rounding factor to 0.00100 it will update the Declimal Places to 3.

![eur _odoo](https://cloud.githubusercontent.com/assets/7599739/18902863/5601769c-8573-11e6-9855-8eee21f50f65.png)

It will update decimal places of all the **fields.Monetary** fields where this currency is used.
eg. Total Fields on Invoice, sales a

[2016-09-28 07:36] kingxjs opened #13618 "One2many onchange"
Onchange事件里，获取其他行修改后的数据

[2016-09-28 08:02] mhtran commented on #11450
I am getting the same using latest Ubuntu version 16.04.01

I got a internal error 500 which I think was related to an expectation with the display

I installed xvfb, created a shell script that would call it and wkhtmltopdf but I then get a 0 byte file.

Just wondering if this is a known issue and if odoo or someone in the community has built .dev or .rpm ( For those running Fedora/CentOS) packag

[2016-09-28 08:14] mart-e commented on #13537
Hello,

No this is the mako code, it's the conditional logic to have dynamic template.
In your send message you see the actual email that will be sent, when you open the template it is not linked to a record so you can not render it yet.
We display it in html but it won't look very good as you may have broken content but it's just preview of the "raw" template.

[2016-09-28 08:17] Yajo commented on #13537
But I still don't understand why does the red line disappear...

[2016-09-28 08:36] mart-e commented on #13537
oh ok you are talking about the red line (please be more explicit in your issues, don't use words like "broken"). Indeed I confirm the issue.
The generated block is something like
[code]
with new `<p></p>` tags

[2016-09-28 08:51] mart-e commented on #10954
Hello,

Aren't the `<style>` stripped in clients like gmail? When I check in my emails, all the style is inline, not in the head (which is often not present in my email samples).
In v10, you can use inline style on the `body_html` field.

On an html field, you know have several level of sanitization
[code]

The `body` field on an email is. in v10, at `sanitize_style=True, strip_classes=True` so yo

[2016-09-28 09:06] Yajo commented on #10954
Mostly, html, body, head, & style tags tend to be removed in web clients, but not in desktop/mobile ones.

To have responsive emails, mostly for smartphones, you need media queries, which are supported only on a few email clients.

Honestly, making sensible emails that look good everywhere is a pain. I recommend you to read [Mailgun's post](http://blog.mailgun.com/transactional-html-email-template

[2016-09-28 09:12] avanzella commented on #4739
To fix this issue, website_quotation.xml in website_quote/views line 250 should be modified from `object.company_id` to `object.partner_id`

[2016-09-28 09:32] mart-e commented on #10954
No, that's not that. The html & body will always be removed, it's part of the global sanitisation of html content and the only way to prevent that is to override the field to put `sanitize=False` on it.
With `sanitize_style`, we will keep only the following attributes
[code]

If you want to have move style, you need to change the attribute to `sanitize_style=False`

[2016-09-28 10:37] Yajo commented on #10954
So still no way of adding those 4 tags to the whitelist and let Odoo do the rest of the magic?

A way to change the whitelist or blacklist of elements/attributes would be great. Or simply a boolean for this special case, something like `sanitize_structure=False` to save them.

[2016-09-28 10:39] purnendu03 commented on #13617
@nim-odoo @Yenthe666 another rounding issue for you guys.

[2016-09-28 13:13] nim-odoo commented on #13617
If we solve this, we probably also want to clean-up the demo data, otherwise that doesn't look good...
![screenshot-area-2016-09-28-151106](https://cloud.githubusercontent.com/assets/11041725/18914617/26add744-858e-11e6-853a-cac4b71af891.png)

[2016-09-28 14:57] amjedns2 commented on #6741
I face the same problem the solution is simple the module of sales is not installed it appear in menu from database but actually it's not install just install sale module and the problem will be solved

[2016-09-29 06:37] VojtechPCI opened #13629 "Different journal entries Credit and Debit for Foreign Currency operation"
**Impacted versions:**
Version 9.0c (Community Edition)
**Steps to reproduce:**
Default currency is IDR. Exchange rate for EUR is 0.000068 for today and 0.000069 for day + 1.
1 - Create PO for 10 EUR. A "product category" settings of purchased product is:
Price Difference Account: 7 Gain (Loss) On Foreign Exchange
Stock input account: 2 Clearing Account
Stock Valuation Account: 1 Raw Material
2 -

[2016-09-29 07:59] adrienpeiffer commented on #1664
Video link :
https://youtu.be/LqUqRsVlY98

[2016-09-29 09:03] mart-e commented on #10954
If you want to customise this, you can always alter the content of [sanitisation constants](https://github.com/odoo/odoo/blob/2bb37b5d1e41d9dd21ec59b8913b7ec366f0bc29/odoo/tools/mail.py#L27-L32) to add or remove tags & attributes but we do not wish to modify this in standard.

I have reported the issue that we can't add media queries but it's not a priority at the moment

[2016-09-29 09:17] Yajo commented on #10954
Hmm yes, I already saw that. The problem is that currently you cannot safely modify that.

I mean that those are constants in a `openerp.tools` submodule. If you modify the constant, it affects all databases installed in a given instance. I would be glad to develop an addon that modifies the sanitisation behavior, if it is the only way, but polishing every database when a single one installs it is

[2016-09-29 09:28] joyinfo opened #13633 "Duplicate database error"
Impacted versions:
saas-13

Steps to reproduce:
Duplicate database in link of "web/database/manager"

Current behavior:
in the browser:
Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application

in the log:

2016-09-29 09:26:39,604 11273 ERROR crm werkzeug: Error on request:
Trace

[2016-09-29 09:53] joyinfo commented on #13362
I got the reason, because of an invalid third module,

[2016-09-29 09:53] #13362 closed

[2016-09-29 10:09] aulsai commented on #9201
Guys,

My solution is to delete the references from DB to filestore.

The steps
1.Query your db as this query.
`select id, create_date, store_fname, datas_fname from ir_attachment where datas_fname like '%.js%';`
2.Delete records that you found.
3.Done.

Thanks.

[2016-09-29 10:14] qdp-odoo commented on #13543
Hello

this behavior is the intended one. Indeed, those 2 extra lines don't have any impact on the accounting since they have a similar value for credit, debit and account BUT they are needed in order to be able to report the base amount of the operation **at the payment date** in the VAT report.

That's is an inconsistency that has been solved lately.

I'm closing the bug report,
Thanks for the c

[2016-09-29 10:14] #13543 closed

[2016-09-29 16:08] florian-dacosta opened #13634 "[9.0] procurement_jit : mto move is assigned to any quant on sale order validation"
Impacted versions:
9.0
Steps to reproduce:
Create a sale order with a product configured with make to order and buy routes.Make sure there is stock available for this product. Validate the sale order

Current behavior:
After validation, the delivery order will be assigned but the purchase order created with the mto product will still be at draft state.
Expected behavior:
The Delivery order should

[2016-09-29 17:42] matt454357 opened #13637 "[master] mrp: Manufacturing Order Expected Dates are always readonly"
Impacted versions: master / 10.0

Steps to reproduce: Create Manufacturing Order

Current behavior: Expected Dates are readonly

Expected behavior: Expected Dates should be writable

Video/Screenshot link (optional):

![issue_screenshot](https://cloud.githubusercontent.com/assets/7604932/18964255/5523c3b6-8635-11e6-89d7-4e8c7544dbc7.png)

There is no state at which the user can edit the Expected D

[2016-09-29 17:53] matt454357 opened #13638 "[master] mrp: MO raw material stock moves get wrong Expected Date"
Impacted versions: **master / 10.0**

Steps to reproduce: **create MO for future date**

Current behavior: **raw material stock move expected date = today**

Expected behavior: **expected date should equal MO date_planned_start**

The `date` field on stock.move gets the correct date (same as the MO date_planned_start).  But, the `date_expected` is wrong (today)

In order to reproduce, you need to

[2016-09-29 20:35] bmart commented on #11512
I'm hitting the same issue. Tried setting longer timeouts after seeing the nginx timeout errors and then I decided to try running the import direct to port 8069 to circumvent nginx. Still seeing the issue.   In any case, I read somewhere that you can only increase those timeouts to a max of 75 seconds  ( http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_connect_timeout)

[2016-09-29 21:28] bmart commented on #11512
Got my import working. Did 2 more things beyond the nginx configuration steps noted above.

1. Iincrease the odoo worker timeout by specifying in the server config:
`limit_time_real = 300 `

2. Broke up the file into smaller chunks. I wanted to avoid this, but at 2000 records it was barfing no matter what.

[2016-09-30 03:28] dharmasaputro opened #13639 "[9.0] Currency column is not shown in Partner Ledger report"
**Impacted versions:**
9.0 Community

**Steps to reproduce:**
Activate multi currency.
Create several Journals with different currencies.
Create some Customer Invoices or Vendor Bills with different currencies.
Print a Partner Ledger report with option 'With Currency' checked in the wizard

**Current behavior:**
With the 'With Currency' boolean checked, in the generated Partner Ledger report, the

[2016-09-30 09:28] #11512 closed

[2016-09-30 09:30] dreispt commented on #11512
@bmart You might be interested in using the `base_import_async` module:
https://github.com/OCA/connector-interfaces/tree/9.0/base_import_async

[2016-09-30 09:47] davidberardozzi commented on #13423
@lukebranch ? Could you share your conf file ? thanks

[2016-09-30 10:14] ccandito opened #13642 "received and billed qty in PO form are not updated properly"
Impacted versions:
9.0
Steps to reproduce:
return delivery to vendor and refund from vendor invoice
Current behavior:
return delivery qty is not taken into account
quantity in credit note is taken into account with positive sign
Expected behavior:
return delivery qty should be taken into account with negative sign
quantity in credit note has to be taken into account with negative sign
Video/Screen

[2016-09-30 10:19] ccandito opened #13643 "suggested improvement in claim management"
Impacted versions:
9.0
Steps to reproduce:
vendor claim with PO as reference document
Current behavior:
no possibility to access to claim data from PO form
Expected behavior:
icon to access claim data related to the concerned PO (as already implemented for goods receipts and vendor invoices)
Video/Screenshot link (optional):

[2016-09-30 10:50] jariwala-divyang opened #13644 "[9.0 Enterprise] Qweb report format is not proper for Landscape Orientation."
Impacted versions: 9.0 Enterprise

Steps to reproduce: Qweb report format is not proper when Orientation is Landscape

Current behavior: While printing report with orientation landscape. report is print on the area that is covered by Portrait format remaining space is empty. content is not scale upto landscape size.

Expected behavior: Expectation is report should print in efficient space provided

[2016-09-30 12:57] LordRatte opened #13646 "Internal Server Error on calendar"
**Impacted versions:**
Version 9.0 Enterprise Edition

**Steps to reproduce:**
1. Install Google Calendar module
2. Create an event
3. Invite a non-user email address
4. Click on the accept button

**Current behavior:**
Internal server error on a new window.
[code]
**Expected behavior:**
![Expected behaviour](http://i.imgur.com/zglxYHV.jpg)

[2016-09-30 13:48] lordt opened #13649 "Two identical products on WAREHOUSE OUT documents are not processed"
Impacted versions: **Version 9.0c (Community Edition)**

Steps to reproduce:
- Create quotation with 2 identical positions (product type: _consu_).
- Save quotation
- Confirm sale
- Create invoice
- Validate invoice
- Go to _Inventory > Warehouse Outs_
- Find WO related to created invoice
- Validate
- (In popup with message: _You haven't set processed quantities. If you click apply Odoo will proce

[2016-09-30 15:25] atularvind commented on #9201
@aulsai kudos, that will also work! I tried with one of the affected database.

[2016-09-30 15:39] sathwiksunderreddy commented on #5831
Traceback (most recent call last):
  File "/home/odoo/src/odoo/saas-11/openerp/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/src/odoo/saas-11/openerp/http.py", line 687, in dispatch
    result = self._call_function(**self.params)
  File "/home/odoo/src/odoo/saas-11/openerp/http.py", line 321, in _call_function
    retur

[2016-09-30 15:46] sathwiksunderreddy commented on #5831
Traceback (most recent call last):
  File "/home/odoo/src/odoo/saas-11/openerp/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/src/odoo/saas-11/openerp/http.py", line 687, in dispatch
    result = self._call_function(**self.params)
  File "/home/odoo/src/odoo/saas-11/openerp/http.py", line 321, in _call_function
    retur

[2016-09-30 15:49] kuznetsovin commented on #13125
This is problem with psycopg2 package: his not load libpq.5.dylib. The solution this problem is described [here](http://stackoverflow.com/questions/28515972/problems-using-psycopg2-on-mac-os-yosemite)

[2016-09-30 15:56] sbidoul commented on #13151
@sle-odoo @KangOl @dbi-odoo this one is very annoying.

Since Odoo 10.0 rc1 is packaged as version 10.0rc1c, which is not PEP 440 compliant, it is parsed as a LegacyVersion which compares smaller to any other normal version.

<pre>
In [2]: pkg_resources.parse_version('10.0rc1c')
Out[2]: <LegacyVersion('10.0rc1c')>
</pre>

In comparison, 9.0 nightlies said

<pre>
In [2]: pkg_resources.parse_version

[2016-09-30 16:00] hparfr opened #13651 "[9.0]get list of db"
Impacted versions: 9.0

Steps to reproduce:
issue a request to route /web/database/get_list

Current behavior:
missing method

Expected behavior:
a list of db

The code was here https://github.com/odoo/odoo/blob/a0c64bebe673050fe5b9e32afb740a30ff1ec749/addons/web/controllers/main.py#L704

I didn't find the commit where it has been removed.
Having the list of db is needed for doing auth from extern

[2016-09-30 16:13] sle-odoo commented on #13151
well soon we'll have
[code]
what will be drawbacks of this one?
we already had this form in v9 and the upgrades with the rpm and apt repositories were working, which is the most important for us.

[2016-09-30 16:20] KangOl commented on #13151
I propose this patch
[code]

ping @odony

[2016-09-30 16:23] sbidoul commented on #13151
@sle-odoo 10.0c works indeed. It's just not nice to see an eternal release candidate:

```Version('10.0c') = Version('10.0rc0') < Version('10.0')```

[2016-09-30 16:44] bistakedar opened #13652 "In case of 2 step receiving, the stock level forecast doesn't show the expected date of arrival"
Impacted versions:
9.0
Steps to reproduce:
-> Set Warehouse For 2 Steps Receiving
-> Create a Purchase order with a product and set schedule date of 2 weeks later
-> Now confirm the order, So you will have 2 Pickings(1st is Vendor->Input and 2nd is Input->Stock)
-> Now Process the 1st picking, and click on Forecast tab of product which is in Picking, You will find correct date in Forecast Table
->

[2016-09-30 17:24] JKE-be commented on #334
Thanks to @mvaled
Fix has been merged https://github.com/odoo/odoo/commit/5b692df1b10ff7ced0185b392519b619b91021c1.

[2016-09-30 17:24] #334 closed

[2016-09-30 17:43] JKE-be commented on #13651
Hello,

Please uses forum for this kind of question.
This tracker is for issues only.

One workaround:
`ajax.jsonRpc('/jsonrpc', 'call',  { method : 'list' , service : 'db', args : []})`

Here the commit that you are looking for: https://github.com/odoo/odoo/commit/3cba55d7a7e1f01150f87f806546e10526b10219

Best regards

JKE

[2016-09-30 17:43] #13651 closed

[2016-09-30 20:07] afwanwh opened #13654 "[10] Mobile view of apps form not nice"
Impacted versions: 10

Steps to reproduce: Open Apps >> Select a module

Current behavior: not nice. See attachment
![screenshot_20161001-030239](https://cloud.githubusercontent.com/assets/8463442/19005320/1757f6c4-8784-11e6-9c75-1205f7108f5c.jpg)

Expected behavior: should follow mobile view

Video/Screenshot link (optional):

[2016-09-30 20:10] afwanwh commented on #13446
Thanks, it works now.

[2016-09-30 20:30] cbjesse opened #13655 "The attribute values are hidden behind search on Products > Product Variants tab on Mac in Safari, and Chrome"
Impacted versions: 9.0

Steps to reproduce: Go to Sales > Products > iPad Mini. Select Variants tab attempt to add attribute, and then an attribute value. Next add another attribute value you will see the current values are hidden behind the search box as shown in the included screenshot.

Current behavior: Attribute values are hidden behind attribute value search.

Expected behavior: Attribute se

[2016-10-01 06:47] lmignon commented on #13151
@KangOl @odony @sbidoul Maybe I miss something but IMO the simplest solution and easiest to implement would be to use a local version identifier (https://www.python.org/dev/peps/pep-0440/#local-version-identifiers) only for the enterprise version.
community -> 10.0
entreprise -> 10.0+e
The use of a local version for enterprise only seems the best way to dissociate community and enterprise versions

[2016-10-01 10:07] daramousk opened #13657 "Do not show irrelevant states when creating a new res.partner"
**Impacted versions:**
9.0c Possibly others
**Steps to reproduce:**
Create a new customer.
**Current behavior:**
The state_id field does not filter the states based on the country selected (when a country is selected)
**Expected behavior:**
When selecting a country different than United States, the state_id field should not show the US states and should rather filter on the country selected (since

[2016-10-01 11:39] w-vi opened #13658 "[9.0] Cannot export products because of cross origin error"
Impacted versions:
9.0

Steps to reproduce:
Install odoo from rpm package n CentOS 7 with nginx as a proxy with `add_header X-Frame-Options "SAMEORIGIN";` set. Populate product database and then try to export products in CSV. I am using Chrome on Linux. With Firefox the result is very similar.

Current behavior:
Results in pop up reading:
`Uncaught SecurityError: Failed to read the 'contentDocumen

[2016-10-01 17:54] bistaray commented on #13642
Please review https://github.com/odoo/odoo/issues/13299 - this is how Odoo is designed to work.

[2016-10-01 22:29] charyorde commented on #12114
I ran some simple tests and here is my findings:
[code]
`config["test_file"]` is dependent on `config["test_file"]`. On server run, when `config["test_enable"] = False`, an Odoo module test directory is not loaded.

If we can make `config[test_file]` to be non-dependent on `config["test_enable"]`, then load the test directory of the module when `config["test_file"] = True`, that'll fix it.

[2016-10-01 23:11] charyorde commented on #12114
Nevermind. This is unrelated.

Running in non-worker mode runs a single test file.

[2016-10-02 04:46] bmart commented on #11512
Thanks @dreispt  . I've got my own mule/rabbit system working right now but I'm curious to learn more about this Odoo Connector framework. Async would be a great help for these tasks.

[2016-10-02 06:31] ccandito commented on #13642
so it has been designed wrongly.
following the example suggested by you, you could pay a vendor invoice for 25 pieces besides you have accepted 20 pieces only.
the right behaviour should be:
1) goods receipt for 25 pc
2) goods return to vendor 5 pcs (or the warehouse counting is for 20 pcs)
3) 20 pcs in PO form
4) the vendor sent out an invoice for 25 pcs
5) the system should suggest 20 pcs (the r

[2016-10-02 13:52] #13442 closed

[2016-10-02 16:02] bistaray commented on #13642
It may have been designed in a different way that you would like, but I don't agree it is 'wrong'.

In your example, 25 units are shipped, and you will receive and Invoice for 25 items.  This is what Odoo will suggest, based on receiving 25 units.  If you chose to return 5, that is a separate transaction and it handled via a separate Delivery and a separate Invoice (like it is in the real world).

[2016-10-03 06:07] prasanthsd opened #13661 "[9.0] Is PostgreSQL 9.6 supported?"
I guess unless you try it yourself there are no ways to know at this point since it too early. But looking at the list of changes in the below link, can anyone predict if it would break any features in Odoo?

https://www.postgresql.org/docs/9.6/static/release-9-6.html

[2016-10-03 07:34] Yenthe666 commented on #13661
Hi @prasanthsd,

Thank you for your question, usually these questions belong on the Odoo forum though. The Github issues are only used for bugs in stable Odoo versions and to report problems, not to ask questions.
I'd advice you to ask this question on the official forums (help.odoo.com).
Now, to answer your question, postgreSQL 9.6 shouldn't give any problems with Odoo. The most changes are made

[2016-10-03 07:34] #13661 closed

[2016-10-03 07:46] Yenthe666 commented on #13654
@mart-e can you assign somebody on this one? Not sure who this is for. 😄

[2016-10-03 08:08] Yenthe666 commented on #13380
@JKE-be can you have a look at this?

[2016-10-03 08:35] Yenthe666 commented on #13658
@xmo-odoo and @odony could you guys have a look at this one?

[2016-10-03 08:38] Yenthe666 commented on #13655
Hi @cbjesse,

Thank you for your report, I've just tested this and can confirm this as a bug.
@JKE-be this might be something for you?

Regards,
Yenthe

[2016-10-03 09:48] Yenthe666 commented on #13435
Hi @tesserB,

I really like the effort that you're putting in this and your effort to try and improve Odoo. 👍  for that!
@odony and @xmo-odoo what do you guys think about this concept? Is it okay if I label this with wishlist?

[2016-10-03 09:51] tenxor105 opened #13663 "Typo/ Spelling Errors in Variable Names"
Impacted versions: 10.0

Hi,

Will typo/ errors in variables or xml ids be eventually corrected?

Ex 1.

name="%(mrp_production_action_picking_deshboard)d"

deshboard should definitely be dashboard. It feels uncomfortable to extend the code and use the same misspelled name,

Ex. 2:

group name="statistisc"

That's from odoo 10 enterprise.

Thanks!

[2016-10-03 09:59] Yenthe666 commented on #13663
Hi @tenxor105,

Thanks a lot for your report!
Please feel free to create a PR to fix these issues against 10.0, then we can merge it quite fast.
Otherwise you will need to wait until somebody from Odoo has time to fix these issues I'm afraid..
@mart-e

Regards,
Yenthe

[2016-10-03 10:15] Yenthe666 commented on #13441
Hi @elperrofarelo,

Thanks a lot for your report! I've just tested this and the costs related to the fuel or service are not deleted.
This is also the case in Odoo V9 however.

Example before deleting anything:
![image](https://cloud.githubusercontent.com/assets/6352350/19034223/a6302b5c-8962-11e6-9728-6784c946ed86.png)

After deleting the fuel costs:
![image](https://cloud.githubusercontent.com/a

[2016-10-03 10:22] Yenthe666 commented on #8174
Hi @flotho,

Thanks a lot for your report and sorry for the late response!
I've just tested this on the latest Odoo 8.0 and was still able to reproduce this:
![image](https://cloud.githubusercontent.com/assets/6352350/19034462/dbd590ca-8963-11e6-89d1-a93cecb3521a.png)
@qdp-odoo and @csnauwaert can you guys have a look at this please?

Regards,
Yenthe

[2016-10-03 10:26] Yenthe666 commented on #8125
Hi @BuddhimaN,

Thanks a lot for your report! In the mean time the bug has been fixed and is no longer present in the latest version of Odoo 8:
![image](https://cloud.githubusercontent.com/assets/6352350/19034585/9302db72-8964-11e6-99d7-ce62867d4a9d.png)
I'm closing this issue since it has already been fixed.

Regards,
Yenthe

[2016-10-03 10:26] #8125 closed

[2016-10-03 10:28] Yenthe666 commented on #3224
Hi @flotho,

Thanks a lot for your report!
The issue has been fixed in the meanwhile and I can no longer reproduce this.
I'm closing this issue since it has been solved (the duplicate is fixed too).

Regards,
Yenthe

[2016-10-03 10:28] #3224 closed

[2016-10-03 12:00] Yenthe666 commented on #7838
Hi @PCatinean,

Thanks a lot for your report. I've just tested this but I can no longer reproduce this issue.
I'm closing this issue since it has probably been fixed in the meanwhile.
If this issue still persists don't hesitate to answer here.

Regards,
Yenthe

[2016-10-03 12:00] #7838 closed

[2016-10-03 12:13] Yenthe666 commented on #10839
Hi @stephaniemillet,

Thank you for your report, I've just tested your scenario and this is indeed the case.
The refund screen:
![image](https://cloud.githubusercontent.com/assets/6352350/19036893/46c23f6e-8973-11e6-846f-34721a39b4fe.png)

The booked refund:
![image](https://cloud.githubusercontent.com/assets/6352350/19036910/5aaecab0-8973-11e6-8186-5b2763870989.png)

As you can see the date is bo

[2016-10-03 12:30] Yenthe666 commented on #13437
Hi @lcmsrl,

Thank you for your report! I've just tested this and I can confirm that this is a bug.
Opening the line on a BOM:
![image](https://cloud.githubusercontent.com/assets/6352350/19037273/aaae4a20-8975-11e6-835c-9d5e7447dc3d.png)

After clicking on the product link in this dialog:
![image](https://cloud.githubusercontent.com/assets/6352350/19037295/c83cd34a-8975-11e6-9afe-bb38059e522c.png)

[2016-10-03 12:56] Yenthe666 commented on #13618
Hi @kingxjs,

Can you please add more information and in English?
Without more information we cannot give a good response on your issue or fix it..

Regards,
Yenthe

[2016-10-03 13:00] Yenthe666 commented on #13637
Hi @matt454357,

Thanks a lot for your report. I personally agree that this should be editable but I'm not sure if this is wanted behaviour.
@jco-odoo could you give feedback on this please?

Regards,
Yenthe

[2016-10-03 13:04] Yenthe666 commented on #13550
@mart-e can you have a look at this?
A quick Github search returns 3 results but none are the creation for the field on the Python side..
https://github.com/odoo/odoo/search?utf8=%E2%9C%93&q=bank_statement_id

Regards,
Yenthe

[2016-10-03 15:30] ydaniels opened #13666 "Wrong credit or debit value in accounting entry !"
Impacted versions: odoo 9 enterprise and community edition

Steps to reproduce: Creating new journal items would always bring out Wrong credit or debit value in accounting entry ! as long as the debit and credit amount is greater than 0.
I think line 384 in account.move contradict itself
`_sql_constraints = [
        ('credit_debit1', 'CHECK (credit*debit=0)', 'Wrong credit or debit value in accou

[2016-10-03 17:00] mart-e commented on #13441
Actually it's the inverse relation, if you delete a cost, you will delete the fuel log. Not sure if we should delete this way too (or restrict the delete)
@csnauwaert what do you think?

allow me to doubt that, it is not released yet and definitely was not 24 days ago :wink:

[2016-10-03 17:57] elperrofarelo commented on #13441
Hi,
According to my opinion it should go in both ways to avoid rest of logs without relation to the costs. If you delete the cost, the fuel log must be deleted and the opposite as well if you delete the fuel log, the cost should be erased to have a clean cost calculation
Regards

[2016-10-03 20:30] tiangolo commented on #10377
I was having the same problem running it with Docker (Docker Compose).

I don't see how it is related, but the problem seemed to be the name of the user in the PostreSQL database.

---

## Steps to reproduce

In the project's directory, Create a file `docker-compose.yml` containing:

[code]

Notice that there is no `POSTGRES_USER` variable. The PostgreSQL container would use a default name for the

[2016-10-03 21:11] shingonoide commented on #2042
@dreispt I don't think so, there's a unresolved problem here.
Why Odoo version 9 have the message icon but the version 8 has not?
It's needs fix in main repository, can anyone at Odoo see and handle it? just guessing...

[2016-10-03 21:31] PCatinean commented on #7838
@Yenthe666 it seem to be fixed indeed. Thank you!

[2016-10-04 03:43] duongduong opened #13667 "Cannot start session point of sale - v9"
Hi,
I create a new database and install module point of sale. I cannot start session POS, system appeared "Unable to open the session. You have to assign a sale journal to your point of sale.", i find but cannot create sale journal? Help me, pls.

[2016-10-04 07:08] Yenthe666 commented on #7838
You're welcome, best of luck with Odoo and thank you for your feedback.

[2016-10-04 07:26] Yenthe666 commented on #13667
Hi @duongduong,

Thank you for your report but Github is only used for bugs in Odoo itself, not to answer questions.
It is best that you create such questions on odoo.com/help, there are plenty of people there who can help you.
As for your question: you can create a sale journal on a POS under Point of Sale > Dashboard > More > Settings:
![image](https://cloud.githubusercontent.com/assets/6352350/

[2016-10-04 07:26] #13667 closed

[2016-10-04 07:36] duongduong commented on #13667
Thanks for advance.
I mean how to create selections of field Sale Journal. If you create new database by /web/database/manager, the system not show "Customer Invoice (USD).
But i solved my problem. Tks.

[2016-10-04 08:17] Yenthe666 commented on #13657
Hi @daramousk,

Thank you for the suggestion! I've labelled it wishlist, this will make sure this idea comes up every now and then for the Odoo team to check.
I personally would like this, it is a nice little extra feature for usability.
@mart-e this might be something for you.

Regards,
Yenthe

[2016-10-04 08:25] jl2035 commented on #600
Also some instructions on how to add your colors would be nice... anyone?

[2016-10-04 08:34] mart-e commented on #13663
Hello,

We usually prefer to avoid fixing code for cosmetic reasons. Even if you have incorrect values (e.g. [datas](https://github.com/odoo/odoo/blob/886751e2c1445d01e2f913eabbab0af657617411/openerp/addons/base/ir/ir_attachment.py#L255)).
So we can fix a bit but it is usually bug-prone changes, forces to modify customisations or community modules.
So we accept some cosmetic changes but if it's lo

[2016-10-04 08:44] Yenthe666 commented on #13165
Hi @lucasrabelo,

Since I can not reproduce this issue anymore and there has been no response since august I'm closing this issue.
If it is still reproducable or if you have a problem just post a message on this again and I'll have a look at it again!

Regards,
Yenthe

[2016-10-04 08:44] #13165 closed

[2016-10-04 08:47] Yenthe666 commented on #13136
@dreispt think we could close this one?

[2016-10-04 10:17] dieck opened #13670 "10.0 setup_dev.py checks out 9.0"
Impacted versions: 10.0

Steps to reproduce:
Use "wget -O- https://raw.githubusercontent.com/odoo/odoo/10.0/setup/setup_dev.py | python" as noted in the Getting started section of https://github.com/odoo/odoo/tree/10.0 Readme.md

Current behavior:
Checks out 9.0

Expected behavior:
Should check out 10.0

Video/Screenshot link (optional):
output of "wget -O- https://raw.githubusercontent.com/odoo/o

[2016-10-04 10:23] Yenthe666 commented on #13556
@odony @xmo-odoo and @mart-e I'd love an official statement about this from you guys.

[2016-10-04 10:25] Yenthe666 commented on #13358
Hi @LeDistordu,

I'll re-open the other issue and close this one, there is more history on the other one.
My apologies!

Regards,
Yenthe

[2016-10-04 10:25] #13358 closed

[2016-10-04 10:28] Yenthe666 commented on #12883
Hi @LeDistordu,

If I'm not mistaking you could just click on uninstall to cancel the module?

[2016-10-04 10:49] odony commented on #12660
Every deployment is different, with different architectures, different users, different workloads.
For any bug report / enhancement request regarding performance, it is important to show real life numbers (times befores, times after, size of the sample records, etc.), and detailed information for testing/reproducing.

You're suggesting patch, so it's important to know on what grounds.

For the rec

[2016-10-04 10:49] #12660 closed

[2016-10-04 11:04] odony commented on #13556
The default indexes in Odoo are not meant to cover all use cases, because that's impossible. This is a task for every system administrator, based on actual measures on the real deployment.
The policy is that we try to add the most important indexes, and we don't mind adding more for common cases, but it's always a trade-off, as more indexes mean slower insert/update operations.

For example we can

[2016-10-04 11:09] LeDistordu commented on #12883
I can't :(

List view and delete :
https://cloud.githubusercontent.com/assets/7805145/17103331/24f36ca4-527e-11e6-88ee-eda67f83be63.jpg

If i click on module i have :
https://cloud.githubusercontent.com/assets/7805145/17061109/388a931c-502d-11e6-8561-560dffd7c33e.jpg

[2016-10-04 11:31] Yotouille commented on #12883
Hi there,

Is there a way to force uninstalling a module, from command line or anything ?

Thanks,
Y.

[2016-10-04 11:44] Yenthe666 commented on #12883
Hi @LeDistordu,

The best way is to probably do a -u all on the whole database. This should get you going.
Be sure to first update the whole Odoo code and to take a database back-up, just in case if you run in to any problems, so you can revert.

Regards,
Yenthe

[2016-10-04 11:51] LeDistordu commented on #12883
I already tried this, it has not solved anything :/

[2016-10-04 12:06] fdelayen commented on #13369
Small question before opening a new issue...
Have you changed the behavior of child_of domain for example ?
Looks like now it's not taking the parent in. Breaking between February version and July one !
Stock addon impacted too.

[2016-10-04 12:29] michaelkarrer81 opened #13672 "XPATH Selectors will not work with a "." dot in attribute values!"
Any clue why on some platforms "." is not a valid character in xpath attribute values? lxml version is 3.3.5 (but will still fail with 3.6.4 also)

Impacted versions:
8.0, 9.0
Tested on MacOSX and some Linux distros with lxml 3.3.5 up to 3.6.4 and python 2.7.6 up to 2.7.12

Steps to reproduce:
Create an XPATH Selector with a dot "." in an attribute value e.g.: "res_company.name"
`<xpath expr="//fo

[2016-10-04 12:52] mart-e commented on #13369
We need to investigate but not that I am aware

[2016-10-04 13:00] michaelkarrer81 commented on #13672
After changing the selector to this:

```<xpath expr="//footer//span[contains(@t-field, 'res_company.name')]" position="after">```

it works perfectly.

But still the problem and the cause of the problem persists.

[2016-10-04 13:02] daramousk opened #13674 "RPC error -32098 on crash_manager.js causes the warning dialogs not shown."
**Impacted versions:**
9.0c (possibly others
**Steps to reproduce:**
This happens with some customization but this is not the issue of the custom code.
If you modify a form, any form and add some calculated fields, (I am working on a module that adds almost 65 custom fields that 30% of them are function fields) you will face the following issue:
The loading indicator will appear on the top, and th

[2016-10-04 13:04] Yenthe666 commented on #10469
Hi @flotho,

Thank you for your report.
I've just tested this on the latest Odoo 9 and I can no longer reproduce this issue:
![image](https://cloud.githubusercontent.com/assets/6352350/19075099/bc566d2e-8a43-11e6-84ea-e2c2294e0610.png)
I'm closing this issue since I can no longer reproduce it. If you still face an issue please update your Odoo source code. If the issue still persist you can ping m

[2016-10-04 13:04] #10469 closed

[2016-10-04 14:12] xclam opened #13675 "Crash when adding custom field"
Impacted versions: 9

Steps to reproduce:
I've add a new field throug database structure > field
name = x_name
model = Partner
type = many2many
related model = *custom model*

When I restarted the server I get this error :

So i've deleted my field in ir_model_fields but I still have the problem.

[2016-10-04 14:36] Yotouille commented on #12883
Hi again,

I have been able to track down this issue, it's happening if you use odoo in **french**. Doing a fresh install and choosing French langage I've been able te reproduce the exact same error. In http logs I have seen something not shown in the Traceback on webUI:

[code]
This is happening in the logs right before the same Traceback pasted by OP.
The accents seems to be lost in translation,

[2016-10-04 14:53] wainaze commented on #8710
Hello,
I have the same error...
I just restored I database on a fresh Odoo 9
My initial empty database works fine.
Then I go on database manager and I restore the database.
Once it is done, I log in and I get this error :

![web_assets_backend](https://cloud.githubusercontent.com/assets/13979300/19079166/0323c882-8a53-11e6-997d-10a86d48c67b.png)

On my server log files I have this :

2016-10-04 14

[2016-10-04 15:14] sdalexander commented on #12687
Hi @bistaray @qdp-odoo @max3903
Has there been any progress on this issue? or do we just have to get it fixed ourselves.
as per @bistaray 's  solution above

regards
Steve

[2016-10-04 17:20] qupro commented on #12261
It's true that a gap in your invoice numbering is forbidden, I suppose in every country.

I think that this is an usability issue:

User expects that when they cancel a validated invoice (number assigned) they will be able to delete it too, because when they create a new one, Odoo automatically will set the invoice number using "gap numbers".

But this is not the actual working, I think the reason

[2016-10-04 19:25] bistaray commented on #12687
@sdalexander I asked for an update on the 19th and it was explained to me that this is a complex issue and @qdp-odoo is in discussions with other experts for a resolution to how to close this (which is why it is still open).  I asked for another update today.

[2016-10-04 20:09] sdalexander commented on #12687
Hi Ray

Thanks for the update,

Regards

Steve

Director
Opensys Ltd
07964 282551

Sent from my iPhone

[2016-10-04 20:14] bistaray commented on #13675
Opening and ending tag mismatch: field line 278 and record, line 280, column 11

This error is telling you that there is an XML file with a tag opening something but not being closed.  I don't think it is because you added a custom field - perhaps you added the field to a VIEW via XML but there is a problem with your XML? (in your CUSTOM MODEL module)

[2016-10-04 20:17] bistaray commented on #13666
Can you share the example Journal Entry you are creating (screenshot) showing what you are entering?

[2016-10-04 22:18] Develoman opened #13677 "KeyError: 'invoice_line'"
Impacted versions: 9.0

Steps to reproduce: first step when installing invoicing module

Current behavior: bug error

Expected behavior: install module invoice

Video/Screenshot link (optional):
![capture du 2016-10-04 23 01 48](https://cloud.githubusercontent.com/assets/12783685/19094621/e66f232c-8a88-11e6-8f56-7f15d90e9fd9.png)

[2016-10-05 00:37] gdgellatly commented on #13666
You can only have debit OR credit on a journal item. You can't have both.

On Wed, 5 Oct 2016 9:17 AM Ray Carnes <notifications@github.com> wrote:

[2016-10-05 05:54] bimajatiwijaya commented on #13629
i got wrong value too..

[2016-10-05 06:48] auyeung112002 commented on #5903
@JKE-be Actually this problem is unresolved if the default language is not English. Also google webmaster guideline suggests not to redirect googlebot and real user differently.

Version: 8, 9

Step to reproduce:
1. Setup a new website.
2. Add a language(eg, zh_TW) and set website default language to that new language.
3. Use curl to load the website. (Accept-Language is empty, just like googlebot

[2016-10-05 13:15] gurneyalex commented on #12550
@dreispt @max3903 this is the issue I mentioned to you yesterday evening.

[2016-10-05 13:54] Yotouille commented on #12883
Ok, I've now pinned down the exact file doing all this mess.
`/usr/lib/python2.7/dist-packages/openerp/addons/base/i18n/fr.po`
On the line 5213, I had to rewrite the entire french description for `auth_ldap`, it was all packed on the same line with indentations errors here and there.

I've deleted the offending line 5213, and paste the new formatted description:
[code]
And now, the module does not

[2016-10-05 14:25] Yotouille commented on #12883
And by the way, this is not the only broken french description.

Same problem here: `base.module_report_webkit`

To reproduce the same error: swith language in french, search for "webkit" in module, and click on _"Moteur de rapports du Webkit"_ module.

[2016-10-05 14:25] omerfirmak opened #13682 "[Q] Why is there no odoo.py in 10.0 branch?"
9.0 branch has its odoo.py but 10.0 does not?
How am i supposed to run odoo without installing it?
I have a version 9 already running on my server. I want to run version 10 on the same server for testing purposes?

[2016-10-05 14:44] rmmr opened #13683 "[Proposal] In memory base64 strings, soo much memory used"
Impacted versions:

All

Steps to reproduce:

Select an image (anywhere), update the model record.

Current behavior:
- json write request triggered, json body containing base64 data.
- controller receives base64 data through arguments
- attachment system uses in memory base64 strings.
- /web/content requests use in memory base64 strings

Expected behavior:
- json write request detects binary payl

[2016-10-05 15:10] Primussimus commented on #9806
Hi
please i need your help
i'm using Odoo and i forget my admin password and i saw your case. I want to know where or how to run this on my server

from passlib.context import CryptContext
print CryptContext(['pbkdf2_sha512']).encrypt('MY_PASSWORD')
think

[2016-10-05 16:23] matt454357 opened #13684 "[10.0] stock product: produce_delay field only visible for sold products"
Impacted versions: **10.0**

Steps to reproduce: **Uncheck Can be Sold**

Current behavior: **Sales tab, and therefore Manufacturing Lead Time disappears**

Expected behavior: **Manufacturing Lead Time field should be placed on Inventory tab**
We need to set the produce delay on subassembly products that are not for sale.

Video/Screenshot link (optional):
![screenshot_ 2016-10-05_10 15_am](https:

[2016-10-05 16:42] matt454357 commented on #13637
If @jco-odoo decides to make the dates editable, then he will also need to fix issue #13638 .

If he wants the dates NOT editable, a change is still needed.  In that case, the domains should be removed.

[2016-10-05 20:47] jco-odoo commented on #13637
If you change on the moves of the production order, what do you do with the
further moves?  (as you should change that of the finished product)

On Wed, Oct 5, 2016 at 6:42 PM, Matt Taylor <notifications@github.com>
wrote:

[2016-10-06 05:37] sbidoul commented on #9799
I'll close this one as this is being handled in 10

[2016-10-06 05:37] #9799 closed

[2016-10-06 05:40] sbidoul commented on #13151
@KangOl @sle-odoo @odony I notice last night build is `10.0.post20161005`.

Congrats for the release!

I read PEP 440 strongly discourages it for new releases containing fixes/changes.
https://www.python.org/dev/peps/pep-0440/#post-releases

I'm not sure which part of the code insert the `post`.

[2016-10-06 06:50] ParokshaX commented on #13655
This bug is reproducible in the chrome browser version (53.0.2785.143)

## Additional Info:

| Platform | Browser | Version | Reproducible |
|----|---|----|---|
|Linux|Chrome| 50.0.2661.102| N|
|Linux|Chrome|53.0.2785.143| **Y**|
|Linux|Firefox|48.0|N|
|Linux|Firefox|49.0|N|

[2016-10-06 07:37] ronniescs opened #13687 "[9.0] Different Tax Computation for Sales Order and Invoice"
Impacted versions:

[9.0]
Tested in runbot http://174550-9-0-10dcec.runbot10.odoo.com/

Steps to reproduce:

Set the Tax Calculation Rounding Method to "Round Globally"
Create a Sales Order with the following lines with 7% taxes

1) 5,095.20
2) 523.20
3) 80.64
4) 54.12
5) 182.00
6) 186.20
![image](https://cloud.githubusercontent.com/assets/16055718/19144073/309aa082-8bda-11e6-81d0-2461c4e9a467.png

[2016-10-06 08:00] JKE-be commented on #13380
Could you provide your picture: "google-rankbrain.jpg"

Thanks

[2016-10-06 08:37] askz commented on #9268
Still no fix?

[2016-10-06 09:01] vak0160 opened #13690 "Create & Edit button not shown/hidden when user's group changed"
Impacted versions: 8.0 (git 8d9b309f9a79cf9a5c48037d7c099ef50c928707)

Steps to reproduce:
1. Have 2 group, staff and manager.
2. Group staff have readonly access.
3. Group manager have full access. (No inheritance and rule, only ACL).
4. Give user either staff or manager group.
5. Let user see the menu.
6. Change user's group from staff to manager, or manager to staff.

Current behavior:
1. When

[2016-10-06 09:15] seyed-mohammad-motahar opened #13691 "project_timesheet is missing"
Impacted versions:
10.0

Steps to reproduce:
Install a blank database and search for this module. Can't find it.

Expected behavior:
We should be able to synchronize bill time on tasks with the employee timesheet, unless the model is merged with other core project modules.

[2016-10-06 09:20] seyed-mohammad-motahar commented on #13691
Found the answer myself.
All Models defined in project_timesheet module are now merged into hr_timesheet

See below
![bgh545](https://cloud.githubusercontent.com/assets/4558819/19147115/3aef37e6-8be9-11e6-8602-cb6641b827a9.png)

[2016-10-06 09:21] #13691 closed

[2016-10-06 12:07] Yotouille commented on #12883
Another detail, it is a "blocking" problem and it is not, for the module is working perfectly but french people using odoo in their language will think the module is completely broken, not viewing the description explaining where to configure ldap support.

[2016-10-06 12:46] katyukha opened #13694 "[10.0] JSON-RPC database drop raises exception"
Impacted versions:
- 10.0

Steps to reproduce:
- make json-rpc call like

[code]

Current behavior:
- Database _dropt_
- But following exception raised on Odoo server:

[code]

Expected behavior:
- No exceptions raised

[2016-10-06 13:25] ccandito commented on #13643
dear All,
the same feature should be available for sales order also.
So claim having as document reference PO/SO can be viewed from the PO/SO also.
Regards
claudio candito

[2016-10-06 14:14] Yotouille opened #13695 "Misformatted description in translated ".po" files for base modules (All Languages ?)"
**Impacted versions**: (there may be more)
  - 9.0c-20160726 (Community Edition)
  - 9.0e-20160901 (Enterprise Edition)

And maybe all `*.po` files in: `/usr/lib/python2.7/dist-packages/openerp/addons/base/i18n/` directory.

**Steps to reproduce**:
This is the best example for it crash instantly (step 2 and 5 optional here), but you can test with random language/module to see noises in server logs

[2016-10-06 14:18] Yotouille commented on #12883
I have open a new issue about this problem finally not link to `auth_ldap`, maybe this one can be closed now.

new issue > https://github.com/odoo/odoo/issues/13695

[2016-10-06 15:41] Yotouille commented on #13695
I wanted to add, as I was saying on the other issue, if a french newcomer (non-python-friendly) is using odoo in his language for the first time, he will certainly thinks these modules are broken. There is nothing clear about a description format issue related to some language (until you dig down a bit), and he may not try to use another language (what for ?).

[2016-10-06 18:07] bistaray commented on #13682
odoo-bin is now used in place of odoo.py

ie: `./odoo-bin -c /etc/odoo/odoo.conf`

[2016-10-06 18:48] elevationO opened #13696 "Current cost line on a Landed Cost is very different from the quant cost."
Impacted versions:
9.0e
Steps to reproduce:
Landed cost> choose split method "by current cost"> calculate> display valuation lines
Current behavior:
Former Cost(per unit) shows a different cost than the quant value.
Expected behavior:
This value should match the quant value.
Video/Screenshot link (optional):

[2016-10-06 19:43] spadae22 commented on #10357
@Yenthe666 Anyone for 9.6?

[2016-10-06 21:06] kgoderis opened #13697 "Odoo sends email that is not compliant with RFC2822"
Impacted versions: Enterprise 9.0

Steps to reproduce:
- Fill in company ("Configure company data") details with a company name that contains an &, for example "Johnson & Johnson"
  - Send an automatically generated email, for example, "send an invitation email" to a user

Current behavior:
- the email generated by Odoo will contain in the "From" field something like "Johnson, ,Johnson odoo@jnj.co

[2016-10-07 01:10] chris001 commented on #13697
According to RFC2822 (Internet message format, reference: http://www.faqs.org/rfcs/rfc2822.html ), the email address should be quoted real name followed by email in angle brackets, like `"Johnson & Johnson" <odoo@jnj.com>` or bare email address followed by real name in parentheses, such as `odoo@jnj.com (Johnson & Johnson)`.

[2016-10-07 03:06] donghd commented on #13682
Thanks you for both question and answer! It worked!

[2016-10-07 03:34] george-mengelberg commented on #12311
The v9 implementation of moving the decimal placement to res.currency is an important and welcome move.  Implementing 'Decimal Accuracy' for different models (e.g. Product Price, Account, etc.) was an acceptable short-term design decision, but defining how a currency is displayed/managed should be defined on the currency itself.  This is especially important where multiple currencies are used as y

[2016-10-07 03:35] lukebranch commented on #10357
@spadae22 ,

I'm going to be setting up a dev machine to play around with on 9.6 with three versions of Odoo running on it. I'll let you know how I get on eventually and update this thread.

Looking at the changes though I see no reason why all three wouldn't be able to run well on 9.6. I'd be very interested to know if Odoo SA has already made the switch on their runbots or whether they plan to a

[2016-10-07 05:28] kgoderis commented on #13697
As far as I can see in the odoo logs, it is not using " or ( ) at all. The " in my post here above were just to delimit them for the purpose of clarity

[2016-10-07 06:35] Yenthe666 commented on #10357
Hi @spadae22,

Exactly what Luke says, there shouldn't be any problem running Odoo on PostgreSQL 9.6. I've looked at the change notes and I don't see any obvious problems. I will soon try some Odoo environments on 9.6 too.
@lukebranch Odoo does test with new postgreSQL versions and I actually think they're running the SaaS on PSQL 9.5 right now. (needs an official confirmation)

Regards,
Yenthe

[2016-10-07 06:38] Yenthe666 commented on #13682
Hi @omerfirmak,

Thank you for your report. This is actually done with purpose! The file was renamed from odoo.py to odoo-bin.py because it gives us the ability to package the Odoo installer better and it is more complaint with rules.
As bistaray said, you can now access it from `./odoo-bin`

[2016-10-07 06:38] #13682 closed

[2016-10-07 06:42] Yenthe666 commented on #8710
Hi @ftribrunn,

It looks like you haven't specified all addon folders correctly in your configuration file or that you haven't installed all dependencies from Odoo (see https://github.com/odoo/odoo/blob/9.0/requirements.txt)

Regards,
Yenthe

[2016-10-07 06:51] Yenthe666 commented on #12883
Hi @Yotouille,

Thank you for the further digging around and pin pointing it. 👍
@mart-e this is translation and language related, so this is really something for you! 💎

[2016-10-07 06:51] jaronemo opened #13698 "odoo 10.0 print report to pdf is very slow ..."
Impacted versions: 10.0

Steps to reproduce:
1.install wkhtmltopdf version 12.1
2. cp -a /usr/local/bin/wkhtmltopdf /usr/bin/. && cp -a /usr/local/bin/wkhtmltoimage /usr/bin/.
3. sudo shutdown -r now
4.login odoo with admin
5. go Purchase module ---> click  demo purchase order --> click print
6. generate pdf  need  3 min ....

Hardware 16G ram, 8 core cpu , postgresql 9.5

Video/Screenshot link (o

[2016-10-07 06:58] Yenthe666 commented on #13675
Hi @xclam,

As @bistaray pointed out you didn't close a tag properly, which is causing this error. Nothing in the stacktrace is referring to the new field and model. Have a look at the XML again and find the tag that is not closed properly 😉.

Regards,
Yenthe

[2016-10-07 06:59] #13675 closed

[2016-10-07 07:15] avanzella commented on #13586
I came across the same issue after editing a email template body translation.
Seems it got "corrupted" at some stage.
If you have edited and saved it in an external editor (and got it working...), just replace the actual body with this one or revert to the original one.

[2016-10-07 07:34] Yenthe666 commented on #13698
Hi @jaronemo,

Thanks a lot for your report. It sounds like Odoo has trouble finding your Wkhtmltopdf and that you haven't configured a `report.url` parameter. Can you make sure you have the parameter `report.url` under Technical parameters? (This is under Settings > Technical > Parameters > System parameters:
![image](https://cloud.githubusercontent.com/assets/6352350/19182053/3e9f029e-8c71-11e6-

[2016-10-07 07:36] Yenthe666 commented on #13694
Hi @katyukha,

Thanks a lot for your report.
Could you please propose this fix as a PR on Odoo 10? Then the Odoo developers can have a look at it, test it and in case everything is fine merge it.

Regards,
Yenthe

[2016-10-07 07:37] Yenthe666 commented on #13687
@qdp-odoo this might be for you. Another rounding thing?

[2016-10-07 07:44] jaronemo commented on #13698
Hi @Yenthe666

Thanks!
if report.url set value ==> http://127.0.0.1  is very fast
if report.url set value ==> http://external ip is very slow !!!
odoo with  nginx use proxy mode ....

[2016-10-07 08:01] moy2010 commented on #9543
Thanks a lot for the solution, @kkrutko !

[2016-10-07 08:36] Yenthe666 commented on #13698
Hi @jaronemo,

No problem, happy your issue is solved. This is because without the `report.url` the Odoo tries to find wkhtmltopdf on the website URL, which usally points in another way and results in this problem.
Closing this issue since it is fixed. 😄

Regards,
Yenthe

[2016-10-07 08:36] #13698 closed

[2016-10-07 08:56] trapchik opened #13700 "Stock list in Lots / Serial numbers showing unavailable Lots"
Impacted versions: 9.0

Steps to reproduce:
1. Move stock for delivery ( /web/dataset/call_kw/stock.move/read )
2. Lot Split ( /web/dataset/call_kw/stock.pack.operation.lot/read )
3. Select Lot ( /web/dataset/call_kw/stock.production.lot/name_search )

Current behavior:

Currently we are seeing all Lots / Serial numbers that have been used for the selected product for past orders.

Expected behavi

[2016-10-07 09:03] ftribrunn commented on #8710
I closed this Issue in May ;-)
But thx for your help !

[2016-10-07 09:23] Yenthe666 commented on #8710
Oops I pinged the wrong guy, I ment to ping @wainaze. My answer is for his issue, sorry! 👍

[2016-10-07 09:25] Yenthe666 commented on #9799
Thank you for closing the issue and keeping track of it @sbidoul 👍

[2016-10-07 10:53] Yenthe666 opened #13701 "[10.0] ImportError: No module named QWebTemplateNotFound"
Impacted versions: 10.0

Steps to reproduce:
Install Odoo V10 Enterprise and try to launch it

Current behavior:
An internal server error pops up because Odoo cannot find QWebTemplateNotFound:
![image](https://cloud.githubusercontent.com/assets/6352350/19187666/17d8a3e2-8c8d-11e6-9696-447ba760142d.png)

Expected behavior:
Odoo launches.

Stacktrace:
[code]

See https://github.com/odoo/odoo/search?

[2016-10-07 10:54] Yenthe666 commented on #13701
@mart-e @JKE-be and @odony quite a big one, breaks all new installations.
I don't see the issue right away.

[2016-10-07 11:12] Yenthe666 commented on #13701
Ignore this, I made a mistake. My apoligies. 😄

[2016-10-07 11:14] #13701 closed

[2016-10-07 12:36] katyukha commented on #13694
Hello @Yenthe666

This is not a fix, i just found this bug, when tried to add tests for compatability with Odoo 10 to my [rpc-client project](https://github.com/katyukha/openerp-proxy), so i have no fix for this bug(

Regards,
Dmytro

[2016-10-07 13:11] roccocesetti opened #13702 "Image variant show in the website module"
Impacted versions:8.0

Steps to reproduce:
to view the image does not change variants, remains that of the model
Current behavior:

website_sale form:
in the shop of the items in the first screen displays the model
when you select a product
odoo displays attributes of the variants and the relative prices
but it does not change the picture that is always that of the model
is there?

Expected behavi

[2016-10-07 14:14] wainaze commented on #8710
Hello,

This is my pip freeze quiery on the server :

Babel==1.3
beautifulsoup4==4.4.1
chardet==2.3.0
decorator==3.4.0
docutils==0.12
feedparser==5.1.3
gdata==2.0.18
gevent==1.0.2
greenlet==0.4.7
gyp==0.1
html5lib==0.999
jcconv==0.2.3
Jinja2==2.7.3
lxml==3.4.1
Mako==1.0.1
MarkupSafe==0.23
mercurial==3.2.2
mock==1.0.1
ofxparse==0.14
passlib==1.6.2
Pillow==2.7.0
psutil==2.2.0
psycogreen==1.0
psycopg

[2016-10-07 14:34] Yenthe666 commented on #8710
@wainaze,

Remove the module report_webkit_chapter_server from the apps, the problem is in that module (and it is not an official app either by the way)

Regards,
Yenthe

[2016-10-07 14:59] wainaze commented on #8710
Thank you for your super quick reply !
I can find a report_webkit but I don't find the
report_webkit_chapter_server in my list of addons.
Is this normal ?
Thank you so much !

Waïna Landauro

2016-10-07 16:35 GMT+02:00 Yenthe <notifications@github.com>:

[2016-10-07 16:24] chris001 commented on #13697
@kgoderis  I agree so I feel this is truly a bug and needs to be fixed.  Have you searched and found which code file is the one which composes the email incorrectly - without the double quotes or parenthesis?

[2016-10-07 16:41] kgoderis commented on #13697
Nope as I am new to odoo (and python )

Sent from my iPhone

[2016-10-07 17:53] chris001 commented on #13697
Found it.
https://github.com/odoo/odoo/blob/59710faa0aaef6e8952a70e7405bbc92143a49ef/openerp/addons/base/ir/ir_mail_server.py
functions build_email (line 241) and send_email (around line 350).

[2016-10-07 18:08] chris001 commented on #13697
This is the one for version 10: https://github.com/odoo/odoo/blob/10.0/addons/mail/models/mail_mail.py
Version 9: https://github.com/odoo/odoo/blob/9.0/addons/mail/models/mail_mail.py
They're different.  Maybe version 10 has fixed this bug?

[2016-10-08 04:14] lukebranch commented on #10357
@Yenthe666 ,

Thanks for the info!

I'd be interested to hear from Odoo SA if/when they're planning on switching the runbots over to 9.6. It seems like there are some big improvements introduced in this release that didn't quite make it in time for the 9.5 release.

[2016-10-08 08:20] joequant opened #13704 "Error when installing slides with zh_TW as default lang"
Impacted versions: 10.0  nightly build 20161006

Steps to reproduce: install slides

Current behavior:
[code]
Expected behavior:
Should not have error

Video/Screenshot link (optional):

[2016-10-08 09:05] kingxjs commented on #13618
在one2many的onchange时间中，
![qq 20161008170402](https://cloud.githubusercontent.com/assets/17718227/19211876/60982a70-8d79-11e6-9306-e270b9ff00af.png)
修改图中的值，上面相应的改变。这样可以吗？

[2016-10-08 09:07] kingxjs commented on #13618
In the One2many onchange event,
![qq 20161008170402](https://cloud.githubusercontent.com/assets/17718227/19211888/a48c6e80-8d79-11e6-8a10-55ff1e24509c.png)
Modify the value in the above figure, the corresponding change. Is this ok?

[2016-10-08 13:50] spadae22 commented on #10357
@Yenthe666 @lukebranch I will be updating my dev machine today. I know 9.6 does (?) works better with multiple cpus and locking and 9.5 was struggling a bit, I still have some big queries that take too long, could be the orm, but since I did see improvement. I will test today and see what happens.

[2016-10-08 15:06] jffz commented on #11568
Also facing it

[2016-10-08 20:43] idncom commented on #7791
+1 most commonly complained about issue from our clients.  Still exists in 9, and it's in both list and kanban views...doesn't seem like it would be that hard to fix, but codingforfun's solution is just for list.  Anyone know where a similar js solution for kanban could be applied?  There is not a js file for kanban in the same folder :(

[2016-10-09 02:28] joequant commented on #13704
This is the stack track when I raise the raw exception.
The problem is that I'm using zh_TW locale, and so the format_tz creates a string which is outside
of the ascii range.

  File "/usr/lib/python2.7/site-packages/odoo/addons/mail/models/mail_template.py", line 353, in <lambda>
    'format_tz': lambda dt, tz=False, format=False, context=self._context: format_tz(self.env, dt, tz, format),
  File

[2016-10-09 09:56] antespi opened #13710 "Debug maps for LESS/SASS"
We have been working in OCA Sprint in Brussels 2016, just before Odoo Experience 2016, to allow developers to have debug maps for LESS/SASS assets out-of-the-box (just setting debug=assets flag at URL).

After several tries we have realized that this is not possible. This is the full history in order allow other ones to debate around this matter. Maybe someone have a brilliant idea for fixing this

[2016-10-09 12:07] 8cells commented on #13655
Can be fixed with this line:

![fix](https://cloud.githubusercontent.com/assets/7283980/19220263/a3ad965a-8e29-11e6-8df4-c47297410376.png)

[2016-10-09 20:34] dreispt commented on #12550
@gurneyalex Well, Automated Actions have a safeguard to avoid retriggering the same action on further writes. This is necessary, and I don't see how it could be removed.
For example, it is frequent for an Action, once triggered, to write again on the record, to change the Responsible, add Followers, change the Priority, etc.

I feel that the real problem here is the impossibility to have Action fi

[2016-10-09 20:38] dreispt commented on #13136
@Yenthe666 We have a workaround for 10, but I feel that it is not a fix.

Can R&D comment on my two suggested solutions? If not a technical challenge, b) would be a great solution.

[2016-10-09 22:57] yboujraf opened #13711 "ODOO 10 : CODA file not supported - Bank statement"
Impacted versions: ODOO 10

Steps to reproduce: import COD file from Belgian bank. We used the Coda file from Odoo at https://drive.google.com/file/d/0B5BDHVRYo-q5UVVMbGRxUmtpVDg/view

Current behavior: format not recognized

Expected behavior: import all the bank statement to reconcille
The same CODA file is supported by Odoo 8 and Odoo 9.

Video/Screenshot link (optional):
![image](https://cloud

[2016-10-09 23:44] adaptivdesign commented on #13380
![google-rankbrain](https://cloud.githubusercontent.com/assets/1424733/19224655/99225d2c-8e8a-11e6-97f8-3273798a3c1a.jpg)

Hope this helps. I downloaded the image through Chrome on Ubuntu 16, these are the file properties:

![screenshot from 2016-10-10 01-43-07](https://cloud.githubusercontent.com/assets/1424733/19224673/fe0edd00-8e8a-11e6-82f4-59ec8dc301f9.png)

[2016-10-10 06:39] Yenthe666 commented on #13711
Hi @yboujraf,

Thanks a lot for your report! The file you've attached is a .txt file and not a .QFX or .QIF file though. Could you attach this here so I can check it? At this point it gives the same warnings in Odoo 9:
![image](https://cloud.githubusercontent.com/assets/6352350/19228380/ff239304-8ec4-11e6-9ee7-bc0e293e03cf.png)

[2016-10-10 07:01] Yenthe666 commented on #13136
@mart-e and @antonylesuisse  can you give your input here?

[2016-10-10 07:02] Yenthe666 commented on #10357
@odony and @mart-e any official statement? 😉

[2016-10-10 07:06] Yenthe666 commented on #8710
Hi @wainaze,

Not really, your Odoo probably thinks the module is still there while it isn't. The easiest way to fix this is to restart the Odoo server with a -u all to reload all modules. Be sure to take a back-up before doing this, just in case.
And you're welcome. 😄

Regards,
Yenthe

[2016-10-10 07:20] Yajo commented on #13710
You forgot one point: you can convert .css to .less just by changing the file suffix, as well as changing .css to .scss using the same technique.

Problem is that 4th approach still could fail when there are mixed .less and .scss/.sass files. So, if Odoo would use only 1 of those systems, it could work, but using 3 of them makes it this hard, if not impossible.

However supporting several systems

[2016-10-10 07:26] Yenthe666 commented on #11568
@mart-e could you have a look at this one? Not sure who to ping.

[2016-10-10 07:28] Yenthe666 commented on #9268
@JKE-be can you have a look at this please?

[2016-10-10 07:38] grzegorz-openglobe opened #13712 "ODOO 10: timesheet cost not supported - basic functionality of project"
Impacted versions: 10.0 community

Steps to reproduce: Enter work to task and see analytic entry in Accounting.

Current behavior: Analytic entry doesn't have amount.

Expected behavior: It should be hour cost setting on Employee like in 9.0. (field timesheet_cost It is not shown in 10.0). And during registration of hours spend on task the analytic entry should have a cost amount based on Employee

[2016-10-10 08:09] mart-e commented on #10357
Same as going from pg 9.4 to 9.5, nothing should go wrong, on the contrary, you can expect a performance boost (pg 9.6 has better parallelism for aggregations) :)

[2016-10-10 08:19] grzegorz-openglobe commented on #13712
Sorry it is my mistake. After installation of sale_timesheet you cab register cost from timesheet.

[2016-10-10 08:20] #13712 closed

[2016-10-10 08:27] Yenthe666 commented on #10357
@mart-e and how about Runbot / SaaS, will they be moved to 9.6 or see a test fase?

[2016-10-10 08:31] mart-e commented on #10357
Eventually it will but let's at least wait that the major linux distro ships it in their repositories (even archlinux hasn't shipped it yet :confused: ).
Expect a performance boost but don't get your hopes too high too :wink:

[2016-10-10 08:55] odony commented on #13710
Thanks for the summary! We'll discuss it and see what we can come up with :-)

[2016-10-10 09:22] amigrave commented on #13710
Hi there,

I've already tough about how to improve the web assets management in Odoo and I think that using [DukPy](https://github.com/amol-/dukpy) for assets compilation would provide more flexibility (and future proof) for all the transcoding processes. As a bonus this would allow some developper teams to use their in-house favorite javascript transcoding language (Transcrypt, TypeScript, Coffee

[2016-10-10 09:22] JKE-be commented on #13655
Thanks for the reporting.

It has been tested, and it fixes 53.0.2785.* and don't seems to break IE (IE11 tested)

Merged in 9.0

[2016-10-10 09:22] #13655 closed

[2016-10-10 09:28] GoodERPJeff opened #13713 "avg= is not working on tree view"
Impacted versions: v8 v9 v10 master

Steps to reproduce:

menu Sales - My Pipline

change to tree view

Current behavior:
![image](https://cloud.githubusercontent.com/assets/1857069/19231807/a94fdb64-8f0e-11e6-8b12-6223c0c7f7c0.png)

Expected behavior:

show avg probbility on footer of this column

Video/Screenshot link (optional):

[2016-10-10 09:53] Yajo commented on #13710
Yes, allowing ES transpilers would be awesome, but again without debug maps it would not be feasible.

Thinking on this, just adding an interesting note: PhantomJS currently uses a very old version of nodejs. If you write any ES>=5 syntax, automated tests would fail, and since all js assets are minified and joined, a new syntax in 1 module would raise a syntax error for the whole Odoo JS.

So, unt

[2016-10-10 10:44] amigrave commented on #13710
Indeed. And this is where using duktape would *theoretically* bring more flexibility than the current cli tools because we could,  *again theoretically*, get rid of the lessc cli tool and in place use directly the javascript api in order to generate the source maps without being forced to have the resource on the filesystem:
https://github.com/amol-/dukpy/blob/master/dukpy/jsmodules/less/less/sour

[2016-10-10 11:45] rafaelbn opened #13717 "Answering by email an Internal Note produce a Message for customer"
Impacted versions: all

- 8.0
- 9.0
- 10.0

Steps to reproduce:

- Go to an Enterprise in version 10, 9, 8
- Odoo **must have** a SMTP server to send emails and a POP/IMAP server to receive emails
- This is an problem in all objects but I will write an example with O
- Go to Sales --> Your Pipeline --> go inside an Opportunity or create a new one
- Add in this opportunity a customer with a real em

[2016-10-10 12:05] mart-e commented on #13695
Thanks for the detailed report.
I have fixed the translation at 3f192abafbe4ffbccaba07a5f050419479d7fb7a

[2016-10-10 12:06] #13695 closed

[2016-10-10 12:07] mart-e commented on #12883
Fixed at 3f192abafbe4ffbccaba07a5f050419479d7fb7a
Thanks

[2016-10-10 12:07] #12883 closed

[2016-10-10 13:13] Wided1 opened #13720 "When clicking on button "Quotations and sales" from partner form, it shows sales of all the partners whose names contain the name of activated partner"
Impacted versions: 7

Steps to reproduce:
1. Create two partners:
            Partner 1 name: "abc"
            Partner 2 name: "abcde"
2. Create a quotation for each partner.
3. Open partner 1 form.
4. Click on button "Quotations and sales"

Current behavior: The two quotations appear

Expected behavior: Only partner 1 quotation appears.

Video/Screenshot link (optional):

[2016-10-10 13:14] qdp-odoo commented on #13687
@nim-odoo Can you check pleaaase?

[2016-10-10 13:17] Wided1 commented on #13720
To correct this, in the sale module, file res_partner_view.xml, add in the record act_res_partner_2_sale_order  a domain:  <field name="domain">[('partner_id','=',active_id)]</field>

[2016-10-10 13:25] qdp-odoo commented on #13036
PR merged

[2016-10-10 13:25] #13036 closed

[2016-10-10 13:27] yboujraf commented on #13711
Dear Yenthe,

If you want I can send you by mail one of my coda file but don’t know which information couldn’t affect if I remove some sensitive information.

Best Regards,

BOUJRAF Youssef

From: Yenthe [mailto:notifications@github.com]
Sent: lundi 10 octobre 2016 08:40
To: odoo/odoo <odoo@noreply.github.com>
Cc: BY-SYSTEMS SPRL <yboujraf@by-systems.be>; Mention <mention@noreply.github.com>
Subje

[2016-10-10 13:35] qdp-odoo commented on #10839
Sorry, maybe I miss something but I cannot reproduce: the date I select in the popup as refund date is used as date in my refund accordingly, and that's actually shown in Yenthe's screenshots...

I think it's just a usability issue: on the refund, the field labelled "invoice date" should be read "Document Date" because it's the same field used for invoices and refunds... Feel free to reopen the is

[2016-10-10 13:35] #10839 closed

[2016-10-10 13:40] Yenthe666 commented on #10839
Hmm I must have been sleepy there, because the screenshot indeed shows the correct date.. 😄
Thanks @qdp-odoo! And nice to have seen you in real.

[2016-10-10 13:45] cbjesse commented on #13655
@8cells Thanks for identifying the solution!

[2016-10-10 14:34] sbidoul opened #13721 "requirements.txt have not been updated for 10.0"
Impacted versions: 10.0

Current behavior: requirements.txt have not been updated for a long time, many packages in that list have newer versions. If requirements.txt are to be considered as the known good configuration that works well with Odoo 10 it would good to refresh it?

@sle-odoo what do you think?

[2016-10-10 14:41] Yenthe666 commented on #13721
Hmm good suggestion. I summon you @odony and @mart-e!

[2016-10-10 14:58] nim-odoo commented on #13687
@qdp-odoo : yep I confirm... I'll have a look

[2016-10-10 15:34] Yenthe666 commented on #123
Dear @enzoberger,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:34] #123 closed

[2016-10-10 15:35] Yenthe666 commented on #165
Dear @abenzbiria,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:35] #165 closed

[2016-10-10 15:36] Yenthe666 commented on #171
Dear @yelizariev,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:36] Yenthe666 commented on #259
Dear @moylop260,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:36] #259 closed

[2016-10-10 15:37] Yenthe666 commented on #384
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:37] #384 closed

[2016-10-10 15:37] Yenthe666 commented on #381
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:37] #381 closed

[2016-10-10 15:38] Yenthe666 commented on #365
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:38] #365 closed

[2016-10-10 15:38] Yenthe666 commented on #368
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:38] #368 closed

[2016-10-10 15:39] Yenthe666 commented on #369
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:39] #369 closed

[2016-10-10 15:39] Yenthe666 commented on #370
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:39] #370 closed

[2016-10-10 15:40] Yenthe666 commented on #382
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:40] #382 closed

[2016-10-10 15:40] Yenthe666 commented on #347
Dear @richard-willowit,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:40] #347 closed

[2016-10-10 15:40] Yenthe666 commented on #349
Dear @mejerome ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:40] #349 closed

[2016-10-10 15:42] Yenthe666 commented on #517
Dear @yostashiro,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:42] #517 closed

[2016-10-10 15:42] Yenthe666 commented on #398
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:42] #398 closed

[2016-10-10 15:43] Yenthe666 commented on #396
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:43] #396 closed

[2016-10-10 15:43] Yenthe666 commented on #397
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:43] #397 closed

[2016-10-10 15:47] Yenthe666 commented on #606
Dear @oliverzgy,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-10 15:47] #606 closed

[2016-10-10 15:53] collex100 opened #13724 "[10.0] Lead Automation >> Campaigns >> Campaigns Form >> Diagram - ValueError"
Impacted versions: 10

Steps to reproduce: Lead Automation >> Campaigns >> Campaigns Form  >> Diagram

Current behavior:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 675, in dispatch
    result =

[2016-10-10 16:32] businessplus opened #13725 "Email with helo error (with hosttech.ch=error, with digitalocean.com = OK)"
Impacted versions: 9

Steps to reproduce: Send Mail

Current behavior:
Mail doesn't come to receiver. But error message as follows:
Der E-Mail-Versand ist gescheitert E-Mailversand schlug via SMTP Server
'smtp.mailbox.org' fehl. SMTPRecipientsRefused:
{'my.client@hispeed.ch': (501, '5.5.2 <[0.0.120.91]>: Helo command
rejected: invalid ip address')}

Expected behavior: Outgoing Mail should be worki

[2016-10-10 17:00] wainaze commented on #8710
Hello Yenthe,
Just did that, I have the same error.

sudo /etc/init.d/odoo-server restart -u all

Thanks !!!!

2016-10-10 16:53:47,877 1644 INFO ? openerp.service.server: Initiating
shutdown
2016-10-10 16:53:47,877 1644 INFO ? openerp.service.server: Hit CTRL-C
again or send a second signal to force the shutdown.
2016-10-10 16:53:49,135 30773 INFO ? openerp: OpenERP version 9.0c
2016-10-10 16:53:4

[2016-10-10 17:51] luienper opened #13727 "Calendar recurrent error"
Impacted versions:

Steps to reproduce:

Current behavior:there are an error when we try to create a new record in calendar event, when select recurrent event and notifications

File "/home/luis/odoo_projects/odoo_10/addons/calendar/models/calendar.py", line 379, in get_next_notif
    for one_date in meeting.get_recurrent_date_by_event():
AttributeError: 'calendar.event' object has no attribute 'g

[2016-10-10 19:43] haidaraM commented on #12045
I have the same errors in my logs. Just open the database manager and watch the logs

[2016-10-10 19:43] ddfs commented on #5903
I have solved the problem at my end but includes a lot of other modifications so not sure it will be accepted as solution.

path: /

HTTP/1.1 200 OK
Server: nginx
Date: Mon, 10 Oct 2016 19:35:50 GMT
Content-Type: text/html; charset=utf-8
Transfer-Encoding: chunked
Connection: keep-alive
Keep-Alive: timeout=1
Vary: Accept-Encoding
**Set-Cookie: website_lang=fi_FI; Path=/**
Cache-Control: no-cache,

[2016-10-10 21:49] yboujraf commented on #13711
Dear Yenthe,

the coda file in text format was the CODA provided by Odoo for testing the import CODA bank statement.

Link to download the sample :

https://www.dropbox.com/s/o6fc7ys3gm5xy5p/BE54001591120197_EUR_Full_20160808.COD?dl=0

Best Regards,
Youssef

[2016-10-10 22:20] roedeorm opened #13728 "[10.0] work order kanbans indistinguishable"
Impacted versions: V10 (tested on saas and runbot 174780-10-0-c60e43.runbot10.odoo.com)

Steps to reproduce: place an MO where routing has several operations in several work centers. Go to manufacturing > Work orders > kanban view, remove filter

Current behavior: The kanbans show product and MO-number only. The user can distinguish neither operations nor work centers. All kanbans look the same. U

[2016-10-10 22:32] 4toangulo opened #13729 "Access to repository"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-10-10 22:57] roedeorm opened #13730 "[10.0] MRP, MPS - delete product from MPS"
Impacted versions: 10.0 enterprise (saas demo.odoo.com)

Steps to reproduce: Manufactoring > Reporting > Master Production Shedule > Add a product

Current behavior: user has no way to remove a product from MPS

Expected behavior: user has a way to remove a product from MPS

P.S. I would have placed MPS under menu Planning, not Reporting.

[2016-10-10 23:09] richard-willowit commented on #347
@Yenthe666 - You may note this was reported over 2 years ago, and was not dealt with then.  I am not relying or waiting on a fix here anymore, but it is a pity that it was not addressed when it was an issue in the "current" version.

[2016-10-10 23:19] roedeorm opened #13731 "[10.0] MRP, MPS - change in planning period without effect"
Impacted versions: 10.0 (saas)

Steps to reproduce:
Manufacture > Settings > Use Master Production Schedule = true
Manufacture > Settings > Manufacturing Period = Monthly
Manufacture > Reporting > Master productions schedule > Add a product
Manufacture > Settings > Manufacturing Period = Weekly
Manufacture > Reporting > Master productions schedule > Add a product

Current behavior: Product added t

[2016-10-10 23:43] roedeorm opened #13732 "[10.0] mrp - work orders: planned date contradicts expected duration"
Impacted versions: 10.0 (saas)

Steps to reproduce: create a manufacturing order with work order. Open form view of work order. Edit Expected Duration and observe the "to" date of Planned Date. Edit the two dates of Planned Date and observer Expected Duration.

Current behavior: Expected Duration and the two date fields in Planned date are independent. They do not influence each other.  The implie

[2016-10-10 23:59] roedeorm opened #13733 "[10.0] mrp - chained operations ignored in planning"
Impacted versions: 10.0

Steps to reproduce: place an MO with at least two operations. Set Next Operation=Once all products are processed in the first operation.

Current behavior: second operation can be planned before the first operation. When the to-date of Planned date of the first operation is moved in time, the from date of Planned date of the second date is not changed.

Expected behavior:

[2016-10-11 00:12] roedeorm opened #13734 "[10.0] mrp - gnatt planning: moving MO does not move operations"
Impacted versions: 10.0 (saas), on firefox and safari on osx as well as on firefox on linux mint.

Steps to reproduce:
create a MO with at least two operations.
Planning > Planning by production
try changing the position of the blue MO line to the left and to the right

Current behavior: changing the blue MO backwards in time works, changing blue MO line forward in time does not work. When moving

[2016-10-11 00:26] roedeorm opened #13735 "[10.0] mrp - planning by work center"
Impacted versions: 10.0 saas

Steps to reproduce:
place several MOs of the same product which has several operations in the same work center.
place several MOs of an other product which has the same routing as the first product.
open Planning > Planning by work center
Try do some planning of the operations

Current behavior: it is impossible to know which gnatt line represents the operation of a p

[2016-10-11 02:54] isometriq commented on #5831
It's been a while now, but if I recall, you can create the key if it does not exists. Check my previous posts and I think you will be able to succeed. Maybe you're not using the same version that was used when I've resolved it.

[2016-10-11 03:18] yelizariev commented on #171
@Yenthe666
this issue is for 8.0 and need updates mentioned here https://github.com/odoo/odoo/issues/171#issuecomment-198464364

[2016-10-11 06:48] dieck opened #13736 "Invoice mail template does not format currency decimals"
Impacted versions: 10.0

Steps to reproduce: send yourself an invoice via mail, with default template

Current behavior: shows 4.7 EUR

Expected behavior: should show 4.70 EUR

Video/Screenshot link (optional):
![odoo-invoice-mail](https://cloud.githubusercontent.com/assets/670562/19261094/2db8329a-8f8f-11e6-9824-13436421aebd.png)

[2016-10-11 07:02] Yenthe666 commented on #13735
@jco-odoo could you give feedback on this?

[2016-10-11 07:02] Yenthe666 commented on #13734
@jco-odoo this looks like something for you.

[2016-10-11 07:02] Yenthe666 commented on #13733
@jco-odoo this looks like something for you.

[2016-10-11 07:03] Yenthe666 commented on #13732
@jco-odoo this looks like something for you.

[2016-10-11 07:03] Yenthe666 commented on #13731
@jco-odoo another one for you.

[2016-10-11 07:03] Yenthe666 commented on #13730
@jco-odoo this looks like something for you.

[2016-10-11 07:10] Yenthe666 commented on #171
@JKE-be and @KangOl could you guys give feedback on this and get this going?

[2016-10-11 07:15] Yenthe666 commented on #347
Hi @richard-willowit,

I agree, it is a pity that there hasn't ever been dealt with this issue. The problem back then (and it still is) is that all Odoo issues that are monitored or are fixed are done by a few people that try to do it side by side with their job.
I for example try to keep issues in control since a while but I don't get paid for it and it is out of goodwill, so there is only so muc

[2016-10-11 07:21] jco-odoo commented on #13734
It was never meant like that: you plan work orders, not production orders (which are the result of planning work orders).  But then you should not be able to move the line either maybe.

[2016-10-11 07:23] jco-odoo commented on #13735
That is more for improvement.  If you click on it, the form view of the work order pops up

[2016-10-11 07:24] jco-odoo commented on #13733
The "Once all products are processed" is only for the planning algo as later you might decide to plan work orders in parallel or in an entire different order (based on what is possible)

[2016-10-11 07:27] jco-odoo commented on #13732
It is good that the dates and the expected duration don't influence each other as it is the most flexible this way.  You can not also subtract them as they take the calendar into account, ...  The expected duration is meant to be fixed (but can be altered if what is given by the routing would not match somehow)

[2016-10-11 07:28] Yenthe666 commented on #13711
Hmm I have the same issue with Odoo 9.0 though.
@qdp-odoo could you give your insight on this? I'm not really familiar with this.

[2016-10-11 07:30] roedeorm commented on #13734
Hi jco-odoo,  thanks for looking into it. Assume you have a production order with 20 operations. How do you move all work orders by 3 hours? Each one individually?

[2016-10-11 07:32] Yenthe666 commented on #13729
Hi @4toangulo,

Please create a valid issue with detailed information or we won't be able to help you.
Closing this one as it is empty.

Regards,
Yenthe

[2016-10-11 07:32] #13729 closed

[2016-10-11 07:33] Yenthe666 commented on #13728
@jco-odoo this is another one for you regarding MRP.

[2016-10-11 07:34] roedeorm commented on #13735
@jco-odoo Hi  Josse. Thank you. What's the purpose of this view if nonot for planning operations?

[2016-10-11 07:34] jco-odoo commented on #13731
Something is to be fixed: the goal is to see the report by default in the period given.  But for all products it will be the same period.  (Need to find a way to interpret the constraints following the period set if you change period in the report)

[2016-10-11 07:35] jco-odoo commented on #13730
Just need to uncheck mps active field

[2016-10-11 07:35] #13730 closed

[2016-10-11 07:35] Yenthe666 commented on #13727
Hi @luienper,

Thank you for your report.
I've just tested this on the latest Odoo 10 and could not reproduce this issue.
Could you please try this again on a runbot (runbot.odoo.com) or give me more details on how to reproduce this?

Regards,
Yenthe

[2016-10-11 07:37] Yenthe666 commented on #13724
Hi @collex100,

Thanks a lot for your report and for the video!
I've just tested this and I can confirm this is a bug.
@mart-e can you assign somebody on this one please?

Regards,
yenthe

[2016-10-11 07:41] Yenthe666 commented on #13694
@mart-e and @xmo-odoo could you guys have a look at this one please?

[2016-10-11 07:44] InfernalLV opened #13737 "[10.0] related field related field doesn't change original field value"
Impacted versions: 10.0

Sometimes its desirable to have one fields in two different positions based on domain attr invisible, but if you have two instances of the same field in a form. One of them doesn't display a value.

Steps to reproduce:
field1 = fields.Char()
field2 = fields.Char(related='field1')

Current behavior:
field1's value is onchange set to field2. But not the other way around. Tha

[2016-10-11 08:08] roedeorm commented on #13733
@jco-odoo I see. That makes changing time of operation that depend on each other difficult as each operation has to be moved separately and manually placed conjoined.

[2016-10-11 08:12] jco-odoo commented on #13733
You can still unplan/plan again

On Tue, Oct 11, 2016 at 10:08 AM, roedeorm <notifications@github.com> wrote:

[2016-10-11 08:40] roedeorm commented on #13733
Which places the operations at the earliest possible slot, right? And from there I want to move it by 3 hours.

[2016-10-11 08:48] jlzhou opened #13739 "[10.0]It is weird to enable auto_install with utm module."
Impacted versions:
10.0
Steps to reproduce:
Create a new database and change to debug mode.
Current behavior:
utm module auto installed and shows Link Tracker top menu in debug mode.
Expected behavior:
do not install it automatically. set 'auto_install': False in __manifest__.py file.
Video/Screenshot link (optional):

[2016-10-11 08:53] aristobulo-eezee commented on #12408
So based on this:
https://github.com/odoo/odoo/pull/13199#issuecomment-248230599

I kindly request this issue to be reopened as it also affects v10.0

[2016-10-11 08:55] roedeorm commented on #13730
Do you suggest turning off the entire mps in settings? Wouldn't that result in loosing the planning for all products?

[2016-10-11 09:01] jco-odoo commented on #13730
No, it is on the product form (if you open it from the constraints on the
mps)

On Tue, Oct 11, 2016 at 10:56 AM, roedeorm <notifications@github.com> wrote:

[2016-10-11 09:14] mart-e commented on #11568
Hello,
It's a limitation of the follower model. You may get conflicts of ids when reinstalling a model.
I have created a task to change that in master (it requires a change of model) but for now we have no other solution than forcing to delete manually the followers before reinstalling a module.

[2016-10-11 09:20] adr-odoo commented on #12157
This issue has been fixed.
See:
https://github.com/odoo/odoo/commit/0afe5d4af52448c2dcaca7b8537c2c6c08c7fbb5
https://github.com/odoo/enterprise/commit/8a77abcbb2ad00528a9e9ac28d06db4cb6c4d621

[2016-10-11 09:20] #12157 closed

[2016-10-11 09:56] JKE-be commented on #13739
Thanks for the reporting.
It has been fixed in v8: https://github.com/odoo/odoo/commit/4ca06e02558b202183592f4d7c67f76f302bc0d1 & https://github.com/odoo/odoo/commit/633780a00c33089a5bd6fbbd9388ed37d46d59b9

That will be forward-ported to next version asap.

[2016-10-11 09:56] #13739 closed

[2016-10-11 10:07] be-cloud-js commented on #12157
Thanks

Jerome

[2016-10-11 11:43] gurneyalex commented on #12550
@dreispt yes but if you use these to trigger change notifications to external systems, you're fscked as you will miss some changes. It's a far better idea imo to only trigger the action IFF the call to write actually changed the value to break recursive calls.

[2016-10-11 12:42] luienper commented on #13727
![screenshot from 2016-10-11 07-37-57](https://cloud.githubusercontent.com/assets/11526274/19270519/11e0b87a-8f86-11e6-8e74-818b38d1e126.png)
I recreate the issue on an runbot instance

[2016-10-11 12:45] JKE-be commented on #13737
Hi @InfernalLV

We don't support this case at first view...

But anycase... if your usecase is **' based on domain attr invisible'**, so it will work for your case.

Update of Field1 will update Field2 (at onchange, and at save)
Update of Field2 will update Field1 (at save only)

So for simple field it will works, for other field that are dependencies and impact other field... it will fail...
Beca

[2016-10-11 12:45] #13737 closed

[2016-10-11 12:51] JKE-be commented on #13736
Hello,

All templates are not already converted to Qweb.
For old template using Jinja, it can be the case... But it should be fixed in the next month updating the template to Qweb.

Some collegua's are currently working on it.

[2016-10-11 12:51] #13736 closed

[2016-10-11 12:53] tchigy commented on #12908
Thank you mart-e

[2016-10-11 13:26] yboujraf commented on #13711
Dear Yenthe,

It is true but when I installed the module “Belgium – Import Bank CODA Statements” I will be able to import my bank statements.

When trying to find the same module for Odoo 10, this module is missing.

I hope it will help you.

Best Regrads,

BOUJRAF Youssef

From: Yenthe [mailto:notifications@github.com]
Sent: mardi 11 octobre 2016 09:29
To: odoo/odoo <odoo@noreply.github.com>
Cc:

[2016-10-11 13:49] #13727 closed

[2016-10-11 13:51] JKE-be commented on #13721
@sle-odoo a pip freeze on your packaging image should be easy... no ?

[2016-10-11 13:53] sle-odoo commented on #13721
The docker images are either using the current requirements.txt or the debian packages, so that would not do the trick. The easiest way would be to pip install every packages from the requirements without the pinned version and then do a ```pip freeze```.

[2016-10-11 13:58] JKE-be commented on #13725
Seems to be a problem with  smtp and not Odoo...
Please try to get help on help.odoo.com

This tracker is for Odoo issue only. If it is a problem of configuration, please uses help.odoo.com

Can you reproduce it on Runbot ?

[2016-10-11 14:42] sbidoul commented on #13721
FWIW, here is what I get from a pip freeze after a fresh pip install of odoo and odoo enterprise 10.0 (pulling all external python dependencies).

[code]

[2016-10-11 14:43] JKE-be commented on #13724
Hello,

Thanks for the reporting, It has been fixed by commit odoo/doo@8033467

Best regards

JKE

[2016-10-11 14:43] #13724 closed

[2016-10-11 14:48] JKE-be commented on #13713
Hello,
Thanks for the reporting.
It has been fixed by commit :
    - odoo/doo@4ca06e02558b202183592f4d7c67f76f302bc0d1 in v8
    - odoo/odoo@633780a00c33089a5bd6fbbd9388ed37d46d59b9 in v8
    - odoo/odoo@62116e7 in v9

JKE

[2016-10-11 14:48] #13713 closed

[2016-10-11 14:50] JKE-be commented on #13720
Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs. Anymore you have a fix for your own instance...
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,

JKE

[2016-10-11 14:50] #13720 closed

[2016-10-11 15:08] JKE-be commented on #13704
Hello, thanks for the reporting

It has been fixed in v8 (by commit odoo/odoo@f4aae1c).
It will be available after the next forward port.

Best regards

JKE

[2016-10-11 15:08] #13704 closed

[2016-10-11 15:15] GoodERPJeff commented on #13713
how about version 10 ?

[2016-10-11 15:15] JKE-be commented on #13702
Hi @roccocesetti

I have just tested on runbot and it works. Except if i don't understand your problem.

So you have one picture on the product template ("Product" in odoo) which one is visible in /shop
And you have one picture on the product product ("Variant" in Odoo) which one is visible on the product page /product/<id>

If you don't specify a picture for the variant, the picture on the templa

[2016-10-11 15:22] JKE-be commented on #13684
Thanks for the reporting

@bst-odoo  for usability

[2016-10-11 15:24] JKE-be commented on #13683
@KangOl maybe you have one opinion about it ?

[2016-10-11 15:30] JKE-be commented on #13713
Hello,

That will be forward-ported asap... (probably tomorrow)
We always try to fix the issue to the early version where the bug appears.
And with forward all fixes from 8 to 9, and from 9 to 10, and 10 to master.

[2016-10-11 15:32] GoodERPJeff commented on #13713
Good, thanks for your work

[2016-10-11 15:33] eLBati opened #13751 "[10.0] invisible attrs not working in tree views"
Impacted versions:

10.0

Steps to reproduce:

Go to **Manufacturing Orders**, open a **done** MO

Current behavior:

**Quantity Available** field is visible

Expected behavior:

**Quantity Available** field should be invisible because defined as
[code]

[2016-10-11 15:36] JKE-be commented on #13677
hello @Develoman

I cannot reproduce your issue.
Can your reproduce it on runbot (choose a 9.0 base db) ? probably not :/ Else, it will be red ! :red_circle:

Are you sure that you have no custom module ?

invoice_line seems to be 8.0, because in v9 it has been renamed into invoice_lines.
Try removing all custom module... and keep only a clean odoo install... to install invoice and let us know...

[2016-10-11 15:49] KangOl commented on #13683
The payload already contains the raw json request. Changing this will be against [the json-rpc spec](http://www.jsonrpc.org/specification).

[2016-10-11 15:50] JKE-be commented on #13672
Hello @michaelkarrer81 ,
could you check with a console python that the bug is well in Odoo and not in Lxml lib ?
Thanks you...

[2016-10-11 17:09] #13473 closed

[2016-10-11 17:09] #13550 closed

[2016-10-11 18:09] adaptivdesign commented on #13683
I can understand that it's easy to simply include all data in the json payload, but mind you this is not something that should be taken lightly. Below I've included a sample scenario.

Also Look at how Django handles this:

https://docs.djangoproject.com/en/1.10/topics/http/file-uploads/

[code]

[2016-10-11 22:13] dreispt commented on #12550
I guess that's a particular use case not suitable for Automated Actions then.
Yes, a post commit hook would be a good fit for this, if you want to do it in process.

[2016-10-11 23:10] roedeorm commented on #13730
OK, now I got it. set target > MPS active. wrote solution to help.odoo.com. Thank you.

[2016-10-11 23:31] roedeorm opened #13752 "[10.0] mrp - wo: Planned date accepts end date-time before start date-time"
Impacted versions: 10.0 saas

Steps to reproduce: place a MO with WO. Open WO. Set to-date in Planned date before from-date.

Current behavior: a to-date earlier than from-date is accepted.

Expected behavior: a to-date earlier than from-date is prevented

[2016-10-11 23:55] roedeorm opened #13753 "[10.0] mrp - Planning by Production: No filter by production"
Impacted versions: 10.0

Steps to reproduce: Manufacturing > Planning > Planning by production.

Current behavior: No filter by MO-number in any of the view.

Expected behavior: When planning "by production", user expects filter by production

[2016-10-12 00:07] roedeorm opened #13754 "[10.0] mrp - planning: gnatt/calender view of finished MO/WO show planned date not effective date"
Impacted versions: 10.0 saas

Steps to reproduce: place a mo with wo and finish it. Planning > Planning by production or Planning by Workcenter > gnatt view / calender view

Current behavior: all mo/wo are shown as planned date independent of their state.

Expected behavior: mo/wo in state finished are shown as effective dates and not planned dates. mo/wo with states other than finished are shown

[2016-10-12 02:33] carrycsf commented on #9543
@pscomp thanks man this is very helpful for me

[2016-10-12 05:45] ed29 opened #13757 "[10.0] variant product can't be added to cart"
Impacted versions: odoo 10 nightly

Steps to reproduce:

![image](https://cloud.githubusercontent.com/assets/3096827/19298499/b7345110-9080-11e6-80dd-55168e6f543a.png)

The product has variants has an issue,it's that when the attributes have single value,then when this product was added to cart,it will cause 500 Internal Server Error.

Here is the log:

[code]

How to make it work?

[2016-10-12 06:26] Yenthe666 commented on #13751
@jco-odoo another one for you.

[2016-10-12 06:26] Yenthe666 commented on #13752
@jco-odoo another one for you.

[2016-10-12 06:27] Yenthe666 commented on #13753
@jco-odoo another one for you.

[2016-10-12 06:27] Yenthe666 commented on #13754
@jco-odoo another one for you.

[2016-10-12 06:27] gurneyalex commented on #12550
There it is, in v10: https://github.com/odoo/odoo/blob/10.0/odoo/sql_db.py#L338

[2016-10-12 06:32] Yenthe666 commented on #13757
Hi @ed29,

Thank you for your report.
I've just tested this on the latest Odoo 10.0 and it works without any issues. The product:
![image](https://cloud.githubusercontent.com/assets/6352350/19299713/5071c5ea-9056-11e6-81e0-5f60323afd4d.png)

The website:
![image](https://cloud.githubusercontent.com/assets/6352350/19299721/5ff922a6-9056-11e6-8708-1c2986d26149.png)

Could you test it again on the la

[2016-10-12 06:52] Yenthe666 commented on #13711
Hi @yboujraf,

It is available for V10. See:
![image](https://cloud.githubusercontent.com/assets/6352350/19300189/335cedec-9059-11e6-8219-47ad701d6db9.png)
And let us wait for the response of @qdp-odoo, he is the accounting wizard.

[2016-10-12 07:21] pdemil opened #13758 "[10.0] Invoice date is today's date, when I expect to choose the invoice date myself."
Impacted versions:
10

Steps to reproduce:
Create sales order in January 2016, confirm sale on, convert to Invoice.

Current behavior:
Date confirm sale is January 30, 2016, when an invoice is created it is using today's date (October 12, 2016)

Expected behavior:
I want to be able to choose the invoice date.

Video/Screenshot link (optional):

[2016-10-12 07:28] InfernalLV commented on #13737
Thank you for the prompt response.

[2016-10-12 07:29] mart-e commented on #13136
I tend to see CSS as a mystical way to fix all the layout isses ([mandatory commitstrip](http://www.commitstrip.com/en/2016/10/10/a-story-about-css-units/)).
We should make sure the switcher always stays on the same place but there is also the problem of a too long breadcrumb, even on short names (a max depth for the new breadcrumb? cc @bst-odoo )

![screenshot from 2016-10-12 09-27-16](https://cl

[2016-10-12 07:31] bst-odoo commented on #13684
Agreed. We will improve it. Thanks for your input.

[2016-10-12 07:45] jeffery9 opened #13759 "[10.0] import data report raise error "Unknown error during import: <type 'exceptions.TypeError'>: 'bool' object is not iterable at row 2""
Impacted versions:
10.0

Steps to reproduce:

export some data from model 'product.template' as data import template.

modify the template to add the your own data.

switch to product list view, and import data from the template file.

Current behavior:

even just import one field into the model. it should report  Type Error

Expected behavior:

import data correctly.

Video/Screenshot link (optio

[2016-10-12 07:46] ed29 commented on #13757
@Yenthe666 Can it be added to cart? I already upgrade the odoo 10 nightly to today's version.I tested this on demonstration database,only install the ecommece APP.

![image](https://cloud.githubusercontent.com/assets/3096827/19301618/f01ea70c-9092-11e6-8d7c-d8c8ccf3849a.png)

[2016-10-12 08:04] JKE-be commented on #13759
hello

Thanks for the reporting.
I have just tested now on last runbot, and I cannot reproduce.

Could you just post your csv content ?
You can also check that you don't have an empty line at the end ?

Here, my file:

[2016-10-12 08:14] Yenthe666 commented on #13757
Ahh yes I didn't add it to the cart.
This is indeed a bug and has been confirmed!

[2016-10-12 08:19] anj4u commented on #2166
the issue is still there. Has anyone a solution?

[2016-10-12 08:49] mart-e commented on #13717
Hello,

The issue is that you are not answering to a specific email, you are answering to a thread, so Odoo doesn't know you are replying to a note.

But anyway, even if we could know this, I am not sure we want to implement this. It would add some magic to emails making it obscure when a email is sent to everyone and when it is sent only internally.

@bst-odoo do you agree?

[2016-10-12 09:02] bst-odoo commented on #13717
Hello,
Actually, the behavior has changed in V10 (we couldn't fix it in the earlier versions because indeed, it was like answering to a thread back then).
When you reply to an internal note, it creates a new internal note.
https://drive.google.com/a/openerp.com/file/d/0BxqHe5rtIxY0U1pwdFRlbjFFVG8/view?usp=drivesdk

Kind regards,
BST

[2016-10-12 09:34] mart-e commented on #13717
I did not know that, thanks for the info. So I guess we can close as done in v10 (it is a change of behaviour, not a bug so will not backport it to 8 and 9).

[2016-10-12 09:34] #13717 closed

[2016-10-12 09:37] JKE-be commented on #13757
Hello @ed29

It seems that the bug is because product variant are duplicated. Once at the product creation, once a the variant creation. Temporary, you can delete one of both... (there are both identical)
We try to find a patch, but for previous variants created, you will probably need to delete the duplicate manually.

[2016-10-12 09:38] rafaelbn commented on #13717
Thanks for answer

@antespi @yajo @pedrobaeza @sergio-teruel @carlosdauden take care in this information.

We must go to v10 quickly! :-)

@Tecnativa

[2016-10-12 10:16] yboujraf commented on #13711
Dear Yenthe,
Great but please which version of Odoo 10 free or enterprise.
I got a phonecall to the Odoo support and the answer I have received is  on Odoo 10 enterprise but not in free version.
But let me know if anything else

Best Regards,
Boujraf Youssef

On Wed, Oct 12, 2016 at 8:53 AM +0200, "Yenthe V.G" <notifications@github.com> wrote:

Hi @yboujraf,

It is available for V10. See:

And let

[2016-10-12 10:21] JKE-be commented on #13751
Hello @eLBati

the attrs invisible, hide the cell, not the column.
Here, you are in a case where all is hide, or all is shown... so it seems to be strange... But you could have some row where the info is shown, and others that hide the info.

**With attrs invisible**
![image](https://cloud.githubusercontent.com/assets/4848797/19306443/02e3ee28-9076-11e6-9dfa-83059ce1e65c.png)

**Without attrs invi

[2016-10-12 10:21] #13751 closed

[2016-10-12 10:30] JKE-be commented on #13751
Here, a duplicated post: https://www.odoo.com/forum/help-1/question/hide-column-tree-view-31040#answer_31060

[2016-10-12 10:34] mart-e commented on #13582
I believe fixed at #13609

[2016-10-12 10:34] #13582 closed

[2016-10-12 10:36] JKE-be commented on #13758
Hello @pdemil

That is the expected behavior.
If you confirm an order that you invoice 3 month later, you don't want to have a invoice in previous period or previous year...

When you create the invoice (from the sale order in your case), before to validate it, you can edit the invoice date at the top right

![image](https://cloud.githubusercontent.com/assets/4848797/19306942/53e95e1e-9078-11e6-96

[2016-10-12 10:40] #13757 closed

[2016-10-12 10:41] #13684 closed

[2016-10-12 10:59] pdemil commented on #13758
Reasson why I want this: when we start with Odoo, we have to enter all the previous Invoices, to have it all in the system...

I can't change the Confirmation date of the Sales Order.
I clicked "Create and View Invoices", which gave me the invoice with today's date.
Using "Create invoices": it works and I can set the invoice date usint "edit"

Thanks for the quick reply.

[2016-10-12 10:59] #13758 closed

[2016-10-12 11:12] Yenthe666 commented on #13711
@yboujraf
The CODA app is Enterprise only, it is not available for the communtiy.

[2016-10-12 11:16] JKE-be commented on #13758
"Create and View Invoices" and "Create Invoice" should do exactly the same thing.
Except that one redirect you on the invoice view, the other one let you on the sale order form.

![output](https://cloud.githubusercontent.com/assets/4848797/19308056/fed14940-907d-11e6-8bbc-be551275ae5b.gif)

[2016-10-12 11:49] yboujraf commented on #13711
Dear Yenthe,

Bad news.

Thanks a lot, we can close the issue.

Best Regards,

Youssef

From: Yenthe V.G [mailto:notifications@github.com]
Sent: mercredi 12 octobre 2016 13:13
To: odoo/odoo <odoo@noreply.github.com>
Cc: BY-SYSTEMS SPRL <yboujraf@by-systems.be>; Mention <mention@noreply.github.com>
Subject: Re: [odoo/odoo] ODOO 10 : CODA file not supported - Bank statement (#13711)

@yboujraf <http

[2016-10-12 11:50] #13657 closed

[2016-10-12 11:51] mart-e commented on #13657
Hello,

Before it was not an issue as we only had the USA states but now we have many more in the base data so it makes sense to add such domain.
Done at 24aba6014c55206fb0bf18e2239ab3167a9d3cac

[2016-10-12 11:52] #13711 closed

[2016-10-12 11:53] Yenthe666 commented on #13657
Yes, yes, yes! Thank you @mart-e, great addition.

[2016-10-12 11:57] wtaferner commented on #13657
Wouldn't it make more sense to hide the state_id field in case country_id is False? And I think based on this domain you won't be able to choose a state_id anyway before choosing a country, right?

[2016-10-12 12:33] jeffery9 commented on #13759
CSV file encoding is GB18030

[2016-10-12 12:47] jeffery9 commented on #13759
test in another database is ok.  sorry, this maybe is not a bug.

[2016-10-12 12:47] #13759 closed

[2016-10-12 12:54] dreispt commented on #13136
@mart-e CSS is also like an ancient rune-like language for me, but can't the nav buttons be in a floating DIV, positioned at the top right corner of the content area?
With that the breadcrumb could grow as much as you like, since the the nav button would be sticked to the top right corner regardeless of their size.

[2016-10-12 12:56] dreispt commented on #12550
Still, probably not available for Automated Actions.

[2016-10-12 13:06] Yenthe666 commented on #13759
Thank you for the feedback and closing it. 👍

[2016-10-12 13:26] eLBati commented on #13751
@JKE-be thanks

[2016-10-12 13:57] JKE-be commented on #13713
Hello @GoodERPJeff ,

As you can see, the fix has been forward ported to v10.
But unfortunately, with a side effect... Since commit https://github.com/odoo/odoo/commit/629e175 the aggregate by default has been set to "sum"... So all sub-total are now 'sum'. So we need to change the behavior for v10.

After some discussions, we think to remove the use of the group_operator defined in python, and so

[2016-10-12 14:35] 88kbbq commented on #12527
Also change the locale code behavior for multi-lingual sites. This locale code is injected into URLs like so but should be customizable: www.example.com/en_US/blog/article-title

Locale codes should be replaces with a language code field, like en or cn or fr. Underscores are bad in URLs, search engines treat them like a word joiner rather than a word separator.

[2016-10-12 14:57] mart-e commented on #6026
@arelsirin which printer do you have? It looks like it does not have a proper descriptor supported by usblib.

[2016-10-12 15:24] collex100 opened #13775 "[10.0] Lead Automation > Campaigns > Campaigns Form > Diagram > New Link > Odoo Client Error"
Impacted versions:10

Steps to reproduce: Lead Automation > Campaigns > Campaigns Form > Diagram > New Link > Odoo Client Error
[code]
Expected behavior: New Link

Video/Screenshot link (optional): https://youtu.be/qiq0RMvLglU

[2016-10-12 15:35] Yenthe666 commented on #13775
Hi @collex100,

Thanks a lot for your report.
I've just tested this and I can confirm this is a bug. Example:
![image](https://cloud.githubusercontent.com/assets/6352350/19316557/3947b248-90a2-11e6-92bd-94d38be05559.png)

P.S: It is new node in place of new link in your description.
@mart-e for who is this one?

Regards,
Yenthe

[2016-10-12 15:43] mart-e commented on #13775
@aab-odoo @ged-odoo any idea? The non-minimized traceback is:
[code]
I wonder if it's not a deferred missing as the form view is not loaded yet before this call.

[2016-10-12 16:02] aspitrine opened #13778 "[9.0] List view editable - delete previous line in quotation raise "Cannot read property 'id' of null""
Impacted versions:
9.0

Steps to reproduce:
Create a quotation,
Add one product
Add another product and when you are in update line mode click on delete line button for the first product.

Current behavior:
Error

Expected behavior:
Success

Video/Screenshot link (optional):
![action](https://cloud.githubusercontent.com/assets/3731837/19317639/f18f6dc0-90a5-11e6-9363-aa5b38b3fa6e.png)

![result](h

[2016-10-12 16:11] JKE-be commented on #13646
Thanks for the reporting.
It has been catched.

Best regards

JKE

[2016-10-12 16:11] #13646 closed

[2016-10-12 16:13] ed29 commented on #13757
@Yenthe666  @JKE-be  OK,and thank you.

[2016-10-12 16:25] JKE-be commented on #13778
@ged-odoo @aab-odoo

`self.editor.save().then(function (attrs) {`
list_view_editable.js, attrs is undefined, so attrs.id failed

[2016-10-12 16:37] #284 closed

[2016-10-12 16:39] JKE-be commented on #541
Thanks for the reporting

It has been fixed by https://github.com/odoo/odoo/commit/ebc5cd5befaa1fac9474269049fc8c4bfe3bd6fd

[2016-10-12 16:39] #541 closed

[2016-10-12 16:41] JKE-be commented on #779
Thanks for the reporting

Fixed by https://github.com/odoo/odoo/commit/ed194630562fe35095e25603a9c0ab737e44dbd1

[2016-10-12 16:41] #779 closed

[2016-10-12 19:45] gdgellatly opened #13780 "[10.0] Editable list of many2one does not display correctly"
Impacted versions: 10 (pulled 10 minutes ago)
This is probably related to this old v7 bug which got closed but was never really fixed https://github.com/odoo/odoo/issues/3964 .

Steps to reproduce:
While this can be reproduced many ways, the common theme is that you have an editable tree view, inside of an editable tree view.

Setup (or just install testo2m from https://github.com/gdgellatly/odoo_

[2016-10-12 21:19] gdgellatly commented on #13602
I reported this bug a long time ago.  However, I have just made a very quick fix.  Its not perfect, as it is not in the order defined on the attribute lines, but rather the sequence on the attribute but it works.  In fact, it would be more consistent, although less flexible than doing on attribute line.  Only tested on v10.  I'm doing quite a bit of work so it will be the diff labeled as [INITIAL]

[2016-10-12 22:22] roedeorm commented on #13753
@jco-odoo May be I'm getting this wrong. Does "Planning by Production" mean "Planning by Manufactoring Order"? If yes, I suggest renaming for concistency reasons.

However, in my opinion the destingishing between "Planning by Workcenter" and "Planning by Production" is unneeded and confusing. It is just two different group by effective only in gantt view. All other views are identical except for "

[2016-10-12 22:44] roedeorm commented on #13735
It can be solved by the standard group by functionality for MO-number. It would be great to add product to the fiedls for which group by is possible.

[2016-10-13 05:26] sajinaziz opened #13783 "[10.0] Import error on datetime field"
Impacted versions: 10c

Steps to reproduce: Try to import quotation with customer  , Expiration Date and Order Datetime

Current behavior: Error (value: 21-10-2016 11:00:00 does not match date format)
if  date format changed to DD-MM-YYYY HH:mm  then Error on Expiration Date

Expected behavior: Separate format for date and datetime fields

Video/Screenshot link (optional):
![error 1](https://cloud

[2016-10-13 05:40] ed29 opened #13784 "[9][10.0] Product's Decimal precision, pushe on weight and pushed/pull flow can't be saved"
Impacted versions: odoo 10.0 nightly

Steps to reproduce:

![20161013133731](https://cloud.githubusercontent.com/assets/3096827/19337891/a1249846-914b-11e6-9f71-f0158248d78f.jpg)

Product's Decimal precision on weight can't be saved

[2016-10-13 07:00] tenxor105 opened #13785 "[10.0] Changing Standard Cost Produces Error"
Impacted versions: 10

There is something wrong with the logic of the below code in stock_account module inside product.py file:

[code]

I believe the condition should be 'if not diff.' Otherwise, user cannot change the standard price at all.

[2016-10-13 07:28] aab-odoo commented on #13775
@mart-e @ged-odoo i take it

[2016-10-13 07:29] aab-odoo commented on #13778
@JKE-be @ged-odoo i take it

[2016-10-13 07:36] Yenthe666 commented on #13785
@jco-odoo this looks like a bug indeed. Could you look at it? 👍

[2016-10-13 08:01] tejastank opened #13788 "[V9] On odoo-server logs werkzeug KeyError: '40001', odoo failed on request via http"
Impacted versions:
9.0 E
Steps to reproduce:
Server working since many days and sudden issues raise,
I hope its not a critical,

Current behavior:

[code]

Expected behavior:

Video/Screenshot link (optional):

[2016-10-13 08:30] JKE-be commented on #13788
Hello,

This error is returned by psycopg2: https://github.com/psycopg/psycopg2/blob/master/lib/errorcodes.py#L291

You can take a look here, a answer of @odony: https://bugs.launchpad.net/openobject-server/+bug/992525/comments/3

And check that you don't have blocking request / lock in your db...
If you take a look in log, you should see the request that fail.

[2016-10-13 08:37] JKE-be commented on #13780
@ged-odoo You have probably already spotted the bug in #3964... Can you take a look ?

[2016-10-13 08:45] rco-odoo commented on #13068
Sorry, this is not a bug.
This may not be changed on a [stable version](https://github.com/odoo/odoo/wiki/Contributing#what-does-stable-mean).

[2016-10-13 08:45] #13068 closed

[2016-10-13 08:58] Arsalan88 commented on #12045
I am experiencing the same issue....
Downloaded the source of odoo9
OS: Ubuntu
set the configuration file
started odoo server
Even without opening the browser, the logs giving this error

[2016-10-13 09:05] Arsalan88 commented on #12045
Solution:
1. Close all client session (browsers)
2. restart the server

[2016-10-13 09:28] Yenthe666 commented on #931
Dear @gzampeze ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:28] #931 closed

[2016-10-13 09:28] Yenthe666 commented on #818
Dear @luistorresm,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:28] #818 closed

[2016-10-13 09:29] Yenthe666 commented on #866
Dear @mrawi,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:29] #866 closed

[2016-10-13 09:29] Yenthe666 commented on #865
Dear @mrawi,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:29] #865 closed

[2016-10-13 09:29] Yenthe666 commented on #862
Dear @hbto,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:29] #862 closed

[2016-10-13 09:29] Yenthe666 commented on #847
Dear @gzampeze ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:30] #847 closed

[2016-10-13 09:30] Yenthe666 commented on #834
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:30] #834 closed

[2016-10-13 09:30] Yenthe666 commented on #810
Dear @LeartS,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:30] #810 closed

[2016-10-13 09:31] Yenthe666 commented on #792
Dear @tfossoul ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.
P.S: A bit more detailed information is always welcome too 😉

Regards,
Yenthe

[2016-10-13 09:31] #792 closed

[2016-10-13 09:31] Yenthe666 commented on #775
Dear @KimWGood,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:31] #775 closed

[2016-10-13 09:32] Yenthe666 commented on #787
Dear @progressdll ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:32] #787 closed

[2016-10-13 09:33] Yenthe666 commented on #781
Dear @JJ-OpusVL,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:33] #781 closed

[2016-10-13 09:33] Yenthe666 commented on #764
Dear @funkring,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:33] #764 closed

[2016-10-13 09:33] Yenthe666 commented on #712
Dear @joshuajan,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:33] #712 closed

[2016-10-13 09:33] Yenthe666 commented on #749
Dear @jhg,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:33] #749 closed

[2016-10-13 09:34] Yenthe666 commented on #668
Dear @jianjian001,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:34] #668 closed

[2016-10-13 09:34] Yenthe666 commented on #667
Dear @Noirvent,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:34] #667 closed

[2016-10-13 09:35] Yenthe666 commented on #660
Dear @anajuaristi,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:35] #660 closed

[2016-10-13 09:35] Yenthe666 commented on #617
Dear @orchidinfosys,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:35] #617 closed

[2016-10-13 09:36] Yenthe666 commented on #601
Dear @alejandrosantana,

Thank you for reporting this issue!
It has been fixed in the meanwhile and we no longer support issues for V7 and below. Consider this done 😉

Regards,
Yenthe

[2016-10-13 09:36] #601 closed

[2016-10-13 09:36] Yenthe666 commented on #603
Dear @kingofsevens,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:36] #603 closed

[2016-10-13 09:36] Yenthe666 commented on #580
Dear @anthony-muschang,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:36] #580 closed

[2016-10-13 09:37] Yenthe666 commented on #533
Dear @grzegorz-openglobe ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.
P.S: This also looks fixed.

Regards,
Yenthe

[2016-10-13 09:37] #533 closed

[2016-10-13 09:37] Yenthe666 commented on #538
Dear @orchidinfosys,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:37] #538 closed

[2016-10-13 09:37] Yenthe666 commented on #537
Dear @orchidinfosys,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:37] #537 closed

[2016-10-13 09:37] Yenthe666 commented on #532
Dear @funkring,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:37] #532 closed

[2016-10-13 09:38] Yenthe666 commented on #399
Dear @gurneyalex ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.
P.S: It doesn't seem to be around anymore either.

Regards,
Yenthe

[2016-10-13 09:38] #399 closed

[2016-10-13 09:39] Yenthe666 commented on #490
Dear @jeffery9,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:39] #490 closed

[2016-10-13 09:39] Yenthe666 commented on #487
Dear @niecw,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:39] #487 closed

[2016-10-13 09:40] Yenthe666 commented on #484
Dear @monetschemist,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:40] #484 closed

[2016-10-13 09:40] Yenthe666 commented on #460
Dear @martinauger03,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:40] #460 closed

[2016-10-13 09:40] Yenthe666 commented on #432
Dear @TRESCLOUD,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:40] #432 closed

[2016-10-13 09:41] Yenthe666 commented on #390
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:41] #390 closed

[2016-10-13 09:41] Yenthe666 commented on #389
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:41] #389 closed

[2016-10-13 09:41] Yenthe666 commented on #386
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:41] #386 closed

[2016-10-13 09:41] Yenthe666 commented on #385
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:41] #385 closed

[2016-10-13 09:41] Yenthe666 commented on #380
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:41] #380 closed

[2016-10-13 09:42] Yenthe666 commented on #378
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:42] #378 closed

[2016-10-13 09:42] Yenthe666 commented on #376
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:42] #376 closed

[2016-10-13 09:42] Yenthe666 commented on #371
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:42] #371 closed

[2016-10-13 09:42] Yenthe666 commented on #346
Dear @bcho,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:42] #346 closed

[2016-10-13 09:43] Yenthe666 commented on #307
Dear @ybofr,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:43] #307 closed

[2016-10-13 09:43] Yenthe666 commented on #337
Dear @roccocesetti,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:43] #337 closed

[2016-10-13 09:44] Yenthe666 commented on #674
Dear @hbrunn,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:44] #674 closed

[2016-10-13 09:48] Yenthe666 commented on #586
Dear @tfossoul,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:48] #586 closed

[2016-10-13 09:49] Yenthe666 commented on #531
Dear @funkring,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:49] #531 closed

[2016-10-13 09:49] Yenthe666 commented on #359
Dear @DexterMorg4n,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:49] #359 closed

[2016-10-13 09:49] Yenthe666 commented on #327
Dear @yann-papouin,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:49] #327 closed

[2016-10-13 09:51] Yenthe666 commented on #105
Hi @xmo-odoo,

I believe this one can be really closed now. Odoo 10 is here, the old API is dropped and pretty much everything is renamed.
Just re-open this if you find that it should be open though.

Regards,
Yenthe

[2016-10-13 09:51] #105 closed

[2016-10-13 09:52] Yenthe666 commented on #35
Dear @mightyiam ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.
P.S: The wishlist label remains so this will keep popping up, even after I closed

[2016-10-13 09:52] #35 closed

[2016-10-13 09:53] Yenthe666 commented on #64
Dear @4fuss,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:53] #64 closed

[2016-10-13 09:53] Yenthe666 commented on #262
Dear @moylop260,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:53] #262 closed

[2016-10-13 09:54] Yenthe666 commented on #296
Dear @gurneyalex ,

Thank you for reporting this issue!
It looks like it has already been fixed, as noted by @jholze so I'm closing this one.
V7 and below are no longer supported anymore, so I'm closing it for that reason too.

Regards,
Yenthe

[2016-10-13 09:54] #296 closed

[2016-10-13 09:54] odony commented on #13788
@tejastank The problem seems to be that you are running a very old version of psycopg2. The support for this error code was added [back in 2006, in psycopg2 2.0.6](https://github.com/psycopg/psycopg2/commit/43518d067ef5972addc2b0ed94e8520a63e4733d).
Could you check the version you have, and upgrade it, then restart the Odoo server? This should avoid the problem, and activate the proper auto-retry

[2016-10-13 09:55] Yenthe666 commented on #600
Dear @alejandrosantana,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:55] #600 closed

[2016-10-13 09:55] Yenthe666 commented on #626
Dear @GoodERPJeff ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.
P.S: This will still pop-u as wishlist, even after closing this.

Regards,
Yent

[2016-10-13 09:55] #626 closed

[2016-10-13 09:56] Yenthe666 commented on #304
Dear @alejandrosantana,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:56] #304 closed

[2016-10-13 09:57] Yenthe666 commented on #240
Dear @hokkaido ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.
On a sidenote: Everything regarding access rights and settings has changed a lot i

[2016-10-13 09:57] #240 closed

[2016-10-13 09:58] Yenthe666 commented on #515
Dear @jeffery9 ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:58] #515 closed

[2016-10-13 09:58] Yenthe666 commented on #530
Dear @qtheuret,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:58] #530 closed

[2016-10-13 09:58] Yenthe666 commented on #486
Dear @orchidinfosys,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:58] #486 closed

[2016-10-13 09:58] Yenthe666 commented on #459
Dear @martinauger03,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:58] #459 closed

[2016-10-13 09:59] Yenthe666 commented on #375
Dear @gurneyalex,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 09:59] #375 closed

[2016-10-13 10:17] Yenthe666 commented on #711
Dear @a0c,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:17] #711 closed

[2016-10-13 10:17] Yenthe666 commented on #713
Dear @DeepSilver,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:17] #713 closed

[2016-10-13 10:18] Yenthe666 commented on #721
Dear @dreispt ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
This issue has been fixed in newer Odoo versions though.

Regards,
Yenthe

[2016-10-13 10:18] #721 closed

[2016-10-13 10:19] Yenthe666 commented on #770
Dear @qpeyramale,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:19] #770 closed

[2016-10-13 10:19] Yenthe666 commented on #822
Dear @karelvdesch,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:19] #822 closed

[2016-10-13 10:19] Yenthe666 commented on #794
Dear @gdgellatly,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:19] #794 closed

[2016-10-13 10:20] Yenthe666 commented on #795
Dear @gdgellatly,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:20] #795 closed

[2016-10-13 10:20] Yenthe666 commented on #867
Dear @guewen,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:20] #867 closed

[2016-10-13 10:20] Yenthe666 commented on #874
Dear @RoelAdriaans-B-informed,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:21] Yenthe666 commented on #890
Dear @rolandwells,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:21] #890 closed

[2016-10-13 10:21] Yenthe666 commented on #891
Dear @rolandwells,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:21] #891 closed

[2016-10-13 10:21] Yenthe666 commented on #892
Dear @hbrunn,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:21] #892 closed

[2016-10-13 10:22] Yenthe666 commented on #924
Hi @atuljain,

If you still face this issue please create a new topic on the official help forums (help.odoo.com) and I'm sure somebody can help you there!
The github tracker is only for issues in the official Odoo code, not custom development or questions.

Regards,
Yenthe

[2016-10-13 10:22] #924 closed

[2016-10-13 10:22] RoelAdriaans-B-informed commented on #874
@Yenthe666 as you may have read in the comment above yours, this is also present in version 8..

[2016-10-13 10:27] Yenthe666 commented on #985
Hi @watermelonjuice,

Thank you for your report.
In the meanwhile this has been fixed by not making the zip code mandatory.

Regards,
Yenthe

[2016-10-13 10:27] #985 closed

[2016-10-13 10:34] Yenthe666 commented on #874
Hi @RoelAdriaans-B-informed,

Could you give this another try on the latest V8 code please? Ideally on a V9 or V10 too, since those have more priority and fixes are done faster there.
I'll re-open the issue for now.

[2016-10-13 10:38] jl2035 commented on #600
Solution for Odoo 8: https://www.odoo.com/forum/help-1/question/is-it-possible-to-add-more-colours-to-uniform-colour-of-block-background-75186

But I need to do this in Odoo 9. I'm asking here: http://stackoverflow.com/questions/40016934/odoo-website-editor-how-to-add-custom-colors

[2016-10-13 10:42] Yenthe666 commented on #1191
Dear @rolandwells,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:42] #1191 closed

[2016-10-13 10:42] Yenthe666 commented on #1188
Dear @atuljain,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:42] #1188 closed

[2016-10-13 10:42] Yenthe666 commented on #1186
Dear @jorgenaranjoVauxoo,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:42] #1186 closed

[2016-10-13 10:45] Yenthe666 commented on #960
Dear @browseinfo,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:45] #960 closed

[2016-10-13 10:45] Yenthe666 commented on #961
Dear @sheltonfreddy,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:45] #961 closed

[2016-10-13 10:46] Yenthe666 commented on #958
@xmo-odoo any update on this?

[2016-10-13 10:46] Yenthe666 commented on #937
Dear @veloutin,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:46] #937 closed

[2016-10-13 10:46] Yenthe666 commented on #939
Dear @dsabrinarg,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs.
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:46] #939 closed

[2016-10-13 10:47] Yenthe666 commented on #439
Hi @kvangass,

@mart-e made a commit for this back in 2015 but this issue has never been closed.
Closing this since there has been a fix for it.

[2016-10-13 10:47] #439 closed

[2016-10-13 10:48] Yenthe666 commented on #880
Dear @kazacube-damien ,

Thank you for reporting this issue!
At this point Odoo 6.0, 6.1 and 7.0 are no longer supported for bugsfixes anymore, which means we will no longer handle these bugs (plus it is a duplicate).
If you still face this issue on Odoo 8, 9 or 10 we'd like to ask you to create a new issue on how to reproduce this.
Our apologies.

Regards,
Yenthe

[2016-10-13 10:48] #880 closed

[2016-10-13 12:10] kkinateder opened #13795 "Website_sale dublicate of method website_publish_button"
Method is in there twice!

https://github.com/odoo/odoo/blob/9.0/addons/website_sale/models/product.py#L165

https://github.com/odoo/odoo/blob/9.0/addons/website_sale/models/product.py#L169

regards,
Karsten

[2016-10-13 12:22] Yenthe666 commented on #13795
Hi @kkinateder,

Thanks a lot for your report, the method does indeed exist twice.
I've just created a PR to remove one of both functions. @mart-e could you merge that?

Regards,
Yenthe

[2016-10-13 12:25] elacunza commented on #530
Yenthe666, if you're trying not to receive feedback from community, I must say you're doing it very well! There was no Odoo 6.0, 6.1 nor 7.0!!

[2016-10-13 12:31] Yenthe666 commented on #530
Hi @elacunza,

I'm not sure what you mean? Do you mean that I'm closing issues while there is no tag telling which Odoo version it is? Odoo 8 was launched on july 7, 2014 which makes this issue an unsupported one.
This is just an attempt to clean up the Odoo issues and to filter out old ones. If the issue still persist the creator (or anybody else in fact) is free to create a new issue against V8,

[2016-10-13 12:34] Yenthe666 commented on #13795
Hi @kkinateder,

This issue has been fixed here: https://github.com/odoo/odoo/commit/cfe0dc6d3442f31ffb1638595daf330dc225b34c

Regards,
Yenthe

[2016-10-13 12:34] #13795 closed

[2016-10-13 12:58] elacunza commented on #530
You can look at my PR that is in fact for 8.0 #6073 . I don't see any way to tag this issue for v8...

[2016-10-13 13:06] mrshelly commented on #626
+1

[2016-10-13 13:10] jeffery9 commented on #626
this should be re-open, this issue affected all version.

[2016-10-13 13:16] Yenthe666 commented on #626
@jeffery9 the wishlist items are looked at, even if they're closed, so it'll keep popping up. 😄

[2016-10-13 14:17] bmart opened #13800 "KeyError body"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-10-13 14:17] #13800 closed

[2016-10-13 14:33] aristobulo-eezee opened #13801 "[9.0] account_asset: wrong state on depreciation line after journal entry removal"
**Impacted versions:**
9.0 (probably 10.0)

**Steps to reproduce:**
1.  Install `account_asset` module
2. Create a new asset.
3. Confirm asset
4. Click on generate entry button on any depreciation line. It generates an 'Unposted' journal entry (account.move)
5. Check line state, should be green = Posted.
6. Go to entries and delete the entry.
7. Check again the line state, still green = Posted, bu

[2016-10-13 15:48] JKE-be commented on #13783
Related PR #13803

[2016-10-13 16:07] algolconsulting commented on #9731
up, the issue it's still there, the solution [odoo-dev@025fa47](https://github.com/odoo-dev/odoo/commit/025fa4791c966cc35ad81f5664f25c8bd0502fb5), partially fix the issue, the same thing must be done on the kanban view in the base.view_partner_form template (still in the res_partner_view.xml).

[2016-10-13 16:20] JKE-be commented on #4006
Thanks for the reporting

It should be fixed meanwhile...

[2016-10-13 16:20] #4006 closed

[2016-10-13 17:12] tesserB commented on #13435
@Yenthe666 Another example, maybe?
[DB Normalization, DRY'er Code, immediately. Simplified Interfaces, down the road.](https://gist.github.com/tesserB/a9cd38f71366d1dfbca4a71277669e84)

[2016-10-13 17:57] bistaray commented on #12687
Update:  Bista has Odoo Support Ticket#690561 to track this.

They gave us an update today:

_The issue had been fixed in 8.0 with this commit : https://github.com/odoo/odoo/commit/7bdd4de8051afa11e3941f7ab930c96b2e82bbc7
I've discussed with Quentin and he has learned afterwards that apparently this fix was not the correct way of doing it, that's why it's not in 9.0 right now.
He will soon commit

[2016-10-13 18:01] max3903 commented on #12687
I discussed the issue with @qdp-odoo and @fhe-odoo during Odoo Experience last week. We are waiting for @fhe-odoo to contact Odoo's accountant to validate the solution.

[2016-10-13 20:56] emorris00 opened #13804 "[10.0] delivery module overrides stock.picking put_in_pack function and changes return value"
Impacted versions: 10

The put_in_pack function returns the created package unless you install the delivery module which makes it return either false or an act_window action.

[2016-10-13 22:07] saulih opened #13805 "[10.0] eCommerce checkout fails with Firefox"
Impacted versions: 10.0

Steps to reproduce: attempt to complete checkout process using Firefox browser
Current behavior: after selecting payment method and clicking "Pay Now" nothing happens
Expected behavior: should redirect to PayPal or whichever payment method was selected

Tested on latest nightly build of Odoo 10 community edition and free trial of hosted enterprise edition, same behaviour o

[2016-10-14 04:16] GoodERPJeff commented on #11721
Same issue on database_manager.html

normally potential customer can stand on english module descriptions (ref this issue and #626 )

but they will unhappy when first view after installation (database creation) is english ONLY

[2016-10-14 04:43] sandeepksrana opened #13806 "Can't installed Odoo 10 on CentOS because of missing repo on nightly builts"
Hi

can anyone solv the issue for RPM as nightly builts  **odoo.repo** having problem when update.. 404 can't find . Even i have gone through the browser all is setup but when update odoo 10 **odoo.repo** installing odoo 9 noarch

Anyone can you please solve it.

Thanks
Sandeep

[2016-10-14 04:52] Yenthe666 commented on #11721
@mart-e any update on this one? I still miss this feature and it would be neat for the Odoo app store too.

[2016-10-14 05:11] satriani-vai commented on #11149
is this option included in v10?

[2016-10-14 05:46] Yenthe666 commented on #11149
@satriani-vai it is not in V10. 😭

[2016-10-14 05:53] Yenthe666 commented on #13805
Hi @saulih,

Thanks a lot for your report!
I've just tested this on the latest Odoo 10 and can confirm that this is a bug:
![image](https://cloud.githubusercontent.com/assets/6352350/19377035/253049ae-91e3-11e6-9230-3abb4d561702.png)
@JKE-be can you look at this please?

[2016-10-14 06:23] sle-odoo commented on #13806
i'll have a look today

[2016-10-14 08:18] JKE-be commented on #13804
Hello,

Please, follow the template...

Until now, I m just reading somebody that write what the code do !

[2016-10-14 08:36] jlzhou opened #13808 "[10.0] filestore contents deleted by gc while creating first database"
Impacted versions:
10.0

Steps to reproduce:

1.fresh install ubuntu 16.04.1 and odoo 10.0 latest source code and depends libs.
2.start odoo by run
`/home/odoo/odoo-dev/odoo-server/odoo-bin -c /home/odoo/odoo-dev/community.conf`
3.open web browser, http://localhost:8069
enter new database options
- Database Name: demo,
- Email: admin
- Password: as you want
- Language: English
- Country: United St

[2016-10-14 08:47] jaronemo opened #13809 "Sale Subscription Module --Generate Invoice Error --V10"
Impacted versions: ODOO 10 Version

Steps to reproduce:
1.create sub order 0001
2. create sales order and mapping sub order 0001
3. confirm sales order and sub order
4. sub order 0001  touch generate invoice

Error message :
 File "/Users/jason/odoo-dev/odoo10/enterprise/sale_contract/models/sale_subscription.py", line 227, in recurring_invoice
    self._recurring_create_invoice()
  File "/Users/j

[2016-10-14 09:56] #13785 closed

[2016-10-14 10:16] mart-e commented on #11721
No that's not something we will implement. You need to add your content inside a view to be processed by Odoo

[2016-10-14 10:16] #11721 closed

[2016-10-14 10:52] adeptex opened #13812 "Reflected XSS and Unvalidated Redirects"
**Impacted versions** all

Odoo login process is vulnerable to Reflected XSS and Unvalidated Redirect attacks via the _redirect_ GET parameter. It is possible to inject arbitrary JavaScript code in the login page URL in the way that upon successful login, the user will have the injected script executed in their browser.

The source of the problem can be seen here:
https://github.com/odoo/odoo/blob

[2016-10-14 11:06] #13783 closed

[2016-10-14 11:06] #13805 closed

[2016-10-14 11:14] JKE-be commented on #13809
Hello,
An opw has been already open for this issue, so it will be fixed by our internal support team as soon as possible.
Thanks for the reporting.

[2016-10-14 11:14] #13809 closed

[2016-10-14 11:14] JKE-be commented on #13809
Hello,
An opw has been already open for this issue, so it will be fixed by our internal support team as soons as possible.
Thanks for the reporting.

[2016-10-14 11:27] JKE-be commented on #13812
Hello,

Can you confirm that you have apply the sec Adv 2016-07a #13179

Because it should be catched by this fix.

[2016-10-14 12:30] LordRatte commented on #13646
Thank you. That seems to work but if I do it in an Incognito window, I get:

[code]

[2016-10-14 12:32] JKE-be commented on #13646
About which URL ?

[2016-10-14 12:39] LordRatte commented on #13646
https://<server domain>/calendar/meeting/accept?db=<database>&token=c1a1f19e962346b0bee7d7163a187f23&action=114&id=994

[2016-10-14 12:42] bala2341 opened #13815 "XMLSyntaxError: Document is empty, line 1, column 1"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-10-14 12:43] bala2341 opened #13816 "_check_report raise UserError XMLSyntaxError(u'Document is empty, line 1, column 1',)"
File "/opt/AIMSERP/openerp/service/report.py", line 120, in _check_report raise UserError('%s: %s' % (exc.message, exc.traceback)) UserError: (u"Document is empty, line 1, column 1: (<class 'lxml.etree.XMLSyntaxError'>, XMLSyntaxError(u'Document is empty, line 1, column 1',), <traceback object at 0x7fd484e5e170>)", None) "

Impacted versions:

Steps to reproduce:

Current behavior:

Expected behav

[2016-10-14 12:52] JKE-be commented on #13646
I suppose that you removed the base_url and db yourself in the url that you provide ?

Can you reproduce on runbot ?
Because without more context, not easy to debug...

Do you have a dbfilter configured on your server ?

[2016-10-14 12:52] Yenthe666 commented on #13815
Hi @bala2341,

Thanks for your report but we really need more information in order to handle an issue.
Please create a new issue which tells us for which Odoo version this is and what the exact problem is.

Regards,
Yenthe

[2016-10-14 12:52] #13815 closed

[2016-10-14 12:58] bala2341 commented on #13815
i have Odoo 9  integrated with jasper report. while i click the print button i got the following error for "

odoo09 openerp.pooler: openerp.pooler.get_db_and_pool() is deprecated.
2016-10-14 12:32:11,442 19765 INFO odoo09 openerp.addons.jasperreports.jasper_report: Requested report: '/opt/AIMSERP/addons'
2016-10-14 12:32:11,442 19765 ERROR odoo09 openerp.service.report: Exception: Document is emp

[2016-10-14 12:59] Yenthe666 commented on #13815
Hi @bala2341,

The Github tracker is only for bugs in the official Odoo code. Jasper Reports is not from Odoo so this can't be handled here.
I'd advice you to create a new topic on the official help forums, where a lot of people can probably help you. See http://help.odoo.com/

Regards,
Yenthe

[2016-10-14 13:06] bala2341 commented on #13815
actually problem is not for jasper report. problem occur on  File "/opt/odoo/openerp/addons/base/ir/ir_actions.py", line 197, in render_report issue

[2016-10-14 13:18] LordRatte commented on #13646
Yes, I replaced them. How do I use runbot? There is no db filter on this specific server. Another one giving problems as well has a filter, though.

[2016-10-14 13:45] jeffery9 commented on #13809
what are the real mean for " ProgrammingError: can't adapt type " ？

[2016-10-14 14:17] satriani-vai commented on #11149
Sorry but I can't understand. Such important security feature is still not included. :(

[2016-10-14 14:27] JKE-be commented on #13646
you can connect to runbot with : http://runbot.odoo.com/runbot/7/9.0
You will arrive on the last build version of v9 enterprise.

Could you send me the new log ? The root cause of the bad request...

(http://runbot.odoo.com)

[2016-10-14 14:31] JKE-be commented on #13646
But about the initial problem, the bad request.

At first view, 2 reasons possible:
   - You are logged with a user A, and try to validate the invitation for user B
   - The attendee on the event has been deleted meanwhile

Here the code:
[code]

[2016-10-14 14:31] qdp-odoo commented on #12687
Here's the new version of the fix, soon to be deployed on 8.0 I suppose (waiting the redbot to be happy)... I didn't had the confirmation of fhe's accountant but as you all agree saying my previous fix was wrong, I surrendered ^^

You can test it on runbot (branch 8.0-staging-qdp) in the meantime.
Thanks for your contribution and (especially for this one) for your patience!

[2016-10-14 14:33] JKE-be commented on #13809
Usually, that arrive when a method send a browseRecord instead of an id.
We are waiting a id, but we receive a BrowseRecord that cannot be adapted to type int.

[2016-10-14 14:36] JKE-be commented on #13809
@jeffery9
In this case / this issue

[code]

`Sub` is a browseRecord, and cannot be adapted to string.

[2016-10-14 14:40] max3903 commented on #12687
:+1: LGTM

[2016-10-14 14:41] JKE-be commented on #13809
In this issue, the problem is:

[code]

subtype_id should be an integer, but are currently a browse record...

So the fix will be to replace
` subtype_id=self.env.ref('mail.mt_note')`
to
` subtype_id=self.env.ref('mail.mt_note').id
`

[2016-10-14 14:57] JKE-be commented on #13816
Please, fill in template, and for Odoo issue only ! Thank you

[2016-10-14 15:01] JKE-be commented on #13816
Related to #13815

Need step 'how to reproduce' on runbot ...

[2016-10-14 15:39] emorris00 commented on #13804
Impacted versions: 10
Steps to reproduce: Use put_in_pack function while delivery module is installed
Current behavior: False or action is returned
Expected behavior: Package is returned

[2016-10-14 15:47] emorris00 commented on #13804
Why was this closed?

[2016-10-14 15:53] JKE-be commented on #13804
We always don't know how to reproduce it .

Read guide lines: https://github.com/odoo/odoo/wiki/Contributing

I understand that the function is not clean and the return can be altered according the module installed... But you don't specify in which case it is a problem in the use of Odoo... ?

[2016-10-14 16:23] emorris00 commented on #13804
I don't think you understand, the mere fact that it changes the return value is the bug. I have code I wrote for Odoo 9 that uses the stock.picking put_in_pack function and relies on it returning the package it created. In Odoo 10 the delivery module breaks it because it changes the put_in_pack function to not return the package. That is a bug. I far as I can tell it doesn't break anything in the

[2016-10-14 16:52] premjawariya opened #13826 "Odoo AccessError No value found for account.payment.term(3,).note"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-10-14 17:20] sdalexander commented on #12687
@qdp-odoo  Thanks for that, it is much appreciated. especially by the customer...

I will test it and let you know.

also thanks to @max3903  and @bistaray

[2016-10-14 17:29] #3474 closed

[2016-10-14 17:31] #3472 closed

[2016-10-14 17:54] odony commented on #13435
@tesserB Thanks for the comprehensive explanation and reproduction data.
I have to admit I haven't analyzed your use case in details yet. However it seems you're trying to define a many2many relationship in an abstract `Actor` model that is later inherited by other models.

IIRC this has been supported by the Odoo framework since version 6.1, but it requires an important precaution: you must not f

[2016-10-14 19:17] JKE-be commented on #13826
Hello

Please, fill in template !

Which version ?
How to reproduce ?

Without it, we cannot help you !

[2016-10-14 21:10] premjawariya commented on #13826
Odoo 8.0 version and this error occurring  when a customer login and wants to print his invoice its working with one customer but occurring error with another one

[2016-10-14 21:25] JKE-be commented on #13826
What it the full traceback ?
Can you reproduce on runbot ? If not, it seems more a bug of installation, and so, you should ask on help.odoo.com...

What is the value of note for the 'payment Term' with id = 3 ?
Do you have some custo on access right ? acl ? ...