[2018-05-14 21:27] fmdl commented on #24712
I confirm this bug in V10 and V11.

[2018-05-14 22:01] avw-odoo commented on #18510
@guanhuan we are finishing "Improve the UK tax return (compare with XERO)"
and "Correct taxes (compare with XERO)" in master. I'll keep you posted when you can do some tests.

Best,

[2018-05-14 22:05] avw-odoo commented on #18510
Dear Odoo UK Partners,

we are seeking help to describe the requirements in order to comply with Tax Digital for VAT legislation.

Thanks a lot for you help

[2018-05-15 00:03] sylnsr commented on #11627
Same issue here, but simple to fix with running this against the affected DB:
    DELETE FROM ir_attachment WHERE datas_fname SIMILAR TO '%.(js|css)'

[2018-05-15 00:35] #24669 closed

[2018-05-15 00:36] gustavovalverde commented on #24616
Closed by 3416d4a7989e03be5fb77b5414395c14df63c076

[2018-05-15 00:36] #24616 closed

[2018-05-15 01:53] apisakoctcorp commented on #24674
After fresh installed odoo11 then install "Sales Management", there is no simple way to access country.
I really have to install "Contact Directory" then users could access to country.

Fresh installed odoo11:
![image](https://user-images.githubusercontent.com/37141354/40032053-a5f64056-581c-11e8-8b96-5b03514ee8a4.png)

After installed Sales Management:
![image](https://user-images.githubuserconte

[2018-05-15 02:37] Ark74 commented on #21671
@fgi-odoo how should this be approached by people interested?

Does Odoo development could be powered by https://www.bountysource.com/?
Or is this an EE matter only?

Cheers!

[2018-05-15 06:03] sparshprogrammer commented on #24699
I am using Gprinter thermal .....

[2018-05-15 06:05] Yenthe666 commented on #24669
@gustavovalverde I see you closed it without a comment, what happend to the OPW?

[2018-05-15 06:08] Yenthe666 commented on #24583
Hmm, the odd part is that I can reproduce it but the people from Odoo cannot. I've seen a video from them. They do exactly the same thing, with the same browser, and it works at their end. No clue what the difference is..

[2018-05-15 06:30] lap-odoo commented on #24639
@Guobower Hi, thanks for the suggestion however it's not in our plans to add this in Odoo Standard. That's a very specific need that only a few companies have and we don't want to make Odoo more complex  to support that specific use case.

[2018-05-15 06:48] #24639 closed

[2018-05-15 07:05] CasVissers opened #24725 "[11.0] Tax calculation incorrect for the Netherlands"
Impacted versions:
11.0

Steps to reproduce:
Create an invoice with 1 invoice line: 9 x 13,60 with 6% tax. The tax amount = 7,34
Create an invoice with 9 invoice lines: 1 x 13,60 with 6% tax. The tax amount = 7,38

Current behavior:
The calculation is done per line and then summed.

Expected behavior:
 It should be based on the total amount, thus 122,40

Video/Screenshot link (optional):
https://w

[2018-05-15 07:06] CasVissers commented on #24725
@Yenthe666 Are you aware of this issue?

[2018-05-15 07:32] gdgellatly commented on #24725
It's not really an issue. Just a setting. Change your accounting setting to
round globally rather 5han per line.

On Tue, 15 May 2018, 7:06 PM Cas Vissers, <notifications@github.com> wrote:

[2018-05-15 07:36] #22061 closed

[2018-05-15 07:38] Yenthe666 commented on #15456
@robertkein Pedro is doing this on a voluntary basis and is in no way affliated with Odoo S.A. This also means he is not being paid and does this to help other people, just like I do.
I guess you cannot complain a lot then, can you?

[2018-05-15 07:39] Yenthe666 commented on #24725
Indeed, is it not because you haven't rounded globally but per line? Can you check @CasVissers ?

[2018-05-15 07:40] CasVissers commented on #24725
:) Sorry!

[2018-05-15 07:40] #24725 closed

[2018-05-15 08:11] qsm-odoo commented on #24712
Mmh, strange. This bug was fixed weeks (months?) ago by @ged-odoo . I tested and it is indeed fixed in enterprise version but still appears in community version (which does not make sense to me as it was a general fix for both versions). Anyways, @ged-odoo 's team is the one to handle this kind of bug :wink:

[2018-05-15 08:47] pedrobaeza commented on #24712
Thanks, @qsm-odoo for the insight and ping!

[2018-05-15 09:03] basstone40 commented on #24666
Hi Pedobaeza,
The URL we are using is correct. What Javsalgar explained is what is happening. All the time the Odoo server is redirecting to http and not https, even if the url contained https. May you help on this?
We will real appreciate your support.
Regards,
Jubha

[2018-05-15 09:30] Yenthe666 opened #24731 "[9.0, 10.0, 11.0] Mass mailing unsubscribe link fails when having web.base.url that ends with '/'"
Impacted versions:  All stable versions

Steps to reproduce:
1. Create a new mass mailing e-mail and add an unsubscribe button in that e-mail template
2. Make sure your `web.base.url` parameter is set in the format `http://www.yourwebsite.com` (without a '/' at the end)
3. Send out the mass mailing (not as a test e-mail but real e-mail!) and check the unsubscribe button in the recieved e-mail. You

[2018-05-15 09:38] Yenthe666 commented on #24731
OPW 1848572

[2018-05-15 10:07] StuartJMackintosh commented on #18510
Alain (@avw-odoo), we have set the UK finance up for many companies on Odoo and this includes the chart of accounts (BS & PL), tax, fiscal positions, EC sales list and intrastat.

I will invite a member of our Odoo specialist team to join this thread and share some of the UK localisation work we have done and changes we have made to make UK implementation easier.

If you have any specific accounti

[2018-05-15 12:54] avw-odoo commented on #18510
Hello @StuartJMackintosh, regarding the changes you have made to make UK implementation easier:

 - For which Odoo version is ?
 - Can you summarize the gap between your work and the Odoo enterprise standard l10n_uk ?
 - Do you think we should merge your improvements in Odoo standard ?
 - Do you have a github branch with your work ?

Best,

[2018-05-15 13:08] StuartJMackintosh commented on #18510
Hello @avw-odoo

1. V8, V9, V10, V11 (All of the [OpusVL](http://opusvl.com/) work is based on the community editions.)
2. Stationary updates, configuration (fiscal position, CoA, tax, reports), additional reports for UK
3. You are welcome
4. Everything is within Git, we have modules that apply the changes. The developers would have to work out with you how to prepare a branch that would be easy t

[2018-05-15 14:27] ThomasBinsfeld opened #24740 "[9.0] Unit price onchange on vendor bills"
Impacted versions:
* 9.0

Steps to reproduce:
* Enable multi currencies
* Enable units of measure management on invoices
* Create a purchasable product with a cost (i.e. 33$)
* Create a vendor bill in a foreign currency
* Add the product on the invoice
* Change the unit of measure to 'Dozen(s)'
* Change the unit of measure to 'Unit(s)'

Current behavior:
* Changing the unit of measures infinitely

[2018-05-15 15:29] sswapnesh commented on #24583
Can you please pass the video?

[2018-05-15 17:05] aek opened #24742 "Bug with Many2one field domain not used for search more for One2many saved records"
Impacted versions:
v11.0, haven't tested on others

Steps to reproduce:
Edit a record with a o2m field, be sure that when a new record is add to the o2m field the form record contains a m2o field with a simple domain defined in the xml view

Current behavior:
After save and edit again the o2m record the m2o field in the o2m record form loose it's domain for the search more search popup.
I have fou

[2018-05-15 17:09] pedrobaeza commented on #24742
@ged-odoo can you check this?

[2018-05-15 17:37] intero-chz commented on #10003
FYI, i tried something and it is working like a charm.

models: `sale.order` and `sale.order.line`

1. extend `sale.order` with a computed field which depends on `order_line`, let me call it `max_line_sequence`, which will compute the maximum sequence of all lines

[code]
2. add the field invisible to the view(s) of `sale.order`
3. get the field value into the context of order_line in the view(s)

[2018-05-15 18:17] GavyMG opened #24743 "[MASTER] Error in vendor bill payment with a tax based on payment"
**Impacted versions:**

master enterprise (just FYI)

**Steps to reproduce:**

1. In Accounting / Configuration / Settings: in taxes set true the cash basic configuration
![image](https://user-images.githubusercontent.com/19410285/40074342-5f489656-5847-11e8-9fca-bb918d8124d2.png)

2. in  Accounting / Configuration / Taxes: set the purchase tax with tax_exigibility = base on payment.
![image](http

[2018-05-15 18:30] luistorresm commented on #24743
Hello @nim-odoo

We detected this error, only FYI,

This affects the Mexican reports on Master.

Regards

[2018-05-15 19:26] pedrobaeza commented on #24286
I would say that this is not a correct use case, as the costs are the same if you return the picking or not, as the thing that provokes the cost has been already expensed (like the delivery).

@sle-odoo what do you think?

[2018-05-15 19:55] pedrobaeza commented on #24666
I'm sorry, but this should be something in your end. Recheck proxy_mode is enabled in your Odoo conf, and your proxy is properly configured. You can try an all-in-one solution like https://github.com/Tecnativa/docker-odoo-base for avoiding deployment problems.

[2018-05-15 22:27] StuartJMackintosh commented on #18510
@ManishS-OpusVL - As discussed, see above.

[2018-05-15 22:48] aek commented on #15648
@pedrobaeza I have changed my views and models involved to avoid that issue, but the issue exist and could be happening right now on Odoo core modules and/or community modules. It's not my issue anymore but I share the details to let Odoo provide a solution or not to this topic that might cause other troubles in the future

[2018-05-15 23:01] celm1990 opened #24746 "[11] Pos and Sale - report all channels Sales Order wrong values"
**Impacted versions:**
11.0, tested on runbot
**Steps to reproduce:**
1. Configure TPV with Sales Channel
![image](https://user-images.githubusercontent.com/7775116/40087431-0f511f6c-5868-11e8-890a-b5f9c5091c33.png)
2. Configure Customer Taxes on products
![image](https://user-images.githubusercontent.com/7775116/40087492-5d0d9ae6-5868-11e8-9f69-3c14f1fff116.png)
3. Create a Order from POS(pos.ord

[2018-05-16 01:52] celm1990 opened #24747 "[11.0] Point of Sale- Price list not show discount to user"
**Impacted versions:**
11.0
**Steps to reproduce:**
Complementary to #16549
Configure TPV for enable pricelist
![image](https://user-images.githubusercontent.com/7775116/40091616-687142f0-587e-11e8-8862-d69abacb7e3f.png)
Enable Discount on Sale's configuration
![image](https://user-images.githubusercontent.com/7775116/40091658-9828e0de-587e-11e8-8a15-068d5099a58a.png)
Configure **Discount Policy**

[2018-05-16 05:59] tajwali commented on #22766
Is there a solution for this bug?

[2018-05-16 06:35] Yenthe666 commented on #24583
See https://youtu.be/tgavdPPhKpk

[2018-05-16 06:40] Yenthe666 commented on #24743
@qdp-odoo for your interest, broken in master.
@GavyMG bug reports against the master are not really needed as most likely all this code still changes / get fixed before the 12.0 release though.

[2018-05-16 07:04] Yenthe666 commented on #24693
This is actually desired behaviour and how the framework works if I'm not mistaking.
@mart-e can you verify please?

[2018-05-16 07:05] #24456 closed

[2018-05-16 07:33] javsalgar commented on #24666
Hi,
Apart from  https://github.com/Tecnativa/docker-odoo-base , is there an official Odoo container image that we can check if the issue appears?

[2018-05-16 08:08] ThomasBinsfeld opened #24751 "[9.0] Unit price on vendor bills with foreign currency"
**Impacted versions:**
* 9.0

**Steps to reproduce:**
* Enable multi currencies
* Make sure that the current rate of a foreign currency (i.e. EUR) is not 1.0 (i.e. 0.84)
* Create a purchasable product with a cost (i.e. 33$)
* Create a vendor bill in a foreign currency (i.e. EUR)
* Add the product on the invoice

**Current behavior:**
* The unit price will be 23.28 == (33 * 0.84) * 0.84

**Expected

[2018-05-16 08:18] javierjcf opened #24752 "[10.0]Key Error 'procelist' when loading TpV if we have a pricelist based on another pricelist."
Impacted versions:
v10
Steps to reproduce:
Load a PoS having a prielist based on another procelist, so the pricelist.version.item field base is 'pricelist'
Current behavior:
We get a Key Error 'pricelist' when loading products in TpV

This is because in the file parts/odoo/addons/product/models/product_pricelist.py, in method _compute_price_rule(), whe have the next code line:
**product.price_comp

[2018-05-16 08:30] pedrobaeza commented on #24752
Can you please propose a PR with this?

[2018-05-16 08:48] Yenthe666 commented on #24666
See https://github.com/odoo/docker and https://hub.docker.com/_/odoo/

[2018-05-16 08:48] pedrobaeza commented on #24666
But it doesn't contain the proxy part, so you will have the same configuration problem.

[2018-05-16 09:36] CybroOdoo opened #24755 "[11.0]Serial number tracking is not working properly with POS"
Impacted versions: Odoo v11

Steps to reproduce:
1: Make a sale in POS for an item having serial number tracking
2: Get out of the POS screen and Check the inventory operation related to that POS Order.
3: You can see the transfer is in 'Ready' state.
4: Check the serial number area

Current behavior:
The serial number is not filled even though we have given in POS screen.
Expected behavior:
Odoo

[2018-05-16 09:56] pedrobaeza commented on #24752
Closing as there's a current PR.

[2018-05-16 09:56] #24752 closed

[2018-05-16 10:29] Nick-OpusVL opened #24756 "HTML widget on form steals focus (and on large form causes the browser to scroll down)"
Impacted versions:

* 10.0 (at least)

Steps to reproduce:

* Checkout and add to your addons_path branch 10.0 of https://github.com/OpusVL/odoo-examples.git
* Create a database
* Log in as admin
* Install `example_html_focus_test` addon
* Go to Examples -> HTML Focus Stealing Test
* Click Create

Current behavior:

* The focus jumps down to the HTML widget at the bottom of the form
* If your scre

[2018-05-16 10:34] pedrobaeza commented on #24756
@ged-odoo I think this is interesting for you

[2018-05-16 10:39] pedrobaeza commented on #24755
@CybroOdoo I have just tried on runbot and that's because you don't have stock for that indicated S/N. Having stock of it, everything is done correctly:

![seleccion_001](https://user-images.githubusercontent.com/7165771/40112361-070323ac-5906-11e8-9236-4e81ab2d0569.png)

As PoS if offline and it supposes that if you are including a product, it's because physically is available, then everything sh

[2018-05-16 10:39] #24755 closed

[2018-05-16 10:41] pedrobaeza commented on #24747
This is because PoS doesn't support that feature yet. @pimodoo, is there any plans to support that?

[2018-05-16 10:47] Nimja opened #24757 "AttributeError: module 'stdnum.eu.vat' has no attribute 'country_codes'"
Impacted versions: Odoo 11

Steps to reproduce:
* Install odoo with requirements.txt
* Install VAT module
* Attempt to add VAT number to partner

Current behavior:
[code]

Expected behavior:
* VAT Validation works

Work around:
In your own requirements.txt: `python-stdnum==1.8`

It is caused by:
`vatnumber==1.2` => Which installs `python-stdnum==1.9`, which was released April 14th. This drops the

[2018-05-16 10:49] Nimja commented on #24757
I apologize, it appears to be fixed in the most recent commits.

[2018-05-16 10:49] #24757 closed

[2018-05-16 10:50] pedrobaeza commented on #24757
Yeah, in concrete thanks to #24395

[2018-05-16 11:04] sbidoul commented on #24751
OPW 1849212

[2018-05-16 14:43] hmrodrigues opened #24769 "[9.0] Unable to load Payments Matching; Javascript error"
Impacted versions:
9.0

Steps to reproduce:
Have a lot of unreconciled entries
Open Payments Matching for the diary where the unreconciled entries are

Current behavior:
Odoo gives a JS error saying: **Uncaught TypeError: Cannot read property 'animation_speed' of undefined**

Expected behavior:
Show the Payments Matching window

Video/Screenshot link (optional):

![unnamed](https://user-images.git

[2018-05-16 14:45] pedrobaeza commented on #24769
Can you reproduce the problem in latest runbot?

[2018-05-16 14:58] gmarcon commented on #22517
Same issue with Odoo CE 10.0-20171227 and Chrome 66.0.3359.181 (Official Build) (64-bit)

[2018-05-16 15:11] determin1st commented on #22517
You can put it in try...catch block to suppress browser warning and check that .rules property

[2018-05-16 15:38] Xurg commented on #19039
I've been setting up an Odoo 11 Community edition on Ubuntu and this "Undefined" column in Tasks does seem weird and should probably be rethought a little to make it more intuitive. But I think I understand why it's like that, as a place to put unsorted tasks until they can be moved to a more specific column. Or for tasks that don't fit the typical mold of a workflow and will never be assigned to

[2018-05-16 16:56] vincentius opened #24773 "Javascript error when adding an invoice line"
**Impacted versions:**
11.0 Community, 11.0 Enterprise (tested on the official Odoo Runbot)

**Steps to reproduce:**
Line 57 of the `account.invoice_form` Form View currently looks like this: `<tree string="Invoice Lines" editable="bottom">`
1. Remove `editable="bottom"` from the `account.invoice_form` Form View on line 57.
It should now look like this: `<tree string="Invoice Lines">`
2. Try to ad

[2018-05-16 17:05] vincentius commented on #24773
This worked with the release of a couple of weeks ago IIRC. But OK, i'll just redefine the form view then...

[2018-05-16 20:04] determin1st commented on #22517
i dont even know what odoo is! just stucked in this notification. how to get out) backend is over, forget it! the future is for browser side

[2018-05-17 00:28] moylop260 commented on #9457
@pedrobaeza Did you see the video from my comment: https://github.com/odoo/odoo/issues/9457#issuecomment-255894672?

[2018-05-17 04:08] luistorresm opened #24775 "Error whit raise in get_xml method"
Impacted versions:
Enterprise v11.0

Steps to reproduce:
1.- Install l10n_be_reports
2.- Remove the vat in the company
3.- Get the xml from partner_vat_intra

Current behavior:
A traceback is generated when I wait for a `raise`

Expected behavior:
A raise is show in the view.

Video/Screenshot link (optional):
https://www.youtube.com/watch?v=-eAK7AscNHQ

[2018-05-17 04:10] luistorresm commented on #24775
Hello @nim-odoo

We have this error also in the Mexican reports, the raise now not work, now generate an `Error: undefined` in a traceback.

Is the same with all raise in the `get_xml` methods.

[2018-05-17 05:53] Yenthe666 commented on #19039
Yep, indeed @Xurg 😉

[2018-05-17 06:36] Yenthe666 commented on #24775
@luistorresm maybe it it best to also create an official Odoo ticket?

[2018-05-17 07:17] erictang0825 opened #24776 "installing odoo11 service issue"
Impacted versions: 11

i download odoo 11 community on odoo website, then installing that,
but i can't open this url http://localhost:8069
                                      http://localhost:8069/web/database/manager
find service in my window service is not work,
try to restart that, but get some error message.

 can help me to fix this issue? thanks.

![o1](https://user-images.githubuserconten

[2018-05-17 07:30] pedrobaeza commented on #9457
@moylop260 I don't get the problem. `select=True` is deprecated, so simply don't use it. Any way, is this happening on v10/v11? v9 is its end of life cycle.

[2018-05-17 07:35] pedrobaeza commented on #24776
Sorry, but the information you provide doesn't indicate any problem, but this clearly a deployment problem, not a problem in Odoo itself. Windows is also conflicting itself for making deployments of Odoo. The preferred platform for deploying it is Linux, but any way, it should work at least.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-

[2018-05-17 07:35] #24776 closed

[2018-05-17 08:15] Yenthe666 commented on #23507
This is improved for Odoo 10.0 in https://github.com/odoo/odoo/commit/a16114efb43da7a14113b061b2ed0f110b668c74 - it now shows a nice text.
The second field is not always 0.0 and will be set for untracked moves when setting the quantity

[2018-05-17 08:15] #23507 closed

[2018-05-17 08:22] schout-it opened #24779 "gevent.wsgi does not exist in 1.3"
https://github.com/odoo/odoo/blob/77aa313b141b9b4c79fa8e24ed0984a9d5c955fe/odoo/service/server.py#L366

gevent.wsgi became gevent.pywsgi in gevent 1.1.0
version 1.3.0 released a couple of days ago removed the backwards compatibility

[2018-05-17 08:37] Elkasitu commented on #24779
I don't see the problem as we specify gevent 1.1.2 in `requirements.txt`

[2018-05-17 08:39] gdgellatly commented on #24779
? It was deprecated in 1.1.0. Why would you not want to fix?

On Thu, 17 May 2018, 8:37 PM Adrian Torres, <notifications@github.com>
wrote:

[2018-05-17 08:40] Elkasitu commented on #24779
Because it's not broken

[2018-05-17 08:46] gdgellatly commented on #24779
So let me get this straight.  You can deploy a non breaking futureproof fix
now using the current API of the pinned version of the lib for which a PR
has already been created, or you can keep the deprecated one, put up with
complaints until such time as you update your requirements file and create
your own PR then?  Seems like a waste of everybody's time for me.

On Thu, May 17, 2018 at 8:39 PM, G

[2018-05-17 08:51] usinepi commented on #9528
Hi !

I'm still encountering this problem with Odoo V.9 community.
But just with one client ! All the settings seem to be the same but just one has this 403 error.
The client / I updated this profil or it has maybe been created in a different way that could explain why it's working differently with it.
Anyway, any ideas would be welcome !
Thanks !

[2018-05-17 08:58] JKE-be commented on #9528
Can you show us your log ?

you can also try to go to your.website.com/shop?debug=1 to have more info on which model your user is not allowed to read.

[2018-05-17 09:13] Elkasitu commented on #24779
I did not see the PR ([don't create issues if you create a PR](https://github.com/odoo/odoo/blob/11.0/CONTRIBUTING.md)), which might change things.

But as a rule of thumb, we don't fix something that's not broken just because it might be broken in the future even if the change *seems* seamless.

[2018-05-17 09:13] #24779 closed

[2018-05-17 09:17] usinepi commented on #9528
This is the info I get :
(u'The requested operation cannot be completed due to security restrictions. Please contact your system administrator.\n\n(Document type: res.partner, Operation: read)', None)
How can I give access to res.partner to this client (his info only) ?

[2018-05-17 09:19] Yenthe666 commented on #24779
https://github.com/odoo/odoo/pull/24780
Linking to the PR to have it here. To me this looks like a good fix with very little harm though @Elkasitu
In general dependencies are very outdated for Odoo.

[2018-05-17 09:49] usinepi commented on #9528
I did it (debug mode) : I clicked on this user and another one working but I didn't see any difference.
Just "portal" selected.
They are all in the group "Other Extra Rights / Portal" with same permissions.
What is ACL :-)... sorry ?

[2018-05-17 11:59] DR4RCON opened #24788 "[11.0] wrong redirect after drop db"
Impacted versions: 11.0

Steps to reproduce: In FF. Goto /web/database/manager and delete a db from list

Current behavior: You will be redirected to /web/database/drop and get an error 500

Expected behavior: You should stay in /web/database/manager and view the reduced db list

[2018-05-17 12:03] Yenthe666 commented on #24788
Hi @DR4RCON,

This actually works fine. Just tested on the last 11.0 and dropped a database in Firefox.
The direct to /web/database/drop is also intended and desired behaviour.

[2018-05-17 12:03] #24788 closed

[2018-05-17 12:05] DR4RCON commented on #24788
Thanks for your response. What does I have to expect at that path?

[2018-05-17 12:16] yung-wang opened #24789 "[11.0 -->] Sorting on fields is not working properly"
Impacted versions:
V11 and higher

Steps to reproduce:
1. Go to a task and enter directly some timesheets lines in the task.
2. Now try to sort on the field Employee.
3. You will see that the sorting is not working properly, see screenshot.

![selection_001](https://user-images.githubusercontent.com/30628967/40176766-ca97c0bc-59dc-11e8-98d7-cbbcf17068f3.png)

Current behavior:
You cannot sort on t

[2018-05-17 14:12] luistorresm commented on #24775
Done @Yenthe666, the ticket is #1849574

Regards

[2018-05-17 14:15] Yenthe666 commented on #24775
Great, thanks a lot!

[2018-05-17 14:17] DR4RCON commented on #24788
Yes, was my mistake. Wrong Tracker. That problem relies to queue_job, which raises an exception, when the database is dropped.
[code]
Will report there.
Thx @Yenthe666

[2018-05-17 17:18] sswapnesh commented on #24789
May be related to #24019

[2018-05-17 19:38] ged-odoo commented on #24789
that is weird. i am actually curious

[2018-05-17 22:40] GavyMG opened #24796 "[11.0] hr_payroll_account: Journal Entry without Items when it's confirmed directly"
**Impacted versions:**
v11

**Steps to reproduce:**

1. Install hr_payroll_account
2. Configure a salary rule
3. create a payslip and confirm

Current behavior:
A journal entry is created without items.
![image](https://user-images.githubusercontent.com/19410285/40207173-3185bdbe-5a01-11e8-99e4-646a0fc4c009.png)

Expected behavior:
create the journal entry with all items like it's created when the

[2018-05-18 06:09] sqxccdy commented on #24464
ir.model.fields define real field name is "on_delete"..function _instanciate_attrs rename "on_delete" to "ondelete". ....It is not all case is active and work

[2018-05-18 06:25] Yenthe666 commented on #23394
@avw-odoo (cc @lap-odoo) can we please ask for an update here? We would really want to have this in V12.

[2018-05-18 06:44] omalbastin opened #24797 "[Not a issue] It should be a tansient model"
Not a issue. I believe It should be a tansient model.
https://github.com/odoo/odoo/blob/4e71bd5caf741b8b45b037fc8b4222927801ff18/addons/account/models/account_bank_statement.py#L32

[2018-05-18 06:52] avw-odoo commented on #23394
Well noted in our internal tasks, I keep you posted as fast as i can.

Have a good day.

[2018-05-18 06:56] GoodERPJeff opened #24798 "where is report_sxw from version 11 ?"
Impacted versions:
11, master

Steps to reproduce:

from odoo.report import report_sxw

Current behavior:

no module named odoo.report

Expected behavior:

should be work

Video/Screenshot link (optional):

the report directory under odoo directory was removed from odoo11, how we can add parser for qweb ?

[2018-05-18 07:14] pedrobaeza commented on #24798
Old SXW engine was removed already in v11, so it's expected to not be found. You should update your code with current engine tools.

[2018-05-18 07:14] #24798 closed

[2018-05-18 07:17] GoodERPJeff commented on #24798
@pedrobaeza what is the current engine tools for adding custom method to be called in t-esc of qweb?

[2018-05-18 07:19] pedrobaeza commented on #24798
I have overwriting other times `get_html` method.

[2018-05-18 07:26] bariserdogan commented on #24547
Thank you so much for your development.
I need to wait for the merge to update my source code correctly?

[2018-05-18 07:33] Yenthe666 commented on #24547
@tusu77 I do not work for Odoo and only manage issues on a voluntarely basis. In short: @alexkuhn is working on this (as you can see from the commits). When it is fixed he will close this issue and link to the relevant fix.

[2018-05-18 07:34] Yenthe666 commented on #23394
Okay, thanks a lot @avw-odoo! Have a good day too.

[2018-05-18 08:49] qdp-odoo commented on #24797
mmh... I think we left that as a non-transient model for the case where you want to check the current balance of the cashbox during its use.

For example, if you're using the cashbox for a long period without closing it (because there isn't a lot of operations made on it), let's say a week or a month, but you wanna check the balance from time to time. It might be useful to restart the counting bas

[2018-05-18 11:31] giusygiallara93 opened #24808 "Sending mail to wrong recipients in 'Sales'"
Impacted versions:10.0

Steps to reproduce: I create an order, I send the order e-mail, I remove the customer's e-mail address (which I visualize of defaut) and insert another e-mail associated with a contact.

Current behavior: Send me the same email to the customer's email (which I did not enter) and also to the other email that I entered. I have this error both in sending orders and in invoices

[2018-05-18 11:38] pedrobaeza commented on #24808
I think you are not understanding the social mechanism of Odoo. To start with, Odoo is not a mail client. It's a system who takes care of being a hub of all communications, and this is through followers. If someone is a follower of one thread, he/she will receive the email. Adding other emails in the compose wizard you will add that partner to the thread, but not remove the others.

So to achieve

[2018-05-18 11:38] #24808 closed

[2018-05-18 12:46] zeroheure opened #24810 "web editor should keep non-breaking space in website"
Impacted versions:
8, 9, 10, 11

Steps to reproduce:
Choose a long text on your website. At the end of a line, add a non-breaking space before a ponctuation sign (or a word), does it with your keyboard, not with an html entity. Resize the box or the window.

Current behavior:
The ponctuation sign goes a the beginning of the next line. Non-breaking space is replaced. User quickly shout at technical

[2018-05-18 13:03] gustavovalverde opened #24812 "[10.0] Can't open POS after upgrading to last commit"
Impacted versions:
10.0

Steps to reproduce:
Upgrade
Open POS

Current behavior:
[code]

Expected behavior:
Open the POS

[2018-05-18 13:04] gustavovalverde commented on #24812
@kebeclibre might this be related to your commit?

[2018-05-18 14:00] gustavovalverde commented on #24812
It's weird, I actually cleaned the storage with Chrome's developer tool and also the cache; it still happened. Just doing it on an Incognito made it work.

I'll close this, as there might be something hanged there.

[2018-05-18 14:00] #24812 closed

[2018-05-18 15:08] qdp-odoo commented on #24743
was broken since https://github.com/odoo/odoo/commit/d3d26120614139fd7d7e888bd66d21de5158a034

was fixed in https://github.com/odoo/odoo/commit/e2864c8

Thanks for the report :+1:

[2018-05-18 15:08] #24743 closed

[2018-05-18 15:33] #24547 closed

[2018-05-18 15:34] GoodERPJeff commented on #24798
I will try this solution later

https://www.odoo.com/zh_CN/forum/help-1/question/is-it-mandatory-to-inherit-report-sxw-rml-parse-for-custom-report-even-with-odoo-8-97653

[2018-05-18 15:34] alexkuhn commented on #24547
Hello, this bug should be fixed with this commit: https://github.com/odoo/odoo/commit/8ac98fc78a3794e06481b02a431bcdc386a5a6ee

[2018-05-19 01:44] pedrobaeza commented on #23410
@rco-odoo I let you see this to decide what is the problem here.

[2018-05-19 06:53] CakJuice commented on #24023
I think the problem is wkhtmltopdf need --cookie <name> <value> argument

[2018-05-19 09:38] raishak6 commented on #17093
As far as Windows 10 is concerned, I think this is just an OS Version/Build issue. I experienced the same problem on my Windows OS generally and Initially I thought it was a Windows OS non-compatibility issue with Odoo, but my assumption changed when I got a new PC with a very recent Windows 10 Pro Edition and when I launched Odoo on it the negative sign was coming out correctly in all PDF reports

[2018-05-19 11:18] pedrobaeza commented on #17093
Closing this as an OS specific thing.

[2018-05-19 11:18] #17093 closed

[2018-05-19 13:58] ronozoro opened #24821 "_quant_reconcile_negative is very solw with large amount of negativate quants"
Impacted versions:
  -Version 8.0
Steps to reproduce:
  -Sell a lot of products without stock (create a lot of negative quants)
  -try to create an opening balance by doing receipt pickings
Current behavior:
  -The transfer process take a lot of time (1.5-2 hours) per transfer with only 20-40 products to receive
Expected behavior:
  -Shouldn't take that long !

[2018-05-19 14:42] JADCO5692 opened #24822 "PoS MultiCompany Issue"
Impacted versions:
v10

Steps to reproduce:
Create Two Companies
- Admin(Company A)
- Emp 1(Company b)

Try to make a PoS sale using Emp 1.

Current behavior:
It would say, Multi company issue

Expected behavior:
No error should be raised

Video/Screenshot link (optional):
Files to change
- https://github.com/odoo/odoo/blob/10.0/addons/point_of_sale/models/pos_order.py
- Screenshot added (Remove s

[2018-05-19 15:58] pedrobaeza commented on #24822
Can you specify the exact error?

[2018-05-19 16:35] pedrobaeza commented on #24821
Sorry, but version 8 is already out of its life cycle and it doesn't receive support anymore. Migrate to a newer version, where this process has been already improved.

[2018-05-19 16:35] #24821 closed

[2018-05-19 19:05] ronozoro commented on #24821
@pedrobaeza actually the issue is still with v10 too. Is v10 also doesn't receive support anymore?

[2018-05-19 20:05] GlobalManager opened #24823 "Page number in footer don't change in QWeb reports. Odoo Community"
Impacted versions: Odoo Community 10.0

Steps to reproduce: Print a Purchase Order, the page number in footer don't change, if many pages are printed.

Current behavior: Page number in footer don't change, if many pages are printed in QWeb reports.

Expected behavior: The page number should show the current number of the page printed.

Video/Screenshot link (optional):

[2018-05-19 21:27] GlobalManager commented on #24823
It is working. But it is printing the page for each purchase order, for example. It is a feature. Thank you.

[2018-05-19 21:27] #24823 closed

[2018-05-19 23:11] gustavovalverde commented on #22887
Combining both messages covers more use cases than trying to overwrite the original `sale_note`. If the sale note is important for that subscription product, then why overwriting it?

[2018-05-19 23:36] gustavovalverde commented on #24266
Why is the PO blocked on validation? Shouldn't this be an additional step? Or maybe just get locked if an item from the picking was received.

[2018-05-19 23:38] gustavovalverde commented on #24286
What I've seen is a Landed Cost validated by mistake; and those mistakes are **costly**; because there's no refund, cancel or anything.

There should be an option to at least cancel a landed cost; or a procedure to undo the mistake.

[2018-05-20 11:06] ronozoro opened #24825 "_quant_reconcile_negative method is very slow with large amount of negativate quants"
Impacted versions:
  -V10.0 & V8.0
Steps to reproduce:
-(Deliver 'Short sale') a lot of products without stock (create a lot of negative quants)
-try to create an opening balance by doing receipt pickings
Current behavior:
-The transfer process take a lot of time (1.5-2 hours) per transfer with only 20-40 products to receive
Expected behavior:
-Shouldn't take that long !

[2018-05-20 13:16] Yenthe666 commented on #24821
@ronozoro 10 is still reported. Can you update the initial comment to the V10 issues and reproducible steps? If that is done then ping me back and I'll reopen.

[2018-05-20 14:11] ronozoro commented on #24821
@Yenthe666 No need to reopen,i created a new one #24825 as the problem is seen in both v8 and v10.Reconciling negative quants takes a lot of time due to spiting and merging.I had to stop this function to be able to transfer the opening balance records.

[2018-05-20 21:04] vcloud9ray commented on #24712
I confirm this is fixed in MASTER Enterprise on Runbot - tested at http://329345-master-27e9dc.runbot16.odoo.com/web/login - but with v10 Enterprise on Runbot - tested at http://329558-10-0-ee00d4.runbot16.odoo.com/web/login - clicking in the view scrolls the entire view so the link you clicked on is the very last line on the screen.

Clicking in the view shouldn't have any effect on scrolling, IM

[2018-05-20 21:12] ged-odoo commented on #24712
the issue seems to be an issue fixed with an update of the ace library. In theory, it is fixed in saas-11.1 (or 11.2? or 11.3).  A library update is a breaking change, so not really a good idea to put it in 10.0/11.0 (even though it should work I guess)

[2018-05-21 01:32] vcloud9ray commented on #24712
I agree a library update is breaking the 'stable' release policy - thanks for the update @gde-odoo !

[2018-05-21 05:07] JADCO5692 commented on #24822
Following is the error screenshot:
![image](https://user-images.githubusercontent.com/5710396/40291308-c912fff6-5ce1-11e8-8812-27094972973c.png)

Following is the error log
[error_log.txt](https://github.com/odoo/odoo/files/2021295/error_log.txt)

[2018-05-21 06:49] frankmiao2015 opened #24828 "how to add attachment in helpdesk when submit ticket on website form?"
Impacted versions:10

Steps to reproduce: submit ticket on website form

Current behavior: no attachment field

Expected behavior: Add attachment field

Video/Screenshot link (optional):

Normally when a customer submit a ticket, he mostly have a proof for attachment. It is kind of basic function for all ticket system. But I can not see how to add a attachment on website form when submit an issue

[2018-05-21 07:13] pedrobaeza commented on #24828
As this is an enterprise option, please submit an OPW ticket through https://www.odoo.com/help, but this is mostly a question, so maybe a better host for it is the official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups).

[2018-05-21 07:13] #24828 closed

[2018-05-21 09:23] npr4790 opened #24829 "Payments receipts by Email"
Impacted versions: V11 EE

Steps to reproduce: Customer Payments> select two or more payments from same partner > click Action>send receipt by mail

Current behavior:It only selects only one Payment and also mail template shows message about on payment

Expected behavior: It should attache all payments and should compute and mention total value of selected payments.

Video/Screenshot link (optiona

[2018-05-21 10:58] minaeid90 opened #24831 "Duplicate of tables in pos restaurant"
Impacted versions: 11

Steps to reproduce:

Add new tables in POS screen, close the screen and resume the session again, the tables you created duplicate

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-05-21 17:11] JulioSerna opened #24835 "[stock_account] button to_refund with widget boolean_toggle not visible"
Impacted versions:
* 11.0

Steps to reproduce:
in one picking in done try to return and in the line of return pass to True the button to_refund

Current behavior:
when I want to clic in button the field is disable and not change to True and the widget looks like invisible,
![wh in 00107 odoo](https://user-images.githubusercontent.com/7595505/40320037-de52aef8-5cef-11e8-8e2d-52459ab07a2f.png)

Expe

[2018-05-21 17:30] zeryabmoussaoui opened #24836 "Cannot sort on pivot table using attribute _order of Model class"
Impacted versions: 10.0

Steps to reproduce:

Define in my model inheritence class an attribute "_order" desc for a variable of Fields.Date
In order to use this in a pivot table ( to sort by date desc the agregate values)
There is no overide on sorting ( no default_order defined)

Current behavior:

The  _order sorting is not taking into account in my pivot table

Expected behavior:

I expect the

[2018-05-21 22:04] tibo-bogota opened #24838 "Freeze during installing apps"
Impacted versions: 10.0

Steps to reproduce: I install varios addons (web responsible, Backend Theme, Odoo web login) and then it just freeze when I want to installed any new apps. I try few time, and it's all the them. I don't undustand, it work before. What can I do ?

Current behavior:  Freeze during installation of apps.

Expected behavior: install new apps

Video/Screenshot link (optional):

[2018-05-22 02:19] seemugia1 opened #24839 "Error when i switched into kanban view(different error in different feature)"
Impacted versions: 11.0

Steps to reproduce:
1. activate developer mode
2. Go to Sales->quotation //or any other features which started with list view
3. open developer tools->edit list view->view type change into kanban view
4. Save and refresh

Current behavior:
-If i do this error in quotation feature, it shows: Uncaught TypeError: Cannot read property 'tag' of undefined
-but if i do this error

[2018-05-22 03:18] Caltdi commented on #20158
In odoo 10.0c on LinuxMint 18.3 it has a very similar error, but the code is for odoo 11.0c. Is there a solution for Odoo 10.c?

[2018-05-22 03:41] sum1201 opened #24840 "I can't specify a route for product variants individually"
Impacted versions:
11.0
Steps to reproduce:
- I create a Product Template A , A have 2 product variant:A1,A2.
- I want to set product A1 's route  only to  buy, prodct A2's route only to manufacture.
- When I set A1's route to buy, product A2's route had set to buy .

How to set produt
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-05-22 06:18] Yenthe666 commented on #24822
Should be @pimodoo 😄

[2018-05-22 07:17] pedrobaeza commented on #24838
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in that code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if someone can help you.

[2018-05-22 07:17] #24838 closed

[2018-05-22 07:20] synersyserp opened #24842 "No content helper keeps appearing after deleting a record in List view with editable="top" option"
Impacted versions: Odoo version 10

Steps to reproduce:
List view with option editable="top" (or bottom)

e.g.

Delete a record > Save

Current behavior:
No content helper (class="oe_view_nocontent_create") keeps appearing after delete record in List view with option editable="true" even though it's not yet empy

Expected behavior:
No content helper (class="oe_view_nocontent_create") should only b

[2018-05-22 07:20] pedrobaeza commented on #24839
You sho
Hi, I'm not able to reproduce this problem in latest runbot version, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it can be due to a third party module

[2018-05-22 07:20] #24839 closed

[2018-05-22 07:26] pedrobaeza commented on #24840
Currently, the routes are set by template, not by variant, so this is not going to change for v11. For getting the desired behavior, you need to program a custom module.

@jco-odoo I suppose there's no plan for changing this for upcoming versions, isn't it?

[2018-05-22 07:28] pedrobaeza commented on #24842
Hi, I'm not able to reproduce this problem in latest runbot version, so I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it can be due to a third party module or indee

[2018-05-22 07:28] #24842 closed

[2018-05-22 07:35] pedrobaeza commented on #958
I think we can finally close this, as no answer nor plans. An OCA module has been developed meanwhile for having this feature: https://github.com/OCA/server-tools/tree/8.0/base_name_search_improved

[2018-05-22 07:35] #958 closed

[2018-05-22 07:35] pedrobaeza commented on #1361
Closing this as very old and probably already handled.

[2018-05-22 07:35] #1361 closed

[2018-05-22 07:37] pedrobaeza commented on #1493
@odony any news about merging the commit in master?

[2018-05-22 07:37] jco-odoo commented on #24840
Indeed, no plans for this.

[2018-05-22 07:37] #24840 closed

[2018-05-22 07:38] pedrobaeza commented on #2288
This has been changed so long ago, so I close it.

[2018-05-22 07:38] #2288 closed

[2018-05-22 07:39] pedrobaeza commented on #2420
@xmo-odoo any news about this wishlist?

[2018-05-22 07:40] pedrobaeza commented on #2468
This is already done on module base_geolocalize, so I close.

[2018-05-22 07:40] #2468 closed

[2018-05-22 07:42] pedrobaeza commented on #2685
Closing this as the import tool has received several visual refinements, although the combo-box has not change too much, but larger widths will force to have larger side scroll, which will be uncomfortable for other things. As the column title is used to match the field, that should be the technique used for checking the imported field.

[2018-05-22 07:42] #2685 closed

[2018-05-22 07:46] pedrobaeza commented on #2693
@rco-odoo are there any plan for supporting this on v12 ORM?

[2018-05-22 07:47] pedrobaeza commented on #2744
This has been implemented on the enterprise interface. You also have OCA module web_responsive or other community modules for doing so, so closing this.

[2018-05-22 07:47] #2744 closed

[2018-05-22 07:51] pedrobaeza commented on #16044
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-05-22 07:51] #16044 closed

[2018-05-22 07:52] pedrobaeza commented on #16043
Hi, this seems something related to your deployment, so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/10.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing the problem.

[2018-05-22 07:52] #16043 closed

[2018-05-22 07:53] usinepi commented on #9528
Any idea ?

[2018-05-22 07:55] pedrobaeza commented on #16033
You have to define a `name_get` method for achieving what you want. Closing as no real issue.

**Disclaimer**: I'm not an Odoo employee, but a community member that voluntary contributes to triage / classify / solve issues. Take also into account that there's no obligation to answer nor solving things put in Odoo Community issue tracker. And thus, please consider this as a best effort initiative.

[2018-05-22 07:55] #16033 closed

[2018-05-22 07:56] pedrobaeza commented on #16003
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/10.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-05-22 07:56] #16003 closed

[2018-05-22 07:56] pedrobaeza commented on #15993
Is this still happening with latest code?

[2018-05-22 07:56] Linekio opened #24843 "[11.0] Issue with widget handle"
Impacted versions:
11.0
Steps to reproduce:
Add some items on a X2many field with widget="handle".
Reorder them using the widget.
Add a new item.
Current behavior:
The new item isn't at the bottom.
Expected behavior:
The new item should be at the bottom.
Video/Screenshot link (optional):
[Video](http://www.k-upload.fr/afficher-video-2018-05-22-1e97dba66output.mp4.html)

[2018-05-22 07:57] pedrobaeza commented on #16041
Is this still happening in latest code?

[2018-05-22 08:04] pedrobaeza commented on #15987
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-05-22 08:04] #15987 closed

[2018-05-22 08:05] pedrobaeza commented on #15954
Datetimes are presented in UTC if no tz context key is passes, so this not an actual issue, but misunderstanding on how to work with this, and thus I'm closing it.

[2018-05-22 08:05] #15954 closed

[2018-05-22 08:07] pedrobaeza commented on #15951
@ged-odoo I have also experimented this in the module https://github.com/OCA/account-financial-tools/tree/10.0/account_balance_line. Is this has been fixed meanwhile?

[2018-05-22 08:08] pedrobaeza commented on #15949
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-05-22 08:08] #15949 closed

[2018-05-22 08:10] pedrobaeza commented on #15932
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-05-22 08:10] #15932 closed

[2018-05-22 08:16] pedrobaeza commented on #24843
Already notified in #10003, so we continue there.

[2018-05-22 08:16] #24843 closed

[2018-05-22 08:16] JKE-be commented on #9528
debug mode > settings > groups > filter by "users contains user 1"

vs

debug mode > settings > groups > filter by "users contains user 2"

you should see an extra group probably.

[2018-05-22 08:17] pedrobaeza commented on #15930
@jleaders is this still happening? I'm understanding that the problem is on the backend manipulation, but not on frontend.

[2018-05-22 08:18] pedrobaeza commented on #15927
This has been changed recently in a commit, but I don't have right now the exact reference. Please try again to see if the problem is still there, and if so, please comment back. Meanwhile, I close this.

[2018-05-22 08:18] #15927 closed

[2018-05-22 08:19] pedrobaeza commented on #15915
Closing as this has been discussed somehow in other points more unfolded.

[2018-05-22 08:19] #15915 closed

[2018-05-22 08:21] #15900 closed

[2018-05-22 08:26] JKE-be commented on #9528
pm me to stop to spam on this tread ;)

jke odoo com

[2018-05-22 08:29] pedrobaeza commented on #15894
This is because Odoo has changed the meaning of the field. The cost price is only used for registering back the average cost valuation price, but not for purchase quotations, where the suppliers list must be used. I know that in v8 this price was used as a fallback for the purchases if no supplierinfo is found, but this was confusing for some users, and thus it was removed.

Closing as no real iss

[2018-05-22 08:29] #15894 closed

[2018-05-22 08:30] pedrobaeza commented on #15887
Closing as no answer.

[2018-05-22 08:30] #15887 closed

[2018-05-22 08:31] pedrobaeza commented on #15822
Closing as no answer.

[2018-05-22 08:31] pedrobaeza commented on #15605
Closing as no answer.

[2018-05-22 08:31] #15605 closed

[2018-05-22 08:32] usinepi commented on #9528
@JKE-be Sorry ;-)

[2018-05-22 08:32] pedrobaeza commented on #15563
Closing as no answer.

[2018-05-22 08:32] #15563 closed

[2018-05-22 08:34] intero-chz commented on #20854
Forgot that i've already get some answers:

and

[2018-05-22 08:34] #20854 closed

[2018-05-22 08:35] pedrobaeza commented on #15476
Closing this as no answer.

[2018-05-22 08:35] #15476 closed

[2018-05-22 08:35] intero-chz commented on #15951
I had opened an enterprise ticket and quoted the answers here: #20854

[2018-05-22 08:38] pedrobaeza commented on #15475
@mart-e any news about this?

[2018-05-22 08:44] pedrobaeza commented on #15951
Then the answer seems clear:

But they're still unsure because they have a lot of work to do, while trying to make the frontend more stable.

Closing this.

[2018-05-22 08:44] #15951 closed

[2018-05-22 08:47] tde-banana-odoo commented on #16041
It depends on how you use the template. If you use it to post on a document it does not take the reply-to from the template. It considers you are using the template mainly for the body and recipients computation, not for redirection.

You may have a look at the "no_auto_thread" field and how it is used through the composer. It controls that behavior. By default when posting on a document it is set

[2018-05-22 08:51] pedrobaeza commented on #16041
Then this can be considered as answered.

[2018-05-22 08:51] #16041 closed

[2018-05-22 08:56] Yenthe666 commented on #15822
Honestly this way you can close off any single issue reported. You ask a response from somebody at Odoo while they usually don't even respond (and especially not that fast). Besides, Martin was on holiday for over a week.
I'm sorry but I genuinely do not agree with closing off everything so easily. You either get a solution / answer or you leave it open.

[2018-05-22 09:18] Yenthe666 commented on #15822
Oh and on a sidenote: @mart-e labeled it "Functional review", which means he cannot decide for this one but somebody from the Functional team should. I'm reopening this.

[2018-05-22 10:26] Linekio opened #24846 "[11.0] Character encoding in message notification"
Impacted versions:
11.0
Steps to reproduce:
Fill the parent_id field of an user.
Put a quote (') on the parent_id's name.
Send a message from this user.
Current behavior:
Display & #x27; (without space)
Expected behavior:
Display Correctly the parent_id's name
Video/Screenshot link (optional):
![your](https://user-images.githubusercontent.com/25034353/40357050-468aafb8-5dbb-11e8-976b-718c968fcddb.

[2018-05-22 10:33] JKE-be commented on #23447
https://github.com/odoo/odoo/commit/b637b5aeb8c9ade36293949076be24f2f6e18c8d

[2018-05-22 11:33] anothingguy commented on #22766
i think it would be nice if we have a video about this issue.
I tried to reproduce as the steps above but not succeed.

[2018-05-22 11:51] Linekio commented on #24846
I took screenshot from runbot.
 Second and this screens show the same browser notification but with different browsers.
The problem is in the browser notification when using chatter.

[2018-05-22 13:07] blaggacao commented on #15915
Thanks @pedrobaeza for your work! I wish I would find the time soon to cleanup my Issue/PR inventory myself...

[2018-05-22 13:33] mart-e commented on #15475
I suspect some framework weird cache non-invalidation (as the code is supposed to handle this) but I was not able to identify it clearly.
Maybe @rco-odoo has a better idea?

[2018-05-22 13:58] odony commented on #1493
Actually, I was waiting for @tde-banana-odoo's feedback on that patch ;-)

[2018-05-22 14:05] lem8r commented on #15993
According to commits it was fixed.

[2018-05-22 14:07] pedrobaeza commented on #15993
Thanks for following-up this. I close then.

[2018-05-22 14:07] #15993 closed

[2018-05-22 14:11] Yenthe666 commented on #19160
Hi there,

I'm closing this bug report as there has been no feedback in a few weeks from the author and as some fixes have been provided.

Regards,
Yenthe

[2018-05-22 14:27] Yenthe666 commented on #24236
Hi there,

As there has been no feedback in a month I'm closing this issue.
If you can still reproduce it then please do add more information and details and we'll look into it again.

Regards,
Yenthe

[2018-05-22 14:27] #24236 closed

[2018-05-22 14:31] Yenthe666 commented on #24535
Hi there,

I'm closing this bug report as there has been no feedback in over two weeks.
If you can still reproduce it then please add extra information/screenshots and we'll look at it again.

Regards,
Yenthe

[2018-05-22 14:31] #24535 closed

[2018-05-22 14:38] mart-e commented on #24693
Hello,

Indeed it works as intended.
What you have to keep in mind, when working with multiple languages is that you _must_ check translations when you are working on a translated term. Odoo can not guess if you are changing the full source meaning of just adapting a bit.
When you duplicate, it keeps all the previous translations to avoid you to retranslate it.

Let say you have a a big event happ

[2018-05-22 14:38] #24693 closed

[2018-05-22 14:45] avw-odoo commented on #18510
@StuartJMackintosh Thank you. With a pull request we can move forward to check how/what we can integrate from your improvements.

Do you have advice / feedback regarding Tax Digital for VAT legislation ?

[2018-05-22 16:13] yelizariev commented on #2693
Reference to v8 may be removed from the issue title

[2018-05-22 16:18] pedrobaeza commented on #2693
Changed

[2018-05-22 18:38] pedrobaeza commented on #24831
Indeed I have been able of reproducing this problem in runbot. The extra step not specified in the steps to reproduce is that you need to access to the new created table (or at least is how I get it to reproduce it):

![pos](https://user-images.githubusercontent.com/7165771/40382948-e45fea98-5dff-11e8-885d-8aae4a5966f3.gif)

@pimodoo can you take a look to this?

[2018-05-22 18:58] pedrobaeza commented on #24835
I agree this is not very visible, and it requires 2 clicks for being activated. The good news is that on master, these 2 problems have been solved:

* You can now directly click on the toggle button without needing to click first on the line.
* The styles have been slightly changed for a better visualization of the toggle.

Unfortunately, this can be changed in current stable branches, so you'll h

[2018-05-22 18:58] #24835 closed

[2018-05-22 20:57] VBoucher commented on #20481
We have the same bug. We use Odoo 11 Community on a private server (so no online database). Any idea what could be done to fix this? Or at least some debugging assumption?

Thanks

[2018-05-22 21:29] jleaders commented on #15930
@pedrobaeza I believe a coworker found a workaround, I'll double check

[2018-05-22 21:40] necrodevz commented on #20481
I have the same issue. I've done some traceback and have mostly concluded that the problem is Google's authenticatioion system. It expects the odoo instance to add a transformation to the year digits and spit out a realistic date. Whats been happening so far, in my opinion, is that the data being sent, when parsed, results in an object being generated for the year figure instead of plain digits. T

[2018-05-23 01:51] KangOdoo commented on #23507
I am reopening this for following reasons:
1. Label has been changed to 'Quantity done store' which is unclear as what this means
2. Where stock moves have occurred this field still shows zero data
3. My Odoo implementer advises there appears to have only been the change to the label and no other code change
![image](https://user-images.githubusercontent.com/36682465/40399236-91d25f6a-5e7f-11e8-8e

[2018-05-23 02:33] rwngallego commented on #22130
@wangsamas @raestrada95  have you find a solution for this? I'm having the same exact problem

[2018-05-23 03:49] TimLai125 opened #24853 ""Add to Cart" button causes bad query and create multi quotations"
**Impacted versions:**
11.0c

**Steps to reproduce:**
1. Make sure the cart is empty and no existing quotation
2. Add some products to the wishlist
3. Go to the wishlist page
4. Add the products to the cart with the "Add to Cart" button quickly
ref: https://drive.google.com/file/d/1F92-bXEcI1XS8-BNa4rwwPZecXJGNyY0/view

**Current behavior:**
SQL errors occur (bad query) and multiple quotations are

[2018-05-23 03:56] TimLai125 commented on #24853
I cannot reproduce the issue with Odoo runbot therefore I believe the issue is something related to my setup but I cannot figure it out.

Things that I have tried to adjust:
- Test with worker settings and without workers settings
- Increase the limit_memory_hard and limit_memory_soft of Odoo
- Adjust the postgresql.conf and try to increase the performance with https://pgtune.leopard.in.ua/#/
- Ad

[2018-05-23 07:34] JKE-be commented on #20481
@necrodevz

Have you a running DB with this bug?
Because as explained in a previous post, your database was expired, and I cannot reproduce the bug in local without more information.

@VBoucher

Add an ir config parameter "calendar.debug_print"  to show more info in your logs. (each event, the date, what odoo try to do with the event, ...)
You can also add the "calendar.block_since_synchro" to mak

[2018-05-23 07:35] pedrobaeza commented on #15930
Thanks. Please report back.

[2018-05-23 07:45] HirenDangar opened #24856 "Getting error of js when installing account module."
Impacted versions:
community  v11.0

Steps to reproduce:
1.- Install account module

Current behavior:
Getting  traceback when installed account module.

![v11error](https://user-images.githubusercontent.com/16575953/40410369-40fd2abe-5e8b-11e8-9a70-715077fb9307.jpg)

[2018-05-23 07:52] pedrobaeza commented on #24856
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-05-23 07:52] #24856 closed

[2018-05-23 08:32] TimLai125 commented on #24618
Related PR: https://github.com/odoo/odoo/pull/24857

[2018-05-23 08:41] rvw0 opened #24858 "Returned and refunded products won't create new delivery orders after SO update"
Impacted versions: 11.0

Steps to reproduce:
* Create new Sale Order with a Product that needs delivery and confirm sale
* Deliver the products and then return & refund them
* Set ordered quantity to 0 and save
* Set ordered quantity to desired amount and save

Current behavior:
Nothing happens.

Expected behavior:
New Delivery Order with desired product quantity

Video/Screenshot link (optional):

[2018-05-23 09:35] KarstenK77 opened #24860 "[11.0] Copy User triggers Mail with password link to source user"
Impacted versions: 11

Steps to reproduce: Copy any User.

Current behavior: With copy odoo triggers an email to the source user.

Expected behavior: Copy a user should not trigger mail with password link. When changed email of target user and save, then it could trigger the password link mail, but not before.

Or email should get attribute copy=False   Anyway per default there could only be a uni

[2018-05-23 09:43] dduarte-odoogap commented on #21530
Tested again with latest commit 11.0 from 22-05-2018 and get same error.
i can read 'product.template' but cannot do same for 'product.product'

[2018-05-23 09:55] Yenthe666 commented on #24860
@mart-e for you, perhaps a copy=False is neat here?

[2018-05-23 10:05] pedrobaeza commented on #24860
I reported 2 days ago an enterprise ticket for exactly this. The number is 1850206.

[2018-05-23 10:50] lem8r opened #24862 "Valuation Account on Stock Location should be company dependent"
Impacted versions: master

Steps to reproduce:
  - Create two companies with different COA.
  - Install `stock_acount`.
  - Try to assign **Stock Valuation Account** of Virtual Locations (like Scrap or Production) for each company.

Current behavior:
If account was set with account from Company A, switching to Company B will not allow to set it again.
You will receive access error because you are

[2018-05-23 11:35] TimLai125 commented on #24216
Hi @tde-banana-odoo , can we have your opinion regarding this issue?

[2018-05-23 12:33] jlaloux opened #24867 "[9.0][10.0][11.0] Missing month information for calendar added in dashboard"
Impacted versions:9.0,10.0,11.0

Steps to reproduce: Simply go on runbot, find an object with a calendar view (for example: project.task), switch to calendar view and add to dashboard.

Current behavior: Month is correctly displayed in basic view but not in the dashboard view. If we play with the next/previous month, we don't know the month where we are.

Expected behavior: Display current month i

[2018-05-23 13:23] blaggacao opened #24869 "Renovate: CI"
https://github.com/marketplace/category/continuous-integration

The issue with runbot is:

- Not future proof, nor standard compliant
- Ignores best practices (eg. CI pipeline yml files)
- High ongoing investment in maintenance
- Makes Odoo a bad ecosystem player (for me that's the most worry-some)

@yelizariev

[2018-05-23 13:26] pedrobaeza commented on #24869
Sorry, but this is not an issue report, but a suggestion that I personally don't share. Odoo decides this kind of things internally and reviews it regularly and a link to all the players in GitHub is not helping.

[2018-05-23 13:26] #24869 closed

[2018-05-23 13:29] blaggacao opened #24870 "[Proposal] Renovate: Build Odoo.sh arround k8s"
https://github.com/xoes/odoo-operator

The current issues with odoo.sh:

- Black Box
- Not easily extensible (to meet market demand for integration and enterprise grade deployments quickly)
- Not emerging standards compliant / future proof
- No support other than by Odoo SA
- Bad ecosystem player by reinventing the wheel (at least from what's known publicly)

@yelizariev

[2018-05-23 13:30] blaggacao commented on #24869
@pedrobaeza You're right, I'll reopen label it [Proposal]

[2018-05-23 13:31] blaggacao commented on #24869
@pedrobaeza Remember, we are not on enterprise repo here, but on the LGPL part of the project.. :wink:

[2018-05-23 13:32] blaggacao opened #24871 "[Proposal] Renovate: CI"
https://github.com/marketplace/category/continuous-integration

The issue with runbot is:

- Not future proof, nor standard compliant
- Ignores best practices (eg. CI pipeline yml files)
- High ongoing investment in maintenance
- Makes Odoo a bad ecosystem player (for me that's the most worry-some)

@yelizariev

[2018-05-23 13:32] pedrobaeza commented on #24869
It's not only the label, but this is nothing specific. If you want a discussion, use the mailing lists, not the issue tracker.

[2018-05-23 13:33] blaggacao commented on #24869
Why? Is there a written general accepted or odoo-specific policy on not allowing discussions to happen on github? See: https://github.com/moby/moby/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+Proposal

[2018-05-23 13:35] blaggacao commented on #24869
The term "mailing list" not even present here: https://github.com/odoo/odoo/wiki/Contributing

Please stick to good OSS governance and clarify rules pulicly before applying them...

[2018-05-23 13:35] pedrobaeza commented on #24871
David, as said this should be discussed on mailing lists (and without too much meaning I have to say, as Odoo is not asking you opinion in this), not here, but I let @mart-e to decide for not being the only one thinking this way.

[2018-05-23 13:37] blaggacao commented on #24869
https://guides.github.com/features/issues/

[2018-05-23 13:40] blaggacao commented on #24869
And if the question is maintainer conveniance stick with best practices like for example a labeling bot like https://blog.alexellis.io/derek/

[2018-05-23 13:41] pedrobaeza commented on #24869
https://github.com/odoo/odoo/wiki/Contributing doesn't include as well nothing about this kind of proposal. Do you seriously think that Odoo is going to pull to the trash 5 years of work in runbot because of your opened issue? Or even that this will initiate the best discussion ever? If Odoo decides to change anything in their CI, they will analyze options, and maybe then ask to the community abou

[2018-05-23 13:42] #24871 closed

[2018-05-23 13:42] blaggacao commented on #24871
About open discussion: https://github.com/odoo/odoo/issues/24869

[2018-05-23 13:42] pedrobaeza commented on #24870
Other issue to be considered to be closed as vague and irrelevant, @mart-e

[2018-05-23 13:43] blaggacao commented on #24870
About open discussion: https://github.com/odoo/odoo/issues/24869

[2018-05-23 13:44] #24870 closed

[2018-05-23 13:44] blaggacao commented on #24870
@pedrobaeza You can have a look at the related link for a detailed example of what is purpotrated by this issue :wink:

[2018-05-23 13:47] blaggacao commented on #24869
[Proposal]s usually are strategic.

[2018-05-23 13:50] cpintofonseca opened #24872 "[11.0] Scanning a barcode on delivery does not update the done quantity"
Impacted versions:
11.0

Steps to reproduce:
On Odoo 11.0 Enterprise runbot (to avoid listing the installed modules) create a new Sale Order with the product that has the following barcode: 054398267125. After that, confirm the Sale Order, navigate to the related delivery, click in the "Edit" button of the delivery and scan the barcode. Please make sure the product is reserved before clicking in t

[2018-05-23 13:56] baba75 commented on #23280
Hope you will fix for version 10.0 also.

[2018-05-23 13:57] blaggacao commented on #24869
Having the facts together the call is the editor's.

As far as it concerns me: choice is important.

[2018-05-23 13:58] Yenthe666 commented on #24869
@pedrobaeza easy there, it is not because you do not find it important that somebody else doesn't find it important. 😉
However, you shouldn't really hope on changes there as runbot is actively used, migrated and I believe quite similar to Odoo.sh too, so I don't expect a shift/change there.

[2018-05-23 13:58] blaggacao commented on #24869
@Yenthe666 As far as you are able to take note of this... THANKS!

[2018-05-23 14:04] Yenthe666 commented on #24869
@blaggacao well, closing based on power is never the answer. Every topic that has an introduction and enough information deserves atleast a response saying why the issue is closed. That is basic communication 101.

[2018-05-23 14:04] blaggacao commented on #24870
I'm fully aware that I'm being audacious, here. After all that's the only way to tackle the future. :wink:

[2018-05-23 14:06] blaggacao commented on #24869
We should all agree with you @Yenthe666 !

[2018-05-23 14:06] Yenthe666 commented on #24870
@xmo-odoo please don't just close off an issue without any information, that is rude. How would you feel if somebody did that to you?
Can't we just answer on the issue and tell @blaggacao why we close it off? I bet that a one liner answer would already be enough to be friendly and gives the OP insight.

P.S: to be clear, I am not choosing sides here and I'm not judging anyone. I just like communic

[2018-05-23 14:08] pedrobaeza commented on #24869
@Yenthe666 There is already background for closing that way, as it's not without reasoning. As stated, a link to the possible CIs in the world is not something for discussing. And at the end, the discussion leads to nothing, as there's no evaluation for other CIs for changing the current one. That kind of discussions, whoever wants to have it, should take place on forums, mailings lists, or in the

[2018-05-23 14:08] msimof opened #24874 "Possible error in the calculation of delivery costs with the "delivery" module."
Impacted versions:
8.0

Steps to reproduce:
We create two conditions in the delivery cost:
1 condition: price> 500, sale price = 0
2 condition: price <500, sale price = 39.

We create a sales order, we add a product with price without taxes 499. We press the button to calculate the costs. The calculation is 0, because 499+ taxes is greater than 500.
We create another sales order, we add the same p

[2018-05-23 14:09] pedrobaeza commented on #24870
@Yenthe666 there is no rudeness, there is pragmatism. If you see the issues history with this user, you will see patterns :wink:

[2018-05-23 14:09] Elkasitu commented on #24869
It is not based on power, it's based on the fact that your issue has no value and is extremely vague, you make a lot of statements but provide no source.

Furthermore, the runbot is an internal tool that we decided to make open source just because there is no reason to make it private, we are not committed to investing more resources into it than what we need, for us it works as it is and we don't

[2018-05-23 14:13] Yenthe666 commented on #24869
@pedrobaeza I'm not arguing about the closure though, closing it was fine for this one as we both know it won't be changed. I'm just saying that the response felt rather passive/agressive while @blaggacao is simply trying to get insights and information. We can still close off an issue in a friendly way and give some usefull information, no? The answer from @Elkasitu actually explains it well. It

[2018-05-23 14:17] Yenthe666 commented on #24870
I agree @blaggacao sometimes has odd topics and/or tries to push into new ways but is it really that bad? Sometimes from these kind of discussions new ideas or concepts arise. Atleast that is what I like to believe.
And sorry but a closure without any comment is rude, there is no other way to say it. No matter the history and if the OP has made 'shitty' topics it is still  a person that deserves a

[2018-05-23 14:18] Yenthe666 commented on #24871
@blaggacao I do suggest you to take these concepts to the mailing list, the help forum (help.odoo.com) or some related channel. You'll have more success there 😉

[2018-05-23 14:19] blaggacao commented on #24871
Reason for closure: https://github.com/odoo/odoo/issues/24869#issuecomment-391361145

"wont-fix" would be a very digestible labeling alternative to communicate the essence of that decision...

[2018-05-23 14:27] blaggacao commented on #24870
This is an personally targeted insinuation. Unfortunately, not a respectful one.

[2018-05-23 14:27] lonelyleaves opened #24875 "Multiple database display company logo abnormal deviant"
Impacted versions:8&10

Steps to reproduce:company logo about login page

Current behavior: open localhost:8069/web/login

Expected behavior:page‘s  logo is the company logo of the current database

Video/Screenshot link (optional):
https://github.com/OCA/web/files/2022378/about.company_log.zip

[2018-05-23 14:30] pedrobaeza commented on #24875
This is nothing about Odoo itself, but browser's cache system. Refreshing the page with Shift+F5 renovates the logo (but putting the company of the admin user, as no user is still loggued in). That's the reason why the browser keeps initially last used logo, to preserve that thing if possible.

Closing as no real issue, and please close the same the issue at OCA/web if it's for the same reasoning.

[2018-05-23 14:30] #24875 closed

[2018-05-23 14:42] blaggacao commented on #24870
Getting back On Topic (in terms of this issue) for future readers
----

I propose the [operator-pattern](https://www.redhat.com/en/blog/introducing-operator-framework-building-apps-kubernetes) as an alternative implementation of running odoo workloads at scale and under a fully controlled environment. Anyone willing to join or read more is invited to push the discussion forward on: https://github.

[2018-05-23 14:42] pedrobaeza commented on #24875
The problem is with your deployment system. Using different URLs per BD with dbfilter, this doesn't happen.

[2018-05-23 14:54] Linekio opened #24876 "Platform-dependant issue with ir.attachment"
Impacted versions:
9.0, 10.0, 11.0
Steps to reproduce:
Using firefox, ppen ir.attachment kanban view and click on an icon to open download a file.
Current behavior:
Download the file and display an error: form view couldn't be load. You can't open the form view at this point
Expected behavior:
Just download the file
Video/Screenshot link (optional):

[2018-05-23 15:04] mart-e commented on #24870
As for the runbot topic, odoo.sh is a tool we have made for a specific need : provide an easy deployment platform for module developers that are not system administrator.
You will not be able to do what you were doing on your own server but that is not the point!

We believe there is too many people that badly deploy their custom Odoo modules and ends with slow, unsecured and outdated Odoo instanc

[2018-05-23 15:05] Yenthe666 commented on #24869
Thank you for the detailed and well explained response Martin.

[2018-05-23 15:06] blaggacao commented on #24871
https://github.com/odoo/odoo/issues/24869#issuecomment-391377838

This is actually new information to me, I might have missed something or misinterpreted in the past.
I think it would help others to not feel bad about some "ways" of doing things if this would be stated more clearly. Not stating it is putting contributors at risk of confounding "open-source" with "community-driven" which in the gre

[2018-05-23 15:27] blaggacao commented on #24870
Point made.
Consider yourself being informed.

[2018-05-23 17:32] VBoucher commented on #20481
I do not see changes to the log when I add the "calendar.debug_print" with value 1. With or without it, the log is the same. But, I do see the sync event similar to this one :

May 23 17:22:07 Serveur odoo-bin[1022]:     ID          OE: False
May 23 17:22:07 Serveur odoo-bin[1022]:     ID          GG: uahlj168dp03c6ln4s7gup7hfc
May 23 17:22:07 Serveur odoo-bin[1022]:     Name        OE: False
May

[2018-05-23 20:32] fmdl opened #24879 "[IDEA] popup for hidden field in tree view"
Hi Community

I think to some thing to add information in tree views without add columns.
When you pass your mouse on the I icon you see a popup with field with attribute `hidden="1"`.

![image](https://user-images.githubusercontent.com/16716992/40449466-cdbf7bc6-5ed8-11e8-8341-a97e5ac4f616.png)

What do you think ?

@pedrobaeza @Yenthe666

[2018-05-23 21:51] alejandroeche opened #24880 "Email to client when convert initiative to opportunity with a client with email"
Impacted versions: 11.0

Steps to reproduce: 1. create a initiative
2. convert initiative to opportunity with a client with email

Current behavior:

it is not sending to client email

Expected behavior:

it send a email to client email

Video/Screenshot link (optional):

[2018-05-24 01:09] thanglt0209 opened #24881 "Accounting Partner Ledger report (Japan date)"
Impacted versions:
Odoo 10.0-20180214

Steps to reproduce:
Languages: Japanese
Date Format: %Y年%m月%d日
Menu: Accouting/ report/ pdf reports/  Partner Ledger -> Print
Menu: 会計/ レポート/ PDF　レポート/  取引先元帳 　-> 印刷

Current behavior:
Get error: '     r['date'] = datetime.strptime(r['date'], DEFAULT_SERVER_DATE_FORMAT).strftime(date_format)
UnicodeEncodeError: 'ascii' codec can't encode character u'\u5e74' i

[2018-05-24 02:07] thanglt0209 commented on #24881
![image](https://user-images.githubusercontent.com/10916115/40460621-9eb89622-5f42-11e8-81b1-f3f72645ac44.png)

[2018-05-24 03:00] sebastien-kr opened #24882 "[OAuth][Google] redirect_uri set to 127.0.0.1"
_Disclaimer  : this is strictly the same issue as #6556 . But as stated in the [last message](https://github.com/odoo/odoo/issues/6556#issuecomment-351340533), a new issue is needed, so here we are._

Impacted versions:
 - At least Odoo 11.0-20180515 (Community Edition).

Steps to reproduce:
 1. Use Odoo behind a reverse proxy.
 1. Active Google OAuth login
 1. Setup your Google OAuth credentials

[2018-05-24 05:10] Arvinman opened #24883 "Stock Picking - Return form's "To Refund" toggle button doesn't responsive"
Impacted versions:
Odoo 11: reproducible since this commit in odoo-11 branch

Revision (SHA-1): 2f5e44d40b35ea6790a5e10223273c0cbe900c87
Date: 4/18/2018 3:44:01 PM
[FIX] web: checkbox in editable list are clickable

Steps to reproduce:
- Go to Inventory / Operations / Transfer.
- Open any validated (done) transfer and then click on Return button to open return form.

Current behavior:
- A click on

[2018-05-24 06:52] joglomedia commented on #23869
@sandeepbrst it seems that you must use secure protocol (https) for your odoo web

[2018-05-24 08:08] Yenthe666 commented on #24880
@alejandroeche do you mean a new opportunity then?

[2018-05-24 08:18] qdp-odoo commented on #20804
fixed by https://github.com/odoo/odoo/commit/c9b7cf140cafd49c06ca114975eee220bb54112a

[2018-05-24 08:18] #20804 closed

[2018-05-24 08:32] usinepi commented on #9528
@JKE-be I should maybe create a new user ? But there is no way to link the infos of this existing (and not working) user to the new one ?

[2018-05-24 10:47] mduvergey opened #24890 "Supplier product code + partner ref bug: For/else bug in addons/product/models/product.py"
Impacted versions: Odoo 11, Odoo 10

Steps to reproduce:
Create a purchase order from a given supplier containing a product that has a custom product code (i.e. different from the default product code) for that supplier.
_for/else constructs in methods **ProductProduct._compute_product_code()** and **ProductProduct._compute_partner_ref()** lack a break keyword._

Current behavior:
If a product has

[2018-05-24 11:39] JADCO5692 commented on #24822
Any update on this?

[2018-05-24 12:45] nilshamerlinck opened #24894 "Client Error when generating any report with Chrome 66"
Impacted versions: 9, 10, 11 + Chrome 66

Steps to reproduce: Try to generate any report, for example `Sales > Orders > Quotations > Print`

Current behavior: Fails with a misleading error message:

```Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "http://330568-11-0-1e21b7.runbot14.odoo.com" from accessing a cross-origi

[2018-05-24 12:45] nilshamerlinck commented on #24894
The root cause is a [regression in Chrome 66](https://bugs.chromium.org/p/chromium/issues/detail?id=845443&can=2&q=845443&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified).

There are 2 workarounds:
- Disable `chrome://flags/#click-to-open-pdf`
- or Disable `chrome://settings/content/pdfDocuments`

Chromium team is working on a fix that should be r

[2018-05-24 14:14] rs430 opened #24901 "CRM : send notificaion email when an activity has created 11.0"
Impacted versions: 11.0

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-05-24 14:15] rs430 commented on #24901
- [ ]

- [ ]

[2018-05-24 15:02] Yenthe666 commented on #24890
@mduvergey you're welcome to make a PR to improve this though!

[2018-05-24 15:04] Yenthe666 commented on #24894
@nilshamerlinck,

Thanks a lot for the report.
You seem to have already found the culprit and it is Google Chrome, not Odoo so I believe we can close this issue off? It is not related to Odoo specific.
Correct me if I'm wrong.

Regards,
Yenthe

[2018-05-24 15:04] #24894 closed

[2018-05-24 15:34] Yenthe666 commented on #24890
Thanks a lot!

[2018-05-24 15:48] mduvergey commented on #24890
PR done, should I close the issue?

[2018-05-24 15:52] pedrobaeza commented on #24890
Yes, we continue through the PR #24905

[2018-05-24 15:52] #24890 closed

[2018-05-24 16:26] jcguzman11 opened #24906 "POSBox recognize the printer but doesn't print."
Hi everyone, I'm running Odoo v10 Point of Sale and using the PosBox v16.

I bought the thermal printer STAR TSP100, configured everything in the Point of Sale configuration but the printer doesn't print.

The hardware status page and the POS indicates that the printer is recognized, by the way the printer doesn't print.

![image](https://user-images.githubusercontent.com/35904046/40498478-6ba902e

[2018-05-24 22:02] hugho-ad commented on #24835
@pedrobaeza can you share us the commit at master branch please?

[2018-05-25 01:39] wangsamas opened #24908 "Fail to search purchase order by vendor"
Impacted versions: 11

Steps to reproduce:
Open purchase menu, enter a vendor name in search field.

Current behavior:
No purchase order showed

Expected behavior:
Purchase orders list with the vendor name showed

[2018-05-25 02:04] yusufdw18 opened #24909 "Wrong Computation total Sales Subscription when Tax include in price"
Impacted versions: 11.0 enterprise

Steps to reproduce:
- Install Sales Subscription (enterprise version)
- Setting of taxes is include in price
![screenshot from 2018-05-25 08-44-12](https://user-images.githubusercontent.com/34343805/40521846-d7db36f2-5ff7-11e8-90d7-a60128b7810d.png)

- Setting of product using that tax
![screenshot from 2018-05-25 08-45-50](https://user-images.githubusercontent.

[2018-05-25 02:07] sum1201 opened #24910 "in mobile ,I can't delete detail."
Impacted versions:
in runbot.odoo.com, I create a sale order and a detail.
i want to delete detail, but i can't find the delete button.
how can i delete the detail ?
enterprise ticket: 1851433

![qq20180525-095839](https://user-images.githubusercontent.com/5398273/40522399-5ca39ac2-6003-11e8-9643-e7f3db30bbc9.png)
![qq20180525-100020](https://user-images.githubusercontent.com/5398273/40522400-605a

[2018-05-25 02:57] GoodERPJeff commented on #24798
report_irmodulereference  answered my question, thanks !

[2018-05-25 03:31] gdgellatly commented on #24908
Um no.  Just use the already included partner filter.

https://github.com/odoo/odoo/blob/11.0/addons/purchase/views/purchase_views.xml#L313

[2018-05-25 03:32] yusufdw commented on #24908
Maybe you can use Search Vendor for ....
![screenshot from 2018-05-25 10-31-16](https://user-images.githubusercontent.com/25214401/40524802-da149d6e-6006-11e8-8cc3-b48a9574029c.png)

[2018-05-25 03:33] jeffery9 commented on #24798
ir.action.report have setup one interface called  `get_report_values`  use to pass customise data into qweb report render.  the step to use this interface..

1.  define new model called  `report.%reportname%`
2.   define  mthod `get_report_values`  in this model, to generate data need to render report

[2018-05-25 04:48] yusufdw18 commented on #24909
this issue can be fix if function _compute_price_subtotal in subscription line change position tax computation
Current code :
price = line.env['account.tax']._fix_tax_included_price(line.price_unit, line_sudo.product_id.taxes_id, [])
line.price_subtotal = line.quantity * price * (100.0 - line.discount) / 100.0

Fixing code :
price_total = line.quantity * line.price_unit * (100.0 - line.discount) /

[2018-05-25 06:31] Yenthe666 commented on #24908
Indeed, you can use the filter as suggested by @gdgellatly.
There is no real issue here.

[2018-05-25 06:31] #24908 closed

[2018-05-25 06:32] Yenthe666 commented on #24910
@sum1201 which version?

[2018-05-25 06:54] dbo-odoo commented on #24508
Not a bug, it's not supposed to be public; images work fine in the mass mailing since there is an access token in the URL.

If you tried this on a runbot, it's not supposed to work because runbots are multitenant without a dbfilter or reverse proxy, so it cannot work there.

In conclusion, your expected behaviour is wrong; it should *not* be saved in public :)

Nothing wrong here :+1:

Cheers,

Da

[2018-05-25 06:54] #24508 closed

[2018-05-25 07:12] popama commented on #12304
Hello,

I fixed this situation by creating a new class that inherits the "link.tracker" and in the method "convert_links", I added a new condition which looks for "${" in "long_url" and if it finds it then skips the code that replace the "long_url" with "shorten_url".

The resulted code:
[code]

[2018-05-25 07:38] cmsalmeida commented on #20822
Hi, I have exactly same error...

[code]
Using latest OCA/OCB version.
Using psql I found that template 170 is the template ID web.webclient_bootstrap, as stated by @zimbora69.
But also I see that there are a cascade of "During handling of the above exception, another exception occurred:" I just can't figure it out what is the problem :/

[2018-05-25 09:11] jorunn commented on #23280
Yes, I found the same solution and had forgotten to update the report. Am I able to invalidate it myself? Doesn't look that way. (I won't claim the way these translations are handled is elegant at all; it's incredibly confusing, but that's a usability issue, not a data persistance bug, so this one is clearly invalid.)

[2018-05-25 10:04] Vegeta-D opened #24913 "Production order running schedulers created stock move,procurement exceptions,purchase order Expected Date error"
Impacted versions:
Odoo 10.0

Steps to reproduce:
First, create a production order and assign a date to the start date on the production order, for example June 10, 2018
Second , Run Schedulers
Third, check the generated the Scheduled Date（date_planned）on Procurement Orders, Stock Move will find errors

Current behavior:
Generated the Scheduled Date（date_planned）on Procurement Orders, Stock Move

[2018-05-25 10:04] sum1201 commented on #24910
11

[2018-05-25 10:14] sum1201 commented on #24910
@Yenthe666

[2018-05-25 10:36] dmo-odoo commented on #8300
I think this should solve your issue and make the `static/image.png` case work everywhere without breaking the other images in the description, could you please confirm ?

[code]

[2018-05-25 12:31] bista-arpit opened #24921 "Data is getting loss inside one2many field which is custom in sale line"
Impacted versions:
Odoo 11 community and enterprise both
Steps to reproduce:

I created a model name x_sales.order.location having two fields there (x_partner_id, x_commence_date,x_sale_line_id)

and after the creation of this model, I make a field name customer_lines which is one2many with sale.order.line reference to x_sale_line_id.

and I put this field in form view of sale order line as you ca

[2018-05-25 14:53] cpintofonseca opened #24922 "[11.0] Delivery quantity doesn't update on barcode scanning after scanning unreserved product"
DImpacted versions:
11.0

Steps to reproduce:
On Odoo 11.0 Enterprise runbot (to avoid listing the installed modules) create a new Sale Order with the product that has the following barcode: 054398267125. After that, confirm the Sale Order and navigate to the related delivery. Please make sure the product is NOT reserved at this point. Click in "Edit" and try to scan the barcode of the unreserved

[2018-05-25 15:03] fgeorgeanybox opened #24924 "Can't filter on some fields in invoice report"
Impacted versions: V9, V10

Steps to reproduce: Go to Accounting > Reports > Business intelligence > Invoices, then try to add a custom filter on 'Total Without Tax'. The results are quite hazardous and not always acurate nor comprehensive.

Current behavior: The results are not the one expected by the filter.

Expected behavior: The results are accurate based on the defined filter.

Video/Screens

[2018-05-25 15:18] bista-arpit commented on #24921
On replicating the same on odoo version 10

it is working fine.

https://drive.google.com/file/d/0Bw_ic8lZZMhtT3JndWgtZVd2M05tWXV4TmNPaHFLZ3FuUktr/view?usp=sharing

but in odoo 11 it is not working.

Please check , it is very critical issue we are facing.

Thanks
Arpit

[2018-05-25 15:41] bistaray commented on #24921
We also face the same issue and its causing lot of problem in version 11. The patch of the fix should be released soon @Yenthe666 @rvalyi @fpodoo.

[2018-05-25 16:35] matt454357 opened #24925 "[10.0] Not all product costs getting updated"
**Impacted versions:**
10.0, 10.0e

**Steps to reproduce:**
This applies to delivery orders and manufacturing orders.  As an example:
1. Create an MO with 2 products on the BOM
1. Both products must have real time costing with FIFO
1. The first product on the bom must not be available
1. For the second product on the BOM, the standard_price must be different from the cost of the next quant to be c

[2018-05-25 16:45] preetipatankar commented on #24921
We are facing the same issue. Kindly update once this is fixed. This is critical for our project. @Yenthe666 @fpodoo

[2018-05-25 17:30] Yenthe666 commented on #24921
@bistaray what exactly do you mean with the patch of the fix should be released soon? Did you log an official ticket or? Not sure what you mean.

[2018-05-25 17:58] bistaray commented on #24921
@Yenthe666, These are the two official tickets to Odoo

https://www.odoo.com/my/task/1836785
https://www.odoo.com/my/task/1846820

[2018-05-25 19:21] mreficent opened #24927 "[9.0] Error in search an inherited many2many"
**Impacted versions:** v9, v10, v11, ...

**Steps to reproduce:**

Declare:
[code]
Then, if you execute:
[code]
... this `search` breaks.

**EXAMPLE:** The following breaks:
[code]

**Current behavior:**

You cannot search in an inherited model if in the domain you put a column many2many from the "parent" model.

**Expected behavior:**

The search doesn't break in the above case.

**Traceback:**
[

[2018-05-25 20:06] krueger80 commented on #24879
Instead of that, I would prefer to have the ability to change the view per user base or for everyone (like for saving favorite search). So I could remove and add columns if I want and reset the view to come back to default. The popop you talk about would not allow sort and is too limited imho.

[2018-05-25 20:18] krueger80 commented on #24860
And ticket 1847328 about shopping cart stolen by new user because the field last_website_so_id didn't have copy=False too.

[2018-05-25 21:02] rockcesar commented on #23156
Sorry for the late. Yes, I did the test in the same condition. Let me try if it's still happening. Thanks.

[2018-05-25 21:28] robin-bahadur commented on #24921
Is there is any work around to solve this problem. I can see this bug in ORM is still open from long time, first posted in January 2018
https://www.odoo.com/forum/help-1/question/odoo-one2many-field-does-not-save-field-values-sale-order-line-113073

[2018-05-26 00:46] rafaelbn commented on #24330
My idea now is to request Odoo all our personal data and wait to see how the do this... Then we can apply the same method.

cc @jbeficent

[2018-05-26 00:51] rafaelbn commented on #24330
Hi @odony ,

About @dreispt point:

Dou you think we can base in https://github.com/odoo/odoo/tree/11.0/addons/anonymization a module which adds an action in res.partner which say "Anonymize" and the all data of that res.parter will be anonymous?

Because delete it will be more dificult if the res.partner has relations with other model.

What do you think?

Thanks

[2018-05-26 03:16] Ark74 commented on #23952
Just found about this: https://github.com/odoo/odoo/commit/0fd06e59482cb3921002679c97bce9d42e09409f

Will test next week, in order to confirm and hopefully close this issue.
Thanks!

[2018-05-26 14:33] pedrobaeza commented on #24922
But why are you clicking on edit? I think the barcode scanner works without being in edit mode. Have you tried?

[2018-05-26 14:34] pedrobaeza commented on #24925
I think you're right, @matt454357. @jco-odoo can you please check this?

[2018-05-26 14:36] pedrobaeza commented on #23280
Indeed, this is not a bug itself, but a misunderstanding on how translations work. This can be improved indeed, as there's not too much sense to have a translatable subject if there's no multi-language on mass mailing sending.

Closing this as no issue, but noted for giving feedback on this.

[2018-05-26 14:36] #23280 closed

[2018-05-26 14:42] pedrobaeza commented on #24906
More information is needed if you want to receive help. Please check PosBox logs, and try first to print directly connected to the server without the PosBox before going the most complicated structure.

[2018-05-26 14:43] pedrobaeza commented on #24835
Sorry, but no, but you can easily test it on runbot on master branch.

[2018-05-26 15:00] pedrobaeza commented on #24883
Can you please make a video with this to see that behaviors?

[2018-05-26 15:16] jcguzman11 commented on #24906
Thanks for the reply.

I already tried printing without the POSBox and it worked fine.
But for this particular case, I need to do the implementation using the POSbox.

This is the warning message in the log file:
WARNING ? odoo.addons.hw_escpos.controllers.main: ESC/POS Device Disconnected: Printer Not Found

[2018-05-26 15:17] pedrobaeza commented on #24906
Well, that indicates that the printer has been disconnected, but you should check logs, even in debug mode, in the exact moment when you print from PosBox.

[2018-05-26 15:34] FaTaToo opened #24929 "Method _barcodeScanned is called twice when user open picking form from purchase order form and scan a barcode"
Impacted versions: Odoo 11

Steps to reproduce:
- Step 1: Create a Purchase Order (PO) and buy some product and confirm that PO.
- Step 2: In PO form, click on button `Receive Products` to open Picking form.
- Step 3: Scan a barcode.

Current behavior:
Method `_barcodeScanned` ([link](https://github.com/odoo/odoo/blob/11.0/addons/barcodes/static/src/js/barcode_form_view.js#L279)) is called twice.

[2018-05-26 22:57] luisg123v opened #24931 "Error when trying to open contact with user without event permissions"
Impacted versions:
- 11.0

Steps to reproduce:
- Log in with any user which has access to contacts and has no access to events.
- Go to contacts
- Open any contact

Current behavior:
The following error is shown:

Expected behavior:
The user should be able to access any contact, because he/she has enough permissions to do so.

This error is caused by a recently introduced commit (https://github.co

[2018-05-26 23:02] luisg123v commented on #24931
opw-1851783

CC @yaniaular

[2018-05-27 03:30] jcguzman11 commented on #24906
The log in debug indicated the same warning message. That printer is not supported by the POSBox but I read that there´s a way to add that printer model to the supported printers by changing some configurations files but I have no idea which configurations files.

[2018-05-27 10:50] rs430 opened #24932 "CRM : send notificaion email when an activity has created within opportunity"
Impacted versions: 11.0

Steps to reproduce: CRM notification email

Current behavior: When activity has created within opportunity the systeme dones not send email notif

Expected behavior: send notificaion email when an activity has created within opportunity

Video/Screenshot link (optional):

[2018-05-27 13:54] vishalratani opened #24933 "Odoo PoS orders total coming out incorrectly"
Impacted versions:11

Steps to reproduce: Odoo PoS-> Orders(Menu)-> Orders-> Group by

Current behavior: The Total is coming out to be zero

Expected behavior:Total should be total of all the items of the group

Video/Screenshot link (optional):

[2018-05-27 15:24] leio opened #24934 "mrp: Manufacturing Order and MO workorder generation and other things very slow"
Impacted versions:
10.0

Steps to reproduce:
Create MO Workorders

Current behavior:
Creating workorders for a MO with a routing with 7 operations takes 14-15 seconds

Expected behavior:
It takes less than 1 second

[2018-05-27 15:35] leio commented on #24934
stock.move production_id AND raw_material_production_id are missing index=True in v10.
Adding them in a custom module reduces mrp.production _generate_workorders runtime from ~13.15 seconds to ~5.1 seconds.
The save is mostly from `moves_raw = self.move_raw_ids.filtered(lambda move: move.operation_id == operation)` and `moves_finished = self.move_finished_ids.filtered(lambda move: move.operation_i

[2018-05-27 17:11] ovnicraft commented on #11295
@rco-odoo its possible in next versions something like:
 `<field name="country_id" domain=[('id', 'in', eval([i.id for i in available_country_ids]))]/>`
IDK if write an onchange (just for domain) has impact in performance

BTW i am working fine with your suggestion.

[2018-05-27 17:53] FaTaToo commented on #24929
I think function `_barcodeStartListening` should be called in function `on_attach_callback`  instead of inside function `init` currently. Then, we should call function `_barcodeStopListening` inside function `on_detach_callback`.

[2018-05-27 21:21] Daemo00 opened #24935 "[11.0] Portal user getting error when accessing event menu"
Impacted versions:
11.0

Steps to reproduce:

0) Install website_event, configure website as B2C
1) Log out from any user
2) In the frontend, click on "don't have an account" and create a user (that by default should be created with only 'portal' group)
3) Click on 'Event' menu

Current behavior:
500 Internal Server error

Expected behavior:
See events list

[2018-05-28 03:07] hw-aka commented on #14322
I can confirm that this issue still exists today (Odoo 11.0+e on Odoo.sh).

In the mobile view, when the width of the iframe is no more than 660px, the download button is displayed under the "Tools" menu.
![small](https://user-images.githubusercontent.com/34575341/40595254-ef5e0dea-6209-11e8-86b9-c23d0890a2fc.png)

When the width is more than 660px, the download button is supposed to be displayed

[2018-05-28 05:09] dntq83 opened #24936 "[11.0] Error when input fields One2many (Tree editable)"
Impacted versions:
11.0
Steps to reproduce:
When input data, an error occurs if press tab key in a field next to a read-only field (tree editable in form)
Current behavior:
Error accurs
Expected behavior:

Video/Screenshot link (optional):
https://youtu.be/3sSXBYNXd5U

[2018-05-28 05:57] Elkasitu commented on #24935
Can you provide the traceback from your server logs? Thanks

[2018-05-28 06:13] pedrobaeza commented on #14322
Thanks for the detailed explanation.

@qsm-odoo I think this is something for you.

[2018-05-28 06:14] pedrobaeza commented on #24936
Can you reproduce the problem in runbot server? Do you have any extra module apart from Odoo core?

[2018-05-28 06:18] dntq83 commented on #24936
I can't reproduce in runbot server.
I have tried many times in Odoo Server (odoo core) without adding any modules.

[2018-05-28 06:44] dntq83 commented on #24936
@pedrobaeza  please check code below
`http://10.10.0.1:8119/web/static/src/js/core/dom.js:167
Traceback:
TypeError: Cannot read property 'selectionStart' of undefined
    at Object.getSelectionRange (http://10.10.0.1:8119/web/static/src/js/core/dom.js:167:25)
    at Class.confirmUpdate (http://10.10.0.1:8119/web/static/src/js/views/list/list_editable_renderer.js:146:38)
    at Class.reset (http://

[2018-05-28 06:47] pedrobaeza commented on #24936
@ged-odoo do you think this is a legitimate issue on Odoo code?

[2018-05-28 06:48] pedrobaeza commented on #24929
Why do you think is incorrect to be called twice? Why don't you propose a PR with your patch?

[2018-05-28 07:06] jco-odoo commented on #24925
At first sight, I think so too.  I will look into it.

[2018-05-28 07:43] amoyaux commented on #24872
Hey @cpintofonseca,

It happens because you are using the regular view with stock move. However barcode increment quantity on move line. You should pass through the barcode app in the app switcher or enable 'Show Detailed Operations' on your picking type.

[2018-05-28 07:43] #24872 closed

[2018-05-28 07:47] amoyaux commented on #24922
Could you please try again by using the barcode app or check 'Show details operation' on your delivery order picking type.

[2018-05-28 08:47] qsm-odoo commented on #14322
@ged-odoo

[2018-05-28 10:06] JanJSmejkal opened #24941 "Unable to upload any attachment with Safari"
**Impacted versions:**
11

**Steps to reproduce:**
Upload any attachment (on a Mac) with Safari (without any plugins). Chrome and Firefox works fine

**Current behavior:**
Throws an upload error

**Expected behavior:**
No error

**Video/Screenshot link (optional):**
![upload_error](https://user-images.githubusercontent.com/11542155/40609436-e474715c-626e-11e8-8efb-a5f7e9d561e6.png)

**Console erro

[2018-05-28 10:08] Vegeta-D commented on #24913
The process went to this and there was a serious error. All purchase order lines are scheduled to have a wrong Scheduled Date.

[2018-05-28 10:09] Vegeta-D commented on #24913
Serious process error, please reply！@Yenthe666

[2018-05-28 10:14] Yenthe666 commented on #24913
@jco-odoo or @sle-odoo could you have a look please?

[2018-05-28 12:38] ged-odoo commented on #14322
fixed in master

[2018-05-28 12:38] #14322 closed

[2018-05-28 12:58] ged-odoo commented on #24936
the weird thing is that @dntq83 could not reproduce it on the runbot.  However, judging from the stacktrace and the code, it looks like the web client tried to work with the focused element of a readonly widget, which is undefined.  This really look like a web client issue.

[2018-05-28 13:27] mbenmoumene opened #24945 "Unable to install Sales Management App on Odoo 11.0"
Impacted versions:
v11.0
Steps to reproduce:
When i install the sale_Management A^pp

Current behavior:
Throws an install error :

Erreur:
![image](https://user-images.githubusercontent.com/39374134/40616476-bde4ef10-627a-11e8-8afe-9928b9616c23.png)

Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/tools/convert.py", line 744, in parse
    self._tags[rec.tag](re

[2018-05-28 14:33] piqoni commented on #23410
We're also being affected by this issue at Purchase Order model with >15-20 order lines, when onchange is called (so when the user is adding new items), it will show the loading spin and eventually block the user for about 4-5 seconds for each order line added.

Odoo 10 Enterprise.

[2018-05-28 14:56] Auneor commented on #19160
Hi @Yenthe666 ,
I'm experiencing the same issue. I've tried all fixes suggested here
and nothing make it works
It's odoo10 enterprise
For a certain report and a certain object, it's working fine, until
adding 4 cells in a table of the template (with nothing in it) the
error appears
I've set a very high ulimit, I have 16Gb of ram, and I've set the odoo
memory limits very hight
Ubuntu 16.04
simon@ ~

[2018-05-28 15:06] pedrobaeza commented on #24945
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

Try also in a fresh database.

If you still feel that the problem is due to Odoo, please provide detailed i

[2018-05-28 15:06] #24945 closed

[2018-05-28 15:06] cpintofonseca commented on #24922
@pedrobaeza it only works in edit mode.

@amoyaux this works fine using the barcode app or "Show Detailed Operations" on the picking type.

I know this new feature was added part of the inventory refactor on 11.0, but still in my opinion, we should be able to use the barcode scanner without the barcode app or "Show Detailed Operations" like we used to on 10.0, unless this is not intended anymore a

[2018-05-28 15:08] intero-chz commented on #24941
Have you tried without any safari plugin? We had a customer using some plugins/addons, which didn't work very well with Odoo.

[2018-05-28 15:15] JanJSmejkal commented on #24941
Yes, I have tried it without any plugins (updated issue description)

[2018-05-28 15:48] alejandroeche commented on #24880
It is when i have a iniciative, and i use crm.action_crm_lead2opportunity_partner

[2018-05-28 16:37] Daemo00 commented on #24935
Thanks for the fast reply, here the stack:
[code]

[2018-05-28 17:49] odony commented on #24330
@rafaelbn Why not, though you may have an easier time designing your own thing. That module was intended to implement *reversible* anonymization, and may also not satisfy the requirements for true anonymization. There are probably missing parts, and it certainly has not passed any kind of audit for suitability.

You might also want to implement appropriate safeguards, which could be the trickiest

[2018-05-28 18:33] zem opened #24949 "qty_delivered is set to 4,130 instead of 33 when I track"
Impacted versions:

Odoo Community Edition 11
11.0.20180512

Steps to reproduce:

Create a new Timebased Service Product in Timetracking (set unit of measurement to hours because it is time)
Create a new SalesOrder using that Timebased Service
Create a new Project to be Tracked by that Order

Current behavior:

If I track 33:00 hours on the project, qty_delivered only shows a completely different

[2018-05-28 18:58] gustavovalverde commented on #24360
This seems like a great idea

[2018-05-28 21:33] pedrobaeza commented on #24949
This seems something with the UoM defined on the timesheet product. Have you reproduce this problem on runbot (http://runbot.odoo.com/runbot)?

[2018-05-28 21:44] KaneTHP commented on #15930
We've found a work-around to this. We've since moved to odoo11 but encountered similar problems. IIRC the fixes involved properly naming payment transactions and setting up the payment profiles on Authorize.NET

[2018-05-28 22:41] zem commented on #24949
It seems that we did mess up with the base Unit settings. There was an extra "workhours" unit there which was not in the base units but which was a reference unit.

[2018-05-28 22:41] #24949 closed

[2018-05-28 23:28] alihusnainarshad commented on #10748
@madeadi @ferdinand10
 @temuccio
I have the same problem.
I'm Using Odoo 10.
Please Help

[2018-05-29 01:21] davidtranhp commented on #20079
Same situation with hr_payroll:
1. Activate Developer mode
2. Navigate to Payroll > Configuration > Salary Rule Categories Hierarchy
It is expected to see a hierarchy like what in the previous Odoo versions, instead of a form view

[2018-05-29 07:09] DR4RCON opened #24950 "[11.0] wrong data/datetime format in export"
Impacted versions:11

Steps to reproduce: Export any Date or Datetime field

Current behavior: When exporting records from database, fields of time date and datetime are exported in en_US Format.

Expected behavior:When exporting records from database, fields of time date and datetime are exported in language Format of exporting user.

[2018-05-29 07:09] pedrobaeza commented on #24925
Fixed in #24944

[2018-05-29 07:09] #24925 closed

[2018-05-29 07:12] Yenthe666 commented on #24925
Good catch Pedro, done in https://github.com/odoo/odoo/commit/eabcb9ff1ae6a723fb47e340ac83a65f4f2f2400

[2018-05-29 07:17] pedrobaeza commented on #24950
Dates are exported in a neutral form for possible future imports to get the same format, or on the contrary you will need to specify also the date format you are importing in each field, so this gets complicated without reason. You can open the file any way in Excel, Calc or any other spreedsheet and format the date easily.

Closing as no real bug.

[2018-05-29 07:17] #24950 closed

[2018-05-29 08:11] pedrobaeza commented on #24933
Can you show us an screenshot about what are you talking about?

[2018-05-29 08:19] pedrobaeza commented on #24932
Hi, @rs430 what you are requesting is a new feature, not an issue.

[2018-05-29 09:28] pyxise commented on #16003
Hi @gdgellatly ,

I am in the case where I have 3 docker containers, 1 odoo with dbfilter, 1 nginx and 1 postgres.
My dbs name matches my subdomains. I am having troubles to get the report print with header, footer and css.

Any clue on how to solve this please?

Thanks.

[2018-05-29 09:35] Vegeta-D commented on #24913
The logic is wrong. The replenishment time should not be calculated from the current time of running the schedule. Instead, it should be scheduled from the production list.

[2018-05-29 09:39] gdgellatly commented on #16003
To test just edit /etc/hosts localhost line on the odoo instance

127.0.0.1  localhost <dbname>

Then set report url to <dbname>:8069

On Tue, May 29, 2018 at 9:28 PM, pyxise <notifications@github.com> wrote:

[2018-05-29 09:41] avw-odoo opened #24956 "Uruguayan localization (l10n_uy)"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2018-05-29 09:47] pyxise commented on #16003
@gdgellatly

That worked great. Thanks a lot !

[2018-05-29 09:52] tgroutars opened #24957 "Bug when importing module with base.automation record"
Impacted versions:
11.0
Steps to reproduce:
Download the following module and try to import it in a new db or on runbot
[bug_base_automation.zip](https://github.com/odoo/odoo/files/2047657/bug_base_automation.zip)

Current behavior:
Odoo tries to "\_\_import\_\_" the module, but the directory does not exist so it crashes.
The record is created, but not the xml id, so everytime we import the module

[2018-05-29 10:02] #24957 closed

[2018-05-29 11:05] guewen opened #24958 "Index added by inheritance dropped during upgrade"
**Impacted versions:**

Found in 9.0, reproduced in 9.0 and 11.0, I assume it happens on 10.0 as well.

**Steps to reproduce:**

The situation happens when you have a base addon declaring a Many2one field without index, another addon which adds an index to the field by extending it, then a third addon that extend the same model (no matter what it does). The second and third addon do not have any d

[2018-05-29 11:48] pedrobaeza commented on #24958
@rco-odoo for your interest

[2018-05-29 11:55] qdp-odoo commented on #20079
second problem, reported by @davidtranhp , "fixed" in v11.0 at revision https://github.com/odoo/odoo/commit/7bd16940087ed4cdae35c86c03a6733262734cea

[2018-05-29 12:03] jco-odoo commented on #24913
@Yenthe666 This is not entirely clear to me. In the code, the moves generated in the production order on creation take the date of the date_planned_start.  So, from there, everything should be fine.  If you are running orderpoints /mts, this would be normal however.

[2018-05-29 13:21] zimbora69 commented on #20822
Hello,

Opened a bounty for this bug resolution. :+1:

[https://www.upwork.com/jobs/~017d74534269235469](https://www.upwork.com/jobs/~017d74534269235469)

[2018-05-29 16:42] ManishS-OpusVL commented on #18510
Dear Community Members,

Firstly apologies for the delay as I have been too tied up with other Odoo work.

So as mentioned by @StuartJMackintosh I would like to provide here an idea of the work we have been doing on Odoo UK Localisation.

Some of the key UK Localisation items we have done and implemented for our other customers are specified below:

[2018-05-29 16:52] josephrenda opened #24970 "POS Ticket / Receipt issue v11.0"
Please don't kill me, I'm trying to be a odoo dev one day! I know python, ERP, but am having a hard time following the python - Qweb - HTTP/Rest

example, I'm trying to add a simple sales_order.date_order on the POS ticket;

I noticed inside, addons/point_of_sale/static/src/xml.pos.xml   there is the follow XML that creates a ticket/receipt!

   <t t-name="PosTicket">
        <div class="pos-sale-

[2018-05-29 18:38] jleaders commented on #15930
I remember hearing the `aquirer_ref` had a lot of hacks around it. Perhaps that requires a new issue. Closing this one.

[2018-05-29 19:11] pedrobaeza commented on #24970
We are not going to kill you, but this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

The PoS thing is very special, due to its offline capabilities. Maybe try something easier first.

Closing this by the reason above.

[2018-05-29 19:11] #24970 closed

[2018-05-29 22:03] luisg123v opened #24972 "Changes are saved when clicking Discard on website settings"
Impacted versions:
- 11.0

Steps to reproduce:
- Go to Website -> Configuration -> Settings
- Modify any field, e.g. the website's name.
- Click on "Discard"

Current behavior:
Changes are saved, as if the button "Save" had been clicked.

Expected behavior:
Changes should not be saved

Video/Screenshot link (optional):

[2018-05-29 22:08] luisg123v commented on #24972
opw-1853230

CC @yaniaular  & @tomeyro

[2018-05-29 22:46] pedrobaeza commented on #17184
This is still happening. @adr-odoo can you please check?

[2018-05-29 22:47] pedrobaeza commented on #17120
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/9.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please repl

[2018-05-29 22:47] #17120 closed

[2018-05-29 22:48] pedrobaeza commented on #17084
@JKE-be I think this is interesting for you.

[2018-05-29 22:52] pedrobaeza commented on #17079
IMO this is something expected, as you are modifying the contents of a static directory that is only loaded at the start. Reloading everything on module list update would mean a greater load time with not too much benefit.

Closing then by the reasons above.

**Disclaimer**: I'm not an Odoo employee, but a community member that voluntary contributes to triage / classify / solve issues. Take also i

[2018-05-29 22:52] #17079 closed

[2018-05-29 22:55] pedrobaeza commented on #17037
No further answer, and I can say that this has been worked during this time, disabling several buttons on website that could lead to double clickings. I close this by these reasons.

[2018-05-29 22:55] #17037 closed

[2018-05-29 23:01] pedrobaeza commented on #17025
I also don't know how to handle this in code for this very little examples, but this is the same as using `%` in a search, because it acts like a wildcard. You can search omitting taking a part of the group name. The only real case can be if you copy/paste full group name, but that's not going to happen frequently on groups (not as in categories, locations, etc) and the number of groups with `\` i

[2018-05-29 23:01] #17025 closed

[2018-05-29 23:04] pedrobaeza commented on #17014
The conditions you are using for reproducing the error leads irremediably to it, as you are forcing things that mustn't happen:

* Field with currency
* Decimal separator that is for language, not for currencies

and you are also omitting a lot of information like the report, the model, and so on, so we can't consider this as a real issue, and thus I'm closing it.

Feel free to open a new one with

[2018-05-29 23:04] #17014 closed

[2018-05-29 23:06] pedrobaeza commented on #17002
Don't we have still news?

[2018-05-29 23:10] pedrobaeza commented on #16958
@rco-odoo what do you think about this?

[2018-05-29 23:13] pedrobaeza commented on #16940
I also think that both cases are for some specific use cases, and goes again the path taken by Odoo with the automatic supplierinfo fill. As this can be implemented in community/custom modules, as it happens already with the linked module, I'm closing this wishlist as never implementable.

**Disclaimer**: I'm not an Odoo employee, but a community member that voluntary contributes to triage / class

[2018-05-29 23:13] #16940 closed

[2018-05-29 23:18] pedrobaeza commented on #16932
But why a 0.5 as rounding factor? CHF rounding factor is 0.01. Do you have a real case where a currency has that rounding factor. Maybe you are trying to force some way to get a business case using that unreal rounding, but this should stick to actual cases with currencies in the world.

[2018-05-29 23:19] pedrobaeza commented on #16905
Can you please propose a PR with a use case/test where this happens?

[2018-05-29 23:19] pedrobaeza commented on #16800
This is because you are using a non Qt-patched version of wkhtmltopdf. Please use that one.

Closing as no real issue.

[2018-05-29 23:19] #16800 closed

[2018-05-29 23:21] pedrobaeza commented on #16768
Hi, this seems something related to your deployment. In concrete, with a multi-DB without dbfilter by domain or similar, which is forbidden for this kind of things.

Closing the issue.

[2018-05-29 23:21] #16768 closed

[2018-05-29 23:27] pedrobaeza commented on #16700
Is there any news about this?

[2018-05-29 23:27] pedrobaeza commented on #16649
Closing as no answer

[2018-05-29 23:27] #16649 closed

[2018-05-29 23:33] pedrobaeza commented on #16590
This is a know limitation for reference fields for not being used in one2many tree views, so nothing to do here, except not using that. You can put in a the one2many form, or use it directly in the header.

Closing as won't fix for the low impact of this thing and the changes that will be needed to be done for having this working.

[2018-05-29 23:33] #16590 closed

[2018-05-29 23:35] pedrobaeza commented on #16583
Reading comments, we can close this as not focused, but partially answered. If you want to go for something more specific, please open a new issue.

**Disclaimer**: I'm not an Odoo employee, but a community member that voluntary contributes to triage / classify / solve issues. Take also into account that there's no obligation to answer nor solving things put in Odoo Community issue tracker. And th

[2018-05-29 23:35] #16583 closed

[2018-05-29 23:38] pedrobaeza commented on #16580
@qdp-odoo can you tell us about this?

[2018-05-29 23:39] pedrobaeza commented on #17117
You are not using correctly the website framework, as request, due to its nature, can't propagate contexts the way you want. You should use post values or session ones for propagating any value.

Closing as no real issue.

**Disclaimer**: I'm not an Odoo employee, but a community member that voluntary contributes to triage / classify / solve issues. Take also into account that there's no obligatio

[2018-05-29 23:39] #17117 closed

[2018-05-29 23:41] pedrobaeza commented on #17116
I see you are mixing companies, currencies and pricelists and this is advocated to fail, as the thing you are trying to do are not allowed between the companies. Please define a clear and real use case with one company and reproducible on runbot that can be traced.

Meanwhile, I close this issue.

[2018-05-29 23:41] #17116 closed

[2018-05-29 23:44] pedrobaeza commented on #17115
As this is something about an enterprise module, please open the corresponding OPW ticket for this to be treated by the enterprise team.

[2018-05-29 23:44] #17115 closed

[2018-05-29 23:47] pedrobaeza commented on #17927
This corresponds to an enterprise module, so it should be reported through their OPW system, and this belongs to community version.

[2018-05-29 23:47] #17927 closed

[2018-05-30 01:00] gdgellatly commented on #16700
I did this yesterday for v11. Worked fine without -e

On Wed, 30 May 2018, 11:27 AM Pedro M. Baeza, <notifications@github.com>
wrote:

[2018-05-30 02:42] Vegeta-D commented on #24913
@jco-odoo
Because of the re-ordering rules, after the OP order, the time of stocking is wrong.
In theory, the lead time should be pushed forward on the date of the production schedule, instead of running the schedule to get the current time back. Stock time is wrong

[2018-05-30 03:32] dntq83 commented on #24936
@ged-odoo Could you please show me how to simulate input with tab key in runbot? Thank you

[2018-05-30 03:55] Arvinman opened #24973 "Sometime Inventory Valuation Report give error dialog The cost of [Product] is currently equal to 0"
Impacted versions:
Odoo 11:

Steps to reproduce:
- Inventory/Reporting/Inventory Valuation/Current Inventory

Current behavior:
- Sometime the report will give error dialog "The cost of [Product] is currently equal to 0. Change the cost or the configuration of your product to avoid an incorrect valuation." even the cost of it isn't 0.
- Probably a rounding issue error.

    In stock_account/models

[2018-05-30 04:26] andrewyova commented on #22766
[bug_odoo10_pos.mp4.zip](https://github.com/odoo/odoo/files/2052395/bug_odoo10_pos.mp4.zip)

[2018-05-30 05:02] Vigneshwaran97 commented on #12909
I got an error from mainfest.json file,I don't know how to fix it

Error:-JSON.parse: expected property name or '}' at line 1 column 2 of the JSON data
[mainfest.docx](https://github.com/odoo/odoo/files/2052456/mainfest.docx)

[2018-05-30 05:20] CybroOdoo opened #24975 "[10.0] ValueError: Wrong value for base.language.install.lang: u'en_GB'"
Impacted versions:
Odoo v10.0

Steps to reproduce:
While creating the Database.

Current behavior:

Traceback (most recent call last):
  File "/home/cybrosys/Odoos/odoo-10.0/odoo/http.py", line 118, in dispatch_rpc
    result = dispatch(method, params)
  File "/home/cybrosys/Odoos/odoo-10.0/odoo/service/common.py", line 57, in dispatch
    return g[exp_method_name](*params)
  File "/home/cybrosys/

[2018-05-30 06:02] sbidoul commented on #16700
This still applies to 11. Only base is installed in site packages. Unless you install from the nightly tarballs which have a special preprocessing to copy addons to odoo/addons.

[2018-05-30 06:27] Elkasitu commented on #24958
Redefining the same field of the same model in different modules is **not** supported in versions prior to commit bbfb098, this doesn't mean that it can't work, it just means that it can have undefined behavior like this, it used to cause a lot of installation/uninstallation issues as explained by the commit message.

Also, can you find an instance within standard odoo code where we extend a field

[2018-05-30 06:52] pedrobaeza commented on #16700
@sle-odoo can you please check if there is any possibility of fixing this in source?

[2018-05-30 06:57] d-fence commented on #16700
I'll check that.

[2018-05-30 07:03] pedrobaeza commented on #24975
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/10.0/setup/install.html. Specifically, this seems to be the OS language forced to `en_GB`, which is not a valid.

I'm closing this is

[2018-05-30 07:03] #24975 closed

[2018-05-30 07:20] Boss1669 commented on #23812
@kimasplund  hi kim have you found a solution to this i am facing problem as well, i also have https://domain in system parameter it still doesn't work

[2018-05-30 07:32] Boss1669 commented on #23812
i found a solution if you running nginx reverse proxy add this line to configuration

proxy_set_header X-Forwarded-Host $host;

[2018-05-30 07:36] ged-odoo commented on #16717
@pedrobaeza

I still have nightmares about the old view code and the words 'one2many', 'onchange', 'editable list view', ...  Whenever those words were uttered, I knew that I could very well 'lose' a week of work to fix an issue, and I knew that my fix would definitely break something else, which will for sure come back to haunt me. In short, that code was not really maintainable (and with no test

[2018-05-30 07:40] ddfs commented on #17120
@diegorichi  can you try to add  "report.url" in parameters with 127.0.0.1:PORT_NUMBER

[2018-05-30 07:41] pedrobaeza commented on #16717
Well, I think it's enough if you say that this is not happening anymore on v11. I'm facing myself this on #17618 and a workaround is on https://github.com/OCA/commission/pull/151, but it's not satisfactory at all. Can you confirm then that this is fixed?

[2018-05-30 07:43] #24913 closed

[2018-05-30 07:44] jco-odoo commented on #24913
When you work with reordering rules you are breaking the chain, so there is
no link between the dates before and after.  You can add a lead time on the
reordering rule itself.

On Wed, May 30, 2018 at 4:43 AM, Vegeta-D <notifications@github.com> wrote:

[2018-05-30 07:44] jco-odoo commented on #24913
When you work with reordering rules you are breaking the chain, so there is no link between the dates before and after.  You can add a lead time on the reordering rule itself.

[2018-05-30 07:51] ged-odoo commented on #16717
@pedrobaeza
oh, this bug is fixed in v11. I just retested it to confirm.  I meant that this issue will probably not be fixed in v10/v11.

[2018-05-30 07:52] pedrobaeza commented on #16717
Do you mean 'fixed in v12'?

[2018-05-30 08:00] ged-odoo commented on #16717
wow, I really am bad with numbers.

I meant:
- it is fixed in v11 (and should be fixed forever after that: v12, ...)
- it is not fixed in v9/v10

I just tried this exact issue on the runbot http://332366-11-0-4ea383.runbot14.odoo.com/web#view_type=kanban&model=survey.survey&menu_id=533&action=737

(survey name is 'aaaaaaa')

I also tried on v10, and it is not fixed.

[2018-05-30 08:03] pedrobaeza commented on #16717
Thanks for confirming, Géry. Then I think we can close this with the hope that going through newer versions we won't fave this issue, although it would be desirable to have it fixed everywhere, but as said, it's not possible without having the risk of breaking other things.

By my part, I will investigate the other referred issue in v11 and tell you back if it's also solved, Géry.

[2018-05-30 08:03] #16717 closed

[2018-05-30 08:06] #24423 closed

[2018-05-30 08:47] gdgellatly commented on #24958
@guewen this is interesting.  Don't suppose you tested with other db centric fields like required to see if the not null constraints got dropped as well.

[2018-05-30 08:54] guewen commented on #24958
Good call @gdgellatly. Tested with `required=True`, same story, the `not null` constraint is added by an addon and removed when the second one is updated.

[2018-05-30 09:38] rousseldenis commented on #9353
@Yenthe666 @pjmcdermott The issue in v8 is real. It has been solved in further versions.

[2018-05-30 10:14] rousseldenis commented on #23410
OPW-1853391

[2018-05-30 10:42] ged-odoo commented on #10003
I just ping @sht-odoo to let him know about this...

[2018-05-30 10:42] PieterPaulussen commented on #9353
@pjmcdermott @rousseldenis You can always suggest your changes to https://github.com/OCA/OCB.

[2018-05-30 10:47] pedrobaeza commented on #10003
Thanks, Géry, waiting for your feedback then.

[2018-05-30 11:07] jigneshept commented on #24713
Hello @Yenthe666,

Is there any update on this?

[2018-05-30 11:31] Yenthe666 commented on #24713
Hey @jigneshept,

If there has been no response on the ticket there is no update/progress, sorry!

[2018-05-30 11:32] gdgellatly commented on #16700
@sbidoul yes I did happen to install that from nightly.

[2018-05-30 11:32] Yenthe666 commented on #9353
@rousseldenis yes I do know it is a real issue but Odoo officially doesn't support older versions so there is nothing I can do here. As @PieterPaulussen suggested you can go for OCA though!

[2018-05-30 11:38] icf20 opened #24979 "multi company creating an invoice"
[code]

this error pops only for one company but no other, why ?

[2018-05-30 11:49] mreficent commented on #24927
@Yenthe666 please, add v10, v11 tags, I also confirmed the issue in those versions.

[2018-05-30 11:52] zeroheure commented on #17079
@pedrobaeza I understand your point.
But the problem is very much from an end user point of view on the module documentation or description :
- the end user doesn't understand why the images are visible if the module is not yet installed, but not after the install.
- how the user can configure or understand the module if the images are not visibles ?
- you can't easily restart Odoo if the ecommerc

[2018-05-30 11:53] pedrobaeza commented on #24979
You have to fix your sales team configuration and default team configuration, as there's one team that belongs to the first company that is being taken for the second company.

Any way, it's not an Odoo issue, but misconfiguration, so I close.

[2018-05-30 11:53] #24979 closed

[2018-05-30 11:58] pedrobaeza commented on #17079
But as said, the problem doesn't happen with modules that are already there in addons directory when starting Odoo, so it's not a big problem most of the time. What is a use case where this doesn't happen?

[2018-05-30 12:10] gdgellatly commented on #17079
Any OCA pip install.

Besides does one really need to reload everything.  Surely the main concern is just the new modules found in the update.

[2018-05-30 12:11] icf20 commented on #24979
@pedrobaeza gracias boy this need a large documentation

[2018-05-30 12:40] idealisconsultingbe commented on #19160
Hi,
Same problem for me.
I find a way to print the document by adding  `--disable-smart-shrinking` to the command with a batch script, but the PDF isn't the same anymore.

Here is what I did:
[code]
and add the following lines:
[code]
But this is not a real solution as the design isn't the same anymore...

Regards

[2018-05-30 12:50] gdgellatly commented on #21073
@smetl If someone can fix runbot, I can try to reproduce.  Its been a while.

[2018-05-30 13:07] gdgellatly commented on #21073
[Quotation - SO121 (2).pdf](https://github.com/odoo/odoo/files/2053996/Quotation.-.SO121.2.pdf)
[Quotation - SO121 (1).pdf](https://github.com/odoo/odoo/files/2053997/Quotation.-.SO121.1.pdf)
[Quotation - SO121.pdf](https://github.com/odoo/odoo/files/2053998/Quotation.-.SO121.pdf)

@smetl Hopefully enough to show issue - from http://332449-11-0-6e7f22.runbot17.odoo.com

[2018-05-30 13:26] pedrobaeza commented on #19160
This is not an Odoo problem, but wkhtmltopdf one, and we provided a reproducible case 2 weeks ago to the developer for fixing it (https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2711#issuecomment-389429960), and he has said that is going to be fixed on next release, but nothing to do on Odoo side.

@mart-e the upgrade to the new version is going to be mandatory if we want a good behavior.

Closi

[2018-05-30 13:26] #19160 closed

[2018-05-30 16:01] sswapnesh commented on #24423
@nim-odoo  I proposed Same Solution in PR #24432 linked to this Issue.

[2018-05-30 16:41] nim-odoo commented on #24423
@sswapnesh sorry I didn't see it :(

[2018-05-30 17:13] anothingguy commented on #22766
Thanks for your video. Finally i can reproduce this issue at runbot [http://332361-10-0-b708c3.runbot13.odoo.com/web](http://332361-10-0-b708c3.runbot13.odoo.com/web)
This issue is hard to reproduce because it's depends on the loading steps of the POS and the load of server. I can reproduce it on http://332361-10-0-b708c3.runbot13.odoo.com/web because loading POS is slow enough on this server to r

[2018-05-30 18:44] MeetKD commented on #24933
@pedrobaeza Please find screenshot.
![screenshot](https://user-images.githubusercontent.com/37578829/40740840-82feb270-6467-11e8-9f81-65f7c118d843.png)

[2018-05-30 19:17] zeroheure commented on #17079
@pedrobaeza You're right. I fully agree.

[2018-05-30 20:01] pedrobaeza commented on #17079
@gdgellatly if you are manipulating pip, then you can restart Odoo service without problem.

[2018-05-30 20:49] gdgellatly commented on #17079
@pedrobaeza it is still annoying. And personally to me it is a ui bug.
Update Modules  list should Update Modules List. Aside from images why else
would you need to restart the server?

On Thu, 31 May 2018, 8:01 AM Pedro M. Baeza, <notifications@github.com>
wrote:

[2018-05-30 21:17] treviser opened #24986 "Odoo.com - Forum corrupt since more than 24 hours"
It is not possible to post new questions and most probably many errors more, the forum is unusable.

![selection_055](https://user-images.githubusercontent.com/1814941/40748037-7e38f366-645f-11e8-825c-f312d6520b24.png)

[2018-05-30 22:11] pedrobaeza commented on #24986
@odony @mart-e can you take a look to this?

[2018-05-30 22:44] diegorichi commented on #17120
@ddfs thanks for your reply.
I added the parameter and it started working!.
Thanks again.

[2018-05-31 07:19] pedrobaeza commented on #24906
Then if the PosBox is not oficially supported, the problem is clearly that one. The reason for not being supported will be probably this kind of problems, and then this can't be fixed right now through an issue.

Please ask on the forums about that configuration files, and if you find which is the problem, you can propose a PR for adding the support to this printer.

[2018-05-31 07:19] #24906 closed

[2018-05-31 07:36] Boss1669 opened #24987 "[Wishlist] Website Product Attributes Filter Collapsible"
Impacted versions: 11

Steps to reproduce: Create a product with attributes, Install module "website", go to the product page
Tick to turn on "Product Attribute FiIlter"
Current behavior: Doesn't have option "Collapsible"

Expected behavior: Have a Collapsible option for attribute filter like the one in category list

Video/Screenshot link (optional):

[2018-05-31 07:38] pedrobaeza commented on #24987
This is a feature request, not an issue.

@JKE-be is there any plan for doing this?

[2018-05-31 07:50] JKE-be commented on #24987
Hello, it is not a priority for now, but I ping the product owner to let a feedback. //cc @fgi-odoo

Thanks for the suggestion

[2018-05-31 07:50] #24987 closed

[2018-05-31 07:59] pedrobaeza commented on #24933
OK, understood.

@pimodoo can you please check?

[2018-05-31 08:07] auyeung112002 commented on #21897
@qdp-odoo "Other Income" in this case will make the bug complicated. Let imagine other income is 0.
The Net Profit Margin will be 1400/500=2800%, which is unreasonable.

Next step we will have to discuss other income should be considered in net profit margin

[2018-05-31 08:55] MouTio opened #24989 "[9.0] Creating a new shipment: Uncaught TypeError: Cannot read property 'fields' of undefined"
Impacted versions: 9.0

Steps to reproduce:
1. Create a purchase order with a product/products.
2. Confirm order.
3. Receive products -> Set all the quantities to receive all products.
4. Validate.
5. Click on create button.

Current behavior:
Odoo crashes and this message appears:
[code]

Expected behavior:
Odoo should not crash.

Video/Screenshot link (optional):
Click here:
![image](https://use

[2018-05-31 09:09] DR4RCON opened #24990 "[11.0] Javascript error with snippet from website"
Impacted versions: 11

Steps to reproduce: Build any custom model. Create some action for that model. Return like:
[code]

Current behavior: Iam getting javascript error:
[code]

When debugging I can see, that
```node.attrs.tag = div ```
and
```node.attrs.class = "o_image_floating o_margin_l pull-right s_image_floating"```

When searching through all source of odoo, you will only find one div with

[2018-05-31 09:36] jem-odoo commented on #21641
Fixed at https://github.com/odoo/odoo/commit/f9ce42c763389573ed6a19bbb1a4a9784d82a1bb
Regards

[2018-05-31 09:36] #21641 closed

[2018-05-31 09:50] jem-odoo commented on #24629
Hello,
actually, this features is not supported. We keep this as a feedback for future version.
Regards,

  Jerome

[2018-05-31 09:50] #24629 closed

[2018-05-31 10:00] yung-wang commented on #24629
Ok, lets hope this will be add in a future version.

[2018-05-31 10:27] Wolfnight233 opened #24992 "How to add ''day'' in the date on pivot table？"
Impacted versions: Odoo 10.0

Steps to reproduce: Add a day classification on pivot table

Current behavior: Now the dates are classified only by Month by default

Expected behavior: Classfy the dates on day

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/35833382/40777387-00fcc46c-64ce-11e8-9d54-f0d71049493c.png)

[2018-05-31 10:30] pedrobaeza commented on #24992
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

A quick tip: you have to add `:day` on the group by context.

Closing this by the reason above.

[2018-05-31 10:30] #24992 closed

[2018-05-31 11:01] Yenthe666 commented on #24989
@ged-odoo for you guys

[2018-05-31 11:02] Yenthe666 commented on #24986
@JKE-be this is what I pinged you about. It seems to be quite big:
- Not able to comment on (some) topics
- Not able to create a new topic
- Not able to review an item from the queue

[2018-05-31 11:04] satriani-vai opened #24993 "[11.0] Cannot update a local modules"
Clicking Updates displays the following error message:
![image](https://user-images.githubusercontent.com/5981417/40778716-7ca3c828-64d2-11e8-8c96-eeb1d79ff51e.png)

[2018-05-31 11:07] Yenthe666 commented on #24975
@pedrobaeza to be fair, the builds are only in English so the runbot doesn't catch that. But I can't reproduce it locally. 😉

[2018-05-31 11:09] pedrobaeza commented on #24975
Yeah, that's my saved reply. That's why I have added later "Specifically, this seems to be the OS language forced to en_GB, which is not a valid."

[2018-05-31 11:10] pedrobaeza commented on #24989
Is this reproducible on runbot? I'm not sure this is an Odoo issue

[2018-05-31 11:11] MouTio commented on #24989
Yes @pedrobaeza . The screenshots are from runbot

[2018-05-31 11:13] pedrobaeza commented on #24989
Yeah, I see in the trace. OK, let's see what can be.

[2018-05-31 11:15] jem-odoo commented on #21712
Should have been done at https://github.com/odoo/odoo/commit/3c61cd09928977922674d021241269b0bf1c3c5d
Regards

[2018-05-31 11:15] #21712 closed

[2018-05-31 12:48] Linekio opened #24996 "[11.0] pdf.js can't print PDF files on Google Chrome"
Impacted versions:
11.0
Steps to reproduce:
With Google Chrome, go to Discuss, and send a message with a PDF file as an attachment.
Click on the PDF file, and try to print it (without downloading it)
Current behavior:
You can't print the PDF. With Ctrl+P, you got an error  "Printing is not fully supported by this browser"
Expected behavior:
There should be a print icon
Video/Screenshot link (optio

[2018-05-31 14:35] Boss1669 opened #25000 "[11.0] When enable "On Invitation" Oauth (FACEBOOK/GOOGLE) throws oauth_error=3"
Impacted versions: 11.0

Steps to reproduce: Enable "On Invitation (B2B) " in website and Enable Oauth and fill out detail. When New user want to login with facebook or google using oauth it throws oauth_error=3

Current behavior: login with facebook or goole throws oauth_error=3, while On invitation mode

Expected behavior:Able to login with oauth meanwhile , enable on invitation mode

Video/Scre

[2018-05-31 15:01] magneticlab-ch opened #25001 "Edite Badges does not work"
Impacted versions: 11.0

Steps to reproduce: Create new event and confirm it. Then click on EDIT BADGES

Current behavior: No editor appears

Expected behavior: Editor should appear

[2018-05-31 16:00] Yenthe666 commented on #24993
Hi @satriani-vai,

This is by design. Odoo has disabled online apps due to security. It was unsafe to directly show, download and deploy apps from the app store. That is why you can only see/use local available modules.
In the new version & updates this is also removed i believe.

Regards,
Yenthe

[2018-05-31 16:00] #24993 closed

[2018-05-31 16:03] treviser commented on #24986
Meanwhile I'm able to answer questions, but it is not possible to post new questions.

[2018-05-31 16:15] JKE-be commented on #24986
@treviser

stange, I cannot reproduce Treviser...
Just created a new one: https://www.odoo.com/forum/help-1/question/pok-134178

[2018-05-31 16:33] sswapnesh opened #25004 "[10.0] Button is disabled after exception in tree view"
Impacted versions: 10

Steps to reproduce: Add Object type Button in Tree View --> Raise Some Exception --> Button is Disabled
Eg. Tested on Runbot --> Add Cancel Button In Tree View --> Raise Warning

![](https://image.prntscr.com/image/RJV8i4OsRGaKAaT4mJzzbw.png)

![](https://image.prntscr.com/image/jtNy9njgQEWAgfKxsuZg1w.png)

Current behavior: Button is Disabled

Expected behavior: Button shou

[2018-05-31 17:35] sswapnesh commented on #24883
Not only in Stock Picking - Return form but it works Same way in each editable list view.

[2018-05-31 17:36] satriani-vai commented on #24993
How now to see for which modules updates are available and update them?

[2018-05-31 17:37] pedrobaeza commented on #24883
I see. @ged-odoo there was recently a commit about this, but I can't find it. Can you point us to the person that can attend this?

[2018-05-31 18:19] sswapnesh opened #25005 "[11] Could not re-install account module"
Impacted versions: 11

Steps to reproduce: Install account module --> Uninstall it --> Install again

Current behaviour:

![](https://image.prntscr.com/image/fpanTXHpSVCSb_Osp5ZjKA.png)

Expected behaviour: Module should be installed

Video/Screenshot link (optional):

[2018-05-31 18:27] sswapnesh commented on #23395
@JKE-be  Not Sure If I should add this here or Create new Issue.

Click two times on Same Button
![](https://image.prntscr.com/image/AUtfHwV0R2a6CZhJAJqqSw.png)

![](https://image.prntscr.com/image/2zMtytrWT4ugBEZkgEt8FA.png)

![](https://image.prntscr.com/image/w-aTGS0NQOepowNKNgEk3g.png)

[2018-05-31 19:02] avw-odoo commented on #18510
Hello @ManishS-OpusVL

Do you think interesting to improve the l10n_uk standard module from your developments ?

[2018-05-31 19:33] Elkasitu commented on #25005
Could you provide the server logs of when this happens? Unfortunately this kind of error doesn't say much, thanks.

[2018-05-31 21:34] deivislaya commented on #24835
@pedrobaeza

The bug has reappeared in the master branch

Attach Video https://youtu.be/-jl4NWN_kPg

[2018-05-31 23:47] pedrobaeza commented on #24835
There's now another opened issue about this in #24883, so let's continue there.

[2018-05-31 23:48] pedrobaeza commented on #25004
I think this is because the button is not re-enabled as the exception follows other code paths.

@ged-odoo can you please check?

[2018-05-31 23:52] pedrobaeza commented on #17382
That kind of error it's because the nginx timeout configuration in the reverse proxy part, but not an Odoo issue. Closing by that reason.

[2018-05-31 23:52] #17382 closed

[2018-05-31 23:52] pedrobaeza commented on #17280
Is this still happening with v11 and button disabling stuff, @moylop260 ?

[2018-05-31 23:54] pedrobaeza commented on #17508
@JKE-be have you improved already the output of wire-transfer? Indeed, you can't pay with it, as there's no real payment behind. Another option is to not allow to pay through that payment type in the website.

[2018-06-01 00:01] pedrobaeza commented on #17526
There's no direct support for fiscal positions on v10, but the good news are that there is on v11, so this can be considered as "won't fix" on v10, but solved and improved a lot in v11. Meanwhile, you can use OCA module *pos_pricelist*, hosted in OCA/pos, for having similar features.

[2018-06-01 00:01] #17526 closed

[2018-06-01 00:03] pedrobaeza commented on #17543
I haven't found any problem posting messages in crons.

Do you still experiment same problems with latest code version?

[2018-06-01 00:05] pedrobaeza commented on #17590
I'm afraid this is something that can't be easily fixed without having to add a lot of code that can be risky with a very low benefit ratio. Any way, I can tell you that views have been slightly improved in v10, and rewritten on v11, and this weird effect has been mitigated in most parts, so we can consider this as "won't fix" for version 9, which is also at the end of its life cycle, but mostly s

[2018-06-01 00:05] #17590 closed

[2018-06-01 00:06] pedrobaeza commented on #17646
@qdp-odoo are there plans for adding automatic taxes adjustments on the onchange of fiscal position the same as in sales and purchases?

[2018-06-01 00:09] pedrobaeza commented on #17666
The main problem here is to use administrator user, which bypasses all the record rules and mixes things between several companies, so this is not a real issue.

Please redo steps with a regular user and you'll see that the problem is gone. If not, please reply back with a video done with other user.

I'm closing this meanwhile.

**Disclaimer**: I'm not an Odoo employee, but a community member tha

[2018-06-01 00:09] #17666 closed

[2018-06-01 00:10] pedrobaeza commented on #17672
@legalsylvain is this still unaddressed?

[2018-06-01 00:10] moylop260 commented on #17280
it is still happening with v11 using runbot 11.0

FYI this issue will raise other one if you have a method updating data on an record that spent more than 1 minute.
Because if the user press 4 times the button then the table will locked 4 minutes.
For a instance with 400 users we have locked table issues for 1 hour because of this issue.

- [![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/CDYOFe

[2018-06-01 00:11] pedrobaeza commented on #17249
Closing as there's a PR opened for tracking this.

[2018-06-01 00:11] #17249 closed

[2018-06-01 00:13] pedrobaeza commented on #17280
@ged-odoo I think this is an important one for checking. It seems that the gears screen let some moment for clicking again while they appear. Can the button enabling be delayed somehow?

[2018-06-01 00:17] pedrobaeza commented on #17684
Hi, I'm not able to reproduce this problem in latest version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it

[2018-06-01 00:17] #17684 closed

[2018-06-01 00:18] pedrobaeza commented on #17724
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2018-06-01 00:18] #17724 closed

[2018-06-01 00:19] pedrobaeza commented on #17776
You mustn't create currencies by hand, but enable one of the existing ones (that are not visible by default, as long as you don't remove the default filter), so that's the problem.

Closing as no real issue.

[2018-06-01 00:19] #17776 closed

[2018-06-01 00:21] pedrobaeza commented on #17778
I'm closing this issue as there has been some discussion with several options offered, but there's not going to be more actions from here.

[2018-06-01 00:21] #17778 closed

[2018-06-01 00:26] pedrobaeza commented on #17860
@gdgellatly if this still happening, please put a PR with your proposal.

I haven't personally faced this in all the years I'm working with Odoo, so maybe it's a question of deployment.

Any way, I'm closing this as an alternative workaround has been proposed, and now in v12 there's no more parent_left / parent_right architecture, which radically removes this bug.

[2018-06-01 00:26] #17860 closed

[2018-06-01 00:26] pedrobaeza commented on #17881
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-06-01 00:26] #17881 closed

[2018-06-01 00:27] pedrobaeza commented on #17887
@mart-e is there any plan for documenting this?

[2018-06-01 00:27] hassans2020 opened #25007 "POSBOX: Cannot print in arabic"
Impacted versions: 9.0

Steps to reproduce: Write any header or footer of receipt in arabic

Current behavior: Empty characters

Expected behavior: Posbox doesn't support arabic

Video/Screenshot link (optional):

[2018-06-01 00:28] pedrobaeza commented on #17897
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions and use preferred OSes. Check them on https://www.odoo.com/documentation/10.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with

[2018-06-01 00:28] #17897 closed

[2018-06-01 00:29] pedrobaeza commented on #25007
I don't think this is a problem of PosBox, but the printer language itself. Have you tried to print the same header with the printer connected to the server directly?

[2018-06-01 00:30] pedrobaeza commented on #17912
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-06-01 00:30] #17912 closed

[2018-06-01 00:31] pedrobaeza commented on #17922
Sorry, this is not an Odoo issue, but a feature request. There has been some work on planning part on latest versions and in enterprise modules, so I invite you to check them, for example on runbot, but this can't be covered in the specified version due to stability policy.

Closing this by the reason above.

[2018-06-01 00:31] #17922 closed

[2018-06-01 00:48] sswapnesh commented on #25005
Sure

[code]

[2018-06-01 00:49] moylop260 commented on #17280
You can reproduce the matter above using the following script:

[code]

`odoo-bin shell < locks.py`

The output of postgresql.log is:
[code]

The last query spent 40s from `execute` to finish.
Because the other ones are locking the table.

A process that spent 10s normally is taking 40s because of:
 - `total_time = time_method * n_button_pressed`

Note: Without considered concurrency from others u

[2018-06-01 06:03] gdgellatly commented on #17912
@pedrobaeza out of interest what's the method you use for emailing runbot
to do the test?

On Fri, 1 Jun 2018, 12:30 PM Pedro M. Baeza, <notifications@github.com>
wrote:

[2018-06-01 06:10] moylop260 commented on #21391
@jeffery9
Could you add to `signal_changes` method:
 - https://github.com/odoo/odoo/blob/074ec1aeae281405d998406819808795e4e6c406/odoo/modules/registry.py#L411

the following lines:
[code]

In order to see what methods is calling to `signal_changes`
Maybe a cron that is starting when you run odoo.py:
 - https://github.com/odoo/odoo/blob/074ec1aeae281405d998406819808795e4e6c406/odoo/addons/base/ir/

[2018-06-01 06:34] treviser commented on #24986
@JKE-be I have further investigated the issue:
When creating a new tag on a post, the post can not be saved: 403 forbidden, when using existing or no tags, there is no problem.

[2018-06-01 06:35] Yenthe666 commented on #24986
aha, one more to hunt down then. Good catch @treviser 😉

[2018-06-01 06:41] gdgellatly commented on #17897
That's great that /usr/bin is fine. Now all you need to do is link it in
/usr/local/bin .

On Fri, 1 Jun 2018, 12:28 PM Pedro M. Baeza, <notifications@github.com>
wrote:

[2018-06-01 07:09] ged-odoo commented on #10003
in case some of you are interested, @sht-odoo is experimenting on this issue in the branch https://github.com/odoo-dev/odoo/commits/master-handle-default-sequence-sht

[2018-06-01 07:09] JKE-be commented on #24986
Tags should be fixed

[2018-06-01 07:28] treviser commented on #24986
I can not confirm that, it does not work when editing a post.

[2018-06-01 07:35] Yenthe666 commented on #24986
@JKE-be upvotes also don't work by the way.

[2018-06-01 08:08] duanyp1991 opened #25009 "[IMP] it's not user-friendly to reload all the data after going back to the list/kanban view by clicking the breadcrumb link"
Impacted versions:
---
All odoo versions (9.0,10.0,11.0)

Steps to reproduce:
---
Starting with a Product kanban or list view, enter any product form view and click the breadcrumb link to go back to list/kanban view.

Current behavior:
---
The framework reload all the data again which might be quite slow and not user-friendly.

Expected behavior:
---
The framework uses the cached data and only rel

[2018-06-01 08:54] pedrobaeza commented on #25009
Sorry, but this is technically not possible and not desirable some times, as this will increase the memory use and not refresh data back data that can be needed to be refreshed. Any way, there has been advances on v11 and future v12 for preserving some things like expanded groups, scroll position and so on for making better the user experience without losing the refreshing part, and there's a cont

[2018-06-01 08:54] #25009 closed

[2018-06-01 08:55] #24958 closed

[2018-06-01 08:57] Elkasitu commented on #24958
The fix will be backported to 10.0 after a while, not sure about 9.0 yet as the module loading API is different.

[2018-06-01 09:04] pedrobaeza commented on #10003
Thanks for the follow-up!

[2018-06-01 09:09] pedrobaeza commented on #17912
It's a saved reply, but my tests were not on runbot indeed. We have this working in one customer without problems.

[2018-06-01 09:12] pedrobaeza commented on #25007
But the print is done through ESC/POS protocol?

[2018-06-01 10:01] hassans2020 commented on #25007
The print is done and print everything except Arabic characters.

[2018-06-01 10:03] Yenthe666 commented on #17912
@pedrobaeza on a customer environment with the latest updates? I don't know I find this weird. You're replying saying that you can't reproduce it on a runbot while you didn't reproduce it on a runbot and while you say people have to reproduce it on a runbot in order to be a valid report.
Do you see the irony of that?

[2018-06-01 10:04] pedrobaeza commented on #25007
You haven't answered my question.

@pimodoo who is the responsible of PosBox? I think PosBox prints through ESC/POS protocol, isn't it?

[2018-06-01 10:05] pedrobaeza commented on #17912
OK, easily fixed editing that saved reply. Done. I think you are being wrongly picky.

[2018-06-01 10:30] hassans2020 commented on #25007
Yes, it is through ESC/POS

[2018-06-01 10:33] jeffery9 commented on #21391
OK I'll try

发自我的华为手机

-------- 原始邮件 --------
主题：Re: [odoo/odoo] [11.0] multi-worker mode is slower than single worker mode (#21391)
发件人：moylop260
收件人：odoo/odoo
抄送：Jeffery CHEN Fan ,Mention

@jeffery9<https://github.com/jeffery9>
Could you add to signal_changes method:

  *   https://github.com/odoo/odoo/blob/074ec1aeae281405d998406819808795e4e6c406/odoo/modules/registry.py#L411

the following lin

[2018-06-01 10:34] pedrobaeza commented on #25007
You can see here that printing Arabic through ESC/POS is not direct: https://stackoverflow.com/questions/38683686/print-arabic-words-from-python-to-esc-pos-printer

[2018-06-01 10:39] mevivek4u opened #25015 "Less issue in ubuntu 18.04"
Impacted versions: V9

Steps to reproduce:
Ubuntu 18.04
Odoo Version : 9

Video/Screenshot link (optional):
![screenshot from 2018-06-01 16-11-34](https://user-images.githubusercontent.com/1643205/40837002-7bfa7edc-65b6-11e8-9e05-62774223d354.png)

[2018-06-01 10:41] pedrobaeza commented on #25015
What is the issue?

[2018-06-01 10:43] mevivek4u commented on #25015
@pedrobaeza The issue is with less and lessc. I have applied all solutions but still getting the same

[2018-06-01 10:44] pedrobaeza commented on #25015
OK, now you have changed the screenshot, but any way, the issue is with your deployment, that you are not installing correctly dependencies. Be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html. You can also use other package solutions like the DEB package or Docker image.

I'm closing this issue now, but if you fe

[2018-06-01 10:44] #25015 closed

[2018-06-01 10:55] Yenthe666 commented on #17912
Nah, I'm not being picky, I just like things to be correct. Don't take it offensive, I can be quite straight forward in responses just like you 😉

[2018-06-01 10:56] Yenthe666 commented on #25015
and this might also help you https://www.odoo.com/nl_NL/forum/help-1/question/ubuntu-18-04-lts-how-to-install-less-and-sass-compass-and-bootstrap-sass-134194

[2018-06-01 10:58] pedrobaeza commented on #17912
OK, 2 replies for the same thing is not the usual thing, but solved.

[2018-06-01 11:09] #23502 closed

[2018-06-01 11:58] satriani-vai opened #25018 "[11.0] Cannot update modules in Chrome"
This issue relates to this issue: https://github.com/odoo/odoo/issues/24993
It is very curious. Everything works wonderfully in Firefox. That issue I have in Chrome / Chromium. Clearing cache and deleting cookies did not help. Does somebody has any idea?

Take a look to the https://github.com/odoo/odoo/issues/24993#issuecomment-393893802

[2018-06-01 12:03] Yenthe666 commented on #17912
Thanks a lot!

[2018-06-01 12:15] Yenthe666 opened #25019 "[10.0] Real duration not calculated on work orders made through XML-RPC (with non-admin user)"
Impacted versions: Atleast 10.0 but I assume all of them.

Steps to reproduce:
1. Install a demo database with the latest 10.0 code
2. Install manufacturing and check on "Manage production by work orders"
3. Create a Python script that does XML-RPC calls with the admin user on this work order. Example:
[code]
4. Execute this Python script and go back to the work order, you'll find a new line for t

[2018-06-01 12:17] mreficent opened #25020 "[Proposal] New labels"
I propose you the creation of the following tag labels:

 - For issues, a label tag "`PR`" would mean that the issue has already a opened PR that solves it.
This way, people attending new issues in Issues page, will know immediately what issues are not attended yet.

 - For PRs, a label tag "`Issue`" would mean that the PR solves an issue.
This way, PRs that solve issues could receive more reviews

[2018-06-01 12:48] Yenthe666 commented on #25020
Hi @mreficent,

Thanks for the suggestion and for thinking along, very welcomed!
I think it is not much extra effort to have more insight for the other side of the issue or a PR, so I think I like it.
@mart-e and @odony what do you two think? It could give us more ways of filtering and reporting plus it gives more insights to the people using the tracker.

Regards,
Yenthe

[2018-06-01 13:15] Yenthe666 commented on #24993
from apps > Updates (needs developer mode)
![image](https://user-images.githubusercontent.com/6352350/40842545-86928cf2-65ae-11e8-91a8-41baa4e50f5d.png)

[2018-06-01 13:57] jem-odoo commented on #22097
Landed in master enterprise at https://github.com/odoo/enterprise/commit/272eb08bb600d17013dcba140a84d8145b50b212
We can not do it for stable version, so it will be available for 12.0.

Regards

[2018-06-01 14:14] satriani-vai commented on #24993
In Chrome/Chromium
![peek 2018-06-01 16-09](https://user-images.githubusercontent.com/5981417/40845249-7070f942-65b6-11e8-8a06-737cb3aa865a.gif)
and this is in Firefox
![peek 2018-06-01 16-13](https://user-images.githubusercontent.com/5981417/40845375-ccf00532-65b6-11e8-85b1-2f5cbe27b80b.gif)

[2018-06-01 14:19] Yenthe666 commented on #25018
@satriani-vai which chrome version do you have?

[2018-06-01 14:21] Yenthe666 commented on #24972
Hi @luisg123v,

Thanks for the bug report. I've just tested this and it is indeed a bug, confirmed.
The issue will be handled through the OPW

Regards,
Yenthe

[2018-06-01 14:23] Yenthe666 commented on #22097
@jem-odoo you made a typo. You have `Ajustment` instead of `Adjustment`

[2018-06-01 14:29] pedrobaeza commented on #25020
When there's a PR, I usually close the associated issue, as having only 1 thing opened is enough, so I don't see that needed, but no great problem of having it.

[2018-06-01 14:32] Yenthe666 commented on #25020
@pedrobaeza the downside with that is that a PR might stay open very long while you already closed the issue off. Odoo is not as fast as OCA with merges/fixes. This may result in new issues for example, but in general both approaches have no real problem.

[2018-06-01 14:35] mart-e commented on #25020
Hello,

I am not sure about this. The more complex the system gets, the harder it will be to keep consistent labels.
Maybe, a useful label could be something like "PR welcome" but the link between issues and PR is done by github, when you use the correct # reference, so I don't really see the point to add, yet another label.

I don't mind keeping the issue open when the PR is still unprocessed, es

[2018-06-01 14:38] pedrobaeza commented on #25020
About avoiding new duplicated issues, you know that people generally don't look before putting the issue, so the problem is going to be the same closing it or not, but I'm also OK in letting it opened, specially as Martin says when it's not clear that the PR is going to fix it.

[2018-06-01 14:41] Yenthe666 commented on #25020
Sounds good. @mart-e I like your "PR welcome" suggestion though, although we can label a lot of issues with that one I'm afraid.
I get what @mreficent wants though, being able to filter more thorough and have a cleaner link between issues/PR's.

[2018-06-01 14:44] lem8r commented on #25007
Worth trying this fix https://github.com/odoo/odoo/pull/19757
It improves selection of proper character encoding for ESC/POS.

[2018-06-01 15:00] mart-e commented on #25020
@Yenthe666 if you can set on on half of the issues, then it is probably not a good label.
What I had in mind, was more for the issues where a problem is identified, we know what should be done in a PR but not a priority and an employee used the classic "I don't have the time to do it but can review a PR" :wink:, not just all the confirmed one. You see the difference?

Sorry but it looks like this

[2018-06-01 15:04] luisg123v commented on #24972
Thanks @Yenthe666, I'll be following any news on this.

[2018-06-01 15:41] Yenthe666 commented on #17724
@pedrobaeza wait, are you sure here? He is actually adding code to demonstrate and reproduce a problem in the framework (atleast, the author believes so), no?

[2018-06-01 16:28] pedrobaeza commented on #17724
I don't really identify any real problem in framework, but some instructions about what he does are confusing. The only way to demonstrates this is through a complete module attached as ZIP for trying, and specifying clearly the STR (steps to reproduce). Meanwhile, I keep the closing status as the valid one.

[2018-06-01 16:44] moylop260 opened #25029 "[ir.cron] invalidate all cache and load modules for each calls for ir.cron"
Impacted versions:
9.0, 10.0, 11.0 (Maybe 8.0)
I don't know if it is really an expected behaviour for odoo but I like to expose it

Steps to reproduce:

1. Open an ir.cron record and change it to:
 - interval: minutes
 - next execution date: now + 1 minute

2. Open the odoo server log

Note: I'm using workers=3 but I don't know if there is possible to reproduce it without workers.

Current behavio

[2018-06-01 17:00] Yenthe666 commented on #17724
Okay, fair point, thanks Pedro. @osluys please do provide us with a module and a movie that shows the exact issue so we can act on it.

[2018-06-01 17:04] moylop260 commented on #21391
FYI I have created an issue that could be related to this one:
 - https://github.com/NETLINKSAF/apps_mod/issues/3729

[2018-06-01 17:06] moylop260 commented on #25029
@odony
Is an expected behaviour clean caches and registries after run a cron method?

[2018-06-01 17:46] holdenrehg commented on #23509
Is there some sort of replacement/alternative, outside of developing a custom solution, @Yenthe666 or @sswapnesh . It's nice in some scenarios such as res.partner hierarchies, GL accounts, etc.

[2018-06-01 18:41] Yenthe666 commented on #23509
Not really @holdenrehg, as far as I know there is no alternative on the table yet.

[2018-06-01 19:27] satriani-vai commented on #25018
I found the culprit. It was a Privacy Badger :laughing:

[2018-06-01 19:27] #25018 closed

[2018-06-01 21:20] edsersolis commented on #23421
This seems to not be happening in last builds. Closing it.

[2018-06-01 21:20] #23421 closed

[2018-06-01 21:22] edsersolis commented on #23035
This seems to have been fixed. Closing.

[2018-06-01 21:22] #23035 closed

[2018-06-01 21:23] edsersolis commented on #19990
@lap-odoo maybe you could have a check or comment on this?

[2018-06-01 21:27] edsersolis commented on #24286
Any comments on this? As @gustavovalverde states, user should be able to cancel the Landed Cost, and even better if we can change it back to draft after cancelling.

[2018-06-01 23:13] SalahAdDin opened #25030 "[11] Properly connector for Postgres 10"
Hi guys, i'm testing `odoo` 11 with docker and i get an error when i try to make a backup  from my database.
**Steps to reproduce:**
I go to the database manager section and i try to get a backup.

**Current behavior:**
Creating a `zip` file i get this:
[code]
 In the other case, for `dump` data i get a empty file.

**Expected behavior:**
Get a full `dump` file or a zip file with the database back

[2018-06-02 00:29] sum1201 commented on #24910
@Yenthe666
 I think it's a bug and I didn't get a correct response at odoo.com/help. Now that the user added the detail data, it cannot delete it. Can't always go to the PC to delete it? Please help resolve this issue as soon as possible.

[2018-06-02 05:28] mr-module commented on #20614
i am facing similar problem. Even I did 'proxy=True' in config but still it gives me error below

Mixed Content: The page at 'https://domain.com/shop' was loaded over HTTPS, but requested an insecure image 'http://domain.com/web/image/website.s_parallax_slider_default_image'. This content should also be served over HTTPS.
Can you please help me

[2018-06-02 05:32] sswapnesh commented on #20614
Hello @mr-module
Add `proxy_mode = True` instead of `proxy=True` in your odoo config and try again.

[2018-06-02 05:38] mr-module commented on #20614
Hello @sswapnesh ,
Thanks for the quick response, but I did proxy_mode=True, still facing the problem!

[2018-06-02 05:40] sswapnesh commented on #20614
I am pretty sure this is working fine in all Case. (Just to Confirm - Make sure you are using that conf file, Restart your server and refresh you page)

[2018-06-02 05:42] mr-module commented on #20614
Actually, I configured https on my website. and as the image path is like - /web/image/.......
So it takes full path as - http://domain.com/web/image/.... .but it should take as https://domain.com/web/image/.......

So, that's why I get warning mentioned above in my browser console. And this result in https [Not secure] on browser URL

[2018-06-02 05:48] sswapnesh commented on #20614
Change value for `web.base.url` from http//domain to http**s**//domain

and add system parameter for
Key:` web.base.url.freeze`
Value: `True`

[2018-06-02 05:50] mr-module commented on #20614
I already changed web.base_url to https://domain.

Yeah I didn't freeze it but it was still https. when I got this issue.
Can you please help me over skype?

[2018-06-02 05:53] sswapnesh commented on #20614
Can't do skype at the moment.
You can mail me (Email is added in Github Profile)

On Sat, Jun 2, 2018 at 11:20 AM mr-module <notifications@github.com> wrote:

[2018-06-02 05:55] mr-module commented on #20614
But what can be the resolve for this?

[2018-06-02 08:33] Muhammad105 commented on #14908
I have 0.21.1, but still same issue.

[2018-06-02 11:29] Yenthe666 commented on #24910
@sum1201 what was the official response on the ticket?

[2018-06-02 11:39] pedrobaeza commented on #17983
@qdp-odoo is there any plan for supporting a fiscal position for purchases and another for sales?

[2018-06-02 11:41] pedrobaeza commented on #18001
There has been already some work for custom aggregations at read_group level, so please check them and tell back if this still applies. If you have it clear, a PR to master is also very welcome with your proposal.

[2018-06-02 11:43] pedrobaeza commented on #18002
This is a know limitation on the framework, but you have an easy solution: put in your test code following lines:
[code]
With this, your test is executed at the end of the modules loading, not having that errors.

Closing as know limitation, but with a workaround.

[2018-06-02 11:43] #18002 closed

[2018-06-02 11:46] pedrobaeza commented on #18010
This is something about enterprise modules, so it should be treated through http://odoo.com/help, but any way, it's not an issue, but a misconfiguration: you have to put at least one account type of "Current Year Earnings", and one account (only one) belonging to that account type.

Closing by the reasons stated above.

[2018-06-02 11:46] #18010 closed

[2018-06-02 11:50] pedrobaeza commented on #18041
That field has a very specific use and doesn't fit on a general purpose (even if you have installed `website_customer` module). Most of your res.partner records don't need that field filled, so switching to debug mode only when you need to put the reference is reasonable.

I let @JKE-be the last word for closing this.

[2018-06-02 11:51] pedrobaeza commented on #18049
@d-fence any news about this?

[2018-06-02 12:15] pedrobaeza commented on #25030
Are you doing this with official Docker image?

@Yenthe666 do you know who is the Docker responsible?

[2018-06-02 12:18] pedrobaeza commented on #18054
I have just tried on runbot and it's working correctly:

![seleccion_013](https://user-images.githubusercontent.com/7165771/40874455-b6d0dbbe-666f-11e8-8c75-12acf7bde421.png)

so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server,

[2018-06-02 12:18] #18054 closed

[2018-06-02 12:28] icf20 commented on #23527
@len-odoo pépé@gmail.com is not a international domain name pépé@gmail.com is just an gmail domain an international domain name is  Яндекс.рф ( yandex.ru) you go to mail.yandex.com make a account and then send a email to that account@Яндекс.рф

[2018-06-02 12:51] SalahAdDin commented on #25030
@pedrobaeza  yes, i'm using the official image.

[2018-06-02 13:31] sswapnesh commented on #25030
@pedrobaeza  I believe @d-fence  is right person for this.

[2018-06-02 14:19] pedrobaeza commented on #18098
Duplicate of #16635

[2018-06-02 14:19] #18098 closed

[2018-06-02 14:27] pedrobaeza commented on #18162
That's because you are defining the method on `product.template`, and `product.product` directly inherits these constraints, but they are 2 separate models (as the inheritance is by delegation), so it's expected that this is called for the product.template record and for the product.product record(s).

Just put the constraint in product.product if you don't want this multiple call.

Closing as no

[2018-06-02 14:27] #18162 closed

[2018-06-02 14:29] pedrobaeza commented on #18165
@qdp-odoo I haven't used the tax adjustment, as it's not needed in my country. Can you answer this issue?

[2018-06-02 14:32] pedrobaeza commented on #18166
These rough edges you mention are indeed there, but with difficult solutions in current versions. The good news are that there has been a massive refactoring of all the resource calendar code in #24717, so in v12 this is not going to happen anymore.

I'm going to close this as "won't fix" for v10/v11, but solved on v12. If you have an enterprise contract, then maybe you can redirect your issue to

[2018-06-02 14:32] #18166 closed

[2018-06-02 14:34] pedrobaeza commented on #18181
Closing as there's already an opened PR: #17865

[2018-06-02 14:34] #18181 closed

[2018-06-02 14:35] pedrobaeza commented on #18182
Closing as there's an opened PR: #17883

[2018-06-02 14:35] #18182 closed

[2018-06-02 14:36] pedrobaeza commented on #18190
Is this still happening?

[2018-06-02 14:38] pedrobaeza commented on #18217
Closing as there's already an opened PR for this: #19047

[2018-06-02 14:38] #18217 closed

[2018-06-02 14:40] pedrobaeza commented on #18041
Well, I agree that the debug mode for hiding fields is totally unneeded, but that's another debate. On the principle that this mode is for hiding technical fields, this is where I think this field is quite technical, but if you consider that should always go there, then can you please make the change?

[2018-06-02 14:43] pedrobaeza commented on #18244
This is an extremely rare case, as you don't usually have so many tags, but I prefer to have this than to have cards with different heights, so for me it's a vote for letting as is. It's still seen and don't change height.

I let @ged-odoo the latest word for closing this.

[2018-06-02 14:44] pedrobaeza commented on #18334
This has been handled in commit https://github.com/odoo/odoo/commit/d6d901c7bc23c7aaafd09c2abccfbe6a7c963b70

[2018-06-02 14:44] #18334 closed

[2018-06-02 14:49] pedrobaeza commented on #18355
Hi, I'm not able to reproduce this problem in latest code, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it can

[2018-06-02 14:49] #18355 closed

[2018-06-02 14:50] ywiyogo commented on #21800
Hi @remcowillekus , hi @OGGonzalezM ,

I cannot find the `web.url` parameter. Did you mean `web.base.url` in "System Parameters"? If not, where can I find it?
If I click "settings", then on the side bar left, "Parameters" -> "System Parameters", I find `web.base.url` with an entry `http://localhost:8069`. I run my Odoo in my laptop locally. So it cointains already the port number.

@sergeiruzkiico

[2018-06-02 14:53] pedrobaeza commented on #18372
Hi, I'm not able to reproduce this problem in latest v11, so I consider that it has been solved, although not on the target version, and I'm going to close this issue.

If you have an enterprise contract, you can open an OPW ticket to see if the bugfix team can fix the problem in v10.

[2018-06-02 14:53] #18372 closed

[2018-06-02 14:54] pedrobaeza commented on #18418
Hi, this seems something related to your deployment, so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/10.0/setup/install.html. It's also strongly recommended to use Linux, where there are less possibilities of errors.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-06-02 14:54] #18418 closed

[2018-06-02 14:55] pedrobaeza commented on #18422
Hi, I'm not able to reproduce this problem in latest version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it

[2018-06-02 14:55] #18422 closed

[2018-06-02 14:58] pedrobaeza commented on #18439
This is a corner case of SQL on delete triggers + ORM. @rco-odoo do you consider this as lacking feature of the ORM. Maybe this can be solved adding `parent_id` to the list of dependent fields? (I don't think so).

[2018-06-02 15:01] pedrobaeza commented on #18447
The technique for getting this is to used a hook (like post-init) in a custom module, where you explicitly change the file name, but this can't be performed with standard tools the way you want without breaking the translation system (and thus the reason for the @mart-e's commit).

Another option is to install the language on the very beginning before installing account, sale, and so on, and on th

[2018-06-02 15:01] #18447 closed

[2018-06-02 16:02] ywiyogo commented on #21800
Ok, I solved the issue. I use Odoo11 and Linux Mint 18 (Ubuntu 16.04). The tool `wkhtmltopdf` in Ubuntu 16.04 is installed with the version 0.12.2.4. I've read the compatibility that Odoo11 needs `wkhtmltopdf` version 0.12.1.0. Step 12 of this tutorial https://www.getopenerp.com/install-odoo-11-on-ubuntu-16-04/ has saved my day!
So my problem was not because of the system parameters.

[2018-06-02 16:12] lem8r commented on #25030
Odoo 11 image is based on Debian Stretch which has Postgresql version 9.6.
pgdump v9.6 is executed with database server version 10 which causes error.

You have to build your own image with pg-client upgraded to version 10.

Here is example Dockerfile

[code]

[2018-06-02 17:30] kimasplund commented on #23812
Thx Boss1669
Works like a charm with that.
Did not get it working before even by changing

[2018-06-02 17:55] gustavovalverde opened #25031 "[10.0/11.0] pos_restaurant: Orders and Tables can't be merged"
Impacted versions:
All

Steps to reproduce:
(a)
- A table has 6 customers, and 4 orders.
- One of the customers wants to pay all the orders.

(b)
- There's a group in two tables, they then join both tables or move from one table to the other.

Current behavior:
- You have to re-type the whole order as you can't merge orders nor tables.

Expected behavior:
- Re-typing a whole order is error prone a

[2018-06-02 18:10] gustavovalverde opened #25032 "[10.0/11.0] pos_restaurant: Splitting orders won't allow to specify the qty"
### Impacted versions:
All

### Steps to reproduce:
- Split an order with 2 orderlines (4 Hamburgers and 10 Cokes)
- 2 Hamburgers and 5 coca goes into one of the orders

### Current behavior:
- As the 4 Hamburgers and the 10 Cokes are in the same orderline, they can't only be move as a whole

### Expected behavior:
- There should be an option to split just the selected qty.

**Note:** In general,

[2018-06-02 22:45] sum1201 commented on #24910
Hello,

Indeed, I have tested query with mobile layout and unfortunately, advance option like ''delete' or to attach document is not available for mobile design.

Feel free to share me screenshot if you see different problem.

Regards,

[2018-06-02 22:48] sum1201 commented on #24910
@Yenthe666
 I think this is unreasonable.

[2018-06-02 23:10] SalahAdDin commented on #25030
@lem8r Thank you very much, i will test it.

[2018-06-02 23:29] nikiwaibel commented on #20614
you may also need
`proxy_set_header Host $host;`
`proxy_set_header X-Real-IP $remote_addr;`
`proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;`
`proxy_set_header X-Forwarded-Proto https;`
in your nginx config.

[2018-06-03 08:04] mr-module commented on #20614
It is apache2 so what shall I do?

Warm Regards

*Opensys*
Turning your imagination to solution
*Odoo | Python | Django | Ruby on Rails | React JS Development*
For More Info, Log on to - *http://www.opensysknw.com
<http://www.opensysknw.com>*

On Sun, Jun 3, 2018 at 5:00 AM, Niki Waibel <notifications@github.com>
wrote:

[2018-06-03 08:21] lem8r commented on #25030
No, you don't.
It is already included in `odoo:11.0` image.

[2018-06-03 09:15] Boss1669 opened #25033 "[11.0] When remove attribute in product affects some details of the variant (barcode,price)"
Impacted versions: 11.0

Steps to reproduce: Create product , Add Attribute and Attribute Value to it
For Example
Product A
Attribute : Kilogram, Attribute Value : 5,6
Attribute : Color, Attribute Value : Pink,Blue
Go to ->Catalog -> Products variant manually input barcode or in price list add these product to pricelist and set a specific price.
Go to -> Catalog -> Products, manually remove one of

[2018-06-03 09:27] Yenthe666 commented on #25030
Indeed, it is @d-fence for Docker images.

[2018-06-03 09:32] mr-module commented on #20614
Can you tell me exact file and where in that file I must write this
 RequestHeader set "X-Forwarded-Proto" "https"
I'm quite new with bitnami

On Sun, Jun 3, 2018, 2:13 PM Niki Waibel <notifications@github.com> wrote:

[2018-06-03 09:51] nikiwaibel commented on #20614
@mr-module: sorry. i know nothing about the bitnami odoo docker container.

in general, if a loadbalancer is used:

- the odoo environment variable proxy_mode has to be set to True and
- within the loadbalancer config (apache, nginx, …) some HTTP request header have to be set and forwarded to odoo properly.

[2018-06-03 21:23] ywiyogo opened #25034 "Fixed string "Tax XX%" in the printed invoice pdf or html"
Impacted versions:11

Steps to reproduce:
1. Open a non-english database
2. Go to accounting -> and open any outgoing invoice or create a new outgoing invoice
3. Click print (pdf or html)

Current behavior:
The line between subtotal and total contains "Tax XX% ..." which does not translated correctly.
I tested in two different languages.

Expected behavior:
The word "Tax" shall be translated to th

[2018-06-04 01:57] #25032 closed

[2018-06-04 05:46] Yenthe666 commented on #24910
Hmm, that seems odd to me too. If you cannot delete or attach documents then what good is a mobile view for?
@mart-e could you double check this please?

[2018-06-04 05:49] pga-odoo commented on #24910
@Yenthe666  check this https://github.com/odoo/odoo/pull/15857

[2018-06-04 05:54] Yenthe666 commented on #24910
@pga-odoo thanks! If I understand it correctly this will support deleting from the mobile view, right?

[2018-06-04 06:21] treviser commented on #18041
@pedrobaeza @JKE-be To me it looks anyway like something that is Odoo S.A. specific, but unfortunately a customer reference can not be published without filling that field, despite of the installation of the website_customer module. I've never understood this. Publishing a customer (without having to touch the field "Implemented by" should really be enough.

[2018-06-04 06:42] Yenthe666 commented on #24910
Ahh nice! I see it is against master. It won't be added in stable versions?

[2018-06-04 07:17] #24972 closed

[2018-06-04 07:19] SalahAdDin commented on #25030
@lem8r
[code]

[2018-06-04 07:25] DR4RCON opened #25038 "[11.0] Reconciliation Model Button independent of journal_id"
Impacted versions: 11

Steps to reproduce: Create some reconciliation_model records with and without journal_id.

Current behavior: In bank reconciliation view, you will see all reconciliation_model(Buttons) independent of journal_id .

Expected behavior: In bank reconciliation view, you should see all reconciliation_model(Buttons) dependent of journal_id .

You can easily fix that with adding:
[c

[2018-06-04 07:43] SalahAdDin commented on #25030
Finally i did this:
[code]

[2018-06-04 07:44] d-fence commented on #25030
@lem8r perfectly answered this issue. Odoo 11 Docker image is made to be run alongside Postgres 9.6.
So, this issue is not really Odoo related that's why I close it.

That said, I think,that @SalahAdDin last issue with gnupg and wget that are missing in the image can be easily solved with something like that in your Dockerfile:
`
&& apt-get update \
&& apt-get install  -y --no-install-recommends \

[2018-06-04 07:44] #25030 closed

[2018-06-04 07:56] Yenthe666 commented on #24972
@luisg123v it has been fixed in https://github.com/odoo/odoo/commit/a1d5f32296fb49f1293354ad8da2ba338f100252 😄

[2018-06-04 08:31] jem-odoo commented on #22097
Thanks @Yenthe666 . Typo fixed at https://github.com/odoo/enterprise/commit/296666a99d957a7be56437d4b59762aa31be8257

[2018-06-04 08:35] BT-aestebanez opened #25039 "[10.0] LDAP problem with special characters"
Impacted versions: At least 10.0 (not tested in other versions)

Steps to reproduce: Try to login as a user which has a special character such as ä in the login

Current behavior: UnicodeEncodeError: 'ascii' codec can't encode character u'\xf6' in position 26: ordinal not in range(128)

Expected behavior: Log in

Video/Screenshot link (optional):
https://github.com/odoo/odoo/blob/10.0/addons/auth_

[2018-06-04 09:06] pedrobaeza commented on #25039
I'm pretty sure this doesn't happen in v11 due to Python 3.

[2018-06-04 09:08] Yenthe666 commented on #22097
Thanks a lot! 🎉

[2018-06-04 09:09] BT-aestebanez commented on #25039
You are right, my fault

[2018-06-04 09:17] sum1201 commented on #24910
@Yenthe666 @pga-odoo
I see that the kanban can swipe left and right, and when I slide to the left, the delete button appears. Is this better?

[2018-06-04 09:30] #25005 closed

[2018-06-04 09:41] sum1201 commented on #24910
@Yenthe666 @mart-e @pga-odoo
Can it raise the priority of this issue? Without this feature, there is simply no way for the mobile to use it.

[2018-06-04 09:54] rim-odoo commented on #23410
Hello

According to @rco-odoo (our ORM/performance specialist), this won't be a piece of cake to optimize, especially in a stable version.
A performance patch should land in master soon, but I'm afraid that older version won't be optimized.

If this onchange really bothers you, you can still add `on_change="0"` in your view in order to disable it.
https://www.odoo.com/documentation/11.0/reference/

[2018-06-04 09:54] #23410 closed

[2018-06-04 10:32] nagahxp commented on #2638
hi @bishamontn , have your resolved this issue
can you help?
I'm trying to use the latest posbox image for raspberry pi 3 B+, but unfortunately it is not booting
the posbox is giving a rainbow colored screen on the connected display

[2018-06-04 11:04] SalahAdDin commented on #25030
@d-fence i solved in first way, i don't know how can i use `curl` in that case.

[2018-06-04 11:08] TimLai125 commented on #24853
@Yenthe666 Hi, I have some tests on this issue. I found the issue appears less when I increase the `limit_memory_hard` and `limit_memory_soft`. However, I do not think it is reasonable to increase the spec of our server to overcome the issue. (The spec of the server: 2CPU and 4GB of memory)

May I know the mem spec of Odoo Runbot and the configuration of PostgreSQL?

[2018-06-04 11:36] TimLai125 commented on #24853
I have found a way to reproduce the issue with Odoo Runbot.

1. Register and login as a new portal user
2. Add a product to the wishlist
3. Check the "Add product to my cart but keep it in my wishlist" option on the wishlist page  (/shop/wishlist)
4. Press "Add to Cart" quickly
5. Check the backend and there should be like 2 sales orders are created.
![image](https://user-images.githubusercontent.

[2018-06-04 11:58] d-fence commented on #25030
Something like that should work:
[code]

[2018-06-04 13:17] Yenthe666 commented on #24853
@TimLai125 the runbot has atleast 32GB RAM, I actually think 64GB.
As for the reproducable case: @JKE-be I summon you. 😉

[2018-06-04 13:20] Yenthe666 commented on #24910
@sum1201 as it is not in current versions and the PR is against master it looks like this won't land before V12 I'm afraid. Finall call is up to @pga-odoo

[2018-06-04 13:22] Yenthe666 commented on #18811
The task / PR is on the way at https://github.com/odoo/odoo/pull/25045 by the way!

[2018-06-04 13:26] JKE-be commented on #24853
don't worry about the server resource.

Fix need to be done into the code. and only catch one click!

[2018-06-04 13:47] sum1201 commented on #24910
@Yenthe666 @pga-odoo
If it can't be solved, then the mobile terminal can only be used to view data, it cannot be used to edit and process data, and its usability will be greatly reduced. For enterprise users, they all value the mobile terminal. Otherwise, why do they not use the community version?

[2018-06-04 14:11] OGGonzalezM commented on #21800
Great!!

Sometimes you don't know what is the problem, i've just tried all that i know.

Oscar González

[2018-06-04 14:27] Yenthe666 commented on #24910
@GoodERPJeff the odoo/enterprise repository is closed off for issues as all enterprise issues technically need to go through odoo.com/help. 😉

[2018-06-04 14:39] mart-e commented on #25034
Hello,

You are referring to the "Tax:" on the invoice report? Then it is not the translation of `Tax %.2f%%`, that is python code.
What you are talking about is from this part, it is actually the tax name:
https://github.com/odoo/odoo/blob/579f67166a25bd3b072edf92c24df99b3568eaf7/addons/account/views/report_invoice.xml#L116-L117

Please clarify what is not translatable

[2018-06-04 14:40] SalahAdDin commented on #25030
[code]

[2018-06-04 14:42] d-fence commented on #25030
My bad, I forgot to remove the trailing "-O -" from the copy paste :-)
[code]
AFAIK curl will use stdout by default.

[2018-06-04 14:47] Yenthe666 commented on #25038
@qdp-odoo can you have a look at the suggested fix? If you'd like we can make the PR for you.

[2018-06-04 15:01] Yenthe666 commented on #25033
If I'm not mistaking this is working as intended and this is a known 'limitation' of the current product/variant setup.
@mart-e and @pedrobaeza I'm sure one of you can confirm this. I believe it recomputes all the other variants causing this behaviour.

[2018-06-04 15:06] bista-arpit commented on #24921
Hi @Yenthe666 ,

Is any update on this issue.
Please let me know

Thanks!
Arpit

[2018-06-04 15:42] ManishS-OpusVL commented on #18510
Hello @avw-odoo

Yes, certainly. We have already scoped some significant improvements in the existing l10n_uk standard module.

One of the key one is related to the terminology used for Tax codes. We can come up with entire list when we are ready to publish our improvised UK standard module.

Further would like to mention that we have an experienced Chartered Accountant in our team who is working

[2018-06-04 15:44] pedrobaeza commented on #25033
This is not an error, but a misunderstanding on how variant system works:

- About the price, you put the price on the variant, so the price is reflected as an extra price for one of the attributes, not the template list price. When you removed that attribute, you lose the extra price. So put the price on the template. Maybe some visual guidance on variant when readonly mode putting <template_list

[2018-06-04 15:44] #25033 closed

[2018-06-04 17:19] hugho-ad commented on #17280
@moylop260 should we report this by opw?

[2018-06-04 18:24] passion342 opened #25053 "Odoo picks up the latest price when calculating COGS instead of following FIFO rule"
Impacted versions: 11 EE

**Steps to reproduce:**

1- Activate FIFO Pricing along with Automated Inventory Valuation on a Product Category, say, Real Pricing
2- Create a product 'Product 1' and assign it to product category Real Pricing
3- Buy 10 units of 'Product 1' @ $500 each => Valuation: $5000. Buy another 10 units of Product 1 @ $500 each => Valuation: $5000. Buy another 20 units @ $700 => V

[2018-06-04 19:17] Zoltan-X commented on #7327
l is invoice_line so take directly id instantiating is not working this way!!

<t t-foreach="o.invoice_line" t-as="l">
    <t t-set="tax[l.id,'rate']" t-value="l.invoice_line_tax_id.amount"/>
    <t t-set="tax[l.id,'amount']" t-value="tax[l.invoice_line_tax_id.id,'amount'] + (l.price_subtotal * l.invoice_line_tax_id.amount)"/>
    </t>
</t>

with best regards!

:)

[2018-06-04 19:35] edsersolis opened #25055 "[11.0] Inventory Valuation not possible by location nor WH"
Impacted versions:
11.0

Steps to reproduce:
- Create a Valuation Report
- Group by WH or Location

Current behavior:
- Grouping shows as undefined.

Expected behavior:
- Group by WH or Location.

Use case, maybe the most important one: everytime you have to send a report for insurance you must know what value of stock you have in that location.

The solution Odoo gave to this issue was to delete

[2018-06-04 19:49] sle-odoo commented on #25053
Real price doesn't exist anymore in v11, i think you're talking about financial fifo. To fix your issue, please set the product's invoice policy as "delivered quantity", then the price will be taken on the moves.

Regards

[2018-06-04 19:49] #25053 closed

[2018-06-04 20:37] nuelgoz opened #25056 "[11.0] odoo 11, does not save attribute values ​​in variants"
it does not save variants, in Odoo 11, when you create a product with variants it saves the attributes and the variants, but when generating a high number of variants the system does not keep the changes made.

example: I have 8 attributes and in each attribute several values, are characteristics of an ordered, I can have ram screen and several values for each attribute, I can continue adding attr

[2018-06-05 00:31] JulioSerna opened #25057 "[account] wrong date with account tax cash basis"
reference to this issue https://github.com/odoo/odoo/issues/9972

Impacted versions:
* 11.0

Steps to reproduce:
* create and set tax like cash basis in payment
* create invoice and validate
* Payment invoice with date 01/01/2018

Current behavior:
The journal entry created by account tax cash basis is taking the [max date](https://github.com/odoo/odoo/blob/11.0/addons/account/models/account_move.

[2018-06-05 01:08] gdgellatly commented on #25056
It will eventually if you let it, but your volumes are at the extreme end.

You'll need to run with zero workers and wait.  Otherwise you hit CPU
limits. I'm pretty sure there is some non linear computation going on
because it gets very slow as volumes increase.

I've not had to do any big ones for a while but for roughly 20k it took
about 7 hours.

On Tue, 5 Jun 2018, 8:37 AM Manuel Gómez, <notif

[2018-06-05 01:30] seyed-mohammad-motahar commented on #23895
@pedrobaeza  I think the best workaround is to use voucher module.

Just for anyone who might get in here, The process is to use the customer receipts to record a payment that debits the bank and mark the payment to "Pay Now" (NOT pay later).

Using this method of debiting / crediting the bank, Entry will be visible in the bank reconciliation to tick off.

Regards,
Mohammad

[2018-06-05 02:56] luisg123v commented on #24972
Thanks @Yenthe666  & @kebeclibre

This issue is indeed solved now.

[2018-06-05 05:36] Yenthe666 commented on #25033
Thanks for the extra info @pedrobaeza, better explained than me.

[2018-06-05 06:06] Yenthe666 commented on #24921
@bista-arpit not from my side, @bistaray can you give an update on the official tickets?

[2018-06-05 07:31] bistaray commented on #24921
@Yenthe666, Issue is transferred to Belgium team and they are investigating the root cause and comparing Odoo 10 and Odoo 11. Will keep updating this thread with information shared by Belgium team.

[2018-06-05 07:32] Yenthe666 commented on #24731
Fixed in https://github.com/odoo/odoo/commit/b837bbdd8bf1edd5f93edbd0504361fb6ae7a794

[2018-06-05 07:32] #24731 closed

[2018-06-05 07:42] pedrobaeza commented on #25057
Why is this a problem?

If you make a payment in the past, then this should be in the latest date, not in the past. If the payment is in the future, then the taken date will be the payment one.

[2018-06-05 07:45] pedrobaeza commented on #25056
Yes, this is not a problem of Odoo, but timeouts in your configuration.

Any way, I would rethink your product structure for sure, as 4k / 9k variants per template doesn't seem something sane. You should split IMO some attributes as separate templates for having a better granularity.

Closing as no real issue.

[2018-06-05 07:45] #25056 closed

[2018-06-05 08:10] sum1201 commented on #24910
@Yenthe666
I tested the three versions 9, 10 and 11 and none of them support deletion.
I remember supporting it before. Why can't you miss it all at once?

[2018-06-05 09:10] stephanuse opened #25060 "Data export fails with message: "copy_from cannot be used with an asynchronous callback""
Impacted versions: 11

Steps to reproduce:  (To export Tasks)
1) Navigate to Projects > Tasks and select List View
2) Tick records to be exported
3) Select Action > Export

Current behavior:
I get below error message when exporting records from any module (account, task, project, etc..) Running on AWS - T2 medium. Odoo 11 CE from BItnami.  I have updated all modules to latest versions.

Expected b

[2018-06-05 09:48] legalsylvain commented on #13544
Hi,
@Yenthe666 : I don't understand why the bug is flagged as 9.0.
On V12 (master) :
The field is defined in the model in ```base``` : https://github.com/odoo/odoo/blob/master/odoo/addons/base/models/res_partner.py#L168
The field is defined in the view in ```point_of_sale``` : https://github.com/odoo/odoo/blob/master/addons/point_of_sale/views/res_partner_view.xml#L19

so it is still inconsistent.