[2018-11-08 13:35] SalahAdDin commented on #27447
I'm getting the same issue in a `Odoo 11.0` custom image, but i still can work with my database.

[2018-11-08 14:12] Gokulakannanaj opened #28509 "[11.0] Attributes not working in one2many editable view"
Impacted versions:
[11.0]
I am using odoo 11.0 working on ubuntu platform
i have a one2many editable tree view having three fields.
the fields are
check : boolean field
test_readonly_id_1 : selection field
test_readonly_id : char field

in xml view of it:
 i have given
[code]

I update the "check" field value based on "test_readonly_id_1"

so when I execute:
with check field False everything is ok

[2018-11-08 14:16] rousseldenis opened #28510 "[10.0] web: session/authenticate errors"
Impacted versions:
10.0

Steps to reproduce:

Try to login with wrong password using webservice web/session/authenticate

mail_push, web_enterprise have to be installed

Current behavior:

Get traceback :

[code]

Expected behavior:

Void session information

When overriding ir.http.session_info() function, we have to check first if 'request.env.user' is set before enriching session information.

[2018-11-08 14:33] rousseldenis commented on #28510
enterprise only

[2018-11-08 14:33] #28510 closed

[2018-11-08 14:35] Paul-LFG commented on #28179
Final retailer end user of POS in 9 restaurants, with terrasse mode :
-Pre Selected notes must be defined and mandatory from Article back end configuration. Exemple, cooking of steak must be mandatory asked by the waiter.
-Multi waiters management of one table (add article on the table open by another colleague, or payment by central cashier)
-Ability to send the bill (check/receipt) by email from

[2018-11-08 14:46] lastalfriday commented on #28412
@pedrobaeza
I'm not really "upgrading", I'm installing a fresh install of odoo 12 using the official docker image.
This module is maybe is out of scope, but it is still part of the "official" modules that ships with odoo.
My point and question was: _Is there any documentation on how this has changed?_
Some logic has clearly changed, it would be nice if someone who knows this change of logic to spe

[2018-11-08 14:52] gcbirzan opened #28513 "Emails cannot contain custom reports"
Impacted versions: Everything after 3425752eaca236c1e4b4d616aa49b3faa6cfd957 (not sure it was working before that, it was probably broken when `render_report` disappeared)

Steps to reproduce: Try to send an email with a custom report type.

Current behavior: An error about unsupported report type is shown.

Expected behavior: Report should be generated.

The problem comes from this:

https://gith

[2018-11-08 14:54] pedrobaeza commented on #28513
@tde-banana-odoo do you know why this restriction?

[2018-11-08 14:59] pedrobaeza commented on #28412
OK, now I understand you. If there's a problem installing the module, then Odoo itself should fix it, but I have tried to install it in runbot and it's working fine:

![seleccion_016](https://user-images.githubusercontent.com/7165771/48206656-32536000-e36f-11e8-8080-94006e309a3b.png)

Closing as no real issue.

[2018-11-08 15:03] gcbirzan commented on #28513
My guess (as a new odoo user) is that older versions came with other types of reports that were removed and this was just a cleanup that didn't consider custom report types. We're using a patched version now and it (at first glance) seems to work as expected.

[2018-11-08 15:05] lastalfriday commented on #28412
..I don't know how runbot runs this code, but obviously something is not working, and this probably affects other country's modules as well. So I have a hard time understanding why you close this issue when all I'm trying to do is help out trying to get some info on how

[2018-11-08 15:05] pedrobaeza commented on #28513
Well, custom reports are still allowed (see for example https://github.com/OCA/reporting-engine/pull/248), so this restriction is too much IMO.

[2018-11-08 15:08] pedrobaeza commented on #28412
The error might be in your deployment or in your custom code, but not on runbot. If not, please specify steps to reproduce the problem. For questions, this is not the place where they should be asked.

[2018-11-08 15:20] lastalfriday commented on #28412
OK, I'll do some more testing and give steps to reproduce if this is not my code messing up.
Thank you

[2018-11-08 15:55] chienandalu commented on #28179
Sure! :+1:

[2018-11-08 16:19] zaoral opened #28515 "Expense "validate" and "post journal entries" use user's company and not the expense company to generate the related documents"
### Impacted versions:

11.0

### Steps to reproduce:

1. Configure to use multi company environment, were we have **YourCompany** as main company and **My Company, Chicago** as it child company.
2. Set both companies in the *Users > Allowed Companies* field.
3. Logged in **YourCompany** create an expense with company **My Company, Chicago**.

   ![image](https://user-images.githubusercontent.com/

[2018-11-08 16:20] zaoral commented on #28515
FYI opw-1907678

[2018-11-08 16:24] wpichler commented on #15279
I would like to reopen this - i also encountered the problem - and fixed it by coping the context and poping the default_type key from the context - before i call the next function.

I did added a send mail button to account.invoice to directly send the mail - when the mail.template does render the attachment - the error will happen.

It does happen - because in report.py it does generate the atta

[2018-11-08 20:09] guidev224 commented on #28370
I have managed to remove blank spaces by overriding the following css:
`.o_form_view .o_group .o_td_label + td {
    padding: 2px 36px 2px 8px;
}
`
Just set the padding-top and padding-bottom to 0px
`.o_form_view .o_group .o_td_label + td {
    padding: 0px 36px 0px 8px;
}
`

[2018-11-08 22:10] keshrath opened #28518 "[12.0] Timezone Preferences"
Impacted versions:

Version 12.0

Current behavior:

Date values are always displayed according to the browser time.

Step 1:
![screenshot_20181108_225504](https://user-images.githubusercontent.com/4851083/48230033-fab5d980-e3a9-11e8-94e5-fbf8566097fb.png)

Step 2:
![screenshot_20181108_225608](https://user-images.githubusercontent.com/4851083/48230044-01445100-e3aa-11e8-8fa1-e1d62ea51e16.png)

Ex

[2018-11-09 04:41] auyeung112002 commented on #20805
This issue also affect version 12

[2018-11-09 06:56] ahmedbeis commented on #3156
Thanks @switch87
Clear.

[2018-11-09 07:38] kovika commented on #28491
Thank You,

I see now that Hungarian at 60%

Simple apt upgrade pull the translation?

[2018-11-09 07:55] mart-e commented on #28491
The synchronisations from Transifex to Github are done every Sunday. If you are using the debian/ubuntu package, it should be included in the Monday's package then.

[2018-11-09 08:39] mart-e commented on #28518
Yes, it has been raised in the past. Our advises is to always have the same date in your browser and user preference (hence the warning) as we use the browser at some places and the user at other (e.g. in server side code).
I think we will always need both as you can modify the behaviour of `new Date` to use a custom timezone (or I am not award of it) to avoid the need of patching everywhere we us

[2018-11-09 08:43] pedrobaeza commented on #28518
@keshrath is there any real use case when you need to have a different timezone in the browser? Any way, you have already seen the technical problems of that, so it's not easy to fix.

[2018-11-09 09:00] keshrath commented on #28518
I don't think it's a big problem, after all, is usually the timezone set and the browser's is the same. So maybe it's enough to adjust the text in the widget, because the display in the frontend doesn't work with the timezone from the settings.

I did some searching and found this thread (https://www.odoo.com/es_ES/groups/technical-62/community-framework-13213033?mode=thread&date_begin=&date_end=)

[2018-11-09 09:06] pedrobaeza commented on #28518
@keshrath the problem is that it can't be avoided without other drawbacks (like performance if everything has to be converted on the fly), so yes, better to just live with this.

[2018-11-09 09:06] #28518 closed

[2018-11-09 09:14] fmdl commented on #28486
cc @qdp-odoo

[2018-11-09 09:48] infoitservit opened #28521 "[11.0] POS Bug: stop cumulate qty of the same product when price list set discount per qty"
Impacted versions: 11.0-20180928

Steps to reproduce: create a price list in which any product has a different price in function of the quantity bought. Set, for example, "discount 5% for min 2 pieces" and "discount 10% for min 3 pieces".
Open a POS session, set the price list just created (or set it in the pos configuration as default), find one of the products that should be discounted in functi

[2018-11-09 10:01] netronuk commented on #28332
This issue was Odoo BUG.
As of TODAY (9/11/2018) it is fixed by Odoo Team.

[2018-11-09 10:34] LoisRForgeFlow opened #28524 "[mrp] Processing partial quantities with work orders and lots."
When you try to partially complete a MO for a product using work orders and lots for the components I cannot post inventory when only partial quantity has been processed.

Impacted versions:
Tested in v 11.0 EE

Steps to reproduce:
1. Create a MO for a product that has a Bill of Materials with routing and its components are tracked by lots. (qty to produce more than 1)
2. Plan the MO (You can or n

[2018-11-09 11:11] odony commented on #28486
@qdp-odoo The origin of this is almost lost in history: [here](d3ce446ec026af86057d7fc33ef05c4871d55885) and then [here](https://github.com/odoo/odoo/commit/6ecdbc0e9d4342d955a9bf930e9aef10811e15ce#diff-fcbd1f2b1767a33d8a3800a20ac44229R70). Please, let's fix it back in all supported versions, and review the other accounting ACLs in a similar fashion. All ACLs are supposed to be reviewed by the adm

[2018-11-09 12:08] fmdl commented on #28486
For security, it could be nice to add a state to `res.partner.bank` to prevent modification.
`draft` editable par everyone
`done` editable by a few user (like accounting manager)

in account_sepa you can only use `done` `res.partner.bank`

[2018-11-09 12:37] elperrofarelo opened #28528 "[12.0] Payroll report doesn't show currency"
Impacted versions: 12

Steps to reproduce:

Current behavior:
In report_payslip_templates.xlm, lines:
                                <td><span t-esc="line.amount"
                                          t-esc-options='{"widget": "monetary", "display_currency": o.company_id.currency_id}'/></td>
                                <td><span t-esc="line.total"

[2018-11-09 13:52] #28270 closed

[2018-11-09 14:17] ged-odoo commented on #27409
the issue comes from https://github.com/odoo/odoo/commit/8e5156938a9c87b80512bff9ecd025891406e624 I think.
@len-odoo is working on a fix for this. Here is the PR: https://github.com/odoo/odoo/pull/28441
It should be merged very soon.

[2018-11-09 14:17] #27409 closed

[2018-11-09 15:31] switch87 commented on #28521
hi @infoitservit , sorry, I probably was not clear enough. you have to enter the latest build of 11.0 on this site, and there you have to login. So under 11.0 you click on the double arrow next to the github button to enter the build.

[2018-11-09 16:13] d-fence commented on #3156
Docker images updates are in progress : [PR](https://github.com/docker-library/official-images/pull/5056)

[2018-11-09 16:14] infoitservit commented on #28521
Ok, just to be clear and to avoid to waste your time, is it ok here? Should i create a pricelist here to let you test also the bug i'm facing with?
![schermata del 2018-11-09 17-13-03](https://user-images.githubusercontent.com/3064689/48274138-f8538e00-e442-11e8-8e8d-6a49b5a6b6ad.png)

[2018-11-09 16:58] switch87 commented on #28521
You should make the price list on runbot to look yourself if you can reproduce the problem. Afterwards you carefully explain here how to reproduce it or include a link to a Screencast in which you reproduce it in runbot. I already tested it myself but could not reproduce it.

[2018-11-09 18:43] bistaray commented on #24921
@Yenthe666, @rvalyi, @fpodoo, @nle-odoo: As of today, with all latest Enterprise 11 and Odoo 11 code. Still, the one2many value is not getting saved, even it does not get passed to the backend. Data is getting lost in a web framework.

[2018-11-09 18:58] nle-odoo commented on #24921
Hi,

There was two issues I think in Odoo system:
- https://www.odoo.com/my/task/1836785 (closed in june)
- https://www.odoo.com/my/task/1846820 (with a report in august that the solution in june did not work fully)

For the second one I had tested in august a week after the report from mid-august and was not able to reproduce a looss of data (doing the steps indicated in the two reports).

I have

[2018-11-09 20:28] #28337 closed

[2018-11-09 22:30] #28435 closed

[2018-11-10 09:18] bhaveshselarka opened #28545 "[10, 11, 12] Wrong Tax Calculation in case with inclusive in Price"
Impacted versions: v10, v11, v12

Steps to reproduce:
Need to define a group of tax (14.975) with child taxes like 5 % and 9.975 with inclusive in Price.

Current behavior:
Price unit: 100
subtotal: 86.60
5 % tax amount : 4.76
9.975 % tax amount: 8.64

Expected behavior:
Price unit: 100
subtotal: 86.98
5 % tax amount : 4.35
9.975 % tax amount: 8.68

Reference link for calculations: http://www.calc

[2018-11-10 09:54] 159820 commented on #28470
no one watch this?

[2018-11-10 13:28] nitcheulegrand opened #28548 "Unable to find "application" callable in file .../odoo-bin"
Impacted versions: 11.0
Steps to reproduce:
Current behavior: Odoo 11 do not start but return error "Unable to load app 0"
Expected behavior: Odoo 11 starting well
Video/Screenshot link (optional): no screenshot

Hello,
I want odoo app to be accessible on my web site.
I set virtualenv and i use pip to install requirements and packages.
But i while runing, i got error that i copy from the log file

[2018-11-10 13:49] pedrobaeza commented on #28548
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2018-11-10 13:49] #28548 closed

[2018-11-10 14:12] Yenthe666 commented on #27409
Exact commit is https://github.com/odoo/odoo/commit/45bc7c92f804c0e2329eadf62043742f6986aa47

[2018-11-10 14:20] blaggacao opened #28549 "[Proposal] Data Driven Business Document Transitions"
@fpodoo

### Remarks:
- For discussion & evolution unless there is a better alternative on the horizon.
- NIH disclaimer: Based on inspiration by SAP Business One experience

### Proposal
- In order to improve data driven business document transitions (aka "boilerplate for workflow engines"),
- Odoo should implement a generic `def emitter()` and `def receiver()` API on all supported business docum

[2018-11-10 14:32] blaggacao opened #28550 "[Proposal] De-scoping of analytics"
@fpodoo

### Remarks:
- For discussion evaluation
- Inspired by SAP Business one Meta functionality

### Problem:
- Built-in analytics (and search) is _document scoped_ in most cases because of intricate implications of the general software design (which is a good base line functionality!)
- No strong, general business domain driven traversal analytics integration structurally exists (apart from d

[2018-11-10 14:39] blaggacao opened #28551 "[Proposal] Global search"
@fpodoo

### Proposal:
- Add global search with result classification according to the current app/menu hierarchy.

### Implications:
- Better support exploratory user journeys triggered by a keyword.
- Increase chances for the user of seemingly casually detecting data interconnections.
- Thereby, improve UX in an environment of less structured workflows / highly dynamic companies.

Note one can i

[2018-11-10 14:48] jlzhou commented on #28435
@qsm-odoo Many thanks!

[2018-11-10 15:06] #28332 closed

[2018-11-10 16:11] bhaveshselarka commented on #27503
Hello, @Yenthe666 Have you got something on Official ticket = 1899177.
Please let me know.

[2018-11-10 16:15] asiamatrix opened #28552 "Error when print chart of account item from General Ledger and balance sheet."
Impacted versions: Odoo11 Enterprise Edition

Steps to reproduce:
Go to Accounting -> Reporting
Select "Balance sheet" (or any other report) and click on Chart of Account item and then "Click" -> "General Ledger or Journal Item"

Current behavior:
Error:
Uncaught TypeError: data.CompoundContext is not a constructor

localhost/web/content/698-d92bc6b/web.assets_backend.js:2926
Traceback:
TypeError:

[2018-11-10 17:46] Yenthe666 commented on #28552
Hi @asiamatrix,

Thanks a lot for your report. This was indeed broken a few weeks ago but should have been resolved in the meanwhile. I can no longer reproduce it on the latest official Odoo 11 instances either.
Please update your local Odoo instance to resolve this.

Regards,
Yenthe

[2018-11-10 17:46] #28552 closed

[2018-11-11 06:12] bhaveshselarka commented on #27503
Thanks, @Yenthe666 for the updates.

[2018-11-11 09:26] Osvalcosta opened #28553 "Odoo Server Error - Erro de Validação"
Room line check in date should be greater than the current date.

[2018-11-11 11:17] Yenthe666 commented on #27503
No problem, I've also asked for an update so I atleast know where it is at somewhere.

[2018-11-11 12:01] #28553 closed

[2018-11-12 00:04] oli8seven opened #28555 "unable to install odoo 12 using setup.py"
**Impacted versions:**
odoo_12.0.20181105

**Steps to reproduce:**
python setup.py install

**Current behavior:**
error: Error: setup script specifies an absolute path:

    C:\Python\Python37\lib\site-packages\babel\global.dat

setup() arguments must *always* be /-separated paths relative to the
setup.py directory, *never* absolute paths.

**Expected behavior:**
succesful installation

**Video/Sc

[2018-11-12 04:58] muhsinalungal opened #28558 "OAuth1 library issue"
Impacted versions: Version 11

Steps to reproduce: when using "requests_oauthlib" library to perform OAuth1 with Magento 2

Current behavior:  CRITICAL Error, from outside the Odoo 11 it is working fine.

Expected behavior: Should be Authenticated using the following keys:
url = 'http://18.220.252.1/index.php/rest/all/V1/categories'
        oauth_consumer_key = 'consumer key'
        oauth_consume

[2018-11-12 07:00] jpr-odoo commented on #27407
Hello @sswapnesh
 I've just tested it and it's working fine. thanks for report
rev no: http://396870-12-0-dcc077.runbot16.odoo.com

[2018-11-12 09:48] infoitservit commented on #28521
Ok,
tried on runbot and it's not happening there! Is there a way to track differencies from my version and the one on runbot?

[2018-11-12 09:58] switch87 commented on #28521
If you are on the 11.0 branch without own changes you should do a git pull, otherwise you should rebase on the odoo/11.0 branch. Runbot is a testing/ci platform for the latest github commits. for more information on rebasing you can find a lot of good tutorials on internet.

[2018-11-12 10:01] antonylesuisse commented on #27752
I'm ok to include them in master as they are arch: all. Ldap used to be a binary module.

[2018-11-12 10:05] auyeung112002 opened #28564 "[12] *_view_ref causing subview load wrongly"
Impacted versions:
12, maybe 11(not tested)

Steps to reproduce:
1. Define *_view_ref (eg, tree_view_ref) in an one2many field context in form view.
2. Define a form view for that one2many field. And inside the one2many form view, define another tree view with difference model

Current behavior:
Open the one2many form view through the first form view will cause error

Expected behavior:
Subview wi

[2018-11-12 10:08] auyeung112002 commented on #28564
PR: https://github.com/odoo/odoo/pull/28565

[2018-11-12 10:12] #27407 closed

[2018-11-12 11:11] janbec commented on #22488
@tde-banana-odoo
I honestly do not understand that this behavior does not seem to bother anyone in odoo. I have reported this with tickets 1724350 (v10) and 1816391 (v11, basically begging to re-think this). So, I'm, counting on you now ;).

For us, this happens on a weekly basis and if it was not for me checking that chatchall inbox, we would not use odoo for communicating with customers at all.

[2018-11-12 12:01] yelizariev opened #28571 "[12.0] CE, EE: Dashboard Menus is on top of base menu"
Impacted versions: 12.0 at least

Steps to reproduce:

* Open ``[[ Point Of Sale ]]``
* Click button with three vertical points in top right-hand corner of a POS
* Click ``Configuration `` menu

Current behavior:

Content of ``Configuration`` menu is partly invisible

Expected behavior:

Either close Dashboard Menu or put ``Configuration`` menu above it

Video/Screenshot link (optional):
![screens

[2018-11-12 12:15] odony commented on #22488
When it comes to users rewriting the subject, I think the described behavior of Outlook is in fact sensible: the user has indicated that they want to start a new discussion, so old references should be dropped. It's a relatively common behavior for some users: instead of composing a new message they edit a reply to start a new discussion.
However, this remains an unusual situation for which there

[2018-11-12 12:15] #22488 closed

[2018-11-12 14:47] switch87 commented on #28373
@svenv Thank you for reporting this issue.
As @pedrobaeza mentions, on your video it are unlikely many orders, but on my smartphone this problem occurs after 3 opened orders so it could indeed be a problem in some cases.

[2018-11-12 15:07] schout-it opened #28590 "[11.0] street format incorrect for a lot of european countries"
Current behavior:
Same as #25204
for a lot of European countries the street number is displayed before the street name.
A quick google search shows that only a couple of countries in Europe, actually do this.
France, Republic of Ireland, Luxembourg, Monaco, UK

Expected behavior:
Number after street with following countries:
Austria
Belgium
Denmark
Finland
Germany (is very strict, mail may not be

[2018-11-12 15:21] d-fence commented on #27752
There is no problem with qrcode and vobject. So, as said by @antonylesuisse I did a PR to include them as Debian dependencies in master : #28588

ldap is another problem:

1. It's still not pure python
2. The versions are different in the [latest Debian](https://packages.debian.org/stretch/python3-pyldap) and the[latest Ubuntu LTS](https://packages.ubuntu.com/bionic/python3-ldap). The latter is a

[2018-11-12 15:34] pedrobaeza commented on #28373
A CSS trick for doing that scrollable maybe?

[2018-11-12 15:39] svenv opened #28592 "[11.0 POS] Easy Fix for better UX - When validating an order, don't open a new order if there is already an empty order available, just go to the one that has already been opened"
We've been using Odoo POS for some time now, and this is one little "bug" that is probably easy to fix. Let's call it an easy enhancement for the UX of the POS.

Impacted versions: 11.0

Steps to reproduce: Open X>1 amount of orders and validate the X orders. Odoo will open a new order tab for every validated order, creating X empty order tabs instead of just one. This forces the POS user to close

[2018-11-12 15:40] sbidoul commented on #27752
Fine with me. But then why not adding vobject and qrcode too for the sake of consistency setup.py install_requires?

[2018-11-12 15:44] svenv commented on #28373
It's one of the reasons why we haven't switched from Windows to a Tablet, because on a tablet you can only have 5-10 or so open, depending on the screen resolution.

Issue #28592 can contribute to this issue as well.

[2018-11-12 15:45] d-fence commented on #27752
You are right as the fix will only stands in master :+1:

[2018-11-12 16:29] zaoral opened #28593 "Error reporting ticket in odoo.com/help"
### Steps to reproduce:

* Login with you odoo user
* Go to odoo.com/help
* load information of you odoo enterprise bug report.

### Current behavior:

It throws an "400: Bad Request" page.
Here is a screenshot with more info about erros in the inspect console.

![image](https://user-images.githubusercontent.com/7593953/48360852-db0b0380-e67e-11e8-878c-44e1362d51df.png)

### Expected behavior:

Be

[2018-11-12 16:46] Julien00859 commented on #28036
Hello, this is not a bug, the path doesn't exist and `modules.get_module_resource` returns `False` for such paths.

`open` work with both file path and file descriptor, in python `False` equals the integer `0` so `open` opens the standard input which never gets any data so the read blocks and freeze the entire application.

https://github.com/odoo/odoo/blob/11.0/odoo/modules/module.py#L205

The pr

[2018-11-12 17:10] dbh-odoo commented on #28266
Hello @hugho-ad sorry for late

As I said if the user wants to reference website for the theme then need to set `website_id` to a theme.

For the case you have mentioned; when a user wants to reference theme for a particular website then need to set `theme_id` for that particular website.

https://github.com/odoo/odoo/blob/01706392620e909b8deb9fdb1ea7793516bb8e16/addons/website/models/website.py#L

[2018-11-12 17:22] Yenthe666 commented on #28036
Hi @Julien00859,

Thank you for the feedback and especially for the detailed information as to why it happens. Atleast now I learn something from it too 😉
I understand you cannot change the behaviour in stable however a change in master would be great. Not getting any exception is a problem to me. Imagine that you as a developer linked to a wrong file (or the file was removed at some point by anot

[2018-11-12 17:54] hugho-ad commented on #28266
@dbh-odoo

same for Website B the value of theme_id should be Theme B
Now when you install the theme it will directly use Theme A for Website A and Theme B for Website B
you don't have to go to choose theme page.

So you are saying to do somthing like following:

Create data for main app
[code]
And add theme_A module as dependency of mail app module?

[2018-11-12 19:43] dbh-odoo commented on #28266
@hugho-ad

yes; it will use theme_A for `website.default_website`

if you want to use theme A for website A and theme B for website B then do something like this

[code]
And put Theme_A and Theme_B as dependency of main app.
 so when you install main app it will create Website_A and Website_B and use Theme_A for Website_A and Theme_B for Website_B.

[2018-11-12 20:35] hugho-ad commented on #28266
That's exactly what I'm doing, but It doesn't work

.scss and other static files, doesn't appear, I know that because it fails at style compilation
I'm inheriting like following:
[code]

Style compilation failure
![image](https://user-images.githubusercontent.com/10233975/48373606-ef9fc980-e687-11e8-9f8c-c109bd6e65ca.png)

### What I'm doing **manually** is update theme_a in order to simulate  htt

[2018-11-12 22:56] reyelts commented on #24996
+1 requesting solution to this problem.

[2018-11-13 01:28] danielmendez88 opened #28596 "Error: QWeb2: Template 'QuotationButton' not found"
Impacted versions:
10 v
Steps to reproduce:
undifined

Current behavior:
After click in pos quotation , point of sale board is not shown

point_of_sale.assets.js:126  Error: QWeb2: Template 'QuotationButton' not found
    at Object.exception (http://localhost:90/web/content/252-eb32044/web.assets_common.js:2908:7)
    at Engine._render (http://localhost:90/web/content/252-eb32044/web.assets_common

[2018-11-13 03:17] jeffery9 commented on #27758
发自我的华为手机
the same issue

-------- 原始邮件 --------
主题：Re: [odoo/odoo] [12.0]After deleting the model in the code, updating the module will prompt you to not find the model and will not automatically clear the relevant information. (#27758)
发件人：odooqs
收件人：odoo/odoo
抄送：Subscribed

I think this is a bug ,odoo should be fix it

—
You are receiving this because you are subscribed to this thread.
Reply to

[2018-11-13 05:17] aaguptaayush commented on #23580
how to use chat_manager.js for desktop notification in odoo

[2018-11-13 08:52] rim-odoo commented on #28593
Hello @zaoral

I just tried to submit a ticket with your user account (kz@...), and it looked it worked.

If you still encounter this error, would you mind to have a look at the "Network" tab of your browser's console?
I would be very interested in the content of the headers + the response of the request posted to `odoo.com/help/submit`
If you have also the exact timestamp, we can check our server

[2018-11-13 08:52] #28593 closed

[2018-11-13 09:52] jeffery9 commented on #25837
have the same issue...
 date
`Tue Nov 13 01:51:53 PST 2018`

![image](https://user-images.githubusercontent.com/1404460/48405219-d58be700-e76c-11e8-8179-396124d7830c.png)

[2018-11-13 09:54] nim-odoo commented on #28265
Expected for partnership contracts

[2018-11-13 09:54] #28265 closed

[2018-11-13 09:59] #27458 closed

[2018-11-13 12:19] HaraldPanten opened #28622 "[11.0 EE] DHL Test credentials don't work"
Impacted versions: 11.0 ENTERPRISE (I don't know in other versions)

Steps to reproduce: Activate the DHL sinchronization.

Current behavior: Test credentials don't work.

Expected behavior: Default test credentials should allow the user to sinchronize with DHL

Video/Screenshot link (optional):

![imatge 13-11-18 a les 13 17](https://user-images.githubusercontent.com/32449357/48413022-a5315200-e7

[2018-11-13 13:14] zaoral commented on #28593
Hi @rim-odoo

Thank you for your help.
I have tested today and it works I was able to create my ticket.
I will take into account the next time to have a look to the "Network" tab when reporting something similar.

Best Regards.

[2018-11-13 13:17] mart-e commented on #28593
Also, if you spend more than one hour with the open form, the CSRF token will expire and you won't be able to submit it. Not sure if the same error message but could be an explanation.

[2018-11-13 13:29] zaoral commented on #28593
Thank for the info @mart-e
Good to know.
Not sure that this is the reason in this case, but be assured that I will take this info into account when creating new tickets

[2018-11-13 13:31] gustavovalverde commented on #28381
Just as a heads-up if I change `raise ValidationError(inst[0])` to `raise ValidationError(inst)` the next message is correctly shown to the user:

Otherwise it crashes like above

[2018-11-13 13:34] gustavovalverde commented on #22069
@mart-e is there an update on this one. Just to know if this keeps open or gets closed.

[2018-11-13 13:39] mart-e commented on #22069
I checked the state of the feedback. It was was merged in a bigger refactoring task which was then changed to a minor change at #23742
@tivisse could you check this issue. It was reported in task 47832 and got lost lost in oblivion.

[2018-11-13 13:58] gelo-landoo commented on #18565
@JCRodoo hello,
I have in CSV format the Balance sheet and Profit and Loss for PGCE PYMEs 2008 account chart and for the PGCE completo 2008 account chart. I don't have the other two account chart models. I did it for V.10 and V.11.
If you give an email address I can send it to you.
Regards

[2018-11-13 14:31] sswapnesh commented on #25744
@switch87 Can we close this issue? or may be better to add Wishlist.

[2018-11-13 14:33] sswapnesh commented on #28545
This can be solved only using python code in tax definition.
Ps. this was supposed to be solved in v12.

[2018-11-13 14:47] sswapnesh commented on #28545
Duplicate of #25743 and #25770,
However, You can use workaround given by @mga-odoo  in https://github.com/odoo/odoo/issues/25743#issuecomment-404850476

[2018-11-13 14:49] dreispt opened #28638 "[11.0] Can't open Form view for new Models with mail.thread"
Impacted versions: 11.0

Steps to reproduce:
- Go to to Settings /Technical /Models, create a new Model, with the "Mail Thread" box checked.
- Use the button "Create a Menu" at the bottom of the Model form
- Refresh the browser and access the created menu item: you should see an empty list with a "Create a new document" message.
- Click on the "Create" button

Current behavior:
Boom!  js error `Ty

[2018-11-13 14:59] switch87 commented on #25744
@sswapnesh we are not planning on changing this by default, it can be closed.

[2018-11-13 14:59] #25744 closed

[2018-11-13 14:59] dreispt commented on #2420
For updating existing records you can use database id.
You mean importing new records?
Why don't you just build External IDs based on the foreign database ID?

[2018-11-13 15:02] dreispt commented on #7417
I believe that @odony mentioned somwhere that this is an internal implementation detail, not part of the official API, and so should be be used/relied on.

[2018-11-13 15:29] sswapnesh commented on #27408
Works well now, Not sure if Related PR is https://github.com/odoo/odoo/pull/28117 or not

[2018-11-13 15:29] #27408 closed

[2018-11-13 15:37] tivisse commented on #25554
Hi @gustavovalverde

Thanks for the feedback. I don't really like the idea of having to different behaviors if the 'code' parameter starts with 'categories.' or not.

But we could certainly add a method 'sum_category(self, code, from_date, to_date=None)' that does the trick.

It could be done in stable, but as it is not a critical issue, I'm gonna create an internal task to do it. (Internal link:

[2018-11-13 15:44] bhaveshselarka commented on #28545
Hi @sswapnesh,

Thanks for sharing this information, Yes I have solved this issue via this way only. But It should support natively not with a workaround solution.

This issue still persists in v12 as well. I think the mention version is major odoo versions so it will great to have fixed solution by native code functionality.

[2018-11-13 15:49] dbh-odoo commented on #28266
@hugho-ad

But it is working on my side.

![48373606 ef9fc980 e687 11e8 9f8c c109bd6e65ca png 974x882](https://user-images.githubusercontent.com/20393833/48424717-32959600-e789-11e8-8821-cc302a70d0f9.png)

in this image, the error is because of less variable not because of the theme.
you have used a variable before assignment; what I meant to say is you have to load the file first in which you hav

[2018-11-13 15:53] sswapnesh opened #28642 "[12] Issue with outstanding_credits_debits_widget"
Impacted versions: 12

Steps to reproduce:

Current behavior:
![screenshot 85](https://user-images.githubusercontent.com/16624719/48425205-560d1080-e78a-11e8-9d6d-4cd6a96a9cc5.png)

Expected behavior:
![screenshot 86](https://user-images.githubusercontent.com/16624719/48425206-573e3d80-e78a-11e8-9066-f5d43d58e9cb.png)

Video/Screenshot link (optional):

[2018-11-13 15:59] hugho-ad commented on #28266
Hi @dbh-odoo

The style error it because of  theme_a isn't loaded, the var undefined error that you see, its because, that var is defined at theme_a but since theme_a is never loaded the style error,  and I'm using that var in the main app waiting for that var be always defined after installation.

The theme_a is loaded until I made manually -u theme_a.

So this is not a problem with sequences.

R

[2018-11-13 20:54] adrianoinformatico opened #28646 "JavaScript in char field"
Impacted versions: Odoo 10
Steps to reproduce: In Char Field insert <script>window.location.replace("http://stackoverflow.com");</script>
Current behavior: When list the model in tree the web page redirect to http://stackoverflow.com
Expected behavior: Dont execute script (sanitize field content before show it)

[2018-11-13 22:05] qdp-odoo commented on #28486
Closed by https://github.com/odoo/odoo/commit/069c2f230476c8b47cebc0afe5a29893a9ae39dc

Other account objects available to employees aren't strategical at all

[2018-11-13 22:05] #28486 closed

[2018-11-14 06:53] luismaring commented on #28642
Small detail that improves usability

[2018-11-14 07:15] alexey-pelykh opened #28649 "[12.0] hr_timesheet: project_time_mode_id vs timesheet_encode_uom_id"
https://github.com/odoo/odoo/blob/8efa9e5fe9e8748b3a264a89416ef90c9b8d2683/addons/hr_timesheet/models/hr_timesheet.py#L130

should not over here a timesheet UoM be used? Especially if the unit_amount is specified in `timesheet_encode_uom_id` visually?

https://github.com/odoo/odoo/blob/8efa9e5fe9e8748b3a264a89416ef90c9b8d2683/addons/hr_timesheet/models/res_company.py#L33

[2018-11-14 08:50] falinwa commented on #2420
what I mean is to import existing one.
really? how to do it?
what can I see right now is only for external id.
we can just update the value of the record with database id, but not the id of the record

[2018-11-14 09:21] wpichler opened #28656 "image_resize_image quality"
Impacted versions:
every version up to 12.0

Steps to reproduce:
upload jpeg image with high quality - let odoo resize it - take a look at the result !

Current behavior:
quality parameter of original jpeg does get ignored - will use default value of 75

Expected behavior:
Perfect would be a config parameter to specify quality global - and a new function argument quality.
- If config parameter is

[2018-11-14 09:37] reinaldoramosarxi opened #28657 "[12.0] EE: Current user not being applied in domain to filter My Tickets"
Impacted versions: 12.0 EE

File: /odoo/enterprise/addons/helpdesk/controllers/portal.py
Lines: 31/32

Current behavior: The "user" variable is unused, not inserted into the domain.

Expected behavior: Seems like it'd be used in the domain in order to filter the user's tickets, considering it's in "My Tickets".

Inserting the user variable in the domain produced the expected result:
domain = [('pa

[2018-11-14 09:43] Yenthe666 commented on #28657
@JKE-be for you guys, there was a domain set in V11:
https://github.com/odoo/enterprise/blob/ebe6f1db1c1c40b365712dbcbe9452050a8a0b12/helpdesk/controllers/portal.py#L25-L26

Not in V12:
https://github.com/odoo/enterprise/blob/2955b8f1291ccd37828047ea0b4d90dd440f5546/helpdesk/controllers/portal.py#L31-L32

[2018-11-14 10:01] sbidoul commented on #27752
@d-fence thanks for the fix in master.

Do you plan the 3 packages to the stable docker images?

[2018-11-14 10:03] d-fence commented on #27752
Sure, I'll do it ASAP

[2018-11-14 10:04] pedrobaeza commented on #28373
This has been fixed in #28605 and we'll be forward-ported in 11.0 and 12.0 soon, so I close the issue.

[2018-11-14 10:04] #28373 closed

[2018-11-14 10:04] GoodERPJeff opened #28658 "website snippet name not translateable"
like for ""Three Columns", should be "三列" on website builder edit mode.

We didn't find the msgid for these name in pot file of website module

[2018-11-14 10:05] GoodERPJeff commented on #28658
@mart-e

[2018-11-14 10:52] dinhnghia opened #28664 "I don't see button order?"
![desktop screenshot](https://user-images.githubusercontent.com/13850307/48478174-156ad100-e836-11e8-8359-07af2109065c.png)

[2018-11-14 10:56] Yenthe666 commented on #28664
Please follow the template to log issues and give details. What version? How to reproduce? Can you reproduce on official instance?
Closing as clearly zero effort is put into this.

[2018-11-14 10:56] #28664 closed

[2018-11-14 11:12] pedrobaeza commented on #28649
@jem-odoo can you please answer this?

[2018-11-14 12:33] ntodorova opened #28671 "The res.partner default functionality not working as expected"
Impacted versions:
11.0 (I did not check for previous)
Steps to reproduce:
In the Preferences set Language to something different than English.
Go to sales and create a new user.
For the new customer(res.partner) the default value in the Language field is "English"

Current behavior:
The current behavior is explained above.
Expected behavior:
The default use of the new res.partner should be the sa

[2018-11-14 13:07] GoodERPJeff opened #28676 "no i18n folder for website_google_map"
Impacted versions:
odoo 12
Steps to reproduce:
see the code
Current behavior:
no i18n folder in the addon
not list on transifex
Expected behavior:
add one
Video/Screenshot link (optional):

[2018-11-14 13:14] Yenthe666 commented on #28676
Actually, there has never been one so it seems. There is however not really something that should be translated, is there?
Final call to @mart-e but I don't think there is a need.

[2018-11-14 13:33] mart-e commented on #28676
Hi,

There is nothing to translate in this module so it is not published.

[2018-11-14 13:33] #28676 closed

[2018-11-14 13:36] mart-e commented on #28646
Hello,

You don't give much information about this. Is it a problem reproducible in standard or in your custom code?

If you want to display the content of a field, you must use a `t-esc` attribute, not `t-raw`.
If it is in standard, and you think there is a security issue in Odoo, please make a [responsible disclosure report](https://www.odoo.com/security-report).

[2018-11-14 13:36] #28646 closed

[2018-11-14 13:45] jem-odoo commented on #28649
Hello,

'project_time_mode_id' is the UoM used to store the timesheet amount, while 'timesheet_encode_uom_id' is used to encode it. The conversion factor of those 2 UoM will be apply but the widget on field on form, list and grid views. The purpose is purely visual, the business behind has not changed.
Every 'unit_amount' send from the webclient to the server have to be expressed in the UoM define

[2018-11-14 13:51] Yajo opened #28681 "wkhtmltopdf doesn't support bootstrap 4"
Impacted versions: 12.0

Steps to reproduce:

1. Design a report with some flexbox utilities, such as this example:
![captura de pantalla de 2018-11-14 13-44-39](https://user-images.githubusercontent.com/973709/48486449-76cd7880-e813-11e8-9547-b0dc604dafa8.png)
1. Print it.

Current behavior:

It produces [Order - SO101-7.pdf](https://github.com/odoo/odoo/files/2580939/Order.-.SO101-7.pdf), which

[2018-11-14 13:55] alexey-pelykh commented on #28649
Did I get it right that `timesheet_encode_uom_id` is used as an UoM for _rendering_ only, while `project_time_mode_id` actually specifies what is stored in `unit_amount`?

[2018-11-14 14:01] jem-odoo commented on #28649
Excatly. And the UoM conversion factor is passed to the webclient here : https://github.com/odoo/odoo/blob/12.0/addons/hr_timesheet/models/ir_http.py#L20

[2018-11-14 14:03] #28649 closed

[2018-11-14 14:29] pedrobaeza commented on #28681
I don't know if @qsm-odoo is the most suitable person for answering this. Quentin, can you tell us?

[2018-11-14 15:09] mge-odoo commented on #26000
Hi @alxolivares

Thanks for reporting the issue and sorry for the late answer.
The issue has been fixed by the following revision: https://github.com/odoo/odoo/commit/e91b16b734b39ad7018d0d2acc5be8b6963c337e

When trying to rename the field, the `write` method was trying to rename the column but one2many and many2many fields are not explicit in the database.

Regards,

Martin

[2018-11-14 15:09] #26000 closed

[2018-11-14 15:17] adrianoinformatico commented on #28646
I'm not sure that it should be treated as a security incident but it should be reviewed as unwanted behavior.
The issue is present in the standard version of Odoo, not in my code.
A user can affect the behavior of an entire application just by putting a JavaScript code in a field of type Char (like the one shown in the issue).
Thank you

[2018-11-14 15:38] mart-e commented on #28646
Please describe more how you achieve that (e.g. make a video maybe?). I just tested on a standard odoo 10.0 and I did not get this issue.

But, if you succeed to reproduce it on a standard Odoo, please do not describe it here, do contact the security team !
Thank you for your research.

[2018-11-14 15:44] Yenthe666 commented on #28590
Working on the Netherlands one at https://github.com/odoo/odoo/pull/27614 actually. We noticed it too.

[2018-11-14 17:12] sswapnesh commented on #28671
As mentioned https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/res/res_lang.py#L157

I think we don't need to create Ir Defaults here as we are already setting it on Partner at https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/res/res_lang.py#L173

[2018-11-14 17:22] nle-odoo commented on #24921
Hi,

I was able to reproduce this time and I am working on a fix in this PR: https://github.com/odoo/odoo/pull/28644

My next steps are to review it successfully then hopefully this should solve the issue.

[2018-11-14 17:31] sswapnesh opened #28694 "[12] Could not delete Email"
Impacted versions: 12

Steps to reproduce: Try to Delete Email (Logged in with admin account not Superuser)

Current behavior:
![screenshot 87](https://user-images.githubusercontent.com/16624719/48500546-1d8c3600-e861-11e8-8190-6dec11ef3504.png)

Expected behavior: Able to Delete an email

Video/Screenshot link (optional):

[2018-11-14 17:53] hugho-ad opened #28695 "[12.0] duplicated template views, Default homepage don't loaded- multi website"
Impacted versions:
12.0

Steps to reproduce:

- Go to Settings/technical/User interface/ views
- search home view

There duplicated views
![image](https://user-images.githubusercontent.com/10233975/48501831-c73cda00-e803-11e8-8d38-5f4a07143e43.png)

Current behavior:
Modify website.homepage
in order to see the change in website homepage
![image](https://user-images.githubusercontent.com/10233975/4

[2018-11-14 17:56] sswapnesh opened #28696 "[12] Invalid Date when Grouped By Date in Kanban"
Impacted versions: 12

Steps to reproduce: Tested With Events
Do not configure timezone in Preferences

Current behaviour:
![screenshot 88](https://user-images.githubusercontent.com/16624719/48501952-701b2180-e864-11e8-898f-890b0372630d.png)

![screenshot 89](https://user-images.githubusercontent.com/16624719/48502015-993bb200-e864-11e8-9676-ed159752bbd1.png)

Expected behavior: Dates should be sa

[2018-11-14 18:05] sswapnesh commented on #23204
Resolved in 0166b3ddbc3e13a3697337565ec085076adf7ec4

[2018-11-14 18:05] #23204 closed

[2018-11-14 18:07] pedrobaeza commented on #28696
That's logical. You should have a timezone set in your user for converting properly things.

[2018-11-14 18:07] #28696 closed

[2018-11-14 18:09] sswapnesh commented on #28696
Don't you think the behaviour should be same at both places.

[2018-11-14 18:16] mreficent commented on #28524
@sle-odoo @jco-odoo

[2018-11-14 18:19] sswapnesh opened #28697 "[12] Do not load social share dialog on blank question/answer on Forum"
Impacted versions: 12

Steps to reproduce:
Post Empty Question
![screenshot 90](https://user-images.githubusercontent.com/16624719/48503253-9db59a00-e867-11e8-8bbc-05b46dbd4911.png)
Bad Request: Question should not be empty.
![screenshot 91](https://user-images.githubusercontent.com/16624719/48503277-b1610080-e867-11e8-94d9-e115077c9f16.png)
Go back using browser's Back button

Current behavior:

[2018-11-14 18:22] sswapnesh commented on #28697
Ps: Wrong Error message while submitting Blank Answer (This has also same behaviour)
![screenshot 93](https://user-images.githubusercontent.com/16624719/48503432-1e749600-e868-11e8-82ee-f17595d15d19.png)
![screenshot 94](https://user-images.githubusercontent.com/16624719/48503463-36e4b080-e868-11e8-9d1d-d4a4f54c1f96.png)

Go back
![screenshot 95](https://user-images.githubusercontent.com/16624719/

[2018-11-14 18:32] sswapnesh commented on #28696
Well, I found once last week but Not able reproduce now (Maybe I am not doing same)

[2018-11-14 18:40] pedrobaeza commented on #28696
OK, if you find it, then that can be a proper issue.

[2018-11-14 18:44] sswapnesh commented on #28696
Was trying to Reproduce this (https://twitter.com/sswapnesh/status/1058066380497522689)
![](https://pbs.twimg.com/media/Dq8Box_WwAM1Bpj.jpg)
but still we can consider this due to bad timezone

[2018-11-14 18:46] pedrobaeza commented on #28696
Uhm, I see it correct...

[2018-11-14 18:48] pedrobaeza commented on #28697
@JKE-be are you the one handling this?

[2018-11-14 18:56] cascaderack opened #28700 "Odoo 12 Email -"
Impacted versions: Odoo 12.0+e
We've made zero modifications to Odoo, this is running on AWS utilizing an exchange 365 server for email.

Steps to reproduce: Create Quote, Email to Customer, Customer Confirms/Signs Quotation

Current behavior: When emailing a quote to customer, everything works properly.  A link is sent for the online form to confirm/sign the quote and pay.  If the customer confir

[2018-11-14 19:09] switch87 commented on #28681
Like you can read in the issues you provided this is a wkhtmltopdf issue that cannot be fixed in the Odoo framework. You can open a issue on their project or comment on the existing one with your findings.

[2018-11-14 19:09] #28681 closed

[2018-11-14 19:13] sswapnesh opened #28701 "[12] Issue with Calendar View when week_day is changed"
Impacted versions: 12

Steps to reproduce: Configure Correct timezone and week day to Monday in Language
Tested with Event
Create New Record which is on Sunday of last week. (or next sunday)
![screenshot 96](https://user-images.githubusercontent.com/16624719/48506155-ce4d0200-e86e-11e8-9c28-17c31bdcd395.png)

Current behavior: Event is not there

Expected behavior: Event should be there

Video/Scr

[2018-11-14 19:16] sswapnesh commented on #28701
When I create event for sunday of current week (18th Nov) it is displayed on 19th on Calendar view
![screenshot 97](https://user-images.githubusercontent.com/16624719/48506588-cb9edc80-e86f-11e8-958a-6f5bc6ddd15c.png)
![screenshot 98](https://user-images.githubusercontent.com/16624719/48506609-d6f20800-e86f-11e8-8273-8437bdae5f66.png)

[2018-11-14 19:26] sswapnesh opened #28702 "[12] Inconsistency b/w today marker in Datetime Picker"
Impacted versions: 12

Steps to reproduce:
See gif for details
Current Date 15 Nov (Correct timezone in User Preference)

Current behavior: Inconsistent Date (It display 14th when date is selected)

Expected behavior: It should same (15 Nov in current Case)

Video/Screenshot link (optional):
![peek 2018-11-15 00-55](https://user-images.githubusercontent.com/16624719/48507175-31d82f00-e871-11e8-865

[2018-11-14 21:14] pedrobaeza commented on #28681
@switch87 Then Odoo is not using any `col` or similar BS4 feature in the core reports?

[2018-11-14 21:16] jcarlosmontoya commented on #27487
@pedrobaeza thank you but the  problem is not present in Linux server distributions, only Desktop Environments.
@JKE-be thank you, After install ttf-mscorefonts-installer problem persists, but After install Robotto.ttf Report Error is Fixed and Odoo works fine now, Thank you @odony, Thank you All
This issue can be closed now ;).

[2018-11-14 21:56] switch87 commented on #28681
I did a fast search in the source, and indeed we do.
What I did see is that the ml-auto seems to be used only for cols that have to be at the far right. So you should test what happens if you remove this class. A solution could be to add a empty col before these two or insert them into a bigger col that has the class ml-auto? I did not try myself so my suggestions may or may not have the wanted re

[2018-11-14 21:58] hugho-ad opened #28704 "[11.0][12.0] Multiple Messges sent when double clicking portal send button on my project tasks, project, tickets"
Impacted versions:
11.0 12.0
Steps to reproduce:
Span send button at portal my tasks project, tickets
Current behavior:
Many messages sent
![image](https://user-images.githubusercontent.com/10233975/48515359-1bf14c80-e826-11e8-91a8-ffdcd043ab41.png)

https://youtu.be/w-Dm4lHLXns
Expected behavior:
Only one message sent, and disable button
Video/Screenshot link (optional):

OPW 1909547

[2018-11-14 22:08] pedrobaeza commented on #28704
This has been reported previously if I don't remember bad, and there was an opened task about this, but probably won't reach stable versions.

@JKE-be can you confirm?

[2018-11-14 22:11] hugho-ad commented on #28704
@pedrobaeza

I think you refer to this
https://github.com/odoo/odoo/issues/27233

It's the same problem but at a different place

[2018-11-14 22:11] alexey-pelykh opened #28705 "[12.0] hr: should not this also check that parent is_company?"
https://github.com/odoo/odoo/blob/774991946e491ee1c7fdf772405bc0e2c111fdaa/addons/hr/models/hr.py#L289

[2018-11-14 22:13] pedrobaeza commented on #28704
Not that one. It has been reported double clicks on "website" part, like clicking on "Pay Now", on "Checkout", and so on, and this one is similar in related technology I think.

[2018-11-14 22:17] pedrobaeza commented on #28705
The same answer as https://github.com/odoo/odoo/issues/28273#issuecomment-434218842 can apply here.

[2018-11-14 22:18] alexey-pelykh commented on #28705
Repeating myself, sorry

[2018-11-14 22:18] #28705 closed

[2018-11-15 01:07] cascaderack commented on #28700
Thank you Pedro for your response.  I wish that were the issue.  I can see that our sales team is configured properly, additionally if I go into the sales order/quote and ensure that each follower there is setup properly, the customer still receives the email intended for our team.  We'll continue to pursue a solution.

[2018-11-15 03:16] rchavik opened #28706 "Negative "To Pay" amount in Vendor Bills"
Impacted versions: 11.0 - enterprise (ee0ff262f084ca921c5414f528372e3d971806e3)

Steps to reproduce:
- Create a new vendor bill

Current behavior:
- Vendor bill created with Negative "To Pay"

Expected behavior:
- Vendor bill created with Positive "To Pay"

Possible cause: #28148

Attached below is an example of bills created with the different commits

Video/Screenshot link (optional):

![image](

[2018-11-15 03:33] rafaelbn commented on #28681
@Yajo maybe we should take care of https://github.com/OCA/reporting-engine/issues/254

[2018-11-15 08:58] pedrobaeza commented on #28700
@cascaderack as you are using enterprise, you can put an OPW ticket at odoo.com/help with further explanations about these extra steps you are mentioning, and they will check deeper. Maybe it's a bad interaction with sign module. I can say that in community version, we do this for e-commerce and normal orders, and people are notified.

[2018-11-15 10:06] qsm-odoo commented on #28681
@Yajo We added explicit support for flex rules so that reports work with BS4. I was curious about that one though, so I tried a little to fix it. I however cannot seem to do much about this `ml-auto` bug, it seems that wkhtmltopdf computes the margin without caring about the other columns (so your blue one is in fact after the red one). There are quite some alternatives though for your example:
-

[2018-11-15 10:23] rashik-bista opened #28713 "Trackback while using _compute_type_name method in script"
Impacted versions: 12

Steps to reproduce: No need to reproduce clearly shows the issue

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

1) V12
2) Addons/sale/models/sale.py line number 262

@api.multi
    @api.depends('state')
    def _compute_type_name(self):
        for record in self:
            record.type_name = _('Quotation') if self.state in ('draft', 'sent', 'ca

[2018-11-15 10:31] qsm-odoo commented on #28681
If we find other problems and if someone gets the time... maybe...
But in this case, the two alternatives I mentioned are explained on the bootstrap documentation *before* using margin classes :wink:

[2018-11-15 10:32] pedrobaeza commented on #28681
Thanks for the help, Quentin and Gert!

[2018-11-15 10:35] Yajo commented on #28681
I'm curious on this. What do you mean? :thinking:

[2018-11-15 10:37] yelizariev commented on #26455
Fixed in https://github.com/odoo/odoo/commit/07b855fccf9bbbc12726da9dcd4a294cc998cd49 ?

[2018-11-15 10:41] qsm-odoo commented on #28681
https://github.com/odoo/odoo/blob/12.0/odoo/addons/base/models/assetsbundle.py#L515

[2018-11-15 11:19] jso-odoo commented on #15822
@lap-odoo , Need your input here.
Product column is not there in any of the following reports -
In Purchase -
                     1) Purchase Order Confirmation
                     2) Request for Quotation
In Sales -
                     1) Sale Order confirmation

[Quotation _ Order.pdf](https://github.com/odoo/odoo/files/2585022/Quotation._.Order.pdf)
[Request for Quotation.pdf](https://github

[2018-11-15 11:51] Altreus opened #28718 "Failure to create addons path is ignored but should be fatal."
Impacted versions: 10.0, 11.0

Steps to reproduce:
[code]

Current behavior:

`curl (52): Empty response from server`

Expected behavior: Odoo should fail to start up in the first place.

**More detail**:

`docker run --rm -P odoo --log-level debug`

With the `debug` log level we see the error:

`2018-11-15 11:34:00,020 1 DEBUG ? odoo.tools.config: Failed to create addons data dir /var/lib/odoo/ad

[2018-11-15 12:11] helloworld123456 opened #28720 "CrashManager.warning template missing '\'"
odoo/addons/web/static/src/xml/base.xml

<div t-name="CrashManager.warning" class="o_dialog_warning" role="alert">
    <t t-js="d">
        var message = (d.message !== undefined) ? d.message : d.error.data.message;
        d.html_error = context.engine.tools.html_escape(message).replace(/\n/g, '<br/>');
    </t>
    <t t-raw="html_error"/>
</div>

missing a '\\',should be:
replace(**/\\\n/g**, '<

[2018-11-15 13:37] #26455 closed

[2018-11-15 14:11] haconsult opened #28729 "Can not access draft invoices"
Impacted versions:
v12

Steps to reproduce:
- create a new draft invoice for any one customer
- save, navigate to the customer

Current behavior:
- no way to access the draft invoice from the customer page
- could be accessed from "all invoices" link in previous odoo versions

Expected behavior:
- find a link on the customer page to retrieve draft invoices

[2018-11-15 14:39] pedrobaeza commented on #28729
This has been a design decision I think. @qdp-odoo can you confirm?

[2018-11-15 14:45] ougc27 commented on #19432
Hello @qdp-odoo @JulioSerna

The fix proposed by @qdp-odoo was merged?.
I appreciate your support

Best Regards!

[2018-11-15 14:53] yvaucher commented on #18798
@qndi thanks for reporting, I added 11.0 and 12.0 as impacted version in issue description.

[2018-11-15 14:53] yvaucher commented on #18798
Seems the follow up is there: https://github.com/odoo/odoo/pull/26724

[2018-11-15 14:56] ganeshvana opened #28733 "Xml Rpc"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

raise TypeError("cannot marshal %s objects" % type(value))
TypeError: cannot marshal <class 'collections.defaultdict'> objects

[2018-11-15 14:57] sswapnesh commented on #28729
IMO, This is by design to see correct Invoiced Value in customer.

[2018-11-15 14:58] sswapnesh commented on #28702
Will add more detailed description with screenshots.

[2018-11-15 14:59] pedrobaeza commented on #28733
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2018-11-15 14:59] #28733 closed

[2018-11-15 15:02] haconsult commented on #28729
The old design perfectly shows the correct Invoiced Value in customer - draft invoices are not taken into account.

[2018-11-15 15:04] celm1990 opened #28734 "[12 E] Partner Aged balance error on filter custom date"
Impacted versions:
12
Steps to reproduce:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7775116/48561169-50790d00-e8e7-11e8-8b4e-eef431d717bc.gif)

Note: no alway can reproduce the error, but on 2 instance of runbot has same error
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-11-15 15:06] sswapnesh commented on #28729
I think that was confusing as On customer it has different amount than total number of invoices of that customer. (As it includes draft Invoices as well)

[2018-11-15 15:10] pedrobaeza commented on #28734
Please open the corresponding OPW ticket at odoo.com/help.

[2018-11-15 15:14] haconsult commented on #28729
@sswapnesh I don't get that. The button "Invoiced" displays the total amount without draft invoices. It links to a list of validated invoices only, no drafts.
To access all invoices (draft and valid) you need to go to "Action" → "All invoices".

[2018-11-15 15:54] sswapnesh commented on #28729
Ah Okay, Got It.
This has been removed in https://github.com/odoo/odoo/commit/f56ad6daf80a15101017dce1145a7ee821d272a3#diff-1b77ac79a00e073bb5fa83b31eb48da4L170

[2018-11-15 16:25] #27914 closed

[2018-11-15 16:30] lap-odoo commented on #15822
@jso-odoo I already have a task those pdf. I'm working on the spec, I'll send them when they'll be ready

[2018-11-15 16:47] sswapnesh commented on #28713
Added PR https://github.com/odoo/odoo/pull/28742

[2018-11-15 19:17] Yemeni commented on #14581
I am using Linux, so I just directly used the console
After logging in to your system, switch to postgres user
`sudo su - postgres`
go to your odoo databse, in my case it's odoo_db
`psql odoo_db`
write the query mentioned by @tienhieuD
[code]

[2018-11-15 23:32] switch87 commented on #27999
@mustafaadel125,

I am closing this issue due to lack of information. It can be reopened if you respond to our comments.

[2018-11-15 23:32] #27999 closed

[2018-11-15 23:32] #27930 closed

[2018-11-15 23:47] switch87 commented on #22766
Pos sessions are not supposed to be used in multiple windows at the same time. This is not considered a bug but bad practice. Each POS station or pos windows has to have it's own user + session separate from each other. Once a POS session is started it is possible to switch to the same user that is active on another session if this is wanted. I am closing this issue for now, if you have any questi

[2018-11-15 23:47] #22766 closed

[2018-11-16 01:06] hugho-ad commented on #28704
This is the issue you are talking about
https://github.com/odoo/odoo/issues/27976

[2018-11-16 03:12] inspurodoo opened #28745 "Technical architecture"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-11-16 04:52] jso-odoo commented on #15822
@lap-odoo , thanks for the update.! :)

[2018-11-16 07:03] ajepe commented on #28745
This is not an issue, you can get more information about your question reading the Odoo's source code.
Start with the base and the web client code in the web addons.

[2018-11-16 07:31] jso-odoo commented on #24032
@TimLai125 , are you still facing this issue ? because,
I'm not able to reproduce this issue, I've checked it from the latest 11.0 from runbot.
I've checked it with the test user who's having the same permissions as you defined in the issue, still i'm able to add/delete/edit the picture to the product.
Or **can you please describe from where you're trying to add pictures?**
![screenshot from 2018-

[2018-11-16 08:39] pedrobaeza commented on #28704
Yes, that's it

[2018-11-16 11:32] thomas15v opened #28754 "[11.0] POS problem with invoice PDF"
Impacted versions:
11.0

Steps to reproduce:
1. Open pos with posbox on android with Google Chrome 70.xxx
2. Create an invoice on the POS system
3. Click confirm

Current behavior:

There are 2 things that can happen after this point:
1. An error occurs. You can however click away the error and try again and everything will be fine
2. The pos system times out and keeps waiting.

I think the error

[2018-11-16 11:40] pedrobaeza commented on #28754
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be due to a configuration change, a custom/c

[2018-11-16 12:02] haconsult commented on #28729
So now the only way to find draft invoices is to drill down from the Accounting Dashboard to "Invoices to validate". I still think it wold be good to have a link to drafts per customer from the customers page.

Regards

[2018-11-16 13:06] haconsult opened #28756 "[12] Editing a Draft Invoice adds a new tax line, doubles tax"
Impacted versions:
v12

Steps to reproduce:
- Create a new invoice in draft state, save
- Check the taxes applied, is ok
- Edit the invoice, eg change the analytic account, save
- Check taxes again

Current behavior:
- Now there are two tax lines, the tax amount has doubled
- Total amount includes 2x the applicable tax
Expected behavior:
- Proper calculation of taxes applied

[2018-11-16 13:23] qdp-odoo commented on #28729
it's has been a design decision, but we got your feedback and see if we can do something for it in a next version. In the meanwhile, I'm closing this issue.

Thanks for the understanding

[2018-11-16 13:36] fmdl commented on #27151
cc @lap-odoo @odony

OPW:1 907 021

[2018-11-16 14:07] lap-odoo commented on #27151
@fmdl Thanks for reporting this.

@nim-odoo Could you please take care of that issue ? Do you want me to create a ticket ? I can test the fix if you want.

[2018-11-16 14:18] rchavik commented on #28706
Note: We were unable to reproduce in runbot.  So this might not be core related.

[2018-11-16 14:35] Yenthe666 commented on #28694
@tde-banana-odoo for you! 😉

[2018-11-16 14:42] pedrobaeza commented on #28706
Then I'm afraid we have to close this.

Try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, then it can be due to a third party module.

[2018-11-16 14:42] #28706 closed

[2018-11-16 15:07] v3ss0n opened #28764 "Feature Request: AsyncIO Support"
Since PostgreSQL have asyncio drivers and Odoo is Already on Python3.5 , replacing Gevent with asynio: async/await will be a lot cleaner. But that will be huge rewrite.

Any Plan to support asyncio in coming years?

[2018-11-16 15:08] pedrobaeza commented on #28764
What are the benefits of this?

[2018-11-16 15:12] v3ss0n commented on #28764
Performance
Cleaner Async.
AsyncIO LongPoll + Postgre Listen/Notify can make everything Realtime.
Realtime KanBan and many realtime stuff will be very powerful.

[2018-11-16 15:35] v3ss0n commented on #28764
Thanks ! Since odoo already have some realtime stuff , it will be truly collaborative framework if most part of odoo is realtime (longpoll) .

[2018-11-16 15:39] hugho-ad commented on #28266
@dbh-odoo

I ain't receive any feedback yet about my last comment

[2018-11-16 15:39] william-andre commented on #16451
You can also easily change between multiple versions of python without having to uninstall anything. More info [here](https://linuxconfig.org/how-to-change-from-default-to-alternative-python-version-on-debian-linux)

[2018-11-16 16:34] thomas15v commented on #28754
I can not simulate it with my android phone on the runbot. I guess it might be an infrastructure problem or a specific problem with samsung tablets (I suspect the download manager from doing something). If I find more information or a way to resolve it I will post it here.

[2018-11-16 16:35] pedrobaeza commented on #28754
@switch87 you decide if we keep this opened meanwhile.

[2018-11-16 16:44] tomeyro opened #28767 "Adding an attribute line with no value to a product with variants deletes the product"
**Impacted versions:** 12.0

**Steps to reproduce:**

1. In a database with inventory module and "variants and options" enabled.
2. Create a product with an attribute that creates variants, and at least one attribute value.
3. Save the product.
4. Edit the product and add an attribute line with a different attribute but with no value.
5. Press save.

**Current behavior:**

The save button and all

[2018-11-16 16:46] tomeyro commented on #28767
opw-1910507

[2018-11-16 17:24] alexey-pelykh opened #28771 "[12.0] Documentation request: how to trigger a refresh/reload of data in list/kanban?"
[code]
does the job for the list, yet kanban stays unaffected.

Tried to implement own action as
[code]
yet `trigger_up` doesn't do what's needed. Looked through the Odoo sources to find something similar as a reference and no luck, thus have to request for documentation on the matter

[2018-11-16 17:33] pedrobaeza commented on #28771
Questions are not usually allowed here, Alexey. I let a change that @ged-odoo answer this as indeed JS part is still not fully documented, but if he refuses, then I'll close this.

[2018-11-16 17:35] alexey-pelykh commented on #28771
I'll take my chance, since I've been all across the sources and google for entire day trying to figure that out

[2018-11-16 20:37] avw-odoo commented on #20597
@fclementic2c

These features are available for 12.0 :

We will launch new tasks about SDD / SCT and I'll still take this thread into account.

[2018-11-16 21:30] Yenthe666 commented on #11016
@sseerrggii can you please create a new report with the steps on how to reproduce the issue.

[2018-11-17 08:34] Yenthe666 commented on #20597
@wtaferner in our case we need exactly the opposite of your case actually. This change makes it better for us in the Netherlands interesting enough. I guess it should become configurable 😉

[2018-11-17 08:40] Yenthe666 commented on #28771
I'm curious, in what case would you like to reload a kanban view?

[2018-11-17 08:42] alexey-pelykh commented on #28771
Meanwhile I'll add information (for further generations? :) )

In Odoo 10.0, in there was a `do_reload` in `addons/web_kanban/static/src/js/kanban_view.js`, that called `do_search` which actually performed a search, thus `web_auto_refresh` (https://github.com/OCA/web/pull/972) was able to work.

In Odoo 12.0 this is not the case, `do_search` is now part of `addons/web/static/src/js/views/search/se

[2018-11-17 08:44] alexey-pelykh commented on #28771
@Yenthe666 glad you've asked! One of buttons on kanban card triggers an action that creates a new instance of a model that is being viewed right now. List shows that new item almost instantly (`reload` makes somewhat more solid, whatever that means), while kanban does nothing at all and only clicking on search button will reveal that new item

[2018-11-17 08:45] Yenthe666 commented on #28771
Ahh I see 👍 I'm curious about the feedback from Gery.

[2018-11-17 08:54] wtaferner commented on #20597
@Yenthe666
I know, but it should have been a individual patch for you guys in terms of very specific backporting instead of just applying it with a HUGE change of behavior more than one year after release :wink:

I would love if the features available in 12.0 would have been backported as they would enable all use cases already in 11.0. Anyway, escalated here, via ticket and reverted it on my side

[2018-11-17 09:13] alexey-pelykh commented on #28771
(investigation continues!) According to comments found in https://github.com/OCA/web/pull/972, the `reload` has not been working for Kanban in 10.0 as well, thus probably same behaviour is present in 12.0.

`reload` is implemented in `addons/web/static/src/js/views/abstract_controller.js` and it calls `update`. Update is implemented in:
 * `addons/web/static/src/js/views/abstract_controller.js`
 *

[2018-11-17 09:35] alexey-pelykh commented on #28771
So, I did something, and Odoo reacted somehow:
[code]
Triggers an entire page refresh, loosing all filters and groupings, and surely shows the newly created item in both list and kanban mode, yet a little not as expected xD

[2018-11-17 12:33] HaraldPanten commented on #28622
Good morning,

Any news about that issue? Can we use any other credentials?

TY!

[2018-11-17 12:43] pedrobaeza commented on #28622
I'm not sure the module works with DHL Spain.

[2018-11-17 12:52] HaraldPanten commented on #28622
Do you mean DHL -> Odoo V11 EE sinchronization? Or just test credentials / test environment?

[2018-11-17 13:00] pedrobaeza commented on #28622
Well, in general. I remember that DHL Spain computer services wasn't linked to worldwide ones. Maybe that has changed now, as this was 6 years ago.

[2018-11-17 13:09] HaraldPanten commented on #28622
THX @pedrobaeza ,

I'll try to contact DHL to see if this functionallity still disabled for Spain or not.

@Yenthe666 is it possible to shed some light on that issue as it is for V11 EE?

Regards

[2018-11-17 13:14] pedrobaeza commented on #28622
@HaraldPanten have you opened an OPW ticket on odoo.com/help? That's the first step for enterprise issues.

[2018-11-17 16:09] jlzhou commented on #25651
One comment:
In odoo12.0, the field 'file_type' doesn't exist. We may remove it from search_read.

One more thing:
The file name in Chinese language (utf-8) will trigger an exception:
'latin-1' codec can't encode characters in position 43-47: ordinal not in range(256)

I change the code in 'def download_attachment' as below to work around it under python 3.6:
filename=attachment['name'].encode('ut

[2018-11-17 16:46] seb-odoo commented on #27861
@Axel-G yes both are going to be fixed, see #28079 and #28301

[2018-11-17 23:07] Vartkat commented on #28590
Guys you can add France to the list, in France Zip code goes before City.

[2018-11-18 02:33] kalway-tony opened #28773 "[12.0] gamification start challenge bug"
Impacted versions:
Odoo12
Steps to reproduce:
http://400273-12-0-b60f9b.runbot17.odoo.com
create a challenge, start date = 2018-11-01   end date = 2019-01-31
click start challenge
Current behavior:
Odoo Server Error
psycopg2.ProgrammingError: syntax error at or near "g"
LINE 6: ...         AND g.start_date = '2018-11-01'::dateAND g.end_date...
Expected behavior:

Video/Screenshot link (optional):

[2018-11-18 05:48] gylmar-infotools commented on #22540
So "report" endpoint was removed, is there any way to get pdf report with external api for account.invoice model for example?

[2018-11-18 05:58] jeffery9 commented on #22540
i think mostly use action `ir.actions.report`, and  `/report/` endpoint for api call.

[2018-11-18 06:37] jlzhou opened #28774 "[12.0] New installed website module doesn't work once the website page had been edited"
Impacted versions:
12.0
Steps to reproduce:
Edit a website page element, such as the footer or description text on the right side in the product page.
Then install a website module such as product comparison.

Current behavior:
The new installed module won't work normally.

When editing the product page, I found in the pg database, ir_ui_view table, odoo will duplicate the line with the key 'websi

[2018-11-18 10:07] alexey-pelykh commented on #28771
In the end, seems like `ListController` is refreshing entire dataset due to way how button click is handled, where in the end
https://github.com/odoo/odoo/blob/7765689f63b50f6e292db704fe1182548416aa49/addons/web/static/src/js/views/basic/basic_controller.js#L270

and how [selectively] `KanbanController` reacts to button click:
https://github.com/odoo/odoo/blob/7765689f63b50f6e292db704fe1182548416a

[2018-11-18 17:00] pedrobaeza commented on #28774
Can you be a little more precise including which changes and detailed steps to reproduce the problem?

[2018-11-18 19:03] HaraldPanten commented on #28622
I didn't do that yet. You're right.

Maybe you could close that issue, then.

THX!

[2018-11-19 00:42] jlzhou commented on #28774
@pedrobaeza This issue is complicated to describe clearly, I just want to give a hint to odoo developer.

The website 'Product' view templates will be duplicated in db to save the changes once the page element has been edited, but after this, new installed website module still inherits to the origin templates. So the new website module doesn't work.

[2018-11-19 02:38] celm1990 commented on #27411
Fixed in #27545

[2018-11-19 02:38] #27411 closed

[2018-11-19 03:32] dinhnghia commented on #28664
Version: odoo 11
When I created the database but did not select 'Load demonstration data', I did not see the 'Order' button appear.

[2018-11-19 04:09] blaggacao opened #28776 "fieldsInfo vs ir.ui.view postprocess"
@gde-odoo
To me poking around the code the current situation seems akin to this cursory overview:

**Server Side "fieldsInfo", aka ir.ui.view `postprocess`**
1. [fetch equivalent of fields_get](https://github.com/odoo/odoo/blob/7765689f63b50f6e292db704fe1182548416aa49/odoo/addons/base/models/ir_ui_view.py#L854)
2. [parse arch](https://github.com/odoo/odoo/blob/7765689f63b50f6e292db704fe1182548416a

[2018-11-19 08:35] pedrobaeza commented on #26924
Closing as merged in master the alternative provider + generic geolocalize provider system.

[2018-11-19 08:35] #26924 closed

[2018-11-19 08:37] pedrobaeza commented on #28774
Yeah, I know, but if you don't provide such exact steps, it's not reproducible and thus not fixable...

[2018-11-19 08:49] switch87 commented on #28754
@thomas15v, it would surprise me if this has anything to do with the download manager of your tablet. What you could try is to empty the cache of your tablets browser, it could be a problem there. Because you cannot reproduce this problem on runbot I also advice you to make sure your server is up to date with the latest version of Odoo 11.0.

I have taken a look at the code mentioned in the traceb

[2018-11-19 08:50] Yenthe666 commented on #28622
Done, best of luck!

[2018-11-19 08:51] #28754 closed

[2018-11-19 08:56] intero-chz opened #28778 "[11.0, 12.0] possible ZeroDivisionError in Incoming Shipments"
Impacted versions: looked into 11.0 and 12.0 (produced in 11.0)

Steps to reproduce:

1. Get a product into negative stock (-1)
2. Do an incoming shipment with quantity 1 of that product

Current behavior:

ZeroDivisionError

Expected behavior:

No Error and correct handling of such situations.

Related Code:

Odoo 11
https://github.com/odoo/odoo/blob/1da3ff5a0a6f46d6334f33cd876d1155e4941b36/addon

[2018-11-19 09:56] Salem4dev opened #28780 "keyError: 'total' can any one help with that error"
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 270, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 258, in execute
    application_iter = app(environ, start_response)
  File "/odoo10/odoo10-server/odoo/service/server.py", line 244, in app
    return self.app(e, s)
  File "/odoo10/o

[2018-11-19 12:54] Yenthe666 commented on #28774
@jlzhou perhaps you can make a video showing the issue?

[2018-11-19 14:17] jbaudoux opened #28800 "Calendar search method hides some recurring event changes due to record rules"
Impacted versions: all versions

Exemple:
user1 has a private recurring event (id=24 ; recurrency='t') and has 1 exception on 1 occurrence (id=25, recurrency_id=24). Then move the exception to another partner user2.

Filter events of user1:
* Admin will see the recurring event of user1 including the exception on user1
* user1 will see the recurring event of user1 without the exception on user1

Th

[2018-11-19 14:29] pedrobaeza commented on #28780
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile or it's a misconfiguration problem, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not

[2018-11-19 14:29] #28780 closed

[2018-11-19 14:36] pedrobaeza commented on #28778
I don't think so, as you have this line for that case:

https://github.com/odoo/odoo/blob/1da3ff5a0a6f46d6334f33cd876d1155e4941b36/addons/stock_account/models/stock.py#L386

[2018-11-19 14:50] intero-chz commented on #28778
I had this issue on one of our customer's Odoo 11 just today. Maybe it was fixed in Odoo 12, i just compared the methods very fast.

[2018-11-19 14:52] intero-chz commented on #28778
@pedrobaeza i think you're right, i will dig deeper into it.

[2018-11-19 15:12] blaggacao commented on #28776
Also look at this comment by @xmo-odoo from a 5 years old commit labelled with [NOTSURE]:
[code]

[2018-11-19 15:13] jlzhou commented on #28774
@pedrobaeza I will make an exact steps description lately... in a tight schedule now, sorry.

[2018-11-19 15:48] blaggacao opened #28808 "Limits (time!) are enforced in debugging (dev mode)"
**Impacted versions:**
v12

**Steps to reproduce:**

- start server with `--dev wdb,reload,qweb,werkzeug,xml`
- Set a traceback
- wait enough time

**Current behavior:**
- Will shut down (in the middle of an open debugging session)

**Expected behavior:**
- Let's you debug in tranquility

[code]

[2018-11-19 15:53] beledouxdenis commented on #28808
You can set `--limit-time-real=0`,
and set it in your ~/.odoorc so you do not have to put it manually ever on your computer.
(You can save the configuration automatically using `-s`, e.g. `--limit-time-real=0 -s`

[2018-11-19 15:55] blaggacao commented on #28808
@beledouxdenis Thanks! Is this a proper fix? I tend to yes. Does the same work for `limit_memory_soft` and `limit_memory_hard` as a debugging session seems to bust default memory limits?

Could you confirm quickly and close, if you wish?

[2018-11-19 16:08] beledouxdenis commented on #28808
We consider to change the default values of the limits (time & memory) to none (`0`) when any of the dev tools (`--dev`) is set, but then we would like to apply it for the multi-workers as well, not only for the multi-threads server mode.

There is no reason to not apply time and memory limits in multi-threads in debug mode, but apply them in multi-workers. Sometimes, what you need to debug is the

[2018-11-19 16:33] blaggacao commented on #28808
Nice! And thanks for the detailed explanation. So I silently assume this issue can be left open for reference.

[2018-11-19 17:41] sswapnesh commented on #27812
Works well now.
Should be closed in https://github.com/odoo/odoo/pull/28744
cc: @pedrobaeza

[2018-11-19 17:42] sswapnesh commented on #21690
Closed in https://github.com/odoo/odoo/commit/3ede4c72df9e22a2b0c3129edc20d69201de2520 as mentioned https://github.com/odoo/odoo/pull/21703#issuecomment-368556460
Cc: @Yenthe666

[2018-11-19 17:44] pedrobaeza commented on #27812
Thanks for the follow-up, Swapnesh. Closing this.

[2018-11-19 17:44] #27812 closed

[2018-11-19 17:44] pedrobaeza commented on #21690
Thanks for the follow-up, Swapnesh. Closing this.

[2018-11-19 17:44] #21690 closed

[2018-11-19 17:47] nle-odoo commented on #24921
Hi

The above mentioned PR has been merged in 11.0 with:
 https://github.com/odoo/odoo/commit/cac91731221b

Regards.

[2018-11-19 18:05] sswapnesh commented on #28756
@haconsult  Works well on latest Runbot
http://400896-12-0-48a2ee.runbot17.odoo.com/web?#id=169&action=505&active_id=126&model=account.invoice&view_type=form&menu_id=324

[2018-11-19 19:02] sseerrggii opened #28811 "Project Managers can delete Stages in one project that are deleted in other projects"
From: https://github.com/odoo/odoo/issues/11016#issuecomment-439534537

**Impacted versions:** Reproduced in 11.0 (Community Edition)

**Steps to reproduce:**

1. As project Manager enter in a project and delete stage that you don't need in this specific project

![peek 19-11-2018 19-56](https://user-images.githubusercontent.com/2297137/48728451-45024a80-ec35-11e8-82f2-45dea623d90c.gif)

**Current

[2018-11-19 19:31] emaxet opened #28813 "Opening Email Marketing Mailing Lists Throws Syntax Error"
**Impacted versions:**
12

**Steps to reproduce:**

Open Email Marketing > Mailing Lists > Mailing Lists

**Current behavior:**

Throws a syntax error (Stack Trace Posted Below)

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/api.py", line 1032, in get
    value = self._data[field][record.id][key]
KeyError: <odoo.api.Environment object at 0x7f3a4f18c6

[2018-11-19 21:43] Mariotutal commented on #24599
I got the same problem, the only variation is that in my case, the animation that doesn't work is "Rotate In-Down-Left" & "Rotate In-Down-Right"

[2018-11-20 02:50] TimLai125 commented on #28453
@intero-chz  I admit this issue is not a blocking issue and understand that it is not necessary to press the button when the user wishes to use existing lots/serial numbers, but it will be nice if Odoo also handles this operation pattern.

[2018-11-20 06:51] jso-odoo commented on #25312
@jacara , are you still facing the issue because I can see the field **location_name** is stored field, not the not stored. Please let me know if the issue remains same.!
https://github.com/odoo/odoo/blob/11.0/addons/stock/models/stock_inventory.py#L327

[2018-11-20 08:20] kebeclibre commented on #28119
solved with #28759 at 596af12c21ae1df4679bfc526c6724e9b5453e0b

[2018-11-20 08:20] #28119 closed

[2018-11-20 08:30] pedrobaeza commented on #28811
This is the expected behavior, as the projects links the stages by a many2many. The solution is to not remove stages that way or to use independent stages for each project.

Closing this as no real issue, but expected behavior.

[2018-11-20 08:30] #28811 closed

[2018-11-20 08:34] pedrobaeza commented on #28813
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile or it's a misconfiguration problem, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not

[2018-11-20 08:34] #28813 closed

[2018-11-20 09:32] jmchza opened #28821 "psycopg2.InterfaceError: connection already closed - - -"
Impacted versions: V12 running locally on a Mac latest version, recommended Postgres version by the guide.

Steps to reproduce: After few navigations and modules activation, I lose access to any other application other than the website.
In one encounter I have the error after installing the website module.
and every time I end-up starting from zero by installing it on a new DB. (Installation done

[2018-11-20 09:34] pedrobaeza commented on #28821
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-11-20 09:34] #28821 closed

[2018-11-20 10:10] auyeung112002 opened #28826 "[12] active_id is not correct after preforming more than 1 action"
Impacted versions:
12

Steps to reproduce:
1. Setup an odoo server
2. Install CRM, Sales, Contact, install a chart of account template
3. Add context {'test_id':active_id} to the cancel button of sale order form
4. See the video for detail, https://youtu.be/5aNzLLFrWsk
5. Administrator id is 3, while the newly created sale order id is 2
6. When clicking the cancel(with active_id set in context), t

[2018-11-20 11:53] jeffery9 opened #28837 "[base_import] how to disable import button for some views."
we know there have option `import_enabled' use to disable import button.
https://github.com/odoo/odoo/blob/9ba547100d9b3eb86070af4f94d57f3c1f07e860/addons/base_import/static/src/js/import_buttons.js#L20

I think that can transfer this options from action via flags or context, but flags has been cleaned via function `clean_action`, and context passed to  ViewOptions as context. so there have no way

[2018-11-20 11:54] jeffery9 commented on #27758
thanks

[2018-11-20 12:15] bennals commented on #28811
It may not be technically a bug but I think it's extremely poor design and can result in a big mess being created by a user who isn't aware of what they're doing.

[2018-11-20 12:18] pedrobaeza commented on #28811
Don't give project manager permission to that user.

[2018-11-20 12:45] bennals commented on #28811
Yes, sure, there are always work arounds, but wouldn’t it be better if that action just removed the link between that particular project and the stage, rather than delete the stage completely from the database?

[2018-11-20 12:48] pedrobaeza commented on #28811
You can consider this as a framework limitation, but no, it's not possible. If you click on remove, you are removing the record, not the link in that project.

[2018-11-20 13:10] E4O opened #28841 "Use by default work center view"
Impacted versions:
Manufacturing 11.0.2.0

Steps to reproduce:
1. Open Manufacturing app.
2. Select Work orders from the dashboard.
![image](https://user-images.githubusercontent.com/40301417/48775254-30758f00-ecd5-11e8-853c-e732d70a6669.png)
3. Group by for example "Created on":
![image](https://user-images.githubusercontent.com/40301417/48775494-dfb26600-ecd5-11e8-9f7e-5f8129a5fd60.png)
4. Save

[2018-11-20 13:55] pedrobaeza commented on #28841
This is something expected, as clicking on the button forces an specific action with a defined context, so you are not going to get any default filter. You can consider this a technical limitation.

Reference line: https://github.com/odoo/odoo/blob/8bff607f07f7515c26145c46135855329665a5a2/addons/mrp/views/mrp_workcenter_views.xml#L164

@ged-odoo do you consider here that the web client should inje

[2018-11-20 14:38] Gokulakannanaj opened #28847 "[11.0] Search more not displayed while inherit name_get not method"
Impacted versions:
[11.0]

Steps to reproduce:
Inherit name_get method like below code

[code]
Current behavior:
Search more not displayed in m2o field.
[Note: number of records is 32]

Expected behavior:
Search more want to be displayed in m2o field.

If logged in as a Admin user it works perfectly. Otherwise search more not displayed.

[2018-11-20 14:55] tomeyro commented on #28767
Closing as I cannot replicate this issue anymore.
Seems to be fixed.

[2018-11-20 14:55] #28767 closed

[2018-11-20 15:05] pedrobaeza commented on #28847
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2018-11-20 15:05] #28847 closed

[2018-11-20 16:12] haconsult commented on #28756
Ok, I can't reproduce either. I guess it was something in connection with the db upgrade I was working on.
Thanks anyway.

[2018-11-20 16:15] #28756 closed

[2018-11-20 16:19] kebeclibre commented on #28446
closed by #28766 at https://github.com/odoo/odoo/commit/e713ed2a69af9fe97fbe2d54843adc8f1ce689aa

[2018-11-20 16:19] #28446 closed

[2018-11-20 17:24] zaoral opened #28854 "odoo.com: I am not receiving messages responses from reported tickets"
I have reported tickets in odoo I am always checking the state of this ones when I do not receive any email response from odoo telling me that someone is working on it or that has been assigned to Technical team, etc.

Thanks to this I notice that some tickets were answered but I do not receive any news via email, normally when support team add a message to the ticket I received in mail inbox.

In

[2018-11-20 17:42] JKE-be commented on #28854
Hi Katerine,

Please keep this channel for issue and not issue about issue ;)

From what I see, the last answer of Oriane ask you more details about your issue 6 days ago.

So if you have already replied, please send again your answer (we don't have feedback from you), and we will be able to help you.

Best regards

[2018-11-20 17:42] #28854 closed

[2018-11-20 17:45] JKE-be commented on #28854
Sorry didn't read all your question.

We will double check in internal, but from what I know, there are no more issues of email.

Best regards

[2018-11-20 17:59] Yenthe666 commented on #28854
@jke-be I seem to have a new one since today where every response appears to come from OdooBot actually. You might want to check that too.

[2018-11-20 17:59] zaoral commented on #28854
Roget that @JKE-be

I just though that will be important to tell you about that maybe is something wrong with outcoming messages that could not been informing to your customers.

In future.. when I notice any problem or error related to odoo.com where should be the proper channel to reported?

[2018-11-20 18:58] alexis-via opened #28856 "[10.0] Product tree view: filter on warehouse/location doesn't work"
Impacted versions: 10.0 (the bug is NOT present on v11 nor v12)

Steps to reproduce:
1) connect to runbot v10 as admin
2) Go to the menu "Inventory > Products" (or any other Products menu)
3) in the search bar, search on Warehouse=[name of a warehouse] or Location=[name of a stock location]

Current behavior:
The list of products is emptied !

Expected behavior:
It should update the stock levels o

[2018-11-20 19:54] #28361 closed

[2018-11-21 02:02] lukebranch commented on #27216
Hi @OpenTechValue Claudio,

Sorry to comment on a closed issue, could you advise how to contact you directly? I can't find contact details for your company and would like to discuss a few things with you.

(@)pedrobaeza, apologies in advance for commenting on a closed issue. a

[2018-11-21 06:51] kbirkbr opened #28858 "PDF report menu items not showing under Reporting menu in Accounting module."
Impacted versions: Odoo 11 EE

Steps to reproduce:

1. Create a new database.
2. Install `account_accountant` module.

Current behavior:

Not appearing PDF reports under Reporting Menu in Accounting module.
Not even list out in Menu items under  Settings -> Technical -> User Interface.
Have to refresh the `account` module to make PDF report menu visible.

Expected behavior:

Show PDF reports under

[2018-11-21 06:58] ghost opened #28859 "[12.0] Feature Request: B2B / B2C Shop (with/without Tax) for every website selectable."
Multiwebsite is a great feature and thats why i was really looking forward to 12.0 ;)
One website for businessshop, one for consumer.
But it looks likes the price model display is a global setting.

it is intended to change this?

[2018-11-21 07:06] jeffery9 commented on #28837
add patch as https://github.com/odoo-cn/addons/commit/ae6e8313ac798ba13d326015f2ad77c2ec6d4cd6

[2018-11-21 07:08] OpenTechValue commented on #27216
Please contact me at opentechvalue@gmail.com

[2018-11-21 07:51] Guenzn commented on #27452
Same for me, is it possible to use the old implementation without getting other issues?

[2018-11-21 08:34] pedrobaeza commented on #28858
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile or it's a misconfiguration problem, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not

[2018-11-21 08:34] #28858 closed

[2018-11-21 08:48] JKE-be commented on #28854
@zaoral

In case of a bug of odoo.Com and not the core of odoo code, you can use the traditional "ticket" process.

If you really have some doubts that your ticket is created (error 500, ...); in this case don't hesitate to open an issue github to warn us ;)

[2018-11-21 08:50] JKE-be commented on #28854
@Yenthe666

User with ID = 1 is called OdooBot
You have now "2 admins", the admin bot that make automations, bypass rules, ... and the admin user.

[2018-11-21 08:50] lukebranch commented on #27216
Thanks!

[2018-11-21 08:56] Yenthe666 commented on #28854
@JKE-be yeah I know that. Your system is doing it, not mine 😉

[2018-11-21 09:15] kbirkbr opened #28861 "PDF report menu items not showing under Reporting menu in Accounting module"
Impacted versions: Odoo 11 EE

Steps to reproduce:

Create a new database.
Install account_accountant module.
Current behavior:

Not appearing PDF reports under Reporting Menu in Accounting module.
Not even list out in Menu items under Settings -> Technical -> User Interface.
Have to refresh the account module to make PDF report menu visible.

Expected behavior:

Show PDF reports under Reporting M

[2018-11-21 09:15] gfcapalbo commented on #28179
1 - Promotion structure connected to website:
    -" Buy product A get product X for free."
     -with start-date end date
     -Automatic application of promotion on newly created SO's and update promotion rules
      on sale_order_line changes.
    - ribbon on product with promotion
    - Product X  should be visualized, but not editable in cart.
    - more complex rules for promotions.

2 - Cas

[2018-11-21 09:19] pedrobaeza commented on #28861
That's something expected, as enterprise edition has other more advanced reports, so PDF reports are removed from that version.

[2018-11-21 09:19] #28861 closed

[2018-11-21 09:24] Guenzn opened #28862 "My pull request seems not to be seen by anybody (all others at this time are labled with 'seen')"
See PR https://github.com/odoo/odoo/pull/27201

[2018-11-21 09:42] Yenthe666 commented on #28862
Don't worry that is an automated system. Before a PR gets merged there is still manual checking and approval, so yours will have just as much attention as others.

[2018-11-21 09:42] #28862 closed

[2018-11-21 09:57] jco-odoo commented on #28590
There is 2 things to distinguish here.  The first one is the street format (house/door/streetname) for which the module base_address_extended was made, which is configurable by country.  It would be in handy, based on the list of @schout-it to have an extensive list in the base_address_extended module.  No idea if you based yourself on wikipedia: https://en.wikipedia.org/wiki/Address

The second i

[2018-11-21 10:07] oco-odoo commented on #20597
@wtaferner

Thank you for reporting the issue; but please let us time to react before pinging 8 people on the issue and creating an additional ticket. For this matter, you could as well just have pinged me and I would have reacted all the same (except for this sentence), with no more delay. Making everyone happy is also part of my job, and it'll be my pleasure to fix your issue :)

Regarding the i

[2018-11-21 10:29] ploegvde commented on #28590
@jco-odoo For the Netherlands it is solved by merging #27614. We have created a view what we set on the country "Netherlands" what makes all addresses in het partner form in the Dutch layout. Users in our company (in our case Netherlands) are used to that format and don't mind a to see a USA address in a Dutch format.

On the reports you always print the address based on the country set on the par

[2018-11-21 11:44] retbconsulting opened #28903 "Error message when I click on Print receipt (Mozilla Firefox for Galaxy Tab S2)"
Impacted versions:
10.0
Steps to reproduce:
Clicking on Printing POS receipt on Mozilla Firefox for Galaxy Tab S2
Current behavior:
Error : 'TypeError : window.print is not a function'
Expected behavior:
Get Print window to select printer
Video/Screenshot link (optional):

[2018-11-21 11:45] pedrobaeza commented on #28903
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be due to a configuration change, a custom/c

[2018-11-21 12:03] rosenvladimirov opened #28906 "Bank statelment reconcile auto fill tax id from account properties"
Impacted versions: 11.0

Steps to reproduce: when start payment reconcile in manual mode, and when selecting the account does not automatically fill in the fiscal position

Current behavior: The Fiscal position is configured in Account setting.

Expected behavior: Auto fill Fiscal position when worked with account without product only on invoices is worked correct, but in bank statement on manual

[2018-11-21 12:06] pedrobaeza commented on #28906
I'm not sure what you are talking about. Can you please add some screenshots of what do you refer?

[2018-11-21 12:07] retbconsulting commented on #28903
Hello @pedrobaeza
I installed Odoo 10.0 Community version on Server having Ubuntu as OS. After installing the point of sale module, I have made some orders from my laptop with different browser and it works very fine. Now, I try to use a tablet (Samsung Galaxy Tab S2) with Mozilla Firefox as brwser but I encounter an issue when I click on Print Receipt (See screen below).
![screenshot_20181121-120

[2018-11-21 12:13] pedrobaeza commented on #28903
I'm asking you to reproduce the problem in runbot, not on your local installation, as this seems something with your deployment, not on Odoo itself. If you reproduce the problem in runbot, then it may be an Odoo problem.

[2018-11-21 12:20] rosenvladimirov commented on #28906
[
![2018-11-21 14-14-52](https://user-images.githubusercontent.com/6825051/48840927-a3940980-ed98-11e8-88c6-74481d98f824.png)
](url)

[2018-11-21 12:23] pedrobaeza commented on #28906
And in what fiscal position is involved with the screenshot?

[2018-11-21 12:38] pedrobaeza commented on #28906
I think you are mixing terminology, saying FP instead of Taxes. Any way, this is something expected, as default taxes are only applied on manual journal entries, not in account reconciliation. If you want to have predefined taxes, use a reconciliation model and put taxes there.

Closing as no real issue, but intended behavior (or lack of behavior).

[2018-11-21 12:38] #28906 closed

[2018-11-21 12:46] pedrobaeza commented on #28903
OK, it seems something general. And can you enumerate please the steps to reproduce the problem?

[2018-11-21 12:54] retbconsulting commented on #28903
The steps to reproduce this problem are (standard sale on POS):
1- Connect to POS session
2- Select Products to sell
3- Press on Payment button
4- Enter the amount delivered by customer
5- Click on Validate
6- Click on Print Receipt
Please note that I use Samsung Galaxy Tab S2 with Mozilla Firefox as browser. This issue is not appears on Google Chrome. However, There is other issue related to Goog

[2018-11-21 12:59] pedrobaeza commented on #28903
Great, thanks for the detailed steps and the patience.

@switch87 can you please check this one?

[2018-11-21 13:43] JKE-be commented on #17084
Thanks for path

@lem8r Can you give more info on how your patch will solve smthing ?
You cannot use only your patch, you need anyway to remove header no?

Btw, your uniq hash will be not updated when image will be updated, so seems not correct or I miss smthing.

Btw, Imo it is normal to use nginx before Odoo, and if you install website, use cdn for all /web/image t is not a luxury.

[2018-11-21 13:46] switch87 commented on #28903
@retbconsulting The problem is tat android devices do not have normal printer functionality by default. For this reason the browsers are not equipped to send directly to the printer.
It is a limitation of the browser and not a bug, but we should catch this error in a nicer looking way. Thank you for reporting!

[2018-11-21 13:50] FanisTGT commented on #27386
I completely agree

[2018-11-21 13:59] switch87 commented on #28903
@retbconsulting It seems I was to fast with answering, there seems to be a solution to make it work. I will keep you informed.

[2018-11-21 14:34] JKE-be commented on #25140
Hi @Elkasitu

Any news about this issues.
Just tested now, and bug is always bugged

Are you always responsible of install/uninstall ?

[2018-11-21 14:39] JKE-be commented on #25176
Please provide more info and an example / test taht show the issue.

Thanks

[2018-11-21 14:39] #25176 closed

[2018-11-21 14:41] pedrobaeza commented on #27386
This is not true, as Odoo CE has accounting (module `account`), but it's hidden by default (you need to check "Show full accounting features" in your user), and some accounting features are enterprise only: reports, assets and budget, but this for OCA ecosystem exists: for having these features (and a lot more not covered by the core). You have the modules `account_financial_report`, `account_asse

[2018-11-21 14:44] JKE-be commented on #26573
Thanks for the suggestion.

[2018-11-21 14:45] #26573 closed

[2018-11-21 14:48] JKE-be commented on #26574
Hi

Thank you, bu we cannot reproduce your issue.

Best regards

[2018-11-21 14:48] #26574 closed

[2018-11-21 14:59] JKE-be commented on #26586
Hi

Thank you,

But if I'm not wrong, it works...
You try to paid for an obscure reason a already locked transaction and it don't allow you.

So yes we could improve the error management in a futur version, but we don't plan to improve it in stable.

Back from browser is hard to manage since it use his own cache. If you make an F5, you will see that the cart is empty and so you have nothing to pai

[2018-11-21 14:59] #26586 closed

[2018-11-21 15:05] JKE-be commented on #27904
Thanks

As you suppose, it is not an issue for us.

We plan to improve it in a futur version to allow a subset of employee to edit a subset of page.

But in anycase that will not remove the fact that once you can edit 1 page, you can have sudo access. So it required to trust all user that have the website access. (What's seems logic, since they can insert xss to stole your session or ...)

[2018-11-21 15:05] #27904 closed

[2018-11-21 15:12] hparfr commented on #28179
Dev and test with bigger dataset, in order to see design flaws.

For instance POS does a search_read on res.partner on loading. It doesn't scale.

[2018-11-21 15:42] JKE-be commented on #27996
Hi,

Thanks for the report.

This checkbox i just there to show field multi website or not.
That will have not impact on the business logic. Code is not conditioned by this groups.

It is purely for show/hide website field in views.

[2018-11-21 15:42] #27996 closed

[2018-11-21 15:55] rrahir commented on #27753
@pedrobaeza @keshrath FYI, Some small features have been added for both the app developer and users. They are present in theupdated documentation in https://github.com/odoo/odoo/pull/28866/commits/b5b209298748dce867973b9f8365d39d48ba3217

[2018-11-21 15:57] pedrobaeza commented on #27753
Thanks for the follow-up

[2018-11-21 15:58] JKE-be commented on #27976
we don't forget this

We are working for a global solution in master, and hope to backport a small part to make 12 compliant.

[2018-11-21 16:15] JKE-be commented on #27998
Like for previous issue,  Disable Multi-Websites  will not disable  Feature but just hide field in form.
There are not business logic on this field.

We don't really want to support "Multi website mode enable or not", this checkbox is just there for visu.

Now it's true that it is a rare case where we could make this cheap test before to respect the ?fw
But that 's not a jurisprudence for other wa

[2018-11-21 16:16] hugho-ad commented on #28266
@dbh-odoo

I ain't receive any feedback yet about my last comment

[2018-11-21 16:52] JKE-be commented on #28657
Seems by design since commit https://github.com/odoo/enterprise/commit/51a947910ce1e4211914d051e1f352613c5b63e1#diff-3b469dffd2d365f5718915a8fadc8722

Do you report issue because you see a problem ?

[2018-11-21 16:57] reinaldoramosarxi commented on #28657
Seems to me that a page called "My Tickets" should only show the current user's tickets. If it is by design, then I don't understand why the functionality would be removed.

[2018-11-21 17:01] JKE-be commented on #28695
hi @hugho-ad

I don't see the error ?

If you update the generic homepage (without website_id) while you have a specific homepage (website_id set) it is normal to see the content of the homepage with website_id !
It is by design !

[2018-11-21 17:06] reinaldoramosarxi opened #28928 "[12.0] Website cart and sales not taking into account variants"
Impacted versions: 12.0

Adding product variants to the online shopping cart doesn't add the variant itself if the attributes' "create_variants" selection is set to "no_variant", just the base product. Works on regular backoffice sale orders.

The goal would be to sell user-configured variants online without having to store each specific variant in the database.

[2018-11-21 17:07] JKE-be commented on #28657
Or you are employee and you should use backend... And see all the tickets that you can read.
(some internal discuss to maybe redirect automaticlally employee from /my to /web)

Or you are Portal User and go to the portal /my, and you should see only your own ticket since it is limited by acl.

An employee don't need to have access in read to purchase.order for example.
While a portal user have acc

[2018-11-21 17:07] #28657 closed

[2018-11-21 17:08] reinaldoramosarxi commented on #28657
Still looks like a hastily suppressed functionality, which is why I reported it. The unused variable just didn't make any sense to me.

[2018-11-21 17:09] JKE-be commented on #28697
Not critical, but yes we will try to improve it in a futur version

[2018-11-21 17:12] JKE-be commented on #28704
I have the same bug when I let my finger on the ring, the bell ring several times.

So as discuss previously, we plan to improve it in a future version, and apply a debounce case by case for only critical button... Critical case, so not this one

[2018-11-21 17:13] JKE-be commented on #28704
If you really find it critical in your business, you can still use the http post instead of the ajax...

[2018-11-21 17:19] JKE-be commented on #28657
Not really, As you can see there are a task linked to this commit.
So their are analyze, specs, tests, review and much more done... by several employee that valid this task

Sure, but that have no negative impact. So yes it will be removed a day when somebody will see it and update this file for another fix, but by default we avoid useless commit that don't change anything.

[2018-11-21 17:32] hugho-ad commented on #28695
@JKE-be

Why the generic homepage got duplicated instead of using it?

The only change that I see at the copy of homepage view it's the website_id. but I can't figure it out why was made view duplication.

Could you point me out to where the duplicated views are created, please?

Best Regards!

[2018-11-21 17:47] JKE-be commented on #28695
By default, when we create a new website, we always bootstrap an new homepage for the current website
https://github.com/odoo-dev/odoo/blob/d13fb278268a379d5447b7fa076fbb7db26d9004/addons/website/models/website.py#L168

[2018-11-21 17:47] #28695 closed

[2018-11-21 17:51] blaggacao opened #28930 "[ERROR] city is no dropdown on CRM leads"
**Impacted versions:**
v12.0 / v 11.0

**Steps to reproduce:**
- On a full database (demo.odoo.com) Install `base_address_city`
- Change portugal to enforce cities
- Create City "Lisboa" for portugal
- Create an opportunity
- Set Portugal as the country on that opportunity (follow up tab)

**Current behavior:**
- City field is not a dropdown

**Expected behavior:**
- City field should be a drop do

[2018-11-21 18:47] nhomar commented on #28704
Why?

I think this is the form that yopu put in front of your customers, if they do not feel secure you are loosing sales dude.

Even if not critical from a technical stand point it is from other PoV.

BTW I think it is simpler to solve in the core than add a new module. Don't you think?

[2018-11-21 18:53] moylop260 commented on #28704
@JKE-be
You are right using the example of a bell ring.
Maybe, you could be interested to see another point of view:
 - [The Design of Everyday Things by Don Norman](https://www.amazon.com.mx/Design-Everyday-Things-Don-Norman/dp/0465050654/ref=asc_df_0465050654/?tag=gledskshopmx-20&linkCode=df0&hvadid=295499298236&hvpos=1o1&hvnetw=g&hvrand=5408298712368296089&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmd

[2018-11-21 19:03] JKE-be commented on #28704
We don’t speak about a new module but about a new
way to handle the ´click’ event.

We cannot apply this in stable version since it will make a big change and probably new bug in some case.

So we just prefer to fix the case in v12 with a manual debounce where it is critical only.

So in the case of the lift, that can maybe take sense... in case of print report too, but a first view not especially

[2018-11-21 19:08] lem8r commented on #17084
@JKE-be

Sure. Adding unique to image url will change how image controller will behave.
`www.odoo.com/web/image/902051` will deliver image with max-age: 0
`www.odoo.com/web/image/902051-bc17e6a` will deliver image with max-age: 604800

Currently [header is correctly set](https://github.com/odoo/odoo/blob/b81c2bce846c94b5695d680ebbc30f1cfe51e614/odoo/addons/base/models/ir_http.py#L374) if unique is

[2018-11-21 19:16] nhomar commented on #28704
agree (and that's the correct answer), we can wait, but do it in stable please.!

[2018-11-21 19:16] nhomar commented on #28704
Perfectly understandable, let's see the result and we can test.

[2018-11-21 19:32] earmero commented on #27386
Hi @pedrobaeza  could You please tell me Where I can Enable this feature??

[2018-11-21 19:34] pedrobaeza commented on #27386
It's already said.

[2018-11-21 19:57] earmero commented on #27386
just a comment if it can help someone in order to enable the "Show full accounting features" You need to have developer mode Enabled.

[2018-11-21 22:04] krister-ts opened #28935 "[12.0] Feature Request: "Muliples" in Vendor Pricelists"
Currently, Vendor Pricelists have a field for the Minimum Order Quantity but no field for Multiples!

**Ex:** _Eggs sold in **multiples of 12** @ $0.27EA and **multiples of 18** @ $0.23EA_

Multiples field:
1. Field in the Vendor Pricelist (default 1)
2. A dropdown on the PO form to select Multiple for the line (you may want specific multiples, especially for products in units of mass/volume)

**O

[2018-11-21 23:30] hugho-ad commented on #28695
@JKE-be

So how customization must be done?
If my_app  inherits and modifies the homepage, how can I inherit the duplicated template, the one that has the website_id (It hasn't xml_id),  in order to make visible my changes at the end of my_app installation?.

Best Regards!

[2018-11-21 23:35] krister-ts commented on #27993
I agree with your solution (if I understood correctly): one BoM to make MO, then planner can control routing with the work orders.

[2018-11-21 23:57] pedrobaeza commented on #28935
Well, this is something very specific and should come together with additions in other parts.

@fgi-odoo what do you think about this wishlist?

[2018-11-22 00:00] pedrobaeza commented on #28930
`base_address_city` doesn't cover CRM. You should develop an extra module `crm_address_city`.

Closing as no issue, but missing feature. Maybe this proposed module can be added in later versions.

[2018-11-22 00:00] #28930 closed

[2018-11-22 02:09] niulinlnc commented on #27993
This is great advice!

[2018-11-22 03:52] blaggacao commented on #28930
I don't agree with your line of argument. It's not precisely user centric. Could you reopen, please?

Please also not the difference between "Error" and "(Software)Bug".

[2018-11-22 04:48] dbh-odoo commented on #28266
@hugho-ad
Sorry for late replay
what you can do is define a variable in the main app and override it in the theme module and then use it in the main app it will work

For reference see bootstrap_overridden/ primary_variable files in themes it's working

[2018-11-22 05:47] hugho-ad commented on #28266
@dbh-odoo

Your not seeing the main point, **theme_a assets aren't loaded** until the -u theme_a process.
I know that because the error explained above, style errors appears after installation process finish.

There **must not** be any need of a secondary process (-u) after main_app installation.

I hope I was clear.

Best regards!

[2018-11-22 05:54] FanisTGT commented on #27386
@pedrobaeza, what about a common user of ERP system like a accountant. Developer mode is available only for superuser. In Odoo v12 account advisers or accountants does not have ability to manage accounts, moves, reconciling and so on?

[2018-11-22 06:15] tanghulu0608 opened #28937 "[12.0]Why is the route Buy set on the product by default?"
**Impacted versions:**
12

**Steps to reproduce:**
When odoo is used in a manufacturing enterprise, the most of the products we created is manufactured by this enterprise. After install the purchase module, the route Buy is selected by default when we create a product, we should unselected it manually.If we create a product in bom line, then the Buy route is set on the product, we should open the

[2018-11-22 07:38] Elkasitu commented on #25140
Yes, I will take a look

[2018-11-22 08:15] CakJuice opened #28940 "[12.0] The ecommerce product image can't be magnifying when has extra images."
Impacted versions: 12

Steps to reproduce: Install ecommerce & sale module, create a product, add an image then add extra images.

Current behavior: The image product can be magnifying when the product only has one image. And can't be magnifying when the product has extra images.

Expected behavior: The image product should be can magnifying when the product has extra images.

![odoo_issue](https:

[2018-11-22 08:45] pedrobaeza commented on #28930
I think my message is clear, and this is not going to be "fixed" in stable.

[2018-11-22 08:45] kebeclibre commented on #25309
@sswapnesh
I did not realize that the issue was in v11 as well, I did a branch to target that one

But I did not stumble upon the "two inputs" issue though....

[2018-11-22 08:46] FanisTGT commented on #27386
@pedrobaeza, I think it is very bad idea to ask regular users to use debug mode of system.
Don't you think so?

[2018-11-22 08:47] pedrobaeza commented on #28937
This is the best default. If you don't want it, just set another default to "Manufacture". That can be done through debug mode.

Closing as no issue.

[2018-11-22 08:47] #28937 closed

[2018-11-22 08:49] pedrobaeza commented on #27386
I don't like debug mode also, but this is current situation. You can pre-activate it with the module https://github.com/OCA/server-ux/tree/11.0/base_technical_features.

Any way, I think you don't need debug mode for using accounting, only for activating the permission (I'm not sure because I'm always on "debug" mode).

[2018-11-22 09:21] FanisTGT commented on #27386
I dare say that decision to move accounting features to enterprise version alarms others developers and most of them will stay in v11 or start to search other systems.

[2018-11-22 09:23] pedrobaeza commented on #27386
What they should do is to join OCA and start contributing there if they want to be on open source side, or check enterprise offer if they go on commercial reseller side, but the solution isn't to stay in previous versions or go away.

[2018-11-22 10:36] jso-odoo commented on #24883
Hello @Arvinman ,
Let me know if you're still facing the issue.!
Because, I'm not able to reproduce your issue as I've checked it on runbot where the **toggle button** is removed and **checkbox** is added which works is working as expected now.

[2018-11-22 11:03] switch87 commented on #28903
@retbconsulting ,

have a look at [Google Cloud Print](https://developers.google.com/cloud-print/docs/gadget), this could solve the problem for you. We cannot add this as a global solution for reasons explained in #28919.

[2018-11-22 11:33] blaggacao commented on #28930
I think my message is understandable, too: Please reopen. Your acting in a rougue way, again.

Well, leave it closed, as I hate to recover from a conversation that has been slammed by your unhelpful way of communicating or dismissal of valid arguments that don't come out of your head or are not aligned with your narrowed down point of views.

It's exhausting! You should stay away from Odoo issues

[2018-11-22 11:35] pedrobaeza commented on #28930
@blaggacao keeping this opened is not going to lead to anything, and that's why I closed it.

[2018-11-22 11:37] blaggacao opened #28952 "Suggestion: make city field a drop-down everywhere, when the list of cities is loaded"
**Tested versions:**
v12.0 / v 11.0

**Steps to reproduce:**
- On a full database (demo.odoo.com) Install `base_address_city`
- Change portugal to enforce cities
- Create City "Lisboa" for portugal
- Create an opportunity
- Set Portugal as the country on that opportunity (follow up tab)

**Current behavior:**
- City field is not a dropdown

**Suggested behavior:**
- City field should be a drop dow

[2018-11-22 11:40] pedrobaeza commented on #28952
Sorry, but I understand perfectly, and you want to achieve something that is not possible in stable and out of scope in other versions. But I will let @odony to close it this time if he considers the same as me.

For reference, this is a duplicate of #28930

[2018-11-22 11:46] blaggacao commented on #28952
I don't reclaim with any word it should be tackled on _stable_. I wonder where you take this assumption from...

[2018-11-22 11:56] rdeodoo commented on #28695
Hello @hugho-ad

In that case you should probably target the duplicated-specific view with something like:
[code]
You could also search on `key` instead of `name` since default homepage's view got a key set to 'website.homepage' and the duplicated specific views share the same key:
[code]

And preferably make that new inheriting view website specific too with:
[code]
(it won't be problematic to no

[2018-11-22 12:09] pedrobaeza commented on #28952
Read second part about "out of scope in other versions" (I mean v13). This is a clear candidate for a community module `crm_base_address_city`. And also as said, that module might absorbed by core one day.

[2018-11-22 12:34] RomainLibert commented on #27441
Should be fixed by that https://github.com/odoo/odoo/pull/28951

[2018-11-22 12:34] #27441 closed

[2018-11-22 13:01] goyanipankaj opened #28954 "Accounting Settings Issue"
Impacted versions:
Odoo 12.0

Steps to reproduce:
After installed localization module and go under the menu: (Account > Settings)

Current behavior:
Got error of field is not available in View.

Expected Behavior:

Video/Screenshot link (optional):
Link: Please refer this link.
![issue-account](https://user-images.githubusercontent.com/8874012/48904381-2f369480-ee84-11e8-8b7f-58b7b2ab6b05.png)

[2018-11-22 13:02] RomainLibert commented on #16466
Hello @abdallamhafeez

Your issue is linked to the fact that in version <= 11 we hardcoded that a day is 8 hours long (if you do the computation for your example you see that 7.5/8 = 0.935 which is rounded as 0.94)

As fixing this issue will at least alter the behaviour of the resource module, we cannot fix it in a stable release, but we already addressed this in v12 where we compute the number of

[2018-11-22 13:02] #16466 closed

[2018-11-22 13:05] blaggacao commented on #28952
What the hell are you basing your judgements on? I mean, there is a possibility that you have a point, but it's so god damn intransparent. I don't think you have a compelling argument here. Which leads me to think your judgment is based on ignorance or arrogance. This is the most annoying bit about when you comment on issues.

[2018-11-22 13:06] kebeclibre commented on #28107
closed in v11.0 with https://github.com/odoo/odoo/commit/ba8bac8f9884bc5d8962e0ba22ed2f4789dd98bf
in v12.0 with https://github.com/odoo/odoo/commit/462681723b63b5cacb943a2b1f40b26cb1355d83

(basically the same, except that in v12 it has become testable)

[2018-11-22 13:06] #28107 closed

[2018-11-22 13:16] khk-optesis opened #28955 "Error"
Impacted versions: Odoo 12

Steps to reproduce: payslip batches

Current behavior: Error shows

Expected behavior:

Video/Screenshot link (optional):

<img width="737" alt="error" src="https://user-images.githubusercontent.com/44680721/48905205-cdad0080-ee58-11e8-9fe1-0f92cfa0ef9a.PNG">

[2018-11-22 13:29] pedrobaeza commented on #28954
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be due to a configuration change, a custom/c

[2018-11-22 13:30] tivisse commented on #28773
Hi @kalway-tony

Thanks for the feedback. Unfortunately I'm not able to reproduce your issue with the information you provide.

Could you please elaborate ?

Thanks.

[2018-11-22 13:38] Yenthe666 commented on #28952
@pedrobaeza
Something can still be valuable if it cannot be done in stable and is not mandatory to have though (or atleast not mandatory for you). From personal experience I've noticed that as long as it is just here in a closed issue nobody really seems to look at it. Only when there is an internal task in the Odoo system it seems to be followed up and monitored so I can understand the frustratio

[2018-11-22 13:41] khk-optesis commented on #28955
i reproduce the in runbot and that work but at local i install hr_payroll_account and when i try to generate payslip batches i have this error

[2018-11-22 13:46] RomainLibert commented on #21343
Hello @elperrofarelo
It seems that hr_payroll does not support global leaves
But fear not, this PR should fix it (https://github.com/odoo/odoo/pull/28956)

[2018-11-22 13:52] pedrobaeza commented on #28952
That's the point, Yenthe, this doesn't serve currently, and that's why I close them, or do you want an issue tracker with 1000 wishlist issues in 2 years? And I close them also in a feasibility spirit, which is subjective, but based also on my experience. In this case, as this can be easily solved in a community module, and the facts exposed previously, I predict this will be one of the lower prio

[2018-11-22 14:04] Yenthe666 commented on #28955
Have you updated your Odoo source code to the latest version? Do you also get the error in English?

[2018-11-22 14:06] blaggacao commented on #28952
@pedrobaeza If Odoo has given you decision power, you have their trust. Why don't you point to the right product owner and flag this as a valuable suggestion where they either create an internal task or close this issue based on the product owner's judgment.

That's fully in line with your GTD methodology, it's even more efficient. And it's truly empowering.

Refine yourself! :wink:

[2018-11-22 14:30] RomainLibert commented on #21527
@elperrofarelo Hello Could you provide us with more information please

[2018-11-22 14:38] RomainLibert commented on #21860
Hello @airitos
This issue seems to be fixed as I cannot reproduce it on runbot
When trying to reproduce this, I get :
   number of days = 0.19
   number of hours = 1.50

[2018-11-22 14:48] tivisse commented on #28528
Hi @elperrofarelo

Thanks for the feedback. This will be fixed at https://github.com/odoo/odoo/pull/28964

Have a nice day,

Yannick.

[2018-11-22 14:48] #28528 closed

[2018-11-22 15:10] sswapnesh commented on #25309
I am also not able to reproduce that problem now. May be it is already resolved

[2018-11-22 15:18] infoitservit commented on #28521
Ok, it happens even on runbot, but it happens only for products with at least a digital place.
So, if you create a pricelist with discounts for quantities, you will find that on the POS it works well for "entire prices" (like 150$ or 35$) but it will begin to fail when the price has at least a digital place ($5,6 or 4,35$).

[2018-11-22 15:43] RomainLibert commented on #26790
Hello @E4O
It seems that your issue is not reproducible, as pointed by  @JeelBKhanpara this issue might come from wkhtmltopdf.

The problem with wkhtmltopdf is that it is never easy to know exactly how to fix the issue, these issue often have to do with the fonts installed on your system or the version of wkhtmltopdf (Currently I'm using v0.12.1 which is 4 years old and I am afraid to upgrade beca

[2018-11-22 15:55] edison12347 commented on #27703
@alrik88 did you manage to solve the problem? I have the same issue, opening sale order and product variant from the one2many field since a couple of weeks from now.

[2018-11-22 16:01] celm1990 commented on #21860
@RomainLibert  can you review isuue #26256 please, can be related

[2018-11-22 16:07] blaggacao commented on #28952
In this case you didn't understand the whole context of this issue, which is less dev oriented, but rather UX oriented. Remember, that there are a growing number of product owners at Odoo.

It's silly to assume you can't find exactly the right angle to place this issue there.
And it's even sillier to assume they would not be grateful for it.

However, don't rise such topics to the developer in the

[2018-11-22 16:10] khk-optesis commented on #28955
I have no mistake in English, I suppose the mistake is the translation.

[2018-11-22 16:11] #28713 closed

[2018-11-22 16:19] blaggacao commented on #28952
This phrase exhibits a lack of imagination. We already have seen an AddressFormatMixin in the back end, so why do you reason based on such limited assumptions? Is it precisely because of your huge experience??

I think you can a little bit it why you drive very knowledgeable people mad, at times. It's all covered up and explodes at the same time in your non-involving engagement on some issues.

[2018-11-22 16:23] Yenthe666 commented on #28955
@khk-optesis yes in that case there is a translation term that is incorrect. You should find and fit it at https://transifex.com/odoo/

[2018-11-22 16:34] Yenthe666 commented on #28955
You're welcome, best of luck!

[2018-11-22 17:04] zaoral commented on #28107
Excellent! Thank you

[2018-11-22 17:11] edison12347 commented on #27703
I found the solution, even though the problem is most probably fixed by now.
My deployment relied on odoo:12.0 image. This problem arose about the same time when new image release was made and this issue was reported.
The issue might existed in the code that was used to build the image odoo:12.0. After I rebuilt image locally from the source code, using default odoo Dockerfile, it disappeared.
@pe

[2018-11-22 17:30] pedrobaeza commented on #27703
Thanks for the followup. The image is built periodically, so with this process is enough for assuring up to date code soon.

[2018-11-22 17:41] edison12347 commented on #27703
P.S. I reported it in docker repo
https://github.com/odoo/docker/issues/230

[2018-11-22 17:51] blaggacao opened #28971 "[ERROR] no city drop-down on CRM"
**Impacted versions:**
v12.0 / v 11.0

**Steps to reproduce:**

- On a full database (demo.odoo.com) Install base_address_city
- Change portugal to enforce cities
- Create City "Lisboa" for portugal
- Create an opportunity
- Set Portugal as the country on that opportunity (follow up tab)

**Current behavior:**

- City field is not a dropdown

**Expected behavior:**

- City field should be a drop d

[2018-11-22 18:15] CLTanuki opened #28972 "[12.0] Extra menu entries after install website_event_track"
Impacted versions: 12.0

Steps to reproduce: Install website_event_track module. No matter with or without demo data.

Current behavior: Extra fields are added to main menu once `Website Menu​` checkbox is activated for event. After removing checkbox entries are still there.

Expected behavior: Entries are added in sub menu, but not in main, and removed after option is unchecked.

Video/Screenshot

[2018-11-22 18:29] pedrobaeza commented on #28972
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be due to a configuration chan

[2018-11-22 18:57] odony commented on #28952
(I think) I understand both sides of the discussion, and you both have valid points. We don't have a very effective feedback channel on Github indeed, but we do have one internally, and I have opened an entry with this suggestion - asking our POs to give you feedback here. We can keep the issue open until we get feedback from them.

PS: Sorry for locking the issue temporarily, but I know how diffi

[2018-11-22 19:00] blaggacao commented on #28971
#28952 is being turned around. Closing.

[2018-11-22 19:00] #28971 closed

[2018-11-22 19:07] #27175 closed

[2018-11-22 19:08] Yenthe666 commented on #28952
Thanks a lot for your valuable feedback Olivier. I'm happy you made an internal task to discuss it internally. Please reach out to me regarding community feedback and streamlining. I think we need to put some extra effort into this but it is off topic here.

[2018-11-22 23:20] hugho-ad commented on #28695
got it, thanks

[2018-11-23 00:15] NajlaeB opened #28974 "bug facturation : invoice"
Impacted versions: verson 11

Steps to reproduce: update my own modul

Current behavior: show this error on clic on invoice menu :
[code]
Expected behavior:

Video/Screenshot link (optional):

[2018-11-23 02:20] mhazbilly commented on #15279
How to should fix it?
I found a similar error after adding filters search
<search string="Admin">
             <filter string="Draft" name="state" domain="[('state','=','draft')]"/>
</search>
and using this context
<field name="context">{
    "search_default_state": 1,
    "default_state": 1}
</field>.

[2018-11-23 03:59] tanghulu0608 commented on #28937
@pedrobaeza  OK.Thank you.

[2018-11-23 05:13] anandkansagra opened #28975 "Pager for Many2one pop-up"
Impacted versions:
10, 11, 12
For Community as well as Enterprise

Steps to reproduce:
Open any Many2one pop-up which has more than 160 records.
Firstly it will show 160 records only but there seem more than 160 records.
If we will apply any filter and remove that then it will show all records.

Current behaviour:
If there are more than 160 records than it will show 160 records only at first time

[2018-11-23 06:40] CakJuice commented on #28940
@pedrobaeza I have added gif video

[2018-11-23 07:03] Yenthe666 commented on #28975
If I'm not mistaken this was done by design within the framework for performance reasons.
@pedrobaeza do you remember?

[2018-11-23 07:21] fgi-odoo commented on #28935
Indeed, too much specific. If prices differ depending on packaging, you can create one product ref per packaging type. Those products can be united in the inventory thanks to phantom boms in manufacturing.

[2018-11-23 09:01] jakubhruby commented on #27922
So... How's this going?

[2018-11-23 10:23] goyanipankaj opened #28980 "Not able to cancel SO"
Impacted versions:
Odoo 12.0

Steps to reproduce:
1> Create Tender from SO
2> After created tender then try to cancel SO.
Got the error!
if requisition_line.state not in ('done', 'cancel')]
  File "/home/bista/workspace/odoo-12/addons/purchase_requisition/models/purchase_requisition.py", line 492, in <listcomp>
    return [(requisition_line.requisition_id, requisition_line.requisition_id.user_id,

[2018-11-23 10:47] pedrobaeza commented on #28980
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2018-11-23 10:52] gdgellatly commented on #28935
@fgi-odoo While the request may seem quite specific, it is a fair point worth looking at, particularly if Odoo is serious about verticalisation.

Vendor pricing is not only fairly vanilla in Odoo it is extremely difficult to extend due to poor inheritance mechanisms in key functions. In fact if I had to nominate one function for worst piece of code ever in Odoo, it would be _select_seller, essenti

[2018-11-23 10:55] Yenthe666 commented on #28980
@pedrobaeza clearly a bug in Odoo as you can see the field `state` does indeed not exist anymore:
https://github.com/odoo/odoo/blob/b3052b690fad15feb3211525666d4962bc1a24ac/addons/purchase_requisition/models/purchase_requisition.py#L191-L207

[2018-11-23 10:57] pedrobaeza commented on #28935
@gdgellatly why don't you propose to master a PR with a split of the method for proper inheritance?

[2018-11-23 11:05] gdgellatly commented on #28935
@pedrobaeza I did last year, at least a basic split on _select_seller but it got rejected. In any case, actually it is a bit harder than that. Its kind of one of those things I know is deeply constraining, but also it is a design change to really fix it that I don't know the answer for. It is actually a really hard problem to cover even for 1 company. Maybe the Odoo AI needs to visit vendor pricin

[2018-11-23 11:09] pedrobaeza commented on #28935
Please ping me to the PR you did to give it a check, and any specific improvement you think of, please share. Better little improvements that big changes. Step by step...

[2018-11-23 11:10] gdgellatly commented on #28935
https://github.com/odoo/odoo/pull/21359

[2018-11-23 11:12] goyanipankaj commented on #28980
Yes, I have checked on Runbot and get the same issue.
Please check: http://403228-12-0-99801f.runbot15.odoo.com with admin user.

[2018-11-23 11:12] pedrobaeza commented on #28935
OK, thanks. Today I'm on holidays, but I'll check it next week.

[2018-11-23 11:13] pedrobaeza commented on #28980
Thanks for confirming. Correctly labelled by my colleague Yenthe and will be handled by Odoo team.

[2018-11-23 12:07] pedrobaeza commented on #28940
Thanks for the extra video. Seems legit. @JKE-be can you take a look and assign?

[2018-11-23 12:13] RomainLibert commented on #27270
Hello @dz-hurricane
I understand that you might find that behaviour counter intuitive as when created the leave request is already confirmed.
But this is not a bug as we definitely chose to implement it that way (it is like that since v7.0), hence we will not change that in a stable version of Odoo (like the 11.0)

[2018-11-23 12:13] #27270 closed

[2018-11-23 12:34] JKE-be commented on #28940
we are working on a big fix for product configurator that will fix this too.
Hope to have it merged next week

[2018-11-23 12:56] goyanipankaj opened #28985 "Error on Import Products CSV"
Impacted versions:
Odoo -12.0

Steps to reproduce:
Getting issue on import products.

Current behavior:
Not able to import products csv.
Error!
current transaction is aborted, commands ignored until end of transaction block

Expected behavior:
Allow able to import products.

Video/Screenshot link (optional):

[2018-11-23 12:59] #28985 closed

[2018-11-23 13:17] hbto opened #28987 "Avoid reversal of Tax Cash Basis Journal Entries for Mexican Localization"
Impacted versions:
v11 / v12
Steps to reproduce:
- Create a tax with Tax Due: Based on Payment.
- Create an invoice with a line associate to the previous tax, and validate it.
- Make a payment the invoice.
- A journal entry is made for Tax Cash Basis.
- Unreconcile the payment from the invoice.

Current behavior:
A reversal of the Tax Cash Basis Journal Entry is created.
- At DIOT report a new lin

[2018-11-23 13:19] byk0t commented on #27447
This fix works for me too.
BTW I found out that if we explicitly setup POSTGRES_DB=postgres in a docker-compose it starts working without this hack. For details see a gist with a working docker-compose.yml https://gist.github.com/byk0t/a9644fd2360a9662702568459df289fc

[2018-11-23 14:43] blaggacao opened #28995 "VAT Formatting"
@qdp-odoo Could you give me a quick response: Which module should this be targeted?

[code]

[2018-11-23 15:06] RomainLibert commented on #26256
Fixed here : https://github.com/odoo/odoo/commit/06373dde4eb46b4d392ec33cb070d53a94d4dbcd

[2018-11-23 15:06] #26256 closed

[2018-11-23 15:56] seb-odoo commented on #28940
For reference #28079 if you want to test the commit "[FIX] website_sale: fix product variant image zoom".

Keep in mind the PR is still a work in progress.

[2018-11-23 15:57] seb-odoo commented on #28928
This is going to be fixed with #/28079 (still work in progress, hoping to merge next week).

[2018-11-23 16:07] nim-odoo commented on #28156
@jjscarafia This is not working in v10 either (nor v9 I guess). Actually, in that version the date is displayed in the server format: https://screenshots.firefox.com/nOeccdRkep7OsMWF/403214-10-0-1935fb.runbot11.odoo.com

Searching works in the server format only. It might be less confusing since the display match the DB value.

So far, it's a nice-to-have, not an issue. The string entered by the u

[2018-11-23 16:12] seb-odoo commented on #28928
Btw I think you should use in your case the attribute value "custom" and not no_variant.

[2018-11-23 18:04] CLTanuki commented on #28972
Here are screenshots of last v12 runbot from chrome and firefox under stable debian.

![screenshot at 2018-11-23 21-00-30](https://user-images.githubusercontent.com/5824716/48956271-384a6300-ef63-11e8-8dd1-3ff76d912912.png)
![screenshot at 2018-11-23 21-02-54](https://user-images.githubusercontent.com/5824716/48956272-384a6300-ef63-11e8-8504-4f29b69a3c66.png)

[2018-11-23 18:10] CLTanuki commented on #28972
Even under incognito mode.

![screenshot at 2018-11-23 21-10-01](https://user-images.githubusercontent.com/5824716/48956461-33d27a00-ef64-11e8-9718-fd058823c599.png)

[2018-11-23 19:09] krister-ts commented on #28935
My need for multiples would be where the Vendor part is equivalent to other vendor parts that all are the same product variant.

**My Use (a minimal version):**

The product variant: **Resistor (0603, 10K Ohm, 1%)**
Vendor Parts for that variant:
1. **RC0603FR-0710KL** from Vendor A (5000pc reel)
2. **CRCW060310K0FKEB** from Vendor B (10000pc reel)

The parts are considered equivalent. However, th

[2018-11-24 12:15] Yenthe666 commented on #27503
Hi all,

Quick update. I've had a suggestion from Odoo to try (the full URL to the font) but that also does not work.
I've asked for a fix as in my opinion it is truely broken.

Regards,
Yenthe

[2018-11-24 13:49] pedrobaeza commented on #28972
OK, I see, thanks for the extra info, and indeed, the problem arises in all runbot instances.

@JKE-be is this under your side?

[2018-11-24 20:07] ronozoro commented on #19408
Any update on this ? !

[2018-11-24 21:25] blaggacao opened #29007 "[Proposal] Calls to get_fiscal_position should have a consistent company_id context"
In the case, fiscal position is calculated based on `company_id` values, a consistent environment should be provided to `get_fiscal_position`. To me it looks rather inconsistent, so I can't judge if the following code is enough to get reasonable consistency:
[code]

Look at the search. I'd suggest to unify `company_id` and `force_company` and always pass that value to the environment before calls

[2018-11-24 21:38] blaggacao commented on #29007
The last comment implies the following semantics on `res.partner`:

- `property_account_sale_position_id`
- `property_account_purchase_position_id`

[2018-11-24 21:44] blaggacao commented on #29007
You currently seriously force me to inspect the call stack on that method.... :cry:

[2018-11-24 21:54] infoitservit opened #29008 "Internal transfers between different warehouses treated like one transfer only"
Impacted versions: odoo11

Steps to reproduce: 1main warehouse, 2 sub warehouses that will be refurnished by the main one. Set everything as per documentation: setting with multiple warehouse and locations. Create reorder rules for a product to be procured to the 2 sub warehouses and run scheduler.

Current behavior: one delivery order only.

Expected behavior:I would expect 2 delivery orders to t

[2018-11-25 14:14] blaggacao commented on #29007
@jorevno as developer of `l10n_co_edi` you might support with an internal opinion, that it's not me that is out of band here, but Colombian local taxes are.

[2018-11-25 15:44] phea opened #29012 "odoo.repo file missing Odoo 12"
The repo file is 404,

https://nightly.odoo.com/12.0/nightly/rpm/odoo.repo

[2018-11-25 15:55] Yenthe666 commented on #29012
@d-fence I think this is something at your end?

[2018-11-25 17:12] etobella opened #29013 "Optimization problem with a lot of users / groups"
Impacted versions: 11.0

Steps to reproduce: Create a lot of groups and ir.module.categories. Access Users and it will take a lot of time to open it

Current behavior: It takes a lot of time (On my case, 48 seconds for 180 groups and 115 categories)

Expected behavior: Be fast

The problem seems related to https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/res/res_users.py#L824 It takes too m

[2018-11-25 21:20] Vartkat opened #29014 "[11.0] Taxes missing in expense by mail"
Impacted versions: 11 CE (hr_expense module)

Steps to reproduce:
- Expense configuration-> with email
- Create a (template) product with account and taxes and an internal short code for email
- Send email to mail address with object = [code] blabla 123.45

Current behavior:
Expense is well created when mail is received, amount is the right amount, account is the account of the template product, *

[2018-11-25 22:09] rmurillo21 commented on #27386
This videos shows how to enable this feature, and also refers to recently deprecated accounting reports in v12. https://www.youtube.com/watch?v=60p2prCrn2k

[2018-11-25 22:20] oJamie commented on #15988
The problem could be that the  Odoo-server and the PostgreSQL are both disabled. So set the server to automatic as well as the PostgreSQL and then try restarting your server.

[2018-11-25 22:33] oJamie commented on #20715
Hi,

It seems like the Odoo-server and PostgreSQL are both disabled. To fix this, you will need to go to your system service and check the properties for the Odoo-server. Set it to automatic and navigate to the PostgreSQL and as well, check if the properties are disabled then set to automatic. Then restart your Odoo-server.
The problem should be solved.

[2018-11-25 23:58] sa3m opened #29016 "[10.0] Wrong french translation for an error in account"
Impacted versions:
10.0
Steps to reproduce:
Try changing the unit of measure of a product that already has entries in a journal
Current behavior:
Wrong error message talking about stock moves
Expected behavior:
Error message talking about journal entries

Video/Screenshot link (optional):
https://github.com/odoo/odoo/blob/10.0/addons/account/i18n/fr.po#L10785

[2018-11-26 00:07] #29016 closed

[2018-11-26 03:20] quanwei132 commented on #27447
With postgres 11 , I have the same issue. When I change with odoo.conf "dbfilter=odoo12" It works well. Strange!

[2018-11-26 03:32] bhaveshselarka commented on #27503
Thanks, @Yenthe666 for the information.

[2018-11-26 03:50] Arvinman commented on #24883
Hello @jso-odoo,
The issue was resvoled. Thanks

[2018-11-26 07:39] muhsinalungal opened #29018 "CRM Meeting Count is wrong..!!"
Impacted versions: 11.0, 12.0 (all versions)

Steps to reproduce: goto CRM -> create new -> schedule a meeting -> go for edit from the calendar screen (not create).
go back to the CRM screen. check the meeting count (it is wrong)

Current behavior: Meeting count is only counted when it created immediately only.

Expected behavior: it should be counted in both cases (quick create and edit then crea

[2018-11-26 08:43] pedrobaeza commented on #29018
Video link is incorrect. Can you please fix it?

[2018-11-26 08:54] pedrobaeza commented on #24883
Closing this then.

[2018-11-26 08:54] #24883 closed

[2018-11-26 09:01] pedrobaeza commented on #29013
@etobella this won't be accepted in any stable version due to stability policy: https://github.com/odoo/odoo/wiki/Contributing#what-does-stable-mean

Maybe on master, a rework can be done for improving performance with that kind of techniques.

[2018-11-26 09:06] Yenthe666 commented on #29013
Indeed, this can't be done in 11.0 A PR against the master version is always welcome, then somebody can look at it.

[2018-11-26 09:09] pedrobaeza commented on #29008
Can you please specify what is "Set everything as per documentation"? Ideally, make a video from
runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin) with all the steps needed.

[2018-11-26 09:20] etobella commented on #29013
Ok! If you think that it is not critical to make odoo unusable (a process cannot take more than 60 seconds if you have workers, and 48 seconds is not far), you can keep these way. You should think that if you take more than 60 seconds, you are unable to create new users or edit the current ones.

I will make a commit for my branch and solve it in my system. Right now, I cannot make the improvement

[2018-11-26 09:20] #29013 closed

[2018-11-26 09:29] pedrobaeza commented on #29018
You have put an internal link that is only visible by you:

![seleccion_034](https://user-images.githubusercontent.com/7165771/49005106-300e4580-f166-11e8-9f42-f8bed6cf5cb1.png)

[2018-11-26 09:31] Yenthe666 commented on #29013
@etobella,

Just so you know. @pedrobaeza and me are both volunteers and do not even work for Odoo S.A. Whenever we hit a problem or something we can improve we always make a PR to fix it in the core instead of complaining.

[2018-11-26 09:33] muhsinalungal commented on #29018
[crm_bug-2018-11-26_13.03.55.zip](https://github.com/odoo/odoo/files/2614808/crm_bug-2018-11-26_13.03.55.zip)
please check the above video.

[2018-11-26 09:34] etobella commented on #29013
It is not complaining, I was prepared to make the commit on 11.0 and I already did it, If Odoo does not care about performance issue, then I will fix it on my system.
What I was doing was warning that this performance issue can give major problems on big installations.

[2018-11-26 09:35] pedrobaeza commented on #29013
@etobella you have to understand that some things simply can't be done on a stable version, or they will compromise all the users of this version. One of them is to change DB schema (adding, removing or changing files). As we consider this a long run, we prefer to have this fixed on latest version and we will enjoy it very soon. Meanwhile, a hot patch on your fork (not very recommended), or a comm

[2018-11-26 09:40] pedrobaeza commented on #29018
But that number is a field that you have added via some custom code, so the problem should be there, not on Odoo.

Closing as no Odoo issue, but custom code.

[2018-11-26 09:44] etobella commented on #29013
As I said, this is not a problem of enjoy. This is related to make your system unusable.

[2018-11-26 09:47] pedrobaeza commented on #29013
Well, your system, not all the systems ;)

[2018-11-26 11:05] muhsinalungal commented on #29018
Noooooooooooo... Please man, I added that field in view to show for you people. please try to reproduce the issue...
Its a bug I am 150% sure. please check it again

[2018-11-26 11:53] pedrobaeza commented on #29018
But why don't you reproduce it in normal conditions? The field is shown in smart-button on opportunities. Try there. Any way, on some occasions, you have to refresh your page for having updated info.

[2018-11-26 12:43] elperrofarelo commented on #21527
The report is not working as well in version 12.

[2018-11-26 12:44] elperrofarelo commented on #28528
Ok. Thanks for fixing it

[2018-11-26 12:51] sherifbaghdadi opened #29029 "error in creating sales invoices in v11"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-11-26 13:18] d-fence commented on #27752
Docker images landed here: https://github.com/odoo/docker/commit/05c776bcb2b0c8cda8d6fbb0bf93818b6c2625c7

[2018-11-26 13:18] #27752 closed

[2018-11-26 13:21] sbidoul commented on #27752
@d-fence great! Many thanks for the thorough followup on this.

[2018-11-26 13:33] sanaldavis-12 commented on #18947
Hi All,

Seems like this was a legitimate issue and has been fixed in this:
https://gitlab.openminds.be/mirror/odoo/commit/77bf2c96af30ae17ff43e8a08d2ae81b3960b3fa
@Yenthe666

Please don't misjudge real issues like this as configuration issues. @pedrobaeza

[2018-11-26 13:49] partho222 commented on #27763
nope this is not a custom filed this is from default odoo addon (website) source:
https://github.com/odoo/odoo/blob/12.0/addons/website/views/website_templates.xml#L150

[2018-11-26 13:52] pedrobaeza commented on #27763
OK, sorry for the confusion. `x_` prefix in fields is used for custom fields, not standard ones.

Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even

[2018-11-26 14:01] partho222 commented on #27763
thanks for your prompt reply.
Yes we are working with old codes of odoo 11 community (we face many errors in our custom modules while try to update codes to the latest)
will try to reproduce on runbot & report back asap.

[2018-11-26 14:05] muhsinalungal commented on #29018
Ok, will you please accept if I am reproduce it in smart button.?
and one more thing, I have already reloaded the page..

[2018-11-26 14:13] muhsinalungal commented on #29018
Please check the below video, the issue is reproduced from opportunity screen .
[crm_bug-2018-11-26_19.37.35.zip](https://github.com/odoo/odoo/files/2615870/crm_bug-2018-11-26_19.37.35.zip)

for kind attention: I already specified how to reproduce the bug in " steps to reproduce". please read the issue completely at least for once.

[2018-11-26 15:00] jco-odoo commented on #18947
It seems to be like this in v12 as there, you also have the create in batch

[2018-11-26 15:08] infoitservit commented on #29008
Ok, i do a video.
Please, check configurations and reordering rules, then at 1:28, after scheduler trigger, take a look at the delivery orders. I would expect 2 delivery orders with a partner indication (warehouse A and warehouse B). I know that the problem it's related to procurement routes, the question is which route should i use and why odoo doesn't "split" routes automatically.

To be definit

[2018-11-26 15:12] infoitservit commented on #28521
Should i make a video? Something is not clear?

[2018-11-26 15:12] wtaferner commented on #29008
@infoitservit
It is not supported to transfer between two warehouses like that. You must do the transfer through the transit location afaik. So, internal transfer picking type should be made only per warehouse not cross warehouses.

Not sure if there is already an UI to make inter warehouse transfers possible without creating own rules making this possible for you...it is not as easy as doing a si

[2018-11-26 15:30] moylop260 commented on #29013
Could you attach the patch, please?

[2018-11-26 15:57] janarthanandev commented on #25517
@wtaferner @bennals  can you please help me how to resolve this error .
DNS error: http://localhost:8069/web/session/authenticate (line 310).
while setting odoo configuration i gave
server http://localhost:8069
dbname: xyz
username: admin
password: admin

[2018-11-26 16:29] etobella commented on #29013
https://github.com/etobella/odoo/commit/1ba3de59a78d22c870b7dde353cae236efe0fe2f

[2018-11-26 16:41] dz-hurricane opened #29042 "[11.0] many2one no_quick_create not working completely"
**Impacted versions:** 11.0

**Steps to reproduce:**  in xml , add  attribute option={'no_quick_create': True} to a many2one field to disable quick creating option

**Current behavior:** This option disable create option but clicking outside the field will popup a window with 3 buttons 'Create' , 'Create and Edit' , Cancel, so the 'Create' button will enable quick creating.

**Expected behavior:**

[2018-11-26 17:03] infoitservit commented on #29008
What if i create n transit locations for n sub warehouse? Cause the problem seems to be that the transit location is one only and the sub warehouses are 2. So i could make these 2 routes

WH Main -> Transit Location to WH A (Delivery Order to A)
From Transit Location WH A to WH A/Stock

WH Main -> Transit Location to WH B (Delivery Order to B)
From Transit Location WH B to WH B/Stock

The main poi

[2018-11-26 18:54] Yenthe666 commented on #29018
@muhsinalungal can you please paste the code here for the smart button? I'm happy to give it a try for you. I assume you used the already existing field `activity_ids` for the smart button?

[2018-11-26 18:55] Yenthe666 commented on #21527
@elperrofarelo can you please add a video showing the issue?

[2018-11-26 18:57] #29029 closed

[2018-11-26 18:57] Yenthe666 commented on #29029
Hi there,

Please fill in the template with all the details, without information we can't really help you. Sorry.

Regards,
Yenthe

[2018-11-26 20:02] moylop260 commented on #29013
Hi @etobella
Maybe using lru-cache could be a good approach in order to avoid the stable policies adding new fields.

If you use a lru-cache you will have a similar effect but without a new field.

[2018-11-27 00:20] jorenvo commented on #29007
I may have worked on l10n_co_edi, but I'm not a Colombian accounting expert. Regardless, what is the concrete issue you're running into? You are just suspecting it doesn't work?

For your second case, you have to specify whether a tax is sales or purchase (using `type_tax_use`). So can't you put both in the same fiscal position? Why do they have to be in separate fiscal positions?

[2018-11-27 04:06] TimLai125 opened #29046 "[11.0e/11.0c] Values are not proposed after using "Save & New" in Purchase Order with smartphone"
**Impacted versions:**
11.0 and 12.0 (Enterprise and Community)

**Steps to reproduce:**
1. Use a smartphone to open the purchase order form.
2. Edit the Purchase Order and add a new purchase order line.
3. Select any product and press "Save & New" to add one more purchase order line.
4. Select a product.

**Current behavior:**
In the first purchase order line creation, some values are proposed ac

[2018-11-27 04:36] anandkansagra opened #29048 "Upload an attachment without access right"
Impacted versions:
10, 11, 12

Steps to reproduce:
Give read access to `ir.attachment` object and upload a document

Current behaviour:
There seems an error if no access right for `create` in the `ir.attachment` object.

Expected behavior:
If there are no access right for `create` in the `ir.attachment` object then `Attachment` button should be invisible
Video/Screenshot link (optional):

1) Acces

[2018-11-27 04:53] muhsinalungal commented on #29018
Actually I didn't Added even a single line of code. the bug I have noted is from the core CRM module and the video is taken from the odoo runbot.. the smart button already exist its not 'activity_ids', its "meeting_count"

[2018-11-27 07:02] chowderpally opened #29051 "[12.0] Uncaught TypeError: Cannot read property 'isPassword' of undefined"
Impacted versions: 12.0

Steps to reproduce: activate developer mode, go to customers, choose some country in the address bar, save it. Now, go to developer options/tools drop down and you see this error.

Current behavior:
![image](https://user-images.githubusercontent.com/24877539/49064254-57d1dc00-f240-11e8-8876-16233e06849f.png)

Expected behavior:
![image](https://user-images.githubuserconten

[2018-11-27 07:12] Yenthe666 commented on #29051
Hi @chowderpally,

Thanks for your report!
I don't seem to be able to reproduce it on the latest 12.0. Can you reproduce it on an official runbot at runbot.odoo.com? If so, can you make a small recording please?

Regards,
Yenthe

[2018-11-27 08:38] pedrobaeza commented on #29048
I agree that this is not very UX friendly, but the permission check avoids to do something incorrect (in security terms). You are also deforming a bit the standard system giving only read access that way. I doubt this can't be done without needing extra RPC calls, so this might be discarded, but I let framework team the last word.

[2018-11-27 08:43] pedrobaeza commented on #29018
@muhsinalungal thanks for the video and the patience. Now it's much more clear the problem. It seems a problem of context propagation of the default value that links to the opportunity, so I'm going to tag it for framework team.

[2018-11-27 09:01] muhsinalungal commented on #29018
@pedrobaeza You got it. Thanks, man..

[2018-11-27 09:11] muhsinalungal commented on #28558
I have solved this using the following package,

"from requests_oauthlib import OAuth1"
Thanks all,

[2018-11-27 09:11] #28558 closed

[2018-11-27 09:20] wtaferner commented on #20597
@oco-odoo
I have bad news for you guys or myself as it was not accepted by the bank in Austria (the new format with BatchBooking is not working at all compared to the one without the node). As they do not provide useful XML Checkers, information or errors it is probably again a feature which is useless (without fork commits). So, basically the change of behavior and its fix destroyed the feature i

[2018-11-27 09:45] oco-odoo commented on #20597
@wtaferner The XML structure shouldn't be the problem, as it is validated on our side (and tested on runbot) with the schema provided by the EPC.

As you say, the individual implementations seem to be the real problem here ... Could you maybe ask for more details about the issue on you bank's side ? If something went wrong on their side, it is their reponsability (if not duty) to explain what exac

[2018-11-27 10:08] wtaferner commented on #20597
@oco-odoo
I will contact you on a private channel for further communication...it is still a pity that it was done in stable, but I understand your PoV.

[2018-11-27 10:10] kebeclibre commented on #27074
closed at https://github.com/odoo/odoo/commit/034a27f63076529f23e368686409125b6ff1c21f

[2018-11-27 10:10] #27074 closed

[2018-11-27 10:44] Yenthe666 commented on #21106
@JKE-be could you check once more?

[2018-11-27 12:10] AbdulghaniFawzi opened #29063 "website editor not working and assets mode not load all this after install ssl - https"
Impacted versions:
V 11 CE

Steps to reproduce:

Current behavior:
some icons and images not loading  , assets mode not loading , website editor not loading , uninstall some modules not working ,images for apps in store not loading , when i click on website module in menu  opens for moment then reopen the previous module which i was in.
Expected behavior:

Video/Screenshot link (optional):

[
![un

[2018-11-27 12:12] pedrobaeza commented on #29063
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2018-11-27 12:49] #26896 closed

[2018-11-27 13:32] nagybal opened #29068 "Reserving zero quantities on a delivery order"
Impacted versions: 10.0

Steps to reproduce: If You set the quantity of an item to 0 on a delivery order.

Current behavior: EM pops on reserving: "You can not reserve a negative quantity or a negative quant."

Expected behavior: Zero is not a negative number!! Odoo shall skip the items, just like when You hit the "Force Availability" button.

Video/Screenshot link (optional): https://drive.google

[2018-11-27 13:35] pedrobaeza commented on #29063
Then this is something related to your deployment and you should ask for extra questions on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above..

[2018-11-27 13:35] #29063 closed

[2018-11-27 13:40] pedrobaeza commented on #29068
Well, it's not negative, so maybe the message is not the more suitable, but the goal is the same: there's no sense on putting a zero quantity delivery. Why do you use that?

[2018-11-27 13:48] qpeyramale opened #29071 "[11.0][12.0] l10n_fr_fec old encoding for receivable/payable"
Hello,

The FEC file give wrong formatting for initial balance lines of receivable/payable accounts.

For example:
`b'OUV'|b'Balance initiale'|b'OUVERTURE/2017'|b'20171001'|b'418100000'|...`

https://github.com/odoo/odoo/blob/c0f66d6c2dceda0ff0073dccce08af961e858672/addons/l10n_fr_fec/wizard/account_fr_fec.py#L268

That should be just `w.writerow(listrow)`

Thank you

[2018-11-27 14:04] daramousk commented on #7464
I see that a fix has already been merged on 54a477d. Perhaps this issue should be closed?

[2018-11-27 14:07] nagybal commented on #29068
Because Odoo does not allow me to delete a line item from a confirmed delivery order. I would like to replace it with a different, better, upgraded, quality.

[2018-11-27 14:09] blaggacao commented on #29007
in `get_fiscal_position` I can't infer if it's sales or purchase, but I have custom logic which depends on this context -> That's what I call "asymmetric" fiscal position.

-> So can't you put both in the same fiscal position? Why do they have to be in separate fiscal positions?
I can do that, but the point is "asymmetric" fiscal position, it is not the same fp that applies in sales and purchases

[2018-11-27 14:09] Yenthe666 commented on #7464
Yep, I believe that should fix it indeed @daramousk! Thanks for letting me know 😉

[2018-11-27 14:09] #7464 closed

[2018-11-27 15:24] pedrobaeza commented on #29068
For that, you have to say no when the backorder is ready. It's true that you have to validate the existing transfer, but for v10 there's no better solution. On v11, this is already solved.

[2018-11-27 17:35] #27466 closed

[2018-11-27 17:41] sswapnesh commented on #29042
Same in v12 too.
Adding Screenshot for Reference.
In `account.invoice_form` `no_quick_create: True` is added for `partner_id`
![screenshot 100](https://user-images.githubusercontent.com/16624719/49100292-96e04b80-f299-11e8-910a-39203eb08855.png)

Click outside
![screenshot](https://user-images.githubusercontent.com/16624719/49100319-a9f31b80-f299-11e8-9c3f-6286766abf38.png)
This should consider th

[2018-11-27 17:45] sswapnesh commented on #25309
@kebeclibre
May be I should add this in New Issue but adding here for reference (Belongs to Same view)
Remove Team from Favourites
![screenshot](https://user-images.githubusercontent.com/16624719/49100540-30a7f880-f29a-11e8-956a-65ba872e67d8.png)

Team is still there
![screenshsssot](https://user-images.githubusercontent.com/16624719/49100544-3271bc00-f29a-11e8-81cf-fdec08a3667d.png)

Ps:. Works w

[2018-11-27 17:47] chowderpally commented on #29051
Thanks, @Yenthe666 I see that the latest build that doesn't exist.
doing `git pull origin 12.0` should help me fix this bug right? Or do I need to make any changes post getting the latest build? Help appreciated. Thanks again! you are always helpful.

[2018-11-27 17:51] nagybal commented on #29068
And how will the warehouse know that they are not supposed to load the original (cheaper) version of the product?

Where can I set this rule to bigger than zero as a workaround?

[2018-11-27 17:52] pedrobaeza commented on #29068
You should change code for that.

[2018-11-27 18:08] #29051 closed

[2018-11-27 18:09] Yenthe666 commented on #29051
You're welcome! Indeed pull the latest code and then restart your Odoo service, that should be enough to fix your issue. :)

[2018-11-27 19:08] nagybal commented on #29068
Dear All!

Where can I change the minimum item quantity on a delivery order from
<= 0
to
< 0
?

[2018-11-27 21:10] krister-ts commented on #28937
@pedrobaeza I cannot see any Route field in the set defaults.

@tanghulu0608 were you able to set "Manufacture" route as default?

[2018-11-27 21:54] krister-ts commented on #28937
I figured out that I could create User-Defined Default for `route_ids`. I got the values from external identifiers `stock.route_warehouse0_mto` and `purchase_stock.route_warehouse0_buy`. Is there a way to use the identifiers instead of the the values?

![untitled](https://user-images.githubusercontent.com/44512474/49113953-c6686700-f24b-11e8-822f-c147a4557655.png)

[2018-11-27 22:06] pedrobaeza commented on #28937
Not on the DB, but possible on a custom module.

[2018-11-27 22:14] krister-ts commented on #28937
How does one go about changing the default (without custom module)? There should be someway to find this field in the debug mode "set defaults".

[2018-11-27 22:17] pedrobaeza commented on #28937
Well, yes, look for the ID of the route... just look for example on the URL when viewing it and you'll see its ID encoded there.

[2018-11-27 22:21] krister-ts commented on #28937
I guess the IDs are not changing often (or at all).

[2018-11-27 22:23] pedrobaeza commented on #28937
No, they don't change in your DB, unless you remove them. But each DB might have different IDs depending on the record insertion order.

[2018-11-28 05:41] anandkansagra opened #29090 "incl. archived string"
Impacted versions:
12.0

Steps to reproduce:
1) Go to apps **(which are installed in your system)**
2) Go to `Module Info`.
3) Click on `Uninstall` button. At that time, there seems a Popup
4) In the Popup, there is a list view of `The following documents will be permanently lost` which contains two column like `Document` and `Count (incl. archived)`
5) I think the string of `Count (incl. archived

[2018-11-28 07:06] Yenthe666 commented on #29090
Hi,

Closing for the following reasons:
- Just an improvement
- You already made a PR (https://github.com/odoo/odoo/pull/29092) so there is no reason to keep an issue open.

I don't see much benefit / profit in it though. Halfway a sentence you don't add a capital on a word either, do you? I personally don't get it but that is just my five cents :)
Somebody from Odoo will check the PR at some poin

[2018-11-28 07:06] #29090 closed

[2018-11-28 09:22] HafedhRahmani commented on #19627
This instruction worked for me, Thank you verry much

[2018-11-28 10:40] dz-hurricane commented on #29042
The workaround for this is to override the name_create method to deny quick name creation.

[2018-11-28 13:16] JKE-be commented on #28972
Thanks for the reporting.

It has been introduced by
https://github.com/odoo/odoo/commit/7077f18e3a3e5ccb8f877fae99f49d87574bac7e

and fixed by commit https://github.com/odoo/odoo/commit/a67553c9d2a7a5fcb28e44a5fbd5c245d851b91d

JKE

[2018-11-28 13:16] #28972 closed

[2018-11-28 14:05] gustavovalverde commented on #25055
As we have more Enterprise clients, this becomes more and more of an issue. Insurance companies rely on this information to insure each location (branch) of our clients. They insure an amount for that location; but not knowing the amount of the inventory in that location, makes it impossible for the insurance company to issue a warranty to our clients.

[2018-11-28 14:11] gustavovalverde opened #29102 "[11.0] base: upgrading module is not updating views"
### Impacted versions:
11.0

### Steps to reproduce:
1- Change a view in a custom module (or update odoo with a new view change in the core)
2- Upgrade the module, or do a `-u all`

### Current behavior:
Views are not being updated, nor being recreated (if deleted)

### Expected behavior:
Update the view with new changes or recreate the view if deleted.

**NOTE**
This is very odd and it's being ve

[2018-11-28 14:49] pedrobaeza commented on #29102
Well, without a explicit example this can't be traceable, but I can assure you that this doesn't happen, unless any other error involved or if the record is marked as noupdate="1".

[2018-11-28 14:52] burnx22 commented on #25168
Do you know when this issue will be processed?

[2018-11-28 14:59] Yenthe666 commented on #29102
I honestly didn't have this yet either and I update Odoo's regularly. Perhaps you have some views marked as noupdate as Pedro mentioned? Can you find a reproducable way?

[2018-11-28 15:04] gustavovalverde commented on #29102
I'll do my homework and test with a clean install. Remove an inherited view and then upgrade. I'll close this so it does not generate noise while I test this.

[2018-11-28 15:04] #29102 closed

[2018-11-28 15:07] Yenthe666 commented on #29102
Thanks!

[2018-11-28 15:31] yostashiro opened #29104 "Improper UI design for localization"
### Impacted versions:

12.0

### Current behavior:

Parameters for configuring inter-company flows are laid out as presented in below image.

![image](https://user-images.githubusercontent.com/7766939/49160643-8ea41100-f36a-11e8-9838-714e8ae29bb0.png)

It is practically impossible to translate the part in red into Japanese due to incompatible grammar.

I haven't looked everywhere but I guess this

[2018-11-28 16:07] phillipstack opened #29107 "Odoo Mobile App can't log in to self hosted Enterprise"
Impacted versions: Odoo 11.0+e

Steps to reproduce:

-Install Odoo App
-Configure with https://yourselfhost.com
-Login

Current behavior:
Your connection is not private or cant connect to server

Expected behavior: Log in and get to work

Video/Screenshot link (optional):

[2018-11-28 16:12] phillipstack commented on #29107
Our self hosted server was working for quite some time using the mobile app without issue. The ssl certificate is valid and not expired. No changes have been made however I see there was an update to the Android App ( i presume ios as well ) on November 28th relating to login. I am wondering if this is related.

[2018-11-28 16:13] phillipstack commented on #29107
The enterprise licence is valid until February and the issue is affecting android and apple devices of various makes and models.

[2018-11-28 16:15] Yenthe666 commented on #29107
@adr-odoo can you check? Do you know about any updates that caused issues?
@phillipstack you should make an OPW under odoo.com/help as you have an enterprise license too. Response times are way better there.

[2018-11-28 16:22] phillipstack commented on #29107
I am the server administrator. There have been no updates on the server. I can ask the staff if they installed an app however I find this incredibly unlikely.

Also, I was trapping incoming tcp traffic on the server and when we try to login from the mobile app there is absolutely no traffic. It really smells like a bug.

[2018-11-28 16:22] hugho-ad commented on #28266
@rda-odoo

Waiting for a fix or a workaround.

[2018-11-28 16:22] phillipstack commented on #29107
Login from the browser is normal, no issues.

[2018-11-28 16:31] phillipstack commented on #29107
Thanks @Yenthe666 appreciate the clarification.  I will do that if I get no traction here however unless I think this is a configuration issue I do not want to burn my clients support package for something that is beyond there control ( being that there is an app update Nov 28th and magically the app stops working ). Keep in mind, we have done nothing else to my knowledge.

[2018-11-28 16:43] Yenthe666 commented on #29107
@phillipstack,

As far as I'm aware creating support tickets for bugs does not go from any package. My team has logged over 400 tickets this way without any costs, it falls under the enterprise warranty.

[2018-11-28 16:43] rdeodoo commented on #27922
Hi fix is coming at https://github.com/odoo/odoo/pull/29109

[2018-11-28 16:45] phillipstack commented on #29107
@Yenthe666 so I take care of this from the Enterprise Portal?

[2018-11-28 16:45] phillipstack commented on #29107
If you could provide me a link I would apprecate it.

[2018-11-28 16:58] Yenthe666 commented on #29107
from https://www.odoo.com/help and ideally after you're logged in on the Odoo S.A. portal as you'll can link the ticket to you and to an enterprise license.

[2018-11-28 17:00] phillipstack commented on #29107
@Yenthe666 perfect thanks. Should this ticket be closed? Or should we wait and see?

[2018-11-28 17:05] Yenthe666 commented on #29107
It is okay to keep it open, as long as you just keep track of both then 😉

[2018-11-28 17:08] hugho-ad commented on #28266
@JKE-be

Thanks! Cool, that is the same that I did at my end, but it seems to me that auto-installs a theme process must be improved don't you think?

I think it must be enough with setting the following

[code]

Regards!

[2018-11-28 17:14] JKE-be commented on #28266
No thanks for the proposition.

And next time, provide your code if you have something that works!
That will avoid to loose time creating a module just to show you with details how to do it.

[2018-11-28 17:14] #28266 closed

[2018-11-28 17:22] sswapnesh opened #29110 "Access Rights are shown on field definition"
Impacted versions: All

Steps to reproduce: As added https://github.com/odoo/odoo/issues/24464#issuecomment-431129569

Current behavior:
![screenshot](https://user-images.githubusercontent.com/16624719/49169526-edb05880-f35f-11e8-8642-3ba2bab4b50e.png)

Expected behavior: Groups (If defined in field's definition) should be there in Access Right tab

Video/Screenshot link (optional):

[2018-11-28 17:55] zaoral opened #29111 "Text overlapping in product list at website shop"
###  Impacted versions:

11.0

###  Steps to reproduce:

1. Activate the next customizations on website
   * Add to Cart
   * Comparison List
   * Wishlist
   * eCommerce Categories

2. Configure Public Pricelist set  "Show public price & discount to the customer". This will show discounts on website

3. Update Public Pricelist to add product "Alice's Adventures in Wonderland - Lewis Caroll" with

[2018-11-28 18:00] zaoral commented on #29111
opw-1913521

[2018-11-28 18:05] sswapnesh opened #29112 "[12.0] Don't allow to add unavailable product to Cart"
Impacted versions: 12.0

Steps to reproduce:  Reproduced on http://406121-12-0-e942c3.runbot18.odoo.com/shop/product/customizable-desk-9

Current behavior: It allows you to add unavailable optional Product to cart
![ss](https://user-images.githubusercontent.com/16624719/49172106-20f5e600-f366-11e8-8843-8b4a64065c89.png)
![screenshassasaot](https://user-images.githubusercontent.com/16624719/4917210

[2018-11-28 18:20] sswapnesh opened #29113 "[12.0] Issue with widget many2many_tags (When Inside one2many_list tag)"
Impacted versions: 12

Steps to reproduce: Product --> Variants

Current behavior:
![screenshot](https://user-images.githubusercontent.com/16624719/49172898-3b30c380-f368-11e8-811f-1dd9e9bff4fc.png)

Expected behavior:
![screenshot](https://user-images.githubusercontent.com/16624719/49172917-497edf80-f368-11e8-99ad-649435d06706.png)

Video/Screenshot link (optional):
![peek 2018-11-28 23-45](https

[2018-11-28 18:23] pedrobaeza commented on #29113
This seems a side effect of incorrect name_get on edit mode.

@ged-odoo can you please check this?

[2018-11-28 18:26] jayo2005 opened #29114 "[10.0] Product Variants cost price reverting"
Impacted versions:10

Steps to reproduce: Create Product Variant and try set cost price

Current behavior: cost price defaults back to 0.00

Expected behavior: Cost price is applied to variants

Video/Screenshot link (optional):
I am using product variants in Odoo 10. When i set cost price on main product it reverts back to €0.00. I though default behavior on variants was the cost was same on all

[2018-11-28 18:33] pedrobaeza commented on #25319
@sswapnesh have you tried on enterprise or community runbot?

[2018-11-28 18:34] Yenthe666 commented on #25319
I just tested on both community and enterprise and it has been fixed on both!

[2018-11-28 18:34] #25319 closed

[2018-11-28 18:41] sswapnesh commented on #25319
enterprise runbot

[2018-11-28 18:44] sswapnesh commented on #28702
Current Datetime at My location in Timezone:  29 Dec 12:11 am (+05:30)
UTC Datetime: 28 Dec 6:41 pm

Create Event and Click on Start Date field
![screenshot](https://user-images.githubusercontent.com/16624719/49173631-4127a400-f36a-11e8-9481-a1bed56744a1.png)
Today Marker is on 29th --> Correct till now

Select any Date
![screenshot](https://user-images.githubusercontent.com/16624719/49174082-6ec1

[2018-11-28 18:47] pedrobaeza commented on #25319
OK, thanks for confirming. Screenshots were not very clear for differentiating both, or I'm not very used yet to neither 12.0 community/enterprise.

[2018-11-28 18:50] sswapnesh commented on #25319
Can Understand, BTW It was for v11, (Didn't tested this in v12 E)

[2018-11-28 18:55] pedrobaeza commented on #25319
hahaha, then my confusion comes from this! In v11 indeed community UI is not that way.

[2018-11-28 18:56] pedrobaeza commented on #29114
If you have several variants, you have to set the cost price on each variant. This is done for reducing chances of massive changing a cost price.

Closing as no issue, but design decision.

[2018-11-28 18:56] #29114 closed

[2018-11-28 18:58] sswapnesh commented on #25319
It was also confusing for me in Release days of v12 as they kept same colour for few days. (Wasn't able to decide quickly if it is CE or EE)

[2018-11-28 19:06] Yenthe666 opened #29117 "[wishlist] web: update font awesome from 4.7.0 to 5.5.0"
Impacted versions: All (to be done in masters)

Current behavior: Font Awesome 4.7.0 is available in Odoo (https://github.com/odoo/odoo/blob/12.0/addons/web/static/lib/fontawesome/css/font-awesome.css)

Expected behavior: Font Awesome 5.5.0 is available in Odoo 13

Video/Screenshot link (optional):

[2018-11-28 19:07] sswapnesh opened #29118 "[11.0/12.0 ] Could not create Customer/Vendor Receipts without Product (account) in lines"
Impacted versions: 11/12

Steps to reproduce: Create Customer or Vendor Receipts with selecting Product (Product is not required)

Current behavior: On Saving record
![screenshot](https://user-images.githubusercontent.com/16624719/49175509-bdbc8180-f36e-11e8-9db7-dcb9f1098108.png)

Expected behavior: Account should be required (and visible on view).

Video/Screenshot link (optional):

[2018-11-28 19:14] sswapnesh commented on #29118
Edit: May be I am missing something or just bad configuration here as this works well If user is added to Account group `account.group_account_user` (Show Full Accounting Features)
![screenshot](https://user-images.githubusercontent.com/16624719/49175986-d4170d00-f36f-11e8-935a-7e3cde98e291.png)

[2018-11-28 19:25] sswapnesh opened #29119 "[11/12] Could not set Unit price to Zero in Sales Receipt"
Impacted versions: 11/12 CE

Steps to reproduce: Create Receipt --> Add New Line --> Select Product --> Change Price to Zero

Current behavior: Onchange set the unit price again

Expected behavior: It should stay Zero

Video/Screenshot link (optional):

![peek 2018-11-29 00-54](https://user-images.githubusercontent.com/16624719/49176678-5c49e200-f371-11e8-83df-16f4f32a816e.gif)

[2018-11-28 19:43] sswapnesh commented on #28773
Hello @tivisse
I am able to Reproduce same on latest Build http://406121-12-0-e942c3.runbot18.odoo.com/web?debug#id=33&action=205&model=gamification.challenge&view_type=form&menu_id=4
![screenshot](https://user-images.githubusercontent.com/16624719/49177675-d4190c00-f373-11e8-9c7a-dc9d0413f36a.png)
![screenshot](https://user-images.githubusercontent.com/16624719/49177693-de3b0a80-f373-11e8-9fc0-ba

[2018-11-28 19:47] jakubhruby commented on #27922
Nice, thanks

[2018-11-28 20:10] blaggacao opened #29120 "[Proposal] Make Fiscal Positions 2many"
I want to auto detect fiscal positions depending on partner caracteristics.
In terms of fiscal positions, those characteristics behave in an additive way. That means:

- Partner has attribute A -> apply FP A
- Partner has attribute C -> apply FP C
- Partner has attribute X -> apply FP X

Result: apply FP A,C & X

Without this it ends up in combinatoric heaven (or hell), as I need normalize the dat

[2018-11-28 20:13] blaggacao commented on #29007
@jorenvo Could you understand what I'm aiming at?

[2018-11-28 23:35] blaggacao commented on #29120
Work around... But this is not a particularly nice data structure...
[code]

[2018-11-28 23:41] blaggacao commented on #29007
OK, I'l try another take:

- There is a fiscal position A, which maps sales and purchase taxes for the case when a small chicken is buying from a big elephant
- There is a fiscal position B, which maps sales and purchase taxes for the case a pig elephant buys from a small chicken

Let's assume company A (`res.compay`) , a small chicken and partner B (`res.partner`), a big elephant.

Both do trade

[2018-11-28 23:43] blaggacao commented on #29007
The combinatoric problem is [exposed here](https://github.com/odoo/odoo/issues/29120).

[2018-11-28 23:48] blaggacao commented on #29007
@jorenvo Thanks for showing this some :heart:

[2018-11-28 23:53] pedrobaeza commented on #29119
This is done on purpose. If price is 0, it's reset to product price, as there's not much sense in adding a 0 line. Why do you want to put 0 there?

[2018-11-28 23:57] pedrobaeza commented on #29118
Yeah, the product is not required, but you should put an account then, and if you don't have full accounting group, you won't see that field, so it's a dead end, as you can't put a required condition on the product based on that group.

Any way, we can consider this as a requirement that if you don't put product, you need the accounting features, so closing as won't fix, but not special problem. M

[2018-11-28 23:57] #29118 closed

[2018-11-28 23:59] pedrobaeza commented on #28702
Uhm, difficult thing to reproduce, but I guess there can be a problem showing this in locale tz. I'm tagging this, but one more question. What is the timezone in your browser?

[2018-11-29 01:15] dennisclevo opened #29123 "Issue with adding images to products #20655"
I had the same issue with images on my local 10 CE Odoo version. I think it started after installing a new module (and of course i do not remember which module it was...)

[2018-11-29 01:18] blaggacao commented on #29120
Looks this approach aint too bad, but still it's not the right data structure and `map_tax` is not a fp finder.
[code]

[2018-11-29 01:59] blaggacao commented on #29007
This is the best workaround I have come around with:
... and it's really ugly.
[code]

[2018-11-29 03:15] sswapnesh commented on #29118
But still its designing bug, How can accounting user (Without Full features access) can create receipt?

[2018-11-29 03:16] sswapnesh commented on #29119
It should like Invoicing where it is allowed to add 0 in line. (When it's free product)

[2018-11-29 03:53] anandkansagra opened #29124 "Save and Discard button in Apps form view"
Impacted versions:
12.0

Steps to reproduce:

1) Go to `apps`
2) Go to `Module Info`.
3) You can see `Save` and `Discard` button in the form view which may be unused

Current behavior:
There seems a `Save` and `Discard` button in the form view for the Apps

Expected behavior:
`Save` and `Discard` button in the form view for the Apps is not required.

Video/Screenshot link (optional):
![1](https://

[2018-11-29 05:01] celm1990 commented on #29119
@sswapnesh When product is free must be set discount 100%, is better

[2018-11-29 07:04] Yenthe666 commented on #29123
@pedrobaeza he is referring to https://github.com/odoo/odoo/issues/20655 (which was closed by me).
We really need reproducable ways though and as you already stated it happened after you've installed a new module it means it is not an issue in the Odoo core but in a custom app probably.
Don't hesitate to add reproducable steps if you can reproduce it on a clean Odoo with only official code.

[2018-11-29 07:04] #29123 closed

[2018-11-29 07:19] tonybenoy opened #29127 "Odoo Stores all SMTP as well as IMAP passwords in Postgres in plain text."
Impacted versions:
All

Steps to reproduce:
 select * from ir_mail_server;

Current behavior:
Passwords visible as plaintext under smtp_pass column

Expected behavior:
Password should be hashed and stored in the database to prevent a security risk.

[2018-11-29 07:38] Yenthe666 commented on #29127
Hi,

Yes, this is in fact with all password fields by design. You could write a module to hash/obfuscate all passwords before storing I guess.
If you'd like to talk/discuss about this I'd advice you to do it through the official security channel (see https://www.odoo.com/nl_NL/security-report)

[2018-11-29 07:38] #29127 closed

[2018-11-29 08:42] rda-odoo commented on #28266
@JKE-be  Thanks!

[2018-11-29 08:47] JKE-be commented on #29112
Should be fixed by https://github.com/odoo/odoo/pull/28079 as soon as it has been merged.
Hope to merge it next week.

[2018-11-29 09:16] adr-odoo commented on #29107
Hello @phillipstack , could you give me your ticket number?

[2018-11-29 09:34] pedrobaeza commented on #29118
It can create receipts putting the product, so no special problem.

[2018-11-29 09:35] rdeodoo commented on #27922
You are welcome, sorry for the long time before merging a fix.
Thank you for reporting it
You had the solution, next time do not hesitate to create a PR if you can, as we will merge it faster than if we need to make the fix ourself :relaxed:

[2018-11-29 09:35] #27922 closed

[2018-11-29 10:04] #25367 closed

[2018-11-29 10:10] jakubhruby commented on #27922
Yes, but... you have those [obstructive politics](https://github.com/odoo/odoo/wiki/Contributing#making-pull-requests) to gain the ability of making PRs...

[2018-11-29 10:12] pedrobaeza commented on #27922
@jakubhruby I'm curious: what is exactly the obstructive one? CLA?

[2018-11-29 10:20] doanvanthien opened #29133 "Field Appears on payslip in Salary rules not working in Employee Payslips"
Impacted versions: ODOO 11.

I defined a rule Company Allowance and not tick field appears on payslip.

![screenshot from 2018-11-29 17-15-03](https://user-images.githubusercontent.com/13639302/49215084-914e4700-f3fa-11e8-89ba-acfce77f5563.png)

Then I inserted rule Company Allowance into Salary Structure. When I clicked button COMPUTE SHEET in payroll, the rule Company Allowance still show up in

[2018-11-29 10:56] rdeodoo commented on #27998
Hello @sswapnesh
I just worked on this and for technical reason, we won't be able to prevent `?fw` to forward to another site.

Our position about this one will be the same as other multi-website behavior, we won't disable the feature/behavior but just hide the UI elements (the website selector in this case).

Indeed, what we had in mind by seing your issue was to keep the `?fw` behavior only for

[2018-11-29 10:56] #27998 closed

[2018-11-29 11:13] jakubhruby commented on #27922
Yes, it's the CLA. But to be honest, it's my layziness at the first place ;-) Next time I'll give it a try, I promise.

[2018-11-29 11:32] #27976 closed

[2018-11-29 11:32] #28704 closed

[2018-11-29 12:16] elperrofarelo commented on #21527
Hi. Sorry for the short information.
The filters content in Group by are not working, making the function useless.
See pictures.
![payslip analysis 1](https://user-images.githubusercontent.com/9564408/49221204-1c224800-f3e1-11e8-9909-372f480c5771.jpeg)
![payslip analysis 2](https://user-images.githubusercontent.com/9564408/49221228-33f9cc00-f3e1-11e8-9a22-ef4cbe1ba3fc.jpeg)
![payslip analysis 3](h

[2018-11-29 12:32] phillipstack commented on #29107
Hi @adr-odoo the ticket number is 1913507

[2018-11-29 13:49] wakiem opened #29148 "Blog 'select to comment' not working"
Impacted versions: 11.0, 12.0

Current behavior: The select to comment function is not working. The selected text is not added in the comment box.

Expected behavior: The selected text should be added in the comment box.

File `odoo/addons/website_blog/static/src/js/contentshare.js` has the code:
`$(".o_website_chatter_form textarea").val('"' + selected_text + '" ').focus();`

`.o_website_chatter_

[2018-11-29 14:02] phillipstack commented on #29107
The issue was that I had restricted access to /web/database in my nginx configuration. I must have had the endpoint accessible when the apps were configured initially and closed it afterwards. I usually keep /web/database closed to avoid people trying to do anything suspicious.

My guess is that the update to the app forced to mobile app to request this endpoint again and it failed. I am not sure

[2018-11-29 14:02] #29107 closed

[2018-11-29 14:04] Yenthe666 commented on #29107
@adr-odoo could make it an internal task if he likes the suggestion.
Thanks for letting us know what was wrong 😉

[2018-11-29 14:58] blaggacao commented on #29007
@qdp-odoo I know you're busy, whom trusted person could I develop this use case properly with? I still might be wrong in my assessment, but I increasingly get the impression I'm making a valid (and useful) point here...

[2018-11-29 15:38] GrupoAlvamex commented on #19761
@gdgellatly Thank you!!

[2018-11-29 15:50] GoodERPJeff opened #29152 "search_default_internal_loc in context should be domain, in quant action"
https://github.com/odoo/odoo/blob/1868713dbd07e0b518f91dffe73e62d85e6ab9a6/addons/stock/views/stock_quant_views.xml#L120

Scenario is User want to see the quantity/cost on hand, means, in internal location at specific date.

Can you imagine any reason they remove the topright filter ? see qty/cost in virtual location will never contribute value to end user, agree ?

so my suggestion is convert the

[2018-11-29 16:03] guidev224 opened #29154 "[11] Qweb Report: Record does not exist or has been deleted."
Impacted versions: 11

Steps to reproduce:
Create a custom module just to add a qweb report (in my case I tested account.invoice, res.partner, res.users)
Here is my code:
[code]

Current behavior:
When I click on Ohter Report under print I get the following error:
`Record does not exist or has been deleted`
Expected behavior:
Print the report

Video/Screenshot link (optional):

[2018-11-29 16:05] pedrobaeza commented on #29154
Sorry, this is not an Odoo issue, but a question on your custom code. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2018-11-29 16:05] #29154 closed

[2018-11-29 16:20] guidev224 commented on #29154
@pedrobaeza

1. I think the main issue is not my custom code because there is nothing specific to my code
2. There is no custom code in the account.invoice model, I mean didn't inherit it from python side
3. There are plenty issues related to custom code here [like this one](https://github.com/odoo/odoo/issues/24927)

[2018-11-29 16:50] MiquelRForgeFlow opened #29158 "Stock: confused user when changing uom"
**Impacted versions:** v10 (pack operations) and above (stock move lines)

**Steps to reproduce (v10):**
1 - Create purchase order
2 - Add 1 quantity of a stockable product that have `kg` in both uom_id and uom_po_id
3 - Confirm PO and go to Shipment and click the picking
4 - Edit the picking and click in the pencil symbol to edit the pack operation
5 - In this pack operation form, add 1 in the qt

[2018-11-29 19:41] mreficent opened #29163 "Search records with empty many2many"
**Impacted versions:** only tested in v11

**Steps to reproduce:**

Suppose you have "`model`" model with a "`field`" field. This model has two records with ids 1 and 2. Suppose record 1 has `field` = False and record 2 has `field` = 1.

case A: `env.['model'].search([('field', 'in', [False, 1])])`
case B: `env.['model'].search(['|', ('field', '=', False)]), ('field', 'in', [1])])`

- If `field` i

[2018-11-29 21:52] Aeriah opened #29165 "Automated action - Odoo 10"
Hello,

**Impacted versions:**
Odoo 10

**Steps to reproduce:**
First, I wanted to create an automated action that changes the internal category of an article when the article is archived, but I didn't succeed. So I tried to change the name of an article when this article is updated :
1. Create an automated action
2. Related Document Model : **Product**
3. When to run : **On Update**
4. In Actions

[2018-11-29 22:42] krister-ts opened #29166 "[12.0] Change Company in One Tab is executed Across All Tabs but Company Name NOT Updated in Other Tabs"
**Impacted versions:**

12.0 maybe older versions as well.

**Steps to reproduce:**

1. Open odoo in two tabs of browser.
2. In tab _A_, change company from _X_ to _Y_.
3. In tab _B_, look at the inventory, purchase orders and other data.

**Current behavior:**

It is company _Y_'s data but the dropdown to change company says you are looking at _X_.

**Expected behavior:**

1. The dropdown should

[2018-11-29 22:51] krister-ts commented on #29166
P.S. I did try both Chrome and Firefox. I think it probably is not the browser that is the issue.

[2018-11-29 23:55] salfredogonzalez commented on #17543
This code is not working for me, i would like

`<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data noupdate="1">
       <record id="_print_cron" model="ir.cron">
            <field name="name">Print</field>
            <field name="interval_number">1</field>
            <field name="interval_type">minutes</field>
            <field name="number_call">-1</field>
            <field name="doall

[2018-11-30 07:24] murtuzasaleh opened #29169 "[12.0] Could not select Membership"
Impacted versions: 12.0

Steps to reproduce:  Install membership module --> Open Customers --> Invoice Membership

Current behavior:

![invoice membership](https://user-images.githubusercontent.com/20418904/49273946-a2e82b00-f49c-11e8-83ce-d050989eeb36.png)

![membership](https://user-images.githubusercontent.com/20418904/49273957-abd8fc80-f49c-11e8-931b-c2be51d893ab.png)
Expected behavior: Should

[2018-11-30 08:47] pedrobaeza commented on #29169
Hi, this is because now there's no demo data for this module, so you don't have any membership product:

https://github.com/odoo/odoo/commit/bed29a4aeab0ec6ef0c02975ee86655d6a030299#diff-b2fd3d6a0cc504b3ef9d03f10c235c51L32

It's not ideal, but it's not a bug, and thus I'm closing this. @tde-banana-odoo or @tivisse it would be good to restore some demo data for next iteration.

[2018-11-30 08:47] #29169 closed

[2018-11-30 09:11] murtuzasaleh commented on #29169
@pedrobaeza
Okay agree, But we don't have that field (memberhsip) in Product's form view and that is used in domain of Membership wizard.

[2018-11-30 09:12] aelmizeb opened #29173 "odoo 10.0 docker Installation"
Impacted versions:
10.0
Steps to reproduce:
Install odoo on a docker image
Current behavior:
Get Internal Error

2018-11-28 15:25:14,495 1 ERROR spqrdb werkzeug: Error on request:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 177, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 165

[2018-11-30 09:15] pedrobaeza commented on #29169
Access Members > Configuration and create the product from there.

[2018-11-30 09:19] murtuzasaleh commented on #29169
Thanks, (y)

[2018-11-30 09:44] infoitservit commented on #29008
Am I asking something impossible?

[2018-11-30 09:45] infoitservit commented on #28521
Any news? It seems a serious bug to me.

[2018-11-30 11:00] BGEray opened #29181 "Error: mail_followers_res_partner_res_model_id_uniq cause a problem while server running in multi workers mode"
Impacted versions:
Odoo 10.0

Steps to reproduce:
Two man create same model at the same time on an odoo server running in multi workers mode.

Current behavior:
Two man create same model at the same time,only one model can be saved,the other one can not be saved with an error occured.The warning says: Error, a partner cannot follow twice the same object.We have to click save button for several tim

[2018-11-30 11:54] tanghulu0608 commented on #29117
I like Font Awesome 5.5.0 too

[2018-11-30 12:10] Banack opened #29183 "[12.0] Missing "Extra Info" from Lead"
Impacted versions: 12.0

Steps to reproduce: create a new lead with the administrator and he/she will be able to insert "Extra Info". If you try to create a new lead with another user (with or without access rights) the "Extra Info" tab will display only the title "Email" and all the other fields will be invisible (and opening the inspection in Chrome/Firefox will show that all those form fields a