[2020-06-10 06:34] Penetrator80 opened #52742 "Hello. Can I Override standard Odoo Method. In http.py - Response Class?"
Impacted versions:
13.0
Current behavior:
Standard behavior with allowed methods: POST, if CORS
Expected behavior:
I want override the method set_default(self, template=None, qcontext=None, uid=None)
To allow use such methods as DELETE, PUT, PATCH etc.,  but nothing happens.

[2020-06-10 07:01] walther-barnett opened #52744 "Event email body empty when odoo translation loaded"
Impacted versions:
Odoo 13.0-20200121 (Community version) container
Events app version 13.0.1.0

Steps to reproduce:
Use on-prem mailserver
Install/Configure a standard company and standard user,
Install an official translation eg. Danish
Set language for admin and standard user to the loaded language
Create a homepage in translated language
Install the Event App
Create an Event
Publish on homepag

[2020-06-10 07:06] pedrobaeza commented on #52744
That's because the corresponding translation is not correct and don't keep correctly the placeholders or expressions.

Please see https://github.com/odoo/odoo/wiki/Translations for knowing how to change that translations.

Closing as translation issue.

[2020-06-10 07:06] #52744 closed

[2020-06-10 07:14] pedrobaeza commented on #52742
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2020-06-10 07:14] #52742 closed

[2020-06-10 08:05] payal-dot opened #52747 "Odoo 12 install on Ubuntu"
I am facing Daemon File not exist issue

[2020-06-10 08:10] Digpal commented on #52747
I am also facing this problem

[2020-06-10 08:42] pedrobaeza commented on #52747
How do you install it? Through the official .deb? Which Ubuntu version?

[2020-06-10 08:57] Digpal commented on #52747
Thanks for quick response pedrobaeza

[2020-06-10 08:58] payal-dot commented on #52747
![image](https://user-images.githubusercontent.com/64143063/84248089-91b6ba80-ab26-11ea-8b69-3c44d5fc03d0.png)

[2020-06-10 08:58] payal-dot commented on #52747
ubuntu 18.4

[2020-06-10 09:00] payal-dot commented on #52747
i am installing odoo12 i ubutu 18.4 via putty from my window system.Ad i getting this issue.
I have follow below link:
https://www.technaureus.com/how-to-install-odoo-12-on-ubuntu-18-4-odoo-installation/

[2020-06-10 09:00] Digpal commented on #52747
I am also getting this bug

[2020-06-10 09:01] pedrobaeza commented on #52747
Sorry, but you have to follow standard installation instructions https://www.odoo.com/documentation/12.0/setup/install.html.

If they fail, then you can go back here. For other methods, you should contact the method's author.

[2020-06-10 09:01] #52747 closed

[2020-06-10 09:30] BlommaertsEdwin opened #52752 "[13.0] Pasting an image (via CTRL+V) causes an image to be inserted twice into any HTML field"
Impacted versions: V13

Steps to reproduce:
- Copy image data (e.g. from within Paint or GIMP), and paste it into an HTML field using CTRL+V (or right-click, paste)

Current behavior:
Image is inserted twice

Expected behavior:
Only one image should be inserted

Video/Screenshot link (optional):

[2020-06-10 11:57] vikichavada opened #52766 "[12.0] Same method defined two time."
https://github.com/odoo/odoo/blob/f53c4b671e324b01a440474f4e823b4e3c756a5f/addons/sale/models/sale.py#L136

https://github.com/odoo/odoo/blob/f53c4b671e324b01a440474f4e823b4e3c756a5f/addons/sale/models/sale.py#L931

Check this both line..
There should be only one method in same model.

[2020-06-11 07:11] Yenthe666 commented on #52735
@GiraffosCom why don't you report it through odoo.com/help though?

[2020-06-11 07:26] fasilwdr opened #52805 "Can POS orders be printed without POSBox? Odoo-12"
Can POS orders be printed without POSBox?
Hope your suggestions and advises

[2020-06-11 07:28] pedrobaeza commented on #52735
The question is that I don't get the same behavior trying the same on runbot:

![Peek 11-06-2020 09-27](https://user-images.githubusercontent.com/7165771/84357398-dc3b4400-abc5-11ea-938b-8d48b0210696.gif)

[2020-06-11 07:29] pedrobaeza commented on #52805
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here. Short answer: yes.

Closing this by the reason above.

[2020-06-11 07:29] #52805 closed

[2020-06-11 08:02] #52289 closed

[2020-06-11 09:25] dbo-odoo commented on #52766
Hello @vikichavada
As Pedro said, not a huge deal. Feel free to submit a PR to remove it (the first one, to avoid changing the behaviour) in 12.0 `¯\_(ツ)_/¯`

[2020-06-11 09:25] #52766 closed

[2020-06-11 10:09] shivam-gupta581 opened #52831 "v13 Sorting By Price on shop (E-commerce)"
Impacted versions: V13

Steps to reproduce:

1.Go to Website -> Settings -> Sale pricing settings and enable Multiple sale prices per product
2.Go to Pricelists and add a product to one (with a different price to Sales Price)
3.Go to shop (eCommerce)
4.Make sure the pricelist in which you set the product is selected
5.Sort by price

Current behavior: The prices are displayed correctly, but the pro

[2020-06-11 10:15] mucahitaz opened #52832 "[ODOO12] Datetime field triggers @api.onchange twice"
Impacted versions:
ODOO12
Steps to reproduce:
Create a datetime field , e.g.
date = fields.Datetime(string="Date and Time", required=True, track_visibility='onchange')
Write an api function to trigger it, e.g.
@api.onchange('date')
    def _check_date(self):
        if self.date and self.date > datetime.now():
            self.date = False
            return {
                'warning': {'title':

[2020-06-11 12:09] a0c commented on #6037
Here is another workaround to avoid cycles in cache.
Use `no_prefetch()` before calling the field that creates cycles in cache (`link_quant_ids` in my case):
[code]
Chainable `no_prefetch()` is defined as follows:
[code]

[2020-06-11 12:21] a0c commented on #6141
Here is [another workaround](https://github.com/odoo/odoo/issues/6037#issuecomment-642603066). In the context of your case, that would mean changing your field `other_option_ids` from related field to a computed field and using `no_prefetch()` in the compute method like this:
[code]
or
[code]
Haven't tried, but should work.

[2020-06-11 13:30] GiraffosCom commented on #52735
I don't know Pedro, that's actually a good question.

[2020-06-11 13:31] GiraffosCom commented on #52735
I thought somebody else in the community might be experiencing the same problem and I think I was thinking about reporting it to odoo.com but now @pedrobaeza put a counter example where he shows he experiences no problem at all

[2020-06-11 13:46] GiraffosCom commented on #52735
@pedrobaeza This is a browser problem. I tried the runbot on chrome and it works fine. Being this the case is it recommended to just close this issue and not do anything or someone should know about this anyway?

[2020-06-11 15:41] pedrobaeza commented on #52735
I recorded the video from Firefox. Which one did you use before?

[2020-06-11 15:48] pedrobaeza commented on #52831
@JKE-be can you take a look to this?

[2020-06-11 15:54] GiraffosCom commented on #52735
Safari and I check what you said using chrome and I got the same result as you

[2020-06-11 15:55] GiraffosCom commented on #52735
Safari still showing the problem though

[2020-06-11 15:58] pedrobaeza commented on #52735
In theory Safari is supported:

http://www.odoo.com/documentation/12.0/setup/deploy.html#supported-browsers

But I don't bet too much about using it having Firefox/Chrome as best alternatives.

I will tag and let this opened, but better use the other browsers.

[2020-06-11 16:00] GiraffosCom commented on #52735
Thanks @pedrobaeza
Maybe with these new tags,  this problem could also get solved for Safari

[2020-06-11 16:44] sswapnesh commented on #52831
Duplicate of https://github.com/odoo/odoo/issues/27743

[2020-06-11 16:45] pedrobaeza commented on #52831
OK, then we have the answer and should be closed as expected.

[2020-06-11 16:45] #52831 closed

[2020-06-11 17:24] dirceu3h opened #52879 "Stripe Checkout language"
Impacted versions: Community 13

Steps to reproduce:
At the online store when the user clicks on "pay now" button using the stripe acquired method it takes them to the stripe checkout **English** version.

Current behavior:
The problem is that it always takes them to the English version of the stripe checkout. Even if the browser is in Spanish.

Expected behavior:
According to this documentation f

[2020-06-11 17:28] pedrobaeza commented on #52879
@dbo-odoo any hint?

[2020-06-11 19:49] ajaybit opened #52882 "I have follows your all the installation instructions but still I am facing DB error."
Impacted versions:12

Steps to reproduce: Install and configure with Db

Current behavior: Unable to connect with DB
DB version using Postgres12

Expected behavior:
Should connect with DB

Video/Screenshot link (optional):
<img width="1341" alt="DB_error" src="https://user-images.githubusercontent.com/21233349/84432601-adb37c80-ac4a-11ea-982e-3d24f0bd8a42.png">

[2020-06-11 21:01] fmdl opened #52883 "[Idea] email template : allow to use qweb"
Allow to use qweb in email template.
In template you can select ninja (default) or qweb.

Ninja is more hard to maintain than qweb, especially translation.

What do you think ?

[2020-06-11 23:19] pedrobaeza commented on #52882
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2020-06-11 23:19] #52882 closed

[2020-06-11 23:43] gnfranco opened #52884 "Odoo reserve more than request to consume and I can't Close Production Order"
Impacted versions:

Steps to reproduce:
  I created a BOM that uses 3.5cm of a raw material. The standard measuring unit of the raw material is stored in meters. So when I try to execute and close a production order using the BOM with this raw material being requested in centimeters. Odoo reserves a little more than it needs to consume and now I have received the following message: "It is not poss

[2020-06-11 23:51] pedrobaeza commented on #52884
Odoo version? Please include images in issue itself instead of links.

[2020-06-12 07:33] pedrobaeza commented on #52883
This has been already thought by Odoo and there's even a PoC that I'm not able to locate right now. Any way, it's already in Odoo mind, but not easy at all to be done.

Meanwhile, you can use https://odoo-community.org/shop/product/qweb-for-email-templates-982

Closing as this is a duplicated wishlist.

[2020-06-12 07:33] #52883 closed

[2020-06-12 07:56] E4O opened #52893 "Production order accounting entry does not have work center analytic account on lines"
Impacted versions:
v13

Steps to reproduce:
1. Create a work center with the following parameters:
![image](https://user-images.githubusercontent.com/40301417/84478294-bb442300-ac99-11ea-8d87-9a3da22bd874.png)

2. Create a Bill of Material that has at least one component. BOM product and components product category should have following setup:
![image](https://user-images.githubusercontent.com/403

[2020-06-12 07:57] E4O commented on #52893
It seems like it generates analytic entry:
![image](https://user-images.githubusercontent.com/40301417/84479341-7620f080-ac9b-11ea-98d4-bb87386a5c23.png)
If seems like it is designed to work like this.

[2020-06-12 07:57] #52893 closed

[2020-06-12 09:01] m3asmi opened #52901 "leave seconde validation activity with wrong responsible"
Impacted versions:12.0

Steps to reproduce:
create a leave for an employee in a departement that his parent is the manager for the departement

Current behavior:
1st and the seconde validation in the activity will  be by affected to the manager of the department

Expected behavior:
1st must be affected to the responsible of the departement
2nd must be affected to the parent of the responsible of t

[2020-06-12 09:18] pedrobaeza commented on #52901
That's not how it works: first approval is from the employee responsible. Second is from the department responsible.

Closing as invalid.

[2020-06-12 09:18] #52901 closed

[2020-06-12 15:01] katyukha commented on #52752
Seems to be fixed by https://github.com/odoo/odoo/pull/52512
But not sure.

[2020-06-12 15:04] pedrobaeza commented on #52752
@BlommaertsEdwin can you please check with latest code?

[2020-06-12 15:33] #51579 closed

[2020-06-12 16:07] gnfranco commented on #52884
![2020-06-11](https://user-images.githubusercontent.com/776952/84522707-817d1780-acad-11ea-8379-31b5250b3d5e.png)
![2020-06-11 (2)](https://user-images.githubusercontent.com/776952/84522721-88a42580-acad-11ea-80b0-851e27886204.png)
![2020-06-11 (1)](https://user-images.githubusercontent.com/776952/84522757-978ad800-acad-11ea-965e-acafb5f9ac2a.png)

[2020-06-12 16:10] gnfranco commented on #52884
Odoo 13 runing on Ubuntu 19.10 VPS

[2020-06-12 16:18] gnfranco commented on #52884
When I change BOM to uses 4cm instead 3,5cm, it works fine.

[2020-06-12 16:34] gnfranco opened #52935 "Using multiple currencies. Wrong calculation of cost for a product."
I'm trying to buy a product in US$ but when run a purchase odoo stores the US$ value directely as other currency without had calculeted the cambial convertion.
Currencys are enabled and I update then manualy every time.

[2020-06-12 16:35] gnfranco commented on #52935
Odoo 13

[2020-06-12 16:38] pedrobaeza commented on #52935
You need to put currency rates. Please do these questions in the forum, not here.

[2020-06-12 16:38] #52935 closed

[2020-06-12 16:56] gnfranco commented on #52935
I have currency rates.

![2020-06-12](https://user-images.githubusercontent.com/776952/84527532-7a0d3c80-acb4-11ea-9c48-5464fefba6dc.png)
![2020-06-12 (2)](https://user-images.githubusercontent.com/776952/84527551-81344a80-acb4-11ea-8b10-b280c310ddff.png)
![2020-06-12 (1)](https://user-images.githubusercontent.com/776952/84527567-85606800-acb4-11ea-85ae-33fc152019f4.png)

[2020-06-12 16:57] pedrobaeza commented on #52935
Then which is the problem?

[2020-06-12 17:00] gnfranco commented on #52935
I've runed an purchase and when check on my stock cost Odoo have stored the US$ value as BRL.
Could you understand me now?

[2020-06-12 17:02] gnfranco commented on #52935
All the system default currency is BRL but we buy things in US$ too.

 The system run but don't make cambial convertion to store the right value in BRL.

[2020-06-12 17:04] pedrobaeza commented on #52935
This is working in other systems, so you should have something misconfigured.

[2020-06-12 17:06] gnfranco commented on #52935
I will setup a clean VPS to test.
Thanks

[2020-06-12 17:26] chandaralee commented on #51360
if you face any problems regarding odoo13 installation, or odoo dependencies on ubuntu 20.04 LTS, I recommand you to try with these instructions via this link below:

**https://www.73lines.com/blog/erp-5/post/how-to-install-odoo13-on-ubuntu-20-04-x64-lts-36**

[2020-06-13 01:30] mrzingo opened #52941 "Feature Request: please add voice message to the odoo chatting"
Please add the feature like whatsapp to send voice notes inside odoo discuss and chatting.

[2020-06-13 07:44] eguane opened #52942 "[ODOO12] accounting POS journal entry"
Impacted versions: V12

Steps to reproduce: Open pos session create few tickets with product and one return product (negativ) close the session and validate post entries .

Current behavior: Journal entry total value of the closed session seems not correct.

Expected behavior: Journal entry total value same as total amount transaction.

Video/Screenshot link (optional):
pos session:
![image](https

[2020-06-13 08:20] kunalgoel1 commented on #52210
@jva-odoo Any progress??

[2020-06-13 11:17] SnailZSJ opened #52943 "onchange error"
After an error is thrown in the onchange function, the display value of the field on the interface is inconsistent with the cache value.

Impacted versions:
odoo13

Steps to reproduce:
There are start_time and end_time fields on the page. When these two fields are changed, the program enters the onChange function to check whether the start time is earlier than the end time.If the check does not pa

[2020-06-13 14:53] dirceu3h commented on #52879
Hello friends from odoo. Could you provide some feedback about this issue?
are we doing something wrong?
regards

[2020-06-13 15:20] nla-odoo commented on #52879
Hello @dirceu3h
It should work with browser locale as we left blank it
https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-locale
you can check here.

cc: @dbo-odoo

Thanks

[2020-06-13 18:13] guinhares opened #52944 "Edit field"
How i edit name of the field for any module on odoo12?

[2020-06-13 19:22] dirceu3h commented on #52879
I aksed some friends to test it in their broweaers and you are right l, it's showing in their browser language.
Prpbably in my browsers there is an issue or miss configuration.
Thanks a lot, i will close the issue

[2020-06-13 19:22] #52879 closed

[2020-06-13 20:33] guinhares commented on #52544
Hi, sorry about delay response! i'm still testing

[2020-06-13 22:51] pedrobaeza commented on #52944
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2020-06-13 22:51] #52944 closed

[2020-06-13 22:55] pedrobaeza commented on #52942
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-06-14 08:49] eguane commented on #52942
Hi thank you for your response, tested with odoo runbot session: https://3119762-12-0-f3e42b.runbot48.odoo.com/ with the same result.
Installed with belgium accounting pos configured like this
![image](https://user-images.githubusercontent.com/35990301/84589079-8fa57200-ae2c-11ea-8618-000e5a5f99d6.png)

![image](https://user-images.githubusercontent.com/35990301/84588915-88ca2f80-ae2b-11ea-8313-59

[2020-06-14 09:33] Otgontugs commented on #16398
The same for Odoo 10.
+1

[2020-06-14 13:16] groolot opened #52945 "PoS: VAT from another fiscal position does not apply properly when product price is taxe included"
Impacted versions:
13

Steps to reproduce:
1. Create a product AAA with VAT 10% and price at 10€
1. Configure VAT 10% to be included in price
1. Configure VAT 5.5% to be included in price
1. Create a new fiscal position FFF that map VAT 10% to VAT 5.5%
1. Configure PoS to accept multiple fiscal position, FFF included
1. Enter PoS
1. Sell the product AAA at fiscal position FFF

Current behavior:
Th

[2020-06-14 17:17] pedrobaeza commented on #52945
Have you tried to remove and add again the product?

[2020-06-14 17:22] pedrobaeza commented on #52943
That's because you shouldn't raise an exception in onchanges, but returning a warning in the dictionary. Raising an exception leads to inconsistent data like yours.

Closing as expected behavior.

[2020-06-14 17:22] #52943 closed

[2020-06-14 17:22] pedrobaeza commented on #52941
I don't think this is going to be the most wanted feature for Odoo PO, but I tag it.

[2020-06-14 21:12] celebraciones commented on #47653
The issue comes from addons/web/static/src/js/widgets/date_picker.js. Just updating it to the latest commit works in either iOS 13.3 or 13.4. Seems that this two components are the reason behind:
if (currentDate && currentDate.format('YYYY-MM-DD') > moment().format('YYYY-MM-DD'))

window.removeEventListener('wheel', this._onScroll, true);

did the trick!

Issue is closed as you mentioned, just wan

[2020-06-14 21:56] nhomar opened #52948 "Account groups hidden in master"
This is an issue for v14.0 *I know it is a WiP* but last time I wait I had bad surprises.

dear R&D team.

Account group is fully hidden from new account chart view (pretty nice BTW).

But we need such element for several reasons and reporting (Not all countries can relly 100% on the codding for the tree view) Remember we need the parent account name (which with auto coding tree feature is not pos

[2020-06-15 07:07] jva-odoo commented on #52210
@kunalgoel1 Yes, you can check this https://youtu.be/4uPzin77oio

[2020-06-15 07:59] Yenthe666 commented on #52941
@tde-banana-odoo probably something for you guys to decide?

[2020-06-15 08:18] qdp-odoo commented on #52948
what do you mean? you want to add the field `group_id` in the tree view of account.account (optional=hide) ?

[2020-06-15 10:11] saibhargav08 opened #52959 "service in odoo crash automatically"
Hi everybody,

I met a problem with service in odoo 13. Sometimes service crashes automatically. I don't know what's the problem. I checked on odoo log file but don't have any message here and I checked in syslog file in Ubuntu 18.04 LTS. It has a message as:
Jun 15 13:00:51 kernel: [1700987.563652] python3[32030]: segfault at 1 ip 000000000054451a sp 00007f7aaeff42a0 error 4 in python3.6[400000+3

[2020-06-15 10:13] Yenthe666 commented on #52959
Please add more info to this ticket or it will be closed off. Besides, this looks like a deployment issue ;)

[2020-06-15 10:20] saibhargav08 commented on #52959
I have updated the information please let me know in case of any further info

[2020-06-15 10:38] kunalgoel1 commented on #52210
@jva-odoo Great to know that. I will test it today. Thanks.

[2020-06-15 11:54] jva-odoo commented on #52210
@kunalgoel1 this is under development so you can't test it in master or v13.

[2020-06-15 12:13] hilarak opened #52968 "ODOO FORUM ISSUE"
**Impacted versions:**
Latest

Steps to reproduce:
Open ODOO Help-Forum/ODOO Website

**Current behavior:**

Unknown CORS error

An unknown CORS error occurred. The error probably originates from a JavaScript file served from a different origin. (Opening your browser console might give you a hint on the error.)

**Expected behavior:**

**Video/Screenshot link (optional):**

![image](https://user-i

[2020-06-15 12:52] groolot commented on #52945
yes, I did it.

[2020-06-15 12:59] jva-odoo commented on #52210
You can test here https://3041537-51990-d3092b.runbot44.odoo.com/web
with database `3041537-51990-d3092b-jva`
Previously given video is link is updated so check it again.

Thank you

[2020-06-15 13:03] groolot commented on #52945
The workaround I did is:

1. Create a new taxe name "No Taxe" with a 0%
1. Assign this taxe to products I want to sell in PoS
1. Create two Fiscal Position, one with "No Taxe" to "10%" mapping, the other with a 5.5% mapping
1. Permit PoS to use the two fiscal positions

[2020-06-15 16:08] dlemireanybox opened #52987 "Email notification doesn't seem to work when answered via email client"
Impacted versions: V12
**Steps to reproduce:**
2 users: user1( notif by email )  & user2 ( notif by email )
- From invoice in odoo , user1 create note with body like "@user 2 , Hello? "
- From email client, user2 answer to the note with body "Hi!!!"
Current behavior:
- user1 is not notified user2 answer ( neither by odoo, or email )
Expected behavior:
- user1 receive an email with body = Hi!!!
Vid

[2020-06-15 16:11] pedrobaeza commented on #52987
This is working correctly on all my deployments, so you should have something incorrect in your end, like incorrect incoming mail, catchall configuration, or other.

Closing thus as no Odoo issue unless you bring more evidences on contrary.

[2020-06-15 16:11] #52987 closed

[2020-06-15 16:15] dlemireanybox commented on #52987
the user2 receive all message by email, even his own

[2020-06-15 16:22] pedrobaeza commented on #52987
user1 email shouldn't be correct or can be processed by your outgoing mail server.

[2020-06-15 18:01] gustavovalverde commented on #52389
Ping @dbo-odoo

[2020-06-15 18:32] lem8r opened #52990 "[13.0] Google Calendar: Odoo allows to edit read-only events"
Impacted versions: 13.0, 12.0, 11.0

Steps to reproduce:
You have to be participant in event that was organized by other person.
Event has to be created in Google Calendar first.

When you are not an organizer of event it has `guestsCanModify: false` by default. It means that you can not modify it.

However after such even was synced into Odoo I can modify it which causes update of even back to Go

[2020-06-15 18:38] lem8r commented on #52990
This issue is related to support ticket 2261173

I can fix it myself and do a PR but it requires changes in logic and model. So I believe it wont be accepted. At least without prior discussion.

[2020-06-16 00:51] ray-odoo commented on #52968
I can't reproduce.

1. Open Firefox 77.0.1 (64 bit)
2. Visit https://www.odoo.com
3. Login
4. Scroll to the bottom and click the link "Forum" under the "Community" section.

Can you add similar details to expand on "Open ODOO Help-Forum/ODOO Website" to make sure it is possible to test your exact steps and know which Browser?

[2020-06-16 05:13] tanghulu0608 commented on #52752
We have the same issue.

[2020-06-16 07:27] dbo-odoo commented on #52389
Hi,

I've re-read your use case; I'm afraid there's little I can do here.

If the provider you're implementing does not follow the same flows as those we did (namely: once you work with a token, the transaction is done in s2s mode), then you're out of luck. I'm not gonna change the implementation in a stable release for that; you're gonna have to patch this yourself somehow :/

[2020-06-16 07:27] #52389 closed

[2020-06-16 08:22] tde-banana-odoo commented on #52941
Hello,

I am not working in Discuss team; only maintaining backend / mail gateway. I know Discuss has plans to support voice and video (aka, replacing our internal Discord in the next confinement). I let @seb-odoo gives more details if he has any.

Cheers,

[2020-06-16 09:56] hilarak commented on #52968
I am also using the same version of firefox. Yesterday I was trying to comment on a question.  Currently, I can't reproduce the client error wizard, but the error logs remaining the same.

![image](https://user-images.githubusercontent.com/24998694/84760449-172fe400-afd9-11ea-8264-d6668aa62910.png)

[2020-06-16 10:01] rrahir commented on #45568
We have posted a local fix on our production platform. The karma related issue is still being investigated by our support team and will be addressed in the OPW craeted by @Yenthe666.
I will now close this issue and invite you to follow https://github.com/odoo/odoo/issues/51296 for the karma related issue.

[2020-06-16 10:01] #45568 closed

[2020-06-16 10:59] jhk-odoo commented on #51296
Hello,
there is an open ticket for a related issue (opw-2262832) and we are currently working on it.
I'll post here as soon as we have a fix.

[2020-06-16 11:01] usermadhan commented on #47623
Once modules are upgraded (Odoo 13.0) then unable to edit or create the users. Getting the error in browser console.

"TypeError: this.wysiwyg.saveCroppedImages is not a function".

Regenerate the assets bundle through GUI and restart the container fixed the issue.

[2020-06-16 11:14] seb-odoo commented on #52941
This feeback is now considered in task-2278512, so I'm closing this issue.

No promise on the result or deadline though.

[2020-06-16 11:14] #52941 closed

[2020-06-16 11:26] pedrobaeza commented on #52941
Thanks. Note that it's not the same to add audio/video chat than voice notes. For the first one, definitively +1. For the second, I don't like them (for not saying I hate them) the same as WhatsApp ones, but that's my personal opinion.

[2020-06-16 13:56] zainulabideentt2020 opened #53074 "Product Extra Image not updating without refreshing the page after save"
Impacted versions: Odoo 13

Steps to reproduce:
1.Login
2.Go Products
3.Click on
5.Go to E commerce tab
6.Add an image in Extra Product Media and save it.
7.Edit the image and click on save button

Expected result
Once after edited the image should be updated

Actual result
Once after edited the image is not updated https://prnt.sc/t0sy3z

[2020-06-16 14:36] pedrobaeza commented on #53074
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-06-16 15:12] zainulabideentt2020 commented on #53074
vedio url : https://www.loom.com/share/41569dc8d565408b819eb9e79fbf35c1

[2020-06-16 15:24] pedrobaeza commented on #53074
Is this reproduced in runbot or in your local?

[2020-06-16 15:25] zainulabideentt2020 commented on #53074
In my local

[2020-06-16 15:36] pedrobaeza commented on #53074
Then you need to reproduce it on runbot, as several variables can affect:

- Outdated code
- Extra third-party modules
- Deployment

[2020-06-16 16:30] PieceOfWire commented on #50424
Never got around to testing. Used extra fields instead of context to get the behavior I needed.

[2020-06-16 16:30] #50424 closed

[2020-06-16 16:54] grvn-ht opened #53095 "error with the attribute 'title' of Graph (View Type)."
### Impacted versions:
odoo 13.0

### Steps to reproduce:
create a model 'ghost.inventory' with a boolean variable 'used'.
Then create xml file:
<odoo>

        <record id="dashboard_graph_view" model="ir.ui.view">
            <field name="name">ghost.dashboard.graph</field>
            <field name="model">ghost.inventory</field>
            <field name="arch" type="xml">
                <graph ty

[2020-06-16 16:58] pedrobaeza commented on #53095
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2020-06-16 16:58] #53095 closed

[2020-06-16 21:27] HarlekinSimplex commented on #51909
Any new findings on that frontier?
The case is still untouched since 21 days.
Anything I can provide or deliver to help you all to get closer to a solution ?

Cheers
Stephan

[2020-06-16 22:07] dthapostle opened #53102 "Develop v12 -> v13 upgrade procedure for Odoo Community version"
Impacted versions:
v12, v13
Steps to reproduce:
- install and configure Odoo CE v12
- install Odoo CE v13 and configure it to point on v12 database
Current behavior:
- Odoo v13 fails with following error:
[code]

Expected behavior:
There'd be either the script or at least manual with details about new DB version changes.
It'd be preferable to have manual for DB upgrade.

Video/Screenshot link (opt

[2020-06-16 23:59] PandoraSupport opened #53104 "Version 10 . Images resized"
Website images are resized automatically after sometime without any reason.
Is there any cron or something running which resized images for performance optimization.

[2020-06-17 04:50] tsabi commented on #53102
Odoo have a commercial service to upgrade databases. CE is not supported, you need to buy the Enterprise Edition.

[2020-06-17 06:48] pedrobaeza commented on #53102
Exactly, so closing as expected behavior.

[2020-06-17 06:48] #53102 closed

[2020-06-17 06:51] pedrobaeza commented on #53104
There's no cron for that, but also version 10 is out of official support, so closing this issue.

[2020-06-17 06:51] #53104 closed

[2020-06-17 09:29] adekock11 opened #53125 "Field display_name becomes non-stored"
**Impacted versions:**

Tested on 12.0

**Steps to reproduce:**

Create a new module "module_abc"

    class ResPartner(models.Model):
        _inherit = 'res.partner'

        @api.depends('field_1', 'field_b')
        def _compute_display_name(self):
            for record in self:
                record.display_name = 'This logic is irrelevant'

        display_name = fields.Char(compute=_compu

[2020-06-17 09:31] adekock11 commented on #53125
@pedrobaeza I am tagging you because I have a problem exactly the same as you had in the OCA module. Your solution in that module was to re-declare the `display_name` and re-add the `store=True`, however I am wondering if this cannot be fixed in Odoo core. If you have any insights I would value it highly.

[2020-06-17 10:30] pedrobaeza commented on #53125
I didn't investigate such problem, but it seems to fix it. It may be an ORM limitation, as a such, difficult to be fixed, and not for an stable version. Anyway, I let it tagged for reference.

[2020-06-17 10:45] adekock11 commented on #53125
Thanks @pedrobaeza I will investigate this further and possibly provide a PR for the issue.

[2020-06-17 14:31] kyronjoves opened #53169 "httplib.py syntax error"
Impacted versions: python version 3.6.8

Steps to reproduce:

Current behavior:
$ python odoo-bin -r dbuser -w passw0rd-- addons-path=addons -d mydb
Traceback (most recent call last):
  File "odoo-bin", line 5, in <module>
    import odoo
  File "C:\xampp\htdocs\odoo\odoo\__init__.py", line 113, in <module>
    from . import modules
  File "C:\xampp\htdocs\odoo\odoo\modules\__init__.py", line 8, i

[2020-06-17 14:38] pedrobaeza commented on #53169
You have a bad deployment with mix of Python versions, which is clearly stated by the line:
[code]
Any way, this is not an Odoo issue, but deployment one, so closing.

[2020-06-17 14:49] reinaldoramosarxi commented on #33024
Hello,

I will assume that since the other issue was closed because it's by design, that that is the case for this one as well.

Thank you.

[2020-06-17 14:49] #33024 closed

[2020-06-17 14:51] kyronjoves commented on #53169
Ohh okay. Its because just used same directory and I updated 2.7 to 3.6.8.

[2020-06-17 15:24] chrisrobi opened #53179 "mrp_repair : Negative quants are created for consumed parts and the owner of the repaired product, instead of using existing company quants"
https://github.com/odoo/odoo/blob/53fb37fa77c2012f6c30556eb933db122ad927fc/addons/mrp_repair/models/mrp_repair.py#L466

Considering this use case:
Odoo user is a repairer.
1) the repairer buys parts, and receive it in his main stock location.
2) the customer sends product to repair.
3) the repairer receives the product to repair to his repair location, setting the customer as the owner (consigment

[2020-06-17 15:34] reinaldoramosarxi commented on #33241
Hello,

Seems like a change was made that didn't add the default partner bank account on the SO->INV but removed the default accounts from INV instead.

Thank you.

[2020-06-17 15:34] #33241 closed

[2020-06-17 15:46] reinaldoramosarxi commented on #37162
Hello,

Seems like this issue has been solved.

Thank you.

[2020-06-17 15:46] #37162 closed

[2020-06-17 16:56] #45546 closed

[2020-06-17 18:12] kunalgoel1 commented on #52210
@jva-odoo
Updated video looks pretty good. However, the link doesn't seem to work. Can you share the correct link for me to test?
Thanks

[2020-06-17 18:24] jva-odoo commented on #52210
@kunalgoel1 check this https://youtu.be/gFhBW-oGYIw

[2020-06-17 20:10] techshaliblog commented on #6202
I've recently had the chrome redirect loop on gmail.

Possibly significantly, I was doing some work involving changing my system time and it hasn't worked since. This [guide](https://techshali.com/fix-webpage-has-redirect-loop-error/) helped to do that.

There is an available work-around, which is to use gmail in incognito mode, which does still work, although requires you to log in each time

[2020-06-17 20:16] gbeuning opened #53186 "Issue with multi-company reconciliation and complexer record rules for res_partner and res_partner_bank"
Issue with multi-company reconciliation and complexer record rules for res_partner and res_partner_bank

Issue is related to multi-company reconciliation improvements:
https://github.com/odoo/odoo/commit/3303f871028f7f84539020c12125ee6c3b3dd5e4#diff-34f8ae8a5209bc49b57e881ee41799d7

The problem seems that with more complex record rules for res.partner.bank and res.partner models,
such as installed

[2020-06-17 20:29] LuceEasyPme commented on #7028
Hello,
This can be solved with dbfilter_from_header:
https://github.com/OCA/server-tools/tree/12.0/dbfilter_from_header

[2020-06-17 21:27] b-kannan opened #53187 "_check_company function in models.py fails in multi-company scenario"
Impacted versions: 13.0

Steps to reproduce:
a. Setup 2 companies (parent-child) and set current company to child
b. Install manufacturing and configure advanced planning (workorders)
c. Define a product for manufacturing (setup product, bom, components, etc.)
d. Define a simple routing for manufacturing - 2 steps (sufficient)
e. Create a new MO, and confirm
f. Click Plan

Current behavior: Error

[2020-06-18 03:48] abhishekms123 opened #53190 "Odoo 13 language translation issue"
When language is translated from English to any other languages in odoo13 after changing in preferences, white blank screen appears..  Any solutions? Only when language is translated white screen appears.. is there any solution to solve the problem?

[2020-06-18 05:38] kunalgoel1 commented on #52210
The functionality works perfectly well.

Also, I think that in the GSTIN units the Indian company unit should be created by default. And then further additional GSTIN units can be created. In the Fiscal Positions and Journals settings, filter (domain) for GSTIN units should be applied instead of showing all contacts. Also if you can share the database link then I can test and provide more feedback

[2020-06-18 05:50] dftossem commented on #49256
Hi, I have a problem with the fullscreen on v13.0 with pdf and png files, screen is always black.

![image](https://user-images.githubusercontent.com/23228413/84983115-ad5d2a80-b0fd-11ea-988e-7520dc068fa8.png)

Thanks

[2020-06-18 06:48] pedrobaeza commented on #53190
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-06-18 06:50] pedrobaeza commented on #53187
Closing as there's already a PR.

[2020-06-18 06:50] #53187 closed

[2020-06-18 06:54] pedrobaeza commented on #53186
Which is the error?

[2020-06-18 07:04] pedrobaeza commented on #53179
Which Odoo version?

[2020-06-18 07:29] BlommaertsEdwin commented on #52752
@pedrobaeza I pulled the latest odoo and I'm no longer experiencing this bug.

[2020-06-18 07:29] #52752 closed

[2020-06-18 07:48] Rad0van opened #53196 "[master] When cancelling PO that was created from SO for MTO/Buy product, SO doesn't receive notification/exception"
Impacted versions: master

Steps to reproduce: Create and confirm Sale Order with a product that is marked as MTO and Buy and none is in stock. Purchase Order is created automatically.

Current behavior: If you cancel SO, notification of exception is brought to PO. But if you cancel PO no notification of exception is brought to SO even the code to do so is there in sale_purchase module in Purchase

[2020-06-18 07:53] pedrobaeza commented on #53196
Please don't open issues on master, as it's a version in development that for sure will contain a lot of bugs. Only when the release is close is reasonable to put them for hunting latest bugs.

[2020-06-18 07:53] #53196 closed

[2020-06-18 07:58] Rad0van commented on #53196
@pedrobaeza I normally wouldn't but I am also working on backporting that PR to 13.0 so I guessed I'd give it a try. Thanx for the info.

[2020-06-18 08:01] pedrobaeza commented on #53196
For that cases, I think it's more interesting to comment on the PR (although already merged), as it reaches to the involved people, instead of an issue that doesn't notify by default (and pinging them on the issue is a workaround).

[2020-06-18 08:02] Rad0van commented on #53196
Thanx for the idea! Will do.

[2020-06-18 09:16] gbeuning commented on #53186
Traceback:
[code]

Additional info from the log where you can see SQL statement modified by additional record rules:
[code]

[2020-06-18 09:31] pedrobaeza commented on #53186
But you are talking about a third party module, so the error should be fixed there, not here.

[2020-06-18 12:49] SimoRubi commented on #45388
@rim-odoo this issue is not solved yet, can you reopen?

[2020-06-18 12:53] chrisrobi commented on #53179
- Problem discovered in a production environment with Odoo 11 CE mrp_repair app.
- Same behavior with Odoo 12 CE repair app.
- I haven't tested in Odoo 13 CE repair app, because this code has been rewritten to handle reservation.

[2020-06-18 14:00] mart-e commented on #51909
That's the part that is a bit weird about noupdate. IMHO, it should not be possible to update it, whatever the mode you are in.
Moreover, the translation system is not really expecting overrides in different modules (it's more a "each module translates it's own records").

If you really want to do so, you have to first set the record as noupdate and then use normal translation files (see [auth_sig

[2020-06-18 14:02] Manuel-Dellisse opened #53247 "Stock rule issue with itertools._grouper object (Python)"
Hi,

Discovered an issue with the groupby-function in the stock rules "_run_buy"-method. (Might possibly the case in other locations)
The usage of the `from itertools import groupby` (Python) instead of `from odoo.tools import groupby` (Odoo custom) gives different behaviour with possibly great impact.
The problem is that the Python groupby-function returns a generator-function which consumes on e

[2020-06-18 14:31] gbeuning commented on #53186
Hmm... I don't think so because it may occur with any add-on/modification that changes the record rules for res.partner.bank and res.partner models.

If you look here https://github.com/odoo/odoo/blob/db52d97e0902905c638e4b0c3bebc86bd1c7d2e0/addons/account/models/reconciliation_widget.py#L103

Value for `where_clause` in my case is (depending on the record rules that are in-place):
`("res_partner"

[2020-06-18 14:46] Botakely opened #53253 "State of purchase.order.line issue"
Impacted versions: 13

Steps to reproduce: Create a purchase.order

Current behavior: The state of purchase.order.line is not set

Expected behavior: The state of purchase.order.line should get the value of the state of purchase.order
This is the declaration of the field state in purchase.order.line:
state = fields.Selection(related='order_id.state', store=True, readonly=False)

Video/Screenshot l

[2020-06-18 15:14] Botakely commented on #52832
Maybe it's because you trigger _check_date when date changes while you change the value of date in _check_date function

[2020-06-18 15:53] pedrobaeza commented on #53253
Is that happening with latest v13 code?

[2020-06-18 15:54] pedrobaeza commented on #53186
OK, indeed it seems a risky replace.

@qdp-odoo can you please check this?

[2020-06-18 15:56] pedrobaeza commented on #53247
Odoo version?

@sle-odoo @amoyaux for you

[2020-06-18 16:02] Botakely commented on #53253
I think so
Anyway, it's happening on runbot

[2020-06-18 16:03] pedrobaeza commented on #53253
@rco-odoo can you comment about this?

[2020-06-18 17:10] sswapnesh commented on #53253
Seems working well https://3203453-13-0-e220c5.runbot38.odoo.com/web?debug=1#id=10&action=755&model=purchase.order&view_type=form&cids=1&menu_id=534

![screenshot-3203453-13-0-e220c5 runbot38 odoo com-2020 06 18-22_38_29](https://user-images.githubusercontent.com/16624719/85050937-7d249300-b1b4-11ea-8f5b-f47ff404b76f.png)
![screenshot-3203453-13-0-e220c5 runbot38 odoo com-2020 06 18-22_39_15](http

[2020-06-18 17:13] pedrobaeza commented on #53253
Well, I think he means while working in ORM. I remember this to happen when working with `new()` records, and that's why I have tagged directly.

[2020-06-18 17:14] HarlekinSimplex commented on #51909
Thats what I was anxious to here.
At the end of the day that results in the unability of odoo to easily change the translation (or even worse just the layout or style) of any jinja2 mail template that is introduced by a stock module, without altering the original files or code structure of that stock modul.
The advised way, if I dont want to change/fork the stock module itself, then is to override

[2020-06-18 17:17] pedrobaeza commented on #51909
The idea is to replace Jinja by QWeb, having inheritance possibilities, but it's still a pending topic. Any roadmap for that, @mart-e ?

[2020-06-18 17:42] Botakely commented on #53253
![image](https://user-images.githubusercontent.com/51913832/85053859-cfa98380-b1a3-11ea-9a43-c98ed3c145d9.png)
You can try to create a new purchase order here and see the bug.
https://3203236-master-c27228.runbot29.odoo.com/web?debug=1&fbclid=IwAR1u-SAeZii1A91TD7NFI7s13ttrk2L7hJt_cSvPN3IHxSgJIS0YPEX1urU#action=744&cids=1&id=11&menu_id=543&model=purchase.order&view_type=form

[2020-06-18 18:04] eng-eslam-a-y opened #53276 "could not serialize access due to concurrent update while creating pos picking from a job"
Impacted versions:
12.0

Steps to reproduce:
I have made a customization to postpone the creation of pos order picking
and delegate the task to a job
some time i get the error below
[code]

Expected behavior:
i think this line should generate could not obtain lock
i was just wondering when it could generate "could not serialize access due to concurrent update"

Video/Screenshot link (optional):

[2020-06-19 06:15] mart-e commented on #53276
Hello,

Thank you for your report but please keep github only for bugs reporting on the standard Odoo. Not for questions or development help with customisations.

For help, you may try the [mailing lists](https://www.odoo.com/page/odoo-community), the [forum](https://www.odoo.com/forum/help-1) or the [support page](https://www.odoo.com/help) (for paying users).

Regards

[2020-06-19 06:15] #53276 closed

[2020-06-19 06:22] bclermont commented on #28231
that is probably a permission issue, but I couldn't figure which one. might be related to #35037

[2020-06-19 06:41] pedrobaeza commented on #28231
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-06-19 06:57] pedrobaeza commented on #53253
Hey, wait a minute! That's not version 13, but current master, so that's something not totally unexpected, as it's a development version, and there can be problems with it, but no reports can't be done over that version unless the release date is very close (which is not the case).

Closing then.

[2020-06-19 06:57] #53253 closed

[2020-06-19 06:57] bclermont commented on #28231
I just tried with the last build of 13.0 branch and I could reproduce it

![screenshot](https://user-images.githubusercontent.com/474302/85105253-bef91c00-b23c-11ea-8354-57160330e693.JPG)

on the left side is the visitor (not logged session) and on the right side is admin user logged in that replied with some random picture

the picture URL is `https://$RUNBOTHOST/web/content/1587?download=true` w

[2020-06-19 06:59] pedrobaeza commented on #28231
OK, thanks for the confirmation. @seb-odoo something to consider with #35037

[2020-06-19 07:01] Manuel-Dellisse commented on #53247
In my case it's in Odoo v13.0

[2020-06-19 07:03] bclermont commented on #28231
well, not exactly. it's not the same problem as I first suspected. as in this specific runbot instance I do see the avatar of the agent that chat with the visitor. I can't reproduce #35037

[2020-06-19 07:04] bclermont commented on #35037
While reproducing #28231 I noticed that I couldn't reproduce this issue on a runbot instance running `13.0` branch.

But my own instance of `13.0` using the official docker images of a few weeks ago is suffering from this issue. My instance was deployed without any demo data.

[2020-06-19 07:07] Yenthe666 commented on #53253
Good catch Pedro, you really are some kind of robot 😉

[2020-06-19 07:09] amoyaux commented on #53247
Hello. I don't really get it. We browse the generator and set every value in the dict. Even if the generator discard it afterward, it should still be present in the dict. Do you have a work flow that is not working?

[2020-06-19 07:14] Botakely commented on #53253
Well I can reproduce it in our odoo.sh platform and in this version.

[2020-06-19 07:16] pedrobaeza commented on #53253
Please specify which version is mentioned there.

[2020-06-19 07:22] Yenthe666 commented on #53253
And if you're on SH you can also use the enterprise support at odoo.com/help anyways.

[2020-06-19 07:34] mart-e commented on #51909
This is indeed plan. I don't follow this task closely but I don't think it's actively developped at the moment, mainly because of the lack of editor. Still planned but no roadmap AFAIK.

[2020-06-19 07:37] pedrobaeza commented on #51909
But isn't the same bad to edit a Jinja2 template that breaks with the HTML editor and you need to go to source code than editing a QWeb template?

[2020-06-19 07:53] Botakely commented on #53253
I tried in runbot again.

This is the version shown in setting
![image](https://user-images.githubusercontent.com/51913832/85109786-9102e000-b21a-11ea-98ba-cb5c72b34a65.png)

And this is screenshoot showing that I reproduce it again:
![image](https://user-images.githubusercontent.com/51913832/85110012-eccd6900-b21a-11ea-8f95-6e4329b27a7c.png)

This is the link of my purchase order on runbot:
https

[2020-06-19 08:07] Manuel-Dellisse commented on #53247
As shown in the above screenshots while debugging, we can see that the PO consists of two different products.
The PO has 9 lines total but `po_lines_by_product` only contains 3 lines total, which isn't clear to me as why product_id 233 has two lines.
Afterwards those po_lines_by_product are used as explained in `_find_candidate` for further filtering.

Some changes have been made in the way dropsh

[2020-06-19 08:13] seb-odoo commented on #28231
It's still related though, as the root cause is likely the same: being able to see a message does not guarantee that other records referenced in the message are accessible.

It's not an obvious fix, and probably not fully fixable in stable, so I will tackle these after the OWL refactoring of mail is fully complete (it was merged but a lot still has to be fixed/converted including the public livech

[2020-06-19 08:35] amoyaux commented on #53247
Strange. It's maybe the sorted method which is not correct. Since the groupby only group adjacent key, it could remove existing one that would explain why the list miss some data.
You can easily check also by replacing
[code]
by
[code]

also
[code]
[code]

Or if you an easy way to reproduce it on an test database we could analyze it our self.

[2020-06-19 08:39] amoyaux commented on #53247
Ok I found the issue. The sorted in odoo do not work like we did. We should replace it by
sorted(key=lambda r: r.product_id). This way it will work with classic python itertools. I will fix it.
Thanks for reporting

[2020-06-19 09:27] mohdshoaib04 opened #53287 "Confirm attribute on button does not support HTML tags parsing"
Impacted versions: V11 (enterprise)

Steps to reproduce: Add confirm attribute to a button with HTML tags in CDATA, It wont be parsed and will be shown as it is.

Current behavior:
Does not parse HTML tags

Expected behavior:
Should parse HTML tags

Video/Screenshot link (optional):
[code]
Ref:
![image](https://user-images.githubusercontent.com/33711872/85117915-38910a00-b23d-11ea-9b33-4ab3a05e7d6

[2020-06-19 09:32] pedrobaeza commented on #53287
Yes, this is a know limitation. You can only put plain text. There are no plans AFAIK to change this.

Closing as expected behavior.

[2020-06-19 09:32] #53287 closed

[2020-06-19 11:05] SplashS opened #53303 "Wrong documentation"
Impacted versions: odoo-13.0

Steps to reproduce:
Go to https://www.odoo.com/documentation/13.0/reference/data.html#template

Current behavior:
There is optional attribute "page". But there is no handling code in core.

Expected behavior:
There is no optional attribute "page" in documentation or there is handling code.

And additional question:
How to create theme.website.page in Theme? Only via &

[2020-06-19 13:30] JKE-be commented on #51092
You are probably on a custom version.
Because there are no asterisk in standard. And zip is not required.

I cannot reproduce your error

[2020-06-19 13:34] Yenthe666 commented on #51092
@protontrigg3r can you reproduce it on a default Odoo instance at runbot.odoo.com?

[2020-06-19 14:37] adekock11 commented on #53125
@pedrobaeza I have proposed a PR

[2020-06-19 14:39] pedrobaeza commented on #53125
Great, let's see what Odoo thinks about it

[2020-06-19 14:58] pedrobaeza commented on #53253
That's because you have added the field with readonly=0, giving priority to the value in screen. Changing the declaration works perfectly:

https://3203996-13-0-03fb98.runbot29.odoo.com/web?debug=1#id=12&action=755&model=purchase.order&view_type=form&cids=3&menu_id=534

[2020-06-19 17:38] makwin commented on #44352
Yes. Still happening

[2020-06-19 18:56] eknoch opened #53357 "DHL Fails on getting quote"
Impacted versions: odoo enterprise 13

Steps to reproduce: request shipping rate on quote using DHL Option

Current behavior: fails with error

Expected behavior: provide rate

Video/Screenshot link (optional): https://drive.google.com/file/d/1Q0PoCrnobxeIWoU-WEMB-nJ--Azi39n5/view

[2020-06-19 20:57] adrianplugandplay opened #53358 "Error when opening webpage frontend from linkedin"
Impacted versions:

Steps to reproduce:

Current behavior:
When opening any link of our company's website through linkedin, an error dialog opens (just in Android phones) Traceback:
TypeError: Cannot read property 'getItem' of null
    at Class.start (https://plugandplay.energy/web/content/3528-4f2dc34/1/web.assets_frontend_lazy.js:164:298)
    at Class.prototype.<computed> [as start] (https://plu

[2020-06-20 07:20] chickahoona commented on #23103
Honestly... How is this not getting more attention... So every time someone upgrades his docker'ed Odoo instance, he will  have to set a password manually?

There is no explicit warning on the docker hub page https://hub.docker.com/_/odoo

So even if you don't want to change the default value and so on, **you have to warn people that the default configuration is insecure and that they have to crea

[2020-06-20 08:10] protontrigg3r commented on #51092
@JKE-be : You are right: I am using Clarico theme, but I have the same problem even without it. Now I suppose this is a problem related to the Italian OCA module "l10n_it_website_sale_fatturapa" which introduces extra checks for some fields that are mandatory for electronic invoicing ...

[2020-06-20 08:18] protontrigg3r commented on #51092
I re-checked it and the problem is not strictly related to the Clarico theme:
![Screenshot_2020-06-20 Address Management My Website](https://user-images.githubusercontent.com/38140509/85197113-3e3f2c00-b2df-11ea-92cf-a4623f9898c1.png)

[2020-06-20 08:39] protontrigg3r commented on #51092
I have opened an issues on [OCA / l10n-italy](https://github.com/OCA/l10n-italy/issues/1810)

[2020-06-20 10:40] pedrobaeza commented on #53358
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-06-20 10:46] pedrobaeza commented on #53357
As this is an enterprise module, and needs reproducible steps (it's not enough with the information provided), please report it through odoo.com/help instead of here, so closing.

[2020-06-20 10:46] #53357 closed

[2020-06-20 23:58] dirceu3h commented on #48543
Just to let you know i am having the same issue guys, for now the blank space workaround is working for me. thanks @pedrobaeza and @Yenthe666

[2020-06-21 01:58] luisg123v opened #53362 "Wrong criteria used to check if under a testing environment"
Impacted versions:
- Tested only in 12.0, but it could affect other versions

Steps to reproduce:
- Implement a unittest inheriting from `HttpCase`
- Use the method `url_open` to test a controller
- Perform any operation that vary depending whether test are running, e.g. [this one](https://github.com/Odoo/odoo/blob/517a13b967a07fe1e71b9c5308d185c4e45f1a2d/addons/crm/models/crm_lead.py#L1539) or [t

[2020-06-21 09:35] treviser opened #53363 "[odoo.com/forum]Add new flagging reason "Spam or advertising""
Impacted versions:

www.odoo.com/forum

Current behavior:
While moderating the Odoo help forum, I observe more and more spam and advertising posts camouflaged as answers to existing threads.
Answers can not be closed with a closure reason, but only be deleted without any penalty. But answers can be flagged and then be closed, but the available closure reasons are all related to language and offens

[2020-06-21 11:23] Yenthe666 commented on #53363
@JKE-be

[2020-06-21 12:16] eng-eslam-a-y opened #53367 "Log level debug_rpc_answer only log rpc requests but no response are logged"
Impacted versions:
12.0
Steps to reproduce:
start odoo with default configuration file .odoorc
with log_level = debug_rpc_answer
log-handler are not set

Current behavior:
only log rpc requests but no response are logged (like debug_rpc)

Expected behavior:
should also log responses

workaround:
use log_handeler = :DEBUG;odoo.http.rpc.request:DEBUG;odoo.http.rpc.response:DEBUG
Video/Screenshot lin

[2020-06-21 12:28] LFPSGS commented on #52554
Hi @pedrobaeza

Had you had time to review this item?

Regards,

[2020-06-21 14:25] #53169 closed

[2020-06-21 14:25] Yenthe666 commented on #52948
@nhomar can you give feedback?

[2020-06-21 14:26] Yenthe666 commented on #52570
@odony for your reference.

[2020-06-21 14:28] Yenthe666 commented on #50552
@xmo-odoo what is the status here?

[2020-06-21 15:33] Yemeni commented on #50090
The issue is that the button gets rotates twice
I've done a quick fix to this by modifying the addons/web/static/lib/tempusdominus/tempusdominus.js to make it only rotate once
so in LTR languages, it won't matter, in Arabic RTL it will make it once
I will push a pull request

[2020-06-21 15:55] sswapnesh opened #53368 "[MRP] Manufacturing order is blocked due to same Lot"
Impacted versions: 12/13

Steps to reproduce:
* Create Product Tracked by Unique Serial
![screenshot-3241280-13-0-aba0b2 runbot38 odoo com-2020 06 21-21_18_43](https://user-images.githubusercontent.com/16624719/85229057-2feb3000-b405-11ea-9ebd-7ce142c0798d.png)

* Create Bom and MO for the same Product
* Product MO and Mark as Done
![screenshot-3241280-13-0-aba0b2 runbot38 odoo com-2020 06 21-21_2

[2020-06-21 17:49] moylop260 opened #53371 "Redundant column indexes"
The following post:
 - https://www.postgresqltutorial.com/postgresql-indexes/postgresql-multicolumn-indexes

Explains the following points:

1. The first column of a multi-column index is similar to define an individual index for that column, so it is not required define it again.
e.g. `CREATE INDEX ... (column1, column2)` is redundant to define `CREATE INDEX ... (column1)` since that the first in

[2020-06-21 18:01] Yemeni commented on #50090
You can pull the commit linked to this issue directly @RachidAlassir or wait until they merge the pull request

[2020-06-21 18:30] pedrobaeza commented on #53368
I'm not getting the exact problem. Why can't you unlock the MO and change the serial number?

[2020-06-21 18:43] sswapnesh commented on #53368
My bad. you are Right. (We can unlock and change)

Unlock/Lock behavior is still not aligned ref https://github.com/odoo/odoo/issues/21904

[2020-06-21 18:43] #53368 closed

[2020-06-22 03:51] linzhihao0826 opened #53372 "print RFQ(purchase module) in chinese"
Impacted versions: odoo13

Steps to reproduce: print purchase order

I‘been track this exception,but i have no idea how to fix it

The following is the output stack information
`Odoo Server Error
Traceback (most recent call last):
  File "e:\pycharmworkspace\odoo13\addons\web\controllers\main.py", line 2041, in report_download
    report_name = safe_eval(report.print_report_name, {'object': obj, '

[2020-06-22 04:16] nhomar commented on #52948
Hello @qdp-odoo

Yes exactly, (I am using it to fast reporting options) and visibility there helps a lot.

[2020-06-22 04:53] obayit opened #53373 "[Time Zone] Africa/Khartoum timezone is wrong"
**Impacted versions:**
13.0, 12.0, 11.0 (maybe all of them)
**Steps to reproduce:**
Change timezone to 'Africa/Khartoum'
**Current behavior:**
The offset is +3
**Expected behavior:**
The offset should be +2
**Screenshot:**
![screenshot-gsk-erp com-2020 06 22-06_02_36](https://user-images.githubusercontent.com/20386024/85247429-030f3b00-b44e-11ea-9e6a-2e6aa63ba748.png)

I live in Khartoum, thus the

[2020-06-22 05:32] hbto commented on #37469
@nim-odoo @qdp-odoo @oco-odoo @antonylesuisse @fpodoo

Is someone trying to fix this issue in master / main?

As far as I can see in [master](https://github.com/odoo/odoo/blob/master/addons/account/models/account_move.py#L3906-L4014) there is a new code but the old bugs are still there. Multicurrency reconciliation isn't right.

It seems nobody took the time to read this https://github.com/odoo/od

[2020-06-22 05:40] ZERO20 commented on #24405
works for odoo 13?

[2020-06-22 06:05] hbto commented on #37469
cc/ @jtijerino

[2020-06-22 06:11] satriaone opened #53374 "how to install my new odoo 13 enterprise on mac catalina"
Impacted versions: 13

Steps to reproduce:

Current behavior:

Expected behavior:
![2019 odoo cant find server](https://user-images.githubusercontent.com/3284345/85254189-e5f85d80-b489-11ea-8206-f30806b14323.jpg)

Video/Screenshot link (optional):

[2020-06-22 06:15] xmo-odoo commented on #50552
@Yenthe666 "don't use jinja 2.11.0~2.11.1" I'd say. Especially for 11, there's very little chance we'll migrate *that* to PEP451 loaders, even less so as (IIRC) it's still python-2-compatible.

13.0 doesn't use hooks for the addons path anymore (only to convert between the openerp and odoo "namespaces") thanks to @Julien00859 so might be we don't even need to register a loader anymore.

[2020-06-22 06:44] pedrobaeza commented on #53374
Please follow https://www.odoo.com/documentation/13.0/setup/install.html#mac-os

[2020-06-22 06:44] #53374 closed

[2020-06-22 06:51] pedrobaeza commented on #53373
@mart-e can you check?

[2020-06-22 06:54] pedrobaeza commented on #53372
That's because the translation on your system is incorrect. Try to load latest translation, and if still not working, then the translation should be incorrectly translated in Transifex. See https://github.com/odoo/odoo/wiki/Translations on how to contribute to translations.

Closing as this is an issue with translations, not with code, and should be handled at Transifex level.

[2020-06-22 06:54] #53372 closed

[2020-06-22 07:04] mart-e commented on #53373
Hello,

Does
[code]

Are you saying returns `+0300` ?
I just tried on my side and it was `+0200`. Might it be because of outdated pytz database (the stackoverflow question talks about 2017)? What is your versions used?

[2020-06-22 07:08] pedrobaeza commented on #52554
Hi @LFPSGS

This seems a problem in translations to that language, that are not respecting the placeholders and HTML tags. Can you please take a look at https://github.com/odoo/odoo/wiki/Translations to see how to fix the translations?

[2020-06-22 07:14] obayit commented on #53373
pytz==2016.7 :D
I updated it and now it shows `+0200'

[2020-06-22 07:14] #53373 closed

[2020-06-22 07:34] jco-odoo commented on #37469
@tsb-odoo

[2020-06-22 08:59] smetl commented on #37469
@hbto We are currently aware of that. We have in mind two approaches that will fix the issue:
- Fixing the outstanding widget that shouldn't show amounts in invoice's currency to be more consistent regarding the reconciliation when done in company's currency.
- Reconciling everytime in foreign currency and then, get the same result as the oustanding widget.
We are investigating both solutions but

[2020-06-22 09:45] taifu opened #53395 "[Odoo 12.0] Domain for partner_bank_id field not set in invoice modify"
https://github.com/odoo/odoo/blob/39c9ac02d42a9280caf41770efd2f91d096b52cf/addons/account/models/account_invoice.py#L881

This domain is set only after a change on Partner field. If I don't change the partner, I can see all partner_bank record, even those related to Contacts (res_partner) and this is a HUGE privacy problem!

[2020-06-22 09:54] pedrobaeza commented on #53395
This is a known limitation of domains through onchanges. This will change on v14, but for now not sure if it should be fixed. I don't consider it as a security problem not data leak, as you can see the same that data through other menu entry, but let's see what @qdp-odoo says about this.

[2020-06-22 10:03] Julien00859 commented on #50552
Indeed, looks like we can remove this

[2020-06-22 11:24] akselon opened #53403 "Can not use international signs in Email Aliases"
Impacted versions:
13

Steps to reproduce:
1. Install Recruitment app,
2. Create a job position with email alias: testß@yourdomain.odoo.com
3. Try to add a new applicant to this job position.
4. If no error appeared yet, you can try to log a note.

Current behavior:
When Odoo tries to send an email to the applicant, it is computing the reply-to field:
https://github.com/odoo/odoo/blob/13.0/addons/

[2020-06-22 12:47] hbto commented on #37469
Hello @smetl

Thanks for the briefing.

Bear in mind that Accounting people when auditing will check that:
- Trail Balance FromDate-AtDate
- Aged Payable/Receivable AtDate
- Invoice Cut-off  AtDate

Must summarize the same values.

And the realization of FX is expected to happen whenever a document is fully settled according to IAS 21.

Regards.

[2020-06-22 12:47] odony commented on #52570
PR welcome ;-)

[2020-06-22 12:49] hbto commented on #37469
Addendum:

The actual issue with the current approach to reconciliation is trying to keep hidden the fx/realization until whole chain of reconciliation is fully reconciled.

[2020-06-22 13:49] Yemeni commented on #46356
I found a fix for this, I will push the commit for it

[2020-06-22 13:53] Yemeni commented on #46356
please add label

 it should be in RTL, but the toolbar gets messed because one some portions of the toolbar to gets shifted right to left and the other half stays as left to right because it's generated through javascript

[2020-06-22 14:05] Yemeni commented on #46356
Please add the label of odoo 13 too because this issue also appears to me in odoo 13 @pedrobaeza

[2020-06-22 14:46] qdp-odoo commented on #53395
indeed, if you want to restrict the visibility of res.partner.bank records you should add a record rule to filter them. Otherwise, those records will still show up elsewhere.

And by default, I don't see why we'd set up such a record rule, so I'm closing the bug report.

Thanks anyway for your contribution

[2020-06-22 14:46] #53395 closed

[2020-06-22 14:54] odony commented on #53371
Thanks for your investigation!

My gut feeling: trying to fix all duplicates is a waste of time. But I could be wrong ;-)

First of all, ~80% of those dupes are from m2m tables because of the redundancy between the UNIQUE constraint and the FK indexes. So ~300 (relatively small) indexes can be dropped by [removing this line](https://github.com/odoo/odoo/blob/fdc83c6f5be464ebac3432dc21cec5f9d65b5a5

[2020-06-22 15:14] odony commented on #53362
The `thread.testing` flag is specifically meant for the main thread that is loading the demo/test files during module installation. This is different and is needed also when the server is not loaded with `test_enable` (for demo files).

Anyhow `HttpCase` [puts the registry in test mode](https://github.com/odoo/odoo/blob/12.0/odoo/tests/common.py#L880), so that other threads share the same TestCurs

[2020-06-22 15:14] #53362 closed

[2020-06-22 15:19] ericzen commented on #53190
Hello
I've the same issue on premise version odoo 13. Fresh install on a demo base install and only website installed.
Regards

[2020-06-22 15:20] taifu commented on #53395
You are wrong. In invoice creation Odoo correctly filters the account bank to prevent to mistakenly choose a employee bank account. In invoice editing Odoo doesn't do that because is not possibile, not because is not right.

[2020-06-22 15:32] MurKit commented on #24990
looks like it wasn't solved yet?

[2020-06-22 15:45] Yemeni commented on #46356
summernote edior's toolbar can be rendered from right to left, modifying the generated script from
`style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -203px, 0px);"`
to
`style="position: absolute; will-change: transform; top: 0px; right: 0px; transform: translate3d(0px, -203px, 0px);"`

but for now I've just added `style="direction:ltr;"` to force

[2020-06-22 15:53] abhishekms123 commented on #53190
Check the log file of odoo 13 , I have solved the problem by checking the
log. The problem is  file is missing in add-ons locale location, so create
the file using touch cmd (missing file will be mentioned in log file)

On Mon, 22 Jun, 2020, 8:49 pm ericzen, <notifications@github.com> wrote:

[2020-06-22 15:57] fmdl opened #53450 "[Idea][Core] @api.override"
Hi @xmo-odoo , @rco-odoo

Odoo is updated each year, and each year some method are renamed or removed.
If in V12 you have inherit a method in a custom module, in V13 this method is removed, when you start Odoo V13, Odoo don't check if the initial method existing.

Exemple
in Odoo module
[code]

in custom module
[code]

During the load of Odoo (or upgrade), by the decorator @api.override, Odoo chec

[2020-06-22 16:04] pedrobaeza commented on #53450
Personally I think that you have this problem because you don't have enough test coverage for assuring that.

[2020-06-22 16:19] Larsvd-digimedio opened #53455 "Sign module formatting cuts text with long sentences"
Impacted versions: V13 enterprise

Steps to reproduce: Create a template place some date, text or multiline text boxes on the document. Sign document: enter a long textline or a long date in the boxes, keep typing, there is no limit in the length of the box for a user. Submit form when done. Check signatures for the result. when using the download document button you'll get a PDF with text cut off

[2020-06-22 17:01] moylop260 commented on #53371
Hi Olivier
Thanks for reply
Ok, I got it

I was going to make a PR in master to remove the following line:
 - https://github.com/odoo/odoo/blob/fdc83c6f5be464ebac3432dc21cec5f9d65b5a56/odoo/fields.py#L3271

But it was fixed in master from:
 - https://github.com/odoo/odoo/pull/31519

by @gdgellatly

So, it is fixing ~80% of the redundancy

The other ones we could add a unittest running the same que

[2020-06-22 17:01] #53371 closed

[2020-06-22 17:05] pedrobaeza commented on #53455
As this module is an enteprise one, please put the issue in odoo.com/help instead of here.

[2020-06-22 17:33] luisg123v commented on #53362
Hi @odony,

Thanks a lot for the suggestion for fixing the decorator. However, I still consider that the reported issue is valid. In the posted examples, when the testing flag is not present, [changes are auto committed](https://github.com/Odoo/odoo/blob/517a13b967a07fe1e71b9c5308d185c4e45f1a2d/addons/crm/models/crm_lead.py#L1545). I'm aware that changes are not usually auto-committed during tests

[2020-06-22 17:41] Yenthe666 commented on #52570
I'll put that onto my todo list, I have some others in line too. Just add a `type="password"` I assume you mean?

[2020-06-22 17:42] Yenthe666 commented on #50552
@Julien00859 can you make a PR/task to remove it then? ;)

[2020-06-22 19:35] BlissNomad commented on #52209
Update: I have gotten past this error by setting up the configurations in the template to use the correct email server.

Now we have another error though. Will create a new thread for it.

[2020-06-22 19:35] #52209 closed

[2020-06-22 19:39] sswapnesh commented on #53368
Added https://github.com/odoo/odoo/pull/53463 to make this work.

[2020-06-23 01:05] cvinh commented on #7028
@LuceEasyPme I think you solved only multiwebsite/multicompany with OCA's module. How do you manage multi alias domain (for emails) ?

[2020-06-23 05:37] akselon commented on #53403
I created an account on oddo.com. It does not support utf8 as well. When I send email from Gmail to Odoo, I get this email back:

Mail Delivery Subsystem <mailer-daemon@googlemail.com>
**Delivery Status Notification (Failure)**

_local-part of envelope RCPT address contains utf8 but remote server did not offer SMTPUTF8_
Final-Recipient: utf8-addr; testß@XXX.odoo.com
Action: failed
Status: 5.6.7
Re

[2020-06-23 06:08] elperrofarelo opened #53474 "[All versions][Fleet] Odometer creation from fuel log"
Impacted versions:
All versions

Steps to reproduce:
A new odometer record is always created after giving a new odometer value in fuel log.
The problem comes when there is a typing mistake in the odometer value and we want to correct it, then a new odometer record is created and the old wrong odometer record maintains.

Current behavior:
    def _set_odometer(self):
        for record in self:

[2020-06-23 06:41] xmo-odoo commented on #53450
@fmdl so something like Java `@Override` annotation?

[2020-06-23 07:27] pedrobaeza commented on #53474
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-06-23 07:30] pedrobaeza commented on #53403
But the problem then is that mail servers doesn't support that characters, so basically you are restricted everywhere, so better to not use them. Anyway, the codification problem seems to be only on your side.

[2020-06-23 08:19] #53190 closed

[2020-06-23 08:40] #52459 closed

[2020-06-23 09:31] sle-odoo commented on #51592
I'm not sure there's an issue, the result will be multiplied by the qty_invoiced.
Can you explain a little better the issue? The method pointed at is related in the stock valuation, did you find the issue in the accounting entries?

[2020-06-23 10:33] elperrofarelo commented on #53474
Hi.
It's not a code error itself. It only appears when someone types a wrong odometer value in fuel log / service log and saves it, then ALLWAYS a new odometer record is created. My code proposal works checking before if there's an odometer_id and modifying it instead creating a new one.
And yes the "problem" can be reproduced in runbot

[2020-06-23 10:35] pedrobaeza commented on #53474
But please specify the steps to reproduce it. How do you get to modify that odometer that way?

[2020-06-23 10:37] fmdl commented on #53450
I don’t know java code.
But yes something like that (with a check, to prevent dead code after migration).

[2020-06-23 18:32] abdallamohamedcore opened #53533 "[11.0] cloc implementation"
Hello
I need to know if "cloc" will be implemented in version 11.0?

[2020-06-24 03:16] deivislaya opened #53535 "[12.0 e] stock: Negative quant, in current stock with availability"
**Impacted versions:** 12.0 e

**Steps to reproduce:**

1.  Create a new location of type internal in WH/test
2.  Create a new product test  with disponibility to hand of 100.0  in WH/stock
3.  Create a new transfer from WH/stock to WH/test with 50.0 product test and a package destination, for example, TESTPACK and validated it.
4.  Create a new transfer from WH/test to WH/Stock/Shelf 1 using TEST

[2020-06-24 06:26] Yenthe666 commented on #53533
Hmm cloc is there for V12 & V13 and I thought they where going to add it for V11 too.
@antonylesuisse can you confirm?

[2020-06-24 07:09] xmo-odoo commented on #53450
That's exactly the what Java's Override does (though at compile-time obviously) yeah:

[2020-06-24 07:53] grzekru opened #53539 "[13] Issue/Question: account.move.line monetary fields not rounded"
**Impacted versions:**

13

**Steps to reproduce:**

Create invoice with line:
unit price: 70
tax: 23%

**Current behavior:**

Not sure if this is a bug, values are correctly rounded in sale.order.line but not in account.move.line

Monetary fields price_subtotal and price_total not rounded in database

![image](https://user-images.githubusercontent.com/5862658/85517466-9176ee80-b5ff-11ea-8d91-4ea5

[2020-06-24 08:13] Yenthe666 commented on #53539
I don't see a problem in it as they're rounded in the UI & this allows doing whatever you like with the numbers from a db-perspective. @qdp-odoo can you confirm?

[2020-06-24 08:41] grzekru commented on #53539
I always expected monetary field to return value rounded to two decimal places (in code).
Maybe that was a bad assumption. Added float_round to my custom method.

[2020-06-24 10:43] saibhargav08 commented on #52959
Hi,

We are having this issue very frequently on our production servers. @Yenthe666 Can you provide any insights on this issue?

[2020-06-24 13:16] theangryangel commented on #51592
The customer I'm working with is adamant the cost of goods journal entries are not correct in the instance of nested items. However I'll be honest it's a little

[2020-06-24 13:18] theangryangel commented on #51592
The customer is adamant that the cost of goods isn't correct with nested items. That said the stock journals isn't an area I know well currently. What I'll do is go back to them, build up a little practical case with numbers and come back to you.

[2020-06-24 13:47] fmdl commented on #53450
@xmo-odoo could you keep me in touch if you implement that. Regards

[2020-06-24 13:50] Yenthe666 commented on #52959
Why have you commented out the workers? 2 CPU's for 8GB of RAM isn't really great either.
Have you checked https://www.odoo.com/documentation/13.0/setup/deploy.html#builtin-server?
CC @pedrobaeza

[2020-06-24 16:14] intero-chz commented on #53533
Bit off-topic: is there any documentation about what will be counted and what not (excludes)?

[2020-06-24 16:51] captivea-cko opened #53616 "Unable to install Attendances app"
Impacted versions:
12

Steps to reproduce:
Go to apps - Attendances - install

Current behavior:
Install fails due to an External ID error

Expected behavior:
App installs

Video/Screenshot link (optional):
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/tools/cache.py", line 88, in lookup
    r = d[key]
  File "/home/odoo/src/odoo/odoo/tools/func.py",

[2020-06-24 23:24] ray-odoo commented on #43717
Just ran into this today.   I found products that are now services or consumables that were once storable.

[2020-06-25 04:48] saibhargav08 commented on #52959
@Yenthe666 Reg workers we don't have much load as of now
Hence we want to go with the default configuration
And also from the link provided 4 CPUs with 8 workers need 9GB so we think our configuration enough for the default configuration.

Let us know in case it is not

[2020-06-25 04:50] hbto commented on #37469
@smetl

The Following is a [Google Sheet](https://docs.google.com/spreadsheets/d/1RfBmnzfLHRAdQAyBI1qXZSSMo5JfxkNGHJt5kek75E8/edit#gid=1231947438) file where Journal Entries with a real case scenario of a single multicurrency reconciliation is performed.

Each Journal Entry depicts a Vendor Bill / Vendor Refund / Payment to Vendor.

Reconciliation must be performed as follows:

- Each reconciliati

[2020-06-25 06:00] akloptim opened #53622 "Procurement: run scheduler failed to finish"
Impacted versions: V12 Odoo.sh

Steps to reproduce: Run the scheduler manually or Wait until the execution time

Current behavior: Now the procurement scheduler works and reserving available products to stock move. But it not finishing and Next Execution Date not updating. While inspecting database queries, the scheduled query still active and keep in an ideal state.  Also, the scheduler now tryin

[2020-06-25 06:33] Yenthe666 commented on #53533
@intero-chz see https://www.odoo.com/documentation/13.0/reference/cmdline.html#cloc and see https://www.odoo.com/documentation/13.0/reference/cmdline.html#processed-files for excluding some parts at

[2020-06-25 06:43] pedrobaeza commented on #53622
Are you sure you don't have any custom server action in your DB linked to `stock.move` update?

[2020-06-25 06:47] akloptim commented on #53622
Nothing

[2020-06-25 06:48] pedrobaeza commented on #52959
Sorry, seeing the `segfault`you have a faulty hardware or out of resources one, but that has nothing to do with Odoo itself. Anyway, workers are always advisable.

Closing this as no Odoo issue, but deployment one.

[2020-06-25 06:48] #52959 closed

[2020-06-25 06:50] pedrobaeza commented on #53622
Can you revert before that commit again to check if it finishes?

@sle-odoo @amoyaux FYI

[2020-06-25 07:00] pedrobaeza commented on #53616
It seems you have an altered DB without that view, as the module is installable without problems. You can try it on runbot.

Try to update `base` module in your DB. Anyway, closing this as no Odoo issue, but specific DB one.

[2020-06-25 07:21] akloptim commented on #53622
I can't revert the commit because the server hosted in Odoo.sh. But I am sure my Procurement scheduler's Next Execution Date not changed after the last commit.

[2020-06-25 08:01] ws-manatec commented on #43285
can also be reproduced in 12

[2020-06-25 08:45] qdp-odoo commented on #53539
actually, values are rounded. Those are just floating values that goes with the decimal representation of floats in python... And that ain't a problem since they're not significant

[2020-06-25 09:15] sle-odoo commented on #53622
This commit should not break the scheduler, it only touches to the return moves generation. Your issue is probably elsewhere and i'd suggest to open a ticket on the regular channel so that the support can inspect your database.

Regards

[2020-06-25 09:15] #53622 closed

[2020-06-25 09:52] luffah opened #53637 "[12][XMLRPC] xrpc.client.Binary field not written on Odoo"
Impacted versions: 12

Steps to reproduce:
write a binary field (a logo for example), with xmlrpclib (or oerplib) to odoo .
[code]

Current behavior:
Crash with:
[code]
The side effect is that external application that were compatible in 6 are no more compatible with Odoo 12 on this specific point.

Expected behavior:
Writing the logo as it could work with the following dirty patch.
[code]

[2020-06-25 09:54] pedrobaeza commented on #53637
You have to encode yourself the binary content and pass it as regularly. This can be a wishlist, but there's no intention to be done IMO.

[2020-06-25 10:04] ws-manatec opened #53639 "Wrong Journal in Exchange rate booking"
Impacted versions:12

Steps to reproduce:
step 1: activate multi currency and check if you have 2 or more rate entries in one of the currencies if not create
step 2: go over the dashboard of accounting and click on the journal for sale (customer invoice)
step 3: create or select an invoice that is not in the company currency:
step 4: pay the invoice on  a date that has is in an other currency rate

[2020-06-25 10:12] luffah commented on #53637
Sad for retro-compatibility.

[2020-06-25 10:16] pedrobaeza commented on #53637
@xmo-odoo do you think this should be handled at the first XML-RPC endpoint level?

[2020-06-25 10:46] xmo-odoo commented on #53637
@pedrobaeza I think we could just set `use_builtin_types` which was introduced in Python 3.3. It *might* even allow people to use "proper" datetimes over RPC as that's often what is used internally.

[2020-06-25 10:49] pedrobaeza commented on #53637
Yeah, good idea, should this be introduced in stable branches?

@luffah anyway, you would need to change your code for not using xmlrpclib.Binary

[2020-06-25 10:55] xmo-odoo commented on #53637
I'll have to ask @odony but since we don't currently care for the Binary and Datetime wrappers the only thing it should do is... allow more stuff in and that's it.

Not even! The flag is just used when deserialising: instead of using the xmlrpc wrappers it just deserialises to the native types, and that's it. There's no change in wire protocol.

[2020-06-25 10:57] pedrobaeza commented on #53637
Oh, cool, everyone wins! I wish all the issues can be solved in this satisfactory way.

[2020-06-25 11:23] xmo-odoo commented on #53637
Turns out I spoke too soon: it only works with empty values, because the image processing pipeline still expects to get base64 data. Empty data is fine because an empty base64 and an empty not-base64 looks the same, but it chokes on non-empty data.

[2020-06-25 11:28] pedrobaeza commented on #53637
Well, any way the improvement would be welcome for those using XMLRPC intensively (I'm not one of them, as I avoid integrations. I prefer to spend budgets improving Odoo instead of connecting it with other software).

[2020-06-25 11:57] luffah commented on #53637
A future module that could be added in OCA  ?

Note : For my models, i use this function as a workaround.
[code]

[2020-06-25 13:15] ericzen opened #53673 "website : top menu empty if in different language"
Impacted versions:
Odoo 13.0+e-20200625 (Enterprise Edition)

Steps to reproduce:
Reproduce on a fresh install and only website builder install.
You make your first install with an other language than english. In my case French.
You create a new website and use French as default language.
You install a second language : English.

Current behavior:
You go to the website to see the home page. In Fre

[2020-06-25 15:37] vikasdeep051 opened #53697 "Delivery : Rate Shipment call twice while selecting delivery method from website"
Impacted versions: 12.0 and 11.0

Steps to reproduce:
Select any Delivery method while purchasing product from website, then **rate_shipment** method calls twice.

Current behavior:
While selecting delivery method from website, method calls from js and controllers reaches to method **_check_carrier_quotation** (in website_sale_delivery/models/sale_order.py), in this
1.  odoo calls **get_delivery_p

[2020-06-25 15:38] antonylesuisse commented on #52948
ok

[2020-06-25 15:44] pedrobaeza commented on #53697
I agree it's not optimal, but is there any bug being called twice?

[2020-06-25 16:04] mohitg1213 commented on #53697
no bug yet.
Actually rate_shipment function communicates with third party shipment methods like DHL, FEDEX, UPS etc in order to fetch delivery price on that order, time taken by this method can usually between 1 sec - 5 sec when called once, but when it called twice it turns into 2 sec - 10 sec, which is not good i guess

[2020-06-25 16:22] luffah commented on #53637
@pedrobaeza @xmo-odoo the issue was not the b64encoding : it is that Odoo can't manage xrpc.client.Binary field.

Sorry for the confusion.

The addition of b64encode was linked to wrong written tests cases. (which was using xmlrpclib through oerplib in python)

On the case i encounter issue, the binary is well encoded in base64 before sending. (using php-xmlrpc)
This case can be managed as describ

[2020-06-25 16:27] pedrobaeza commented on #53637
@luffah `xrpc.client.Binary` objects mustn't be handled at that level, so the patch should be another.

[2020-06-26 05:41] xmo-odoo commented on #53637
It's really that you're trying to write binary data to an image field, and image fields are in base64. Supporting Binary doesn't change this specific issue, because you'd still have to encode to base64, which you can't do blindly because actual binary data is not *invalid*.

There are "raw" binary fields in Odoo but they are few and far between in Odoo, for various reasons historical and otherwise

[2020-06-26 08:35] jguerriat opened #53709 "DHL Delivery should not require administration/settings right"
Impacted versions:
13.0

Steps to reproduce:
- install dhl_delivery
- configure your DHL shipping methods (demo data are sufficient)
- create a stock.picking using a DHL shipping method
- try to validate it with an inventory manager (who is not member of administration/settings group)

Current behavior:
- the validation will fail because you needs to be in the administration/settings group

Expect

[2020-06-26 08:45] pedrobaeza commented on #53709
`dhl_delivery` is not an Odoo module, so you have to put the issue where that module was got, not here.

[2020-06-26 08:45] #53709 closed

[2020-06-26 08:57] jguerriat commented on #53709
Hm indeed its odoo enterprise. My bad

[2020-06-26 09:00] pedrobaeza commented on #53709
If it's an enterprise one, put a ticket in odoo.com/help about that.

[2020-06-26 09:04] jguerriat commented on #53709
Ok thanks, i'll do that

[2020-06-26 09:35] xmo-odoo commented on #53450
@fmdl I've been thinking about it, and I think we could get most of the benefit (and more, in fact) at a relatively acceptable cost if we just check all model methods which use super(). This way the code can be checked as-is without the need to explicitely annotate anything: #53721

Pro: no need to touch the existing code, it all gets checked (and I have to verify them but it looks like we have a

[2020-06-26 10:13] vikasdeep051 commented on #53697
yes completely agreed with mohitg1213,
if any shipping method is taking 5 sec for fetching rate for single hit, then it will be 10 sec for 2 hits simultaneously, and the end customer who is purchasing products from our client's eCommerce have to wait for 10 sec just to check the rate for shipping charges, that's never good for the end customer nor for our client who is using a prominent eCommerce.

[2020-06-26 11:36] jcarlosmontoya opened #53732 "Error libsass==0.17.0 Pysopg2 in Ubuntu 20.04 LTS and Python 3.8"
Impacted versions: 13.0, master

Steps to reproduce:
Try install Odoo from source
`pip3 install -r requirements.txt`

Current behavior:
When you try install Odoo from source and execute this command Error Appears:
`pip3 install -r odoo_path/requirements.txt`

`ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tm

[2020-06-26 11:40] d-fence commented on #53732
Hello, it seems that you need some build tools.
Probably g++ here

[2020-06-26 12:20] jcarlosmontoya commented on #53732
@d-fence Thank you, but  I have had installed all packages and dependencies before, gcc, dev libraries, etc., I always follow the Oficial Odoo Install from source (Odoo Documentation)
I just to run on Hetzner VPS

[2020-06-26 12:34] #53450 closed

[2020-06-26 13:06] Yajo opened #53738 "The lang field cannot be used in a relational field context"
Impacted versions: 12, 13

Steps to reproduce:

1. Log in odoo and set your user language as English.
1. Create a partner.
1. Check is a company = true.
1. Set its language as any other one (say Spanish).
1. Add a contact in that company.
1. Save.
1. Go search that contact's full form.

Current behavior:

The contact inherited *your* language, not his parent company's.

This is probably because th

[2020-06-27 00:13] yassinelachgar commented on #50496
Could your provide me with a module that has the many2many binary ?

[2020-06-27 11:28] jackson-rpdcool opened #53764 "Could not get content for /base_accounting_kit/static/src/scss/style.scss defined in bundle 'web.assets_backend'."
Impacted versions: ODOO Community v13 in windows 10

Current behavior: After Installing Base Accounting Kit Module from Cybrosys in my DB, CSS files crashed and not able to load thereafter.. I have tried all the possible ways to correct this issue but in vain. Even uninstalled all the custom modules but it is not working. I have contacted Cybrosys about this issue sent my DB and custom modules and

[2020-06-27 11:30] Yenthe666 commented on #53764
@jackson-rpdcool sorry but those issues are related to that app/your deployment. Please open a ticket with the author of that module, this is not a default Odoo addon.

[2020-06-27 11:30] #53764 closed

[2020-06-27 11:46] jackson-rpdcool commented on #53764
Can you help me with the path for this style issue permissions plz so that i can find some solution. Author of the program as i mentioned earlier not supporting at all.

[2020-06-27 11:49] jackson-rpdcool commented on #53764
Can you help me with the path for this style issue permissions plz so that i can find some solution. Author of the program as i mentioned earlier not supporting at all.

[2020-06-27 11:56] Yenthe666 commented on #53764
Check all the asset paths in the module and if they're correctly build. Make sure your Odoo user has access to the files.

[2020-06-27 12:08] jackson-rpdcool opened #53765 "WARNING Test odoo.addons.base.models.assetsbundle: Error: Invalid CSS after ""
Hi All,

I am just a beginner and trying to understand and solve this issue..

If anyone came across such issue please help me out.

2020-06-27 05:52:41,358 13700 WARNING Test odoo.addons.base.models.assetsbundle: Error: Invalid CSS after "...2ac843ccbdf5 */": expected 1 selector or at-rule, was "/ *! =============="
        on line 15913 of stdin

   ------------------------------------------^
Th

[2020-06-27 12:15] pedrobaeza commented on #53765
Derived from #53764, so closing as there are third party modules breaking your DB

[2020-06-27 12:15] #53765 closed

[2020-06-27 12:22] jackson-rpdcool commented on #53765
Can you please help me sir to understand which module is that.. I have uninstalled all third party modules and tried still it was not working. If you can guide me how to solve this issue that will be a great help for me

[2020-06-27 13:51] Yenthe666 commented on #51992
Improvements made at https://github.com/odoo/odoo/pull/52536 and at https://github.com/odoo/enterprise/pull/10990

[2020-06-27 13:51] #51992 closed

[2020-06-27 13:51] #27221 closed

[2020-06-27 13:52] Yenthe666 commented on #32866
@qsm-odoo @Gorash could you guys give some feedback here please?

[2020-06-27 13:52] Yenthe666 commented on #39487
@odoongr can we get an update please? 🙏

[2020-06-27 15:37] gvansanden opened #53766 "Odoo web throws 404 when requesting static assets without session cookie breaking webcache"
Impacted versions: 13.0

Steps to reproduce:
Load the /web page in a browser, copy/paste a link to a css file to curl

Current behavior:
The request gets a 404 response

Expected behavior:
Static assets like images and CSS should load without the cookie and a 404 is an incorrect response anyway.

Video/Screenshot link (optional):
curl https://odoo-test.diamantipertutti.com/web/content/138897-e593c

[2020-06-27 16:02] pedrobaeza commented on #53765
Sorry, I can't help too much. Try to find the views (ir.ui.view) that loads that assets. You can ask on the forums. As a lesson, don't install third party modules in a production database for avoiding these problems.

[2020-06-27 17:46] qsm-odoo commented on #32866
@Yenthe666
For the general editor @dmo-odoo 's team can decide :+1:
For the website editor extension, nothing in progress about that but once @dmo-odoo 's team is done with the big refactoring they are doing, we plan to discuss the way the font sizes work so that they can be responsive and to encourage the use of 6 predefined font-sizes (= the ones of heading 1 -> 6 without forcing the text to be

[2020-06-27 18:29] senamo commented on #37758
Hi @Yenthe666  I am facing the same issue and I think it's certaininly an issue with odoo itself. I am facing the issue when I try to save some settings on the invoice settings page and this affects me on odoo CE once use nginx to access odoo via https

[2020-06-27 19:38] XJ-0461 opened #53767 "[Planning] Selecting planning template will change the desired start date and produce incorrect 24hr clock shift start and end times"
Impacted versions: 13.0

Steps to reproduce:
1. Go to demo.odoo.com
2. Planning > Schedule > By Employee
3. Click '+' to create new shift
4. Select a planning template
5. Desired start date will be replaced by the previous day and the indicated start and end datetimes of the shift will be incorrect.

Current behavior: A new shift will be created on the day before the desired start date, with incor

[2020-06-28 06:01] mkanderson opened #53768 "[mass_mailing] mail_server_id ignored when sending test mail"
Impacted versions: 12+

Steps to reproduce: Create an additional 'Outgoing Mail Server', create a new mailing using this server, send using the "Send Sample Mail" button.

Current behavior: Mail is sent using the default SMTP server. This causes the user unnecessary confusion.

Expected behavior: Mail is sent using the server specified in the mailing configuration.

Workaround/Fix:

[code]

[2020-06-28 13:34] yassinelachgar commented on #53767
That's weird, I followed the steps and it appears to be working as it should. It created the shift on the selected day.

[2020-06-28 17:46] alfadil commented on #53639
hi @ws-manatec
following your steps odoo create the exchange rate booking in "Exchange Gain or Loss Journal" see [see in runbot](https://3348519-12-0-b88bb7.runbot41.odoo.com/web?debug=1#id=10&action=486&model=account.invoice&view_type=form&menu_id=324)
go to the journal entry -----> reconciled entries:
you will see a line with "account receivable" and "Exchange Gain or Loss Journal"
regards

[2020-06-28 18:48] Linekio opened #53770 "onchange warning appears below the form view if target=new"
Impacted versions:
13.0

Steps to reproduce:
I added this code in project.task to send a warning if the employee have a leave :
[code]

Current behavior:
If I create a task from the gantt view, the warning popup is hidden by the form view

Expected behavior:
The warning popup should be appear over the form view

Video/Screenshot link (optional):

https://www.youtube.com/watch?v=dEjJFrjYAcM

[2020-06-28 19:31] nrome-n opened #53771 "cannot import name 'cloc' from 'odoo.tools' (/usr/lib/python3/dist-packages/odoo/tools/__init__.py) - - -"
Impacted versions:
odoo 13 docker
Steps to reproduce:
instating odoo docker with odoo enterprise module

[code]

Current behavior:
[code]

Expected behavior:
Be able to user odoo and create new odoo db

Video/Screenshot link (optional):

[2020-06-28 19:36] pedrobaeza commented on #53771
@d-fence it seems the new maintenance tool was not backed in Docker image. Can you please check for adding the dependency?

[2020-06-28 19:37] pedrobaeza commented on #53770
As this is something with the enterprise interface + enterprise, you should put a ticket in odoo.com/help. Any way, I keep the issue here opened for reference.

[2020-06-28 19:38] nrome-n commented on #53771
Hi pedrobaeza
how can I do that

[2020-06-28 19:42] pedrobaeza commented on #53771
@nrome-n It wasn't you. I have pong the corresponding person. Now you have to wait for his answer.

[2020-06-28 19:50] nrome-n commented on #53771
Sorry first time creating a issues on any GitHub and did not see the `@`
I am working on something I was able to bypass the issue by `from odoo.tools import cloc` and `class PublisherWarrantyContract` but that is not a good thing to do
Thank u I will be waiting

[2020-06-29 05:21] QusayERP opened #53773 "Odoo ERP"
Open Source Apps To Grow Your Business and help you manage your organization

[2020-06-29 05:47] #53773 closed

[2020-06-29 07:58] Elbagoury opened #53783 "Product Kit returns do not update sales order invoiced and delivered quantity"
Impacted versions:
Odoo 12,11 EE & CE
Solved in Odoo 13 EE & CE

Steps to reproduce:
1-Create a Product Kit
2-Create a new Sales Order for your Kit
3-Deliver and Invoice the Sales Order
4-Return the Sales Order

Current behavior:
Invoiced and Delivered quantity in sales order line not updated

![Kit Return](https://user-images.githubusercontent.com/9639673/85988136-4857dd80-b9f7-11ea-80b1-9863c790

[2020-06-29 08:04] pedrobaeza commented on #53783
Have you marked the check "To Refund (update SO/PO)"?

[2020-06-29 08:13] gbeuning commented on #35363
Note that there might be old translations around which are no longer correct after the reversal of 12:00 AM and 12:00 PM strings in #29803. This may lead to the apparent inversion as initially reported in this issue.

[2020-06-29 08:22] Elbagoury commented on #53783
@pedrobaeza yes.

[2020-06-29 08:28] Elbagoury commented on #53783
@pedrobaeza it is on odoo runbot now, item name Bagoury Kit

[2020-06-29 08:37] d-fence commented on #53771
@nrome-n it should be fixed once the latest Odoo docker file is added in the docker library: docker-library/official-images#8272

Pay attention that this issue arises because the enterprise repo that you mount  `'./enterprise:/mnt/enterprise-addons'` is out of sync with the Odoo official image. The official docker images are snapshots of the Odoo code at a particular point in time.
In your case pr

[2020-06-29 08:44] Elbagoury commented on #53783
@pedrobaeza  , Yes, It is on [Odoo Runbot](https://3354394-12-0-7f4fcd.runbot49.odoo.com) now Odoo 12 EE, Item name **Bagoury Kit** inside **SO0038** & **SO0039**

[2020-06-29 08:51] odoongr commented on #39487
Hello @Yenthe666 @pedrobaeza
There is no plan to sequence optional fields in treeview for the upcoming version.
Thanks

[2020-06-29 10:11] Feyensv commented on #53738
It has been fixed in https://github.com/odoo/odoo/pull/48077 for 13.4+ versions.
@tde-banana-odoo Do you think the fix could be backported ?

[2020-06-29 11:28] Yenthe666 commented on #53768
@tde-banana-odoo for your reference

[2020-06-29 14:24] yung-wang opened #53818 "[13.0] Media Images with higher ID than 1000 wont be shown in Product > eCommerce tab"
Impacted versions:
[13.0]

Steps to reproduce:
1. Make sure you have more than 1000 media images or maybe you can update the ID to higher than 1000.
2. Make sure, you will use a language with a thousand separator configured.
3. Go to your Product > Tab eCommerce. You will see that the pictures are not shown (like screenshot)

![ksnip_20200629-162630](https://user-images.githubusercontent.com/30628

[2020-06-29 14:47] Yenthe666 commented on #53818
@dbo-odoo 😉

[2020-06-29 14:56] olivierb2 opened #53822 "[13] Issue on minor Odoo 13 upgrade with l10n_ch"
Impacted versions:
[13.0.20200623]
Steps to reproduce:
Run the following command as odoo user

`odoo -d <bd> -u all --addons-path="/opt/odoo/addons/,/usr/lib/python3/dist-packages/odoo/addons"`

Current behavior:
Getting the error bellow
Expected behavior:
Having my database upgraded succesfully

[code]

[2020-06-29 15:11] nrome-n commented on #53771
Hi @d-fence
I use docker for odoo development only but have no idea how docker work so thank you for the info and for your time
I have odoo.sh but it  takes a lot of time to commit -> push to GitHub -> wait for odoo.sh -> update module
but with docker I only use `-- --dev=reload` which works automatically and the only manual action is to update module in apps which i set as home action for my user

[2020-06-29 15:13] d-fence commented on #53771
We can close it as the latest docker image will fix it.

[2020-06-29 15:13] #53771 closed

[2020-06-29 16:57] abhi4u23 commented on #22916
[Yes](https://www.teamhindi.com/mirzapur-2-release-date/)
[Thanks](https://www.teamhindi.com/)

[2020-06-29 17:51] sshowers opened #53833 "Projects_Timesheets_GroupBy_Week not honoring first day of week"
Impacted versions:
13.0

Steps to reproduce:
On the Projects / Activities page select "Group By" then "Date" then "Week"

Current behavior:
Displayed records show starting on Monday, despite the language settings (EN_US) being configured for Sunday to be the first day of the week.

Expected behavior:
Records should sort/group based on language settings.

Video/Screenshot link (optional):
![2020062

[2020-06-29 18:08] pedrobaeza commented on #53833
The configured first day only serves for JS related stuff, but the group by week number goes through Postgres, and I would say anyway Sunday belongs to the previous week. @mart-e what do you think about this?

[2020-06-29 21:11] olivierb2 commented on #53822
Okay, after few searches, I found that commit (on previous version) contains a migration which fix the issue:

https://github.com/odoo/odoo/pull/51858/files

I ran this on a testing copy:

[code]

[2020-06-30 01:05] johnw-bluemark opened #53837 "Odoo sends duplicate e-mails when an e-mail client CCs to followers"
Impacted versions:
12.0, probably more

Steps to reproduce:

1. Create an invoice, sale order, or any other document that derives from mail.thread.
2. Add several followers to this document.
3. Send an e-mail on this thread from Odoo (send invoice/sale order or just a regular message).
4. Using an e-mail client, reply to the e-mail sent from Odoo, and add 1 or more of the other followers to the CC

[2020-06-30 03:12] JDSalcedo opened #53838 "Localization Perú l10n_pe v13"
**Impacted versions:** 13

**Steps to reproduce:** Install `l10n_pe`

**Current behavior:** This version install very great features in contrast with the previous version, but this current version include toponyms for Perú(Distritos, Provincias) and make changes in partner from. This impacts on the flexibility of implementations, other localization like HR needs toponyms but doesn't Accounting.

*

[2020-06-30 06:55] pedrobaeza commented on #53838
I don't see too much the toponyms data included in `l10n_pe` and they are probably included because the localization needs that data.

@jco-odoo can you tell us about that?

[2020-06-30 06:58] pedrobaeza commented on #53837
That's something expected, and it's logical that goes this way, as Odoo always resend what is posted in Odoo to its followers. Why? Because the original mail received by them (the CC one) doesn't contain the extra contain that Odoo provides. For example: the button to view the document in Odoo or other action links.

Closing this as expected behavior.

[2020-06-30 06:58] #53837 closed

[2020-06-30 07:18] jco-odoo commented on #53838
We don't have the policy yet to put this in a separate module (it is not done like this elsewhere for the moment).  We have been thinking about localization modules not depending on accounting, but that creates a lot of extra modules.  @mart-e

[2020-06-30 08:02] johnw-bluemark commented on #53837
The only extra information Odoo provides in the duplicate e-mail is a "partner signature" at the end, which is not exactly a valuable contribution. I'm not convinced you understood the issue, so to be extra clear, I'm talking about external e-mail replies that originate from e-mail clients like Outlook, Thunderbird, and G-mail. It wouldn't make any sense for Odoo to randomly insert a "view documen

[2020-06-30 08:07] pedrobaeza commented on #53837
The extra content depends on the user type to which that email belongs: portal or internal users will receive extra stuff. The mail is also important for tracking purposes.

Anyway, this is intended by design.

[2020-06-30 08:15] JDSalcedo commented on #53838
There are other areas to localice like Human Resources that needs Toponyms, Identification Identity, etc and Accounting it is not necessary. There are well know more than one module is necessary to hoold a Localization,

[2020-06-30 08:29] JDSalcedo commented on #53838
There are other areas that needs to be localice like Human Resources, Hotels, etc, and these areas share base modules like Toponyms, Identification Identity, Catalogs provided by the Tributary Entity, etc. Like @jco-odoo says that creates extra modules, but these are really necessary to maintain order and flexibility.

[2020-06-30 08:42] johnw-bluemark commented on #53837
Who's design exactly? This comment seems to indicate that sending duplicate e-mails is **not** by design

The duplicate e-mails are very unpleasant, and since Odoo does not let e-mail recipients know who has been included on the e-mail, the use of CC on existing followers is inevitable.

[2020-06-30 08:43] pedrobaeza commented on #53837
Odoo only send one. The other comes because it's in CC of your original email.

[2020-06-30 09:18] johnw-bluemark commented on #53837
I'm fully aware of where each copy of the e-mail comes from. But a duplicate is a duplicate. Odoo knows who received it. Odoo sends another copy regardless. You say it's for tracking purposes, but the mail.message record would still be there if the e-mail was only sent to those who are following, but didn't receive it. What tracking do you need beyond that?

[2020-06-30 09:19] pedrobaeza commented on #53837
Mail viewed tracking.

[2020-06-30 10:08] BT-sschmid commented on #46389
Same behaviour seen in V12

[2020-06-30 10:42] mart-e commented on #53833
Hi,

Indeed, postgresql follows the ISO 8601 which makes the first day Monday. Unfortunatly, the world is not ruled by ISO just yet.

[This article](https://blog.0101010.com/making-date-trunc-use-a-sunday-week/) gives a way to implement this, not sure about the performace impact.

The main question is : do we want that the `group by` result to be user dependant? I am afraid this would cause other

[2020-06-30 12:16] sshowers commented on #53833
If I may weigh in as ONE admin, representing ONE implementation (evaluation), I can say that we would want the setting to be at the COMPANY or INSTALL level so it's consistent across the entire gamut of apps.  I need to clarify, however, that we are not a multi-national / cross-cultural organization, and I can imaging other organizations that would say they want it to be user-based.

Having been a

[2020-06-30 12:56] bbekir commented on #28329
I have the same issue with odoo 13. Everythings working fine but there is no field something like title or note name.

[2020-06-30 13:58] lecciovich opened #53873 "Failed to load server-wide module `web` onchange() takes 1 positional argument but 3 were given"
Impacted versions: Odoo 12

Current behavior: Odoo fails to load server-wide module `web`

Expected behavior: Odoo load server-wide module 'web'

Hi,
while restarting odoo service from pycharm I have got errors starting from loading module 'web'.
postgresql service is running and web module.
the command launched form IDE is odoo-bin -c /home/user/Odoo/odoo-12.0/odoo.conf --dev=reload -u /home/user

[2020-06-30 14:03] pedrobaeza commented on #53873
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2020-06-30 14:03] #53873 closed

[2020-06-30 16:56] safwen1 commented on #33479
This problem is on Odoo 13.0 too. The workaround mentioned by @elementgreen seems to work.

[2020-06-30 17:45] escopak commented on #42429
@abdallamhafeez same is the case with Odoo 12 EE. Can anyone please have this resolved?

[2020-07-01 05:06] jva-odoo commented on #52210
@kunalgoel1 No it's not merged yet. @jco-odoo review is pending.
Thank you

[2020-07-01 06:08] Yenthe666 commented on #42429
@jco-odoo could you have a look maybe?

[2020-07-01 07:13] maksatmoda opened #53892 "13.0 Odoo stopped stock reservation for some products"
I remove stock reservation for some "Pick Step" records.  but now  products doesnt reserve stock included already removed picks.

How can fix or reset all products reservation states ?

If product not reserverd with sale order. then doesnt ready pick pack ship steps. i am editing all time manually

[2020-07-01 07:19] pedrobaeza commented on #53892
Sorry, this is not an Odoo issue, but a question about how to fix a touched DB. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here. Little tip: try updating base module for updating all DB.

Closing this by the reason above.

[2020-07-01 07:19] #53892 closed

[2020-07-01 09:12] SimoRubi commented on #37896
@qdp-odoo could you please re-open?
I've changed the description to stress the fact that the error happens for invoices with only one line, and I think it is pretty straight-forward that `round_globally` and `round_per_line` should behave the same (see https://github.com/odoo/odoo/issues/37896#issuecomment-630640367 for a more detailed explanation).

[2020-07-01 09:26] mohdshoaib04 commented on #43717
Same issue here.

[2020-07-01 09:36] qdp-odoo commented on #37896
mmh ok, that indeed seems dubious. We'll check that :+1:

[2020-07-01 10:10] pedrobaeza commented on #53253
FYI the problem in saas-13.4 is being fixed in #53898

[2020-07-01 10:23] AntoniRomera commented on #46421
Now with the latest version of 04-March of the IOT, I have the same issue, only makes correct print of the ticket the first time after reset the printer

[2020-07-01 10:23] apropsi opened #53900 "The POS order must have lines when calling this method"
Impacted versions:
12
Steps to reproduce:
Try to close POS
Current behavior:
Can't close POS
Expected behavior:
Should close POS
Video/Screenshot link (optional):
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/aprop/aprop-server/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/aprop/aprop-server/odoo/http

[2020-07-01 10:25] pedrobaeza commented on #53900
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-07-01 10:58] estekadigital commented on #25541
Althought I think this PR is a good approach, it is breaking my installation. When I try to install hw_escpos I get "No module named pyusb".
PyUSB is installed via `pip`, `pip3` and even `apt install python-usb` and `python3-usb`, so the library is there. I tried with all versions of pyusb, even the recommended pyusb==1.0.0b1, pyusb==1.0.0b2 , etc..

[2020-07-01 11:26] nivels commented on #43717
@pedrobaeza

same issue on our clients

[2020-07-01 11:30] pedrobaeza commented on #43717
I can ping @sle-odoo and @amoyaux for considering to extend the check not only changing UoM, but also product type, but no guarantee this is going to be accepted and more in current stable versions.

[2020-07-01 11:30] smetl commented on #37896
@nim-odoo This issue has already been fixed in saas-13.2 at revision:
https://github.com/odoo/odoo/commit/eec0b80756557ecd543a50f25b8f63f94e23de7c

However, you disagreed to merge it directly in saas-12.3 to avoid any trouble in stable version like POS closing entries. This is the reason why you made this instead:
https://github.com/odoo/odoo/commit/8982bef6e55d6878ff1a33135441c4e94461c047

What d

[2020-07-01 12:03] jco-odoo commented on #42429
It is not here: https://github.com/odoo/odoo/blob/9af6a8710715945ff739a382277e5c4cd929e146/addons/stock_account/models/account_move.py#L147

but not sure for earlier versions  @sle-odoo

[2020-07-01 18:06] dthapostle commented on #53102
I know. I see that many developers work on open-source version of Odoo. I think that w/o any upgrade option Community version has significant disadvantage. So it looks like one-way road: open-source contributors put their efforts to Odoo for free but Community version is not fully usable: you can't upgrade to latest  Community version.

[2020-07-02 04:05] Yenthe666 commented on #53102
It has always been the case and will probably always stay the case too.
If you want an open source alternative look at OpenUpgrade (https://github.com/OCA/OpenUpgrade)

[2020-07-02 05:11] JrDevCX001 opened #53935 "[14.0] Feature Improvement: Promo/Coupon - Range Based Discounts (eg. Buy 3 Get 10% OFF X, Y, Z Products; Buy 5 Get 15% OFF X, Y, Z Products"
Impacted versions:

- 13.0

- Master/14.0

Steps to reproduce:
Create a promotion with the following settings:

- Reward: Discount
- Quantity: 3
- Automatically Applied
- Apply 10% Discount on Specific Products (Product X, Y, and Z for example)

Now attempt to create another promotion with the same configuration except:

- Quantity: 5
- Apply 15% Discount on Specific Products (Product X, Y, and Z

[2020-07-02 05:22] bhavik1989863 opened #53936 "Wrong COGS calculation in the realtime costing with FIFO, angelo saxon accounting."
Impacted versions: odoo 12 enterprice

Steps to reproduce:
Angelo - Saxon accounting enabled in company , realtime fifo enabled in product category
purchase two units of same product at different price in same po.
For example :
product x - 10
product x - 15

now sale those both units in same so.and validate the customer invoice.

Current behavior:
Cost of goods sold journal item value as per the p

[2020-07-02 09:52] apropsi commented on #53900
I found the problem but i dont know how to solve it.
Problem is that POS has an order payed but without any product.
How can i solve that? Cant edit or delete.

[2020-07-02 09:57] pedrobaeza commented on #53900
If that situation comes using Odoo with its UI, then it's a bug that should be solved.

[2020-07-02 09:57] apropsi commented on #53900
It is, POS havent any extra module

[2020-07-02 09:58] pedrobaeza commented on #53900
But the steps to reproduce the problem of not having a product?

[2020-07-02 10:21] vmaxadmin commented on #49693
@Yenthe666 @pedrobaeza . Do you review this error yet?

[2020-07-02 10:22] pedrobaeza commented on #49693
Tags are put for Odoo stuff to check it and replied. There's no guarantee though that someone takes care of this. If you have an enteprise contact, put a ticket on odoo.com/help for being sure it will be checked and answered.

[2020-07-03 06:51] meetRathod commented on #53935
Its working as expected in runbot https://3421020-13-0-c9241f.runbot29.odoo.com/web#id=46&action=823&model=sale.order&view_type=form&cids=1&menu_id=585 sale order no S00045

[2020-07-03 08:29] akselon opened #54029 "Can not delete calendar event, if one of the attendees does not have access to any of currently chosen companies"
Impacted versions:
13.0

Steps to reproduce:
1. Activate multi company by creating two companies: Company A, Company B.
2. Add a user with access to booth companies and another one with access only to Company A,
3. Login on the user with access to booth companies and choose booth companies in the companies dropdown in the top right corner,
4. Try to create a new calendar event with yourself and th

[2020-07-03 10:26] GoodERPJeff opened #54038 "filter not work for small float number"
Impacted versions: 13.0 or others

Steps to reproduce:

search view, add Custom filter, select a float field, less than, 0.0000001

Current behavior:

Error:
Uncaught Error: Expected "]", got "(name)"

Traceback:
Error: Expected "]", got "(name)"
    at advance (http://140.207.25.194:6388/web/static/lib/py.js/lib/py.js:360:19)
    at F.symbol.nud (http://140.207.25.194:6388/web/static/lib/py.js/li

[2020-07-03 10:33] GoodERPJeff commented on #54038
After research I found when float less then 0.000001, js will convert it to Exponential, like 1e-7, this make the py.js wrog

[2020-07-03 11:27] jeffery9 commented on #54038
为什么要 查这么小的 数值 呢，精确度也不好保证呀。

[2020-07-03 11:45] leangjia commented on #54038
Good job.

[2020-07-03 14:09] cah-link commented on #49234
Hello There,
This issue is marked as closed. Is it solved?
How is its state?

Thank you.

[2020-07-03 14:10] Yenthe666 commented on #54038
@ged-odoo probably for your team to check (and if we even want to support it)

[2020-07-03 14:13] Yenthe666 commented on #49234
@cah-link it was made an internal task. As long as there is no feedback it means it is most likely still in the todo list and nothing has happened yet.

[2020-07-03 14:20] cah-link commented on #49234
@Yenthe666  I see.
Thank you for that quick reply!

[2020-07-03 16:13] jtmorris245 opened #54071 "[13.0] Contact Form always shows an error has occurred - /website_form/crm.lead returns 504"
Impacted versions: Odoo 13.0-20200417

Steps to reproduce: Setup Contact Form with CRM, Activate Leads, Assign Form to sales team and person.

Current behavior:
After submitting a contact form, the Post to /website_form/crm.lead always returns a 504, despite the server-side logs showing it completed in only a second or so. this means the form will hang for around a minuite and a half, then show a

[2020-07-03 16:15] pedrobaeza commented on #54071
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-07-03 16:33] #50527 closed

[2020-07-03 17:23] emenent98s commented on #27754
many thanks.. issue resolved

[2020-07-03 17:49] ebirbe opened #54081 "Access to write on sales orders should not be required to register payments"
Impacted versions:
12.0

Steps to reproduce:
- Create an invoice from a sales order and validate it.
- Create a restricted user profile capable to validate invoices, but with no access to `write` on `sales.orders`.
- Now using this restricted profile try to pay the invoice.

Current behavior:
- You get an Access Error because you need to have privileges to wirte on `sale.order` just to record a no

[2020-07-03 21:52] jtmorris245 commented on #54071
I haven't yet identified how to reproduce the issue in runbot, however I have no custom/community modules, and I've just tried updating to the latest version available on the odoo:13.0 docker tag (13-20200629), with no change.
I'm unaware of any configuration changes that could have caused this, there's nothing special set up, and everything else is working fine. The only reason I found the issue

[2020-07-04 08:04] akselon commented on #53403
Thank you for your answer @pedrobaeza  I don't know if use of those signs is supported on mail servers or not, but maybe it would prevent some confusions if we do not allow creating email aliases with those signs? Because currently if an email alias is created with those signs, Odoo throws errors.

The problem is not only on my side. It is reproducible on fresh Odoo online trial instance as well a

[2020-07-04 08:38] iblys commented on #47970
Hi, i think its normal behavior. Payment is already matched with invoice.
But the 'state' on payment will change to reconciled when you do the bank statement reconciliation and match it with this payment.

[2020-07-04 09:02] luffah commented on #53637
@xmo-odoo
Yes, sorry again.... please consider my data is already encoded to base64 on the client side.
The wrong part (referencing base64) was commented in the issue.

My previous comment was for considered the issue at this point :
  - binary datas are encoded to base64 on the client side
  - a xrpc request is sent to write encoded datas as `xrpc.client.Binary` to odoo
  - odoo receive encapsula

[2020-07-04 09:29] pedrobaeza commented on #53637
Maybe, I don't know enough current RPC architecture

[2020-07-04 09:47] pedrobaeza commented on #54071
There should be an error in the Odoo server logs. Please check it, but you should know how to do it, as it depends on the way you have deployed your server.

[2020-07-04 11:41] luffah commented on #53637
If it is managed in `odoo.addons.base.controllers.rpc`, then the modification to do could be really short : the fonction xmlrpc.client.loads shall be call with `use_builtin_types=True` introduced with python 3.3.

[code]

[2020-07-04 13:28] Baira opened #54084 "Error after enabling contacts module on odoo 13"
Impacted versions: odoo 13

Steps to reproduce: enable contacts module

Current behavior: error occured

Expected behavior: no errors

Video/Screenshot link (optional):

[code]

[2020-07-04 13:36] pedrobaeza commented on #54084
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-07-04 13:47] lbelorgey commented on #32744
Perharps it is not an issue but the desired behavior. The solution to hide this label is:
`<label for="current_owner" class="oe_read_only"/>`
`<field name="current_owner" nolabel="1" class="oe_read_only"/>`

[2020-07-04 14:09] jeffery9 opened #54085 "[i18n] can not contribute translation on transifex."
Impacted versions:

- all odoo version

Steps to reproduce:

1. login into transifex
2. switch to project odoo-13, and choose chinese to translate.
3. choose resource said account, try to mark translation as reviewed.

Current behavior:

1. can not mark translation as reviewed.
2. all chinese team member has loss the reviewer permission

Expected behavior:

Video/Screenshot link (optional):

- i h

[2020-07-04 14:15] pedrobaeza commented on #54085
@mart-e, for you.

[2020-07-04 16:02] pedrobaeza commented on #54081
That message is only posted when the invoice is paid, so your case is not correct.

[2020-07-04 18:37] farazda1 commented on #28070
@Yenthe666 was this possibility made available later to be able to modify header footer using studio ?

[2020-07-06 01:54] 2861934674 opened #54092 "对于/web/content的不安全性（odoo13）"
问题描述：记录规则可限制用户通过/web/content访问ir.attachment附件信息，但若使用fields.Many2many('ir.attachment',string="附件")时，限制改多对多字段无法限制到无权限用户访问ir.attachment，因此此处有个安全隐患是，用户可直接通过遍历数据来获取没被ir.attachment记录规则限制到的所有ir.attachment附件

[2020-07-06 02:02] 2861934674 opened #54093 "Insecurity for / Web / content (odoo13)"
Problem Description: record rules can restrict users' access through / Web / content ir.attachment Attachment information, but if used fields.Many2many () ir.attachment ', When the string is set to "attachment", the access of the restricted to many to many fields cannot be restricted to unauthorized users ir.attachment Therefore, there is a security risk here that the user can obtain the informati

[2020-07-06 03:31] lin-ww opened #54094 "tz_offset can not be used in filter domain in search view"
Impacted versions:
13.0

Steps to reproduce:
Add filter line in search view :
[code]

Current behavior:
raise error:
[code]

Expected behavior:
`tz_offset` has been add in  in python eval context in py_util.js.  I expect `tz_offset` could be used the same as `context_today`. Did I get any wrong?
See commit https://github.com/odoo/odoo/commit/9756109e670cef01b4d475c8cb6687fecdab2cd2

[2020-07-06 03:58] MjAbuz commented on #54071
I guess you have installed reCaptha and its not configured properly.

[2020-07-06 05:17] mart-e commented on #54085
Thanks for the notice, should be good now.
Closing and replying to the message sent on Transifex (not a github bug)

[2020-07-06 05:17] #54085 closed

[2020-07-06 05:21] MjAbuz opened #54095 "Bug reported on venv while running pip3 install using python version python 3.8"
Impacted versions:
`13
Running setup.py bdist_wheel for ebaysdk ... error
  Complete output from command /opt/odoo/odoo13-venv/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-rrftuu5z/ebaysdk/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmp6l629hn3pip-wheel- --p

[2020-07-06 06:27] #54095 closed

[2020-07-06 06:28] MjAbuz commented on #54095
I updated the wheel and all those bugs shows as not compatible version for my system and python

[2020-07-06 06:43] pedrobaeza commented on #54093
I don't get the problem, but please check: https://www.odoo.com/es_ES/security-report

[2020-07-06 06:43] #54093 closed

[2020-07-06 06:47] pedrobaeza commented on #54092
Only in English, please.

[2020-07-06 06:47] #54092 closed

[2020-07-06 07:19] xmo-odoo commented on #53637
Yes, but if you're properly sending base64 data from the client you have to b64encode it, so why not decode it to a string also. This might also be the source of the issue: with a python 2 client, encoding to base64 would yield `str` which is bytes but would be sent as string in the xmlrpc. With a python 3 client base64 encoding would yield `bytes` which would be sent as binary over the wire (and

[2020-07-06 09:39] kunalgoel1 commented on #52210
@jva-odoo Thanks for your contribution.

@jco-odoo Request you to please expedite the review on priority and arrange to merge the changes. Thanks.

[2020-07-06 12:23] txcom2003 opened #54132 "Bad network connection sometimes gives double entries"
Impacted versions: 12.0

Steps to reproduce:

1. Prepare 2 kind of connection (using Network Link Conditioner, or other) :

- Good Network Connection (Wifi)
- Bad Network Connection (low packet drop rate for uplink and high packet drop rate for downlink)

2. Create new entry (ex: create 1 new vendor bill line entry from existing vendor bill) while using good network connection, do not press save b

[2020-07-06 13:29] Yenthe666 commented on #28070
@farazda1 no, it is not yet implemented.

[2020-07-06 13:45] Yenthe666 commented on #54094
@ged-odoo do you know why this does not work? It looks like a legit case.

[2020-07-06 13:50] Yenthe666 commented on #53403
Hmm, I know we have had some discussions about it before. If I'm not mistaking the general rule/idea was to avoid these kind of names as they're not really officially supported. @mart-e probably knows a bit more 😄

[2020-07-06 13:52] jco-odoo commented on #52210
@kunalgoel1 We will discuss this as soon as possible, but we need some time to correctly evaluate this functionality.

[2020-07-06 16:18] Julien00859 commented on #53403
Hello @akselon, our official position on the subject is we don't want you register email addresses with anything else than ascii in the local-part (before the `@`) of addresses. To work such address need the `SMTPUTF8` extension to be enabled in the SMTP server, our SMTP server doesn't support it and there is quite a poor support out there on the internet. For the record, google mail prevent regis

[2020-07-06 16:19] pedrobaeza commented on #53403
@Julien00859 what about adding a constraint at `mail.alias` level for avoiding to save alias with that characters?

[2020-07-06 16:38] Julien00859 commented on #53403
That's exactly what we are going to do :)

[2020-07-07 01:19] txcom2003 commented on #54132
It seems that the browser retry the request when certain condition happened as mentioned in the following posts:
- https://stackoverflow.com/questions/15155014/inconsistent-browser-retry-behaviour-for-timed-out-post-requests
- http://geek.starbean.net/?p=393

this problem can cause duplicate entries and mess up our inventory and accounting data

I haven't used runbot infrastructure before, how to

[2020-07-07 03:33] jonatasartur opened #54159 "[13.0] Survey: Error 403: Forbidden when Print Survey or Answers"
**Impacted versions:**
Odoo CE 13.0 Updated until 29/05/2020

**Steps to reproduce:**
1. Install Odoo 13 with [InstallScript](https://github.com/Yenthe666/InstallScript)
2. Create a Database
3. Install Survey Module
4. Create a Survey with Questions
5. Click on Print Button (Action_Print_Survey) or print the answers (Action_Print_Answers)

**Current behavior:**
Redirect to page:
[code]
**Expected

[2020-07-07 07:25] pedrobaeza commented on #54159
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2020-07-07 07:32] pedrobaeza commented on #54132
Yes, the green one (Odoo changed the color recently). That link seems to refer to node.js.

[2020-07-07 09:57] kkarolis opened #54178 "[13.0] Removal of TransientModel if it has a Many2many field fails"
I encountered this issue while I was trying to remove a wizard with Many2many fields related to a normal model.

Impacted versions: **13.0**, commits checked,- [**fb377a8**](https://github.com/odoo/odoo/tree/fb377a8f1bf2bea020c14ea57997ea9078a54e5f) and [**0b27dc7**](https://github.com/odoo/odoo/tree/0b27dc797c35704c3c46965077dde4d369dc4efb) (current latest)

Steps to reproduce:

I have produced a

[2020-07-07 11:06] pedrobaeza commented on #54178
@sswapnesh I remember you faced this. Can it be?

[2020-07-07 11:52] Gokulakannanaj opened #54182 "[11.0] Can't able change string name in One2many by using fields_view_get"
Impacted versions:
11.0

Steps to reproduce:

1. Create an One2many field with the editable bottom.
2. Add fields_view_get method for Main Module or One2many Module.

Current behavior:
1. Can't able to access one2many tree view fields in Main Module
2. Also can't able to find the fields in the relation table fields_view_get method too.

Expected behavior:
1. It should allow us to find the one2many

[2020-07-07 12:02] pedrobaeza commented on #54182
This is not something planned. Possible workarounds:

- Override `fields_view_get` in the one2many model.
- Change it in XML.

Closing as no intended to change this being very specific.

[2020-07-07 12:02] #54182 closed

[2020-07-07 12:05] Gokulakannanaj commented on #54182
@pedrobaeza - It's not called(one2many module) while loading the main view, So only I raised.

[2020-07-07 13:10] kunalgoel1 commented on #52210
@jco-odoo Thanks for your kind consideration.

[2020-07-07 13:12] zaoral opened #54188 "[13.0] BUG: request.env.company is not reference to current logged company, instead is reference to main user company"
### Impacted versions:
13.0

### Steps to reproduce:
NOTE: I am using an enterprise example just to show easier the problem that is a global problem
1. Install Argentinian Electronic Invoicing
2. Go to General Settings menu
3. Activate developer mode
4. Change current company to "(AR) Exento"
5. On "AFIP Web Services section",  Remove the AFIP Certificate and Private Key and click Save.
6. On "AFI

[2020-07-07 16:30] txcom2003 commented on #54132
Okay, I will try to reproduce the problem in runbot infrastructure

It’s the browser behaviour that resend request automatically when certain condition happened, so it can affect any server, not only node.js. what we can do is to make sure that the same request is not processed twice at the server side. one example to address this problem is to generate unique request id and send it together with

[2020-07-07 16:33] pedrobaeza commented on #54132
Which browser? I use Firefox and Chrome without noticing that behavior.

[2020-07-07 18:25] txcom2003 commented on #54132
i used chrome to reproduce the issue in the following videos
https://www.dropbox.com/s/bdj2qhgp9m3l019/odoo-chrome-double-request-02.mov?dl=0

and it also happened in firefox

[2020-07-07 18:29] moylop260 commented on #53535
@JayVora-SerpentCS helpful comment
  - https://github.com/OCA/stock-logistics-workflow/pull/675#issuecomment-653022411
    - `Good catch! Should not the code be added upon unpack() process itself? ( override it and check) ?`

[2020-07-07 18:44] a-ali24 opened #54199 "Error at creating Fleet vehicle with driver connected to an existing user Without administration rights"
Impacted versions: 13

Steps to reproduce:
1-Create a vehicle from user that have no Administration/Access Rights rights
2-in the creation of it add a driver who has an existing user on the database

Current behavior:
Got error because of the access rights that odoo was trying to modify someting on the user but couldn't complete this because the user has no right to write/create in res.users
note:

[2020-07-07 19:32] rhifat commented on #11468
hi odoo 13 ce the solution to the problem is as follows.

Open /etc/nginx/sites-enabled/odoo.conf

  # Redirect longpoll requests to odoo longpolling port
  location / longpolling {
  proxy_pass http: // odoo / longpolling;
  }

edit as the problem will be solved

[2020-07-07 20:35] jonatasartur commented on #54159
Hi pedrobaeza, thanks for the answer. I found the same problem on Runbot.

Steps to reproduce:
1. On [Odoo 13 RunBot;](https://runbot.odoo.com/runbot)
2. Go to **Survey**;
3. Select any survey already created or create a new one;
4. In options select "**Scoring without answers at the end**";
5. Try to use the **print button** [_Print Button (Action_Print_Survey) or print the answers (Action_Print_

[2020-07-08 02:43] Dimocave commented on #26139
yes, this is a problem in version 12 community too, please provide a solution for this huge problem...

Thanks

[2020-07-08 03:51] abhishekms123 opened #54203 "In odoo master master replication is possible?"
After doing master master replication for postgreql it is also properly working for odoo? If yes ! Type of replication !

Anyone please help me to solve this!

#odoo13 #odoo12 #odoo11 #CE #ENTERPRISE

[2020-07-08 05:35] Yenthe666 commented on #54203
Yes it is possible and yes it can work. This is however not a bug in Odoo but a question about deployment. Please ask these kind of questions on the official help forum at https://www.odoo.com/forum/help-1

[2020-07-08 05:35] #54203 closed

[2020-07-08 06:19] madrara256 opened #54204 "TypeError: Model 'hr.employee' does not exist in registry."
Impacted versions:12

Steps to reproduce: failed to reproduce this error

Current behavior: System fails to load with the error: TypeError: Model 'hr.employee' does not exist in registry.

Expected behavior:To load properly , all models that use the hr module have hr included in their dependencies

Video/Screenshot link (optional):

2020-07-07 15:36:13,511 6538 ERROR 12instance_one odoo.modules.re

[2020-07-08 06:40] pedrobaeza commented on #54204
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2020-07-08 06:40] #54204 closed

[2020-07-08 06:50] pedrobaeza commented on #54159
OK, tagged

[2020-07-08 07:02] pedrobaeza commented on #54199
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the green door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide

[2020-07-08 07:07] pedrobaeza commented on #54132
Well, not sure if that can qualify for a bug in such extreme condition that you needed to reproduce through artificial conditions. @odony who can qualify this?

[2020-07-08 08:21] lthieu1123 commented on #20715
Hi, I still face the same issue when running odoo-server 12 on windows 10 and windows 7.

[2020-07-08 11:21] a-ali24 commented on #54199
yes the error showed up on the runbot database
to reproduce the error :-
1- login from the user demo/demo
2- try to create fleet with selecting the driver (Mitchell Admin)

why mitchell admin? because its another contact who has a user on the database

here is a video for the error on the runbot database (no missing configurations or custom modules)
https://youtu.be/zIwhfFeXAgY

[2020-07-08 12:37] vedh-cac opened #54225 "Missing header and footer on sales documents"
Impacted versions: 13.0

Steps to reproduce: create a sales quotation / order / invoice and print or send the document

Current behavior: document layout is not complete, header (logo and adress), footer and total amount are missing

Expected behavior: all information of the document layout as seen in the studio version

Video/Screenshot link (optional):

[S00001.pdf](https://github.com/odoo/odoo/

[2020-07-08 12:39] pedrobaeza commented on #54225
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/13.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2020-07-08 12:39] #54225 closed

[2020-07-08 13:03] yaazkal opened #54231 "[13.0] Allow to filter parterns by events"
Impacted versions: 13.0

Steps to reproduce:
Go to CRM - Filters - Add custom Filter

Current behavior:
There is no way to filter contacts by events

Expected behavior:
Events option should be available as other things like "elearning courses" are available.

Note that an smart button for events on the contact view already exists so the user expects to be able to filter contacts by events.

Video/

[2020-07-08 14:14] pedrobaeza commented on #54231
This can't be possible, as there's no partner in event registrations. You can check OCA's module `partner_event` for a module adding this link (through email field), but it's not going to be added in core (at least in this version), so closing.

[2020-07-08 14:14] #54231 closed

[2020-07-08 14:45] yaazkal commented on #54231
@pedrobaeza thanks so much for the clarification. I hope is added in future versions then as users expect to see them in the list like other modules work; just because they can see in the partner information a smart button linking to events.

Have a nice day !

[2020-07-08 15:56] sswapnesh commented on #54178
Not this one, But I remember @Elkasitu has said

https://github.com/odoo/odoo/issues/44767#issuecomment-584023362

[2020-07-08 18:37] odony commented on #54132
@txcom2003 tricky case, difficult to reproduce and analyze...  Here are some thoughts.

From what I understand, some browsers tend to implement a retry mechanism that is closer to what is specified in the old RFC 2616, [section 2.8.4](https://tools.ietf.org/html/rfc2616#section-8.2.4) (basically: anything can be retried if the connection is lost without response), rather than the newer spec from R

[2020-07-09 06:26] midhunmadhuk commented on #47145
Got any solution v12 I also have nested notebook structure autofocus is not working in v12

[2020-07-09 06:27] grey27 opened #54251 "sale_margin no conversion rate is used to calculate gross margin"
Impacted versions:13.0

my standard currency is CNY
I set the cost of a product to 50 CNY

when I set up a price list in USD
I set this product as 5 USD on the sale lines
The calculated gross profit is -45 USD

odoo\addons\sale_margin\models\sale_order.py
[code]
the reason I found is that there is no exchange rate conversion when calculating gross profit in this method

maybe you should
[code]

[2020-07-09 07:13] pedrobaeza commented on #54132
Thanks Olivier as always for the detailed explanation. I think this can be closed then, isn't it?

[2020-07-09 09:55] ngoctrinh-viindoo opened #54260 "[13.0] Constrains misbehave in delegation inheritance"
**Impacted versions:**
13.0

**Steps to reproduce:**

Create the following two models:

[code]

and execute the following code:

[code]

**Current behavior:**
The exception in the constrains method `_check_xy()` is raised because `x` and `y` are written separatetly that trigger the constrains method two times with values:

1. x = 3, y = 2 (raise error)
2. x = 3, y = 4

**Expected behavior:**
No ex

[2020-07-09 10:00] pedrobaeza commented on #54260
That's not the reason, but there are 2 models involved, and the method is executed once per model.

Closing as no valid.

[2020-07-09 10:00] #54260 closed

[2020-07-09 13:13] yelizariev commented on #41822
May be related: https://github.com/odoo/odoo/commit/49e3fd102f11408df00f2c3f6360f52143911d74

[2020-07-09 13:44] bhavik1989863 commented on #53936
Have anybody faced the same issue ? is this really a bug , or i am missing some perspactive here about the practicality of scenario  ? i varified that behaviour is happening in the fresh 12 enterprise database as well.
purchase two units of same product in on po at different prices,
one at 200 other at 300.
when customer invoice is validated , system posted cogs as 600 hundred rather 500.

[2020-07-09 13:51] a-ali24 commented on #54199
More information ?

[2020-07-09 14:53] ngoctrinh-viindoo commented on #54260
@pedrobaeza Could you please explain in more detail? I don't understand what you mean in the sentence  `the method is executed once per model`.  I tested with Odoo 12 and it works as expected, the issue occurs with Odoo 13.

[2020-07-09 14:56] pedrobaeza commented on #54260
The constraint is check for model `sample.a` and another for `sample.b`.

[2020-07-09 15:05] HoangVanNhat-odoo commented on #54260
@ngoctrinh-viindoo Can I know the result of example 2.x = 3, y = 4 did it raise error again?

[2020-07-09 15:12] HoangVanNhat-odoo commented on #54260
@ngoctrinh-viindoo Might you discribe the issure wrong? the example 1.x = 3, y = 2 (raise error) that is expectable.
But the problem is in example 2.x = 3, y = 4  the exception still raise, isn't it?

[2020-07-09 15:44] ngoctrinh-viindoo commented on #54260
@HoangVanNhat-odoo It didn't even run to the second time because the exception was raised in the first time call to the constrains method. The problem is when executing the `write`:
[code]
The record of the parent model `same.a` should be updated in one call to `write` that triggers only one call to the constrains method. However, in Odoo 13, two `write` are called to update `x`, then `y` separate

[2020-07-09 15:47] txcom2003 commented on #54132
Hi Pedro, Olivier

Here I have reproduced double request at runbot infrastructure, can you take a look ?
https://www.dropbox.com/s/2b3jxwdudkk3vb8/double-request-runbot-01.mov?dl=0
https://www.dropbox.com/s/pebeiq5ssjkt1z6/double-request-runbot-02.mov?dl=0

I'm still analyzing it, maybe there is some insight from you guys.
yeah it's difficult to reproduce and analyze, but it still can be happened

[2020-07-09 16:21] akselon commented on #53403
I'm happy, that you made the fix @Julien00859 . Will this also be merged to the V13 branch?

[2020-07-09 16:54] Julien00859 commented on #53403
Yes sure ! We first fix the oldest buggy version and then forward-port the fix up to master. There is a bot that does the most of the forward-port by itself.

[2020-07-09 18:57] geoff-bbc opened #54286 "Wishlist: comments field to be stored with UI presentation of Backups in Odoo.sh"
In the Backups module of Odoo.sh it would be helpful to have a Comments field associated with each backup and some way to save comments. It would be helpful to be able to label or otherwise describe my reason for taking that backup and perhaps notes on the contents/configuration.

[2020-07-09 19:01] sswapnesh commented on #54199
@pedrobaeza  I can confirm this issue.

[2020-07-09 19:07] sswapnesh commented on #54251
Not sure but It is talking about https://github.com/odoo/odoo/issues/52562  ? (About missing calculation of Multi-currency)

[2020-07-09 20:05] alan196 opened #54287 "Mexican localization - Payment with previous date of invoices with PPD"
Impacted versions:

- 11.0
- 12.0
- 13.0

Steps to reproduce:

- Configure Mexican localization (l10n_mx_edi).
- Create a customer invoice with a payment term that makes the attribute `"MetodoPago" = "PPD"`
- Pay the invoice with date previous or equal date of the invoice.

Current behavior:

- Odoo allows us to pay the invoice.

Expected behavior:

- Odoo must not allow applying the payment of th

[2020-07-09 20:05] alan196 commented on #54287
@luistorresm

[2020-07-09 23:30] dirceu3h commented on #53732
Could you solve the problem? i have similar issue with ubuntu 20.04

`Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-_m9grwrn/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-_m9grwrn/ps

[2020-07-10 01:02] hugho-ad opened #54288 "[12.0] stock: standard_price on fifo cleans cache when computing standard price from fifo"
Impacted versions:
[12.0]

Steps to reproduce:
configure cost_method == 'fifo'
make a purchase and validate pickings

Current behavior:
Standard price is computed from  _run_fifo
https://github.com/odoo/odoo/blob/91f4adba90688d5f8a04d38d057df200db863478/addons/stock_account/models/stock.py#L303-L305
And since standard price, it's a company dependant field (ir.property)
It cleans the cache at
https

[2020-07-10 03:39] doanvanthien commented on #27763
Can you explain the reason?

[2020-07-10 05:11] dirceu3h commented on #53732
I think i found the reason why this package fails to install,
in my case there is a newer version of this package. If i execute  `pip3 list` i see the version of package psycopg2 is 2.8.4 and the version on requirements.txt file is 2.8.3 for my python version.
do you recommend uninstall and install 2.8.3 or just leave it like that?

[2020-07-10 06:21] Yenthe666 commented on #54199
Not sure if it falls under marketing honestly but tagged.

[2020-07-10 06:23] Yenthe666 commented on #54286
@dbo-odoo & @mart-e  can you pass this feedback along to the right people from the SH team?
Closing as its not a bug and not related to Odoo itself.
P.S: next time you can log the feedback through official tickets at odoo.com/help 😉

[2020-07-10 06:23] #54286 closed

[2020-07-10 09:08] Linekio opened #54304 "[11.0/12.0] Error when changing the phone number from another company."
Impacted versions:
11.0, 12.0

Steps to reproduce:
In a runbot build, give access rights to "My Company, Chicago" to demo user.
Then log in with demo user, switch to "My Company, Chicago" and try to change a phone number of any res.partner created from "Yourcompany".

Current behavior:
[code]
and in browser debuguer :
[code]
(odoo 12.0)

Expected behavior:
I guess the phone format of "Yourcompany"

[2020-07-10 09:32] lin-ww commented on #22463
Thanks, i also have an extra comma in the end of the --addons-path... Hahahahaha

[2020-07-10 09:35] lin-ww commented on #22463
https://github.com/odoo/odoo/issues/22463#issuecomment-448782706
I just resolved it by remove the comma in the end of --addons-path, Hahahaha

[2020-07-10 09:44] cedvict opened #54310 "Inverse Name with state in python"
Impacted versions:
**Odoo 11**

Steps to reproduce:
**With two models that have an association. In class A, we have a field Many2one with this definition fields.Many2one('class.b', states={'draft': [('readonly', False)], 'confirm':  [('readonly', False)]}). In class B, we have a field One2many with this definition fields.One2many( comodel_name='class.a', inverse_name='b_id')**

Current behavior:
S

[2020-07-10 09:48] pedrobaeza commented on #54310
Please include a minimal module showcasing the problem.

[2020-07-10 09:53] cedvict commented on #54310
We have an example with module hr_holidays. Actually there's not a field that give leave taken in hr.employee model. So I try to add one based on field employee_id in hr.holidays model.

[2020-07-10 09:55] pedrobaeza commented on #54310
I don't get you, but detailed steps to reproduce the problem are needed.

[2020-07-10 11:29] yelizariev opened #54322 "/website/action/: post data are not passed to eval context"
Impacted versions: any

Steps to reproduce:

* create a ``base.automation`` record with with fields

  * **Action To Do**  equal to *Execute python code*
  * **[x] Available on the Website**
* Open action url with args, e.g. ``/website/action/935?param=value``

Current behavior:

No way to read params

Expected behavior:

Allow to use base.automation as incoming webhook

https://github.com/odoo/od

[2020-07-10 11:32] yelizariev commented on #54322
Hmm, I think it can be done via ``request.httprequest``
I'll check

[2020-07-10 11:32] #54322 closed

[2020-07-10 19:58] kirca opened #54357 "[12.0] Rounding issue with quants reserved_quantity"
Impacted versions:
12

Steps to reproduce:
Exact steps are not known but occurs occasionally when using UoM with Rounding Precision 0.00001

Current behavior:
When validating a Picking or posting an inventory on a Manufacturing Order UserError is raised:
https://github.com/odoo/odoo/blob/2761393b06bb396cf08799948e6fda3091ff1f35/addons/stock/models/stock_quant.py#L266

Expected behavior:
No UserErr

[2020-07-10 23:16] dirceu3h commented on #53732
in my case i installed sudo apt install python3-dev and then it worked
`libpq-fe.h`
good luck @jcarlosmontoya

[2020-07-12 02:08] llacroix commented on #54357
For information 0.6666700000000001, is probably the result of 0.6666666666 rounded up to 0.66667 The issue is caused because odoo uses ROUND_HALFUP everywhere (almost).

If odoo gave on on float_utils and instead used something like the decimal module it would be possible to use something like
ROUND_05UP which would round correctly 0.66666666666666 to 0.66666

Here:

[code]

[2020-07-12 23:31] walkerblackwell opened #54360 "v13 Google Spreadsheet shows "Undefined" with Stock Inventory report."
Impacted versions:

V13

Steps to reproduce:

Do a stock inventory report and export to google sheets.

Current behavior:

Instead of Quantity On Hand amounts (as shown in Odoo) is shows Undefined except for any QOH that is 1.

Expected behavior:

Show the QOH.

Video/Screenshot link (optional):

It's easy enough to test this one on your own.

[2020-07-13 05:45] Yenthe666 commented on #54038
No there is no improvement/change. As long as nobody from Odoo replies there's no update.

[2020-07-13 08:48] mart-e commented on #25913
Hi,

Thanks for the report and analysis, you are right.
It will be fixed at #54363

[2020-07-13 09:41] HoangVanNhat-odoo commented on #54260
@ngoctrinh-viindoo I think we should reopen a issure, maybe they misunderstand your issure description. There is real issure here!

[2020-07-13 10:08] luffah opened #54375 "Searchbar text input in portal template doesn't work"
(hello)

**Impacted versions:** 13.0 (https://github.com/OCA/OCB/commit/f54310be4efed12f74ce6e3d91251f171319894e & https://github.com/OCA/OCB/commit/de569ca1b04711371bca3d193e8638b2f4eaa277) ; portal module

**Note :** works in 12.0 (see  https://github.com/OCA/helpdesk/tree/12.0), module helpdesk_mgmt

## Steps to reproduce

Use searchbar input from portal template that contain both sort button a

[2020-07-13 14:39] #54375 closed

[2020-07-13 14:50] luffah commented on #54375
It looks like it was linked to a cache problem .... bewildering.

[2020-07-14 09:38] salmemik commented on #46618
I updated the server and Odoo and this issue does not exist anymore ==> I will close the issue.

[2020-07-14 09:38] #46618 closed

[2020-07-14 12:25] bennals opened #54440 "[11.0] hr_timesheet - Timesheets created when a leave request is approved are not adjusted for timezone"
Steps to reproduce:

1. Change a users timezone to Australia/Brisbane (UTC +10).

2. Create a leave request for 14th and 15th of July (default of 7am to 7pm) using a type of leave that has 'Generate Timesheet' ticked and approve it.

3. Click on "My Timesheets" in the timesheets app.

Expected result:

There are timesheets created with dates of the 14th and 15th of July.

Actual result:

There are

[2020-07-14 12:29] bennals commented on #54440
I guess this is related to this  #issue:37104

Hopefully someone can look at it before 14 rolls out.

[2020-07-14 13:21] omarKady commented on #43444
is that in version 13 only ??

[2020-07-14 15:20] #53535 closed

[2020-07-14 16:38] alex71m-zz opened #54463 "Switzerland - Accounting: unable to update"
Impacted versions: 13.0

Steps to reproduce: App -> Search for l10n_ch and try to upgrade

Current behavior: the update process stops with following message:

Error context:
View `l10n_ch_swissqr_template`
[view_id: 1783, xml_id: l10n_ch.l10n_ch_swissqr_template, model: n/a, parent_id: 1512]" while parsing /usr/lib/python3/dist-packages/odoo/addons/l10n_ch/report/swissqr_report.xml:2, near
<odoo>

[2020-07-14 17:11] beledouxdenis opened #54466 "Infinite recursion in XMLRPC with lazy results"
Impacted versions:
saas-13.3, at least. As e2b5a359c1d5eccbe725c1c3169b4130d7bca49b was applied in earlier version, earlier version could be affected to.
But with the current observed case using the method `find_or_create`on `res.partner`, it doesn't happen in versions < saas-13.3, but this might be because the signature of `find_or_create` just changed: It used to return an ID, it now returns a b

[2020-07-14 17:12] beledouxdenis commented on #54466
@xmo-odoo This needs to be fixed first thing tomorrow because it affects the synchronization of the upgrade platform with our production :).

[2020-07-14 19:00] eabquina opened #54469 "Warehouse operations Sequence number swaps SHORT NAME to use the PREVIOUS overwritten short name"
Impacted versions: 13.0

Steps to reproduce: Create a Warehouse and activate multi-step routes

Current behavior: When editing a Warehouse shortname, save it with a new code,it saves the overritten/replaced code to the sequence identifier patterns

Expected behavior: Short Name should apply to the sequence numbers when saved.

Video/Screenshot link (optional):

[2020-07-14 20:04] pedrobaeza commented on #54469
Can you specify a bit more the problem (maybe with a video)?

[2020-07-15 04:08] LinuxDevBD opened #54470 "Odoo Server Error"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo13/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo13/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/opt/odoo13/odoo/odoo/tools/pycompat.py", line 14,

[2020-07-15 06:04] Elkasitu commented on #43444
From version 13 onwards, yes

[2020-07-15 06:08] Elbagoury opened #54471 "Opening the customer invoice from the activity view is opening the vendor bill form view"
Impacted versions:
Odoo 12 EE & CE

Steps to reproduce:

1. Schedule new activity under the customer invoice.
2. Open your activities and click on that activity.

Current behavior:
It will open the vendor bill form view
![customer_invoice](https://user-images.githubusercontent.com/9639673/87509553-7b969f80-c67a-11ea-842a-6b220869b00d.JPG)

Expected behavior:
It should open  the customer invoice fo

[2020-07-15 06:41] michaelslade54 opened #54472 "Possible to create products with duplicate serial numbers."
Impacted versions: 12.0, 13.0

Steps to reproduce:
1. Create 2 products "Serialized Product Parent" and "Serialized Product Child".
        Product Type - Storable Product
        Tracking - By Unique Serial Number
        Routes - Manufacture
2. Create a BoM for "Serialized Product Parent" with "Serialized Product Child" as a component.
3. Create a BoM for "Serialized Product Child" with any cons

[2020-07-15 06:42] xmo-odoo commented on #54466
That's exactly why: the method is not annotated with `@returns`, so `api.call_kw` doesn't know how to convert it from a recordset to an RPC-compatible thing, and the unlazifier breaks because it can't handle recordsets.

[2020-07-15 06:48] beledouxdenis commented on #54466
K will do the fix then

[2020-07-15 06:48] beledouxdenis commented on #54466
K you did it

[2020-07-15 06:49] xmo-odoo commented on #54466
Yeah I posted the comment after I found out what the problem was, and it's not a super difficult fix, though it looks like `returns` annotations are not inherited so the override also has to be annotated which is a bit odd (/cc @rco-odoo shouldn't api attributes be inherited by all extenders?)

[2020-07-15 07:02] pedrobaeza commented on #54471
Unfortunately this is a known issue that happens on <=v12. The good new is that this doesn't happen anymore in v13, but it's not possible to be fixed in previous versions, so closing as won't fix in v12, but fixed in v13.

[2020-07-15 07:02] #54471 closed

[2020-07-15 07:03] pedrobaeza commented on #54472
I don't see instructions enough detailed for reproducing the problem. What do you mean by "Complete a MO"? Please record a video showcasing the problem.

[2020-07-15 07:06] pedrobaeza commented on #54470
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/13.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2020-07-15 07:06] #54470 closed

[2020-07-15 07:39] LucasLefevre commented on #54199
Hello,
Thanks for the feedback.
I managed to reproduce the issue in a test https://github.com/odoo/odoo/commit/9881fe6fb24d7ecd0adb461e3982c0fb5186728a
I don't have the time to find a proper fix right now, but I'll keep it in mind and come back to it as soon as possible

Have a nice day,
Lucas

[2020-07-15 07:40] michaelslade54 commented on #54472
Original description updated for clarity. I will endeavor to post a video when I can.

[2020-07-15 07:53] Nimja opened #54479 "[12] - Update module issues on 24/7 production environment with table locks"
The upgrade process in Odoo currently has a major issue with how it updates the DB.

Setup:
* 2 modules: module_parent and module_child
* module_child is dependent on module_parent
* module_parent has a model: `user`, with `role`, not required=False (default).
* module_child updates that model: `user`, with `role` required=True (explicitly set).

If you update PARENT, the following happens:
* Load

[2020-07-15 07:54] michaelslade54 commented on #54472
Video showcasing the issue. The same serial number, in this case TEST01 can be continually used in manufacture and 'installed' in multiple manufacturing orders.

https://www.loom.com/share/51b36db7b4634fed82ca700ac2b84e6a

[2020-07-15 09:55] pedrobaeza commented on #54472
OK, thanks for the video. I see the potential problem, although not sure if this can be prevented the way serial numbers work, as the control is quantity per physical locations, and as you have already consumed the other raw material, the quantity is in the virtual location "Production".

@amoyaux @sle-odoo maybe something to take into account for manufacturing ?

[2020-07-15 10:18] odony commented on #54466
As I understand it, `traverse_containers` still suffers from an infinite recursion problem when you call it on a recordset. That seems a likely enough case that we should handle it gracefully, don't you think?

Isn't the following sufficient to guard it, so the error in case someone else forgets the secret decorator will much more straightforward than an obscure infinite recursion?

[code]

[2020-07-15 12:49] xmo-odoo commented on #54466
Yes, I created a PR in 12 for that (#54477).

Sure, though the result isn't that useful either: it will either blow up with an error which is no clearer or (possibly worse) fail to blow up and send the client garbage (the stringification of the recordset) instead.

[2020-07-15 12:49] #54466 closed

[2020-07-15 15:14] sswapnesh commented on #48963
Fixed in https://github.com/odoo/odoo/commit/b9abc757da3034209b083c4ba862edd3865f7637

[2020-07-15 15:40] Yenthe666 commented on #48963
Indeed it is! Thanks for keeping an eye out @sswapnesh 👍

[2020-07-15 15:40] #48963 closed

[2020-07-15 15:44] vaidehiv-scs opened #54530 "Method defined but it is not used anywhere"
Impacted versions:
13.0

Video/Screenshot link (optional):
[https://nimb.ws/gjDPbm](url)

![screenshot-github com-2020 07 15-21_13_06](https://user-images.githubusercontent.com/65062447/87566099-268d7480-c6e0-11ea-9966-d4944568e32e.png)

[2020-07-15 16:44] pedrobaeza commented on #54530
Although there's the possibility of having dead code, its existence is harmless, but removing it can lead to other consequences. You can propose a PR to master branch if you think it's better to remove it, but for current version it should be there.

[2020-07-15 16:44] #54530 closed

[2020-07-16 00:42] michaelslade54 commented on #54472
Thanks for taking time to view it!

The same duplication can occur if you produce product "Serialized Parent Product" with a serial number and transfer to a different location (even a physical one), you could then produce another "Serialized Parent Product" with the same serial number as the first. In fact, the duplication can occur by simply completing Inventory Adjustments at any two locations,

[2020-07-16 09:47] OmniaGit opened #54552 "Warehouse: Receive goods in input and then stock (2 steps) problem on changing the PO qty"
Impacted versions:
12 C
Steps to reproduce:
create a product A (Manufactory)
create product B (purchase)
create a bom for A that have as child B
create a manufactory order of A
run the scheduler
go to the purchase order created by the scheduler and change the quantity of the product B

Current behavior:
the quantity on the move Partner Locations/Vendors-> Input is changed coordinately with the PO

[2020-07-16 09:51] pedrobaeza commented on #54552
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the green door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide

[2020-07-16 10:08] OmniaGit commented on #54552
Dear,
the problem is reproduced in runbot.
you can find attached the video that show you the problem

[Screencast 2020-07-16 11:05:50.mp4.zip](https://github.com/odoo/odoo/files/4930769/Screencast.2020-07-16.11.05.50.mp4.zip)

regards
Matteo

[2020-07-16 10:13] pedrobaeza commented on #54552
Are you able to reproduce the problem if you create the PO manually instead of coming from a reordering rule?

[2020-07-16 10:23] AdriaGForgeFlow opened #54557 "[12.0][BUG] stock quant wrong in_date value"
**Impacted versions**: v12 (but probably others as well)

**Steps to reproduce**:
1. Create two PO and assign its products to a package in the stock move lines
2. Move one of the packages to another location under stock
3. Go to one of the products inside the package and enter inside the quant view (this will trigger the function __unlink_zero_quants_)
![image](https://user-images.githubuserconten

[2020-07-16 11:17] OmniaGit commented on #54552
If you do not use the scheduler there is no problem it works like a charm ..

The scheduler create in advance the second move Imput->stock in order to satisfy the reordering rule. and in the some time it create the PO.
when you confirm the po in the code there is write that connect the two moves and dose not take into account of the change of the qty.

regards
Matteo

[2020-07-16 11:19] pedrobaeza commented on #54552
OK, then it's  problem on the concatenation of moves.

@amoyaux @sle-odoo can you please check this?

[2020-07-16 13:13] zaoral opened #54580 "BUG: Customer invoice created in a purchase journal"
### Impacted versions:

13.0

### Steps to reproduce:

1. Activate developer mode
2. Go to Accounting / Vendors / Bills menu
3. Create a new bill and save it
4. Open the developer tools menu and click on "Set Defaults" options
5. select the option "Default: Journal = Vendor Bills" and save default
6. Go to Accounting / Customers / Invoices menu
7. Create and validate an invoice

### Current behavi

[2020-07-16 13:15] zaoral commented on #54580
FYI OPW-2300349

[2020-07-16 13:19] mart-e commented on #32153
It's neither a bug, nor a security issue. If a record is already selected in a many2one, you can access it's name_get content but trying to interact with it or change the values raises an error.

[2020-07-16 13:19] #32153 closed

[2020-07-16 14:02] pedrobaeza commented on #54580
I don't see this as an error. Filling Odoo with constraints for every possible bad use of the system (and not through regular UI, but setting defaults, which is a developer operation - you need developer mode for that -), is not a good habit. You must know what are you doing.

You have filled OPW, but I suppose/hope the answer from support team will be similar.

[2020-07-16 14:05] mileo opened #54585 "[RFQ] Common mixin to all invoiceable models"
Hi,

It would be great if the core had a common model for all invoiceable documents. This would greatly facilitate locations and customizations, allowing you to inject fields into multiple models in a simple way.

In addition, maintaining a certain integrity of them, all with one2many fields with the same name, for example:

1. point_of_sale -> https://github.com/odoo/odoo/blob/master/addons/point

[2020-07-16 16:15] Yenthe666 commented on #54580
If you use and set defaults you should know what you're doing. I agree with Pedro. If we start 'fixing' and blocking this kind of stuff we need to add in checks all over the place. I assume Odoo will say the same.

[2020-07-16 22:35] MouadZIANI opened #54611 "--"
---

[2020-07-16 22:42] #54611 closed

[2020-07-17 06:31] #25913 closed

[2020-07-17 08:10] bhaveshselarka opened #54622 "[11.0] Odoo incompatible with Python 3.8.4"
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/bhaveshselarka/ws/odoo/odoo_v11/odoo/tools/cache.py", line 84, in lookup
    r = d[key]
  File "/Users/bhaveshselarka/ws/odoo/odoo_v11/odoo/tools/func.py", line 68, in wrapper
    return func(self, *args, **kwargs)
  File "/Users/bhaveshselarka/ws/odoo/odoo_v11/odoo/tools/lru.py",

[2020-07-17 08:48] pedrobaeza commented on #54622
That's something expected, as that is an old version (almost deprecated - will be in October), and anyway the compatibility is not assured with latest Python versions even in the latest one. There's intention of so, but it's only a best effort one.

Run it with the recommended one (P3.5).

Closing as won't fix.

[2020-07-17 08:48] #54622 closed

[2020-07-17 10:36] shazzwazz20 opened #54651 "Failed to load resource: net :: ERR_CONTENT_LENGTH_MISMATCH | Odoo screen blank after login"
Impacted versions:
Odoo 12.0

Steps to reproduce:

Add workers to .conf file

Current behavior:
Page is blank or css not loading properly.

Failed to load resource: net :: ERR_CONTENT_LENGTH_MISMATCH | Odoo screen blank after login

Expected behavior:
Css or page should properly

Video/Screenshot link (optional):

[2020-07-17 10:38] pedrobaeza commented on #54651
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2020-07-17 10:38] #54651 closed

[2020-07-17 10:42] shazzwazz20 commented on #54651
Hi, the issue comes randomly.So i am not able to reproduce it or debug.

Sometime it works and sometime doesn't.

I have not installed ngninx/apache after enable worker in .conf file.
Configuring ngninx/apache will solve the issue?

[2020-07-17 10:43] pedrobaeza commented on #54651
No, your problem probably comes from workers memory limits, but this is out of scope of the issue tracker. For more questions, ask on the forums.

[2020-07-17 14:43] frlanxpertiz opened #54686 "Remove autofill of manager field for manager of department"
Impacted versions:13.0

Steps to reproduce:
Set an employe to be the manager of a department
set this department as the department of the employee
save
Current behavior:
The manager field is autofilled with the user itself which make the org chart loop
Expected behavior:
Either the manager should be autofilled as the manager of the parent department
or the manager field should be left blank in suc

[2020-07-17 15:22] zaoral commented on #54580
Hi @pedrobaeza @Yenthe666
Thank you for your feedback is valuable.

I agreed with you about that we should not need to add checks all over Odoo to ensure the cases of a misconfiguration of the user, but I also still think that in the case of the customer electronic invoices is really a delicate issue that need to be restrict some way because the legal implications.

We have a couple of customers t

[2020-07-17 15:54] pedrobaeza commented on #54686
I don't consider this critical, but tagging for seeing if Odoo thinks on contrary.

[2020-07-17 16:44] shazzwazz20 commented on #54651
@pedrobaeza : Thanks for your feedback.  I have posted the question on forum but did not got any response yet.

**This is forum post**: https://www.odoo.com/es_ES/forum/ayuda-1/question/failed-to-load-resource-net-err-content-length-mismatch-odoo-screen-blank-after-login-173508

Since the issue has come up on production , i wanted to fix as earliest.
Below is my  odoo.conf file worker configuratio

[2020-07-17 19:37] keshrath opened #54693 "[BUG] sale_margin: purchase_price with price_include taxes"
Impacted versions:

Steps to reproduce:

Install the module sale_margin. Create a new product with at least one supplier tax that has the flag `price_include`. Now create a new sale order and add the product. The margin will be calculated by subtracting the `price_subtotal ` from the `purchase_price` multipled by the `product_uom_qty`.

Current behavior:

As the `purchase_price` has the taxes incl

[2020-07-18 01:05] jjscarafia commented on #54580
Hi! I agree that is not really a bug but IMHO it could be very harmful and also very easy to fix.
In countries where you use electronic invoice, using a sales journals may implied that the invoice is validated as a customer one, of course each localization could take care of it, but a constraint checking journal type and invoice type seems a good idea to me.

Not only because of the user default v

[2020-07-18 06:11] MjAbuz opened #54694 "on Fresh ubuntu 18.04 pip requirements.txt install fails on python3.8"
Impacted versions: 13

Steps to reproduce:
[code]
Seems like its a common issue and this is what i got after browsing around ..see attached

[

](url)
Expected behavior:

Video/Screenshot link (optional):

[2020-07-18 10:22] Agacolor commented on #29298
Not being able to divert messages to individual mailboxes anymore is not an improvement indeed.
e.g. A client wants the contents of a webform submitted straight to an internal mailbox without having to use an external mail service like gmail for reasons of privacy and security. They are on odoo saas so not able to use a third party module either.
Not every Odoo user is an "enterprise / corporate"

[2020-07-18 14:57] pedrobaeza commented on #54694
Well, Python 3.8 compatibility is not assured, but let's see if @d-fence thinks it's worth to fix it for this version. General question for you and also for @mart-e @odony: isn't better to reduce the scope of the compatibility from `>= Python 3.6` to a reduced scope `Python 3.6 or Python 3.7` for avoiding this false expectations, also when Python 3.9 will go out?

[2020-07-18 15:01] pedrobaeza commented on #52562
Closing as no more answers and the issue is not clear.

[2020-07-18 15:01] #52562 closed

[2020-07-18 15:03] pedrobaeza commented on #54251
AFAIK, the margin is expressed in the quotation currency.

[2020-07-18 22:24] bupscale commented on #13808
@Odoo S.A, Please it's a shame not to be able to solve this issue once and for all. Any lasting solution you recommend or this is intentional and on purpose?

[2020-07-19 05:01] nrome-n commented on #52122
i am having the same problem on odoo.sh odoo 13 has anyone manage to solve it

[2020-07-19 06:02] MojtabaAp opened #54695 "[13.0] [Website] get access error in website menu when set lowest permissions"
Hi
in runbot branch 13.0 when i set lowest permission for user. when user open website menu get this access error.

Sorry, you are not allowed to access documents of type 'Sales Order' (sale.order). This operation is allowed for the groups:
	- Inventory/User
	- Invoicing/Billing
	- Manufacturing/User
	- Project/Administrator
	- Sales/Administrator
	- Sales/User: Own Documents Only
	- Technical Set

[2020-07-19 08:20] diezcode commented on #13808
@bupscale try to restore your DB direct in the postgres, not from the odoo web restore.
this fixes my issue with big databases and with the filestore problem.

[2020-07-19 10:14] younismahsud opened #54696 "Single payment multiple invoices un-reconciliation issue"
Impacted versions:
13.0

Steps to reproduce:
Go to Invoices, select two or three invoices of the same customer in the tree view. Click the `Action `menu and click `Register Payment`. Check the `Group Payment` option on the register payment screen and click the `Create Payment` button. Then open any of the invoices for which you register the payment and un-reconcile it. All the other invoices recon

[2020-07-19 16:22] ray-odoo commented on #53936
I have not seen a need to purchase items on the same PO at different prices. What Business Case does this support? Why are the prices different?

[2020-07-19 19:50] bhavik1989863 commented on #53936
One of the customers deals in old and new  electronics items ,such as iphone,tab etc...
So iphone 8gb,white have a sku , but let's say in same po 50 units were brand new and 10 were slightly old and hence differenet price than brand new one.
Or even all were old but few units less old and few very old and hence difference in the purchase price.

[2020-07-20 03:49] ray-odoo commented on #53936
How is this not two different products? Wouldn't Customers expect to pay a cheaper price for an older item?

[2020-07-20 07:02] mart-e commented on #54694
Hi,

Same answer as my previous comment at https://github.com/odoo/odoo/issues/41313#issuecomment-580162984.
The python 3.8 compatiblity is assured, even in 11.0 but the requirements.txt is not. You may have to tweak a bit the versions of the dependencies you install but you should be able to run Odoo on any python version >= 3.6.
If you notice errors running Odoo 13.0 in 3.8 (or even in 3.9), ple

[2020-07-20 07:02] #54694 closed

[2020-07-20 07:05] pedrobaeza commented on #54696
@qdp-odoo do you plan to change this in v13?

[2020-07-20 07:06] kunalgoel1 commented on #52210
Hello @jco-odoo
Sorry for bothering you again. But can we get a timeframe when this can be done ?? Thanks

[2020-07-20 07:07] pedrobaeza commented on #54695
I'm not sure what do you mean by "website menu". Can you put a video reproducing the problem?

[2020-07-21 00:48] Muhammadinaam commented on #6618
Does this issue exist in Odoo 13?

[2020-07-21 07:58] #52968 closed

[2020-07-21 20:43] abhishek-wenlighning commented on #32480
.This usually happens if you write function name same as field name in same file. atleast in my case this was the issue.

[2020-07-21 21:26] abhishek-wenlighning commented on #52832
just use default_get to set default value to date field.

[2020-07-21 21:51] dirceu3h commented on #52122
I did, just updated my source code to the latest version

[2020-07-21 23:14] EsrefDurna commented on #52122
ok I fixed it.

You have to configure journal for your payment acquirer

Payment Acquirers > paypal or whatever >
configuration Tab
Payment Followup
Payment Journal - < should not be null.

[2020-07-22 06:29] kimasplund commented on #45224
i ran in to the same problem.

Any tip on how to do that?

[2020-07-22 08:01] LcL54264 opened #54738 "Odoo (data_dir)"
Impacted versions: odoo12

hello,

Hope you have a good day.

I have a problem using Odoo, so I need your help

I accidentally deleted the file storage in the data_dir directory during my use of odoo. Is there any way to make my system work normally?

[2020-07-22 08:05] pedrobaeza commented on #54738
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2020-07-22 08:05] #54738 closed

[2020-07-22 12:26] #52990 closed

[2020-07-22 15:24] matteoopenf commented on #8021
@eLBati confirm it works also on  odoo.sh

[2020-07-22 15:49] ahmedshahriar commented on #50873
Restarting the service solved my issue.

[2020-07-22 18:06] bhavik1989863 commented on #53936
Thanks @ray-odoo  , i considered your point and requested customer to make separete product ,though hasitant but he agreed.

But just for the sake of my understanding. is this scenarion not possible at all ,to manage in odoo ? i mean there has to be some use cases when customer might want to create such po , in which same product is purchased at different rate ...for whatever reason , offers ,disc

[2020-07-22 18:38] ray-odoo commented on #53936
I don't know of a way to do this with Odoo without having a separate Product.

[2020-07-22 18:44] ray-odoo commented on #53936
I also was unable to replicate this with v13.

This was my Purchase Order:

![image](https://user-images.githubusercontent.com/41073831/88215378-68527980-cc10-11ea-8310-daec2f900074.png)

These were my Journal Entries after receipt:

![image](https://user-images.githubusercontent.com/41073831/88215317-51138c00-cc10-11ea-9d27-1eee878f8f0f.png)

Inventory Valuation:

![image](https://user-images.git

[2020-07-22 18:47] ivanporras opened #54795 "[13.0] [Payment] Multi-currency"
Impacted versions:
13.0

Steps to reproduce:
1.- Set USD as main currency for the company.
2.- Create an invoice and set USD currency.
3.- Create a payment and set MXN currency.
4.- Try to reconcilie the payment

Current behavior:
Odoo show an error, singleton res.currency, you can see in the screenshot.

Expected behavior:
Payment must to reconcile with invoice.

Video/Screenshot link (optional):

[2020-07-22 19:04] pedrobaeza commented on #54795
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the green door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide

[2020-07-22 20:14] nick2474 commented on #37477
If you are using Odoo +v9,v10 or +any the old version of posbox image won't work with RP4.

I fix my issue with a new Raspberry PI 4 image.
1.Use the imager_1.4 installer.
2.Install the image iotboxv20_06.img (latest on this post)
3.Now once turned the RP4 its not printing on but not printing the posbox ticket reference for IP, with the old version for RP3B+ this was printing  and reachable the se

[2020-07-23 00:30] llacroix opened #54796 "Tests failing"
I noticed that test are failing for this one while setting up continuous integration at work.

https://github.com/odoo/odoo/blob/6da17c3ee1e0c63b0cace60da2f98cfc4fe8ac57/odoo/addons/base/tests/test_search.py#L133-L150

I'm not sure to understand how the tests are supposed to give `[u2, u4, u3, u1]`

Here's a table of the data we would expect after creating those records

| record | id | partner_id

[2020-07-23 01:04] llacroix commented on #54796
https://github.com/odoo/odoo/issues/42468#issuecomment-575042465

Apparently it's not a new bug.. but "alpine" postgres could fix the issue thought it's not clear why that order is expected.

[2020-07-23 02:09] llacroix commented on #54796
Looks like it's a self referential search because create_uid is a res.users.

[2020-07-23 02:32] llacroix commented on #54796
Ok I found the issue...

[2020-07-23 02:47] llacroix commented on #42468
It's definitely a bug in the test not that the code doesn't work as it should.

The test is a self referential test as create_uid is a res.users. It will test that fields are properly dereferenced so the actual sort order is

partner_id.create_uid.login desc,
partner_id.name
login desc

Or at least it's what should it be or something close to it...

The issue thought is this:

The user for which u

[2020-07-23 05:55] suvit opened #54799 "[11.0] related on computed fields are not context_depended"
Impacted versions: [11.0]

Steps to reproduce:

[code]

Current behavior:

[code]

This was bad for computing for multi records with different dates that rely on currency rates

Expected behavior:

[code]

[2020-07-23 07:00] pedrobaeza commented on #54799
That's not possible and can be considered a limitation of the framework, but it has a direct "workaround": use another computed field instead of related.

Closing as won't fix.

[2020-07-23 07:00] #54799 closed

[2020-07-23 07:56] Heki67 opened #54806 "Can't find user by email"
Impacted versions: 13

Steps to reproduce:
user = request.env["res.users"].search([('login', 'ilike', email)])

Current behavior:
Doesn't return any user, although there is a record have login = email

[2020-07-23 07:58] pedrobaeza commented on #54806
Sorry, this is not an Odoo issue, but a question about development. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Anyway, this is working fine in my side other times that I have done it.

Closing this by the reason above.

[2020-07-23 07:58] #54806 closed

[2020-07-23 08:05] suvit commented on #54799
I may give you more correct examle with error. This error is difficult to debug, so i think this is problem of the framework

Patch was easy. In
Field._setup_related_full
add
[code]

[2020-07-23 08:16] pedrobaeza commented on #54799
You can propose the patch as a PR and see if it's qualified by the framework team.

[2020-07-23 08:36] PieterPaulussen commented on #54796
@llacroix I'm interested in your solution. Could you give me some details about this?

[2020-07-23 10:55] foxroxracer opened #54827 "[V13] name_get() doesn't get called even when field has option 'always_reload'"
Impacted versions:
V13 (Odoo 13.0+e-20200701 (Enterprise Edition))

Steps to reproduce:
1) overwrite name_get() method, for example in res.partner:

[code]

2) Create Many2one field to res.partner (with options="{'always_reload': True}")
3) Show field on a form and tree view

Current behavior:
Overwritten name_get gets called when loading form_view, but not when loading tree view.

Expected behavi

[2020-07-23 13:55] bhavik1989863 commented on #53936
Probably been fixed in odoo 13  ..

Anyways ,i appretiate for your support @ray-odoo
Many thanks.

[2020-07-23 16:00] llacroix commented on #54796
@PieterPaulussen check the PR linked to the issue.

In short, it's a problem with the user `__system__` that create 2 of the user. The code works correctly but the expectation will change based on the collate of the database.

So order in postgres as COLLATE C will be different than COLLATE 'en_US.utf-8' for strings starting with '_'.

[code]

And this.

[code]
Since the code search first on partn

[2020-07-23 16:12] Yenthe666 commented on #52570
Fixed in https://github.com/odoo/odoo/commit/65e201ecee3bc145c2ae76d59b6d2fd31c737872 🥳

[2020-07-23 16:12] #52570 closed

[2020-07-23 17:49] ivanporras commented on #54795
@pedrobaeza It's weird, I tried to reproduce the error but I did not make it.

[2020-07-23 17:52] pedrobaeza commented on #54795
Yeah, that's probably because you have something bad in your end:

- Outdated source code.
- Third party modules that breaks the behavior.
- Inconsistent DB state.

Try to check these things, but I have to close this issue, as it's not something on Odoo code itself. If you find this reproducible in runbot later, please tell and we can reopen it with the proper steps to reproduce.

[2020-07-23 17:52] #54795 closed

[2020-07-23 18:03] ivanporras commented on #54795
Thank you!

[2020-07-23 18:03] zeroheure commented on #45224
@kimasplund read Yenthe message

[2020-07-23 19:26] ivanporras commented on #54795
@pedrobaeza I fixed the error. When currency_id is null.
account_move.py

 #IvanPorras
                            if line.currency_id:
                                amnt_currency_debit = self.amount_currency and line.currency_id.round(line.amount_currency * amount / line.balance) or 0.0,
                                amnt_currency_credit = self.amount_currency and line.currency_id.round(-line

[2020-07-24 06:58] pedrobaeza commented on #54795
The question is how do you get to that situation where there's a problem. `currency_id` field is empty most of the time when the account is in the same currency of the company. Maybe you start with an account with a currency set, and the unset it?

[2020-07-24 07:03] anandgodavarma opened #54875 "Chatbox and Sidemenu Overlaps"
Impacted versions: 10 community

Steps to reproduce: For arabic translation on implementing RTL the right side menu and chat box overlaps

Current behavior: Chatbox and menu overlaps

Expected behavior: The cahtbox sholud be floating and the user can place it anywhere

Video/Screenshot link (optional):
![Screenshot from 2020-07-24 12-17-24](https://user-images.githubusercontent.com/24294204/883676

[2020-07-24 07:12] pedrobaeza commented on #54875
Sorry, version 10 is no longer supported. Only latest 3 versions are (13, 12 and 11 in this moment). If the problems remains in upper versions, please open a new issue.

[2020-07-24 07:12] #54875 closed

[2020-07-24 07:13] #50090 closed

[2020-07-24 12:15] saireddy57 opened #54907 "Documents Missing After 4 days from our application"
Impacted versions:
odoo 8
Steps to reproduce:

Current behavior:    uploaded documents are being dissapearing in 4 days in application which is hosted and its will not dissapear in my local host running can anyone please help me with the solution and cause of the issue. I am using many2many field in the attachement.

Expected behavior:Documents should  not dissapear until we remove it manually.

V

[2020-07-24 12:20] pedrobaeza commented on #54907
I don't think this is something of the module, but your deployment, but anyway, this is something of enterprise modules so please put a ticket at odoo.com/help, and they will see (probably in your system) the possible root cause.

Closing here.

[2020-07-24 12:20] #54907 closed

[2020-07-24 14:11] pedrobaeza commented on #34161
Please check #54914 for the patch

[2020-07-24 14:36] Yenthe666 commented on #54907
@pedrobaeza he's talking about V8 so its a no longer supported version (and not ENT).

[2020-07-24 14:38] pedrobaeza commented on #54907
Ouch, I saw document and associated with `documents` module. So no clue which documents he is referring to (maybe attachments), but for sure is not something of Odoo.

[2020-07-24 14:43] bizzappdev opened #54919 "Models have no table: sale.report when updating few specific modules"
Impacted versions: 13, 14 (working proper in v12

Steps to reproduce:
1. Create a new database with "-i hr,sale_stock,sale_margin,point_of_sale".
2. we have warehouse_id and margin in the sale_report SQL View.
3. Update the database with -u hr
4. margin and warehouse_id fields are no longer in SQL View.

Current behaviour:
1.  odoo.modules.registry: Models have no table: sale.report and Recreate t

[2020-07-24 14:59] pedrobaeza commented on #34161
Closing as merged.

[2020-07-24 14:59] #34161 closed

[2020-07-24 15:06] Yenthe666 commented on #54919
Hmm that's an interesting one. @Elkasitu @mart-e who could check this out?

[2020-07-24 20:05] elkady1337 opened #54924 "Any solution /odoo/odoo-server/odoo/addons/base/models/ir_attachment.py"
Any solution

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/addons/base/models/ir_attachment.py", line 103, in _file_read
    with open(full_path,'rb') as fd:
FileNotFoundError: [Errno 2] No such file or directory: '/odoo/.local/share/Odoo/filestore/AlKhaila_live/c5/c54d3d5e2b1320083bf5378b7c195b0985fa04c1'
2020-07-24 19:45:42,749 2852 INFO AlKhaila_live werkzeug: 197.34.60.95

[2020-07-24 23:03] pedrobaeza commented on #54924
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot).

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing the problem.

You can ask for help as well on Odoo official forums (https://www.odoo.com/fo

[2020-07-24 23:03] #54924 closed

[2020-07-25 07:41] bizzappdev commented on #54919
FYI OPW-2306523

[2020-07-25 08:54] Yenthe666 commented on #53936
Since it doesn't seem to be replicatable in V13 (probably fixed indeed) I'd vouch for closing this one off?

[2020-07-25 09:44] elkady1337 commented on #54924
This is not a solution to the problem

[2020-07-25 10:43] bahram-ashrafi opened #54927 "Live chat module send file problem"
Impacted versions: 13.0

Steps to reproduce: start chat and send a file but that file not shown

Current behavior: Dont show file

Expected behavior: Show file

Video/Screenshot link (optional):
https://youtu.be/38WVECKMPtU

[2020-07-25 12:29] movahhed opened #54928 "How change color text theme"
![20200725_165453.jpg](https://user-images.githubusercontent.com/27208274/88456950-cc3aa380-ce97-11ea-8000-e853ec3ddc3b.jpg)

There are problem with odoo 12. In mobile display mode, the color of the text or the background color of the top menu bar is inappropriate.
How can I fix it?

[2020-07-25 12:39] Yenthe666 commented on #54924
@elkady1337 then show us a way on how to reproduce it in a default Odoo instance (runbot.odoo.com)

[2020-07-25 18:34] pedrobaeza commented on #54928
Odoo Community is not mobile responsive. Try OCA's web_responsive module.

Anyway, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2020-07-25 18:34] #54928 closed

[2020-07-25 18:35] pedrobaeza commented on #54927
Not sure if there's support for files in the chat. @JKE-be are you the one for chat things?

[2020-07-25 21:03] tarbib commented on #52122
Hello,

I still have the issue described by @dirceu3h. I did the git pull (I installed Odoo with @Yenthe666 's script => git pull in odoo/odoo-server) and I have a payment journal. I additionally rebooted the server and upgraded all the installed modules.
![image](https://user-images.githubusercontent.com/2255433/88466261-d033e900-ceca-11ea-8625-87d75ae37db2.png)

Any ideas where else could I look

[2020-07-26 06:20] mast-it opened #54931 "Board (Dashboard)"
Impacted versions:
12 Enterprise

Steps to reproduce:
Point of Sale -> Orders
Time Range: This Week
Compare: Previous Period
Group By: Point of Sale
Favorite: Add to My Dashboard

Current behavior:
Showing in My Dashboard but not updated data every time report updated

Expected behavior:
It should be updated every time I access my dashboard

Video/Screenshot link (optional):

[2020-07-26 06:44] JKE-be commented on #54927
@odoo/rd-discuss ... it is probably for your

[2020-07-26 11:27] pedrobaeza commented on #54931
Are you talking that the dates are not dynamically updated, pointing "This Week" reference to the current frame time?

[2020-07-26 13:49] 3mrdev commented on #32100
@refana77 Did you check the "Scheduled Actions/Accrual Time Off: Updates the number of time off" ?

[2020-07-26 22:15] GSLabIt opened #54933 "[12.0][BUG] pos_sale, query could end in ambiguous qty field"
Impacted versions: 12.0, 13.0

https://github.com/odoo/odoo/blob/bfd2b669c056cc9fa6e97992944e66aac7c1092a/addons/pos_sale/report/sale_report.py#L31-L32

this 2 lines could generate an ambiguous `qty` field if declared in any of the tables in JOIN; should be `l.qty` ins't it?

[2020-07-27 04:43] pdldeepak commented on #45443
I am also having the same issues on installing the mrp module in the odoo 13 enterprise.

Steps to reproduce;
Go to Apps > try to install mrp module.

The issue I get is :
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/convert.py", line 713, in parse
    self._tag_root(de)
  File "/usr/lib/python3/dist-packages/odoo/tools/convert.py",

[2020-07-27 09:08] GSLabIt commented on #54933
@Yenthe666 what u think?

[2020-07-27 09:12] Yenthe666 commented on #54933
@pimodoo it's final call but I don't think it would be bad to be less ambiguous yes :)

[2020-07-27 10:02] pimodoo commented on #54933
@GSLabIt @Yenthe666 Hello,

As for now there are no other tables having a qty field, I won't fix it in stable version. So I made the pull request in master: https://github.com/odoo/odoo/pull/54960 to avoid  introducing bugs.

Thanks

[2020-07-27 10:03] alexkuhn commented on #54927
Hello, sending files in live chat is indeed not supported yet. To make this clear, we're removing the "Add file" button in operator live chat composer in #54957.

[2020-07-27 12:53] #54927 closed

[2020-07-27 12:55] sdelafond opened #54980 "Add support for werkzeug 1.x"
Impacted versions: 13.0

Steps to reproduce: Install on Debian sid with werkzeug 1.0.1

Current behavior: exception thrown at startup

Expected behavior: service runs correctly

Here is the stracktrace:

[code]

In the meantime, setup.py could probably be amended to explicitely list `werkzeug < 1.0`.

[2020-07-27 13:14] Yenthe666 opened #54982 "[13.0] base: incorrect mimetype generation for XLS files generated through wizard"
Impacted versions: 13.0 atleast but I assume all of them.

Steps to reproduce: Take some time, this is going to take a while ;)
1. Install this sample module:
[mimetype_bug.zip](https://github.com/odoo/odoo/files/4982032/mimetype_bug.zip)
2. Add a print in the function `binary_record_content` from `ir_http.py` right under the `field_attachment`:
https://github.com/odoo/odoo/blob/15ce41cd1ec8a9e80e

[2020-07-27 13:17] Yenthe666 commented on #54982
OPW `2307414`

[2020-07-27 13:19] Yenthe666 commented on #54980
@d-fence probably for you :)