[2018-02-08 08:00] yung-wang commented on #22513
Thanks for the fix. I just tested it in Runbot and it works.

[2018-02-08 08:00] Yenthe666 commented on #22907
Hi @Aksth93,

The Github tracker is only used for bugs in the official code and shouldn't be used for questions about custom development.
Please do ask this on the official help forum at help.odoo.com.
I believe that the official documentation that learns you how to create a module would be good for you to look at too. You can find it at https://www.odoo.com/documentation/9.0/howtos/backend.html

[2018-02-08 08:00] #22907 closed

[2018-02-08 08:37] seyed-mohammad-motahar commented on #10149
Reading this, I think https://github.com/Vauxoo/addons-vauxoo/tree/11.0/message_post_model on v11 is what we should look after to migrate for our customer.

[2018-02-08 09:08] ccandito commented on #22884
solved!!!
thanks for your suggestion
Regards
claudio candito

[2018-02-08 09:08] #22884 closed

[2018-02-08 09:20] #22885 closed

[2018-02-08 09:51] qsm-odoo commented on #22523
Hello,
The bug has been solved in 9.0 with commit https://github.com/odoo/odoo/commit/ce51ad7e69dbc1415eaf5f2ae846bbe89a37f69b, it will be forward-ported in 10.0 in the upcoming days.

[2018-02-08 09:51] #22523 closed

[2018-02-08 10:02] a-gandhi opened #22913 "Unnamed: While reloading report page"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-02-08 10:23] a-gandhi opened #22915 "Traceback: While click on print button"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

https://www.awesomescreenshot.com/image/3159664/9993de08ca4d7a5f9f62d83eed0a670e

[2018-02-08 10:31] Ankit-Gandhi opened #22916 "Traceback: While click on edit button"
Impacted versions:

Steps to reproduce:
Go to Settings > Technical > Actions > Reports > Select any report(Quotation / Order)
Change report from PDF to HTML
Now go to print that report screen and refresh that page
Try to edit that report
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

https://www.awesomescreenshot.com/image/3159679/ede70b96dc8b60497dc97277c0b928d4

[2018-02-08 10:54] explanar opened #22918 "Calculating delivery costs in SO: "warning: no delivery carrier fits" / "Kein Frachtführer passt""
Impacted versions: 10 Community

Steps to reproduce:
Delivery Method depending on weight + fixed value (5+0,1*weight) for Zip 70000 to 79999

Current behavior:
Works fine in eCommerce-Webshop, but manual Salesorders it works only the first 5-10 SOs,
after that, the warning comes up every time you click the "calculate delivery costs" button in SO.
There is no chance to create a delivery carrier for

[2018-02-08 11:12] Yenthe666 commented on #22918
Hi @explanar,

Thanks a lot for the report.
Just a quick question: can you also reproduce this when the user language is in English? Is your Odoo on the latest source code too?

[2018-02-08 11:15] Yenthe666 commented on #22916
Hi @Ankit-Gandhi,

Thanks a lot for your bug report.
I've just tried this on the latest Odoo 11.0 (on runbot.odoo.com) but it seems to work fine:
![image](https://user-images.githubusercontent.com/6352350/35970171-ae8d8826-0cc9-11e8-9d2f-2a1632dbfdf8.png)

Can you update your Odoo source code and try again? Can you reproduce it on a runbot instance?

Regards,
Yenthe

[2018-02-08 11:17] Yenthe666 commented on #22915
Hi @Ankit-Gandhi,

Same response as the other ticket, this seems to work too.
Can you reproduce it on the latest runbot? Have you updated your Odoo to the latest code?

Regards,
Yenthe

[2018-02-08 11:19] Yenthe666 commented on #22913
Hi @Ankit-Gandhi,

This does seem to be the case:
![image](https://user-images.githubusercontent.com/6352350/35970325-42a46304-0cca-11e8-9350-89a83c56c2db.png)
@ged-odoo I think this is for your team?

Regards,
Yenthe

[2018-02-08 11:25] yvaucher commented on #22523
@qsm-odoo thanks for the patch

[2018-02-08 11:54] Ankit-Gandhi commented on #22915
Hello @Yenthe666,

I have checked in runbot, still facing same issue.

Kindly refresh report page and try to print report.

Best Thanks,
Ankit H Gandhi.

[2018-02-08 11:57] Ankit-Gandhi commented on #22916
Hello @Yenthe666,

I have checked in runbot, Please reload print page and try to edit that page.

Best Thanks,
Ankit H Gandhi.

[2018-02-08 12:15] Yenthe666 commented on #22916
Yup, but directly coming because of a side behaviour of https://github.com/odoo/odoo/issues/22913 really..

[2018-02-08 12:17] Yenthe666 commented on #22915
Hi @Ankit-Gandhi,

Indeed:
![image](https://user-images.githubusercontent.com/6352350/35972483-4f2a4834-0cd2-11e8-81c9-99ddf4f8ecdd.png)

But this is also directly coming from https://github.com/odoo/odoo/issues/22913
If that one is fixed these will be too.

Regards,
Yenthe

[2018-02-08 12:41] Yenthe666 opened #22922 "[11.0] Odoo Studio breaks framework when creating fields with track_visibility"
Impacted versions: 11.0 Enterprise atleast (V9 & 10 too probably)

Steps to reproduce:
1. Create a new database
2. Install the `purchase` module
3. Install the `odoo_studio` module
4. Activate developer mode
5. Go to purchases > purchase orders and create a draft purchase order. Then open up the studio and create a new monetary field. The new field should have the following settings:
- readonly
-

[2018-02-08 12:45] Yenthe666 commented on #22922
OPW 815185

[2018-02-08 12:48] Yenthe666 commented on #22922
@ged-odoo @aab-odoo and @mge-odoo this is relevant for you guys. This was quite a challenge to figure out.

[2018-02-08 12:49] levkar opened #22923 "Default sales team on invoice gives access error on customer invoices"
Impacted versions: V9+, tested on V11

Steps to reproduce:
1) Select a company on the sales team created by default. (company is empty by default)
2) Switch to other company
3) Go to account -> sales ->  invoices -> customer invoices
4) Click on Create button

Current behavior:
Internal server error

The requested operation cannot be completed due to security restrictions. Please contact your syst

[2018-02-08 13:03] Yenthe666 commented on #22702
@sle-odoo pretty please? We have this issue with a customer. Just by looking at the code it is not clear which variable it should be instead of the unused one. You probably find this within minutes 😆

[2018-02-08 13:08] gustavovalverde commented on #22885
I'm plenty sure I tested this on runbot before opening the issue. Seems like I need some sleep; I'll re-validate to see what happened

[2018-02-08 13:11] gustavovalverde commented on #22886
@qdp-odoo you'll make us blush 😄

[2018-02-08 13:19] Yenthe666 commented on #22878
*mumbles*, please? ☘️

[2018-02-08 13:20] max3903 commented on #22899
@vcloud9ray I think group configuration is fine. I am guessing the view is not...

[2018-02-08 13:21] lukebranch commented on #22922
Bumped into this issue a few times as well. I think some sort of ‘locking’ feature per field, action, etc. Could be quite useful to make Studio feel a little less fragile for partner use.

[2018-02-08 13:26] qsm-odoo commented on #22878
@Yenthe666 Sorry, I forgot to reply. You can send me an email but I am not sure I will be able to test anything from screenshots... The latest 11.0 seems to be working as shown in my previous message, so I suppose the bug is related to your configuration. You can send me the details, I will have a look and tell you if I can do anything from those.

[2018-02-08 13:26] Yenthe666 commented on #22922
Fragile? I'm not even touching that thing on any production environment. It is a pesky module for technical people (sorry, no offense guys, I know it was hard work).

[2018-02-08 13:33] sle-odoo commented on #15081
@fgi-odoo is it expected?

[2018-02-08 13:33] Yenthe666 commented on #22878
@qsm-odoo Thanks, I've dropped you an e-mail. I guess we'll know soon enough.
About your note from @JKE-be telling that the CDN feature was partly broken: what was broken then and where can I find the fix/commit?

[2018-02-08 13:39] aisopuro opened #22925 "Quality alerts are only visible on the work order form view, not in the specialized view"
### Impacted versions:
11.0 at least, possibly 10.0. Tested on demo.odoo.com

### Steps to reproduce:
- Install Quality Control and MRP. Go into settings and check that you want to manage work orders
- Create a quality alert for some product and workstation. Also create a workstation message
- Create a manufacturing order for said product with a route that uses the workstation in question
- Progre

[2018-02-08 13:54] gustavovalverde commented on #19722
@qdp-odoo I also need to create default journals for `l10n_do` is there a localization that already does this? I'll like to do it this weekend if I have your approval.

[2018-02-08 14:00] bunhin commented on #14577
I have refresh the code with git pull, but why the error still happening (simillar case)  set up multi company and entry inventory adjustment this error still there now.
Please help to get the solution works

[2018-02-08 14:10] ThijsvOers commented on #22923
Hello Levkar,

I can confirm that if I have the same error on our 11 C multi company environment, latest base Odoo updates are installed.

[2018-02-08 14:20] simosuu opened #22927 "Unable to change quotes / sales orders order line description"
Impacted versions: Odoo 11 (25.1.2018)

Steps to reproduce:

Create quote / sales order and add products to it. Save and tryto modify order lines descriptions.

Current behavior:

Usually wont save. Revert to old value.

Expected behavior:

Change always.

Video/Screenshot link (optional):
Try to add "111"

![image](https://user-images.githubusercontent.com/23297584/35977417-c8568fe2-0ceb-11e8-83a

[2018-02-08 14:20] bst-odoo commented on #22617
I'm closing the PR because the answer was given on the ticket 813910

[2018-02-08 14:20] #22617 closed

[2018-02-08 14:23] ysantiago commented on #22893
Hi @Yenthe666,

The problem is present when is created a Product Variant without having first created the Product (template), as shown in the [video](https://www.youtube.com/watch?v=J5rrZgwd9ts&feature=youtu.be).

Regards

[2018-02-08 14:32] bunhin opened #22930 "[10.0c]Can not validate inventory adjustment in multi-company mode"
Impacted versions: 10 CE

Steps to reproduce:
New Database Install, activate Dev Mode, Install sales, purchase, inventory, accounting
Activate multi Company, Create Company,
Setting COA for each company
Create admin user for company with access right Sales Manager, Purchase Manager, Adviser, and HR and Employee, and Setting,    allow to the company,  also allow super admin for the company

Create

[2018-02-08 14:35] Yenthe666 commented on #22878
As for my issue: I didn't add `https://` in front of the keyCDN URL that I entered in Odoo. /fail.

[2018-02-08 14:35] #22878 closed

[2018-02-08 14:52] Gorash commented on #21200
The branch #21135 is merged

[2018-02-08 14:52] #21200 closed

[2018-02-08 15:42] jlaloux opened #22939 "[11.0] Access right issue with only Purchase access right"
Impacted versions: 11.0 (tested only on this version) community and enterprise

Steps to reproduce: Create a user with  only Purchase user access rights

Current behavior: This user cannot access product form view due to access error on sale.report

Expected behavior: This user could access product form view

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/7678

[2018-02-08 17:04] cormaza opened #22943 "Function view_init can't get action's context related"
Impacted versions:
11.0

Steps to reproduce:
Set context on action of records, or on action of wizard, and if you try to get key on context, can't get it, on video I can explain behavior

Current behavior:
Function view_init is called before action is displayed, I try to use this function to send warning if not correct context

Expected behavior:
Function view_init get context of action

Video/Scr

[2018-02-08 17:11] Yenthe666 commented on #22617
Thanks. @bst-odoo perhaps it is handy to add the final answer here too? If others land here they'll know the official statement too.

[2018-02-08 17:43] paulius-sladkevicius opened #22944 "Error when removing attendee from event"
Impacted versions: v11

Steps to reproduce: Add attendee and set reminder, save. Remove attendee, save.

Current behavior:
[code]

Expected behavior: Attendee is removed

Tested on the latest runbot env.

[2018-02-08 17:49] paulius-sladkevicius commented on #22944
I think here https://github.com/odoo/odoo/blame/2c6bad6b75c9c9f66abc4bdbecace74536556adc/addons/calendar/models/calendar.py#L1481 it should extend instead append.

[2018-02-08 17:57] egrivero opened #22945 "[11.0] Permission error when creating initiative / opportunity."
Impacted versions: Odoo Enterprise 11.0

Steps to reproduce:
 - Install CRM
 - Login with the demo user.
 - Try to create an initiative / opportunity.

Current behavior:
 - Odoo generates the following error when trying to create the initiative / opportunity.
![screenshot from 2018-02-07 20 38 30](https://user-images.githubusercontent.com/7115776/35989483-dcbe8d74-0cc6-11e8-9e00-11fd3af11f80.png)

[2018-02-08 18:00] sswapnesh commented on #22927
Hello @simosuu
Could you please update your source code and try again?
Related to #22797

[2018-02-08 18:24] sswapnesh commented on #22918
Hello @explanar
This is the Desired behavior I believe as You are applying some rule for zip 70000 to 79999, Based on that there might be some Delivery location which doesn't fit in your Rules for any of the Delivery Carrier.

![](https://image.prntscr.com/image/agtA6sv5QTCIvZdHz2r3EA.png)

Cc: @Yenthe666

[2018-02-09 03:34] valvalvalvalval opened #22951 "Odoo 10 Community - Delete PO with Movement"
Impacted versions: Odoo 10 Community

Hi,
I created a PO, validate, received goods until create BILL. But I found out that I inputted wrong partner so I refund the BILL, return the goods and want to delete the PO.
However I can't delete the PO and below is the warning from Odoo:

**Odoo Warning - Warning
Unable to cancel purchase order PO00001 as some receptions have already been done.**

Can anyo

[2018-02-09 08:27] qdp-odoo commented on #19722
1) about xml_ids: best is to give new xml ids to accounts that changed so that there will never be any confusion between the accounts pointed. So you could have
do_niif_51XXXXX => xml ids of installation prior to 2018
2018_do_niif_51XXXXX => xml ids of installation after 2018
As you can see, there's no ambiguity

2) you need to overwrite _prepare_all_journals(). Check l10n_mx, l10n_fr or l10n_in f

[2018-02-09 08:29] Yenthe666 commented on #22944
Hi @paulius-sladkevicius,

Thanks a lot for your bug report!
I can confirm that this is an issue:
![image](https://user-images.githubusercontent.com/6352350/36018320-9f631a34-0d7b-11e8-9748-d6c7457573e0.png)

Somebody from the services team will check and fix this as soon as possible! (cc @JKE-be)

Regards,
Yenthe

[2018-02-09 10:16] ntodorova commented on #22354
@mart-e, could you please open the issue again since there is no proper answer to the question?

[2018-02-09 11:01] Yenthe666 commented on #22945
@egrivero,

Thanks for the report.
@mart-e if I'm not mistaking there was recently another bug report about this.
If I'm not mistaking @mart-e was saying this is intended behaviour and that it depends on if the user is attached to sales teams or not. Can you give feedback Martin?

Regards,
Yenthe

[2018-02-09 11:04] JKE-be commented on #22944
Fixed in 10: https://github.com/odoo/odoo/commit/df3fb9f85abbb78b529e4a6095b04915d6684e09

Will be ported to next version asap.

[2018-02-09 11:04] #22944 closed

[2018-02-09 11:18] Yenthe666 opened #22956 "[11.0] Domains no longer working with dynamic dates"
Impacted versions: 11.0

Steps to reproduce:
1. Go to settings > Technical > Automation > Automated actions and create a new automated action.
2. For example to test use the model to `purchase.order`, action to do to email, add an e-mail template and then add a domain. For this domain say that the date has to be smaller than the current date (dynamical):
[code]
Your domain now looks like this:
![i

[2018-02-09 11:22] gustavovalverde commented on #19722
Ok, so in the XML I'll create the new ids, keep the old ones and and set `deprecated `to True.

Thanks, I'll work on it.

[2018-02-09 11:22] Yenthe666 commented on #22956
OPW 815393

[2018-02-09 11:27] Yenthe666 commented on #22944
Thanks for the awesome response rate @JKE-be 😉

[2018-02-09 13:07] GillPotter commented on #22891
Hi ThijsvOers

Thank you for your comment, it has helped me understand when the error occurs.

When User 1 creates the Sale Order in Company A, User 2 can only create an invoice for that order if User 1 is (or was when last logged in) in Company A. And the same for Company B etc.

This is a big issue for us as User 1 and User 2 work part time and are not always in the office at the same time. I wo

[2018-02-09 13:47] simosuu opened #22963 "Timesheets-tab should be hidden if "Allow Timesheets" is disabled on project"
Impacted versions: 11.00 CE (9.2.2018)

Steps to reproduce:

Create project with "Allow timesheets" disabled
Create task to project

Current behavior:

Timesheets-tab is shown in projects tasks.

Expected behavior:

Timesheets-tab should be hidden on tasks.

Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/23297584/36030443-ec83e170-0daf-11e8-9486-acc829fd512b.

[2018-02-09 13:48] scaldewi commented on #22559
We experience similar faulty behaviour with one customer.
"incoming mailserver" is configured "Actions to Perform on Incoming Mails":
Create a New Record: None (empty)
Server Action: None (empty)

1)
fetchmail receives mail from mailserver and correctly assigns them to a previous sent mail at odoo object (f.e. a reply to a sales order mail to customer).

2) If there is mail without previous Odoo m

[2018-02-09 13:50] DbTechGit opened #22964 "Can't "lock" Serial Number"
Impacted versions:

Odoo 11.0-20180208 (Community Edition)

Steps to reproduce:
Load in the inventory five identical products with five  different serial number.

I created and  validate a sell order with a various products.
(That products are manage with "Serial Number Option")

Then i click on the lot icon, i choose the right serial number and i confirm order.
So Far, so Good.

After a couple of

[2018-02-09 14:19] lap-odoo commented on #22964
Hi,

That's a good suggestion but not so easy to do in practice.

Let me explain : 
- I deliver Serial Number A 
- I'm back on a delivery order : I shouldn't see serial number A (ok, that's easy)
- But let's imagine that now I create a return : in that case, I should be able to select serial number A (if my customer returned it) 

As you can see, we cannot simply not show serial number A when used

[2018-02-09 14:19] #22964 closed

[2018-02-09 14:29] lukebranch opened #22966 "FR: [12.0/Master] Hot Reloading During Dev (eg. Report Dev)"
Impacted versions:
All
Steps to reproduce:
N/A
Current behavior:
Upgrade and refresh every time a change is made.

Expected behaviour:
Hot reload/refresh.

Video/Screenshot link (optional):
https://facebook.github.io/react-native/blog/2016/03/24/introducing-hot-reloading.html

Explanation:
It would be incredibly useful to have this kind of functionality in Odoo.
This is how many devs work, and it

[2018-02-09 14:31] Yenthe666 commented on #22966
Hey @lukebranch,

Thanks for the suggestion!
I think this is of interest for @ged-odoo, @xmo-odoo and @odony and I also believe something along these lines was once mentioned as 'would like to have'?

Regards,
Yenthe

[2018-02-09 14:37] #22729 closed

[2018-02-09 14:39] JKE-be commented on #22966
@lukebranch

Have you already try the --dev xml,reload mode when you start your server?

That will reload automatically the server when you update one python file.
And read XML from the xml file instead of db.

[2018-02-09 15:06] qdp-odoo commented on #22358
can't reproduce, and I don't see how the code could fail/how yours would improve anything...

can you give more details? I'm closing this issue in the meanwhile

[2018-02-09 15:06] #22358 closed

[2018-02-09 15:56] blaggacao commented on #22966
@lukebranch
Note: What @JKE-be  doesn't work when you have a docker based development workflow on windows, as Windows for Docker does not implement the inotify api.
Not sure how advanced is native pynotify on Windows and if it handels the use case without docker..
That would be in any case unrelated to Odoo, however...

[2018-02-09 16:04] blaggacao opened #22968 "[FR] Sandboxed mode to ensure quality support operations"
It would be incredible useful to implement a safe "maintenance switch" by default. There are community solutions to the problem, but a typical support workflow (outside of the Odoo.com/help realm) is like this:

- copy db-dump to local machine
- Pray that you did not forget to switch of cron jobs and stuff (because you where developing the next exciting plugin just now)
- Pray that you get in time

[2018-02-09 16:24] qdp-odoo commented on #22382
@gustavovalverde don't know what you're talking about: this field is added in point_of_sale module (https://github.com/odoo/odoo/blob/11.0/addons/point_of_sale/models/account_journal.py#L10) so there's no way it could be visible without the module installed...

[2018-02-09 16:24] #22382 closed

[2018-02-09 16:30] #22630 closed

[2018-02-09 16:31] qdp-odoo commented on #22630
done.

thanks for the contribution

ps: nice avatar, @mduvergey :+1:

[2018-02-09 16:37] Cedric-Pigeon commented on #22697
@kebeclibre I can understand you can not proceed on stable version. But as we have a contract, thanks to provide us a patch.

[2018-02-09 17:21] blaggacao opened #22969 "[HR] (Design Flaw) BrowsableObject does not aggregate"
Observed on v10, suggestively all versions
**Replication (roughly):**
1. Having contrued a Browsable object in your favorit manner, for example by adding Work Days or Input Items in a salary slip, (say line `WORK100`)
2. Adding a second item with a duplicate `code` field (say `WORK100`) with different values
3 will override former items with the same code, when accessing it through the browseable

[2018-02-09 17:31] blaggacao commented on #22969
Uses cases where `code` implements alternatively and more manageable so than external ids a legal grouping throughout the holiday application (which is rather common worldwide): "Ester holidays are different from holidays originating from overtime."

[2018-02-09 17:41] blaggacao commented on #22968
added gimmick: `--dev support` token resets the UID=1 to `user=admin` & `password=admin` on db loading leaving a warning about it in the logs.

[2018-02-09 17:57] gustavovalverde commented on #19722
I imagine that I can also modify the ir.sequence generated by those journals, to match our fiscal sequence used in the the invoices. I'll do a separate PR for that

[2018-02-09 19:05] alexisheloir commented on #22517
I also add to patch /web_editor/static/src/js/widgets.js l.552 to get the web editor widget working with the latest release of chrome.

        if (sheets[i].hasOwnProperty('rules')) {
            rules = sheets[i].rules;

[2018-02-09 19:24] blaggacao opened #22973 "[FR] UX improvments on Exceptions"
Experience with clients states, that usually the user is not really looking at the exception message.
Not sure, but chances are with improved visuals with an effort to improve the messages throughout the code, bug reports might go down over time...

Especially bad: No prominent colorful visual to differentiate UserError, AccessErrors and other warnings, so the user sees a more technical warning on

[2018-02-09 19:26] blaggacao commented on #22973
Additionally it would be immensely helpful to log AcessErrors by default to the db's log table so that the person who configures the instance can detect patterns and do a more informed approach on solving access rights in complex projects...

[2018-02-09 19:29] blaggacao commented on #22973
DO support basic html tags like `<b>` `<i>` `<ul>` and `<code>` for exception stracktraces on the HR python codes and python taxes...

[2018-02-09 21:28] deivislaya opened #22975 "[11.0] Issue to edit products variants in multicompany"
**Impacted versions:** 11.0

**Steps to reproduce:**

1. Modify the demo user, so that only belongs to the company: "My company, Chicago" and give manager permissions for the inventory module.

![demo user odoo](https://user-images.githubusercontent.com/5775695/36050561-541d733e-0dbd-11e8-844c-7db1be562f5e.png)

2. Go to Menu Inventory -> Master Data -> Products Variants

4. Find the product "Grap

[2018-02-09 22:07] blaggacao commented on #22975
To me it seems a valid report... @sle-odoo
I beg there are other related models in the inventory module which would welcome a review of the security rules :wink:

[2018-02-09 22:33] blaggacao opened #22976 "[FR] Decimal precisions, the nightmare isn't over, yet."
v10
Surprisingly **every** client has a problem (from small to huge) with the trade offs associated with decimal precision. The use cases are so diverse so a five-sizes-fits-all approach as currently implemented still causes a lot of trouble.

The main problem is, the client is not inclined to accept the trade offs, although one could argue those are relatively sane trade offs.

Especially I recog

[2018-02-10 10:45] grzekru opened #22980 "res.partner.bank do not register currency and company change in connected account.journal"
**Impacted versions:**

11.0

**Steps to reproduce:**

Install sale module
Set multi-currency and multi-company
Create other company and set accounting in settings.
Go to Invoicing -> Configuration -> Accounting -> Bank Accounts
Set bank name, bank account number, currency
Add "bank_account_id" field to the form view
Edit currency and company

**Current behavior:**

Bank name and account number up

[2018-02-10 11:31] sswapnesh opened #22982 "[10.0/11.0] Save attribute filter preference on Shop"
Impacted versions: 10.0/11.0

Steps to reproduce: Enable Product Attribute's Filters on Shop --> Filter Based on Black Color --> Open Product --> Add to Cart

![](https://image.prntscr.com/image/rEgroeD1ROSKFXMSartnmg.png)

![](https://image.prntscr.com/image/6VQxdCX8SkCVaZVuQZemPg.png)

![](https://image.prntscr.com/image/FEm6N4y_RbGGj8z_r5vPeA.png)

Current behavior: Product with the First Attri

[2018-02-10 11:34] sswapnesh commented on #22982
@JKE-be  Could you please check this?

[2018-02-10 14:08] fwillier commented on #19280
Have you solved, or found a way to solve this issue as I have the same problem, and have invoices (negative) and credit note (positive, which I created to balance the negative invoice), and hoping i could match both of them,
But Odoo does let me do this, and I have a negative invoice stuck and a positive credit note stuck.

Thanks,

Sincerely,

[2018-02-10 14:29] sswapnesh commented on #22423
Any updates from Odoo after reading this detailed conversation?

[2018-02-10 17:18] andech opened #22985 "[11.0] ValueError: External ID not found in the system: web.login"
Hi! I need help in starting odoo v11. I cloned odoo with git and try to start with command "./odoo-bin", after that appears next logs in console:

2018-02-10 17:07:43,019 2922 INFO ? odoo: Odoo version 11.0
2018-02-10 17:07:43,020 2922 INFO ? odoo: addons paths: ['/home/odoo/.local/share/Odoo/addons/11.0', '/home/odoo/odoo-dev/odoo/odoo/addons', '/home/odoo/odoo-dev/odoo/addons']
2018-02-10 17:07:

[2018-02-10 17:30] vijoin commented on #22985
I've got this error too. I installed v11 with docker. I've kind of solve it erasing all my modules at extra-addons directory ... I assumed some code in some module was giving problem, but I don't know for sure...The error points to an id I've never touched.

[2018-02-10 18:17] edsersolis opened #22986 "[11.0] When creating a File field with Odoo Studio the file gets the extension removed"
Impacted versions: 11.0 EE

Steps to reproduce:
1. Create a File field using Odoo Studio in any form.
2. Attach a document.
3. Export the document.
4. Try to open it.

Current behavior:
The file extension is getting removed, for example a picture with a JPG format when uploaded and downloaded back from the field it will download with another name generated by Odoo and with no extension.

In order

[2018-02-10 18:24] edsersolis opened #22987 "[11.0] Odoo Studio File field is error prone"
Impacted versions: 11.0 EE

Steps to reproduce:
1. Create a File field in any view.
2. Attach a file.
3. Click on Save.
4. Click Edit again.

Current behavior:
1. When editing a form the File fields only shows the file size with no name.
2. If you click the file name it will open the Open dialog to select a file.

Expected behavior:
1. Show: FILE NAME (SIZE kB)
2. Opening the dialog should only be

[2018-02-10 19:02] Yenthe666 commented on #22423
Haven't heard back yet I'm afraid..

[2018-02-10 22:44] nhomar commented on #18052
for future reference.

on odoo.sh (when this issue was published this did not exist) the version for werkzeug is 0.14.1.

![image](https://user-images.githubusercontent.com/338634/36067379-727d9560-0e81-11e8-9fc2-6ef1e6f14f4c.png)

It should be nice if we fix that on the requirements, we lost the on-premise instances with bad requirements and .deb files.

cc @odony

[2018-02-10 23:03] ruiztulio commented on #18052
Just for the record and in case someone else come across this.

If you are executing Odoo inside a docker container or a VM behind a proxy this is particullary difficult to debug, but wih werkzeug==0.14.1  and the default nginx configuration for Odoo this is fixed with no major issue or any other change.

[2018-02-11 06:11] vivishow commented on #22066
Check if there is a file /tmp/.s.PGSQL.5432 instead of /var/run/postgresql/.s.PGSQL.5432.
you can run odoo with '-s'  and edit ～/.odoorc set db_host='/tmp'

[2018-02-11 08:18] sswapnesh opened #22992 "[9.0] Invalid field (name) is used in copy_data method of mrp.bom"
Impacted versions: 9.0
(Not an Issue but Code cleanup)

Steps to reproduce: Copy Bom

Current behavior: Warning in log
`WARNING mrp_v9 openerp.models: mrp.bom.create() includes unknown fields: name`

Expected behavior: No Warning in log

Video/Screenshot link (optional):

[2018-02-11 08:45] sswapnesh commented on #22893
I agree with this behavior but not sure If Invoicing Policy should be used on Product Variants or not. (We should make it invisible if It is not allowed on Variants)

Create New Products from Variants menu

Default `Ordered quantities` is there already

![](https://image.prntscr.com/image/lFHSIRoyQfKRI1EXIETbHg.png)

Change it to `Delivered quantities` and Save it.
It will be changed to `Ordered q

[2018-02-11 09:37] JayVora-SerpentCS commented on #22985
sudo su apt-get install python-passlib will do. If not, make sure the web modules are inside the addons, they have access to be read.
If you use enterprise, keep those addons first in addons-path.

[2018-02-11 10:23] andech commented on #22985
Thanks for your replies!
@vijoin I don't have "extra-addons" directory, only default "addons".
@JayVora-SerpentCS "python-passlib" already installed. I installed odoo 11 community edition. All folders and files inside them have read access.

My odoo folder listing:

drwxr-xr-x  10 odoo odoo  4096 Feb  8 23:28 .
drwxr-xr-x   3 odoo odoo  4096 Feb  8 23:22 ..
drwxr-xr-x 275 odoo odoo 12288 Feb  8 23

[2018-02-11 12:53] bluemix commented on #8381
any updates?

[2018-02-11 13:11] spectra10008 commented on #22779
no

[2018-02-11 13:13] spectra10008 commented on #22779
not fixed

[2018-02-11 14:36] Yenthe666 commented on #18109
Hi @grzekru,

I've just tested this again and it seems to be fixed in the meanwhile.
Please update your source code in order to fix the issue at your end. If you can still reproduce it then please do respond back.

Regards,
Yenthe

[2018-02-11 14:36] #18109 closed

[2018-02-11 15:04] Yenthe666 commented on #22779
@d-fence I guess ther eis more work for you 😉

[2018-02-11 16:22] Vartkat opened #22995 "[10] import refund"
Impacted versions:
10.0ce

Steps to reproduce:
Go to accounting-->supplier invoice--> Import button

Current behavior:
Even if I provide a csv file with a 'type' column I can't specify that the imported document is a refund and not and invoice.
Whenever I import a refund, Odoo sees it as an invoice and not a refund

Expected behavior:
I excepted to have 'type' in the local menus up the data column

[2018-02-11 18:30] leonardorame opened #22997 "Creating a new sales.order with Python API (xmlrpclib.Fault: <Fault 2: ''>)"
Impacted versions:
11
Expected behavior:
Sales.Order ID returned

When I try to create an sales.order from jsonrpc Python API using this:

[code]
I get this error:
[code]

What's wrong with my code?

[2018-02-11 19:07] Moto017 commented on #22578
Hi,

Yes, but with lots assigned, it will only pull from the assigned lot and cause a negative stock.  The reserve should assign the quantity available in each lot.

[2018-02-11 22:28] icf20 opened #23000 "fleet module usability for provider field"
This module don't have a way to set the product purchased, for example diesel, and on the provider drop down it should show only the providers that sell diesel not every other provider on alphabetic order

also, introducing the invoice number is not in any way connected to the invoice module, if the invoice is introduced in the provider invoices the provider field should auto complete

[2018-02-12 04:41] khishigbat commented on #22593
@mart-e, please?

[2018-02-12 04:42] sswapnesh commented on #22997
Hello @leonardorame
 Use python3 to call this script not 2.7.

[2018-02-12 06:21] rossigee opened #23002 "Scheduled tasks not running"
Impacted versions:

11 (and all previous versions)

Steps to reproduce:

Run up a simple docker stack locally using latest docker image:

[code]

...

[code]

Go to http://localhost:8069/web?debug.

Create a 'test1' database, including demo data, and log in. Switch to developer/debug mode.

Go to Settings > Apps > Scheduled Actions.

Edit the default 'autovacuum' task. Reschedule to run every minu

[2018-02-12 06:23] rossigee commented on #3746
This is easy to reproduce, and still occurs with latest Odoo 11 image. I have filed a fresh bug report (#23002) with steps to reproduce.

[2018-02-12 06:51] rossigee commented on #23002
The cause of this is that the default 'workers' configuration setting is 0 (zero).

So, this was fairly easily resolved by taking a copy of the /etc/odoo/odoo.conf file from the container, uncommenting the 'workers' line and setting it to 2. I then mounted the modified 'odoo.conf' file into the container and restarted the 'app' container.

On changing the scheduled task to run every minute, it cou

[2018-02-12 06:51] #23002 closed

[2018-02-12 06:56] #22985 closed

[2018-02-12 06:57] Yenthe666 commented on #22986
@ged-odoo for you guys 😉

[2018-02-12 06:58] Yenthe666 commented on #22992
Hey @sswapnesh,

Thanks for the bug report.
As you've made a PR to fix it an issue is not really needed (as it only fills up the queue of issues).
I'm closing this bug report as somebody will give the appropriate feedback on the PR soon enough.

Regards,
Yenthe

[2018-02-12 06:58] #22992 closed

[2018-02-12 07:57] sle-odoo commented on #8381
This issue is targeted to the v8 which is not supported anymore, and i answered with the solution earlier. There are two views to update.

Regards

[2018-02-12 07:57] #8381 closed

[2018-02-12 08:17] Yenthe666 commented on #5040
@odony and @mart-e this is actually something that is still bothering me as of today.
Can't we find something around this?

[2018-02-12 08:19] Yenthe666 commented on #3239
@sle-odoo friendly reminder.

[2018-02-12 08:20] Yenthe666 commented on #3340
@ged-odoo can you give an update on this one?

[2018-02-12 08:22] Yenthe666 commented on #7417
@mart-e can you have a final look, give feedback again & close this topic off? 😄

[2018-02-12 08:23] Yenthe666 commented on #7375
@JKE-be seems to work fine.

[2018-02-12 08:24] Yenthe666 commented on #7323
Hi @jcarlosmontoya,

Thanks a lot for your bug report.
I was no longer able to reproduce this though, I'm assuming something in the configuration was wrong.

Regards,
Yenthe

[2018-02-12 08:24] #7323 closed

[2018-02-12 08:25] sle-odoo commented on #3239
We try to find "wkhtmltopdf", not "Wkhtmltopdf", [see here](https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/ir/ir_actions_report.py#L42).

Also, we did not have any feedback regarding the original issue so i suppose the improvement in changing the message is really minor. I thus close this issue.

Regards

[2018-02-12 08:25] #3239 closed

[2018-02-12 08:27] Yenthe666 commented on #7113
Hi @duanyp1991 ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
I've tried to reproduce it on 9.0 & 10.0 and it seems to work fine there now too.
If you can stil

[2018-02-12 08:27] #7113 closed

[2018-02-12 08:29] Hyperthinkk commented on #15119
Traceback (most recent call last):
  File "/odoo/odoo-server/addons/report/controllers/main.py", line 96, in report_download
    response = self.report_routes(reportname, docids=docids, converter='pdf')
  File "/odoo/odoo-server/odoo/http.py", line 504, in response_wrap
    response = f(*args, **kw)
  File "/odoo/odoo-server/addons/report/controllers/main.py", line 45, in report_routes
    pdf = r

[2018-02-12 08:29] Yenthe666 commented on #7127
Hey all,

This problem has been fixed in the meanwhile.

Regards,
Yenthe

[2018-02-12 08:29] #7127 closed

[2018-02-12 08:30] Yenthe666 commented on #6929
@nbessi and @lmignon feel free to make a PR to fix this 😉

[2018-02-12 08:30] #6929 closed

[2018-02-12 08:32] Yenthe666 commented on #9189
Hi @schmidtwastl,

Thanks a lot for your bug report.
This issue has been fixed in the meanwhile.
Backend:
![image](https://user-images.githubusercontent.com/6352350/36088446-a13e438e-0fd7-11e8-9a86-603922d17e3e.png)

Frontend:
![image](https://user-images.githubusercontent.com/6352350/36088427-8cf7b1ee-0fd7-11e8-88f1-b6cfa5888e08.png)
Please update your local Odoo instance in order to fix this.

R

[2018-02-12 08:32] #9189 closed

[2018-02-12 08:34] #9193 closed

[2018-02-12 08:35] Yenthe666 commented on #9193
Hey all,

Should indeed be updated & fixed. Please update your local Odoo instance. 😉

[2018-02-12 08:48] Yenthe666 commented on #9184
@qdp-odoo this is handy for you. This behaviour is the case in V9 & V10 and I know you're reintroducing the fiscal years in V12.. Perhaps we can build this check in in the upcoming V12?

[2018-02-12 08:50] Yenthe666 commented on #9175
Hi @Cedric-locchi and @Cedric-locchi,

Can you still reproduce this problem with the latest V9? I don't think this is still reproducable.

[2018-02-12 08:52] Yenthe666 commented on #9159
Hi @stephaniemillet,

There are treeviews for departments, employees, employee tags etc at this point so you should have no problem importing data.

Regards,
Yenthe

[2018-02-12 08:52] #9159 closed

[2018-02-12 09:01] Yenthe666 commented on #8901
@moylop260 any feedback here?

[2018-02-12 09:03] Yenthe666 commented on #8860
Hi @seamens,

Thanks a lot for the bug report and sorry for the late reply.
I've just tested this on the latest Odoo 9.0 and it is working fine out of the box.
If you still face this issue then please update your Odoo source code in order to fix this.

Regards,
Yenthe

[2018-02-12 09:03] #8860 closed

[2018-02-12 09:04] Yenthe666 commented on #9039
Hi @roccocesetti,

Please only use the Github issue tracker for bugs in the official code, not for asking questions.
You can ask these kind of questions on the official help forum at help.odoo.com
Short answer is: custom development or another workaround

Regards,
Yenthe

[2018-02-12 09:04] #9039 closed

[2018-02-12 09:06] Yenthe666 commented on #8984
Hi @Zoe9a,

Thanks a lot for your bug report.
This issue has been fixed in the meanwhile and you can now export all rows at once.
If you still face this issue on your local instance then please update your local Odoo instance.

Regards,
Yenthe

[2018-02-12 09:06] #8984 closed

[2018-02-12 09:08] #8662 closed

[2018-02-12 09:09] Yenthe666 commented on #8662
Closing as this was answered & a workaround was proven.
P.S: Watch out with indexing xpaths like `//page[2]`. If you ever add more pages and before page 2 the meaning of `//page[2]` could be referring to another page 😉

[2018-02-12 09:11] Yenthe666 commented on #8491
Hi @loslolos,

Thanks a lot for your report.
I was no longer able to reproduce this and the issue should have been fixed in the meanwhile! Please update your local Odoo instance in order to fix this.

[2018-02-12 09:11] #8491 closed

[2018-02-12 09:17] Yenthe666 commented on #8540
Hi @alexis-via,

I've just tested it on the latest Odoo 9.0 and it works fine:
![image](https://user-images.githubusercontent.com/6352350/36089791-e169b3ca-0fdd-11e8-8845-de2dfcee5c36.png)

Please update your local Odoo instance if you still face it.

Regards,
Yenthe

[2018-02-12 09:17] #8540 closed

[2018-02-12 10:02] kebeclibre commented on #22697
@Cedric-Pigeon
I believe this diff does the trick: https://github.com/odoo/odoo/compare/10.0...odoo-dev:10.0-reconcileposaml-lpe?expand=1

[2018-02-12 10:12] #22724 closed

[2018-02-12 10:12] #22725 closed

[2018-02-12 10:18] #13533 closed

[2018-02-12 10:19] Yenthe666 commented on #13533
Closing as this was answered by (@)sle-odoo way back and as there was no feedback.

[2018-02-12 10:24] kebeclibre commented on #22697
@pimodoo  @qdp-odoo
We should think about doing this in master:
- having a res_model field on aml
- a res_ids_as_json field on aml
- a res_ids field on aml (compute)

def compute:
ids = json.loads(self.res_ids_as_json)
self.res_ids = [(6, ids, False)]

def inverse:
self.res_ids_as_json = json.dumps(self.res_ids)

This way, we can always have the objects that created the amls and could simplify the

[2018-02-12 10:29] Yenthe666 commented on #13441
@csnauwaert could you answer the question from @mart-e? It is still relevant.

[2018-02-12 10:30] #13484 closed

[2018-02-12 10:30] Yenthe666 commented on #13484
Closing as it is working fine in the default Odoo (as confirmed by the creator too) and since there has been no feedback in ages.

[2018-02-12 10:33] Yenthe666 commented on #12880
@JKE-be any update here as you self assigned?

[2018-02-12 10:35] mge-odoo commented on #14266
Hi @ccandito

Sorry for the unusual delay to address your issue.
It got lost somehow, without the process of being tagged by the community so I didn't see it.

Next time you get traceback on a database, do not hesitate to open a ticket on www.odoo.com/help to directly contact our support.

We haven't touch this part of the code in 10.0 since its creation and I think that have never experienced thi

[2018-02-12 10:35] #14266 closed

[2018-02-12 10:35] yung-wang opened #23007 "[11.0] Horizontal scroll bar only visible if you scroll down to the end in Listview when using small screen resolutions."
_Impacted versions:_
V11 - Enterprise and Community
Previous versions also

_Steps to reproduce:_
1.Go to any listview with a lot of columns or add some columns using the Studio or Debug mode. For example let have a look at the Products listview. Make sure there are more than 80 products, so you can scroll down.
2. When the screen is wide enough, Odoo will show you all the columns. But if you make

[2018-02-12 10:43] Yenthe666 commented on #12708
Hi @krmagnaye,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2018-02-12 10:43] #12708 closed

[2018-02-12 10:44] Yenthe666 commented on #12550
@rco-odoo could you have a look at the question from (@)mart-e and still give feedback please?

[2018-02-12 10:49] Yenthe666 commented on #11452
Hi @InfernalLV,

Thanks a lot for your bug report and sorry for the late reply.
I've just tried to reproduce this on the latest Odoo 9.0 and it seems to work fine out of the box in the meanwhile.
Please update your local Odoo instance if you still face this problem.

Regards,
Yenthe

[2018-02-12 10:49] #11452 closed

[2018-02-12 10:50] Yenthe666 commented on #11450
@sle-odoo any update here? (cc @d-fence as this might be OS/package related)

[2018-02-12 10:52] Yenthe666 commented on #11451
@pacolotero can you verify that you have the packages installed and that you can still reproduce this on the latest Odoo 9.0? I could install it succesfully on the latest Odoo 9.0 without any problems:
![image](https://user-images.githubusercontent.com/6352350/36093500-27acbb5e-0feb-11e8-9604-7397dd495d7b.png)

Regards,
Yenthe

[2018-02-12 10:54] JKE-be commented on #12880
was a long time ago ;)
Thanks, I retag website

[2018-02-12 10:55] Yenthe666 commented on #11412
Hi @xcaliburinhand,

Thanks a lot for your bug report.
I've just tested this on the latest Odoo 9.0 and it works without any problems:
![image](https://user-images.githubusercontent.com/6352350/36093644-88ea44a4-0feb-11e8-97d3-85a944ec73a7.png)

![image](https://user-images.githubusercontent.com/6352350/36093664-96e1d9b4-0feb-11e8-9a28-b2094700a860.png)

Please update your local Odoo instance if y

[2018-02-12 10:55] #11412 closed

[2018-02-12 10:56] sle-odoo commented on #11450
You have ton install the wkhtmltopdf with patched qt from wkhtmltopdf.org

The package versiosn from centos and debian won't work

[2018-02-12 10:56] #11450 closed

[2018-02-12 10:59] Yenthe666 commented on #10484
Hi @stephaniemillet,

Thanks a lot for your bug report and sorry for the late reply.
In the meanwhile this issue has been fixed, as you can see in this example:
![image](https://user-images.githubusercontent.com/6352350/36093821-24655b26-0fec-11e8-8693-7750aae4e580.png)

If you still have this problem on your local Odoo instance then please update your source code in order to fix it.

Regards,
Yen

[2018-02-12 10:59] #10484 closed

[2018-02-12 11:00] Yenthe666 commented on #10337
Hey guys,

Closing as this bug report is in spanish & contains little information.
If somebody can still reproduce it and explain this in English I'm happy to reopen it.

Regards,
Yenthe

[2018-02-12 11:00] #10337 closed

[2018-02-12 11:01] Yenthe666 commented on #20625
Closing as there has been no feedback in a few months.

[2018-02-12 11:01] #20625 closed

[2018-02-12 11:01] Yenthe666 commented on #20439
Hi @gustavovalverde,

I'm closing this bug report as there has been no feedback in a few months.
Don't hesitate to post back if you can still reproduce it and can answer the question.

Regards,
Yenthe

[2018-02-12 11:01] #20439 closed

[2018-02-12 11:02] Yenthe666 commented on #21027
Hi there,

I'm closing this bug report as there has been no addition feedback/answer on my questions in a few months.

Regards,
Yenthe

[2018-02-12 11:02] #21027 closed

[2018-02-12 11:02] Yenthe666 commented on #21943
@adr-odoo and @JKE-be any update?

[2018-02-12 11:03] Yenthe666 commented on #20714
@goutoudis feel free to make a PR to fix this. Otherwise it'll be handled as a best effort by @mart-e.

[2018-02-12 11:03] #20714 closed

[2018-02-12 11:03] d3stozaur commented on #22661
I just checked and this same bug occurs in v11, and i think it may lead to serious problems if it occurs globaly

[2018-02-12 11:04] Yenthe666 commented on #18686
Hi there,

I'm closing this bug report as there has been no feedback in a few months.

Regards,
Yenthe

[2018-02-12 11:04] #18686 closed

[2018-02-12 11:05] Yenthe666 commented on #18093
Hi there,

I'm closing this bug report as there has been no feedback in a few months.

Regards,
Yenthe

[2018-02-12 11:05] #18093 closed

[2018-02-12 11:05] Yenthe666 commented on #15329
Hi there,

I'm closing this bug report as there has been no feedback in quite a while.

Regards,
Yenthe

[2018-02-12 11:05] #15329 closed

[2018-02-12 11:06] Yenthe666 commented on #15659
Hi there,

I'm closing this bug report as there has been no feedback in quite a while and we cannot reproduce it without more information.

Regards,
Yenthe

[2018-02-12 11:06] #15659 closed

[2018-02-12 11:06] mge-odoo commented on #22922
Hi @Yenthe666

The feature your mention (set `track_visibility` on custom fields) has been pushed in 11.0 (see odoo/odoo@1119fdd) so it's probably not reproducible in 10.0 or in 9.0.

I don't understand neither why you blame Studio. This code is in `mail` and you could do the exact same think without Studio ; it's just a shortcut.

@lukebranch you are right. We do our best to make as less fragile

[2018-02-12 11:06] Yenthe666 commented on #10431
Hi there,

I'm closing this bug report as there has been no feedback in quite a while (almost a month).

Regards,
Yenthe

[2018-02-12 11:06] #10431 closed

[2018-02-12 11:07] Yenthe666 commented on #22321
Hi there,

I'm closing this bug report as there has been no feedback in almost a month and as we need more information in order to help you.

Regards,
Yenthe

[2018-02-12 11:07] #22321 closed

[2018-02-12 11:07] Yenthe666 commented on #22151
Hey @Halex21,

Could you give feedback? Did you get a working install?

[2018-02-12 11:08] Yenthe666 commented on #19486
Hi there,

I'm closing this bug report as there has been no feedback in a few months.

Regards,
Yenthe

[2018-02-12 11:08] #19486 closed

[2018-02-12 11:08] Yenthe666 commented on #20366
Hi there,

I'm closing this bug report as there has been no feedback in a few months.

Regards,
Yenthe

[2018-02-12 11:08] #20366 closed

[2018-02-12 11:10] Yenthe666 commented on #22922
@mge-odoo okay maybe I was a bit strict. I was able to reproduce it _with_ studio. My last comment about the fragile/pesky part is more out of previous experience with Odoo studio where non-technical people begin to play with Studio and break views etc. This is annoying for a developer to find/fix. 😉
Anyways it would be great if @rco-odoo could have a look and thanks for the quick feedback.

[2018-02-12 11:15] mge-odoo commented on #22922
I understand your point as I already had to find/fix break views in production databases on our SaaS platform. Nevertheless, trying to debug the same break views done without Studio (views being directly edited without using inherited views for example, like Studio does) was, in my opinion, even more difficult.

[2018-02-12 11:33] mge-odoo commented on #22569
Hi @fmdl

The widget `pdf_viewer` has been put in `web` in master in rev. odoo/odoo@a7b521f.
Thanks for your feedback.

Martin

[2018-02-12 11:33] #22569 closed

[2018-02-12 11:33] ThijsvOers commented on #22891
Hi Gill,

The workaround would be that you create users AND employers per company, so if an employer works in 2 companies, he would have 2 user_id's and 2 employer id's. I have tested the combination 2 employers/ 1 user but that doesn't work.
I know this is not the best of solutions, but for the moment I cannot think of a better one.

[2018-02-12 11:34] Yenthe666 commented on #22569
Thanks a lot @mge-odoo 😄

[2018-02-12 11:43] tejastank commented on #15659
Mr. @Yenthe666 over internet never found issue on github.com especially for odoo.  ;)

[2018-02-12 11:51] tejastank commented on #13411
@sle-odoo thank for quick response, its really 2018 ;) You guys awesome...

[2018-02-12 11:59] Elkasitu commented on #23007
@ged-odoo Perhaps something for your team to look at

[2018-02-12 12:01] Yenthe666 commented on #22922
@mge-odoo but that is because all the Studio views have `studio` in it, so they're easier to filter out, no? 😆

[2018-02-12 12:28] Yenthe666 commented on #22517
@treviser, @thomas15v and @jakubhruby can you still reproduce it? It seems to been fixed at my end as of today.

[2018-02-12 12:29] mge-odoo commented on #22986
Hi @edsersolis

This has been improved in the next version (from saas-11.1) in the following rev. odoo/enterprise@fd4eeb3.

This was not a blocking issue as you could still open the file so we didn't consider it as a bug and put it as improvement, which is normally done in master (not a stable version).

If you really need it in 11.0, I would advise you to cherry-pick the following rev. odoo/enter

[2018-02-12 12:29] #22986 closed

[2018-02-12 12:31] aab-odoo commented on #22050
Hello @ges7,

Thanks for reporting this issue. However, i doubt that you obtained this result with a command 6, as this command is currently not supported in onchanges. I just tried, and it basically produces nothing (like if there were no onchange).

I'll do a fix so that commands 6 are supported.

That being said, i'm interested in your usecase as it seems that you spotted another bug. Could you

[2018-02-12 12:35] qdp-odoo commented on #9184
mhm it doesn't look critical to me: okay, the program let you encode a silly thing but, what were you expecting? raising an error telling you 'the 78th of September doesn't seems like a valid option.' ?or modify automatically the encoded value to 31?

At least, I think what you'd really expect in that moment is to have the program consider it the 78th of September as the last day of the month, whi

[2018-02-12 12:42] Yenthe666 commented on #9184
Yep, that is why I labelled it wishlist. This will most likely be enhanced in the upcoming V12, thanks for the suggestion & feedback @Maurice67205.

[2018-02-12 12:42] #9184 closed

[2018-02-12 12:43] Yenthe666 commented on #13411
@tejastank it was a pleasure helping you, you're welcome!

[2018-02-12 12:56] gustavovalverde commented on #22296
@d-fence, I'm still confuse.

Are the 11.1 changes part of the `11.0` branch, or just part of the `saas-11.1` branch?

Just in case it's just part of `saas-11.1`, is it safe to use this branch for on-premise production databases? Is there information on how to move from one saas branch to another?

Side note: @Yenthe666, do you have some on those good tutorials with information on `saas`'s branche

[2018-02-12 12:59] Bahaa-Addin opened #23010 "Odoo 11 Documentation - Building Interface Extensions: is outdated"
Impacted versions: 11

Current behavior: Outdated (It's just the same as 10.0)

Expected behavior: Up to date

Link : https://www.odoo.com/documentation/11.0/howtos/web.html#widget-events-and-properties

[2018-02-12 13:04] gustavovalverde commented on #22973
👍

[2018-02-12 13:11] Yenthe666 commented on #22296
Hey @gustavovalverde,

No I don't have any tutorial about the `saas` branches for one simple reason: nobody should ever use `saas`-branches unless you're Odoo itself. Its not a good idea to get into that and I don't want to get anybody into it 😆

[2018-02-12 13:11] ges7 commented on #22050
Hello @aab-odoo,

Sure, here is the code of the onchange :

[code]

Basically, on a new record (not saved) or on an existing one, this onchange adds a line of "deconditioning" if the quantity on a sale.order.line is not a multiple of its "number per package". The bug arises if we try to click on that newly added line before saving the record.

[2018-02-12 13:18] icf20 opened #23011 "user email dont support well international domain names"
user can sing up using international domain names but nothing more

Impacted versions:
11
Steps to reproduce:
signup with a email that have international domain and click on my profile
Current behavior:
Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.
Expected behavior:

[2018-02-12 13:19] mart-e commented on #22296
The problem is that saas branches are stable but have a short lifetime. So you can if you want but we don't support them and will probably drop them quickly. We publish them as a good way to show the state of our current developments and if you wish to test how is going to be the next stable version but I don't advise it to run on production.

[2018-02-12 13:20] Yenthe666 commented on #23010
Hi @Bahaa-Addin,

Thanks for the report.
Actually, @ged-odoo and his team are working on the new V11 documentation for JavaScript etc but it hasn't made it to production yet.
@ged-odoo any timeframe?

Regards,
Yenthe

[2018-02-12 13:20] Yenthe666 commented on #22296
Think about the upgrading. Upgrade every few months.. 😱

[2018-02-12 13:25] inianrck opened #23012 "Employee Time Sheet Cost on Sales Order Invoice"
Impacted versions: Odoo 11

Steps to reproduce:

Step1 : Add a time sheet cost on Hr Setting for a employee ( eg : inian = $10 per hour)
Step2 :  Create a Product and choose type service.  Under invoicing choose, create task on existing project
Step3 : We don't fill sales cost or product cost as it will be generated from time sheet hours that user punch in.
Step4 : After confirming the order, a ta

[2018-02-12 13:38] nhomar commented on #7375
@Yenthe666 Yes for me too, this issue can be closed I think

[2018-02-12 14:08] icf20 commented on #23011
any domain that have ñ ç ă ș etc  so u can try spam@españa.com

sure

![image](https://user-images.githubusercontent.com/17784575/36100267-f7f53a6a-1005-11e8-89cf-7d6e5b786430.png)
![image](https://user-images.githubusercontent.com/17784575/36100300-11cf7cc0-1006-11e8-8b4f-25e2a97eb1fe.png)

on the official forum, the system never gets to send confirmation email

![image](https://user-images.githu

[2018-02-12 14:47] #7375 closed

[2018-02-12 15:01] Yenthe666 commented on #23011
Hey @icf20,

Thanks for the additional info!
It actually seems to work fine on the latest Odoo 11.0 (on a runbot.odoo.com instance). Can you reproduce it on a runbot too?
Result from my side:
![image](https://user-images.githubusercontent.com/6352350/36102855-deac6f62-100d-11e8-9a3c-0a9b99d78d11.png)

Even with both the username & email the same it works:
![image](https://user-images.githubusercon

[2018-02-12 15:07] icf20 commented on #23011
ă ș in domain make it fail

![image](https://user-images.githubusercontent.com/17784575/36103080-9e463f42-100e-11e8-8003-7e7900dafd69.png)

[2018-02-12 15:22] sswapnesh commented on #22992
Agree with that but my personal experience says Issues are resolved faster
that PRs. (you can have a look)

On Feb 12, 2018 12:29 PM, "Yenthe V.G" <notifications@github.com> wrote:

[2018-02-12 15:30] edsersolis commented on #22887
I was able to translate the generated comment. Had to export all terms in order to find it. Only exporting the ones for Subscription module wasn't showing the message.

However I'm updating the title to the following improvement:

[IMP] Auto-generated comment from subscriptions should add on top of the set default comment (terms and conditions), not replace as it is stated to be terms and conditio

[2018-02-12 15:45] ged-odoo commented on #23010
The issue raised here is absolutely correct.  The documentation is in a terrible state.

We are trying to fix it, by basically rewriting the documentation (JS).  Here is a branch, which is just the start. I am afraid that this is not much yet, but I'll keep working on it as much as I can.

Meanwhile, I'll close this issue.

[2018-02-12 15:45] #23010 closed

[2018-02-12 16:12] Yenthe666 commented on #23010
@ged-odoo I think you wanted to link a branch but didn't.
And as I said on site at Odoo: you're doing a great job, keep it up!

[2018-02-12 16:12] Yenthe666 commented on #22992
@sswapnesh at the moment yes, but that really shouldn't be the case. PR's should always get priority over issues and usually this is the case.

[2018-02-12 16:13] ged-odoo commented on #23010
haha, I actually cut the link, but forgot to paste: https://github.com/odoo-dev/odoo/tree/11.0-doc-ged

[2018-02-12 16:15] sswapnesh commented on #22992
Sure, Will keep in mind for next time.(It has been also mentioned in PR Guidelines😉)

[2018-02-12 16:17] Yenthe666 commented on #22992
Thanks! 😉

[2018-02-12 16:27] sswapnesh commented on #22406
@qdp-odoo Could you please check this?

[2018-02-12 16:33] sswapnesh commented on #22357
@rco-odoo  Could you please check this?

[2018-02-12 16:35] sswapnesh commented on #22545
@gde-odoo  Could you please check this?

[2018-02-12 16:43] jco-odoo commented on #22930
Virtual ocations like inventory, supplier, production, even customer should not have a company_id.  We will also use it later as the owner of the location (and what is in it, except when owner_id is set) and you don't own something in inventory, supplier,...

[2018-02-12 16:43] #22930 closed

[2018-02-12 16:48] egrivero commented on #22945
Hello, @Yenthe666 and @mart-e
Do you have any information regarding this issue?

Greetings.

[2018-02-12 17:16] Yenthe666 commented on #22945
@egrivero at the moment he is out of the country so probably next week.

[2018-02-12 17:21] jco-odoo commented on #22102
Could reproduce on runbot and made preliminary fix in a branch.  Might be better to use stock logic.

[2018-02-12 17:40] jco-odoo commented on #21620
These things are normally recalculated (as it is a new picking) and normally only moves without links go to the backorder.  It would be interesting to know what triggered the move from the other picking.

[2018-02-12 17:42] jco-odoo commented on #20982
Picking types are a grouping of pickings for practicality and we did not see the practicality here to split for returns as there is already one for the pos.  (e.g. there default source and destination locations on them, but you can use other)

[2018-02-12 17:42] #20982 closed

[2018-02-12 17:43] egrivero commented on #22945
@Yenthe666 Thanks for the info.

[2018-02-12 17:46] explanar commented on #22918
Hello sswapnesh,

yes, that's the warning in english - you've been faster than me. Thank you.
In between i know the behaviour a bit more detailed:
The warning mostly occurs when an SO gets duplicated and after that a new Shipping and its zip is not similar to the one of the original SO's delivery adress is adviced to be calculated.

When calculating a new SO's delivery costs i didn't se the warnin

[2018-02-12 17:53] sswapnesh commented on #22918
Glad that Issue is Solved.

On Feb 12, 2018 11:17 PM, "explanar" <notifications@github.com> wrote:

[2018-02-12 18:00] JKE-be commented on #23011
The internal error is because you don't have the access right to read ir.ui.menu when you are portal user.

AccessError: ('AccessError', u'Lo siento, no est\xe1 autorizado para acceder a este documento. S\xf3lo usuarios con los siguientes permisos est\xe1n autorizados a hacer esto:\n- Human Resources/Employee\n\t- Administration/Settings\n\n(Modelo de documento: ir.ui.menu)')

![image](https://use

[2018-02-12 18:45] jbofill opened #23014 "[11.0] mass_mailing link.tracker search view error"
Impacted versions:

11.0

Steps to reproduce:

1. Create a new database o use an existing one, with mass_mailing.
2. Activate developer mode
3. Goto link tracker menu

Current behavior:

Nothing happens but log throws this error.

[code]

Expected behavior:
Show Link Tracker Tree

Work around:
addons/mass_mailing/views/link_tracker_views.xml
Remove or comment view id=view_mail_mass_mailing_links_s

[2018-02-12 19:42] icf20 commented on #23011
@JKE-be

the runbot.odoo.com is on english

[2018-02-12 20:31] amatosg commented on #22821
I updated to the last nightly (I think it was 20180210) and the issue is gone. I have to say, it was very annoying, the email was even showing the `% if` and `% else` statements. Anyways, I'm happy this is not affecting my instance anymore :smiley:

[2018-02-12 20:31] #22821 closed

[2018-02-12 20:56] #23011 closed

[2018-02-12 21:00] ventilooo opened #23015 "[10.0] [CRM] No image update based on contact type"
Impacted versions:
* Odoo 10.0-20180122 (Community Edition)
* Postgres 9.4

Steps to reproduce:
1. Create a contact and *leave empty the image field* (company or contact)
2. Update the contact by changing the type.

Current behavior:
**The default image stay the same as the initial contact type**

Expected behavior:
* The same as in the 8.0 version
    * When you change the type of a contact the d

[2018-02-12 21:05] Yenthe666 commented on #22821
Awesome, thanks for the feedback!

[2018-02-13 00:06] oscarolar opened #23017 "Can't sign quotations in My Account or Tokenized link sent by email."
**What are the steps to reproduce your issue?**
Here is a video
https://youtu.be/ye3NWuzFai0

**What is the current behavior that you observe?**

After entering a signature on the signature widget, Click on the button to sign the quotation and nothing happens.

**What would be your expected behavior in this case?**

Should be able to sign quotations online

ENT issue:  816127

[2018-02-13 00:42] lukebranch commented on #22517
FWIW i've also run into this all of a sudden on a stable version 9.0 deployment. This deployment has been coasting along smoothly with no changes other than occasional odoo-server updates for around 12 months.

I will pull the latest code and confirm if this fixes the issue as well.

[2018-02-13 01:00] lukebranch commented on #22966
@JKE-be ,

I wasn't aware of this feature, i'll definitely give this a go and report back, thanks!

@blaggacao ,

Thanks for the advice. I've only used Docker in Ubuntu for dev/staging, so I haven't run into this issue yet, i'll make a note of it for our internal docs though, thanks.

[2018-02-13 01:14] xo2git commented on #22517
@Yenthe666 /web_editor/static/src/js/widgets.js also contains this error. It is used by the front-end web editor.

`Uncaught DOMException: Failed to read the 'rules' property from 'CSSStyleSheet': Cannot access rules
    at getCssSelectors (https://localhost/web/content/149290-d6b7fa2/web_editor.editor.js:142:89)
    at https://localhost/web/content/149290-d6b7fa2/web_editor.editor.js:145:120

[2018-02-13 02:20] certiz commented on #22517
I applied first MouTio  solution and it fixed the problem partially, but it keep happening in some places. After  that I installed aek solution and it finish fixing the problem and know is working fine.

I recommend to use both solutions for a complete fix.

Thank you guys for your great help

[2018-02-13 05:22] webtekindo commented on #22102
Thanks for the fix!

But shouldn't we add also the case where all moves are cancelled:

`
if all(move.state in ('cancel') for move in self.move_ids):
          self.write({'state': 'cancel'})
`

Probably the write shouldn't be in the _check methods, but I don't see another way?

[2018-02-13 06:22] #22966 closed

[2018-02-13 06:58] Yenthe666 commented on #23015
@tde-banana-odoo CRM related, can you check?

[2018-02-13 07:04] Yenthe666 commented on #23014
Hi @jbofill,

Thanks a lot for the bug report.
Have you updated your code to the latest version? Can you reproduce it on an official Odoo test instance at runbot.odoo.com?
It seems to work fine out of the box on the latest Odoo 11 (both in English and French):
![image](https://user-images.githubusercontent.com/6352350/36137232-87b02af0-1094-11e8-9584-86e8b73b89e3.png)

[2018-02-13 07:34] Yenthe666 commented on #19245
Hey @gdgellatly,

Are you still facing this issue and is it still relevant?

[2018-02-13 07:45] ThijsvOers commented on #23012
Hi inianrck,

In version 11 (C) the invoicing of timesheetlines works differently than version 8. The invoicing is based on the price added on the sales orderline (and depending on pricelist or extra specific deductions) and s no longer connected with the cost price you see on the employer record. As far as I can see this field is in use for computing margins.

[2018-02-13 08:16] mehmoodhussain94 commented on #13484
I have facing similar issue in purchase module .While user who didn't have access right are unable to create vendor bill
Version = 10.0
![image](https://user-images.githubusercontent.com/36437843/36139584-edefd5ec-10bf-11e8-8d43-f73d80024d35.png)

[2018-02-13 08:32] jco-odoo commented on #22102
I think the _check method in the stock module should handle it. (super)

On Tue, Feb 13, 2018 at 6:23 AM, webtekindo <notifications@github.com>
wrote:

[2018-02-13 09:08] gdgellatly commented on #19245
I don't know tbh. I rewrote that code.

On Tue, 13 Feb 2018, 8:34 PM Yenthe V.G, <notifications@github.com> wrote:

[2018-02-13 09:24] rim-odoo commented on #22463
You should only see
[code]
in your logs

[2018-02-13 09:30] webtekindo commented on #22102
@api.multi
    def _check(self):
        """ Checking rules of type 'move': satisfied only if all related moves
        are done/cancel and if the requested quantity is moved. """
        if self.rule_id.action == 'move':
            # In case Phantom BoM splits only into procurements
            if not self.move_ids:
                return True
            move_all_done_or_cancel = all(move.state

[2018-02-13 09:46] chickahoona commented on #21117
I just had the same problem, which was caused by addon folders, that I configured, but were not present.

(I assume that this can also happen if addon folders are not readable for the user.)

Odoo does not load some ressources, and returns the standard 404 page, which causes most of the website to fall apart.

[2018-02-13 09:47] chickahoona commented on #21331
I just had the same problem, which was caused by addon folders, that I configured, but were not present.

(I assume that this can also happen if addon folders are not readable for the user.)

Odoo does not load some ressources, and returns the standard 404 page, which causes most of the website to fall apart.

[2018-02-13 09:59] jbofill commented on #23014
Using latest code from github branch 11.0.

The problem arises when Catalan translation is used.
The cause is that the view is inheriting from an other view without giving the position.
It works correctly if in `addons/mass_mailing/views/link_tracker_views.xml` you change view id `view_mail_mass_mailing_links_search`

from:
`<search string="Tracked Link">`
to:
`<search position="inside">`

[2018-02-13 10:09] jco-odoo commented on #22102
I seems you are.  I will check it thoroughly tomorrow.

On Tue, Feb 13, 2018 at 10:31 AM, webtekindo <notifications@github.com>
wrote:

[2018-02-13 10:16] axeforeverjumo opened #23026 "How to use CRM Phone Calls"
Impacted versions: Lastest (Web Version: https://apps.odoo.com/apps/modules/9.0/crm_phonecall/)

Steps to reproduce: Create this module

Current behavior: I don't know how to create this module, I want to create a CRM Phone Calls, but i have not idea how to do it, Can I install Odoo in my Computer, them install a CRM Module, and the migrate it to another computer?

Expected behavior: If you can he

[2018-02-13 10:40] Yenthe666 commented on #23014
Hi @jbofill,

Thanks for the extra info, I was able to reproduce it in Catalan. This is an internationalization issue really.
@mart-e can you have a look and can you see if you're okay with the search string change? It looks good to me.

[2018-02-13 11:39] Yenthe666 commented on #23026
Hi @axeforeverjumo,

The Github issue tracker is only for bug reports in the official code. Its no the right place to ask questions about other modules and/or custom development. As this is not an official module but one from OCA you could also reach out to them. Alternatively please do ask this on the official help forums at help.odoo.com.

To answer your question (a bit): You should install an O

[2018-02-13 11:39] #23026 closed

[2018-02-13 11:50] jalzaga opened #23029 "[11.0] Analytic tags cannot be added in journal entry"
Impacted versions: 10.0 11.0

Steps to reproduce: Create an account journal

Current behavior: You cannot add/remove analytic tags to acccount move lines

Expected behavior: Have the possibility to add/remove analytic tags to the account move line

Video/Screenshot link (optional):

Remarks: It can be solved adding the many2many_tags widget to the field.

[2018-02-13 12:06] gustavovalverde commented on #22871
@Elkasitu let our prays be heard, and change that for v12 🙏

[2018-02-13 13:32] 2SI3NX opened #23032 "HTML Editor cannot paste code into it"
Impacted versions:
Odoo 10
Steps to reproduce:
HTML Editor in Website, copy any code from there and try to paste it back or anywhere in the HTML editor
Current behavior:
It will not paste code
Expected behavior:
It should paste code for ease of use.  It can only copy and cut

[2018-02-13 13:39] oco-odoo commented on #20804
Hello,

Thank you for reporting the issue. I just had a talk about it with qdp, and this is unfortunately something we won't be able to solve efficiently in stable versions. However, we are aware that this behavior is confusing, and are going to work on a fix for a future version. I'm closing this issue, but this does not mean we are forgetting you ;)

[2018-02-13 14:04] edsersolis opened #23035 "[11.0] Internal server error on DB Manager"
Impacted versions: 11.0

Steps to reproduce:
1. Open DB Manager
2. Try to duplicate or restore a DB.

Current behavior:
1. If trying to duplicate a DB it gives an internal server error.
2. If trying to restore a DB it gives an internal server error.
3. Even with the internal server error it will do the task.
4. If the Master Password is wrong also gives an internal error.

Expected behavior:
1. Do

[2018-02-13 14:04] edsersolis commented on #23035
On runbot it gives the same error, however I was just able to test the one with the wrong master password as I'm not able to know what password is set in that instance.

[2018-02-13 14:06] sle-odoo commented on #23035
hi,
can you share the error from your logs?

regards

[2018-02-13 14:46] Yenthe666 commented on #15365
Hi,

This is because of misconfiguration.
Please see the docs at https://www.odoo.com/documentation/11.0/setup/install.html and https://www.odoo.com/documentation/11.0/setup/deploy.html

Regards,
Yenthe

[2018-02-13 14:46] #15365 closed

[2018-02-13 14:51] Yenthe666 commented on #15039
This was fixed at https://github.com/odoo/odoo/commit/457b2725feecd7d2b50084bf4a14527762c919be

[2018-02-13 14:51] #15039 closed

[2018-02-13 14:55] Yenthe666 commented on #19214
Hi @mehdi-ghezal,

The Github tracker is used for bugs in the official code and isn't used for questions about custom development or how things work.
As for the answer: have a look at Python questions about super & inheritance, for example https://stackoverflow.com/questions/3277367/how-does-pythons-super-work-with-multiple-inheritance
You're always free to ask this on the official help forums at

[2018-02-13 14:55] #19214 closed

[2018-02-13 15:31] Yenthe666 commented on #19876
@qdp-odoo and @lap-odoo this is relevant for you two.

[2018-02-13 15:34] Yenthe666 commented on #20215
Hi @altoch,

Thanks a lot for your bug report.
I've just tried to reproduce this but I was no longer able to do so. Now when you update your modules it will automatically recreate the sales group and no errors are thrown.
If you still face this issue then please update your Odoo source code to the latest version.

Regards,
Yenthe

[2018-02-13 15:34] #20215 closed

[2018-02-13 15:38] Yenthe666 commented on #18249
Hi @sapdenny ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
P.S: Also don't forget to answer/follow the detailed answer from (@)odony!

Regards,
Yenthe

[2018-02-13 15:38] #18249 closed

[2018-02-13 15:39] sswapnesh commented on #23035
Hello @sle-odoo
I can Reproduce same in Runbot

`http://302403-11-0-ca0875.runbot13.odoo.com/web/database/manager`

![](https://image.prntscr.com/image/P6wU4lznSTCwKIP2DTBtow.png)

Type wrong password

![](https://image.prntscr.com/image/QyxioYmGTC_kh8uy_fS9uA.png)

[2018-02-13 15:43] Yenthe666 commented on #17234
Hi @DrSchuh,

Thanks a lot for the bug report.
I was no longer able to reproduce this on the latest Odoo 10.0.
Please update your Odoo source code if you still face this issue on your local Odoo instance.

Regards,
Yenthe

[2018-02-13 15:43] #17234 closed

[2018-02-13 15:45] Yenthe666 commented on #13982
Hi @ispottahiti,

Sorry but this bug report contains too little information.
I'm closing it as there are no steps on how to reproduce it or what you did. Even the Odoo version is missing in your description.
Feel free to create a new bug report, or edit this one, if you can still reproduce it.

Regards,
Yenthe

[2018-02-13 15:45] #13982 closed

[2018-02-13 15:46] Yenthe666 commented on #23035
Yeah, absolutely a problem 😄

[2018-02-13 15:46] edsersolis commented on #23035
No error is shown in the log, and system keeps working. @sle-odoo

[2018-02-13 15:50] Yenthe666 commented on #13578
Hey @yelizariev,

Unless I'm doing something wrong it looks fixed. Could you try again please?

Regards,
Yenthe

[2018-02-13 15:51] sswapnesh commented on #23035
Maybe this can be helpful

![](https://image.prntscr.com/image/Bh_9k1TKQ-CHm_TIYJ9zbg.png)

[2018-02-13 15:51] Yenthe666 commented on #13570
Hi there,

I'm closing this bug report as it has been open for a very long time without any feedback from your side.
If you can still reproduce it on the latest Odoo 9.0 then please post back here and we'll reopen it.

Regards,
Yenthe

[2018-02-13 15:51] #13570 closed

[2018-02-13 15:52] gustavovalverde commented on #20804
Even though you guys label this as "confusing", for the user it's a feature that is not giving the expected result (a bug), as explained here: https://github.com/odoo/odoo/issues/22386#issue-289980645
Applying a payment through both ways should show the invoices paid in the payments menu, as it's a bunch easier to do it with Payment Matching.

Could we at least have a fix in master so we can cherr

[2018-02-13 15:54] Yenthe666 commented on #13527
Hi @dbu-odoo,

Thanks a lot for the bug report.
This still seems to be the case actually:
![image](https://user-images.githubusercontent.com/6352350/36159224-7e389c4c-10de-11e8-9578-0406e8807028.png)
@nim-odoo could you have a (functional) look at this? I think it should still take the default sales price set on the product.

Regards,
Yenthe

[2018-02-13 15:56] qdp-odoo commented on #20804
@gustavovalverde yeah sure, we'll improve in master and give the patch here. So let's leep closed the ticket and reopen this issue. Ok?

[2018-02-13 15:58] Yenthe666 commented on #13506
Hi @SPhu,

Thanks a lot for your bug report!
This issue has actually been fixed in the meanwhile:
![image](https://user-images.githubusercontent.com/6352350/36159440-019ba9b2-10df-11e8-83c5-056b963d28a1.png)

If you still face this issue then please update your Odoo instance in order to fix this.

Regards,
Yenthe

[2018-02-13 15:58] #13506 closed

[2018-02-13 15:58] rco-odoo commented on #22002
@gustavovalverde @lem8r I made two commits that might improve the timings:
- ac553f0c466d83487bc1d81716b74f3ddf764704 (faster prefetching)
- fd8bf83bf135928613d8580898b2c63b46c4cb34 (related fields)

Can you give them a try, and tell me about their impact?
Thanks!

[2018-02-13 15:58] Yenthe666 commented on #20804
Good call @qdp-odoo 👍

[2018-02-13 16:01] gustavovalverde commented on #22002
Interesting. I'll be testing @rco-odoo and let you know.

[2018-02-13 16:03] gustavovalverde commented on #20804
@qdp-odoo Agree

[2018-02-13 16:19] dbo-odoo commented on #22559
@Rumpen
At every step, the system behaves as intended (thank you for the detailed explications btw).

Note that the server action is launched for every e-mail that comes in, regardless of where it's routed. I agree that it's a bit weird that it gets applied on the wrong model if another route than the fallback is applied; I'll see if we can do something about that but there's no guarantee at this

[2018-02-13 17:44] yelizariev commented on #13578
@Yenthe666 it's still there. You need to select in **Who can follow the group's activities?** value  ``Invited people only``

[2018-02-13 17:52] Yenthe666 commented on #13578
@yelizariev do you have a spare minute to make a little video for it? I'm sure I'll be faster in reproducing then. 😉

[2018-02-13 17:59] yelizariev commented on #13578
![bug](https://user-images.githubusercontent.com/186131/36164907-aa802f00-110f-11e8-953a-496c937edc4f.png)
![channel](https://user-images.githubusercontent.com/186131/36164993-eb3a2636-110f-11e8-964b-d33a227e6e7f.png)

[2018-02-13 18:02] yelizariev commented on #13578
@Yenthe666 I read you message after preparing the screenshots. I promise to make video on next issue :wink:

[2018-02-13 18:03] Yenthe666 commented on #10679
Hi @ruifranco,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-13 18:03] #10679 closed

[2018-02-13 18:09] Yenthe666 commented on #9749
Hi there,

I'm closing this bug report as there has been no response in over a year. Without more information we cannot reproduce it and/or help you.

Regards,
Yenthe

[2018-02-13 18:09] #9749 closed

[2018-02-13 18:12] Yenthe666 commented on #9628
Hi @yk2kus,

Thanks a lot for your bug report but this was probably never translated/handled.
At this point it is working fine though.

Regards,
Yenthe

[2018-02-13 18:12] #9628 closed

[2018-02-13 18:13] Yenthe666 commented on #9580
Hi @COLABORATI,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-02-13 18:13] #9580 closed

[2018-02-13 18:15] Yenthe666 commented on #9588
@qdp-odoo this is still the case, can you give feedback?
https://github.com/odoo/odoo/blob/2d73ea9bed1c6f5c801d73776e223e2be84d25f6/addons/account/models/account_move.py#L360

[2018-02-13 18:19] Yenthe666 commented on #13578
Aha, yes gotcha! @tde-banana-odoo this is probably relevant for you 😄

[2018-02-13 18:26] Yenthe666 commented on #9448
Hey @jni-odoo,

Thanks a lot for the report.
It is still the case but, hmm, I'm not sure if we should call this a bug honestly.
@ged-odoo what do you think?

[2018-02-13 18:27] gustavovalverde commented on #22002
The onchange was 4.7 sec now
![image](https://user-images.githubusercontent.com/16890942/36166768-e93a4316-10c9-11e8-848e-a271b759d2c4.png)

[2018-02-13 18:30] hugho-ad commented on #21200
@Gorash Can you share us the fix commit?

I replicated in bank stament lines

I added some lines, then I modify the view in order to show up the sequences number, and it looks it's not working

![image](https://user-images.githubusercontent.com/10233975/36166906-aa1cf882-10b9-11e8-97c4-7ea431ecdedf.png)

[2018-02-13 18:34] Yenthe666 commented on #9447
Hi @jni-odoo,

Thanks a lot for the bug report.
This issue has been fixed in the meanwhile.
The product:
![image](https://user-images.githubusercontent.com/6352350/36167025-ae276f4e-10f4-11e8-95c0-ef8038b2ab31.png)

The PO:
![image](https://user-images.githubusercontent.com/6352350/36166971-895224a2-10f4-11e8-8562-77146dc92fcd.png)

Regards,
Yenthe

[2018-02-13 18:34] #9447 closed

[2018-02-13 18:34] #9460 closed

[2018-02-13 18:42] Yenthe666 commented on #9456
Hey @jni-odoo,

This has been changed quite a lot in the meanwhile. Demo data has been cleaned up & changed, so this is no longer an issue.

Regards,
Yenthe

[2018-02-13 18:42] #9456 closed

[2018-02-13 18:45] Yenthe666 commented on #9838
Hi @dbu-odoo,

In the meantime you can change the customer and it will change now.

[2018-02-13 18:45] #9838 closed

[2018-02-13 23:01] alexis-via opened #23040 "[10.0] Bank statements reconcile interface, blue lines, liquidity accounts (example on l10n_fr)"
Here are the steps to reproduce the problem:

1) Create a new database with demo data and country = France
2) Login as admin user
3) Install the module account_accountant
4) Check that the french chart of accounts in loaded

Note : in l10n_fr,  the account 511200 "Chèques à encaisser" (checks to cash in) has Type = "Bank and cash"

5) Create a new journal :
Name : Customer Checks
Type : Bank
Short

[2018-02-13 23:01] vcloud9ray commented on #13139
Still happens at v10.

Stock Interim delivered gets a credit of $1000 (counterpart COGS debit of $1000) during the Invoice and a debit of $2300 (counterpart RAW MATERIALS of $2300) during the Delivery.

Note: Need to configure Invoicing Policy of Product to "Ordered Quantities".

standard_price on the product isn't updated until the delivery, so that's why the Invoice uses to pre-landed cost.

[2018-02-13 23:19] leonardorame commented on #22997
Hi, I found the problem. I needed to install the "Sales Management" module and it started to work as expected.

[2018-02-13 23:33] pldilley commented on #12385
Would it please be possible to add this to the documentation installation section?

https://www.odoo.com/documentation/11.0/setup/install.html#packaged-installers

[2018-02-13 23:47] max3903 commented on #13139
@vcloud9ray If I remember well, landed costs can only be used if the costing method is real. It doesn't work with standard or average.

[2018-02-14 00:26] inianrck commented on #23012
Hi ThijsvOers,
Thanks for your response, Now I Know its not a issue? Can you explain how we can compute margin from it.

[2018-02-14 00:42] vcloud9ray commented on #13139
@max3903 - agreed - this is true - the cost field on the product is still called standard_price though, even when real time costing is enabled.

[2018-02-14 05:05] elperrofarelo commented on #13441
Same üroblem as well in Odoo V11

[2018-02-14 06:32] pambudisatria commented on #10149
Is there any update on this? Because it's also impact in version 8.0

[2018-02-14 06:56] Yenthe666 commented on #10149
@pambudisatria no there is no update and it is relevant in any Odoo version at the moment.
P.S: Odoo 8 is end of life so don't expect any changes or fixes anymore there.

[2018-02-14 07:02] Hari-Guhan-s opened #23042 "Outlook plugin"
Impacted versions:
7.0 or above

Steps to reproduce:
Install outlook_plugin
Download outlook 64 bit plugin.msi installer

Current behavior:
Able to install plugin successfully
But could not see openerp menu under add ins option in outlook 2016

Expected behavior:

A menu under add ins named openerp  to configure and use outlook plugin

[2018-02-14 07:05] Yenthe666 commented on #23042
Hi @Hari-Guhan-s,

Thank you for your report.
I'm afraid that the support for Odoo V7 and Odoo V8 has ended. The `plugin_outlook` module has also been removed from Odoo 8 and up and is no longer used/shipped anymore.
As this addon is deprecated and as Odoo 7 is too I'm closing this bug report. I'd advice you to ask for help on the official Odoo help forums at help.odoo.com

Regards,
Yenthe

[2018-02-14 07:05] #23042 closed

[2018-02-14 07:06] Yenthe666 commented on #22997
Ahh that makes sense. Thanks for the feedback.

[2018-02-14 07:06] #22997 closed

[2018-02-14 07:11] Hari-Guhan-s commented on #22346
Hi,
I need a outlook odoo connector to sync my contacts and calendar events or suggest me a better solution to do this.

[2018-02-14 07:13] Yenthe666 commented on #22346
Hi @Hari-Guhan-s,

Okay, thanks for the extra info.
As this is not a bug in the default Odoo but a question I'm closing this. The Github bug tracker is only for bugs in the official code.
You can find quite some Outlook related apps on the official app store at https://www.odoo.com/apps/modules/browse?search=Outlook

Regards,
Yenthe

[2018-02-14 07:13] #22346 closed

[2018-02-14 07:17] dipsshah42 opened #23043 "Mandatory field popup showing unncessary (hidden) field too in popup."
Impacted versions:

Steps to reproduce:

Current behavior:
	Its popping up a message ,

	While there is only one field which is mandatory (employee_id) in popup.Still its showing for User (second field which is hidden) as well.

Expected behavior:

	  as another field is invisible so.

Video/Screenshot link (optional):
Screenshot >
	https://www.awesomescreenshot.com/image/3172143/d601ea2f68be0854b

[2018-02-14 07:38] nhomar commented on #22975
#opw 815485

[2018-02-14 07:44] JKE-be commented on #11636
Probably fixed meanwhile, and probably not related to OS

Don't hesitate to open it if that is not the case.

[2018-02-14 07:44] #11636 closed

[2018-02-14 07:46] JKE-be commented on #11860
@raycollazo

Probably an error JS in the console. Need more informations...

But meanwhile, you find the solution I suppose ;)
If not, don't hesitate to reply on this issue

[2018-02-14 07:46] #11860 closed

[2018-02-14 08:08] Yenthe666 commented on #22583
Hi @sunjie20081001,

Thanks a lot for the report.
There where actually some problems with the translations that broke the Odoo layout in the latest versions.
If you still face it then please update your local Odoo instance and your problem should be resolved then:
![image](https://user-images.githubusercontent.com/6352350/36193529-8c7b5b0e-1166-11e8-9ec7-921985d7aed3.png)

Regards,
Yenthe

[2018-02-14 08:08] #22583 closed

[2018-02-14 08:09] Yenthe666 commented on #19088
@sle-odoo could you have a look?

[2018-02-14 08:13] Yenthe666 commented on #13346
Hi there,

I'm closing this bug report as (@)mart-e gave an answer (and asked if this was okay) and there was no feedback in a long time.

Regards,
Yenthe

[2018-02-14 08:13] #13346 closed

[2018-02-14 08:14] fclementic2c commented on #23040
@alexis-via I use the same workaround. Odoo does not allow entries like bank to bank from a bank statement which is a problem in the very come cases you describe here.
Similar issue with the the account '580 - Internal transfert' by the way which is suppose to be a bank type account as per french CoA but not possible with odoo.

:+1:

[2018-02-14 08:14] Yenthe666 commented on #13097
Hi there,

I'm closing this bug report as there has been no feedback in over a year.

Regards,
Yenthe

[2018-02-14 08:14] #13097 closed

[2018-02-14 08:16] Yenthe666 commented on #12288
Hi all,

I'm closing this bug report as the creator of the issue reported he fixed it with changing the value of db_maxconn. On a sidenote: V8 is also end of life.

Regards,
Yenthe

[2018-02-14 08:16] #12288 closed

[2018-02-14 08:17] Yenthe666 commented on #11810
Hi there,

This has been done by design and intentionally. If you wish to see/change variables you should go to the sales menu and access them from there.

Regards,
Yenthe

[2018-02-14 08:17] #11810 closed

[2018-02-14 08:18] Yenthe666 commented on #11724
@ged-odoo did you ever come around to this? Is this bug report still relevant?

[2018-02-14 08:19] Yenthe666 commented on #11446
Hi @bennals,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 08:19] #11446 closed

[2018-02-14 08:19] Yenthe666 commented on #11437
@nim-odoo any update on this one as you self assigned it?

[2018-02-14 08:20] sle-odoo commented on #19088
Hello,

I read the associated ticket and  the real issue was the use of automated push rule in a picking, which never worked. The support made a [video](https://www.youtube.com/watch?v=6_8B1trK09k&feature=youtu.be) to show the correct way to implement this flow, with a manual push rule.

Regards

[2018-02-14 08:20] #19088 closed

[2018-02-14 08:23] dipsshah42 opened #23045 "Redundant (Two) Change password and Cacel Button on User formview"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Video > 	https://youtu.be/XgCNxn_A8UA
Screenshot > 	https://www.awesomescreenshot.com/image/3172231/3bad48376eb5e99a0c48a4d4423ee6d1

Thanks,
Dipak

[2018-02-14 08:25] Yenthe666 commented on #10722
This is either a misconfiguration of the path or of the rights of the addons folders or your community apps are before your enterprise web folder.

[2018-02-14 08:25] #10722 closed

[2018-02-14 08:34] ged-odoo commented on #11724
@Yenthe666 Oh yes, I remember that one.  It was a critical bug, which could cause data loss.  It was fixed.

[2018-02-14 08:34] #11724 closed

[2018-02-14 08:36] Elkasitu commented on #23035
Oddly enough, I can reproduce it on the runbot but not locally, but I might have a clue as to what is causing it...

@edsersolis Did this issue happen on the saas or in a local installation? If the latter, can you provide your launch options / configuration?

[2018-02-14 08:43] Gorash commented on #21200
The fix does not create an incremental default value for the sequence field. The fix take in care the reordering with handle widget. If the sequence is identical, the sorting will be done according to the preference of the model (the id by default) which does not change the order. We will discuss internally to know if we will change that for the future.

[2018-02-14 08:48] sergeiruzkiicode opened #23047 "odoo.com. Forum. Karma."
Sorry, guys, but i can ask this question only here:

I'd like to ask something on http://odoo.com/forum/

If I click Ask a question:

If I click "reply" in question:

If I click "comment" in question:

So where is that carma? What should I do, if I want community help? Should I go to stackoverflow?

[2018-02-14 08:49] pambudisatria commented on #10149
@Yenthe666 great, I have to fix by myself 😄  Thanks for your information.

[2018-02-14 09:27] JKE-be commented on #22443
Landed in 10: https://github.com/odoo/odoo/commit/c9edca7896e3096289936f5399a82f08a59b60ce

Thanks for suggestion.

[2018-02-14 09:27] #22443 closed

[2018-02-14 09:31] JKE-be commented on #22982
Unfortunately, we have until now, no way to open a product page with a pre-defined variant selected.

I will ping the task, but in any case, that will be probably only available for future version since it is an improvement more than a fix.

Thanks for the reporting

PR to manage it in JS for stable version are welcome ;)

[2018-02-14 09:31] #22982 closed

[2018-02-14 09:39] Yenthe666 commented on #23047
Hi @sergeiruzkiicode,

You should recieve a verification email on the email you've created your forum user with.
When you verify your account you get some karma which puts you above the 3 karma limit. This was done because of the huge amounts of spam.

Regards,
Yenthe

[2018-02-14 09:52] Yenthe666 commented on #23045
@ged-odoo I believe this is view related from the JS side. This is indeed a bug:
![image](https://user-images.githubusercontent.com/6352350/36197816-2b0f7850-1175-11e8-8eba-474609b7aaa3.png)

[2018-02-14 09:54] dipsshah42 opened #23052 "Odoov11E : Traceback while adding submenus."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Video > 	https://youtu.be/l34x4FaAxQc
Screenshot >
    https://www.awesomescreenshot.com/image/3172419/5c7a09e4ef648b4b5eeaa18a410b16f3

Many Thanks !

[2018-02-14 09:55] dipsshah42 commented on #23043
@Yenthe666 i believe this is also from .js side issue. is it ?

[2018-02-14 09:58] Yenthe666 commented on #23052
Hi @dipsshah42,

Thanks a lot for your bug report. I was able to reproduce it:
![image](https://user-images.githubusercontent.com/6352350/36198095-ef2378f4-1175-11e8-9900-f501b1bc33f6.png)
Note that this bug only happens when you haven't filled anything else yet (not even the required menu field) and directly clicking on submenus, add.
@xmo-odoo could you have a look?

[2018-02-14 09:59] Yenthe666 commented on #23043
@dipsshah42 I assume so yes. @ged-odoo could one of the guys have a look?

[2018-02-14 10:05] antonylesuisse commented on #22871
Not planned yet.

[2018-02-14 10:05] #22871 closed

[2018-02-14 10:07] Yenthe666 commented on #18675
Hi @nhomar,

Thanks a lot for the bug report.
This has been fixed in V10 in the meanwhile and shouldn't be a problem anymore:
![image](https://user-images.githubusercontent.com/6352350/36198551-2e0fddcc-1177-11e8-917d-7166c2f73b27.png)

I think you do agree that this can be closed.

Regards,
Yenthe

[2018-02-14 10:07] #18675 closed

[2018-02-14 10:10] Yenthe666 commented on #18408
@odony I know you have a lot of experience with e-mails and e-mail headers so could you please take a look and give feedback?

[2018-02-14 10:11] sergeiruzkiicode commented on #23047
@Yenthe666 recieved, clicked, verified from the start.

[2018-02-14 10:12] Yenthe666 commented on #17669
Hmm, I do agree that you should put this dynamic domain in the XML and not in the Python. Nevertheless, perhaps you have a valid point.
CC @xmo-odoo and @odony

[2018-02-14 10:12] deepdad opened #23054 "message Bad request syntax"
Impacted versions:
latest docker

Steps to reproduce:
pull docker etc., go to :8069  to create anew database

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

2018-02-14 09:57:15,847 1 INFO ? werkzeug: IP - - [14/Feb/2018 09:57:15] "GET /web/static/lib/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0 HTTP/1.1" 200 -
 2018-02-14 10:03:22,042 1 ERROR ? werkzeug: IP - - [1

[2018-02-14 10:12] wardm95 commented on #18766
Another thing related to this issue are the contact images. You can access all of them without being logged in as a user.
For example:
If you add this to the url of a runbot: `http://[your odoo URL]/web/image/res.partner/3/image?`, you will see the picture of the contact Administrator.

[2018-02-14 10:12] Yenthe666 commented on #23047
Hi @sergeiruzkiicode,

And you never got the karma applied ony our account? So you mean you're stuck? (CC @JKE-be)

[2018-02-14 10:15] #23047 closed

[2018-02-14 10:16] Yenthe666 commented on #16548
Hi @Grfokpr,

I was no longer able to reproduce this issue.
If you still face this issue then please update to the latest Odoo source code and try again.

Regards,
Yenthe

[2018-02-14 10:16] #16548 closed

[2018-02-14 10:16] Yenthe666 commented on #23047
Awesome, thanks for the feedback!

[2018-02-14 10:17] Yenthe666 commented on #23054
@d-fence could you check this?

[2018-02-14 10:18] JKE-be commented on #23047
Hi @sergeiruzkiicode

What is the email used into the forum?

[2018-02-14 10:19] Yenthe666 commented on #15247
Hi all,

I was no longer able to reproduce this issue actually.
if you still have it then please update your Odoo to the latest source code and try again. If you can still reproduce it after that then please do post back with a video and I'll reopen it.

Regards,
Yenthe

[2018-02-14 10:19] #15247 closed

[2018-02-14 10:24] dipsshah42 opened #23055 "Odoov11E : Traceback while adding a field and selecting all group in Email Template."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Video > 	https://youtu.be/1IYHBgX26Bc
Screenshot > 	https://www.awesomescreenshot.com/image/3172474/32f215003e1e4070f4d1a105f05f54ec

Thanks !

[2018-02-14 10:28] Yenthe666 commented on #23055
Hi @dipsshah42,

Thanks a lot for the bug report.
This is indeed a bug (in the JavaScript framework):
![image](https://user-images.githubusercontent.com/6352350/36199547-23fc12e4-117a-11e8-8fd8-6224577e655e.png)
@ged-odoo could you have somebody from the team have a look?

Regards,
Yenthe

[2018-02-14 10:31] Yenthe666 commented on #13639
@qdp-odoo was this intentionally removed?

[2018-02-14 10:33] hdinsen commented on #20498
We already have made a l10n_dk with Chard of accounts, reports, Tax and Fiscal positions.
I think we can use this. It take care of all Danish taxes and have a tax report. Also it setup the inventory to Angelo-Saxon.

[2018-02-14 10:34] Yenthe666 commented on #13559
Hi @pfunkowski,

Thanks a lot for your bug report and sorry for the late reply.
This issue has been fixed in the meanwhile. If you still face is then please update your local Odoo instance.

Regards,
Yenthe

[2018-02-14 10:34] #13559 closed

[2018-02-14 10:35] Yenthe666 commented on #13380
Hi there,

I'm closing this bug report as we where unable to reproduce it and as there has been no feedback in over a year now.

Regards,
Yenthe

[2018-02-14 10:35] #13380 closed

[2018-02-14 10:36] Yenthe666 commented on #10112
Hi there,

Thanks for the feedback/suggestion.
As 9.0, 10.0 and 11.0 are stable branches these kind of changes won't be made as they're an improvement, not a bug.

Regards,
Yenthe

[2018-02-14 10:36] #10112 closed

[2018-02-14 10:38] Yenthe666 commented on #10123
Hi @haroonhayat,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 10:38] #10123 closed

[2018-02-14 10:40] Yenthe666 commented on #10066
HI @inventolabs,

Thanks a lot for the bug report.
This issue has been solved in the meanwhile, as you can see here on the latest Odoo 9:
![image](https://user-images.githubusercontent.com/6352350/36200081-d22eb85c-117b-11e8-9755-162441310efb.png)

If you still face this issue on your local instance then please update your Odoo source code and translations.

Regards,
Yenthe

[2018-02-14 10:40] #10066 closed

[2018-02-14 10:42] Yenthe666 commented on #9881
Hi @bistaray,

Thanks a lot for the bug report.
This bug is actually still present as of today. @JKE-be it is only still present in V9. V10 and up work fine. Can you fix it still?

Regards,
Yenthe

[2018-02-14 10:42] mart-e commented on #10955
It seems it is no longer the case in the newer versions. Sorry but this is minor, we are not going to modify the CSS of the end of life version for something like this.

[2018-02-14 10:42] #10955 closed

[2018-02-14 10:43] JKE-be commented on #12880
@mart-e @daramousk

I cannot reproduce the issue, probably fixed meanwhile.
Can you check and reopen this issue if it is not the case.

Thanks

[2018-02-14 10:43] #12880 closed

[2018-02-14 10:43] dipsshah42 opened #23056 "Odoov11E : list of input values popup staying in form / blocking formview."
Impacted versions:

This is showing as generic issue in all the places of odoo.

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Video > 	https://youtu.be/uUcdHfqXNfc
Screenshot > 	https://www.awesomescreenshot.com/image/3172515/654137bfe008593e8e482d21b65b6e91

Thanks.

[2018-02-14 10:43] Yenthe666 commented on #9881
@JKE-be on a sidenote, as we discussed before, the submit button doesn't work on V10 and up either as the button is disabled:
![image](https://user-images.githubusercontent.com/6352350/36200247-570f17e2-117c-11e8-9996-5afb0b1a5dcb.png)

[2018-02-14 10:45] JKE-be commented on #10095
Many fix has been done  in 2 years...

Please check again and ping me or @rdeodoo  if not yet fixed...

[2018-02-14 10:45] #10095 closed

[2018-02-14 10:46] Yenthe666 commented on #23056
@dipsshah42 I honestly don't consider this a bug, perhaps a minor usability / friendly thing but hmm, there is no perfect way to make this ideal for anyone.
@mart-e the final call is up to you for this one.

[2018-02-14 10:47] Yenthe666 commented on #9867
Indeed, this was fixed at https://github.com/odoo/odoo/commit/0ee11f23f15ab11851baf3ca00d9c3a5947fe294

[2018-02-14 10:47] #9867 closed

[2018-02-14 10:49] Yenthe666 commented on #9746
Hi @rgeromegnace,

Thanks a lot for the bug report.
It seems to be fixed in the meanwhile as I was no longer able to reproduce this issue.
Please update your Odoo source code to the latest version and try again.

Regards,
Yenthe

[2018-02-14 10:49] #9746 closed

[2018-02-14 10:51] dipsshah42 commented on #23056
@Yenthe666 Agreed with you but this is on all places so, what if we will make that input box disappear when scrollling the other parts of page/formview.(from .js side we need to track the scrolling and need to do something so that box will disappear) then it will increase the usability at better level.what you think ?
Thanks!

[2018-02-14 10:52] Yenthe666 commented on #9730
Hi all,

I've just tried to reproduce this on the latest Odoo V9 and it seems to work fine out of the box. I was able to go through all steps of a repair order:
![image](https://user-images.githubusercontent.com/6352350/36200568-6cb6ff8c-117d-11e8-9f6d-89cea955dafe.png)
If you still face this issue then please update your Odoo source code and try again.

Regards,
Yenthe

[2018-02-14 10:52] #9730 closed

[2018-02-14 10:52] Yenthe666 commented on #9642
Hi @jkanev-eemagine,

Thank you for your bug report.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 10:52] #9642 closed

[2018-02-14 10:57] Yenthe666 commented on #9350
Hey all,

I was no longer able to reproduce this issue.
Please update your Odoo source code to the latest version if you still face this issue. If you can still reproduce it afterwards then please make a video to demonstrate the behaviour.

Regards,
Yenthe

[2018-02-14 10:57] #9350 closed

[2018-02-14 10:58] Yenthe666 commented on #9344
Hi there,

I was no longer able to reproduce this issue.
Can you please update your Odoo source code and try again?

Regards,
Yenthe

[2018-02-14 10:58] #9344 closed

[2018-02-14 11:02] odony commented on #17669
Model-level domains are meant to be enforced on the server-side too, for correctness. There are cases where an x2m relationship must be filtered for all accesses, even in server-side business case. One example is the "message_ids" field on the mail.thread mixin, where the domain is absolutely required because the comodel table has no regular inverse FK, so you'd end up mixing unrelated records.
No

[2018-02-14 11:02] #17669 closed

[2018-02-14 11:04] MouTio commented on #22517
@certiz @lukebranch @Yenthe666

The solution is the same, but in different files. The bug was in more places but I only fixed it in the place where it crashed for me.

Now, it appears that they have fixed it in a stylish way, handling the exception with a try-catch:

a6e66131ce5b676ccc888ec5b1011d0946dc3907

If there is no more places with this bug, this issue is solved and it can be closed.

[2018-02-14 11:08] Rumpen commented on #22559
@dbo-odoo
Thanks for the info but you did not adress the domain issue i explained esp. for Problem A wich in my view is still buggy even if i assign a dedicated alias for the support project and an automated action for the tag.

Here is a Usecase that explains the problem if i use aliases:

Alias 1: support@ -> Create Issue
Alias 2: sales@ -> Create CRM Lead

A Customer sents an email with email_t

[2018-02-14 11:15] #23014 closed

[2018-02-14 11:18] mart-e commented on #22593
Fixed at 91f2209216a964b3b2fbfe54ed4cc684357d0d98
Thanks for the report

[2018-02-14 11:18] #22593 closed

[2018-02-14 11:30] jkanev-eemagine commented on #9642
Hi Yenthe, at the time, before reporting the bug, we had provided a fix: https://github.com/eemagine-medical/OCB/commit/d206710c1f196bba7ccca02077c5f15552122295
and had issued a pull request: https://github.com/OCA/OCB/pull/387.

I can see that pull requests from 2017 are still put into the 7.0 branch of the OCA/OCB code, so it would be nice if you could re-consider. All automatic tests have passe

[2018-02-14 11:32] gustavovalverde commented on #11740
After testing with @pimodoo, his solution worked for me:
- set the key '**report.url**' to 'http://`{dbname}`.`{domain}`:8069'
- add a line to your file **/etc/hosts** -> '127.0.0.1 `{dbname}`.`{domain}`'

For others, as @gdgellatly suggested https://github.com/odoo/odoo/issues/11740#issuecomment-326710662 the /etc/hosts part might be enough

[2018-02-14 11:43] dipsshah42 opened #23057 "OdooV11E : Traceback while Launching a Configuration wizards."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Video > 	https://youtu.be/TTDckGXJMGM
Screenshot > 	https://www.awesomescreenshot.com/image/3172637/4374641bb9b41c0fe66e995b3ad19d79

Thanks.

[2018-02-14 11:50] Yenthe666 commented on #23057
Hi @dipsshah42,

This is indeed an issue:
![image](https://user-images.githubusercontent.com/6352350/36202802-8eb79076-1185-11e8-8472-d2ceadeec73a.png)
@xmo-odoo could you have a look?
P.S: You're on a roll there. 😉

Regards,
Yenthe

[2018-02-14 11:52] Yenthe666 commented on #9642
Hi @jkanev-eemagine,

Thanks for the feedback. There are two reasons why that won't be possible:
1) The PR is against OCA, not Odoo
2) Odoo V7 and Odoo V8 are end of life, which means not a single commit or change will be made to these versions as they're no longer official supported by Odoo S.A.

Regards,
Yenthe

[2018-02-14 12:01] sergeiruzkiicode commented on #23047
@JKE-be sergei.ruzki@icode.by
and one more thing: odoo.com often try to switch my language from english to french. All locales are ru_RU and be_BY.

[2018-02-14 12:02] Yenthe666 commented on #23047
I have that problem quite a lot too, especially with french.
If you open a link from somewhere else that points to the forums and if it contains the lang in the URL Odoo tends to keep track of it and keeps applying that lang.

[2018-02-14 12:14] Yenthe666 commented on #7749
Hi @ybofr,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:14] #7749 closed

[2018-02-14 12:14] Yenthe666 commented on #9156
Hi @meswapnilwagh,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:14] #9156 closed

[2018-02-14 12:15] Yenthe666 commented on #8107
Hi @damdam-s,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:15] #8107 closed

[2018-02-14 12:15] Yenthe666 commented on #7353
Hi @apmoonen,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:15] #7353 closed

[2018-02-14 12:16] Yenthe666 commented on #7607
Hi @alacret,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:16] #7607 closed

[2018-02-14 12:16] Yenthe666 commented on #9192
Hi @pjmcdermott,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:16] #9192 closed

[2018-02-14 12:16] Yenthe666 commented on #9308
Hi @PCatinean,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:16] #9308 closed

[2018-02-14 12:17] Yenthe666 commented on #9545
Hi @BlommaertsEdwin,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-02-14 12:17] #9545 closed

[2018-02-14 12:20] dipsshah42 opened #23059 "OdooV11E : Traceback while adding model Constraint."
@Yenthe666 , one more :)

Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Video > 	https://youtu.be/4vy-jEWqLs8
Screenshot > 	https://www.awesomescreenshot.com/showImage?img_id=3172729

Thanks.

[2018-02-14 12:25] Yenthe666 commented on #23059
Hi @dipsshah42,

Thanks a lot for (yet another) bug report!
This is also a confirmed bug:
![image](https://user-images.githubusercontent.com/6352350/36204175-738b9ac2-118a-11e8-8ec1-47a541697d1d.png)
@xmo-odoo could you check this one too?

Regards,
Yenthe

[2018-02-14 12:32] deepdad opened #23060 "docker Odoo becomes entirely defunct by trying to attach an addons volume"
I want to share documents privately for editing and didn't find this possible in the default apps. In the app store there is Share any Document although it is for 8.0 (this may be a cause for what's below).

Either way, docker Odoo becomes entirely defunct by trying to attach an addons volume. Maybe I'm giving the wrong docker command: not sure it connects to the standard (docker) postgres here.

[2018-02-14 12:33] Yenthe666 commented on #23060
@d-fence docker related issue.

[2018-02-14 12:36] pimodoo commented on #11740
As replied to the OPW opened for that issue, the report.url was the problem, because configured as '0.0.0.0:8069', so when a report was requested, the request didn't pass the dbfilter as called through '0.0.0.0' instead of 'sub.domain.com' where 'sub is the db name.

By removing the report.url there were not any db-filter rejection, but issue of css in the report. To fix that issue, we changed the

[2018-02-14 12:36] #11740 closed

[2018-02-14 12:38] jl2035 commented on #11740
Interesting. I don't think I've ever set that line in hosts file..

[2018-02-14 13:03] dipsshah42 opened #23061 "OdooV11E : Not able to save record of Vehicle Odometer (Fleet)"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
	Video 		> https://youtu.be/mWQFNcLrgBo

Thanks.

[2018-02-14 13:06] Yenthe666 commented on #23061
Hi @dipsshah42,

Thanks a lot for the report.
This one is odd, I had to test it twice before I figured out it is just not saving 😆
@ged-odoo another one for you 😨

[2018-02-14 13:48] Yenthe666 commented on #23057
@Elkasitu yes it should be a selection or a one2many. No idea why it is a text field in the first place, it is bound to create issues. Anyways, changing that is not the bug itself plus this can only be done in the `master` version.

[2018-02-14 13:53] blaggacao commented on #14284
I haven't seen this again. I think there has been done some improvements on the floating point issues...

[2018-02-14 13:53] #14284 closed

[2018-02-14 14:01] Yenthe666 commented on #23032
Hi @2SI3NX,

Thanks a lot for your bug report.
I've just tested this on the latest Odoo 10 and it seems to work fine out of the box. I can both cut and paste the code with my mouse and paste it with `ctrl` + `v`. Can you reproduce it on an official Odoo instance at runbot.odoo.com?
Have you tried updating your Odoo to the latest source code?

Regards,
Yenthe

[2018-02-14 15:06] jordaniac89 opened #23065 "Only employee can access this database."
Impacted versions:
11

Steps to reproduce:
Create a new user via an OAuth signin

Current behavior:
I'm able to login with the OAuth provider, but when redirected to the Odoo login screen, the error "Only employee can access this database" is shown. I have to log into Odoo with an already existing admin account and give the newly created user Employee rights and then OAuth will work.

Expected beh

[2018-02-14 16:08] haconsult opened #23066 "Impossible to change product description in SO"
Impacted versions:
v11

Steps to reproduce:

- create a new sales order
- in a sales order line, select a product
- description automatically fills according to the product
- extend the description, save

Current behavior:

- changes made to the description are not saved.

Interesting, though:

- edit again
- don not extend the description, but shorten it, save
- changes are saved
- any following

[2018-02-14 16:22] sswapnesh commented on #23066
Hello @haconsult
Could you please update your source code and try again?
Duplicate of #22927 and #22797

[2018-02-14 16:27] JKE-be commented on #21986
Should be fixed by f2bcebb9f2046f3c87dbcf3c99054cee555c53fe

Thanks for the reporting

[2018-02-14 16:27] #21986 closed

[2018-02-14 16:43] sswapnesh opened #23071 "[11.0] Improve position of 'forum alert' on Ask Question"
Impacted versions: 11.0

Steps to reproduce:  Login with Portal User (Who has no Karma) -->  Click On Ask Question

Current behavior: Alert message will be generated at Bottom Right of the Page

![](https://image.prntscr.com/image/WS1LKoyVS5_Uw5Qe78tjKw.png)

Expected behavior: Improve Position of Alert Box and It should not Create multiple Alert box when User clicks again on Button.
(If we will c

[2018-02-14 16:43] sswapnesh commented on #23071
@JKE-be Could you please check this?

[2018-02-14 17:03] jco-odoo commented on #22102
I am even not sure, because if you cancel the picking and not the purchase order, you can still regenerate the picking from the purchase in theory.  And if you cancel the purchase, it will put it to exception/cancel.

[2018-02-14 17:04] jco-odoo commented on #22102
With the changes in v9 of course the shipping exception disappeared.

[2018-02-14 17:24] qdp-odoo commented on #13639
nope, but as I can see in the code it's still supposed to be there...

and as I just tested, I can confirm: it's there in v9

[2018-02-14 17:24] #13639 closed

[2018-02-14 17:26] haconsult commented on #23066
Hi,
I am running on 11.0-20180211 (Community Edition), I guess this is after the referenced issues? However, I am unable to upgrade before next week and will report back then.

[2018-02-14 17:27] #18841 closed

[2018-02-14 17:28] blaggacao opened #23072 "[BUG] Aged partner report in multi-company"
Ready? Go!

**This:** https://github.com/odoo/enterprise/blob/6fb0346735c56a093c749a8ba898757a3eece274/account_reports/models/account_aged_partner_balance.py#L36
**does not parse the selected companies filter, so that (eg):**

https://github.com/odoo/odoo/blob/b4bda28f0daf6188a8575877ea9a2f68497686b7/addons/account/report/account_aged_partner_balance.py#L30
**cannot be construed with the selected

[2018-02-14 17:33] invitu opened #23073 "[10.0-point_of_sale] performance issue on pos_session form view because of _compute_picking_count function"
Impacted versions:
10.0
Steps to reproduce:
On production instance (db is less than 2Gb), we have very slow performance on pos_session form view.
Current behavior:
Opening pos_session form view is very slow (> 15 minutes)
Expected behavior:
Opening pos_session form view should be less than 1 minute

[2018-02-14 17:35] invitu commented on #23073
Analysis :
- postgresql server does not show performance
- python process takes 100% CPU
- we did a strace on the process and we noticed that there is a lot of queries on stock_picking table

We removed action_stock_picking button from the view and the issue is solved.
We concluded that the performance issue occurs in _compute_picking_count function

[2018-02-14 18:20] odony commented on #18408
Thanks for reporting, you're right indeed. This is fixed by 962af4b7807090af9a28cca295fb3b9b98a4cea6 and will be forward-ported in the coming days to later versions.

[2018-02-14 18:20] #18408 closed

[2018-02-14 19:02] Yenthe666 commented on #13639
Apologies, I was not sure how to test this correctly and if it should be shown or not. That's why. Thanks a lot for the feedback!

[2018-02-14 19:54] #8901 closed

[2018-02-14 19:54] moylop260 commented on #8901
This issue is not reproduced anymore.
Thanks!

[2018-02-14 20:08] qdp-odoo commented on #13639
no need to apology ;-) You're doing tremendously

keep up the good work, Yenthe

[2018-02-14 20:23] deepdad commented on #23060
I'm new o Odoo whatsoever. But I guess that must be it then? It's not backward compatible. Luckily it's just a docker image.

[2018-02-14 21:39] JulioSerna opened #23075 "Wrong COGS when invoice from dropshiping"
Impacted versions:
* 11.0

Steps to reproduce:
* Create sale order
* Add sale order line with route *Dropshiping*
* Validate the sale order
* Validate purchase order and receive
* Create invoice from sale order
* Validate invoice

Current behavior:
The journal items by COGS is wrong
![inv 2018 0006 odoo](https://user-images.githubusercontent.com/7595505/36229448-dba90f74-119c-11e8-8399-1ba222a5fca

[2018-02-14 22:57] hugho-ad opened #23076 "[11.0] Bank Statement: Uncaught TypeError: Cannot read property 'id' of undefined"
Impacted versions:
11.0
Steps to reproduce:
- Create new bank statement
- Add more than 40 items, be sure that the total items added exced the items limit in the tree view
- Set random dates in each item, you can create a server action that use next code
https://gist.github.com/hugho-ad/9ad8993e1ad02bb5b5129e5dbbb51a81
- Try to edit any line
Current behavior:
When _applyOnChange method is executed

[2018-02-14 23:52] izotecarlitos commented on #20157
How are we supposed to use Gmail or Google Apps IMAP and/or SMTP servers?

[2018-02-15 02:52] andrewyova commented on #22766
Bug Odoo10 POS order that missing
step to reproduce

1. open at the same time pos session using 2 same browser(1 incognito ) with same user
2. order anything
3. other browser order is saved while the other 1 is not safe

it can reproduce in here
http://302900-10-0-384cc6.runbot11.odoo.com

[2018-02-15 03:18] sswapnesh commented on #23076
Related to #22770

[2018-02-15 04:37] hugho-ad commented on #22770
@deivislaya in order to replicate the issue more easily, can you share us the demo data you has use and the way you has load all those lines?

[2018-02-15 07:26] dbo-odoo commented on #20157
Dear people from the past, present & future,

Please use https://www.odoo.com/help to submit tickets about the Odoo.sh platform (please make sure to mention that you use Odoo.sh and the name of your project); I no longer work on this project myself and we prefer centralizing communications on tickets to avoid public thread pollution.

This issue will remain closed and I will not answer queries reg

[2018-02-15 07:32] Elkasitu commented on #23076
cc @ged-odoo

[2018-02-15 08:05] ged-odoo commented on #23076
@mge-odoo could you have a look at this?

[2018-02-15 08:34] Yenthe666 commented on #23060
@deepdad no you can't combine apps from different versions. Almost every Odoo version works slightly different, especially when you take the leap from V8 to V11.

[2018-02-15 08:34] #23060 closed

[2018-02-15 08:40] Yenthe666 commented on #23076
Good job guys! These days I can wake up and some new issues are already labeled & the right person is already pinged. Keep up that good work @Elkasitu and @ged-odoo 👏

[2018-02-15 08:42] Yenthe666 commented on #23072
@blaggacao thanks for the report. I assume you're talking about Odoo V11?

[2018-02-15 08:45] Yenthe666 commented on #13639
Thanks a lot! You're going to make me blush hah! 😊
You're doing great too, thanks for all the feedback you give it helps a lot.

[2018-02-15 09:03] mart-e commented on #22354
@ntodorova while it is true it is not possible, we do not have a solution. That would require too much changes in the ORM so we are not going to implement that.
Sorry but the only workaround at the moment is to store it.

[2018-02-15 09:07] ntodorova commented on #22354
ok, thank you for your answer : ))

[2018-02-15 09:26] spectra10008 commented on #22779
i had to remove reinstall odoo again

[2018-02-15 09:29] #22779 closed

[2018-02-15 09:57] almustafago opened #23082 "install apps"
Impacted versions: odoo v11 >> i remove ecommerce model , and after  i try to re-install it gives me this message

Steps to reproduce:
![install](https://user-images.githubusercontent.com/15360515/36250702-a40b251c-124f-11e8-9f03-c617b01fa676.PNG)

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-02-15 10:09] sle-odoo commented on #22951
It seems logical you cannot just unlink this PO, there are a few other documents and potential accounting entries depending on it. If you don't want to see it, add a filter or disable this record.

Regard

[2018-02-15 10:09] #22951 closed

[2018-02-15 10:34] Gorash commented on #21943
Thanks for the repport, I'll merge the fix: https://github.com/odoo/odoo/pull

[2018-02-15 10:56] mamiu commented on #18546
@Yenthe666

I can reproduce this error in odoo 11 with the following (very simplified) function:

[code]

If this API is getting called in parallel, the same error occurs:
`ERROR: could not serialize access due to concurrent update`

[2018-02-15 11:02] Yenthe666 commented on #18546
Hi @mamiu,

Thanks a lot for the feedback with code.
Could you please make a new bug report for V11 with this information and some extra details? I'll label it and request the relevant team to look at it.

Regards,
Yenthe

[2018-02-15 11:48] Yenthe666 commented on #23082
Hi @almustafago,

What exactly do you mean with "i remove ecommerce model"? Do you mean you've clicked on deleting the app and then clicked on install again?

[2018-02-15 12:19] sle-odoo commented on #22925
Hi,
Isn't it just an issue of demo data? Are you able to reproduce it with a new routing and quality control point?

Regards

[2018-02-15 12:20] #22918 closed

[2018-02-15 12:57] mamiu opened #23086 "[11.0] ERROR: could not serialize access due to concurrent update"
**Impacted versions:**
11 (and probably below)

**Steps to reproduce:**
Lets assume you have a module called `my_module` which contains a model `sample`.
Now create a controller with the following code:

[code]
(I know this code is not clean code, it's just to reproduce the error)

**Current behavior:**
If this `/upload-file` API is getting called and there are no other calls to this API at the sa

[2018-02-15 13:00] Yenthe666 commented on #23086
@JKE-be this example is to reproduce it from controllers/website function so you're probably the best one to have a look at this.
@xmo-odoo and @odony you've both been looking at and handled bug reports about serialize access so I guess you two can give good feedback here?

[2018-02-15 13:02] amoyaux commented on #22925
Hi,

It's not integrated with work order step in enterprise. However you can use the dummy quality check that will do the same.
![qcp00021 odoo](https://user-images.githubusercontent.com/5512395/36257859-dece30be-1258-11e8-8317-7c2003267127.png)
![mo 00021 computer sc234 manual assembly odoo](https://user-images.githubusercontent.com/5512395/36257863-e443b406-1258-11e8-8305-8648b25aa444.png)

[2018-02-15 13:02] #22925 closed

[2018-02-15 13:08] JKE-be commented on #20537
Fixed a long time ago

[2018-02-15 13:08] #20537 closed

[2018-02-15 13:10] JKE-be commented on #20481
db expired :/

[2018-02-15 13:10] #20481 closed

[2018-02-15 13:10] aab-odoo commented on #22050
Hello,

Ok I now understand what's happening. The problem occurs when the onchange returns a command 0 with some field values, and when there is in the one2many (dialog) form view a one2many or many2many field, say F, that isn't in the one2many list view, and when no value is given for F in the command 0 returned by the onchange.

I'll fix this issue as soon as I can.

Regards.

[2018-02-15 13:40] Cedric-Pigeon commented on #22697
@kebeclibre Do you believe or are you sure ? sorry but I need to trust your fix. You are supposed to know more than me.

[2018-02-15 13:41] ged-odoo commented on #22050
that's a nice explanation @aab-odoo !

[2018-02-15 13:42] aisopuro commented on #22925
So wait. That means that the user has to try to figure out in what places the quality alert should be visible? So they have to hunt down every possible stage that uses the product in question? Is there a way for them to do that?

I don't understand your question @sle-odoo . What does demo data have to do with this? It seems to me that Odoo is able to run some form of logic to determine what workor

[2018-02-15 13:53] Yenthe666 commented on #22697
@Cedric-Pigeon why don't you apply that diff/patch and test it on a local instance to figure out if it works? 😄

[2018-02-15 14:03] kebeclibre commented on #22697
@Cedric-Pigeon
Tests pass on our end
The two use cases at hand work as expected (Although in the cash return flow, you may not *see* all the lines that are part of a reconciliation, but clicking on the reconciliation itself shows that it takes all the relevant lines)

You're always welcome to criticize and suggest anything that could improve my code
That patch may give way to a task and a change i

[2018-02-15 15:42] vuwnevska commented on #19814
On days received this one problem. Get on some machines all on Ubuntu, some instances on docker, can't reproduce it locally.

Get this issue when linking M2M, O2M fields in different modules, but all are custom.

[code]

[2018-02-15 15:51] luistorresm opened #23091 "[V11] Error with write-off in favor"
Impacted versions:
11.0 - https://github.com/odoo/odoo/commit/251b2fdc548c7edc55748e4a6aec91507f39a247

Steps to reproduce:

1.- Create a new customer invoice to 100.69
2.- Validate the invoice
3.- Make a payment to 101, with write-off

Current behavior:
I get this error:
Wrong credit or debit value in accounting entry !

Expected behavior:
I expected that the payment is validated, and generate a

[2018-02-15 16:23] sswapnesh opened #23092 "[11.0] Invalid form view binding on Timesheet Calendar's View"
Impacted versions: 11.0

Steps to reproduce: Go to Timesheet --> Create new Entry from Calendar View

![](https://image.prntscr.com/image/8aEbJIRARh6YCR9jYeAZAg.png)

Current behavior: It will open Incorrect from view. (Entry will be not linked to Project created from Here)

![](https://image.prntscr.com/image/CKFh-stEQW_uQ4lwM4XlhQ.png)

Expected behavior: It should open Default form view which i

[2018-02-15 16:30] sswapnesh commented on #23082
Hello @almustafago
Could you please update your odoo Source code and try again?
Duplicate of #21905 and It has has been resolved in Commit 9f583717e574795f8bd241fea44bad1a59253a66

[2018-02-15 16:38] deivislaya commented on #22770
@hugho-ad To replicate the issue, the demo data used is in runbot odoo. The way to load all lines is loading between 100 and 300 lines for each bank statement and then returning to the first statement, in order to page 40 lines on each page with a considerable jump in the ids

[2018-02-15 16:39] sswapnesh opened #23094 "[11.0] Could not re-install Stock module"
Impacted versions: 11.0

Steps to reproduce: Uninstall Stock module --> Re-install it

Current behavior: Tracabck

![](https://image.prntscr.com/image/BFYy3KU4TWWY2-SLEJXlZQ.png)

Expected behavior: Module should be installed

Video/Screenshot link (optional):

[2018-02-15 16:39] sswapnesh commented on #23094
@sle-odoo  Could you please check this?

[2018-02-15 16:41] sle-odoo commented on #23094
fixed by #22265 probably

[2018-02-15 16:42] sswapnesh commented on #23094
When trying to install Manufacturing module

![](https://image.prntscr.com/image/maW_JDK7T_qyiUKDa0PQeg.png)

[2018-02-15 16:42] sswapnesh commented on #23094
Just tested on Latest Runbot [http://303281-11-0-665496.runbot14.odoo.com](http://303281-11-0-665496.runbot14.odoo.com)

[2018-02-15 16:43] sle-odoo commented on #23094
this issue is a duplicate of #22243
we don't have the ressources at the moment to look into it sadly

i'll close the original issue once it's fixed

thanks for the report

[2018-02-15 16:43] #23094 closed

[2018-02-15 16:46] sswapnesh commented on #23094
My bad, Agree with You.

[2018-02-15 16:49] almustafago commented on #23082
no i make just uninstall and  model data file still avilable in odoo directory

[2018-02-15 16:51] sswapnesh commented on #19997
@qdp-odoo Could you please verify this?

[2018-02-15 16:52] sle-odoo commented on #23094
no worries

[2018-02-15 17:02] Yenthe666 commented on #23082
@almustafago you really need to add more clear information or nobody can help you. Can you reproduce it on runbot? Have you updated your local Odoo? What do you call make uninstall? What do you mean with model data file?

[2018-02-15 17:02] sswapnesh opened #23096 "[11.0] Purchases created from Reordering Rules are not linked to that Rule"
Impacted versions: 11.0

Steps to reproduce: Inventory --> Reordering Rules --> Purchases

Current behavior: If you create new PO from Reordering Rules It is not linked to that Rule

![](https://image.prntscr.com/image/tOxQoQu6RO6gf2iE-KvEFQ.png)

Expected behavior: It should be linked to Particular Rule or Creation of Po should not be allowed from there.

Video/Screenshot link (optional):

[2018-02-15 17:04] sswapnesh commented on #23096
For you @sle-odoo ?
Maybe we can pass default orderpoint_id from there or Remove PO Creation.

[2018-02-15 17:15] sle-odoo commented on #23096
I think if we linked the purchase order to the orderpoint it could be inconsistent, 'cause nothing prevents you to add po line of another product. So we should indeed remove the create button from this tree view, but AFAIK it's not possible in the action. So we would have to inherit_id primary=True the original tree view, add create=0, then force this new tree view in the action of the stat button

[2018-02-15 17:20] gokhanerdogdu commented on #19280
The same problem also exists in V11.

[2018-02-15 18:54] sswapnesh opened #23099 "[11.0] Incorrect record filtering in Timesheet Calendar view"
Impacted versions: 11.0

Steps to reproduce: Timesheets --> Calendar view (Default Week filter should be applied)
(We have records for dates 11th to 18th Feb)

Current behavior: On Calendar view Week range is 11 - 17 Feb but still it does not display record of 11th Date, So there are only three records there

![](https://image.prntscr.com/image/_L6VEhEARtumGW4Mm0zVoA.png)

On List/from view Week r

[2018-02-15 18:56] matt454357 opened #23100 "Deposit product category account is ignored on SO advance payments"
Impacted versions: Master, 11.0, 10.0

Steps to reproduce:
* Create product category Deferred
  * Specify an income account (something other than the default one for this company)
* Create product Sale Deposit
  * Specify the Deferred category from above
  * Don't specify an income account
* Select the new product for Deposit Product in sales settings
* Create invoice from sales order
* Specify a

[2018-02-15 20:09] ovnicraft commented on #22694
I have the same issue after install invoicing module and trying to update modules list.
Full traceback: https://gist.github.com/ovnicraft/4d2ba97b1ddf7a8f6c91541caf730365

[2018-02-15 22:55] Gyuri77 commented on #19280
and V9 of c(o)urse. Maybe the point of view of the odoo, is every invoice must be gt 0.
The fast "solution" for this is making positive incoming invoices instead of negative outgoing.  But in Hungary for example it is normal, that you can create an invoice with negative total.
For example refunding some product is a negative invoice. Customers can not give you an invoice, you must give them a nega

[2018-02-15 23:13] greaber opened #23103 "Consider changing the way Odoo handles the db management password and safer defaults"
Using Odoo with docker, I was bitten by the problem that it is not enough to persist /var/lib/odoo and the db; I also had to persist /etc/odoo/odoo.conf because otherwise the database management password would get reset every time the container was restarted: https://github.com/odoo/docker/issues/167

I found it somewhat surprising that Odoo application state was being stored in a conf file.  I th

[2018-02-16 01:59] edsersolis commented on #23035
[code]

[2018-02-16 02:00] edsersolis commented on #23035
There you go @Elkasitu

[2018-02-16 02:01] sswapnesh commented on #23035
Could also provide error part of Odoo log?

[2018-02-16 02:03] edsersolis commented on #23035
No error is shown in the log @sswapnesh

[2018-02-16 02:05] sswapnesh commented on #23035
Is there something in the console?

[2018-02-16 07:02] gokhanerdogdu opened #23107 "Awaiting Payment shows wrong value in Accounting Dashboard"
Impacted versions:
V10 and V11

Steps to reproduce:
In accounting, Customer Invoices Dashboard, Waiting payment total is showing wrong results if there are partial payments.
For example, I have an invoice in total amount of 118. Dashboard shows me 1 Awaiting payment in total amount of 118. This is fine so far. If there is 50 partial payment to the invoice, again the dashboard shows 1 Awaiting paym

[2018-02-16 08:28] JKE-be commented on #11630
fixed a long time ago.

[2018-02-16 08:28] #11630 closed

[2018-02-16 08:30] JKE-be commented on #12760
Limit has been updated from 0.1 to 0.01 to display the cross price a long time ago.

[2018-02-16 08:30] #12760 closed

[2018-02-16 08:32] JKE-be commented on #23071
Not blocking. So, not a priority. => PR welcome.

Will be refactored with BS4 for v12

[2018-02-16 08:35] sswapnesh commented on #23071
Agree with that, But it should not be labeled as wishlist.

[2018-02-16 08:35] lap-odoo commented on #20498
@hdinsen Do you think you could make a PR with this (CoA, taxes, fiscal positions, ...)? Thanks.

[2018-02-16 08:36] JKE-be commented on #18502
Totally agree that PoV usability it is not clear.

But just drag the second Pricelist CNY before USD will fix your problem.

I Keep it open, while we debug the root cause.

[2018-02-16 08:37] JKE-be commented on #18502
Is it reproducible in a clean database with the latest code? (eg: runbot ?)

[2018-02-16 08:41] JKE-be commented on #23071
Wishlist is ambiguous, but it is also the stack of 'tasks' that we could do if we had more resources available.

So for me, wishlist issue/pr are no more in my pipe.

[2018-02-16 09:09] qdp-odoo commented on #23072
closed by https://github.com/odoo/odoo/commit/fcaf459a89b721e2ebc8b758980c76f27052e24f

[2018-02-16 09:09] #23072 closed

[2018-02-16 09:09] advance opened #23109 "[10.0] Odoo cant import Watcher (when he istalled)"
Impacted versions: 10V
Steps to reproduce:
1. $ pip install watchdog
2. odoo-bin --dev=reload
Current behavior:
2018-02-16 09:04:40,566 4180 WARNING ? odoo.service.server: 'watchdog' module no
t installed. Code autoreload feature is disabled

P.S.
Hello, guys. I think i read all tickets in internet for google 'Watcher odoo windows don`t work why who i am ad e.t.'
In real i use pip install watchdog

[2018-02-16 09:33] Elkasitu commented on #23109
Hi,

The python that Odoo uses in Windows is different than your system-wide python, if you want to install it for Odoo you need to navigate to `C:\Program Files\Odoo\python\` and from there, enter the command-line and call the `pip.exe` found in the `\scripts` folder.

[2018-02-16 09:34] Elkasitu commented on #23109
`cd "c:\Program Files\Odoo 11.0e\python"` then `Scripts\pip.exe install watchdog`

[2018-02-16 11:01] Yenthe666 commented on #14858
There was a final fix at https://github.com/odoo/odoo/commit/ea700016d

[2018-02-16 11:01] #14858 closed

[2018-02-16 11:04] Yenthe666 commented on #14536
Hi there,

This has been changed in the meanwhile.

Regards,
Yenthe

[2018-02-16 11:04] #14536 closed

[2018-02-16 11:06] Yenthe666 commented on #14382
Hi there,

Thanks for the feedback and sorry for the late reply.
This is actually the desired behaviour and not something we'd like to change.

Regards,
Yenthe

[2018-02-16 11:06] #14382 closed

[2018-02-16 11:09] Yenthe666 commented on #14306
Hi @ccandito,

Thanks a lot for the bug report.
I've just tried to reproduce this but the issue seems to be fixed in the meanwhile.
Please update your local Odoo instance in order to fix this issue.

Regards,
Yenthe

[2018-02-16 11:09] #14306 closed

[2018-02-16 11:23] intero-chz commented on #14858
@Yenthe666 what about the 10.0 issue? Or will it be forwarded?

[2018-02-16 11:33] TelmoSenseFly commented on #14858
@Yenthe666 i subscribe the question done by @intero-chz . There is any fix for this bug in 10.0?

[2018-02-16 12:06] Yenthe666 commented on #14858
@intero-chz and @TelmoSenseFly there has been some improvements/fixes for V10 but not everything is done in the stable 10.0

[2018-02-16 13:11] celm1990 commented on #23107
Please see PR #19047

[2018-02-16 13:59] bst-odoo commented on #23012
Hello,
The timesheet cost is used for the project overview and not for the SO lines.
Several employees with different timesheet costs can record timesheets on a single task linked to an SO line. That's why we cannot overwrite the product cost.

[2018-02-16 14:09] blaggacao commented on #14970
Sorry it is not directly related, but out of all the other stuf, probably my question best fits in this thread:

I'm observing that in an onchange call `sudo()` does not seem to work:
the method:
[code]
the environment:
[code]
`value[self.related_field.name]` returns an access error but there should be no reason for it.
Yes, `res.company.accounting_company_id` is ultimately a parent company which

[2018-02-16 15:06] fmdl commented on #22783
Hi @nseinlet @odony @jco-odoo

I have made some investigation on this issues :
I have trace the time to compute value of this methode : https://github.com/odoo/odoo/blob/11.0/odoo/fields.py#L989
`print('_compute_value',self,time.time()-t)`

And the worst compute are :
[code]

Analyse:
* `product.template.qty_available` is long because there lot of read_group for the 4000 variantes, and after it is

[2018-02-16 16:54] blaggacao commented on #14970
@rco-odoo Damn it, what should we do? Enforce strictly sequencial onchange calls in the web client??? Make the onchange logic itself threadsafe (as to cache)??? Its a bit brainf*** but I see some light, could you chime in?

[2018-02-16 19:40] blaggacao opened #23121 "[BUG] [ORM] cache copy on sudo does trail FailedValue items from unprivileged environment"
1. `copy_cache` in `models.py` recursively copies the caches to environment,
2. which in
[code]
3. copies failing cache values that have been produce previously by this line:

`models.py : def _prefetch_field()`
[code]
I checked it's exactly the same `FailedValue` object, which is later accessed without intent (not refreshed) by the fact that the buggy environment is copied to sudo (and not refres

[2018-02-16 19:42] blaggacao commented on #23121
For the whole story: https://github.com/odoo/odoo/issues/14970#issuecomment-366244737

[2018-02-16 19:45] blaggacao commented on #23121
Where should the fix go?

- `_compute_related(self, records)` should heal it's cache for it's use case (sudo)
- or should `copy_cache` do not copy `FailedValue` at all...

I would incline for the latter...

[2018-02-16 19:45] blaggacao commented on #23121
/cc @rco-odoo

[2018-02-16 20:02] blaggacao commented on #23121
@mreficent If you are into multicompany, you'll probably have a look at this...

[2018-02-17 00:45] jbeficent opened #23124 "odoo 11.0 not starting properly with workers > 0"
Impacted versions: 11.0

Steps to reproduce:
Install odoo 11.0 in debian stretch using standard procedure.

Using Ansible, you can use the playbook https://github.com/OCA/ansible-odoo

name: Odoo 11
hosts: odoo11
roles:
role: postgresql
postgresql_version: 9.6
role: ansible-odoo
odoo_version: 11.0
odoo_config_unaccent: True
odoo_config_admin_passwd: SuPerPassWorD
odoo_config_workers: 4
odoo_config

[2018-02-17 03:13] rgeromegnace opened #23125 "[10.0] Rounding error in total tax value in sale order and invoice"
Impacted versions: 10.0 - Test on Runbot http://303701-10-0-484110.runbot8.odoo.com

Steps to reproduce:
Create a sale order and its invoice with 4 products
- product 1: unit price: 598.89 - tax: 8.5% - quantity: 1
- product 2: unit price: 329.84 - tax: 8.5% - quantity: 1
- product 3: unit price: -59.89 - tax: 8.5% - quantity: 1
- product 4: unit price: -32.98 - tax: 8.5% - quantity: 1

product 2

[2018-02-17 04:15] sswapnesh commented on #23124
May be related to #21391

[2018-02-17 07:12] almustafago commented on #23082
ok , i have not update odoo -
unistall it meains unistall model in apps list -
model data it meains the model file that found in addons dircetory

[2018-02-17 10:23] almustafago commented on #23082
@sswapnesh  still face the same problem after i add your amadement in websit dircetory

[2018-02-17 12:16] arafatx opened #23126 "[Odoo 11.0] Error appear when giving discount in POS"
**Impacted versions**: 11.0

**Steps to reproduce:**

1) Go to Point Of Sale
2) Click on any product
3) Click on Discount
4) Apply any number of discount
5) Click OK
6) Error appear

**Current behavior:**
Error appear

**Expected behavior:**
Item got discount and no error appear

**Video/Screenshot link (optional):**

https://s10.postimg.org/chghyy45l/error-odoo-11-pos.png

Error message:

Uncaugh

[2018-02-17 12:18] q710245300 commented on #18248
hi ,I face same question like it . so can you tell me how do you  fix this error finally?

[2018-02-17 12:22] arafatx commented on #23126
odoo server log is not generated because this problem is related to javascript.

[2018-02-17 13:57] nehemiascr commented on #14750
I just reproduced this error in runbot odoo 11:
I created 3 contacts, exported them and with the .csv tried to create user accounts with the referenced parter.

<img width="882" alt="error_in_runbot" src="https://user-images.githubusercontent.com/1874087/36341720-1ce6a9a2-13b8-11e8-9b0c-c200732a3c8b.png">

csv:
"id","email","name"
"__export__.res_partner_1797","ana@hello.com","ana"
"__export__.res

[2018-02-17 13:59] Yenthe666 commented on #22969
Hmm I was not sure about this one. As it is quite low level and technical I went for framework :D

[2018-02-17 16:34] nehemiascr commented on #14750
[I realized](https://www.odoo.com/forum/help-1/question/create-user-from-importing-user-csv-89531) I was getting this error because I wasn't providing values for the login field, I believe my issue is unrelated to @gigamare 's

[2018-02-17 17:29] Moto017 opened #23127 "Access restriction with packages and sale own documents only"
Impacted versions:
[11]
Steps to reproduce:

- enable sale user setting "own documents only"
- enable packages
- enable user setting inventory "user"
- create 2 users
- create sale order - confirm from user 1
- user 2 , delivery, "put in pack".

when transfering delivery "put in pack" with sale order not in "own documents only", produces access restriction error

Current behavior:
- access restric

[2018-02-17 18:29] invitu opened #23128 "[11.0-point_of_sale] accounting setup are invisible in pos_config"
Impacted versions: 11.0

Steps to reproduce:
Open pos_config form view
Current behavior:
Accounting setup is invisible
Expected behavior:
Accounting setup shoul be visible

Solution:
is_installed_account_accountant is always False because account_accountant module does not exist in v11
I suggest that the acccounting part should be visible to account.group_account_user

[2018-02-18 08:52] Yenthe666 commented on #23126
Hi @arafatx,

Thanks a lot for your bug report.
I've just tested this on the latest Odoo 11.0 and it works fine out of the box. Can you reproduce it on an official Odoo test instance at runbot.odoo.com? Is your Odoo running on the latest code? Perhaps you have custom development added?

Regards,
Yenthe

[2018-02-18 08:54] Yenthe666 commented on #23124
@d-fence could you have a look/test on a debian stretch with multiple workers?

[2018-02-18 10:39] sswapnesh commented on #22918
@sle-odoo Could you please check #22947?

[2018-02-18 13:04] Yenthe666 commented on #22918
@sswapnesh please don't ping people on other issues with a link to another issue. This creates noise on irrelevant issues and becomes confusing.

[2018-02-18 13:05] sailguest opened #23134 "jsID"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-02-18 13:05] #23134 closed

[2018-02-18 13:06] sswapnesh commented on #22918
It is not Issue. It is PR related to this Issue.

[2018-02-18 13:32] jbeficent commented on #23124
Finally I found I was putting wrong valued in limit_nemory_hard and limit_memory_ soft. See
https://github.com/odoo/odoo/pull/23131

[2018-02-18 13:32] #23124 closed

[2018-02-18 14:22] grocav opened #23135 "[11.0] Point of sale - Can't perform sales"
Impacted versions: 11

Steps to reproduce:
Go to POS module
start new POS session
Open session
Start sales
error screen appears

Current behavior:
not go to sales screen
Expected behavior:
error screen

------------------------------------------
TypeError: url.indexOf is not a function
    at Object.loaded (http://localhost:8069/web/content/1206-f5ae659/point_of_sale.assets.js:467:153)
    at Obje

[2018-02-18 14:53] almustafago opened #23136 "odoo 11 import sale order"
Impacted versions: odoo 11

Steps to reproduce:  import sale order with product in line

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
![import](https://user-images.githubusercontent.com/15360515/36353213-a817ad56-14d4-11e8-9a9d-c3b059026708.PNG)

[2018-02-18 15:55] Yenthe666 commented on #22918
Just ping on the PR and not on the closed issue, that is what I mean. That way it is cleaner and better.

[2018-02-18 15:56] sswapnesh commented on #22918
Sure, Thanks.

On Feb 18, 2018 9:25 PM, "Yenthe V.G" <notifications@github.com> wrote:

[2018-02-18 18:36] grocav commented on #23135
seems to be a problem with printers config

[2018-02-18 19:12] spectra10008 opened #23138 "odoo connect with mobile app"
how can i connect odoo with android app apk??!!

[2018-02-19 01:06] khishigbat commented on #22593
Thank you. :smiley:

[2018-02-19 04:35] jorenvo commented on #23126
It is because your discount product is not available in the point of sale. You can make it available in the Sales tab of your product.

[2018-02-19 04:35] #23126 closed

[2018-02-19 04:36] yostashiro opened #23140 "Cannot cancel validated invoice if amount is zero"
### Impacted versions:

10.0, 11.0 (haven't tested other versions)

### Steps to reproduce:

- Install modules `account_invoicing` and `account_cancel`.
- Set "Allow Cancelling Entries" to True for Customer Invoices journal.
- Create a customer invoice with zero amount, and validate it.

### Current behavior:

There is no option provided to cancel the invoice (i.e. "Cancel" button does not show).

[2018-02-19 04:38] seyed-mohammad-motahar opened #23141 "Sales Order in Multiple currencies not considering in sales analysis reports"
Impacted versions:
11e

I copy over the original issue.

In sale order multiple currencies accepting, but in reports and other analysis sum of sales value not consider the different currency effect.
Ex. I have sales orders like (5000-USD , 5000-EUR and 10000-AED)
the total will show the total sales order value is 20,0000/-
It should show separately currency wise and one more column to show in loca

[2018-02-19 04:40] yostashiro commented on #23140
OPW: 817025

[2018-02-19 06:38] Yenthe666 commented on #23126
Ah good catch Joren! Perhaps we could build in a check with a clean warning for this?

[2018-02-19 07:02] Elkasitu commented on #23138
Sorry, but GitHub is for reporting bugs or, sometimes, for technical questions.

Your question falls under the functional question category, I suggest you ask for help over at the [odoo forums](https://www.odoo.com/forum/help-1)

[2018-02-19 07:02] #23138 closed

[2018-02-19 09:30] sle-odoo commented on #22893
fixed by https://github.com/odoo/odoo/commit/5c1f025a424b95395d2de087520ce211534e7edc

thank you

[2018-02-19 09:30] #22893 closed

[2018-02-19 10:18] odony commented on #13111
The fix was merged in 9.0 at 5d086cea9b97cec4fe8d07bf6cb06b3d7ee28af7 via #22276. It will be forward-ported soon to later versions. Thanks!

[2018-02-19 10:18] #13111 closed

[2018-02-19 11:35] Yenthe666 commented on #23082
@almustafago please test this on the latest V11 (at runbot.odoo.com), we really can't reproduce the issue on the latest V11.

[2018-02-19 11:36] dansanti commented on #15633
Hi! this happens on 11.0 too, if you open pop up don't show current quantity, and if set an quantity, this override current quantity and take input quantity

[2018-02-19 11:37] Gorash commented on #21943
After further study of this behavior, we can not modify it in stable version.
Indeed, the current configuration for hours am / pm format if we make dependent on the configuration of the language, by default it will apply the format 01:00 in English instead of 1 am, which will not match either. Indeed, the information on the formatting of the time does not exist by default and therefore can not be

[2018-02-19 11:37] #21943 closed

[2018-02-19 12:19] odony commented on #22783
For the record, this one might be solved by 10412d351cc4ba66ff4d10879d22535fc4e3e222. At least it's worth a re-test on an up-to-date 11.0.

[2018-02-19 12:34] odony commented on #22783
This perf investigation is interesting, but I don't think having 5000 variants for the same product makes any kind of sense, so please don't expect the system to behave nominally. Variants were simply not designed to be used for this, and won't be.

Imagine a shirt store with only one product template, and variants for every possible design, size and color combination. Clearly, each design should

[2018-02-19 12:38] Yenthe666 opened #23149 "[10.0] Mass mailing test button does not generate tracking URL's"
Impacted versions: 10.0 and above (probably all)

Steps to reproduce:
1. Add an outgoing mail server
2. Create a mass mailing campagn and add a mailing list to this bulk mailing campagn. Make sure that in the mass mailing is an external link - in my example google.com.:
![image](https://user-images.githubusercontent.com/6352350/36377905-0c1edba4-1579-11e8-8e2a-2ee119140084.png)
3. Send out a test

[2018-02-19 12:49] xmo-odoo commented on #22475
@jeffery9 I merged odoo/odoo#22494 which *should* significantly improve memory consumption during imports, could you check with d28f8f7?

[2018-02-19 13:12] xmo-odoo commented on #21504
The alternative would be to raise the specific exception object but I believe that would lose us the traceback unless we went and retrieved it in our reraising.

All in all, meh.

[2018-02-19 13:12] #21504 closed

[2018-02-19 13:15] xmo-odoo commented on #21682
@gswf-sha I think we've had some fixes wrt image resizing & P3, is this still an issue?

[2018-02-19 13:23] xmo-odoo commented on #23052
Seems to have been fixed by 4f8ae9f993b3423d4a6aead35be980895646a7cd

[2018-02-19 13:23] #23052 closed

[2018-02-19 13:26] Cedric-Pigeon commented on #22697
@kebeclibre It was not clear at all that you tested it ;-) I reviewed the code and it seems good. Could you create a PR for this patch ? just like https://github.com/odoo/odoo/pull/20430
?

[2018-02-19 13:45] aab-odoo commented on #23055
@VincentSchippefilt Another occurrence of the issue with nested SelectCreateDialog instances. Could you close this once it is fixed?

[2018-02-19 13:48] VincentSchippefilt commented on #23055
Yes, I will work on this bug in the coming days.

[2018-02-19 13:54] BurtGummer opened #23152 "Attach ics-file on event registration"
Hello,

is there a way, to attach the date from a event as ics-file to a registration mail? I have found this:

https://www.odoo.com/de_DE/forum/hilfe-1/question/attach-ics-file-on-event-registration-122739

but there is no ics-file in the mail?

Any ideas?

Odoo 11 on Debian 9.3.

[2018-02-19 14:03] #23059 closed

[2018-02-19 14:04] xmo-odoo commented on #23059
Thanks for the report. The field was changed to be non-creatable as creating module records through the UI makes very little sense.

[2018-02-19 14:14] fmdl commented on #22783
@odony for `product.product.uom_id` I allready use the latest code.

Sure a product with 5000 variants is not commun, but 50 product with 100 variants each is more likely, and the time to compute will be the same to show the kanban view.

This extreme case reveals that some stuff are not optimized.

[2018-02-19 14:31] Patrickar opened #23154 "Missing fields in sale order with more then 40 order lines"
Impacted versions:
ODOO 11

Steps to reproduce:

1. Create a quote/sales order
2. Create order with more then 40 order lines -> results multiple pages (e.g. 1-40/60; 41-60/60)

Current behavior:

When clicking to the next order page (to 41-60/60) couple fields will disappear: "delivered quantities" and "invoiced quantity". When adjusting quantities on the second page some weird things happen.

Exp

[2018-02-19 14:43] yung-wang opened #23155 "[11.0] Multi Company. When changing company, your leave cannot be approved"
Impacted versions:
V11

Steps to reproduce:
- There are 2 companies in the system (A and B).
- User 1 has rights to work in both companies. but as an employee he is linked to company A (work schedule, employee company etc...).
- User 1 creates a Leave Request in company A, but this needs to be approved.
- User 1 then decides to work in company B. At the end of the day, he logs out and his user is

[2018-02-19 14:48] rgeromegnace commented on #23125
Bonjour,

I Hope you will find a solution quicky because the odoo instance is in production.
This problem is touchy because the odoo instance is connected with a e-commmerce web site and the order amount of the e-commerce web site is different with the invoice amount of Odoo.

Regards,

[2018-02-19 14:50] ThijsvOers commented on #23155
See also https://github.com/odoo/odoo/issues/22891, that issue is about invoicing, but describes the same type of error that we encounter in a multi company environment.

[2018-02-19 14:53] rockcesar opened #23156 "Many2many domain is failing in Odoo 10.0.20180219"
Impacted versions: 10.0.20180219

Steps to reproduce:

    * Create two fields with a domain in partner_id:

    partner_ids = fields.Many2many('res.partner', 'custom_model_res_partner_rel', 'custom_model_id', 'res_partner_id', string="Partner IDS")
    partner_id = fields.Many2one('res.partner', string='Partner', domain="[('id', 'in', partner_ids and partner_ids[0] and partner_ids[0][2] or False)

[2018-02-19 14:56] Yenthe666 commented on #23125
@rgeromegnace if this is a high priority issue then please report it at odoo.com/help and use your enterprise license in order to get it handled.
Github is a best effort issue fixing policy.

[2018-02-19 14:58] rockcesar commented on #23156
I downloaded this version of Odoo from the Debian nightly repository:

deb http://nightly.odoo.com/10.0/nightly/deb/ ./

[2018-02-19 15:01] rgeromegnace commented on #23125
Ok thanks, I will create the issue on odoo.com/help two.

Regards,

[2018-02-19 15:15] ctac1412 commented on #23109
if i not have python folder?
in C:\Program Files (x86)\Odoo 10.0

[2018-02-19 15:38] rockcesar commented on #23156
The version from GitHub, branch 10.0, is working fine. But the problem is still happening in the nightly version.

[2018-02-19 16:00] sswapnesh commented on #23154
Hello @Patrickar
I have tested Same on Runbot and Seems working fine.
(Fields Delivered/Invoiced will be only visible when Order state is Sale Order or Done)
![](https://image.prntscr.com/image/Ki4A0v9TSyKWRIfg3P26xA.png)

As you mentioned

I have tried to enter Order Qty manually as well.

![](https://image.prntscr.com/image/ib58SgVARKetEB9VPv5tig.png)

[2018-02-19 16:26] yung-wang opened #23162 "[11.0] Menu Leaves to Approve > Leaves. Remove filters and you get error because of Multi Company"
Impacted versions:
V11

Steps to reproduce:
Make sure you have multiple companies A, B and C.
1. UserA is HR manager but has rights for companies A, B and C. And he is allowed to approve the leave request.
2. UserB create a leave request in company B
3. UserC create a leave request in company C

Odoo CE, If you go to the left menu: "Leaves to Approve" > Leaves, you can remove all the filters "To A

[2018-02-19 16:30] OliHall commented on #21243
As this is still a live issue, until the documentation is updated, would it be possible to put a small warning in the appropriate place referencing this page? This would stop users who are faithfully following the tutorial from going round in circles trying to work out what they have done wrong when their code doesn't work.

[2018-02-19 16:57] sswapnesh opened #23165 "POS - Display full Customer name (using name_get) in pos screen"
Impacted versions: All

Steps to reproduce: Go to Customer Screen in POS

Current behavior: Customer's name will be displayed instead of full name
(Not a blocking Issue but Possible Improvement)

![](https://image.prntscr.com/image/MNkQjH1ORJOww58WQ_qULQ.png)

Expected behavior: It should Display Full name

![](https://image.prntscr.com/image/aTjd7ydcQVCOFtWF5IquDg.png)

Video/Screenshot link (opt

[2018-02-19 17:03] sswapnesh opened #23166 "POS - Customer Information is not updated Runtime"
Impacted versions: 11.0 (probably all)

Steps to reproduce: Go to Customer Screen in POS --> Edit Customer Information

![](https://image.prntscr.com/image/1y0mcn4lQxqXrWG9uQCpQQ.png)

Comeback on the Same screen after Saving the record.

![](https://image.prntscr.com/image/_A39YH91TsmqON2p26vI-w.png)

Current behavior: Customer Information is not Updated, Need to Refresh the Page

Expected behavi

[2018-02-19 17:39] almustafago commented on #23082
Hello dear thank you so much for your kindness.. Me be this bug cause I'm
use bitnami Odoo

بتاريخ ١٩‏/٠٢‏/٢٠١٨ ١٤:٣٥، كتب "Yenthe V.G" <notifications@github.com>:

[2018-02-19 18:03] sswapnesh opened #23167 "[11.0]POS - Could not Complete Return Products workflow due to negative amount in Invoice"
Impacted versions: 11.0

Steps to reproduce: Create POS Order (Frontend) --> Go to Order in Backend -->Create Return Order  --> Make Payment --> Create Invoice for Return Order --> Validate Invoice

![](https://image.prntscr.com/image/7ZankfFbRG_id_IWmHbaTQ.png)

![](https://image.prntscr.com/image/TSQh7_8XTs_xgyRE5ys1Ww.png)

![](https://image.prntscr.com/image/mnO0JzAbTeSU6VWejTop8g.png)

Curren

[2018-02-19 18:16] alxolivares opened #23169 "[11.0] crm: error trying to create a new opportunity"
Impacted versions:
11.0

Steps to reproduce:
1. Assign **User: Own Documents Only** to the demo user for sales application.
2. Assign the demo user to a sales channel.
3. Log in with demo user.
4. Go to CRM and create a new opportunity.

Current behavior:
A Validation error is raised trying to create the new opportunity.

Expected behavior:
A new opportunity should be created without problems.

Vi

[2018-02-19 18:31] sswapnesh commented on #23169
Maybe related to #22360 and #22923

[2018-02-19 19:11] sswapnesh opened #23170 "[11.0] base_gengo - Configuration link should open General Settings"
Impacted versions: 11.0

Steps to reproduce: Install base_gengo module --> Go to Settings/Translations/Application Terms/Gengo: Manual Request of Translation --> Click on Configure Gengo Parameters

![](https://image.prntscr.com/image/qvrEFI9iTEWc_umKtYikZA.png)

Current behavior: It goes to Company View where there is not Gengo Configuration

![](https://image.prntscr.com/image/PuIRUNMBR5SmTixqA7

[2018-02-19 19:22] sswapnesh opened #23171 "[11.0] Uninstalling Signup module breaks General Settings"
Impacted versions: 11.0

Steps to reproduce: Uninstall Signup module --> Go to General Settings --> Make a Change in Some Configuration --> Save

![](https://image.prntscr.com/image/ehf0ZrHGRrG45SO0jZIUVg.png)

Current behavior: Traceback on Screen

![](https://image.prntscr.com/image/XHFHi-z8TJePn2X_0jvZWg.png)

Expected behavior: Should be able to Save Settings

Video/Screenshot link (optional):

[2018-02-19 19:24] sswapnesh commented on #23166
Duplicate of #13856 (Found later after Submitting Issue)

[2018-02-19 19:33] jordanvrtanoski opened #23172 "Performance issues when clearing the specific model's cache clears the cache from all models"
Impacted versions:
9.0, 10.0, 11.0

I have noticed this problem during a review of the SQL statements generated in one  "busy" instance running a POS for large retail chain. During investigation of the queries generated for each POS order and ways to optimize the stock picking part of the order, I had noticed that the cache is cleared several times during processing of one POS order. Reason for th

[2018-02-20 07:05] Yenthe666 commented on #23082
@d-fence do you happen to have a bitname instance somewhere to test if it is platform/OS dependant?

[2018-02-20 07:11] Yenthe666 commented on #13856
@mart-e or @sle-odoo or @jorenvo (I'm totally not sure who is the main guy for POS now), could one of you guys look at this and fix it? It is apparently in V11 now too.

[2018-02-20 07:12] Yenthe666 commented on #23166
Hi @sswapnesh,

Thanks for the report.
This is indeed a duplicate of https://github.com/odoo/odoo/issues/13856 on which I've added labels & pinged the right people. Would you mind that I close this one in favour of the other? It should be fixed from 9.0 up anyways.

Regards,
Yenthe

[2018-02-20 07:18] Yenthe666 commented on #23171
Yep - absolutely a bug. Thanks for the report @sswapnesh!

[2018-02-20 07:19] TimLai125 opened #23175 "Parent company's Salesperson not being proposed to quotation if it is created with public user"
**Impacted versions:**
10.0e

**Steps to reproduce:**
1. Create a portal user, set the "Salesperson" as empty and assign a parent company to the user.
2. Assign a "Salesperson" to the parent company.
3. Add products to the cart in shop without login.
4. Login and process the checkout.

**Current behavior:**
A quotation is created and the "Salesperson" of the quotation is not set.

**Expected behav

[2018-02-20 07:20] gdgellatly commented on #23125
Looks like round per line is set on tax.

On Tue, 20 Feb 2018, 4:01 AM Régis GEROMEGNACE, <notifications@github.com>
wrote:

[2018-02-20 07:37] sswapnesh commented on #23166
Sure

On Feb 20, 2018 12:42 PM, "Yenthe V.G" <notifications@github.com> wrote:

[2018-02-20 07:53] d-fence commented on #23082
@Yenthe666 sorry, I don't have such an instance.

[2018-02-20 07:56] #23166 closed

[2018-02-20 07:56] Elkasitu commented on #23109
Ah yeah my bad sorry, apparently there is no `\python` folder in v10 of the Odoo windows package (there is one for v11), unfortunately there is no way to use watchdog or any other external libraries not included by default, sorry for the inconvenience.

[2018-02-20 08:13] d-fence commented on #18559
Landed there:
https://github.com/odoo/enterprise/commit/6bc6328f2ebde365f0b7b9336d6f92bc98633323
https://github.com/odoo/odoo/commit/32db86e3a0029e5be2258545dc3562dc9e3f54a2
https://github.com/odoo/enterprise/commit/107d10600bc5c604916ac67cd612f6557a5157e3

Thanks

[2018-02-20 08:13] #18559 closed

[2018-02-20 09:50] alexis-via commented on #23040
@fclementic2c Thanks for your feedback. I see that I'm not the only one to have a problem with this!

@qdp-odoo What do you think about this problem ? Should we try option a), or should I go for option b) and make a PR to modify the chart of accounts in l10n_fr ?

[2018-02-20 10:35] #23061 closed

[2018-02-20 10:48] bhaskarreddyg commented on #12550
I am writting qweb reports while writting i got this error
can anyone help

Odoo Server Error
Traceback (most recent call last):
  File "D:\odoo-9.0\openerp\http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\odoo-9.0\openerp\http.py", line 687, in dispatch
    result = self._call_function(**self.params)
  File "D:\odoo-9.0\openerp\h

[2018-02-20 10:53] #22600 closed

[2018-02-20 11:21] yostashiro commented on #23175
OPW: 817189

[2018-02-20 11:22] fmdl opened #23182 "[11.0] ir.default : condition field is deprecated ?"
Impacted versions:
11.0

The field `condition` don't appear on the views (view form and wizard from Set Default), but it still present in python code (fields definition and appear in differents functions), it is normal or not ?

https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/ir/ir_default.py#L21

[2018-02-20 11:27] ebo2007 opened #23183 "Installation Problem"
Impacted versions: 11

Steps to reproduce: final steps (Running Odoo Server)

when trying to execute the command : ./odoo-bin --addons-path=addons,../mymodules --db-filter=mydb$
I get this error  how can I solve it ?

Running as user 'root' is a security risk.
Traceback (most recent call last):
  File "./odoo-bin", line 8, in <module>
    odoo.cli.main()
  File "/Users/ebouh/odoo/odoo/cli/command.

[2018-02-20 12:20] aheficent commented on #13974
ping @qdp-odoo

[2018-02-20 12:30] rgeromegnace commented on #23125
Hello @gdgellatly

What do you mean by "round per line is set on tax"?

Regards,

[2018-02-20 13:19] mart-e commented on #13441
The fuel logs are already deleted when you delete a costs.
I do not think we should delete it the other way around, it is good to keep the history of the costs.

[2018-02-20 13:19] #13441 closed

[2018-02-20 14:44] oerp-odoo opened #23194 "[11.0] vat field visible to non commercial partners"
Impacted versions:
11.0
Steps to reproduce:
Open partner that is not commercial partner.
Current behavior:
You should see `TIN` or `VAT` field on partner form.
Expected behavior:
Commercial fields are meant to be showed only for commercial partners.
It is also desribed in `_commercial_fields` method:
[code]

![screenshot from 2018-02-20 16-42-44](https://user-images.githubusercontent.com/7812986/3

[2018-02-20 14:44] #23170 closed

[2018-02-20 15:58] Yenthe666 commented on #23182
@mart-e perhaps this got lost in a migration? Should we reintroduce it on the view?

[2018-02-20 16:11] ysantiago opened #23199 "Error in CDFI 3.3 "Error in the tax specification""
Impacted versions: 11.0

We have two clients that express that XML invoice in their respective client portal it throws "Error in the tax specification" when the tag ```TotalImpuestosRetenidos``` is zero (0.0).

We made a test where tag ```TotalImpuestosRetenidos``` is not shown when is zero (0.0) and this error doesn't appear.

[2018-02-20 16:37] #23199 closed

[2018-02-20 17:28] #21331 closed

[2018-02-20 18:22] sswapnesh opened #23203 "[11.0] Do not consider cancelled maintenance request"
Impacted versions: 11.0

Steps to reproduce: Go to Maintenance Dashboard --> Open To Do --> Cancel one of them --> Go to Dashboard Again

![](https://image.prntscr.com/image/Vn1PdoQ8S2iR0FiCnB0M3A.png)

![](https://image.prntscr.com/image/BjhFWsfhQdueyfSdjCOH0g.png)

![](https://image.prntscr.com/image/5Ytb7vN3SVevBzSnO7B3vg.png)

Current behavior: After Cancelling Request It is still in Maintenan

[2018-02-20 18:31] sswapnesh commented on #23203
Cancelling Request doesn't Change stage to 'Cancel', It archives the record Instead, But it is still there on the views. (Even active_test is not added in context)

[2018-02-20 19:05] sswapnesh opened #23204 "[11.0] Issue with filters in Equipment"
Impacted versions: 11.0

Steps to reproduce: Go to Maintenance --> Equipment --> Apply Filter
(Assume Activity is created with Scheduled Date today)

![](https://image.prntscr.com/image/X_FmlWKyQS6wD666Qe_ZVg.png)

Current behavior:
When applying filter --> Upcoming Activities (7 days)
It shows One record Which is correct

![](https://image.prntscr.com/image/69LFYzlfTdy8Zf1TDi2XDg.png)

When apply

[2018-02-20 19:09] sswapnesh opened #23205 "[10.0] Wrong number of Activity in Sales Dashboard"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-02-20 19:17] Joel1971 opened #23206 "Tengo instalado odoo 11 en Google_Cloud_Platform"
Impacted versions:
Odoo 11

Steps to reproduce:
Esta se instalo sin problemas al instalar el modulo "user_login_alert" el servidor presento error en la instalación. al cancelar la instalación, el servidor ya no reacciono. presentando la sig traza.

Current behavior:

2018-02-20 19:01:34,031 28680 INFO ? odoo: Odoo version 11.0-20180217
2018-02-20 19:01:34,031 28680 INFO ? odoo: Using configuration

[2018-02-20 19:24] gdgellatly commented on #23125
https://www.odoo.com/forum/help-1/question/round-only-total-in-invoice-19895

On Wed, 21 Feb 2018, 1:31 AM Régis GEROMEGNACE, <notifications@github.com>
wrote:

[2018-02-20 19:26] sswapnesh opened #23207 "[10.0] Incorrect filter/Information for Invoice in Dashboard"
Impacted versions: 10.0

Steps to reproduce:  Go to Sales Dashboard

Current behavior:

- It is written "Invoiced" in block and mouseover says it is 'To Invoice Report'

![](https://image.prntscr.com/image/JCz5Gc7cRLuSMAi8Gg_-PA.png)

- Click on Invoiced Block you will see total Invoiced amount which is different than Dashboard amount

![](https://image.prntscr.com/image/sc1rtdY4SOCimJnLvDTbaw.png

[2018-02-20 19:39] sswapnesh commented on #22812
Hello,
This Issue seems to have at other Place too.

Sales Order Backend: [https://prnt.sc/ihhn8u](https://prnt.sc/ihhn8u)
Frontend: [https://prnt.sc/ihhl09](https://prnt.sc/ihhl09)

[2018-02-20 19:55] sswapnesh commented on #23170
Hello @mart-e
I believe view should be Improved.

![](https://image.prntscr.com/image/wt-QYFsqSWS_vNHMQGZYRA.png)

![](https://image.prntscr.com/image/-vsaL4HmS6aY6lIU640lOg.png)

Make few Changes in Setting and Save (Setting --> Save)
It will be Empty Page instead of Default Odoo #Inbox (Discuss) menu.

It adds active_id in url each time

- When we click on Configure Gengo Parameters
   URL is `/

[2018-02-20 21:21] chris001 commented on #21351
@JKE-be @ged-odoo @Yenthe666
Easy solution to this bug: you catch the python `FileNotfoundError`, and continue to the next directory in `addons_path`.  It shouldn't crash that way.  Does linux kernel crash when one of the directories in `PATH` doesn't exist? Nope, it goes past it and continues to the next directory.

[2018-02-20 21:27] armbakri opened #23210 "Odoo11e Inventory Valuation Report Creates Duplicate Stock Journal Entries When Minus Qty is adjusted!"
Impacted versions:
Odoo V11
Steps to reproduce:
I am using this configuration
Cost Method : Fifo
Valuation : Real Time
Accounting : Anglo-Saxon
I have disaster bug for odoo v11 inventory valuation for example if i have Product - A Qty=10pcs, Cost = $12 (My Stock Value is $120 OK)
Now if i sale more then 10pcs (for mistake or from pos) let i say we sold 20 pcs
two journals will create
Stock Out Jou

[2018-02-20 21:46] haconsult commented on #23066
Ok, is much improved now. However, if you got different UOMs set you can still not 'tab' your way to the UOM column and apply changes.

Also (related or not) in any sales order: you get a very similar behavior but only if you try to sell more quantities of a product than you have in stock. This may easily happen if you want to sell a quantity smaller than 1 since 1 is the preset default. If necess

[2018-02-20 22:50] fmdl commented on #23204
Corrected here : https://github.com/odoo/odoo/pull/23211

[2018-02-20 22:52] edsersolis opened #23212 "[11.0] account: 'not draft' filter is completly dumb"
Impacted versions: 11.0

Steps to reproduce:
1. Open any list view
2. Start trying different filters

Current behavior:
1. Some filters do nothing (a simple example: Not Draft [Accounting > Sales > Customer Invoices])
2. Same thing has happened to our customers with other filters.

Expected behavior:
Information be filtered as requested.

This was working great in past versions and didn't require

[2018-02-21 04:15] richard-willdooit opened #23214 "[account] Anglo Saxon Drop Shipping Broken by Previous Fix and Change to Stock"
Three related problems with Drop Shipping with Anglo Saxon Accounting.

One has been broken since #20080.

Another is caused by the same code.

The third - a fix from #12687 - is being bypassed by current code.

Impacted versions:

11.0, and 10.0 for at least some of this

Steps to reproduce:

Set up a product with
- real time valuation
- standard price
- Anglo Saxon accounting
- drop shipping tur

[2018-02-21 04:20] richard-willdooit commented on #23214
@sle-odoo @Yenthe666 @Julioserna

You guys were included in the fix that introduced this issue.

[2018-02-21 04:31] alexcuellar commented on #13815
I got a similar error in Ubuntu 18.04 with Odoo11 and the solutions like this:
`diff --git a/odoo/tools/convert.py b/odoo/tools/convert.py
index 59e87d6ee32..4a53169e17b 100644
--- a/odoo/tools/convert.py
+++ b/odoo/tools/convert.py
@@ -831,7 +831,7 @@ def convert_csv_import(cr, module, fname, csvcontent, idref=None, mode='init',
 def convert_xml_import(cr, module, xmlfile, idref=None, mode='init'

[2018-02-21 07:16] spectra10008 opened #23217 "require_once(/opt/lampp/lib/Ripcord-master/src/Ripcord.php): failed to open stream: No such file or directory"
i download Ripcord-master but i got these error

[2018-02-21 07:25] hubeizys commented on #18248
mongo charset error.       its need utf8 to work

                            朱云松

                                    邮箱：124296140@qq.com

签名由 网易邮箱大师 定制
            On 02/17/2018 20:19, q710245300 wrote: hi ,I face same question like it . so can you tell me how do you  fix this error finally?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub,

[2018-02-21 08:23] lap-odoo commented on #20347
@gustavovalverde @lukebranch : Thanks for the feedback, I agree it would be interesting to have it. We plan to do some improvements on the landed costs, hopefully for V12. I've added your feedback in our backlog.

[2018-02-21 08:23] #20347 closed

[2018-02-21 08:40] lap-odoo commented on #21001
@kunalg140 Hi, how did you configure it ?

Here is what I suggest you to do  :
- Create a WH/Quality location
- Modify the manufacturing operation type : the default destination location should be WH/quality
- Modify the manufacture procurement rule : the procurement location should be WH/quality
- Create a new route : with a push rule from Quality to Stock and a procurement rule from Quality to S

[2018-02-21 08:40] #21001 closed

[2018-02-21 09:38] lap-odoo commented on #19527
@dduarte-odoogap Hello, thanks for reporting this. It's a bug and I've created a ticket (817398). Our support will take care of it. I've added you as follower on the ticket. I'm closing the github issue, you'll be updated from the ticket. Thanks

[2018-02-21 09:38] #19527 closed

[2018-02-21 09:39] amoyaux commented on #23096
@sswapnesh Seems to be a regression from 10.0 when we removed the procurement order. I will check if it's possible to do something in stable.

[2018-02-21 09:39] caiuka commented on #5903
@ddfs Not understood your fix on the _dispatch method...do you intend to delete it?

[2018-02-21 09:45] ged-odoo commented on #23212
@edsersolis The filter 'Not Draft' did not work great in past versions, since it was only introduced for v11 (commit https://github.com/odoo/odoo/commit/b31f7786f455574a0644294a91b652986abf6ee4)

In that specific case, the filter seems quite dumb, the 'Not Draft'  filter is actually mapped out to the domain "['&', ('state','in',['draft','open','paid']),('type','in',('out_invoice','in_invoice'))]".

[2018-02-21 09:48] ged-odoo commented on #23212
@qdp-odoo

[2018-02-21 10:03] lap-odoo commented on #18492
@hbto : Thanks for the feedback. @sle-odoo has created a branch for this, I'll test it and if it's ok it will be merged in master.

[2018-02-21 10:03] #18492 closed

[2018-02-21 10:13] pimodoo commented on #23128
Hello,

The module 'account_accountant' is an enterprise module, as those fields are only significant when this module is installed we don't want to show them, and the installation of the localization set up the needed fields correctly.

Best regards

[2018-02-21 10:13] #23128 closed

[2018-02-21 10:18] pimodoo commented on #23135
Hello,

Could you please open your POS while beeing in 'Developer mode' and send us the traceback, it will provide us more information about the location of the problem.

Thanks

[2018-02-21 10:22] ddfs commented on #5903
@caiuka taking out the cook_lang from equation does work. then it only relies on the path ( nearest_lang or default_lang  )

this is the entire dispatch method I have... ( additional conditions added since I have configurable language aliases enabled in base )

`
   def _dispatch(self):

        first_pass = not hasattr(request, 'website')
        request.website = None
        handler = None

[2018-02-21 10:24] lap-odoo commented on #22117
@bradrust : Hi, thanks for reporting this. We will make sure this will be possible in the future versions (unfortunately, it cannot be fixed on stable versions).

[2018-02-21 10:24] #22117 closed

[2018-02-21 10:24] sle-odoo commented on #7237
Hi,
Is it possible you have an infinite recursion in your config? This should be detect by a133afe8a1e3741c7943a0db1a87fd68edfcb166. Can you export me a database with an example so we can check properly? It is also possible the bug was fixed in the meantime.

I'm closing this issue in the meantime.

Regards

[2018-02-21 10:24] #7237 closed

[2018-02-21 10:29] sle-odoo commented on #7548
Hello,
Thanks for the feedback. Changing this behaviour not possible in stable, and it is also not trivial (not state draft...). We plan to log next activities starting from saas11.2, as it is the new default when dealing with exceptions.

Regards

[2018-02-21 10:29] #7548 closed

[2018-02-21 10:33] sle-odoo commented on #8498
Hi,
If you propagate the procurement group by editing the procurement rule buy, you should get this behaviour (always a new one).

Regards

[2018-02-21 10:33] #8498 closed

[2018-02-21 10:34] caiuka commented on #5903
@ddfs Oh great, now I understand! Thank you!
And in change_lang controller method you only get rid of the default language? (the if  lang == 'default' statement)

[2018-02-21 10:35] lap-odoo commented on #22188
@sle-odoo Master Bug 817414 created. There will be soon a PR to review.

[2018-02-21 10:35] sle-odoo commented on #8528
Hi,
I'm closing this ticket since it is not reproducible in standard code.

Regards

[2018-02-21 10:35] #8528 closed

[2018-02-21 10:38] sle-odoo commented on #8645
Hi,
The issue you're mentioning is not reproducible anymore. Canceling the PO will correctly cancel the receipt while "reset to draft" with a new quantity will correctly create a new receipt.

Regards

[2018-02-21 10:38] #8645 closed

[2018-02-21 10:39] ddfs commented on #5903
@caiuka  if lang == default, there is no point to keep it in url so pop it out and redirect/continue, thats odoo behavior. for cookie lang, same thing you can do and only rely on lang defined in url.

[2018-02-21 10:44] sle-odoo commented on #8989
Hi,
This is the expected behaviour except point 3 which i was not able to reproduce (duplicating a confirmed SO creates a new one draft). Note that in version 11, the reservation is updated when you change the serial number. You're still able to select the same serial in multiple deliveries, we don't want to block a user that maybe doesn't have an accurate inventory at this time. The line will be

[2018-02-21 10:44] #8989 closed

[2018-02-21 10:47] pimodoo commented on #23073
Hello,

We cannot improve the compute function for this field. If you want to have the session form faster and keep the access to the pickings that are not done, you can remove the field 'picking_count' from the button 'action_stock_picking' and remove the 'attrs' attribute from the same button. It won't compute the number of picking anymore.

Best regards

[2018-02-21 10:47] #23073 closed

[2018-02-21 10:49] lap-odoo commented on #22815
@sle-odoo Master bug 817420 created. A PR will be soon available for review.

[2018-02-21 10:52] sle-odoo commented on #9181
Hi,
This issue is still valid in v11 :) We'll have a look. Thanks for the report and your patience.

MB 817421
Regards

[2018-02-21 10:56] sle-odoo commented on #9397
Hi,
This issue is not reproducible anymore. Also, maybe it is related to the postgres version? Are you still facing this issue when validating a vendor bill?

Regards

[2018-02-21 10:56] #9397 closed

[2018-02-21 11:00] pimodoo commented on #22061
Hello, thanks for your feedback, we'll fix it as soon as possible

[2018-02-21 11:02] novobi1 opened #23227 "Odoo 10 multiple workers - Repeat log"
Impacted versions: 10.0

Steps to reproduce:
Set
workers = 2 #( >0  , to enable multiple workers )

Current behavior:
- Repeated logs
- Port 8072 is not listening

Expected behavior:

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/14120607/36476738-4e9b2e24-1731-11e8-8285-419e882fd4b6.png)

![image](https://user-images.githubusercontent.com/14120607/36476705-3

[2018-02-21 11:05] lap-odoo commented on #9443
Hello,

This is now solved in version 11 : https://drive.google.com/a/odoo.com/file/d/1XJjcbF25euxkjdQG3bNYp1vP3yMr6nLH/view?usp=drivesdk.

[2018-02-21 11:05] #9443 closed

[2018-02-21 11:07] sle-odoo commented on #10233
Hi,
The original issue is fixed, even in v9. I created kit1 containing comp1 and comp2, sold it to cust1, once forcing the delivery order the quantity delivered is set to 1.

Thank you for the report,
Regards

[2018-02-21 11:07] #10233 closed

[2018-02-21 11:58] ahmedsliman opened #23230 "I got blank page with odoo logo only / odoo 10"
Impacted versions:
10.0

Current behavior:
I got blank page with Odoo logo only on the admin dashboard

Expected behavior:
To display the admin menu and screens details

Video/Screenshot link (optional):
http://prntscr.com/ihrsqv

[2018-02-21 12:27] #22922 closed

[2018-02-21 12:35] #22149 closed

[2018-02-21 12:40] sle-odoo commented on #10760
Hi,
In the barcode application, you can scan the name of the picking to open it. By default, it'll generate an code128. If you generate the name of the picking in another barcode type, like upc, you'll be able to open it. I would advise to generate a new reference and extend the code to open the picking.

Regards

[2018-02-21 12:40] #10760 closed

[2018-02-21 12:41] sle-odoo commented on #11038
Hi,
Indeed these labels were a little misleading. This was changed in v11 to "manual" and "automated".

Regards

[2018-02-21 12:41] #11038 closed

[2018-02-21 12:42] sle-odoo commented on #12406
Hello,
This is solved in v11. A menu item for the variants is available in inventory as well as in sales.

Regards

[2018-02-21 12:42] #12406 closed

[2018-02-21 12:43] pimodoo commented on #20761
Hello, as the POS can work offline, nothing we cannot do anything to prevent opening twice the same session on two different computer, and that's why there are rescue sessions.

Best regards

[2018-02-21 12:43] #20761 closed

[2018-02-21 12:46] sle-odoo commented on #11291
Hi,
I understand that it is misleading but sadly it is the expected behavior. These automated creations of manufacturing order should be done as administrator, as they could be generated by a salesman for example, when a sale order is confirmed and the procurement_jit module is enabled.

We have an opened feedback about it, it could be fixed in the upcoming versions.

Regards

[2018-02-21 12:46] #11291 closed

[2018-02-21 12:49] amoyaux commented on #23127
Hi,
We'll have a look. Thanks for the report and your patience.

MB 817439
Regards

[2018-02-21 12:50] sle-odoo commented on #19119
Hi,
Sorry but i was not able to reproduce the issue.
If you're still facing it and are able to reproduce it on our runbot, feel free to comment and i'll reopen the issue.

Regards

[2018-02-21 12:50] #19119 closed

[2018-02-21 12:52] sle-odoo commented on #19026
Hi,
Sorry but it's not fixable in v9 and v10, and we should actually correctly fix the issue by having a view_id or view_ids on ir.actions.report.xml.

We noted the feedback.

Regards

[2018-02-21 12:52] #19026 closed

[2018-02-21 13:01] sle-odoo commented on #19693
Hi,
We confirmed the issue, we'll work on a patch.
MB 816798

Thank you

[2018-02-21 13:02] #18805 closed

[2018-02-21 13:05] sle-odoo commented on #18216
Hi,
Consumables do have quants from version 8 to 10. If you never buy them, it's normal they go into negative. This is not the case anymore.

Regards

[2018-02-21 13:05] #18216 closed

[2018-02-21 13:09] sle-odoo commented on #16577
Hi,
I'm not sure i understand well the issue. If you have some chained move and in one of the picking you add some extra suff, you have to configure some push rules to propagate them downstream.

Regards

[2018-02-21 13:09] #16577 closed

[2018-02-21 13:12] lap-odoo commented on #22693
@anhdv1979 : Did you fill in the quantity of consumed components in the produce wizard as in this video ? https://drive.google.com/file/d/1-hoDx0GHcUhVxjhEZ2M2zxw6v1ubLzqt/view. There it seems to work fine. Also, it's indeed desired to only show the "post inventory" button in debug mode.

Please let me know if I missed something in your explanation.

I'm closing the issue.

[2018-02-21 13:12] #22693 closed

[2018-02-21 13:14] pimodoo commented on #22314
Hello,

I've just tried to reproduce your issue, and the global discount is well removed from the total. Could you confirm me that the problem is fixed on your side.

Best regards

[2018-02-21 13:14] #22314 closed

[2018-02-21 13:16] sle-odoo commented on #21179
Hello,
This issue should have been fixed by https://github.com/odoo/odoo/pull/21445.

If you're still facing the issue, feel free to comment.

Regards

[2018-02-21 13:16] #21179 closed

[2018-02-21 13:16] sle-odoo commented on #19218
Hello,
Saas-17 is not supported, i'm thus closing thus bug report.

Thank you

[2018-02-21 13:16] #19218 closed

[2018-02-21 13:24] sle-odoo commented on #22335
We'll have a look. We have an ongoing task on the barcode at the moment. As this isn't reproducible in a standard Odoo environment, i'm closing this issue but i will link it in our internal task. cc @amoyaux

[2018-02-21 13:24] #22335 closed

[2018-02-21 13:25] jco-odoo commented on #9877
I will close this issue because the initial problem is not one: if you break the chain in logistics, it is logical not to propagate the dates.  That is why we have MTO.  Of course the idea of the right order in executing the orderpoints is still a good one, but not planned any time soon and nothing to do with the initial problem.

[2018-02-21 13:25] #9877 closed

[2018-02-21 13:25] lap-odoo commented on #21551
@asoral Thanks for reporting this. However, that was well the expected behavior for the version 9.0 and 10.0. Note that there have some changes done in the inventory valuation for V11. Now, your use case works fine. There is also a test verifying this : https://github.com/odoo/odoo/commit/3c0337673385876922da95296e70a0b7b728f275#diff-992a918f29175f122ff7fdd224ed4c64R202.

[2018-02-21 13:25] #21551 closed

[2018-02-21 13:29] #21620 closed

[2018-02-21 13:35] lap-odoo commented on #21400
@vcloud9ray If I remember well, you've received an answer on the ticket. So I'm closing the issue. Thanks

[2018-02-21 13:35] #21400 closed

[2018-02-21 13:48] qdp-odoo commented on #23212
indeed, it has to be handled case by case.

I updated the title for more convenience. It will be fixed by the end of the month.

Thanks for the report

[2018-02-21 13:52] lap-odoo commented on #18900
@benwillig @fmdl As said, this has been fixed in version 11 but unfortunately this cannot be changed in the previous versions.

This fix requires to move a field from a model to another and this cannot be done on stable versions.

Thanks for reporting this.

[2018-02-21 13:52] #18900 closed

[2018-02-21 13:59] jco-odoo commented on #21051
@amoyaux made an alternative branch https://github.com/odoo-dev/odoo/tree/11.0-fix-bom_recursion-arm

We could go very far in this, so need to see what we can do.

[2018-02-21 14:01] lap-odoo commented on #14988
@tj612 : The field you are referring to is an old field that is not used anymore, it should not be displayed and will be fixed in the next versions of Odoo. Thanks for reporting this.

[2018-02-21 14:01] #14988 closed

[2018-02-21 14:01] sle-odoo commented on #22041
Hi,
We have an internal task with the id 47938
Once we'll have worked on it and have something to show, i'll make a comment on this issue to inform you guys.

Regards

[2018-02-21 14:01] #22041 closed

[2018-02-21 14:02] miosoftnew opened #23236 "Attachments XSS."
Impacted versions: 11.0

Steps to reproduce:
1. Install "crm" and "document" modules.
2. Try to upload any file with name ```"><svg onload=alert(1)>``` as attachment for any opportunity.

Current behavior: alert appears.
Expected behavior: escaped html code in attachment title.

[2018-02-21 14:04] sswapnesh commented on #23212
@qdp-odoo  PR #23191 is related to this I think.

[2018-02-21 14:06] jco-odoo commented on #22102
I do not think there is a better solution here.

[2018-02-21 14:06] #22102 closed

[2018-02-21 14:12] lap-odoo commented on #14331
@ccandito Thank you for reporting this. The feature has not been built to be compatible with the use of variants. However, I agree that it would make sense. I've added this in our backlog. Thanks

[2018-02-21 14:12] #14331 closed

[2018-02-21 14:15] amoyaux commented on #19089
It happens because the system only use the same field in order to compute related data. We won't make a check on type each time we have to use the ratio on the UOM.

If you want to export the correct ratio, you have two choice:
- Make a script on your excel in order to update the ratio on bigger uom than reference with ratio = 1/ratio
- Create two export file: Filter on odoo on bigger than referen

[2018-02-21 14:15] #19089 closed

[2018-02-21 14:16] mart-e commented on #23236
Thank you to contact the security team if you believe have found a security issue.
Please read our [responsible disclosure page](https://www.odoo.com/page/responsible-disclosure).

[2018-02-21 14:16] #23236 closed

[2018-02-21 14:20] sle-odoo commented on #22772
@blaggacao can you confirm nothing is to do here if you follow what should be done when doing an intercompany move?

[2018-02-21 14:22] lap-odoo commented on #20630
Thanks for the feedback, as explained in the conversation, there is already an ongoing task to improve the batch picking report and we will try to included some of your ideas in the next versions. I'm closing this issue as I've already added this thread in our logistics backlog.

[2018-02-21 14:22] #20630 closed

[2018-02-21 14:23] qdp-odoo commented on #23040
definitively solution a): the accounts created by odoo when you create a new bank/cash journal are the only ones that should be of type 'bank and cash'.

[2018-02-21 14:23] amoyaux commented on #18817
Seems to be fixed in 10.0 and 11.0

[2018-02-21 14:23] #18817 closed

[2018-02-21 14:29] nhomar commented on #22352
@sle-odoo did you fixed in some place the division by 0?

[2018-02-21 14:31] sle-odoo commented on #22352
Nope. I'm not able to reproduce it at my end and you did not give me some steps to reproduce. Did you face the issue again?

[2018-02-21 14:32] sle-odoo commented on #22352
Sorry for the closing but we're trying to clean our opened issues.

[2018-02-21 14:39] sle-odoo commented on #15970
Hi,
Actually, automated push rules should not be used in picking since v9. I don't know why these options were still available. We'll have a look to clean them in master.

Thank you

Regards

[2018-02-21 14:39] #15970 closed

[2018-02-21 14:45] sle-odoo commented on #11801
Hi,

This should have been fixed by https://github.com/odoo/odoo/pull/21445

Regards

[2018-02-21 14:45] #11801 closed

[2018-02-21 14:47] lap-odoo commented on #17282
@abdallamohamed1992 I've just re-tested it on version 10 and it's working fine. See video : https://drive.google.com/file/d/171cW-jmAld_b2z1PgXez2QznDVl1Hpku/view. I think the problem was linked to the configuration of your product. There was probably no route delivery linked to your product.

[2018-02-21 14:47] #17282 closed

[2018-02-21 14:50] sle-odoo commented on #18714
Hi,
Sadly we won't make such a change in stable versions. We have a task to try to process procurement by batch (which is complicated since there aren't procurements anymore :) as well as the push rules.

Thank you for the suggestion,
Regards

[2018-02-21 14:50] #18714 closed

[2018-02-21 14:51] amoyaux commented on #19695
Seems to be fixed in 10.0 and 11.0

[2018-02-21 14:51] #19695 closed

[2018-02-21 14:52] #18767 closed

[2018-02-21 14:54] rdeodoo commented on #22812
Hello,

Thank you for reporting this issue.

I was able to reproduce it on the chatter (your initial message).
It is due to the fact that the code handling the chatter on the portal is not taking the user timezone into account. I will merge a fix ASAP.

But I was not able to reproduce the issue from the order date (your last message).
Could you please confirm me that your are able to reproduce it

[2018-02-21 14:57] nhomar commented on #22352
ok, but even if not reproducible (I have a test saas environment that I will share), this is a division by 0, this traceback should not appear. you should control such 0 elements to avoid the traceback in my opinion.

[2018-02-21 14:58] blaggacao commented on #22772
@sle-odoo No, unfortunately I can't.
Everyone but the admin user, doesn't have access to do so because of the chaining put in place by the route. In the case he is logged in into one company of both participating in this transaction and not in a super-company which grants access to both realms.

[2018-02-21 15:07] jco-odoo commented on #22775
I don't think either that this is to be solved by changing the security rule and using the origin moves would be a good solution (and then it should be in the other sense too?).  In v10, we can not keep them intact as the cost is different from one company to the other.  Therefore, we used to refer to the inter_company module creating purchase/sale in the other company.

[2018-02-21 15:07] #22775 closed

[2018-02-21 15:11] sle-odoo commented on #22352
A move done should always have an initial demand. This is one of the assumption we made. This could be enforced by a python constraint i agree.

Anyway if you ever stumble over it again feel free to contact me directly with some steps to reproduce or the database. I'll be happy to fix it.

Regards

[2018-02-21 15:16] sle-odoo commented on #22772
can you briefly describe the company hierarchy and the kind of route you're using? to ease my testing :)

[2018-02-21 15:25] blaggacao commented on #22772
Holding
-- Sub City 1 (Operator Alice)
-- Sub City 2 (Operator Bob)
-- Sub City 3 (Operator Charlie)

-- Sub City 1 (Operator Alice)
will request transfer of 3 Ducks from
-- Sub City 3 (Operator Charlie)

Alice states:
I need 3 ducks, and will use "Sub City 1: Intercompany transfer from Sub City 3" Route (warehouses previously configured for resupply)

[2018-02-21 15:28] Gio666 opened #23239 "Error inheriting an abstract model"
Impacted versions: 10.0

Steps to reproduce: inherit an abstract model

Good day, I am developing a reference guide module for Ecuador, but when I try to inherit an abstract model (for example edocument) I get the following error: "TypeError: Model 'StockPicking' inherits from non-existing model 'stock.edocument'."

this is my code:

class StockPicking

`class StockPicking(models.Model):

    _inh