[2016-07-05 08:32] #12494 closed

[2016-07-05 08:33] aek opened #12681 "Error opening the inbox client action"
Impacted versions:
v8, v9, online(enterprise free test)

Steps to reproduce:
In v8, v9 find the menuitem for messaging inbox in the technical settings menu and open the action
In Odoo online open the discuss app, activate the developer mode, on the Developer tools footer clic on the action link and next clic on the edit action

Current behavior:
#Error v8, v9
[code]

[2016-07-05 09:49] JonathanNEMRY commented on #12494
Thank you all

[2016-07-05 10:17] joolsr commented on #12666
I used this
http://www.schenkels.nl/2014/12/reverse-proxy-with-odoo-8-nginx-ubuntu-14-04-lts/

There are also now versions for Odoo v 9 but in terms of nginx etc its not
changed much.

Julian

On 4 July 2016 at 19:41, Hubert <notifications@github.com> wrote:

[2016-07-05 10:23] Yajo commented on #10799
Code, please?

[2016-07-05 10:30] atchuthan commented on #10799
check this PR: https://github.com/OCA/product-attribute/pull/161/files#diff-929649352e7099a56d65e6abe7160697R20

[2016-07-05 10:48] dreispt commented on #12640
@intero-chz It's a little worse than that, because those "user-less" filters will show up in model's Serach view area (at the top of the Kanban or List view).
If you make heavy use of Automated Actions, the Search filters can become a nightmare for end users 😢

[2016-07-05 10:49] #12640 closed

[2016-07-05 11:02] intero-chz commented on #12640
Why did you close the issue (just for info)?

These filters are created as inactive, so they shouldn't become a nightmare for end users.

[2016-07-05 11:17] sdalexander opened #12687 "[8.0] Missing journal entries when Dropship is used with real time automated Inventory method"
Impacted versions:
8.0

Steps to reproduce:
Set up Product as stockable
set inventory valuation to real time automated
set all account stock properties on the Product category.
Enter a sales order using the above product and choose route of Dropship and set invoice policy to 'on demand.
Confirm sales order , create sales invoice ,confirm purchase order , receive goods then generate supplier invoic

[2016-07-05 12:47] dreispt commented on #12640
AFAICS your issue was solved.

[2016-07-05 14:25] jorenvo commented on #12650
Fixed in 8.0 at 75dbd545c85182feeaf138f0155a82aa203fcf7c.

[2016-07-05 14:25] #12650 closed

[2016-07-05 14:31] beledouxdenis commented on #11854
Dear,

The issue comes the external library `moment.js` that we use.

This is a bug in the current release we use in Odoo 9.0, the release 2.8.1, which is solved in the release 2.13.0.

Here is a simple test on `fiddle.js` with the release 2.13.0 of `moment.js`.
https://jsfiddle.net/ezx2p9he/6/
![working](https://cloud.githubusercontent.com/assets/5822488/16588015/901aee3c-42cd-11e6-8d2e-ba50e704d

[2016-07-05 14:59] Yajo commented on #10799
Not sure, this is quite undocumented and ignored by Odoo. However, if you get it to work, we will be able to assume that this got fixed. It is supposed that old api will disappear soon (v10 or v11 as too late), so this will not be a problem in upcoming years I hope.

[2016-07-05 15:06] beledouxdenis commented on #11854
I just found the revision that solve this issue in `moment.js`
moment/moment@41fdb58572546740c3a840ebd36fbe9e1bcdc9cb

Given the length of the patch, we won't be able to patch it locally in Odoo, unfortunately.

The actual issue is simply the `.` at the end of the month abbreviated name (`des.`). The parsing expects `des` without the dot. The Norwegian is not the language having the issue: It also

[2016-07-05 15:25] Yenthe666 commented on #10799
@Yajo the poll published on Twitter had a major vote for removing the old API and I thought one of the devs said it will be removed in V10 for sure.
There is no reason to keep it for another version either.

[2016-07-05 15:37] tsartas opened #12692 "Error installing Project Management on Odoo - 8.0.1.1"
Impacted versions:  Project Management 8.0.1.1

Steps to reproduce: Press the Installation of Module

Current behavior: Cannot Install the Module

Expected behavior:Module Installation

Video/Screenshot link (optional):

[code]

[2016-07-05 15:37] tsartas commented on #12692
Any ideas of how to install the Module?

[2016-07-05 15:55] scigghia opened #12693 "PyParsing < 2 required for Odoo but PyParsing > 2.1.4 required for pydot"
Impacted versions: odoo > 8.0

https://github.com/odoo/odoo/blob/8.0/setup.py#L148
why pyparsing < 2 is still required ?
when i install pydot it uses pyparsing > 2.1.4

[2016-07-05 16:05] #11854 closed

[2016-07-05 16:21] moylop260 commented on #12408
FYI OCA have the following CI checks: https://github.com/oca/pylint-odoo
Feel free of implement it in your CI process in order to avoid a `ugly` code auto-detected

[2016-07-05 16:25] jco-odoo commented on #12380
I doubt this has to do with moves from and to the same location.  I did a same scenario with a picking just to be sure and it did not give any problem.

[2016-07-05 16:28] suniagajose opened #12694 "[9.0] point_of_sale: Missing simplejson and unittest2 in posbox image"
Impacted versions: [9.0]

Steps to reproduce:

- Dowload posbox tools from: https://github.com/odoo/odoo/tree/8.0/addons/point_of_sale/tools/posbox
- Open posbox directory in terminal
- Run script: sudo ./posbox_create_image.sh
- When finish script, write the image posbox.img to the SD card
- Connect a Ethernet cable to the Raspberry­.
- Ensure the printer is powered on, and connected to the Raspb

[2016-07-05 16:56] nim-odoo commented on #12589
Hello,

I tried with fresh data (new customer, new account), and I don't face the issue you mention. See https://youtu.be/cCouWGRRKvA

Is there something I am missing?

[2016-07-05 18:01] sbidoul commented on #12561
@qdp-odoo thanks a lot!

Now I'll need a prepare method for the tax lines themselves. Would you accept a 9.0 PR for that? It's necessary to add analytic dimensions on move lines.

[2016-07-05 20:49] yogurtnaturalny commented on #12666
Hello

Thank you, all of you. I thing we cross a line where I change all setup from odoo to nginx and I feel I lost a battle. There is something broken in odoo and maybe is because I don't use English as a main language or maybe because #Brexit but till now this is still a thing and "should work"  is not good where money are involved. I thing I will design a website with Django or CakePhp and in a

[2016-07-06 06:47] jorenvo commented on #12694
Hi José,

Thank you for your detailed report but the scripts we publish and maintain are used to build our official POSBox image which currently runs Odoo 8 (see [1] for more information). Generating a POSBox image running Odoo v9 is not something we currently support.

[1] https://www.odoo.com/documentation/user/9.0/point_of_sale/overview/setup.html#posbox-technical-documentation

/cc @mart-e

Ki

[2016-07-06 06:47] #12694 closed

[2016-07-06 07:09] mart-e commented on #12666
Some users had issues with the sitemap in http but it was due to the configuration of CloudFlare (which they used to be able to have their own SSL certificate). Not sure if it is the case but worth checking if you are using it.
We have also noticed to get issues with `proxy_set_header X-Forwarded-Proto $scheme` behind a load balancer (but again I don't think it's the case for you).

We will work o

[2016-07-06 08:34] chrisdec commented on #12589
Hello,

Yes you are missing something. You use a new customer account "New New" on your invoice and refund but when you choose "keep open" on the bank statement, the journal item for the payment is on the general account "400000 client".  See your video at 3:25

No risk that the automatic reconciliation reconciles the invoice and the payment as they are not on the same customer account.

If you wa

[2016-07-06 08:46] qdp-odoo commented on #12561
I don't know what you're talking about ^^ you can make a PR to let me see what exactly you have in mind, and then I'll tell if it can be in v9 or not :stuck_out_tongue:

But it's best to continue the discussion on that PR rather than on this closed issue.

[2016-07-06 09:55] nim-odoo commented on #12589
Thanks for the explanation, I could reproduce the issue.

Regarding your use case, existing partial reconciliations are simply not taken into account when running the automatic reconciliation. The logic applied is to find the simplest matching combination of account move lines. In the case you describe, matching an invoice with a payment of the same amount is obviously simpler than matching an inv

[2016-07-06 09:55] #12589 closed

[2016-07-06 10:04] Yenthe666 commented on #12693
@mart-e what do you think about this one?

[2016-07-06 10:22] Yajo commented on #10799
https://www.odoo.com/groups/community-59/community-18270712

Anyway, we are talking about v9 right now.

[2016-07-06 10:40] Yenthe666 commented on #10799
Thanks for pointing that out, I didn't know that.. Sorry for going off topic, let us go back to the issue itself. :gem:

[2016-07-06 11:24] mart-e commented on #12693
@sle-odoo can we backport 6ceb0a2b1b922e2a1289baecc1c46d661f9a6a70 to 8.0?

[2016-07-06 11:42] gustavovalverde commented on #11259
Confirmed in our Odoo 9 Community Edition.

[2016-07-06 11:51] Yenthe666 commented on #11259
@mart-e and @nim-odoo that is the third person talking about this issue. Looks like it it time to do something about this. :smile:

[2016-07-06 12:09] tortabevonas commented on #7766
I ended up creating a small Flask proxy server that encapsulates JSON requests as JSON-RPC ones and forwards them to the Odoo server:
[code]

[2016-07-06 12:17] dk12dk commented on #4904
may i know how to get karma? someone help me ! i am new to odoo community

[2016-07-06 12:58] liquidleds opened #12702 "Uncaught TypeError: Cannot read property 'string' of undefined"
Impacted versions: Version 9.0e (Enterprise Edition)

Steps to reproduce:
Go to sales dashboard
Click on  Invoiced button in Performance it gives me trace back

Video/Screenshot link (optional):
https://drive.google.com/file/d/0B32trVtlgr0rcFZHTFVNbkU1Ykk/view?usp=sharing

[2016-07-06 13:03] treviser commented on #4904
Reading helps: read the forum guidelines https://www.odoo.com/forum/help-1/faq

[2016-07-06 13:16] carrasquel2016 commented on #12649
Thanks

[2016-07-06 13:48] Yenthe666 commented on #12702
Hi @liquidleds,

I've just tested this on a runbot and the view opens without any issues. You're talking about this button right:
![image](https://cloud.githubusercontent.com/assets/6352350/16620015/107d9c14-4391-11e6-95f7-cd6cdaea114f.png)
Can you please test this on the latest 9.0 runbot?

[2016-07-06 13:58] Yenthe666 commented on #12681
Hi @aek,

Thanks a lot for your report, I just managed to reproduce this on the latest runbot:
![image](https://cloud.githubusercontent.com/assets/6352350/16620351/6c2e3b9e-4392-11e6-8d95-6eb84a1b4baf.png)
@mart-e can you assign somebody on this please?

[2016-07-06 14:03] Yenthe666 commented on #12654
@mart-e since you're from documentation. Perhaps we could rewrite that one?

[2016-07-06 14:24] treviser opened #12703 "Website Builder SEO Promote Keywords: unable to delete keyword, when it is too long"
Impacted versions:
9.0 CE 2016-06-29

Steps to reproduce:
Create a keyword which has more characters than allowed

Current behavior:
Keyword is cut to appropriate length, but the x-handle to delete it disappears.

Expected behavior:
x-handle to delete is still shown and remains visible.

Video/Screenshot link (optional):

![selection_220](https://cloud.githubusercontent.com/assets/1814941/16621280

[2016-07-06 14:36] mart-e commented on #12681
Fixed at 0df7a1ca2f86b63911a5822ccccf4ab00bcd341c
Thanks for the report

[2016-07-06 14:36] #12681 closed

[2016-07-06 14:38] Yenthe666 commented on #12703
Hah, that is an hilarious one.
@JKE-be can you make this a bit more user friendly?

[2016-07-06 14:48] bealdav commented on #1198
how is the status for v10 ?

[2016-07-06 17:32] chrisdec commented on #12589
Hello Nicolas,

I’m sorry to insist but I don’t understand why you don’t consider it as a bug. You say exactly “we agree that this might not be an expected behavior”. A bug is not only an error message; it can also be a bad behavior.

The customer who reports this problem is an accountant. You can easily imagine that it’s not possible for him to work with such functionalities. Whatever he decided

[2016-07-07 05:53] Yenthe666 commented on #12687
@qdp-odoo looks like one for you!

[2016-07-07 06:13] krmagnaye opened #12708 "No report file attached after created a new report in Open ERP Report Designer"
Impacted versions:
Version 7

Steps to reproduce:

[code]

![2](https://cloud.githubusercontent.com/assets/19465728/16643967/cb1ca6c2-444b-11e6-8871-5995a81242a6.JPG)

Current behavior:

Open Erp (Odoo)
No report file attached after created a new report in Open ERP Report Designer

Reports>>test_report_m3

![1](https://cloud.githubusercontent.com/assets/19465728/16643944/a570c82c-444b-11e6-86c8-db

[2016-07-07 06:21] Yenthe666 commented on #12577
Hi @vuducnamcs,

I can't reproduce this on any runbot. Which browser and which version of the browser are you using?

[2016-07-07 06:37] treviser commented on #12703
It is still possible to delete the keyword by clicking on the place where one supposes the x-handle to be, but only as long as the SEO promote window is not saved. After the window is saved, it is not possible to delete the keyword anymore.

[2016-07-07 07:23] aek commented on #12681
nice work, congrats for the quick response for both!!!

[2016-07-07 07:26] aek commented on #12681
Just a quote that I managed to see it on v8 and v9 and assume that in master with the @Yenthe666 test. I saw the PR against the v8 only. Is this something the just get merged latter?

[2016-07-07 07:41] mart-e commented on #12681
@aek don't worry every commit is ported to upper versions. So a commit made in 8.0 will ends up in 9.0 and master, just need a bit of time to be forward ported.

[2016-07-07 08:06] mart-e commented on #12654
The description of this module is indeed wrong. The decimal precision is at the field level so there is technically no way to make it company dependant, even if we added a company field (it is computed when loading the server, not when a user access it).

The field Monetary kind of give you this, as the precision will be now per currency. Unfortunately there is no way to have this on classical flo

[2016-07-07 08:06] #12654 closed

[2016-07-07 10:25] nim-odoo commented on #12589
Hello,

The decision of closing the issue has been taken after a discussion with @qdp-odoo .

As I said, this **might** not be an expected behavior when you use the automatic reconciliation feature. However, this is the behavior that Odoo has been applying since 2010 (date of the [initial commit](https://github.com/odoo/odoo/commit/de7730c739ee70c22a712ed799ca94f2fe609f10)). This was introduced af

[2016-07-07 11:53] sle-odoo commented on #12693
yes we can

[2016-07-07 11:54] venisse-a opened #12715 "Infinite creation of recurrent events when number of repetitions equals 0"
Impacted versions: 8.0

Steps to reproduce: create a recurrent event with repeat every day and number of repetitions 0 (same with a space in the field)

Current behavior: Infinite creation of events that causes an endless loading page

Expected behavior: Send an error message the same as when you enter a char in the same field

Video/Screenshot link (optional):

[2016-07-07 14:00] JKE-be commented on #12703
Thanks for the reporting.
It has been fixed ...

[2016-07-07 14:00] #12703 closed

[2016-07-07 15:10] spadae22 opened #12725 "Landed Cost Division by zero - Exception v8 & v9"
Impacted versions:
8.0, 9.0

Steps to reproduce:
Incoming shipment has zero quantity on one or more products when transfer, but appears in landed cost distribution. The issue we see is the same product with with muitiple quants not totaled in the distribution, so some line have zero qty.

Current behavior:
Crash:
File "/opt/odoo/openerp/http.py", line 543, in handle_exception
return super(JsonRequ

[2016-07-07 22:32] JKE-be commented on #11840
Fixed in https://github.com/odoo/enterprise/commit/a7a61dcc9d07a65bd0bc41d5c555977e051b3cd3

[2016-07-07 22:32] JKE-be commented on #11870
Fixed in https://github.com/odoo/enterprise/commit/a7a61dcc9d07a65bd0bc41d5c555977e051b3cd3

[2016-07-08 08:50] Openies commented on #8322
Having the same Issue, odoo 9c  is taking default port 8069,
It is working if i provide port via ./odoo.py --xmlrpc-port=8018 but not in case of i provide it in the config file. even it is not taking db user. I have checked permission it seems fine!

Here is my config file.
[code]

[2016-07-08 09:14] vgo-dev opened #12731 "Improper Error Message"
Current behavior:
Open foram in website without login and open any Question/Answer and do action like up-voting,Down-voting etc.. at that time given error message like you require xxx karma but if user not login then why gives information about karma,

Expected behavior:
As expected behavior is gives simple error please login to do this action

Video/Screenshot link (optional):
![foram-issue](http

[2016-07-08 10:01] odony commented on #8322
@Openies assuming you really copy/pasted your config file, you'll probably have better results after correcting the typo in the options headers "[opti**no**s]" -> "[options]"

[2016-07-08 10:49] twinklebob commented on #3850
Why was this closed? I see no resolution to the issue involving multiple workers and wkhtmltopdf?

I've got `wkhtmltopdf 0.12.2.1 (with patched qt)` and 2 workers and I'm getting the same error:

[code]

Can anyone tell me what I can do, short of going back to 1 worker and crippling the longpolling?

[2016-07-08 11:16] Yenthe666 commented on #3850
@twinklebob don't use 0.12.2.1, use version 0.12.1 instead.

[2016-07-08 12:06] twinklebob commented on #3850
Thanks @Yenthe666, I'll give that a try. Can't see a deb for jessie at http://download.gna.org/wkhtmltopdf/0.12/0.12.1/, do you know which would be the best alternative?

[2016-07-08 12:19] sle-odoo commented on #3850
There' s ours on [nightly](http://nightly.odoo.com/extra/)

[2016-07-08 14:10] twinklebob commented on #3850
I'm still getting the same behaviour with 2 workers and version 0.12.1.2

[2016-07-08 14:26] sle-odoo commented on #3850
@twinklebob there should not be any issue regarding wkhtmltopdf and the worker mode. If you could detail your setup and you configuration i could try to reproduce it at my end.

[2016-07-08 14:37] twinklebob commented on #3850
Thanks @sle-odoo. I'm using the [turnkey linux image ](https://www.turnkeylinux.org/odoo) on an AWS T2.micro (1GB RAM, 1vCPU and 10G rootfs).

If I set workers to anything above 0 the PDF generation fails with that message.

[code]

Let me know if you need any more detail from me.

[2016-07-08 14:42] twinklebob commented on #3850
Is it actually as simple as the machine running out of memory in that moment?

[2016-07-08 14:43] sle-odoo commented on #3850
you better have a look with htop of odoo in threaded mode, in worker mode and in worker mode when printing a report to have an overview of the memory and cpu used

[2016-07-09 00:52] rafaelbn commented on #7896
@pedrobaeza @Yajo @antespi be aware of this issue an this fix: https://github.com/acsone/mozaik/commit/09dbc54a2c2d87b21c2316118bb17d535a056600

[2016-07-09 00:55] rafaelbn commented on #10534
After all our work @pedrobaeza please take care of this issue

[2016-07-09 02:05] MatthiasVets commented on #12667
Hi all,

I quickfixed it with this piece of code in wsgi_server.py
If anyone has a better solution I'm all ears!

[code]

[2016-07-09 02:05] #12667 closed

[2016-07-09 17:05] feseme commented on #3156
hi @fvdsn...
at this point is there  an a effective solution?
Can u please explain how to serve the pos on http?
thanx

[2016-07-10 01:15] blaggacao commented on #12380
I still have this on my todo-list, will need further digging...

[2016-07-10 12:51] jorenvo commented on #3156
@feseme At this point there is no perfect solution to the problem. We opt for not serving the POS over HTTPS on our SaaS platform. This can be done through eg. nginx (and I presume any web server) by ensuring requests to /pos/web are rewritten to use HTTP.

On PC you can get around the mixed content policy in various ways, allowing you to keep serving the POS over HTTPS. Both Firefox and Chrome al

[2016-07-10 22:27] dmheller commented on #11259
Also Confirmed in our Odoo 9 Community Edition.

[2016-07-10 22:56] blaggacao commented on #12380
I'm investigating further and I verified that a move within a location seems not to be harmful. I'm not that intimate with the module, so it's quite hard for me to debug and understand what's going on (any hint are welcome). I'm now trying to relate the error to a move from a parent to a child location (which happen to be qty 79 as well) , maybe I can get any further there.

[2016-07-10 23:22] blaggacao commented on #12380
@jco-odoo
I think I've found a hit, please give feedback:

**Situation:**

- I have `stock.location` A with children AA and AB
- I do a `stock.operation` in the form of A >> A of a product which is not directly available at the A level, but has existence in AA and AB
- Odoo does not complain in the `stock.operation` of non existing stock yet automatically picks from AA in the `stock.picking`
- Now

[2016-07-10 23:57] blaggacao commented on #12380
Gotcha:

Based on the previous finding, I did the following:

1. I accumulated all of A and AA in A via `stock.picking`
2. I shifted the accumulated amount X to AA
3. I shifted the accumulated amount X from AA to AB. Remember, that on AB there is already an amount Y, summing now to X + Y.
4. I try to make a `stock.picking` A >> A (as in the previous analysis) by the value Z = X + a, where a < Y

*

[2016-07-11 00:12] blaggacao commented on #12380
On A DB-Level,
we have the following suspicious quants (those with relevant write_date):
[code]

I only can find a pattern in `in_date` and `reservation_id`, both of which do not speak to me as of now.

[2016-07-11 07:35] NL66278 commented on #7707
For 8.0 solved by extra module: https://github.com/Comunitea/external_modules/tree/8.0/web_decimal_numpad_dot

[2016-07-11 10:21] twohex commented on #11583
Also having this issue. It can be solved manually by loging to database. After that backup works because additional cookie gets sent to backup script.
If you have some automation here you need to login, save the cookie and make a new request with the cookie provided.

[2016-07-11 11:31] ramonski commented on #11130
Same issue appears between the commits 7c177d91432bc2499b81ff361434021ca079b9c7 and d38d0be995b1eed4d1b03ea6d3c64c331fc94142

I am not creating a new issue, since it is exactly the behavior described.

@JKE-be: Your help is much appreciated

Thanks

## Translation working in this commit

[code]

## Translation NOT working in this commit

[code]

[2016-07-11 12:01] ramonski commented on #11130
## Update

It works if I change the Users language to German – but this is wrong, as it should use the language of the customer instead `doc.partner_id.lang`, which is in my case `de_DE`.

This worked perfectly in commit 56cec604e6313c49582bbd9801686328696b2675 with my current user language set to English. After updating to the latest commit in the `saas-9` branch (d38d0be995b1eed4d1b03ea6d3c64c33

[2016-07-11 12:53] asantos82 commented on #3156
@jorenvo I have found a solution to implement posbox with https.

- I have set up posbox to listen on port 8869 by changing the parameter xmlrpc-port from 8069 to 8869 on the file  `/home/odoo/odoo/openerp/tools/config.py`

- I have set-up an apache server to listen to https on port 8069 and forward to port 8869 in https

- I have created ssl Certs for the apache

- In odoo in Point of Sale > Conf

[2016-07-11 13:06] jorenvo commented on #3156
@asantos82 how did you create the certificates? They're self-signed I
presume? Because in that case the user would still have to take some manual
actions to make this work.

On Mon, Jul 11, 2016 at 2:53 PM, asantos82 <notifications@github.com> wrote:

[2016-07-11 13:10] pedrobaeza commented on #10534
You have to mark also the "Is company" check. This way, they are not considered together, but there's no way to filter out contacts or companies in the selection dialog, which is a desirable feature.

[2016-07-11 13:15] asantos82 commented on #3156
@jorenvo I have made self signed certificates, and Certificates Signed by an external authority.
In the selfsigned, yes, you have to accept the once, and then you can import the to your browser and accepting that CA.
With certificates from external authority I can issue has many certificates has I can for my domain, so where there was no problem.

[2016-07-11 13:16] aristobulo-eezee opened #12753 "[9.0] Mixing oranges with potatoes, debug vs. group access evaluation on BaseModel"
Please check this piece of code:
https://github.com/odoo/odoo/blame/9.0/openerp/models.py#L1374

What's the idea of doing a check if debug mode is active at `BaseModel` level?

This should be done at `ir_ui_view`, which is the model handling this kind of operation, to be more precise at:
https://github.com/odoo/odoo/blob/9.0/openerp/addons/base/ir/ir_ui_view.py#L700

[2016-07-11 13:36] NL66278 opened #12754 "Need to drop view before recreation"
Impacted versions: certainly 8.0

Steps to reproduce: Update module hr_timesheet_sheet

Current behavior: Error (see below). Server crash.

Expected behavior: no error

Video/Screenshot link (optional):
[code]

[2016-07-11 16:00] fadedglory commented on #12390
@jappie11 I think your links are dead. Is that correct ?

[2016-07-12 01:04] richard-willowit commented on #12600
@nim-odoo They can now both be installed.

[2016-07-12 08:18] Hadron4biz opened #12760 "Shop doesn't show the basic price when the global discount is applied"
Impacted versions:  9.0

Steps to reproduce: Set website pricelist as Public pricelist,  global discount to 10 %, set product price to 1,00 EUR. Go to shop and find product. Next set set product price to 1,01 EUR or higher and again check product  in the shop.
Current behavior:
When basic price is lower than 1,01 EUR, there is no basic price on product card.  It seems to me that this situation exi

[2016-07-12 10:39] aristobulo-eezee commented on #12753
@odony when you have some time, please check this out

[2016-07-12 10:51] odony commented on #12753
As of 9.0 every user is a member of `base.group_no_one` but this group only becomes effective in developer/debug mode. This is where we kind of "mix" both concepts, for a functional reason.
So the idea behind this code is to make `user_has_group()` behave consistently with this logic everywhere, not just for views. In particular the "technical features" group affects the menus as well.
For more in

[2016-07-12 10:51] #12753 closed

[2016-07-12 11:03] BzMB commented on #12626
Hi,
I'm a colleague of BzJB.

Do we have any news on that issue?
Anyone with the same issue?

Thanks.

[2016-07-12 11:08] aristobulo-eezee commented on #12753
@odony Ok, but you did it on `ir.ui.menu` for the menu items instead of `BaseModel`. The root problem is that in fact, your hide many visual elements for `group_no_one` unless users activate developer mode, but these hidden elements (menus, fields, tabs, etc.) were displayed without activating it on v8 and prior.

If you look for `group_no_one` on xml files, you will find almost 300 hundred elemen

[2016-07-12 11:19] aristobulo-eezee commented on #12753
And don't forget the fact of having a group_**no_one** but actually is **everyone**. Because you just mentioned "consistency" as an argument 😕

[2016-07-12 12:01] mart-e commented on #11130
Hello,

Are you running saas-9 on a local instance? I would really not advise to do so as these versions are not supported (you will no longer get commits in saas-9 now, everything is done in saas-10 or 11 and will change again in 2 months).
Can you reproduce it on a saas-10 instance ? I just tested on the runbot and I got my report correctly translated in German.

[2016-07-12 12:11] ramonski commented on #11130
Hi @mart-e

Thanks for your quick response.
Yes, I am running saas-9 on a local instance.
I did not test it yet in saas-10, but will do so.

I managed to "hack" a workaround for this issue on my side. I followed the "Custom Reports" instructions on https://www.odoo.com/documentation/9.0/reference/reports.html and added this class to my module:

[code]

I don't have that much experience with the sy

[2016-07-12 12:26] wtaferner commented on #12753
@aristobulo-eezee
Have you already seen this contribution to OCA?
https://github.com/OCA/server-tools/tree/9.0/base_technical_features

It basically helps to get what it was like in v8 w/o the need for entering debug mode for v9 users who have activated the "technical features"

[2016-07-12 12:30] aristobulo-eezee commented on #12753
@wtaferner thank you, we basically did the same, although our solution has less lines of code. Maybe I did miss some details.

[2016-07-12 12:35] odony commented on #12753
Yes, it's a functional/business decision, for usability reasons. You and your customers may or may not like it, just like every single change that happens between major versions of Odoo ;-)
We can discuss the rationale if you're interested, but this is not going away in a stable version. (The main point is that you generally don't want to permanently switch to "technical features" mode, and many p

[2016-07-12 12:40] mart-e commented on #11130
Again I don't think you should use saas-9 (or saas-10 or 11). The problem is that we do not push new commits in this branch (so even if we find out a bug here, it won't be fixed as it's already working in the latest saas). Also you won't get upgrades to upper version.
Stick to stable versions for on premise deployments, you can see saas as "snapshots" to give a preview of new dev but should not us

[2016-07-12 12:47] aristobulo-eezee commented on #12753
Thank you for taking the time to clarifying @odony, although is extremely disappointing how common is the answer we will not touch this "stable" version it's like you all became bots. Well, like many other issues I know this is not going anywhere, but I prefer to leave these little discussions on the record.

Thank you and farewell, remember customers of odoo partners buy support contracts for odo

[2016-07-12 12:58] edsersolis commented on #11583
The above didn't work for me, however login to the DB and than trying to backup did the trick. Thanks!

[2016-07-12 13:08] deepakpatkumar commented on #12760
Function Indentation solve this problem so give space for final call

[2016-07-12 13:15] mart-e commented on #11259
Hello,

Indeed, we stopped having the "pay now" button in the emails, it was not very flexible. The idea is to use the `website_quote` module to pay on the website.
So sorry but we do not intend to reintroduce this.

[2016-07-12 13:15] #11259 closed

[2016-07-12 13:20] ramonski commented on #11130
Thanks Martin!
Indeed, I misunderstood the `saas-9`/`saas-X` branch layout a little bit. I thought of it as a more stable version of the `9.0` branch.
I try to migrate my instance to `9.0`, but saw already that it won't be an easy task.
Bests, Ramon

[2016-07-12 13:23] odony commented on #12753
It's much simpler than that: in stable [we only fix bugs](https://github.com/odoo/odoo/wiki/Contributing#what-does-stable-mean). It's something that all customers rely on, and the people who complain about our policy are often the same ones that complain about "regressions" whenever a change is done to fix another customer issue.
By being very careful with every stable patch we make sure the benef

[2016-07-12 13:28] mart-e commented on #11130
No, this is a way for us to offer a more smooth transitions to our customers on odoo.com between versions (one small release each few months instead of a big upgrade each year) but supporting these properly would require a lot of work and will prevent us to make frequent release.

Hopefully there isn't too much differences between 9.0 and saas-9 so an upgrade of `base` will maybe enough...

[2016-07-12 13:34] aristobulo-eezee commented on #12753
Well, if you believe that checking the content of a web request to bypass group access rules on a low-level ORM object it's a good piece of code..

![cheers](https://cloud.githubusercontent.com/assets/8862626/16768756/de688a68-4845-11e6-97d4-86cbae0d7eb5.gif)

I'm glad you have it all figured out.

[2016-07-12 13:58] mart-e commented on #11130
And by the way, just found the reason. e1deae7eab8be77d7bcb46a68560b86ffbb2277a introduced the bug and was reverted at 7f2e748a2245838d09d7f3f17f5e1a1b202f6076. The problem is that the first commit is in saas-9 and saas-10 was released before the revert.

[2016-07-12 14:17] ramonski commented on #11130
Hi Martin

Thank you very much for the "upgrade hint".

I just tested it on my local machine and migrated to `9.0` by just upgrading `base` and it worked!

I understand now the git branch layout much better, so thanks for taking your time to explain it to me as well.

Cool that you found the issue that caused this bug – besides all the noise I created with this issue, I hope it will help to improv

[2016-07-12 20:18] tchigy commented on #12658
is the problem fixed?!!

[2016-07-12 22:42] moylop260 commented on #12179
Just curiosity, Why odoo have the fields `separator format` and `decimal separator` instead of simplifying the UI and doing things right by default based on `locale`?

By example:
![screen shot 2016-07-12 at 5 36 25 pm](https://cloud.githubusercontent.com/assets/6644187/16786006/33c3a4f0-4857-11e6-9fd4-df6ebfffe361.png)

More columns/settings was added:
[separator format and decimal separator](htt

[2016-07-13 05:00] tchigy commented on #12658
i fixed the problem thanks any way

[2016-07-13 06:41] mart-e commented on #12179
Actually we are [using locale](https://github.com/odoo/odoo/blob/ee365bbf98fb1edbc9860c6302bbd8e0d376ef72/openerp/addons/base/res/res_lang.py#L88) to get the separator format and decimal separator.

However, we store it on the `res.lang` object to [load it](https://github.com/odoo/odoo/blob/ee365bbf98fb1edbc9860c6302bbd8e0d376ef72/addons/web/controllers/main.py#L574) in the web client but mostly t

[2016-07-13 06:57] vinay-vperfect commented on #3922
This error still exist, Are you plan to fix this issue on 8.0 branch ? If any body fixed on 8.0 branch , it would be nice to share related diff.

[2016-07-13 07:46] Hadron4biz commented on #12760
Thanks for reply, but still I do not know where is the problem.
I should look for the cause in which file?

[2016-07-13 09:43] #12693 closed

[2016-07-13 10:14] ly-william commented on #5443
Is it really solved in 8.0 ? I checked out the 8.0 branch and tried to create a PO with a different money. I can see the correct currency in the PO page but when I print it, it always comes out as euro. Tried on 9.0 branch and the issue is fixed there.

[2016-07-13 10:14] mart-e commented on #11481
Hello,

I know it may sounds surprising but there is a reason for this behaviour.
The point of the regional languages is to specify variants of a "main" language. So, for the exemple of fr_BE, Odoo will mostly be translated in French (`fr`) but the few differences between the French from France and Belgium will be stored in `fr_BE` translations.

When loading the terms of a module, the ORM will go

[2016-07-13 10:14] #11481 closed

[2016-07-13 13:49] aristobulo-eezee opened #12777 "[9.0] stock_account: wizard stock valuation history divison by zero"
We are currently working on a migration from v6.1 to v9.0e, we have found that this exact commit https://github.com/odoo/odoo/commit/d951a7d5eecadfa15758a103e2ba1971468b24c1 broke the 'Inventory > Reports > Inventory at date' wizard, and now we get **Division by Zero** error:

[code]

opw-ticket: 683502

[2016-07-13 13:58] aristobulo-eezee commented on #12777
@nim-odoo please could you take a look on this issue.

[2016-07-13 15:01] moylop260 commented on #12179
@mart-e
Thanks for reply.
Then, Should we consider the same custom fields and logic for WoY by the same reason?

[2016-07-13 17:25] odony commented on #12179
@moylop260 There are multiple reasons, some historical, and some technical:
 - The use of Babel in the framework is relatively **recent**. Before we used to do all the formatting of floats and dates ourselves, and it was bad. In particular the built-in Python tools only support a single global Locale, so formatting dates in a Locale-aware manner was not thread-safe and thus not possible. Babel doe

[2016-07-13 18:16] Hk005 opened #12780 "Calendar Event Not show If you change language as Persian [9.0]"
Impacted versions:9.0
Steps to reproduce:create event in calendar as English language selected. Than select persian language from preference and goto calendar. you can not see any event there.

Current behavior:Can not see events in Persian language

Expected behavior: Should see events in persian language

Video/Screenshot link (optional):

[2016-07-14 03:52] jeffery9 opened #12781 "[saas-12] check resupply warehouse raise " 'set' object does not support indexing ""
Impacted versions:
saas-12

Steps to reproduce:

check option `Manage several Warehouses, each one composed by several stock locations`

create new warehouse

and option `resupply warehouse`  check `your company` , and then save, it should raise error.

Current behavior:

report error '

[code]

Expected behavior:

no error raised.

Video/Screenshot link (optional):

[2016-07-14 09:01] ferdiga opened #12788 "Excel worksheet name .... must be <= 31 chars."
Impacted versions:
Version 9.saas~10e (Enterprise Edition)

Steps to reproduce:
Excel export
"Umsätze nach Konten und Perioden"

Current behavior:
crash - see below

Expected behavior:
shorten the file name

Video/Screenshot link (optional):
[code]

[2016-07-14 09:47] mart-e commented on #12754
This bug will only happend when you update the module after a change of view structure but I agree on the fix.
Merged at 17a130428516d9dd8105f90e8c9a65a0b4e8901b, thanks

[2016-07-14 09:47] #12754 closed

[2016-07-14 10:37] scigghia commented on #12693
thank you :)

[2016-07-14 14:02] dreispt commented on #11583
My guess is that the Odoo server is being started without the `-d` (or `--database`) option.
If so the instance startup is delayed until a login is made to a database.
If the database if specified as an option, the instance startup sequence is immediately performed on thea database.

[2016-07-14 14:02] dreispt commented on #11583
Not a bug, workarounds were provided: closing.

[2016-07-14 14:02] #11583 closed

[2016-07-14 14:24] #12644 closed

[2016-07-14 14:56] jeffery9 opened #12798 "[saas-12] generate invoice in subscription raise error 'account.tax' object has no attribute 'filter'"
Impacted versions:

[saas-12]

Steps to reproduce:

create a subscription.

create a new sale order, and assign to the created subscription.

click `generate invoice `

Current behavior:

it raise Attribution Error, said.  'account.tax' object has no attribute 'filter'

Expected behavior:

generate the invoice.

Video/Screenshot link (optional):

![image](https://cloud.githubusercontent.com/assets

[2016-07-14 15:30] moylop260 commented on #12179
Thanks for reply :-) :-)

[2016-07-14 16:02] edsersolis opened #12800 "[v9c] Enable inter company not working"
Impacted versions: v9c

Steps to reproduce: Check the Manage Inter Company checkbox under Settings -> General Settings, click Apply

Current behavior: Does nothing. Shows a gray screen and nothing else. Both in and out of developer mode.

Expected behavior: Install inter company features.

Video/Screenshot link (optional):

This is what is shown in the log when trying to enable. After this it does

[2016-07-15 04:01] netice opened #12801 "expression.py hard coded record ids in sql lead to low performance"
Impacted versions:
8.0 and so on

Steps to reproduce:
create a many2many field in product.product such as:
`'company_ids':fields.many2many('res.company','res_company_product_rel','partner_id','company_ids',string=u'multi company''),`
and add a ir.rule for product.product with  domain such as
`['|',('company_id','=',False),('company_ids','in',[c.id for c in user.company_ids])]`
and import 10 thousa

[2016-07-15 05:50] gdgellatly commented on #12801
@odony I find this one interesting.  I do wonder whether it is worth a special case on these company type access rules to have that query resolve to product_product__product_tmpl_id.company_id IN (ids).  I thought that's what auto_join would do but maybe it hasn't.  Would a chained domain rule like (product_tmpl_id.company_id, in, user_company_ids) resolve?

[2016-07-15 05:58] Yenthe666 commented on #12800
Hi @edsersolis,

Thanks a lot for your report. I've just tested this on the latest 9.0 community and I can confirm that this is a bug. Example:
![image](https://cloud.githubusercontent.com/assets/6352350/16864987/c80c15e6-4a61-11e6-9175-4d9200e2f24d.png)
@mart-e can you look at this please? The module isn't even there.

Regards,
Yenthe

[2016-07-15 07:00] treviser opened #12803 "Forum Spam Attacks: Do not allow new users to post new questions as long as (a) question(s) are awaiting validation by a moderator."
Impacted versions:
9.0CE, Odoo.com
Steps to reproduce:
I can't reproduce it as I'm not a spammer :-) but check user name "arman" who tried to spam www.odoo.com/forum a couple of minutes before.
Current behavior:
Obviously a new user is allowed to post as many questions as he likes and all posts are then waiting for validation. This makes fighting a spam attack very cumbersome
Expected behavior:
A

[2016-07-15 07:09] Yenthe666 commented on #12803
Hi @treviser,

I like the idea. It might be a bit annoying for a new person who wants to ask two questions at once but this doesn't happen a lot and I'm sure we have a lot more spammers that keep trying.
@mart-e can we label this wishlist? :smile:

[2016-07-15 07:20] treviser commented on #12803
In Odoo's forum itself the reaction time for moderation is quite fast. Also this behaviour can be observed in other forums too.
However the moderation of spam attacks is not really moderator-friendly.
1. The moderator has to close the question.
2. He has to downvote the closed question in order to stop the spammer from posting new questions.
3. He has to delete the question.
I remember times when

[2016-07-15 08:22] Yenthe666 commented on #12803
@treviser I remember a time where I had to manage queue lists with over 120 posts waiting.. god that was a pain in the ...
I've labelled wishlist for now, I'm sure somebody from Odoo will give an official response on this.

[2016-07-15 08:34] dummyltpl opened #12805 "wkhtmltopdf header overlapping with page content"
Hi,

We are facing issues while generating invoice report in odoo 9.0. Header content overlapping with page content.

[2016-07-15 10:14] JonathanNEMRY opened #12807 "[8.0] Translations are not reflected from mail.group.name to its generated ir.ui.menu"
Impacted versions:
8.0

Steps to reproduce:
* Install social media module (mail)
* Install french translations
* Set french langugage just installed as current language
* GO into "Messagerie" top menu

Current behavior:
the generated menu are not translated

![selection_042](https://cloud.githubusercontent.com/assets/7601731/16871136/754e4e0e-4a85-11e6-8a6d-34076de80c42.png)

Expected behavior:

M

[2016-07-15 10:19] JonathanNEMRY commented on #12807
OPW 683409

[2016-07-15 11:02] sle-odoo commented on #12805
Hi,
Wkhtmltopdf cannot compute the height of your header to adapt the paper format. You have to do it manually by enabling the debug mode and tweaking the paper format in the company form.

Regards

[2016-07-15 11:02] #12805 closed

[2016-07-15 11:30] fshahy commented on #12780
@Hk005 I think it is related to MomentJS library, trying to display Persian numbers. I fixed it by replacing them with Latin numbers.

[2016-07-15 12:32] dreispt commented on #12801
I was about to open an Issue to report/discuss a similar issue:
In a database with many thousands of Project Tasks, and their many Followers, I have users that wait for a few minutes to load the Tasks Kanban.

This is caused by record rules with `('message_follower_ids', 'in', [user.partner_id.id])`, generating in the raw SQL a condition `id in (x, y, x, ...)` that can use thousands of ids. I'm su

[2016-07-15 12:59] netice commented on #12801
i have fixed it  myself

[2016-07-15 14:14] Cedric-Pigeon commented on #12801
Hello,

I had the same problem with company_ids field on product. It was really difficult to use some features.
For example using the transfert wizard on a picking with more than 200 rows took more than 8 minutes !
I fixed it by myself to force Odoo using a join in the apply rule query.
Other many2many like that causes some performance issue on my customer platform.

A sustainable solution like us

[2016-07-15 14:23] beledouxdenis commented on #12807
Dear Jonathan,

This issue has already been reported in the past.

Unfortunately, it cannot be solved in Odoo 8.0, for technical reasons and given the fact this is a stable branch.

However, this issue no longer happens in Odoo 9.0.

In addition, we do not consider this issue as critical: It doesn't prevent a user to perform his daily tasks.

I hope you will understand.

[2016-07-15 14:23] #12807 closed

[2016-07-15 15:16] Yajo commented on #8530
@auvipy Odoo already will break backwards compatibility (in a scheduled plan, so it's OK) in v10 when they drop old api. It would be a good moment to take the leap if possible, but anyway I don't see benefits on supporting both.

[2016-07-15 15:26] AlkhatibHamad commented on #8676
I faced this problem before and it have been solved ,

open terminal and execute this command

sudo apt-get install node-less

I hope it works for you too

[2016-07-15 15:32] Yenthe666 commented on #8530
@Yajo I'm almost 100% sure that the leap will not be made for V10. Odoo has a lot of tasks to complete before V10 and they already have to set priorities on most wishlist items, so I wouldn't hope on it :wink:

[2016-07-15 16:04] #12800 closed

[2016-07-15 19:26] cezarsantanna commented on #9254
+1

[2016-07-15 22:10] jaredkipe commented on #11420
No I'm speaking of python calcuations.  Amount Type = Python Code

[2016-07-16 09:15] atrueba opened #12815 "[10.0/master] access denied to web_tour.tour - user can't login"
Impacted versions:

10.0/master - .deb package 20160715

Steps to reproduce:

- Create a new database
- Create a new user with default access rights and set its password
- Logout as admin
- Login as the new user

Current behavior:

Server responds with an "Internal server error" and the user can't login. As the session is created and stored neither refreshing the page or closing the browser redire

[2016-07-16 13:14] Hk005 commented on #12780
@fshahy thanks for suggesting way to fixed it but actually I have not much idea about MomentJS lib so can you guide me how can i do it OR any other reference/example?

Regards.

[2016-07-17 03:25] aek opened #12817 "Bug when reloading the page on the Odoo Inbox Online"
Impacted versions: Online

Steps to reproduce: login into odoo online, not any specific database. Just go to your inbox by clicking on the @ button like in the image
![inbox1](https://cloud.githubusercontent.com/assets/404966/16898566/f954e4c0-4b92-11e6-86a3-6a0bef9edc3e.png)

The url should be something like this one
https://www.odoo.com/web#menu_id=5200
Just reload the page

Current behavior: Yo

[2016-07-17 15:22] treviser opened #12819 "Reseller Partner Level: Make Field Partner Level Translatable"
Impacted versions: 9.0 CE

Steps to reproduce:
Define a partner-level under Sales/Configuration/Contacts/Localization
Current behavior:
The field Partner-Level is not translatable
Expected behavior:
The field must be translatable by default.
Video/Screenshot link (optional):

[2016-07-18 03:22] george-mengelberg opened #12820 "hstore field type and write_audit field"
Impacted versions: future

Steps to reproduce: NA

Current behavior: Odoo does not maintain revisions of a record.

Expected behavior:  NA

Video/Screenshot link (optional):

Request Odoo incorporate a *hstore* field type and include a *write_audit* attribute (based on *hstore*) if *_log_access=True* so that the full lifecycle of a record can be reviewed and/or audited.

[2016-07-18 06:34] SeanHardyOdoo opened #12821 "Cant Backup or install newmodules"
Impacted versions: 9 enterprise

Steps to reproduce: Try to Backup Database

Current behavior: Database backup error: Postgres subprocess ('/usr/bin/pg_dump', '--no-owner', '--file=/tmp/tmpYxuUEV/dump.sql', u'2016_production') error 1

Expected behavior: Want to be able to use

Video/Screenshot link (optional):
Database backup error: Postgres subprocess ('/usr/bin/pg_dump', '--no-owner', '--file=/

[2016-07-18 07:04] SeanHardyOdoo opened #12822 "Module Install/Uninstall Issue"
Impacted versions: 9.0

Steps to reproduce:
try to install or uninstall a module
Current behavior:
Seee below
Expected behavior:
To be able to install modules
Video/Screenshot link (optional):

[code]

[2016-07-18 07:31] Yenthe666 commented on #12648
@mart-e looks like a real issue. Can you look at this?

[2016-07-18 08:13] dreispt commented on #12822
Try upgrading the `base` module.

[2016-07-18 08:15] dreispt commented on #12821
Probably there's something wrong with your install.
Try running that `pg_dump` command on a terminal to see the actual error message.

[2016-07-18 12:55] joolsr commented on #12817
If you're using odoo's online offering it would be better to a raise a bug directly with them via their support channels.

[2016-07-18 13:36] andreparames commented on #8530
@Yajo long term support for both versions seems redundant, but in the short term, ensuring that all new code is compatible with both would allow a smoother transition later. The new API is a good example: there was a transition period when both were supported.

[2016-07-18 14:00] Nick-OpusVL opened #12827 "[sale_stock] Quantities in "Picking Information" warning not showing enough decimal places"
We have a customer whose base unit for selling stuff is in thousands. However stock can be as low as 0.001 thousands, but that last decimal place isn't displayed in the Picking Information warning.

Impacted versions:

* 8.0

## Steps to reproduce:

* New database
* Edit admin user: Enable Technical Features
* Install 'stock' and 'sale'
* UK accounting chart with defaults (though probably doesn't

[2016-07-18 14:40] TheCloneMaster commented on #12648
This is because of time zone differences.  In our case we overwrite the
currency table and set the field to date, avoiding time differences, but if
you need several rates per day that is not feasible,and you will need to
adjust for time zone differences...

[2016-07-18 15:58] aek commented on #12817
Hi @joolsr
I'm not using odoo online for anything, I'm just reporting a bug that could be happening everywhere.

[2016-07-18 17:46] dkrimmer84 commented on #10855
Ping! Any solution on that? @nim-odoo

[2016-07-18 18:43] jaredkipe opened #12832 "[9.0] Payslip Does not correctly calculate or use "Date Account""
Impacted versions:
9.0c/e

Steps to reproduce:
Install hr_payroll_account.
Create a Payslip with a period earlier in the year.
Confirm Payslip

Current behavior:
"Account Date" (on accounting tab an on journal entries) is today

Expected behavior:
"Account Date" should be a date in the period (presumably the last day) as the help for this field describes.  "Keep empty to use the period of the vali

[2016-07-19 08:42] dreispt opened #12837 "Rating module names don't conform to conventions"
Impacted versions:
master

Steps to reproduce:
n/a

Current behavior:
We have the new modules "rating_project" and "rating_project_issue".

Expected behavior:
Project related modules are expected to begin with `project_`.
To conform to conventions whey should be renamed to `project_rating` and `project_rating_issue`.
I can make a PR if R&D agrees on the change.

Video/Screenshot link (optional):

[2016-07-19 10:03] jl2035 commented on #10184
I was still a huge noob at that time. In situations like this you have to run odoo with output (disable log file), to see the errors and fix them. I was really frustrated back then :)

[2016-07-19 10:15] BT-astauder commented on #2807
Link is no longer valid/public. Can this be closed?

[2016-07-19 10:34] jl2035 commented on #11740
Still nothing goin' on here..?

[2016-07-19 10:58] mart-e commented on #12648
Hello,

This was already fixed in 9.0 at 55fa0912 and I have backported it to 8.0 at 2c19e9be9691ff02e80ddca8cda05ba87fd16550
Thanks

[2016-07-19 10:58] #12648 closed

[2016-07-19 11:41] Nick-OpusVL commented on #12621
I've assurance from our enterprise support this is intended behaviour in Odoo, so closing.

[2016-07-19 11:41] #12621 closed

[2016-07-19 14:39] antonylesuisse commented on #12837
Rating is a generic framework to rate any object and is not tied to project. You could have rating_mrp rating_lunch etc... It follow the same naming convetion as website_* or portal_*.

[2016-07-19 14:39] #12837 closed

[2016-07-19 14:42] mart-e commented on #12822
My guess is that you have created a database without demo data and are using the command line to install the module without the `--without-demo` option.
Is that correct?

[2016-07-19 14:43] mart-e commented on #12821
This is an issue in the configuration of your postgresql server, not on the side of odoo.
As said Daniel, check the command manually but you should probably give more rights to your postgres user.

[2016-07-19 14:43] #12821 closed

[2016-07-19 14:49] mart-e commented on #12820
Hello,

Thanks for your suggestion. We used to have such feature with the auditrail module but we have removed it as it was not our focus (and it wasn't working very well).
Maybe we will reintroduce in the future but nothing is planned at the moment.

[2016-07-19 14:49] #12820 closed

[2016-07-19 14:57] mart-e commented on #12815
Hello,

Thank you for the report but the master branch is *not* the 10.0, it is still a development and highly unstable version. Things get broken and are not working properly but don't worry, a lot will still happen before releasing v10.
We are aware of this particular bug and are working on it.
Regards

[2016-07-19 14:57] #12815 closed

[2016-07-19 15:24] mart-e commented on #12798
I belive this is already fixed as this code is no longer present (now using `filtered` instead of `filter`).

By the way, I don' t advise to use saas-12 except for test purpose as we don't support these versions (used only a limited time).

[2016-07-19 15:24] #12798 closed

[2016-07-19 15:28] mart-e commented on #12817
Hello,

As said joolsr, our odoo.com server is quite particular. We are not using the stable 9.0 version but a latest saas version and some customization as well. Since last week, we upgrade to saas-11 version so it may be a recent bug. It seems fixed as I don't have it now.

If you can reproduce in main 9.0 version, I will reopen this issue but otherwise, I advise you to contact the support at ht

[2016-07-19 15:28] #12817 closed

[2016-07-19 19:36] LeartS opened #12850 "Odoo 9 requires connect permissions to 'postgres' database"
**Impacted versions:**
9.0

**Steps to reproduce:**
In the postgresql pg_hba.conf file, don't allow the postgres user used by odoo to connect to the `postgres` database by removing the default lines and using a line like this in `pg_hba.conf`:

[code]

**Current behavior:**
`psycopg2.OperationalError: FATAL:  no pg_hba.conf entry for host "<host>", user "<user>", database "postgres", SSL on`

This

[2016-07-20 06:29] SeanHardyOdoo commented on #12822
Not using the command line to install the module

Installed it normally

From: Martin Trigaux [mailto:notifications@github.com]
Sent: Tuesday, July 19, 2016 10:43 AM
To: odoo/odoo <odoo@noreply.github.com>
Cc: SeanHardyOdoo <sean@neohioaccounting.com>; Author <author@noreply.github.com>
Subject: Re: [odoo/odoo] Module Install/Uninstall Issue (#12822)

My guess is that you have created a database w

[2016-07-20 06:31] SeanHardyOdoo commented on #12821
I used Docker and Digital Ocean to Host these

Is there anyone who will do this for a fee?  I will pay for the support

From: Martin Trigaux [mailto:notifications@github.com]
Sent: Tuesday, July 19, 2016 10:44 AM
To: odoo/odoo <odoo@noreply.github.com>
Cc: SeanHardyOdoo <sean@neohioaccounting.com>; Author <author@noreply.github.com>
Subject: Re: [odoo/odoo] Cant Backup or install newmodules (#1282

[2016-07-20 06:35] SeanHardyOdoo commented on #12822
I upgraded the base module, that helped a little

[2016-07-20 07:25] netice opened #12853 "Relate field for One2many raise read error when applied ir.rule"
Impacted versions:
v8 v9

Steps to reproduce:
1.Create a relate field for One2many field .
2.Apply ir.rule to the Oner2many field object to have some record only see by some user.
3.Access the relate field with some record do not has read right.
4.Access the origin One2many field no error raise but hide the record not has right.

Current behavior:
raise an read access error

Expected behavior:
not

[2016-07-20 07:42] dreispt commented on #12821
Certainly there is.
You can ask for help on the community mailing list.
Please people remember answer you privately.

[2016-07-20 07:45] dreispt commented on #12837
Oh, I see now that we do have a `rating` module.
Thanks for explaining.

[2016-07-20 08:15] ddfs commented on #8426
@fuggii  yes, you are right.

[2016-07-20 08:48] SeanHardyOdoo commented on #12821
How do I ask this?

From: Daniel Reis [mailto:notifications@github.com]
Sent: Wednesday, July 20, 2016 3:43 AM
To: odoo/odoo <odoo@noreply.github.com>
Cc: SeanHardyOdoo <sean@neohioaccounting.com>; Author <author@noreply.github.com>
Subject: Re: [odoo/odoo] Cant Backup or install newmodules (#12821)

Is there anyone who will do this for a fee? I will pay for the support

Certainly there is.
You ca

[2016-07-20 10:29] boolit-eivydas opened #12856 "[8.0] Wrong `onchange_project` signature in project.task prevents new api use"
Impacted versions:
8.0

Steps to reproduce:
Extend the method with `@api.multi`, call the parent method with `super()`.
Go to a new task form view, change the project. The parent method is not called.

Current behavior:
Extending the method with `@api.multi`, the `super()` method does not find the parent implementation when called from a new task view. The already existing tasks do trigger the beh

[2016-07-20 12:35] gustavovalverde commented on #11468
I'm having this error in a new installation were I had some workers configured in the beggining, then removed:

2016-07-20 12:32:07,209 5594 INFO <database> werkzeug: <IP> - - [20/Jul/2016 12:32:07] "POST /longpolling/poll HTTP/1.1" 200 -
2016-07-20 12:32:21,201 5594 ERROR <database> openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/odoo/odoo-server/

[2016-07-20 12:45] lukastorres commented on #2572
I encountered a similar issue.
Can you help me to fix this issue?
Thanks.

[2016-07-20 13:09] dreispt commented on #5987
Ping!

[2016-07-20 13:11] dreispt commented on #12821
You can join the Mailing list at: https://www.odoo.com/page/odoo-community
Or find an Odoo Partner near you: https://www.odoo.com/partners

[2016-07-20 14:16] mart-e commented on #12819
Done in master at 33fe066cbb9ba71c410f6df22739577649ecadba
Thanks for the suggestion

[2016-07-20 14:16] #12819 closed

[2016-07-20 14:24] mart-e commented on #12856
Do you mean something like:

[code]

It seems to work fine on my side

[2016-07-20 14:40] mart-e commented on #12731
Well it's not really wrong either. You do need 5 karma to post the message.
Pull request welcome for master but not a bug.

[2016-07-20 14:43] mart-e commented on #12822
Closing as you seem to have found a solution but if there is really a bug, please give exact details as it is more complex than "install any module".
We need to be able to reproduce it on a standard Odoo instance, you can also check [on runbot](http://runbot.odoo.com/runbot) for a standard instance.

[2016-07-20 14:43] #12822 closed

[2016-07-20 14:56] boolit-eivydas commented on #12856
Could you also print the return value of the `super()` here?

[2016-07-20 15:08] jholze commented on #10673
@samica31 did you already finished something ? because we are back on this topic and thinking about the best way to integrate this feature. Maybe something like mail editor and website_sign editor. Would be good to know if you already finished something.

[2016-07-20 15:12] mart-e commented on #12780
@csnauwaert could you take a look please?
`moment(date_start).format('YYYY-MM-DD HH:mm:ss')` gives something like `۲۰۱۶-۰۷-۲۱ ۰۰:۰۰:۰۰` which can not be parsed by fullcalendar.

[2016-07-20 15:27] mart-e commented on #12856
ok I see the issue, the return format was wrong indeed
Fixed that at 8b83119fad7ccae9f091f12b6ac89c2c31e4bac3
Thanks for the report

[2016-07-20 15:27] #12856 closed

[2016-07-20 15:52] aek commented on #12817
So? I think that it's not a valid reason to close an active and reproducible bug. All is related to Odoo and this is where Odoo issues are reported by community. The support or help channel should be used by customers of Odoo. I just take my time to write a detailed issue here just to see how it's closed with a deliberated clic. That's my point of view, but no problem, it's up to you.
Issues shoul

[2016-07-20 16:11] mbcosta opened #12861 "[8.0] - Field Cost in Product Price History missing Decimal Precision"
Impacted versions: 8.0

Hi,
   The field Cost in product.price.history missing Decimal Precision

module Product > file product.py > line 327

Today
        'cost': fields.float('Historized Cost'),
To fix just
        'cost': fields.float('Historized Cost', digits_compute=dp.get_precision('Product Price')),

[2016-07-21 01:35] samica31 commented on #10673
Hi @jholze what i did is to just use the qweb stuff and customize codes and its report output will be in a PDF format. Website_sign editor would be okay.

[2016-07-21 08:55] x-direct-group opened #12867 "Re-introduce version tagging"
Hello,
I am trying to find out how often I need to update Odoo in production. The most recent stable branch 9.0, which I am tracking, is changing on a daily basis. When looking at the commits, I have a hard time figuring out if they are mere enhancements (maybe changing APIs?) or needed (business-/security-critical) bug-fixes.
I am aware that all commits to this branch first have to pass an automa

[2016-07-21 11:35] NovaStarGX opened #12869 "[9] Employee [Address Field] Creates New Contact Record as Customer"
Impacted versions:
Odoo 9.0 , Ubuntu 16.04

Steps to reproduce:
- Employee --> Create
- Fill out standard information, Must include "**Personal Address**"
- Save

Current behavior:
Once Employee record is saved, go to **Contact** tab
You will notice a new contact card created with the "**Employee's Home Address**" information only
No other association is present.
In the Contact Card the following

[2016-07-21 12:40] yvaucher commented on #5987
@phuihock you have an extra ' at end of your example of what is working
[code]

[2016-07-21 12:52] phuihock commented on #5987
@yvaucher Typo. Fixed.

[2016-07-21 16:22] paolovalier opened #12872 "[8.0] website_sale_delivery ecommerce delivery price is shown without tax"
Impacted versions: 8.0, tested on runbot

Steps to reproduce: set the tax for the product "delivery" as included in the price

Current behavior: on the cart and checkout pages of the ecommerce you see the price of delivery without tax

Expected behavior: delivery price should be shown with tax included

[2016-07-21 16:24] paolovalier commented on #8741
you should contact synology for that
my 2cents

[2016-07-21 19:04] Tlah1 opened #12873 "Adding a user but user has no permissions"
Impacted versions:8

Steps to reproduce:

Current behavior:  We added a user, gave permissions, yet when user logs in no permissions and cannot link any other user to tasks or issues

Expected behavior:

Video/Screenshot link (optional):

[2016-07-22 06:27] purnendu03 opened #12875 "Pricelist report rounding issue - V8."
Hello Team,

Impacted versions: v8

Steps to reproduce:
* Set product cost price to 16.50
* Update the **Default Purchase Pricelist** and set value on **Default Purchase Pricelist Line** as below.
      Price Computation should be as below:
      Based on: Cost Price
      New Price = Base Price * ( 1 + 0.25) + 0.00

Current behavior:
* Now try to create a Purchase order for this product and check

[2016-07-22 07:13] Yenthe666 commented on #12875
@nim-odoo another one of those roundings..

[2016-07-22 09:15] mart-e commented on #12817
Github issues are to report bugs on supported versions (7, 8 & 9). Here you have a problem that is linked to Odoo Online, not the standard Odoo. saas-x versions are not supported as used internally. I tired also on a [runbot saas-11](http://runbot.odoo.com/runbot/repo/git-github-com-odoo-enterprise-7?search=saas-11) but didn't get any issue either so it looks like an issue only on odoo.com, this i

[2016-07-22 11:32] mart-e commented on #12873
Hello,

Could you please give in detail the permissions you gave to the user.
Which app are installed, what do you see exactly? Which error?

[2016-07-22 11:47] mart-e commented on #12867
Hello,

Actually the use of tagging introduced some problems. We maintain 3 stable versions in parallel (so currently 7, 8 and 9.0) and keep making important fixes in these and it is important that people always get an up to date version.
When going to the release page, you will fetch the package at the revision of the tag (obviously) which will quickly become outdated. If you download the 8.0.0 r

[2016-07-22 11:47] #12867 closed

[2016-07-22 12:41] dsmerghetto opened #12879 "Wrong error message on view updating."
Impacted versions: 9 enterprise (not tested in 9 community)

Steps to reproduce:
Create a field in .py file and then create an inherited view (in my case on object mrp.bom) and add the new field.
Be careful that the priority of this view has to be grater than inherited view priority.

Current behavior:
Error message given to me is that "myNewFieldName" is not present.
In my database mrp.bom table

[2016-07-22 12:42] mart-e commented on #12803
Looks like a good idea, I will submit it for R&D team

[2016-07-22 12:55] daramousk opened #12880 "Sale pricelist for each individual partner with property_product_pricelist field"
I have a question for this functionality.

Example:

I set a different price-list for customerA using the field property_product_pricelist. When I log in as that partner I can see that the prices of the products have been correctly overridden by the pricelist. But my issue is that the currency set on the pricelist of a specific user does not get applied.

Shouldn't in the case I have defined a pri

[2016-07-22 13:59] Tlah1 commented on #12873
Odoo Warning

Access Denied

The requested operation cannot be completed due to security restrictions. Please contact your system administrator.

(Document type: Partner, Operation: create)

Ok

[2016-07-22 14:00] Tlah1 commented on #12873
the user was given all permissions we have 10 applications installed, project,accounting, hr,

[2016-07-22 14:10] mart-e commented on #12873
Sorry but this is still not enough.
Your error shows that you are trying to create a partner but you are telling me that you have this when the use logs in.
Do you have a traceback server side?
Can you reproduce it on a [runbot](http://runbot.odoo.com/runbot)? I need a way to reproduce it on a new instance with only standard modules.

[2016-07-22 14:54] JKE-be commented on #12879
Hi,
The message is clear, when we are parsing the view, the field 'myNewFieldName' is not present in the current state of the view.

[2016-07-22 14:54] #12879 closed

[2016-07-22 14:55] LeDistordu opened #12883 "Problem with LDAP module"
![chrome_2016-07-22_16-53-40](https://cloud.githubusercontent.com/assets/7805145/17061047/e8922cbc-502c-11e6-939a-ae489e9ec940.jpg)
![chrome_2016-07-22_16-56-16](https://cloud.githubusercontent.com/assets/7805145/17061109/388a931c-502d-11e6-8561-560dffd7c33e.jpg)

Impacted versions:
Version 9.0e-20160613 (Enterprise Edition)

[code]

[2016-07-22 15:15] lem8r opened #12884 "[9.0] JS: unable to call query() - not a function"
Impacted versions: 9.0

Steps to reproduce:
There is example in  [documentation](https://www.odoo.com/documentation/9.0/reference/javascript.html#high-level-api-calling-into-odoo-models) how to make **call()** and **query()** in js:
[code]
I was trying to run this example but got error: **query()** is not a function.
Indeed, query is defined in **web.DataModel** not in **web.Model** but when I do

[2016-07-22 15:22] JKE-be commented on #12626
Nobody can reproduce it except you.
So their are probably missing information in the how to reproduce :(
If you have a new idea to reproduce don't hesitate to ping me, and I will reopen the issue (and fix it if needed).

[2016-07-22 15:22] #12626 closed

[2016-07-22 15:24] JKE-be commented on #12646
Hi @treviser,
Still existing problem ?
I cannot reproduce it...

[2016-07-22 15:46] sdalexander commented on #12687
Hi guys

I wonder if you could have a look at whether you think this is a bug or whether there is a workaround that I am missing?

regards

Steve

[2016-07-22 17:45] wfrisson commented on #5332
when i browse any object created via osv.osv, i can get access to its its column, how can i get column labels (instead of column name)?

[2016-07-23 07:52] treviser commented on #12646
I did check it, it is obviously theme-related, I can reproduce it for the theme KEA for example, but not for the default bootstrap theme.

[2016-07-23 19:34] munawar050 opened #12886 "[9.0] accounting extra report should have include previous balance check box and function"
[9.0] accounting extra report partner ledger should have "include previous balance" check box , just like in when printing general ledger. Please add that feat ure in accounting extra report module

[2016-07-24 01:15] jdmloki opened #12888 "Error while installing requirements.txt"
Tried the easysetup file still running into this issue.
[code]

[2016-07-24 14:51] dansanti opened #12889 "[9.0] Error in template when prefetch empty compute field"
Impacted versions:9.0

Steps to reproduce:
1.- Create  a module
2.- Create a model inherited to account.invoice  with compute field
[code]

3.- create a template:
``
<template id="dte_external_layout_header" inherit_id="report.external_layout_header">
        <xpath expr="//div[@class='header']" position="inside">
               <t t-if="'new_compute_field' on o and o.new_compute_filed"><span t-fi

[2016-07-24 20:01] gwasky opened #12890 "PosBoxless setup - AttributeError: 'NoneType' object has no attribute 'bmAttributes'"
**Impacted versions:**
Odoo 8/ ubuntu 16 -- posboxless setup with hw_proxy,hw_scanner,hw_escpos
Thermal Printer - HU HAI SUNCSW Receipt Printer Co.,Ltd. Gprinter USB Printer

**Steps to reproduce:**
ranning a posboxless setup,
load the w_proxy,hw_scanner,hw_escpos modules
http://localhost:8069/hw_proxy/status page shows
Both devices(scanner and printer) seem to connect, except for the printer, whi

[2016-07-25 06:43] joshuajan opened #12892 "[9.0] bug in recurrent event"
Impacted versions:
9.0
Steps to reproduce:
1. Create a meeting follow this data:
Recurrent: True
Repeat Every: 1 days,
Until: **Number of repetitions** **0**
2. Save.
3. Open meeting`s list or calendar view.

Current behavior:

Error raise and the system create million virtual event record.

Expected behavior:

not create any virtual event record.

Video/Screenshot link (optional):

[2016-07-25 07:56] joshuajan commented on #12892
This bug will block the calendar event.

[2016-07-25 08:00] #12600 closed

[2016-07-25 09:12] Yenthe666 commented on #12883
Hi @LeDistordu,

I've just tested this on the latest Odoo 9.0 (ENT) and had no issues installing this module.
Please try upgrading your Odoo to the latest codebase or try reproducing this bug on the latest V9 ENT.
If you still encounter this issue then you can reply here and I'll re-open the issue.

Regards,
Yenthe

[2016-07-25 09:31] nim-odoo commented on #12875
Closed with https://github.com/odoo/odoo/commit/aa1c3946daa08bc948c0e423554c603aa8cc67a2

[2016-07-25 09:31] #12875 closed

[2016-07-25 09:31] nim-odoo commented on #12875
Thanks for reporting!

[2016-07-25 09:37] antonylesuisse commented on #12888
Probably a permission issue on you side. Does the pip install command works ?

[2016-07-25 09:37] mart-e commented on #12888
Hello,

It looks like a problem on your machine, probably an access rights error as the errors happens when an external library (not odoo) tries to modify a file.
Could you give more details on how you install? Which version? Which Windows?

[2016-07-25 09:40] antonylesuisse commented on #12890
I dont think this printer is supported.

[2016-07-25 09:44] JKE-be commented on #12646
Ok, it is a problem of css in theme.
@qsm-odoo  will take a look to fix it.

Meanwhile, you can always override the style with smthg like:
`note-editor.panel {     text-align: initial; }`

[2016-07-25 10:07] mart-e commented on #12890
You follow the [PosBoxless guide](https://www.odoo.com/documentation/user/9.0/point_of_sale/overview/setup.html#posboxless-guide-advanced), right?
Indeed, it looks like the `PyUSB` library does not succeed to access the device, probably using a different endpoint.
We [support](https://www.odoo.com/page/point-of-sale-hardware#part_6) the popular EPSON printers so sorry but we can't help you. The Ch

[2016-07-25 10:07] #12890 closed

[2016-07-25 10:12] mart-e commented on #12889
Hello,

Please check again your custom code, it's missing comma, uses undefined variable, missing capitalized M for new api, etc.
Before trying to display it in a report, try to display the value in a form.

[2016-07-25 10:16] mart-e commented on #12884
Hello,

You are trying to execute this code on the backend of Odoo right? Not the website?

[2016-07-25 10:21] JKE-be commented on #12892
Hello, cannot reproduce on runbot 9.0
Do you have some custo ?

[2016-07-25 10:24] jdmloki commented on #12888
I switched to Windows 10 from 8.1 and it worked fine.

On Jul 25, 2016 4:38 AM, "Martin Trigaux" <notifications@github.com> wrote:

[2016-07-25 10:31] mart-e commented on #12692
Hello,

You server code looks quite outdated (at least 2015), could you try to update it first?
Also which button do you click exactly? Could you provide a screenshot?

[2016-07-25 10:41] JKE-be commented on #12892
![jke-2016-07-25_123858](https://cloud.githubusercontent.com/assets/4848797/17098877/08d3e4b8-5265-11e6-9619-099954ece803.gif)

[2016-07-25 10:59] JKE-be commented on #12872
Hello,

It is the default behavior in v8, not really an issue.

Base amount = 610 € (600€ ipad, 10€ delivery)
Tax = 2,1 € (21% of 10€ delivery)
Total = 612,1 €

![image](https://cloud.githubusercontent.com/assets/4848797/17099037/16430baa-5266-11e6-9499-ad582280fd02.png)

[2016-07-25 10:59] #12872 closed

[2016-07-25 11:06] Yajo opened #12897 "Missing dependency for xlwt in RPM package"
Impacted versions: 8.0

Steps to reproduce: install RPM package, open python console, execute `import xlwt`

Current behavior: `ImportError`

Expected behavior: works.

Video/Screenshot link (optional):

[2016-07-25 11:12] aek commented on #12587
Sorry @odony  I miss the notification about your last comments. Thanks for have a look at it. It started to work some days latter from my last comment. And it's pointless to answer those question now since I don't get the errors anymore, but the relevant ones are that I use a laptop running Ubuntu and connected to a wifi and I test it on Firefox too.
Seems to me that was simply a Cloudflare LAX mi

[2016-07-25 11:17] Yajo commented on #12897
@kutyel this was the bug you hit last week, fixed in https://bitbucket.org/yajo/docker-odoo/commits/4694dcf323bd222549118a3a9f66955977665094. Repull image and it will work (after rebuilt).

[2016-07-25 11:26] mart-e commented on #12897
Hello,

xlwt is an optional dependency and Odoo should not crash if you don't have installed (we have [some checks](https://github.com/odoo/odoo/blob/01acb8a497317162770df1a29e0236ae7d8f58bc/addons/web/controllers/pivot.py#L14) to verify if the module is present or not.
However for consistency (it is included in the deb package), it would make sense to add it also in rpm.
If you have a patch for m

[2016-07-25 11:28] mart-e commented on #12888
Thanks for the update, closing as the problem seems in the deployment, not in Odoo.

[2016-07-25 11:28] #12888 closed

[2016-07-25 11:30] Yajo commented on #12897
xlwt comes in the v9 RPM AFAIK, maybe just backport that commit (wherever it is), not?

[2016-07-25 11:34] mart-e commented on #12897
Oh sorry I missed your issue was for 8.0 but anyway, if Odoo do work without xlwt (no error during use, all Excel-related options are hidden), I want to avoid changing the packaging. It would be an improvement, not a bug fix.

[2016-07-25 11:37] Yajo commented on #12897
OK no problem, fixing downstream at https://github.com/OCA/reporting-engine/pull/62

[2016-07-25 11:37] #12897 closed

[2016-07-25 11:39] lem8r commented on #12884
Hi,
I'm trying to execute it on checkout page of website. Looks like it is intended for backend?

I'm doing shipping integration for ukrainian shipping provider. On checkout page I have to autocomplete City, Street, Warehouse etc while user is typing. There are thousands of records in database so I can't pass them as list selection. I have do query records from backend with domain filtering and pa

[2016-07-25 11:40] mart-e commented on #12880
Hello,

Which version of Odoo are you using?
Could you give the exact steps when you say "the currency set on the pricelist of a specific user does not get applied"? Not applied on what?

[2016-07-25 11:43] #12731 closed

[2016-07-25 11:44] mart-e commented on #12884
Indeed, this documentation page is the framework in backend. It should probably be specified somewhere...

[2016-07-25 11:48] odony commented on #12587
@aek Thanks for the update, considering the issue finally closed then!

[2016-07-25 11:52] lem8r commented on #12884
Oh, not an issue in this case)

[2016-07-25 11:52] #12884 closed

[2016-07-25 12:22] jl2035 commented on #1677
@blaggacao I don't understand..

If you physically remove the module, one would expect that it will also be gone from the app list (at least after running Update Apps List). Which is not the case, so this looks like a bug to me.. why did you close this, sir?

[2016-07-25 12:26] #10855 closed

[2016-07-25 12:31] mart-e commented on #12884
FYI I have clarified the doc at 880df4e8b67b408c390d9a24b0dfcfcd1494632b
`web.Model` (provides `call`) is available in both side while `web.DataModel` (provides `query`) is only available in the backend.

[2016-07-25 12:32] treviser commented on #12646
Thanks!

[2016-07-25 13:12] vx0532 opened #12900 "how to let float numbers in "tree" to be center?"
Impacted versions:
v9.0

Steps to reproduce:
I want all texts and numbers in tree to be in center; I write below codes:
.openerp .oe_list_content td , .openerp .oe_list_content th {
    background-color: #99ccff;
    text-align: center;
}

Current behavior:
only text in center rather than numbers;
Expected behavior:
I want all to be in center; or even I can control which column is left, right or c

[2016-07-25 13:12] lem8r commented on #12884
Thanks!
BTW, what is proper way (in js on website) to check if there is valid session?

[2016-07-25 13:17] vx0532 opened #12901 "how to make users in group A "readonly" for "field_x" and group B "editable" for the same "field_x"?"
Impacted versions:
v9.0
.py file:

....

field_x=fields.Char("Name")

....

in xml file:

....

<name="field_x" groups="A" readonly="1"/>

<name="field_x" groups="B" />

....

I have tried to set it like this, but group A will see nothing forever even if group B has changed the "field_x";

in the fact I just want to group A can read the "field_x" rather than write it and group B can both read and

[2016-07-25 13:21] JKE-be commented on #12892
Maybe Related to  : https://github.com/odoo/odoo/issues/12715
The infinite loop with 0 as count

[2016-07-25 13:22] dansanti commented on #12889
HI! ok, a real example:
1.- Model:

``

class Invoice(model.Models):
        _inherit="account.invoice"

        @api.model
        def _get_available_issuer_turns(self):
            for rec in self:
                if rec.company_id:
                    available_turn_ids = rec.company_id.company_activities_ids
                    for turn in available_turn_ids:
                        rec.turn_i

[2016-07-25 13:35] JKE-be commented on #12901
Hello,
Please use forum for this kind of question.
Here, it is the issue tracker.

Thanks

[2016-07-25 13:35] #12901 closed

[2016-07-25 13:37] JKE-be commented on #12900
Hello,
Please use the forum for this kind of question. (https://help.odoo.com)
Here, it is the issue tracker.

Thanks

[2016-07-25 13:37] #12900 closed

[2016-07-25 13:41] LeDistordu commented on #12883
I just update to 9.0e-20160725 version, I think it was a problem during installation but I can not seem to uninstall it to install new

![chrome_2016-07-25_15-39-30](https://cloud.githubusercontent.com/assets/7805145/17103331/24f36ca4-527e-11e6-88ee-eda67f83be63.jpg)
![chrome_2016-07-25_15-39-38](https://cloud.githubusercontent.com/assets/7805145/17103338/2a46e80c-527e-11e6-9338-e7da847ca5f2.jpg)

[2016-07-25 13:44] mart-e commented on #12884
Try with `session.session_is_valid()` (to check, not sure)

[2016-07-25 13:48] Yenthe666 commented on #12801
@odony and @mart-e could you guys shed some light from the Odoo side on this one please?

[2016-07-25 13:53] saleembdr opened #12902 "Javascript Mime Type"
Impacted versions: 9.0

Steps to reproduce:

- Install Odoo
- Open Odoo using Chrome

Current behavior:

Javascript files are not executing because the returned Mime Type is 'text/plain'. The page opens showing only the logo.

Expected behavior:

The page should open and execute javascript files. The Mime Types of javascript files should be 'application/javascript'.

[2016-07-25 13:59] JKE-be commented on #12715
Fixed in commit odoo/odoo@3418b9f8aa052ae0aabf940d6332cc0aa77d409d
Thanks for the reporting

[2016-07-25 13:59] #12715 closed

[2016-07-25 14:00] dreispt commented on #12801
Can't we have a `IN (SELECT id FROM ...)` instead of a `in (<ids>...)` ?

[2016-07-25 14:01] JKE-be commented on #12902
Seems like a problem during your installation.
By default, it should works :)

Can we have more details about the way you installed Odoo ?

[2016-07-25 14:04] saleembdr commented on #12902
I installed Odoo using odoo_9.0c.latest.exe from http://nightly.odoo.com. It is working find on FireFox. IE and Chrome are showing 'text/plain' for the following files in the response header:

- web/content/246-6b457dc/web.assets_common.js
- web/content/249-2378441/web.assets_backend.js

[2016-07-25 14:11] netice commented on #12801
I have fixed it as IN (SELECT id FROM ...)
you can get the patch from my blog
http://www.designdock.cn/blog/2/post/oe-domain-bug-5

在2016年07月25 22时01分，"Daniel Reis"<notifications@github.com>写道：

Can't we have a IN (SELECT id FROM ...) instead of a in (<ids>...) ?
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-25 14:23] lem8r commented on #12884
In my case session.session_is_valid() was always falsy.
Looks like session object was new instance not the current one used by the system.
So I was checking if user was logged in backend's controller. I'm not sure if it is best way around.

[2016-07-25 14:24] lem8r commented on #12884
Any way, thanks for your support!

[2016-07-25 14:28] joshuajan commented on #12892
@JKE-be Thanks. It`s the same as #12715. when the count is 0.

[2016-07-25 15:00] saleembdr commented on #12902
Static files like '/web/static/lib/es5-shim/es5-shim.min.js' are returning a correct Mime Type. The issue is apparently encountered in Javascript bundles.

[2016-07-25 15:02] #12892 closed

[2016-07-25 15:11] JKE-be commented on #12803
A task has been create in R&D (27554)
Draft: https://github.com/odoo-dev/odoo/commit/fd559412fdfc9bf4903a5cc6095b22536d628d4e

[2016-07-25 15:15] JKE-be commented on #12902
Can you check if the  mime type in your ir.attachments table ?  Is there correctly setted ?

[2016-07-25 15:53] Yenthe666 commented on #12803
@jke-be please rewrite those sentences, some don't make a lot of sense. If you want to I can make suggestions :)

[2016-07-25 16:26] paolovalier commented on #12872
thanks @JKE-be for the answer
ok, when taxes are included in price the products' price isn't splitted (price and tax), delivery is. a bit strange,  I mean an uneven behavior, but that's just my humble opinion. thanks, bye

[2016-07-25 17:42] blaggacao commented on #1677
@jl2035 Have you experienced this behaviour again? It is somewhat an edge cas. I didn't stumble over it again, so for me, personally, at the moment it is not an issue and doing follow up on too man issues is bad for personal health :smile: - I'll reopen it, but please confirm that it still exists.

[2016-07-25 22:06] max3903 commented on #12687
@sdalexander I just did your configuration and went through the whole dropshipping and normal processes.
* Dropship: Nothing hit my stock journal and stock accounts
* Normal: 2 accounting entries (in and out).

[2016-07-26 06:48] jl2035 commented on #1677
@blaggacao Not sure.. at the moment I do experience it, but I plan to wipe the server and start from scratch. I lost too many nerves yesterday.

But it's totally weird. I reinstalled postgresql, removed cluster, created a new one, even deleted odoo files and cloned the repo again, but none of that fixed this. I think I messed up real bad, so starting from scratch is the only way out I see.

[2016-07-26 07:00] saleembdr commented on #12902
The Mime Type for the following JavaScript bundles was incorrect in the ir_attachment table in the database:

web/content/246-6b457dc/web.assets_common.js
web/content/249-2378441/web.assets_backend.js

I have used the information in the issue with the URL 'http://github.com/odoo/odoo/issues/2595' before to modify the Mime Type for '.js' files in the registry. The Mime Type probably remained incorr

[2016-07-26 07:01] mart-e commented on #12803
@Yenthe666 this was just a draft to give an idea but it will be more formally in another branch (still at the spec stage so no branch to give you yet, watch [R&D PR](https://github.com/odoo/odoo/labels/RD))

[2016-07-26 07:37] sdalexander commented on #12687
Certainly a dumb comment.have you tested it?  On 26 July 2016 at 07:12 Ermin Trevisan <notifications@github.com> wrote:Maybe I'm dumb, but the last 25 years I thought that the essence of the term "Dropshipping" is that it does not touch your stock.—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread. 

[2016-07-26 07:39] sdalexander commented on #12687
Hi @max3903

yes that is correct,
I did not install the anglo-accounting manually , I think it comes in with one of the setup options.
I thought it was part of the 'real time stock valuation set up?

can you have real time stock valuation without anglo-saxon accounting?

[2016-07-26 07:39] jappie11 commented on #12390
@fadedglory
It seems that Synology has changed the URL to access the files I referenced and more importantly have disable the browsing of the various directories. I've been able to verify though that the following link does work to download the previous version of the Python Module package.

**Version 01.06:** [https://global.download.synology.com/download/Package/spk/PythonModule/0106/PythonModul

[2016-07-26 07:46] JKE-be commented on #12573
Hello
Are you hosted on Odoo server ?
Have you fixed your problem meanwhile ?

Else, can you retry, check that the bug is still present and give me an export of calendar.event and calendar.attendee table.

To have more logs, you can add ir config parameter key: `calendar.debug_print`...
And when you launch your server in log-level=debug, you can see the response in log when request fail.

[2016-07-26 08:06] JKE-be commented on #11822
Thanks for the reporting.
I tag this issue 'Wishlist' but it will not added in actual version...

[2016-07-26 08:06] #11822 closed

[2016-07-26 08:20] treviser commented on #12687
@sdalexander That's why I deleted it immediately after posting it erraneously.

[2016-07-26 08:23] JKE-be commented on #11418
@gdgellatly Thank you for your answer :+1:

@grexe:
Simple way is probably to write a small python script which do it in XMLRpc (using ORM). (with Erppeek ?)
Or use the Google synchronization to synchronize an actual calendar (works well if no recurrent event).
But use the ORM and not directly in psql else you will have some unexpected behavior.

[2016-07-26 08:23] #11418 closed

[2016-07-26 08:33] JKE-be commented on #11416
@grexe

- It is the standard way to customize view... using the inheritance of xml view:
https://www.odoo.com/documentation/8.0/reference/views.html
- For v10, we are working on a UI to update view... but it is a new feature...

- So you can just create a inherited view which remove unneeded fields, and add new fields...
- https://www.odoo.com/documentation/8.0/reference/views.html#inheritance

-

[2016-07-26 08:33] #11416 closed

[2016-07-26 08:34] legalsylvain commented on #10855
Thanks !

[2016-07-26 08:35] Yenthe666 commented on #12803
No worries, I've made suggestions on the draft, it was just a tip. We'll see where this ends. :+1:

[2016-07-26 08:40] JKE-be commented on #11417
Hello
Can you check that you have always the same issue after a pull of the code ?

Where do you see in log that it is done 2x ?
Can you take a screenshot of the chrome console with the request done and the time ...
Because open an event in form view is very 'simple' operation and should not take so many seconds.

Ps: The performance for Calendar View in v10 has been improved. Now search view is l

[2016-07-26 08:46] JKE-be commented on #11434
@grexe Thank you for your suggestion.
As discussed in a previous issue, an internal team are working on it (Odoo Studio) and we hope that a first version will be available for v10.

[2016-07-26 08:46] #11434 closed

[2016-07-26 08:51] JKE-be commented on #11289
Thanks for the reporting.
I close this one because duplicated of #9268

[2016-07-26 08:51] #11289 closed

[2016-07-26 08:52] JKE-be commented on #11261
Can you confirm that it is always present ?
Please provide a "How to reproduce"...

[2016-07-26 08:55] JKE-be commented on #10467
Hello
Can your reproduce with a clean database ?

[2016-07-26 08:56] #10319 closed

[2016-07-26 09:08] qsm-odoo commented on #12646
Hello, the problem has been fixed with commit https://github.com/odoo/design-themes/commit/81391002508ce8ce2df66da942db098ac670988d, following @JKE-be suggestion.

[2016-07-26 09:08] #12646 closed

[2016-07-26 09:09] #11513 closed

[2016-07-26 09:10] mart-e commented on #12889
Thank you for the complete example, I think I understand the problem.
The expression `<span t-if="'turn_issuer' in o and o.turn_issuer" t-field="o.turn_issuer.name" style="color:black;"/>` is not correct. Try instead something like:

[code]

Anyway, closing as it doesn't seem an issue in ORM but in the template customisation (I advise you to go to the forum for that).

PS: I assume this is only a

[2016-07-26 09:10] #12889 closed

[2016-07-26 09:10] sdalexander commented on #12687
Hi ErminOk , I will do the same, I agree with you that Dropship should not touch the stock accounts.but if you configure for real time inventory on an Item that you usually hold in stock, then on a particular order, choose Dropshipping on the order line for that product. When you create the invoice it will  create accounting entries from the stock output account you have specified for that item. B

[2016-07-26 09:12] adrienpeiffer opened #12905 "No Warning if you leave HR Timesheet widget page during modification"
Impacted versions:

8.0/9.0

Steps to reproduce:

See https://youtu.be/T_JUSs83IjE

Current behavior:

Currently if you add some lines in HR Timesheet with the JS widget avalaible on Summary tab of timesheet, no warning message is displayed to alert users that they may lose their changes if they try to leave the page by clicking another menu.

Expected behavior:

It's necessary to have an warning

[2016-07-26 09:12] JKE-be commented on #12902
@saleembdr Thank for the feedback.
I have some doubts about the uninstallation of Psql :/
but if it works for your... It is the most important :)

[2016-07-26 09:12] #12902 closed

[2016-07-26 09:22] adrienpeiffer commented on #12905
OPW 684276

[2016-07-26 09:32] dreispt commented on #1677
It's an hazard to automatically remove modules missing in the addons paths:
If you restart a server and get the addons path wrong, you would lose the info on what modules were installed and would have a hard time recovering from that mistake.

Having said that, a module "purge" option would be a good addition, allowing for a manual clean-up of non existent modules.
@sle-odoo I noticed you assigned

[2016-07-26 09:35] saleembdr commented on #12902
You may be right about not having to uninstall PostgreSQL. The issue might have been solved after restarting the machine multiple times and not because of uninstalling PostgreSQL. Thank you @JKE-be .

[2016-07-26 09:46] jl2035 commented on #1677
Yeah, I totally fucked the server. Getting errors like this now:

File "/path/to/odoo/openerp/addons/base/ir/ir_model.py", line 973, in xmlid_lookup
    raise ValueError('External ID not found in the system: %s' % (xmlid))

I can't even create databases.

Nothing to do, but wipe everything and setup a new server. Let's leave this issue open for now, and I'll report back, ok?

[2016-07-26 10:53] dreispt commented on #1677
@jl2035 No need, just drop the database and create a new one; or upgrade the `base` module (`-u base`)

[2016-07-26 11:08] fausthuang opened #12907 "incoming email thread issue"
Impacted versions: V9.0 enterprise

Steps to reproduce: when a customer send a mail to odoo, (we already set incoming mail server and server action to convert the mail as a issue.) it will create a issue in project. and then odoo user will reply it in this issue with "new message" . once the customer receive the feedback email from odoo, and he reply base on this mail again. it will create a new i

[2016-07-26 11:11] tchigy opened #12908 "view_ids in python method"
Impacted versions:
odoo 8.0 or 9.0
Steps to reproduce:
i opend a model from a python method with to mode_view  form,tree
i used the view_ids syntax to define witch views should it shows
Current behavior:
not working at all but when i use only one mode_view like form or tree view_id work fine
Expected behavior:
show me the views that i want not any views  if view_id work why not view_ids?

Video/Sc

[2016-07-26 11:36] dansanti commented on #12889
HI! thanks for tips, but i already tried with that method and get the same error :

``
models.py", line 3295, in _prefetch_field
    assert self in records and field in fs
QWebException: "" while evaluating

``

 , well I'll try to find more info about it thanks

[2016-07-26 12:29] NL66278 opened #12909 "SyntaxError: JSON.parse: expected property name or '}' at line 1 column 2 of the JSON data"
Impacted versions: 8.0

Steps to reproduce: Some actions in our modules are giving this error.

Current behavior: Javascript exception

Expected behavior: We can use our screens.

Video/Screenshot link (optional):

The problem occurs because of commit 77eea3325 which does things with statusbar colors. reverting the commit resolves the error.

[2016-07-26 12:51] mart-e commented on #5987
Hello,

As explained at #11199, we do not wish to reintroduce this, sorry.

[2016-07-26 12:51] #5987 closed

[2016-07-26 13:16] phuihock commented on #5987
This makes sense for 9 because we have `statusbar_visible`, but there isn't any substitute for 7 or 8.

No chance pushing this to 7/8 only?

[2016-07-26 14:22] AMEKCapital opened #12914 "Can't Save Product Variants After Editing The record has been modified, your changes will be discarded. Are you sure you want to leave this page ?"
Can't save product variants .

https://drive.google.com/file/d/0B5CUfVV4TZAlZXNiWU9WeDAtTTg/view?usp=sharing

[2016-07-26 14:41] max3903 commented on #12687
@sdalexander
Real-time inventory allows you to have your stock evaluation in the accounting synchronized with your WMS and your stock level. Otherwise your stock value in your accounting reports is "wrong" until you count and create an adjustment entry.

Anglo-saxon accounting:
The difference between the Anglo-Saxon accounting countries and the Rhine (or also called Continental accounting) countri

[2016-07-26 14:43] #25 closed

[2016-07-26 15:53] edsersolis opened #12915 "[9.0c] When filter is applied not all records show"
**Impacted versions:** 9.0c

**Steps to reproduce:** In a DB with many records, contacts for example, filter the contacts.

**Current behavior:** In a DB with approx. 30k contacts, when a user filters the list with a "Last Updated by" not all contacts that were last updated by that user show.

Also doing it with additional filters applied so it doesn't have to pick from all 30k the contacts, it sh

[2016-07-26 16:10] JKE-be commented on #12909
Seems like you have a wrong `self.node.attrs.statusbar_colors` value...
Could you check that cause of this exception ? What is the value of statusbar_colors before the json parse ?

[2016-07-26 16:24] JKE-be commented on #12914
Need more info.
Please, use the default template ;)

Can you reproduce on runbot ?
Because I have just tested on 9.0e and it works ...

[2016-07-26 16:26] jl2035 commented on #1677
@dreispt that was not possible. I couldn't create new databases due to many different errors as I pasted in my previous comment. After setting up a new instance on a new server everything works as expected.

I still don't quite understand why I was experiencing this even after removing postgre cluster and cloning odoo sources again. It could have also been my browser cache.

however, @blaggacao pl

[2016-07-26 16:29] JKE-be commented on #12915
Hello @edsersolis ,
What do you mean by  `Contact's log for the Last Updated` ? in view metadata ?
Are you sure that the number of reacord has an impact ?

Can you provide a screen cast ? because I never see an issue about it.
What are you typing exactly in filter ?
What is the network request generated ?

[2016-07-26 16:33] spadae22 commented on #12568
Agreed

[2016-07-26 16:45] edsersolis commented on #12915
Hello @JKE-be what I mean for the log is Odoo's log (odoo.log) when the filter is applied.
Can't tell if the issue is with the amount of contacts, this has never happened to me before and this is maybe the DB with most contacts I've dealt with.

I got you the screencast here: https://youtu.be/ss6ba-xzmMY
I first search for the contact "Tinoco", the only result shown I opened it to show you that th

[2016-07-26 17:35] sdalexander commented on #12687
@max3903

thanks for that, In the UK, cost of sales is usually taken at Invoice creation , so that the sale and the cost are then always together in the same period.
do you think the anglo_saxon module can be fixed so if dropship is used on an item with inventory valuation of 'real time (automated)' it should create the balancing journal and  entries for the stock output account.?

[2016-07-26 19:46] #12861 closed

[2016-07-26 20:04] edsersolis commented on #12915
Now I noticed something even worse. If I search for the last name (Bergman) instead of Brian, the searched contact shows. I retyped the name to make sure no special character or un-seen spaces were there and still the issue persists.

[2016-07-26 20:27] dreispt commented on #5987
@phuihock That's one of the reasons why OCB exists.

[2016-07-26 20:29] #1677 closed

[2016-07-26 20:31] dreispt commented on #25
@teolemon I'm curious, what is specifically your use case?

[2016-07-27 01:47] phuihock commented on #5987
@dreispt Sad but true.

[2016-07-27 02:23] wilberttanoto commented on #8181
Hi @nhomar , any solution regarding this?

I am currently also stuck for this part.

[2016-07-27 06:08] ossvn opened #12917 "Delivered Quantity do not update after reserve on Invoice"
Impacted versions: Version 9.0c (Community Edition)

Steps to reproduce:

- Create new SO
- Click on Delivery > Validate
- Click on "Reserve" > Validate
- Turn back to SO Detail, column "Delivered Quantity" do not change the quantity corresponding to reservered quantity.

Expected behavior: Delivered Quantity should be reflect the actual quantity customer received. Like I send you 100 unit, you ju

[2016-07-27 07:03] NL66278 commented on #12909
The value was indeed wrong:
{'rejected':'red','rejected_done':'red','cancel':'red'}

In json all properties should be in double quotes, not in single quotes. This is more strict then in xml where we have a choice. Exchanging the double quotes in the view xml will solve the problem.
This will work:
statusbar_colors='{"rejected":"red","rejected_done":"red","cancel":"red"}'
It would help to have a mo

[2016-07-27 07:39] JKE-be commented on #12915
Hello @edsersolis
'Last Updated by' is the field write_uid in the database.
It is updated only when you update field on this table.

![image](https://cloud.githubusercontent.com/assets/4848797/17167315/bce7e68e-53dc-11e6-9bde-09a53ba0c37e.png)

Now if a updated the name...
![image](https://cloud.githubusercontent.com/assets/4848797/17167369/f6fd186c-53dc-11e6-94a7-6cc5c204fa3b.png)

The last updat

[2016-07-27 07:39] #12915 closed

[2016-07-27 07:50] JKE-be commented on #12909
Thank you for the feedback.

I close the issue now that it is fixed in you instance

This error occurs most frequent when the json is badly formatted. (or by end user, or because a traceback is raised in the response)

[2016-07-27 07:50] #12909 closed

[2016-07-27 08:16] #147 closed

[2016-07-27 08:41] JKE-be commented on #12666
The doc has been updated: https://www.odoo.com/documentation/9.0/setup/deploy.html#https
Maybe it could help you ;)

[2016-07-27 08:41] #12666 closed

[2016-07-27 09:48] NL66278 commented on #12909
On the hand you might say that the single quotes in the xml attribute are sloppy code. On the other hand demanding the use of double quotes within the attribute value is an extra constraint that does not exist for other view element attributes in the system. Should be simple to replace the single quotes with double quotes before parsing the json data.

Will create a PR with proposed change.

PR wi

[2016-07-27 10:23] JKE-be commented on #12909
Related to odoo/odoo#5987

[2016-07-27 10:33] NL66278 commented on #5987
I just created a PR on the OCA that will also support single quoted color properties in the view https://github.com/OCA/OCB/pull/524

[2016-07-27 12:00] Yajo opened #12927 ""Remaining requests" while doing PhantomJS tests"
Impacted versions: 8, 9

Steps to reproduce: Run a test in PhantomJS. It only triggers sometimes, not sure under what circumstances.

Current behavior:

The test ends (failure or not) and logs this in loop endlessly:

[code]

Expected behavior:

Tests should work.
@Tecnativa

[2016-07-27 13:13] mgielissen opened #12929 "v9.0c Screenwidth fix for MS Explorer 11"
Treeview, Form and Kanban in Odoo 9 community are not correctly displayed when using MS Explorer 11. The screen width is way to small or to large.

[2016-07-27 13:14] mgielissen commented on #12929
This will fix the issues with MS Explorer 11:

[code]

[2016-07-27 13:18] LeDistordu commented on #12883
This problem is driving me crazy, the module generates an error, and I can not remove it for testing a re-installation. How can I get out ?

[2016-07-27 13:23] LeDistordu commented on #12883
Same problem here  https://github.com/odoo/odoo/issues/11136

[2016-07-27 14:01] Yajo commented on #12927
OK, found the problem: running phantomjs tests with multiple local databases. Preparing fix...

[2016-07-27 14:04] sle-odoo commented on #12929
![bs_win7_ie_11 0](https://cloud.githubusercontent.com/assets/7601090/17177918/bb3fa326-5413-11e6-8653-1a38e4b2965b.jpg)
![bs_win7_ie_11 0 1](https://cloud.githubusercontent.com/assets/7601090/17177921/bf7445d2-5413-11e6-8607-2f6a51f46da2.jpg)

on the first screenshot, the width 100% is not respected
on the second, the form view is not centered

[2016-07-27 14:19] mgielissen commented on #12929
See my fix for Sales Dashboard: https://github.com/Openworx/themes/commit/a72cf8e7eb28f4b46c41a1cd252afbd7f2a40d11

[2016-07-27 14:50] mart-e commented on #12908
Hello,

You should use `views`, not `view_ids` in your python code.
[Example](https://github.com/odoo/odoo/blob/0da7184b67199e6944945558db63f55577ee5dbc/addons/crm/crm_lead.py#L837)

[2016-07-27 14:50] #12908 closed

[2016-07-27 15:04] treviser opened #12934 "[Firefox] Website Builder: past text in translation doesn't work"
Impacted versions: 9.0c, 8.0

Steps to reproduce:

Current behavior:
The company text in the automatic footer is a never ending source for numerous erratic, nasty and truly annoying errors, not only, but especially for multi-language websites.
Anything else than a single unformatted string can break the footer any time and make the website unsaveable. Even if you replace the default text inside th

[2016-07-27 15:15] mart-e commented on #12620
Hello,

Thanks for the report but actually it is wanted.
When somebody creates a leave request, most of the time it's because he want to submit it. To avoid an unnecessary click (and prevent sad scenarios where the employee forgot to press submit and got no holidays), by default it's already in confirm state.
If you do not want to submit it yet, you can reset to draft state.
The mode is a quite te

[2016-07-27 15:15] #12620 closed

[2016-07-27 17:30] tmac101 opened #12936 "Appraisal\Survey - User Access"
in V8, is there a way to assign security around surveys?  As an example, an employee is assigned an appraisal but they should only be able to edit their own.  Currently, I have to make each employee a survey manager which gives them too much access.

[2016-07-28 05:39] jeffery9 opened #12938 "[master][bug] portal access management wizard raised singleton error."
Impacted versions:
master
10 alpha

Steps to reproduce:

open the customer eg. comptocamp
click more dropdown, and select portal access management, in the ppoup window, check `in portal ` option for the contacts, and then click button apply.

it should raise error like flowing

Current behavior:

Expected behavior:

no any error raised.

Video/Screenshot link (optional):

![image](https://cloud.gi

[2016-07-28 06:47] mart-e commented on #5744
`--without-demo` requires an argument (probably `all` for all modules). The command should be `--without-demo=all --stop-after-init` and not `--without-demo --stop-after-init` (it the later case, it means "do not load demo data for the module "--stop-after-init")

[2016-07-28 06:47] #5744 closed

[2016-07-28 07:02] Yenthe666 commented on #12938
Hi @jeffery9,

Thanks a lot for your issue. At this point the master branch is worked on very heavily and it changes from day to day so at this point you don't really have to report these issues.
@mart-e am I right here? I believe I can just close this one.

Regards,
Yenthe

[2016-07-28 07:02] #12938 closed

[2016-07-28 07:12] mart-e commented on #12938
Exactly, while the bug is indeed correct, please avoid making bug reports on the instable version (except maybe when it's in the "freeze" period before release of v10), master changes a lot, things get broken.

@jem-odoo the bug was introduced during the new API migration of portal (bad `ensure_one()` in the second method), could you take a look?

[2016-07-28 08:39] 12e1121 opened #12939 "Pricelist Onchange"
Impacted versions: 8.0

Steps to reproduce:

Current behavior:

Could anyone advise on how to pass the order_line's fields instead of ids?

For instance:

The Sales Order Line have 3 items (sale_order_line table have records). The order_lines's that pass during onchange are [6, 0, ids].

Is there anyway that during the on_change, i can pass the order_line like this:

[0, 0, [object object]], [0, 0

[2016-07-28 09:18] vgo-dev commented on #12731
Its not bug that i understand but the error message is wrong if you are not login then what is the need to preset about our requirement(karma) ??
if i am wrong then please correct me,
Thank you

[2016-07-28 09:18] Yenthe666 commented on #12934
@JKE-be can you shed some light on this please.

[2016-07-28 09:55] zhaocjiang opened #12942 "v8.0 quotations display product cost should be to determine whether there are triggering vendor product pricing rules"
Impacted versions:
odoo-8.0-20160727

Steps to reproduce:
1. Set up a vendor's product pricing rules, for example: purchase 10 products price cheaper than purchasing 1.
2. Set the sales price list rules, for example: when a unit price of 10 items is sold, sales price is based on the vendor's price.
3. set the cost shown in the quote.

Current behavior:
When I create a quote to sell 10 products, pr

[2016-07-28 10:25] #9758 closed

[2016-07-28 10:50] mostafaic opened #12943 "Reload Custom view type on click each time-Odoo8"
i have created a new view type like form view and when i create new thing from the form view and switch to my custom view i see no update till i refresh the whole site.i want to know how to reload this custom view to be able to retrieve the data each time i click on my custom view.
i have created the view on java script and everything work good except reloading the data each time i click the view.

[2016-07-28 11:21] Yenthe666 commented on #12934
@treviser we both tried this but couldn't break it directly. Could you make a little GIF or give some more details about what exactly to edit please?

[2016-07-28 11:31] nim-odoo commented on #12827
Hello,

I agree with the right UoM name/quantity. However, the number of decimals places seems too much. That would imply some unnecessary processing for a simple warning message. In other places, the number of decimals is simply hardcoded, e.g. https://github.com/odoo/odoo/blob/8.0/addons/sale_stock/sale_stock.py#L356

[2016-07-28 12:06] mart-e commented on #12731
It's an improvement to make the forum more user friendly but it's not wrong (let say the public user has already 5 karma). As said above, don't hesitate to submit a pull request for master to improve it

[2016-07-28 12:36] treviser commented on #12934
It is really difficult, because it seems an erratic behaviour.
I try to give you examples:

1. This is the footer text in the website default language (German):
![selection_224](https://cloud.githubusercontent.com/assets/1814941/17211563/7a1e3260-54ca-11e6-919d-7032fb6b5e63.png)

Then I change the website language to english and try to translate the footer text by copy/pasting some text. The text

[2016-07-28 12:54] treviser commented on #12934
Conclusion:

There seems to be a logic behind, it is not erratic.

1. In the company text you can create one or more paragraphs and the same number of paragraphs is also created in other website languages.
2. You can not copy/paste any text, even if it is unformatted other than in the default website language.
3. If you change any text in the default website language, the complete translated text

[2016-07-28 12:59] vgo-dev commented on #12731
thank you so much for this about pull request :+1:

[2016-07-28 13:52] gevaerts opened #12950 "translation parameter error in 8.0 nl"
Impacted versions: 8.0

openerp/addons/base/i18n/nl.po has:

[code]

Note that ({}) has been translated as ([]). This means that the parameters are not shown in translated error messages.

[2016-07-28 14:27] dbo-odoo commented on #12939
Hello,

For advice please use our forum; Github should be reserved for issues (i.e. bugs or wrong behaviours, not advices on coding).

To reply to your question, no that is not possible; the commands that the form view sends and receive to/from the server for onchanges are coded that way and won't work like that. I'm not sure why you would want to do that in the first place.

Unless you can convin

[2016-07-28 14:27] #12939 closed

[2016-07-28 14:37] dbo-odoo commented on #12917
Hello,

This is an implementation choice.

Reverse of deliveries are not "the normal flow" of the sales pipe. While they can certainly happen from time to time, we have decided that the "Delivered Quantities" should not reflect this reverse operation. One of the reason is that having a customer return does not mean that the delivery wasn't done (i.e. the products *were in fact* delivered). Another

[2016-07-28 14:37] #12917 closed

[2016-07-28 14:43] dbo-odoo commented on #12907
Hello,

The system is not really supposed to work this way for project in Odoo 9.0.

Instead of creating issues from the 'incoming mail server' setting, you should set an alias on your project (in the project Settings, E-mail tab). You should remove the setting to create issue from your incoming mail server and set a meaningful email alias on your project (this has the advantage of being able to c

[2016-07-28 14:44] dbo-odoo commented on #12907
I will close this issue as this is more of a configuration problem than a real issue. If you still have questions regarding this, you can still reply however.

[2016-07-28 14:44] #12907 closed

[2016-07-28 14:45] mart-e commented on #12950
Hello,

Thanks for the contribution but please check [translation documentation](https://github.com/odoo/odoo/wiki/Translations), the translations are handled on Transifex, not Github.

Anyway I have fixed it on Transifex but you know for next time

Thanks

cc @Yenthe666

[2016-07-28 14:45] #12950 closed

[2016-07-28 14:49] sle-odoo commented on #12560
Could you type ```lessc --version``` ?
Also, the "[0m" at the line 461 looks suspicious. How did you setup your Odoo?

[2016-07-28 14:51] mart-e commented on #12943
Hello,

Sorry but github is to report bugs on Odoo, not to ask advises on development. Check existing `web_*` modules that add new view type for examples.

For development help, you can try on the forum or mailing list or contact a partner
https://www.odoo.com/page/community

[2016-07-28 14:51] #12943 closed

[2016-07-28 15:06] sle-odoo commented on #12237
No, the problem is that in the HttpCase class, self.cr is a normal cursor (that is rollbacked at the end of the test) and that phantomjs tests are using another type of cursor, a TestCursor that keeps a transaction open during all the test but simulate the commit/rollback via savepoint. This cursor also serialises concurrent requests with the help of an rlock. This cursor is activated when you exe

[2016-07-28 15:06] #12237 closed

[2016-07-28 15:13] sle-odoo commented on #9571
Closing as i cannot reproduce. If you're still facing the issue, please provide a more detailed report.
Regards

[2016-07-28 15:13] #9571 closed

[2016-07-28 15:15] sle-odoo commented on #9891
Please read the [db-filter documentation](https://www.odoo.com/documentation/8.0/setup/deploy.html#dbfilter). It's working properly at my end.

Regards

[2016-07-28 15:15] #9891 closed

[2016-07-28 15:17] Yenthe666 commented on #12950
This one must've slipped through.. Sorry guys.
Thank you for reporting it and @mart-e thanks for fixing it :+1:

[2016-07-28 15:22] Yajo commented on #12237
Sorry, but could you please provide an example of how to make https://github.com/odoo/odoo/issues/12237#issue-157614789 work? I don't fully understand what you are saying... :confused:

[2016-07-28 15:27] sle-odoo commented on #12237
Just don't use self.cr or self.env if you want your modifications to be visibles for phantomjs, [ask for a new cursor](https://github.com/odoo/odoo/blob/9.0/openerp/addons/test_assetsbundle/tests/test_assetsbundle.py#L292). The new cursor will be a TestCursor, just as the ones created for the requests in the phatomjs test.

[2016-07-28 15:33] gwasky commented on #12485
Thanks Royal for the crack.. worked for me

[2016-07-28 17:21] blaggacao opened #12955 "UX BUG - Invalidate Message on invoice lines"
### Impacted versions:

9.0
### Steps to reproduce:

Create a Invoice with several lines and one of them missing an required field.
### Current behavior:

There is popping up a warning red popup, indicating "the following fields are invalid: Invoice Line".
Customer goes up the wall, because he has just registered a very long invoice and doesn't understand. And why is this read? "Am I going to loos

[2016-07-28 20:43] JKE-be commented on #12934
Hello @treviser

1. normal... The translation system work paragraph by paragraph...
2. If you past text withtout paragraph it works... but if you translate one paragaph by 2, it fails.
3. Have you tested ctrl + shift + v to avoid the formatting, because i can do it without error.
4. In v8, and v9, it has been always like that. If you add  even  one comma, the translation will be resetted. The matc

[2016-07-28 22:16] Gorkygd commented on #12880
Version of Odoo: 9.0c
Commit: e349692ede0d08f82e1a1847cb25bec0dc9e4b13 (Sun Jul 3 00:32:09 2016 +0200)
How to replicate:

On a new database install website_sale.
Activate multi-currencies for the admin user and the customer user.
Create a product with a price 10 euros and publish it to the website.
Go to Sale -> Configuration -> Settings and activate Advanced pricing based on formula
Go to Setting

[2016-07-29 06:57] treviser commented on #12934
@JKE-be Thank you very much for your patience. After I was forced to invest some time, I think now I really understood how it works. However, Step 3 does not work for me on an Ubuntu Desktop16.04 client using the latest Firefox, no matter if I'm using ctrl + shift + v or ctrl + right-shift + v, it always creates a new paragraph which consecutively leads to an error when copy/pasting into the trans

[2016-07-29 07:08] Yajo commented on #12237
OK, clear, thanks!

However, one more question: wouldn't it make sense to use such cursor by default on `self.env`?

[2016-07-29 09:07] #12203 closed

[2016-07-29 09:08] #12204 closed

[2016-07-29 09:08] sle-odoo commented on #12929
@mgielissen could you try my patch and confirm it fixes the issue at your end? Looks ok to me on ie11 and edge 14. Waiting for your feedback.

[2016-07-29 09:19] Develoman opened #12960 "DataError: invalid input syntax for type timestamp: "٢٠١٦-١٠-٣١ 00:00:00" forecast tasks menu project module"
Impacted versions: entreprise

Steps to reproduce: load arabic language and affect it to administrator

Current behavior: forecast tasks using Gantt chart in project module

Expected behavior:
[code]

Video/Screenshot link (optional):

[2016-07-29 09:21] sdalexander commented on #12687
@Yenthe666 @max3903

Hi Guys

So what do you think is the best way to go about getting this fixed,  Is it a bug with in the Anglo saxon side ?

regards
Steve

[2016-07-29 09:21] Yajo opened #12961 "PhantomJS tests submit forms in loop"
Impacted versions: 9

Steps to reproduce:

Assuming you have something like this in your home page:

[code]

A test similar to this would send the form twice:

[code]

Current behavior: Sends form twice.

Expected behavior: Send form once, then continue to next step.

[2016-07-29 09:31] rim-odoo commented on #11873
Finally merged in v8 https://github.com/odoo/odoo/commit/9fe930e6ba95a223fc56163d675e8d5a6485a6fc . Thanks for your patch & your patience :)
(it will be forward ported soon to v9)

[2016-07-29 09:31] #11873 closed

[2016-07-29 09:38] mart-e commented on #12880
@JKE-be opinion? It seems indeed there is something a bit strange with the currency on the ecommerce for fixed price pricelist (not for percentage)
![screenshot from 2016-07-29 11-35-05](https://cloud.githubusercontent.com/assets/564822/17244213/00dec736-5581-11e6-8da3-a20f52218667.png)
![screenshot from 2016-07-29 11-37-57](https://cloud.githubusercontent.com/assets/564822/17244216/01ef0820-5581-

[2016-07-29 09:56] abdounasser202 opened #12962 "Website_forum: do not allow user to post an empty answer"
Impacted versions: odoo.com

Steps to reproduce:
Try to post an empty answer of a question in the forum

Current behavior:
The empty answer is published

Expected behavior:
Raise a message telling user he can't post an empty answer

Video/Screenshot link:
https://www.odoo.com/fr_FR/forum/aide-1/question/radio-button-105403

[2016-07-29 09:57] #12629 closed

[2016-07-29 09:57] #12827 closed

[2016-07-29 10:03] Yajo commented on #12961
Real-life example: https://github.com/OCA/website/pull/239/files#diff-928c151b24bf60cecfc381508bdd72deR61

[2016-07-29 11:33] sle-odoo commented on #12961
How do you know it's submitted twice? Do you have two entries in the log for the same request?

[2016-07-29 11:53] Yajo commented on #12961
Indeed. [I made them](https://github.com/OCA/website/pull/239/files#diff-be4206399e191bfe53c175df5afc0070R152) just because of this bug.

You'd have to remove the workarounds from the tour to see the bug if you pull that module.

[2016-07-29 11:55] Yajo commented on #12961
In fact, it's not only twice. It's like the tour does not know it filled the step, and then when page reloads after submitting the form, it starts again by the same step instead of starting from the next one.

What [my workaround](https://github.com/OCA/website/pull/239/files#diff-928c151b24bf60cecfc381508bdd72deR13) does is monkey-patch to know if we are in the already-submitted page and force th

[2016-07-29 12:05] sle-odoo commented on #12961
It seems weird that in your tour you have a lot of times the same selector in your element and on wait keys. However i always forget what are the semantics of these keys. Let me check...

[2016-07-29 12:07] Yajo commented on #12961
Is it not required?

[2016-07-29 12:48] Yenthe666 commented on #12962
@JKE-be would be a nice little addition? :smile:

[2016-07-29 13:54] Yajo opened #12964 "Unsuccessful PhantomJS tests report themselves successful"
Impacted versions: 9

Steps to reproduce: Run a PhantomJS test that fails.

Current behavior: Odoo reports it worked:

[code]

This makes, for example, that [Travis gets green where it should not](https://travis-ci.org/OCA/website/jobs/148268080#L825-L829).

Expected behavior: Test should fail.

[2016-07-29 13:56] Yenthe666 commented on #12964
Very nice find @Yajo! :+1:

[2016-07-29 13:57] #12479 closed

[2016-07-29 13:58] mart-e commented on #11847
Fixed at d1cdb4f4b8e6f2f655bfa52c501b2079fbb86989, linked to 1320ad8cfebf39ce15eef43d597d9bc2ff3008a5

[2016-07-29 13:58] #11847 closed

[2016-07-29 13:58] rim-odoo commented on #12427
Fixed by #12503

[2016-07-29 13:58] #12427 closed

[2016-07-29 14:00] rim-odoo commented on #11702
@GetOdoo In order to troubleshoot properly delivery carriers, you must add the shipper/recipient addresses you used for testing. DHL integration may fail with some adresses, and work with some others.

[2016-07-29 14:00] #11702 closed

[2016-07-29 14:02] rim-odoo commented on #9225
This is due to a bad configuration of your FedEx test account.

[2016-07-29 14:02] #9225 closed

[2016-07-29 14:03] rim-odoo commented on #8968
You can still add a delivery product that works with a standard pricelist on your sale order, then use a different carrier for the picking.

[2016-07-29 14:03] #8968 closed

[2016-07-29 14:04] mart-e commented on #10320
Hello,

It is because you don't have all the required field, you need also to specify the ID of the record (it's not displayed in the list view but it is in the form view).

[2016-07-29 14:04] #10320 closed

[2016-07-29 14:06] rim-odoo commented on #5009
Users should be smart

[2016-07-29 14:06] #5009 closed

[2016-07-29 14:06] #7007 closed

[2016-07-29 14:07] rim-odoo commented on #8153
This record rule also prevent access from backend or XMLRPC

[2016-07-29 14:07] #8153 closed

[2016-07-29 14:09] rim-odoo commented on #12936
You can do that with record rules. https://www.odoo.com/documentation/8.0/reference/security.html#record-rules

[2016-07-29 14:18] max3903 commented on #12687
@sdalexander @Yenthe666 I have asked my customer to report it to Odoo SA with a link to this issue using his Enterprise contract. I suggest you to do the same or propose a fix.

[2016-07-29 14:23] mart-e commented on #10529
Probably temporary bug with the website translator. Now it's working fine.
Let me know if you still have issues

[2016-07-29 14:23] #10529 closed

[2016-07-29 14:24] Yenthe666 commented on #12960
Hi @Develoman,

Thanks a lot for your report. I've just tested this and can confirm this is a bug. The result:
![image](https://cloud.githubusercontent.com/assets/6352350/17251384/e1e90b70-55a8-11e6-8a9d-78bb244a0432.png)
@mart-e this is language related, so probably something for you!

[2016-07-29 14:25] mart-e commented on #9067
Probably same as #10529, temporary bug but works fine now.
Let me know if you still have issues

[2016-07-29 14:25] #9067 closed

[2016-07-29 14:26] Yenthe666 commented on #12955
Hi @blaggacao,

Thanks a lot for your report. I partially agree with you, the message could be better and more detailed in order to give the user a good sense of what is wrong. On the other hand, the red draws good attention so I don't think that should be removed.
@mart-e can I ask your input for this? I bet you'll say that this is expected / wanted behaviour and that it will not be changed.

[2016-07-29 14:28] Yenthe666 commented on #12905
Hi @adrienpeiffer,

Thanks a lot for your report (and thank you for making a video, that makes things so much easier).
I agree there should be a warning that notifies the user that the changes will be lost.
@mart-e can you assign somebody on this one?

Regards,
Yenthe

[2016-07-29 14:31] #12936 closed

[2016-07-29 14:40] Yenthe666 commented on #458
Hi @eaddison,

Thank you for your report but this is expected behaviour. This makes it very easy to find all sale related items, even if they're still in quotation / draft state.

Regards,
Yenthe

[2016-07-29 14:40] #458 closed

[2016-07-29 14:44] Yenthe666 commented on #1056
Hi @gaqzi,

Thanks a lot for your report. At this point the issue can no longer be reproduced and everything works fine now.
Closing this because it is no longer reproducable.

Regards,
Yenthe

[2016-07-29 14:44] #1056 closed

[2016-07-29 14:46] Yenthe666 commented on #1045
Hi @ccomb,

Thanks a lot for your report. This issue has been fixed a while ago with commit https://github.com/odoo/odoo/commit/299246e2aec867cc90f56caaefad6c99d8f2f31f but this issue was never closed.
Closing this since it has been fixed.

Regards,
Yenthe

[2016-07-29 14:46] #1045 closed

[2016-07-29 14:47] Yenthe666 commented on #1054
Hi @BusinessTec,

Thanks a lot for your report! This is however wanted behaviour and has been like this in atleast the last 3 versions.

Regards,
Yenthe

[2016-07-29 14:47] #1054 closed

[2016-07-29 14:47] sdalexander commented on #12687
Thanks @max3903
I will report it, and yes I am producing my customer a  sql query to identify the transactions for him to journal manually.
Not a great solution in there eyes.

[2016-07-29 14:51] mart-e commented on #12960
Thanks for the report, I have fixed it at 33a2607dd4c41877cd777e2ef25ba019b2391b80

[2016-07-29 14:51] #12960 closed

[2016-07-29 15:26] JKE-be commented on #12934
Sorry, you have right...  I have just retested... In v8 it is resetted... in v9, it is already 'fixed'

Glad to hear that...

---

About and the 'paste' which add paragraph, I have just tested, and it is really a bug. @qsm-odoo  can you take a look ????

About the empty popup in themes, @qsm-odoo can maybe take a look in low priority.

About the ctrl + shift + V for past unformatting text, seems l

[2016-07-29 15:31] #12962 closed

[2016-07-29 15:37] Yajo commented on #12961
Finally travis is working. You can see that lines like this should not appear in the logs if this bug was fixed: https://travis-ci.org/OCA/website/jobs/148327125#L937

[2016-07-29 19:01] mgielissen commented on #12929
@sle-odoo Your patch fixe

s the screens.

The User Preference screen doesn't display correctly.

![naamloos](https://cloud.githubusercontent.com/assets/7700396/17260249/98512372-55cf-11e6-9536-9e9462b3969f.png)

[2016-07-30 12:13] johnsh opened #12965 "How to see all records from all companys"
hi everybody,

I have a Odoo 9 Installation where I have active multicompany, but some users needs to see all records from all companys, What is the best way to do it ? I know that is possible modify the rules access, but it is correct ?

( I know that is possible switch the company from the user settings  )

Thanks

[2016-07-30 12:30] JKE-be commented on #12965
This tracker is for issue only.
Please, use https://help.odoo.com to this kind of question...

[2016-07-30 12:30] #12965 closed

[2016-07-30 12:32] johnsh commented on #12965
Sorry

[2016-07-30 14:16] edsersolis opened #12967 "[9.0c] Safari won't print PDF reports and screen width is wrong"
Impacted versions: 9.0

Steps to reproduce: Open an instance in Safari browser. Try to print. Open a dashboard screen, ie. Accounting Dashboard.

Current behavior: When trying to print an error pops up and doesn't print the PDF even having the wkhtmltopdf installed. Also the Dashboards don't fit the screen and you'd have to scroll the page to the right to see other dashboards.
On Chrome it shows f

[2016-07-30 14:17] edsersolis commented on #12967
For the screen width issue is the same behavior as shown in this report: #12929

[2016-07-30 14:30] treviser opened #12968 "Make project name (field "name" in "project.project") translatable"
Impacted versions: 9.0c

Steps to reproduce:

Current behavior:
The project name is not translatable. I can't see any reason why it shouldn't be.

Expected behavior:
The project name should be translatable as any other names too.
Video/Screenshot link (optional):

[2016-07-30 14:48] wtaferner commented on #12968
@treviser
Why would you translate a project or a task name? Do you have a specific use case in mind?
It is imho not like a product, a website or similar which you want to perfectly present to multiple target groups. If you have a multilingual team you probably would use English or any other common language as a project language and therefore work in this language as a means of communication based

[2016-07-30 15:05] treviser commented on #12968
@wtaferner It does not create any additional work or overhead for nobody, as long as he does not want to use it. It also does not create any hassle for the Odoo codebase. Deciding if a name field of a core entity should be translatable or not (if that was a decision at all and not only just a neglect) takes more effort than just to do it if for consistency reason at all. But there are several reas

[2016-07-30 15:12] wtaferner commented on #12968
You have a point and as long translation framework improves it will be easy to maintain in the future as well.
I know that it was improved for master/10, so let's see if your desire is heard and shared by Odoo SA ;-)

[2016-07-30 15:17] treviser commented on #12968
@wtaferner I'm not sure if we are talking about the same, I do not see any relation to a translation framework, this is what I mean:
![selection_234](https://cloud.githubusercontent.com/assets/1814941/17271349/6f14fe84-5679-11e6-80bf-df3460c8260d.png)

[2016-07-30 16:05] wtaferner commented on #12968
I know, and this is/was usability wise so far not soo nice especially duplicating stuff, so I was asking for the rational behind, but it should be better for v10 and why not make it able to translate for templates/projects/analytic.

[2016-07-30 17:38] Openies commented on #8322
Oh my god my eyes!
Thanks @odony !!

[2016-07-31 16:07] matt454357 opened #12970 "[master] stock.inventory: can't start an imported inventory adjustment with lines"
Impacted versions:

Using runbot, as of today...

- fails in master
- fails in saas-12
- works in 9.0

Steps to reproduce:

- import a partial inventory (Select products manually)
- click Start Inventory

Current behavior:

- Start Inventory action has no effect

Expected behavior:

- set state to confirm (In Progress)
- show imported inventory lines

Video/Screenshot link (optional):

Here's the

[2016-08-01 02:09] #12942 closed

[2016-08-01 02:26] joshuajan opened #12971 "[9.0]Event disappear in the first day of a week on calendar view"
Impacted versions:
9.0

Steps to reproduce:
My operating system`s timezone is UTC+8.
Create a Meeting (Test-01) in 2016-07-31 5:00am -6:00am.
![8621f547-2a2e-46e3-b126-be737755292a](https://cloud.githubusercontent.com/assets/1176173/17281875/1c8dde1a-57d2-11e6-8b11-e52f7b0962e3.png)
Change the view to Calendar view (by Week).

Current behavior:
Test-01 do not be show on calendar view.
![calendar-0

[2016-08-01 05:58] Yenthe666 commented on #12803
Ugh I could've used this feature so hard now @treviser.. The newest spam flooding:
![image](https://cloud.githubusercontent.com/assets/6352350/17284736/b942bf24-57bd-11e6-8a06-955747b527fe.png)
@mart-e and @odony can one of you guys clean this up from the database perhaps?

[2016-08-01 06:12] treviser commented on #12803
And counting! I'm not doing that manually...

![selection_235](https://cloud.githubusercontent.com/assets/1814941/17284957/ab9a53ee-57bf-11e6-84b9-a140789d0be5.png)

[2016-08-01 06:14] Yenthe666 commented on #12803
Neither am I, I downvoted some of those users but they keep coming so.. this is why we need good anti spam features :+1:

[2016-08-01 06:14] treviser commented on #12803
We should make that an urgent need instead of wishlist only.

[2016-08-01 06:26] treviser commented on #12803
I believe they pay hundreds of slaves to spam any forum out there in the whole internet world. Unbelievable! (do a Google search for this website).

[2016-08-01 06:38] treviser commented on #12803
We should definitely not allow more than 1 post waiting for validation (not 3 not any other number, just one!). It should also be possible to flag closed posts (gives -100 karma at once), so that in the aftermath of an attack it is maybe possible to act against IP addresses.

[2016-08-01 07:02] Yenthe666 commented on #12803
@mart-e @JKE-be and @odony I'd like to get more things going for this. Sometimes the spam amounts get so high it isn't easy to handle anymore. Think we could tackle down some more problems?

[2016-08-01 07:28] JKE-be commented on #12803
It has been cleaned.

[2016-08-01 07:30] abdounasser202 commented on #12962
Cool! @Yenthe666  @JKE-be

[2016-08-01 07:41] Yenthe666 commented on #12962
@abdounasser202 thanks a lot for the suggestion by the way, good idea.

[2016-08-01 07:46] odony commented on #12803
Limiting the queue at 1 post per user is probably a good idea but don't get your hopes too high, that won't stop spammers. They can just create more accounts, and CAPTCHAs won't stop them there either.
The best thing to stop them is what we have now: first posts are not published until they are reviewed. This really removes the incentive for them spending energy or money on our forums.

Then it's

[2016-08-01 07:48] dmo-odoo commented on #12905
Fixed at 7f86272b94b26b68aa1be3933d042efd9fd53008.

[2016-08-01 07:48] #12905 closed

[2016-08-01 07:57] treviser commented on #12803
@odony IMHO it's not about completely stopping spammers by 1 measure only, it's about several measures with 2 goals:
- making life for spammers harder (and opening new accounts makes it definitely harder, especially if a new validated email address is necessary to post a question) AND
- making life easier for moderators.
Restricting unvalidated posts to 1 does not harm legit users and is easy and

[2016-08-01 08:23] treviser commented on #12803
Another measure could be that it is possible for moderators to mark certain URLs (such as S­T­3­３­9­.­C­O­M) and then all messages containing this URL will be automatically deleted and new messages containing such URLs are blocked by default.

[2016-08-01 08:36] Yenthe666 commented on #12803
@treviser I don't agree with you on that one. Sometimes genuine people create a topic with an URL in the topic title and one or more URL's in the content, those would be automatically deleted. That is not very user friendly. A better alternative is to automatically add them in the flagged section so it pops up for administrators right away.

@odony I do agree with you that fighting spammers is ver

[2016-08-01 08:42] treviser commented on #12803
@Yenthe666 I do not agree with you on this one, as long as a post contains an illegit URL, the complete post is illegit, no matter what and how many other URLs are in the same post. And I'm talking about illegit URLs identified and manually marked by a human moderator (such as the URL spread this morning).

[2016-08-01 09:05] treviser commented on #12803
Example: Take the situation this morning: There is no doubt and it is clear for any human moderator, that the URL S­T­3­３­9­.­C­O­M is illegit. I as a moderator would then mark this URL as illegit. All 584 posts containing this URL are now automatically deleted at once. If the spammer uses a new account and tries to post new messages containing the same URL, the messages are blocked/deleted.
How w

[2016-08-01 09:30] roccocesetti opened #12976 "[8.0]Promote This Page"
Impacted versions:8.0

The "Promote This Page" function works only for the homepage, the mask to enter keywords only appears for the homepage

Steps to reproduce:
trying to promote a different page from the homepage, promotion mask appears
Current behavior:
currently pressing on the link should promote comaprire the promotion of the mask mask
Expected behavior:
The "Promote This Page" screen shoul

[2016-08-01 09:32] Yenthe666 commented on #12803
@treviser well let us imagine that I'm the person that wants to advertise. If I see that my topics are automatically deleted / closed / ... because of the URL I would create a script that randomly changes the URL for every new topic. For example:
<ul>
  <li>S­T­3­３­9­.­C­O­M</li>
  <li>S­T­3_３­9­.­C­O­M</li>
  <li>S­T­3­３_­9­.­C­O­M</li>
  <li>S­T­3­_３_­9­.­C­O­M</li>
</ul>

That would perfectly b

[2016-08-01 09:46] treviser commented on #12803
Yes, of course, but it is again something that makes it definitely much harder for spammers and easier for moderators (it is not supposed to solve the spamming problem competely by its own). Just another valuable piece of the puzzle in my opinion. As a human moderator I can easily identify such scripted URL changes and mark any of them. Together with the other also relatively simple measures alrea

[2016-08-01 11:42] JKE-be commented on #12803
We will test with these 2 new rules to start...
1. Now, close the first post of a user for spam, remove 10x karma, so down vote become useless ...
2. And only one post in pending simultaneously...

@treviser @Yenthe666 : Thanks for you suggestions ;)

[2016-08-01 11:42] #12803 closed

[2016-08-01 11:50] Yenthe666 commented on #12803
Alright, let us see how that affects spammers and the usability. Thank you @JKE-be.

[2016-08-01 11:52] JKE-be commented on #12976
Hello @roccocesetti
Thank you for the reporting but can you provide a screen cast ?
We don't understand your error...

We have just re-tested in V8, and all seems to work fine.

[2016-08-01 12:26] treviser commented on #12803
Thank you. Can somebody please inform our beloved spammer to try it again so we can see if he gets pissed off ;-)

[2016-08-01 12:31] JKE-be commented on #12803
![image](https://cloud.githubusercontent.com/assets/4848797/17294067/9e12a066-57f4-11e6-8f5a-d432f6ad6831.png)

[2016-08-01 13:08] milan-thakkar opened #12980 "Create Invoice From picking"
Impacted versions: 8.0

Right now in version 8 when we create invoice from picking(change the destination location to supplier) at that time create only customer invoice instead of supplier invoice.

![transfers odoo](https://cloud.githubusercontent.com/assets/13216534/17294886/0c68c5d2-5817-11e6-91db-90fd4cf97e1f.png)
![transfers odoo_2](https://cloud.githubusercontent.com/assets/13216534/1729488

[2016-08-01 13:19] vgo-dev commented on #12980
@milan-acespritech , You are right some where , i check what you want to present,
As per my view need improvement ,
there is two way to resolve: 1.give domain in location.
2.need to be create supplier invoice.
if i am wrong then please correct me...

[2016-08-01 14:00] #12971 closed

[2016-08-01 14:02] sle-odoo commented on #12967
Which version of safari are you using? What's the error message displayed when you're printing a report?

[2016-08-01 14:39] JKE-be commented on #12970
Probably not a bug due to the import.
I already reported the bug from front end.
Thanks for the reporting.

[2016-08-01 14:55] #12914 closed

[2016-08-01 15:07] JKE-be commented on #12970
Ok, I have just checked and the bug reported has been fixed in commit https://github.com/odoo/odoo/commit/ec841b7fa17378578a3a56a957fd81c0fc9adc30

Can you check that you have well tested with this rev...?
And if the bug is always existing, can you provide your xml...

Thanks

[2016-08-01 15:17] sle-odoo commented on #12929
@mgielissen could you try again with the last patch? thanks

[2016-08-01 15:32] JKE-be commented on #12970
Related commit: odoo-dev/odoo@e94c1bb57b7848edba52771c70729edbad4e32e4

[2016-08-01 16:14] #12970 closed

[2016-08-02 01:50] aetna-softwares commented on #12288
Hi, long time I didn't give feedback on this issue.

It does not happens again. I suspect that the high value in  db_maxconn (was set to 100 because of a too heavely parallelized worker)  was the source of the problem.

I'll keep you informed if it happens again.

[2016-08-02 04:46] milan-acespritech commented on #12980
@vgo-dev Needs to improvement and i believe no needs to define domain...
for invoice based on location type you can easily find out way of creating invoice for supplier or not.

[2016-08-02 05:29] treviser commented on #12803
@Yenthe666 @JKE-be Again:

![selection_236](https://cloud.githubusercontent.com/assets/1814941/17317940/d20c0914-5882-11e6-95ef-3cf190afc392.png)

[2016-08-02 06:42] Yenthe666 commented on #12803
Yup and counting.. can any of you guys clean that up again? :frowning:

[2016-08-02 06:46] treviser commented on #12803
Not counting, I stopped the guy who so in love with his wife :-)

[2016-08-02 07:06] JKE-be commented on #12803
Hello, it is done.
The patch from yesterday is not already on the production server.

[2016-08-02 07:28] pedrobaeza commented on #12408
:+1: for not deprecating `@api.one`.

[2016-08-02 07:54] mgielissen commented on #12929
User Preference Screen works fine in IE11.

[2016-08-02 08:08] Yenthe666 opened #12987 "[Wishlist] Ability to translate / change labels in developer mode"
Hi guys,

It would be great to have the ability to translate / change labels in views while you've got developer mode enabled.
At this point you can only translate or change labels from `Settings > Translations`, which works ok but it can be difficult to find terms that are used a lot in the system (such as `Price`).
Something along the lines of the website where you can select text and change it

[2016-08-02 08:08] Yenthe666 commented on #12987
@mart-e can I ask you for feedback / what you think about this? Can I label this wishlist?

[2016-08-02 08:25] mart-e commented on #12987
Look it's already there ! Well not in the web interface directly but it's already a pretty good tool to do so.
![screenshot from 2016-08-02 10-20-20](https://cloud.githubusercontent.com/assets/564822/17321937/4d0ab6d4-589b-11e6-8a03-da73a614aea1.png)

[2016-08-02 08:45] Yenthe666 commented on #12987
@mart-e well yes but it is still not very clear and besides, look at the result when clicking on it:
![image](https://cloud.githubusercontent.com/assets/6352350/17322543/32410558-589e-11e6-92dd-52f850e975d7.png)

It would be great if you could do it inside the view :+1:

[2016-08-02 08:53] mart-e commented on #12987
@Yenthe666 the empty list is because you have no language loaded ;-)

Doing it inside the view could be nice but it is not the priority. The priority is to allow an easy customisation of the view (think Odoo Studio) and then make it easier to translate but for now I think this menu is enough (maybe we can rename it, "Technical translations" is not clear).

Closing as developing a new interface in

[2016-08-02 08:53] #12987 closed

[2016-08-02 12:20] #12573 closed

[2016-08-02 12:28] JKE-be commented on #7695
This should be done from front end (from the forum directly).
In front end, the KarmaError is catched... and display with a proper way.
This menu is more for admin, superviser, moderator,... who should have karma... and so never have this error.

[2016-08-02 12:28] #7695 closed

[2016-08-02 15:51] sle-odoo commented on #12929
@mgielissen actually it is not: the save and discard button are not displayed correctly. however normal modals like the print general ledger are ok. It's a little tricky...

[2016-08-02 16:44] ddfs commented on #4576
this is different than mine. i am trying to adjust free shipping for a product but no success.
and still checking it if anyone did or a solution exists for that.

[2016-08-03 01:35] rafaelbn commented on #12964
:+1:

[2016-08-03 01:36] rafaelbn commented on #12961
:+1:

[2016-08-03 07:01] leemannd commented on #10529
@mart-e It's no temporary bug. It's working fine now, but it has been fixed here https://github.com/odoo/odoo/commit/0c3cd7cbb48c2291c2e79ce6907547b79342ad91

[2016-08-03 08:46] jlsuarez7 opened #12998 "Create contact shows wrong form coming from a company sheet."
Impacted versions:
9.0c

Steps to reproduce:
1. Go into module Contacts
2. Select a company
 You should see the company in Form view
3. Click on List View
4. Click on Create

Current behavior:
The form will have Company radio button as active, but shows the form as if Individual radio button is selected. (When you select Individual and then Company again, then you will get the correct form)

Expec

[2016-08-03 08:59] jlsuarez7 opened #13000 "Advance search Favorite filter checkboxes acts like radiobuttons"
Impacted versions:
9.0c

Steps to reproduce:
1. Click on module Contacts (or other modules with advance search like e.g. Sales or Apps)
2. Show the advance search bar by clicking on the little triangle, on the right side of the search bar.
3. Click on Favorites
4. Click on Save current search
5. Select `Use by default`
6. Select `Share with all users`

Current behavior:
When you select either one

[2016-08-03 11:09] rohailnasir commented on #8710
Hi I am having the same issue. Below is the exception i face

2016-08-03 15:06:40,493 3656 ERROR TEST openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "D:\eclipse\Workspace\odoo-9.0c-latest-20160613\openerp\http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\eclipse\Workspace\odoo-9.0c-l

[2016-08-03 12:25] #11346 closed

[2016-08-03 12:29] mart-e commented on #11346
Hello,

Thank you for the report. The problem is that you have removed the symbol of your currency (or added a new currency without symbol).
I have fixed the False issue at 1dbd0857430401464cab11c41b24bb44724dcf7f but ideally, I will make the symbol mandatory on a currency (for v10).

[2016-08-03 12:41] sle-odoo commented on #12929
fixed with rev 3e2faec034c7bc85066b22a00e70be6da8e60a24

[2016-08-03 12:41] #12929 closed

[2016-08-03 13:09] sle-odoo commented on #12961
@Yajo it seems that the tour system in v9 is not so smart and if a ```waitFor``` or a ```waitNot``` condition is honored for multiple consecutive steps and that the page is reloading between the steps, the tour will not understand that it should go to the next one and still run the same step if the condition are still matching.

It looks like it's your issue, as you always have to use your workaro

[2016-08-03 14:20] Yajo commented on #12961
I can't find `web_tip`. Do you mean [`web_tour`](https://github.com/odoo/odoo/tree/master/addons/web_tour)?

[2016-08-03 14:24] sle-odoo commented on #12961
yes

[2016-08-03 14:35] #12566 closed

[2016-08-03 15:05] gwasky opened #13008 "Odoo POS - print receipt only when needed"
Impacted versions:
8.
Steps to reproduce:
Add Items to a bill, enter amount paid by customer. Validate transaction.

Current behavior:
Receipt is printed on validation.

Expected behavior:
Need an option to either choose to print a receipt or not on validation
Any ideas?
Video/Screenshot link (optional):

[2016-08-03 15:28] ccomb opened #13010 "NameError: global name 'f' is not defined"
Hi,
Just a reminder in case this bug lands in v10 final...
See here https://github.com/odoo/odoo/blob/master/openerp/models.py#L2841
(cc @rco-odoo )

[2016-08-03 16:06] sle-odoo commented on #12927
How did you come to the conclusion that the issue is linked with having multiple databases?

[2016-08-03 18:47] superxiaow commented on #3481
in this particular case,
keep _name = 'todo.task' when inherit models.

[2016-08-04 05:36] rohailnasir opened #13014 "[9.0] ERROR TEST openerp.http: Exception during JSON request handling."
Odoo 9 is having trouble loading menu bar for my in-use database. While parsing it raises the below exception.
![odoo error](https://cloud.githubusercontent.com/assets/7452386/17391393/c511a4bc-5a26-11e6-8419-15b387026f23.png)

_2016-08-04 11:18:43,190 16140 INFO ? openerp.service.server: HTTP service (werkzeug) running on localhost:8069
2016-08-04 11:18:47,832 16140 INFO ? openerp.addons.bus.mode

[2016-08-04 06:46] Yenthe666 commented on #12998
Hi @jlsuarez7,

Thanks a lot for your report. I can confirm that this is not correct behaviour and that this should be fixed.
@mart-e can you look at this please?

Regards,
Yenthe

[2016-08-04 06:54] Yenthe666 commented on #13000
@mart-e I've noticed this before too and I too would love the ability to be able to do both.
Is this perhaps something we could change or implement by V10?

[2016-08-04 06:56] Yenthe666 commented on #13010
Hi @ccomb,

Thanks for the report, that indeed looks like a bug right there. Strange that the automated tests didn't fail on this :smile:
@mart-e and @odony putting you guys in CC too, as this is quite important. (even though it is the master)

[2016-08-04 06:57] Yenthe666 commented on #13014
Hi @rohailnasir,

Could you provide us with the rest of the stacktrace please? This is not the full error / crash and we need the bottom part to know what is wrong or what happend.

[2016-08-04 07:04] vgo-dev commented on #12980
@milan-acespritech lets pull it

[2016-08-04 07:15] richard-willowit opened #13017 "[9.0] Vendor currency not being respected for new vendor bills"
Impacted versions:

9.0

Steps to reproduce:

Create a vendor, on the accounting tab, choose a currency different from the default.  Create a new vendor bill for that vendor.

Current behavior:

The currency stays as the default currency from the journal.

Expected behavior:

The currency should change to that from the vendor.

Video/Screenshot link (optional):

[2016-08-04 07:23] rohailnasir commented on #13014
Hi @Yenthe666, I have updated the stacktrace above, kindly check if thats wt you are expecting?

[2016-08-04 07:51] jlsuarez7 commented on #13000
Use this workaround if you want to able to set them both now:
1. Save a new filter with 'Share with all users' selected
2. Go into Developer Mode
3. Go to Settings
4. Click in the menu on 'User Interface' under 'Technical'
5. Click on 'User-defined Filters'
6. Select the filter you created in the 1st step
7. Click on Edit
8. Check 'Default Filter'
9. Click on Save

[2016-08-04 08:04] Develoman commented on #12960
@mart-e  the commit link not found !  https://github.com/odoo/enterprise/commit/33a2607dd4c41877cd777e2ef25ba019b2391b80

[2016-08-04 08:10] mart-e commented on #12960
@Develoman the bug report was for an enterprise module so I have fixed it in enterprise repository which is private except for the partners with enterprise contract. So just update your enterprise code to get the fix :)

[2016-08-04 08:33] ydaniels commented on #8514
The issue is from postgres not odoo but to solve it Odoo still has to implement a way to rollback failed transaction before executing a new one

[2016-08-04 08:36] gordonzola opened #13018 "[9.0] html_frame widget saves empty value in 'code view' mode"
Impacted versions:
- 9.0
- My browser is Firefox-45.2.0 on a Gentoo GNU/Linux system

Steps to reproduce:
- activate developper mode (by adding `?debug=1` at the end of the URI)
- open a form containing an `html_frame` widget (for example, edit a `mass_mailing` object) in editing mode
- click the *code view* button
- save the form

Current behavior:
- The saved value is empty.

Expected behavior:

[2016-08-04 08:48] odony commented on #13010
Thanks for the heads up, fixed in `saas-12`, to be forward-ported soon in master.

[2016-08-04 08:48] #13010 closed

[2016-08-04 09:05] mart-e commented on #13000
@amigrave I believe you added this at f20c884cf5227052f368352c9dc7664ed7831e21 which I am sure you recall the reason

[2016-08-04 09:20] Yajo commented on #12927
Debugging. I used patch at #12933 and problem stopped.

[2016-08-04 10:37] Yenthe666 commented on #13018
Hi @gordonzola,

Thanks a lot for you report.
I've just tested this and I can confirm this is a bug. They are rendered correctly if you're no in the code view, they don't render correctly when you save while being in the code view mode though. An example:
![image](https://cloud.githubusercontent.com/assets/6352350/17398986/06aa2f98-5a40-11e6-9a4b-8a66c1e0ac7e.png)
@sle-odoo and @mart-e this is som

[2016-08-04 11:59] #12832 closed

[2016-08-04 12:22] mart-e commented on #12998
@ged-odoo could you take a look? It seems that the `default_get` is not correctly applied on the `FieldRadio` widget. You have the same bug with the "Email Messages and Notifications" field, the value is not properly reset.

[2016-08-04 12:23] mart-e commented on #13018
@Gorash @qsm-odoo any idea on this?

[2016-08-04 12:48] Gorkygd commented on #12880
Hello there,

Is this issue confirmed or dismissed?

Thanks

[2016-08-04 13:23] Gorash commented on #13018
Yes don't save in code view: because the content must be converter by in-liner to save it and if the user want to save the code view directly, it's wrong. The code view is in debug mode for knowledgeable person.

[2016-08-04 14:48] fpodoo commented on #13000
We removed it for usability reasons. We had too much issues with customers
in production with it.

On Aug 4, 2016 2:05 AM, "Martin Trigaux" <notifications@github.com> wrote:

[2016-08-04 15:01] mart-e commented on #13000
Thanks for the info @fpodoo.
So as said, it's actually wanted because users did not understood the implication of "set by default for all" (which was odd, I don't want other people messing with my default filters).

[2016-08-04 15:01] #13000 closed

[2016-08-04 15:11] mart-e commented on #13018
So while we confirm the preview is not working in debug mode + code view, it is an advanced feature only available in debug mode still experimental. We will try to improve that but it is not a priority, sorry.

[2016-08-04 15:11] #13018 closed

[2016-08-04 15:14] mart-e commented on #13008
Hello,

Sorry but it is not possible for now (there is the pos_reprint module to manually print again an order but still need to print it the first time).
It is actually wanted on most POS (must be fast, want to press the min number of buttons) so sorry but we don't provide it so far.

[2016-08-04 15:14] #13008 closed

[2016-08-04 15:55] JKE-be commented on #12365
@sle-odoo fixed ? closable ?

[2016-08-04 16:55] kaerdsar opened #13036 "[8.0] l10n_de: why bank account allows reconciliation?"
Impacted versions: 8.0

I'm doing reconciliation for creditors accounts. When I request to find operations to reconcile I get operations with account of type bank. Usually the accounts that should be reconciled are debtors, creditors or other with similar purposes. In the Germany localization module, bank accounts has the attribute Allow Reconciliation set to True. I would like to know the reason

[2016-08-04 17:29] samersarhan commented on #3749
Any update for this issue?

[2016-08-04 18:24] kaurov commented on #4682
thank you very much for this solution!
for newbies like me:
to apply this solution, I need to
1) click profile -> about -> activate the developer mode
2) to visit settings -> groups http://......./web?&debug=#page=0&limit=80&view_type=list&model=res.groups&menu_id=78&action=68
3) open Setting -> Security -> Record Rules
/web?&debug=#page=0&limit=80&view_type=list&model=ir.rule&menu_id=36&action=20

[2016-08-04 22:20] wkeynes commented on #10824
actually you can do split delivery order using the do_split function.
all you have to do is to change it to call the do_new_transfer instead of just do_transfer.

so, modify to this:
`  def do_split(self, cr, uid, picking_ids, context=None):
        """ just split the picking (create a backorder) without making it 'done' """
        if context is None:
            context = {}
        ctx = contex

[2016-08-05 03:58] lukebranch commented on #4682
@anajuaristi ,

Thank you for this. I have been trying to figure out why sales team members could not see leads assigned to their team for some time now in version 9.0.

I really believe this should be merged into the 9.0 branch as a fix, and definitely fixed in master before the 10.0 release.

Without it the contact form on the website among other things is only visible by the admin user by defau

[2016-08-05 05:42] treviser commented on #4682
I wholeheartedly support that!

On 05.08.2016 05:59, Luke Branch wrote:

--
twanda AG
Ermin Trevisan
Artherstrasse 19
CH-6318 Walchwil
T    +41 41 758 1515
M    +41 79 208 7373
E    trevi@twanda.com
www.twanda.ch
www.twanda.ch/page/restaurant

[2016-08-05 05:45] treviser commented on #4682
@Yenthe666 Could you have a look at this?

[2016-08-05 06:07] Yenthe666 commented on #4682
Hmm I'm not sure about this one to be honest.. @mart-e and @odony can you guys look at this please?

[2016-08-05 06:24] treviser commented on #4682
For me the most embarrassing is that new leads from the website contact form are assigned to the admin user by default and that there is not notification whatsoever to the designated sales team and/or team leader.

[2016-08-05 07:36] #13017 closed

[2016-08-05 07:41] JKE-be commented on #13014
You should print 'files' from File "D:\eclipse\Workspace\odoo-9.0c-latest-20160613\openerp\addons\web\controllers\main.py", line 530, in qweb
content, checksum = concat_xml(files) ...
Seems like you have a badly formatted file. (`ParseError: no element found: line 1, column 0
`)
Do you have some customizations ?

[2016-08-05 08:04] kaurov commented on #4682
--
I will prefer visible ONLY to the website sales team. Or that sales team, on which alias this lead email was sent.
But it should not be unassigned and visible to everybody.

[2016-08-05 08:32] mart-e commented on #4682
Hello,

As mentionned @treviser, the fact that the leads are assigned to the admin is the reason we do not restrict per sale team (when you receive something from the website, we don't know to which team it should be assigned yet). When we need to do the lead assignation (manual or automatic) to different sale teams in different companies, we need to access all leads.

As a general rule for Odoo s

[2016-08-05 08:32] #4682 closed

[2016-08-05 08:46] aristobulo-eezee commented on #12777
This is related to:
https://github.com/odoo/odoo/commit/5e466d3507d81db5fd698d18fe623e5b802bd011

and could have been resolved.

[2016-08-05 09:02] Yenthe666 commented on #5645
@mart-e this is still the case. Perhaps we should make this translatable?

[2016-08-05 09:05] Yenthe666 commented on #5640
Hi @dhongu,

I don't see any problems with this code and neither do I see changes in the 'wrong' and 'correct' version?
Either way, this is not a bug and works as expected.

Regards,
Yenthe

[2016-08-05 09:05] #5640 closed

[2016-08-05 09:09] Yenthe666 commented on #8116
Hi @gemchand,

Thank you for your report but we only handle bug reports that are about the official Odoo code.
I'm closing this issue since it is an external module, not a default Odoo module. If you still face this issue you can ask help on the official forums (help.odoo.com).

Regards,
Yenthe

[2016-08-05 09:09] #8116 closed

[2016-08-05 09:10] treviser commented on #4682
@mart-e Thanks for your answer. I understand that data coming from the website must be assigned reasonably. But what for do I define a default website sales team and a default sales person in the configuration of Website Admin, if not exactly for such use cases?

[2016-08-05 09:13] Yenthe666 commented on #8022
Hi @jarmokortetjarvi,

Thanks a lot for your report. I've just tested this and this is indeed a bug.
Example:
![image](https://cloud.githubusercontent.com/assets/6352350/17432081/980a285e-5afd-11e6-808b-ed23f9f20dca.png)

@JKE-be can you look at this please?

Regards,
Yenthe

[2016-08-05 09:17] Yenthe666 commented on #8016
Hi @steverweber,

Thanks a lot for your 'report'.
It is indeed true that the amount of issues and pull requests have been growing quite big. This is the reason why Odoo has decided to try and start tackling this issue by closely monitoring issues. You can already see the result, since the amount of open issues has dropped with about 300+ in 3 months.
On the other hand we have the large amount of p

[2016-08-05 09:17] #8016 closed

[2016-08-05 09:20] JKE-be commented on #8022
@jarmokortetjarvi
Thank you for the reporting.
I will try to add a warning.

But this route/'view name' is forbidden since the controller /website/info use it by default.

Maybe we could user other 'view name' for v10, but for stable version, it is not possible.

[2016-08-05 09:20] Yenthe666 commented on #8015
Hi @gavelino and @mart-e,

I'm closing this 'issue' since it has been answered. Thanks a lot for the report, quite interesting to see. :+1:

[2016-08-05 09:20] #8015 closed

[2016-08-05 09:21] Yenthe666 commented on #8022
@JKE-be it works in V9, so perhaps that should be backported.

[2016-08-05 09:23] Yenthe666 commented on #7964
Hi @vuivuivuiquab0,

Thanks a lot for your report but Github issues are only used for bugs in the official Odoo code.
If you still face this issue you can ask this question on the official forum where other people can help you (help.odoo.com).
Either way, without seeing the code we can't really tell you what is wrong.

Regards,
Yenthe

[2016-08-05 09:23] #7964 closed

[2016-08-05 09:24] Yenthe666 commented on #7963
Hi @parthivgls,

Thanks a lot for your suggestion! I've labelled it wishlist for now so that Odoo can look at this and who knows, it might be eventually added.
@JKE-be and @mart-e I like the idea. Can this be reviewed?

[2016-08-05 09:30] Yenthe666 commented on #7962
Duplicate of https://github.com/odoo/odoo/issues/7963
Closing this issue because it is a duplicate.

[2016-08-05 09:30] #7962 closed

[2016-08-05 09:32] JKE-be commented on #7963
@Yenthe666 blog is currently migrate to new api and refactored.
IMHO, publish date is including in this refactoring.

[2016-08-05 09:33] Yenthe666 commented on #7767
Hi @Bhaviraj,

Thanks a lot for your report but Github issues are only used for bugs in the official code.
Your question however is about custom development. If you still face this issue please create a new question on the official Odoo help forums (help.odoo.com).

Regards,
Yenthe

[2016-08-05 09:33] #7767 closed

[2016-08-05 09:34] Yenthe666 commented on #7963
@JKE-be so we'll have a create **and** publish date in Odoo 10?
In this case we can close this suggestion then.

[2016-08-05 09:37] ddfs opened #13040 "[8.0] [9.0] inner page menu"
any plans to add inner page menus for website ?

https://ps.w.org/inner-page-menu/assets/screenshot-1.png?rev=1169403

[2016-08-05 09:37] JKE-be commented on #8022
behavior is not really the same...
Since v9, if you try to create a page which one already exists, the name is appended with a numbered suffix.

In v8, you was redirected... to the existing page.

So if we backport it, that will change the behavior from the stable version 8.
What I suggest is a redirect... directly in the view of website.info. but it will require a manual update of the view... or

[2016-08-05 09:41] jat-odoo commented on #7963
@Yenthe666 https://github.com/odoo/odoo/pull/11632
Hope, this help.

[2016-08-05 09:42] Yenthe666 commented on #7650
Hi @max3903,

Thanks a lot for your report! I've just tested this in the latest Odoo 8 and I can no longer reproduce this issue.
It looks like it has been fixed in the meanwhile :gem:

Regards,
Yenthe

[2016-08-05 09:42] #7650 closed

[2016-08-05 09:51] Yenthe666 commented on #7455
Hi @andrius-preimantas,

Thanks a lot for your report. I've just tested this on the latest Odoo 8 and Odoo 9 and I can no longer reproduce this issue.
The copying of projects works fine out of the box on both Odoo versions now.

Regards,
Yenthe

[2016-08-05 09:52] #7455 closed

[2016-08-05 09:53] Yenthe666 commented on #7417
@mart-e perhaps this is something for you? :smile:

[2016-08-05 09:54] JKE-be commented on #7963
to check...

[2016-08-05 09:57] Yenthe666 commented on #7274
Hi @paula-em-lafon,

Please update your Odoo codebase to the latest PR with a git fetch, then do an update of your Odoo and all your issues will be gone.
Closing this since we have no way of reproducing and it should really be fixed by now.

Regards,
Yenthe

[2016-08-05 09:57] #7274 closed

[2016-08-05 10:09] ramganesh19 commented on #11627
I am also getting similar with after download the 9.0 branch copy and when running the application
additionally i dont see any apps

Apps
Settings
 Administrator
×
Change My Preferences
×
Odoo Client Error
Uncaught Error: Widget type 'html' is not implemented
http://localhost:8069/web/content/345-0689709/web.assets_backend.js:3592
Traceback:
Error: Widget type 'html' is not implemented
    at http

[2016-08-05 10:19] mart-e commented on #7417
No look, it's [documented here](https://docs.python.org/2.7/library/stdtypes.html#dict.update) :wink:
The `update` method on a recordset is what you would expect on a dictionary.

[2016-08-05 10:23] #8022 closed

[2016-08-05 10:24] JKE-be commented on #8022
Thanks for the reporting

Require an update of website to have the fix.
Or apply the diff manually in the view website.info

[2016-08-05 10:26] Yajo commented on #7417
Yes, but it is not a dict. You are not inheriting dict to declare the recordset object afaik... Or does it have items, iteritems, keys, values, iterkeys, itervalues, get, pop, etc.?

The problem is not that it does what you expect, the problem is that you don't know what to expect because you don't even know if it exists because it is not documented.

[2016-08-05 10:47] JKE-be commented on #13040
Technically, it should be possible to do it...
It is a question of design...

Maybe, a theme already use it ...

[2016-08-05 10:47] #13040 closed

[2016-08-05 10:49] ddfs commented on #13040
i agree, technically a lot of things are possible.

[2016-08-05 10:58] JKE-be commented on #13040
lol :+1:
When I say technically, i should say:
   Probably without external module ...
  Just with html / js / base menu model...

That should not require any extra `complicated` dev :package:

[2016-08-05 11:10] Yenthe666 commented on #11627
@ramganesh19 can you reproduce this on an official Odoo instance? (runbot.odoo.com)

[2016-08-05 11:17] Yenthe666 commented on #9329
Hi @jni-odoo,

This issue is no longer present in Odoo. Fixed example:
![image](https://cloud.githubusercontent.com/assets/6352350/17435131/f6d99296-5b0e-11e6-93b7-0ad60802d435.png)

[2016-08-05 11:17] #9329 closed

[2016-08-05 11:18] Yenthe666 commented on #9776
Hi @stephaniemillet,

Thanks a lot for your report. I'm closing this since the Odoo support channel has answered all your questions. If things aren't clear or if you need more information you can continue the conversation by e-mail.

Regards,
Yenthe

[2016-08-05 11:18] #9776 closed

[2016-08-05 11:20] Yenthe666 commented on #9322
Hi @nkoddlb,

Thanks a lot for your report. As you've indicated that you've changed translations etc and this is not a bug in the official Odoo code I can't really 'fix' this.
If you still face this issue you should update your Odoo codebase and database so that all data is rendered again. Your issues should be gone then.

Regards,
Yenthe

[2016-08-05 11:20] #9322 closed

[2016-08-05 11:21] Yenthe666 commented on #9271
Hi @aduijs,

Thanks a lot for your report. This issue should be fixed in the mean time.
If you update your Odoo codebase and database again the problem will be resolved.

Regards,
Yenthe

[2016-08-05 11:21] #9271 closed

[2016-08-05 12:11] JKE-be commented on #13040
For example:

[code]

Will make the job (http://164357-9-0-72479c-all.runbot.odoo.com/page/menu-in)

[2016-08-05 13:24] dreispt commented on #9776
FYI there is an OCA module restoring the default stages feature: https://github.com/OCA/project/tree/9.0/project_task_default_stage

[2016-08-05 13:27] ddfs commented on #13040
thanks, i was thinking more like using model used in top_navigation. create and call them from them.

i will work on this and hopefully will get it working :)

[2016-08-05 13:33] dreispt commented on #7417
@mart-e Is using the `update` equivalent to assigning each field value individually?
If so, it should share it's limitations: it only works on singletons and performs a database write for each written field.

[2016-08-05 13:36] Yajo commented on #7417
Hopefully that will not happen from v10 since they merged https://github.com/odoo/odoo/pull/9210.

The main difference is that update works fine inside onchanges (AKA, does not writes).

[2016-08-05 13:41] tde-banana-odoo commented on #8015
What are the 2016 results ?

[2016-08-05 13:51] dreispt commented on #8015
I guess this was before the API rewrite.
I bet @rco-odoo surely shows up in the list if the number were updated.

@gavelino can you share the tools/scrips that allow this computation?

[2016-08-05 13:57] dreispt commented on #8015
I guess this was before the API rewrite.
I bet @rco-odoo surely shows up in the list if the number were updated.

@gavelino
Can you share the tools/scripts that allow this computation?
What is the criteria do count LOCs per person? a `blame`on the code, or a sum of +/- lines on commits?
These two criteria would surely tell a different story...

[2016-08-05 14:01] mart-e commented on #8015
@dreispt you have some math on the pdf on peerjs.com.
If I recall, the issue was that the ORM was only responsible for only a fraction of the code (even if a critical one), so even if a major change was done in v8, it is not a game changer in the number of file (due to the retro-compatibility)

[2016-08-05 14:09] dreispt commented on #8015
@mart-e Good point.

[2016-08-05 14:18] dreispt commented on #7417
@Yajo Said that way, sounds like a problem to be fixed with in ` write` method in the first place...

[2016-08-05 14:24] Yajo commented on #7417
Unless something changes, Odoo has right now different methods for working with cache records and database records: new=create, update=write.

Cached versions should not write to database until cache is consolidated.

Why do these differences exist when simply create and write (and unlink, why not?) could detect they are under a `with self.env.do_in_onchange():` block and avoid db writes if so? Th

[2016-08-05 14:27] ossvn opened #13046 "Small change to form.common.js"
Impacted versions: 9.0

Current behavior:
`if(multi_select) {
                    options.buttons.splice(1, 0, {text: _t("Save & New"), classes: "btn-primary", click: function() {
                        $.when(self.view_form.save()).done(function() {
                            self.view_form.reload_mutex.exec(function() {
                                self.view_form.on_button_new();

[2016-08-05 15:29] ivantodorovich commented on #7010
So, no solution to this?

[2016-08-05 16:53] grottas opened #13049 "[R&D] Implement num2words python library and deprecate amount_to_text methods"
Hi All:

There is a method for converting numbers to words, useful in many cases, e.g. fro writing checks, expresing the invoices in words, etc. The actual method in the file openerp/tools/amount_to_text.py and amount_to_text_en.py  doesn't have many languages implemented, seems to be  an unmaintainable and horrible code (see closed PR [#2650 comment](https://github.com/odoo/odoo/pull/2650#issueco

[2016-08-05 18:01] antonylesuisse commented on #13049
Yes we will use num2word with a fall back to empty string if the lib cannot be located. PR are weclomed.
 Show all checks

[2016-08-06 00:00] v3ss0n opened #13052 "Downloaded modules not shown up at the apps list."
I downloaded United Backend Admin modules and added to all addon folders but it is not appearing in  module install interface of apps.

How do to it?

odoo 9.0 nightly build.
python odoo.py --addons-path=addons

[2016-08-06 02:04] moylop260 commented on #12050
Do you have a news about this issue?

[2016-08-06 08:05] JKE-be commented on #12050
Hello
It is confirmed but not already fixed.

Fix should be to upload attachment when user past base64 img into the éditor (like github) and replace with the new attachment created.

PR is welcome :)

[2016-08-06 08:42] treviser commented on #10500
![selection_242](https://cloud.githubusercontent.com/assets/1814941/17455760/74a00f3a-5bc2-11e6-9276-8b4711ce02a8.png)

[2016-08-06 10:50] Yenthe666 commented on #13052
Hi @v3ss0n,

Thanks a lot for your report but Github issues are only for bugs in the official code, not for unofficial modules.
You should go to settings and click on 'Update modules list' and then search for the module again.
If you are still stuck please post a question on the official help forum (help.odoo.com) and I'm sure somebody else can help you there!

Regards,
Yenthe

[2016-08-06 10:50] #13052 closed

[2016-08-06 15:04] moylop260 commented on #12050
I have a confirmed issue 680023 OPW from 2 months ago.
What is wrong here?

[2016-08-06 18:38] v3ss0n commented on #13052
I can't ask question there because of Karma thats why i came here.
Found out the way to do :
it have to enable Developermode from About page.

[2016-08-07 05:45] treviser commented on #13052
@v3ss0n If you validate your email address you get enough karma to post a question.

[2016-08-07 17:58] rowemoore commented on #3156
@jorenvo

Could you post an example nginx config file that sends /pos/web requests to http.  I've tried using [this technique](http://serverfault.com/questions/270339/nginx-force-ssl-on-one-path-non-ssl-on-others), but it's not working.

[2016-08-07 20:21] grexe commented on #11419
thaks @odony for the elaborate and helpful answer! I must say I never had any issues with updating this way, so I can attest your test and build pipeline works fine:)
It's still rather unusual, though, and leaves a fuzzy feeling without an official backup+restore plugin...

Also waiting for a fix for #11417 so this is my main motivation to upgrade - performance has improved in a lot of areas, it s

[2016-08-07 20:24] grexe commented on #11417
thank you @JKE-be for your updates on my issues, just checked now beucase of holidays - can only test at the customers site in ~2 weeks, sadly, as the owner is also on holidays...

For now I can only say that I noticed performance improvements in various areas, but sadly this issue still remains, and also occurs when creating a new meeting.

[2016-08-08 01:22] lukebranch commented on #4682
@mart-e ,

Thanks for taking the time to explain that. I think it definitely be beneficial for small business owners getting started with Odoo to have a module (perhaps activated by a checkbox in Website Admin >> Configuration, or Sales >> Settings >> Leads) to allow for emails from website_crm (contact form) to be able to be seen by the entire 'Website Sales' team (Sales >> Configuration >> Sales

[2016-08-08 03:28] rohailnasir commented on #13014
@JKE-be  nope, no changes at all. It runs perfectly fine on a new database.

[2016-08-08 05:32] treviser commented on #4682
My target customers are small business owners. They usually do work with Odoo once a week, when they are doing their administrative work. But in the mean time they need to be notified by email, when a contact request is coming in through the website in order to react in time. I already spent many days to set up such an environment and it is still not working properly.

[2016-08-08 06:05] ulrichkrenn commented on #5381
Hi, the problem still exists on actual odoo 8 runbot.

Example:

   ("Warning! You must assign a serial number for the product iMac" each time)

The dialog showed 2 lines each 1 piece.
4x 2 lines each 1 piece where shipped!!!

Shipped
[1] Ice Cream	1.000		Partner Locations/Customers		Done
[A1232] iPad Mini	1.000		Partner Locations/Customers		Done
[1] Ice Cream	1.000		Partner Locations/Customers		D

[2016-08-08 07:23] ramganesh19 opened #13057 "Blank screen after login as Admin or Demo user, after building odoo 9.0"
Impacted versions: 9.0

Steps to reproduce: Follow Source install instruction from https://www.odoo.com/documentation/9.0/setup/install.html#setup-install-source for windows platform
at the last step to "Running Odoo"

python odoo.py -w odoo -r odoo --addons-path=addons,../mymodules --db-filter=mydb$

I want to try the POS app and test it.

Current behavior:
Received error message
odoo.py: error:

[2016-08-08 07:35] chinesteves opened #13058 "Employee Appraisal"
Impacted versions: 9.0

Hi,
I would just like to ask if Employee Appraisal is already available in version 9. In version 8.0 there's a module named 'hr_evaluation' which I can't find in v9. I already googled it but I can't find one.

Hoping for your positive response.
Thanks

[2016-08-08 07:37] treviser commented on #13057
The documentation says:

So check and make sure:
- you are on the proper Odoo path when invoking Odoo: "C:\YourOdooPath", otherwise you have to specify the full path to Odoo's and your addons folders
- "../mymodules" is a placeholder for your actual location of your addons modules (if the directory does not exist, create it first).

[2016-08-08 08:07] lukebranch commented on #13057
@ramganesh19 ,

Do you have any community modules (ie. not written by Odoo SA) in your addons_path?

Sometimes if there's a community module not functioning as it should you'll see this kind of issue.

Try looking at the following URL on that machine and you should be able to see the interface in debug mode:

http://localhost:8069/web?debug

If it's a community module causing the issue you'll need

[2016-08-08 08:20] JKE-be commented on #13014
You can always try to delete all your asset attachments to force the generation again... But if it is a static file, it should not fix the problem.
But if you had the filename which fail, it will be easier... Maybe you db is online ?
Did you try in debug mode (which one don't use assets) if you have the error ? (?debug= in url)

[2016-08-08 08:35] JKE-be commented on #11417
Ok, no problem...
Open the calendar view can be slow sometimes... But open a calendar.event object in form view should be fast...
The network manager from chrome should help you to see which request is 'to optimize'...
To debug it, it will be easier if you can provide one db where the latency is reproducible...

[2016-08-08 09:07] jni-odoo commented on #13058
It is there in the enterprise version , not in the community version..

module name is hr_appraisal..

Thanks

Nikunj Jani (Odoo India)

On 08/08/2016 01:05 PM, chinesteves wrote:

[2016-08-08 09:56] #5645 closed

[2016-08-08 10:27] elperrofarelo opened #13062 "(9.0) Leave Request (hr_holidays) number of days calculation wrong"
Impacted versions: 9.0 - 10.0

Steps to reproduce: Modify date_from or date_to in Leave Request form (hr_holidays.edit_holiday_new) and watch the field days (number_of_days_temp)

Current behavior: The days on leave (number_of_days_temp) is not correct calculated according the Working Time (calendar_id) and the timezone

Expected behavior: The days of leave must take account the timezone and the e

[2016-08-08 10:29] debaetsr commented on #10577
I'm experiencing this too, especially when adding new modules. I notice a deadlock in postgresql.

[2016-08-08 11:55] dreispt commented on #13049
Anyone wants to pick this up?

[2016-08-08 13:39] gwasky opened #13065 "Update Product Type/Stock Valuation for multiple products"
Impacted versions:
8
Steps to reproduce:
Multiple update

Current behavior:
Manual update
Expected behavior:
All products are set to the default "Consumable" Product type as i imported these from a a different application.
Because of my automated stock valuation needs, i need to have the product type set to "Stockable Product"
I have 1000+ products, cant do this manually, have looked through the D

[2016-08-08 13:58] gwasky commented on #13065
Found Product Type in the Product_Template table

[2016-08-08 14:27] lithint opened #13066 "Sale Flow issue [9.0]"
Impacted versions:9.0
Case 1
     Step 1:
-              Sales -> Settings -> enable 'Never allow to modify a confirmed sale order'
   Step 2:
-              Create a sale order and confirm.
  -             Sale Order directly going to done state(draft to done).
    expected: It should be in 'sale order' state.
    In 'Done' state able to edit the following fields:
-            Salesperson
-

[2016-08-08 16:42] ahefni commented on #8194
same to me

[2016-08-08 17:01] elmonitor commented on #13049
It would be great odoo to consider this improvement, this solution could be implemented not just for check writing but for invoices and others accounting reports. Num2words python library supports languages (taken from https://github.com/savoirfairelinux/num2words):
    en (English, default)
    fr (French)
    de (German)
    es (Spanish)
    lt (Lithuanian)
    lv (Latvian)
    en_GB (British En

[2016-08-09 00:25] chinesteves commented on #13058
I tried cloning it using this command "sudo git clone --depth 1 --branch 9.0 https://github.com/odoo/enterprise /odoo/enterprise/addons". But, it seems like repository doesn't exist anymore.

It says "fatal: repository 'https://github.com/odoo/enterprise/' not found"

[2016-08-09 02:18] KarenKawaii opened #13068 "[8.0][9.0] IMP to the new api: Remove automatically the _id or _ids from the label of the relational fields without the attribute string"
**Impacted versions: 8.0 and 9.0 (new api)**

**Steps to reproduce:**

Considering the documentation, examples and the [guideline] (https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md#field) for the [relational fields] (https://www.odoo.com/documentation/8.0/howtos/backend.html#relational-fields)
e.g.
If I have a Many2one field (following the example in open-academy module):

[code

[2016-08-09 02:39] aek commented on #12821
This is definitely an issue in Odoo 9, I face it today and check it against Odoo 8 and it's ok in that version. @SeanHardyOdoo I could provide you support on this

[2016-08-09 04:18] moylop260 commented on #13068
I have a PR to fix it
https://github.com/odoo/odoo/pull/12769

[2016-08-09 06:35] bealdav commented on #7814
As your code is in new api like v10, could you reconsider to sign CLA, and make a PR. This is the good time for it. In November it'll be too late for v10.
Thanks

[2016-08-09 09:09] Yajo opened #13076 "Inverse methods not called in NewId records"
Impacted versions: 9

Steps to reproduce:

Create a field with an inverse record, such as:

[code]

Now execute the `_test_inverse_new` method.

Current behavior: Bugged!

Expected behavior: Should not raise an exception.

@Tecnativa @pedrobaeza

[2016-08-09 09:52] jsollasvaara opened #13078 "Duplicate registries loaded when spaces are added to the 'db' URL parameter"
Impacted versions:
This bug is present at least in the latest version of Odoo 8.0 branch (commit 7f86272b94b26b68aa1be3933d042efd9fd53008).

Steps to reproduce:
Given your environment has a database called 'test'.

When you browse to your environment: http://localhost:8069/web/login/?db=test
Your server will log loading modules like this:
2016-08-01 09:34:40,874 3919 INFO test openerp.modules.load

[2016-08-09 09:54] aristobulo-eezee opened #13079 "[8.0/9.0/master] openerp-server: using multiple database names on db_name parameter will wrongly create a new database"
**Impacted versions:**
8.0, 9.0, master (maybe older versions but not relevant)

**Steps to reproduce:**

1. setup a new odoo instance
2. run odoo like this:

`./openerp-server -r odoo -d db1,db2 --workers 2 --db-filter db.*$`

Please notice that for this issue what's important is passing multiple database names to `-d` parameter or into `db_name` on a odoo configuration file.

**Current behavior:

[2016-08-09 10:00] aristobulo-eezee commented on #13079
@amigrave Could you take a look on this, please?

Hi @antonylesuisse, I found this while investigating a bit more about the issue I talked to you before, regarding the strange behavior of some workers closing connections from other instances. Using `db_name` is a workaround I'm testing because like you pointed, `db_name` is used by the worker to retrieve the list of available databases and using `

[2016-08-09 10:55] pedrobaeza commented on #13076
@rco-odoo can you please check this one?

[2016-08-09 11:05] pedrobaeza commented on #13076
@Yajo, maybe you can build a test that exercises this bug as well as the other PR.

[2016-08-09 12:16] mistotebe commented on #2195
Hi, this is still an issue for v7 and v8 at least.

[2016-08-09 13:07] antonylesuisse commented on #13079
Actually it's https://github.com/odoo/odoo/blob/9.0/openerp/cli/server.py#L133 that needs a for on the splitted db_name. Start is an other command that only supports one database.

[2016-08-09 13:16] aristobulo-eezee commented on #13079
@antonylesuisse thanks for the info. I will check that

[2016-08-09 13:40] aristobulo-eezee commented on #13079
@antonylesuisse at https://github.com/odoo/odoo/blob/9.0/openerp/cli/server.py#L155 it's done  and saved into `preload`.

What if?

[db_name.txt](https://github.com/odoo/odoo/files/409045/db_name.txt)

[2016-08-09 13:44] dreispt commented on #13078
The issue description is not clear to me.
You state that the problem is on background jobs, but AFAICT these are not related with the URLs used by the clients. So I don't see the connection between the two descriptions.

Are you using the `database` (`-d`in the command line) and `dbfilter` conf settings?

[2016-08-09 13:51] dreispt commented on #13058
@chinesteves You need a valid Enterprise contract before you can do that 😉

[2016-08-09 13:53] dreispt commented on #13058
@chinesteves The 8.0 module can be ported to 9.0. You can consider hiring a developer for that, or sponsoring an OCA migration team to do it.

[2016-08-09 14:00] odony commented on #13079
@aristobulo-eezee Would you like to make a PR with this small patch on 9.0, so we can credit it to you? It looks good on first look.
Also, if I remember correctly this issue does not affect Odoo 8.0, as `-d` did not automatically create databases, only the `start` command did it, and it only support one DB.

[2016-08-09 14:02] aristobulo-eezee commented on #13079
@odony ok, I will create the PR

[2016-08-09 14:09] dreispt commented on #7417
It would be great if @rco-odoo could comment on that.

[2016-08-09 14:09] dreispt commented on #7417
(or @odony )

[2016-08-09 15:16] treviser commented on #10500
![selection_250](https://cloud.githubusercontent.com/assets/1814941/17521806/00147c6a-5e55-11e6-82e7-e26a58ac5563.png)

[2016-08-09 18:19] #13079 closed

[2016-08-09 22:09] llonchj opened #13097 "ParseError: "new row for relation "res_partner" violates check constraint "res_partner_check_name""
Impacted versions: 9 20160809 daily

Steps to reproduce: create a new db, add crm app

Current behavior: Produces the exception below

Expected behavior: crm application should be installed

[code]
[code]

[2016-08-10 02:20] bolsystem commented on #9711
Hola, Gracias por su valiosa aporte. Tenia ese problema .Luego desintale el modulo de comercio electrónico y todo marcho perfecto..
Gracias a todos...!!

[2016-08-10 03:37] treviser commented on #9711
Du muesch öis de traceback vom Odoo log schicke, süsch cha Dier niemert hälfe. Schliesslich hend mier kei Zauberchugle um i Dis Syschtem chönne ine z'luege.

twanda AG
Ermin Trevisan
Artherstrasse 19
6318 Walchwil

Tel. 041 758 1515
Mobil 079 208 7373
Email trevi@twanda.com
www.twanda.ch

[2016-08-10 06:45] jsollasvaara commented on #13078
Add spaces to the DB parameter in the URL and take a look at the logs.
What you will see is that Odoo will reload all the modules for this "new environment".
It also starts new backgroud jobs for this "new environment".

[2016-08-10 06:50] boolit-eivydas opened #13099 "many2onebutton in list view does not differentiate"
**Impacted versions:**
8.0 for sure
**Steps to reproduce:**
Create a list view with a one2many field having `widget="one2manybutton"`.
**Current behavior:**
Regardless of the line having a record in the one2many field, the circle is green.
**Expected behavior:**
Circle is green when there are records in one2many field, red when not.

There might be a bug in `view_list.js#2380`:
`this.has_value = !

[2016-08-10 07:57] yostashiro commented on #9906
@jco-odoo

What "history" do you mean?  Shouldn't quants just represent the current state of the inventory (not the history)?  History can be traced with stock moves.

I cannot at all understand the benefit of blocking negative quants from being reconciled.

[2016-08-10 08:24] dreispt commented on #13078
Using dbfilter is a best practice and probably avoids that.

[2016-08-10 12:34] jlsuarez7 commented on #12998
This commit https://github.com/odoo/odoo/commit/414ad99a922deac45aaaf8ee3da9b1bea3341d29 fixed the issue.

[2016-08-10 13:55] gordonzola opened #13106 "[9.0] web_editor’s 'font_to_img' route doesn’t work without authentication"
Impacted versions:
- 9.0

Steps to reproduce:
1. In 'mass_mailing', create a mailing containing an icon image (specifically in the **Pictogram** section)
2. Send a test mail from this mailing
3. Log out from Odoo
4. check the test mail contents

Alternatively, without logging out, you can simply read your test mail on another computer

Current behavior:
- The image is not displayed, its URL return

[2016-08-10 16:30] edsersolis opened #13110 "[9.0c] message_last_post filter not working"
**Impacted versions:** 9.0c

**Steps to reproduce:** Filter contacts with Last Message Date and try out with 'less than', 'greater than' or any other and nothing will ever show. Doesn't matter if you have messaged the customer or logged and internal note at any given time.

**Current behavior:** Filter not showing any results.

**Expected behavior:** Filter to show results accordingly if a contact

[2016-08-10 17:30] mocak opened #13111 "xmlrpclib.Fault with empty FaultString for opnerp.exceptions.UserError"
Impacted versions: Version 9.0c (Community Edition)

Steps to reproduce:

[code]

From web service api:
`models.execute_kw(db, uid, password,'demo.module', 'demo_method', [[1]])`

Current behavior: xmlrpclib.Fault object with empty FaultStirng

`xmlrpclib.Fault: <Fault 2: 'None'>`

Expected behavior: xmlrpclib.Fault object with FaultStirng "Error message"

Video/Screenshot link (optional):

[2016-08-10 17:33] mocak commented on #13111
xmlrpc_handle_exception_int method in openerp/service/wsgi_server.py causes this problem. First parameter of UserError is name not value.

[2016-08-10 19:03] mercadolino commented on #9818
Same problem!
When I am sending an email directly from my mail server the email get's received in inbox. But when I configure the same server as odoo outgoing server and sent the email from odoo directly it arrives as spam.

[2016-08-10 19:32] mbcosta opened #13112 "[8.0] Stock Valuation History - Domain missing Time Zone"
Impacted versions: 8.0

Steps to reproduce: Reporting > Warehouse > Stock Valuation ,create Stock Valuation Report with specific date like 2016-07-31 23:59:16

Current behavior: This date is used in domain to make search https://github.com/odoo/odoo/blob/8.0/addons/stock_account/wizard/stock_valuation_history.py#L46, but missing the Time Zone ( ex.: America/Sao Paulo ) by this reason the domain ch

[2016-08-11 00:16] blaggacao opened #13113 "ORM Read / Create compatibility in ir_models_field"
Maybe this is best explained by a piece of code which is ugly due to read/create incompatibility:
(I'm not even sure if this is a potential hit for improvement, of if I just didn;t find the right way)

[code]

With `l(env, old)` creating a legacy name scheme...
In order to make the field writable, we need those ugly cleaning of

[code]

Else the following constraint checks group will fail...

[cod

[2016-08-11 06:23] jl2035 commented on #12137
It's been a while. I still cannot print pdfs. :(
Reopening.

[2016-08-11 08:44] Yajo commented on #12237
Sorry, there's still one more thing I don't understand. Isn't it exactly what Odoo does by default with [the `self.cursor` method](https://github.com/odoo/odoo/blob/14fdabb4bc478f2b96f478dfe287f5cb916f938f/openerp/tests/common.py#L90-L91) and when creating [`self.cr`](https://github.com/odoo/odoo/blob/14fdabb4bc478f2b96f478dfe287f5cb916f938f/openerp/tests/common.py#L148) and [`self.env`](https://g

[2016-08-11 08:52] blaggacao commented on #7102
@xmo-odoo As a simple `_auto_init()` on BaseModel does several commits down the way and as auto init is part of the AND as `_auto_init()` is called on strategic `create()` overwrites, like for example in `ir.model.fields`, creating a temporary column through the ORM will result in the observed side effects.
As this is close to a bug (or at least a severe impediment for integration tests of migrati

[2016-08-11 09:16] blaggacao commented on #7102
Something that seems interesting to wrap dangerous calls to commiting methods:
[code]

The implementation in `sql_db.py` looks nice, too. Just doing release savepoints and immediately creating another one in lieu of doing real commits.

@zaoral pretty sure, this can solve your problem, too.

[2016-08-11 09:19] mart-e commented on #3156
Hello,

You may try with the following configuration:
[code]

[2016-08-11 10:34] dreispt commented on #12137
Other people seem to be able to print to PDF correctly, so chances are that it's not a product issue.
Can you reproduce the error in then Runbot? The issue here is that the issue is not reproducible, and seems to be specific to your installation.

Since the only thing you have is a JS error, I suggest you to reproduce the error while having the Developer mode enabled. Maybe that can give a more us

[2016-08-11 11:02] jl2035 commented on #12137
Damnit, I just set up new odoo instance on a new server and it seems you are right. After taking the following steps it actually works.

sudo apt-get install xvfb
wget http://download.gna.org/wkhtmltopdf/0.12/0.12.2.1/wkhtmltox-0.12.2.1_linux-trusty-amd64.deb
sudo apt-get install fontconfig libxrender1 xfonts-75dpi
sudo dpkg -i wkhtmltox-0.12.2.1_linux-trusty-amd64.deb
sudo apt-get -f install
sudo

[2016-08-11 11:02] #12137 closed

[2016-08-11 11:09] jl2035 commented on #12137
Also tried uninstalling wkhtmltopdf and following the above steps again. No luck!

[2016-08-11 11:32] dreispt commented on #12137
@jl2035 In DevModel web assets are not minified (and obfuscated), so it's easier to see what is going on JS-wise...

[2016-08-11 12:21] ethanleellj opened #13119 "summernote editor can not paste pic"
Impacted versions:odoo-9.0c-20160811

Steps to reproduce: while edit task detail , on Description , paste pic from picture tool, then save. but pic is does saved.

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-08-11 13:46] Yajo commented on #12237
Please reopen this, today I tried your suggestion and it results on phantomjs not seeing the record, no way to use environments, and created/modified records are persisted after the tour fails.

[2016-08-11 13:49] sle-odoo commented on #12237
i can have a look at your updated test case if you want

[2016-08-11 14:04] Yajo commented on #12237
Thanks, it's in https://github.com/OCA/website/pull/211/commits/8a85e3e737ddc999c1d090cb9ac22f612a86fbaa (remember you'll have to merge https://github.com/OCA/website/pull/202 too to make this module work).

Since I cannot make it work after trying some workarounds, I changed it to what I think it *should* be if this bug never existed. Please give me advice, thanks.

[2016-08-11 14:10] adaptivdesign opened #13121 "Flaw in MailChatController / Bus channels"
Hi,

I'm currently working on getting Odoo running on Heroku and other cloud platforms. I've been running Odoo with Gunicorn and during load testing I've noticed a minor but critical flaw occuring in the MailChatController.

At openerp/service/model.py line 118:

[code]

If 'f' fails a retry will happen, however the kwarg 'channels' has been changed by the MailChatController. Resulting in somethin

[2016-08-11 16:01] rowemoore commented on #3156
Hello,

@mart-e

I've tried your configuration but it results in an endless redirect.

My original config:
[code]
I've tried multiple variations of adding your configuration without success.  Suggestions would be appreciated.

[2016-08-11 16:30] ruuter commented on #11512
@Yenthe666 it is still pretty relevant to me and I can reproduce it easily. Just import CSV with one2many relations and 500+ rows.

@wtaferner You are right, I am running Odoo behind proxy. I did increase apache `ProxyTimeout` to 600s from default 60s, but this did not change anything. Problem remains.
You are right about the fact that import continues to run in the background. Postgres process co

[2016-08-11 16:54] dreispt commented on #11512
@ruuter Are you using workers? Can you post the relevant Odoo log messages?

[2016-08-11 17:41] ruuter commented on #11512
@dreispt no, I am not using workers. There is nothing in the log. Only relevant line is:

[2016-08-11 23:07] Peis7 opened #13123 "Odoo Server Error! DataError: invalid input syntax for integer: """
**Impacted versions:**
     Im using odoo 8

**Current behavio**r:
   Every time i validate an invoice, or use account_voucher module, this error mesagge is Show, but    after clicking in Ok button to close this error message, everything else we expected to happend works fine,  i mean, journal items are created if needed, invoices states change, clients and supplier  invoices get pay in vouchers m

[2016-08-12 02:41] tuananhphucthanh opened #13124 "how could i add this code into saleline order ?"
hello everyone,  im new on odoo and would like  to add a feature that support for particular business issue. could you guy please help me to add this filed to the class SaleLine that will be showed as following part:

    @api.depends('lng', 'quantity_extra')
    @api.multi
           def _compute_product_uom_qty(self):
                                      for line in self:                 line.q