[2019-04-08 07:54] pedrobaeza commented on #32478
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-08 08:26] meysam81 commented on #32480
@pedrobaeza
I tried `runbot` but I don't think I can find the same path there.
The problem was when trying to access users management in CRM.

[2019-04-08 08:28] pedrobaeza commented on #32480
I don't get your problem. Is that custom code?

[2019-04-08 08:33] meysam81 commented on #32480
I don't think so, I just met your product this morning (amazing, right?), and the admin guy that was using it had a headache trying to find what the problem was. I'm the only person with python knowledge in the company so I tried to dig in to the code before I found that there are thousands of commits.
So I realized that it's a big product. He told me that there are no custom code, only using what

[2019-04-08 08:34] pedrobaeza commented on #32480
Well, it seems a bad deployment or outdated code, as if you try on runbot, the problem is not there.

[2019-04-08 08:36] meysam81 commented on #32480
is there a CRM available on runbot? I couldn't find one.

[2019-04-08 08:37] Yenthe666 commented on #32480
Indeed. @meysam81 if you cannot reproduce it on a runbot it has to be something locally. Check with the admin guy if he is absolutely sure there is no custom development and if there where no changes done.
The CRM module is available by default, out of the box, on any runbot instance.
P.S: I hope you like Odoo.

[2019-04-08 09:05] JKE-be commented on #32374
It not considered as a bug.

Even if it could be an improvement to avoid the edition by error in the future, it will not avoid completely to break others websites.

You can easily as user 1 from company 1, to write in QWeb on a record on which you don't have the access rights (same for mail template, tax python, ... ).
Since you can execute what you want in Qweb, you can add more access right to y

[2019-04-08 09:05] #32374 closed

[2019-04-08 09:53] tpa-odoo opened #32486 "[v12][CE][EE][WEB] m2m field gives error on TransientModel o2m fied"
Impacted versions: v12

Steps to reproduce: Add m2m field on o2m field of any TransientModel and try to select value on that filed in popup it will give an error

Just add one m2m field on Picking return wiz lines and check.

Current behavior: Traceback

Expected behavior: No error, It should allow to select m2m records

Video/Screenshot link (optional):
![Odoo (5)](https://user-images.githubuserc

[2019-04-08 10:47] pedrobaeza commented on #32486
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if some

[2019-04-08 10:47] #32486 closed

[2019-04-08 11:54] meysam81 commented on #32480
Ok guys, I'm gonna post some photo regarding the issue

[2019-04-08 11:54] meysam81 commented on #32480
And there's another issue as well, right when I open the site, there's this nasty error about some CSS not loading:
![Screenshot from 2019-04-08 16-21-42](https://user-images.githubusercontent.com/30233243/55722172-bbec8400-5a1a-11e9-8cca-fbc6a42b419c.png)

[2019-04-08 11:58] pedrobaeza commented on #32480
@alexey-pelykh is this the same error you are receiving?

[2019-04-08 11:58] meysam81 commented on #32480
from the main screen, using the top left corner, I click `Settings` and then here's the screen I confront
![Screenshot from 2019-04-08 16-26-52](https://user-images.githubusercontent.com/30233243/55722366-50ef7d00-5a1b-11e9-8b29-94bfec29b5d8.png)

[2019-04-08 11:58] meysam81 commented on #32480
And this is the issue I have opened here
![Screenshot from 2019-04-08 16-28-33](https://user-images.githubusercontent.com/30233243/55722390-64024d00-5a1b-11e9-86fd-f4e39987b59a.png)

[2019-04-08 12:02] alexey-pelykh commented on #32480
@pedrobaeza nope, I get
![image](https://user-images.githubusercontent.com/345102/55722541-43cc9100-5a0f-11e9-9049-f094629b0549.png)

[2019-04-08 12:03] pedrobaeza commented on #32480
Thanks, @alexey-pelykh

@meysam81 can you please try in runbot to reproduce the problem?

[2019-04-08 12:07] meysam81 commented on #32480
Why can't I see a `Settings` in here:

![Screenshot from 2019-04-08 16-36-53](https://user-images.githubusercontent.com/30233243/55722815-906a9900-5a1c-11e9-8ddd-c6eae7a32337.png)

[2019-04-08 12:11] pedrobaeza commented on #32480
Login with admin/admin

[2019-04-08 13:02] bjccdsrlcr opened #32497 "cannot inherit SwitchCompanyMenu"
Impacted versions:
 version 10.0
Steps to reproduce:
when a user has multicompany , we can change the current company , but the ir.rule will always occured, so change the behavior of click the dropdown company menu, but without the return {SwitchCompanyMenu: SwitchCompanyMenu} we cannot inherit the SwitchCompanyMenu widget
Current behavior:
just reload the current page
Expected behavior:
redirctin

[2019-04-08 13:04] mart-e commented on #32269
The ip is found via the command
[code]

Could you log on the posbox, execute it and give us the result?

The script is here:
https://github.com/odoo/odoo/blob/12.0/addons/point_of_sale/tools/posbox/configuration/wireless_ap.sh

[2019-04-08 13:25] pedrobaeza commented on #32497
Sorry, but this something expected and it's not going to be changed. It's preferable to be kept in the same URL, although if you are in a document with no access from the other company, you receive the error. For most of the cases (list view for example), this is not a problem.

Any overwrite you want to do is not an issue, but an improvement.

[2019-04-08 13:25] #32497 closed

[2019-04-08 14:09] pedrobaeza commented on #32044
@qdp-odoo maybe you can confirm this change is the suitable one and we can do the PR.

[2019-04-08 14:26] tpa-odoo commented on #32486
Hello @pedrobaeza ,

It's not about my custom code or so. I gave just way to reproduce it.

the real issue is with web framework.

Please open it again so odoo Framework team can have a look on it.

If you want to check you can check it on thsi runbot DB: http://495103-12-0-3017ae.runbot13.odoo.com/web#id=7&action=392&model=stock.picking&view_type=form&menu_id=281

I don't know in default odoo the

[2019-04-08 14:36] meysam81 commented on #32480
well I tested the runbot and it doesn't seem to have our problem, so it may as well be one of your guesses in the beginning of the conversation

[2019-04-08 14:37] meysam81 commented on #32480
I have a guess of my own though, maybe it is fixed in the latest commits (as the runbot main page only shows the last 4)

[2019-04-08 17:00] oetapia commented on #32478
Hi Pedro, thank you for the prompt reply.
I cannot see the error in the latest odoo in runbot, so I guess it could be something local as you mentioned.

In our case it appears as soon a new database is created. The backend looks a bit wonky as some CSS is missing. Only when running debug mode de we get the error I mentioned before:
https://snag.gy/HiI2oJ.jpg

When the issue appears no modules have

[2019-04-08 17:13] reinaldoramosarxi opened #32523 "[12.0] Issue on mail_notification_pay_now variable taking user_id instead of current (sender) id"
Impacted versions: 12.0, that we've tested

Steps to reproduce:
- Create a document (sale order, invoice, purchase order...) as a user
- Log in with another user and send that document through email

Current behavior: The signature (and by default the email as well, though it can be changed in the front end) inserted into the email is that of the user that created the document, and not of the curr

[2019-04-08 17:50] max3903 opened #32524 "[11.0] Stock Valuation report takes 20 mins to run in large DB"
Impacted versions:

11.0

Steps to reproduce:

On a large DB (10+ millions moves), go to Inventory > Reporting > Inventory Valuation

Current behavior:

Wait 20+ minutes to get the result.

Expected behavior:

Wait less than 5 min?

Pyflame graph:
[Inventory-valuation.zip](https://github.com/odoo/odoo/files/3055634/Inventory-valuation.zip)

Enterprise Ticket:
https://www.odoo.com/my/task/1961412

[2019-04-08 17:56] max3903 opened #32525 "[11.0] Picking validation with 5000+ move lines takes 20+ minutes"
Impacted versions:

11.0

Steps to reproduce:

Create a transfer with 1 move and 5,000+ stock move lines
Validate the transfer

Current behavior:

Odoo spins for 20+ minutes to validate the picking.

Expected behavior:

The picking is validated in less than 5 minutes.

Pyflame graph:
[Picking-validation.zip](https://github.com/odoo/odoo/files/3055653/Picking-validation.zip)

Enterprise Ticket:
htt

[2019-04-08 18:14] Yenthe666 commented on #32523
It's related to the salesperson / sales team set if I'm not mistaking. This has been the way it worked for atleast four years and I think it's correct. The person did create the SO originally.

[2019-04-08 19:04] pedrobaeza commented on #32478
Well, I'm afraid there should be a problem in your deployment method, but nothing directly involved with Odoo itself. Please check installation guide and try other method: https://www.odoo.com/documentation/12.0/setup/install.html, or try in forums to get help in this topic.

I'm closing this issue now, but if you feel this can be something reproducible in runbot with other steps, please reply add

[2019-04-08 19:04] #32478 closed

[2019-04-08 19:07] pedrobaeza commented on #32523
Indeed, that's the behavior since a lot, and it's the same as good as bad depending the case, but it's more likely to be preferable to use the salesman one than the administrative person sending the mail. If you don't want this behavior, just change the mail template to your needs.

Closing as no issue, but intended behavior, although as said in my land, it never rains to everyone's taste.

[2019-04-08 19:07] #32523 closed

[2019-04-08 21:34] moylop260 commented on #32524
Seems that the following lines are slow.

 - https://github.com/odoo/odoo/blob/9a7e3c8b4986fcfecf3699a194e45f5ec94bde6c/addons/stock_account/models/product.py#L213-L215

I saw 2 good ways to improve.
1) If you are using `prefetch_fields=False` and you are reading 2 fields without pre-filled it then you will have 2 calls for each stock move to database.
I mean,
SQL1: `move.product_id` <- `SELECT pr

[2019-04-08 21:50] max3903 commented on #32525
[20190408-inventory-valuation-report.zip](https://github.com/odoo/odoo/files/3056361/20190408-inventory-valuation-report.zip)

[2019-04-08 22:01] max3903 commented on #32525
I am at commit https://github.com/odoo/odoo/tree/a9a8eeac1de7a62182ad8c32cc745c0ac093520b

[2019-04-08 23:06] moylop260 commented on #32524
FYI I just have created the following PR to fix it:
 - https://github.com/odoo/odoo/pull/32529/files

[2019-04-09 00:08] hugho-ad opened #32530 "[11.0] No computed qty delivered with kit product- list of materials"
Impacted versions:
11.0 maybe 12.0

Steps to reproduce:
Create a manufacturing product with a list of materials type kit and invoicing when delivered
Create a SO
Current behavior:
When delivering a part of the picking, the qty delivery is not computed until hole picking is transferred.
![image](https://user-images.githubusercontent.com/10233975/55764549-a171d500-5a31-11e9-85d8-c1878e00dc5b.png)

E

[2019-04-09 02:00] mars-trueplus commented on #25154
I follow the steps below and it works
1. Config file like this:
[options]
addons_path = /home/ubuntu/source/odoo/odoo-12/addons,/home/ubuntu/source/odoo/odoo-12/odoo/addons, /home/ubuntu/source/odoo/demo_portal
data_dir = /home/ubuntu/source/odoo/datadir/demo_portal
db_password = demo_portal
db_user = demo_portal
xmlrpc_port = 9009
workers = 4
max_cron_threads = 1
server_wide_modules = web,queue_j

[2019-04-09 02:04] xmars4 commented on #25154
I follow the steps below and it works
1. Odoo config file :
_[options]
addons_path = /home/ubuntu/source/odoo/odoo-12/addons,/home/ubuntu/source/odoo/odoo-12/odoo/addons, /home/ubuntu/source/odoo/demo_portal
data_dir = /home/ubuntu/source/odoo/datadir/demo_portal
db_password = demo_portal
db_user = demo_portal
xmlrpc_port = 9009
workers = 4
max_cron_threads = 1
server_wide_modules = web,queue_job

[2019-04-09 03:58] luistorresm opened #32533 "[12.0] Error when try get the xlsx file from Partner Ledger"
Impacted versions:
12.0
Steps to reproduce:

1. Open a partner with movements

2. Press the Customer Ledger option

3. Try to get the XLSX file

What is the current behavior that you observe?

I get the next traceback

[code]

What would be your expected behavior in this case?

The xlsx file is generated

https://www.youtube.com/watch?v=2evHGKXKzDU

[2019-04-09 03:58] luistorresm commented on #32533
OPW #1966228

@nim-odoo could you help me with this ticket, please?

Regards

[2019-04-09 06:00] Yenthe666 commented on #30877
@turkimaki can you try again on a runbot? It seems to work fine at my end. Perhaps you can upload a movie if you can still reproduce it?

[2019-04-09 06:00] Yenthe666 commented on #28774
@jlzhou did you get around to checking this yet?

[2019-04-09 06:01] Yenthe666 commented on #29345
@qsm-odoo can you maybe get this going again?

[2019-04-09 06:02] Yenthe666 commented on #29714
@tde-banana-odoo hi, did you ever get around to checking this?

[2019-04-09 06:03] Yenthe666 commented on #30180
Hi @arshad-momin,

Did you report it under https://www.odoo.com/help? Usually this is the best to do as there are much better response rates there. It falls under the enterprise license and terms after all.

[2019-04-09 06:03] Yenthe666 commented on #30283
@bobslee could you give feedback on the questions please? Otherwise we'll have to close this issue.

[2019-04-09 06:07] Yenthe666 commented on #31441
Yeah this is not possible in V10 sadly. You could backport the solution from V11 to V10 to solve this issue. Closing as it is known behaviour and it won't be changed in an almost phased out Odoo version.

[2019-04-09 06:07] #31441 closed

[2019-04-09 06:08] Yenthe666 commented on #31544
Hi there,

Indeed, you do not get a delivery order untill the purchase order is confirmed. This is by design.
If we missed something - or misunderstood - then please don't hesitate to comment back with more feedback.

Regards,
Yenthe

[2019-04-09 06:08] #31544 closed

[2019-04-09 06:10] Yenthe666 commented on #31687
Hi there,

As we haven't recieved any feedback in over a month we're closing off this issue.
Don't hesitate to comment back with more information and details if you can still reproduce it on an official test instance.

Regards,
Yenthe

[2019-04-09 06:10] #31687 closed

[2019-04-09 06:10] Yenthe666 commented on #31715
Hi,

I'm closing this issue off as we didn't recieve any feedback from you in a month.
Don't hesitate to respond if your issue is still present. Please provide us with more feedback then.

Regards,
Yenthe

[2019-04-09 06:10] #31715 closed

[2019-04-09 06:11] asiamatrix commented on #31687
Hello,

Good Day To You!

Thank you for your email.
We will contact you back as soon as possible.

MAY SUCCESS BE WITH YOUR BUSINESS...
Best Regards,

Ko Kyaw Zin Oo
Founder & Managing Director
ASIA MATRIX COMPANY LIMITED
+959783355903, +959768064691
http://www.asiamatrixsoftware.com

[2019-04-09 06:11] Yenthe666 commented on #32034
@switch87 I see there's a PR open. Is there anything else needed to get it merged in?

[2019-04-09 06:11] Yenthe666 commented on #31867
Hi there,

We haven't recieved any feedback in almost a month. As we cannot reproduce the steps and miss information we're closing off this issue.
Don't hesitate to comment back with more information and we'll look into it again.

Regards,
Yenthe

[2019-04-09 06:11] #31867 closed

[2019-04-09 06:12] Yenthe666 commented on #31685
Hi there,

We haven't recieved any feedback in over a month.
We're closing this issue off because of this. Don't hesitate to comment back with more information if you can still reproduce the problem on the latest code.

Regards,
Yenthe

[2019-04-09 06:12] #31685 closed

[2019-04-09 06:15] Yenthe666 commented on #24858
Hi @rvw0,

Did you ever get feedback on the odoo enterprise report that solved your issue?
@mart-e any chance you can quick check the OPW please?

Regards,
Yenthe

[2019-04-09 06:17] Yenthe666 commented on #27580
Hi,

As we haven't recieved more feedback in the meanwhile we're closing off this issue.
If you can still reproduce it on the latest Odoo instance then don't hesitate to respond back with more steps about how to reproduce it.

Regards,
Yenthe

[2019-04-09 06:17] #27580 closed

[2019-04-09 06:18] Yenthe666 commented on #27813
@sswapnesh any chance you could give this one another test and make a video of it in the process?

[2019-04-09 06:19] Yenthe666 commented on #30008
Hi,

As we haven't recieved any feedback I'm closing this issue.
Don't hesitate to respond back if you can still reproduce it. Please provide us with more information and reproducable steps in this case.

Regards,
Yenthe

[2019-04-09 06:19] #30008 closed

[2019-04-09 06:20] Yenthe666 commented on #30097
Hi,

I've heard a few cases of people mentioning it happening when they had an invalid addons path setup.
This really looks like a deployment platform. All our new installs and database creations are working fine (including runbot).
I'm closing this as we have no way to reproduce it. Don't hesitate to respond back if you have more information or found a good reproducable way.

Regards,
Yenthe

[2019-04-09 06:20] #30097 closed

[2019-04-09 07:09] mart-e commented on #24858
Hi,

This issue was qualified as an unsupported behaviour. To quote my colleague who has worked on it:

If somebody wants to submit a PR to work with this in the future we can review it but we won't change that in stable.

Regards,

[2019-04-09 07:09] #24858 closed

[2019-04-09 08:32] qsm-odoo commented on #29345
No sorry, my framework powers are gone. You would have to check with @ged-odoo @aab-odoo but I think they already have a lot going on right now :wink:

[2019-04-09 09:13] gr22 opened #32541 "[12.0] My Quotations filter is misleading"
`<filter string="My Quotations" name="my_quotation" domain="[('user_id', '=', uid)]"/>`

It shows all the sale orders not just quotations. It could be called "My Orders" or added a condition to show only quotations.

[2019-04-09 09:40] Yenthe666 commented on #29345
Yeah I tried to avoid them intentionally as they're both pretty busy probably. 😄 I guess we'll need to wait for feedback from one of both then.

[2019-04-09 10:33] abhishek8singhai opened #32545 "how to send email at modification using python code"
Impacted versions: 11

Steps to reproduce: Go to Purchase Order option. Create Purchase Order. Go to Automation steps. Here I want to send a email when there is any change to the form ( at the time of Confirm Purchase click). What I understood so far is that there is an option to write the python code to send a email if you want to use the option - At the time of modification to the form.

I searc

[2019-04-09 10:51] Yenthe666 commented on #32033
Resolved in https://github.com/odoo/odoo/commit/92313e11dc3182f850f090f615e645f0d40bcb71

[2019-04-09 10:51] #32033 closed

[2019-04-09 10:53] Yenthe666 commented on #32545
Hi @abhishek8singhai,

I'm sorry but the Github issue tracker is only for bug reports in the official code.
This is not the place to ask questions. You can do this at https://www.odoo.com/forum/help-1

In short: create an `@api.onchange` and in this onchange call the e-mail template to be sent.

Regards,
Yenthe

[2019-04-09 10:53] #32545 closed

[2019-04-09 11:51] odony commented on #32524
Please see #32520 first, let's no duplicate more work ;-)

[2019-04-09 12:06] gajanankathar opened #32547 "error on stock module installation. yaml.constructor.ConstructorError: could not determine a constructor for the tag '!python'"
Impacted versions: 11

Steps to reproduce:
Go to apps and install stock module produces below error.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/gajanan/others/erp/odoo11-git/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/gajanan/others/erp/odoo11-git/odoo/http.py", line 310, in _handle_ex

[2019-04-09 12:21] Yenthe666 opened #32549 "[Wishlist] website: ability to set security groups on website menuitems"
Impacted versions: All

Current behavior: There is no easy option to set security groups on menuitems in the Odoo website (such as /shop, /helpdesk, ...). The only option is to create a security rule with a double negative negotation to block it.

Expected behavior: A configurable way on website menuitems to hide/allow it for specific user groups.
@JKE-be

[2019-04-09 12:37] #32034 closed

[2019-04-09 12:37] switch87 commented on #32034
fixed in  #32089

[2019-04-09 15:38] Yenthe666 commented on #32549
@JKE-be can we have a quick chat on Hangouts/Whatsapp about this? If you give me some pointers I'm sure we can introduce it for you

[2019-04-09 16:43] moylop260 commented on #32525
@sle-odoo
FYI part of the performance issue is the following line for odoo 11.0:

 - https://github.com/odoo/odoo/blob/1cf284e91e88a0df95f9fd5fcadf5688d6709760/addons/stock/models/stock_quant.py#L224

I saw odoo 12.0 using a background process:
 - https://github.com/odoo/odoo/blob/c0d7a05730dca242ad60192b9905891e3afa9a90/addons/stock/models/stock_rule.py#L375

[2019-04-09 16:46] fmdl commented on #32525
`qaunt.unlink()` is a big issue in V11, and Odoo don't want patch in V12, but you can use this PR in V11 : https://github.com/odoo/odoo/pull/26513

[2019-04-09 17:09] sswapnesh commented on #27813
@Yenthe666  This has been fixed in https://github.com/odoo/odoo/commit/16c1c89e46946a04499ac483d8546ac4b7d06c35 with PR https://github.com/odoo/odoo/pull/29608

[2019-04-09 17:30] max3903 commented on #32525
@fmdl Thanks. I am down to 2 minutes now. :+1:

[2019-04-09 18:01] moylop260 commented on #32525
FYI It is already patched in v12, see the following commit:
 - https://github.com/odoo/odoo/commit/c0d7a05730dca242ad60192b9905891e3afa9a90

[2019-04-09 18:37] fmdl commented on #32525
@moylop260 typing error :-)

[2019-04-09 18:46] Yenthe666 commented on #27813
Aha, thanks a lot!

[2019-04-09 18:46] #27813 closed

[2019-04-09 20:28] mstuttgart commented on #25757
Same error here, with `sale.order` view of `sale_timesheet` module. In my case, the group tag of field cause this error.

https://www.odoo.com/forum/help-1/question/error-when-installing-ecommerce-module-mo-count-odoo-11-enterprise-127417

I need to remove group attributes of fields (keep tag attribute in xml file) to work.

[2019-04-09 20:30] sswapnesh commented on #30283
@bobslee

Moves are deleted in unlink of `stock.picking` at https://github.com/odoo/odoo/blob/12.0/addons/stock/models/stock_picking.py#L527

Move lines are deleted at https://github.com/odoo/odoo/blob/12.0/addons/stock/models/stock_move.py#L499

[2019-04-10 00:03] chrisdilbert opened #32563 "[12.0] Can't delete Partner after commit abc45b19d02dffebfeb867feeb3051c6c751d0a0"
Impacted versions:
**12.0**

Steps to reproduce:
- Open a partner

- Try to delete partner

**What is the current behavior that you observe?**

Record does not exist or has been deleted.

This issue is caused by this commit abc45b19d02dffebfeb867feeb3051c6c751d0a0
https://github.com/odoo/odoo/blob/abc45b19d02dffebfeb867feeb3051c6c751d0a0/addons/mail/models/ir_attachment.py#L20

[2019-04-10 04:41] udamuri commented on #21562
I have an error like this Wkhtmltopdf failed (error code: -8). Message: b''

[2019-04-10 06:02] Yenthe666 commented on #30283
Good point @sswapnesh

[2019-04-10 06:02] #30283 closed

[2019-04-10 06:24] Yenthe666 commented on #32563
@len-odoo can you check please?

[2019-04-10 06:30] bobslee commented on #30283
Indeed, the API already handles this. Fair enough :)

[2019-04-10 06:37] len-odoo commented on #32563
@Yenthe666 There's a subtlety of the ir.attachment model that was completely lost on me. We'll make a fix today.

[2019-04-10 06:48] rbuisson commented on #15022
Hi,
Having this annoying issue too for 2 days.
Tried with 2 different accounts, same result: 403 Forbidden

[2019-04-10 06:59] JKE-be commented on #15022
@rbuisson

It can arrive when you try to post img/url if you don't have enough karma.

Have you try to just post a question in pain text?

[2019-04-10 07:08] rbuisson commented on #15022
Simple as that. Indeed I wanted to insert an image.
Thanks for the quick response @JKE-be

[2019-04-10 07:10] meyer-jan commented on #30115
We encountered the same problem at one of our customers. We opened a ticket at Odoo support and received following answer:

We also noticed this behavior occurs in various places in Odoo (reporting of CRM for example). After a lot of communication with our/customers account manager, customer decided to have a customization for the notification clock programmed.

We worked around this issue with ha

[2019-04-10 07:38] AnnikaAg opened #32569 "Accounting- Batch payments & Sepa- error with letter ü õ ä ö"
Impacted versions: v11
Apparently v12 also

Steps to reproduce: Accounting- Purchases- Vendor Bills- Vendor-Action- Register Payment- SEPA Credit Transfer -Validate-Payments- Generate Sepa Credit Transfer XML

Current behavior: In Odoo we have this view (Name -Aktsiaselts Würth)
![image](https://user-images.githubusercontent.com/49472482/55859759-64b1f500-5b7b-11e9-968c-457f1ff1c0aa.png)

But in b

[2019-04-10 07:41] pedrobaeza commented on #32569
Being this enterprise, please report it in odoo.com/help.

[2019-04-10 07:46] AnnikaAg commented on #32569
This is supplier name and for example.
Issue is general with these letters-äöäü

[2019-04-10 07:53] Yenthe666 commented on #32569
@lap-odoo & @qdp-odoo interesting for you probably.

[2019-04-10 08:05] intero-chz commented on #32569
https://www.europeanpaymentscouncil.eu/document-library/guidance-documents/sepa-requirements-extended-character-set-unicode-subset-best FYI

[2019-04-10 08:29] shyamalajinju opened #32573 "chart of accounts UAE"
Impacted versions:11

Steps to reproduce:

Current behavior:

Expected behavior:Hi,

 I need my chart of accounts as per UAE standard which include 3 level grouping like  Expense->Indirect Expense->Employee Salary , How do I configure this in Odoo11 and how it will affect accounting reports, I need to categorize reports based on the parent category, like inside indirect expense employee salary acc

[2019-04-10 08:34] pedrobaeza commented on #32573
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-04-10 08:34] #32573 closed

[2019-04-10 09:23] pdyharshad opened #32575 "Ingenico Payment Acquirer- Odoo Hash not matching with Ingenico hash for the same string due to which we are unable to proceed with payment"
Impacted versions:12.0

Steps to reproduce:
1. Create Ingenico test Account
2. set up Ingenico Payment acquirer in Odoo.
3. try to make a payment from web using ingenico

Current behavior:
Payment is not processed and the error screen displayed. Basically the error is that the SHA does not match.
Please check this UTF-8 transaction string :
ACCEPTURL=http://lifecafe.com.pe/payment/ogone/test/accep

[2019-04-10 10:09] #32533 closed

[2019-04-10 10:10] #30972 closed

[2019-04-10 10:10] #32563 closed

[2019-04-10 14:02] jco-odoo commented on #28050
Is this still a problem as I suppose that set_context has been replaced with _set_context now?

[2019-04-10 15:09] sswapnesh commented on #27628
I believe this can be closed now based on comment
https://github.com/odoo/odoo/pull/32550#issuecomment-481672276 from Nicolas.

[2019-04-10 16:59] sswapnesh commented on #32107
Hello @tivisse,

I believe we should extend this based on Start date or End date or Both in master.

What are your thoughts on this ?

[2019-04-10 17:10] chrisdilbert commented on #32563
@len-odoo Thanks!

[2019-04-10 17:36] gmarcon opened #32600 "[10.0] hr_timesheet_sheet amount of timesheet_ids not updated when changing unit_amount"
Impacted versions: 10.0

Steps to reproduce:
create a timesheet, add a line for a project, insert 8 hours for a day, save, edit timesheet reducing the hours to 4 hours

Current behavior:
the cost set in amount should is 8 * timesheet_cost of the employee instead of 4 * timesheet_cost of the employee.
The amount as unit_amount * timesheet_cost is calculated in the following code, that skips the cal

[2019-04-10 18:29] matmicro opened #32605 "Website SEO add keyword language"
Impacted versions: 10.0

Steps to reproduce: On website, click on "Promote", then "Optimize SEO".
Then add keyword, it contains a select box for "Languages" but the list is empty. No languages are availables.
then unable to add any keyword, Chrome console show the error :
website.assets_editor.js:86 Uncaught TypeError: Cannot read property 'toLowerCase' of null
    at Class.addKeyword (website.ass

[2019-04-10 21:15] pedrobaeza commented on #32605
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-10 21:17] pedrobaeza commented on #32600
Closing as #32608 is opened. There's no need to open an issue and a PR. Next time, you can put the issue description text in the PR itself.

[2019-04-10 21:17] #32600 closed

[2019-04-11 03:24] gdgellatly commented on #20178
Whether the more general issue is solved idk, but _select_seller is fixed.

[2019-04-11 03:24] #20178 closed

[2019-04-11 05:14] vijaykumar-odoo commented on #21562
I have try this. Problem has been fixed:

sudo apt install ttf-mscorefonts-installer
sudo fc-cache -f -v

[2019-04-11 05:56] Yenthe666 commented on #32605
@matmicro can you please share how you did this? It is always prefilled at my end:
![image](https://user-images.githubusercontent.com/6352350/55933924-3aba0a80-5c2f-11e9-908e-3a1979852b74.png)

[2019-04-11 06:54] gdgellatly opened #32611 "Reconciliation Widget proposes anglosaxon interim stock moves for reconciliation"
Impacted versions: 12.0
opw -1967462

Steps to reproduce:
Use anglosaxon / real time and have some unreconciled moves from sales in the interim stock accounts. I'm not sure if this is configuration or expected. My guess is expected because there is now a function to explicitly reconcile anglosaxon moves, so those interim stock accounts are now set by default reconciliable in localizations.

Curren

[2019-04-11 07:34] nikul-serpentcs opened #32614 "Create Button visible in Wizard when I Added options="{'no_create_edit': True}""
Steps to reproduce:

 * I added `options="{'no_create_edit': True}"` in partner field.

Current behavior:

 * When I added `options="{'no_create_edit': True}"` in Field. It's Work Good in form view.

![1 issues ](https://user-images.githubusercontent.com/17664321/55938517-30146b00-5c59-11e9-874c-b0b6886026dd.png)

* But when I Click Search more and Open wizard that time appear  Create Button.

![2

[2019-04-11 08:07] jco-odoo commented on #18608
We created new pull request(s) based on the others:
Community : https://github.com/odoo/odoo/pull/32610
Enterprise : https://github.com/odoo/enterprise/pull/4075

[2019-04-11 08:37] jco-odoo commented on #20563
@damendieta If you want, we can use the information you gave us to already create a branch ourselves for the update of the CoA.  (it is a start)

[2019-04-11 08:59] fa-odoo opened #32620 "Problem in inventory returns"
Impacted versions:
12.0
Steps to reproduce:
return a picking and try to make an other return from the same picking.
Current behavior:
the returned quantity is not removed from the proposed quantity to return.
Expected behavior:

Video/Screenshot link (optional):

[2019-04-11 09:07] gdgellatly commented on #32541
haha, the entire idea of quotations is misleading. however, TPTB at Odoo decided it was too confusing for users to see only quotations in the quotations menu. I kid you not. See the many similar issues raised and closed.

[2019-04-11 09:09] Yenthe666 commented on #32541
Yeah and in all honesty so should this one be closed. We've gotten the feedback from Odoo numerous of times that this was done by design & not something they want(ed) to change.
@mart-e close off or shall we discuss this (again)?

[2019-04-11 09:13] intero-chz commented on #32541
@Yenthe666 @mart-e i'm just curious what will happen in Odoo 13. With this new column trigger feature for list views, wouldn't it be better to just minimize `sale.order` to one menu item?

[2019-04-11 09:34] pedrobaeza commented on #32620
This is now the default behavior, but I agree is misleading.

@jco-odoo is there any plan to change this?

[2019-04-11 09:41] fa-odoo commented on #32620
@abdellatifnatif

[2019-04-11 09:49] xmo-odoo opened #32622 "SSF: mismatch with client actual in view used to handle O2M onchange (results?)"
Currently the SSF assumes the o2m's "edition" view is used for interactions explicit and implicit (both actual editions and onchange), however the web client apparently has separate concepts of "default view" (the first view, possibly inline) and "edition view", and onchange might be based on the former rather than the latter, at least when no edition has been performed?

This was noted as an issu

[2019-04-11 10:00] Yenthe666 commented on #32622
Related to https://github.com/odoo/odoo/pull/32617#issuecomment-482050610 if I'm not mistaking?

[2019-04-11 10:14] xmo-odoo commented on #32622
It's related in that both stem from the same source / branch / investigation, but beyond that not really.

[2019-04-11 10:54] jco-odoo commented on #32620
@lap-odoo I think you can use this feedback.  There is a way to calculate how much was returned or rereturned, so it should not be too hard.

[2019-04-11 11:07] matmicro commented on #32605
@pedrobaeza Sorry unable to login ro tunbot. Invalid password.

@Yenthe666 I am having the same screenshot, but with the :
1. Define keywords, Language select is empty !
![image](https://user-images.githubusercontent.com/47750000/55952747-a4034300-5c5a-11e9-900c-71cc229435b4.png)

Then i am not able to add any keyword.

FYI, my website is already configured with several languages. And all goes fin

[2019-04-11 12:38] gdgellatly commented on #32611
support says it is intended behaviour - drives me nuts that they can say internal stock related transactions are intended on bank statements. Anyway, I ended up creating a module `account_reconciliation_not_stupid` to resolve the various issues present in the reconciliation widget, although some of the stupidity is quite hard to work around.

[2019-04-11 13:04] Yenthe666 commented on #32611
I'm sorry to hear that @gdgellatly. I'm afraid there's not much we can do so I guess we can close this one off too?

[2019-04-11 13:29] gdgellatly commented on #32611
you never know, may as well leave it open, people who actually understand the issue might read it.

[2019-04-11 14:09] C3POdoo commented on #21106
Dear @TimLai125,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1783552 that has been closed.
We hope you got an answer to your issue.

If you believe the answer is not yet solved and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:09] #21106 closed

[2019-04-11 14:10] C3POdoo commented on #25912
Dear @blaggacao,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1868698 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:10] #25912 closed

[2019-04-11 14:10] C3POdoo commented on #32266
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1961850 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #32266 closed

[2019-04-11 14:11] C3POdoo commented on #31571
Dear @tomeyro,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1947520 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #31571 closed

[2019-04-11 14:11] C3POdoo commented on #31411
Dear @luisg123v,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1945142 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #31411 closed

[2019-04-11 14:11] C3POdoo commented on #31409
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1945093 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #31409 closed

[2019-04-11 14:11] C3POdoo commented on #31220
Dear @max3903,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1942509 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #31220 closed

[2019-04-11 14:11] C3POdoo commented on #30784
Dear @luisg123v,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1941698 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #30784 closed

[2019-04-11 14:11] C3POdoo commented on #31118
Dear @sbidoul,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1941216 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] C3POdoo commented on #31009
Dear @edy1192,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1939678 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] C3POdoo commented on #30940
Dear @edy1192,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1938286 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #30940 closed

[2019-04-11 14:11] C3POdoo commented on #30202
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1928697 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #30202 closed

[2019-04-11 14:11] C3POdoo commented on #30115
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1925510 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #30115 closed

[2019-04-11 14:11] C3POdoo commented on #29915
Dear @alxolivares,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1922339 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #29915 closed

[2019-04-11 14:11] C3POdoo commented on #29488
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1917459 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #29488 closed

[2019-04-11 14:11] C3POdoo commented on #28515
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1907678 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #28515 closed

[2019-04-11 14:11] C3POdoo commented on #26982
Dear @hugho-ad,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1886772 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #26982 closed

[2019-04-11 14:11] C3POdoo commented on #26428
Dear @benwillig,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1877450 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #26428 closed

[2019-04-11 14:11] C3POdoo commented on #28329
Dear @mbartosch,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1873625 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #28329 closed

[2019-04-11 14:11] C3POdoo commented on #25724
Dear @hugho-ad,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1870466 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #25724 closed

[2019-04-11 14:11] C3POdoo commented on #25517
Dear @bennals,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1862033 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:11] #25517 closed

[2019-04-11 14:12] C3POdoo commented on #25238
Dear @nicomacr,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1858892 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #25238 closed

[2019-04-11 14:12] C3POdoo commented on #24509
Dear @hugho-ad,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1840456 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #24509 closed

[2019-04-11 14:12] C3POdoo commented on #21718
Dear @jheidecker,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1835535 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #21718 closed

[2019-04-11 14:12] C3POdoo commented on #28394
Dear @benwillig,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1906408 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #28394 closed

[2019-04-11 14:12] C3POdoo commented on #27597
Dear @tomeyro,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1892151 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #27597 closed

[2019-04-11 14:12] C3POdoo commented on #25532
Dear @luisg123v,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1862906 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] C3POdoo commented on #24494
Dear @lescobarvx,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1840237 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #24494 closed

[2019-04-11 14:12] C3POdoo commented on #28156
Dear @zaoral,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1903580 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #28156 closed

[2019-04-11 14:12] C3POdoo commented on #27400
Dear @luisg123v,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1894497 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #27400 closed

[2019-04-11 14:12] C3POdoo commented on #27857
Dear @Cedric-Pigeon,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1894952 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #27857 closed

[2019-04-11 14:12] C3POdoo commented on #22956
Dear @Yenthe666,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1815393 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #22956 closed

[2019-04-11 14:12] C3POdoo commented on #22697
Dear @Cedric-Pigeon,

_This is an automated message._
This issue is linked to the Odoo support ticket opw-1813974 that has been closed.
We hope you got an answer to your issue.

If you believe the problem is not solved yet and would like to keep this issue open, please let us know to reopen it.

[2019-04-11 14:12] #22697 closed

[2019-04-11 14:16] Yenthe666 commented on #32611
@qdp-odoo or @lap-odoo might want to have a second look but no promises.

[2019-04-11 14:16] mrzingo commented on #22697
I still have the same issue, what is the solution?

[2019-04-11 14:26] fa-odoo commented on #32620
@pedrobaeza it is a wrong behavior cause it leads to wrong stock values when the user creates multiple returns for the same picking

[2019-04-11 14:30] Yenthe666 commented on #10538
Hi all,

As @qdp-odoo has mentioned it'll be done on master and as the V9 is no longer official supported I'm closing this issue.

Regards,
Yenthe

[2019-04-11 14:31] tbaden commented on #24571
Yes it has been fixed.

[2019-04-11 14:32] Yenthe666 commented on #11627
Hi all,

As the V9 is no longer official supported and we can't reproduce this on V10 I'm closing this issue.
Don't hesitate to post back with more steps about how to reproduce it on a supported version.

Regards,
Yenthe

[2019-04-11 14:32] #11627 closed

[2019-04-11 14:33] Yenthe666 commented on #16195
Hi all,

As the V9 is no longer official supported I'm closing this issue.
Don't hesitate to post back with more steps about how to reproduce it on a supported version.

Regards,
Yenthe

[2019-04-11 14:33] #16195 closed

[2019-04-11 14:33] Yenthe666 commented on #18165
Hi all,

As the V9 is no longer official supported aI'm closing this issue.
Don't hesitate to post back with more steps about how to reproduce it on a supported version.

Regards,
Yenthe

[2019-04-11 14:33] #18165 closed

[2019-04-11 14:33] Yenthe666 commented on #16267
Hi all,

As the V9 is no longer official supported I'm closing this issue.
Don't hesitate to post back with more steps about how to reproduce it on a supported version.

Regards,
Yenthe

[2019-04-11 14:33] #16267 closed

[2019-04-11 14:34] Yenthe666 commented on #24989
Hi all,

As the V9 is no longer official supported I'm closing this issue.
Don't hesitate to post back with more steps about how to reproduce it on a supported version.

Regards,
Yenthe

[2019-04-11 14:34] #24989 closed

[2019-04-11 14:34] gustavovalverde commented on #10538
Hi @Yenthe666, I could agree but it's still happening in v12.

[2019-04-11 14:34] Yenthe666 commented on #16231
Hi all,

As the V9 is no longer official supported I'm closing this issue. Sorry that nobody came around to looking into this.
Don't hesitate to post back with more steps about how to reproduce it on a supported version.

Regards,
Yenthe

[2019-04-11 14:34] #16231 closed

[2019-04-11 14:35] Yenthe666 commented on #26494
Hi all,

As the V9 is no longer official supported I'm closing this issue.
Don't hesitate to post back if you can see the same issue in newer versions but I believe it is not present in 10 and up?

Regards,
Yenthe

[2019-04-11 14:35] #26494 closed

[2019-04-11 14:39] Yenthe666 commented on #10538
@gustavovalverde can you confirm that it happens on the latest 12.0 (runbot) too? I guess I'll reopen if that is the case.

[2019-04-11 14:39] Yenthe666 commented on #24571
Thanks for the feedback!

[2019-04-11 14:49] sswapnesh commented on #25238
Issue exists on Latest v12.

[2019-04-11 14:58] Yenthe666 commented on #25238
Hmm interesting. @mart-e could you check the OPW?

[2019-04-11 15:59] sbidoul commented on #31118
Dear @C3POdoo,

 No solution has been provided in the support ticket, could you therefore please keep this issue open.

[2019-04-11 16:04] pedrobaeza commented on #32620
@fa-odoo no, that's not happening. Once the return picking is created, you can't validate it if you don't have that stock (unless you force it).

[2019-04-11 16:20] Yenthe666 commented on #31118
@sbidoul C3POdoo is actually automated. @mart-e could you please check the OPW and provide feedback? I'll reopen it for now.

[2019-04-11 16:22] sbidoul commented on #31118
I know :)

[2019-04-11 17:07] houssine78 commented on #30613
@mart-e, @nle-odoo  is also impacting v11 and v12. could you port the fix to those branches ?

[2019-04-11 18:03] nle-odoo commented on #30613
Hello,

The fix is in 11.0 and 12.0 since 7 days ago in this forward-port commit:
 https://github.com/odoo/odoo/commit/214e819c1bbbbea2c55adc8feab6a269a845cdd4

[2019-04-11 18:31] edsersolis commented on #10538
@Yenthe666 Tested on runbot 12.0 just now. Issue remains.

[2019-04-11 20:41] Yenthe666 commented on #10538
Thanks for confirming @edsersolis - I've reopened it.

[2019-04-11 23:58] Moto017 opened #32636 "[12] sitemap crashes with non-assigned country of published partner"
Ran into this error in V12ce and found this reference

https://gitlab.merchise.org/merchise/odoo/commit/dee3b87ae4b7c67f21a445ed8caecdd6fa36277f

[2019-04-12 04:57] udamuri commented on #21562
thank you  @vijaykumar-odoo , it works

[2019-04-12 06:31] mart-e commented on #25238
@Yenthe666 I did not followed the ticket but the issue was closed as this is apparently the intended behaviour. The solution is to use pricelists to handle multicurrencies. See with @nicomacr if he wish to share details.

[2019-04-12 07:30] smurf-U opened #32641 "Auto restart after login docker"
Impacted versions: **Auto restart after login on docker**

Steps to reproduce:
Install odoo on docker as document

-> Restore local database to docker server
-> And login

   services:
       odoo:
          #build: .
          image: odoo:12.0
          depends_on:
             - db
         ports:
            - "8099:8099"
            - "1111:22"
        restart: always
        tty: true

[2019-04-12 07:46] pedrobaeza commented on #32641
I don't get the problem, but any way, any Docker related thing should go to odoo/docker.

[2019-04-12 07:46] #32641 closed

[2019-04-12 08:09] CasVissers commented on #32611
@gdgellatly I use OCA module https://github.com/OCA/account-reconcile/tree/11.0/account_skip_bank_reconciliation for this. Not yet ported to v12 though.

[2019-04-12 08:21] NMuatan opened #32643 "OPTIONS Request rejected by odoo"
Impacted versions: 11

Steps to reproduce: curl -i -X OPTIONS [url]/web/session/authenticate"

Current behavior:
Returns a 400 Bad Request Error with this message :
"/web/session/authenticate : Function declared as capable of handling request of type 'json' but called with a request of type 'http'"

Expected behavior:
Shouldn't check the header declared for the "POST" or "GET" request, and returns

[2019-04-12 08:45] Sixologue opened #32646 "[12.0]odoo.tools.convert.ParseError: "null value in column "projection" violates not-null constraint"
**I want to do a inheritance view but it gives that by following the module creation course in the odoo doc**
[code]

[2019-04-12 09:27] pedrobaeza commented on #32646
You are adding a record with a required field not filled, but this is not an Odoo error, but on your code.

[2019-04-12 09:27] #32646 closed

[2019-04-12 09:43] Armitxes commented on #28179
PLEASE!

Before you even plan on introducing new features, fix a big issue for shops and supermarkets:
Sessions with a mayor amount (>250) of orders take ages to close. Even with Odoo Standard. Sessions with small order amounts (up to 100) are no problem but this is a mayor issue which makes Odoo ineligible for mayor companies with a point of sale.

We already could drastically improve the perform

[2019-04-12 10:02] lap-odoo commented on #32620
Ok, I'll it in our backlog (1945885)

[2019-04-12 10:30] #32620 closed

[2019-04-12 10:53] Sixologue commented on #32646
Okay, Thanks Sir

[2019-04-12 10:58] MartinAavastik opened #32654 "Wrong translation when data is imported then name changed and name translated"
Impacted versions:
Tested on 11.0, but might be other version as well
Tested even in Odoo runbot also where I could reproduce the error.

Steps to reproduce:
You need to install some other language than english first.
I am using estonian language.

1. Import for example Product Categories through excel file
Example
[code]
2. Then change the name "Tuled" to "Lights"
3. Go to the freshly created pro

[2019-04-12 12:51] gustavovalverde commented on #22069
@tivisse just a ping here, as this is still true in v12 and master. Right now there's no way in community to import/export **job_ids**.

[2019-04-12 13:01] gustavovalverde commented on #19722
Just as a follow-up here.

@qdp-odoo we already changed the logic to use the `reference` field. We didn't want to create another field for client invoices, so we reused this same field on `out_invoice`.

We also made the whole code PEP8-compliant and made all the relevant changes so it also complies with OCA's travis and Odoo.sh

We would love to have a bit more of guidance on this subject from Od

[2019-04-12 13:27] mart-e commented on #32654
Hello,

This is a recurring report and known limitation, see my comment about this at
https://github.com/odoo/odoo/issues/23867#issuecomment-405267037

We have unfortunately no solution this at the moment than putting everything in one language. For the future, we should probably not making this field translatable.

[2019-04-12 13:27] #32654 closed

[2019-04-12 13:48] ManishS-OpusVL commented on #18510
Dear all,

This is to formally announce that our Making Tax Digital (MTD) for VAT solution is now been completed and recognized by HMRC.

For more details of our 'MTD Compliant - Odoo' solution please checkout this page https://making-tax-digital.software/odoo

Thank you !

Manish

[2019-04-12 15:56] zeroheure commented on #28179
Please consider hosting costs problem for ecommerce retailers :
Small retailers doesn't need fast hosting for backend, and quickly find low-cost and low-maintenance hosting offers that works.
But you need **very fast website** for ecommerce, and that is the problem because of the setup, the hosting cost and the maintenance. While Odoo has the easier web design tools, it is very hard and time consu

[2019-04-12 16:33] legalsylvain opened #32665 "[10.0 -> 12.0 + master][l10n_fr_cert_pos] Anti fraud module is broken with fiscal position"
**Impacted versions:**
All versions with french certification. (V10 / V11 / V12 / master)

**Steps to reproduce:**

- in a French certified context
- Create a Pos Order with a customer with a fiscal classification
- confirm the order. (the hash is generated and stored)
- alter a fiscal setting that is needed to compute the field ``tax_ids_after_fiscal_position`` (``pos.order.line`` model) (product

[2019-04-12 18:22] infoedgarpc1 commented on #30616
I have the same problem with odoo 12 but doing the modifications of the odoo file does not work when I put the code of def _compute_cost_currency_id (self):
        for template in itself:
            template.cost_currency_id = self .env.user.company_id.currency_id.id
in addons / product / models / product_template.py

[2019-04-13 00:06] luisg123v commented on #31009
Hi @mart-e
Could you reopen this issue, please? It was automatically closed.

CC @nhomar

[2019-04-13 03:25] efrenba opened #32666 "Buttons in kanban views does not handle confirm attribute, so they are not able to launch the confirmation dialog"
Impacted versions:
11, 12

Steps to reproduce:
Button inside kanban record

[code]

Current behavior:
Does not show the confirmation dialog 'cause in the code the confirm attribute is not handled.

File: addons/web/static/src/js/views/kanban/kanban_record.js
Current code:
[code]

Expected behavior:
confirm attribute handled

Modified code:
[code]

This change could be merge into the Odoo code?

[2019-04-13 10:50] pedrobaeza commented on #32666
Please propose directly a PR to Odoo to the lower supported version that you want to apply it

[2019-04-13 10:53] UnixedIT commented on #31809
in V11 the sames thing.

[2019-04-13 14:57] Yenthe666 commented on #32665
You basically pinged nobody really actively working on the POS haha. @switch87 any chance you could have a look?

[2019-04-13 18:05] celm1990 opened #32667 "[12] account_voucher Cannot create unbalanced journal entry."
**Impacted versions:**
Tested on runbot V12
**Steps to reproduce:**
_**With round per line working fine**_
![Voucher](https://user-images.githubusercontent.com/7775116/56083555-16575d00-5dec-11e9-9d7e-2cc27ba1186a.gif)

**_With round globally get error_**
![Voucher round global](https://user-images.githubusercontent.com/7775116/56083565-36871c00-5dec-11e9-9db8-8f9a97a4eab1.gif)

commits related ar

[2019-04-13 18:10] celm1990 commented on #32667
Posible bad forward porting??
_first commit_
![image](https://user-images.githubusercontent.com/7775116/56083623-2885cb00-5ded-11e9-9fef-562cd9a2827e.png)

_forward port_
![image](https://user-images.githubusercontent.com/7775116/56083649-68e54900-5ded-11e9-8d24-d121a8e0876e.png)

[2019-04-13 18:58] mutamizh commented on #21562
It's worked for me. Tons of thanks.

[2019-04-14 08:32] chaise29 commented on #29449
I didn't try with a generated apk yet ...
I use ionic, if you are using ionic as well, you can check the documentation there -> https://ionicframework.com/docs/faq/cors#solutions-for-cors-errors
Basically , on android the origin is  http://localhost, so adding this url , without the 8100 port, should work

[2019-04-14 08:35] mdmfox commented on #31376
I've been experiencing the same issues. Monitoring the database I could see that
whenever user X login into company B, odoo sets res_user.company_id as company B for this user.
The table res_company_assignment_res_partner_rel column res_company_assignment_id, change from A to B as well.
So then, if user Y tries to print a receipt that was made by user X in company A; the system will throw a permis

[2019-04-14 20:25] supermery opened #32671 "display loaded data in popup"
Impacted versions:
HI,
i create a custom model sepend with pos ,i want to load fields from this model and display it in popup ,
this is the code for loading custom model fields
models.load_models([{
model : 'jsproject.jsproject',
fields : ['num_vehicule', 'client', 'mar'],
loaded : function(self,result){
var list =[];
for (var i =0 ;i <result.length; i++){
list.push({'label':result[i]});
}
console

[2019-04-15 06:50] kebeclibre commented on #32665
@legalsylvain
The only issue I see is the lack of protection around the function in the pos_certification module and probably an @api.depends around it.

Otherwise, it seems logical and justified business wise to have corrupted the hash as the tax_after_fiscal_position field is one of the field that is hashed

And since:
`line.tax_ids_after_fiscal_position = line.order_id.fiscal_position_id.map_ta

[2019-04-15 07:15] maksymkv25 opened #32674 "Image don't displayed in qweb-pdf report"
Impacted versions:
12.0
Steps to reproduce:
In custom qweb-pdf report add a local image file:
`<img t-att-src="'/vendor_package_frontend/static/img/CD_Logo.png'" />`

Current behavior:
I don't see the image.
Expected behavior:
I expected that the image would be displayed.
Video/Screenshot link (optional):
![no_image_report](https://user-images.githubusercontent.com/12529036/56113655-234c8b80-5f67-

[2019-04-15 08:23] switch87 commented on #32665
@legalsylvain thank you for reporting this problem. This should indeed be prevented. We will discuss internally at Odoo to find a proper solution.

[2019-04-15 08:24] switch87 commented on #32665
@Yenthe666 thank you for pinging me :+1:

[2019-04-15 08:38] legalsylvain commented on #32665
Hi @kebeclibre. Sorry if I didn't explained the problem correctly. Indeed, if we alter product, taxes_id, or partner_id of `the pos.order` / `pos.order.line`, the hash is corrupted, and **it is OK**.
The problem I see is if we change the settings of the fiscal_position. (changing tax_dest_id, or couple of tax_src_id / tax_dest_id). In that case, the result of the map_tax call, will change, and so

[2019-04-15 08:42] switch87 commented on #32665
@legalsylvain here is the list of responsibles: https://github.com/odoo/odoo/wiki/BugManagement

[2019-04-15 08:45] legalsylvain commented on #32665
:100: :+1: Thanks A lot ! I pinned this page.

[2019-04-15 08:50] legalsylvain commented on #32665
Note : it's partially out of the scope, but I don't understand the reason of both fields `tax_ids` and `tax_ids_after_fiscal_position` in the point of sale, in the recent version. In other accounting models. (`sale.order` / `account.invoice` / `purchase.order`) there are no such fields. (only the currents taxes applied). Explanation welcome !

[2019-04-15 09:10] pedrobaeza commented on #32667
@KangOl can you please check?

[2019-04-15 09:12] pedrobaeza commented on #32674
This can be due to incorrect deployment without proper wkhtmltopdf access to instance resources:

- No report.url or incorrect one.
- Multiple databases without dbfilter.
- No proper reverse proxy configuration.

Please check that ones and go to forums for further questions.

Closing as no real Odoo issue.

[2019-04-15 09:12] #32674 closed

[2019-04-15 09:17] oco-odoo commented on #10538
@Yenthe666 @edsersolis

It has been done, but not yet merged on master. We are changing the way taxes are declared and introducing some new tax report engine; we are integrating the fix to these complex tax combinations in the same branch. There is no PR yet, but branch is called master-account-tag-tax-code-oco (on both community and enterprise). It is in the final stages of development, so you sh

[2019-04-15 09:20] JayVora-SerpentCS commented on #32674
I assume its mostly the path/relative path.

[2019-04-15 09:28] KangOl commented on #32667
The forward-port was correct.
In version 12, the `apply_taxes` flag has been removed from context, leading to having the same line written in both code branches (`if` and `else`). I, therefore, move it outside the condition and remove the now empty `else` clause.

[2019-04-15 09:31] pedrobaeza commented on #32667
@KangOl what about the shared screencast?

[2019-04-15 09:34] KangOl commented on #32667
There may be a bug, but it does not seem to be due to this forward-port.

[2019-04-15 09:46] pedrobaeza commented on #32667
OK, let's keep it opened and tagged then.

Thanks for your insights, Christophe.

[2019-04-15 11:05] legalsylvain commented on #32665
Proposal : One of the solution i see is to set `tax_ids_after_fiscal_position` stored. (in fact, this is the only field non-stored of all the list fields).

As processing the change between non stored to stored is quite long for existing databases. (compute for each `pos.order.line`), I think that we could :
-> increase version of module `point_of_sale`
-> add a pre migration script, with a sql sc

[2019-04-15 12:31] Nimja commented on #30317
The point is that the action is ALSO visible with people who DO NOT have this group.

[2019-04-15 12:34] Nimja opened #32686 "Odoo mobile app - Enter server first, then press next"
The Odoo app now has the following screen when you start it:

[code]

Unfortunately, this means that if an app uses a different method of user validation, like OpenID or OAuth, it does not work.

-------

Wouldn't it be nicer to have:

Screen 1:
[code]

Screen 2 - Already on that server, showing the correct logo, etc.
[code]

By running screen 2 on the server in question, they can use whatever imp

[2019-04-15 12:38] yajo opened #32687 "Cannot run tours if multiple databases exist"
Impacted versions: 12.0

Steps to reproduce:

1. Install 2 databases.
1. Run tests of any module that uses tours in one of those databases.

Current behavior: Cannot run the tour because chrome headless gets redirected to the database selector.

<details><summary>Example logs</summary>

[code]

</details>

Expected behavior: Able to run tours because the backend test already knows which database i

[2019-04-15 12:41] Yenthe666 commented on #32687
Thanks for the PR @Yajo! Is there a reason you create both an issue and a PR though? Why not just the PR?

[2019-04-15 12:41] Yenthe666 commented on #32686
@adr-odoo could you check? Related to the mobile app.

[2019-04-15 12:42] Yajo commented on #32687
The PR is for downstream workaround, while the issue is upstream.

[2019-04-15 12:43] nvietthuan2010 opened #32688 "general setting bug: this.getFocusableElement is undefined"
Impacted versions: 12.0

Steps to reproduce: setting -> general setting

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-04-15 12:43] Yenthe666 commented on #32687
Oh I'm sorry I saw "Odoo" but it is Tecnativa 😕 My bad! Feel free to make a PR to Odoo.

[2019-04-15 12:47] Yenthe666 commented on #32688
Hi @nvietthuan2010,

Thanks a lot for your bug report. I've tested this on the latest Odoo 12.0 (runbot.odoo.com) but it seems to work fine out of the box.
Can you update your Odoo instance and try again or test on runbot.odoo.com if you can still reproduce the problem there?
Please add more information if you still have this issue.

Regards,
Yenthe

[2019-04-15 12:48] Yenthe666 commented on #32671
Hi @supermery,

I'm sorry but the Github tracker is only for bugs in the official code. This is not the place to ask questions about custom development.
You can ask these on the official help forums at https://www.odoo.com/forum/help-1

Regards,
Yenthe

[2019-04-15 12:48] #32671 closed

[2019-04-15 12:52] nvietthuan2010 commented on #32688
hi Yenthe,
Thank for reply with my request. runbot not problem. it warning by:

TypeError: this.getFocusableElement(...) is undefined

http://cloud.posplus.vn/web/static/src/js/fields/abstract_field.js:324
Traceback:
setIDForLabel@http://cloud.posplus.vn/web/static/src/js/fields/abstract_field.js:324:9
setIDForLabel@http://cloud.posplus.vn/web/static/src/js/fields/basic_fields.js:838:9
OdooClass.e

[2019-04-15 12:54] nvietthuan2010 commented on #32688
ok Thank YenThe

[2019-04-15 12:54] #32688 closed

[2019-04-15 13:16] qdp-odoo commented on #19722
@jco-odoo is the one to talk to, regarding localizations, now :-)

[2019-04-15 13:31] anabeladamas opened #32694 "[11] Channel on Discuss scroll bar position"
**Impacted versions:**
Odoo version 11.0-20190404

**Steps to reproduce:**
When you click on Discuss , and then choose a channel.

**Current behavior:**
You are redirected to the start of the conversation, if the conversation is big, this is annoying because you have to scroll down to check the last messages.

Expected behavior:
You should be redirected to the end of the conversation (scroll bar t

[2019-04-15 13:50] qdp-odoo commented on #32044
No, I don't.

That's what we made previously at the release of v11, but back then people were confused because they couldn't see all the items involved in partial reconciliations.... For example, a payment of 50€ reconciled with an invoice of 75€ would show only the invoice but
1) the payment doesn't have the matching number written
2) it looks like the open balance of the customer is 75€ whereas

[2019-04-15 13:50] #32044 closed

[2019-04-15 14:23] qdp-odoo commented on #32569
do that, please

[2019-04-15 14:24] qdp-odoo commented on #32569
@intero-chz thanks for the link

[2019-04-15 14:38] jco-odoo commented on #19722
Hi @gustavovalverde , other latam localizations have similar cases.  The module is however quite extensive and we would appreciate more background to understand why things are done in a certain way.  Are you open for that?

[2019-04-15 15:19] jco-odoo commented on #19722
The sequence is not different for every partner, just for every sale fiscal type/invoice type?

[2019-04-15 15:39] gustavovalverde commented on #19722
The sale_fiscal_type, which we use a lot, changes depending on the partner
who's buying us.

Depending on the partner's fiscal type we need to use use a different
sequence for the invoice.

This is why the *_fiscal_type is present in partners, invoices and
sequences in our localization.

This is also True when buying to a supplier, as the sequence that we
receive or emit (depending), changes based

[2019-04-15 16:06] #32228 closed

[2019-04-15 18:08] sswapnesh commented on #28118
Hello @william-andre
I am not sure but it seems like Last X days is not considering Today's day in domain.
Could you please confirm if this is desired behaviour ?

[2019-04-15 18:36] jco-odoo commented on #19722
@gustavovalverde I see.  I was afraid every partner would needs its own sequence.  We need to see what is the best solution for that: I am more in favor of combining journal and "type".  If you only need sale_fiscal_type, what purpose do the other fields have?  Are these legal fields shown somewhere?

[2019-04-15 19:24] sswapnesh commented on #25238
I tried again on latest v12 and still Issue exists.

[2019-04-15 20:32] qdp-odoo commented on #28642
should have been solved, long ago, by https://github.com/odoo/odoo/commit/d395accd94b5041782bf9c24cb2a8f65061e4ade

[2019-04-15 20:32] #28642 closed

[2019-04-15 20:35] sswapnesh commented on #30317
I tried to reproduce this again on Latest v11 Build (http://500251-11-0-0b2dbb.runbot15.odoo.com/web#id=9&view_type=form&model=res.partner&action=48) and it seems working as expected.

Eg, Added Multi Companies group on "All Invoices" action.

![Screenshot](https://user-images.githubusercontent.com/16624719/56163293-9861a480-5feb-11e9-958d-84d99b355b84.png)

User is not able to see that Action

![

[2019-04-15 20:36] sswapnesh commented on #28642
Yeah, Works well now.
Thanks

[2019-04-15 20:46] alfredourena commented on #29369
@pedrobaeza @ganesheverbest

Any news or solutions with this issue? It's causing us some trouble with some customers.

[2019-04-16 02:05] chapsticks opened #32699 "two "warehouse_count" field in "stock.warehouse" class"
Impacted versions:
Odoo version 12, master
![image](https://user-images.githubusercontent.com/2037397/56176862-0c716c00-602f-11e9-8e3c-ee484ae97759.png)

 two "warehouse_count" field in "stock.warehouse" class.

[2019-04-16 03:01] efrenba commented on #32666
I reopen a closed PR proposing this change: https://github.com/odoo/odoo/pull/32531
I'm sorry, never work with Git before, is that Ok?

[2019-04-16 06:31] Yenthe666 commented on #32699
Thanks for reporting @chapsticks - you're right! I've made a PR to remove the duplicated field definition.

[2019-04-16 06:34] Yenthe666 commented on #28118
@sswapnesh I can confirm this one. I've actually made a bug report abotu this in the past but Odoo feels that the "last 365" days means the "LAST" and not the last 365 including today. They did not want to change this behaviour. I still find it odd.

[2019-04-16 06:55] jayo2005 opened #32705 "ESC/POS Hardware Driver - Paper Cut"
Impacted versions: 11

Steps to reproduce: Install ESC/POS Hardware Driver module

Current behavior:Paper does not cut after print

Expected behavior:Paper should cut

Video/Screenshot link (optional):

Are there any more option to try get the paper to cut after receipt print. Everything else is working except papercut. I checked constants.py but not sure what I can change here. Its a sewoo printe

[2019-04-16 07:40] gdgellatly opened #32707 "Some kind of rounding error causing Check Availability to fail"
Impacted versions: 12.0

Steps to reproduce:
OK this took some time to replicate on runbot. Simple configs worked, so had to build out fully.
http://500789-12-0-77a241.runbot20.odoo.com/web?#id=389&action=392&active_id=135&model=stock.picking&view_type=form&menu_id=555 is the example picking

Create a product with a UoM precision of 0.001, MTO, Manufacture, Tracking Lots.
Create a Bill of Material

[2019-04-16 07:41] gdgellatly commented on #32707
@Yenthe666 Stock

[2019-04-16 07:43] gdgellatly commented on #32707
opw 1969888

[2019-04-16 07:43] Yenthe666 commented on #32707
Oops, sorry, took the wrong one. Thanks for the ping.

[2019-04-16 08:06] #32329 closed

[2019-04-16 08:39] legalsylvain opened #32711 "[10.0 -> 12.0 + master][l10n_fr_cert_pos] Anti fraud module is broken with Merge partner feature"
**Impacted versions:**

All versions with french certification. (V10 / V11 / V12 / master)

**Steps to reproduce:**
- in a French certified context
- Create a Pos Order with a customer named "customer 1"
- Create a Pos Order with a customer named "customer 2"
- Go to Contacts
- Select both contact
- click on "More Option" /  "Merge partner" and confirm

**Current behavior:**
- The merge is possibl

[2019-04-16 08:56] legalsylvain commented on #32711
Possible solution :

1. in `base` module :

- Add on `res.partner`
[code]

- Add a test on `base.partner.merge` and exclude non mergeable partners

2. in `l10n_fr_cert_pos` :

- when a certified bill is generated, set `is_mergeable` to False

[2019-04-16 09:50] haconsult opened #32714 "[12] Can not Install German Accounting"
Impacted versions: v12

Steps to reproduce:

- Create a new database with German localisation
- Try to install accounting App

Current behavior:

- Won't install
- ERROR xytest odoo.sql_db: bad query: b'INSERT INTO "account_account" ("id", "create_uid", "create_date", "write_uid", "write_date", "code", "company_id", "currency_id", "deprecated", "group_id", "name", "note", "reconcile", "user_type_i

[2019-04-16 10:00] gustavovalverde commented on #19722
This fields must be shown on the invoice:
- sale_fiscal_type (name)
- sale_fiscal_type (sequence)
- anulation_type (if the invoice is cancelled)
- origin_out (the origin sale_fiscal_type on a `out_refund`)
- ncf_expiration_date (the sale_fiscal_type sequence expiration date)
- purchase_type (same as sale_fiscal_type, but for purchases)

This fields are use to make the monthly fiscal reports:
- inc

[2019-04-16 11:06] simongoffin commented on #32530
Closed with https://github.com/odoo/odoo/commit/d5e3b1d04e6e97de3fed8d14b276c7c91bc02f79

[2019-04-16 11:06] #32530 closed

[2019-04-16 11:28] reinaldoramosarxi commented on #31376
@mdmfox We changed pretty much every document's rule for multi company access, basically changing it from the user's current company to the user's list of authorized companies.

[2019-04-16 11:52] pedrobaeza commented on #30317
@Nimja can you try with latest code version?

[2019-04-16 11:53] pedrobaeza commented on #29369
Not yet. It has been tagged, but there's no obligation by Odoo to check all the issues reports. If you want this to be checked and you have an enterprise contract, then you can issue an enterprise ticket with the problem and the reference to this one.

[2019-04-16 12:13] yajo opened #32720 "Tour failure screenshot and screencast do not scroll"
Impacted versions: 12.0

Steps to reproduce: Run a tour that fails, with `--logfile` set.

Current behavior: A screenshot of the failure step, and a screencast are logged along with the logfile, but **they do not scroll**. For example, I had a failure in the "Country" field (due to #32718). Check the attached file at the end.

Expected behavior: When triggering an element, the tour should try to s

[2019-04-16 12:14] wnz27 opened #32721 "You've misconfigured your Odoo folders in your configuration file (/etc/odoo/). Your issue also provides way too little details by the way."
You've misconfigured your Odoo folders in your configuration file (/etc/odoo/). Your issue also provides way too little details by the way.

_Originally posted by @Yenthe666 in https://github.com/odoo/odoo/issues/32276#issuecomment-478324141_

thanks, I write in mac, and I think you're right with this issue.
I will try again!

[2019-04-16 12:18] #32721 closed

[2019-04-16 12:26] william-andre commented on #32714
There is indeed a declaration for

| id | code | name | tag_ids/id | user_type_id/id | chart_template_id/id | reconcile |
| --- | --- | --- | --- | --- | --- | --- |
| account_3551 | 3551 | Wareneingang, im Drittland steuerbar | l10n_de.tag_de_pl_05 | account.data_account_type_expenses | l10n_de_skr03.l10n_de_chart_template | False |
| chart_skr04_3551 | 3551 | Erhaltene Kautionen - Restlaufzeit b

[2019-04-16 12:59] jco-odoo commented on #32714
As the two are different CoAs it should not matter much.  But I will still do a check.

[2019-04-16 13:17] jco-odoo commented on #32714
hm, I could reproduce it.

[2019-04-16 13:20] jco-odoo commented on #32714
It is the 3557 account that somehow got code 3551

[2019-04-16 13:50] gustavovalverde opened #32732 "[12.0] base: Can't export/re-import many2many fields"
#### Impacted versions:
12.0

#### Steps to reproduce:
From `res.users` export the **groups_id** field.

#### Current behavior:
When trying to import the same file, Odoo won't accept it as the many2many are separated in rows. In v11 they those were separated by commas.

#### Expected behavior:
Successful import.

**P.D.:** This is a complete halt for data importation in v12
![image](https://user-i

[2019-04-16 15:42] reinaldoramosarxi opened #32743 "[12.0] "website" variable not present in view context, but as some sort of "global" variable"
Hello,

We've had some problems in a few of our web templates, namely some that have forms and an input field called "website", for a customer to input their website, if any.

We finally pinpointed it to a variable that exists in these views, called "website", which obviously created problems if we had a char field by that name in the same view (namely, this "global" variable's methods and attribu

[2019-04-16 15:54] lookasko opened #32744 "Auto-generated labels for fields ignores "oe_edit_only" and "oe_read_only" classes"
Impacted versions: 12

Steps to reproduce:
Create simple form view only using group and field elements (inside sheet), so labels for fields are autogenerated.
Add to some field attribute class="oe_edit_only" or "oe_read_only"

Current behavior:
Label is generated in both view/edit and ignoring class preference.

Expected behavior:
Follow "oe_edit_only" and "oe_read_only" so labels are not generate

[2019-04-16 15:59] suniagajose opened #32745 "[12.0] Wrong float comparation when assign stock.move state"
Impacted versions:
12.0

Steps to reproduce:
- Do a intenal move with [this lines](https://drive.google.com/file/d/1dz2bTj93GuhpbdGuJJstzJzgWgXXPgNW/view), all quantities is the same

Current behavior:
- The Stock Move has an state 'Partially available' when is completly reserved, caused by a wrong float comparation (e.g. 358.59 == 358.5900000000001).
 - code to fix:
https://github.com/odoo/odoo/b

[2019-04-16 18:27] pedroslopez commented on #21547
It seems this is still an issue on v12... will this be fixed? I see PR #27290 but has not been merged

[2019-04-16 18:29] gustavovalverde commented on #19722
@jco-odoo An idea that I was given was to use the **fiscal positions** to control those sequences. But I'd like someone with a _broader criteria_ on the impact. I'm not sure if it's a great idea, or a really bad one in the long run.

[2019-04-16 19:03] sswapnesh commented on #23449
I believe this is Intended behaviour (At Least in current Framework )
@pedrobaeza  What do you think ?

[2019-04-16 20:31] Moto017 opened #32747 "[12] Website: editing website menu in wrong company causes menu entry problem"
Impacted versions:
[12ce]

Steps to reproduce:
Multi-company and multi-website
Website 1 owned by company 1
Website 2 owned by company 2
Edit website menu as Company 1 for website 2

Current behavior:
Creates menu entry for Company 1 on website 2 causing menu to show, but not for public user
Expected behavior:
Creates menu entry for Company 2 for website 2

Video/Screenshot link (optional):

[2019-04-16 20:53] #32747 closed

[2019-04-16 22:25] amirpadilla opened #32749 "[11.0] Regenerate Asset Bundle"
Impacted versions:
11

Current behavior:
After uninstall a module that handle odoo attachments I got the following error

Could not get content for /portal/static/src/less/website.wrapwrap.custom.web.assets_frontend.less defined in bundle 'web.assets_frontend'.
(b'', b"NameError: .o-create-color-classes is undefined in - on line 4350, column 17:
4349
4350                 .o-create-color-classes(~'

[2019-04-16 23:08] pedrobaeza commented on #32749
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-04-16 23:08] #32749 closed

[2019-04-16 23:22] idelisGe commented on #27754
I solve this putting postgres like db_name in the odoo_conf file
...
... db_name = postgresql
...
after the server config everything again access to the browser like always
.... localhos:port/web/database/selector
... remember remove this line in the config file after create a new database or set false value
I'm using ubuntu 18.04 , and odoo 12 version

[2019-04-17 00:07] pedrobaeza commented on #23449
The name unique constraint avoids to use the duplicate function, but this is not a fault of the framework, but something to deal with in the model `copy` method (or `copy_data` one), changing the name before duplicating. It has been done with certain models like product. It would be good to do something similar on tax one, but it's not a specially complex model for not being able to copy it by han

[2019-04-17 03:09] kmlew commented on #26896
Hello fclementic2c,

Was this ever resolved for you?

K

[2019-04-17 05:54] Yenthe666 commented on #32743
Maybe @JKE-be can answer. For me there is no problem though, just use another variable than "website"?

[2019-04-17 05:56] Yenthe666 commented on #32605
Did you set a default language for your website in the backend settings?

[2019-04-17 06:58] ADVALAKI commented on #32745
can i create fix and contribute to odoo?
and how?

[2019-04-17 07:24] gustavovalverde opened #32752 "[All] Point of Sale: A user can be deleted even if it has records attached to it"
#### Impacted versions:
All

#### Steps to reproduce:
- Open the Point of Sale with a Manager
- Change to the user "Cashier"
- Make a bunch of sales with that the user: Cashier
- After a few months, delete the user Cashier

#### Current behavior:
- It **deletes** the user and all the records related to it now are empty in that field

#### Expected behavior:
- A user with history must not be delete

[2019-04-17 07:27] gustavovalverde commented on #32752
cc: @switch87 this scenario might have not been considered.

[2019-04-17 07:30] matmicro commented on #32605
Yes, there is a default language and there is also several languges
installed.
My website is translated in several languages.

On Wed, Apr 17, 2019 at 7:59 AM Yenthe V.G <notifications@github.com> wrote:

--
Mathieu CANNESSON

[2019-04-17 07:40] switch87 commented on #32752
Thank you for reporting this issue, our bug fix team will handle it and keep you informed. :+1:

[2019-04-17 07:47] jayo2005 opened #32754 "Cant close POS session with cash control"
Impacted versions:11

Steps to reproduce:I enabled cash control while session was still open. No sales had gone through session. Tried to close session but get error. Now stuck and cant close session or turn off cash control

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
[code]

[2019-04-17 07:49] gustavovalverde opened #32755 "[11.0] account: Payment receipts print wrong 'Amount Paid'"
#### Impacted versions:
11.0, 12.0

#### Steps to reproduce:
- Pay 2 invoices with 1 payment.

#### Current behavior:
- In the receipt, on each invoice, it shows as 'Amount Paid', the amount that is actually settled on the invoice.

#### Expected behavior:
- The 'Amount Paid' should be the amount being settled by the payment.

#### Video/Screenshot link (optional):
https://youtu.be/8cz0i2qOXpw

**

[2019-04-17 07:53] gustavovalverde commented on #32754
Are you in the latest commit? I recall this being fixed a few days ago.

[2019-04-17 07:53] gustavovalverde commented on #32754
Here: https://github.com/odoo/odoo/commit/a7ac88e68cc24d3033c65606415449e8f347f7b3

[2019-04-17 07:55] Yenthe666 commented on #32754
@jayo2005 can you please update your Odoo instance and check again? It should be solved in the meanwhile.

[2019-04-17 08:14] jco-odoo commented on #20563
@damendieta For the moment, we are waiting for you.  (nothing urgent, but we appreciate your input)

[2019-04-17 08:15] jayo2005 commented on #32754
Yes updating solved the issue. Thanks

[2019-04-17 08:15] #32754 closed

[2019-04-17 08:15] nhomar commented on #32755
@gustavovalverde can you link a proper opw ticket here if you have one, I agree this is an issue! good catch!

[2019-04-17 08:18] gustavovalverde opened #32757 "[12.0] l10n_*: Stock Interim accounts were not correctly ported to v12"
#### Impacted versions:
12.0

#### Steps to reproduce:
- Try to invoice using anglosaxon / real time on a new l10n_do install

#### Current behavior:
- It complains that the **Interim Account** is not reconcilable

#### Expected behavior:
- Successful invoicing

**Note:** This is also crashing some tests when a module requires any of those l10n_* that were not ported correctly.

Related to: #32611

[2019-04-17 08:19] gustavovalverde commented on #32757
cc: @jco-odoo this might be impacting other localizations

[2019-04-17 08:21] gustavovalverde commented on #32755
@nhomar https://www.odoo.com/my/task/1970401

[2019-04-17 08:21] JKE-be commented on #32743
It is one of the reserved keyword because we use it in qwebcontext.

Here a non exhaustive list:
- slug
- unslug_url
- main_object
- multi_website_websites_current
- multi_website_websites
- multi_website_companies_current
- multi_website_companies
- website
- url_for
- res_company
- default_lang_code
- languages
- translatable
- editable
- menu_data
- env
- user_id
- res_company
- keep_query
- re

[2019-04-17 08:21] #32743 closed

[2019-04-17 08:28] gustavovalverde commented on #32757
PR made for l10n_do: https://github.com/odoo/odoo/pull/32758

[2019-04-17 08:31] reinaldoramosarxi commented on #32743
@Yenthe666 Sure, that's what makes sense now that we know it's a reserved word, but people will keep making that mistake :P
@JKE-be Thank you for the list, it's going to be really useful!

[2019-04-17 08:36] gustavovalverde commented on #32757
I'm also having the doubt, should these accounts have been like this before? Was this the correct configuration in v11, v10?

[2019-04-17 08:45] #32714 closed

[2019-04-17 08:46] barachka opened #32760 "[12.0] Error when confirm purchase order"
Impacted versions:
12.0 Enterprise

Steps to reproduce:
Create Purchase order with more 2 lines

Current behavior:
Traceback:
Error:
Odoo Server Error
[code]

**I think this problem after merged https://github.com/odoo/odoo/pull/31471**

[2019-04-17 09:06] gustavovalverde commented on #32705
I've always set this up on the printer. Most printers (mainly the ones compatible with Odoo), have a tool to configure this behavior.

I'm not aware of this working on non compatible printers.

[2019-04-17 09:10] gustavovalverde commented on #31006
Actually, I'll close this one as a product shouldn't be archived with quantities. It's a wrong procedure.

[2019-04-17 09:10] #31006 closed

[2019-04-17 09:17] Yenthe666 commented on #32705
If I'm not mistaking the configuration is completely done at the side of the printer and it has nothing to do with the POS from Odoo.
@pimodoo can you confirm?

[2019-04-17 09:23] gustavovalverde opened #32763 "[11.0/12.0] product: Barcodes should not disappear when archiving a product"
#### Impacted versions:
11.0, 12.0

#### Steps to reproduce:
- Someone archives **Product A** with barcode: 12345
- You try to a new **Product B** using barcode 12345
- It raises an error that a product with that barcode already exists

#### Current behavior:
- If you try to lookup **Product A** by barcode it won't appeared on archived products
- If you try to export all the archived products, **P

[2019-04-17 09:29] reinaldoramosarxi opened #32764 "[12.0] mail_template_data_payment_receipt template being used in customer and supplier payments"
Hello,

The same payment mail template (mail_template_data_payment_receipt) is being used on both customer and supplier payments by default.

This would be fine if the information in it didn't include "thank you for your payment", which doesn't make sense when you're sending a payment to a supplier.

A validation on the type of payment (outgoing or incoming) and a different string would probably b

[2019-04-17 09:32] jco-odoo commented on #32757
@gustavovalverde Indeed, this should have been reconcilable already from v10, although not a lot of people will create a new instance in v10 I suppose.  I should indeed check for the other localizations.

[2019-04-17 09:35] OmniaGit opened #32765 "ir_attachment permission not raised"
Impacted versions:
V12 E
Steps to reproduce:
Create a new user without permission and try to upload e document
Current behavior:
real exception are trapped by the exec and the user see an error that is not the true one
Expected behavior:
user permission error has to be raised
on the function upload_attachment under the web/controller/main.py there is this code:
[code]
in my case we get the error u

[2019-04-17 09:35] Yenthe666 commented on #32764
@tde-banana-odoo for your interest.

[2019-04-17 09:36] Yenthe666 commented on #32763
Good point. Maybe Odoo should only check for active products with a barcode.

[2019-04-17 09:56] tde-banana-odoo commented on #32764
cc @qdp-odoo

[2019-04-17 10:02] Mtui opened #32769 "Salary rules to introduce different overtime rates based upon public holidays, weekends and normal day"
Impacted versions: 12

Steps to reproduce: Install public holidays, payroll and overtime addons/ modules Writing python codes and conditions in salary rules to check if approval OT days are holidays or weekend then applying its OT rate (x 2.0 ) in hourly salary payment and the same for the OT if it's normal day but different OT rate (x 1.5)

Current behavior: flat OT rate

Expected behavior: Diffe

[2019-04-17 10:43] pedrobaeza commented on #32769
@Mtui public holidays is not something supported for payrolls.

[2019-04-17 10:45] pedrobaeza commented on #32765
This can be considered more a wishlist than other thing, as the security is not compromised, but the message is not the better one.

[2019-04-17 10:58] Elbagoury opened #32771 "Is odoo support PostgreSQL 11 | Database creation error: relation "ir_model" does not exist"
Impacted versions:
V: 12 EE,CE April 2019

Steps to reproduce:
odoo 12 is   working  good with PostgreSQL 10 but when Install PostgreSQL 11 and try to create DB using odoo 12 EE or CE this Error will Appear :
Database creation error: relation "ir_model" does not exist LINE 1: SELECT * FROM ir_model WHERE state='manual'

<img width="293" alt="bug" src="https://user-images.githubusercontent.com/9639

[2019-04-17 11:00] pedrobaeza commented on #32771
I don't think the problem is with PG version. I remember to try PG 11 without problems.

[2019-04-17 11:00] pedrobaeza commented on #32760
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-17 11:03] Yenthe666 commented on #32760
@pedrobaeza hmm I made a PR but now that I look at the code again I'm actually assuming there is custom dev on that environment. The field `date_expected` is on the line so it should work fine.
@barachka could you try on the latest 12.0 runbot and make a video?

[2019-04-17 11:04] Yenthe666 commented on #32771
Rather looks like a deployment issue.

[2019-04-17 11:05] pedrobaeza commented on #32760
Yes, that was my suspect and thus I prefer confirmation on runbot.

[2019-04-17 11:26] intero-chz commented on #32771
Yep, we have Odoo running with PostgreSQL 11.2 like a charm.

[2019-04-17 11:32] pedrobaeza commented on #32771
Closing then without more details of the problem. Feel free to answer if there are more.

[2019-04-17 11:32] #32771 closed

[2019-04-17 11:44] Yenthe666 commented on #32699
Fixed in https://github.com/odoo/odoo/commit/8c402ca38a3d09594f41f9e9fe8555ade9cb80ac

[2019-04-17 11:44] #32699 closed

[2019-04-17 12:10] Elbagoury commented on #32771
Ok , I will test it again maybe it is deployment issue.

[2019-04-17 12:11] ValentinoDefelice commented on #30515
Hi @Yenthe666 !
¿Are you planning apply this fix about planned transfers to V11?

[2019-04-17 12:46] Yenthe666 commented on #30515
@ValentinoDefelice it has been resolved in V12 so a backport of this is very unlikely, unless @sle-odoo would approve it.

[2019-04-17 13:04] gustavovalverde commented on #32757
I think it could be easy for all the localizations that have the **property_stock_account_****_categ_id** set.

So basically, If we have an install currently in production in v11, with this accounts as reconcilable FALSE, we should be setting that to TRUE (even though it will complain and we'd have to workaround that).

[2019-04-17 13:27] gustavovalverde commented on #25055
@sle-odoo just pinging here as this is still an issue in **v12**, **master**.

[2019-04-17 14:33] MohsenWaleed commented on #24361
I know you already closed this issue but issue not solved.

I will explain it in other words, In Odoo, only admin users have access to "Activate Developer mode" from settings menu but any other user who doesn't have access to settings menu able to active developer mode by typing ?debug in the URL and he will be able to see more menus and able to change them as well as I mentioned in the issue abov

[2019-04-17 15:09] jco-odoo commented on #19722
@gustavovalverde Does not it just depend on journal and sale_fiscal_type?

[2019-04-17 15:46] gustavovalverde commented on #19722
I wouldn't like to say that it depends on **journal**. We used the journal because it already handles the **sequence by date** which we use to add the **sale_fiscal_type** of the partner, and decide (based on that) which sequence to consume for the NCF.

But if you ask me, I don't like the idea of keeping the **NCF** sequence **inside the journal**. If we could do something completely independent

[2019-04-17 16:15] tsabi opened #32783 "Project user create new task with sale_timesheet module = error"
Impacted versions: 12c

Steps to reproduce:
- Install sale_timesheet
- set up a project with linked to sale order
(in my case this is an ongoing project: i have a sale order with 400 hours and there is already one invoice with some amount of the sale order time. this is how i created:
  - create a project with time sheet enabled on it
  - create some tasks with time sheets
  - in the project overv

[2019-04-17 16:21] damendieta commented on #20563
Hi, @jco-odoo sorry, I'm preparing a development environment and a group of people that want to cooperate with the localization of Ecuador.

Next week I'll be starting the migration of my modules (they are in V9) and all information will be available as public development, of course, I'll be making PR to this repository.

Only one thing, I'm making all my development efforts for v12, not master.

[2019-04-17 16:34] tsabi commented on #32783
One more thing: the tasks are not deletable, it throws an error: "You have to unlink the task from the sale order item in order to delete it." what is completely false, as if i don't create any real work in this task than it should be deletable.

[2019-04-17 16:46] gdgellatly commented on #32745
probably duplicate of #32707

[2019-04-17 19:12] Mtui commented on #32769
@pedrobaeza the issue is not either public holidays is supported or not in payroll, what am requesting is having different overtime rates depending on the calendar date. The first trigger is the date on which OT is applied if it is weekends (sunday & saturday) the rate should be higher than that for week days (mon-fri) and the same apply to holidays.

[2019-04-17 19:36] pedrobaeza commented on #32769
Well, that's something not supported, but it has been pointed in other occasions, and maybe it would be added in future versions, but meanwhile, closing this and you should check community modules doing this or develop it.

[2019-04-17 19:36] #32769 closed

[2019-04-17 20:36] jco-odoo commented on #20563
No problem for v12 as master can have breaking changes.  For what we get merged, we can handle the transition to master.

[2019-04-17 23:50] celm1990 commented on #20563
@damendieta how I help with localization, you have roadmap or any document for shared?

[2019-04-18 00:42] damendieta commented on #20563
Hi @celm1990 the first thing is to make the l10n_ec account chart according to the new chart from the SUPERCIAS, this is the latest version (I know about).

[PLAN_CUENTAS_NUEVO_SISTEMA.xlsx](https://github.com/odoo/odoo/files/3092029/PLAN_CUENTAS_NUEVO_SISTEMA.xlsx)

We are coordinating our activities via a Telegram group, you can join us here.

https://t.me/odooec

The group is in Spanish, as 90%

[2019-04-18 06:42] #28513 closed

[2019-04-18 07:22] jayo2005 commented on #32705
OK So after further testing if I print a report the paper cuts. If I print a receipt it does not. Is there anything specific in the reports I should be adding?

[2019-04-18 07:33] ChristopheLux opened #32786 "11 Odoo installed with Managed PostgreSQL (Azure Database) Uncaught Error: QWeb2: Template 'PlannerLauncher' not found"
Impacted versions: v11

Steps to reproduce: Installing Odoo on Ubuntu 18.04 LTS (with nginx+letsencrypt certificate) up to date with separate postgresql server on Azure Database for PostgreSQL
odoo user is memeber of azure_pg_admin
                                                 List of roles
    Role name    |                         Attributes                         |    Member of     | Descri

[2019-04-18 10:54] sebalix commented on #28125
The bug appears when using Sphinx too. In fact we are not able to inspect Field objects:
To reproduce it easilly in a shell:
[code]

[2019-04-18 11:10] pedrobaeza commented on #32786
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2019-04-18 11:10] #32786 closed

[2019-04-18 11:29] pedrobaeza commented on #29537
Is this still happening in latest source code?

[2019-04-18 11:37] ChristopheLux commented on #32786
Yes it is related to deployment and where if not here we can ask support for new methods of deployment

I am feeling that you are not even reading the report.

Maybe this should not be classified as an issue but as a RFE

[2019-04-18 11:38] Yenthe666 commented on #32786
@ChristopheLux you can ask help on the official help forums (https://www.odoo.com/nl_NL/forum/help-1).

[2019-04-18 11:41] pedrobaeza commented on #32786
Not sure what RFE is, but as said by my colleague, this issue tracker is not for helping on deployment questions, but on issues on Odoo code itself.

[2019-04-18 11:50] ChristopheLux commented on #32786
RFE is Request For Enhancement

@Yenthe666 Whe I try to post on the forum I have always a 403..

[2019-04-18 11:56] GSLabIt commented on #29537
will double check and confirm

[2019-04-18 11:58] Yenthe666 commented on #32786
@ChristopheLux have you confirmed your email address and have you tried afterwards again?
Are you trying to attach images in the initial question?

[2019-04-18 12:10] guidev224 opened #32798 "Making One2many field required is not working"
Impacted versions:11

Steps to reproduce:
1. Activate developer mode and edit sale order line form view to make the field order_line required
2. Create a sale order without order line and save. The SO got saved without order lines

Current behavior:
Required one2many fields got saved without lines

Expected behavior:
Must not allowing the user to save a record without its lines (required one2many)

[2019-04-18 12:18] support-atharva opened #32801 "ON CONFLICT DO UPDATE command cannot affect row a second time Odoo 12"
**Impacted versions:** 12.0 community

**Steps to reproduce:**
1. Load a language (e.g. French)
2. Export the translations of both  `base` and `mail` module in a po file (works too with `calendar` and `calendar_sms`)
3. Import the translation file with "Overwrite Existing Terms"

**Current behavior:**
File not imported due to format mismatch or a malformed file. (Valid formats are .csv, .po, .pot)

[2019-04-18 12:20] ChristopheLux commented on #32786
yes confirmed email address
No..I have finally succeeded
Thanks

[2019-04-18 13:18] barachka commented on #32760
Ok, we found problem. Thanks for fast answers

[2019-04-18 13:18] #32760 closed

[2019-04-18 13:32] mart-e commented on #32801
Hi,

Please share specifi information like the .po file you are trying to import, the full traceback, the options you have chosen,...
This error typically comes when trying to import an invalid po file (e.g. import a 11.0 po file in a 12.0 database)

[2019-04-18 13:37] oerp-odoo opened #32806 "ir.config_parameter in res.config.settings does not respect XML ID"
**Impacted versions:**
12.0
**Steps to reproduce:**
Go into general settings. Uncheck Show Effect option. Save. Check Show Effect option. Save. Go to applications. Upgrade base_setup module.
**Current behavior:**
[code]
**Expected behavior:**
Should update `base_setup` module.
Video/Screenshot link (optional):

[cfg-param-bug.ogv.tar.gz](https://github.com/odoo/odoo/files/3094578/cfg-param-bug.ogv

[2019-04-18 16:06] #32806 closed

[2019-04-18 20:43] actonsys commented on #28179
1) Be able to choose Tax-Exclude/Tax-Include (Product prices displaying in web catalog) **in Pricelist** and not in website settings. B2B + B2C within just one web eCommerce. The guest/customer/client would only have to pickup their best Pricelist option view, such this [case](https://www.ryman.co.uk/american-tourister-bon-air-cabin-suitcase-black) (Price display Inc VAT : change).
---
2) Display

[2019-04-19 03:58] support-atharva commented on #32801
Hi @mart-e

I am trying to import a translation for the French language. Please find attached .po file.

[fr.zip](https://github.com/odoo/odoo/files/3096960/fr.zip)

**Traceback:**
2019-04-19 03:56:11,227 4111 INFO test12 odoo.tools.translate: loading translation file for language fr_FR

2019-04-19 03:56:12,882 4111 ERROR test12 odoo.sql_db: bad query: b" INSERT INTO ir_translation(name, lang, res

[2019-04-19 06:19] mart-e commented on #32806
Hi,

Thanks for the report and the deep analysis, I have fixed it at https://github.com/odoo/odoo/commit/a7c774849c000a7910d4db3d026cb9569297dc21
Changing the way the `set_param` behave is risky as some code may rely on it and have side-effect.
Instead I have made an alternative patch that will avoid to recreate the entry when updating the module.

[2019-04-19 06:53] ChristopheLux commented on #32786
just FYI my post in Odoo Community
https://www.odoo.com/forum/help-1/question/11-odoo-installed-with-managed-postgresql-azure-database-uncaught-error-qweb2-template-plannerlauncher-not-found-148563

But as i have read multiple post about that issue and the way to solve it is to modify the pg_hba.conf to trust which is not possible in managed database on Azure and that Odoo should always use userna

[2019-04-19 07:31] mart-e commented on #32801
Thanks for the details. Indeed the po file is invalid as two entries are referring to the same field:
[code]

However, this is possible to reproduce easily in standard.
I have updated the "steps to reproduce" section to explain how to reproduce it without a custom po file.
Still need to investigate on what is the best way to fix it.

[2019-04-19 07:44] support-atharva commented on #32801
Hi @mart-e

Thanks for the prompt response. I have exported this file from odoo itself and without doing any changes I have just imported it again.

Note: I have not selected any module while exporting a translation.

Please let us know the solution to this.

Thanks.

[2019-04-19 07:50] rven opened #32818 "JS test data is committed"
Impacted versions: 12.0 or later

Steps to reproduce:
Create a custom module, which depends on the account module.
Change the currency of the main company in this module.
[code]
Current behavior:
When running Odoo with --test-enable and installing the custom module.
At the point of installing the custom module, the following error is raised:
**You cannot change the currency of the company since so

[2019-04-19 09:18] datenpol commented on #29051
We are using Odoo.sh with version 12E and we still have this issue.

Reproduce:
- In a Project Task in Debugmodus click on "Set Default value" and then the error appears:

![image](https://user-images.githubusercontent.com/47249280/56417630-cc132780-6294-11e9-99ab-e43c5dd4293c.png)

It is curious, that an same tasks the error appears and in some it does not.

[2019-04-19 10:00] oerp-odoo commented on #32806
Hi,
Ok. Thanks for fix. Maybe this would be improved at new release? Cause this
could accidentally remove param when you dont expect it. We had this issue
with False value. Where we expected to just set False value on param, but
instead it would remove param entirely. Then we had to use repr(False) to
avoid it when setting new value.
I think it would be more consistent to try keeping param than re

[2019-04-19 10:25] jo541 opened #32828 "No update for menu dashboard"
Impacted versions:12.0

In the file board_view.xml of module board.

A menu is created but the noupdate is set on the data ? Is it normal ?

https://github.com/odoo/odoo/blob/12.0/addons/board/views/board_views.xml

[2019-04-19 10:31] Yenthe666 commented on #32828
@alexkuhn looks like on for you. It is to prevent an update destroying dashboard content, no?

[2019-04-19 11:53] jo541 commented on #32828
It's only the entry point of menu. If I would like change sequence. In all other module the menu isn't in noupdate mode.

A mistake ? or bad copy / past ? or other logic reason.

[2019-04-19 11:56] mart-e commented on #32806
The problem is that the parameters are currently not used consistently in Odoo.  For instance, take the following code that will test the _existence_ of the parameter, whatever its value is.

https://github.com/odoo/odoo/blob/3f681b208c5f483bc7e523527d1f4406f4d47075/addons/google_calendar/models/google_calendar.py#L432
https://github.com/odoo/odoo/blob/3f681b208c5f483bc7e523527d1f4406f4d47075/addo

[2019-04-19 12:45] goyanipankaj opened #32837 "Record Rules Not Working"
Impacted versions: Odoo-12.0

Steps to reproduce:
I have added M2M **warehouse_ids** field in User and added Record rules for Model: Sale Order.

Application Accesses
--
Sales | User: Own Documents Only

**Record Rule:**
**Model:** sale.order
[('warehouse_id','in',user.warehouse_ids.ids)]
**Group Name**
--
Sales / User: Own Documents Only

After the login user can able to right records as per reco

[2019-04-19 12:50] pedrobaeza commented on #32837
Sorry, but this is something in your custom code, dealing with the special `user`, that is cached for special reasons. You'll need to restart service or re-login for getting that.

Closing as no direct Odoo issue, but special framework particularities with user model.

[2019-04-19 12:50] #32837 closed

[2019-04-19 12:58] goyanipankaj commented on #32837
Yes, You are right its a custom code, But when the records rules related records want to see In the particular models recors.
That time must need to restart the server or need to use clear_cashes() in Create() and write() function.

[2019-04-19 13:02] pedrobaeza commented on #32818
This is not a problem of Odoo, but a constraint introduced in Odoo that you can avoid using SQL instead inside the test. It has been done across several OCA modules from to the introduction of the constraint.

Closing as no real Odoo issue, but business logic constraint.

[2019-04-19 13:02] #32818 closed

[2019-04-19 13:03] pab691 opened #32839 "invoice sender mail sender wrong"
Impacted versions:
12
Steps to reproduce:

Change invoice sender in the mail template and send invoice.
It is still send with the user email

Current behavior: invoice Email sender doesnt use the template setting

Expected behavior:

Video/Screenshot link (optional):

[2019-04-19 13:07] pedrobaeza commented on #32839
This is not something of Odoo, but on your email server that doesn't allow mail relay (to put other sender on the mail header) in the email configuration you have put.

Closing as no Odoo issue.

[2019-04-19 13:07] #32839 closed

[2019-04-19 13:10] rven commented on #32818
@pedrobaeza Can you give an example of this?

[2019-04-19 13:13] pab691 commented on #32839
No...
On the same server it is working on odoo 11.. (sender template adress in used instead of user adress)
And it is also working in V12 for order sent...

[2019-04-19 13:16] pedrobaeza commented on #32839
Well, this hasn't changed and it's working in my side, so unless you'll be more specific, this is still consider invalid.

[2019-04-19 13:17] pedrobaeza commented on #32818
https://github.com/OCA/account-financial-tools/commit/186fa09ada0c1bfdf5325fd9684e961b54de0e84

[2019-04-19 13:24] alexkuhn commented on #32828
This `noupdate="1"` is there for a very long time (~7 years). To be honest, I don't know why it is there, but I am pretty confident this cannot be removed in stable versions.
We had some discussions about this mode, and maybe this will be dropped in the future.

[2019-04-19 13:25] pab691 commented on #32839
It cannot be an email server issue because with the same email server and Odoo V11 we have no problem and the template sender email is used .
We have installed a new fresh version of odoo12 and the issue persist.
So it is strange that this could work with you in a standard odoo 12 installation

[2019-04-19 13:31] Yenthe666 commented on #32828
Absolutely not in stable nope. Maybe for master though?

[2019-04-19 13:40] jo541 commented on #32828
Have you any solution to don't display the menu ? (via XML)

In first time I used the xml code

But this make me a warning error each time I upload my module.

[2019-04-19 13:57] pab691 commented on #32839
check and reopen this issue please

[2019-04-19 14:16] len-odoo commented on #32745
I haven't checked everything so it will have to wait next week, but I guess you could already test this related PR.

[2019-04-19 14:28] jo541 commented on #32828
I don't know if it's the better solution. But In wait of Odoo answer. I used this peace of code.

[code]

[2019-04-19 14:59] pedrobaeza commented on #32839
As said, you must provide more information about the problem, because as is, it's not an issue.

[2019-04-19 15:04] pab691 commented on #32839
I dont see what i can say more ! The problem and the issue are described.
Ok forget it, we will try to resolve the problem by ourself but if you treat each issue like that, oddo will never be a mature product...

[2019-04-19 15:23] pedrobaeza commented on #32839
It's not a question of software maturity, but searching deep enough in the problem and not throwing things without that. I have already told you that I'm not experimenting that problem in 12.0, so something is different in your side than in mine. Maybe it's a problem of Odoo, but under certain circumstances, which you are not talking about.

[2019-04-19 15:28] GSLabIt commented on #29537
@pedrobaeza it seems problem is still there ..

Boni Orange set as 4% vat included

Basically price before discount (€ 1.98/kg) is lost, it is need to recompute it taking in account discount applied.

[code]

[2019-04-19 16:16] Yenthe666 commented on #29537
@switch87 this might be for your interest too. I hope you don't mind me pinging you.

[2019-04-19 16:18] Yenthe666 commented on #32839
@pab691 please give us a reproducable case so that we can test and simulate it. This means that you're able to reproduce it on a default Odoo at runbot.odoo.com. We're happy to reopen it if you can give us the steps needed to reproduce the issue.
As my colleague said, without this we cannot help you. We really need more details.

[2019-04-19 16:21] alexkuhn commented on #32694
Seems to auto-scroll to last message correctly when clicking on a channel from the sidebar of discuss app the 1st time.

Note that the scroll positions of conversations are remembered upon changing conversations, so if you were at the top of a conversation and click on the conversation again, it will display the conversation with the scroll position at the top.

[2019-04-19 17:49] danztensai commented on #17195
i know its very late but i face the same problem, how to restore base price list? i've tried to input the data directly still no luck i cant install e-commerce module

[2019-04-19 19:01] switch87 commented on #29537
@yenthe666 no problem at all, please do. I like to be informed about everything wrong with point of sale.

[2019-04-19 19:49] Yenthe666 commented on #29537
Awesome! A big thank you for keeping track of the issues and caring so much. Thanks, you're doing great :)

[2019-04-19 23:28] JKE-be commented on #17195
@danztensai

The simple way is to make an « update » from sale module before to install website_sale module.

[2019-04-20 02:11] danztensai commented on #17195
so i have to remove website_sale module 1st? already try it, still no luck when i upgrade the sales module

    res = self._obj.execute(query, params)
ParseError: "null value in column "name" violates not-null constraint
DETAIL:  Failing row contains (40, 1, null, 16, null, 1, 6, 2019-04-20 02:06:36.705967, t, 2019-04-20 02:06:36.705967, with_discount, null, 1, f).
" while parsing /usr/lib/python2

[2019-04-20 05:36] JKE-be commented on #17195
Yes

You can create the record yourself

And manual add the ir.model.data

Ask more information on the forum: forum.odoo.com

Good luck

Jeremy Kersten

[2019-04-20 17:55] zeroheure opened #32848 "Portal access send to shipping address instead of customer"
Impacted versions: all (8/9/10/11/12)

Steps to reproduce: It is more obvious with ecommerce. Create a customer with an email address, add a contact as shipping address without email as usual in ecommerce. Then try to grant portal access to the user.

Current behavior: Portal access is given to the shipping contact instead of the customer.

Expected behavior: Never try to send portal access to shi

[2019-04-20 21:06] pedrobaeza commented on #32798
Hi @guidev224, I'm afraid making a one2many required is not supported right now in the framework. A possible workaround is to add a constraint that checks this condition over a field that is always included on create (like typical `name` field).

Closing as something not possible.

[2019-04-20 21:06] #32798 closed

[2019-04-20 21:15] jobiols opened #32849 "[11.0] Performance issue Closing POS Session. May last an hour with 1000 sold products."
Impacted versions: 11.0 CE EE

**Steps to reproduce:**
Create database,
install point_of_sale
open pos session
begin selling products
close POS Session.

**Current behavior:**
When hitting **Validate Close & post entries** a performance issue is observed, **with 1000 products sold** the process may last an hour. Profiling the sources, we can observe that the method process_reconciliation() is call

[2019-04-21 05:12] bennals commented on #25517
@janarthanandev
This may not be of any assistance, but one thing that I frequently encounter with the Google Spreadsheet module is the need to generate a new authorization code for the spreadsheet to be able to connect to my odoo server.  Don't know why the old code stops working, and it's mildly annoying, but generating a new code usually allows me to connect again.

So, if you're sure the url yo

[2019-04-21 10:32] xgj1988 commented on #30674
ok 3Q

[2019-04-21 15:57] zeroheure commented on #32848
portal_wizard should check if user is an individual or a company

[2019-04-21 21:51] Alexandre-Bernardes opened #32852 "Server os busy when I try update any module."
Impacted versions: 11

Steps to reproduce:

Current behavior:
The server is busy right now, module operations are not possible at this time, please try again later.

Expected behavior:

Video/Screenshot link (optional):

[2019-04-21 22:04] pedrobaeza commented on #32852
This is because there is a cron job being executed in that moment.

Closing as no issue, but expected behavior.

[2019-04-21 22:04] #32852 closed

[2019-04-21 22:22] Alexandre-Bernardes commented on #32852
6 days executing a cron?
and when I back to last version its work.
Is there any way for me to know which cron is preventing the installation?
thanks in advance.

[2019-04-21 22:46] pedrobaeza commented on #32852
Well, you should have a cron that is stuck in some way. No, there isn't any way to know it. You can guess it by last execution time.

[2019-04-21 23:11] Alexandre-Bernardes commented on #32852
OK.
Thanks a lot!

[2019-04-22 00:28] IlirBajrami commented on #27754
wheres the odoo_conf located?

[2019-04-22 01:18] ghost opened #32853 "'Inherited View' vs 'Inherited Views'"
**Impacted versions:**
8,9,10,11,12

**Steps to reproduce:**
Access Technical Menu then Views Submenu (User Interface Group)
Select any view (The following is a single example)
- product.product.form

**Current behavior:**
Upper right of form is 'Inherited View'
- product.template.common.form

Bottom of Form page is 'Inherited Views'
- product.product.procurement
- product.product.procurement
- pr

[2019-04-22 01:36] idelisGe commented on #27754
sorry about 'odoo_conf' this is not a special file it simple the odoo config file and it normally be in the odoo folder, but depends of your installation. I put odoo_conf in my comment because in my case use this name .. odoo_conf.config, but the common name is .. odoo.conf

[2019-04-22 03:15] hitrosol opened #32854 "Can't change the allowed company in"
Impacted versions: 12

Steps to reproduce:
1. Check the multi company setting
2. Create user for multi company, i.e : company A and Company B, I set Company A as current Company.
3. Save.
4. Edit and take out the Company A from Allowed company, then I set current company to Company B.

Current behavior:
Odoo Server Error - Validation Error

Error while validating constraint

The requested operatio

[2019-04-22 03:30] davidtranhp commented on #28808
I would like to keep 120 for --limit-time-real in the conf. but I in some long running methods (only those methods), I would force to remove limit.

Is there a way to control the time limit at runtime?

[2019-04-22 07:18] pedrobaeza commented on #32853
I think it would be the contrary: the upper one should change. What do you think, @mart-e ?

[2019-04-22 08:13] Elbagoury opened #32856 "Is Odoo 12 Support Google Cloud Load Balancer ..? | TypeError: odoo.define is not a function"
Impacted versions:
V12 EE , CE April 2019

Steps to reproduce:
1- Install This Odoo Architecture On GCP
![architecture](https://user-images.githubusercontent.com/9639673/56490651-8d78a980-64ee-11e9-8f29-ca5dac23b09d.png)
 2- instead of creating My PostgreSQL VMs I use Google SQL Service [ PostgreSQL V11 ]
3- When I am using Nginx as a Load Balancer I face no problem Everything working Good.
4- Whe

[2019-04-22 09:03] pedrobaeza commented on #32856
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-04-22 09:03] #32856 closed

[2019-04-22 09:15] Elbagoury commented on #32856
I always post my Issus as a question I don't like to post it as an statement like this: Odoo does not Support Google Cloud Load Balancer , I believe it is both odoo and google Issue.

[2019-04-22 09:18] pedrobaeza commented on #32856
Yeah, but it's not something that Odoo must support, so in any case it should be a feature request, but a very lazy feature request, but any way, this is something that enters in the field of deployment, so first is to explore in the forum why it doesn't work, and then maybe provide feedback about the specific part that is not working well.

[2019-04-22 09:24] Elbagoury commented on #32856
I believe any web application should support any famous Load Balancers and Web browsers.

[2019-04-22 09:27] Elbagoury commented on #32856
I believe GCP Load Balancer change something in JS and CSS files in client side  I am still testing it and I will share the feedback with odoo , Inshallah .

[2019-04-22 09:28] pedrobaeza commented on #32856
It's not the same to support a web browser than a load balancer.

[2019-04-22 09:36] Elbagoury commented on #32856
Thank You for your answers, I will continue testing it and Fix it and share the fix with odoo .

[2019-04-22 09:48] Yajo commented on #28179
- Remove backbone from POS.

Please :pray:

[2019-04-22 14:02] pedrobaeza commented on #32854
You have to become superuser for doing that things. This has changed in v12.

Closing as no Odoo issue, but misunderstanding on the use.

[2019-04-22 14:02] #32854 closed

[2019-04-22 14:12] pedrobaeza commented on #32849
There's a lot of operations involved in this closing, so this is expected, although indeed this is something that can be improved. There are efforts in this sense, some of them have already landed on stable versions (but not sure if in v12 or also v11). Try to update to latest code first to see if there is any improvement.

Any way, increase the worker timeout if not enough, and be tuned for news

[2019-04-22 14:12] #32849 closed

[2019-04-22 20:17] jj3666csuf commented on #32853
My logic...
The _upper_ already inherited by current view, hence preterite. The _lower_ is the view which "is inheriting" from current view, hence present progressive.
If I follow your logic...
The current view "is inheriting" the _upper_, hence present progressive here. Can work either way without preposition... maybe the following?

So _upper_ '(View) Inherited From', _lower_ '(View) Inherited b

[2019-04-22 22:16] IlirBajrami commented on #27447
Did you find out how to fix this without Docker? thanks!

[2019-04-22 22:32] IlirBajrami commented on #27447
The same issue here on Odoo12, python3, MacOs Mojave. any help would be appreciated!

[2019-04-23 07:36] switch87 commented on #29537
@GSLabIt You describe a variable in a function that has a wrong value, but can you give the functional impact of this issue? Preferable with a short video or screenshots.

[2019-04-23 07:54] GSLabIt commented on #29537
@switch87 problem i seen is sending receipt to fiscal printer and, for some clients, displaying values on customer display.

As for EPSON FP series you need to pass to the printer the full price and the discounts (all of that must be positive values). When discount is applied for product, it's needed to send to FP (as the example above): 1,98 (full price), the amount discounted (0,198 if we consid

[2019-04-23 08:41] yostashiro opened #32863 ""Automatic No Step Added" negates propagation of subsequent stock rules"
### Impacted versions:

12.0

### Steps to reproduce:

- Enable 3-step receipt in warehouse settings.
- Edit the internal transfer rule for Input -> Quality Control to make Automatic Move to "Automatic No Step Added"
- Create a purchase order and confirm it.

### Current behavior:

Receipt is generated for stock moves into Quality Control location, which is as expected.  No internal transfer, howe

[2019-04-23 09:37] Yenthe666 opened #32866 "[Wishlist] mass mailing: ability to fill in custom font size in mass mail editor"
Impacted versions: All

Steps to reproduce:
Go to e-mail marketing, create a new mailing list and drag a block with a title on it (for example title - subtitle).
Now click on the title.

Current behavior:
You can set a font size from the editor but the values are predefined:
![image](https://user-images.githubusercontent.com/6352350/56570923-29bcb200-65bc-11e9-878d-46dca51252d0.png)

Expected beha

[2019-04-23 11:01] Axel-G opened #32871 "webfrontend-errormessages"
Its difficult to repoduce this error-messages, but since today i get this message, clicking on a project in projects. The project "opens" correctly to task-view.

`

Error: Permission denied to access property "apply"

https://xxxxxxxxxxx.xx/web/content/3711-4f51efa/web.assets_common.js:887
Zurückverfolgung
trigger@https://xxxxxxxxxxx.xx/web/content/3711-4f51efa/web.assets_common.js:887:28
trigger

[2019-04-23 11:04] pedrobaeza commented on #32871
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-23 11:13] jco-odoo commented on #32757
@gustavovalverde You should be able to change them indeed.

[2019-04-23 11:16] Yenthe666 commented on #32866
It would also be great to choose between some default fonts by the way.

[2019-04-23 11:39] KarstenK77 opened #32873 "Line doesnt follow strict mode JS"
Impacted versions: 11 / 12
My IDE is reporting an error with that line https://github.com/odoo/odoo/blob/12.0/addons/point_of_sale/static/src/js/screens.js#L1308

In strict mode the keyword arguments isnt allowed as property.

[2019-04-23 11:42] gustavovalverde commented on #32757
The only thing is that those accounts already have account move lines, and there's a constraint for changing if an account is reconcilable after having moves.

I might use https://github.com/OCA/account-reconcile/tree/10.0/account_set_reconcilable, as it seems safe enough.

[2019-04-23 11:47] switch87 commented on #32752
@gustavovalverde A task is in development for this kind of problems on master. https://github.com/odoo/odoo/pull/29427

[2019-04-23 12:09] gustavovalverde commented on #32752
Oh, great. That seems way better than expected.

**P.D.** As those changes won't be able to hit stable. Could a soft constraint or warning be in place instead? Like "If you delete an user, data related to this user could be lost. Please archive it"

[2019-04-23 12:12] switch87 commented on #29537
@GSLabIt

We do not support the fiscal printer format, this change should be done in the 3rd party addon for this purpose.

For the Customer display part, this has nothing to do with the function export_for_printing. The original price is available on the order lines, so the customization you want to do can be done without adapting this function.

[2019-04-23 12:12] #29537 closed

[2019-04-23 12:16] switch87 commented on #32752
I am not against it, but it is the bug fix team that has final say in it, it could be that they have a good reason to not do this.

cc: @simongoffin

[2019-04-23 12:18] KarstenK77 opened #32875 "No sale_journal field in config"
Impacted versions: 11 / 12

The field sale_journal is an important field in class pos.config, but I cant find the place where to configure.
In views https://github.com/odoo/odoo/blob/12.0/addons/point_of_sale/views/pos_config_view.xml I cant find it.

[2019-04-23 12:23] pedrobaeza commented on #32875
Check if this module is what you need: https://github.com/OCA/pos/tree/11.0/pos_config_show_accounting

[2019-04-23 12:24] pedrobaeza commented on #32873
@switch87 not sure if it's a false positive linter error, but can you please check?

[2019-04-23 12:25] GSLabIt commented on #29537
That's what we did.. for both cases

[2019-04-23 12:27] KarstenK77 commented on #32875
I will. Thanks Pedro!

[2019-04-23 12:45] Elbagoury opened #32878 "Warnings : Element.createShadowRoot is deprecated"
Impacted versions:
V12 EE , CE

[Deprecation] Element.createShadowRoot is deprecated and will be removed in M73, around March 2019. Please use Element.attachShadow instead. See https://www.chromestatus.com/features/4507242028072960 for more details.
(anonymous) @ content.min.js:2

![debjs](https://user-images.githubusercontent.com/9639673/56581838-8af57d00-65de-11e9-94cf-22ed3d6b8b1f.png)

[2019-04-23 12:47] switch87 commented on #32873
@KarstenK77 @pedrobaeza This is indeed a false positive. This error can be ignored.

[2019-04-23 12:47] #32873 closed

[2019-04-23 13:00] HarshitTEmipro opened #32879 "[12] Scroll bar should not be Printed on Invoice Report"
Here I attach the sample pdf of the scroll bar visible in invoice report
![Screenshot from 2019-04-23 18-27-23](https://user-images.githubusercontent.com/35089697/56582853-da937300-65f5-11e9-8acf-8c11257d4aee.png)

[2019-04-23 13:42] pedrobaeza commented on #32879
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-23 13:45] #32879 closed

[2019-04-23 13:59] thomas15v opened #32883 "[11.0] Problem with sorting sale order lines"
**Impacted versions:**

11.0 & 10.0 (is fixed in odoo 12 by #27639)

**Steps to reproduce:**

1. Create a sale order with 10 products (name them product1, product2, ... for convenience)
2. Save this order
3. Add a second line and sort it between the products. This causes Odoo to sort the lines with sequences 10, 20, 30.
4. Create a new line and watch how this lines jumps to second place. You now g

[2019-04-23 14:04] len-odoo commented on #32745
There was a bug in the first version of 32844 that I committed, but which is solved.
Does it solve your issue or is there still something else?

[2019-04-23 17:27] ahmedkhak opened #32888 "Odoo session issue"
I don't know it is issue or not but I faced it very often on odoo 10 and 11

Impacted versions:
---------------------
odoo 10 and odoo 11

Steps to reproduce:
----------------------
I've got two different odoo installations on different ports. Please consider a scenario
First port is 8069 and other 8088. On both ports I assign different DB user like "odoo1" to 8069 installation and "odoo2" to 8068

[2019-04-23 18:39] sswapnesh commented on #22406
Hello @qdp-odoo

May I ask you for update if any ?

[2019-04-23 21:57] hugho-ad commented on #32530
@simongoffin I've tried the same scenarios posted at the issue's video, and the behavior remains the same, could you reopen this please

[2019-04-23 22:05] suniagajose commented on #32745
yes @len-odoo

thanks

[2019-04-24 01:45] hdezela opened #32889 "Fresh install, XMLRPC error"
Impacted versions:

12.0

Steps to reproduce:

1. Install Odoo per "https://www.odoo.com/documentation/12.0/setup/install.html#setup-install-source"
2. Proxy with Nginx
3. GET "https://[ODOOURL].com/xmlrpc/2/common"

Current behavior:

Error:

[code]

Expected behavior:

Identity JSON string

Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/99411/56626759-a83f4

[2019-04-24 01:51] hdezela commented on #32889
Oh God...never mind, was calling it with an empty body. I'm going to go kill myself now for posting this.

[2019-04-24 01:51] #32889 closed

[2019-04-24 03:54] wtaferner commented on #23502
@len-odoo @tde-banana-odoo @nim-odoo
The solution with the quotes seems to work for actively created mails from Odoo but does not work in case an email is rendered in Odoo (incoming) and forwarded to its followers.

Is or was there any solution in the meantime? Quite some PRs are in state pending as it seems.

[2019-04-24 06:13] #32875 closed

[2019-04-24 06:40] Yenthe666 commented on #32745
Apoligies, didn't notice it was still open. Reopened.

[2019-04-24 06:44] len-odoo commented on #23502
@wtaferner
Well, it's kind of a different problem in the case of incoming email.
AFAICT, this would be solved by #30079; it doesn't really crash because of the special characters, but just because we feed whatever garbage we received in the email header to 'parse email', and unsurprisingly it crashes.
As noted on the PR, I didn't merge it because it's really crappy, and it would be much better to

[2019-04-24 07:00] qdp-odoo commented on #22406
nothing new, yet. That might be improved for v13... cc @avw-odoo

[2019-04-24 07:05] qdp-odoo commented on #22406
well actually, I'm lying... our vision is to make the whole accounting editable/cancellable by default, and restrict it only when a lock date exists.

We've already made a step towards that in saas-12.3, so that's already a fragment of answer, although not really related to the error message or the account_cancel module

[2019-04-24 07:47] #32707 closed

[2019-04-24 07:47] #32745 closed

[2019-04-24 07:58] pedrobaeza commented on #32888
Hi, this is something related to your deployment, so please be sure you are following the proper installation instructions, and I'm afraid this is not an Odoo issue, but more a deployment question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-04-24 07:58] #32888 closed

[2019-04-24 08:35] mohdshoaib04 opened #32899 "Fiscal position not applying when customer is created from website"
Impacted versions:
Odoo V11 community
Steps to reproduce:
1.) Add products to cart, do not signup the customer and proceed for order checkout.
2.) When we see the sale order > customer > There is no fiscal position set. This should be set automatically.
Current behavior:
Fiscal position not getting set when customer is created from website.
Expected behavior:
Fiscal position must be auto selected.

[2019-04-24 08:39] litnimax commented on #18052
I updated to werkzeug 15.0 and now have client ip address in odoo log for .... workers.
Longpolling still shows the address of proxy server.
Does anybody have an idea why?

[2019-04-24 09:36] Yajo commented on #18052
Interesting, I never realized that. It's probably a different issue, where the longpolling worker doesn't respect the proxy settings. Could you open a new  issue? Thanks @litnimax.

[2019-04-24 10:38] gdgellatly opened #32911 "CRITICAL Accounting Issue in anglosaxon vendor bills"
Impacted versions: 12.0

Steps to reproduce:
Using anglosaxon create an invoice for a product with a price variance. Use a discount on the line. Use 100% discount for a very egregious example.

Initial analysis shows that the move lines dict and inv_line passed to
`def _anglo_saxon_purchase_move_lines(self, i_line, res)` have the correct price, but an incorrect price unit.

Anglosaxon goes and doe

[2019-04-24 10:47] gdgellatly commented on #32911
opw 1974002

[2019-04-24 10:51] william-andre commented on #32911
@oco-odoo

[2019-04-24 10:54] rdeodoo commented on #32605
Hi,

Could you check on your browser console if there is an error following the RPC call fetching the languages? Or if it comes back correctly but with an empty array?

It should be the last one when you click on "Optimize SEO", a call to `web/dataset/call_kw`.

Can you try now? When it happens, you might try another runbot.

Thank you

[2019-04-24 11:04] matmicro commented on #32605
Hi @rdeodoo ,

Indeed i can see the call_kw "get_languages" works well, but the result is an empty array :
"result": []

Request payload :
{"jsonrpc":"2.0","method":"call","params":{"model":"website","method":"get_languages","args":[[0]],"kwargs":{"context":{"website_id":0,"lang":"en_US"}}},"id":784169575}

Result :
{"jsonrpc": "2.0", "id": 784169575, "result": []}

For the runbot website, still n

[2019-04-24 11:07] oco-odoo commented on #32911
@kebeclibre It seems really similar to the ticket we were talking about this morning. I think the issue is just the same.

@gdgellatly If I'm right (which might no the case), the problem lies actually in the price difference lines that are computed. Some are wrong because of this line https://github.com/odoo/odoo/blob/12.0/addons/purchase_stock/models/account_invoice.py#L87 , and cause the amount

[2019-04-24 11:15] gdgellatly commented on #32911
Hi @oco-odoo No I don't think it can be i this case. In the screenshot above I have the following

Qty 50.0
Price 5.61
Stock Value 2.29
Nett Price ~5.25 after discount

The line coming in is price of 262.77
2.29 * 50 = 114.50 is correct
price_val_dif is correct
price_unit is wrong, but even if it was right it would be wrong.

What it gives (5.61-2.29) * 50 = 166
If price_unit was correct. (5.25-2.

[2019-04-24 11:19] gdgellatly commented on #32911
@oco-odoo Also the other reason that line can't be the cause of this issue, is that you can reproduce without an associated purchase order, so that line of code is never called.

[2019-04-24 11:23] oco-odoo commented on #32911
@gdgellatly Alright, I'll let my colleagues from support handle it, then. Since it seemed pretty similar to another issue I knew, I just wanted to make sure it was reported, so that people don't do the job twice ;)

[2019-04-24 11:50] litnimax commented on #18052
Ok I am opening a new issue.

[2019-04-24 11:56] litnimax opened #32914 "Gevent instance does not respect proxy settings and shows proxy ip in logs"
Following up this ticket #18052 and #27198.
I upgraded werkzeug to 0.15.2 and workers now show client's ip address.
Here is an example from live logs:

[code]
You can see that worker shows real ip and gevent shows proxy ip.

I am using Odoo 12.

[2019-04-24 12:30] GauswamiSaumil opened #32915 "i made one mistake..."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-04-24 12:30] GauswamiSaumil opened #32916 "i made one mistake..."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2019-04-24 12:31] Yenthe666 commented on #32916
Closing as duplicate of https://github.com/odoo/odoo/issues/32915

[2019-04-24 12:31] #32916 closed

[2019-04-24 12:31] Yenthe666 commented on #32915
Hi there,

Please fill in the template with all the information. Without this information we cannot help you and the issue will be closed.
Feel free to create a new one with information or you can edit this one and ping me once it is ready.

[2019-04-24 12:31] #32915 closed

[2019-04-24 12:32] GauswamiSaumil commented on #32916
Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/modules/registry.py", line 85, in new
    odoo.modules.load_modules(registry._db, force_demo, status, update_module)
  File "/opt/odoo/odoo/odoo/modules/loading.py", line 376, in load_modules
    force, status, report, loaded_modules, update_module, models_to_check)
  File "/opt/odoo/odoo/odoo/modules/loading.py", line 274, in load_mar

[2019-04-24 12:35] GauswamiSaumil commented on #32916
sudo git reset --hard origin/8.0

i tried this command

[2019-04-24 12:39] Yenthe666 commented on #32916
You've basically removed the 11.0 version of the branch and took the 8.0 version. You can reset it easily:
sudo git fetch origin 11.0
sudo git reset --hard origin/11.0

[2019-04-24 12:40] GauswamiSaumil opened #32917 "i made one mistake... i run the command of git for hard reset with origin/11.0 and when it's done lots of error are came like couldn't import this module"
Impacted versions:

Steps to reproduce:

Current behavior:
Traceback (most recent call last):
File "/opt/odoo/odoo/odoo/modules/registry.py", line 85, in new
odoo.modules.load_modules(registry._db, force_demo, status, update_module)
File "/opt/odoo/odoo/odoo/modules/loading.py", line 376, in load_modules
force, status, report, loaded_modules, update_module, models_to_check)
File "/opt/odoo/odoo/od

[2019-04-24 12:44] oerp-odoo opened #32919 "[12.0] delegated inheritance fields' values are ignored on write during constrains check"
**Impacted versions:**
12.0
**Steps to reproduce:**
Have delegated inheritance models, like `product.product` -> `product.template`. Execute `write`, so it would trigger constraint call (with `api.constrains`). For example in `product.product`, there is constraint method called `_check_attribute_value_ids`. Also during that trigger, in `write` method also change field value that is only defined on

[2019-04-24 12:48] rdeodoo commented on #32605
`website_id` is not supposed to be '0', that might be the issue
What runbot are you trying to connect to? I tried every 10.0 instances both enterprise and community and admin/admin works fine.

[2019-04-24 12:54] rdeodoo commented on #32605
Your `<html>` DOM element is probably missing the `data-website-id`.
It should be something like:
[code]

Did you modify your `website.layout` or your `web.layout` template?
The first is setting the `html_data` variable while the second is using it to write it on the `<html>` element.

[2019-04-24 12:56] rdeodoo commented on #32636
Hi, we will investigate this issue as soon as possible.
In the meantime, do not hesitate to create a pull request, it will most likely speed up the process.
Thank you for reporting.

[2019-04-24 12:57] matmicro commented on #32605
Yes i modified the website templates.
I have 2 companies set under my Odoo instance. And only one website.

I will try to set this setting back i will check if that fix the issue.
Thanks !

[2019-04-24 13:06] gdgellatly commented on #32917
Thats a pretty big mistake.

You have 2 options.
1. Fix it using some git skills. (seeing its called learn_db, good way to learn).
2. Trash it and start over with fresh repo.

I nearly always choose option 2 as the fastest.

But it isn't an Odoo bug. And no way anyone here knows what existed before or even what version it was before or how you've managed it.

[2019-04-24 13:08] Yenthe666 commented on #32917
Closing as duplicate of https://github.com/odoo/odoo/issues/32916 where I also gave you an answer already.

[2019-04-24 13:08] #32917 closed

[2019-04-24 13:09] matmicro commented on #32605
Great it works !
HTML tage was also containing this tags :
t-att="html_data or {}"

I don't know where does it comes from.
From my memories i did not changes that HTML tage, maybe one of the modules i installed...

Many thanks all for your help !

[2019-04-24 13:10] #32605 closed

[2019-04-24 13:10] Yenthe666 commented on #32605
Good to hear it is solved. Thanks for the help @rdeodoo

[2019-04-24 13:22] pna-odoo commented on #20498
Dear Odoo Partners,

We did first test phase and improved localisation. We believe some entries are not with correct sign and we need your feedback to improve or validate. Could you please test it and share your feedback.

Test Instance : http://506315-master-l10n-dk-dat-2e0a60-pna.runbot11.odoo.com
Credential : admin/admin

Thanks in advance.

[2019-04-24 13:28] matmicro commented on #32605
Not  fully resolved...

If i hardcode the values you send me, it works, but it does not contains my own values, and is not generic code.

I need to use: t-att="html_data or {}"  to generate the proper HTML tag with parameters.
But the generic tag, does not contains the "data-editable" and "data-website-id" parameters.

How can i solve this ?

[2019-04-24 13:30] rdeodoo commented on #32376
Hi, I just tested it on runbot in Odoo 10.0 community edition and it worked as expected both for the admin and portal user.

Could you please confirm that you are able to reproduced the error on runbot, and if so how?

Thank you

[2019-04-24 13:34] rdeodoo commented on #32605
Oh, yes, you were not supposed to copy paste it, that was the rendered value not the initial template line.

This is how [website.layout looks like in Odoo 10.0](https://github.com/odoo/odoo/blob/10.0/addons/website/views/website_templates.xml#L75)
This is how [web.layout looks like in Odoo 10.0](https://github.com/odoo/odoo/blob/10.0/addons/web/views/webclient_templates.xml#L191)

You should try

[2019-04-24 13:40] matmicro commented on #32605
Ok so the layout templates are good.

But it looks that the below parameters are empty as the IF statement return None :
            'data-website-id': website.id if website else None,
            'data-editable': '1' if editable else None,

From which file this is generated ?

[2019-04-24 14:26] gdgellatly commented on #32611
@CasVissers thanks. See it was worth leaving open.

[2019-04-24 15:11] sswapnesh commented on #32879
Similar to https://github.com/odoo/odoo/issues/27438 (But in Different report)

[2019-04-24 15:14] rdeodoo commented on #31024
Hello,

Could you please provide a way to reproduce it? Eg a small step to reproduce.

sale_order_id = last_order.state == 'draft'

As far as I know there is no way to create multiple **draft** quotation from the e-commerce?

Thank you

[2019-04-24 16:23] gdgellatly commented on #32911
Oh my it gets even worse, as a quick fix I tried

[code]

https://github.com/odoo/odoo/blob/77c708c516beb322df37220634e178ba82e894c9/addons/purchase_stock/models/account_invoice.py#L99

If you fix price unit to be actually correct, you get no difference entries. This whole comparison is messed up. I don't even get why the second leg is needed, but if it is, it is wrong. The first one is wrong too

[2019-04-24 16:46] NMuatan opened #32931 "content_image reject SVG"
Impacted versions: 11

Steps to reproduce:
- Create a binary field in a model.
- Upload a SVG picture in it from odoo interface.
- Try the url https://[url_root]/web/image?model=[model_name]&id={id_of_record_with_picture&field=[binary_field_name]

Current behavior:
Firefox will tell you "The picture [COMPLETE_URL] can't be displayed because it contains errors"
Chrome will just display a little squ

[2019-04-24 18:38] sswapnesh commented on #22406
Does it means we won't need  `account_cancel` to allow cancelling Entries in future versions ?

[2019-04-24 19:19] luistorresm opened #32933 "'account.coa.report' object has no attribute 'date_range'"
Impacted versions:
12.0

Steps to reproduce:
1. Open the "trial balance" report
2. Try to open the Journal Items in one line

Current behavior:
A traceback is returned:
![Screen Shot 2019-04-24 at 2 18 10 PM](https://user-images.githubusercontent.com/7606656/56687417-d28e0e80-669b-11e9-8982-f900d66d8f61.png)

Expected behavior:
The Journal Items are show

Video/Screenshot link (optional):
https://

[2019-04-24 20:42] alfredourena commented on #29369
@pedrobaeza Thanks for the information.

I've created the enterprise ticket. Here's the number #1974196

[2019-04-24 22:47] pedrobaeza commented on #32899
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos. Specifically, which co

[2019-04-24 23:56] iblys commented on #32755
i've had `<td class="text-right"><span t-esc="inv.amount_total - inv.residual"/></td> ` line on receipt template changed as below for sometime now

[code]

[2019-04-25 00:03] iblys commented on #32192
Wasn't quite ok  as the line totals were coming off now. Best thing was to just round the result to 2 decimals. result = round(x,2)

[2019-04-25 01:36] StarV5s commented on #27447
I'm runing it with ubuntu, and the same issue occur to me, if u get any idea, plz let me konw.

[2019-04-25 01:44] IlirBajrami commented on #27447
I fixed it using PostgreSQL and pgAdmin. whatch this: https://www.youtube.com/watch?v=TUaN4rEpJDE

[2019-04-25 02:33] StarV5s commented on #27447
I did what the video said, but the bug still unsolved. Can u give me any idea how u fix the problem with pgadmin? thx a lot.

[2019-04-25 04:34] gdgellatly commented on #19100
@qdp-odoo I've matured my own code and made it public in the hope it might help understand the problem. In practice what I've found is that in nearly every case, a manually created invoice should not have stock entries (except Vendor Bills, unless a purchase id assigned), but when they get it wrong its a pain to change (so toggling between stock/financial updates account_ids).

You can see/test v1

[2019-04-25 05:19] GauswamiSaumil commented on #32917
i solved that error with below commands of git:-
1) git reflog -> that will give you a current head than whichever id of that head just copy it and execute second command
2) sudo git reset --hard  [copied head's id(paste it)]

solved.....

[2019-04-25 06:20] nim-odoo commented on #32933
Indeed, `date_range` only applies to reports inheriting from `account.financial.html.report`.

[2019-04-25 07:00] alyngsoe commented on #20498
Hi

I have some changes to accounttypes and correct translation of tags.
Can i just edit these changes in the test instance directly or how do you
prefer to get the suggestions ?

Den ons. 24. apr. 2019 kl. 15.23 skrev Pinakin <notifications@github.com>:

--
Med venlig hilsen / Best Regards

Alex Lyngsøe

FlexERP, Ådalen 7c, 6600 Vejen,  Danmark
Tel. +45 71961025  Cvr.nr..: 30793277
www.flexerp.dk

[2019-04-25 07:32] rgo-odoo commented on #20498
Hi @alyngsoe ,

Thanks for your quick response, we appreciate it.
Actually doing change in test instance is not a very good idea as it expires after some time,
so, I would suggest you to share your suggestion on the proposed code itself, https://github.com/odoo/odoo/pull/29062/files

Also, it would be of great help to us if you can test the Denmark reports in test instance and share your views abo

[2019-04-25 08:04] simongoffin commented on #32530
@hugho-ad
The delivered_qty on the SO line with a kit is of course not automatically updated
(as in this case, a right value is not computable, imagine 5 kits K composed by 5 units of component A and by 5 units of component B and you deliver 3 units of A and 4 units of B. What's the right value delivered for K in this case?). But the delivered_qty on the SO line
was not updatable  manually before

[2019-04-25 08:20] koz01 opened #32940 "Purchase Stock don’t have inventor on hand case"
Version: Version 12 Enterprise

Case: After purchased the product, check in inventory report, don’t show inventory on hand.
Step 1: Purchase the product
<img width="683" alt="step1" src="https://user-images.githubusercontent.com/16234060/56720791-97f2a780-6769-11e9-98c2-91bfaa8fa5ff.png">

Step 2: Received the product with unique serial code
<img width="683" alt="step2" src="https://user-images.gi

[2019-04-25 08:25] koz01 opened #32941 "It is not possible to unreserve more products of than you have in stock."
Version: Version 12 Enterprise

Not use Multi UOM.

Case: When click on Validate Button on delivery order showing this message. Not all the product is happened.
![error](https://user-images.githubusercontent.com/16234060/56721126-40a10700-676a-11e9-9edc-0d2495a2a48b.jpg)

[2019-04-25 08:39] qdp-odoo commented on #22406
hopefully :-)

[2019-04-25 08:46] #32933 closed

[2019-04-25 08:48] hmartinet opened #32942 "[10.0] Bug duplicated elements in one2many after cancel a confirm dialog message."
Impacted versions: 10.0 (not checked on 11.0 and 12.0)

Steps to reproduce:
* Create a new DB and install Accounting.
* Update de account.invoice form, add a confirm="Are you sure?" on the validate button.
* Create a new invoice (with no lines) and save it.
* Edit the invoice, add a line with valid data.
* Instead of "Save", click on "Validate" and click "Cancel" in the confirm dialog. Then click

[2019-04-25 08:59] aisopuro opened #32944 "[12.0] Update to sale order's lock method is a breaking change in a stable version"
### Impacted versions:
- 12.0

### Steps to reproduce:
1. Open the Odoo shell
2. Take more than one sale order into a recordset
[code]
3. Call `action_done` on the recordset.
[code]

### Current behavior:
A `ValueError` is raised with the message "Expected singleton".

### Expected behavior:
Call should not expect a singleton record.

### Further motivation of issue:

When version 12.0 was release

[2019-04-25 09:03] KarstenK77 commented on #32873
@switch87  Anway I get in Chrome the error: Uncaught TypeError: Assignment to constant variable.
Which point directly to this line.

[2019-04-25 09:05] pedrobaeza commented on #32944
Well, although multi-record capacity is desirable, it's not really a bug, as all Odoo core calls that method with one single record, so you should do also that. It's not a breaking change in stable.

[2019-04-25 09:07] pedrobaeza commented on #32942
This is a known issue, but already solved in later versions, so this is not going to be solved. If you have an enterprise ticket, you can put the corresponding OPW ticket in odoo.com/help to see if they consider to fix it, or propose you to upgrade to a newer version.

Closing this as won't fix.

[2019-04-25 09:07] #32942 closed

[2019-04-25 09:21] KarstenK77 commented on #32873
You can easily test it when creating an pos user without email address, that will produce an error.

[2019-04-25 09:22] pedrobaeza commented on #32941
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-25 09:43] switch87 commented on #32873
I cannot reproduce this. Can you please try to reproduce this on runbot.odoo.com on the latest build? login: admin password: admin

[2019-04-25 09:51] NMuatan commented on #32643
Resolved using the cors parameter in the @route decorator of the function "authenticate" in the /odoo/addons/web/controllers/main.py file as a temporary solution. I guess inheriting it in a custom module would be the solution.
Found another problem that I dirty patched, but the decorator doesn't seems to work if you add the auth='user' parameter in the route. At least when the route is called by a

[2019-04-25 10:09] pedrobaeza commented on #32940
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be d

[2019-04-25 10:15] aisopuro commented on #32944
So what you are saying is that if a method is decorated with `api.multi`, does not use `ensure_one` and gives no indication of expecting a single record, I still need to go through all the places it is called, and if it is only called as a singleton, that means that I should assume it is called as a singleton?

If this is the philosophy that should be used, what about this example:
[code]
Semantic

[2019-04-25 10:41] koz01 commented on #32941
1. We sell the product on POS without onhand.
2. We sell the product on Sale.And then we not click DO validate.
3. After three day, We click Validate for Waiting and Ready DO shipment.
4. Facing this Error.

[2019-04-25 10:41] koz01 commented on #32940
This is detail explain.

[2019-04-25 10:42] koz01 commented on #32940
No more customization.

[2019-04-25 10:43] pedrobaeza commented on #32940
It's not reproducible in runbot. That's why I ask.

[2019-04-25 10:44] pedrobaeza commented on #32941
Sorry, but this is not happening on standard, so you should have something misconfigured, and that's why I ask to be reproduce in runbot and with which data.

[2019-04-25 10:48] koz01 commented on #32940
I take database backup from the production server.
And then restore in my local server.
I test this case but not facing an issue.
Facing only in my Production server.

Production Server
Ubuntu 18.4
Source Installation

Local Server
Window 10
Exe Installation

I think due to the server source code.

[2019-04-25 10:49] pedrobaeza commented on #32944
It's not a question of the decorator, but if Odoo code uses it in a multi-record way. If not, it's not a bug, but a desirable thing to have. All methods are `@api.multi` by default. It depends on the contained code if it's limited to one record or to several.

Any way, you have already #32947 for "fixing" it, courtesy of @jpp-odoo

[2019-04-25 10:49] pedrobaeza commented on #32940
Then update it. Any way, it's not an Odoo issue, so I close this one.

[2019-04-25 10:49] #32940 closed

[2019-04-25 10:50] koz01 commented on #32940
Why close this issue.
I not get any solution.This is Enterprise Version.

[2019-04-25 10:52] koz01 commented on #32940
Odoo never takes responsibility for All Issue.
They always close the ticket.

[2019-04-25 10:54] koz01 commented on #32941
Odoo never takes responsibility for All Issue.

[2019-04-25 11:00] #32941 closed

[2019-04-25 11:24] rafaelbn commented on #6573
About this issue I'm not agree. This is you personal PoV, for me is absolutely necessary that customer get automatically added as followers.

An Opportunity is for getting in contact with the customer! a not to not contact. In fact for you use case you have Internal notes.

[2019-04-25 11:47] #32944 closed

[2019-04-25 13:20] gdgellatly opened #32954 "12.0 Bank Reconciliation Widget is not multicompany safe"
Impacted versions: 12.0

Steps to reproduce:
Have 2 companies A & B
Do not share partners
Have a partner that buys from both companies (actually the live case is 2 different partners that pay from same bank account in different comanies).
Use bank statement imports, such that the bank account number is set.
After import click reconcile.
Boom

The function
[code]

has multiple flaws. It only checks

[2019-04-25 13:22] gdgellatly commented on #32954
opw 1974649

[2019-04-25 13:41] hdinsen commented on #20498
Hi All
I have made a new clean module for l10n_DK, and uploaded to GitHub. Please check.
I have used Account groups and not Account tags, I think tags give a possible error option, as you can set 2 tags on a account by mistake.
Also I think tags can be used better in for other reports.

Right now we are working on a report to the new COA. Think this is ready by end of next week.

[2019-04-25 13:48] #32665 closed

[2019-04-25 13:55] legalsylvain commented on #32711
any news ? regards.

[2019-04-25 14:15] pedrobaeza commented on #6573
I think the same, so this is not a valid issue although closed by triaging.

[2019-04-25 14:19] pedrobaeza commented on #32940
I'm not an Odoo employee. Just a volunteer from community that filters out incorrect issues in community version.

If you have an enterprise contract, then you should raise an enterprise ticket with your problem to odoo.com/help. But you have to take into account one thing, the same as the guarantee in physical devices: if the problem is generated by a bad manipulation, this might not be covered b

[2019-04-25 14:19] pedrobaeza commented on #32941
The same answer than https://github.com/odoo/odoo/issues/32940#issuecomment-486692418

[2019-04-25 14:28] alfredourena opened #32959 "[11.0] Journal Difference Report shows operations from other journals"
**Edition: enterprise**
**Version: 11.0**
Odoo Ticket: 1974673

**What are the steps to reproduce your issue?**

- create an internal transfer from **Journal A** to **Journal B**

- Open the **difference** report of journal A (Both operations show in the report)

- **Reconcile** the journal entry of **Journal A** in a bank statement

- Check the difference report of **Journal A**

What is the curr

[2019-04-25 15:07] gdgellatly commented on #32959
I thought this was what the transfers account was for?

[2019-04-25 15:13] atrivia commented on #32959
Yes. This was working correctly 2 weeks ago.

[2019-04-25 15:18] gdgellatly commented on #32611
And this shows the randomness of the Odoo support experience. #32957

[2019-04-25 18:08] sswapnesh commented on #32954
That what Odoo does not support on SQL

[2019-04-25 18:35] sswapnesh commented on #29551
Ticket: 1974747

[2019-04-25 18:57] sswapnesh commented on #29807
Ping  @jco-odoo  @sle-odoo  (From https://github.com/odoo/odoo/wiki/BugManagement)

[2019-04-25 19:20] wtaferner commented on #23502
@len-odoo
Hmm, it is actually easy to reproduce...

* Quotation sent to customer
* Answer by the customer with having this kind of email_from
`César Somesurname, SomeAdditionalString <cesar@somedomain.com>`
* It is parsed correctly and added to the thread
* As soon it is tried to send this message to the other followers it will fail
* Solution was to edit the outgoing mail `email_from` by replacin

[2019-04-25 20:05] gustavovalverde commented on #19722
One of the things that makes us want to move the localization to the core is that this type of changes: https://github.com/odoo/odoo/commit/a441e89c9fdeed9dfe92da10689c3cc981fead50 breaks it.

I'll be waiting for all the information you need @jco-odoo so we can move on with this objective.

[2019-04-25 21:36] ncarro commented on #24173
Is there a solution for this?

What odoo code does this? Can someone point me in the right direction?
Thanks

[2019-04-26 00:52] amendoncabh commented on #25607
I just make adjust in printer.py _raw funciton...

    def _raw(self, msg):
        if type(msg) == str:
            msg = bytes(msg, 'UTF-8')
        self.device.send(msg)

[2019-04-26 03:17] gdgellatly commented on #32954
@sswapnesh Of course it supports it. That is precisely what building where_p3 does. Just not done for the other models.

[2019-04-26 05:18] ganeshwaghmare248 opened #32967 "Cash drawer not opening when clicking on Validate/ Open Cashbox button."
Impacted versions: **Odoo-11 community**, **Epson TM-T88VI** thermal printer, **Anker** Cashdrawer

Steps to reproduce: Connect Epson TM-T88VI printer to posbox and try to open cash drawer by clicking on open cashdrawer button.

Current behavior: When i click on validate pos order sometimes by luck it opens cash drawer i.e out of 2/10 times & I need to click twice or thrice  to open cashdrawer fro

[2019-04-26 05:43] ganeshwaghmare248 opened #32969 "I am trying to get cashdrawer open/close status but its giving me RuntimeError: cannot set daemon status of active thread"
Impacted versions: **Odoo-11 Community**

Steps to reproduce: Create controller for getting cashdrawer status and call the same after each 2 seconds. Following is the code snippet for the same:
**Controller:**
`# -*- coding: utf-8 -*
from odoo import http
import json
import logging
_logger = logging.getLogger(__name__)
from odoo.addons.hw_escpos.controllers.main import EscposDriver
from odoo.addon

[2019-04-26 06:29] hdinsen commented on #20498
HI @rgo-odoo
Please accept this pull request: https://github.com/odoo/odoo/pull/32964

Then we can make the report as well.

[2019-04-26 06:55] lap-odoo commented on #29807
@sswapnesh It has been handled, you can test V12.3 or Master (on runbot)

[2019-04-26 06:55] #29807 closed

[2019-04-26 06:59] len-odoo commented on #23502
You're right it isn't, but it takes some time, and there are plenty of bugs to fill up our days. But I'll try to get around that next week. Thanks for the steps.

For the sidenote, you could create an issue if there isn't already one, because this is way outside of what I'm allowed to do within Odoo.
I think anybody reasonably competent in the company knows this, so you can set up any instance to

[2019-04-26 07:11] gdgellatly opened #32971 "12.0 Bank Statement Import not multicompany safe"
Impacted versions: 12.0

Steps to reproduce:
In a multicompany environment import a bank statement using a user with access to all companies (and partners) without partners shared.
The import file must contain transactions for multiple companies.
This line

https://github.com/odoo/odoo/blob/7228c10884aaa4b4fdd5d5c21b08dbca8fca016e/addons/account_bank_statement_import/account_bank_statement_import.

[2019-04-26 07:21] Yenthe666 commented on #32971
You're on a roll for multicompany issues 😉

[2019-04-26 07:22] Yenthe666 commented on #29551
@sswapnesh so you've got yourself an enterprise license to log the tickets hmm?

[2019-04-26 07:26] pedrobaeza commented on #32969
Sorry, this is not an Odoo issue, but a question about custom code. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-04-26 07:26] #32969 closed

[2019-04-26 09:06] hdinsen commented on #20498
@rgo-odoo
If you agree on my point, you can sent me the address for the report. Then I can change for Account groups instead of Account tags.

[2019-04-26 09:27] rgo-odoo commented on #20498
@hdinsen
generally in standard modules we generated financial reports using account `code`(in most of the cases, like <a href="https://github.com/odoo/enterprise/blob/12.0/l10n_be_reports/data/account_financial_html_report_data.xml#L40">Belgiun</a> localization) or using account tags(`tag_ids`) in some cases, like <a href="https://github.com/odoo/enterprise/blob/12.0/l10n_nl_reports/data/account_f

[2019-04-26 09:30] Julien00859 commented on #32919
I might not get it, the value is effectively updated by the write, what's wrong ?

	Python 3.6.5 (default, Apr  1 2018, 05:46:30)
	[GCC 7.3.0] on linux
	Type "help", "copyright", "credits" or "license" for more information.
	(Console)

	True

	True

	False

[2019-04-26 09:36] oerp-odoo commented on #32919
@Julien00859 yes you didn't get it. Yes write values are updated, though those values are ignored during constraint methods call (as in my example during `_check_attribute_value_ids` call) . With those mentioned values (like rental), it works as if there is no constraint, or like plain SQL update.

[2019-04-26 10:26] alyngsoe commented on #20498
Using account code to setup the financial reports seems very un-flexible. In Denmark we have a sort of standard for grouping of accounts into the two reports: "Resultatopgørelse" (profitt/loss) AND "Ballance" (Assets/Liabilities/Equity).  For each grouping of accounts we can set a standard, but most often each customer will change the standard account and maybe remove or add new in the groupings.

[2019-04-26 10:37] reinaldoramosarxi opened #32978 "[12.0] Wrong invoice type on invoices created from repairs"
Impacted versions:
- 12.0 (that we've seen)

Steps to reproduce:
- Create an invoiceable repair;
- View it by pressing the invoice button;
- After the invoice is confirmed, refresh the page.

Current behavior:
- The customer invoice will show supplier info (will look like a supplier invoice)

Expected behavior:
- It should keep all the fields that it originally had (customer id instead of supplier

[2019-04-26 11:38] rgo-odoo commented on #20498
@alyngsoe
Are the financial reports you are going to develop will fetch it's values based on these account groups ? If so, then they are being considered misused, because they serve different purpose(they are there basically to replace the view accounts we had before). Or do you have some other idea to fetch reports' values ?

[2019-04-26 11:43] gustavovalverde commented on #32971
Lovely multicompanies

[2019-04-26 12:25] alyngsoe commented on #20498
@hdinsen
Can you reply to @rgo-odoo concerning the use of accounting groups in financial reports ?

[2019-04-26 12:46] thsdrouot commented on #29114
I reopen the discussion because a lot of Odoo users tell me that it is not so clever as design decision. It would be very great to have an option in "standard price valuation" to change the behavior. Is it maybe already in the roadmap ?

[2019-04-26 15:27] woepwoep commented on #28179
For Dutch biological stores we could use DIY weighing scale interface, for example DIGI or Mettler weighing scales. The usual approach is to have one master scale, using a Windows interface, is sent a download file using a dongle on the Windows PC. Then a special program (in the case of DIGI) picks up this download (.csv) and sends it to the attached scales (using TCP/IP)

The second request for D

[2019-04-26 15:39] Yenthe666 commented on #28179
@woepwoep for point one: I don't see why you can't just use the default wiehging scale that works with Odoo? Why the complexity for interfaces and CSV generation?
Agreed on the CCV & iDEAL part.

[2019-04-26 17:03] sswapnesh commented on #29551
Not really, Used someone else's and added me as Follower.

[2019-04-26 17:04] laurisdjilo opened #32992 "many2many relationship"
Hello every body! I have an issue with the many2many relationship in odoo 11.
Let say i have a model A defined as follow
class A(models.Model):
    _name = 'module.A'
    b_ids = fields.many2many('B')

class B(models.Model):
    _name = 'module.B'

    def my_method(self):
            #my method

What i want to do in 'my_method' is to get the recordset of A model related to B current record. How c

[2019-04-26 17:48] pedrobaeza commented on #32992
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2019-04-26 17:48] #32992 closed

[2019-04-26 19:16] pedrobaeza commented on #32883
@seb-odoo @ged-odoo this is something that is happening to me also, so I wonder if there's any chance to mitigate it in v11.

[2019-04-26 20:36] hdinsen commented on #20498
@rgo-odoo  No, with account code only, we can't make the reporting for Denmark. The Account Tags, can be used, but have one small draw back, i is possible to put more account tags on one account in chart of accounts. If we use Account Groups this is not possible, and will be better. But please explain more about the use for Account groups. Can you give a example.  If they will stay in the future o

[2019-04-27 15:55] karan-dreambits opened #32994 "Rendering of Code39 barcode is not proper"
**Impacted versions:**

Atleast 12.0 , 11.0 and 10.0

**Steps to reproduce:**

Login into runbot.odoo.com
Generate Standard Code 39 barcode appending url:

report/barcode/?type=Standard39&value=12345&width=900&height=100&humanreadable=1

Example url:
http://508470-10-0-a21db6.runbot20.odoo.com/report/barcode/?type=Standard39&value=12345&width=900&height=100&humanreadable=1

**Current behavior:**

[2019-04-27 19:56] celm1990 opened #32995 "[12] Wrong Date not show message to user"
**Impacted versions:**
12, tested runbot
**Steps to reproduce:**
Go to any field Date, enter wrong date and get error

**Current behavior:**

**Expected behavior:**
Show message to user according [this code ](https://github.com/odoo/odoo/blob/12.0/addons/web/static/src/js/fields/field_utils.js#L431)

PD:
[Here](https://github.com/odoo/odoo/blob/12.0/addons/web/static/src/js/widgets/date_picker.js#

[2019-04-27 20:18] pedrobaeza commented on #32995
@ged-odoo can you please check this?

[2019-04-27 21:14] Yenthe666 commented on #32995
@sswapnesh didn't you report this recently?

[2019-04-27 21:14] pedrobaeza commented on #32994
If you have it clear what is the solution in code, please make a PR solving this.

[2019-04-27 21:29] sswapnesh commented on #32995
Yes,Duplicate of https://github.com/odoo/odoo/issues/29551

[2019-04-27 21:31] pedrobaeza commented on #32995
This one gives some insight about where to see, so maybe a patch can be extracted

[2019-04-27 21:32] pedrobaeza commented on #32995
Any way, closing as duplicate and the link is preserved thanks to GitHub.

[2019-04-27 21:32] #32995 closed

[2019-04-27 21:35] sswapnesh commented on #32995
I just added this part (links with reference) on Related odoo ticket.

[2019-04-27 21:44] celm1990 commented on #32995
Sorry for create new issue duplicate.

But issue reported by @sswapnesh  has more 4 months and nothing solution?

[2019-04-27 21:49] pitmaster40 opened #32996 "Broken link in the icon module"
Impacted versions: 12.0

Steps to reproduce:
When a new module is created under another language, the icon module is not shown in application list. It appears as broken, in spite of having it in the right folder: module_name/static/description/icon.png

Current behavior:  src image: es-CO/module_name/...

Expected behavior:  module_name/...

[2019-04-27 21:54] pedrobaeza commented on #32996
I don't think so. The problem should be another. I have been doing this all the time without that problem, or you are not giving enough information...

[2019-04-28 02:03] sswapnesh commented on #32995
I hope We will get some solution soon As I have added Enterprise Ticket for this.

[2019-04-28 04:50] woepwoep commented on #28179
I'm not sure i understand your question.

What do you mean by 'default weighing scale'? You mean the posbox solution?

I can give many reasons why the posbox solution doesn't fit for stand-alone scales in a network.
Most basic reason is that the scale is needed for printing a label. For this the scale has its own database, which needs to be filled by Odoo. And the scale is not open source, so ther

[2019-04-28 13:36] pitmaster46 commented on #32996
Ok, maybe, I couldn't explained it well at all. I did other test. My browser's language setting is Spanish. If you look the icon's image link better: es-CO/module_name/static/description/icon.png, Odoo server is changing it. I try to access this icon directly with the right url: module_name/static/description/icon.png, it is changed by: **es-CO**/module_name/static/description/icon.png.
English mo

[2019-04-28 13:40] gustavovalverde opened #32997 "[RFC] Add hidden ir.config_parameters to the documentation"
#### Impacted versions:
All
#### Steps to reproduce:
There's a bunch of **ir.config_parameters** in the code that are not in the Config Parameters menu.
#### Current behavior:
A bunch of this ir.config_parameters make changes in the behavior of Odoo, but there's o way to know it if you don't navigate the code looking for this parameters
#### Expected behavior:
Having a documentation of all this ex

[2019-04-28 13:41] pitmaster40 commented on #32996
Ok, maybe, I couldn't explained it well at all. I did other test. My browser's language setting is Spanish. If you look the icon's image link better: es-CO/module_name/static/description/icon.png, Odoo server is changing it. I try to access this icon directly with the right url: module_name/static/description/icon.png, it is changed by: es-CO/module_name/static/description/icon.png.
English module

[2019-04-28 13:55] gustavovalverde commented on #32911
Landed here because I was seeing this awkward  behavior in a client with a total amount due completely different from the amount total of the invoice (explaining that was worst). After tracking further I realized that the categories with the **price difference** account set were causing this odd behavior.

@gdgellatly do you know if this is already in bug-fixing?

[2019-04-28 14:59] gdgellatly commented on #32911
@gustavovalverde I got a message saying under investigation. But support is pretty hit and miss, depends who you get.

[2019-04-28 16:17] Reema-Mansour commented on #19883
the same issue I pip installed PyPDF2 on windows and I'm still getting this error [ModuleNotFoundError: No module named 'PyPDF2']

[2019-04-28 17:03] Reema-Mansour commented on #19883
the issue has been solved. the problem was that I had installed  PyPDF2 in another environment using anaconda So, you have to activate the environment the you are using then install PyPDF2 by
pip install PyPDF2

activate the environment by
conda activate env_name

[2019-04-28 17:52] sswapnesh commented on #32978
Hello @reinaldoramosarxi

It is passed in context and Correct Invoice (Customer Invoice) is created from Repair.

but this is because of loss of context in action.

Duplicate of https://github.com/odoo/odoo/issues/28271
Cc: @pedrobaeza

[2019-04-28 18:53] ray-odoo commented on #8514
I am getting this error when importing data, so I am assuming the data is generating a bad SQL insert/update.

[2019-04-28 22:20] grzekru opened #32998 "[12] Activities filter, problem with timezone(?)"
**Impacted versions:**

12

**Steps to reproduce:**

1. Clear install of Odoo no timezone is set.
2. Create few activities for tommorow
3. Filter works different for activities menu (screen1) and for normal view (screen2)
It is probably connected with timezone because current local time is 12:15 AM

**Current behavior:**

Screen1 - Activities menu show 2 activities for tomorrow
![image](https://us

[2019-04-28 22:36] grzekru opened #32999 "[12] Follow button and alarm menu overlapping on some languages"
**Impacted versions:**

12

**Steps to reproduce:**

Select polish language, go to chatter

**Current behavior:**

Follow button and alarm menu overlapping

**Expected behavior:**

No overlapping

**Video/Screenshot link (optional):**

![image](https://user-images.githubusercontent.com/5862658/56870900-a6b1b680-6a16-11e9-8678-8baea28be679.png)

![image](https://user-images.githubusercontent.com/58

[2019-04-28 22:38] #32999 closed

[2019-04-28 23:45] pedrobaeza commented on #32978
Yes, closing this.

[2019-04-28 23:45] #32978 closed

[2019-04-28 23:46] pedrobaeza commented on #32997
Well, you can make a PR adding the one you know.

[2019-04-29 05:31] gdgellatly opened #33000 "12.0 Bank Reconciliation Widget - double clicking line gets it added twice"
Impacted versions: 12.0

Steps to reproduce:
Open a bank statement or reconciliation widget
Double Click an Entry

Current behavior:
Entry is assigned twice

Expected behavior:
Ignore second click

Video/Screenshot link (optional):
From enterprise runbot - just easier to setup
![image](https://user-images.githubusercontent.com/5093264/56877733-46695600-6aa4-11e9-80d9-cb9f3f331255.png)

[2019-04-29 07:10] pedrobaeza commented on #32996
But how are you accessing the icon?

[2019-04-29 07:20] rgo-odoo commented on #20498
@hdinsen
Account groups are mainly used when you want to show accounts in hiearchical manner in financial reports. And to do so, first you need to properly configure parent-child relation for your account groups and need to assign them to appropriate accounts. Then, in financial reports(`account.financial.html.report`), you need to enable `Hierarchy`  option(`hierarchy_option` field)(This will giv

[2019-04-29 07:26] gdgellatly commented on #33000
opw-1978551

[2019-04-29 08:31] est-odoo commented on #32686
Hello ,

The mobile application currently does not support this feature but you can set up a password on your users as a workaround.

[2019-04-29 09:53] Byloth opened #33006 "[11.0] Wrong reconciliation account move date (it's always today)"
Impacted versions: 11.0

Steps to reproduce:

1.  Try reconcile a payment with a not perfectly matching amount compared to the invoice total.
2.  Add a reconciliation "profits and losses" movement.

Current behavior:
The created account move date is equal to today date.

Expected behavior:
The UI should allow the user to specify a different create date.
The default date should be the payment date.

[2019-04-29 10:53] mady143 opened #33008 "Odoo Istallation in linux environment"
Hi Everyone,

                     I am getting and error while installing odoo i am running these commands like

* sudo apt install postgresql -y
* wget https://nightly.odoo.com/12.0/nightly/deb/odoo_12.0.latest_all.deb
* sudo dpkg -i odoo_12.0.latest_all.deb
* sudo apt install -f

these are commands i am running to install odoo in my linux env  system

but unfortunately i was unable to installed

[2019-04-29 10:54] pedrobaeza commented on #33008
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/12.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2019-04-29 10:54] #33008 closed

[2019-04-29 11:07] mady143 commented on #33008
okay sir, and thank you sir for you valuable answer

[2019-04-29 12:23] hdinsen commented on #20498
@rgo-odoo Thanks for you explanation, I will look into that.  Also find the hierarchy_option field. Let me come back on this

[2019-04-29 13:24] #32686 closed

[2019-04-29 13:40] pitmaster40 commented on #32996
Directly into the browser:
Icon module of the problem: https://citpa.co/es_CO/library2_app/static/description/icon.png
Sample Module 'library2_app' : application environment in Spanish.

This icon from an Odoo module: https://citpa.co/mail/static/description/icon.png

If you try to access:  https://citpa.co/library2_app/static/description/icon.png, is changed by: https://citpa.co/es_CO/library2_ap

[2019-04-29 13:42] pedrobaeza commented on #32996
But you don't have to do that, as website controller changes that, but if you access the resource from an XML file for example, everything works as expected. Please try.

[2019-04-29 13:59] pedrobaeza commented on #33006
Are you talking about the `date` or about `create_date` field?

[2019-04-29 14:44] dolfinus commented on #27447
Add to docker-compose:
[code]
for example: `--database odoo`

Then odoo can properly init database already created by postgres, and everything will be ok.

[2019-04-29 15:48] seb-odoo commented on #32883
The problem is that the fix of #27639 is done inside `_computeOverrideDefaultFields` which was introduced in #25483 with a target on master (12.0 back then) because the change was too complicated/risky to implement in stable versions.

The question would be can be implement the fix without the other PR, and I don't really know, maybe the framework JS team would have a better idea.

[2019-04-29 15:52] IlirBajrami commented on #27447
you have to install both PostgreSQL and pgAdmin. Postgres manages your server and pgAdmin the databases.
see the video how to create a database with pgAdmin.
run Postgres then pgAdmin, then in terminal run ./odoo-bin and it should work. at least it worked for me.

[2019-04-29 16:51] pedrobaeza commented on #32883
Thanks for your insights, @seb-odoo. @ged-odoo can you comment something about this?

[2019-04-29 17:01] vpalvesalan commented on #27447
A way around was to install odoo and database on my local machine, than
back up the database and upload it to amazon EC2. It worked for me, however
the connection was to slow.

Em seg, 29 de abr de 2019 às 11:54, Ilir Bajrami <notifications@github.com>
escreveu:

[2019-04-29 17:15] reinaldoramosarxi opened #33024 "[12.0] Sections and notes in invoices losing context on credit note view, turning into products"
Impacted versions: 12.0, that we've tested

Steps to reproduce:
- Create invoice with sections and notes, as well as products
- Validate it
- Add credit note to invoice
- Validate it
- Add the outstanding debit from the created invoice
- Through the "i" button on the "Paid on" section, view the invoice

Current behavior:
- The invoice shows product lines, complete with quantity, unit price, taxes

[2019-04-29 18:02] akevinieron opened #33026 "Html field with company_dependent=True on save a form view throw an error"
Impacted versions:
- 11.0

Steps to reproduce:
1. Make an HTML field with company_dependent=True on a model
2. Add the new field to a Form View
3. Try to create a new record

Current behavior:
When click save on form view with a html field with company_dependent=True, a raise with the followin text: "Invalid Type".

Expected behavior:
Save the record successfully

Video/Screenshot link (optional):

[2019-04-29 18:14] sswapnesh commented on #33024
No, I believe That's because of View Priority (Vendor Bill form view has High Priority by default).

[2019-04-29 18:45] sswapnesh commented on #33026
Hello @akevinieron
This is expected behavior for now, You can add Company depended fields as mentioned in  https://github.com/odoo/odoo/blob/12.0/odoo/addons/base/models/ir_property.py#L8

Ps: PR https://github.com/odoo/odoo/pull/26556 is already proposed to allow html fields as company-dependent.

Cc: @pedrobaeza  (I think this can be closed as PR is already there :smile:)

[2019-04-29 18:46] sswapnesh commented on #33024
AFAIK This can be solved by passing `view_id` based on type of Invoice (and also res_model) at https://github.com/odoo/odoo/blame/12.0/addons/account/static/src/js/account_payment_field.js#L120

[2019-04-29 19:32] rquevedo opened #33027 "There is no way to inherit ReprintButton widget"
Impacted versions: 10.0

Steps to reproduce: Try to inherit by code ReprintButton widget

Current behavior: When try to inherit this widget by "var reprint_screens = require('pos_reprint.pos_reprint')" the result is undefined.

Expected behavior: When try to inherit this widget by "var reprint_screens = require('pos_reprint.pos_reprint')" the result should be an instance of of this js definition.

[2019-04-29 19:37] pedrobaeza commented on #33027
Sorry, but this is not an Odoo error per se. If you want to inherit from something and there's no hook, propose it for master branch in a PR.

Closing by the reason above.

[2019-04-29 19:37] #33027 closed

[2019-04-29 19:40] sswapnesh commented on #33027
Hello @rquevedo ,

Better to add PR with the suggest diff.

Maybe this
[code]
Not sure about stable policy here.

[2019-04-29 19:49] pitmaster40 commented on #32996
I think, you have misunderstood about what I tried to explained. Please, refer to this screenshot. I don't know if you have already understood what I try to say. The above comment was only an explanation in order to support and picture my issue.

[screenshot1.pdf](https://github.com/odoo/odoo/files/3128946/screenshot1.pdf)

[2019-04-29 19:50] sswapnesh commented on #27478
Works well in Enterprise. (But still it has issue on Community version)

[2019-04-29 19:53] pedrobaeza commented on #32996
That broken link is due to incorrect addons path or similar, but not a question of languages. I can assure you that this works no matter the language.

![Selección_002](https://user-images.githubusercontent.com/7165771/56922726-34e67500-6ac9-11e9-9e41-767c87f1354a.png)

[2019-04-29 19:54] pedrobaeza commented on #33026
Yes, closing as duplicated.

[2019-04-29 19:54] #33026 closed

[2019-04-29 19:58] sswapnesh commented on #27269
Same in v12.
Ticket: 1981018

[2019-04-29 19:58] pitmaster40 commented on #32996
But why?, I am using this addon path: /opt/bitnami/apps/odoo/custom_addons , could it be for this?

[2019-04-29 20:01] pedrobaeza commented on #32996
Not sure, as Bitnami is a bit tricky on these things. You should try standard installation. Any way, it's clear now that this is not an Odoo problem, so I close.

[2019-04-29 20:01] #32996 closed

[2019-04-29 20:02] sswapnesh commented on #24207
Hello @jco-odoo , @sle-odoo
Same situation in v12.
Can we make this required in master ?

[2019-04-30 00:38] rquevedo commented on #33027
Thanks for the hint @sswapnesh, i will try to make the PR. This kind of hook should be available for all base modules.

[2019-04-30 02:21] Lievson commented on #7028
Hi guys, I can totally vouch for this feature as well. We had two clients here in Hong Kong interested in this feature. Especially now that we have multi-website settings. A simple flow is this one:
1) The client has 2 companies with different names, each of them has a website, but they are managed from their parent company (not a rare situation in business)
2) Each website sells online through eC

[2019-04-30 07:53] Byloth commented on #33006
Hi, @pedrobaeza!
I'm talking about the `date` field.

---

As you can see here (in the `account.move` tree view):
![image](https://user-images.githubusercontent.com/14953974/56946963-05b51f80-6b2c-11e9-9e25-fc7c5e7b10ae.png)

These two movements are reconciled with the same invoice and the same payment.
They should have the same `date` (equal to the date of payment `01/04/2019`) but one of those h

[2019-04-30 07:59] pedrobaeza commented on #33006
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - admin/admin)? All the reconciliations I do put the transaction line date, not current date.

If so, please explain with all the possible detailed steps to get to the error.

[2019-04-30 08:03] pedrobaeza commented on #33024
Yes, it's the used view, that is not the customer one. @qdp-odoo can you please check this?

[2019-04-30 08:54] hdinsen commented on #20498
@rgo-odoo When we import COA Odoo automatic create Cash, Bank and Liquidity Transfer accounts. These have no tags or groups. Is it possible to setup these in files so odoo don't create them? F.x. that we can point out the right accounts from the imported COA?

[2019-04-30 08:57] hdinsen commented on #20498
@rgo-odoo Also is it possible to set default Salex tax and Purchage tax. It seems that these are set based on the sequence in tax import.

[2019-04-30 09:42] timsmet opened #33043 "Account_cancel does not show option in Journal view in Miscellaneous type"
Steps to reproduce:
- Install addon
- Enter dev mode
- Go to accounting - settings - journals - any miscellaneous journal
Current behavior:
- Does not show the option "Allow Cancelling Entries"
Expected behavior:
- Should Show it
Solution:
- Think it is because the Field "group_invoice_lines" does not exists in Miscellaneous journals (see attachment)

Video/Screenshot link (optional):
![image](htt

[2019-04-30 09:57] pedrobaeza commented on #33043
@qdp-odoo is this done on purpose?

[2019-04-30 10:02] timsmet commented on #33043
FYI if it was done on purpose there is a way to work around it (what I did). Is to change the Journal type back and forth to sales (without saving)

[2019-04-30 11:31] a-elhusseine commented on #8993
Hello everyone,
I would like to understand the behavior of the "recursive" as parameter in declaration of the field , i did some tests but i'm not sure ,because i dont know how it work really and i dont found documentation about it .
PS: When recursive = True , _in_cache_without is not exécuted.

[2019-04-30 12:08] rosenvladimirov commented on #31024
I fix this problem with module [sale_only_company](https://github.com/rosenvladimirov/sale-workflow/tree/11.0/sale_only_company) This module switch e-commerce to work in B2B

[2019-04-30 12:15] roseragin commented on #5065
hi,
i got similar error in odoo12

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/tools/convert.py", line 757, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/opt/odoo12/odoo/odoo/tools/convert.py", line 662, in _tag_record
    record = model.with_context(rec_context)._load_records([data], self.mode == 'update')
  File "/opt/odoo12/odoo/odoo/models

[2019-04-30 12:24] qdp-odoo commented on #33043
no it isn't. Just an unlucky xpath targetting a field only visible for sale/purchase journals.

@nim-odoo don't you have someone in your team working on that issue already?

[2019-04-30 12:36] nim-odoo commented on #33043
@qdp-odoo I think it hasn't been reported to my us

[2019-04-30 13:48] Byloth commented on #33006
Yeah, sure... Hold on...

Here you are:
1.  Log in on RunBot.
2.  Click on the `Invoicing` menu in the top navigation bar.
3.  Click on the purple `New invoice` button inside the top left card named `Customer Invoices`.
4.  Select a random customer on the required field labelled `Customer`.
5.  Write inside the optional field labelled `Invoice Date` the value `04/10/2019`.
6.  Click on the hyperli

[2019-04-30 13:57] fclementic2c commented on #33006
I did the test but I see no probleme.
https://drive.google.com/file/d/1AnU6JwxLgVTpe9kxawwLLqlq4AwT-MK5/view?usp=sharing

[2019-04-30 13:59] rgo-odoo commented on #20498
@hdinsen nope, it is not possible to stop automatic creation of these accounts but you can override `_prepare_liquidity_account` of `account.journal` model to modify(that is add tags and/or groups) the automatically created `Bank` and `Cash` accounts and by overriding `_prepare_transfer_account_template` of `account.chart.template` you can modify `Liquidity Transfer` account.
And yes, lowest seque

[2019-04-30 17:27] #32919 closed

[2019-04-30 18:46] Alexandre-Bernardes opened #33064 "some kanban views are truncated"
Impacted versions: 11

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

some of my kanban views are truncated.
the cards are squeezed.
Have you ever been through this?

![FireShot Capture 003 - Projetos - Odoo - jarvis](https://user-images.githubusercontent.com/12830044/56985568-03b88400-6b5f-11e9-9453-310691cbb399.png)
![FireShot Capture 002 - Ponto d

[2019-04-30 20:16] pedrobaeza commented on #33064
You have a custom backend theme, so the problem should be there.

Closing meanwhile this is not proved to be on Vanilla Odoo.

[2019-04-30 20:16] #33064 closed

[2019-05-01 07:15] RayKisor commented on #23301
You may remove the module from the /opt/odoo/odoo12/addons director (assuming you are using odoo12.
For example if you want to remove module hr_reminder then just use  rm -r hr_reminder.  Then
Update all the modules .using command line:
sudo service odoo stop
login as odoo system user
cd /odoo12
./odoo-bin -u all -c /etc/your-odoo.conf
exit
sudo service odoo start
Thanks

[2019-05-01 08:30] Ark74 commented on #27302
I've noticed that products that are consumable and were adjusted before this patch, keep appearing on the Inventory Adjustments.

Have you seen that too?

[2019-05-01 09:27] oerp-odoo commented on #32919
@Julien00859 @rco-odoo This fix does not work correctly. I just had a bit different case, when it failed. Yes it now passes parent field new values on constraint. But the problem is now that if constraint consists only of parent fields, constraint is never triggered. Meaning it can still bypass constraint. It only triggers if `constrains` decorator has at least one field that is not parent (and su

[2019-05-01 10:12] volodymyrrudyi commented on #32478
We've just got the same error on Odoo.sh-hosted Odoo after editing a quote.

[2019-05-01 10:14] volodymyrrudyi commented on #32478
@pedrobaeza  Can it be somehow connected with JS load order? How can I help with further investigating this issue?

[2019-05-01 10:44] pedrobaeza commented on #32478
Well, sometimes JS files are not totally loaded and any interaction can cause this, but I haven't seen it with all fully loaded.

[2019-05-01 11:03] Julien00859 commented on #32919
I tried your behaviour too during my fix and was doubtfully why it was not working.

The reason is that when you write fields on the parent, only constraints of the parent are triggered. In current Odoo constraints in the child model solely checking parent fields are never triggered as the parent is not aware of constraints defined in other models.

I suggested we add some kind of warning for such

[2019-05-01 11:43] gustavovalverde commented on #27302
If those products are **Active** I think they do.

[2019-05-01 11:52] Ark74 commented on #27302
So in order to fully get the patch in place all previous consumable products (with previously inventory adjustments records) should be replaced by new ones without Inventory Adjustment history, so they don't keep appearing and any other new product by default will follow the new rules in place.

Did I got it right?

[2019-05-01 12:05] oerp-odoo commented on #32919
I agree, at least some warning would be good, so it would be clear that those fields won't work on child model constraints.

[2019-05-01 13:37] gustavovalverde commented on #32997
Where in the documentation should this be?

I think that the best way to find all the parameters in the code would be using a regex search.

[2019-05-01 13:40] pedrobaeza commented on #32997
It should be in the functional area where it's intended to be used.

[2019-05-01 13:52] BalramY commented on #11891
@Yenthe666 @pedrobaeza @yelizariev @bluestingray I'm still facing this issue.. in V9

I created 1 product with 4 variants, with option Make to order and Manufacture

When I confirm Sale order and if I add By product in BOM of this products then It will show the following error. I my self traced this issue and found that the super method of deliver/stock.py->action_confirm is calling it self.

Odoo