[2018-01-11 12:38] lap-odoo commented on #18565
@gelo-landoo It's the branch called master-l10n-es-2-oco on our [runbot](http://runbot.odoo.com/runbot/repo/git-github-com-odoo-dev-enterprise-8?search=). I've just launched the rebuild of the branch so you'll have to wait a bit (+/- 45 min) before being able to connect (admin, admin).

[2018-01-11 12:58] Halex21 commented on #22151
Hello ,i am using Linux 17.10, and installing from source.

El 11 ene. 2018 6:55 a. m., "Adrian Torres" <notifications@github.com>
escribió:

[2018-01-11 13:02] Yenthe666 commented on #22151
@Halex21 you'll really need to answer all of those questions.
What Odoo version do you want to install?
What Python version are you running?
What steps did you follow to install Odoo?

[2018-01-11 13:05] ofrmax commented on #22149
Hi @Yenthe666 ,

thanks for your quick answer. For the plugin i downloaded the whole odoo branch like that :

![image](https://user-images.githubusercontent.com/19998638/34826722-babb3f92-f6a5-11e7-9a8c-688423353509.png)

It not really familiar with GitHub so maybe I did something wrong. also here how I installed the addon:

-uninstall the current version of the addon
-on the server side, i delete

[2018-01-11 13:17] Halex21 commented on #22151
oh sry, in the mail dont appears the other 2 questions, I wan to install odoo 10.0
i dont know what version of python i am using(how can i see it?).

to install odoo i updated and upgraded linux,
 i created a new user called "odoo" with pass,
installed git, installed nodejs and ikts package manager,
get odoo source code from https://github.com/odoo/odoo.git -b 10.0 --depth=1
And them i try to inst

[2018-01-11 13:24] Yenthe666 commented on #22171
OPW 804952

[2018-01-11 13:30] Elkasitu commented on #22151
@Halex21 hi, yep that's my fault, I edited some extra info in the comment which do not get sent over e-mail for spam reasons, probably.

Can I ask where did you learn about using setup_dev.py? It's very outdated and tries to install debian packages as dependencies (so if you were running arch linux, for example, it would throw out an error probably since apt-get is not the default package manager)

[2018-01-11 13:33] Yenthe666 commented on #22151
You might also want to have a look at https://www.odoo.com/documentation/10.0/setup/install.html

[2018-01-11 13:49] Svickie7 opened #22177 "Font size configuration based on user in odoo 10"
Is there any module or any proper way for font size configuration based on user in odoo 10.

[2018-01-11 14:07] nim-odoo commented on #21686
@Yenthe666 https://github.com/odoo/odoo/pull/22178

[2018-01-11 14:22] sle-odoo commented on #22002
first improvement at rev 309b6b8e5ab476de6f432bbf64939a72af85be3b

[2018-01-11 14:28] d-fence commented on #20903
I'll have a look at that ASAP

[2018-01-11 15:49] rim-odoo commented on #22171
We do not consider this as an issue since this tour is a purely technical integration test and not targeted to final users.

[2018-01-11 15:49] #22171 closed

[2018-01-11 15:53] Yenthe666 commented on #22171
Uhh.. I guess atleast an exit button would be neat though. 😞 But ok.

[2018-01-11 15:55] Yenthe666 commented on #22177
Hi @Svickie7,

Not that I'm aware of. Anyways, the Github tracker is only for bugs in the official code. You should ask these kind of questions on the help forum (help.odoo.com).

Regards,
Yenthe

[2018-01-11 15:55] #22177 closed

[2018-01-11 16:42] Gorash commented on #22120
Hi, it's a rounding error because there is no precision, you can add an option to take into account only 4 digits for example. This will fix the problem.

[2018-01-11 16:58] FDiaz-EnovaTICs commented on #18565
Hello to every one,
It would also be convenient to add Canary Island's taxation in considerations.
Although most companies do not use V.A.T., some do, we share some of the modules with Hacienda Nacional.
IGIC is the canary island taxation behalf of the VAT and we use MOD420 for every quarter and 425 for every year declaration among other regional forms. http://www.gobiernodecanarias.org/tributos/p

[2018-01-11 17:04] FDiaz-EnovaTICs commented on #18565
Hello,
Also would convenient to see the SSI  (Suministro Inmediato de Información)
Technical details http://www.agenciatributaria.es/AEAT.internet/SII.html
BOE Links http://www.agenciatributaria.es/AEAT.internet/Inicio/La_Agencia_Tributaria/Campanas/Suministro_Inmediato_de_Informacion_en_el_IVA__SII_/INFORMACION/Normativa/Normativa.shtml

It seems that Canary Island, as far as I know, will not be

[2018-01-11 17:14] luistriana28 commented on #22119
@Elkasitu

The problem is with the writes in the database, your [articule](https://stackoverflow.com/questions/38801527/timezone-incorrect-in-odoo-log-file) works for the log files, im tryin'g to view the write datetimes in postgres.

Regards

[2018-01-11 17:17] PauliusP17 commented on #21213
I have a multi-company setup with 3 companies. I get this error whenever I try to access the Settings with a normal user. Logging in as Admin obviously bypasses this so I went to check the default_sale_tax_id field in Invoicing settings.

1. I spot the reason why I was getting the error as a normal user before, the tax in default_sale_tax_id field belongs to company C.
2. I switch it to a tax that

[2018-01-11 17:48] Halex21 commented on #22151
I am following a PDF guide called "Odoo_10_Development_Essentials" that a friends gived to me, there i see the command setup_dev.py.

When i execute `pip install -r requirements.txt ` it says that the requeriments.txt donot exist.

[2018-01-11 18:06] Halex21 commented on #22151
Hi again,

I have made a mistake, i was introducing the command into the odoo folder, but in this folder only was another folder called odoo  where is the content :S, newby fail sry.

So i executed the requirements.txt and i get the following error:
`could not find function xmlCheckVersion in library libxml2. Is libxml2 installed?` Its installed i checked it.
`error: command 'x86_64-linux-gnu-gcc'

[2018-01-11 19:09] edsersolis commented on #20914
Hello sorry for the delayed answer. We're using Linux and Sources.

Haven't been able to find out what is causing this because some instances in the very same server do have the issues others don't. Seem to be related to some module but haven't been able to identify which one. We're further checking and we find it to be an issue related to Odoo will reopen this ticket.

Thanks!

[2018-01-11 19:27] chris001 commented on #5177
@DarkoNikolovski @steenzout
Can you confirm `wkhtmltopdf` version `0.12.4` is working fine on Odoo 11, as long as `web.base.url` value is set to `http://127.0.0.1:8069` ??

[2018-01-11 19:41] edsersolis commented on #22150
+1

[2018-01-11 20:08] chris001 commented on #19160
@aliencrash
1. Can you provide a link to the problem issue with `openssl` library in the fork of `QT` inside `wkhtmltopdf`.
2. Have you tested 0.12.4 and does it work for you with the `web.base.url` setting `http://127.0.0.1:8069`

[2018-01-11 20:13] Yenthe666 commented on #22120
So we can conclude that this will be improved?

[2018-01-11 20:13] Yenthe666 commented on #20914
Awesome. Thanks for the feedback!

[2018-01-11 20:16] edsersolis commented on #22122
Thanks @fmdl was in front of our eyes :sweat_smile:

[2018-01-11 20:18] edsersolis commented on #17802
Could you give this thread a push? @Yenthe666

[2018-01-11 21:02] chris001 commented on #5177
WKHTMLtoPDF Version 0.12.1 (supported by Odoo 11 !?) is obsolete and not supported by the `wkhtmltopdf` project!
[code]

[2018-01-11 21:23] trcarden opened #22187 "BoM Component filter for product.template via mrp.views.product_views.xml is incorrect"
Impacted versions:
7-11 enterprise

Steps to reproduce:

1. Install mrp module
2. Create 2 new products. One to be the parent and one to be a component of that parent
3. Create a BOM that establishes the parent child relationship
4. Filter your products by BoM components

Current behavior:

Returns only those products that are not listed in BOMs (the parent products)

Expected behavior:

Return pr

[2018-01-11 22:58] fmdl opened #22188 "[BUG] Purchase: product display doesn't change if the quantity change"
Impacted versions:
Master,11,10,9

Steps to reproduce:
- Create a `product A` with two seller information:
- Partner: `Delta`, Name: `Delta_YY`, Code:`YY`, minium_qty:`1`
- Partner: `Delta`, Name: `Delta_XX`, Code:`XX`, minium_qty:`1000`

**BUG 1**
- Create a purchase
- Add a line with `1` x `product A`
--> You see in the description `[YY] Delta_YY` --> OK
- Modify the quantity to `2000`
--> You s

[2018-01-12 00:16] dsabrinarg commented on #21485
Issue solved @sle-odoo by the mentioned commit. Best regards!

[2018-01-12 02:40] Charlesgu1988 opened #22191 "[11.0][community]Odoo Server Error when click button in dashboard module"
Impacted versions:

- 11.0 community

Steps to reproduce:

- add inventory dashboard context to dashboard module

- click on '3 To receive' button in middle of kanban

Current behavior:

- Odoo Server Error was raised and shows system trying to read a 'board.board' record

Expected behavior:

- go to receive picking list

Video/Screenshot link (optional):
![fireshot capture 4 - my dashboard - odoo

[2018-01-12 07:27] Yenthe666 commented on #22191
Hi @Charlesgu1988,

Thanks a lot for your bug report.
I've just tested this and I can confirm that this is a bug:
![image](https://user-images.githubusercontent.com/6352350/34863983-64f929b6-f772-11e7-8a4c-d378c367db21.png)

@ged-odoo probably something that you guys missed in the new views. Can you check?

Regards,
Yenthe

[2018-01-12 07:30] Yenthe666 commented on #22187
@sle-odoo you're the master of stock. What do you think?

[2018-01-12 07:32] #21485 closed

[2018-01-12 07:53] fmdl commented on #22101
I think it is a normal behavior, the field description is generate when you choose the product. That why when you change the name of the product, the description field doesn't change.

In the report, it is the field description (`name`) wich is printed. (You can change by `product_id.display_name`)

Regards

[2018-01-12 08:12] Gorash commented on #22120
I did not test in v11.0. And we will not be n will not make a change in the form view.
This is not a blocking bug, if we have another ticket we will put a digit to 6 decimal by default on the widget.

[2018-01-12 08:33] prakashjain commented on #22101
Ok let we check, Thanks for reply
And  also Noticed custom module name field set as readonly, so readonly field changes not affected in database. please if possible provide link to overwrite write method  to call on_change method and assign  name field value .

[2018-01-12 09:52] rdeodoo commented on #22109
This has been [fixed on 10.0](https://github.com/odoo/odoo/commit/bd00fa8dd1808478e70232dfcbd2f4b48f9e1cc8)
The fix will be forwardported to 11.0 in the upcoming days
Thank you for reporting the issue

[2018-01-12 09:52] #22109 closed

[2018-01-12 11:02] Yenthe666 commented on #16996
@sbidoul what was the response on 743690?

[2018-01-12 11:05] Yenthe666 commented on #16908
Hi @jayo2005,

Thank you for the report.
I've just tested this on the latest 9.0 and this issue is no longer present in Odoo.
Please update your Odoo and try again.

Regards,
Yenthe

[2018-01-12 11:05] #16908 closed

[2018-01-12 11:07] Yenthe666 commented on #16891
Yeah - this is absolutely about custom development and not a bug in Odoo. You can ask these questions on the official help forum at help.odoo.com.

[2018-01-12 11:07] #16891 closed

[2018-01-12 11:07] sbidoul commented on #16996
@Yenthe666 *Since it is not blocking point at the moment, it is considered to be improved in future release*

[2018-01-12 11:09] Yenthe666 commented on #16763
This was fixed at https://github.com/odoo/odoo/commit/8761cf57bbaced20170a720b523b7166cef502af

[2018-01-12 11:09] #16763 closed

[2018-01-12 11:12] Yenthe666 commented on #16996
I guess that handles everything and that this can be closed. Thanks for the feedback!

[2018-01-12 11:14] sbidoul commented on #16996
@Yenthe666 why closing? I've not been informed about a solution on any version.

[2018-01-12 11:14] Yenthe666 commented on #16700
@dreispt if I'm not mistaking this can be closed, no?

[2018-01-12 11:15] Yenthe666 commented on #16635
As stated by Olivier this was not a bug but default behaviour:

[2018-01-12 11:15] #16635 closed

[2018-01-12 11:17] sbidoul commented on #16700
@Yenthe666 no, the issue is still present.

`python setup.py install` does only a partial install without any addons except `base`.

[2018-01-12 11:17] Yenthe666 commented on #16996
@sbidoul well, if you prefer I can keep it open but I already know how this will end. The bug will be kept open and if somebody from Odoo ever picks this one up and improves it they won't bother looking back at this bug report so it'll stay open.
If it is on the OPW then there is a task for it in the main Odoo database so they should handle it from there.
Do you really want me to keep it open?

[2018-01-12 11:18] Yenthe666 commented on #16700
Oh I see.. @d-fence this might interest you by the way.

[2018-01-12 11:19] Yenthe666 commented on #16583
@sle-odoo and @jco-odoo any update on this one?

[2018-01-12 11:21] cierek opened #22204 "[9.0] Website Live Chat - pop up functionality does not work properly"
Impacted versions: 9.0

Steps to reproduce:
Go to Website Live Chat and create new channel. Scroll down to "Channel Rules" and ad "Auto popup" action.
Current behavior:
Just a chat button is displayed. There is no difference between "Auto popup" and "Display the button" actions.
Expected behavior:
Pop up with started conversation should open
Video/Screenshot link (optional):
![chat1](https://user-

[2018-01-12 11:21] sbidoul commented on #16996
OPW has closed it, I've not been given any pointer to track resolution on any version.

This scenario happens all too often:
- An issue is reported on stable.
- It's acknowledged but not considered bad enough to warrant a fix on stable
- It's closed and forgotten until someones rediscovers it...

So yes unless it's resoved in a later version, it should be kept open, IMHO.

[2018-01-12 11:22] Yenthe666 commented on #17073
Hi @LeDistordu,

You can create a custom module to achieve this.

Regards,
Yenthe

[2018-01-12 11:22] #17073 closed

[2018-01-12 11:23] Yenthe666 commented on #16996
Yep, I agree that this happens way too often.. I'll be discussing these things with some of the Odoo guys in february too.
@mart-e for now, perhaps you could introduce a quick fix in the master for this? Its not something big but let us be honest it is a neat improvement.

[2018-01-12 11:31] cierek commented on #22151
Read the comments above - Yenthee666 has provided the link to tutorial. He is also an author of very good script for auto install. Use simple steps:
1) Download the script:
wget https://raw.githubusercontent.com/Yenthe666/InstallScript/10.0/odoo_install.sh
2) Run the script:
./odoo_install.sh
3) Configure apache/nginx (or whatever else you are using)

Enjoy

[2018-01-12 11:42] Yenthe666 commented on #15466
Hi there,

This has been handled in the meanwhile:
https://github.com/odoo/odoo/blob/4eaef03df3b324e6b51aa205309b280536fc74e0/addons/sale_stock/models/sale_order.py#L64-L67

Regards,
Yenthe

[2018-01-12 11:42] #15466 closed

[2018-01-12 12:44] Yenthe666 commented on #16526
Hi @llacroix,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2018-01-12 12:44] #16526 closed

[2018-01-12 12:46] Yenthe666 commented on #16502
This has been handled & fixed in upper versions so this should have been closed.

[2018-01-12 12:46] #16502 closed

[2018-01-12 12:48] Yenthe666 commented on #15387
@adrienpeiffer what was the feedback on 707684? Has this been handled?

[2018-01-12 12:50] Yenthe666 commented on #15369
Hi @collex100,

Thank you for the bug report.
@JKE-be can we add a `t-if` around the button to only show it if you're a logged in user in order to improve this behaviour?

Regards,
Yenthe

[2018-01-12 12:53] Yenthe666 commented on #15371
Hi @collex100,

Thank you for your report.
If I'm not mistaking this is by design and the desired behaviour.
I believe the idea is to edit and change the e-mail template in the main language (English). If you then want to translate the e-mail template you should go to the translations and translate your just edited e-mail template there.
@JKE-be or @mart-e can one of you confirm that I'm correct?

[2018-01-12 12:56] Yenthe666 commented on #15368
Hi @collex100,

Thanks a lot for your report!
This bug has been fixed in the meanwhile. Please update your Odoo instance and it'll work fine.

Regards,
Yenthe

[2018-01-12 12:56] #15368 closed

[2018-01-12 12:56] mart-e commented on #17802
Could you please give more info on what you configured to show this amount with a currency?

This amount does not mean much as it is the sum of all total of sale orders but it may mix different currencies.

[2018-01-12 13:00] Yenthe666 commented on #15358
Hi @yueqin,

I've just followed your steps on the latest Odoo 10.0 and this issue has been handled in the meanwhile.
Please update your Odoo instance to the latest code and it should be fixed.

Regards,
Yenthe

[2018-01-12 13:00] #15358 closed

[2018-01-12 13:04] Yenthe666 commented on #15329
Hi @NeoPolus,

Are you talking about the JS file? As you can see it is no longer there:
https://github.com/odoo/odoo/blob/d0dbd570b628cc82183ddec6b78a49c88d4f12ef/addons/google_spreadsheet/static/src/js/search.js#L1-L49

If I'm wrong then please do add more information.

Regards,
Yenthe

[2018-01-12 13:04] mart-e commented on #15371
Hello,

Sorry but, indeed the editor works only in one language. You have to use the list of translations to change the content in other languages.
We works with a master reference and then, split the content in translatable chunks that you can translate manually.

[2018-01-12 13:04] #15371 closed

[2018-01-12 13:05] Yenthe666 commented on #15325
Hi,

This should have been handled in https://github.com/odoo/odoo/commit/025d9432a1dfc1db484e9e65d2748ed91d67ca26, https://github.com/odoo/odoo/commit/99deebe0154311a254141c54a8336b4a3f4add26, https://github.com/odoo/odoo/commit/283f8df95bf5d63dbbf5b8c109c996bbb7ed0f42 and https://github.com/odoo/odoo/commit/d5908083b4c4cdfb34bbdd8e381c1e419c094702
Please update your Odoo source code to the lates

[2018-01-12 13:05] #15325 closed

[2018-01-12 13:05] collex100 commented on #15371
This section has been removed / hidden in version 10. This section is no longer in the visible part.

[2018-01-12 13:09] Yenthe666 commented on #15289
Hi @JonathanStein,

Thanks a lot for your bug report.
As you've mentioned this has been fixed in 10 and up and as V9 is quite far towards the end of life this wouldn't be changed anymore as it can change custom development on instances.

Regards,
Yenthe

[2018-01-12 13:09] #15289 closed

[2018-01-12 13:15] Yenthe666 commented on #15219
Hi @Mohamedsharawy,

This has been fixed in the meanwhile as you can see in the latest 10.0 code:
https://github.com/odoo/odoo/blob/d0dbd570b628cc82183ddec6b78a49c88d4f12ef/addons/mrp/models/mrp_production.py#L486-L495
Please update your Odoo source code to the latest version in order to fix this.

Regards,
Yenthe

[2018-01-12 13:15] #15219 closed

[2018-01-12 13:16] Yenthe666 commented on #15160
Hi @yannickbh ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-01-12 13:16] #15160 closed

[2018-01-12 13:35] JKE-be commented on #15369
By design, but yes it could be removed.

Waiting for @fgi-odoo, the product owner of Website, validate it!

[2018-01-12 13:50] Yenthe666 commented on #14987
Hi @varzgalys,

Thank you for your report.
This actually does work (partially) as you can here:
![image](https://user-images.githubusercontent.com/6352350/34877714-7abbca76-f7a7-11e7-8beb-00154fc84956.png)
The other source term (Log an internal note) doesn't seem to show up though. @mart-e could you have a look? Filtering on the runbot:
![image](https://user-images.githubusercontent.com/6352350/34

[2018-01-12 14:01] sle-odoo commented on #22188
Hi,
So the supplier info is not updated and you get the price of the initial one, even if it is not applicable anymore? Or is just the description not updated but the prices are correct?

Regards

[2018-01-12 14:09] mart-e commented on #14987
Hmm no it is translated.
![screenshot-2018-1-12 agrolait - odoo](https://user-images.githubusercontent.com/564822/34878403-5bbec094-f7aa-11e7-9d6d-2378f9781391.png)

I guess, at that time the translations were not reloaded but no longer the case

![screenshot-2018-1-12 vertaalde uitdrukkingen - odoo](https://user-images.githubusercontent.com/564822/34878469-912431ec-f7aa-11e7-8919-10f02bbd8dbe.png

[2018-01-12 14:09] #14987 closed

[2018-01-12 14:15] auditum-sbl opened #22210 "web.base.url : automatic change"
Impacted versions:
Odoo 10

Steps to reproduce:
Settings -> Activate the developer mode -> technical -> Parameters -> system Parameters -> Edit web.base.url -> from: 127.0.0.0 -> to: https://www.davidsontv.de
(Online Website; Massmailing)

Current behavior:
The value of the web.base.url automatically changes back to 127.0.0.0 after one day. When that happens, the pictures disappear in a mass mail

[2018-01-12 14:22] Yenthe666 commented on #14858
As an update: it now kind off does this. If you click "Mark all read" they're all removed from the view but the counter isn't fully cleared:
![image](https://user-images.githubusercontent.com/6352350/34878240-ceee4a04-f7a9-11e7-8287-658ae80c7697.png)
I'm totally annoyed by these bugs and so are the customers so I made an OPW with number 805185

[2018-01-12 14:24] Yenthe666 commented on #22210
Hi @auditum-sbl,

This is default behaviour. This is because the `web.base.url` looks at the URL that you type in to access your Odoo.
If you want to preven this you either set the `web.base.url` parameter and then add a new parameter `web.base.url.freeze` or you add a `report.url` parameter.

Regards,
Yenthe

[2018-01-12 14:24] #22210 closed

[2018-01-12 14:26] Yenthe666 commented on #14987
@mart-e yes it works fine in Dutch etc. I totally forgot that if it is not translated that you would need to add the term manually or translate it on Transifex.
So, yes, fully handled.

[2018-01-12 14:27] Yenthe666 commented on #14773
Hi @gelodev,

This is 'logical' behaviour because the number is bigger than a numeric field can hold without crashing.
To fix this you could for example store it as text or a float instead of double.

Regards,
Yenthe

[2018-01-12 14:27] #14773 closed

[2018-01-12 14:28] lfr-opennet opened #22211 "TypeError: window.getComputedStyle(...) is null"
**Impacted versions:**
11.0 on Firefox (working on Chrome) - entreprise and community

**Steps to reproduce:**
On Firefox: Go to module "Point of Sale" then "Settings" then "Save"

**Current behavior:**
Return javascript error "TypeError: window.getComputedStyle(...) is null" and break the js and don't save at all.

**Expected behavior:**
Save and doesn't return an error

**Video/Screenshot link (

[2018-01-12 14:34] fmdl commented on #22188
The price is updated (it is correct).

The issue is : if you have a special product code for a specifique quantity, the description for the vendor is not correct (because during the seller info selection the quantity is not use).

[2018-01-12 14:35] Yenthe666 commented on #14695
Closing as there was never any feedback.

[2018-01-12 14:35] #14695 closed

[2018-01-12 14:40] Yenthe666 commented on #22211
Hi @lfr-opennet,

Thanks for the bug report.
This is indeed an issue. @ged-odoo could you have somebody from the JS team have a look?

Regards,
Yenthe

[2018-01-12 14:48] Yenthe666 commented on #14539
This has been fixed in the meanwhile:
https://github.com/odoo/odoo/blob/d76237e038ac379ae96e2c72848a013731c3de03/addons/sale_mrp/sale_mrp.py#L108

Function:
https://github.com/odoo/odoo/blob/10.0/addons/sale_mrp/sale_mrp.py#L60-L81

Regards,
Yenthe

[2018-01-12 14:48] #14539 closed

[2018-01-12 14:55] Yenthe666 commented on #14316
Should be handled at https://github.com/odoo/odoo/commit/d88dcde4f055ff3e89d4440f53ea1f36d9817b6d

[2018-01-12 14:55] #14316 closed

[2018-01-12 14:59] Yakulu commented on #14316
You're right @Yenthe666 but this commit refers to v11 branch. I guess it have not been applied on v10.

[2018-01-12 15:02] mart-e commented on #17802
My question was what did you do to display the currency on the kanban? Because it shouldn't as the amount is a mix of different currencies.

However, I agree it would be very nice to do it in the future. We probably need the same `amount_total_company_signed` field as we added [on the invoices](https://github.com/odoo/odoo/blob/d76237e038ac379ae96e2c72848a013731c3de03/addons/account/models/account

[2018-01-12 15:06] Yenthe666 commented on #14260
@sajadkk this is working fine in the meanwhile:
![image](https://user-images.githubusercontent.com/6352350/34881008-9609d510-f7b2-11e7-963b-325e0225b398.png)

[2018-01-12 15:06] #14260 closed

[2018-01-12 15:08] Yenthe666 commented on #14316
@Yakulu no indeed, this was only done against V11.

[2018-01-12 15:14] Yenthe666 commented on #14063
Hi,

This has been fixed in the meanwhile!
https://github.com/odoo/odoo/blob/26d3b77a1de2472a7ce69210dc6aef7f7a615e69/addons/web_view_editor/static/src/xml/view_editor.xml#L27-L42

Regards,
Yenthe

[2018-01-12 15:14] #14063 closed

[2018-01-12 15:16] Yenthe666 commented on #14062
Hey all,

As already answered: multiple tabs of the same URL will get you into troubles. This is known and not considered a bug. You'll either need to use private tabs or different browsers when you log in and off in multiple tabs.

Regards,
Yenthe

[2018-01-12 15:16] #14062 closed

[2018-01-12 15:19] Yenthe666 commented on #13831
All these issues with scrambled layout have been fixed quite a while ago. Nobody closed this though.

[2018-01-12 15:19] #13831 closed

[2018-01-12 15:21] #13732 closed

[2018-01-12 15:42] #15628 closed

[2018-01-12 15:48] alexkuhn commented on #21996
## 1. Binary field representation in list view

It was already possible to represent a binary field on a list view in a similar way to the form view:

![binary-list-view](https://user-images.githubusercontent.com/6569390/34882091-bb72ec9e-f7b5-11e7-8083-f58697549945.png)

![binary-list-view-arch](https://user-images.githubusercontent.com/6569390/34882097-c1a620cc-f7b5-11e7-8c9c-05a96334dffd.png)

[2018-01-12 19:25] tech006 opened #22213 "[10] payment_stripe: invoice paid from website charges 100 times the actual amount to pay"
Impacted versions:10.0

Steps to reproduce: customer pays open invoice with credit card from website

Current behavior: while the payment process appears to be correct, it actually charges amount*100

Expected behavior: the actual charged amount should be consistent with the amount confirmed during the payment process

Temporary fix to solve this issue:
change: amount:amount --> amount:amount/100

[2018-01-12 21:25] haconsult opened #22214 "Rounding / Formatting in Email Templates"
Impacted versions:
- v11

Steps to reproduce:
- Create a quotation amounting to 3,00 € net plus 19% Vat
- Amount total is 3,57 €
- Send this quotation by email

Current behavior:
- Email content is: "Here is the order confirmation [...] amounting in 3.5700000000000003 EUR"

Expected behavior:
- Email content is: "Here is the order confirmation [...] amounting in 3.57 EUR"

Note:
- Same behavior wi

[2018-01-12 23:43] Uwantec opened #22215 "[11.0]Bug image product and contact [SOLVED]"
Impacted versions: V. 11 CE

Steps to reproduce: Upload image product or contact

Current behavior: The image product/contact  is added correctly and is visible on the form but does not appear in a group view (articles)

Expected behavior: See the images displayed

Screenshot :

![bug](https://user-images.githubusercontent.com/18238678/34899599-3d87f406-f7fa-11e7-8583-70f5b3b3ef4a.png)

[2018-01-13 01:34] pedrobaeza commented on #22215
I think this has been fixed here: https://github.com/odoo/odoo/commit/d5e97eab8b2465c968f5d2abaaabf8c33641dee6

[2018-01-13 02:03] Uwantec commented on #22215
Thank you very much @pedrobaeza

[2018-01-13 03:19] jacobbubu commented on #20044
I've got the same problem on MacOS with Safari/Chrome/Firefox.

[2018-01-13 04:36] blaggacao commented on #22041
@sle-odoo I think choosing the `procure method` in regular pickings with probably a little wizard wrapper on the products is an elegant solution to keep the somewhat "difficult" procurement concept out of sight, while providing the same functionality. I think this is a good direction to explore and does provide exactly the same functionality. Procurement as it was should probably not come back, be

[2018-01-13 04:45] blaggacao commented on #15953
Nice there is (was) another one with foreign language formats, but I haven't it tracked down yet...

[2018-01-13 07:20] ChaosPower opened #22222 "[11.0] Error Uploading Company Logo on Save"
Impacted versions:
11.0 `3b80a059ff4305fe10c9b40a3118508b1b849ead`

Steps to reproduce:

Settings -> Companies -> Click on a Company -> Edit -> Highlight Company Logo Box -> Click Edit Icon -> Upload an Image

Current behavior:

Pop's out **Odoo Server Error** Dialog

[code]

Expected behavior:

Save and Show update logo

[2018-01-13 10:23] lem8r commented on #20416
Hello,

There is issue with ISR.
Scanline has to be printed with OCR-B font which is correct when you do this as HTML report:
![isr-html](https://user-images.githubusercontent.com/5942291/34905157-faf3fb32-f85b-11e7-9fc1-7fe352d9ac71.png)
And it is wrong for pdf report
![isr-pdf](https://user-images.githubusercontent.com/5942291/34905161-03cb1182-f85c-11e7-820e-ac939fafaeb0.png)
I suppose pdf asse

[2018-01-13 13:44] macdelacruz commented on #22064
Where is that Levels of Approval radio buttons in Community Edition?

![selection_099](https://user-images.githubusercontent.com/13848476/34906558-cbfa2b2e-f867-11e7-8708-432edf71206d.png)

[2018-01-13 14:50] Chlpn commented on #22222
yes we are also facing this error with zero customisation

[2018-01-13 16:58] gridworkz commented on #20822
Same here, Just installed fresh on 20180112.....it won't save my favicon.ico in website /settings.

2018-01-13 16:53:20,764 10107 INFO test.onlyerp.ca werkzeug: 127.0.0.1 - - [13/Jan/2018 16:53:20] "GET /web/webclient/qweb?mods=web,base,bus,web_tour,mail,sales_team,product,web_planner,portal,account,sale,account_invoicing,sale_management,web_editor,website,payment,website_payment,website_mail,webs

[2018-01-13 19:44] dreispt commented on #16700
I wish this could be fixed.

[2018-01-13 21:09] fmdl commented on #22222
I find where is come, this fix works, but is not the best : https://github.com/odoo/odoo/pull/22225

[2018-01-13 21:13] fmdl commented on #22222
@alexkuhn
it come from this commit https://github.com/odoo/odoo/commit/41fe7f9d1113d026b226b136b4477aaaf9f1f638#diff-d9fe4c084619a0a6aa0b72cbf30cd9fc

[2018-01-14 00:31] danger89 commented on #21671
For which modules are you thinking? E-commerce is apparently one. But also for accounting I guess or?

What is your vision, strategy and planning?

[2018-01-14 11:03] #21996 closed

[2018-01-14 17:06] flh opened #22226 "Automated action runs twice instead of once when invoice gets paid"
Hello,

On Odoo10, I've created two automated actions (base.action.rule) on the account.invoice model, which trigger when invoice state changes.

Both actions are set to run when the invoice record is modified ("on_write" event in base.action.rule).

Action A:
* filter precondition : [('state', '=', 'draft')]
* filter precondition : [('state', '=', 'open')]
* runs the following Python action : log

[2018-01-14 18:38] flh commented on #22226
I've actually found a workaround: watching changes on the "state" field of an invoice seems to work well except when the invoice moves to the "paid" state. Yet, in this case, the "reconciled" field (boolean) can be used (before: reconciled is false, after: reconciled is true) in the automated action. In this case, the automated action only runs once when the invoice is paid.

After trying to read

[2018-01-14 19:59] fmdl commented on #22222
Maybe this error in linked:
![image](https://user-images.githubusercontent.com/16716992/34920120-c7d9bf62-f96d-11e7-8b07-0669f0a161fa.png)

[2018-01-15 03:20] Uwantec opened #22230 "[11.0] Upload image "My company""
Impacted versions: 11.0

Steps to reproduce:
1. Fresh installation of Odoo under Ubuntu 16.04
2. Download the company image
3. Save

Current behavior:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/skinkeldesign/skinkeldesign-server/odoo/fields.py", line 947, in __get__
    value = record.env.cache.get(record, self)
  File "/skinkeldesign/skinkeldesign-server/odoo/api.py",

[2018-01-15 03:22] #22230 closed

[2018-01-15 03:22] #22215 closed

[2018-01-15 04:35] Guobower opened #22231 "[11.0] Could not save company logo"
Impacted versions:
master, 11.0 20180115
Steps to reproduce:
1、Edit company infomation ,upload a img for company logo
2、Click save button
Current behavior:
Error: Incorrect padding

Expected behavior:

Video/Screenshot link (optional):
![qq 20180115123353](https://user-images.githubusercontent.com/22065407/34927363-90eac748-f9f0-11e7-884a-13b634df92de.png)

[2018-01-15 06:49] Elkasitu commented on #22231
probably linked to #22222

[2018-01-15 07:20] Yenthe666 commented on #22222
Hi @ChaosPower,

Thanks a lot for your report. I've just tested this and I can confirm that it is a bug:
![image](https://user-images.githubusercontent.com/6352350/34931046-dfd0775a-f9cc-11e7-81a1-5a4e2fd9b16c.png)

@mart-e this is a bit odd though, this was fixed a while ago. The bug is quite similar to the previous one (cc @xmo-odoo)

Regards,
Yenthe

[2018-01-15 07:40] wtaferner commented on #22222
Very fresh and annoying :-) Thank you for fixing this asap ;-)

[2018-01-15 07:49] Yenthe666 commented on #22214
Hi @haconsult,

Thanks for the bug report! I was having this at a customer too but it doesn't seem to happen all the time. Thanks to you I found a reproducable & reportable report:
![image](https://user-images.githubusercontent.com/6352350/34931655-1bffb71a-f9d0-11e7-8ab4-5a2f51e27b3e.png)
I've reported this with an official bug report. OPW 805370

Regards,
Yenthe

[2018-01-15 07:51] Yenthe666 commented on #22231
@Elkasitu yep, most likely. The logo's seem to break a lot in V11 though, this is the third time? 😕

[2018-01-15 08:03] wtaferner commented on #22231
Not sure if it is just the logo...I think it is system wide...I was crashing into it with the res.users.

[2018-01-15 08:06] eLBati commented on #18845
@WohthaN you are right: some chart of accounts modules, like l10n_it, are not tested by runbot. This is something @odoo should take care of

[2018-01-15 08:07] rameshkarangiya opened #22234 "Invoice sequence is not maintained when POS sesssion is closed."
Impacted versions: 10.0

Steps to reproduce:

1. Enable Invoicing in POS.
2. Open a POS session.
3. Do some selling(few orders) enabling invoice in order
4. Close Session
5. Click "Validate Closing & Post Entries"

Current behavior:

- It skips few steps after closing session even if no gap and step=1 is set.
- This behavior is not consistent.

Expected behavior:

- Invoice number should be in seq

[2018-01-15 08:20] rossigee commented on #19668
This is starting to present a serious roadblock to progress with tracking my accounts right now, and I currently lack the time or Odoo development experience to address it myself, so I'm currently willing to fund development of this feature. Please contact me privately if you're capable and interested.

[2018-01-15 08:33] mart-e commented on #20044
Yes, we confirm the issue. I gave a try to fix it at #22169
Should be fixed soon.

[2018-01-15 08:44] Yenthe666 commented on #18155
Hi @sitimawaddah,

Thanks for your bug report.
Negative values are not working in combination with sequences and this is by design. Recently a small change was made so it automatically suggests `1` as first number. If you manually set it to negative it won't work though.
Odoo doesn't consider this a bug and, well, you shouldn't ever have negative sequences anyways?

Regards,
Yenthe

[2018-01-15 08:44] #18155 closed

[2018-01-15 08:47] mart-e commented on #19668
Hello,

Actually, it is a bit harder than I thought. The `decimal.precision` model is defined in the `decimal_precision` module, so is not available in `base`.
There is several solutions:
- adding the precision on res.currency in a different module (e.g. account)
- moving decimal_precision to base (submitted the feedback)
- move res.currency out of base (currently evaluated by R&D)

Solution 2 or

[2018-01-15 08:51] Yenthe666 commented on #17606
Hi @JanisJanis,

Thank you for your report. This issue has been fixed in the meanwhile, as you can see here:
![image](https://user-images.githubusercontent.com/6352350/34934113-90ea50b8-f9d9-11e7-8583-97b079bee7a8.png)
Please update your Odoo source code to the latest version to fix this.

Regards,
Yenthe

[2018-01-15 08:51] #17606 closed

[2018-01-15 08:52] Yenthe666 commented on #17533
Hey all,

This was answered by Martin. As suggested a PR for the docs is always welcome.
I'm closing this as everything is answered & you're always open to make a PR to improve this (in master).

Regards,
Yenthe

[2018-01-15 08:52] #17533 closed

[2018-01-15 08:55] ges7 commented on #22050
Would be nice, my client is not happy with this :(. I tried fixing the issue myself but I couldn't figure out why the datapoint seems to not get fetched in the view after the onchange... I don't have a lot of time to allow to this issue in my company.

[2018-01-15 08:55] Yenthe666 commented on #14035
Indeed - this looks like a lack of configuration.

[2018-01-15 08:55] #14035 closed

[2018-01-15 09:00] Yenthe666 commented on #13910
Fixed in the meanwhile:
![image](https://user-images.githubusercontent.com/6352350/34934468-da588034-f9da-11e7-900b-b8767c3b0fea.png)

[2018-01-15 09:00] #13910 closed

[2018-01-15 09:02] aliencrash commented on #19160
@chris001

1. This is the error https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3001.
2. I'm not using any settings. If you type wkhtmltopdf www.google.com google.pdf on your console you will get the error even with version 0.12.4. So it's not actually related to Odoo.

[2018-01-15 09:03] Yenthe666 commented on #13666
Hi there,

As there has been no feedback to Ray and as gdgellatly most likely answered your issue I'm closing this.

Regards,
Yenthe

[2018-01-15 09:03] #13666 closed

[2018-01-15 09:05] Yenthe666 commented on #13663
Hi there,

This was fully answered but never closed.
Don't forget that if you do make a PR for these kind of improvements that it should be against the master version.

Regards,
Yenthe

[2018-01-15 09:05] #13663 closed

[2018-01-15 09:10] Yenthe666 commented on #13637
Hey @matt454357,

In the meanwhile this has been changed in the meanwhile so it is not so unlogical:
![image](https://user-images.githubusercontent.com/6352350/34934867-41e7d050-f9dc-11e7-92c8-b545a0d8a002.png)
I believe this should be good?

Regards,
Yenthe

[2018-01-15 09:10] Yenthe666 commented on #13603
Hi @Leif0,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2018-01-15 09:10] #13603 closed

[2018-01-15 09:26] jbeficent commented on #22041
@sle-odoo Consider that the requesting person may not necessary be a stock user or stock manager. I find that the pattern of requesting entity vs servicing entity being different roles is missing across odoo.

For example, consider an R&D department that needs samples of product A. The person that needs a sample of the product is a lab guy, that has nothing to do with warehouse management. But he

[2018-01-15 09:52] haconsult commented on #22214
Sorry, closed by accident.

[2018-01-15 10:38] Elkasitu commented on #22222
should be working again as of 2a54886, I'll re-open the issue if it is not the case

[2018-01-15 10:38] #22222 closed

[2018-01-15 10:38] Elkasitu commented on #22231
should be working as of 2a54886

[2018-01-15 10:38] #22231 closed

[2018-01-15 10:52] alexkuhn commented on #21996
I have reverted the changes about bin_size set to true for binary fields, as it was the source of some annoying issues (see #22222).

Here's the commit for the revision: 41fe7f9d1113d026b226b136b4477aaaf9f1f638

To make it short, there were two problems:

1. the server also gets a bin size when it reads a binary field with `bin_size` set in the context (see https://github.com/odoo/odoo/issues/2222

[2018-01-15 10:55] mge-odoo commented on #9365
@qdp-odoo maybe more linked to your team?

[2018-01-15 11:00] wtaferner commented on #22231
@Elkasitu
Thx

[2018-01-15 11:09] flh commented on #22226
After some more testing, the suggested workaround does not seem to always work: I tested it on another Odoo instance and I still get duplicate automated action triggers.

[2018-01-15 11:12] Yenthe666 commented on #22231
Tested & seems to work fine! Thanks for all the great work @Elkasitu

[2018-01-15 11:13] Yenthe666 commented on #22222
Hi @Elkasitu,

I've just tested this and it seems to work fine!

Regards,
Yenthe

[2018-01-15 11:54] Halex21 commented on #22151
Ok, I'll try to reinstall all using the Yenthe666 coments guide. Thanks all.

[2018-01-15 12:02] giordano-ch commented on #21632
Hi @Yenthe666

Is the fix for Community Version still in progress or why is it only fixed for enterprise?
Community Version has the same problem, but the report is in the account module (template name: account.report_overdue)

Thanks in advance for your answer.

[2018-01-15 12:03] Yenthe666 commented on #21632
Hi @giordano-ch,

@nim-odoo can probably answer this better as he made the fix.

[2018-01-15 12:33] mge-odoo commented on #22152
Hi @kaerdsar

Thanks for reporting this issue.

I have taken a look and that's right, the widget got lost during the JS rewrite of the views (and widgets) because it is not used anymore in the core of Odoo (since v7.0).

In 10.0, this widget was only available in the list view and its only purpose was to display a green circle if the many2one was set and a red circle if the many2one was not set. I

[2018-01-15 13:03] vostokbike commented on #21986
Can confirm similar behaviour on [11CE]. It looks like the payment is not attaching to the SO at all.
IPN set as per above article.

[2018-01-15 13:09] qdp-odoo commented on #9365
@lap-odoo this is a feedback to consider... but not a bug report, so I'm closing this issue

[2018-01-15 13:09] #9365 closed

[2018-01-15 13:27] yostashiro commented on #22213
@tech006 You may check these commits:
- https://github.com/odoo/odoo/commit/b335ae0348ac74b2edb6d5ea56cc230e276ef283
- https://github.com/odoo/odoo/commit/ecda057e1166ea1fa9afa4e5b954e5c99aa80232

[2018-01-15 13:31] nle-odoo commented on #18771
Testing I had issue with frontend default language zh_CN, saving a master change would change the english translation. Removing the `_.omit` solved it:

[code]

As for this report:

I had no issue translating a blog title/subtitle/content in english (which use `saveElement` from translator.js which keep the language in context).

[2018-01-15 13:53] yelizariev commented on #21996
Ok, so bin_size has to be passed manually

[2018-01-15 14:13] Yenthe666 commented on #22213
@tech006 can you please try the commits that should fix this provided by @yostashiro? (Thanks @yostashiro!)

[2018-01-15 14:21] amir511 opened #22237 "Users can access everything despite they don't have permissions from a 3rd party mobile application called 'My Odoo'"
Impacted versions:10.0

Steps to reproduce:
Install 'My Odoo' from :
https://play.google.com/store/apps/details?id=org.bhc.android&hl=en
login to your odoo server using the ip and port number as well as the credentials of one of the already existing non-admin users on odoo

Current behavior:
User can view (and in some cases edit) data that is not permitted for him to view
Expected behavior:
User s

[2018-01-15 14:33] Tessnim opened #22239 "KeyError when changing database"
Impacted versions: odoo10

Steps to reproduce:
I work with many databases with the same database user: odoo. I have 4 databases for 4 different odoo projects. I left this project for a while without running and I was busy with other projects now when I tried to rerun this project I got this error:

2018-01-15 14:11:52,391 6156 CRITICAL myDatabase odoo.service.server: Failed to initialize database

[2018-01-15 14:45] JKE-be commented on #22237
Hi @amir511,

Thanks for your reporting.

"My Odoo" is not developed by Odoo S.A., so you can maybe try to get in touch with somebody from bhc here: https://bhc.be/page/contact

But to be honest, "My Odoo" is just a "PhoneClient" so if you get access to some documents, it is probably due to a misconfigured security rules on your server.

Wich kind of documents are available by error according to y

[2018-01-15 14:48] Yenthe666 commented on #12227
Hi @aek,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-01-15 14:48] #12227 closed

[2018-01-15 14:58] yelizariev commented on #21996
@alexkuhn is it possible to activate bin_size by default for tree views only? As I understand those issues are related for form view?

[2018-01-15 15:05] Yenthe666 commented on #11687
Hi @fenshuajiang,

Thank you for your report.
This issue has been fixed in the meanwhile as this field was removed from the `groupby` options:
![image](https://user-images.githubusercontent.com/6352350/34948584-dfaeef7c-fa0d-11e7-8731-fe05380402f2.png)

Regards,
Yenthe

[2018-01-15 15:05] #11687 closed

[2018-01-15 15:06] Yenthe666 commented on #11678
Hi @patriciorangles ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage yo

[2018-01-15 15:06] #11678 closed

[2018-01-15 15:09] alexkuhn commented on #21996
I will investigate to see if it is feasible, without having the above issues.

[2018-01-15 15:10] #22239 closed

[2018-01-15 15:17] Yenthe666 commented on #11677
Hi @aduijs,

Thanks a lot for your report.
I've just tried this on the latest Odoo 9 with an user named "Yenthe". I've booked timesheets for both my own user (Yenthe) and for a second user (James) and it all works fine:
![image](https://user-images.githubusercontent.com/6352350/34949155-970f705a-fa0f-11e7-9ce3-e323854746d7.png)
Please update your Odoo source code to fix this.

Regards,
Yenthe

[2018-01-15 15:17] #11677 closed

[2018-01-15 15:21] Yenthe666 commented on #11664
Hi @phyziqx,

Thanks a lot for your bug report.
This issue has been fixed in the meanwhile, as you can see here:
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/sale_stock/sale_stock.py#L270-L275

Please update your code to the latest version in order to fix this.

Regards,
Yenthe

[2018-01-15 15:21] #11664 closed

[2018-01-15 15:24] Yenthe666 commented on #11938
I'm closing this bug report as there has never been any feedback.

[2018-01-15 15:24] #11938 closed

[2018-01-15 15:26] Yenthe666 commented on #12020
Hi @ansoldado ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-01-15 15:26] #12020 closed

[2018-01-15 15:27] Yenthe666 commented on #12026
Hi @tthicham,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2018-01-15 15:27] #12026 closed

[2018-01-15 15:32] Yenthe666 commented on #11650
Hi @fenshuajiang,

Thank you for the suggestion.
In the formview this same field however is shown and there you input the exact date. In the form we're showing the datetime including day and hours, minutes, seconds. If this behaviour would be changed all the formviews would be messed up so the current option is the better of the both.

Regards,
Yenthe

[2018-01-15 15:32] #11650 closed

[2018-01-15 15:34] Yenthe666 commented on #11541
@Gorash did you ever get around to this?

[2018-01-15 15:39] Yenthe666 commented on #11551
Hi @elevationO,

Thanks a lot for your report.
I've just tested this and it works fine now. An example purchase order:
![image](https://user-images.githubusercontent.com/6352350/34950107-7abecdc6-fa12-11e7-9131-01ea0f0ee701.png)
The result after making the bill from the PO:
![image](https://user-images.githubusercontent.com/6352350/34950134-8d0287ac-fa12-11e7-9006-319d9aca1d58.png)
P.S: Notice tha

[2018-01-15 15:39] #11551 closed

[2018-01-15 15:44] Yenthe666 commented on #11509
Hi @stephenbiit,

Thanks a lot for your bug report.
I've just tested this and the behaviour of this view has changes slightly. Now you won't get any error behind your dialog if you're creating a new customer on the fly.
Please update your Odoo code to the latest source if you haven't fixed this yet.

Regards,
Yenthe

[2018-01-15 15:44] #11509 closed

[2018-01-15 15:45] Yenthe666 commented on #11454
@flotho are you still facing this one?

[2018-01-15 15:49] Yenthe666 commented on #11447
Hey guys,

In Odoo itself this should be fixed by now. An example for an invalid token to try and trigger this:
![image](https://user-images.githubusercontent.com/6352350/34950654-12741896-fa14-11e7-8b8c-d0be67e0f01e.png)
Please update your Odoo source code to fix this.

Regards,
Yenthe

[2018-01-15 15:49] #11447 closed

[2018-01-15 15:51] ged-odoo commented on #22050
@ges7 this issue is not forgotten... this is the kind of bug I consider high priority. However, I was stuck with some other issues/tricky bugfixes.  But this one will be done someday

[2018-01-15 16:25] lap-odoo commented on #9365
@qdp-odoo Yep, added in task 33755

[2018-01-15 16:27] chris001 commented on #19160
@aliencrash
I just tested this exact command on ubuntu 16.04 while logged in as `root` (not that it should matter which user you're running it as) and it worked.
Which OS you using?
Which version `wkhtmltopdf`?
Downloaded `wkhtmltopdf` from which link?
[code]

[2018-01-15 16:36] danger89 opened #22243 "[11.0] Could not re-install Stock module"
Impacted versions: 11.0-20180115

Steps to reproduce: Setup Odoo database with demo data loaded. And remove the `Purchase Management` and/or `Inventory Management` App. And try to install it again.

Current behavior: Installation is not possible anymore (crashes).

Inventory Management App gives:
[code]

Purchase Management App I get:
[code]

Expected behavior: Installation of **any** Odoo App sho

[2018-01-15 16:43] aliencrash commented on #19160
I upgraded again the openssl-devel library to version 1.1
I'm using fedora 27.

wkhtmltopdf 0.12.4 (with patched qt)

wkhtmltopdf www.google.com google.pt
Loading pages (1/6)
QSslSocket: cannot resolve CRYPTO_num_locks                  ] 10%
QSslSocket: cannot resolve CRYPTO_set_id_callback
QSslSocket: cannot resolve CRYPTO_set_locking_callback
QSslSocket: cannot resolve sk_free
QSslSocket: cannot

[2018-01-15 17:01] chris001 commented on #19160
@aliencrash
Gathered from https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3001
It appears this is the fix for fedora, because `QT` inside `wkhtmltopdf` requires ssl 1.0 :

`dnf install compat-openssl10-devel.x86_64 --allowerasing`
The new version of `QT`, 5.10, which will be added to the new version of `wkhtmltopdf` soon, should run without crashing on popular versions of `openssl`.

[2018-01-15 18:33] tech006 commented on #22213
@yostashiro @Yenthe666 Your suggested fix has been committed on August 2017. Our issue has been found with the "payment_stripe" add-on that we downloaded 3 days ago (January 2018) from this github ODOO branch 10.0. Please help understand how we can help. Thanks.

[2018-01-15 21:20] minos84 opened #22244 "[Odoo 11] Due payment report not impacted when an invoice is partially paid"
Impacted versions:
Odoo 11
Steps to reproduce:
1- Create a customer
2- Sell a product to this customer
3- Deliver the product, create an invoice
4- Pay partially the amount of the invoice
5- Print the invoice then open it ==> The payment and the balance are displayed in the PDF File
6- Click on the customer ==>The customer form is displayed
7- Under "Print", click on "Due Payments" ==> The PDF is

[2018-01-15 23:18] danger89 commented on #22214
I know transifex.com contains the translated strings, but the origin (English) string is stored within this repo?

[2018-01-15 23:51] danger89 commented on #22214
@haconsult Could you test my change in my PR, which adds a round function to addons/account/models/account_invoice.py file?

Or download the [patch file](https://patch-diff.githubusercontent.com/raw/odoo/odoo/pull/22247.patch).

[2018-01-16 03:26] ChaosPower commented on #22222
Thanks for the quick fix!

[2018-01-16 03:49] gdgellatly opened #22252 "11.0 Purchase add_supplier_to_product erroneously rounds to currency digits rather than "Product Price""
Impacted versions: 11.0

Steps to reproduce:
Set Product Price accuracy to 5 places
Create a purchase order for a product to a new supplier and enter price at 3.14561 / unit

Current behavior:
Supplier info entry rounded to 3.15

Expected behavior:
Supplier Info entry is 3.14561

Video/Screenshot link (optional):

[2018-01-16 07:41] Yenthe666 commented on #22214
@danger89 absolutely not a fix for the issue.
1) Odoo uses their own rounding function (float_round)
2) You should use a widget instead of a `round()`

I've made an OPW so Odoo will fix this anyways.

[2018-01-16 07:52] Yenthe666 commented on #22213
Hi @tech006,

If you have an enterprise version of Odoo then create a bug report at odoo.com/help too, then it gets a priority.
Otherwise you'll need to wait a bit I guess.

Regards,
Yenthe

[2018-01-16 07:57] Yenthe666 commented on #13185
Closing as there has been no response and as this was fixed.

[2018-01-16 07:57] #13185 closed

[2018-01-16 08:00] Yenthe666 commented on #13148
@sle-odoo did you ever get around to this?

[2018-01-16 08:01] Yenthe666 commented on #13123
Hi @Peis7,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2018-01-16 08:01] #13123 closed

[2018-01-16 08:04] Yenthe666 commented on #13111
@odony this still isn't handled/fixed. Would you accept a PR to change `e.value` to `e.name`? I'll make the PR then.

[2018-01-16 08:08] Yenthe666 commented on #13057
As there has been no feedback on all the suggested answers and questions I'm closing this one. Thanks for all the answers and suggestions guys!

[2018-01-16 08:08] #13057 closed

[2018-01-16 08:09] Yenthe666 commented on #13014
Closing as there has been no feedback on the questions from @JKE-be.

[2018-01-16 08:09] #13014 closed

[2018-01-16 08:12] sle-odoo commented on #13148
nope, ping @csnauwaert

[2018-01-16 08:12] Yenthe666 commented on #12702
Closing as there has been no response and as it should be fixed.

[2018-01-16 08:12] #12702 closed

[2018-01-16 08:13] Yenthe666 commented on #12692
Hi @tsartas,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-01-16 08:13] #12692 closed

[2018-01-16 08:13] Yenthe666 commented on #12577
Hi @vuducnamcs,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-01-16 08:13] #12577 closed

[2018-01-16 08:14] Yenthe666 commented on #12560
Closing as there has been no answer/feedback on the questions.

Regards,
Yenthe

[2018-01-16 08:14] #12560 closed

[2018-01-16 08:16] Elkasitu commented on #22243
Can confirm the issue, it is mostly related to the `stock` module, `purchase` breaking is just a byproduct of it.

I'll look into it as soon as I can.

[2018-01-16 08:23] Elkasitu commented on #21996
@yelizariev @alexkuhn if it's for performance reasons only, I'd suggest doing it in master and not in a stable branch :^)

[2018-01-16 08:26] Yenthe666 commented on #12306
Hey @holdenrehg,

If you still face this problem then please do use your enterprise license and report it at odoo.com/help.
I'll close this one as there is no way to reproduce at the moment (and it has been quite for over a year).
P.S: Hope you're doing well!

Regards,
Yenthe

[2018-01-16 08:26] #12306 closed

[2018-01-16 08:27] Yenthe666 commented on #12268
Hi @jalzaga,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2018-01-16 08:27] #12268 closed

[2018-01-16 09:00] vostokbike commented on #22243
Can confirm the same behaviour for CRM, Invoicing and Sales modules.

[2018-01-16 09:04] amir511 commented on #22237
@JKE-be , Thanks for your reply
Actually although the application is third party but I believe this is a security issue with odoo
If we create a user and gave him 'user' permissions in one of these modules:
stock card, expenses, timesheet and sales
Then logged in from the mobile app, the user will be able to access with administrative privileges despite he is not an admin.

[2018-01-16 09:11] JKE-be commented on #22237
Ok, so we agree, the Third party is useless in your bug report...
If it is confirmed, you should be able to reproduce the issue on runbot without any other ThirdParty Apps.

Please give an explicit example with the demo data on runbot.
Which document should be not visible according to you once you give the right of "expenses' to a new user e.g.?

[2018-01-16 09:14] Elkasitu commented on #22243
@vostokbike I'm sorry but that's just not true, can you reproduce it on the [runbot](runbot.odoo.com)?

[2018-01-16 09:36] qb7 commented on #1493
May I ask if this problem is resolved?

[2018-01-16 09:36] Yenthe666 commented on #22243
@Elkasitu I've edited your link as it was wrong. Tip: an URL has to have `http://` in it or Github will make it look like `http://github.com/runbot.odoo.com`.

[2018-01-16 09:41] Elkasitu commented on #22243
@Yenthe666 whoops, thanks 😇

[2018-01-16 09:42] Yenthe666 commented on #11390
Hi @jalzaga,

Thanks for the report.
This is already fixed in V10 and up atleast:
https://github.com/odoo/odoo/blob/ef8cd11a6be25cbb5288e8ab88b4aafa2fa0119c/odoo/addons/base/res/res_company.py#L166

Regards,
Yenthe

[2018-01-16 09:42] #11390 closed

[2018-01-16 09:44] Yenthe666 commented on #11375
Hi @Shephiroth,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-01-16 09:44] #11375 closed

[2018-01-16 09:45] Yenthe666 commented on #11336
Hi @Shephiroth,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-01-16 09:45] #11336 closed

[2018-01-16 09:47] Yenthe666 commented on #11261
I'm closing this bug report as there has been no response on the questions.

Regards,
Yenthe

[2018-01-16 09:47] #11261 closed

[2018-01-16 09:47] Yenthe666 commented on #11348
Hi @Shephiroth,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2018-01-16 09:47] #11348 closed

[2018-01-16 09:49] Yenthe666 commented on #11257
Hi @holdenrehg,

This bug has been fixed quite a while ago but your bug report was never closed.
If you haven't updated your source code then please do so.
P.S: Hi again! 😉

Regards,
Yenthe

[2018-01-16 09:49] #11257 closed

[2018-01-16 09:50] Yenthe666 commented on #11243
Hi all,

As mentioned by @krueger80 these kind of questions are for the help forum (and I see you did post it there too).
The Github bug tracker is only for bugs in the official Odoo code and nothing else.

Regards,
Yenthe

[2018-01-16 09:50] #11243 closed

[2018-01-16 09:51] Yenthe666 commented on #11232
Hi @bene1505,

Thanks a lot for your bug report.
This is however default (and intended) behaviour. If you would want to see all the result you should first do a search, then remove it and then you'll see all records.
The reason why this is done is for performance, so only the very first 160 records are shown.

Regards,
Yenthe

[2018-01-16 09:51] #11232 closed

[2018-01-16 09:55] Yenthe666 commented on #11206
Hi @gigidn,

Thanks a lot for your bug report.
I've just tried to reproduce this on the latest Odoo V9 but it seems to work fine out of the box now.
I'm closing this bug report as I can't reproduce it anymore. If you can still reproduce it on an official Odoo instance (at runbot.odoo.com) then please comment back with a video and/or more steps and I'll look into this again.

Regards,
Yenthe

[2018-01-16 09:55] #11206 closed

[2018-01-16 09:57] Yenthe666 commented on #11137
Hi @macdelacruz,

Thanks a lot for your bug report.
I've just tried to reproduce it but it works fine.
The company:
![image](https://user-images.githubusercontent.com/6352350/34982848-f450736c-faab-11e7-85b8-612463d65e1b.png)
The user I added to the company:
![image](https://user-images.githubusercontent.com/6352350/34982891-0e629cbc-faac-11e7-9991-755033abda14.png)

Please update your Odoo source

[2018-01-16 09:57] #11137 closed

[2018-01-16 09:58] Yenthe666 commented on #11122
Hi @edouard-lopez,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 7 & Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you t

[2018-01-16 09:58] #11122 closed

[2018-01-16 09:59] Yenthe666 commented on #11120
@mart-e I believe this is still valid & across all versions.

[2018-01-16 10:00] Yenthe666 commented on #11113
Hi @elevationO,

Thanks a lot for your bug report.
I've just tested this with the latest Odoo 9.0 and it works fine out of the box.
Please update your Odoo to the latest source code in order to fix this.

Regards,
Yenthe

[2018-01-16 10:00] #11113 closed

[2018-01-16 10:06] Yenthe666 commented on #11030
Hi @kmetaxas,

Thanks a lot for your bug report.
In the meanwhile this code has changed and this issue is no longer reproducable as you can see here:
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/account/report/account_aged_partner_balance.py#L130-L167

Please update your Odoo source code to the latest version if you can still reproduce this.

Regards,
Yenthe

[2018-01-16 10:06] #11030 closed

[2018-01-16 10:09] Yenthe666 commented on #11022
Hi @laurentmeuwly,

Thanks a lot for your bug report.
This behaviour is still the case.
@jem-odoo was this done by design / with a reason or should we perhaps improve this?

Regards,
Yenthe

[2018-01-16 10:12] Yenthe666 commented on #11019
Hi @jco-odoo,

Are you talking about this line?
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/stock/stock_view.xml#L902
Would you still accept a PR that changes these states? If so I'm happy to make it in order to fix this one and save you some time.

Regards,
Yenthe

[2018-01-16 10:16] Yenthe666 commented on #11018
Hi @yostashiro,

Thanks a lot for your bug report.
I've just tried to reproduce this. The new company:
![image](https://user-images.githubusercontent.com/6352350/34983636-821fccc2-faae-11e7-8bae-73c5bae12dde.png)

The new user (assigned to the new company):
![image](https://user-images.githubusercontent.com/6352350/34983627-7a9dae88-faae-11e7-927c-e9a62e0c0068.png)

Going to Sales > Sales > Produc

[2018-01-16 10:16] #11018 closed

[2018-01-16 10:16] Yenthe666 commented on #11016
Hi @dumblob,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2018-01-16 10:16] #11016 closed

[2018-01-16 10:19] Yenthe666 commented on #10966
Closing as we both cannot reproduce it and as there has been no response.

[2018-01-16 10:19] #10966 closed

[2018-01-16 10:22] Yenthe666 commented on #10955
Hi @iju-odoo,

Thanks a lot for your report.
This is actually still the case in V9. While it is not a breaking bug it could be improved.
![image](https://user-images.githubusercontent.com/6352350/34983967-8ecc791a-faaf-11e7-99b0-75e47cdb3903.png)

@mart-e could we improve this? (not sure who to ping for this one)

Regards,
Yenthe

[2018-01-16 10:23] Yenthe666 commented on #10947
@d-fence this might still be of interest for you.

[2018-01-16 10:23] Yenthe666 commented on #10943
Hi @forvas ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2018-01-16 10:23] #10943 closed

[2018-01-16 10:26] Yenthe666 commented on #10916
Hi @flotho,

Thanks a lot for your report.
I've just tested this for both product categories and website product categories and it works fine.
Product categories:
![image](https://user-images.githubusercontent.com/6352350/34984109-07733c3c-fab0-11e7-80a0-3c3163fb0adc.png)

Website product categories:
![image](https://user-images.githubusercontent.com/6352350/34984124-13ab0f7a-fab0-11e7-9e69-54c596

[2018-01-16 10:26] #10916 closed

[2018-01-16 10:31] d-fence commented on #10947
I think that this one should be closed as it's for 8.0

[2018-01-16 10:32] danger89 commented on #22214
@Yenthe666 Take a look at the **new** Python 3 round function, maybe that could be a new float_round implementation?

[2018-01-16 10:35] Yenthe666 commented on #10888
Hi @antonybrugger,

Thanks a lot for your bug report.
I've just tested this and it is actually still the case.
The example quote:
![image](https://user-images.githubusercontent.com/6352350/34984450-4f3f70b6-fab1-11e7-81cb-9c68c5f076f4.png)

The portal user his portal:
![image](https://user-images.githubusercontent.com/6352350/34984394-1cabfde0-fab1-11e7-9249-f82a29b68963.png)

The backend portal:

[2018-01-16 10:36] Yenthe666 commented on #10947
Good catch, I didn't find any version anywhere.  Judging by the commit on OCB, indeed, this is for V8 and should be closed.
Sorry for bothering you 😉

[2018-01-16 10:36] #10947 closed

[2018-01-16 10:36] Yenthe666 commented on #22214
@danger89 that call is up to Odoo itself honestly. @mart-e for your interest.

[2018-01-16 10:37] jigneshept opened #22267 "TypeError: decoding with 'base64' codec failed (TypeError: expected bytes-like object, not str)"
**Impacted versions:** Odoo 11.0 (Community Edition)

**Steps to reproduce:** Take latest Odoo v11 and try to set image in the company.

**Current behavior:**

**Expected behavior:**
Save and doesn't return an error

**Video/Screenshot link (optional):**
![screenshot from 2018-01-16 16-06-50](https://user-images.githubusercontent.com/20922072/34984563-5cc28ed2-fad7-11e7-98e3-f3583c7432f8.png)

[2018-01-16 10:47] Yenthe666 commented on #10883
Hi @rruebner,

Thanks a lot for your bug report.
This is actually still the case in the latest V9. @JKE-be for your interest!

Regards,
Yenthe

[2018-01-16 10:51] Yenthe666 commented on #22267
Hi @jigneshept,

Thanks a lot for your report.
This has actually been fixed yesterday (in https://github.com/odoo/odoo/commit/2a5488619da22cfd901963dd141e722b195e82ab)
Please update your Odoo source code and try again 😉

Regards,
Yenthe

[2018-01-16 10:51] #22267 closed

[2018-01-16 10:52] Yenthe666 commented on #10879
Hey all,

I can no longer reproduce this issue, it should have been fixed in the meanwhile.
Please update your Odoo to the latest source code to fix this.

Regards,
Yenthe

[2018-01-16 10:52] #10879 closed

[2018-01-16 10:55] Yenthe666 commented on #10836
Hi @fanliugen,

This behaviour has been fixed in the meanwhile. An example on the latest Odoo 9:
![image](https://user-images.githubusercontent.com/6352350/34985384-1f7eecf0-fab4-11e7-8010-2846de88688f.png)

Please update your Odoo source code if you still face this problem.

Regards,
Yenthe

[2018-01-16 10:55] #10836 closed

[2018-01-16 10:57] jigneshept commented on #22267
@Yenthe666 It's working now!

Thanks for your information.

[2018-01-16 10:57] Yenthe666 commented on #22267
Good to hear! Best of luck.

[2018-01-16 11:00] Yenthe666 commented on #10801
Hey all,

We can't reproduce this issue anymore.
Please update your Odoo source code to the latest version in order to fix this.

Regards,
Yenthe

[2018-01-16 11:00] #10801 closed

[2018-01-16 12:16] Yenthe666 commented on #10791
Hi @AppliedMedicalEurope,

Thanks a lot for your report.
This issue has been fixed in the meanwhile so please update your Odoo source code if you still face this issue.

Regards,
Yenthe

[2018-01-16 12:16] #10791 closed

[2018-01-16 12:19] Yenthe666 commented on #10756
Hey all,

This field is in the view but does require developer mode (as mentioned by @elevationO):
![image](https://user-images.githubusercontent.com/6352350/34988716-ee02bd4e-fabf-11e7-8b99-7d9a05e307d2.png)

Regards,
Yenthe

[2018-01-16 12:19] #10756 closed

[2018-01-16 12:20] Yenthe666 commented on #10748
Hi @ferdinand10,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2018-01-16 12:20] #10748 closed

[2018-01-16 12:23] Yenthe666 commented on #10813
Hi @mteok,

Thanks a lot for your bug report.
This has been resolved in the meanwhile:
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/purchase/purchase.py#L860
Please update your source code if you still face this issue.

Regards,
Yenthe

[2018-01-16 12:23] #10813 closed

[2018-01-16 12:26] Yenthe666 commented on #10774
Hi @corentinpb,

Thanks for the bug report.
This is however nothing we can/want to change in a stable version.
As it works tighly with the companies & accounting related info the dependency is fine.

Regards,
Yenthe

[2018-01-16 12:26] #10774 closed

[2018-01-16 12:27] danger89 commented on #22243
@vostokbike  Invoicing (Accounting), Repair Management as well as Sales Management seems to work to uninstall and install. I could not reproduce that problem, but only Purchase Management & Inventory Management are really failing.

[2018-01-16 12:30] Yenthe666 commented on #10718
Hi @jonathanf,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2018-01-16 12:30] #10718 closed

[2018-01-16 12:33] jco-odoo commented on #11019
Check the line below.  It is the same, but with a different label.

[2018-01-16 12:33] #11019 closed

[2018-01-16 12:34] Yenthe666 commented on #11019
Awesome - so this was already fixed. Thanks.

[2018-01-16 12:51] Yenthe666 commented on #10629
Closing as there has been no feedback in a long, long, time.

[2018-01-16 12:51] #10629 closed

[2018-01-16 12:55] Yenthe666 commented on #10610
Hi @bimajatiwijaya,

Thanks a lot for your report.
This issue has been resolved in the meanwhile as you can see here:
https://github.com/odoo/odoo/blob/9.0/addons/stock/stock.py#L3974-L3975

Please update your Odoo source code if you still face this issue in order to fix it.

Regards,
Yenthe

[2018-01-16 12:55] #10610 closed

[2018-01-16 12:57] Yenthe666 commented on #10632
Hi @krueger80,

Thanks a lot for your bug report!
This is actually still the case in the latest Odoo 9.0:
![image](https://user-images.githubusercontent.com/6352350/34990110-29a00ad2-fac5-11e7-8a8f-eed69a59e891.png)
@nle-odoo I see you've made commits to odoo/dev but couldn't find a commit to odoo/odoo itself. Can you check?

[2018-01-16 12:59] Yenthe666 commented on #10617
Hi @morphace,

Thanks a lot for your bug report.
All these issues have been fixed in the meanwhile:
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/website_form/controllers/main.py#L217-L227
Please update your Odoo source code to the latest version if you still face this issue.

Regards,
Yenthe

[2018-01-16 12:59] #10617 closed

[2018-01-16 13:01] Yenthe666 commented on #10604
Hi there,

How the flow currently works is actually desired behaviour.
If you still find this incorrect or if you can explain into detail why you find this a breaking problem then please do create a new bug report with more details.

Regards,
Yenthe

[2018-01-16 13:01] #10604 closed

[2018-01-16 13:02] Yenthe666 commented on #10572
@nim-odoo I see you've self assigned this, did you ever solve it? (this would be a pain to reproduce..)

[2018-01-16 13:29] Yenthe666 commented on #10596
Hi @JawidC,

Thanks a lot for your report.
It has already been fixed partially at https://github.com/odoo/odoo/commit/bfbaaa7d1319d109018b4e77ff930dadb8211cee#diff-c935af95c0540fa947cf91a105585dd4
This corrects the iso-code.
As for the dialing code: I've just made a PR to fix this at https://github.com/odoo/odoo/pull/22272

[2018-01-16 13:35] Yenthe666 commented on #10686
Hi @ppa-odoo,

Thanks a lot for the bug report.
I've just tried this on the latest Odoo V9 and this issue has been fixed in the meanwhile. As you can see the code also changed:
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/purchase/purchase.py#L858-L860
Please update your Odoo source code in order to fix this issue.

Regards,
Yenthe

[2018-01-16 13:35] #10686 closed

[2018-01-16 13:35] Yenthe666 commented on #10707
Hi @paulius-sladkevicius,

Thanks a lot for the bug report.
I've just tried this on the latest Odoo V9 and this issue has been fixed in the meanwhile. As you can see the code also changed:
https://github.com/odoo/odoo/blob/11c73cd0aa2ff9cbfde8e5eebf3f22dfa1c805f1/addons/purchase/purchase.py#L858-L860
Please update your Odoo source code in order to fix this issue.

Regards,
Yenthe

[2018-01-16 13:35] #10707 closed

[2018-01-16 13:44] Yenthe666 commented on #10549
Hi @leopard7777777,

Thanks a lot for the bug report.
This issue has been fixed in the meanwhile though! Please update your Odoo source code and it'll be fixed.

Regards,
Yenthe

[2018-01-16 13:44] #10549 closed

[2018-01-16 13:47] Yenthe666 commented on #10543
Hi @kittiu,

Thanks a lot for the bug report.
This bug has been fixed in the meanwhile though:
![image](https://user-images.githubusercontent.com/6352350/34992013-f59dd74e-facb-11e7-90c1-cf850ce1d16d.png)

Please update your Odoo source code in order to fix this issue on your Odoo.

Regards,
Yenthe

[2018-01-16 13:47] #10543 closed

[2018-01-16 13:48] nle-odoo commented on #10632
Hi @Yenthe666

The PR was https://github.com/odoo/odoo/pull/11280 and this has been refused two years ago mainly for the reason given: seeing the difference between browser it seems we should aim to have only one given access button per page (eg. so only one button with CTRL + A where this applied).

Thus in this instance we can't (at least accross main browser) have several buttons "CTRL + S" tha

[2018-01-16 13:58] Yenthe666 commented on #10632
Hi @nle-odoo,

Thanks a lot for the very fast and detailed answer!
@krueger80 I'm sorry but I guess this answers everything. Nothing that we can do to make it work correctly cross-browser.

Regards,
Yenthe

[2018-01-16 13:58] #10632 closed

[2018-01-16 14:02] Yenthe666 commented on #10464
Hi @stephaniemillet,

I guess you could find a way around it with the invoicing options or with custom development:
![image](https://user-images.githubusercontent.com/6352350/34992677-3183e120-face-11e7-8fca-fc2f7e71e2f6.png)

As V9 is a stable version this won't/can't be changed.

Regards,
Yenthe

[2018-01-16 14:02] #10464 closed

[2018-01-16 14:03] Yenthe666 commented on #10432
Hi @PW0131,

In the meanwhile this command will work fine out of the box.

Regards,
Yenthe

[2018-01-16 14:03] #10432 closed

[2018-01-16 14:07] paulius-sladkevicius commented on #10707
Hi @Yenthe666, thanks to pointing out this!

[2018-01-16 14:08] Yenthe666 commented on #10431
Hi @falinwa,

Thanks for your report.
Can you please add more information about how to reproduce this issue? Can you still reproduce this in Odoo 9?

Regards,
Yenthe

[2018-01-16 14:10] Yenthe666 commented on #10707
You're welcome!

[2018-01-16 14:15] Yenthe666 commented on #10422
Yep - the answer from @artaf will work.

[2018-01-16 14:15] #10422 closed

[2018-01-16 14:15] Yenthe666 commented on #10413
Hi @diezcode,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2018-01-16 14:15] #10413 closed

[2018-01-16 14:27] csnauwaert commented on #13148
Hello,

Seems to me that this commit might solve the issue: https://github.com/odoo/odoo/commit/ebf3b3d7a8b807ef3ad8aa50217f110001fcebfa

Therefore I'm closing this issue, feel free to reopen it if you still have the problem.

Best regards

[2018-01-16 14:27] #13148 closed

[2018-01-16 14:31] #10596 closed

[2018-01-16 15:17] Yenthe666 commented on #10362
Hi @ahmedkhak,

This was answered at https://www.odoo.com/forum/help-1/question/odoo-hide-show-button-on-function-call-95325
Keep in mind that the Github tracker is only for bugs in the official code.

Regards,
Yenthe

[2018-01-16 15:17] #10362 closed

[2018-01-16 15:23] Yenthe666 commented on #10359
Hi @bringsvor,

Thanks a lot for the report.
This issue has been fixed in the meanwhile so please update your Odoo source code in order to fix this locally.

Regards,
Yenthe

[2018-01-16 15:23] #10359 closed

[2018-01-16 15:26] odony commented on #13111
@Yenthe666 sure :)

[2018-01-16 15:27] Yenthe666 commented on #10348
Hi @vro-odoo,

Thanks a lot for your report.
This issue has been solved in the meanwhile so please update your local Odoo instance in order to fix this.

Regards,
Yenthe

[2018-01-16 15:27] #10348 closed

[2018-01-16 15:38] Yenthe666 commented on #13111
@odony please see https://github.com/odoo/odoo/pull/22276 - we can then forward it to V10 & V11 (where we should change `openerp` to `odoo` for the tools).

[2018-01-16 15:47] Yenthe666 commented on #10199
I believe this was all handled & fixed (as @wtaferner pointed out).
Don't hesitate to comment / reopen if you can still reproduce it.

[2018-01-16 15:47] #10199 closed

[2018-01-16 15:50] Yenthe666 commented on #10152
Hi @gilbert-yuan,

Thanks a lot for your bug report.
This issue should have been fixed in the meanwhile - please update your Odoo to the latest source code!

Regards,
Yenthe

[2018-01-16 15:50] #10152 closed

[2018-01-16 15:51] Yenthe666 commented on #10067
@sle-odoo could you check please?

[2018-01-16 15:53] MarwenCH commented on #18771
This problem was resolved in the latest version of Odoo 9,

Thanks very much

2018-01-15 14:31 GMT+01:00 nle-odoo <notifications@github.com>:

--
*Marwen CHAARI*

*Ingénieur Informatique*
*Mobile: *+216 22 062 877
*Page: *LIEN <http://www.doyoubuzz.com/marwen-chaari>

[2018-01-16 15:56] Yenthe666 commented on #9948
Hi @jessica-dowd,

Thanks a lot for your report.
This issue has been fixed in the meanwhile! If you update your Odoo to the latest source code it'll be fixed.

Regards,
Yenthe

[2018-01-16 15:56] #9948 closed

[2018-01-16 15:59] #18771 closed

[2018-01-16 16:30] edsersolis opened #22278 "[11.0] Can't export list correctly when grouping"
Impacted versions: 11.0

Steps to reproduce:

1. Open any list (contacts, invoices, sales orders, any....)
2. Group them by some criteria in such way that it provides more than 1 group
3. Expand any group
4. Select all lines (by clicking top checkbox)
5. Export the list

Current behavior:

- Odoo will export all lines in the list even from those in groups that were not expanded.

Expected behavior

[2018-01-16 18:00] mlaitinen commented on #3762
I was banging my head against a wall because of an Odoo email relayed via Office 365 servers ended up in – you guessed it – Office 365 spam filters. SPF was ok, email was delivered to GSuite without problems, but the client's emails ended up in Office 365 junk mail, including emails sent from their domain to their domain.

So I noticed the email Message ID didn't contain the correct sending domain

[2018-01-16 18:12] Yenthe666 commented on #22213
Hi @tech006,

Absolutely! It makes it easier to find for everybody this way too.
If you have an enterprise license you can still report it on odoo.com/help and link to this issue though.

Regards,
Yenthe

[2018-01-16 18:15] ploegvde commented on #14985
Hi, you can contact me, i think i have a mole somewhere that you can use. erwin@odooexperts.nl

[2018-01-16 18:21] hbto opened #22280 "Logistical Valuation & Accounting Valuation don't match when applying costs to Internal Transfers"
Impacted versions:
v11

Steps to reproduce:
https://drive.google.com/file/d/13gxGEbsTX1ESCCOdTi5-Micsl_xvwmix/view

Current behavior:
The accounting valuation and the logistical valuation of the products don't match after applying a Landed Cost over an internal picking
Expected behavior:
Either the internal picking are not allowed to be used in Landed Cost to avoid accounting valuation to be incre

[2018-01-16 18:31] sswapnesh commented on #22278
Hello @edsersolis

This works the same way in v10 as well.
You can refer to this issue as well  #20340.

[2018-01-16 18:39] sle-odoo commented on #10067
ping @d-fence who is now in charge of the packaging

[2018-01-16 18:42] sle-odoo commented on #22280
Hi, thanks for the report!
I think internal pickings should be excluded by now (as it was before?) but supporting them is in our pipe for v12.

Regards

[2018-01-16 18:56] edsersolis commented on #22278
Thanks for the reference @sswapnesh however it always worked good for us in v10 and earlier.

[2018-01-16 19:05] fpodoo commented on #22280
Yes, we should avoid landed costs on internal pickings. (and we should not
support it for v12 neither as it's not a priority and a weird case)

On Jan 16, 2018 7:42 PM, "Simon Lejeune" <notifications@github.com> wrote:

[2018-01-16 19:10] nhomar commented on #22280
@fpodoo

FYI I have 4 customers on (2 on-premise and 2 saas) with simple Importation process in México.

In México which is a huge country it is quite normal move with extra costs things between warehouses.

Would you accept a PR? it is quite easy to solve, instead kill the feature I think my friend.

[2018-01-16 19:11] nhomar commented on #22280
An import on warehouse of their ownership on EEUU but consolidate shipments and then send them to their own warehouse, Would I manage a different process? what would be the proper functional solution team?

[2018-01-16 19:14] Yenthe666 commented on #14985
@mart-e nevertheless we should totally look at this for the upcoming V12.

[2018-01-16 19:19] pedrobaeza commented on #14985
I personally don't see this interesting, and more with latest improvements that computes automatically this interval (plus not letting user to modify the leave time), but see https://github.com/OCA/hr/pull/350 for this feature.

My rationale here is that in Spain we are also requesting some leave hours, but the employee request from hour X to hour Y. If there are 3 hours, 5:30 or 1 it's not the mo

[2018-01-16 19:20] nhomar commented on #22280
Another very simple situation:

Free LAnded Zones, that's pretty common on countries like Panamá, RRDD, Colombia, México, .... and others where the Landed process finish between internal warehouses...

[2018-01-16 19:23] ploegvde commented on #14985
In the Netherlands you basically get leave per hour. The amount is based on the time you work in a month. So every employee can have different time. In days it is to hard to get it right. 1h = 0,125 days, for someone who works 8hr a day. For someone who works 7hr a day, a 1hr leave = 0.142. Not very employee friendly.

[2018-01-16 19:26] pedrobaeza commented on #14985
But again, employee don't need to know that data (or should know it). They are requesting a leave from hour X to hour Y.

[2018-01-16 19:30] ploegvde commented on #14985
But a leave from the same day from 8:00 until 10:00 is for Odoo 1 day and that is not correct. It is 2hr.

[2018-01-16 19:35] TimvM commented on #14985
In Odoo 11 it does calculate but only in quarters.
So leave from 8:00-9:00 calculates 0,25 day, but
8:00-10:00 calculates 0,25 day too. (based on 8 hour working day)

1 hour should be 0,125 in this case.

[2018-01-16 19:36] pedrobaeza commented on #14985
Check them my improvement for an OCA v10 module that is being migrated to v11 that computes exactly the amount: https://github.com/OCA/hr/pull/420

[2018-01-16 19:37] ploegvde commented on #14985
Ok, i checkt in V10. But also a quarter day is incorrect. 1h is 1h and i the Netherlands people are very precise in that.

[2018-01-16 19:38] ploegvde commented on #14985
Ok, maybe Odoo can include it in V12.

[2018-01-16 19:42] fpodoo commented on #22280
But the usual process to manage inter-warehouses flow is to do a delivery
order & a reception order (eventually automated with push/pull rules),
going through a transit location. That way, you can apply a landed cost at
the reception.

Landed cost on an internal picking is weird: one internal move (product =
5$), another internal move (same product becomes 6$). I am not even sure
you can justify t

[2018-01-16 19:43] TimvM commented on #14985
@pedrobaeza when do you expect those improvements will be released for Odoo v11?

[2018-01-16 19:49] pedrobaeza commented on #14985
There's a WIP in https://github.com/OCA/hr/pull/401, but this is not in my hands.

[2018-01-16 20:00] TimvM commented on #14985
Same issue applies to "leaves allocation".
If an employee worked overtime for 1 hour, he should apply 1 hour. Not 0,25 day.

Please consider do this the same way.

[2018-01-16 20:15] hbto commented on #22280
@fpodoo
Ok, I will try doing your proposal of using inter-warehouse transfers going through transit locations.

Thanks

[2018-01-16 23:24] fmdl opened #22282 "[BUG][11.0] web : binary field return a string during an onchange."
Sorry @Yenthe666, @Elkasitu, the issue https://github.com/odoo/odoo/issues/22231 seems not finish

**Impacted versions:**
V11

**Steps to reproduce:**

-Create a binary field `an_binary` and other field `an_integer`
-Add `an_binary` and `an_integer`  in a view
-Add this code in python code
[code]
Then
-Create a new record
-Add a file in `an_binary`
-Add a value in `an_integer`
-You see in log the

[2018-01-16 23:30] celm1990 commented on #22282
I get same error.
Upgrade today from github repo and work fine now

[2018-01-16 23:48] lukebranch commented on #22278
FWIW, i've encountered the same issue as well in 11.0.

[2018-01-17 00:00] yelizariev commented on #21996
@Elkasitu  It's a kind of performance issue, that makes feature unusable. So, it's a bug, rather than just improvement or something

[2018-01-17 01:03] hbto commented on #22280
Hi @fpodoo  due to the latest changes included in https://github.com/odoo/odoo/blob/11.0/addons/stock_account/models/stock.py#L52-L59

transit locations are not longer taken into account for valuation purposes if coming from or going to another internal location.

Thus applying landed costs on the suggested way is not possible

https://github.com/odoo/odoo/blob/11.0/addons/stock_landed_costs/model

[2018-01-17 01:04] fmdl commented on #22282
I have find the issue with the last repo.

[2018-01-17 01:20] gdgellatly commented on #22280
@fpodoo FYI: Under IAS2 it is mandated to include all costs in bringing the product to its **present** location. So there is nothing to justify to an auditor in including them, at least under IFRS rules.  In fact you would need to be able to justify not including them (e.g. immaterial, immeasurable, always instantly consumed, fvm, nrv measurement basis or something).

[2018-01-17 02:33] yueqin commented on #22191
@ged-odoo  Hi, I meet this bug too, can you help reslove it, thanks.
Regards,
Dean

[2018-01-17 03:43] nhomar commented on #22280
Totally agreed! but I can't find an specific document that validate this.

The main point here is that this is not a feature that requires a huge refactor, just few key changes and everything will be fixed.

Can you reconsidere @fpodoo ?

[2018-01-17 04:08] nhomar commented on #22280
Just to answer myself and to point to @fpodoo

My friend here is a document which say exactly what @gdgellatly is pointing out.

https://www.iasplus.com/en/standards/ias/ias2

**Quoting:**

Then said that:

AFAIK, the technique to add this costs properly is the landed cost document (which do the job nicely), IMHO we are facing a bug here if we support the fact that "Accounting should not miss matc

[2018-01-17 04:21] gdgellatly commented on #22280
@nhomar - That's a summary - NZ standards are generally verboten copies of the internationally drafted standards, and are well organized, although the implementation date may vary.

PBE IPSAS 12 - Not-for-profit http://www.xrb.govt.nz/accounting-standards/not-for-profit/pbe-ipsas-12/
NZ IAS 2 - For profit http://www.xrb.govt.nz/accounting-standards/for-profit-entities/nz-ias-2/

Whether the correc

[2018-01-17 04:23] nhomar commented on #22280
Exactly, that's why I am open to other options, but landed IMHO is the best one and the more clear to use for such deal.

[2018-01-17 04:40] gdgellatly commented on #22280
Also note - I think US GAAP is quite different on the topic of inventory measurement.  I've never really looked at it, I just remember being told it was a lot more prescriptive.

[2018-01-17 06:57] trcarden commented on #22187
@sle-odoo any comments?

[2018-01-17 07:02] Elkasitu commented on #21996
@yelizariev But there is an alternative which is passing `bin_size: True` in the context; there is a chance that enabling bin_size: True by default for tree views might break something else and then we'd have to revert the fix for the third time, which is something nobody wants.

Thankfully Odoo is open source so if you really want to gamble stability for performance, you're free to do it on your

[2018-01-17 07:22] Yenthe666 commented on #21996
@Elkasitu could we atleast add this information somewhere in the V11 docs?

[2018-01-17 07:39] Yenthe666 commented on #22278
@JKE-be another report of https://github.com/odoo/odoo/issues/20340 where you responded with:

But your solution is to uncheck the first checkbox from the 'group by' to say "Not all but all what is selected" and after reselect the unchecked to get it. From this way, you will have "all selected record" instead of "all record of the current domain filter".
We should probably implement a warning in t

[2018-01-17 08:37] ged-odoo commented on #22278
@edsersolis In my opinion, this is a bug, but it needs some discussion about the meaning of the 'select all' checkbox.  What should it do when no groups are open?  (I suppose exporting all records) And when two groups is open?

There is a simple (?) workaround: add a filter to the search view to only match the records in the column that you want to export, so selecting all will only select what yo

[2018-01-17 08:39] JKE-be commented on #22278
Duplicated of #20340

We have a task to improve it in the future

[2018-01-17 08:39] #22278 closed

[2018-01-17 08:53] JKE-be commented on #10749
Cannot reproduce.

Please provide video or 'short module' to reproduce it.

[2018-01-17 08:55] Elkasitu commented on #22282
I'm not sure this is a bug _per se_, your onchange shouldn't depend on the value of self.an_binary, **since this value can change depending on whether or not `bin_size: True` was passed in the context**

https://github.com/odoo/odoo/blob/bd760f074688fd92c96fd75ec33231bb9c3e7eff/odoo/fields.py#L1666-L1676

You should explicitly set `bin_size` to `False` before accessing `an_binary` with a call to `

[2018-01-17 08:58] idealisconsultingbe commented on #15279
Any news about this issue?

[2018-01-17 09:05] Yenthe666 commented on #10749
Hi there,

We're closing this topic as the Github user no longer exists.
Feel free to respond, or create a new bug report, if you (or anyone else) can still reproduce it.

Regards,
Yenthe

[2018-01-17 09:05] #10749 closed

[2018-01-17 09:20] Elkasitu commented on #21996
@Yenthe666 tbd with @mart-e perhaps

[2018-01-17 10:34] bst-odoo commented on #22150
The behavior is expected. You might still want to issue payroll slips (for example to correct one that has been made when the employee was still working for your company).
That's why we didn't put any restriction on this field.

[2018-01-17 10:35] #22150 closed

[2018-01-17 10:43] alexkuhn commented on #22282
I think this is the correct behaviour: when you add a file in `an_binary`, it is represented client-side in base64, so that the server gets the correct value for the binary field when you write on the record.

When you save the changes, it reads again the record from the server, and since any fetch of records has `{bin_size: true}` in the context, the binary is represented by its size.

https://gi

[2018-01-17 11:01] gustavovalverde commented on #22070
@nim-odoo, I think your commit 00039883c130c781803417ffb043fefaa29cf13f is closing this one.

[2018-01-17 11:03] nim-odoo commented on #22070
indeed

[2018-01-17 11:03] #22070 closed

[2018-01-17 11:05] dbo-odoo commented on #22070
@Yenthe666 just an FYI: I'm no longer on the odoo.sh project :)

[2018-01-17 11:06] qsm-odoo commented on #22204
Hello,

It appears to be working on my side. Be sure to check these steps and retry:
- The channel you are configuring must be set to be used on the website by choosing it as "Website Live Chat Channel" in the "Website admin" settings
- Your URL regex must be correct
- Try using the livechat as an anonymous user (the only way to do that correctly is to use a private window in your browser or use a

[2018-01-17 11:06] #22204 closed

[2018-01-17 11:11] njeudy commented on #22089
When changing the page where snippet is, odoo write rendered view of the snippet and not only le snippet block when changing pas content .. here is the wrong code:

[code]

In place you should have:

[code]

@Yenthe666 I don't know actually how to correct this.

[2018-01-17 11:28] qsm-odoo commented on #22087
Hello,

It appears to be working on my side. When you create a template, the unsubscribe links do indeed have the `/unsubscribe_from_list` url but, when the mail is sent, this link should be automatically converted to a personalized link (for the user it is sent to).

I am closing the issue. If you are still facing the issue on sent emails, please ask me to reopen the issue and give me details abo

[2018-01-17 11:28] #22087 closed

[2018-01-17 11:34] lap-odoo commented on #22280
Hi,

Applying landed costs on internal moves is currently not supported.

For the future, it is in our plans to support applying landed costs on moves coming from an inter-warehouses transit location. So if you move your products between warehouses (WHA > Transit, Transit > WHB), you'll be able to apply landed costs.

[2018-01-17 11:42] gustavovalverde opened #22296 "[11.0] Payments bringing miscellaneous journals by default"
#### Impacted versions:
11.0

#### Steps to reproduce:
Create a Payment

#### Current behavior:
Miscellaneous journals comes by default:
![image](https://user-images.githubusercontent.com/16890942/35041082-eaf738e2-fb59-11e7-963d-de2666a96146.png)

It just changes after the amount is input

#### Expected behavior:
Bring bank and cash journals by default.

[2018-01-17 11:44] gustavovalverde commented on #22296
@Yenthe666  I know you'll see this one and tag it, but this is annoying and confusing, I'd say it's kind of urgent to fix it.

[2018-01-17 11:56] JKE-be commented on #10888
Portal in backend is deprecated for the new portal when you install website_portal_sale

To be visible in 'My quotations": the conditions are:
    - Be in 'Sent Quotation'  stage
    - **AND** be follower of the sale_order (what is done eg when you create send the sale order to a partner, the partner become followers)

It is the expected behaviour from what I see in the code if you want, you are f

[2018-01-17 11:56] #10888 closed

[2018-01-17 11:56] ADVALAKI opened #22299 "history_ids field not defined in stock.quant, but used."
**Impacted versions:**
11.0

**Steps to reproduce:**
Try to call method **action_traceability()** from model: stock.production.lot

**Current behavior:**
field history_ids used in method but there is no history_ids filed define in entire odoo code.

**Expected behavior:**
there should be history_ids field in stock quant.
and if odoo remove history_ids field from stock.quant then whats the method d

[2018-01-17 12:11] Elkasitu commented on #22299
Hi, thanks for your report.

It looks like dead code as a byproduct of commit b3180c8

cc @sle-odoo

[2018-01-17 12:23] Yenthe666 commented on #22296
@qdp-odoo this looks annoying to me too. Did you do this with a specific reason?

[2018-01-17 12:23] qsm-odoo commented on #22089
Nice, it appears that an improvement I made in > 11.0 versions is automatically fixing that bug :smile: I will have to find a workaround for stable versions though. I will merge the solution today.

[2018-01-17 12:24] Yenthe666 commented on #22070
@dbo-odoo oh I see 😢 Who is now?

[2018-01-17 12:48] JKE-be commented on #18531
Cannot reproduce the performance issue.
How many event_tickets_ids and variant in your case?
And yes, if you remove the rule that gives access to something, you will have no access and so an error.

[2018-01-17 12:49] JKE-be commented on #16024
It has been fixed a long time ago.
Thanks for reporting

[2018-01-17 12:49] #16024 closed

[2018-01-17 12:58] lap-odoo commented on #20416
@lem8r Hi, did you report that issue (odoo.com/help) to our support ? As it concerned stable versions these issues should be handled by our support. This issue is meant to collect feedback for next versions. Thank you

[2018-01-17 13:12] dbo-odoo commented on #22070
@Yenthe666 I've edited https://github.com/odoo/odoo/wiki/BugManagement to reflect the change, odoosh is listed there :)

[2018-01-17 13:18] Yenthe666 commented on #22070
Yikes, more information on the BugManagement page! 🎉 Thanks a lot @dbo-odoo!
P.S: Feel free to expand all the rest too, this is really helpfull for me.

[2018-01-17 13:27] JKE-be commented on #15549
It has been fixed meanwhile.

Thanks for the reporting

[2018-01-17 13:27] #15549 closed

[2018-01-17 13:31] JKE-be commented on #16744
@treviser
Any news about the step to reproduce it?

I close it, but don't hesitate to re-ping me or re-open it if you still have the bug.

[2018-01-17 13:37] sle-odoo commented on #22299
Seems unused now, but "action_stock_report" is callable by the "up/down traceability" stat button and opens the traceability report. Did you manage to call this method with the standard views?

[2018-01-17 13:43] #15180 closed

[2018-01-17 14:07] pedrobaeza commented on #15180
@JKE-be are you going to work for v12 in this topic? Do you know our work about this?

[2018-01-17 14:13] njeudy commented on #22089
@qsm-odoo thanks :)

[2018-01-17 14:14] Yenthe666 commented on #22214
Hi @haconsult and @danger89,

It looks like the issue has been fixed in the meanwhile!
E-mail template:
![image](https://user-images.githubusercontent.com/6352350/35047013-fa8e86fe-fb98-11e7-8767-6bc03abc34bb.png)
Sale order:
![image](https://user-images.githubusercontent.com/6352350/35047024-028be6ee-fb99-11e7-8149-1b2b420ffd35.png)

Can you guys double check too?

[2018-01-17 14:16] tpa-odoo opened #22304 "[11.0] Hierarchy view is not working."
Impacted versions:11.0

Steps to reproduce: Go to Payroll >> Configuration >>   Salary Rule Categories Hierarchy

Current behavior: It shows New Form View

Expected behavior: It should show Hierarchy view

Video/Screenshot link (optional): http://294612-11-0-ca2060.runbot9.odoo.com/web?debug#id=&view_type=form&model=hr.salary.rule.category&menu_id=450&action=626

[2018-01-17 14:18] JKE-be commented on #15180
We are trying to fix the website, e-commerce and editor to start. But maybe that we could start this feature for V12...

No, I didn't see your work about this feature... Do you have something that works?

[2018-01-17 14:30] smetl commented on #15220
I didn't test this issue. However, if you take a look at https://github.com/odoo/odoo/blob/10.0/addons/website_portal_sale/models/payment.py#L32

... there is a little condition that could prevent the payment creation/reconciliation:

`if tx.acquirer_id.journal_id:`

Are you sure your acquirer has a journal set?

[2018-01-17 14:33] treviser commented on #22089
@qsm-odoo Thanks from me too!

[2018-01-17 14:35] qsm-odoo commented on #19930
Same idea as this: https://github.com/odoo/odoo/issues/15437 (solution suggested there is even simpler as does not require any change of framework). To be continued.

[2018-01-17 14:41] JKE-be commented on #15617
Thanks for the reporting.

Duplicated of:
#2541
#11619
#12541
#12590
#13198
#15354
#15221
...

It has been by design, until v10, to avoid the duplication of res_partner.

In v10 it has been updated, using a real field company_name instead of street2 and a button to create the real res_partner.

Thanks

[2018-01-17 14:41] #15617 closed

[2018-01-17 14:41] Yenthe666 commented on #20765
Fixed at https://github.com/odoo/odoo/commit/733ce266ef793652f5958c24e2a8a6f443432552

[2018-01-17 14:41] #20765 closed

[2018-01-17 14:45] JKE-be commented on #11541
Thanks for reporting,

Seems that @Gorash merge a fix about it in V9 (128656f6ea56f200c7e7e0c8f80aa2bb11d7882c) without referring this issue.

But as explains by the master Odony, the best solution (to avoid potential other bugs) is to disable the feature and use the gzip compression. This feature has been removed in next versions.

[2018-01-17 14:45] #11541 closed

[2018-01-17 14:46] #15369 closed

[2018-01-17 15:00] wtaferner commented on #19930
@qsm-odoo
Thank you for pointing me to the other issue...was not aware of that one...Jairo had some really good inputs about this...it would be anyway nice if the editor can do the job at some point (clean is enough for the start) and also that versioning of content is possible as you know the user is always just playing as hard as possible and it would be awesome to be able to rewind or forward t

[2018-01-17 15:03] qsm-odoo commented on #22089
Merged https://github.com/odoo/odoo/commit/59e1bdff221f4a099f6000eb9884f84f772c38bb :relieved:

[2018-01-17 15:03] #22089 closed

[2018-01-17 15:15] JKE-be commented on #19595
Yes one thing that is ambigous and not clear, is that:
   - the default price list should be always the first in the list (ordered by sequence).
   - All pricelist should have at least 1 country_group or None...

In this case you will not get your 'friends pricelist'.

[2018-01-17 15:15] #19595 closed

[2018-01-17 15:17] Yenthe666 commented on #15369
Thanks a lot @JKE-be! Fixed in https://github.com/odoo/odoo/commit/74b564cf8d1a192cee784997a6fb9da5b030c794

[2018-01-17 15:23] lem8r commented on #20416
@lap-odoo Hello,
No I don't yet. I will do it as it is related to enterprise customer.
Thank you.

[2018-01-17 15:24] JKE-be commented on #11337
Seems fixed meanwhile.
![image](https://user-images.githubusercontent.com/4848797/35050338-dd439620-fba2-11e7-9018-caf78c81e847.png)

Could you confirm @lem8r ?

[2018-01-17 15:49] JKE-be commented on #15220
@smetl you don't arrive until this line since you don't  have a sale_order_id in  https://github.com/odoo/odoo/blob/10.0/addons/website_portal_sale/models/payment.py#L65

Purpose of website_payment is only to make the payment (payment.transaction), and as the message explains need to be encoded/validated at the hand by the sale/accounting team.
There is no process in V9/10 to automatically reconci

[2018-01-17 15:49] #15220 closed

[2018-01-17 15:53] lap-odoo commented on #20416
@lem8r Perfect, thanks

[2018-01-17 16:18] lasley commented on #15180
@JKE-be - Yup, [`website_multi_theme`](https://github.com/OCA/website/tree/11.0/website_multi_theme) works quite well

[2018-01-17 16:28] flotho commented on #20761
Hi,
I recently updated my repo and have other issues that seems to be related. IMO, the rescue mode was not working correctly in my latest tests.
So please find attached an example of session for the same POS that are really weird 👍
![screenshot_20180117_171937_barb](https://user-images.githubusercontent.com/1043935/35053665-0df0946e-fbab-11e7-92cb-f9ff585a8f54.png)

For sure the vendor close the

[2018-01-17 17:20] danger89 commented on #22214
@Yenthe666
Well it is NOT fixed the Dutch language (I don't know about English). But I hoped they didn't solved this in the template actually.. because.., since now we need to update ALL translations.

![image](https://user-images.githubusercontent.com/628926/35056761-0dc46df0-fbb3-11e7-9642-aea1ec460946.png)

[2018-01-17 17:42] sswapnesh opened #22310 "Wrong currency calculation in multi currency-multi company setup"
Impacted versions: 10.0/11.0

Steps to reproduce: Performed on [Runbot](http://294601-10-0-57e37d.runbot8.odoo.com) --> Enable Multi-Company/Multi-Currency Features --> Allow these companies to the user --> Add Product in SO with different Currency Price list, Add same Product in Invoice with Same currency selected in SO --> Both Product price calculations will be different.

Current behavior: Wro

[2018-01-17 17:53] yelizariev commented on #21996
I understand, that stability is more important than performance. If there is technical reasons that don't allow to get stable fix of performance issue, then some note or warning has to be added to docs about using binary fields in tree view as @Yenthe666 said

[2018-01-17 17:57] omalbastin opened #22311 "[SECURITY] odoo login details getting from browser cache form data"
Impacted versions: v8, v9, v10 community, v11 community

Steps to reproduce: In google chrome browser, open a odoo url with ssl enabled(https). Activate the page inspect element, then go to network tab and activate the preserve log. then enter the login details and press enter. Now check network tab,on the login's form data and we can see the csrf token, login and password.

Current behavior:Showi

[2018-01-17 17:59] sswapnesh commented on #22304
Related to #20108.

[2018-01-17 18:33] goliveirab opened #22313 "[master] User with just Billing Access can not create Invoice Credit Note"
Impacted versions:
Master

Steps to reproduce:
- Create a user with just Billing access to Accounting
- Login with the new user
- Create or Duplicate an invoice
- Add credit note

Current behavior:
The user can not create a credit note due to the access level
![image](https://user-images.githubusercontent.com/5191766/35059878-0cecaf34-fb93-11e7-9d8a-d7bf28d4b550.png)

Expected behavior:
Create the

[2018-01-17 18:34] goliveirab commented on #22313
FYI @luistorresm

[2018-01-17 20:15] ofrmax commented on #22149
HI, any update on this behavior? @sle-odoo  @Yenthe666

Best regards,

[2018-01-17 21:17] wguerram opened #22314 "Global Discount in POS Orders is adding to the total instead of substract"
Impacted versions:
11
Steps to reproduce:

1. Enable Global discount in Odoo POS
2. Create an order, scan some products.
3. Press the discount button.
4. Apply the discount.

Current behavior:

The discount is adding to the Total instead of substract.

Expected behavior:

When adding a discount the discounted value should substract from the Total.

Video/Screenshot link (optional):

[2018-01-17 21:25] Yenthe666 commented on #22214
Hmm, I'll double check in Dutch tommorow. I was in English so perhaps I've missed it because of that. ;)

[2018-01-17 21:27] saadalee commented on #19945
Same issue with python 3.6

[2018-01-17 21:28] saadalee commented on #22222
Same issue with python 3.6 and commit  2a54886.

[2018-01-17 21:35] pedrobaeza commented on #15180
There are some tricks we needed to do for making it work due to the base (like creating some views on the fly and disabling others), but if it's included in core, there are more chances to go straight.

I thank you any way your help for making it work in v10 with the PRs we proposed and you merged:

* https://github.com/odoo/odoo/pull/18462
* https://github.com/odoo/odoo/pull/17970
* https://githu

[2018-01-18 01:21] thanglt0209 opened #22317 "[10.0] TypeError: odoo.define is not a function (empty CSS/JS assets)"
Impacted versions:
Impacted versions: Odoo 10.0-20180115
Steps to reproduce:
A had build odoo 10 by Docker-compose.
one day,  odoo web container can't see filestore. I had create new web container and copy old file store to container volume and restore database.
Current behavior:
It seem work. I  use the chrome incognito tab to log in. It work. But when i use normal tab  i get error Uncaught TypeE

[2018-01-18 01:27] mrzingo commented on #18052
The Proposed solution to change the code only worked for me in odoo 10 ee.

[2018-01-18 04:12] kelvinthonyInti opened #22321 "Error when install app module V11"
I update my instance of odoo v11 from github, before I have this problem.
Thanks for your answers.

`Traceback (most recent call last):
  File "/intitec_dev/intitec_dev-server/odoo/tools/cache.py", line 84, in lookup
    r = d[key]
  File "/intitec_dev/intitec_dev-server/odoo/tools/func.py", line 68, in wrapper
    return func(self, *args, **kwargs)
  File "/intitec_dev/intitec_dev-server/odoo/too

[2018-01-18 05:06] vcloud9ray commented on #18857
I just got this when importing ir.model.fields data via CSV.  Did you resolve it?

[2018-01-18 07:22] Yenthe666 commented on #20761
Hi @flotho,

In short: this shouldn't happen. Can you please find a way to reproduce this? Otherwise it'll be hard to figure out where it comes from and what should be fixed.

Regards,
Yenthe

[2018-01-18 07:30] Yenthe666 commented on #22321
Hi @kelvinthonyInti,

Thanks for your report.
Can you please add steps about what you did / which app you've installed etc? This is not enough information to help you.

Regards,
Yenthe

[2018-01-18 07:37] Elkasitu commented on #22317
Could have something to do with the MIME-type issue @d-fence

[2018-01-18 07:55] d-fence commented on #22317
@thanglt0209 if you use windows as a client, it's probably related to this bug : https://github.com/odoo/odoo/issues/21319

It was fixed here in 10.0: https://github.com/odoo/odoo/commit/17c9208889d91d4302797d8f72a6ebc4968ff2e4

But unfortunately, the docker image is not yet up to date. There will be an update soon but I cannot give a date. There is a quick fix in the issue I mentioned above.

[2018-01-18 07:55] wtaferner commented on #22311
@Yenthe666
I doubt it is a security issue of Odoo as it is the normal post request which should be communicated securely over SSL. The browser can read based on being an endpoint anyway, but here @omalbastin did not even use a SSL connection, so I think this can be closed as invalid. If it should be somehow relevant in terms of security we could question only whether the browser is secure of being

[2018-01-18 08:03] Yenthe666 commented on #22311
@wtaferner yeah I do agree but I let everything security related pass through @odony or @mart-e. Those are not my call honestly.
But yes, to me this is also invalid / irrelevant.

[2018-01-18 08:32] Yajo commented on #20821
I just hit a race condition in https://github.com/OCA/website/pull/402 due to this wrong pattern.

<details>
<summary>Logs:</summary>

Copied from https://travis-ci.org/OCA/website/jobs/329459035#L1723-L1741

[code]
</details>

[2018-01-18 08:33] mart-e commented on #22311
Hello,

Indeed, for security issues, please be responsible and check our [responsible disclosure](https://www.odoo.com/page/responsible-disclosure) page.
In this case, it is not an issue as it is how form authentication works and most website do as well.
This is also the reason why having SSL enabled is so important because only you can access the form information.

[2018-01-18 08:33] #22311 closed

[2018-01-18 08:37] adekock11 commented on #18052
According to [this discussion](https://github.com/odoo/odoo/pull/59), if you use Werkzeug 0.11 and higher, the real IP address should display in the Odoo logs (I haven't confirmed this myself).

The pull request on Werkzeug is [here](https://github.com/pallets/werkzeug/pull/672). I'm using Werkzeug 0.9.6 as per the [requirements.txt on 9.0 branch](https://github.com/odoo/odoo/blob/9.0/requirements

[2018-01-18 08:39] Yenthe666 commented on #18052
@adekock11 we can update a requirement if there is a good reason for it. Perhaps not against V9 as it doesn't break anything but against 11 should be fine I believe.

[2018-01-18 08:46] ged-odoo commented on #20821
@Yajo @Yenthe666 You are right about the fact that doing qweb.add_template("...") is bad and that we need to have a helper to force it to be async.  But it already exists: it is located in ajax.loadXML, and is not really clear looking at its implementation what it does, but just grep for 'ajax.loadXML' and you will find a bunch of calls.  Basically, it takes a path, a qweb and returns a deferred.

[2018-01-18 08:46] #20821 closed

[2018-01-18 08:50] adekock11 commented on #18052
I see that on Odoo 11.0 [requirements.txt](https://github.com/odoo/odoo/blob/11.0/requirements.txt#L36) Werkzeug is on version 0.11.15 already, although the rational for changing the version didn't have anything to do with this particular issue. Nevertheless it looks like it has been fixed.

[2018-01-18 09:01] Yenthe666 commented on #18052
So, in conclusion, we can close this bug report? 😉

[2018-01-18 09:04] adekock11 commented on #18052
Sounds good

[2018-01-18 09:04] #18052 closed

[2018-01-18 09:10] qdp-odoo commented on #22296
Alas, this was made on purpose to allow the following use case: upon registration of a payment of 0$, select a misc journal in order to be able to close an invoice with a writeoff.

That being said, we may enable that only for the registration of payments from invoices/bills!

[2018-01-18 09:17] Yenthe666 commented on #22296
@qdp-odoo so to conclude:
- This was done by purpose
- We might want to improve this so it only happens for specific cases (registration of payments from invoices/bills) but that would be against the master?

[2018-01-18 09:41] prakashkumar163 opened #22331 "Odoo9 Mobile view is not working"
Impacted versions: Odoo9

Steps to reproduce:
Open web menu on chrome and click on mobile view in the bottom .
**The view will not change and navbar-toggle is will  not visible**

Now open a new tab and increase screen size: 175%
**The navbar-toggle is visible  here**

:
Video/Screenshot link (optional):

![screenshot from 2018-01-18 15-08-20](https://user-images.githubusercontent.com/25385447/350

[2018-01-18 09:42] prakashkumar163 commented on #22331
In Odoo 10 this issue,
![screenshot from 2018-01-18 15-06-31](https://user-images.githubusercontent.com/25385447/35091228-fe08b5a6-fc61-11e7-8222-2c0edf996f97.png)
not present.

[2018-01-18 09:44] wpichler opened #22332 "Adding the track_visibility=true flag to a res.partner field causes a key error in res.users"
Impacted versions:
Version 10 - Code seems to be the same on version 11

Steps to reproduce:
Add the track_visibility flag to an existing res.partner field - as like "mobile = fields.Char('Mobile', track_visibility='onchange')" - then try to create a new user...

Current behavior:
You will get an exception - Key error because of missing field in_group_xx

Expected behavior:
No Exception ;-)

[2018-01-18 09:46] wpichler commented on #22332
Problem is in res_users.py - it does overwrite function fields_get

The fields_get function for normal should only return field given in allfields - if allfields is given - the overwritten function in res_users does not take this in account when adding the special fields for the user groups.

[2018-01-18 09:48] wpichler commented on #22332
Possible fix for this:
`    @api.model
    def fields_get(self, allfields=None, attributes=None):
        res = super(UsersView, self).fields_get(allfields, attributes=attributes)
        # add reified groups fields
        for app, kind, gs in self.env['res.groups'].sudo().get_groups_by_application():
            if kind == 'selection':
                # selection group field
                tips

[2018-01-18 09:52] dipsshah42 opened #22333 "Locking feature Prevents "Coupons & Promotions" feature in Sale App."
Impacted versions:
Odoo 11 (Enterprise)

Steps to reproduce:
1) Go to Sales > Configuration > Coupons & Promotions > Create any Promotion Program.(e.g with
     coupon code),
2) Go to Sales > Configuration > Click on 'Lock Confirmed Orders'.
3) Sales > Create Quotation >Button 'Apply Coupon' > Enter Code > Click on 'Confirm Sale' Button.

Current behavior:

Expected behavior:

Video/Screenshot lin

[2018-01-18 09:55] wpichler commented on #22332
I've tested this fix - it does work - i will create a PR for it

[2018-01-18 09:56] qdp-odoo commented on #22296
yes indeed, I just checked and it ain't be that easy to change in stable... So let's close this issue and report that as a feedback to @lap-odoo

thanks for the contribution, anyway

[2018-01-18 09:56] #22296 closed

[2018-01-18 10:00] gdgellatly opened #22335 "Barcodes seems to do some weird stuff"
Impacted versions: 11.0

Steps to reproduce:
DISCLAIMER: I am guessing a lot here

I found this in testing an enterprise workflow by adding barcode_trigger='scrap' to 1 of the action_next buttons and then barcode_trigger='pack' to the other one in the mrp_workorder tablet view of mrp_quality, however the bug is in barcodes module js somewhere.

[code]
Note their are no events for _barcode_scanned

[2018-01-18 10:01] Yenthe666 commented on #22331
@adr-odoo can you check?

[2018-01-18 10:09] Yenthe666 commented on #22335
@sle-odoo I believe this is of interest for you.

[2018-01-18 10:10] Yenthe666 commented on #22214
Ah yes, it is still present in Dutch..

[2018-01-18 10:40] sle-odoo commented on #22149
Hi @ofrmax,
Sorry but i can't reproduce your issue. Can you try on the last v10 [runbot](http://runbot.odoo.com/runbot)?

Are you working on a new database? Fyi, it's not recommended to update only a single addon. Please upgrade all your Odoo codebase and see if the issue is still happening.

Also, are you using community modules?

Regards

[2018-01-18 10:43] sle-odoo commented on #22335
i suppose the barcode listener is not unbound when a new action is processed?
also, you need code for the barcode mechanism to do something (inheriting the barcode mixing on the model and implementing the onchange at least, then implementing some javascript to bypass the onchange if it's not needed for performance reasons)
i'll have a look, there are still things to do with the barcode in 11

[2018-01-18 10:56] gdgellatly commented on #22335
@sle-odoo I have done all that on workorder (you can see in xml I must have mixin) - I'll do the same on manufacturing orders and see what happens - because even if I can just get a noop chain it will be a completely fine workaround as the end commands will only be valid for workorders - it just wasn't necessary for this report to show it all as O-BTN commands seem to be treated regardless of mixi

[2018-01-18 11:06] Yajo commented on #20821
It would be really nice to have a `ajax.loadXMLOnce` method, that besides performing the load asynchronously, it just resolves the deferred if the file was already loaded.

This way, when asking for that from a `start: function()` inside an animation, widget, etc., we can safely call it always while not affecting performance.

[2018-01-18 11:16] ged-odoo commented on #20821
@Yajo Look at this: https://github.com/odoo/odoo/blob/11.0/addons/web/static/src/js/core/ajax.js#L395

The implementation of loadXML is kind of convoluted, but it does what you ask for.  You can call that method as many times as you want, it will cache the deferred on the first call and simply return it for the next ones.  Note that looking at the code, it looks like there is a bug if the same url

[2018-01-18 11:17] ged-odoo commented on #20821
In 11.0, we actually often call ajax.loadXML in the willStart method of a widget, to load some templates asynchronously, but before the start (so it can be used as the template rendered by the widget with the template key)

[2018-01-18 11:40] gdgellatly commented on #22335
@sle-odoo I think you are right about the action not being unbound, because I can reproduce now straight from workorders dashboard, into kanban, into workorder, but if I then go back and go back in no errors.

However I also now have a working workaround.

Instead of using O-BTN commands and assigning to a button, if I use just a non special barcode and use the onchange mechanism through on_barcod

[2018-01-18 11:43] gustavovalverde commented on #22296
Just as a side note from this one. Even though it's in the commit history, is there a change-log  of behavioral changes like this one? It's been harder than usual in v11 to identify all new features and changes. This one for example, if not explained, it might be seen like a bug (it's kind of a bug, but not completely).

I know there was a technical document done internally showing all possible th

[2018-01-18 11:47] brunobronks opened #22345 "Internal Server Error odoo 11"
Impacted versions: 11.0

Steps to reproduce:

Current behavior:

2018-01-18 11:32:12,400 6314 WARNING ? odoo.addons.base.res.res_currency: The num2words python library is not installed, l10n_mx_edi features won't be fully available.
2018-01-18 11:32:28,417 6314 INFO ? werkzeug: 127.0.0.1 - - [18/Jan/2018 11:32:28] "GET / HTTP/1.1" 500 -
2018-01-18 11:32:28,440 6314 ERROR ? werkzeug: Error on reque

[2018-01-18 12:13] Yenthe666 commented on #22345
Hi @brunobronks,

I see that your import error mentions `sales_odoo_std_template`. This module however is not a default module from Odoo S.A. This looks like something about your custom development. Did you forget to add the module?

Regards,
Yenthe

[2018-01-18 12:22] Yajo commented on #20821
Oh, awesome! I'm hitting problems on v10 addons, eager to migrate them!

Thanks, pal.

[2018-01-18 12:27] brunobronks commented on #22345
Hi @Yenthe666,

Thanks for your help...

But I don't find this module, will it sale management?

I can't find sales_odoo_std_template....

Regards,
brunobronks

[2018-01-18 12:37] thanglt0209 commented on #22317
@d-fence I had update docker image. But it still get error. maybe because i have not clear the browser cache yet.
Thanks everyone.

[2018-01-18 12:37] #22317 closed

[2018-01-18 12:53] lap-odoo commented on #22296
@gustavovalverde Thanks for the feedback, I've created a task to improve that in Master.

We do have public release notes (https://www.odoo.com/fr_FR/page/odoo-11-release-notes#part_7) but, indeed, they don't contain all the details. I agree it would be interesting to share more detailed release notes (mainly for the Odoo Partners). I'll discuss it internally and I hope we will be able to have tha

[2018-01-18 12:56] Hari-Guhan-s opened #22346 "odoo - Mail server"
Impacted versions:10.0

Current behavior:

Able to retrieve mail through incoming mail config from my private mail server (name@mydomain.com)

Expected behavior:

Need additional behavior to retrieve contacts and calendar events

[2018-01-18 12:59] gustavovalverde commented on #22296
Thanks @lap-odoo, I know that a more detailed release notes will be appreciated by partners, mainly for knowledge on new version implementations and will also help on marketing from a partner's perspective. I'm confident on your feedback evaluation, and I know good things will happen after your discussion.

[2018-01-18 13:00] adekock11 commented on #22345
@brunobronks can you give the output from your `odoo-server.conf` file, specifically the `addons_path` line inside that file.

[2018-01-18 13:06] Yenthe666 commented on #22346
Hi @Hari-Guhan-s,

This bug report is way too small. Please provide information, how to reproduce, what is wrong, ...
Without this we cannot help you.

Regards,
Yenthe

[2018-01-18 13:32] qdp-odoo commented on #22296
@gustavovalverde you're going to make her blush...

[2018-01-18 13:43] metlaivan opened #22349 "Could not print "Financial Reports" from "Account reports" menu"
Impacted versions: 11.0 529a8f5aa87985592b957ba97b4e476ed41aea9c

Steps to reproduce:
Open Invoicing->Financial Reports->Account reports click on "Profit and Loss" report and try print it.
![image](https://user-images.githubusercontent.com/1558327/35100693-66151696-fc65-11e7-90fc-1fd02f8f70fa.png)

Current behavior:
Get warning with the message "Form content is missing, this report cannot be print

[2018-01-18 14:16] danger89 commented on #22214
Yea so I can change that directly. I'm a reviewer in transifex for the Dutch language. Just say what needs to be done..

[2018-01-18 14:27] Yenthe666 commented on #22214
@danger89 don't handle it in the email templates. It should be handled on the Python side. It is probably a context or something missing :)

[2018-01-18 14:27] haconsult commented on #22214
Hi all,

Pleas note there was a [similar issue](https://github.com/odoo/odoo/issues/20784#issuecomment-347774424) in the stock (and possibly other?) modules. These have been addressed, e.g. the according pdf reports all work perfect now. To my understanding this issue here can only be fixed in the email templates and it's translations.

Regards,
Helge

[2018-01-18 14:46] sagarrt opened #22350 "new group added in code existing code in 9"
Impacted versions:9

Steps to reproduce:
in file addons/mail/models/mail_message.py  line no 100
    field tracking_value_ids has no group in previous git pull before 5-6 month
    now it has bean added a group  **groups="base.group_no_one",**
    why would you added this, shall i know the reason?, so i can change my code accordingly
Current behavior:
    it getting error on my new machine when i

[2018-01-18 14:47] janarthanandev commented on #19905
We are also facing the same issue in v10. we have customer data so we would not able to uninstall the module is there any other possible ways.

[2018-01-18 14:50] jco-odoo commented on #19905
update the module

On Thu, Jan 18, 2018 at 3:47 PM, Janarthanan <notifications@github.com>
wrote:

[2018-01-18 14:54] tejastank commented on #22222
Just pulled latest in OdooCE11, yet same issue !!!

[2018-01-18 14:54] ofrmax commented on #22149
Hi @sle-odoo ,

thanks a lot for your support. I'm really not familliar with programming and testing so its possible i made something wrong.

Would it be possible to point me how I can do an "upgrade all". Like a tutorial or something. i did not find anything about this.

Best regards,

[2018-01-18 15:12] Yenthe666 commented on #22350
Hi @sagarrt,

Usually group.no_one is set on fields that are very technical or require quite some knowledge. As an administrator you'll have access to this though.
If you don't want to have this behaviour you'll need to create custom code to override this behaviour.

Regards,
Yenthe

[2018-01-18 15:12] #22350 closed

[2018-01-18 15:14] Yenthe666 commented on #22149
Hi @ofrmax,

If you've installed it from git:
- Navigate to your Odoo (for example /odoo/odoo)
- sudo git fetch origin 10.0
- sudo git reset --hard origin/10.0
- Run the Odoo from the terminal and provide -u all in the parameters or do a sudo service odoo-server restart -u all

Regards,
Yenthe

[2018-01-18 15:35] bluestingray commented on #11257
Ah hey thanks @Yenthe666 .

And hi again :) long time no talk.

Holden

[2018-01-18 15:38] nhomar opened #22352 "[11.0] Allow take more thant the lot availability"
Impacted versions:
11.0 (saas)
Steps to reproduce:

Current behavior:
traceback:

[code]

Expected behavior:

Video/Screenshot link (optional):

[2018-01-18 15:44] yousef-soliman opened #22353 "[11.0] open form in edit mode"
Impacted versions:
11.0
Steps to reproduce:
make python function that return Action
[code]
Current behavior:
not open form in edit mode
Expected behavior:
open form in edit mode

Video/Screenshot link (optional):

[2018-01-18 16:14] ntodorova opened #22354 "Sort function field, which is not stored in the db"
Impacted versions: all

Steps to reproduce:
I have a function field, which I don`t want to store in the db.

The problem is that I want to be able to sort by this field in a tree
view via click on the column header.

Current behavior:
Nothing happens when you click on the functional field header in the list view.

Expected behavior:
Sort the results by this field

Video/Screenshot link (optional):

[2018-01-18 16:22] goliveirab commented on #22313
Hi @Yenthe666

Thanks for the prompt response, but I am still getting the same error, this is the configuration of the user I created:
![image](https://user-images.githubusercontent.com/5191766/35107458-5b8d94a0-fc47-11e7-974c-065b19f3dd0a.png)

Notice that only Accounting & Finance, and Employees are filled.

This is my functional tests:
master: https://drive.google.com/file/d/1lA6Z8hfcWcXkus-V9I

[2018-01-18 16:30] sle-odoo commented on #22352
Hi,
product_qty should never be 0 on a done move ; what steps did you take to be able to validate this move?

Regards

[2018-01-18 16:59] cierek commented on #9443
Duplicate but still an issue + is is tagged with Odoo 9, where the other is about Odoo 8

[2018-01-18 17:07] Yenthe666 commented on #22313
@goliveirab can you reproduce it on an official Odoo runbot at runbot.odoo.com?

[2018-01-18 17:28] sswapnesh commented on #22354
@Yenthe666 I can confirm this behavior. Even you cannot use `sum` or `average` in group by also.

[2018-01-18 17:46] sswapnesh commented on #22353
@yousef-soliman
I can confirm this Issue and can reproduce it on [Runbot](http://295137-11-0-66a95d.runbot13.odoo.com/web?debug#id=1&view_type=form&model=mail.mass_mailing.campaign&menu_id=219&action=258).

![](https://image.prntscr.com/image/gCYiyffWQgqtEA7MyvMyUw.png)

Here is the code: [https://github.com/odoo/odoo/blob/11.0/addons/mass_mailing/models/mass_mailing.py#L530](https://github.com/od

[2018-01-18 18:04] georgeppts opened #22355 "While trying to restrore more than 300MB memory producing restore error"
Impacted versions: 10.0

Steps to reproduce: Take backup from web/database/manager. DB size should be more than 300MB

Current behavior: Database restore error:

Expected behavior: DB need to restore

Video/Screenshot link (optional):

[2018-01-18 18:06] sswapnesh opened #22356 "[11.0] Could not Validate Incoming Picking"
Impacted versions: 11.0

Steps to reproduce: Performed on [Runbot](http://295137-11-0-66a95d.runbot13.odoo.com/web?&debug=#id=287&view_type=form&model=stock.picking&action=539&active_id=5) --> Click on Validate

Current behavior:  Warning On Screen `Record does not exist or has been deleted.`

In Cosole:
`Server application error {"code":200,"message":"Odoo Server Error","data":{"exception_type":"

[2018-01-18 18:06] sswapnesh commented on #22356
@sle-odoo
Could you please check it?

[2018-01-18 18:07] goliveirab commented on #22313
@Yenthe666
Here you can watch the video: https://drive.google.com/file/d/1F319l5Rsc5vgItKeBjfVK0FqgNOxZ3I_/view?usp=sharing

[2018-01-18 19:01] sswapnesh opened #22357 "[10.0/11.0] RedirectWarning type exceptions are not handled well."
Impacted versions: 10.0/11.0

Steps to reproduce: Performed on [Runbot](http://295115-sodexis-10-0-fix-authorize-card--171ce8.runbot11.odoo.com/web?#model=res.users&action=import) --> Perform an Operation python Which generates RedirectWarning type exceptions in python code.

On Runbot:
Try to import Users from CSV file without login column
 v10.0
![screenshot from 2018-01-19 00-27-56](https://use

[2018-01-18 19:15] sswapnesh commented on #22349
Hello @metlaivan
I don't think this menu should be used to Print Report, It is there to Configure that report. (It is same in v10 too)

These are report types.
![](https://image.prntscr.com/image/dA4uLuuKQFC-a1OANMSzrA.png)

Which is used here to Print Individual report
![](https://image.prntscr.com/image/HnxfqlDHRNKNpFXG3Dlb9A.png)

![](https://image.prntscr.com/image/EFz3nj74TJe0NEIGIqIbFg.png)

[2018-01-18 19:30] sswapnesh commented on #20203
I think action and view both should be removed in master as view_id `view_partner_tree2` is not used at any other place.

[2018-01-18 19:49] sswapnesh commented on #21675
@JKE-be
Thanks for the Update.

I will check once again If the same flow works till Invoice/Payments as Both Partner and Product will have different accounts belongs to different companies.

[2018-01-18 19:55] sswapnesh commented on #21979
@JKE-be
You can close this Issue. (Not sure if it has been forwarded to v11 or not)

[2018-01-18 20:10] #21979 closed

[2018-01-18 20:52] treviser commented on #16744
I always get a 400 if I try to delete my own comment for example.

[2018-01-18 20:56] eburghar opened #22358 "sometimes tax cash based move lines are marked with tax_exigible = True after invoice validation"
Impacted versions: 11.0

Steps to reproduce: Define a purchase tax based on payment, create a supplier bill with one line and validate.

Current behavior: On tax report, we can see the tax without Net (net line has tax_exigible = False but not the tax line)

Expected behavior: No tax before payment received

The following code on `addons/account/models/account_move.py` is wrong

[code]

`tax_ids`

[2018-01-18 21:08] Elkasitu commented on #22355
Are you sure you're on the latest revision? Because we recently [merged a PR](https://github.com/odoo/odoo/pull/22131) which _should have_ fixed this.

[2018-01-18 22:04] fmdl commented on #22282
@alexkuhn @Elkasitu @Yenthe666  I have made some more test, and some things is wrong.

**Test 1**
-Create a binary field `an_binary` and other field `an_integer`
-Add `an_binary` and `an_integer`  in a view
-Add this code in python code
[code]
Then
-Create a new record
-Add a file in `an_binary`
-Add a value in `an_integer`
-You see in log the file en base64 --> it is OK
-Save record
-Edit record

[2018-01-18 23:16] GavyMG opened #22359 "[11.0] Default value for company in payslip can be overwritten to no company"
**Impacted versions:**
11.0

**Steps to reproduce:**
create a payslip for an employee without company

**Current behavior:**
company_id change from default company to no company

**Expected behavior:**
If the employee has no company keep the default company.

**FYI:**
Employees may not have company (for example) if a multiple-company needs to see all employees regardless of which company they belo

[2018-01-19 00:38] lukebranch commented on #18811
Stable is now here as of the 18/01/2018:

http://blog.getbootstrap.com/2018/01/18/bootstrap-4/

It would be great to have BS4 in Odoo 12.0

[2018-01-19 01:08] ventilooo opened #22360 "[BUG] [10.0] ACCESS ERROR CRM.TEAM"
Impacted versions:
* Odoo 10.0+e-20171030 (Enterprise Edition)
     * EE sha: 94778b813a03b29b005735235c2e7fe06c066034
* Postgres 9.4

Steps to reproduce:
1. Install `CRM` module
2. create a **Test User** with only `employee` and `see_own lead right`
3. Enable in `CRM` configuration _**Use leads if you need a qualification step before creating an opportunity or a customer**_
4. Connect as the **Te

[2018-01-19 06:38] Yenthe666 commented on #18811
Hi @lukebranch,

Indeed, I saw the release notes today too!
@JKE-be this is your cue to add it in the master version. 😄

Regards,
Yenthe

[2018-01-19 06:44] synersyserp opened #22366 ""Exception: bus.Bus unavailable""
Impacted versions: Odoo 8.0

Steps to reproduce: Installed Odoo 8, configured nginx proxy, set workers to any number

Current behavior: System get randomly displaying Internal Server Error in page, and thus need too restart the server for it to be usable, error log always have this error "Exception: bus.Bus unavailable"
Months ago, this only happens when I set the value of workers to >0. now even

[2018-01-19 06:55] lem8r commented on #11337
@JKE-be yes, I do :+1:

[2018-01-19 07:07] #11337 closed

[2018-01-19 07:49] Yenthe666 commented on #22349
Mhmm, I believe so too. However the print option is there and it is in fact broken.
@mart-e final call up to you 😉 I guess a minor fix to make the minimal report work would be fine.

[2018-01-19 07:52] knk-kanak opened #22368 "[9.0][mail] email from in mail template is not taking current users email id."
Impacted versions: 9.0

Steps to reproduce:

1. In Settings > Email> Outgoing mail server i had configured my gmail smtp.
2. Now From Odoo i am trying to send RFQ/PO/SO by send mail button.

Current behavior: In "Email From" it always taking my outgoing mail server email id

Expected behavior: "Email From" should be current user's email id instead of outgoing mail server email id.

[2018-01-19 07:57] Yenthe666 commented on #22366
Hi @synersyserp,

At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.
Sorry!

Regards,
Yenthe

[2018-01-19 07:57] #22366 closed

[2018-01-19 09:09] Yenthe666 commented on #22355
Indeed - this should have been handled. Before this commit I've had multiple databases with a bigger size working too though.
@georgeppts how much RAM does your server have by the way?

[2018-01-19 09:09] Yenthe666 commented on #22358
@qdp-odoo could you check? If you approve the concept I'll make a PR to help you.

[2018-01-19 09:55] astirpe commented on #14985
Maybe I'm too late: https://github.com/OCA/hr/pull/350

[2018-01-19 10:23] jem-odoo commented on #21960
Hello,

actually, this is not a supported feature. Since it may be cool, i'll transmit it to the concerne team. Maybe it will be available in futurue version.
Thanks.

[2018-01-19 10:23] #21960 closed

[2018-01-19 10:34] jem-odoo commented on #10015
Hello,

unfortunately, the hr_timesshet_sheet module is not really supported in 9.0, this is why it is in accessible only in debug mode.

Regards

[2018-01-19 10:54] jem-odoo commented on #16313
Hello,

Unfortunately, we can not fix this in stable version 10.0. This problem was known and should be fixed in version 11.0, please check it ;)
For 9.0 and 10.0, we definitely avoid big functionnal changes.

Regards

[2018-01-19 11:44] #22164 closed

[2018-01-19 11:44] #22191 closed

[2018-01-19 11:53] feketemihai commented on #14985
@TimvM @ploegvde @njeudy @astirpe @pedrobaeza Can you check and review [OCA/hr#401](https://github.com/OCA/hr/pull/401) with the latest updates, added the number of hours just like days, (probably a rounding method to hours should be implemented, not yet).

[2018-01-19 12:03] #22356 closed

[2018-01-19 12:08] jem-odoo commented on #18252
Hello,

To access project and task as portal user, you have to install website_project module. This provide the customer portal in which you can find all your documents (sale order, project, issues, invoices, ...).
Portal users should not access '/web' page anymore, this is empty for them.

Regards

[2018-01-19 12:08] #18252 closed

[2018-01-19 12:15] #22140 closed

[2018-01-19 12:15] jem-odoo commented on #22140
Thanks for reporting, it was indeed a bug.
Regards

[2018-01-19 12:16] gustavovalverde opened #22378 "[11.0] requirements.txt giving error message while updating from it after windows conditional"
#### Impacted versions:
11.0

#### Steps to reproduce:
Update from requirements.txt after commit 3ede4c72df9e22a2b0c3129edc20d69201de2520
Using this command: `cat requirements.txt | xargs -n 1 pip install --no-cache-dir`

#### Current behavior:
This error:
[code]
Expected behavior:
No error, maybe instead a warning. But this might need a more complex requirements.txt conditions.

cc: @qdp-odoo

[2018-01-19 12:22] jem-odoo commented on #11022
Hello,
Indeed, since many version you can timesheet on archived projects. It seems that the case was never thougth ^^". Now that we are avare of it, we will try to prevent this to happen.
Unfortunately, for stable version, as the fix would required to add related field, we can't fix this in 9.0, 10.0 or 11.0. Timesheet on project will change for v12, so we will try to include this in future dev.
T

[2018-01-19 12:22] #11022 closed

[2018-01-19 12:22] Yenthe666 commented on #22356
Thanks for the very quick fix @sle-odoo! Great job.

[2018-01-19 12:23] Yenthe666 commented on #11022
@jem-odoo did this get an internal Odoo task?

[2018-01-19 12:23] gustavovalverde opened #22379 "[10.0] [11.0][EN] Opening a New Tab from an Odoo's menu, removes all menus on the new tab."
#### Impacted versions:
10.0, 11.0, maybe 9.0

#### Steps to reproduce:
Using Chrome, right click on a menu, open a new tab from it
![image](https://user-images.githubusercontent.com/16890942/35150752-ef2caae8-fcf1-11e7-8fcd-30b004b51980.png)

#### Current behavior:
The opened tab, most of the time hides all menus, making it necessary to always refresh
![image](https://user-images.githubuserconten

[2018-01-19 12:24] yung-wang commented on #22140
You're welcome. Thanks for researching this!

[2018-01-19 12:24] gustavovalverde commented on #22379
@Yenthe666 ping, as I don't know who deals with UI

[2018-01-19 12:28] Nick-OpusVL commented on #20269
This fix hasn't appeared in the official Odoo docker containers (odoo:10.0 and odoo:11.0) yet.

Any chance someone could trigger a new build on those?

[2018-01-19 12:33] gustavovalverde opened #22380 "[11.0][10.0] Creating a Bank Journal should set it related account as reconcile by default"
#### Impacted versions:
11.0 10.0

#### Steps to reproduce:
Create a new Bank Journal
Do not specify an Account

#### Current behavior:
The newly created account `reconcile` option is not set as True

#### Expected behavior:
Bank and Cash accounts should be (by default) reconcilable, otherwise if needed after doing a transaction, it can't be changed.

It's easier not to use the feature, than wanti

[2018-01-19 12:37] gustavovalverde opened #22381 "[11.0] A Cash Journal shouldn't have the "check" payment method as an option"
#### Impacted versions:
11.0

#### Steps to reproduce:
Create a Cash Journal

#### Current behavior:
In the Payment Methods, there's `check` option

#### Expected behavior:
No way to have the check option if the journal is not Bank type

[2018-01-19 12:40] Yenthe666 commented on #20269
@Nick-OpusVL a new update of the docker image is planned to happen soon (but there is no specific date)
CC @sle-odoo the docker master.

[2018-01-19 12:40] gustavovalverde opened #22382 "[11.0] Journals shouldn't show the "Available in the PoS" if the point_of_sale is not installed"
#### Impacted versions:
11.0

#### Steps to reproduce:
Do not install the "point_of_sale" module
Create a new Journal

#### Current behavior:
It shows the option to add it to the Point of Sale as a payment option.
After installing the "point_of_sale" module, it also adds a Tab on the journal for the Point of Sale, but it has no options inside.

#### Expected behavior:
Maybe this option was meant t

[2018-01-19 12:41] Yenthe666 commented on #22379
Ah yes, this one, I've seen it many times and I personally hate it too.
I believe @adr-odoo falls under this one too. (CC @mart-e)

[2018-01-19 12:41] dipsshah42 commented on #22333
Hello @Yenthe666 ,

Hope you are doing great !
Can you please check this ?
Many Thanks.

[2018-01-19 12:46] sle-odoo commented on #20269
@d-fence

[2018-01-19 12:50] Yenthe666 commented on #22333
Hi @dipsshah42,

I'm honestly not sure who is responsible for this or who can verify it. @mart-e can you check?

Regards,
Yenthe

[2018-01-19 12:51] Yenthe666 commented on #22382
@qdp-odoo probably relevant for you.

[2018-01-19 12:53] Yenthe666 commented on #22378
Hmm not really for qdp though. @xmo-odoo or @d-fence this is most likely for one of you.

[2018-01-19 12:55] gustavovalverde opened #22383 "[11.0][EN] Do not include "Draft" Journal Entries in the Accounting Dashboard balance"
#### Impacted versions:
11.0 (as far as tested)

#### Steps to reproduce:
Create a Journal "Test Bank"
Go to the Dashboard and it has 0 balance
![image](https://user-images.githubusercontent.com/16890942/35151770-fe42ce00-fcf5-11e7-8253-327c27b43a4f.png)

Create a draft Journal Entry to use later, just save it, do not confirm it.
![image](https://user-images.githubusercontent.com/16890942/35151869

[2018-01-19 13:07] qdp-odoo commented on #22378
wrong command line... I guess you didn't try using
[code]

[2018-01-19 13:07] #22378 closed

[2018-01-19 13:12] flh commented on #22226
After some more testing, the suggested workaround (watch "reconciled" instead of "state") yields fewer duplicates but unfortunately some of them still happen.

[2018-01-19 13:21] d-fence commented on #20269
@sle-odoo I agree, seems a good opportunity to update the docker image. I will do it soon

[2018-01-19 13:21] qsm-odoo commented on #20877
Hello,

The bug has been fixed in 9.0 with commit https://github.com/odoo/odoo/commit/216edc206c73cbde193e178c91d71d565c2097dc, it will be available in 10.0 as soon as possible.

[2018-01-19 13:21] #20877 closed

[2018-01-19 13:46] gustavovalverde opened #22386 "[11.0] Payment reconciliation does not give the same result as paying an Invoice directly"
#### Impacted versions:
11.0, but there's also a similar behavior when doing bank reconciliation with invoices in 10.0

## Good Scenario
#### Steps to reproduce:
Create multiple invoices for the same partner, all of them in the **Open** state
![image](https://user-images.githubusercontent.com/16890942/35152591-57a244e6-fcf9-11e7-8211-6ad1439b3bfb.png)

Make a Partial payment of two (2) of the invo

[2018-01-19 13:47] gustavovalverde commented on #22386
@qdp-odoo  This also happens with Bank Reconciliation in v10

[2018-01-19 14:26] sle-odoo commented on #22002
My latest tests show an onchange of 1.5 sec with 500 inventory lines. Can you confirm that you're all facing the same kind of delays?

[2018-01-19 14:32] tpa-odoo opened #22389 "[11.0] URL widget opens links in same tab it should open link in new tab"
Impacted versions: 11.0

Steps to reproduce: go to contacts and click on website link

Current behavior: opens site in same tab

Expected behavior: should open in new tab. in v10 it works as expected.

Video/Screenshot link (optional): http://295554-11-0-f3449f.runbot13.odoo.com/web?#id=8&view_type=form&model=res.partner&action=93

[2018-01-19 14:40] jem-odoo commented on #16996
Fixed at https://github.com/odoo/odoo/commit/2cd74cdd0da1c4403e73ef5f1f2a666684fbe467
It will required a module update to have the fixed applied.
Regards

[2018-01-19 14:40] #16996 closed

[2018-01-19 14:58] qdp-odoo commented on #22383
mmhmmhmhmhmh maybeeee, I suppose... although
* it is debatable
* it is not really breaking anything or a blocking issue
* it is a behavior change, as minor as possible, but still

so I'll change that in master, not in stable.

[2018-01-19 15:12] jem-odoo commented on #19967
Hello,

if I understand well, you set multiple email addresses on the 'email' field of a partner ? This field must only contains one email adress. We don't support multiple email address for the same partner, or you should create different partner (one per email address).
We have no plan to support that kind of use case, sorry.
Regards

[2018-01-19 15:12] #19967 closed

[2018-01-19 15:18] qdp-odoo commented on #22383
closed by https://github.com/odoo/odoo/commit/6c211376f0faa9c72213a2efe2ea1b726d247678

[2018-01-19 15:18] #22383 closed

[2018-01-19 15:34] gustavovalverde commented on #22383
I agree it's debatable, there might be moments in time where you would like to see this information (when loading initial balances or in the first weeks of an implementation).

It could also be a configurable option.

[2018-01-19 17:39] guidev224 opened #22395 "Cannot display log messages from server action"
Impacted versions: 8.0

Steps to reproduce: Use the log object within a server action like log("My message")

Current behavior: name log is not defined

Expected behavior: Display log message from server action

Video/Screenshot link (optional):

@Yenthe666 any help?

[2018-01-19 18:31] lem8r commented on #22002
40 secs after 309b6b8 vs 200 secs for 3k PO lines.
Totally doable delay for PO with 200 lines.
Massive improvement in my case.
Thank you!

[2018-01-19 18:34] flyingL123 commented on #15589
Hi, I am receiving a related error when trying to create multiple procurement orders within a loop. I've created a server action with the following code:

[code]

If the `record` on which this method is called has multiple `lines`, I receive an error:

If there is only one `line` on the `record`, then the action works fine and the procurement order is created as expected. Does anyone have any idea

[2018-01-19 19:01] flyingL123 commented on #15589
It looks like this may have fixed it:

    Procurement = env['procurement.order'].with_context(mail_create_nosubscribe=True)

But still, why is this necessary? Is it a bug?

[2018-01-19 19:31] pokapow commented on #16730
I have the same problem but don't understand your solution ? What's Amap ?

[2018-01-19 19:43] flyingL123 commented on #15589
Actually, this may have been a different issue. I think I was accidentally reusing the `fields` object which was causing some sort of collision. I moved the `fields` into the loop, and the issue went away.

[2018-01-19 21:46] pokapow opened #22397 "Can't print any documents: Unexpected end of JSON input"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-01-19 21:47] #22397 closed

[2018-01-19 21:49] pokapow opened #22398 "[11.0] [Docker] Can't print any documents: Unexpected end of JSON input"
Impacted versions:11.0

Steps to reproduce: Run Odoo docker-compose official exemple, in debian 9.

In a fresh Docker install, with Odoo 11, I can't print any document, invoice or whatever. There is a time of 1 minutes charging, and then this error:
[code]

The URL here is OK. I can't find the "the web.base.url paramter in Settings>>Parameters>> Sytem Parameters" as say in this thread: https://www

[2018-01-19 22:57] pokapow commented on #22398
Problem solve: I just remove the upstream parameter in my nginx reverse proxy ... Spent 3h just for that.

[2018-01-19 22:57] #22398 closed

[2018-01-19 23:05] JulioSerna opened #22399 "Wrong behavior adding new line in bank statement"
Impacted versions:
* 11.0

Steps to reproduce:
* Add several lines in bank statement
![bankstatement](https://user-images.githubusercontent.com/7595505/35175704-90ac61f4-fd3a-11e7-8d4b-c2c26944dffd.png)

* then try to add one line and set amount
![account_bank_statement](https://user-images.githubusercontent.com/7595505/35175763-e1b59304-fd3a-11e7-8459-06cae1ab22c2.png)

Current behavior:
The line

[2018-01-20 00:53] TimvM commented on #14985
How can I get/install this module on my Odoo v11 server?

[2018-01-20 05:49] dipsshah42 commented on #22333
No problem @Yenthe666 :)

Have a good day !

[2018-01-20 07:08] Yenthe666 commented on #22333
Thanks you too! Ping me again if you had no response in two weeks.

[2018-01-20 08:36] Yenthe666 commented on #22389
Hi @tpa-odoo,

Thanks for the bug report.
This has been the same behaviour in V9, V10 and V11 though. All smart buttons redirect in the same tab anyways. So in short: desired behaviour and not something that will be changed.

Regards,
Yenthe

[2018-01-20 08:39] Yenthe666 commented on #22395
Hi @guidev224,

Thanks a lot for your bug report but Odoo 8 is no longer supported at this time.
Anyways, you're not using the logging correct. You have to import the logger and then use it:

[code]

Regards,
Yenthe

[2018-01-20 08:39] #22395 closed

[2018-01-20 09:05] guidev224 commented on #22395
Hi @Yenthe666 ,
Thanks for your quick response. My aim is too display a log message from a server action, as you may know Odoo (at least the v8) does not allow import within a server action. That why I think they have made some libraries directly available for the user without having to import them on server actions.
Here is seemingly the available libraries for the v8 according to the content of

[2018-01-20 10:18] ruifranco commented on #21948
I've just done a few tests and all seems OK.

[2018-01-20 10:50] Yenthe666 commented on #22395
Hmm I'll let @mart-e double check this, perhaps he can provide more feedback. As it is for V8, which is no longer supported, there is nothing we can/will change if it doesn't work though.

[2018-01-20 10:50] #21948 closed

[2018-01-20 10:53] guidev224 commented on #22395
Okay, thanks.

[2018-01-20 12:35] cormaza opened #22401 "m2m default_get"
Impacted versions: 11.0

Steps to reproduce:

I create an assistant with trasientModel, in my example it is one that shows the lines of the invoice, where I pass by default in the assistant the taxes and the analytical labels of each line of invoice

The structure of a wizard is as follows, we have a field o2m which has m2m fields within its structure.

By means of default_get, [(0, 0, data)] are

[2018-01-20 13:47] antillia commented on #19942
My logos still do not show up although I've upgrade my odoo 11 to 20180120 CE.

I checked the files in my addon folder to ensure that they had the latest commit to "Render correctly the base64 images in P3".

The files are all updated but I still don't have the company logos showing.

Any help?

[2018-01-20 20:59] Taekus opened #22402 "Error uploading Company Logo"
Impacted versions: Odoo 11, commit 3b80a059ff4305fe10c9b40a3118508b1b849ead

Steps to reproduce: Attempt to upload Company Logo

Current behavior: Error: Expectance

Expected behavior: Accept Image and display as uploaded.

Video/Screenshot link (optional):

Error Displayed:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/fields.py", line 947, in __get__

[2018-01-21 02:05] celm1990 commented on #22401
Hello Christopher, I get same error, is related to framework, but as patch, first  create new recordset and pass values, after show wizard to user.

![image](https://user-images.githubusercontent.com/7775116/35189983-e534c500-fe24-11e7-9839-ba9f3e3ee538.png)
It work fine

On many place get same error, but this patch is solved.

it would be good to correct that in the framework

[2018-01-21 02:51] danger89 opened #22404 "Odoo CSP (Content-Security-Policy) without unsafe-line and unsafe-eval"
Impacted versions: All

Steps to reproduce: Enable CSP (Content-Security-Policy) on server side like Nginx/Apache server.

Current behavior: Web pages will not be loaded when `script-src 'self' 'unsafe-inline' 'unsafe-eval'` is omitted from the Content-Security-Policy header.

Expected behavior: Odoo should work even with CSP enabled without `unsafe-inline` and `unsafe-eval`.

[Read more...](https

[2018-01-21 04:57] sswapnesh commented on #22402
Hello @Taekus
This issues has been resolved last week.
Please upgrade your source code and try again.
Related to #22222 and #22231

[2018-01-21 07:41] jeffery9 commented on #21637
@mart-e @Yenthe666   how about this?

[2018-01-21 09:42] sswapnesh commented on #22399
Hello @JulioSerna
I have tested same on [Runbot.](http://295682-11-0-c5749e.runbot9.odoo.com/web?&debug=#view_type=list&model=account.bank.statement&action=311&active_id=102)

New Lines are added successfully there.

Note: Those lines are sorted based on Dates and Record Id, So In your case date for all lines are same and after saving the may have been moved to fist page.

Adding Line:
![](https:/

[2018-01-21 09:58] sswapnesh opened #22406 "[10.0] Warning should be Improved to modify a posted entry of this journal."
Impacted versions: 10.0/11.0

Steps to reproduce: Create Journal entry --> Post It --> Cancel It.

Current behavior:
Warning on Screen

[code]

Warning is Correct but however "Cancel Journal Entries" module is not installed.

Expected behavior: Warning message should be Improved or It should ask to Install "Cancel Journal Entries" module to allow cancelling entries or module should be Installed by

[2018-01-21 10:04] sswapnesh opened #22407 "[10.0] Could not remove Image from Email template from Configuration"
Impacted versions: 10.0

Steps to reproduce: Performed on [Runbot.](http://295680-10-0-ae6037.runbot13.odoo.com/web?debug#id=36&view_type=form&model=mail.template&menu_id=142&action=169) --> Open Email template --> Try to remove image from Email content

Current behavior: Trackback on Screen

![](https://image.prntscr.com/image/e7bvwTXnQOiFHGYLkM3CxQ.png)

On Backspace:

![](https://image.prntscr.

[2018-01-21 10:20] sswapnesh commented on #22406
Warning should be managed like this

`You should install the mrp_byproduct module if you want to manage extra products on BoMs !'`
[https://github.com/odoo/odoo/blob/11.0/addons/mrp/models/mrp_bom.py#L218](https://github.com/odoo/odoo/blob/11.0/addons/mrp/models/mrp_bom.py#L218)
or
RedirectWarning type Warning with Valid message and "Cancel Journal Entries" module action.

[2018-01-21 12:24] Yenthe666 commented on #21637
More of a question for @sle-odoo as he is for stock. Anyways as this would add a feature it would automatically go in V12 if any new field or big(ger) change is needed.

[2018-01-21 15:06] cytex124 opened #22408 "[BUG?] TransientModel: Onchange sets values --> Button Action values=False"
Impacted versions:
11.0 Community - c5749ef2e302c36e29637be9cdf9a9ae2e5ced90

Here the code:
[code]
[code]

1. Wizard opens -  twofa_type-Selection is False
2.  twofa_type is changed to 'totp'
3. onchange of twofa_type is triggered
4. values like totp_token and totp_token_image are set. I also can see them in the wizard
5. I click on the button - action btn_create_twofa  -  totp_token and totp_tok

[2018-01-21 16:24] XiaoDaJun opened #22409 "[ASK] Ubuntu 16.04 安装Odoo10 连接数据库失败"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-01-21 16:24] XiaoDaJun commented on #22409
如题，参考文档《odoo-10-中文开发指南-更新至第五章》中的操作，在Ubuntu 16.04版以odoo用户登录，前面安装各种依赖文件、从GitHub下载源码等步骤都正常，只有在最后启动服务之前，连接数据库的步骤发生报错，如下，请教各位大神指点：
录入指令如下：./odoo/setup/setup_dev.py setup_pg
收到报错信息：createuser:无法联接到数据库 postgres: 无法联接到服务器：没有那个文件或目录
                                    服务器是否在本地运行并且在Unix域套接字“/var/run/postgresql/.s.PGSQL.5432”上准备接受联接？

[2018-01-21 19:24] sswapnesh commented on #22408
Hello @cytex124
Could you please remove `readonly=1` from that field and try again?

It has been Same since v9 I believe.
There is an OCA module for that. [Read Only Bypass](https://apps.odoo.com/apps/modules/10.0/web_readonly_bypass/)

[2018-01-21 22:58] cytex124 commented on #22408
You are right. Thx!!!

[2018-01-21 22:58] #22408 closed

[2018-01-22 01:19] elicoidal commented on #22409
If you want to get some help from this repo, you'd better write English. Otherwise you should contact the Chinese community

[2018-01-22 01:43] moylop260 commented on #8300
Any news from odoo people?
cc @mart-e @odony

[2018-01-22 02:28] lukebranch opened #22412 "[11.0e] Yodlee Bank Feed Sync Not Working"
<h1>Enterprise Support Ticket #:</h1>
806792
<h1>Impacted versions:</h1>
<ul>
<li>9.0e</li>
<li>10.0e</li>
<li>11.0e</li>
</ul>
<h1>Steps to reproduce:</h1>
<ul>
<li>In Odoo 11.0e, go to: Accounting > Configuration > Bank Accounts</li>
<li>Enter Account Name as Bank Account Name, Account Number, as Bank Account Number, Bank (setup HSBC bank with BIC in Odoo), Set Bank Statements selection as 'Bank

[2018-01-22 02:31] lukebranch commented on #22412
@Yenthe666 @csnauwaert,

Are there any special deployment requirements with Nginx, etc. for using Odoo with Yodlee?

For some reason I am unable to get bank feeds working.

[2018-01-22 04:41] tpa-odoo commented on #22389
Hello @Yenthe666,

May be you misunderstood the point. If it is about smart button or odoo link it is fine. But this is about website URL widget.

on the customer you have site and on click you lost odoo screen which is not good. It should open customer website in new tab only. In previos version also it was opening in tew tab. (yo can check it)

[2018-01-22 04:58] lukebranch commented on #22412
Further to my above comments there is an issue with one popular Hong Kong bank in particular:<br/>

Hang Seng Bank - the URL provided links to the personal Hang Seng Bank bank login.

Hong Kong companies will generally use the 'Business e-banking' login which can be found at the following URL:<br/>
<a href="https://ebusiness.hangseng.com/1/2/">https://ebusiness.hangseng.com/1/2/</a>

In Odoo the Y

[2018-01-22 07:04] yelizariev commented on #15400
PR and link to workaround is here: https://github.com/odoo/odoo/pull/22419

[2018-01-22 07:24] yelizariev commented on #15400
@Yenthe666 with regards to

Grouping by hour is already used in [im_livechat](https://github.com/odoo/odoo/blob/cd48a806ac636806130efcf5c055f73758cb0902/addons/im_livechat/report/im_livechat_report_channel.py#L21-L41), but via workaround

[2018-01-22 07:28] adekock11 commented on #15400
@yelizariev great!!!

[2018-01-22 07:38] Yenthe666 commented on #22402
Indeed, this has been fixed in the meanwhile (just double checked that it is all working fine).
Please update your Odoo source code and it'll be fixed.

Regards,
Yenthe

[2018-01-22 07:38] #22402 closed

[2018-01-22 07:43] Yenthe666 commented on #22407
Hi @sswapnesh,

Thanks a lot for your bug report.
This is indeed a bug:
![image](https://user-images.githubusercontent.com/6352350/35209900-5603f270-ff50-11e7-964f-9252c3e90ec0.png)

@ged-odoo can you let somebody have a look? (CC @qsm-odoo)

Regards,
Yenthe

[2018-01-22 07:50] Yenthe666 commented on #12725
Hi there,

I'm closing this bug report as there has been no feedback & response in quite a long time.
Don't hesitate to respond or reopen this issue if you still face is.

Regards,
Yenthe

[2018-01-22 08:02] Yenthe666 commented on #21898
Hi @Elkasitu,

Did you get around to looking at this yet?
I've just tried it again but it seems to need a minor change instead of the first error report.
Now you should have developer mode activated the whole time to trigger it.
The issue for the white page is still present in V9 community too.

Regards,
Yenthe

[2018-01-22 08:06] lukebranch commented on #22412
Further to my comment here:
https://github.com/odoo/odoo/issues/22412#issuecomment-359325463

Bank of China [HK] login URL is here:
https://cib.bochk.com/login/cib_login012_e.jsp

[2018-01-22 08:37] ThijsvOers opened #22422 "[11ce] field project_time_mode_id not set in multi company environment"
Impacted versions: 11 community edition.

Steps to reproduce:
Create a new company A, connect user B to that company (on the employer menu), then
write a time sheet line in company A for user B on a project.

Current behavior:
The field Unit of measure of the time sheet line (in this case 'hours') is empty. As the UoM is empty, invoicing the time sheet line is not possible.

Expected behavior: The

[2018-01-22 09:05] astirpe commented on #22422
I confirm this issue.

**Causes**
The field `project_time_mode_id` is defined in module `project` and used by module `sale_timesheet`. In a multicompany environment here is what happens:

- When creating a new company, the value of `project_time_mode_id` is not set (indeed there is not any default value defined).
- There is no way to set a value for that field. In V10 it was possible to set that v

[2018-01-22 09:13] Yenthe666 opened #22423 "[10.0] Invalid price calculation for delivery methods?"
Impacted versions: 10.0; 11.0 (slightly different behaviour)

Steps to reproduce:
1. Activate the option "Allow adding shipping costs" under sales > settings:
![image](https://user-images.githubusercontent.com/6352350/35212581-e9ee63b2-ff5a-11e7-8435-18888b4b862e.png)
2. Create a new delivery method under inventory > settings:
![image](https://user-images.githubusercontent.com/6352350/35212684-3d7

[2018-01-22 09:14] Yenthe666 commented on #22423
@sle-odoo can you check / give feedback? I'm going to guess that I'm the idiot here but ok.

[2018-01-22 09:18] adr-odoo commented on #22331
Hello,

This is the 9.0 community.
This is not supposed to be mobile optimized.
I only fix blocking issues.

Sorry about that.
Regards,

[2018-01-22 09:18] #22331 closed

[2018-01-22 09:36] syarofanz opened #22424 "ProgrammingError: can't adapt type 'crm.activity'"
I using crm module, but i have a problem. Every i change stage of lead with actvity column not null always error 'ProgrammingError: can't adapt type 'crm.activity', help please

[2018-01-22 09:37] Yenthe666 commented on #22424
Hi @syarofanz,

Thanks for your bug report.
We'll need more information in order to check/verify this bug.
- Which Odoo version are you using?
- What steps did you do to get this issue and how can we reproduce it?
- Can you reproduce it on an official Odoo test instance (at runbot.odoo.com) or on the latest source code?

Regards,
Yenthe

[2018-01-22 09:43] lap-odoo commented on #18565
Hello,

I have a question regarding "inversion del sujeto passivo". Should it be included in the base imponible or not? In the tax report of version 10, inversion del sujeto passivo is subtracted from the base imponible but we are wondering if it shouldn't be added to the base imponible.

That's what I understood from [here](https://www.bbva.es/general/finanzas-vistazo/empresas/inversion-sujeto-pa

[2018-01-22 09:59] sswapnesh commented on #22423
Hello @Yenthe666

I believe it is because of Multi-currency.
Product price is in USD and Sales Order is in EUR.

[2018-01-22 10:11] sswapnesh commented on #22423
However Is should not display 50.00 EUR -> Set Price there.
Should be converted amount over there.

[2018-01-22 10:26] Yenthe666 commented on #22423
Hi @sswapnesh,

I've been testing a bit further and this behaviour is really screwed. On the company you can set the currency and choose between EUR/USD/...
Depending on how you configure the company and if you have activated multi currency or not you'll get other numbers all the time. Let me list them one by one.

1.
- The company its currency in EUR.
- Multi currency is not activated
- Pricelist

[2018-01-22 10:33] sswapnesh commented on #22423
Also It is not only for delivery price calculation. It is same for any product in Sale Order or Invoice line.
Product price will be in Company currency always and depend on the Pricelist's currency it will be converted in line.
Not sure but you can also check Issue #22310 where Currency rates conversion looks odd.

[2018-01-22 10:38] Yenthe666 commented on #22423
OPW 806844  by the way.

[2018-01-22 10:49] sswapnesh commented on #22423
1: 50 EUR --> 50 EUR Correct
2: 50 EUR --> 61.28 USD Correct
3: 50 EUR --> 50 EUR Correct (double Checked in local server as well.)
4: 50 USD --> 40.80 EUR Correct
5: 50 USD --> 50 USD Correct

Activating Multi currency will not matter here I guess.

[2018-01-22 10:55] Yenthe666 commented on #22423
@sswapnesh it should though. When multi currencies is not activated it shouldn't apply currency conversion in my opinion though.

[2018-01-22 10:55] tuomoaura commented on #22304
We really need this view type.

[2018-01-22 10:57] aisopuro commented on #20108
@sle-odoo are there any plans to replace the tree view with a new version at some point so that these hierarchical view types could be restored?

[2018-01-22 11:04] sswapnesh commented on #22423
@Yenthe666 Sorry to say but I don't think so.
That's the way Pricelist should work.
Better to wait and hear from odoo officials what they suggests.

[2018-01-22 11:04] dinosaurkfb opened #22425 "[odoo.sh] Errors when building 11.0 branch in odoo.sh."
Impacted versions:
Enterprise V11.0

Steps to reproduce:
Build 11.0 branch in odoo.sh

Current behavior:
see errors below:

`

01/22/2018 17:29:12 | WARNING | server | Tax Base Amount not computable probably due to a change in an underlying tax (IVA 21% Compra).
-- | -- | -- | --
01/22/2018 17:29:35 | WARNING | server | Tax Base Amount not computable probably due to a change in an underlying tax (

[2018-01-22 11:17] feketemihai opened #22426 "Odoo Builds raise Warning from phonenumbers"
Impacted versions: 11.0

Steps to reproduce:
All builds from OCA raise a Warning because phonenumbers library is not installed
check
https://github.com/OCA/l10n-spain
https://github.com/OCA/l10n-romania

Current behavior:
phonenumbers library is not installed.

Expected behavior:
phonenumbers to be included in requirements.txt file and to be install at build.

Video/Screenshot link (optional):

[2018-01-22 11:25] Yenthe666 commented on #22423
@sswapnesh but also for delivery methods? Not sure. But indeed pet us see what Odoo itself says. I guess it depends a bit on your point of view.

[2018-01-22 11:31] sswapnesh commented on #22423
Yes, also for delivery methods as well.
After all they are Products.

[2018-01-22 11:53] xmo-odoo commented on #22426
It's a warning because the library is not required, you don't *have* to use it, but at the same time the installer is warned that there will be no phone numbers validation. If it were required, it'd be a requirement, but it's not.

[2018-01-22 11:53] #22426 closed

[2018-01-22 12:12] aisopuro commented on #20108
Cool. Will it make it to either the community or enterprise versions of 11.0 soon after that @sle-odoo?

[2018-01-22 12:15] sle-odoo commented on #20108
no new features will be added to v11, so it'll be for v12. and i suppose it'll be in community.

[2018-01-22 12:16] feketemihai commented on #22426
@xmo-odoo I agree with you, but even the library should be put as external_dependencies on https://github.com/odoo/odoo/blob/bd760f074688fd92c96fd75ec33231bb9c3e7eff/addons/phone_validation/__manifest__.py, no?

[2018-01-22 12:16] mge-odoo commented on #22401
Bad reference, the mentioned commit was for the issue #22353

[2018-01-22 12:23] mge-odoo commented on #22353
Hi @yousef-soliman

Thanks for reporting the issue.

The flag `initial_view` was in fact working by chance in 10.0 because the view attribute has the same name.

We have tried to clean up the options (and even more in 12.0) to avoid multiple options for the same behavior.

You can use `form_view_initial_mode` in the action context to do what you described.

@sswapnesh thanks for your contribution,

[2018-01-22 12:27] #22120 closed

[2018-01-22 13:15] amigrave commented on #22425
@dinosaurkfb The problem is that you are embedding a complete version of Odoo in the repository you registered on Odoo.sh. You are not supposed to do this as the Odoo (w/enterprise and theme) repositories are already included by default, so what you are basically including Odoo twice.
Your user repository should only contain your own modules.

PS: Please do not use the github issue tracker for Odo

[2018-01-22 13:15] #22425 closed

[2018-01-22 13:43] #22353 closed

[2018-01-22 13:43] almustafago opened #22431 "odoo 11 - cannot upadte apps list"
Impacted versions: odoo v 11

Steps to reproduce: after activate developer mode i click on update apps list ,, but no response

Current behavior:
work under odoo bitnami cloud
Expected behavior: there is bug in image

Video/Screenshot link (optional):
![display](https://user-images.githubusercontent.com/15360515/35223683-5bea9b9c-ff93-11e7-8426-651ed39d8339.PNG)

[2018-01-22 14:11] sswapnesh commented on #22431
Hello @almustafago
Looks like some python Library import error.
Could you please share server log?

[2018-01-22 14:14] sswapnesh commented on #20108
@sle-odoo  I think @aisopuro  is taking about hierarchical tree views not only BOM reprt.

[2018-01-22 14:19] aisopuro commented on #20108
I mean I guess. It'll be less of a pain to reimplement if the view type is available in Odoo 11 at some point, even if the BoM hierarchy itself isn't available. But I get the feeling this is one of those "too big of a change to introduce in the middle of a version" type of deals. :suspect:

[2018-01-22 15:05] sswapnesh commented on #20108
Agree @aisopuro
@sle-odoo There is one more Issue related to this #22304 (PR was rejected due to Stable Policy #22312)

[2018-01-22 15:05] dinosaurkfb commented on #22425
Got it, thank you!

[2018-01-22 15:29] sswapnesh commented on #22389
@Yenthe666 I agree with @tpa-odoo
It should open the link on the new tab like V9 and V10.

[2018-01-22 15:37] Yenthe666 commented on #22389
@tpa-odoo and @sswapnesh are you guys talking about an URL in a webpage or? Please add some screenshots / videos or something 😄

[2018-01-22 15:40] sswapnesh commented on #22389
We are talking about `widget=url ` in form view.

![](https://image.prntscr.com/image/th2HJDs7TQKu7WBa-BOh6g.png)

[2018-01-22 15:43] flyingL123 commented on #16546
Has this been worked on? I'm noticing that I am getting much more detailed error messages all of a sudden. I'm using sass-14.

[2018-01-22 15:51] sswapnesh opened #22433 "[11.0] TypeError: 'frozendict' object is not callable"
Impacted versions: 11.0

Steps to reproduce: Performed on [Runbot](http://295908-11-0-fixes-mge-8b5440.runbot14.odoo.com/web?debug#id=8&view_type=form&model=res.partner&menu_id=72&action=93) --> Go to Contact --> Action Send SMS

Current behavior:  Tracback on screen

![](https://image.prntscr.com/image/7enCV2qlQDGyt9FjXgvedw.png)

![](https://image.prntscr.com/image/aPnE0m-oTIa48UmPa5hyog.png)

E

[2018-01-22 15:56] Yenthe666 commented on #22389
Ahh, now this makes sense. This behaviour has changed indeed and I do agree the previous way (a new tab) was better.
@ged-odoo was this done by accident in the JS framework rewrite?

[2018-01-22 15:57] Yenthe666 commented on #16546
@flyingL123 nothing that I've seen passing but if you're getting better detailed errors I guess somebody did 😄

[2018-01-22 15:59] Yenthe666 commented on #22433
@xmo-odoo probably for you? This is indeed a bug.

[2018-01-22 16:10] ged-odoo commented on #22389
We always tried to keep the previous behaviour, unless it did not make sense.  In this case, the previous widget inherited from FieldEmail, which added the target=_blank attribute.  I assume that when we rewrote the FieldURL, we did not see it.  This is a bug, and really easy to fix.

[2018-01-22 17:03] simahawk opened #22438 "404 page not found does not respect HTTP status"
**Impacted versions:** 11

**Steps to reproduce:**

Go on runbot, open a v11 and access a non-existing page, like `/page/foo`

**Current behavior:**

HTTP STATUS = 200

**Expected behavior:**

HTTP STATUS = 404

**Video/Screenshot link (optional):**

**v11:**
![image](https://user-images.githubusercontent.com/347149/35233411-635661a8-ff9e-11e7-882a-f5b5d531e6e7.png)

**v10:**
![image](https://user

[2018-01-22 20:17] celm1990 commented on #21511
Any solution???

[2018-01-22 20:23] zodiacfireworks commented on #19661
I have the same issue in Community Version 12.0alpha1 downloaded yesterday

![image](https://user-images.githubusercontent.com/4976355/35242571-f1053dec-ff87-11e7-8c47-8d93944ccc68.png)

[2018-01-22 21:33] gralet opened #22440 "Backorders not created anymore"
Impacted versions:
V11   (community + enterprise)     (Reproduced on runbot)

Steps to reproduce:
1- Create a purchase order containing 2 different stockable products
2- Validate PO
3- Go on the Receipt picking
4- Set "Done" quantity = "Initial Demand" on one of the 2 products
5- Validate Picking
6- Choose "Create Backorder" on the backorder wizard

Current behavior:
The backorder is NOT created

[2018-01-22 21:47] JKirega commented on #4547
I have tried using the same `<t t-debug="pdb"/>` in the Qweb reports but i  cant get the breakpoint. My server keeps running as though there is no breakpoint.

[2018-01-23 06:48] xerxesnoPT opened #22442 "using button context will affect one2many field in sale_crm module ?"
Steps to reproduce:
- i inherit the view (external id = "sale_crm.crm_case_form_view_oppor") in "sale_crm" module.

[code]

- i want to using context to passing the default value for sale.order's "name" field. i found that when i add "default_name" key in context. this context will affect the one2many field "order.line". in "sale.order.line" . when i add new record .the product's description( it u

[2018-01-23 07:14] Yenthe666 commented on #19661
@zodiacfireworks 12.0alpha1 is the master version and is under construction at all times. Don't ever use the master version / 12.0 alpha in production.

[2018-01-23 07:20] Yenthe666 commented on #22440
@sle-odoo important one for you regarding backorders.

[2018-01-23 07:35] feketemihai commented on #20497
@lap-odoo I think i'm done with all the modifications, can you please review...

[2018-01-23 07:45] sswapnesh commented on #22440
@sle-odoo
I can confirm this issue to.
Main method to create backorder `_create_backorder` is not called.

Since v10 _create_backorder was called from do_transfer method from Backorder Wizard.
Wizard:
https://github.com/odoo/odoo/blob/10.0/addons/stock/wizard/stock_backorder_confirmation.py#L26
Method:
https://github.com/odoo/odoo/blob/10.0/addons/stock/models/stock_picking.py#L911.

In v11 it is

[2018-01-23 08:11] lap-odoo commented on #20497
@feketemihai Thanks, we will start the review

[2018-01-23 08:26] kebeclibre commented on #21525
closed at 296c5a2

[2018-01-23 08:26] #21525 closed

[2018-01-23 08:29] MTantin opened #22443 "[10.0] website_sale: Show product quantity as integer in order confirmation"
## Current behavior
Currently, in Odoo 10.0, with website_sale module installed, the quantity behavior is not the same in the full workflow for frontend templates. To reproduce this workflow, you just have to buy some demo products on website shop.

For example: in cart_lines template, we show quantity as integer
[code]
![image](https://user-images.githubusercontent.com/4457345/35264533-693a0b40-0

[2018-01-23 08:42] digitalsatori commented on #22442
the `default_X` in the context of parent object should not be passed into 2Many child object. This sounds a bug to me.

[2018-01-23 08:57] jzaburunov commented on #3749
Here is my adaptation of fullcalendar 2.x for odoo 10 https://github.com/jzaburunov/groupcal

[2018-01-23 09:43] syarofanz commented on #22424
Hi @Yenthe666

- Now i'am using odoo version 9
- If  i change stage of lead with activity column not null always error 'ProgrammingError: can't adapt type 'crm.activity'

[2018-01-23 09:52] Yenthe666 commented on #22424
@syarofanz this seems to work fine on the latest V9. Can you please try to reproduce it on an official runbot (at runbot.odoo.com) and add the steps that you did to trigger this issue?
Have you updated your Odoo to the latest source code?

Regards,
Yenthe

[2018-01-23 10:06] intero-chz commented on #22442
I would call it a feature. You can handle the default with another context value like `order_default_name` and use that in a default function for field name on `sale.order`.

[2018-01-23 10:09] xabispacebiker opened #22445 "[11.0] Missing account.journal Accounting Dashboard"
Impacted versions: 11

Steps to reproduce: Fresh install

Current behavior: missing Accounting Dashboard

Expected behavior: Link to display the Accounting Dashboard

Video/Screenshot link (optional):

Hello,

On a fresh OCA 11 installation I am missing the Accounting Dashboard link. When the initial action for the user is set to Accounting Dashboard, then the user can access it but there is no li

[2018-01-23 10:28] wiseguuy opened #22448 "Invoice Based on Delivered Quantity is not working in odoo 10 when check the Invoice delivered quantities"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-01-23 11:55] jorunn opened #22449 "Overdue activities blocking new (email) activities"
Impacted versions: Tested with Odoo Enterprise 11

Steps to reproduce:
1. Schedule an activity on a contact/customer and have it go badly overdue (I think the cutoff might be 30 days+ but don't know exactly. EDIT: Just had an activity go just 5 days over and have the same behavior.)
2. Create a new mass mailing campaign with lead or contact (not sales order or mailing list) as the recipient and tr

[2018-01-23 12:50] rafaelbn commented on #10954
Hello, dear all!

Please any plan for this? Any news?

Really @mart-e this is a great headache for customers and for us giving them support. This is a must have in a Mass Mailing tools.

All customers will really appreciate if you could introduce this in v12. And furthermore you can after this say that Odoo could replace Mailchimp (now not, you should say this...)

Thanks in advance for any news

[2018-01-23 12:56] Yenthe666 commented on #10954
Hi @rafaelbn,

I'm not sure who is responsible for mass mailing at the moment, @mart-e should be able to answer that for you though.
I completely agree that we should be able to send fully responsive emails and that the Odoo mass mailing module is not as far/good as Mailchimp. In my opinion this should be added/improved.
P.S: Personal opinion, not from Odoo.

Regards,
Yenthe

[2018-01-23 13:43] #22440 closed

[2018-01-23 14:28] be-cloud-js opened #22458 "[10.0] IBAN check is not checking anything"
Impacted versions:

10 and 11 at least

Steps to reproduce:

Create a bank account with an error in the account number. Generate a SEPA file to execute payments.

Current behavior:

Everything run smoothly without error or warning raised despite the fact the IBAN in the SEPA file is wrong.

The account type is set to BBA but nothing prevents the wrong IBAN to be used in the SEPA file.

See https:/

[2018-01-23 15:10] lap-odoo commented on #22280
@nhomar As discussed, we don't plan to do any changes related to that point in V11 but we'll have a look at your patch when you'll send it :)

[2018-01-23 15:30] gurneyalex commented on #22426
@xmo-odoo problem is some version of the runbot will generate an "orange" build when WARNING logs are found => not nice for CI

It is also not nice to have undocumented dependencies in the main resources, because then you cannot track them. Finally, this state of affair is sad, because your automated testing is likely only testing either the paths with phonenumbers installed or the branches withou

[2018-01-23 16:02] gurneyalex commented on #22426
For the record, we will very probably be adding the library to the requirement.txt of OCA/OCB (https://github.com/OCA/OCB/pull/696)

[2018-01-23 17:08] lasley commented on #22438
IMO this is a fairly high priority issue - 404s returning 200s will absolutely wreck a site's SEO on a long term basis.

[2018-01-23 18:33] mohamedhagag commented on #17503
@fhe-odoo

The real price gets updated after the sale not after purchase.

I did try it many times last weeks with the same result. The process is to
1- buy qty and
2- sell all of it then
3- buy another qty with higher price and
4- try to sell from it
The result is - you will get the old cost instead of the new cost although all old stock sold .

I tried on runbot also,

Product: http://296281-10-

[2018-01-23 20:29] be-cloud-js commented on #22458
I just write a PR in Odoo Enterprise https://github.com/odoo/enterprise/pull/1811

BUT I think the behavior of the account module is weird, it is very unclear when an IBAN is not valid, the acc_type is not shown in the interface.

At least a Warning should be a good idea, no ?

[2018-01-23 21:22] fmdl commented on #22282
Question: some one work on this issue ?

Thanks

[2018-01-24 01:15] xerxesnoPT commented on #22442
@intero-chz thank you very much for your help.
- I really do like this. But is this a bug that context of parent object passed into one2many child object ?
- Usually， when create a new one2many record，there is a `rel_context` dictionary in `odoo/Model.py`(line 3127), the dictionary will filter the `default_` key in context.
- But it doesn't work in my example. i am confused about this。

[2018-01-24 01:57] alan196 opened #22463 "[11.0] Error in loading moment.js with locale es_MX"
Impacted versions:
11.0
Steps to reproduce:
- Create a new database with language es_MX
- Use web/?debug=assets to get the error.

Current behavior:
- White screen.
[code]
I look an issue in this file: https://github.com/odoo/odoo/blob/11.0/odoo/tools/misc.py#L201-L211
I explain inside the code in comments.
[code]
This method is called in: https://github.com/odoo/odoo/blob/11.0/addons/web/controll

[2018-01-24 02:11] alan196 commented on #22463
Entreprise Ticket 807562

[2018-01-24 03:14] dhimasya opened #22465 "TypeError: content_common() got an unexpected keyword argument 'debug'"
Impacted versions:
10

Steps to reproduce:
[code]

Current behavior:
500 internal server error
TypeError: content_common() got an unexpected keyword argument 'debug'

Expected behavior:
file binary downloaded

Note:
i try to switch the debug mode off, issue error solved, but why it unable to download when in debug mode?

Video/Screenshot link (optional):
![screenshot from 2018-01-24 10-04-27](http

[2018-01-24 05:57] dipsshah42 opened #22468 "Adding Security Group in Submenu Throws Error in (v11C/E)."
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

![employees odoo](https://user-images.githubusercontent.com/35560490/35316734-3ac86130-00f9-11e8-9fd5-688c1bd1f4ea.png)

https://youtu.be/6tSoh6A8oic

[2018-01-24 05:57] mybengui commented on #15601
I had the same issue and solved like this:

# mkdir /var/lib/odoo
# chmod -R 777 /var/lib/odoo
# apt-get -f install

That should solve your problem.

[2018-01-24 06:32] sergeiruzkiicode opened #22469 "Print report preview makes html file with pdf extention"
Impacted versions:
11.0 CE.
Steps to reproduce:
Checkout orgin/11.0 version from github (latest commit https://github.com/odoo/odoo/commit/b8f8012af8e9a7b9974a6578133e81ea890b0f23 ), clean base, run odoo-bin. Go to the settings-->Companies-->My Company. Try to print out external or internal report preview

Current behavior:
Browser downloads pdf file, but it is not pdf, but html with pdf extention

[2018-01-24 06:53] feketemihai opened #22471 "'external_dependencies' not documented in manifest"
Impacted versions:
8.0 -> 11.0
Steps to reproduce:

The documentation of __openerp__.py / __manifest__.py doesn't include anymore 'external_dependencies' key.
https://github.com/odoo/odoo/blob/11.0/doc/reference/module.rst

Current behavior:

Expected behavior:
The 'external_dependencies'  to be documented.
If ok i can create a PR.
Video/Screenshot link (optional):

[2018-01-24 07:24] Elkasitu commented on #22471
Thanks for the report, there's actually many more undocumented __openerp__/__manifest__ features, I'll try to update it :^)

[2018-01-24 07:51] intero-chz commented on #22442
@xerxesnoPT I don't know and i can't decide if it is a bug. But it is more a design flaw or just intended as it is. Maybe some framework expert at Odoo (@rco-odoo) can enlighten us.

[2018-01-24 08:02] sergeiruzkiicode commented on #22469
Don't know, what it is, but full clean install of odoo (not checkout, but download-install) has solved the problem. Something goes wrong on my local

[2018-01-24 08:02] #22469 closed

[2018-01-24 08:55] jeffery9 opened #22475 "[11.0] export 60k rows record raise MemoryError"
Impacted versions:
11.0

Steps to reproduce:
when export data that large 60k as excel, it raise python MemoryError.

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-01-24 09:06] #14479 closed

[2018-01-24 09:10] sum1201 opened #22476 "[11.0][BUG]stock.move Poor performance when product have serial number"
Impacted versions:
11.0
Steps to reproduce:

1. product A have serial number
2.I purchase A ,quantity 1000, i confirm purchase order ,It cost my some minutes create 1000 line stock.move.line.(Poor performance)
3.in stock.picking, I input a serial number for product A , odoo cost some minutes to check serial number (Poor performance).
i must wait some minutes to input next serial number

Current be

[2018-01-24 09:14] mart-e commented on #22395
Hello,

Indeed this feature was added in 9.0 at 7d0eb114e3b2cf42af0fe11a5c12839c5e3a6a57 but is not available in 8.0

[2018-01-24 09:35] knk-kanak commented on #22368
hello sir any update this??

[2018-01-24 09:38] sle-odoo commented on #22476
On which commit are you? We removed the constraints and added onchanges in https://github.com/odoo/odoo/commit/6ef460b6a7f0ec46e009da0b339dc676bc850b89#diff-fc6cef81fac5ca3c30afb09ccb60ff4c as, before this patch, the validation had poor performance (around 17 minutes to receive 5000 serial numbers, now it's around 4).

How may serial number do you have to encode? How many move lines?

[2018-01-24 09:40] huoxy opened #22478 "module openacademy: Unmet dependencies: web_gantt"
Impacted versions:
[code]

Steps to reproduce:
According step-by-step exercise of:
https://www.odoo.com/documentation/11.0/howtos/backend.html#gantt

Current behavior:
![image](https://user-images.githubusercontent.com/1237528/35324956-4abbe2ae-012d-11e8-9cf5-6991eac1c9d8.png)

2018-01-24 09:29:21,053 3969 ERROR odoo odoo.modules.graph: module openacademy: Unmet dependencies: web_gantt

Expected b

[2018-01-24 09:45] sle-odoo commented on #22476
I just checked and the creation of 1000 move lines is less than 10 seconds. The onchanges are indeed slowish but they are around 5 seconds max. The view is stuck a little more longer but's because of the o2m re-rendering in the webclient, a problem we know about (@ged-odoo).

You have probably an issue in your installation if it's taking minutes at your end. Is your code up to date? Do you have an

[2018-01-24 10:00] #22401 closed

[2018-01-24 10:01] huoxy commented on #22478
Well, When I removed the `color` attribute, It works.

[2018-01-24 10:02] mge-odoo commented on #22401
Hi @cormaza

Thanks a lot for reporting the issue which wasn't easy to spot.
I has been fixed in 11.0

Regards,

Martin

[2018-01-24 10:06] huoxy commented on #22478
I don't know if this due to `the doc is for 11.0` and my HEAD is `12.0alpha`.

if it is, please provide the latest doc for the latest HEAD,
else please fix the exercise... thanks, it takes me a long time to find the reason...

[2018-01-24 10:07] huoxy commented on #22478
If already has plan to fix this, please close this issue directly.

[2018-01-24 10:17] MainakHaripiyas opened #22480 "Create Product from Many2one field create and edit option having bug."
Impacted versions: 10.0

Steps to reproduce:
1. Go to Purchase Order
2. Click on add an item from order line
3. Try to create new product
4. Add 2 variant attributes
5. Remove last added variant with "X" button
6. Click on Save

Current behavior:
Product didn't save on to the PO line

Expected behavior:
Product should be store to PO line

Video/Screenshot link (optional):
https://drive.google.com/

[2018-01-24 10:27] huoxy commented on #22478
But there is still no Gantt Icon(after upgrading):

![image](https://user-images.githubusercontent.com/1237528/35327260-22ab0bc6-0134-11e8-9afd-61cc5cd8fe2a.png)

[2018-01-24 10:52] mart-e commented on #22354
Hello,

If you want to be able to search or sort on a non-stored field, you need to define a `search` method on that field.
https://www.odoo.com/documentation/11.0/reference/orm.html#field-computed

If you want to be able to sum, you must store it.

[2018-01-24 10:52] #22354 closed

[2018-01-24 10:54] mart-e commented on #21637
Hello,

Sorry but this feature was indeed removed. It was not considered as a mandatory feature during the refactoring and we do not plan to reintroduce it, sorry about that.

[2018-01-24 10:54] #21637 closed

[2018-01-24 11:06] sum1201 commented on #22476
my code had update to date.
I create a new database ,only install purchase, inventory  module.
my test result:

1. I create a prouct  A have serial number.
2. I create a purchase order ,order line have a line ,product is A ,quantity : 3000. I cost one minute to confirm order.
3.I go to stock picking screen in tree view, i cost 0.5 minute  from tree view to form view.
4. in stock picking form view,

[2018-01-24 11:22] sum1201 commented on #22476
if I production product A  10000000 piceces, odoo will One-time establishment of 1000 records...
My God!!!!
Seriously unreasonable design

[2018-01-24 11:29] sum1201 commented on #22476
enterprise Issue 807,588

[2018-01-24 12:13] Yenthe666 commented on #22478
@huoxy in short: you're using documentation for V11 but you're developing against an alpha (master) version. The alpha version should never be used - in this case you're trying this on the upcoming V12 which will be released in october.

[2018-01-24 12:13] #22478 closed

[2018-01-24 12:14] Yenthe666 commented on #22471
Nice, extra documentation! Good job @Elkasitu

[2018-01-24 12:18] Yenthe666 commented on #22468
Hi @dipsshah42,

Thanks a lot for the bug report.
I can confirm that this is a bug. @ged-odoo could one of the guys of your team have a look?
![image](https://user-images.githubusercontent.com/6352350/35331827-07dae864-0109-11e8-9bec-6a57af84e4db.png)

Regards,
Yenthe

[2018-01-24 12:19] Yenthe666 commented on #22438
Yuuup.
@JKE-be or @mart-e can one of you check?

[2018-01-24 12:36] qsm-odoo commented on #19087
Hello,
I indeed saw this bug sometimes but I cannot reproduce it anymore. Maybe it was fixed meanwhile?
I am closing the issue but if you still face the problem, please ask me to reopen.

[2018-01-24 12:41] mart-e commented on #22438
This is definitely something we can improve but not an high priority IMHO

[2018-01-24 12:42] intero-chz commented on #19087
This 1-8 postions problems is coming up if you use tabs instead of spaces in xml files. The editor can't handle it properly. But i don't know if that was fixed.

[2018-01-24 12:48] Yenthe666 commented on #22438
@mart-e whenever it would be changed it would also be neat to have a slightly layouted 404 page too. This one is really basic and not sexy. (no hate)

[2018-01-24 12:54] simahawk commented on #22438
@mart-e "improve"? :open_mouth: Seriously?
Sorry but... **it's broken**. And it's clearly a regression since it used to work.

[2018-01-24 13:02] qsm-odoo commented on #14069
Same as https://github.com/odoo/odoo/issues/14299 (the blog bug has been fixed, the other one is still in discussion).

[2018-01-24 13:02] #14069 closed

[2018-01-24 13:14] JKE-be commented on #22438
Yes, don't worry, we will fix it ASAP

[2018-01-24 13:40] qsm-odoo commented on #18106
Seems like it works for me, it may have been fixed meanwhile

![image](https://user-images.githubusercontent.com/10338094/35334991-7721419a-0114-11e8-91c8-e05a49d2f1ed.png)

Please tell me if this needs to be reopened.

[2018-01-24 13:40] #18106 closed

[2018-01-24 13:46] qsm-odoo commented on #9342
Hello,
Sorry for the huge delay: the bug was fixed since then.

[2018-01-24 13:46] #9342 closed

[2018-01-24 13:49] Elkasitu commented on #22475
Hi, thanks for the report, can you tell me if you have a memory limit different than the default for your instance?

[2018-01-24 13:53] Yenthe666 commented on #7320
This is handled in the meanwhile & all tests should pass! Sorry for the huge delay on the response.

[2018-01-24 13:53] #7320 closed

[2018-01-24 13:56] Yenthe666 commented on #7310
Hi @jbradsha,

Thanks a lot for your report.
This has been handled in the meanwhile:
![image](https://user-images.githubusercontent.com/6352350/35335744-b3cbbeca-0116-11e8-9dd0-c10ff1fc2ab5.png)

Regards,
Yenthe

[2018-01-24 13:56] #7310 closed

[2018-01-24 14:00] huoxy commented on #22478
@Yenthe666 OK, Thanks for explanation, I will try to checkout repo to v11 and test again.

[2018-01-24 14:02] mlaitinen opened #22488 "[10.0][11.0] Odoo is unable to route incoming mail from Windows Outlook client to correct thread if the subject is changed"
**Impacted versions:**
10.0 and 11.0 (at least, most likely with every version)

**Steps to reproduce:**
1. Create a fresh database with demo data
2. Install project management
3. Add an incoming and an outgoing email server
4. Create a partner with an Office 365 email address
5. Add the partner as a follower to any of the demo tasks and send a message in the thread
6. In the Outlook Windows appli