[2017-06-28 13:26] JKE-be commented on #17879
IMHO, if you are not in 'technical' you don't have it... So you are supposed to know what you do...

And if the purpose is to disable a user, that seems logic that the best manner to do is to click on "Disable'.

When you want to archive a lead, you click on archive and don't add an access rule to you user to don't see it again... even if the insterface allow to do it.

[2017-06-28 13:36] xmo-odoo commented on #17834
Should be fixed by 98602e9

[2017-06-28 13:36] #17834 closed

[2017-06-28 13:45] mart-e commented on #17879
I agree with Jeremy. Traceback is never good but you are going in the technical zone, that is the danger zone ! If you misconfigure something, your Odoo can just stop working correctly.

Maybe we should have a message like on firefox ;-)

![screenshot from 2017-06-28 15-39-19](https://user-images.githubusercontent.com/564822/27639895-fdc6190c-5c17-11e7-8ecf-222e8ac7c98d.png)

Regarding the change

[2017-06-28 13:51] Yenthe666 commented on #17879
Hmm something like this woud be great. 😆
Okay @mart-e and @JKE-be let us just label this wishlist for now then? Is that okay for everybody?

[2017-06-28 14:59] #1352 closed

[2017-06-28 15:01] Yenthe666 commented on #1352
Thank you!

[2017-06-28 15:22] lepistone commented on #1864
Thanks @Yenthe666 for cleaning up those old issues!

I gave a look and it appears that the same issue appears in odoo 8.0 and 9.0 https://github.com/odoo/odoo/blob/9.0/addons/stock/stock.py#L773 but disappeared in 10.0 when those fields were refactored to the new API.

[2017-06-28 15:58] Yenthe666 commented on #1864
Hi @lepistone,

Please do create a new issue (or a PR then) 😄 that would be perfect.

Regards,
Yenthe

[2017-06-28 17:46] aricaldeira commented on #17778
Hello, @Yenthe666 ,

Today, each country creates its own localisation, that may conflict, and often times do conflict, with the localisation of other countries;

Views are changed, methods modified, required fields are inserted, and all that, for all practical terms, makes impossible for an organisation that needs to work in more than one country use the same Odoo instance to manage both their bra

[2017-06-28 19:31] Yenthe666 commented on #17778
Hi @aricaldeira,

Thank you for adding more details. However, from my point of view, I still don't see any concrete problem or issue. You can have multiple languages, you can change about anything.. Could you please ellaborate one functional case where you have a problem or cannot get something done?

I'm always open for discussion and possible improvements so I'd love to continue this.
Cc @mart-e

[2017-06-28 19:52] ccomb commented on #3762
```socket.gethostname()``` is still used in ```odoo/tools/mail.py``` to generate the tracking id. So it's still impossible to move an odoo from one server to another...

And FYI there is another socket.gethostname() in ```addons/mail/models/mail_thread.py``` but my vim tells that  ```local variable 'local_hostname' is assigned to but never used [F841]```...

[2017-06-28 20:01] Germano0 opened #17897 "[10.0] Generated empty PDF file"
I opened this new bugreport since older one has been marked as closed despite new feedbacks on CentOS https://github.com/odoo/odoo/issues/364
Impacted versions:
10.0

If you try to generate a PDF file with for example a bill, you will get an empty file (0 byte)
Additional infos
wkhtmltopdf-0.12.1-1.el7.x86_64

[2017-06-28 20:27] mileo commented on #17778
Hi, @Yenthe666

Sorry to have been so brief in creating the issue, but I have been discussing this with @renatonlima and @aricaldeira since December 2016 and to formalize the discussion I created a topic without explaining anything. But let's go:

Some localizations need to make changes to the python code that make major interventions, for example:
https://github.com/OCA/l10n-brazil/blob/10.0/l10n

[2017-06-28 20:45] aricaldeira commented on #17778
For instance, in Brazil, there are several required fields we must put in partner views; those fields make no sense for the French localisation, so, those required fields break the French localisation; the reverse is possibly true also: how, in the same database, in a multicompany setup, can we make sure that conflicting views, requirements, python code running on server, all that, works as if the

[2017-06-28 21:57] odony opened #17898 "*reserved*"

[2017-06-28 21:58] #17898 closed

[2017-06-28 23:25] nhomar commented on #17778
On Wed, Jun 28, 2017 at 3:45 PM, Aristides Caldeira <
notifications@github.com> wrote:

What we are doing with l10n_mx_** inside odoo is have methods that have an
explicit:

def l10n_mx_something(self)
    if not company.country is Mexico:
       return
   do your magic....

It has become pretty usefull all localizations should do that, all our 3
localizations are being rewritten using such approa

[2017-06-29 05:29] satyakishores commented on #10184
My odoo is running good but after logged out and again logged in i am getting 500 Internal server error. Other users who are not logged out are using the odoo perfectly. If the user logged out and logged in again then 500 error starts for that user only. please help.

[2017-06-29 06:19] Yenthe666 commented on #17778
@mileo and @aricaldeira alright, thank you for the valuable information! Now I see what you guys need and would like.
I honestly think that @mart-e should answer here - he is the most familiar with the languages and can decide about this too. I presume that these changes are to big and advanced to make it into a next Odoo version but who knows.

[2017-06-29 07:30] mart-e commented on #17778
Hello,

I agree with @nhomar, we usually try to avoid adding blocking code in the localizations like making fields required (or adding new fields only when necessary). The methods you give are good ways to reach your point without blocking other localizations in multicompany.

[2017-06-29 09:33] sylwek845 opened #17912 "Wrong account used when expenses are emailed (but correct account when expenses entered manually) Why?"
I'm using expense module and it's working fine when I use it manually, but when I email the expense with price to odoo the record is there but the account for the product is not correct, it is set to default account not the one that is configured in the expense product.

Any suggestions?

**Impacted versions:** 10 com

**Steps to reproduce:** Create Expense [F]Fuel  product with specific account (

[2017-06-29 09:38] sylwek845 commented on #17897
Hi,

can you try different version of wkhtmltopdf

[https://github.com/wkhtmltopdf/wkhtmltopdf/releases/0.12.2.4/](url)

[2017-06-29 09:58] Germano0 commented on #17897
Same result with an even higher release:
wkhtmltopdf-0.12.4-1.el7 from CentOS epel-testing repository https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-b72ec227e7

[2017-06-29 10:56] Yenthe666 commented on #17897
@sylwek845 Wkhtmltopdf 0.12.4 is not an officially supported version by Odoo.
@Germano0 do you get this on any report you try to print? There are no error codes or any errors logged in the logfiles?

[2017-06-29 11:56] odony opened #17914 "*reserved*"

[2017-06-29 11:56] #17914 closed

[2017-06-29 13:56] Germano0 commented on #17897
@Yenthe666  Which log_level should I use among ‘debug_rpc_answer’, ‘debug_rpc’, ‘debug’, ‘debug_sql’, ‘info’, ‘warn’, ‘error’, ‘critical’ ?

[2017-06-29 14:06] Yenthe666 commented on #17897
Hi @Germano0,

This really depends on how much you want to log. Usually in production this is `error` or `critical`.
It is probably good to check the logfile from wkhtmltopdf too.

[2017-06-29 15:21] odony opened #17921 "*reserved*"

[2017-06-29 15:21] #17921 closed

[2017-06-29 17:17] ccandito opened #17922 "Activity sequence in routing"
Impacted versions:
9.0
Steps to reproduce:
create a routing with more than one activities
Current behavior:
scheduling in series
Expected behavior:
we need a feature to schedule activities in overlapping
Video/Screenshot link (optional):

[2017-06-29 17:49] lescobarvx opened #17923 "[10.0] fields.Html doesn't track when track_visibility is onchange"
Impacted versions:
**10.0**

Steps to reproduce:
**1. Added field in model**
![seleccion_218](https://user-images.githubusercontent.com/16093067/27702180-46f5e954-5cd1-11e7-8ff6-91f95076cc06.png)

**1. Added field in view**
![seleccion_217](https://user-images.githubusercontent.com/16093067/27701816-18e791e4-5cd0-11e7-8f6d-3bbb7a90e40c.png)

Current behavior:
**When I modify the field, the track i

[2017-06-29 18:09] lepistone commented on #1864
I'd say since the bug went away in v10, and no-one else showed up since 2014, let's keep it closed! Thanks.

[2017-06-29 18:14] elgow commented on #9551
Any action on this issue? It's a major obstacle to using action buttons in a list view.

[2017-06-29 18:52] elgow commented on #9551
The problem lies at addons/web/static/src/js/views/list_view.js:1084

This code

<code>
            .delegate('td.oe_list_field_cell button', 'click', function (e) {
                e.stopPropagation();
                var $target = $(e.currentTarget),
                      field = $target.closest('td').data('field'),
                       $row = $target.closest('tr'),
                  record_id

[2017-06-29 21:30] elgow commented on #9551
Understood, but not solved, at least for the case of lists in a wizard.

If the action returns a next action of {type: 'ir_actions_act_window_close'} then the disabled attribute will get removed from the button, but in addition any active wizard will be closed.

The function above that does <code>$target.removeAttr('disabled');</code> becomes a callback named on_close in the context of the action

[2017-06-30 04:02] hbto opened #17926 "[master] Account Group Allow name_get by code - missing feature"
Impacted versions:
master

Steps to reproduce:
On the video

Current behavior:
You have to write the name of the group only

Expected behavior:
Either Writing the code or the name of an Account Group fetch the record

Video/Screenshot link (optional):
https://drive.google.com/file/d/0B1w9gokcJL9hVWpaMTdGQ3RlLTQ/view

[2017-06-30 05:29] nhomar opened #17927 "[master] l10n_mx_reports: Now with the new hierarchy if broken for CoA"
Impacted versions:

[master]

Steps to reproduce:

Print the CoA report of l10n_mx.

Current behavior:

Missing tree structure

Expected behavior:

Proper tree structure

Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/338634/27722128-fd7b4bf2-5d2a-11e7-82fd-0fac6f03c2e9.png)

**Technical Solution: **

- Using the new tree structure with grouping try to implem

[2017-06-30 05:29] nhomar commented on #17927
@luistorresm Can you give a try to this please.

[2017-06-30 07:17] ameen760760 opened #17932 "how to add the debit and credits accounts in the salary structure section in odoo10 ?"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-06-30 10:21] rvalyi commented on #17778
Guys I lost the prototype I made some 4 years ago, but basically what I did for the Akretion ERP (with both Brazilian and French localization by the time) was:

-  use one Odoo process in France
-  use another Odoo process for Brazil

both instances were connected to the same database but with a different addons-path per instance. Like the Brazilian localization was loaded only for the Odoo instan

[2017-06-30 10:42] moderatemisbehaviour opened #17938 "[8.0] "Could not serialize access due to concurrent update" when multiple workers loading registry"
Impacted versions:
8.0, produced on [this commit](https://github.com/bjss/odoo/commit/dcfd94cbf526e0168f51087259434cedb2c4c061).

Steps to reproduce:
1. Set workers to `5` in server config.
2. Start server.
3. Send multiple HTTP requests to the login page in quick succession.

Current behavior:
Each subsequent request is directed to one of the 5 workers which each start loading their own registry.

[2017-06-30 12:05] tr37ion commented on #2114
Well, I'm running `Odoo Server 10.0-20170512` and enabling `workers` results in 100% CPU usage on all cores.

[2017-06-30 13:42] odony commented on #2114
@tr37ion that is most likely not related to this issue. The bug here occurs only on a server configured with a low number of workers, when you print a PDF report and the last 2 available workers become blocked by dead wkhtmltopdf requests, so everything is frozen until the report printing timeout occurs. When that happens, no process should be at 100% CPU, they should all be doing nothing.

(The t

[2017-06-30 13:42] Fuchur777 opened #17942 "Blog Rss Feed Contents"
Impacted versions: 10 CE Website / Blog

Steps to reproduce:
Go to blog, click RSS logo

Current behavior:
Not including contents of the blog. Only Summary which is the "subtitle" of the blog

Expected behavior:
To also be able to read the intro or full blog in an RSS reader

This could be the content of post.teaser or post.content however these are the full html which doesnt work well.

[2017-06-30 14:08] Yenthe666 commented on #17942
@JKE-be can you give feedback please?

[2017-06-30 14:09] Yenthe666 commented on #17932
Hi @ameen760760,

The Github issue tracker is only for bugs in the official code.
This is not used to ask questions, we have the official Odoo Help forums for this (http://odoo.com/help).
I'm closing this as it is not a bug (plus there is very little information too)

Regards,
Yenthe

[2017-06-30 14:09] #17932 closed

[2017-06-30 14:19] Yenthe666 commented on #9551
Hi @42gmbh,

Thank you for your report.
The official support for Odoo 7.0 is however expired (Odoo only supports the latest three versions) so this won't be handled anymore.
If you still face this in version 8.0, 9.0 or 10.0 please feel free to create a new bug report and we'll look into it as soon as possible.

Regards,
Yenthe

[2017-06-30 14:19] #9551 closed

[2017-06-30 14:21] JKE-be commented on #17942
Yes, in v10 teaser has appear... we should use it...

I have a local diff , I will push it asap

[code]

[2017-06-30 14:28] grubshka opened #17944 "Fails to install on Debian 9 due to missing python-pypdf"
Impacted versions:
10

Steps to reproduce:
aptitude install odoo

Current behavior:
 odoo : Dépend: python-pypdf which is a virtual package and is not provided by any available package

Expected behavior:
Installs odoo

[2017-06-30 14:29] Yenthe666 commented on #17944
@sle-odoo looks like one for you?

[2017-06-30 14:46] Fuchur777 commented on #17942
![image](https://user-images.githubusercontent.com/798891/27740856-8f0b4896-5db3-11e7-9d58-9c56ceaa5592.png)
roblem with post.teaser and post.content is that it parses wrong in the feed.

See here and example with teaser:
https://ut4fp.org/blog/1/feed

[2017-06-30 14:58] JKE-be commented on #17942
thx ;)  good catch

[code]

[2017-06-30 15:31] odony commented on #17938
The workers should all load the registry separately without touching the module rows. The error you see will only occur if the server was started with command-line parameters or config parameters asking to install/update modules (i.e. `-u <module>` or `-u <module>` or equivalent config params).

This is an error, those parameters are meant for one-shot operations, typically used during development

[2017-06-30 15:31] #17938 closed

[2017-06-30 15:34] odony commented on #17944
Duplicate of #17002, so closing it ;-)

[2017-06-30 15:34] #17944 closed

[2017-06-30 15:40] odony commented on #14064
Sorry, that's not nearly enough information for us to do anything. The LDAP module is used by many people with 10.0 in production, so there must be something wrong with your setup. If you're still interested in solving this, please reopen and add as much info as possible: type of LDAP server, configuration parameters in odoo, logs, etc. A video showing your setup might help too.
Thanks!

[2017-06-30 15:40] #14064 closed

[2017-06-30 15:45] odony commented on #5768
Sorry, that's not enough information for us to help. Segfault problems are most likely hardware issues or problems with your Python environment or packages.

[2017-06-30 15:45] #5768 closed

[2017-06-30 15:47] Yenthe666 commented on #17944
Woops I've missed that, although I've responded on both.. Sorry! ;-)

[2017-06-30 15:48] odony commented on #6357
We fixed that as of version 9.0, see eddcb46c82f17d75c99b8dacdee15d6489467b59.
Thanks!

[2017-06-30 15:48] #6357 closed

[2017-06-30 16:06] odony commented on #6161
This really seems to be a duplicate of #2954 indeed.
If you look at the [release notes of PG 9.1](https://www.postgresql.org/docs/9.1/static/release-9-1.html) you will see this new feature is described as follows:

This is further explained in [the documentation for GROUP BY](https://www.postgresql.org/docs/9.1/static/sql-select.html#SQL-GROUPBY) as of 9.1:

If you look at [the query](https://gith

[2017-06-30 16:06] #6161 closed

[2017-06-30 16:07] moderatemisbehaviour commented on #17938
I was just coming back to report that was my problem but you beat me to it! I was using an `init.d` script to start and stop Odoo and I had no idea that for some strange reason it had the `-u` flag set in it for one of our modules. Silly mistake, sorry to waste your time with this one.

Thanks for the in-depth response though, it helps clarify things for me, greatly appreciated ❤️

[2017-06-30 16:21] elgow opened #17945 "Action button in wizard List view is permanently disabled after one press"
Impacted versions: 9.0, 10.0

Steps to reproduce: Add an action button to a list view that is used in a wizard. Clicking the button causes Odoo code to add an attribute `disabled="disabled"` to the button.

Current behavior: Without closing the wizard by returning `{type:'ir_actions_act_window_close'}` from the action there is no way to remove the disabled attribute from the button, so the button

[2017-06-30 16:42] odony commented on #6852
@Diftraku good point, though we typically need the dependency to be in Debian before we can depend on it in our .deb packages. Now that's in Debian 9, so we could add it by default.
Right, @sle-odoo?

Otherwise indeed, switching to workers mode with our DEB package requires a manual install of psycogreen, typically using `pip`. The documentation could mention that.

[2017-06-30 16:54] odony commented on #11315
Indeed, the database manager screen simply uses the `pg_dump` command to take a backup of the database, putting the file in the system's temporary directory, which is the correct temporary location.
However, this is intended as a very basic interface for taking backups, but definitely **not** meant for large production deployments. In fact, our deployment guide explicitly recommends to [block the

[2017-06-30 16:54] #11315 closed

[2017-06-30 19:34] qdp-odoo commented on #17926
geez guys, you're fast

[2017-06-30 21:11] flyingL123 opened #17947 "Overriding window action context key with button context not working"
I have a button defined in an Odoo sass14 view like this:

    <field name="x_stock_picking_type_id" invisible="1"/>
    <button type="action" name="449" string="Process Orders" class="btn btn-primary" context="{'search_default_picking_type_id': x_stock_picking_type_id, 'search_default_x_stock_picking_group_id': active_id}"/>

Window action 449 is in the database and is defined with the following

[2017-06-30 21:24] kurtjcu opened #17948 "Ubuntu 17.04 - Installation fail due to python-pypdf is uninstallable"
Impacted versions:
Ubuntu Server 17.04
Odoo - nightly

Steps to reproduce:
apt-get install odoo on fresh install of Ubuntu Server 17.04

Current behavior:
Odoo fails to install as it has unmet depencencies:
odoo: depends python-pypdf but it is not installable.
E: Unable to correct problems, you have broken packages.

Expected behavior:
Odoo should install, Should Odoo be using python-pypdf2 ??

Vi

[2017-06-30 23:27] kurtjcu commented on #17002
I seem to be having the same problem on Ubuntu server 17.04.
https://github.com/odoo/odoo/issues/17948

[2017-07-01 15:22] Yenthe666 commented on #17922
@ccandito thank you for your report. Could you please add more information and examples of what you'd like please? We don't really have enough information at this point.

[2017-07-01 16:16] Yenthe666 commented on #17727
@JKE-be could you give feedback? I believe this is indeed a bug?

[2017-07-01 16:21] argorain commented on #17787
Hello.
I was poking around today and still no solution found.
My config (/etc/odoo/odoo.conf) is this:
[code]
If there is something else, please tell me where.
I have proxy made by apache for redirection to SSL and correct subdomain.
[code]
I tried variations in OAuth with http, https even with :8069 specified. No luck.
By the way, tutorial you posted (https://www.odoo.com/documentation/user/11.0/

[2017-07-01 17:32] JKE-be commented on #17727
Have you checked that the pricelist are with option 'show visible discount' and not 'inclused in price' ?

[2017-07-01 18:30] JKE-be commented on #17787
Have you try on runbot with the same google configuration  that it Works?

[2017-07-01 18:44] argorain commented on #17787
No. How can I do that?

[2017-07-01 18:54] JKE-be commented on #17787
Connect to runbot.odoo.com and take the last v10: http://241746-10-0-web-editor-opw-746776-nle-2955bf.runbot5.odoo.com/en_US/?db=241769-10-0-2955bf-all

Connect in admin / admin

Configurer and test on it ...

[2017-07-01 19:06] argorain commented on #17787
It works on runbot as it should. I am wondering what is wrong with my setup. I have feeling that ProxyPass is making some mess in there...
Is there way how to debug it? Maybe printout of received json?
Thanks for support, at least I can remove one of suspects now.
Vojtech

[2017-07-01 19:14] JKE-be commented on #17787
yo can try to print, but according to the previous traceback, you have no params passed the the callback.. what is strange...
You should enable debugger chrome and 'preserve log' ang check what is happening between google redirect and the web client ...

[2017-07-01 19:17] argorain commented on #17787
I see. I'll give it a try tomorrow. Thanks.

[2017-07-01 20:14] Yenthe666 commented on #5540
@xmo-odoo could you give an update here please? It has been a while 😉

[2017-07-02 14:41] chandrakumarm commented on #1415
Thanks @Yenthe666

[2017-07-02 16:59] argorain commented on #17787
Hello.
I found solution. There was problem with HTTP->HTTPS redirection. It changed in RewriteRule address from
`http://erp.foxyco.cz/google_account/authentication?state={"s":+"calendar",+"d":+"prod-odoo",+"f":+"https://erp.foxyco.cz/web%23view_type%3Dcalendar%26model%3Dcalendar.event%26action%3D433"}&code=4/gP7BtRPyc_55ZESnSGtKz2EmnJlWLbgPl316sR9S9ds#`
to
`https://erp.foxyco.cz/google_account/aut

[2017-07-02 17:58] ccandito commented on #17922
Dear Yenthe,
just two examples for two business cases not managed:
1) a routing with three activities: the first one in sequence and the other two in parallel, so the second and the third one could start only if the first has been concluded, but they could start together at the same time or in different moment;
2) a production order for 100 pcs, the corresponding routing with 2 activity in sequenz

[2017-07-02 19:36] JKE-be commented on #17787
Glad to hear it :)

[2017-07-02 23:39] gdgellatly opened #17960 "[10.0] Feature Request - small"
Impacted versions:
9.0, 10.0 - maybe earlier but we had web_context_tunnel for this.
Steps to reproduce:
Create a view and xpath inheritance for attributes for a field with context (product_id of sale_order form is a good one)
[code]

Current behavior:

It nearly works - apply_inheritance_specs does everything you expect, except there is no way to remove the trailing } from the original value (not

[2017-07-03 03:59] gustavovalverde opened #17963 "[9.0, 10.0] pos: Fiscal Positions that remove taxes crashes the POS"
**Impacted versions:**
10.0

**Steps to reproduce:**
1 - Install POS
2 - Create a tax of 15%
3 - Create a Product A (PA) with this Tax
4 - Create a Fiscal Position (TaxRem) that removes this Tax and add it to the POS
5 - Open the POS, add a PA
6 - Apply the Fiscal Position TaxRem

**Current behavior:**
Point of Sale crashes and it won't allow me to select any product with this tax, as it will also

[2017-07-03 04:02] gustavovalverde commented on #17963
@odony @nim-odoo I'm adding you here as this happened to me after updating to the latest rev, and this commit might have caused this https://github.com/odoo/odoo/commit/7b494187e99f90359167bb02743bc2f4f5f81043

[2017-07-03 06:04] Yenthe666 commented on #17963
Hey @gustavovalverde,

I've just tested this without any problem? My POS order:
![image](https://user-images.githubusercontent.com/6352350/27779901-0b53a3f8-5fc6-11e7-8208-6f27b8316ab6.png)

My product:
![image](https://user-images.githubusercontent.com/6352350/27779936-2c3ccdf6-5fc6-11e7-983a-91ba93d914f7.png)
Or did I miss something here?

[2017-07-03 08:43] #1732 closed

[2017-07-03 09:11] qtheuret commented on #1756
It seems that this issue was closed by the fix on https://github.com/odoo/odoo/issues/2514

[2017-07-03 09:23] Yenthe666 commented on #1756
Ahh you're right @qtheuret! Than you for the feedback - closing as it is solved.

[2017-07-03 09:23] #1756 closed

[2017-07-03 10:49] gustavovalverde commented on #17963
Could you try it in runbot
http://241873-10-0-0db908.runbot9.odoo.com, it still has my configuration:
![image](https://user-images.githubusercontent.com/16890942/27789654-5ee49406-5fbb-11e7-9e37-3a2dd27006d9.png)

Also, it seems this Fiscal Position configuration (without a tax on the right column is what's triggering this), check if your fiscal position is configure this way:
![image](https://use

[2017-07-03 11:05] Yenthe666 commented on #17963
Hi @gustavovalverde,

Thanks for the extra information, this is indeed a bug.
@jorenvo Whenever you have some spare time, could you look at it? (not sure if I should still ping after labelling though 😉 )

[2017-07-03 11:21] odony commented on #17963
@gustavovalverde definitely not related to 7b49418, which only changes tests.

Also, the code that [breaks the POS](https://github.com/odoo/odoo/blob/b9131adb4832d47c8d715cbf38694ccc83e7021c/addons/point_of_sale/static/src/js/models.js#L1362) when you forget to set a target tax in the fiscal position mapping has been here since 358e285fd8ed75ac322213bd1d3382ff7fc28eba in 2015. It's reproducible in

[2017-07-03 11:54] gustavovalverde commented on #17963
Oh, that's weird. I can swear this happened after the update. I'll test on an old instance.

[2017-07-03 12:12] gustavovalverde commented on #10538
Created Enterprise Issue **750778** on Odoo, as 728480 was closed without a fix.

[2017-07-03 12:28] muralikrishnareddy opened #17974 "Cess in India GST"
Impacted versions: 9.0, 10.0

Steps to reproduce: Check the Taxes of INDIA GST, not found any option to configure Cess

Current behavior: CESS Configuration for the INDIA GST not available

Expected behavior: In TAXes, need to able to configure CESS % with amounts (Ex : 5% + Rs.1591 per
thousand, 12.5% or Rs. 4,006 per thousand whichever is higher)

Video/Screenshot link (optional):

[2017-07-03 13:28] odony opened #17975 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:28] #17975 closed

[2017-07-03 13:29] odony opened #17976 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:29] #17976 closed

[2017-07-03 13:29] odony opened #17977 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:29] #17977 closed

[2017-07-03 13:29] odony opened #17978 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:29] #17978 closed

[2017-07-03 13:29] odony opened #17979 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:29] #17979 closed

[2017-07-03 13:29] odony opened #17980 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:29] #17980 closed

[2017-07-03 13:29] odony opened #17981 "*reserved*"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-03 13:29] #17981 closed

[2017-07-03 14:23] odony commented on #17947
Well, the problem with merging is that you need to a conflict-resolution strategy. In this particular case we believe that the server-side (dynamic Python code) is able to provide more dynamic and "final" values than the client-side, because it receives the whole client-side `context`, and can decide to preserve or override them in the returned `context`. This is not really obvious with static "wi

[2017-07-03 14:23] #17947 closed

[2017-07-03 14:45] odony commented on #17948
Indeed, this is the same issue (for Ubuntu) as #17002 for Debian, so let's close this one and track it there. I've updated the title of #17002 to make it more discoverable.

[2017-07-03 14:45] #17948 closed

[2017-07-03 14:47] odony commented on #17002
@sle-odoo We'll probably need conditional imports and updated packages for debian 9 and ubuntu 17.04. Last time I checked python-pypdf2 was a drop-in replacement for python-pypdf as far as we care (pending the conditional imports).

[2017-07-03 15:08] odony commented on #17803
Can you provide the complete XML errors you see?
Can you still reproduce this after forcing an update the `product` module? (in the list of installed Apps, or via command-line startup parameters `-d <db> -u product` )?

[2017-07-03 17:04] gustavovalverde opened #17983 "[IMP] Fiscal Positions distinction & domains for: Sales, Purchase or Both"
### Impacted versions:
All

### Steps to reproduce and Current behavior:
**_First Scenario_**
1- Create a Fiscal Position (Informal Purchases) that it should just affect Purchases
2- Create a Sale Invoice
_There's the Informal Purchases fiscal position_

**_Second Scenario_**
1- Create a Partner who buys you and sales you, with different fiscal positions in each case
2- Just 1 of the fiscal positi

[2017-07-03 18:14] wtaferner commented on #17983
@gustavovalverde
Did you think about doing the wanted behavior on the taxes and accounts which should be mapped in the fiscal position? Taxes can be divided into Sales and Purchases, accounts have mostly a certain motivation and dedication and therefore are most of times clearly defined as well.

So, is it therefore really needed what you ask for?

[2017-07-03 21:08] jesus01x commented on #1947
I really thank you It was just answer I need to resolve my problem.

[2017-07-04 04:07] NaziburR opened #17988 "Can I use odoo 10 with mongodb using docker?"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-04 05:39] lukebranch commented on #17988
@NaziburR

What do you want to use MongoDB for with Odoo? Is it session storage?

Odoo requires PostgreSQL, as it's fully ACID compliant. MongoDB is not ACID compliant.

[2017-07-04 06:00] Yenthe666 commented on #17988
Hi @NaziburR,

To further expand on this: by default you won't be able to use Odoo with MongoDB. You would have to write an own wrapper that connects to the MongoDB database and handles all queries / API calls etc so this is not something trivial to do.
You can however use Odoo on Docker (you can find the docker templates here https://github.com/odoo/docker).
I'm closing this report as it is not a

[2017-07-04 06:00] #17988 closed

[2017-07-04 07:30] satyakishores commented on #5472
I have modified menu items in odoo10. After that users with the settings rights are getting 500 Internal Server error. Users without the settings access are able to access the web.
Error:
'menu_data': request.env['ir.ui.menu'].load_menus(request.debug),
  File "<decorator-gen-218>", line 2, in load_menus

  File "/usr/lib/python2.7/dist-packages/odoo/tools/cache.py", line 87, in lookup
    value =

[2017-07-04 07:50] satyakishores opened #17997 "500 Internal error on giving Settings right to users."
I have modified menu items in odoo10. After that users with the settings rights are getting 500 Internal Server error. Users without the settings access are able to access the web. I can access the Settings by adding the ?debug  in the url.

ERROR odoo_db werkzeug: Error on request:
Traceback (most recent call last):
File "/usr/lib/python2.7/dist-packages/odoo/addons/base/ir/ir_http.py", line 169,

[2017-07-04 07:51] Yenthe666 commented on #5472
Hi @satyakishores,

Please don't start asking other questions on a topic that is not related and about another Odoo version.
Please ask this question on the official Odoo help forum (http://odoo.com/help).
@librevilzz I'm closing this issue as Odoo V7 is no longer supported by Odoo. if you still face this issue in Odoo 8, 9 or 10 don't hesitate to create a new bug report.

Regards,
Yenthe

[2017-07-04 07:51] #5472 closed

[2017-07-04 07:52] Yenthe666 commented on #17997
Hi @satyakishores,

This looks like a bug in your custom development.
The Github issue tracker however is only for bugs/issues in the official Odoo code, not in personal development.
Please ask this question on the official help forums where plenty of people can help you (http://odoo.com/help).
I'm closing this as it is a question about custom development (and there isn't even code in your topic).

[2017-07-04 07:52] #17997 closed

[2017-07-04 07:55] satyakishores commented on #17997
ok @Yenthe666 Thanks.

[2017-07-04 09:19] Fuchur777 commented on #17942
@JKE-be tried the changes but doesnt lead to desired effect. Blog gives update error.

`Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/odoo-server/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo-server/odoo/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  F

[2017-07-04 09:25] JKE-be commented on #17942
@Fuchur777

You can just take the last version, It has been pushed in commit: https://github.com/odoo/odoo/commit/404033daf3e6828c2e0645a71f7da9bd2a80bf40

Test here: http://242094-10-0-15da33-all.runbot10.odoo.com/blog/1/feed

[2017-07-04 09:27] Fuchur777 commented on #17942
@JKE-be Test looks good, let me try!

[2017-07-04 11:04] yucer opened #18001 "Missing server filter for aggregated results in ORM domains"
**Impacted versions**: all

**Steps to reproduce**:

It's not an error. It is just a desired feature of the ORM. The current contexts are:

1) Queries that use the **HAVING** sql clause. Like this [one](https://github.com/odoo/odoo/blob/814c55091339ea508a2aecf03f9c41bf4a63a14a/addons/crm/wizard/base_partner_merge.py#L375)

2) Loops over the result of **ORM** queries that perform counts and a secon

[2017-07-04 11:07] oerp-odoo opened #18002 "[10.0] Not dependent modules bug out functionality (or at least testing)"
Impacted versions:
10.0

Steps to reproduce:

An example would be like this: install module `sale`. Create a module that depends only on `product` module. Make a test (in that module) that uses `copy` method for `product.product` record. For example `self.browse_ref('product_ext_id').copy()`.

**Current behavior:**

You would get something like this:

[code]

Expected behavior:
As you can see it d

[2017-07-04 14:24] adaptivdesign opened #18007 "[NL] Translation typo"
Looks like a typo got commited to:

https://github.com/odoo/odoo/blob/10.0/addons/web_kanban/i18n/nl.po

[code]

Should be

[code]

[2017-07-04 14:40] Yenthe666 commented on #18007
Hi @adaptivdesign,

Thank you for your report.
Translations however are handled on another platform (transifex.com/odoo/).
You can fix the translations there and they'll be synchronised into Odoo every once in a while (usually about once a week).
For more information see https://github.com/odoo/odoo/wiki/Translations

Regards,
Yenthe

[2017-07-04 14:40] #18007 closed

[2017-07-04 16:04] celm1990 opened #18009 "POS no support taxes with python code"
**Impacted versions:**
all
**Steps to reproduce:**
Create taxes with python code applicable, configure tax on products, on POS this taxes are not calculate
**Current behavior:**
taxes with python code returned 0
**Expected behavior:**
POS spport taxes with python code
Video/Screenshot link (optional):

[2017-07-04 16:40] cliffkujala opened #18010 "[10.0+e] Balance Sheet Report Problems"
Impacted versions:
Odoo 10.0+e-20170703 (Enterprise Edition)

Steps to reproduce:
Set custom date for a Balance Sheet Report

Current behavior:
1. CURRENT YEAR EARNINGS does not match the P&L number for the fiscal year associated with the custom ending date selected as a basis for the Balance Sheet Report.
IE: Manually choose 12/31/2015 for the balance sheet date, and the CURRENT YEAR EARNINGS tha

[2017-07-04 17:20] janbec commented on #11286
@houssine78 Have you found another way? I'm looking at the same problem...

[2017-07-04 17:54] moylop260 opened #18011 "[master] TZ field refresh each second and not allow choose value"
Impacted versions:
 - master

Steps to reproduce:
  1. Open timezone user configuration
  2. Try choose one timezone

Current behavior:
 - A refresh for the timezone field and not allow choose the correct one.

Expected behavior:
 - Allow choose a TZ without Flash's ability

Video/Screenshot link (optional):
 - [![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/VB3fkEeLxwA/0.jpg)](https://www.yout

[2017-07-04 18:12] moylop260 opened #18012 "[master] export translation: TypeError: 'unicode' does not have the buffer interface"
Impacted versions:
master

Steps to reproduce:
1. Go menu Configuration -> Translations -> Export Translation
2. Choose language: Spanish MX, Format file: PO File, Apps to export: Sale Management

Current behavior:
[code]

Expected behavior:
Exported

[2017-07-04 18:14] Yenthe666 commented on #18011
Yep, there is absolutely something wrong here. 😄

[2017-07-04 18:17] Yenthe666 commented on #18012
Hi @moylop260,

Thank you for your report.
This is indeed a bug (and for all langs 😉):
![image](https://user-images.githubusercontent.com/6352350/27839988-c19d4846-60f5-11e7-817c-b2a7e5978a54.png)

@xmo-odoo I believe this has to do with your unicode rewrites.

Regards,
Yenthe

[2017-07-04 18:29] xmo-odoo commented on #18012
It's fixed in saas-16: 98602e93cc3f8586db5d22932aecdd5192584a55

It probably hasn't been forward-ported yet.

@Yenthe666 technically that's not a unicode rewrite (that branch has yet to land), it's the API compatibility changes.

[2017-07-04 18:29] #18012 closed

[2017-07-04 19:33] hdezela opened #18014 "Git version is out of date"
Impacted versions:
10.0

Steps to reproduce:
git checkout
git describe --long --tags

Current behavior:
Returns version 7.0

Expected behavior:
Version 10.0

Video/Screenshot link (optional):

[2017-07-04 20:48] deltammx commented on #1093
I'm using 8.0-20170517. Similar bug.
When you make an order in the back-office  - discount price list works, when you buying  through the website  - discount price list does'nt work.
The fix [c8a4343](https://github.com/odoo/odoo/commit/c8a434306f110bfb5e5ce71609e8e096a850d309) was did not help.

Need more information / video / help in solving this bug?

[2017-07-05 06:14] #17926 closed

[2017-07-05 06:24] aspcsharp9 commented on #10184
I also have problem...after click on logout on frontend get below error:

[code]

[2017-07-05 07:51] aspcsharp9 commented on #10184
On debian vps,

1. download werkzeug-0.9.4 zip from git
2. Unzip
3. Open terminal and navigate to  cd Downloads
4. Navigate to cd  werkzeug-0.9.4
5. run this line -->  python setup.py install
6. Restart odoo server
7. Done

Work on my debian....

[2017-07-05 09:55] odony commented on #10249
@DavidGoodenough we simply use the official static builds from the upstream project:
         https://wkhtmltopdf.org/downloads.html
You might want to get in touch with @ashkulz at https://github.com/wkhtmltopdf/wkhtmltopdf and see if you can manage to build it for the cubieboard. Not sure we'd be of much help here ;-)

[2017-07-05 09:55] #10249 closed

[2017-07-05 10:06] daviddiz opened #18034 "[8.0] When create res.partner.bank in multicompany, company_id is not set"
Impacted versions: 8.0

Current behavior: When a bank account is created in multicompany, the field company_id is not set

Expected behavior: By default the company_id of the bank account must be the company of the user

[2017-07-05 10:31] esmairi commented on #16177
Hi @Yenthe666

As i said before, the senario is:
In the form view of attachment:
upload a file then deleted then upload the same file.
you can look at this video: https://youtu.be/i3ogcDSPiqQ

Regards,
Esmairi

[2017-07-05 12:25] treviser opened #18041 "[IMP]Customer field "Implemented by" unnecessarily needs developer mode activated"
Impacted versions: 8.0, 9.0, 10.0

Steps to reproduce:
In order to display customer references on the website using the module "Customer References" (website_customer), the field "Implemented by" must have a value.

Current behavior:
Currently, the developer/debug mode has to be activated in order to display this field and make it available. I do not understand the reason for this.

Expected behav

[2017-07-05 14:16] gustavovalverde commented on #15071
@Yenthe666, should I create a new issue with my last statement?

[2017-07-05 14:22] PieterPaulussen opened #18047 "[8.0] active_test does not ignore the active field"
Impacted versions: 8.0

Steps to reproduce: Use xpath to set {'active_test':False} attribute in context on a many2many or one2many field.

Current behavior: the active_test does not ignore the active_field

Expected behavior:
 it should display all linked record, active or inactive

SAMPLE CODE:
[code]

[2017-07-05 14:40] qdp-odoo commented on #15767
fixed in master at revision https://github.com/odoo/odoo/commit/b9a9daca17b0f71961d226c85b4f67892932bd92, for saas 17

[2017-07-05 14:40] #15767 closed

[2017-07-05 15:52] gustavovalverde opened #18048 "[9.0][10.0] Invoices are using yesterday's rate when user inputs a new rate."
### Impacted versions:
9.0, 10.0

### Steps to reproduce:
I've been experiencing that every validated invoice is using yesterday's rate instead of today's rate.

When creating a new rate 00:00:00 is not the default:
![image](https://user-images.githubusercontent.com/16890942/27509494-392358d8-58cc-11e7-830d-1c2d130cece7.png)
This is using runbot.

### Current behavior:
Currently, users have to inp

[2017-07-05 16:10] qdp-odoo commented on #10496
nope, it has been fixed in a further stable version (where the numbering of bank/cash journal entries have been totally reviewed) but nothing at my knowledge has been done for v8.

[2017-07-05 17:02] luistriana28 opened #18049 "[10.0]-Init debian odoo-server script"
Impacted versions: 10.0

Steps to reproduce: copy /debian/init script in /etc/init.d/odoo-server

Current behavior: Syntax Error

Expected behavior: start-stop-restart service

Video/Screenshot link (optional):
![captura de pantalla 2017-07-05 a la s 12 02 14](https://user-images.githubusercontent.com/12242599/27875714-d0274fae-6179-11e7-8707-b70e2a4463a0.png)

[2017-07-05 17:20] BeAntares opened #18050 "l10n_mx"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-05 17:35] WolfDangerY opened #18051 "Error with ldap in samba 4"
Impacted versions: 10.0

Steps to reproduce: Autentication with samba 4, the last version, field cn in samba 4 new is CN
return {
            'name': ldap_entry[1]['cn'][0],
            'login': login,
            'company_id': conf['company'][0]
        }

ERROR!!!!!!

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-05 19:33] obulkin commented on #17727
Ah. I could swear I had this option selected, but I guess I didn't. Everything seems to be working correctly now. Thanks for the reply.

[2017-07-05 19:33] #17727 closed

[2017-07-05 20:14] adekock11 opened #18052 "[9.0] Incorrect IP address in logs when Odoo is behind proxy"
**Impacted versions:**
9.0

**Steps to reproduce:**
- Deploy Odoo using the official instructions [here](https://www.odoo.com/documentation/9.0/setup/deploy.html) (taking careful look at the Nginx setup)
- After everything is done, make a request to /web/login
- Check the Odoo log files

**Current behavior:**
The log file shows the following data

    2017-07-05 20:07:18,317 22363 INFO mycompany.c

[2017-07-05 20:28] adekock11 commented on #18052
I see this [pull request](https://github.com/odoo/odoo/pull/59) has the same proposed solution. However I don't quite understand why it was rejected and what is the solution.

[2017-07-05 20:33] awwea commented on #17803
OUTPUT:
=======================

2017-07-05 20:29:11,635 348053 INFO awwea odoo.addons.base.ir.ir_ui_view: Element '<xpath expr="//label[@for='weight']">' cannot be located in parent view

Error context:
View `product.template_procurement`
[view_id: 1100, xml_id: stock.product_template_form_view_procurement_button, model: product.template, parent_id: 349]
2017-07-05 20:29:11,637 348053 ERROR awwea

[2017-07-05 22:39] celm1990 commented on #5164
Please review  [this comment](https://github.com/odoo/odoo/commit/5e475f75de2a2dff24d6ae0b03d7ec4622a8c8a5#commitcomment-22939507)

[2017-07-06 01:18] Batuto opened #18053 "[10.0] Skipped api constrain in many to one fields"
###### Impacted versions:
* 10.0

###### Steps to reproduce:

* Create a constrain in `res.parter` (in this case inside **account**) inheritance.
[code]
* Go to Invoicing/Sales/Customers and create and try to create a new customer with no phone and no mobile (is not possible, this is expected)
* Then try to duplicate "Demo Portal User" (If it does not have mobile nor phone this is not possible, th

[2017-07-06 02:05] yueqin opened #18054 "[10.0]price_unit doesn't update while create purchase order lines with more than two same product_id in one purchase order."
Impacted versions:
[10.0]
Steps to reproduce:
1. create a purchase order;
2. add one purchase order line with product_id: a;
3. add another purchase order line with product_id:a with different plan_date,
Current behavior:
The product_id a's Unit Price doesn't updated.
Expected behavior:
Every Lines with product_id a need update there Unit Price depends on the product_qty of all.

Video/Screenshot

[2017-07-06 06:03] lukebranch commented on #18052
@adekock11 ,

I was running into this issue when trying to track mass mailing clicks, however I found it was due to my Nginx config.

I'll post back shortly with my nginx config.

[2017-07-06 06:06] lukebranch commented on #18052
https://gist.github.com/lukebranch/4f1c3687877b500c2fe9e2e4cc5a909a
https://gist.github.com/lukebranch/d6e81fb484f2eb5642084d30fc7f707b

I believe it was this line in particular that resolved the issue for me:

https://gist.github.com/lukebranch/d6e81fb484f2eb5642084d30fc7f707b#file-sites-available_example-com-L60

[2017-07-06 07:22] adekock11 commented on #18052
@lukebranch thank you for providing me with this feedback. I'll try the `proxy_redirect off` option. If I understand correctly that was what solved the issue for you.

[2017-07-06 07:27] #18050 closed

[2017-07-06 07:28] Yenthe666 commented on #18050
Hi @BeAntares,

Please create an issue that is fully filled in (impacted version, steps to reproduce, current behavior, expected behavior) so that we can help you.

Regards,
Yenthe

[2017-07-06 07:30] Yenthe666 commented on #18049
Hmm there doesn't seem to be anything wrong with the init (see https://github.com/odoo/odoo/blob/10.0/debian/init).
Could you try updating your Odoo to the latest codebase, copy the init again and give it another try please?

Regards,
Yenthe

[2017-07-06 07:32] Yenthe666 commented on #18052
Alright let me now what this gives @adekock11 - if this doesn't fix it I'll ping somebody from Odoo 😉

[2017-07-06 07:39] Yenthe666 commented on #18054
@nim-odoo could you look at this, please?

[2017-07-06 07:41] lukebranch commented on #18052
@adekock11 ,

No problem. Yes, it's the proxy_redirect off option that did the trick for me.

For the record i'm just another Odoo user like yourself, no affiliation to Odoo SA, I just thought i'd comment as i've run into this issue in the past.

[2017-07-06 07:45] PieterPaulussen commented on #18047
@mart-e I have added a small piece of code to test this. Any comment on this?

[2017-07-06 08:16] dbo-odoo commented on #18014
Hello,

We don't use tags in our git workflow; therefore git describe will never return something really relevant... You can find the version number in the branch name; since we do not increase the version number with revisions this will remain correct.

KR,

[2017-07-06 08:16] #18014 closed

[2017-07-06 12:45] pedrobaeza commented on #15634
Hi, @ged-odoo, have you made any advance in this?

[2017-07-06 12:47] mart-e commented on #18009
Hello,

Thank you for your report but indeed as the point of sale works offline, it can not execute python code. It is not supported.
Sorry

[2017-07-06 12:47] #18009 closed

[2017-07-06 12:54] ged-odoo commented on #15634
@pedrobaeza sadly not yet. Finishing the new views+training new team members+vacations+random stuff takes a lot of time.  Also, I have a sad news on this: when we will finally refactor the controlpanel+friends, it looks like some people above me want to keep the 'simple' look of the current searchview. So, we may be able to add an 'advanced' mode to open the domain editor, but we need some work do

[2017-07-06 15:44] luistriana28 commented on #18049
I have checked my init with my personalization of Daemon etc,
![captura de pantalla 2017-07-06 a la s 10 41 49](https://user-images.githubusercontent.com/12242599/27919647-dcd23aa2-6237-11e7-8029-6c18088d64de.png)

i have already updated my base: the last commit is this : 2454dce7c5738750bee34

And here is my /etc/init.d/odoo-server permissions:

![captura de pantalla 2017-07-06 a la s 10 40 18](h

[2017-07-06 16:06] luistriana28 commented on #18049
I have checked the past sha of odoo that i used to use and is this: 6981320

[2017-07-06 16:06] pedrobaeza commented on #15634
Thanks for the update, Géry. Then it seems that the feature will not land on v11 for sure. As sadly my current target is v10 for now, I will replan things to do. The  possibilities are:

*  (more immediate) Backport widget_domain before views refactoring (easy to do I think) for having the widget on v10 for mass mailings.
* Based on this widget, add in v10 advanced search the new domain possibilit

[2017-07-06 16:44] YasminMostafa commented on #12137
I installed Odoo Bitnami version 10 i have error in printing it give me this error (Unable to find Wkhtmltopdf on this system. The report will be shown in html.)
(Unable to find Wkhtmltopdf on this system. The PDF can not be created.)

I Done the following :
1-sudo wget http://download.gna.org/wkhtmltopdf/0.12/0.12.2.1/wkhtmltox-0.12.2.1_linux-wheezy-amd64.deb
2-sudo apt-get -f install
3-sudo apt-

[2017-07-06 17:09] jl2035 commented on #12137
@YasminMostafa yeah this is fucked up. I always had to create a new server and install everything again from scratch.

[2017-07-06 18:40] levkar commented on #2042
@yelizariev it seems like it hasn't been ported to 10.0 yet.

It would have been better having it without installing two modules for just a "send button", .

[2017-07-06 20:33] adekock11 commented on #18052
Hmm no luck. I ended up modifying the `openerp/service/wsgi_server.py` file on our production server. It works perfectly - the only down side of course being that I had to modify Odoo source.

Thanks @lukebranch and @Yenthe666. Hopefully this helps someone in the future.

[2017-07-06 22:34] matt454357 opened #18084 "[10.0e] TaxCloud module assigns wrong tax on SO confirm"
**Impacted versions:** 10.0e (TaxCloud module)

**Steps to reproduce:**
1. Create sales order
2. Click Confirm Sale

**Current behavior:**
Sales tax changes from 9.25% to 9.2485714286%

**Expected behavior:**
Sales tax should not change

**Video/Screenshot link (optional):**
https://www.youtube.com/watch?v=TxtDzvwi2Hs

**Hint:**
The problem is in this file:
https://github.com/odoo/enterprise/blob/

[2017-07-07 01:41] lukebranch commented on #18052
@adekock11 ,

Sorry to hear it. Could you post a copy of your nginx config?

[2017-07-07 02:17] maitaoriana opened #18089 "Picking is not done, when the product.type ='product' and line.qty = 0"
Impacted versions: 10.0

Steps to reproduce:
1. Create pos order with two products.
2. One of the products, must be type= Stockable Product and quantity=0.
3. Pay order.
4. check order --> extra info --> picking
5. picking state = Waiting Availability

Current behavior:
picking State = Waiting Availability

Expected behavior:
picking State  = Done
[As in v9.0](https://youtu.be/X_R_jHZdYb8)

Video/

[2017-07-07 05:25] Yenthe666 commented on #18049
Hmm @sle-odoo do you have any idea?

[2017-07-07 06:15] Yenthe666 commented on #18084
@tivisse I believe this is for you?

[2017-07-07 07:29] aspcsharp9 opened #18093 "User with admin access rights don't show other user"
Impacted versions: odoo 9

Steps to reproduce: User with admin access rights (test1) don't show other user in one2many field only just see yourself.

Other user with the same access rights (test1) see everything!

Current behavior: How fix this problem, any solution?

Expected behavior:

Video/Screenshot link (optional):

[2017-07-07 07:41] adekock11 commented on #18052
@lukebranch, I was thinking over this last night and it's worth mentioning that I'm running Odoo inside a Proxmox container. The container runs on a linux bridge on the subnet `10.0.0.0/24` - the container's IP address is `10.0.0.101` and the gateway is `10.0.0.1`. It's actually the gateway's IP address `10.0.0.1` that displays in the logs and not `127.0.0.1` like I said originally. This adds some

[2017-07-07 08:28] sle-odoo commented on #18049
@luistriana28 what version of debian do you use?

[2017-07-07 09:08] Auneor opened #18098 "[10.0] reply_to field in mail.template is not used when sending email"
Impacted versions:
10.0 community at least

Steps to reproduce:
Go to edit a mail.template in the technical configuration menu, for exemple the "invoice - send by Email" template
Set a reply_to email address, for example reply@example.org
Send an email from an invoice, with this template

Current behavior:
The reply_to in the outgoing email is set mail.catchall.alias is this config is set, otherwi

[2017-07-07 09:26] icf20 opened #18100 "[10] dont integrate with firefox dark theme"
Impacted versions:
10

Steps to reproduce:
1 open fiewfox
2 in firefox go to themes
3 activate compact theme
4 log in odoo

Current behavior:
![imagen](https://user-images.githubusercontent.com/17784575/27951964-f8443824-6306-11e7-92aa-df983e538ec8.png)

Expected behavior:
white text over dark fields

Video/Screenshot link (optional):

[2017-07-07 09:33] Yenthe666 commented on #18100
Hi @icf20,

I don't really see the issue. You have chosen for a specific theme in Firefox, which has nothing to do with Odoo.
I agree that this is hard to read and not very clear but if I'm not mistaking this is all handled by the FireFox theme side?
If we would change these colours in Odoo (so it looks nice on this specific theme) it will probably render bad/ugly on another Firefox theme. Or am I

[2017-07-07 09:35] Yenthe666 commented on #17517
Hi,

I'm closing this issue as there has been no response in almost a month.
If you still face this issue then please provide more information and if it is valid I will reopen this issue for you.

Regards,
Yenthe

[2017-07-07 09:35] #17517 closed

[2017-07-07 09:36] Yenthe666 commented on #15119
Hi @mikeross6233m,

I'm closing this bug report as there has been no feedback in over a month.
If you can still reproduce this on the latest Odoo then please post back with more information and I'll reopen this issue.

Regards,
Yenthe

[2017-07-07 09:36] #15119 closed

[2017-07-07 09:42] wpichler commented on #16027
This bug report needs to get reopen - with the fix mentioned above it is not solved. I do have Odoo 10 Community running - with the above fix already on board - and it still does not work.
Only the fix (workaround) mentioned here: https://www.odoo.com/de_DE/groups/community-59/community-28181782?mode=thread does work

[2017-07-07 09:51] icf20 commented on #18100
i expect something like the following

light theme

![imagen](https://user-images.githubusercontent.com/17784575/27952999-8c3a1078-630a-11e7-934e-928307f7634f.png)

dark theme

![imagen](https://user-images.githubusercontent.com/17784575/27952908-475cfa1a-630a-11e7-8ead-ffb9dc008b0b.png)

[2017-07-07 09:57] Yenthe666 commented on #18100
Hi @icf20,

I understand that you would like different colours depending on the theme in the browser.
This is not something that Odoo wants to implement though, as it would mean that we would need to check/change CSS depending on too many factors.
Closing as it is not really a bug and because this is not on the roadmap for Odoo. I'd suggest you to choose another theme or add your own CSS to Odoo t

[2017-07-07 09:57] #18100 closed

[2017-07-07 12:52] Yajo opened #18103 "Cannot change image or title in local events snippet"
Impacted versions: 8, 9, 10, master.

Steps to reproduce:

1. Install `website_event`.
2. Edit any website page.
3. Add a structure block.
4. Add the local events snippet.
5. Change image and title of the snippet as usual.
6. Save.

Current behavior:

Each time the page gets loaded, you can see the user's editions for a little while, and then they get suddenly changed for the default layout.

Expe

[2017-07-07 14:17] shepilov-vladislav opened #18104 "Odoo default import stuck.[8.0] [9.0] [10.0]"
Impacted versions: `8.0`, `9.0`, `10.0`

Steps to reproduce:

(any exist id) for ex. `34`

[code]
->

Create csv file with content:
[code]

Go to Warehouse -> Configuration -> Locations -> Import

Do import this CSV file.

Current behavior: Doesn't show me an error, always "loading"

Expected behavior: Show me error `Recursivity Detected.`

P.S.: I know that it's pretty silly to do that, but users

[2017-07-07 14:21] luistriana28 commented on #18049
@sle-odoo im using ubuntu 14.04

[2017-07-07 14:40] Yenthe666 commented on #18104
Hi @shepilov-vladislav,

This would be really silly to do. 😄
I do agree that perhaps a little recursion check / warning would probably be nice. I'll label it wishlist for now.

Regards,
Yenthe

[2017-07-07 14:42] Yenthe666 commented on #15532
Hi @Sickboy,

I'm closing this issue as there has been no feedback in over a month.
If you can still reproduce this on the latest codebase please do reply and I'll reopen this issue.

Regards,
Yenthe

[2017-07-07 14:42] #15532 closed

[2017-07-07 14:47] okuryan commented on #18104
@Yenthe666, please, do not underestimate severity of task. Such import of locations is often used in big warehouses to change locations hierarchy, that happens quite a lot during the year. And such mistake can be easily done.

And this recursion deadlock can hang server and it is becoming unresponsive for others to enter. And no error is shown.

[2017-07-07 16:17] legalsylvain commented on #17671
Hi @qdp-odoo any news for this bug ?

kind regards.

[2017-07-07 19:05] gustavovalverde commented on #17802
And after changing the company currency, it's still showing the old one:

![image](https://user-images.githubusercontent.com/16890942/27972834-b857b74e-6325-11e7-945c-01ce10aa3f6a.png)

[2017-07-07 19:07] gustavovalverde commented on #17802
And after changing the company's currency is still showing the old one:

![image](https://user-images.githubusercontent.com/16890942/27972928-0d084de4-6326-11e7-8d01-d2e4bf157ab4.png)

[2017-07-07 19:13] gustavovalverde commented on #17802
This seems odd @mart-e

[2017-07-08 02:18] yueqin commented on #18054
@Yenthe666  @nim-odoo  Could you look at this,please.

[2017-07-08 02:32] #17704 closed

[2017-07-08 08:39] davidqdr opened #18105 "Server Crash when login with User created with specific permissions"
Impacted versions:
10.0

Steps to reproduce:
1. Create a user with blank permissions on every application except point of sale.
2. Try to login with this new user.
3. Server crash with 500 Internal Server Error and restarting of the server is needed.
4. When you modify the user configuration leaving all permissions with blank except Employee, the error not reproduce.

Current behavior:
- Server cr

[2017-07-08 15:14] Yenthe666 commented on #18105
Hi @davidqdr,

Thank you for your report.
I've just tested this on the latest Odoo 10 runbot and was able to reproduce this:
![image](https://user-images.githubusercontent.com/6352350/27986495-c38f0b6e-63ff-11e7-8e84-c656c4e35391.png)
@mart-e perhaps for you?

Regards,
Yenthe

[2017-07-08 15:21] zeroheure opened #18106 "bad html in templates.xml from website_sale issue to untranslatable Shop Cart strings"
Impacted versions:
10.0 CE nightly builds  (untested with others)
Steps to reproduce:
install website_sale and load a translation
Current behavior:
1. Strings "My cart" in nav menu and "Remove" in shop cart are not translated because existing translations are not loaded.
2. When one try to translate or change text by Editing from website, string are unselectable.
Expected behavior:
Translations lo

[2017-07-08 17:15] cliffkujala commented on #18010
Perhaps the problems with the reporting has something to do with the Account Types, and if they are set to bring balances forward or not??

See a screenshot of how my account types are configured.  Does anyone know if they are as they should be per Odoo guidelines?
![screen shot 2017-07-07 at 3 41 32 pm](https://user-images.githubusercontent.com/7710215/27987682-4ecd9e82-63c6-11e7-98dd-a5bcb98f7e6

[2017-07-08 20:51] gustavovalverde commented on #3156
A year later, is there a better option than the one exposed here  https://github.com/odoo/odoo/issues/3156#issuecomment-241501875 by @harkx or is this the only approach to use the POS with the posbox in https? cc: @jorenvo

@wtaferner, did you manage to do something similar with the posbox?

[2017-07-09 14:13] grzekru opened #18109 "[10.0] Sticky notes, soft return"
Impacted versions: 10.0

Steps to reproduce: Create new sticky note, write few characters, press shift+enter two times

Current behavior: Odoo Client Error

Expected behavior: Create soft return

Video/Screenshot link (optional):

[2017-07-10 00:10] dhannyz commented on #17707
@nim-odoo Any update on this issue?

[2017-07-10 06:20] flotho commented on #17725
Hi,
Here is a set of ir.config_parameter to illustrate the issue :
1. Config that works
web.base.url | http://localhost:8069
report.url | http://localhost:8069 or None
web.base.url.freeze | true

2. Config that works (a.b.c.d is the IP adress of the server)
web.base.url | http://a.b.c.d:8069
report.url | http://a.b.c.d:8069 or None
web.base.url.freeze | true

3. Config that fail (http://external-p

[2017-07-10 06:48] scejudo commented on #17702
Hi !

Nobody knows about this serious bug ????

We're in same situation as Mr Antonio Moreno. We're surprising that Odoo don't comment nothing about this bug. We're working in v9 and as Mr Moreno in v8 we have the same problem with produce several products working with serial numbers. Three impacted versions and Odoo don't "say" nothing ?????

Waiting for response..................................

[2017-07-10 07:49] open-net-sarl opened #18116 "[9.0] TypeError: chart.tooltip.chartContainer is not a function"
**Impacted versions:**
9.0

**Steps to reproduce:**
![screenshot_1](https://user-images.githubusercontent.com/8555256/28007505-fa5b5116-6553-11e7-9b21-ee1a7bbcd9db.png)
 (use a mesure that has no values)

**Current behavior:**
![screenshot_4](https://user-images.githubusercontent.com/8555256/28007731-db23e26c-6554-11e7-8faf-ea5eb54fa76e.png)

**Expected behavior:**
Dont pop-up an error with the tr

[2017-07-10 07:59] simongoffin commented on #18089
Hello @jco-odoo

What do you think about it?

[2017-07-10 08:07] Yenthe666 commented on #18116
Hi @open-net-sarl,

Thank you for your report.
I've just tested this on the latest Odoo 9.0 (ENT) runbot without any problems.
Can you please update your Odoo environment or try to reproduce this on a runbot?

Regards,
Yenthe

[2017-07-10 08:12] Yenthe666 commented on #18109
Hi @grzekru,

Thank you for your report.
I've just tested this and I can confirm it does indeed throw a client error:
![image](https://user-images.githubusercontent.com/6352350/28008513-257d0e94-6558-11e7-80c1-e98975f72b23.png)
@nim-odoo I believe you're the summernote expert?

Regards,
Yenthe

[2017-07-10 08:16] tivisse commented on #18084
Hello @matt454357

I think that

[2017-07-10 08:51] welkhing opened #18117 "Bank statement reconciliation widget crash when one of the default account id of bank journal is blank"
Impacted versions: 9.0c and above

Steps to reproduce: leave one of the bank journal's default debit/credit account blank

Current behavior: the widget assumes default debit and credit account in bank journal is NOT blank

Expected behavior: Either journal settings make default debit/credit account NOT NULL. Or bank statement reconciliation widget process check for blank account ID.

Video/Screens

[2017-07-10 09:47] mart-e commented on #18105
Ok search no more. An odoo user **must** be one (and only one of):

- Employee
- Portal
- Public

It will not work if you are not at least one of them.

[2017-07-10 09:47] #18105 closed

[2017-07-10 09:59] Gorash commented on #18103
Hi,
To change the image or other rendering of this snippet you must change the template loaded by the JavaScript : "website_event.country_events_list".
There is no editor for content dynamically loaded by JavaScript.
You can edit it in the views backend settings.
Regards

[2017-07-10 09:59] #18103 closed

[2017-07-10 10:00] Yenthe666 commented on #18105
@mart-e perhaps a warning is in place though? This is a bit harsh to me.

[2017-07-10 11:18] mart-e commented on #18105
Actually @jem-odoo is working to improve the setting screen to prevent this. You will get a dropdown where you have to chose between one of the three (but still in the spec state, not ready yet)

[2017-07-10 11:36] Yenthe666 commented on #18105
Fair enough - if it is handled or will be handled it is fine. Thank you.

[2017-07-10 11:37] nidhinmmohan opened #18124 "How can i print a message when a home page is loaded using widget in odoo10??"
Impacted versions: Odoo 10.0

Steps to reproduce:
I'm a beginner and i was writing java script code on odoo10.0. I referred codes that written previous versions. So, I want to print 'Nidhin, your pet store home page loaded' when my home page is loaded.

Current behavior:
In mypetstore/static/src/js/my_pet_store.js:
mypetstore is my module name .

odoo.define('mypetstore.my_pet_store', function (re

[2017-07-10 12:36] Yenthe666 commented on #18124
Hi @nidhinmmohan,

Thank you for your bug report.
The Github issue tracker however is only for bugs, it is not the place to ask questions. We have the Odoo help forums for that (http://odoo.com/help), please ask your question there as there are plenty of people that can help you there.
Closing as this is not a bug but a question.

Regards,
Yenthe

[2017-07-10 12:36] #18124 closed

[2017-07-10 14:23] JKE-be commented on #18093
Please, test on runbot.odoo.com that is it a generic bug and explains the step to reproduce your problem.

1. create a user with administraion right
2. connect with this user
3. go to the form view xxxx
4. try to add a user
5. ...

Without more informations, we cannot reproduce anything.

[2017-07-10 14:36] nagybal commented on #17107
I do have the same on single company.

Where can I find this option?

[2017-07-10 15:53] sindhav opened #18134 "[10.0] [Bug] Could not set First language as Russian in website"
**Impacted versions:**
Odoo 10.0

**Steps to reproduce:**

I have a use-case where I want to set the Russian language as the First language. When anyone hits the domain of my website then by default website should be in the Russian Language because I want Russian language as the First language and English as a Second Language.

To achieve this I did a configuration as below.

1) My Company languag

[2017-07-10 17:40] AntMoreno commented on #17702
Hi scejudo

I also find it somehow "strange" that nobody has hit this bug before (there's nothing related on this issues until I opened this one) given that it affects three major versions of a core functionality, and also given the big number of users with them installed, so someone has, for sure, used "Traceability" and "Produce several products from one manufacturing order".

I think this is a

[2017-07-10 18:46] siccl commented on #14753
Excellent !!

[2017-07-10 20:17] bigmillz opened #18137 "Attachments to messages stuck on "uploading""
Impacted versions: v9.0c

Steps to reproduce:
1. Create a new quote
2. Click New Message
3. Click the attach button and attach any file

Current behavior: Attachment icon appears above, but says "uploading" indefinitely

Expected behavior: Attachment should finish uploading

Log output even on debug is useless:
2017-07-10 19:53:08,965 31123 INFO amzt-odoo-2 werkzeug: 127.0.0.1 - - [10/Jul/2017 19:

[2017-07-10 20:54] yousef-soliman opened #18138 "pos_discount"
Hi,
Impacted versions:
10.0

why we need to put discount as product ..?
we can put as function and get same result !
i think we haven't use as product..
i try to put some products and get discount and put other some products again
the discount was in the middle between products
i think this not logical !!

[2017-07-11 06:06] Yenthe666 commented on #18134
Hi @sindhav,

Thank you for your report.
It does seem to work to me. However, I did first need to go to the website with the admin user, select the Russian, then logout and then it'll be in Russian (also in other browsers and tabs). Can you try that too and update to the latest source code?
CC @JKE-be because I'm sure you can give more info 😉

Regards,
Yenthe

[2017-07-11 06:12] Yenthe666 commented on #18138
Hi @yousef-soliman,

Thank you for your report.
This is however intended behaviour and works as Odoo wants it to work. If you'd like the discount line on the last line (or some other behaviour) you'll need to do some custom development to achieve this.

Regards,
Yenthe

[2017-07-11 06:12] #18138 closed

[2017-07-11 06:16] Yenthe666 commented on #18137
Hi @bigmillz,

Thank you for your report.
I've just double checked it on the latest source code and it works fine out of the box.
This really looks like an implementation /configuration issue. Please have a look at https://www.odoo.com/documentation/10.0/setup/install.html and especially at https://www.odoo.com/documentation/10.0/setup/deploy.html
If you still face this issue afterwards please do

[2017-07-11 06:16] #18137 closed

[2017-07-11 06:22] JKE-be commented on #18134
You need to check yours urls...
you are probably in russe by defaut (so no language in URL) but because your browser is in en_us, we match automatically your browser language and your Website.

It is just a lead to explain... can you confirm ?

[2017-07-11 07:04] open-net-sarl commented on #18116
Hi @Yenthe666,

If you see the url in the last print you can confirm that I tested in runbot.
Has I said, to reproduce the error you should use a "mesure" that has no values.
For exemple I removed all the leads colors and used "color index" as a mesure to create the pie chart.
The error is only in the pie chart.

[2017-07-11 07:13] Yenthe666 commented on #18116
Oops I'm sorry @open-net-sarl and yes indeed this is a bug. If you remove all the colours on the lead its tags and open te graph it'll even crash without taking the parameter without values:
![image](https://user-images.githubusercontent.com/6352350/28055422-2304b074-6619-11e7-8695-68a11ef1ee61.png)
@ged-odoo as it is JS related, here is one for you. 😉

Regards,
Yenthe

[2017-07-11 08:00] sindhav commented on #18134
@JKE-be is right, website sent response accordingly the browser language. :relaxed:
Thanks @JKE-be and @Yenthe666 for your quick & valuable response.

[2017-07-11 08:01] Yenthe666 commented on #18134
No problem - best of luck!

[2017-07-11 08:01] #18134 closed

[2017-07-11 08:14] PieterPaulussen commented on #18047
Since Odoo just ignores practically all issues that are logged => I'm gonna close this myself.

[2017-07-11 08:14] #18047 closed

[2017-07-11 08:46] #17810 closed

[2017-07-11 09:13] jco-odoo commented on #18089
There is nothing against putting the code back as before, but why do we allow lines of 0 to be generated in the pos picking? Normally, we don't work with moves at 0 qty.

[2017-07-11 09:20] wtaferner commented on #18089
I agree with Jos that a zero stock move does not make any sense.
After taking a look at the video I think that the fix is not to allow zero stock moves but to not create them based on a PoS zero unit sale event of a stockable product.

[2017-07-11 10:08] sitimawaddah opened #18155 "sequence on financial report not working"
Impacted versions:
9c, 10c

Steps to reproduce:
Adjust sequence on financial report setting (menu: Accounting/Configuration/Financial Reports/Account Reports)
set sequence on:
Assets (View) = 100
Liability (View) = 50

Current behavior:
On Balance Sheet report, displayed report still
Assets then Liability

Expected behavior:
On Balance Sheet report, displayed report should be
Liability then Assets

[2017-07-11 11:07] maljac opened #18156 "[8.0] MRP Operation: Operation scheduling - End date calculation wrong"
Impacted versions: 8.0 (probably 9.0 and 10.0)

Steps to reproduce:
1. Create a new Resource schedule (Mo - Sun, 00:00 - 24:00)
2. Create a new Work Order, set Hours to 5, start date to 00:00 or 05:00 (doesn't matter)

Current behavior:
The planned_end is always missing the difference between the users timezone and UCT. For example in UCT+2 the planned end, if we schedule the start to 00:00 and se

[2017-07-11 11:45] Yenthe666 commented on #18156
@jco-odoo could you give feedback? Is this intended behaviour?

[2017-07-11 12:47] blaggacao commented on #15686
@Yenthe666 Can confirm @mgrigajtis is right, it's a bug.
An aborted installation can easily happen when you have set a cpu time limit on workers...
Imagine: You first get to your instance and want to install all modules, besides the fact that you get an ugly "CPU Timeout" traceback (ok, that's responsibility of the hoster), then you cannot resume there installation from the app screen, and baam th

[2017-07-11 13:39] osluys opened #18162 "[10.0] Constrains function on default_code of product.template called multiple times with False value on subsequent calls"
Impacted versions:
10.0

Steps to reproduce:

1. Inherit 'product.template'
2. Define `@api.constrains('default_code')` function
3. Insert debugger statement in function
4. Create a new product
5. Set _Product Code_ to any value
6. Save product

Current behavior:

When the debugger initially breaks in the _constrains_ function, `default_code` will contain the value entered in step 5. What is supri

[2017-07-11 14:25] rim-odoo commented on #17725
https://www.odoo.com/web?debug#id=748346&view_type=form&model=project.issue&action=963&active_id=49&menu_id=4720

[2017-07-11 14:36] rim-odoo commented on #17725
maybe this https://github.com/odoo/enterprise/blob/10.0/account_reports/models/account_followup_report.py#L319
could be coherent with this: https://github.com/odoo/enterprise/blob/10.0/account_reports/models/account_report_context_common.py

[2017-07-11 16:53] luistriana28 commented on #18049
It only happens when I run by /etc/init.d/odoo-server start
it shows the error

[2017-07-11 19:21] philhug opened #18165 "[9.0] account_tax_adjustment: tax_line shouldn't be set on both credit/debit"
Impacted versions: 9.0

Steps to reproduce: Create tax adjustment using the account_tax_adjustment module

Current behavior: move lines are created with tax_line_id set on both credit and debit. In the accounting/VAT report this will result in a value of zero as both values cancel each other out.

Expected behavior: Tax is set on either credit or debit, but not on both

Video/Screenshot link (opti

[2017-07-12 02:47] dhannyz opened #18166 "[10.0 + 10.0e] Important! Working Hours Not Computed Correctly"
Working hours calculated by the method get_working_hours(...) in the resource.calendar model are not computed correctly in certain edge cases.

When both timezone and the beginning of a working interval defined in a resource.calendar happen to overlap, the computation of hours fails for the first hour of the working interval.

Examples:
**Timezone = UTC + 10
Work Interval = 9:00 - 17:00**

### Cas

[2017-07-12 03:30] dhannyz commented on #18166
Stepping through get_working_intervals_of_day(...) the implementation of the timezone adjustment seems completely broken.
Lets say the intended start time, as taken from the webclient is 2017/07/12 9:00 UTC+10
This will be stored in the database as 2017/07/11 23:00

Inside `def get_working_intervals_of_day(...):` we take this as a datetime as the start_dt
start_dt = datetime.datetime(2017, 7, 11,

[2017-07-12 04:29] dhannyz commented on #18156
@maljac @Yenthe666 Could this be related to an issue I just posted?
https://github.com/odoo/odoo/issues/18166
I found an issue here regarding the timezone handling as well. Going back an extra day

[2017-07-12 05:51] kit-lee opened #18167 "Throw exception at create a blog"
Impacted versions:
10

python 2.7.6

postgresql 9.4

CentOS 7

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/addons/website/models/ir_http.py", line 273, in _handle_exception
    response = super(Http, cls)._handle_exception(exception)
  File "/usr/lib/python2.7/site-packages/odoo/addons/base/ir/ir_http.py", line 169, in _handle_exception
    return request._hand

[2017-07-12 05:54] Yenthe666 commented on #18166
Hmm @mart-e this looks off.

[2017-07-12 05:59] #18167 closed

[2017-07-12 06:08] kit-lee commented on #14753
@antonellaandreoni thank you very much!

[2017-07-12 08:18] legalsylvain commented on #17671
Fixed by https://github.com/odoo/odoo/pull/18175.

thanks.

[2017-07-12 08:18] #17671 closed

[2017-07-12 08:33] invitu opened #18177 "[10.0/11.0-account] reconcile with writeoff does not work if writeoff account is the same as the move lines account"
Impacted versions:
9.0-10.0-11.0-master
Workaround :
- for some liquidity accounts, we need to reconcile move lines and keep the writeoff in the same account

Steps to reproduce:
- select move lines to be reconciled with debit <> credit
- in the wizard, choose "reconcile with writeoff"
- in the "Reconcile writeoff" wizard, set the same account that the moves to be reconciled

Current behavior:
- t

[2017-07-12 08:41] eyonatan commented on #17897
Hi @Germano0,

I was having the exact same problem on CentOS  7, x86_64, Odoo 10, . I was able to fix it by upgrading wkhtmltopdf to the latest version found here (https://wkhtmltopdf.org/downloads.html).  I understand per @Yenthe666 , this version is not supported.  Instructions detailed here helped on upgrading: http://datos.asia:8069/blog/odoo-tips-3/post/blank-pdf-reports-generated-6

[2017-07-12 09:19] flotho commented on #17725
@rim-odoo , thanks for you analysis.
Do you then consider this as a bug ?

[2017-07-12 09:38] invitu opened #18181 "[10.0/11.0-point_of_sale] Taxes calculation is wrong with fiscal position"
Impacted versions:
10.0

Steps to reproduce:
- Setup a fiscal position with taxes mapping
- Make a pos_order with the fiscal position

Current behavior:
- When payment is done, taxes calculation is wrong and the pos_order is not paid

Expected behavior:
- The pos_order taxes calculation should be ok and the pos_order should be paid

Video/Screenshot link (optional):

[2017-07-12 09:39] invitu commented on #18181
fixed here : https://github.com/odoo/odoo/pull/17865

[2017-07-12 09:40] invitu opened #18182 "[10.0/11.0-point_of_sale] When closing pos session, the account move date does not take session date in shop timezone"
Impacted versions:
10.0
Steps to reproduce:
- Setup a Company with timezone GMT-10
- Open a pos session on day 1 at 8:00PM (GMT-10)
- When sales are over, close the pos session

Current behavior:
- The account move date is set at day 2

Expected behavior:
- The account move date should be set at day 1

Video/Screenshot link (optional):

[2017-07-12 09:41] invitu commented on #18182
fixed here : https://github.com/odoo/odoo/pull/17883

[2017-07-12 11:16] nim-odoo commented on #17725
Hello,

The following enterprise commit should solve the issue: https://github.com/odoo/enterprise/pull/1186
(it is for v9, but you can apply it in v10). Can you confirm it works for your case?

[2017-07-12 11:30] Yenthe666 commented on #18181
Hi @invitu,

Thank you for your report.
I'm not sure why you first made a PR and then a bug report though? You don't need to create a bug report if you make a PR. It generates noise / extra issues while it isn't really needed.
Somebody from the Odoo team will look at the PR as soon as possible 😉

[2017-07-12 11:30] Yenthe666 commented on #18182
Hi @invitu,

Thank you for your report.
I'm not sure why you first made a PR and then a bug report though? You don't need to create a bug report if you make a PR. It generates noise / extra issues while it isn't really needed.
Somebody from the Odoo team will look at the PR as soon as possible 😉

[2017-07-12 12:20] vieterp-viet opened #18190 "[10.0]Graph view missing label"
Impacted versions:
[10.0]
Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
On this picture have 4 label: blibli, lazada, qoo10, shopee
![screen shot 2017-07-12 at 3 05 14 pm](https://user-images.githubusercontent.com/26352958/28117153-7771c138-6736-11e7-8b84-f37043e71496.png)

On this picture missing label: blibli
![screen shot 2017-07-12 at 3 05 19 pm]

[2017-07-12 12:37] Yenthe666 commented on #14942
Hmm guys sorry to bother you again, but I'd really like to get some feedback or to get this going again. @JKE-be, @mart-e, @xmo-odoo and @odony pretty please? 😉

[2017-07-12 14:27] nim-odoo commented on #17707
will work on it soon

[2017-07-12 15:31] pedrobaeza commented on #15634
For references, we have got the first 2 points in https://github.com/OCA/web/pull/672.

[2017-07-13 06:09] anaghjose opened #18201 "Critical: users without an account(public users) can create infinite number of quotations in the system just by adding products to Cart from website."
Impacted versions: Version: 10.0-20170712 confirmed. Probably present in older versions

Steps to reproduce: Open up Odoo website(front end). as a public user add any one of the products into the cart,  go to  '/shop/cart' page and in the product quantity, instead of giving a integer number, give a random test string eg: 'sfsdgf'. refresh the quotations menu in the backend repetedly to see the quo

[2017-07-13 08:28] wpichler opened #18204 "starred message update - unstar it for example"
Impacted versions: 10.0
Steps to reproduce: Star a message - then click it again to unstar it.
Current behavior: UI does not update, after a reload you will have the correct result
Expected behavior: UI should update immediately

[2017-07-13 09:22] Derter opened #18207 "[9.0 Enterprise]: Leads get deleted after call of function: crm.lead2opportunity.partner search_read"
Impacted versions: [9.0 Enterprise]

We noticed the behavior of deletion of leads about 2 weeks ago. Since then I increased logging to be sure whats happening if a deletion happens again. Today the deletion of a huge amount of leads happened again. In the Logs I can see that the  crm.lead2opportunity.partner search_read function calls all the ID's of the Leads that get deleted afterwards.

Followi

[2017-07-13 09:29] Yenthe666 commented on #18207
Hi @Derter,

Thank you for your report.
I miss one thing though. You're stating what is happening but not how to reproduce this. Can you reproduce this on an official Odoo instance? (runbot.odoo.com).
Could you please update your Odoo to the latest source code and test again?

Regards,
Yenthe

[2017-07-13 10:10] temuccio commented on #10748
Hello, i have the same problem of @madeadi
Do you have solve it?

[2017-07-13 10:27] Derter commented on #18207
Hi @Yenthe666,

thanks for your answer.

Its not reproduceable since we dont know what exactly is executing the deletion. I guess the functions is called when you create an opportunity out of a lead.

The function crm.lead2opportunity.partner search_read is called many times in the log but only one time it has that many ID's that afterwards get deleted.

I was hoping that this behavior might have

[2017-07-13 11:08] pedrobaeza opened #18209 "[9.0] stock: MTO picking lines are reserved with other material if any"
Impacted versions: 9.0

Steps to reproduce:

* Create an MTO product with
  * Product Type: Stockable Product
  * Routes: "Buy" and "Make to Order"
* Update Qty on Hand to any quantity (i.e, 2).
* Create a sales order with this product and a number <= to the one in the step before.
* Confirm the sales order.

Current behavior:

The created delivery picking appears in state "Reserved" and the curre

[2017-07-13 11:08] pedrobaeza commented on #18209
@jco-odoo I think this one is for you. If you don't have time right now, just tell me and I'll investigate the PR, but this is as you have more fresh everything stock related and you will need less time.

[2017-07-13 11:09] pedrobaeza commented on #18209
cc @Tecnativa

[2017-07-13 11:18] Yenthe666 commented on #18207
Hi @Derter,

Can you please try updating your Odoo first and try to reproduce this on a runbot? Without this there is little we can do.. 😞

[2017-07-13 11:29] nim-odoo commented on #17707
I agree with the issue (obviously), but another solution would be to avoid the error by handling a quant with a negative cost correctly. This is proposed in PR #18210 .

[2017-07-13 11:36] Derter commented on #18207
Hi @Yenthe666,

i tried reproducing it but since i have no access to logs whatsoever I have no clue whats really going on on the server and if a deletion call is sent.

Furthermore I cannot find opporturnities on odoo 9 community.

[2017-07-13 11:59] Yenthe666 commented on #18207
Hi @Derter,

You have to configure this under `Sales` > `Settings` to allow leads on a runbot.
If you don't have acces to the logs / server then please ask your partner (or contact) to update and verify this.

Regards,
Yenthe

[2017-07-13 11:59] jco-odoo commented on #18209
Indeed, it should be waiting another operation.  But has not this been corrected already?

[2017-07-13 12:03] dhannyz commented on #17707
@nim-odoo I agree, this would handle the issue more generally rather than just the landed cost case.

[2017-07-13 13:48] pedrobaeza commented on #18209
I have just tried on runbot before putting the issue.

[2017-07-13 13:54] pedrobaeza commented on #18209
On v10 is not happening. Only in v9.

[2017-07-13 14:03] #17707 closed

[2017-07-13 14:08] sle-odoo commented on #18209
rev https://github.com/odoo/odoo/commit/8d65763f935dcc6483278a6aecd2039e41974773 indeed landed only in v10

[2017-07-13 14:12] jco-odoo commented on #18209
@nim-odoo

On Thu, Jul 13, 2017 at 4:09 PM, Simon Lejeune <notifications@github.com>
wrote:

[2017-07-13 15:05] aario commented on #10667
Same on version 10.0. Looks like no body tries to create invoices in multi company mode so no body fixes the issue. I read the source code and found some clue why this happens:
        p = self.partner_id if not company_id else self.partner_id.with_context(force_company=company_id)
        type = self.type
        if p:
            rec_account = p.property_account_receivable_id
            pay_acc

[2017-07-13 22:21] ChemHseOz opened #18216 "Odoo 10E: Consumable Items Showing as stocked"
Impacted versions:

Steps to reproduce:
Stars with a stocked item that has had past transactions therefore has a possible/negative stock level. The stock item is then changed to consumable (ie decide it is no longer necessary to track stock levels of that particular product/item). I call this a previously stocked/now consumable item (PSNCI).

Current behaviour:
Once the above occurs, the BOMs usin

[2017-07-14 00:36] dhannyz commented on #16072
@nle-odoo Looking forward to odoo v11, with the frontend rewrite, will this workaround still be required to achieve this type of functionality? Or are there other possibilities with the new framework?
@lmignon Do you know yet if your module will be usable in v11? I would guess it may need some reworking.
I imagine there has been significant time invested in improving the behaviour of x2many fields

[2017-07-14 00:37] BeAntares opened #18217 "Accounting dashboard Vendor Bill journal shows the total ammount in the "payments to do" section instead of the "to pay" ammount"
Impacted versions: 10

Steps to reproduce: When partial payments are performed on vendor bills, the Accounting dashboard shows the total amount to pay including the quantity already paid instead of the remaining amount to pay.

Current behavior: When partial payments are performed on vendor bills, the Accounting dashboard shows the total amount to pay including the quantity already paid instead of

[2017-07-14 00:40] flyingL123 commented on #16072
@dhannyz Agreed. I am relying pretty heavily on the web_domain_field module for my implementation. I'm hoping it still works in v11 if the standard Odoo functionality doesn't suffice.

[2017-07-14 05:32] taxcloud commented on #18084
**Question:** how could this happen, unless the implementation is attempting to reverse engineer a tax rate from a TaxCloud TaxAmount response.

**Please confirm:** is the Odoo implementation calculation ating a tax rate based upon TaxCloud API TaxAmout responses?

**Why is this important?**
Odoo machinery should NOT reverse engineer tax rates (because several states have odd rounding rules). More

[2017-07-14 06:39] mga-odoo commented on #17974
Hello muralikrishnareddy,

first, thanks for the notice about the GST and CESS in Odoo, by the way I check and both of your case are working with the standard Odoo configuration, however i am agree that for the endusers it may not be usable.

**Case 1: 5% + Rs.1591 per thousand, 12.5%**

Look at how the tax configured, 5% + fixed per pcs.

![case001](https://user-images.githubusercontent.com/75957

[2017-07-14 06:57] mga-odoo commented on #17974
I think GST Cess listed https://www.indiafilings.com/learn/gst-cess/ can be configured within Odoo without any further development.

[2017-07-14 07:07] nim-odoo commented on #17725
Solved from v10 in https://github.com/odoo/enterprise/commit/75a0dbf53ffa8759d0a717bf253d23c611f39926

[2017-07-14 07:07] #17725 closed

[2017-07-14 08:24] Yenthe666 commented on #17974
@qdp-odoo can you verify / confirm this? 😄

[2017-07-14 09:04] treviser commented on #10496
@qdp-odoo Could please let me know for which stable version it has been fixed (9.0, 10.0...)?

[2017-07-14 10:00] collex100 opened #18234 "[10.0] Email - >Templates -> Sale Order Notification Email is empty"
**Impacted versions:**
10

**Steps to reproduce:**
Make a sale (I tested from my account). I received an almost empty letter with an account.
I went to Email -> Templates -> Sale Order Notification Email
and
Email -> Templates -> Invoice Notification Email

**Current behavior:**
These templates are empty (except for the heder and footer):
![screenshot_7](https://user-images.githubusercontent.com/1

[2017-07-14 10:15] collex100 opened #18235 "[10.0] Bug (500) when customer saving own contacts in the portal"
**Impacted versions:**
10

**Steps to reproduce:**
After the customer made a purchase, he can not save own contacts in the portal.
Page:
`/my/account`

![screenshot_10](https://user-images.githubusercontent.com/11208423/28208482-7f2c841a-6896-11e7-9be9-699ba9daad23.png)

**Current behavior:**
In the log, I get this error:

2017-07-13 20:54:46,356 22285 ERROR marker1 odoo.addons.website.models.ir_h

[2017-07-14 11:44] Yenthe666 commented on #18235
Hi @collex100,

Thank you for your report.
I can't seem to reproduce this on the latest Odoo source code, could you make a video please? (CC @JKE-be)

Regards,
Yenthe

[2017-07-14 11:52] collex100 commented on #18235
Hi @Yenthe666,
Ok, I'll try to make a video.

[2017-07-14 11:54] online-odoo commented on #18235
Hi Colkex,

Please update your python code to last version.

I have fixed this bug 2 week ago: https://github.com/odoo/odoo/commit/4322d96a0cad9eb67c74bb60ad260473cdb4891b

Best regards

[2017-07-14 11:57] JKE-be commented on #18235
Hi @collex100

Please update your python code to the last version.

I have fixed this bug 2 weeks ago: 4322d96

Best regards

[2017-07-14 12:13] collex100 commented on #18235
Thank you @JKE-be and @Yenthe666 ! I updated the code, the error disappeared. Now, it seems to be working properly.

[2017-07-14 12:13] #18235 closed

[2017-07-14 12:39] dansanti opened #18236 "[9.0] decimal_point and thousands_sep on clean db always on default format"
Impacted versions:
9.0

Steps to reproduce:
1.- Create a new db
2.- select another country an language( ie. Chile, and spanish(Chile)),
4.- install some modules (i.e sales)
5.- activate debug mode
6.- go to configuration > translations > languages

Current behavior:
decimal_point == .
thousands_sep == ,

Expected behavior:
use idiom default config
decimal_point == ,
thousands_sep == .

[2017-07-14 13:50] nle-odoo commented on #17855
Hi @Fenkiou,

If you wish, you could try the solution I am working on in:
 https://github.com/odoo/odoo/pull/18239/commits/6f62f7eb258

I still needs to do more test but if all is well it could be merged next week.

[2017-07-14 13:54] JKE-be commented on #18236
Please give more information

Thanks

[2017-07-14 14:09] nle-odoo commented on #16072
@dhannyz

doing a small test on master (new framework is available since saas-16), the following gives me an error in any case:

`domain="[('id', 'in', m2m_field and m2m_field[0][2])]"`

and this works:

`domain="[('id', 'in', x2m_field)]"`

[2017-07-14 14:12] pedrobaeza commented on #16072
Cool! I was having a lot of issues with this and finally discarding this technique due to these issues.

[2017-07-14 14:15] Yenthe666 commented on #18236
Hi @dansanti,

Can you please explain in more detail what you want/expect? The topic is not very clear (to me).

Regards,
Yenthe

[2017-07-14 14:27] intero-chz opened #18244 "[9.0,10.0] tags in kanban not rendered correctly if chosen too many"
Impacted versions: 9,10 CE and EE (8 not tested)

Steps to reproduce:

Create or edit a project task and add 6 **colored** tags to it.

Current behavior: Second and following tag lines are rendered into kanban text (like name)

Expected behavior: All tags are rendered correctly.

Video/Screenshot link (optional):

![tags](https://user-images.githubusercontent.com/8614174/28216162-ecba6eba-68b0-11e

[2017-07-14 15:28] dhannyz commented on #16072
@nle-odoo ok that's interesting, I will have to have a play around. Particularly with the behaviour inside a one2many tree like sale order lines.
It would be great if this indeed behaves nicely in all scenarios

[2017-07-14 19:48] dansanti commented on #18236
I'm sorry, it's a problem with locales

[2017-07-14 19:48] #18236 closed

[2017-07-14 19:52] milan-thakkar commented on #17333
Hello @Yenthe666 ...have you seen that i posted error from runboot..please look at it and solve it...

[2017-07-15 09:41] hubeizys opened #18248 "odoo odoo.modules.registry: Failed to load registry"
Impacted versions:10.0

Steps to reproduce:
1.  run cmd     ` /usr/bin/python /usr/bin/odoo --config /etc/odoo/odoo.conf`
2.  run local   cmd   `wget localhost:8069`

Current behavior: load cvs file error and  cant start progam

Expected behavior:

very long . . ..

2017-07-15 09:17:34,417 3490 INFO ? odoo: Using configuration file at /etc/odoo/odoo.conf
2017-07-15 09:17:34,417 3490 INFO ? odoo: a

[2017-07-15 14:49] Yenthe666 commented on #18244
Hi @intero-chz,

Thank you for your report.
While this is something that is highly unusual and more of an interface / UX improvement I do agree it should be improved.
@nim-odoo could you have a look perhaps? (CC @mart-e - this is usability)

Regards,
Yenthe

[2017-07-15 17:37] cliffkujala commented on #18010
Ok. So to update this.

1. I guess this is an expected problem if you do not make a manual Journal Entry to move "Current Year Earnings" over to a retained earnings account at the end of the fiscal period (or for me it seems cleaner to do the move on the first day of the next period but I'm not an accountant).  So I guess this portion of this could be marked closed, ALTHOUGH I don't agree with the

[2017-07-16 02:09] sapdenny opened #18249 "ODOO 8 Error and very long time query performance on creating/duplicating BOM (Bill Of Material) manufacturing"
Impacted versions:
odoo 8
Need long time to create/duplicate data under BOM section.
Cant see or explain if this problem comming from odoo/code.
To make sure the problem, I run the query on non office hour so there is noone logging into system at the time.

Steps to reproduce:
Create/duplicate BOM

Current behavior:
Error 502 bad gateway after loading almost 30minutes

Expected behavior:
Should be

[2017-07-16 05:21] jbeficent opened #18250 "[9.0,10.0] Should not allow users to change product in stock moves of duplicated picking associated to sale order"
Impacted versions:9.0, 10.0

Steps to reproduce:
1.Install module sale_stock
2. Create a sales order containing a stockable product
3. Confirm the SO
4. Duplicate the picking
5. Change the product in the new picking

Current behavior:
The stock move that was changed by the user continues to point to the procurement associated to the sales order line. But now there's an inconsistency between the pr

[2017-07-16 09:14] Yenthe666 commented on #18250
Hi @jbeficent,

Thankyou for your report.
Just a tip: if you make a PR you don't have yo create an issue too. Just create a PR with all yhe information about how to reproduce it and what it fixes.
That being said, @jco-odoo could you have a look at the PR please? It looks good to me.

[2017-07-16 13:56] grzekru opened #18252 "[10.0] Permissions: Portal user cannot access Project/Tasks"
Impacted versions: 10.0

Steps to reproduce:
1. Create new database
2. Install Project App
3. Install Contacts Directory App
4. Create new customer contact, set email address
5. Create new project, Privacy: Visible by following customers or On invitation only
6. Create project tasks
7. Add contact from step 3 to Customer and to Followers
8. Allow external users to sign up (General Settings)
9. Add

[2017-07-16 17:27] cliffkujala commented on #14679
This has been corrected and now points to a user docs page on odoo.com

[2017-07-16 17:27] #14679 closed

[2017-07-17 05:44] muralikrishnareddy commented on #17974
@mga-odoo Hi Mantavya Gajjar,

Thanks for your reply with samples. I hope your solution works perfectly for me.

[2017-07-17 06:23] Yenthe666 commented on #18249
@odony could you give some feedback here? With 32 cores and 64GB of RAM it looks almost impossible for me to take 30 hours.
Could you help a hand in here? 😉

[2017-07-17 07:27] qdp-odoo commented on #10496
sure. it was released on https://github.com/odoo/odoo/commit/b17e4a0f6, so for version 10.

As you can see, the "fix" is a complete revamp of the journal entries numbering for bank statements so it can't simply be backported to v8.
My opinion would be to close this bug report unless you really need the fix for v8 and have an enterprise contract and want to use it

[2017-07-17 07:29] sapdenny commented on #18249
lol @Yenthe666 :v , the query last spotted at least 30minutes and then its gone. System give me msg something like "bad gateway".
Any help would be apreciated.

Regards
Denny S

[2017-07-17 07:32] qdp-odoo commented on #17974
I've no knowledge at all of the indian taxes, but I suppose Mantavya is right.

Let's close this bug report, and assume @muralikrishnareddy will reopen it if it's not 100% working as expected.

Thanks

[2017-07-17 07:32] #17974 closed

[2017-07-17 07:53] Fenkiou commented on #17855
Hi @nle-odoo,

Thanks for the update, I confirm that your fix solve the issue.

But it creates a new issue, when you go on `Applications` page, you get: `TypeError: field.field is undefined`.

[2017-07-17 08:05] treviser commented on #10496
@qdp-odoo Thanks for your feedback. I would need a fix for 9.0 only.

[2017-07-17 09:09] tivisse commented on #18084
Hi @taxcloud

We don't try to reverse engineer the tax rates from the previous Taxcloud responses. We just convert the returned amount into a tax rate on the related sales order (after having deducted the discounted price, etc). So there is no magic in there. On the Sales Order validation and on the Invoice validation, a call to Taxcloud is made to validate the taxes for all the Sales Order lines

[2017-07-17 09:24] nle-odoo commented on #17855
well spotted, I'm not sure I would have tested that.

I have updated the PR.'

[2017-07-17 09:53] muralikrishnareddy commented on #17974
@mga-odoo Is there any Idea about developing GSTR1 formats to upload bulk invoices to the GST system for at least Enterprise Editi
[GSTR1_Excel_Workbook_Template-V1.0.xlsx](https://github.com/odoo/odoo/files/1152159/GSTR1_Excel_Workbook_Template-V1.0.xlsx)
on ?

[2017-07-17 10:07] tivisse commented on #18084
Hello @matt454357

Sorry for the delay, your issue has been fixed in 10.0 at https://github.com/odoo/enterprise/commit/681c6c1edb872fa9593ff7fb82c2e4a8ae7af141

Have a nice day,

Yannick.

[2017-07-17 11:42] Fenkiou commented on #17855
@nle-odoo it was just a coincidence, I didn't meant to try all views.

Anyway, thanks for the fix. :)

[2017-07-17 12:06] muralikrishnareddy opened #18271 "Is there any Idea about developing GSTR1 formats to upload bulk invoices to the GST system for at least Enterprise Edition?"
Impacted versions: 9.0, 10.0

Steps to reproduce: INDIA GST, not found any module for GSTR1 excel

Current behavior: GSTR1 excel Not Available

Expected behavior: Shall be able to generate GSTR1 excel formats based on customer's company
[GSTR1_Excel_Workbook_Template-V1.0.xlsx](https://github.com/odoo/odoo/files/1152496/GSTR1_Excel_Workbook_Template-V1.0.xlsx)

Video/Screenshot link (optional):

[2017-07-17 15:27] jbeficent commented on #18250
Closing the issue, as the PR would probably not address the issue correctly.

I guess that the root cause of the problem is another.

In my use case users are unable to change the source location after the sales order has been confirmed. It usual for shipping to decide that a product will be sourced from a different location/warehouse once the sales order has been confirmed, if they realize that t

[2017-07-17 15:27] #18250 closed

[2017-07-17 17:41] hugho-ad commented on #17342
Fixed in https://github.com/odoo/odoo/commit/8bd56bb46628e57f41c635f20c527264d7a20d86

[2017-07-17 17:41] #17342 closed

[2017-07-17 18:15] odony commented on #18249
@sapdenny could you show a short video of what you're doing in the UI when it happens, and what the database activity looks like on the server side, e.g. the real time output of `htop` and `pg_activity` while your operation is running? Creating/duplicating a BOM is a light operation that is not expected to last more than a few seconds, unless something else is blocking it.
You can use the shortcut

[2017-07-18 00:39] M5soluciones commented on #1786
Dear:

I will explain:

1) go setting -> users
2) erase search default filter , use advance search and select Active is false, then push apply, then it will show Template User
3) edit template user, check boxes public and portal access
4) save user
5) logout
6) shop already is shown for guest customers

thank you and good luck !!

Marcelo Magnatera

[2017-07-18 02:11] sapdenny commented on #18249
hi @odony thanks for reply.
Yes I think video could explain more, lemme arrange time to capture it all maybe tonight. (i'll post it later)

Here are some information about how we tune our odoo/postgresql engine.
- workers = 54
- shared_buffers = 8GB
- effective_cache_size (not setting yet)
- listen_addresses = '*'
- max_connections = 500
- work_mem = 96MB
- maintenance_work_mem = 32MB

About our s

[2017-07-18 05:16] Gouravchawla commented on #3538
I'm facing the same issue with Odoo v8.

[2017-07-18 07:43] #18089 closed

[2017-07-18 08:32] grzekru opened #18293 "[10.0] Uploading large file crash Chromium/Google Chrome"
Impacted versions: 10.0, works good on 8.0
Google Chrome: Version 59.0.3071.109 (Official Build) (64-bit)

Steps to reproduce:
1. Activate the developer mode
2. Settings -> Technical -> Database Structure -> Attachments -> Create
3. Upload 20mb file.
4. Google Chrome crash

Current behavior:
Google Chrome crash

Expected behavior:
File uploaded

Video/Screenshot link (optional):
![image](https://u

[2017-07-18 09:26] intero-chz commented on #18244
The problem lies [here](https://github.com/odoo/odoo/blob/61304087e7f48c677837dabdc8f1f8aeb18fb52e/addons/web_kanban/static/src/less/kanban_view.less#L110)

`max-height: 100%` works well, but i don't know if that is the wanted solution.

[2017-07-18 09:45] Yenthe666 opened #18295 "Creating many2one linking to ir.model.fields inside a One2many throws ValueError"
Impacted versions: 10.0, probably all others too.

Steps to reproduce:
1. Create a new model (in my example `project.task.settings`)
2. Create a `many2one` from your new model to `ir.model.fields`. Add in another custom field. Your code should look something like this:
[code]
3. Inherit an existing model or add a new one and add a `one2many` to the just created `many2one` (in my example `field_ids

[2017-07-18 09:45] Yenthe666 commented on #18295
@mart-e this is the whole case with a minimum coding example to reproduce.

[2017-07-18 10:14] mart-e commented on #18295
Ok, I have found your issue:

[code]

The inverse of your one2many is not `field_ids`

[2017-07-18 10:14] #18295 closed

[2017-07-18 11:04] Burtonsnow82 commented on #14848
Sorry but I've the same .py file mentioned on commit 1879964, but the problem still remaining.
When employe insert new leave request, his manager don't receive any notification...please help me
Odoo 10

[2017-07-18 11:06] Burtonsnow82 opened #18296 "Hr_holidays Department managers and other followers of the department are not notified and added as followers on new leave requests in their department"
Impacted versions: Odoo 10

Sorry but I've the same .py file mentioned on commit 1879964, but the problem still remaining.
When employe insert new leave request, his manager don't receive any notification...please help me

[2017-07-18 11:21] Yenthe666 commented on #18296
Hi @Burtonsnow82,

Not sure why you'd create a new report and reply on the old one to be honest.
Have you updated your Odoo source code to the version past the commit https://github.com/odoo/odoo/commit/1879964116b9ca6635f46ef640748198832bd6a6 ?

Regards,
Yenthe

[2017-07-18 11:40] Yenthe666 commented on #18295
Yep, that was very stupid. Sorry!

[2017-07-18 12:13] Burtonsnow82 commented on #18296
Hy Yenthe666

I have copy and paste the entire code on hr_holiday.py...Is it correct?

Tnks and sorry for my bad english

[2017-07-18 12:44] Yenthe666 commented on #18296
Hi  @Burtonsnow82,

Well that is not really the best way. Usually you update your whole Odoo code base and not just copy/paste a .py file. Let us assume, for now, that this is fine though. Have you updated your module too?

[2017-07-18 12:48] Burtonsnow82 commented on #18296
No...I've only paste the code in hr_holiday.py.
How I can update my module?

[2017-07-18 12:55] Yenthe666 commented on #18296
Hi @Burtonsnow82,

It is clear that you lack some good knowledge / details on how Odoo works. I'd suggest you to have a look at some of the Odoo tutorials. Have a look at https://www.odoo.com/documentation/10.0/setup/deploy.html and https://www.odoo.com/nl_NL/forum/help-1/question/what-is-the-right-way-to-upgrade-odoo-server-from-github-e-g-from-odoo-v8-saas-5-to-master-57423 and https://www.googl

[2017-07-18 12:55] #18296 closed

[2017-07-18 13:48] daimengmeng opened #18303 "[10.0] Sale Price calc error"
Impacted versions:
versions: 10.0

Steps to reproduce:
1.  1 price list with 2 price list items A and B, each one have difference date range, say  A is early than B
2.  assign the price list to partner 1
3.  create a sales order for partner 1, and set the order date during the date range of B,
4.  it update the price according to A not to B

Current behavior:
1, get price not following date range

[2017-07-18 13:51] GoodERPJeff commented on #18303
talk is cheap, show me the code

[2017-07-18 14:19] jeffery9 commented on #18303
https://github.com/odoo/odoo/blob/10.0/addons/sale/models/sale.py#L919

[2017-07-18 15:14] msntop commented on #18303
吊吊的

[2017-07-18 17:12] aario commented on #4956
Sad too see that this is another one of thousands of bugs left open for years with no response! Very good software but unfortunately abandoned. Will post a fix if I found one.

[2017-07-18 22:12] mozzee commented on #12137
facing same issue with Odoo 17 on CentOS 7, can not print anything

[2017-07-19 04:48] sapdenny commented on #18249
Hi @odony
Ive done with 10mins video https://drive.google.com/open?id=0BykAWynctHacYzVZbGdOcXFLYXc](url)
Actually the query still running for more than 30mins
Hope you can see the problem there

Best Regards
Denny S

[2017-07-19 06:02] eyonatan commented on #16515
@Yenthe666 @nim-odoo any updates on this?
@alfaser123 Did you find a solution for this problem?
Thanks.

[2017-07-19 06:29] Yenthe666 commented on #18249
Hi @sapdenny,

Your URL doesn't seem to work (neither with (url) and without (url) behind it).
![image](https://user-images.githubusercontent.com/6352350/28353502-5bd999b6-6c5c-11e7-9baf-af84c391e6b7.png)
Could you check again please?

Regards,
Yenthe

[2017-07-19 06:33] sapdenny commented on #18249
@Yenthe666
Sorry my fault. So letme know if this one cannt open https://drive.google.com/open?id=0BykAWynctHacYzVZbGdOcXFLYXc

Regards
Denny S

[2017-07-19 06:34] Yenthe666 commented on #16515
No update yet - I'll create a new bug report under https://www.odoo.com/nl_NL/help with an enterprise license to try and speed this up.

[2017-07-19 06:50] Yenthe666 commented on #18249
Yep this works - thanks! I'm sure Olivier will give feedback soon 😉

[2017-07-19 07:21] Yenthe666 commented on #4956
@aario not really abandoned, there are just not enough resources to maintain and fix all issues within the given time. The guys from Odoo really try to do there best though..
@jco-odoo could you perhaps have one more look at this please?

[2017-07-19 09:44] Yenthe666 commented on #3983
Hi @zbik2607,

Thank you for the bug report and apologies for the delay..
I've just double checked this and most of these are already fixed (I just made a PR for two more at https://github.com/odoo/odoo/pull/18324).
If you do still miss some you're always free to make a PR so we can merge it in!

Regards,
Yenthe

[2017-07-19 09:44] #3983 closed

[2017-07-19 09:47] Yenthe666 commented on #5347
Hi @mohmarouf,

Thank you for your report and apologies for the late reply.
At this point we no longer support Odoo 7, as we only support three Odoo versions at a time.
If you still face this report in a newer version (8.0, 9.0 and 10.0) please feel free to create a new bug report!

Regards,
Yenthe

[2017-07-19 09:47] #5347 closed

[2017-07-19 09:51] #5281 closed

[2017-07-19 09:53] Yenthe666 commented on #5279
Hi there,

I'm closing this bug report as it is not a bug but a question.
Feel free to ask this on the help forums at https://odoo.com/help. To answer: there is no installation guide for that specific version 😉

Regards,
Yenthe

[2017-07-19 09:53] #5279 closed

[2017-07-19 09:53] Yenthe666 commented on #5276
Fixed at https://github.com/odoo/odoo/commit/67bdc241bd7c2a358871f43dd4adcc091d125711

[2017-07-19 09:53] #5276 closed

[2017-07-19 09:55] Yenthe666 commented on #5301
Hi @Wishtech,

Thank you for your report.
This bug has been fixed in the meanwhile and it now works fine:
![image](https://user-images.githubusercontent.com/6352350/28361437-108b58a6-6c79-11e7-9fc4-9f165b0683f9.png)
If you still face this issue please update your source code to the latest version.

Regards,
Yenthe

[2017-07-19 09:55] #5301 closed

[2017-07-19 09:55] Yenthe666 commented on #5406
@jco-odoo any update here? I believe this can be closed?

[2017-07-19 09:56] Yenthe666 commented on #5275
Hi @jothehero,

This looks more like a question then a bug report to me. As this is also about custom development you should use the official help forums (https://odoo.com/help).
P.S: Do add more information next time too 😉

Regards,
Yenthe

[2017-07-19 09:56] #5275 closed

[2017-07-19 09:58] Yenthe666 commented on #5266
Hi @laetitia-gangloff,

Thank you for your report.
As Odoo only supports the last three versions (at this point 8.0, 9.0 and 10.0) this report won't be handled anymore. I believe this is fixed in V8, V9 and V10 though.
If you still face this issue (but on a newer version) please don't hesitate to create a new bug report and we'll try to look at it as soon as possible.

Regards,
Yenthe

[2017-07-19 09:58] #5266 closed

[2017-07-19 10:00] Yenthe666 commented on #5246
Hi @vitasoa,

Thank you for your bug report and my apologies for the late response.
This bug seems to be fixed in the newer versions (V8, V9 and V10). As we no longer support Odoo 7 (Odoo goes back three versions) I'm closing this bug report.

Regards,
Yenthe

[2017-07-19 10:00] #5246 closed

[2017-07-19 10:19] lukebranch commented on #3861
@Yenthe666 ,

Sorry to ping you on this one. I've run into this issue in Version 10.0e and reported it through the enterprise support channel with ticket number: 753073

It appears that it is impossible to import purchase order lines using the following unique references:

Product Variant External ID
default_code
name

I have attempted exactly the same method in the Sales Order Lines and it works

[2017-07-19 11:59] lukebranch commented on #18293
@grzekru ,

What are the specs of the machine you are on?

[2017-07-19 12:36] grzekru commented on #18293
@lukebranch
Machine 1:
Intel(R) Core(TM) i3-3240 CPU @ 3.40GHz
8 gb ram
128gb sdd

Machine 2:
Intel(R) Xeon(R) CPU E5-2620 v4 @ 2.10GHz
64gb ram
256gb sdd

Both running on ubuntu 16.04

[2017-07-19 14:21] javierjcf opened #18334 "[10.0] Stock inventory security error in multicompany and multi language"
Impacted versions: 10

Steps to reproduce:

Create new database with demo data.
Create new company, (not child of default companies)
Create new user and give all companies access.
Install stock module.
Do and inventory in default company with one product variant (p.e. ipad) and initialize it.
Change to the new company, and do the same inventory of the same product: No problem.
Now if you load a ne

[2017-07-19 14:34] mart-e commented on #18303
Hello,

Thank you for the report. You are totally right, this was broken in 9.0.
Thanks Jeffery for the patch.

[2017-07-19 15:14] Yenthe666 commented on #18303
Fixed in https://github.com/odoo/odoo/commit/60d46345444fcb268d1846d30963e63adcba98c0

[2017-07-19 15:14] #18303 closed

[2017-07-19 15:25] jeffery9 commented on #18303
@mat-e  this effected 10.0 too.

[2017-07-19 15:29] Yenthe666 commented on #18303
@jeffery9 no worries, it'll be forward ported to newer versions (usually takes a good week)

[2017-07-19 15:58] #14097 closed

[2017-07-19 20:28] Yenthe666 commented on #18271
@qdp-odoo I think you can give a quick reply on this. Anything on the planning for India GST and GSTR1?

[2017-07-19 20:44] flyingL123 opened #18336 "Search method for product.product qty_available field not working correctly"
It seems like something might be wrong with the search method on the `qty_available` field on the `product.product` model:

https://github.com/odoo/odoo/blob/saas-14/addons/stock/models/product.py#L270

If I have search for products with `qty_available <= 5`, products with `qty_available = 0` are not included in the results.

For example, if I have the following products:

Product A -> qty_availab

[2017-07-20 00:11] alfaser123 commented on #16515
I found that printing in the mentioned option  is not the way:
![image](https://user-images.githubusercontent.com/29344513/28394768-0d1dfe08-6cb5-11e7-81c5-1cac4b221a37.png)

nevertheless we can get printed reports made in the same view. this is the work around:

1-set the report as you desire on the view (my address)
http://192.168.0.130:8094/web?debug=1#min=1&limit=80&view_type=list&model=accoun

[2017-07-20 07:28] gva-acsone opened #18345 "Tags titles are not displayed properly on the kanban view of applications"
Impacted versions: V10

Steps to reproduce:
- Create a new application
- Add a tag on this new application
- Move to the applications kanban view and check the application juste created

Current behavior:

We see a grey bar that indicates that a tag is present, but we don't see the tags label/title as we could see in V8

Expected behavior:
The grey bar is present and we can see the tag label direc

[2017-07-20 07:39] gva-acsone commented on #18345
755952

[2017-07-20 07:54] intero-chz commented on #18336
No wonder, the search is done on `stock.quant`. There won't be a product without quants  (qty = 0) in the result, because there are no 0 quants.

[2017-07-20 08:13] qdp-odoo commented on #18271
@hmo-odoo anything in "RD India" project for that?

[2017-07-20 08:22] mart-e commented on #18303
Indeed, it will be forward ported. I have added at test at a03eb9a3e8f625fc2f68dad8e9ef653329fb568f to make sure it does not happen again.

[2017-07-20 08:32] Yenthe666 commented on #18336
Yep indeed - so in my opinion this isn't a bug.
@mart-e the decision is up to you. 😉

[2017-07-20 08:47] intero-chz commented on #18336
As user (black box) i would expect finding products with zero quantity on hand. So for me this is a bug. But yes, not my decision either.

[2017-07-20 09:05] gva-acsone opened #18348 "It is possible to add new expense lines on a validated/approved expense report"
Impacted versions: V10

Steps to reproduce:
- Connect on the account of a basic user
- Create a new expense line
- Add it in an expense report and submit it for approval
- From your supervisor's account, approve the expense report
- From your basic user's account, open your approved expense report and try to add a new expense line

Current behavior:

You can add a new line on your approved expense

[2017-07-20 09:06] sum1201 opened #18349 "[bug] product 's cost price is incorrect when bom's type is phantom"
Impacted versions:
10.0
Steps to reproduce:
product name : A cost price: 40
product name: B cost price : 100  It have a phantom nom, 1 B = 3 A .

I create a purchase order, details is 1 B , price: 100.
I confirm this purchase order , a stock picking  was created.
I confirm  stock picking.
Current behavior:
I query Inventory Valuation:
A quantity :3  valuation: 120.

**I think valuation is 100,not

[2017-07-20 09:08] gva-acsone commented on #18348
755969

[2017-07-20 09:09] Yenthe666 commented on #18349
@jco-odoo could you give feedback? I'm not sure..

[2017-07-20 09:21] eyonatan commented on #16515
Thanks for info, much appreciated. Quick questions:

1. I created the new report by going to Configuration --> Financial Reports --> Account Reports and by setting the right parents, views, etc. But, when I go to Accounting --> Reports --> PDF Reports, I don't see the newly created report as you indicted in your screen shot(see the last screen shot below). I am not sure what I am doing wrong.

![i

[2017-07-20 11:41] hmo-odoo commented on #18271
@qdp-odoo we are working on it for master version.

[2017-07-20 11:59] Yenthe666 commented on #18271
Hi @muralikrishnareddy,

So this should land in V11 then. I guess this answers your question. 😉

Regards,
Yenthe

[2017-07-20 11:59] #18271 closed

[2017-07-20 12:00] aspcsharp9 opened #18355 "Yaml file appears to depend on missing data"
Impacted versions: 9

Steps to reproduce: in console get error:

File "/home/pc/git/odoo/openerp/tools/yaml_import.py", line 173, in get_id
    tests that belong to a module's test suite and depend on each other.""" % (xml_id, self.filename))
ValueError: 'demo_invoice_invest_sale' not found when processing /home/pc/git/odoo/addons/account/demo/account_invoice_demo.yml.
    This Yaml file appears t

[2017-07-20 12:08] Yenthe666 commented on #18355
@oco-odoo and @qdp-odoo the last commit on this file was by you two. Perhaps one of you could give some input?

[2017-07-20 13:07] nle-odoo commented on #17445
Hi @nafex,

I have been working on a fix for this in https://github.com/odoo/odoo/pull/18319 since this is a rather delicate things to modify, would it be possible for you to test the change?

Most use case I tried with return seem to be working fine for me.

[2017-07-20 15:03] Yenthe666 commented on #16515
Hi @mpamped,

The error and traceback itself are fixed at https://github.com/odoo/odoo/commit/7a1d2d1c4caebba5bd69d63cff3d7824dfd5a7a6 and https://github.com/odoo/odoo/commit/df135166799ccafd49c2aa684bb0ff845af31b09
To get the data / report you need you should probably use accounting > reports > pdf report > balance sheet.

Regards,
Yenthe

[2017-07-20 15:03] #16515 closed

[2017-07-20 15:06] nafex commented on #17445
Hi @nle-odoo

hitting enter works now but the input still buggy. When you select all with ctrl-a and paste something or select all and write something it deletes everything and you cannot edit the input anymore...

[2017-07-20 15:10] flyingL123 commented on #18336
From a user's perspective, this is absolutely a bug in the sense that it doesn't function as you would expect. I have the `qty_available` field visible in my `product.product` tree view, so I see the on-hand quantity for every product. Some of them are 0. If I filter that list to show products with on-hand quantity less than a certain number, I fully expect the products with 0 to appear in that li

[2017-07-20 15:14] flyingL123 commented on #18336
Also, if I filter for products that have `qty_available == 0`, then the products with 0 appear correctly. This seems inconsistent in the sense that the products with 0 shouldn't appear sometimes but not others.

[2017-07-20 16:51] hugho-ad commented on #7568
How can we replicate the issue ?

[2017-07-20 17:29] hugho-ad opened #18363 "[10.0] website_live_chat: Chrome lang spanish Latin America (es_419), Faild to create mail channel (opw-766489)"
Impacted versions:
10.0

Steps to reproduce:
From Chrome Versión 59.0.3071.115 (Build oficial) (64 bits)
with lang  spanish Latin America es_419
Go to http://247698-10-0-f3ee58.runbot8.odoo.com/?db=247698-10-0-f3ee58-all

Current behavior:

[code]
Expected behavior:
Chat being open

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/10233975/28430589-aa27e01a-6d46

[2017-07-21 08:36] jeffery9 commented on #18349
if use real price or average price.  this cost should be updated with 100, not the standard price 120

[2017-07-21 10:50] adomingo-rgbconsulting opened #18372 "[9.0,10.0] Security error in many2many widget"
Impacted versions:
9.0,10.0

Steps to reproduce:

1. Install the point_of_sale module

2. Define a secondary Point of Sale (apart from the main one)

3. Create a new user with full permissions in the Point of Sale

4. Login with the new user and go to Point of sale > Reports > Sale Details

Current behavior:
In the report wizard, both Point of Sales are preloaded in the many2many list and the user

[2017-07-21 10:58] odoouser2 opened #18373 "Installed but does not appear in chart of account configuration."
Impacted versions:10

Steps to reproduce:does not appear in chart of account

Current behavior:does not apper

Expected behavior:does not see any behaviour

Video/Screenshot link (optional):

[2017-07-21 11:42] gautampai17 commented on #6708
I am facing the same issue..??

[2017-07-21 11:47] pedrobaeza commented on #18209
I have backported the fix to v9 in https://github.com/odoo/odoo/pull/18376. Can you please review?

[2017-07-21 12:00] victorberral commented on #15319
Hi @NL66278, did you solved the performance problem?
Could you please let me know how?
I have the same problem, modules load constantly, and it seems to be affecting a lot the server speed.
Thanks!

[2017-07-21 12:31] NL66278 commented on #15319
@victorberral We determined that the loading of modules was actually not a big factor in performance. What helped a lot was cleaning out millions of messages that are automatically generated by the system (and nobody ever looks at), cleaning up old procument exceptions etc. We still did not solve all problems. Look also at creating missing indexes etc...

[2017-07-21 15:58] shivam-kotwalia commented on #16780
Does anyone of us, solution to this ?

[2017-07-21 17:37] YnievesDotNet commented on #10891
I have same problem, I try add pythonpath, but not working.

Thanks

[2017-07-21 17:39] YnievesDotNet commented on #10891
I´m getting that
The directory '/Users/ynieves/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.

what i do?

[2017-07-21 18:50] celm1990 commented on #16780
Hello,
When I use worker =0 and users using 8069 fine work, but when use worker >0 and use 8069 raise exception bus unavailable when Evented is installed, if connecting using port 8072 instead 8069 work fine. Is correct use 8072 port when workers >0 and Evented is installed???

[2017-07-21 20:55] AhsanAshfaq opened #18383 "Partial access in custom module for model"
Hi,

Is this possible is odoo that we grant edit access to a model in one view but not in over all system. Because as per my knowledge if you grant any of CRUD access to a particular group or user. It will be applied on all views in your system. I want user to be able to edit a record of model only if he is in a specific view.

[2017-07-21 21:07] fmdl commented on #18349
Dear

I have made a PR to be sure the purchase price is distributed on the move price, but is not accepted.

https://github.com/odoo/odoo/pull/15350

[2017-07-21 21:18] fmdl commented on #18010
There are a PR to limit at one the number of account with "Current Year Earning" (it is generally the 999999).
https://github.com/odoo/odoo/pull/17777

[2017-07-21 21:22] fmdl commented on #17786
https://github.com/odoo/odoo/pull/18333

[2017-07-21 21:24] fmdl commented on #17669
Remove ""
domain="[('assistant_ids', '!=', user_id)]" -> domain=[('assistant_ids', '!=', user_id)]

[2017-07-22 07:49] fmdl commented on #15781
Dear @qdp-odoo have you see the two PR to fix the issue with the FEC ?

Regards

[2017-07-22 08:02] jeffery9 opened #18390 "[10.0] shop payment step did not generate sale order"
Impacted versions:
10.0

Steps to reproduce:

1. install e-commerce
2. install  wire transfer payment, or any other payment like paypal
3. add some products to cart
4. checkout cart, and select any payment method.   debug the pay now button, found that there have no value for  order reference

Current behavior:

Expected behavior:

on step payment, should generate sale order, so that use can trans

[2017-07-22 18:11] hex2a commented on #15629
is there any update on this bug?
this bug breaks the downpayment feature almost completely..

[2017-07-23 01:44] raysgavin commented on #9201
@jas-odoo  your work can solution is issue.thanks!!

[2017-07-23 01:48] AlexisArnal commented on #17002
Hello I hope you are well. Is there any progress with this problem ???
I have the same problem on Ubuntu 17.04. I did install python-pypdf with pip and It shows me the same error.

[2017-07-23 19:36] gustavovalverde commented on #14502
Will this be backported to v10 when merged?

[2017-07-24 01:57] LDNail opened #18396 "int() argument must be a string or a number, not 'NoneType' - /addons/web/controllers/main.py"
**Impacted versions:**  10

**Current behavior:**  Images not displaying correctly

<img width="68" alt="greenshot 2017-07-23 20 57 00" src="https://user-images.githubusercontent.com/18720271/28505443-92ec1f24-6fe9-11e7-8136-b4469202d597.png">

[code]

[2017-07-24 01:59] LDNail commented on #18396
Issue started with commit https://github.com/odoo/odoo/commit/15da3356a088609530b1943e6f24d734c00ccced#diff-4c19939afda19d36d6d57eda5f0a5c9e.

[2017-07-24 04:37] vishmehra commented on #18396
if height and height != None:
           height = int(height)

        if width and width != None:
           width = int(width)

The above code had to be added to fix this.

[2017-07-24 06:03] sapdenny commented on #18249
Hii all @Yenthe666 and @odony
have you all found the problem here?

Regards

[2017-07-24 06:33] gdgellatly commented on #18249
@sapdenny I'm not with Odoo, just like to get involved in this kind of performance stuff. From your video I don't think postgres is your issue.  It's just doing what its told.

Likely candidates:

- Worker memory/CPU limit set to low causing workers to restart (test with workers=0 or just raising the hard limits)
- A functional field that is poorly configured that is getting updated, like say a pr

[2017-07-24 06:50] Yenthe666 commented on #18363
Hi @hugho-ad,

Just to double check. Which spanish version from this list?
![image](https://user-images.githubusercontent.com/6352350/28511352-1b19e3fa-704d-11e7-80e1-c5139b82fc9d.png)
I've tested on the runbot you've linked but that works fine.

Regards,
Yenthe

[2017-07-24 06:54] Yenthe666 commented on #18396
@JKE-be can you look at this? It does seem to come back from your commit (https://github.com/odoo/odoo/commit/15da3356a088609530b1943e6f24d734c00ccced#diff-4c19939afda19d36d6d57eda5f0a5c9e)

[2017-07-24 06:56] Yenthe666 commented on #18383
Hi @AhsanAshfaq,

The Github issue tracker is for bugs/issues in the official code, this is not the place to ask questions.
You can do this on the official help forums @ http://help.odoo.com/
On a sidenote: you can do this with access rules and `create=False` keys for example.

Regards,
Yenthe

[2017-07-24 06:56] #18383 closed

[2017-07-24 06:57] Yenthe666 commented on #18373
Hi @odoouser2,

Thank you for your report but we really miss information to reproduce this.
What did you do? What did you install? What happens?

Regards,
Yenthe

[2017-07-24 06:57] #18373 closed

[2017-07-24 07:06] mart-e commented on #16780
Please don't hijack other people issues. I have given what to correct to the original NGINX configuration. Check that your configuration based on the documentation and given advises.

[2017-07-24 07:06] #16780 closed

[2017-07-24 07:10] JKE-be commented on #18396
Yes I see...
I havé à commit in my stage for it...
It is a rétro compatibility route that send None, so défaut int value 0 is overrided

[2017-07-24 07:34] sapdenny commented on #18249
@gdgellatly thanks for feedback.
Regarding to worker and CPU limit I need to found the right value and Im agree to explore about limit memory size.
About the recursive query and some custom columns, I have no idea what to do.
If there is any related refference link for me to learn. I would apreciate.

Regards

[2017-07-24 08:27] mrvdb opened #18408 "List-ID headers should conform to RFC https://tools.ietf.org/html/rfc2919"
Impacted versions:
Git version: see https://github.com/odoo/odoo/blob/10.0/addons/mail/models/mail_channel.py#L200

Steps to reproduce:
 Receive messages from ODOO mailinglists and view message source

Current behavior:
List-Id headers have the form, for example,

  `List-Id: community.mail.odoo.com`

Expected behavior:
List-Id headers should have the form:

`"List-ID:" [phrase] "<" list-id ">" CR

[2017-07-24 08:54] Yenthe666 commented on #18209
Should be fixed in https://github.com/odoo/odoo/commit/e2a255717fb941fffa1fcc8ed0c5e390fba76618

[2017-07-24 08:54] #18209 closed

[2017-07-24 11:26] #18336 closed

[2017-07-24 16:00] maksym-synkevych opened #18418 "[10.0] AutoReload watcher does not reload Odoo correctly on Windows"
Impacted versions: 10.0

Steps to reproduce:
1. Start Odoo on Windows with following command:
`python odoo-bin -w %login% -r %password% --addons-path=addons,%my_addon_path%  --log-level=debug --dev=reload`
2. Open UI on http://localhost:8069 - everything is fine.
3. Add comment to %file%.py file in %my_addon_path% directory.
4. Wait for restarting.

Current behavior:
Open UI on http://localhost:80

[2017-07-25 01:54] setiaji opened #18422 "file /usr/lib/python2.7/dist-packages/werkzeug/routing.py in match raise not found"
Impacted versions: 10

Steps to reproduce:

a. Login to user which have permission into postgresql

example: sudo su – postgres_user

b. Make sure there is at least one role after executed command below

example: psql \du

c. Check for odoo service, if still active, we should stop it before update

example: systemctl status odoo

d. Update odoo module

example: ./odoo-bin -d nama_database -u all

[2017-07-25 04:58] invitu commented on #18181
@gustavovalverde it looks like you are the other guy that really uses pos ;-)
Are you interested in that one ?

[2017-07-25 05:00] invitu commented on #18181
@Yenthe666 I made a PR first and it looks like nobody saw it... then I made an issue and you saw it... It was worth doing it ;-)

[2017-07-25 05:36] invitu commented on #18181
here is another case that seems to be reviewed in that issue (tested on runbot) :
steps to reproduce :
- setup 2 taxes with different rate and that are "included in price" (ie. 15% and 10%)
- setup a fiscal position that does tax mapping between those 2 taxes (ie tax15 --> tax10)
- setup a new price list that computes a new price for a given product (ie 100 USD)
- setup the given product with tax1

[2017-07-25 05:55] invitu commented on #17526
@gustavovalverde :+1:

[2017-07-25 06:11] odoouser2 opened #18428 "United States - Accounting, Installed but not showing in chart of account configuration"
Impacted versions:10 C

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-25 06:18] odoouser2 commented on #18373
I have installed "United States - Accounting" module from the app. Module is installed without error but it does not appear in the Account >>setting>> Chart of Account.

[2017-07-25 06:20] odoouser2 commented on #18428
I have installed "United States - Accounting" module from the app. Module is installed without error but it does not appear in the Account >>setting>> Chart of Account.

[2017-07-25 06:25] odoouser2 opened #18429 "Database restore error"
Impacted versions:10 Community

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

I have backup my database from database/manager and when I try to restore it again from the database/manager it throws error as  "Database restore error: Too much data for base64 line" Please assist the process that I can follow or any alternative way for it. Database size

[2017-07-25 06:39] #18345 closed

[2017-07-25 06:43] treviser opened #18430 "[Odoo Forum]People with more than 750 karma are again listed as Odoo employees when hovering over"
Impacted versions:
Actual version of the Odoo Help Forum

Steps to reproduce:
Do hover over a contributor with more than 750 karma points.

Current behavior:
These people are listed as Odoo S.A. employees:
![image](https://user-images.githubusercontent.com/1814941/28559068-3447f16e-7115-11e7-91ef-20f2d2d8bcc7.png)

Expected behavior:
Do show the true contributor information

Video/Screenshot link

[2017-07-25 07:31] treviser commented on #18430
Where can I claim my salary? :-)

[2017-07-25 07:39] angelmoya commented on #14858
This problem affect also in version 10, if you check "Mark as read" nothing happends

[2017-07-25 08:14] Yenthe666 commented on #18430
Count me in! @JKE-be forum related.

[2017-07-25 08:49] Yenthe666 commented on #18428
Please don't create exact duplicates of your original issue (and without adding any additional information). Original: https://github.com/odoo/odoo/issues/18373
You didn't even give me time to reply on the original topic.

[2017-07-25 08:49] #18428 closed

[2017-07-25 08:56] Yenthe666 commented on #18373
I'm not sure what your problem is? I've just tested this on the latest Odoo source code and it works perfect. Just installed the accounting and you can see it is working fine. Fiscal positions etc are added:
![image](https://user-images.githubusercontent.com/6352350/28563808-5c4b0d74-7127-11e7-8af1-df6932b8d2c0.png)
Chart of accounts (under accounting > Adviser > Chart of accounts):
![image](https

[2017-07-25 09:03] odoouser2 commented on #18373
Hello,
Greetings,

I use odoo V10 Community edition. I have installed "United States - Accounting" but it does not appear in the Account >>setting>> Chart of Account template..

[2017-07-25 09:13] seyed-mohammad-motahar opened #18437 "Accounting module doesn't set the "Account" in decimal.precision"
Impacted versions:
10.0 E
Steps to reproduce:

Install accounting
Go to Decimal Accuracy
There is no "Account"

Current behavior:
For balance entry validation code here:
https://github.com/odoo/odoo/blob/10.0/addons/account/models/account_move.py#L206
It tries to fetch "Account" and if it can't fetch it returns 2 decimals.

Expected behavior:
When we install accounting it has to set "Account" valu

[2017-07-25 09:17] Yenthe666 commented on #6425
@JKE-be is there a reason why we have both minified and non minified? https://github.com/odoo/odoo/tree/8.0/addons/web/static/lib/bootstrap/js

[2017-07-25 09:39] Yenthe666 commented on #18373
Hi @odoouser2,

It is exactly the same case on V10 community? Example:
![image](https://user-images.githubusercontent.com/6352350/28565878-cdecc606-712d-11e7-840a-671aa3718e85.png)

Regards,
Yenthe

[2017-07-25 09:43] Yajo opened #18438 "Adding records to a one2many deletes records if the domain uses a lambda"
Impacted versions: 8, 9, not tested in others

Steps to reproduce:

Install [`l10n_es_aeat_mod303`](https://www.odoo.com/apps/modules/9.0/l10n_es_aeat_mod303/) and [`l10n_es_aeat_mod111`](https://www.odoo.com/apps/modules/9.0/l10n_es_aeat_mod111/).

Generate one 303 report and one 111 report. You should ensure both have the same ID to reproduce the bug.

Calculate taxes for one and then for the ot

[2017-07-25 09:58] TimLai125 opened #18439 "[10.0] commercial_partner_id becomes empty after deletion of parent partner"
**Impacted versions:**
10.0 but the issue could be occurred in other version as well

**Steps to reproduce:**
1. Import two csv containing customer records to create new customer as followings

parent.csv
[code]

child.csv
[code]

2. Delete the parent customer (parent customer)

**Current behavior:**
1. The validation before import data is passed,  "Account Receivable" and "Account Payable" are li

[2017-07-25 10:47] sum1201 commented on #18349
@Yenthe666 @jco-odoo

[2017-07-25 11:20] jco-odoo commented on #18349
You can not know how the costs are divided among the different products.  The logic would bring us too far.

[2017-07-25 11:20] #18349 closed

[2017-07-25 11:21] Yajo commented on #18438
A test for this has been added in #18440.

[2017-07-25 11:32] gustavovalverde commented on #18181
@invitu Actually, I'd say there's a bunch of things with taxes that could be fixed in the POS, including:
https://github.com/odoo/odoo/issues/17963
https://github.com/odoo/odoo/issues/10538
https://github.com/odoo/odoo/issues/17526

[2017-07-25 14:10] aduijs commented on #17726
I got the same problem on Centos7 where i run Odoo as wsgi.
I am trying to start odoo through the CLI with the longpolling port defined, but it never starts a listener.

Is the fix you are proposing also fixing this?

[2017-07-25 17:51] odony commented on #18249
@sapdenny Thanks for the video! It tells us a few things:
 - You're duplicating a small BOM (only 6 lines?), which should be very fast in a standard Odoo 8 setup
 - Your database has several hundred thousands products, BoM and BoM lines. Normally this is not relevant for a simple BoM duplication, but in your case the system appears to access *a lot* of those other records, for some unknown reason.

[2017-07-25 19:16] maitaoriana opened #18447 "[10.0] Changing report_name does not update translation"
Impacted versions:
10.0
Steps to reproduce:
1. Change field report_name of the template
2. Load languaje
3. Go to the translation of report_name

Current behavior:
the translate of report_name is no update when load languajes
Expected behavior:
the translation be origin term or new translation

We changed the template from an [xml ](https://github.com/Vauxoo/mexico/blob/10.0/l10n_mx_base/views/mai

[2017-07-25 19:16] maitaoriana commented on #18447
@moylop260

[2017-07-25 20:03] aduijs commented on #15629
nothing so far.

[2017-07-25 21:01] silviofdez commented on #17726
@aduijs I don't think so. Could you give me the steps in order to reproduce the problem on Centos7, as well as the error.

Could be possible that you have any missing module?

[2017-07-25 21:15] aduijs commented on #17726
@silviofdez
the command i used:
 ./odoo-bin --addons-path=/myaddons/addons --logfile=/mylog/odoo10-longpolling.log --database=v10odoo --db_port=28817 --longpolling-port=26302

There is nothing listening on that port as shown below. (and neither is it listening on the ports specified in the configfile  .openerp_serverrc)

[root@wf-50-116-28-65 ~]# netstat -anp |grep 26302
[root@wf-50-116-28-65 ~]#

[2017-07-25 22:28] fpodoo commented on #15629
When you invoice the sale order, there is two options: decrease down payments (second option) or not (first option). Did you choose the second option?

If not, it's more a usability issue than a bug.

[2017-07-25 22:56] aduijs commented on #15629
@fpodoo fabian that is working fine.
what i am pointing out is when you have generated your down payment and click the menu option "sales to invoice"
![image](https://user-images.githubusercontent.com/7501203/28597230-560426ae-7162-11e7-9ff3-6ff5bfd4ae7b.png)
that next screen has all the amounts without the down payments reduced.
so you never know exactly what amount is still open to invoice or ca

[2017-07-25 23:02] aduijs commented on #15629
so in my example the total invoice is 3540
a down payment has been generated and paid of  1770 (50%)
so the screen "sales to invoice" should say: 1770  and not the full amount of 3540

[2017-07-26 01:05] YnievesDotNet opened #18448 "Unique Field in Odoo 10"
Impacted versions:
10.0

Steps to reproduce:
I try make on my own module an unique field

Current behavior:
I can insert an some records equal value on a this field

Expected behavior:
The system denied repeat value on a field

My code is here:

[code]
How I can restrict this unique field

Thanks.

[2017-07-26 06:00] yostashiro commented on #14101
It is also the case with 10.0.

[2017-07-26 07:09] intero-chz commented on #18249
Just a wild guess: with lots of products, attributes and so on getting the price extra of variants (maybe on browse) can be the hell https://github.com/odoo/odoo/blob/1e3e3b4bbe8f2152884af62c5119b0b19143be92/addons/product/product.py#L981

[2017-07-26 07:15] online-odoo commented on #6425
@Yenthe666

Yes, by default we don't use minified version because our Qweb rendering does this job.

But in some case (eg. database manager during the first launch) we don't have Qweb available, so we load minified bootstrap directly.

@onlyjob
So no, we will not remove it, but since it is not loaded into the assets, that have no impact on your website...

[2017-07-26 07:15] JKE-be commented on #6425
@Yenthe666

Yes, by default we don't use minified version because our Qweb rendering does this job.

But in some case (eg. database manager during the first launch) we don't have Qweb available, so we load minified bootstrap directly.

@onlyjob
So no, we will not remove it, but since it is not loaded into the assets, that have no impact on your website...

[2017-07-26 07:15] #6425 closed

[2017-07-26 07:24] Yenthe666 commented on #18448
Hi @YnievesDotNet,

The Github tracker is only for bugs and issues in the official code, it is not the good place to ask questions about custom development. Please do post it at the official help forums (http://help.odoo.com).
You can handle this in a few methods though. An sql_constraint or an override of the create / write method or an onchange.

Regards,
Yenthe

[2017-07-26 07:24] #18448 closed

[2017-07-26 07:28] Yenthe666 commented on #14101
@JKE-be can I ask you for feedback on this one please?

[2017-07-26 08:00] JKE-be commented on #18430
Let me some time to fix it ;)
Now it is 75000, I will check it later :/ sorry

[2017-07-26 08:06] treviser commented on #18430
What is 75000, my salary :-)

[2017-07-26 08:22] juliocbravo86 commented on #9297
Hello bimajatiwijaya, I have the same error that says, I already found the solution. Thank you

[2017-07-26 08:40] Yenthe666 commented on #18430
Hey then I'll do double shifts. 😉
But in all seriousness, thank you Jérémy!

[2017-07-26 13:18] JKE-be commented on #14101
I can't reproduce with Nginx, so it is probably a misconfiguration in Apache.
you can try to print more info in the dispatch function from website/ir_http  and url_for to have more information.

Waiting for your feedback

[2017-07-26 13:22] piqoni commented on #11035
In my case I had to add to make it work:
``` proxy_set_header X-Forwarded-Host $host; ```

[2017-07-26 15:03] moylop260 commented on #18447
cc @marte

[2017-07-26 15:05] moylop260 commented on #18447
cc @mart-e
How we should translate inherited items?

[2017-07-26 15:11] aheficent commented on #14479
Hi @LoicAlba How can I make sure to remove the Manyone field first? Thanks in advance

[2017-07-26 15:25] benwillig opened #18465 "[10.0] Current page is not selected when editing a website page"
**Impacted versions:** 10.0

**Steps to reproduce:**
- Go to the website
- Go on a specific page (events, shop, etc...)
- Customize page using html editor

**Current behavior:**
- Main layout is always the default selected page

**Expected behavior:**
- If users is on products page, products page template should be selected as default.

Video/Screenshot link (optional):
https://youtu.be/Gie0n9zzFq

[2017-07-26 15:42] blaggacao opened #18466 "[UX] Multilocation UX-Bug"
#### Impacted versions:
latest

#### Current behavior:
There is no default view that shows location hierarchy.

#### Expected behavior:
Location configuration can be complex so that a hierarchy view, just as in salary rules is warranted.

@jco-odoo

[2017-07-26 18:35] cormaza opened #18468 "Duplicate Contacts on Message Composer"
Impacted versions: 10.0, master, saas

Steps to reproduce: You activate lead management on sales, when you make a message with composer, if lead doesn't have partner asigned, show form to create partner, and assign on mail composer this is correct, but if you make another message with composer show again partner form to create

Current behavior: You create always the same contact when you made twi

[2017-07-26 21:38] Vartkat commented on #17684
Nobody cares about this ? Perhaps I didn't explain the problem clearly.

In Expense module,
- Create an Expense product (product that could be expensed), setting its account, tax and Internal ref
- Create an expense using this product as expense template, Odoo gives your expense the account and taxe from the Expense product.
Now send a email to expense@YourDomain.com. The mail object begins with t

[2017-07-27 03:08] yostashiro commented on #14101
@JKE-be While I have yet to follow your advice, my customer on Enterprise sees it as a security issue pertaining to Odoo itself rather than something to be handle on the web server side.

I detailed the issue in ticket 757234 and here is an excerpt:

2) is the security issue I mention above.  I'm personally not very sure if it really is a threat (I just don't have enough knowledge around this topi

[2017-07-27 07:12] Fuchur777 opened #18477 "[10.0][Bug] Blog Rss Feed <updated> field bug"
**Impacted versions:**
-Working with Odoo 10 CE

**Steps to reproduce:**
1. Post blog post 1 on date x
2. Post blog post 2 on date y
- Both posts now get date of y

**Current behavior:**
- All posts get date of last post

**Expected behavior:**
- Posts to keep their original date

**Feed that shows issue:**
https://ubports.com/blog/1/feed

[2017-07-27 08:08] JKE-be commented on #14101
Hi Yostashiro,

Are you sure that you add header X-Forwarded-Proto in your apache config... as specified in the documentation: https://www.odoo.com/documentation/10.0/setup/deploy.html.

Since version 0.8 of Werkzeug, it uses it to transform the relative redirect to the absolute.
https://github.com/pallets/werkzeug/blob/master/CHANGES#L706

[2017-07-27 08:26] yostashiro commented on #14101
@JKE-be Yes, we do have X-Forwarded-Proto in Apache config in normal cases when we use Apache, but that is not the point of this issue here.

The point is that there is allegation from a security expert that Odoo, WITHOUT relying on Nginx/Apache,  should not be routing what is already https to http when links are clicked on website (again, I'm not sure about the validity of the claim myself).  Ple

[2017-07-27 08:33] yostashiro commented on #14101
@JKE-be In fact, in the environment I reproduced the issue had X-Forwarded-Proto in Apache config, but just had the part that redirects http to https deleted.

[2017-07-27 08:35] JKE-be commented on #14101
If you don't use a nginx/apache as proxy, werkzeug will respect the scheme

[2017-07-27 08:54] yostashiro commented on #14101
@JKE-be Can you please elaborate what exactly you mean by "werkzeug will respect the scheme"?

The issue still persists when Apache config has `RequestHeader set X-Forwarded-Proto "https"`.

[2017-07-27 08:55] JKE-be commented on #14101
respect the scheme = will be redirected to https directly and not in http.

[2017-07-27 09:00] yostashiro commented on #14101
Thanks, but then, it sounds like what you explain contradicts with the actual behavior of Odoo.  So should I expect a follow-up on the Enterprise ticket I created?

[2017-07-27 10:01] odony commented on #14101
Here is a relevant part of my answer to @yostashiro's ticket, for the record:

[2017-07-27 10:01] #14101 closed

[2017-07-27 11:24] yostashiro commented on #14101
@odony Thanks a lot for your detailed explanation.   I stand corrected - I indeed forgot to set `proxy_mode = True` in my test environment.  Apologies for the confusion, and thanks again!

[2017-07-27 12:22] yezyilomo opened #18486 "[10.0] _get_providers(self, cr, uid, context=None): seems not to work for me"
Impacted versions: 10.0

Steps to reproduce:  The aim was to create a custom payment acquirer with its provider as shown bolow
 class MpayAcquirer(models.Model):
    _inherit = 'payment.acquirer'

    def _get_providers(self, cr, uid, context=None):
        providers = super(MpayAcquirer, self)._get_providers(cr, uid, context=context)
        providers.append(['Mpay', 'MPay'])
        return provi

[2017-07-27 13:15] intero-chz commented on #18486
Just rewrite you method to the new API style, the old API style is deprecated, as the log mentioned to you.

    @api.model
    def _get_providers(self):
        providers = super(MpayAcquirer, self)._get_providers()
        providers.append(['Mpay', 'MPay'])
        return providers

[2017-07-27 13:17] Yenthe666 commented on #18486
Hi @yezyilomo,

The Github bug tracker is only for bugs/issues in custom development. It is not the place to ask questions about custom development - you can do this on the official help forums (http://help.odoo.com).

Regards,
Yenthe

[2017-07-27 13:17] #18486 closed

[2017-07-27 16:11] hbto opened #18492 "[ALL] Updating Cost Price on products with realtime is not easy to track from PoV of accounting people"
when updating cost on products with realtime valuation.
journal entry lines do not have product_id, which make difficult to track
the accounting valuation of products.

Impacted versions:
all versiones
Steps to reproduce:
take a product with real_time valuation and qty_available > 0
and update de price.
Current behavior:
aml's do not bear product_id field.
Expected behavior:
product_id field fille

[2017-07-27 18:41] maljac commented on #18156
@dhannyz In my opinion the issues are the same. The code snipped you posted in #18166 is exactly the part that I also identified as issue for this problem. So this behaviour can be found in 8, 10 and probably 9.

[2017-07-27 18:42] maljac commented on #18166
As I wrote in #18156 this issue seems the same as I described in #18156

[2017-07-27 22:33] fmdl opened #18496 "[10][BUG][OE] Quality: Cancelled picking action do not unlink the quality check"
Impacted versions:
V10, Master (and maybe Saas)

Steps to reproduce:
- Create a quality point with product A with the Picking P
- Create a Picking P with product A
- A quality check for the product A is created
- Cancel the picking P
- The quality check is not delete

Current behavior:
The quality check is not delete if the picking is cancelled.
The button "Quality Check" appear when the picking i

[2017-07-27 22:56] fmdl opened #18497 "[10][BUG][OE] Quality: Impossible to validate a partial picking"
Impacted versions:
V10, Master (and maybe Saas)

Steps to reproduce:
- Create a quality point with product A with the Picking P
- Create a product B without quality point
- Create a Picking P with product A and the product B
- Process only the product B
- Validate the picking
- When you click on "Create Back Order" or "No Back Order" you see this message : `You still need to do the quality checks!

[2017-07-27 23:04] fmdl opened #18498 "[Master][BUG][OE] Quality: not quality check after a back order"
Impacted versions:
Master (ok for V10)

Steps to reproduce:
- Create a quality point with product A with the Picking P
- Create a Picking P with product A with quantity 2
- Valide the quality check
- Process 1 unit of A
- Create back order
- There no Quality check for the new picking

[2017-07-27 23:30] dhannyz commented on #18166
Hi @maljac
There are in fact multiple errors occuring in that module, not just the timezone issue, it seems
The entire resource module was re-written for saas-15+ and I can confirm it now functions correctly.
Unfortunately, I believe backporting the fixed versions to 10 and below would take some effort. I've got an instance working on 10, but am running without manufacturing and calendars on order

[2017-07-28 00:01] Vartkat commented on #17912
Exactly what I'm saying since June 19th ([#17684](https://github.com/odoo/odoo/issues?utf8=✓&q=is%3Aissue%20is%3Aopen%20%20expense)). Let me add that not only account is wrong but also taxes.

[2017-07-28 03:00] ed29 opened #18502 "[Bug] Pricelists don't apply the priority"
Impacted versions:

odoo 10.0

Steps to reproduce:

![0](https://user-images.githubusercontent.com/3096827/28700646-a7d18c92-7383-11e7-8c14-ee17fdf8c644.png)

![1](https://user-images.githubusercontent.com/3096827/28700645-a7d0fcfa-7383-11e7-980d-28a7cf9f4436.png)

![2](https://user-images.githubusercontent.com/3096827/28700647-a7d23fd4-7383-11e7-9e83-56c575e11013.png)

Current behavior:

Don't ap

[2017-07-28 03:10] Zhouhao12345 opened #18503 "[9.0][BUG] Stock operation couldn't be generated"
Impacted versions:
-Working with Odoo 9

Steps to reproduce:
1. Inventory--->Configuration-->Units of Measure-->Click record 'Unit(s)'-->set 'Rounding Precision' to 0.00000
2. Inventory--->Dashboard-->Receipts-->Create incoming order with any products-->Mark as Todo

Current behavior:
1. No stock operation will be generated from specific stock move.
2. Incoming order, which was already generate st

[2017-07-28 03:38] bandanagyrl opened #18505 "Cannot install app store"
Impacted versions: Community Version

Steps to reproduce: It looks like according to documentation that you should simply click on app store and install directly from odoo but my window says 'start your journey' and opens in a new window. I download but can't seem to find how to install.

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

I found old info stating that you sh

[2017-07-28 05:04] odoouser2 commented on #18373
Hello,
Greetings,

I use odoo V10 Community edition. I have installed "United States - Accounting" but it does not appear in the Account >>setting>> Chart of Account template
Attached is the details.
![coa](https://user-images.githubusercontent.com/21218238/28703070-261eabbe-7381-11e7-81a3-23487e5394af.jpg)

Installed the module but unable to assign to the company.

![coa1](https://user-images.git

[2017-07-28 05:05] odoouser2 commented on #18429
Hello,
Greetings,

Any update on this issue???

Thank you..

[2017-07-28 06:11] 7Eleven1995 opened #18507 "Wrong Source Location in Transfer wizard [V8]"
Here is the scenario to reproduce the issue:

1. I have a product (Product 1)  and the current stock is 10 quantities in WH/Stock.

2. I do internal transfer from WH/Stock to WH/Stock/Dep - 1 qty of Product 1

3. The current stock of Product 1 is 1 qty in WH/Stock/Dep and 9 qty in WH/Stock.

4. I created a sales order with 1 qty of Product 1 and view the delivery order

5. I clicked on the Check A

[2017-07-28 07:18] ed29 commented on #16323
It works now,so i should close this issue,thank you all.

[2017-07-28 07:18] #16323 closed

[2017-07-28 07:58] lap-odoo opened #18510 "l10n_uk"
Dear Odoo Partners,

At Odoo, a lot of effort is put into **improving the accounting localizations** for each country and also to **maintain these accounting localizations up-to-date**. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specifi

[2017-07-28 08:07] lap-odoo commented on #18510
Dear Odoo UK Partners,

First, I would like to know if changes are needed on the l10n_uk module, more specifically on:
- The CoA
- The Taxes
- The Fiscal Positions
- The UK Legal Statements

Thanks a lot for you help

[2017-07-28 08:13] Cedric-Pigeon opened #18511 "[10.0] Severe performance issues on _inherits models"
On large recordsets I got some severe performance issues while browsing through an inherits relation.
For example I have a batch process exporting a csv file with products variants:

I have to export 50.000 products.

If I do :
`variant.categ_id` It takes a very long time to get the result.

If I do:
`variant.product_tmpl_id.categ_id` The result is immediate

The problem is that the global perfoma

[2017-07-28 08:13] Cedric-Pigeon commented on #18511
@rco-odoo Any idea about that ?

[2017-07-28 08:20] Cedric-Pigeon commented on #18511
OPW-760716

[2017-07-28 08:33] lap-odoo opened #18512 "l10n_cn"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-28 08:39] lap-odoo commented on #18512
Dear Partners,

We have already started to make some improvements for the Chinese Localization.

Regarding the taxes, we will add some to have:
- Sales, included : 3%, 6%, 11%, 17%
- Sales, excluded : 3%, 6%, 11%, 17%
- Purchases, excluded : 3%, 6%, 11%, 17%

The default taxes will be:
- Sales: 17% Incl.
- Purchase: 17% Excl.

Could you please confirm this is correct and complete?

Are there fisca

[2017-07-28 08:47] odony commented on #18468
I can't reproduce this, the first time you send a message the system will ask you to create a new partner, but if you send another message the system will see that a message was previously sent and will not ask you to create a partner again. No need to assign it to the partner_id field, which is not always correct anyway.
If you don't see this behavior, please demonstrate it with a short video, an

[2017-07-28 08:47] #18468 closed

[2017-07-28 08:51] andreparames opened #18513 "Duplicated XML IDs in the same file"
Impacted versions: 10.0

The file` addons/crm/report/crm_opportunity_report_views.xml` has the same XML ID on two different records:

[code]

https://github.com/odoo/odoo/blob/10.0/addons/crm/report/crm_opportunity_report_views.xml#L80:L91

(Also, spelling of "Revenus" in the first record)

[2017-07-28 09:03] odony commented on #18507
It's the correct behavior as of v8:
 - Stock moves handle the stock flows from Warehouse to Warehouse, with push and pull rules, but not the exact locations
 - A new concept, "stock pack operation" is used to indicate the actual location from which the goods should be picked, as well as to manage serial numbers and packs
 - "Quants" now represent sets of identical goods moving from location to loc

[2017-07-28 09:03] #18507 closed

[2017-07-28 09:25] odony commented on #18513
Thanks, this issue is present in 9.0 too and stems from rev. a8c5b7810f412d2b956f8163e169159471494ea5.

[2017-07-28 09:28] Yenthe666 commented on #18513
@odony if you give me the name of how you'd like to name one of both I'll make a PR for you.

[2017-07-28 09:50] odony commented on #18513
Fixed by 586b97e17bc595607c4a88ffc84a0f8a02147520, will be forward-ported to 10.0 soon

@Yenthe666 thanks, I had the local diff but hadn't pushed it yet ;-)

[2017-07-28 09:50] #18513 closed

[2017-07-28 09:54] Yenthe666 commented on #18513
Good job - thanks!

[2017-07-28 12:26] kamilmuhammed opened #18518 "'openerp' in Odoo js"
Impacted versions: Odoo 10 Community

Steps to reproduce: Change 'openerp' to 'odoo'

Current behavior: Currently Redirect Warning is not working, because in web/static/src/js/framework/crash_manager.js , instead of 'odoo.exceptions...' its 'openerp.exc....'

Expected behavior:

Video/Screenshot link (optional):

[2017-07-28 12:43] Yenthe666 commented on #18518
@ged-odoo looks like on for you. If you confirm the change is fine I'll make a PR for you.

[2017-07-28 12:47] kamilmuhammed commented on #18518
Yeah Sure

[2017-07-28 12:53] ged-odoo commented on #18518
@Yenthe666 @kamilmuhammed yes, looks like it needs to be renamed... good catch

[2017-07-28 13:15] lap-odoo opened #18520 "l10n_sg"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-28 13:24] lap-odoo commented on #18520
Dear Partners,

We've already improved the CoA and the GST return.

We still have to work on the IRAS Audit File.

Are there other improvements needed (taxes, fiscal positions, ...)?

You can test the done improvements on the branch master-l10n-sg-pro.

Thanks for your help

[2017-07-28 13:32] elicoidal commented on #18512
A good start for BoC rate could be here: http://www.boc.cn/sourcedb/whpj/enindex.html

[2017-07-28 13:44] #18518 closed

[2017-07-28 14:00] benwillig opened #18525 "[BUG] Group operators in kanban view"
**Impacted versions:**
9.0, 10.0

**Steps to reproduce:**
- Go on the task kanban views
- Edit the kanban view
- Add 'sum' attribute on 'remaining_hours' field

**Current behavior:**
In 9.0 and 10.0, group operators don't work in kanban view.

**Expected behavior:**
We should be able to use group operators in kanban view for 9.0 and 10.0.
[Documentation](https://www.odoo.com/documentation/10.0/ref

[2017-07-28 14:36] ed29 commented on #18512
Yes,usually,the taxes are 3%, 6%, 11%, 17%
For more,the taxes are 0%, 3%, 5%, 6%, 11%, 13%, 17%, refer to http://www.chinaacc.com/zhuanti/cssw/hu1604152689.shtml

[2017-07-28 14:42] ed29 commented on #18512
+1
update the exchange rates automatically

[2017-07-28 18:55] antoniofregoso opened #18531 "[BUG] website_event_sale to slow with public user"
Impacted versions:10

Steps to reproducThe rule

Product template linked to event: Public whith  domain:[('product_variant_ids.event_ticket_ids.event_id.website_published', '=', True)] affects the performance of the page only with public users.

Current behavior:
Removing that rule the site works correctly but mark error:
AccessError: (u'No se ha podido completar la operaci\xf3n por restricciones

[2017-07-28 20:27] carlosecv commented on #9640
What about this it seems prommising:
https://roberto.open-lab.com/2012/08/24/jquery-gantt-editor/

Im not an expert on programming but some one can drop some insights about this is MITs lisence

[2017-07-28 21:41] ebirbe opened #18532 "Module hr_timesheet_sheet was removed but some files still present"
### Impacted versions:

saas-17

### Steps to reproduce:

Go to directory `[ODOO_HOME]/addons/hr_timesheet_sheet/` Or see [this link](https://github.com/odoo/odoo/tree/af0048679183018a0b4dbc91fb1a0cf5219600eb/addons/hr_timesheet_sheet)

### Current behavior:

You find the `hr_timesheet_sheet` directory with no manifest file but with some `.py` files and a module tree structure.

### Expected behav

[2017-07-29 00:39] dominiquekonsuntack commented on #18520
The cash statement report is quite unusual.
A standard cash flow statement uses the indirect method. See the link below for explanations
http://www.investopedia.com/articles/04/033104.asp

The cash report in Odoo uses a direct method. Technically correct (if properly configured), but it cannot show working capital variation which is a key metric for financial performance.
This report can be create

[2017-07-29 00:40] dominiquekonsuntack commented on #18520
UOB and DBS, two big banks in Singapore have now bank feeds to Xero.
Would be nice to have

[2017-07-29 06:45] nhomar opened #18539 "[master] .openerp_serverrc still being recognized as default config file."
Impacted versions:

saas-17 and master

Steps to reproduce:

Run a v8.0 for example and save the default name, then run a saas-17 server and you see errors related to for example removed web_kanban module comes up.

Current behavior:

Loading .openerp_serverrc as default config file.

Expected behavior:

Ignore .openerp_serverrc.

[2017-07-29 08:14] nhomar opened #18542 "[saas-17] After -i module - ImportError: cannot import name upload_data_thread"
Impacted versions:

saas-17

Steps to reproduce:

just run ./odoo-bin -i anymodule -d database once loaded all and in the first visit in the system throught http:

[code]

Expected behavior:

No error.

Video/Screenshot link (optional):

[2017-07-29 11:51] 7Eleven1995 commented on #18507
@odony Will you please explain why the two views shows different information because when I checked the Configuration > Locations > WH/Stock/Dep > Current Stock (same with Product Form), there's no available products which is different from Current Inventory Valuation which is correct. WH/Stock/Dep should have 1 qty of Product 1.

[2017-07-29 15:12] neilbrennan opened #18543 "Odoo url keeps showing /shop rather than the url shop.intertotal.co.uk i want"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-07-29 15:14] neilbrennan commented on #18543
i have put odoo on its own url shop.intertotal.co.uk but odoo keeps putting /shop on the end and redirecting shop.intertotal.co.uk. How can i resolve this issue?

[2017-07-30 01:02] GasparYYC opened #18544 "Currency Symbol for CAD is before not after."
Impacted versions:
10
Steps to reproduce:

1. In Setting -> Company Define the currency for the company as CAD
2. Save changes
3. Add any product to website with a price

Current behavior:
1. Dollar sign "$" is shown after the numbers

Expected behavior:
1.Dollar sign "$" should be before the numbers  (exactly like USD)

In Canada French or English the Currency symbol is the same as in the US.

Yo

[2017-07-30 05:09] nhomar commented on #18542
Forget it ... it is an erro on an incorrectly imported OCA module... the fix will be there.

[2017-07-30 05:09] #18542 closed

[2017-07-30 08:23] 7Eleven1995 opened #18545 "Current Stock Issue [V8] [Solved]"
1. I have two locations: (1) WH/Stock (2) WH/Stock/Test and product T-shirt
2. I  did an internal transfer from Stock to Test location.
            WH/Stock = 9 qty (Beginning inventory is 10 qty)
           WH/Stock/Test = 1 qty
3. I've created a sales order and when I transferred the product, the default source location is WH/Stock/Test and I changed to WH/Stock.
4. But upon checking on Warehous

[2017-07-30 09:42] raditv opened #18546 "[8.0] could not serialize access due to concurrent update"
Impacted versions:
8.0
Steps to reproduce:
Error while closing pos session, there is about 400 concurent user using POS
Current behavior:
2017-07-30 16:19:05.893 WIB [49438] pbodoouser@Planet_ban STATEMENT:  UPDATE "account_bank_statement" SET "total_entry_encoding"='3427000.00' WHERE id = 59948
2017-07-30 16:19:05.997 WIB [49480] pbodoouser@Planet_ban ERROR:  could not serialize access due to con

[2017-07-30 11:47] kryskool commented on #18051
Hi

I have been the same issue, it's a bug in Samba

Fix un the last version

[2017-07-30 12:16] Yenthe666 commented on #18511
@odony could you take the time to enlighten this? I'm curious about this too. Since you're very good in explaining performance problems and ORM topics I'd love to hear back from you.

[2017-07-30 13:07] jeffery9 commented on #18512
yes,  I should do some works for those.

[2017-07-31 00:52] chinamfg commented on #18512
I'd liket to do something!

[2017-07-31 06:02] Yenthe666 commented on #18051
Thank you for your feedback @kryskool.
@WolfDangerY please update your Samba version to the very latest version and it should be fixed.

Regards,
Yenthe

[2017-07-31 06:02] #18051 closed

[2017-07-31 06:14] kiattipong opened #18553 "[9.0] POS : "Could not serialize access due to concurrent update" for lot of SERIALIZATION_FAILURE"
Impacted versions: 9.0 (8.0, 10.0 maybe)

**Steps to reproduce:**
1. Creating concurrent pos order for 10 branches, 100 orders per minute approximately.
2. Odoo framework will detect such transaction conflicts in most
cases and silently retry the failed transaction. You will notice this in the
logs with messages such as:
    (...) INFO (...) SERIALIZATION_FAILURE, retry 1/5 in 0.324 sec
In most ca

[2017-07-31 06:34] Yenthe666 commented on #18553
Hi @kiattipong,

Thank you for your report.
Is this related to this report? https://github.com/odoo/odoo/issues/18546 It looks quite identical and the reporting is close to eachother.
Anyways, on topic. What hardware specs do you have? How did you configure your postgresql configuration? Did you use `pgtuneup` to finetune the postgreSQL?
CC @odony

[2017-07-31 07:04] LoicAlba commented on #14479
Hi @aheficent, Unfortunately, I don't know how to do this. I think the standard uninstall function have to be updated but I don't now how.

[2017-07-31 07:15] aheficent commented on #14479
@LoicAlba I'll try to figure it out. Thanks. In my case the isue is happening here: https://github.com/OCA/reporting-engine/pull/148 the many2one field is deleted anyway but the message is still appearing.

[2017-07-31 07:33] qdp-odoo commented on #15629
@lap-odoo can you make a task in some internal project for that?

[2017-07-31 07:36] qdp-odoo commented on #14502
no, this targets master.  It is considered as improvements (missing features) and therefore not as bugs. I'm closing this issue for the same reason.

Thanks

[2017-07-31 07:36] #14502 closed

[2017-07-31 07:55] lap-odoo commented on #15629
@qdp-odoo : done, task 35444

[2017-07-31 07:57] jco-odoo commented on #16902
Inventory at Date takes into location zones not specific locations in the case of pickings.

[2017-07-31 07:57] #16902 closed

[2017-07-31 08:01] lap-odoo opened #18558 "l10n_au"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 08:05] lap-odoo commented on #18558
Dear Partners,

For l10n_au, we plan to work on:
- The Business Activity Statement
- The GST Report
- The ABA Files

Once this will be ready, I'll send you the information so that you can test it.

Are there other improvements needed? What about the taxes and the CoA, are they complete as they are?

Thank you for your help

[2017-07-31 08:27] lap-odoo opened #18559 "l10n_ca"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 08:28] Yenthe666 commented on #18539
@sle-odoo this is probably for you?

[2017-07-31 08:30] lap-odoo commented on #18559
Dear Partners,

For now, we have planned to work on:
- Update of the exchanges rates based on the rates from the Bank of Canada
- Improved Checks Format

If you have information about the check format, that would be useful.

Are there other improvements needed? What about the CoA, taxes and fiscal positions?

Thanks for your help

[2017-07-31 08:30] Yenthe666 commented on #18543
Hi @neilbrennan,

Thank you for your report.
The Github tracker however is only for bugs/issues in the official code. It is not the place to ask questions about implementation and configuration. Perhaps the official documentation at https://www.odoo.com/documentation/10.0/setup/deploy.html#https can help you.
You'll need to configure `Nginx` or `Apache` to handle calls from `/shop` to be redirecte

[2017-07-31 08:30] #18543 closed

[2017-07-31 08:48] lap-odoo opened #18561 "l10n-hk"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 08:49] dansanti opened #18562 "[9.0] On new model install, inherit loads default call, before new xml data register"
Impacted versions:
[9.0]

Steps to reproduce:
1.- create a new_module
2.- create a data/example.xml  with:
`
<record id="new_data" id="new.table">
<field name="name">Random Name</field>
</record>
`
3.- create an inherit class like
`

class ResPartner(models.Model):
    _inherit ='res.partner'

    def _default_value(self):
       return self.env.ref('new_module.xml_id')

    new_field = fields.Man

[2017-07-31 08:50] lap-odoo commented on #18561
Dear Partners,

Do you have suggestions to improve the l10n_hk module?

What about the CoA, Taxes, Fiscal Positions and legal statements?

Thanks for your help

[2017-07-31 08:58] lap-odoo opened #18563 "l10n_it"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 09:00] lap-odoo opened #18564 "l10n_ie"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 09:01] lap-odoo opened #18565 "l10n_es"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 09:04] lap-odoo commented on #18565
Dear Partners,

For now, we are working on:
- Improving the CoA
- Working on the AET reports : models 111, 115, 303, 347, 349 and AEAT SII

I'll inform you as soon as this can be tested.

Do you think we should also work on the following AEAT models: 180, 190, 200, 202, 390 ? If yes, do you have where we could find clear specifications about these reports?

Thank you for your help

[2017-07-31 09:24] elicoidal commented on #18561
Usually UK CoA is workable but needs some adaptations.
Standard legal statements are usually workable.
A CoA has been created  by a partner time ago for which I have participated in the code review. I can provide the module (AGPL by that time but cannot provide CLA as I did not developed it) as it is not publicly available anymore.

No taxes in HK.

A plus would be a e-statements to local HSBC sta

[2017-07-31 09:25] sle-odoo commented on #18539
`.openerp_serverrc` is not considered as the default config file, but is used if it is present while `.odoorc` is not. It's the intended behavior (see rev https://github.com/odoo/odoo/commit/630b4b1d556b84649cf7b9bfe7a170114d918a36).

As for the web_kanban error, you just have to delete the entry.

This fallback could be removed for v11 but i don't know if anything has been decided yet.

Regards

[2017-07-31 09:25] #18539 closed

[2017-07-31 09:32] pedrobaeza commented on #18565
Hi, Laura,

I'm Pedro, current OCA Spanish Localization PSC leader. I'm glad to see that you're pushing the improvement of the localizations.

I have been talking previously with @qdp-odoo about this improvement, so my first question is: are you aware of such conversations?

Next question is, and I need this to be clearly defined, who are the previous actors that have told you about requirements.

[2017-07-31 09:35] Yenthe666 commented on #18532
@jem-odoo this looks like a leftover from https://github.com/odoo/odoo/commit/af0048679183018a0b4dbc91fb1a0cf5219600eb
Should it be removed entirely? If you wish I'll make you a PR.

Regards,
Yenthe

[2017-07-31 09:52] nhomar commented on #18539
@sle-odoo Well I think that should be removed, because track the error is a little complicated, if at least a WARNING is sent to the logger, it should be fine.

something like:

info: Loading config file /path/config/being/.whateverrc

If you add the info log I feel served, the point is inform, but if you delete a module (like web_kanban) 100% of people will receive such error related to web_kanba

[2017-07-31 09:57] sle-odoo commented on #18539
@nhomar this information is already displayed, typically it's the second line of your log when you start your server. see https://github.com/odoo/odoo/commit/630b4b1d556b84649cf7b9bfe7a170114d918a36#diff-81879b430cf32e1cae939fcb2b98bb7bR59

[2017-07-31 10:02] nhomar commented on #18539
@sle-odoo you are right, my mistake, forget it about! remove it if you want (I think delete it is better, but the info is Ok) I miss that sorry.

[2017-07-31 12:01] lap-odoo opened #18571 "l10n_de"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 12:03] lap-odoo commented on #18571
Dear Partners,

We are already working on:
- Improved CoAs (SKR03 & SKR04)
- Improved Taxes
- Improved Balance Sheet (SKR03 & SKR04)
- Improved P&L (SKR03 & SKR04)
- Business Assessment Report
- VAT Report
- Intrastat Report
- Datev Export

As soon as this will be ready, I'll inform you so that you can test it.

Thanks for your help

[2017-07-31 12:05] lap-odoo opened #18572 "l10n_nl"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-07-31 12:38] lap-odoo commented on #18572
Dear Partners,

We are already working on:
- Adding new tags on the CoA to get a more detailed P&L
- Improving the CoA
- The Intrastat Report
- XAF Export

As soon as this will ready, I'll inform you so that you can test it.

Thanks in advance for your help.

[2017-07-31 15:08] Yenthe666 commented on #18572
@ploegvde I bet you can give feedback here!

[2017-07-31 15:10] Yenthe666 commented on #18544
@mart-e this looks like an improvement for you.

[2017-07-31 17:47] odony commented on #18507
The data is consistent, you're just looking at it at different levels of granularity. The system does not refer to sub-locations such as "WH/Stock/Dep" in the history of stock moves, unless you force it to by making explicit internal transfers. When you process a sales order, the system reserves the goods in their actual sub-location (as shown in the "Operations" tab of the DO), but records the mo

[2017-07-31 17:50] GasparYYC commented on #18544
@mart-e Yes and no, because in English Canada the symbol after the number is just plain wrong (not up for discussion).

thanks

[2017-07-31 18:19] GasparYYC commented on #17897
I found out that the packaged versions do not work (even the most recent)
The solution is to download and install the packaged version then do a manual install of a different version so you get the libraries from the packaged version and use the executables **only** from version 12.4
After this no more empty reports on CentOS

##Install the packaged version via:
yum install wkhtmltopdf

##Note Ubu

[2017-07-31 22:32] inspiredbusiness commented on #18558
It would be good to include all the tax codes in the BAS report including PAYG related tax codes so that when payroll journals are imported they can be seen on the BAS report as well for a single report from Odoo to be used to lodge the BAS.

[2017-07-31 22:33] NicolasWebDev commented on #11468
I had the same problem, but I found out that I had to write
[code]
(note the trailing longpolling).

It seems that the request has to be http://odoo_host:8072/longpolling/poll, while in my apache configuration, it was done to http://odoo_host:8072/poll.

Now I don't have the 404 error anymore, and this line `2017-07-31 22:29:56,907 17 DEBUG test2 openerp.http.rpc.request: poll: None None: time:50.

[2017-07-31 22:51] #18545 closed

[2017-08-01 00:54] esciara opened #18579 "No redirection/validation of when paying through stripe on e-commerce"
Impacted versions:
Odoo 10.0-20170731

Steps to reproduce:

* Setup a brand new odoo database with demo data
* Install the e-commerce app
* Setup Stripe as a payment acquirer (production ; make it available on the website ; use your stripe test API credentials)
* Go on the e-commerce shop page
* Select any item to buy
* Go through the purchase process up to the Validate Order page, where you can m

[2017-08-01 01:33] laps-odoo commented on #18561
Great to here this. Accounting practice in HK basically quite similar to UK and should be simpler. Keep you update any good stuff may be suggested.

[2017-08-01 01:51] lvx5013 commented on #18512
Cost Accounting and Cost Keeping compliance would be the most urgent issue we would like to address. and maybe a good place to start in terms of Chinese localization.

Warmest,
Li

[2017-08-01 06:27] Yenthe666 commented on #18579
@JKE-be could you have a look? (it would be nice to add the responsible people for payment modules at https://github.com/odoo/odoo/wiki/BugManagement too)

[2017-08-01 06:40] JKE-be commented on #18579
Hello

Why are you testing in 'production environment' with test card?

Can you test in 'test environment' ...

[2017-08-01 06:51] ploegvde commented on #18572
Hi, we are already for over a month in contact with Odoo regarding to the Dutch Accounting. We will gladly test the new functionality.

[2017-08-01 07:19] intero-chz commented on #18571
@lap-odoo what is meant by "Datev Export". Could you please get a bit more detailed about about what is done already?

[2017-08-01 07:29] OSevangelist commented on #18571
The new French/German and FERD/FNFE based invoicing reports shall be supported. An OCA module for FERD does however exist already

http://blog.docuware.com/product-news/germany-and-france-single-e-invoicing-format
http://www.ferd-net.de/upload/PDF/Wild_Sautereau_ZUGFeRD_A_Hybrid_Format__for_Electronic_Invoices_in_Europe.pdf

[2017-08-01 07:38] OSevangelist commented on #18571
In Germany we have a concept which is called the "ISTVERSTEUERUNG" it basically means that as long as the company has not have a turnover of 600.000€ (500.000€ before 2016) or more in the previous year, taxes (as per the VAT reports) need to be payed only if the invoice has been already paid. Otherwise taxes need to be payed as soon as the invoice is issued. However applying the ISTVERSTEUERUNG is

[2017-08-01 07:48] lap-odoo commented on #18572
Hi, indeed, Erwin's team already helped a lot. As soon as something will be ready to be tested I'll inform you.

[2017-08-01 07:58] mncoon commented on #18571
@intero-chz it is an easy net-based export where are no booking keys or configuration of auto-tax-accounts.

@OSevangelist from my point of view this already exists and works fine. It is called "Tax Cash Basis" and you can activate it from the configuration. There is also a tax-report which uses this option

[2017-08-01 08:07] OSevangelist commented on #18571
@mncoon did you check whether this function / configuration works in line with the german accounting standard ? I didn't so far but i'll give it a try these days.

[2017-08-01 08:08] liebana commented on #18565
Why rebuild again everything when we have those developments in our community and public branch? What's wrong on joining forces and improve what it's already done? Do you really think you will be able to maintain an "up to date" localization for each country?

Let me tell you what it's going to happen: you will deliver some enterprise shitty modules that will bring new incompatibilities with the c

[2017-08-01 08:21] esciara commented on #18579
@JKE-be I did. Same thing.

[2017-08-01 08:23] intero-chz commented on #18571
@mncoon so it isn't enough for most of the german datev users. :-1:

[2017-08-01 08:26] esciara commented on #18579
@JKE-be if it can help you out testing I can give you my publishable and secret Stripe test keys... Once you are done, I will roll them.

[2017-08-01 08:27] OSevangelist commented on #18571
As of the beginning of 2018 we need far more than even the traditional DATEV export including auto-tax accounts and the like. New GoBD requires SME to allow L1-L3 access to Odoo which requires (special read only rights) as well as full XML/CSV export of ALL business relevant transactions for statistical purposes.

[2017-08-01 08:35] lap-odoo commented on #18565
@pedrobaeza Hi Pedro, yes I'm aware of your discussions with @qdp-odoo , most of the specs are based on this. We received feedback from other partners but also from our internal departments. The main goal of this Github issue is to make sure everyone is on the same page regarding the improvements that will be done on Spanish Accounting Localization.

@oco-odoo will inform you as soon as the branch

[2017-08-01 08:47] ploegvde commented on #18572
Hi, we are in need for a The Intrastat Report (ICP). This report is required by law in the Netherlands as an addon on the tax reporting. Can we have discussion on how the solution will be in V11, so that we maybe can create same solution in V10?

[2017-08-01 08:55] mncoon commented on #18571
@intero-chz this is enough for those users who do the whole accounting in Odoo, which is possible to do. The export can be sent to the tax-office for reporting and financial statement at the end of the fiscal year.

@OSevangelist thanks for that hint. a read-only user for every app is necessary. It culd be setted manually, but it is very inconvenient. Maybee you can go a little bit deeper and expl

[2017-08-01 09:15] OSevangelist commented on #18571
@intero-chz / @mncoon Non of our customers uses primarily Odoo for accounting and i would really avoid to do so as long as the GoBD compliance regulations are not fully implemented in Odoo (we are far from that)

@lap-odoo / @mncoon As for the GoBD: This reaches far beyond only standard accounting localization requirements as it involves document management, archiving and full traceability and aud

[2017-08-01 10:04] JKE-be commented on #18579
@esciara

I just do the test... and it works... : https://youtu.be/JKZoVscDg1A

Just creating new DB with website_sale installed
Install stripe payment acquirer
Puclish the payment acquirer
Create new stripe account
Use api key stripe of test (be aware than in Odoo, the order is the opposite)

And that's all :/

https://youtu.be/JKZoVscDg1A

[2017-08-01 11:35] esciara commented on #18579
Indeed @JKE-be , the way you do it works. After looking into it, the problem occurs when one uses the "Remember me" feature of on Stripe's popup, and gives a phone number.

![image](https://user-images.githubusercontent.com/1336689/28823436-d24db8d2-76bd-11e7-9964-47d936882b1c.png)

Then, the phone number entered associated with the email address given in the Stripe popup, and when reusing the sam

[2017-08-01 11:38] passboltUser opened #18598 "Odoo -- Hodor?"
I see that you renamed yourself to Odoo only just recently (September 18, 2014). Could "Odoo" be a reference to Game of Thrones' "Hodor"?

[2017-08-01 11:55] #18598 closed

[2017-08-01 11:56] Yenthe666 commented on #18598
Hi @passboltUser,

Not really a bug, right? 😉
Any references are purely random, I assume 😉

Regards,
Yenthe

[2017-08-01 11:57] pedrobaeza commented on #18598
![gallery-1464017558-hodor-l](https://user-images.githubusercontent.com/7165771/28824214-5e7ca630-76c1-11e7-886b-17c90d277021.gif)

:laughing: :laughing:

[2017-08-01 12:03] zitycard opened #18600 "No header on reports"
Impacted versions: Enterprise 10

Steps to reproduce: I try to generate a report (any kind of it) and the header never appears.

Current behavior: The report is generated perfectly except because it doeesn't have header. The footer appears correctly.

Expected behavior: The header should appear.

I have added on System Parameters the report.url key and the web.base.url
I have also update wkhtmltop

[2017-08-01 12:05] smetl commented on #18572
Hi! I'm facing to this code:

 https://github.com/OCA/l10n-netherlands/blob/10.0/l10n_nl_intrastat/models/l10n_nl_intrastat.py#L127-L131

...concerning the Intrastat Report (ICP). Is it mandatory to exclude some invoice lines based on special boolean on the tax?

[2017-08-01 12:07] Yenthe666 commented on #18600
Hi @zitycard,

Thank you for your report.
It is however not adviced to use `wkhtmltopdf` 0.12.2 or up (as you can see in our guidelines at https://github.com/odoo/odoo/wiki/Wkhtmltopdf).
Please change your `wkhtmltopdf` to version 0.12.1.x and try again.

Regards,
Yenthe

[2017-08-01 12:17] ploegvde commented on #18572
IMO it is not needed. The module you are referring to takes another approach. The report is made based on invoice lines. They new report should be based on account move lines. The total of label '3b. Leveringen naar/diensten in landen binnen de EU (omzet)' should be the same as the total of the ICP. The ICP list out the amount service and goods per customers. Per customer we show the name, country

[2017-08-01 12:19] js-landoo commented on #18565
Hi Laura, @lap-odoo.
Great idea to publish an issue to share your roadmap and to ask for colaborations.
With CoA, I assume you are planning to update taxes. Actual ones in your l10n_es module are deprecated.
Answering to your question:
- AEAT models: 180, 190, 200, 202. Are not interesting.
- AEAT models: 390 is annual version of 303. It would be great if you develop it.
Thanks for your efforts.

[2017-08-01 12:33] fpodoo commented on #18598
The reason of the change:
https://www.odoo.com/blog/notre-blog-5/post/odoo-the-new-openerp-156

On Aug 1, 2017 1:39 PM, "passboltUser" <notifications@github.com> wrote:

[2017-08-01 12:38] oco-odoo commented on #18565
@js-landoo, when you say the taxes in our module are deprecated, do you mean the ones defined in here (https://github.com/OCA/l10n-spain/blob/8.0/l10n_es/data/taxes_common.xml) are too ? From the quick look I had at it, it is the same file as the one we already had in 8.0, isn't it ? The most recent version of our code already had modified the taxes defined in l10n_es (see master branch here https

[2017-08-01 13:05] antonylesuisse commented on #18565
test

[2017-08-01 13:13] pedrobaeza commented on #18565
@oco-odoo there are still missing taxes in your updated branch, like https://github.com/OCA/l10n-spain/blob/8.0/l10n_es/data/taxes_common.xml#L1034-L1051

[2017-08-01 13:23] ploegvde commented on #18572
I also want to note that the ICP report is required by law and Odoo does not have a proper solution. So Odoo does not comply with Dutch regulations. In conjunction with that, when you deliver more that 1.200.000 to countries within the EU, also a CBS report is required by law. Also this report is not available in Odoo. Don't you think Odoo should comply and have these report also for at leas V10?

[2017-08-01 13:47] lap-odoo opened #18607 "l10n_ar"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-08-01 13:49] js-landoo commented on #18565
@oco-odoo I was speaking about 10.0 branch. This one looks updated.
But about taxes in OCA/l10n-spain, @pedrobaeza has better knowledge.

[2017-08-01 13:50] lap-odoo opened #18608 "l10n_fi"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-08-01 13:58] lukebranch commented on #18579
@esciara ,

FWIW I have been encountering the same issue and have used stripe for quite some time in version 9.0. I deployed a fresh version 10.0 instance on Ubuntu 16.04 with the OCA module (db filter from header for db:domain routing, and nginx as a reverse proxy), and was having issues.

I am running on a micro-instance in GC with a single shared CPU and roughly 2GB

I've just upgraded to the l

[2017-08-01 14:11] Yenthe666 commented on #18608
@lap-odoo are you sure this should be closed?

[2017-08-01 14:13] lap-odoo commented on #18608
@Yenthe666 : Hi, we have a PR to review for l10n_fi, once this will be done I'll reopen this issue so that partners can test it.

[2017-08-01 14:14] lap-odoo commented on #18512
@ed29 : Thanks for the info regarding the taxes. Any idea where we could find detailed information about that in English?

@lvx5013 : Could you please provide more info about what you mean with cost accounting and cost keeping? Thank you

[2017-08-01 14:16] Yenthe666 commented on #18608
Excellent - thanks!

[2017-08-01 14:16] esciara commented on #18579
@JKE-be I am testing with a fresh instance using vagrant to spin and provision a Ubuntu 16.04 with 2GB of memory and go straight from there. Provisioning follows the doc at https://www.odoo.com/documentation/10.0/setup/install.html#deb .

Vagrantfile : https://gist.github.com/esciara/a174aa6f26b08ff5ffaa569a69a40fd1

This means it does not work out of the box as is. Not sure what are the defaults

[2017-08-01 14:30] Gyuri77 commented on #5721
The problem appears when we put the default_model='x.y' attrib on the field definition.
account does not use this e.g.:
    default_sale_tax_id = fields.Many2one('account.tax', string="Default Sale Tax", help="This sale tax will be assigned by default on new products.", oldname="default_sale_tax")

but this means, that its not the default field value, because in res_config.py:

        for name, f

[2017-08-01 14:36] yung-wang opened #18610 "Employee sensitive data can be seen"
Impacted versions:
V11
V10 community or enterprise

Steps to reproduce:
1. Create an employee and add some Personal Information under Contact Information / Home Address.
2. Create a home address and fill some data.
3. Log in as a user with HR "Employee" role, like demo/demo in runbot
4. Go to Employess / Employees and look up the employee. You will notice you cannot see Personal Information [OK]
5

[2017-08-01 16:25] rockcesar commented on #7043
Good afternoon, how are you people?. I found a tag in odoo/l10n_fr/data/account_fiscal_position_template_data.xml, referencing to the solution:

<delete model="account.fiscal.position.template" search="[('chart_template_id','=',ref('l10n_fr_pcg_chart_template'))]"/>

Using the search attributem, you can refer the value with ref('l10n_fr_pcg_chart_template').

Being l10n_fr_pcg_chart_template the X

[2017-08-01 19:28] Yenthe666 opened #18615 "[Wishlist] Ability to set warnings in the POS for a customer"
Impacted versions: master

At the moment it is possible to set warnings throughout the system to show for a specific customer. This is possible on sale orders for example:
![image](https://user-images.githubusercontent.com/6352350/28843070-2f2fe312-7700-11e7-9b68-647caeba7473.png)

There is however no possibility to do this in the point of sale. It would be great to be able to set warnings on cust

[2017-08-01 21:23] matt454357 commented on #18497
This problem is bigger than the do_transfer method.  For example, it's also impossible to partially inspect the products.  Try these steps:

**Steps to reproduce:**
1. create products A and B **both with quality points**
1. create picking for products A and B
1. pick all of product A but not B (set done qty to full required amount on product A)
1. save the picking and click Quality Checks button