[2016-11-09 14:16] llacroix commented on #14240
I'm aware that module loading in its current form makes any kind of fix impossible most probably. The problem that I had related to this is that if one module changes a constraint or a foreign key to point to a different model. When updating the module that created the relation in the first place, it will try to add a new foreign key with the old constraint... This in return will raise a constrain

[2016-11-09 14:17] dbo-odoo commented on #14007
Hello,

I was finally able to reproduce it, my apologies for the delay.

I've created a support ticket for easier traceability, it will be taken care of by our bug-fixing team.

opw-693517

[2016-11-09 14:28] Yenthe666 commented on #14239
Hmm this might be risky yes. @mart-e what do you think about this?

[2016-11-09 14:43] ygol opened #14241 "[10.0] website_versioning"
Impacted versions:   **10.0**
Steps to reproduce:
- go to odoo runbot and log into a running v10 instance
- click on 'webste_admin / settings' and select "Allow multiple versions of the same page (advanced)" under Advanced,A/B testing
- click on 'webste_admin / website Domain' and select either "Website localhost" or "Website 0.0.0.0"

Current behavior: **Getting error message**
`Uncaught Error: Q

[2016-11-09 14:57] ygol commented on #14241
It also generate an error when accessing 'Settings / General Settings'

[2016-11-09 15:06] Yenthe666 commented on #14241
Hi @ygol,

Thanks a lot for your report.
I've just tested this and can confirm that this is a bug. Example:
![image](https://cloud.githubusercontent.com/assets/6352350/20142747/6777815c-a696-11e6-9fae-635afb1c758e.png)
@Gorash and @JKE-be this might be something for you guys. 😉

Regards,
Yenthe

[2016-11-09 15:29] JKE-be commented on #14241
@ygol @Yenthe666
Probably somebody who play with runbot.
website_version don' t exists in community ;)

So the bug is probably only on the current runbot... Can you reproduce in local ?

[2016-11-09 15:49] mrparadies commented on #13309
Is this being addressed?  I am seeing the same issue.

[2016-11-09 15:50] ygol commented on #14241
@JKE-be  yes I got the bug locally and confirmed it by reproducing on runbot

[2016-11-09 16:07] JKE-be commented on #14241
Are you using community version or Enterprise ?

[2016-11-09 16:14] aristobulo-eezee opened #14243 "[9.0e] document eSign: after it's signed documents are printed without signature"
**Impacted versions:**
9.0 enterprise
(tested on runbot.odoo.com with latest 9.0 build on enterprise)

**Steps to reproduce:**
1. Install Digital Signatures app
2. Upload a PDF file and drop a signature block on it
3. Send the document to a customer to sign it

**Current behavior:**
1. Customer signs document and validates it
2. When you, as admin, go to the signed document and download it.
3. Dow

[2016-11-09 16:17] aristobulo-eezee commented on #14243
cc: @antonybrugger @eezeefho

[2016-11-09 16:21] aristobulo-eezee commented on #14109
Thank you @simongoffin
https://github.com/odoo/odoo/commit/dfe12d20df1f1059478c168847178ded902e8e01

[2016-11-09 16:21] #14109 closed

[2016-11-09 16:24] ygol commented on #14241
community.

[2016-11-09 16:30] JKE-be commented on #14241
How can you have website_version in the community ? do you have a custom module ?

[2016-11-09 16:38] JKE-be commented on #14241
no, the traceback that you report is related to website_version.

The version in your link is simply the current odoo version. (base module)

Could you provide your own traceback ...

[2016-11-09 16:57] ygol commented on #14241
get the same error as the one I reported from the runbot.

[2016-11-09 17:32] JKE-be commented on #14241
Stop to try to uses enterprise module on community and you will not have the error...

If you get this error on runbot, it is because you have installed yourself this module. It is not a standard module in the community version.

So yes you have the same error in local that on runbot, because you are doing the same crap.
But if you take a fresh install of Odoo without install it, it will works lik

[2016-11-09 17:32] #14241 closed

[2016-11-09 17:49] ccandito opened #14245 "dump in running "inventory at date" report"
Impacted versions:
10
Steps to reproduce:
run report inventory at date
Current behavior:
short dump's occurred

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 675, in dispatch
    result = self._call

[2016-11-09 18:03] JKE-be commented on #14241
Ok, after some research... It is not an updploaded module, but a dwonloaded module.
I can now reproduce it  !
The real bug is 'that it should be not installable'.

Thanks for the reporting

[2016-11-10 03:29] hisuley commented on #14226
@JKE-be
I followed the installation guide. Nothing special. Install directly from Ubuntu apt ( add deb http://nightly.odoo.com/10.0/nightly/deb/ ./  to sources.list )

**uname -a result:**
3.13.0-32-generic #57-Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

**Python packages installed**
Warning: cannot find svn location for odoo==10.0-20161109
Babel==2.3.4
Chameleon==2.6.1

[2016-11-10 03:42] hisuley commented on #14226
@JKE-be Besides, i found another issue on the fresh installation of Odoo,.

When i click the Calendar App, it shows that:

 Uncaught TypeError: this.$buttons.off(...).destroy is not a function

https://erp.linkyee.com/web/content/441-ba9bcb6/web.assets_backend.js:2973
Traceback:
TypeError: this.$buttons.off(...).destroy is not a function
    at Class.destroy (https://erp.linkyee.com/web/content/44

[2016-11-10 06:26] kkinateder commented on #14036
https://github.com/odoo/odoo/pull/14235

[2016-11-10 06:39] kkinateder commented on #14127
Whatś about closing?

[2016-11-10 06:47] deepa4lok opened #14249 "Odoo 10E: Limit of Records set in the Action seems to be incorrectly working."
**_Impacted versions:_**
Odoo 10 E

**_Steps to reproduce:_**
BOM, set the limit of records to 2, i.e set limit to 2 in its Action

**_Current behavior:_**
All the records are shown, which is 4 in my case, but data are been displayed only to 2 records.

**_Expected behavior:_**
Should show just 2 records with data.

**_Video/Screenshot link (optional):_**

![image](https://cloud.githubusercontent.

[2016-11-10 07:44] sle-odoo commented on #14127
Oh the wheezy build is working on stretch, that's a good news :)

[2016-11-10 07:44] #14127 closed

[2016-11-10 08:03] #14245 closed

[2016-11-10 09:10] ccandito opened #14254 "error in importing Odoo standard "base import module""
Impacted versions:
10

Steps to reproduce:

Current behavior:
short dump corrupted the whole system
Uncaught TypeError: Cannot read property 'widgets' of undefined

Expected behavior:

Video/Screenshot link (optional):

[2016-11-10 09:54] abdallamohamed1992 opened #14257 "[10e] Error invoicing PO with multi currency"
Impacted versions:
10c

Steps to reproduce:
Create vendor invoice from PO with USD and company currency EUR

Current behavior:
Odoo appear EUR when invoice PO

Expected behavior:
Invoice should appear USD instead of EUR

[2016-11-10 09:58] JKE-be commented on #14254
Missing info to reproduce

[2016-11-10 09:58] #14254 closed

[2016-11-10 10:12] Icallhimtest commented on #14230
fixed in 10.0 at https://github.com/odoo/odoo/commit/5a45ed00facef46c3099400ffe5d6dc9b0c47845

[2016-11-10 10:12] #14230 closed

[2016-11-10 10:34] lamusoul commented on #8304
Wow, great, thanks for your info bro imbacknow, it works now for my cashier user odoo 10

[2016-11-10 10:37] Yajo opened #14258 "[master][web] Proposal: ES npm module loader"
Hi @ged-odoo, we are planning to create a module loader based on npm. Our proposal is to include this functionality in Odoo CE master, in `web` addon, if it is of your interest. Otherwise we will do it in an external addon by ourselves.

**Our main goal is to stop adding the source code of external libraries in addons**. This can lead to an awful amount of code that you really don't need. For inst

[2016-11-10 10:37] aristobulo-eezee commented on #14243
Received an explanatory video from support@odoo.com about this and its correct workflow

[2016-11-10 10:37] #14243 closed

[2016-11-10 10:49] tsixpence commented on #4231
Greetings everyone, is the module that saves unpaid POS orders functional. We have a client who needs this functionality enabled for their production server running odoo POS.

[2016-11-10 12:07] sajadkk opened #14260 "[10.0] No options for Advanced Calls for Tenders"
**Impacted versions:**
10.0

**Steps to reproduce:**
go into the _Purchases_ module, open the _Configuration_ menu and click on _Settings_.

**Current behavior:**
No options for 'Advanced Calls for Tenders'

**Expected behavior:**
There should be an option for 'Advanced Calls for Tenders'
![partial_purchase01](https://cloud.githubusercontent.com/assets/1268273/20176093/91daca5c-a75f-11e6-9df3-335c

[2016-11-10 14:20] KurtHaselwimmer commented on #14007
Damien,

I have access to other support tickets that are connected to my account - but 693517 is not on the list that I can see under 'Your Issues' on my odoo account dashboard. Can you give me access to the issue.

regards

Kurt

[2016-11-10 14:28] sle-odoo commented on #14205
Well printing a report is done by returning an ir.actions.report.xml action when clicking on a button. When you do that, the weblcient is blocked until the download of the report is started. Isn't that enough? I mean if you have a wizard ton print a button, it means that you give some choice to the user. Keeping the wizard open allows the user to change some data and print again, doesn't that make

[2016-11-10 14:37] brychmilan commented on #9745
@rafaelbn
Hello Rafael, do you have some describe how you achieve subdomain routing in Odoo please?
This feature I find long time and will be perfect if Odoo can do this.

Thank you very much.
Milan

[2016-11-10 14:49] TheCloneMaster commented on #4231
Hi, there is a module made by yente that is far better, as it allows to
keep proper  track of debts per customer.

I will post the link as soon as I can find it.
Regards
Mario

El 10 nov. 2016 4:50 AM, "tsixpence" <notifications@github.com> escribió:

[2016-11-10 15:15] jholze commented on #12527
We already fixed this locale code behavior. Check http://supernova-lights.com/en/supernova-e3-e-bike-mini --> which is a odoo v9 with our SEO Suite. Some issues are still there but its a nice step forward.

[2016-11-10 16:59] fdelayen commented on #9955
Sales module is not the only one.
The same thing is done in account and purchase. The context should be change in the condition on model, not directly in the return.

[2016-11-10 17:44] ccandito opened #14266 "error in importing Odoo standard "base import module""
Impacted versions:
10
Steps to reproduce:
I've tried to install the "base import module"
a short dump has occurred (please have a look at the first system log)
and the whole system has been corrupted because it is not possible to navigate (consider the second log when clicking any menu item)
thanks in advance
Claudio Candito

Uncaught TypeError: Cannot read property 'widgets' of undefined
http://X

[2016-11-10 18:13] tarteo commented on #14160
@DipaliKhatri I had the same issue, do you have an empty __manifest__.py file somewhere (addons/{module_name}/__manifest__.py)?

[2016-11-10 18:30] lapagept commented on #3339
@dhongu
Hello there, should I try your code? Is it still the best  way to get a persistent cart?

[2016-11-10 18:32] yboujraf commented on #14139
Dear,

Again,

We imported the new coda statement and again a part of the items are missing.

Anybody could help us for that?

Best Regards,
Youssef
[BE54001591120197_EUR_Full_20161107.zip](https://github.com/odoo/odoo/files/584106/BE54001591120197_EUR_Full_20161107.zip)

[2016-11-11 04:50] feseme commented on #1957
Hi everyone. I have a problem when printing a ticket from the pos. I'm using posbox (raspberri pi 2 + posbox img v 4) + Epson tm u220 (matrix printer). It prints the ip perfectly but when i print a ticket from the pos it prints some question marks and some symbols, and it continue printing without stoping (errno 110... last trace back...). I think its because it tries to print the odoo logo (the t

[2016-11-11 05:09] DipaliKhatri commented on #14160
@tarteo,
In addons 10.0 no one empty __manifest__.py file in any modules.

[2016-11-11 08:06] ccandito commented on #14254
I've created another issue with more details
Regards
claudio candito

[2016-11-11 09:12] tarteo commented on #14160
@DipaliKhatri meant to ask @lukebranch

[2016-11-11 09:18] DipaliKhatri commented on #14160
First checkout the branch in 10.0 than pull in that branch and than clear the cookies and than make a new DB.

[2016-11-11 09:50] tarteo commented on #14160
@DipaliKhatri Yes, but that did not resolve @lukebranch issue. I **_had_** the same issue he has and resolved it by removing an empty \_\_.manifest\_\_.py file. So that's what I'm suggesting to @lukebranch to do.

[2016-11-11 10:01] DipaliKhatri commented on #14200
@aek,
In odoo 10 price_total field is not allow.

[2016-11-11 12:49] #14213 closed

[2016-11-11 13:25] lmignon opened #14275 "NEW API: Call to invalidate_cache breaks computed and related fields + onchange"
## Impacted versions:
 8.0 / 9.0 / 10.0
## Steps to reproduce:
* see https://github.com/odoo/odoo/issues/11841
* in a shell
  1. create an in memory record `order = self.env['purcahse.order'].new({....})`
  2. create an in memory record with a reference to the first one `order_line = self.env['purchase.order.line'].new({'order_id': order, ....})`
  3. order_line.order_id is an in memory recordset

[2016-11-11 13:27] lmignon commented on #14275
IMO it's a major issue. @rco-odoo @odony

[2016-11-11 14:01] jalzaga opened #14276 "Standard_price field in the product is updated when real price is used"
Impacted versions: 8, 9, 10

Steps to reproduce:
As an example, you have a cost (standard_price)  of 100 EUR in the product record.
1. You buy 10 units at 100 EUR.  standard price remains at 100 EUR
2. You buy 10 units at 50 EUR, Standard price remains at 100 EUR
3. You sell 15 units, so it takes 10 units at 100 EUR (First quant) and 5 units at 50 EUR (second quant). At this stage the standard pri

[2016-11-11 16:02] #8963 closed

[2016-11-11 16:28] Smart-IT-Kirkham opened #14278 "MRP Issue with Serial Numbers"
Impacted versions:
Odoo 9 and 10

Steps to reproduce:
Turn on serial numbers
Create Product A with components 1 and 2.
Components one and two are stockable with unique serial number.
Create Product A which is stockable with unique serial number and manufactured.
Associate a BOM with Product A which has one component 1 and one component 2 in.
Purchase in 2 each of component 1 and 2. Each will have

[2016-11-11 16:58] innovo3d commented on #5210
@Beast141 , where is this setting?  I used to see it under Sales, Configuration, Settings, but after I set my email servers this setting seems to have disappeared!  Where can I find it?

[2016-11-11 17:46] innovo3d commented on #5210
Never mind.  I found the problem.

Basically it had to do with my understanding of the "EMAIL" function.  I assumed that it meant that it would actually send a real email, which in my honest opinion, it should.  However, if the user has their preferences set as "Email Messages and Notifications? **Never**" then all of the EMAILS sent through the @ Send Email function will only be sent internally a

[2016-11-11 17:53] innovo3d commented on #7374
+10!

I just wasted a good part of my week before arriving at this page.  This is really annoying.  Send Email should mean exactly that.  If a user has selected "Never" for Email Notifications, that is fine for "Notifications", but I wanted to send them an EMAIL, not a notification.

Emails and Notifications are NOT the same.  If we want to give users the ability to filter them BOTH, then that's f

[2016-11-11 18:39] hugho-ad opened #14279 "[10.0] Field compute is re-calculated with store=True when opening the sending mail invoice Wizard"
Impacted versions:
10.0

Steps to reproduce:
- create a computed field into `account.invoice` model:
[code]
- Then, modify the report `account.account_invoices` in `ir.actions.report.xml` in order to set new expresion :
`attachment="(object.state in ('open','paid')) and '%s.pdf' % object.report_name"`
The report will generate an attachment with that expresion
[code]

With the above changes at the

[2016-11-11 19:33] aek commented on #14200
The use of price_total field is not mine, it's on the Odoo code report template on the sale module

[2016-11-11 20:24] elevationO commented on #14276
I am impacted by this as well.  Not using the actual quant value is causing problems across the system for us.  Most recently Odoo is using the avg when allocating a landed cost by value.

https://github.com/odoo/odoo/issues/13696

[2016-11-11 22:46] invitu opened #14280 "[10.0-sale/account] Taxes should be float in order to fix rendering in reports"
Impacted versions: 10.0

Steps to reproduce:
- Setup a company with a currency that has zero decimals
- Print a sale order or an invoice

Current behavior:
- Formatting taxes with currency is not possible

Expected behavior:
- Taxes should be formatted with currency format

[2016-11-11 23:30] invitu commented on #14280
I did a PR #14282

[2016-11-12 07:40] Yenthe666 commented on #14275
@mart-e pinging you for this one too.

[2016-11-12 13:52] blaggacao opened #14284 "Apparent float issue keeps POS order from validating"
#### Impacted versions:
27413fe

#### Description:
The issue apparently (see debugging screenshot) goes around the machine arithmetic floating limitations as https://docs.python.org/2/tutorial/floatingpoint.html
##### The culprit line seems to be:
https://github.com/odoo/odoo/blob/7bb6b329271c20404c706224d4a1e3414038c0ae/addons/point_of_sale/models/pos_order.py#L376 (here taken from version 10.0)

[2016-11-12 21:20] blaggacao commented on #14284
@mart-e beeing you the last one who touched this line in 9.0, although I guess this is present already way back. This instance is on google compute hardware, I don't know their floating point arithmetics, put as we can see in my local debugging session it's not reproducible. In any case the line `order.amount_total = order.amount_tax + amount_untaxed` is a floating point time bomb and it seems it

[2016-11-13 13:32] ploegvde commented on #14166
Can this be merged please?

[2016-11-13 13:32] ploegvde commented on #13853
Can this be merged please?

[2016-11-13 20:19] gustavovalverde commented on #14059
Just following up.

Any updates on this matter @fpodoo?

[2016-11-14 04:13] Danisan commented on #14059
I feel the sales journal should remain the same for a single pos. This allow to keep consistency of sales open/closure and funds control.
Anyway, the different kind of docs, is a must have, and already solved in "some" localizations as as said.

[2016-11-14 08:10] Yenthe666 commented on #14166
@mart-e can you look at this please?

[2016-11-14 09:37] ged-odoo commented on #14258
Dear @Yajo,

Thank you for your proposition.  I already tried to integrate npm with odoo, but I didn't find a nice way to do it, and it looks like you have a pretty good idea on how to do it.

But before going into specifics, I'll tell you my (personal) opinion: I like it, but I expect that the higher-ups will not approve such changes (when something kind of works, we are really opposed to change,

[2016-11-14 10:52] Yajo commented on #14258
Hi, thanks for your comments. About some of your points:

I was thinking more in saving the minified source inside the `minified` field of `web.library.source` records. The main reason is that we'd need Odoo to have write access to a folder to execute npm behind the scenes, but I think that if we just trigger that in a [`@api.onwrite`](https://github.com/odoo/odoo/pull/11042) (I abuse this chance

[2016-11-14 10:59] krupesh10 opened #14292 "[8.0] Many2many record selection loose for previous page"
Impacted versions: 8.0

Steps to reproduce: Open m2m field in popup and select(tick) few records from first page of m2m and then goto next page of m2m field records and again select some records from second page when you hit select button the only record added to the m2m which are on second page it will not add selected records from the first page.

Current behavior: Only add selected records whic

[2016-11-14 12:30] ged-odoo commented on #14258
On the location of minified code:
yep, you are right, it sounds better

On new controller for web/library:
worth thinking about it...  makes it kind of simple, but extra complexity with some magic. not really sure

On async modules:
the black magic you mention is only to fetch the dependencies (also, note that this is the same regexp used by requirejs). The module system makes sure the dependencie

[2016-11-14 12:52] collex100 opened #14299 "[10.0-website_mass_mailing]On the pages of the shop and the blog does not display the field Newsletter"
Impacted versions:10

Steps to reproduce:
Website > Shop > Product page > Edit > Add Newsletter > Save
Website > Blog > Blog page > Edit > Add Newsletter > Save

Current behavior:
On the pages of the shop and the blog does not display the field of Mass Mailing Campaigns web form
http://prntscr.com/d73vx8

Expected behavior:
Mass Mailing Campaigns web form
http://prntscr.com/d73wjx

Video/Screensho

[2016-11-14 13:02] collex100 opened #14300 "[10.0-hr_gamification] Application not installed - bug"
Impacted versions:10
Linux Ubuntu 14.04

Steps to reproduce: Apps > HR Gamification > Install

Current behavior: Application not installed
[code]

[2016-11-14 13:04] Yajo commented on #14258
I understand you are talking about the things a module exports, that can be modified by another module. AFAIK that's the common notion of an `exports` in any module system, so not really a conflict here (if I understood).

I think we could simply drop all that regexp stuff if we declared addons like this:

[code]

Many thanks for that! I'm wishing that since v8 :blush:

I personally am not going t

[2016-11-14 13:25] ged-odoo commented on #14258
for the record,

odoo.define(
  "module.name",
  ["web.core", "web.Model"], // Odoo modules
  ["jQuery-1.0.0", "Backbone-1.0.0"], // External libraries
  function(core, Model, $, Backbone) { // Method executed when those load
   ...
})

already works (at least the odoo modules part).

I'll get back to this issue later, after some internal discussions.  Don't hesitate to ping me if this rots for to

[2016-11-14 13:37] ccandito opened #14302 "neither products nor activities can be added in MO"
Impacted versions:
10
Steps to reproduce:
create a MO
Current behavior:
it is not possible to add/remove products from the list of consumption material
it is not possible to add/remove activities (Work Orders)

in this way the MO has to be as planned in BOM and Routing without any chance to change it

Expected behavior:
flexibility to modify MO in both materials and activities

Video/Screenshot li

[2016-11-14 13:40] ccandito opened #14304 "Actual duration in planning for workcenter GANTT report"
Impacted versions:
10
Steps to reproduce:
closing a MO
Current behavior:
the closed Work Orders  are shown with planned duration

Expected behavior:
closed WOs should be displayed with actual duration

Video/Screenshot link (optional):

[2016-11-14 13:43] ccandito opened #14305 "cancelled WOs haven't be displayed in planning by workcenter GANTT report"
Impacted versions:
10
Steps to reproduce:
cancel MO and its related WO

Current behavior:
the GANTT planning by workcenter displaying the WO cancelled

Expected behavior:
no cancelled WOs should be taken into account in planning by workcenter GANTT report

Video/Screenshot link (optional):

[2016-11-14 13:44] #13853 closed

[2016-11-14 13:47] ccandito opened #14306 "short dump in closing MO"
Impacted versions:
10
Steps to reproduce:
entering analytic account in WC master data

Current behavior:
a short dump's occurred when marking as done the related MO
system log is reported below

by removing the analytic account no dump occurs anymore

Expected behavior:
no dump at all
actual value posted in analytic account for labor costs

Video/Screenshot link (optional):

Traceback (most recent

[2016-11-14 14:36] Derter commented on #14054
still waiting for an solution here. Thank you.

[2016-11-14 14:44] mart-e commented on #14284
Hello,

Sorry but what is the bug exactly? I mean, is there somewhere a wrong behaviour for the customer?
What you show me is floating points approximations for the developer but the solution is usually to use methods as `float_compare` in the code.

[2016-11-14 14:59] simongoffin commented on #14150
closed with 57f320aa99f57fd560e2a5f242dd9f5824e76435

[2016-11-14 14:59] #14150 closed

[2016-11-14 15:24] jjscarafia commented on #14059
as @Danisan has said, for v9 we have taken out the logic of accounting documents from our argentinian localization to a generic module [here](https://github.com/ingadhoc/account-financial-tools/tree/9.0/account_document)

This accounting documents can not only be related to invoices but also to payments, statements or wherever you need.

Still lot to be done but for now it works ok for Argentina,

[2016-11-14 15:36] mart-e commented on #11568
Fixed at #14152

[2016-11-14 15:55] Danisan commented on #14059
@jjscarafia we are in this during the week.

[2016-11-14 16:36] mart-e commented on #14087
Hello,

I am not familiar with jsonschema but shouldn't it be fixed there?

[2016-11-14 16:53] Yakulu opened #14316 "Bugs in many reports : measures"
**Impacted versions**: 10.0 CE

**Steps to reproduce**: Just use standard community version reports and default filters

**Current behavior**: When you choose filters, measures never change

**Expected behavior**: Measures should follow defined measures in context

Here is [an example](https://github.com/odoo/odoo/blob/11812b0b9e82b2b1b9041d8250ce01e7b4a5f7ee/addons/purchase/report/purchase_report

[2016-11-14 16:55] JKE-be commented on #14300
Hi,
I cannot reproduce in English on the runbot...
What is your current language installed... ?

[2016-11-14 16:59] collex100 commented on #14300
Russian

[2016-11-14 20:24] delcain commented on #9543
@kkrutko tnks man

[2016-11-14 23:08] joe1981alAPR commented on #6776
I would like to confirm this is still occurs in version 10.

Testing another issue I added a user to the "Other Extra Rights / Public" group and the "Sign In" link disappeared.

I removed the user from the group but the sign in option is still missing.

[2016-11-14 23:08] bistaray opened #14319 "WISHLIST: Autogenerate res.user image to "Initials Avatar" using via http://codepen.io/leecrossley/pen/CBHca"
![](http://i.imgur.com/5PcmpGe.png)

Admin can still set the image, but the default will be the initials of the user.

[2016-11-14 23:53] jorenvo commented on #1957
@feseme are you sure that is what the issue is? One easy 'fix' is simply removing the company logo in the backend. Without a logo the POS will resort to printing the company name instead.

[2016-11-14 23:56] gdgellatly commented on #13780
@ged-odoo after some more research, it is most definitely that commit that introduces it, see below from mailing list

All I did as a test in frustration is revert line 473 of list_view.js such that it read (essentially reverting the commit identified in issue 3964
[code]
and everything worked perfectly as expected.  So I guess my questions are now:

What exactly is this piece of code doing, i.e.

[2016-11-15 02:54] W360S commented on #14199
i have the same error plz help
after i create note & i want to share the note to my staff follow but cannot share, it show up error message
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 675, in disp

[2016-11-15 06:06] deepa4lok commented on #14205
Well that could work out in some places while some it is not, especially when action is triggered twice, for printing I can agree with you, consider am using wizard to update things,
For example say am updating qty in BOM, (custom update), after the qty is updated, it would be good if the button is deactivated, that way I will be assured I had updated, but without knowing/or accidentally I pressed

[2016-11-15 07:47] #11568 closed

[2016-11-15 08:30] Yenthe666 commented on #14292
Hi @krupesh10,

Thanks a lot for your report. I agree that this would be a neat improvement but I wouldn't label it as a bug.
@mart-e I've labelled this wishlist. What do you think about it? It might get confusing for exporting if you don't get records from the previous 'page'.

[2016-11-15 08:31] Yenthe666 commented on #14054
@qdp-odoo can I ask you for input here?

[2016-11-15 08:59] hbrunn commented on #13780
any possibility this is fixed by this commit? https://github.com/OCA/OCB/commit/25616b9f2bbca3f03dbde1dc81a57986241c1aab

[2016-11-15 09:58] mart-e commented on #9999
Hello,

It seems that your error comes from the module `eking_amazon` which is not standard.
Please check with the developer who made it or give us a way to reproduce the issue in standard.
Regards

[2016-11-15 09:58] #9999 closed

[2016-11-15 10:03] aristobulo-eezee opened #14321 "[enterprise] l10n_*_reports and l10n_us_check_printing are auto installable"
**Impacted versions:**
9.0

**Steps to reproduce:**
1. Get odoo community + enterprise
2. Create a new clean database
`./odoo/odoo.py -d odoo.auto -i account --addons-path=./enterprise,./odoo/addons`

**Current behavior:**
It will install `l10n_us`, `l10_us_check_printing`, `account_yodlee` by default.

**Expected behavior:**
Not having these modules installed by default on a new database non-loca

[2016-11-15 10:07] aristobulo-eezee commented on #14321
cc/ @antonybrugger @eezeefho

[2016-11-15 10:13] deepa4lok opened #14322 "Binary Field: widget='pdf_viewer', download option doesn't appear when the field is defined inside notebook."
**_Impacted versions:_**
Odoo 10E
I have a binary field, on which I has specified widget='pdf_viewer', which works perfectly for open, downloading etc.
However when the same is placed inside notebook, it expands and fits into the notebook-page, which is absolutely fine, but I could not find the top 2 options, which includes 'open', 'download' options.

**_Steps to reproduce:_**
Create a 2 fields o

[2016-11-15 10:17] mart-e commented on #14300
Hello,

Indeed it was a translation issue. I have fixed it on Transifex and it should be included in the next translation update (on Sunday).
Please note that we are not responsible of bad translations, it is done by the community on [Transifex](https://www.transifex.com/odoo/)

[2016-11-15 10:17] #14300 closed

[2016-11-15 10:20] collex100 commented on #14300
Thank you!

[2016-11-15 12:18] ged-odoo commented on #14258
well, the discussion was not really long...

This proposition cannot be accepted.  This is not something we want to do. So, I have to close this. Sorry

Thank you anyway for trying.

[2016-11-15 12:18] #14258 closed

[2016-11-15 12:59] #14084 closed

[2016-11-15 13:00] Yajo commented on #14258
Thanks for your attention, I guess we'll need to do this for @OCA then :disappointed:

[2016-11-15 13:30] aab-odoo commented on #14249
Hello,

The limit isn't set to 2 on your screenshot (see the pager). How did you try to change it?

Regards

[2016-11-15 14:51] feseme commented on #1957
@jorenvo can u please explain to me, how can i remove the logo?

[2016-11-15 15:26] mart-e commented on #14292
Due to the fact that you can modify the number of displayed record from 80 to unlimited, yes I don't consider this as a bug.
Also we won't be modifying this in 8.0. Please check in version 10 where the web client has changed quite a bit under the hood.

[2016-11-15 17:08] jorenvo commented on #1957
@feseme if you go to settings > general settings > configure your company data, you can temporarily delete the logo to see if that fixes the problem

[2016-11-15 17:37] osvalr commented on #9860
I confirm this is happening

[2016-11-15 17:50] ccandito opened #14331 "Product extension module doesn't work out with variants"
Impacted versions:
10

Steps to reproduce:
create two materials: one w/out and another one with variants
for both of them create BOMs and Routings

rCurrent behavior:
the feature "compute from BOM" is active for simple materials
the same feature is not shown for matirial variant at variant level

Expected behavior:
the feature "compute from BOM" should be available for variant materials at variant

[2016-11-15 18:09] Angelfentanez commented on #14087
Hi,

The problem is that jsonschema uses pkgutil.find_loader which iterates over all the package loaders and passes only one parameter, it does this because it expects that all the loaders follow the PEP302, when it tries to call odoo's find_module method it crashes because that method expects two parameters, this happened to me with jsonschema but might be a problem with any library that uses pkg

[2016-11-15 18:56] luienper opened #14332 "Calendar"
Impacted versions:
10
Steps to reproduce:
Create a Calendar recurrent event by year
Current behavior:
 Doesn't create the events automatic for the next year

Expected behavior:
create the events automatic

Video/Screenshot link (optional):

[2016-11-15 19:06] satriani-vai commented on #11149
Guys, will you be able to patch this security bug until the next release? :roll_eyes:

[2016-11-16 00:45] gdgellatly commented on #13780
@hbrunn thanks for your work here, I confirm this fixes the issue

[2016-11-16 00:45] #13780 closed

[2016-11-16 01:53] pedrobaeza commented on #13780
Should this be backported in OCB for any of the prior versions?

[2016-11-16 02:42] Marcogb81 opened #14333 "variable 'datebirth' can named in view model lia ' cumpleaños'"
Impacted versions:8.0.0.1

Steps to reproduce:datebirth = fields.Date(string='Nacimiento',required=True, translate = True)

Current behavior:'arch' not work, say datebirth do not sxist

Expected behavior: show field with title 'nacimiento'

Video/Screenshot link (optional):

[2016-11-16 02:43] Marcogb81 opened #14334 "not limit field intener character numbers"
Impacted versions:8.0.0.1

Steps to reproduce: phone = fields.Integer(string='telephone',size=9)

Current behavior: Do not stop introduce numbers, field has no limit

Expected behavior: you can only introduce 9 digits for phone

Video/Screenshot link (optional):

[2016-11-16 02:53] helen5106 commented on #13808
anyone solved this issue?

[2016-11-16 04:53] woei66 opened #14335 "Odoo Session Expired (version 9)"
Impacted versions: 9.0

Steps to reproduce:
visit the homepage and input the account and password
Current behavior:
can't login and display exception on the chrome console
Expected behavior:
can login
Video/Screenshot link (optional):
<img width="1247" alt="2016-11-16 12 52 12" src="https://cloud.githubusercontent.com/assets/5770807/20335205/95b0799c-abfb-11e6-9592-3898e5145cb0.png">

web.assets_c

[2016-11-16 05:24] bista-amitd commented on #14150
Above commit says it's fixed for v10.
Can you please improve this on v9 ?

[2016-11-16 06:30] hbrunn commented on #13780
sure. But on the other hand, we might better fix  the root cause and patch underscore. But on the other hand, the problem is known and documented: http://underscorejs.org/#each, so fixing this might not be as simple.

[2016-11-16 07:20] hbrunn commented on #13780
how about a warning (maybe even error) in mtq that fields called `length` can have unintended side effects (think of all the addons in the web repo that might produce garbage here), and that the field should better be called extent, size, duration or whatever else fits?

[2016-11-16 07:40] Yenthe666 commented on #14333
Hi @Marcogb81,

Thanks a lot for your report but the Github issue tracker is only for bugs in the official code, not for custom development.
I suggest you to create a new topic on the official Odoo help forums (help.odoo.com).
P.S: Please post both the Python and XML code too, otherwise we can't see what is wrong. This line of code looks fine.

Regards,
Yenthe

[2016-11-16 07:40] #14333 closed

[2016-11-16 07:47] eLBati commented on #14036
Same problem here.

@CakJuice could you extend the title, so that the issue can be identified more easily?
Thanks

[2016-11-16 08:54] pedrobaeza commented on #13780
The problem is in the JS linter, that I'm not sure which are the possibilities with it. Maybe @moylop260 can answer us. About the patches, can you please make them?

[2016-11-16 08:56] gdgellatly commented on #14334
Phone numbers are not integers, they are a string of digits. You don't
perform mathematical operations on phone numbers.
You also don't say my phone number is 9 million, 5 hundred and forty three
thousand, seven hundred and eighty two or use thousands separators.

Use char type.

In any case let's pretend you could set a size of 9, that would be 2**9 as
max value. Computers work in binary, not bas

[2016-11-16 09:09] hbrunn commented on #13780
I leave the honors to @gdgellatly

[2016-11-16 09:26] Yajo commented on #9553
Workaround: enter the ir.ui.view record, search for any appearance of `*cke*`, and remove all attributes and classes containing it.

[2016-11-16 09:44] Yenthe666 commented on #14280
@qdp-odoo could you look at this? Is this wanted behaviour?

[2016-11-16 09:50] Cedric-Pigeon opened #14338 "[8.0] Default picking_type_id on purchase does not work in multi company mode"
The purchase module includes a puchase_data.yml which occurs security warning.

`!python {model: ir.values}: |
    whr = self.pool.get('stock.warehouse').browse(cr, uid, ref('stock.warehouse0'), context=context)
    self.set_default(cr, uid, 'purchase.order', 'picking_type_id', whr.in_type_id.id, for_all_users=True, company_id=True, condition=False)`

This code put the same picking_type_id for all

[2016-11-16 10:41] Cedric-Pigeon commented on #14338
OPW 694059

[2016-11-16 11:21] Marcogb81 commented on #14334
thank you

________________________________
De: Graeme Gellatly <notifications@github.com>
Enviado: miércoles, 16 de noviembre de 2016 9:56
Para: odoo/odoo
Cc: Marco Garcia Baturan; Author
Asunto: Re: [odoo/odoo] not limit field intener character numbers (#14334)

Phone numbers are not integers, they are a string of digits. You don't
perform mathematical operations on phone numbers.
You also don't

[2016-11-16 11:59] qsm-odoo commented on #13996
Hello, this bug has been fixed with commit https://github.com/odoo/odoo/commit/2757775ed32f3860ee27c34245606edbf1dc3315

[2016-11-16 11:59] #13996 closed

[2016-11-16 12:09] bista-amitd commented on #14150
Still reproducible on runbot v9 instance.

[2016-11-16 13:47] kkinateder commented on #14036
@elBati https://github.com/odoo/odoo/pull/14235

[2016-11-16 14:20] moylop260 commented on #13780
@hbrunn could you create a issue in mqt of what is the new lint required, please?

[2016-11-16 14:20] qsm-odoo commented on #14204
The issue has been fixed in saas-11 with commit https://github.com/odoo/odoo/commit/2e0a30001691eb8608b99881c9cee3d2073d9373. It will be forward-ported for 10.0 in the upcoming days.

[2016-11-16 14:20] #14204 closed

[2016-11-16 15:14] qsm-odoo commented on #13596
@nim-odoo I will handle this.

[2016-11-16 15:31] blaggacao commented on #14284
@mart-e I'm sorry for my faulty communication. This goes quite deep down the stack (and brain)... 😄

The problem occurs when a client-side properly closed POS order is replicatad falsely (as depicted above) server side. The pos session cannot be closed as infected orders cannot be validated. I guess because as there is a real difference at some floating point position, this explodes somwhere arrou

[2016-11-16 16:14] simongoffin commented on #14150
closed with 164b8ed01a96c860cf758514abfd50ba349e990c

[2016-11-16 16:29] adaptivdesign opened #14351 "9.0 WYSIWYG fields broken, causing dataloss !!"
Impacted versions:

9.0, since commit 897290dd3ff218ddc12dcdc6c936a8725813cefe

Steps to reproduce:

Method 1:
- Change project task description (without pads enabled)
- Field is cleared upon clicking save

Method 2:
- Tried this at runbot.odoo.com,
- send invoice by mail
- As soon as you press send, the wysiwyg field is cleared, before being send.

Current behavior:

wysiwyg fields are cleared up

[2016-11-16 16:31] qsm-odoo commented on #13596
This issue has been fixed with commits:
- 9.0c: https://github.com/odoo/odoo/commit/86252428846607cd5f4b18cef8de49a8cd0b151a
- 9.0e: https://github.com/odoo/enterprise/commit/28e1fe5b8727762e53beb69fe98699b426bfdf09

[2016-11-16 16:31] #13596 closed

[2016-11-16 16:43] marcelompz opened #14352 "Import csv file from another DB."
Impacted versions:
9.0
Steps to reproduce:
Import csv file from another DB.
Current behavior:
Can't even showme the page to upload file.
Expected behavior:
Upload file to validate fields of the DB.
Video/Screenshot link (optional):
![image](https://cloud.githubusercontent.com/assets/17249379/20356205/8c927124-ac02-11e6-96be-aa0d58304abe.png)

[2016-11-16 17:40] odony commented on #12890
@gwasky if your issue was simply the detection of the right IN/OUT endpoint address for your printer (as in the case of "STMicroelectronics POS58 Printer"), you can download [version 15 of the POSBox image](https://download.odoocdn.com/master/posbox) and the problem should now be fixed.
If it's not solved yet, the output of `lsusb -v` will now be displayed in the hardware status page, and the prin

[2016-11-16 21:12] bistaray commented on #14237
You can also create a separate PostgreSQL user "db9" and "db10" and only the databases created in each version will show.

[2016-11-17 04:37] smartupdo opened #14353 "[10.0] Selling a service thru POS creates an empty stock operation"
Impacted versions:
10.0

Steps to reproduce:
Start a new demo database, sell any service product thru POS.

Current behavior:
An stock operation is created with no product, which shows as a picking error on the POS session closing screen and as a To Do transfer on Inventory.

[2016-11-17 08:17] yueqin opened #14355 "[bug]user who has administration access rights can create a user has settings rights"
Impacted versions:
[10.0]
Steps to reproduce:
1. create a user 'father' who's rights to administration is access
2. login by user 'father'
3. create a user 'child', the father can give the settings rights to the child
Current behavior:
the father can give the settings rights to the child
Expected behavior:
The father user without the settings rights can't create a user with the settings right
Vide

[2016-11-17 08:51] alexis-via commented on #13808
It seems I've been hit by this bug too. This is independant from the demo data parameter (False here) and from the Country of course (France here).

[2016-11-17 09:19] sbidoul commented on #13808
I've sen that too. I did not investigate so far.

[2016-11-17 09:56] aspcsharp9 opened #14360 "Get notification on email from Task > Timesheets"
Impacted versions: Odoo 9

Steps to reproduce: Project > Task > Timesheets tab

Current behavior:

Expected behavior: Is it possible send  notification to follower after add line to Timesheets for example after change stage or Task ready (email subtypes)

Video/Screenshot link (optional): https://postimg.org/image/g5g65olqr/

[2016-11-17 11:08] Yenthe666 commented on #13378
Hi @rafaelbn,

Sorry this one got burried in my pile of notifications..
While you can use the workaround I don't think that we can label it as a bug, it is however an improvement (and a quite good one).
If you're using Odoo in multi language you should have this ability so I'll label this wishlist.
@JKE-be since you're the website guy, what do you think?

Regards,
Yenthe

[2016-11-17 11:15] Yenthe666 commented on #14299
@JKE-be can you look at this one? Looks like an inconsistency.

[2016-11-17 12:04] aristobulo-eezee commented on #14321
@beledouxdenis ok, so it now it will assume always that it's an US localized db. I see the commit from 2015 on community, but it wasn't like that with enterprise until a recent commit.
Thank you for clarifying it.

Correct me if I'm wrong, so we cannot make a new db with demo data with `l10n_be` localization without having to manually remove `l10n_us` and friends ?

[2016-11-17 12:14] adrienpeiffer opened #14362 "[10.0] Bad display of binary field"
Impacted versions:

At least 10.0

Steps to reproduce:

See https://youtu.be/ZEW4Ge1EeVg

Current behavior:

Bad display of binary field

Expected behavior:

Have a correct display of binary field

Video/Screenshot link (optional):

https://youtu.be/ZEW4Ge1EeVg

[2016-11-17 12:16] adrienpeiffer commented on #14362
OPW 694196

[2016-11-17 12:19] aduijs opened #14363 "V10 EE+CE Properties on SO lines + BoM not functioning"
**Impacted versions:**  V10 EE +CE

**Steps to reproduce:**
Enable the 2 settings in the user profile and 1 setting in Sales config
![image](https://cloud.githubusercontent.com/assets/7501203/20388952/3a3fd874-ac95-11e6-86c9-a4c3c0a54a34.png)
![image](https://cloud.githubusercontent.com/assets/7501203/20388966/46199dec-ac95-11e6-8333-a3e41001a020.png)

**Current behavior:**
nothing happens, proper

[2016-11-17 12:58] #14036 closed

[2016-11-17 14:52] beledouxdenis commented on #14321
If you use the database manager web interface, you can choose the country at the database creation, before the installation of account, and if you set Belgium it will therefore automatically install the Belgian localization.

If you stick to the command line, you have to generate your database without `account` first, than change the country of your company to Belgium, than install the `account` m

[2016-11-17 16:59] simahawk opened #14369 "[bug] Same french translation for "Picking Preparation" and "Delivery Slip""
Impacted versions: 9

**Steps to reproduce:**
1. switch language to french
2. go to a picking
3. open print menu

**Current behavior:**
you see duplicated entries for "Bon de preparation"
Current translations for [Picking Preparations](https://github.com/OCA/OCB/blob/9.0/addons/stock/i18n/fr.po#L4186-L4189) and for [Delivery Slip](https://github.com/OCA/OCB/blob/9.0/addons/stock/i18n/fr.po#L1755-L

[2016-11-17 20:21] ZahraMekiAbdallah commented on #10136
Dear Crimoniv, Did you find the solution?

[2016-11-17 21:27] multiwebinc opened #14371 "Percent discounts mess up the taxes"
Impacted versions: 10.0 nightly installed 2016-11-16

Steps to reproduce: Set up a POS. Follow the instructions [here](https://www.odoo.com/documentation/user/9.0/point_of_sale/advanced/manual_discount.html) to add a discount item.

Current behavior: The discounts do not discount the tax amount. The customer pays the same final amount, but the store owner will end up paying more tax than what they

[2016-11-17 22:03] moleculezz commented on #1093
Has this been solved in Odoo 10?

[2016-11-18 02:21] hugho-ad opened #14373 "[10.0] Malformed translations to es_MX lang"
Impacted versions:
10.0
Load es.po translations

https://github.com/odoo/odoo/blob/10.0/addons/account/i18n/es.po#L183-L188
![image](https://cloud.githubusercontent.com/assets/10233975/20416252/505ca664-ad03-11e6-8c82-312cfe4b12ac.png)

![image](https://cloud.githubusercontent.com/assets/10233975/20416254/5370f350-ad03-11e6-99bd-dc7b27882794.png)

[2016-11-18 05:23] thegunshow opened #14375 "[Enterprise v10] Barcode wont display in windows Odoo"
Impacted versions: Odoo Enerprise v10

Steps to reproduce: No barcode is diplayed when a pdf is generated. I tested the reportlab code (see attached) andthe pdf was generated perfectly. It looks like the image files dont exist for some reason.

Expected behavior: Barcode should be displayed

Video/Screenshot link (optional):

[barcodes - Copy.txt](https://github.com/odoo/odoo/files/599093/barcodes

[2016-11-18 06:13] lukebranch commented on #14375
@thegunshow,

You need to install the reportlab barcode font manually:

1.- Download ZIP and extract http://www.reportlab.com/ftp/pfbfer.zip
2.- Create folder named "fonts" in " /usr/lib/python2.7/dist-packages/reportlab/"
3.- Copy content of folder extracted in "fonts" folder
4.- Restart server

[2016-11-18 06:17] lukebranch commented on #14375
You can see the related issue thread here:
https://github.com/odoo/odoo/issues/3234

[2016-11-18 06:41] thegunshow commented on #14375
Thanks a million

I will give it a go later.

Kind regards
Brendan

On Fri, Nov 18, 2016 at 8:17 AM, Luke Branch <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2016-11-18 06:45] lukebranch commented on #14375
No worries!

[2016-11-18 07:32] Yenthe666 commented on #14351
Hi @adaptivdesign,

Thanks a lot for your report. I've just tested this in the latest 9.0 and I can confirm this is a bug.
@mart-e could you assign somebody and add somebody for the project module on the wiki? (https://github.com/odoo/odoo/wiki/BugManagement)

Regards,
Yenthe

[2016-11-18 07:35] Yenthe666 commented on #14332
Hi @luienper,

Thanks a lot for your report. I've just tested this on the latest runbot (V10) and this works fine out of the box?
The settings that I've made:
![image](https://cloud.githubusercontent.com/assets/6352350/20422293/ca77d19c-ad69-11e6-8b78-53eadc32c267.png)
After clicking on save:
![image](https://cloud.githubusercontent.com/assets/6352350/20422322/eab48aa4-ad69-11e6-8573-d6ecd9acf909.

[2016-11-18 07:39] sle-odoo commented on #14375
Hello,
Can you tell me which nightly you are using? It's displayed in the settings app in the last block.

This bug should have been fixed with https://github.com/odoo/odoo/commit/7974cc6597bfe41f00ecffc2653b0e80d8809054

[2016-11-18 08:04] leopard7777777 opened #14380 "[10.0] TransientModel compute binary download error"
Impacted versions:
download binary field

Steps to reproduce:

- create a TransientModel
- create a compute binary field, use for demo file to download
[code]
[code]
- click download icon
- raise AttributeError: 'NotFound' object has no attribute 'set_cookie'

Current behavior:
[code]
Expected behavior:

web/controller/main.py
class Binary(http.Controller)
def content_common

status = 404, because

[2016-11-18 08:34] bista-amitd opened #14381 "Content field gets cleared on Email Template when user tried to update value on template"
Impacted versions:
9.0 + Enterprise
Reproducible on Runbot instance: http://180654-9-0-28e1fe.runbot10.odoo.com/

Steps to reproduce:
-> Goto : Settings->Technical->Email->Templates
-> Open any template
-> And try to update context

Current behavior:
Content field gets cleared

Expected behavior:
Content should not be cleared

Video/Screenshot link (optional):
[out-15.ogv.tar.gz](https://github.co

[2016-11-18 08:35] bista-amitd commented on #14381
adding @raycarnes

[2016-11-18 08:39] bista-amitd commented on #14381
OPW: 694309

[2016-11-18 09:27] Yenthe666 commented on #14381
Hi @bista-amitd,

Thanks a lot for your report. I've just tested this and I can confirm this is a bug.
@tde-banana-odoo this might be one for you?

Regards,
Yenthe

[2016-11-18 09:56] zorkek opened #14382 "[9.0c] Switching from kanban to form view goes into creation"
**Impacted versions:** 9.0

**Steps to reproduce:** in any section that has a kanban view; go in kanban view mode then switch to Form view mode by clicking the appropriate switch button placed in the top-right corner.

**Current behavior:** clicking on the form view switch button you get the same behavior as of clicking the Create button (in other words, odoo does not fetch a record to show and go

[2016-11-18 10:11] jokr0815 opened #14383 "[10] Azure oauth2 error - <winhost-url> isn't using a secure scheme"
Impacted versions: 10

Steps to reproduce: Create oauth2 provider Azure and try to Login.

Current behavior: Not working - Azure is responding with error: AADSTS50011: The reply address 'http://<windows-host>/auth_oauth/signin' isn't using a secure scheme.

Expected behavior: Need to configure the Redirect somewhere

Video/Screenshot link (optional):
<img width="832" alt="2016-11-18 11_08_34-error

[2016-11-18 12:22] moylop260 commented on #14373
@pedrobaeza
Dp you have allowed create change from es.po translations of transifex?

[2016-11-18 12:31] sergueikp opened #14387 "[8.0] XmlHttpRequestError when clicked on the link of attached file in email form"
Impacted versions: 8.0 community
I've reproduced it on runbot : http://183915-8-0-efdeb6.runbot10.odoo.com/web
see the attached screenshot

Steps to reproduce:
Use Firefox browser.
In Firefox > Tools > Options > General:
Configure the browser to Always Ask where to Save downloaded file.

- Go to "Quotations",
- Click on any "Quotation line",
- In the Quotation form click on "Send by Email"
- In em

[2016-11-18 14:16] luienper commented on #14332
Thanks for your answerOn November 18, 2016 at 2:35 AM "Yenthe V.G" <notifications@github.com> wrote:Hi @luienper,Thanks a lot for your report. I've just tested this on the latest runbot (V10) and this works fine out of the box? The settings that I've made:  After clicking on save: So I get one for every single year. Can you try again and reproduce this on a runbot (runbot.odoo.com)?Regards, Yenthe

[2016-11-18 14:49] luienper commented on #14332
Thank you for your soonish reply.
I have run the test just as you said and I have not had any problems with the list, everything works fine. The problem is when I set it to "Calendar" view, I cannot see all the events I have programmed with that amount of repetitions. i.e. I create an a yearly event for 5 years, which I can see in the list view like you showed me but I cannot see it in the Calenda

[2016-11-18 15:40] Yenthe666 commented on #14332
Hi @luienper,

Thanks a lot for the extra information. This indeed looks like an issue..
This year in the calendar:
![image](https://cloud.githubusercontent.com/assets/6352350/20435776/ab9b2ea6-adad-11e6-87ce-b32ff6ef2a6e.png)

Next year in the calendar:
![image](https://cloud.githubusercontent.com/assets/6352350/20435755/9b728b78-adad-11e6-9922-88d30a08ab03.png)

@JKE-be and @mart-e could you guy

[2016-11-18 16:03] luienper commented on #14332
thanks

[2016-11-18 16:08] thegunshow commented on #14375
Hi

Here is the print screen.

[image: Inline image 1]

On Fri, Nov 18, 2016 at 9:39 AM, Simon Lejeune <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2016-11-18 16:13] thegunshow commented on #14375
Hi Luke

Odoo is installed on a windows machine, not linux. So this isnt the right
fix.

Thanks
Brendan

On Fri, Nov 18, 2016 at 8:13 AM, Luke Branch <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2016-11-18 16:44] smartupdo opened #14391 "[10.0] There is no option to reprint POS receipts"
Impacted versions:
10.0

Steps to reproduce:
Enable reprinting on both module settings and point of sale settings. Make a sale, go to Orders and attempt to reprint the receipt.

Current behavior:
Option to reprint the receipt is not shown.

Expected behavior:
On the Order screen, a reprint button is expected to show as in 9.0

Video/Screenshot link (optional):
https://www.odoo.com/documentation/us

[2016-11-18 18:07] luienper opened #14392 "fleet management /Report/costs error"
Impacted versions:
10
Steps to reproduce:
- in Fleet module
   -we choose "costs" in the Report section
   From Costs Analysis we choose one of the total prices
Current behavior:
 -When we choose one item in the pivot, it shows error
Expected behavior:
 - We get to see the records from the item we chose
Video/Screenshot link (optional):
![screenshot from 2016-11-18 13-05-02](https://cloud.githubus

[2016-11-18 19:48] htoan04 opened #14394 "[10.0] Project.Task's Description cannot be saved"
Impacted versions:
10.0

Steps to reproduce:
- Edit any task of project
- Type any in task's description
- Then save

Current behavior:
Content field gets cleared, not saved

Expected behavior:
Content field should get saved

Video/Screenshot link (optional):

[2016-11-18 19:53] joe1981alAPR opened #14395 "[10.0] Customer Portal gives 500 Server Error for Invoice or Delivery Order"
Impacted versions: 10.0

Steps to reproduce: Create a new customer, under Actions->Portal Access Management, enable portal for this customer.  Create an Invoice for that customer, then log into the portal as the customer and try and view the invoice.

Current behavior:  Fails with a 500 Internal Server Error

Expected behavior:  Invoice will display

The rule "res_partner: portal/public: read acce

[2016-11-19 01:10] lukebranch commented on #14375
@thegunshow,

Didn't realise you'd deployed on windows. It's good to see you're getting help directly from Odoo SA on the issue though.

[2016-11-19 06:48] muntean commented on #13834
I have this issue, too.

[2016-11-20 03:59] davidtranhp opened #14398 "[10.0] mail: Mail Composer form removes all content upon pressing Send button"
Impacted versions: 10.0

Steps to reproduce: in OpenChatter, open Full Composer from, type something and press Send

Current behavior: Message content is removed completely and and empty content message is sent to recipients

Expected behavior: Message content must remain

[2016-11-20 07:21] Mellcap opened #14399 "[8.0]mapped get wrong value at Reference field"
Impacted versions: 8.0

Steps to reproduce:
I have a reference field named "target" which reference models in
[code]
When I use `rec.mapped('target')`, I should get
[code]
But I got ```res.country(101984, 239343, 49, 3251, 502, 61, 101982, 101983)```

Current behavior:
[code]
Expected behavior:
[code]

**Comment**:
I found that the point is at
[code]
[code]
But I have no idea how to fix it.

Video

[2016-11-20 14:29] thegunshow commented on #14375
Hi Simon

This is fixed now that I installed the latest update.

Thanks a million
Brendan

[2016-11-20 14:29] #14375 closed

[2016-11-20 15:08] thegunshow commented on #14111
Hi

Just reinstalled Odoo and it worked...

Thanks

[2016-11-20 15:08] #14111 closed

[2016-11-20 15:13] thegunshow opened #14400 "[Enterprise 10.0] Currency doesnt change based on company currency"
Impacted versions: Enterprise and community 10

Steps to reproduce: Change company currency from USD to ZAR (South Africa). Go generate a quote.

Current behavior: The pricing remains as USD or has no currency symbol in the front.

Expected behavior: $24.00 -> R24.00. The only way I can get this to work is to create a price list and set a location to South Africa, then use that price list.

Video/

[2016-11-20 16:44] nikosg5 opened #14401 "[10.0] Menu dissapeared - no assets common"
Impacted versions: 10.0

Steps to reproduce: open my instance from chrome in adroid phone

Current behavior: doesn't appear any menu

Expected behavior:

Video/Screenshot link (optional):
![image](https://cloud.githubusercontent.com/assets/8676956/20464484/de189acc-af50-11e6-8c96-754abe3fe8d8.png)

I have install odoo and I installed 2 modules to see if everything works. Then I tried to access my

[2016-11-20 19:44] saulih commented on #13834
I tested using '/shop/payment/validate' as redirect link from paypal and it does clear the shopping cart, but user doesn't see an order confirmation. Instead it just brings them back to the store front.

Could Odoo techs please weigh in on this?

[2016-11-20 21:17] daramousk commented on #14237
#14396 Made a pull request on this.

[2016-11-21 04:48] bista-amitd commented on #14398
duplicate of #14381

[2016-11-21 05:48] Yenthe666 commented on #14394
Hi @htoan04,

Thank you for your report. This issue has already been reported (and confirmed) here https://github.com/odoo/odoo/issues/14351
Closing this since it is a duplicate.

Regards,
Yenthe

[2016-11-21 05:48] #14394 closed

[2016-11-21 07:15] Yenthe666 commented on #14398
Hi @davidtranhp,

Thanks a lot for your report! This is indeed & duplicate of 14381, so I'm closing this one.

Regards,
Yenthe

[2016-11-21 07:15] #14398 closed

[2016-11-21 08:54] mart-e commented on #14373
Thanks for the report.
I have corrected the translation but for the future, please refer to the [Translations guidelines](https://github.com/odoo/odoo/wiki/Translations) to correct the translations on Transifex and not on Github

[2016-11-21 08:54] #14373 closed

[2016-11-21 09:02] odoo01234 opened #14407 "Enable option send, print, confirm in quotations"
Impacted versions: odoo 9

Steps to reproduce: In my version option  send, print, confirm in quotations is not visible, how enable that?

Current behavior:

Expected behavior:

Video/Screenshot link (optional): https://postimg.org/image/xealgcn6l/

[2016-11-21 09:22] drl9319 opened #14408 "[8.0] Access to res.partner in multi company"
**Impacted versions:**
Version: 8.0

**Steps to reproduce:**
I have three companies:
1- consolidate company (parent)
2- company A (child)
3- company B (child)

I enter with Admin in consolidate company and after enter with some user I can view the share res.user, but when I enter with Admin user for example un company A and after I enter with other user only can enter the same previos res.user in

[2016-11-21 09:22] lukebranch commented on #14381
I've just been able to reproduce this on 9.0 Community as well.

[2016-11-21 10:09] aristobulo-eezee opened #14410 "[9.0] account: traceback when changing company on vendor invoices"
**Impacted versions:**
[9.0]

**Steps to reproduce:**

1. Create a new database with demonstration data
1. Install `account`
1. Activate multi-company
1. Go to vendor bill, pick a draft invoice.
1. Edit the invoice and go to tab `Other info`
1. On company field, erase whatever the value is and hit `tab`

**Current behavior:**
A wild traceback appears!

**Expected behavior:**
Nothing should happen,

[2016-11-21 10:13] aristobulo-eezee commented on #14410
/cc @antonybrugger @eezeefho

[2016-11-21 10:14] Yenthe666 commented on #14381
@lukebranch yep it is in the community version too.

[2016-11-21 11:31] lolziac commented on #13834
I can confirm this issue is happening with me also. :(

[2016-11-21 11:43] lukebranch commented on #14381
@Yenthe666 ,

Yeah, not that that's unexpected, just thought i'd mention it.

I did a routine upgrade recently (roughly the same date as this issue thread was opened) and have had someone report this was an issue this afternoon.

It seems like this one is a pretty big deal though, if it affects discuss/mail it will affect pretty much everyone using Odoo 9.0/10.0 who's done an update or downloaded

[2016-11-21 12:57] Yenthe666 commented on #14381
@mart-e could you assign somebody on this one? 😉

[2016-11-21 13:01] mart-e commented on #14381
@tivisse you were talking about this I think. Is there a branch somewhere?

[2016-11-21 13:04] ehanuise commented on #1892
I have this issue on odoo.com, how can I apply your fix on the saas odoo ? Don't find it in the modules list.

[2016-11-21 13:23] qsm-odoo commented on #14381
Hello, I think this issue is related to the bug that was recently introduced with this issue fix https://github.com/odoo/odoo/pull/14339
People are working on it.

[2016-11-21 13:28] nle-odoo commented on #14381
hello

#14339 was reverted with https://github.com/odoo/odoo/commit/a6e3ae6b8c

[2016-11-21 13:40] nle-odoo commented on #14351
hello

#14339 was reverted with https://github.com/odoo/odoo/commit/a6e3ae6b8c

[2016-11-21 13:40] #14351 closed

[2016-11-21 13:41] #14381 closed

[2016-11-21 13:41] danimaribeiro commented on #14351
What about version 10.0?  Any timeline to be ported this fix?

[2016-11-21 13:44] mart-e commented on #14369
Hello,

Thank you for the correction on Transifex. If you have correct it on transifex, you have nothing to do, it is [already on github](https://github.com/odoo/odoo/blob/a6e3ae6b8c08b3e2abfda248b5f77a1781244683/addons/stock/i18n/fr.po#L4189).
It is [synchronized every week](https://github.com/odoo/odoo/wiki/Translations#when-will-my-translations-appear-in-the-software-or-in-github).

[2016-11-21 13:44] #14369 closed

[2016-11-21 13:56] thomich commented on #1892
you can't use tht module/repository on saas odoo.. you have to use standalone odoo..

contact me, if you need support for standalone odoo.

[2016-11-21 13:59] lukebranch commented on #14381
brilliant. That's fixed it, thanks!

[2016-11-21 14:09] qsm-odoo commented on #14148
Hello.
The issue mentioned in the last comment was fixed with commit https://github.com/odoo/odoo/commit/a2d05a7087cdeacf242873c75f7e1f11779e2024.
The "Mail Templates" menu will be moved in a future update to avoid confusion as they are not meant to be used for Mass Mailing creations anymore.

[2016-11-21 14:09] #14148 closed

[2016-11-21 14:22] nle-odoo commented on #14351
to solve the issue directly, you could get back to this point in community  https://github.com/odoo/odoo/commit/25888f41952e9b9f78fa493b906dfe458a410210 or if you don't use git applying the revert like this from odoo community root directory:

[code]

[2016-11-21 14:39] qsm-odoo commented on #13383
Hello,
We are aware that some of tips may overlap (even though I think this is the only case which exists). However, as you said, you discovered the problem on runbot, which is not a typical user case. The tip system was designed thinking about users which grow their odoo discovering the apps one at a time. The two tips which are overlapping here come from two different apps and would thus never o

[2016-11-21 14:39] #13383 closed

[2016-11-21 14:48] ehanuise commented on #1892
oh, ok... Any chances this get fixed on saas someday ? It's quite a problem :)

[2016-11-21 14:54] thomich commented on #1892
hey @ehanuise

see, this bug is open since aug 2014 and we just have made a fix, but seams odoo is not interested to implement or fix it in base..

go with your own odoo is best way to get fast fixes ;)..

[2016-11-21 15:18] davidtranhp commented on #14381
Great! Will this fix come to Odoo 10, @nle-odoo ?

[2016-11-21 17:51] antespi commented on #3922
For anyone waiting for a workaround on this, this could be useful.
The problem is related with ```pool._store_function``` dictionary. This disappears in v10, because is not used in new API fields. There is no way to remove specs in this dict, so if some addon adds one spec, other addon that inherits from it can't remove it.

@yvaucher, this is a tricky solution that you can use in you case (model:

[2016-11-21 18:04] joe1981alAPR commented on #14395
This PR #14420 should fix the issue.  Took the rule from another rule and added to the portal rule to allow portal users to access company partner records for companies that are assigned to them.

[2016-11-21 18:20] pedrobaeza commented on #3922
You should do that on _register_hook method, not on init, to avoid collisions on multi-DB instances.

[2016-11-21 19:38] antespi commented on #3922
```_register_hook``` is not working in this case, because modules are not loaded (and then ```_register_hook``` called) every time a new addon is installed when you install a list of addons, for instance, in travis test

[2016-11-21 21:27] filsav commented on #14400
I confirm this behaviour, Odoo Community 10.

[2016-11-21 21:47] JKE-be commented on #13378
Not user friendly, but you can translate it like that:

![ezgif com-6f766b90b1](https://cloud.githubusercontent.com/assets/4848797/20501946/4ce551fc-b03c-11e6-8127-4f2c9a642b19.gif)

[2016-11-21 21:47] #13378 closed

[2016-11-21 21:58] JKE-be commented on #13378
@Gorash Maybe an idea for new/next translation algo...

When you drop a snippet ( translated ), translation is not copy on the current page...

[2016-11-21 22:39] hugho-ad commented on #14373
@mart-e
There are more Malformed translations staments

https://github.com/odoo/odoo/blob/10.0/addons/account/i18n/es.po#L5393-L5394

[2016-11-21 23:15] aduijs opened #14421 "[v10 purchase&sales] email body empty when deleting template and write cutsom text"
Impacted versions:
10
Steps to reproduce:
make a quotation/sales order or request for quotation/purchase order and send to customer/supplier.
but instead of using the template, delete the text to write a more personal text.

Current behavior:
email are received but without a body text (blank)

Expected behavior:
the custom body text is displayed in the emails send

Video/Screenshot link (optional)

[2016-11-21 23:32] pedrobaeza commented on #3922
You have to do it manually for tests, like in https://github.com/OCA/server-tools/blob/464ccb6b59036ad38a55c649e1d2bc37e701481d/base_suspend_security/tests/test_base_suspend_security.py#L28, but it's the correct way to do it until v10.

[2016-11-22 02:15] micson1 opened #14422 "[9.0] Description not saved when creating/updating tasks"
Impacted versions: Version 9.0c-20161121

Steps to reproduce: Go to Project -> Create -> New task with description.

Current behavior: Description seems to be deleted/cleared when pressing save.

Expected behavior: Description should remain.

Video/Screenshot link (optional):

[2016-11-22 02:32] 7hunderbug commented on #14422
I was about to raise the same ticket. Confirmed for nightly build of 10.0-20161121 (Community Edition) also.

[2016-11-22 02:35] 7hunderbug commented on #14422
Apparently this bug has already been reported but not fixed yet? Duplicate of https://github.com/odoo/odoo/issues/14394 and https://github.com/odoo/odoo/issues/14351 apparently. Temporary fix at the bottom of issue thread https://github.com/odoo/odoo/issues/14351.

[2016-11-22 02:49] micson1 commented on #14351
The patch works - here is the correct command to run:

patch -p1 < <(curl 'https://github.com/odoo/odoo/commit/a6e3ae6b8c.patch')

[2016-11-22 03:33] 7hunderbug commented on #14351
The above patch doesn't work for 10.0 branch (or on my nightly 10.0-20161121 (Community Edition)) so I made a gist. A bit of a hack I know however, it can be applied from the odoo root directory with:
`patch -p0 < <(curl 'https://gist.githubusercontent.com/7hunderbug/0d100ce4e703dcbe9527dd2c468b0e64/raw/b46a8d9104e875c7e408a76b8a52d95f43f40c8c/Patch%2520for%2520Odoo%252010.0-20161121%2520%28Commun

[2016-11-22 04:27] gdgellatly opened #14423 "[10.0] Validation for search view - Bad code leads to unhelpful traceback on search views"
Impacted versions: 10.0

Steps to reproduce:
Create/edit a search view type
[code]
 as part of the search view.

Current behavior:
Module will be loaded without error (if in a module).
When accessing corresponding model - impossible to understand traceback for normal human.
![image](https://cloud.githubusercontent.com/assets/5093264/20510824/463b8dc0-b0d8-11e6-8aad-40ff48cff06e.png)

(Thats one ex

[2016-11-22 06:28] smorele opened #14425 "upgrade fullcalendar to 3.x version"
In odoo 10, fullcalendar is still in 1.x while the fullcalendar library exists in 2.x and 3.x.
Is there a wish to upgrade to 2.x or 3.x to get new functionnalities ? (ie. [scheduler](https://fullcalendar.io/scheduler/))

[2016-11-22 08:10] Yajo commented on #13378
That workaround is :hankey:, are you planning a real fix?

[2016-11-22 08:15] tony-elico opened #14427 "Cannot validate closing & post entries (POS)"
Impacted versions: version 10

Steps to reproduce:
Enable cash control

Current behavior:
After set closing balance, cannot validate closing & post entries

Expected behavior:
After set closing balance, need to able validate closing & post entries

Video/Screenshot link (optional):
![cannot validate closing post entries](https://cloud.githubusercontent.com/assets/20697345/20515944/dd744df8-b0ce-11

[2016-11-22 08:36] Yenthe666 commented on #13378
Hmm @Yajo,

While it isn't the best way (it is a quite big workaround) it does work.
On the other hand @JKE-be is there any chance it can get a slight improvement in usability? It is not ideal.

[2016-11-22 08:38] JKE-be commented on #13378
@Yajo, IMHO, No (not 'fix', but 'imp' in future version) ! The translation system in front end is based on the "Wysiwyg" concept.

You ask a workaround, I give it to you...
You can also use the back end, or duplicate the terms in page, translate it and remove term from page...

I'm not saying that it is the best way to do it, I just propose you a workaround while we improve the way to do it ( I do

[2016-11-22 08:46] Yajo commented on #13378
Yes, thanks for the workaround. But really it's very hard to train end users to do those kind of things. Chances are they will simply forget about it.

I think the engine should be a little bit "smarter" when translating qweb views: if a chunk of text matches another one found in a snippet, then use that translation by default.

In the moment you change a block's text, no smartypants features, but

[2016-11-22 08:50] pedrobaeza commented on #13378
Another workaround is to synchronize translations after inserting the snippet and it will get translated, but I think we are losing the focus on this...

The real problem is that all of these workarounds don't work when the website base language is not English. @Yajo, do you remember that it was what we faced?

[2016-11-22 09:02] JKE-be commented on #14425
Hello @smorele

We speak about, in the past, to migrate in v2...
But that required to rewrite all the web_calendar since v1/v2 was not compatible.

datejs -> momentjs, jqueryUI dropped, ...

So the task is probably already existing, but no resources now to do it :rage:

[2016-11-22 09:02] #14425 closed

[2016-11-22 09:04] smorele commented on #14425
to me, the most important project is to upgrade to jQuery 2.x which is a prerequisite.

[2016-11-22 09:19] Yajo commented on #13378
I think that is only a problem in v8, if I don't remember bad.

[2016-11-22 09:31] pedrobaeza commented on #13378
Yeah, that's true.

[2016-11-22 09:33] Motez opened #14428 "Small pie chart in dashboard"
Impacted versions: 9.0

Steps to reproduce: Add any pie chart to dashboard

Current behavior: Very small pie chart displayed

Expected behavior: a graph with more height

Video/Screenshot link (optional):

[2016-11-22 09:56] qsm-odoo commented on #14148
Commit https://github.com/odoo/odoo/commit/dff12736dbeae07af5ecd6e916ce72e03ec06c24 removed the menu to avoid confusion. Edition of mail templates from other modules can still be done thanks to the "Templates" menu in the Settings app.

[2016-11-22 10:16] antespi commented on #3922
The problem is not there, error appears when sale XML data for demo is loaded.

[2016-11-22 10:22] qsm-odoo commented on #14422
Hello.
Yes, the issues mentioned above are duplicates of this issue. The fix was merged in 9.0c yesterday and should thus be available everywhere for 9.0 today.
10.0 fix will land in the upcoming days.

[2016-11-22 10:22] #14422 closed

[2016-11-22 10:34] JKE-be commented on #14401
Hello, your asset common js is empty.
Try to install another module/upgrade a module or touch a file to regenerate it.

[2016-11-22 12:15] mart-e commented on #14373
@hugho-ad thanks for the correction !

[2016-11-22 13:06] nikosg5 commented on #14401
How can I install or upgrade a module without menu? Can it be done from command line?
Sorry if it is stupid question but I am new to odoo
Thank you in advance

[2016-11-22 13:10] JKE-be commented on #14395
.

[2016-11-22 13:11] JKE-be commented on #14401
`./odoo-bin -d office --db-filter=^office$ -u website`

[2016-11-22 13:27] JKE-be commented on #14428
Thanks, but no.

Courtesy of @mart-e

[2016-11-22 13:27] #14428 closed

[2016-11-22 13:32] #14334 closed

[2016-11-22 13:36] mart-e commented on #14427
What do you mean you cannot? The button is top left on your screenshot.

[2016-11-22 13:39] nikosg5 commented on #14401
![image](https://cloud.githubusercontent.com/assets/8676956/20525814/daa26682-b0c9-11e6-864b-c55ca98c2d18.png)

 I run the command as odoo user. Still empty screen :/

[2016-11-22 13:42] JKE-be commented on #14401
what are the 2 modules installed ? Custom modules ? seems like it crash the asset generation...
You can load the webclient withtout the asset via:  grispos.gr:8069/web/login?debug=assets

[2016-11-22 13:44] JKE-be commented on #14401
try ` -u web` , because website is not installed ... so no update :)

[2016-11-22 13:49] qsm-odoo commented on #14392
Hello, commit https://github.com/odoo/odoo/commit/131a16525e11edb2b9c64731fd014357abcd6f0f fixed the issue in the saas-11 version. This will be merged in 10.0 in the upcoming days.

[2016-11-22 13:49] #14392 closed

[2016-11-22 13:51] #14087 closed

[2016-11-22 13:57] nikosg5 commented on #14401
![image](https://cloud.githubusercontent.com/assets/8676956/20526346/53fb3e08-b0cc-11e6-90d1-ad94c12c78ba.png)

With the -u web seemed to work but at the end a get this error above. And it stucked at the database selection. The modules I have installed was Project. Nothing custom
Becasuse me setup is fresh maybe its easier to reinstall it? I have to delete files and databases?

[2016-11-22 14:09] JKE-be commented on #14401
yes, seems a problem of privilege with your databases now ! (https://www.odoo.com/documentation/10.0/setup/install.html#installing-dependencies)
Better is to follow the **tutorial** on the website [odoo.com/**documentation**](https://www.odoo.com/documentation/10.0/setup/install.html)

And if you have any questions about the installation, ask on the forum, this tracker is for issue only :/

[2016-11-22 14:09] #14401 closed

[2016-11-22 15:04] nim-odoo commented on #14158
For the record, I corrected the rates of your example to match the numbers. There was probably a confusion in the rate used since the invoice uses a date field, while a currency rate uses a datetime field (due to timezone). Anyway, I could reproduce on my end and the fix will land shortly.

[2016-11-22 15:50] nim-odoo commented on #14158
Fixed with https://github.com/odoo/odoo/commit/27b6d245e79cc0ae5cbd1cdc9ee1fe388075d333

[2016-11-22 15:50] #14158 closed

[2016-11-22 15:57] JKE-be commented on #13380
Sorry, missing your answer...
Do you have always the bug ?

[2016-11-22 16:45] qsm-odoo commented on #13119
Hello,
I tried on current 9.0c version and the version you mentioned but I was not able to reproduce the problem. Is this still an issue on your side ?

[2016-11-22 16:50] JKE-be commented on #13380
I cannot reproduce...
![image](https://cloud.githubusercontent.com/assets/4848797/20532962/2456edf4-b0dc-11e6-9f1f-b6ec66f6bd29.png)

[2016-11-22 17:22] tv-openbig commented on #1103
@jholze @Yenthe666: This critical issue still exists.

**Another impacted version :** V9.

**Expected (correct decimal separator):**
<img width="507" alt="bildschirmfoto 2016-11-22 um 18 14 53" src="https://cloud.githubusercontent.com/assets/8348598/20534000/e0b1b1e8-b0df-11e6-81d1-1772fe467f6f.png">

**Currently the separator is wrong:**
<img width="474" alt="bildschirmfoto 2016-11-22 um 18 14 33

[2016-11-22 21:41] lapagept opened #14441 "odoo-bin file is not available in odoo 10 community when downloading from odoo.com."
Impacted versions: 10

Steps to reproduce:

Download Odoo 10 community (source files) from one of these two places :
https://nightly.odoo.com/10.0/nightly/src/
https://www.odoo.com/fr_FR/page/download
Decompress the archive

Current behavior:
The file **odoo-bin** is not in the unarchived directory.

Expected behavior:
When I download Odoo 10 community from this address : https://github.com/odoo/o

[2016-11-22 22:12] moylop260 opened #14442 "10.0 fields.Binary: onchange('binary_field') get string u'1520 bytes' instead of binary base64 string"
Impacted versions: 10.0

Steps to reproduce:

1. Create a fields.Binary: `my_file_bin = fields.Binary()`
2. Add a onchange method:
[code]

Current behavior:
`self.my_file_bin: u'1520 bytes'`

Expected behavior:
`self.my_file_bin: {{base64_decode_string}}`

Video/Screenshot link (optional):
![screen shot 2016-11-22 at 4 14 32 pm](https://cloud.githubusercontent.com/assets/6644187/20544202/7622ba9a-

[2016-11-23 00:51] voland-666 commented on #13975
Answering my own question after some weeks. Running odoo as a uwsgi app, you may need to raise memory limits. The relevant parameters I set were

limit-as        = 512
reload-on-as    = 384
reload-on-rss   = 192

Setting them as follows happily fixes the problem:

limit-as        = 768
reload-on-as    = 512
reload-on-rss   = 256

Thanks to everyone who helped with this

[2016-11-23 00:51] #13975 closed

[2016-11-23 01:43] tony-elico commented on #14427
Dear Martin Trigaux

         The problem is when i  click the button of top left,  there is no response.

------------------
TONG LIN YUN [ERP                                               Functional consultant]
                              Skype: tonglinyun2016. Phone: + 86 139 1895 0128(Cell), + 86 21 6211 8017 (Office)
             Elico Shanghai (Hong Kong/Shenzhen/Singapore)
Odoo Gold Partn

[2016-11-23 07:22] Yenthe666 commented on #13975
Thank you for answering and closing your own report!

[2016-11-23 08:15] Yenthe666 commented on #14427
Hi @tony-elico,

I've just tested this on the latest Odoo 10 and it works without any problems.
Can you try reproducing the issue on an official Odoo instance please? (runbot.odoo.com)

Regards,
Yenthe

[2016-11-23 08:28] ashkulz commented on #5177
wkhtmltopdf [`0.12.4`](http://wkhtmltopdf.org/downloads.html#stable) has been released, which should contain the fix for this issue. Please report back if it is not solved with the above version.

[2016-11-23 08:29] mart-e commented on #14427
I tested it too, it requires you to configure a gain or loss account on the POS cash journal (error message if not configured) but it works well in v10.
Please update your code and check il nothing could catch this error.
Closing as can not reproduce but if you have proper steps to reproduce, let me know and we can reopen.

[2016-11-23 08:29] #14427 closed

[2016-11-23 08:55] mart-e commented on #14442
Hello,

Try printing `self._context` in your method. My guess is that you have the `bin_size` key in it.
It is a parameter to do especially that (maybe by default in the web client, not sure)

[2016-11-23 08:55] tony-elico commented on #14427
Dear ODOO

          What's you mean ''configure a gain or loss account on the POS cash journal''?
I tested it on runbot10, it can close the session, but it also not set gain or loss account
please refer the attachment.

------------------
TONG LIN YUN [ERP                                               Functional consultant]
                              Skype: tonglinyun2016. Phone: + 86 139 1895

[2016-11-23 09:03] mart-e commented on #14427
@tony-elico the attachment do not work when replying by email, you should do it using github interface.

I am talking about these accounts on the cash journal
![screenshot from 2016-11-23 10-02-52](https://cloud.githubusercontent.com/assets/564822/20555786/1962cbf6-b164-11e6-8422-00cb6438e34a.png)

[2016-11-23 09:11] wilbyang commented on #13808
I have the same issue. It appears on Chrome, but looks fine with Firefox Browser

[2016-11-23 09:15] tony-elico commented on #14427
Dear

         We are mention the same that Profit account and loss account,  both i assign value to Profit account and loss account or keep NULL for Profit account and loss account, i cannot close my session.   but it can close the session on runbot10. may be some other settings is wrong of my own environment?

------------------
TONG LIN YUN [ERP                                               Fun

[2016-11-23 09:27] Yenthe666 commented on #13808
I've just tested this and face the same issues. @KangOl any update on this? Quite an annoying problem..

[2016-11-23 09:52] mart-e commented on #14427
Yes, check your logs. make sure you are using up to date source code and do not have custom modules that may disturb the closing

[2016-11-23 10:20] tde-banana-odoo commented on #11568
Related branch landed in community at https://github.com/odoo/odoo/commit/94d2b97da4af28c551d246f14347f7674c4d50f5 .

[2016-11-23 10:44] sle-odoo commented on #14441
```odoo-bin``` is only present at the root dir for convenience when working with a clone of the repository. If you download the source package and you run ```python setup.py install```, it'll create a ```odoo``` executable in your path. It's the only thing we want for packages.

If you don't want to install it but still run it from the source package, just execute ```python setup/odoo```.

[2016-11-23 10:44] #14441 closed

[2016-11-23 10:45] lonelysun opened #14445 "[9.0]About class named ir.actions.act_window and it's field named groups_id"
Hi,
recently，i want to control the url's action, and i find that the action is the most important point.
i find a class named 'ir_actions_act_window',it have a field named 'groups_id'.i google a lot to find the effect about the 'groups_ids',but i don't have any result.
hope someone can answer.
thx.

[2016-11-23 11:04] Yenthe666 commented on #14427
and if you still face an issue then please make an help topic on the official help forums (help.odoo.com), there are plenty of people who can help you there.

[2016-11-23 12:04] fdelapena commented on #13808
I guess it is not browser related, it happened to me with Firefox here. The point is once you remove the first database created before trying again, it won't fail in the second attempt.

[2016-11-23 12:14] #13119 closed

[2016-11-23 12:14] #14249 closed

[2016-11-23 12:18] #9673 closed

[2016-11-23 13:32] cmayo opened #14449 "[10.0] Inherit model doesn't override field definition"
Impacted versions: 10

Steps to reproduce:
I've created a module with the following code to inherit the `product.product` model and override the existing `standard_price` field definition to set it as a compute field:

    class ProductProduct(models.Model):
        _inherit = 'product.product'

        standard_price = fields.Float(
            'Cost', company_dependent=True,
            digits=d

[2016-11-23 15:15] nim-odoo commented on #14410
Solved in https://github.com/odoo/odoo/commit/aa7d1ab9d1b14a68e421ee254d31d3eb6ef04207

[2016-11-23 15:15] #14410 closed

[2016-11-23 15:17] SAFAD opened #14451 "XML code from "building a module" causes module installation to fail"
Impacted versions:
10.0
Steps to reproduce:
Follow the "Building a Module" Documentation until ["View inheritance"](https://www.odoo.com/documentation/10.0/howtos/backend.html#view-inheritance)
Current behavior:
Module crashes on installation with the following error :

AssertionError: Element odoo has extra content: data, line 2

I tracked the issue down to this part of code from views/partner.xm

[2016-11-23 16:15] JKE-be commented on #7118
I cannot reproduce !
If you can reproduce it on v8, v9 or v10, please open a new ticket and ping me.

[2016-11-23 16:15] #7118 closed

[2016-11-23 16:17] JKE-be commented on #9683
I cannot reproduce !
If you can reproduce it on v8, v9 or v10, please open a new ticket.

[2016-11-23 16:17] #9683 closed

[2016-11-23 16:19] JKE-be commented on #14451
hello @SAFAD

Can you provide your complete xml.
Seems like the bug is on the second line :/

[2016-11-23 16:22] #13788 closed

[2016-11-23 16:22] #13702 closed

[2016-11-23 16:33] JKE-be commented on #13374
Thank for reporting,

Commit in staging

[2016-11-23 16:33] #13374 closed

[2016-11-23 16:59] bealdav opened #14452 "Module can be uninstalled even if you don't click to uninstall them"
### Impacted versions: V10 (tested on runbot), and V8 at least (I think all versions)
A closed tab in your browser can bring you to uninstall any module

### Steps to reproduce:
- goto runbot v10
- goto module lunch (or any module) in form view
- duplicate previous form view in an other tab
- click on Uninstall button: uninstall wizard confirmation appears
- close the tab
- goto cloned tab
- refre

[2016-11-23 17:38] adeptex commented on #13812
Hi JKE-be,

Our systems dept did an update to the latest Version 8.0-20161117 and I can confirm that Open Redirect vulnerability still exists:

`POST /web/login HTTP/1.1
Host: odoo.domain.com
Content-Type: application/x-www-form-urlencoded
Content-Length: 120

db=dbname&login=name@domain.com&password=secret&redirect=http://google.com`

This will redirect to Google after login. The redirect paramet

[2016-11-23 19:28] Yenthe666 commented on #14452
@mart-e and @mart-e it is not a normal case but it has a MAJOR impact if you should ever run into this. Can we look for a fix as soon as possible?

[2016-11-23 19:31] luienper commented on #14392
thanks

[2016-11-23 20:44] moylop260 commented on #14442
I updated the description and I share the module with the problem:
https://github.com/moylop260/fields-binary-test/blob/master/binary_test/models/models.py

[2016-11-23 21:25] SAFAD commented on #14451
The first and second lines are simply odoo and data tags, all the other codes is just for window actions and menu links which would *work* if i remove the code above.
As i said I isolated the issue with the code above

[2016-11-24 00:36] JKE-be commented on #13812
Hello

Open redirect is not a security issue, and in this case we want this behaviour !

Thanks...

[2016-11-24 02:13] ryansturmer commented on #14097
I have observed this on the latest - not easily to reliably reproduce.

[2016-11-24 03:37] gpothier opened #14453 "Error in parameters to action_pack"
Impacted versions: v8

In the stock addon, in static/src/js/widgets.js, the action_pack method is called with an incorrect ids parameter (it gets a list whose first element is the list of ids, instead of just the list of ids):

Current:

                    .call('action_pack',[[[self.picking.id]], pack_op_ids])

Should be:

                    .call('action_pack',[[self.picking.id], pack_op_ids])

[2016-11-24 07:55] mart-e commented on #14442
Thanks for the module, easier this way indeed. However, with your module, I get

```2016-11-24 07:54:29,620 8704 WARNING 10e odoo.addons.binary_test.models.models: The binary file is? ZZZ kB?: 'IyAtKi0gY29kaW5nOiB1dGYtOCAtKi0KCnEg```

So maybe another module adding the `bin_size` in the context?

[2016-11-24 08:28] mart-e commented on #14452
Hi @Yenthe666 and @Yenthe666 ! ;-)

Thanks @bealdav for the report. You are right, so far, when pressing the uninstall button, the modules are put in "to uninstall" state and only the "cancel" button stops this process. This is why it is written in the wizard:

However, I know, people don't read warning messages, and some will close the window (even though this is a rather odd). So it could defini

[2016-11-24 08:36] Yenthe666 commented on #14335
Hi @woei66,

Thanks a lot for your report!
I've just tested this on the latest Odoo 9 but cannot reproduce this issue. Can you please try it again on a runbot (runbot.odoo.com) or update your Odoo to the latest source code?
If you can still reproduce it then please comment again and ping me, then we'll look further.

Regards,
Yenthe

[2016-11-24 08:36] #14335 closed

[2016-11-24 08:51] ploegvde commented on #14166
Can this be merged please?

[2016-11-24 09:21] Derter commented on #14054
Still waiting for answer here, thanks.

[2016-11-24 11:37] yajo opened #14458 "[IMP][master] The web.Dialog API should use a form in its widgets to have native HTML5 validation"
Impacted versions: 9, 10

Current behavior: If you try to extend any dialog widget to have a form that includes native validation, you need to subscribe your resolution methods to the form's `submit` event, that will only get fired when form is valid. However all core implementations are [inputs outside a form](https://github.com/odoo/odoo/blob/10.0/addons/web/static/src/xml/base_common.xml#L6-L17

[2016-11-24 12:33] adaptivdesign commented on #13380
Ok I will try to dig deeper into this, see if I can still produce this.

[2016-11-24 13:58] hurrinico opened #14461 "Problem with Contact Details Page"
Impacted versions: 9.0

Steps to reproduce:
 - Install website_portal module
 - Go to sale, Open partner linked to to your user, Fill street field save
 - Go to website, click on your user name on the right-top of the page, click on my account and click change near your name on the left.
 - Now watch the form

Current behavior:
You will see Company Name div filled with street field

Expected behav

[2016-11-24 14:00] SAFAD commented on #14451
it appears the fault is on my hands
odoo sometimes has mixed use between *id* and *name* in records, I have switched `name="partner..."` to `id="partner..."` and the bug disappeared
Silly me!

[2016-11-24 14:00] #14451 closed

[2016-11-24 14:56] sbidoul commented on #13401
@simongoffin how was this resolved? We are facing the same issue.

cc/ @chrisdec @JonathanNEMRY

[2016-11-24 15:04] treviser opened #14462 "[www.odoo.com]Forum moderation: Unable to delete/close post waiting for validation"
Impacted versions:

Actual instance www.odoo.com after the update this afternoon

Steps to reproduce:
Try to delete posts waiting in the validation queue

Current behavior:

When deleting a post waiting in the validation queue, the post seems to be deleted directly, but the windows for closing posts and specifying a closing reason does not appear. After a refresh, the post reappears in the validat

[2016-11-24 15:07] JonathanNEMRY commented on #13401
cc @Olivier-LAURENT

[2016-11-24 15:36] Yenthe666 commented on #14462
Hi @treviser,

Thanks a lot for your report! I've just tested this and this is indeed a bug.
@JKE-be could you fix it please?

Regards,
Yenthe

[2016-11-24 15:39] simongoffin commented on #13401
@sbidoul

https://github.com/odoo/enterprise/commit/2d49b40181e48aa84338ecc7e5bf4a49f882272b

[2016-11-24 15:48] JKE-be commented on #14462
Meaculpa,

Broken by my commit #5c11310

I fix it asap...

[2016-11-24 16:11] qdp-odoo commented on #14054
I would have confirmed the bug, if I would have had reproduced the bug...

but I tested your use case, on the latest v9, and the SO is computed like the invoice. Maybe it has already been fixed in a recent patch?

Can you try to reproduce on runbot?

[2016-11-24 16:13] qdp-odoo commented on #14054
Sorry, actually I can reproduce it -_-.

let me reopen that

[2016-11-24 20:44] ddfs commented on #14449
did u check if there is another module overrides the same field?

[2016-11-24 20:58] cmayo commented on #14449
No other module override this field. I've tried it also in a new installation

[2016-11-24 21:14] isluismarlon commented on #14332
Thank you @luienper for putting this out. Same thing happened to me. I cannot see all the future events I have planned for 6 years ahead. Please let us know as soon as you have found something. Thanks

[2016-11-24 22:03] Jmvc2406 opened #14466 "The required version of setuptools (>=1.4) is not available"
Impacted versions: install odoo 10

Steps to reproduce:
$ pip install -r requirements.txt

Current behavior:
    Complete output from command python setup.py egg_info:
    The required version of setuptools (>=1.4) is not available,
    and can't be installed while this script is running. Please
    install a more recent version first, using
    'easy_install -U setuptools'.

    (Currently using

[2016-11-24 22:58] sibuxiang commented on #11020
Same bug is happening in Odoo v10 with latest Firefox 50

[2016-11-25 00:39] thiago95macedo opened #14467 "Erro ao inserir avatar em usuário cadastrado. / Error inserting avatar into registered user."
Impacted versions: v10

Steps to reproduce: Erro ao inserir avatar em usuário cadastrado. / Error inserting avatar into registered user.

Current behavior:

Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 675, i

[2016-11-25 01:12] thiago95macedo commented on #14467
Solução! / Solution!

sudo apt-get install libjpeg-dev

sudo ln -s /usr/lib/i386-linux-gnu/libjpeg.so /usr/lib/
sudo ln -s /usr/lib/i386-linux-gnu/libfreetype.so.6 /usr/lib/
sudo ln -s /usr/lib/i386-linux-gnu/libz.so /usr/lib/

pip install --no-cache-dir -I pillow

reboot

[2016-11-25 01:12] #14467 closed

[2016-11-25 07:06] nickaceph commented on #14351
Thanks @7hunderbug this works for me. Ubuntu 16.04 Odoo 10 community

[2016-11-25 08:22] JKE-be commented on #14462
Fixed by commit odoo/odoo@4fa39c0e1994ffeffb8937f935634aa29e523da8

Thanks for reporting

Will be deployed today

[2016-11-25 09:32] eLBati commented on #14461
Fixing with https://github.com/odoo/odoo/pull/14473

[2016-11-25 09:33] eLBati commented on #11619
@slevenhagen @odony please see https://github.com/odoo/odoo/pull/14473

[2016-11-25 12:08] mbcosta opened #14474 "[8.0] Delay between Date of Stock Move and Datetime of Product Price History"
Impacted versions: 8.0

Steps to reproduce:
    There is a possible problem related to delay between field Date in Stock Move and the field Datetime in Product Price History, in mostly time the two dates are equals but on production server could happen an delay. For example:
        The stock move has the date 2016-10-10 14:21:53
        and this stock move create the Product Price History in

[2016-11-25 14:07] LoicAlba opened #14479 "Uninstall one2many field"
Impacted versions: 9.0

Steps to reproduce:
Create a new module with 2 classes :
- First class ("project.link") created in module. This class contains a Many2one field to "project.project"
- Second class inherited on existing class "project.project" and got a One2Many field to "project.link"

Current behavior:
On uninstall of module, an error occurs :
"The field 'project.link.from_project_id' cann

[2016-11-25 14:58] JKE-be commented on #14466
@sle-odoo

[2016-11-25 14:59] JKE-be commented on #14461
Thanks for the reporting.

Duplicated of:
https://github.com/odoo/odoo/issues/2541
https://github.com/odoo/odoo/issues/11619
https://github.com/odoo/odoo/issues/12541
https://github.com/odoo/odoo/issues/12590
https://github.com/odoo/odoo/issues/13198

It has been by design, until v10, to avoid the duplication of res_partner.

In v10 it has been updated, using a real field company_name instead of s

[2016-11-25 14:59] #14461 closed

[2016-11-25 15:31] JKE-be commented on #14449
why use company_dependent=True ?

That will search the value in another model !

[2016-11-25 15:46] sle-odoo commented on #14466
It seems that suds-jurko has a dependency to setuptools and setuptools cannot be installed in this context by pip.
There's not much we can do, you can open a ticket on their bug tracker or just upgrade your version of setuptools (debian jessie packaged one is the 5.5 version, yours seems outdated).

[2016-11-25 15:46] #14466 closed

[2016-11-25 16:21] qdp-odoo commented on #14054
Well... actually, after a bit of researches, it appears that we already refused to consider this behavior as a bug.

The problem is related to the 'round globally' method, and we already had a lot of discussions to remove completely that option. So far we kept it, because people wanted it but nowadays maybe it would be different if we'd ask again.

If you use tax included, you cannot use round glo

[2016-11-25 16:21] #14054 closed

[2016-11-25 16:23] Yenthe666 commented on #14054
Oh, I'm sorry I didn't know that @qdp-odoo. Is this documented somewhere however?

[2016-11-25 16:48] konstantinkonstantinovbgo opened #14481 "Unknown field product_variant_count in domain [["product_variant_count","<=",1]]"
Impacted versions:
- 9.0
Steps to reproduce:

1. Inventory -> Settings

Products and check
Products can have several attributes, defining variants (Example: size, color,...)

Click on "Engeneering infos"

2. Create a new product from menu Inventory -> Products

Current behavior:

Uncaught Error: Unknown field product_variant_count in domain [["product_variant_count","<=",1]]

Expected behavior:

O

[2016-11-25 18:02] wtaferner commented on #14054
@qdp-odoo @Yenthe666
Well, I am sorry that I think that you try to push it away, but it could eventually be resolved (I don't say it is a bug as it is just not mature enough yet)
https://github.com/odoo/odoo/pull/8427 has a clear path to it although it needs acceptance of the issue first...and round globally is crucial for net calculation of taxes. So a combination and more configuration levels ar

[2016-11-25 20:13] gdgellatly commented on #14054
Round globally is a legal requirement in Australia for ex tax, and best
practice in NZ. It does not need a lot of configuration changes for the
simple case.  If round globally and incl tax then round per line.

We find that for supplier systems matching we need to set per supplier this
setting.

On Sat, 26 Nov 2016 7:02 AM Wolfgang Taferner <notifications@github.com>
wrote:

[2016-11-26 03:52] dansanti opened #14485 "[9.0] Website Visual editor not save if there are a snippet with a svg tag"
Impacted versions:
9.0

Steps to reproduce:
1.-  make some snippet for website
2.- add a svg tag like
``
`<section class="snippet_class"> <svg  x="0px" y="0px" width="100%"><defs><linearGradient id="svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" class="gradient-bottom-color1"></stop><stop offset="50%" class="gradient-bottom-color2"></stop><stop offset="100%" class="gradient-bott

[2016-11-26 15:57] minhyk opened #14486 "The text is not fully display in menu after translated to Vietnamese"
Impacted versions: Odoo v.10

Steps to reproduce: after translated to Vietnamese

Current behavior: the text is not fully display (see the attached screenshot)

Expected behavior:

Video/Screenshot link (optional):

![odoo error](https://cloud.githubusercontent.com/assets/9673656/20641496/907dc172-b42b-11e6-9f71-80ce16e8a0df.png)

[2016-11-26 17:27] sidick43 opened #14487 "Singleton Odoo 9"
Traceback (most recent call last):
  File "D:\openworkspaceodoo9\odoo9\odoo\openerp\http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\openworkspaceodoo9\odoo9\odoo\openerp\http.py", line 680, in dispatch
    result = self._call_function(**self.params)
  File "D:\openworkspaceodoo9\odoo9\odoo\openerp\http.py", line 316, in _call_fun

[2016-11-27 14:57] qupro commented on #14054
Regardeless of "Round globally" use, this is still an issue since using round per line result in bad calculation, no?.

Here is another example with round per line, 5 decimals and 21% TAX (journal with TAX not included in price) , and Odoo v9
![calculation error](https://cloud.githubusercontent.com/assets/5942916/20649155/9a005d94-b4b8-11e6-9dad-11b4b68bb123.png)

[2016-11-27 16:14] wtaferner commented on #14054
@gdgellatly
Right, it is just the way how it is computed and the law is normally not giving you the right to decide yourself most of the times. Anyway, for the most use cases, and if you do not mix or are not forced to mix, it works (there are some corner cases which should be tackled and I hope that these will be respected at some point)

@qupro
What is wrong in your example? At least I do not ge

[2016-11-27 16:52] qupro commented on #14054
Sorry, wrong image, this is the good one:
![calculation error2](https://cloud.githubusercontent.com/assets/5942916/20649816/dc653268-b4c7-11e6-9214-eff845753361.png)
2 x 1,21 x 1,652900 = 4.000018 , but it should be rounded to 4.00, not to 4.01

P.D.: I am trying to get an entire number for final price without  using "tax included in price"  option in tax, and I dont want use it for this reason ht

[2016-11-27 17:23] gdgellatly commented on #14054
No that is not correct. You are first rounding the ex tax subtotal. Tax
works on either line or overall subtotals rounded to their precision. Then
tax is added.  So 3.31 x 1.21

On Mon, 28 Nov 2016 5:52 AM qpro <notifications@github.com> wrote:

[2016-11-28 04:01] zarzarsan28 commented on #8674
sudo ln -s "$(which nodejs)" /usr/bin/node
sudo apt-get install -y nodejs
sudo npm install -g npm

Install Less and accessories:
sudo npm install -g less less-plugin-clean-css

[2016-11-28 04:29] wtaferner commented on #14054
@qdp-odoo @nim-odoo @gdgellatly
As I was thinking about solutions for this issue (global vs. round per line) and I was lately into some fixes of ```compute_all``` where actually all the magic happens, I think it would be possible to put the configuration of round globally/round per line on the tax itself and make the computation therefore consistent and more flexible (not sure why it was never tri

[2016-11-28 07:03] gdgellatly commented on #14054
You can do it in an addon easily enough. I'll post my supplier tax module
tomorrow for v7 and link it here as example.

On Mon, 28 Nov 2016 5:29 PM Wolfgang Taferner <notifications@github.com>
wrote:

[2016-11-28 07:27] wtaferner commented on #14054
@gdgellatly
Ok great, in case it is generic enough, although I believe this should be fixed and provided by the core as stated and consistently used over the whole system imho.

I also have done a [module](https://github.com/wt-io-it/odoo-addons/tree/8.0/account_fiscal_position_rounding) which was handling this via fiscal position in v8 but it is not generic enough and there was the overhaul of ac

[2016-11-28 07:34] nim-odoo commented on #14054
It's fixed in master with https://github.com/odoo/odoo/commit/4dcf54e23f8b796396660fd7d4ab33897ef40e12

Since it requires a change in the field type (Monetary -> Float), it was not introduced in v9 or v10.

[2016-11-28 07:39] wtaferner commented on #14054
@nim-odoo
True for the already closed issue, but not true for the underlying other issues...sorry for kidnapping the issue a bit, but actually Quentin mentioned the global rounding to be discussed for removal ;-)

[2016-11-28 08:48] Yenthe666 commented on #14487
Hi @sidick43,

Thanks for your report. It however looks like the issue that you're facing is regarding custom development (gestion_pv) module.
This error is telling you that you're looping over a recordset why your code requires a record. If you still face this issue please create an help question on the official forums (help.odoo.com) and add the code there, then people can help you further.
I'm

[2016-11-28 08:48] #14487 closed

[2016-11-28 09:17] #10081 closed

[2016-11-28 09:17] #12777 closed

[2016-11-28 09:17] #12419 closed

[2016-11-28 10:38] cmayo commented on #14449
I've tried to change the field definition like this `standard_price = fields.Float('Cost', compute='_compute_set_standard_price')` and still doesn't work.

[2016-11-28 12:26] mcb30 opened #14493 "Duplicate parent_left / parent_right values"
Impacted versions:

All

Steps to reproduce:

Create a new top-level package in each of two concurrent transactions, then commit both transactions.

Current behavior:

We are finding that Odoo is occasionally creating duplicate parent_left/parent_right values in stock.quant.package, which breaks the nested set model.

We suspect that this problem is arising from a race condition in which two concu

[2016-11-28 12:28] mcb30 commented on #14493
@rco-odoo: I suspect this issue may require your attention.

[2016-11-28 12:34] Leif0 opened #14494 "Importing CSV file : database ID"
Hi,

I have an issue with Odoo 8. I'd like to use the database ID when importing, and it's working fine BUT it doesn't detect the column automatically.

When using "line_id/account_id/id" as the column header, it selects "Entries / Account / External ID", and I'd like to select Database ID instead.

Is there any way to do so? I've tried multiple column headers but can't find the solution

Thank yo

[2016-11-28 13:33] germanbarrientosmora commented on #14135
Hey edersolis which one was that module being auto-installed?

[2016-11-28 15:28] rco-odoo commented on #14493
@odony can you have a look at this?

@mcb30 from what I understand, both transactions insert a new row in the table and then update the columns `parent_left` and `parent_right` in their respective row. As the new records have no parent, we should fall in this case https://github.com/odoo/odoo/blob/10.0/odoo/models.py#L3926.

The last `UPDATE` query from the first transaction modifies `parent_right

[2016-11-28 15:36] mcb30 commented on #14493
On 28/11/16 15:28, Raphael Collet wrote:

It looks as though Odoo never uses "serializable":

   https://github.com/odoo/odoo/blob/10.0/odoo/sql_db.py#L317

In the "repeatable read" isolation level, which it seems that Odoo uses,
there will be no predicate lock as a result of the MAX(parent_right) and
so nothing to prevent the second transaction from committing.

Michael

[2016-11-28 15:54] moylop260 opened #14497 "8.0 - [base] Groups XML ID shouldn't consider for translations"
Impacted versions:
8.0

Steps to reproduce:
1. Connect to last odoo 8.0 runbot build http://runbot.odoo.com/runbot/1/8.0
2. Go to Menu -> Settings -> Translations -> Import/Export -> Export Translation
3. Choose english language, PO file format, Sales Management in modules to export and press Export button.
4. Open the file generated and search
[code]

Current behavior:
The sentences [`<attribute

[2016-11-28 16:24] rco-odoo commented on #14493
@mcb30 you are right, we use "repeatable read" instead of "serializable" for performance reasons.

Together with @odony we have found a possible way to prevent concurrent inserts inside the table, which is the origin of the bug. Before the three UPDATE queries at https://github.com/odoo/odoo/blob/10.0/odoo/models.py#L3931, add
[code]

We have tested it by hand on a database, and it seems to work a

[2016-11-28 16:29] odony commented on #14493
@mcb30 In addition, we agree that a UNIQUE constraint/index on `parent_left` and `parent_right` is necessary, but we need to guard it with the explicit locking as shown by @rco-odoo. Otherwise when the race condition occurs one of the transactions will crash instead of being automatically retried as it should.

[2016-11-28 16:59] mcb30 commented on #14493
On 28/11/16 16:25, Raphael Collet wrote:

That should work (assuming that the code goes in both _create() and
_write()), but will block any other updates to the whole table until the
transaction completes, including updates that do not modify
parent_left/parent_right.  Is there a viable solution that is less
disruptive to other transactions?

Thanks,

Michael

[2016-11-28 17:01] moylop260 commented on #14497
FYI @mart-e

[2016-11-28 17:08] pabloveintimilla commented on #1198
Same question. how is the status for v10 ?

[2016-11-28 18:09] blaggacao opened #14499 "[V10] MO qty update traceback"
Impacted versions:
Latest Runbot
Steps to reproduce:
https://youtu.be/oI03heLbwlA

Current behavior:
When I want to adjust produced quantity to account for unforeseen underproduction and make the MO closable, a traceback of forbidden mathematics rises, when the remaining quantity to produce becomes 0. (= adjust MO to account for underproduction)

Expected behavior:
Should work without the workarou

[2016-11-28 19:18] alexsandrohaag commented on #13505
I confirm the same problem on trying to use my zoho account.

[2016-11-28 19:26] AEK-BKF commented on #14400
same with me
:+1:

[2016-11-28 19:39] AEK-BKF commented on #14400
Ok I've found the solution ^^ (Sorry I'm newer in Odoo)
Just activate your currency to appear in the list :)

[2016-11-28 23:33] nhomar opened #14500 "10.0"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-11-28 23:33] #14500 closed

[2016-11-28 23:40] nhomar opened #14501 "[10.0] account_tax_cash_basis: Amount set to 0"
Impacted versions:

10.0

Steps to reproduce:

- Set properly the taxes to use tax cash basis
- Set a different account for paid and received tax (not sure if related).
- Make an invoice and pay it (one for customer and one for supplier both have the problem).

Current behavior:

- Tax cash basis journal Items in 0.

Expected behavior:

- Properly set the journal items with the expected amounts.

[2016-11-29 00:48] nhomar commented on #14501
as an extra information, those are the only modules installed the one in the video.

[2016-11-29 01:03] nhomar commented on #14501
I am paying invoices from the payment button.

Reproduced in runbot:

![](http://screenshots.vauxoo.com/nhomar/Selection_077.png)

[2016-11-29 01:08] nhomar commented on #14501
Paying with bank statements achieve the same result:

![](http://screenshots.vauxoo.com/nhomar/Selection_078.png)

[2016-11-29 04:58] gustavovalverde opened #14502 "[10.0][9.0] Checks can't be Cancelled or Voided - Journal Items are not reverted"
Impacted versions:
9.0 and 10.0
Steps to reproduce:
1. Create a Payment with the "Check" option
2. Print the Check
3. Cancel it

Current behavior:
After a check being cancelled, it's supposed to be VOIDED, and it should not be reused. And additionally its Journal Items should be reverted, not just disappear.

Expected behavior:
Have a Voided/Cancel state for Check payments. As some checks might be

[2016-11-29 06:57] treviser commented on #14462
@JKE-be  It happens again.

[2016-11-29 07:14] Yenthe666 commented on #14462
Yup, same behaviour as before.

[2016-11-29 07:16] lukebranch commented on #14160
@tarteo @DipaliKhatri ,

Thanks for all your comments. The issue is now resolved. It seems your suggestions were both correct to resolve my issue.

@tarteo ,

It seems you were right. I've removed all but the default addons from my addons path, so it's obviously something in my own custom addons directories that is causing this behaviour. I have not had time to single out the exact one causing the

[2016-11-29 07:16] #14160 closed

[2016-11-29 07:38] Yenthe666 commented on #14160
Hi @lukebranch,

Thanks for notifying me about this. I've actually encountered something like this a few weeks ago too and it had to do with the manifest.py file too.
@mart-e I'm not sure if we can handle this better/cleaner? 👍

[2016-11-29 09:19] rco-odoo commented on #14275
@lmignon I will try to make all those calls to `invalidate_cache` more specific (invalidate some fields/records only).

[2016-11-29 09:27] lmignon commented on #14275
@rco-odoo Thank you for taking care of this one. It's really an annoying bug.

[2016-11-29 10:00] ploegvde opened #14506 "[IMP] P&L reporting enterprise version"
Impacted versions:
- v19
Steps to reproduce:
- This is not a bug, but a question how we can best propose a improvement on the Dutch Enterprise reporting app (l10n_nl_reports).

Since version 10 we have a new COA (see https://github.com/odoo/odoo/commit/2eecf81a0e1c5b0dac224125abe9d1c8f0164ff9#diff-9055a672f7201a3a7f0a708edc6b30e7)

In this new COA are tags set on the P&L accounts. Those are perfec

[2016-11-29 10:15] tangramor opened #14507 "config.settings tables are emptied by scheduled action"
Impacted versions:
8.0

Steps to reproduce:
1. Create a simple module with res_config.py
[code]
and view definition my_config.xml:
[code]

2. Deploy it to odoo 8
3. Add a configuration
3. Wait for 1 hour

Current behavior:
The new configuration is cleared after 1 hour and in the table my_config_settings there is not record left

I enabled the full log of postgresql, and found following SQL which d

[2016-11-29 10:27] Yenthe666 commented on #14506
Hi @ploegvde,

It is always positive to see somebody trying to change and improve things, so thank you for that!
If I understand this correctly you want to make a PR that makes the COA tags and the PL accounts match up with eachother? Could you give us a bit more details?
@qdp-odoo think we could start a little discussion about this here?

Regards,
Yenthe

[2016-11-29 10:28] thomas15v opened #14508 "[9.0] model method calls itself"
Impacted versions:
9.0

Steps to reproduce:
Create a method like this in any model:

[code]

Current behavior:
The create method gets executed 2 times.

Expected behavior:
It would be more performant that it only get called once.

Video/Screenshot link:
https://youtu.be/JbP_JnHQOHM

[2016-11-29 10:46] ploegvde commented on #14506
What i mean is this.

In the P&L report we have a cost section. The sub of the cost can be split by the group of cost per tag.

See the image, where you can see that the Cost (Kosten) has a sub of Employee cost (Personeelskosten). That employee cost is now a tag set on de Dutch default COA on several accounts, but are not used in reporting.

The goal is to make sub totals on the account tag, so th

[2016-11-29 10:58] Yenthe666 commented on #14506
Thanks for the extra info. Sounds like a really good idea to me, who doesn't like more detailed accounting reports. @qdp-odoo would you consider accepting this or not?

[2016-11-29 11:03] ploegvde commented on #14506
Thanks. If we do not do it, then there is no use in adding tags to the accounts. The are there to do reporting ;)

[2016-11-29 11:18] simahawk commented on #13193
@JKE-be I'm experiencing this issue and I double checked that I have your [fix commit](https://github.com/odoo/odoo/commit/97b702a7b085485b15dfcd3973941cf6dd3f2b55) in my local checkout.

Here's the original image

![ie_odoo_good_original](https://cloud.githubusercontent.com/assets/347149/20707322/41efd94e-b62b-11e6-818d-2d36f7c84d29.png)

and here is the resized version (that works fine on ubuntu

[2016-11-29 12:10] omalbastin opened #14513 "currency amount and currency symbol are wrong in account journal dashboard"
Impacted versions:9.0

Steps to reproduce:create a new bank/cash journal with currency other than company currency. Then receive any payment in that currency.

Current behavior:In the  journal dashboard, for that new journal, amount will be showed in company currency but the currency symbol will be showed in journal currency

Expected behavior: should show amount in journal currency.

Video/Screen

[2016-11-29 14:13] rco-odoo commented on #14493
@mcb30 indeed, the statement `LOCK TABLE ... IN SHARE MODE` prevents any concurrent update in the given table. Ideally you would like to lock only the columns `parent_left` and `parent_right`, but in PostgreSQL you can only lock rows or the whole table. So this will indeed restrict concurrent creations on models with the `parent_left`/`parent_right` trick.

Note that it is actually enought to put

[2016-11-29 15:22] yucer commented on #11802
Sorry for the late feed-back.

That's not the behavior that I see in  v8.0 nor in v10.0. The trick doesn't work neither. Where have you seen those behaviors? It is from a community version ?

It is easy to verify. Just log a message at the begin of the [update_list](https://github.com/odoo/odoo/blob/dece72d010e23c88bdf5b2a1ace6ff0df2b2732f/odoo/addons/base/module/module.py#L597) method, like this:

[2016-11-29 15:38] edsersolis commented on #14135
@germanbarrientosmora hello German. We have set our scripts to download some repositories from some of the big Odoo developers, and we had included the one from Smile, and if I don't bad recall it was called smile_base which was forcing French language by default and also blocking all the e-mails.

[2016-11-29 15:49] JKE-be commented on #13193
Hello, Can you host this image (or send by mail to JKE@0D00.C0M)

Thanks

[2016-11-29 15:55] simahawk commented on #13193
@JKE-be you got mail

[2016-11-29 16:01] JKE-be commented on #13193
sorry, It was looking for your coca cola picture (the original image)

[2016-11-29 16:05] simahawk commented on #13193
![cocacola_original](https://cloud.githubusercontent.com/assets/347149/20717512/ff19eac6-b655-11e6-9d48-ed7200ca518a.jpg)

There you go :)

[2016-11-29 16:14] JKE-be commented on #13193
hello @simahawk

I cannot reproduce your issue.

Can you confirm on this instance that you don't see the iMac img ?
http://183062-9-0-21148f-all.runbot10.odoo.com/shop

Thanks

[2016-11-29 16:18] yucer commented on #11802
Mmm... I see the problem. You are right, the method is called every time the user try to upgrade a module. But only if the user interface is used, because the method is called from [button_upgrade](https://github.com/odoo/odoo/blob/dece72d010e23c88bdf5b2a1ace6ff0df2b2732f/odoo/addons/base/module/module.py#L532)

When the command line is used the method is called [directly](https://github.com/odoo/

[2016-11-29 16:29] simahawk commented on #13193
@JKE-be hmm I see it... could be related to a buggy image lib in the system? or corrupted image on upload?

[2016-11-29 16:31] JKE-be commented on #13193
can you try to upload your picture yourself (because that github upload convert the picture :/) on runbot and check if you got the bug or not.
(When you upload the picture, use the no-optimization mode (sub menu) to be sure to don't convert it )

[2016-11-29 16:34] JKE-be commented on #13193
Maybe you should take a look in odoo/tools/mimetypes.py...
[code]

[2016-11-29 16:35] sodabuzz opened #14519 "many2many_tag widget not underlined when required field"
Impacted versions: Noticed on 9.0 Enterprise

Steps to reproduce: Use the widget many2many_tag and set the field as required

Current behavior: Not displayed as a required field

Expected behavior: The filed would be displayed with an underline

Video/Screenshot link (optional):
![bug001](https://cloud.githubusercontent.com/assets/10454279/20718784/256bf03a-b65a-11e6-9213-d5f14f95c326.png)

[2016-11-29 17:44] odony commented on #14493
@mcb30 The patch will indeed block other updates on the table, but in real life this should rarely happen. We typically only use the "parent storing" option on heavily-nested hierarchical master data, such as stock locations. Such master data is rarely updated/inserted, ands it's supposed to be done only by the person in charge, so it should not be done concurrently (even when imported in batch).

[2016-11-29 19:43] edsersolis opened #14523 "[v9] Credit and Debit are wrong for Passive Account Types"
**Impacted versions:** only tested in 9.0c

**Steps to reproduce:** Create a Vendor Bill with any amount, then do a payment of any amount and later print a Balance Sheet. (Tried with Account Types: Receivable and Liability (both act the same))

**Current behavior:** Debits are adding and Credits are deducting the Balance for Passive Account Types..

**Expected behavior:** Credits should add and De

[2016-11-29 22:02] #14523 closed

[2016-11-29 22:03] gdgellatly commented on #14054
@wtaferner

This is our code for rounding per supplier.  It expects round globally set as company policy, but you get the idea, just intercept precision and adjust.

[code]

[2016-11-30 01:46] dsabrinarg commented on #5777
@michaeljohn32 FYI issue solved by Odoo on the following [commit](https://github.com/odoo/odoo/commit/a5f186c1580b7a67cbf7c2d929533a7b06e144b6)

[2016-11-30 03:14] websiteduck commented on #13808
I ran into the same problem except deleting the database (using /web/database/manager) and creating a new one does not fix the issue for me.

[2016-11-30 03:46] tangramor commented on #14507
I reproduced this problem on a fresh database with newest 8.0 code, with Accounting and Finance module enabled.

It took 1 hour after I deployed my config module, and I monitored following deletion SQL in PostgreSQL log:
[code]

[2016-11-30 07:43] mart-e commented on #14497
Hello,

This has already been changed in 9.0 (starting at 2eb257ff944abc4d170275102b6be15300f2b3a6) but it is not trivial at all (implied other changes) so we can not simply backport this to 8.0, it is too risky and would break existing view translations.

The solution in 8.0 is to put `translation="off"` on every attribute where a term should not be translated.
I have removed the terms at adb12f9

[2016-11-30 07:43] #14497 closed

[2016-11-30 08:30] tangramor commented on #14507
Tried on v9.0, did not reproduce...

[2016-11-30 09:14] simahawk commented on #13193
I'll have a look, thanks

[2016-11-30 09:44] JKE-be commented on #14462
Cannot reproduce... are you sure ?

[2016-11-30 10:13] JurreCl commented on #10959
Its still missing in odoo 10. Is there any reason this is removed?

[2016-11-30 10:15] JurreCl opened #14530 "[10] Adding default stages to project is removed"
Impacted versions: 9, 9E, 10

Steps to reproduce: Go to project --> Settings --> Stages --> Stage

Current behavior: The option to make a stage default in a new project is removed

Expected behavior: Expected the button to be there.

Video/Screenshot link (optional):
See issue #10959

Main concern is that the project module will keep adding new (and possible duplicate stages) when defining a new p

[2016-11-30 10:40] Yenthe666 commented on #10959
Hi @JurreCl,

This was actually a decision made by Odoo and I don't think they want to change it again..
@mart-e could you give an official statement though?

[2016-11-30 10:50] mart-e commented on #14530
Hello,

Why do you create a duplicate? Please let's keep the discussion on one issue if it is the same

[2016-11-30 10:50] #14530 closed

[2016-11-30 10:54] mart-e commented on #10959
Hello,

Indeed, the default was removed at 8c1d1f5ce1ad1a1d85c2286b5e5a220a8d609321.
We have changed the way the stages works and rely on the sequence to specify the first stage.

[2016-11-30 10:54] #10959 closed

[2016-11-30 10:55] Yenthe666 commented on #14530
For those who should ever find this topic and want to know what the 'original' topic was.. you can find it here: https://github.com/odoo/odoo/issues/10959

[2016-11-30 11:25] edsersolis commented on #14523
Note for those who may read this issue:Odoo does its calculations correctly as it has always done. This issue was created by a misunderstanding customer who took the liberty of using my unattended computer. We have taken action and I apologize.

[2016-11-30 11:29] edsersolis commented on #14502
Current behavior with this is that when canceling it moves the check back to draft. This can be right but after a 'void' stage as @gustavovalverde says and only possible if the check was never printed out.

[2016-11-30 11:39] JKE-be commented on #14462
?

[2016-11-30 12:10] Yenthe666 commented on #14462
The validation process doesn't work anymore. You cannot delete/close a topic anymore on the forums.

[2016-11-30 12:51] CarlosPascual commented on #14200
@aek
I am not an expert but this worked for me, I changed price_total for price_subtotal in the qWeb report under:
Reports/Invoices/Viewsreport_invoice_layouted
Feel free to contact me if you need some help.

Original
[code]

Change

[code]

[2016-11-30 13:36] dreispt commented on #10959
@JurreCl there is an OCA module restoring that feature:
https://www.odoo.com/apps/modules/9.0/project_task_default_stage/

[2016-11-30 13:37] mart-e commented on #14284
Thanks for the precision. Indeed, checking `== 0` may be an issue for some floats.
If you have a scenario when you can reproduce this issue, I can accept a patch changing the compare to `float_is_zero`.

[2016-11-30 13:45] mart-e commented on #13654
I think @qsm-odoo and @ged-odoo are best suited for this :)

[2016-11-30 13:54] mart-e commented on #12550
Hello,

After some discussion with @antonylesuisse it is quite tricky. It is definitely not something we will change in stable as too risky and even in master, we are a bit afraid of the side effects and performances.
Pinging @rco-odoo, how difficult/risky would that be?

[2016-11-30 14:59] odony commented on #8585
I believe this issue can be closed now, as the original bug has been fixed upstream as of releases [9.3.14](https://github.com/postgres/postgres/commit/6c243f90ab6904f27fa990f1f3261e1d09a11853) and [9.4.9](https://github.com/postgres/postgres/commit/166873dd0c3083884ed16ce17f29f67ac8a64641), and [9.5.4](https://github.com/postgres/postgres/commit/649dd1b58b90754c67be86e99bd3af1bc3ab2c99).

Althoug

[2016-11-30 14:59] #8585 closed

[2016-11-30 15:10] moylop260 commented on #14497
Thanks for reply
I got it

[2016-11-30 15:11] yucer commented on #11648
I have published a sample [module](https://github.com/yucer/odoo-examples/tree/8.0_company_dependent_mig) with migration scripts, to show one possible way to deal with this, until an official or community solution is found to this topic.

Please read the [README.md](https://github.com/yucer/odoo-examples/blob/8.0_company_dependent_mig/README.md) from the repo, and the [description of the module](h

[2016-11-30 15:18] blaggacao commented on #14284
@mart-e Ui, that's quite something you are asking for in this context. The problem is I could not even replicate it on the same infrastructure (google cloud) after a timely limited occurrence. I suppose they temporarily switched to another hardware with different floating point arithmetic (legacy processing power in peak hours?)... So this would end up looking fo a hardware with floating point ari

[2016-11-30 15:46] JKE-be commented on #14462
I have just try now, and without problem :/

can you chec network to see if you got a 500 or smthing else?

[2016-11-30 16:21] pvoo commented on #9363
Having the same issue, is there any reason not to merge this?

[2016-11-30 16:54] Yenthe666 commented on #14462
Hi @JKE-be,

I've just double checked this and it is still not fixed. The page returns 200 (OK) and no issues bubble up.
![image](https://cloud.githubusercontent.com/assets/6352350/20762242/06ce9ef8-b726-11e6-8383-9ecfbc301fb2.png)

[2016-11-30 17:13] oHigelin opened #14534 "Wrong relationship between external IDs and product model."
Impacted versions: 9.0c-20161117

Steps to reproduce:
After importing all my products from csv file, I need to import inventory using external IDs of the products I have imported.
Import return Missing Error exception on last external IDs of my products (not the one from beginning).

Current behavior:
After investigation in model, and mostly in ir_model_data table where all external ID are stored,

[2016-11-30 17:57] JKE-be commented on #14462
Code always not updated on the prod :) That can explain why ;)

[2016-11-30 17:57] #14462 closed

[2016-11-30 18:06] hugho-ad opened #14535 "[10.0] Traceback with email template including a report and wkhtmltopdf not installed"
**Impacted versions:**
10.0

**Steps to reproduce:**
Odoo js enviroment, has  kind of [global var](https://github.com/odoo/odoo/blob/fc2e80cb4bcc450762c7ac5cb82a3e2d88062b38/addons/report/static/src/js/qwebactionmanager.js#L14) which is updated when the page is refreshed or only one time when a `ir_actions_report_xml` event is triggered, that var contains the wkhtmltopdf status

To reproduce the e

[2016-11-30 19:14] gdgellatly commented on #14534
Try SELECT * FROM product_product WHERE product_tmpl_id=20664, although if
you decided not to import your product.product csv that could also be a
problem.

It is a bit confusing since product templates got renamed products and
products got renamed variants or some such name, but importing products is
actually product templates.  Probably your best bet is to just export your
actual products (varia

[2016-11-30 20:23] elevationO opened #14536 "Business intelligence report does not list months in order 9.0e"
Impacted versions:
9.0e
Steps to reproduce:
Accounting>reporting>business intelligence>invoices
Current behavior:
Lists group by months out of order, tested in runbot
Expected behavior:
List month in order
Video/Screenshot link (optional):

[2016-11-30 20:38] gdgellatly opened #14537 "Calculation of taxes and subtotals on invoices should be invariant"
Impacted versions:  All Current

Steps to reproduce:
With Product Price precision set to 5 and subtotal precision set to 2 the following is not true
(price_unit * discount) * quantity == price_unit * discount * quantity

The reason for this is on lines such as
https://github.com/odoo/odoo/blob/10.0/addons/account/models/account_invoice.py#L629
https://github.com/odoo/odoo/blob/10.0/addons/account/

[2016-11-30 22:40] mgielissen opened #14538 "Messages under projectform are missing [10.0]"
message_ids field in project form is removed in version 10.0?

Code below is from v9, using this code restores the messages under projectform

                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers" help="Follow this project to automatically track the events associated to tasks and issues of this project." groups="base.group_user"/>

[2016-11-30 23:24] #6905 closed

[2016-12-01 03:38] matt454357 opened #14539 "[10.0] Error on validate customer invoice"
**Impacted versions:** 10.0

**Steps to reproduce:**
Using product [E-COM12] Self Build:
1. Set Product Type = Stockable Product
1. Set Invoicing Policy = Delivered Quantities
1. BOM Type = phantom
1. Set Product Category Costing Method = Real Price
1. Set Product Category Inventory Valuation = Perpetual
1. Create Sales Order for product [E-COM12] Self Build
1. Validate delivery
1. Create Invoice

[2016-12-01 04:21] lukebranch commented on #8585
@odony ,

Thank you!

[2016-12-01 04:51] spadae22 commented on #8585
@odony +1

[2016-12-01 07:20] oHigelin commented on #14534
Many thank for your answer.

I can hear you about your query: **SELECT * FROM product_product WHERE product_tmpl_id=20664**
This is the query that should be in import module linked to the product, but obviously it is not !
I will find a solution by "cheating" on IDs. I will certainly use a mapping between external IDs and internal IDs and create import files using internal IDS which will be safer.

[2016-12-01 07:48] mycobraking opened #14542 "Can't create Inventory Adjustments under multi-company"
Impacted versions:
v10
Steps to reproduce:
add Inventory
add new company COM1 , COM2
add users u1@ under COM1 , u2@ under COM2
Current behavior:
u2@ can't create Inventory Adjustments
if u2@ change to default company My Company will can.
Expected behavior:
Create Inventory Adjustments
Video/Screenshot link (optional):

[2016-12-01 08:08] gdgellatly commented on #14534
It's not a bug. The model relation hasn't changed since v5. It's just your
understanding of it. It's a bit confusing but nothing is actually wrong.

On Thu, 1 Dec 2016 8:20 PM oHigelin <notifications@github.com> wrote:

[2016-12-01 08:13] gdgellatly commented on #14542
It sounds like lack of configuration on second company like inventory
accounts, locations etc. You really need to give more detail.

On Thu, 1 Dec 2016 8:49 PM mycobraking <notifications@github.com> wrote:

[2016-12-01 08:32] rco-odoo commented on #14493
@mcb30 @odony after deeper testing and analysis, it turns out that the locking solution does **not** fix the issue: I was able to run two transactions that create records with the same (parent_left, parent_right). The lock only reduces the probability of the issue to occur, but it does not prevent it.

I am now considering a unicity constraint on the columns `parent_left`, `parent_right`. It will

[2016-12-01 08:32] mycobraking commented on #14542
1. Create new db ,
2. Add new companies name is COM1 , COM2
3. Add new users , user one under COM1 , user two under COM2
4. Add INVENTORY app and apply for tow users
5. login user one or two , then go into Inventory Control -> Inventory Adjustments
6. CREATE :

7. when change one user under to My company (default) then is ok

[2016-12-01 08:46] mart-e commented on #14284
Well, a patch like 4cfe3e0178db470344054ff503f492a6964b6c5b (not merged) could theoretically do the trick but this line is there for 1.5 year so my guess is that it is not so frequent issue. Also maybe changing this line is not enough or the rounding could be fixed more efficiently somewhere else.
I am not very keen about merging patches for theoretical issues without being able to make sure it ac

[2016-12-01 10:28] simongoffin commented on #14338
Closed with a433ae65cb2c31a278980588c865d4f351612878

[2016-12-01 10:28] #14338 closed

[2016-12-01 10:31] Cedric-Pigeon commented on #14338
@simongoffin Thanks

[2016-12-01 10:51] gdgellatly commented on #14542
Multi company generally needs a bit of config. Installing modules and just
working is really just single company although even then only at a basic
level.

Your error indicates you haven't configured the second company warehouse.

On Thu, 1 Dec 2016 9:32 PM mycobraking <notifications@github.com> wrote:

[2016-12-01 11:56] Yenthe666 commented on #14538
Hi @mgielissen,

Thanks for the report! Quite a good catch there.
@mart-e I don't think this was intended on purpose. Can we add it again?

[2016-12-01 11:59] mart-e commented on #14538
No it is intended, I already answered on the mailing list where the question was asked :)

https://www.odoo.com/groups/community-59/community-21697041?mode=thread&date_begin=&date_end=

[2016-12-01 11:59] #14538 closed

[2016-12-01 12:00] Yenthe666 commented on #14538
Oh, now that is a shocker.. I actually liked it. Okay thanks.

[2016-12-01 12:10] anandgodavarma opened #14546 "Save attachment to system folder along with database"
Impacted versions:
7
Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2016-12-01 12:17] Yenthe666 commented on #14546
Hi @anandgodavarma,

Please create an issue with a detailed description, otherwise we cannot help you.
Also note that Odoo V7 is no longer supported for bug fixing.

Regards,
Yenthe

[2016-12-01 12:17] #14546 closed

[2016-12-01 12:25] anandgodavarma commented on #14546
I have created system parameter with 'ir_attachment.location' and value 'file"///filestore'
but when I am adding an attachment it does not saving to system folder

[2016-12-01 12:25] anandgodavarma commented on #14546
I used this link http://snippetbucket.com/2014/06/webdav-openerp/

[2016-12-01 12:30] suriyaJaay opened #14547 "Any idea to do this in MEAN stack?"
hi team,

have any ideas to create this app in MEAN stack in future.?

as per documentation it really hard to understand.

Thank you

[2016-12-01 12:33] Yenthe666 commented on #14547
Hi @suriyaJaay,

What are you actually asking? It is not clear to me what you want. If you're talking about mean.io and to integrate Odoo in FullStack: nope, that will not happen.

Regards,
Yenthe

[2016-12-01 12:38] qdp-odoo commented on #14501
based on the vido, I confirm this is a bug. I'll check that

[2016-12-01 12:41] AEK-BKF opened #14549 "Odoo Community /Entreprise"
Hi all,

I'm working at a company over 400 employees, and I've a mission to install Odoo. So, I've some questions before I start the development :
1 - Which version should I use ?
2 - Community or Enterprise ?
3 - Is Enterprise Edition source code easy to edit ?
4 - Can I use Odoo Entreprise for free without non-free apps ?

Thanks.

[2016-12-01 12:46] suriyaJaay commented on #14547
thanks for the response. what am trying to asking is that you have any  idea about recreate this same app on node and angular ? thats it. now confirmed. there is no idea from your side.

but onething need to say. its really damn awesome man. this is what am trying to create personally. !!
 all the best
thanks man

[2016-12-01 13:00] mycobraking commented on #14542
I think program default  warehouse to WH , and I can't find and edit it within setup . so I want any one try it. thanks.

[2016-12-01 13:21] Yenthe666 commented on #14547
Hi @suriyaJaay,

Making the shift from the current system to the FullStack would be quite a big change and quite a lot of work. @mart-e can you confirm it will not be done?

Regards,
Yenthe

[2016-12-01 13:21] #14547 closed

[2016-12-01 13:28] Yenthe666 commented on #14549
Hi @AEK-BKF,

Thanks a lot for your report. The Github tracker however is for bugs, not for asking questions or anything that is not bug related.
The best thing to do is to create a new topic on the help forums (help.odoo.com), where there are plenty of partners and people that can help you answer this!

1 - Which version should I use ?
=> The best is to probably use Odoo 10, this is the newest ve

[2016-12-01 13:28] #14549 closed

[2016-12-01 13:31] AEK-BKF commented on #14549
Thanks a lot @Yenthe666  and sorry for the bad place of my question, you can delete it :)

[2016-12-01 13:51] Yenthe666 commented on #14549
Hi @AEK-BKF,

No problem, you're welcome. Closing the issue is enough, best of luck with Odoo!

Regards,
Yenthe

[2016-12-01 13:58] mart-e commented on #14547
Yes I confirm we won't rewrite Odoo in node (I want to ask, why would you want to do that? :scream: )
And keep in mind that the value of Odoo is not only on its framework (maybe you can make it again in a different tech) but in the business code which would take an enormous amount of work.

[2016-12-01 14:11] AEK-BKF opened #14552 "Odoo 10 Creation new module"
I tried to create new module via this command :
`odoo-bin scaffold mylodule addons`
but I got ths error :
_bash: odoo-bin: command not found..._

I can't find odoo-bin !

[2016-12-01 14:22] Yenthe666 commented on #14552
Hi @AEK-BKF,

This question should be for the help forum too. 😉
Are you in the correct location? You should be in the folder where the odoo-bin.py file can be found.
You can then trigger the scaffold with:
`./odoo-bin scaffold mymodule addons`

Regards,
Yenthe

[2016-12-01 14:22] #14552 closed

[2016-12-01 15:59] #1103 closed

[2016-12-01 15:59] #11553 closed

[2016-12-01 16:16] captnbp commented on #13140
+1, same issue with Odoo9 and Odoo10 from Docker images.

[2016-12-01 21:59] dreispt commented on #14549
@AEK-BKF I strongly advise you to find experts in your country and discuss your needs with them. Even if you decide to implement it yourself, you will have a plan B.

[2016-12-02 02:26] tangramor commented on #14507
I have found the root cause...

I copied and modified the code from the official code to create my res_config.py, but I did not notice that in all the official code of res_config.py, they use os_memory object, and this kind of object will be cleared by scheduled action "AutoVacuum osv_memory objects"

So I just changed my res_config.py to following and this problem fixed:
[code]

[2016-12-02 02:26] #14507 closed

[2016-12-02 05:33] anandgodavarma commented on #14546
Please dont close the issue

[2016-12-02 07:09] Yenthe666 commented on #14546
Hi @anandgodavarma,

The Github tracker is for bugs in the official code. You're having questions about how to use the filestore and store images, that is something for the Odoo help forums (help.odoo.com).
Please post your question there, there are plenty of people to help you there.

Regards,
Yenthe

[2016-12-02 07:37] Yenthe666 commented on #13140
@sle-odoo any update on this one?

[2016-12-02 07:45] sle-odoo commented on #13140
@Yenthe666 the [MANIFEST.in](https://github.com/odoo/odoo/blob/9.0/MANIFEST.in) is just missing a ```recursive-include openerp *.xls```. I'll fix this soon.

[2016-12-02 07:58] treviser commented on #13450
@mart-e @Yenthe666 Any news on this?

[2016-12-02 08:02] treviser commented on #14462
Bump...

[2016-12-02 08:18] Yenthe666 commented on #13140
@sle-odoo I made a PR to fix this in 9.0, so it can also be forwarded to 10.0
See https://github.com/odoo/odoo/pull/14558

[2016-12-02 08:20] Yenthe666 commented on #13450
Hmm @treviser this is one I can't personally answer but @mart-e and @JKE-be I think you guys can.

[2016-12-02 09:16] mart-e commented on #13450
Hello,

I am not sure to get the issue. The problems lies in the fact that you have a conflict with the db filter and the name of the restored database?
I tested and got no issue as long as I put a name for a non-existant db.

Or do you get a "Database name already exists" error specifying a name that do not exists at the sql level?

Please gives more info like your filter and the names you are us

[2016-12-02 09:55] treviser commented on #13450
@mart-e
Using the /web/database/manager it is not possible to restore a database which already exists. One has to delete the database first, before it is possible to restore it. This is not a real issue without dbfilter or as long as you have only one database. You just delete the corresponding database using the database manager and you are ok. But when you have dbfilter active in a productive en

[2016-12-02 10:16] mart-e commented on #13450
Right, I see. I think there is a misunderstanding in the terminology.
We mean "restore" in the way "recreate from backup" but you understand "restore" as "replace".

This feature could make sense but it is not what the restore button is intended.
Maybe we can find a different term that clarify this.

[2016-12-02 10:31] treviser commented on #13450
@mart-e The discussion about the terminology might be of academic interest, but as soon as you have an Odoo deployment using dbfilter properly set up, you loose the ability to restore a database without taking a whole Odoo instance completely offline.

[2016-12-02 10:44] mart-e commented on #13450
To sum up:

- changing the behaviour of the "restore" button to drop the db if it exists
=> not going to happen

- clarifying the name of the button
=> why not

- adding a new button to do so
=> new feature, could be useful for the maintenance indeed but need to be clear on what it will do, need a new wizard to explain

Also, on production environment, we usually not use this wizard to restore a b

[2016-12-02 10:54] treviser commented on #13450
Thanks for the summary.
The first bullet was my intention. The second is nice, but does not help :-)

[2016-12-02 12:16] JKE-be commented on #7963
Yes, it is in v10

[2016-12-02 12:16] #7963 closed

[2016-12-02 12:53] matthieujoossen opened #14567 "[9.0, 10.0] Bcc email address visible"
Impacted versions: 9.0, 10.0

It seems that there is a problem Python smtp librairy with Bcc in sending email (http://stackoverflow.com/questions/31065998/python-smtplib-bcc-issue).
I tested the proposed solution replacing in addons/base/ir/ir_mail_server.py file line:
`smtp.sendmail(smtp_from, smtp_to_list, message.as_string())`
by:
`message_str = '\n'.join([l for l in message.as_string().split('

[2016-12-02 13:47] elperrofarelo opened #14571 "[Odoo 10] Expense move wrong reconciled"
Impacted versions:
10
Steps to reproduce:
Employee claim for more than one expense.
submit for approval
manager prove it
accountant register the payment

Current behavior:
Problem 1: The expense report only shows one move (account_move_id) for one expense, not for all of them.
Problem 2: The Journal entry is only reconciled with one move.

Expected behavior:

Video/Screenshot link (optional):

[2016-12-02 13:54] sle-odoo commented on #13140
fixed in 4aed1e1747591a2218005837f99b2cf8d8e21343
thanks for the reporting *and* the fix :)

[2016-12-02 13:54] #13140 closed

[2016-12-02 13:56] adrienpeiffer opened #14572 "[10.0] Decimal separator option in CSV import doesn't work"
Impacted versions:

10.0

Steps to reproduce:

See https://youtu.be/riU6rg0ANHQ

Current behavior:

During an import on product and supplierinfo, the decimal separator option in CSV import doesn't work

Expected behavior:

Decimal separator on CSV import should work.

Video/Screenshot link (optional):

https://youtu.be/riU6rg0ANHQ

[2016-12-02 13:58] adrienpeiffer commented on #14572
OPW 695837

[2016-12-02 14:07] JKE-be commented on #14494
Hi @Leif0,

This tracker is for bugs with Odoo, please use forum.odoo.com for this kind of question...

About your question, you should be able to use "invoice_line/account_id/.id" to force to use the database_id instead of external_id.

Best regards

JKE

[2016-12-02 14:07] #14494 closed

[2016-12-02 15:41] JKE-be commented on #14572
Until now, the parsing is only done on float from the current model.
That need to be fixed/improved.

Thanks for the reporting

[2016-12-02 18:07] innovo3d opened #14575 "Google Calendar Sync Issue Error"
Impacted versions:
Version 9.0c (Community Edition)

Steps to reproduce:
Install Google Calendar App, configure according to instructions in General Settings, go to Calendar tab, Sync with Google

Current behavior:
produces this error:
Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/parts/odoo/openerp/http.py", line 648, in _handle_exception
    return super(JsonRequest, sel

[2016-12-02 22:32] JKE-be commented on #14575
Hello
Check That you have the last odoo code ...
Else you can also update the package Python datetime ! That will fix this error...

[2016-12-02 22:37] innovo3d commented on #14575
Do you mean dateutil?

This is what I have:
root@odoo-v9:~# dpkg -s python-dateutil
Package: python-dateutil
Status: install ok installed
Priority: optional
Section: python
Installed-Size: 216
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Architecture: all
Version: 1.5+dfsg-1ubuntu1
Depends: python (>= 2.7), python (<< 2.8), python:any (>= 2.7.1-0ubuntu2),
tzdata
Descriptio

[2016-12-02 22:56] JKE-be commented on #14575
Yes dateutil sorry

[2016-12-02 23:01] JKE-be commented on #14575
Take a look here: https://github.com/odoo/odoo/commit/9f09c625f5163ef98ee308ea1bd7cb2004ef1f03

[2016-12-03 02:51] jorsea opened #14577 "[10.0c]Can not create inventory adjustment in multi-company mode?"
Impacted versions:
Version 10.0c (Community Edition)

Steps to reproduce:

Configuration of the two companies A and B, A is the initial system of the company, B is a new company, B's parent company is A.

Current behavior:
Can not create inventory adjustment in the B company?

Expected behavior:

Video/Screenshot link (optional):

I found the problem, please confirm:

 Location_id field definition

[2016-12-03 07:19] #14575 closed

[2016-12-03 09:04] treviser commented on #10500
![menu_350](https://cloud.githubusercontent.com/assets/1814941/20858209/d25f867a-b93f-11e6-9f21-492c2e6c2a87.png)

[2016-12-03 12:22] collex100 commented on #14299
Not really no one of this error? On the product pages and blogs do not work data entry fields.

By clicking on the "Subscriptions" button in the panel Developer error:
web.assets_common.js:3022 Server application error {"message":"Odoo Server Error","code":200,"data":{"debug":"Traceback (most recent call last):\n  File \"/usr/lib/python2.7/dist-packages/odoo/http.py\", line 638, in _handle_excepti

[2016-12-03 12:58] p711 commented on #6556
This has not been fixed yet, so it affects Odoo 10 as well. Basically Google OAuth does not work properly if you secure Odoo by putting it behind an SSL-enabled proxy like nginx.

[2016-12-03 13:32] nhomar commented on #1198
Almost all this topic was solved in v10 and v9.0 the best way is test and if something is not solved yet comment it here.

@qdp-odoo you should close this issue if is ready I think

[2016-12-03 13:45] JKE-be commented on #14535
Yes, but in which use case you saoule uninstall wk, and continue to use an existing session ?

I think that when you uninstall postresql, that will be the same... à traceback...

Wont fix

@sle-odoo :)

[2016-12-03 15:51] lslaz1 opened #14579 "QuotaExceededError on Safari Private Browsing Window"
Impacted versions: Safari Version 9.0.3, Odoo V 9.0

Steps to reproduce: Open Safari private browsing window, log in to an Odoo db

Current behavior: After logging in a pop up appears with error:

`QuotaExceededError: DOM Exception 22: An attempt was made to add something to storage that exceeded the quota.`

Expected behavior: Log in directs you to Odoo backend without error.

Video/Screenshot li

[2016-12-04 00:12] JKE-be commented on #14508
Cannot reproduce...

[2016-12-04 00:12] #14508 closed

[2016-12-04 14:27] p711 commented on #9880
This issue is still present in 10.0

[2016-12-04 16:20] lefas commented on #5599
Me too look for set volume with 6 digits decimal for m2.

[2016-12-04 17:55] AEK-BKF opened #14581 "Odoo 10 : blank page on localhost:8069"
I've installed Odoo 10 on Centos7, created database and logged in successfully.
But no thing displayed !! just blank page ! what's the mistake ?

[2016-12-04 19:59] gustavovalverde commented on #14166
I can't understand why simple localization fixes takes so long to be merged.

[2016-12-04 20:07] AEK-BKF commented on #14581
Ok I found the problem, just clear firefox history !

[2016-12-04 20:07] #14581 closed

[2016-12-05 06:14] armbakri opened #14583 "Odoo9 Community Manual Reconicliation"
Impacted versions: 9

Steps to reproduce: When i entry my partner open balances though jounal entry , i cann't reconcile those open balances with customer payments

Current behavior: there is no manual reconcilition menue

Expected behavior: Reconcile The Partner payment with it's balances from journal entries like invoices

Video/Screenshot link (optional):

[2016-12-05 07:21] p711 commented on #9880
The fix is to change the Validation URL to `https://graph.facebook.com/me?fields=id,name,email,picture` without the access_token (it will be automatically filled in by Odoo). Unfortunately Odoo does not copy the profile picture. I Haven't checked why.

[2016-12-05 07:45] Yenthe666 commented on #14166
@mart-e another ping 💎

[2016-12-05 08:21] #14166 closed

[2016-12-05 08:22] mart-e commented on #14166
Thanks, fixed at b431e1822620d2c32a9342e78f5408c9771e7549

[2016-12-05 08:52] JKE-be commented on #14299
Hi @collex100

The traceback is because the input email is removed by a sanitizer (the bug from your first message), so the controller don't find the email to parse.

[2016-12-05 08:58] elperrofarelo commented on #14571
I see that the problem is being solved in the new versions.

[2016-12-05 09:31] #2064 closed

[2016-12-05 09:33] #1949 closed

[2016-12-05 09:36] treviser commented on #10500
![menu_358](https://cloud.githubusercontent.com/assets/1814941/20880048/a38fad82-bad6-11e6-8f69-fdf78651dd05.png)

[2016-12-05 09:43] elperrofarelo commented on #14571
The Problem 2 is still there: The Journal entry is only reconciled with one move ((account_move_id)) not with all of them

[2016-12-05 09:50] AWDGroup commented on #10296
+1

[2016-12-05 11:03] #2752 closed

[2016-12-05 11:42] mart-e commented on #14391
Hello,

Sorry but this button was removed at 0650047fd59bd5fb28e2ba5f1c9bb47a95295980 in 10.0 to promote backend reports.

[2016-12-05 11:42] #14391 closed

[2016-12-05 15:41] MusstafaA commented on #8194
Any solutions?

[2016-12-05 15:51] #14499 closed

[2016-12-05 16:17] myworking82 opened #14594 "odoo10 new issue by incoming email"
Impacted versions: 10

Steps to reproduce:
1. I need automated create new issue from incoming email on specific project
2. Which template of in email i have to used, which tags?

Current behavior:
When i put "Fetch Now" on my Setting -> Email -> "Incoming Mail Server" i got only new email and odoo admin change tags him self

Expected behavior:

Video/Screenshot link (optional):

[2016-12-05 17:07] moylop260 commented on #14535
@JKE-be
I think that you are mixing apples and oranges.
If you uninstall postgresql you don't have a traceback from UX. In fact, you won't start odoo server.

If you uninstall wkhtmltopdf you can start odoo server and you won't have a traceback from UX if you print the report. Good!

But if you use `send email` button you will see a traceback from UX

[![IMAGE ALT TEXT](http://img.youtube.com/vi/I

[2016-12-05 17:19] collex100 commented on #14299
On the product page and blog, do not display any field. For example, the module https://apps.odoo.com/apps/modules/10.0/html_form_builder/ has the same problem.
And other modules that have fields that need to fill.
This is a mistake somewhere in the product page and blog.
Guys, tell me how to deal with this error?

[2016-12-05 17:42] roccocesetti opened #14595 "odoo no supporter <javascript async"
Impacted versions:8.0

Steps to reproduce:
insert into qweb MAin Layout tag <head> the javascript code:
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-xxxxxxxxxxxxxxxxxxx"
     data-ad-slot="2444412900"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle

[2016-12-05 17:58] adekock11 commented on #14595
@roccocesetti try: async="async" instead

[2016-12-05 19:29] LeDistordu opened #14598 "When will Odoo support entreprise docker version ?"
Do you think Odoo will one day propose the entreprise version in docker ? I want to do a "docker pull" for update my odoo ^^ Maybe with private registry for control licence ?

[2016-12-05 20:24] blaggacao commented on #14284
Ok, that's what I will do! Can you initiate email contact at dar@devco.co? (I guess you not keen to publish your's)

[2016-12-05 21:23] sle-odoo commented on #14598
Hello,
We don't plan to add such support at the moment.

Regards

[2016-12-05 21:23] #14598 closed

[2016-12-05 23:15] zaoral opened #14599 "Strange value in product quantity at Point of Sales Order Analysis report"
**Impacted versions:**
9.0, 10.0

**Steps to reproduce:**

Take the next example: We have our main unit of measure Unit and we have a product AB which unit of measure is Package (5) (represents 5 Units - uom.factor=0.20,  uom.factor_inv=5.0). Also have a point of sale order for a product AB where we request 3 packages.

**Current behavior:**

1. When I go to the "Point of Sales > Reports > Orders"

[2016-12-06 09:19] roccocesetti commented on #14595
thanks ,is ok!

[2016-12-06 09:19] #14595 closed

[2016-12-06 10:54] #1349 closed

[2016-12-06 10:58] mart-e commented on #9977
Fixed at c1d813ec1caf3ea38a1289a2fbc7c32fed34bc22 in 10.0

[2016-12-06 10:58] #9977 closed

[2016-12-06 11:46] mart-e commented on #9254
Hello,

I tried your code and I do not have an error in 10.0.
I will close it but let me know if it is in a specific scenario to get the error.
By the way, if there is still a bug, a fix should target master as it is due to a developer mistake and is considered as an improvement.

[2016-12-06 11:46] #9254 closed

[2016-12-06 11:56] mart-e commented on #14535
Hello,

When you uninstall a required dependency, I think it is expected to get a traceback, especially if you have some very specific steps like "not refresh the page".
I am not sure what you expect to get, it simply can not work.

[2016-12-06 14:03] mart-e commented on #5721
Closing as no issue in standard

[2016-12-06 14:53] marciorpbradoo opened #14611 "Odoo not converting Foreign Currency product price in a Invoice if the Invoice Date is >= first Foreign Currency Rate Update"
Impacted versions: saas-10

**Steps to reproduce:**
**Assuming the steps are being produced in a fresh Odoo database, where the company currency is BRL.**
- Install Accounting
- Open Accounting
- Create a product and add a price in BRL
- Activate Multi-Currency Support & click "Update Now"
*At this point, Odoo has only the currency rate of the current date.
*My Enabled Currencies are: BRL (company

[2016-12-06 16:56] gustavovalverde commented on #14502
@Yenthe666 Are we missing something or is this actually an issue?

[2016-12-06 17:08] yustas147 commented on #7323
This problem possibly due to wrong\corrupted module in your addons path. Try to start odoo server with original modules, try to create database and watch if problem persists.

[2016-12-06 17:42] adekock11 opened #14612 "[9.0+] Cannot add view to a specific dashboard"
**Impacted versions:**
9.0, 9.0e, 10.0, 10.0e

**Steps to reproduce:**
1) Open up a Runbot instance on Odoo 9.0
2) Go to Reporting (`board` module)
3) Click on `Configuration` -> `Create Board`
4) Create a new Dashboard and call it "Test" for example
5) Go to `Sales` -> `Your Pipeline` for example
6) Open up `Favorites` and click on `Add to Dashboard`

**Current behavior:**
There is no option to c

[2016-12-06 18:47] blaggacao commented on #14284
Quite right to question my analysis, I digged into it again, and it seems the issue comes from the currency round.
![image](https://cloud.githubusercontent.com/assets/7548295/20938815/7498916c-bbba-11e6-8b0e-993bd7e52280.png)

And here is the ultimate proof on `float_round`:
![image](https://cloud.githubusercontent.com/assets/7548295/20938843/8f8b6166-bbba-11e6-9d0d-095cf91ffc65.png)

[2016-12-06 18:49] blaggacao commented on #14284
I'm preparing the database today and will send it to you.

[2016-12-06 20:46] celm1990 commented on #14485
Hi,

The problem is JQuery, [https://github.com/jquery/jquery/issues/2199](https://github.com/jquery/jquery/issues/2199)
Solution:

Change this line on file rte.js on module web_editor

[https://github.com/odoo/odoo/blob/9.0/addons/web_editor/static/src/js/rte.js#L367](https://github.com/odoo/odoo/blob/9.0/addons/web_editor/static/src/js/rte.js#L367)

Before

$el.find('[class]').filter(function ()

[2016-12-06 23:11] moylop260 commented on #14535
Hello @mart-e
Thanks for reply

I have a video where if I print a report a traceback is not raised.
But if I try send email with this report attached we have a raised error.

Is this a expected behaviour?

http://www.youtube.com/watch?v=IMNnGDFH3JE

[2016-12-07 04:12] ssmanss opened #14615 "졸업증명서위조 paper588＠hotmail.ⓒⓞⓜ 졸업장위조paper588＠hotmail.ⓒⓞⓜ"
졸업증명서위조 paper588＠hotmail.ⓒⓞⓜ 재직증명서위조○ 위조여권가격 ○통장위조paper588＠hotmail.ⓒⓞⓜ  ч ш щ

다년간의 쌓아온 고객만족도와 계속되는 고객님들의 소개건 창출로인한 수없이 많은

증명서를 제작함으로써 전문적인 제작기술과 노하우를 바탕으로 고객님들과 소통하며 거래하고 있습니다.

원하시는 모든 서류를 완벽하게 각종증명서제작 원본100% 제작합니다.

절대 고민하지마시고,  상담 이메일을주시면, 완벽하게 철통 보안과 안전한 시스템으로 해결해 드립니다. .

문의만하시면 신속하고 정확하게 빠르게 상담해 드립니다.

문의후 상담하시면 "서로간의 충분한 의사소통을 하신후에, 충분히 검토 하시고, 진행하시면 됩니다.

 안전한 업체와 상담하시고 결정하십시요.

사문서, 공문서

[2016-12-07 04:13] ssmanss opened #14616 "졸업증명서위조 paper588＠hotmail.ⓒⓞⓜ대학교졸업증명서위조 paper588＠hotmail.ⓒⓞⓜ"
졸업증명서위조  paper588＠hotmail.ⓒⓞⓜ  대학교졸업증명서위조○   paper588＠hotmail.ⓒⓞⓜ   ○통장위조○ paper588＠hotmail.ⓒⓞⓜ ○

서류에 관련된 모든 고민을 깔끔하게 해결해드립니다.

업계 최고의 전문가 강팀장이 하는업체입니다.

○   paper588＠hotmail.ⓒⓞⓜ  ○

아실만한분은 다 아실꺼라고 생각합니다. 리오더100%를 자랑합니다.

이번에 저희 강팀장님이 팀을 확장했습니다. as ,증명서, 온라인, 등 좀더 차별화된 시스템으로
 더더욱 안전한 서비스를 해드리고있습니다.

○메일상담- paper588＠hotmail.ⓒⓞⓜ ○(선제작,후결제)

단순히 위조,변조가 아닌 정상적인 서류발급이라 해도 무방할정도의 실력으로 고객만족과 보안을 최우선시 하는

[2016-12-07 04:15] ssmanss opened #14617 "토익성적위조paper588＠hotmail.ⓒⓞⓜ통장위조paper588＠hotmail.ⓒⓞⓜ"
졸업증명서위조  paper588＠hotmail.ⓒⓞⓜ  대학교졸업증명서위조○   paper588＠hotmail.ⓒⓞⓜ   ○통장위조○ paper588＠hotmail.ⓒⓞⓜ ○

서류에 관련된 모든 고민을 깔끔하게 해결해드립니다.

업계 최고의 전문가 강팀장이 하는업체입니다.

○   paper588＠hotmail.ⓒⓞⓜ  ○

아실만한분은 다 아실꺼라고 생각합니다. 리오더100%를 자랑합니다.

이번에 저희 강팀장님이 팀을 확장했습니다. as ,증명서, 온라인, 등 좀더 차별화된 시스템으로
 더더욱 안전한 서비스를 해드리고있습니다.

○메일상담- paper588＠hotmail.ⓒⓞⓜ ○(선제작,후결제)

단순히 위조,변조가 아닌 정상적인 서류발급이라 해도 무방할정도의 실력으로 고객만족과 보안을 최우선시 하는

[2016-12-07 06:17] skshivammahajan opened #14620 "New Products are not visible in POS after installing pos_cache"
Impacted versions: 10

Steps to reproduce: After the pos_cache is installed and if we will create new products the new products are not visible in POS ?Why?

Current behavior: Kind of bug or issue

Expected behavior: The new product should be visible even after installing  pos_cache

Video/Screenshot link (optional):

[2016-12-07 07:03] Ark74 opened #14621 "Incomplete product labels Odoo v8"
**Impacted versions:**

8.0

**Steps to reproduce:**

1. Install POS module on database.
2. Follow all the steps to finish pos installation.
3. Enable technical features on admin user
4. Import whatever test product db (test data should work too).
5. Go to Sales » Product variants, then select 80 products.
6. Click Print » Product labels.

**Current behavior:**

It will print/create a PDF file, wi

[2016-12-07 07:16] Yenthe666 commented on #14502
Hi @gustavovalverde,

Thanks a lot for your report and for pinging me. I however have very little knowledge about the check part, I never use it personally.
@qdp-odoo can answer this one for you.

[2016-12-07 08:45] aab-odoo commented on #14579
Hello,

What is the impacted version of Odoo?

Regards

[2016-12-07 08:56] mart-e commented on #14535
Ok, I just tried, this real issue is that you get a traceback if you do not have wkhtmltopdf installed. There is not the requirement uninstall+donotrefresh.

My comment and the one from jke was that we do not support the fact of needing to uninstall a dependency that was previously installed if you have the issue only for the users with the window currently opened.

Obviously, you can not generate

[2016-12-07 09:12] Yenthe666 commented on #14535
@mart-e I think that an informative warning to the end user would be neat. Perhaps we should label this wishlist?

[2016-12-07 09:19] Yenthe666 commented on #14620
Hi @skshivammahajan,

Thank you for your report. I've just tested this on the latest code from Odoo and it works fine out of the box.
I simply created a new product named 'aNewProduct' and when I open the POS and search for it I can find it:
![image](https://cloud.githubusercontent.com/assets/6352350/20961706/89ab6d7a-bc66-11e6-9fa0-a056dfd6230c.png)
Are you sure that you've restarted the POS in o

[2016-12-07 10:00] odony commented on #13450
For the record, our "Backup" and "Restore" features are semantically similar to the `pg_dump` and `pg_restore` PostgreSQL commands which _create_ a backup and _restore_ a backup, respectively _from_ and _to_ whichever database name you like. `pg_restore` will never replace a database if it already existed, for the same reason we don't do it: this would carry a very high risk of mistake/data loss.

[2016-12-07 10:05] skshivammahajan commented on #14620
Have you installed the pos
_cache. ?

On Dec 7, 2016 2:49 PM, "Yenthe V.G" <notifications@github.com> wrote:

[2016-12-07 10:07] skshivammahajan commented on #14620
It work fine with pos .But it is causing problems when i installed pos_cache .
Can you please test the new product with pos_cache ?

[2016-12-07 10:20] roccocesetti opened #14623 "Mass Mailing module allways spam"
Impacted versions:8.0

Steps to reproduce:
Test or send Mass mailing

Current behavior:
produce
from --> bounce-xxxx@mydoamin.com
to     --> existing pippo@alterdomain.com

this mail finish to go allways in spam ,because the sender not exist,
because odoo generate bounce-xxxx@mydoamin.com for sender

Expected behavior:
from --> exsiting rocco@mydoamin.com
to     --> existing pippo@alterdomain.com

[2016-12-07 10:33] Yenthe666 commented on #14620
@skshivammahajan this is tested before having the pos_cache module installed and after having it installed, both work fine out of the box.
Could you try reproducing the issue on a runbot? (runbot.odoo.com)

[2016-12-07 10:59] mart-e commented on #14535
Done at 3642f1194244c66faa8dabb4be6abcfff789cda4 (and merged 7ccf4e60c86d80ce38e8e7f33d1d42940384306c by the way)
Thanks for the report

[2016-12-07 10:59] #14535 closed

[2016-12-07 11:00] skshivammahajan commented on #14620
@Yenthe666 as per your suggestion .I tried runbot and i found the same issue there ?
Check the runbot url
http://184579-10-0-09b3a5.runbot8.odoo.com
I created three products
1. One product before pos_cache - Works fine
2.Second  product after pos_cache  - Works fine
3.Third product again after pos_cache - Issue found (Product was not visible in  POS)
![pos product](https://cloud.githubusercontent.

[2016-12-07 11:10] dansanti commented on #14485
yep works fine, changin className by getAttribute("class"), make action save works well.

[2016-12-07 12:23] Yenthe666 commented on #14620
Hi @skshivammahajan,

Thanks for the extra feedback. When I look at the runbot environment you've tested this on I can see that this product (test prod 03) is not found in the POS.
I've just tested this with a new product and I face the problem now too.
@jorenvo something for you?

Regards,
Yenthe

[2016-12-07 12:46] skshivammahajan commented on #14620
@Yenthe666
@jorenvo
Can you please look into this issue and help me to fix it ASAP ?
Thanks in advance .

[2016-12-07 12:51] Gyuri77 opened #14626 "Computed stored fields do not read actual value from db in compute function"
Impacted versions: at least 9.0

Steps to reproduce:

state =  fields.Selection([
            ('tervezet', 'Tervezet'),
            ('elkuldve', 'Elküldve'),
            ('szamlazva', 'Beszállítói számla készült'),
            ('elszamolt', 'Elszámolt'),
            ('torolt', 'Törölt')],
            string='Státusz', readonly=True, select=True, copy=False, compute='_compute_state', inverse='_inve

[2016-12-07 14:10] blaggacao commented on #9254
Thanks for taking this up. It has been some time ago. Good conduct and faith can presume that it has been fixed, or does not occur any more.

[2016-12-07 14:24] lslaz1 commented on #14579
Oh yes, I apologize!

Odoo V9.0

[2016-12-07 14:38] Cedric-Pigeon opened #14631 "[8.0] Severe regression on product pricelist in multicompany mode"
Impacted versions:
8.0

A recent commit introduce a severe regression.

No company_id are set on product_pricelist_version and product_pricelist_item on creation.

Commit : https://github.com/odoo/odoo/commit/295b96c0b39959d053c3b74edd515879c873c722

[2016-12-07 14:42] adr-odoo commented on #14579
Hello,

This issue has been fixed in saas-12 by these commits:
https://github.com/odoo-dev/odoo/commit/8580636bad43df2b4879b1985965a766cb796543
https://github.com/odoo-dev/odoo/commit/a9b05611060478c96d3b14b5892a5285900258ec

Unfortunately, Odoo does not support Safari private browsing in 9.0.
Sorry about that.

Greats,

[2016-12-07 14:42] Cedric-Pigeon commented on #14631
@beledouxdenis

[2016-12-07 14:43] #14579 closed

[2016-12-07 14:52] beledouxdenis commented on #14631
and then I am asked why we have such a strict policy regarding bugs in stable releases... I will look into it right now.

[2016-12-07 15:18] maltehelmhold commented on #8660
it's the worst **worsification** ever and odoo 9 annoys me every day 5 times with this crappy duplicate canban stages...

[2016-12-07 15:24] fpodoo commented on #8660
Note that stages can be shared amongst projects in Odoo 10. (and I think it
was the same in Odoo 9)
Just configure your stages that way, in debug mode:

http://www.awesomescreenshot.com/image/1929051/7fe453d24927e018bcbd2f3bd8ca00f3

Odoo 9/10 is actually the best of the two worlds; you can share stages or
not, depending if you want flexibility (and project managers can customize
their own project

[2016-12-07 15:27] beledouxdenis commented on #14631
I just solved the regression with the revision
36c6edf4bc1aba8a829e91aed40fd21b3c48dc17

I am truly sorry for the inconvenience

[2016-12-07 15:27] #14631 closed

[2016-12-07 15:28] Cedric-Pigeon commented on #14631
@beledouxdenis Thanks for your quick react.

[2016-12-07 15:31] Cedric-Pigeon commented on #14631
@beledouxdenis have a look at https://github.com/odoo/odoo/commit/456d7b38f1f6c889ab24e391154dbe1d21f34371
I think the same bug is present, wrong dictionary in store attribute.

[2016-12-07 15:34] beledouxdenis commented on #14631
Are you stalking me ? :D
I indeed just solved this other similar case in
82a07d10724d262096a61a1a3318069d17e86115

[2016-12-07 15:34] qdp-odoo commented on #14502
no, I can't :-s

[2016-12-07 15:37] Cedric-Pigeon commented on #14631
No I just have a tests suite on my project that crached because of these commits ;-)

[2016-12-07 15:43] Yenthe666 commented on #14502
Okay, I revert my statement. Who can we ping good man? 😉

[2016-12-07 15:53] qdp-odoo commented on #14502
@fhe-odoo maybe?

[2016-12-07 16:21] qdp-odoo commented on #14506
looks ok to me :-)

my only concern is that it should be able to display a correct PL if not tag are set on accounts (something like a section to display the accounts with no tags set?).

[2016-12-07 16:25] Yenthe666 commented on #14506
@ploegvde looks like you've got your approval. I hope you come up with a neat PR 😉

[2016-12-07 16:43] jorenvo commented on #14620
The pos_cache module is very basic. Cache isn't automatically invalidated or recomputed. You have to do so either manually through the button on the pos.config form view, or by using the provided [Refresh POS Cache](https://github.com/odoo/odoo/blob/10.0/addons/pos_cache/data/pos_cache_data.xml) cron. This is also the reason we have the module blacklisted on runbot, because it causes too much conf

[2016-12-07 16:43] #14620 closed

[2016-12-07 17:16] Yenthe666 commented on #14620
@jorenvo is this documented somewhere? This sounds like a typical thing to add in the documentation. I didn't know anything about it either. :)

[2016-12-07 17:23] skshivammahajan commented on #14620
@jorenvo Thanks a lot .Hope it will work .

[2016-12-07 17:24] suniagajose opened #14635 "[9.0] POS Order time does not match with time in Order Receipt Printed"
### Impacted versions:
9.0

### Steps to reproduce:

1. Open a Pos.Order session, wait a minutes before create a Pos Order
2. Create a Pos Order
3. Print Pos Order Receipt
4. Go to Pos Orders tree view, and compare time between Receipt and Order related

### Current behavior:
Order time is the same on the tab at the top of the POS screen, instead the time when was printed the Receipt.

### Expecte

[2016-12-07 17:29] jorenvo commented on #14620
@Yenthe666 currently we have no user documentation for pos_cache I think. Maybe we should add some, but the module is not really meant to be used by a large amount of users, it's only for users with a relatively large amount of products. It's a stopgap measure to reduce the loading time of the POS frontend.

[2016-12-07 17:33] BzJB opened #14636 "[10.0] base_geolocalization urllib issues"
On one of our dev environments we encountered an issue where urllib would not open the link for the geolocalization.

We found that changing it to use urllib2 fixed this issue and think this might be better for compatibility.

[2016-12-07 17:35] zaoral commented on #14599
This issue Impact version was updated.
Not only impact version 9.0, also impact version 10.0

Here is a [video](https://youtu.be/bpW3m4eIdcE) showing a poc of the point of sale order reporte in a version 10.0 build.

[2016-12-07 18:10] skshivammahajan commented on #14620
@jorenvo I tried the Refresh POS Cache cron but it didn't work .Can you also help me to find the button on the pos.config form view because i am unable to find any such button that page ?

So what's the final solution do you suggest to resolve this issue since this corn is not working fine ?

[2016-12-07 18:27] pabloveintimilla commented on #1198
Hi,

The problem continue in cost field, for example:

1. Crate a product with $10 of cost
2. Create a product variant, define a cost $11
3. Create a purchase order and select product variant, the cost is $10, not $11.

I use Odoo 10.0-20161129 (Community edition)

[2016-12-07 19:05] luistorresm opened #14637 "[10.0] Account Cash Basis Movements without amount"
### Impacted versions:
10.0

### Steps to reproduce:
1.- Configure company journal to Use Cash Basis
2.- Configure the purchase tax Tax 15% to Use Cash Basis on Tax Paid account
3.- Generate a new supplier invoice
4.- Validate the invoice created in step 3
5.- Generate the payment to invoice in step 3

### Current behavior:
The journal entry to tax paid have the correct lines but with amount in de

[2016-12-07 20:09] moylop260 commented on #14637
FYI @qdp-odoo

[2016-12-07 20:21] collex100 opened #14639 "404 throughout the application after a night update"
Impacted versions:10.0

Steps to reproduce: updated 12/07/2016

Current behavior: throughout the application I get an error 404
http://prntscr.com/dgm00o
http://prntscr.com/dgm0a6
http://prntscr.com/dgm0iz

Expected behavior:
that the application would work as it should.

Video/Screenshot link (optional):
---------------------------------------
For the second time already this error when updating.

[2016-12-07 20:25] fhe-odoo commented on #14502
Yes, I have a task open for this among other few improvements to checks. The ball is on my side.

[2016-12-07 20:36] gustavovalverde commented on #14502
Oh, that's good news.

Is there an estimate time to completion of this fix? It is just to know if we can wait for it or if we'll have to hire a developer for this, as this is behavior is illegal in some LATAM Countries and can also generate frauds as the Journal Entries just disappear instead of being reverted when a check is cancelled.

[2016-12-07 20:41] fhe-odoo commented on #14502
There is no set time to completion.

[2016-12-07 20:49] gustavovalverde commented on #14502
Thanks for the answer. We'll do the needed effort to solve this issue.

Is there any guidance that you can provide us so we can also give you a hand with a  PR? And with "guidance" I mean, point us to the modules or methods that need to be changed, or the (general) recommended approach to fix this.

[2016-12-07 22:57] JKE-be commented on #14639
Your statics files are not loaded.
Are you sure that you don't pull code with another user ?
check the permission on your files...

Maybe linked to https://github.com/odoo/odoo/issues/4755

[2016-12-08 02:39] lukebranch opened #14640 "[Odoo Apps Store] Redirect Loop on Download of purchased item"
<h1>Environment:</h1>
Google Chrome 54.0.2840.98 (64-bit)

<h1>Impacted versions:</h1>
Odoo online - Apps Store - Theme Store

<h1>Steps to reproduce:</h1>
<ol>
<li>purchase a theme (in my case Kingfisher from Biztech)</li>
<li>try to download the theme using the download link provided</li>
<li>you will be caught in a redirect loop due to some issues with javascript (I have not investigated this i

[2016-12-08 02:40] lukebranch commented on #14640
@Yenthe666 ,

Would you mind taking a look at this if you have time? It appears to be a pretty big bug affecting the app store that will block you from downloading purchased modules.

[2016-12-08 02:43] dannyadair opened #14641 "Duplicate database: timeout stops filesystem copy"
Impacted versions: 8.0, possibly later

Steps to reproduce: Duplicate a database with a filestore holding a relatively large amount of files, in our case 40k+

Current behavior: The web interface times out and the copying of the filestore is interrupted.

Expected behavior: Even when the web interface times out, the filestore copy should be finished. Maybe use ir_cron in source database?

Video/Sc

[2016-12-08 05:05] randyraharjo93 opened #14643 "Weird calculation on hr.holidays and hr.holidays.status"
Impacted versions:
9, Enterprise, 184508-9-0-c5186b

Steps to reproduce:
1. Create new hr.holiday.status
2. Create 8 allocation request for an employee with days value (0.83, 0.83, 0.83, 0.83, 0.83, 0.83, 1, 0.02) total 6.
3. Create 6 leave request for that employee with days value 1. total also 6.

Current behavior:
Can't create the last leave request saying doens't have enough allocation request

[2016-12-08 07:08] Yenthe666 commented on #14640
@JKE-be this one is for you buddy!

[2016-12-08 07:19] Yenthe666 commented on #14643
@mart-e can you have somebody look at this? Perhaps @nim-odoo?

[2016-12-08 07:21] tkontogi opened #14644 "[8.0] Similar Expenses get grouped on Invoice with wrong values but correct total"
**Impacted versions:**
8

**Steps to reproduce:**
Create an expense sheet.

Two lines

Line one is Air Ticket/Date 01-01-16/300USD

Line two is Air Ticket/Date 01-02-16/600USD

Submit, approve, post journal entries, go to analytic journal entries, select both expenses, create invoice.

Both air tickets, are shown in a single invoice line as "Air Ticket" with the correct total value, total items tw

[2016-12-08 07:58] JKE-be commented on #14640
Maybe @dmo-odoo can take a look ?

[2016-12-08 08:02] JKE-be commented on #14640
@lukebranch

Could you try apps.odoo.com instead of apps.openerp.com...
Seems like the login is done for odoo.com domain and not openerp.com

From where do you have this link "openerp.com"?

[2016-12-08 08:08] #13925 closed

[2016-12-08 08:08] #13987 closed

[2016-12-08 08:20] lukebranch commented on #14640
@JKE-be ,

I believe I just went to odoo.com and logged in, I did not type apps.openerp.com, so i'm not sure where that URL came from.
Let me try again later this afternoon when I have a few minutes and i'll try to reproduce it step by step.

[2016-12-08 09:12] simongoffin commented on #9363
Closed with 11e834a4c1f6fc1c5fa11cee36ce06a976d6f9cc

[2016-12-08 09:12] #9363 closed

[2016-12-08 09:12] Yenthe666 opened #14648 "[10.0] WYSIWYG editor ignores changes made in the code view when saving"
Impacted versions: 9.0, 10..0

Steps to reproduce:
1. Activate technical features
2. Go to mass mailing, open a template and edit it in the code view. Remove a part of the text (for example "You get a 20% discount for signing up!")
3. Click on save without changing from the code view to the graphical view.
4. Behold, the code (text) you've just removed is still there:
![image](https://cloud.github

[2016-12-08 09:17] Yenthe666 commented on #14648
Hi @nle-odoo, perhaps this is related to https://github.com/odoo/odoo/commit/a6e3ae6b8c08b3e2abfda248b5f77a1781244683 or one of the other commits about this? Could you have a look at it?

[2016-12-08 09:26] qdp-odoo commented on #14637
it has been fixed in 9.0 at revision https://github.com/odoo/odoo/commit/0f63b2cce0f024ddfc5a3d3b1a31c91e20c16039

[2016-12-08 09:26] #14637 closed

[2016-12-08 09:34] Yenthe666 opened #14649 "[8.0, 9.0, 10.0] Improve naming of elements for safe xpath expressions"
Impacted versions: 8.0, 9.0, 10.0, master.

Steps to reproduce: Create a new module in which you do an xpath to an existing view that has an element without any name. Let us take an example from the `marketing_campaign` module. In `marketing_campaign_views.xml` there is the following code:
[code]

If I inherit this view and want to replace / modify the filter for "Manual Mode" I cannot xpath by st

[2016-12-08 09:34] nle-odoo commented on #14648
Hi.

Passing back to wysiwyg view is the current needed behavior. I heard there was at one time no way to save in code view (you needed to get back on wysiwyg view but now it is not explicit).

https://github.com/odoo/odoo/commit/897290dd3ff was changing this fact by clicking automatically to get back in wysiyg, but was reverted because of introduced issues.

A fixed fix should be introduced soon

[2016-12-08 09:34] #14648 closed

[2016-12-08 09:34] Yenthe666 commented on #14649
Hi @mart-e and @odony could I ask you guys for feedback and to start our brainstorm? It would be neat to have this fixed before V11.

[2016-12-08 09:38] BzMB commented on #14636
Hi,
I'm a colleague of BzJB.

We saw the label "need informations", but to be honest we struggle a little bit to give you more informations, let me try to explain why.

Into a server with a different hosting provider and potentially a different setup of python environment, the module works well with the urllib library.

But for some reason into a different server, same sourcecode (odoo base versio

[2016-12-08 09:49] lmignon opened #14650 "[9.0, 10.0] name_search on product.template works only if variants match..."
Impacted versions:
8.0 9.0 10.0
Steps to reproduce:
* Create a product.template without variant witha default_code
* Try to use name_search to find the template (Many2One) with the default_code
Current behavior:
* No Match
Expected behavior:
* Product template found
Video/Screenshot link (optional):
Product template use the name_search of product_product to try to find matching templates.... There

[2016-12-08 10:00] #14640 closed

[2016-12-08 10:01] lukebranch commented on #14640
@JKE-be ,

I'm able to reproduce some strange behaviour with the website in cache, however in incognito mode (no cache) i'm no longer able to reproduce this error.

I'll close this for now and if another issue crops up again i'll reopen it.

[2016-12-08 10:17] Yenthe666 commented on #12482
@JKE-be any update?

[2016-12-08 10:23] JKE-be commented on #12482
For usability question, @apr-odoo could probably help you better than me ...

[2016-12-08 10:40] mart-e commented on #12482
The technical group was removed in 10.0 at 1fa6788.

[2016-12-08 10:40] #12482 closed

[2016-12-08 11:06] mart-e commented on #14643
The patch is easy, it is something like 277f474 but I am wondering @randyraharjo93, these example are clearly made up to provoke a float imprecision.
Is it something that you get on production? I don't see allocation of 0.02 days as realistic.

[2016-12-08 11:54] #10890 closed

[2016-12-08 11:55] #2565 closed

[2016-12-08 12:04] tde-banana-odoo commented on #14643
This is not really a use case.

[2016-12-08 14:48] simahawk opened #14657 "[v9] Q: how to override *all* twitter bootstrap variables properly"
bootstrap resources are loaded indirectly with [this line ](https://github.com/odoo/odoo/blob/9.0/addons/web/views/webclient_templates.xml#L103) that loads [import_bootstrap.less](https://github.com/odoo/odoo/blob/9.0/addons/web/static/src/less/import_bootstrap.less) that in turns does `@import "bootstrap";` that "magically works" (bootstrap.less is not exposed at all).

I guess the magic happens

[2016-12-08 14:59] pedrobaeza commented on #14657
I think @ged-odoo can be the correct guy to answer this.

[2016-12-08 15:09] simahawk commented on #14657
hmm, I just did a test.

Before I had `@import variables.less` inside my `styles.less` (as you usually do in LESS theme files) + a line to load the variable in the frontend assets (otherwise LESS compilation is broken).

Now I removed `@import variables.less` aaaaaand: it magically worked! :)
I thought that since my variables are loaded after all bootstrap*less stuff it could not work, but sounds

[2016-12-08 15:11] pedrobaeza commented on #14657
I remember that @Yajo told me that there's some "magic" imports that make this to work without import, but he's on holidays and I didn't remember the piece of code that makes this.

[2016-12-08 20:49] ahefni commented on #9080
the same problem

[2016-12-09 00:32] #13431 closed

[2016-12-09 02:27] Runwise commented on #5314
The old style of writing，news nonsupport。

xml :
<field name="fields_a" on_change="employee_change(fields_a,field_b,...)"/>

py:
@api.multi
def product_id_change(self, fields_a, fields_b, ...):
    values = {'employee_ids': [1,2,3,4,5...]}
    return {'value': values}

[2016-12-09 02:30] Runwise commented on #5314
`xml:<field name="fields_a" on_change="employee_change(fields_a, fields_b)">`

or search for 'product_id_change' in your odoo project.

[2016-12-09 08:14] #14007 closed

[2016-12-09 08:24] lolziac commented on #11638
@lukebranch
I think your issue is related with this one https://github.com/odoo/odoo/issues/13834
This makes paypal unusable ... Is paypal working for anybody on v10

[2016-12-09 08:40] aristobulo-eezee commented on #13834
maybe @Yenthe666 can help you

[2016-12-09 09:07] Ajroo opened #14661 "[10.0] Manufacturing Can "produce" products without raw materials available"
Impacted versions: 10.0

Steps to reproduce:
- Make BoM with raw materials
- Create Workorders
- Start workorders without checking availability of raw products
- Start your workorder and then push the done button
- All your products will be confirmed as manufactured without the move for the raw products being done

Current behavior:
You can produce products without assigning and moving the necessa

[2016-12-09 09:48] #13834 closed

[2016-12-09 09:48] mart-e commented on #13834
Hello,

It is indeed a bug in the version 10 of code. It was fixed at d29c40e1e1c1ae0d505d27159bccab2e8dd31083

[2016-12-09 10:03] mart-e commented on #14395
Hello,

When I am checking your PR and this issue (in the future, please only create one, it is easier not to split the discussion), I believe there is some company configuration you are not explaining.

Please specify exactly how you create the partners and how you are accessing the record to.
We do not wish to modify base security rule, maybe we can prevent the error somewhere else.

[2016-12-09 10:11] Yenthe666 commented on #13834
Woha good job Martin, even ahead of me 😉

[2016-12-09 10:56] mart-e commented on #9062
Hello,

You do not need to add any field to specify attachements. Everything is handled with the `document` module (well actually already in the `base` module but document shows the link on top of the record).

Please note that github is not the place to ask development advises, it is just to report bugs.

[2016-12-09 10:56] #9062 closed

[2016-12-09 11:35] irfan-isi opened #14663 "Due Payment Report"
Impacted versions: Version 10.0

Steps to reproduce: Go to Partner form and Print Report Due Payment

Current behavior: Error

Expected behavior: Download due payment report

Video/Screenshot link (optional):
![due payment](https://cloud.githubusercontent.com/assets/22587784/21047749/ab1ea50e-be31-11e6-81de-894a8b24c144.png)

[2016-12-09 11:38] iju-odoo opened #14664 "Due Payment Report Issue"
Impacted versions:10.0

Steps to reproduce:Go To partner and Download Due payment report

Current behavior:Error !

Expected behavior:Download PDF for Due payment
![due payment](https://cloud.githubusercontent.com/assets/11677925/21047827/17ad0580-be32-11e6-9f4b-fc3ec2524691.png)

Video/Screenshot link (optional):

[2016-12-09 14:37] jlaloux commented on #8923
Hello, i confirm this bug. Same issue

[2016-12-09 14:51] treviser opened #14667 "[www.odoo.com]Forum: Members erraneously shown as Odoo employees"
Impacted versions:

Steps to reproduce:
Hover over the author of a forum answer.

Current behavior:
The company of the author is Odoo S.A. and the website is www.odoo.com despite of the user settings in the forum.
Expected behavior:
The author's company and website is shown according to the settings in the user profile.

![tooltip_361](https://cloud.githubusercontent.com/assets/1814941/21052849/40

[2016-12-09 15:06] leemannd opened #14668 "Upload translations for Odoo Enterprise"
Impacted versions: Odoo Enterprise 10 and 9

@qdp-odoo
Hello, I want to upload German translations to l10n_ch_reports that are in Odoo Enterprise ' l10n_ch_reports/account_financial_report.xml '. I cannot see the module in transifex. Should I do direcly a PR to the repo, so that you can upload the translations?

[2016-12-09 15:07] leemannd commented on #14668
Note: This is related to https://github.com/odoo/enterprise/pull/590

[2016-12-09 15:30] qdp-odoo commented on #14501
bugfixed in 9 and forward ported to 10 earlier this day

[2016-12-09 15:30] #14501 closed

[2016-12-09 15:42] steenzout commented on #5177
@aab-odoo can you confirm `0.12.4` fixes the issues?

this really important to know since it seems it's the only way to get `wkhtmktopdf` to work on Ubuntu 16.04.

[2016-12-09 18:36] mart-e commented on #14668
Hello,

That would be me for the translation related questions :)
The l10n modules are not published on Transifex as we do not want to get Chinese translators to translate the Spanish chart of account.
The Swiss is a specif cases as it is multilingual so it makes sense to translate in a different language.
You can create a pull request on enterprise to translate the l10n_ch_report module and I wil

[2016-12-09 18:36] #14668 closed

[2016-12-09 18:58] collex100 commented on #14639
I have given the maximum access rights:
http://prntscr.com/dhf3xv

but it did not help.
http://prntscr.com/dhf5n1

I had root right before. Everything worked. After the upgrade, all stopped working.
Where can I see how to check?

[2016-12-09 20:14] WhitleyStriber opened #14669 "No database reference ID for "Quantity" and "Forecasted Quantity" when importing CSV into Products"
Please forgive me if I'm ignorant, but I sat down today with a coworker and we couldn't figure out how to import product "Quantity" from a CSV file. We couldn't find any official documentation for Odoo 10 informing the user of the correct Reference ID that relates to Product Quantity. I see many other values listed but Quantity and Forecasted Quantity is not there. It also don't automatically refe

[2016-12-09 20:43] StefanRijnhart commented on #13933
The problematic behaviour was caused in combination with the option without_demo = True which I have had in my config forever. This to me was the most mysterious Odoo option, and it still is ;-). Setting it to False I get the desired behaviour.

[2016-12-09 20:43] #13933 closed

[2016-12-09 21:23] matt454357 commented on #14539
This is an obvious bug.  The method _get_bom_component_qty() is called once, but never defined.  Just try searching this repository:

![image](https://cloud.githubusercontent.com/assets/7604932/21064911/d8e92a7a-be1a-11e6-9de4-62f0a76621a1.png)

[2016-12-09 22:31] MGinshe commented on #766
@dbo-odoo @a0c After a little bit more tinkering, it looks like setting `rm` to `2` causes PayPal to treat `/payment/paypal/dpn` as a POST route. Using the config I posted above, and adding `rm` to the paypal button template, everything seems to be working fine (even without `GET` in the DPN route).

The module still isn't perfect - sometimes users are dropped onto the `/shop` page when returning

[2016-12-10 00:53] ashkulz commented on #5177
There may be a regression on macOS with retina display, still being investigated in wkhtmltopdf/wkhtmltopdf#3241

[2016-12-10 05:39] augustosamame commented on #14097
+1 Spanish client. Will intermittently give out this error.

[2016-12-10 16:16] gustavovalverde commented on #14059
Hi @fpodoo, just following up to know if any of the possible fixes written here will be taken into consideration for present [9.0 and 10.0] versions or future ones.

In Dominican Republic we're working with the Government to **massify** Odoo for **SMEs** and there's an on-going project to start the implementation in february 2017; and right now we just need to know if Odoo will be offering a frame

[2016-12-10 16:22] gustavovalverde opened #14671 "[v9.0] Payments are not not being reconciled with invoices after POS closing"
**Impacted versions:**
8.0, 9.0

**Steps to reproduce:**
1. Create a Pos Order
2. Pay the Order
3. Close the POS
4. Validate Closing & Post Entries

**Current behavior:**
All the payments made are not reconciled with their respective invoices generated by the POS.

**Expected behavior:**
The whole reason of the POS is a simpler way of selling and invoicing, but if payments have to be manually reco

[2016-12-10 18:12] dansanti opened #14672 "[9.0] Can't close pos if round globally and pricision 0 is activated"
Impacted versions:
9.0

Steps to reproduce:
1.- configure currency and decimal precision to 0.
2.- configure globally tax calculation
3.- Set tax to 19% included
4.- open  a POS session.
5.- Make some movements.
6.- then close the pos.
Current behavior:
can't close session because :

debugin the problem, is because when odoo create account move, group taxes globally, but take per line tax calculat

[2016-12-10 18:19] dansanti opened #14673 "[9.0] Wrong subtotal on POS with round globally tax , and decimal precision 0"
Impacted versions:
9.0
Steps to reproduce:
1.- set all precision to 0.
2.- set round globally round tax calculation.
3.- Set tax to 19% included
4.- make that order:
line1 qty 90 x 300
line 2 qty 13 x 840

Current behavior:
line1 subtotal 27000
line2 subtotal 10920
total  37919
Expected behavior:
total 37920

I temporally fix the bug  replacing get_total_with_tax with :

get_total_with_tax: functi

[2016-12-11 01:59] aek commented on #14200
@CarlosPascual I'm not having the issue, I'm just reporting it so Odoo could fix it, I get it from a question in the Odoo forum and there I provide a solution, but the issue exists so I'm reporting it here

[2016-12-11 10:34] waltersteinlein opened #14674 "Units of measure not localized in reports"
Impacted versions:
10.0

Steps to reproduce:
1. Activate 'Some products may be sold/purchased in different units of measure (advanced)' in Inventory / Configuration / Settings
2. Create Invoice with products that have hour(s) as UoM (I used 'GAP Analysis Service' from the demo data here)
3. Print invoice to html though Accounting / Sales / Customer Invoices / ... / Print
4. Change language (e.g. t

[2016-12-11 13:46] alexanderahlsen opened #14676 "Backend loading blank (404), Undefined FieldMany2ManyTag"
Impacted versions: 10.0-20161211

Steps to reproduce: Run apt-get update, apt-get upgrade

Current behavior: Backend displaying logo, menubar, sidebar and main without content

Expected behavior: Content loaded in the backend.

Video/Screenshot link (optional): https://cl.ly/40423E0w3P1P

[2016-12-11 13:58] alexanderahlsen commented on #14639
Happening to me too after nightly update.

[2016-12-11 14:25] alexanderahlsen commented on #14676
Log file:
`2016-12-11 14:22:56,376 2531 INFO thegeek odoo.addons.base.ir.ir_http: Generating routing map
2016-12-11 14:23:00,250 2531 INFO thegeek werkzeug: 127.0.0.1 - - [11/Dec/2016 14:23:00] "GET /web/ HTTP/1.0" 200 -
2016-12-11 14:23:00,628 2531 INFO thegeek werkzeug: 127.0.0.1 - - [11/Dec/2016 14:23:00] "GET /web/content/252-54a49f8/web.assets_backend.js HTTP/1.0" 200 -
2016-12-11 14:23:00,75

[2016-12-11 21:14] chiticariu opened #14677 "[8.0] Field Many2many with tree defined is not populated in wizard"
Impacted versions: 8.0

Steps to reproduce:
- create a module with a wizard
- add in wizard 2 fields: a selector (is an example), and the many2many field which is a computed field based on option selected in selector
- install it on a clean database, execute wizard, select a option in selector field

Current behavior:
- records set in compute method not visible on UI

Expected behavior:
- records

[2016-12-12 03:00] basebasket opened #14678 "Page keep loading after install a custom module"
Impacted versions: 10.0 (Enterprise Edition )

Steps to reproduce:
1.Upload custom module into addons folder
2.Update module list then install custom module

Current behavior:Page keep loading very long time without timeout or error in log file(last line in log file is `.... INFO my-db-username openerp.addons.base.ir.ir_http: Generating routing map`)

Expected behavior:

Video/Screenshot link (opt

[2016-12-12 03:18] basebasket commented on #14678
I resolved it by killing odoo process by command line and start odoo-server, but this error always appear when I install new module

[2016-12-12 04:17] cliffkujala opened #14679 "Paypal Acquirer Setup Instruction Link Broken"
Impacted versions:
9 and 10

Steps to reproduce:
Install PayPal Payment Acquirer Method.
View setup page for the Payment Acquirers (Accounting > Configuration > Payment Acquirers)
Open the PayPal Acquirer
Click the "How to Configure your paypal account?" Link (https://www.paypal.com/in/cgi-bin/webscr?cmd=xpt/Marketing/general/how-to-set-up-a-paypal-account-outside)

Current behavior:
A new browser

[2016-12-12 06:15] BetaUliansyah opened #14681 "[10.0] Ecommerce product can not swiped down in image area"
Impacted versions: 10

Steps to reproduce: open ecommerce in mobile browser

Current behavior: the page can not swiped down in image area, you have to use non-image area to swipe down

Expected behavior: swipe can be use in all area of the page

[2016-12-12 07:38] kurtghekiere commented on #14199
I have the same issue when only selecting 1 addressee :

 File "/usr/lib/python2.7/site-packages/odoo/api.py", line 681, in call_kw
    return call_kw_multi(method, model, args, kwargs)
  File "/usr/lib/python2.7/site-packages/odoo/api.py", line 672, in call_kw_multi
    result = method(recs, *args, **kwargs)
  File "/usr/lib/python2.7/site-packages/odoo/addons/mail/wizard/invite.py", line 63, in

[2016-12-12 08:28] Yenthe666 commented on #14097
Guys, I really need more info on how to reproduce it before we can handle it. At this point it looks like translation (errors) that produce this.

[2016-12-12 08:52] Yenthe666 commented on #14667
Hi @treviser,

Thanks a lot for your report.
Could you send me the link from this page or another one that shows this behaviour?
@JKE-be this one is for you.

[2016-12-12 08:58] Yenthe666 commented on #14663
Hi @irfan-isi,

Thanks a lot for your report!
I've just tested this on the latest Odoo 10 and can confirm that this is a bug.
@mart-e can you look at this one? It is in the SQL query.

Regards,
Yenthe

[2016-12-12 09:06] Yenthe666 commented on #14664
Hi @iju-odoo,

You where slightly slower as somebody else.
I'll close this one in favour of https://github.com/odoo/odoo/issues/14663 (the bug is confirmed).

Regards,
Yenthe