[2017-10-10 19:34] deivislaya opened #20035 "[11.0] Stock Move - Price Unit on Purchase in different currency"
**Impacted versions:** 11.0

**Steps to reproduce:**

1. Company Currency - MX
2. Create a new purchase order - Currency - USD
3. Confirm it
4. Go to Stock Moves
5. Price on the stock move calculated at purchase order date rate.
6. Delivery after 1 day. Currency rate modified.
7. Go to Receptions
8. Transfer it

**Current behavior:**

The price unit remained at old price, meaning the stock value i

[2017-10-10 19:52] sle-odoo commented on #20035
Thank you for your report, i see this was handled [correctly in v10](https://github.com/odoo/odoo/blob/10.0/addons/purchase/models/stock.py#L48) was mistakenly [removed in v11](5e5cd081232b982d4be6412ebf1d336195f2c451). I'll made the modification tomorrow and add a test so this won't happen again.

[2017-10-10 20:36] deivislaya commented on #20035
Thanks, it is also important to consider this [line](https://github.com/odoo/odoo/blob/11.0/addons/stock_account/models/stock.py#L247), since if it already has `price_unit` it is not recalculated again

[2017-10-10 20:45] thegunshow commented on #19991
Here is a better log...

Error context:
View `n/a`
[view_id: n/a, xml_id: n/a, model: n/a, parent_id: n/a]
2017-10-10 20:39:07,698 4 ERROR deepdivedata-master-staging-764 odoo.http:
Exception during JSON request handling.
Traceback (most recent call last):
File "/home/odoo/src/odoo/odoo/http.py", line 646, in _handle_exception
return super(JsonRequest, self)._handle_exception(exception)
File "/hom

[2017-10-10 21:24] thegunshow commented on #19991
Hi

Regarding *psql*, to list the db you need to have the password to the
database. How can I get hold of that?

I had a look at odoo.conf but the info was blank

Thanks

On Tue, Oct 10, 2017 at 10:45 PM, Brendan Gunn <brendan@gunn.co.za> wrote:

--
Kind regards
Brendan Gunn

[2017-10-10 22:03] thegunshow commented on #19991
Hi

I removed the "sms_gateway" module and then everything is working again. It
almost like a cron job ran later and then broke the system.

Thanks

On Tue, Oct 10, 2017 at 11:24 PM, Brendan Gunn <brendan@gunn.co.za> wrote:

--
Kind regards
Brendan Gunn

[2017-10-10 23:25] gustavovalverde commented on #10538
Great, I'll be testing this with a few use cases I have on stand-by.

[2017-10-11 00:30] vcloud9ray commented on #14502
In v11 the Journal Entry is removed, but the cancelled Check document remains.

Shows VOID when printed:

![image](https://user-images.githubusercontent.com/31354495/31416784-4c04ba14-ade0-11e7-8ae7-d316e44458b8.png)

I just showed this to a client.  No issues with the removal of the Journal Entry - if you allow cancelling in the first place, you are allowing the GL to be written in pencil anyway.

[2017-10-11 00:52] kalmenchia commented on #16781
@janbec , i faced the same issues and are thinking to work out a fix on the above to resolve the issue ,

1. For the Order which has the same order no that is not posted , need to work out a way to
    change the order no and to ask the user to post it again ( perhaps with the number ref
    similar to the one posted ) and get the user the pay and validate it again. as the customer
    may use the

[2017-10-11 02:21] hanyelbanna commented on #19911
Hi,
I think it synchronize new terms to translate it.

Kind regards,
Hany

On Tue, Oct 10, 2017 at 5:20 PM, Martin Trigaux <notifications@github.com>
wrote:

[2017-10-11 03:52] totalard opened #20043 ".Deb nightly build not building every day"
Impacted versions:11

Steps to reproduce:
Check https://nightly.odoo.com/11.0/nightly/

Current behavior:
.Deb is not building... All others are ok

Expected behavior:
.Deb should build every day

Video/Screenshot link (optional):
https://nightly.odoo.com/11.0/nightly/

[2017-10-11 04:48] yostashiro commented on #19886
It seems the issue has been fixed with this commit https://github.com/odoo/odoo/commit/875dd9221f80ea1b60cd9ee8a005d71246734a2b which is in line with Option 3 in my issue report.

I guess we can close this issue for now.

[2017-10-11 04:48] #19886 closed

[2017-10-11 05:25] jlzhou opened #20044 "[11.0] issue of Timezone setting in My Preferences dialog"
Impacted versions:
11.0
Steps to reproduce:
Login, and click right up corner menu 'Preferences' in Firefox browser 55.0.3 on a Mac, try to change the Timezone setting by clicking the dropdown box.
Current behavior:
The timezone box shows a dynamically updating time, it causes unable to select other zone, the box keeps blinking.
Expected behavior:
Just remove the useless time showing function.
Vide

[2017-10-11 05:46] sswapnesh opened #20046 "[11] Removing Product image doesn't reflect on Kanban View"
Impacted versions: 11 c

Steps to reproduce: [http://270244-11-0-e1104a.runbot9.odoo.com](http://270244-11-0-e1104a.runbot9.odoo.com) --> Open any Product --> Remove Image

Current behavior: After removing Image it still reflects on kanban view.

Expected behavior: Image should not be visible on kanban view.

Video/Screenshot link (optional):

![](https://image.prntscr.com/image/Ei3TAD7URkmbfUC7UV

[2017-10-11 05:53] sswapnesh commented on #20046
Adding more: Duplicating that product will add image in new product again.

![](https://image.prntscr.com/image/uaN8pUjTQoKlTE3rcUw6EA.png)

[2017-10-11 06:11] Yenthe666 commented on #20046
Hi @sswapnesh,

Thank you for your report.
This is indeed a bug. @ged-odoo JS related?

Regards,
Yenthe

[2017-10-11 06:13] Yenthe666 commented on #20043
Hi @totalard,

Thank you for your report. This is a duplicate of https://github.com/odoo/odoo/issues/19960 and somebody from Odoo is already looking at it.

Regards,
Yenthe

[2017-10-11 06:13] #20043 closed

[2017-10-11 06:30] sswapnesh commented on #20046
@Yenthe666  Same Issue in Customers,Employees,Users and Vehicles.

[2017-10-11 06:49] dbo-odoo commented on #19991
#### About Odoo.sh:
You don't need the password, simply type `psql` and it should connect to the correct database without specifying the password yourself. In any case, you can simply do a `cat .config/psql/pgpass` to see the pg connection info inside the container.

#### About the Settings issue:
After a bit of investigation, finally found the issue. Caused by the fact that when you created your

[2017-10-11 06:49] #19991 closed

[2017-10-11 06:54] thegunshow commented on #19991
Thanks Damien

You have a really good response time. I think I was just really eager to
try odoo.sh. compliment to your work.

I will try have a look for the DB name. Have you tied to connect like this
to the app?

Thanks

On 11 Oct 2017 8:50 AM, "Damien Bouvy" <notifications@github.com> wrote:

[2017-10-11 06:57] TimLai125 commented on #19592
@ged-odoo @odony
FYI, although it is quite obvious, the condition for this issue to occur is the entered string "hits" a result, i.e. name of any menuitem. otherwise there will be no such a issue.

[2017-10-11 07:06] mart-e commented on #19911
That is what I thought :-)
To do so, you must use the "load translation" button.
The synchronize terms will recreate missing empty translations for new records (e.g. after import). It is rarely useful, I will see if we can remove/hide it instead.

[2017-10-11 07:08] muntean commented on #19627
Hi all,
I have a similar behaviour (Odoo v10, Ubuntu 14.04, installed from source). I have multiple databases on the same server. For only one of them, after it has been used without problems for some time, we get the blank page after every login now. I've tried the suggestions from the comment posted by @ilyasProgrammer. But the problem still persists.
I've restored the database on another server

[2017-10-11 07:10] dbo-odoo commented on #19991
I'm not often pinged on github issues, so I am not suffering from github fatigue at the moment :)

Besides we're quite excited about the platform, so we're clearly going to be interested in feedback issues. Feedback form in the platform should arrive today I believe.

Yes, I did connect like that and it worked. It's just... quite inelegant to say the least.

[2017-10-11 07:18] qdp-odoo commented on #18972
nope, unfortunately...

[2017-10-11 07:33] aisopuro commented on #15633
In 8.0, the location was passed in the context when calculating the default quantity in the onchange: https://github.com/odoo/odoo/blob/8.0/addons/stock/wizard/stock_change_product_qty.py#L131. But it seems that in 10.0 this is no longer done: https://github.com/odoo/odoo/blob/10.0/addons/stock/wizard/stock_change_product_qty.py#L36. Not sure where or why this was dropped: there is even a comment

[2017-10-11 07:34] pedrobaeza commented on #18972
OK, thanks for telling.

[2017-10-11 07:44] auditum-sfr opened #20049 "[9] Different Billing Adress changes Contact Data of User"
Impacted versions:
At least V9

Steps to reproduce:
- Create a User
- Login as user
- Buy something in ECommerce
- Use different Billing-Data

Current behavior:
The Contact-Data of the User that is logged in gets changed.

Expected behavior:
The Contact-Data of the User dont get changed

Video/Screenshot link (optional):
![billing-adress1](https://user-images.githubusercontent.com/25483058/3142765

[2017-10-11 08:10] F3000 opened #20051 "Community update 10 to 11"
Is there any possibility to update the Version 10 to 11?

I use centos 7 .

[2017-10-11 08:15] thegunshow commented on #19991
Hi

I dont mind the inelegant solution right now :)

The login from the app says "Server not reachable!" , using "
deepdivedata-master-staging-764.odoo.com"

[image: Inline image 1]

Database can also be seen at top right of screen...maybe make your life
easier

[image: Inline image 2]

On Wed, Oct 11, 2017 at 9:11 AM, Damien Bouvy <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2017-10-11 08:15] intero-chz commented on #19912
@Yenthe666 IIRC that issue will also fit to Odoo V10. Without l10n_xx module installed there are no accounts to set on partners, what will throws this warning on every create or write on res.partner.

[2017-10-11 08:16] F3000 commented on #19890
I have tried with odoo 3.5

i use yum localinstall odoorepro

But than i see the error in the picture
![unbenannt](https://user-images.githubusercontent.com/8161283/31429071-41229ee4-ae6d-11e7-95c6-79f59b95d5de.PNG)

I have installed all depencies

[2017-10-11 08:17] Yenthe666 commented on #20051
Hi @F3000,

Please keep the bug reports to issues that are only about bugs in the official code. You can ask these kind of questions on the official help forums (help.odoo.com).
You can either upgrade with the official upgrade platform, which requires an enterprise license (see upgrade.odoo.com) or through OpenUpgrade as an open source alternative (see https://github.com/OCA/OpenUpgrade). There is

[2017-10-11 08:17] #20051 closed

[2017-10-11 08:22] d-fence commented on #19890
@F3000 Do you mean on Centos ?
Can you explain the steps ? Did you use EPEL repos ?
I have to mention that I also tried the latest Centos with EPEL repos and friends but I did not manage to make it work. That's why we suggests Fedora26.

[2017-10-11 08:23] ged-odoo commented on #19627
to state the obvious, it is definitely an asset issue.  I think that we should have a simple mechanism to force the server to regenerate them.  But in the meantime, I may have a workaround (use at your own risk!!!):

- open Odoo in debug mode
- find the 'attachment' action (settings/database structure/attachment)
- go to list view (easier)
- filter on all attachment which starts with /web/content

[2017-10-11 08:26] dbo-odoo commented on #19991
You will not be able to access it using the odoo.com address, you *must* use a custom domain (so it only works with production instances at the moment). In any case, the url you provided does not exist. Are you sure you didn't mean deepdivedata-master-staging-764.**dev**.odoo.com?

So, to recap:
- the app does not currently work with *.dev.odoo.com urls **at all**
- you can access a production ins

[2017-10-11 08:32] Yenthe666 commented on #19627
@ged-odoo this is actually safe to do - I've done this a few times before too. You can also do this on database level by running an SQL to remove all the assets.
Is there any idea / roadmap for the asset regeneration?

[2017-10-11 08:38] osluys commented on #14062
@augustosamame If users are sharing a computer, then it is something that could happen to them. This behavior doesn't really have anything to do with switching databases (see my explanation further on down), so including the target DB in the URL doesn't prevent it.

[2017-10-11 08:46] osluys commented on #14062
@dreispt You can't reasonably expect end users (usually technically less literate) to remember to open a private session everytime they want to login using a shared computer. Ditto for using different browser profiles. The most likely scenario is that one user logs off of Odoo and another user logs in.

[2017-10-11 08:56] ged-odoo commented on #19627
@Yenthe666 I just created a task to add the feature in the debug manager. This is a good task for a junior dev, will be done in master in the next few days.

This does not really solve the underlying issue (assets not being properly generated or updated/maybe race conditions with less compiler/...), but it gives us a simple work around

[2017-10-11 08:57] thegunshow commented on #19991
Ok, so I completely misunderstood your previous explanation of what I
should connect to.

*"In the meantime, a possible workaround is to use a custom domain and
connect through there (in http though, no https with custom domains at the
moment). To do that however, you need to know the database name... You can
get it through the odoo.sh platform by opening a webshell on the production
instance and

[2017-10-11 09:03] thegunshow commented on #19991
Ok, Odoo.sh backup and running and I have the app working.

Last question, do you have time frames for the next deliverables like
backups etc.

Thanks for all the help. No more questions, so there is no github fatigue.

On Wed, Oct 11, 2017 at 10:57 AM, Brendan Gunn <brendan@gunn.co.za> wrote:

--
Kind regards
Brendan Gunn

[2017-10-11 09:14] osluys commented on #14062
The session expiration error occurs because an old window/tab from a previous login is sending a polling request to the Odoo server. The server receives the request and somehow determines that it is not from the same user and acts as if the current user's session has expired, thus kicking off the user and forcing a login again.

I have confirmed this by logging into Odoo as _admin_ and then middle

[2017-10-11 09:17] Yenthe666 commented on #19627
Awesome - thanks a lot!

[2017-10-11 09:17] F3000 commented on #19890
First i have installed all python3 depencies with pip3.5
. But i only see this in my picture.

the odoo RPM Repo is missing , so i cant install it with this

[2017-10-11 09:26] d-fence commented on #19890
@F3000 the problem is that installing python3 packages with pip does not fullfill the RPM package dependencies. You need the RPM versions of the python3 packages to be able to install the Odoo RPM package. We are working on the rpm repo but it will not work with CentOS 7. CentOS 7 is outdated for RPM python3- packages.

[2017-10-11 09:26] muntean commented on #19627
Thank you guys!

[2017-10-11 09:28] xmo-odoo commented on #19942
It looks like this has been fixed (likely by @tivisse in 1df6f4c74151d012f9ff784cef6eea58a5ac3b9e)

[2017-10-11 09:28] #19942 closed

[2017-10-11 09:30] F3000 commented on #19890
ok i will try it with fedora 26 .

On fedora can i install odoo with localinstall ?

[2017-10-11 09:30] d-fence commented on #19890
@F3000 yes, it should work out of the box

[2017-10-11 09:32] F3000 commented on #19890
ok thanks . I will reply after testing . But one problem i have is my company . We use only centos for the Servers.

When i understand it right , there must be a newer version from Centos that support python 3 out of the box ?

[2017-10-11 09:36] d-fence commented on #19890
AFAIK, the CentOs project is an unbranded RedHat and RedHat follows the Fedora baseline. So, the next RedHat should be based on Fedora 26 and then the CentOs version should follow. But I cannot give a timeline :-)

[2017-10-11 09:39] F3000 commented on #19890
a i understand :)

so you wait until that or did you try to make it compatible with the centos version at the moment ?

[2017-10-11 09:40] d-fence commented on #19890
We tried hard to make our RPM package compatible but it did not work.
But Odoo could probably work on CentOS 7 **when installed from sources**

[2017-10-11 09:43] #19911 closed

[2017-10-11 09:45] F3000 commented on #19890
great . The installation guide is up to date on your website for the **install from source** ?

[2017-10-11 09:46] dbo-odoo commented on #19991
You have to connect to
http://www.deepdivedata.co.za and it will connect you to the production build of your project since you set up this custom domain in your project's settings.

When the app ask you for the database name, you then have to input deepdivedata-master-staging-
764

Indeed we're having an issue this morning. Status updates will be posted on [@OdooStatus](https://twitter.com/OdooSta

[2017-10-11 09:50] d-fence commented on #19890
@mart-e just pushed an update here: https://github.com/odoo/odoo/commit/f5b2a4b0f294b509171f559ba6a4b548da8cb728
So the documentation page should be updated soon:
https://www.odoo.com/documentation/11.0/setup/install.html

[2017-10-11 09:55] F3000 commented on #19890
Thank you for your grat work 👍

I will write back when i finished the install

[2017-10-11 09:55] mart-e commented on #19911
The error was fixed and the interface should be clarified now

[2017-10-11 09:59] xmo-odoo commented on #19945
The issue should now be fixed in the 11.0 branch.

Although while that was not a factor here please note that you seem to be using Python 3.4 and we officially only support 3.5 and up.

[2017-10-11 09:59] #19945 closed

[2017-10-11 10:08] ged-odoo commented on #19390
@elgow @gdgellatly This is definitely unwanted behaviour (talking about the readonly thing).  When we rewrote the views, our priority was to reproduce the previous semantics, with test.  Obviously, when we found out that the previous behaviour was stupid/insane/wrong, we did the proper change.  I just think that we did not notice that the kanban view allow writing on readonly fields.  We definitel

[2017-10-11 10:14] gdgellatly commented on #14062
@dreispt There are better solutions to having multiple active sessions than private windows or seperate browsers.

Firefox Beta has support for multiple sessions built in https://testpilot.firefox.com/experiments/containers/
Before containers there was another extension - I forget the name.

Chrome has plenty of 3rd party extensions, I think the one I use is called SessionBox.

A must for developm

[2017-10-11 10:36] JosefKaser commented on #15573
@qdp-odoo
Please be aware of two things:

In Germany general ledger accounts do have 4 digits because most companies and tax consultants are using a CoA which is based either on the SKR03, the SKR04 or the IKR.

Debitor and creditor accounts do have 5 digits most of the time, following the recommendations of DATEV which is the key player in the software and service market for tax consultants and S

[2017-10-11 10:42] F3000 commented on #19890
![unbenannt](https://user-images.githubusercontent.com/8161283/31435948-9921a2a2-ae81-11e7-97b9-9cf4bbadd620.PNG)

Here i will get an error . I want to add the repo

[2017-10-11 10:51] F3000 commented on #19890
So i have added the repo with :

`dnf config-manager --add-repo=https://nightly.odoo.com/11.0/nightly/rpm/odoo.repo`

But after trying to install odoo  with `yum install odoo` there is a new error: Cannot sychronize the repo. Deactivated

Any idea ?

[2017-10-11 11:18] yostashiro opened #20054 "[11.0] 404: Page not found! when trying to pay with Stripe"
### Impacted versions:

11.0

### Steps to reproduce:

- Install eCommerce app.
- Install Stripe and publish it on website.
- Try to purchase something on website with Stripe.

### Current behavior:

You get redirected to an "undefined" page when you press "Pay Now" button.

### Expected behavior:

You stay on the same page and Stripe payment modal should pop up.

### Video/Screenshot link (option

[2017-10-11 11:20] #19875 closed

[2017-10-11 11:22] Yenthe666 commented on #20054
@tbe-odoo and @dbo-odoo could you guys look at this? (perhaps @csnauwaert)

[2017-10-11 11:31] qdp-odoo commented on #15573
thanks Josef for your clarification. It will then stay as it is now

[2017-10-11 12:18] dreispt commented on #14062
@gdgellatly :+1: I've been also using Firefox containers since that was released.

[2017-10-11 12:18] #20023 closed

[2017-10-11 12:52] d-fence commented on #19890
Repo is fixed, it should work now.

[2017-10-11 12:58] Guobower opened #20057 "Can not Creat database using Chinese Language"
Impacted versions: Odoo11-2017-10-11

Steps to reproduce:
1、Creat a new database，select Chinese Language（Simple）
2、Interface is english version
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-10-11 13:06] d-fence commented on #19890
At the end of install you probably will have to add this package manually and enable/start Odoo
[code]
I will update the rpm package soon, the missing package is a mistake

[2017-10-11 13:07] qsm-odoo commented on #18948
Hello, sorry for the delay, the issue has just been solved in 10.0 with https://github.com/odoo/odoo/commit/bc623461b3783da4767035f28e0f0ba59db82839

[2017-10-11 13:07] #18948 closed

[2017-10-11 13:09] mart-e commented on #19805
Hello,

As said Yenthe, you can register on the [Transifex project](https://www.transifex.com/odoo/public/) and request the language.
Closing as this is to be handled on Transifex.
You can [contact me](https://www.transifex.com/user/messages/compose/mart_e/) there if you have issues.

[2017-10-11 13:09] #19805 closed

[2017-10-11 13:32] dbo-odoo commented on #20054
Confirmed. Caused by an aggressive review process which improved the code globally but lost the stripe use case. I've reported the bug internally, opw-776200.

@yostashiro PM me on twitter with your email address and i'll add you as follower of the issue if you wish.

[2017-10-11 13:43] #20057 closed

[2017-10-11 14:02] Guobower opened #20062 "[11.0]Can not Load Chinese(CN)"
Impacted versions:
odoo11-20171011
Steps to reproduce:
1、Creat a new database, select language is Chinese(CN),
2、User interface display in english.
3、Load Chinese(CN), user interface display in english
4、Load Chinese(TW), user interface display in Chinese(TW)
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-10-11 14:20] janbec commented on #16781
@kalmenchia
I received a solution from @nim-odoo that adds three digits corresponding to the milliseconds at order creation. I haven't tested it yet as we need to update our core to make it work properly first but I believe it is an option. The milliseconds should be random enough to avoid double ids.

If you have the opportunity to test it, I'd appreciate your feedback:

[
![grafik](https://user-

[2017-10-11 14:45] F3000 commented on #19890
so repo is working fine . You should add the SElinux command to allow the connections.
`firewall-cmd --zone=public --permanent --add-service=http`
`firewall-cmd --zone=public --permanent --add-port=8069/tcp`
`firewall-cmd --reload`

But when i want to open the webpage i see only Timeout in all browsers.

Is there something missing in the FW ?

[2017-10-11 14:52] F3000 commented on #19890
![unbenannt](https://user-images.githubusercontent.com/8161283/31448356-866b3182-aea4-11e7-86df-e60dfa4d9fb9.PNG)

i think the service was not probably started

[2017-10-11 17:01] bosskopp opened #20066 "[11] Print model overview → no pages / empty PDF"
Impacted versions:
11 community and enterprise
tested @ https://demo.odoo.com

Steps to reproduce:

1. Enable dev settings
2. Goto Settings → Technical → Models
3. Select any model (e.g. account.analytic.account) to view model details
4. Click on Print → Model Overview

![bildschirmfoto vom 2017-10-11 18-45-23](https://user-images.githubusercontent.com/1733427/31454401-9ef40bbe-aeb5-11e7-92cf-54f5

[2017-10-11 18:27] vcloud9ray commented on #11973
Has anyone figured out how to add multiple default Sales Taxes to a product being shared between companies?

WIDGET - should have default Sales Tax of A and B.  I can't set defaults via the UI, I can't get Company Properties to work and I can't use the Accounting Settings configuration because it only supports one Tax.

[2017-10-11 18:41] bazemoreb commented on #18084
Thanks @tivisse - Will look through this and do some testing when possible.  Also not sure if you saw the PR I did to fix the tax generation from subscriptions.  First PR I've ever done, and looks like it has some conflicts but this is pretty important for anyone using subscriptions and accountcloud.  Easy fix, though.

https://github.com/odoo/enterprise/pull/1473

[2017-10-11 18:58] vcloud9ray commented on #11973
https://www.odoo.com/apps/modules/9.0/product_tax_multicompany_default/

[2017-10-11 20:41] thegunshow opened #20067 "[11.0 E] Installation failing - Dependency is not satisfiable: python3-gevent"
Impacted versions: 11 Enterprise

Steps to reproduce: Install on Debian Jessie

Current behavior: Install failing

Expected behavior: Sucessful

Video/Screenshot link (optional):

Download on 11/10/2017

gdebi /home/odoo_11.0+e.latest_all.deb
Reading package lists... Done
Building dependency tree
Reading state information... Done
Building data structures... Done
Building data structures... Done
Th

[2017-10-11 21:25] thegunshow commented on #20067
Looks like Deb 8 doesnt have repositories for Python 3.5, upgraded to Deb 9 and installed fine.

[2017-10-11 22:07] maitaoriana opened #20068 "[10.0] Payments Widget return account.move view"
Impacted versions:
10.0

Steps to reproduce:
1. Create Invoice
2. Validate Invoice
3. Register Payment
4. Open Payment
![payment](https://user-images.githubusercontent.com/17258001/31472493-18379ad4-aebd-11e7-852e-3264c8fee0f0.png)

Current behavior:
Open account.move of invoice
[Video 10.0](https://youtu.be/jYrMqJGSmeM)
Expected behavior:
Open account.payment of invoice
[Video 11.0](https://youtu

[2017-10-11 23:39] #20067 closed

[2017-10-12 01:17] rafaelbn commented on #10954
Well, I have to insist because mathematical logic.

Odoo have presented this year in [How to Achieve Higher Revenue and Faster Growth with Marketing Automation Campaigns](https://www.odoo.com/event/odoo-experience-2017-2017-10-02-2017-10-06-692/track/how-to-achieve-higher-revenue-and-faster-growth-with-marketing-automation-campaigns-1048) its `new marketing automation app` by Geoffrey Bressan, Dem

[2017-10-12 01:22] gdgellatly opened #20071 "Changed Search contexts are ignored by dependent views"
Impacted versions: since at least 10, maybe as early as 8.0.  Definitely worked as expected in 7.0.

@ged-odoo I noticed this a long time ago, but tbh it was at a time when Odoo was less than responsive to issues so I never reported it, but rather just left it as a known issue in an OCA module that fixed it, but I just came across it again and seeing we want a rock solid client I'll report now.

S

[2017-10-12 01:30] gdgellatly commented on #19239
@simahawk I'm pretty sure my issue is resolved and was going to close, but maybe you want to check yours first

[2017-10-12 01:31] gdgellatly commented on #20071
#16094 I lie I did report it before at least once.

[2017-10-12 01:33] gdgellatly commented on #16094
Closing in favour of the more generalised duplicate report in #20071

[2017-10-12 01:33] #16094 closed

[2017-10-12 03:16] totalard commented on #19960
Any status info of updation?

[2017-10-12 03:42] Angel92xu opened #20074 "Why isn't Taco Charlton making a big impact in his rookie season?"
Impacted versions:

Steps to reproduce:
Kristi Scales, the sideline reporter for the Dallas Cowboys radio network, answered your questions about the team during a live chat <a href="http://www.49ersprosale.com/colin-kaepernick-jersey-c-1_7.html">http://www.49ersprosale.com/colin-kaepernick-jersey-c-1_7.html</a> recently. Here are some highlights.
Question: Why isn't Taco Charlton seeing the field?

[2017-10-12 03:48] dnt83 opened #20075 "[11.0] UnicodeDecodeError when translate"
Impacted versions: 11 Community

Steps to reproduce:
1. Add new vietnamese lanague
2. Click translate in website
![ari homepage ari logistics](https://user-images.githubusercontent.com/5275039/31478449-a587cc88-af3a-11e7-8cd8-6e049a695f37.png)

IN Server raise error:
[code]
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-10-12 05:56] eduquintana opened #20077 "dependency is not satisfiable python3-pyldap in Odoo11"
Impacted versions: Odoo Enterprise 11

Steps to reproduce:
I download odoo_11.0+e.latest_all.deb from odoo website.

I am trying to install that in ubuntu 16.04

this are the steps I follow:

echo -e "\n---- Update Server ----"
sudo apt-get update
sudo apt-get upgrade -y

# Este instala la utilería vim para editar textos
sudo apt-get install vim

#  Este instala la utilería gdebi que me servirá pa

[2017-10-12 06:16] Yenthe666 commented on #20075
Hi @dnt83,

Thank you for your report.
I've just tried this on the latest Odoo 11 (at runbot.odoo.com) but couldn't reproduce the issue. Perhaps there is something odd in your custom page.
@xmo-odoo could this be one of those P3 conversion issues?

Regards,
Yenthe

[2017-10-12 06:21] Yenthe666 commented on #20077
Hi @eduquintana,

Have you actually tried to install the dependency?

[2017-10-12 06:23] milanpatel1519 opened #20079 "[11.0] Account Report Hierarchy menu"
Impacted versions: 11.0

Steps to reproduce: Invoicing -> Configuration -> Financial Reports -> Account Report Hierarchy menu

Current behavior: Opening form view

Expected behavior: Has to open Tree view

Video/Screenshot link (optional):

![account_report](https://user-images.githubusercontent.com/21196280/31482011-ddfafa5a-af43-11e7-8ae2-333c1046791d.png)

[2017-10-12 06:24] Yenthe666 commented on #20066
Hi @bosskopp,

Thank you for your report.
This is indeed a bug:
![image](https://user-images.githubusercontent.com/6352350/31482039-b654afcc-af26-11e7-952c-a72f121480e7.png)
@mart-e can you check this please?

Regards,
Yenthe

[2017-10-12 06:27] Yenthe666 commented on #20079
@qdp-odoo could you check & give feedback?

[2017-10-12 06:31] JulioSerna opened #20080 "[account] wrong journal item by COGS with invoice policy delivered quantities"
Impacted versions:
* 11.0

Steps to reproduce:
* Create product with real time valuation
* Invoice policy in delivered quantities
* Create sale and invoice

Current behavior:
The journal item of cogs is  cost(credit) stock valuation(debit)

Expected behavior:
The journal item of cogs is  cost(debit) stock valuation(credit)

Video/Screenshot link (optional):
https://www.youtube.com/watch?v=NEAhfXgJ

[2017-10-12 06:33] simahawk commented on #19239
@gdgellatly resolved where? :thinking:

[2017-10-12 06:36] eduquintana commented on #20077
I do not know how to install the dependency

[2017-10-12 06:40] gdgellatly commented on #19239
@simahawk tbh I'm not entirely sure.  It all got a bit confusing as there were unrelated commits as release approached which fixed some things, reverts of things that were broken and then actual commits related to this issue.  But for me latest v11 is working as expected.  Check for a commit in v11 by (@)aab-odoo whereby they increased the write depth of onchange fields.

[2017-10-12 06:41] lmignon commented on #19536
@rco-odoo Thanks to your fixes, the performances are better but don't allow our client to use Odoo to create sale orders with 200 lines. In our case, if we add one line, the onchange takes 14 seconds. Thanks to pyflame we have discovered the last bottlenecks and we are able to reduce the time spent to 3 seconds. Our fixes are stranges and are a way to force the prefetch in cases where we expect it

[2017-10-12 06:48] eduquintana commented on #20077
I tried to use
root@localhost:~# sudo apt-get install python3-pyldap
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package python3-pyldap
root@localhost:~#

[2017-10-12 07:09] d-fence commented on #19960
@totalard It's in progress, there is a server migration under the hood.

[2017-10-12 07:10] qdp-odoo commented on #20079
not an Odoo module.

[2017-10-12 07:10] #20079 closed

[2017-10-12 07:18] d-fence commented on #19890
As you see it's the psycopg2 module that is missing. That's the reason of the timeout, the Odoo server is not even started.
I updated the RPM to fix that : https://github.com/odoo/odoo/commit/7d45ca23e1920e0c8e261cec92335c4efddf196a
You can try this command :
[code]
And then restart Odoo systemd service unit.
[code]
I hope it helps

[2017-10-12 07:23] mart-e commented on #20062
Hello,

The v11 was not translated in Chinese yet.
I have added it on [Transifex](https://www.transifex.com/odoo/) so it should be good now.

[2017-10-12 07:23] #20062 closed

[2017-10-12 07:23] JulioSerna opened #20083 "[account] wrong cost used with fifo when use unique serial number"
Impacted versions:
* 11.0

Steps to reproduce:
* Create product with real time and FIFO and unique serial number
* Create purchase by 100 and receive with **123** serial number
* Create purchase by 120 and receive with **abs** serial number
* Create sale order transfer picking with **abs** serial number

Current behavior:
The journal entry by stock valuation is 100

Expected behavior:
The journal

[2017-10-12 07:30] simahawk commented on #19239
@gdgellatly the issue is not that the onchange does not work but that values are wrongly set.
@ged-odoo @aab-odoo is there a fix for this? If yes, any chance we can have the fix for v10 too?

[2017-10-12 07:51] Cedric-Pigeon commented on #19536
@rco-odoo We also noticed that the filtered function breaks the prefetch due a browse as return:
https://github.com/odoo/odoo/blob/10.0/odoo/models.py#L4994

By changing this lines to :
[code]
The response time of the onchange is divided by 3 in our case.

[2017-10-12 07:51] F3000 commented on #19890
I have added the package and have the same error . In another trying i didnt have the error .

Thanks i will install itwithe the new RPM.

Do you have also a ansible extension for odoo ?

[2017-10-12 07:55] d-fence commented on #19890
@F3000 about the ansible extension, AFAIK no we have not.

About the rpm, you have to wait that the build with the 7d45ca2 commit is finished.

[2017-10-12 07:56] xmo-odoo commented on #20075
@Yenthe666 like a lack of conversion issue more than a conversion one, but it's a bit odd as the default encoding for python3 `open` should be utf-8, not ascii. Looking into it.

[2017-10-12 08:02] rco-odoo commented on #19536
@Cedric-Pigeon the method `filtered` breaks the prefetch **on purpose**: use `filtered` to restrict yourself to a subset of records, and therefore do not expect the whole set to be prefetched.  This semantics is used in some places in Odoo, so don't modify it globally by patching the ORM.  Instead, use `with_prefetch` explicitly in the business code where you want to keep the prefetching object.

[2017-10-12 08:06] rco-odoo commented on #19536
@Cedric-Pigeon note that your change may make some code faster (because more prefetching) and other code slower (because too much prefetching).

[2017-10-12 08:08] milanpatel1519 commented on #20079
How come it's not an Odoo module.
It's in **account** module by **Odoo S.A.**.

Check Link: https://github.com/odoo/odoo/blob/11.0/addons/account/views/account_view.xml#L2192-L2214

[2017-10-12 08:09] #20000 closed

[2017-10-12 08:13] F3000 commented on #19890
that is in every night ?

[2017-10-12 08:14] Cedric-Pigeon commented on #19536
@rco-odoo Thanks for the tips. It works. It just left the problem of mapped pointed by @lmignon

[2017-10-12 08:14] d-fence commented on #19890
Every morning, I just checked, it's in progress.

[2017-10-12 08:16] rco-odoo commented on #19536
@Cedric-Pigeon which call to `filtered` did you modify? If it is in our code, I would be glad to fix it.

[2017-10-12 08:23] Cedric-Pigeon commented on #19536
@rco-odoo I changed some on custom code. But it would be glad if you could rework this method:
https://github.com/odoo/odoo/blob/10.0/addons/sale_stock/models/sale_order.py#L111

The super is called in a loop preventing a work by batch.
Rewriting like this is much better and strongly improves performances on huge databases:
[code]

[2017-10-12 08:23] rco-odoo commented on #19536
@lmignon I am curious about that one, because 10412d351cc4ba66ff4d10879d22535fc4e3e222 should have fixed it. I basically reimplemented the computation of related fields following the same approach as `mapped`'s implementation: one field at a time on all records. It should guarantee optimal prefetching on every field access. I was able to observe the impact: it makes fields computed in batch instea

[2017-10-12 08:26] F3000 commented on #19890
top . I will write back when i have tested again :)

[2017-10-12 08:28] Cedric-Pigeon commented on #19536
@rco-odoo To be complete to have a good prefetching on this sale method, we had to add
[code]
before the filtered line. Otherwise the prefetching is not good.

As a measure, with all these points,  an onchange on a so with 230 lines failed from 15,2 sec to 2.4 sec.

[2017-10-12 08:40] rco-odoo commented on #19536
@Cedric-Pigeon I guess you meant "**falled** from 15,2 sec to 2.4 sec" :smiley:

[2017-10-12 08:46] Cedric-Pigeon commented on #19536
@rco-odoo Keyboard issue ;-)

[2017-10-12 08:48] rco-odoo commented on #19536
I propose to rewrite the method as follows. Can you confirm it works well?
[code]

[2017-10-12 08:52] sle-odoo commented on #20083
Hi @JulioSerna
This is actually how financial FIFO is [supposed to work](https://en.wikipedia.org/wiki/FIFO_and_LIFO_accounting): the lot you chose dos not matter, the price is computed according to the order of received prices. In you usecase, if you make a second sale order, the second price (12) will be chosen to value the out move.

Regards

[2017-10-12 08:52] Cedric-Pigeon commented on #19536
@rco-odoo I have a doubt. What about the else condition ?

[2017-10-12 08:52] #20083 closed

[2017-10-12 08:55] rco-odoo commented on #19536
@Cedric-Pigeon computed fields are always initialized to `False` before calling their compute method. That's why the loop that assigns to `False` is redundant.

[2017-10-12 08:57] Cedric-Pigeon commented on #19536
@rco-odoo Great for me than. I tested and performances are really good.

[2017-10-12 08:57] shahinism commented on #19511
Upgrading to the latest version of `psycopg2` (2.7.3.1) solved the issue for me.

[2017-10-12 08:59] lap-odoo commented on #18572
@ploegvde I understand it's not the ideal, but it's good workaround for now.

Would you be able to provide me the list of taxes and, tax per tax, define if it should be in the product or service column ? We will update the code accordingly.

[2017-10-12 08:59] rco-odoo commented on #19536
@Cedric-Pigeon I made a branch with the proposed rewrite, and will merge it as soon as the runbot confirms nothing is broken.  Thanks a lot for spotting this badly written method!

[2017-10-12 09:03] lap-odoo commented on #18572
We are now ready to start the second phase of development for the Dutch Localization.

What do you suggest ?
- Specific Balance Sheet Report ?
- SBR Reports ?

I'm waiting for your suggestions and detailed information.

Thank you

[2017-10-12 09:08] zeroheure commented on #19692
To repair, just update the Delivery Costs (technical name `delivery`) module either on the broken database or on a restored backup.

[2017-10-12 09:08] #19692 closed

[2017-10-12 09:42] d-fence commented on #19960
@totalard up and running !
But the actual deb does not yet reflect 347acbb4c2cded737b4282614c243cbbd6d5a85f
So the deb will install smoothly in Stretch but not on Xenial.

[2017-10-12 10:14] Yenthe666 commented on #20068
@qdp-odoo is this desired behaviour?

[2017-10-12 10:14] Yenthe666 commented on #19511
@d-fence maybe something else for you to check while you're on dependencies and installers?

[2017-10-12 10:18] mart-e commented on #13169
Closing as it seems solved (tested again on 9 and 10 without issue)

[2017-10-12 10:18] #13169 closed

[2017-10-12 10:19] xmo-odoo commented on #20075
@dnt83 are you per chance running Odoo on Windows?

[2017-10-12 10:20] mart-e commented on #6756
8.0 is no longer supported but the issue should be fixed in upper versions

[2017-10-12 10:20] #6756 closed

[2017-10-12 10:23] mart-e commented on #4047
Hello,

Thank you for your contribution but the branch is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.

Regards

[2017-10-12 10:23] #4047 closed

[2017-10-12 10:24] mart-e commented on #8588
Hello,

Thank you for your contribution but the branch is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.

Regards

[2017-10-12 10:24] #8588 closed

[2017-10-12 10:24] ploegvde commented on #18572
What i think is most important is how can we help our V10 customers with the legally required ICP report?

[2017-10-12 10:24] mart-e commented on #8601
Hello,

Thank you for your contribution but the branch is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.

Regards

[2017-10-12 10:24] #8601 closed

[2017-10-12 10:49] pedrobaeza commented on #19536
The `self.mapped('product_id')` shouldn't be done also on original method on `sale` module when you don't have sale_stock installed?

Thanks any way for the good "live" performance session.

[2017-10-12 11:24] pedrobaeza commented on #19158
Is this still happening?

[2017-10-12 11:24] Yenthe666 commented on #3035
Hi @oitsuki,

Thank you for the report.
Odoo 8 is no longer supported as a stable version (Odoo goes back three versions).
This problem is however fixed in the newest versions!

Regards,
Yenthe

[2017-10-12 11:24] #3035 closed

[2017-10-12 11:25] Yenthe666 commented on #3062
Hi @damlu,

Thank you for your report. As I can not reproduce it either and as Odoo 8 is no longer supported as a stable version I'm closing this report.

Regards,
Yenthe

[2017-10-12 11:25] #3062 closed

[2017-10-12 11:27] Yenthe666 commented on #2979
Hi @michaelkarrer81,

Thank you for your report.
This should have been fixed in https://github.com/odoo/odoo/commit/f30ab4a9904854c251a3e669cd20fe35bc7e9627 and as Odoo no longer supports Odoo 8.0 I'm closing this report.
If you can reproduce it in 9.0, 10.0 or 11.0 then please create a new report.

Regards,
Yenthe

[2017-10-12 11:27] #2979 closed

[2017-10-12 11:29] Yenthe666 commented on #3069
Hi @svenpetersen,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-10-12 11:29] #3069 closed

[2017-10-12 11:30] Yenthe666 commented on #3094
Hi @nbessi ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-12 11:30] #3094 closed

[2017-10-12 11:35] Yenthe666 commented on #3473
Hi @sys-odoo ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-12 11:35] #3473 closed

[2017-10-12 11:35] Yenthe666 commented on #3404
Hi @oitsuki ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-12 11:35] #3404 closed

[2017-10-12 11:35] Yenthe666 commented on #3314
Hi @thomich ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-12 11:35] #3314 closed

[2017-10-12 11:36] Yenthe666 commented on #3313
Hi @falinwa,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-12 11:36] #3313 closed

[2017-10-12 11:40] Yenthe666 commented on #3291
Hi @mvaled ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-10-12 11:40] #3291 closed

[2017-10-12 11:41] Yenthe666 commented on #3307
Hi @rainberg,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-10-12 11:41] #3307 closed

[2017-10-12 11:42] Yenthe666 commented on #3150
Hi @javierjcf ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-10-12 11:42] #3150 closed

[2017-10-12 11:42] Yenthe666 commented on #3142
Hi @svenpetersen ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create

[2017-10-12 11:42] #3142 closed

[2017-10-12 11:43] Yenthe666 commented on #3096
Hi @lepistone,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-12 11:43] #3096 closed

[2017-10-12 11:43] Yenthe666 commented on #3227
Hi @rdeheele ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-10-12 11:43] #3227 closed

[2017-10-12 11:44] Yenthe666 commented on #3174
Hi @user,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug

[2017-10-12 11:44] #3174 closed

[2017-10-12 11:58] edsersolis commented on #14502
The entry shouldn't be removed but instead a reversal entry should be generated.

This is a step which we're happy of and better than it was, but thinking on the accounting audit side the entry shouldn't be removed but reversed with another entry when voided. Although most customers that don't aren't much into accounting and don't think on the auditing side will be OK with this approach.

[2017-10-12 12:03] qdp-odoo commented on #20079
ok, my bad: I didn't even know there was a way to get this old menuitem back since it should have been removed given that the accounting app is not in community anymore.

Moreover, the hierarchical tree view has been removed since saas-16 and this menuitem's purpose is gone with it. "Fixed" by the revision https://github.com/odoo/odoo/commit/8c8af672dd10abcc13beb4e91790b63c796a8b03 though

[2017-10-12 12:05] rco-odoo commented on #19536
@pedrobaeza I was thinking about that one, too. But that would mean that prefetching does not work so well...

[2017-10-12 12:15] ged-odoo commented on #19826
@gdgellatly  is this an intuitive behaviour? I find it weird that tabbing on a line moves the focus to the line above that.  Also, the behaviour in 11.0/saas-18 is the same as before (I just checked saas-15).

I think that this makes sense rationally, because I like symmetry (and it would probably better for entering data), but this does not look so good from a usability perspective (for navigatio

[2017-10-12 12:37] rco-odoo commented on #19536
@Cedric-Pigeon I could not reproduce the prefetching issue in `_compute_qty_delivered_updateable`. I tried @lmignon's test file, after making half the products of type 'service', but the timings remain the same.

[2017-10-12 12:37] nbessi opened #20098 "Website video media widget does not support multi lang environnement"
Impacted versions:
10
Steps to reproduce:

Create a website,
install many lang on the website via the website admin menu.
On any page instanciate a media/video widget

Current behavior:

In the media widget, you can set an URL to your video, but you can not translate it or set
a language detection for video platform that support this kind of feature.

Expected behavior:

When I publish a video on

[2017-10-12 12:52] lmignon commented on #19536
@rco-odoo Unfortunately, I'm not surprised. We can't understand how we get there.  In in some weird conditions when we traverse a relation to get access to a field inherited from 'inherits' (line.product_id.type)
the call to `record._in_cache_without(self)` https://github.com/odoo/odoo/blob/10.0/odoo/fields.py#L1020 return only one records... :cry:

[2017-10-12 12:57] ged-odoo commented on #20071
@gdgellatly This looks indeed useful.  However, I just tested as you suggested, and I can see that the webclient actually send the pricelist key ('usd' or 'eur' in my test) in the context of the search_read (when reloading). So, in this case, it seems that the problem is actually in the business code for product.product, which does not take the key into account, when computing the value of lst_pri

[2017-10-12 13:18] Yenthe666 commented on #20098
@JKE-be I believe you'd like this one. 😄

[2017-10-12 13:20] ged-odoo commented on #19995
sorry, @sswapnesh I cannot reproduce this issue in version 11.0, community or enterprise.  The runbot link that you show is dead, so I had to try on a new database, and it works.

Do you have more detailed steps that could lead to this crash?  Something like adding a specific view to the dashboard?

[2017-10-12 13:22] Yenthe666 commented on #19995
I've just tested on the latest runbot too and it seems to be fixed in the meanwhile. @sswapnesh can you try again for us buddy?

[2017-10-12 13:28] rquevedo commented on #14127
Im install these (http://ftp.debian.org/debian/pool/main/w/wkhtmltopdf/wkhtmltopdf_0.12.1-2_amd64.deb) in stretch successfully

[2017-10-12 13:33] gdgellatly commented on #20071
@ged-odoo don't worry about the code, thats not important here.

Worry about the fact that a context key is set and its purpose is to make a column visible, but the column remains invisible.  Some detail on this particular view is their are two price fields.

list price and pricelist price.  When you choose a pricelist, the price column should become visible.

To see it working properly, you could

[2017-10-12 13:36] ged-odoo commented on #20071
ooh i see

[2017-10-12 13:40] JKE-be commented on #20098
Hello,

It is not really considered as a bug.
The only workaround until now is to add a t-if lang inside the html_editor.

A task exists to improve it and make alt image translatable e.g. That will be probably improved for the next version.

Thanks for the feedback.

[2017-10-12 13:49] thegunshow opened #20099 "[11.0 E] Exception: bus.Bus unavailable"
Impacted versions: 11.0 Enterprise

Steps to reproduce: Set worker > 0

Current behavior: Slow response and pages dont load

Expected behavior: Odoo should be faster with worker > 0

Video/Screenshot link (optional):

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exceptio

[2017-10-12 13:54] yung-wang commented on #18572
Hi Laura, do you know if any of these localization will be available for the community version? Because since v11 the bookkeeping functionality is hidden in the community. So we are working here for the localization (to improve the requirement by law) I hope this will be also available in the community version.

[2017-10-12 13:56] gdgellatly commented on #19826
@ged-odoo Personally I don't find editable="top" intuitive to start with.  But my usability argument would go something like this:

The purpose of an editable tree view is to enable the quick entry of data.  When editable="bottom" when I tab to the end of the record, or press enter when in Create mode (not edit) I get a new record.  Why should editable="top" be any different in this behaviour?  If

[2017-10-12 13:57] sngnt opened #20102 "The company logo is not displayed in the upper left corner"
# **# I cleared the browser cache and the issue was fixed**
![image](https://user-images.githubusercontent.com/5066447/31499874-2ede3710-af90-11e7-8538-cdbb1a5d34bc.png)

[2017-10-12 13:59] gdgellatly commented on #19826
I should point out in edit mode, I agree - it should behave as editable="bottom" and cycle downwards through records, only create mode should continue creating records.

[2017-10-12 14:02] sswapnesh commented on #19995
I got new error.

Steps to reproduce:[http://270780-11-0-04a110.runbot14.odoo.com](http://270780-11-0-04a110.runbot14.odoo.com) --> Go to Main Dashboard.  (First create dashboard for any object and than uninstall that module)

It will give `"server application error"` in console.

Same way it works in v10.

[2017-10-12 14:08] qdp-odoo commented on #20068
that was the desired behavior in v10, because this would work also if there is no account.payment object (manual payment entry for example) but it changed in v11, tough, to open the account.payment if there was one, default to account.move otherwise.

So not a bug, yet not ideal I conceed

[2017-10-12 14:08] #20068 closed

[2017-10-12 14:15] F3000 opened #20103 "Odoo 10 Apps list display error"
![unbenannt](https://user-images.githubusercontent.com/8161283/31500700-6a71dd7c-af68-11e7-9640-9bdd7bcde276.PNG)

when you look at this picture you cann see that the description is not displayed correctly

[2017-10-12 14:18] ged-odoo commented on #19995
ah, I see. The dashboard code does not handle well the fact that the action does not exist anymore.  This is indeed a problem.

[2017-10-12 14:22] setterlee commented on #16151
Maybe this is very important not Only for shifts, if there is a unexpected power cut on the restaurant at the middle of the Day? where is the all orders? only in papers printed at the kitchen? very very scary :S

[2017-10-12 14:26] ged-odoo commented on #20071
When we rewrote the views, we kind of assumed that the invisible attribute (not the modifier) was static. Then, we had to make sure it is evaluated, because it can actually depends on the context. But we did not think of updating its value when the context changes.

This is indeed a bug, but since it was here for a long time, I will assume that this is not urgent. I added it to our internal list o

[2017-10-12 14:27] setterlee commented on #16151
This is very important not only for the shifts. If there is an unexpected power cut? Where is the all Order? printed on the kitchen full of grease? LOL. I'm using the odoo 9, I'll be to glad if the Solutions is implemented in that versión too please!!!

[2017-10-12 14:34] sswapnesh commented on #19995
@Yenthe666  @ged-odoo
Finally I generated the error Which I got previously

Steps to reproduce: [http://270871-11-0-055c03.runbot8.odoo.com](http://270871-11-0-055c03.runbot8.odoo.com)--> Add two Items to Dashboard. --> Delete one of  it and refresh.

Error:
Uncaught SyntaxError: Unexpected token o in JSON at position 1

[code]

[2017-10-12 14:37] Yenthe666 commented on #20102
@mart-e this looks a lot like the 8.0 version where images never came true?

[2017-10-12 14:40] sle-odoo commented on #20035
@deivislaya Hi, would you have a look at the proposed patch and testcases? thanks

[2017-10-12 14:45] maitaoriana commented on #20068
I understand @qdp-odoo and thanks for your prompt response. But then, is there a way to access the account.payment from the invoice or from the account.move? Also, it is confusing that the button has the label "Open Payment" and it shows the account.move.

[2017-10-12 14:53] sswapnesh opened #20108 "[11.0] Could not open Bill of Materials Structure"
Impacted versions: [11.0 c/e]

Steps to reproduce: Go to BOM --> Open Bill of Materials Structure

Current behavior: It open new form view for mrp.bom.line
[http://270780-11-0-04a110.runbot14.odoo.com](http://270780-11-0-04a110.runbot14.odoo.com)
![1](https://user-images.githubusercontent.com/16624719/31502572-1f665a7e-af8b-11e7-9859-67973e75e2cb.png)

[http://270871-11-0-055c03.runbot8.odoo.com](

[2017-10-12 15:01] rco-odoo commented on #18971
@zaoral this is not a bug. A log entry appears every time the record is modified, which includes the user modification, **and** all subsequent modifications made by the ORM, like computed fields and such things.

You can actually track changes to a specific field. In the server action that is triggered by an update, the context contains a key `old_values` with the old values of the modified fields

[2017-10-12 15:01] #18971 closed

[2017-10-12 15:02] Yenthe666 commented on #20108
I honestly don't see the problem? When you click on the menuitem `Bill of materials` it opens the tree view of the BOM, as it should be.

[2017-10-12 15:04] sle-odoo commented on #20080
@JulioSerna
Hello, thanks for your report but i just made the same scenario in version 10 and the entries are the same:
- expense account: debit 120 credit 0
- out account: debit 0 credit 120

Could you please test in version 10 and confirm me that i did not miss a step in reproducing your usecase and that the resulting entries are the same across version 10 and 11? That would be super useful.

Re

[2017-10-12 15:07] Yenthe666 commented on #20103
This one has been around for quite a while though. @mart-e perhaps it is time to fix the overflow though.

[2017-10-12 15:09] sswapnesh commented on #20108
Open form view-->Action--> BOM Structure

[2017-10-12 15:16] F3000 commented on #20103
Ok .

When my Odoo 11 installation is finished , I will look if there is the same problem .

[2017-10-12 15:33] sle-odoo commented on #20108
It's because of the tree view removal in the new webclient. The actions and tree view were not deleted accordingly.

[2017-10-12 15:38] #20108 closed

[2017-10-12 15:49] vcloud9ray commented on #14502
If you take the position that the entry shouldn't be removed, then you could also take the position that you should not allow cancelling of the payment, but should refund the payment by creating a Refund Invoice and reconcile it with the payment.

The way most of my Customers see it is (1) either you are allowed to edit a posted entry or (2) you are not.  If you are, then deleting is an edit.  If

[2017-10-12 15:50] Timodz commented on #20077
I got it working by installing the missing file
http://ftp.us.debian.org/debian/pool/main/p/python-vobject/python3-vobject_0.9.5-1_all.deb

[2017-10-12 16:20] #16118 closed

[2017-10-12 16:54] nhomar commented on #18971
lovely @rco-odoo this helps A LOT!

[2017-10-12 17:10] elgow commented on #19390
@ged-odoo Please see my earlier comment explaining why a field that is not read-only for a given user/group may want to be read-only in a kanban view. I can easily make a field writable from one form and not from another, no? Why should kanban be different, especially when the writes that it can do always copy a value from another record? I take it that you agree that there is value in being able

[2017-10-12 17:19] jorenvo commented on #16151
@setterlee If there is a power cut your orders would be fine. You would open the POS again by clicking on 'Resume session' and all open orders would be there. This issue is about open orders being discarded when someone closes the POS session.

[2017-10-12 17:55] #20077 closed

[2017-10-12 18:25] zaoral commented on #18971
Thanks @rco-odoo for the solution.
This is really helpful, and it was exactly what we were looking for.

Best Regards

[2017-10-12 18:43] elgow commented on #19390
@ged-odoo @gdgellatly Actually, because kanban does not follow the usual edit/save/discard pattern it's far more important to be able to make fields read-only in kanban than in other views. Once a card is dragged and dropped in kanban the DB write takes place immediately and there is, AFAIK, no undo button. I work in a hospital. Imagine if someone drags a kanban card for a patient and changes a te

[2017-10-12 20:08] deivislaya commented on #20035
LGTM +1

[2017-10-12 20:58] ged-odoo commented on #19390
@elgow what are you talking about? noone said "that's as designed".  Also, @gdgellatly is totally correct, you should not rely on the kanban view to enforce a business requirement.  Even when we will fix this one, nothing prevents someone from doing a rpc to write on a record with a little javascript.  The only proper security needs to be done by the server.  Sometimes with ACL/groups, sometimes w

[2017-10-12 21:07] elgow commented on #19390
My apologies, I responded to you from @gdgellatly's response of

You responded that you will be fixing the move of read-only model fields, and I do appreciate that. It does not, however, solve the problem.

As I detailed in my comments, I see the problem in the way that the kanban view permits unsophisticated users, who aren't going to make an rpc call from code, to make changes that they should n

[2017-10-12 21:12] elgow commented on #19390
@ged-odoo To your point "If you have a record that should not be updateable in some case, then you need to prevent that in python.", can you elaborate a bit? If I have a field that should be writable by a user from a form view but not from a kanban view, how can I tell on the server side which view is trying to write to the field? That would be a requirement if I'm to follow your advice.

[2017-10-12 22:03] gdgellatly commented on #19390
Setting a context flag would do it easily enough.  Hundreds of example of that in the code although not for this specific case.  Usually its for calculating computationally expensive fields that are of no point or not creating secondary records when you have 2 create functions for an inherited object.

[2017-10-12 22:13] elgow commented on #19390
@gdgellatly I'm sorry for being obtuse here, but there's one thing I don't understand. Since the kanban view with group-by exposes all model fields w/o my having referenced them in the view, where would I set the context flag? If a user does group-by on a field that I've not named in the view and then drag/drop writes to that field wouldn't the write include only that field, an not other fields wi

[2017-10-12 22:35] elgow commented on #19390
@gdgellatly @ged-odoo I'd like to suggest a solution to what ails the kanban view. It has two parts:

1) Make the readonly="True" setting on a field work as one would expect it to based on its behavior in other view types.

2) Provide an explicit means to specify the fields that will appear in the group-by drop down. This could be modeled on the search view, as that provides a very nice, intuitive

[2017-10-12 22:58] gdgellatly commented on #19390
@elgow  You could do your second point in under a minute yourself just by overriding the search view template and remove/comment the add custom group href.  Then you would only have explicit groupby's in the UI.

[2017-10-12 23:13] elgow commented on #19390
@gdgellatly Wow. Thank you. That is fantastic. I need to study the search view template and see how this will work, but if it's that simple then my problem is mostly solved. I can eliminate most fields from the group-by to avoid any unwanted writes. Depending on how the move of read-only fields issue gets solved this may be a 100% fix of every concern I've expressed in this issue.

Thanks again.

[2017-10-12 23:28] gdgellatly commented on #19390
@elgow Note the could rather than should, beware the unintended consequences.  Personally its something I'd never consider doing, just because I don't believe I can anticipate every user requirement, but I suppose if it's one tightly controlled site it might be OK.  A proper implementation would probably be to override the Groupable widget of search views (sorry I forget the name, I'm at a Windows

[2017-10-12 23:41] gdgellatly commented on #20071
@ged-odoo at your leisure, funnily enough it doesn't solve my actual issue, which was trying to get a context dependent editable flag on a tree view, essentially something like this

[code]

But I can workaround with two menu entries.

[2017-10-13 00:20] Guobower opened #20112 "[11.0]Can not enable workorder in community editon"
Impacted versions:
11.0
Steps to reproduce:
1、Odoo11 Release Note declare Work Center Control Panel & Work Order Steps are in community editon，but setting option is Enterprise actually。
2、Workcenter & Workorder function code are both in community editon, but can not install properly by the Enterprise option.
Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-10-13 03:24] wtaferner opened #20116 "[11.0] JS Webclient Issue: Integer fields in modal in another language than English (i.e. Payment Terms)"
**Impacted versions:**
11.0

**Steps to reproduce:**

- Go to the ```account.payment.term``` form view in another language than the base (English)
- Go to Edit Mode and open the Terms (```line_ids```)
- Change the Integer Field in the modal dialog and "save" it. You can immediately see that the field will not be taken correctly into account (zero instead of any number)
- Finally save it and it wil

[2017-10-13 03:34] kalway-tony opened #20117 "Dashboard view translate bug"
Impacted versions:
10.0

Steps to reproduce:
translate po file by Poedit（English to Chinese）
then import translation

Current behavior:
some translated，some not.

Expected behavior:
all translated.

Video/Screenshot link (optional):

![helpdesk](https://user-images.githubusercontent.com/31125609/31529228-85f3dda0-b00a-11e7-9b4e-e21813900e81.png)

[2017-10-13 03:51] khishigbat commented on #19907
Can somebody please solve this?
I would be very happy. :)

[2017-10-13 03:58] wtaferner opened #20118 "Uninstalling the module website_quote will delete a field which is also implemented in website_sale"
**Impacted versions:**
10.0 and above

**Steps to reproduce:**

- Go to runbot to a database having all modules installed.
- Uninstall the module ```website_quote```
- Try to access the App Website (Traceback was in 11.0, found the issue in 10.0)
Maybe you need to try to access the field somewhere else...

**Current behavior:**

<details>
  <summary>Click for Runbot Traceback</summary>

[code]
</d

[2017-10-13 03:59] gdgellatly commented on #20116
related? #17850 - I never thought about, but the language I was using was en_au that day.

[2017-10-13 05:02] sswapnesh opened #20119 "[11.0 e] Can not print Cost Analysis report for Manufacturing order"
Impacted versions: 11.0 e

Steps to reproduce: Go to [http://270891-11-0-349612.runbot14.odoo.com](http://270891-11-0-349612.runbot14.odoo.com) Manufacturing Orders --> Select Order and Print Cost Analysis report
 or Open Order MO/00025 and Print Cost Analysis report
Current behavior:
[code]

![](https://image.prntscr.com/image/RyNV6sHISjuEW8m3HaejdA.png)

Expected behavior: Should Print report.

[2017-10-13 05:18] ged-odoo commented on #20116
@wtaferner I could not reproduce the issue on the runbot.  What language did you use? german?  Did you do it on runbot with base or all addons?

[2017-10-13 05:25] ged-odoo commented on #20116
@wtaferner any chance that your issue comes from this? https://github.com/odoo/odoo/commit/b8dac2ff32d2e875e2f43c91f702e17adc938f7e

[2017-10-13 05:42] wtaferner commented on #20116
@ged-odoo
I was reproducing it on runbot enterprise and the language does not matter...I found out in German on my instances but reproduction was in French (BE) on runbot.
Not sure about the commit you linked...but by now it is present...don't know what you do differently on runbot that you can not reproduce.

@gdgellatly
Nope, I doubt it is related...I think it is about the brand-new and beautifu

[2017-10-13 06:01] sswapnesh opened #20121 "[11.0] Multiple Invoices for Sales Order regardless of Invoice state."
Impacted versions: 11.0

Steps to reproduce: Go to --> [http://270891-11-0-349612.runbot14.odoo.com](http://270891-11-0-349612.runbot14.odoo.com) Sales Order tree view --> Select Order and Invoice Order.

Current behavior: It creates invoice for only one Sales order (Without taking care of Sale Order State)
Same Way from Form view we can create multiple invoices for same Sales order.

![](https://

[2017-10-13 06:26] gdgellatly commented on #20116
@wtaferner I just tested your case and sorry I am not sure how you can so easily say they aren't related, as the reproduction is identical.  An integer field without a default > 0 always remain zero.

[2017-10-13 06:27] sswapnesh opened #20124 "[11.0] Action is visible even after not adding "client_action_multi" in act window."
Impacted versions: [11]

Steps to reproduce: Go to [http://270891-11-0-349612.runbot14.odoo.com](http://270891-11-0-349612.runbot14.odoo.com)  --> Open any tree view select records

Current behavior:  All the action will be visible even if "client_action_multi" is not added in Act window.

![](https://image.prntscr.com/image/aYfwsJoRRlyjoEN1X6u3jA.png)

![](https://image.prntscr.com/image/4_KMQ134

[2017-10-13 06:49] adrien3d opened #20125 "Scrapping unavailable for basic users"
Impacted versions: 10.0-20170207 (Community Edition)

Steps to reproduce: Log-in as a basic user, go to inventory and go to scrap, there is no button to create a scrap button.
Or go in the Initial demand tab in Receipt, delivery order, or Internal transfer, no way to scrap a product.

Current behavior: Impossible to scrap a product for a basic user

Expected behavior: Let the same behaviour to the

[2017-10-13 06:50] adrien3d commented on #15022
I think this is happening again when you try to post a new question on the forum.

[2017-10-13 07:04] sswapnesh opened #20126 "[11.0] Can create employee without name"
Impacted versions: [11.0 c/e]

Steps to reproduce: Create employee without filling any data

Current behavior:

![](https://image.prntscr.com/image/TbWUearnS22dzKM-T-JFnA.png)
To create employee without name--> Create employee with name --> After saving record remove name and Save it.

Expected behavior: Name should be required.

Video/Screenshot link (optional): https://prnt.sc/gwth4e

[2017-10-13 07:09] F3000 commented on #19890
I'm afraid now .

When i install Version 10 with your instaructions , there is all fine .
When i install Version 11 with your instruction i must stop at `yum install odoo`.
I can add the repo , but it doesnt find the package odoo ;(

Any idea

[2017-10-13 07:11] d-fence commented on #19890
I'm going to check of all went after the migration well this night.

[2017-10-13 07:28] #18995 closed

[2017-10-13 07:30] Yenthe666 commented on #18995
@gdgellatly all fixed - thank you for reporting.

[2017-10-13 07:41] d-fence commented on #19890
Ok, it's fixed.
I think that 'yum' is deprecated. You should use 'dfn'.
I'm going to update the documentation accordingly

[2017-10-13 07:42] Yenthe666 commented on #20124
@xmo-odoo perhaps one for you?

[2017-10-13 07:43] Yenthe666 commented on #20112
@jco-odoo could you have a look?

[2017-10-13 07:44] Yenthe666 commented on #20121
@qdp-odoo this looks like one for you to check 😄

[2017-10-13 07:51] Yenthe666 commented on #20119
Hi @sswapnesh,

Thank you for your report - this is indeed a bug:
![image](https://user-images.githubusercontent.com/6352350/31535638-146e9c96-affc-11e7-9a2b-1b9d425c18fe.png)
The problem is because of the Python 3 changes. Problem is at this line:
https://github.com/odoo/enterprise/blob/34961203551b37f18df657101ef4b36142967b4a/mrp_account/reports/mrp_cost_structure.py#L51

@xmo-odoo can you fix?

[2017-10-13 07:54] Yenthe666 commented on #20117
Hi @kalway-tony,

Thank you for your report.
You should handle translations on Transifex though (https://www.transifex.com/odoo/)
For more information see our official guidelines at https://github.com/odoo/odoo/wiki/Translations

Regards,
Yenthe

[2017-10-13 07:54] #20117 closed

[2017-10-13 07:54] Yenthe666 commented on #20125
@jco-odoo was this done on purpose and if so, why?

[2017-10-13 07:55] Elkasitu commented on #20118
@wtaferner Hi, you are right and there is data loss involved, I will talk to Raphael about it and keep you posted, thanks for letting us know.

[2017-10-13 07:57] wtaferner commented on #20116
@gdgellatly
Hmm, sorry to say that...from my point of view it is not related...I tested the exact same use case in my own 10.0 instance and there there was no issue. So I guess it is somehow related but not exactly the same ;-)

[2017-10-13 08:09] wtaferner commented on #20118
@Yenthe666
Framework not Website ;-)

[2017-10-13 08:12] Yenthe666 commented on #20118
@wtaferner it is in a website related module and it is not a framework functionality that is broken but a logical flaw. (my five cents 😄)

[2017-10-13 08:14] JKE-be commented on #15022
Hi

I have just tested now with a new user, and my own account, and both works as expected.

Are you sure that you don't try to post an external link or other things that text without enough karma?

[2017-10-13 08:35] jco-odoo commented on #20112
Indeed. As mentioned on the community list, this has been done because we need quality steps for the work orders in enterprise and one way to do it, is to activate the security group in the user.  Need to check.

[2017-10-13 08:44] sharkutz opened #20129 "V10- Theme ZAP - missing dependecy theme_treehouse"
Impacted versions: V10

Steps to reproduce:
1.Buy theme ZAP from odoo online
2. download
3. install

Current behavior:
Error message: It depens on theme_treehouse that is not present in your system

Expected behavior:
Dependencies should be available in the ZIP of theme ZAP when downloading

Video/Screenshot link (optional):

[2017-10-13 08:59] mart-e commented on #19907
Fixed at 8f1d889e50e18d81db7d4e8bb0555513a2b1019c in 9.0
Will be ported to 10.0 soon and I will reexport the sources to update Transifex

[2017-10-13 09:06] khishigbat commented on #19907
@mart-e Thanks a lot!

[2017-10-13 09:15] ged-odoo commented on #20116
@wtaferner this is a huge problem, coming from this: https://github.com/odoo/odoo/blob/11.0/addons/web/static/src/js/fields/field_utils.js#L495

Really surprised we did not stumble upon this before.

In some language, the thousand separator is a '.', so we build a regexp that actually matches everything, and the number is then totally erased.

The good news is that it was actually fixed in the com

[2017-10-13 09:15] #20116 closed

[2017-10-13 09:43] wtaferner commented on #20116
@ged-odoo
Thank you for the pointers and well, it is almost impossible to spot everything for a limited number of people and teams who focus on master or even saas-18. The ultimate test is to publish it and let all users and partner help to find these nasty bugs ;-)

Looking forward to the fix and switched to English in the meantime :rescue_worker_helmet:

[2017-10-13 09:52] kunalg140 opened #20133 "Lot numbers can't be entered in works orders in Odoo 11 CE"
Impacted versions: 11

Steps to reproduce: Always

Current behavior: Lot numbers can't be entered in works orders

Expected behavior:

Video/Screenshot link (optional):

[2017-10-13 09:53] #19907 closed

[2017-10-13 10:10] xmo-odoo commented on #20119
Just because it has a type error in the traceback does not mean it has to do with Python 3, Python 2 won't add a float and a None either.

Here it seems more likely that a stock move has no price_unit or product_qty, this is not visible in the UI because they're replaced by 0 during read, but in the database the value is a NULL and because the report is implemented using straight SQL, you end up w

[2017-10-13 10:12] Hamza-Talibi opened #20134 "Can't send sms from calendar"
Hello everybody,
When I select a meeting from tree view, I click on the action button in which to open the wizard "Send SMS to attendees", then I get this error :

Error:
Odoo Server Error
[code]
Any help please!

Thank you

[2017-10-13 10:26] geekobi commented on #4497
Hi,
Some month ago, I had the same error message.
I went into the code at that time and found that security checks was implemented in at least 2 places and in my case :
- a first function took into account the inheritance between groups and in my case the user was authorized to access the field
- a second didn't took in account this inheritance but only the direct right on the direct groups of the

[2017-10-13 10:54] sle-odoo commented on #20133
@khoi-nguyen

[2017-10-13 11:13] #18994 closed

[2017-10-13 12:09] milanpatel1519 opened #20140 "[11.0] Portal Access Management In Partner"
Impacted versions: 11.0

Steps to reproduce: Server action Portal Access Management in Partner view as per screen shots

Current behavior: If I enable then gets an error.

Expected behavior: Has to tick that check box and onchange event.

Video/Screenshot link (optional):

![res](https://user-images.githubusercontent.com/21196280/31545477-36830704-b03d-11e7-9103-6fa8d1697e98.png)

![checkbox](http

[2017-10-13 12:11] milanpatel1519 commented on #20134
Also '_' import missing.

Link: https://github.com/odoo/odoo/blob/11.0/addons/sms/wizard/send_sms.py#L48

[2017-10-13 12:21] #20126 closed

[2017-10-13 12:21] mart-e commented on #20126
Thanks, fixed at 6286dc4809e

[2017-10-13 12:46] taifu commented on #5199
Yep. It would be really useful. @nicknomo how did you solve this issue?

[2017-10-13 12:54] lmignon commented on #5199
@taifu https://github.com/OCA/web/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20web_domain_field

[2017-10-13 13:06] kunalg140 commented on #20112
Though 'works order and quality' is marked as ENTERPRISE . Works orders can be enabled from users / Technical  setting / Manage Work Order Operations - settings. However Lot Numbers cannot be entered in the works order form .  Also material consumption not reflected in stock.
--

[2017-10-13 13:24] kunalg140 commented on #20112
Reason for material consumption not getting reflected in stock seems to be the following:
Material consumption moves are being wrongly created from Virtual Location/Production  to Virtual Location/Production,  should be from Stock to Virtual Location/Production.

[2017-10-13 13:30] taifu commented on #5199
@lmignon sorry, I don't get it... Where is the onload new event there? Or the workaround?

[2017-10-13 13:34] sle-odoo commented on #20112
linked to #20133
the reason is that if quality_mrp is installed, the users should work on workorder through the view based on quality checks

we'll remove the readonly in mrp to move it quality_mrp, that's what we shoud have done since the start

in the meantime you could simply revert 44f06a66467cb39780fa65d0cefb44704b072e94 and it'll work

@khoi-nguyen

[2017-10-13 13:42] valentinvegaa commented on #11627
I have the exactly same problem... is there any development in the solution of this?

[2017-10-13 13:52] KangOl commented on #20116
Forward port to v11 is done.

[2017-10-13 14:00] lmignon commented on #5199
@taifu The two PRs add a new module named web_domain_field that allow you to use a regular field as value for the domain attribute into a form.  More info here https://github.com/acsone/web/blob/64db0709231a8203436926f535b085fd4246bcd5/web_domain_field/README.rst

[2017-10-13 14:03] Yenthe666 commented on #20126
Yup, thats cleaner since it requires no model change. Thanks.

[2017-10-13 14:04] Cedric-Pigeon commented on #19536
@rco-odoo Did you create a PR for the sale method refactoring ? I can't find it out.

[2017-10-13 14:08] Yenthe666 commented on #20140
Hi @milanpatel1519,

Thanks a lot for your report.
This is indeed a bug. @ged-odoo this looks JS related 😉

[2017-10-13 14:51] F3000 commented on #19890
thanks i will will look at this

[2017-10-13 14:54] jco-odoo commented on #19422
@blaggacao I think you are right about that 'and not x.workorder_id' was intended to be 'and done_wo'.  I will put this in a branch and see if we can merge it.

[2017-10-13 15:21] sswapnesh opened #20147 "[11.0] Tool tip not available on widget="statusbar" on state field in Header with developer mode on."
Impacted versions: 11.0 c/e

Steps to reproduce: [http://271163-11-0-8c2c95.runbot8.odoo.com](http://271163-11-0-8c2c95.runbot8.odoo.com) --> Open Form View of Invoice/Sales order with developer mode on.

![](https://image.prntscr.com/image/7Ti_KsfyTduFa0i97eXm3A.png)

Current behavior: Developer tool tip is not available.

Expected behavior:  Developer tool tip should be available.
It works when

[2017-10-13 15:57] #20035 closed

[2017-10-13 16:10] taifu commented on #5199
@lmignon nice! Is it possible to install the two PRs as an external addon?

[2017-10-13 16:40] lmignon commented on #5199
@taifu The PRs provide the same addons but the first one for Odoo 10.0 and the second ont for Odoo 9.0
You can checkout the branch providing the addon from acsone...

[2017-10-13 16:57] taifu commented on #5199
@lmignon ty sir! :-)

[2017-10-13 17:33] blaggacao commented on #19422
@jco-odoo I'm glad my feedback is/was useful! Thank you sincerely for taking the time looking at it!

[2017-10-13 18:14] F3000 commented on #19890
Repo is working fine . But i see online a timeout in Firefox after installing

[2017-10-13 19:38] rodriguesraphael opened #20148 "Error installing ebaysdk - pip requiriments"
When trying to install the requirements, ebaysdk does not conclude.

root@6c39e9c357bd:/# pip3 --no-cache-dir install ebaysdk
Collecting ebaysdk
  Downloading ebaysdk-2.1.4.tar.gz (40kB)
    100% |################################| 51kB 47kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp

[2017-10-13 20:32] Yenthe666 commented on #20148
@d-fence could you have a look at this? Judging by the output the external dependency is broken at this point. Perhaps we could make a report there?
@rodriguesraphael which OS and version?

[2017-10-13 20:46] valentinvegaa commented on #11627
Ok, in my case i found a solution...
I tried installing/uninstalling several different modules trying to generate again the file web.assets_backend.js because that was the file that must have the javascript corresponding to the classes 'summernote' of the module web_editor... if i see the debugger/network i noticed that that file was called and returned 200 ok but 0 bytes... that drove me crazy fo

[2017-10-13 22:42] luizcarlospedrosogomes commented on #20148
for  ubuntu  server 14.04
 sudo apt-get install libsasl2-dev python-dev libldap2-dev libssl-dev

[2017-10-13 23:14] wshamasneh opened #20150 "Error in Installing the Forum Module in Odoo 11 CE"
Hi All:

I have a problem in installing the Forum Module in Odoo 11 CE, an error throw up as stated below, what is the problem? how can I install the Forum Module?

Information about the installation:

Windows 10 64x
Odoo 11 Community Edition - Windows Edition
All of other Modules are successfully installed.

Thanks in advance

The error is :

Error:

Odoo Server Error

Traceback (most recent call

[2017-10-14 02:13] Guobower commented on #20112
Why you change the workorder default security? As like 10.0, each function is expand by module, is not the standard way of moudle design?

[2017-10-14 04:37] ongood commented on #20150
Please put the forum.py code for 42 lines
with open(fname, 'r') as f:
change into
with open(fname, 'rb') as f:

[2017-10-14 08:53] yostashiro opened #20156 "[11.0] delivery generation at SO confirmation does not consider cancelled deliveries"
### Impacted versions:

11.0

### Steps to reproduce:

- Create a sales order with  a line with qty 1 of a stockable product.  Confirm it, which generates a delivery.
- Cancel the sales order, which cancels the delivery as well.
- Set the sales order back to draft, change the qty to 3, and confirm the order again.

### Current behavior:

New delivery is generated with qty 2.  The cancelled deliver

[2017-10-14 10:06] sterbhai commented on #20077
I cant get it working.

The error on installation of ldap_auth is:

There ist no error in the log files. I installed with the "yente script" on ubunut 16.04

Tried the file indicated above:
[code]

Still the same problem.

[2017-10-14 10:59] yvaucher commented on #20148
I experienced the same issue on debian:stretch

[code]

[2017-10-14 11:21] yvaucher commented on #20148
See related issue:

https://github.com/timotheus/ebaysdk-python/issues/182

[2017-10-14 13:19] injazllc opened #20157 "Odoo.sh Email Server Failed In Production"
Impacted versions:
**11.0 EE**

Configured External Email Server on odoo.sh in production Database odoo.sh give me error...

**

**

**Note:** I already tried with Google SMTP still same error, when I put same settings on odoo 10 EE It works fine but not on odoo 11.0 EE

[2017-10-14 13:29] fiddler0305 opened #20158 "Multiprocessing not working"
**Impacted versions:**
11.0 community
ubuntu 17.04  package install

**Steps to reproduce:**
add
`workers = 8 `
on bottom of /etc/odoo/odoo.conf

**Current behavior:**
after doing above operation, it get lots of error (as images shown)

**Expected behavior:**
working normally

**Video/Screenshot link (optional):**
1. login
![01_login](https://user-images.githubusercontent.com/7629615/31576045-e002

[2017-10-14 14:11] giannio opened #20159 "Problema para levantar servicio odoo 10"
Problema para levantar servicio Odoo 10

File "./odoo-bin", line 5, in <module>
    __import__('pkg_resources').declare_namespace('odoo.addons')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 2086, in declare_namespace
    path = sys.modules[parent].__path__
KeyError: 'odoo'

[2017-10-14 14:29] nhomar opened #20160 "Sales invoices should not allow future dates"
In some countries this is not logic at all.

Opinions?

[2017-10-14 16:19] F3000 opened #20162 "Project Kaban view sorted after employe"
Is this a bug or not ?

I have created a project with different tasks .
How can I see in the kaban view only the tasks from a specific person ?

When it is not a bug , you can add this on the wish list :)

[2017-10-14 19:43] pedrobaeza opened #20163 "[8.0/9.0/10.0/11.0/master] Incorrect multi-level onchanges"
Impacted versions:
---
8.0, 9.0, 10.0, 11.0, master

Steps to reproduce:
---
With the following demonstration module:
[onchange_multi_level.zip](https://github.com/odoo/odoo/files/1384915/onchange_multi_level.zip)

* Install the module
* Go to Tests > Onchange multi-level test
* Create a record
* Type a letter on the main name field
* Change the focus of the field
* A new line called "Test level 1

[2017-10-14 19:56] santiagofs commented on #15930
I'm having the same issue @jleaders said.
Any news on if there's gonna be a fix for this or some workaround we can apply?

[2017-10-14 20:29] wshamasneh commented on #20150
Many thanks @ongood for you kind support.

Your solution works and the problem has been resolved.

[2017-10-14 20:52] lasley commented on #20150
I don’t think this should be considered a permanent resolution to the problem though

[2017-10-14 20:58] wshamasneh commented on #20150
Its not a permanent resolution, but at least for my case it has been resolved.
It has to be resolved by Odoo developers and to publish the downloaded application without this bug.

[2017-10-14 20:59] lasley commented on #20150
But why are you closing the issue? IMO its still an issue.

[2017-10-14 21:07] wshamasneh commented on #20150
Sorry @lasley I thought that is should be closed, I will reopen it.

Thank you

[2017-10-14 21:47] gdgellatly commented on #20163
@pedrobaeza I have a similar module which works using `self.level1_ids.level2_ids.new()`.  I can't say for sure ts the exact same scenario, but its an onchange in picking that takes a barcode, parses it for product, weight and lot and creates the lot, so that would be picking, stock_move, production_lot.  Seems similar.

[2017-10-14 22:00] pedrobaeza commented on #20163
Thanks for the tip. I'm going to try and tell you.

[2017-10-14 22:11] gdgellatly commented on #20160
Is a common practice in all the countries I've worked, so nz, Australia,
England. To get a deal over the line, often a salesperson will agree to
invoice following month.

Also some companies which do overnight delivery make the invoice for the
following day so date matches delivery.

Finally in large transactions in NZ we have a tax law called 'time of
supply' which relates in part to invoice date

[2017-10-14 22:16] nhomar commented on #20160
Thanks that's what I want to read.

Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo superviso siempre).
HangOut: nhomar@vauxoo.com
Móvil Venezuela:
+58 4144110269 (Telegram)
Móvil México:
+52 1 4773933942 (Whatsapp)

On Sat, Oct 14, 2017 at 5:11 PM, Graeme

[2017-10-14 22:31] jleaders commented on #15930
Odoo 11 seems to be broken as well. I cannot get Authorize.NET to process a charge and appear in the sandbox on either Odoo 10 or 11. Is it fair to say Odoo does not support it's own payment modules anymore?

[2017-10-14 22:42] jleaders commented on #20054
Related: I haven't been able to get Authorize.NET accepting payments in Odoo 10 or 11 since March via the test sandbox environment. I figure it's worth mentioning.

[2017-10-14 23:02] pedrobaeza commented on #20163
@gdgellatly I'm afraid it doesn't work. In fact, in the real module I'm just doing like you say: https://github.com/OCA/account-closing/pull/50/files#diff-a1e53f9a256c02d42410243e01d9cc71R138

[2017-10-15 00:35] aleifuu commented on #20102
sorry, reading this post I'm not sure wether we can close this issue or not ?

Fixed means problem solved, no ?

[2017-10-15 02:00] sngnt commented on #20102
Thanks for your attention. Yes, the bug was fixed when I cleared my browser
cache. The problem has been resolved.

*Best regards!*
--------------------------------
Mr. Son
NhaTrang city, KhanhHoa province, VietNam.
https://www.facebook.com/sngtek.vn/

On Sun, Oct 15, 2017 at 7:35 AM, aleifuu <notifications@github.com> wrote:

[2017-10-15 02:11] totalard opened #20167 "Recurring Documents module Not in v11.. How do Recurring so?"
Impacted versions:11

Steps to reproduce:
check in App list

Current behavior:
cant find it

Expected behavior:
contract module must be there

Video/Screenshot link (optional):

[2017-10-15 05:18] rodriguesraphael commented on #20148
@Yenthe666  It was a bug in the installation of ebaysdk, the repository maintainer made a correction and released version 2.1.5 correcting the error, I suggest updating the version in the requiriments file.

[2017-10-15 05:38] Sarina111 opened #20168 "TypeError: unsupported operand type(s) for /: 'NoneType' and 'float' while using update trigger"
Impacted versions: 10

Steps to reproduce:

Current behavior: It works to reject  update in odoo. But gives  error as TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'

Expected behavior: Reject update in odoo without  any error.

Video/Screenshot link (optional):

[2017-10-15 05:39] wtaferner opened #20169 "[11.0] Web Client: OnChange Handling Issues"
**Impacted versions:**
11.0

**Steps to reproduce:**

Initial: ValidationError not respected for resetting the hidden frontend values in x2many form view
Other related issues beneath the initial screenshots

- Create a stored computed field which is triggered for computation of a form view embedded One2many field and raise a Validation Error in case a certain condition is met.
- Go into edit mode

[2017-10-15 05:43] Sarina111 commented on #20168
In odoo, I needed an update trigger, which  would not let any  user to update inserted data. I used following trigger function for rejecting update. The functio and trigger did work  but it gives error TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'. How  can I resolve this ?

Function:

create function check_id_change() returns trigger language plpgsql as $account_invoice$

b

[2017-10-15 06:06] firehang opened #20170 "variant product add to shopcar error"
Impacted versions:
version 11

![shopcar](https://user-images.githubusercontent.com/6063271/31582300-544e8fe4-b1b2-11e7-8999-9c3d3bcd08d4.png)

Expected behavior:
odoo.exceptions.ValidationError
ValidationError: ('The operation cannot be completed, probably due to the following:\n- deletion: you may be trying to delete a record while other records still reference it\n- creation/update: a mandatory

[2017-10-15 06:31] wtaferner commented on #20169
@nim-odoo
OPW-776653

[2017-10-15 06:50] larmar commented on #19900
The InRelease is also giving a simmilar error in Ubuntu 17.04.
But It seemed to work in 16.04.

[2017-10-15 08:17] sterbhai opened #20171 "install of ldap module on odoo 11 throws error"
Impacted versions: 11 on ubuntu 16.04 with installed dependencies
[code]
Steps to reproduce: install ldap module from apps
Current behavior: throws error
Expected behavior: no error - install module

Video/Screenshot link (optional):

Fehler:
Odoo Server Error

[code]

[2017-10-15 09:29] fiddler0305 commented on #20158
Debian 9.2 package install has the same problem

[2017-10-15 13:18] adrienpeiffer commented on #19877
Hum ... I check on http://271183-11-0-57f03f.runbot14.odoo.com. It doesn't work ... @KangOl Can you reopen this one ?

[2017-10-16 00:54] gustavovalverde opened #20175 "[11.0] install: CREATE DATABASE failed due to to concurrent update"
### Impacted versions:
11.0

### Steps to reproduce:
**Install Odoo with this specifications:**
- Ubuntu Xenial
- Python 3.5.4
- PostgreSQL 9.6
- Demo data

**PostgreSQL Optimization**
[code]

### Current behavior:
[code]

### Expected behavior:
Successful Odoo install

[2017-10-16 00:56] gustavovalverde commented on #20175
@odony, I think this is in your kingdom

[2017-10-16 01:11] gustavovalverde opened #20176 "[11.0] install: Can't get access to /web/ after install"
### Impacted versions:
11.0

### Steps to reproduce:
**Install Odoo with this specifications:**
- Ubuntu Xenial
- Python 3.5.4
- PostgreSQL 9.6
- **NO** Demo data ---> there's another issue with demo data: #20175

### Current behavior:
[code]

**Debug LOG**
[code]

**In Console with debug assets**

[code]

### Expected behavior:
Successful Odoo install

[2017-10-16 01:55] ejprice commented on #20158
I'm having the same issue on Debian 9.2 with the following setup:

Base Debian 9.2 install
odoo_11.0.20171013_all.deb as well as 20171004 (and dependancies)

Additional deb packages installed:
python3-pyldap
python3-gevent
python3-setuptools
python3-pip

Plus these from pip3:
num2words wheel psycogreen

I have also tried git cloning the source and using pip3 to install dependencies from requiremen

[2017-10-16 02:06] ejprice commented on #20158
Also digging further there are missing js and css files which I assume are causing the UI problem

http://localhost:8069/web/content/290-8bbd54f/web.assets_backend.js
http://localhost:8069/web/content/291-a724036/web_editor.summernote.js
http://localhost:8069/web/content/289-7ef8897/web.assets_common.js
http://localhost:8069/web/content/285-8bbd54f/web.assets_backend.0.css
http://localhost:8069/we

[2017-10-16 02:08] diwap commented on #16548
this happens when you initialize two database at once by running the server with two different port.

[2017-10-16 02:08] gustavovalverde commented on #20176
I've pinpoint the issue.

This is happening after activating workers in odoo's configuration file, if workers => 1, then all this happens. If workers = 0, then everything works as expected.

[2017-10-16 02:14] ejprice commented on #20176
Then it is a duplicate of #20158

[2017-10-16 02:30] gdgellatly opened #20178 "naive date in purchase order onchange_quantity, plus others"
Impacted versions: 11.0

Steps to reproduce:
Live anywhere where your timezone isn't exactly UTC - the further away the worse it gets, lucky for me I'm UTC+13 so more than half the time its wrong.

Current behavior:
In _onchange_quantity of addons/purchase/models/purchase.py there is this call
[code]

Which uses the database date rather than a converted to user date.

Also affected in same file
[c

[2017-10-16 05:16] gustavovalverde commented on #20176
You're right, I'm closing this one.

[2017-10-16 05:16] #20176 closed

[2017-10-16 05:17] gustavovalverde commented on #20158
@Yenthe666, I can confirm this, I closed a duplicated issue which I made with more details and using the information here #20176

**Install Odoo with this specifications:**
- Ubuntu Xenial
- Python 3.5.4
- PostgreSQL 9.6
- **NO** Demo data ---> there's another issue with demo data: #20175

### Current behavior:
[code]

**Debug LOG**
[code]

**In Console with debug assets**

[code]

[2017-10-16 05:19] gustavovalverde commented on #20158
This one could also be related #20175

[2017-10-16 06:14] Yenthe666 commented on #15930
@KangOl can you have a look / test?

[2017-10-16 06:15] #20102 closed

[2017-10-16 06:21] Yenthe666 commented on #20148
The PR is ready at https://github.com/odoo/odoo/pull/20182 - just needs to be approved by somebody from Odoo.

[2017-10-16 06:27] #20170 closed

[2017-10-16 06:31] Yenthe666 commented on #20160
Hmm - this is the same for Belgium and the Netherlands. There are some sectors or reasons to invoice ahead.
@nhomar I really wouldn't consider this a problem or bug. Are you fine with a close?

[2017-10-16 06:57] d-fence commented on #19890
Hi, that's probably because it takes time to start for the first time.

[2017-10-16 06:57] #19890 closed

[2017-10-16 07:02] Yenthe666 commented on #20157
@dbo-odoo another Odoo.sh related issue 😉

[2017-10-16 07:02] dbo-odoo commented on #20054
@jleaders
Besides having something to do with payments, this is unrelated :)

This issue is odoo 11/stripe specific (due to the way stripe does not redirect but opens a popup). Please report your problem as another issue, or better yet on odoo.com/help, thx :)

[2017-10-16 07:03] Yenthe666 commented on #20178
@nim-odoo another timezone and date related bug. I believe you fixed quite a few in the past, can you check this one too please? The report looks correct and a timezone should probably be applied on it.

[2017-10-16 07:06] #20148 closed

[2017-10-16 07:08] jvOrsouw commented on #18572
I would like to see that SBR-reporting is implemented. It will become mandatory to report according to SBR-standards, and following is a direct link to dutch autorities to 'auto-upload' f.e. dutch tax-report.

[2017-10-16 07:20] injazllc commented on #20157
this is the only one that I show you, otherwise odoo.sh have lots of error. :nerd_face:

[2017-10-16 07:23] Yenthe666 commented on #20157
@injazllc there has been a quite big report about domains etc. It has been fixed though. 😉

[2017-10-16 07:31] injazllc opened #20186 "Another Issue in odoo.sh"
Impacted versions:
odoo.sh 11 EE

When click on studio button it gives me error.

Error:
TypeError: studio_info is undefined

https://injazllc-coolco.odoo.com/web/content/1146-b692740/web.assets_backend.js:2850
Traceback:
switch_studio_mode@https://injazllc-coolco.odoo.com/web/content/1146-b692740/web.assets_backend.js:2850:32
trigger@https://injazllc-coolco.odoo.com/web/content/1145-366cbf4/web.a

[2017-10-16 07:37] Yenthe666 commented on #20186
@dbo-odoo Odoo.sh bug.

[2017-10-16 07:54] dbo-odoo commented on #20186
@injazllc
Hello,

When reporting issues, please be sure to be as thorough as possible. Does this happen every time you click the button or only when you are on a specific view? When reporting javascript issue, it is a huge help to reproduce the issue in full debug mode ("debug mode with assets" in the Settings dashboard) to have a complete traceback.

That being said, this is probably not related

[2017-10-16 08:02] Yenthe666 commented on #20168
Hi @Sarina111,

Thank you for your report.
The update functionality works fine in the latest Odoo 10 though. Can you reproduce this an official Odoo instance (at runbot.odoo.com)? Have you updated your Odoo to the latest source code?

Regards,
Yenthe

[2017-10-16 08:02] #20168 closed

[2017-10-16 08:05] Yenthe666 commented on #20167
Hi @totalard,

Are you talking about the module `sale_subscription`? It is an enterprise app.

Regards,
Yenthe

[2017-10-16 08:22] Cedric-Pigeon commented on #19536
ping @rco-odoo

[2017-10-16 08:45] F3000 commented on #19890
I waiting now one hour after starting the odoo service.

`systemctl status odoo` show following :
![unbenannt](https://user-images.githubusercontent.com/8161283/31602961-eafe0b34-b25e-11e7-95f0-51f2750a2572.PNG)

campared to odoo 10 , there i can start firefox directly after starting the service. I think there is not all components ok .

Do you have a running version 11  for testing ?

[2017-10-16 08:48] lap-odoo commented on #20080
@JulioSerna I've answered on the ticket you opened.

[2017-10-16 08:51] Yenthe666 commented on #20080
@lap-odoo can you add the feedback here too? If anybody finds this report in the future they'll know the answer too.

[2017-10-16 08:52] Yenthe666 commented on #20162
Hi @F3000,

You can do this by adding filters in order to get the tasks from one specific version. Nothing to improve or wishlist here as it is possible by default. 😉

[2017-10-16 08:52] #20162 closed

[2017-10-16 08:53] Yenthe666 commented on #20159
@d-fence does this say anything to you?
@giannio please follow the guidelines and write a bug report with more information.. It really contains little information. Please do try to write them in English too..

[2017-10-16 08:53] #20159 closed

[2017-10-16 09:27] qdp-odoo commented on #19432
Hi Julio,

although I perfectly understand this is not what you expect in that specific use case, I'm afraid technically this might be not something we could easily change in a stable version.

Indeed, by design, this is a feature we choose to have in order to be able to support use cases like: _an invoice in foreign currency paid on a bank account in company currency, with the user encoding manua

[2017-10-16 09:28] Sarina111 commented on #20168
Hi Yenthe V.G,
I am using odoo 10, but it gave me error. How can I resolve it.

On Mon, Oct 16, 2017 at 1:49 PM, Yenthe V.G <notifications@github.com>
wrote:

[2017-10-16 09:30] d-fence commented on #19890
I just tested again and it seems to work fine. Can you check in /var/log/odoo/odoo-server.log ?
I tested on Fedora 26. Installed through dnf.
I had to wait a few seconds and then the browser is redirected to "/web/database/selector" as expected.

[2017-10-16 09:31] Yenthe666 commented on #20168
Try to upgrade your Odoo to the latest update.

[2017-10-16 09:34] lap-odoo commented on #20080
Hi Julio,

I've made a test in V11.

Here is the accounting entry I get when I deliver the product : https://drive.google.com/a/odoo.com/file/d/0B0ITmdw6h3ZraGhhaUFzUFdTYTQ/view?usp=drivesdk
Here is the accounting entry I get when I invoice the product : https://drive.google.com/a/odoo.com/file/d/0B0ITmdw6h3ZrM1JHR1VCRVc0Rmc/view?usp=drivesdk

As you can see, the COGS (here expense account) is wel

[2017-10-16 09:35] qdp-odoo commented on #10538
fixed by https://github.com/odoo/odoo/commit/5afb5ecd04cf49be6bedb655b187b19a65e1e02d

[2017-10-16 09:45] thomas15v commented on #20075
@xmo-odoo Same issue on docker. Tried logging in with a user that has its language set to "Dutch (BE)", and it [crashed ](https://gist.github.com/thomas15v/46eeb439671766ffcac9fc3498a00559/)on `/web/webclient/locale/nl_BE`.

[2017-10-16 09:49] F3000 commented on #19890
[odoo-server.log](https://github.com/odoo/odoo/files/1386932/odoo-server.log)

Here is the file

[2017-10-16 10:10] d-fence commented on #19890
Well, it seems that it works but nobody tried to connect. Maybe your firewall is blocking access before reaching the server ?
Is you firefox on the same machine ?

[2017-10-16 10:15] F3000 commented on #19890
I have installed a VM with virtual box. The VM get the IP from the local network . FF is on the same machine as the VM

[2017-10-16 10:20] d-fence commented on #19890
You should chek if a firewall is not blocking port 8069 on your VM.

[2017-10-16 11:13] nhomar commented on #20160
Yes, I just want to open the comment, for me It is closed

[2017-10-16 11:13] #20160 closed

[2017-10-16 11:21] F3000 commented on #19890
i have made the exception for port 8069

`firewall-cmd --zone=public --add-port=8069/tcp --permanent`
`firewall-cmd --reload`

Right ?

SeLinux i have disabled

[2017-10-16 11:25] Elkasitu commented on #20118
@wtaferner We've determined that the ORM does not support overriding fields among independent modules, in this case website_description is being defined in both website_sale and website_quote, which don't depend on each other.

Therefore the problem comes from the website_quote module itself, website_description and other fields that are already defined in website_sale (or any other independent mo

[2017-10-16 11:30] d-fence commented on #19890
You should see lines with gets like "GET / HTTP/1.1" 200 -" in your log file.
If you don't, it's probably because something prevent your browser to reach the server.
Probably the firewall.

[2017-10-16 11:34] F3000 commented on #19890
hmm ok . It's curios . Odoo 10 is working fine with the same setup .

Is the a way how to test the installion withethe enterprise version ?

[2017-10-16 11:35] gdgellatly commented on #19890
Or virtualbox network adapters. They can be finicky when connecting from
same host as vm. Sometimes  need an explicit forward set up to pass
traffic.

On Tue, 17 Oct 2017, 12:30 AM Christophe Monniez, <notifications@github.com>
wrote:

[2017-10-16 11:38] gdgellatly commented on #19890
Maybe conf file related as well. I had an issue other day with xmlrpc port
renamed to http port. Worth checking anyway.

On Tue, 17 Oct 2017, 12:35 AM Graeme Gellatly, <gdgellatly@gmail.com> wrote:

[2017-10-16 11:39] d-fence commented on #19890
Sure, you should test the whole network things first, the usual way.
start to ping from host to vm and if it does not work, resolv this first problem.
If you don't see anything in your firewall logs, double check your VM network settings.

[2017-10-16 12:01] khoi-nguyen commented on #20112
Hi,

The change has now been reverted in community.

Best,
Khoi

[2017-10-16 12:02] khoi-nguyen commented on #20133
Hi @kunalg140,

The issue should now be fixed in 11.0.

Best,
Khoi

[2017-10-16 12:02] #20133 closed

[2017-10-16 12:07] valentinvegaa commented on #11627
Ok, in my case i found a solution...
I tried installing/uninstalling several different modules trying to generate again the file web.assets_backend.js because that was the file that must have the javascript corresponding to the classes 'summernote' of the module web_editor... if i see the debugger/network i noticed that that file was called and returned 200 ok but 0 bytes... that drove me crazy fo

[2017-10-16 12:24] ashish-webkul opened #20198 "Variant Image is not updating"
Impacted versions: 11.0

Steps to reproduce:

- Create a simple or multivariant product with image whatever you want. I tested on a multi-variant product.
- Then go to the variant section and try to update image. Then you will see the image is not updating.

Current behavior:
In Odoo 10.0, I am able to update the image of every variant.

Expected behavior:
The image should update for every variant

[2017-10-16 12:47] dmo-odoo commented on #20129
Hello,

Could you please tell me your sale order number ? It should be something like SO2017/183040.

Best regards,
David

[2017-10-16 13:05] sharkutz commented on #20129
SO2015/29934

[2017-10-16 13:06] sharkutz commented on #20129
this is the content of the zip file
![theme zap error](https://user-images.githubusercontent.com/7041048/31613480-ec583eaa-b28b-11e7-9275-4c1ae19bbf15.JPG)

[2017-10-16 13:08] jleaders commented on #15930
If anyone is able to get Authorize.NET to work from the odoo backend (not the customer portal), I'd be very interested, as we are hoping to use the backend to setup thousands of customers this month, but are blocked

[2017-10-16 13:16] dmo-odoo commented on #20129
Since this kind of issues are supposed to go to apps@odoo.com rather than here and that I just noticed you sent us a proper ticket through apps@odoo.com, I'll continue handling this issue in its proper channel, that is on your support ticket. I'm closing this. You'll hear from me soon on the ticket.

[2017-10-16 13:16] #20129 closed

[2017-10-16 13:16] sswapnesh commented on #20198
@Yenthe666 Seems related to #20046

[2017-10-16 13:28] sswapnesh opened #20203 "[11.0] Invalid binding_model_id in action "hr_employee_action_subordinate_hierachy""
Impacted versions: 11.0 C

Steps to reproduce: Go to Customer--> Actions --> Subordinate Hierarchy

Current behavior: It asks you to create new Employee each time.

![](https://image.prntscr.com/image/6_RDsYBBRr_6QZiG_ChwlA.png)

![](https://image.prntscr.com/image/CtcshQn9Qo_1IZQR7hR3-A.png)

Code: [https://github.com/odoo/odoo/blob/11.0/addons/hr/views/hr_views.xml#L292](https://github.com/odoo/

[2017-10-16 14:27] kunalg140 commented on #20112
Hello,
Yes the LOT # issue in works order has been resolved. However the Consumed stock moves are still wrong.
Virtual Location /Production -> Virtual Location /Production . (So stock not effected)
![moves_with_wo](https://user-images.githubusercontent.com/32765682/31616983-d06e4318-b2ab-11e7-8e70-04d4561be25e.jpg)

If we do not use works order the moves are correct- WH/Stock ->  Virtual Location

[2017-10-16 14:39] kunalg140 opened #20207 "Stock moves of consumed items wrong when using Works Orders in CE 11"
Impacted versions: 11 CE

Steps to reproduce: Always

Current behavior:
Stock moves for consumed items are wrong  Virtual Location/Production -> Virtual Location/Production when using works orders , moves are okay WH/Stock -> Virtual Location/Production  if we do not use works orders.
![moves_with_wo](https://user-images.githubusercontent.com/32765682/31617595-36adb112-b2ad-11e7-9370-b392667b02f8.

[2017-10-16 14:39] jco-odoo commented on #20112
I don't know what you did, but it looks fine in last 11.

[2017-10-16 14:42] kunalg140 commented on #20112
Okay would check again , I have only installed Sales , Purchase, Manufacturing & Inventory  in a new database.

[2017-10-16 14:45] jco-odoo commented on #20112
![image](https://user-images.githubusercontent.com/3832699/31618122-5ba63334-b291-11e7-93b9-c8b975d26037.png)

[2017-10-16 15:00] wtaferner commented on #20118
@Elkasitu
I see, well, I actually just expect that only the last module which is using a field is going to delete this field (should be easy to check IMHO). Anything else is luxury and should be fine for 12+ ;-)

[2017-10-16 15:00] jco-odoo commented on #20112
Probably you filled in the production location on your routing.  Don't.

[2017-10-16 15:02] lasley commented on #7766
[`base_json_request`](https://github.com/OCA/webhook/pull/3) solves this

[2017-10-16 15:04] multiwebinc commented on #16609
This error hadn't occurred for several months, however it just did again today:

<img src="https://imgur.com/a/jhuTq">

Installed version is greater than https://github.com/odoo/odoo/commit/ec17d636a9e0ccf4f0e9826832510a0faa163e0d

However there was no traceback, only a message that said something along the lines of "You cannot create two active sessions with the same user".

[2017-10-16 15:12] jco-odoo commented on #20112
I added them myself indeed, just to show.

[2017-10-16 15:13] ErikSJan opened #20208 "Missing odoo-bin.exe in windows distribution"
Impacted versions: 11.0

Steps to reproduce: download latest nightly in exe

Current behavior: create an sh file called odoo-bin

Expected behavior: create an odoo-bin.exe just like in 10.0 version

Video/Screenshot link (optional):

Can't use scaffolding with the current distribution as there is no usable odoo-bin.exe.

[2017-10-16 15:31] CGenie opened #20210 "contact merge issue with abstract reference fields"
Impacted versions: 9, 10, 11

Steps to reproduce:
Create an abstract model with a reference field, for example one that was suggested by the Connector module:
https://github.com/OCA/connector-prestashop/blob/9.0/connector_prestashop/models/binding/common.py#L51-L56

Current behavior:
When merging contacts, an error is thrown that the above abstract model has no database relation (table).

Expected

[2017-10-16 15:37] kebeclibre commented on #18363
@hugho-ad
@odony
This issue doesn't seem to be linked with the language though.
It has to do with the request ID and the im_livechat cookie

im_livechat.js:L42
if no cookie: just initiate the chatter
If you open the livechat while being a public user it will, (thanks to im_livechat/controllers/main.py:L41) as the administrator

Now, log in as a user, whichever except admin
There is a cookie, so th

[2017-10-16 15:59] #20167 closed

[2017-10-16 16:14] nilshamerlinck commented on #19374
Looks like a similar issue to the one mentioned in https://github.com/odoo/odoo/pull/16119

In [`set_quantity()`](https://github.com/odoo/odoo/blob/9.0/addons/point_of_sale/static/src/js/models.js#L1148), we have:
[code]

Then, when calculating the line's amount:
[code]

While it should have been (as in the backend):
[code]

So I would spontaneously suggest to fix `get_quantity()` the same way `ge

[2017-10-16 16:36] minhhq09 opened #20211 "[11.0] Error blank page when change language to Vietnamese"
Hi all,

I have the same issue with https://github.com/odoo/odoo/issues/20150. In my case, when i load language to Vietnamese and reload page. Odoo show blank page.

This is error log:

2017-10-16 15:32:55,295 7288 ERROR ERP4TTXJSC werkzeug: Error on request:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 11.0\python\lib\site-packages\werkzeug\serving.py", line 209, in run_

[2017-10-16 18:53] elgow commented on #19390
@gdgellatly I can identify a few fields that I don't want exposed to the user for grouping, but as I looked into this I realized that the grouping is not really the problem. Grouping in the tree/list view is a very nice feature that poses no problem because it doesn't update the group-by field. The real problem with kanban is the unconstrained writing to fields with no edit/save process and no und

[2017-10-16 20:30] blaggacao opened #20213 "[IMP] apply preferred route also on push rules"
@sle-odoo @amoyaux having you been committing the changes to stock recently, I wanted to know if it is a deliberate decision to not support preferred routes on push rules?

**Background:** I'm working on a import module and want to send pre-configured push rules from the PO, as preferred route, according to the entry harbor. I'll do a quick PR, and like to ask you would consider it a harmful opera

[2017-10-16 21:53] altoch opened #20215 "[10.0] Bug after update modules, error 500. ParseError: "null value in column "name" violates not-null constraint"
Impacted versions:
10.0
Steps to reproduce:
Install sales team, remove direct sales, create your teams and update modules
Current behavior:
After pull modules from git, and upgrading modules it gives an error 500
Expected behavior:
Upgrade modules and go on, I solved reinstalling sales team to create direct sales again

Video/Screenshot link (optional):

ParseError: "null value in column "name" vi

[2017-10-16 22:02] zeljkot opened #20216 "Recurring tasks cannot be saved and crash calendar"
**Impacted versions:** 11, docker-compose with PostgreSQL

**Steps to reproduce:** Create daily or weekly recurring task.

**Current behavior:** Task creation crashes. Usually, whole calendar app stops working.

**Expected behavior:** Task should be saved. Calendar app should work.

**Video/Screenshot link (optional):**

**Error when I try to save task:**

[code]

**Error when I try to access cale

[2017-10-17 00:24] gdgellatly opened #20217 "11.0 Major bug in unlocked sales order? Product changes not reflected downstream"
Impacted versions: 11.0
I checked, and couldn't find another report so maybe this is expected behaviour, but to my mind it is nuts.

Steps to reproduce:
On runbot:
Create an order for a product to be delivered.
Confirm it.
Change the product.
Save.

Current behavior:
Sales order updates - nothing else does - no warnings, no errors, nothing.
Picking is still for original product etc etc.

Expected

[2017-10-17 01:04] totalard commented on #19960
Dear,

It is build only for one time... Now it is not Upto date.. Kindly Check... There is some error in Build process.

[2017-10-17 02:15] totalard commented on #19900
Waiting

[2017-10-17 03:25] wtaferner commented on #20217
@gdgellatly @nim-odoo @Yenthe666
I can confirm this behavior and I agree that there should be a user error instead. As it is crucial and IMHO straight forward I provided a fix.

[2017-10-17 03:49] JulioSerna commented on #20080
Hello @lap-odoo

The wrong journal entry is when product is with **Invoice policy in delivered quantities**
![prueba odoo](https://user-images.githubusercontent.com/7595505/31645923-483f002c-b2c4-11e7-9d3c-6761478e88f9.png)

[2017-10-17 04:13] milanpatel1519 commented on #20147
Also not showing in many of this forms like
1) Inventory -> operations -> Transfer
2) Invoicing -> Adviser -> Accounting Entry -> Journal Entry
3) Inventory -> operations -> Inventory Adjustments
4) Manufacturing -> Operations -> Manufacturing Orders
Please check this issue.

[2017-10-17 04:35] gustavovalverde opened #20224 "[11.0 EE]: Bank reconciliation won't allow to use base.main_partner childs"
### Impacted versions:
10.0 and 11.0 EE

### Steps to reproduce:
- Start a Bank reconciliation
- Try to reconcile a transaction against a child of the `base.main_partner`

### Current behavior:
- `base.main_partner` childs won't appear

### Expected behavior:
I should reconcile payments and emissions against company employee's and/or investors.

[2017-10-17 06:00] Yenthe666 commented on #20217
Hmm.. that doesn't look good. @JKE-be or @nim-odoo could one of you have a look?

[2017-10-17 06:03] Yenthe666 commented on #20147
@mart-e this looks like one for you. 😉

[2017-10-17 06:10] Yenthe666 commented on #20208
@d-fence could you give feedback?

[2017-10-17 06:13] prakashkumar163 opened #20226 "Image not changing in Form view untill page reload"
Impacted versions:11

Steps to reproduce:
Create a res.partner records and assign the image and save.
Now again try to change it will not change.
Now refresh the page, change will reflect.

Current behavior:
 Update image not reflects till page, not reload.

Expected behavior:

Image change should be reflected.

[2017-10-17 06:16] Yenthe666 commented on #20211
Hi @minhhq09,

Thanks for the report.
I've made a PR for your case at https://github.com/odoo/odoo/pull/20227 - it has to be reviewed and merged by somebody from Odoo.

[2017-10-17 06:18] prakashkumar163 opened #20228 "A/B Testing (Create several versions of your website page) not working"
Impacted versions:11.0

Steps to reproduce:
Go to Sale==> Configuration => Settings==> **Website**
Now marked A/B Testing as True and Save.
On page reload A/B Testing  now again Unselected(set to False)

[2017-10-17 06:18] Yenthe666 commented on #20207
@jco-odoo could you check this?

[2017-10-17 06:26] Yenthe666 commented on #20228
Hi @prakashkumar163,

Thank you for your report.
I've just tested this on the latest Odoo 11 and it works fine. Can you please update your Odoo and try again? Can you reproduce it on an official runbot (runbot.odoo.com)?

Regards,
Yenthe

[2017-10-17 07:09] d-fence commented on #19900
Actually, the Debian build process is broken due to package signature. I'm working on it.

[2017-10-17 07:16] rimusz commented on #19960
broken again :-(

[2017-10-17 07:21] d-fence commented on #19960
Actually, the Debian build process is broken due to package signature. I'm working on it. Related to #19900

[2017-10-17 07:24] jco-odoo commented on #20207
@Yenthe666 I can not reproduce this on runbot.  (and have already commented about it, probably a wrong setting in the routing)

[2017-10-17 07:24] #20207 closed

[2017-10-17 07:45] prakashkumar163 commented on #20228
I think this feature (module_website_version)not in CE.
Please confirm

[2017-10-17 07:49] lap-odoo commented on #20080
Hello @JulioSerna,

Thank you for the precision, I've been able to reproduce the issue.
I'll forward this to the technical team for bug fix.
You will receive an answer on the support ticket when it will be fixed.

Thank you for reporting it to us.

[2017-10-17 07:52] prakashkumar163 opened #20232 "Stripe Payment Redirect to /shop/undefined"
Impacted versions:V11

Steps to reproduce:
On shop/payment page while selecting the stripe, no popup open.
Instead, it redirects to /shop/undefined

Current behavior:
Undefined  redirect
Expected behavior:
Stripe popup open should open.

[2017-10-17 08:00] Yajo commented on #19158
It should be, the fix is in #19161, still open.

[2017-10-17 08:04] prakashkumar163 opened #20234 "Wire Transfer doing nothig on portal pay(my/orders/34)"
Impacted versions: V11

Steps to reproduce:
Go To My account
Open Quotations Details View(/my/orders/34#portal_pay)
Select  Wire Transfer and  Click  Pay now
Nothing happens.

[2017-10-17 08:05] Yenthe666 commented on #20228
@prakashkumar163 actually, I was able to reproduce your issue in the community version - I was testing on the enterprise version where it works.
@JKE-be is this a migration issue from V10 to V11 perhaps?

[2017-10-17 08:12] JKE-be commented on #20228
hi @prakashkumar163

Sorry it is an error that label is missing, website_version is into Enterprise.

I see also on runbot that some feature have multi label.

We will fix it asap.

Thanks for the reporting

[2017-10-17 08:13] JKE-be commented on #20228
@rdeodoo

Can you add missing enterprise option + Fix duplicated label !
thx

[2017-10-17 08:17] prakashkumar163 commented on #19909
Still facing the same issue in the latest pull, please help
    raise ValueError(message)
ValueError: Element '<xpath expr="//div[@id='right_column']">' cannot be located in parent view

Error context:
View `Promo Code`
[view_id: 1002, xml_id: website_sale.reduction_code, model: n/a, parent_id: 997

[2017-10-17 08:19] d-fence commented on #20208
Hello,

For some reasons, we decided to move from py2exe to source install on Windows.
So, for sure odoo-bin.exe does not exists anymore and will not work.

But you can still use Odoo from the command line by providing the full path to the python executable and the full path to Odoo. For example:
[code]
I hope it helps.

I'm closing this issue as the "exe" won't come back in a near future.

[2017-10-17 08:19] #20208 closed

[2017-10-17 08:32] injazllc commented on #20186
@dbo-odoo
Hi,
Thanks for your response, sometimes error occur on different application like if I click on CRM or Sale sometime errors occur and after 2 to 3 times continuously click error automatically remove and application opens or sometime need to reload browser.

And one more error I'm facing on odoo.sh I can't configure my SMTP even I tried Google SMTP but every time same error.
Thanks :)

[2017-10-17 08:42] prakashkumar163 opened #20236 "Error: Server Error We are not able to redirect you to the payment form."
Impacted versions: V11

Steps to reproduce:
While accepting Online quote using wire transfer facing

**Error: Server Error
We are not able to redirect you to the payment form.**

Create order for back end;
==>Select the partner and product.
==>Select the quotation template.
==>Select  Online Payment as Confirmation Mode.
===> confirm order.

Now go to my/order open order(/quote/35) click on Pay No

[2017-10-17 09:00] bosskopp opened #20238 "[11] Calendar: Start date cannot be changed in form view → Error: Failed to render template"
**Impacted versions:**
11 community & enterprise
Also tested on https://demo.odoo.com

**Steps to reproduce:**

1. Goto "Calendar" app
2. Create new event and set start date to now (not recurring, not "all day")
3. Save event
4. Change event start and try to save again

Note: Changing the start-date via drag and drop in the calendar-view works!

**Current behavior:**

Warning:
`Failed to render te

[2017-10-17 09:02] sswapnesh opened #20240 "[11.0] Trace back while checking "Show technical modules" On module uninstallation page."
Impacted versions: 11.0

Steps to reproduce: [http://271352-11-0-mrpfix-bng-3315c7.runbot13.odoo.com](http://271352-11-0-mrpfix-bng-3315c7.runbot13.odoo.com) Active Developer mode --> Apps --> Module's Form View--> Click Uninstall --> Check Show technical modules
![1](https://user-images.githubusercontent.com/16624719/31655849-cda05b52-b347-11e7-8c98-c152961f02b5.png)
![2](https://user-images.gith

[2017-10-17 09:13] dnt83 commented on #20075
@xmo-odoo i run on Ubuntu (Docker)

[2017-10-17 09:47] bosskopp commented on #20238
[code]

[2017-10-17 09:55] Yenthe666 commented on #20238
Hi @bosskopp,

Thanks a lot for your bug report - I can confirm this is a bug.
@JKE-be or @nim-odoo could you guys ook at it?

Regards,
Yenthe

[2017-10-17 09:56] Yenthe666 commented on #20213
CC for @jco-odoo I believe he was active on this too.

[2017-10-17 09:58] Yenthe666 commented on #20226
Pretty much a duplicate of https://github.com/odoo/odoo/issues/20198 and https://github.com/odoo/odoo/issues/20046 - so closing this one in favour of the other two.

[2017-10-17 09:58] #20226 closed

[2017-10-17 10:15] kunalg140 commented on #20112
Checked in a new database - everything works okay.
 Thanks

[2017-10-17 10:17] sle-odoo commented on #20112
Can we close this issue?

[2017-10-17 10:48] prakashkumar163 opened #20245 "AttributeError: 'JsonRequest' object has no attribute 'website'"
Impacted versions: V11

Steps to reproduce:

Read the product with the price list in context.
`   context = dict(self._context)
    context.update({
            'lang':language_id.code,
            'pricelist':pricelist_id.id
        })
        product_data =  product_id.with_context(context).read([])[0]`

  File "/opt/odoo/odoo/models.py", line 4141, in search_read
    result = records.read(field

[2017-10-17 10:50] xmo-odoo commented on #20075
So it *is* in fact a lack of conversion more than an incorrect conversion, but my recollection was incorrect, Python 3's `open` actually defaults to the encoding advertised by the underlying machine if no encoding is provided, so e.g. if LC_ALL is defined as `X.ascii` bare `open(p, 'r')` calls will be decoded in ascii which obviously is not what we want.

Now these calls should be rare as Odoo has

[2017-10-17 10:59] lap-odoo commented on #18571
@mncoon Thank you,

I see that @csnauwaert already took care of your PR.

[2017-10-17 11:14] lap-odoo commented on #18571
Hi all,

We will continue working on the l10n_de module. @csnauwaert and me should soon come with other improvements to test.

Thanks again for your cooperation.

[2017-10-17 11:39] Yenthe666 commented on #19158
Verified - it is still a bug 😉

[2017-10-17 12:11] Yenthe666 commented on #20232
Duplicate of https://github.com/odoo/odoo/issues/20054

[2017-10-17 12:11] #20232 closed

[2017-10-17 12:11] jpaulin commented on #3239
By the way I noticed that 'W' is used in the lookup of the wkhtmltopdf executable, whereas Unix is case-sensitive. It means that (for example me now working ad hoc on a Odoo 10 version) a workaround for one kind of wkhtmltopdf problem was to copy the PDF-printing tool (executable) to a new name.

Odoo really tries wrongfully tries to look up a tool by literal name:
/usr/bin/Wkhtmltopdf

So open up

[2017-10-17 12:13] Yenthe666 commented on #20240
Hi @sswapnesh,

Thank you for your report. I can confirm that this is a bug.
@xmo-odoo could I ask you to have a look?

[2017-10-17 13:03] xmo-odoo commented on #20240
That's more @Elkasitu 's bailiwick.

[2017-10-17 13:36] roccocesetti opened #20249 "create istance odoo 11"
Impacted versions:
11.0
Steps to reproduce:
rocco@ubuserver:~/lp/odoo_11.0/odoo$ ./odoo-bin

Current behavior:
  File "/home/rocco/lp/odoo_11.0/odoo/odoo/addons/base/ir/ir_qweb/ir_qweb.py", line 195, in _get_asset
    files, remains = self._get_asset_content(xmlid, options)
  File "<decorator-gen-37>", line 2, in _get_asset_content
  File "/home/rocco/lp/odoo_11.0/odoo/odoo/tools/cache.py", line 8

[2017-10-17 13:38] dhannyz commented on #20163
Bugger, I had hoped these onchange + relational field issues like these would have been smoothed out in the move to v11

[2017-10-17 13:46] JKE-be commented on #20098
@stefanorigano

I know that you have a big task on it.
Maybe you can take this one in consideration.

Thanks.

[2017-10-17 13:46] #20098 closed

[2017-10-17 14:01] xmo-odoo commented on #20211
Dupe of #20075

[2017-10-17 14:01] #20211 closed

[2017-10-17 14:28] #20075 closed

[2017-10-17 14:29] mdurbar commented on #19086
Facing a similar issue now, were you able to resolve it? Can't close the session either.

[2017-10-17 14:38] gustavovalverde commented on #19086
@mdurbar Not a fix yet.
@Yenthe666, who could help us here?

[2017-10-17 15:12] xmo-odoo commented on #20150
Should be fixed in d18b1605053d8c9ef9f3fe5c6d68a646ac40833b

[2017-10-17 15:12] #20150 closed

[2017-10-17 15:24] neoprogress opened #20254 "Problem when saving event on Agenda"
**Impacted versions:**
Odoo 11

**Steps to reproduce:**
- Add new entrie on the Agenda
- Fill Title, Participant, Start time, Tag, Description, Notification, Laps of time, and address
- Save

**Current behavior:**
Message when trying to save.
[code]
After having remove all notification, saving is possible.
**Expected behavior:**
Save the entrie.

**Video/Screenshot link (optional):**

[2017-10-17 15:46] nim-odoo commented on #20217
Introduced in https://github.com/odoo/odoo/commit/0e4f3bb95991261c04c08e72b28430acfabdecd1#diff-4c73fa68e85fd25b11c211d403c6b864L255
without procurement, no protection against modification
@sle-odoo @amoyaux this one is quite a severe issue

[2017-10-17 16:26] sswapnesh commented on #20254
@Yenthe666  Similar to #20238 and #20216

[2017-10-17 16:36] AMArostegui commented on #19627
Same situation here.

I use Odoo 10.0 on several computers:

- Windows Server 2008 R2
- Linux Mint 17
- Windows 10.

So far, the problem appears only in my Win10 machine. Another workmate runs in Win10 without any issues.

I run Odoo in localhost, using the installer and have never been able to get past the login screen.

When I startup the service, no error is shown in _Odoo.log_ . If I'm logged

[2017-10-18 01:08] dnt83 commented on #20075
Thank you very much @xmo-odoo @Yenthe666

[2017-10-18 03:23] BeAntares commented on #20167
Hi @Yenthe666, The module name is `subscription` in v10, 9 and others, and it's not in v 11. Is it now `sale_subscription`

[2017-10-18 05:03] Yenthe666 commented on #20167
Yep, it has been migrated under a new module name.

[2017-10-18 05:04] Yenthe666 commented on #19086
@jorenvo or @mart-e can. :)

[2017-10-18 05:34] muntean commented on #19627
In my case, the only thing that helped was a clean install
of Odoo (v10).

[2017-10-18 06:18] ashishbigbos opened #20266 "Odoo Point of Sale Session Settings Error: this.editor.snippetsMenu"
I am a Odoo community user in Windows Operating System.

While I tried to setting up a Point of sale session I got the following error. I searched through Odoo community and as suggested installed the latest code again but it did not fixed. I tried the runbot and got the same error. Here is my odoo test credential:

**URL: https://xpro-solutions-pvt-ltd.odoo.com/web
Email: ashish@xprosolutions.co.

[2017-10-18 06:53] lap-odoo commented on #18572
@yung-wang : Hi,

Starting from Odoo Version 11, we decided to make a clearer distinction between the Invoicing and the Accounting applications.

The Invoicing application is part of the Community version while the Accounting application is only supported officially (= by Odoo) in the Enterprise version.

This doesn't mean the Accounting cannot be managed on the community version, but this means t

[2017-10-18 07:29] carrotagileit commented on #16820
@FreduxR I have the same problem. How did you resolve the problem? Thanks.

[2017-10-18 07:51] phuongnguyen3108 opened #20269 "Traceback when displaying Sequences, when deployed with PostgreSQL 10"
Impacted versions: 11

Steps to reproduce:
Settings > Technical > Squences&Identifiers > Sequence

Current behavior:
psycopg2.ProgrammingError: column "increment_by" does not exist
LINE 1: SELECT last_value, increment_by, is_called FROM ir_sequence_...

Expected behavior:

Video/Screenshot link (optional):

[2017-10-18 07:55] phuongnguyen3108 opened #20271 "Widget "date" doesn't work on datetime field"
Impacted versions: 11

Steps to reproduce:
<field name="date_order" position="attributes">
                    <attribute name="widget">date</attribute>
                    <attribute name="string">Quotation Date</attribute>
</field>
Current behavior:
System show warning message whenever user click on Create button from Quotation menu: "The record has been modified, your changes will be discarded.

[2017-10-18 08:06] Yenthe666 commented on #20269
Hi @phuongnguyen3108,

Thank you for your report.
I've just tested this on the latest Odoo 11.0 and it works without any problems:
![image](https://user-images.githubusercontent.com/6352350/31707235-fa145860-b3eb-11e7-980e-7486dc4bf1e6.png)

Can you reproduce it on an official Odoo (runbot.odoo.com)? Have you updated your Odoo to the latest source code?

Regards,
Yenthe

[2017-10-18 08:16] Yenthe666 commented on #20254
Hi @neoprogress,

Thank you for your report. I'm closing this one in favour of https://github.com/odoo/odoo/issues/20216 as it is both the same bug.
@sswapnesh thanks for the ping & info 😉

Regards,
Yenthe

[2017-10-18 08:16] #20254 closed

[2017-10-18 08:21] phuongnguyen3108 commented on #20269
Thank you Yenthe666 for your very quick reply. I've just pull code this morning. And I'm running Postgresql10.
![external identifiers odoo](https://user-images.githubusercontent.com/32894807/31707988-00d7bc88-b418-11e7-99b1-b1768e342a7d.jpg)

[2017-10-18 08:42] Hamza-Talibi commented on #20134
Hi @Yenthe666 have you seen this error ?

[2017-10-18 09:18] oihane opened #20273 "[11.0] 'sale' module installation fails, missing dependency"
Impacted versions: 11.0

Steps to reproduce: install `sale` module

Current behavior:
Traceback launched, it seems that it has a dependency missing.

"External ID not found in the system: payment.action_payment_acquirer" while parsing /home/odoo/core/addons/sale/views/res_config_settings_views.xml

Expected behavior:

Video/Screenshot link (optional):

[2017-10-18 09:22] Yenthe666 commented on #20134
@Hamza-Talibi - I have but haven't had time to reproduce (and no test account).
I did handle the second bug regarding translations already.

[2017-10-18 09:30] Elkasitu commented on #20118
"fixed" in rev 333a236 for 10.0, wait for forward-port for other versions

[2017-10-18 09:33] #20118 closed

[2017-10-18 09:47] gdgellatly opened #20274 "11.0 Purchase Order field visible on Customer Invoices and Credit Notes"
Impacted versions: 11.0

Steps to reproduce:
View a customer invoice or credit note on runbot and open a line.

Current behavior:
See purchase order field

Expected behavior:
Don't see purchase order field

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/5093264/31711844-e94a5902-b455-11e7-83d3-0e325365601c.png)

[2017-10-18 09:48] qdp-odoo commented on #19997
best would be to use _check_m2m_recursion()

[2017-10-18 10:52] roccocesetti commented on #20249
i solved this problem,have installed python 3.5

[2017-10-18 10:52] #20249 closed

[2017-10-18 12:02] amoyaux commented on #20217
Hello I created a PR there https://github.com/odoo/odoo/pull/20282 and we gonna fix this issue asap

[2017-10-18 12:28] yung-wang commented on #18572
@lap-odoo Hi Laura, thank you for your explanation. We will continue to work to improve the localization in the Community version. For us it will be difficult to maintain both version of the localization and it will be a duplication of our effort. But if you want some suggestion I would say:

- VAT could be improved (see this    https://www.odoo.com/apps/modules/10.0/l10n_nl_tax_statement/) The Om

[2017-10-18 12:31] lap-odoo opened #20284 "l10n_pt"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-10-18 12:33] leonard-decaillet opened #20285 "[11.0] Debian install - community 11"
Impacted versions: 11

Steps to reproduce:
Launch "apt update", following the install procedure described into the doc

Current behavior:
Get an error:
W: GPG error: http://nightly.odoo.com/11.0/nightly/deb ./ InRelease: The following signatures were i│drwxr-xr-x  2 root root 4096 Oct 12 15:48 __pycache__
nvalid: 5D134C924CB06330DCEFE2A1DEF2A2198183CBB5

[2017-10-18 12:40] amoyaux commented on #20285
@d-fence

[2017-10-18 12:48] zbik2607 commented on #20285
A similar error occurs with

for the Odoo repositories 10

[2017-10-18 12:49] #19254 closed

[2017-10-18 12:51] d-fence commented on #20285
Hello, it's linked or duplicate of #19900 and #19960 .

I'm working on it.

[2017-10-18 13:08] lap-odoo opened #20287 "l10n_ma"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-10-18 13:31] ploegvde commented on #18572
Hello, about the splitting of services and products. I'm curious what others think would be best solution. My proposal to use "service tax codes" can work, but then you vane to set the product type and tax correct on the product and that can be forgotten. @yung-wang What would you suggest?

[2017-10-18 13:57] almustafago opened #20288 "Islamic calendar in odoo 10"
hello , friends i have islamic calendar odoo v8 , i would like to use it in odoo 10

[2017-10-18 14:00] sle-odoo commented on #20156
fixed by rev c30f8c50a3f4492c68f7cc4c2c1ce6cb5bf5350b

thanks

[2017-10-18 14:00] #20156 closed

[2017-10-18 14:03] sle-odoo commented on #17702
@amoyaux i think you worked on something similar?

[2017-10-18 14:09] mart-e commented on #20103
Where is this taken from?
Context please

[2017-10-18 14:10] Elkasitu commented on #20240
bisect shows bug was introduced in rev 1da064a, will have to check further since it's a forward-port

[2017-10-18 14:23] yung-wang commented on #18572
Hello Erwin @ploegvde , we still need to split the services and products because the Dutch Authority makes it very difficult but also flexible. A customer can do a seperate ICP for products but also for services and they can do the services for 1 month and the products for 1 quarter. The customer is also allowed to combine them both into 1 ICP. So because of this we need to keep them split. But I'

[2017-10-18 14:39] Cedric-Pigeon opened #20292 "[10.0] Forecasted stock report is not multi-company compliant"
### Impacted versions:
10.0

### Steps to reproduce:

On runbot, create a new company called Company B.
![image](https://user-images.githubusercontent.com/7813258/31724293-9e63ebd0-b421-11e7-8aec-a3a33444af26.png)

Give access to demo user:
![image](https://user-images.githubusercontent.com/7813258/31724342-bf156ba6-b421-11e7-92fb-81dd5ec86614.png)

Connect as demo user and consult product E-COM08

[2017-10-18 14:42] Cedric-Pigeon commented on #20292
OPW-777270

[2017-10-18 14:43] amoyaux commented on #17702
Yep, @AntMoreno by product tracked are not really good integrated.
In v10 at least you have to go through the finished product tab once you used the produce button in order
to set the lot for by product before mark the MO as done.

It's even worse for v11 where you have to go to the finished tab unlock the mo and then edit the lot.

I'm aware of this issue and made a feedback to @lap-odoo . We pla

[2017-10-18 14:48] ploegvde commented on #18572
@yung-wang That is not what i mean. The problem is that the ICP report splits the products and services based on product type. But eg 'transport cost' is a service that you can/have to report as product on the ICP report. Because 'transport cost' is a part of the cost of a product.

But now the transport cost appears as service on the ICP report.

So my suggestion is to not split the services and

[2017-10-18 14:55] Yenthe666 commented on #20288
Hi @almustafago,

Please only report bugs or problems in the official code from Odoo, that is where the Github tracker is made for.
You can ask these kind of questions on the official help forum (help.odoo.com).

Regards,
Yenthe

[2017-10-18 14:55] #20288 closed

[2017-10-18 15:10] yung-wang commented on #18572
@ploegvde Ah ok, sorry I misunderstood.
In Exact Online they have an extra option in the VAT code, similar to what you suggest to let the ICP report look at the VAT code.

[2017-10-18 15:18] ploegvde commented on #18572
The problem is that best solution would be to create a setting on the tax code if it is for products or services. But on stable Odoo can not do that. So we can only do it on the available tax codes from the Dutch module. That means user can not change it or create there own tax.

So for now it is ok, but for next version maybe create a setting. "ICP Products", "ICP Services" or "Not on ICP"

Agree

[2017-10-18 15:31] alexweggs commented on #19885
Here is a generated PDF (second pdf model sets)
No logo, wrong fonts, wrong backgrounds etc...

[Quotation - SO003 (1).pdf](https://github.com/odoo/odoo/files/1395205/Quotation.-.SO003.1.pdf)

[2017-10-18 16:06] #20080 closed

[2017-10-18 16:41] F3000 commented on #20103
When I install more available apps . I click on a specific app for more infos . The info page is looking like this

[2017-10-18 22:31] mah007 commented on #20171
when some one answer why
call me :D

[2017-10-19 04:19] totalard commented on #20167
How i get it without enterprise?

Ashique Zakariyya P
*Sales*

Golden Square Mukkam road, Areacode PO
Malappuram Dt, Kerala - 673639
Tel: +91-483-2851331
Fax: +91-483-2851331

*Store Available at**Total Uniforms Store*
Kamala Arcade, Annie Hall Road
Calicut - 673001, Kerala
Tel: +91-495-4050403

Ph:+91-9037453581,9387474096

Visit : <http://www.total-uniforms.com>www.totaluniformstore.com
Email: t

[2017-10-19 05:17] Yenthe666 commented on #20167
The simple answer is not. You'd need to write yourself a new app that does the equivalent of the enterprise app or find one on the app store that has the functionalities you need. In case of self development it would cost you a lot more probably.

[2017-10-19 07:00] mart-e commented on #20103
I see thanks. It is due to a bad CSS rule.
Actually @JKE-be has fixed it in 10.0 at c0a47980fc2458b2ef5f1e0c689842c8eafdde06 🎉

[2017-10-19 07:00] #20103 closed

[2017-10-19 07:26] Elkasitu commented on #20240
@ged-odoo

[2017-10-19 07:26] F3000 commented on #19890
Can you send me a VMware package ? So i can better test :)

[2017-10-19 07:35] ged-odoo commented on #20240
i'm on it

[2017-10-19 07:46] amoyaux commented on #20217
Resolved on 11.0 with commit 0cf3b1237351e63cf80918506a5fe0b9b45e181c Thanks for reporting the issue.

[2017-10-19 07:46] #20217 closed

[2017-10-19 09:00] ged-odoo commented on #20240
fix is merged: https://github.com/odoo/odoo/commit/d8f03e64fd46f45446c69f6b851813c559d0d5c7

[2017-10-19 09:00] #20240 closed

[2017-10-19 09:00] ged-odoo commented on #20240
(in saas-16). will be forwardported shortly in v11/master

[2017-10-19 09:25] lap-odoo commented on #17702
@AntMoreno

Here is the fix that should be done in V10 :
- The byproduct will be produced
- If you click on Mark as done on the MO, an error message will be raised because there won't be any serial or lot number defined on the byproduct
- You can then go in the tab final products to encode the lot/serial number and then close the MO

@amoyaux will inform you when it's done

We will improve that fe

[2017-10-19 09:45] Yenthe666 commented on #20198
Hey @ashish-webkul,

Thank you for your report.
It is related to https://github.com/odoo/odoo/issues/20046 so I'm closing this one in favour of the other.

Regards,
Yenthe

[2017-10-19 09:45] #20198 closed

[2017-10-19 09:59] Yenthe666 commented on #20274
@qdp-odoo do you agree to hide/remove this field in this view?

[2017-10-19 10:03] Yenthe666 commented on #20245
@JKE-be could you give feedback?

[2017-10-19 10:17] Tinhnguyen96 opened #20311 "[11: Widget] widget="date" doesn't work on form view"
Impacted versions: 11

Steps to reproduce:
![pic_1](https://user-images.githubusercontent.com/32927838/31766018-9d0121de-b4f0-11e7-9bff-26f6d0e889f4.png)

add widget="date" to field date_order:

![pic_2](https://user-images.githubusercontent.com/32927838/31766036-b03f4a64-b4f0-11e7-865c-d6e8a2d20a1f.png)

Enter "F5" and Create new Request For Quotation

![pic_3](https://user-images.githubuserconte

[2017-10-19 10:18] JKE-be commented on #20245
@prakashkumar163

Can you confirm that it fixes your problem
[code]

[2017-10-19 10:59] Yenthe666 commented on #20311
@ged-odoo the widget seems to be broken?

[2017-10-19 11:14] yung-wang commented on #18572
@ploegvde Im not sure what you're suggesting. Do I understand it correctly to keep things like it is for now? And for V12 we ask Odoo to add ICP settings in de TAX codes?

[2017-10-19 11:16] qdp-odoo commented on #20274
yep

[2017-10-19 11:18] lap-odoo opened #20316 "l10n_no"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-10-19 11:26] sswapnesh commented on #20311
@Yenthe666  Related to #20271

[2017-10-19 11:31] Yenthe666 commented on #20311
Indeed. Let me close the other in favour of this bug report as this bug report contains more info and screenshots.

[2017-10-19 11:32] Yenthe666 commented on #20271
Hi @phuongnguyen3108,

Thank you for your bug report.
I'm closing this one in favour of https://github.com/odoo/odoo/issues/20311 as the other report has more info and screenshots.

Regards,
Yenthe

[2017-10-19 11:32] #20271 closed

[2017-10-19 11:54] lap-odoo commented on #18607
@Danisan I agree that's where we should start. Which CoA do you suggest ? Could you provide a csv with the accounts and account types (or even a PR if you want) ?

Thanks

[2017-10-19 12:40] ploegvde commented on #18572
No, for V11 change the report based on the now existing taxes. hardcoded use the "dienste" tax codes for the services and the other tax codes for products. In V12 make a setting on the tax.

[2017-10-19 13:16] d-fence commented on #20285
The problem was that the 'Release' file needed for the Debian repository was signed with what is now considered a weak digest algorithm: sha1. Ubuntu 16.04 was giving a warning and Debian 9 refuse to use a repository with such a signature.
Although the fact that the preferred algorithms were in the right order, gpg signatures were always using sha1.
Finally, and as a reminder, adding the following

[2017-10-19 13:16] #20285 closed

[2017-10-19 13:16] d-fence commented on #19900
The problem was that the 'Release' file needed for the Debian repository was signed with what is now considered a weak digest algorithm: sha1. Ubuntu 16.04 was giving a warning and Debian 9 refuse to use a repository with such a signature.
Although the fact that the preferred algorithms were in the right order, gpg signatures were always using sha1.
Finally, and as a reminder, adding the following

[2017-10-19 13:16] #19900 closed

[2017-10-19 13:30] yung-wang commented on #18572
In the OCA localization we use only 1 tax code "Verkopen export binnen EU" that is linked to label "3b. Leveringen naar/diensten in landen binnen de EU (omzet)"
So im not sure how to do a hardcoded version with the existing codes if we only use 1 tax code. Do you have a different tax configuration? And I'm not really a big fan of hardcoded changes, but if that is the easy way, than that is OK. @la

[2017-10-19 13:33] ploegvde commented on #18572
You are right, i'm totally mistaken. For export we do not have separate tax code for services. So forget my solution.

[2017-10-19 13:56] totalard opened #20322 "Google sync python 3 error"
Impacted versions:11

Steps to reproduce:
Sync with Google Calendar

Solution I think:
It is decoding an already decoded string.. check error message

Current behavior:
Error...

Expected behavior:
Should work

Video/Screenshot link (optional):

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/fields.py", line 944, in __get__
    value = reco

[2017-10-19 14:00] d-fence commented on #19890
@F3000 It seems difficult. I don't use VMware. Further more, I think that you may experience the same problem if your firewall or VM system configuration prevent you to send HTTP request the Odoo instance running in the VM.

[2017-10-19 14:02] xmo-odoo commented on #20322
Dupe-ish of #20260

[2017-10-19 14:02] #20322 closed

[2017-10-19 14:18] Yenthe666 commented on #19890
This is out of scope of the bug itself too to be honest. For installation, configuration and implementation you should look at the guides:
https://www.odoo.com/documentation/11.0/setup/install.html
https://www.odoo.com/documentation/user/11.0/db_management/db_premise.html
http://www.odoo.com/documentation/11.0/setup/deploy.html

[2017-10-19 14:27] wtaferner commented on #20169
@ged-odoo
Are you or your team already on it? Is everything clear? It is kind of cumbersome developing or testing in the frontend the UI in onchange. Would be nice to get some feedback.

[2017-10-19 14:45] firehang opened #20325 "11.0 if website setting set Inventory be enable,when uom name coding is unicode will error"
Impacted versions:
11.0
Steps to reproduce:
website setting set Inventory be enable, set some product ‘s uom name coding with unicode . For example: 件

Current behavior:
unicode convert to str,will error .

see   \odoo\addons\website_sale_stock\controllers\main.py
get_attribute_value_ids function
line 24:  'uom_name':str(variant.uom_id.name),

Expected behavior:
Supports Unicode text display

Sugg

[2017-10-19 14:46] ged-odoo commented on #20169
@wtaferner yep, there is a ticket, and I am working on it.  However, I had to fix other onchanges/x2m issues first... (we could not do any expenses)

But this one will not be forgotten...

[2017-10-19 14:52] wtaferner commented on #20169
@ged-odoo
Thanks for the short notice...I saw that you are assigned...if you are already working on it I feel confident that you will fix them soon...having a possible launch (need to decide next week if we postpone or keep the planned date) of a quite big project (of course 11.0) in two weeks was keen but shows the trust I have in you guys ;-)

[2017-10-19 15:01] firehang commented on #20171
@mah007 How can install pyldap in windows10

[2017-10-19 15:19] xmo-odoo commented on #20124
Indeed it looks like the "relate" type was lost when ir.values was split out and the "action" ir.values were moved over to actions.

[2017-10-19 15:27] guesmihela opened #20327 "Workflow leave management odoo"
Hi I'm having a hard time trying to work out the permissions for the Human Resources module of Odoo10 when it comes to the Leave Management Workflow.
I active the double validation in the leave Type.
Let say I have a Department Production with the following employees:
Manager1 (Manager of the Department)
Employee1 (Employee on the same department production)
and I have an other department : HumanR

[2017-10-19 16:46] fmdl commented on #19781
@qdp-odoo

[2017-10-19 18:47] khalyomede opened #20329 "What about a package.json in the root of the folder ?"
This is not a bug but a suggestion : I installed Odoo/odoo for the v11, but in the documentation we are asked to install less using `npm install -g less`. Why installing it globally ?

I know for most of my projects, I use `npm init` which will generate a `package.json` file with all my npm packages dependencies. Then, while shipping new version to release, you do a `npm install --save less`.

Fin

[2017-10-20 01:26] khishigbat commented on #19907
Hi @mart-e,
I don't see the string on Transifex. When is it gonna be there?
Thank you.

[2017-10-20 06:22] Yenthe666 commented on #20329
@JKE-be I believe you are the guy to answer this? CC @mart-e - I'm curious about this too.

[2017-10-20 06:57] d-fence commented on #20329
Seems a good idea but I need to check how it could interfere with other packages.
The Debian package already depends the npm-less package installed globally if I remember well.

[2017-10-20 07:20] Elkasitu commented on #20238
Hi, I believe this has been fixed in rev f5df4fb
It was an issue with py2-py3 compatibility

@Yenthe666 can you confirm and close? Thanks

[2017-10-20 07:22] mart-e commented on #19907
@khishigbat today 😉

[2017-10-20 07:24] khishigbat commented on #19907
@mart-e looking forward to it.

[2017-10-20 07:28] sswapnesh commented on #20274
Same behaviour in 9,10.

[2017-10-20 07:38] Yenthe666 commented on #20238
Thank you for the update @Elkasitu  - yes the commit https://github.com/odoo/odoo/commit/f5df4fbca1d6dce4f98cdb6b27bee3fb843febf4 fixed the bug!

[2017-10-20 07:38] #20238 closed

[2017-10-20 07:48] Yenthe666 commented on #20273
Hi @oihane,

Thank you for your bug report.
I've just tested this on the latest runbot and on a local installation of the latest Odoo 11.0 and it works without any problems.
Can you please update your Odoo codebase and database and try again? This issue is no longer reproducable.

Regards,
Yenthe

[2017-10-20 07:48] #20273 closed

[2017-10-20 07:50] khishigbat commented on #19907
@mart-e Thank you! :D

[2017-10-20 07:52] Elkasitu commented on #20216
@zeljkot fixed in rev f5df4fb

[2017-10-20 07:52] #20216 closed

[2017-10-20 08:15] khalyomede commented on #20329
I gave it a try to my cloned repo, seems not to collide with anything else. If it can give you some inspiration guys :

0. If not done, `sudo apt-get install -y npm && sudo ln -s /usr/bin/nodejs /usr/bin/node` (like specifyied on the [installation documentation](https://www.odoo.com/documentation/10.0/setup/install.html#setup-install-source))
1. `sudo npm init` (`npm init` gave me an error)
2. Ans

[2017-10-20 08:20] kl31b3r opened #20338 "TypeError: not all arguments converted during string formatting"
Impacted versions: odoo 11

Steps to reproduce:
1. Install Point of Sale
2. des-Install Point of Sale
3. Install Point of Sale
Current behavior:
Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/tools/convert.py", line 741, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/opt/odoo/odoo/odoo/tools/convert.py", line 651, in _tag_record
    id = self.env(context=rec_context)

[2017-10-20 08:33] d-fence commented on #20329
Debian 9 does not provide 'npm'. Package is too old but it seems to be back in Sid:
https://packages.debian.org/sid/npm

I'm afraid that it could confuse users as it requires additional steps to have 'npm' working with the latest Debian. On solution is to provide the json file and update the documentation accordingly to prevent Debian users to go that way ?

[2017-10-20 08:38] kl31b3r commented on #20338
The solution:

Replace in Line 335
#'name': _('POS Order %s') % values['name'],
  'name': "POS Order %s" % values['name'],

Replace in Line 344
#val.update(name=_('POS order line %s') % values['name'], code='pos.order.line')
   val.update(name="POS order line %s" % values['name'], code='pos.order.line')

[2017-10-20 08:38] #20338 closed

[2017-10-20 08:43] JonathanNEMRY opened #20340 "[10.0][BUG] Export a grouped selection will export all"
Impacted versions:
10.0

Steps to reproduce (tested on runbot):
* Go to partner selection
* Group partners by country
* Select belgium with the "all" selection
* Export this selection

Current behavior:

ALL the partners are  exported into the file

Expected behavior:

Only the selected partner should be exported (moreover if you elapse other grouped selection you will see that none of them are se

[2017-10-20 08:47] Yenthe666 commented on #20338
@kl31b3r I've tried this on the latest Odoo 11 and it works fine too.

[2017-10-20 08:50] JonathanNEMRY commented on #20340
OPW 777595

[2017-10-20 08:53] BetaUliansyah opened #20341 "/jsonrpc call without parameter, response with Bad Request and showing memory allocation address"
Impacted versions: 8, 10, 11 (9 is not tested yet)

Steps to reproduce: Open $ODOOURL/jsonrpc from browser

Current behavior: Return with Bad Response page

Expected behavior: 404 page maybe?

Video/Screenshot link (optional):

![screenshot from 2017-10-20 15-48-08](https://user-images.githubusercontent.com/3723780/31812729-2ee9563a-b5ae-11e7-9b18-99db92103d5c.png)

Personally I used this techniqu

[2017-10-20 09:01] kl31b3r commented on #20338
Check this file /opt/odoo/odoo/addons/point_of_sale/models/pos_config.py

Line 335 and 344.

[2017-10-20 09:08] xmo-odoo commented on #20341
400 Bad Request is correct, json-rpc endpoint require a request mimetype of application/json or application/json-rpc.

[2017-10-20 09:08] #20341 closed

[2017-10-20 09:14] CGenie commented on #15655
@amigrave The patch you proposed is merged to 10.0 but not to 9.0. Could you backport it? The 9.0 version is still officially supported and the bug was described first in 9.0.
We have a module that patches it but I'd prefer to have upstream code that works :)

[2017-10-20 09:27] laps-odoo commented on #20077
me too. after installing python3-vobject_0.9.5-1_all.deb, still get the same issue:

       _/home/parallels# gdebi odoo_11.0+e.latest_all-enterprise.deb
Reading package lists... Done
Building dependency tree
Reading state information... Done
Reading state information... Done
This package is uninstallable
Dependency is not satisfiable: python3-pyldap_

[2017-10-20 09:38] Yenthe666 commented on #20077
@d-fence could you check this one too please? Perhaps we still have a dependency issue after all.

[2017-10-20 09:49] d-fence commented on #20077
python3-pyldap dependency was removed here: 347acbb4c2cded737b4282614c243cbbd6d5a85f
It should install smoothly with the latest debian package.

[2017-10-20 09:53] d-fence commented on #20077
@sterbhai It seem that you use the ldap functionalities. As the Debian package 'python3-pyldap' does not exists on Ubuntu, it was removed from the dependencies.
So, if you want to use the ldap functionalities, you should install the Python3 module manually:
[code]
I hope this helps.

[2017-10-20 10:22] khalyomede commented on #20329
You right, I was runing on Ubuntu npm version 3.*. @d-fence could be a nice solution imo.

[2017-10-20 10:27] gustavovalverde commented on #20340
Also confirming this issue @Yenthe666

[2017-10-20 10:32] gustavovalverde commented on #20224
Ticket 777625

[2017-10-20 10:34] gustavovalverde commented on #20158
Ticket 777033

[2017-10-20 10:39] gustavovalverde commented on #19086
Ticket 777073

[2017-10-20 10:39] ged-odoo commented on #19627
for your info, there is now a way to regenerate assets in the debug manager (in master, commit https://github.com/odoo/odoo/commit/28491aac45dc912696c1fcc57a50e3ec98906336)

[2017-10-20 10:44] gustavovalverde commented on #19722
Hi @qdp-odoo, we'd like your recommendations on https://github.com/odoo/odoo/issues/19722#issuecomment-332336418 before starting the development this weekend. Didn't ping you before because I knew you guys were too busy with Odoo days :)

[2017-10-20 10:49] gustavovalverde commented on #18637
Hi @lap-odoo, just giving a follow-up on https://github.com/odoo/odoo/issues/18637#issuecomment-320985833

I'm very interested on having a Partners Guideline for localizations, I could also help on it's development, if possible.

[2017-10-20 11:15] Yenthe666 commented on #20340
@JonathanNEMRY and @gustavovalverde do you guys mean like this?
![image](https://user-images.githubusercontent.com/6352350/31818463-967e25b6-b598-11e7-9257-84354b8315e5.png)
This only exports the belgian companies for me:
![image](https://user-images.githubusercontent.com/6352350/31818485-abb276b2-b598-11e7-99f8-104f853ddb0c.png)

I think I'm doing something slightly different. 😉

[2017-10-20 11:30] gustavovalverde opened #20347 "[11.0][10.0] Landed Costs do not support Customs Tariffs per product"
### Impacted versions:
11.0, 10.0

### Steps to reproduce:

1. Create a Landed Cost
2. Add a bunch of pickings with more than 100 products
3. Add all applicable Cost Lines
4. Create a "Customs Tariffs" cost, which just applies to some of the products of this Landed Cost

### Current behavior:
There's no way to use Customs Tariffs, as we can't apply additional costs just to specific products. Doing

[2017-10-20 11:33] gustavovalverde commented on #20347
@sle-odoo pinging you based on your last commits ;)

[2017-10-20 11:33] lukebranch commented on #20347
i've also run into this issue in 11.0

[2017-10-20 11:38] gustavovalverde commented on #12527
I saw some "SEO" marketing on v11 launch. Which of this issues were tackled?

[2017-10-20 11:42] gustavovalverde commented on #18052
This seems like an interesting scenario. As I'm also using Odoo instances under this same proxmox scenario. I'll check my nginx configuration and give some feedback here.

[2017-10-20 11:46] protheusfr commented on #19848
Same issue here.
I've fixed `web.base.url.freeze` to `True` and `web.base.url` to my https adress and also `proxy_mode = True`, but despite all this parameters, when I try to access to https://mydomain, Odoo redirect me to http://mydomain/web/login :(

Why ?

[2017-10-20 11:50] sswapnesh commented on #20340
@Yenthe666  You need to remove advance search `Country contains "belgium"` to reproduce issue.

[2017-10-20 11:54] mge-odoo commented on #20311
@Tinhnguyen96 thanks for reporting the bug. It has been fixed in a previous version (saas-16) and will soon be forward-ported.

[2017-10-20 11:54] #20311 closed

[2017-10-20 11:56] gustavovalverde opened #20348 "[11.0][10.0] Password validation is being done after database upload"
### Impacted versions:
11.0 10.0

### Steps to reproduce:
1. Select a 2GB database to restore
2. Start a database restore process
3. Input Master Password
4. Input Database name
5. Click Continue

### Current behavior:
Database starts uploading.
After 15 minutes...
![image](https://user-images.githubusercontent.com/16890942/31819748-fdff6d44-b56b-11e7-9414-666521bb016a.png)

### Expected behavior:

[2017-10-20 11:56] gustavovalverde commented on #20348
@odony 😄

[2017-10-20 12:03] sswapnesh commented on #20340
Same Issue in every list view. (v10/11)
Go to any List view --> Group By --> Select and Export.
It will export all records.

[2017-10-20 12:13] amigrave commented on #15655
Thanks @KangOl  !

[2017-10-20 12:13] mlaitinen commented on #20099
Are you accessing Odoo via port 8072? How is your reverse proxy configured?  I have seen this happen due to reverse proxy misconfiguration where all traffic was forwarded to 8072 instead of 8069.

[2017-10-20 12:18] mlaitinen commented on #20158
I encountered the same issue. The weird thing is that if you connect to the longpolling port `8072` all the assets work just fine. With `8069` the UI is broken.

[2017-10-20 12:21] odony commented on #20348
I think this was already reported somewhere, maybe in relation with #17663. The thing is, we're dealing with HTTP requests here, and we only get to process the request when we receive it entirely, i.e. when the bytes have been sent. That can take a while if you're not doing this locally.

We could do a pre-flight validation of the password before posting the file, but that seems mostly overkill fo

[2017-10-20 12:43] jvOrsouw commented on #18572
So to sum up on improvement on taxes:
- 'aangifte omzetbelasting' to be based on invoice date, not accounting date
- separate taxes for export: export products, export services
- ICP report based on the new taxes, so the distinction between products and services is no longer based on the product type, but on the tax used in the transaction
- more flexible ICP report, possibility to only report pro

[2017-10-20 12:50] gustavovalverde commented on #20348
I mainly used the db manager after an upgrade from v8 to v10 as it was the recommended tool by the upgrade team. But I do agree with your statements.

I'll close this as is not that "relevant"

[2017-10-20 12:50] #20348 closed

[2017-10-20 13:53] rdeodoo commented on #20228
Missing enterprise label [fixed on saas-14](https://github.com/odoo/odoo/commit/bdaa3b88e471c3c0ec686e7ef4f2fe2cca595da2)

[2017-10-20 14:01] rdeodoo commented on #20228
Duplicate label [fixed on saas-16](https://github.com/odoo/odoo/commit/dd2a619ad55191e58fb7d7112009624910142390)

[2017-10-20 14:01] #20228 closed

[2017-10-20 14:16] amoyaux commented on #17702
We won't do it in stable since it requires to risky change for a stable version. However you can apply this commit https://github.com/odoo/odoo/pull/20339/commits/1786e48b385e3970b8c2b77bbde115cc11402b7a
if you want to have a quantity done set by the produce wizard

[2017-10-20 14:16] #17702 closed

[2017-10-20 14:16] muntean commented on #19627
@ged-odoo : Thanks! I'll try this out next time when this issue will occur.

[2017-10-20 14:20] ged-odoo commented on #20169
@wtaferner Well, I hope that your project will be a success, delayed or not.  We'll do our best from our side :)

I have a fix for initial issue (https://github.com/odoo-dev/odoo/commit/e6b73cc252eb7709bcd1a5118da5c83f83ba878a).  In that fix, we keep the value given by the user.  We just make sure that the displayed value is the same as the internal value from the basic model.

Now, I'll work on t

[2017-10-20 14:26] Yenthe666 commented on #19627
@muntean you can't, really, because it is in the master version. It won't be available before V12. 😉
@ged-odoo I'm guessing a backport won't be allowed as it is a new feature?

[2017-10-20 14:27] jholze commented on #12527
They added this rewrite rules which is nice. But only works for static
pages, not dynamic.

Best ,

Jens

Gustavo Valverde <notifications@github.com> schrieb am Fr. 20. Okt. 2017 um
13:38:

--
Jens Holze
CEO & Founder

bloopark systems GmbH & Co. KG

Sternstraße 8, 39104 Magdeburg

Telefon   +49 391 563069-10
Email      jholze@bloopark.com
Website  www.bloopark.de

[2017-10-20 14:27] Tinhnguyen96 commented on #20311
Thank you for your interest in my bug! Thank you

[2017-10-20 14:39] ged-odoo commented on #19627
@Yenthe666 correct.

But it should be trivial to backport, and the feature is also pretty easy to add in an external module.

[2017-10-20 14:46] wtaferner commented on #19627
@ged-odoo
Hmm, I am kind of tempted to cherry-pick the master commit on v11 :-) should be safe I guess...

[2017-10-20 16:01] Yenthe666 commented on #19627
Yup - I'm tempted to do this too. Maybe I'll make a little addon for it that I publish on Github. Time to find me some time..

[2017-10-20 18:13] #19672 closed

[2017-10-20 18:13] #18438 closed

[2017-10-20 18:57] Maurice67205 commented on #11627
We have the same problem when restoring a database from customer

[2017-10-21 08:32] chchow commented on #18696
Is there any update on this?

I've tried using this installation method for Odoo 11 on Ubuntu 16.04:
https://www.odoo.yenthevg.com/installing-odoo-11-enterprise-ubuntu/

It turns out to be the same as below:

Error:
Uncaught TypeError: Cannot read property 'off' of undefined

https://techkono.com/web/content/304-aa6f268/web.assets_backend.js:2096
Traceback:
TypeError: Cannot read property 'off' of

[2017-10-21 10:19] mohamedsaad306 commented on #11976
@alaherma  i have the same issue , did you manage to fix it  ?

[2017-10-21 10:59] Yenthe666 commented on #18696
Hmm, I'm actually the author of this and I have multiple Odoo 11's running just fine. Could you post some more output of the log? Did all the commands finish successfully? Are there no issues in the log about it?
Cc @ged-odoo

[2017-10-21 11:00] bsetsu opened #20364 "adding addons_path in odoo.conf makes all static contents "not found""
Impacted versions:
odoo 10
Steps to reproduce:
edit the odoo.conf as follows, adding the 3rdparty addons's path.
addons_path = /usr/lib/python2.7/dist-packages/odoo/addons,/usr/lib/python2.7/dist-packages/odoo/addons_3rdparty

run "service odoo restart" to restart service

Current behavior:
image,css,js all static contents become "not found(404)"
**don't forget to clear the browser cache first.

E

[2017-10-21 11:27] ploegvde commented on #18637
@lap-odoo Isn't it easier to mange separate issues and that you label them as "Generic Accounting" or eg "Country-Accounting" if it concerns a specific country. All feedback in 1 issue is hard to manage. Also if we have separate issues the developers can link them to there solution :)

Is that a option for you?

[2017-10-21 13:59] JKE-be commented on #11976
It is an error in your deployment!

There are no fix to do in Odoo ...

Check the access in file... files static are not found

@alaherma

[2017-10-21 17:46] wtaferner commented on #20364
@bsetsu
You have to add the standard Odoo addons path there too...

So you need at least ```odoo/addons,addons``` in your addons path...

[2017-10-21 18:52] boumboum commented on #19627
I've tried to delete (at the database level) all the assets but it didn't help.
I still have an empty screen
![kep](https://user-images.githubusercontent.com/17336267/31854987-c7b4e8ea-b6a1-11e7-9ae4-bf5c121e9719.png)

[2017-10-21 20:12] chchow commented on #18696
I've just wiped my VPS clean and reinstalled using your script.
It works for my apache2 with no rewrite and proxyreverse, accessing only http://xxx:8069.

However, once a rewrite and proxyreverse for port 80-> 8069, this error appears. Below are my apache site conf:
`<VirtualHost *:80>
    ServerName xxxxx.com
    ServerAlias *.xxxxx.com

    RewriteEngine On
    RewriteCond %{SERVER_PORT} 80

[2017-10-22 06:17] eduquintana opened #20365 "Unknown CORS error when connecting to Google Analytics"
Impacted versions: Odoo 11

Steps to reproduce:

1. Install odoo 11 in Ubuntu 16.04
2. Install apache and the module proxy-uwsgi and do the process to redirect port 8069 to 80.
3. Follow the steps in this pages to configure Google Analitics:
https://www.odoo.com/documentation/user/11.0/website/optimize/google_analytics.html
https://www.odoo.com/documentation/user/11.0/website/optimize/google_analy

[2017-10-22 06:54] alexweggs commented on #19885
Hi,
After the today update there are some changes, fonts seem ok, but still not got logo and some background and styles still missing

[2017-10-22 09:53] sterbhai commented on #20171
got it working - not sure why.
on the third install it worked with the modules mentioned above.

[2017-10-22 09:53] #20171 closed

[2017-10-22 10:40] Nouagie commented on #8660
Still on the same issue, but maybe there are more recent threads.

It's not very productive, this way of working. Working with a so-called 'template'-project (which is not really a template), gives you more work then really needed. Can't there be a real template-option, let's say, when you create a new project?
What also bothers me in the Kanban-view, if there aren't any projects in a certain task

[2017-10-22 11:44] shepilov-vladislav commented on #5137
Any news about this issue? Solutions from https://github.com/odoo/odoo/blob/master/openerp/addons/base/res/res_company.py and https://github.com/OCA/l10n-brazil/blob/8.0/l10n_br_base/models/res_company.py#L36 didn't helps.

[2017-10-22 15:40] wbison3 commented on #12902
this is still a problem on v11.

[2017-10-22 16:57] august434 opened #20366 "[V10] Cannot Print Anything (SyntaxError: JSON Parse error: Unexpected EOF)"
**Dear Everyone,**

Please kindly help me solve this headache issue. **Cannot print anything from Odoo.** Been stuck with it for a year now.

Please any expert help me.

Thank you so much.

**Impacted versions:**
Odoo Version 10 running on Ubuntu 16.04
Nginx as reverse proxy

**Steps to reproduce:**
(1) Install wkhtmltopdf
(2) Re-install many time

**Current behavior:**
The error show as below whe

[2017-10-22 17:37] jocures commented on #6556
Hey I am experiencing the same problem in Odoo 10.
Has anyone made any progress on this?

[2017-10-22 22:24] SnakeDoc commented on #19912
For now, you can fix this easily by selecting a Package under Fiscal Localization. This wasn't entirely obvious to me, as someone new to Odoo.

Settings --> Invoicing --> Fiscal Localization --> Save

[https://image.ibb.co/gCAhT6/fix_error.png](https://image.ibb.co/gCAhT6/fix_error.png)

[2017-10-23 04:32] gustavovalverde opened #20371 "[11.0] l10n: Issue on "Partner" translation"
Impacted versions:
11.0

Steps to reproduce:
Install a database with es_DO.

Current behavior:
All places where the word partner is found, it translate to a bunch of symbols with the translation in the middle:
![image](https://user-images.githubusercontent.com/16890942/31872376-7d6d80a6-b789-11e7-948b-329a0b350ce8.png)

Expected behavior:
Correct translation without bunch of symbols

cc: @mart-e

[2017-10-23 06:46] Yenthe666 commented on #20371
That actually looks like somebody f***ed up the translation files.. @mart-e will surely have a look at this soon.

[2017-10-23 06:47] Yenthe666 commented on #20365
@JKE-be does this ring any bells to you buddy?

[2017-10-23 06:49] Yenthe666 commented on #20364
Indeed - you're simply missing the default Odoo paths and because of this Odoo can't find its way & fails (which are your 404's going off)

[2017-10-23 06:49] #20364 closed

[2017-10-23 06:49] Yenthe666 commented on #20366
Hi @august434,

Have you ever updated your Odoo codebase to the latest version?

[2017-10-23 06:49] JKE-be commented on #20365
Are you sure that in your Google Anlaytics Account, Odoo is well whitelisted as origin?

https://www.odoo.com/documentation/user/11.0/_images/google_analytics_authorization.png

[2017-10-23 07:15] ddfs commented on #19912
@SnakeDoc since you are new to odoo and other things, it is good to read the following threads before your comment.

[2017-10-23 07:39] august434 commented on #20366
Hi @Yenthe666 ,

I just make a newly installed last week.

Odoo 10.0

Thank you

[2017-10-23 08:26] #20371 closed

[2017-10-23 08:26] mart-e commented on #20371
Thanks, fixed at 0ad610672b1

[2017-10-23 08:50] ged-odoo commented on #20169
@wtaferner

- I am not sure I can reproduce your second issue: there is an onchange on a field, and it is not applied. I do not know how it could happen.  Is it because the field that changed was still in focus? (in that case, why did the onchange triggered?).  If this is the case, does this commit solve your issue: https://github.com/odoo-dev/odoo/commit/2f1688ab50e470560422f77b9ebb0ad7bf4e190e ?

[2017-10-23 09:03] JonathanNEMRY commented on #20340
@Yenthe666  your exemple is actually a workaround of this bug...but into a user-use-case he does not want to select agin a filter to select what he already has into its screen...don't you think? :smile:

[2017-10-23 09:05] JonathanNEMRY commented on #20340
@JKE-be do you have an idea how to fix this?

[2017-10-23 09:16] lap-odoo commented on #18512
@lvx5013 Thank you !

There are much less accounts than in the current Odoo CoA.

Could the other partners confirm me this CoA is better than the current one ? Thank you

[2017-10-23 09:18] ged-odoo commented on #18696
This exact error is a JS error, which happens more in community, because the discuss app is the landing page (in enterprise, you have to click on the application, which takes more time).  The problem was that the messages are fetched before some buttons could be rendered, so if the user clicks quickly somewhere else, the client action is destroyed, but the buttons were not rendered.

This is fixed

[2017-10-23 09:18] #18696 closed

[2017-10-23 09:24] m3dbedb commented on #17374
Similar behavior found in task chatter: for internal project (visible by employees) odoo time to time adds partner email to recievers of massage, even if partner is not subscribed.

[2017-10-23 09:28] JKE-be commented on #20340
It is more a debate of usability than an issue IMHO.

But your solution is to uncheck the first checkbox from 1 group by to say "Not all but all what is selected" and after reselect the unchecked to get it. There you will have all selected, and all record of the current domain in the filter.

We should probably implement a warning in the gmail style

![image](https://user-images.githubusercontent.

[2017-10-23 09:47] lap-odoo opened #20377 "l10n_vn"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-10-23 09:54] lap-odoo commented on #20377
We have already received a PR in order to improve the l10n_vn localization : https://github.com/odoo/odoo/pull/18694

This will be reviewed by our developers.

But if you have any suggestion or if you have improvements to suggest on this PR do not hesitate to add the info here.

Thanks

[2017-10-23 10:02] lap-odoo commented on #18608
Regarding l10n_fi, we have already received a PR https://github.com/odoo/odoo/pull/18277

This will be reviewed by our team but if you have suggestions, do not hesitate to post them here.

Thanks

[2017-10-23 10:07] johnny-longneck opened #20379 "[11.0] Cannot use SKR04 - Error chart_template.py"
Impacted versions:

11.0

Steps to reproduce:

Fresh install Odoo 11. (Yenthe Script - Thanks)
Create Database - Choose Germany
Enable Sales and Accounting Module
Settings: Change Chart of Account from SKR03 to SKR04 (already both installed)

Current behavior:
Error in chart_template.py
Short:
`File "/odoo/odoo-server/addons/account/models/chart_template.py", line 910, in execute
    IrDefault.sud

[2017-10-23 10:10] navinks04 commented on #20269
I have the same issue but my version is Odoo10. And the thing that is common between mine and phuongnguyen3108 issue is that Postgrsql version 10. I have upgraded my database to postgresql 10.

Hope the updgrade is not causing such isue.

[2017-10-23 10:11] lap-odoo opened #20380 "l10n_at"
Dear Odoo Partners,

At Odoo, a lot of effort is put into improving the accounting localizations for each country and also to maintain these accounting localizations up-to-date. To achieve that, we will need your help.

One github issue will be created per accounting localization (e.g. l10n_be for Belgium). We expect from you to make suggestions about what should be improved in the specific accoun

[2017-10-23 11:03] Yenthe666 commented on #20379
Hi @johnny-longneck,

Thank you for your report! I'm happy to see you're using my scripts by the way. 😉
@lap-odoo perhaps you could have a look at this and/or getting it handled? Since you're **the** localisation/accounting person at the moment

[2017-10-23 11:15] mart-e commented on #19912
I am not sure to get your issue. You need a chart of account to use sale & purchase modules.
However, when you create a new Odoo install, it is automatically installed based on your country.
If you create another company, you need to specify it manually though.

[2017-10-23 11:30] wtaferner commented on #20169
Well, I am changing the value to 23 which does trigger an onchange...the server does evaluate the number and decides that it is too much and sends back only 15...so the frontend should respect the number getting back from the server...I will test your commit later today.

About the other stuff you have fixed it now does show the "real" old value but IMHO a validation error should set back the orig

[2017-10-23 11:37] mart-e commented on #19885
The logo is be fixed at 1df6f4c7. You _must_ adapt your reports from previous versions to work in v11.

Closing but if it does not solve the issue, please give an example of report configuration, saying "it does not work" is not very informative.

[2017-10-23 11:37] #19885 closed

[2017-10-23 12:04] alexweggs commented on #19885
Thanks for informations but still got no logo and no good styles.
If i don't make any mistake, i've chosen a template from the 4 available, fill all fields for my company, and my logo.

What can i give you as more informations ti help resolving that issue ?

What do you mean "You must adapt your reports from previous versions to work in v11" ? I'm from a clean install for the v11 and want to use b

[2017-10-23 12:05] ddfs commented on #19912
the problem is that not installed automatically and causes this case. in v8 didnt face such issue. so this probably left from ee when trimmed out for ce.

[2017-10-23 12:09] mart-e commented on #19912
This is the part I would like more information about. It _should_ be installed automatically (based on the country you have specified).
How do you install your db and modules? What are the steps?

The goal is that, in CE, all the accounting part is silent and done automatically. No wizard asking you to chose to a chart of account.

[2017-10-23 12:14] ddfs commented on #19912
country: Finland, no i10n is available.

db setup is done on init via nightly packages.
modules installed from admin panel. modules from nightly package too, local.

[2017-10-23 12:18] lap-odoo commented on #20379
@johnny-longneck @Yenthe666 Thanks for reporting this !

@kebeclibre is already working on fixing this issue ;)

[2017-10-23 12:24] johnny-longneck commented on #20379
I am amazed about the good response.
This issue prevents us from switching to odoo 11 yet.

And again Yenthe, I used the script like 20 times already. I have Odoo running in 2 companies.

[2017-10-23 12:27] lap-odoo commented on #18637
@gustavovalverde : Thanks for the reminder. We have just launched the task to create guidelines for localizations, it's coming :)

As you can imagine, with the Odoo Days, we were a bit in a rush but now we will catch up.

The suggestion from @ploegvde completely makes sense. I'll create more specific issues but I'll do it one at a time to be able to then follow the feedback.

For the country-speci

[2017-10-23 12:38] mart-e commented on #19912
I just tried with a fresh v11, Finland as the country. I just installed the "sale" module and got the generic chart of account as expected. Creating a new contact was working fine.

[2017-10-23 12:53] edsersolis commented on #19990
@jco-odoo could you have a check on this please?  It's a big issue for any manufacture company as it won't display their real costs.

[2017-10-23 13:00] aleifuu opened #20387 "Internal Error 500 when login"
Impacted versions:
Odoo10
Steps to reproduce:
Create any user, and set him/her to be non-Employee on his/her Access Rights
Current behavior:
System spits out Internal Error 500
Expected behavior:
I would have expected a warning or a message would have been a better alternative, rather
than straight to Internal Error 500
Video/Screenshot link (optional):

[2017-10-23 13:05] ploegvde commented on #18637
Isn't it easier that users create there own issues and they mention you and you label them?

[2017-10-23 13:14] lap-odoo commented on #18637
@ploegvde : The risk is to see an explosion of Github issues that I won't be able to follow. Moreover, the feedbacks can go completely out of our roadmap and users may be disappointed no to see them taken into account quickly. So I prefer to centralize the feedbacks here and then create specific issues based on the issues that seem the most important.

Users can of course always create their issue

[2017-10-23 13:16] eduquintana commented on #20365
Yes, of course i did that

[2017-10-23 13:17] JKE-be commented on #20365
@eduquintana

If you can reproduce it on runbot let me know, and I will check it.

But until now, I cannot reproduce your issue.

[2017-10-23 13:18] gustavovalverde commented on #18637
@lap-odoo I created this one https://github.com/odoo/odoo/issues/19722  as we're working on this localization. Should I wait for your labeling or is it better if I wait for you to create one and then I replicate the information on that one?

[2017-10-23 13:43] Yenthe666 commented on #20387
Hi @aleifuu,

Thank you for your report.
What exactly do you mean with "...and set him/her to be non-Employee on his/her Access Rights..."?
I just made a new user without any problems:
![image](https://user-images.githubusercontent.com/6352350/31892282-ec312fcc-b808-11e7-9438-70ac115ff3d2.png)

[2017-10-23 14:40] qdp-odoo commented on #19781
I'm not sure. It seems legit to keep this as it is now, since
* the partner ledger report is a "date-range report" (needs a "date from" and a "date to") and I believe it has sense to keep it like that
* you have an option to include reconciled entries or not ("reconciled nowadays", I mean)
* you have the aged partner balance that gives you the information on what was reconciled at a given date

Is

[2017-10-23 14:40] #19781 closed

[2017-10-23 15:00] vcloud9ray commented on #19569
TaxCloud is an Enterprise Edition feature - each time you select Enterprise Edition features you will be directed to the App Store.

[2017-10-23 15:06] pimodoo commented on #20213
Hello,

We have already get this feedback, but we cannot fix this in stable version as it will need a lot of changes. It will be fixed in the next version of Odoo (12.0).

Best regards

[2017-10-23 15:06] #20213 closed

[2017-10-23 15:24] SnakeDoc commented on #19912
For me, it was installed automatically, but not enabled/selected. In the screenshot I provided, I had just then clicked the drop-down and selected it (there was only one option available, but it wasn't active). After selecting it and Saving, this error went away for me.

@ddfs honestly, not sure what you're implying. I may be new to Odoo, but that doesn't make my 2 cents any less valuable, especia

[2017-10-23 15:32] pimodoo commented on #20125
Hello,

We have tested on our side and we are able to create scrap from picking and from scrap views (see screenshots attached). A picking must be in state done to allow scrap.

It also seems that your odoo version has not been update since 7th februrary 2017 and your bug has maybe been fixed since.

Best regards
![scrap odoo 3](https://user-images.githubusercontent.com/20767708/31897949-23c982cc-

[2017-10-23 15:33] pimodoo commented on #19919
@sle-odoo

[2017-10-23 15:39] pimodoo commented on #19903
@grzegorz-openglobe Hello, thanks for your feedback, could you please tell us how you create the lot? From a picking, or from the menu item "Lot/Serial" or MRP?

Best regards

[2017-10-23 16:12] jco-odoo commented on #19990
What do you mean by historical cost?  Is it possible that you did not have any products consumed when you did the first production?  It does not correct it afterwards trying to find which one would have been consumed by who.

[2017-10-23 16:14] gelo-landoo opened #20393 "Hours in subtasks [11]"
Impacted versions:
In Tasks there is a field called "children_hours".
Steps to reproduce:

Current behavior:
This field is taking the maximum value between "planned_hours"of the subtask and the hours of the substak´s timesheet.
Expected behavior:
 I think that if I estimate I´m going to work on subtask 100 hours, but I have worked 15 hours, the value of the field "children hours" is 100. It should

[2017-10-23 17:44] asmendez opened #20395 "Schedule Actions do not take new values when editing and take value 0 in modified fields"
Impacted versions:
Odoo 11

Steps to reproduce:
I modified two planned actions that come by default:
Mail: Email Queue Manager
Mass Mailing: Process queue

I set them as an interval 5 minutes and saving them are saved as 0. If I modify some other field like Number of executions is also saved as 0.

Current behavior:

Then these planned actions are running constantly and I have the server very slow

[2017-10-23 18:46] #19904 closed

[2017-10-23 20:54] celm1990 opened #20397 "Stock Availability on Product is wrong, take all childs's locations warehouse, must be take only locations type internal"
**Impacted versions:**
Tested today on runbot, V8, V9, V10, V11, master
**Steps to reproduce:**
On any instance of runbot, any product type stockable with stock on 2 or more locations type internal and same parent view for locations.
For example, product [LAP-CUS] Laptop Customized, on form view Stock on Hand is 85 Units
![image](https://user-images.githubusercontent.com/7775116/31912106-7ef6db64-

[2017-10-23 21:05] celm1990 commented on #19366
Any solutions???

[2017-10-23 22:54] nhomar commented on #20397
As you see.

This is a normal behavior in Odoo since A LOT of time.

You CAN NOT change the type of a location because you will get this result.

i.e: What you expect happend it chancge to loss? to production? to customer?

the expected behavior is so variant, you can lock this change with a simple server action if you have curious customers but it is Ok for me the current behavior.

[2017-10-23 23:17] blaggacao commented on #20213
@pimodoo Thanks, it feels great to hear your opinion.

Please feel free to reuse, retarget my pull request at will.

[2017-10-24 00:01] JulioSerna commented on #19432
Hello @qdp-odoo

The patch LGTM
Could you merge into version11.0?

[2017-10-24 00:08] celm1990 commented on #20397
OK, I can not change the type of location, but has no constraint.

On example change type of location(more speed on bug desciption) but if create a new location type customer with parent location is  type view and this parent is Warehouse view location(field view_location_id), [here](https://github.com/odoo/odoo/blob/11.0/addons/stock/models/product.py#L190) take this location type view, and [foll

[2017-10-24 00:13] celm1990 commented on #20397
Point here is not change location type, point is **[this function](https://github.com/odoo/odoo/blob/11.0/addons/stock/models/product.py#L193)** take all child locations of any types, must be take only internal type

[2017-10-24 01:46] Heifara commented on #15031
Hi,
I had the same problem. I solve it by updating my odoo and reinstalling the calendar module.

1. Update Odoo
`$ sudo apt-get update && sudo apt-get upgrade`

2. Re-install calendar
`$sudo odoo -d demo -i calendar`

[2017-10-24 02:30] aleifuu commented on #20387
Hi @Yenthe666 ,

Thanks for your quick reply. This is why I like posting more on gitHub rather than Odoo's official forum, where less people reply unfortunately

Here's what I have
![screenshot 2017-10-24 at 9 24 46 am](https://user-images.githubusercontent.com/21986424/31922145-9560e63e-b89d-11e7-809b-003e95cb0b3d.png)

Here, the user _cashier@badminton.com_ either have choice to be Employee, Off

[2017-10-24 02:38] TimLai125 opened #20400 "[10.0] Longpolling requests fail from time to time"
We noticed that the longpolling request keep failing by monitoring the network using the developer tool in Chrome. We are using Odoo 10.0 enterprise version.

Within the "Network" tab of the developer tool, we find out most of the "poll" request is failing, i.e. Status Code: 502 Proxy Error.
![developer_tool](https://user-images.githubusercontent.com/27185427/31922431-716ea4fa-b8a7-11e7-8242-997f1

[2017-10-24 03:40] hongquan opened #20402 "[11.0] "Country search" dialog doesn't show enough country"
#### Impacted versions:
11.0

#### Steps to reproduce:

Go to Settings > Company > Edit company > Click to change country. The "country search" dialog shows up.

#### Current behavior:

The dialog shows 160 countries

#### Expected behavior:

The dialog shows all countries (> 200)

Video/Screenshot link (optional):

![screenshot from 2017-10-24 10-39-23](https://user-images.githubusercontent.com/3

[2017-10-24 04:47] taxcloud commented on #18084
This is great news!

Following up on the question regarding decimal precision, the states expect accuracy to 5 decimals for the rate (not the dollars).

So, the example of 3.568% may be generally acceptable, but may not be accurate, as the true rate could be 3.56761%... and then you have States with rounding rules that do not match ordinary bank rounding (rounding up at 9 rather than 5).

This is

[2017-10-24 05:57] Yenthe666 commented on #20387
Hi @aleifuu,

Thanks for the feedback. I really can't get it reproduced though. I've made a user with no access rights - I can login and see the portal.
I made a user with basic rights to one module - the user can login just fine.
Can you reproduce it on a runbot (at runbot.odoo.com)?

[2017-10-24 06:01] Yenthe666 opened #20405 "[10.0] Discard test dialog triggers cannot get property error"
Impacted versions: 10.0

Steps to reproduce:
1. Click on "Tests"
2. Click on "Discard" when the wizard opens:
![image](https://user-images.githubusercontent.com/6352350/31926836-674e5d6e-b891-11e7-92ef-dd9bccc5b94f.png)

Current behavior: Uncaught TypeError: Cannot read property 'get_nb_views' of null

Expected behavior: Wizard closes without errors.

[2017-10-24 06:01] Yenthe666 commented on #20405
@ged-odoo this is a JS bug, could you have a look please?

[2017-10-24 06:09] SnakeDoc commented on #19912
@mart-e What do you mean by "a fresh v11", did you install on a new OS, or just dropped the database and re-created it?

I "reset" my odoo today (dropped database in postgres), but did not uninstall the package from my server nor did I wipe the server (fresh install of the OS). Surprisingly I did not run into this issue while setting things back up again. Maybe there's something there... ?

I don'

[2017-10-24 06:19] Yenthe666 commented on #19569
Wow, I totally didn't notice the community in the initial comment. You will need an enterprise version to be able to use TaxCloud.

[2017-10-24 06:19] #19569 closed

[2017-10-24 06:24] aleifuu commented on #20387
I'm not sure, but I can give it a try

[2017-10-24 06:28] Yenthe666 commented on #20387
You do have acces. Go to http://runbot.odoo.com/runbot/repo/git-github-com-odoo-odoo-1?search=, choose an Odoo 10 (marked by the 10.0 at the beginning) and click on the blue button to login. Username and password are both admin. 😉
![image](https://user-images.githubusercontent.com/6352350/31927666-5b7522ee-b895-11e7-9d4e-b8764455b44e.png)

[2017-10-24 06:32] aleifuu commented on #20387
hmm, first time using it LOL. seems I do have access after all =). Okay, I'll give it a go

[2017-10-24 06:42] Yenthe666 commented on #20397
@jco-odoo could you have a look please? To save you some time: the last comment is the essence of the whole thread. 😉

[2017-10-24 06:54] Yenthe666 commented on #20402
Hi @hongquan,

Thank you for your report but this is the default behaviour from Odoo.
Odoo only shows this number by default because of performance and historical reasons. If you would want to see all the records you would first need to do a search and then remove the filter for example.

Regards,
Yenthe

[2017-10-24 06:54] #20402 closed

[2017-10-24 06:57] Yenthe666 commented on #20266
@ashishbigbos please add more information. What steps did you follow? On what screen where you? Where did you click on? Without more details we can't help you further.
I believe this bug has been fixed a bit ago too. Can you still reproduce it on an official runbot?

[2017-10-24 07:19] wtaferner commented on #20169
@ged-odoo
Ok, the provided patch is resolving the issue from screenshot number 3. I guess you can merge it.

About the 3rd issue it is true that the sum is updating as soon as you create a new x2m line but is not updating if you modify existing lines.

May I ask you to reelaborate issue number 1 and do the resetting of values in case of a validation or user error? The only time when the values sho