[2017-05-30 09:15] #15803 closed

[2017-05-30 09:15] Yenthe666 commented on #15706
Hi @dfpena,

There has been no response in over a month.
I'm closing this report as this is (no longer) reproducable.
If you can still reproduce this on the latest source code or on a runbot then please provide us with more information and I'll reopen this issue.

Regards,
Yenthe

[2017-05-30 09:15] #15706 closed

[2017-05-30 09:18] Yenthe666 commented on #15578
Hi @tejastank,

There has been no response in months.
I'm closing this report as we really can't reproduce it or help you without further information.
Please provide us with more information and I'll reopen this issue and look into it.

Regards,
Yenthe

[2017-05-30 09:18] #15578 closed

[2017-05-30 09:19] Yenthe666 commented on #15429
Hi @lucode ,

There has been no response in a few months.
I'm closing this report as this is (no longer) reproducable.
If you can still reproduce this on the latest source code or on a runbot then please provide us with more information and I'll reopen this issue.

Regards,
Yenthe

[2017-05-30 09:19] #15429 closed

[2017-05-30 09:20] Yenthe666 commented on #15072
Hi @shepilov-vladislav ,

There has been no response in a few months.
I'm closing this report as this is (no longer) reproducable.
If you can still reproduce this on the latest source code or on a runbot then please provide us with more information and I'll reopen this issue.

Regards,
Yenthe

[2017-05-30 09:20] #15072 closed

[2017-05-30 09:21] Yenthe666 commented on #14636
Hi @BzJB,

Could you try this again with `urllib2` please? Is the issue then fixed?

[2017-05-30 09:22] Yenthe666 commented on #14479
@mart-e could you look into this one again?

[2017-05-30 09:25] Yenthe666 commented on #8764
Hi @ddrapeau,

Sorry that nobody gave you a response earlier.
At the moment you can no longer create subprojects and assign them to projects in Odoo 9 (and 10).
There are no plans to change this (100% sure for V9 & V10). Perhaps V11 will see a change but I doubt it.

Regards,
Yenthe

[2017-05-30 09:25] #8764 closed

[2017-05-30 09:27] #17285 closed

[2017-05-30 09:27] Yenthe666 commented on #17285
Fixed at https://github.com/odoo/odoo/commit/140113346dc2ecd265a0415d25fad290935545b2

[2017-05-30 09:44] Yenthe666 commented on #16177
Hi @esmairi,

Thank you for your report.
I've just tested this on the latest Odoo 9.0 (ENT) and can no longer reproduce this issue.
If you can still reproduce this on the latest Odoo source code, or on a runbot, please let me know with the steps you've done and I'll reopen this.
Closing this report as it seems fixed.

Regards,
Yenthe

[2017-05-30 09:44] #16177 closed

[2017-05-30 09:46] Yenthe666 commented on #16225
Hi @tejastank,

Thanks for your report.
I however see no issue/bug here? The TransactionRollbackError can happen if an order can't be handled at the time for example. Odoo will automatically retry this though.

Regards,
Yenthe

[2017-05-30 09:46] #16225 closed

[2017-05-30 09:49] Yenthe666 commented on #16151
@jorenvo this looks like one for you.

[2017-05-30 09:54] Yenthe666 commented on #16067
Hi @icf20,

By default you can only add one fuel type to one car, this is because it is a selection field in Odoo.
This means that you can't add two fuel types to the same car (for example: diesel and adblue) at the moment.
If you would like to do this you could add some custom development that allows you to add a second fuel type.

Regards,
Yenthe

[2017-05-30 09:54] #16067 closed

[2017-05-30 10:02] Yenthe666 commented on #16002
Hi @zeroheure,

Thank you for your report.
This issue is no longer possible on V9/V10 ENT because you'll get a notification:
![image](https://cloud.githubusercontent.com/assets/6352350/26578340/bf90edb4-452f-11e7-8547-58b242b683f2.png)
I was able to duplicate a database with the name `nouvelles catégories en menu rose` in 9.0 (community) and could drop it without any issues too.
It looks like this

[2017-05-30 10:02] #16002 closed

[2017-05-30 10:03] pedrobaeza commented on #8764
You can check https://github.com/OCA/account-analytic/tree/9.0/account_analytic_parent module.

[2017-05-30 10:11] pedrobaeza commented on #14761
@ged-odoo this bug is hitting several modules. Can you please check it?

[2017-05-30 10:53] alexis-via opened #17292 "[8.0] Odoo allows to reconcile in payable/receivable accounts with different partners"
This bug is present in v8, but not in v9 nor in v10.

Here are the steps to reproduce the bug:
1) Connect to runbot v8 as admin
2) Create 2 new partners: Customer1 and Customer2
3) Create a customer invoice for Customer1 validate it.
4) In the menu "Journal Entries", create a Journal entry in a bank journal for Customer2 with credit on receivable account (same as the one used in invoice) and debit

[2017-05-30 11:05] ged-odoo commented on #14761
@omar7r @zuher83 @pedrobaeza Can someone give me a more detailed sequence of steps that I can try on the runbot?

[2017-05-30 11:16] pedrobaeza commented on #14761
Well, it's not reproducible I think in Odoo itself, but you can try on OCA runbot in one module that is happening:

* Go to http://3290907-10-0-69653a.runbot1.odoo-community.org/web (of the branch OCA/account-financial-report).
* Invoicing > OCA accounting reports > Aged Partner Balance
* Check "Receivable accounts only" for filling the AR account in the many2many_list widget.
* Click on "Export P

[2017-05-30 11:23] JKE-be commented on #14636
IMHO, it can be merged

[2017-05-30 12:12] anassahmed commented on #10619
The issue with month names are not only in the _Transifex_ translation files. In Odoo `8.0`, the only Arabic language available is `ar_SY` which is the Syrian locale that doesn't represent most of the Arabian locales. They use the format 'كانون الثاني' (Kanoon II) instead of 'يناير' (January), as they call the months with different names based on the [Assyrian Calendar](https://en.wikipedia.org/wi

[2017-05-30 12:35] ged-odoo commented on #14761
Ok, thank you @pedrobaeza for your answer.  This is really interesting.  The onchange (triggered by receivable accounts only) returns [[5], [1, 7, {"user_type_id": [1, "Receivable"], "currency_id": ...}].

So, we have a 5 (delete all) and a 1 (update).  (This is already slightly weird, because commands 1 do not link to the record, except in onchange. In my opinion, commands 1 should always update

[2017-05-30 12:38] BzMB commented on #14727
Hi there,
Thanks for all you work on this crucial part.

I can confirm that using the latest updated doc:
https://www.odoo.com/documentation/user/10.0/ecommerce/shopper_experience/paypal.html
and testing a transaction using a paypal business production account **all works as expected**.

We are struggling instead when we want to try against a sandbox account, is there any way to test successfully

[2017-05-30 12:44] BzMB commented on #14636
Hi @Yenthe666 ,

Not sure what you've asked for, we're currently using urllib2(instead of the urllib) to solve the issue.

@JKE-be: "IMHO, it can be merged!

It means that you are thinking of merging into the core?

Thanks

[2017-05-30 12:45] Yenthe666 commented on #14636
@JKE-be then let us go and merge that in. Can you fix it?

[2017-05-30 12:59] pedrobaeza commented on #14761
But do you think is logical to update the linked record in this case (no editable)?

[2017-05-30 13:04] #15713 closed

[2017-05-30 13:10] ged-odoo commented on #14761
Good point.  It should not update if m2m is not editable.  Any change will be saved already anyway if one open a record from the relation in form view and modifies it.

I confirm that this is a bug.

[2017-05-30 14:21] jco-odoo commented on #17226
In saas-15, it is as broken.

[2017-05-30 14:28] #15661 closed

[2017-05-30 14:35] mart-e commented on #17292
Hello Alexis,

Indeed, the constraint is not triggered in old API because you are not directly accessing this field.
In v9, the accounting has changed so the constrain is not triggered.
We should probably port it to the new API to properly trigger it.

[2017-05-30 14:48] mart-e commented on #17268
Hello,

Nice idea but as we discussed during the code sprint, it was rejected.
The idea will be instead to implement the different relevant scenarios individually instead of a complex generic solution.
Regards

[2017-05-30 14:48] #17268 closed

[2017-05-30 14:58] ged-odoo commented on #17226
I meant to say that in version 9.0, it returns a valid res_id, but not in version 10.0

[2017-05-30 15:14] alexis-via opened #17312 "[9.0] @api.constains with fields from product.product and fields from product.template"
This bug is related to a problem we have in the OCA module sale_rental for odoo v9:
https://github.com/OCA/sale-workflow/pull/419

In this module, in the class ProductProduct, we add a constraint:

[code]
The field 'rented_product_id' is on product.product and the fields 'must_have_dates', 'type' and 'uom_id' are on product.template.
When we create a new product, we get this warning in the logs:
[

[2017-05-30 15:27] euroblaze opened #17313 "SQL Error creating Activity"
#### Impacted versions

10E, maybe others

#### Steps to reproduce

Try to create an Activity from Contacts app as a Sales / User.
You'll have to give permissions in the ACL

#### Current behavior

Throws an error-bomb
https://dl.dropboxusercontent.com/s/rck2kaij4ly2v71/2017-05-30-17.25.png

#### Expected behavior:

Should be possible to create an Activity, attached to Partner and Sales/User.

###

[2017-05-30 16:23] bunhin commented on #16721
yes component already in real cost, actually i tried all but same the manufactured item cost only respect std cost

[2017-05-30 16:26] BzMB commented on #14636
Many Thanks.

[2017-05-30 16:29] #15551 closed

[2017-05-30 16:29] JKE-be commented on #17271
hello

I cannot reproduce the error !
I suspect a problem of cache from your side.

We use jquery 1.8 in v8 and 1.11 in v9...

Because in anycase this check is wrong, we can remove it from jquery.blockUI file

Landed in 8.0

[2017-05-30 16:29] #17271 closed

[2017-05-30 16:30] Yenthe666 commented on #15551
@lukebranch no problem, we're here to fix as many issues as possible so this fits in.
@JKE-be thanks man! Another +1 for you.

[2017-05-30 17:07] jorenvo commented on #16151
Could you explain the use case in which this would happen? Normally in a shop people pay their order immediately after it is created. Normally in a restaurant you wouldn't close the session while there are still customers in your restaurant.

[2017-05-30 18:34] multiwebinc commented on #16151
Some restaurants have multiple shifts per day. A customer could place an order during the first shift and pay on the second shift. We use a separate session for each shift to keep track of overs and shorts in the till.

[2017-05-30 21:31] JKE-be commented on #15903
Fixed in odoo/odoo@859a77ca8bd6602d7fc1c426f6dead4a9ec3dcf1

Thanks for the reporting.

[2017-05-30 21:31] #15903 closed

[2017-05-31 01:18] sum1201 opened #17320 "[10.0]MRP stock orderpoint repeated calculation"
Impacted versions:
10.0
Steps to reproduce:
1. I Process  "Run Reordering Rules"
2. **in 5s** ,I process "Run Schedulers"

Current behavior:
I found stock order point repeated calculation,cause my demand to double
Expected behavior:

Video/Screenshot link (optional):
![qq20170531-090633](https://cloud.githubusercontent.com/assets/5398273/26611367/76cdf5ac-45e0-11e7-947a-0217bff72c47.png)

[2017-05-31 07:09] mart-e commented on #17271
Hello,

Yes, I have also found the issue when I am switching from 10 to 8 locally and so on. Refreshing the page usually removes the error so I assume it is indeed a cache problem (without investigating it further).

[2017-05-31 07:27] #15739 closed

[2017-05-31 07:30] Yenthe666 commented on #15647
Hi @W360S,

Thanks for your report.
I've just tested this on the latest Odoo 10.0 source code and had no problems installing the web module.
Can you please update your Odoo source code and try again?
Closing as this cannot be reproduced anymore.  If you can reproduce it please give more feedback and I'll reopen it.

Regards,
Yenthe

[2017-05-31 07:30] #15647 closed

[2017-05-31 07:33] Yenthe666 commented on #15642
Hi @Cubillosxy,

Thanks for your report.
Having three submenus is no problem at all, there are plenty of examples in Odoo that have this in fact.
As this is a question about custom development (and without the full code) I'm closing this issue. The Github tracker is not the place for asking question about custom development, it is only for bugs in the source code.
I'd suggest you to ask this on th

[2017-05-31 07:33] #15642 closed

[2017-05-31 07:35] Yenthe666 commented on #15636
Hi @treviser,

I'm closing this issue as an official response has already been given at https://github.com/odoo/odoo/pull/15638
The response from Martin:
[code]
Thank you for the suggestion though!

Regards,
Yenthe

[2017-05-31 07:42] Yenthe666 commented on #15632
Hi @remz1337,

Thank you for the report.
This is indeed a little bug in Odoo. I've just made a PR to fix this so this should be fixed very soon. 😉

Regards,
Yenthe

[2017-05-31 07:43] Yenthe666 commented on #15629
@qdp-odoo can you look at this?

[2017-05-31 07:45] Yenthe666 commented on #15622
Hi @Yajo,

Thanks for your report.
I believe everything is answered and handled in https://github.com/odoo/odoo/pull/16255 though.
Closing as this has been answered and slightly altered. Correct me if I'm wrong. 😄

Regards,
Yenthe

[2017-05-31 07:45] #15622 closed

[2017-05-31 07:53] treviser commented on #15636
I'm afraid I have to surrender unconditionally. I'm not comfortable with the situation. It is truly a very nasty and incomprehensible obstacle to use Odoo for millions of typical small family businesses.

[2017-05-31 08:12] Yenthe666 commented on #15621
Hi @gokhanerdogdu,

Thank you for your report.
Actually, I've just tested this with the latest Odoo 10 and this is not a problem at all. Neither by doing the whole flow inside Odoo and outside of Odoo.
First I created a lead with an user and added an internal note saying "Yenthe what do you think?" The Yenthe links to my second user (with my second e-mail attached to it):
![image](https://cloud.gi

[2017-05-31 08:12] #15621 closed

[2017-05-31 08:42] Yenthe666 commented on #15603
Hi @remz1337,

Thank you for your configuration.
This however looks like a misconfiguration for the mailserver. There can be small differences in Odoo configuration and another mobile app its configuration.
Closing this one as it is not reproducable and because you've got it working.

Regards,
Yenthe

[2017-05-31 08:42] #15603 closed

[2017-05-31 08:45] lukebranch commented on #15551
Awesome, thanks guys!

[2017-05-31 08:50] Yenthe666 commented on #15576
Hi @tejastank,

Thanks for your report.
I've just tested this on the latest Odoo source code and this bug is no longer in Odoo.
Please update your Odoo source code and try again.

Regards,
Yenthe

[2017-05-31 08:50] #15576 closed

[2017-05-31 08:51] #15555 closed

[2017-05-31 08:52] Yenthe666 commented on #15532
@pimodoo any update?

[2017-05-31 08:58] Yenthe666 commented on #15501
Hi @safecoms,

You can both edit a sale order and an e-mail template. You can edit the template from settings > Technical > E-mail > templates:
![image](https://cloud.githubusercontent.com/assets/6352350/26624080/152fd18e-45f0-11e7-8925-337adb4244f8.png)
Closing as this is not a bug but a question.

Regards,
Yenthe

[2017-05-31 08:58] #15501 closed

[2017-05-31 09:00] pimodoo commented on #15532
Could you please reproduce it in with debug=assets in the url (e.g. https://www.odoo.com/web?debug=assets) to have the javascript traceback with the corresponding files and line numbers.

Thanks

[2017-05-31 09:00] Yenthe666 commented on #15498
Hi @sebytza05,

Thank you for your report.
Please do a new `git fetch` to update your source code and then update all modules by using the `-u all` parameter. This will fix your issue.

Regards,
Yenthe

[2017-05-31 09:00] #15498 closed

[2017-05-31 09:03] Yenthe666 commented on #15472
Hi,

Thank you for your report.
At the moment there is no default option to separate the website / back-end from eachother as you ask.
I don't really think it is on the roadmap or wishlist either but I've labelled it wishlist. Every once in a while somebody from Odoo goes over all wishlist items and check if they'd like to add them.
Thank you for your suggestion.

Regards,
Yenthe

[2017-05-31 09:03] #15472 closed

[2017-05-31 09:04] Yenthe666 commented on #15469
@sharkutz so your problem is fixed? (judging by your last comment)

[2017-05-31 09:05] Yenthe666 commented on #15532
@Sickboy could you try this again and give us a full traceback please?

[2017-05-31 09:10] DidierLACOMBE commented on #17266
Hello

this module is distributed into V10 community
so it should work
with this fix, calculation with many WC in routing and many component in BOM works fine, but NOT with variants configuration

[2017-05-31 09:10] #17266 closed

[2017-05-31 09:11] Yenthe666 commented on #15613
Hi @NeoGenesis1986,

There are a few ways to do this.
You could send a new email from settings > Technical > Email > Emails or from the mass mailing module.

Regards,
Yenthe

[2017-05-31 09:11] #15613 closed

[2017-05-31 09:12] Yenthe666 commented on #15437
@JKE-be this one has been lying around for quite a while. Can you give feedback and if this would be accepted? Would like to get this handled before V11.

[2017-05-31 09:13] Yenthe666 commented on #15427
Hi @user998877,

Thank you for your report.
The Odoo bug tracker however is only for bugs in the official code, it is not the place to ask questions for custom development.
There are plenty of people who can help you with that on the official help forums (http://odoo.com/help).
P.S: Also add more information / code if you'd like good feedback, it is hard to help you with such a limited issue.

Reg

[2017-05-31 09:13] #15427 closed

[2017-05-31 09:14] tivisse commented on #14918
Note to @tde-banana-odoo

Don't always create a token but create a token when needed, i.e. when sending an email to an attendee.

[2017-05-31 09:17] NeoGenesis1986 commented on #15613
That menu is only accessible to Admins. Are you suggesting to give administrator rights to users just so they can send a email?!

[2017-05-31 09:19] Yenthe666 commented on #15613
@NeoGenesis1986 nope, then you can use the mass mail alternative for example. 😉
There are a lot of ways to send mails. You can also open the contact and add a message in the chatter - which will be e-mailed if you have an outgoing e-mail server.

[2017-05-31 09:21] Yenthe666 commented on #15282
@dreispt could you link to the docs? Is this still the case? Otherwise I'll fix it.

[2017-05-31 09:22] Yenthe666 commented on #15220
@nim-odoo can you look at this?

[2017-05-31 09:22] NeoGenesis1986 commented on #15613
I should be able to a simple email. Not a mass mail and not an email to one of my contacts.
I'm aware of the alternatives. I think this issue should be addressed and fixed instead of offering inadequate suggestions and closing it.

[2017-05-31 09:24] Yenthe666 commented on #15175
Alright closing this as @bistaray has shared an answered from where you can recover if something really goes wrong. 😄 (thanks!)

[2017-05-31 09:24] #15175 closed

[2017-05-31 09:29] safecoms commented on #15501
Thank you Yenthe,

I actually forgot about this.
You are right more of a question.
Thank you for the follow up.

[2017-05-31 09:31] Yenthe666 commented on #15119
Hi @mikeross6233m,

Thank you for your report.
I just tried to reproduce this on the latest source code and I can print the report without any issues.
@djpyoo and @mikeross6233m could you both try again with the latest source code or try to reproduce this on a runbot (runbot.odoo.com)?
If you still can reproduce it please post back with more information on how to exactly trigger this.

Regards,
Ye

[2017-05-31 09:35] mart-e commented on #15613
Hello,

Sorry but we have dropped this feature. We want that the users discuss on specific documents.
We do not consider Odoo as a mail client.

[2017-05-31 09:38] Yenthe666 commented on #15065
Hi @jaronemo,

Thank you for your report.
This has been resolved in the meantime. You can now use the dropdown to show all taxes and you can click to select one.

Regards,
Yenthe

[2017-05-31 09:38] #15065 closed

[2017-05-31 09:39] Yenthe666 commented on #15039
@mart-e second ping (sorry)

[2017-05-31 09:39] Yenthe666 commented on #15035
@rco-odoo I see you're assigned. Any news/feedback on this?

[2017-05-31 09:49] Yenthe666 commented on #14866
Hi guys,

This one was already fixed with PR https://github.com/odoo/odoo/commit/91470a37fefd4cae55179e9f7986fe3205baa70b but not yet closed.
Closing as it is fixed.

Regards,
Yenthe

[2017-05-31 09:49] #14866 closed

[2017-05-31 09:54] Yenthe666 commented on #14506
@ploegvde any update on this one? 👍

[2017-05-31 09:55] odony commented on #15437
I think it could be a good improvement, but rather than having a bunch of empty views and as many t-calls, I'd rather have 1 extra view for each page where we need to add editable zones. The extra view would be a sort of "customization layer" on top of the main one.
That should work for the same purpose, with less verbosity, shouldn't it?

i.e something like:
[code]

[2017-05-31 09:55] ploegvde commented on #14506
Still important, but lack of time. We will do it for sure.

[2017-05-31 09:59] Yenthe666 commented on #14407
Hi @odoo01234,

Can you please update your Odoo to the latest code base and then do a `-u all`?
This issue is not reproducable and it looks like your Odoo just didn't render it for once.

Regards,
Yenthe

[2017-05-31 09:59] #14407 closed

[2017-05-31 10:01] Yenthe666 commented on #14506
Ahh that is always the same problem, no? Keep me updated.

[2017-05-31 10:17] Yajo commented on #15437
I think the `t-call` approach is better. Example:

[code]

Now I have a different addon that removes the footer for any reason:

[code]

Advantages:

- Module installs and footer gets removed.
- If I want to put the footer *in a different view*, it's perfectly possible.
- The developer that reads the `module.layout` view immediately knows that it uses the other views when he sees the `t-call`s.

-

[2017-05-31 10:41] dreispt commented on #15282
I think the instructions at http://www.odoo.com/documentation/10.0/setup/install.html#setup-install-source are correct now.

[2017-05-31 10:41] #15282 closed

[2017-05-31 10:53] Sickboy commented on #15532
No, I cant. It was over 4 months ago. I dont have this install at all.
Maybe later I will install latest version on some virtual server and report if bug still be.
Give me 2-3 days.

[2017-05-31 11:44] milan-thakkar opened #17333 "got error many time when use odoo 10"
Impacted versions:
odoo_10

Current behavior: Stop working
Expected behavior: Solve the issue

Video/Screenshot link (optional):
![odoo_10_load_error](https://cloud.githubusercontent.com/assets/13216534/26630507/9d78ee2a-4624-11e7-8142-81f4c0822664.png)

[2017-05-31 12:01] jco-odoo commented on #17320
I think a fix was made for this.  The purpose of Run Reordering Rules was to keep it in debug mode and here the "lock" was forgotten.     @pimodoo

[2017-05-31 12:08] pimodoo commented on #17320
@jco-odoo could you confirm me that the problem is still there in last update of 10.0, because something similar has been fixed in this commit https://github.com/odoo/odoo/commit/85e21d1725ad2d4a6c59c51d1144d34ea664018e

[2017-05-31 12:12] jco-odoo commented on #17320
I wanted to say it was probably solved by that.

On Wed, May 31, 2017 at 2:08 PM, pimodoo <notifications@github.com> wrote:

[2017-05-31 12:25] odony commented on #15437
The point of having a single view to hold the customizable parts is to keep things simple. This includes keeping related customizations together, after being edited.
Your advantages sound like over-engineering to work around unlikely problems. Allowing partial relocation is not something we're trying to achieve. Modules breaking other modules by brutally removing DOM elements will happen no matter

[2017-05-31 12:29] Yenthe666 commented on #17333
Hi @milan-acespritech,

Thanks for the report.
Please provide more information though, there is no way for us to reproduce or test this.
On which menu are you, what did you do, how did you trigger it, can you reproduce it on a runbot?
And as a sidenote: it is the bottom part of the stacktrace that is relevant. 😉

Regards,
Yenthe

[2017-05-31 12:32] #15469 closed

[2017-05-31 12:32] Yenthe666 commented on #17333
Hi @milan-acespritech,

Thanks for the report.
Please provide more information though, there is no way for us to reproduce or test this.
On which menu are you, what did you do, how did you trigger it, can you reproduce it on a runbot?
And as a sidenote: it is the bottom part of the stacktrace that is relevant. 😉

Regards,
Yenthe

[2017-05-31 12:42] milan-acespritech commented on #17333
Hi @Yenthe666

This error i was getting when i load language and after when i change the language from preferences from the user.

[2017-05-31 13:09] Yenthe666 opened #17335 "[9.0, 10.0] Loyalty program glitches when you remove price and apply it again"
Impacted versions: 9.0, 10.0

Steps to reproduce:
1. Create a customer, add a loyalty program and start a new session
2. Create an order for this customer and make sure the customer has x amount of points. For example:
![image](https://cloud.githubusercontent.com/assets/6352350/26632874/d8579112-4611-11e7-9812-4b15639b2622.png)
3. Pay the order, create a new order, choose the customer again and ad

[2017-05-31 13:10] Yenthe666 commented on #17335
@jorenvo this one is for you. 😉

[2017-05-31 13:18] Yenthe666 opened #17336 "[9.0, 10.0] Odoo POS layout scrambled in Chrome 58.0.3029.110"
Impacted versions: 9.0, 10.0

Steps to reproduce: Use Chrome 58.0.3029.110 and open the POS

Current behavior: The left widgets are scrambled:
![image](https://cloud.githubusercontent.com/assets/6352350/26633601/390c4a8c-4614-11e7-84cb-d77ff1f19a62.png)

Expected behavior: It is rendered correctly (as in Firefox):
![image](https://cloud.githubusercontent.com/assets/6352350/26633613/4697c0d2-4614-1

[2017-05-31 13:19] Yenthe666 commented on #17336
@jorenvo another one for you.
This can literally fixed by changing the width from the `actionpad` from 188px to 187px. Not sure if this is your wanted fix though.

[2017-05-31 13:33] Yenthe666 opened #17337 "[9.0, 10.0] Unable to do inventory adjustments with scanners when opening Odoo in xs view"
Impacted versions: 9.0, 10.0

Steps to reproduce:
1. Open a runbot 9.0 or 10.0, go to Inventory > Inventory Adjustments and create a new adjusment. You'll get something like this:
![image](https://cloud.githubusercontent.com/assets/6352350/26633826/0629da66-4615-11e7-8ec2-9c71cd0899a3.png)
You can clearly see that the inventory details are inside of `table` elements:
![image](https://cloud.githubu

[2017-05-31 13:34] Yenthe666 commented on #17337
CC @cyhexy
@csnauwaert probably for you?

[2017-05-31 13:44] Yajo commented on #15437
Well, it's not about over-engineering. Fixing this means a massive refactor of an under-engineered feature, and it's very unlikely that you want to massively refactor yet again if you (or others in the community) hit any of my points in the future.

The amount of work is going to be mostly the same in both cases, with the only difference that we will have more dummy views in the future. Is that *r

[2017-05-31 13:59] odony commented on #15437
@simahawk that's besides the point ;-)

[2017-05-31 14:11] Yajo commented on #15437
Yeah, a little ugly, but can you think of another solution? 😕 It would be less ugly than getting broken websites on every version update (really friend... *every single migration*).

[2017-05-31 16:19] jco-odoo commented on #17337
Maybe @sle-odoo or @pimodoo know more about it.

[2017-05-31 17:37] adrienpeiffer opened #17341 "[10.0] Currency mixing in HR expense sheet and report"
Impacted versions:

10.0

Steps to reproduce:

See  https://youtu.be/I3Qb3m1GmJ4

Current behavior:

Currency mixing in expense sheet view and report

Expected behavior:

Have no currency mixing :smile:

Video/Screenshot link (optional):

See https://youtu.be/I3Qb3m1GmJ4

Credit : @alexis-via - Barcelona OCA code sprint

[2017-05-31 17:42] hugho-ad opened #17342 "[10.0] website_sale_option: website modal not show correct prices when the product has an optional product configured"
Impacted versions:
10.0

### Steps to reproduce:
-Add an optional product to Apple In-Ear Headphones product in backend
    for example Bose Mini Bluetooth Speaker
![image](https://cloud.githubusercontent.com/assets/10233975/26645632/58d15364-45fe-11e7-9395-d4525b311a20.png)

- Got to website shop and open product detail of Apple In-Ear Headphones

- Then click in add to cart button in order to ma

[2017-05-31 18:10] #16565 closed

[2017-05-31 18:37] jorenvo commented on #17336
Weird, I'm running the exact same Chrome (Version 58.0.3029.110 (64-bit)) and I do not have the issue. Were the above screenshots from runbot?

[2017-05-31 18:50] Yenthe666 commented on #17336
@jorenvo yes, from the latest Odoo 9.0 runbot (from today)

[2017-05-31 19:01] Yenthe666 commented on #17342
I summon you @JKE-be 😉

[2017-05-31 19:11] Yenthe666 commented on #17341
@adrienpeiffer your link does not seem to work?
![image](https://cloud.githubusercontent.com/assets/6352350/26649289/b9bdc030-4645-11e7-9790-51ba4d13bd33.png)

[2017-05-31 19:52] wtaferner commented on #17336
@Yenthe666
Any zoom activated? I can reproduce it by zooming into with 110% in Chrome. So, if the single pixel resolves this which it actually does, then I vote for changing it ;-)

[2017-05-31 19:56] jorenvo commented on #17336
@wtaferner ah ok, I can reproduce when zooming. Thanks for the tip. I'll see if changing that width is the right way of fixing the problem.

[2017-05-31 22:56] gustavovalverde commented on #17271
Just so you know, in the end it was a Cloudflare thing, so no matter how much I cleaned cache, cookies or whatever on my side, it was still giving the error. Anyways, the Pull will help for this cases. Thank you @JKE-be

[2017-06-01 02:23] hugho-ad commented on #17342
Here is a posible clue https://github.com/odoo/odoo/commit/c8a434306f110bfb5e5ce71609e8e096a850d309

[2017-06-01 08:18] rco-odoo commented on #17312
The issue is fixed in version 8.0.
The fix will be forward-ported soon to 9.0 and 10.0.

[2017-06-01 08:18] #17312 closed

[2017-06-01 08:46] engmahmoud opened #17357 "The system cannot find the file specified"
after i try to install odoo for windows 7 i get this error
WindowsError: [Error 2] The system cannot find the file specified: 'c:\\python27 \\lib\\site-packages\\python_dateutil-2.6.0-py2.7.egg'

[2017-06-01 09:07] pimodoo commented on #17337
@Yenthe666 Hello, if you want to use the barcode scanner for inventory adjustment or picking, the best way is to go to Barcode -> Inventory (for inventory adjustment) and Barcode -> Operation (for picking). By using the application Barcode, scanning will work on small screens and you'll be able to also scan locations.

[2017-06-01 13:14] asctarek commented on #13224
inherit from the origin kanban view and set
          <xpath expr="//templates" position="before">
                <field name="o2m_field"/>
            </xpath>
then you can do
    <t t-foreach="o2m_field" t-as"record"> <t t-esc="record.name"/> </t>

[2017-06-01 13:14] asctarek commented on #13224
<xpath expr="//templates" position="before">
                <field name="sector_ids"/>
            </xpath>

[2017-06-01 13:15] asctarek commented on #13224
<xpath expr="//templates" position="before"><field name="o2m_field"/></xpath>

[2017-06-01 13:23] citronpower commented on #16932
This problem seams to also appear in invoices... but only in one part, see below:
![capture d ecran 2017-06-01 a 15 20 42](https://cloud.githubusercontent.com/assets/9839114/26681594/f1fd939c-46dd-11e7-9f4f-5221e88a1c83.png)
The column "Amount" has the same problem (3,75 =>3,8) but the total act correctly.

[2017-06-01 14:42] adrienpeiffer commented on #17341
Sorry I fixes the link

[2017-06-01 15:54] gustavovalverde commented on #16845
It was a third party module that caused the issue, I'll be doing some additional tests to validate if I can recover the `commercial_partner_id` of this entries.

[2017-06-01 15:54] #16845 closed

[2017-06-01 15:59] gustavovalverde commented on #16027
Hi @Yenthe666, just to put you in the loop as this has also been reported in the community list.

[2017-06-01 17:13] bistaray commented on #16027
If someone can report this via www.odoo.com/help with a valid Enterprise contract it will probably get fixed faster.

[2017-06-01 17:21] edsersolis commented on #16027
I will report it. However in our experience it isn't faster.

[2017-06-01 17:28] bistaray commented on #16027
I my experience it takes 2 to 5 days, if the Analyst understands the report and they agree it is a bug.  If it needs further analysis/discussion it can take longer.

[2017-06-01 17:36] marcobaldogithub commented on #16027
Tnx for reporting.

I my opinion it is a bug as this calendar module is the only one
ignoring the TZ settings (as far as I have seen).

Il 01. 06. 17 19:29, Ray Carnes ha scritto:

[2017-06-01 17:39] edsersolis commented on #16027
Yes, it's a bug in v10.

On Jun 1, 2017 1:37 PM, "marcobaldogithub" <notifications@github.com> wrote:

--
Este mensaje y sus anexos pueden contener información confidencial y
privilegiada con la intención de que sea utilizada por las personas u
organizaciones a quienes esta dirigida, por lo que su uso es exclusivo para
su destinatario. Si usted ha recibido este mensaje por error, favor de
eliminar

[2017-06-01 17:45] Yenthe666 commented on #16027
I've logged it with an enterprise license from one of our customers.
This should speed things up. 👍

[2017-06-01 17:54] elevationO opened #17368 "Quotation date is shown in SO "month" filter instead of the date the SO is confirmed"
Impacted versions:9.0ee

Steps to reproduce: Create quote in April, confirm in may.  Group SO by month.

Current behavior: The confirmed SO shows in the April group.

Expected behavior: The SO should show the date it was confirmed.

Video/Screenshot link (optional):

[2017-06-01 21:26] pedrobaeza commented on #15437
Well, even if none of both solutions are the optimal, we should implement at least one for avoiding the current problems. I prefer @Yajo's solution because it allows to grow easily and the minimum overhead of having n templates when you want n placeholders is minimum, but I will like the other the same if we get this to reach v11. @odony, do you want us to code any of them?

[2017-06-02 05:58] dhannyz opened #17374 "[10.0+e] Customer email showing as an internal note! - mail.thread searching on un-stripped message_id"
Hi there.

Inside the `message_parse` function in `mail.thread`, to link a message to a parent, and also determine if the message is to be internal or public, there is an issue with searching on the `message_id`.
I understand this is probably an edge case, but for whatever reason, a message coming from outlook into odoo often has a tab character in front of the `Message-ID` header, as this is not

[2017-06-02 06:38] sapdenny commented on #16461
Hi @Yenthe666
Thanks for your corespondence.
Actually we still working with this issue but as we just end user for ODOO, we cant explain more.
I guess the problem come from the data. We have so huge data on tables related bymanufacturing.
For this problem i will try to open another issue.
About the runbot would you explain how it work?

Best Regards,
Denny S

[2017-06-02 07:46] sbidoul commented on #17341
OPW 745714

[2017-06-02 09:17] auditum-pbe opened #17376 "[9e][10e] Security Issue: Session Fixation"
< issue reported to security@odoo.com >

[2017-06-02 09:44] lukebranch commented on #17376
@auditum-pbe,

I am just another user like yourself, however I would suggest reporting this through the security@odoo.com email address:

https://www.odoo.com/page/responsible-disclosure

[2017-06-02 10:53] auditum-pbe commented on #17376
@lukebranch Thanks, issue reported to security@odoo.com.

[2017-06-02 10:53] #17376 closed

[2017-06-02 11:49] gustavovalverde opened #17382 "[10.0] Import giving XmlHttpRequestError with Nginx"
**Impacted versions:**
10.0, as far as tested.

**Steps to reproduce:**
1. Load a csv to import
2. Validate

**Current behavior:**
After 1 minute I get an XmlHttpRequestError in the GUI above the import columns, and this error in the Odoo Log and in the Chrome Console:

CONSOLE:
[code]

LOG:
[code]

**Expected behavior:**
Successful import

**Configuration File:**
[code]

I'm also using Nginx Reve

[2017-06-02 11:50] gustavovalverde commented on #17382
@JKE-be I think that this is in your domain.

[2017-06-02 12:00] JKE-be commented on #17382
Hi,

Could you send me your file?

Thanks

[2017-06-02 12:23] gustavovalverde commented on #17382
Here:
[product_listing.zip](https://github.com/odoo/odoo/files/1047623/product_listing.zip)

Though I just tested without the domain, but directly with **server-IP:Port** and it worked, I'll share my nginx configuration in another comment.

Btw, this message seems confusing:
`WARNING client odoo.addons.base_import.models.base_import: Failed to read file 'LISTADODEPRODUCTO2.csv' (transient id 13) u

[2017-06-02 12:31] gustavovalverde commented on #17382
Here's the nginx configuration:

[code]

[2017-06-02 13:44] gustavovalverde opened #17388 "[10.0] Client payments won't import after successful validation"
**Impacted versions:**
10.0, as far as tested.

**Steps to reproduce:**
1. Load a csv to import
2. Validate (validation sucessful)

![image](https://cloud.githubusercontent.com/assets/16890942/26728259/9c48995c-4777-11e7-9680-272edc0487fc.png)

3. Click on the Import button

**Current behavior:**
After I click on _Import_ it doesn't  presents the _Loading_ screen, and after a seconf I'm returned t

[2017-06-02 13:46] gustavovalverde commented on #17388
@JKE-be, this one is more weird. Here I'm doing it without the Nginx as the product import was successful without it.

[2017-06-02 13:58] gustavovalverde commented on #17336
Same here when zooming.

[2017-06-02 16:09] Yenthe666 commented on #16461
Hi @sapdenny,

The runbot are automatically generated Odoo's based on the latest Odoo source code and with everything installed by default.
You can find them at runbot.odoo.com and sinply choose the Odoo version you'd like to test (9.0, 10.0, ...)
The username and password is always admin

Regards,
Yenthe

[2017-06-02 16:39] nagybal commented on #13602
This bug still exist in odoo 10

[2017-06-02 16:47] jorenvo commented on #17336
@Yenthe666 could you confirm you were zoomed in as well? I have an idea of what's going on, but if my understanding of the problem is correct it should only happen when browser zoom is not 100%.

[2017-06-02 16:57] cedk opened #17390 "Security: Access to any file content on the system"
This is a security issue that was reported to Odoo security team three months ago (03/03/2017) but still not fixed.
Following the [Project Zero](https://en.wikipedia.org/wiki/Project_Zero_(Google)#Bug_finding_and_reporting) rules, here is the disclose of it. I hope it will push Odoo to fix it as soon as possible.

Here is the copy of my initial email:

It appears that other places like https://git

[2017-06-02 17:03] Yenthe666 commented on #17336
@jorenvo it starts at 90% zoom for me. It is present in 90%, 100%, 110%...
![image](https://cloud.githubusercontent.com/assets/6352350/26736343/efdce03e-47c5-11e7-92c0-ed41aa4a7534.png)

At 80% it is fine:
![image](https://cloud.githubusercontent.com/assets/6352350/26736394/22bb89ba-47c6-11e7-8627-38ec2fc0b78b.png)

[2017-06-02 17:12] cedk opened #17391 "safe_eval is not safe"
Here is a report of a security issue that was reported to the Odoo security team but they considered it as not one.
Here is a copy of the initial report:

The main response of Odoo security team was that it is mitigated by the system limits (--limit* configuration).
But the system limits protect only other services running on the same server, against Odoo bad behavior (consuming all the CPU or mem

[2017-06-02 17:28] odony commented on #17390
Locking the issue temporarily while we process the aggressive disclosure.

[2017-06-02 17:29] dansanti opened #17392 "[9.0] context not deleted on action xml declaration removed"
Impacted versions: 9.0

Steps to reproduce:
1.- create a new action like :
[code]
2.- install/upgrade module

3.- then remove context:
[code]
4.- install/upgrade module
Current behavior:
 - Context keep context {error:2}
Expected behavior:
- remove context declared on step 1
must add context= {} to avoid previous  context

[2017-06-02 21:15] Danisan commented on #15031
In my case solved it changing the language to english. To be more specific, the problem is that when using this in a language different from english, Jinja2 received the word "objetivo" instead of the reserved word "object", so he could not render.

[2017-06-02 22:24] jorenvo commented on #17336
Fixed in 9.0 at https://github.com/odoo/odoo/commit/3a826bb7728cdd8fb7d7dfc036542e056e0bffd2.

[2017-06-02 22:24] #17336 closed

[2017-06-02 23:38] odony opened #17394 "*reserved*"

[2017-06-02 23:38] #17394 closed

[2017-06-03 02:06] RocWu commented on #16323
@amoyaux @JKE-be any news?

[2017-06-03 02:17] jeffery9 opened #17398 "duplicate company report reference y1=, what's wrong?"
Impacted versions:
10.0-CE

Steps to reproduce:
duplicate company

Current behavior:
report `a mandatory field is not correctly set`

Expected behavior:

Video/Screenshot link (optional):

[2017-06-03 02:46] odony commented on #17390
See #17394.

For the record, this disclosure is considered unethical because the disclosure and its timeframe were never discussed with the security team (we never even heard back from our initial reply?).
Project Zero researchers *do* discuss timeframe with the vendors, and never go public without prior notice. Probably because they're trying to be helpful, not harmful.

In addition, this disclos

[2017-06-03 02:46] #17390 closed

[2017-06-03 02:48] gustavovalverde opened #17401 "[10.0] CoA in CSV accepting multiple tags per account, XML doesn't."
**Impacted versions:**
10.0

**Steps to reproduce:**
1. Change a working CoA with CSV to XML (the CoA in CSV had multiple tags per account)
2. Use `<field name="tag_ids" eval="[(6,0,[ref('account_tag_1', 'account_tag_11', 'account_tag_1101', 'account_tag_110103')])]"/>` for tag assignation on the XML format
2. Update Odoo with the new XML CoA

**Current behavior:**
Get the error:
[code]

**Expecte

[2017-06-03 02:51] puakinsin opened #17402 "[10.0]Error Occurred When Alternative Product was added"
Impacted versions:
Odoo 10.0

Steps to reproduce:
Adding Alternative Product

Current behavior:
Traceback (most recent call last):
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  File "/opt/odoo

[2017-06-03 04:14] odony commented on #17391
For the record, here is a summary of our position:
- We do recognize that in the modern information security world, attacks and abuse are increasing concerns. Users are exposed to more and more threats on the Internet every day, and software vendors must be prepared to do their part.
- However, the purpose of Odoo's `safe_eval` has always been to implement a sandbox that blocks access to unauthori

[2017-06-03 04:14] #17391 closed

[2017-06-03 06:46] puakinsin commented on #17402
The error above only shows up when open the selected product with alternative products other than from Point of Sales, I can open up the product just fine without any error

[2017-06-03 11:39] gustavovalverde commented on #17401
False alarm.

[2017-06-03 11:39] #17401 closed

[2017-06-03 12:30] PCatinean commented on #11564
I think the most likely cause is that the fields themselves are not being sent to the web client via fields_view_get method.

Make sure to put a breakpoint just before returning the super() call to fields_view_get and inspect the 'fields' key of the result.

If your field is missing from that list, try doing an update with the result from fields_get.

Something like this:
[code]

Hope this helps

[2017-06-03 17:29] emanuelezambrano opened #17407 "add IGNORECASE to DBFILTER check"
Impacted versions: 10.0

Steps to reproduce:

Current behavior:
if I set "dbfilter = ^%d$" and I go to "http://mydb.mydomain.com" but my database name is "MYDB", odoo can't identify the database. I need to use "^(?i)%d$" to force case invariant regex match.

Resolution:
You can add "IGNORECASE" to "db_filter" funcition inside "http.py" file. Alternatively document this behavior

[2017-06-03 22:55] edsersolis opened #17408 "[10.0] Wrong number of accounts when searching"
Impacted versions: v10c / v10E

Steps to reproduce:

Create a product, open any dropdown related to accounts under the accounting tab, click on search more.

Current behavior:

Odoo is displaying only a set of accounts and not all of them. But if you place your cursor on the search field and press enter it will now show all the accounts.

It is like if some sort of filter is getting applied but is

[2017-06-03 23:06] edsersolis commented on #16027
See: https://youtu.be/30ZViohhwrc

[2017-06-03 23:31] edsersolis commented on #16471
This seems to have been fixed in later updates. Tried to reproduce it but was everything working good.

If anything will open it again. Thanks.

[2017-06-03 23:31] #16471 closed

[2017-06-03 23:34] #12967 closed

[2017-06-03 23:35] #13110 closed

[2017-06-03 23:37] #13482 closed

[2017-06-03 23:39] #15921 closed

[2017-06-03 23:42] edsersolis commented on #16198
@odony @JKE-be could you guys please take a look at this?

[2017-06-03 23:47] edsersolis commented on #16940
@nim-odoo @simongoffin could you guys have a look at this idea? Could this be implemented at least for v11?

[2017-06-04 16:05] gustavovalverde commented on #17398
Same here, can't duplicate a company.

I don't know in who's domain this issue is, but I think one of you can have a look at it @nle-odoo @mart-e

[2017-06-04 23:08] Vartkat commented on #17185
Hi,

Same in v10ce, with movements gives the same result as if I had chosen with balance not at zero. When asking for "with movements" none of the accounts has a balance at 0,00.

V.

[2017-06-05 03:52] LehouxHugo commented on #8772
Has anyone found a way ? Thanks !

[2017-06-05 10:37] ayyan1 commented on #6324
hello,i try o add custom fields in account.analytic.account.ields are added but now i can not access contract form,please help me to fix this error

Odoo Server Error

Traceback (most recent call last):
  File "/home/odoodev/Odoo/Odoo9/openerp/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoodev/Odoo/Odoo9/openerp/http.py",

[2017-06-05 11:14] dvdhinesh commented on #17402
@puakinsin From the error log, i can see that the error was originating from the module `product_stock_balance`.
Since it is not an official Odoo addon, i suggest you report directly to the module author or put a comment here https://www.odoo.com/apps/modules/10.0/product_stock_balance/ for them to review it.

[2017-06-05 11:18] SborealisS commented on #11562
I installed the POSBox image (v15) on a raspberry pi3, everything worked great, now I would like to use that rp as a graphic POS and connect some HDMI screen and a printer to it..

I could see that there is no graphic interface installed by default in the POSBox image. shoulod I install a graphic interface on the raspberry pi3?

[2017-06-05 11:37] gustavovalverde commented on #17382
@JKE-be were you able to validate the Nginx config? In this case, Nginx seems to be the issue, but I'm almost certain that this Nginx configuration is just fine for Odoo.

[2017-06-05 11:42] gustavovalverde commented on #17398
Just to add a bit more of information:

I've tested this on a new installation, 0 modules and no demo data. And it's also happening on runbot, trying to duplicate the res.company model.

[2017-06-05 14:31] bunhin commented on #16721
Hi, any further info on this?,  i hope v10 community is not getting less than v9 on this very basic feature.  Please restore the feature back, as in v9 manufactured item cost can be calculated from its component cost (although only work when the costing method = Real price),  without this feature the inventory value will up and down (or look like lost) with no reason

[2017-06-05 15:43] edsersolis commented on #16027
Apparently it is only happening in older builds of v10. We'll update the instance to confirm. Will keep posted.

[2017-06-05 15:46] wtaferner commented on #16027
I think this was solved in https://github.com/odoo/odoo/commit/9dbd6d21e123ede6973cd55a2255f1f835d5651a

[2017-06-05 15:49] edsersolis commented on #16027
Thanks @wtaferner I will be closing this than. If anything I'll have it reopened.

[2017-06-05 15:49] #16027 closed

[2017-06-05 17:01] dansanti opened #17418 "[9.0]@api.constrains or create_from_ui override for calls from POS to res.partner not working"
Impacted versions:
9.0

Steps to reproduce:
1.- create models with ( osv or models)
[code]

2.- Restart odoo instance
Current behavior:
_vat_check never fired, also create_from_ui

Expected behavior:
fire method from models for res.partner

[2017-06-05 17:29] #16749 closed

[2017-06-05 17:32] flyingL123 opened #17419 "base_import_module stopped working"
I'm using `Odoo 10.saas~14+e (Enterprise Edition)`. Today the base_import_module suddenly stopped working for me. I have a large module of xml data files that I use to import some customizations to our odoo instance. The module has been imported 100's of times without issue. All of a sudden today, I am getting an error:

    Error while importing module 'mycompany': u'Unknown path: /tmp/tmpX2SRDC/

[2017-06-05 17:38] wtaferner commented on #17419
Jep b/c of this [security patch](https://github.com/odoo/odoo/commit/76cd8d2558d2a1fc11681dbc4a134ba06fb698c0) which does limit the allowed path.

@odony
This is for you I guess :smile:

[2017-06-05 18:00] flyingL123 commented on #17419
Oh wow, thanks @wtaferner this has been causing me headaches all day. @odony is it possible to get this fixed? On Odoo SaaS the module gets uploaded into that temporary location. How can this security patch account for that?

[2017-06-05 20:03] dstemple67 opened #17420 "KeyError when installing a module [9]"
Impacted versions: 9

Steps to reproduce: Install PrestaShop Odoo Connector

Current behavior: error

Expected behavior:

Video/Screenshot link (optional):

Here's the Traceback

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-9.0rc20160620-py2.7.egg/openerp/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "

[2017-06-05 22:51] alexanderahlsen opened #17421 "PayPal payment acquirer return to 500 internal server error"
Impacted versions: 10.0

Steps to reproduce: enable and configure PayPal payment acquirer, make a purchase of event ticket using PayPal
Config: https://www.odoo.com/documentation/user/10.0/ecommerce/shopper_experience/paypal.html

Current behavior: When returning from PayPal I get a 500 internal server error

Expected behavior: Redirect to confirmation page

Video/Screenshot link (optional):
https

[2017-06-06 06:37] pedrobaeza commented on #17420
This issue doesn't correspond here. Your problem is because you don't have all the needed dependencies. In this case, the module base_multi_image in OCA/server-tools. Please close the issue.

[2017-06-06 06:50] Yenthe666 commented on #17420
Hi @dstemple67,

Thank you for your report.
The Github issue tracker is however only for bugs/issues in the official code, not for third party modules.
Please contact the app creator for support on this issue (base_multi_image in OCA/server-tools)

Regards,
Yenthe

[2017-06-06 06:50] #17420 closed

[2017-06-06 07:15] mart-e commented on #6324
@ayyan1 please open a new issue for a different problem.
Please also remember that github is for bug reporting, not to ask help on your customizations.

[2017-06-06 07:38] alexis-via commented on #17292
@qdp-odoo I think it's an important issue that require your attention :)

[2017-06-06 08:49] Yenthe666 commented on #17388
@gustavovalverde can you test & verify this on a runbot too?

[2017-06-06 09:18] Yenthe666 commented on #17408
Hi @edsersolis,

Thank you for your report.
Can you try to reproduce this kind of behaviour on an official Odoo instance? (runbot.odoo.com).
If I do this on a runbot I always see all of them. (cc @nim-odoo)

Regards,
Yenthe

[2017-06-06 09:28] bealdav commented on #17268
I like this proposal, particularly `sum`.

You could summarize some historical data instead of keep 20 years: sales by product / partner / year.

OK process, can't be so easy because all is implied (procurement, stock) but one day or another Odoo should introduce a way to historize its data. Summarize is a way to do it.
You keep essential parts of old data.

[2017-06-06 10:03] Yenthe666 commented on #16198
Hmm not sure if this is really a big issue though.. @mart-e is probably the best to give feedback on this.
P.S: (@)odony is not really the person to ping in these ones - he is really busy and is only for core bugs.

[2017-06-06 10:39] mart-e commented on #16198
Hello,

Sorry but I disagree. The public and template _are_ archived users. They are not active, meaning you can not use them as regular user to log in but they do exists.

[2017-06-06 10:39] #16198 closed

[2017-06-06 11:07] Yenthe666 commented on #16932
@qdp-odoo something you've changed perhaps?

[2017-06-06 11:30] Yenthe666 commented on #17398
Yep this looks like an issue. Reproduced on the latest runbot:
![image](https://cloud.githubusercontent.com/assets/6352350/26827165/4ea5a774-4abc-11e7-9b12-63aca0a7f7f0.png)
@tde-banana-odoo think you could give us some more code sprint awesomeness? 😉

[2017-06-06 11:54] rco-odoo commented on #17180
Fixed by 1095744e7f058ad370315ef80d56b225376e7b99.

[2017-06-06 11:54] #17180 closed

[2017-06-06 11:58] mart-e commented on #17408
Hello,

Actually, this is true. There [is a limit](https://github.com/odoo/odoo/blob/75c803bbbda447e6357e7a4fefd9e8b39e81f971/addons/web/static/src/js/views/form_common.js#L214) to show only the first 160 records when doing a search more.
It was introduced as a quick fix for performance reasons, as search more of large databases where too slow.
We assume that, if you have more than 160 result, you

[2017-06-06 12:08] gustavovalverde commented on #17388
I'll test on runbot.

[2017-06-06 12:31] gustavovalverde commented on #17388
@Yenthe666 Yes, same behavior on runbot. It does validate the import, but after clicking import it sends you to the Payments, but without the recent import.

[2017-06-06 12:45] jl2035 commented on #12137
As of June 2017 the download link is broken. Releases are available here: https://downloads.wkhtmltopdf.org/0.12/0.12.2.1/

[2017-06-06 13:05] gustavovalverde commented on #17382
@Yenthe666, this is another import issue. This one caused by Nginx. But as far as I know, this Ngixn configuration is just Ok for importing data. Can't realize if there's something in this configuration or maybe Odoo is not handling the situation the right way.

[2017-06-06 14:15] TonyKandex commented on #13616
I'm facing this issue too when a try to make a certain field required depending on an other field it don't give me any warning and when i hit save the record dissapear.

[2017-06-06 14:19] nafex opened #17445 "Description for Quotations is not editable from Shop frontend"
Impacted versions:
Tested on latest 10. and master on runbot

Steps to reproduce:
- login as admin
- go to website -> shop
- go into an item e.g. iPod
- click on edit, top right
- edit the description for Quotations: On iPod the description is:
Height: 76.5 mm
Width: 39.6 mm
Depth: 5.4 mm **[[add some text here and press enter]]**
Weight: 31 grams

Current behavior:
the field is cleared, the text

[2017-06-06 15:29] #14636 closed

[2017-06-06 20:03] fmdl opened #17451 "hr_holiday OE : if no description, "false" is display in Gantt view"
Impacted versions:
Master,10,9

Steps to reproduce:
Create an holiday without description.

Current behavior:
![image](https://user-images.githubusercontent.com/16716992/26848308-45b50df0-4b00-11e7-8834-bb4103054cf8.png)

Expected behavior:
The best result is to have the type of allocation in Gantt view, it is more easier to track holidays.
Exemple :
![image](https://user-images.githubusercontent.

[2017-06-07 08:18] amoyaux commented on #16323
@RocWu It should be fixed now by this commit c5f2200a76fd5bfa5f335ec57a155d961ae91e3f but it seems that the bug appears again 2 days ago. The bug fix team is on it.

[2017-06-07 08:25] ayamemi commented on #15057
Odoo Server Error

Traceback (most recent call last):
  File "O:\odoo10\falinwa_branch\report\controllers\main.py", line 96, in report_download
    response = self.report_routes(reportname, docids=docids, converter='pdf')
  File "O:\odoo10\odoo\odoo\http.py", line 504, in response_wrap
    response = f(*args, **kw)
  File "O:\odoo10\falinwa_branch\report\controllers\main.py", line 45, in report_ro

[2017-06-07 08:27] mart-e commented on #15057
@ayamemi please open a new issue for different problem and don't forget to explain how to reproduce this issue to be valid.

[2017-06-07 08:29] ayamemi commented on #15057
@mart-e i will do that, thanks for you welcome.

[2017-06-07 08:49] mart-e commented on #17451
Hello,

[There is](https://github.com/odoo/odoo/blob/20ed57f874176161a043dee834b25c7f0b3dc175/addons/hr_holidays/models/hr_holidays.py#L334) already a `name_get`, no need to create a new field. What you are probably looking for is the `display_name`.

@sle-odoo [we have hardcoded](https://github.com/odoo/enterprise/blob/7bcacaf47af1977bd2443dc595fab75ad58e3592/web_gantt/static/src/js/gantt.js#L60)

[2017-06-07 08:57] sle-odoo commented on #17451
@mart-e it's done since [saas-15](https://github.com/odoo/enterprise/commit/afd68a7d85eb6589fa4a5b3dd20248466158aabf)

[2017-06-07 09:08] mart-e commented on #17451
Thanks for the update. However, I am not sure the saas-15 is ideal too (for hr.holidays at least).

v10
![page-shot-2017-6-7 all leaves - odoo2](https://user-images.githubusercontent.com/564822/26870764-558e98ce-4b71-11e7-82fc-74e3df763886.png)

saas-15
![page-shot-2017-6-7 all leaves - odoo](https://user-images.githubusercontent.com/564822/26870757-507ca92a-4b71-11e7-82f3-79805f7ac1fb.png)

We no

[2017-06-07 11:13] #17451 closed

[2017-06-07 11:25] alexanderahlsen commented on #17421
This was fixed by updating the PayPal plugin from the Odoo Github source. Seems to be some important updates we needed :)

[2017-06-07 11:25] #17421 closed

[2017-06-07 11:36] mart-e commented on #17418
Sorry but it works, we are [doing it here](https://github.com/odoo/odoo/blob/10.0/addons/point_of_sale/models/res_partner.py).

My guess is that you have not imported your python file or something like this.

Closing as github is for bug reporting, not for help on custom development.

For help, you may try the [mailing lists](https://www.odoo.com/page/odoo-community), the [forum](https://www.odoo.

[2017-06-07 11:36] #17418 closed

[2017-06-07 11:42] mart-e commented on #17313
Hello,

Are you sure you are on a fresh v10? Your screenshot shows a mix of v9 and v10 in the traceback.
Please be sure to be able to reproduce the error on a standard [runbot](http://runbot.odoo.com/runbot/repo/git-github-com-odoo-odoo-1) and give precise step to get the same error.

[2017-06-07 13:05] Yenthe666 commented on #17402
Hi @puakinsin,

Thank you for your report.
As @dvdhinesh has stated, this is not an official Odoo module but one from a partner.
The Github issue tracker is only for bugs/issues in the official Odoo code, not in custom developed modules. Please try to reach out to the creator of the app so that they can fix it.

Regards,
Yenthe

[2017-06-07 13:05] #17402 closed

[2017-06-07 13:07] Yenthe666 commented on #17185
@qdp-odoo what do you think about the change? If you approve I'll make a PR for you. Just let me know.

[2017-06-07 13:10] mart-e commented on #17445
Hello,

Thank you but did you made some pre-configurations (like change of language) ?
I just tired on latest 10.0 and did not get the issue. What am I missing?

https://drive.google.com/file/d/0B0RwS91KXoeCR1ljMDdRVUNnbE0/view?usp=sharing

[2017-06-07 14:03] nafex commented on #17445
https://drive.google.com/file/d/0B2CIGeDDt1gKbVA4M0V3ay1BUXc/view

[2017-06-07 14:07] SborealisS opened #17472 "POSBox image in a raspberry pi3, how does it work with an HDMI screen?"
I installed the POSBox image in a raspberry pi3, everything worked great, now I would like to use that rp as a graphic POS and connect some HDMI screen and a printer to it..

I could see that there is no graphic interface installed by default in the POSBox image. shoulod I install a graphic interface on the raspberry pi3?

Thanks in advance!

[2017-06-07 14:48] mart-e commented on #17445
Thanks for the info. I confirm the bug ! As sson as you press the Enter key, you get empty content.

_issue content updated to remove noise from previous mail exchange, easier to understand with a video ;-) _

[2017-06-07 16:45] Kyle-Foley commented on #7028
+10

[2017-06-07 18:47] flyingL123 commented on #17419
Hi @odony, do you have any input on this? Is this something that can be resolved, and if so, do you know how long it will take to make it into the framework? This change is completely preventing me from importing modules on Odoo SaaS, which has brought development to a halt.

[2017-06-07 20:39] nick2474 commented on #14904
In my case the issues was solved because the local currency CRC, was set in 0. I changed to 1.0000 and the issue was solved.

[2017-06-07 21:19] odony commented on #17419
@flyingL123 Just a little more patience, the patch will be rolled out in the coming hours

[2017-06-07 22:16] bsgmbh opened #17476 "accounting: Settings "Inter-Bank Transfer Account" not offering correct (SKR03) account."
Impacted versions: 9,0C, 10.0C

Steps to reproduce:
- Install German SKR03 chart of accounts, then Accounting module.
- Goto Accounting > Settings, try to setup "Inter-Bank Transfer Account".
- Odoo will offer a few accounts and when prompted to search for more, will only show 160 entries

- Pressing enter in the search field will retrieve 237 entries, effectively ALL accounts from the correct sec

[2017-06-07 23:30] odony commented on #17419
Should have been fixed by c6b9b69f6a483e7ccebf0b823240b71a8f426fd3. Forwarded and rolled out to the infrastructure a few minutes ago.
@flyingL123 let me know if you still have issues

[2017-06-07 23:30] #17419 closed

[2017-06-08 00:47] flyingL123 commented on #17419
Yes! Thank you so much @odony and @wtaferner. It's working correctly for me now.

[2017-06-08 04:47] setiaji opened #17483 "Odoo 10 service crash in ubuntu 16.04 LTS"
Impacted versions: 10

Steps to reproduce: When creating new inventory product and opening e-commerce module (shop page) in the same time, suddenly odoo services crash.

This is my journalctl report:

Jun 08 13:23:28 server01 odoo-server[3606]: 2017-06-08 04:23:28,797 3606 INFO server01 werkzeug: 192.168.12.147 - - [08/Jun/2017 04:23:28] "POST /web/dataset/call HTTP/1.1" 200 -
Jun 08 13:23:28 serv

[2017-06-08 06:47] JosefKaser commented on #17476
Only current asset accounts with "Allow Reconciliation" == True are being listed in the mentioned dropdown list. Account 1360 is not set to allow reconciliation.

The same applies to account 1460 of the german SKR04.

Once you allow reconciliation for the account it can be selected.

[2017-06-08 08:29] #14939 closed

[2017-06-08 09:18] hparfr opened #17490 "Search more unpredictable"
### Impacted versions:

7, 8, 9, 10, master

### Steps to reproduce:
In a form with a many2one, click on "search_more". A dialog opens with results.

### Current behavior:
A maximum of 160 results are displayed.
The result count is wrong (limited to 160).
There is no terms in the search field.

### Expected behavior:

#### Ideal

It should perform a normal search: count all the results and display

[2017-06-08 09:43] bsgmbh commented on #17476
That did it, thank you Josef, and also for the super fast reply!

Out of curiosity, would you say that the default setting of "Allow Reconciliation" == False for these two accounts is correct?

I may misunderstand the concept of reconciliation in Odoo, but classically this would refer to both sides of a double entry being checked to match. If this is what is meant here, would an "implicit money tr

[2017-06-08 10:31] Softdil commented on #4490
@lasley I know this issue is a bit old, but i'm having same problem as @ajayjaviya
Are payments made from acquire button in the sales order supposed to confirm the order? The problem is that no payment transaction is created when you make the payment. I have Redsys configured and it's working perfectly fine except that it won't confirm the order since no payment transaction is created.

As @ajayja

[2017-06-08 10:43] houssine78 commented on #11286
any news on this problem I'm facing the same issue

this seems to be related to https://github.com/odoo/odoo/issues/16635

[2017-06-08 10:52] xavierjimenezqubiq opened #17493 "[10.0] Pricelist not applying with quantity on POS"
**Impacted versions:**

Latest 10.0 version on Runbot

**Steps to reproduce:**

Create a pricelist with variable prices for a product depending on the quantity:
![issue1](https://user-images.githubusercontent.com/22770010/26925018-6940f8b2-4c48-11e7-8daa-7f4e3750d913.jpeg)

Select that pricelist on the POS:
![issue2](https://user-images.githubusercontent.com/22770010/26925062-8428d604-4c48-11e7-9e

[2017-06-08 11:09] #17476 closed

[2017-06-08 11:10] Yenthe666 commented on #17476
Closing this report as @JosefKaser answered it (thank you!).

[2017-06-08 11:12] Yenthe666 commented on #17490
Hi @hparfr,

Thanks for your report.
However, did this really need a new issue? You've basically made a duplicate of all those open topics (17408, 11232, 12001, 2235, 1415, 1386).
@mart-e perhaps we should make a final decision in this (at https://github.com/odoo/odoo/issues/17408) so we can handle all these open issues.

Regards,
Yenthe

[2017-06-08 11:18] xmo-odoo commented on #17388
The issue here is that the Sale > Payments list is filtered by "partner_type=customer", but the field has no default value and there is no default in the action context either, so the import goes through correctly, but then none of the record match the list's filter and thus none are displayed.

You can somewhat reproduce the issue by creating a payment normally and changing the partner_type (whic

[2017-06-08 11:57] gustavovalverde commented on #17388
So the partner_type should be required on import, that should be the easier fix.

[2017-06-08 12:01] xmo-odoo commented on #17388
After checking with @qdp-odoo it can't be: import can only account for model constraints and an empty partner_type is valid (it means internal transfer e.g. between two of your bank accounts). However we can modify the action to set a default_partner_type which matches the domain, I'm writing the fix

[2017-06-08 12:05] gustavovalverde commented on #17388
Matching the domain seems like a better solution 👍

[2017-06-08 13:44] hparfr commented on #17490
Odoo support told me :  They won't fix how it works nor they won't fix the UI for versions <= 11.

[2017-06-08 13:48] Yenthe666 commented on #17490
@hparfr,

So, if you already get a no from Odoo support and you know that it will not be changed / accepted... Why do you open an issue here then?
Closing as you both gave your own answer and because there are literally 6 other reports about the exact same thing.

Regards,
Yenthe

[2017-06-08 13:48] #17490 closed

[2017-06-08 14:02] hparfr commented on #17490
Last time I requested the support about something I had to first create an issue on github. I wasn't aware the support has updated his process. That's why I created this issue.

Indeed, I updated the issue __after__ having a response from the support.

@Yenthe666  You may also close all the issues referenced and label them as "Won't fix."

Regards,

[2017-06-08 14:10] Yenthe666 commented on #17490
Ahh I see. You should be fine with logging an issue at the Odoo support itself.
As to all the other issues: I'd like confirmation from @mart-e to be sure if he is fine with it too. 😄

[2017-06-08 14:24] mart-e commented on #17490
No we haven't. We don't ask people to create a github issue. I guess a misunderstanding here.

Indeed, we won't change it in stable (a bit inconvenient but nothing blocking).
However, we _want_ to change that in master but it is not that easy (we have a problem to keep the current search).
In discussion with the framework team to find a solution but no promise on what and when.

[2017-06-08 15:27] lasley commented on #4490
@Softdil - You nailed the issue on the head. If you take a look at the solution in [our module](https://github.com/LasLabs/odoo-payment/tree/release/8.0/payment_authorize_auto_reconcile) you'll see that we simply [create the payment transaction](https://github.com/LasLabs/odoo-payment/blob/release/8.0/payment_authorize_auto_reconcile/models/payment_transaction.py#L62) after receiving a response fr

[2017-06-08 15:40] afwanwh commented on #13654
Hello, any update on this?

[2017-06-08 15:40] igallart commented on #5211
Hello, I'm confused with print ticket without paid. ¿Is possible print bill in pdf (same with paid) with bill button from pos_restaurant?
Now nothing happens in odoo v8.

[2017-06-08 15:49] Softdil commented on #4490
@lasley so, creating a voucher will only help to get an invoice marked as paid but... what about confirming a 'sent' state sale order? Is it possible? Customers can pay 'sent' orders when logging through the portal but order won't get confirmed automatically.

[2017-06-08 16:09] lasley commented on #4490
Our module does not handle sales, which is actually what broke it in v9. We did some work towards this goal (and PayPal too) in [this branch](https://github.com/laslabs/odoo-payment/tree/feature/9.0/LABS-101-create-payment_paypal_auto_reconcile), but it doesn't work last I remember.

v10 had come out by the time we were solving this, so it was a matter of using it as a feature point to induce upgr

[2017-06-08 16:16] Softdil commented on #4490
I really appreciate your help. I guess i'll simply deactivate the payment buttons in sales and leave it only for website sales.

[2017-06-08 16:31] gustavovalverde opened #17503 "[v10] Issue with "Real cost", or wrong documentation"
**Impacted versions:**
10.0

**Steps to reproduce:**
1. Configure category "All" with **Real Cost** and **Perpetual** valuation.
2. Create a product "Computer" under  the "All" category
3. Go to the Product Template (price can be modified) and leave cost as 0.
4. Make a PO buying "Computer" at $10.
5. Validate the PO and validate the Picking.
6. Create the Vendor Bill at $10 and validate it

**Cur

[2017-06-08 16:32] gustavovalverde commented on #17503
@nim-odoo @qdp-odoo @Yenthe666

Am I losing something here?

[2017-06-08 17:57] jorenvo commented on #17493
Indeed, this is a current limitation with how pricelists are handled in the POS. Essentially the price for a product is computed once when the POS loads and that's it. We are currently improving this for future versions. You can follow the progress at: https://github.com/odoo/odoo/pull/16549.

[2017-06-08 17:57] #17493 closed

[2017-06-08 22:29] jorenvo commented on #17335
After looking a bit closer I'm not sure I fully understand the issue. The reason it's doing --700 is because you're essentially applying a 'positive' discount. If you were to make the price of that discount line negative again you would end up in the same state as in step 4.

[2017-06-09 03:10] lukebranch commented on #9745
@treviser ,

Have you had any luck with this? I also have some customers (Odoo 10.0c or 11.0c when it's released) who would really like to implement at least one of the following scenarios:

Single Odoo DB, Single Legal Entity (ie. not multi-company mode), multiple websites and storefronts:
In this scenarios we have a trading company who is the sole distributor for their region and will run websit

[2017-06-09 03:47] livewellvn opened #17508 "Error when making payment for invoice using wire transfer"
Impacted versions: 10.0

Steps to reproduce:

Login to front-end website. From user menu, select My Account.

In Your Invoices and Payments, click on Pay Now link (next to invoice).

(Payment method is wire transfer)

Click on Pay Now

Current behavior:

There's error:

"Oops! There was a problem with your payment."

Expected behavior:

Payment should be done.

![odoo-payment-wire-transfer-error](

[2017-06-09 04:47] auyeung112002 opened #17510 "[10] Required Textarea field wrong background in non-edit form view"
Impacted versions:
v10

Steps to reproduce:
1. Login to v10 runbot
2. Enable debug mode
3. Go to Setting/System Parameter
4. Click anyone of the item

Current behavior:
![image](https://user-images.githubusercontent.com/8391358/26961489-9d2596d2-4d11-11e7-9ed9-d1d07c503b06.png)

Expected behavior:
No background color

[2017-06-09 07:00] xubiuit opened #17515 "[8.0, 9.0, 10.0] Qweb Report Barcode Accepted Types"
Impacted versions: 8, 9, 10

Steps to reproduce:
You just need to go through: [EAN13](https://demo2.odoo.com/report/barcode?width=200&type=EAN13&value=text&height=200), meanwhile [QR](https://demo2.odoo.com/report/barcode?width=200&type=QR&value=text&height=200) is working fine

Current behavior:

        'Extended93', 'FIM', 'I2of5', 'MSI', 'POSTNET', 'QR', 'Standard39', 'Standard93',
        'UP

[2017-06-09 07:12] durvilchat opened #17517 "Poblem with Emojis"
Hello, I need help on odoo
My problem is the following: when I open the caches windows, the emojis no longer work and in the chat window and only works when I close the chat windows.
this.$('.o_composer_button_emoji').popover({

        placement: 'top',
        content: function () {
            if (!self.$emojis) { // lazy rendering
                self.$emojis = $(QWeb.render('mail.ChatComposer

[2017-06-09 07:20] treviser commented on #9745
@lukebranch
The discussion in the mailing list was not as fruitful as expected, especially I did not receive any concrete proposals.
My scenario is:
Single Odoo DB, single legal entity, multiple Organziational Units (OCA OUs), multiple websites and storefronts, multiple POS.
Based on the discussion I believe that multiple legal entities or OUs should not make the big difference.
I have my first cu

[2017-06-09 07:25] treviser commented on #9745
I don't know if you are aware that [PR1](https://apps.odoo.com/apps/modules/browse?author=PR1) recently released a couple of modules for multi-website etc.. These modules are quite costly and I don't know how to assess them without knowing more about their approach and realization.

[2017-06-09 07:27] PieterPaulussen opened #17518 "Unittests Failing in IDE environment"
Impacted versions:
All

Current behavior:
The Odoo unittests can't be run from inside an IDE (Pycharm). There is a missing parameter for running the tests inside the IDE.  This provides a clearer interface for running tests than standard Odoo logging

Expected behaviour:
Odoo allows for running tests in an IDE environment

This is the traceback Error
![error](https://user-images.githubusercontent.

[2017-06-09 07:48] lukebranch commented on #9745
@treviser ,

Brilliant, thanks for the heads up! I noticed those yesterday while digging around. I'll try reach out to them to discuss and see if I can arrange some sort of demonstration and discussion.

They are rather costly modules, I agree, however i'm certainly interested in what they've done regardless.

Once I hear back i'll update this thread with more information on my discussion with the

[2017-06-09 07:55] xmo-odoo commented on #17518
Yes, Odoo tests have to run *within* Odoo at this point, not the other way around, sadly it is not currently possible to run tests "independently" from Odoo.

And because running tests by and large has to be interleaved with installing modules (as the basic "unit tests" of a module will not cope well with an extension adding required fields) that's unlikely to change any time soon unless somebody

[2017-06-09 07:55] #17518 closed

[2017-06-09 08:03] ccandito opened #17520 "Sale & Purchase Vouchers"
Impacted versions: 10

Steps to reproduce: install the Sale & Purchase Vouchers app

Current behavior: tables were properly installed, but no item menus have been created

Expected behavior: new item menus for managing purchase vauchers

Video/Screenshot link (optional):

[2017-06-09 08:06] Yajo commented on #9745
@sebastienbeau Presented recently Shop Invader, a project that aims to fix all of this, although it's not production-ready yet AFAIK.

Maybe he wants to introduce it here and point interested users to the correct communication channels about the project.

[2017-06-09 08:20] lukebranch commented on #9745
I remember discussing something similar to this (Odoo/OpenERP > Locomotive CMS) with I believe Raphael (@)rvalyi many years ago here:
https://github.com/akretion/connector-search-engine/issues/3

I'd definitely be very interested in something like this if there is an ongoing project underway.

[2017-06-09 10:27] nafex commented on #9745
There is a question about Multi-Website on "Ask Me Anything w/ Odoo CEO Fabien Pinckaers": https://youtu.be/7iRySgJYS8Y?t=1h8m50s
at 1:08:50
Its on Odoo's roadmap but it seems it will be available only on v12...

[2017-06-09 10:41] gustavovalverde commented on #16727
I have to take a time and sit with @wtaferner to see how this works, but in the meanwhile is nonsense having this issue open.

[2017-06-09 10:41] #16727 closed

[2017-06-09 10:44] lukebranch commented on #9745
@nafex ,

That is excellent news, thank you!

I was meaning to watch the AMA when I could find a bit of time. Thanks for the link, that is excellent news that there it's on the roadmap for a near-future release.

I really hope they can finish development in time for a version 11.0 release.

[2017-06-09 10:49] gustavovalverde opened #17526 "[10.0] pos: Can't enforce Fiscal Positions in PoS if "None" is available"
Impacted versions:
10.0

Steps to reproduce:
1. Install PoS
2. Create 2 Fiscal Positions: "B2B" and "B2C", and use "B2C" as default in POS. This is to enforce fiscal position use.
3. Open a new session

Current behavior:
A "**None**" Fiscal Position appears, which breaks my business case as it won't allow me to enforce the use of fiscal positions

Expected behavior:
Allow me to remove the "None" f

[2017-06-09 10:55] gustavovalverde commented on #17382
@xmo-odoo is this in your domain? Just guessing, as you solved the other import issue.

[2017-06-09 10:55] wtaferner commented on #17526
I agree with @gustavovalverde that the undefined state is not a good move at all and makes it unreliable to enforce one or the other fiscal position.

[2017-06-09 10:59] wtaferner commented on #17382
@gustavovalverde
Have you also set the ```limit_time_cpu``` to another value than the default of 60 seconds and eventually the ```limit_time_real``` (default: 120)?

[2017-06-09 11:01] gustavovalverde commented on #17382
@wtaferner

**Configuration File:**
[code]

[2017-06-09 11:09] wtaferner commented on #17382
Ok, so then search for other timeouts in your setup...exactly 60 seconds smells very much like an issue of configuration, but who knows :-)

[2017-06-09 11:14] gustavovalverde commented on #17382
The only additional thing that my domain has is Cloudflare, but I also disabled that to test before posting the issue.

It works if I remove this reverse proxy configuration (but I obviously need it), though I don't see what's wrong in the configuration I published here. It has practically been configured the _Odoo Way_

[2017-06-09 11:22] xmo-odoo commented on #17382
@gustavovalverde the other issue was one of import code/data and odoo model setup, this looks more like architectural setup which really is not my domain, @KangOl or @julienlegros would probably be more able to help

[2017-06-09 12:03] dansanti commented on #17418
@mart-e  hi! thanks for the reply but that module is fired from backoffice, but from pos not https://github.com/dansanti/l10n_cl_base_rut/blob/9.0/base_vat.py

[2017-06-09 12:38] milanpatel1519 opened #17529 "[10.0] ODOO Payroll - Payslip Refund Issue"
Impacted versions:
10.0

Steps to reproduce:
Make employee's payslip with salary rule which have input values. Like add BONUS salary rule with result = inputs.BONUS.amount python code and also add one input for for rule.
Create payslip with with BONUS rule salary structure and compute and confirm it.
After paid the salary slip REFUND it.

Current behavior:
If we click on refund it shows "Wrong pyt

[2017-06-09 12:43] houssine78 commented on #11286
This issue could be related to the problem and give some hints to understand that the mail composer could be the problem.

[2017-06-09 12:45] houssine78 commented on #11286
Hi @odony does this problem is known by Odoo SA? In that case any workaround to suggest so fare?

thanks for your time

[2017-06-09 12:53] odony commented on #11286
It's the expected behavior. When posting a message on a SO/PO/.., replies should go to the document, nowhere else, otherwise you lose history and tracking. "Reply-To" on mail templates is meant to be used for mass-mailing purposes, not for direct posting on documents.

[2017-06-09 12:53] #11286 closed

[2017-06-09 13:19] Vartkat commented on #17185
Sorry I will look dumb but I don't know where's the code, how to pull it and merge it with my test config to test it. Can you guide me ?

[2017-06-09 14:39] nafex commented on #7377
Hi, I'm having exactly the same problem. Trying to implement PayPal Webhooks in Odoo but to validate the PayPal signature i need the raw request body. How can I get it without modifying the original Odoo source code?

[2017-06-09 14:42] nafex commented on #7377
@xmo-odoo should I submit a patch replacing `stream.read` with `get_data`?

[2017-06-09 14:46] nafex commented on #7377
or maybe Odoo could add something like:
[code]

[2017-06-09 16:29] moylop260 opened #17533 "odoo don't support more than one "odoo" root tags in the same file"
Steps to reproduce:
 - Create a xml with:

[code]

Current behavior:
`XMLSyntaxError: Extra content at the end of the document, line 18, column 1`

Expected behavior:
Working fine!
Because now we have supported the `noupdate` parameter from `odoo` root xml node.
This help us to avoid playing with spacing because a new child node was added:

[code]

Diff using `odoo/data` node (re-ident is required

[2017-06-09 18:14] jorenvo commented on #17526
It just behaves the same way as an SO ie. a fiscal position is not required. I understand why it's not ideal in your use case, but not having a fiscal position is a valid use case as well.

[2017-06-09 18:24] gustavovalverde commented on #17526
You're right, but the inverse is easier. Is just creating a Fiscal Position
with the name "None".

If I'd like to enforce it, I have to make a module. Which could cause other
unintended side effects.

On Jun 9, 2017 2:14 PM, "jorenvo" <notifications@github.com> wrote:

--
Este mensaje y sus anexos pueden contener información confidencial y
privilegiada con la intención de que sea utilizada por las

[2017-06-09 18:56] yasmanycastillo opened #17534 "Error trying to add new field related with address in res.partner model"
Impacted versions: 10.0

Steps to reproduce:
Create a new module that inherited from res.partner, then create a field and the variable name must contain the address word. In my case the variable called contact_address. Add the new field in the partner view. If you reproduce the error and try to overwrite the write function the issue don't dessapear.

Current behavior:
When edit the partner record

[2017-06-09 23:07] raycarnes commented on #17368
Default Odoo has no "Date of Confirmation" of orders in version 9.0.

[2017-06-10 04:13] nilshamerlinck commented on #17483
Looks like the linux OOM killer killed your odoo process because of a lack of memory. Do you have some swap memory configured?

[2017-06-10 09:08] treviser commented on #10496
@Yenthe666 @qdp-odoo Any news on this? Might @lithint workaround be a solution?

[2017-06-10 10:29] NeoGenesis1986 opened #17543 "Problem Sending message from Cron job"
Impacted versions: 10.0

Steps to reproduce: Create Cron job that calls the method message_post()

Current behavior: Cron runs in an infinite loop. Console shows the following message (exception happens after the cron function exits):
[code]

Expected behavior: Cron runs once and exits normally as it does when you run the cron job manually

Additional info :
Cron XML :
[code]
Cron function :
[code

[2017-06-10 21:43] Renatov commented on #9201
Hi to all, one shape is configure the file odoo.conf u openerp-server.conf in line data_dir =
Giving the correct address where the files are hosted will be better

[2017-06-10 22:35] alfaser123 commented on #16515
hi. Any solution so far?

[2017-06-10 22:56] anassahmed commented on #17193
Oh, I was mistaken.
My way of solving the removal issue was to reset the `internal_number` on cancel, but looks like I've been wrong. Now, my code reset the `internal_number` on `unlink`, thus it retains the number on cancel in case of resetting back to draft, then validating the invoice again.

[2017-06-10 22:56] #17193 closed

[2017-06-11 03:15] euroblaze commented on #7896
Hello all,

has this issue been fixed for good. I am seeing similar wierd behavior in 10E, as [reported on the Forum](https://www.odoo.com/forum/help-1/question/german-language-salutations-119737).

What is "strange" is that my user-language is German, and all of the partner-languages are German too. Still all recipients receive English **salutations**.

Thank you
Ashant Chalasani

ps: we provide

[2017-06-11 08:25] ccandito opened #17546 "Repair management"
Impacted versions: 10

Steps to reproduce: create a repair order with a component to be add

Current behavior: no inventory posting, only accounting posting and decrease of stock

Expected behavior: inventory posting should be performed also in warehouse module

Video/Screenshot link (optional):

[2017-06-11 20:19] Yenthe666 commented on #17517
Hi @durvilchat,

Am I correct that you're asking a question about custom development? This is not a bug in the official Odoo without any custom development, right?

Regards,
Yenthe

[2017-06-11 20:20] Yenthe666 commented on #17534
Hi @yasmanycastillo,

Could you perhaps share all of your code, either by pasting it here or providing a download link?
I'd like to see the whole logic & code. 😄

Regards,
Yenthe

[2017-06-11 20:22] Yenthe666 commented on #17483
Hi @setiaji,

As @nilshamerlinck already answered, this is because of a lack of memory, your server probably ran completely out of memory. As a sidenote, one core in combination with 1GB RAM is really not a lot. Your Ubuntu itself needs ~700MB of RAM, which only leaves 300MB.
You might want to upgrade you server a bit 😉

[2017-06-11 20:26] SGiuseppe opened #17547 "[8.0] Bug price included tax"
Impacted versions: In my system there is 8.0

on module: product_visible_discount.py

Steps to reproduce: When you change the amount for a product with tax included, the calculated discount is reset

solution:
After line 107 replace with:
[code]

[2017-06-11 20:34] Yenthe666 commented on #17529
Hi @milanpatel1519,

Thank you for your report.
Could you please make a recording of this behaviour showing it step by step? This would make it much easier to reproduce (and fix if there is an issue).
Can you reproduce it on an official Odoo instance? (runbot.odoo.com)

Regards,
Yenthe

[2017-06-11 20:36] Yenthe666 commented on #17392
Hi @dansanti,

Thank you for your report!
Just to be sure, your XML code is not within `<data noupdate='1'>` right?
@mart-e what do you think?

Regards,
Yenthe

[2017-06-11 20:38] Yenthe666 commented on #17546
@jco-odoo could you give feedback here please?

[2017-06-11 21:21] Yenthe666 commented on #17510
Hi @auyeung112002,

Thank you for your report.
This does indeed look like a bug as the required fields should only be blue (highlighted) when you're in the editable mode.
@mart-e and @nim-odoo can you check out the linked PR please?

Regards,
Yenthe

[2017-06-11 21:22] Yenthe666 commented on #17508
Hi @livewellvn,

Thank you for your report.
Have you configured your payment methods? Can you reproduce this on an official runbot (runbot.odoo.com)?
CC @JKE-be

Regards,
Yenthe

[2017-06-12 04:11] dansanti commented on #17392
Hi!

yes , is not with  `<data noupdate='1'>`  a clean `<data>` tag

[2017-06-12 05:28] milanpatel1519 commented on #17529
Hey @Yenthe666,
Thanks for replay.
Here I made video for salary rule, salary structure and payslip for employee. You can find a warning of wrong python code for salary rule while you are refunding payslip and not when you confirming.

[payslip_issue.zip](https://github.com/odoo/odoo/files/1067146/payslip_issue.zip)

Regards,
Milan

[2017-06-12 07:17] ccandito commented on #17546
???
sorry I'didn't get it
which feedback I should provide?
regards
claudio

[2017-06-12 07:21] Yenthe666 commented on #17546
Hi @ccandito,

From nobody, I'm waiting for feedback from jco-odoo - he is the one that made this module. 😄

[2017-06-12 07:25] setiaji commented on #17483
@nilshamerlinck and @Yenthe666 thanks for your analysis, i have to upgrade for RAM only or core also ?

[2017-06-12 07:33] Yenthe666 commented on #17483
Hi @setiaji,

You should probably change to two cores and 2GB of RAM. It depends a lot on the amount of users etc though but two cores and 2GB RAM should atleast keep your Odoo up & running.

[2017-06-12 07:37] setiaji commented on #17483
Hi @Yenthe666,

Allright i will upgrade then hope my Odoo will running smooth

[2017-06-12 07:39] Yenthe666 commented on #17483
@setiaji best of luck! I'll close this report for now. If you still face issues after this then comment back and we'll see what we can do for you.

[2017-06-12 07:39] #17483 closed

[2017-06-12 08:56] houssine78 commented on #11286
ok thanks I'll find another way then as I don't need to pass by the mail composer.

[2017-06-12 09:03] mart-e commented on #17392
Hello,

Sorry but it is how the ORM works, it is expected.

When installing/upgrading a module, Odoo will work +/- like this:

[code]

So if you remove, a line from the `record` tag, it will do nothing on that field.

If, in my module, I do
[code]

it will do... nothing

[2017-06-12 09:03] #17392 closed

[2017-06-12 09:21] InfernalLV opened #17561 "-u module, --update=all restores deleted data.xml records"
Impacted versions: All

Steps to reproduce:
1) Delete a project.task.type stage (or any record record declared via an xml data file)
2) Update project (or the corresponding module)

Current behavior:
The deleted records are restored.

Expected behavior:
The deleted records stay deleted.

One of the systems strengths is its ability to be adapted to a specific use cases. The fact that such changes a

[2017-06-12 09:46] Yenthe666 commented on #17561
@mart-e didn't you once say on another thread this was the desired behaviour and that it won't be changed?

[2017-06-12 09:55] nle-odoo commented on #17398
Hello,

A change in 8.0 has been made so the company partner (which contain the name/address/... of the company) is duplicated when duplicating a company: https://github.com/odoo/odoo/commit/ed61da67932

It should be available in 10.0 on the next forward-port ( you will be able to see them when there is a new "[MERGE] forward port branch ..." in the change list in https://github.com/odoo/odoo/comm

[2017-06-12 09:58] #17398 closed

[2017-06-12 10:01] qdp-odoo commented on #17185
I confirm that this is a bug.

@Yenthe666 you can proceed to the PR if you want :-) Thanks a lot

[2017-06-12 10:16] #17388 closed

[2017-06-12 10:33] Yenthe666 commented on #13846
@hbrunn thanks for the fix. Can you link the Odoo commit that fixed this too? Then I can double check & close this report.

[2017-06-12 11:30] Yenthe666 commented on #17533
Hi @moylop260,

I've just tested this in Odoo 10 and it works without any problem?
![image](https://user-images.githubusercontent.com/6352350/27032042-3a2ba134-4f73-11e7-9dc4-0ccad40e357d.png)

[2017-06-12 12:44] nim-odoo commented on #17341
#17567 :
- corrects the report
- displays the currency in the view
- set the total amount to zero if multiple currencies (the sum doesn't make any sense anyway...)

The sum in the view would be much more tricky to remove, however. But this is not a big deal.

[2017-06-12 13:46] moylop260 commented on #17533
You are using 2 data nodes and 1 odoo one.
The example to reproduce it is use 2 odoo nodes 0 data ones.

<odoo noupdate="0">
</odoo>
<odoo noupdate="1">
</odoo>

[2017-06-12 14:01] #17341 closed

[2017-06-12 14:04] gustavovalverde commented on #17561
Isn't the "noupdate" changing this behavior in XML?

[2017-06-12 14:14] hbrunn commented on #13846
@Yenthe666 https://github.com/odoo/odoo/pull/17470

[2017-06-12 14:15] gustavovalverde commented on #17533
@Yenthe666, actually @moylop260 is right, as for v10 the _<data>_ node seems to be deprecated based on the documentation --> https://www.odoo.com/documentation/10.0/reference/data.html#structure

[2017-06-12 14:18] mart-e commented on #17561
`forcecreate="True"` is what you are looking for.

So yes, not going to change the behaviour of the noupdate but we can add `forcecreate` where it makes sense.
If it makes sense for the business case, we can accept adding these flags in master.

Ironically, in your example. you have chosen a model where we have already added the flag forcecreate 59a700c8e6c7ae982a6d2c40521a43edf31194f8 😉

[2017-06-12 14:18] #17561 closed

[2017-06-12 14:43] Yenthe666 commented on #17533
Oh my bad. I summon you @mart-e !

[2017-06-12 15:08] mart-e commented on #17533
Not exactly deprecated.
If you check [the change](https://github.com/odoo/odoo/commit/7c0e598c97cc48d8e55688c99db6d11ee23d9e46)

Seems like it answer the question :-)

So this hasn't changed with the replacement of `openerp` by `odoo` tag.
If somebody wants to play around with [the RNG](https://github.com/odoo/odoo/blob/b5a224a5837bb9b608fb1185e3e44e8c409fdfb0/odoo/import_xml.rng#L351), I guess it

[2017-06-12 15:21] gustavovalverde commented on #17533
OK, I then agree that using the `<data>` node for those cases seems like more straightforward. So this issue could actually be an IMP. Though this should be added to the doc:

[2017-06-12 15:29] Yenthe666 commented on #17533
@gustavovalverde I encourage you to make a PR to the docs. I'm sure Martin will accept it. 😄

[2017-06-12 15:33] gustavovalverde commented on #17533
I'll do ;)

On Mon, Jun 12, 2017 at 11:29 AM, Yenthe V.G <notifications@github.com>
wrote:

--
*Staff*
--
Av. Bolívar 407, Gascue,
Santo Domingo

*Tel.:* +1 (829) 686-8270
info@iterativo.do <gustavo@iterativo.do>
www.iterativo.do <https://iterativo.do/>

--
Este mensaje y sus anexos pueden contener información confidencial y
privilegiada con la intención de que sea utilizada por las personas u
org

[2017-06-12 15:37] Greentash commented on #10866
Hi all
I have odoo8 installed on ubuntu 16.04.
It will be helpfull to edit **/etc/odoo/openerp-server.conf** and set this parameter **auto_reload = True**.
I join idea of great @mart-e
Thanks

[2017-06-12 16:00] rolero opened #17572 "Unknown Odoo V8 version number."
Impacted versions: Odoo Version 8.0-98bd673

Steps to reproduce:
Fresh Centos Os with Odoo Version 8.0-20161106 install
Trying to move to new server using database dump from Version 8.0-98bd673

Current behaviour:
We tried to find out which Odoo version to use but there is no version called  8.0-98bd673. So we guessed by comparing the information available in /website/info (I know this is terrible

[2017-06-12 17:52] jleaders commented on #15930
bump

[2017-06-13 04:29] sitimawaddah opened #17578 "Cannot change product in draft picking (TypeError: d.error is undefined)"
Impacted versions: 10c

Steps to reproduce:
- i am using demo database
- go to menu Inventory/All Transfers
- create new picking, choose any picking type (I choose delivery order)
- input items
- Save
- click Edit
- choose one of items and change to other product

Current behavior:
if using Google Chrome, It will raise error warning *Error: QWeb2 - template['CrashManager.warning']: Runtime Error:

[2017-06-13 07:13] sitimawaddah commented on #17578
additional info: this issue happened when I select item use key down or up in keyboard. If using mouse selection, this issue rarely exist.

[2017-06-13 11:10] m3dbedb commented on #15365
[Try](https://github.com/odoo/odoo/issues/4382) adding this parameter to the odoo-server.conf:
proxy_mode = True

[2017-06-13 12:49] Yenthe666 commented on #17578
Hi @sitimawaddah,

Thank you for your report.
I can confirm that this is an issue in Odoo.
@Gorash and @sle-odoo can one of you guys look at this one?

Regards,
Yenthe

[2017-06-13 12:52] Yenthe666 commented on #17335
Hi @jorenvo,

Thanks for your feedback.
How you explain it is indeed the case and from a technical profile it still makes (kind of) sense. However, from an end user (or somebody functional) it doesn't. To an average person doing twice '-' shouldn't become '+'. Perhaps this is more of an usability issue but I can understand that this is quite confusing and unnatural to end users..

[2017-06-13 14:22] Jerther commented on #15628
Hi, I just wanted to say we're experiencing the same Issue. 852 items. "barcodes" module is installed but we don't use a scanner. It's a dependency I guess?

`onchange` call occurs twice for a single change. Both calls send pretty large and identical jsons, except for the final ID ( see [here](https://pastebin.com/MTaDLSSr) )

 Both take around 20 seconds to resolve, and both return very similar j

[2017-06-13 17:23] gustavovalverde commented on #17503
Hi, just let me know if I'm not getting it right to close the issue, as from my POV this is not working correctly.

[2017-06-13 17:34] gustavovalverde commented on #10538
Hi @Yenthe666, maybe a little help here. We have multiple clients requests with the need of using multiple (included) taxes. There are a few PR for this issue, but none have been approved
https://github.com/odoo/odoo/pull/17043
https://github.com/odoo/odoo/pull/16922
https://github.com/odoo/odoo/pull/13592
https://github.com/odoo/odoo/pull/11352
https://github.com/odoo/odoo/pull/16790

[2017-06-13 17:39] jorenvo commented on #17335
I suppose, although I'm sure people are using positive discounts for some weird use case. But I'm not sure what else to do. You manually specified the positive amount, it was not generated by the system. It's a bit clearer if you forget about the points and just look at the total of your order. In step 6 you end up with 1400 (700 + 700) instead of 0. I guess we could somehow make the POS remember

[2017-06-13 17:39] #17335 closed

[2017-06-13 21:55] NobodyIII opened #17590 "x2many fields glitch when switching between records"
Impacted versions: 9.0

Steps to reproduce:
1. Find an editable x2many table, e.g. in Sales module.
2. Switch to edit mode.
3. Without modifying anything else, click into one x2many entry and modify a single field.
4. Without clicking anything else, switch to a different record by clicking one of the arrows on the upper pane, by the view type buttons.

Current behavior:
After step 4, one of the x2

[2017-06-14 06:10] Yenthe666 commented on #10538
Hi @gustavovalverde,

Thank you for linking them all and grouping them, it shows the severity a bit more.
@mart-e and @qdp-odoo can we have somebody look at it once and for all? It'll handle multiple PR's / issues at once so that is great.

Regards,
Yenthe

[2017-06-14 06:58] ed29 commented on #16324
@JKE-be Hi,does it get ready?

[2017-06-14 07:40] JKE-be commented on #16324
Hi @ed29

Until now, it has not been yet added.
But it don't seems a priority for v11.

Maybe @fgi-odoo can confirm if we want it or not for v11.

Thanks

JKE-be

[2017-06-14 07:49] wtaferner commented on #16324
:+1:

I vote for having it as it is quite common that you do not offer to sell only one piece of an item online...of course it would be ideal for consumers/customers but very often it does not pay off to start an online shop based on this, so let's give this option for e-commerce in v11 a priority and even more shops will work out of the box :-)

[2017-06-14 07:54] JKE-be commented on #16324
@wtaferner
If you are talking e.g. about 'screws' that you only want to sell by pack of 4... it is not MOQ that will help you... What you need is a BillOfMaterial with 4x 1 screw...

IMHO, MOQ is an advanced feature, that most people will not use...
The main use (I can see) will be when you use the unit as weght,... E.G. you sell coffee by 1 unit = 100g => but don't want to sold <500g

[2017-06-14 08:30] azeemism commented on #13449
No I have not found a fix. But I am hoping someone will. If anyone has found a fix please post what it is. Thanks.

I am posting the full log from starting the server, 1 with the issue and 1 without. I hope this help to trouble shoot the problem better.

### workers = 9 , max_cron_threads = 3
[code]

### 5 minutes of log, while not using the server
[code]

### Commented workers line, max_cron_thre

[2017-06-14 09:36] wtaferner commented on #16324
@JKE-be
No, not really, but certainly this is somehow a workaround which would work to a certain extend.

It is just that the handling would not pay of for some companies if they sell less than 10 pieces for example...11 pieces would be ok, so you would not bundle it as an own product but only allow a minimum of 10 pieces for a certain product :-)

But [this link](https://www.salehoo.com/glossary/

[2017-06-14 10:15] JanisJanis opened #17606 "Dashboard responsive"
Impacted versions:
v10

Steps to reproduce:
1. for example CRM > My Pipeline
2. group by 2 fields (in example Stage > Country)
3. Graph view
4. Add to dashboard

Current behavior:
In dashboard it looks like
![image](https://user-images.githubusercontent.com/7612247/27125598-6c9395b0-50fd-11e7-921a-7441b3d5fa3e.png)

Expected behavior:
Would like in dashboard picture like this
![image](https://user

[2017-06-14 10:33] ed29 commented on #16324
As an ecommerce tool,these two function MOQ and Sell By Pack mentioned by @JKE-be will make odoo more complete,less pain for merchants,more popular,in my opinion.These two function's relationship is a little bit complicated for me,but,if you can make it,why no?

[2017-06-14 11:19] lukebranch commented on #16324
@ed29 ,

Regarding 'Sell by pack' this feature is already available out of the box with a bit of configuration, you just need to define a BoM (Bill of Materials) on a product, or product variant for example.

I believe it would be useful to have a Many2One on the variants for UoM for the variant.

I have used Odoo for B2B e-commerce projects before, and have always thought it might be useful to ha

[2017-06-14 11:27] Yenthe666 commented on #16114
Hi @RafNeff ,

Thank you for your report.
While this is the case in Odoo 9 it seems to work fine in V10.
@sle-odoo perhaps you can have a look at it or give feedback on this?

Regards,
Yenthe

[2017-06-14 11:31] Yenthe666 commented on #16094
Hi @gdgellatly,

Thank you for your report.
It is a fact that nothing happens when you follow your case.
@mart-e would you agree with the change? If this is the case I'll create a PR for it.

Regards,
Yenthe

[2017-06-14 11:42] Yenthe666 commented on #16730
Hi @Buffoon1989,

Thank you for your report.
Can you reproduce this on an official Odoo runbot (runbot.odoo.com) or on the latest source code?

Regards,
Yenthe

[2017-06-14 11:54] Yenthe666 commented on #16344
@ged-odoo any update on this one?

[2017-06-14 11:59] Yenthe666 commented on #16214
Hi @StephanRozendaal,

Thank you for your report.
The Github issue tracker however is only for bugs in the official code, it is not the place for asking questions.
I'd advise you to ask this question on the official Help forums (http://odoo.com/help) where plenty of people can help you!

Regards,
Yenthe

[2017-06-14 11:59] #16214 closed

[2017-06-14 12:03] Yenthe666 commented on #16056
Hi @tejastank,

Thank you for your report.
I can no longer reproduce this on the latest source code (neither on the latest runbots).
Can you please update your Odoo and try again?

Regards,
Yenthe

[2017-06-14 12:06] Yenthe666 commented on #15952
Hi @multiwebinc,

Thank you for your report.
I'm closing this one however as it is pretty much  a duplicate of your other topic (https://github.com/odoo/odoo/issues/16151) which has responses and the wishlist label.

Regards,
Yenthe

[2017-06-14 12:06] #15952 closed

[2017-06-14 12:13] Yenthe666 commented on #16458
Hi @yuntux,

Thank you for your report.
I've just tested this on the latest Odoo 9 (and FF 53) and I can confirm that this is a bug:
![image](https://user-images.githubusercontent.com/6352350/27131590-9b6567f2-510b-11e7-9db5-8e30734a7da6.png)
@jorenvo looks like one for you.

Regards,
Yenthe

[2017-06-14 12:24] ed29 commented on #16324
@lukebranch I am not much good at odoo yet,thank you for the info of Sell by pack,and,your comment hits my point.

[2017-06-14 12:33] BoubakerAB opened #17614 "[9.0]Thousand separator is not applied by website module odoo 9"
Impacted versions: [9.0]

Steps to reproduce:
Configure your language with decimal separator as ","
Once your language is configured, go into the shop and select an article. You'll see the price correctly with the comma

(Same comportment when adding to cart and trying to change the quantity. I suppose this is the same bug)
image

[[ Bugs ]]
in Website Ecommerce odoo with product price séperator i

[2017-06-14 12:35] Yenthe666 commented on #17614
Hi @OpenDevTN,

Thanks for your report.
I've edited your first comment so it shows the image right away (which is very handy for other people).
@JKE-be this looks like one for you to check though!

[2017-06-14 12:36] ged-odoo commented on #16344
@Yenthe666 @milan-acespritech well, I may have been assigned this, but I actually am not in the bug fix team. Maybe @nim-odoo will want to have a look on this. I am overloaded, and give higher priority to PR.

Note that this seems to be a problem with the filter itself, it looks like it tries to add the field time to the measure list, but there is not time field in the model.  I suspect that this

[2017-06-14 12:41] OpenDevTN commented on #17614
thank you @Yenthe666

[2017-06-14 13:37] eLBati opened #17618 "[10.0] adding one2many field to sale.order.line breaks onchange (partner_id) on sale.order"
**Impacted versions**:

10.0

**Steps to reproduce**:

 - With a custom module, add a one2many field to sale.order.line (you can use [sale_commission](https://github.com/hurrinico/commission/tree/5537392b4347b08801d41afc4167d38f2b1e9c98/sale_commission), OCA open PR https://github.com/OCA/commission/pull/117; see  ```agents```  field)
 - Create a new sale order, add a sale order line, add a record

[2017-06-14 14:12] JKE-be commented on #17614
@OpenDevTN Can you reproduce it on runbot ?

Because between the release of 9.0 and now, their are many patch about it !

Could you provide the code that you use to print this amount ?
t-esc ? t-field ? t-options ?

Thanks

[2017-06-14 16:07] ploegvde commented on #17292
Hi, In V10E you can also reconcile a invoice of customer A with a bankstatement of customer B. On the reconciliation you undo the partner selection and reconcile with another partner's invoice.

We use that a lot on customers where sub companies get all the invoices, but they get paid by a main company, what is another partner in Odoo.

We are happy that it is possible.

[2017-06-14 22:17] multiwebinc commented on #15952
@Yenthe666 You're right. I must have the memory of a goldfish if I can't even remember reporting this a week earlier.

[2017-06-15 05:21] peremartinezqubiq commented on #9404
Hi!

As far as I know, it has to been set as a new development, like it was in v8:
https://www.odoo.com/apps/modules/8.0/product_variant_sale_price/

I have the same problem and I think the best way to accomplish that is to upgrade the module.

You also have the analog module to put the cost price:
https://www.odoo.com/apps/modules/8.0/product_variant_cost_price/

Cheers!

Pere

[2017-06-15 07:18] OpenDevTN commented on #17614
thank you @JKE-be  for your reply
I do the same in runbot and it changes nothing
I want to remove the comma in the price in website
750,000.00 I want him to appear without a comma > ( 750 000)
look  picture in runboot Odoo V9

<img src="https://s18.postimg.org/fpoqk6sl5/image.png">
<img src="https://postimg.org/image/4u7veq1iz/">
Thanks

[2017-06-15 10:09] ndrini commented on #8134
parece sirva el modulo
https://www.odoo.com/apps/modules/8.0/tko_mail_smtp_per_user/

[2017-06-15 11:39] Yenthe666 commented on #15952
Haha no worries, it happens easily. ;)

[2017-06-15 12:37] eLBati commented on #17618
Please check how onchange builds o2m values of sub fields: in this case I see a list of tuples where the first one is ```(5)``` ("removes all records from the set") followed by ```(4, recordID)```.
Maybe this is the cause of ```Record does not exist or has been deleted```?
According to ```write``` documentation, both commands (4 and 5) are not allowed for One2many fields
cc @rco-odoo

[2017-06-15 12:42] Yajo commented on #9745
Those of you interested in this, there you have support for applying a different theme per website: https://github.com/OCA/website/pull/354. Also a little related fix for Odoo: https://github.com/odoo/odoo/pull/17635. Regards.

[2017-06-15 13:21] citronpower commented on #9463
If it could help anyone, i post it here.
You need to create a working time and add it to your work center.
Odoo will compute the planned end date with your working time and the duration of the work order.

PS: I'm using odoo 9.0

[2017-06-15 16:08] oerp-odoo opened #17645 "Can't access some view constructs like gantt, kanban etc."
**Impacted versions:**
10.0
**Steps to reproduce:**

[code]
**Current behavior:**
Output of that log is:

[code]
As you can see some views are undefined even though I see that they were registered there and should be accessible. if I `console.log(core.view_registry.map)`
It returns this:

[code]

As you can see every key has its construct. So how come some are undefined?..
My module has dependenci

[2017-06-15 17:40] gustavovalverde opened #17646 "[10.0] On Change of Fiscal Positions in the Invoice won't update invoice lines"
Impacted versions:
10.0

Steps to reproduce:
1. Create a Sales Order with 20 product lines
2. Assign a Fiscal Position (let's say **B2C**)
2. Confirm and receive the Products
3. Create the Draft Invoice so Accounting can validate it.
4. Accounting realizes that the Fiscal Position is wrongly assigned and changes it to **B2B**.

Current behavior:
The new assigned B2B fiscal position won't update th

[2017-06-15 17:41] gustavovalverde commented on #17646
Maybe @Yenthe666 @wtaferner you guys could give me your opinion on this. I'm almost sure this is the expected behavior.

[2017-06-15 17:43] spadae22 commented on #17646
@gustavovalverde There is a module for that, I cannot believe it not has been merged in odoo. https://github.com/OCA/account-invoicing/tree/10.0/account_invoice_fiscal_position_update

[2017-06-15 17:56] wtaferner commented on #17646
@gustavovalverde
Well, honestly, it is about usability here and as @spadae22 has shown there is even an OCA module which could be used in the meantime. The accountant normally should check for the taxes applied anyway and true, it might help the usability of Odoo core if the remapping is handled automatically.

But, in contrary of the sale order an invoice might have lines without a product assign

[2017-06-15 18:21] spadae22 commented on #17646
Well, you have to manually change this fiscal position on the invoice, but we have 20-50 items on an invoice and based upon local, we have 260 fiscal positions, so changing each line by hand, the accounting dept would shoot me :)

[2017-06-15 18:42] wtaferner commented on #17646
As said, it is something which should be triggered very explicitly instead of automatically without direct request. Changing the fiscal position and then clicking a button to trigger the invoice line update instead of triggering an onchange automatically is imho the right solution :-)

[2017-06-15 18:43] spadae22 commented on #17646
@wtaferner Agreed

[2017-06-15 20:20] #8134 closed

[2017-06-16 00:22] Naroh091 opened #17647 "[10.0] Odoo truncates the entered SMTP password when is longer than 64 chars"
**Impacted versions:**

v10, at least

**Steps to reproduce:**

This is only happening when using 3rd party mail servers that provide a very loooong password, like SendGrid. The issue is the same as #15702, reported by @cgaffney099.

The steps are simple: just try to establish a test connection with the username and password given by SendGrid.

The password gets stored in the DB using a char field

[2017-06-16 06:23] Yenthe666 commented on #17647
Hi @Naroh091,

Thank you for your report.
This has actually been fixed in the `master` Odoo version by me actually. (see https://github.com/odoo/odoo/pull/17269 and https://github.com/odoo/odoo/commit/c8d132f75119d809a1e729c31986002e64c7078d).
We can't change models and fields in a stable version so this is already handled.

Regards,
Yenthe

[2017-06-16 06:23] #17647 closed

[2017-06-16 07:17] CakJuice opened #17656 "Cannot added external javascript"
Impacted versions: 10 c

Steps to reproduce:
i want to add google maps api, then i create xml to added web.assets_backend
`<odoo>
	<data>
		<template id="my_assets_backend" name="my_maps_asset" inherit_id="web.assets_backend">
			<xpath expr="." position="inside">
				<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"/>
			</xpath>
		</template>
	</data>
</odoo>`

Cur

[2017-06-16 07:47] gdgellatly commented on #17646
@wtaferner @spadae22 @gustavovalverde Indeed I remember when we were reviewing that module in OCA we discussed this very point.  It is really no different to the update taxes requirement.

There are also framework reasons to not use an automatic onchange here as well (imagine some lines added, some deleted, some edited etc and not yet saved and the work required to get that all straight).

[2017-06-16 08:01] livewellvn commented on #17508
Hi @Yenthe666

You can check on:
http://237927-10-0-dc8b47.runbot10.odoo.com/web/login
database: 237927-10-0-dc8b47-all
user: admin
pw: admin

I don't think Wire Transfer provider needs special configuration, just setting a few messages.  I published it. Either 'Test' or 'Production' environment you get the same error.

[2017-06-16 08:50] oylyve opened #17657 "is:issue is:Closed"

[2017-06-16 08:50] #17657 closed

[2017-06-16 09:01] oylyve commented on #17657
Closed #17657

[2017-06-16 09:32] Troublicious commented on #16219
Thank you auyeung112002, it works perfectly =)

[2017-06-16 10:34] oerp-odoo opened #17661 "[10.0] opened form does not scroll to top when switching"
**Impacted versions:**
[10.0] Community
**Steps to reproduce:**
For example go to project tasks kanban view. There should be enough tasks stacked so you could scroll down to some tasks below. Then open open task that is at the bottom of kanban (meaning need to scroll down).

Also task opened must have enough content to also be able to scroll down to see some content. For example have some chatter

[2017-06-16 13:35] jar-odoo opened #17666 "In multi company invoice issue base on pos session."
Impacted versions:
10.0
Steps to reproduce:
step 1: Go to settings -> General settings -> Manage multiple companies (enable)
step 2: create a new company (e.g: test) on companies menu
step 3: create a new user with test company.
step 4: login with test user.
step 5: create a new pos session related test company.
step 6: open pos session and add some product , add customer after payment and select

[2017-06-16 13:42] JesusZapata opened #17667 "[BUG] Double validation on diferente tag/browser"
**Impacted versions:**
- 8.0
- 9.0
- 10.0

**Steps to reproduce:**
Go to one stock movement and duplicated the tag on the navigator.
In the firts tab we will validate the stock movement, and the another tab you can re-validate the same stock movement

**Current behavior:**
Double validation of the same stock movement

**Expected behavior:**
Block the possibility of validating the same stock moveme

[2017-06-16 13:57] Yenthe666 commented on #17667
Hi @JesusZapata,

Thank you for your report.
Are you talking about multiple browser tabs? As in you have browser tab 1 with stock movement 1 and browser tab 2 with stock movement 2?

[2017-06-16 14:05] JesusZapata commented on #17667
Hi @Yenthe666
We have this scenario:

Two people have the same stock movement in different browser, and the first person validated the stock movement, then the second person (have the button validate enable) press the button validate.

The action of the second person causes a bad inventory move

This example serves to understand the case?

[2017-06-16 14:21] Yenthe666 commented on #17666
@jorenvo perhaps another one for you? (cc @mart-e)

[2017-06-16 14:24] Yenthe666 commented on #17667
Hi @JesusZapata,

Yes it does, thank you for the additional information.
@mart-e I don't believe this is something on the roadmap to handle/fix, is it?

Regards,
Yenthe

[2017-06-16 14:36] InfernalLV opened #17669 "[10.0] searching m2m field results in a error if domain="[('x', '=', y)]""
I have extended crm.lead with a Many2many field with a domain straight in the field declaration.
[code]
If a user searches on this field an error with the stacktrace pasted below will be raised. The issue seems to be that the domain term isn't evaluated and is simply left as a string.

Unless i misunderstand the intent behind a domain defined one a model's field, i would argue that domains defined

[2017-06-16 14:39] InfernalLV commented on #17669
P.S.
I do understand a workaround would be to move the domain to the view definitions. But i find defining a domain in one location to be more powerful and would love to see this fixed.

[2017-06-16 16:34] yostashiro commented on #14889
@mlaitinen Thanks a lot for the detailed report.  I just came across this issue and created an Enterprise ticket for resolution.

[2017-06-16 18:03] legalsylvain opened #17671 "l10n_fr_certification : Only the last line of the account.move is used to compute hash"
Impacted versions:
9+

**Context:**
l10n_fr_certification is a module that ensures inaterability of accounting datas, once entries are posted. it is based on a hash of the datas present of account.move and account.move.line. the hash is stored, so if data are corrupted (by UI or by SQL request, the computed hash should change, to indicate that the data has been corrupted.

**Steps to reproduce:**

[2017-06-16 18:11] legalsylvain opened #17672 "l10n_fr_certification : Changing account code do not mark the accounting entries as corrupted"
Impacted versions:
9*

Steps to reproduce:
* Create an entry
* Post the entry
* update the code of an account used in this entry by SQL request. (ORM blocks this possiblity)

Current behavior:
* The computed hash didn't changed. The entry is not marked as corrupted.

Expected behavior:
* The computed should change. The entry should be marked as corrupted.

**Solution**:
This line https://github.co

[2017-06-17 00:38] invitu commented on #17503
I link @fhe-odoo and @fpodoo answers in the mailing list :
https://www.odoo.com/groups/community-59/community-28876213?mode=thread

[2017-06-17 15:49] janbec commented on #16627
Hi @yostashiro,

I had the same issue while testing. Then checked SaaS16 and it seems the issue has been solved there. So maybe you can get an idea on how to solve hits for v10.

Best,
Jan

[2017-06-17 18:38] flyingL123 opened #17680 "sass-14 does not support exec_workflow"
The Odoo API documentation says to use the `exec_workflow` method in order to execute methods on a particular instance of a model. I was attempting to do this and kept getting an error that `exec_workflow` is not an available method.

I can see in the code for sass-14 that this method is not listed:

https://github.com/odoo/odoo/blob/saas-14/odoo/service/model.py#L33

However, it is listed on the

[2017-06-18 10:56] sle-odoo commented on #16627
Hi,
We support to have untracked quants for tracked products in your stock. It's done to solve the following usecases:
- only set the lot number on delivery (traceability only at stock output) and handling the returns of these products
- decide to track a products after multiple receipts

Regards

[2017-06-18 10:56] #16627 closed

[2017-06-18 11:29] yostashiro commented on #16627
@sle-odoo

These sound to me like scenarios to create a mess in quants.  Thought it would be nice to at least make the described behavior optional.

@janbec

Thanks for your input, however I didn't get to witness the lot/serial enforcement in SaaS16 Runbot.  I might be missing something.

[2017-06-19 00:10] Vartkat opened #17684 "[10.0] [BUG] Expense from email"
Impacted versions:
10.0

Steps to reproduce:

Create an Expense product with taxe, account and internal ref.
Send an email to your special expense mail address using this internal ref.

Current behavior:

An expense is created but the Expense product is not completely recognized, account is not the account that has been setup in the Expense product nor the taxe.

Expected behavior:
A new expense i

[2017-06-19 05:16] tejastank commented on #16056
@Yenthe666 Their are major bugs you failed to produce, let official guys to check.

@Yenthe666 big thanks for your bad support and force to close / hide bugs in odoo.

[2017-06-19 05:27] tejastank commented on #15576
I detected in latest too,

@Yenthe666 thank for close without fix it. as odoo some benifit for close it.

Reported bugs never responsed in few week or day. but your kind of exta package do this dirty job.

Its better @Yenthe666 you ask to odoo why they not quick repsonse to community, community biggest give success to born tiny to openerp and to odoo.

[2017-06-19 05:32] tejastank commented on #10398
@Yenthe666 you had potential chance to detect this, as useless you close all bugs without facing it.
I think in case you not face this, sure you close this too.

Odoo &  @Yenthe666  jointly had bad response to community or users.

[2017-06-19 05:35] tejastank commented on #16225
I detected in latest too,

@Yenthe666 thank for close without fix it. as odoo some benifit for close it.

Reported bugs never responsed in few week or day. but your kind of exta package do this dirty job.

Its better @Yenthe666 you ask to odoo why they not quick repsonse to community, community biggest give success to born tiny to openerp and to odoo.

[2017-06-19 06:15] Yenthe666 commented on #15576
Hi @tejastank,

Can you make a video on the latest Odoo runbot which shows this bug? I'm happy to reopen it if you can reprocude it or explain me into more detail about how to reproduce this.

Regards,
Yenthe

[2017-06-19 06:17] Yenthe666 commented on #16056
@tejastank,

I haven't even closed your report.. I'm simply asking you for more feedback on how to reproduce this bug so I can confirm it and ask somebody to look into it.
Please make a video on the latest runbot so I can reproduce this?

Regards,
Yenthe

[2017-06-19 07:04] tejastank commented on #16056
@Yenthe666 after many month in case you can't detect its useless, In case a odoo not response to customer / community in 2/3 weeks and world get suffered.

please quite it without feedback. @erpnnext is also good product compare to odoo.

So stop flattery of odoo and its bugs, leave in case you don't face anything which people reported.

I suggest your(@Yenthe666 ) kind of falletery to immidate ch

[2017-06-19 07:04] tejastank commented on #15576
@Yenthe666 after many month in case you can't detect its useless, In case a odoo not response to customer / community in 2/3 weeks and world get suffered.

please quite it without feedback. @erpnnext is also good product compare to odoo.

So stop flattery of odoo and its bugs, leave in case you don't face anything which people reported.

I suggest your(@Yenthe666 ) kind of falletery to immidate ch

[2017-06-19 07:26] hardidarjoto commented on #14126
Yes, I have the same problem.
If the BoM / MO not using routing, the behavior is OK. Problem occurs when using routing.

[2017-06-19 08:41] OpenDevTN commented on #17614
There is no solution to this problem @Yenthe666 @JKE-be

Thank all

[2017-06-19 08:51] JKE-be commented on #17614
Hi @OpenDevTN

I don't see the problem.
Go to language setting, set that you want a ' <space>' as thousand separator, and that works out of the box.

The only specific case that is if you don't want anything, you need to set an empty char (eg: &#x200b;) because by default, we use a comma if no symbol is given !

[2017-06-19 08:51] #17614 closed

[2017-06-19 08:55] JKE-be commented on #17680
Hello,

If you blame this line, you can see that it is not a bug. (https://github.com/odoo/odoo/commit/98cb4719dbe90dbe980be4ad98f22fe155c2dae1)
Workflow has been dropped.

Best regards

[2017-06-19 08:55] #17680 closed

[2017-06-19 08:58] JKE-be commented on #17667
@sle-odoo

Probably a check in valid method to add ?

if state not already in 'done'

[2017-06-19 09:08] JKE-be commented on #17572
"there is no version called 8.0-98bd673"
This name means: version 8 with last commit 98bd673 (https://github.com/odoo/odoo/commit/98bd673)
So if you checkout this ref, you will be exactly with the same code that before the backup.

Anyway one backup of v8 version (!= 8.~saas-xxx) should be compatible for all v8 refs.

Since this tracker is for issue in Odoo Code, I invit you to follow this discuss

[2017-06-19 09:08] #17572 closed

[2017-06-19 09:33] JKE-be commented on #17656
Yes, it seems that this feature has disappeared during the last refactoring of the assets.

So, we will probably not patch it in v10 because it  is is not really a bug but a feature, and that a workaround exists, I invit you to add your file outside the asset.

@Gorash: any idea why it has been dropped ?

[2017-06-19 09:33] #17656 closed

[2017-06-19 09:52] Gorash commented on #17656
Everything in the bundle is compiled into a single file (by type: css, js ...). External APIs should not be included in the compiled JavaScript file. A change can be made to insert the script before the compiled file. I can not remember whether this change was intended or not.
Nb: some particular behaviors could be modified and worked before by chance of implementation

[2017-06-19 09:59] mart-e commented on #16056
@tejastank being aggressive never helps your case.

Yenthe asked you information to be able to reproduce your issue (what lacks in many of the issues you have reported). Maybe it was already fixed in a recent version. We can only know that if we are fully aware on how to reproduce the bug. You can always check on the runbot ([community](http://runbot.odoo.com/runbot/) or [enterprise](http://runbot

[2017-06-19 09:59] #16056 closed

[2017-06-19 10:01] JKE-be commented on #17656
@Gorash
Thanks for your reply.
We are agree that it should be not included in the 'single file'.
In the past we have a special behaviour (for absolute url: start with 'http') where we add all external files after.

[code]

@CakJuice
But as specify in previous answer, there are a work around and It not really a bug.
So I fwd it to the feedback team to keep a track and maybe add this behavior in a f

[2017-06-19 10:03] fclementic2c commented on #17671
good catch @legalsylvain

[2017-06-19 10:17] odoouser2 commented on #15917
I too have the same error, any update on this issue?

[2017-06-19 11:08] nim-odoo commented on #17618
@ged-odoo @aab-odoo Can you confirm if this is supported for v10? Or is it a known limitation?

[2017-06-19 11:20] nim-odoo commented on #17661
@ged-odoo to me, a minor problem that can be handled in the upcoming v11.

[2017-06-19 11:27] mart-e commented on #17667
The concurrent updates of the same record are currently not supported. We can try to improve it on case by case but this is not something we have plan to support on a global level.

[2017-06-19 11:31] gdgellatly commented on #17618
@eLBati  I've had problems for years with the behaviour of nested one2many's.  Each version, different issues, although I recall this one in previous versions, however we had the command resolve2many in the past which mitigated it..

The root issue as far as I can recall is that regardless of what the original line was you get a record with new ID for one2many when the record/s is/are loaded (i.e.

[2017-06-19 11:48] sle-odoo commented on #16627
@jco-odoo what's your opinion about this?

[2017-06-19 11:50] ged-odoo commented on #17618
@nim-odoo not 100% sure of the problem, but nested one2manys are supposed to work in v10 and this definitely look like a bug. If it worked in v9.0, the likely suspect is the onchange refactoring between v9 and v10.

Howerver, note that nested x2manys are definitely the most complicated part of Odoo.  There are so many slightly different situations that can arise, and with many potential subtle (or

[2017-06-19 12:22] mart-e commented on #15869
But you do have file. The server logs something like

[code]

[2017-06-19 12:29] janbec commented on #16627
@yostashiro Sorry, you didn't miss anything. I was to quick with my testing..Behavior is like you described. With a unique serial number product, you can create stock for that product without entering a serial number (Runbot SaaS16).

In our case scenario, we don't want to look at serial numbers during inventory count. We are only checking if theoretical qty = real qty. Considering that you only g

[2017-06-19 12:37] jco-odoo commented on #16627
I think we have the correct behaviour right now.  That way, an inventory adjustment can correct anything.  The case of @janbec is more specific.

[2017-06-19 13:32] BoubakerAB commented on #17614
thank @JKE-be
No problem the web interface it perfectly
but in website shop the price not true

[2017-06-19 13:52] JKE-be commented on #17614
Are you sur to set a space and not nothing ?

And yes, it works on ecommece also !

[2017-06-19 15:04] Yenthe666 commented on #15869
Martin made a minor improvement for this at https://github.com/odoo/odoo/commit/3553c555e03a6828a1d58b5ef7096e747e5b7f72 so this can be closed now.

Regards,
Yenthe

[2017-06-19 15:04] #15869 closed

[2017-06-19 15:31] flyingL123 commented on #17680
Then what is the appropriate way to call a method on a specific instance of a model via the XML RPC api? For instance, if I want to call the `run` method on server action with ID 123, how do I do that?

[2017-06-19 16:25] hardidarjoto commented on #14126
After discussion with ID community, the solution is to fill manually qty Produced (as stated in BOM) in tab Finished Product in MO, before clik "Mark Done".

But still don't know, whether this is the expected behavior, or just work around.

[2017-06-19 17:00] AntMoreno opened #17702 "[10.0][9.0][8.0][BUG] Problem with mrp_byproduct and traceability of lots/serial numbers"
Impacted versions: v10, v9, v8

Steps to reproduce:

1.- Install mrp_byproduct by enabling "Produce several products from one manufacturing order" under Settings -> Manufacturing
2.- Enable "Track lots or serial numbers" under Settings --> Warehouse
3.- Create three products, A, B and C, and enable "Full Lots Traceability" (for v8) or "Tracking: by lots" (for v9 or v10) for all of them.
4.- Create

[2017-06-19 18:07] gustavovalverde commented on #10538
Just adding another reported issue for tacking and maybe future closing with a single PR:
https://github.com/odoo/odoo/issues/17547

[2017-06-19 18:55] hugho-ad commented on #15254
Hi @JKE-be

This issue still persists in
https://github.com/odoo/odoo/blob/10.0/addons/website_portal_sale/controllers/main.py#L150

[2017-06-19 18:58] matt454357 opened #17703 "[10.0e] TaxCloud module prevents validation of invoices with negative lines"
**Impacted versions:** 10.0e (TaxCloud module)

**Steps to reproduce:**
1. Configure TaxCloud
1. Create a sales order with appropriate fiscal position
1. Click create invoice
1. Choose Down Payment (fixed amount) and specify some fraction of the total
1. Validate the invoice
1. Go back to the sales order and deliver the product
1. Go back to the sales order and click create invoice again
1. Choose

[2017-06-19 19:43] gustavovalverde opened #17704 "[10.0] Can't change Phone and User in PosTicket"
Impacted versions:
10.0

Steps to reproduce:
1. Inherit PosTicket with `t-extend`
2.  Change the whole ticket part-by-part with `t-jquery` (so other modules can inherit the original PosTicket and my changes won't mess with that).

Current behavior:
![image](https://user-images.githubusercontent.com/16890942/27302522-5db9998e-5505-11e7-80ae-b0c5edee1564.png)
Just as this image shows `Phone:` and `U

[2017-06-19 19:48] JesusZapata commented on #17667
@mart-e
I made on video with this behaviour https://youtu.be/5DaEdImiaB0
Just for a better explanation
This issue is only related with `stock.picking` the double validation cause a bad movement inventory

I causes a change of status not allowed in `stock.picking` change status from `Done to Draft`

![image](https://user-images.githubusercontent.com/1387970/27302679-11541af0-5506-11e7-83bd-4221202e

[2017-06-19 22:17] gdgellatly commented on #17618
@ged-odoo Wow that is great news.  I think I might just focus on other areas until v11 hits.  Because you are right, it just constantly feels like one fix breaks something else, every version has its own cases and you end up pinned to certain revisions feeling like you are doing something that isn't really supported, but absolutely necessary.

[2017-06-20 00:12] dhannyz commented on #17374
@nle-odoo I've had you respond on another issue, can i get you to look at this?

[2017-06-20 00:43] fashkl commented on #9487
if use wkhtmltopdf version 0.12.1 try to change it to any updated version such 0.12.4. that will work well.
this to how to install wkhtmltopdf-0.12.4 https://www.tecmint.com/wkhtmltopdf-convert-website-html-page-to-pdf-linux/
enjoy :)

[2017-06-20 00:44] fashkl commented on #4806
if use wkhtmltopdf version 0.12.1 or earlier try to change it to any updated version such 0.12.4. that will work well.
this to how to install it in Linux wkhtmltopdf-0.12.4 https://www.tecmint.com/wkhtmltopdf-convert-website-html-page-to-pdf-linux/
enjoy :)

[2017-06-20 00:54] dhannyz opened #17707 "[10.0 + 10.0e] Landed costs producing negative value quants which later breaks inventory adjustments"
The landed costs button_validate() method attempts to create a correction in quant cost that occurs due to currency rounding. However this can lead to a negative cost value being assigned to a stock.quant

The issue affects move lines with a very low price to quantity ratio. ie 1000 x $0.10
Applying a landed cost of $456.70 to this line gives a diff of $0.4567
Having a 2 decimal rounding on the cu

[2017-06-20 04:36] CakJuice commented on #17656
@JKE-be @Gorash thanks for your explanation.

[2017-06-20 04:46] taxcloud commented on #17703
Our returns API is a forward-looking context, meaning the fact you are calling Returned means all amounts are inferred to be negative relative to the original purchase price. Subtracting 10 dollars would result in raising the original purchase price by 10 dollars.

Word of caution: when using the Returned API, if you supply the ItemPrice (for line item returns), make sure the ItemQty is 1. Convers

[2017-06-20 05:15] BoubakerAB commented on #17614
Thank @JKE-be
The problem has been resolved
I put a SPACE in thousand separator
Example :  20000 > 20 000
If field thousand separator   left blank, this appears 20,000

the solution
<img src="http://www.zupimages.net/up/17/25/mnn1.png">

[2017-06-20 07:00] JKE-be commented on #17614
Hello,

Glad to hear that ;)

As specified in my previous answer:

It is not a bug, but the expected behavior.

[2017-06-20 08:13] thomas15v commented on #2693
Can confirm that this is not resolved in V10, been struggling with this for while.

[2017-06-20 08:21] #15254 closed

[2017-06-20 08:28] JKE-be commented on #17680
`models.execute_kw(db, uid, password, 'model', 'method', [<params>], {<context>})`

should work...

More infos here: https://www.odoo.com/documentation/10.0/api_integration.html

This tracker is for issue in Odoo only, if you need help please uses forum.odoo.com

[2017-06-20 09:05] ksiadz opened #17719 "summernote.js has an bug"
Impacted versions: 10.0

Steps to reproduce:

Current behavior: when users try to make two new lines it doesn't work (using soft enter, shit+enter) only strong enter allowed

Expected behavior: creating two new lines

Video/Screenshot link (optional):
![19369139_1363616163707585_33962016_o](https://user-images.githubusercontent.com/20033156/27325300-46d6e494-55a8-11e7-810d-68783ef6bbd3.png)

[2017-06-20 09:47] sum1201 opened #17720 "[bug]filter date error"
Impacted versions:
9.0,
Steps to reproduce:
[code]
Current behavior:
i filter  this_month ,and i filter last_month , server return only  last_month data.

Expected behavior:
this is a bug ?
Video/Screenshot link (optional):

[2017-06-20 13:50] osluys opened #17724 "[10.0] Removing saved child record after adding duplicate still shows constraint warning"
Impacted versions:
10.0

Steps to reproduce:
[code]
[code]

1. Using the form view, create a new parent record
2. Add the following records to the subtree

`id` | `other_id` | `quantity`
--|--|--
`1` | "Other 1" | 3
`2` | "Other 2" | 12

3. Save the form (child records are now saved to database)
4. Edit the form again
5. Add the following record to the subtree

`id` | `other_id` | `quantity`
--|--

[2017-06-20 13:56] taxcloud commented on #17703
Upon further review of this ticket, I misunderstood the fact pattern. This not a return, but a partial payment. Terms of payment are not tax-related, and should not be sent to TaxCloud.

Reducing the balance due is a ledger balance activity, not a term of sale event (meaning, it does not change the Sales Price of the item(s) being purchased.

I apologize if my previous comment caused and confusion

[2017-06-20 14:53] RafNeff commented on #16114
unfortunatelly my Company has no plans to switch to Odoo10. Is there any workaround or a known html-to-pdf-converter which is not based on wkhtmltopdf?

[2017-06-20 15:13] flotho opened #17725 "[10.0][Ent]Db Filter and report.url make followup report don't use the css [ISSUE 748346]"
Impacted versions:
v10.0 ent

Steps to reproduce:
Start an instance with db filter really simple with the name of a db for example.
Set up report.url

Current behavior:
* Invoice, Sale.order are printing correct PDF
* Account followup don't work correctly

Expected behavior:
* Account follow up work like other reports

[2017-06-20 16:23] silviofdez opened #17726 "[bug][10.0] Gevent and Longpolling not starting in non-posix environment (resource module not found)"
Impacted versions:
All versions from 20170505

Steps to reproduce:
If you try to run gevent in a non posix environment, it fails, i.e.
[code]

Current behavior:
The command fails indicating that:
[code]
Expected behavior:
Just start the service.

Detailed description:
It comes from commit 831a2a00e35bde8e47a1678b3156148381414392
It assumes that `resource` module is always loaded, but it is only av

[2017-06-20 17:03] randyraharjo93 commented on #14371
I am definitely agree with this, Discount should always be counted before taxes. So that the taxes will be reduced also. No one updating this?

[2017-06-20 22:54] obulkin opened #17727 "website_sale: Strikethrough pricing not showing in v10"
**Impacted versions:** 10.0

**Steps to reproduce:** Here are the steps for reproducing this issue in an Odoo v10 Runbot instance with all modules installed:
1. Go to ``Sales >> Settings``
2. Under ``Pricing``, select advanced pricing and apply the changes
3. Go to ``Website >> Shop``
4. Search for ``ipad``
5. Open the product page for the ``iPad Retina Display`` product
6. The ``website_public_pr

[2017-06-21 00:49] sum1201 commented on #17720
**this_month   sql code:**
[code]
**last_month sql code:**
[code]

**this_month or last_month sql code:**
[code]

**compare the above sql code ,find  the location of 'or' is not right**

[2017-06-21 01:21] sum1201 opened #17729 "[bug]filter domain multi value ,result is error"
Impacted versions:
9.0,10.0
Steps to reproduce:
I click customer ,after I click vendor ,the result only about vendor
I click vendor, after I click customer ,the result only about customer

Current behavior:
I click customer, the sql code:
`SELECT count(1) FROM "res_partner" WHERE ((("res_partner"."active" = true)  AND  ("res_partner"."customer" = true))  AND  "res_partner"."parent_id" IS NULL )`

[2017-06-21 01:49] llcai commented on #17729
big bug

[2017-06-21 02:06] GoodERPJeff commented on #17729
I confirm this happen in my instance. there are many cases in odoo when user expect both, but get only the last filter result in same separator.

issue may related to filters that contain more than one fields in the domain expression, the OR operator been insert at wrong place.

[2017-06-21 02:17] feitas commented on #17729
need fix this ASAP

[2017-06-21 02:18] yanggg1133 commented on #17729
mark

[2017-06-21 02:40] sum1201 commented on #17320
this is ok !

[2017-06-21 02:40] #17320 closed

[2017-06-21 03:10] joseponzo commented on #7028
+10 Needed

[2017-06-21 06:53] Yenthe666 commented on #17729
@mart-e can you check this?

[2017-06-21 07:43] Yenthe666 commented on #14126
@jco-odoo could you say if this is expected behavior?

[2017-06-21 08:19] Yenthe666 commented on #17704
Hi @gustavovalverde,

Thank you for your report.
I actually faced this problem a while ago too.
On a sidenote, which is somewhat related: you also can't use CSS on this report and neither can you do `left-align` for example. CC @vincentadriaensen

[2017-06-21 08:54] jco-odoo commented on #14126
Of course, you can still change it on the MO, but the goal was at least to set it after the last WO. (we were even thinking about doing it WO specific)

[2017-06-21 10:55] JanisJanis commented on #17606
Are there any news about this?

[2017-06-21 11:19] Yenthe666 commented on #17707
@qdp-odoo probably for you.

[2017-06-21 13:02] quantentunnels commented on #17002
Since Debian 9 aka Stretch is officially out, this should definitely be fixed.

[2017-06-21 13:23] mrzingo opened #17747 "Extra Move is created and duplicate the stock quants in packet drop"
Impacted versions: 8

Steps to reproduce:
Try to transfer the picking in a bad connection with packet drop.

Current behavior:
Duplicated stock move lines in the picking (Extra move) is created and doubling the quants transfer to the customer location.
Expected behavior:
Stock moves is transferred to the customer location without any extra moves (duplicates).

Video/Screenshot link (optional):

[2017-06-21 13:40] StefanRijnhart commented on #7163
Thanks for the patch! I would be interested to know why this is the intended behaviour.

[2017-06-21 14:17] tivisse commented on #17703
@taxcloud Thanks for the feedback.

We won't include negative lines when making calls to taxcloud.

[2017-06-21 15:04] maitaoriana opened #17749 "File name missing in attachment"
Impacted versions:
saas-16, master

Steps to reproduce:
1. Create attachment
2. Add file
3. Save attachment

Current behavior:
File without name
![test odoo 1](https://user-images.githubusercontent.com/17258001/27390806-40973cd2-5670-11e7-86dd-6cc835d2ea23.png)
Expected behavior:
File with name
![test odoo](https://user-images.githubusercontent.com/17258001/27390662-d4c29c54-566f-11e7-9d90-264ef2b

[2017-06-21 16:29] #16458 closed

[2017-06-21 19:59] Yenthe666 commented on #16458
Thank you @jorenvo !

[2017-06-21 20:52] meatballcoder commented on #9201
@aulsai I am using Docker, and this fixed mine, and it fixed an issue I was having with reports and a ValueError, Singleton Expected error.  After I did the select statement, I did delete from.  I then had to stop my docker container and start it back up.

[2017-06-21 20:58] meatballcoder opened #17751 "Possible bug in Docker container - When changing reports, an error is raised, ValueError: Expected singleton: ir.actions.report.xml(300, 334)"
I am using Docker.

I duplicated a report and got the error below.  I was able to fix it with,

https://github.com/odoo/odoo/issues/9201

Impacted versions: 10 Stable

Steps to reproduce:

Log in in debug mode.  Go to Settings and Reports.  Create a backup of a report via duplicate.  Go back to report that was working.  Get error below:
[code]
Current behavior:

Error above.

Expected behavior:

R

[2017-06-21 22:35] EBII opened #17752 "Can\'t compare DateTime and bool"
Impacted versions: 10.0

Steps to reproduce: import date with xmlrpc

Current behavior:  TypeError: Can't compare DateTime and bool
TypeError: Can't compare DateTime and bool

File "/workspace/parts/odoo/odoo/fields.py", line 774, in convert_to_column
    if value is None or value == False:

Expected behavior: no error

Video/Screenshot link (optional):

needs to inverse test
test isinstance befor

[2017-06-21 23:37] dhannyz commented on #17618
I'm also extremely happy to hear about the refactoring of the JS code that's on its way. Just like @gdgellatly I've been struggling with issues related to this kind of x2many nesting for some time.
Hopefully the refactoring might also move to solve other issues, like the behaviour of dynamic domains (Especially in tree views where returning a domain from an onchange is completely broken)?

[2017-06-21 23:44] dhannyz commented on #17374
@Yenthe666 Just giving this a bump as you might know who might best be able to handle mail related issues. This one at the least is semi-important

[2017-06-21 23:47] deyvsonaguiar commented on #16463
See this tutorial for fix your issue:

https://www.odoo.com/forum/help-1/question/what-does-this-error-mean-on-odoo-could-not-execute-command-lessc-60439

[2017-06-22 06:41] lmignon commented on #17618
@ged-odoo @eLBati IMO a bug still exists into the python code, more precisely into the `convert_to_onchange` method defined on  `class _RelationalMulti` https://github.com/odoo/odoo/pull/15566/files#diff-c1b8488f841717177876eb16877596af.... I've proposed a PR to solve this kind of error and it's successfully used in production for months..
https://github.com/odoo/odoo/pull/15566/

[2017-06-22 06:58] mart-e commented on #17729
Hello,

A bit more information will be needed here.  Actually finishing uploading the screenshot would have helped 😉
Which screen ? Which operation ? I tested on both 9 and 10 and I got an `or`.

[2017-06-22 09:11] qdp-odoo commented on #17707
@nim-odoo I think this is related to one of your many fixes

[2017-06-22 10:05] mart-e commented on #17752
Hello,

Thanks for the report but it looks like the issue is with your rpc call, not odoo.
We expect string, not datetime.

[2017-06-22 10:05] #17752 closed

[2017-06-22 10:53] nim-odoo commented on #17707
@qdp-odoo indeed

[2017-06-22 12:59] johnsh opened #17762 "The shopping cart redirect user to homepage without finish the process"
Impacted versions: 9.0c

Steps to reproduce: This is the problem, sometimes happend

Current behavior: When i try to make a sale through the website sometimes the shopping cart redirect the users to homepage.

When the var request.session.get('sale_order_id')  is False  the  problem ocurrs but i have some products in the cart.

Expected behavior:  Finish all the sale without problems

Video/Screen

[2017-06-22 13:40] tejastank commented on #16056
@mart-e, It seems you too much aggressive.

Its nothing thier more module or anything else.
Just official code only.

If their any new module, I additional their, I sure feed.

It's issue we face that we reported, in case odoo guys had now nagative vision for community than you can avoid it.

[2017-06-22 13:41] ged-odoo commented on #17749
this is definitely a bug in the new views.

[2017-06-22 13:47] mart-e commented on #16056
@tejastank if you give me exact steps on how to reproduce the problem, then we can reopen and confirm the bug. Use the [runbot](http://runbot.odoo.com/runbot/repo/git-github-com-odoo-enterprise-7), make screenshots, a youtube video or whatever but we need to be able to reproduce ourself the issue.

[2017-06-22 14:01] mart-e commented on #17762
Hello,

Thank you for the report but with this is not enough information to allow us to work on that.
Please let us know if you find more info when it happens.

[2017-06-22 14:28] qdp-odoo commented on #17185
fix landed on revision https://github.com/odoo/odoo/commit/d6751e5b6ae9cfdcc9ce46ec89106c5d27281ca2

Nice work @Yenthe666 :-)

[2017-06-22 14:28] #17185 closed

[2017-06-22 14:35] #17751 closed

[2017-06-22 15:25] meatballcoder commented on #17751
Why was this closed?

[2017-06-22 17:37] meatballcoder commented on #17751
I am asking why it was closed.  The issue is outstanding, so I didn't understand.  Sorry.

[2017-06-22 17:39] pedrobaeza commented on #17751
No if you update your source.

[2017-06-22 17:42] meatballcoder commented on #17751
I do not understand.

[2017-06-22 17:45] pedrobaeza commented on #17751
The problem is solved. Update your code.

[2017-06-22 17:46] meatballcoder commented on #17751
Oh!  I see now.  Sorry for my ignorance.  Thanks for the fix.

[2017-06-22 19:18] Yenthe666 commented on #17185
Thank you! The idea / credit goes to @MouTio though. 😉
Thanks for handeling the report so fast!

[2017-06-22 19:24] HairBear22 commented on #3624
So what's the status of this? Did it ever get implemented? I'm looking for the same functionality.

[2017-06-22 21:25] Swerone opened #17776 "Price Accuracy fields missing when creating new currency"
Impacted versions:
**Latest today 10 (please write where i can find the specific version number)**

Steps to reproduce:
****Try to add a new currency**

**Invoicing -> Edit Company Data -> "Activate **here** a new currency before creating a new company. " -> Create**

Current behavior:

****The following fields are invalid:**
**- Symbol****

Expected behavior:
**I guess there should be a symbol fi

[2017-06-22 23:22] mileo opened #17778 "Multiple localizations running in the same database"
I would like to discuss whether Odoo SA has any planning related to the matter.

@dreispt @aricaldeira @rvalyi

[2017-06-23 04:34] #14486 closed

[2017-06-23 07:21] mart-e commented on #17751
Thanks, fixed at https://github.com/odoo/odoo/commit/71d3b1469118cc5d1045501125bed3ee26177c40

[2017-06-23 08:25] fclementic2c opened #17786 "Need a dedicated menus for journal entries locking dates"
Impacted versions: 9,10 and master

Steps to reproduce:
install account_accountant module + connect with adviser access rights.

Current behavior:
As an accountant, I want to block journal entries modifications but I do not want to have access to Accounting / configuration / settings

Expected behavior:
We need dedicated menus for such regular accounting process (one for accountant and one for adv

[2017-06-23 08:36] argorain opened #17787 "[10.0] Google Calendar Sync not working"
Impacted versions: 10.0 nightly

Steps to reproduce: On fresh installation, install Calendar app, enable Google Sync, according tutorial create Google API app and use its secret and ID. When user tries to add calendar, it fails at callback after authorizing access to google calendar.

Current behavior: Internal Server Error shows up

Expected behavior: Calendar Sync

Video/Screenshot link (optiona

[2017-06-23 09:04] tandrieuxx commented on #16768
I tried to call a standard report, same problem.

[code]

Then I tried to set the `report.url` system parameter to `http://127.0.0.0:8069` then `http://127.0.0.1:8069` (which seems more logical), both don't change anything.

I'm not missing Wkhtmltopdf since reports are working perfectly when I use the print menu.

[2017-06-23 09:29] gdgellatly commented on #16768
Ah. Sometimes I find the report url isn't localhost. At least not for me.
Proxies or docker etc or if using a dbfilter and running multiple databases
you can get an auth fail on the path. Personally what I do is put aĺl my
database names as aliases to localhost in /etc/hosts then use that as the
report url e.g. http://mydb:8069 . There are automated tools to do it but
try manually first.

On Fri,

[2017-06-23 10:56] NeoPolus commented on #16150
Same happens to me. If I don't use any of the "Show" options, I can see a lot of entries, but as soon as I click on Customers/Vendors/All the list is empty.

[2017-06-23 11:04] sum1201 commented on #17729
i in  partner screen.

if  filter's domain only have a  condition ,it is correct .
if filter's domain have a more condition, it is not a correct.
e.g in  base/res/res_partner_view.xml  line 332:
` <filter string="Customers" name="customer" domain="[('customer','=',1), ('parent_id', '=', False)]"/>
   <filter string="Vendors" name="supplier" domain="[('supplier','=',1), ('parent_id', '=', False)]"/

[2017-06-23 12:38] tivisse commented on #17703
Fixed by https://github.com/odoo/enterprise/commit/0541317c5372bff1934507bb0d3f64bec0620e6d

[2017-06-23 12:39] #17703 closed

[2017-06-23 12:39] mart-e commented on #17729
Ok thanks for the info. Your code is acutally outdated, already fixed at b2d66d0c1468b9d321d9ffa5782e370e92525a43
Just update your code.

When you report a bug, please make sure to test it on the latest version of Odoo. You can always use the [runbot](http://runbot.odoo.com/) to quickly get an instance with the latest code.

[2017-06-23 12:39] #17729 closed

[2017-06-23 12:51] BzMB opened #17795 "[10e] Accounting Online Synchronization - Yodlee connection error 400"
Impacted versions:
Odoo 10 enterprise

Steps to reproduce:
Accounting >> Bank >> Online Synchronization >> Add a new bank to the System

Current behaviour:
Insert the first 3 character of your bank
HSB
(looking for the bank HSBC)

The system show the following error:
[code]

Expected behaviour:
Insert the first 3 character of your bank
HSB
(looking for the bank HSBC)

The system should return a li

[2017-06-23 13:07] mart-e commented on #3624
Hello,

Implemented that at 4a3699bea98
Thanks

[2017-06-23 13:07] #3624 closed

[2017-06-23 15:50] odony opened #17800 "*reserved*"

[2017-06-23 15:50] #17800 closed

[2017-06-23 18:13] edsersolis opened #17802 "[11.0] CRM doesn't take into account pricelist currency"
Impacted versions: v10, v11

Steps to reproduce:
- Set a currency for your company.
- Set the public pricelist in a differente currency.

Current behavior:
- CRM currency is set as the company's currency, not the pricelist.

Expected behavior:
- Be able to set the currency for the CRM according to a pricelist or directly to the pipeline. This because you may have to make your statements in a curre

[2017-06-23 18:16] edsersolis commented on #16940
See: https://github.com/OCA/purchase-workflow/tree/10.0/purchase_allowed_product

[2017-06-23 18:50] Vartkat commented on #16768
I’m quite in the same situation, running Odoo 10 on Ubuntu 16 and I tried many things but as @tandrieuxx I have a wonderful HTML but styles  (in my case fonts) are not rendered in the pdf.

I’m building a custom module just to customize the invoices or sale orders.

So far I tried :
- adding report.url http://127.0.0.1:8069/ <http://127.0.0.1:8069/> or http://0.0.0.0:8069/ <http://0.0.0.0:8069/> t

[2017-06-23 19:45] Vartkat commented on #17185
@Yenthe666. I’ve copy/pasted your modification in a 10.0. It works so you can do it on 10 also.

Thanks you very much.

V.

[2017-06-24 00:01] awwea opened #17803 "XML Errors After Fix"
Impacted versions: 10

Steps to reproduce: #

Current behavior: #

Expected behavior: #

Video/Screenshot link (optional):

=============================
After this fix
https://github.com/odoo/odoo/commit/92be0df468c3f467e078be18a13ab1cf5215f376?diff=unified
threw XML errors in purchase & product_extended module.
File views/product_views.xml in stock module -if commented out lines 397 - 410, every

[2017-06-24 06:57] invitu opened #17810 "[10.0] in pos_restaurant, Split Bill does not take order line price"
Impacted versions: tested today on runbot 10.0c

Steps to reproduce:
Install pos_restaurant module
Go to POS and add product "miscellaneous" : quantity = 2 and change price = 20$ (instead of 18$)
Go to Bill Splitting and add an orderline to be paid

Current behavior:
payment is 18$

Expected behavior:
payment should be 20$

[2017-06-24 08:51] sum1201 opened #17812 "[bug]filter domain multi condition ,result is error from #17729"
Impacted versions:
9.0,10
Steps to reproduce:

Current behavior:
https://github.com/odoo/odoo/issues/17729
@mart-e
Are you sure this bug is fixed ?

@Yenthe666
I test in runbot.odoo.com.
I track function   eval_domains  in pyeval.js:
In partner screen
**1. I filtered by Customer , eval_domains return result is :**
![qq20170624-163123](https://user-images.githubusercontent.com/5398273/27507082-a7bb

[2017-06-24 09:14] #17720 closed

[2017-06-24 12:08] ajeetyv commented on #14097
I facing same issue on menu click-

Uncaught TypeError: Cannot read property 'controller' of null
http://192.168.126.9:8069/web/content/424-e404813/web.assets_backend.js:1625
Traceback:
TypeError: Cannot read property 'controller' of null
    at Class.get_scrollTop (http://192.168.126.9:8069/web/content/424-e404813/web.assets_backend.js:1625:793)
    at Class.<anonymous> (http://192.168.126.9:8069

[2017-06-24 15:05] gustavovalverde commented on #15071
I've been experiencing this, as every validated invoice is using yesterday's rate instead of today's rate.

The fix for current stable seems easy, just as @suniagajose exposed, changing the query to:

[code]
@qdp-odoo, you stated:

But this is not happening, when creating a new rate 00:00:00 is not the default:
![image](https://user-images.githubusercontent.com/16890942/27509494-392358d8-58cc-11e7

[2017-06-24 15:09] Yenthe666 commented on #17185
@Vartkat it has been merged and fixed in 9.0 and will be automatically forwarded to Odoo 10. This usually takes about a week.

[2017-06-25 18:04] zeroheure commented on #14753
@antonellaandreoni Thaaaanks !

[2017-06-26 01:54] wayhi commented on #16949
the same problem occurs to me! after checking the log file, I found the following output:

Anybody can fix this?

[2017-06-26 05:41] jar-odoo commented on #17666
any updates ?

[2017-06-26 05:52] Yenthe666 commented on #17666
Nothing yet - when jorenvo has time I'm sure he'll look at it. 😉

[2017-06-26 06:25] jeffery9 commented on #17812
maybe some partner belong to both vendor and customer.

[2017-06-26 06:41] Yenthe666 commented on #17795
@csnauwaert I believe you've made this module. Could you give feedback?

[2017-06-26 07:47] csnauwaert commented on #17795
Well message is self explanatory. We are using a third party provider to fetch transactions and this error happens when a reply is not received in 30 seconds. This can happen when too many people uses the API at the same time for example. Usually retrying a few minutes or a bit later fixes the issue.

This issue does not tell if it happens all the time. So my guess is that this only happened at a

[2017-06-26 07:47] #17795 closed

[2017-06-26 08:13] #16327 closed

[2017-06-26 09:14] Yenthe666 commented on #17787
@JKE-be this is probably for you.
@argorain I do encourage you to add more information / feedback if you have it though.

[2017-06-26 09:18] JKE-be commented on #17787
Hello,

Google should redirect on this controller with a params "state" in post.
Could you please retry and share your config if it doesn't work.

Best regards

[2017-06-26 09:19] Yenthe666 commented on #17778
Hi @mileo,

Could you please give more feedback about what exactly you want or want to know more about? There is very little information in your topic..
What exactly do you mean with multiple localizations? You can easily use multiple langs etc so not sure what exactly you want.

Regards,
Yenthe

[2017-06-26 09:30] JKE-be commented on #17787
I have just tested on a runbot and it works as expected:

`http://240304-10-0-afba38-all.runbot11.odoo.com/google_account/authentication?state=%7B"s":+"calendar",+"d":+"240304-10-0-afba38-all",+"f":+"http://240304-10-0-afba38-all.runbot11.odoo.com/web?%23view_type%3Dcalendar%26model%3Dcalendar.event%26menu_id%3D305%26action%3D401"%7D&code=xxxxxxxxxxx#
`

[2017-06-26 09:30] #17787 closed

[2017-06-26 09:39] #17292 closed

[2017-06-26 09:54] mart-e commented on #17812
Hello,

Yes, as said @jeffery9 there is some partners that are both (as there is some that are neither). For instance camp2camp or china export.
In your second screenshot, you see that the domain is correct with the `or` operator `|`.

[2017-06-26 10:01] argorain commented on #17787
Hello.
I'll test it tonight again. Maybe I have Google app wrong, because included HowTo included is not up-to-date...
I'll let you know.
Thanks.

[2017-06-26 10:32] JKE-be commented on #17787
Google change their Ux once by month...

To have the most recent tuto, you can follow this one: https://www.odoo.com/documentation/user/11.0/crm/calendar/google_calendar_credentials.html

Now with externalize the tuto to be able to update it.

Best regards

[2017-06-26 11:25] #14889 closed

[2017-06-26 12:32] nim-odoo commented on #16940
Case 1 won't be accepted, since the actual use case is:
- create a RFQ with a vendor
- add a product
- if the vendor is not in the supplier info of the vendor, add it
See https://github.com/odoo/odoo/blob/10.0/addons/purchase/models/purchase.py#L420

Case 2 won't probably be accepted either, since it might become quite prohibitive to compute just for a domain. Moreover, it goes again the use case

[2017-06-26 14:02] maitaoriana opened #17834 "[master] Error when export translation"
Impacted versions:
master

Steps to reproduce:
1. Export Translation
2. Select Lenguage
3. File Format = PO file
4. Select App
5. Export

Current behavior:

[code]

Expected behavior:
Export PO file.

![dashboard odoo](https://user-images.githubusercontent.com/17258001/27541945-c8d7b338-5a53-11e7-9a95-199a918179e6.png)

Video/Screenshot link (optional):
https://www.youtube.com/watch?v=djJur9VxV2o&

[2017-06-26 14:02] edsersolis commented on #16940
I beg to differ as the current approach is error prone on the user side.

The flow that you expose wouldn't be affected but improved as you wouldn't
allow products to be set in a RFQ if they are not set for that vendor and
if it is a new product you'll just have to add it.

The module in the link that I posted above allows you to filter just for
the products set for the vendor or all products (jus

[2017-06-26 14:07] luistorresm commented on #17834
CC @qdp-odoo @mart-e

Regards

[2017-06-26 14:16] danimaribeiro commented on #14097
I think this bug was fixed with this commit:

https://github.com/odoo/odoo/commit/7e98e32959231b68985b444afbcde06bf64a5fb7#diff-e458892e06b811defad979d2804a656e

[2017-06-26 17:56] AntMoreno commented on #17702
Edit to add v9.0, since this happens also in that version.

[2017-06-27 05:43] Yenthe666 commented on #17645
@ged-odoo could you explain why this happens?

[2017-06-27 05:50] Yenthe666 commented on #17702
@jco-odoo this one might be for you.

[2017-06-27 05:59] ged-odoo commented on #17645
@Yenthe666 @oerp-odoo  this is the danger of registries: they do not enforce dependencies.  What happens in your case is that your module only depends on web.core, which is loaded quickly, so your module can be launched quickly.  Gantt view and kanban view (and grid view, and calendar view) are defined in another addon, so they are added at a different time, after your own module is loaded.

So, i

[2017-06-27 05:59] #17645 closed

[2017-06-27 07:36] Yenthe666 commented on #1236
Hi @hokkaido,

This bug has been fixed quite a while back but nobody gave feedback here or closed this issue.
It has been solved in the mean time so if you update your Odoo source code you won't have this problem anymore.

Regards,
Yenthe

[2017-06-27 07:36] #1236 closed

[2017-06-27 07:39] Yenthe666 commented on #1099
@sle-odoo I believe this is still accurate and is in fact the case for all schedulers. There is no way to know if one succeeded or failed, if I'm not mistaking you can only see this from the logfiles (if you add log statements to the scheduler).
Is there anything planned for this?

[2017-06-27 07:44] Yenthe666 commented on #1167
Hi all,

This problem is no longer reproducable (tested on the latest 8.0 and 9.0) so this has been fixed in the meanwhile but there has been no reply here.
If you still face it just update your source code. 😉

Regards,
Yenthe

[2017-06-27 07:44] #1167 closed

[2017-06-27 07:49] Yenthe666 commented on #1275
Hi @deyun-zeng,

Sorry for the late reply. I just tried this on the latest Odoo 8.0 without any problems. If you still face this please update your source code and try again. 😄
If you still face this issue please look at Transifex (transifex.com/odoo/) where the Odoo translations are handled. There is most likely an error in one of the translations that is causing this.

Regards,
Yenthe

[2017-06-27 07:49] #1275 closed

[2017-06-27 07:50] Yenthe666 commented on #1276
Hi @exippy,

Thank you for your report and sorry for the late reply.
Odoo 7 is no longer supported by Odoo (the support goes three versions back). Don't hesitate to resubmit an issue against V8, V9 or V10 if you can still reproduce this.

Regards,
Yenthe

[2017-06-27 07:50] #1276 closed

[2017-06-27 07:51] Yenthe666 commented on #1352
Hi @blaggacao,

If I am not mistaking this can be closed now? It looks ok to me?

[2017-06-27 07:52] Yenthe666 commented on #1370
Hi there,

I'm closing this issue as you've stated it is working fine yourself.
Sorry for the late reply!

Regards,
Yenthe

[2017-06-27 07:52] #1370 closed

[2017-06-27 07:54] Yenthe666 commented on #1348
Hi @mohamedhagag,

I tried to reproduce it too (just like jco-odoo) and couldn't reproduce it either.
I'm closing this issue as there has been no response in almost three years. If you still face this on the latest source code please reply back here and I'll reopen it.

Regards,
Yenthe

[2017-06-27 07:54] #1348 closed

[2017-06-27 07:57] Yenthe666 commented on #1330
Hi @AlanBell,

First of all, thank you for the report and sorry for the (very) late reply.
This is actually the intended behaviour, project tasks are only made from sale orders, not from the POS.
As a matter of fact, if you would have this in the POS you would break the offline mode of the POS or you would need to add a lot of code to keep it in memory.
Anyway, this is desired behaviour and Odoo d

[2017-06-27 07:57] #1330 closed

[2017-06-27 08:00] Yenthe666 commented on #1283
Hi @rolandwells,

Thank you for your report and sorry for the late reply.
Odoo 7 is no longer supported by Odoo, as they only support three versions back (at the moment of writing V8, V9 and V10).
I've tried this on a V7 though and had no problems to see everything that I posted in the history chatter. If you still face this issue please update your source code to the latest version and try again.

[2017-06-27 08:00] #1283 closed

[2017-06-27 08:01] Yenthe666 commented on #1274
@sle-odoo any update on this? I still think the contrast should be a bit bigger so it is easier to read. 😉

[2017-06-27 08:05] Yenthe666 commented on #1217
Hi @kenvac,

Thank you for your report and sorry for the late reply. Odoo only supports three versions back, meaning that Odoo V7 is no longer supported.
I don't believe this is a bug in the latest V7 anymore though. If you still face this issue please update your source code and try again.
If you can reproduce this issue in V8, V9 or V10 you're free to create a new bug report so we can handle it.

[2017-06-27 08:05] #1217 closed

[2017-06-27 08:06] Yenthe666 commented on #1496
Hi @youring,

Thank you for your report.
This has been fixed quite a while ago though! It now looks like this:
![image](https://user-images.githubusercontent.com/6352350/27577261-4d76ea10-5b20-11e7-829b-a4d011165c8b.png)
I'm closing this report as it has been fixed already.

Regards,
Yenthe

[2017-06-27 08:06] #1496 closed

[2017-06-27 08:12] Yenthe666 commented on #1489
Hi @antoniocanovas,

Thank you for your report and sorry for the late reply.
This has been fixed in the meanwhile, if you tab now you can start a new product line and it no longer jumps to the main menu.

Regards,
Yenthe

[2017-06-27 08:12] #1489 closed

[2017-06-27 08:13] Yenthe666 commented on #1482
This should be handled by now. You can now follow-up and manage translations on Transifex (transifex.com/odoo/).
It is working fine from V8 and up now too.

Regards,
Yenthe

[2017-06-27 08:13] #1482 closed

[2017-06-27 08:20] Yenthe666 commented on #1461
Hi @grayousious,

Thank you for your report.
This issue has been fixed in the meanwhile. An example on the latest V8 source code:
![image](https://user-images.githubusercontent.com/6352350/27577774-334addc0-5b22-11e7-90a0-decbd8e4275d.png)

Regards,
Yenthe

[2017-06-27 08:20] #1461 closed

[2017-06-27 08:22] Yenthe666 commented on #1415
Hi @chandrakumarm,

Thank you for your report.
This is however a default implementation in the framework of Odoo, made for consistency and performance. There is no intention to change this behaviour and it is wanted. The reason behind this is that if you need something you'll search at the top, which will bring up the results you want.
For more information see https://github.com/odoo/odoo/issues/1

[2017-06-27 08:22] #1415 closed

[2017-06-27 08:24] Yenthe666 commented on #1409
Hi @gzampeze,

Thank you for your report and my apoligies for the late reply.
Odoo 7 is no longer supported by Odoo itself, as the support goes back three version (so at this point there is support for V8, V9 and V10).
I'm closing this issue as we no longer handle them for old Odoo versions. If you can still reproduce this on V8, V9 or V10 feel free to create a new issue though! We'll look into it

[2017-06-27 08:24] #1409 closed

[2017-06-27 08:27] Yenthe666 commented on #1512
@JKE-be this still looks relevant? See https://github.com/odoo/odoo/blob/8.0/addons/website_crm/controllers/main.py#L57

[2017-06-27 08:29] Yenthe666 commented on #1520
Hi @ernesto-gm,

Thank you for your report / suggestion.
This is not really something that Odoo would want or would change though, the current behaviour is working fine.
You're always welcome to make a PR and discuss on it there but changes are quite high that this would be refused.

Regards,
Yenthe

[2017-06-27 08:29] #1520 closed

[2017-06-27 08:32] Yenthe666 commented on #1436
Hi @rolandwells,

Thank you for your report / suggestion.
This is where we have the durations etc for on the issue, which can be configured. It is correct that there is no date / deadline field though, if you'd like this you could develop this your own or use the module linked by yelizariev.

Regards,
Yenthe

[2017-06-27 08:32] #1436 closed

[2017-06-27 08:39] Yenthe666 commented on #1664
Hi @kenvac,

Thank you for your report (and thank you for the recording @adrienpeiffer).
This does look invalid (also in 8.0).  @qdp-odoo can you look into this when you've got time?

Regards,
Yenthe

[2017-06-27 08:41] Yenthe666 commented on #1712
Hi @DJzx,

Thank you for your report.
This should be fixed by https://github.com/odoo/odoo/commit/d68537022fc03baf59af29cb7cc8f9c5aa91a7b2
I can no longer reproduce this bug anymore.

Regards,
Yenthe

[2017-06-27 08:41] #1712 closed

[2017-06-27 08:44] Yenthe666 commented on #1732
@Gorash can you give an update?
I believe one is fine now, two is too, three is no longer reproducable and not sure what the 'problem' should be with 4.

Regards,
Yenthe

[2017-06-27 08:46] Yenthe666 commented on #1737
Hi @MiguelMachadoM,

Thank you for your report.
This shouldn't be any problem though.. The fields that we really need (such as the name) are required so there is no way to leave these fields blank (which would in fact result in a crash).
I really can't reproduce this to crash the database.

Regards,
Yenthe

[2017-06-27 08:46] #1737 closed

[2017-06-27 08:51] Yenthe666 commented on #1738
Hi @mcassuto,

Thank you for your report.
This issue has been solved in the meanwhile. Example of the version from today:
![image](https://user-images.githubusercontent.com/6352350/27579082-9470ca98-5b26-11e7-9c6e-7ece92ac0c49.png)

Regards,
Yenthe

[2017-06-27 08:51] #1738 closed

[2017-06-27 08:52] Yenthe666 commented on #1756
@pna-odoo any update on this one?

[2017-06-27 08:53] Yenthe666 commented on #1754
Hi @vilder,

Thank you for your report.
I'm closing this one in favour of https://github.com/odoo/odoo/issues/1288 (as it is older). You can find all the replies and feedback on this case there.

Regards,
Yenthe

[2017-06-27 08:53] #1754 closed

[2017-06-27 08:55] Yenthe666 commented on #1767
Hi @DJzx,

Please add more information to your bug report so we know what you're talking about and how to reproduce it.
Closing the issue as it does not have enough information. Feel free to create a new issue (with detailed information) if you can still reproduce this.

Regards,
Yenthe

[2017-06-27 08:55] #1767 closed

[2017-06-27 08:56] Yenthe666 commented on #1788
Hi @juanvmarquezl,

Thank you for your report.
Odoo 6.0 (and 7.0) are no longer officially supported. If you can reproduce these issues on a V8, V9 or V10 you're free to create a new report and we'll look into it as soon as we can.
P.S: Sorry for the late feedback.

Regards,
Yenthe

[2017-06-27 08:56] #1788 closed

[2017-06-27 09:01] Yenthe666 commented on #1793
Hi @pedrobaeza,

Thank you for your report.
I agree that this would be a neat improvement in the Odoo website builder (for V8) but since it is almost end of life it won't be added anymore.
This is however available in V10 now:
![image](https://user-images.githubusercontent.com/6352350/27579467-e897ed1c-5b27-11e7-9903-459778df4508.png)
I'm closing this issue as it is no longer a problem in the late

[2017-06-27 09:01] #1793 closed

[2017-06-27 09:04] Yenthe666 commented on #1803
Hi @scuestae,

Thank you for your report and sorry for the late reply.
You can indeed move a confirmed (and even paid invoice) from the calendar view.
@mart-e what do you think about this?

Regards,
Yenthe

[2017-06-27 09:06] Yenthe666 commented on #1810
Hi @matecsaj,

Thank you for your report.
This is however the desired behaviour and we know this is the case. If you change the settings of your account it'll work this way.
@JKE-be perhaps it might be time to change this behaviour to OAUTH2.0 or something in the upcoming V11 though?
Closing as this is the desired behaviour.

Regards,
Yenthe

[2017-06-27 09:06] #1810 closed

[2017-06-27 09:07] Yenthe666 commented on #1830
Closing this as it was handled/ answered by Martin.

[2017-06-27 09:07] #1830 closed

[2017-06-27 09:10] Yenthe666 commented on #1825
Hi @svenpetersen,

Thank you for the report. 6.1 and 7.0 are no longer supported by Odoo (as we only support three versions back) but you could easily do this with advanced filters. For example to find all invoices with a total bigger than 100€:
![image](https://user-images.githubusercontent.com/6352350/27579854-3c639cce-5b29-11e7-948b-98f8cd6bb758.png)

Regards,
Yenthe

[2017-06-27 09:10] #1825 closed

[2017-06-27 09:14] Yenthe666 commented on #1952
Hi @quochoang,

Thank you for your report.
If you do this on the latest Odoo 8 and click on `Save` after creating an invoice you'll get the following dialog now:
![image](https://user-images.githubusercontent.com/6352350/27580005-abe7f16c-5b29-11e7-8ca1-50fa994482c3.png)
If you then fill in an e-mail and try again you can save it. If you click on 'Send by email' you'll get the wizard, without any

[2017-06-27 09:14] #1952 closed

[2017-06-27 09:16] Yenthe666 commented on #1946
Hi @palfrader,

Thank you for your report.
I'm not sure what you're trying to explain / show though. If I look at the country field ('Paese') I can see it filled in on both of your screenshots, so what is the problem exactly?
Can you please give more feedback or make a recording?

Thanks,
Yenthe

[2017-06-27 09:19] Yenthe666 commented on #1963
Hi @richard-willdooit,

Thank you for your report.
I've just tested this on the latest Odoo V8 and it has been fixed in the meanwhile. The SO:
![image](https://user-images.githubusercontent.com/6352350/27580269-60a864f6-5b2a-11e7-89f3-1f13f52bfcb0.png)

The invoice, made from the SO:
![image](https://user-images.githubusercontent.com/6352350/27580319-81ed9db6-5b2a-11e7-9eb5-e6fef3a84efa.png)

I'm

[2017-06-27 09:19] #1963 closed

[2017-06-27 09:24] Yenthe666 commented on #17645
Thank you for the detailed and very good answer.

[2017-06-27 10:00] sle-odoo commented on #1274
@Yenthe666 it's very unlikely that we change the colour in v8, and you can change the color easily in later version by changing a less variable, and in the latest version you can edit it with the less editor

You can make a pr to slightly adapt the colours for master if you want :)

Regards

[2017-06-27 10:00] #1274 closed

[2017-06-27 10:47] gdgellatly opened #17850 "10.0 Sequence without default doesn't update in one2many handle of form view"
Impacted versions:
10.0
Steps to reproduce:
This is a bit strange, but if a sequence field is created without a default (e.g. fields.Integer()) then in the resulting formview if you use the handle to reorder the lines that triggers an onchange, the sequence fields are all 0 if you access them.

However if you use any positive integer default (e.g. fields.Integer(default=1), using the handle does u

[2017-06-27 11:10] Yenthe666 commented on #1864
Hi @lepistone,

Thank you for your report.
Odoo V7 is however no longer supported by Odoo (as Odoo only supports three versions) so this won't be patched / fixed anymore.
Sorry for the late reply.

Regards,
Yenthe

[2017-06-27 11:10] #1864 closed

[2017-06-27 11:17] Yenthe666 commented on #1898
Hi @daivaras,

Thank you for your report!
This issues has been fixed in the meanwhile and does no longer happen.
P.S: Sorry for the late reply.

Regards,
Yenthe

[2017-06-27 11:17] #1898 closed

[2017-06-27 11:18] Yenthe666 commented on #1939
Hi @fjouatte,

Thank you for your report.
I've just tested this on the latest version and it seems to work fine (also in newer version).
This issue has been fixed in the meanwhile.

Regards,
Yenthe

[2017-06-27 11:18] #1939 closed

[2017-06-27 11:23] Yenthe666 commented on #2013
Hi @dsu-odoo,

Thank you for the report.
This issue has been fixed in the meanwhile. From the latest V8:
![image](https://user-images.githubusercontent.com/6352350/27585261-c37d04b8-5b3b-11e7-8d2f-039803f8c67b.png)

Regards,
Yenthe

[2017-06-27 11:23] #2013 closed

[2017-06-27 11:25] Yenthe666 commented on #2042
Hi @shingonoide and @mvaled,

There has been an official response from Odoo saying that we no longer want this option. Odoo is not a mailclient, it is an ERP system. You can easily use the chatter, mail templates and so on to communicate.

Regards,
Yenthe

[2017-06-27 11:25] #2042 closed

[2017-06-27 11:26] Yenthe666 commented on #2047
@xmo-odoo any update on this? Or can we close this?

[2017-06-27 11:27] Yenthe666 commented on #2040
Hi @rvalyi,

Thank you for your report.
This is actually still the same as the moment you've reported it and I personally liked the old CSS print more too.
@mart-e could you give feedback perhaps?

Regards,
Yenthe

[2017-06-27 11:28] #2047 closed

[2017-06-27 11:29] Yenthe666 commented on #2087
Hi @jelenak,

As @JayVora-SerpentCS said it will dissapear, it is most likely your cache or something that didn't update entirely. To be sure you can do a `-u all` and a hard refresh, you'll notice it'll be gone then.

Regards,
Yenthe

[2017-06-27 11:29] #2087 closed

[2017-06-27 11:32] Yenthe666 commented on #2359
Hi @sferket,

Thank you for your report.
As @rha-odoo said it is handled by the library and it has been fixed in https://github.com/odoo/odoo/pull/3238/commits/7a1e385946cbbbd2c390eab0d92ff35492e563f7

Regards,
Yenthe

[2017-06-27 11:32] #2359 closed

[2017-06-27 11:33] Yenthe666 commented on #2322
Hi @yvaucher,

Thank you for your report.
As Odoo 6.1 and 7.0 are no longer supported by Odoo (they only support three versions) this will not be fixed anymore in those versions. It has been fixed from V8 and upwards so you shouldn't have this problem in new versions anymore.

Regards,
Yenthe

[2017-06-27 11:33] #2322 closed

[2017-06-27 11:33] sle-odoo commented on #1099
@Yenthe666 there's no plan to change that at the moment

[2017-06-27 11:37] Yenthe666 commented on #2235
Hi @blaggacao,

Thanks for your report.
As some people have already hinted this is build in by Odoo and there is no plan to change this in the stable versions of Odoo.
Martin gave an official statement:

However, we want to change that in master but it is not that easy (we have a problem to keep the current search).
In discussion with the framework team to find a solution but no promise on what an

[2017-06-27 11:37] #2235 closed

[2017-06-27 11:43] Yenthe666 commented on #2435
Hi @OSguard,

Thank you for your report.
This has been fixed in https://github.com/odoo/odoo/commit/56f3f01491f3c682f3604c6d0011d7ecfbbaa210 and https://github.com/odoo/odoo/commit/c4339e0cec330e5ad29c9b7607d56b3af745b561 actually.
Sorry for the late feedback.

Regards,
Yenthe

[2017-06-27 11:43] #2435 closed

[2017-06-27 11:46] Yenthe666 commented on #2384
Hi @mohamedhagag,

Thank you for your report.
This issues has been fixed in the meanwhile. You will be logged out, redirect to the login and everything is cleared.

Regards,
Yenthe

[2017-06-27 11:46] #2384 closed

[2017-06-27 11:51] Yenthe666 commented on #2662
Hi @dsu-odoo,

Thank you for the report.
As you know Odoo only supports the last 3 versions so this is no longer valid.
It does look fixed on 7.0 too though.

Regards,
Yenthe

[2017-06-27 11:51] #2662 closed

[2017-06-27 11:52] #2648 closed

[2017-06-27 11:52] Yenthe666 commented on #2648
Closing as you've said it should be solved. 😄

[2017-06-27 11:56] Yenthe666 commented on #2637
Hi @haylahi,

Thank you for your report.
The problem is fixed in the meanwhile and I believe it was done with https://github.com/odoo/odoo/pull/2306/commits/29a8e352bfaed11c102704cd41c7e316e8bd7de6

Regards,
Yenthe

[2017-06-27 11:56] #2637 closed

[2017-06-27 12:00] Yenthe666 commented on #2604
I'm closing this issue as the other one is fixed and this is a duplicate.

Regards,
Yenthe

[2017-06-27 12:00] #2604 closed

[2017-06-27 12:01] yelizariev commented on #2042
I missed that 10.0 doesn't have Send Mail button https://github.com/odoo/odoo/commit/452bf80affd678884c13d0a076de34c82f3a6127
Possible solution for ones who still need this button: [mail_sent](https://github.com/it-projects-llc/mail-addons/tree/10.0/mail_sent) module -- it adds "Sent" menu and "Send mail" button

[2017-06-27 12:02] Yenthe666 commented on #2834
@dreispt shouldn't be relevant anymore? Closing this one.

[2017-06-27 12:02] #2834 closed

[2017-06-27 12:39] Yenthe666 commented on #2821
Hi @wamdam,

Thank you for your report (and PR).
This was fixed by https://github.com/odoo/odoo/commit/65de6e7f27344be275c5372a4dd76fa4396a2a9d as you pointed out but the issue has never been closed.

Regards,
Yenthe

[2017-06-27 12:39] #2821 closed

[2017-06-27 12:40] Yenthe666 commented on #2809
Hi @colinnewell,

Thank you for your report.
It is correct that this can behave to determinate if the project is closed or not.
If you'd like this documented you're welcome to make a PR against the documentation.

Regards,
Yenthe

[2017-06-27 12:40] #2809 closed

[2017-06-27 12:43] Yenthe666 commented on #2802
Hi @jni-odoo,

Thanks for your report.
This has been fixed in the meanwhile and works fine in the latest Odoo 8.

Regards,
Yenthe

[2017-06-27 12:43] #2802 closed

[2017-06-27 12:46] Yenthe666 commented on #2758
Hi @hbrunn,

Thank you for your report.
I believe this can be closed, as discussed on https://github.com/odoo/odoo/pull/2914 in combination with the PR https://github.com/odoo/odoo/pull/16698

Regards,
Yenthe

[2017-06-27 12:46] #2758 closed

[2017-06-27 12:52] Yenthe666 commented on #2755
Hi @pji-odoo,

Thanks for your report.
It looks like this has been fixed in the meanwhile and V7 is end of life so there is no more support for this version.

Regards,
Yenthe

[2017-06-27 12:52] #2755 closed

[2017-06-27 12:54] Yenthe666 commented on #2726
Hi @sus-odoo,

Thank you for the report.
It has been fixed by https://github.com/odoo/odoo/pull/2770/commits/2da1bdc1742b87f2bd415364ad93ffcf7fa229c2 a while ago but this issue was never closed. Closing as it is handled.

Regards,
Yenthe

[2017-06-27 12:54] #2726 closed

[2017-06-27 12:56] Yenthe666 commented on #2693
Any update guys? (@odony and @xmo-odoo )

[2017-06-27 12:59] Yenthe666 commented on #2973
Hi @vilder,

Thank you for your report.
This is actually the desired behaviour and wanted. Everytime you press the "-" sign it'll kill the session (with an id) and create a new one. This is what you see here.

Regards,
Yenthe

[2017-06-27 12:59] #2973 closed

[2017-06-27 13:09] #2840 closed

[2017-06-27 13:16] Yenthe666 commented on #3212
Hi  @JaHicks,

Thank you for your report.
Odoo 7 is however no longer supported by Odoo itself (they only support the three latest versions).
If this issue is still present in V8, V9 or V10 please do create a new issue (or PR).

Regards,
Yenthe

[2017-06-27 13:16] #3212 closed

[2017-06-27 13:17] Fenkiou opened #17855 "[10.0] Email field required on res.partner even if no user_ids."
**Impacted versions:**
10.0

**Steps to reproduce:**
Create a new database and install sale module.
Go to customer list view and create two partners:
 - one with portal access.
 - one without portal access.

**Current behavior:**
From the customer list view, open the partner that has portal access. Use the arrow on the top right of the screen to change partner and try to access its invoices for ex

[2017-06-27 13:23] Yenthe666 commented on #3115
Hey @dreispt,

Closing this one as it has been solved in https://github.com/odoo/odoo/commit/0920c2fae06d2fda8298bcc55c6388eedefefdf5

Regards,
Yenthe

[2017-06-27 13:23] #3115 closed

[2017-06-27 14:01] Yenthe666 commented on #3508
Hi @ghost,

Thank you for your report.
This is however about an Odoo version that is no longer supported (Odoo only supports three versions back) and it is about custom development.
You might want to ask this question at http://odoo.com/help if you still face it.

Regards,
Yenthe

[2017-06-27 14:01] #3508 closed

[2017-06-27 14:06] Yenthe666 commented on #3400
Hi @JaHicks,

This is actually the desired behaviour. As quoting from Olivier:

[2017-06-27 14:06] #3400 closed

[2017-06-27 14:10] Yenthe666 commented on #3668
This is desired behaviour and not something that'll be changed.

Regards,
Yenthe

[2017-06-27 14:10] #3668 closed

[2017-06-27 14:13] Yenthe666 commented on #3657
Hi @RichardX720,

Thank you for your report.
The calendar for dates is now scrollable, so this has been fixed.

Regards,
Yenthe

[2017-06-27 14:13] #3657 closed

[2017-06-27 14:28] Yenthe666 commented on #3762
@tde-banana-odoo can you give a statusupdate about this please?

[2017-06-27 14:29] kevhernandez1 opened #17858 "Odoo client error"
Impacted versions: Odoo 10.0
just created an odoo app when this JS error appears on every single module i've installed

Video/Screenshot link (optional):

![screenerrorr](https://user-images.githubusercontent.com/29732793/27592972-954ec484-5b1b-11e7-86f2-9333320e9c7f.png)

[2017-06-27 14:30] Yenthe666 commented on #3754
Hi @Mbunto,

Thank you for your report.
I've just tested this on the latest version and this is no longer a problem.

Regards,
Yenthe

[2017-06-27 14:30] #3754 closed

[2017-06-27 14:32] Yenthe666 commented on #3749
@xmo-odoo any update on this one?

[2017-06-27 14:33] Yenthe666 commented on #3738
@JKE-be I believe this can be closed?

[2017-06-27 14:36] Yenthe666 commented on #17858
Hi @kevhernandez1,

Thank you for your report.
The Github issue tracker however is for bugs in the official code, it is not the place to ask questions about custom development. Please post this question at http://odoo.com/help (with code!) so people can help you.

Regards,
Yenthe

[2017-06-27 14:36] #17858 closed

[2017-06-27 14:37] Yenthe666 commented on #3702
Hi @ehirt,

Thank you for your report / patch.
Since this is against V6.1 and this version is no longer supported I'm afraid it won't be accepted anymore. As this has been fixed in V8 there is nothing to do here anymore. 😉

Regards,
Yenthe

[2017-06-27 14:37] #3702 closed

[2017-06-27 14:37] #3738 closed

[2017-06-27 14:38] JKE-be commented on #3738
@Yenthe666 thanks for your help ;)

[2017-06-27 14:41] Yenthe666 commented on #3846
Hi @lepistone,

Thank you for your report.
There is indeed a `readme.md` and a description in `__openerp__.py`.
@mart-e can you give feedback? I believe this is intentional.

[2017-06-27 14:44] Yenthe666 commented on #3790
Hi @jpwarren,

Thank you for your suggestion (and sorry for the delay in the response).
I've labelled this wishlist so that it'll come up when the R&D team checks this.
No promisses though!

Regards,
Yenthe

[2017-06-27 14:44] #3790 closed

[2017-06-27 14:47] qdp-odoo commented on #17786
it's currently in progress

[2017-06-27 14:47] Yenthe666 commented on #3771
Hi @diassynthesis,

Thank you for your report!
As this is in V7 and V7 is no longer supported (Odoo supports the latest three versions) this won't be changed or fixed anymore.
I'm closing this since V7 is no longer supported and this has been solved in newer versions.

Regards,
Yenthe

[2017-06-27 14:47] #3771 closed

[2017-06-27 14:53] Yenthe666 commented on #3858
Hi @lloyd-oa,

Thank you for the report.
I've just tested this on the latest Odoo 8.0 and this problem is no longer present in Odoo.
Please update your Odoo source code if you still face this issue and try again.

Regards,
Yenthe

[2017-06-27 14:53] #3858 closed

[2017-06-27 14:54] Yenthe666 commented on #3942
Hi @nono6677,

I've just tried to export the stock and it works without problems.
If you still face this issue (on the latest source code) please do add more information (screenshots, video, ...) of how to reproduce this and I'll reopen this issue!

Regards,
Yenthe

[2017-06-27 14:54] #3942 closed

[2017-06-27 17:40] odony commented on #2114
Fixed by 8245c1d1d87b443701b161d8d4a42df2b4d13aec about a year ago, in all versions as of 8.0.

[2017-06-27 17:40] #2114 closed

[2017-06-27 18:46] argorain commented on #17787
Hello.
It took me longer than I expected, but I tested it now.
I made new Google App according most recent tutorial but it is not working (still same error). Weird part is when I fill in https://.... in Google App, it complains it not match (error 400) but server is secured with certificate.
I have no idea what try next.
Thanks.

[2017-06-28 00:37] jeffery9 opened #17860 "[10.0] create new company report create_warehouse error"
Impacted versions:
10.0 CE

Steps to reproduce:
1, run odoo 10 on windows 10
2, create new database for  odoo10 with demo data
3, enable multi-company
4, install inventory application
5, create new company, report

Current behavior:

it can not create warehouse, report `type error`
[code]

Expected behavior:

Video/Screenshot link (optional):

[2017-06-28 04:44] edsersolis commented on #15515
https://github.com/odoo/odoo/pull/17867

[2017-06-28 04:44] edsersolis commented on #15515
Pull Request: https://github.com/odoo/odoo/pull/17867

[2017-06-28 04:45] #15515 closed

[2017-06-28 04:48] edsersolis commented on #17408
Hello @ged-odoo should I close this issue? I know it is a minor issue but still should be fixed. Please let me know.

[2017-06-28 06:20] Yenthe666 commented on #17860
Hi @jeffery9,

Thank you for your report.
Can you try to reproduce this on the latest runbot (runbot.odoo.com)? I've just tested this and I can create another company and warehouse without any issues.

Regards,
Yenthe

[2017-06-28 08:09] mart-e commented on #2693
As said before, will work on it when we can but it is not something we plan to do in a short term and most likely not in stable version.
I can not give you a release target (no need to ask if it will be in v11)

[2017-06-28 08:17] ged-odoo commented on #17408
yes, I do not see how to fix this issue properly in version 10.0, because changes would be non trivial.

[2017-06-28 08:17] #17408 closed

[2017-06-28 08:19] JosDeGraeve commented on #2693
I see that this will not get fixed while you're prepping for v11, but in the meantime, is it an option to clearly document the limits of the current situation ?  I think as odoo developers we all have been struggling with this for hours while dealing with the subtleties that surround this issue.  Having some documentation, that clearly states what works and what not, will help us all.

[2017-06-28 08:26] yelizariev commented on #2693
Anyone can suggest updates in  odoo documentation via PR. You don't need to wait when odoo representative will do it themselves (I don't believe that they will update documentation regarding to this issue)

[2017-06-28 08:29] mart-e commented on #3846
The readme is usually the long description for the [app store](https://www.odoo.com/apps) and the manifest the short one to display in Odoo itself.
It is true that having two descriptions is a bit redundant and I would accept PR removing the one in the manifest in master.

[2017-06-28 08:29] #3846 closed

[2017-06-28 09:23] tasa87 commented on #15151
I am facing with the same problem...

[2017-06-28 10:12] m3dbedb opened #17879 "[10.0] 500 internal server error wher portal user logging in after portal access cancellation"
Impacted versions: 10.0-20170228

Steps to reproduce:Grant access to customer, log in as customer, remove access, log in as customer again

Current behavior: error uppears until access is denied

Expected behavior: user have to be informed his account is disabled

Video/Screenshot link (optional):

[2017-06-28 10:28] Yenthe666 commented on #17879
Hi @m3dbedb,

Thank you for your report.
I can confirm that this is a bug, there should be some nice form of dialog. The result on the latest Odoo 10:
![image](https://user-images.githubusercontent.com/6352350/27632776-118c5110-5bfd-11e7-91bd-751c83e5e17d.png)
@JKE-be this might be for you. 😉

Regards,
Yenthe

[2017-06-28 10:41] m3dbedb opened #17881 "[10.0] access error when portal user open project link from invitation email"
Impacted versions: 10.0-20170228 community

Steps to reproduce: create project with privacy visible by following customer, choose customer, add customer to follovers, login to portal as customer, open project link from invitation email

Current behavior: Odoo warning: access error uppears with following massage:
![odoo_warning](https://user-images.githubusercontent.com/25632818/27633229-0a751d12-5

[2017-06-28 11:08] JKE-be commented on #17879
@Yenthe666
what do you call 'remove access' ?

[2017-06-28 11:12] jeffery9 commented on #17860
Can't reproduce this on runbot but on my own deployment on windows.

I have upload  python Memory Snapshot, If this is useful for you're trouble shooting, You can get it via http://pan.baidu.com/s/1dFiWTS9

[2017-06-28 11:28] Ep101kur opened #17887 "QWeb t-ignore directive is not documented"
QWeb t-ignore directive is not documented. It's used 73 times in the sourcecode. Can't find pydocs in ir/ir_ui_view.py

Impacted versions: all

Steps to reproduce:
1. Browse: https://github.com/odoo/odoo/blob/10.0/doc/reference/qweb.rst
2. Press: Ctrl+F
3. Input: t-ignore
->No hit(s)

Expected behavior:
-> at least 1 hit ;)

[2017-06-28 11:29] Yenthe666 commented on #17860
Hi @jeffery9,

Can you please update your Odoo source code and try again then?
It looks like it has been fixed in the meanwhile and that you're Odoo doesn't have the fix yet.

[2017-06-28 11:29] invitu commented on #11614
in v10c, we have real time valuation = zero for products made from BoM

[2017-06-28 11:32] Yenthe666 commented on #17879
@JKE-be easiest to reproduce is to open the user (under settings > user) and check off the option 'Portal'

[2017-06-28 11:32] jeffery9 commented on #17860
I running my development lab with the latest source code always.

From: Yenthe V.G [mailto:notifications@github.com]
Sent: Wednesday, June 28, 2017 7:30 PM
To: odoo/odoo <odoo@noreply.github.com>
Cc: Jeffery CHEN Fan <jeffery9@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [odoo/odoo] [10.0] create new company report create_warehouse error (#17860)

Hi @jeffery9<https://github.com/j

[2017-06-28 11:45] jeffery9 commented on #17860
it seemed that  `stock.location` lost the parent related id.  like bellow.

product.category is ok
stock.location is bad

[code]

[2017-06-28 12:04] yvaucher commented on #2322
That was old :smile:

[2017-06-28 12:05] yvaucher commented on #2322
By the way I hope Odoo will be able to port code base to python 3

[2017-06-28 12:07] JKE-be commented on #17879
why do you want to remove the portal access... if you want disable the user, you can unable at the top right to toogle the active.

[2017-06-28 12:11] Yenthe666 commented on #17879
Hi @JKE-be,

In my opinion it is not really that the message is unclear.. but it triggers a 500: internal server error.
If this warning would be shown on login or right after logging in on a webpage it would be fine. It is just the 500 internal that is not user friendly.

[2017-06-28 12:11] Yenthe666 commented on #2322
@yvaucher yep quite late 😉
Odoo V11 will come with python 3 support.

[2017-06-28 12:15] JKE-be commented on #17879
if you disable the user instead of removing all rights... you will be not able to connect and so you will have a proper message: 'User and password don't match'... or something similar instead of a internal error.

There are 3 main roles:
   public
   portal
   employee

If you are not in one of this 3 case, you will have a lot of traceback.

[2017-06-28 12:47] mart-e commented on #17812
Closing as no bug shown. Please reply on this issue if you disagree instead of opening a new one.

[2017-06-28 12:47] #17812 closed

[2017-06-28 13:03] #17879 closed

[2017-06-28 13:11] Yenthe666 commented on #17879
@JKE-be well I don't entirely agree on this. Okay this will throw errors and yes it is not the 'desired' behaviour or the conventional way. However, the fact is, that there is an option to uncheck this and don't get any warnings. The user will get troubles while the one that disables this wouldn't even notice it.
We should atleast pop-up a warning or something somewhere along the way?