[2018-04-12 08:10] Yenthe666 commented on #18116
Hey,

I just tested this again and it seems to be fixed and working fine in the meanwhile! I've removed all leads tags from all customers and reset all colors. After opening the graph:
![image](https://user-images.githubusercontent.com/6352350/38664397-be986ef6-3e39-11e8-8464-16b80646fa13.png)

[2018-04-12 08:10] #18116 closed

[2018-04-12 08:13] jco-odoo commented on #24185
We worked on this for the saas 11.2 version.  We can use your feedback as
we will try to improve for saas 11.4 too.

On Thu, Apr 12, 2018 at 10:09 AM, Lois Rilo <notifications@github.com>
wrote:

[2018-04-12 08:27] #23982 closed

[2018-04-12 08:38] mge-odoo commented on #23982
Hi @MeetKD

Thanks for reporting the bug, this was a tricky one.

Regards,

Martin

[2018-04-12 08:48] lreficent commented on #24185
Thanks for pointing that out, looking forward to see those changes in the main branch.

[2018-04-12 08:54] pfichefet opened #24196 "[11.0] Upload an image in a task description."
Impacted versions:
v11

Steps to reproduce:
Log with a user who can write on task (who is not a SUPERUSER), open the form view of a task. Try to upload an image in to the description of the task.

Current behavior:
After having selecting an image from my computer I receive an error during the upload : "('The requested operation cannot be completed due to security restrictions. Please contact your

[2018-04-12 09:06] bwilmus opened #24197 "Sale coupon install ERROR"
Impacted versions: Version 11

Steps to reproduce: Install "Sale

Current behavior:  error occurs

Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/tools/cache.py", line 84, in lookup
    r = d[key]
  File "/odoo/odoo-server/odoo/tools/func.py", line 68, in wrapper
    return func(self, *args, **kwargs)
  File "/odoo/odoo-server/odoo/tools/lru.py", line

[2018-04-12 09:14] mart-e commented on #24112
I believe this is because the email is rendered inside an iframe (which is fine, to avoid styling issues).
Setting the link with a `target="_blank"` should avoid the error.
This is however only a problem when you check the email in the technical settings views, not when somebody check its email in the mail client.

[2018-04-12 09:29] AbdulrhmanGad commented on #23156
dsfgbfgf

[2018-04-12 09:32] adr-odoo commented on #9761
It's fixed now.
See: https://github.com/odoo/odoo/commit/8c0b23c23925ecadeb753ed93919dbe2cbea4370

[2018-04-12 09:54] Yenthe666 commented on #23156
@d-fence I believe you're responsible for the nightly?

[2018-04-12 10:39] Elkasitu commented on #24197
I'm sorry but this isn't enough information, something's missing, can you reproduce this on the [runbot](http://runbot.odoo.com/runbot)?

Your reproduction steps are not clear, I tried installing sale_management, then sale_coupon, then uninstalling them in reverse order, then reinstalling them in the proper order and everything seems to work fine.

[2018-04-12 12:46] d-fence commented on #23156
@rockcesar can you confirm that the problem is still there with the latest package ?
The nightly package is based on the git repository but is built really early in the morning.
So it may be out of sync with the git tree a few hours later.
But IMHO this kind of difference in the behavior cannot be caused by the build.
Did you make the test exactly in the same conditions ?

[2018-04-12 13:07] JKE-be commented on #24170
2 days that we check, but I don't see the validation queue increase...
Do we need to take action?

If that arrives again, I can re-add the blacklist like for the previous issue #12803

[2018-04-12 13:38] lreficent commented on #23672
Hi everyone,

I had the same issue as @sandeepksrana.

@aab-odoo I can give you a scenario to reproduce it. Go to the runbot of this PR: https://github.com/OCA/stock-logistics-warehouse/pull/411 and go to "Inventory > Master Data > Reordering Rules", the click on this little gear I point you on the picture below.

![image](https://user-images.githubusercontent.com/23449160/38680718-41934f74-3e67-1

[2018-04-12 13:47] aab-odoo commented on #23672
Thanks @lreficent, now that i can reproduce i'll be able to fix it.

It seems that the issue occurs because the datetime value comes from a one2many command returned by a default_get. I'll provide a fix asap.

Regards.

[2018-04-12 15:23] EliasSuess opened #24202 "Error on selecting file for account.bank.statement.line import"
Impacted versions: v11

Steps to reproduce: import CSV on account.bank.statement.line

Current behavior:

Fehler:
Uncaught Error: Unknown field belongs_to_company in domain

https://odoo-sh-manatec-demo11cl.odoo.com/web/content/1746-88158c3/web.assets_backend.js:293
Zurückverfolgung
Error: Unknown field belongs_to_company in domain
    at Class.compute (https://odoo-sh-manatec-demo11cl.odoo.com/we

[2018-04-12 15:26] pedrobaeza commented on #24202
Is this happening on runbot (http://runbot.odoo.com/)? Can you provide the CSV in that case?

[2018-04-12 15:33] ged-odoo commented on #10003
@pedrobaeza ok, i see what you mean (a gif makes such a difference!).  I think that it could be argued that the web client here behaves as expected: the web client respected the default_get value received by the server for the sequence field.

We have here an incompatibility between 2 things:
1. the list view is in editable=bottom, so its job is to create a new record at the end of the page
2. the

[2018-04-12 15:34] EliasSuess commented on #24202
it's happening on an odoo sh instance.

it seem to be a multi company related problem. the computed filed "belongs_to_company" from the model account.journal seems to be refered to as "belong_to_company" somewhere in the code if i'm not mistaken which is probably a typo

[2018-04-12 15:50] Yenthe666 commented on #24202
@dbo-odoo when was Odoo.sh last updated? It looks like there is still a bug in there.
@EliasSuess can you reproduce this on the latest runbot instance? I assume this has been fixed in the meanwhile but that the latest Odoo fixes are not yet updated on Odoo.sh.

[2018-04-12 16:01] pedrobaeza commented on #24197
@Elkasitu I would close this until further information is given, or the issue hangs here for a long counting as pending...

[2018-04-12 16:03] nhomar commented on #24183
@Yajo Can you share a snippet of the script you are using, please? I can not reproduce on my side.

[2018-04-12 16:08] celm1990 opened #24204 "[11] Payments of Receipts(with option Pay Directly) are not cancel"
**Impacted versions:**
11, tested on runbot(today)
**Steps to reproduce:**
Create and validate  a Purchase Receipts with option Pay Directly, this create:
a.- account move
b.- Account payment
![image](https://user-images.githubusercontent.com/7775116/38689262-c3a72dcc-3e40-11e8-98d8-adffd56a5013.png)
**Payment create and validate**
![image](https://user-images.githubusercontent.com/7775116/3868930

[2018-04-12 16:32] pedrobaeza commented on #11376
Closing as the fix is in v10.

[2018-04-12 16:32] #11376 closed

[2018-04-12 16:34] pedrobaeza commented on #13968
@sle-odoo any news on this?

[2018-04-12 16:37] MeetKD opened #24205 "[11.0] Web Editor Image tooltip pop over issue."
Impacted versions:

11.0

Steps to reproduce:

Create a new task.

Click on add image button from top menu in editor.

Select any image.

A popover will be displayed for image.

Again click on image button from top menu in editor.

popover will still be visible on above dialog and you will be able to perform any operation for image.

Current behavior:

Expected behavior:

Popover should not be vis

[2018-04-12 17:33] brunobrobks opened #24206 "Error boleto Itau Bank"
Impacted versions: 11

Traceback (most recent call last):
  File "/opt/odoo/addons/web/controllers/main.py", line 1663, in report_download
    response = self.report_routes(reportname, docids=docids, converter='pdf')
  File "/opt/odoo/odoo/http.py", line 512, in response_wrap
    response = f(*args, **kw)
  File "/opt/odoo/addons/web/controllers/main.py", line 1612, in report_routes
    pdf = repo

[2018-04-12 17:39] pedrobaeza commented on #24206
Sorry, but the error you are mentioning corresponds to a custom module, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

[2018-04-12 17:39] #24206 closed

[2018-04-12 17:40] brunobrobks commented on #24206
ok, sorry.

[2018-04-12 18:20] sswapnesh commented on #24197
I think this is because of Someone has deleted the record with xml_id `'product.product_product_6'` and that is used as the reference in `/sale_coupon/data/sale_coupon_demo.xml`.

[2018-04-12 18:31] pedrobaeza commented on #24202
Thanks for the tracking, @sswapnesh. Closing this.

[2018-04-12 18:31] #24202 closed

[2018-04-12 18:42] sswapnesh opened #24207 "[11.0] Location should be required in Return Picking"
Impacted versions: 11.0

Steps to reproduce: Create a Return Picking --> Do no Select Return Location --> Return

Current behavior:

![](https://image.prntscr.com/image/CWQQqT2jSXam9a6_x4OW1w.png)

Expected behavior:  Location Should be required and Return should be Processed.

Video/Screenshot link (optional):

[2018-04-12 18:47] moylop260 commented on #8300
We need a way to see the images in all platform.

Because we have the following cases:

| sentence                                 | apps.odoo.com      | local module view (settings/Modules)        | github |
|------------------------------------------|--------------------|--------------------------|--------|
| `figure: ../module_name/static/image.png` |        🔴           |       🍏

[2018-04-12 19:07] pedrobaeza commented on #24207
Or maybe better to take the source location of the picking being returned.

[2018-04-12 19:11] sswapnesh commented on #24207
That's True, We should take the source location of the Original Picking. (Actually, I removed it from that to test the Picking behavior.)

[2018-04-12 19:27] pedrobaeza commented on #10003
Yeah, I think the same, as visual consistency is here more important than the strict ORM.

Please!

Another thing you can refine is to put the "Add a line" line in the upper part when `editable="top"`, because if not, you force to scroll down to push there each time you want to add the line, and then it's scrolled up automatically to top of the list.

[2018-04-12 19:28] pedrobaeza commented on #8300
@mart-e who is the responsible of the Apps store for checking this with he/she?

[2018-04-12 19:31] pedrobaeza commented on #24205
@qsm-odoo I think this is for you.

[2018-04-12 19:37] pedrobaeza commented on #24196
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details.

If not, this can be due to a configuration change, a custom/community module you have deployed in your DB or an outdated

[2018-04-12 19:41] pedrobaeza commented on #11037
Hi, I'm not able to reproduce this problem in latest version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

[2018-04-12 19:41] #11037 closed

[2018-04-12 19:41] pedrobaeza commented on #11032
@flotho are you sure this is not allowed? Please put an example.

[2018-04-12 19:46] mglacr opened #24208 "Error activating job offers on website"
Impacted versions:11

Steps to reproduce:Activate odoo online employe recruitment

Current behavior:
I get this error:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/models.py", line 1023, in _validate_fields
    check(self)
  File "/opt/odoo/odoo/odoo/addons/base/ir/ir_ui_view.py", line 342, in _check_xml
    if not valid_view(view_arch):
  File "/opt/odo

[2018-04-12 19:46] pedrobaeza commented on #11015
Seeing code, it seems that this is still happening due to the way it's performed:

https://github.com/odoo/odoo/blob/6fb59b23378d05ad59621cf5094dfbe02a311ba5/odoo/fields.py#L1738-L1744

But I'm not sure that this can be achieved, as for calling the selection method, you need the full environment loaded, and in this stage is still not available.

@rco-odoo can you confirm this? Maybe you can add an

[2018-04-12 19:48] pedrobaeza commented on #11008
@flotho did you get this?

[2018-04-12 19:49] pedrobaeza commented on #24208
Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide some screenshots or videos.

If not, this can be due to a configuration change, a custom/c

[2018-04-12 19:52] pedrobaeza commented on #10993
On latest Odoo version (v11), you find the menu entry in Invoicing / Configuration / Analytic Accounting / Analytic Tags, so we can consider this solved, although not in the version 9. You can always add the menu yourself in your DB from models form view.

[2018-04-12 19:52] #10993 closed

[2018-04-12 19:56] pedrobaeza commented on #10981
I consider that this kind of tricks for you to get the proper stock are not correct, as links are not preserved. Any way, all the procurement stuff has been simplified on v11, and maybe your flow is now covered. Please check on that version, and report back about that. I'm closing meanwhile.

[2018-04-12 19:56] #10981 closed

[2018-04-12 19:58] pedrobaeza commented on #10977
This was modified some time ago and it's now working, so I close:

https://github.com/odoo/odoo/commit/b27333919ad5deb464093f72554d82d080c35ed3

Regards.

[2018-04-12 19:58] #10977 closed

[2018-04-12 19:59] pedrobaeza commented on #10964
This doesn't work with VAT numbers, but with the country set on the partner. Closing as probably not a real bug.

[2018-04-12 19:59] #10964 closed

[2018-04-12 20:02] pedrobaeza commented on #10913
@JKE-be are you still considering this as a good feature? It's complicated when the sent mails are involved.

I think there are other better features like auto-save drafts (for not losing what is written when losing connection or accidentally refreshing browser), or delay a bit the sending for allowing to cancel the sending.

[2018-04-12 20:03] pedrobaeza commented on #10906
Closing as this is an old/new API compatibility glitch, which is no more on >=v10, and there are published workarounds.

[2018-04-12 20:03] #10906 closed

[2018-04-12 20:04] pedrobaeza commented on #10892
As stated in #10887, this is already solved, so I close this one also.

[2018-04-12 20:04] #10892 closed

[2018-04-12 20:05] #10913 closed

[2018-04-12 20:06] pedrobaeza commented on #10838
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-12 20:06] #10838 closed

[2018-04-12 20:08] pedrobaeza commented on #10833
This is a configuration problem in your mail server, as you need to use a relay account that allows to send from any sender of your domain. Closing, as no real Odoo problem.

[2018-04-12 20:08] #10833 closed

[2018-04-12 20:10] pedrobaeza commented on #10829
This is a limitation of the framework that is expected and documented right now. There are some plans for trying this to improve, but this hasn't been yet implemented. I close as the documentation about this is already included in reference.

[2018-04-12 20:10] #10829 closed

[2018-04-12 20:10] pedrobaeza commented on #10824
@yvaucher is this still happening?

[2018-04-12 20:12] pedrobaeza commented on #10799
As new API is removed since v10, and there's a workaround for this that is not going to be fixed due to limited scope and the deprecation of old versions, I close this issue.

[2018-04-12 20:12] #10799 closed

[2018-04-12 20:13] pedrobaeza commented on #10775
Hi, I'm not able to reproduce this problem in latest version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

[2018-04-12 20:13] #10775 closed

[2018-04-12 20:13] pedrobaeza commented on #10773
Closing as no answer.

[2018-04-12 20:13] #10773 closed

[2018-04-12 20:14] pedrobaeza commented on #10758
Is this still happening?

[2018-04-12 20:16] pedrobaeza commented on #10730
Newest versions supports to drag on previous/next month days in grey, so this can be considered solved.

[2018-04-12 20:16] #10730 closed

[2018-04-12 20:17] pedrobaeza commented on #10702
No plans for this yet, so I close it. Maybe you can implement this on a community module.

[2018-04-12 20:17] #10702 closed

[2018-04-12 20:17] pedrobaeza commented on #10700
This has been solved in 628a6146d2da1a66e44acb10969c3a9555b88b0c, so I close.

[2018-04-12 20:17] #10700 closed

[2018-04-12 20:31] mglacr commented on #24208
I don't be able to do this on runbot...

I have a fresh odoo installation, cloned from git of odoo 11, i have only this modules installed:
![image](https://user-images.githubusercontent.com/38330061/38702345-aa666c34-3e5d-11e8-90e7-4a3136f0a9d9.png)

I dont have any data in this database is a fresh installation
I just go to the Recruitment menu->Settings->Activate the option **Online job offers**-

[2018-04-12 21:43] luisg123v opened #24209 "Not possible to load data from CSV files using noupdate=1"
Impacted versions:
- 11.0
- 10.0

Current behavior:
The manifest supports several keys to load data files, like `data`. However, none of them loads the data using `noupdate=1`, as used to do the key `init_xml`.

Sometimes, it's necessary to load large data files, and CSV files are loaded about 10 times faster than XML  files.

Expected behavior:
There should be any way to load CSV files using `upd

[2018-04-12 21:57] dgamarnik commented on #19883
I pip installed PyPDF2  on Windows and I'm still getting this error. Any solutions?

[2018-04-12 23:50] edsersolis commented on #19693
Noticed this issue on v11. Is there a time estimate for this to be fixed? I see that last response on this thread was on Feb 21... @lap-odoo

Same thing happens with the Inventory Valuation < which worries me a lot because we already have a bunch of customers in v11.

[2018-04-13 06:36] gurneyalex commented on #11015
also 0 in these fields conflicts with "unset" which is a real pain when dealing with external systems which have enums for states.

[2018-04-13 06:41] Yenthe666 commented on #8300
@pedrobaeza I'm going to assume @dmo-odoo as he is assigned. 😉

[2018-04-13 06:42] nhomar commented on #24209
Hello.

Sorry but this is not supported for now.

When you need speed up the load of a CSV you can use with an init hook + a proper SQL.

Another option simply creates a hook that marks noupdate=1 with such technique in the table ir.model.data (where the xml_id are saved).

I hope you understand.

Regards.

[2018-04-13 06:43] nhomar commented on #23630
@moylop260 We used a technique to achieve that in the module l10n_mx_edi + include the set of noupdate=1 into ir.model.data if needed, please check with @luistorresm

I do not think that's a really needed feature that can have a clean answer.

[2018-04-13 06:45] nhomar commented on #24208
Can you run a -i module_name and put here the log please?

[2018-04-13 06:56] nhomar commented on #24196
Hello @pfichefet .

Please update your code, this is an old solved issue (it happens to me few month ago).

BTW, you are having an ACL problem I tested with pure demo data and just project installed and it is working as expected, please reopen the issue if you think it is not.

Check it you have a problematic custom ACL.

![image](https://user-images.githubusercontent.com/338634/38720908-9f41bad8-

[2018-04-13 06:56] #24196 closed

[2018-04-13 07:38] Yenthe666 commented on #19693
@edsersolis don't forget that the Github issue tracker is on a best effort basis. If you have an enterprise license you can escalate the issue and get it fixed faster though.
@sle-odoo can you give an update please?

[2018-04-13 07:46] sle-odoo commented on #19693
There's a branch at #23262 that fixes the issue but i still have to review and adapt it. As there's no opened ticket at the moment, i'll do it when i get some time. This is not linked to the valuation report, in v11 you cannot group the valuation by location/warehouse as the cost is not on the quants. But when the pr will be merged, the option in the groupby will disappear so hopefully it'll be le

[2018-04-13 07:47] astirpe commented on #22891
Are there news about this issue?

[2018-04-13 07:54] icf20 opened #24212 "[11]error installing payroll"
http://319943-11-0-6fb59b.runbot13.odoo.com

[code]

[2018-04-13 07:56] pedrobaeza commented on #24212
What are the steps followed for reproducing the problem?

[2018-04-13 07:58] icf20 commented on #24212
@pedrobaeza just click the install payroll

[2018-04-13 08:01] pedrobaeza commented on #24212
That runbot instance has been very manipulated (I was tonight for example touching it), so I think it's the problem, due to a record removed, and another hint to guess that is that the module is installed by default. Please try on a fresh one to reproduce the problem.

[2018-04-13 08:06] Yenthe666 commented on #24212
@pedrobaeza when I deinstall and reinstall `payroll` I'm also getting an internal server error on the runbot but a completely different one. Something looks off honestly:
[code]

[2018-04-13 08:11] pedrobaeza commented on #24212
That's because the tests are on a dirty environment as stated. The only way to assure that the tests are correct is to perform it on a clean environment. The problem is that demo data depends on other demo data installed by other modules, and thus if they have been previously manipulated, system will break. Uninstalling is not a guarantee, as you still have the unstable environment.

[2018-04-13 08:18] Yenthe666 commented on #24212
I guess somebody deleted this record:
https://github.com/odoo/odoo/blob/cd48a806ac636806130efcf5c055f73758cb0902/addons/hr_payroll/data/hr_payroll_demo.xml#L128-L136

Which triggers the failing row.

[2018-04-13 09:29] rrahir commented on #15279
This behaviour is  side effect of the way default_ fields work inside Odoo. When looking for a default field. We first look a the keys in context and then we look at the default value on the field.
If you wish to have the default value of the field, you need to clean the context from the default key.

This is a standard, documented and used behaviour in Odoo and as such, we do not intend to change

[2018-04-13 09:31] #15279 closed

[2018-04-13 10:37] jpaulin commented on #24208
@nhomar Btw. Is the line saying a validation file not found, important ? To me seems like that is the very immediate bug, but don't know more of the background of it.

Unknown path: ... (referring to a .rng file)

The .rng is a Relax NG validation file.

[2018-04-13 10:40] TimLai125 opened #24216 "[11.0] Online orders' Salesperson is overwritten as Admin for new portal user"
**Impacted versions:**
11.0c

**Steps to reproduce:**
1. Specify an user as the "Salesperson" for online orders, e.g. Demo User,
![image](https://user-images.githubusercontent.com/27185427/38730551-85b39a78-3f49-11e8-9e2c-91b3143071fa.png)

2. Register an account for a new user
3. Login to the new account
4. Add products into the cart and "Process Checkout"
5. Enter the address and press "Next"

*

[2018-04-13 10:41] pedrobaeza commented on #24212
Exactly, so closing this.

[2018-04-13 10:41] #24212 closed

[2018-04-13 10:43] LGx0 opened #24217 "[11.0] Odoo server error (Print pdf) - "Free version""
Impacted versions:
Odoo 11.0-20180313
Steps to reproduce: All time. Invoice created, proforma created, and anybody create
Use language: Hungarian (magyar)

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

``Hiba:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 11.0\python\lib\site-packages\PyPDF2\generic.py", line 484, in readFromS

[2018-04-13 10:46] yostashiro commented on #24216
The culprit: https://github.com/odoo/odoo/blob/6fb59b23378d05ad59621cf5094dfbe02a311ba5/addons/sale/models/sale.py#L234

This onchange method is triggered when address is updated.  I think the logic to get a sales person should be put into a separate method, so that it can be overriden by website_sale module.

[2018-04-13 11:02] nhomar commented on #24208
@jpaulin The only way it can fail is that you modify either the base code and/or you have a development that changes something in odoo.

As you can see all modules are being installed on [runbot](https://runbot.odoo.com) and I tried myself locally.

It is telling that a path (path in xml not path on files) can't be found, and that only happen if you customize incorrectly a view.

If you do not fin

[2018-04-13 11:02] #24208 closed

[2018-04-13 11:10] pedrobaeza commented on #24216
@JKE-be can you please check this?

[2018-04-13 11:14] pedrobaeza commented on #24217
Hi, this seems something related to your deployment. In concrete, using Windows per se is a big problem, as the library installation and so is a pain. Try on Linux. Check the installation steps on https://www.odoo.com/documentation/11.0/setup/install.html. Maybe you can mitigate the problem using a report name that doesn't contain an illegal character.

I'm closing this issue now.

[2018-04-13 11:14] #24217 closed

[2018-04-13 11:32] aek opened #24220 "Bug that prevent to save record of a field in a o2m field tree not present in the record form"
Impacted versions:
Odoo 11.0

Steps to reproduce:
Create a One2many field that contains a field in the TreeView that it's not present as a field in the FormView, could be a calculated field or a field that will take a value after the record is saved. You could see the field create_date as an example also because this issue was discovered and tested using that field

Current behavior:
The target fi

[2018-04-13 12:00] qdp-odoo commented on #24117
indeed

[2018-04-13 12:06] astirpe commented on #23661
Is Odoo SA intentioned to fix this behavior or shall we close the issue?

[2018-04-13 12:42] JKE-be commented on #23661
not really! maybe improve, but never fix since it is not a bug as shown by @grzekru

[2018-04-13 13:01] #23672 closed

[2018-04-13 13:37] nhomar commented on #23949
I think we can close this issue because it is more a question, but for master this constraint can be improved a little.

**tip** (do this with adult supervision).

You can change the uom with the product deactivated, but remember you will need to set properly with a server action the new uom into the stock.move and stock.move lines and IF with the new unit of measure the cost is different, you wil

[2018-04-13 13:37] #23949 closed

[2018-04-13 13:47] lreficent commented on #23672
Thanks a lot for the fast fix @aab-odoo

[2018-04-13 14:06] Ingala2018 opened #24227 "File "C:\Program Files (x86)\Odoo 8.0-20141128\server\.\openerp\http.py", line 517, in _handle_exception"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2018-04-13 14:25] pedrobaeza commented on #24227
Sorry, not enough information. Please indicate the steps to reproduce the problem.

[2018-04-13 15:12] str commented on #15613
I also was looking for this feature. Is there a plugin for Odoo 10/11 to restore this feature?

[2018-04-13 16:00] Yenthe666 commented on #23394
I'm sure of that! Will you still be active on Github but for logistics then? So I can ping you regarding those issues? ;)

[2018-04-13 16:03] Yenthe666 commented on #24227
@pedrobaeza,

Really doesn't matter. The bug report is for an Odoo version 8.
@Ingala2018 sorry but Odoo 8 is end of life and is no longer officially supported.

Regards,
Yenthe the

[2018-04-13 16:03] #24227 closed

[2018-04-13 16:06] kebeclibre commented on #24067
#2083

[2018-04-13 16:06] kebeclibre commented on #24067
https://github.com/odoo/enterprise/pull/2083

[2018-04-13 16:10] gustavovalverde commented on #24116
Closed by https://github.com/odoo/odoo/commit/080094207888f4514f6a0a8f0263166d7998bbf5

[2018-04-13 16:10] #24116 closed

[2018-04-13 16:17] pedrobaeza commented on #24227
Yeah, indeed

[2018-04-13 16:46] TaiKamilla opened #24229 "Pixelated fonts Wkhtmltopdf"
Impacted versions: 11.0

Steps to reproduce:
  1 - Install odoo certified by bitnami on the google cloud plataform.
  2 - Install Wkhtmltopdf for Debian Jessie from [here](https://github.com/odoo/odoo/wiki/Wkhtmltopdf).
  3 - Print a ticket.

Current behavior:
   Pixelated fonts on the pdf.

Expected behavior:
  Normal fonts.

Video/Screenshot link (optional):
  Sample img!
![image](https://user-i

[2018-04-13 17:17] pedrobaeza commented on #24229
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot).

I'm not able to reproduce this problem in latest runbot version.

I'm closing this issue now, but if you feel this can be something reproducible in runbot with other steps, please reply adding all the additional information for reproducing the problem.

[2018-04-13 17:18] gustavovalverde commented on #19722
After https://github.com/odoo/odoo/commit/080094207888f4514f6a0a8f0263166d7998bbf5, my next PR will be focused on creating the legally required journals with their predefined fiscal sequences here: https://github.com/odoo/odoo/pull/24228

There I create the journals, but I'm not sure on how to create (from the template) the ir.sequence tied to each journal.

[2018-04-13 18:23] deivislaya opened #24230 "[11.0] Technical group users removed after an update"
**Impacted versions:** 11.0

**Steps to reproduce:**

1. From a file of configuration .yml execute the configuration for example:
[code]
**Current behavior:**

The users of group_stock_packaging group are deleted

**Expected behavior:**

After the update, the users added to group_stock_packaging group remain

Video/Screenshot link (optional):

[2018-04-13 18:27] pedrobaeza commented on #24230
Sorry, but this is not a problem of Odoo itself, but a bad manipulation of its ORM/tools. FYI, YAML support will be removed in next version.

Any way, please ask for the problem on the forums or in mailing lists.

[2018-04-13 18:27] #24230 closed

[2018-04-13 18:34] gustavovalverde commented on #24220
Oh, so it wasn't my code but a bug. Good to know 👍

[2018-04-13 18:55] Yenthe666 commented on #24229
@pedrobaeza it is obvious you cannot reproduce. The user is reporting for Bitnami and Debian Jessie. Odoo is on Linux. You cannot reproduce it there so I'm reopening. Hope you agree.

[2018-04-13 19:14] pedrobaeza commented on #24229
But Bitnami is not something official of Odoo. It's not the first time their images are bad configured and give these problems. They should report them, not here IMO.

[2018-04-13 22:27] chris001 commented on #24120
* Sorry for the trouble, this hacking incident was not the fault of `Odoo 11.0` application code.
* It happened because in the course of development, our developer set an easily guessed password for the `odoo` system user, without realizing remote login was enabled for all users so you mustn't set an easily guessed password.
* Then, it was easy for the hacker, in Poland, who was scanning the entir

[2018-04-13 22:38] nhomar commented on #24229
Hello @Yenthe666

this should be closed.

bitnami image **is not** officially supported, they should have (and have) their own support channel.

without the specific configuration supported it is almost impossible to give a proper feedback.

I will close it again (2 vs 1 @Yenthe666 ? if you think and have a stronger PoV please kindly let us know).

[2018-04-13 22:38] #24229 closed

[2018-04-13 23:36] rafaelbn commented on #7464
I will tell my grandchildren about this :smile:

There was a BUG and a contributor made the PR in 2015 https://github.com/odoo/odoo/pull/9884 but one (1) year after, author close it because the version was not supported!!! OMG!

Maybe if @yelizariev would have made the PR in July 2015 Odoo would have merged and not closed? :laughing:

[2018-04-14 00:10] adnredwan77 commented on #24121
Hi, I'm using odoo 8

[2018-04-14 00:21] Guobower opened #24231 "[Master] Can not update app list"
Impacted versions:
Master version 20180413
Steps to reproduce:
1、Creat database using Chinese language
2、Enable debug
3、Update APP list
Current behavior:
Odoo server error
Expected behavior:

Video/Screenshot link (optional):

![qq 20180414081541](https://user-images.githubusercontent.com/22065407/38762243-bd0f05fc-3fbc-11e8-88d3-5f5d96cd037f.png)

[2018-04-14 06:44] sswapnesh commented on #24121
@adnredwan77 Odoo v8 is no longer officially supported.

[2018-04-14 06:59] bodedra commented on #12805
Yes. I am agree with @sle-odoo

You need to tweaking the paper format. Specially with following two.

* Top Margin and
* Header spacing

[2018-04-14 07:08] sswapnesh opened #24232 "[11.0] External API documentation is outdated"
Impacted versions: 11.0

Steps to reproduce:
Officical Documentation link: [https://www.odoo.com/documentation/11.0/webservices/odoo.html](https://www.odoo.com/documentation/11.0/webservices/odoo.html)

Current behavior:

[code]

Expected behavior:

[code]
Video/Screenshot link (optional):

[2018-04-14 07:34] Yenthe666 commented on #24229
After reading the comments from you two I agree. You're both right. Thanks for the feedback.

[2018-04-14 08:16] Yenthe666 commented on #24120
Thanks for the feedback! And something as IP based logins can be a nice security addition.

[2018-04-14 10:54] pedrobaeza commented on #24232
More than outdated, it should unfold Python section into 2: one for Python 2 and one for Python 3. You can access via XML-RPC to an Odoo v11 using Python 2 if you want.

[2018-04-14 10:55] pedrobaeza commented on #24232
@mart-e are you the one that handles this documentation?

[2018-04-14 10:59] Yenthe666 commented on #24232
Yep, he is 😉

[2018-04-14 11:44] sswapnesh commented on #24232
@Yenthe666 I was also thinking of that, But as @pedrobaeza  Said, We have to change it into  2 Sections. So I was not sure how to Handel there.

[2018-04-14 12:26] LGx0 commented on #24217
Thank you, i try linux system...

[2018-04-14 17:54] ruuter opened #24235 "website_sale: requesting not existing shop category results in MissingError and returns 500 instead 404 not found"
Impacted versions: at least 10.0 and up. Tested in runbot.

Steps to reproduce: request not existing category with URL like **/shop?category=999**
Use query parameter instead slug form.

Current behavior: returns 500 Internal Server Error (MissingError)

Expected behavior: to gracefully return 404 not found

The culprit seems to lie [on this line](https://github.com/odoo/odoo/blob/10.0/addons/webs

[2018-04-14 23:31] BIZ4Africa opened #24236 "[10.0] Get blog posts with URL encoded date_begin generates error"
Impacted versions: 10.0

Steps to reproduce:

- Open a web browser
- Type the URL of your blog with URL escaped value for date_begin like:
"https://www.example.com/en_US/blog/our-blog-1/tag/foo-2,bar-3,odoo-12?date_end=2017-08-01+00%3A00%3A00&date_begin=2017-07-01+00%3A00%3A00"

Current behavior:
Odoo log file show an error like below

Expected behavior:

Odoo should convert the date range in prop

[2018-04-15 06:42] tpa-odoo commented on #11740
Hello Eeryone,

I tried all option but seems that long-polling port was causing an issue. using different port solved my issue.

[2018-04-15 07:02] sswapnesh commented on #24235
or maybe we can Propose combination like [this](https://github.com/odoo/odoo/blob/10.0/addons/website_sale/controllers/main.py#L278) and [this](https://github.com/odoo/odoo/blob/10.0/addons/website/controllers/main.py#L121).

[2018-04-15 08:40] Jca2714 opened #24239 "fail web interface"
Impacted versions:
odoo 11 teme backend_theme_v11-11.0.1.0.3
Steps to reproduce:
at the time of implementation in odoo window there are several inconvenient one of them is that
ient one of them is that it is no
on in odoo window there are several inconvenient one of them is that
ient one of them is that it is not being cleaned when the application is unregistered the records of postgrest is old bu

[2018-04-15 10:20] gr22 opened #24240 "Wrong cost price update if zero quantity on move"
Impacted versions: 10

Steps to reproduce: Create MO with a line having lot numbers. When producing select the Lot number but leave qty to 0. Complete the MO.

Current behavior: The cost price of that line is updated to 0 [here](https://github.com/odoo/odoo/blob/10.0/addons/stock_account/models/stock.py#L224) the check doesn't take in account the case when move.quant_ids is empty and so the price

[2018-04-15 12:41] pedrobaeza commented on #24240
I don't see why the cost price should be updated if the final quantity doesn't change...

[2018-04-15 12:43] pedrobaeza commented on #24239
Sorry, but the error you are mentioning corresponds to a custom module, so the problem should be there in that code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

[2018-04-15 12:43] #24239 closed

[2018-04-15 13:03] gr22 commented on #24240
It shouldn't but it does update it to 0

[2018-04-15 13:07] pedrobaeza commented on #24240
Well, then I think it's only a question of float compare. @jco-odoo that line of code should use `float_is_zero` function instead, don't you think?

[2018-04-15 13:59] gr22 commented on #24240
Also the next line in the code breaks the whole loop with **return** so as soon if there is a line with negative quant it will skip updating any following lines but this is probably a new bug report!

[2018-04-15 15:48] xabispacebiker commented on #14620
I have the same problem. The button is located at the POS Configuration > Point of sale.

![captura de pantalla 2018-04-15 a las 17 46 04](https://user-images.githubusercontent.com/1733884/38780330-1c5c4ad8-40d5-11e8-8b5a-08f6c3a7374b.png)

The fact is that it should be automatically refreshed upon adding new product to the point of sale.

[2018-04-15 20:01] gibugeorge commented on #23738
How to update in case of a live instance which is about to commision the website using odoo?

[2018-04-16 00:48] dhannyz commented on #24173
@nhomar you would need to run a local cache of those assets and modify your hosts file to point google and other CDN addresses to your local cache.
Otherwise you could write a module that replaces all references to remote included resources and store those resources inside your new module.

[2018-04-16 00:51] gdgellatly commented on #24173
For Google fonts in particular there is a good less/sass generator for
doing exactly this. I forget its name but I've used quite a bit. Just
select your fonts, specify path and download the zip file.

On Mon, 16 Apr 2018, 12:48 PM dhannyz, <notifications@github.com> wrote:

[2018-04-16 06:11] Yajo commented on #24183
Yes, you need to try to get the request details from a method that can be called from a XMLRPC call. I.e.:

[code]

Then you have to connect to that database through XMLRPC and execute that method. In the example, that happens just by authenticating, [like explained in the docs](https://www.odoo.com/documentation/11.0/webservices/odoo.html#logging-in).

A [quick search](https://github.com/odoo/odo

[2018-04-16 07:56] kebeclibre commented on #24067
closed at https://github.com/odoo-dev/enterprise/commit/06084da514e7362602362bb874ec70376de8b26b

[2018-04-16 07:56] #24067 closed

[2018-04-16 08:11] alexkuhn commented on #24220
Hi @aek

I would like to reproduce it, so that I understand why we get the value `undefined` in the first place.
Unfortunately, I was not able to reproduce it with the above information. I have followed these steps:

- Let **R** be a record containing a many2one field **M**.
- The list view of **M** contains the field `create_date`, while the form view of **M** does not contain `create_date`.

1.

[2018-04-16 08:15] prakashshukla71 commented on #8067
hello
everything is running but suddenly my module is not working properly after clicking on the menu .,its showing error

Error: QWeb2 - template['kanban-box']: Runtime Error: TypeError: dict.record.id is undefined

[2018-04-16 08:51] Linekio opened #24244 "[11.0] Redirect error after deleting child_ids and self."
Impacted versions:
11.0
Steps to reproduce:
Install contacts module.
Open a partner who have child_ids.
Delete one or more childs.
Delete the partner.

Current behavior:
The page isn't redirect to another partner.

Expected behavior:
Redirect to another partner.

Video/Screenshot link (optional):
<a href="http://www.k-upload.fr/afficher-video-2018-04-16-124bae0e2output.mp4.html" title="K-Upload -

[2018-04-16 09:54] aek commented on #24220
Hi @alexkuhn
Do you mean one2many?. The proper steps are:

- Let **R** be a record containing a **one2many** field **M**.
- The list view of **M** contains the field `create_date`, while the form view of **M** does not contain `create_date`.

1. Create a record **R**
2. Add an item in **M**, **M1** by opening **M** model form view, (`create_date` doesn't belong to the form and will set after **R**

[2018-04-16 10:03] Yenthe666 commented on #23674
This was fixed in https://github.com/odoo/enterprise/commit/d7061c1a2b65509277f8b8bb6db6ea0212eef339 and in https://github.com/odoo/enterprise/commit/3cd21e5c19785ef2606b5cf3ad1799b9ed9f2f30

[2018-04-16 10:03] #23674 closed

[2018-04-16 10:15] Yenthe666 commented on #23100
Hi @matt454357,

This should have been fixed in https://github.com/odoo/odoo/commit/aaadfd7d768e6271afc287cea2de19c769aa786a

Regards,
Yenthe

[2018-04-16 10:15] #23100 closed

[2018-04-16 10:50] kharbat commented on #24156
Hi @rahways, thanks for your response. That's true when you're editing a single payslip, you need to save it first then compute. However, when you're editing a batch, records are already saved. And even if you hit save, the input values still do not work properly.

[2018-04-16 11:00] aek commented on #24220
Also reviewing some commits seems that this was solved already
https://github.com/odoo/odoo/commit/8e5156938a9c87b80512bff9ecd025891406e624
https://github.com/odoo/odoo/commit/9c1c2c55c23655c56dcd04c3d80da59b5bcab177

I have tried this in runbot at:
http://320503-11-0-ff07f0.runbot13.odoo.com/web?debug=assets#id=&view_type=form&model=sale.order&action=717
and it's working, weird but working
weird

[2018-04-16 11:11] alexkuhn commented on #24220
Sorry, I meant one2many instead of many2one.

Indeed, https://github.com/odoo/odoo/commit/8e5156938a9c87b80512bff9ecd025891406e624 should have fixed this issue.

The fix above has been merged 3 days ago, which is almost at the same time this issue has been opened.

[2018-04-16 11:58] xabispacebiker opened #24250 "odoo.addons.hw_escpos.controllers.main: Can not get printer description: The device has no langid"
Impacted versions: 10.0

Steps to reproduce: Configure POS with ticket printer and connect Epson TM-T20II to computer via USB, posboxless.

Current behavior: Printer not recognized:
odoo.addons.hw_escpos.controllers.main: Can not get printer description: The device has no langid

Expected behavior: Printer should be detected and operational in POS frontend.

Video/Screenshot link (optional):

[2018-04-16 12:02] #24232 closed

[2018-04-16 12:05] mart-e commented on #24232
The current doc example are indeed in python 2, not python 3.
It is not really an issue but it can confusing. To avoid the confusion, I explicitly specified the examples are written in python 2 at a87dc3111c5.

If somebody wants to submit a PR to convert to python 3, it can be accepted too (not sure if the export is enough, maybe some encoding conversions to do as well).

No need to have two secti

[2018-04-16 12:09] pedrobaeza commented on #24232
@mart-e there are several differences in the import, and in the syntax as it's different syntax, so I think the 2 sections are needed. Thanks any way for clarifying a bit the documentation with that move.

[2018-04-16 12:24] sle-odoo commented on #9181
closed by 941ddaee749aedb9ebe7401ce434b8316e07ae6f

[2018-04-16 12:24] #9181 closed

[2018-04-16 12:34] #24220 closed

[2018-04-16 13:15] carlosdauden opened #24256 "If partner company_id is False don't show any fiscal position with actual company assigned"
https://github.com/odoo/odoo/blob/7b49f5836c0f4a491631d27acb74ddd0106c86b1/addons/account/models/partner.py#L398

@Tecnativa

[2018-04-16 13:25] #24250 closed

[2018-04-16 13:25] xabispacebiker commented on #24250
Issue solved restarting the system with the printer connected.

[2018-04-16 13:28] Tessnim opened #24260 "field completeness cannot be sorted"
Impacted versions: odoo 10

Steps to reproduce:
1- Install gamification module.
2- in developper mode go to settings/gamification tools/goals

Current behavior:
Completeness field cannot be sorted. I can't click it like other fields (Start date, End date, Current Value, ..)
String value of the field is not centered in tree view.

Expected behavior:
Completeness field should be clicked and 'Complet

[2018-04-16 13:33] pedrobaeza commented on #24256
@mart-e I think you were the guy that changes this through #24056

[2018-04-16 13:36] yvaucher commented on #10696
@pedrobaeza I didn't see any change or option to tag a csv file as noupdate, have you?

[2018-04-16 13:40] lap-odoo commented on #23394
@Yenthe666 : Yes you can :)

[2018-04-16 13:41] mart-e commented on #24256
@pedrobaeza I am just the guy who deleted the branch but @kebeclibre can probably check it

[2018-04-16 13:44] pedrobaeza commented on #10696
No, indeed. I'm not sure if this is by design. Any way, if you know how to change this, maybe you can propose something to master. If not, I think this should be closed as "Won't fix" or "Wishlist".

[2018-04-16 13:51] pedrobaeza commented on #24256
OK, I see. I though @kebeclibre was not an Odoo's employee through his nickname.

[2018-04-16 14:00] kebeclibre commented on #24256
@carlosdauden
I think I get what you mean, but not why.

[2018-04-16 14:03] yvaucher commented on #10696
@pedrobaeza it didn't changed in master:
https://github.com/odoo/odoo/blob/master/odoo/modules/loading.py#L89

I have some doubts that a change on `__manifest__` would be accepted, I'll try though to do a proposition in a not too far future.

[2018-04-16 14:08] pedrobaeza commented on #24256
@kebeclibre see this starting data:

- Product with no company
- Fiscal positions with the current company

No fiscal position is shown due to that domain.

[2018-04-16 14:11] pedrobaeza commented on #10696
OK, thanks.

[2018-04-16 14:18] kebeclibre commented on #24256
@pedrobaeza
@carlosdauden
I'm sorry, I don't understand what this is about. Please use screenshots, videos....

[2018-04-16 14:28] lap-odoo commented on #22655
@hbto the task is still in backlog for v12

[2018-04-16 14:49] carlosdauden commented on #24256
You can try to set a fiscal position (with company set) in a partner without company set.
http://320544-11-0-b8133a.runbot8.odoo.com/web?debug#id=8&view_type=form&model=res.partner&action=93

![seleccion_193](https://user-images.githubusercontent.com/7701001/38816180-d52b834c-4195-11e8-9114-364e124e58d1.png)
![seleccion_192](https://user-images.githubusercontent.com/7701001/38816158-ca365926-4195-

[2018-04-16 15:11] #23910 closed

[2018-04-16 16:07] odony commented on #24183
This is the expected behavior as of today, as the XML-RPC layer is implemented separately from the regular web layer. This is from historical reasons, and originally allowed the XML-RPC stack to operate without the web client.
You could either rephrase this issue as a Wishlist request for converting the XMLRPC layer to a normal controller, or close it as "not a bug".

Issues like #21530 or #14939

[2018-04-16 17:24] axeforeverjumo opened #24265 "CRM Activities not showing in Calendar"
Impacted versions: 11

Steps to reproduce: Create an Activity in CRM and then looking for in calendar.

Current behavior: Not showing

Expected behavior: Show my activities in Calendar.

Video/Screenshot link (optional):

[2018-04-16 22:53] edsersolis opened #24266 "[11.0] Purchase Order send by e-mail / print button"
Impacted versions:
11.0

Steps to reproduce:
- Create a RFQ
- Validate it to PO

Current behavior:
- When in RFQ state you're able to send it by e-mail or print it.
- After validating it and generating the PO the send by e-mail and print buttons are hidden requiring the user to unblock the PO in order to send it.

Expected behavior:
- Keep these buttons visible until sent / received.
- These butto

[2018-04-17 02:15] blaggacao opened #24267 "[Session Store] Improve pluggability"
Code users seem to expect some kind of plug-ability for whatever good reason they might have.

#### See, among others,

- 1. [Bloopark's](#7937)
- 2. [V8's](#12515)
- 3. [Smile's](https://github.com/Smile-SA/odoo_addons/tree/11.0/smile_redis_session_store)
- 4. [Keerati's](https://github.com/keerati/odoo-redis)
- 5. [Yeziliarev's](https://github.com/it-projects-llc/misc-addons/tree/11.0/base_sessi

[2018-04-17 03:26] #7766 closed

[2018-04-17 03:26] moylop260 commented on #7766
If something can reproduce it feel free of request re-open it

[2018-04-17 05:59] Elkasitu commented on #24267
Already covered with [this](https://github.com/odoo/odoo-extra/tree/master/session_db) module.

[2018-04-17 06:25] Garibaldy commented on #1677
There is a workaround for this ?

[2018-04-17 06:31] TimLai125 commented on #23354
@dansanti Hi, do you have any update on this.
As we are encountering the same issue as well i.e. deleting the first order line in the sale.order gives the error message similar to yours.
In our case, the issue seems to be resolved after some time passes, e.g. no upgrade any modules / restart the server.

[2018-04-17 07:48] christophlsa commented on #24267
@Elkasitu What is your experience of performance with this module? In the past I experimented a bit with storing the sessions in the postgres database (as @blaggacao linked here) but I had some performance issues. Maybe it was related to my implementation but for me the one module to store in redis was much faster. But I never tested this on a production system (and also never saw the module from

[2018-04-17 07:49] kebeclibre commented on #24256
@carlosdauden
Alright, I get it.

What you want is actually what the fix intends to prevent.
Well, actually the use case I intended to fix was:
- Having multiple companies with many fiscal position each
- When creating an invoice or anything needing fiscal positions
             you end up in the selection list with all fiscal position, even the ones that are irrelevant (not in the company)

[2018-04-17 07:49] #24256 closed

[2018-04-17 08:32] carlosdauden commented on #24256
@kebeclibre are you sure?
With a normal user (not admin), should not this be enough?
https://github.com/odoo/odoo/blob/81d1296323fdaeb88c37bde45f7443afd6ebd0ac/addons/account/security/account_security.xml#L96-L100

@mart-e do you agree with this?

[2018-04-17 08:37] Vegeta-D opened #24271 "Upgrade base module error"
Impacted versions:
10.0

Steps to reproduce:
Upgrade base module

Current behavior:
ParseError: "Error: Duplicate key violates unique constraint" act_window_view_unique_mode_per_action"
DETAIL: The key value "(act_window_id, view_mode)=(55, tree)" already exists
" while parsing file:///odoo/addons/base/res/res_partner_view.xml:454, near

![image](https://user-images.githubusercontent.com/18547994/

[2018-04-17 09:00] kebeclibre commented on #24256
@carlosdauden
That rule says to let users see FP without a company of FP's in companies that the user belongs to.
What if I follow you:
Create an invoice within a company A with admin
assign a FP to it, which belongs to another company B that another user can't see

It is legitimate that a random user from company A accesses the invoice
But it will crash because the FP belongs to B

[2018-04-17 09:14] mart-e commented on #24267
Maybe @nseinlet can answer about the performance questions as he probably have more experience in deployment of this module.

Doing this in an odoo-extra module was because we do not wish to have this in standard at the moment. I am not aware of plans to integrate it or change the way we handle the sessions.

[2018-04-17 09:26] nseinlet commented on #24267
This odoo-extra module was designed for some HA deployments, with poor performance disks you find on some cloud platforms. This permit to store sessions in a different PostgreSQL database than the odoo db.

We solve perf issues with this module, and used it with success on some big deployments (3k+ users)

[2018-04-17 09:37] tgroutars opened #24274 "Impose style guidelines"
I'm still surprised by the lack of imposed guidelines regarding code style.
For example, trailing spaces, space before a column, are still present everywhere I look.

I use a linter, which is very helpful to not only discover style issues, but also real errors, but the sheer amount of errors and warnings when working in the odoo codebase make it completely useless.

Working in a clean codebase mak

[2018-04-17 10:15] Nick-OpusVL commented on #21630
I've created a PR fixing this: #24275

[2018-04-17 11:30] Yenthe666 commented on #24274
@mart-e you're the guy here.

[2018-04-17 11:43] mart-e commented on #24274
Hi Thomas!

https://www.odoo.com/documentation/11.0/reference/guidelines.html

Don't also forget we have decided to _not_ follow some PEP8 guidelines:
https://www.odoo.com/documentation/11.0/reference/guidelines.html#python

In the web framework (as it was recently fully rewritten), the guidelines are now imposed. On the python side, it is a bit on best effort. I don't think @antonylesuisse wants

[2018-04-17 11:43] #24274 closed

[2018-04-17 12:12] smartboxid opened #24276 "Done Inventory Adjustment document can be deleted"
Impacted versions: 11.0

Steps to reproduce: From Inventory-Operations-Inventory Adjustment Create new, input one product and save, Press Start Inventory and all transaction is executed, status become Validated. From List view or Form view, the document can be deleted even in Validated Status.

Current behavior: Inventory Adjustment document can be deleted even in Validated Status, but the transac

[2018-04-17 12:14] Yenthe666 commented on #24276
@lap-odoo this is of interest for you.

[2018-04-17 13:33] blaggacao commented on #24267
I would argue it's not. Because the main requirement lies in those lines:

The ultimate assessment depends on whether those are considered valid opinions, though.

[2018-04-17 13:48] Elkasitu commented on #24267
@blaggacao I'll reopen, but I think it's still pretty doable by extending, modifying, or using the aforementioned module as a template, perhaps not the cleanest way but it works.

[2018-04-17 13:54] blaggacao commented on #24267
@Elkasitu I wanted to gather opinions and probably propose a well discussed & well defined PR to master myself. It's easier on a open ticket... :wink: Thanks!

[2018-04-17 15:16] yelizariev commented on #24267
What I'd like is a possibility to make session management, for example,

* allow the user to see opened sessions and close some of them if need
* make session timeout customizable (it's hardcoded to 1 week at the moment)

[2018-04-17 15:39] #23712 closed

[2018-04-17 15:45] alexkuhn commented on #23712
@jlaloux This issue should be fixed with the following commits:

- in v9: https://github.com/odoo/odoo/commit/b15e805b5ad40e1e8e08e9be1ba248da66158bc9
- in v11: https://github.com/odoo/odoo/commit/b15e805b5ad40e1e8e08e9be1ba248da66158bc9

The patch in v10 is exactly the same as in v9, so it will be forward-ported very soon.

Best,

Alexandre

[2018-04-17 16:28] moylop260 commented on #22313
@Yenthe666 @qdp-odoo If we add a unittest to check this case LGTY?

[2018-04-17 19:57] Yenthe666 commented on #22313
I believe that adding a test is never a bad fact. I'm assuming Odoo will want it against master though.

[2018-04-17 20:24] blaggacao opened #24284 "[Extra handlers] Server Wide Controller"
**_Some_** code users might want to write their own server wide controller, a valid option would be to patch:

[code]
So that extra handler can be modified in the global namespace through a custom `odoo-bin`.
This would be very interesting to implement a RESTful API for server management or to expose some instrumented metrics collected from the workers and exposed on a central Prometheus `/metrics

[2018-04-17 20:26] blaggacao commented on #24267
Working on this, we stumbled over this idea as well: https://github.com/odoo/odoo/issues/24284

[2018-04-17 21:38] blaggacao commented on #24267
Please give some feedback on the design of the PR... :smile: Thanks!

[2018-04-17 22:35] edsersolis opened #24286 "[11.0] Landed cost don't consider returns"
Impacted versions:
11.0

Steps to reproduce:
- Create an OC
- Receive products
- Return part of the products

Current behavior:
- When creating a landed cost for the picking Odoo won't consider the returned products.
**- In case of a mistake (which happened to a customer) there is no way to fix the picking after validated so that the landed cost is only by the products which were actually received

[2018-04-17 23:29] pedrobaeza commented on #8721
The order now in v11 is `sequence, name, id`, so we can consider this as attended, and thus I'm closing.

[2018-04-17 23:29] #8721 closed

[2018-04-17 23:29] pedrobaeza commented on #8627
Closing as no answer. Feel free to open a new issue if this is still happening.

[2018-04-17 23:29] #8627 closed

[2018-04-17 23:31] pedrobaeza commented on #9860
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:31] #9860 closed

[2018-04-17 23:33] pedrobaeza commented on #9504
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:33] #9504 closed

[2018-04-17 23:33] pedrobaeza commented on #9972
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:33] #9972 closed

[2018-04-17 23:35] pedrobaeza commented on #10149
Closing as it's not expected in the near roadmap and it's complicated to get it with good performance. See the proposed OCA modules as an alternative.

[2018-04-17 23:35] #10149 closed

[2018-04-17 23:35] pedrobaeza commented on #10200
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:35] #10200 closed

[2018-04-17 23:35] pedrobaeza commented on #10316
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:35] #10316 closed

[2018-04-17 23:36] pedrobaeza commented on #10405
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:36] #10405 closed

[2018-04-17 23:37] pedrobaeza commented on #10600
Is this still happening in latest code?

[2018-04-17 23:37] pedrobaeza commented on #10696
Closing this as no real bug and a PR is expected.

[2018-04-17 23:37] #10696 closed

[2018-04-17 23:37] pedrobaeza commented on #10758
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:37] #10758 closed

[2018-04-17 23:38] pedrobaeza commented on #11008
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:38] #11008 closed

[2018-04-17 23:38] pedrobaeza commented on #11032
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:38] #11032 closed

[2018-04-17 23:39] pedrobaeza commented on #11065
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:39] #11065 closed

[2018-04-17 23:40] pedrobaeza commented on #11071
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:40] #11071 closed

[2018-04-17 23:41] pedrobaeza commented on #11098
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:41] #11098 closed

[2018-04-17 23:42] pedrobaeza commented on #11107
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:42] #11107 closed

[2018-04-17 23:43] pedrobaeza commented on #11111
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html. In concrete, you have to use the library Pillow instead of PIL and be correctly compiled.

I'm closing this

[2018-04-17 23:43] #11111 closed

[2018-04-17 23:45] pedrobaeza commented on #11120
Do you know if this is still happening with newest JS views in v11?

[2018-04-17 23:46] pedrobaeza commented on #11178
If you want the new quantity to be auto-assigned, you have to install the module procurement_jit. Closing as no real issue, but false expectation without the proper module installed.

[2018-04-17 23:46] #11178 closed

[2018-04-17 23:46] pedrobaeza commented on #11245
Closing as no more relevant information.

[2018-04-17 23:46] #11245 closed

[2018-04-17 23:47] pedrobaeza commented on #11293
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:47] #11293 closed

[2018-04-17 23:48] pedrobaeza commented on #11310
Hi, I'm not able to reproduce this problem in latest runbot version and a working version of that in for example https://www.aeodoo.org/members, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module updat

[2018-04-17 23:48] #11310 closed

[2018-04-17 23:49] pedrobaeza commented on #11318
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:49] #11318 closed

[2018-04-17 23:50] pedrobaeza commented on #11372
The widgets are not programmed to work the way you intend, with MouseDown and MouseUp events, so you have to get used to the expected behavior. Closing this.

[2018-04-17 23:50] #11372 closed

[2018-04-17 23:51] pedrobaeza commented on #11386
Closing as there are several PRs/commits

[2018-04-17 23:51] #11386 closed

[2018-04-17 23:51] pedrobaeza commented on #11415
Sorry, but the error you are mentioning corresponds to a custom module, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

[2018-04-17 23:51] #11415 closed

[2018-04-17 23:54] pedrobaeza commented on #11417
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:54] #11417 closed

[2018-04-17 23:54] pedrobaeza commented on #11420
Is this still happening in latest code version?

[2018-04-17 23:56] pedrobaeza commented on #11436
This is the expected behavior when you don't have any res.partner record with that email for matching them. If you don't like this behavior, you can make a custom module for storing or auto-creating partners that fills this gap.

[2018-04-17 23:56] #11436 closed

[2018-04-17 23:57] pedrobaeza commented on #11437
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:57] #11437 closed

[2018-04-17 23:58] pedrobaeza commented on #11454
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-17 23:58] #11454 closed

[2018-04-17 23:58] pedrobaeza commented on #11473
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-17 23:58] #11473 closed

[2018-04-17 23:59] pedrobaeza commented on #11514
The bounce notification is not always provided by the recipient mail server, due to the spam, so you need to use a verified mail provider, but it's not Odoo guilty. Closing this.

[2018-04-17 23:59] #11514 closed

[2018-04-18 00:02] pedrobaeza commented on #11542
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-18 00:02] #11542 closed

[2018-04-18 00:02] pedrobaeza commented on #11564
Closing as answered.

[2018-04-18 00:02] #11564 closed

[2018-04-18 00:03] pedrobaeza commented on #11580
Sorry, this is not an Odoo issue, but a question. Try to share it in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if someone can help you.

[2018-04-18 00:03] #11580 closed

[2018-04-18 00:04] pedrobaeza commented on #11610
This is a proposal for changing the behavior, so please make a pull request instead of opening an issue.

[2018-04-18 00:04] #11610 closed

[2018-04-18 03:31] rofisyaifulamin opened #24287 "[11.0] Create company using import CSV the warehouse can't update quantity when receive product stockable"
Impacted versions:
odoo 11c
Commit : https://github.com/odoo/odoo/commit/0b1b860d975c5d997c34367074b76b98bb4ea049
Demo data : No

Steps to reproduce:
1. Create company by Import CSV
    - create company using import CSV
    - create user and give access to imported company
    - create vendor and create product
    - create PO and receive product
2. Create company by odoo interface
    - create co

[2018-04-18 04:17] gdgellatly commented on #24287
Interesting.  I think you have found the source of another problem, where bug maintainers insist a properly configured Odoo won't have parent problem and close bugs saying its a user issue, yet  people I trust have been experiencing it on stock locations in particular.

Anyway, as a dirty workaround, normally when I get these issues I tend to just drop the parent_left and parent_right columns and

[2018-04-18 06:12] rofisyaifulamin commented on #24287
Yes, thanks @gdgellatly , i already try your suggestions and work Good. and now when i using user form imported company. and try to create new PO and Receive product the quantity on hands will updated.

but, how users can do when got same bugs?

I hope user never got that issues at the first time when create company using import csv and no need to drop the parent_left and parent_right columns and

[2018-04-18 06:28] Vegeta-D commented on #24271
@mart-e Hello
I do not have delete or customize some views/actions，I just upgraded the base module, this error has appeared。

When I upgrade after annotating the red line, the error does not reappear
![image](https://user-images.githubusercontent.com/18547994/38915007-9986506c-4314-11e8-96a1-2af7e3f17be0.png)

Why is that？

[2018-04-18 06:38] JKE-be commented on #23627
Expected behavior, this route exists but some args are missing.

[2018-04-18 06:38] #23627 closed

[2018-04-18 07:09] Yenthe666 commented on #24284
@JKE-be I think you're the most relevant guy related to controllers. Could you have a look and give feedback please?

[2018-04-18 07:30] Yenthe666 commented on #11748
Hi @rowemoore,

This has actually been changed/fixed in the meanwhile. It now first looks at the code and if it cannot find the code it will look at the name:
https://github.com/odoo/odoo/blob/91ca846447628084f5a089e986319ef18581ddf2/addons/payment_paypal/models/payment.py#L106

Regards,
Yenthe

[2018-04-18 07:30] #11748 closed

[2018-04-18 07:38] Yenthe666 commented on #11930
@pedrobaeza can you give an update please?

[2018-04-18 07:43] #12725 closed

[2018-04-18 07:44] Yenthe666 commented on #12955
@mart-e could you give feedback please?

[2018-04-18 07:48] simahawk opened #24289 "website public user session expired always w/ ajax requests"
**Impacted versions:** v9 to v11

**Steps to reproduce:** fetch some records w/ proper permission via JS in the frontend

**Current behavior:** session expired

**Expected behavior:** give me those records

**Quick solution that is working for all our projects:**

[code]

Taken from https://github.com/OCA/web/pull/402

Full explanation w/ a use case (for v9 at that time) https://stackoverflow.com/

[2018-04-18 07:48] Yenthe666 commented on #13527
@nim-odoo could you have a look please?

[2018-04-18 07:49] Yenthe666 commented on #13578
@tde-banana-odoo friendly reminder for this issue.

[2018-04-18 07:49] Yenthe666 commented on #24112
@mart-e maybe we can make a commit to add `target=_blank` then? If you let me know where I'm happy to make you one.

[2018-04-18 07:50] Yenthe666 commented on #13672
Hi there,

I'm closing this bug report as there has been no feedback in a few months.

[2018-04-18 07:50] #13672 closed

[2018-04-18 07:51] Yenthe666 commented on #13752
@lap-odoo could you have a look please?

[2018-04-18 07:51] Yenthe666 commented on #13754
@lap-odoo could you look at this one too?

[2018-04-18 07:53] Yenthe666 commented on #24289
@ged-odoo could one of the guys at your team have a look please?

[2018-04-18 08:00] pedrobaeza commented on #24287
For me the problem here is clear: you are creating the company via CSV, and this doesn't trigger the creation of all the needed things. It's not something that you can easily patch and I see a bit cumbersome and weird to import companies via CSV.

[2018-04-18 08:02] Yenthe666 commented on #15035
@rco-odoo could you give feedback please?

[2018-04-18 08:03] jco-odoo commented on #13754
I understand the logic, but we should not change this in v10.0, but think about how we can adapt it later on.  @lap-odoo   We could easily create a computed field as the combination of effective and planned dates depending on the state.

[2018-04-18 08:03] #13754 closed

[2018-04-18 08:04] Yenthe666 commented on #15387
Closing as no feedback. I'm going to assume it has been handled.

[2018-04-18 08:04] #15387 closed

[2018-04-18 08:06] Yenthe666 commented on #15849
Closing as there has been no feedback in a few months.

[2018-04-18 08:06] #15849 closed

[2018-04-18 08:30] adrienpeiffer commented on #15900
@benwillig Could you check ? 🎁

[2018-04-18 08:31] Yenthe666 commented on #17128
Hi there,

I'm closing this as there has been no feedback in a few months.
I think this has been solved in the meanwhile.

[2018-04-18 08:31] #17128 closed

[2018-04-18 08:31] Yenthe666 commented on #16806
As discussed with @wardm95 we're closing this one off.

[2018-04-18 08:31] #16806 closed

[2018-04-18 08:33] Yenthe666 commented on #17719
@nle-odoo could you give an update please?

[2018-04-18 08:55] Yenthe666 commented on #18944
@d-fence can you give an update?

[2018-04-18 09:10] Yenthe666 commented on #19852
I made an official ticket for this one - 1837714.
This has been fixed in 11.0 in the meanwhile though!

[2018-04-18 09:12] Yenthe666 commented on #20448
@tde-banana-odoo could you give it some TLC? 🙏

[2018-04-18 09:15] Yenthe666 commented on #20763
Hi there,

I'm closing this bug report as I was not able to reproduce this and there has been no feedback in quite a while.

Regards,
Yenthe

[2018-04-18 09:15] #20763 closed

[2018-04-18 09:47] yvaucher commented on #10696
@pedrobaeza I disagree this is at least some dead code in code base. I consider this as a bug.

[2018-04-18 09:58] Yenthe666 commented on #21073
@smetl could you give an update please?

[2018-04-18 10:29] ThijsvOers commented on #24207
In the case of return of goods by a customer, retail companies will often first inspect the returned goods before it's returned te the original location. In this situation a separate return warehouse (or return location) is created.
My suggestion for improvement is  that the user has the option to return the goods first to the return/warehouse or location (a return warehouse would be a warehouse w

[2018-04-18 10:42] pedrobaeza commented on #10696
As you pointed, the option dissapears when deprecating the keys in the manifest, so it's a missing feature. The only way is to re-add an option in manifest for having this feature back.

[2018-04-18 10:42] rogerv95 opened #24298 "[V11] odoo.http: Exception during JSON request handling"
Impacted versions:
V11, Ubuntu Server 16
Steps to reproduce:
Clean install + odoo modules (any combination of them) + discuss + calendar

Current behavior:
Messages on discuss and chats don't appear after being send. It's necessary to refresh the page.

2018-04-18 10:25:15,132 20243 ERROR TESTVELL odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/home/o

[2018-04-18 11:44] Yenthe666 commented on #24298
Hi @rogerv95,

Have you already tried to update to the latest source code?
Do you have the chatter configured on a different port?

[2018-04-18 11:47] rogerv95 commented on #24298
No, I used the script (the updated from chris) and proceeded with the installation as it was with the script.
Should I change something on the script to make it get the latest source code from GitHub?
I haven't change anything on the chatter port so it should be on default.

[2018-04-18 11:54] Yenthe666 commented on #24298
@rogerv95 the script in fact pulls the latest version. 😉 So that answers the question.
Any extra security / Nginx configurations?

[2018-04-18 12:01] rogerv95 commented on #24298
No, I was looking to use Nginx for the SSL but haven't done it till I get all the setup and testing as I need it.

[2018-04-18 12:12] mart-e commented on #24112
@Yenthe666 sure, in master we can change these buttons to add the target

[2018-04-18 12:40] nim-odoo commented on #22282
When adding a file to to your record the first time, that indeed works because the web client sends to the server the base64 content. So everything works great.

However, when you save, the web clients re-reads the binary field content with `bin_size` set to `True`. Therefore, the web client assumes that the content of the field is actually 'xxx bytes'. When the onchange is triggered, the web clie

[2018-04-18 13:36] lap-odoo commented on #13752
@roedeorm I agree this could be improved, I'll add this in our backlog for the master version. Thanks for your feedback.

(backlog: 36031)

[2018-04-18 13:36] #13752 closed

[2018-04-18 13:42] lap-odoo commented on #13754
@roedeorm I agree it's a good feedback, I've also added this in our backlog (36031)

[2018-04-18 13:42] mart-e commented on #12955
Hi,

You are not supposed to be able to add a line without all the required field. You can not use the "add a line" button if the previous line is not correct. This was already true in v9.

Regarding the message, it should be an error and not a warning as it is blocking (warning = non-blocking).
The message "The following fields are invalid" is generic, this happens not only when a value is missin

[2018-04-18 13:42] #12955 closed

[2018-04-18 13:59] sswapnesh commented on #23627
@Yenthe666 Already using `web/login`, typo `/login` resulted into this error.

[2018-04-18 14:12] sswapnesh commented on #24298
Should be because of odoo configuration. Have enabled workers?

[2018-04-18 14:27] lap-odoo commented on #24276
@smartboxid Hello, I've just tried in version 11 and could not delete a validated inventory adjustment : https://drive.google.com/a/odoo.com/file/d/1DVhCCq5RQhlMM-dyXLR7njzRscAzMHz1/view?usp=drivesdk. Do you still face this issue ?

[2018-04-18 14:27] #24276 closed

[2018-04-18 14:30] smetl commented on #21073
@gdgellatly Do you have a screenshot or a video depicting the problem plz? The default templates available on runbot seems to work perfectly.

[2018-04-18 14:36] sle-odoo commented on #24276
it was fixed by https://github.com/odoo/odoo/commit/8a906f80b4120ca96afcc58331e4ef8733be28c6#diff-fc6cef81fac5ca3c30afb09ccb60ff4c

[2018-04-18 15:31] mohamedhagag opened #24306 "stock.quant product_uom_id should not be a related field but a stored one"
https://github.com/odoo/odoo/blob/e41bcb0e311bfa67c78a13e377ae5c4931ecf24e/addons/stock/models/stock_quant.py#L28

https://github.com/odoo/odoo/blob/e41bcb0e311bfa67c78a13e377ae5c4931ecf24e/addons/stock/models/stock_quant.py#L30

This field should be a stored field on the quant not a related one, from business PoV we should be able to move and report quants with different UoMs and each quant shoul

[2018-04-18 15:33] bhollowa commented on #12144
This bug is also happening in Odoo version 10.0

[2018-04-18 16:25] Yenthe666 commented on #24306
@lap-odoo can you check this and give feedback please? 😄

[2018-04-18 16:35] FlyingPigSolutions commented on #23468
Got busy but wanted to confirm that removing the last code of the app put things back to normal. So when you remove an app just make sure all the code is removed too.
You can look for it by searching its name in the views in developper mode.

[2018-04-18 16:54] mohamedhagag opened #24308 "product.supplierinfo product_uom should be a stored field not a related one to avoid a bug in supplierinfo"
https://github.com/odoo/odoo/blob/a36ff26ce0954c57c00b3ef691714aaf0b5f7eb6/addons/product/models/product.py#L585

https://github.com/odoo/odoo/blob/a36ff26ce0954c57c00b3ef691714aaf0b5f7eb6/addons/product/models/product.py#L587

The product_uom field on product.supplierinfo should be a stored field to avoid a bug that happens as described below:
- create a ProdA with uom_id KG and uom_po_id KG and

[2018-04-18 17:34] sle-odoo commented on #24306
@mohamedhagag quants `quantity` and `reserved_quantity` are always expressed in the product's unit of measure, but it doesn't restrict you from using other UOM that are compatible. If you make an incoming move for a dozen products while its product's unit of measure is unit, you'll get a quant of 12 units.

I'm closing this issue, if you have a blocking case because of the way it's implemented we

[2018-04-18 17:34] #24306 closed

[2018-04-18 18:30] sle-odoo commented on #24287
we stumbled over this issue quite a few times but never found the root cause :-/
sharing your csv file could help
cc @rco-odoo

[2018-04-18 18:56] sswapnesh commented on #24232
@mart-e
or May be we can add like this
[code]

[2018-04-18 19:40] blaggacao commented on #12955
For better per field UX: https://openui5.hana.ondemand.com/#/sample/sap.m.sample.MaskInput/preview
For better general invalid messages: The problem of long lists still exists in some context, for the moment it would be probably sufficient to just keep that in mind...

[2018-04-18 19:58] vcloud9ray commented on #5547
Looks like this is working at v10 now (attrs on GROUP tags)

[2018-04-18 20:27] fmdl commented on #22282
@nim-odoo I don't understand why but with add `bin_size=False` it the context here it is work : https://github.com/OCA/report-print-send/pull/143

[2018-04-18 21:57] grzekru opened #24310 "[11.0][Mobile] Creating timesheet require/show more fields than desktop version"
**Impacted versions:**

11.0

**Steps to reproduce:**

Create timesheet using using desktop mode and using mobile mode.

**Current behavior:**

User must specify Analytic Account field and it is possible to change fields not related to timesheet.

**Expected behavior:**

Mobile version using the same fields as desktop (use different form view for timesheet)

**Video/Screenshot link (optional):**

[2018-04-19 01:56] gogomarine commented on #11627
Same here. V10

[2018-04-19 02:29] gdgellatly commented on #24287
@pedrobaeza other issue reports for this have not been importing via csv, merely we hopefully finally have a reproducible case where someone has recorded the exact actions they took and they are simle to replicate.  As you can see from the report the correct things are triggered e.g. warehouses and stock locations are created but the parent locations are not computed correctly.

[2018-04-19 02:44] bimajatiwijaya commented on #24287
Interesting issue @rofisyaifulamin ,
I have experience (custom module odoo C v9.0) when creating contact with some configuration will generate warehouse, routing etc and i follow sample code from creation res.company which automatically generate a warehouse.

During deployment all setting fully worked via import csv with hundreds data.

[2018-04-19 03:08] Vegeta-D commented on #24271
I installed a custom module

SQL query result is
![image](https://user-images.githubusercontent.com/18547994/38969258-e8c13a40-43c1-11e8-85c2-7daade0fdc41.png)

[2018-04-19 06:01] dansanti commented on #23354
Hi, there are not a solution, and yes when you restart server, cache is cleaned and we can delete it, but when in a few days will happends again, till restart odoo

[2018-04-19 06:07] TimLai125 commented on #23354
@dansanti Thank you for the information. I think it is quite troublesome as it seems to be some environment-dependent issue.
@Yenthe666 Can we have anyone that could explain a bit on this?

[2018-04-19 06:10] Yenthe666 commented on #18429
Hi @odoouser2,

Sorry for the late reply on this.
It looks like you store all attachments in the database as `base64` and that you have a huge `base64` record in that database.
When you have such a long string it can result into this error. As far as I know the only way to resolve it is to do a command line database dump or to remote the `base64` line.

[2018-04-19 06:10] #18429 closed

[2018-04-19 06:12] Yenthe666 commented on #23354
Hmm, this is not an easy one to resolve or figure out exactly what happens. It almost looks like an invalidation / cache issue.
@mart-e have you ever seen something similar?

[2018-04-19 06:25] nim-odoo commented on #22282
@fmdl This method doesn't seem used as an onchange. The problem is with onchanges.

[2018-04-19 06:27] fmdl commented on #22282
This methode is use during this  onchange : https://github.com/OCA/report-print-send/blob/11.0/printer_zpl2/models/printing_label_zpl2.py#L310

[2018-04-19 07:16] mart-e commented on #24271
These two actions `action_contacts_of_customer1` and `action_contacts_of_supplier` and not standard, probably from your custom module (you can add `,d.module` at the end of the first line to see it).
The fact that the query do not return the `action_partner_tree_view1` is the proof that it was deleted.

Also, please make copy-paste in code blocks. Do not give screenshots, it prevents us to read it

[2018-04-19 07:16] #24271 closed

[2018-04-19 07:24] mart-e commented on #23354
No, no idea about this. Are you sure there is not an error before that?

[2018-04-19 07:50] nim-odoo commented on #22282
I don't know how this module was designed, but one sure thing is that at the moment you should not handle binary fields inside an onchange.

[2018-04-19 07:53] Vegeta-D commented on #24271
@mart-e
Please take a look at my definition
`        <record id="action_contacts_of_supplier1" model="ir.actions.act_window.view">
`
`            <field name="view_mode">tree</field>
`
`            <field name="view_id" ref="contacts_of_supplier_tree"/>
`
`            <field name="act_window_id" ref="action_contacts_of_supplier"/>
`
`        </record>
`

`<record id="action_contacts_of_customer1"

[2018-04-19 07:53] jobsbe347 opened #24314 "RFQ mail error"
Impacted versions: 11

Steps to reproduce: null

Current behavior: If i send rfq mail button, give this error.

Expected behavior: send mail

Video/Screenshot link (optional): https://i.giphy.com/media/tHVODjanXIhPp43vGC/source.gif

[code]

[2018-04-19 08:14] mart-e commented on #24271
The two actions link indeed to a different action so indeed it is not the source of the problem.

A way to reproduce your problem is if you delete the ir.model.data `action_partner_tree_view1` but not the linked `ir.actions.act_window.view` record itself.

Check the existence of existing act_window.view in the database linked to the "Customers" action but where no ir.model.data is present

[code]

[2018-04-19 08:39] Yenthe666 commented on #24231
Hi @Guobower,

Thanks a lot for your bug report.
The master version however is a version that is in constant development and which will become the new V12.
This means that we usually don't keep those bug reports open and actively track them as the master keeps breaking quite some times with big changes.
@mart-e it would be nice to fix it anyways.

Regards,
Yenthe

[2018-04-19 08:39] #24231 closed

[2018-04-19 08:48] saldiray06 commented on #24314
`2018-04-19 08:44:23,638 1860 INFO odoo_v2 odoo.addons.mail.models.mail_template: Failed to render template <Template memory:7f4104f04198> using values {'format_tz': <function MailTemplate.render_template.<locals>.<lambda> at 0x7f4104dd22f0>, 'object': mail.message(427,), 'user': res.users(1,), 'format_amount': <function MailTemplate.render_template.<locals>.<lambda> at 0x7f4104dd2620>, 'format_da

[2018-04-19 10:56] tbaden commented on #23623
Any progress on this?

[2018-04-19 11:57] #23206 closed

[2018-04-19 11:57] Yenthe666 commented on #23136
Hi There,

The formatting of your import is not correctly built up and you're referring to a non-existing item.

[2018-04-19 11:57] #23136 closed

[2018-04-19 12:10] Yenthe666 commented on #22237
Hi there,

Closing as there has been no feedback/answer on the latest question in a few months.

[2018-04-19 12:10] #22237 closed

[2018-04-19 12:27] Yenthe666 commented on #15478
Hi there,

Not really a bug but a way of deploying / updating. The module does not match up with your base Odoo version.

[2018-04-19 12:27] #15478 closed

[2018-04-19 12:34] #15007 closed

[2018-04-19 12:39] Yenthe666 commented on #14712
Hi @odoogit,

Thanks a lot for your report.
Can you please add more steps on how to reproduce this or add some screenshots? We need more info.

[2018-04-19 12:41] Yenthe666 commented on #14594
Hi there,

Sorry but this bug report is way to vague and has not enough information.
The Github tracker is only for bugs in the official Odoo code anyways so closing this bug report for those two reasons. You can always ask these kind of questions on the official help forum (help.odoo.com)

Regards,
Yenthe

[2018-04-19 12:41] #14594 closed

[2018-04-19 12:42] Yenthe666 commented on #14534
Indeed, there is no bug here. This is the way it is intended to work.

[2018-04-19 12:42] #14534 closed

[2018-04-19 12:43] Yenthe666 commented on #14445
Hi @lonelysun,

Sorry for the late reply on this one.
The Github tracker is only for bugs in the official code and not the place to ask questions. You can do this on the official help forums at help.odoo.com
`group_ids` are used to set groups there ids on an action for example.

Regards,
Yenthe

[2018-04-19 12:43] #14445 closed

[2018-04-19 12:47] Yenthe666 commented on #13151
Hi @sbidoul,

If I'm not mistaking this one can be closed now?

[2018-04-19 12:49] Yenthe666 commented on #11997
Hi there,

Thanks a lot for your report / question and sorry for the late reply.
The Github issue tracker is only for bugs in the official code though, its not really the place to ask questions. You can do that on the official help forums at help.odoo.com.
As Odoo 8 is now end of life and as all the code has changed quite a bit I'm closing this bug report. I hope you understand.

Regards,
Yenthe

[2018-04-19 12:49] #11997 closed

[2018-04-19 12:50] sbidoul commented on #13151
Yes, although I'm not sure it's resolved in 11.

[2018-04-19 12:50] #13151 closed

[2018-04-19 12:50] Yenthe666 commented on #12524
Hi there,

Do you still face this issue? Can you reproduce it on the latest Odoo instance at runbot.odoo.com?

Regards,
Yenthe

[2018-04-19 14:34] wangsamas commented on #23304
Hi Yenthe,

I also face this issue without installing web_responsive.
I don't know how to use runbot, but to reproduce this issue quite easy, just go to apps then see the log.
We will have this ? mark, all regarding png files

2018-04-19 14:19:45,109 17827 INFO ? werkzeug: 127.0.0.1 - - [19/Apr/2018 14:19:45] "GET /crm/static/description/icon.png HTTP/1.1" 200 -
2018-04-19 14:19:45,268 17827 INFO

[2018-04-19 15:40] vcloud9ray commented on #13602
Encountered this today in v10

[2018-04-19 15:45] aitorbouzas opened #24323 "[11.0] Cannot start inventory"
Impacted versions:
11.0

Steps to reproduce:
Start a new inventory of a full location.

Current behavior:
SQL fails because the search of locations made in
[code]
returns no locations.

Expected behavior:
Expected to get correct list of ids to add them in args, but it fails.

Video/Screenshot link (optional):
I've checked in the shell the search and it didn't work ok, for some reason "child_of" op

[2018-04-19 15:49] pedrobaeza commented on #24323
Please try to reproduce it in runbot, as this seems that can be a problem with your DB (and parent_left/parent_right fields not correctly computed).

[2018-04-19 16:11] Yenthe666 commented on #13602
@vcloud9ray can you please create an official ticket for this one too then?

[2018-04-19 16:46] rogerv95 commented on #24298
I'm not sure if this is related, but today I made a clean install again (this time from the repository as stated in the official odoo documentation). I didn't get that error until I installed openssl, parmiko and pysftp (being used by the auto_backup module). So i'm thinking if it has something to do with openssl or paramiko or I'm completely wrong?
The error is exactly the same:

2018-04-19 16:42

[2018-04-19 16:49] xunonxyz commented on #23794
hi @mge-odoo
yes, it is my case.

[2018-04-19 16:52] xunonxyz opened #24327 "may be it is better"
Impacted versions:
11.0
Current behavior:
`    def update_db(self, model, columns):
        if self.comodel_name in model.env:
            comodel = model.env[self.comodel_name]
            if self.inverse_name not in comodel._fields:
                raise UserError(_("No inverse field %r found for %r") % (self.inverse_name, self.comodel_name))
`
when raise error, i do not which model cause the er

[2018-04-19 16:58] pedrobaeza commented on #24327
Please don't report this as issue. Do a PR if you think it's something to qualify.

[2018-04-19 16:58] #24327 closed

[2018-04-19 17:09] max3903 commented on #23927
@pimodoo Your fix do not work. I cancelled the purchase request and the stock move from input to stock is still in state 'Waiting for another operation'.

Additionally here are other scenario that can help you:

1. Reordering rule →Request Procurement →PO → Confirm PO → Cancel the Receipt → Putaway is cancelled? Yes → :+1:
2. Reordering rule →Request Procurement → PO with 100 → Change quantity to

[2018-04-19 17:42] 10537 commented on #12050
@Yenthe666 @JKE-be v11 is affected too, Do you have some solution?, 2 years and this issue still alive.

[2018-04-19 18:31] smartboxid commented on #24276
No, the error still there.

I clone odoo 11 the latest one, run it. I create new database with demonstration data option checked, install only Inventory App and go to Inventory Adj., delete Starting Inventory and bam it will be deleted. Create new Inventory Adjustment, validated and it can be deleted as well.

That's what I've tried. Thank you.

[2018-04-19 18:45] smartboxid opened #24328 "Done Inventory Adjustment document can be deleted"
Impacted versions: 11.0

Steps to reproduce:
I clone odoo 11 the latest one, run it. I create new database with demonstration data option checked, install only Inventory App and go to Inventory Adj., delete Starting Inventory and bam it will be deleted. Create new Inventory Adjustment, validated and it can be deleted as well. I've reported several days ago and commented the error has been fixed an

[2018-04-19 19:41] fmdl commented on #24328
I think you have not the last version of 11.0 because you can not delete an validated inventory (`done` state). But you can delete an inventory in progress.
https://github.com/odoo/odoo/blob/11.0/addons/stock/models/stock_inventory.py#L101

I have made a PR to fix : https://github.com/odoo/odoo/pull/24329

[2018-04-19 19:50] Yenthe666 commented on #12050
@moylop260 what happend to your OPW? @jke-be can you check this maybe?

[2018-04-19 20:10] JKE-be commented on #12050
From what I remember, we simply disabled the feature, it was a security issue to allow the image:data/

[2018-04-19 22:04] dreispt opened #24330 "Wishlist: GDPR compliance helper features"
I wonder if R&D has any plans or work in progress targetting GDPR compliance enablement.
I believe that the Odoo software will need some additional features to enable this.

There are underway community efforts to specify and build such features, but there is the risk to duplicate efforts and build features already under development by the Odoo R&D.

So, is there any roadmap on this topic that cou

[2018-04-20 02:29] sum1201 opened #24333 "[bug][11.0]When receiving the product into the warehouse, the same batch of products, if stored in two locations, prompt error."
Impacted versions:
11.0
Steps to reproduce:
- create a product  A,tracking: lot.
- create a receive picking , product  A quantity 10,lot: 001,store A,B  location.
- validate picking ,throw error "The combination of serial number and product must be unique !".
- enterprise ticket : 1838203

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

video: https://youtu.be/IB6doRD2nEk

[2018-04-20 05:11] muhsinalungal opened #24334 ""Many2many_tags" widget not working in tree view odoo-10"
Impacted versions:
odoo-10
Steps to reproduce:
go to product variant list view
Current behavior:
widget="many2many_tags" not working properly
Expected behavior:
fixed the same in odoo-11
Video/Screenshot link (optional):
![screenshot-321439-10-0-87b42a runbot14 odoo com-2018 04 20-10-40-27](https://user-images.githubusercontent.com/26205626/39031701-6abbf2ea-4487-11e8-842b-e0d932e99b3b.png)

[2018-04-20 05:13] pedrobaeza commented on #24334
Why is not working? Can you be a more specific? I only see one screenshot (I suppose for v10). How is the same on v11?

[2018-04-20 05:53] jlzhou opened #24335 "[11.0] Mark as paid button is always shown even the payment transaction is done"
Impacted versions:
11.0

Steps to reproduce:
1. Make an eCommerce order by choosing the payment method "Wire Transfer". So, the order number has been generated.
2. Go to the backend Sales / Quotations, Choose the order number which generated by pre-step.
3. On the order form, click the "Mark as paid" button. The state of the payment transaction of the order has been changed as done.

Current behav

[2018-04-20 05:55] Yenthe666 commented on #24330
Hey @dreispt,

Good that you made a topic, I was wondering the same. I already made an official ticket regarding database migration and anonimisation. I believe that process is not GDPR compliant as there is still data linkable to customers plus there is koning legal data processing agreement between Odoo S.A and the partner.

I'm curious about an official statement here.

[2018-04-20 05:55] muhsinalungal commented on #24334
![odoo-11](https://user-images.githubusercontent.com/26205626/39032979-928f62c4-448d-11e8-9a02-374c23e5d701.png)

[2018-04-20 06:05] pedrobaeza commented on #24334
But I still don't see the problem. That's a change in the visual appearance, and in my opinion, it's now better than before.

[2018-04-20 06:05] #24334 closed

[2018-04-20 06:14] muhsinalungal commented on #24334
@pedrobaeza
But I can see the same comparing both versions in the runbot, please look through it.

[2018-04-20 06:31] Yenthe666 commented on #24334
@pedrobaeza he is talking about the label styling that is missing in V10 in the tree view, which you can see on V11 on the second screenshot.
It is just a cosmetic change though, no? I don't see anything breaking or big issue and the cosmetics are better on 11.0

[2018-04-20 06:42] muhsinalungal commented on #24334
@Yenthe666
you said it,
not a big issue, just mentioned,
thank you both..

[2018-04-20 07:12] pimodoo commented on #23927
@lap-odoo Could you give us your feedback about what can be done functionally to handle the not supported cases. Thx

[2018-04-20 09:31] mlaitinen opened #24339 "Sale order margin shouldn't use product purchase price directly"
**Impacted versions:** 8.0, 9.0, 10.0, 11.0

**Steps to reproduce:**

1. Create a product X with sale price 3000 € and purchase price 2000 €
1. Create a new sales quotation
1. Add the product X on the sales order lines and set the purchase price to 0 €
1. Save the quotation

**Current behavior:**
The margin for this order will be 1000 €

**Expected behavior:**
The margin for this order should be 3

[2018-04-20 09:47] mlaitinen commented on #24339
Another expected result could be to ignore the lines where the Cost is 0. That would be less worse than having Odoo do stuff behind your back.

[2018-04-20 09:48] gustavovalverde commented on #19722
@qdp-odoo If you could please review this one:
https://github.com/odoo/odoo/pull/24228
Nothing harmful there.

This is my penultimate PR before end of month, as I'll be adding a few missing taxes to https://github.com/odoo/odoo/commit/080094207888f4514f6a0a8f0263166d7998bbf5 so we can be ready for May 1st.

[2018-04-20 12:54] Vegeta-D commented on #24271
@mart-e
![image](https://user-images.githubusercontent.com/18547994/39051939-d99ca600-44dc-11e8-8258-21c3545cafd9.png)
However, it still does not have the same id.

[2018-04-20 13:11] max3903 commented on #23927
@pimodoo

I was expecting:

2. Qty in Internal Transfer? 80
3. Line removed in Internal Transfer? Yes
4. 1 Internal Transfer with all lines? No, 1 Internal Transfer per PO

[2018-04-20 13:28] #24170 closed

[2018-04-20 13:50] blaggacao commented on #24267
Silence meas approval of the design?

[2018-04-20 14:53] JKE-be commented on #24235
Thanks for the reporting

It has been fixed in v10 and will be ported asap in the next versions

[2018-04-20 14:53] #24235 closed

[2018-04-20 15:03] mge-odoo commented on #23794
Hi,

Well, this is not really supported by Odoo, I'm sorry.
I therefore close this issue.

Thank you for taking the time to write us.

Regards,

Martin

[2018-04-20 15:03] #23794 closed

[2018-04-20 15:17] JKE-be commented on #24216
Waiting PoV of @tde-banana-odoo about commit 0c97c2c47f51a09ecd0efe571bf5ee4448c7c329

[2018-04-20 15:37] JKE-be commented on #21530
https://github.com/odoo/odoo/commit/b4863378efa6a30acc507fd05dc977195c3ff254 should fixed it.

FYI: https://github.com/odoo/odoo/issues/​​​​​​24183

[2018-04-20 15:37] #21530 closed

[2018-04-20 17:38] agyamuta commented on #16566
Hi Yenthe,
It looks like this issue exists on  Odoo v10.0 Enterprise version.
See image below. Thanks.

![image](https://user-images.githubusercontent.com/14207366/39065538-f5564726-4486-11e8-8515-b544224ac659.png)

[2018-04-20 19:15] Yenthe666 commented on #16566
Hmm, interesting. Could you please make a new bug report for this with a step by step reproducible flow? I'll label it and then we can take it from there on with a clean bug report for a supported Odoo version.

[2018-04-20 19:32] agyamuta commented on #16566
Got this bug report.
https://www.odoo.com/my/task/1838339

[2018-04-21 02:25] KeithCu opened #24356 "Pricing model is confusing and overly complicated"
I checked out your website and system recently.

It looks pretty interesting. I don't mind paying for a version with more features and support, etc. but the pricing gets expensive quickly, even without many applications.

My friend's business needs an inventory and accounting system and has 10 employees, all of whom will be accessing the inventory, etc. If I select inventory and accounting, invoic

[2018-04-21 06:59] smartboxid commented on #24328
Sorry, my mistake. Yes, my code is not the latest one.

[2018-04-21 07:26] Elkasitu commented on #24356
Hi,

GitHub is not the place for discussing these kind of issues (we only handle technical details on GitHub), I suggest you either contact one of our salesmen for a quote / to answer all your pricing questions.

What you pay for with odoo online is not a product but a service, each app you install means potentially more maintenance, infrastructure, support from our part (which effectively means m

[2018-04-21 07:26] #24356 closed

[2018-04-21 07:43] KeithCu commented on #24356
Thanks for the info.

I understand that I'm paying for a service, but you created a complicated purchasing process that doesn't relate to the complexity of the software or of your work required.

Open core aka making stuff proprietary isn't really a strength. It might be a good way to make money, but it is taking away freedom. Presumably means I can't see the mobile client or make changes to it.

[2018-04-21 07:51] Yenthe666 commented on #16566
Ah so you made an official Odoo ticket? Nice. It'll be handled there then.

[2018-04-21 08:11] jlzhou commented on #24335
It seems the button had been removed by official updating. Task #1819491

[2018-04-21 09:36] fpodoo commented on #24356
It is a strength if you consider the big picture, and the long term
evolution and sustainability of Odoo Community.

Odoo Enterprise brings revenues. These revenues are invested to sustain the
fast evolution of Odoo (development investments are about 75% open source,
25% Enterprise --> for every $1 we put on paying features, we put $3 on the
open source product)

Would Odoo Community be better if

[2018-04-21 11:01] #24335 closed

[2018-04-21 11:05] kimasplund commented on #23812
Well now its broken in v10 to...
Look at the pretty arrows...

![facebook](https://user-images.githubusercontent.com/13152668/39083482-0c7abf68-456d-11e8-9387-676f954f4425.png)
![google](https://user-images.githubusercontent.com/13152668/39083483-0c961e8e-456d-11e8-9513-1456fb19c02d.png)

[2018-04-21 11:10] kimasplund commented on #23812
https://www.odoo.com/forum/help-1/question/google-oauth-issue-of-https-redirect-uri-mismatch-94071

Well seems this have been issue before?

[2018-04-21 11:14] nhomar commented on #23812
Hello.

at our website we use this feature by default, it is working fine, AFAICR you need to have properly set the ir.config parameter to the https and not the HTTP.

[code]

Do not forget set the add the `web.base.url.freeze` parameter to avoid the change of this when admin login.

Other point is set the http on your load balancr to always redirect to https:// with that you avoid by mistake goes

[2018-04-21 11:44] nhomar commented on #24339
Hello @mlaitinen

IMHO this is a correct behavior, I expect the margin to be either what product says or what the line says.

This is useful when you are evaluating perpetual (with accounting properly set) then you will have the margin closer to what the accounting will say.

Everything has a cost, cost 0 does not make sense in almost any scenario (even if you sale services that you produce you ha

[2018-04-21 11:44] #24339 closed

[2018-04-21 11:46] nhomar commented on #24330
@dreispt

Can you point the list of features that should be added?

[2018-04-21 11:47] kimasplund commented on #23812
Well i have the website set to https:// under company data. I cant really understand where i should have to put it again. and if i would need to start to dig in to the code somewhere i kind of think its a bugg :D

![company](https://user-images.githubusercontent.com/13152668/39083760-ab77f680-4572-11e8-839c-a2194d891bf6.png)

But on the facebook login any http option can prob be removed completely

[2018-04-21 11:52] nhomar commented on #23812
@kimasplund

It is not a bug, it is into ir.config.parameter table (enable technical features and go to the proper menu under technical menu).

I am sorry but the leak of knowledge into the deployment process **cannot be considered a bug**.

As I just said, it is a parameter, and as I said, it is working exactly the same way since some time ago (we have that working).

Sometimes you must dig into

[2018-04-21 11:52] #23812 closed

[2018-04-21 15:23] abdallamhafeez opened #24360 "Pricelist based on python computation"
Hello,
I hope that odoo can adjust pricelist computation to allow to write python code as in salary rules or in tax so that have more flexibility to make pricelist without make customization.

[2018-04-21 16:44] js-landoo commented on #24356
Hi Fabien, I see 2 problems:
1) this price has no hosting (odoo.sh is about $1500 more and other options are similar) and available enterprise service is only for migration (very appreciated by our customers) and bugs (very few, fortunately).
Customer needs more support service and partner has to charge adittionaly for it, so total amount increases from your $4000, easily to $7000 ($1500 for hosti

[2018-04-21 17:58] forksand commented on #24356
There are a few versions of OpenERP/Odoo. When we started using it, OpenERP was 100% free software / open source software, which we expected to continue. They then started locking it down.

There is the (1) official enterprise version and there is (2) the "official community" version. But the best version is the (3) "real community" version maintained by the Odoo Community Association (OCA):

http

[2018-04-21 18:00] KeithCu commented on #24356
Opencore might seem like a strength, but it will also decrease interest in people using your product. For example, it enabled you to setup a painful purchasing process that some won't want to bother with. Also, people might feel like the code they care to see and customize is not available.

I'm not arguing for 100% open source. I'm saying that you should consider a dividing line that makes it eas

[2018-04-21 18:18] MohsenWaleed opened #24361 "User without administration access can enable “Developer mode”"
Impacted versions: 11.0
Steps to reproduce:
Create a new user and grant it manager access for any module (Here I granted it manager in inventory). For Administration, I left it empty.

![image](https://user-images.githubusercontent.com/24973578/39087413-4eab4b78-45a9-11e8-844a-be0af15bcb8c.png)

Then access to the system with this new created account and click inventory menu and you will see it as

[2018-04-21 21:53] dreispt commented on #24330
No definitive list, but some features I can think of:
- Have an output with all personal data about a Person
- Make Employee and Applicant addresses accessible to only authorized people
- Keep records on how personal data was acquired
- Keep records on consent for usage of personal data
- "Forget a person" feature - deleting some data and anonimizing remaining data.
- Audit acesses to relevant per

[2018-04-22 01:39] nhomar commented on #24360
Hello @abdallamhafeez

It sounds good, just classified.

**tip:** It sounds "Ok" but you can always use odoo studio to set complex rules.

[2018-04-22 01:40] nhomar commented on #24361
hello @MohsenWaleed

I think you are a little confused with the Manager for administration given, you can change this behavior by yourself, but it is not what you need to do when you want to give access to all apps for a customer, you should give manager per app.

[2018-04-22 01:40] #24361 closed

[2018-04-22 02:03] nhomar commented on #24356
¿Did somebody makes the math about buying all the apps on separated suppliers (with their own price system)?

[2018-04-22 02:45] lualcontre01 opened #24362 "QR code not being correctly printed"
[Etiqueta QR (28).pdf](https://github.com/odoo/odoo/files/1935171/Etiqueta.QR.28.pdf)
Impacted versions:
10.0
Steps to reproduce:
Print report from form view
Current behavior:
The QR generated ignores anything after #
Expected behavior:
i expect to generate a QR from an URL
http://localhost:8071/web?#id=23&view_type=form&model=account.asset.asset&menu_id=143&action=235
Video/Screenshot link (optio

[2018-04-22 05:15] edsersolis commented on #24356
I don't care much at the pricing, what I don't like is that it was "intended" to be cheaper for small companies and more expensive for larger ones... It was totally the opposite. And yes, you have to pay for admin user which you should never use for production matters.

But ok... We stop selling to small companies, and from time to time we get a small one or at the end we opt for community for the

[2018-04-22 07:14] mga-odoo opened #24363 "Timesheet should not be filled from mobile when timesheet allowed on project"
Impacted versions:
Odoo - 11.0
Awesome Timesheet on Google Chrome

Steps to reproduce:

- Create a database with demo data
- Install Timesheet application
- Disable timesheet on all the existing project (Keep timesheet allowed only on Research & Development project)
![project-timesheet-disable](https://user-images.githubusercontent.com/7595796/39092378-1bf11d80-462a-11e8-815d-1657633fc9e9.png)
- L

[2018-04-22 08:14] kimasplund commented on #23812
But i have https://domain there and it still refuses to properly make the link

[2018-04-22 08:29] abdallamhafeez commented on #24360
Hello @nhomar

I can not use studio because in studio cannot change python function in code as function `_compute_price_rule` in model `product.pricelist` so if we can add other option in `base` field to write python code and adjust `_compute_price_rule` function.

[2018-04-22 12:42] jjscarafia commented on #7417
:+1:  for clarifying recommendations and use case for .new vs .create and .write vs .update
BR!

[2018-04-22 14:58] jlzhou commented on #10701
I met same issue in odoo11

[2018-04-22 17:53] MohsenWaleed commented on #24361
Hello @nhomar,

As you can see from my first screenshot, I never gave any access for administration and from the second screenshot you will see that the user have access to configuration as a manager (but there is no menu names "Intercoms" or "Barcode nomenclature") and when a use add "?debug" to URL after "web"  there are a new menus shown in the configuration as you can see from the third screen

[2018-04-22 21:14] fpodoo commented on #24356
- Odoo Online includes free hosting
- Both Odoo Online & Odoo Enterprise includes unlimited functional support,
in addition to bugs (it changed since v11)
- Odoo.sh is free for partners (they get 100% commission)

be significant, the main cost is by far the R&D, that allows the product to
evolve. (for both Odoo Community and Enterprise)

Our goal has always been to make integrated management softw

[2018-04-22 21:26] gdgellatly commented on #8021
There is nothing special about office 365 mail. I use it in all versions
and in loads of other software. It will be configuration.

On Mon, 23 Apr 2018, 5:19 AM Adrian Lazaro Lara perez, <
notifications@github.com> wrote:

[2018-04-22 23:57] jlzhou opened #24365 "[11.0] Bad Translations in Chinese!!!!!!!!!!!!!!!!"
Impacted versions:
11.0

Steps to reproduce:
Search odoo code by the following keywords and filter files with *cn.po:
mail.template,report_name

Current behavior:
Many wrong translations cause odoo running error:
jinja2.exceptions.TemplateSyntaxError: unexpected char '‘' at 18

Expected behavior:
DO NOT using auto translation!!! PLEASE do complete  translation REVIEW!!!

Video/Screenshot link (opt

[2018-04-23 00:50] woodheadhn commented on #24365
Bad Translations

[2018-04-23 01:26] niulinlnc commented on #24365
Chinese translation is too bad！！

[2018-04-23 01:45] xhair commented on #24365
Chinese translation is too bad！！
Some of the original translations are quite good. Now many translations are too unprofessional translated by translation companies.

[2018-04-23 01:50] elicoidal commented on #24365
@fpodoo This is becoming quite an issue with more and more complaints.
The community knows the language of the implementations and the translation company is overriding terms with unrelated ones.

[2018-04-23 03:04] digitalsatori commented on #24365
Another example. The transaltion done by the transaltion company changed the order of the variables in the text, which caused a type error.
<img width="1282" alt="odoo_11_0___transifex_" src="https://user-images.githubusercontent.com/140909/39105019-d161bd4e-46e5-11e8-96cd-efdfdf2790a0.png">

[2018-04-23 03:30] jlzhou commented on #24365
![bug2](https://user-images.githubusercontent.com/1243299/39105657-9ffa858e-46e9-11e8-8279-5c7de6704386.png)
Translation BUG in the website footer!!!!

[2018-04-23 05:55] Yenthe666 commented on #24365
@mart-e for your interest, multiple complains about the bad Chinese translations (again).

[2018-04-23 07:32] mart-e commented on #24365
@jlzhou I believe we already stated about that issue at #23841. Creating more issues with more exclamation marks is not helpful.
Thank you to stay cordial and do report the issues on transifex, pinging the translator and myself.

[2018-04-23 07:32] #24365 closed

[2018-04-23 07:58] #23988 closed

[2018-04-23 08:44] JKE-be commented on #24236
I cannot reproduce your issue.
https://youtu.be/EHVQXhAs1yc

Please give more info.

[2018-04-23 08:56] zahidali746 opened #24367 "Odoo Server error"
Impacted versions:
There was some issue with leave module so I have clicked on upgrade button. now I want to open any form in hr module it shows me the following error. I dont know what i should do. I'm new in odoo please help me. I'm using Odoo 8.

Odoo
Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 544, in _handle_exception
    return super(JsonRequ

[2018-04-23 09:43] pimodoo commented on #23927
Hello,

Thank you for your feedback, but from a functional point of view, we cannot support your three following case:
2: the difference, than when a PO is manually created, is that a reordering rule creates a procurement in a specific location, here in stock, that will create the move from Input -> Stock, and then the request for quotation to fulfill, what you need in Input -> Stock. In your case

[2018-04-23 10:09] jlzhou commented on #24365
@mart-e suggest to hire full-time employee to manage Chinese translation instead of the community review. Too many Chinese translation mistakes cause great odoo running in bad quality.

[2018-04-23 11:04] #24034 closed

[2018-04-23 11:05] qsm-odoo commented on #24034
Hello, this was indeed a bug. The feature is now restored thanks to commit https://github.com/odoo/odoo/commit/61c32429a6063e376ae622bb05d912c36ac9778a.

[2018-04-23 11:34] lap-odoo commented on #24276
@smartboxid I'm sorry but I can't reproduce it on runbot, did you try on a runbot ?

[2018-04-23 11:37] Yenthe666 commented on #24365
@jlzhou why don't you contribute and change the wrong terms though? After all it is an open source effort. We do it for Dutch too.

[2018-04-23 11:42] elicoidal commented on #24365
@Yenthe666 I think this is not the problem here: last year Chinese translation was handled by the community and Chinese was one of the highest translated language.
Decision has been made to rely on external translation company to supersede community effort: in principle to improve the quality of the translation.
A lot of "proper terms" maintained originally by the community have been removed/chang

[2018-04-23 11:54] Yenthe666 commented on #24365
Hmm, that is a pity to hear.. Usually things should improve when you have a paid service but that doesn't seem to be the case then. I guess the final call is still up to @mart-e and @fpodoo

[2018-04-23 11:59] mart-e commented on #24365
@elicoidal @jlzhou even if I am rejecting this github issue, I do consider your feedback. We have forwarded your comment about the bad translations.

The fact that bad translations are made: honest mistakes happens. These are not machine translations (or you would not get this kind of errors). Bad placeholder position is the kind of errors that happens all the time with every translation team unfo

[2018-04-23 12:05] pedrobaeza commented on #10701
This is because a browse with a string is done instead with an integer. If it's in your custom code, check it. If it's in standard Odoo code, put a new issue with the steps to reproduce or if you are able to identify in which place of the code is happening, make a PR or point to that line in a new issue.

[2018-04-23 12:07] pedrobaeza commented on #24362
I don't get what is the problem. Is there any error? Steps to reproduce it?

[2018-04-23 12:14] lualcontre01 commented on #24362
The problem is that in intend to transform an URL into a QR, but anything after a # just dont show in the QR.

For example, if y try to transfor this string "Hello#Wrold" into a QR i will only transform "Hello"

[2018-04-23 12:47] pedrobaeza commented on #24362
But transforming how? Put the code you are using.

[2018-04-23 12:49] lualcontre01 commented on #24362
Im just doing whats in the odoo doc.

<img t-att-src="'/report/barcode/?type=%s&amp;value=%s' % ('QR',o.get_asset_url())" style="width:300px;height:300px;"/>

[2018-04-23 13:17] ougc27 opened #24373 "Wrong valuation value on out moves with multi UoM"
Enterprise Ticket No. 1838335

**Impacted Versions**
11.0

**Steps to reproduce:**

- Set the system parameter "stock.propagate_uom" to 1.
- Create a Sale Order with a product (1 Dozen).
- Confirm the Sale Order
- Validate the stock picking with 1 Dozen of quantity done.
- See the stock move form.

**Current behavior:**
The value of the stock move is the price unit and not the correct value becaus

[2018-04-23 14:10] odony commented on #24330
Note: as an attempt to stop spreading more GDPR confusion/noise, I've change the title of your question.

[2018-04-23 14:32] odony commented on #24330
It's very important for users and companies to understand the real purpose and consequences of GDPR, and the fact that no software in the world will make them GDPR compliant. The internet is full of FUD about this topic, between confused techs, mislead users, misinformed press articles and evil marketing, it's very hard for people to understand what is going on.

So let's please treat your questio

[2018-04-23 14:38] sandeepksrana opened #24375 "raise Exception("bus.Bus unavailable") with /longpolling/poll while setting workers"
Impacted versions:11

Steps to reproduce: after setting wrokers other than 0 only

Current behavior: raise Exception("bus.Bus unavailable")
Exception: bus.Bus unavailable
2018-04-23 14:34:22,984 18239 INFO vedb werkzeug: 192.168.6.234 - - [23/Apr/2018 14:34:22] "POST /longpolling/poll HTTP/1.1" 200

Expected behavior: it should be working fine

Hi There, I have gone through all the  questions ment

[2018-04-23 14:56] Yenthe666 commented on #19852
Fixed with https://github.com/odoo/odoo/commit/e4731d0327b77da7f3013c13caa606951dbb0a69 in 10.0!

[2018-04-23 14:56] #19852 closed

[2018-04-23 14:58] pedrobaeza commented on #24375
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-04-23 14:58] #24375 closed

[2018-04-23 18:51] mauricioperez commented on #14753
Very clear the solution

[2018-04-23 18:54] mauricioperez commented on #14753
@antonellaandreoni very clear solution, thanks!

[2018-04-23 19:17] sswapnesh opened #24377 "[11.0] Forum: Could not Create and Edit Documentation stage from Kanban View"
Impacted versions: 11.0

Steps to reproduce: Go to Website/Forum/Documentation Posts --> Create New Stage and Edit Without Refreshing the Page

![](https://image.prntscr.com/image/00oNC_6ORS6HBa_XUghh4w.png)

![](https://image.prntscr.com/image/SwCqL3ejTRmGTWZgDctBxw.png)

![](https://image.prntscr.com/image/92blOg2jR8mf0441rJYtiw.png)

![](https://image.prntscr.com/image/dII-rybiTg2QPPZno_ZdYQ.pn

[2018-04-23 20:12] carlosecv opened #24381 "Issue on reception The combination of serial number and product must be unique!"
Impacted versions:

11.0 CE

Steps to reproduce:You must have tracking lots on products installed

Current behavior:
Create a product with tracking by lots
Create a reception for one Lot number on inventory,
then create a new reception with the same lot number and product
I couldn't receive same lot product twice Selected Tracking by lots not unique serial numbers

Expected behavior:
the product i

[2018-04-23 20:28] sle-odoo commented on #24381
hi,
you have to tick "use existing lots" in the settings of the picking type.

regards

[2018-04-23 20:28] #24381 closed

[2018-04-23 20:45] KeithCu commented on #24356
Hi Fabien,

Your pricing is not simple to understand for someone who doesn't know your product. You've got a module called "Leaves." How many years have you worked on this codebase? I suggest showing it to someone new.

Your pay for apps and users system does scale, but it's not easy to understand, and in fact the value proposition is nonsensical in certain cases. Please explain to me why my frien

[2018-04-24 02:57] harked commented on #19891
does this issue has been fixed?

[2018-04-24 07:36] pedrobaeza commented on #12380
Is this still happening?

[2018-04-24 07:37] pedrobaeza commented on #12304
@JKE-be did you check this one?

[2018-04-24 07:39] pedrobaeza commented on #12223
This is a know issue due to the way translations work, as there's no way of differentiating a missing translation (and then it should be used the original term) and an empty translation. You have to put an space and the content will be erased.

Closing as there's no other solution by design.

[2018-04-24 07:39] #12223 closed

[2018-04-24 07:39] pedrobaeza commented on #12208
This module is deprecated and 9.0 in its end of life cycle, so this is will be hardly fixed, so I close.

[2018-04-24 07:39] #12208 closed

[2018-04-24 07:41] pedrobaeza commented on #12144
@rco-odoo is there any news about this?

[2018-04-24 07:43] jco-odoo commented on #12380
It has nothing to do with solving the negative quants.  (there it can take child location)

[2018-04-24 07:44] pedrobaeza commented on #12142
This is something not controlled at client level, and the computations are done on server side. I'm not sure what do you intend to do with onchanges in this case, but I appreciate no real issue here, so I close it. Feel free to open a new issue being more specific if you consider.

[2018-04-24 07:44] #12142 closed

[2018-04-24 07:50] pedrobaeza commented on #12001
@mart-e I think this can be closed as there's nothing in the roadmap.

[2018-04-24 07:50] pedrobaeza commented on #12465
Is this still happening?

[2018-04-24 07:51] #12001 closed

[2018-04-24 07:53] ged-odoo commented on #12001
for info, an (internal) task was created to solve this issue.  It is in the framework project, and may or may not be done in the future.  But it is still possible :)

[2018-04-24 07:54] pedrobaeza commented on #12050
Yes, it was disabled, at least on v11, although not the ideal solution. Odoo messaging system still lacks the option to embed images in the middle of the content. This reduces a lot the possibilities and this is a strong argument from some of our customer for not abandoning their email clients. Is there anything in the roadmap for this?

[2018-04-24 07:55] pedrobaeza commented on #11978
Is this still happening on latest versions? Do you plan to make any PR?

[2018-04-24 07:56] pedrobaeza commented on #11936
This has been merged in latest master version, so closing.

[2018-04-24 07:56] #11936 closed

[2018-04-24 07:57] pedrobaeza commented on #11901
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-24 07:57] #11901 closed

[2018-04-24 07:59] pedrobaeza commented on #11891
This was already restricted, so I close.

[2018-04-24 07:59] #11891 closed

[2018-04-24 08:00] pedrobaeza commented on #11858
This is working fine in my end. The code I'm seeing contains a typo, so it's a possible source of the problem. Any way, if this is still reproducible, feel free to open a new issue.

[2018-04-24 08:00] #11858 closed

[2018-04-24 08:01] pedrobaeza commented on #11850
This has to do with the way ORM handles this, so no easy solution. A workaround is to put the fields as readonly. Closing as no possible solution right now.

[2018-04-24 08:01] #11850 closed

[2018-04-24 08:02] pedrobaeza commented on #11802
Although there's still no command line argument for this, the list is updated before updating or installing anything, so this is enough IMO, and thus I'm closing this.

[2018-04-24 08:02] #11802 closed

[2018-04-24 08:05] Yenthe666 commented on #12001
Good to know that there is a task for it. Thanks for the feedback!

[2018-04-24 08:07] pedrobaeza commented on #11765
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-24 08:07] #11765 closed

[2018-04-24 08:12] pedrobaeza commented on #12380
Thus I deduce that this can be closed.

[2018-04-24 08:12] #12380 closed

[2018-04-24 08:12] pedrobaeza commented on #11760
That's not the intended behavior. Only ir_model_data records are created on exported records.

[2018-04-24 08:12] #11760 closed

[2018-04-24 08:14] pedrobaeza commented on #11715
This is not the intended behavior, as you can't only apply to other pricelist if the computation method is a formula, not a direct discount. Closing thus.

[2018-04-24 08:14] #11715 closed

[2018-04-24 08:15] pedrobaeza commented on #11696
Category or product discounts have more priority than global one, and they are not accumulative. Closing as no real issue, but misunderstanding on how this works.

[2018-04-24 08:15] #11696 closed

[2018-04-24 08:16] pedrobaeza commented on #11691
@sle-odoo is there any news with this? I personally don't start with workers for updating on my deployments, but it can be a problem.

[2018-04-24 08:46] mrezki opened #24383 "RML Report Deprecated"
Impacted versions: 10

Steps to reproduce: Click Export XLSX on module OCA

Current behavior: raise error access denied

Expected behavior: Export to Excel

Video/Screenshot link (optional):

Additional Info:
In the RML Report V10 should not have been deprecated, but in the latest odoo already deprecated, so some reports become inaccessible, then raise error access denied.

this is the log while e

[2018-04-24 08:50] Yenthe666 commented on #24383
Hi @mrezki,

Sorry but the Odoo Github tracker is only for issues in the official code. You're using an OCA module which tries to use deprecated RML reports. Do reach out to the OCA owner or make a PR to handle it there.
CC @pedrobaeza

[2018-04-24 08:50] #24383 closed

[2018-04-24 08:58] faryadm opened #24384 "odoo in mobile browser"
Hi,
I am using odoo community 10 in my company and  I have two problem and  I can not find any solution.
1.When my users use odoo from mobile browser , thier session conflict together for example user1 login to odoo then view all information of user2 .
for resolve this problem I kill session when 5 min is idle, conflict is better but i have it.

2.when I using mobile browser time zone is not corre

[2018-04-24 10:02] KomarovAlea opened #24390 "The function description does not match the code"
This is description
https://github.com/odoo/odoo/blob/0351b492d55e297699a6881e10500d007bd7e10f/odoo/addons/base/ir/ir_mail_server.py#L391
is describes the code, which was moved from func '**send_mail**' to '**connect**'.
But function description forgot to transfer from 'send_mail' to 'connect'.

This code was moved:

[code]

[2018-04-24 10:07] pedrobaeza commented on #11930
Closing as I can't reproduce it right now (taking into account that there are no 3 level now in pricelists).

[2018-04-24 10:07] #11930 closed

[2018-04-24 10:45] KomarovAlea commented on #24390
I get the error in log: Mail delivery failed via SMTP server '**None**'.
Look at the calls stack:
1. send() from /mail/models/mail_mail.py
 make call 'smtp_session = connect'.
and than call _send(smtp_session)

2. _send(...smtp_session) from /mail/models/mail_mail.py
make call send_email() with params: mail_server_id, smtp_server, smtp_port, smtp_user, smtp_password, smtp_encryption, smtp_debug, a

[2018-04-24 13:42] tgroutars opened #24394 "qweb text field: Do not replace new lines with <br>"
Just why ? ^^
https://github.com/odoo/odoo/blame/11.0/odoo/addons/base/ir/ir_qweb/fields.py#L211

Proposed solution: just wrap the field value in a `<pre>` tag. I'd propose a PR, but I guess it would break a few things. Can we consider this for future versions, though?

[2018-04-24 15:04] hugho-ad commented on #23502
Any news about this ??

[2018-04-24 15:13] yelizariev commented on #11978
I believe it's still there. I made the PR https://github.com/odoo/odoo/pull/24397

[2018-04-24 15:18] pedrobaeza commented on #11978
Cool, then we can close this issue as it's referenced in the PR.

[2018-04-24 15:18] #11978 closed

[2018-04-24 15:24] hmartinet opened #24398 "Bug with 2 fields with ace editor widget on same form view"
On Odoo 10, if 2 fields of the same object uses widget="ace" there is a js error "define is not a function" when loading mode-python.js.

[2018-04-24 15:32] JKE-be commented on #12050
from what I know, not...
But since we have improved the attachment viewer in v12, it is maybe in the continuity...

//cc @bst-odoo (the product owner)

[2018-04-24 16:20] joequant opened #24399 "Need to release spec file to generate rpm"
Impacted versions:
11.0

Steps to reproduce:
Would like to generate local rpm of odoo from source.  Would be nice to check in the spec file used to generate a package

Current behavior:
spec file to generate rpm not available

Expected behavior:
add spec file to repository so that users can generate their own rpms

Video/Screenshot link (optional):

[2018-04-24 16:34] jboilesen commented on #21546
+1 waiting for solution

[2018-04-24 18:27] max3903 commented on #23927
@pimodoo Thanks @pimodoo. Setting the group_id seems to have the behavior we expect.

[2018-04-24 19:24] pedrobaeza commented on #21546
This is a misconfiguration in your part, using products with the company field set with the other company. You should leave that field empty or use another product. Closing as no real issue.

[2018-04-24 19:24] #21546 closed

[2018-04-24 19:34] JKE-be commented on #12304
Still reproducible.
I have tagged the right team.

[2018-04-24 19:56] jboilesen commented on #21546
No, it's not with the other company (!!!)

[2018-04-24 20:13] jboilesen commented on #21546
I found that "Down Payment" (product template) has something to do with this. It's not a configuration issue, since Odoo may be assigning Down Payment to a company and making it impossible to generate invoices to other companies.

It needs some investigation since this issue is reported since Odoo 8. :)

[2018-04-24 20:29] jboilesen commented on #21546
Yes! This is it: In a Multi Company environment, Down Payment must be assigned to the Company to let that specific company generate Invoices ─but the other companies will be unable to generate invoices.

[2018-04-24 21:13] ougc27 commented on #24373
PR https://github.com/odoo/odoo/pull/24352

[2018-04-24 21:15] KomarovAlea opened #24401 "Odoo v.11 stock.picking: Auto-change Quantity : 5.951 -> 5.949999999999999"
https://github.com/odoo/odoo/blob/b192431aeecc59b48898ce9c6f276b82d65cbfa6/addons/stock/models/stock_move.py#L1026

rounding_method ='UP'
I think it **need be changed to:**
rounding_method ='HALF-UP'

I get this message then I Verify new Delivery(stock.picking):

and

How I did it(you can also repeat this error): Create new Product > add Qty on hand > Create SO > Add Product with quantity 5.5 > Ve

[2018-04-24 21:29] jboilesen commented on #21546
SOLVED!

To solve this: set the company_id of the Down Payment product template equals to "NULL". ;)

[2018-04-24 22:50] JulioSerna opened #24403 "[account] wrong taxes in accounting setting with multicompany"
Impacted versions:
* 11.0

Steps to reproduce:
* Create two company companyA and companyB
* Set the user with both companies
* With the user in companyA set the CoA and purchase/sale taxes
* With the user in companyB set the CoA and purchase/sale taxes
* Create one file e.g. into account/data/res_config_settings.yml
* Define the file in account/__manifest__.py

e.g. of file account/data/res_config

[2018-04-25 01:37] blaggacao commented on #12380
@pedrobaeza perfectly so, thanks.

[2018-04-25 01:39] blaggacao commented on #12142
@pedrobaeza Thanks for cleaning this. It's too old to remember... :wink:

[2018-04-25 01:40] blaggacao commented on #11661
@pedrobaeza As far as I know this (and related issues) is still a long standing limitation.
You can imagine the lift it would provide for current reporting constraints. So far that it might even affect end customer happiness positively...

[2018-04-25 05:53] yuriqp opened #24405 "Action applied only on first page when using select all checkbox on list views"
Impacted versions:
11.0

Steps to reproduce:
Go to a list view (for example: Sales -> Orders -> Quotations)
Apply a filter (for example: Quotations)
Modify the records per page in the list view, so there is more than one page for the filtered records
Use select all checkbox
Apply an action (for example: Delete)

Current behavior:
The action is applied only to the records on the first page

Expecte

[2018-04-25 05:56] KomarovAlea commented on #24401
Odoo also automatic created another WH/OUT for quantity 0.001
![default](https://user-images.githubusercontent.com/34191760/39228359-75460ede-4866-11e8-876d-353e5ead3925.png)

[2018-04-25 06:54] mart-e commented on #11661
Hello,

The feedback is still present and no decision was taken yet, I can't tell you if/when we will do it but it is still pending.
Changes in the ORM are never easy...

[2018-04-25 07:15] sandeepksrana commented on #24375
Hi @pedrobaeza  I had did the same based on the link you shared even many time but its the same issue, can we remove this as we don't need the chat system or longpolling thing,  please let me know, here is the screen shot of logs coming up and even very fast , system working fine but exception coming up in logs
![screenshot from 2018-04-25 12-43-48](https://user-images.githubusercontent.com/302285

[2018-04-25 07:36] pedrobaeza commented on #12304
OK, thanks.

[2018-04-25 07:38] pedrobaeza commented on #24405
I don't consider this should be done everywhere, as it can lead to confusions. If you want to apply to all the recordset under the domain, change the page limit.

[2018-04-25 07:39] pedrobaeza commented on #11661
OK, then I keep it opened for now until there's a decision.

[2018-04-25 07:48] pedrobaeza commented on #24375
If you don't want that, remove workers, or fix the underlying problem (a bad configuration).

[2018-04-25 07:50] pedrobaeza commented on #24403
Are you going to make a PR?

[2018-04-25 07:54] d-fence commented on #24399
You can build an rpm package by using the setup.py like this:
`$ python setup.py bdist_rpm`

You 'll then find the rpm package in the `dist` directory.

The [setup.cfg](https://github.com/odoo/odoo/blob/11.0/setup.cfg) contains the rpm configuration and you'll find some scripts in the [setup/redhat](https://github.com/odoo/odoo/tree/11.0/setup/redhat) directory.

Be aware that you need to move the

[2018-04-25 07:54] #24399 closed

[2018-04-25 08:00] pedrobaeza commented on #21546
As said, misconfiguration in your part :wink: so I don't deserve the thumb down.

[2018-04-25 08:00] akira32chen opened #24408 "[Odoo 9]Intellij open odoo 9 project, second time login will be frozen top menu"
Impacted versions:  odoo9.0

Steps to reproduce: Use Intellij install python plugin and requirements.txt. And then delete old ProgresSQL database. New a database in web\database. open the localhost:9999 with Parameters --config .\openerp-server.conf , Script path:D:\WorkSpace\odoo-9.0\odoo.py
The first time login has no problem. But I logout and then login again, the website will be frozen top men

[2018-04-25 08:03] pedrobaeza commented on #24408
Hi, this seems something related to your deployment (or Intellij one), as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions and not third-party ones. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be somethin

[2018-04-25 08:03] #24408 closed

[2018-04-25 08:30] kebeclibre commented on #24403
@JulioSerna
The yml code seems odd.
I would go for what group_multi_currency actually does:
 <code> self.env.ref('base.group_user').write({'implied_ids': [(4, self.env.ref('product.group_sale_pricelist').id)]}) </code>

Also, given that the res.config model is not an actual one, I wouldn't use it at all for installing stuff
I'd rather setup a post_init hook on the module, or anything else rather t

[2018-04-25 08:30] #24403 closed

[2018-04-25 08:51] akira32chen commented on #24408
When I second run the odoo 9  project by Intellij 2018.1, it appear some messages in output windows as below:

C:\Users\hp\venv\odoo-9.0_n\Scripts\python.exe D:/WorkSpace/odoo-9.0/odoo.py --config .\openerp-server.conf
2018-04-25 16:45:19,111 15548 INFO ? openerp: OpenERP version 9.0c
2018-04-25 16:45:19,111 15548 INFO ? openerp: addons paths: ['D:\\WorkSpace\\odoo-9.0\\addons\\9.0', u'D:\\WorkSpa

[2018-04-25 09:13] bst-odoo commented on #12050
@est is the product owner of it but I'm aware of the feature, a task is in progress for the drag and drop. We hope it will be released for V12.

[2018-04-25 09:27] erkesado opened #24411 "Group by company_dependent/property field"
Impacted versions: 10.0

Steps to reproduce: Install Sales app with demo data. Go to Apps > Sales > Sales > Customers.
Try to group by "Customer Payment Terms" which is a company dependent field (traditionally property field).

Current behavior: Even though a company dependent field is searchable, it is not groupable.

Expected behavior: Is there anyway to group by a company dependent field.

[2018-04-25 10:07] sandeepksrana commented on #24375
Hi removing worker is no the solution i think, the worker are the process so you can speed up  your server. please open my issue thanks

[2018-04-25 11:38] mart-e commented on #24405
The other way around, you can modify the records per page to show everything.
I agree with Pedro, it can be confusing if you apply to hidden records. If we change that, it must be clear in the interface, which is not yet the case.

[2018-04-25 11:38] #24405 closed

[2018-04-25 12:41] lem8r commented on #11675
Yes, same as issue with analytic accounts on both lines.

https://github.com/odoo/odoo/blame/9.0/addons/hr_payroll_account/hr_payroll_account.py#L10-L31

![default](https://user-images.githubusercontent.com/5942291/39246285-c7168e36-489e-11e8-972c-d47c99f169ee.png)

[2018-04-25 13:28] jboilesen commented on #21546
In part misconfiguration: Odoo shouldn't allow this to happen

[2018-04-25 13:43] #24401 closed

[2018-04-25 14:04] max3903 commented on #23927
@pimodoo

I have set a different group for each reordering rule.

I ran the scheduler → I get 2 pickings from Input to Stock for 2 products →Those 2 products are purchased to the same supplier →1 PO→I confirmed the PO→I get 1 receipt for the 2 products, but I still have 2 pickings from Input to Stock.

Once the PO is confirmed, would it be possible to merge those 2 pickings together? and set the o

[2018-04-25 14:06] pimodoo commented on #23927
@max3903 Hello, such a thing is actually not possible in Odoo.

[2018-04-25 14:09] max3903 commented on #23927
@pimodoo Why not?

[2018-04-25 14:56] ahetland opened #24423 "Possible to edit a postes journal (account_move_line)"
Impacted versions: 11

Steps to reproduce: Go to Journal Items > open a journal item > click edit > change partner > save

Current behavior: new partner (and also label can be edited) has been saved to a posted journal entry

Expected behavior: it should not be possible to change a posted journal entry

Video/Screenshot link (optional):

[2018-04-25 15:32] zbik2607 opened #24426 "Nightly repository - bad signature"
Impacted versions: 11

Steps to reproduce:
apt-get update

Current behavior:
W: An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: http://nightly.odoo.com/11.0/nightly/deb ./ Release: Następujące podpisy były błędne: BADSIG DEF2A2198183CBB5 Odoo SA, Linux Package Signing Key <info@odoo.com>

[2018-04-25 15:32] JulioSerna commented on #24403
@kebeclibre

The issue is no about what the yml does
The yml could contain or setting whatever you want
I just show you in this issue that is a wrong behavior especially with taxes when res.config.settings is trigger by yml when update server

Could you please double check?

[2018-04-25 16:04] pedrobaeza commented on #24423
It's possible to change that options if you haven't posted yet the entry, as your steps suggest, but that's normal. What is the error then?

[2018-04-25 16:04] ossimantylahti opened #24428 "Inventory Stock On-Hand only shows number of first warehouse, not total"
Here is my first bug report, so please bare with me ;)
If more info is needed then please let me know.

Impacted versions: 11

Steps to reproduce: add extra modules besides Inventory (Sales, CRM, Purchases, Accounting)

Current behavior: With the same product in multiple warehouses it will only show the amount of the first warehouse in the on-hands amount, not the expected total of all the warehou

[2018-04-25 16:08] pedrobaeza commented on #21546
Well, putting a lot of constraints can be counterproductive in some cases, and more in a specific use case like this one IMO. Any way, if you see clearly an improvement over the default values for data or where to constraint this, you can make a PR improving that (against master branch).

[2018-04-25 17:16] zefoo opened #24430 "Processing e-mail in Odoo 11 without previous threads – is this possible?"
This Odoo company we're working with basically sends *a lot* of e-mail. One e-mail thread can turn into 100+ e-mails with different people brought into the conversation (CC'd) at different times. Due to the complexity of their e-mail management, they want to use their Gmail interface (Google Hosted) and CC an e-mail into odoo and they want it to get tracked in a thread. I've basically already done

[2018-04-25 17:32] zefoo commented on #24430
Thank you Pedro. Strange, posting on Odoo's help forum returns this:

403 – Forbidden!
The page you were looking for could not be authorized.

Maybe you were looking for one of these popular pages ?

I am successfully logged in.

[2018-04-25 17:40] pedrobaeza commented on #24430
I think you have to register first.

[2018-04-25 18:29] #24328 closed

[2018-04-25 18:45] collex100 opened #24431 "[10.0] Discuss - The public setting for the channel does not work."
Impacted versions:
[10.0]

Steps to reproduce:
I make the channel public.

Current behavior:
The channel no one sees. In addition, who created it

Expected behavior:
The channel should see everything.

Video/Screenshot link (optional):

Administrator
![screenshot_4](https://user-images.githubusercontent.com/11208423/39266170-e4d9ca2c-48d1-11e8-898b-f857dfa93b1d.jpg)

User
![screenshot_5](https://u

[2018-04-25 18:49] sswapnesh commented on #24423
@pedrobaeza  I can Reproduce same on Runbot (v10 and v11) for Posted Entries too. ( field `partner_id` should be considered ad the Legal fields)

[2018-04-25 22:47] pedrobaeza commented on #24411
That's a limitation of the framework and how SQL works, so there's no possibility of that.

Closing as it's technically not possible for now to do this.

[2018-04-25 22:47] #24411 closed

[2018-04-25 22:55] pedrobaeza commented on #24256
@kebeclibre what you are missing here is that the fiscal position in the partner is a company dependent field (old called property):

https://github.com/odoo/odoo/blob/1a80fc1ee7365059bb8ea5230e1f13360912e2b6/addons/account/models/partner.py#L395-L398

and thus with this commit you are preventing that any partner shared between several companies can set any fiscal position for the current company

[2018-04-25 23:04] pedrobaeza commented on #12529
I think the terminology used in this issue is not correct: instead of talking of page title, it's talking about H1. Any way, on Odoo v11, you can change the title of the page, but preserving previous URL, so this can be considered as done, and thus I'm closing this issue.

[2018-04-25 23:04] #12529 closed

[2018-04-25 23:06] pedrobaeza commented on #12528
@JKE-be is there something in the roadmap for having the possibility of robot meta-tags?

[2018-04-25 23:07] pedrobaeza commented on #12527
Closing as there are separate issues for several of the suggestions, others have been got on v11, and this thread is hard to be followed. If you still miss any feature and it's not on other issue, please feel free to open a new issues.

[2018-04-25 23:07] #12527 closed

[2018-04-25 23:08] pedrobaeza commented on #12524
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above and any way, there's no answer.

[2018-04-25 23:08] #12524 closed

[2018-04-25 23:13] pedrobaeza commented on #12477
Sorry, but the starting point is incorrect, as tenders don't create incoming shipments. Purchase orders do. Analyzing the rest of the things:

Well, this can be considered an improvement or an undesired behavior when you don't want to bid to everything together. I would go more for the possibility of adding the RfQ to an existing one.

This has been improved meanwhile. I invite you to check now th

[2018-04-25 23:13] #12477 closed

[2018-04-25 23:14] pedrobaeza commented on #12407
Do you have any news about this?

[2018-04-25 23:15] pedrobaeza commented on #12530
I also don't agree with this. It's not only useful, but needed in the way Odoo works, and this doesn't affect SEO by all the sources I know.

[2018-04-25 23:15] #12530 closed

[2018-04-25 23:16] pedrobaeza commented on #12531
I also don't agree with this. There's no direct relation on the URL subpaths and the positioning. Any way, you can create as many alias as you want with latest v11 or use website_seo_redirection module in previous versions.

[2018-04-25 23:16] #12531 closed

[2018-04-25 23:24] pedrobaeza commented on #12533
This has nothing to do with SEO, but with facilities for the website publisher, so please don't put an incorrect title.

I don't agree that's the way to go. Current approach in v11 includes a search bar for looking for a resource through its name, so that's going to avoid a lot of duplicates through several folders.

I miss though 3 features:

* Possibility of renaming the images text.
* When uplo

[2018-04-25 23:26] pedrobaeza commented on #12550
Removed last comment as has nothing to do with current issue as it's a deployment problem.

About the topic, now that the new base_automation is out in v11, @gurneyalex is the problem still there?

[2018-04-25 23:27] pedrobaeza commented on #12927
Closing as there's no plans of fixing this now that PhantomJS is deprecated.

[2018-04-25 23:27] #12927 closed

[2018-04-25 23:28] pedrobaeza commented on #12627
@mart-e I summon you to know if there's any plans about this.

[2018-04-25 23:31] pedrobaeza commented on #12574
The linked PR and issue is for other thing (mail aliases), but for login, strict case should be followed, as it's your identification (and it's not always an email, but a user name). Closing this as not appropriated.

[2018-04-25 23:31] #12574 closed

[2018-04-25 23:33] pedrobaeza commented on #12850
@LeartS is this still happening?

[2018-04-25 23:34] pedrobaeza commented on #12853
You can't do a related field to a one2many without these side effects. You can workaround it using the same domain on the one2many field, but you shouldn't rely on this kind of tricks. Closing this.

[2018-04-25 23:34] #12853 closed

[2018-04-25 23:37] pedrobaeza commented on #12869
@tde-banana-odoo I think we can add an `ondelete='restrict'` on field `address_home_id` for hr.employee, isn't it?

[2018-04-25 23:37] pedrobaeza commented on #12873
Closing as there hasn't been an answer.

Feel free to open a new issue if this is still happening, but please include all the detailed steps to reproduce the problem, and better if it can be reproducible in a demo environment like runbot (http://runbot.odoo.com).

[2018-04-25 23:37] #12873 closed

[2018-04-25 23:39] pedrobaeza commented on #12886
This is a feature request, and reports have change a lot in latest versions, so I close this issue.

[2018-04-25 23:39] #12886 closed

[2018-04-25 23:40] pedrobaeza commented on #12968
@JKE-be I see that in v11, the project name is still not translatable, but it should be? I'm not sure it's a desired behavior. Please close it if you feel the same.

[2018-04-25 23:41] pedrobaeza commented on #12961
@Yajo is this still happening in v10? Is it relevant for you?

[2018-04-25 23:42] pedrobaeza commented on #13046
This is not really an issue. If you want a change in code, please submit a PR.

[2018-04-25 23:42] #13046 closed

[2018-04-25 23:44] pedrobaeza commented on #13066
The 2 things you mention are not the intended behavior, and you should adapt to it. No real issue, so closing.

[2018-04-25 23:44] #13066 closed

[2018-04-25 23:48] pedrobaeza commented on #13076
@Yajo I have now understood that this is the intended behavior, as inverse are only called on write/create when dumping to DB due to their possible code inside the inverse method. Check #23891 for more details.

The workaround you mention is actually the way to get the inverse calculations done on new (only if these inverse methods modify fields from the same model).

[2018-04-25 23:48] #13076 closed

[2018-04-25 23:48] pedrobaeza commented on #13106
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-25 23:48] #13106 closed

[2018-04-25 23:49] pedrobaeza commented on #13113
I think this is a misuse of the internals of ORM. Please use documented features, and it's now better with only new API.

[2018-04-25 23:49] #13113 closed

[2018-04-25 23:49] pedrobaeza commented on #13139
Is this still happening?

[2018-04-25 23:53] pedrobaeza commented on #13147
The problem is with tests, not with real code situation. You have to invalidate the cache before reading again the value. This doesn't happen in latest version any way.

[2018-04-25 23:53] #13147 closed

[2018-04-25 23:53] pedrobaeza commented on #13153
Is this still happening in v11?

[2018-04-25 23:55] pedrobaeza commented on #13164
This is something that can be customized on your end, but not a real issue, and thus I close it.

[2018-04-25 23:55] #13164 closed

[2018-04-25 23:55] pedrobaeza commented on #13168
Please make a PR with the proposed code is this still applies.

[2018-04-25 23:55] #13168 closed

[2018-04-26 00:09] jlzhou commented on #24365
@mart-e @Yenthe666 I am glad that I became the reviewer of odoo Chinese translation team on Transifex in few days ago. I will do the correction in next days, thank you for your attention.

[2018-04-26 00:09] auyeung112002 commented on #13147
Then how to workaround with this issue in Odoo 9? For example in this case?

Are you sure this issue does not affect latest version?

[2018-04-26 00:26] erkesado commented on #24411
Thanks for your quick response.

[2018-04-26 03:34] kalway-tony opened #24437 "[11.0] chatter , jpeg/jpg type image crop size bug"
Impacted versions:
V11
Steps to reproduce:
goto any model's chatter, send a message , upload an attachment , choose jpg type image.

Current behavior:
size of image become larger than origin

Expected behavior:

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/31125609/39284418-b76dbc50-4945-11e8-9937-ee33c9ac10c2.png)
origin size is about 500kb

[2018-04-26 05:46] yuriqp commented on #24405
You are right, somehow I was assuming the select all checkbox, as for all records and not all on the page.
However, I still think that if one wants to perform an action for a large number of records (10000), could be too much to show them all on the page. Any alternative solution?

[2018-04-26 06:53] Yenthe666 commented on #24431
@collex100 you can fix this by adding the users under the "Members" tab though.

[2018-04-26 06:54] Yajo commented on #12961
I didn't find this problem on v10 tours so far.

[2018-04-26 06:54] #12961 closed

[2018-04-26 06:56] gurneyalex commented on #12550
@pedrobaeza a quick test shows this is fixed in v11.

[2018-04-26 07:16] pedrobaeza commented on #12550
Although it would be good to have it solved on previous versions then, we can consider this fixed. If you see that a patch can be integrated on v10 or v9 stable branches, please make the PR.

[2018-04-26 07:16] #12550 closed

[2018-04-26 07:25] kebeclibre commented on #24403
@JulioSerna
.... So it IS the design that is problematic
My point was that it is wrong to use res.config.settings this way.
That is a model that is designed for user interaction, not or programatic changes

Doing it in the code, you bypass onchanges, also probably the set/get values etc....
you are basically executing a res.config without anything in there apart from the group

[2018-04-26 07:29] pedrobaeza commented on #24437
That's not the real size, but the transmitted one. Can you check the real size on the DB?

[2018-04-26 07:33] pedrobaeza commented on #13147
Perform `record.refresh()` on the test before asserting the value

[2018-04-26 07:34] collex100 commented on #24431
@Yenthe666 So it's the same thing that I signed the user. It's not the user who chose to subscribe to the channel, I signed it myself. What's the point in setting up a public one?

[2018-04-26 07:35] Yenthe666 commented on #24431
I know, just suggesting a workaround. I'm not sure about this part as I never use it personally so this is for somebody from the services team (@tde-banana-odoo I summon you!)

[2018-04-26 07:36] rosenvladimirov opened #24440 "res.partner display_name: other than Latin letters"
Impacted versions: 10.0,11.0

Steps to reproduce: When entering a partner name for a cell for the first time, the name in the display is recorded in Cyrillic. The sorting is done according to these rules, but after the Latin display is written, the name does not appear and continues to be arranged in the original alphabet.

Current behavior: The function _compute_display_name in res.partner model

[2018-04-26 07:40] kalway-tony commented on #24437
@pedrobaeza It's true, but what users care about is not db size instead of opening the page quickly.

[2018-04-26 07:42] pedrobaeza commented on #24437
I haven't experimented this any way. Please include your test image and try to do it on runbot.

[2018-04-26 07:43] collex100 commented on #24431
I know about the workaround. I just thought for a long time about the trick of such settings. In the technical part, you can subscribe to the channel, but on the fact that in the foreground there is no way to subscribe to the channel, if someone does not sign you. So I finally decided to write, find out what is the trick of such an implementation.

[2018-04-26 07:47] pedrobaeza commented on #24423
Again I don't understand the problem: if you try to edit a posted journal item, this is what you get:

![seleccion_004](https://user-images.githubusercontent.com/7165771/39292530-bfea0b18-4936-11e8-8fda-c296b72a2166.png)

Partner is already readonly.

[2018-04-26 08:09] auyeung112002 commented on #13147
api.depends is supposed take care of cache invalidation. It is one of the main usage of api.depends.
The bug is about api.depends fails to invalidate the cache!

Your fix will work in simple case just like my test code. What if the non-stored computed field depends on other non-stored computed field? Need to invalidate them all manually?

Test code is provided because I want to isolate this bug on

[2018-04-26 08:12] pedrobaeza commented on #13147
As said, that's not happening on latest version. Please try.

[2018-04-26 08:26] JKE-be commented on #12528
It has been partialy done in v11.

You can now specify on a page if if you want a "noindex, nofollow" automatically.
That is the most frequent case, others are more technical choice than end user choice.

[2018-04-26 08:26] #12528 closed

[2018-04-26 08:29] pedrobaeza commented on #12528
Right, I see the indexed one.

![seleccion_006](https://user-images.githubusercontent.com/7165771/39294687-a24eec08-493c-11e8-8f09-2a3040c9aafc.png)

But I don't see the no follow one. Where is it?

[2018-04-26 08:33] JKE-be commented on #12533
Some improvements has been done:

You have now the searchbar,
You only see filtered images and not all

You can also change the "title", "alt" attribute on an image into the editor. (And the image path will become translatable in the v12 - not yet merged but we have the patch)
The filename could be an improvement since it is only SEO and that controller already allow it. Basically you can already

[2018-04-26 08:33] #12533 closed

[2018-04-26 08:34] sle-odoo commented on #24428
Hi,
I just tested on runbot, activated mutli-warehouses, created a product and two inventory adjustments: one in wh1, the other in wh2. The quantity on hand correctly sums the quants in all the warehouses.

I see it isn't working in your screenshot, did you change something in your locations configurations?

What would be useful is the "view_location_id" field on the warehouse, and correctly check

[2018-04-26 08:56] LeartS commented on #12850
Yes, [`postgres` is still hardcoded in version 11](https://github.com/odoo/odoo/blob/b42b9c936b64dca72a41422e008537c34b691912/odoo/service/db.py#L91)

[2018-04-26 08:58] pedrobaeza commented on #12533
Thanks for the follow-up

[2018-04-26 08:58] pedrobaeza commented on #12850
@Elkasitu are you the guy for checking this?

[2018-04-26 09:05] Yenthe666 commented on #12850
Alternatively this is something for the deep framework guys (@odony or @xmo-odoo or @mart-e)

[2018-04-26 09:11] mlaitinen commented on #12850
This prevents us from using [Aiven DBaaS](https://aiven.io/postgresql) as our database. It's kind of possible but requires a lot of tweaking to make it work with connection pooling.

[2018-04-26 09:16] Yajo commented on #24330
Can we help on such POC?

[2018-04-26 09:16] d-fence commented on #24426
@zbik2607  can you check if you are still impacted ? There was an issue last night with our build system that is now fixed.

[2018-04-26 09:27] LeartS commented on #12850
Yes, as I've said in my PR, the missing ability to use a different database for maintenance creates problems in several uncommon but real situations:

* If access to `postgres` db is blocked because of over-zealous db admins whom you can't influence
* If there is some db connection middleware like pgbouncer that should do logic based on the database name. For example we have a pgbouncer instance t

[2018-04-26 09:29] zbik2607 commented on #24426
Today everything is fine.

[2018-04-26 09:30] #24426 closed

[2018-04-26 09:33] ahetland commented on #24423
Hi, if you go to a Journal Item directly a posted entry is editable ...

Thanks,

Alex

 

 

Gesendet: Donnerstag, 26. April 2018 um 09:48 Uhr
Von: "Pedro M. Baeza" <notifications@github.com>
An: odoo/odoo <odoo@noreply.github.com>
Cc: Alexander <a.hetland@web.de>, Author <author@noreply.github.com>
Betreff: Re: [odoo/odoo] Possible to edit a postes journal (account_move_line) (#24423)

Again I d

[2018-04-26 09:36] pedrobaeza commented on #24423
I have gone directly... Please put the detailed steps then for that operation.

[2018-04-26 09:42] JKE-be commented on #12528
implicit: if not indexed, no-index, no-follow

[2018-04-26 09:48] mohdshoaib04 commented on #24075
I have tested this I have tested on python terminal and in odoo too.
Still same.

[2018-04-26 09:48] Yenthe666 commented on #12528
Or make it one more option in this view? "Followed"

[2018-04-26 09:58] JKE-be commented on #12528
nofollow is probably obvious for most of user.
We prefer to dont make the ui complex.

Don't display a page in google is easy to understand for all users.
No-Follow is technical and in most case, you want "index,follow" (default)
or "nonindex,nonfollow".

Let me know 1 page on your website where you do no-index, follow ;)

On Thu, Apr 26, 2018 at 11:48 AM, Yenthe V.G <notifications@github.com>
wro

[2018-04-26 10:00] #12968 closed

[2018-04-26 10:05] ahetland commented on #24423
Accounting > Adviser > Journal Items > ... click any > Edit > ... now possible to change partner + label

[2018-04-26 10:21] ploegvde opened #24441 "Stock reservations by MRP Scheduler"
Impacted versions: All versions

Steps to reproduce:
1.	Today = 14-04-2018
2.	Total procurement time (delivery time vendor + security days) = 1 day
3.	Total manufacturing time Product A = 1 day
4.	BOM: Product A with Bom-Line - Component A, qty =1
5.	Create stock for Component A: Qty =10
6.	Create a manufacturing order MO1 for Product A for qty=1 for start date 01-05-2018 and validate the manufact

[2018-04-26 10:25] ploegvde commented on #24441
@Yenthe666 Tanks!

[2018-04-26 10:28] pedrobaeza commented on #24423
But naturally on the UI you can't edit the partner_id. It's something you are doing by code?

[2018-04-26 10:34] ahetland commented on #24423
no this is possible in the UI ...
![screenshot_2018-04-26_11-26-28](https://user-images.githubusercontent.com/3541706/39301043-1ef7287c-494e-11e8-8545-f47f556d0b2e.png)

[2018-04-26 11:38] tbe-odoo commented on #23947
Hello @mlaitinen really sorry for taking so long to answer.

I have tried to reproduce your issue by reverting my commit, connect to my account, reintroduce the commit restart the server and refresh the page were I was.
I did it multiple time and was never able to reproduce the issue.

Are you able to reproduce it in your side so I can investigate ?
From what I see, the exception is triggered beca

[2018-04-26 11:59] #23012 closed

[2018-04-26 12:04] jem-odoo commented on #22422
This has been fixed at https://github.com/odoo/odoo/commit/eaa73beaaab3fd09198f915d53902563b73f404d
Please update your code if required ;)
Regards.

[2018-04-26 12:04] #22422 closed

[2018-04-26 12:06] Yenthe666 commented on #24377
Hi @sswapnesh,

Thanks a lot for your report. I've just reproduced this and that has to be a bug 😉 It isn't even saved and the problem is not only there but also in other views so it is framework related.

[2018-04-26 12:25] jem-odoo commented on #22963
Hello,
as explain on the proposed PR, we can not add new field (even related) in a stable version. So, we can do nothing for 11.0.
However this feedback was taking into account, and we even go further by checking that the analytic account is active. See https://github.com/odoo/odoo/blob/master/addons/hr_timesheet/models/project.py#L109 for more details. This fix is done in master and will be avail

[2018-04-26 12:25] #22963 closed

[2018-04-26 12:25] lualcontre01 commented on #24362
anyone?

[2018-04-26 12:27] jem-odoo commented on #22097
Hello,

Thanks for reporting this issue. Unfortunately we can not modifying SQL contraint in stable version. We will try to do something about this, as I already experienced this error.
Thanks for reporting.

Note: internal odoo task #1839540

[2018-04-26 12:27] #22097 closed

[2018-04-26 12:44] jem-odoo commented on #23559
Hello,

Indeed in 10.0, UoM was used to do so, but this is not the case anymore in 11.0, as employee can have different working calendar, and so different hours per day to work. UoM of time are only used when selling timesheet. For working time management, we used only resource module (leaves, forecast, ...).
So, this is not a bug, this is a feature change done on purpose.
Regrads

[2018-04-26 12:44] #23559 closed

[2018-04-26 13:02] jem-odoo commented on #23558
Hello,

So the employee is supposed to work from 8h to 12h and from 13h to 15h ?
If he registers a leave from 7h to 19h, this covers only one work day, even if the leave duration overlaps the working hours. The computation is only based on the working calendar of the employee.

[2018-04-26 13:06] jem-odoo commented on #23092
@ged-odoo Any idea on this ? Why doesn't it takes the form view defined on the action as ir.actions.act_window.view explicitely ?

[2018-04-26 13:35] cormaza commented on #24145
In some commit this was resolved, I cannot reproduce now

[2018-04-26 15:18] blaggacao commented on #24267
@nseinlet Could you have a quick look at #24285 if this could be something which goes into the right direction? I think some cleaner code here would be appreciated in the community...

[2018-04-26 15:36] sswapnesh commented on #24423
@pedrobaeza  Partner is editable in v11. (Tested in fresh local instance too.)

[2018-04-26 17:13] blaggacao opened #24454 "Accounting tests not idempotent on repetitive execution"
On the same database, if I execute tests twice, I get the following trace back:

[code]

It would be expected from
[code]
That without this flag, tests execution is idempotent.

[2018-04-26 17:17] blaggacao commented on #24454
It is fixed in v11 by https://github.com/odoo/odoo/commit/dbe6aa4292dc3190987855f4b59a737503d1f7f6

[2018-04-26 17:17] #24454 closed

[2018-04-26 18:33] hugho-ad commented on #22097
@jem-odoo

Can you Reopen this issue until the bug is fixed, please.

Regards!

[2018-04-26 18:37] blaggacao opened #24456 "[Proposal] Idempotent test execution"
As a general design flaw o test execution might be considered the double use of demo data, which might be affected by subsequent installs in a way to produce undesired side effects during test execution.

It would be helpful to have idempotent test execution, so that it is guaranteed repetitive tests on the same database will always return the same result.

This would make it a lot easier to inclu

[2018-04-26 19:11] yelizariev commented on #24456
May it be a problem of the tests itself, that uses demo instead of making necessary data \ updates in temporary database transaction?

[2018-04-26 19:39] blaggacao commented on #24456
Example Pricelist:

#### module A defines in demo data (pseudo xml):
[code]
at `create`, python defaults set currency to `EUR`,

#### module B sets
[code]

QED

[2018-04-26 19:47] sswapnesh commented on #24377
@Yenthe666 I believe we are missing something here.
Records (Basically Stages) Created from Kanban are Saved.
![](https://image.prntscr.com/image/QdTyiO4wTHGAbKej-Qq2gg.png)

It worked well in CRM --> Pipeline because Kanban displays Empty stages (Even there are not Records there.)
![](https://image.prntscr.com/image/ejsoGl2KSyyoiHUGPINmDw.png)

In Project --> Tasks, It shows Stage with Records in

[2018-04-26 19:47] #24377 closed

[2018-04-26 19:57] sswapnesh commented on #23984
Hello @mge-odoo
I can reproduce same at one more Place. (Actually for any Integer/Float field)
List view is sorted by Total
![](https://image.prntscr.com/image/jDNyFg8QSZS8UQIKaZThHg.png)

[2018-04-26 20:03] blaggacao opened #24459 "[Proposal] --init --update --without_demo regex/globbing"
The proposal consists in supporting a simple regex formulation when specifying --init & co parameters,
this would ease to create well defined topic akin test pipelines in CI/CD, like for example:

`--test-enable --init /pos.*/,point_of_sale`

Currently you only have one option: look them up and concatenate them manually. This does not proliferate best practices and constant test execution.

/cc @y

[2018-04-26 20:04] blaggacao commented on #24459
Related: https://github.com/odoo/odoo/pull/24234 https://github.com/odoo/odoo/pull/24452#issuecomment-384749160

[2018-04-26 20:06] blaggacao commented on #24456
Not sure of the tracktion of this

[2018-04-26 20:13] yelizariev commented on #24459
This would simplify deployment scripts. E.g. https://github.com/it-projects-llc/odoo-saas-tools/blob/025a860/saas.py#L145

[2018-04-26 20:22] sswapnesh opened #24460 "[11.0] Do not remove Filename on Exception"
Impacted versions: 11.0

Steps to reproduce:
     - Add Binary field in View
     - Add Some kind Validation and Raise Exception
     - You will notice Filename is Replaced with filesize

Reproduce on Runbot: Go to Apps --> Import Module --> Select file other than `.zip` format
![gi202](https://user-images.githubusercontent.com/16624719/39329879-568f9052-49bd-11e8-9a8f-1061729e32e2.png)

Current b

[2018-04-26 20:48] Yenthe666 commented on #24377
Yeah, just not entirely clear I guess. :)

[2018-04-26 22:19] yelizariev opened #24461 "Assign DEFAULT value on sql level"
It could be implemented for fields with static values
**Impacted versions:**
all
**Steps to reproduce:**
* in one module add a required field with a default value to some model
* run CI tests in another module that doesn't depend on the first module and creates records in the model

**Current behavior:**
Error about ``NOT NULL`` value.
See also
https://github.com/odoo/odoo/commit/1d544087faee25463

[2018-04-27 00:06] rafaelbn commented on #24461
Thank @yelizariev :+1:  Ref: https://github.com/OCA/pos/pull/237

[2018-04-27 03:37] edsersolis opened #24463 "[11.0] User permissions not working right"
Impacted versions:
11.0

Steps to reproduce:
- Set and remove different permissions to groups.
- Make sure the user doesn't have the same permission through another group.

ie. Create contacts

Current behavior:
- Even if you remove the permission for a user to read, write, create or delete it will behave like the standard.

In my case I've removed permission to create contacts and products to var

[2018-04-27 03:47] sqxccdy opened #24464 "[11.0] ondelete attribute is not correctly shown on field form"
Impacted versions: 11

Steps to reproduce:  any many2one field define fields.Many2one("item.sales", string="2 hours sales", ondelete='cascade')

Expected behavior:
hope ondelete of many2one field is active.

Video/Screenshot link (optional):
please check and repair it

![图片](http://wx4.sinaimg.cn/mw690/0060lm7Tly1fqr2lnttgrj30o90jr3zq.jpg
)

[2018-04-27 03:55] edsersolis commented on #24463
The only way I was able to get this working was through Studio. In Studio the permissions shown were totally different than the ones set in the groups.

[2018-04-27 06:02] Elkasitu commented on #24459
We have an internal task for refactoring the CLI, the specs are all written and module globbing is one of the intended features, unfortunately the task has been in a stall for a while and we have no ETA on when the development will be started.

Due to the nature of this task we don't want to do any improvements on the current CLI.

[2018-04-27 06:02] #24459 closed

[2018-04-27 08:26] lap-odoo commented on #24441
@Yenthe666 @ploegvde : Did you try to choose this setting : https://drive.google.com/a/odoo.com/file/d/1ZuJXax5vAKCJ50-rf51ySlqDnPfjh2FO/view?usp=drivesdk ? In that case, the reservation will be made based on the scheduled dates defined on the MO.

[2018-04-27 08:26] #24441 closed

[2018-04-27 08:30] ploegvde commented on #24441
Hi, thanks for the response. Maybe better to close after response is easier :)

I don't see how this setting will help us. Can you explain your idea?

[2018-04-27 08:34] lap-odoo commented on #24441
@ploegvde Thanks to this setting, the reservation won't be made directly after the creation of the MO. When the scheduler will run, it will reserve components based on the scheduled dates of the MO. So in your case, it will reserve components for MO2 before reserving components for MO1.

I've also created an internal feedback about that. However I don't think we will get the chance to work on that

[2018-04-27 09:40] ahetland commented on #24423
Hi Pedro, adding name to the line above caused a new problem (not possible to post entry) ..
so below "name" does not work
if any(key in vals for key in ('account_id', 'journal_id', 'date', 'move_id', 'debit', 'credit', 'partner_id', 'name')):

[2018-04-27 11:26] pedrobaeza commented on #24464
Hi, I'm not able to reproduce this problem. ondelete='cascade' works the way it has to work: when deleting the main record, children records are removed as well, so no real issue.

[2018-04-27 11:43] pedrobaeza commented on #24461
The problem with that is the extensibility. If you do it via SQL, then it can be inherited and changed.

[2018-04-27 11:59] pedrobaeza commented on #24456
The problem is to rely on that kind of demo data as said. You can't redo the previous state of demo data before performing a test.

[2018-04-27 12:14] mart-e commented on #12627
@pedrobaeza nothing AFAIK. Have you investigated why it failed? Should it be easy to add the support?

[2018-04-27 12:16] pedrobaeza commented on #12627
I think so. I will put someone to investigate this.

[2018-04-27 12:35] mart-e commented on #24405
On gmail you see this when you use the select all
![screenshot-2018-4-27 inbox](https://user-images.githubusercontent.com/564822/39362699-aa45b824-4a27-11e8-9e11-d751fc140d23.png)

Could be an idea of implementation.

[2018-04-27 13:59] blaggacao commented on #24456
Hi Pedro, I propose this for discussion. It is a (rather uncontested) flaw in the Odoo framework, so would you mind reopen? It was not meant for immediate shut down... :wink:

[2018-04-27 14:01] Yenthe666 commented on #24405
Good idea actually @mart-e!

[2018-04-27 14:04] sswapnesh commented on #24464
@pedrobaeza  I also consider this as Bug.

[2018-04-27 14:05] blaggacao commented on #24459
This is very good news... Might you be entitled to give a private peak preview on the SPEC? I think @yelizariev and myself would be grateful power users... :wink:

[2018-04-27 14:06] blaggacao commented on #24267
@nseinlet Thanks for clarification. It's definitely time to come by in Belgium this year to get to know the people behind the avatars...

[2018-04-27 14:35] pedrobaeza commented on #24464
I don't get why. Maybe the problem is the screenshot in a language I don't understand.

[2018-04-27 14:40] sswapnesh commented on #24464
On Delete is Blank in the above Screenshot.
It should be set Cascade.

Actually it is not related to order_id but it is related to Core. Even if On delete Cascade is set in Fields definition, It is always blank in If you see In Database Structure.

[2018-04-27 14:40] pedrobaeza commented on #24456
But as said is a problem on how you design your tests, not a flaw on Odoo itself.

[2018-04-27 14:41] pedrobaeza commented on #24464
Then the problem is on the display only?

[2018-04-27 14:47] sswapnesh commented on #24464
Yes, In works well in the Backend.

[2018-04-27 15:33] yelizariev commented on #24461
@pedrobaeza do mean

I thought about it. Can we just update SQL scheme when new module redefine default? Or just consider default value as redefinition as non-static and make evaluation in python side?

[2018-04-27 15:35] pedrobaeza commented on #24461
Well, I think that complicates a lot the framework for a very specific case. The trend should be to not add required fields on inherited models. Put the required only on UI.

[2018-04-27 16:20] mohdshoaib04 opened #24482 "Error while printing multiple Check pdf's"
Impacted versions: Odoo 11 ent (.sh platform)

Steps to reproduce: Accounting -> Purchase -> Payments -> Select multiple payments checkboxes -> Click on print menu and select any Print Check(top) or any other layout

Current behavior: PyPDF2 error is shown

Expected behavior: Should print multiple pdf's

Video/Screenshot link (optional):

![image](https://user-images.githubusercontent.com/33711872

[2018-04-27 17:43] pedrobaeza commented on #24464
I have changed the description then to reflect the real problem.

[2018-04-27 18:56] blaggacao commented on #24456
@pedrobaeza I don't agree based on the arguments in the related document. As I said, would really appreciate not to shut the discussion down :wink:

[2018-04-27 19:27] Maxim-Mazurok commented on #22433
Seems like this fix is not included in latest [Docker](https://hub.docker.com/_/odoo/) image, unfortunately.

[2018-04-27 19:48] vcloud9ray commented on #13139
I haven't tested since Feb - it was still happening at that point.

[2018-04-27 19:50] sswapnesh commented on #24464
Sane Behaviour in v10 too.
The domain is also Blank on the field even if it is there in field Definition.

Adding Screenshot in English for Reference.
![](https://image.prntscr.com/image/BEBuU4hzSyy9Yy4ABuvn-w.png)

[2018-04-27 19:52] sswapnesh commented on #22433
@Maxim-Mazurok  I think it is better to report Issue on [this Page.](https://github.com/odoo/docker/issues/new)

[2018-04-27 20:12] pedrobaeza commented on #22433
No issue to report, just wait for the next build if the version is the same as the fix.

[2018-04-27 20:42] Maxim-Mazurok commented on #22433
@pedrobaeza oh, sorry, I've just submitted it with instructions about applying a patch before docker image gets updated in the next build: https://github.com/odoo/docker/issues/184
Should I close it?

[2018-04-27 20:44] pedrobaeza commented on #22433
Well, I'm not a maintainer nor a contributor to that project, so let's see what they say.

[2018-04-27 20:44] sylnsr commented on #12275
All you need to do is create your own image with the correct version of the client tools. For example, I am using PG 9.6 and solved it by simply adding this to my base image: https://github.com/idazco/odoo-docker-ez/blob/master/10/Dockerfile#L83

[2018-04-27 22:10] zakali commented on #24463
Hi,
Can you explain a little how you were able to do it through Studio.... ? I am facing the same issue..
Thanks.

[2018-04-27 23:15] edsersolis commented on #24463
I was able to fix the ones for contact creation. Still struggling with the inventory ones.

Basically I went to Contacts module, opened Studio and click on Access Controls. There I set the permissions as I wanted and it worked.

![image](https://user-images.githubusercontent.com/6585110/39388585-33fe096e-4a4f-11e8-97a6-8fb8c23dd297.png)

[2018-04-28 02:10] SmithLin0618 commented on #19627
**hi Everyone
Thank for your help.
after I do all of yours advice, but I still can't fix that

that is my system screen below：
log in page：**
![image](https://user-images.githubusercontent.com/38001362/39390763-f8f6edc2-4acb-11e8-9a16-64fee75fbada.png)

**after login**
![image](https://user-images.githubusercontent.com/38001362/39390782-42c497c4-4acc-11e8-8db2-6765116657de.png)

[2018-04-28 08:06] Yenthe666 commented on #24456
@pedrobaeza I believe it's not bad to keep this one open a little longer. Discussion and thoughts are never bad, right?
I can relate a bit with this issue. In Odoo.sh we also have some tests that fail because of previous tests or some tests that fail because they are short sided (always excepting English text for example). So in general I think tests could be improved a bit.

[2018-04-28 08:50] sqxccdy commented on #24464
@sswapnesh thanks...

[2018-04-28 15:11] adaptivdesign commented on #23558
Yes. If you change the working calendar on a given day from 13:00 - 17:00 to 13:00 - 15:00. Requesting a leave on that day would still subtract 1 day from the employees holidays.

This wasn't the behaviour in Odoo 10. There it would subtract 0.75 days.

These sort of changes can leave the end user very confused.

I reverted the behaviour of both this and issue #23559 with the fix supplied there.

[2018-04-28 23:52] pedrobaeza commented on #13219
This doesn't happen on latest builds AFAIK, so I'm closing. Feel free to comment if you still experiment the problem.

[2018-04-28 23:54] pedrobaeza commented on #13223
As this is now something you can define as a parameter, this shouldn't be stay opened. About the real limit, it depends on header overhead and the compute about 1024 multiple instead of 1000.

[2018-04-28 23:54] #13223 closed

[2018-04-28 23:55] pedrobaeza commented on #13227
@bistaray Is this still happening?

[2018-04-28 23:56] pedrobaeza commented on #13229
This seems to be fixed on the linked PR, so I close. If this is not case, please comment.

[2018-04-28 23:56] #13229 closed

[2018-04-28 23:57] pedrobaeza commented on #13231
Recomputes are triggered for keeping the better consistency. Maybe there are some duplicates computation, but the goal is that one. This has been improved any way version per version. I invite you to check on latest version to see.

[2018-04-28 23:57] #13231 closed

[2018-04-28 23:58] pedrobaeza commented on #13267
This seems to be explained and with the related issue closed, so I'm closing this one as well.

[2018-04-28 23:58] #13267 closed

[2018-04-28 23:59] pedrobaeza commented on #13332
This is something inherent of wkhtmltopdf PDF engine. We should wait for a change in that engine (it seems in v12 is going to happen) for solving it.

[2018-04-28 23:59] #13332 closed

[2018-04-28 23:59] pedrobaeza commented on #13340
This is because you need to enable developer mode for seeing some "technical" fields. Closing as no real issue.

[2018-04-28 23:59] #13340 closed

[2018-04-29 00:00] pedrobaeza commented on #13386
I think this is not happening anymore, and thus I'm closing. If not, feel free to comment.

[2018-04-29 00:00] #13386 closed

[2018-04-29 00:01] pedrobaeza commented on #13390
This is how this works, and there are reasons for that about the way it's generated, so this is not a real bug, but a "wishlist". There are now works in progress for improving this, so I'm closing this in expectation to have better things in v12.

[2018-04-29 00:01] #13390 closed

[2018-04-29 00:02] pedrobaeza commented on #13391
Is this still happening?

[2018-04-29 00:03] pedrobaeza commented on #13395
This seems a deployment problem, so I'm closing this in expectation is already fixed at that level.

[2018-04-29 00:03] #13395 closed

[2018-04-29 00:04] pedrobaeza commented on #13400
I haven't experimented this problem since a lot, so I think it's solved, and thus I'm closing. If not, feel free to reopen it.

[2018-04-29 00:04] #13400 closed

[2018-04-29 00:04] pedrobaeza commented on #13426
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-29 00:04] #13426 closed

[2018-04-29 00:05] pedrobaeza commented on #13427
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-29 00:05] #13427 closed

[2018-04-29 00:06] pedrobaeza commented on #13435
Closing as answered and no further response.

[2018-04-29 00:06] #13435 closed

[2018-04-29 00:08] pedrobaeza commented on #13437
This is how web client works, and I don't consider a bug, but a bit annoyance. Any way, I think there's no easy way of changing this.

@ged-odoo maybe you might change this for opening this kind on links in a popup view also in another popup?

[2018-04-29 00:09] pedrobaeza commented on #13438
This change in the data types has been discussed a lot of times and there are no intentions for now in changing it. Any way, this is constantly being considered and your comments are taken into account for sure. Closing this for triaging things.

[2018-04-29 00:09] #13438 closed

[2018-04-29 00:10] pedrobaeza commented on #13440
The problem is that you have to configure your server always with UTC. It's a deployment question.

[2018-04-29 00:10] #13440 closed

[2018-04-29 00:11] pedrobaeza commented on #13450
Closing as answered.

[2018-04-29 00:11] #13450 closed

[2018-04-29 00:11] pedrobaeza commented on #13498
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions (and don't install it on Windows if you want to be serious with this). Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if yo

[2018-04-29 00:11] #13498 closed

[2018-04-29 00:12] pedrobaeza commented on #13504
That's the normal behavior: the extra quantity should be allocated in a new extra move for tracking purposes. If you want this behavior, change the qty in the PO instead.

[2018-04-29 00:12] #13504 closed

[2018-04-29 00:14] pedrobaeza commented on #13511
That's something inherent on the way you are doing things: defaults comes from the action window (in this case, Inventory > Products). They are different also if for example you create the product from Sales > Products. As the search is agnostic, it doesn't provide that defaults that are passed through the action context.

[2018-04-29 00:14] #13511 closed

[2018-04-29 00:15] pedrobaeza commented on #13512
You can't do that in a regular view. You can only do it on one2many/many2many fields. Please check documentation to know more about this.

[2018-04-29 00:15] #13512 closed

[2018-04-29 00:15] pedrobaeza commented on #13521
Inter company is an enterprise module. If the problem still continues, please open there the issue.

[2018-04-29 00:15] #13521 closed

[2018-04-29 00:26] pedrobaeza commented on #13544
@legalsylvain please make the proposal in master. Any way, it's defined in POS because it's used there and not in any other place. Any way, you can redefine the field wherever you want without problems, and more now in v12 that there is not going to be side effects with the field XML-ID.

[2018-04-29 00:26] pedrobaeza commented on #13545
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-04-29 00:26] #13545 closed

[2018-04-29 00:27] pedrobaeza commented on #13569
You have worked on this several times and as there are opened PRs to improve this situation and a study in progress to get it at framework level, I close it.

[2018-04-29 00:27] #13569 closed

[2018-04-29 00:27] pedrobaeza commented on #13578
But is this still happening on latest versions (v10 and v11)?

[2018-04-29 00:31] pedrobaeza commented on #13583
This has been already fixed meanwhile, so I'm closing. Please check latest code.

[2018-04-29 00:31] #13583 closed

[2018-04-29 00:32] pedrobaeza commented on #13585
Closing as comments about extra dependencies.

[2018-04-29 00:32] #13585 closed

[2018-04-29 00:33] pedrobaeza commented on #13602
Closing while waiting a proper official ticket.

[2018-04-29 00:35] pedrobaeza commented on #13616
JS views have been totally refactored in v11, so I invite you to check. I haven't experimented this in that version as it's more consistent. Any possible rough edge, feel free to open a new issue.

[2018-04-29 00:35] #13616 closed

[2018-04-29 00:36] pedrobaeza commented on #13618
Closing as not enough information, but I suppose it's about changing another line of the one2many in an onchange of one field of the one2many, and that's a limitation of current framework that can be avoided. There are works for getting this to work on future versions, but nothing yet.

[2018-04-29 00:36] #13618 closed

[2018-04-29 00:36] pedrobaeza commented on #13629
Is this still happening?

[2018-04-29 00:37] pedrobaeza commented on #13633
Hi, this seems something related to your deployment, so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing the problem.

[2018-04-29 00:37] #13633 closed

[2018-04-29 00:38] pedrobaeza commented on #13634
Is this still happening?

[2018-04-29 00:39] pedrobaeza commented on #13638
As said in the other issue, this has been improved meanwhile, so I close this. If you still feel there's still something to do, please comment.

[2018-04-29 00:39] #13638 closed

[2018-04-29 00:40] pedrobaeza commented on #13643
Meanwhile, the module has been removed from official addons, so this has not anymore sense, and thus I'm closing. Any way, what you ask for is a new module like the one you are describing (claim_from_delivery).

[2018-04-29 00:40] #13643 closed

[2018-04-29 00:41] pedrobaeza commented on #13644
That depends on the margins and sizes you have defined, so it's a configuration problem for sure, and thus I'm closing as no real issue.

[2018-04-29 00:41] #13644 closed

[2018-04-29 00:41] pedrobaeza commented on #13649
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-04-29 00:41] #13649 closed

[2018-04-29 00:41] pedrobaeza commented on #13652
Is this still happening?

[2018-04-29 00:42] pedrobaeza commented on #13654
Is there any news on this, @ged-odoo ?

[2018-04-29 00:43] pedrobaeza commented on #13658
Hi, this seems something related to your deployment in the proxy, so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing the problem.

[2018-04-29 00:43] #13658 closed

[2018-04-29 00:46] pedrobaeza commented on #13710
@odony (or maybe @qsm-odoo ) do you know if there is something new about this? It would be very useful now that you are working on less to scss conversion and Bootstrap 4 compatibility.

[2018-04-29 06:35] sswapnesh opened #24490 "[11.0] Could not load demo data during Import Module"
Impacted versions: 11.0

Steps to reproduce: Apps --> Import Module --> Select Zip and Upload

Current behavior: Demo data is not loaded, even Demo is Checked on Installation

![](https://image.prntscr.com/image/dcVQSZMNQV_wtMaXoYh-1A.png)

![](https://image.prntscr.com/image/-DxNXWg1TTi73-GQyHKCCg.png)

Expected behavior: Demo data should be checked and Loaded If DB is Created With Demo Data Opti

[2018-04-29 06:54] vayalaivadivel commented on #20568
Hi Colleagues, Any one have sample odoo.sh or developer guide to integrate bitbucket with odoo.

Thanks,
Vadivel.

[2018-04-29 09:21] ikrape opened #24491 "http erreur"
Hello ,
i already have this erreur odoo10 i think that this cause by JSON i have not access

[code]

[2018-04-29 10:04] Yenthe666 commented on #13602
@pedrobaeze why though? The original creator of this report is another person then Ray, who has enterprise support.
I'm sorry but I don't agree here. We don't close off tickets because somebody with an enterprise license comments and the original creator isn't. This is exactly what Github issues exist for, for those with no enterprise license that find a bug.
I'm reopening this one, comment back o

[2018-04-29 10:10] pedrobaeza commented on #13602
OK, as you want. In 2 months we will get back here with the same conclusion.

[2018-04-29 10:51] ashkulz commented on #21255
I'm the maintainer for wkhtmltopdf. I'd appreciate feedback if the distro-specific packages [for 0.12.5-dev](https://builds.wkhtmltopdf.org/0.12.5-dev/) fix all outstanding issues ... if not, I'm open to reverting to the 0.12.1 behavior for DPI as there seems breakage either way.

[2018-04-29 12:10] sswapnesh commented on #23531
Hello @Yenthe666
I just tested Same on [Runbot](http://324271-11-0-b81128.runbot11.odoo.com) and Stil Issues Exists.

[2018-04-29 13:00] Yenthe666 commented on #13602
@pedrobaeza yes, most likely but as long as there is no fix for an issue that is still relevant I do not feel like we should close it off. What use does it otherwise have to make a bug report?

[2018-04-29 13:41] Yenthe666 commented on #24490
@sswapnesh did you test this on a demo database too?

[2018-04-29 13:46] JKE-be commented on #23395
hello

should be fixed by https://github.com/odoo-dev/odoo/commit/8a90de89e05298e8fdb3eb8a29f023b16ecd6958 from PR #23397

[2018-04-29 13:50] sswapnesh commented on #24490
Yes, In Runbot Itself.

[2018-04-29 13:55] yostashiro commented on #13440
I'm curious to know if it is a widely known practice.  I wasn't able to find the relevant documentation to state this.

[2018-04-29 14:14] sswapnesh commented on #23395
PR is not proposed yet for that Issue.

[2018-04-29 16:45] hermannleidi commented on #21876
@adr-odoo Any news on this Topic?
I got the Android App running smoothly with Push. Unfortunately all our devices are on iOS.
I red https://firebase.google.com/docs/cloud-messaging/ios/certs , but dont really know which configuration I have to do in my Apple Account?
The App ID I used is the domain of our on site odoo: de.["company"].erp . Is this correct? I got alle sorts of .cert files. Shall I