[2017-11-06 10:02] #20698 closed

[2017-11-06 10:09] aisopuro commented on #14142
Duplicate of #13400, closing this one.

[2017-11-06 10:09] #14142 closed

[2017-11-06 10:10] aisopuro commented on #13400
Has this moved forward at all @sle-odoo?

[2017-11-06 10:14] ged-odoo commented on #15455
The traceback shows that the error occurred in a function named 'buildSkeleton'.  A quick search showed that it is a function in fullcalendar (v1.6.4, which is the one used in 10.0).

We updated fullcalendar to v3.0.1 in version 11.0, and that function buildSkeleton is no longer present.  Also, I could not reproduce the error in any version. So, I believe that this error, whatever it is, is fixed

[2017-11-06 10:37] Elkasitu commented on #20720
@NothingCtrl Hi, I confirm that this happens on the runbot for v11, however I'm not sure of the use cases where this would be a problem? Could you provide me with some examples? I don't want to introduce changes into the ORM if the bug isn't blocking or doesn't have any real-world consequences, I am marking this as wontfix for now

[2017-11-06 10:40] qdp-odoo commented on #19722
maybe using the fiscal position is a good idea then..

[2017-11-06 10:45] jco-odoo commented on #20719
Is the procurement still linked to the orderpoint?

[2017-11-06 10:53] felixvillafranca commented on #18565
Hi;

In addition to what @jalzaga says, "l10n_es_partner" add a  the field "Trade name" to res.partner when are companies, of widespread use in Spain.

In relation to "l10n_es_account_invoice_sequence", I'm not accountant, maybe @jalzaga is right. But why you can read in the [README](https://github.com/OCA/l10n-spain/tree/11.0/l10n_es_account_invoice_sequence) that its use is mandatory for Spain?

[2017-11-06 10:57] ged-odoo commented on #20699
@Yenthe666 yep, definitely a problem with the new views. Looking at it right now

[2017-11-06 11:25] jco-odoo commented on #20719
I guess there is still moves related to the procurement that are counted.  (it checks the procurements without its moves)  Doing a quick fix.

[2017-11-06 11:52] mart-e commented on #20682
Hello,

The Right-to-Left support is not complete at the moment. We plan to improve it but it is a long refactoring.
However, if you specify what does not work, maybe we can help.

[2017-11-06 12:18] Cedric-Pigeon commented on #20719
@jco-odoo Why does the procurement order stay in 'cancel' state after clicking on 'Reset to draft' on the PO ? It should be in "running" state again. No ?

[2017-11-06 12:22] sle-odoo commented on #13400
Hello,
Sadly, not. Did you customise this report?

[2017-11-06 12:31] aisopuro commented on #13400
No, as far as I remember it was unmodified.

[2017-11-06 12:33] mart-e commented on #19320
Hello,

Sorry but I am not sure to understand the issue.
Do you disagree on the first day of the week specified for Arabic language?
Because we did not implemented that part, we use moment.js library and it is specified there
https://github.com/moment/moment/blob/develop/locale/ar-ma.js

You can report there the problem so they correct it.

[2017-11-06 12:42] jco-odoo commented on #20719
Reset to draft on po instead of on procurement?  Because you handled it differently maybe in the meantime.  (and also by default, it will even cancel the entire flow behind)

[2017-11-06 12:42] tde-banana-odoo commented on #10149
Hello,

Not really. Tracking mechanism will probably change between v11 and v12 but there is still nothing specified. We have to find a tradeoff between readability, performances and use of stored tracking data. It is one of the tricky point we will have to figure out before v12.

[2017-11-06 12:44] tde-banana-odoo commented on #20665
Hello,

It is the intended behavior as far as I know. Responsible of records should always be warned they are responsible independently of the "notification email" parameter. This is something that has been implemented in v10 and it still present in v11. It will probably change for v12, but I cannot tell you how as nothing is completely specified.

[2017-11-06 12:50] Cedric-Pigeon commented on #20719
No. I mean the reset to draft does not change the state of the procurement. It should do.
Cancel Purchase Order -> cancel procurement
Reset to draft Purchase order -> no influence on procurement

[2017-11-06 12:52] tde-banana-odoo commented on #20484
Since chatter is implemented reading a record marks all its message as read for the current user. We consider that if you go on a record you read the communication history and do what you have to do. Having to remark messages as read is unnecessary work. I understand you could have a different way of using the Inbox but it is how Odoo works. I don't think it will change for Odoo v12 as far as I kn

[2017-11-06 12:54] Yenthe666 commented on #20484
Then I believe we can close this bug report as it is clearly ment to work this way and no changes are on the roadmap.

[2017-11-06 12:54] #20484 closed

[2017-11-06 12:54] jco-odoo commented on #20719
So I understood correctly... Because sometimes it would have cancelled the entire flow or you would have generated another po.

[2017-11-06 13:00] fpodoo commented on #18565
@lap-odoo From what I remember, "l10n_es_account_invoice_sequence" exists for historical reasons, but Odoo his better without it than with it. A few years ago (v7, I think), we had two different sequences for invoices and journal entries. When we decided to unify both sequences, the community developed this module to keep the old behavior.

In reality, having two different sequences makes everythi

[2017-11-06 13:02] tde-banana-odoo commented on #8660
Hello,

There are discussions on how to handle "template" projects in Odoo v12, either inactive projects that you copy or bringing back the template feature. Nothing is decided currently but having feedbacks on people using project templates is always usefull cc @jem-odoo .

[2017-11-06 13:12] arriouach commented on #20682
Hello @mart-e,
Thanks for your replies, I want just know if I can use odoo as a Arabic UI (Right-To-Left).

[2017-11-06 13:19] lap-odoo commented on #18565
@jalzaga @felixvillafranca Thanks for the info.

About the validation of the IBAN bank accounts, this already exists in Odoo standard (module: base_iban).

What's the use of the "Trade Name"? Is it used when the company name(=trade name) is different than the account holder name (=official company name)?

[2017-11-06 13:20] jalzaga commented on #18565
@felixvillafranca @lap-odoo In Spain the only think that is mandatory is to have a sequential number for invoices without gaps. This is something that odoo already provides.
In addition, the Spanish law obliges to report at the end of the year all the account_moves with a unique sequential number without gaps, regardless the journal they belong to. This has been managed by the community by renumbe

[2017-11-06 13:21] NothingCtrl commented on #20720
@Elkasitu Hi, I just test some module (in development) then this error happens, so I report the bug :), it isn't blocking but I think some detail-oriented person (ex: me) may feel inconvenienced when some function not working as it should.

Regards,
T.

[2017-11-06 13:27] jalzaga commented on #18565
@lap-odoo @felixvillafranca Yes, the trade name is very common, especially for shops, there is a trade name (commercial) such as, "Rick's", and the official name to report legally is the name of the owner "Ricardo García Fernández'

[2017-11-06 13:36] felixvillafranca commented on #18565
@lap-odoo @jalzaga, that's right.

[2017-11-06 13:39] #20595 closed

[2017-11-06 13:39] mart-e commented on #20595
Thanks, changed that in 11.0 at dc6757032fe

[2017-11-06 13:40] felixvillafranca commented on #18565
@fpodoo thanks for the explanation, I agree with you, If it is not necessary it is better to leave it as simple as possible.

[2017-11-06 13:41] mart-e commented on #20682
It should be working but is not optimal.
We have already worked on it, for instance at #19892 (giving you an idea of the size of the change) but it is not ready yet.

[2017-11-06 13:57] anajuaristi commented on #18565
@fpodoo Just to say that l10n_es_account_invoice_sequence is not manteined for "historical reasons" but "legal requirement".
In spain is a legal requirement:
.- For invoices: It's right they are numbered by journal
.- For account move: Single number sequence ordered by data and without  "holes" between numbers
The module is just adding a field sequence on journal, but it's not necesary a new field

[2017-11-06 14:03] fpodoo commented on #18565
Do you mean that, in Spain, you can not have a sequence of the journal
entries per journal? Do you have a reference to this law?

--
Fabien

[2017-11-06 14:35] pedrobaeza commented on #20665
@tde-banana-odoo what about the team as followers behavior? Have you tried?

[2017-11-06 15:19] bodedra opened #20727 "[10.0] Barcode should be unique by company"
Impacted versions: 10.0

Steps to reproduce:

- Set up _"Company A"_ and _"Company B"_
- Add Product template A with variant Aa and Ab.
- Try to update same barcode in Aa and Ab respectively _"Company A"_ and _"Company B"_

Current behavior:

- It will fire constraints/validation error _"A barcode can only be assigned to one product!"_

Expected behavior:

- Barcode should be unique by company.

[2017-11-06 15:19] d-fence commented on #20441
@VR-Architect May I ask you to check in the registry of windows if something exists like 'HK_CLASSES_ROOT\.js' with a value pair like 'Content Type', 'text/plain' ?
It could explain why the '.js' files are detected as 'text /plain'.

[2017-11-06 15:22] Yenthe666 commented on #13549
Hi @baimo,

Thanks a lot for your report. This bug has been fixed in the meanwhile (as you can see at https://github.com/odoo/odoo/blob/cf8577b9d0bbe6f02ed4e88e47ab3097683d519d/addons/web_gantt/static/src/js/gantt.js#L87)

Regards,
Yenthe

[2017-11-06 15:22] #13549 closed

[2017-11-06 15:25] Yenthe666 commented on #12976
Hi @roccocesetti ,

Thank you for your bug report.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bug report.

Regards,
Yenthe

[2017-11-06 15:25] #12976 closed

[2017-11-06 15:25] Yenthe666 commented on #12545
Hi @oliverzgy ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-11-06 15:25] #12545 closed

[2017-11-06 15:30] Yenthe666 commented on #13459
Hi @paolovalier,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-11-06 15:30] #13459 closed

[2017-11-06 15:32] Yenthe666 commented on #11709
Hi @stijnh92 ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a ne

[2017-11-06 15:32] #11709 closed

[2017-11-06 15:39] Yenthe666 commented on #13899
Hi @lescobarvx,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-11-06 15:39] #13899 closed

[2017-11-06 15:41] Yenthe666 commented on #13934
Hi @Imoujib,

Thank you for your report.
In order to maintain these kind of issues we've made specific bug reports to bundle all knowledge and issues. Please provide feedback/info on https://github.com/odoo/odoo/issues/20287

Regards,
Yenthe

[2017-11-06 15:41] #13934 closed

[2017-11-06 15:42] Yenthe666 commented on #13942
Hi @suniagajose ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a

[2017-11-06 15:42] #13942 closed

[2017-11-06 15:45] Yenthe666 commented on #14151
Hi @LordRatte ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a n

[2017-11-06 15:45] #14151 closed

[2017-11-06 15:46] Yenthe666 commented on #14408
Hi @drl9319 ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-11-06 15:46] #14408 closed

[2017-11-06 15:47] Yenthe666 commented on #14399
Hi @Mellcap ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-11-06 15:47] #14399 closed

[2017-11-06 15:49] Yenthe666 commented on #13957
Hi @Chugarbert,

Thank you for your report but this is no longer present in Odoo.
Odoo 8 is no longer supported either, so I'm closing this report.

Regards,
Yenthe

[2017-11-06 15:49] #13957 closed

[2017-11-06 15:50] Yenthe666 commented on #8402
Hi @falinwa ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-11-06 15:50] #8402 closed

[2017-11-06 15:52] jalzaga commented on #18565
@fpodoo In Spain, legally there is only one joutnal, it is called libro diario, it takes all the account moves for the whole fiscal year in chronological order. Odoo provides different sequences for each journal. But  there is not a problem to use Odoo standard, the only thing we have to do is provide a report for the legal authorities with a chronological number.
Regarding the invoices, Odoo is c

[2017-11-06 15:53] Yenthe666 commented on #8295
Hi @odoo-mohsin,

Thank you for your bug report. This shouldn't be a bug anymore.

Regards,
Yenthe

[2017-11-06 15:53] #8295 closed

[2017-11-06 15:58] #7993 closed

[2017-11-06 16:00] Yenthe666 commented on #7992
Hi @ddfs ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-11-06 16:00] #7992 closed

[2017-11-06 16:07] peterxue commented on #20441
@d-fence
I think that there's something wrong with lib mime on windows10.
I do a quick fix like this, and all is ok now.

`def save_attachment(self, type, content, inc=None):
        ira = self.env['ir.attachment']

        fname = '%s%s.%s' % (self.name, ('' if inc is None else '.%s' % inc), type)
        values = {
            'name': "/web/content/%s" % type,
            'datas_fname': fname,

[2017-11-06 16:11] mreficent commented on #18565
In OCA, we have this _libro diario_ called Journal Ledger. See https://github.com/OCA/account-financial-reporting/tree/9.0/account_journal_report. @fpodoo It could be *super*-nice if Odoo adds this report in the [account reports](https://github.com/odoo/odoo/tree/master/addons/account/report).

[2017-11-06 16:15] moylop260 commented on #7993
@Yenthe666 Could you point us to the commit/version with the fix it, please?

[2017-11-06 16:21] Yenthe666 commented on #7993
Not absolutely sure honestly. As V8 support has ended (end of life) it doesn't really matter honestly. It should be working fine in upper versions and if it doesn't you are free to create a new report!

[2017-11-06 16:33] #20681 closed

[2017-11-06 18:48] enrique90 opened #20733 "[11.0] sinc with google calendar"
Impacted versions: 11.0

Steps to reproduce:

1. install and set up google calendar
2. create one event in google calender
3. sinc in odoo
4. then create other event in google calendar
5. sinc again in odoo

Current behavior:
show an error

Expected behavior:
sinc in the right way without errors

File "/opt/odoo/odoo11/addons/google_calendar/models/google_calendar.py", line 692, in update_events

[2017-11-06 20:37] boumboum commented on #19627
As I've told you in my previous post, deleting the assets at the database level (and restart the service after that) doesn't help.
Odoo is just simple not usable.
IMHO if a product after a first initial clean setup is just usable like that (i.e. not usable at all), you can just forget it.

[2017-11-06 20:43] etobella commented on #18565
Well, _l10n_es_account_invoice_sequence_ is necessary for two reasons:
- In Spain, invoices must be correlated in a series and exercise. If you use the standard, gaps could be created if you create a manual move on the journal. It shouldn't happen but mistakes exists.
- Refunds must have a different series than the original invoice (and therefore a different numeration)

So it is necessary to have

[2017-11-06 21:27] felixvillafranca commented on #18565
@etobella , About refunds, as far as I know you can define in the sales journal if you want a diferent sequence for credit notes.

[2017-11-06 21:32] etobella commented on #18565
@felixvillafranca you may change the journal, but I think that the system should not allow you to make mistakes. As far as I am concerned, I must find the way to minimize errors.
Maybe it is not necessary the third sequence, but then, the system should not allow you to reuse the same journal that is used in the original invoice.

[2017-11-06 21:38] jl2035 commented on #19160
@mkschreder It's ridiculous, I agree.

I'm also haviing this issue. Downgrading to 0.12.1 does not solve the problem.

[2017-11-06 21:41] felixvillafranca commented on #18565
@etobella IMO If you set up the journal properly, it is not necessary to change the journal to register a credit note.
![screenshot 2017-11-06 at 22 36 25](https://user-images.githubusercontent.com/4075475/32465204-fc2dce18-c342-11e7-85f2-0ba5666888dd.png)

[2017-11-06 22:00] etobella commented on #18565
@felixvillafranca my mistake, you are totally right. Refunds may have its own sequence.

[2017-11-06 22:15] Ehrenstein commented on #20021
This seems to occur generally when the site is trying to redirect, e.g. when trying to login or when odoo redirects to /web/database/selector if the database is missing, among others.

[2017-11-06 22:18] pedrobaeza commented on #20021
I think you haven't put proxy_mode=True in your configuration file.

[2017-11-06 22:26] geekobi commented on #2166
Thank to rruebner, his solution works perfectly.
To set it closer to table/tr/td/th tags, I use html classes which include also borders which are natural with table/tr/etc... and not with div :

	.tem_table{
		display:table;
		border-top:1px solid;
		border-left:1px solid;
	}
	.tem_trh,
	.tem_tr{
		display:table-header-group;
	}
	.tem_tdh{
		display:table-row;
		font-weight:bold;
	}
	.tem_td{
		di

[2017-11-06 23:50] elgow opened #20736 "Button actions don't get called unless record is edited. Show-stopper bug."
Impacted versions: 11.0 from commit https://github.com/odoo/odoo/commit/0b41f21c165f231054488fd660c04f2ac3dc2560

Steps to reproduce: Create a button on a form view that calls a model method e.g.
`<button string="Raw report" name="raw_form" type="object"/>`
Try pushing the button from view mode of the form with no changes to the record. Note how the button does not function.

Next go to the form,

[2017-11-06 23:51] elgow commented on #20509
Superseded by #20736 because of commit https://github.com/odoo/odoo/commit/0b41f21c165f231054488fd660c04f2ac3dc2560

[2017-11-06 23:51] #20509 closed

[2017-11-06 23:55] elgow commented on #20736
BTW, this was tested with branch 11.0 commit https://github.com/odoo/odoo/commit/dc6757032fea0cc7713bf316b126fc1970cddae5

[2017-11-07 06:55] Elkasitu commented on #20720
@NothingCtrl I understand, however I don't see an scenario where anyone would need to delete a module, still, I'll look around and see what I can dig up

[2017-11-07 07:05] Yenthe666 commented on #20733
@JKE-be this looks like one for you to check. 😉

[2017-11-07 07:09] Yenthe666 commented on #19627
Hey guys,

For all of you that are on Windows - there is a PR in development that will most likely fix these issues. See https://github.com/odoo/odoo/pull/20731
On MS Windows, the mimetypes module relies on the Windows Registry to
guess mimetypes. As a consequence, when generating assets bundle for
javascript files, the mime type of js files may be wrong.

Regards,
Yenthe

[2017-11-07 07:10] Yenthe666 commented on #20727
@sle-odoo and @jco-odoo could you guys give feedback please? I'm not absolutely sure if this is by design or not.

[2017-11-07 07:13] Yenthe666 commented on #20720
@Elkasitu,

Do you really? Deleting modules happens rather often to be honest. For example: when I've developed a whole module I install it, deinstall it and install it again (on a test instance) to be 100% sure there are no issues. In this case I might already run into this problem 😉
I believe we should treat this like a bug. Although not a lot of people might do this it is a quite big issue when

[2017-11-07 07:23] jalzaga commented on #18565
@etobella the  possibility to enter an account move using the invoice journal may happen rarely but, in my view, this is not a reason to change the Odoo standard and make it more complex, as @fpodoo said.

[2017-11-07 07:45] brychmilan opened #20743 "Website Menuitem translation"
Impacted versions:
ENT 11.0
Steps to reproduce:
If you create menuitem on website and translate it to Czech, it seems works fine if you are logged in. After logout is always shown only one language version - Czech rewrite English.
Tested on clear ent instance of 11.0
Current behavior:
Create new menuitem as EN Admin - give name to menuitem.
Translate menuitem as EN admin to Cz language.
It seems w

[2017-11-07 07:54] TimLai125 commented on #20665
@tde-banana-odoo I think what is being expected by user is the "Email and Notification" settings should have a higher priority in controlling these kind of behaviors.

May I know how Odoo classify notification that it must send to users? As the settings seem to be vague if it does not cover all the notification emails.

[2017-11-07 07:55] Yenthe666 commented on #20743
Hi @brychmilan,

Thank you for your report. This works fine out of the box though? I made a new menuitem "Overview", translated it to "Overzicht" in Dutch, then logged off and watched the website in Dutch:
![image](https://user-images.githubusercontent.com/6352350/32482756-5d874134-c399-11e7-966e-8e5b302fbc4c.png)

Perhaps you forgot to switch the language or something?

[2017-11-07 08:00] bodedra commented on #20727
JFI, I have tried with following ways but it's not working.

1.  Override constraints with same name and add company_id field

    ​        `_sql_constraints = [
                ('barcode_uniq', 'unique(company_id, barcode)', _("A barcode can only be assigned to one product !")),
            ]`​

2. Override _auto_init() method

        @api.model
        def _auto_init(self):
            res = su

[2017-11-07 08:17] InfernalLV opened #20746 "Priority widget always returns string even when column type is int"
Impacted versions: 10

Steps to reproduce:
[code]
Current behavior:
Clicking a star on the priority widget

Expected behavior:

Video/Screenshot link (optional):

[2017-11-07 08:40] jco-odoo commented on #20727
The reason is that product can be used in multiple companies at once.  Maybe in 2 you need to add [], but not sure myself.

[2017-11-07 09:02] brychmilan commented on #20743
And in English translate you got English or Dutch translation please? Because in X language we get translated term but in English we see X language. Thank you for test.

[2017-11-07 09:13] Elkasitu commented on #20720
@Yenthe666 Maybe I understood you wrong but delete != uninstall, in this case deleting the module means going to apps > selecting tree view > checking the checkboxes of the apps you want to delete > selecting the "delete" contextual action and then those apps are deleted from ir_modules, which basically means you won't see them in the list of apps that can be installed/uninstalled/upgraded.

In yo

[2017-11-07 09:21] open-net-sarl commented on #20691
So we have to input our account numbers without the "-" ?
The test i made were with the "-" and it seems that your method _is_l10n_ch_postal receive as argument the non-sanitized number.

[2017-11-07 09:25] Yenthe666 commented on #20720
Hi @Elkasitu,

Thanks a lot for the extra information. I was actually under a wrong assumption here. I was thinking about uninstalling them app and was seeing this as deleting.
Judging by this whole thread and your last feedback I genuinely wonder why we actually have the option to delete an app from the app registry list. What good purpose or use does this have? Perhaps a removal wouldn't be to b

[2017-11-07 09:32] tv-openbig commented on #18571
Hello,

i have created a PR to update the german accounting chart for Odoo v10:
https://github.com/odoo/odoo/pull/20745

@lap-odoo @csnauwaert : Would you please check the issue with the CLA ?
Unfortunately automatic test of the PR was blocked by wrong CLA file name.
I have changed the CLA file name now and obviously my PR now includes
the updated CLA in the folder "/doc/cla/individual" (tv-openbi

[2017-11-07 10:00] lukebranch opened #20753 "[Master/12.0] China Localisation -"
<h1>Impacted Versions:</h1>
ALL

<h1>Steps to reproduce:</h1>
Try to print the following reports and compare with 'Kingdee' output (popular Odoo competitor in China) for example:

- Balance
- Sheets
- Income Statements
- Profit & Loss Statements
- Vouchers/Journal Entries >> Fapiao Report Printed From Journal Entries

<h1>Current Behaviour:</h1>
No complete China localisation in core supporting th

[2017-11-07 10:19] Mraimou commented on #19320
Hi,
The first day of the week is Monday in Morocco, so the problem is in moment.js library.

[2017-11-07 10:37] Elkasitu commented on #20753
Hello,

I think issue #18512 is an open thread for these kind of suggestions, I invite you to write your feedback over there since there's a higher chance that it'll be taken into consideration.

@lap-odoo

[2017-11-07 10:38] ToonMeynen commented on #12209
workarround
[code]

[2017-11-07 10:46] #20623 closed

[2017-11-07 10:52] mart-e commented on #19320
Thanks for the answer.
Closing as the issue is to report upstream.
Don't hesitate to let us know when you have an answer from moment.js if we need to update our locales.

[2017-11-07 10:52] #19320 closed

[2017-11-07 10:55] Yenthe666 commented on #20623
Yep - I can confirm it is all working fine now. Thanks.

[2017-11-07 11:24] bodedra commented on #20727
@jco-odoo Thank you for your feedback.

I have tried as per your suggestion but it fires parent class constraints.

[2017-11-07 11:27] JKE-be commented on #20733
Hi

It has been fixed one week ago in commit 185820e13420517eccfb24a68490cb952e4f9ad8

Please, always pull the last code before to open an issue.

Best regards

[2017-11-07 11:27] #20733 closed

[2017-11-07 11:43] lukebranch commented on #20753
@Elkasitu ,

Thanks for the link.

Closing in favour of #18512 .

[2017-11-07 11:43] #20753 closed

[2017-11-07 11:44] lukebranch commented on #20623
thanks guys!

[2017-11-07 12:02] Yajo commented on #9745
11.0 migration is on the way: https://github.com/OCA/website/pull/398

[2017-11-07 12:29] mart-e commented on #5327
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-07 12:29] #5327 closed

[2017-11-07 12:33] mart-e commented on #13449
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-07 12:33] #13449 closed

[2017-11-07 12:42] brychmilan commented on #20743
OK I can approve your answer - this is probably caused by some changes in our module. Abolutely new installation from git work fine. Thank you and sorry for missinfo.

[2017-11-07 12:43] Yenthe666 commented on #20743
Thanks for the extra info and best of luck!

[2017-11-07 12:52] #20134 closed

[2017-11-07 12:53] mart-e commented on #20134
Thanks for the report, fixed at d0e165004246b77608a4c7017594332e5c8ab45f

[2017-11-07 13:20] songtoan2406 opened #20758 "[10.0] refreshing data in google spreadsheet report"
In odoo 10, I installed google_spreadsheet.
I created a spreadsheet with 'add to google spreadsheet' under the advanced search.
I am able to load data of my DB into the spreadsheet writing a formula like:

`=oe_browse("res.partner";"create_date        write_date        date_sub        x_user_id        mskh        display_name        phone        Email        street               city        state_

[2017-11-07 13:37] Yenthe666 opened #20760 "[10.0] User can bypass POS pincode by using a barcode scanner"
Impacted versions: Atleast 10.0

Steps to reproduce:
1. Create a second user with access to the point of sale and set a POS pincode and barcode on the user. For example:
![image](https://user-images.githubusercontent.com/6352350/32496169-976a4a70-c3c8-11e7-8f0c-6df7383bd58c.png)
2. Open the point of sale with your main user (in my case administrator). Click on the top to change from user and choos

[2017-11-07 13:45] Yenthe666 commented on #20760
Odoo ticket number is 781360

[2017-11-07 13:48] flotho opened #20761 "[10.0]Pos Session could be opened twice"
Impacted versions:
10.0 Community
* 10.0 fdb2f17 [I18N] add VAT es_MX translations

Steps to reproduce:
didn't succeed to identify a proper scenario

Current behavior:
some session could be opened while another is currently opened.
![bad_sessions](https://user-images.githubusercontent.com/1043935/32496720-7bfa27ae-c3ca-11e7-83ad-469510a60c1c.png)
Maybe some constraints / controls are missing

[2017-11-07 13:52] flotho opened #20763 "[10.0]Pos order is not created nor saved in client if user has no mail"
Impacted versions:
* 10.0 fdb2f17 [I18N] add VAT es_MX translations

Steps to reproduce:
Create a user and check that its related partner has no email set.
Opene a session and make an order

Current behavior:
Having this in the logs :
[code]
The order is not saved in the client => no transaction at all is logged.

Expected behavior:
The lack of email shouldn't be an issue  :
- Add a control that t

[2017-11-07 14:08] treviser opened #20764 "[Odoo Forum]: all new questions are tweeted under ThinkOpen Solutions name in twitter!!!"
Check this: https://twitter.com/thinkopenTW

I don't think that this is good for ThinkOpen's reputation!

@Yenthe666 let's earn some Caipirinhas from ThinkOpen Brazil :-)

[2017-11-07 14:09] dxepitropov opened #20765 "[11.0] When company does not have logo set, reporting is not working."
Impacted versions:
11.0
Steps to reproduce:
Create a new DB (no demo data) -> Install Leaves App, Generate Report "Leaves by Department"

Current behavior:
When you click print it prompts for choose a report Layout. After you click save & print you receive the following error message: " Form content is missing, this report cannot be printed. "

Expected behavior:
Either notify that a report layout

[2017-11-07 14:09] lap-odoo commented on #18565
Could someone provide me the law that explain the requirements for this sequence number for the accounting moves ? Thanks

@etobella : Indeed, in standard you can have a different sequence for the refund

@jalzaga @felixvillafranca : regarding the trade name, what we will do is to add a field on the bank accounts (res.partner.bank) where to enter the exact name of the bank account holder. If the f

[2017-11-07 14:13] Yenthe666 commented on #20764
@treviser aren't they tweeting this theirself? Perhaps they made a checker to automatically tweet? Or am I missing something huge here? 😆

[2017-11-07 14:18] treviser commented on #20764
No, these are completely different people and it's every new post meanwhile.

[2017-11-07 14:23] Yenthe666 commented on #20764
@treviser yes this is indeed every new topic on the help forums. I just don't see what the problem is though? They probably scrape the page, get the content and make tweets from it automatically.

[2017-11-07 14:25] treviser commented on #20764
@Yenthe666 That would not make any sense at all, creating such efforts to damage the own reputation???

[2017-11-07 14:27] felixvillafranca commented on #18565
@lap-odoo , IMO what you propose is not correct, this field is linked to res.partner not to res.partner.bank.
You can take a look to [OCA module](https://github.com/OCA/l10n-spain/blob/11.0/l10n_es_partner/models/res_partner.py). Notice that is important to provide a way to search using this "Trade Name".
Regards,

[2017-11-07 14:28] Yenthe666 commented on #20764
Well, there isn't much we can do about it. This literally looks like the did this theirselves. 😄
CC @JKE-be or beloved forum guru.

[2017-11-07 14:35] lap-odoo commented on #18565
@felixvillafranca : What we suggest is to enter the trade name as the normal name of the partner. That's the name that will be used the most often (the "common" name). From what we know, the only time where the "official" name is needed is when making payments, since the bank can require that official name linked to the bank account. Are there other use cases where you think this has an implicatio

[2017-11-07 14:37] treviser commented on #20764
@Yenthe666 I tried to contact them, let's see. I don't believe they do that themselves and on purpose.

[2017-11-07 14:40] JKE-be commented on #20764
@treviser waiting your feedback ;)

[2017-11-07 14:43] felixvillafranca commented on #18565
@lap-odoo , Don't forget that in adition to the paymentes you have to present all reports (legal reports) with the legal name.

[2017-11-07 14:45] treviser commented on #20764
@Yenthe666 .....mmmmhhh, on the other hand, you may be right, this is maybe a new SEO marketing gag to get better rankings....tons of content linked to the own name....

[2017-11-07 14:46] lap-odoo commented on #18565
@felixvillafranca Do you mean your legal reports (your P&L for example, you want to see your official name) or do you mean that when you send an invoice to a customer you want to address it to its official name ?

[2017-11-07 14:49] Yenthe666 commented on #20764
Yup - I'm quite sure it is. It makes me think of tweets like https://twitter.com/Suleman_Hasib/status/927559813432774656

[2017-11-07 14:49] AngelCamacho commented on #18565
@lap-odoo  In spain Invoices , P&L have to see the official name (legal name), not only the payments. The trader name it's only for comercial suposes and it's a easy way to find a customer with his trade name.

[2017-11-07 14:54] treviser commented on #20764
Unbelieveable....what a crazy world that is

[2017-11-07 14:59] lap-odoo commented on #18565
@AngelCamacho "It's an easy way to find a customer" > I agree, that's why the trade name should be entered as name of the partner_id.

P&L : You only use it internally, right ? When sending this information to the Government you have to re-enter the data (and the official name of the company), isn't it ?

On the invoice : do you mean you need to send it to the official name of your customer or usi

[2017-11-07 15:05] felixvillafranca commented on #18565
@lap-odoo , It's mandatory to show your official name and your VAT number in the invoice, although you can also show your Logo & Trade Name.

[2017-11-07 15:07] Yenthe666 commented on #20764
Let me know if you get any response from the guys - but I think we can conclude some people really do everything for some views 😉

[2017-11-07 15:11] felixvillafranca commented on #18565
@lap-odoo , check [the law](http://www.boe.es/buscar/act.php?id=BOE-A-2012-14696&p=20141220&tn=1#a6) (in spanish sorry).

[2017-11-07 15:31] treviser commented on #20764
Got a response, they are really doing that on purpose in the believe it would support their marketing.

[2017-11-07 15:31] #20764 closed

[2017-11-07 15:32] treviser commented on #20764
Sorry for bothering you all in my naïveté :-)

[2017-11-07 15:33] Yenthe666 commented on #20764
LOL. Hmm, yes, it will absolutely support their marketing /sarcasm
Thanks for the confirmation! :-)

[2017-11-07 15:42] dantvalan opened #20772 "[11.0] custom template xml KeyError: 'odoo'"
Impacted versions:11.0

Steps to reproduce: Create a specific page layout
when i set the attribute **page="True"** in tag template the Error appears.
`<odoo>
  <template name="Services page" id="website.services" page="True">
    <t t-call="website.layout">
      <div id="wrap">
        <div class="container">
          <h1>Hola!!!</h1>
        </div>

        <div class="oe_structure" />
      </

[2017-11-07 15:45] Yenthe666 commented on #20772
Hi @dantvalan,

You can remove the `page="True"` parameter and it'll work just fine? You can set the page=True parameter in the controller 😉

[2017-11-07 15:46] ThijsvOers commented on #20655
Hi,
I had the same issue with images on my local 10 CE Odoo version. I think it started after installing a new module (and of course i do not remember which module it was...)

![one_module_too_many](https://user-images.githubusercontent.com/30256071/32502223-71fe1fe8-c3da-11e7-8f52-2c804dc3a247.png)
When i want to open a product i get the following error, perhaps this helps to solve the issue.

Tr

[2017-11-07 15:48] lap-odoo commented on #18565
@felixvillafranca : Point C I guess ? I'm sorry I don't really see where the make the distinction between trade name and official name, Google Translate is probably not precise enough. Could you please precise which point of the law I should be looking at ? Thanks

[2017-11-07 15:58] dantvalan commented on #20772
Hi @Yenthe666 yes i can remove the parameter and the error dissappear, but the template not work fine. Where is the controller?.
I only have this files __init__.py is empty , __manifest__.py  is a dict, views and statics files

[2017-11-07 15:59] Yenthe666 commented on #20772
Hi @dantvalan,

Have you ever made webpages & controllers in Odoo? Please have a look at https://www.odoo.com/documentation/10.0/howtos/website.html 😉

[2017-11-07 16:04] gelo-landoo commented on #18565
@lap-odoo In point C where it´s said " Nombre y apellidos, razón o denominación social completa" means the official name. "Nombre y apellidos" is for example a freelance (Miguel Ángel García Rodríguez). "Razón o denominación social completa" is the official name of the enterprise, as it has been registered, for example "Vodafone España, S.A.

[2017-11-07 16:07] felixvillafranca commented on #18565
@lap-odoo , Try [this](https://www.oepm.es/es/propiedad_industrial/preguntas_frecuentes/FaqSignos01.html)

[2017-11-07 17:24] fmdl commented on #18826
@qdp-odoo any news about this issues ?

regards

[2017-11-07 17:25] odony commented on #20519
@smetl @qdp-odoo @nim-odoo maybe this is another example related to the rewrite of tax-included base/amounts computations? Could you double-check?

[2017-11-07 19:43] alaherma opened #20776 "Is there way to select fonts without code? [website module v10]"
Impacted versions:
v10 Website module
Steps to reproduce:

Current behavior:
The only way to change the font-family is by customising HTML. Is someone developing an upgrade for this?
Expected behavior:
Can change font family with a dropbox or a button next to the font size in this bar
Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/16642593/32514091-9240cb66-c3

[2017-11-07 20:58] dantvalan commented on #20772
@Yenthe666 you were right, now can you help me, i dont know where add my own styles css?

[2017-11-07 21:59] nehemiascr commented on #20772
I encounter the same issue by following the [theme tutorial for odoo 11](https://www.odoo.com/documentation/11.0/howtos/themes.html#create-a-specific-page-layout), is @Yenthe666 solution a workaround or is it the way to go in odoo 11? thanks.

[2017-11-08 00:17] dominiquekonsuntack opened #20778 "Error when trying to add a picture to the project task description"
Impacted versions: 11 Community and Enterprise

Steps to reproduce:
Go to a task form
Edit
Add a picture to the description field. A dialog box opens to upload an image.
Upload the image.
Save
Error message
![screenshot_110817_081141_am](https://user-images.githubusercontent.com/13960037/32524837-8fd4a1f4-c45c-11e7-80db-fd2d89c8425e.jpg)

Error:
Uncaught TypeError: Cannot read property 'className'

[2017-11-08 01:12] aliencrash commented on #19160
Having the same issue here, cannot print any document.

[2017-11-08 02:30] phuongnguyen3108 opened #20780 "Odoo 11 error when create invoice from SO"
Impacted versions: 11

Steps to reproduce:
1. Create a Customer Quotation for a product which its invoicing policy = 'Delivered quantity' (say "Server")
2. Confirm sale and set Delivery to "Done"
3. Click "Create Invoice" button.

Current behavior:
System shows error message "There is no invoicable line"
Expected behavior:
Invoice should be created successfully since the product is received
Video/

[2017-11-08 05:53] 423230557 opened #20784 "odoo11 stock have a server error"
Impacted versions:Odoo 11.0+e-20171005

Steps to reproduce: i purchase 4934 , my stock is more than 4934

Current behavior: reserved stock:3623    on hand stock:4934    i want sale this stock, but it remind me error:
it is not possible to unreserve more products than you have in stock.

Expected behavior: how to sale this?  how to solve it

Video/Screenshot link (optional):

[2017-11-08 06:03] Yenthe666 commented on #20772
I think it was done by design. @JKE-be can you confirm this?
And @dantvalan you can do this by adding the CSS files to the Odoo assets with an xpath. It should be in the documentation too.

[2017-11-08 06:28] sle-odoo commented on #20784
Hi,
We have fixed multiple points that could trigger this issue recently, could you please uprade your Odoo version?
Also, are you using multiple UOM?
Did you change the type of your product from stockable to consumable (or the other way)?
Did you run an inventory adjustment to decrease the quantity while moves were reserved?

Fixing this issue without debugger could take a while, would you consid

[2017-11-08 07:03] Yenthe666 commented on #20778
Hi @dominiquekonsuntack,

Thanks a lot for your report! I can confirm that this is a bug in Odoo:
![image](https://user-images.githubusercontent.com/6352350/32535616-0ee79822-c45b-11e7-9a7c-f105846a4953.png)
@ged-odoo it is a JS error - can you check? It is coming from https://github.com/odoo/odoo/blob/cd48a806ac636806130efcf5c055f73758cb0902/addons/web_editor/static/src/js/widgets/widgets.js#L185

[2017-11-08 07:09] Yenthe666 opened #20786 "[11.0] Uncaught TypeError: Cannot read property 'isPassword' of undefined"
Impacted versions: 11.0 (community and enterprise)

Steps to reproduce:
- Activate the developer mode
- Open a product its form and select "Set Defaults" from Developer tools menu. You'll now get a JS error:
![image](https://user-images.githubusercontent.com/6352350/32535837-0c8160ee-c45c-11e7-8071-76d0bc92cbe6.png)

Current behavior: JavaScript error when trying to set default values

Expected be

[2017-11-08 07:12] Yenthe666 commented on #20786
Hi @ged-odoo,

Could you look at this one too? Also a JS error on a variable.

Regards,
Yenthe

[2017-11-08 07:15] Yenthe666 commented on #20776
Hi @alaherma,

Thank you for your report. At the moment you can't choose your own font-family through a button or setting right away. The only way to do this (that I am aware off atleast) is to add it with code.
@JKE-be perhaps we could make this a wishlist item? For example: the ability to choose from default fonts atleast?

Regards,
Yenthe

[2017-11-08 07:38] nim-odoo commented on #20519
As of today, it doesn't seem to occur anymore:
https://screenshots.firefox.com/HBRejlzCib5387al/276439-10-0-3b43dd.runbot9.odoo.com
https://screenshots.firefox.com/ly6pnhggLMqLVNnG/276439-10-0-3b43dd.runbot9.odoo.com

[2017-11-08 08:00] zhujin001032 opened #20788 "Sign up and Reset Password lost"
Impacted versions:10.0

Steps to reproduce:
When install "tko_web_sessions_management" ,Web front "Sign up" and " Reset Password " lost !
![11111](https://user-images.githubusercontent.com/7955640/32537307-1777c6f0-c49d-11e7-813f-6b034710a7cb.png)

When uninstall "tko_web_sessions_management" , Web front "Sign up" and " Reset Password " show .
![2222](https://user-images.githubusercontent.com/7955

[2017-11-08 08:02] nim-odoo commented on #20719
@jco-odoo can you merge your fix?

[2017-11-08 08:23] Yenthe666 commented on #20788
Hi @zhujin001032,

Thank you for your report but the bug tracker is only for bugs in the official code. This module is not from Odoo S.A itself.
You can ask for support at the creator of the module or on the official help forums (at help.odoo.com).

Regards,
Yenthe

[2017-11-08 08:23] #20788 closed

[2017-11-08 08:32] brychmilan commented on #20743
Hi, I have one more thing. Issue is still here but only if we use Czech language. Can you please try i with Czech translation? If we use Germany or many others all seems fine, but Czech language cause this issue.

[2017-11-08 09:11] odony commented on #20519
@nim-odoo Thanks!

@MaxEvron Could you verify if the issue still happens for you with the latest v10? Otherwise we can probably close this issue.

[2017-11-08 09:23] ploegvde commented on #18572
@lap-odoo I found a bug in the ICP report. When no product is set on the invoice line, the module can not determine if it is 'product' or 'service'. In that case there is a difference between the 4b tax group on the tax report (aangifte omzetbelasting) and the ICP report, which has the details of tax group 4b.
What we can do it add a column "unknown". Then the user can make up his mind if it is pr

[2017-11-08 09:24] #20634 closed

[2017-11-08 09:29] humanitiesNerd opened #20790 "suds"
Impacted versions: 11.0

Steps to reproduce: trying to install the sales module

Current behavior: an error dialog window pops up claiming no suds module available (suds-jurko is installed but it' s for python2, I suppose)

Expected behavior: the module to install flawlessly

Video/Screenshot link (optional):

[2017-11-08 09:34] Yenthe666 commented on #20790
Hi @humanitiesNerd,

This is not a bug but an implementation issue. You should install suds for Python 3, as Odoo runs on Python 3 by default.
`sudo pip3 install suds-jurko` would fix this for example.

Regards,
Yenthe

[2017-11-08 09:34] #20790 closed

[2017-11-08 09:38] mart-e commented on #20634
Hello,

For the meeting tags, I disagree. Actually it should not be as data as it is business relevant.
You can go to Settings > Technical > Calendar > Meeting Types to change it.
I have moved them from data to demo data in master at 42a402bf0ec788667c1bd6d8a3c378ec8f7cd41f

In 11.0, I can accept as an improvement, to put the name of the reminders as translatable as this one is useful to have as a

[2017-11-08 09:56] JKE-be commented on #20776
Hi,

When you have a theme, you can select the font in the '"Customize Theme" panel.

That will avoid that you hard code a font everywhere instead of using a global font.
And with this solution, you can easily switch all pages from your website in one click without update the font on each page one by one.

Now if you really need the hacky style for one line, you can always make a past from the sty

[2017-11-08 09:56] #20776 closed

[2017-11-08 09:57] khishigbat commented on #20634
Thank you very much! @mart-e

[2017-11-08 10:07] lap-odoo commented on #18572
@ploegvde Thanks for reporting this.

@smetl will take care of fixing that.

For the ICP Report, what we will do is to add two tags (on taxes) : "Product" and "Dienst". Based on the tag defined on the tax, it will go on the column product or the column diensten.

[2017-11-08 10:17] novawish commented on #19160
@mkschreder @jl2035 @aliencrash Did you try the solution I mentioned above?

[2017-11-08 10:19] ploegvde commented on #18572
That won't be possible. There is only 1 tax group 4b and that is used for both products and services and also in most cases set by the fiscal position of the partner.  So you can not set tags on that. Or do i misunderstand.

[2017-11-08 10:23] lap-odoo commented on #18572
In that case you will have to duplicate the taxes and one is used for the services and the other for the products. That's what we have in the Belgian Localization. We also need to distinguish the product type when selling or buying outside belgium, so we use different taxes.

[2017-11-08 10:30] ploegvde commented on #18572
Ok, but then we also have to change the tax chart and tax report. We will have a tax group 4b1 for products and a 4b2 for services. On tax report the total of 4b is displayed. On ICP report we can split is.

That also solves the problem for services that needs to be on ICP report as product.

What does the rest think?

[2017-11-08 10:35] lap-odoo commented on #18572
@ploegvde Indeed, we will have to change the tax chart and the ICP report. I don't think the tax report will be impacted.

That's already how we manage it for Belgium so at least we stay in the standard of Odoo.

[2017-11-08 10:42] jl2035 commented on #19160
@novawish yes,  but I can't print invoices.

me@vps134323:~$ wkhtmltopdf --version
wkhtmltopdf 0.12.1 (with patched qt)

[2017-11-08 10:54] Yenthe666 commented on #20743
@brychmilan,
Works fine for me too.
Czech:
![image](https://user-images.githubusercontent.com/6352350/32545285-7c2bace6-c47b-11e7-9b41-449813db9032.png)
English:
![image](https://user-images.githubusercontent.com/6352350/32545293-84643946-c47b-11e7-8033-2b8a6c19876e.png)

[2017-11-08 11:25] mkschreder commented on #19160
For me just downgrading did not work. I had to have a special version built with modified qt.

[2017-11-08 11:41] brychmilan commented on #20743
In your post you are logged in, bud if you are as public user (logged out) there is only czech translation. Other languages works fine also if you are logged out.

[2017-11-08 11:44] brychmilan commented on #20743
Is seems as EN menu is replaced by Czech menu for public users.

[2017-11-08 13:33] ged-odoo commented on #20699
fixed in saas-16, commit https://github.com/odoo/odoo/commit/9e97ad8dce4525d6a132b8f8353b5c8fa87caba2

Thank you for your detailed report

[2017-11-08 13:33] #20699 closed

[2017-11-08 13:52] ged-odoo commented on #20736
@elgow This sounds bad, but I think I must be missing something.  I tried to literally do what you suggest:
- open a customer form view in 11.0
- add <button string="Raw report" name="raw_form" type="object"/> in the form view
- reload the page (on an existing customer, in readonly mode)
- click on the button

It then calls the route /web/dataset/call_button, as expected. I tried in edit mode, and

[2017-11-08 13:59] KasperDeclercq opened #20796 "[11.0] Credit Note Delivery Address"
Impacted versions: 11.0

## Steps to reproduce:
1) Create Credit note (Customer Credit Note)
2) Fill in the Customer
3) Save
4) Edit

## Current behavior:
Displaying of the Delivery Address isn't as it should be. (See images)

After Step 1 and 2:
<img width="359" alt="credit_note1" src="https://user-images.githubusercontent.com/24540328/32552661-f318523c-c494-11e7-96aa-e9d160aa3fc5.PNG">

After St

[2017-11-08 14:01] mart-e commented on #20046
Introduced at e5ef1c59172b7b8ebb1912e015fd41003ffc275d
@xmo-odoo I think the patch needs to be a bit more complex than that.

[2017-11-08 14:34] yostashiro commented on #19592
Fixed with https://github.com/odoo/enterprise/pull/1558/commits/e36b0179b6d4614dba85cd119db9f8bd4be688fd

[2017-11-08 14:34] #19592 closed

[2017-11-08 14:55] odony commented on #19583
For the record, point 1 (support for `hostssl` connection to the database backend) has been included in Odoo 11, via the new config option `db_sslmode`. See `odoo-bin --help`.

[2017-11-08 15:20] ploegvde commented on #18572
Ok, how do we move on with this?

[2017-11-08 17:53] elgow commented on #20736
Sorry, my bad. I've traced the problem to the commitChanges() call on my custom widget. When not it edit mode my widget was returning an unresolved jQuery Deferred from commitChanges() which caused processing to freeze waiting for it to resolve. Returning either a resolved Deferred or nothing at all fixes. Migrating my custom widget to the new 11.0 front-end class structure has been an adventure.

[2017-11-08 17:53] #20736 closed

[2017-11-08 18:33] humanitiesNerd commented on #20790
2017-11-08 10:35 GMT+01:00 Yenthe V.G <notifications@github.com>:

Ok, thank you !

[2017-11-08 18:52] Yenthe666 commented on #20790
You're welcome - best of luck!

[2017-11-08 20:12] vcloud9ray opened #20804 "[11.0] Invoices reconciled via Payment Matching smart button on Payment are not setting has_invoices, so the Invoices smart button is missing, and no Invoices are associated with the Payment, even though the Invoices have their balances correctly reduced.."
With the new functionality to do payment matching directly from the Payment, the resulting logic to allow the Invoice button to be shown isn't working - the Invoices do show they are paid but are not linked to the Payment (even if I force the Invoices button to be shown, nothing is shown in the Invoice list when the button is clicked).

Impacted versions:

11.0

Steps to reproduce:

Create a Custo

[2017-11-08 20:49] satautiv opened #20805 "tree_view_ref stays in context for opened window"
Impacted versions: 11.0

Steps to reproduce:
(This is just an example(which does not make much sense) to show the problem).

I create a form view with one2many field where i specify a tree view with context variable tree_view_ref and don't specify form view. For example I edit stock.picking view 'stock.view_picking_form' field "move_line". I removed tree view from that view and specified tree view

[2017-11-08 21:03] XeJames commented on #18699
You need to be careful here.  There are scenarios where you WANT this to be fully transparent and the reversal needs to stay on the books.

1. E-Transfer to vendor. (reconcile to invoice)
2. Vendor cannot accept.
3. Cancel E-Transfer. (un-reconcile invoice)
4. Wire Transfer. (reconcile to invoice)

In truth, your paper bank statement WILL show all three entries and they all need to be reconciled t

[2017-11-08 22:52] yeremia-rainier commented on #15988
i have this problem also, any help available?

[2017-11-09 00:54] zhujin001032 commented on #20788
Thanks

[2017-11-09 00:55] zhujin001032 commented on #20788
@Yenthe666  Thanks.

[2017-11-09 02:12] taifu commented on #18679
So sad this it's going to stay in 11 :-(

[2017-11-09 05:31] elishah19 commented on #4231
Hello @Cywaithaka and @TheCloneMaster , could you also share your module with me?
I am also trying to save an order before it get's paid.  in fact, i'm finding if what model do exactly  the POS order unpaid stored or saved. Then I finally found this conversation.
I hope you may help me with this one..

Thanks. and God bless.

Here's my email: elishah.garcia019@gmail.com

I'll wait for the response

[2017-11-09 07:20] livinglasnubes commented on #15628
Hi,

  We are experiencing the same issue. Around 400 items.

  I have gathered some facts:

  1. If I use the treeview 2 or 3 onchange events are fired every time I change a field but if I shrink the window so it uses the Kanban interface only one event is fired. It takes 4 to 7 seconds per call so it makes a difference.

  2. I have logged SQL queries during one qty update for a 400 lines invent

[2017-11-09 09:47] kebeclibre commented on #19920
I think commit 7c486b4d0c84c04ac1a42b67484ff3383a69dc28 solves this issue

[2017-11-09 09:57] mart-e commented on #20066
Hello,

I have fixed it in saas-14 at b1bf99b7e3. It will be ported in 11.0 in a few days.

Thanks for the report

[2017-11-09 09:57] #20066 closed

[2017-11-09 10:07] MaxEvron commented on #20519
@odony : Update done, issue fixed. Closing the issue. Thanks. :+1:

[2017-11-09 10:07] #20519 closed

[2017-11-09 10:12] oco-odoo commented on #18565
Hello everyone,

As promised to @felixvillafranca a few days ago, I just finished a subset of Spanish localization's phase II's features, and you can now test them :)

You can find the dev branch on runbot, in odoo-dev/enterprise, under the name master-l10n-es-2-oco. Please keep in mind that this is all a work in progress, so it is possible that, sometimes, some commits are red on the branch, and

[2017-11-09 10:51] Yajo opened #20821 "Make it easy to add load asynchronously qweb2 js templates"
Impacted versions: 9+

Current behavior:

When you want to add a qweb template in JS, you usually do:

[code]

This is the common pattern, and it makes the load in sync mode, which blocks the UI. **Bad pattern**

https://github.com/odoo/odoo/blob/053209fb0eeb3f7b6de46ee8887fbf3e2df0b60e/addons/web/static/lib/qweb/qweb2.js#L237-L243

You can load templates asynchronously with this code:

[code]

Th

[2017-11-09 10:54] felixvillafranca commented on #18565
Hi @oco-odoo ,
I'll test it ASAP.
Thanks for your great work ;·)

[2017-11-09 10:55] lap-odoo commented on #18572
@ploegvde

First, we need to fix the V11. @smetl is taking care of this, he will inform you when it's done. Concretely, we will change the way the ICP report is generated, it will not be based on the product type anymore but based on tags. We will add two tags on taxes : "Product" and "Dienst". You will have to deduplicate the taxes to have one for producten and one for diensten.

Then, for the ne

[2017-11-09 10:56] mart-e commented on #16344
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not find a proper fix in time.

Regards

[2017-11-09 10:56] #16344 closed

[2017-11-09 11:02] mohitg1213 opened #20822 "Internal Server Error on Fresh installation of ODOO 11"
Impacted versions: Odoo 11 (Community Edition)

Steps to reproduce:
- Install a fresh odoo 11 (Community Edition)
- When we first time log-in it, we got Internal Server Error, although on refreshing browsers problem get resolves.
- But every-time we restarted Odoo, we got this error on login.

Current behavior:

**Trace-back Error:**
[code]

Expected behavior:
- No error should be there.

[2017-11-09 11:14] mohitg1213 opened #20823 "No official/compatible release of wkhtmltopdf 12.1 for Ubuntu 17.04 (Zesty Zapus) or greater"
Getting error while printing PDF reports, on Ubuntu 17.04 or greater for Odoo 10/11

As explained in Odoo Installation page, " _the version of wkhtmltopdf available in debian repositories does not support headers and footers so it can not be installed automatically. The recommended version is 0.12.1..._", but it is not available on the wkhtmltopdf download page for Ubuntu 17.04 or greater. I have

[2017-11-09 12:53] Yenthe666 commented on #20804
@qdp-odoo this is for you. 😉

[2017-11-09 12:59] Yenthe666 commented on #20823
@sle-odoo can you give feedback please?

[2017-11-09 13:08] Jerther commented on #15628
The trick is to create a list view dedicated to the inventory adjustment lines, and use that view to make the adjustments. This is how Odoo fixed it in 11.0; there's a "Details" button in the inventory adjustment form view that leads to said view.

[2017-11-09 13:33] lap-odoo commented on #20416
Hi,

We are now working on updating the taxes for l10n_ch. Once this will be done I'll inform you so that you can verify the changes.

What we will do :
- For the next saas release, we will add the 3,6% and 7,7% taxes. On the 1st of January, the users will have to deactivate the old taxes.
- For the first saas release that will arrive after January, there will only be the 3,6 and 7,7% taxes.

[2017-11-09 13:54] Yenthe666 opened #20828 "[10.0, 11.0] Implementation progressbar stays in main screen"
Impacted versions: 10.0, 11.0

Steps to reproduce:
- Open up an app that has an implementation guide (for example accounting):
![image](https://user-images.githubusercontent.com/6352350/32607201-63b5b3cc-c558-11e7-97d0-8de3e2d6601f.png)
- Go back to the main app switcher. You will now see the progressbar from the implementation guide in your screen:
![image](https://user-images.githubusercontent.c

[2017-11-09 13:57] Yenthe666 commented on #20828
OPW 781726
@ged-odoo this might be for you 😉

[2017-11-09 14:04] Yenthe666 opened #20829 "[9.0, 10.0, 11.0] Website planner is not translated from the website"
Impacted versions: 9.0, 10.0, 11.0

Steps to reproduce:
- Install the website module and install another language that is fully translated (Dutch in my example).
- Go to settings and open the implementation planner for the website - you will see it translated in Dutch:
![image](https://user-images.githubusercontent.com/6352350/32609136-e64a5abc-c55e-11e7-88f7-76c7581f203a.png)
- Go to the website

[2017-11-09 14:09] Yenthe666 commented on #20829
OPW 781727
@JKE-be might be something for you too. 😉

[2017-11-09 14:17] nim-odoo commented on #20719
Hello,

Actually, I don't think there is anything to fix on the stable version.

To me, that makes sense: you might have canceled the procurement manually, setting it back to 'Running' without any confirmation could also cause issues.

You can definitively change that on your side with a specific module:
[code]

Or directly in the code: https://gist.github.com/nim-odoo/fff0efd6465829ddaddee6ee0d71

[2017-11-09 14:20] Yenthe666 opened #20831 "[11.0] Unable to translate main settings app names"
Impacted versions: 11.0

Steps to reproduce:
- Go to settings > general settings in another language than English (I took Dutch since its almost 100% translated)
- The app names are never translated in the settings menu and they are not in the source terms to translate:
![image](https://user-images.githubusercontent.com/6352350/32609893-6d629134-c561-11e7-85bd-5f3efb648d5b.png)

Current behavior:

[2017-11-09 14:22] Yenthe666 commented on #20831
OPW 781728
@mart-e this is probably for you.

[2017-11-09 15:23] lap-odoo commented on #18571
@tv-openbig

Hi,

We don't merge any new things in V10 as it is a stable version. On stable versions, we only fix bugs.

We've just finished to improve the CoA for the V11, these changes have been validated by the Odoo partners who participated in this issue. We don't plan to do other changes on the CoA (expect if we notice they are needed to implement reports, etc.).

Did you check the last thing

[2017-11-09 15:42] lap-odoo commented on #18561
Hello,

We have started to work on the l10n_hk. For now, we are just copying the chart of account for UK. We do not create any taxes.

Is there anything else to do ?

Thanks

[2017-11-09 15:52] JonathanNEMRY opened #20835 "[BUG] wrong value when inherit from product_id_change to changing price_unit"
Impacted versions:
10.0

Steps to reproduce:

inherit from sale.order.line and add this code:
[code]

Go to sale order and do the exact steps:
* add a customer
* add a line and select a product

Current behavior:

price_unit = product.price
Expected behavior:

price_unit = 5896523

[2017-11-09 15:57] ploegvde commented on #18572
we need to deduplicate ALL the taxes >> No for the ICP report we have only one tax and that is "Verkopen export binnen EU". That is for all deliveries/services to countries within the EU. So this one needs to be splitted into "Verkopen export binnen EU Producten" and "Verkopen export binnen EU Diensten" (where diensten means services).

But if we do that we also need to change the Dutch Fiscal pos

[2017-11-09 16:01] lap-odoo commented on #18572
@ploegvde But if you only duplicate the tax "Verkopen export binnen EU", indeed it will be problematic for the fiscal positions. So all the taxes that could potentially be replaced by "Verkopen export binnen EU Producten/Diensten" should be duplicated too

[2017-11-09 16:12] ploegvde commented on #18572
We will provide you input.

[2017-11-09 17:17] zouine opened #20836 "Print survey answer is empty"
Impacted versions: 11.0

Current behavior: when i fill and submit a survey, 'print answers' get me a blank form instead of one with the answers i submitted.

Expected behavior: get my answers on the form
![survey](https://user-images.githubusercontent.com/13539058/32619160-c59f3b3a-c571-11e7-9c21-d10d90a5a7ea.png)

Video/Screenshot link (optional):

[2017-11-09 17:43] rosenvladimirov commented on #19583
I found i odoo problems linked indirectly with GDPR. Security control on session is not in high level. Problem: in odoo not have time based control for security like as RADIUS server. Meaby is better to add module for intgrations with freeipa server (not ldap).

[2017-11-09 18:16] #13839 closed

[2017-11-09 18:16] #20427 closed

[2017-11-09 18:22] yvaucher commented on #20416
@lap-odoo I think there should be a reflexion about how to have taxes changes. A start and end date for it's valadity on taxes could help a lot. While, tax change does not occure often but for odoo having e-shop it's pretty important that it should be a pre configurable thing. Even by scripting it, it won't be changed in an instant if you have to change the tax on several products.

[2017-11-09 18:34] pedrobaeza commented on #12627
@odony any plans to support SVG in next Odoo version? Should you accept if we add this support and propose it to master?

[2017-11-09 18:56] eisenheimjelid commented on #20823
You can download old versions from official page in: https://wkhtmltopdf.org/downloads.html for example, exactly 0.12.0 are in https://github.com/wkhtmltopdf/wkhtmltopdf/releases/0.12.0/ i trying the same.

[2017-11-09 19:43] eisenheimjelid commented on #20823
Ok! i understand, the error is:
`Wkhtmltopdf falló (error code: -6). Mensaje: b'The switch --header-spacing, is not support using unpatched qt, and will be ignored.The switch --header-html, is not support using unpatched qt, and will be ignored.The switch --footer-html, is not support using unpatched qt, and will be ignored.QXcbConnection: Could not connect to display \n' `

With wkhtmltopdf 0.12.

[2017-11-09 20:19] icf20 opened #20837 "key number 83 produce a . not an , like expected"
Impacted versions:
10
Steps to reproduce:
1 set the server in spanish
2 go to a product and type 123,12€ using the numpad
Current behavior:
pressing key number 83 produce a . not a , when introducing numbers
Expected behavior:
key number 83 should produce , not a .

key number 83 is between 0 and enter on numpad

[2017-11-09 21:58] mamiu commented on #20699
Your welcome!

[2017-11-09 21:58] mamiu commented on #20699
You're welcome!

[2017-11-09 22:10] #20099 closed

[2017-11-09 22:36] vcloud9ray commented on #18697
Currently allowing users to remove the value in **move_name** by creating a Menu for Bank Statement Lines.  The tree view needs `editable="top"` and the move_name field added with `readonly="0"` and then users can easily find and edit entries that need to be reconciled after mistakes.

[2017-11-10 00:17] lukebranch commented on #18561
Here's one that I use quite often as a base for trading companies in Hong Kong:

https://github.com/grimmette/odoo/tree/9.0/l10n_hk/data

@svilij ,

Any thoughts on this proposal?:

[2017-11-10 00:37] GoodERPJeff commented on #9273
same issue on odoo10

[2017-11-10 02:08] JulioSerna opened #20839 "[purchase] wrong invoice status when return picking"
Impacted versions:
* 11.0

Steps to reproduce:
* Create purchase by 100 qty
* Receive purchase by 100 qty
* Create invoice by 100
* Create return by 1 qty with `Refund (to update SO/PO)`

Current behavior:
Status invoice is `No Bill to Receive`

Expected behavior:
Status invoice must be `Waiting Bills`

[2017-11-10 02:26] JulioSerna opened #20840 "[account] wrong journal item when invoice return picking"
Impacted versions:
* 11.0

Steps to reproduce:
* Create purchase by 1 qty and receive
* Create invoice by 1 qty
* Create return
* Create refund invoice

Current behavior:
The journal entry
![bill 2017 0004 odoo](https://user-images.githubusercontent.com/7595505/32639627-61e8cd36-c58a-11e7-907f-4f868bc786f0.png)

Expected behavior:
The journal entry
![334 odoo](https://user-images.githubusercontent

[2017-11-10 06:06] jeffery9 opened #20844 "[11] delete option in list tree not worked"
Impacted versions:
11-ce

Steps to reproduce:

any list view, set `delete="0"` in tree tag

the form view of the same model, set `delete="0" `in form tag

Current behavior:

delete action been removed in from form view, but not been removed from list view.

Expected behavior:

delete atrribute should effect both,

Video/Screenshot link (optional):

in form view, worked
![image](https://user-images

[2017-11-10 06:07] jeffery9 commented on #20844
@mat-e would you like to confirm this issue ?

[2017-11-10 06:32] mohitg1213 commented on #20823
@eisenheimjelid I tried to install wkhtmltopdf 0.12.1 version from same github repo, but unfortunately it didn`t worked(installed) for me, are you able to do it ?

[2017-11-10 07:37] Adasquirrel opened #20847 "[BUG] Inventory Adjustments ---Wrong credit or debit value in accounting entry !"
Impacted versions:10.0

Steps to reproduce:
Product Cost :15
On hand: -2000
We create a new Inventory Adjustments (Select products manually) for this product.
Theoretical Quantity :-2000
Real Quantity:0
After we click "validate inventory" button ,system gives a message "Wrong credit or debit value in accounting entry !"..

If we change product cost more than 15, it's OK, no this message pop up ,bu

[2017-11-10 07:49] Yenthe666 commented on #20847
@jco-odoo this looks like one for you, could you have a look?

[2017-11-10 07:57] Yenthe666 commented on #20836
Hi @zouine,

Thanks a lot for your bug report. I can confirm that this is a bug - the answers are not shown:
![image](https://user-images.githubusercontent.com/6352350/32648199-1d958686-c5f5-11e7-88ea-c7883e3050f3.png)
@JKE-be can you check the issue please?

[2017-11-10 08:00] Yenthe666 commented on #20837
Hi @icf20,

Thank you for your report.
Aren't you just talking about the configuration of the decimal and thousand separators? (You can find this under settings > Translations > languages
![image](https://user-images.githubusercontent.com/6352350/32648325-943dd6f8-c5f5-11e7-9274-696b359e29bb.png)
Wouldn't this resolve your issue?

[2017-11-10 08:33] aimerbois commented on #20077
The solution from @d-fence  solved my problem

Thank you.

[2017-11-10 10:39] Yenthe666 commented on #20844
Hi @jeffery9,

Thanks a lot for your bug report.
I've just tested this and I can confirm that this is a bug. @mart-e and @xmo-odoo could you guys have a look?

Regards,
Yenthe

[2017-11-10 10:41] Yenthe666 commented on #20821
Hi @Yajo,

Thanks a lot for bringing up this idea. @ged-odoo I'm quite sure this is interesting for you! What do you think?

[2017-11-10 10:53] Yenthe666 commented on #18944
@d-fence could you perhaps double check if this is already fixed and checkout the PR?

[2017-11-10 10:53] Yenthe666 commented on #6537
Hi @ddfs ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new bu

[2017-11-10 10:53] #6537 closed

[2017-11-10 10:54] Yenthe666 commented on #6529
Hi @mylbco,

Thank you for your report. This bug should have been fixed quite a while ago though!
Since Odoo 8.0 is no longer supported anymore (Odoo support is over three versions) and as it should be fixed I'm closing this report.

Regards,
Yenthe

[2017-11-10 10:54] #6529 closed

[2017-11-10 10:55] Yenthe666 commented on #6518
Hi @mba-odoo,

Thanks for your bug report.
As Odoo 8 is no longer supported I'm closing this report. If you can still reproduce this on 9.0, 10.0 or 11.0 I encourage you to create a new report.

Regards,
Yenthe

[2017-11-10 10:55] #6518 closed

[2017-11-10 10:55] Yenthe666 commented on #6507
Hi @falinwa ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to create a new

[2017-11-10 10:55] #6507 closed

[2017-11-10 10:56] Yenthe666 commented on #6510
Hey @jpr-odoo,

Thank you for your bug report.
This should have been fixed a while ago and shouldn't be a problem anymore. As this should be fixed and the support for Odoo 8 has stopped I'm closing this bug report.

Regards,
Yenthe

[2017-11-10 10:56] #6510 closed

[2017-11-10 10:58] Yenthe666 commented on #6447
Hi @matthieuchoplin ,

Thank you for your bug report and our apoligies that we haven't had the time to look at this bug report. We do our best to handle all of them, but we sometimes miss some.
At this point Odoo 8 is no longer supported as Odoo only supports three versions (9.0, 10.0, 11.0 at the moment).
If you can still reproduce this issue on Odoo 9, Odoo 10 or Odoo 11 we encourage you to crea

[2017-11-10 10:58] #6447 closed

[2017-11-10 11:09] zouine commented on #20836
Hello,
I see that I can view my answer, so it was saved in Odoo, so the issue concerns viewing the answer, not saving it..I guess
![odoo-sur](https://user-images.githubusercontent.com/13539058/32655888-826ea864-c607-11e7-8823-7172562f85b6.png)

[2017-11-10 11:24] lap-odoo commented on #18561
@lukebranch Thanks for sharing this !

@elicoidal @lukebranch : What do you think ? Should we use this Coa : https://github.com/grimmette/odoo/tree/9.0/l10n_hk/data or is it better to start from the UK CoA ?

For the synchronization with the banks to get the bank statements, we use external services to connect to the banks (Yodlee, Plaid). I guess they will, at some point, offer the synchronizatio

[2017-11-10 11:58] icf20 commented on #20837
no no we dont talk about decimal separator i am talking about how the software responds when i press the key

for example in speed crunch if i set the decimal to be . when i press the key i get dot if i set the decimal to be , i got ,

i am talking about how odoo reads when i press the key

[2017-11-10 12:03] Yenthe666 commented on #20836
The problem is in the view the data is not printed (or it is not passed to the view).

[2017-11-10 12:20] sivaj commented on #20400
I want Unsubscribed this mail imme... Plz help me...

On Tue, Oct 24, 2017 at 8:09 AM, Tim <notifications@github.com> wrote:

[2017-11-10 13:02] intero-chz opened #20854 "[10.0] not possible to toggle tree columns with search filter context and tree column context"
Impacted versions: 10.0 (CE and EE)

Steps to reproduce:
1. open Reqcruitment and change to the list of applications (either on job positions or in debug mode by using the applications menu)
2. use filter "Next Actions"

Current behavior:
The filter is used, but both *_action field columns aren't shown.

Expected behavior:
The filter sets context flags which should toggle the columns to show in th

[2017-11-10 13:56] MeeleCode opened #20856 "float_round doesn't work correctly"
Impacted versions:
10.0, 11.0

Steps to reproduce:
Try rounding 993.42 using uom rounding 0.001

Current behavior:
Result will have extra decimals: 993.4200000000001

Expected behavior:
Result should be 993.42

Where is the problem:
The problem is in the last line of the function
result = rounded_value * rounding_factor # de-normalize
This will create extra decimals and that is why you need to rou

[2017-11-10 14:11] icf20 commented on #20837
apparently this was "solved" in version 8 by installing this app https://www.odoo.com/apps/modules/8.0/web_decimal_numpad_dot/

[2017-11-10 14:36] Yenthe666 commented on #20856
@qdp-odoo rounding related 😉

[2017-11-10 14:49] linkit-odoo opened #20857 "fetchmail fails with python3"
Impacted versions: 11.0

Steps to reproduce: fetchmal fails consistently while downloading messages

Current behavior: TypeError

Proposed patch for file addons/fetchmail/models/fetchmail.py:
[code]

[2017-11-10 14:54] linkit-odoo commented on #20857
Further problems arise with fetchmail, even when patched as above.
Messages sent to an help desk POP box get created but only preserving the original subject, losing all body text.

We get constantly this type of error in logs:
[code]

[2017-11-10 14:54] lap-odoo commented on #20630
Hi,

**1. Distinction between picking wave and batch picking**

I confirm that :

Picking wave = grouping of stock.move.line.

Batch picking = grouping of stock.picking. Previously, this was named "picking wave" in Odoo, creating a lot of confusion but as @nhomar explained, this has been corrected in V11. By the way, we are working on improving the report printed from the batch picking.

**2. Impr

[2017-11-10 14:55] Yenthe666 commented on #20857
@xmo-odoo this might be for you.

[2017-11-10 15:17] AntoineZen opened #20858 "Swiss VAT IDs are based on VAT rate (that can change), not purpose"
**Impacted versions:** All

**Context:**

At the end of this year, the Swiss VAT will change:
 - The Normal tax goes from 8.0% to 7.7%.
 - The Reduced tax goes from 3.8% to 3.7%.

We like to prepare Odoo for deployment inside our company. That will happens in 2018. Thus I am working to prepare the new VAT inside the source code, so when we install the VAT is right from the beginning.

**Current be

[2017-11-10 15:30] Yenthe666 commented on #20858
@lap-odoo this looks like something you should keep track off for Odoo 12.

[2017-11-10 15:36] zeroheure commented on #18948
Please re-open, https://github.com/odoo/odoo/commit/bc623461b3783da4767035f28e0f0ba59db82839 doesn't solve the problem at all (tested on Samsung Galaxy S5 and S7). It work even badly, as it breaks the z-index workaround.

[2017-11-10 15:38] zbik2607 opened #20859 "Bank statement reconcilation with taxes - impossible reconcile"
Impacted versions:
10.0
Steps to reproduce:
Define tax 10%, amount_type = division, price_include
or python tax, result = price_unit * 0.10, price_include
or ...  other cases
Current behavior:
Statements unreconciled
Expected behavior:
Statements reconciled
Video/Screenshot link (optional):

TAX 10%

![screenshot_1](https://user-images.githubusercontent.com/8094437/32665639-48486336-c635-11e7-91a4

[2017-11-10 15:41] qdp-odoo commented on #20858
it could look like a a good idea, but as we'd need both rates to co-exist for a small period of time (transition time), best would be to not do it.

[2017-11-10 15:41] #20858 closed

[2017-11-10 16:29] adrianriedo commented on #20416
Just to be clear for Switzerland starting on 1.1.2018 these are the correct rates:

NT (normal tax) = 7.7% (reduced by 0.3 compared to 2017)
ST (special tax) = 3.7% (reduced by 0.1 compared to 2017)
RT (reduced tax) = 2.5% (unchanged)
In the discussion above these figures were sometimes not correct.

Also please note that the id's in the database unfortunately were called "tax_group_tva_38" instea

[2017-11-10 16:56] brychmilan commented on #20743
Hi do you have some news about this please? This bug block using of web modul. Thank you for every update.

[2017-11-10 17:01] qsm-odoo commented on #18948
Hello,
I tested on Samsung Galaxy S5 and it seems to be working there as well. Have you tried with the latest version? Please send a screenshot if this is still not working on your side.
Thanks.

[2017-11-10 17:08] eisenheimjelid commented on #20823
Hi! I did solve. But my enviroment is with Debian 9 Stretch amd64, and when i tryied to follow the next instructions for install wkhtmltox, i had multiple errors and broken dependecies, because this packages are from 2014.
[code]
So, with Debian i change the apt sources with the old wheezy, adding into `/etc/apt/sources.list`:
[code]
I'm from Mexico, so the apt urls are correct for me, and functio

[2017-11-10 17:25] MavrosLtd opened #20860 "Odoo 10 CE - Bank Statement Reconciliation"
Impacted versions:10

Steps to reproduce:Bank Statement Reconciliation

Current behavior: The bank reconciliations statement is not finding all deposits.  In one journal we record the daily takings of the POS transanctions, plus any other expenses or payments done during the POS day.  The deposits to the bank might be 3 or 4 or more, depending on the cashiers that day, and the Visa receipts of the

[2017-11-10 18:44] Yenthe666 commented on #20743
@JKE-be could you have a look too?

[2017-11-10 20:44] icf20 opened #20861 "update aplicacion list dont work"
Impacted versions:
10

Steps to reproduce:
set a ubuntu 16.04 vm via vagrant
get sudo wget https://raw.githubusercontent.com/Yenthe666/InstallScript/10.0/odoo_install.sh
sudo chmod +x odoo_install.sh
sudo ./odoo_install.sh
go to webgui and then try to update the app list

Current behavior:
it only show ~300 apps

Expected behavior:
to show the whole app list https://www.odoo.com/apps/modules/brows

[2017-11-10 22:23] adrianriedo commented on #20857
I can confirm the problem
With Odoo 10, the POP works fine and all emails are fetched
With Odoo 11 and the exact same POP configuration, no emails are fetched and we get

2017-11-10 22:20:54,572 1124 INFO rnx odoo.addons.fetchmail.models.fetchmail: General failure when trying to fetch mail from pop server <my-POP-server>.
Traceback (most recent call last):
  File "/opt/odoo/venv/lib/python3.5/site

[2017-11-10 23:11] vcloud9ray commented on #20861
Update Apps List is designed to re-read all of the Odoo Server addon paths looking for local modules (Apps) that are not already in the list.

The Apps at the link you posted are ONLINE and are accessed via the App Store link, not the Apps link.  I believe one click install of Apps is still disabled due to abuse in the past with malicious modules.

If you want all of those modules available you ne

[2017-11-10 23:14] ysantiago opened #20862 "Error loading image in html field"
Impacted versions:

- 11.0

Steps to reproduce:

Try to load an image in html field

Current behavior:

An error is thrown
```Uncaught TypeError: Cannot read property 'is_document' of undefined```

Expected behavior:

The image must be loaded correctly.

Video/Screenshot link (optional):

<img width="980" alt="skitch 260" src="https://user-images.githubusercontent.com/11341058/32675624-da6e7dd4-c6

[2017-11-10 23:24] vcloud9ray commented on #20839
If there are no Bills to receive, why do you want the PO Billing Status to show Waiting Bills?

You have already created the Bill, for 100.

What you will get next from your Vendor is a Credit Note, not a Bill.

When you select the PO on a new Vendor Credit Note, it will list the 1 item you returned.

[2017-11-11 00:17] #20269 closed

[2017-11-11 00:18] odony commented on #20269
The fix was merged in 9.0 at rev. fa5ee6ed2634b1a5b4388efb2c6ab6ae80356f28, in 10.0 at rev. 7a4c6eb35d0dd662d2bd992f4725413efbe31a97, and in 11.0 at rev. 56588e8d447a188f730ecfc62b451dba046e81ef (the patch was slightly different, so this makes fwd-ports easier). Thanks for your patience!

[2017-11-11 01:02] vcloud9ray commented on #18084
Can you share an example of this - I have a Customer who wants to research this particular

[2017-11-11 01:53] bazemoreb commented on #18084
Hi Ray - Yes, so that exact scenario is why @taxcloud is saying they don't want to send over the percentage, and why odoo is changing now so that they don't save the percentage (as i understand).  What taxcloud does is send back the amount of the tax which accounts for your example.

[2017-11-11 02:46] vcloud9ray commented on #18084
@bazemoreb - understood. I have Customer that is fielding questions from the people who pay the Invoices like "I calculated the percentage by diving the tax into the total and it was X% and it should be Y%". I am hoping that being able to point to an example where a state doesn't charge a flat rate will help them educate people why that won't always work.

[2017-11-11 02:51] influenist commented on #18572
Guy (@ploegvde, @yung-wang @jvOrsouw), I want to raise your attention regarding the effort for input. Although as a Dutch potential Enterprise user of ODOO I love to see this is getting somewhere to comply with the local Dutch regulations, @lap-odoo released a statement regarding the removal of the accounting addon in the Spanish localization issue. Please see https://github.com/odoo/odoo/issues/1

[2017-11-11 04:53] bazemoreb commented on #18084
Makes sense!  I don't have a concrete example unfortunately, but I do know the TN sales tax is a bad one.  Here is an article on the tiered sales tax I found.  I'm sure the taxcloud guys can get something better for ya, though.  https://www.tn.gov/revenue/article/sales-and-use-tax-single-article

[2017-11-11 04:56] lukebranch commented on #18561
It looks like Xero worked directly with with HSBC in Hong Kong to provide direct bank feed integration without Yodlee, etc.:

[171102-hsbc-collaborates-with-xero-eng.pdf](https://github.com/odoo/odoo/files/1463457/171102-hsbc-collaborates-with-xero-eng.pdf)
https://help.xero.com/HSBCHongKong

as well as DBS:
https://help.xero.com/int/DirectFeeds-HK

If Odoo's HK office is interested in working tog

[2017-11-11 05:19] AlexanderIgnacz commented on #19935
@F3000 , How did you install python3 on CentOS?
Is python3.6 ok too?

[2017-11-11 05:22] AlexanderIgnacz commented on #19935
@Yenthe666 , which OS should I refer for CentOS on installation guide?
I'm not able to find CentOS or yum part.

[2017-11-11 05:46] TornikeOdikadze opened #20866 "Install Odoo11 on CentOS7"
I just bought new VPS server installed CentOS7 and tried to install [Odoo11](https://www.odoo.com/) on my server.

So I researched some articles and tried following.

    // Install requirement packages
    [root@odoo ~]# yum update -y
    [root@odoo ~]# yum install epel-release -y
    [root@odoo ~]# yum install fontconfig libpng libX11 libXext libXrender xorg-x11-fonts-Type1 xorg-x11-fonts-75dpi

[2017-11-11 05:54] blaggacao commented on #20630
@jco-odoo I think in the light of some of our comments you could complement:

Wave picking strategy > grouping of `stock.move.line` (aka "Picking") according to pathway optimization strategy.

Batch picking strategy > grouping of `stock.move.line` (aka "Picking") according to "order bucket" optimization strategy.

This is a valid theoretization for your suuggestion of regrouping `stock.move.line`s

[2017-11-11 06:00] TornikeOdikadze commented on #20866
Solved by installing python3 & restart.

[2017-11-11 06:00] #20866 closed

[2017-11-11 07:54] fpodoo commented on #18561
We already support bank feeds of several banks in Hong Kong through Yodlee,
including HSBC. Why do you want to develop others connectors? Do you have
issues with our yodlee connector?

On Nov 11, 2017 12:56 PM, "Luke Branch" <notifications@github.com> wrote:

[2017-11-11 07:57] mohitg1213 commented on #20822
any help will be appreciated !

[2017-11-11 08:00] fpodoo commented on #18561
BTW, I am in Hong Kong right now. Hope to meet the community during the
Odoo HK event next Thursday:
https://www.odoo.com/event/discover-odoo-11-in-hong-kong-2017-11-16-1029/register

It's the opportunity to discuss localisation face to face.

On Nov 11, 2017 3:54 PM, "Fabien Pinckaers" <fp@odoo.com> wrote:

[2017-11-11 09:06] F3000 commented on #19935
Yes . Minimum is 3.5 .

Von meinem iPhone gesendet

[2017-11-11 09:22] elicoidal commented on #18561
HSBC HK is not included in yodlee

Eric Caudal - Sent from my mobile device

-------- Original message --------
From: Fabien Pinckaers <notifications@github.com>
Date: 2017/11/11  15:54  (GMT+08:00)
To: odoo/odoo <odoo@noreply.github.com>
Cc: "Eric @ Elico Corp" <eric.caudal@elico-corp.com>, Mention <mention@noreply.github.com>
Subject: Re: [odoo/odoo] l10n-hk (#18561)

We already support bank fee

[2017-11-11 10:21] fpodoo commented on #18561
It's strange, because it's listed in the bank supported by Yodlee, as you
can see at the end of this video:
https://drive.google.com/file/d/1Nn5bpJ7YO32ebMJmqy9NJobzdK0evH-7/view

Laura, can you check with CSN? I be it's usability bug: as we search
"HSBC", there is a lot of results
and we only return the 50 first ones. Thus, HSBC Hong Kong does not appear
in the list.

But we check on our accounti

[2017-11-11 13:47] elicoidal commented on #18561
That would be great!
Same happens with Standard Chartered?
SC and HSBC are the biggest bank around

[2017-11-11 13:50] zeroheure commented on #18948
Hi
Thanks for your quick answer.
Below is a screenshot. You can try on https://wwwchez-les-enfants.fr
![Chez les enfants, ecommerce payment on mobile](https://user-images.githubusercontent.com/24126/32690020-78ef52fa-c6ef-11e7-9e72-24093ed170bb.png)

[2017-11-11 14:12] Prasoon6667 opened #20870 ""Link Using field" in Automated Actions (link_field_id) is not listing Fields"
Impacted versions: 11

Steps to reproduce:

 I created an automated action to create a sale record based on update of some fields in another model. Sale is getting created and everything works fine except the field "Link Using field".

Current behavior:

This many2one field ("Link Using field") is not listing any fields even though I have fields to connect both models. I think the problem is with

[2017-11-11 14:29] Yenthe666 commented on #20861
Hi @icf20,

Thank you for your report.
@vcloud9ray is absolutely correct here. The apps list only shows and uses apps that are on your own Odoo (under the addons paths). The remote apps from the app store aren't listed here.

Regards,
Yenthe

[2017-11-11 14:29] #20861 closed

[2017-11-11 14:30] haconsult commented on #20784
Hi,
I have the same issue. By trying to track it down I found a strange rounding behavior. I did the following:

- Fresh database, install Sales, Purchase and a Localization (German in my case)

- Create one Vendor and one Customer

- Create a stockable product

- Purchase 1.000 units of the product, receive products, validate

- Check inventory, you have 1.00 units in stock - good.

- Sell 1.100

[2017-11-11 14:42] Yenthe666 commented on #20862
Hi @ysantiago,

Thank you for your bug report (and the video!)
I can indeed confirm that this is a bug in the latest Odoo 11:
![image](https://user-images.githubusercontent.com/6352350/32690422-c75afc58-c6f6-11e7-94e0-98d9cb15f766.png)
@ged-odoo this is another JS related one - could you have a look when you have time please?

Regards,
Yenthe

[2017-11-11 15:05] haconsult commented on #20784
Another (related?) issue with the inventory:

- Same as above: fresh db, Purchase, Sales and Localization installed, 1 Vendor 1 Customer, 1 stockable Product

- Purchase 1.000 units of the product, receive goods, validate

- Check inventory: 1.000 products on hand, as expected

- Check inventory at a specific date (now): no products on hand :(

[2017-11-11 15:40] ghost opened #20871 "Account heads setting is not taking place"
Impacted versions: V10 Enterprise

Steps to reproduce:
1. Create 2 or more level of hierarchy of product types/categories
2. Set different accounts on top most product category
3. Assign few products in/under child most category defined in step 1
4. Try to do any transaction (sale, purchase, manufacturing, receipt or deliver) and validate using the product defined in step 3.

Current behavior:
It

[2017-11-11 15:55] faisalsi opened #20872 "Rounding off issue in deprecation rate of fixed assets"
Impacted versions: V10 Enterprise

Steps to reproduce:
1. Create a new depreciation rate with more than 2 decimal places like for example 0.01243 and save the record, it works fine and calculate everything perfectly fine.
2. Open the same record in which 0.01243 was defined and make change in any field other than depreciation rate 0.01243 and save.

Current behavior:
Odoo automatically rounds of d

[2017-11-11 17:17] tafaRU commented on #19511
FYI, just faced the same error in my own machine:
[code]
and I fixed with:

`odoo-11.0/bin/pip3 install psycopg2==2.7.3.1` as highlighted at https://github.com/odoo/odoo/issues/19511#issuecomment-336065874.

[2017-11-11 17:47] Yenthe666 commented on #20822
Hi @mohitg1213,

Have you tried running Odoo from the terminal and giving it the parameter `-u all` so all the assets get recompiled again? Does it still happen then?

[2017-11-11 17:58] dreispt commented on #20822
You may try adding the parameter `--db-filter=^odoo11$` when starting Odoo with `odoo-bin`

[2017-11-11 18:24] icf20 commented on #20861
ok, then add the word "local" before the word list to get a hint what the option does

[2017-11-12 09:47] haconsult commented on #20784
Another (related?) issue with the inventory:

- Same as above: fresh db, Purchase, Sales and Localization installed, 1 Vendor 1 Customer, 1 stockable Product

- Purchase 1.000 units of the product, receive goods, validate

- Check inventory: 1.000 products on hand, as expected

- Check inventory at a specific date (now): no products on hand :(

[2017-11-12 12:20] kbirkbr opened #20875 "Can't refund an invoice - KeyError: 'team_id'"
Impacted versions: 10.0

Steps to reproduce:

1. Install Accounting module (Only).
2. Create and Validate Customer invoice
3. Click on Refund invoice.
4. Choose 'Create draft invoice' as Refund method, and  enter the Reason.
5. Click on Create refund button.

Current behavior: Getting a KeyError: 'team_id'.
Full Traceback:

ERROR refund odoo.http: Exception during JSON request handling.
Traceback

[2017-11-12 15:46] wtaferner commented on #20875
You should update your sources...it was fixed in https://github.com/odoo/odoo/commit/abb71fea51eac0c26a5296c03d1fb7b9657c08d2#diff-eb374e5f26e99054eaf8b40daaebf6f9 (six months ago) and the log somehow communicates that you are using a version from ```odoo-10.0-20170528``` (2017-05-28) two days before it was fixed.

[2017-11-12 16:21] Yenthe666 commented on #20875
Indeed - this bug has been fixed ages ago. Please update your Odoo source code and it'll be fixed.
Thank you for the input @wtaferner!

[2017-11-12 16:21] #20875 closed

[2017-11-12 21:20] zeroheure commented on #18948
Problem solved. Your fix was correct. It was not working because css and less files were not updated even so I've requested the module to be updated.
Might be a problem with the website_style_manager module from SythilTech.

[2017-11-12 21:52] vcloud9ray commented on #20637
If this isn't possible, and the policy of the company is to ask for a deposit before confirmation, how would your do this?

I know Customers who won't confirm certain Orders for certain Customers without a deposit first.

They need to be able to create a Invoice  from a Quotation.

[2017-11-13 01:51] LiJiaPeng-1 opened #20877 "Web Editor Bug"
Impacted versions: V10 Enterprise

Steps to reproduce:
1、html fields,drag too many 187*187 image to this field
2、you will have some image can not show resize function

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-11-13 02:03] elicoidal commented on #18561
@lap-odoo
I have transmitted you a file which I think is more curated that https://github.com/grimmette/odoo/tree/9.0/l10n_hk/data
For what I can see from your suggestion:
* Bank name should be removed
* Receipt in advance for payable should be on the other side of the BS (same remark for the customer deposit - Nevertheless I think this is not a blocking at that stage)
* some mispelling
* Currency

[2017-11-13 02:54] matt-willdooit opened #20879 "column_invisible - fields invisible after re-order rows"
Impacted versions: 11.0

Steps to reproduce:
click on a heading to re-order the lines of a tree view which contains a field with attrs column_invisible and is within a notebook/page on a form view.
when the tree view attempts to re-order it will hide the columns that contain the above attrs setting.

Current behavior: click tree heading, rows re-order, all columns with attrs including column_invis

[2017-11-13 05:16] lukebranchoscg commented on #18561
@fpodoo @elicoidal ,while I’d love to meet and discuss, sadly I won’t be able to make it this year, as I’ll be getting married around the same time.

I hope you guys have a productive meeting, and I look forward to seeing you both another time.

[2017-11-13 05:18] lukebranch commented on #18561
@fpodoo @elicoidal ,while I’d love to meet and discuss, sadly I won’t be able to make it this year, as I’ll be getting married around the same time.

I hope you guys have a productive meeting, and I look forward to seeing you both another time.

[2017-11-13 06:31] Alpanajn opened #20884 "Odoo11 - zip compression and browser caching, How to enable??"
A website at ODOO 11, zip compression and browser caching are not working for speed optimization. Is there any solutions, please let me know?

[2017-11-13 06:35] elicoidal commented on #18561
@lukebranch
:o that's a pity but then I think congratulations are in order!

[2017-11-13 06:45] lukebranch commented on #18561
@elicoidal thanks!

[2017-11-13 06:58] nhomar commented on #20884
​aren't you delegating this to nginx?​

On Mon, Nov 13, 2017 at 12:31 AM, Alpana <notifications@github.com> wrote:

--

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo superviso siempre).
HangOut: nhomar@vauxoo.com
Móvil Venezuela:
+58 4144110269 (Teleg

[2017-11-13 07:04] Alpanajn commented on #20884
yes.

[2017-11-13 07:09] nhomar commented on #20884
can you share your nginx configuration file? because AFAIK that's
completely delegated to it.

On Mon, Nov 13, 2017 at 1:04 AM, Alpana <notifications@github.com> wrote:

--

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo superviso siempre).
HangOut: nh

[2017-11-13 07:21] Yenthe666 commented on #20879
@ged-odoo could you have a look perhaps?

[2017-11-13 07:22] Yenthe666 commented on #20877
Hi @LiJiaPeng-1,

Thank you for your report.
Do you mean to select multiple files in the file explorer and then drop them all in the HTML field in order to trigger this or? Could you add a little bit more information and/or a video? Does it only happen when the filesize is exactly 187x187?

Regards,
Yenthe

[2017-11-13 07:38] lap-odoo commented on #18572
@influenist I think I already answered that question. I suggest you to have a look at my comment from 26 days ago. If it's not clear or if you still have questions, do not hesitate to ask me. But I think most of the questions have already been asked and received a reply on the Github issue related to l10n_es that you reference.

[2017-11-13 07:39] omalbastin opened #20887 "Do we really need this self.ensure_one() ?"
https://github.com/odoo/odoo/blob/293dd507fa12a76f8f5b47ff09dfc0a897017624/addons/delivery/models/stock_picking.py#L113

 we can process multiple picking if delivery module is not installed. Or if this method is nodified to manage multiple pickings

[2017-11-13 07:43] Yenthe666 commented on #20887
@tde-banana-odoo you wrote a comment saying `# TDE FIXME: should work in batch`. Could you have a look? Can't we remove it?

[2017-11-13 07:48] yung-wang commented on #18572
@influenist If I understand it correctly, accounting will be still there. Since you might be using Enterprise, there is for sure accounting. So no need to worry. Odoo is only 'hiding' this in the community version, but it is still there.

[2017-11-13 07:52] wtaferner commented on #20887
@Yenthe666
Just removing won't work b/c the following are ensured to be one as well, but I guess with a little rewrite it should be possible by looping and calling IMHO.

[2017-11-13 08:08] Yenthe666 commented on #20887
Yeah - it won't work in all cases out of the box but since he's put a comment should work it is worth the effort in my opinion.

[2017-11-13 08:11] lap-odoo commented on #18561
Indeed, Yodlee does well offer a synchronization with HSBC (Hongkong). But, as pointed out by Fabien, searching on HSBC only gives the 50 first results and searching on Hong Kong (with a space) doesn't work neither.

I've just launched a task to improve that.

[2017-11-13 08:25] felixvillafranca commented on #18565
Hi @oco-odoo ,

IMO 347 report should follow the AEAT's structure, that you can find [here](http://www.agenciatributaria.es/static_files/AEAT/Contenidos_Comunes/La_Agencia_Tributaria/Modelos_y_formularios/Declaraciones/Modelos_300_al_399/347/Instrucciones/Instr347_2010.pdf).

Basically, there should be a summary:

- Total number of people and related entities in the inner sheets.
- Total amount of

[2017-11-13 08:35] Cedric-Pigeon commented on #20719
@nim-odoo I don't really agree. You must prevent reordering rules to be trigger twice in that case. I thing that the fix of @jco-odoo is a must-have.

[2017-11-13 08:55] gdgellatly opened #20889 "Update Qty on Hand is multicompany stupid due to defaulting to a company specific field"
Impacted versions: 11.0 it breaks completely, but its existed in various forms in prior versions

Steps to reproduce:
As a single company user, whose company isn't blessed with the location self.env.ref('stock.stock_location_stock') click Update Qty On Hand in the product variants screen

Current behavior:
AccessError

Expected behavior:
Either try/except, do something smarter or really just delet

[2017-11-13 09:00] adr-odoo commented on #20683
Hello,

This issue has been fixed.
PR: https://github.com/odoo/mobile-ios/pull/2

Regards,

[2017-11-13 09:00] #20683 closed

[2017-11-13 09:11] Yenthe666 commented on #20889
@jco-odoo for you. 😉

[2017-11-13 09:13] mart-e commented on #20637
Yes, it actually depends of the use case. It may be useful for some to create the invoice before the quotation confirmation.

CCing @nim-odoo to be sure (was added during the Big Sale Refactoring)

[2017-11-13 10:47] gdgellatly opened #20892 "[BIG BUG] Inventory Accounting is multicompany impossible due to naive shortcut in methods"
Impacted versions: 11.0

Steps to reproduce:
One Example: You can apply to production, customers, suppliers if you wish, anything that is a 'virtual location'

In a multicompany environment the inventory valuation accounts set on the Inventory Adjustment locations are not property fields.  (btw setting to property fields is not the answer as there are other reasons for company specific virtual loc

[2017-11-13 12:02] georgeppts opened #20895 "List view pagination redirecting to 1st page, not redirecting to current page"
Impacted versions: 10

Steps to reproduce:

Check in list view which has more than 160 records.

In 1st page it will display 1 to 80 records.

In 2nd page it will display 81 to 160 records.

Now click on records between 81 to 160(2nd page), the record will display in form view.

Now again go back to list view, it display the records as 1 to 80(1st page record) not 81 to 160(2nd page record)

**Sce

[2017-11-13 12:13] lap-odoo commented on #20416
@adrianriedo Thanks for clarifying.

@qdp-odoo already answered the question related to the IDs on https://github.com/odoo/odoo/issues/20858#issuecomment-343503770

I'll inform you when the changes are ready

[2017-11-13 12:25] adrianriedo commented on #20416
As we are preparing for a go-live on 1st of January 2018 and we need to define the ID's now (or in the next days) we did as follows and hope this is compatible with what the community will decide.

Can someone comment if this is what will be available from the community?
(we don't want to change this again next year)

vat_25_purchase
vat_25_invest
vat_37_purchase
vat_37_invest
vat_77_purchase
vat_

[2017-11-13 12:28] gurneyalex opened #20897 "[10.0] mail channel autosubscription does not work"
Impacted versions: tested on 10.0

What are the steps to reproduce your issue?

on runbot 10.0,

1. install mail and hr
2. create a new mail channel :
   * name: test
   * who can follow : selected group of user
   * authorized group: Employee / Manager
   * auto subscription : Employee / Manager

3. edit the Demo user, and add hime to group Employee Managers

What is the current behavior that you

[2017-11-13 12:35] nim-odoo commented on #20637
TBH, we didn't consider this use case. But yeah, as @vcloud9ray said, it can be useful to not fully block the feature since it might be useful. So I wouldn't change anything.

[2017-11-13 12:38] #20637 closed

[2017-11-13 12:47] Yenthe666 commented on #20895
Hi @georgeppts,

Thank you for your report.
This has been in the case in all Odoo versions though! I believe this was a limitation off the framework.
@ged-odoo or @mart-e could we change this in V11 now that we have a whole new JS engine perhaps? Could you give me feedback? It would be a neat little wishlist item.

Regards,
Yenthe

[2017-11-13 13:02] lukbas commented on #20805
I am having the same issue :/

[2017-11-13 13:23] sle-odoo commented on #20892
@gdgellatly We are working on a bunch of fixes for the valuation in [this branch](https://github.com/odoo-dev/odoo/tree/11.0-valuation-sle) and we plan to
- remove the company_id check
- raise if any of the stock move lines move something directly from a company to another one

The company_id is not even used in the condition that updates the value/remaining value/ remaining qty fields on the stoc

[2017-11-13 13:25] sle-odoo commented on #20892
I forgot to add, if we raise if a move goes directly from a company to another, the `_is_in` and `_is_out` methods will work. Please note that they are fine-tuned in the branch i linked to take into consideration the moves lines...

[2017-11-13 13:28] nim-odoo commented on #20719
@Cedric-Pigeon The fix of @jco-odoo doesn't work in your use case. The right fix would be to to reactivate the procurements, but that cannot be done in stable.

[2017-11-13 13:31] mohitg1213 commented on #20822
@Yenthe666 : Yes, i recompiled all assets again, but still same error on odoo Login.

@dreispt : Tried your suggestion as well, db_filter inside configuration file, but still same error :(

 FYI, when i deleted some attachment records(ir.attachment) having name starts with '/web/content', error doesn`t occurred but next time when odoo recreates it error again started coming on next odoo login. So,

[2017-11-13 13:34] Cedric-Pigeon commented on #20719
@nim-odoo I don't understand why you can not fix it on stable. It is a bug, no ?

[2017-11-13 13:50] nim-odoo commented on #20719
@Cedric-Pigeon to me, that's not a bug. Once you cancel the PO, all procurements are canceled. When reset to draft, the procurements stay canceled. This kind of logic is applied in several places in Odoo: cancellation is propagated, but resetting to draft is not.

Changing this would anyway be a change in behavior, therefore there is no way we will change it in stable.

[2017-11-13 13:53] mohitg1213 commented on #20823
@eisenheimjelid : I tried installing wkhtmltopdf manually via .deb file downloaded from [,](https://github.com/wkhtmltopdf/wkhtmltopdf/releases/tag/0.12.1) but i got error

`**root@d5487876f00d:/# dpkg -i wkhtmltox-0.12.1_linux-trusty-amd64.deb**
Selecting previously unselected package wkhtmltox.
(Reading database ... 4383 files and directories currently installed.)
Preparing to unpack wkhtmltox-0

[2017-11-13 13:55] Cedric-Pigeon commented on #20719
@nim-odoo Ok, I understand. As I need to change it on several projects, could please create a PR so that I have a common pointer ?
Just like your colleague did for another fix: https://github.com/odoo/odoo/pull/20430

Thanks

[2017-11-13 14:01] yvaucher commented on #20858
@qdp-odoo at some point you probably want to have a vat xmlid with the year when is starts like vat_st_incl_2017
And add two date field start stop on tax object.
Or a sub object in taxes with rate and start stop date fields.

to manage the validity, thus even the bot can go on the new year's eve and it can be planned and be less error prone.

Furthermore, as invoicing is done on delivery, you coul

[2017-11-13 14:18] ged-odoo commented on #20895
@Yenthe666 @georgeppts

I consider this as a bug.  The bad news is that is is a low priority bug in odoo 10, and, unless a PR is submitted, is unlikely to be fixed. However, the good news is that it is fixed with the new views in Odoo saas16 (so, released in Odoo 11).

[2017-11-13 14:18] #20895 closed

[2017-11-13 14:27] Yenthe666 commented on #20895
Oh hey I didn't know this was fixed in V11. I just tested this in V11 and it is amazing. Good job!

[2017-11-13 14:33] m3dbedb opened #20902 "[10.0][typo][tutorial]"
Impacted versions:10.0

Steps to reproduce: make a module with suggested code

Current behavior: tutorial code doesn't work

Expected behavior: module installation should pass

Video/Screenshot link (optional):

![typo](https://user-images.githubusercontent.com/25632818/32730446-2e9e1772-c898-11e7-8dad-41287483b1b8.PNG)

After removing the comma tutorial works:
`state = fields.Selection([`
`

[2017-11-13 14:34] flotho commented on #20761
@Yenthe666
Any idea if it could be considered as a BUG ?

[2017-11-13 14:36] Yenthe666 commented on #20761
@flotho can I ask you to reproduce this on the latest 10.0 runbot? If you can reproduce it there I can confirm it and I'll do my very best to have somebody have a look at it. 😉

[2017-11-13 14:44] zbik2607 opened #20903 "Incomplete debian nightly package"
Impacted versions:
10.0 (probably 9.0 and 11.0)
Steps to reproduce:
Install on Debian Odoo based on nightly repository and compare addons folders with
downloaded zip from github
Current behavior:
For example, file /mail/static/scripts/openerp_mailgate.py not exist in Debian package
Total difference in files count (folder addons) = 680 files
Expected behavior:
APT repository = Github

[2017-11-13 14:50] Yenthe666 commented on #20903
@d-fence can you check?

[2017-11-13 14:54] zbik2607 commented on #20903
Compared with the nightly version 10.0.20171110

[2017-11-13 15:04] Yenthe666 commented on #20761
Thanks - Please do try to update your local Odoo to the latest source code too. It is just to make sure the problem is still there and that we have a good case to test it. Thank you!

[2017-11-13 15:16] mart-e commented on #19511
Thanks for the report, fixed at e419f395a123040896dbe942ad7f0ce10983d197

[2017-11-13 15:16] #19511 closed

[2017-11-13 15:29] aab-odoo commented on #20163
@jbeficent @pedrobaeza

Sorry for the late reply.

I face the same issue if i don't define the list and form subviews inline in the main form view, but it works fine with inline views. This is a bug. I'll try to fix it this week.

Could you confirm that you can make it work using inline views?

Regards.

[2017-11-13 15:44] JonathanNEMRY commented on #20835
Any news about this issue?

[2017-11-13 15:59] #20889 closed

[2017-11-13 16:30] amoyaux commented on #20784
Hey,

I did two fixes. one for each problem. Should be resolve soon.

Sincerely, thanks for reporting

[2017-11-13 17:48] IljaSchumacher opened #20910 "[MODULEDEV][10.0] sale_timesheet multiple timebased products"
Hi fellows,

currently I'm in the process of bringing back a part of the old hr_timesheet+timesheet_invoice functionality back into odoo10 and put it together into a timesheet_consulting module.

The point is, that many companies need to bill Employee hours based on the level of the employees experience in one SO.

The WorkFlow I want to (re)create (like it used to work in earlier versions) is the

[2017-11-13 19:18] jam-odoo opened #20912 "PY3/V11 String Decoding : AttributeError: 'str' object has no attribute 'decode'"
Importable module with **static files** when running Odoo v11.0 with **python3** runs into following error

Traceback (most recent call last):
  File "/home/odoo/code/odoo/addons/base_import_module/models/ir_module.py", line 126, in import_zipfile
    self._import_module(mod_name, path, force=force)
  File "/home/odoo/code/odoo/addons/base_import_module/models/ir_module.py", line 82, in _import_mo

[2017-11-13 19:28] tv-openbig commented on #18571
Hello,

i have checked and compared the recent changes done on l10n_de modules for V11. The PR includes f.e. the backport of new V11 tags because these tags are relevant to fix the gap of missing accounting reports (Odoo CE) or incomplete accounting reports (Odoo EE).  Therefore i thought it could be a good idea to harmonize the tags  of V10 / V11.

I understand that main intention of stable versi

[2017-11-13 20:12] gdgellatly commented on #20892
The main use cases are pretty straight forward and your description is correct.

Doing an Inventory Adjustment in multicompany and having the adjustments post to the correct P&L account.
To do so you must have multiple Inventory Gain/Loss accounts, ergo, company_id set on multiple Inventory Adjustment Locations

Consuming items in Manufacturing, typically goods go to WIP Inventory on consumption (

[2017-11-13 20:20] sle-odoo commented on #20892
@gdgellatly I just tested this scenario in my branch and it worked, the accounting entries are posted in the right account. The valuation report is broken probably due to this [domain](https://github.com/odoo/odoo/blob/11.0/addons/stock/models/product.py#L157) though.

[2017-11-13 20:21] JADCO5692 opened #20913 "Issue in wrong reference being assigned when Validating Picking"
Hi Team,

I was testing and created a Picking for Goods Return, however, when I did that, following error was created:
![image](https://user-images.githubusercontent.com/5710396/32747248-2f22e1f0-c8de-11e7-817a-17e238e928b3.png)

I checked and found that in the code instead of account.move, stock.move object was referenced.
![image](https://user-images.githubusercontent.com/5710396/32747171-e9a888

[2017-11-13 20:54] edsersolis opened #20914 "[10.0] Odoo not taking timezone into consideration"
Impacted versions:
v10

Steps to reproduce:
1. Set timezone to an user.
2. Create any document (quotation, invoice, picking...)

Current behavior:
As soon as the document is created it says it was created four (4) hours ago. We believe that this is because it is taking UTC and we're in a -04:00 timezone.

Expected behavior:
Have the correct time when the document was created.

Video/Screenshot lin

[2017-11-13 20:58] eisenheimjelid commented on #20823
Yes!, will work on Trusty 14.04, because the dependency for wkhtmltox exists only for 14.04. So, you can try to add Deb Apt URL into `/etc/apt/sources.list`for Trusty, into your Zetsy (17.04).

[2017-11-13 22:09] gdgellatly commented on #20892
OK I review some code here, not all related to this bug. @sle-odoo

https://github.com/odoo/odoo/compare/11.0...odoo-dev:11.0-valuation-sle#diff-ff8b11b98cea4f7451b225e1e21f0b9eR51

I get the use case here, but if the product has been changed is returning 0.0 the right thing to do?  In fact that is a more general question beyond just valuation.  I have received goods different to what I ordered, s

[2017-11-13 22:31] sle-odoo commented on #20892
@gdgellatly Thanks for your time. I think the diff you linked are not working. If i get it right, you first linked to [this commit](https://github.com/odoo-dev/odoo/commit/a5a67276d75a5cd87e8e4c4c02394e7465dfa233). Essentially its goal is to use the standard price instead of the purchase order line on the stock moves created when confirming a stock move for a kit. AFAIK this usecase never worked t

[2017-11-13 22:32] OSevangelist commented on #18571
Hi German l10n followers, hi Odoo,

the reasoning of Thorsten makes perfect sense. Given the importance to support the German market as mentioned by Fabien within his keynote during the Odoo Experience, i would also strongly recommend to merge the PR. This "Automatikkonto" mapping may bei unique to DATEV and the German market but its dramatically easing the work for German accountants and customer

[2017-11-14 02:22] gdgellatly opened #20919 "Incorrect Comparison in workorders when calculating is_produced blocking manufacturing"
Impacted versions: 11.0

Steps to reproduce:
I found this on manufacturing a quantity of 43.8 using 3 digit UOM precision

From line 137 of mrp/mrp_workorder.py

[code]

must use float_compare or similar.  In this case we have 43.8 >= 43.80000000000000004

As a side note: self.qty_production is available on the workorder which is just a related field to self.production_id.product_qty

Current beha

[2017-11-14 03:14] LiJiaPeng-1 commented on #20877
![image](https://user-images.githubusercontent.com/21254120/32761183-e779768a-c92c-11e7-9b87-49f57b04bc38.png)
![image](https://user-images.githubusercontent.com/21254120/32761198-048793f6-c92d-11e7-92a3-fa3032f2ae47.png)

[2017-11-14 03:19] gdgellatly commented on #20919
Note there is another side effect to this, which is duplicating the production order leads to a div by zero error.  It is hard to tell if it is purely because of this bug or not, as a done manufacturing order does not reproduce it, and an in progress order with a quantity above 0 obviously doesn't do it either,

[2017-11-14 06:52] georgeppts commented on #20895
Thank you guys for your response.
Now only i too checked with Odoo11. It is working. **Well done guys**.

[2017-11-14 07:16] Yenthe666 commented on #20912
@xmo-odoo this looks like another `P3` migration issue for you. 😉

[2017-11-14 07:27] Yenthe666 commented on #20914
Hi @edsersolis,

Thanks for the report!
On which timezone did you set your Odoo? I tried with canadian (which is -4) and it seems to work fine:
![image](https://user-images.githubusercontent.com/6352350/32767880-aaff6e88-c915-11e7-94a1-14635998f723.png)
Can you reproduce it on the latest Odoo 10 runbot too?

Regards,
Yenthe

[2017-11-14 07:34] Yenthe666 commented on #20784
@amoyaux I believe you're talking about https://github.com/odoo/odoo/commit/6b7ac1c5d71f8d18da68040e6035a2af8eca71e2 and https://github.com/odoo/odoo/commit/8900dc22048d460b44b6b308f88f2737cac5b4ba right? Thanks for the fixes. 😉

[2017-11-14 07:41] didierdonze opened #20924 "Create an invoice, fails from sales order in multi-company setup"
Impacted versions:
Odoo V10
Steps to reproduce:
Have 2 companies ready. (no sharing of products neither partners) Be logged in as a normal user (not admin). Create a downpayment from a sales order on one of both companies.

Current behavior:
As it is our first downpayment, a downpayment product is created on the fly belonging to the company your are logged into.
Now switch to the second company, t

[2017-11-14 07:43] Yenthe666 commented on #20913
@jco-odoo and @sle-odoo looks like on for you to check. I believe we're talking about V10 at https://github.com/odoo/odoo/blob/13d2b29f0151a9f607df96246104f30bb49cae86/addons/stock_account/models/stock.py#L74

[2017-11-14 07:44] Yenthe666 commented on #20919
@jco-odoo another issue in stock. Could you check please? (sorry for quite some pings).

[2017-11-14 08:37] Mungunshaga commented on #16800
how to fix it?

[2017-11-14 08:49] xmo-odoo commented on #20902
Erm… what? Python has allowed trailing commas in collection literals (and function arguments) pretty much forever. It's certainly supported on

[2017-11-14 08:49] #20902 closed

[2017-11-14 09:57] amoyaux commented on #20784
@Yenthe666  Yep Sorry forgot to post it here. Thanks for your help.

[2017-11-14 13:33] IljaSchumacher commented on #20910
I found the code that needs to be modified:
To account for more than one "timebased" product in a single SaleOrder:

in sale_timesheet/models/account.py

[code]
Repo with all modified modules to accomplish the workflow described in the original post can be found here: https://github.com/IljaSchumacher/odoo10-consulting-addons

[2017-11-14 13:33] #20910 closed

[2017-11-14 14:06] JADCO5692 commented on #20913
Yes, it is Odoo v10

[2017-11-14 14:42] #20857 closed

[2017-11-14 15:47] bradrust opened #20939 "[v11] Variant Pricing (price_extra) not used in Point of Sale instead Sale Price (list_price) is used"
Impacted versions:

11.0 community and 11.0 odoo online (via trial instance)

Steps to reproduce:

* Login with user that has ability to run a Point of Sale session.
* create a Variant (i.e., "size")
* create two Variant values for "size" (i.e., "small" and "large")
* create new new Product
* set Sale Price (list_price) to 1.00
* add "size" variant to the new Product and save
* edit "Variant Prici

[2017-11-14 16:24] amoyaux commented on #20919
Yep should use a float_compare. Gonna do a fix for it.

[2017-11-14 16:36] torreslr commented on #18648
Hi.. How you apply the width of the columns in the image ticket..??

[2017-11-14 16:59] rohitramnani1994 opened #20941 "[odoo11] create new account in odoo . get an internal server error when user enter password and confirm password is not same"
Impacted versions: Odoo 11

Steps to reproduce:
Go to settings - > General settings -> Enabale B2C (Free signup) under customer Account - > Save
go to login page of odoo
click on dont have an account?
then fillup the signup form and  enter password and confirm password are diffrent

Current behavior:
**500: Internal Server Error**

Expected behavior:
display the message "password and confirm passw

[2017-11-14 17:02] rohitramnani1994 commented on #20941
@Yenthe666 can you please review it
Thank you

[2017-11-14 17:16] sle-odoo commented on #20892
@gdgellatly
The branch i linked is now merged in [11.0](79821458facfdddc0087a5e85aadceb585dd8b04), so this particular bug should now be fixed. Feel free to report here if it's not the case.

Thank you for the detailed bug report.
Simon

[2017-11-14 17:16] #20892 closed

[2017-11-14 17:54] archerdx commented on #14539
The code does exist in version 11. No guarantees here, but I pasted the missing function in and it worked. (Added this code to the SaleOrderLine class under the _get_delivery_method function.)

[code]

[2017-11-14 18:48] gezzzan commented on #20458
Hello Odoo,

We updated the list of banks, COA, have many country specific fields for various models (res.partner, res.company, account.journal, account.invoice, account.invoice.line, etc) for odoo10.

We can partially share them to be available in the core of Odoo.

How should we proceed? Are there any guidelines about how to organize code/app?
For example we broke down the l10n_hu app into small

[2017-11-14 19:27] elgow opened #20942 "Action button forced save of record breaks Edit - Save/Discard paradigm"
Impacted versions: 11.0 (and really 10 and 9, but let's not worry about those)

Steps to reproduce:

1. Install a clean Odoo 11 and add a plugin that uses Mail, e.g. the Project plugin.
1. Go to Settings/Email/Emails in the admin menu
1. Select one of the demo data emails colored red, e.g. "Reception of Create new components"
1. Hit _Edit_ to go to edit mode
1. Edit the message title
1. Press the

[2017-11-14 19:55] #19920 closed

[2017-11-14 20:38] jorenvo commented on #20939
Thanks for the report, this has been fixed last week in v11 with b4debf7e1b19710ef3dcc39448d08a698b5657b0.

[2017-11-14 20:38] #20939 closed

[2017-11-14 20:46] grzegorz-openglobe commented on #19903
I made a test creating serial number from Repair Order and directly from Lot/Serial menu in Warehouse menu. My experience is that the bug appears independent where do you create a lot. But indeed after access limitation I didn't tried to create a lot in Picking or MRP.

[2017-11-14 22:49] matt-willdooit opened #20944 "[10.0] issue with internal stock movements and sub locations"
Impacted versions: 10.0

Steps to reproduce:
In Inventory Settings - Enable [Manage only 1 Warehouse, composed by several stock locations]
Create 2 locations which are both children of WH/Stock (e.g. Shelf_1 and Shelf_2)
Create a new product.
Receipt 50 into WH/Stock
Perform an internal transfer to move 25 from WH/Stock to WH/Stock/Shelf_1
Attempt to perform another internal transfer to move the r

[2017-11-14 23:04] blaggacao opened #20945 "[BUG] POS / Tax map position breaks if target false"
https://github.com/odoo/odoo/blob/79821458facfdddc0087a5e85aadceb585dd8b04/addons/point_of_sale/static/src/js/models.js#L1644

@qdp-odoo This line returns "undefined" which breakes downstream code, if there is no target tax (which is perfectly valid as in "remove" or "replace by empty")
Downstream code must check and pop undefined items in some way...

[2017-11-14 23:08] blaggacao commented on #20945
@wtaferner Don't wait until it hits you, too :)

[2017-11-14 23:22] blaggacao commented on #20945
ej.: `.filter(function(x){return x != undefined})`

[2017-11-14 23:30] blaggacao commented on #20945
Not sure how to fix `fix_tax_included_price`...

[2017-11-14 23:39] blaggacao commented on #20945
Here is my patch:
https://gist.github.com/blaggacao/74e3c2915e44aa9cebaf66e55962bf0d

[2017-11-15 04:19] edsersolis commented on #20914
Hello @Yenthe666

Could you please confirm to what timezone do you have set the server to? We have it set to America/Santo_Domingo, however changing the timezone in Odoo does not affect at all, it always says 4 hours ago.

We believe that what Odoo is considering the -04:00 as UTC and to that deducting the 4 hours.

Last night I tried changing the postgresql to UTC, it worked for a while and then

[2017-11-15 06:48] gdgellatly opened #20952 "Minor, next release fix, unusual/incorrect view id name in mrp - just FYI"
Impacted versions: 11.0

Steps to reproduce:
In mrp there is view called
`mrp_production_workcenter_form_view_inherit`

however it is for workorders, not workcenters.  Its also not an inheriting view, but the primary one.

Its not used anywhere else so not causing issues.  Just confusing is all.

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

[2017-11-15 06:50] gdgellatly commented on #20952
I just noticed, same deal for tree and search

[2017-11-15 07:30] Yenthe666 commented on #20914
Hmm,

Just tested this on V10 community in the timezone America/Santo_Domingo and it works fine there too:
![image](https://user-images.githubusercontent.com/6352350/32823945-3caf4514-c9df-11e7-87dd-d70e16417824.png)
Have you tried updating your Odoo to the latest update? Can you reproduce it on a runbot?
@mart-e do you happen to have any other clues?

[2017-11-15 07:46] Yenthe666 commented on #20939
Also labeling this for reporting / filtering later on. Good job Joren!

[2017-11-15 08:13] gdgellatly opened #20956 "Duplicating workcenters leads to duplicate names (the new one)"
Impacted versions: 11.0 the issue is probably in community but shows only in enterprise

Steps to reproduce:
In enterprise runbot
Go to workcenters and click into "Drill Station 1"
Click Duplicate
Change name to "Drill Station Why is there two of you now?" or similar
Return to list view

Current behavior:
Both names change

Expected behavior:
Only the new one changes

Video/Screenshot link (option

[2017-11-15 08:33] mart-e commented on #20914
In #15867 there was a bug reported on Windows not handling well the timezones.
Could you detail how you have installed Odoo? On Windows or Linux? Sources or package?
You could reproduce only when your server was in your local timezone?

[2017-11-15 09:06] petrus-v commented on #20269
@odony

I was not in the hurry, I'm testing it patch looks good to me and works like a charm!

regards,

[2017-11-15 09:28] Yenthe666 commented on #20942
@ged-odoo looks like an interesting case for you to check.

[2017-11-15 10:37] auyeung112002 opened #20963 "IE9 Javascript Qweb Support"
Impacted versions:
10, 11

Steps to reproduce:
Use IE9(or IE11 with document mode set to IE9) to browse version 10 or 11 website on runbot

Current behavior:
https://github.com/odoo/odoo/blob/4e32a23d969d6ba1b54836bfc09be1eb6ee4f3c0/addons/web/static/lib/qweb/qweb2.js#L314

In this line, doc is a msxml object in IE9. And this object does not have method querySelectorAll, making javscript qweb temp

[2017-11-15 10:40] gdgellatly opened #20964 "11.0 MRP Wrong Inventory behaviour when using Workorders"
Impacted versions:
11.0 Enterprise, but community code

Now I might be missing something here but I'm pretty sure this is correct.

Steps to reproduce:
You need to have some kind of location hierarchy and put a tracked product into a location
Lets say Product A - qty 1000 into Stock/Rack1/Shelf1 (Lot 0001)
Product Category is realtime, FIFO

Have a Bom to create product B from Product A and a rout

[2017-11-15 10:44] Yenthe666 commented on #20963
@nim-odoo and @ged-odoo I know we don't really like IE but perhaps we should have a look at this?

[2017-11-15 10:51] sle-odoo commented on #20964
@gdgellatly Hello, thanks for the report. Did you click on "check availability" on the MO before processing the WO and is the error message related to quants in a view location?

Regards

[2017-11-15 11:01] kenneth-vkd commented on #20498
Hi
One little, but very important thing for usage of Odoo in Denmark is that we share the same address format as Germany.
This is currently using the default format defined by Odoo, which means that we are currently manually correcting the res.country record for Denmark during new Odoo deployments.
Would it be possible to get this corrected?

[2017-11-15 11:23] rrit-service commented on #20924
Same here for
Odoo V9 Enterprise
trying to create invoice in second company from sales order, error message
Access Error (Document type: product.product, Operation: read)
is shown before the wizard starts/appears.
After setting product.template.company_id to False for "Down payment"-Product no error anymore during invoicing of sale orders in both companies...

[2017-11-15 11:30] gdgellatly commented on #20964
Hi @sle-odoo
1- I did it both with and without using check availabillty, behaviour is the same.
2- I think the error message was just about posting to a view location - I don't think it was to do with quants.  That was a couple days ago now, and I changed to internal just to put in a different bug report related to rounding errors.  I can't change it back now because of the stock moves.

However i

[2017-11-15 11:31] gdgellatly commented on #20964
Oh btw, don't worry about the error message, it should be there if this works as expected, just obviously in order to report this bug and another I had to get around it.

[2017-11-15 11:36] alyngsoe commented on #20498
We, at FlexERP, are willing to contribute as much as possible to get a DK localisazion up and runing as fast as possible. I think the minimum requirements would be:
1. a basic chart of accounts and corresponding account types and/or tags
2. Accounting reports for
a) Income/expenses. ( In danish "Resultatopgoerelse")
b) Assets/Liablilities ( In danish "Ballance")
3. A setup of default Tax codes
We

[2017-11-15 11:49] gdgellatly commented on #20964
Hmmm I just saw something weird, let me triple check whats going on here, it might be to do with final_lot_id.  I'll provide details and a vid tomorrow.

[2017-11-15 12:14] sle-odoo commented on #20956
Hi,
It is related to rev 5a9cff3387cbb85034e58b587bd8e5ca9bbd089d that first landed in saas-15 (and the issue is present since saas-15). When you edit the name of a workcenter, you're actually editing the name of the resource (it's a related).

As "resource_id" is not set as copy False, it is passed when duplicating a workcenter and thus the new workcenter shares the same ressource as the original

[2017-11-15 12:22] JonathanNEMRY commented on #20835
@rco-odoo I think it is due to a problem with the temporary saved values...something about writing two times into the same fields during the loop of the onchange process..do you have any idea how to fix this?Or any other workaround?

[2017-11-15 12:25] tv-openbig commented on #18571
Hello,

i have just tested on runbot the DATEV export functionality, which is part of the Odoo Enterprise module l10n_de_reports. Unfortunately i can't report a bug via github issues for Odoo EE.

To my opinion the exported file is not correct. I stumbled over it directly with the first three invoices i have recorded. I hope my example will show the developers like @csnauwaert or @lap-odoo clearly

[2017-11-15 13:01] qdp-odoo commented on #20856
I don't think it's effectively related to what you suppose: it's simply that python cannot represent some floats precisely. So float_round _does_ round to 3 decimals, as asked, but then python shows the result with more than 3 decimals.

And most of the time is perfectly fine since the tiny error is not a problem, and Odoo itself has no problem with it.

Should you need a float with 3 decimals onl

[2017-11-15 13:01] #20856 closed

[2017-11-15 13:06] tde-banana-odoo commented on #20956
Hi,

Indeed it should duplicate the resource. Doing it on the mixin will also solve the same bug occuring probably with employees :pager: .

[2017-11-15 13:15] nim-odoo commented on #20719
@Cedric-Pigeon sure, here it is: https://github.com/odoo/odoo/pull/20971

[2017-11-15 13:16] gdgellatly commented on #20856
@qdp-odoo Python can certainly represent 993.42 correctly, so perhaps there just may be an issue with float_round.
[code]

[2017-11-15 13:31] gdgellatly commented on #20856
btw I just switched that last line to be `result = rounded_value / (1/rounding_factor)` and couldn't get it to fail, including on my own rounding bugs.  Before that they all failed unless precision was set to 6, which was the clue that the rounding factor was the issue.

[2017-11-15 14:17] aspcsharp9 opened #20975 "Bank statment import"
Impacted versions: odoo 9

Steps to reproduce:

Current behavior:

Expected behavior: I need help about bank statment import in odoo 9. Where can find simple template of any bank statment?

Video/Screenshot link (optional):

[2017-11-15 14:19] yhugir opened #20976 "ImportError: No module named 'partner_extensions'"
Impacted versions:
11 in Docker on Fedora 26
Steps to reproduce:
install an extension module for product
Current behavior:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in

[2017-11-15 14:26] phuongnguyen3108 commented on #20269
@odony: Thank you so much. It works like charm on my system now.

[2017-11-15 14:55] #20719 closed

[2017-11-15 14:59] jco-odoo commented on #20944
As the 25 in Stock and the 25 in Shelf_1 were received at the same date, the FIFO removal strategy can choose either of them.  The locations on the moves function as a zone where the products can be reserved.

[2017-11-15 14:59] #20944 closed

[2017-11-15 15:06] odony commented on #20856
@gdgellatly Well, 993.42 is not a binary fraction, so it doesn't have an exact representation as a float in Python, even if `repr()` does a good job at hiding it.

@MeeleCode This is why we have a `float_repr()` method, as @qdp-odoo mentioned, and that's [what the framework uses](https://github.com/odoo/odoo/blob/d8e49d3886ab7c5443b9173bd9b3e45e05b72c6c/odoo/fields.py#L1227) to send float values t

[2017-11-15 15:27] buddhiramsharma commented on #15271
@mart-e its seeems like odoo dont want to provide this feature and to let the hardware POSBOX to be purchased. Its so simple option to enable this from your side BUT being open source its verysad BUG created by odoo.

Guys you can switch to Floreant POS its had this free feature.

Best.
Jerry

[2017-11-15 15:28] MeeleCode commented on #20856
Ok, great, thank you for your detailed answer, but the problem is that you still use this to show this value in the frontend. This is the product form:
![untitled](https://user-images.githubusercontent.com/30649715/32844160-f9cc104a-ca21-11e7-8df4-5dcb472337b5.png)

[2017-11-15 15:29] mart-e commented on #15271
@buddhiramsharma if it is so easy to enable network printers, please do submit a PR to change that, I would gladly look at it.

[2017-11-15 15:30] JanarthananDeveloper commented on #11178
did you find solution for this

[2017-11-15 15:38] mart-e commented on #11273
Not enough information.
We already asked you countless time to provide us information to be able to reproduce an issue on a standard Odoo...

[2017-11-15 15:38] #11273 closed

[2017-11-15 15:40] mart-e commented on #6475
Closing as V8 is no longer supported

[2017-11-15 15:40] #6475 closed

[2017-11-15 15:54] Gyuri77 opened #20980 "POS session can be closed while active, and you can sale after closed the session"
Impacted versions:
at least 9.0

Steps to reproduce:
start a POS session
in a new window close this session
sell  products in the other window

Current behavior:
You can close a POS session while activly using that causing:
products sold after closing the POS session, creates stock movements without  picking_id or picking_type_id

Expected behavior:
POS prevents the sales when its session are clos

[2017-11-15 16:08] Gyuri77 opened #20982 "POS uses the same picking_type_id for both in and out moves"
Impacted versions:
at least 9.0

Steps to reproduce:
sell a product in POS
Get back a product in POS

Current behavior:
The in and out move have the SAME picking_type_id

Expected behavior:
The in and out must have a different picking type id.

[2017-11-15 16:15] haconsult commented on #20784
Hi,
Thanks for your fix! The test setup as described works fine now.

However, in my production db I still face the
**"it is not possible to unreserve more products than you have in stock"**
issue.
Sometimes it happens that the reserved amount differs from the amount in the sales order. One example:

- I have 3.420 units on hand
- Sell 1.402 units
- Validate sales order
- 1.4020000000000001 units

[2017-11-15 16:26] mart-e commented on #9172
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-15 16:26] #9172 closed

[2017-11-15 16:27] mart-e commented on #10715
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-15 16:27] #10715 closed

[2017-11-15 16:27] lonelyleaves opened #20983 "Users are not allowed to remember their accounts and passwords when landing"
Odoo is a b/s architecture, odoo is now through the browser to be use, I hope you can set does not allow the user to remember username and password when landing, although the browser can settings, but users can also modify the remember password, for security, odoo is the best platform directly is not allowed

[2017-11-15 16:27] mart-e commented on #18034
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-15 16:27] #18034 closed

[2017-11-15 16:28] mart-e commented on #19076
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-15 16:28] #19076 closed

[2017-11-15 16:28] mart-e commented on #3997
Hello,

Thank you for your contribution but the version 8.0 is no longer supported. We only support the last 3 stable versions so no longer accepts patches into this branch.
We apology if we could not look at your request in time.
If the contribution still makes sense for the upper version, please let us know and do not hesitate to recreate one for the recent versions. We will try to check it as s

[2017-11-15 16:28] #3997 closed

[2017-11-15 16:39] gdgellatly commented on #20964
@sle-odoo OK I found the issue - thankfully it was your code not mine and was 2 seperate bugs combining.  What it is to do with is the function _generate_lot_ids (at least IRT to tracked lots)
1. Takes no account of existing reservations and creates a new moveline
2. Then takes no account of inventory rules and just uses the production order location

[2017-11-15 17:19] gdgellatly commented on #20856
![image](https://user-images.githubusercontent.com/5093264/32849793-17e6b8f0-ca95-11e7-8fe2-444b34e5435c.png)

Another from runbot.  @odony any chance we get to see decimal in the near future (V12).  I think its worth the discussion at least.  Its not like Odoo does that much math, and the cost of setting up a decimal is maybe 10x less than a call to float_round and the math is pretty quick now in

[2017-11-15 17:54] odony commented on #20856
@MeeleCode it's a different issue then, related to the widget used to display the value in the form.

[2017-11-15 18:54] hmrodrigues opened #20985 "[9.0] Duplicated customer reference on invoice when creating from sale order"
If the Customer Reference on the sale order has commas, the invoice Reference/Description gets duplicated for each invoice line

The duplication happens on addons/sale/sale.py:329

Impacted versions: 9.0

Steps to reproduce:

- On a sale order, set a customer reference with a comma (ex: Pedido de Compra Nº 55011690, de 30.10.2017)
- Create a invoice from the SO (any option can be selected)

Curren

[2017-11-15 19:23] MeeleCode commented on #20856
@odony it’s good to know for float_repr and sorry if I’ve didn’t provide all the necessary information. Do we need to open a new issue or?

[2017-11-15 19:27] torreslr commented on #18648
@gustavovalverde Hola, como pudiste dar un tamaño fijo a las columnas del orderline que se muestran en el ticket..??

[2017-11-15 21:04] haconsult commented on #20784
Ok, by chance I found a way to reproduce:

- fresh db, just like above
- purchase 18.46 units, validate incoming delivry
- check quantity on hand, 18.46 - perfect
- create a sales order with two lines of the same product: 0.472 units and 0.412 units
- create delivery order, check reserved quantities: 0.47200000000000003 and 0.41200000000000003
- impossible to validate this delivery order because "

[2017-11-15 22:25] matt454357 commented on #17703
The above fix doesn't work.  It only checks for negative price.  The down payment invoice line has a positive price, and a negative quantity.

In the current code, how about changing this:
[code]
To something like this:
[code]

[2017-11-15 22:35] matt454357 opened #20986 "[10.0e] TaxCloud module shows sales tax on down payments"
**Impacted versions:** 10.0e (TaxCloud module)

**Steps to reproduce:**
1. Configure TaxCloud
1. Create a sales order with appropriate fiscal position
1. Click create invoice
1. Choose Down Payment (fixed amount) and specify some fraction of the total
1. Validate the invoice

**Current behavior:**
The down payment invoice shows sales tax, but the sales tax doesn't add to the amount due.  It's conf

[2017-11-15 22:51] #20860 closed

[2017-11-15 22:56] matt454357 commented on #20986
In issue #17703, @taxcloud explains that "Terms of payment are not tax-related, and should not be sent to TaxCloud."  But, there is no way to prevent this product from being sent.

The final invoice calculates sales tax correctly:
![image](https://user-images.githubusercontent.com/7604932/32864709-6e4a0e86-ca1d-11e7-8e60-5f71bc08b44b.png)

[2017-11-16 03:22] khishigbat commented on #20634
Hello @mart-e

I'm sorry to bother you, but the strings "1 Day(s); 1 Hour(s); 15 Minute(s); 2 Hour(s); 3 Hour(s), by email; 30 Minute(s); 6 Hour(s), by email" are still not on Transifex.

[2017-11-16 07:31] nle-odoo commented on #20831
Hi Yenthe,

This should be solved with:
https://github.com/odoo/odoo/issues/20831

Translation will be available once the transifex translations are updated.

[2017-11-16 07:31] #20831 closed

[2017-11-16 08:09] Yenthe666 commented on #20831
Thanks a lot @nle-odoo - great job!

[2017-11-16 08:56] lap-odoo commented on #18572
@ploegvde @jvOrsouw @yung-wang Could you please provide input regarding the taxes ?

Which taxes do we need to duplicated (to distinguish the ones applied on services and the ones applied on products)? We also need to adapt the fiscal positions accordingly.

Thanks for your input

[2017-11-16 09:24] amoyaux commented on #20784
@haconsult Gonna check for this.

[2017-11-16 09:26] dion-pci opened #20999 "[11.0] database manager interaction with odoo-bin database parameter"
Impacted versions:
11.0 enterprise, maybe 11.0 community too.

Steps to reproduce:
1. Run Odoo from command line with either `-d <database>` or `--database <database>` parameter
2. Open Odoo database manager
3. Delete the database specified in the command line parameter

Current behavior:
- Odoo only show the specified database from command line parameter in the database manager
- "500 Internal Se

[2017-11-16 09:32] dion-pci commented on #20999
Log from the terminal.

[code]

[2017-11-16 09:52] haveyougotanypets opened #21000 "Failure to create additional Point of Sale (POS) Terminals"
Impacted versions:
* Odoo 11.0-20171113 (Community Edition)
* Installed using .deb installer
* Running on Ubuntu Server 16.04

Steps to reproduce:
1. Setup new instance
2. Install POS module
3. POS > Configure > Point of Sale > Create (create a new POS termainl)
4. Fill out form - Submit
5. Error returned as seen below

Current behavior:
* Unable to add new POS. Only the factory default one can be

[2017-11-16 09:54] Yenthe666 commented on #20986
@tivisse another taxcloud related issue - might be of interest for you.

[2017-11-16 09:56] kunalg140 opened #21001 "Manufacturing routing modification in V11 CE not working"
Impacted versions:11 CE

Steps to reproduce:
The manufacturing routing was modified to make a QC location between production finished products and stock
step1 :  Production Location -> QC location (When MO is completed)
step2:  QC Location -> Stock  (Manual after QC checking)

Current behavior:
The above steps work when MO is created manually, however if a MO is generated  from an SO or through th

[2017-11-16 09:59] mart-e commented on #20634
@khishigbat it should now
![screenshot-2017-11-16 odoo 11 0 transifex editor](https://user-images.githubusercontent.com/564822/32885178-06ab88a4-cabd-11e7-85da-a65c58bffd06.png)

[2017-11-16 09:59] Yenthe666 commented on #21000
Hi @haveyougotanypets,

Thank you for your report.
I've just tried this on the latest Odoo 10.0 (community) and it seems to work fine:
![image](https://user-images.githubusercontent.com/6352350/32885210-23e62c08-cabd-11e7-97eb-03abe884691f.png)
Can you reproduce this on an official runbot (at runbot.odoo.com)?
@d-fence could this be OS related - I really don't think so?

Regards,
Yenthe

[2017-11-16 10:01] Yenthe666 commented on #20999
Hi @dion-pci,

Thank you for your report.
I don't really agree with your report though. The `-d` and `-database` parameters are used to exactly use and show that specific database. If you delete this database from somewhere else but run your Odoo with this parameter it is (in my opinion) your job to change the parameter.
I don't consider this a bug but the final call is up to @mart-e

Regards,
Yen

[2017-11-16 10:08] mart-e commented on #20999
Yes exactly. As of Odoo v11, the `--database` parameters acts as the database list.
Check slide 19 of https://www.odoo.com/slides/slide/securing-odoo-deployments-529

[2017-11-16 10:08] #20999 closed

[2017-11-16 10:33] dion-pci commented on #20999
Thank you for the explanation @mart-e.

However, in [Odoo official documentation](https://www.odoo.com/documentation/11.0/reference/cmdline.html) the parameter is still mentioned as only used when installing or updating modules. Perhaps we can have small update in the documentation to clear out the confusion and better explain the new behaviour?

[2017-11-16 10:37] khishigbat commented on #20634
@mart-e perhaps not on mongolian
![mn](https://user-images.githubusercontent.com/29530738/32886837-f3a968ee-cafc-11e7-8fdb-fd58d3df3f8a.png)

[2017-11-16 10:38] mart-e commented on #20999
Thanks for the notice, we will clarify the documentation

[2017-11-16 10:39] nim-odoo commented on #20835
The price is reset here: https://github.com/odoo/odoo/blob/10.0/addons/sale/models/sale.py#L925

[2017-11-16 10:39] #20835 closed

[2017-11-16 10:40] mart-e commented on #20634
@khishigbat I don't know which project you are checking, but not the v11 as the Mongolian was in the list of languages. I have added Mongolian to the list of languages for v11.

[2017-11-16 10:41] haveyougotanypets commented on #21000
I have had a look at your runbot and tested on the 11 version. Seems to work fine there.

Is there anything from the error given that would indicate where the error is coming from? my python is a bit rusty and I don't know the codebase.

Also to add: I did initially the v10 branch installed I apt-get purged this and changed the source path to the 11 release and apt-get installed again. I'm not sur

[2017-11-16 10:41] khishigbat commented on #20634
@mart-e it's v10.0

[2017-11-16 10:42] khishigbat commented on #20634
https://www.transifex.com/odoo/odoo-10/translate/#mn/calendar?translated=no

[2017-11-16 10:44] mart-e commented on #20634
As said previously, the change was made in v11, not v10.
V10 is a stable version where we only accept bug fixes, this one is an improvement.
As v11 is just released, we still tolerate some improvements so I have changed it there but this kind of changes usually targets the master branch.

[2017-11-16 10:53] haveyougotanypets commented on #21000
p.s. If there is an easy way to amend a exported POS terminal so that when it is re imported it creates a new one rather than overriding itself that would be a good workaround for the time being.

[2017-11-16 10:55] Yenthe666 commented on #21000
@haveyougotanypets not sure about the apt-get purged - I personally haven't used it yet. Perhaps it is worth the try/effort to do a clean V11 install (on another location) to see if that fixes your issues?
About the export/import: you will run into the same issue as the `create` function will be triggered from the import too, which in return would trigger this error I believe.

[2017-11-16 10:57] khishigbat commented on #20634
I'm so sorry for misunderstanding.
We understand. Please forgive me for wasting your time. :(

[2017-11-16 11:09] jvOrsouw commented on #18572
Hi Laura,
In order to make this work, here is my proposal:
- duplicate tax 'verkopen export binnen EU' and name it 'verkopen export binnen EU (diensten)'.
- New tax has same tax rules as the current Tax (same tag '3b', no need for a new tax account)
- change tax mapping of fiscal position 'EU landen': taxes starting with 'verkopen' and ending with 'diensten' get the new TAX to apply 'verkopen expo

[2017-11-16 11:40] #17726 closed

[2017-11-16 12:35] aricaldeira commented on #2931
I just have the same issue, just solved it.

In v10, edit addons/web/static/src/js/action_manager.js, apply the following diff:

[code]

Then change the 'target' key you're returning to 'download' instead of 'self':

return {
            'type' : 'ir.actions.act_url',
            'url': '/web/content/{id}/{nome}'.format(id=self.arquivo_pdf_id.id, nome=self.arquivo_pdf_id.name),
            'target

[2017-11-16 12:37] Yenthe666 commented on #2931
Hi all,

I'm closing this bug report as Odoo 7 (and 8) are no longer supported and are end of life.

Regards,
Yenthe

[2017-11-16 12:37] #2931 closed

[2017-11-16 12:46] Yenthe666 commented on #20983
Hi @lonelyleaves,

Thank you for your bug report.
This is however desired behaviour and it is built in as an option in the browse. So, not a bug.

Regards,
Yenthe

[2017-11-16 12:46] #20983 closed

[2017-11-16 12:47] Yenthe666 commented on #20975
Hi @aspcsharp9,

Please do ask questions about functionalities on the official help forums (help.odoo.com) or have a look at the documentation (at https://www.odoo.com/page/docs).
You can usually download statements from your bank.

Regards,
Yenthe

[2017-11-16 12:47] #20975 closed

[2017-11-16 13:10] Yenthe666 commented on #20980
Hi @Gyuri77,

Thank you for your report.
However, I wouldn't really call this a bug. When you're using multiple tabs in a browser and then close the POS in one tab, how should we detect it is closed? The POS can work offline and does no communication with the backend whatsoever. So, what would you ever expect to happen? There can't be a check to the database as it can work offline plus you've clos

[2017-11-16 13:25] Yenthe666 commented on #20941
Hi @rohitramnani1994,

Thanks a lot for your bug report.
I've just tested this on the latest Odoo 11 and I can confirm that this is a bug:
![image](https://user-images.githubusercontent.com/6352350/32893477-eb0649aa-cad9-11e7-9c2e-b9755ea48ef7.png)

@JKE-be can you have a look please?

Regards,
Yenthe

[2017-11-16 13:45] nim-odoo commented on #20828
IMHO, that's not an issue. If I follow what you say, what should happen if I open several apps which have an implementation guide?

[2017-11-16 13:51] Yenthe666 commented on #20828
@nim-odoo you should see the bar when you have the bar open but not in the main screen. Why would you ever want to have a progress bar floating around on the main menu of Odoo while you don't know where it is from?

[2017-11-16 14:14] ged-odoo commented on #20942
Dear All,

I understand the concern, and I actually kind of agree, but this is actually really completely a fundamental mechanism of how odoo works.  The reason is that many actions called by clicking on a button need to have many side effects, such as reading data in other models, sending emails, writing on various other records.  By saving first, we ensure that the state of the data in the datab

[2017-11-16 14:14] #20942 closed

[2017-11-16 14:31] remz1337 commented on #17234
Any update on this issue? It is really annoying and creates lots of problems between our buyers and suppliers.

Thanks

[2017-11-16 14:38] mart-e commented on #20634
No problem, thanks for your help to translate Odoo :)

[2017-11-16 14:41] mart-e commented on #20980
Hello,

Still using a pos session while closing it on another screen is not something I expect to end well.
However, as it still seems to happen from time to time, we try to mitigate that by creating what we call a rescue session.

![screenshot-2017-11-16 sessions - odoo](https://user-images.githubusercontent.com/564822/32896817-54b01584-cae4-11e7-895c-292cd0760121.png)

This way, the orders you a

[2017-11-16 14:41] wtaferner opened #21008 "[11.0] Web Client OnChange JS error in case of pagination in the embedded list view"
**Impacted versions:**
saas-16 and above

**Steps to reproduce:**
Create an invoice with more than 40 lines. Keep the pagination and try to delete a line. It will crash for undefined list variable. Remove the pagination by setting it 1-your_number_of_lines and try again...it will work without any issue.

If you are fast enough, here is already an instance and an object you can use and test.
[Runbo

[2017-11-16 14:44] Yenthe666 commented on #21008
Hi @wtaferner,

Thanks a lot for the bug report!
Tested and confirmed on your runbot instance. I like screenshots so:
![image](https://user-images.githubusercontent.com/6352350/32897071-f31db99c-cae4-11e7-8b94-7b776d595015.png)

Looks like a real issue yep.

[2017-11-16 14:44] wtaferner commented on #21008
OPW-782974

[2017-11-16 14:50] sle-odoo commented on #20964
@gdgellatly are you using the `quality_mrp` module or did you ran your tests only on community?

[2017-11-16 15:21] nim-odoo commented on #20828
@Yenthe666 ok, got it, I understood incorrectly. Well still, I don't see it as an issue: if you click on "<" (top left), you are back to accounting. So keeping this progress bar doesn't seem weird to me.

[2017-11-16 15:38] tivisse commented on #17703
Hello @matt454357

You're right, I missed that when closing this ticket.

It's working as expected now with the revision https://github.com/odoo/enterprise/commit/4c9d86693738a55bdc1942713485d30130b24a63

Thanks for the feedback.

[2017-11-16 15:48] sle-odoo commented on #20964
nope, i'm wrong, it's due to the fact that we tried to unify the models and method used in stock/mrp in v11. in v10, there was a [second "action_done"](https://github.com/odoo/odoo/blob/10.0/addons/mrp/models/stock_move.py#L278) on move that used the quants reserved by `action_assign`. As we got rid of the move lots and the second action_done and the links between the reserved quants and the moves

[2017-11-16 15:58] bst-odoo commented on #20839
Hello @JulioSerna ,

Thanks for your feedback. It will be done in master by our R&D team.

Kind regards,

BST

[2017-11-16 15:58] #20839 closed

[2017-11-16 16:00] JulioSerna commented on #20839
@bst-odoo

What is the fix?

could be applied into version11 as well?

[2017-11-16 16:11] bst-odoo commented on #20839
Hello Julio,

Your request is an improvement and not a fix. It won’t be merged in a stable version. That’s why our R&D team will handle it.

Kr,

BST

De : Julio [Vauxoo]
Envoyé le :jeudi 16 novembre 2017 17:03
À : odoo/odoo
Cc : bst-odoo; Mention
Objet :Re: [odoo/odoo] [purchase] wrong invoice status when return picking(#20839)

@bst-odoo
What is the fix?
could be applied into version11 as well?

[2017-11-16 16:49] nim-odoo commented on #20828
To me, that's more a usability concern than any kind of issue. This behavior has been introduced back in v9, therefore I don't see why suddenly this should be a bug since it doesn't prevent you from working. I will create a feedback, but clearly no fix in stable.

[2017-11-16 16:49] #20828 closed

[2017-11-16 18:01] Yenthe666 commented on #20828
It is a usability concern, not really a bug as it doesn't break anything I guess but that is the only way to officially reach out. Thank you @nim-odoo

[2017-11-16 19:08] gdgellatly commented on #20964
@sle-odoo Note there was a related bug reported yesterday with quality_mrp and stock routes.  Totally different effect but seems same root cause.  Sorry with all the bot closures I can't find it again.

[2017-11-16 19:08] gdgellatly commented on #20964
Oh yes, you are right I was using quality_mrp

[2017-11-16 19:34] elgow commented on #20942
Actually you could add an attribute to the button, but make it declare that saving is NOT necessary. If not applied then it breaks nothing and changes nothing. If applied then it's on the developer to use it wisely.

Doing the above is not difficult. I've already done it as an addon module and I am using it. It can be done even more simply if it's not a monkey-patch. Then it's just a change to a f

[2017-11-16 19:55] elgow commented on #20942
@ged-odoo I've fixed an issue with my CLA signature. Once it's done I can submit a pull request for the changes needed to enable a "no_save" option for the "special" attribute of buttons that enables in-edit button actions.

[2017-11-16 19:57] sle-odoo commented on #20964
@gdgellatly The issue is fixed in the branch linked in this issue (not the final patch), so it comes directly from mrp. It was not easy because the same mechanism (linking the temporary move line to the reservation move line through lot_produced_id) is broken too in v10, but the move_quants method has a fallback that moves the reserved quants and it worked as expected.

[2017-11-16 20:02] elgow commented on #20942
@ged-odoo @Yenthe666  I understand what ged-odoo said above about ensuring that server-side actions have up-to-date data in the DB to act upon. In the same form that has my in-edit buttons I have several buttons that perform server-side actions. What I've done is to make my in-edit buttons `oe_edit_only` and my server-side buttons `oe_read_only`  so  that the user cannot use the buttons when the D

[2017-11-16 20:24] elgow opened #21012 "Reload of record on wizard close is a breaking change from previous versions"
Impacted versions: 11

Steps to reproduce:
1. Create a form button that invokes a wizard.
1. Have the wizard call a client action that modifies a field in the underlying form.
1. Have the client action end with a `ir.actions.act_window_close`
1. Try the button while in edit mode in Odoo 10.0 and 11.0

Current behavior:
In 11.0 the data in the record being edited is overwritten by a `reload()` call

[2017-11-16 20:28] elgow commented on #20942
I've submitted a new issue #21012 that is related to this one. The code that I wrote to solve the breaking change described in the new issue also prevents the save described in this one.  For in-edit button actions it's best if both the save and the reload are prevented.

[2017-11-16 20:58] vcloud9ray commented on #20986
Workaround: Set Deposit Invoices to Fiscal Position Tax Exempt?  Find a TIC code that means 'exempt' ?

[2017-11-16 23:43] GGMEX opened #21015 "OSError: File not found: l10n_mx_edi/data/3.3/cadenaoriginal.xslt"
Hi,

I'm having issues to create an invoice on the Mexican Localization or CDFI 3.3
As I understand, the file **l10n_mx_edi/data/3.3/cadenaoriginal.xslt** is missing, but where can I find it?.
Thanks in advance!.

This is the follow error:

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/odoo/http.py", line 646, in _handle_exception
    return super(Js

[2017-11-16 23:56] nhomar commented on #21015
- Can you pull your code? because that is not happening at my end.
- And allow us to know which is the process to test your first invoice that you used?

BTW this must be called only when you used to download locally the XSD files with the server action, Did you do that?

Thanks in advance for the report.

[2017-11-17 00:03] GGMEX commented on #21015
What do you mean about been called only when i'm using to download the XSD files?.
Si es posible, podría comprenderlo mejor en español.

Gracias!.

[2017-11-17 00:20] nhomar commented on #21015
I am talking [about this.](https://www.odoo.com/documentation/user/11.0/accounting/localizations/mexico.html#enabling-explicit-errors-on-the-cfdi-using-the-xsd-local-validator-cfdi-3-3)

But BTW: There is not know error as the one you are showing I need to understand the steps you follow, because the only way I see it can happen is that you moved the odoo's filestore or something like that.

Can y

[2017-11-17 02:25] GGMEX commented on #21015
I have the Enterprise v11.
I already sent you a video.

Do you received it?.

[2017-11-17 03:03] nhomar commented on #21015
@GGMEX

Gustavo, what I meant about the version is "when and how did you download it?".

If you download it some weeks, please update your code and re-download all today and re-try AFAICR we solved an error like that few weeks ago.

[2017-11-17 03:43] nhomar commented on #21015
Another option.

Do the OS odoo's user have permissions for the file system? Windows or Linux!?

[2017-11-17 05:23] smartboxid opened #21021 "Error saving in res.partner"
Impacted versions:11

Steps to reproduce:Add new address type "Other" and save, while saving partner it will give error

Current behavior:

Expected behavior:

Video/Screenshot link (optional):Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/p5q-pro/PycharmProjects/odoo11/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(e

[2017-11-17 07:32] Elkasitu commented on #21021
Hi, it seems the code is being executed from a custom/third-party module named "tms" which uses base64 decoding which is no longer supported in python 3, you should either uninstall this module or try running odoo on python 2

[2017-11-17 07:36] Yenthe666 commented on #21021
Indeed, this bug is not related to Odoo itself but to the custom development.
Your best best is to change the `base64` decoding to support P3.
If you should be stuck with this you can ask help on the official help forums (at help.odoo.com).

Regards,
Yenthe

[2017-11-17 08:25] d-fence commented on #20976
Not sure that this one is linked to docker.
What 's the purpose of the 'init.py' ?
Maybe the 'import  partner_extension' should be 'from . import partner_extension'.

[2017-11-17 08:30] lucian0112 opened #21026 "Odoo 10 unable print pdf"
Impacted versions: 10

Steps to reproduce:
1 - Generate an invoice
2 - Print it
3 - Open pdf file

Current behavior:
Pdf is generated but is empty and cannot be open with adobe reader. Get Failed to load PDF document

Expected behavior:
Get a valid PDF file

Video/Screenshot link (optional):

[2017-11-17 08:38] tivisse commented on #20986
Hello everyone :)

This commit from yesterday should fix your issue I think. https://github.com/odoo/enterprise/commit/4c9d86693738a55bdc1942713485d30130b24a63

The tax rates won't be computed if either the line quantity or the unit price is negative.

Have a nice day,

Yannick.

[2017-11-17 09:07] Yenthe666 commented on #20976
I believe that would be a cleaner import yes.

[2017-11-17 09:09] Yenthe666 commented on #21026
Hi @lucian0112,

Thank you for your report.
However, printing reports has worked for years in Odoo and when testing it with the very last Odoo 10 it still works:
![image](https://user-images.githubusercontent.com/6352350/32939271-48e53a90-cb7f-11e7-91bf-9736556e5b80.png)
I believe there is an issue with your local installation and most likely with your wkhtmltopdf or PDF reader.
Can you reproduce

[2017-11-17 09:23] lucian0112 commented on #21026
Hi @Yenthe666
You are right. I try to reproduce on runbot and was working. I reinstalled wkhtmltopdf  and now is working for me also
Thanks a lot

[2017-11-17 09:37] sle-odoo commented on #20840
Hi @JulioSerna, thanks for the report but i'm not able to reproduce the issue with l10n_us and your steps applied to a product configured as fifo + automated or standard + automated. The "fixed asset account" line is not present at my end. Could you please try again on the last runbot? It would be really helpful.

Regards

[2017-11-17 09:38] #21026 closed

[2017-11-17 09:38] Yenthe666 commented on #21026
You're welcome - best of luck!

[2017-11-17 09:44] habin201291 opened #21027 "Odoo live chat online working error"
Hey, I have created live chat channel and intergating your code into my website, but i have got an error below when i clicked to the "Have Question?...." label.
![image](https://user-images.githubusercontent.com/4486666/32940790-473673e4-cbb6-11e7-9642-f750850dfef8.png)

And here is the same error when i link to https://demo32.odoo.com/im_livechat/support/4
![image](https://user-images.githubuserc

[2017-11-17 09:44] TimLai125 commented on #19140
Hi, @xmo-odoo
I have the same issue as well. The following line keep appearing in the odoo-server.log
`odoo.service.server: LongPolling virtual memory limit reached`

This actually affected the longpolling request and caused 502 Gateway Error.
When the limit_memory_soft and limit_memory_hard are set too low, e.g. 201326592 and 402653184 in my case.

As @juan131 mentioned as well, the issue could b

[2017-11-17 09:58] goyanipankaj opened #21028 "Wrong credit debit entry"
Impacted versions:
- Odoo 10.0

Steps to reproduce:
- Create Customer Refund
- Validate Refund Invoice.
- Register Payment (@Note: Partial payment with select Payment difference is "Mark invoice as fully paid")
- Raise the warning: Wrong credit or debit value in accounting entry !

Current behavior:
- Not allow to partial payment with refund invoice.

Expected Behavior:
- As per my knowledge allow

[2017-11-17 10:04] boumboum opened #21029 "Error on trying to print invoice with local charset"
Impacted versions: Odoo V11 exe (20171117)

Steps to reproduce: create an invoice with (probably) some non English chars in the description/tax, etc. fields

Current behavior: The attached error message

Expected behavior:create the PDF

Video/Screenshot link (optional):
Hiba:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Odoo\python\lib\site-packages\PyPDF2\generic.py", line 48

[2017-11-17 10:06] Yenthe666 commented on #21028
Hi @goyanipankaj,

Please fill in all the questions so that we can help you. 😉

Regards,
Yenthe

[2017-11-17 10:11] xmo-odoo commented on #19140
It's not, that's not the issue, that has nothing whatsoever to do with the issue.

[2017-11-17 10:13] gdgellatly opened #21030 "Probably easiest to reproduce bug ever - Quotations != Everything"
Impacted versions: 11.0

Steps to reproduce:
- Go to Runbot
- Click Sales
By default this is the quotations screen, if per chance it isn't
- Click Quotations

Current behavior:
Shows all Sale Orders

Expected behavior:
Shows only Quotations

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/5093264/32942007-8c06a3dc-cbec-11e7-8511-4db0231d0f5a.png)

kind of relat

[2017-11-17 10:15] TimLai125 commented on #19140
Do you mean the longpolling is not heavy?
May I know if there is any minimum memory settings for the Longpolling?

[2017-11-17 10:16] goyanipankaj commented on #21028
Impacted versions:
- Odoo 10.0

Steps to reproduce:
- Create Customer Refund
- Validate Refund Invoice.
- Register Payment (@Note: Partial payment with select Payment difference is "Mark invoice as fully paid")
- Raise the warning: Wrong credit or debit value in accounting entry !

Current behavior:
- Not allow to partial payment with refund invoice.

Expected Behavior:
- As per my knowledge allow

[2017-11-17 10:17] Yenthe666 commented on #21028
@goyanipankaj thanks for the report. You can add this info in the initial message the next time you make a report. I've moved it and deleted your second comment.

[2017-11-17 10:25] TimLai125 opened #21031 "[11.0] User Autocomplete of New Message does not display"
Impacted versions:
11.0

Steps to reproduce:
1. New Message
2. Type any name of existing users

Current behavior:
Nothing is shown up, yet using up and down arrow-keys can still select the users.

Expected behavior:
Suggested users are shown below the input field.

Screenshot:
![image](https://user-images.githubusercontent.com/27185427/32943030-cd05b50c-cbc5-11e7-849f-616a011a0620.png)

[2017-11-17 10:30] Yenthe666 commented on #21031
Hi @TimLai125,

Thank you for your report but I'm missing quite some context/screenshots/details though.
Are you talking about this? Because it works fine on the latest Odoo 11:
![image](https://user-images.githubusercontent.com/6352350/32942890-a8ad83fa-cb8a-11e7-893d-3bf6e5964f15.png)

[2017-11-17 10:32] gdgellatly commented on #21030
Hmmm,

There is another bug with the sale actions which will break if we fix this.

![image](https://user-images.githubusercontent.com/5093264/32942938-6113e5b0-cbef-11e7-85dc-914727ace8c5.png)

This is the action for sales.  See how the 'cancel' is included in the domain.  So how can one ever see cancelled Sales Orders.  The cancel part probably needs to be in context.

[2017-11-17 10:32] TimLai125 commented on #21031
@Yenthe666

Sorry about the confusion, here is the screenshot
![image](https://user-images.githubusercontent.com/27185427/32943008-b3cd4a96-cbc5-11e7-9465-29296b509732.png)

[2017-11-17 10:33] Yenthe666 commented on #21030
Yep - indeed. @mart-e or @nim-odoo could one of you have a look? 😉

[2017-11-17 10:34] mge-odoo commented on #19995
Hi @sswapnesh

Thanks for reporting the bug. I'm on this issue right now and I have tried to reproduce it but I'm not able to do so. Has it been fixed in the meanwhile? I have tried to add two actions in the Dashboard (i.e. Notes kanban view and My pipeline), on the last 11.0e but I don't get any traceback.

May I ask you to double check please?

Regards,

Martin

[2017-11-17 10:36] yhugir commented on #20976
thank you for your replay.
it work.
it has worked in odoo 10

[2017-11-17 10:36] #20976 closed

[2017-11-17 10:37] mge-odoo commented on #19995
This issue may have been fixed by the following revision: https://github.com/odoo/odoo/commit/54d5678696e8ab8db3b67216a46802623ebef925

[2017-11-17 10:47] Yenthe666 commented on #20976
@d-fence will a PR be accepted to change the import? I'm happy to make one.

[2017-11-17 10:50] d-fence commented on #20976
@Yenthe666 I think that it's in a custom module.

[2017-11-17 10:51] Yenthe666 commented on #20976
Yep - sorry too fast:
`File "/mnt/extra-addons/partner_extension/models/init.py", line 4, in `

[2017-11-17 11:02] #20941 closed

[2017-11-17 11:03] nim-odoo commented on #21030
Introduced by the maestro himself at https://github.com/odoo/odoo/commit/f972b60dc248fe3d54c6e92542d9967de565a31f#diff-0a7015ba0c1db502cc0bfe9b942688c4L514

[2017-11-17 11:03] #21030 closed

[2017-11-17 11:10] JKE-be commented on #20941
@Yenthe666 not really website but fixed ^^

[2017-11-17 11:16] Yenthe666 commented on #21030
@fp-odoo was this literally done intentionally?

[2017-11-17 11:59] Karsten-77 opened #21033 "[11] new field in group get no label"
Impacted versions: 11

Steps to reproduce:

[code]
[code]
Current behavior:
The field will inserted directly behind field phone, but without label.
Expected behavior:
The field should get an auto label and should be inserted into next row under phone, cause phone is in group/group.

regards,
Karsten

[2017-11-17 12:12] JanarthananDeveloper commented on #20844
@jeffery9  This issue has been fixed from the following commit https://github.com/odoo/odoo/commit/056fe805a1a434644879a3814e03392d36e2bbc5

[2017-11-17 12:29] Yenthe666 commented on #21031
Okay that makes more sense. You're talking about the chat when you'd like to make a new chat.
It indeed doesn't suggest users anymore. @mart-e not sure who to ping for this.

[2017-11-17 12:32] #20964 closed

[2017-11-17 12:32] Yenthe666 commented on #20844
@JanarthananDeveloper thanks a lot for linking this. You're correct, it has been fixed in https://github.com/odoo/odoo/commit/056fe805a1a434644879a3814e03392d36e2bbc5

[2017-11-17 12:32] #20844 closed

[2017-11-17 12:35] Yenthe666 commented on #19995
Yep - did another attempt and it looks like it is fixed.

[2017-11-17 12:35] #19995 closed

[2017-11-17 12:45] sle-odoo commented on #21015
xslt files seem to not be imported in the [manifest](https://github.com/odoo/odoo/blob/11.0/MANIFEST.in)

@GGMEX Hello, did you install Odoo with our debian package?

[2017-11-17 13:29] echaritonidis opened #21038 "[10.0] Odoo security restrictions for Message"
**Impacted versions:**
Odoo 10

**Steps to reproduce:**
Registered two accounts
Setup for incoming, outgoing mail servers
Send an email from odoo from account A to B
Go to Settings > Emails, open the received message from account B
Error appears

![image](https://user-images.githubusercontent.com/13793844/32949517-c478a7b0-cbab-11e7-8547-dc204216f9b8.png)

**Note**
Both accounts have Admin rights

[2017-11-17 13:49] Jerther opened #21039 "[11.0] Fields order in write() method for company_dependent fields"
**Impacted versions:** 11.0

**Steps to reproduce:**
Add a bunch of `company_dependent` fields on `res_bank`:

[code]

Then add a constrain:
[code]
Run this test class:

[code]

**Current behavior:**
The first test passes but the second one fails

**Expected behavior:**
Both tests pass

**More details:**
- The two tests are essentially identical except the order of the fields in the write method i

[2017-11-17 14:25] khoapn102 opened #21041 "[10.0] 'Made Payment Order ?' field does not change to True when Confirm Payslip for Employee Odoo 10"
Impacted versions: 10.0

Steps to reproduce:
                                - Create new payslip with required Information
                                - Click Confirm

Current behavior:      - 'Made Payment Order ?' still False

Expected behavior:
                                - 'Made Payment Order ?' should change to True as in Odoo 9
Video/Screenshot link (optional):

[2017-11-17 14:33] Yenthe666 commented on #21039
Hi @Jerther,

Thanks for the report!
@xmo-odoo and @sle-odoo could you guys please have a look?

Regards,
Yenthe

[2017-11-17 15:07] mart-e commented on #21031
@qsm-odoo could you check?

[2017-11-17 15:12] vcloud9ray commented on #20986
@tivisse - thanks for this fix, which will help.  The deposit Invoice however has a positive amount and positive quantity.

[2017-11-17 15:14] tivisse commented on #20986
Hi @vcloud9ray

I reopen this issue to discuss about a clean solution. ;)

[2017-11-17 15:42] Jerther commented on #21039
NP :)

Both tests pass on 10.0.

[2017-11-17 15:56] tivisse commented on #20986
Just a question that could be easy if you live in the US.

Is there a kind of a 'Tax Free' TIC category ?

If it's the case, the Down Payment product is configured on the sales settings. By setting this TIC category on the down payment product, the taxes won't be computed in the future. That could be a clean workaround.

[2017-11-17 16:09] mge-odoo commented on #19390
Hi,

Thank you for reporting the bug and for your implication in Odoo.

The issue has been fixed in saas-16 in the following revision: https://github.com/odoo/odoo/commit/5ba6d93810ba447f94ca2bb0d6804865a32b5cbf

The `readonly` attribute on the view is now also taken into account.
A small improvement has also been introduced ; instead of completely preventing the drag&drop (the resequence inside a

[2017-11-17 16:09] #19390 closed

[2017-11-17 16:19] elgow commented on #19390
Thank you Martin for the fix and further improvements. This will let me make better use of the kanban view to provide features for my users.

  Ed

[2017-11-17 16:23] vcloud9ray commented on #20986
@tvisse - a good idea, but I think it DEPENDS on the Sales Tax jurisdiction:

http://www.boe.ca.gov/lawguides/business/current/btlg/vol2/suta/315-0370.html - "Tax paid with respect to the core deposit should not be refunded or credited to the customer."

[2017-11-17 16:25] vcloud9ray commented on #18084
@taxcloud - sorry to ping you here, but do you have a strategy for correctly requesting Sales Tax for a Customer Deposit - the downpayment (may or not be refundable) that some companies require for projects, services or high price / new product creation?   See https://github.com/odoo/odoo/issues/20986

[2017-11-17 17:18] sswapnesh commented on #19995
@mge-odoo @Yenthe666 Actually There were two different issues here, One of them is resolved.

Still, there is one issue left here.

Steps to reproduce:[http://279257-11-0-ca3390.runbot11.odoo.com](http://270780-11-0-04a110.runbot14.odoo.com) --> Go to Main Dashboard. (First, create dashboard for any object and then uninstall that module)

In this Example I uninstalled Payroll.

![](https://image.p

[2017-11-17 17:29] Yenthe666 commented on #19995
Hmm the second one looks like a bad cleanup. @mge-odoo could you have a look at that one please?

[2017-11-17 17:31] Ehrenstein commented on #20021
Thanks, pedrobaeza, that seems to have done the trick. Once I knew what to look for, Google gave a lot of advice about proxy_mode that wasn't mentioned in my recent sources to the reverse proxy approach before.

[2017-11-17 17:31] #20021 closed

[2017-11-17 19:26] nhomar commented on #21015
ouch....

thanks @sle-odoo I always tests with github, let me test with the debian package.

[2017-11-17 20:07] elgow commented on #20032
@Yenthe666 Could you please tag this as 11.0 since it represents a breaking change from 9.0 and 10.0 for anyone trying to manage screen real estate by not having the very large chatter display appear on every tab in a notebook.

[2017-11-17 20:53] Yenthe666 commented on #20032
Done! I believe @sle-odoo can give feedback on this matter.

[2017-11-17 21:25] elgow commented on #20032
Thank you for your help. I've tried various HTML arrangements to see if I can make it work, but no luck so far.

[2017-11-17 23:59] matt454357 commented on #20986
If I understand my comptroller, we don't need to collect sales tax on down payments.  Down payments are held in deferred revenue.  If the sale is canceled, and the down payment is NOT refunded, then we post a portion of the down payment as sales tax liability and recognize the remainder as revenue.

If we were required to collect sales tax on down payments, then Odoo would need to avoid double cha

[2017-11-18 00:00] moylop260 opened #21044 "[11.0] l10n_mx_edi: Missing package dependency for enterprise.deb package"
Impacted versions:
 - 11.0

Steps to reproduce:
Using the following Dockerfile:
 - https://github.com/odoo/docker/blob/master/11.0/Dockerfile

Use the URL of the enterprise debian package `.deb`
[code]

Build a image
`docker build -t odoo .`

Run a container
`docker run -d -e POSTGRES_USER=odoo -e POSTGRES_PASSWORD=odoo --name db postgres:9.4`
`docker run -p 8069:8069 --name odoo --link db:db -t o

[2017-11-18 00:04] moylop260 opened #21045 "[11.0] l10n_mx_edi: Missing files for enterprise.deb package"
Impacted versions:
11.0

Steps to reproduce:

Following the instructions from:
 - https://github.com/odoo/odoo/issues/21044
and installing `python3-openssl` package
Try to install `l10n_mx_edi`

Current behavior:
[code]

<img width="381" alt="screen shot 2017-11-17 at 17 35 46" src="https://user-images.githubusercontent.com/6644187/32974147-920499a4-cbc1-11e7-8efa-6ab73740b03b.png">

The following

[2017-11-18 00:46] JulioSerna commented on #20840
Hello @sle-odoo

It can reproduce
https://youtu.be/Kfb9CbccCiI

[2017-11-18 02:43] taxcloud commented on #20986
In tax terms, a down payment is referred to as a "stored value instrument" (like a gift card or gift certificate).

You may want to try TIC 10005 ([https://taxcloud.net/tic/](https://taxcloud.net/tic/) --> Administrative --> Gift Card)

Please let us know if you have any other questions!

Thank you.

[2017-11-18 02:49] taxcloud commented on #18084
Thanks for the ping - we just replied to [#20986](https://github.com/odoo/odoo/issues/20986).

The answer: **TIC 10005 (Gift Card)**

[2017-11-18 02:59] vcloud9ray commented on #20986
@tvisse - looks like we have the 'tax free' product setting!!

[2017-11-18 03:18] taxcloud commented on #18084
Replying to the earlier request from @vcloud9ray, we can cite many examples, but here are a few easy ones:

1. In the Commonwealth of Massachusetts, clothing items are tax-exempt below $175 (per item), however, every penny above $175 is taxed at 6.25%. So, a $200 sweater would have a tax amount of $1.56 (which would divide out to an effective tax rate of .0078%).

2. In the state of New York, ship

[2017-11-18 03:35] taxcloud commented on #20986
**Please do not use any TICs to fraudulently attract pre-determined (or preferred) tax results.**

TICs define product categories, not tax treatment.

Merchants using our APIs should assign TICs based upon the description provided that most accurately reflects the item being sold. TaxCloud keeps track of where each TIC is exempt, and these rules are constantly monitored and updated as laws change.

[2017-11-18 03:39] smartboxid opened #21050 "Error saving in res.partner"
Impacted versions:11.0

Steps to reproduce:Add new address type "Other" and save, while saving partner it will give error

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
in res_partner.py

286:        if partner_type in ['other'] and parent_id:
287:            parent_image = self.browse(parent_id).image
288:            image = parent_image and parent_image.decode('base64'

[2017-11-18 03:45] bostonfred opened #21051 "Should check if product is variant before raising Error"
https://github.com/odoo/odoo/blob/912a7318d929720b1a2c0bbf05909120518e19fe/addons/mrp/models/mrp_bom.py#L64

Odoo should not raise an error when using product variants in the BOM

[2017-11-18 08:33] ruifranco commented on #21021
I'm actually running against this problem too and with a demo database with just the "sale management" installed. No custom module in my error trail. (also, "base64" is used all over the place in v11, so, how can there be any sort of incompatibility with Python3?)

The quick way I got to fix this was actually overriding the original code:

[code]

[2017-11-18 10:23] Elkasitu commented on #21021
Hi @ruifranco you are right, I guess I went too quickly over the traceback... I retract my previous statement on base64 not being supported in P3, however there can be incompatibilities indeed since the behaviour has changed from P2 to P3 and that's why we changed it in commit 3824b5dc

cc @xmo-odoo

[2017-11-18 12:00] JADCO5692 commented on #20913
Any update on this.?

[2017-11-18 15:12] evgk opened #21054 "Barcode scanner doesn't work with point of sale module when connected directly to the terminal(without posbox)"
Impacted versions:
All of them
Steps to reproduce:
Can be reproduced without real hardware. When the barcode scanner is connected directly in keyboard
mode, Odoo handles it in ./addons/barcodes/ module. It sets up keyboard handlers, so that when several keyboard-events are generated with delay <= 50ms, it'll treat those as coming from the barcode scanner. So if you press "123" on the keyboard conc

[2017-11-18 15:35] Yenthe666 commented on #21044
@sle-odoo if I'm not mistaking you manage the docker installers? Could you have a look please?

[2017-11-18 15:36] Yenthe666 commented on #21045
@d-fence looks like another packaging issue 😉 (possible related to https://github.com/odoo/odoo/issues/21015)

[2017-11-18 15:50] Yenthe666 commented on #21050
Hi @smartboxid,

Thanks for the report. I can confirm that this is a bug:
![image](https://user-images.githubusercontent.com/6352350/32982076-fff7ee3a-cc7e-11e7-95fe-3db47a1e5ec0.png)
I've made a PR at https://github.com/odoo/odoo/pull/21055 to handle this.

[2017-11-18 17:22] sylnsr commented on #17129
`start the needed server for Longpolling` -- could you elaborate on what this means. I have also seen the documentation at https://www.odoo.com/documentation/10.0/setup/deploy.html#odoo-as-a-wsgi-application say to "deploy an evented Odoo via odoo-gevent" however I see there is an `odoo` bin in my installlation, but not `odoo-gevent` bin.  Not sure how one is supposed to start up this other "event

[2017-11-18 18:36] yvaucher opened #21056 "[11.0] view_mode "list" alias doesn't match with "tree" in ir.actions.act_window.view"
**Impacted versions:**
Odoo 11.0

**Steps to reproduce:**

Create an `act_window` with `view_mode` = `list,form`

Then create an `act_window.view` of type `tree` and an other of type `form`. (see example)

`list` seems a valid alias for `tree` as it is used at multiple places and makes more sense than the former tree term:

https://github.com/odoo/odoo/blob/11.0/addons/website/views/website_views.

[2017-11-18 20:48] nhomar commented on #7375
I confirm this is happening on v11.0 yet ping @sle-odoo and/or @Yenthe666

[2017-11-18 20:55] Yenthe666 commented on #7375
Yup it never gotten much attention :( Nevertheless I do believe there are more pressing issues than the rendering of bullet points I guess? Whenever @sle-odoo got some time it would be neat to get fixed.

[2017-11-18 20:56] nhomar commented on #7375
I will help with a PR because it is really annoying... (we face this issue since a lot of time)

[2017-11-18 21:33] jkrauer opened #21057 "[10.0] Can't create new modules because an error in odoo-bin"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

[2017-11-18 21:34] Yenthe666 commented on #7375
That would be awesome! I never got time to dig deeper and fix it really.. Let me know if I can help in any way.

[2017-11-18 21:58] zefoo commented on #21021
I'm seeing this too. It seems to happen when I create a res.partner contact that is an address of a parent contact, I mark the type as "other" (it's an address of parent), and then I set the parent_id, then the issue is here in odoo/addons/base/res/res_partner.py(289)_get_default_image():

287             if partner_type in ['other'] and parent_id:
288                 parent_image = self.browse(pa

[2017-11-18 23:08] JKE-be commented on #7375
[code]

Should fix it...

In html, you have the chrome user agent style that is applied:
![image](https://user-images.githubusercontent.com/4848797/32985524-6beaf036-ccbd-11e7-9bad-a91a83cdf046.png)

Now, with this diff, that override user agent style with the same behaviour, and so, that will be also applied to the pdf.

[2017-11-18 23:41] fmdl opened #21061 "[11][OE] sms.gateway no present (but present in Saas-18)"
Impacted versions:
11, master

Current behavior:
The V11 enterprise reposit have an empty `sms` module.
But the Saas-18 have a real model with `sms.gateway`.

Expected behavior:
@antonylesuisse  Could you clarify the situation, the `sms` module in community use `iap` to send SMS, but the `sms` module in Sass-18 don't use inherance. (Maybe `iap` will be a provider).

It is normal ?

Thanks

[2017-11-19 01:02] fmdl opened #21062 "[Model] browse with ids in string doesn't make sens."
**Impacted version**
11,10

**Steps to reproduce:**
With the shell

Create two recordset, one with id 1 and this other with '1'
[code]

You can call both
[code]

But when you try to read, the `a` doesn't work.
[code]

**And the `exists()` function return the record. It doesn't make sens:**
[code]

**Current behavior:**
Id in string are not converted.

**Expected behavior:**
Converte Id in string t

[2017-11-19 04:06] Ark74 commented on #11976
I've been hit with this exact behavior, I do believe it's related to a postgres update or something similar, since I've been running the server for a month right after this behavior.

Which module is responsible for:
* /web/static/lib/bootstrap/css/bootstrap.css
* /web/static/lib/jquery/jquery.js
* /web/static/lib/bootstrap/js/modal.js
* /web/static/lib/bootstrap/js/tooltip.js
* /web/static/lib/bo

[2017-11-19 05:13] gdgellatly commented on #11976
You need to load web module globally in your config. That is all.

On Sun, 19 Nov 2017, 5:06 PM Luis Guzman, <notifications@github.com> wrote:

[2017-11-19 06:26] Ark74 commented on #11802
This would very valuable when you hit a 500 Internal Server Error state.

[2017-11-19 08:29] Yenthe666 commented on #21050
Also, duplicate of https://github.com/odoo/odoo/issues/21021#issuecomment-345474454 so not sure why you,ve reported it twice.
@Elkasitu this is the duplicate of where you commented on. See the link to a PR in my previous comment.

[2017-11-19 11:25] ruifranco opened #21065 "Notifications are never sent with the email_from defined in the template"
Impacted versions:
v11

Steps to reproduce:
Change the notification email template and add an email in the "from" field.

Current behavior:
The user email is always assumed as the sender of the mail message

Expected behavior:
If one defines a sender, this should become the message's sender address

Video/Screenshot link (optional):

[2017-11-19 12:56] mohamedsaad306 commented on #11976
@gdgellatly  How to do this load globally in config ?

[2017-11-19 13:13] lithint opened #21066 "[10.0][BUG] Payment with draft journal entry"
Impacted versions: 10.0

Steps to reproduce:
1. Create a manual journal entry for AP payment
Accounting -> Advisor -> Journal Entries -> Create an Entry for a vendor(say Partner A)
state: draft
2. Create a Vendor Bill for the same vendor (Partner A) and validate the invoice.
3. You will able to see , AP payment entry as outstanding debits  from that vendor and can Add it to that particular invoice

[2017-11-19 16:38] celm1990 opened #21067 "Can't search by fields date and datetime on search view"
Impacted versions:
V10C, V10E, V11C, V11E, tested on runbot today
Steps to reproduce:
On any view search by date or datetime fields
Current behavior:
Open Customer Invoice and input on search view a date(19/11/2017, today)
V11
![image](https://user-images.githubusercontent.com/7775116/32992866-113398da-cd1e-11e7-974a-52952a00313f.png)

Expected behavior:
Option filter by Period is show on search v

[2017-11-19 18:17] gdgellatly commented on #11976
server_wide_modules = web

On Mon, 20 Nov 2017, 1:56 AM mohamedsaad306, <notifications@github.com>
wrote:

[2017-11-19 18:57] blaggacao opened #21070 "[IMP / Proposal] mrp_maquila: add maquila for third party support"
@jco-odoo Would you consider accepting maquila support (including accountng support). The chanceset is relatively small to support the basic use case, so I'm not sure if a own module is warranted..

Have a look: https://gist.github.com/blaggacao/c89b5b6119c1bc400ceff05f69e71765

[2017-11-19 18:59] blaggacao commented on #21070
Changeset in `mrp.production` functions:
https://gist.github.com/blaggacao/c89b5b6119c1bc400ceff05f69e71765#file-maquila-py-L23-L26
https://gist.github.com/blaggacao/c89b5b6119c1bc400ceff05f69e71765#file-maquila-py-L35
https://gist.github.com/blaggacao/c89b5b6119c1bc400ceff05f69e71765#file-maquila-py-L44
https://gist.github.com/blaggacao/c89b5b6119c1bc400ceff05f69e71765#file-maquila-py-L69-L72
htt

[2017-11-19 19:06] blaggacao commented on #21070
On the theory:
When I'm doing maquila I well might consume own materials (therefore raw is not restricted as to owner), but the finished product will not be mine (I'm selling a service! I would sell a product otherwise).
The costs incurred will be registeed the following way:
- raw on the account of the maquila production location (they should be regularly closed to a COGS account, but only for th

[2017-11-19 19:54] icf20 opened #21071 "0 value provider invoice is allowed"
Impacted versions:
11

Steps to reproduce:
create a new invoice put the price to any item to 0

Current behavior:
the invoice is accepted the invoice

Expected behavior:
in order for the net price to be 0 it should require a 100% discount

[2017-11-19 21:10] adrianriedo commented on #20416
It would be great if some people reading this thread give his input...
In about 1 month the standard Odoo install should have a working Swiss Account Plan and defining the id's above is a first decision to be made...

[2017-11-19 23:01] gdgellatly opened #21073 "Report Background template incorrect on reports more than 1 page"
Impacted versions: 11.0

Steps to reproduce:
Create a sales order with lots of lines (enough to just go over 2 pages).
Set template to background.

Current behavior:
The background image, starts halfway down page, then continues on second page.

Also related is create a short sale order, say one line, background image - you will see image is placed differently than an so with 5 lines.

Expected be

[2017-11-20 03:34] blaggacao commented on #21070
There is one particular reason, why I'd like to incorporate this into `mrp`.

I'm not keen on rewriting this method in `mrp_account`>

[code]
Just to add:
[code]

[2017-11-20 03:34] blaggacao commented on #21070
Or could I do a PR to extract this dict creation into a sub method?

[2017-11-20 04:56] blaggacao commented on #21070
PS, it got:
[code]

by now

[2017-11-20 05:17] gdgellatly opened #21078 "Sale Order totals misaligned"
Impacted versions: 11.0

Steps to reproduce:
Go to runbot
Print a quote

Current behavior:
The totals box is too far right.
So what you say, well it looks ugly. If using in conjunction with background layout it looks extra ugly

Expected behavior:
Totals box aligned with order lines

Video/Screenshot link (optional):
Ignore the whitespace, that line just happened to have a really long description.

[2017-11-20 05:47] lukebranch commented on #18512
@elicoidal ,

I've heard some rumours that the accounting software used for reporting to the China government must be certified by the China government. I have not been able to verify this as fact/fiction at this point in time though.

Any idea if this is true or not? I assume as long as the software complies with China accounting standards it will be acceptable.

[2017-11-20 06:30] TimLai125 opened #21080 "[10.0] LongPolling returns "Odoo Server Error""
Impacted versions:
10.0

Steps to reproduce:
1. Login as admin user.
2. Open the "Developer Tools" (Ctrl + Shift + I for Chrome)
3. Observe the "poll" request in the "Network" tab.
4. All "poll" request should return 200 as the Status Code and something like `{"jsonrpc": "2.0", "id": 787294406, "result": []}` in the response.
5. Duplicate the browser tab, do not close the first tab.
6. On the seco

[2017-11-20 07:26] yelizariev opened #21082 "website_event_sale: bug allows to get tickets for N persons, but pay only for one"
Impacted versions: 10.0, 11.0, maybe others

**Steps** to reproduce: *for 10.0*

* install website_event_sale
* open event registration page (e.g /event/conference-on-business-apps-2017-11-23-3/register )
* fill form for 2 person
* after filling the form you are redirected to /shop/checkout
* Now click Review Order -- opens /shop/cart
* change quantity from 2 to 1
* finish checkout process
* Login