[2018-07-19 14:14] aitorbouzas commented on #6776
@qsm-odoo Yes, that trick works. Any way, won't this problem be patched? It's been in Odoo for 3 years now.

[2018-07-19 14:36] pedrobaeza commented on #25840
Then you should consider change platform, maybe through a Linux Virtual Machine, or replicate the solution on that OS.

[2018-07-19 14:57] qsm-odoo commented on #6776
This will be patched, I will ping the bug fix team to check into it.

[2018-07-19 14:59] aitorbouzas commented on #6776
Thank you, I really appreciate it.

[2018-07-19 15:10] qsm-odoo commented on #6776
(opw-1867934)

[2018-07-19 18:26] yk2kus opened #25875 "Attachments order is reversed and sent email with reversed order"
Impacted versions: 8, 9, 10, 11

**Steps to reproduce:**
Open email sending wizard (in chatter on all major forms)
Attach files eg:  file1, file2, file3 and click on send

**Current behavior:**
attachments are reversed as file3, file2, file1, and email is sent with the reversed order.

**Expected behavior:**
Attachments should preserve order in which they are attached. here file1, file2 and file3

[2018-07-19 18:31] zaoral opened #25876 "Source Document is empty in Quotation created from Opportunity"
## Impacted versions:

11.0

## Steps to reproduce:

From an opportunity click on the `New Quotation` button

## Current behavior:

Created quotation have the Source Document field empty

## Expected behavior:

Created quotation should have the Opportunity name set in the Source Document field

Here is a [video](https://youtu.be/gofnL1U6tS4) showing the case

[2018-07-19 18:33] zaoral commented on #25876
FYI opw 1867985

[2018-07-19 18:39] zaoral commented on #25876
If you agree with this premise then the solution to this problem is already solved in PR https://github.com/odoo/odoo/pull/25877

[2018-07-19 20:01] gustavovalverde commented on #25055
Just to keep the track here. Today I have the 4th client with this issue; with no possible workaround.

[2018-07-19 20:37] edsersolis commented on #25840
@newodoo as @pedrobaeza states you should consider changing OS. I haven't seen the first stable instance in a Windows environment and you'll keep having this kind of issues along the time you keep using Odoo as features will be mainly focused with Linux in mind.

[2018-07-19 22:44] aliencrash opened #25879 "One2many field with related only save 1 field at time in treeview view inside a form."
Impacted versions:
11
Steps to reproduce:
Create 1 normal one2many field and  1 or 2 related field related with the first one.
Current behavior:
Only one field is updated when the field is changed. It doesn't happen to all fields but it looks like happens to fields in onchange list.
Expected behavior:
Update the values and save all the values when the main form saves.
Video/Screenshot link (option

[2018-07-19 22:45] aliencrash commented on #25879
This is the field definition

contract_line_ids = fields.One2many('billing.contract.line', inverse_name='subscription_id',
                                            string='Subscription Products', domain=[("state", "in", ["new", "active"])]
                                            )
delivery_lines = fields.One2many(related='contract_line_ids', copy=False)
canceled_lines = fields.One2many(rela

[2018-07-20 00:50] sopizet commented on #16768
@adekock11 Thanks !
Worked for me with a ovh dynhost : adding the value localhost to report url key
And it's faster than ever !
odoo v11

[2018-07-20 01:26] sanjaycoder123 commented on #7375
<div style="padding: 1em; text-overflow: ellipsis;">
 <span t-raw="l.product_id.description_sale"/>
</div>

This is the solution to print any html field in odoo qweb reports, now it working properly

[2018-07-20 02:03] thanglt0209 commented on #25589
Anyway, thank you very much!
I will try it. ^^
Have a nice day.

[2018-07-20 02:03] #25589 closed

[2018-07-20 03:00] oks1998 opened #25881 "Multiple Issues Compiled in PDF"
Impacted versions:
Odoo 10.0-20180717 (Community Edition)

[bug report (1).pdf](https://github.com/odoo/odoo/files/2212290/bug.report.1.pdf)

[2018-07-20 04:56] wtaferner commented on #25055
@gustavovalverde and others
Feel free to reuse my commit to have a convenient workaround by applying a little fork commit.

[2018-07-20 05:17] pedrobaeza commented on #25881
Sorry, but the error you are mentioning corresponds to a custom module. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if someone can help you or in the proper repository (and in

[2018-07-20 05:17] #25881 closed

[2018-07-20 05:21] pedrobaeza commented on #25879
Sorry, but the error you are mentioning corresponds to custom code, so the problem should be there in your code. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if someone can help

[2018-07-20 05:21] #25879 closed

[2018-07-20 05:31] pedrobaeza commented on #25872
But do you put as salesman each of the users? The requirement for this is to have the own salesman for restricting the sales orders.

[2018-07-20 06:45] aliencrash commented on #25879
The problem is in the framework not in my code.

[2018-07-20 06:50] zhafariirsyad opened #25884 "AttributeError: 'NoneType' object has no attribute ' '"
I'm From Indonesia, can you help me what should i do to fix the errors
I really need your help to solve my error when i klik button print report using QWEB in odoo 10
---------------------------------------------------------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/fai/odoo-10.0/addons/report/controllers/main.py", line

[2018-07-20 06:51] pedrobaeza commented on #25879
Then please indicate the steps to reproduce in standard core addons, not in your code.

[2018-07-20 06:52] pedrobaeza commented on #25884
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

You can make also a question on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (

[2018-07-20 06:52] #25884 closed

[2018-07-20 07:18] zhafariirsyad opened #25885 "How can i get the fields of models in odoo 10 using foreach"
I need an example syntax when you get the fields of models using foreach in odoo 10

[2018-07-20 07:24] pedrobaeza commented on #25885
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2018-07-20 07:24] #25885 closed

[2018-07-20 07:44] spookiecookie commented on #14955
Confirming that solution by Mr. bistaray (https://github.com/odoo/odoo/issues/14955#issuecomment-321898004) worked for me (odoo v10). Must define in context 'default_is_company': False and modify pop up form so that it contains 'is_company' field (can hide it with invisible='1' tough).

[2018-07-20 09:01] AjayViknesh opened #25892 "Warehouse is not changing in Quotation?"
I am new to odoo.

I created 3 warehouses "WH", "WH1", "WH2" and created a product "Demo" with qty only in warehouse "WH1".

When I order the product from the site the order is created but the warehouse is in default "WH" because of that I am not able to reserve the product or validate it.

How to change the warehouse dynamically based on the product, or is there any other method to achieve and re

[2018-07-20 09:31] jco-odoo commented on #25716
No, no plans.  In v10, the logic was real price valuation, in v11 it is fifo financial valuation.  Both are also different from financial fifo by warehouse also.

[2018-07-20 09:31] #25716 closed

[2018-07-20 10:51] ke-real commented on #25055
@gustavovalverde this is rather too "trivial", it's not FIFO :)

[2018-07-20 13:06] Yenthe666 commented on #25892
Hi @AjayViknesh,

Sorry but the Github issue tracker is only for issues in the official code, it is not the place to ask questions.
You can do this on the official help forum at help.odoo.com though!

Regards,
Yenthe

[2018-07-20 13:06] #25892 closed

[2018-07-20 14:45] deivislaya opened #25902 "[11.0] Ordering of lines in sales ordes"
**Impacted versions:**
11.0 ee

**Steps to reproduce:**

1.  Create or modify an A sales order with at least ten lines
2.  Create or modify an B sales order with at least ten lines
3.  Return to order A and enter new product lines

**Current behavior:**

The lines are added unordered, without following the sequence of the last product already added

**Expected behavior:**

Add lines of product fol

[2018-07-20 14:56] rim-odoo commented on #25876
No need to create a GH issue if you have a PR already ready :)

[2018-07-20 14:56] #25876 closed

[2018-07-20 15:00] SalahAdDin opened #25905 "[11.0] Missing dependencies in Web editor"
Impacted versions:
`Odoo 11.0-20180716 (Community Edition)`

Steps to reproduce:
Just open `Odoo`.

Current behavior:
Two missing dependencies avoid that the web editor module can be loaded.

Expected behavior:
Web editor module loading normally.

Video/Screenshot link (optional):
![problemaconodoo](https://user-images.githubusercontent.com/5034215/43009567-b34cb812-8c46-11e8-82cc-5f367c0d247c.png

[2018-07-20 15:35] zaoral commented on #25876
@rim-odoo thanks, got it

[2018-07-20 15:40] edsersolis commented on #25055
@wtaferner great! Very similar to what Odoo stated suggested to be done when asked through support. Except that `product.cost` should be used instead of `product.standard_price`

Thanks!

[2018-07-20 17:15] wtaferner commented on #25055
@edsersolis
You are right, I forgot that this is easily possible too as we have a date in hand.
So the computation must have been like that.

[code]

[2018-07-20 17:32] dansanti commented on #25872
I'm sorry, the module is  sale_expense.

yes, in sales, each order haves the correct salesman.

[('state', '=', 'sale')],  from Expense Employee can read confirmed SO Rule, each sale have this rule from sale_expense

[2018-07-21 03:01] sagardevlakhe commented on #19661
i also got this type of error. during Sales > Sales Order > Delivery > Validate Delivery

![image](https://user-images.githubusercontent.com/41436143/43031470-54156bba-8cc2-11e8-98e6-517fca7d45d6.png)

[2018-07-21 03:22] sagardevlakhe opened #25910 "urgent solution seeking"
Impacted versions: Odoo 11 EE

Steps to reproduce: Sales / Sales Order / Delivery  / Validate

Current behavior:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\http.py", line

[2018-07-21 05:32] my1649 commented on #9806
I know this is closed and solved, but found a better solution on Odoo forum.
[https://www.odoo.com/forum/help-1/question/how-to-recover-the-admin-password-107445]

_OR_

**More information for Docker**
Go to the DB container (not the Odoo container), login or bash into the terminal
[code]
Please be reminded to login with your '**_new_password_**' and change it right immediately. Its unencrypted.

[2018-07-21 10:11] pedrobaeza commented on #25910
We need more information for understanding the problem. Please try to reproduce the problem on runbot (https://runbot.odoo.com - admin/admin), and put here all the detailed steps to reproduce the problem and even screenshots/video.

[2018-07-21 11:29] zbik2607 opened #25911 "Invisible product variant cost"
Impacted versions: 11

Steps to reproduce:
See Form of product variant (porduct with many variants),
for example on https://demo3.odoo.com - Inventory/Products variants/[E-COM01] iPad Retina Display (White, 16 GB)

Current behavior:
Value of field is_product_variant = False

Expected behavior:
Product variant cost visible

PS. It would be good if cost should be visible in tree too.

[2018-07-21 14:43] pedrobaeza commented on #25905
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-07-21 14:43] #25905 closed

[2018-07-21 14:43] sagardevlakhe commented on #25910
i am sorry, i don't know how to user https://runbot.odoo.com but i can attach video and screen shot here. in this issue.. is it ok? or let me know how to use runbot.odoo.com, i tried to use.. but when i tried to sign in , it asks email and password and i put admin/admin .. but it is not working

[2018-07-21 14:43] #25910 closed

[2018-07-21 14:46] pedrobaeza commented on #25910
You have to put `admin` as login, and `admin` as password.

[2018-07-21 14:50] pedrobaeza commented on #17850
@seb-odoo maybe you know if this is still happening on new handle widget implementation, or it's a known issue.

[2018-07-21 14:52] pedrobaeza commented on #25902
Hi @deivislaya. This is a known issue from old handle widget implementation that can't be fixed in current version, but fortunately, this has been handled for the upcoming version 12 (with some little constraints) in https://github.com/odoo/odoo/pull/25483. Please check runbot in master branch to try out.

[2018-07-21 14:56] #25902 closed

[2018-07-21 15:00] pedrobaeza commented on #25911
`is_product_variant` is a technical field intended for specifying if the record is of type `product.template` or `product.product`, but it doesn't act as a pointer to say if there are variants, so there's no issue there.

About the cost, it's hidden by purpose due to the way it's designed.

[2018-07-21 15:00] #25911 closed

[2018-07-21 15:02] pedrobaeza commented on #25872
I still don't understand where do you see the Sales Order. Please put detailed steps for reproducing the problem, indicating each of the steps you perform.

[2018-07-21 21:20] blaggacao commented on #22002
Can anyone confirm the following observation:

- I duplicate PO A as `UID=1`. After validating it returns in about 1.5 sec
- I duplicate PO A as `UID!=1`. After validating it returns in about **70 sec**

[2018-07-21 22:06] blaggacao opened #25912 "Performance issue on PO confirmation as UID!=1"
**Impacted versions:**
v10, arround 4252cd70536 with some adaptions
I checked the code pieces and I deduce that later code bases, including v11 are also affected.

**Problem:**

- I duplicate PO A. After validating as `UID=1` it returns in about 1 sec
- I duplicate PO A. After validating as `UID!=1` it returns in about **70 sec**

**Analysis:**

The listed zips contain interactive tracing graphs f

[2018-07-21 23:10] blaggacao commented on #25912
Drilling down the profiling, I looged the `recompute` method as follows:

[code]

This resulted in this log (you can infer delay of individual rounds form the timestamp):
https://gist.github.com/blaggacao/5d7defca6ee328f37e4c4ccc99ace45c

[2018-07-21 23:46] blaggacao commented on #25912
**Addendum:**
decorating `ir.rule`'s `domain_get` (Question: why shouldn't we anyhow?) with `@ormcache('self.id', 'model_name', 'mode')` obviously reduced it down to some 6 seconds. But there is still some combinatoric explosion in the `recompute` which seems to recursively trigger dependent records (see logs)...

So the recomputing might be the root cause, whereas the the domain_get could probabl

[2018-07-22 00:11] blaggacao commented on #25912
**Addendum2:**

The recursivity comes from `_get_invoiced` compute, however instead of recomputing on a loop, wouldn't it be a ton more efficient to build a recompute graph and recompute adaptively (just in time) throughout the lifecycle of a transaction?

[2018-07-22 00:19] blaggacao commented on #25912
@yelizariev I know you might intellectually appreciate this issue... :)

[2018-07-22 00:20] Mahmoud-Alaa-Eldeen commented on #14678
This worked for me.
sudo service odoo stop
sudo service postgresql restart
sudo service odoo start

[2018-07-22 04:59] yelizariev commented on #25912
@blaggacao have you figured out why it recomputes the field in so many records instead of just new one?

[2018-07-22 08:23] vedler opened #25913 "Gamification models/challenge.py domain ValueError - missing field 'ids' in table gamification_goal"
Calling the function _get_serialized_challenge_lines with a non-empty restrict_goals gives a missing field ValueError ("ValueError: Invalid field 'ids' ..."). Tested with no custom modules installed and when refreshing a started challenge after changing it.

Linked the line where the domain append seems to have a typo in it, where the field being referenced is most likely intended to be 'id' inste

[2018-07-22 09:20] Yenthe666 commented on #25839
This has to be one of the best issues ever made. 😆

[2018-07-22 09:20] Yenthe666 commented on #25845
@ged-odoo I think this is for your team as it is dashboards related.

[2018-07-22 12:36] captainjapeng opened #25914 "POS Price button access rights not working properly"
Impacted versions:
Odoo 11

Steps to reproduce:
Setup two users, one with User role and the other with Manager
Login with the account with a User role, open a POS Session. Price button will be disabled
Switch the current cashier to the one with the Manager role. Price button should be enabled but still disabled.
Switch back to the User role and the Price button will be enabled.

Current behavior:

[2018-07-22 12:39] captainjapeng commented on #25914
Code with the problem:
_screen.js_ on the _point_of_sale_ module:
`this.pos.bind('change:cashier', this.applyAccessRights, this);`

When this code runs, `this.pos.get_cashier().role` still evaluates to the previous cashier.

[2018-07-23 01:50] diendang271 opened #25917 "[11.0] Sale Order: not select a customer first, price set to 0"
Impacted versions:
11.0
Steps to reproduce:
Sales > Quotation > Create > Add item to Order Lines
(Not select customer in advance, select customer after add item to order lines)
Current behavior:
Price set to 0
Expected behavior:
Product price is set correctly
Video/Screenshot link (optional):
[Price set to 0](https://prnt.sc/k9pd4g)
[Correct price of product](https://prnt.sc/k9pd9z)

[2018-07-23 04:49] dansanti commented on #25872
Following the steps I make a video, that happens when sale_expense module is installed:
https://dl.dropboxusercontent.com/s/oqyuo7nf322j8zv/out-18.ogv

in second video, if a internal user with no sale perms, can see orders:
https://dl.dropbox.com/s/wd4ztzzkfcclc9o/out-20.ogv

[2018-07-23 06:06] Yenthe666 commented on #25914
@pimodoo could you check please?

[2018-07-23 07:09] mart-e commented on #19661
@sagardevlakhe please open a new issue and and copy the _full_ error

[2018-07-23 08:41] seb-odoo commented on #17850
I don't know about this issue, I tried to reproduce it on master but it's working fine even without a default.

I have no idea about 10.0.

[2018-07-23 08:52] lap-odoo commented on #25055
Hello,

We're working on a solution for the 11.0. However, I'm not sure yet what we'll be able to achieve in stable. For AVCO and Standard, multiplying Qty by standard_price will work fine but for FIFO it's more complex as what we currently have is a financial FIFO (meaning we don't take into account the locations for the valuation, first value in = first value out, no matter from which location t

[2018-07-23 09:41] ke-real commented on #25055
@lap-odoo the pre-11 stock.valuation.history worked well for this use case and it can do it's job for version 11 if modified a bit. Of course it would be inventory FIFO, not financial FIFO as you mentioned (in my case we actually need first).
Another major change (read "problem") for multi-warehouse setup is that valuation only happens when leaving or enterin the company. Previously leaving or ent

[2018-07-23 11:06] lap-odoo commented on #25055
@ke-real For the transit locations, if you let the company_id field empty on the transit location, the products will be valued. This change allows to manage both use cases. Indeed, some users don't want the products to be considered as "out of stock" when they are only transiting between warehouses.

[2018-07-23 12:47] intero-chz commented on #25917
IIRC the price is computed by pricelists, even without activating them. Without a customer there is no pricelist set, so every line price will be zero. So maybe it is enough to just set a default pricelist on "virtual" creation of an order?

[2018-07-23 12:57] intero-chz commented on #25839
Maybe he identifies as female!? Or Arthur is just a female first name in other cultures? (Beware of sarcasm ;-))

[2018-07-23 13:45] #25652 closed

[2018-07-23 14:01] CarlijnPeeters opened #25924 "Odoo website background pictures"
Hi,

I have build a website with the websitebuilder from Odoo. However, an annoying bug seems to appear. When I place a backgroundpicture on the homepage, which is the first thing people will see, it looks all fine on my laptop. However, when I look at the website with a bigger size computer screen, the picture doesn't fully fit anymore even though both screens are set at 100%. Next to that, I cli

[2018-07-23 14:45] SalahAdDin opened #25928 "[11.0][mrp_repair] Missing widget: kanban_label_selection for field state of type selection"
Impacted versions:
`Odoo 11.0-20180723 (Community Edition)`

Steps to reproduce:

1. Install Repair module
2. Go to the module's panel

Current behavior:
Browser's console gives me the next warning message: `Missing widget:  kanban_label_selection  for field state of type selection`.

Expected behavior:
No warning messages.

Video/Screenshot link (optional):
![mensajeadvertenciareparacion](https:/

[2018-07-23 15:01] hmen89 commented on #25928
Module web_kanban is missing.

https://github.com/odoo-dev/odoo/blob/c91f40ba76e5cb56c12d824d6cc4df6474a6339c/addons/web_kanban/static/src/js/kanban_widgets.js#L283

This module adds the widget and it does not exist on 11.0

[2018-07-23 15:20] sswapnesh commented on #25917
I can confirm this Behaviour.
In v8 We have to select Customer first
https://github.com/odoo/odoo/blob/8.0/addons/sale/sale.py#L1121

[code]

[2018-07-23 15:43] Yenthe666 commented on #25917
I think that warning was removed because it was blocking the user quite a bit. @mart-e can you verify please?

[2018-07-23 15:58] captainjapeng commented on #25914
I was trying to replicate this functionality to the other buttons and found out this issue. Solved it by adding a `setTimeout` as the callback before calling the real function.

[2018-07-23 18:15] MariaGamez opened #25931 "Facturación"
Me sale este error al intentar imprimir facturas, no con todas solo con algunas.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/ir/ir_qweb/qweb.py", line 341, in _compiled_fn
    return compiled(self, append, new, options, log)
  File "<template>", line 1, in template_account_report_invoice_document_with_payments_1909
  File "<

[2018-07-23 19:23] blaggacao commented on #25912
OPW: 1868698

[2018-07-23 23:30] dansanti opened #25932 "[11.0]Sale order group order by month, group by date_order not date_confirmation"
Impacted versions:
11.0

Steps to reproduce:
1.- Create a database with demo activated
2.- install sale manager
3.- go to sales
4.- click on orders

Current behavior:

Orders is grouping by date_order ( same quotations) and confuse  when is grouping in orders

Expected behavior:

in menu orders, group by date_confirmation

Video/Screenshot link (optional):

<img src="https://dl.dropbox.com/s/edad3

[2018-07-24 05:12] mga-odoo commented on #18956
It has been already done in master, so will be coming in v12 l10n_in

[2018-07-24 07:36] mart-e commented on #25917
I guess so, was removed at 0af4da6ab5dcf8144b63a5bce8595c6663949c85
Setting a default pricelist is probably a good idea to avoid that but we need to make sure it is still the one of the customer that takes the precedence. What do you think @tde-banana-odoo?

[2018-07-24 07:47] SalahAdDin opened #25936 "[11.0][website_sale] Missing widget: checkbox for field group_website_multiimage of type boolean"
Impacted versions:
`Odoo 11.0-20180723 (Community Edition)`

Steps to reproduce:

1. Install eCommerce module
2. Go to the Settings panel

Current behavior:
Browser's console gives me the next warning message: `Missing widget:  checkbox  for field group_website_multiimage of type boolean`.

Expected behavior:
No warning messages.

Video/Screenshot link (optional):
![mismoproblemaconwebsale](https:

[2018-07-24 07:57] ahetland opened #25938 "Remove forward slash on account move line of posted invoices (inn and out)"
Impacted versions: 9, 10, 11

Steps to reproduce: create an inn and an out invoice, the first account move line posted will have a forward slash as text in the "label" field (account_move_line.name).

Current behavior: forward slash "/" is used as entry text

Expected behavior: more useful text... for invoice-out the internally generated invoice number (sequence number) for invoice-inn (supplier i

[2018-07-24 07:58] ahetland commented on #25938
A forward slash is not very helpful information for the accountant, this could hence be improved.

[2018-07-24 09:43] floraXiao opened #25942 "odoo12e(runbot)build351550:when install module purchase and stock,it will make some error"
Impacted versions:

Steps to reproduce:
install purchase module.
then install stock module, it will give me an error:
![image](https://user-images.githubusercontent.com/13793204/43130217-c7805a62-8f68-11e8-9a80-90ad555a93c7.png)
last, I install stock module again, it success.But, when I click on the product menu, it pop up an error:
![image](https://user-images.githubusercontent.com/13793204/43130

[2018-07-24 12:52] allshore-ahsan commented on #19627
I had the same issue but @ged-odoo  you saved me. Thanks for help, deleting all /web/content attachments works.

[2018-07-24 13:02] blaggacao commented on #25912
@sle-odoo Sorry, I wouldn't bother if it was not a pressing issue. What would really be helpful is to get an idea what additional analysis might be needed conducting and maybe some tips on how to do that.

[2018-07-24 14:14] sle-odoo commented on #25055
Hello,
Would a patch like [this one](https://github.com/odoo-dev/odoo/commit/abce926f7117bcddd30aa7622d860d00f82cc1d0) help you?
The branch is testable in the runbot under the name "11.0-stock-account-by-location-sle".

Regards

[2018-07-24 14:19] zbik2607 commented on #25911
See this commit: https://github.com/odoo/odoo/commit/7e724f96c55815728d478a889ff5f1a0314dcc16#diff-7525de0c57e690342ed3108fc9dcc8c2

and this code in product_template_form_view:
`<label for="standard_price" groups="base.group_user" attrs="{'invisible': [('product_variant_count', '&gt;', 1), ('is_product_variant', '=', False)]}"/>`

In this code, in last my branch,  value is_product_variant is alwa

[2018-07-24 14:56] moylop260 commented on #25931
cc @luistorresm

[2018-07-24 15:02] luistorresm commented on #25931
Hola @MariaGamez

Pudieras por favor proporcionarme un video donde muestres la configuración del partner de una de las facturas que te da el error? Especificamente el idioma,

Y más información de los SHA que tienes en tu servidor?

Saludos

[2018-07-24 15:11] MariaGamez commented on #25931
![aadvgsdg](https://user-images.githubusercontent.com/41591368/43147948-1ce93c4e-8f19-11e8-8cee-3e38b6321b6f.png)

[2018-07-24 15:42] BT-nfrancisco opened #25953 "Customers statements history in UTC"
Impacted versions: 10.0

**Steps to reproduce**: Create an invoice for a company and set as a date some months ago, add a product and validate it. Go to Accounting->Sales->Customers Statements and you should see the previous company with an unpaid invoice. Log a note. Refresh the screen and click in history. The time shown in the history is in UTC, regardless what you have in your settings.

**Cur

[2018-07-24 16:11] robinhli opened #25954 "Update on hand quantity for the new product show error "The cost of the product P is currently equal to 0. Change the cost or the configuration of your product to avoid an incorrect valuation""
Impacted versions: 11.0

Steps to reproduce: setup a new product, with no product variant. setup the product category inventory valuation as "Automated", Costing Method as "Standard Price"

Current behavior: update the onhand quantity. it prompts  "The cost of XXX is currently equal to 0. Change the cost or the configuration of your product to avoid an incorrect valuation. "

Expected behavior: ca

[2018-07-24 16:38] bhanukiran6688 commented on #25652
@KangOl ,
After your commit, If correct credentials are passed it works fine, but if I pass wrong credentials i get the below mentioned error,
[code]

I found the solution also:
If uid is there then we should refresh request environment otherwise not.
So the correct code will be:
[code]

[2018-07-24 16:54] carlosecv commented on #23354
Odoo:	Ubuntu 16.04.2 LTS
                 8GB RAM
PostgreSQL: Ubuntu 16.04.2 LTS
                16 GB RAM

[2018-07-24 17:03] aelmanaa opened #25955 "[Odoo version 11.0-20180710] Database filter doesn't filter out databases"
Impacted versions:
Odoo version 11.0-20180710
Steps to reproduce:
Prerequisites:

- Use the docker version of Odoo: library/odoo:11

- Ensure that you have several databases. "test" is one of them

- Use the following configuration:

`[options]
addons_path = /mnt/extra-addons
data_dir = /var/lib/odoo
proxy_mode = True
dbfilter = ^test$
debug_mode = True
list_db = False
log_db = True
log_handler =

[2018-07-24 17:05] sswapnesh commented on #25953
Did you configured Timezone in User's preference ?

[2018-07-24 17:16] sswapnesh opened #25956 "[11.0] Removing 'Group By' from Kanban view doesn't work"
Impacted versions: 11.0

Steps to reproduce: Tested on Kanban view of Customer Invoices
Add `Group By` in List View
![n1](https://user-images.githubusercontent.com/16624719/43154819-4710141e-8f93-11e8-9ca1-45cf4a1b7483.png)
Switch to Kanban
![n2](https://user-images.githubusercontent.com/16624719/43154814-44c26ff4-8f93-11e8-97c6-684ee8530326.png)

Current behavior:
Still `Group By` is applied
![n3

[2018-07-24 17:30] sswapnesh opened #25957 "[11.0] Uncaught TypeError: Cannot read property 'constructor' of undefined"
Impacted versions: 11.0

Steps to reproduce: Tested on Kanban view of Customer Invoices
'Group By' Status --> Add New Record
![n21](https://user-images.githubusercontent.com/16624719/43155283-98b10638-8f94-11e8-9d65-6ec0fdc74418.png)
![n22](https://user-images.githubusercontent.com/16624719/43155285-99ae27dc-8f94-11e8-9b9e-cdd7be1e3a3f.png)

Current behavior:
Select Vendor
![n23](https://user-imag

[2018-07-24 17:30] sswapnesh commented on #25957
Edit:
It should open form view of Customer Invoice not Supplier Invoice

[2018-07-25 01:22] robinhli commented on #25954
Even I created a PO, then validate the WH/IN/xxxx, it show same prompt. How can I get the throught?
I go through this step by step with debug mode, but I still can't find why the cost is 0, and how/where can I setup the cost to non-zero?

Thanks

[2018-07-25 08:11] alyngsoe commented on #20498
@lap-odoo what is the status of this project - anything ready for testing for "non-coders" ?

[2018-07-25 08:18] BT-nfrancisco commented on #25953
The time shown in the history is in UTC, regardless what timezone you have selected in your settings.

[2018-07-25 08:24] Yenthe666 commented on #25931
Hi guys,

This report is really missing info, reproducable steps and its not in English.
Please make a new bug report in English with clear information.

[2018-07-25 08:24] #25931 closed

[2018-07-25 08:29] Yenthe666 commented on #25942
Hi @floraXiao,

Thanks a lot for the report. I assume it is for Odoo 11?
@mart-e this seems to be language related judging by the `ValueError` in the traceback.

[2018-07-25 08:30] Yenthe666 commented on #25938
Hi @ahetland,

I don't really see the problem in this honestly. Why would you want it to be removed/changed?
CC @qdp-odoo I assume that you really don't want to change this, right?

[2018-07-25 08:31] Yenthe666 commented on #25936
@JKE-be could you or somebody from your team check please?

[2018-07-25 08:32] Yenthe666 commented on #25932
Hi @dansanti,

Thanks a lot for the report.
I'm not sure if I get you. Do you mean that it is confusing that the dates shown are the "Order date" while it groups on another date field or?

[2018-07-25 08:32] #19445 closed

[2018-07-25 08:33] mart-e commented on #25942
Seeing the traceback I would say is master.
@floraXiao Please give exact steps to reproduce your problem it on a stable version. If you have changed some settings (like changed the language) please explain.

[2018-07-25 08:34] Yenthe666 commented on #25494
Hi there,

I'm closing this issue as there has been no feedback/extra info for this issue.
Don't hesitate to add more info or open a new issue with more information.

[2018-07-25 08:34] #25494 closed

[2018-07-25 08:35] #25538 closed

[2018-07-25 09:53] floraXiao commented on #25942
Hi @mart-e ,
yes, the version is odoo 12(master), I reproduce the problem just now.  the build number is 351851. Firstly, I load Chinese translation and change the language to Chinese because I am Chinese. Then I install purchase module and stock module, I meet an error like I said. I guess something went wrong with the module purchase_stock.
![image](https://user-images.githubusercontent.com/1379

[2018-07-25 10:09] Yenthe666 commented on #10239
Hi there,

This no longer seems to be the case/reproducable so I'm closing it off.
Don't hesitate to respond if you can still reproduce it!

Regards,
Yenthe

[2018-07-25 10:09] #10239 closed

[2018-07-25 10:10] Yenthe666 commented on #25827
Hi @dansanti,

Thanks a lot for the feedback, I think this would be a neat improvement.
@tde-banana-odoo could you have a look please?

[2018-07-25 10:11] Yenthe666 commented on #25795
@JKE-be can one of the guys from your team check it please?

[2018-07-25 10:13] nhomar commented on #25931
@MariaGamez Can you share pliz the enterprise code and a proper Issue in odoo.com? the support of this modules is only under enterprise.

BTW, remember try to put issues here (which are valid) in english.

Regards.

[2018-07-25 10:14] nhomar commented on #25931
I meant Enterprise Issue in odoo.com (not the code)

[2018-07-25 10:17] dansanti commented on #25932
Hi!
 When you click on quotation's links and click on 'Order month' group,  expect see groups by order_date.  When you click on order's link and click on 'Order month' group, expect  group by confirmation_date,

because, if you see on image, tree display confirmation _date, and label of group mismatch to it

[2018-07-25 10:56] Yenthe666 commented on #25932
@nim-odoo could you have a look please?

[2018-07-25 11:44] fmdl opened #25967 "[PERF] How we can help you to improve the performance of Odoo ?"
Hi @odony @rco-odoo @nim-odoo
Last month I have make some differente issues/PR about the performance of Odoo. I have the impression that it remains a dead letter.

I give you some improvements, some cases where the performance is not at hand, I'm ready to help you, but it seems that this is not the priority. This is a shame because I have customers who are not happy with the performance, while ove

[2018-07-25 11:46] HaraldPanten opened #25969 "[11.0] TypeError: __init__() missing 2 required positional arguments: 'model' and 'dotnames' when creating a purchase order"
Impacted versions: Odoo V11 Community and Enterprise

Steps to reproduce: Just create a Request for Quotation in purchase management module, select a supplier and then add a new order line.

Current behavior: An error is shown.

Expected behavior: It should let the user create several order lines.

Video/Screenshot link (optional): No Screenshot

This is the error message:

`Error:
Odoo Server Err

[2018-07-25 12:03] Yenthe666 commented on #25969
Hi @HaraldPanten,

Thanks a lot for your bug report. I've just tested this and I can confirm this is indeed a bug in the 11.0 stable:
![image](https://user-images.githubusercontent.com/6352350/43199790-75ee1bc0-9013-11e8-9a1b-3820fa0bc3c0.png)

@mart-e, @nim-odoo or @sle-odoo can one of you resolve this one? Its a very quick one to get.

[2018-07-25 12:06] Yenthe666 commented on #25967
@nseinlet as it is about performance I think you might like this topic too.

[2018-07-25 12:33] nle-odoo commented on #25969
Hi @Yenthe666

We are testing this fix https://github.com/odoo-dev/odoo/commit/53c1b0179

[2018-07-25 12:52] Yenthe666 commented on #25969
Thanks a lot for the quick feedback, happy to hear that.

[2018-07-25 13:34] odony commented on #25967
@fmdl Performance issues are very tricky. Each case requires a careful analysis of the root cause, and the evaluation of possible options.

We are even more careful with performance improvements than with real bugs, because they are often risky changes that can compromise the stability of our product. And when it happens it impacts all the other users who did not even suffer from the performance p

[2018-07-25 14:58] HaraldPanten commented on #25969
Perfect,

Thank you!

[2018-07-25 15:55] mreficent commented on #25839
The PR can be closed, as Arthur Gomez has disappeared from the master demo data.

[2018-07-25 16:00] Yenthe666 commented on #25839
Poor Arthur 😢

[2018-07-25 16:00] #25839 closed

[2018-07-25 16:01] Yenthe666 commented on #25969
Yep, works fine again!

[2018-07-25 16:05] david-th opened #25976 "Duplicated reception not linked to purchase order"
**Impacted versions:** 11EE

**Steps to reproduce:**
1. validate purchase order
2. go to shipment
3. duplicate shipment
4. go back to purchase order

**Current behavior:**
duplicated shipment is created
duplicated shipment is not accessible via purchase order.

**Expected behavior:**
duplicated shipment is linked to purchase order and can be seen via button "shipments"
Should be working exactly as

[2018-07-25 18:23] odony commented on #25967
To illustrate this, your PR #23755 that we previously discussed has been improved and the patch was merged yesterday in master: fd9de4dcc2e762a43b5d0eef97075804b8dc32f9

[2018-07-25 18:38] odony commented on #25967
By the way, we really appreciate that you are working on these difficult performance issues and that you are taking the time to propose POC patches and creative ideas. Thanks a lot for that, it's awesome! :-)

Just keep in mind that these are difficult issues to fix, patches are hard to verify thoroughly (side-effects!), so please bear with us and be patient, for all the reasons explained before.

[2018-07-25 20:51] blaggacao commented on #25912
I added profiling3.zip in the initial posting with the a single notorious stock_move create.

[2018-07-25 20:53] fmdl commented on #25967
Thank for your reply. I do not ask to solve everything quickly, but more to have a vision on your part of how you plan to improve this in the long term.
One last note, the understanding of the management of the cache on Odoo is rather difficult / complex (shared between `model.py`, `fields.py` and `api.py`), could not one group together the functioning of the cache (`creation`, `reading` , `erase`

[2018-07-25 20:54] blaggacao commented on #25912
@rco-odoo Maybe, meanwhile, you could confirm if my half-the-way workaround of https://github.com/odoo/odoo/issues/25912#issuecomment-406830452 is meanwhile safe to deploy?

[2018-07-25 21:54] blaggacao commented on #25912
I obtained a more usefull loggin format (already with https://github.com/odoo/odoo/issues/25912#issuecomment-406830452 applied, so timestampsa re not more notorious):
[code]

[Formatted Logs of this warning](https://gist.github.com/blaggacao/5d7defca6ee328f37e4c4ccc99ace45c#file-better-logging)

[2018-07-25 23:09] gustavovalverde commented on #25055
@sle-odoo could you make it available to log-in? http://runbot.odoo.com/runbot/repo/git-github-com-odoo-dev-odoo-2?search=11.0-stock-account-by-location

[2018-07-25 23:13] blaggacao commented on #25912
Found the issue: Fatal `create` during `for` loop: https://github.com/odoo/odoo/blob/4b9d6387b82395721f7c01148acb0963a221abbf/addons/purchase/models/purchase.py#L750

PR to come...

[2018-07-25 23:33] gustavovalverde opened #25977 "[All] product_pricelist: New products can't benefit from standard_price with FIFO valuation"
### Impacted versions:
All

### Steps to reproduce:
- Create the **New Product**, set a cost of $100 in the product template.
- Create a RFQ with the **New Product** (the supplier changes the price to $150 before receiving)
- Receive the New Product
- Add a landed costs of $50
- Add this New Product to the _Standard Pricelist_, with `base` based on `standard_price` an a margin of %100 (`-100`)
- A

[2018-07-25 23:34] gustavovalverde commented on #25977
Maybe using the `stock_value` instead of the standard_price could be a solution for this one.

[2018-07-25 23:35] blaggacao commented on #25912
Anybody has an idea how to parse (regex) the whole odoo codebase to check for writes and creates within for loops?

[2018-07-25 23:38] moylop260 commented on #25912
Use rgrep

E.G.
rgrep “def create\|def write” odoo-path --include=*.py -A10 | grep “ for “ -B10

Or something similar

[2018-07-26 01:15] AndresLincango opened #25979 "Error trying to render rows when having pseudo id's"
Impacted versions:
Odoo V11.0

Steps to reproduce:
If you create new rows for any many2many fields will cause an error, because this method returns the Pseudo-ids for new records on string format and the method to render row tries to parse the pseudo Id string into integer.

Current behavior:
The method to render row tries to parse the pseudo Id string into integer

Expected behavior:
To return th

[2018-07-26 01:43] jlopezg opened #25981 "[ALL] product: Product Variant PriceList functionality is not working properly"
**Impacted versions:**
All

**Steps to reproduce:**
Create a product with many variants
Create a Pricelist and its pricelist item applied on any product variant just created

**Current behavior:**
Pricelist item is not loaded on variant nor product template pricelist items.

**Expected behavior:**
If a pricelist item is created applied on a product variant, it should:
- Be loaded on that variant p

[2018-07-26 06:13] Yenthe666 commented on #25976
Hi @david-th,

Thanks a lot for your report, I believe this should indeed work.
Why don't you report it through odoo.com/help with your official enterprise license?
@sle-odoo this looks like one for you though.

Regards,
Yenthe

[2018-07-26 06:23] emeraldgodly opened #25983 "Incomplete view of Odoo 8 server Page"
Impacted versions:

Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
![screenshot-localhost-8072-2018 07 26-10-46-55](https://user-images.githubusercontent.com/39094405/43244970-4300cbec-90ca-11e8-8f76-2f82d5df9dc9.png)

Any solution to resolve it..

thank you,
Emerald Godly John.

[2018-07-26 07:23] robinhli commented on #22060
I tried this, and it works. but don't know if there are any other issue.

    _rec_name = 'display_complete_name'

    @api.depends('name', 'parent_id.complete_name')
    def _compute_display_complete_name(self):
        for category in self:
            if category.parent_id:
                category.display_complete_name = '%s / %s' % (category.parent_id.display_complete_name, self.env['ir.trans

[2018-07-26 07:38] lap-odoo commented on #25055
@gustavovalverde I've just launched a rebuild, should be available in +/- 1hr (admin, admin to connect)

[2018-07-26 08:54] david-th commented on #25976
Hi @Yenthe666

I reported it:
_Task - Duplicated reception not linked to purchase order_ (#1869464)

Regards David

[2018-07-26 09:02] Yenthe666 commented on #25976
Thanks a lot @david-th 👍

[2018-07-26 11:51] mluchkin opened #25987 "error delegation from res.users model"
Hello Developers !
Odoo - 10.0

I have model with _inherits = {'res.users': 'user'}

[code]

On create record with this model all fine

if i change phone or email in record i have error :

[code]

`bad query: UPDATE "res_users" SET "write_uid"=1,"write_date"=(now() at time zone 'UTC') WHERE id IN ('odoo')`

Why does this error occur?

[2018-07-26 11:57] Patrickar opened #25988 "Portal user is able to see other project not intended for him/her - Odoo 11 EE"
Impacted versions:
Version 11 EE

Steps to reproduce:
1. Invite customer to be portal user
2. Log in as user in the portal
3. Click on my account
4. click on tasks
5. click on filter

Current behavior:
When clicking on filter, the customer is able to see also other projects done for other customers (image1). The projects that are visible are the projects with the setting: "visible by following cus

[2018-07-26 12:57] lap-odoo commented on #20498
@alyngsoe The project has been taken back by my colleague @avw-odoo

[2018-07-26 13:53] #25955 closed

[2018-07-26 13:54] aelmanaa commented on #25955
sorry issue not with odoo docker. i'm using kubernetes to load the configuration

[2018-07-26 13:54] blaggacao commented on #25967
For reference (create ina for loop): #25912

[2018-07-26 13:58] Gokulakannanaj opened #25995 "Performance Issues"
Impacted versions:
11.0
Greetings !
I'm using Odoo from version 10.0. In initial stage preferred PostgreSQL queries. After I preferred ORM.
Now i'm deleting 2000 records using ORM it's very slower taking 5 minutes to delete the 2000 records.
But using postgreSQL queries it take the 2 to 3 seconds.
Which is better either ORM or directly handing Queries.
Thanks and Sorry for my Poor Communication.

[2018-07-26 13:59] harmancasvi commented on #8170
Hi everyone! Since I prefer using curl, [this site](https://linuxize.com/) provides a [dedicated post](https://linuxize.com/post/how-to-setup-automatic-odoo-backup/) to Odoo backup and restore via CLI :)

Just in case -_so you don't have to go to the actual site_- here's the relevant code for backing up:
`curl -X POST -F 'master_pwd=ADMIN_PASSWORD' -F 'name=DB_NAME' -F 'backup_format=zip' -o /back

[2018-07-26 14:12] blaggacao commented on #25912
@moylop260 Thank you for the advice!

[2018-07-26 14:33] Yenthe666 commented on #25995
Hi @Gokulakannanaj,

Ofcourse a direct query is faster. It doesn't go through the Odoo ORM and there are no validations/check which Odoo provide by default.
In short: direct queries are much faster but there are no safety checks on anything so you have to be careful. The ORM is great at validations, checks and domains.

[2018-07-26 14:33] #25995 closed

[2018-07-26 14:37] mart-e commented on #25942
Thank you for the report. I confirm the bug, it was fixed in saas-11.4 at 424e50121b5, it will soon be ported to master.
Please keep in mind that the master is not a stable branch, things _will_ be broken. No need to report issues for this branch.
Thank you to report issues on the stable branches instead.

[2018-07-26 14:37] #25942 closed

[2018-07-26 15:59] Gokulakannanaj opened #25999 "No options to remove create and edit"
Impacted versions:
11.0

In Odoo 10.0 removing create and edit from calendar sidebar attendees (Many2one) available.
But 11.0 will not support removing create and edit from many2one field.

![screenshot from 2018-07-27 10-07-14](https://user-images.githubusercontent.com/41570711/43301799-e8d22786-9184-11e8-9e88-2e2bb6d6e95b.png)

[2018-07-26 16:47] gustavovalverde commented on #25290
@simongoffin I'm still experiencing this behavior. I can only go through it if I set a value to the 'standard_price' in the product template of the finalized product, otherwise it will complain that the product has no cost.

Just to be clear, it seems like https://github.com/odoo/odoo/commit/eb2f104e441677e9f8b39e20ab99cf373d5c7c5c its fixing an issue coming from the 'raw materials'. This is happe

[2018-07-26 17:25] alxolivares opened #26000 "[11.0] Error changing the field name of a custom field created using Odoo Studio"
Impacted versions:
11.0 EE

Steps to reproduce:
1. Go to Contacts and select an existing contact to open the form view.
2. Click on toggle studio then add a new One2many field.
3. Select **Account Holder (res.partner.bank)** as related field and confirm.
4. After creating the field, click on it, remove it from the view and close studio.
5. Go to Settings > Technical > Models, search for res.partne

[2018-07-26 18:04] OGGonzalezM commented on #26000
I think this is a wrong use of Odoo Studio, remember that the xml code is
not deleted is only placed in invisible attribute, have you remove the code
of that field??

2018-07-26 12:26 GMT-05:00 Alexander Olivares <notifications@github.com>:

--
Oscar González Martínez
Soluciones4G
Odoo Silver Partner

[2018-07-26 18:14] alxolivares commented on #26000
When you try to rename a field that is present in the view you get the following message:
[code]
That's the reason why in the use case I remove it from the view first.

[2018-07-26 18:21] OGGonzalezM commented on #26000
yes, i know, Have you remove the code in the Odoo Studio Inherit view??

It could solve your problem

2018-07-26 13:15 GMT-05:00 Alexander Olivares <notifications@github.com>:

--
Oscar González Martínez
Soluciones4G
Odoo Silver Partner

[2018-07-26 18:35] alxolivares commented on #26000
Yes, I removed the code in the inherited view and I also did a test deactivating the view.

As an additional comment, I realized the same process as described above but using a Many2one instead of One2many and it worked as expected.

[2018-07-26 18:50] OGGonzalezM commented on #26000
I see, the relational field in the other model still exist?? so i mean for a O2m relation you need a M2n in the other model. If you removed it this would be the problem.

That's why i prefer to develop modules. Odoo studio is a little complicated to control errors or relation issues.

[2018-07-26 19:06] alxolivares commented on #26000
Yes, of course, res.partner.bank model have a many2one field wich object relation is res.partner, that's why when you create the new One2many field using Odoo Studio you can choose **Account Holder (res.partner.bank)** as related field.

I can develop the new module in the traditional way, but in this case, I was trying to develop a new application from scratch to see how many benefits it could br

[2018-07-26 20:00] blaggacao opened #26001 "Performance issue opening POS session as UID!=1"
**Impacted versions:**
v10, arround 4252cd70536 with some adaptions

**Problem:**

- Open a (single) POS Session view as `UID=1` it returns in about 4 sec
- Open a (single) POS Session view as `UID!=1` it returns in about **51 sec**

**Analysis:**
[profiling4.zip](https://github.com/odoo/odoo/files/2233389/profiling4.zip)
As with related issues (section "see also", item B), the graph shows that th

[2018-07-26 20:17] celm1990 commented on #21067
@MaxyMoos  Thanks so much, tested on runbot and work when enter the full date.

![image](https://user-images.githubusercontent.com/7775116/43286048-7723b0e4-90e6-11e8-9ac9-363b40ff584a.png)

@Yenthe666 On  Version <= 9 is not need enter the full date, is not a bug???

![image](https://user-images.githubusercontent.com/7775116/43286189-e3f6e4de-90e6-11e8-827e-727370e9f858.png)

[2018-07-26 21:53] Flohack74 opened #26002 "Odoo eats 100% CPU, wakes up every second"
Impacted versions:
11.0-20180530

Steps to reproduce:
Start odoo-server

Current behavior:
Constant activity in the log file, 100% CPU load on the server.

Expected behavior:
This is a test instance, no one is accessing it. The load should be close to 0%.

Log file is just logging this every second:
[code]

[2018-07-26 23:39] JulioSerna opened #26003 "Procurement Buy/Manufacture from sale order does not cancel source document"
Impacted versions:
* 11.0

Steps to reproduce:
* Create product A with route **Buy**
* Create product B with route **Manufacture**
* Create sale order with sale order line with **Make to Order** and product A
* Create in the same sale order another sale order linea with **Make to Order** and product B
* Validate sale order
* Cancel sale order

Current behavior:
**After confirm sale order**
sale or

[2018-07-27 00:18] nhomar commented on #26003
@JulioSerna can you link the OPW please? and check when this started to happen? because AFAICR this was working fine few weeks ago.

[2018-07-27 03:00] floraXiao commented on #25942
Thanks a lot, the problem is fixed.

[2018-07-27 03:25] miteshsa-onnet opened #26004 "Bug in purchase order line related "state" field (it should be store=True) [Typo in file there is stored=True]"
Impacted versions: 9.0

Steps to reproduce: Add view for "purchase order line" and try to group by state.

Current behavior: KeyError: u'state'

Expected behavior: it should be able to group by.

Video/Screenshot link (optional):

[2018-07-27 03:31] mpr-onnet opened #26006 "Wrong Warning Message in Purchase module"
Impacted versions: 9.0

Steps to reproduce:
1. Create Purchase Order for service Item.
2. Add two service type Item in PO line.
3. Create vendor bill for first PO line.
4. Go back to Purchase order and click on Cancel Button.
5. See the warning message.

Current behavior: - warning message string was wrong.
"Unable to cancel this purchase order.**i You** must first cancel related vendor bills."

E

[2018-07-27 03:46] xiliaolong commented on #12001
It working,thanks.

[2018-07-27 05:34] #25999 closed

[2018-07-27 05:36] Gokulakannanaj commented on #25999
Below link is much more helpful to me.
https://github.com/odoo/odoo/pull/25256/files

Thanks a lot.

[2018-07-27 05:43] noellalaina commented on #18669
Hi,
What is your solution because I have same issue ?

Thanks

[2018-07-27 06:38] pedrobaeza commented on #26002
It seems you are using workers and a very low memory limit (maybe the default one). Check that parameters.

[2018-07-27 09:29] sergeiruzkiicode opened #26015 "Mass mailind cron non latin domain search in relational fields"
Impacted versions:
11.0e
Steps to reproduce:
User has set language as russian.
Add mass mailind with domain like
`["|","|","|","|","|","|","|","|","|","|","|","|","|","|","|","|","|","|",["country_id","=","Польша"],["country_id","=","Латвия"],["country_id","=","Литва"],["country_id","=","Израиль"],["country_id","=","Эстония"],["country_id","=","Бельгия"],["country_id","=","Франция"],["country_id",

[2018-07-27 09:51] Linekio opened #26017 "[11.0] Calendar : +n more button is'nt translatable"
Impacted versions:
11
Steps to reproduce:
Choose a language other than english and create 4  events on same day
Current behavior:
Button "+2 more"
Expected behavior:
Something in the language
(the more button isn't in translation files)
Video/Screenshot link (optional):
![capture du 2018-07-27 11-27-42](https://user-images.githubusercontent.com/25034353/43314466-47ac3e82-9193-11e8-90e1-78b4e582789

[2018-07-27 10:51] igallart opened #26018 "[10.0][IMP][FIX] account: Precision in field base from tab Other info"
Hi, I think that the precision in
![imagen](https://user-images.githubusercontent.com/13520529/43316677-536c21d6-919a-11e8-9da8-12b85a91459e.png)
tab other info, table taxes, field base it should be rounded. In some very strange case with more precision, 4 or more decimals, the field is different to total Tax from account.

In
[code]
line  self.amount_tax = sum(round_curr(line.amount) for line in

[2018-07-27 12:17] jlaloux opened #26021 "[9.0] JS Error when using advanced filter on float fields in Firefox Quantum"
Impacted versions: 9.0

Steps to reproduce:
- Install firefox quantum
- Go on Odoo
- Go in advanced filter in a list view.
- Select a Float/integer field
- Try to enter an amount using your keyboard

Current behavior: A JS Error is displayed

Expected behavior: No JS error

Video/Screenshot link (optional): https://youtu.be/c5lm67DN4kc

[2018-07-27 13:17] jlaloux opened #26023 "[9.0] JS Error when refreshing view on a mail.mail record in Firefox Quantum"
Impacted versions: 9.0

Steps to reproduce:
- Install firefox quantum
- Go on Odoo
- In setting, go in mail.mail view
- Create a record and after creation simply refresh your page

Current behavior: A JS Error is displayed

Expected behavior: No JS error

Video/Screenshot link (optional): https://youtu.be/uMCp9b6hsrU

[2018-07-27 15:48] nle-odoo commented on #25840
Hi @newodoo

This should be solved in 9.0 with https://github.com/odoo/odoo/commit/cb2a3afa7e0

To have the solution available in 11.0, you have to wait for forward-port from 9.0 to 11.0 (the last one was 2 days ago) that should be done at the latest in one week, and once it is in 11.0 the installation bundles should be updated the day after.

Regards.

[2018-07-27 15:49] nle-odoo commented on #17093
Hi @nmeen

This should be solved in 9.0 with https://github.com/odoo/odoo/commit/cb2a3afa7e0

To have the solution available in 10.0, you have to wait for forward-port from 9.0 to 10.0 (the last one was 2 days ago) that should be done at the latest in one week, and once it is in 10.0 the installation bundles should be updated the day after.

Regards.

[2018-07-27 17:20] sswapnesh opened #26026 "[11.0] RecursionError: maximum recursion depth exceeded on Pricelist miss-configuration"
Impacted versions: 11.0  (Probably all)

Steps to reproduce: Create Pricelist A Depends on B
Edit Pricelist B and make it depends on A
![p2](https://user-images.githubusercontent.com/16624719/43336202-23358738-91ee-11e8-9154-32c44ae465a0.png)

![](https://image.prntscr.com/image/3tM4fnD8Thu_VTF8JIsCKg.png)

Assign it to Customer (or Calculate Price using it)
Current behaviour:
In Quotation
![p3](h

[2018-07-27 17:35] sswapnesh commented on #25078
Hello @Elkasitu
Uninstalling Website still blocks Settings.

![](https://image.prntscr.com/image/b4LXTx7eTzOwThnFtXpOEg.png)
`ERROR: null value in column "website_id" violates not-null constraint
`

[2018-07-27 17:41] sswapnesh commented on #25976
BTW this works well in v11 Community.

![s1](https://user-images.githubusercontent.com/16624719/43337728-49ca2eea-91f2-11e8-9529-9d8619f6927a.png)
![s2](https://user-images.githubusercontent.com/16624719/43337731-4b098d6e-91f2-11e8-8fb3-43e817664a16.png)

[2018-07-27 18:00] sswapnesh commented on #25981
Product Variant PriceList functionality is working well as it should in `Sale Order and Website shop`.
or May be I am missing something to Reproduce same

[2018-07-27 18:14] Flohack74 commented on #26002
Thanks for the answer, can you tell me what are reasonable values for a test server (almost no connections, performance not important)? We want to run this on a 2G RAM DO droplet...

[2018-07-27 23:20] blaggacao opened #26027 "[BUG] Traceback on website_helpdesk_forum"
**Impacted versions:**
4b9d6387b82

**Steps it occurred**:
- Install module manually randomly through the Apps interface.
- Not able to reproduce just by installing `website_helpdesk_forum` manually on https://demo.odoo.com
- Given it produced a trace back on a virgin instance, I consider it valid nonetheless

**Traceback**:
https://gist.github.com/blaggacao/89ae270c835bfdb08de167d399f707b6

[2018-07-27 23:37] blaggacao opened #26028 "[UI] Wrong parsing in apps category"
**Impacted versions**
Today's virgin v11

**Screenshot**
http://nimb.ws/IQzygd

[2018-07-27 23:39] blaggacao opened #26029 "[UX] MX l10n in category "Accounting""
Small UX inconsistency:
http://nimb.ws/DiLUKw

@nhomar

[2018-07-27 23:50] blaggacao opened #26030 "[UX] Duplicated App Groups"
*Impacted versions*
Today's virgin v11

**Screenshot**
Pruchase: http://nimb.ws/wGbtfE
Technical Settings: http://nimb.ws/mtPTGJ
Seems a technical name where it shouldn't: http://nimb.ws/IQNyzf

[2018-07-27 23:51] blaggacao commented on #26028
Goes into #26030

[2018-07-27 23:51] #26028 closed

[2018-07-27 23:53] gdgellatly commented on #26002
You won't be able to use workers with just 2GB.

[2018-07-28 02:04] nhomar commented on #26029
Thanks for point that out, PR done on master.

[2018-07-28 02:14] blaggacao opened #26031 "[edi] uses pyOpenSSL for other than TLS"
**Unrecommended security package**

- Please see how `crypto` is imported and used:
https://github.com/odoo/enterprise/blob/4842c43917b135a1c4fb637fba5a653b4ece5222/l10n_mx_edi/models/certificate.py#L12-L15

- Unfortunately, this is contrary to the recommendation of the package authors:
https://pypi.org/project/pyOpenSSL/ (first paragraph).

Also https://github.com/pyca/cryptography is likely to b

[2018-07-28 05:22] nhomar commented on #26031
**noted for master**

[2018-07-28 05:41] nhomar commented on #26002
At least you are planning to do 1 user 1 task at a time that sizing will fail, BTW, no workers can help but things like chat and other features will fail, I recomment 8GB ram and 4 cores as minimal, or use SaaS or Odoo.sh thought a partner).

No workers are necessary, and no deployment steps shared here, I think and I recommend you should read this:

https://www.odoo.com/slides/slide/how-to-optimi

[2018-07-28 05:41] #26002 closed

[2018-07-28 05:42] nhomar commented on #26030
**recommendation:** can you help putting the images inline, it is painful read them through external links

[2018-07-28 05:43] nhomar commented on #26027
**runbot** is green can you share the commit, and installation method please?

[2018-07-28 05:49] nhomar commented on #26026
The error itself is know, and this has been like this since few years ago. But this seems a little bit tricky to happen, and it is supposed you test your pricelists immediately you create them before make them public (even if you are testing prices, this is the very next step).

I personally would welcome a PR but for my point of view this is not a real issue more than an improvement.

[2018-07-28 05:54] nhomar commented on #25987
this is not for technical questions, can you kindly make it in help.odoo.com?

[2018-07-28 05:54] #25987 closed

[2018-07-28 06:03] sugarfree1 commented on #16463
Just for anyone searching about Mac OS X. I found the solution here: https://gist.github.com/jfie5/7343868

Especially this line helped me:
[code]
(npm is already installed on my OS X).

If you don't have ```npm``` then you need to install it first.

[2018-07-28 06:40] Flohack74 commented on #26002
Hmm I am not sure I can agree with this. I can completely understand the hardware requirements for a production server, but on a test instance where no one might work for days 8G and quadcore is a quite high demand. I tried to disable workers (setting to 0 or commenting out?) but then Odoo does not even open its http port.

[2018-07-28 06:43] Flohack74 commented on #26002
@gdgellatly This is set as mem limit, I assume you meant this?
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648

[2018-07-28 07:02] gdgellatly commented on #26002
Then it sounds like your deployment is completely wrong.  workers=0 is a very common setting.  But no I did not mean that, those settings are meaningless when not running workers.  But it does show why you can't run workers because you will create a minimum of 4, each wanting up to 2gb each (in my experience as a minimum a worker takes 768mb).

And actually at workers=0 that setting it accepts qui

[2018-07-28 07:09] Flohack74 opened #26032 "export translation terms wizard creates lot of noise in .pot files"
Impacted versions:
11.0

Steps to reproduce:
- Use the export wizard to create translation terms for .pot files and Weblate translation import

Current behavior:
- Pot file contains a lot of non-readable/printable characters:

Expected behavior:
- Export filters out strings which contain only HTML entities. I can understand that the ones where the formatting is mixed in are very hard to cleanup, b

[2018-07-28 07:12] Flohack74 commented on #26002
So how to find out why workes = 0 does not work :)
The main process seems to be running:
[code]

[2018-07-28 08:17] spectra10008 opened #26035 "id in sale.order"
im using odoo 10 , i want to change property of id of sale.order module and change Readonly to False , i tried before by inherit before but didn't effect.

[2018-07-28 11:55] ploegvde commented on #18572
@smetl What would be the ETA so that we can test?

[2018-07-28 13:15] blaggacao commented on #26030
@nhomar, do you expect any additional information from me or from someone else (as per the label)? It's not clear to me.

[2018-07-28 13:17] blaggacao commented on #26030
I'll look for the commit shortly and update the report, but is was just manually installing those modules on a clean instance, clean code...

[2018-07-28 13:17] blaggacao commented on #26027
I'll look for the commit shortly and update the report, but is was just manually installing those modules on a clean instance, clean code...

[2018-07-28 13:20] yostashiro opened #26037 "Payment Receipt print does not consider partner's language"
### Impacted versions:

11.0

### Steps to reproduce:

- Create a customer payment in Invoicing > Sales > Documents > Payments for a partner whose language is Japanese.
- Print Payment Receipt.

### Current behavior:

- PDF report prints in English which is the language of the operating user.

### Expected behavior:

- PDF report prints in Japanese.

### Video/Screenshot link (optional):

[2018-07-28 15:26] Yenthe666 opened #26038 "Invalid behaviour when parsing XML content to HTML in Odoo webpages"
Impacted versions: 9.0, 10.0, 11.0

Steps to reproduce:
1. Go to an existing webpage and take the XML editor, for example on the contact page. Paste in the following two examples of code:
[code]
2. Save the page and now look at the XML that is converted to HTML. You'll see that the first tag is rendered invalid while the second one is rendered correctly:
![image](https://user-images.githubusercont

[2018-07-28 16:04] moylop260 commented on #26002
Seems you are using the longpolling port to connect.
You must use xmlrpc-port
--
Moisés López Calderón
Mobile: (+521) 477-752-22-30
Twitter: @moylop260
hangout: moylop260@vauxoo.com
http://www.vauxoo.com - Odoo Gold Partner
Twitter: @vauxoo

[2018-07-28 19:54] felipepquim commented on #25967
I have been using odoo since january in my company (>20 users) and though I am overall satisfied with the Odoo, the system is really slow in several instances, and the POS systems has given many problems. Hoping that this 2 issues are improved.

[2018-07-28 21:50] Flohack74 commented on #26002
Hmm this seems pretty standard, Odoo:
[code]
nginx:
[code]

[2018-07-29 06:01] Flohack74 commented on #26002
@moylop260 This is exactly my problem, with workers = 0 there is no local socket open:
[code]
but with workers > 0:
[code]
So Odoo seems to be in a semi-started state with workers = 0, theree is a process there, but it does not open a port.

[2018-07-29 07:15] Yenthe666 commented on #26038
OPW 1870229

[2018-07-29 15:02] JKE-be commented on #26038
Hi Yenth,

It seems to work in standard html, but it doesn't work ;)
Your code is wrong

First, simplify your example with this code:

[code]

Visible output will be:

Now, take a look to html source:

![image](https://user-images.githubusercontent.com/4848797/43367576-8b809118-934f-11e8-8f25-7daefd046ff5.png)

As you can see, the / is well printed, but escaped because you have a html char '<' bef

[2018-07-29 15:02] #26038 closed

[2018-07-29 15:34] Yenthe666 commented on #26038
Hey,

Just a quick note & feedback here as we discussed through another channel.
Thanks a lot Jérémy, `t-ignore` is probably my best bet to get around this annoying problem.

Have a good weekend too.

[2018-07-29 16:22] pimodoo commented on #25778
Fixed in rev: https://github.com/odoo/odoo/commit/3869cdf7d8202c8157c1134d74549b3096758253

[2018-07-29 16:22] #25778 closed

[2018-07-29 18:50] Yenthe666 commented on #26035
Hi @spectra10008,

The Github tracker is only for issues/bugs in the official code, it is not the right place to ask questions.
Please ask this on the official help forums at help.odoo.com - plenty of people can help you there (if you provide enough information).

Regards,
Yenthe

[2018-07-29 18:50] #26035 closed

[2018-07-29 18:50] Yenthe666 commented on #26032
@mart-e this one is for you 😉

[2018-07-29 18:51] Yenthe666 commented on #26027
@blaggacao please try following the official template too please. I wouldn't know what your problem is or what you want to have solved now 😉

[2018-07-29 18:53] Yenthe666 commented on #26026
Agreed with @nhomar. A PR would be very welcome but it is not a huge priority issue.
@nim-odoo perhaps something for you guys to improve?

[2018-07-29 18:53] Yenthe666 commented on #26031
@d-fence package related so might be of interest for you!

[2018-07-29 18:55] Yenthe666 commented on #25981
I can't seem to figure out the problem either. @jlopezg could you retest on an official Odoo runbot instance at runbot.odoo.com? Can you make a video too please?

[2018-07-29 18:56] Yenthe666 commented on #26023
@ged-odoo could one of the guys from your team look at this? I think we can/should try to avoid this ugly JS traceback in Quantum 😉

[2018-07-29 18:57] Yenthe666 commented on #26021
Pretty related to https://github.com/odoo/odoo/issues/26023
@ged-odoo could you look at this one too?

[2018-07-29 18:57] Yenthe666 commented on #26004
Hi @miteshsa-onnet,

Thanks for your report.
Can you please link to the location where this is wrong? Even better is a PR to fix it right away!

Regards,
Yenthe

[2018-07-29 18:59] blaggacao commented on #26027
I've updated the issue, it indeed was at bare at first iteration... Would this relieve the "Need Info" label?

[2018-07-29 19:01] blaggacao commented on #26027
Given it is not reproducible "just so", maybe a look at the trace back could help tracking this down?

[2018-07-29 19:02] Yenthe666 commented on #26015
@mart-e I'm not sure for who this is. Could you have a look please?

[2018-07-29 19:07] fmdl opened #26040 "[IDEA] fields : One2one"
Hi this is an idea of field. (Maybe this idea have already exist).

It can be useful when you like to link 2 objects easely. It is the same of many2many, but only for one record.

Exemple :
Model 1: Car
number_id.fields.One2one(comodel = 'plaque', inverse_name='car_id')

Model 2: Plaque
car_id= fields.One2one(comodel = 'car', inverse_name='number_id')

[2018-07-29 19:09] Yenthe666 commented on #26027
Hmm - most of us really like a reproducable way. @Elkasitu do you have an idea?

[2018-07-29 19:10] Yenthe666 commented on #26040
Hi @fmdl,

Thanks a lot for the feedback!
I believe there was a time Odoo had the `one2one` field in its framework, at V6 I believe.
If I'm not mistaking it was removed/abandoned because the `manyone` / `one2many` behaviour can handle the same behaviour and works more flexible.
@mart-e can you confirm / add extra info please?

[2018-07-29 19:20] blaggacao commented on #26027
@Yenthe666 Me too :-) I was fuzzy testing v11 locally and it just happend. Trace back is my witness.

[2018-07-29 20:13] jlopezg commented on #25981
I have updated the issue description.

[2018-07-29 20:13] peterhoth opened #26041 "Inventory product images not showing in listing (Kanban view)"
Impacted versions:
odoo-11.0.post20180729

Steps to reproduce:
Inventory > Master Data > Products (Kanban View)

Current behavior:
Product listing not showing product images

Expected behavior:
Should show product images

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/7699250/43370281-e6a4681c-93ae-11e8-839f-f920a21d3731.png)

[2018-07-29 20:20] Yenthe666 commented on #26041
Hi @peterhoth,

Thanks a lot for your bug report.
On the latest Odoo 11.0 it is showing the images just fine though, as you can see here:
![image](https://user-images.githubusercontent.com/6352350/43370326-885f112a-937d-11e8-9fa6-4e76a54abd6b.png)
Judging by the colour of your Odoo bar you're using personalized theme's and non-default Odoo apps. Are you sure the problem is not there?

Regards,
Yen

[2018-07-29 20:34] mga-odoo commented on #25981
@jlopezg I think two images you attached to the issue are not form the same configuration and if it taken from the same configuration then its a usability issue not the functional issue.

Price rules other then the **Fix Price** option should not listed on the product pricing section, which means when you choose to have a **Prices computed from formulas** you don't not see the **Pricing** field on

[2018-07-29 20:41] mga-odoo commented on #26041
Hello @peterhoth

I think its a custom theme on the community editions, if you look at the default community without theme you can have the products images

![image](https://user-images.githubusercontent.com/7595796/43370502-8c3fdcb4-939d-11e8-9de4-a802efe1592e.png)

Can you try after removing the custom theme, if your problem solved after removing the theme, please report the problem to the devel

[2018-07-29 21:00] mga-odoo commented on #26037
Its a bug

need to set the partner language `<t t-set="o" t-value="o.with_context({'lang':o.partner_id.lang})" />` on the report `addons/account/report/account_report_payment_receipt_templates.xml`.

[2018-07-29 21:07] jlopezg commented on #25981
@mga-odoo I created this issue for get things clear. Taking two pictures from different configurations won't make things easier.

Go to Users settings and set **Pricelists on products** group to your user and you will see the pricelist section on every product no matter the way you setted it up.

<img width="601" alt="screen shot 2018-07-29 at 4 46 19 p m" src="https://user-images.githubuserconten

[2018-07-29 23:36] nhomar commented on #26031
@Yenthe666 THis change requires a little refactor, we will take care of that!

[2018-07-29 23:37] nhomar commented on #26031
@luistorresm Please take care of this. **on master** if you think is necessary, I think the impact is not in the criteria of **must** be done, but we will analize the impact and make the change accordingly.

[2018-07-30 00:39] nhomar commented on #26040
many2one in both models with a domain do the trick (domain at field definition level).

[2018-07-30 05:29] jacobbubu commented on #23017
I've got the same issue

[2018-07-30 05:53] Elkasitu commented on #26027
If you installed other apps before the one that crashes you could try reproducing the issue by re-installing the same apps in the same order and seeing if it crashes again on the runbot, if it doesn't crash on the runbot then it's likely that it's something to do with your setup

[2018-07-30 06:06] Yenthe666 commented on #26031
Thanks a lot @nhomar!

[2018-07-30 06:07] blaggacao commented on #26027
I cannot even reproduce locally anymore on the very same instance... It must have been a ghost.

[2018-07-30 06:07] #26027 closed

[2018-07-30 06:31] Yenthe666 commented on #26040
I knew I remember it from somewhere :-) Thanks.

[2018-07-30 06:34] igallart commented on #26018
https://github.com/odoo/odoo/pull/26042

[2018-07-30 06:44] pna-odoo commented on #25954
Once you save the product page, you can find the 'Update Cost' link.
![ipad mini odoo](https://user-images.githubusercontent.com/7599574/43381363-104ffd5a-93f2-11e8-8c7c-df6475a89fc9.png)

[2018-07-30 07:17] smetl commented on #18572
@ploegvde I'm rebasing the branch and adapting the code with the generic intrastat report. It will be ready to test very soon.
Thanks for your patience.

[2018-07-30 07:37] pedrobaeza commented on #25953
If this is still happening, please put an OPW ticket at https://www.odoo.com/help, as this is something specific of an enterprise module, which doesn't belong to this repository.

Closing the issue by the reason above.

[2018-07-30 07:37] #25953 closed

[2018-07-30 08:02] nseinlet commented on #26001
Hi @blaggacao , could you show the used record rules? Do you use some custom ones?

[2018-07-30 08:44] david-th commented on #25976
Odoo gave me Feedback, they checked in latest v11 branch & says it's working well.
(See attached video regarding given scenario)

As far as I can see I also have the latest Version (is there another way to get the version?)
![grafik](https://user-images.githubusercontent.com/35835585/43386739-e43f2784-93e4-11e8-9e24-7ab112c2119b.png)

Isn’t the latest branch also installed for demo.odoo.com ?

In

[2018-07-30 09:13] #25954 closed

[2018-07-30 09:41] lem8r commented on #17084
@crazy-projects cache-control tag is zero because web editor is not adding `unique` tag to image url.
This can easily be fixed changing two lines in odoo's code https://github.com/odoo/odoo/pull/26039/files
And it is not so easy to fix with custom module because `ImageDialog` is not exported.
Possible workaround is to override cache-control tag at nginx level.

[2018-07-30 09:57] Elkasitu commented on #25078
Thanks, I'll take a look whenever I have some time

[2018-07-30 10:10] DR4RCON opened #26046 "[11.0] Monetary field in one2many visible only in first line"
Impacted versions: [11.0]

Steps to reproduce:  Create your own custom model and create views for one2many relations like;

[code]
[code]
[code]

Current behavior:
![peek 2018-07-30 12-04](https://user-images.githubusercontent.com/30311920/43391604-63b7c078-93f1-11e8-891b-e04081fc38a3.gif)

Expected behavior:
Monetary Symbol in all Lines not only the first.

[2018-07-30 10:59] #17508 closed

[2018-07-30 11:40] rogeriojlle opened #26049 "Buy route"
Impacted versions: 12.0.1.2

Steps to reproduce: on install module "purchase" on a fresh Odoo

Current behavior: "Buy route" is not showing on product
[code]

Expected behavior: nothing issue

Video/Screenshot link (optional):

[2018-07-30 11:43] Yenthe666 commented on #26049
Hi @rogeriojlle,

Thanks a lot for your report but at the moment Odoo 12 is not yet released and it is not yet a stable version. I'm closing it off for this reason.
@sle-odoo you might want to check this in master 😉

[2018-07-30 11:43] #26049 closed

[2018-07-30 12:33] mga-odoo commented on #25981
Yes its a bug and It has to be improve, feedback is already registered.

[2018-07-30 13:02] crazy-projects commented on #17084
@lem8r Yes, the Nginx workarround works fine, you have to set-up arround 5 paths and override its headers (the set-cookie and cache control), and that is what i'm doing right now (even witout nginx, you can do it with cloudfront)

However, the ideal solution would be odoo setting the correct headers, since who knows better than odoo the content it's serving and it's "cacheability"? that way the ng

[2018-07-30 13:34] blaggacao commented on #26001
@nseinlet Not extra ones, but we adapted some, like `stock.stock_picking_rule`
[code]

Here is the full rule table, you might want to filter arround at your conveience or let me know if you prefer only specific columns...
[ir.rule.zip](https://github.com/odoo/odoo/files/2241299/ir.rule.zip)

[2018-07-30 13:43] smetl commented on #18572
@jvOrsouw Ok. I added these changes to my branch.

[2018-07-30 14:00] hugho-ad commented on #25724
Hello,
What's the status of this?

Regards!

[2018-07-30 14:18] pedrobaeza commented on #25778
But the problem still exists for the already existing orders and it's a big behavior change: you move from seeing all the steps from purchase order to see only the first one.

[2018-07-30 14:19] nseinlet commented on #26001
@blaggacao Problem comes out the ('move_lines.move_orig_ids.company_id', 'child_of', [7])

The ORM search for all companies child of 7, then for id of moves (move_orig_ids) with company_id = one the childs, and with this list of ids, search for move_lines where move_orig_id = any(ids found earlier), and then the pickings.

With million lines....

You can :
- use auto_join=True on fields , but this

[2018-07-30 14:33] blaggacao commented on #26001
@nseinlet It's chilling to see what your experience produced in such record time. Bid thanks!

**Duly noted:** Look at record rules first and don't be too creative...

I'll leave this issue open to give any feedback as I implement your recommendations, if that's ok for you...

[2018-07-30 15:05] cantecim opened #26057 "Python 2 compatibility problem"
Hello guys,

Did you stop python 2 backward compatibility support?

If no why these codes merged?
https://github.com/odoo/odoo/blob/44ea58234ec0d902ddf0caf7aefb367acc013627/addons/purchase/models/stock.py#L193

[2018-07-30 15:11] pedrobaeza commented on #26057
Yes, v11 is not supporting officially anymore Python 2 since the beginning of that version in stable, and thus using this kind of syntactic sugar is allowed.

[2018-07-30 15:11] #26057 closed

[2018-07-30 17:37] obaqueiro commented on #22694
This also started happening to me after trying to add a new  module.  Has anyone been able to solve this issue?

[2018-07-30 18:14] aelmanaa opened #26059 "[Docker] Distributed caching for a "Horizontally scalable" Odoo"
Is there any plan to make Odoo pluggable to a distributed caching system in order to store Odoo data?

Impacted versions:
all
Steps to reproduce:

Current behavior:

Currently odoo data is located in /var/lib/odoo. With Docker, one can mount this folder to a web-data volume as described here https://hub.docker.com/_/odoo/

The problem starts when you want to have a highly available cluster (e.g.:

[2018-07-30 18:25] sswapnesh opened #26060 "[11.0] TypeError: Cannot read property 'type' of undefined"
Impacted versions: 11.0

Steps to reproduce: Go to Project's Kanban View --> Group By Manager --> Click on Rating

![](https://image.prntscr.com/image/deikZAf3TnevhNd0ldU0Rg.png)

Current behavior:
`TypeError: Cannot read property 'type' of undefined`
![lo2](https://user-images.githubusercontent.com/16624719/43415489-47a19f0a-9453-11e8-8a95-af65d79e7916.png)

Expected behavior:
Should open related

[2018-07-30 18:44] sswapnesh opened #26061 "[11.0] Invalid status of Email Schedule in Event when trigger is After each registration"
Impacted versions: 11.0

Steps to reproduce: Create new Event --> Schedule Email `After each registration`

Current behavior:  Status is always `Sent` even No mail is sent (Even event is not Created)
![e1](https://user-images.githubusercontent.com/16624719/43416611-68f5b7ec-9456-11e8-9324-d061ade8ce6a.png)

Expected behavior:
Status should be False on Creation and should be updated according to Em

[2018-07-30 18:57] sswapnesh commented on #26041
I can reproduce the same.

To Reproduce: Install `stock` than install `membership` module
![h1](https://user-images.githubusercontent.com/16624719/43417281-31907d94-9458-11e8-9d94-14ad7c2e811e.png)
![h2](https://user-images.githubusercontent.com/16624719/43417283-3227cd16-9458-11e8-9c87-59bba9cab688.png)

Should be because of wrong view sequence.

[2018-07-30 19:00] sswapnesh commented on #26041
This kanban view refers to Membership Configuration

![h3](https://user-images.githubusercontent.com/16624719/43417444-a3777944-9458-11e8-9385-79c2fc5a5b74.png)

[2018-07-31 00:33] blaggacao commented on #25725
Today, I guess, I actually was stuck with this half a day as a `.then` chain would not execute in a predictable order. I wrapped it in a `$.when()`, instead...

[2018-07-31 06:12] Yenthe666 commented on #26059
@d-fence could you have a look and answer as you manage docker files?

[2018-07-31 06:13] Yenthe666 commented on #25725
@blaggacao @sle-odoo barely has anything to do with jQuery / the JS framework. You need @JKE-be or @ged-odoo for that.
On a sidenote: I'm going to take a guess here that you'll get a response it is not a very huge problem and not considered a bug 😉

[2018-07-31 06:52] JKE-be commented on #26061
hi

Imo, it is correct... each subscribed peoples (nobody during creation) got the email, none errors...

"Nice to have" will be to have this input hidden, but if checkbox was always unchecked, I will find it more buggy that always checked.

[2018-07-31 06:52] #26061 closed

[2018-07-31 07:06] Elkasitu commented on #26059
I think this is more suitable for @antonylesuisse or @odony

[2018-07-31 08:00] xmo-odoo commented on #26057
@pedrobaeza while you're right that it's not officially supported our policy for v11 was still that we'd still like to maintain the Python 2 compatibility unless there are good reasons not to do so as it's convenient for us and partners, providing some buffers for bits and pieces of internal migration & conversion.

A P3-style super call isn't really a good enough reason to completely break compat

[2018-07-31 08:04] pedrobaeza commented on #26057
Ok, thanks for the insights. I can't reopen the PR though, so if you want I can make a new PR, or you can cherry-pick directly the commit. On OCA we are going to Python 3 only directly, and there's already a lot of `super()` calls, but also on library imports and so on.

[2018-07-31 08:16] mhadiahmed commented on #17002
am on Debian and this work for me
download the package from this site
https://debian.pkgs.org
download python-pypdf and it Depends on python-support so download that one two
after that install  odoo 10 and it will work

[2018-07-31 08:41] NothingCtrl opened #26071 "[9.0] Accounting: Incorrect digits in account code using template"
Impacted versions: 9.0 (not test with 10 or above)

Steps to reproduce:

- Install accounting template have `code_digits = 0`, example: **Vietnam - Accounting,** technical name `l10n_vn`
- Active multi company (Admin user setting, check Multi company)
- Create a new company or using available company without seting Chart of account template (in runbot, I using company name _My Company, Chicago_),

[2018-07-31 08:43] NothingCtrl commented on #26071
Note: I can bypass this behavior by set `Number of digits in an account code = 0`

[2018-07-31 08:46] xmo-odoo commented on #26057
No worries. I managed to get the branch back from refs/pulls (it's not a big change but that way I could merge it with attribution as bf332e2e08ebe8533c91f39aa5b24e9dc297af67)

[2018-07-31 08:53] pedrobaeza commented on #26057
OK, thank you very much.

[2018-07-31 10:20] ruuter opened #26076 "[11.0] MissingError while debug assets with sass stylesheet in bundle"
Impacted versions: 11.0

Steps to reproduce:
request any URL with ?debug=assets while there is at least one SASS stylesheet in bundle.

Current behavior:
MissingError: Record does not exist or has been deleted.
This happens in assetsbundle [preprocess_css method](https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/ir/ir_qweb/assetsbundle.py#L386), which tries to unlink `old_attachments ` twice

[2018-07-31 10:30] pedrobaeza commented on #26076
Any way to reproduce this on runbot?

[2018-07-31 12:45] ruuter commented on #26076
@pedrobaeza I don't think so. Runbot server does not seem to have sass installed.

[2018-07-31 13:27] slneehazem commented on #9273
Any solution for this problem plz ?

[2018-07-31 14:32] pedrobaeza commented on #24084
Closing this as won't fix in current versions.

[2018-07-31 14:32] #24084 closed

[2018-07-31 14:41] sswapnesh commented on #26061
Okay, I will purpose PR against Master for same.

On Tue, Jul 31, 2018, 12:22 PM JKE-be <notifications@github.com> wrote:

[2018-07-31 14:43] zbik2607 opened #26087 "Payment terms on credit note"
Impacted versions: 11

Steps to reproduce:
Create refund: "Create a draft credit note"

Current behavior:
Payments Terms on Draft Credit Note is not set.
Due date = Due date from source invoice

Expected behavior:
payment terms set up according to the partner (for example as property_supplier_terms_ids)
or if not set the date_due should be computed by _onchange_payment_term_date_invoice

[2018-07-31 14:58] leio commented on #7024
I feel like I have wasted more time fighting with this than it would have taken to convert everything in Odoo over to Decimal myself...
Yes, this includes a lot of purely server code from user input. For example it's not possible to figure out if a user entered quantity for a 0.00001 rounding UoM is valid or not, to e.g. raise UserError if more precision is entered. RPC gives 13.00000, server want

[2018-07-31 17:42] mga-odoo commented on #26087
Your point is valid for only one case, when you choose "Modify: create credit note, reconcile and create a new draft invoice" which is working correctly for Odoo V11 look at the video https://drive.google.com/file/d/1-CtuLs3f4GvKi-wOIlu6hpiREA2dYsMV/view

Other then all the case credit note will be reconcile with invoice irrespective of the payment terms or due date.

[2018-07-31 18:27] mga-odoo commented on #26003
I don't things its a bug, Odoo clearly indicates to take you a manual action in form of activity on the Purchase order (not on RFQ). If RFQ you need to cancel it manually as it does not have a value until it is not confirmed, look at the video https://drive.google.com/file/d/1r3biFZh6xWFlEw-smeUyG3GwqNl-uGzo/view

For the Manufacturing Order, it is like the same since the beginning as there are ma

[2018-07-31 18:31] odony commented on #26059
For scalable deployments we typically use a shared network filesystem with a high IOPS and a very low network latency. If you're using virtual storage, aim for the high IOPS ones, such as Google's SSD persistent disks (15k IOPS), AWS's io1 EBS, or large EFS volumes paired with properly sized EC2 instances (watch your burst credits!). Usually the IOPS and throughput increase when you use larger vol

[2018-07-31 18:31] #26059 closed

[2018-07-31 19:40] shepilov-vladislav opened #26088 "Custom Local CSS/LESS Not working for PDF Reports"
Impacted versions: 11.0 CE/EE

Steps to reproduce:
Add custom CSS/LESS

Add CSS for your reports
[code]

Current behavior:
CSS/LESS Working with QWeb reports but not working with PDF

Expected behavior:
Working with QWeb and PDF reports

[2018-07-31 19:49] zbik2607 commented on #26087
In my opinion (maybe I see this by polish law) invoice refund is a new busines transaction (simillar to buy from customer). Refund payment terms should be related to credit note   date (this is own declaration when our company return a too high payment) .
Generally due date on credit note can't be smaller than invoice refund date.

[2018-08-01 01:02] skyzluo opened #26090 "could not start Odoo community version 11"
I just installed all requirements. Then, in Ubuntu 16.04, when I run

sudo python3 odoo-bin -w odoo -r odoo --addons-path=addons,../mymodules --db-filter=mydb$

I saw:

Traceback (most recent call last):
  File "odoo-bin", line 5, in <module>
    import odoo
  File "/var/www/odoo/odoo/odoo/__init__.py", line 84, in <module>
    from . import modules
  File "/var/www/odoo/odoo/odoo/modules/__init__

[2018-08-01 02:01] gdgellatly commented on #26090
Because you are using python 3.7. And async is a reserved keyword in 3.7.

On Wed, 1 Aug 2018, 1:03 PM skyzluo, <notifications@github.com> wrote:

[2018-08-01 02:06] skyzluo commented on #26090
I see. Then, which version of Python should I use? Thanks

[2018-08-01 02:07] skyzluo commented on #26090
I see. Then, which version of Python should I use? Thanks

On Tue, Jul 31, 2018 at 10:03 PM, Graeme Gellatly <notifications@github.com>
wrote:

[2018-08-01 02:15] gdgellatly commented on #26090
You can use 3.7 but if you choose to install incompatible dependencies then
really that's on you to sort out. 3.6 will be safe.

On Wed, 1 Aug 2018, 2:08 PM skyzluo, <notifications@github.com> wrote:

[2018-08-01 02:46] skyzluo commented on #26090
Thank you very much for help. I change to Python 3.5. But I saw a new
problem which I don't know how to solve. Do you know why? Thanks

2018-08-01 02:45:44,696 9853 INFO ? odoo: Odoo version 11.0
2018-08-01 02:45:44,696 9853 INFO ? odoo: addons paths:
['/home/odoo/.local/share/Odoo/addons/11.0',
'/var/www/odoo/odoo/odoo/addons', '/var/www/odoo/odoo/addons',
'/usr/lib/python3/dist-packages/odoo/add

[2018-08-01 03:00] skyzluo commented on #26090
I solved this problem. My database password is wrong. Thanks a lot!

On Tue, Jul 31, 2018 at 10:46 PM, Tom Luo <mariolzx@gmail.com> wrote:

[2018-08-01 04:03] blaggacao commented on #25725
@Yenthe666 Hahaha, I can most certainly anticipate that...

No problem, folks. I know you have more important stuff to do.
Just in case, you weren't aware already...
Consider it a friendly ping.

[2018-08-01 05:27] #26090 closed

[2018-08-01 06:59] blaggacao commented on #26001
@nseinlet
- With your second recommendation it comes down to approx. 17 sec
- With standard record rules it is still 16 secs.

stock_picking multi-company
--
`['|','|',('company_id','=',False),('company_id','child_of',[user.company_id.id]),('x_orig_company_id', 'child_of',[user.company_id.id])]`

stock_move multi-company
--
`['|', '|', '|', ('company_id','=',False), ('company_id','child_of',[user.

[2018-08-01 07:35] david-th commented on #25976
Problem is solved with latest revision

[2018-08-01 07:35] #25976 closed

[2018-08-01 08:12] pedrobaeza commented on #17850
Then we should consider this as solved in latest version, but won't fix in previous ones. As it's a very corner case, it's not very critical IMO, but I let @seb-odoo to decide if this should be closed.

[2018-08-01 08:32] seb-odoo commented on #17850
I'll close it, if someone manage to give me a step by step to reproduce on master, it can be reopened.

[2018-08-01 08:32] #17850 closed

[2018-08-01 09:56] AngelCamacho opened #26100 "[11.0] Incorrect fiscal position on Quotation / Sale Orders"
Impacted versions: 11.0

Steps to reproduce: Select a diferent partner for Delivery Address than a customer.

Current behavior: Delivery adress change the fiscal position of the quotation.

![imagen](https://user-images.githubusercontent.com/11173802/43514946-9ebe6140-9581-11e8-847d-160027195365.png)

Expected behavior: The fiscal position only must be modified by the customer or invoice adress. T

[2018-08-01 10:29] wtaferner commented on #26100
@AngelCamacho
Thank you for taking the time to post this screenshot.
The delivery address indeed must affect the Fiscal Position, at least in Europe it is important to whom the goods are delivered and also from where they come (VAT Reverse Charge) to determine the taxes to be applied. So basically it is your task to handle the use case if it is a corner case by doing a workaround or develop some l

[2018-08-01 10:33] VanithaSankar opened #26102 "Payslip Bank Account Number is not fetching"
Impacted versions:Odoo 10

Steps to reproduce: In payslip Bank Account Number is not fetching it shows code like res.partner.bank(11,)

Current behavior:

Expected behavior:

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/37325240/43516834-589eeb44-95a4-11e8-850e-3433f357e479.png)

[2018-08-01 12:15] Yenthe666 commented on #26100
Indeed, this is desired & wanted behaviour to my knowledge.
@nim-odoo could you do a quick confirm please?

[2018-08-01 14:14] AngelCamacho commented on #26100
In Spain the VAT depends on the customer to the invoice is going to. In other words, the TIN that appears on the invoice marks the taxation and who actually buys the goods or services. The delivery  address does not mark who is really sold, only the address where the goods will be delivered.

[2018-08-01 14:15] mart-e commented on #26006
Hi,

As explained at #26007 sorry but we no longer change the text once the version is stable, especially in 9.0 which is end of life, it should only accept critical changes.

[2018-08-01 14:15] #26006 closed

[2018-08-01 14:18] mart-e commented on #26032
Hi,

Thanks for the report but what are you translating exactly?
We are splitting the text inside meaningful block (e.g. paragraph) to avoid splitting the translations in small chunks that do not make sense (e.g. do not split a sentence in 3 if there is one word in bold in the middle).
So yes, if your text is complex with a lot of HTML markups, the translation will be more difficult to read.
I don

[2018-08-01 14:24] Cherkah opened #26109 "trying to connect odoo but werkzeug error"
Impacted versions:
11

Steps to reproduce:
connect to odoo

Current behavior:
1)browser page
Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

2) & terminal:
2018-08-01 14:13:57,664 17701 INFO ? odoo.sql_db: Connection to the database failed
2018-08-01 14:13:57,666 17701

[2018-08-01 15:10] Elbagoury opened #26112 "Multi company : stock valuation bug"
**Impacted versions:**
Odoo 10 CE , Odoo 10 EE , Odoo 11 CE , Odoo 11 EE
**Steps to reproduce:**
Accounting Setting:
- Use Anglo-Saxon Accounting : true
- Configure 2 chart of account for 2 company1 and company2
Inventory Setting :
- Perpetual inventory valuation (stock move generates accounting entries)
- Costing Method 	Average Price
- Inventory Valuation 	Perpetual (automated)

**Current behavi

[2018-08-01 17:05] Yenthe666 commented on #26030
This looks quite clear now. Odoo version though? I assume 11.0 from the PR?

[2018-08-01 17:26] pedrobaeza commented on #26109
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

Specifically, it seems something with the connection to Postgres database.

I'm closing this issue now, but

[2018-08-01 17:26] #26109 closed

[2018-08-01 18:49] blaggacao commented on #26030
Yes, I've also update the commit above...

[2018-08-02 05:40] mga-odoo commented on #26112
Its not a bug, don't try with Admin user, create a separate users for each company and do the same example, it's working.

[2018-08-02 05:44] mga-odoo commented on #26087
I don't think its too frequent to create a credit note with too high amount.
Still for such critical case there is a provision to add the payment term manually before you confirm the credit note.

[2018-08-02 06:03] Yenthe666 commented on #26112
@Elbagoury can you test & confirm please?

[2018-08-02 06:30] AngelCamacho commented on #26100
@wtaferner

Don't worry, it's not an usual case. For now we make a specific development for the customer.
If another partners think that the request may be valid, hopefully we can officially implement it in Odoo in the future.

Thanks!

[2018-08-02 07:53] mga-odoo commented on #25977
@gustavovalverde may be its not a software issues even in real-life its a challenge

Please go through the answer given by @vcloud9ray at https://github.com/odoo/odoo/issues/25604. It is relevant can be applicable for your case too.

What I understand about the price change in your case, as a customer you accept change in purchase price, does that means your customer should accept the change in pr

[2018-08-02 08:18] mart-e commented on #26015
Hi,

It actually makes sense. You are making a search with a translated field. If you evaluate it in a different language, it will not match.
It is globally a bad idea to use strings in your domains, it is not very tolerant to change.
Make your domain using ids instead `[('country_id', 'in', [1, 2, 42, 78,...])]` will work just fine.

[2018-08-02 08:18] #26015 closed

[2018-08-02 08:58] mart-e commented on #26032
I could not find the page `ubuntu-nexus-5-1` on ubports.com but I saw nothing really wrong in the block

https://github.com/ubports/ubports.com-translations/blob/973434ce664fe5668dce84e676546447fb752221/website.pot#L4311-L4322

If your whole text is inside a `<i>` tag, it will be translated inline.

https://github.com/odoo/odoo/blob/9a48f67863db532cd1686eaf1978659591458b5a/odoo/tools/translate.py#

[2018-08-02 10:13] gustavovalverde commented on #25604
@vcloud9ray  I might agree with:

But this is mainly because Odoo doesn't distinguish between two similar _concepts_:
- Cost of Revenue (or COGS)
- Product Cost (or Product Value) --> mainly coming from valuation

In the Product template we have **COGS** but not the _actual_ **Product Cost/Value**.

This causes issues like this one and also:

When buying a product for the first time or manufacturi

[2018-08-02 10:14] gustavovalverde commented on #25290
Just a reminder that this issue should remain open

[2018-08-02 10:20] wpichler opened #26124 "Wrong Translation in language de does cause picking to not get generated for pos orders"
Impacted versions:
10.0 git trunk

Steps to reproduce:
Install DE Language and POS - use DE Language - create a pos order - it will not generate the picking for the pos order - but order will get generated.

Current behavior:
No picking gets generated

Expected behavior:
Picking get generated

Video/Screenshot link (optional):

Solution:
Update de translation - in file: https://github.com/odoo/odo

[2018-08-02 10:38] gustavovalverde commented on #25977
@mga-odoo the deal breaker here is that we can't use pricelists based on `standard_price` because they won't work on new products (that haven't been sold).

Importing thousands of new products weekly and _trying_ to manually update sales order isn't a solution. This is a real (and very common use case), that should be handled by Odoo when importing goods.

I think we should be focusing in the `sta

[2018-08-02 10:50] pedrobaeza commented on #26124
Please use Transifex for making the proper translation.

[2018-08-02 11:55] zbik2607 opened #26128 "Invoice printed attachements not deleted"
Impacted versions: 11 and other

Invoice attachment is not removed after canceling it and action_invoice_draft
a) if time is used in "Save as attachment"
b) when "Save as attachment" is different in report "Invoices without Payment" and in report "Invoices"

Steps to reproduce:
a) set:
"Save as attachment" = (object.state in ('open','paid')) and ('INV'+(object.number or '').replace('/','')+**time.

[2018-08-02 12:05] pedrobaeza commented on #26128
That shouldn't happen and current behavior is the expected one. You can't unconditionally remove the attachments because:

* You may want to keep it for a lot of reasons.
* You don't know which attachments come from "printing the invoice".
* Others that for sure I have not thought right now...

So closing this issue as not valid.

[2018-08-02 12:05] #26128 closed

[2018-08-02 12:05] zbik2607 commented on #26087
In the polish law invoice refund is created in three cases:
1) rebate
2) quality complaint
3) mistake in quantity or price
In all cases this invoice is a VAT liability and all dates are very important.

It is possible that additionally one of the solutions is not printing date_due if we have invoice_refund.

[2018-08-02 12:13] mga-odoo commented on #25977
Pricelist or Standard Price is not a problem, let's take an example to understand the real challenge

You purchase (import may be in your case), 4 qty of Product through four different purchase orders, and they purchased at different price

  | Purchase Price | Cost as per Inventory
-- | -- | --
Product | 110 | 110
Product | 120 | 120
Product | 105 | 105
Product | 115 | 115

There are many challen

[2018-08-02 12:13] zbik2607 commented on #26128
After cancellation, restore the draft and validate, the new invoice MUST be printed as new (it can not be downloaded from the old attachment).

[2018-08-02 12:15] pedrobaeza commented on #26128
Then remove the old attachment. As said, can't be done technically and it should be done due to that reasons. On your use case, remove it manually.

[2018-08-02 12:15] zbik2607 commented on #26128
PS. action_invoice_draft unlink attachment ... but only for one name report.

[2018-08-02 12:18] zbik2607 commented on #26128
PS1. ...and when module "document" is not installed? How remove manually?

[2018-08-02 12:25] zbik2607 commented on #26128
No problem to unlink  for report 'account_invoices_without_payment' - similar way as ulink attachment for report "account_invoices".

time - this is real problem!

[2018-08-02 12:30] Yenthe666 commented on #26128
Hmm I agree with you @pedrobaeza
You can delete the attachment manually so it generates a new one. Pretty much everybody has the document module installed right? Cost/risk this is not worth it to me either.

[2018-08-02 13:13] wpichler commented on #26124
I have entered the translation in transifex now - but i think this is also a general bug - if the next translation in an other language is broken - the same bug will come up again. It would be better to handle the exception - and don't let the user store the order in such case. Because with the current behavious - odoo will create the pos oder - everything does look fine - until the user checks th

[2018-08-02 13:36] zbik2607 commented on #26128
If the cost is too high :), this is a fix (time problem not fixed):

    @api.multi
    def action_invoice_draft(self):
        if self.filtered(lambda inv: inv.state != 'cancel'):
            raise UserError(_("Invoice must be cancelled in order to reset it to draft."))
        # go from canceled state to draft state
        self.write({'state': 'draft', 'date': False})
        # Delete former pr

[2018-08-02 14:43] Yenthe666 commented on #26128
@zbik2607 not literally talking about the $ but rather the fact about introducing this.
You know what? Since you made a proof of concept pretty much and are convinced.. Why don't you make a PR against the master version and give it a try?

[2018-08-02 14:49] ahetland commented on #25938
Hi Yenthe666, I have many comments from odoo users (accountants) who do not see the information value of a forward slash, when reading accounting entries it should be easy and understandable for the user what he/she is seeing. Also if you look at the payment reminders you will have forward slashes, this is no good communication to customers right?

[2018-08-02 14:52] zbik2607 commented on #26128
Ok, I was kidding :). I can create, it will take me some time, I thought it would be faster.

[2018-08-02 15:20] pedrobaeza commented on #26124
Maybe you can propose a PR with the fix for that thing.

[2018-08-02 15:49] invitu commented on #25604
@gustavovalverde I saw that the landed costs are considered in real time cost indeed as the confirmation of the landed costs sheet generates accounting entries for stock move equal to the landed cost values. By the way, the cost in quants are updated correctly (thanksfully).
Could you double check that ?

[2018-08-02 15:52] invitu commented on #25604
@vcloud9ray @mga-odoo do you have any advice on how to manage that ? Do you have real cases ? For a salesman, it's very useful to have at least estimated margins for a sale_order at the quotation state...

[2018-08-02 15:56] tanghulu0608 opened #26135 "Create a user,then the partner is show in Customers."
**Impacted versions:**
master,11,10

**Steps to reproduce:**
Create a user,then the partner is show in Customers.

**Current behavior:**
most of the time,user is not a customer.

**Expected behavior:**
user do not become to a customer.

Video/Screenshot link (optional):

[2018-08-02 15:59] pedrobaeza commented on #26135
Are you removing the filter 'Customers' before searching for the user?

[2018-08-02 16:05] tanghulu0608 commented on #26135
no,i did not remove the filter 'Customers'. The customer on the new created partner is True
@pedrobaeza

[2018-08-02 16:29] pedrobaeza commented on #26135
I have just tried and you're right: it appears as default as a customer. I remember this didn't happen before, but I wouldn't consider as a bug. There should be an explanation for this. Maybe @tivisse or @mart-e can tell us.

[2018-08-02 16:41] gustavovalverde commented on #25604
My bad @invitu I actually wanted to refer to COGS or Product Cost on the `product.template`, in the test I did the landed_cost were not consider for the `standard_price`.

[2018-08-02 17:13] gustavovalverde commented on #25977
First, let's segregate a Financial approach vs a Logistic approach.

Considering the above, and that from a Financial FIFO we can have an AVCO, I can answer both of your questions with 1 answer:
- Use an AVCO of **$112.5**, with a margin of **%100** I could easily sell them at **$225**. With a rounding of $10 I can handle a 90% of the fluctuation caused by the FIFO as the product start selling, wi

[2018-08-02 19:01] mga-odoo commented on #25977
Exactly that will be proposal that AVCO can satisfy your need.  Let's compute the profit using both methods FIFO and AVCO.

Profit when you sell cost + 100% margin, the cost computed based on the FIFO

  | Purchase Price | Cost | Sales Price | Profit (FIFO)
-- | -- | -- | -- | --
Product | 110 | 110 | 220 | 110
Product | 120 | 120 | 240 | 120a
Product | 105 | 105 | 210 | 105
Product | 115 | 115 |

[2018-08-02 19:38] gustavovalverde commented on #25977
This is not functional nor easy at all.

We use landed costs because of the complex distribution that implies doing it based on cost; which would require us to depend on excel to calculate the distribution and then making a module with automated actions to distribute those cost to the products.

Even so, using this method would arise a bunch of consequences:
- Manual Input of costs
- No validation

[2018-08-02 19:51] mga-odoo commented on #25604
@invitu I just explain the computation of profit for both method at https://github.com/odoo/odoo/issues/25977 for the same example look at the video https://youtu.be/PSRWuz8ClCw

If there is a possibility to replace the FIFO with AVCO you can have the correct cost price that can be used to compute for Pricelist or Margin, it has a correct result.

**Landed cost**, yes its removed with the AVCO, bu

[2018-08-02 20:09] mamcode opened #26136 "[11.0] Progress Bar in project tasks is not well computed"
Impacted versions:
11.0

Steps to reproduce:
Go to Project / Configuration / Settings and activate the options Sub-tasks and Timesheets.
Create a project
Create a task in this project and set the estimated time in field "Initially Planned Hours" in tab Timesheets.
Create at least one sub-task in this task and set the estimated time for it.
Go to the parent task and look at progress bar, it is bein

[2018-08-02 21:17] ychirino opened #26137 "[10.0] when importing a module for customization is stored in a route that does not exist and odoo does not recognize the module."
**Impacted versions:**
10.0

**Steps to reproduce:**
- Apps > import module

**Current behavior:**
when importing a module for customization is stored in a route that does not exist and odoo does not recognize the module.

**Expected behavior:**
Must be created in an existing route so that odoo can read the module

**Video/Screenshot link (optional):**

**##IMPORT MODULO##**
![screenshot-localhost

[2018-08-03 05:26] aditya-sharma185 commented on #13856
The same issue is still present in Odoo 11 and even in the Odoo 12(master branch)..  I just checked..

![odoo pos](https://user-images.githubusercontent.com/38282092/43625653-cbf3933e-970b-11e8-8293-9cda60664493.jpg)

Please check my last thread. This can easily fix the issue.

[2018-08-03 05:38] hydrosIII opened #26139 "Cannot close point of sale, database growing, insane amount of time and queries."
Impacted versions:

11 Enterprise.

Steps to reproduce:

Open a point of sale, sell some products. Try to close the point of sale.
The point of sale does not close. Or if it closes it takes a very long time to close.  I think it has something to do with the mexican accounting modules.  Also  it may be important to mention that we are using lot traceability in most of our products.

Current behavio

[2018-08-03 05:41] pedrobaeza commented on #26139
This seems something related to enterprise modules, so please put the corresponding ticket at https://www.odoo.com/help.

[2018-08-03 05:41] hydrosIII commented on #26139
I already have. Thanks.

[2018-08-03 05:46] pedrobaeza commented on #26139
Please put here then the OPW number, and this can be closed waiting for the feedback on the other part.

[2018-08-03 07:52] davidtranhp opened #26141 "[11.0] Wrong calculation in def get_work_days_data(self, from_datetime, to_datetime, calendar=None)"
### Impacted versions:
11.0

### Steps to reproduce:
1. Create a new resource calendar for 44 hours per week
![selection_036](https://user-images.githubusercontent.com/7938973/43630764-6a0d96b8-972b-11e8-841e-655c8b77b2eb.png)
2. Create an HR Contract for Roger Scott that refers to the above mentioned calendar and set it to Running
3. Create a payslip for that employee for the period 2018-08-01 ~

[2018-08-03 13:08] jlaloux opened #26156 "[11.0] Access right issue on projects when a project user tries to create a task related to a project when module project_pad is installed"
Impacted versions: 11.0

Steps to reproduce: On runbot,
- install pad_project module
- Change access rights on demo user to make him "project user"
- Connect on the same DB with demo user
- Create a task using form view with a project
![image](https://user-images.githubusercontent.com/7678583/43644317-a0bf9208-972e-11e8-9bb1-535c972083c8.png)
- Save

Current behavior:
Access right issue
![image](h

[2018-08-03 16:23] deivislaya opened #26161 "[11.0] Bug in Inventory validation report"
**Impacted versions:**
11.0 ee
**Steps to reproduce:**

1. Set up a stockable type product, where its category has a FIFO cost method and its inventory valuation is automated

![card graphics card odoo 1](https://user-images.githubusercontent.com/5775695/43652189-7c9460d2-9712-11e8-9d32-79a6ab0b988b.png)
![all saleable physical odoo](https://user-images.githubusercontent.com/5775695/43652201-83db2

[2018-08-03 17:20] blaggacao opened #26162 "[FR] Archiving custom model records"
**Impacted versions:**
v10  v11 master

**Steps to reproduce:**
- Create a Odoo Studio Model
- Create some records
- Select records that you want to archive (not delete)
- Click on actions

**Current behavior:**
- There is no "Archive" action
- It cannot be created as on the module, only custom fields prefixed with `x_` are allowed
- `x_active` does not seem have any "magic" functionality

**Expec

[2018-08-03 17:35] moylop260 commented on #25967
What about uses multi records for `convert_to_read` or `name_get` instead of uses one record each time?
 - https://github.com/odoo/odoo/blame/b623695ee76b22be2b50d5eeb51e8a22bb813660/odoo/models.py#L2601

If you have a view with 10 fields m2o for 80 records the `name_get` method is called 800 instead of just 10 times (with all 80 records together) since that the methods support multiple records to

[2018-08-03 18:32] blaggacao commented on #26162
cc @nhomar Might I ask you for your (previous) opinion on this?

[2018-08-03 19:50] Ark74 opened #26164 "mail.catchall.domain value reset on update"
**Impacted versions**:
10-CE

**Steps to reproduce:**
Update via git
[code]

**Current behavior:**
The value alias.domain / mail.catchall.domain are reset to the db creation value, not the present one.
Customers pricelist (property_product_pricelist) is reset to Public Pricelist on customers that has their own pricelist already set.

**Expected behavior:**
Update should not reset system values or

[2018-08-03 20:02] gabrielo77 commented on #15161
I'm having the same issue with v8.0.

I've been reading the v11.0 web addon code and it seems they've fixed it in that version.

Do you have an alternative way of fixing this issue ?

[2018-08-04 09:11] master-one opened #26165 "Delegation Inheritance and Inherited View (Odoo 11)"
Inheriting a model by delegation does not link to its associated form view buttons.

Details:
I have created a model that inherits the product.template model by delegation.
For the new model I have its form view inherit the product.template's form view.
Now when I add variants in the variant tab and then click on the Variant Prices button,
I get an empty list of variants.

I am using Odoo 11.

![2

[2018-08-04 11:00] master-one commented on #26165
![2018-08-04 16_27_36- views xml - official - visual studio code](https://user-images.githubusercontent.com/42087736/43675785-53386516-9803-11e8-8e18-7611697dfb52.png)

LIKE IT OR NOT,
IT'S A PROBLEM WITH ODOO &
NOT MY CODE!

[2018-08-04 11:04] master-one opened #26166 "(Closed for WRONG REASONS ) Delegation Inheritance and Inherited View (Odoo 11)"
Inheriting a model by delegation does not link to its associated form view buttons.

Details:
I have created a model that inherits the product.template model by delegation.
For the new model I have its form view inherit the product.template's form view.
Now when I add variants in the variant tab and then click on the Variant Prices button,
I get an empty list of variants.

I am using Odoo 11.

![2

[2018-08-04 11:40] pedrobaeza commented on #26166
Opening another issue doens't change the result: you have to check your custom code, not to blame Odoo. Any way, if you don't dig more in the possible underlying problem, and put some more elaborated reasons and possible ways of solving this, you are not going to get anything except an "opened issue".

[2018-08-04 11:40] #26166 closed

[2018-08-04 12:00] master-one opened #26168 "Inheritance by delegation views and active_id"
**LIKE IT OR NOT.**
 ****IT'S A FAULT OF ODOO.****

**REASON:**
WHEN INHERITING BY DELEGATION,

THE INHERITED VIEW USES THE
ID OF THE INHERITING MODEL (SUBCLASS) AS THE ACTIVE ID

FOR THE ELEMENTS OF THE FORM ASSOCIATED WITH
THE INHERITED MODEL (SUPERCLASS).

I've created a child module of product.template using Inheritance by delegation. I've created a view that inherits product.product_template_

[2018-08-04 12:54] novawish opened #26169 "[stock_account] Product cost (FIFO) is only updated after the product was delivered (not when receiving products)"
Impacted versions:
11.0
# Steps to reproduce:
Configure product category like below
![image](https://user-images.githubusercontent.com/31387997/43676549-b9a4c51e-981d-11e8-98a2-e71833041808.png)
And do a purchasing of products belong to that category, the product has been valued in menu `Inventory Valuation`:
![image](https://user-images.githubusercontent.com/31387997/43676606-9937a390-981e-11e8-8

[2018-08-04 13:06] pedrobaeza commented on #26168
OK, you got it: you will have an opened issue for now... but unresolved.

I think you try to create a product.product instead of a product.template, and thus the inheritance by delegation should be on product.product record, but I'm not able to deduce it from you report, as spitting out a lot of code and screenshots is not the way for understanding it. You should focus on the exact problem and put

[2018-08-04 17:56] aaronsaquing commented on #23508
In my Odoo 11, barcode is missing in html as well as in pdf. I have installed and follow every instruction here. Please help me out.

See file example below for Print Badge ID.

![id](https://user-images.githubusercontent.com/42097911/43679146-ac6ab982-9852-11e8-9a12-691a1a4c2871.JPG)
![id2](https://user-images.githubusercontent.com/42097911/43679147-aca5f42a-9852-11e8-98cc-c879b9f57d8b.JPG)

[2018-08-04 17:57] pedrobaeza commented on #23508
This seems to be a problem with your `web.base.url` system parameter. Check it to see.

[2018-08-04 17:59] aaronsaquing opened #26170 "Missing Barcode on HTML and PDF print"
In my Odoo 11, barcode is missing in html as well as in pdf. Please help me out.

Running in Debian 9 stretch
Odoo CE 11

See file example below for Print Badge ID.
![id](https://user-images.githubusercontent.com/42097911/43679165-19eb683a-9853-11e8-85c0-c009c306d769.JPG)
![id2](https://user-images.githubusercontent.com/42097911/43679166-1a27314e-9853-11e8-948c-24eaa7e87cb7.JPG)

[2018-08-04 18:00] pedrobaeza commented on #26169
I have updated the title to include the FIFO word.

@jco-odoo can you answer the reason for this behavior?

[2018-08-04 18:02] pedrobaeza commented on #26170
Please don't open new issues for questions. I have answered the other one kindly, but the suitable place for questions are the forums (https://www.odoo.com/forum/help-1). If the tip I have given you in the other issue is not enough, please go there for trying to reach more help.

Closing this by the reason above.

[2018-08-04 18:02] #26170 closed

[2018-08-04 18:05] pedrobaeza commented on #26161
Did you activate the automatic valuation at the beginning and configure properly the stock accounts? Can you please try to reproduce full process in runbot (https://runbot.odoo.com)?

[2018-08-04 18:13] pedrobaeza commented on #26156
This is a side effect of related fields without readonly attribute, that rewrites the field although not changed. I have created #26171 for solving it.

[2018-08-04 18:15] aaronsaquing commented on #23508
@pedrobaeza I strictly followed adding or updating value on web.base.url the  http://127.0.0.1:8069 but nothing work.

[2018-08-04 18:35] aaronsaquing commented on #23508
@pedrobaeza Yes, will continue to other mean to solve this. Btw, nothing is printed, both in HTML and PDF. Other issues on the forums is that they have it on HTML and not in pdf. My case is a little bit different.

[2018-08-05 13:16] Elbagoury commented on #26112
@Yenthe666  i tested it with two different users the bug didn't appeared  .
@mga-odoo it is still a bug because in many business scenario we  need to  access with admin user or a power user has access to many different companies

[2018-08-05 15:30] mga-odoo commented on #26112
If you ask my opinion, don't allow your customer to work with the admin user as access rights and record rules are by-pass for admin use specially (when user=1 id), you should create a new super user same as admin by giving all the access rights to that user.

still if you consider as a bug, you can keep it open, but doing business operation with admin user (id=1) is not a right approach.

[2018-08-05 16:43] mga-odoo commented on #26112
I am not consider this as a bug, as goal of the admin user is to give the seamless experience to the user in their first 5 minutes of usage.

The case we are taking **Inventory Valuation** itself is not so easy, and specially when we do it for the **multi company**, of course this is the case for the expert users and experts never use admin user to test the multi company business operations.

So,

[2018-08-06 00:07] luis-inagaki opened #26174 "error message - when install apps"
Impacted versions:
odoo 11 Community edition.
Steps to reproduce:

Current behavior:

Expected behavior:

Video/Screenshot link (optional):

Erro:
Uncaught TypeError: this.$buttons.off(...).destroy is not a function

http://localhost:8069/web/content/667-9945aae/web.assets_backend.js:2098
Traceback:
TypeError: this.$buttons.off(...).destroy is not a function
    at Class.destroy (http://localhost:

[2018-08-06 05:15] pedrobaeza commented on #26174
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-08-06 05:15] #26174 closed

[2018-08-06 05:39] Elkasitu commented on #26168
Try again by being more civil

[2018-08-06 05:39] #26168 closed

[2018-08-06 06:02] #26112 closed

[2018-08-06 06:13] IDeveLooper opened #26175 "Pillow==4.0.0 in odoo 11.0 requirements.txt is not compatible with python 3.7"
Impacted versions:
Odoo 11.0 with Python 3.7

Steps to reproduce:
Try to install required packages of python
`pip install -r requirements.txt`

Current behavior:
[code]

Expected behavior:
Successful installation of odoo requirements

Solution:
According to [Pillow documentation](http://pillow.readthedocs.io/en/latest/installation.html#notes) Python 3.7 only supports Pillow >= 5.2.0 .
So I think r

[2018-08-06 06:27] CasVissers commented on #25681
For a ticket concerning a default Odoo process it's not really handled with priority.

[2018-08-06 06:28] Yenthe666 commented on #26175
@d-fence another package related one for you to check 😉

[2018-08-06 06:51] gdgellatly commented on #26175
pillow has lib dependencies like zlib, jpg tiff etc that need installing if
trying from source. Not really a py 3.7 issue. Even latest version would
fail.

On Mon, 6 Aug 2018, 6:28 PM Yenthe V.G, <notifications@github.com> wrote:

[2018-08-06 07:02] len-odoo commented on #25681
Issues on Github are indeed treated with lower priority than OPWs.
In case you prefer to use this workflow, we would recommend creating the Github issue as usual, then simply linking to the issue in the OPW.

[2018-08-06 07:32] #25795 closed

[2018-08-06 07:52] #25409 closed

[2018-08-06 07:59] CasVissers commented on #25681
@len-odoo added OPW (OPW 1872131)

[2018-08-06 08:18] jlaloux commented on #26156
Thank you Pedro

[2018-08-06 09:18] Yenthe666 commented on #26168
@master-one in fact you're talking to one of the most known community members. Pedro has years of experience and out knowledges plenty of people from the community. You might want to rethink your steps here, think about you communicate in a decent way and then we can see if we can help you again.
Yelling or throwing dirt at somebody is easy but has no purpose, you'll only achieve the opposite of w

[2018-08-06 09:33] Boss1669 opened #26182 "[11.0] barcode of product attribute still exist in the database when attribute is change"
Impacted versions: [11.0]

Steps to reproduce:
1.Create Product called it "TEST"
2.Add Attribute to Product Suppose [Color : Blue, Yellow]
3.Go to Variant, Add following barcode to product
blue : TESTBLUE
yellow : TESTYELLOW
4.Press "SAVE"
5.Go to Product Template
remove color yellow value then add green value
6.Go to Variant
Then Green when should be automatically generate by system
Try adding "T

[2018-08-06 12:46] ged-odoo commented on #25725
@blaggacao

We actually talked  about moving from the jquery promises to the native promises.  For various reasons:
- we tried upgrading jquery from 1.11 to 3.x, and the jquery promises changed their semantics,
  which broke a few things
- performance (jquery promises are heavy)
- better semantics (this is the issue you raised in this ticket)
- reduce our dependency on jQuery

But moving from jque

[2018-08-06 12:46] #25725 closed

[2018-08-06 14:17] Highcooley commented on #13856
Same problem here in V10. Additionally, when adding a new user, pressing the save button doesn't result in any response. But in the background, a new customer gets added, every time I press save. After exiting the customer selection and entering again, the new customer is displayed in the list and can be selected. Sales to this customer get registered, but the customer cannot be handed over to thi

[2018-08-06 15:28] sswapnesh opened #26194 "[11.0] Removing filter/group by does not update Pivot Report"
Impacted versions: 11.0

Steps to reproduce: Go to any Pivot Report

- Eg. All Channels Sales Orders
-  Apply Custom Filter/Group By
![rt1](https://user-images.githubusercontent.com/16624719/43725848-41d2e6e8-99bb-11e8-817e-918d3a4d2f32.png)
- Remove applied Filter/Group By

![](https://image.prntscr.com/image/0pCuYvgLRN6yhyHYUK236Q.png)

Current behavior: View is not Updated.
![rt3](https://user-

[2018-08-06 16:27] Yenthe666 commented on #26168
Not compliments, it's true. You have a great knowledge of Odoo and others should respect that. We don't always agree on each other but I can see you have some great skills and knowledge. ;)

[2018-08-06 16:55] sswapnesh opened #26195 "[11.0/12.0] Could not remove attachment from Media"
Impacted versions: 11.0/12.0

Steps to reproduce:  Add and Remove media from html field
![po2](https://user-images.githubusercontent.com/16624719/43729702-bb0b0c6a-99c6-11e8-8541-2ab82af5c2d8.png)

![po1](https://user-images.githubusercontent.com/16624719/43729707-bc4a15ee-99c6-11e8-9398-fc9bb388015e.png)

Current behavior:
![](https://image.prntscr.com/image/WZ67W-sWTt6GeVW0T4E90Q.png)

Expected

[2018-08-06 17:31] sswapnesh commented on #26182
Hello @Boss1669
I am not able to Reproduce same on Runbot v11.
It seems working fine.

[2018-08-06 20:19] grzekru opened #26197 "[11.0] Unable to install PyYAML==3.12 on newest Arch Linux (Python 3.7.0, GCC 8.2.0)"
Using virtualenv and "pip install -r requirements.txt" command
Works fine with PyYaml 3.13

Trackback:
Building wheels for collected packages: PyYAML
  Running setup.py bdist_wheel for PyYAML: started
  Running setup.py bdist_wheel for PyYAML: finished with status 'error'
  Complete output from command /home/gk/Software/odoo11/venv/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-i

[2018-08-07 00:27] hydrosIII commented on #26139
I think the issue has been solved. But i do not think it is exclusive to odoo enterprise. Here is the patch provided from odoo developers, Sorry for the question, what is an OPW?. : https://github.com/odoo-dev/odoo/commit/93bbbbae326ec7928b62ed5081e8e7ab836c15c4

[2018-08-07 00:27] gdgellatly commented on #26197
You can use search before posting issues to see if they are resolved first.

https://github.com/odoo/odoo/issues?utf8=%E2%9C%93&q=pyyaml+

[2018-08-07 01:11] gethino opened #26198 "ModuleNotFoundError: No module named 'odoo.exceptions'"
I'm trying to run Odoo11 from source code on my Ubuntu 18.04 but I get the following error:
[code]
What am I doing wrong? Can someone help please.

[2018-08-07 05:07] pedrobaeza commented on #26139
OPW is the acronym of "Odoo Publisher Warranty", and it's the former name for the enterprise tickets that it's still used by a lot of people.

[2018-08-07 05:09] pedrobaeza commented on #26198
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-08-07 05:09] #26198 closed

[2018-08-07 05:10] pedrobaeza commented on #26197
Closing by the reasons above.

[2018-08-07 05:10] #26197 closed

[2018-08-07 06:36] Yenthe666 commented on #13856
Hi there,

This should have been fixed in https://github.com/odoo/odoo/commit/9609f79cad50613049dc20b0d7eb9cad012fdbf4 from V10 onwards.

Regards,
Yenthe

[2018-08-07 06:36] #13856 closed

[2018-08-07 06:45] pohvak opened #26201 "external api returns all records instead of the condition"
Impacted versions: 11

Steps to reproduce: use external API with Python and search_read for all records where website_public_price < 3

models.execute_kw(db,uid,password,"product.product","search_read",[[["website_public_price","<","3"]]],{"fields":["code","website_public_price"],"limit":5}) is the code im using

Current behavior: returns all records

Expected behavior: return only records with we

[2018-08-07 07:06] CarlijnPeeters commented on #25924
I'm still having issues with this. Can someone help me out please?
Kind regards,
Carlijn Peeters

[2018-08-07 07:17] mart-e commented on #26124
Indeed, the right thing is to fix it in Transifex, thanks for the report and fix !
This is unfortunately a problem we could have with all translations containing a `%s`. If we have bad translations, we need to fix them asap.
We are planning to add a runbot test to detect such bad translations.

[2018-08-07 07:17] #26124 closed

[2018-08-07 08:55] Yenthe666 commented on #25924
@CarlijnPeeters why don't you make an official Odoo ticket? You're a partner 😉

[2018-08-07 09:11] giordano-ch opened #26208 "[11.0] Unable to install hw_escpos (No module named qrcode)"
I try to install ESC/POS Hardware Driver module (hw_escpos) in odoo 11 enterprise

During installation we receive the following error:

Unable to install module "hw_escpos" because an external dependency is not met: No module named qrcode

I already installed qrcode library in different ways:

pip install qrcode
pip install pyqrcode
pip3 install pyqrcode
pip3 install qrcode
sudo apt-get install py

[2018-08-07 09:14] pedrobaeza commented on #26208
AFAIK, that module is not intended for you to install it, as it's part of the PosBox architecture.

[2018-08-07 09:18] Yenthe666 commented on #26195
Hmm I don't get the exact traceback but it does seem to hang and throw me error logs:
[code]

[2018-08-07 09:57] jco-odoo commented on #26169
Because of returns.  It is not a good measure to value it anyways.  Maybe we need remaining_value / remaining_qty or standard_price in the report.  @lap-odoo

[2018-08-07 09:57] #26169 closed

[2018-08-07 10:47] osluys opened #26210 "WHERE clause makes overriding name_search method pointless"
https://github.com/odoo/odoo/blob/52fef21d8145175d76afede8455c48e739bb17ab/odoo/addons/base/res/res_partner.py#L655

The AND operator in the WHERE clause construction in the source line above limits the `name_search` method to only fields `email`, `display_name`, `ref`, and `vat`, no matter what additional search fields I may specify when overriding this method.

For example, suppose I override th

[2018-08-07 11:04] gdgellatly commented on #26210
But you are specifying the AND clause in your own code? You need to include
an or operator in your args somewhere as well, otherwise it defaults to an
AND.

On Tue, 7 Aug 2018, 10:48 PM osluys, <notifications@github.com> wrote:

[2018-08-07 11:11] gdgellatly commented on #26210
Also I thought display name included parent name anyway. But yh I see your
problem now.

On Tue, 7 Aug 2018, 11:04 PM Graeme Gellatly, <gdgellatly@gmail.com> wrote:

[2018-08-07 12:16] gustavovalverde opened #26215 "[All] stock_account: Valuation accounts must be property fields (multicompany)"
Impacted versions:
All

Steps to reproduce:
1. Create **Company A** & **Company B**
2. Go to **Company A**
3. Assign a Valuation account to the default stock adjustment location (ref: `stock.location_inventory`)
4.  Do an Inventory Adjustment of a product with a surplus (more than what you have on hand)
5. The valuation account of **Company A** is used

6. Go to **Company B** and repeat **step 4**

[2018-08-07 12:37] CasVissers opened #26217 "[10.0] Incorrect account move line in MO when using average cost price"
Impacted versions:
10.0

Steps to reproduce:
Product X - ( Real-time / Average cost price / Anglo saxon on)
Product X - Current stock qty = 1 / price =10
Product X - Create MO in which raw material total in price 5

We get two account moves:
1. Decrease the stock of the raw material + create booking for 5
2. Increase of the stock of product x with price 7,50 ((5+10)/2)

I.e.

Current behavior:
The

[2018-08-07 13:32] pedrobaeza commented on #26210
@mart-e a hook method for preparing the SQL clause can be accepted?

[2018-08-07 14:15] deivislaya commented on #26161
No, I didn't it the automatic valuation at the beginning. However, I would like to know why both options in the inventory valuation report show different results when it should be the same. Attach video of the process in runbot odoo https://youtu.be/dEV5Zvj_99s

[2018-08-07 15:03] gustavovalverde commented on #25290
Related issues to MO's cost computation:
https://github.com/odoo/odoo/issues/26217
https://github.com/odoo/odoo/issues/21150
https://github.com/odoo/odoo/issues/25894

[2018-08-07 15:20] mohdshoaib04 opened #26223 "Wkhtmltopdf error 2 on printing sales order"
Impacted versions: odoo 11 (sh)

Steps to reproduce: print sales order from print menu

Current behavior: wkhtmltopdf error

Expected behavior: should print pdf

Video/Screenshot link (optional):
Error :

Wkhtmltopdf failed (error code: 2). Message: b'usage: wkhtmltopdf [-h] [--cookie --COOKIE --COOKIE] [--quiet]\n [--page-size --PAGE-SIZE] [--page-width --PAGE-WIDTH]\n [--page-height --PAGE-HEIGH

[2018-08-07 15:34] oerp-odoo commented on #26223
Noticed same bug on odoo.sh. I guess odoo.sh is currently outdated and does not have fix, cause after updating code locally, this problem was solved. How long till fix is deployed on odoo.sh? Why you guys are delaying it so much on odoo.sh?:)

[2018-08-07 15:41] mohdshoaib04 commented on #26223
@oerp-odoo Do you know any fixes for this issue ?

[2018-08-07 15:59] oerp-odoo commented on #26223
I didnt find which particular  commit fixes it, but recently updating odoo
repo locally, solved this issue. Cause i had same issue on my pc which had
older odoo code. Though on odoo.sh we need to wait for odoo, to update
their code..

On Tue, Aug 7, 2018, 18:42 mohdshoaib04 <notifications@github.com> wrote:

[2018-08-07 16:03] mohdshoaib04 commented on #26223
Seems, odoo has updated with fix, We are now able to print reports.
@oerp-odoo Thanks for some issue insights.

[2018-08-07 18:01] Yenthe666 commented on #26223
@rim-odoo or @beledouxdenis can one of you check?

[2018-08-07 18:12] beledouxdenis commented on #26223
This issue has been solved and customers having created a support ticket to help@odoo.com have been notified. I didn't think users would create issues regarding the Odoo.sh platform here so I didn't come to see if there were issues here regarding that matter.

We sincerely apologize for the inconvenience this issue has caused. We learned from today's mistake and will review our platform and intern

[2018-08-07 18:12] #26223 closed

[2018-08-07 18:14] oerp-odoo commented on #26223
@beledouxdenis thanks for notification

[2018-08-07 18:46] ruifranco opened #26225 "EE 11 - web_gantt not showing colours in bars (for tasks)"
Impacted versions: EE 11

Steps to reproduce:

Create a Gantt to be applied on tasks

Current behavior:

The colour of the tasks is not taken into consideration

Expected behavior:

The bars should show a colour aproximate to the one set for each task

This can be fixed by editing the web_gantt/static/src/js/gantt_model.js file and add "fields.push('color');" after "fields.push('display_name');"

[2018-08-07 19:15] Yenthe666 commented on #26225
@ruifranco why don't you make a PR since you know the exact problem and you're proposing a fix? 😄 we'd love to see one!

[2018-08-07 21:25] blaggacao commented on #25725
This is good news, I pretty much like what as been done in `es6`.

[2018-08-07 23:15] moylop260 commented on #26175
I have created a PR to test odoo with python3.7 from our teavis CI and this package is working well

More details:

https://github.com/OCA/maintainer-quality-tools/pull/562

@nhomar could you close this issue?

[2018-08-07 23:47] ruifranco commented on #26225
Well @Yenthe666, because it would be much faster for Odoo guys to do it and publish the fix. But I'll do it, anyway (and let's see how long it will take to be accepted).

;)

[2018-08-08 02:56] skanel commented on #20715
I got the same error.

[2018-08-08 05:36] pedrobaeza commented on #20715
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2018-08-08 05:36] #20715 closed

[2018-08-08 06:16] #26175 closed

[2018-08-08 06:16] Yenthe666 commented on #26175
@moylop260 you can always ping me too. Thanks for testing!

[2018-08-08 06:40] fmdl commented on #26201
`website_public_price` is a computed field, the search fonction doesn't work with.
https://github.com/odoo/odoo/blob/0dcf139aa763b05f0600c7d6e2ccea70be2148ef/addons/website_sale/models/product.py#L133

[2018-08-08 06:57] Yenthe666 commented on #26201
@fmdl but don't you think it should handle it through the XML-RPC though?

[2018-08-08 07:03] keshrath commented on #21682
This problem seems to still exist but at least for me the workaround of @gswf-sha worked.
Thank you!

[code]

[2018-08-08 07:05] pedrobaeza commented on #21682
@xmo-odoo it seems that this still happens

[2018-08-08 07:36] pedrobaeza commented on #26217
@CasVissers seeing current code, the fallback cost price is the current standard one, so I don't see the problem.

What you are expecting is that the cost price is computed from the accumulated cost of raw materials, but that's not performed, as it's not a correct formula, due to the rest of the manufacturing costs (workforce, machines, etc) is not taken into account, and it will be more confusing

[2018-08-08 08:10] SaravananSakthivel commented on #23354
File "/home/odoo/workspace/odoo/odoo/models.py", line 3314, in _write
    self.recompute()
  File "/home/odoo/workspace/odoo/odoo/models.py", line 4892, in recompute
    vals = {n: rec[n] for n in ns}
  File "/home/odoo/workspace/odoo/odoo/models.py", line 4892, in <dictcomp>
    vals = {n: rec[n] for n in ns}
  File "/home/odoo/workspace/odoo/odoo/models.py", line 4750, in __getitem__
    return

[2018-08-08 08:12] SaravananSakthivel commented on #23354
@Yenthe666 Any idea

[2018-08-08 08:15] Yenthe666 commented on #23354
@SaravananSakthivel sorry but way too little info to find the issue for this. Probably a misconfiguration in workers/postgreSQL db

[2018-08-08 08:16] mart-e commented on #23354
Sorry but we are unable to reproduce this issue ourself. Reposting the same traceback does not help, we need a way to reproduce it to understand the problem.

[2018-08-08 08:48] SaravananSakthivel commented on #23354
Traceback (most recent call last):
  File "/home/odoo/workspace/odoo-11.0.post20180423/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/workspace/odoo-11.0.post20180423/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/home/odoo/workspace/o

[2018-08-08 08:51] pedrobaeza commented on #23354
But please put the detailed steps to reproduce the problem (login, go to..., click on..., change this or that, etc).

[2018-08-08 08:54] SaravananSakthivel commented on #23354
@pedrobaeza  while saving the record not creating.
Ex:
When i try to adding/removing the value from any text/char/many2one/many2many/one2many field and click on the save button it doesn't work.

[2018-08-08 08:55] pedrobaeza commented on #23354
This seems a problem with your deployment due to custom modules or custom code. Have you been able to reproduce the problem on runbot (https://runbot.odoo.com with admin/admin)?

[2018-08-08 08:58] SaravananSakthivel commented on #23354
Not tried

[2018-08-08 08:58] mart-e commented on #23354
My guess would be for a deployment issue.
Please make sure to follow our recommendations at https://www.odoo.com/documentation/11.0/setup/deploy.html (or the one for the appropriate version)

[2018-08-08 09:01] Boss1669 opened #26236 "[11.0] error when trying to access product or product variant"
Impacted versions: [11.0]

Steps to reproduce: try accessing product or product variant
![image](https://user-images.githubusercontent.com/26357404/43827526-362ccfc4-9b24-11e8-885d-babcf003530e.png)

not sure is it because i update odoo to latest one

Current behavior:
`Traceback (most recent call last):
  File "/odoo-production/odoo-production-server/odoo/http.py", line 650, in _handle_exception

[2018-08-08 09:17] wtaferner commented on #23354
@mart-e
It is a valid issue which does originate and will be solved with an extension of https://github.com/odoo/odoo/pull/26130 (KeyError + MissingError). I am waiting for a review, but I resolved both issues exactly there and it is happening b/c a performance improvement last year removed the ```records.exists()``` filter.

[2018-08-08 09:31] pedrobaeza commented on #26236
This is because you haven't update modules in the DB. You can do it through "Update" button on the module list (the recommended one is to update `base` module for updating all) or via command line with `-u all` parameter.

Closing as no real issue.

[2018-08-08 09:31] #26236 closed

[2018-08-08 09:53] Boss1669 commented on #26236
@pedrobaeza i did following

sudo git fetch origin 11.0
sudo git reset --hard origin/11.0
sudo service odoo-production-server restart -u all

[2018-08-08 09:56] pedrobaeza commented on #26236
That's not valid, as the command for restarting is not to launch Odoo in command line. Do the other thing then if you don't figure out how to do launch Odoo in command line.

[2018-08-08 10:02] pedrobaeza commented on #26141
Why should you expect 0.5? It should be 0.5 if you define 8 hours and work 4, but defining 4 hours and working 4 results in 100% of the expected work hours, and thus 1.

Change your working calendar to have 8 theoretical hours on Saturday and you will have your expected result.

Closing by the reasons above.

[2018-08-08 10:02] #26141 closed

[2018-08-08 10:41] auyeung112002 opened #26239 "[11] Fail to Search on Related Field"
Impacted versions:
10, 11, master maybe

Steps to reproduce:
1. Setup two models. Model_A contains field "description". Model_B contains a many2one field to Model_A and a related field to Model_A.description
2. Create a search view on Model_B and include the related description field.
3. Create A user who has access to Model_B but not Model_A
4. Open List liew of Model_B and search using "descript

[2018-08-08 10:42] pedrobaeza commented on #26239
Have you tried using `related_sudo=True` attribute?

[2018-08-08 10:45] auyeung112002 opened #26240 "[10, 11] Can change entry date prior to account lock date"
Impacted versions:
10, 11, master maybe

Steps to reproduce:
1. Create a journal entry dated 2018-01-01
2. Post the entry
3. Set both account lock date to 2017-12-31
4. User odoo api to change the entry date to 2017-12-31.
`account_move.date='2017-12-31'`

Current behavior:
Will Change the entry date

Expected behavior:
Will pop up error and fail to chnage the entry date

[2018-08-08 10:46] auyeung112002 commented on #26239
Yes, related_sudo is default to True

[2018-08-08 10:47] auyeung112002 commented on #26239
This is actually a unbalance user experience. Because User can read the content of related field but encounter error when trying to search

[2018-08-08 10:48] pedrobaeza commented on #26239
Yeah, it can be that the sudo part is not applied to search method. @rco-odoo can you please check this?

[2018-08-08 11:30] xmo-odoo commented on #26201
@Yenthe666 why would xml-rpc behaviour be any different than internal? search simply ignores non-searchable fields (fields which are neither stored nor with a search callback defined). One could argue for and bemoan the lack of a hard error, but I think this ship has long sailed (the behaviour is pretty long-standing and would likely break a lot of code, though you could also say this code is alre

[2018-08-08 11:36] Yenthe666 commented on #26201
@xmo-odoo fair point. A warning would be a good improvement! Perhaps an internal task?

[2018-08-08 12:29] AmrDataHolic commented on #22050
I had This Issue. happened to me after installing an addon.
I tried a lot of solutions. some on DataBase, some with coding.
Nothing solve it but one solution.....
I removed the last installed addon folder from my Server Folder on the path :
C:\Program Files (x86)\Odoo 11.0\server\odoo\addons

that solved the issue totally

[2018-08-08 12:33] AmrDataHolic commented on #19219
I had the same issue with the same version on the same OS
Tried many Solutions.....  The only worked solution is :
1- open the path : C:\Program Files (x86)\Odoo 11.0\server\odoo\addons
2- remove the last addon you installed
3- restart the service of Odoo v11.0
Now ALL IS WORKING PERFECTLY
This is the easy solution ..... simplest way to get back online>>>
no need for complexity

[2018-08-08 12:37] xmo-odoo commented on #21682
@keshrath do you have a repro case? aka what are you doing specifically when you hit that issue.

[2018-08-08 12:52] keshrath commented on #21682
I made a mini example script that uses the demo and tries to create a new partner.

[code]

I get the following error:

[code]

I hope this help :)

[2018-08-08 13:39] davidtranhp commented on #26141
@pedrobaeza It seems that closing issues/PR aggressively is what makes you enjoy ^_^

[2018-08-08 13:42] #26156 closed

[2018-08-08 13:48] intero-chz commented on #26141
I think the big issue here is, that "a work day" is never been specified. And if we speak of payslips, "workdays" or "workweeks" or whatever base the calculation is made of, should be specified anywhere.

[2018-08-08 14:35] dansanti commented on #23354
Hi, the only way to reproduce it:
1.- create a sale order with No root user
2.- add some SO lines
3.- left a few days (like 6)
4.- login with no Root user
5.- try to delete a line

I try migrating to another server but problem still happens

then, i try to track the problem, and fails when try to load currency_id

@pedrobaeza the problem is with no admin user, if you try with admin, lines can be d

[2018-08-08 20:25] zaoral opened #26255 "Access error when trying to see subscription form view with *See Subscription* permission active"
### Impacted versions:

11.0

### Steps to reproduce:

1. Create a new user with minimum permission `(Employees: Employee only)`
2. Add permissions to see subscriptions `(Subscriptions: See Subscriptions)`
3. Go to the subscriptions list view and click on a subscription that have invoices or sales in order to see its form view

### Current behavior:

Not able to see the subscription form view. Acc

[2018-08-08 20:26] zaoral commented on #26255
FYI opw-1873346

[2018-08-09 00:51] celm1990 opened #26256 "[11.0] Payroll Workdays wrong if User Time Zone is not UTC"
**Impacted versions:**
11, tested on runbot
**Steps to reproduce:**
**With User's time zone NOT CONFIGURED(UTC)**
- Create a Payslip for a employee with contract active. Calendar is Standard 40 Hours/Week
-Set Date from 01/08/2018
-Set Date to 31/08/2018
-Number of day is 23 and Number of hours is 184
 IT IS OK, Between 01 to 31 August work 8 hours daily from Monday to Friday

![image](https://use

[2018-08-09 01:46] paudel123 commented on #23354
Now very upset with the things.

Today again, my customer service representative wanted to delete the first line item but could not.

I logged in as Administrator and delete the line item for him.

Is there anything we can do please...
Is there any patches/fixes for this.

[2018-08-09 02:27] auyeung112002 opened #26257 "[WISHLIST] Add Support of nulls first | last in order by clause"
Impacted versions:
10, 11, master
Steps to reproduce:
`_order = 'name desc nulls last'`

Current behavior:
Fail to use this because this regex does not consider nulls first | last
https://github.com/odoo/odoo/blob/d92f17cebe048190679f7f86456d93aa98c0cb2a/odoo/models.py#L65

Expected behavior:
Able to use nulls first | last

[2018-08-09 02:36] TimLai125 commented on #23354
@paudel123 Hi, the pattern on my customer's environment is slightly different from you, the user is unable to add and delete the order line at the same time, e.g. the user is able to Edit > Delete Line > Save > Edit > Add Line > Save but not Edit > Delete Line & Add Line > Save.
You may ask @wtaferner to send you his patch to fix this, but that is not an official fix.

[2018-08-09 03:03] DanteMA commented on #22517
Where is "web_editor/static/src/js" located?, Im using meteor framework and have searched manually in my project folders but with no avail.

[2018-08-09 03:48] gustavovalverde opened #26258 "[master] Can't create a new database - with demo data"
#### Impacted versions:
master

#### Steps to reproduce:
1. Create a Database with demo data

#### Current behavior:
[code]
#### Expected behavior:
Be able to log in to the new database

[2018-08-09 03:51] gustavovalverde opened #26259 "[master] Hitting 'Learn More' in the App dashboard hides the app"
#### Impacted versions:
master

#### Steps to reproduce:
1. Hit 'Learn More' in one of the apps kanban
2. It sends you to the odoo.com information page
3. Return to your odoo install

#### Current behavior:
The app kanban is no longer there

#### Expected behavior:
The kanban should not disappear

[2018-08-09 05:38] pedrobaeza commented on #26257
@rco-odoo this can be good to have it if there's no other side effect. Can you evaluate the convenience of this?

[2018-08-09 05:41] pedrobaeza commented on #23354
Thanks all for the info, but it seems there's still no fixed steps to reproduce the problem. @dansanti in your steps, the step 3 is the undetermined, and that's the problem, as we don't know what happen in that "let a few days". It's for sure not a question of time, but something that is done on that time.

@TimLai125 about your steps, seems to be more reproducible, but are you able to get the err

[2018-08-09 05:44] pedrobaeza commented on #26258
@gustavovalverde master branch is red in runbot currently (http://runbot.odoo.com/runbot) and Odoo team is aware of it. They are working on fixing it. If the branch turns green and you continue with the problem, then please report it again.

[2018-08-09 05:48] pedrobaeza commented on #26259
This is still a proof of concept according Fabien's comment in https://twitter.com/fpodoo/status/1026489755800928256.

Any way, I ping @fpodoo for letting him know your feedback, as I also consider that links should be opened in a new tab/window, not in the same one (it's a little change in the target), but closing this issue as it will probably change in the final version.

[2018-08-09 05:48] #26259 closed

[2018-08-09 05:51] pedrobaeza commented on #26256
@tde-banana-odoo it seems you were the one who work on this. Can you check this issue report as it seems legit?

[2018-08-09 06:26] pedrobaeza commented on #26240
You are abusing the system changing a field manually through code, and this kind of side effects can happen. It's the same about changing for example the state of an order that has been confirmed via code. Checking all these possible changes will make the code more complex, slow and with possible side effects.

I have tried on runbot to force the same on the UI, and it's not possible, so it can't

[2018-08-09 06:32] auyeung112002 commented on #26240
Partly agree. But in the sense of account lock date, date of posted entry prior to lock date should not be changed in all way. It will help preventing developer to change the date unintentionally.

[2018-08-09 06:38] #25488 closed

[2018-08-09 06:45] TimLai125 commented on #23354
@pedrobaeza No, I am not able to reproduce the issue in the runbot but I believe @Yenthe666 is correct that this is actually an issue related to the cache. Therefore it is not easy to reproduce the issue from a clean environment like runbot.
This issue requires someone who is familiar with the Odoo cache mechanism to be able to explain/fix it.

[2018-08-09 08:44] thienlam129 opened #26265 "Odoo Server Error: You should provide a lot/serial number for a component"
Hello!
I'm using odoo v11. I have a problem when i try to 'done' a work order of MO/00003. It's denied. Pleases, tell me how to fix.
![screen shot 2018-08-09 at 3 43 13 pm](https://user-images.githubusercontent.com/41277661/43888175-1bc6e616-9beb-11e8-8523-a8d9e8be7b5f.png)
![screen shot 2018-08-09 at 3 43 16 pm](https://user-images.githubusercontent.com/41277661/43888187-2766650a-9beb-11e8-958f-8

[2018-08-09 08:49] pedrobaeza commented on #26265
One of the components of the manufacturing order (the finished product or one of the raw materials) has the tracking by lot or by serial number, activated, and thus you should provide it.

Any way, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the r

[2018-08-09 08:49] #26265 closed

[2018-08-09 11:00] gustavovalverde commented on #25055
Hi, will this patch be merged?

[2018-08-09 11:05] sle-odoo commented on #25055
We are waiting for some feedback, did you test it? does the feature looks ok to you?

[2018-08-09 11:06] gustavovalverde commented on #24683
Mainly this is caused by the same principle: https://github.com/odoo/odoo/issues/26215

@tivisse do you know if property fields are being considered for v12 in payroll?

[2018-08-09 11:10] gustavovalverde commented on #22886
Is this being considered for v12?

[2018-08-09 11:44] gustavovalverde opened #26277 "[All] note: installing note_pad renders the note app useless"
#### Impacted versions:
All

#### Steps to reproduce:
1. Install Note
2. Create a Bunch of Notes (first line is always shown in the kanban as the note **summary**)
3. Install **note_pad**

#### Current behavior:
All notes created with the pad have no way to show the **summary**, rendering notes useless as there's no way to see a summary to know which note is which:
![image](https://user-images.git

[2018-08-09 11:57] lem8r commented on #26215
+1
 #24862

[2018-08-09 12:48] alelio commented on #25573
This issue is indeed present and serious.
Followed the same steps and the result was that the item has been manufactured, but no raw material has been consumed.

Create MO > Produce partial quantity (all consumed updated correctly and product listed in "Finished products" tab > reduce the Quantity to Produce > complete remaining production/close order

The result is that the material consumed BEFO

[2018-08-09 12:49] tivisse commented on #24683
Hi @gustavovalverde

Yes, the payroll module doesn't manage correctly the multi company.

There are no plan to improve this for the 12.0 release. Anyway, I'm gonna open a feature request that will be qualified and prioritized by our product owners team.

Have a nice day,

Yannick.

[2018-08-09 12:49] #24683 closed

[2018-08-09 12:55] FabioTechSpell commented on #18987
@Yenthe666 Consider that you are using in a wizard, usually with TransientModel, and you need only to link object  chosen to current one. So having write permission on group is useless, nevertheless you should avoid to assign permission rules to TransientModel. Last but not least, if you try to create the rules, to allow to write on that group, you won't be able to have "Add an Item" with any user

[2018-08-09 13:55] MickaelAdhoc opened #26288 "[11.0] Translation doesn't work for read_more / read_less (data-o-mail-quote) in thread.js (mail)"
**Impacted versions:**
11.0 (but previous too i think)
**Steps to reproduce:**
Try to use read more / read less in mail message, no translation on toggle button
**Current behavior:**
No translation when we change langage
**Expected behavior:**
Translation works
**Video/Screenshot link (optional):**
None
**References:**
https://github.com/odoo/odoo/blob/a10ea93dbe5bbfcdc53f7ba46fd2b52ef6862a8f/addo

[2018-08-09 14:00] olivierb2 opened #26289 "Delivery method is not translated in customer's language"
Impacted versions: 10

Steps to reproduce:
- Create new Order/Quote.
- Select a customer
- Add items to the Order/Quote
- Beside **Delivery method** choose the wanted delivery method.
- Click on **Set price**

Current behavior:
- The added item description is never translated to the customer language while traduction has been set from **delivery methods** under **Configuration**.
- Any other manua

[2018-08-09 14:39] pedrobaeza commented on #7533
One email per user.

[2018-08-09 14:56] bumblebeey opened #26290 "[8.0] Enqueue Jobs | No worker started for process Problem"
Impacted versions: 8.0

Steps to reproduce:

i am using with virtualenv and start line here

/home/virtualenv/bin/python /home/odoo/server/odoo.py --config=/etc/openerp.conf --load=web,web_kanban,connector --logfile=/var/log/odoo/openerp.log

Current behavior:

Jobs stuck pending DEBUG log give me that error
DEBUG openerp openerp.addons.connector.queue.model: No worker started for process

Expecte

[2018-08-09 15:00] bumblebeey commented on #26290
Also system time zone is checked, and Enqueue Jobs are dublicated.

[2018-08-09 15:10] clxadmin opened #26291 "[10] Amount Due does not print on invoice with overpaid invoice"
Impacted versions:
10 CE

Steps to reproduce:
create invoice for 10 bugs, create payment with overpay total 15 bugs
mark overpayment as invoice fully done
create new invoice for same partner with example 20 bugs
confirm invoice -- youll notics payment from last invoice 5 bugs, confirm this 5 bugs used for this invoice
you see Amount Due line 15 bugs
print invoice
missing line Amound Due on invoice

[2018-08-09 15:41] gustavovalverde opened #26292 "[11.0] base: report.paperformat allows to create but not to edit or unlink (non-admin)"
Impacted versions:
11.0

Steps to reproduce:
- Create a new paperformat
- Miss-type 'Save'
- Try to Edit it to fix it.

Current behavior:
- Edit button does not exist
- No way to unlink

Expected behavior:
- Do not allow non-admin users to create paperformats **or**
- Allow non-admin users to edit paperformats

[2018-08-09 16:57] pedrobaeza commented on #26288
Can you make the pull request with the change as it seems you are sure about the solution?

[2018-08-09 17:32] bumblebeey commented on #26290
Thank you for your answer i have 4 worker for openerp and 2 worker for crons, also my dbfilter is .*
I will try again tomorrow

[2018-08-09 20:16] skyzluo opened #26293 "changes to web.base.url do not work"
Impacted versions: CE 11

Steps to reproduce: I want to server odoo CE 11 from mydomain.com/crm. So I changed web.base.url to www.mydomain.com/crm and added web.base.url.freeze to True. However, the settings do not work. My odoo still serves from www.mydomain.com. Is this a bug? How do I solve this issue? Thanks

I am using apache2 and odoo-wsgi.py.

Current behavior:

Expected behavior:

Video/Sc

[2018-08-09 21:02] jorenvo commented on #26208
As @pedrobaeza  mentioned you probably won't need this module unless you're setting up a custom POSBox. Anyway, `qrcode` is provided by the [qrcode](https://pypi.org/project/qrcode/) package. Did you check after installing that you could import the module in a Python REPL? This is essentially all Odoo does when checking the external dependencies. This should work:

[code]

If not, you might be in

[2018-08-09 22:13] jaredkipe commented on #11420
@pedrobaeza Yes, or at least on 11.0

[2018-08-10 03:17] rafi16jan commented on #9273
@blaggacao why you close the issue

[2018-08-10 05:06] pedrobaeza commented on #26293
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here, as you have already done.

Closing this by the reason above.

[2018-08-10 05:06] #26293 closed

[2018-08-10 05:44] Yenthe666 commented on #26290
Hi guys,

I'm sorry but Odoo 8 is no longer an officially supported version. There is only official support for the last three versions.
Please ask this issue on the official help forums (help.odoo.com) or on the mailing lists.

Regards,
Yenthe

[2018-08-10 05:44] #26290 closed

[2018-08-10 05:45] Yenthe666 commented on #26288
for your interest @mart-e

[2018-08-10 05:52] Yenthe666 commented on #26240
@auyeung112002 what would you expect? That Odoo fully 'locks' the abilities you have on that field? The power of Odoo is its fleixbility. With flexibility comes responsability, this is one of those things that a developer (or the functional guy) should know. I can think of a few ways to override these behaviours through code so I wouldn't call this a bug.

[2018-08-10 05:52] #26240 closed

[2018-08-10 05:53] Yenthe666 commented on #26289
@mart-e can you check?

[2018-08-10 06:00] Yenthe666 commented on #26258
Not to mention that a lot of comments landed in master in the past days 👍

[2018-08-10 06:04] CasVissers commented on #26217
@pedrobaeza
Well in Anglo-Saxon accounting we will debit/credit our stock account input & output accounts while performing the MO.

Similar to confirming an incoming shipment when we add stock to our stock account by first crediting the stock account input and afterwards debiting the stock account input when confirming the invoice. We need the values on input account to be the same. We actually us

[2018-08-10 06:05] Yenthe666 opened #26295 "[10.0, 11.0] Odoo studio: impossible to remove home background and set back to default"
Impacted versions: 10.0, 11.0

Steps to reproduce:
1. Open a runbot, go to the homescreen and open Odoo studio
2. Set a background image through the left top menu:
![image](https://user-images.githubusercontent.com/6352350/43941325-f6c8ff5a-9c73-11e8-89a6-268a456807cf.png)
3. Try to remove that image

Current behavior:
There is no option to remove a background image and to set the Odoo homescreen

[2018-08-10 06:06] pedrobaeza commented on #26295
Is this more a wishlist?

[2018-08-10 06:27] ploegvde commented on #18572
@smetl Shit, i did not get a ping, so missed your update. The testversion seems to be broken, can you fix or create new one, then i will test it right away.

[2018-08-10 07:13] bumblebeey commented on #26290
i am getting following error any one help ?

`ERROR odoo openerp.service.server: Worker (23100) Exception occured, exiting...
Traceback (most recent call last):
  File "/home/odoo/server/openerp/service/server.py", line 759, in run
    self.process_work()
  File "/home/odoo/server/openerp/service/server.py", line 834, in process_work
    start_rss, start_vms = memory_info(psutil.Process(os.getpid(

[2018-08-10 07:15] pawansharma123 commented on #25797
Hello Yenthe
i am getting same error while creating database. I'm installed odoo v11 on 10/Aug/2018 from you installation script -->  https://github.com/Yenthe666/InstallScript.git. I am using odoo different versions 9.0/10.0/11.0 on same machine.

[2018-08-10 07:46] clxadmin commented on #26291
The video is the example how it works on odoo 11 -- in odoo 10 the line 'Amount Due' is missing on invoice printout

[2018-08-10 07:51] pedrobaeza commented on #26291
OK, got it, but that's not a bug. It's simply that the amount due display in the invoice report is a new feature in v11.

Then you have to upgrade your DB to v11 for enjoying that feature, or customize your v10 invoice report for including that information.

Closing by the reasons above.

[2018-08-10 07:51] #26291 closed

[2018-08-10 08:57] CrazyGuo opened #26300 "app or python api upload files fail"
Impacted versions:   11.0

Steps to reproduce:   use python api to upload files

Current behavior:
![odoo_upload_error](https://user-images.githubusercontent.com/10334878/43948110-7a916ab4-9cbc-11e8-900f-84f6a1ba1f14.jpg)

TypeError: write() argument must be str, not bytes.

I checked the source code in odoo/http.py, line 1161 is  **with open(path, 'w') as fp:**
And I changed the parameter 'w' to

[2018-08-10 09:32] zuezuecodecamp commented on #25687
https://github.com/odoo/odoo/issues/2931
please check this link.I think it will useful for this issue.

[2018-08-10 09:44] pedrobaeza commented on #26300
Use Python API? Can you be more precise and put the code that provokes this problem. I guess the fault is in your code, but without it, we can't figure out.

[2018-08-10 11:18] gustavovalverde opened #26307 "[WISHLIST] studio: Add an option to track_visibility on fields"
The option to **track_visibility** is very useful, and commonly required on fields that doesn't have it by default:
- Product price
- Product Cost
- Contract's Salary
- etc..

It would be very helpful just to have an option on Studio to track a field. Which is only possible with a custom module.

[2018-08-10 11:33] gustavovalverde opened #26309 "[WISHLIST] web_studio: Ability to set options: no_create_edit, no_create, no_open..."
Just as we can modify the **domain** and the **context** with Odoo Studio, it would be nice to have the **options** too

Having the ability to easily set `no_create_edit` on a field, reduces users mistake a **bunch**.

[2018-08-10 11:35] gustavovalverde commented on #26307
I could propose a PR with those changes (good idea btw). But what I'm actually proposing here is missing Feature on Odoo Studio.

[2018-08-10 11:49] tivisse commented on #26135
Hi @tanghulu0608

This is a known behavior that we do not consider as a bug. By the way I'm gonna change this behavior in master.

Thanks for the feedback and have a nice day,

Yannick.

[2018-08-10 11:49] #26135 closed

[2018-08-10 11:52] pedrobaeza commented on #26307
Ah, sorry, I read bad. Any way, Odoo Studio is an enterprise only feature, and thus the wishlist should be handled by the mechanism they have for that (a ticket), not here.

[2018-08-10 11:53] pedrobaeza commented on #26309
The same answer that in #26307. Just report here Odoo community things, as this issue tracker is for this (as it's located in odoo/odoo, not in odoo/enterprise).

[2018-08-10 11:53] #26309 closed

[2018-08-10 11:57] gustavovalverde commented on #26169
As a heads-up, this same behavior is whats causing clients this unwanted behaviors:
https://github.com/odoo/odoo/issues/25977
https://github.com/odoo/odoo/issues/25604

@jco-odoo  @lap-odoo I feel there's a general confusion between **Product Cost** (actual) and **COGS** (after sale) which is causing a wrong behavior (mainly with FIFO) in manufacturing, pricelists and margin computations. From my

[2018-08-10 12:29] CasVissers commented on #25681
Fixed by 0ab71f124797912b3df39e748552741df430e4fc, closing issue.

[2018-08-10 12:29] #25681 closed

[2018-08-10 13:32] mart-e commented on #26289
Fixed at cd3230c1d35dde0cd02cfa49a7987f7a91775e35, thanks

[2018-08-10 13:32] #26289 closed

[2018-08-10 16:30] gustavovalverde opened #26321 "[All] product: standard_price should be 'Actual' Cost' not 'COGS'"
#### Impacted versions:
All

#### Current behavior:
The cost shown on the product is the financial Cost registered **after** the product was sold (**COGS**). Which is an information needed on a P&L, but it's confusing on the day-to-day use and it also causes computation issues on a Product Life-cycle inside a company before the product is sold, mainly on **FIFO** but it also has impact on **AVCO**

[2018-08-10 18:36] blaggacao commented on #9273
@rafi16jan this issue has, as a matter of fact, rotten. So there is little value in any investment to maintain it open. If I stumble over it again, I sure will open a new version of this issue.

[2018-08-11 03:07] mightyiam opened #26324 "No way to associate a transfer with a purchase order"
Impacted versions:
11.0

Steps to reproduce:
1. Create a purchase order.
1. Delete its automatically created transfer

Current behavior:
There is no way to create another associated transfer!

Expected behavior:
There should be a way to create a new transfer and have it associated with the purchase order.

[2018-08-11 03:08] mightyiam commented on #26324
Is there a workaround, please?

[2018-08-11 03:47] CrazyGuo commented on #26300
@pedrobaeza My source code in odoo server as follows:
**import json
from odoo import http
from odoo.http import request
import base64
import logging
_logger = logging.getLogger(__name__)

class AppUploadController(http.Controller):

    @http.route('/api/binary/upload_attachment', type='http', auth="user", csrf=False)
    def wechat_upload_attachement(self, model, id, **kw):
        files  = reque

[2018-08-11 04:35] sswapnesh commented on #26324
Hello @mightyiam
You should ask this on Odoo official forums ([https://www.odoo.com/forum/help-1](https://www.odoo.com/forum/help-1)) or mailing list ([https://odoo.com/groups](https://odoo.com/groups))

As a workaround You can Cancel it --> Reset to Draft --> Confirm again, So this will generate Transfer.

[2018-08-11 05:25] rooselvelt6 commented on #22985
./odoo-bin -d odoo resuelve el problema bien pero faltan detalles de eso

[2018-08-11 05:37] nhomar commented on #26321
Did you try setting the first cost when you just create the product itself? with that functional approach this is solved immediately in all your three cases.

But IMHO this is a real issue for now and is a little tricky and not obvious, the basic and most obvious behavior should be set the very first cost at the moment of a purchase and/or billing and/or reception (you should decide which document

[2018-08-11 06:12] mightyiam commented on #26324
@sswapnesh thank you for responding.

Regarding posting it here or in the forums, [I did post it in the forums and got no help](https://www.odoo.com/forum/help-1/question/can-t-associate-a-transfer-with-a-purchase-order-after-probably-deleting-the-automatically-created-one-137659). But regardless of that, this seems like a bug to me. Doesn't it? I can't associate a transfer with a purchase order m

[2018-08-11 09:24] shadab95 commented on #6326
Can anyone please help me with this issue

ParseError: "duplicate key value violates unique constraint "ir_filters_name_model_uid_unique_action_index"   DETAIL:  Key (lower(name::text), model_id, (COALESCE(user_id, (-1))), (COALESCE(action_id, (-1))))=(sales funnel, sale.report, -1, -1) already exists. " while parsing /opt/odoo10.0/addons/sale/report/sale_report_views.xml:28, near <record id="filt

[2018-08-12 00:06] nhomar commented on #26324
Hello.

@mightyiam the **workaround** should be not delete it but cancel it, and add an access rule to avoid delete it by mistake.

IMHO this is an expected behavior in odoo, Why?.

- The auto creation of pickings is not only for the purpose of the new picking document,
- costs are computed based on this relation.
- FIFO is automated also and set in quants.

Then this is not as simply as **Allow c

[2018-08-12 00:13] nhomar commented on #26321
I forget mention something:

BTW: **'Actual' Cost'** is useless, because such value is not the same per every single move, that's why all the FIFO logic exists by itself.

Regards.

[2018-08-12 00:14] #26324 closed

[2018-08-12 00:16] nhomar commented on #26257
can you enligth us why do you need such word there? the convenience and the usage, I am sorry but I do not get the point of allow a partial reserved word there.

Regards.

[2018-08-12 02:16] auyeung112002 commented on #26257
Not about convenience and usage. Currently no way to control this behavior.

When you want to order in descending order, null always come first. If you dont want null value come first, other way is to order in ascending order which contradict with requirement. Simple as that

[2018-08-12 06:16] rovermx commented on #19627
Same error here, all of the sudden after a server restart, Ubuntu 16.04 with Odoo v11 Enterprise, menu was gone and I panicked database was gone, but was there, anyhow, I tried the two methods explained before:
1- deleting  /web/content attachments items from the settings/database structure/attachment menu
2- issuing DELETE commands

They did work partially in my case, which I am very thankful for

[2018-08-12 07:40] treviser commented on #14371
According to my understanding Odoo's [instructions](https://www.odoo.com/documentation/user/9.0/point_of_sale/advanced/manual_discount.html) are not correct. The global discount product must have a tax rate set. And there is the problem. A sales order can contain multiple order lines with different tax rates. To be absolutely correct from a legal tax perspective, the discount tax amount should be

[2018-08-12 09:16] Perino01 opened #26329 "sales order edit expiration date not working"
Impacted versions: 11

Steps to reproduce: Create New Quotation without Expiration Date.

Current behavior: If you want to edit the Expiration Date later, it is not possible, because there is not input field available. You can only see the label 'Expiration Date'.

Expected behavior: Possible editing of the Expiration Date of an existing Quotation, which has no Expiration Date while creating.

Vid

[2018-08-12 13:52] gustavovalverde commented on #26321
Let's call this approach: **Manual Cost**

That's a workaround, but not a solution. In most of the examples above this would throw **far from real information:**
- Pricelist Computation **based on Cost** and Margins won't consider additional costs like landed costs
- In MRP a **just created** product will use _Manual Cost_ instead of the sum of the raw materials used in the production.
- **Raw mat

[2018-08-12 14:02] gustavovalverde commented on #26321
IMHO, this cost shouldn't be set manually on a day to day operation. There's already a bunch of processes going on: Purchase, Reception, Landed Cost, Billing. Each one of then needing a product cost to work correctly.

So why is all of this happening and yet the `standard_cost` stays empty? _Flawing_ all computations that depends product.template standard_cost.

[2018-08-12 14:36] pedrobaeza commented on #26329
I have tried on runbot and I'm able to change it without problems. See the GIF about it:

![peek 12-08-2018 16-33](https://user-images.githubusercontent.com/7165771/44003107-bbf55122-9e4d-11e8-8358-f124488b96c4.gif)

Closing as no real issue.

[2018-08-12 14:36] #26329 closed

[2018-08-12 14:38] pedrobaeza commented on #26300
The problem is in your code, that give to ORM the file in `bytes` encoding instead of `str`. Change it before calling to create.

[2018-08-12 14:38] #26300 closed

[2018-08-12 14:39] gustavovalverde commented on #25661
So what's going on here is this:

I have invoices which won't comply with Odoo's default constraint in my DB.

[code]

Because I have duplicates on **in_invoice** (and I should have it, based on our localization). The index can't be created because of this.

With that clear. I'm trying to add a more **flexible** constraint, which allows duplicates if the partner is not the same:

[code]

This won'

[2018-08-12 14:41] gustavovalverde commented on #25661
My only workaround so far:
- Manually drop Odoo's constraint from the Table
- Comment/Delete Odoo's constraint on the core
- Update my module with the new constraint

[2018-08-12 14:54] pedrobaeza commented on #25661
@gustavovalverde you will have to use your workaround, as this edge case can't be covered by standard Odoo, as you are not complying with the defined index, which is a requirement for the constraint.

Closing as no possible best solution.

[2018-08-12 14:54] #25661 closed

[2018-08-12 14:58] pedrobaeza commented on #26102
Indeed. It seems an override over method `name_get` or `_rec_name` attribute in `res.partner.bank` object.

Closing as no real issue.

[2018-08-12 14:58] #26102 closed

[2018-08-12 15:06] pedrobaeza commented on #26162
Closing as there an associated PR where it's being discussed.

[2018-08-12 15:06] #26162 closed

[2018-08-12 15:07] gustavovalverde commented on #25661
So the only way to override an Odoo's constraints (with a module) is to first comply with it?

[2018-08-12 15:08] pedrobaeza commented on #25661
Not exactly, but in this case you have an index over that constraint.

[2018-08-12 15:10] pedrobaeza commented on #11420
Do you have possible code fixing this?

[2018-08-12 15:12] gustavovalverde commented on #25661
This worked on v10, what wouldn't this keep working on v11?

If I'd like to override a constraint, it should first evaluate my constraint before the one in Odoo's core. It don't have to comply with the core constraint (or it index) to accomplish that.

[2018-08-12 15:31] pedrobaeza commented on #25661
Maybe on v10 there wasn't that index, but use the workaround and everything is OK.

[2018-08-12 15:35] nhomar commented on #25661
Create an unit script on your localization module that prestare the data
then in every update it is fixed.

BUT I can’t find a functional reason which can brake this rule starting
from there you are forcing your design so far.

BTW if you share here what are you doing (the module itself) it is easiest
to help with the information given till now, this most be closed.

On Sun, Aug 12, 2018 at 10:31

[2018-08-12 15:42] gustavovalverde commented on #25661
Deleting/commenting code from Odoo's core **shouldn't be** a workaround. I've done this just for the sake of finding the root cause.

The issue still exists, and doing that workaround (which needs SQL intervention) and code removal is not is not manageable for most partners with 100+ or to whom that have their infrastructure on Odoo.sh

[2018-08-12 15:43] pedrobaeza commented on #25661
But this is your specific problem, not the 100+ partners. You are trying to abuse the system on that way, and thus you have to deal with that problem.

[2018-08-12 15:53] gustavovalverde commented on #25661
@nhomar We might be overseeing something here: https://github.com/odoo-dominicana/l10n-dominicana/blob/11.0/ncf_manager/models/account_invoice.py#L140

@pedrobaeza This is from a localization used for the whole country, I'm not the only one using it.

In Dominican Republic our invoice number is used as Odoo's invoice number. And that's our move_name too. This number repeats between suppliers, so t

[2018-08-12 23:38] fnaquira commented on #22540
I just clone a project of Odoo 11 a week ago and start using the XMLRPC for my App, but when it comes down to report printing I got this error:

`Traceback (most recent call last):\n  File \"/usr/lib/python3/dist-packages/odoo/service/wsgi_server.py\", line 124, in wsgi_xmlrpc\n    result = odoo.http.dispatch_rpc(service, method, params)\n  File \"/usr/lib/python3/dist-packages/odoo/http.py\", lin

[2018-08-13 01:13] CrazyGuo commented on #26300
@pedrobaeza   Actually, In my client source code, I transfer the files **by bytes** to odoo server, but it reports TypeError: write() argument must be str, not bytes. And I also tested the same code to asp.net mvc server, it  can receive the bytes files.  You mean I need to change the files into str in the client?

[2018-08-13 07:22] muapk1 opened #26340 "odoo product margin report, not showing purchase cost of manufacturing products in order to calculate correct expected margin."
Impacted versions:
v11 enterprise
Steps to reproduce:
accounting > reporting > product margin             (require settings configuration of product margin)
Current behavior:
not showing total cost value
![margin1](https://user-images.githubusercontent.com/31097388/44023843-432cf446-9ef4-11e8-91e1-0d97acb8bf7e.GIF)

![margin2](https://user-images.githubusercontent.com/31097388/44023865-56d187dc-9e

[2018-08-13 07:36] pedrobaeza commented on #26340
I think you have to add the proper measure. Have you tried?

[2018-08-13 07:53] muapk1 commented on #26340
proper measures?

[2018-08-13 08:13] pedrobaeza commented on #26300
Yeah, that's it.

[2018-08-13 08:27] shyrock commented on #3793
I have the same issue 'bus.bus unavailable'. But even after install psycogreen 1.0, longpolling port 8072 is still not opened.
I checked odoo 10.0 source code and found only one line will use longpolling_port, which is in the __init__() of GeventServer, and only when the odoo is configured to use gevent server, the GeventServer will be constructed instead of PreforkServer.

Judge from the code, th

[2018-08-13 09:10] CasVissers commented on #19627
@rovermx You should run a base update to restore the images (go to Apps, search Base and click update). Seems like you have restored the database without restoring the filestore. If you have excisting attachments to objects like sale orders they won't be available untill you also restore the filestore.

Btw, this module did the trick for me in EE11:
https://www.odoo.com/apps/modules/10.0/web_fix_b

[2018-08-13 09:27] Yenthe666 commented on #26295
@pedrobaeza not really. We've had two customers now that set a background and they want back the default theme background but there is no way to do so (functionally).
You really can't sell a customer that it is impossible to do for the customer himself & that you have to charge money 😕

[2018-08-13 09:29] pedrobaeza commented on #26295
OK, as it's in the edge, I remove the label. But remember that this being an enterprise option, it should be reported by OPW ticket, not here.

[2018-08-13 09:36] Yenthe666 commented on #26295
@pedrobaeza I also have an OPW open right now. Very bad feedback/communication about this so that is why I keep it open.
When there is a final decision/call I close/update this one 👍

[2018-08-13 10:15] zhangshunrao commented on #13808
_web.assets_frontend.js:3 Uncaught TypeError: odoo.define is not a function
    at web.assets_frontend.js:3
web.assets_backend.js:18 Uncaught ReferenceError: jQuery is not defined
    at web.assets_backend.js:18
    at web.assets_backend.js:3
    at web.assets_backend.js:18
(anonymous) @ web.assets_backend.js:18
(anonymous) @ web.assets_backend.js:3
(anonymous) @ web.assets_backend.js:18
web:49 Un

[2018-08-13 12:03] qdp-odoo commented on #25938
I agree on the principle of removing the '/' but I'd target master only to avoid confusing people that adopted/accepted this behavior on their instance.

BTW, this is something we already started as the name field of account.move.line object isn't required anymore.

@smetl can you do that please?

[2018-08-13 12:07] gustavovalverde commented on #26295
I actually liked the idea of having enterprise issues with a Github counterpart (not just the OPW), as this is a great tool for others to be aware of some issues and know how to tackle then before making the mistake.

For example, now I know i should be careful with this until fixed.

[2018-08-13 12:12] pedrobaeza commented on #26295
Then issue tracker should be activated on odoo/enterprise repo, not here. As you know, I'm helping community part of Odoo, not enterprise one, and so, I don't want to manage enterprise things, and also I don't want to raise the number of issues here (for those that uses this metric :wink: ), being about code not belonging to it.

[2018-08-13 12:29] pedrobaeza commented on #26295
It's not one ERP system. There's the community part, where I'm willing to lend my time helping there, as they offer a wonderful open source system and this is my way of getting back their gift, and the enterprise part, where they receive money for doing that task and they don't even consider any of these things in their partner grade policy (as stated directly to us by Fabien), so I won't be parti

[2018-08-13 12:35] Yenthe666 commented on #26295
Okay - thanks for the feedback I was curious. I guess I like to improve both sides as in the end we all benefit from it. One more than another but ok 😉

[2018-08-13 13:55] jlzhou commented on #26300
@pedrobaeza Maybe you didn't understand what CrazyGuo means.
He said this issue is caused by python upgrading from 2.x to 3.x.
In python 2, even we write open(path, 'w'), we still can upload both binary and text file, but in python 3, we must write open(path, 'wb+') for binary file operation.

[2018-08-13 14:03] fpodoo commented on #26295
@Yenthe666 it has been done in master some time ago: https://www.awesomescreenshot.com/image/3547972/8eee5dfe14d8ad672e0ea1699bfb90b5

Even if people would really like to have it, it's still a new feature, and not a bugfix. So, I don't think we should do that on a stable version.

[2018-08-13 14:04] ahetland opened #26351 "Change type of debit and credit from float to Numeric(12, 2)"
Impacted versions: v9, v10, v11

Steps to reproduce: database field definition on debit and credit is currently float

Current behavior: float is not a good comparative value, Numeric is a good alternative offered by Postgres e.g. Numeric(9,2) or higher precision if needed.

Expected behavior: when comparing the sum of debit - credit for AML over an AM it should be expected to have 0 (zero) in all

[2018-08-13 14:04] jlzhou commented on #26300
@pedrobaeza what CrazyGuo mean is if we change code as open(path, 'wb') instead of open(path, 'w'), we can upload binary file from client directly without converting them in base64 format first.

[2018-08-13 14:06] pedrobaeza commented on #26300
Well, I'm not understanding then the problem. If you think you have the solution, you can try to propose a PR and I'l be glad to review it.

[2018-08-13 14:07] Yenthe666 commented on #26295
@fpodoo okay I'm more than happy enough it'll be in V12 then. Thanks for the clarification, that means we can close this off.
For now we'll have to manage without the option (because of new feature).

[2018-08-13 14:07] #26295 closed

[2018-08-13 14:11] Yenthe666 commented on #26351
@qdp-odoo I'm sure you have an opinion on this one!

[2018-08-13 15:08] mroljic-modoolar opened #26354 "System doesn't increase quantities of components after unbuild process."
Impacted versions: master

Steps to reproduce:

1. During unbuild process, system decreases number of the manufacturer project but doesn't increase numbers of components.

Current behavior: Quantities of components remain equal.

Expected behavior: Quantities of components have to be increased.

Video/Screenshot link (optional):

[2018-08-13 15:09] pedrobaeza commented on #26354
Have you tried on latest runbot (https://runbot.odoo.com - admin/admin)? I video would help also a lot.

[2018-08-13 16:09] sswapnesh commented on #22540
@fnaquira  The feature is removed from V11.
Commit: c23ef9a9b6e2c7a43b3f98bdbd85e6c7b2b0ba74

[2018-08-13 21:12] zaoral opened #26366 "Problem with default focus in HTML fields at form views (no matter if default_focus is set to another field)"
**Impacted versions:**

11.0

**Steps to reproduce:**

Go to any task form view.

**Current behavior:**

It focus the cursor in the description field (html widget).

**Expected behavior:**

It focus the cursor in the name field.
I have added a default_focus in the view for the name field so this way it focus name field.. but it does not work. Always focus html field no matter what.

NOTE: Only if

[2018-08-13 21:13] zaoral commented on #24756
This also apply to v11.0
For more info go to https://github.com/odoo/odoo/issues/26366

[2018-08-13 21:15] zaoral commented on #26366
FYI opw-1874880

[2018-08-14 02:39] mightyiam commented on #26324
To try to fix the problem in my database, I got a shell running with `odoo shell -d dbname`.

Then, I did something like this:
[code]
And so I had hopes that this would do it, yet, I'm not seeing this new transfer in the UI at all. I'm sure to be missing something critical, such as a method that actually performs the write to the database or maybe I'm not working on the correct database? There's o

[2018-08-14 03:54] hydrosIII commented on #26139
Hi, has anyone been able to replicate this in odoo community?  because the error is general account_module.

[2018-08-14 05:54] len-odoo commented on #22357
Thank you for your report. The fix should be forward-ported to v11 and above, so the issue should be solved soon.

[2018-08-14 06:53] dhannyz commented on #10003
@intero-chz
If you had to, you could try something in the create method paired with your context for setting the initial default
Likely to be bad on performance however

[code]
Then there's the issue of accounting for sequences that are changed from their default prior to creation, perhaps check if their val.get['sequence'] is different to the computed default

[2018-08-14 07:07] Yenthe666 commented on #26366
Duplicate of https://github.com/odoo/odoo/issues/24756 pretty much but I'll leave it open for now as it has an OPW. Please let us know the final answer from the OPW.

[2018-08-14 07:19] intero-chz commented on #10003
@dhannyz but there is one problem with that approach. It's only working when clicking the save button. That's not the a user would work with an order. Thanks for the approach anyway!

[2018-08-14 07:29] intero-chz commented on #26366
By the way is `default_focus` really working? I had so much trouble with it in the beginning of my Odoo "era" that i've never touched it again.

[2018-08-14 07:48] pedrobaeza commented on #15437
@JKE-be can you update the status of this after the big merge of yesterday?

[2018-08-14 07:48] pedrobaeza commented on #14942
@JKE-be what is the status of this?

[2018-08-14 08:02] nhomar opened #26370 "master - Impossible to create a base_automation record."
Impacted versions:

**master**

Steps to reproduce:

1. Try to create an automated action.
2. Click save

Current behavior:

Warning: Required responsible is not set.
**Impossible to save**

Expected behavior:

Save and explanation about **Why do I need a responsible for?**

Video/Screenshot link (optional):

[2018-08-14 08:36] ahetland opened #26371 "allow for use of specific schema in postgres"
Impacted versions: v11

Steps to reproduce:

begin;
create schema  if not exists odoo;
alter database <tst_database_name> set search_path to odoo;
grant all on schema odoo to odoo;
grant all on all tables in schema odoo to odoo;
grant all on all sequences in schema odoo to odoo;
grant all on all functions in schema odoo to odoo;
commit;

Current behavior: does not work in v11

Expected behavior: d

[2018-08-14 08:37] nhomar commented on #26371
Can you enlgiht us which is the point of use schemas? and which is the behavior that you got? simply "It does not work but it worked" is not enough to help.

[2018-08-14 09:08] cierek opened #26373 "Official Odoo forum error when posting"
I tried to post on the https://www.odoo.com/forum/help-1
Steps to reproduce:
Post any question on Odoo
Current behavior:
500: Internal Server Error, popup with "share" after returning to previous page.

[2018-08-14 10:01] HaraldPanten opened #26374 "[10.0][Community] account asset active true/false"
Impacted versions:

at least V 10.0. I don't know if it happens in 9.0 and 11.0 as well.

Steps to reproduce:

1- Accounting --> Adviser --> Assets

2- Create an asset as an example (name = EXAMPLE). And make a relation with an invoice. (field invoice_id), we can imagine INV/001.

3- Go to INV/001 and cancel it.

4- If you go back to Accounting --> Adviser --> Assets you can create a filter in the

[2018-08-14 10:10] ahetland commented on #26371
schemas are an excellent way for segregating a database into different distinct "black-boxes" and can have several use cases, for security to separate company internal tables from external tables, for development (its easier to create and destroy schemas), to use odoo with other system but in same database there are many more I am sure ... when creating the database in v10 (I would create an empty

[2018-08-14 10:10] ahetland commented on #26371
2018-08-14 10:08:44,756 14560 INFO ? odoo.modules.loading: init db
2018-08-14 10:08:47,653 14560 INFO test_02 odoo.modules.loading: loading 1 modules...
2018-08-14 10:08:47,737 14560 INFO test_02 odoo.addons.base.ir.ir_actions_report: Will use the Wkhtmltopdf binary at /usr/local/bin/wkhtmltopdf
2018-08-14 10:08:47,930 14560 INFO test_02 odoo.modules.registry: module base: creating or updating dat

[2018-08-14 10:14] pedrobaeza commented on #26374
Current behavior is correct:

* You create an invoice with an asset category.
* When confirming the invoice, the asset is created.
* If you cancel the invoice, the asset is set as active = False.
* If you move to draft and reconfirm the invoice, then a new asset is created (because you might change amount, quantity, etc).

And thus, there's no bug in Odoo core.

Closing by the reasons above.

[2018-08-14 10:14] #26374 closed

[2018-08-14 10:54] HaraldPanten commented on #26374
OK @pedrobaeza ,

Thanks for your immediately reply :+1:

[2018-08-14 12:58] sle-odoo commented on #26257
note that while it is inconvenient it is possible to handle these usecases, it is done on the [quants](https://github.com/odoo/odoo/blob/11.0/addons/stock/models/stock_quant.py#L131)

[2018-08-14 13:13] lap-odoo commented on #26324
@mightyiam I definitely agree with @nhomar , it's not as simple as allowing to create a new picking and link it to the PO.  That's definitely not a bug but a feedback (especially since there is an acceptable workaround as explained by Nhomar).  Thanks

[2018-08-14 13:27] stechnique commented on #21835
__last_update doesn't work for me either when filtering, but write_date did. Odoo 11 Enterprise.

[2018-08-14 13:30] pedrobaeza commented on #21835
Indeed, `__last_update` is a deprecated field that is not used anymore, so it's not valid for performing searches.

Closing as no real issue.

[2018-08-14 13:30] #21835 closed

[2018-08-14 14:15] yung-wang opened #26382 "[ <-- 12.0] Tax code BTW verlegd generate wrong amount in 5a/b"
Impacted versions:
12.0 and previous

Steps to reproduce:
1. Create company with the Netherlands - Accounting = l10n_nl
2. Create a vendor bill in this company with 100,- unit price with tax code "BTW af te dragen verlegd (inkopen)". Validate
3. Go to Reporting > Netherlands > Aangifte omzetbelasting

You will see
2a omzet = 100,-     [OK, should be displayed as positive]
2a BTW = 21,-     [OK, sh

[2018-08-14 14:42] UnixedIT commented on #22130
Same Problem, do you find the solution ?

[2018-08-14 14:47] pedrobaeza commented on #22130
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

Specifically, with the worker that runs cron (scheduled) tasks. See `max_cron_threads` variable.

I'm closi

[2018-08-14 14:47] #22130 closed

[2018-08-14 15:05] cyberpollutionbd opened #26383 "Internal Server Error Odoo 10 for Ubuntu 16"
Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

I am using ubuntu 16 and trying to setup odoo 10 into Ubuntu but fails after try. please check attached
![screenshot from 2018-08-14 21-04-17](https://user-images.githubusercontent.com/37775397/44099988-bfa784b6-a005-11e8

[2018-08-14 15:09] pedrobaeza commented on #26383
The port is in use by other Odoo instance or other service in your computer.

Closing as this is not a real Odoo bug.

[2018-08-14 15:09] #26383 closed

[2018-08-14 15:19] zizou4426 commented on #25001
Check if your browser is not blocking popups windows.
Allowing pop ups windows solved the problem for me.

[2018-08-14 23:20] OGGonzalezM opened #26388 "the fields 'type' used in the attributes must be in the view but missing, El campo 'type' utilizado en los atributos debe estar presente en la vista pero falta"
Impacted versions:
11.0 enterprise

Steps to reproduce:
* I've pulled  the updated modules from open and enterprise repositories.
1. I've just update the modules MRP and account_invoicing and this is show

Current behavior:
The modules can't be updated

Expected behavior:
all the modules must be updated correctly

Video/Screenshot link (optional):

This is not the first time that this error is rea

[2018-08-15 05:12] ulisesgamboa opened #26389 "Server Error - Mexican Localization Reports after security update"
Impacted versions:
11 +e Mexican Localization
Steps to reproduce:
1. Update Odoo 11 Enterprise after security report following     https://www.odoo.com/r/update-howto
2. Restart Odoo Service
3. Run Mexican Localization Reports
Current behavior:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 650, in _handle_exception
    return super(JsonR

[2018-08-15 05:58] Yenthe666 commented on #26382
@smetl and @lap-odoo can one of you have a look please?
@jvOrsouw for your interest, Dutch accounting issue for upcoming V12.

[2018-08-15 06:50] nhomar commented on #26389
Do you have an enterprise code for this issue? just to make the follow up....

on our side I am reviewing.

Regard.s

[2018-08-15 06:52] nhomar commented on #26389
SOrry, I meant "Issue ID posted in odoo.com related with your licence"

[2018-08-15 06:54] nhomar commented on #26388
Which is the method you used to install?
Which are the **sha** fo both of your repositories?.
Do you have any customization that touch such fields?.

In our side we compile and make a -u all to almost 20 instances and this is not happening to us, but may be I am missing something.